﻿@model Submissions.Web.Areas.Protrack.Models.Product.ProductEditViewModel
@{
	ViewBag.Title = "Product Setup";
	ViewBag.FullWidth = true;
	ViewBag.NoContainer = true;
	ViewBag.NoFooter = true;
}

<div id="app"></div>


@section scripts {
	<script>
		let initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}