﻿@model Submissions.Web.Areas.Protrack.Models.Product.ProductIndexViewModel
@{
	ViewBag.Title = "Search Products";
	ViewBag.FullWidth = true;
	ViewBag.NoContainer = true;
	ViewBag.NoFooter = true;
}

<div id="app"></div>


@section scripts {
	<script>

	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}