﻿<template>
	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr class="completed-head">
				<th>Letter Number</th>
				<th>Manufacturer</th>
				<th>Imported On</th>
				<th>File Number</th>
				<th>Appended</th>
				<th><!--Action Links--></th>
			</tr>
		</thead>
		<tbody v-for="(submission, index) in completedNewSubmissions">
			<tr>
				<td>{{submission.letterNumber}}</td>
				<td>{{submission.manufacturerShortCode}}</td>
				<td>{{submission.insertDate | formatDate}}</td>
				<td>{{submission.fileNumber}}</td>
				<td>{{submission.appendToExistingSubmission}}</td>
				<td align="right">
					<button type="button"
							class="btn btn-primary"
							data-toggle="collapse"
							@click.prevent="click_setChildrenVisibilityFlag(index)"
							v-bind:data-target="'#completedJurisdictionDrawer_' + index">
						<i class="fa"
						   v-bind:class="{ 'fa-folder-open': !submission.childrenVisible, 'fa-folder': submission.childrenVisible }">
						</i> Details
					</button>
				</td>
			</tr>
			<tr v-bind:id="'completedJurisdictionDrawer_' + index" class="collapse">
				<td></td>
				<td colspan="6" class="jurisdiction-drawer">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr class="jurisdiction-head">
								<th>Material</th>
								<th>Jurisdiction</th>
								<th>Jurisdiction ID</th>
								<th>Billing Reference</th>
							</tr>
						</thead>
						<tbody v-for="(jurisdiction, childIndex) in submission.children">
							<tr>
								<td>{{jurisdiction.material}}</td>
								<td>{{jurisdiction.jurisdiction}}</td>
								<td>{{jurisdiction.jurisdictionId}}</td>
								<td>{{jurisdiction.billingReference}}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css'

	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')

	export default {
		components: {
			VueGoodTable
		},
		props: {

		},
		data() {
			return {
				paginationOptions: {
					enabled: true,
					mode: 'pages'
				}
			}
		},
		created: function () {

		},
		methods: {
			...mapActions([
				'setNewSubmissionChildrenVisibilityFlag'
			]),
			click_RouteToSubmission(fileNumber) {
				location.href = jsPath + 'submission/submission/detail?fileNumber=' + fileNumber;
			},
			click_setChildrenVisibilityFlag: function (index) {
				let options = {
					index: index, type: 'completed'
				};
				this.setNewSubmissionChildrenVisibilityFlag(options);
			}
		},
		computed: {
			...mapGetters([
				'completedNewSubmissions'
			])
		},
		watch: {

		}
	}
</script>

<style scoped>
	.completed-head {
		color: white;
		background-color: #428bca;
	}
	.jurisdiction-head {
		color: white;
		background-color: #5cb85c;
	}
	.jurisdiction-drawer {
		background-color: #e0e0e0;
	}
</style>
