﻿<template>
	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr class="wdrj-head">
				<th>Letter Number</th>
				<th>Imported By</th>
				<th>Imported On</th>
				<th>Jurisdiction Count</th>
				<th><!--Action Links--></th>
			</tr>
		</thead>
		<tbody v-for="(wdrjPackage, index) in completedWithdrawAndRejectRequests">
			<tr>
				<td>{{wdrjPackage.letterNumber}}</td>
				<td>{{wdrjPackage.userName}}</td>
				<td>{{wdrjPackage.insertDate | formatDate}}</td>
				<td>{{wdrjPackage.children.length}}</td>
				<td align="right" class="btn-td">
					<button type="button"
							class="btn btn-primary btn-circle"
							data-toggle="collapse"
							@click.prevent="click_setChildrenVisibilityFlag(index)"
							v-bind:data-target="'#completedJurisdictionDrawer_' + index">
						<i class="fa"
						   v-bind:class="{ 'fa-caret-down': !wdrjPackage.childrenVisible, 'fa-caret-up': wdrjPackage.childrenVisible }">
						</i>
					</button>
				</td>
			</tr>
			<tr v-bind:id="'completedJurisdictionDrawer_' + index" class="collapse">
				<td></td>
				<td colspan="5" class="jurisdiction-drawer">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr class="jurisdiction-head">
								<th>Material</th>
								<th>File Number</th>
								<th>Jurisdiction</th>
								<th>Jurisdiction ID</th>
							</tr>
						</thead>
						<tbody v-for="(jurisdiction, childIndex) in wdrjPackage.children">
							<tr>
								<td>{{jurisdiction.material}}</td>
								<td>{{jurisdiction.fileNumber}}</td>
								<td>{{jurisdiction.jurisdictionDescription}}</td>
								<td>{{jurisdiction.jurisdiction}}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')

	export default {
		components: {
		},
		props: {
		},
		data() {
			return {
			}
		},
		filters: {
		},
		created: function () {
		},
		methods: {
			...mapActions([
				'setWDRJPackageChildrenVisibilityFlag',
			]),
			click_setChildrenVisibilityFlag: function (index) {
				let options = {
					index: index, type: 'completed'
				};
				this.setWDRJPackageChildrenVisibilityFlag(options);
			},
		},
		computed: {
			...mapGetters(['completedWithdrawAndRejectRequests']),
		},
		watch: {

		}
	}
</script>

<style scoped>
	.wdrj-head {
		color: white;
		background-color: #428bca;
	}

	.jurisdiction-head {
		color: white;
		background-color: #5cb85c;
	}

	.jurisdiction-drawer {
		background-color: #e0e0e0;
	}

	.btn-circle {
		width: 30px;
		height: 30px;
		text-align: center;
		padding: 6px 0;
		font-size: 12px;
		line-height: 1.428571429;
		border-radius: 15px;
	}

	.btn-td {
		padding-right: 10px;
	}
</style>
