﻿<template>
	<div>
		<div ref="Snackbar" id="snackbar"></div>
		<vue-good-table theme="nocturnal"
						:columns="electronicSubmissionComponentColumns"
						:search-options="{ enabled: true}"
						:selectOptions="{
											enabled: true,
											selectOnCheckboxOnly: true,
											selectionText: 'rows selected',
											clearSelectionText: 'Clear selections'
										 }"
						@on-selected-rows-change="selectionChanged($event)"
						:rows="children"
						ref="componentTable">
			<div slot="table-actions" style="padding-right:10px">
				<div v-if="projectLink == null" class="row">
					<div class="col-sm-4">
						<DatePicker @input="submitDate" placeholder="Submit Date"/>
					</div>
					<div class="col-sm-4">
						<DatePicker @input="receivedDate" placeholder="Receive Date"/>
					</div>
					<div class="col-sm-4">
						<button v-if="projectLink == null" type="button" class="btn btn-primary" style="background-color:#1e80d4" hidden @click="click_CreateNewSubmission(index)">Create New Submission</button>
					</div>
				</div>
				<div else v-html="projectLink" style="padding-top:10px; padding-left: 10px; padding-right: 10px;"></div>
			</div>
			<div v-bind:class="{ hidden: !selectedRows.length > 0 }" slot="table-actions-bottom">
				<vue-good-table theme="nocturnal"
								:columns="bulkUpdateCols"
								:rows="bulkUpdateRow">
					<template slot="table-row" slot-scope="props">
						<div v-if="props.column.field == 'function'">
							<Lookup :lookuptextfield="bulkUpdateRow[0].function"
									@updateLookupTextField="updateBulkFunction($event, index)"
									@input="updateBulkFunctionId($event, index)"
									lookupajax="Functions"
									v-model="bulkUpdateRow[0].functionId"
									class="form-control" />
						</div>
						<div v-else-if="props.column.field == 'company'">
							<Lookup :lookuptextfield="bulkUpdateRow[0].company"
									@updateLookupTextField="updateBulkCompany($event, index)"
									@input="updateBulkCompanyId($event, index)"
									lookupajax="Companies"
									v-model="bulkUpdateRow[0].companyId"
									class="form-control" />
						</div>
						<div v-else-if="props.column.field == 'currency'">
							<Lookup :lookuptextfield="bulkUpdateRow[0].currency"
									@updateLookupTextField="updateBulkCurrency($event, index)"
									@input="updateBulkCurrencyId($event, index)"
									lookupajax="Currencies"
									v-model="bulkUpdateRow[0].currencyId"
									class="form-control" />
						</div>
						<div v-else-if="props.column.field == 'contractType'">
							<Lookup :lookuptextfield="bulkUpdateRow[0].contract"
									@updateLookupTextField="updateBulkContract($event, index)"
									@input="updateBulkContractId($event, index)"
									lookupajax="ContractTypes"
									v-model="bulkUpdateRow[0].contractId"
									class="form-control" />
						</div>
						<div v-else-if="props.column.field == 'testLab'">
							<Lookup :lookuptextfield="bulkUpdateRow[0].testLab"
									@updateLookupTextField="updateBulkTestLab($event, index)"
									@input="updateBulkTestLabId($event, index)"
									lookupajax="Laboratories"
									v-model="bulkUpdateRow[0].testLabId"
									class="form-control" />
						</div>
						<div v-else-if="props.column.field == 'certificationLab'">
							<Lookup :lookuptextfield="bulkUpdateRow[0].certLab"
									@updateLookupTextField="updateBulkCertLab($event, index)"
									@input="updateBulkCertLabId($event, index)"
									lookupajax="Laboratories"
									v-model="bulkUpdateRow[0].certLabId"
									class="form-control" />
						</div>
						<div v-else-if="props.column.field == 'edit' && projectLink == null">
							<button type="button" class="btn btn-primary" style="background-color:#1e80d4" hidden @click="click_BulkUpdate">Bulk Update</button>
						</div>
						<div v-else>
							{{props.formattedRow[props.column.field]}}
						</div>
					</template>
				</vue-good-table>
			</div>
			<template slot="table-row" slot-scope="props">
				<div v-if="props.column.field == 'edit' && projectLink == null">
					<div style="text-align:center">
						<button title="Edit selected request." type="button" class="btn btn-warning btn-circle" @click="click_EditReviewRequest(index, props.index)"><i class="fas fa-edit"></i></button>
						<button title="Delete selected request." type="button" class="btn btn-danger btn-circle" @click="click_deleteReviewRequest(index, props.index, props.row)"><i class="fas fa-times"></i></button>
						<button title="Update selected request." type="button" class="btn btn-success btn-circle" @click="click_updateReviewRequest(index, props.index, props.row)"><i class="fas fa-save"></i></button>
					</div>
				</div>
				<div v-if="props.column.field == 'edit' && projectLink != null">
					<div></div>
				</div>
				<div v-if="props.row.mode != null">
					<div v-if="props.column.field == 'function'">
						<Lookup :lookuptextfield="props.row.function"
								@updateLookupTextField="updateFunction($event, index, props.index)"
								@input="updateFunctionId($event, index, props.index)"
								lookupajax="Functions"
								v-model="props.row.functionId"
								data-allow-clear="false"
								class="form-control" />
					</div>
					<div v-else-if="props.column.field == 'company'">
						<Lookup :lookuptextfield="props.row.company"
								@updateLookupTextField="updateCompany($event, index, props.index)"
								@input="updateCompanyId($event, index, props.index)"
								lookupajax="Companies"
								v-model="props.row.companyId"
								data-allow-clear="false"
								class="form-control" />
					</div>
					<div v-else-if="props.column.field == 'currency'">
						<Lookup :lookuptextfield="props.row.currency"
								@updateLookupTextField="updateCurrency($event, index, props.index)"
								@input="updateCurrencyId($event, index, props.index)"
								lookupajax="Currencies"
								v-model="props.row.currencyId"
								data-allow-clear="false"
								class="form-control" />
					</div>
					<div v-else-if="props.column.field == 'contractType'">
						<Lookup :lookuptextfield="props.row.contractType"
								@updateLookupTextField="updateContractType($event, index, props.index)"
								@input="updateContractTypeId($event, index, props.index)"
								lookupajax="ContractTypes"
								v-model="props.row.contractTypeId"
								data-allow-clear="false"
								class="form-control" />
					</div>
					<div v-else-if="props.column.field == 'testLab'">
						<Lookup :lookuptextfield="props.row.testLab"
								@updateLookupTextField="updateTestLab($event, index, props.index)"
								@input="updateTestLabId($event, index, props.index)"
								lookupajax="Laboratories"
								v-model="props.row.testLabId"
								data-allow-clear="false"
								class="form-control" />
					</div>
					<div v-else-if="props.column.field == 'certificationLab'">
						<Lookup :lookuptextfield="props.row.certificationLab"
								@updateLookupTextField="updateCertificationLab($event, index, props.index)"
								@input="updateCertificationLabId($event, index, props.index)"
								lookupajax="Laboratories"
								v-model="props.row.certificationLabId"
								data-allow-clear="false"
								class="form-control" />
					</div>
					<div v-else>
						{{props.formattedRow[props.column.field]}}
					</div>
				</div>
				<div v-else>
					{{props.formattedRow[props.column.field]}}
				</div>
			</template>
		</vue-good-table>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import api from '../../../api/submissionimport';
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css';
	import Lookup from '@/components/utility/Lookup.vue';
	import { MODE } from '@/common'
	import DatePicker from '@/components/utility/DatePicker.vue';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport');

	export default {
		created: function () {
			const self = this;
			this.children.forEach(function (el, index, arr) {
				if (el.fileNumber != null && el.fileNumber != "") {
					self.projectLink = "<div style='Color:white;'>" + el.fileNumber + "</div>";
				}
			});
		},
		components: {
			VueGoodTable,
			Lookup,
			DatePicker
		},
		props: {
			children: Array,
			index: Number
		},
		data() {
			return {
				electronicSubmissionComponentColumns: [
					{
						label: 'Part Number',
						field: 'idNumber',
					},
					{
						label: 'Part Name',
						field: 'gameName',
					},
					{
						label: 'Jurisdiction',
						field: 'jurisdictionDescription',
					},
					{
						label: 'Jurisdiction ID',
						field: 'jurisdiction',
					},
					{
						label: 'Function',
						field: 'function',
					},
					{
						label: 'Company',
						field: 'company',
					},
					{
						label: 'Currency',
						field: 'currency',
					},
					{
						label: 'Contract',
						field: 'contractType',
					},
					{
						label: 'Test Lab',
						field: 'testLab',
					},
					{
						label: 'Cert Lab',
						field: 'certificationLab',
					},
					{
						label: '',
						field: 'edit'
					}
				],
				projectLink: null,
				bulkUpdateRow: [
					{
						company: "",
						function: "",
						currency: "",
						contract: "",
						testLab: "",
						certLab: "",
						certLabId: null,
						testLabId: null,
						contractId: null,
						currencyId: null,
						companyId: null,
						functionId: null
					}
				],
				bulkUpdateCols: [
					{
						label: 'Function',
						field: 'function',
						width: '200px'
					},
					{
						label: 'Company',
						field: 'company',
						width: '200px'
					},
					{
						label: 'Currency',
						field: 'currency',
						width: '200px'
					},
					{
						label: 'Contract',
						field: 'contractType',
						width: '200px'
					},
					{
						label: 'Test Lab',
						field: 'testLab',
						width: '200px'
					},
					{
						label: 'Cert Lab',
						field: 'certificationLab',
						width: '200px'
					},
					{
						label: '',
						field: 'edit',
						width: '100px'
					}],
				selectedRows: []
			}
		},
		methods: {
			...mapActions([
				'createNewSubmission',
				'fetchRequestsRequiringReviewCount',
				'fetchSGICompletedCount'
			]),
			click_EditReviewRequest: function (parentIndex, childIndex) {
				this.$refs.componentTable.unselectAllInternal();
				var child = this.requestsRequiringReview[parentIndex].children[childIndex];
				if (child.mode == null) {
					child.mode = MODE.EDIT.code;
				} else {
					child.mode = null;
				}
			},
			click_deleteReviewRequest: function (parentIndex, childIndex, row) {
				this.$refs.componentTable.unselectAllInternal();
				const currentContext = this;
				if (this.requestsRequiringReview[parentIndex].children.length > 1) {
					bootbox.confirm('Are you sure you want to Delete this record?', function (result) {
						if (result) {
							Loading();
							api.deleteComponent(row.id)
								.then(response => {
									if (response.data > 0) {
										currentContext.requestsRequiringReview[parentIndex].children.splice(childIndex, 1);
										currentContext.showSnackbar("Component Removed!");
									}
								}).finally(() => { DoneLoading(); });
						}
					});
				} else {
					bootbox.alert("At least one component is required in order to create a submission");
				}
			},
			showSnackbar: function (message) {
				var temp = this.$refs.Snackbar;
				temp.textContent = message;
				temp.className = "show";
				setTimeout(function(){ temp.className = temp.className.replace("show", ""); }, 3000);
			},
			click_updateReviewRequest: function (parentIndex, childIndex, row) {
				this.$refs.componentTable.unselectAllInternal();
				const currentContext = this;
				api.updateElectronicSubmissionComponent(row)
					.then(response => { currentContext.showSnackbar("Component Updated!"); })
					.catch(error => { })
					.finally(() => {
						this.requestsRequiringReview[parentIndex].children[childIndex].mode = null;
					});
			},
			updateCompany: function (newValue, parentIndex, childIndex) { this.requestsRequiringReview[parentIndex].children[childIndex].company = newValue; },
			updateFunction: function (newValue, parentIndex, childIndex) {
				this.requestsRequiringReview[parentIndex].children[childIndex].function = newValue;
			},
			updateCurrency: function (newValue, parentIndex, childIndex) { this.requestsRequiringReview[parentIndex].children[childIndex].currency = newValue.split('-')[0]; },
			updateTestLab: function (newValue, parentIndex, childIndex) { if (newValue.split('-').length == 2) this.requestsRequiringReview[parentIndex].children[childIndex].testLab = newValue.split('-')[1]; },
			updateContractType: function (newValue, parentIndex, childIndex) { this.requestsRequiringReview[parentIndex].children[childIndex].contractType = newValue.split('-')[0]; },
			updateCertificationLab: function (newValue, parentIndex, childIndex) { if (newValue.split('-').length == 2) this.requestsRequiringReview[parentIndex].children[childIndex].certificationLab = newValue.split('-')[1]; },
			updateCompanyId: function (newValue, parentIndex, childIndex) { this.requestsRequiringReview[parentIndex].children[childIndex].companyId = newValue; },
			updateFunctionId: function (newValue, parentIndex, childIndex) { this.requestsRequiringReview[parentIndex].children[childIndex].functionId = newValue; },
			updateCurrencyId: function (newValue, parentIndex, childIndex) { this.requestsRequiringReview[parentIndex].children[childIndex].currencyId = newValue; },
			updateTestLabId: function (newValue, parentIndex, childIndex) { this.requestsRequiringReview[parentIndex].children[childIndex].testLabId = newValue; },
			updateContractTypeId: function (newValue, parentIndex, childIndex) { this.requestsRequiringReview[parentIndex].children[childIndex].contractTypeId = newValue; },
			updateCertificationLabId: function (newValue, parentIndex, childIndex) { this.requestsRequiringReview[parentIndex].children[childIndex].certificationLabId = newValue; },
			updateBulkFunction: function (newValue) { if (newValue) this.bulkUpdateRow[0].function = newValue; },
			updateBulkCompany: function (newValue, parentIndex) { if (newValue) this.bulkUpdateRow[0].company = newValue; },
			updateBulkCurrency: function (newValue, parentIndex) { if (newValue) this.bulkUpdateRow[0].currency = newValue.split('-')[0]; },
			updateBulkContract: function (newValue, parentIndex) { if (newValue) this.bulkUpdateRow[0].contract = newValue.split('-')[0];},
			updateBulkTestLab: function (newValue, parentIndex) { if (newValue.split('-').length == 2) this.bulkUpdateRow[0].testLab = newValue.split('-')[1]; },
			updateBulkCertLab: function (newValue, parentIndex) { if (newValue.split('-').length == 2) this.bulkUpdateRow[0].certLab = newValue.split('-')[1]; },
			updateBulkCompanyId: function (newValue, parentIndex) {
				if (newValue) 
					this.bulkUpdateRow[0].companyId = newValue;
			},
			updateBulkFunctionId: function (newValue) {
				if (newValue)
					this.bulkUpdateRow[0].functionId = newValue;
			},
			updateBulkCurrencyId: function (newValue, parentIndex) {
				if (newValue) 
					this.bulkUpdateRow[0].currencyId = newValue;
			},
			updateBulkContractId: function (newValue, parentIndex) {
				if (newValue) 
					this.bulkUpdateRow[0].contractId = newValue;
			},
			updateBulkTestLabId: function (newValue, parentIndex) {
				if (newValue) 
					this.bulkUpdateRow[0].testLabId = newValue;
			},
			updateBulkCertLabId: function (newValue, parentIndex) {
				if (newValue) 
					this.bulkUpdateRow[0].certLabId = newValue;
			},
			click_CreateNewSubmission: function (headerIndex) {
				const currentContext = this;
				Loading();
				api.createNewSubmission(this.requestsRequiringReview[headerIndex])
					.then(response => {
						if (response.data.errorMessage != null) {
							bootbox.alert("Failed to create new submission. " + response.data.errorMessage);
						} else {
							let url = "<a href='" + currentContext.links.submissionDetail + "?fileNumber=" + response.data.fileNumber + "' Target='_new' style='color:white'> " + response.data.fileNumber + " </a>";
							currentContext.projectLink = url;
							currentContext.showSnackbar("Success, New Submission created!");
						}
						this.fetchRequestsRequiringReviewCount();
						this.fetchSGICompletedCount();
					})
					.catch(error => { })
					.finally(() => { DoneLoading(); });
			},
			selectionChanged: function (params) {
				this.selectedRows = params.selectedRows;
			},
			click_BulkUpdate: function () {
				const currentContext = this;
				this.selectedRows.forEach(function (el, index, arr) {
					if (currentContext.bulkUpdateRow[0].functionId != null) {
						_.find(currentContext.children, ['id', el.id]).function = currentContext.bulkUpdateRow[0].function;
						_.find(currentContext.children, ['id', el.id]).functionId = currentContext.bulkUpdateRow[0].functionId;
					}
					if (currentContext.bulkUpdateRow[0].companyId != null) {
						_.find(currentContext.children, ['id', el.id]).company = currentContext.bulkUpdateRow[0].company;
						_.find(currentContext.children, ['id', el.id]).companyId = currentContext.bulkUpdateRow[0].companyId;
					}
					if (currentContext.bulkUpdateRow[0].currencyId != null) {
						_.find(currentContext.children, ['id', el.id]).currencyId = currentContext.bulkUpdateRow[0].currencyId;
						_.find(currentContext.children, ['id', el.id]).currency = currentContext.bulkUpdateRow[0].currency;
					}
					if (currentContext.bulkUpdateRow[0].contractId != null) {
						_.find(currentContext.children, ['id', el.id]).contractTypeId = currentContext.bulkUpdateRow[0].contractId;
						_.find(currentContext.children, ['id', el.id]).contractType = currentContext.bulkUpdateRow[0].contract;
					}
					if (currentContext.bulkUpdateRow[0].testLabId != null) {
						_.find(currentContext.children, ['id', el.id]).testLabId = currentContext.bulkUpdateRow[0].testLabId;
						_.find(currentContext.children, ['id', el.id]).testLab = currentContext.bulkUpdateRow[0].testLab;
					}
					if (currentContext.bulkUpdateRow[0].certLabId != null) {
						_.find(currentContext.children, ['id', el.id]).certificationLabId = currentContext.bulkUpdateRow[0].certLabId;
						_.find(currentContext.children, ['id', el.id]).certificationLab = currentContext.bulkUpdateRow[0].certLab;
					}
				});
				this.bulkUpdateRow[0].company = ""
				this.bulkUpdateRow[0].companyId = null;
				this.bulkUpdateRow[0].function = ""
				this.bulkUpdateRow[0].functionId = null;
				this.bulkUpdateRow[0].currency = ""
				this.bulkUpdateRow[0].currencyId = null;
				this.bulkUpdateRow[0].contract = ""
				this.bulkUpdateRow[0].contractId = null;
				this.bulkUpdateRow[0].testLab = ""
				this.bulkUpdateRow[0].testLabId = null;
				this.bulkUpdateRow[0].certLab = ""
				this.bulkUpdateRow[0].certLabId = null;
				this.children.forEach(x => { x.mode = null });
				api.updateElectronicSubmissionComponents(this.children)
					.then(response => { this.showSnackbar("Component(s) Bulk Updated!"); });
			},
			submitDate: function (value) {
				this.children.forEach(x => { x.submitDate = value });
			},
			receivedDate: function (value) {
				this.children.forEach(x => { x.receivedDate = value });
			}
		},
		computed: {
			...mapGetters([
				'requestsRequiringReview',
				'links'
			])
		}
	}
</script>

<style>
	table.vgt-table {
		font-size: 12px !important;
	}

	.vgt-selection-info-row {
		background: #435169;
		border: 0px;
	}

	.vgt-checkbox-col {
		color: black;
		background-color: black;
	}
</style>

<style scoped>
	.review-head {
		color: white;
		background-color: #428bca;
	}

	.jurisdiction-drawer {
		background-color: #e0e0e0;
	}

	.btn-circle {
		width: 30px;
		height: 30px;
		text-align: center;
		padding: 6px 0;
		font-size: 12px;
		line-height: 1.428571429;
		border-radius: 15px;
	}

	.btn-td {
		padding-right: 10px;
	}

	#snackbar {
		visibility: hidden;
		min-width: 250px;
		margin-left: -125px;
		background-color: #232d3f;
		color: #fff;
		text-align: center;
		border-radius: 2px;
		padding: 16px;
		position: fixed;
		z-index: 1;
		left: 50%;
		bottom: 30px;
	}

	#snackbar.show {
			visibility: visible;
			-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}

	@-webkit-keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@-webkit-keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	@keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}
</style>
