﻿<template>
	<div class="main">
		<h1 id="title">Manufacturer Group</h1>
		<div class="row">
			<div class="col-sm-1" v-for="tile in this.manufacturerGroupTileDefinitions">
				<ManufacturerGroupTile v-bind:manufacturerGroupTileDefinition="tile"></ManufacturerGroupTile>
			</div>
		</div>
		<Upload v-show="!(Object.entries(this.selectedManufacturerGroupTile).length === 0 && this.selectedManufacturerGroupTile.constructor === Object)"></Upload>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	import Upload from '@/components/submission/import/Upload.vue';
	import ManufacturerGroupTile from '@/components/submission/import/ManufacturerGroupTile.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport');

	export default {
		components: {
			Upload,
			ManufacturerGroupTile
		},
		data() {
			return {

			}
		},
		created: function () {
			this.setManufacturerList(initialData.manufacturerList);
			this.setManufacturerGroupTileDefinitions(initialData.manufacturerGroupTileDefinitions);
			this.populateLinks(links);
		},
		methods: {
			...mapActions([
				'setManufacturerList',
				'setManufacturerGroupTileDefinitions',
				'populateLinks'
			])
		},
		computed: {
			...mapGetters([
				'selectedManufacturerGroupTile',
				'manufacturerGroupTileDefinitions'
			])
		},
		watch: {

		}
	}
</script>

<style scoped>
</style>
