﻿<template>
	<div>
		<Upload></Upload>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	import Upload from '@/components/submission/import/Upload.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport');
	
	export default {
		components: {
			Upload
		},
		data() {
			return {
				
			}
		},
		created: function () {
			this.setManufacturerList(initialData.manufacturerList);
		},
		methods: {
			...mapActions(['setManufacturerList'])
		},
		computed: {
		},
		watch: {
		
		}
	}
</script>

<style scoped>
	
</style>
