﻿<template>
	<div class="box" :style="style" v-on:click="setTileSelection()" v-bind:class="{ selectedHighlight: this.selectedManufacturerGroupTile.id == this.manufacturerGroupTileDefinition.id }">
		{{manufacturerGroupTileDefinition.title}}
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport');
	export default {
		components: {
		},
		props: {
			manufacturerGroupTileDefinition: {
				type: Object,
				required: true
			},
		},
		data() {
			return {

			}
		},
		created: function () {
		},
		methods: {
			...mapActions(['setSelectedManufacturerGroupTile']),
			setTileSelection() {
				this.setSelectedManufacturerGroupTile(this.manufacturerGroupTileDefinition);
			},
		},
		computed: {
			style() {
				return 'background-color: ' + this.manufacturerGroupTileDefinition.color + '; color: ' + this.manufacturerGroupTileDefinition.textColor;
			},
			...mapGetters([
				'selectedManufacturerGroupTile',
			]),
		},
		watch: {

		}
	}
</script>

<style scoped>
	.box {
		position: relative;
		display: inline-block;
		width: 100px;
		height: 100px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		text-align: center;
		vertical-align: middle;
		line-height: 100px;
		-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		font-size: 20px;
		font-weight: bold;
		padding: 10px;
	}

		.box::after {
			content: "";
			border-radius: 5px;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
			opacity: 0;
			-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
			transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		.box:hover {
			-webkit-transform: scale(1.25, 1.25);
			transform: scale(1.25, 1.25);
			cursor: pointer;
		}

			.box:hover::after {
				opacity: 1;
			}


	.selectedHighlight {
		outline: 5px solid yellow
	}
</style>
