﻿<template>
	<div class="main">
		<h3 class="text-center"><i class="fas fa-fw fa-search"></i> Map {{predicate.material}} to {{mappingSelection.material}}</h3>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Search Filters</h3>
			</div>
			<div class="panel-body">
				<form class="form-inline" @submit.prevent="click_Search">
					<div class="form-group">
						<label for="fileNumber">File Number: </label>
						<input type="text"
							   class="form-control"
							   id="fileNumber"
							   v-model.trim="submissionFilters.fileNumber">
					</div>
					&nbsp;
					<div class="form-group">
						<label for="status">Status: </label>
						<select class="form-control"
								id="status"
								v-model="submissionFilters.status">
							<option v-for="option in statusOptions" v-bind:value="option">
								{{ option }}
							</option>
						</select>
					</div>
					&nbsp;
					<div class="form-group">
						<label for="idNumber">ID Number: </label>
						<input type="text"
							   class="form-control"
							   id="idNumber"
							   v-model.trim="submissionFilters.idNumber">
					</div>
					&nbsp;
					<div class="form-group">
						<label for="version">Version: </label>
						<input type="text"
							   class="form-control"
							   id="version"
							   v-model.trim="submissionFilters.version">
					</div>
					&nbsp;
					<div class="form-group">
						<label for="gameName">Game Name: </label>
						<input type="text"
							   class="form-control"
							   id="gameName"
							   v-model.trim="submissionFilters.gameName">
					</div>

					<button class="btn btn-default"><i class="fas fa-search"></i> Search</button>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Search Results</h3>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th></th>
							<th>File Number</th>
							<th>Id Number</th>
							<th>Version</th>
							<th>Game Name</th>
							<th>Date Code</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="submissionRecord in searchResults">
							<td><input type="radio" name="mappingSelection" :value="submissionRecord" v-model="mappingSelection" /></td>
							<td>{{submissionRecord.fileNumber}}</td>
							<td>{{submissionRecord.material}}</td>
							<td>{{submissionRecord.version}}</td>
							<td>{{submissionRecord.materialDescription}}</td>
							<td>{{submissionRecord.dateCode}}</td>
						</tr>
					</tbody>
				</table>
				<div class="btn-group-sm">
					<button class="btn btn-primary" @click="click_MapRequest()" v-bind:disabled="mappingSelection == ''"><i class="fas fa-check"></i> Map Selected</button>
				</div>
				<div class="btn-group-sm">
					<label for="">Apply to all ambiguous requests for: {{package.letterNumber}} - ({{predicate.material}})</label>
					<input type="checkbox" v-bind:disabled="mappingSelection == ''" v-model="mapToAll"/>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import api from '../../../api/submissionimport'
	import { SUBMISSION_STATUS } from '@/common'
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport');

	export default {
		props: {
			requestId: {
				type: Number,
				required: true
			},
			requestType: {
				type: String,
				required: true
			},
			childIndex: {
				type: Number,
				required: true
			},
		},
		components: {
		},
		data() {
			return {
				submissionFilters: {
					fileNumber: '',
					status: '',
					idNumber: '',
					version: '',
					gameName: '',
					dateCode: ''
				},
				searchResults: [],
				statusOptions: [],
				predicate: {},
				mappingSelection: '',
				package: {},
				mapToAll: false
			}
		},
		created: function () {
			Loading();
			this.set_Package();
			this.set_Predicate();
			this.statusOptions = Object.keys(SUBMISSION_STATUS);
			this.statusOptions.unshift('');
		},
		mounted: function () {
			DoneLoading();
		},
		methods: {
			...mapActions([]),
			click_Search: function () {
				this.mappingSelection = '';
				this.searchResults = [];
				Loading();
				api.getSubmissions(this.submissionFilters)
					.then(response => {
						this.searchResults = response.data;
					})
					.catch((error) => {

					})
					.finally(() => {
						DoneLoading();
					});
			},
			set_Predicate: function () {
				let result;

				switch (this.requestType) {
					case 'transfer':
						result = this.stagedTransferRequests[this.requestId].children[this.childIndex];
						break;
					case 'withdrawreject':
						result = this.stagedWithdrawAndRejectRequests[this.requestId].children[this.childIndex];
					default:
						break;
				}

				this.predicate = result;
			},
			set_Package: function () {
				switch (this.requestType) {
					case 'transfer':
						this.package = this.stagedTransferRequests[this.requestId];
						break;
					case 'withdrawreject':
						this.package = this.stagedWithdrawAndRejectRequests[this.requestId];
					default:
						break;
				}
			},
			click_MapRequest: function () {
				Loading();

				var payload = {
					electronicSubmissionId: this.predicate.id,
					electronicSubmissionType: this.requestType,
					submissionId: this.mappingSelection.submissionRecordId,
					letterNumber: this.package.letterNumber,
					mapToAll: this.mapToAll
				};

				api.mapFollowUpRequest(payload)
					.then(response => {

						switch (this.requestType) {
							case 'transfer':
								this.$router.push('transfers');
								break;
							case 'withdrawreject':
								this.$router.push('withdrawAndRejects');
							default:
								break;
						}
					})
					.catch((error) => {

					})
					.finally(() => {
						DoneLoading();
					});
			}
		},
		computed: {
			...mapGetters([
				'stagedTransferRequests',
				'stagedWithdrawAndRejectRequests'
			])
		},
		watch: {

		}
	}
</script>

<style scoped>
</style>
