﻿<template>
	<div class="main">
		<h3 class="text-center"><i class="fas fa-fw fa-cube"></i> Staged New Submissions</h3>
		<div class="row">
			<div class="col-sm-6">
				<div id="snackbar" v-show="this.getStagedItemProcessResult.fileNumber || this.getStagedItemProcessResult.errorMessage" v-bind:class="[this.getStagedItemProcessResult.overallResult ? 'white' : 'red']">
					<h3>
						The {{this.getStagedItemProcessResult.stagedItemType}}
						<span v-if="this.getStagedItemProcessResult.overallResult"> was successful!</span>
						<span v-else> failed!</span>
					</h3>
					<hr>
					<div v-if="this.getStagedItemProcessResult.overallResult && this.getStagedItemProcessResult.stagedItemType === 'New Submission'">
						<div class="row">
							<div class="col-sm-12">
								<strong class="pull-left">{{this.getStagedItemProcessResult.fileNumber}}</strong>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<a href="#" class=" pull-left" @click.prevent="click_RouteToSubmission">Submissions</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<a href="#" class="pull-left" @click.prevent="click_RouteToProtrack">Protrack</a>
							</div>
						</div>
						<template v-if="this.getStagedItemProcessResult.gpsUploadFailed">
							<div class="row">
								<div class="col-sm-12">
									<span title="The flatfile failed to auto-upload to G.P.S. , please manually upload the flatfile.">
										<i style="color:red" class="fas fa-exclamation-triangle"></i> G.P.S. Auto-upload failure.
									</span>
								</div>
							</div>
						</template>
					</div>
					<div v-else>
						{{this.getStagedItemProcessResult.errorMessage}}

						<div v-if="this.getStagedItemProcessResult.duplicates.length > 0">
							<ul class="list-group">
								<li class="list-group-item"><p class="text-left">Filenumber: {{this.getStagedItemProcessResult.duplicates[0].fileNumber}}</p></li>
								<li class="list-group-item"><p class="text-left">Id Number: {{this.getStagedItemProcessResult.duplicates[0].idNumber}}</p></li>
								<li class="list-group-item"><p class="text-left">Version: {{this.getStagedItemProcessResult.duplicates[0].version}}</p></li>
								<li class="list-group-item"><p class="text-left">Letter Number: {{this.getStagedItemProcessResult.duplicates[0].letterNumber}}</p></li>
							</ul>
							<button type="button" class="btn btn-default" title="Dismiss error." @click.prevent="click_DismissErrorToast"><i class="fas fa-times"></i> Close</button>
							<button type="button" class="btn btn-warning" title="Choosing this option will forgo the submission processor duplicate guard and create the submission." @click.prevent="click_OverrideDuplicateGuard"><i class="fas fa-eject"></i> Create anyway?</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h3>Pending</h3>
		<StagedNewSubmissionTable></StagedNewSubmissionTable>
		<h3>Recently Completed</h3>
		<CompletedNewSubmissionTable></CompletedNewSubmissionTable>

		<StagedNewSubmission></StagedNewSubmission>
		<StagedRequestMove></StagedRequestMove>
	</div>
</template>

<script>
	import StagedNewSubmissionTable from '@/components/submission/import/StagedNewSubmissionTable.vue';
	import CompletedNewSubmissionTable from '@/components/submission/import/CompletedNewSubmissionTable.vue';
	import StagedNewSubmission from '@/components/submission/import/StagedNewSubmission';
	import StagedRequestMove from '@/components/submission/import/StagedRequestMove.vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')

	export default {
		components: {
			StagedNewSubmissionTable,
			CompletedNewSubmissionTable,
			StagedNewSubmission,
			StagedRequestMove
		},
		data() {
			return {

			}
		},
		created: function () {
			this.setStagedNewSubmissionColumnOptionSet(initialData.stagedNewSubmissionColumnOptionSet);
			this.setCompletedNewSubmissions(initialData.completedNewSubmissions);
			this.setCompletedNewSubmissionColumnOptionSet(initialData.completedNewSubmissionColumnOptionSet);
			this.setSubmissionTemplateSet(initialData.submissionTemplates);

			DoneLoading();
		},
		methods: {
			...mapActions([
				'setStagedNewSubmissions',
				'setStagedNewSubmissionColumnOptionSet',
				'setCompletedNewSubmissions',
				'setCompletedNewSubmissionColumnOptionSet',
				'setSubmissionTemplateSet',
				'setStagedItemProcessResult',
				'setNewSubmissionDuplicateGuardOverride',
				'createNewSubmission'
			]),
			click_RouteToSubmission() {
				if (this.getStagedItemProcessResult.fileNumber) {
					location.href = 'http://submissions/gliintranet/submission/submission/detail?fileNumber=' + this.getStagedItemProcessResult.fileNumber;
				}
			},
			click_RouteToProtrack() {
				if (this.getStagedItemProcessResult.projectId) {
					location.href = jsPath + '/protrack/project/detail/' + this.getStagedItemProcessResult.projectId;
				}
			},
			click_DismissErrorToast() {
				this.setStagedItemProcessResult({ duplicates: [] });
				this.setNewSubmissionDuplicateGuardOverride({});
			},
			click_OverrideDuplicateGuard() {
				this.setStagedItemProcessResult({ duplicates: [] });

				const index = this.stagedNewSubmissions.findIndex((item) => {
					item.id == this.newSubmissionDuplicateGuardOverride.id;
				});

				this.newSubmissionDuplicateGuardOverride.overRideDuplicateGuard = true;
				this.createNewSubmission({ index: index, item: this.newSubmissionDuplicateGuardOverride });
			},
		},
		computed: {
			...mapGetters([
				'stagedNewSubmissionColumnOptionSet',
				'stagedNewSubmissions',
				'completedNewSubmissions',
				'completedNewSubmissionColumnOptionSet',
				'getStagedItemProcessResult',
				'newSubmissionDuplicateGuardOverride'
			])
		},
		watch: {

		},
	}
</script>

<style scoped>
	.red {
		background: #d9534f;
	}

	.white {
		background: white;
	}

	#snackbar {
		/*visibility: hidden;*/
		min-width: 250px;
		margin-left: -125px;
		text-align: center;
		border-radius: 2px;
		border-style: dotted;
		padding: 16px;
		position: fixed;
		z-index: 1;
		left: 50%;
		bottom: 30px;
		font-size: 17px;
	}

		#snackbar.show {
			visibility: visible;
			-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}

	@-webkit-keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@-webkit-keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	@keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}
</style>
