﻿<template>
	<div class="main">
		<h3 class="text-center"><i class="fas fa-check-double"></i> Requests Requiring Review</h3>
		<RequestsRequiringReviewTable />
		<RequestsRequiringReviewDetailEdit></RequestsRequiringReviewDetailEdit>
		<!--<TransferResult></TransferResult>-->
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	import RequestsRequiringReviewTable from '@/components/submission/import/RequestsRequiringReviewTable.vue';
	import RequestsRequiringReviewDetailEdit from '@/components/submission/import/RequestsRequiringReviewDetailEdit';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')



	export default {
		components: {
			RequestsRequiringReviewTable,
			RequestsRequiringReviewDetailEdit
		},
		data() {
			return {

			}
		},
		created: function () {
			DoneLoading();
		},
		methods: {
			...mapActions([]),
		},
		computed: {
			...mapGetters([])
		},
		watch: {

		},
	}
</script>

<style scoped>
</style>
