﻿<template>
	<div>
		<table class="table table-bordered table-condensed table-striped">
			<thead>
				<tr class="review-head">
					<th>Reference Number</th>
					<th>Manufacturer</th>
					<th>Request Type</th>
					<th>Imported By</th>
					<th>Imported On</th>
					<th>Jurisdiction Count</th>
					<th><!--Action Links--></th>
				</tr>
			</thead>
			<tbody v-for="(reviewPackage, index) in requestsRequiringReview">
				<tr>
					<td>{{reviewPackage.supplierReferenceNumber}}</td>
					<td>{{reviewPackage.manufacturerCode}}</td>
					<td>{{reviewPackage.status}}</td>
					<td>{{reviewPackage.userName}}</td>
					<td>{{reviewPackage.addDate | formatDate}}</td>
					<td>{{reviewPackage.children.length}}</td>
					<td align="right" class="btn-td">
						<div style="text-align:center">
							<button type="button"
									class="btn btn-primary btn-circle"
									data-toggle="collapse"
									v-bind:data-target="'#jurisdictionDrawer_' + index">
								<i class="fa"
								   v-bind:class="{ 'fa-caret-down': !reviewPackage.childrenVisible, 'fa-caret-up': reviewPackage.childrenVisible }">
								</i>
							</button>
							<button type="button"
									class="btn btn-primary btn-circle"
									@click.prevent="click_showMoreInfo(index)">
								<i class="fa fa-ellipsis-v"></i>
							</button>
							<button type="button"
									class="btn btn-primary btn-circle"
									@click="click_removeRequest(index)">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</td>
				</tr>
				<tr v-bind:id="'jurisdictionDrawer_' + index" class="collapse">
					<td colspan="10" class="jurisdiction-drawer">
						<ElectronicSubmissionComponent :children="reviewPackage.children"
													   :index="index"></ElectronicSubmissionComponent>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import api from '../../../api/submissionimport';
	import 'vue-good-table/dist/vue-good-table.min.css';
	import Lookup from '@/components/utility/Lookup.vue';
	import ElectronicSubmissionComponent from '@/components/submission/import/ElectronicSubmissionComponent'
	import {MODE} from '@/common'
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport');

	export default {
		components: {
			Lookup,
			ElectronicSubmissionComponent
		},
		data() {
			return {
			}
		},
		created: function () {
			Loading();
		},
		computed: {
			...mapGetters([
				'requestsRequiringReview',
				'completedSGISubmissions',
				'count'
			])
		},
		methods: {
			...mapActions([
				'fetchRequestsRequiringReviewCount'
			]),
			click_showMoreInfo: function (index) {
				bootbox.alert("<strong>Contact Information:</strong> </br> Name: " +this.requestsRequiringReview[index].submitterName + "</br> Email: " + this.requestsRequiringReview[index].submitterEmail);
			},
			click_removeRequest: function (index) {
				const currentContext = this;
				bootbox.confirm('Are you sure you want to delete this request?', function (result) {
						if (result) {
							Loading();
							api.deactivateComponentHeader(currentContext.requestsRequiringReview[index].id)
								.then(x => {
									currentContext.requestsRequiringReview.splice(index, 1);
									currentContext.fetchRequestsRequiringReviewCount();
								}).finally(() => { DoneLoading(); });
						}
				});
			}
		}
	}
</script>

<style scoped>
	.review-head {
		color: white;
		background-color: #428bca;
	}

	.jurisdiction-drawer {
		background-color: #e0e0e0;
	}

	.btn-circle {
		width: 30px;
		height: 30px;
		text-align: center;
		padding: 6px 0;
		font-size: 12px;
		line-height: 1.428571429;
		border-radius: 15px;
	}

	.btn-td {
		padding-right: 10px;
	}
</style>
