﻿<template>
	<div ref="RequestsRequiringReviewDetail" class="modal" tabindex="-1">
		Hello
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	import Lookup from '@/components/utility/Lookup';
	import DatePicker from '@/components/utility/DatePicker';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')
	export default {
		components: {
			Lookup,
			DatePicker,
		},
		props: {
		},
		data() {
			return {
				localReviewRequest: {
					index: undefined,
					jurisdictionCount: undefined,
					childIndex: undefined,
					item: {},
					supplierReferenceNumber: '',
					mode: '',
				},
			}
		},
		filters: {
		},
		created: function () {
		},
		methods: {
			...mapActions([
				'setRequestRequiringReviewDetailPopup',
				'updateLocalReviewRequest'
			]),
			updateTestLab: function (newValue, selectedId) {
				
			},
			click_SetChanges: function () {
				
			}
		},
		computed: {
			...mapGetters([
				'requestsRequiringReviewDetail'
			]),
		},
		watch: {
		},
	}
</script>
<style scoped>
</style>
