﻿<template>
	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr class="new-head">
				<th>Letter Number</th>
				<th>Manufacturer</th>
				<th>Imported By</th>
				<th>Imported On</th>
				<th>Missing Billing Reference</th>
				<th><!--Action Links--></th>
			</tr>
		</thead>
		<tbody v-for="(request, index) in stagedNewSubmissions">
			<tr>
				<td>{{request.letterNumber}}</td>
				<td>{{request.manufacturerShortCode}}</td>
				<td>{{request.userName}}</td>
				<td>{{request.insertDate | formatDate}}</td>
				<td>
					<span v-if="request.missingBillingReference" style="font-weight:bold; color:red;" title="One or more billing references were missing when this flatfile was uploaded.">
						<i class="fas fa-exclamation-triangle"></i>
					</span>
					<span v-else>

					</span>
				</td>
				<td align="right">
					<button type="button"
							class="btn btn-primary"
							data-toggle="collapse"
							@click.prevent="click_setChildrenVisibilityFlag(index)"
							v-bind:data-target="'#newJurisdictionDrawer_' + index">
						<i class="fa"
						   v-bind:class="{ 'fa-folder-open': !request.childrenVisible, 'fa-folder': request.childrenVisible }">
						</i> Details
					</button>
					<button type="button" class="btn btn-primary" @click="clickEditStagedNewSubmission(index)">
						<i class="fas fa-edit"></i> Edit
					</button>
					<button type="button" class="btn btn-danger" @click="clickDeleteStagedNewSubmission(index)">
						<i class="fas fa-times"></i> Delete
					</button>
					<button title="Move submission requests." type="button" class="btn btn-info btn-primary" @click="click_moveSubmissionRequests(request.letterNumber)">
						<i class="fas fa-bus"></i> Move
					</button>
				</td>
			</tr>
			<tr v-bind:id="'newJurisdictionDrawer_' + index" class="collapse">
				<td></td>
				<td colspan="6" class="jurisdiction-drawer">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr class="jurisdiction-head">
								<th>Material</th>
								<th>Jurisdiction</th>
								<th>Jurisdiction ID</th>
								<th>Billing Reference</th>
							</tr>
						</thead>
						<tbody v-for="(jurisdiction, childIndex) in request.children">
							<tr>
								<td>{{jurisdiction.material}}</td>
								<td>{{jurisdiction.jurisdiction}}</td>
								<td>{{jurisdiction.jurisdictionId}}</td>
								<td>{{jurisdiction.billingReference}}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css'

	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')

	export default {
		components: {
			VueGoodTable
		},
		props: {

		},
		data() {
			return {
				paginationOptions: {
					enabled: true,
					mode: 'pages'
				}
			}
		},
		created: function () {

		},
		mounted: function () {

		},
		methods: {
			...mapActions([
				'setStagedNewSubmissionPopup',
				'setSelectedStagedNewSubmission',
				'setStagedRequestMovePopup',
				'setMoveStagedRequest',
				'deleteStagedNewSubmission',
				'setNewSubmissionChildrenVisibilityFlag'
			]),
			clickEditStagedNewSubmission: function (index) {
				this.setSelectedStagedNewSubmission(index);
				this.setStagedNewSubmissionPopup(true);
			},
			clickDeleteStagedNewSubmission: function (index) {
				bootbox.confirm("Are you sure you would like to delete this staged new submission?", (result) => {
					if (result)
						this.deleteStagedNewSubmission(index);
				});

			},
			click_setChildrenVisibilityFlag: function (index) {
				let options = {
					index: index, type: 'pending'
				};
				this.setNewSubmissionChildrenVisibilityFlag(options);
			},
			click_moveSubmissionRequests: function (letterNumber) {
				let options = {
					currentQueue: 'New Submission', letterNumber: letterNumber
				};
				this.setMoveStagedRequest(options);
				this.setStagedRequestMovePopup(true);
			}
		},
		computed: {
			...mapGetters([
				'stagedNewSubmissions'
			])
		},
		watch: {

		}
	}
</script>

<style scoped>
	.new-head {
		color: white;
		background-color: #428bca;
	}
	.jurisdiction-head {
		color: white;
		background-color: #5cb85c;
	}
	.jurisdiction-drawer {
		background-color: #e0e0e0;
	}
</style>
