﻿<template>
	<div>
		<div class="sidebar">
			<div class="sidebar-header">
				<p><i class="fas fa-wrench"></i>&nbsp;Flat File Utilities</p>
			</div>
			<router-link to="/submission/import/"><i class="fas fa-fw fa-upload"></i>Import</router-link>
			<router-link to="/submission/import/newSubmissions">
				<i class="fas fa-fw fa-cube"></i> New Submissions
				<span class="badge">{{stagedNewSubmissions.length}}</span>
			</router-link>
			<router-link to="/submission/import/transfers">
				<i class="fas fa-fw fa-cubes"></i> Transfer Requests
				<span class="badge">{{stagedTransferRequests.length}}</span>
			</router-link>
			<router-link to="/submission/import/withdrawAndRejects">
				<i class="fas fa-fw fa-bug"></i> WD / RJ Requests
				<span class="badge">{{stagedWithdrawAndRejectRequests.length}}</span>
			</router-link>
			<router-link to="/submission/import/requestsRequiringReview">
				<i class="fas fa-check-double"></i> SGI Requests
				<span class="badge">{{ count.inReview }}</span>
			</router-link>
			<router-link to="/submission/import/completedSGISubmissions">
				<span style="float: right; width: 90%">
					<i class="fa fa-history"></i> History
					<span class="badge">{{ count.completed }}</span>
				</span>
			</router-link>
		</div>
		<div id="main">
			<router-view :key="$route.fullPath"></router-view>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')

	export default {
		beforeRouteUpdate(to, from, next) {
			switch (to.name) {
				case 'newSubmissions':
					this.fetchStagedNewSubmissions()
					this.fetchCompletedNewSubmissions();
					break;
				case 'transfers':
					this.fetchStagedTransferRequests();
					this.fetchCompletedTransfers();
					break;
				case 'withdrawAndRejects':
					this.fetchStagedWDRJRequests();
					this.fetchCompletedWDRJRequests();
					break;
				case 'requestsRequiringReview':
					this.fetchRequestsRequiringReview();
					break;
				case 'completedSGISubmissions':
					this.fetchSGICompletedSubmissions();
				default:
					break;
			}
			next();
		},
		data() {
			return {

			}
		},
		created: function () {
			this.setStagedNewSubmissions(initialData.stagedNewSubmissions);
			this.setCompletedNewSubmissions(initialData.completedNewSubmissions);

			this.setStagedTransferRequests(initialData.stagedTransferRequests);
			this.setCompletedTransfers(initialData.completedTransfers);

			this.setStagedWDRJRequests(initialData.stagedWithdrawAndRejectRequests);
			this.setCompletedWDRJRequests(initialData.completedWithdrawAndRejectRequests);

			this.setWDRJReasons(initialData.wdrjReasonList);

			this.fetchRequestsRequiringReviewCount();
			this.fetchSGICompletedCount();

			DoneLoading();
		},
		methods: {
			...mapActions([
				'setStagedNewSubmissions',
				'setStagedTransferRequests',
				'setCompletedNewSubmissions',
				'setCompletedTransfers',
				'setStagedWDRJRequests',
				'setCompletedWDRJRequests',
				'fetchStagedNewSubmissions',
				'fetchCompletedNewSubmissions',
				'fetchStagedTransferRequests',
				'fetchCompletedTransfers',
				'fetchStagedWDRJRequests',
				'fetchCompletedWDRJRequests',
				'setWDRJReasons',
				'fetchRequestsRequiringReview',
				'fetchRequestsRequiringReviewCount',
				'fetchSGICompletedSubmissions',
				'fetchSGICompletedCount'
			]),
		},
		computed: {
			...mapGetters(['stagedNewSubmissions', 'stagedTransferRequests', 'stagedWithdrawAndRejectRequests', 'count'])
		},
		watch: {
		},
	}
</script>

<style scoped>
	.main {
		margin-left: 205px; /* Same as the width of the sidenav */
		padding: 0px 10px;
	}

	.sidebar-header {
		height: 25px;
		border-bottom: 3px solid white;
	}

		.sidebar-header p {
			color: white;
			text-align: center;
			font-size: 17px;
		}

	.sidebar {
		height: 100%;
		width: 205px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #222222;
		overflow-x: hidden;
		padding-top: 16px;
		margin-top: 25px;
	}

		/* Style sidebar links */
		.sidebar a {
			padding: 6px 8px 6px 16px;
			text-decoration: none;
			font-size: 15px;
			color: #818181;
			display: block;
		}

			/* Style links on mouse-over */
			.sidebar a:hover {
				color: #f1f1f1;
			}
</style>
