﻿<template>
	<div ref="MoveStagedRequest" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="col-sm-6">
						<h3 class="modal-title">Move Staged {{localStagedRequest.currentQueue}} Request</h3>
					</div>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Moving {{localStagedRequest.letterNumber}}</label>
							<div class="col-sm-9">
								<select v-model="selectedQueue">
									<option v-for="option in queueOptions" v-bind:value="option.value">
										{{ option.text }}
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-warning" @click="click_MoveStagedRequest">
							<i class="fas fa-edit"></i> Move
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	import api from '../../../api/submissionimport'
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')
	export default {
		components: {
		},
		props: {
		},
		data() {
			return {
				localStagedRequest: {

				},
				selectedQueue: '',
				queueOptions: [
					{ text: 'New Submission', value: 'New Submission' },
					{ text: 'Transfer', value: 'Transfer' },
					{ text: 'Withdraw/Reject', value: 'Withdraw/Reject' }
					]
			}
		},
		filters: {
		},
		created: function () {
		},
		methods: {
			...mapActions([
				'setStagedRequestMovePopup',
			]),
			click_MoveStagedRequest: function () {
				if (this.selectedQueue.length == 0) {
					bootbox.alert("Please select a new queue for the current staged request.");
					return false;
				}
				if (this.selectedQueue == this.localStagedRequest.currentQueue) {
					bootbox.alert("The selected staged request is already in this queue. Please select a different queue for the move process.");
					return false;
				}
				var payload = {
					letterNumber: this.localStagedRequest.letterNumber,
					destinationQueue: this.selectedQueue
				};
				api.moveStagedRequest(payload)
					.then(response => {
						window.location.reload();
					})
					.catch((error) => {

					});
			}
		},
		computed: {
			...mapGetters([
				'showStagedRequestMovePopup',
				'moveStagedRequest'
			]),
		},
		watch: {
			showStagedRequestMovePopup: function (newVal, oldVal) {
				if (newVal) {
					this.localStagedRequest = this.$lodash.cloneDeep(this.moveStagedRequest);
					$(this.$refs.MoveStagedRequest).modal('show');
					this.setStagedRequestMovePopup(false);
				}
			}
		},
	}
</script>
<style scoped>
</style>
