﻿<template>
	<div ref="StagedNewSubmission" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="col-sm-6">
						<h3 class="modal-title">Letter Number: <i>{{this.localSelectedStagedNewSubmission.item.letterNumber}}</i></h3>
					</div>
					<div class="col-sm-6">
						<label>Template</label>

						<select class="vue-select" v-model="selectedTemplate" v-on:change="onTemplateChange" style="width:100%">
							<option v-for="option in this.newSubmissionTemplates" v-bind:value="option.id">
								{{ option.code }}
							</option>
						</select>
					</div>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Company</label>
							<div class="col-sm-9">
								<Lookup :id="'Company'"
										:lookuptextfield="localSelectedStagedNewSubmission.item.company"
										@updateLookupTextField="updateCompany"
										lookupajax="Companies"
										v-model="localSelectedStagedNewSubmission.item.companyId" />
								<span class="field-validation-error" v-if="$v.localSelectedStagedNewSubmission.item.companyId.$error && !$v.localSelectedStagedNewSubmission.item.companyId.required">Company is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Currency</label>
							<div class="col-sm-9">
								<Lookup :id="'Currency'"
										:lookuptextfield="localSelectedStagedNewSubmission.item.currency"
										@updateLookupTextField="updateCurrency"
										lookupajax="Currencies"
										v-model="localSelectedStagedNewSubmission.item.currencyId" />
								<span class="field-validation-error" v-if="$v.localSelectedStagedNewSubmission.item.currencyId.$error && !$v.localSelectedStagedNewSubmission.item.currencyId.required">Currency is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Contract</label>
							<div class="col-sm-9">
								<Lookup :id="'Contract'"
										:lookuptextfield="localSelectedStagedNewSubmission.item.contractType"
										@updateLookupTextField="updateContract"
										lookupajax="ContractTypes"
										v-model="localSelectedStagedNewSubmission.item.contractTypeId" />
								<span class="field-validation-error" v-if="$v.localSelectedStagedNewSubmission.item.contractTypeId.$error && !$v.localSelectedStagedNewSubmission.item.contractTypeId.required">Contract type is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Submission Type</label>
							<div class="col-sm-9">
								<Lookup :id="'SubType'"
										:lookuptextfield="localSelectedStagedNewSubmission.item.submissionType"
										@updateLookupTextField="updateSubType"
										lookupajax="SubmissionTypes"
										v-model="localSelectedStagedNewSubmission.item.submissionTypeId" />
								<span class="field-validation-error" v-if="$v.localSelectedStagedNewSubmission.item.submissionTypeId.$error && !$v.localSelectedStagedNewSubmission.item.submissionTypeId.required">Submission type is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Primary Jurisdiction</label>
							<div class="col-sm-9">
								<Lookup :id="'PrimaryJurisdiction'"
										:lookuptextfield="localSelectedStagedNewSubmission.item.primaryJurisdictionName"
										@updateLookupTextField="updateJurisdiction"
										lookupajax="Jurisdictions"
										templatename="formatJurisdictions"
										v-model="localSelectedStagedNewSubmission.item.primaryJurisdiction" />
								<span class="field-validation-error" v-if="$v.localSelectedStagedNewSubmission.item.primaryJurisdiction.$error && !$v.localSelectedStagedNewSubmission.item.primaryJurisdiction.required">Primary Jurisdiction is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Certification Lab</label>
							<div class="col-sm-9">
								<Lookup :id="'CertLab'"
										:lookuptextfield="localSelectedStagedNewSubmission.item.certificationLab"
										@updateLookupTextField="updateCertLab"
										lookupajax="Laboratories"
										v-model="localSelectedStagedNewSubmission.item.certificationLabId" />
								<span class="field-validation-error" v-if="$v.localSelectedStagedNewSubmission.item.certificationLabId.$error && !$v.localSelectedStagedNewSubmission.item.certificationLabId.required">Cert Lab is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Test Lab</label>
							<div class="col-sm-9">
								<Lookup :id="'TestLab'"
										:lookuptextfield="localSelectedStagedNewSubmission.item.testLab"
										@updateLookupTextField="updateTestLab"
										lookupajax="Laboratories"
										v-model="localSelectedStagedNewSubmission.item.testLabId" />
								<span class="field-validation-error" v-if="$v.localSelectedStagedNewSubmission.item.testLabId.$error && !$v.localSelectedStagedNewSubmission.item.testLabId.required">Test Lab is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Submitted Date</label>
							<div class="col-sm-9">
								<DatePicker id="SubmittedDate" name="SubmittedDate" v-model="localSelectedStagedNewSubmission.item.requestDate"></DatePicker>
								<span class="field-validation-error" v-if="$v.localSelectedStagedNewSubmission.item.requestDate.$error && !$v.localSelectedStagedNewSubmission.item.requestDate.required">Submitted date is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Recieved Date</label>
							<div class="col-sm-9">
								<DatePicker id="RecievedDate" name="RecievedDate" v-model="localSelectedStagedNewSubmission.item.receivedDate"></DatePicker>
								<span class="field-validation-error" v-if="$v.localSelectedStagedNewSubmission.item.receivedDate.$error && !$v.localSelectedStagedNewSubmission.item.receivedDate.required">Recieved date is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Work Order Number</label>
							<div class="col-sm-9">
								<input title="Leave this blank if you want the WON to auto populate from the file number." type="text" v-model="localSelectedStagedNewSubmission.item.workOrderNumber" />
								<blockquote>
									<p><small>Leave this blank if you want the WON to auto populate from the file number.</small></p>
								</blockquote>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Add to existing? </label>
							<div class="col-sm-9">
								<input type="checkbox" v-model="localSelectedStagedNewSubmission.item.addToExistingSubmission" v-on:change="onAddToExistingChange" />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Destination FileNumber </label>
							<div class="col-sm-9">
								<Lookup :id="'AddToExistingLookup'"
										:disabled="!localSelectedStagedNewSubmission.item.addToExistingSubmission"
										:filter="{ ManufacturerCode: [localSelectedStagedNewSubmission.item.manufacturerShortCode] }"
										:lookuptextfield="localSelectedStagedNewSubmission.item.fileNumber"
										@updateLookupTextField="updateAddToExistingLookup"
										lookupajax="FileNumber"
										v-model="localSelectedStagedNewSubmission.item.fileNumber" />
								<span class="field-validation-error" v-if="$v.localSelectedStagedNewSubmission.item.fileNumber.$error && !$v.localSelectedStagedNewSubmission.item.fileNumber.required">Destination Filenumber is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Product Category</label>
							<div class="col-sm-9">
								{{ localSelectedStagedNewSubmission.item.productCategory }}
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-success" @click="saveChanges">
							<i class="fas fa-check"></i> Create
						</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	import Lookup from '@/components/utility/Lookup';
	import DatePicker from '@/components/utility/DatePicker';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import { required, requiredIf } from 'vuelidate/lib/validators'
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')
	export default {
		components: {
			Lookup,
			DatePicker,
			SelectStandard
		},
		props: {
		},
		data() {
			return {
				localSelectedStagedNewSubmission: {
					index: 3,
					item: {},
				},
				selectedTemplate: '',
			}
		},
		methods: {
			...mapActions([
				'setStagedNewSubmissionPopup',
				'createNewSubmission',
				'test'
			]),
			saveChanges: function () {
				this.$v.$touch();
				if (this.$v.$invalid) {
				}
				else {
					$(this.$refs.StagedNewSubmission).modal('hide');
					this.createNewSubmission(this.localSelectedStagedNewSubmission);
				}
			},
			updateAddToExistingLookup: function (newValue, selectedId) {
				this.localSelectedStagedNewSubmission.item.fileNumber = newValue;
			},
			updateCompany: function (newValue, selectedId) {
				this.localSelectedStagedNewSubmission.item.companyId = selectedId;
				this.localSelectedStagedNewSubmission.item.company = newValue;
			},
			updateContract: function (newValue, selectedId) {
				this.localSelectedStagedNewSubmission.item.contractTypeId = selectedId;
				this.localSelectedStagedNewSubmission.item.contractType = newValue;
			},
			updateCurrency: function (newValue, selectedId) {
				this.localSelectedStagedNewSubmission.item.currencyId = selectedId;
				this.localSelectedStagedNewSubmission.item.currency = newValue;
			},
			updateCertLab: function (newValue, selectedId) {
				this.localSelectedStagedNewSubmission.item.certificationLabId = selectedId;
				this.localSelectedStagedNewSubmission.item.certificationLab = newValue;
			},
			updateTestLab: function (newValue, selectedId) {
				this.localSelectedStagedNewSubmission.item.testLabId = selectedId;
				this.localSelectedStagedNewSubmission.item.testLab = newValue;
			},
			updateSubType: function (newValue, selectedId) {
				this.localSelectedStagedNewSubmission.item.submissionTypeId = selectedId;
				this.localSelectedStagedNewSubmission.item.submissionType = newValue;
			},
			updateJurisdiction: function (newValue, selectedId) {
				this.localSelectedStagedNewSubmission.item.primaryJurisdiction = selectedId;
				this.localSelectedStagedNewSubmission.item.primaryJurisdictionName = newValue;
			},
			onTemplateChange: function (selection) {
				this.selectedTemplate = 3;

				let selectedTemplate = this.newSubmissionTemplates.filter(template => {
					return template.id == this.selectedTemplate;
				})[0];

				if (selectedTemplate) {
					if (selectedTemplate.id == 0) {
						this.updateCompany("", "");
						this.updateContract("", "");
						this.updateCurrency("", "");
						this.updateCertLab("", "");
						this.updateTestLab("", "");
						//this.updateSubType("", "");
						this.localSelectedStagedNewSubmission.item.receivedDate = "";
						this.localSelectedStagedNewSubmission.item.requestDate = "";
					}
					else {
						this.updateCompany(selectedTemplate.company, selectedTemplate.companyId);
						this.updateContract(selectedTemplate.contract, selectedTemplate.contractId);
						this.updateCurrency(selectedTemplate.currency, selectedTemplate.currencyId);
						this.updateCertLab(selectedTemplate.certificationLab, selectedTemplate.certificationLabId);
						this.updateTestLab(selectedTemplate.testLab, selectedTemplate.testLabId);
						//this.updateSubType(this.localSelectedStagedNewSubmission.submissionType, this.localSelectedStagedNewSubmission.submissionTypeId);
						this.localSelectedStagedNewSubmission.item.receivedDate = new Date();
						this.localSelectedStagedNewSubmission.item.requestDate = new Date();
					}
				}
			},
			onAddToExistingChange: function () {
				this.localSelectedStagedNewSubmission.item.fileNumber = "";
			},
		},
		computed: {
			...mapGetters([
				'showStagedNewSubmissionPopup',
				'selectedStagedNewSubmission',
				'newSubmissionTemplates',
			]),

		},
		watch: {
			showStagedNewSubmissionPopup: function (newVal, oldVal) {
				if (newVal) {
					this.localSelectedStagedNewSubmission = this.$lodash.cloneDeep(this.selectedStagedNewSubmission);
					$(this.$refs.StagedNewSubmission).modal('show');
					this.setStagedNewSubmissionPopup(false);
					this.localSelectedStagedNewSubmission.item.addToExistingSubmission = false;
					this.selectedTemplate = "";
					this.onTemplateChange(3);
					this.$v.$reset();
				}
			}
		},
		validations: {
			localSelectedStagedNewSubmission: {
				item: {
					companyId: {
						required
					},
					currencyId: {
						required
					},
					contractTypeId: {
						required
					},
					submissionTypeId: {
						required,
					},
					primaryJurisdiction: {
						required
					},
					certificationLabId: {
						required
					},
					testLabId: {
						required
					},
					requestDate: {
						required
					},
					receivedDate: {
						required
					},
					fileNumber: {
						required: requiredIf('addToExistingSubmission')
					}
				}
			}
		}
	}
</script>
<style scoped>
</style>