﻿<template>
	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr class="transfer-head">
				<th>Letter Number</th>
				<th>Imported By</th>
				<th>Imported On</th>
				<th>Jurisdiction Count</th>
				<th><!--Action Links--></th>
			</tr>
		</thead>
		<tbody v-for="(transferPackage, index) in stagedTransferRequests">
			<tr>
				<td>{{transferPackage.letterNumber}}</td>
				<td>{{transferPackage.userName}}</td>
				<td>{{transferPackage.insertDate | formatDate}}</td>
				<td>{{transferPackage.children.length}}</td>
				<td align="right" class="btn-td">
					<button type="button"
							class="btn btn-primary btn-circle"
							data-toggle="collapse"
							@click.prevent="click_setChildrenVisibilityFlag(index)"
							v-bind:data-target="'#jurisdictionDrawer_' + index">
						<i class="fa"
						   v-bind:class="{ 'fa-caret-down': !transferPackage.childrenVisible, 'fa-caret-up': transferPackage.childrenVisible }">
						</i>
					</button>
					<button title="Update selected transfer requests." type="button" class="btn btn-warning btn-circle" @click="click_updateTransferRequest({index: index, mode: 'multiple', letterNumber: transferPackage.letterNumber})"><i class="fas fa-edit"></i></button>
					<button title="Move transfer requests." type="button" class="btn btn-info btn-circle" @click="click_moveTransferRequests(transferPackage.letterNumber)"><i class="fas fa-bus"></i></button>
					<button title="Create selected transfer requests." type="button" class="btn btn-success btn-circle" @click="click_createTransferRequests(index)"><i class="fas fa-save"></i></button>
					<button title="Delete all transfer requests." type="button" class="btn btn-danger btn-circle" @click="click_deleteTransferRequest({index: index, childIndex: -1})"><i class="fas fa-times"></i></button>
				</td>
			</tr>
			<tr v-bind:id="'jurisdictionDrawer_' + index" class="collapse">
				<td></td>
				<td colspan="5" class="jurisdiction-drawer">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr class="jurisdiction-head">
								<th><input type="checkbox" @change="change_toggleChildren(index,$event)" /></th>
								<th>Material</th>
								<th>File Number</th>
								<th>Jurisdiction</th>
								<th>Jurisdiction ID</th>
								<th>Recieved Date</th>
								<th>Submitted Date</th>
								<th>Test Lab</th>
								<th>WON</th>
								<th>Missing Billing Reference</th>
								<th><!--Action Links--></th>
							</tr>
						</thead>
						<tbody v-for="(jurisdiction, childIndex) in transferPackage.children">
							<tr>
								<td><input type="checkbox" v-model="jurisdiction.selected" /></td>
								<td>{{jurisdiction.material}}</td>
								<td>
									<template v-if="jurisdiction.fileNumber">
										<span v-bind:title="jurisdiction.idNumber + ' | ' + jurisdiction.gameName + ' | ' + jurisdiction.version + ' | ' + jurisdiction.dateCode">{{jurisdiction.fileNumber}}</span>
									</template>
									<template v-else-if=" jurisdiction.submissionMatchCount === 0">
										<router-link :to="{ name: 'mapRequests', params: { requestId: index, childIndex: childIndex, requestType: 'transfer' } }" title="No record matches this request, please manually map to a record."><i class="fas fa-search"></i> Map Request</router-link>
									</template>
									<template v-else>
										<select class="vue-select" style="width:100%" @change="change_setMappedSubmission(index,childIndex,$event)">
											<option></option>
											<option v-for="option in jurisdiction.potentialSubmissions"
													v-bind:value="option.id">
												{{ option.fileNumber }} | {{option.idNumber}} | {{ option.gameName}} | {{ option.version }} | {{option.dateCode}}
											</option>
										</select>
										<router-link :to="{ name: 'mapRequests', params: { requestId: index, childIndex: childIndex, requestType: 'transfer' } }" title="Manually map to a record."><i class="fas fa-search"></i> Map Request</router-link>
									</template>
									<template v-if="jurisdiction.mappedSubmissionId != null">
										<button title="Undo mapping" type="button" class="btn btn-circle" @click="click_UndoMapping(index,childIndex,$event)"><i class="fas fa-undo"></i></button>
									</template>
								</td>
								<td>{{jurisdiction.jurisdictionDescription}}</td>
								<td>{{jurisdiction.jurisdiction}}</td>
								<td>{{jurisdiction.receivedDate | formatDate}}</td>
								<td>{{jurisdiction.requestDate | formatDate}}</td>
								<td>{{jurisdiction.testLab}}</td>
								<td>{{jurisdiction.workOrderNumber}}</td>
								<td>
									<span v-if="jurisdiction.missingBillingReference" style="font-weight:bold; color:red;" title="Billing reference was missing when this flatfile was uploaded.">
										<i class="fas fa-exclamation-triangle"></i>
									</span>
									<span v-else>
									</span>
								</td>
								<td align="right">
									<button title="Update selected transfer request." type="button" class="btn btn-warning btn-circle" @click="click_updateTransferRequest({index: index, childIndex: childIndex, mode: 'single', letterNumber: transferPackage.letterNumber})"><i class="fas fa-edit"></i></button>
									<button title="Create selected transfer request." type="button" class="btn btn-success btn-circle" @click="click_createTransferRequests(index)"><i class="fas fa-save"></i></button>
									<button title="Delete selected transfer request." type="button" class="btn btn-danger btn-circle" @click="click_deleteTransferRequest({index: index, childIndex: childIndex})"><i class="fas fa-times"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import api from '../../../api/submissionimport'
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')
	export default {
		components: {
		},
		props: {
		},
		data() {
			return {
			}
		},
		filters: {
		},
		created: function () {
		},
		methods: {
			...mapActions([
				'setTransferPackageChildrenVisibilityFlag',
				'setTransferRequestDetail',
				'setTransferRequestDetailPopup',
				'setStagedRequestMovePopup',
				'setMoveStagedRequest',
				'deleteTransferRequest',
				'deleteTransferPackageRequest',
				'createTransferRequests',
				'fetchStagedTransferRequests',
				'updateAmbiguousMapping',
			]),
			click_setChildrenVisibilityFlag: function (index) {
				let options = {
					index: index, type: 'staged'
				};
				this.setTransferPackageChildrenVisibilityFlag(options);
			},
			click_updateTransferRequest: function (options) {
				if (options.mode === 'multiple' && this.stagedTransferRequests[options.index].children.filter((item) => { return item.selected }).length == 0) {
					bootbox.alert("Please select atleast one jurisdictional transfer request to update.");
					return false;
				}
				this.setTransferRequestDetail(options);
				this.setTransferRequestDetailPopup(true);
			},
			click_deleteTransferRequest(options) {
				let alertMessage = 'Are you sure you would like to delete this transfer request?';
				if (options.childIndex >= 0) {
					const childCount = this.stagedTransferRequests[options.index].children.length;
					if (childCount == 1) {
						alertMessage += ' (This is the only jurisdiction in this request)';
					}
					bootbox.confirm(alertMessage, (result) => {
						if (result)
							this.deleteTransferRequest({ index: options.index, childIndex: options.childIndex });
					});
				}
				else {
					alertMessage += ' (This will delete all requests for this flatfile submission.)';
					bootbox.confirm(alertMessage, (result) => {
						if (result)
							this.deleteTransferPackageRequest({ index: options.index });
					});
				}
			},
			click_createTransferRequests: function (index) {
				const transfersToCreate = this.stagedTransferRequests[index].children.filter((item) => { return item.selected });
				if (transfersToCreate.length == 0) {
					bootbox.alert("Please select atleast one jurisdictional transfer request to create.");
					return false;
				}
				if (transfersToCreate.filter((item) => { return item.fileNumber == null && (item.submissionId == null || item.mappedSubmissionId == null) }).length > 0) {
					bootbox.alert("One or more of the jurisdictional transfer requests are missing a file number, please provide a mapping in order to process this transfer request.");
					return false;
				}
				if (transfersToCreate.filter((item) => { return !item.requestDate || !item.testLab; }).length > 0) {
					bootbox.alert("One or more of the jurisdictional transfer requests are missing submitted date, or testlab.");
					return false;
				}
				this.createTransferRequests(this.stagedTransferRequests[index].children.filter((item) => { return item.selected }));
			},
			click_moveTransferRequests: function (letterNumber) {
				let options = {
					currentQueue: 'Transfer', letterNumber: letterNumber
				};
				this.setMoveStagedRequest(options);
				this.setStagedRequestMovePopup(true);
			},
			click_UndoMapping: function (transferRequestPackageId, transferRequstId, e) {
				let id =
					this.stagedTransferRequests[transferRequestPackageId].children[transferRequstId].id;
				api.unmapFollowUpRequest(id)
					.then(response => {
						this.fetchStagedTransferRequests();
					})
					.catch((error) => {

					})
					.finally(() => {
						DoneLoading();
					});
			},
			change_toggleChildren: function (index, event) {
				const checkBoxState = event.target.checked;
				this.stagedTransferRequests[index].children.forEach((child) => {
					child.selected = checkBoxState;
				});
			},
			change_setMappedSubmission: function (transferRequestPackageIndex, transferRequstId, e) {
				const fileIdentifiers = e.target.options[e.target.selectedIndex].text.split('|');
				const options = {
					requestIndex: transferRequestPackageIndex,
					requestType: 'transfer',
					mappedSelectionOptions: {
						id: e.target.value,
						fileNumber: fileIdentifiers[0].trim(),
						idNumber: fileIdentifiers[1].trim(),
						gameName: fileIdentifiers[2].trim(),
						version: fileIdentifiers[3].trim(),
						dateCode: fileIdentifiers[4].trim(),
						transferRequestKeys: {
							parentIndex: transferRequestPackageIndex,
							childIndex: transferRequstId
						}
					}
				};

				this.updateAmbiguousMapping(options);
			},
		},
		computed: {
			...mapGetters([
				'stagedTransferRequests'
			]),
		},
		watch: {
		}
	}
</script>
<style scoped>
	.transfer-head {
		color: white;
		background-color: #428bca;
	}

	.jurisdiction-head {
		color: white;
		background-color: #5cb85c;
	}

	.jurisdiction-drawer {
		background-color: #e0e0e0;
	}

	.btn-circle {
		width: 30px;
		height: 30px;
		text-align: center;
		padding: 6px 0;
		font-size: 12px;
		line-height: 1.428571429;
		border-radius: 15px;
	}

	.btn-td {
		padding-right: 10px;
	}
</style>
