﻿<template>
	<div ref="TransferRequestDetail" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="col-sm-6">
						<h3 class="modal-title">{{localTransferRequest.letterNumber}}</h3>
						<div v-if="localTransferRequest.mode == 'multiple'">
							<h4>Bulk updating {{localTransferRequest.jurisdictionCount}} - Jurisdiction(s)</h4>
						</div>
						<div v-else>
							<h4>{{localTransferRequest.item.material}}</h4>
							<h4>{{localTransferRequest.item.jurisdictionDescription}} - {{localTransferRequest.item.jurisdiction}}</h4>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Test Lab</label>
							<div class="col-sm-9">
								<Lookup :id="'TestLab'"
										:lookuptextfield="localTransferRequest.item.testLab"
										@updateLookupTextField="updateTestLab"
										lookupajax="Laboratories"
										v-model="localTransferRequest.item.testLabId" />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Submitted Date</label>
							<div class="col-sm-9">
								<DatePicker id="SubmittedDate" name="SubmittedDate" v-model="localTransferRequest.item.requestDate"></DatePicker>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Recieved Date</label>
							<div class="col-sm-9">
								<DatePicker id="RecievedDate" name="RecievedDate" v-model="localTransferRequest.item.receivedDate"></DatePicker>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Work Order Number</label>
							<div class="col-sm-9">
								<input v-model="localTransferRequest.item.workOrderNumber" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-warning" @click="click_SetChanges">
							<i class="fas fa-edit"></i> Update
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	import Lookup from '@/components/utility/Lookup';
	import DatePicker from '@/components/utility/DatePicker';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')
	export default {
		components: {
			Lookup,
			DatePicker,
		},
		props: {
		},
		data() {
			return {
				localTransferRequest: {
					index: undefined,
					jurisdictionCount: undefined,
					childIndex: undefined,
					item: {},
					letterNumber: '',
					mode: '',
				},
			}
		},
		filters: {
		},
		created: function () {
		},
		methods: {
			...mapActions([
				'setTransferRequestDetailPopup',
				'updateLocalTransferRequest'
			]),
			updateTestLab: function (newValue, selectedId) {
				this.localTransferRequest.item.testLabId = selectedId;
				this.localTransferRequest.item.testLab = newValue;
			},
			click_SetChanges: function () {
				$(this.$refs.TransferRequestDetail).modal('hide');
				this.updateLocalTransferRequest(this.localTransferRequest);
			}
		},
		computed: {
			...mapGetters([
				'showTransferRequestDetailPopup',
				'transferRequestDetail'
			]),
		},
		watch: {
			showTransferRequestDetailPopup: function (newVal, oldVal) {
				if (newVal) {
					this.localTransferRequest = this.$lodash.cloneDeep(this.transferRequestDetail);
					$(this.$refs.TransferRequestDetail).modal('show');
					this.setTransferRequestDetailPopup(false);
				}
			}
		},
	}
</script>
<style scoped>
</style>
