﻿<template>
	<div id="snackbar" v-show="this.transferResult.successfulRequests.length > 0 || this.transferResult.errorMessage" v-bind:class="[transferResult.errorMessage ? 'red' : 'white']">
		<h3 v-if="!transferResult.errorMessage && transferResult.failedTransferRequests.length == 0">Transfer(s) created successfully!</h3>
		<h3 v-else>An error occured while processing the transfer request(s).</h3>
		<hr>
		<template v-if="!transferResult.errorMessage">
			<p class="text-left">{{transferResult.successfulRequests.length | wrapInParentheses}} Transfer Requests processed.</p>
			<template v-if="transferResult.failedTransferRequests.length > 0">
				<p class="text-left">The following transfer requests were not processed because the jurisdiction already existed for the given submission.</p>
				<div class="pull-left">
					<ul v-for="(transferRequest, index) in transferResult.failedTransferRequests">
						<li>{{transferRequest.idNumber}} {{ transferRequest.jurisdictionIdInternal | wrapInParentheses}}</li>
					</ul>
				</div>
			</template>
		</template>
		<template v-else>
			{{transferResult.errorMessage}}
		</template>
		<template v-if="this.transferResult.gpsUploadFailed">
			<div class="row">
				<div class="col-sm-12">
					<span title="The flatfile failed to auto-upload to G.P.S. , please manually upload the flatfile.">
						<i style="color:red" class="fas fa-exclamation-triangle"></i> G.P.S. Auto-upload failure.
					</span>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')

	export default {
		components: {
		},
		data() {
			return {

			}
		},
		filters: {
			wrapInParentheses: function (value) {
				if (!value) return ''
				value = '(' + value + ')';
				return value
			}
		},
		created: function () {
		},
		methods: {
			...mapActions([
			]),
		},
		computed: {
			...mapGetters([
				'transferResult',
			])
		},
		watch: {

		},
	}
</script>

<style scoped>
	.red {
		background: #d9534f;
	}

	.white {
		background: white;
	}

	#snackbar {
		min-width: 250px;
		margin-left: 205px;
		text-align: center;
		border-radius: 2px;
		border-style: dotted;
		padding: 16px;
		position: fixed;
		z-index: 1;
		bottom: 30px;
		left: 50%;
		font-size: 17px;
	}

		#snackbar.show {
			visibility: visible;
			-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}

	@-webkit-keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@-webkit-keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	@keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}
</style>
