﻿<template>
	<div class="main">
		<h3 class="text-center"><i class="fas fa-fw fa-cubes"></i> Staged Transfer Requests</h3>
		<h3>Pending</h3>
		<TransferRequestTable></TransferRequestTable>
		<br />
		<h3>Recently Completed</h3>
		<CompletedTransferRequestTable></CompletedTransferRequestTable>
		<TransferRequestDetailEdit></TransferRequestDetailEdit>
		<StagedRequestMove></StagedRequestMove>
		<TransferResult></TransferResult>
	</div>
</template>

<script>
	import TransferRequestTable from '@/components/submission/import/TransferRequestTable.vue';
	import TransferResult from '@/components/submission/import/TransferResult.vue';
	import CompletedTransferRequestTable from '@/components/submission/import/CompletedTransferRequestTable.vue';
	import TransferRequestDetailEdit from '@/components/submission/import/TransferRequestDetailEdit';
	import StagedRequestMove from '@/components/submission/import/StagedRequestMove.vue';
	import { createNamespacedHelpers } from 'vuex';


	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')

	export default {
		components: {
			TransferRequestDetailEdit,
			StagedRequestMove,
			TransferRequestTable,
			CompletedTransferRequestTable,
			TransferResult
		},
		data() {
			return {

			}
		},
		created: function () {
			DoneLoading();
		},
		methods: {
			...mapActions([]),
		},
		computed: {
			...mapGetters([])
		},
		watch: {

		},
	}
</script>

<style scoped>
</style>
