﻿<template>
	<div class="import-file">
		<h1 id="title" class="import-title text-center"><i class="fas fa-fw fa-upload" :style="uploadIcon"></i><i :style="uploadLoadingIcon" class="fas fa-spinner fa-pulse fa-1x"></i> Import <span>{{this.selectedManufacturerGroupTile.title}}</span> Flat File</h1>
		<div class="upload">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th></th>
							<th>Name</th>
							<th>Manufacturer</th>
							<th>Size</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr v-if="!files.length">
							<td colspan="7">
								<div class="text-center p-5">
									<h4>Drop files anywhere to upload</h4>
								</div>
							</td>
						</tr>
						<tr v-for="(file, index) in files" :key="file.id">
							<td>{{index + 1}}</td>
							<td>
								<i style="color:green" class="far fa-file-excel"></i>
							</td>
							<td>
								<div class="filename">
									{{file.name}}
								</div>
								<div class="progress" v-if="file.active || file.progress !== '0.00'">
									<div :class="{'progress-bar': true, 'progress-bar-striped': true, 'bg-danger': file.error, 'progress-bar-animated': file.active}" role="progressbar" :style="{width: file.progress + '%'}">{{file.progress}}%</div>
								</div>
							</td>
							<td>
								<template v-if="selectedManufacturerGroupTile.requiresManufacturerSelection">
									<SelectStandard v-model="file.manufacturer" :options="manufacturerList" style="width:100%"></SelectStandard>
								</template>
								<template v-else>
									N/A
								</template>
							</td>
							<td>{{file.size | formatSize}}</td>
							<td v-if="file.error">
								<span title="Something went wrong with the import of this flat file. Please check the file for formatting or data issues; remove this row; and try again.">
									<i style="color:red" class="fas fa-exclamation-triangle"></i> Import Failure
								</span>
							</td>
							<td v-else-if="file.success">success</td>
							<td v-else-if="file.active">active</td>
							<td v-else></td>
							<td>
								<div class="btn-group">
									<a href="#" @click.prevent="$refs.upload.remove(file)">Remove</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="import-footer">
				<div class="btn-group">
					<file-upload class="btn btn-primary"
								 :post-action="postAction"
								 :extensions="extensions"
								 :accept="accept"
								 :multiple="multiple"
								 :size="size || 0"
								 :drop="drop"
								 :add-index="addIndex"
								 :data="data"
								 v-model="files"
								 @input-filter="inputFilter"
								 @input-file="inputFile"
								 ref="upload">
						<i class="fas fa-file"></i>
						Select
					</file-upload>
					<button type="button" class="btn btn-success" v-show="shouldShow_UploadButton()" v-if="!$refs.upload || !$refs.upload.active" @click.prevent="click_upload()">
						<i class="fas fa-arrow-up" aria-hidden="true"></i>
						Start Upload
					</button>
				</div>
				<button type="button" class="btn btn-danger pull-right" v-show="files.length > 0" @click.prevent="click_clear">
					<i class="fas fa-times" aria-hidden="true"></i>
					Remove All
				</button>
			</div>
			<div class="row" v-if="selectedManufacturerGroupTile.requiresManufacturerSelection">
				<div class="col-sm-3">
					<div class="form-group" v-show="files.length > 0">
						<label for="setAllManufacturers">Set all manufacturers</label>
						<SelectStandard id="setAllManufacturers" :options="manufacturerList" v-model="selectedManufacturer" style="width:100%"></SelectStandard>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport');
	import FileUpload from 'vue-upload-component'
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	export default {
		components: {
			FileUpload,
			SelectStandard
		},
		data() {
			return {
				selectedManufacturer: '',
				files: [],
				accept: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
				extensions: ['xls', 'xlsx'],
				postAction: jsPath + 'submission/import/ImportFlatFile',
				minSize: 1024,
				size: 1024 * 1024 * 10,
				multiple: true,
				drop: true,
				addIndex: false,
				uploadLoadingIcon: {
					display: 'none'
				},
				uploadIcon: {
					display: 'inline-block'
				},
				data: {}
			}
		},
		created: function () {
		},
		methods: {
			...mapActions([		
				'fetchStagedNewSubmissions',
				'fetchStagedTransferRequests',	
				'fetchStagedWDRJRequests',
				'setSelectedManufacturerGroupTile',
				'fetchRequestsRequiringReviewCount'
			]),
			inputFilter(newFile, oldFile, prevent) {
				if (newFile && !oldFile) {
					// Before adding a file
					// Filter system files or hide files
					if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
						return prevent()
					}
				}
			},
			inputFile(newFile, oldFile) {
				if (newFile && !oldFile) {
					// add
				}
				if (newFile && oldFile) {
					//set selected Manufacturer
					var tempManufacturer = this.selectedManufacturer;
					//this.files.forEach(x => {
					//	if (x.id == newFile.id) {
					//		tempManufacturer = x.manufacturer;
					//		return;
					//	}
					//});

					// update
					newFile.data = { ManufacturerGroupId: this.selectedManufacturerGroupTile.id, Manufacturer: tempManufacturer };
					// Upload error
					if (newFile.error !== oldFile.error) {
						bootbox.alert(newFile.response);
						this.uploadLoadingIcon.display = 'none';
						this.uploadIcon.display = 'inline-block';
					}
					// Upload Success
					if (newFile.success !== oldFile.success) {
						this.fetchStagedNewSubmissions();
						this.fetchStagedTransferRequests();
						this.fetchStagedWDRJRequests();
						this.setSelectedManufacturerGroupTile({});
						this.clear();
						this.fetchRequestsRequiringReviewCount();
					}
				}
				if (!newFile && oldFile) {
					// remove
				}
			},
			shouldShow_UploadButton() {
				let result = false;

				if (this.selectedManufacturerGroupTile.requiresManufacturerSelection) {
					result = this.files.filter(file => file.active || file.success || file.error).length === 0 && this.files.length > 0; //&& this.files.filter(file => !file.manufacturer).length === 0;
				}
				else {
					result = this.files.filter(file => file.active || file.success || file.error).length === 0 && this.files.length > 0;
				}

				return result;
			},
			clear() {
				this.uploadLoadingIcon.display = 'none';
				this.uploadIcon.display = 'inline-block';
				this.$refs.upload.clear();
				//this.selectedManufacturer = '';
			},
			click_clear() {
				this.clear();
			},
			handle_setAllManufacturers() {
				//console.log("In" + this.file.length);
				//this.files.forEach((x) => {
				//	console.log("In her");
				//	if (!x.active && !x.success && !x.error) {
				//		x.manufacturer = this.selectedManufacturer;
				//	}
				//});
			},
			click_upload() {
				this.uploadLoadingIcon.display = 'inline-block';
				this.uploadIcon.display = 'none';
				this.$refs.upload.active = true;
			}
		},
		computed: {
			...mapGetters(['manufacturerList', 'selectedManufacturerGroupTile'])
		},
		watch: {
			selectedManufacturer: function (newVal, oldVal) {
				this.handle_setAllManufacturers();
			},
			selectedManufacturerGroupTile: function () {
				this.clear();

				if (this.selectedManufacturerGroupTile.title == "IGT")
				{
					this.selectedManufacturer = "IGT";
					file.manufacturer = "IGT";
				}
			}
		}
	}
</script>
<style scoped>
	.import-file .btn-group .dropdown-menu {
		display: block;
		visibility: hidden;
		transition: all .2s
	}

	.import-file .btn-group:hover > .dropdown-menu {
		visibility: visible;
	}

	.import-file label.dropdown-item {
		margin-bottom: 0;
	}

	.import-file .btn-group .dropdown-toggle {
		margin-right: .6rem
	}

	.import-file .filename {
		margin-bottom: .3rem
	}

	.import-file .btn-is-option {
		margin-top: 0.25rem;
	}

	.import-file .import-footer {
		padding: .5rem 0;
		border-top: 1px solid #e9ecef;
		border-bottom: 1px solid #e9ecef;
	}

	.import-file .drop-active {
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		position: fixed;
		z-index: 9999;
		opacity: .6;
		text-align: center;
		background: #000;
	}

		.import-file .drop-active h3 {
			margin: -.5em 0 0;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			font-size: 40px;
			color: #fff;
			padding: 0;
		}
</style>
