﻿<template>
	<div ref="WDRJRequestDetail" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="col-sm-6">
						<h3 class="modal-title">{{localWDRJRequest.letterNumber}}</h3>
						<div v-if="localWDRJRequest.mode == 'multiple'">
							<h4>Bulk updating {{localWDRJRequest.jurisdictionCount}} - Jurisdiction(s)</h4>
						</div>
						<div v-else>
							<h4>{{localWDRJRequest.item.material}}</h4>
							<h4>{{localWDRJRequest.item.jurisdictionDescription}} - {{localWDRJRequest.item.jurisdiction}}</h4>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Close Date</label>
							<div class="col-sm-9">
								<DatePicker id="CloseDate" name="CloseDate" v-model="localWDRJRequest.item.closeDate"></DatePicker>
								<span class="field-validation-error" v-if="$v.localWDRJRequest.item.closeDate.$error && !$v.localWDRJRequest.item.closeDate.required">Close date is required.</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Status</label>
							<div class="col-sm-9">
								<select class="vue-select form-control" style="width:100%" v-model="localWDRJRequest.item.selectedStatus">
									<option></option>
									<option>WD</option>
									<option>RJ</option>
								</select>
								<span class="field-validation-error" v-if="$v.localWDRJRequest.item.selectedStatus.$error && !$v.localWDRJRequest.item.selectedStatus.required">Status is required.</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Reason</label>
							<div class="col-sm-9">
								<select class="vue-select form-control" style="width:100%" v-model="localWDRJRequest.item.wdrjReason">
									<option></option>
									<option v-for="option in this.wdrjReasonList" v-bind:value="option.text"> {{option.text}} </option>
								</select>
								<span class="field-validation-error" v-if="$v.localWDRJRequest.item.wdrjReason.$error && !$v.localWDRJRequest.item.wdrjReason.required">Reason is required.</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-warning" @click="click_SetChanges">
							<i class="fas fa-edit"></i> Update
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	import Lookup from '@/components/utility/Lookup';
	import DatePicker from '@/components/utility/DatePicker';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')
	import { required } from 'vuelidate/lib/validators'
	export default {
		components: {
			Lookup,
			DatePicker,
		},
		props: {
		},
		data() {
			return {
				localWDRJRequest: {
					index: undefined,
					jurisdictionCount: undefined,
					childIndex: undefined,
					item: {},
					letterNumber: '',
					mode: '',
				},
			}
		},
		filters: {
		},
		created: function () {
		},
		methods: {
			...mapActions([
				'setWDRJRequestDetailPopup',
				'updateLocalWDRJRequest',

			]),
			click_SetChanges: function () {
				this.$v.$touch();

				if (this.$v.$invalid && this.localWDRJRequest.mode === 'single') {

				}
				else {
					$(this.$refs.WDRJRequestDetail).modal('hide');
					this.updateLocalWDRJRequest(this.localWDRJRequest);
				}
			}
		},
		computed: {
			...mapGetters([
				'showWDRJRequestDetailPopup',
				'wdrjRequestDetail',
				'wdrjReasonList'
			]),
		},
		watch: {
			showWDRJRequestDetailPopup: function (newVal, oldVal) {
				if (newVal) {
					this.localWDRJRequest = this.$lodash.cloneDeep(this.wdrjRequestDetail);
					$(this.$refs.WDRJRequestDetail).modal('show');
					this.setWDRJRequestDetailPopup(false);
					this.$v.$reset();
				}
			}
		},
		validations: {
			localWDRJRequest: {
				item: {
					closeDate: {
						required
					},
					wdrjReason: {
						required
					},
					selectedStatus: {
						required
					}
				}
			}
		}
	}
</script>
<style scoped>
</style>
