﻿<template>
	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr class="wdrj-head">
				<th>Letter Number</th>
				<th>Imported By</th>
				<th>Imported On</th>
				<th>Jurisdiction Count</th>
				<th><!--Action Links--></th>
			</tr>
		</thead>
		<tbody v-for="(wdrjPackage, index) in stagedWithdrawAndRejectRequests">
			<tr>
				<td>{{wdrjPackage.letterNumber}}</td>
				<td>{{wdrjPackage.userName}}</td>
				<td>{{wdrjPackage.insertDate | formatDate}}</td>
				<td>{{wdrjPackage.children.length}}</td>
				<td align="right" class="btn-td">
					<button type="button"
							class="btn btn-primary btn-circle"
							data-toggle="collapse"
							@click.prevent="click_setChildrenVisibilityFlag(index)"
							v-bind:data-target="'#jurisdictionDrawer_' + index">
						<i class="fa"
						   v-bind:class="{ 'fa-caret-down': !wdrjPackage.childrenVisible, 'fa-caret-up': wdrjPackage.childrenVisible }">
						</i>
					</button>
					<button title="Update selected wd / rj requests." type="button" class="btn btn-warning btn-circle" @click="click_updateWDRJRequest({index: index, mode: 'multiple', letterNumber: wdrjPackage.letterNumber})"><i class="fas fa-edit"></i></button>
					<button title="Move WD/RJ requests." type="button" class="btn btn-info btn-circle" @click="click_moveWDRJRequests(wdrjPackage.letterNumber)"><i class="fas fa-bus"></i></button>
					<button title="Create selected wd / rj requests." type="button" class="btn btn-success btn-circle" @click="click_processWDRJRequests(index)"><i class="fas fa-save"></i></button>
					<button title="Delete all wd / rj requests." type="button" class="btn btn-danger btn-circle" @click="click_deleteWDRJRequest({index: index, childIndex: -1})"><i class="fas fa-times"></i></button>
				</td>
			</tr>
			<tr v-bind:id="'jurisdictionDrawer_' + index" class="collapse">
				<td></td>
				<td colspan="5" class="jurisdiction-drawer">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr class="jurisdiction-head">
								<th><input type="checkbox" @change="change_toggleChildren(index,$event)" /></th>
								<th>Material</th>
								<th>File Number</th>
								<th>Jurisdiction</th>
								<th>Close Date</th>
								<th>Status</th>
								<th>Reason</th>
								<th>Missing Billing Reference</th>
								<th><!--Action Links--></th>
							</tr>
						</thead>
						<tbody v-for="(jurisdiction, childIndex) in wdrjPackage.children">
							<tr>
								<td><input type="checkbox" v-model="jurisdiction.selected" /></td>
								<td>{{jurisdiction.material}}</td>
								<td>
									<template v-if="jurisdiction.fileNumber || jurisdiction.submissionMatchCount === 1">
										<span v-bind:title="jurisdiction.idNumber + ' | ' + jurisdiction.gameName + ' | ' + jurisdiction.version + ' | ' + jurisdiction.dateCode">{{jurisdiction.fileNumber}}</span>
									</template>
									<template v-else-if=" jurisdiction.submissionMatchCount === 0">
										<router-link :to="{ name: 'mapRequests', params: { requestId: index, childIndex: childIndex, requestType: 'withdrawreject' } }" title="No record matches this request, please manually map to a record."><i class="fas fa-search"></i> Map Request</router-link>
									</template>
									<template v-else>
										<select class="vue-select" style="width:100%" @change="change_setMappedSubmission(index,childIndex,$event)">
											<option></option>
											<option v-for="option in jurisdiction.potentialSubmissions"
													v-bind:value="option.id">
												{{ option.fileNumber }} | {{option.idNumber}} | {{ option.gameName}} | {{ option.version }} | {{option.dateCode}} | {{option.jurisdictionStatus}}
											</option>
										</select>
										<router-link :to="{ name: 'mapRequests', params: { requestId: index, childIndex: childIndex, requestType: 'withdrawreject' } }" title="Manually map to a record."><i class="fas fa-search"></i> Map Request</router-link>
									</template>
									<template v-if="jurisdiction.mappedSubmissionId != null">
										<button title="Undo mapping" type="button" class="btn btn-circle" @click="click_UndoMapping(index,childIndex,$event)"><i class="fas fa-undo"></i></button>
									</template>
								</td>
								<td>{{jurisdiction.jurisdictionDescription}} ({{jurisdiction.jurisdiction}})</td>
								<td>{{jurisdiction.closeDate | formatDate }}</td>
								<td>{{jurisdiction.selectedStatus}}</td>
								<td>{{jurisdiction.wdrjReason}}</td>
								<td>
									<span v-if="jurisdiction.missingBillingReference" style="font-weight:bold; color:red;" title="Billing reference was missing when this flatfile was uploaded.">
										<i class="fas fa-exclamation-triangle"></i>
									</span>
									<span v-else>

									</span>
								</td>
								<td align="right">
									<button title="Update selected wd / rj request." type="button" class="btn btn-warning btn-circle" @click="click_updateWDRJRequest({index: index, childIndex: childIndex, mode: 'single', letterNumber: wdrjPackage.letterNumber})"><i class="fas fa-edit"></i></button>
									<button title="Create selected wd / rj request." type="button" class="btn btn-success btn-circle" @click="click_processWDRJRequests(index)"><i class="fas fa-save"></i></button>
									<button title="Delete selected wd / rj request." type="button" class="btn btn-danger btn-circle" @click="click_deleteWDRJRequest({index: index, childIndex: childIndex})"><i class="fas fa-times"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import api from '../../../api/submissionimport'
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')

	export default {
		components: {
		},
		props: {
		},
		data() {
			return {
			}
		},
		filters: {
		},
		created: function () {
		},
		methods: {
			...mapActions([
				'setWDRJPackageChildrenVisibilityFlag',
				'setWDRJRequestDetail',
				'setWDRJRequestDetailPopup',
				'setStagedRequestMovePopup',
				'setMoveStagedRequest',
				'deleteWDRJRequest',
				'deleteWDRJPackageRequest',
				'processWDRJRequests',
				'fetchStagedWDRJRequests'
			]),
			click_setChildrenVisibilityFlag: function (index) {
				let options = {
					index: index, type: 'staged'
				};

				this.setWDRJPackageChildrenVisibilityFlag(options);
			},
			click_updateWDRJRequest: function (options) {
				if (options.mode === 'multiple' && this.stagedWithdrawAndRejectRequests[options.index].children.filter((item) => { return item.selected }).length == 0) {
					bootbox.alert("Please select atleast one jurisdictional wd / rj request to update.");
					return false;
				}
				this.setWDRJRequestDetail(options);
				this.setWDRJRequestDetailPopup(true);
			},
			click_deleteWDRJRequest(options) {
				let alertMessage = 'Are you sure you would like to delete this transfer request?';

				if (options.childIndex >= 0) {
					const childCount = this.stagedWithdrawAndRejectRequests[options.index].children.length;

					if (childCount == 1) {
						alertMessage += ' (This is the only jurisdiction in this request)';
					}

					bootbox.confirm(alertMessage, (result) => {
						if (result)
							this.deleteWDRJRequest({ index: options.index, childIndex: options.childIndex });
					});
				}
				else {
					alertMessage += ' (This will delete all requests for this flatfile submission.)';
					bootbox.confirm(alertMessage, (result) => {
						if (result)
							this.deleteWDRJPackageRequest({ index: options.index });
					});
				}
			},
			click_processWDRJRequests: function (index) {
				const wdrjToProcess = this.stagedWithdrawAndRejectRequests[index].children.filter((item) => { return item.selected });

				if (wdrjToProcess.length == 0) {
					bootbox.alert("Please select atleast one jurisdictional wd /rj request to create.");
					return false;
				}

				if (wdrjToProcess.filter((item) => { return item.fileNumber == null && (item.submissionId == null || item.mappedSubmissionId == null) }).length > 0) {
					bootbox.alert("One or more of the jurisdictional wd / rj requests are missing a file number, please provide a mapping in order to process this wd /rj request.");
					return false;
				}

				if (wdrjToProcess.filter((item) => { return !item.closeDate || !item.selectedStatus || !item.wdrjReason; }).length > 0) {
					bootbox.alert("One or more of the jurisdictional wd /rj requests are missing a close date, wd / rj selection , or wd / rj reason.");
					return false;
				}

				this.processWDRJRequests(this.stagedWithdrawAndRejectRequests[index].children.filter((item) => { return item.selected }));
			},
			click_moveWDRJRequests: function (letterNumber) {
				let options = {
					currentQueue: 'Withdraw/Reject', letterNumber: letterNumber
				};
				this.setMoveStagedRequest(options);
				this.setStagedRequestMovePopup(true);
			},
			click_UndoMapping: function (wdrjRequestPackageId, wdrjRequstId, e) {
				let requestToUpdate = this.stagedWithdrawAndRejectRequests[wdrjRequestPackageId].children[wdrjRequstId];
				requestToUpdate.submissionId = null;
				requestToUpdate.mappedSubmissionId = null;
				requestToUpdate.fileNumber = null;
				requestToUpdate.idNumber = null;
				requestToUpdate.gameName = null;
				requestToUpdate.version = null;
				requestToUpdate.dataCode = null;
			},
			change_toggleChildren: function (index, event) {
				const checkBoxState = event.target.checked;
				this.stagedWithdrawAndRejectRequests[index].children.forEach((child) => {
					child.selected = checkBoxState;
				});
			},
			change_setMappedSubmission: function (wdrjRequestPackageId, wdrjRequstId, e) {
				const fileIdentifiers = e.target.options[e.target.selectedIndex].text.split('|');


				const mappedSelectionOptions = {
					id: e.target.value,
					fileNumber: fileIdentifiers[0],
					idNumber: fileIdentifiers[1],
					gameName: fileIdentifiers[2],
					version: fileIdentifiers[3],
					dateCode: fileIdentifiers[4],
					wdrjRequestKeys: {
						parentIndex: wdrjRequestPackageId,
						childIndex: wdrjRequstId
					}
				}

				this.helper_updateWDRJRequest(mappedSelectionOptions);
			},
			helper_updateWDRJRequest: function (mappedSelectionOptions) {
				let wdrjRequestForUpdate =
					this.stagedWithdrawAndRejectRequests[mappedSelectionOptions.wdrjRequestKeys.parentIndex].children[mappedSelectionOptions.wdrjRequestKeys.childIndex];
				wdrjRequestForUpdate.submissionId = mappedSelectionOptions.id || null;
				wdrjRequestForUpdate.mappedSubmissionId = mappedSelectionOptions.id || null;
				wdrjRequestForUpdate.fileNumber = mappedSelectionOptions.fileNumber || null;
				wdrjRequestForUpdate.idNumber = mappedSelectionOptions.idNumber || null;
				wdrjRequestForUpdate.gameName = mappedSelectionOptions.gameName || null;
				wdrjRequestForUpdate.version = mappedSelectionOptions.version || null;
				wdrjRequestForUpdate.dateCode = mappedSelectionOptions.dateCode || null;
			}
		},
		computed: {
			...mapGetters([
				'stagedWithdrawAndRejectRequests'
			]),
		},
		watch: {

		}
	}
</script>

<style scoped>
	.wdrj-head {
		color: white;
		background-color: #428bca;
	}

	.jurisdiction-head {
		color: white;
		background-color: #5cb85c;
	}

	.jurisdiction-drawer {
		background-color: #e0e0e0;
	}

	.btn-circle {
		width: 30px;
		height: 30px;
		text-align: center;
		padding: 6px 0;
		font-size: 12px;
		line-height: 1.428571429;
		border-radius: 15px;
	}

	.btn-td {
		padding-right: 10px;
	}
</style>
