﻿<template>
	<div id="snackbar" v-show="this.wdrjResult.successfulRequests.length > 0 || this.wdrjResult.errorMessage" v-bind:class="[this.wdrjResult.overallResult ? 'white' : 'red']">
		<h3 v-if="wdrjResult.overallResult">Withdrawal(s) / Rejection(s) processed successfully!</h3>
		<h3 v-else>An error occured while processing the wd / rj request(s).</h3>
		<hr>
		<template v-if="wdrjResult.overallResult">
			<p class="text-left">{{wdrjResult.successfulRequests.length | wrapInParentheses}} wd / rj Requests processed.</p>
			<template v-if="wdrjResult.failedWDRJRequests.length > 0">
				<p class="text-left">The following  wd / rj requests were not processed.</p>
				<div class="pull-left">
					<ul v-for="(wdrjRequest, index) in wdrjResult.failedWDRJRequests">
						<li>{{wdrjRequest.idNumber}} {{ wdrjRequest.internalJurisdictionId | wrapInParentheses}}</li>
					</ul>
				</div>
			</template>
		</template>
		<template v-else>
			{{wdrjResult.errorMessage}}
		</template>
		<template v-if="this.wdrjResult.gpsUploadFailed">
			<div class="row">
				<div class="col-sm-12">
					<span title="The flatfile failed to auto-upload to G.P.S. , please manually upload the flatfile.">
						<i style="color:red" class="fas fa-exclamation-triangle"></i> G.P.S. Auto-upload failure.
					</span>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')

	export default {
		components: {
		},
		data() {
			return {

			}
		},
		filters: {
			wrapInParentheses: function (value) {
				if (!value) return ''
				value = '(' + value + ')';
				return value
			}
		},
		created: function () {
		},
		methods: {
			...mapActions([
			]),
		},
		computed: {
			...mapGetters([
				'wdrjResult',
			])
		},
		watch: {

		},
	}
</script>

<style scoped>
	.red {
		background: #d9534f;
	}

	.white {
		background: white;
	}

	#snackbar {
		min-width: 250px;
		margin-left: 205px;
		text-align: center;
		border-radius: 2px;
		border-style: dotted;
		padding: 16px;
		position: fixed;
		z-index: 1;
		bottom: 30px;
		left: 50%;
		font-size: 17px;
	}

		#snackbar.show {
			visibility: visible;
			-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}

	@-webkit-keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@-webkit-keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	@keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}
</style>
