﻿<template>
	<div class="main">
		<h3 class="text-center"><i class="fas fa-fw fa-bug"></i>Staged WD / RJ Requests</h3>
		<h3>Pending</h3>
		<WDRJRequestTable></WDRJRequestTable>
		<br />
		<h3>Recently Completed</h3>
		<CompletedWDRJRequestTable></CompletedWDRJRequestTable>
		<WDRJRequestDetailEdit></WDRJRequestDetailEdit>
		<WithdrawAndRejectResult />
		<StagedRequestMove></StagedRequestMove>
	</div>
</template>

<script>
	import WDRJRequestTable from '@/components/submission/import/WDRJRequestTable.vue';
	import WDRJRequestDetailEdit from '@/components/submission/import/WDRJRequestDetailEdit';
	import WithdrawAndRejectResult from '@/components/submission/import/WithdrawAndRejectResult.vue';
	import CompletedWDRJRequestTable from '@/components/submission/import/CompletedWDRJRequestTable.vue';
	import StagedRequestMove from '@/components/submission/import/StagedRequestMove.vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('submissionImport')

	export default {
		components: {
			CompletedWDRJRequestTable,
			WDRJRequestTable,
			WDRJRequestDetailEdit,
			WithdrawAndRejectResult,
			StagedRequestMove
		},
		data() {
			return {

			}
		},
		created: function () {
			DoneLoading();
		},
		methods: {
			...mapActions([
			]),

		},
		computed: {
			...mapGetters([

			])
		},
		watch: {

		},
	}
</script>

<style scoped>
</style>
