﻿<template>
	<div>
		<form ref="ProtocolDeficienciesEditForm" method="post">
			<input type="hidden" name="Mode" v-model="vm.mode" />
			<page-header :title="'Protocol Deficiency ' + (vm.reviewMode ? 'Review' : 'Edit') + ' - ' + vm.deficiency.protocol">
				<i v-if="saveInProgress" class="fa fa-spinner fa-pulse"></i>
				<template v-if="vm.reviewMode">
					<a @click="approveDeficiency" :class="['btn btn-success btn-sm', { disabled: saveInProgress }]">Approve</a>
					<a @click="rejectDeficiencyPrompt" :class="['btn btn-danger btn-sm', { disabled: saveInProgress }]">Reject</a>
				</template>
				<template v-else-if="showSubmitForReview">
					<a @click="submitForReview" :class="['btn btn-primary btn-sm', { disabled: saveInProgress }]">Submit for Review</a>
				</template>
				<template v-else>
					<a @click="save" :class="['btn btn-primary btn-sm', { disabled: saveInProgress }]">{{ vm.mode | modeText  }}</a>
				</template>
				<a-link :href="previousUrl" class="btn btn-sm btn-primary">Cancel</a-link>
			</page-header>
			<div class="form-group form-group-sm">
				<div class="row checkbox">
					<div class="col-lg-1"><label><input type="checkbox" name="remember" v-model="vm.deficiency.critical"> Critical</label></div>
					<div class="col-lg-2"><label><input type="checkbox" name="remember" v-model="vm.deficiency.includeOnLetter">Include In Letter</label></div>
					<div class="col-lg-2"><label><input type="checkbox" name="remember" v-model="vm.deficiency.includeOnWVLetter" >Include In Letter (WV)</label></div>
				</div>
				<div class="form-group">
					<label for="description">Description:</label>
					<div class="description-input"><EditableDiv :content="vm.deficiency.description" @updateText="updateDescription"></EditableDiv></div>
				</div>
			</div>
			<div :class="{ 'vuelidate-error': $v.$anyError }">
				<div class="field-validation-error" v-if="$v.vm.deficiency.description.$error && !$v.vm.deficiency.description.required">
					Description can't be blank<br />
				</div>
				<div class="field-validation-error" v-if="!$v.vm.deficiency.description.maxLength">
					Description is too long<br />
				</div>
				<div class="field-validation-error" v-if="$v.$anyError">
					There were other errors in this form.
				</div>
			</div>
			<div v-if="vm.reviewMode">
				Submitted by {{ vm.deficiency.addUserName }} on {{ vm.deficiency.addDate | formatDateTimeLocal }}
			</div>
			<hr class="form-hr" />
			<SASEdit ref="SASEditRef" v-if="vm.deficiency.protocol === 'SAS'" :deficiency="vm.deficiency"></SASEdit>
			<GATEdit ref="GATEditRef" v-if="vm.deficiency.protocol === 'GAT'" :deficiency="vm.deficiency"></GATEdit>
			<div class="form-inline">
				<div class="form-group">
					<label for="ManufacturerGroup">Manufacturer Group: </label>
					<Lookup id="ManufacturerGroup" name="ManufacturerGroup" @updateLookupTextField="updatedManufacturerGroup" lookupajax="ProtocolPlatformsManufacturerGroups" :lookuptextfield="manufacturerGroupName" v-model="manufacturerGroupId" class="form-control" />
				</div>
				<div class="form-group">
					<label for="ProtocolPlatform">Protocol Platform: </label>
					<LookupMultiple :disableLookup="disablePlatformsDropdown"
									:filter="platformFilter"
									lookupajax="Platforms"
									v-model="protocolPlatformIds"
									class="form-control"
									id="ProtocolPlatform"
									name="ProtocolPlatform"
									:options="protocolPlatformOptions" />
				</div>
				<div class="field-validation-error" v-if="$v.protocolPlatformIds.$error && !$v.protocolPlatformIds.required">
					Need at least one platform
				</div>
			</div>
		</form>
		<Modal v-if="showModal" @close="closeModal" modalContainerWidth="40%">
			<template v-slot:header>
				<h2>Rejecting this Submitted Deficiency</h2>
			</template>
			<template v-slot:body>
				Please explain why this deficiency is being rejected.
				<br />
				<div class="description-input"><EditableDiv :content="rejectionReason" @updateHTML="updateRejectReason"></EditableDiv></div>
				<br />
				
			</template>
			<template v-slot:footer>
				<a @click="showModal = false" :class="['btn btn-primary btn-sm float-right', { disabled: saveInProgress }]">Cancel</a>
				<a @click="rejectDeficiency" :class="['btn btn-danger btn-sm float-right', { disabled: saveInProgress }]">Reject</a>
			</template>
		</Modal>
	</div>
</template>
<script>
	import SASEdit from '@/components/tools/protocoldeficiencies/SASEdit.vue';
	import GATEdit from '@/components/tools/protocoldeficiencies/GATEdit.vue';
	import PageHeader from '@/components/utility/PageHeader.vue';
	import EditableDiv from '@/components/utility/ContentEditable.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import ALink from '@/components/utility/ALink.vue';
	import Modal from '@/components/utility/Modal.vue';
	import { required, maxLength, requiredIf, minLength } from 'vuelidate/lib/validators';
	import { isNull } from '@/common';
	import { isNotNull } from '@/common';
	export default {
		components: {
			SASEdit,
			GATEdit,
			Lookup,
			ALink,
			LookupMultiple,
			PageHeader,
			EditableDiv,
			Modal
		},
		data() {
			return {
				vm: {
					...initialData,
				},
				previousUrl: initialData.reviewMode ? "/tools/protocoldeficiencies?mode=Submitted" : "/tools/protocoldeficiencies/",
				saveInProgress: false,
				manufacturerGroupId: 0,
				manufacturerGroupName: "",
				protocolPlatformOptions: initialData.deficiency.platforms.length > 0 ? initialData.deficiency.platforms.map(p => { return { text: p.name, value: p.id.toString(), selected: true } }) : [],
				protocolPlatformIds: initialData.deficiency.platforms.length > 0 ? initialData.deficiency.platforms.map(p => p.id.toString()) : [],
				showModal: false,
				rejectionReason: ""
			}
		},
		computed: {
			showSubmitForReview: function () {
				let isRodgerTest = isNotNull(this.vm.deficiency.description) && this.vm.deficiency.description.includes('Rodger');
				let isRejected = isNotNull(this.vm.deficiency.lifecycle) && this.vm.deficiency.description.includes('Rejected');
				return isRodgerTest ||isRejected;
			},
			disablePlatformsDropdown: function () {
				return isNull(this.manufacturerGroupId) || this.manufacturerGroupId == 0;
			},
			platformFilter: function () {
				return {
					ManufactureGroupId: this.manufacturerGroupId
				}
			},
			//...mapGetters([
			//	'mode',
			//])
		},
		mounted: function () {
		},
		methods: {
			closeModal:function() {
				this.showModal = false;
			},
			updateRejectReason: function (value) {
				this.rejectionReason = value;
			},
			updateDescription: function (value) {
				this.vm.deficiency.description = value;
			},
			updatedManufacturerGroup: function (value) {
				this.manufacturerGroupName = value;
			},
			rejectDeficiencyPrompt: function () {
				this.showModal = true;
			},
			approveDeficiency: function () {
				this.save();
			},
			rejectDeficiency: function () {
				this.saveInProgress = true;
				let defId = this.vm.deficiency.id;
				let rejectReason = this.rejectionReason;
				this.$http.post('Tools/ProtocolDeficiencies/Reject', {
					deficiencyId: defId,
					reason: rejectReason
				})
					.then(response => {
						window.location.href = this.previousUrl;
					})
					.catch(e => {
						this.saveInProgress = false;
						//this.saveFailed = true;
						console.error(e);
					});
			},
			//This is only used for testing
			submitForReview: function() {
				if(this.validate()) {
					return;
				}
				this.saveInProgress = true;
				this.vm.deficiency.platforms = this.protocolPlatformIds.map((plat) => { return { id: parseInt(plat) } });
				let testStringify = JSON.stringify(this.vm.deficiency);
				let protocol = this.vm.deficiency.protocol;
				this.$http.post('Tools/ProtocolDeficiencies/SubmitForReview', {
					deficiencyString: testStringify,
					protocol: protocol
				})
					.then(response => {
						window.location.href = this.previousUrl;
					})
					.catch(e => {
						this.saveInProgress = false;
						//this.saveFailed = true;
						console.error(e);
					});
			},
			save: function () {
				if (this.validate()) {
					return;
				}
				this.saveInProgress = true;
				this.vm.deficiency.platforms = this.protocolPlatformIds.map((plat) => { return { id: parseInt(plat) } });
				let testStringify = JSON.stringify(this.vm.deficiency);
				let protocol = this.vm.deficiency.protocol;
				this.$http.post('Tools/ProtocolDeficiencies/Save', {
					deficiencyString: testStringify,
					protocol: protocol
				})
					.then(response => {
						window.location.href = this.previousUrl;
					})
					.catch(e => {
						this.saveInProgress = false;
						//this.saveFailed = true;
						console.error(e);
					});
			},
			validate: function () {
				this.$v.$touch();
				if (this.vm.deficiency.protocol === 'SAS') {
					this.$refs.SASEditRef.validate();
				}
				else {
					this.$refs.GATEditRef.validate();
				}
				return this.$v.$invalid;
			},
			//...mapActions([
			//	'setAddMode',
			//])
		},
		watch: {
		},
		created: function () {
		},
		validations: {
			protocolPlatformIds: {
				required,
				minLength: minLength(1),
			},
			vm: {
				deficiency: {
					description: {
						maxLength: maxLength(2000),
						required
					},
					section: {
						required: requiredIf(function (def) {
							return def.protocol === 'SAS';
						}),
						maxLength: maxLength(150)
					},
					lp: {
						required: requiredIf(function (def) {
							return def.protocol === 'SAS' && (isNull(def.exception) || def.exception.trim() === '');
						}),
						maxLength: maxLength(10)
					},
					exception: {
						required: requiredIf(function (def) {
							return def.protocol === 'SAS' && (isNull(def.lp) || def.lp.trim() === '');
						}),
						maxLength: maxLength(150)
					},
					pollName: {
						required: requiredIf(function (def) {
							return def.protocol === 'SAS';
						}),
						maxLength: maxLength(100)
					},
					command: {
						required: requiredIf(function (def) {
							return def.protocol === 'GAT';
						}),
						maxLength: maxLength(10)
					},
					commandName: {
						required: requiredIf(function (def) {
							return def.protocol === 'GAT';
						}),
						maxLength: maxLength(100)
					},
					requirement: {
						required: requiredIf(function (def) {
							return def.protocol === 'GAT';
						}),
						maxLength: maxLength(200)
					},
				}
			}
		},
		provide: function () {
			return {
				$v: this.$v
			};
		}
	}
</script>
<style scoped>
	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}
	div.description-input {
		border: 1px solid darkgrey;
		min-height: 150px;
		display: flex;
	}
	.vuelidate-error {
		border: 2px solid red;
		padding: 5px;
	}
	.float-right {
		float: right;
	}
</style>
