﻿<template>
	<div>
		<div class="form-horizontal">
			
			<div class="form-group form-group-sm">
				<label for="command" class="control-label col-sm-2">Command</label>
				<div class="col-sm-3">
					<input id="command" name="command" class="form-control" v-model="deficiency.command" />
					<div class="field-validation-error" v-if="!$v.deficiency.command.maxLength">
						Command is too long
					</div>
					<div class="field-validation-error" v-if="$v.deficiency.command.$error && !$v.deficiency.command.required">
						Command can't be blank
					</div>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label for="commandName" class="control-label col-sm-2">Command Name</label>
				<div class="col-sm-3">
					<input id="commandName" name="commandName" class="form-control" v-model="deficiency.commandName" />
					<div class="field-validation-error" v-if="!$v.deficiency.commandName.maxLength">
						Command Name is too long
					</div>
					<div class="field-validation-error" v-if="$v.deficiency.commandName.$error && !$v.deficiency.commandName.required">
						Command Name can't be blank
					</div>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label for="requirement" class="control-label col-sm-2">Requirement</label>
				<div class="col-sm-3">
					<input id="requirement" name="requirement" class="form-control" v-model="deficiency.requirement" />
					<div class="field-validation-error" v-if="!$v.deficiency.requirement.maxLength">
						Requirement is too long
					</div>
					<div class="field-validation-error" v-if="$v.deficiency.requirement.$error && !$v.deficiency.requirement.required">
						Requirement can't be blank
					</div>
				</div>

			</div>
		</div>

	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';

	//const { mapGetters, mapActions } = createNamespacedHelpers('clauseTemplateManagement');
	import { required, maxLength, requiredIf } from 'vuelidate/lib/validators';

	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	export default {
		components: {

		},
		props: {
			deficiency: { type: Object, required: true },
		},
		data() {
			return {


			}
		},
		computed: {
			//...mapGetters([
			//	'mode',
			//])
		},
		mounted: function () {

		},
		methods: {
			validate: function () {
				this.$v.$touch();
			},
			//...mapActions([
			//	'setAddMode',
			//])
		},
		watch: {
		},
		created: function () {
		},
		validations: {
			deficiency: {
				command: {
					required: requiredIf(function (def) {
						return def.protocol === 'GAT';
					}),
					maxLength: maxLength(10)
				},
				commandName: {
					required: requiredIf(function (def) {
						return def.protocol === 'GAT';
					}),
					maxLength: maxLength(100)
				},
				requirement: {
					required: requiredIf(function (def) {
						return def.protocol === 'GAT';
					}),
					maxLength: maxLength(200)
				}
			}
		},
		provide: function () {
			return {
				$v: this.$v
			};
		}

	}
</script>
<style scoped>
	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}
</style>
