﻿<template>
	<div>
		<page-header title="Protocol Deficiencies">
			<template v-if="vm.reviewMode">
				<a-link class="btn btn-sm btn-primary" :href="'/tools/protocoldeficiencies/'">List</a-link>
			</template>
			<template v-else>
				<a-link class="btn btn-sm btn-warning" :href="'/tools/protocoldeficiencies?mode=Submitted'">Review</a-link>
				<a-link class="btn btn-sm btn-primary" :href="'/tools/protocoldeficiencies/add?protocol=' + selectedProtocol">Add</a-link>
			</template>
			<a-link href="/tools" class="btn btn-sm btn-primary">Exit</a-link>
		</page-header>
		<div class="btn-group">
			<button v-for="(protocol, index) in vm.allProtocols"
					type="button"
					:class="['btn', selectedProtocol === protocol ? 'btn-success' : 'btn-primary']"
					@click="selectedProtocol = protocol">
				{{ protocol }}
			</button>
		</div>
		<div><h3><b>{{ selectedProtocol }} Deficiencies</b></h3></div>
		<vue-good-table ref="defsVGT" :columns="columns"
						:rows="rows"
						:pagination-options="pageOptions"
						:search-options="{ enabled: true}"
						styleClass="vgt-table striped condensed">
			<template slot="table-row" slot-scope="props">
				<div v-if="props.column.field === 'actions' && !vm.reviewMode" class="text-right">
					<a-link :href="'/tools/protocoldeficiencies/edit?deficiencyId=' + props.row.id + '&protocol=' + selectedProtocol">Edit</a-link>
					<template v-if="deletingIds.includes(props.row.id)">
						<i class="fa fa-spinner fa-pulse"></i>
					</template>
					<template v-else>
						<a class="btn btn-xs btn-link" @click="deleteDeficiencyPrompt(props.row.id)">Delete</a>
					</template>
				</div>
				<div v-else-if="props.column.field === 'actions' && vm.reviewMode" class="text-center">
					<a-link :href="'/tools/protocoldeficiencies/review?deficiencyId=' + props.row.id + '&protocol=' + selectedProtocol">Review</a-link>
				</div>
				<div v-else-if="props.column.label === 'Critical'">
					<input disabled v-model="props.formattedRow[props.column.field]" type="checkbox" />
				</div>
				<div v-else>
					{{ props.formattedRow[props.column.field] }}
				</div>
			</template>
		</vue-good-table>
		<Modal v-if="showModal" @close="cancelDelete" modalContainerWidth="40%">
			<template v-slot:header>
				<h2>Delete</h2>
			</template>
			<template v-slot:body>
				Are you sure you want to delete this deficiency? 
			</template>
			<template v-slot:footer>
				<a @click="cancelDelete" :class="['btn btn-primary btn-sm float-right', { disabled: saveInProgress }]">Cancel</a>
				<a @click="deleteDeficiency" :class="['btn btn-danger btn-sm float-right', { disabled: saveInProgress }]">Delete</a>
			</template>
		</Modal>
	</div>
</template>
<script>
	import ALink from '@/components/utility/ALink.vue';
	import PageHeader from '@/components/utility/PageHeader.vue';
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css'
	import Toggle from '@/components/utility/ToggleSwitch.vue';
	import Modal from '@/components/utility/Modal.vue';


	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	export default {
		components: {
			VueGoodTable,
			ALink,
			PageHeader,
			Toggle,
			Modal
		},
		data() {
			return {
				//templates: initialData.templates,
				vm: {
					...initialData,
				},
				sasColumns: [
					{
						label: 'Id',
						field: 'originalId',
						sortable: true,
						type: 'number',
					},
					{
						label: 'Critical',
						field: 'critical',
						sortable: true,
						type: 'boolean',
						//TODO: make checkbox?
					},
					{
						label: 'Description',
						field: 'description',
						sortable: false,

					},
					{
						label: 'Section',
						field: 'section',
						sortable: true,
					},
					{
						label: 'LP',
						field: 'lp',
						sortable: true,
					},
					{
						label: 'Exception',
						field: 'exception',
						sortable: true,
					},
					{
						field: 'actions',
						sortable: false,
						width: '120px'
					}
				],
				gatColumns: [
					{
						label: 'Id',
						field: 'originalId',
						type: 'number',
					},
					{
						label: 'Critical',
						field: 'critical',
						type: 'boolean',
					},
					{
						label: 'Description',
						field: 'description',
						sortable: false,
					},
					{
						label: 'Command',
						field: 'command',
					},
					{
						label: 'Command Name',
						field: 'commandName',
					},
					{
						label: 'Requirement',
						field: 'requirement',
					},
					{
						field: 'actions',
						sortable: false,
						width: '120px'
					}
				],
				pageOptions: {
					enabled: true,
					mode: 'pages',
					perPage: 10,
					position: 'top',
					perPageDropdown: [5, 10, 15, 20, 50, 100],
					dropdownAllowAll: false,
					setCurrentPage: 1,
					nextLabel: 'next',
					prevLabel: 'prev',
					rowsPerPageLabel: 'Rows per page',
					ofLabel: 'of',
					pageLabel: 'page', // for 'pages' mode
					allLabel: 'All',
				},
				saveInProgress: false,
				gatCurrentPage: 1,
				sasCurrentPage: 1,
				deletingIds: [],
				selectedProtocol: "SAS",
				showModal: false,
				deleteDeficiencyId: 0
			}
		},
		computed: {
			columns: function () {
				if (this.selectedProtocol == "SAS")
					return this.sasColumns;
				else
					return this.gatColumns;
			},
			rows: function () {
				return this.vm.deficiencies.filter(def => def.protocol === this.selectedProtocol);
			}
			//...mapGetters([
			//	'mode',
			//])
		},
		mounted: function () {

		},
		methods: {
			deleteDeficiencyPrompt: function (id) {
				this.deleteDeficiencyId = id;
				this.showModal = true;
			},
			cancelDelete: function () {
				this.showModal = false
				this.deleteDeficiencyId = 0;
			},
			deleteDeficiency: function () {
				this.saveInProgress = true;
				let defId = parseInt(this.deleteDeficiencyId);
				this.deletingIds.push(defId);
				this.showModal = false;
				this.$http.get('Tools/ProtocolDeficiencies/Delete', {
					params: {
						deactivateId: defId
					}
				})
					.then(response => {
						let def = this.vm.deficiencies.find(def => def.id === defId);
						let index = this.vm.deficiencies.indexOf(def);
						this.vm.deficiencies.splice(index, 1);



						let deletingId = this.deletingIds.find(delId => delId === defId);
						let delIndex = this.deletingIds.indexOf(deletingId);
						this.deletingIds.splice(delIndex, 1);
						this.saveInProgress = false;
					})
					.catch(e => {
						console.error(e);
						this.saveInProgress = false;
					});
			},
			//toggleMode: function () {
			//	if (this.vm.sasMode) {
			//		this.sasCurrentPage = this.$refs.defsVGT.currentPage;
			//		this.$refs.defsVGT.changePage(this.gatCurrentPage);
			//	}
			//	else {
			//		this.gatCurrentPage = this.$refs.defsVGT.currentPage;
			//		this.$refs.defsVGT.changePage(this.sasCurrentPage);
			//	}
			//	this.vm.sasMode = !this.vm.sasMode;
			//},
			//...mapActions([
			//	'setAddMode',
			//])
		},
		watch: {
		},
		created: function () {
			console.log('defs created 2');
		}
	}
</script>
<style scoped>
	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}

	.fake-link {
		background: none;
		border: none;
		padding: 0;
		/*optional*/
		font-family: arial, sans-serif;
		/*input has OS specific font-family*/
		color: #069;
		text-decoration: underline;
		cursor: pointer;
	}
</style>
