﻿<template>
	<div>
		<div class="form-horizontal">
			
			<div class="form-group form-group-sm">
				<label for="section" class="control-label col-sm-2">Section</label>
				<div class="col-sm-3">
					<input id="section" name="section" class="form-control" v-model="deficiency.section" />
					<div class="field-validation-error" v-if="!$v.deficiency.section.maxLength">
						Section is too long
					</div>
					<div class="field-validation-error" v-if="$v.deficiency.section.$error && !$v.deficiency.section.required">
						Section can't be blank
					</div>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label for="LP" class="control-label col-sm-2">LP</label>
				<div class="col-sm-3">
					<input id="LP" name="LP" class="form-control" v-model="deficiency.lp" />
					<div class="field-validation-error" v-if="!$v.deficiency.lp.maxLength">
						LP is too long
					</div>
					<div class="field-validation-error" v-if="$v.deficiency.lp.$error && !$v.deficiency.lp.required">
						LP can't be blank
					</div>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label for="exception" class="control-label col-sm-2">Exception</label>
				<div class="col-sm-3">
					<input id="exception" name="exception" class="form-control" v-model="deficiency.exception" />
					<div class="field-validation-error" v-if="!$v.deficiency.exception.maxLength">
						Exception is too long
					</div>
					<div class="field-validation-error" v-if="$v.deficiency.exception.$error && !$v.deficiency.exception.required">
						Exception can't be blank
					</div>
				</div>
			</div>

			<div class="form-group form-group-sm">
				<template v-if="!addPollName">
					<label class="control-label col-sm-2">Poll Name</label>
					<div class="col-sm-3">
						<Lookup id="PollName" name="PollName" @updateLookupTextField="updatedPollName" lookupajax="SASPollNames" :lookuptextfield="deficiency.pollName" v-model="deficiency.pollNameId" class="form-control" />
					</div>
				</template>
				<template v-else>
					<label for="CustomPollName" class="control-label col-sm-2">Poll Name</label>
					<div class="col-sm-3">
						<input id="CustomPollName" name="CustomPollName" class="form-control" v-model="deficiency.pollName" />
					</div>
				</template>
				<div class="field-validation-error" v-if="!$v.deficiency.pollName.maxLength">
					Poll Name is too long
				</div>
				<div class="field-validation-error" v-if="$v.deficiency.pollName.$error && !$v.deficiency.pollName.required">
					Poll Name can't be blank
				</div>
				<a class="btn btn-xs btn-link" v-if="!addPollName" @click="addNewPoll">Add New Poll</a>
				<a class="btn btn-xs btn-link" v-if="addPollName" @click="cancelNewPoll">Cancel</a>
			</div>

		</div>

	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';

	//const { mapGetters, mapActions } = createNamespacedHelpers('clauseTemplateManagement');
	import Lookup from '@/components/utility/Lookup.vue';
	import { required, maxLength, requiredIf } from 'vuelidate/lib/validators';

	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	export default {
		components: {
			Lookup
		},
		props: {
			deficiency: { type: Object, required: true },
		},
		data() {
			return {
				addPollName: false

			}
		},
		computed: {
			//...mapGetters([
			//	'mode',
			//])
		},
		mounted: function () {

		},
		methods: {
			addNewPoll: function () {
				this.addPollName = true;
				this.deficiency.pollNameId = 0;
			},
			cancelNewPoll: function () {
				this.addPollName = false;
			},
			updatedPollName: function (value) {
				this.deficiency.pollName = value;
			},
			validate: function () {
				this.$v.$touch();
			},
			//...mapActions([
			//	'setAddMode',
			//])
		},
		watch: {
		},
		created: function () {
		},
		validations: {
			deficiency: {
				section: {
					required: requiredIf(function (def) {
						return def.protocol === 'SAS';
					}),
					maxLength: maxLength(150)
				},
				lp: {
					required: requiredIf(function (def) {
						return def.protocol === 'SAS' && (isNull(def.exception) || def.exception.trim() === '');
					}),
					maxLength: maxLength(10)
				},
				exception: {
					required: requiredIf(function (def) {
						return def.protocol === 'SAS' && (isNull(def.lp) || def.lp.trim() === '');
					}),
					maxLength: maxLength(150)
				},
				pollName: {
					required: requiredIf(function (def) {
						return def.protocol === 'SAS';
					}),
					maxLength: maxLength(100)
				},
			}
		},
		provide: function () {
			return {
				$v: this.$v
			};
		}

	}
</script>
<style scoped>
	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}
</style>
