﻿@model Submissions.Web.Areas.Submission.Models.Upload.IndexViewModel
@using Submissions.Web.Areas.Submission.Models.Upload
@{
	ViewBag.Title = "Import from Excel";
	ViewBag.FullWidth = true;
	Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
