﻿@using Submissions.Web.Areas.Submission.Models.Upload
@{
	ViewBag.Title = "Import Templates";
}
<div class="row row-title">
	<div class="col-sm-5">
		<h3>@ViewBag.Title <small>@ViewBag.FileNumber</small></h3>
	</div>
	<div class="col-sm-1 form-buttons pull-right">
		<button type="button" class="btn btn-sm btn-primary" onclick="window.close()">Close</button>
	</div>
</div>

<div class="panel panel-primary setup-content" id="step-2">
	<div class="panel-heading">
		<h3 class="panel-title">Import Templates</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<td>
					<b>Add New Submission Records</b>
				</td>
				<td>
					<button class="btn btn-primary" onclick="DownloadFormat('@UploadFromExcelOptions.AddNewSubmissions')"><i class="far fa-file-excel"></i>&nbsp;Download</button>&nbsp;<font class="text-info">(See below Note for rules)</font>
					<br />
					<table>
						<tr>
							<td>
								<ul>
									<li>File should be <b>.xls</b> and Worksheet name should be <b>NewRecords</b>.</li>
									<li>Column Headers(Names) can not be modified in downloaded file.</li>
									<li>Order of the Columns can be changed and Columns can also be removed in downloaded file.</li>
									<li>All dates must be in <b>m/d/yyyy</b> format.</li>
									<li>Signatures can be added by adding a new column with column header in format (<b>Signature Type/Signature Scope/Signature Version</b>) E.g. <b>Verify+ CDCK/File/2.5.5</b></li>
									<li>Please add column <b>FilePath</b>, if File Paths are different for each signature E.g. iGaming.</li>
								</ul>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<b>Modify Existing Submission Records</b>
				</td>
				<td>
					<button class="btn btn-primary" onclick="DownloadFormat('@UploadFromExcelOptions.ModifySubmissions')"><i class="far fa-file-excel"></i>&nbsp;Download</button>&nbsp;<font class="text-info">(See below Note for rules)</font>
					<br />
					<table>
						<tr>
							<td>
								<ul>
									<li>File should be <b>.xls</b> and Worksheet name should be <b>ModRecords</b>.</li>
									<li>Column Headers(Names) can not be modified in downloaded file.</li>
									<li>Order of the Columns can be changed or Columns can be removed in downloaded file. <b>KeyTbl</b> can not be removed.</li>
									<li>All dates must be in <b>m/d/yyyy</b> format.</li>
									<li>Signatures can be added by adding a new column with column header in format (<b>Signature Type/Signature Scope/Signature Version</b>) E.g. <b>Verify+ CDCK/File/2.5.5</b> </li>
								</ul>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<b>Add Signatures for Existing Submission Records</b>
				</td>
				<td>
					<button class="btn btn-primary" onclick="DownloadFormat('@UploadFromExcelOptions.AddSignatures')"><i class="far fa-file-excel"></i>&nbsp;Download</button>&nbsp;<font class="text-info">(See below Note for rules)</font>
					<br />
					<table>
						<tr>
							<td>
								<ul>
									<li>File should be <b>.xls</b> and Worksheet name should be <b>AddSig</b>.  Even if it appears that you already have an .xls file, re-save it as an .xls file or this will not work.</li>
									<li><b>KeyTbl, ID Number, Version</b> can not be removed.</li>
									<li>Signatures can be added by adding a new column with column header in format (<b>Signature Type/Signature Scope/Signature Version</b>) E.g. <b>Verify+ CDCK/File/2.5.5</b></li>
									<li>Please add column <b>FilePath</b>, if File Paths are different for each signature E.g. iGaming.</li>
								</ul>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<b>Modify Signatures for Existing Submission Records</b>
				</td>
				<td>
					<button class="btn btn-primary" onclick="DownloadFormat('@UploadFromExcelOptions.ModifySignatures')"><i class="far fa-file-excel"></i>&nbsp;Download</button>&nbsp;<font class="text-info">(See below Note for rules)</font>
					<br />
					<table>
						<tr>
							<td>
								<ul>
									<li>File should be <b>.xls</b> and Worksheet name should be <b>ModSig</b>.  Even if it appears that you already have an .xls file, re-save it as an .xls file or this will not work.</li>
									<li><b>KeyTbl, ID Number, Version, Sig Type, Sig Scopy, Sig Version & Signature Information Column</b> can not be removed.</li>
								</ul>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<b>Modify Signatures for Existing Submission Records</b>
				</td>
				<td>
					<button class="btn btn-primary" onclick="DownloadFormat('@UploadFromExcelOptions.DeleteSignatures')"><i class="far fa-file-excel"></i>&nbsp;Download</button>&nbsp;<font class="text-info">(See below Note for rules)</font>
					<br />
					<table>
						<tr>
							<td>
								<ul>
									<li>File should be <b>.xls</b> and Worksheet name should be <b>DelSig</b>.  Even if it appears that you already have an .xls file, re-save it as an .xls file or this will not work.</li>
									<li><b>KeyTbl, ID Number, Version, Sig Type, Sig Scopy, Sig Version, Action</b> can not be removed.</li>
									<li>For the Signatures which needs to be deleted, put <b>D</b> in Action Column.</li>
								</ul>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>

@section scripts {
	<script>

	var fileNumber = "@ViewBag.FileNumber";
	function DownloadFormat(iUploadOption) {
		var url = 'submission/upload/ExportDownloadFormat?uploadOption=' + iUploadOption + "&fileNumber=" + fileNumber
		window.location.href = jsPath + url;
	}

	</script>

}
