﻿@model Submissions.Web.Areas.Acumatica.Models.AcumaticaDashboardViewModel

@{
	ViewBag.Title = "Acumatica Dashboard";
	Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}

<div>
	<div class="sidebar">
		<div class="sidebar-header">
			<p><i class="fas fa-tachometer-alt"></i>&nbsp;Acumatica Dashboard</p>
		</div>
		<div><a href="@Url.Action("Index", "FeedErrorLog")"><i class="fas fa-exclamation-triangle"></i>&nbsp;Feed Errors</a></div>
		<div><a href="@Url.Action("Index", "PushProject")"><i class="fas fa-cloud-upload-alt"></i>&nbsp;Push Project</a></div>
		<div><a href="@Url.Action("Index", "acumaticatenants", new { Area = "lookups" })"><i class="fas fa-list"></i>&nbsp;Add/Edit Tenants</a></div>
		<div><a href="@Url.Action("Index", "AcumaticaBillWithAndCustomerExceptions", new { Area = "lookups" })"><i class="far fa-money-bill-alt"></i>&nbsp;Billing Exceptions</a></div>
		<div><a href="@Url.Action("Index", "BillwithAndCustomerEvaluator")"><i class="fas fa-magic"></i>&nbsp;BWAC Eval</a></div>
		<div>
			@if (System.Web.Configuration.WebConfigurationManager.AppSettings["Environment"] == "Production")
			{
				<a href="https://gaminglabs.acumatica.com"><i class="fab fa-discourse fa-flip-horizontal"></i>&nbsp;Acumatica ERP</a>
			}
			else
			{
				<a href="https://gaminglabs-sandbox.acumatica.com/"><i class="fab fa-discourse fa-flip-horizontal"></i>&nbsp;Sandbox Acumatica ERP</a>
			}
		</div>
	</div>
	<div id="main">
		<div class="row col-sm-12">
			<div id="app"></div>
		</div>
	</div>
</div>

@section scripts {
	<script>
		Loading();
		var initialData = @Html.Raw(Submissions.Common.ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}

<style>
	.main {
		margin-left: 205px; /* Same as the width of the sidenav */
		padding: 0px 10px;
	}

	.sidebar-header {
		height: 25px;
		border-bottom: 3px solid white;
	}

		.sidebar-header p {
			color: white;
			text-align: center;
			font-size: 17px;
		}

	.sidebar {
		height: 100%;
		width: 205px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #222222;
		overflow-x: hidden;
		padding-top: 16px;
		margin-top: 25px;
	}

		/* Style sidebar links */
		.sidebar a {
			padding: 6px 8px 6px 16px;
			text-decoration: none;
			font-size: 15px;
			color: #818181;
			display: block;
		}

			/* Style links on mouse-over */
			.sidebar a:hover {
				color: #f1f1f1;
			}
</style>

