﻿<template>
	<div class="statusBox" :class="classString">
		{{status}}
	</div>
</template>

<script>
	export default {
		props:['classProp','statusValue'],
		data: function () {
			return {
				classString: 'pending',
				status: 'Pending'
			}
		},
		watch: {
			classProp: function (newVal) {
				this.classString = newVal;
			},
			statusValue: function (newVal) {
				this.status = newVal;
			}
		}
			
	}
</script>
<style scoped>
	.statusBox{
		border-width: thin;
		border-style: solid;
		text-align: center;
		border-radius: 3px;
	}
	.pending {
		border-color: grey;
	}
	.failed{
		border-color:red;
	}
	.posted{
		border-color:blue;
	}
	.success{
		border-color:green;
	}
</style>