﻿<template>
	<div>
		<ul class="actionList">
			<li id="approveTooltip" class="unselectedAction"><a id="actionApprove" href="#" @click="Approve(doc, index)"><i :ref="'approve' + index" class="fas fa-minus-circle approve" title="Approve"></i></a></li>
			<li class="unselectedAction"><a href="#" @click="LetterReview(doc,index)"><i :ref="'letterReview' + index" class="fas fa-arrow-circle-left letterReview" title="Letter Review Needed"></i></a></li>
			<li class="unselectedAction"><a href="#" @click="ComplianceReview(doc,index)"><i :ref="'complianceReview' + index" class="fas fa-question-circle complianceReview" title="Compliance Review Needed"></i></a></li>
			<li class="unselectedAction"><a href="#" @click="EngineeringReview(doc,index)"><i :ref="'engineeringReview' + index" class="fas fa-envelope engineeringReview" title="Notify Eng Review"></i></a></li>
			<li class="unselectedAction"><a href="#" @click="LatinAmericaReview(doc,index)"><i :ref="'latinAmericaReview' + index" class="fas fa-comment latinAmericaReview" title="Latin America Review Needed"></i></a></li>
		</ul>
		<span>{{actionText}}</span>
	</div>
</template>

<script>
	export default {
		props: ['doc', 'index'],
		data: function () {
			return {
				defaultActionText: 'No Action Selected',
				actionText: ''
			}
		},
		methods: {
			Approve: function (doc, index) {
				var el = $(this.$refs['approve' + index]).parent().parent();
				if (doc.versions[0].action == 'Approve') {
					this.actionText = this.defaultActionText;
					doc.versions[0].action = null;
					el.removeClass('selectedAction').addClass('unselectedAction')
						.children().children().removeClass('fa-check-circle').addClass('fa-minus-circle');
				}
				else {
					this.actionText = 'Approve';
					doc.versions[0].action = 'Approve';
					el.addClass('selectedAction').siblings().addClass('unselectedAction').removeClass('selectedAction');
					el.children().children().removeClass('fa-minus-circle').addClass('fa-check-circle')
				}

			},
			LetterReview: function (doc, index) {
				var el = $(this.$refs['letterReview' + index]).parent().parent();
				if (doc.versions[0].action == 'LetterReview') {
					this.UnselectCurrent(doc, el);
				}
				else {
					this.actionText = 'Letter Review';
					doc.versions[0].action = 'LetterReview'
					this.ChangeApproveButtonAndClasses(el);
				}
			},
			ComplianceReview: function (doc, index) {
				var el = $(this.$refs['complianceReview' + index]).parent().parent();
				if (doc.versions[0].action == 'ComplianceReview') {
					this.UnselectCurrent(doc, el);
				}
				else {
					this.actionText = 'Compliance Review';
					doc.versions[0].action = 'ComplianceReview'
					this.ChangeApproveButtonAndClasses(el);
				}
			},
			EngineeringReview: function (doc, index) {
				var el = $(this.$refs['engineeringReview' + index]).parent().parent();
				if (doc.versions[0].action == 'EngineeringReview') {
					this.UnselectCurrent(doc, el);
				}
				else {
					this.actionText = 'Engineering Review';
					doc.versions[0].action = 'EngineeringReview'
					this.ChangeApproveButtonAndClasses(el);
				}
			},
			LatinAmericaReview: function (doc, index) {
				var el = $(this.$refs['latinAmericaReview' + index]).parent().parent();
				if (doc.versions[0].action == 'LatinAmericaReview') {
					this.UnselectCurrent(doc, el);
				}
				else {
					this.actionText = 'Latin America Review';
					doc.versions[0].action = 'LatinAmericaReview'
					this.ChangeApproveButtonAndClasses(el);
				}
			},
			ChangeApproveButtonAndClasses: function (el) {
				el.addClass('selectedAction').siblings().addClass('unselectedAction').removeClass('selectedAction');
				el.siblings().children().children().each(function () {
					if ($(this).hasClass('fa-check-circle')) {
						$(this).removeClass('fa-check-circle').addClass('fa-minus-circle');
					}
				});
			},
			UnselectCurrent: function (doc, el) {
				this.actionText = this.defaultActionText;
				doc.versions[0].action = null;
				el.removeClass('selectedAction').addClass('unselectedAction');
			}

		}
	}
</script>

<style scoped>
	.selectedAction {
		font-size: x-large;
	}

		.selectedAction .approve {
			color: green;
		}

		.selectedAction .letterReview {
			color: gold;
		}

		.selectedAction .complianceReview {
			color: darkorange;
		}

		.selectedAction .engineeringReview {
			color: skyblue;
		}

		.selectedAction .latinAmericaReview {
			color: mediumpurple;
		}

	.unselectedAction i {
		color: gray;
		font-size: x-large;
	}
	.hoveredAction {
		color: gray;
		font-size: x-large;
	}

	ul.actionList {
		padding-left: 0px;
		min-width: 125px;
	}

		ul.actionList > li {
			padding: 0;
			list-style-type: none;
		}

		ul.actionList > li {
			display: inline-block;
			zoom: 1;
			*display: inline;
			/* this fix is needed for IE7- */
		}
</style>