﻿<template>
	<div class="row">

		<div class="form-group col-sm-12">
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Letter Writer Location</label>
				<div class="col-sm-8">
					<div class="col-sm-12">
						<Lookup :name="'laboratoryId' + id"
								:id="'laboratoryId' + id"
								:lookuptextfield="infoModel.lab"
								@updateLookupTextField="updateLabTextField"
								v-model="infoModel.laboratoryId"
								lookupajax="Laboratories">
						</Lookup>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group col-sm-12">
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Billing Sheet*</label>
				<div class="col-sm-8">
					<div class="col-sm-12">
						<small class="text-warning" v-if="infoModel.availableBillingSheets.length > 0"><i class="fas fa-info-circle"></i> Preferred Billing Sheets Only</small>
						<Lookup name="BillingSheetId"
								:lookuptextfield="infoModel.billingSheet"
								@updateLookupTextField="UpdateBillingSheetTextField"
								v-model="infoModel.billingSheetId"
								lookupajax="BillingSheets"
								:filter="billingFilter"
								class="form-control"
								tabindex="-1">
						</Lookup>
						<span class="text-info">*Required field</span>&nbsp;&nbsp;
					</div>
				</div>
			</div>
		</div>
		
		<!--<div class="form-group col-sm-12" v-if="infoModel.reportType != null ">
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Report Type</label>
				<div class="col-sm-8">
					<div class="col-sm-12">
						<SelectStandard :id="'ReportType' + id"
										:name="'ReportType' + id"
										v-model="infoModel.reportType"
										:options="infoModel.billingSheet=='EUSpecialized'? infoModel.euReportTypes : infoModel.reportTypes">
						</SelectStandard>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group col-sm-12" v-if="infoModel.specializedType != null">
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Specialized Type</label>
				<div class="col-sm-8">
					<div class="col-sm-12">
						<SelectStandard :id="'SpecializedType' + id"
										:name="'SpecializedType' + id"
										v-model="infoModel.specializedType"
										:options="infoModel.specializedTypes">
						</SelectStandard>
					</div>
				</div>
			</div>
		</div>-->

		<div class="form-group col-sm-12" v-show="showBallyType">
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Bally Type*</label>
				<div class="col-sm-8">
					<div class="col-sm-12">
						<SelectStandard :id="'BallyType' + id"
										:name="'BallyType' + id"
										v-model="infoModel.ballyType"
										:options="infoModel.letterBookBallyTypes">
						</SelectStandard>
						<small class="text-info">*Required for BAL, BLY, WMS, SHU, ADC, and SDS</small>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group col-sm-12" v-if="infoModel.contractNumber != null">
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Fixed Price/ Proposal/ Statement of Work</label>
				<div class="col-sm-8">
					<div class="col-sm-12">
						<span style="white-space:nowrap;">
							<input type="text" v-model="infoModel.contractNumber" style="width:155px" disabled/>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group col-sm-12" v-if="showBilledCount">
			<div class="form-group form-group-sm">
				<label :class="showFocusedCount ? 'control-label col-sm-2 text-danger' : 'control-label col-sm-2'">Number of items billed*</label>
				<div class="col-sm-8">
					<div class="col-sm-12">
						<div>
							<input type="radio" id="1" value="1" v-model="infoModel.itemsBeingBilledCount" />
							<label for="1">1</label>
							<input type="radio" id="2" value="2" v-model="infoModel.itemsBeingBilledCount" />
							<label for="2">2</label>
							<input type="radio" id="3" value="3" v-model="infoModel.itemsBeingBilledCount" />
							<label for="3">3+</label>
						</div>
						<small class="text-info">*The billing count cannot be 0.</small>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group col-sm-12">
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">
					Invoice Comment*
				</label>
				<div class="col-sm-10">
					<div class="col-sm-12">
						<table>
							<tr>
								<td class="col-sm-6 padl0 padr0">
									<table>
										<tr>
											<td>
												<textarea v-model="infoModel.note" maxlength="4000" id="BillingNote" cols="60" rows="3"></textarea>
												<br /><span class="text-info">*Required field (This comment will appear on the customer's invoice)</span>
											</td>
											<td valign="top" style="width:25px">
												&nbsp;<a style="cursor:pointer" title="Get invoice note from QANotes" @click="getInVoiceComment">&nbsp;<i class="fas fa-sync"></i></a>
											</td>
										</tr>
									</table>
								</td>
								<td class="col-sm-6" valign="top">
									<button type="button" class="btn btn-primary" @click="setTemplateComment(1)">Apply</button>&nbsp;{{ getTemplateComment(1) }}
								</td>
							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
	
</template>

<script>
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import api from '@/api/letterbook';

	export default {
		props: {
			documentVersionId: {
				type: Number
			},
			fileNumber: {
				type: String
			},
			infoModel: {
				type: Object
			},
			id: {
				type: Number
			},
			jurisdictionId: {
				type: String
			},
			letterApprovalData: {
				type: Object
			},
			modify: {
				type: Boolean
			}
		},
		data: function() {
			return {
				labString: '',
				manufactureCode: '',
				billingSheetsNeedCount: [],
				showBilledCount: null
			}
		},
		components: {
			SelectStandard,
			Lookup
		},
		computed: {
			gameName: function () {
				let ArrGameNames = []
				let gameName = ''
				this.letterApprovalData.jurisdictionalDataIds.forEach(function (obj, index) {
					if (!ArrGameNames.includes(obj.gameName)) {
						ArrGameNames.push(obj.gameName)
					}
				})

				console.log(ArrGameNames.length)
				ArrGameNames.forEach(function (obj, index) {
					if (Em(gameName)) {
						gameName = obj
					}
					else {
						gameName += ", " + obj
					}
				})

				return gameName;
			},
			jurisdictionName: function () {
				return this.letterApprovalData.jurisdictionName;
			},
			billingFilter: function () {
				return {
					LocationId: this.infoModel.laboratoryId,
					ShowOnlyBillingSheets: this.infoModel.availableBillingSheets
				}
			},
			showBallyType: function () {
				if (this.manufactureCode == "BAL" || this.manufactureCode == "BLY"  || this.manufactureCode == "WMS"  || this.manufactureCode == "SHU"  || this.manufactureCode == "ADC" || this.manufactureCode == "SDS") {
					return true;
				}
				else {
					return false;
				}
			},
			showFocusedCount: function () {
				return (this.showBilledCount && this.infoModel.itemsBeingBilledCount == 0) ;
			}
		},
		methods: {
			checkBilledCountNeeded: function () {
				let selectedSheet = this.infoModel.billingSheetId;
				let exists = this.billingSheetsNeedCount.some(x => x == selectedSheet);
				this.showBilledCount = exists;
			},
			getInVoiceComment: function () {
					api.getQANotesComment(this.fileNumber, this.jurisdictionId)
						.then(response => {
							console.log(response.data)
							if (!Em(response.data)) {
								var qaNotesComment =  response.data ;
								if (!Em(this.infoModel.note)) {
									this.setInvoiceComment(this.infoModel.note + "\n" + qaNotesComment);
								}
								else {
									this.setInvoiceComment(qaNotesComment);
								}
							}
						})
			},
			getTemplateComment: function (num) {
				if (num == 1) {
					return 'Report Fee for ' + this.gameName + ' for ' + this.jurisdictionName;
				}
			},
			updateLabTextField: function (val) {
				if (this.infoModel.lab  !== val) {
					this.infoModel.billingSheetId = null;
					this.infoModel.billingSheet = null;
				}
				this.infoModel.lab = val;
			},
			setInvoiceComment: function (val) {
				this.infoModel.note = val;
			},
			setTemplateComment: function () {
				this.setInvoiceComment(this.getTemplateComment(1));
			},
			showAvailableBilingSheets: function () {
				let msg = "<font class='text-info'>Below are preferred Billing Sheets options. Please select applicable billing sheet.</font><br><br>"
				this.infoModel.availableBillingSheets.forEach(function (sheetName, index) {
					msg += sheetName + "<br>"
				})
				bootbox.alert(msg)
			},
			UpdateBillingSheetTextField: function (val) {
				this.infoModel.billingSheet = val;
			},
			
		},
		mounted:function() {
			let fileInfo = this.fileNumber.split("-");
			this.manufactureCode = fileInfo[2];
			if (this.manufactureCode == "BAL") {
				this.infoModel.ballyType = "South"
			}
			else if (this.manufactureCode == "BLY") {
				this.infoModel.ballyType = "North"
			}
			else if (this.manufactureCode == "SHU") {
				this.infoModel.ballyType = "West"
			}
			else {
				this.infoModel.ballyType = null;
			}

			//get all billingsheets that need billedcount
			api.getBillingSheetsNeedBilledCount()
				.then(response => {
					this.billingSheetsNeedCount = response.data;
					this.checkBilledCountNeeded();
				})
		},
		watch:  {
			'infoModel.billingSheetId' : function(val, oldVal) {
				if (val !== oldVal) {
					this.checkBilledCountNeeded();
				}
			},
			'showBilledCount': function (val, oldVal) {
				this.$emit('setCheckBilledCount', val);
			}
		}
	}
</script>