﻿<template>
	<div class="modal" ref="ComplianceReview" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						<font color="navy"><strong>Compliance Review</strong></font>
						<span class="pull-right">
							<button type="button" class="btn btn-primary saveDraft-button" @click="sendComplianceInfo" id="SendCompliance"><i class="fas fa-save"></i>&nbsp;Send to Compliance</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" id="Cancel">Cancel</button>
						</span>
					</h4>
				</div>
				<div class="modal-body">
					<!--Draft Letter-->
					<div class="panel panel-default" style="margin-left: 10px;">
						<div class="panel-heading">Compliance Review</div>
						<div class="panel-body">
							<div class="row">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-3 control-label">
											Target Date
										</label>
										<div class="col-sm-3">
											<DatePicker v-model="vm.targetDate" title="Target Date"></DatePicker>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">
											Rush Reason
										</label>
										<div class="col-sm-8">
											<textarea class="col-sm-12" v-model="vm.rushReason" title="Rush Reason" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">
											Description
										</label>
										<div class="col-sm-8">
											<textarea class="col-sm-12" v-model="vm.description" title="Description"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">
											Attach File
										</label>
										<div class="col-sm-2">
											<input type="checkbox" v-model="vm.includeFilesInTicket" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">
											Review Types
										</label>
										<div class="col-sm-8">
											<SelectStandardMultiple id="ReviewTypes"
																	name="ReviewTypes"
																	v-model="vm.reviewTypes"
																	:options="vm.reviewTypeOptions"
																	:value="vm.reviewTypes">
											</SelectStandardMultiple>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</template>

<script>
	import DatePicker from '@/components/utility/DatePicker.vue';
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue';

	export default {
		components: {
			DatePicker,
			SelectStandardMultiple
		},
		props: {
			vm: {
				type: Object
			},
			emptyVM: {
				type: Object
			},
			showComplianceModal: {
				type: Boolean
			},
		},
		data: function () {
			return {

			}
		},
		methods: {
			sendComplianceInfo: function () {
				this.$emit('processCompliance', this.vm);
				//self.$emit('setShowComplianceReview', false);
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.ComplianceReview).on('hidden.bs.modal', function (e) {
				self.$emit('setShowComplianceReview', false);
			});
		},
		watch:  {
			showComplianceModal: function (val, oldVal) {
				if (val) {
					this.vm = _.cloneDeep(this.emptyVM)
					$(this.$refs.ComplianceReview).modal('show');
				}
				else
				{
					this.$emit('setShowComplianceReview', false);
					$(this.$refs.ComplianceReview).modal('hide');
				}
			}
		}
	}
</script>
<style scoped>
</style>