﻿<template>
	<div>
		<hr />
		<div class="row">
			<div class="col-sm-12">
				<strong>
					Compliance Info
				</strong>
			</div>
		</div>
		<div>
			<div class="col-sm-3">
				<div class="row">
					<label class="col-sm-3">
						Target Date
					</label>
					<div class="col-sm-9">
						<DatePicker v-model="infoModel.targetDate" title="Update Date"></DatePicker>
					</div>
				</div>
				<div class="row">
					<label class="col-sm-3">
						Rush Reason
					</label>
					<div class="col-sm-9">
						<textarea class="col-sm-12" v-model="infoModel.rushReason" title="Rush Reason" />
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<label class="col-sm-3">
					Description
				</label>
				<div class="col-sm-9">
					<textarea class="col-sm-12" v-model="infoModel.description" title="Description"></textarea>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="row">
					<label class="col-sm-8">Attach File</label>
					<input type="checkbox" v-model="infoModel.includeFilesInTicket" />
				</div>
			</div>
			<div class="col-sm-3">
				<div class="row">
					<label class="col-sm-4">
						Review Types
					</label>
					<div class="col-sm-8">
						<SelectStandardMultiple id="ReviewTypes"
												name="ReviewTypes"
												v-model="infoModel.reviewTypes"
												:options="infoModel.reviewTypeOptions"
												:value="infoModel.reviewTypes">
						</SelectStandardMultiple>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import DatePicker from '@/components/utility/DatePicker.vue';
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue';

	export default {
		props: ['infoModel'],
		components: {
			DatePicker,
			SelectStandardMultiple
		}
	}
</script>
<style scoped>
	.bootstrap-datetimepicker-widget {
		z-index:999;
	}
</style>