﻿<template>
	<div class="modal-mask" :id="id" tabindex="-1" role="dialog" aria-hidden="true">
		<div id="SubmissionGridModalDialog" class="modal-wrapper" style="width:100%;">
			<div class="modal-container">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="UpdateStage(tempLetter)">Stage</button>
						<button type="button" class="btn btn-primary" @click="CancelStage()">Cancel</button>
					</div>
					<h4 class="modal-title">Add New Letter</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div v-if="errorMessage != null" class="row">
							<div class="col-sm-12 text-red">
								{{errorMessage}}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label class="control-label col-sm-6">Add Correction</label>
								<div class="col-sm-6">
									<input class="" v-model="addCorrection" type="checkbox" />
								</div>
							</div>
							<div class="col-sm-3">
								<label class="control-label col-sm-6">Add General Cover</label>
								<div class="col-sm-6">
									<input class="" v-model="addCover" type="checkbox" />
								</div>
							</div>
							<div class="col-sm-3">
								<label class="control-label col-sm-6">Add Main Letter</label>
								<div class="col-sm-6">
									<input disabled class="" v-model="addMain" type="checkbox" />
								</div>
							</div>
							<div class="col-sm-3">
								<label class="control-label col-sm-6">Add Back Page</label>
								<div class="col-sm-6">
									<input class="" v-model="addBack" type="checkbox" />
								</div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div v-if="addCorrection" :class="classString">
								<FileOptions :individualLetterData="tempLetter.correctionCoverPage" 
											 :fileType="'Correction Page'" 
											 :fileOptions="tempLetter.letterApprovalData.availableSourceDocs"></FileOptions>
							</div>
							<div v-if="addCover" :class="classString">
								<FileOptions :individualLetterData="tempLetter.genericCoverPage" 
											 :fileType="'Cover Page'"
											 :fileOptions="tempLetter.letterApprovalData.availableSourceDocs"></FileOptions>
							</div>
							<div v-if="addMain" :class="classString">
								<FileOptions :individualLetterData="tempLetter.mainLetter" 
											 :fileType="'Main Letter'"
											 :fileOptions="tempLetter.letterApprovalData.availableSourceDocs"></FileOptions>
							</div>
							<div v-if="addBack" :class="classString">
								<FileOptions :individualLetterData="tempLetter.backPage" 
											 :fileType="'Back Page'"
											 :fileOptions="tempLetter.letterApprovalData.availableSourceDocs"></FileOptions>
							</div>
								


						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" @click="UpdateStage(tempLetter)">Stage</button>
						<button type="button" class="btn btn-primary" @click="CancelStage()">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import DatePicker from '@/components/utility/DatePicker.vue';
	import SelectStandard from '@/components/utility/SelectStandard';
	import Lookup from '@/components/utility/Lookup.vue';
	import FileOptions from '@/components/documents/create/FileOptions.vue';

	export default {
		props: ['id','letter'],
		components: {
			DatePicker,
			SelectStandard,
			Lookup,
			FileOptions
		},
		data: function () {
			return {
				tempLetter: this.letter,
				addCover: false,
				addCorrection:false,
				addMain: false,
				addBack: false,
				errorMessage: null
			}
		},
		computed: {
			classString: vm => 'col-sm-' + 12/(
				(vm.addCover ? 1 : 0) +
				(vm.addCorrection ? 1 : 0) +
				(vm.addMain ? 1 : 0) +
				(vm.addBack ? 1 : 0) 
				)
		},
		mounted: function () {
			this.addCorrection = this.tempLetter.correctionCoverPage.fileId != 0;
			this.addCover = this.tempLetter.genericCoverPage.fileId != 0;
			this.addMain = this.tempLetter.mainLetter.fileId != 0;
			this.addBack = this.tempLetter.backPage.fileId != 0;
		},
		methods: {
			UpdateStage: function (letter) {
				if ((this.addCorrection && this.tempLetter.correctionCoverPage.fileId == null) ||
					(this.addCover && this.tempLetter.genericCoverPage.fileId == null) ||
					(this.tempLetter.mainLetter.fileId == 0) ||
					(this.addBack && this.tempLetter.backPage.fileId == null)) {
					this.errorMessage = 'You have chosen to add Files without specifying, please select appropriate files or uncheck the Add box.'
					return;
				}
				this.errorMessage = null;
				this.$emit('closeModalAction', { newLetter: this.tempLetter , index:this.id});
			},
			CancelStage: function () {
				this.$emit('closeModalAction', null);
			},
			RemoveJurisdiction: function () {
			},
			PreviewPdf: function () {
			}
		}
	}
</script>

<style scoped>
	.modal-mask {
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .3s ease;
	}

	.modal-wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	.modal-container {
		width: 90%;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
		transition: all .3s ease;
		margin:auto;
	}

	.modal-header h3 {
		margin-top: 0;
		color: #42b983;
	}

	.modal-body {
		margin: 20px 0;
	}

	.modal-default-button {
		float: right;
	}

	.modal-enter {
		opacity: 0;
	}

	.modal-leave-active {
		opacity: 0;
	}

		.modal-enter .modal-container,
		.modal-leave-active .modal-container {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
</style>