﻿<template>
	<div class="modal" ref="DraftLetter" :id="id" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						<font color="navy"><strong>{{jurisdictionName}} </strong></font><strong><font color="red">{{jurisdictionId}} </font></strong>
							<span class="pull-right">
							<button type="button" class="btn btn-primary saveDraft-button" @click="saveDraftInfo"><i class="fas fa-save"></i>&nbsp;Save</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
						</span>
					</h4>
				</div>
				<div class="modal-body">
					<!--Draft Letter-->
					<div class="panel panel-default" style="margin-left: 10px;">
						<div class="panel-heading">Draft Letter Information </div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-12">
									<form>
										<div class="form-group row">
											<label class="col-sm-3 control-label">
												Draft Status
											</label>
											<div class="col-sm-5">
												<SelectStandard :id="'SelectDraftStatus' + id"
																:name="'SelectDraftStatus' + id"
																v-model="draftLetter.status"
																disabled
																:options="draftLetterOptions.draftStatuses"></SelectStandard>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 control-label">
												Draft Date
											</label>
											<div class="col-sm-5">
												<DatePicker v-model="draftLetter.draftDate" style="width:150px"></DatePicker>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 control-label">
												Approval Date
											</label>
											<div class="col-sm-5">
												{{ draftLetter.approvalDate | formatDate}}
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 control-label">
												Update Reason
											</label>
											<div class="col-sm-5">
												<SelectStandard :id="'SelectUpdateDateReasons' + id"
																:name="'SelectUpdateDateReasons' + id"
																v-model="draftLetter.updatedDateReason"
																:options="draftLetterOptions.draftUpdateReasons"></SelectStandard>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 control-label">
												Timeline Requested?
											</label>
											<div class="col-sm-5">
												<input type="checkbox" v-model="draftLetter.isTimelineRequested" />&nbsp;
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 control-label">
												Timeline
											</label>
											<div class="col-sm-5">
												<SelectStandard :id="'SelectTimeline' + id"
																:name="'SelectTimeline' + id"
																v-model="draftLetter.timelineType"
																:options="draftLetterOptions.draftTimelines"></SelectStandard>

											</div>
											<div class="col-sm-2">
												<a style="cursor:pointer" @click="openReplacement()" title="Is this replacing previously approved item?">[Replacements]</a>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 control-label">
												Timeline Date
											</label>
											<div class="col-sm-5">
												<DatePicker v-model="draftLetter.timelineDate" style="width:150px"></DatePicker>
											</div>
										</div>
										<!--<div class="form-group row">
											<label class="col-sm-3 control-label">
												Main Letterhead
											</label>
											<div class="col-sm-5">

												<input name="letterHead"
													   type="hidden"
													   v-model="draftLetter.letterheadFilePath" />
												<Lookup name="Letterhead"
														:lookuptextfield="draftLetter.letterheadFilePath"
														@updateLookupTextField="UpdateTextField"
														v-model="draftLetter.letterheadId"
														lookupajax="Letterheads"
														class="form-control"
														disabled
														tabindex="-1">
												</Lookup>

											</div>
											<label class="col-sm-3 control-label">
												Repeat Overlay
											</label>
											<div class="col-sm-1">
												<input type="checkbox" v-model="draftLetter.repeatLetterhead" disabled />&nbsp;
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 control-label">
												Addendum Letterhead
											</label>
											<div class="col-sm-5">

												<input name="addLetterHead"
													   type="hidden"
													   v-model="draftLetter.addendumLetterheadFilePath" />
												<Lookup name="AddendumLetterhead"
														:lookuptextfield="draftLetter.addendumLetterheadFilePath"
														@updateLookupTextField="UpdateAddTextField"
														v-model="draftLetter.addendumLetterheadId"
														lookupajax="Letterheads"
														class="form-control"
														disabled
														tabindex="-1">
												</Lookup>

											</div>
											<label class="col-sm-3 control-label">
												Repeat Overlay
											</label>
											<div class="col-sm-1">
												<input type="checkbox" v-model="draftLetter.repeatAddLetterhead" disabled/>&nbsp;
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 control-label">
												Attach Correction Addendum
											</label>
											<div class="col-sm-5">
												<input type="checkbox" v-model="draftLetter.attachCorrectionAddendum" disabled/>&nbsp;
											</div>
										</div>-->
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>
<script>
	import api from '@/api/letterbook';
	import DatePicker from '@/components/utility/DatePicker.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import Lookup from '@/components/utility/Lookup.vue';

	export default {
		components: {
			DatePicker,
			SelectStandard,
			Lookup
		},
		props: {
			draftLetter: {
				type: Object
			},
			draftLetterOptions: {
				type: Object
			},
			id: {
				type: Number
			},
			jurisdictionId: {
				type: String
			},
			jurisdictionName: {
				type: String
			},
			showDraftModal: {
				type: Boolean
			},
		},
		data: function () {
			return {
				
			}
		},
		methods: {
			openFile: function (path) {
				//this.$emit('openFile', path);
			},
			openReplacement: function () {
				window.open(jsPath + "submission/jurisdictionreplacelink/index?jurisdictionDataId=" + this.draftLetter.draftItems[0].jurisdictionalDataId + "&linkMode=Draft")
			},
			saveDraftInfo: function () {
				api.saveDraftLetterInfo(this.draftLetter)
					.then(response => {
						if (response.data == "OK") {
							bootbox.alert("Draft Information is saved successfully.")
						} else {
							bootbox.alert("Error")
						}
					})
			},
			UpdateTextField: function (newStringValue, newLetterheadId) {
				this.draftLetter.letterheadFilePath = newStringValue;
				//this.$emit('updateLetterhead', newLetterheadId);
			},
			UpdateAddTextField: function (newStringValue, newLetterheadId) {
				this.draftLetter.addendumLetterheadFilePath = newStringValue;
				//this.$emit('updateLetterhead', newLetterheadId);
			},
		},
		mounted: function () {
			const self = this;
			$(this.$refs.DraftLetter).on('hidden.bs.modal', function (e) {
				self.$emit('setShowDraft', false);
			});
		},
		watch:  {
			showDraftModal: function (val, oldVal) {
				if (val) {
					$(this.$refs.DraftLetter).modal('show');
				}
				else
				{
					this.$emit('setShowDraft', false);
					$(this.$refs.DraftLetter).modal('hide');
				}
			},
			'draftLetter.timelineType': function (val, oldVal) {
				if (Em(val)) {
					this.draftLetter.timelineDate = null;
				}
				else {
					//bootbox.alert("Is this certification replacing any approved jurisdictions? Please make sure to set the replacements before approving.")
				}
			},
		}
	}
</script>
<style scoped>

	
</style>