﻿<template>
	<div class="modal" ref="ENReview" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						<font color="navy"><strong>Engineering Review</strong></font>
						<span class="pull-right">
							<button type="button" class="btn btn-primary saveDraft-button" @click="saveReviewInfo"><i class="fas fa-save"></i>&nbsp;Send Email</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
						</span>
					</h4>
				</div>
				<div class="modal-body">
					<!--Draft Letter-->
					<div class="panel panel-default" style="margin-left: 10px;">
						<div class="panel-heading">Send For Engineering Review</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label for="Comment">Recipients:</label>
										<LookupMultiple id="Users" name="Users" lookupajax="Users" v-model="vm.recipientUserIds" :options="vm.selRecipientUsers" />
									</div>
									<div class="form-group">
										<label for="Comment">Comments:</label>
										<textarea rows=4 cols="400" class="form-control" v-model="vm.comments"></textarea>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>
<script>
	import api from '@/api/letterbook';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';

	export default {
		components: {
			LookupMultiple
		},
		props: {
			vm: {
				type: Object
			},
			emptyVM: {
				type: Object
			},
			showReviewModal: {
				type: Boolean
			},
		},
		data: function () {
			return {

			}
		},
		methods: {
			saveReviewInfo: function () {
				this.$emit('sendENReview', this.vm);
				this.$emit('setShowENReview', false);
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.ENReview).on('hidden.bs.modal', function (e) {
				self.$emit('setShowENReview', false);
			});
		},
		watch:  {
			showReviewModal: function (val, oldVal) {
				if (val) {
					this.vm = _.cloneDeep(this.emptyVM)
					$(this.$refs.ENReview).modal('show');
				}
				else
				{
					this.$emit('setShowENReview', false);
					$(this.$refs.ENReview).modal('hide');
				}
			}
		}
	}
</script>
<style scoped>
</style>