﻿<template>
	<div>
		<i v-if="version.mainLetter.filePath == null">No source file specified.</i>
		<a v-if="version.mainLetter.filePath != null" 
		   :href="docViewUrl + version.mainLetter.fileId" download >
			<i class="far fa-file-word big-icon"></i>
		</a>
		{{version.mainLetter.fileName}}
		<br />
	</div>
</template>

<script>
	export default {
		props: ['version', 'docViewUrl']
	}
</script>

<style scoped>
	.wordLinkIcon {
		font-size: x-large;
	}
</style>