﻿<template>
	<div>
		<div class="row">
			<div class="col-sm-2">
				<font class="mainLetterType"><I>{{fileType}}</I></font>
				<div v-if="!canNotBeRemoved">
					(<a href="#" @click="RemoveValue">Remove</a>)
				</div>
			</div>
			<div class="col-sm-9">
				<div class="col-sm-3 padr0">
					<div class="form-group form-group-sm">
						<div class="col-sm-12 dropdown-wrapper">
							<input type="hidden"
								   id="LangId"
								   name="LangId"
								   v-model="individualLetterData.language" />
							<SelectStandard :id="'SourceLangId'+ name + id"
											:name="'SourceLangId' + name + id"
											v-model="individualLetterData.language"
											:options="languageOptions"
											@updateTextField="UpdateLanguage">
							</SelectStandard>
						</div>
					</div>
				</div>
				<div class="form-group col-sm-5 padr0">
					<div class="form-group form-group-sm">
						<div class="col-sm-12 dropdown-wrapper">
							<input type="hidden"
								   id="FileId"
								   name="FileId"
								   v-model="individualLetterData.fileId" />
							<SelectStandard :id="'SourceFileId' + name + id"
											:name="'SourceFileId' + name + id"
											v-model="individualLetterData.fileId"
											:options="dropdownOptions"
											@updateTextField="UpdateFileId">
							</SelectStandard>
						</div>
					</div>
				</div>
				<div class="form-group col-sm-4 padr0">
					<div class="form-group form-group-sm">
						<div class="col-sm-12 dropdown-wrapper">
							<SelectStandard :id="'LetterheadId' + name + id"
											:name="'LetterheadId' + name + id"
											v-model="individualLetterData.letterheadId"
											:options="letterheadOptions"
											@updateTextField="UpdateLetterheadName">
							</SelectStandard>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group col-sm-1 repeat-checkboxes">
				<div class="form-group form-group-sm">					
					<div class="checkbox col-sm-5">
						<input type="checkbox" v-model="individualLetterData.repeatOverlay" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style scoped>
	.mainLetterType {
		color: black;
		font-weight: bold;
		font:italic;
		font-size:11px
	}
</style>
<script>
	import Lookup from '@/components/utility/Lookup.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';


	export default {
		props: {
			canNotBeRemoved: {
				type: Boolean
			},
			draftLetterheads: {
				type: Array
			},
			fileType: {
				type: String
			},
			fileOptions: {
				type: Array
			},
			id: {
				type: Number
			},
			individualLetterData: {
				type: Object
			},
			languageOptions: {
				type: Array
			},
			name: {
				type: String
			},
			nonDraftLetterheads: {
				type: Array
			},
			selectedApprovalStatus: {
				type: String
			},
		},
		components: {
			Lookup,
			SelectStandard
		},
		data: function () {
			return {
			}
		},
		computed: {
			dropdownOptions: function (vm) {
				var optList = [];
				for (var i = 0; i < vm.fileOptions.length; i++) {
					var option = { value: vm.fileOptions[i].id, text: vm.fileOptions[i].name };
					optList.push(option);
				}
				return optList;
			},
			isForDraft: function () {
				return ((this.selectedApprovalStatus == "DR")? true : false)
			},
			letterheadOptions: function () {
				if (this.draftLetterheads != null && this.nonDraftLetterheads != null) {
					return [...this.nonDraftLetterheads, ...this.draftLetterheads]
				}
				else {
					return this.nonDraftLetterheads
				}
			}
		},
		methods: {
			UpdateLanguage: function (value) {
				console.log(value);
			},
			UpdateLetterheadName: function (newStringValue, newLetterheadId) {
				this.individualLetterData.letterheadFilePath = newStringValue;
			},
			UpdateFileId: function (value) {
				this.individualLetterData.fileName = value;
				return false;
			},
			RemoveValue: function (event) {
				event.preventDefault();
				this.$emit('toggleModal');
				return false;
			}
		}
	}
</script>
<style scoped>
	.checkbox {
		margin-top: 0px;
	}

	.dropdown-wrapper {
		padding-left: 0px;
		padding-right: 0px;
	}

	.repeat-checkboxes {
		padding-right: 0px;
	}
	/*.col-sm-2{
		padding-left:5px;
		padding-right:5px;
	}*/
</style>