﻿<template>
	<div>
		<form ref="previewForm" target="_blank" method="post">
			<input type="hidden" id="letterModelString" name="letterModelString" />
			<input type="hidden" id="translationModelString" name="translationModelString" />
		</form>
		<form ref="viewFileForm" target="_blank" method="post">
			<input type="hidden" id="filePath" name="filePath" />
		</form>
		<div class="row row-title">
			<HelpContent code="letterbook-create"></HelpContent>
			<div class="col-sm-5">
				<h3>Letters - <small><A href="#" @click="goToProjectDetail">{{vm.bundleName}}&nbsp;<i class="fas fa-link" v-if="vm.mergedProjectIds.length > 0" title="This Project has been merged with other Projects."></i></A>&nbsp;<code v-if="vm.projectIndicator != '' && vm.projectIndicator != null"> {{vm.projectIndicator}} </code>&nbsp; (<strong>Overall Status</strong> - {{vm.projectStatus}} | <strong>QA Status</strong> - {{vm.bundleStatus}})</small></h3>
				<h3 v-if="!vm.isProductionEnvironment">Reset Letterbook Test Case - <small><A href="#" @click="resetTestCase">Click Here</A> </small></h3>
			</div>
			<div class="col-sm-3 text-center">
			</div>
			<div class="col-sm-4 form-buttons">

				<div class="btn-group" v-if="displayOption != displayAvailOptions.Supplement">
					<a class="btn btn-primary dropdown-toggle actionBtn" data-toggle="dropdown" href="#">
						<i class="fas fa-cog"></i> Actions&nbsp;<i class="fas fa-caret-down" title="Toggle dropdown menu"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a v-if="vm.enInvolvementNeeded" style="cursor:not-allowed" title="Cannot be approved. EN Involment is checked"><i class="fas fa-save"></i>&nbsp;Post Letter(s)</a><a v-else href="#" @click="processLetters"><i class="fas fa-save"></i>&nbsp;Post Letter(s)</a></li>
						<li class="divider Reviews"></li>
						<li><a href="#" @click="setShowCompliance(true)"><i class="fas fa-question-circle" title="Compliance Review Needed"></i> Compliance Review</a></li>
						<li><a href="#" @click="setShowENReview(true)"><i class="fas fa-envelope" title="Notify Eng Review"></i> Engineering Review</a></li>
						<li><a href="#" @click="setShowLAReview(true)"><i class="fas fa-comment" title="Latin America Review Needed"></i> Latin America Review</a></li>
						<li><a href="#" @click="sendForSecondaryReview"><i class="fas fa-arrow-circle-left" title="Letter Review Needed"></i> Secondary Review</a></li>
						<li class="divider Reviews"></li>
						<li v-if="vm.canAccessLetterGen"><a href="#" @click="goToLetterGen"><i class="fas fa-edit" title="Go to Letter Generation"></i> Generate Letters</a></li>
					</ul>
				</div>
				&nbsp;&nbsp;
				<a class="btn btn-primary actionBtn" id="SupplementBtn" v-if="displayOption == displayAvailOptions.Supplement" @click="processSupplements"><i class="fas fa-save"></i>&nbsp;Post Supplement Letter(s)</a>
				<input type="reset" id="CancelBtn" class="btn btn-primary" value="Cancel" onclick="window.close();">
				&nbsp;&nbsp;
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-12 text-center">
				<label class="radio-inline"><input type="radio" name="filterOption" :value="displayAvailOptions.All" v-model="displayOption"><font class="text-info"><b>Certifications</b></font></label>
				<label class="radio-inline"><input type="radio" name="filterOption" :value="displayAvailOptions.Supplement" v-model="displayOption"><font class="text-info"><b><i>Supplement </i>Letters</b></font></label>
			</div>
		</div>
		<hr />
		<div class="row">
			<span v-show="displayOption == displayAvailOptions.All && this.vm.createLetters.some(v => !v.hasExistingCertification)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="selToProcessPending" title="Check this box to select Pending to post." @click="checkAllToProcess()" />&nbsp;&nbsp;Check <strong>All Pending</strong> To Process</span>
			<span v-show="displayOption == displayAvailOptions.All && this.vm.createLetters.some(v => v.hasExistingCertification)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="selToProcessPosted" title="Check this box to select Posted to post." @click="checkAllToProcess()" />&nbsp;&nbsp;Check <strong>All Posted</strong> To Process</span>
		</div>
		<br />
		<div v-if="displayOption==displayAvailOptions.All || displayOption==displayAvailOptions.Pending || displayOption==displayAvailOptions.Posted ">
			<div v-for="(letter, index) in vm.createLetters">
				<PendingDocTile :letter="letter"
								:id="index"
								:docTypes="vm.letterTypeOptions"
								:enInvolvementNeeded="vm.enInvolvementNeeded"
								:languages="vm.languages"
								:lwLocationId="vm.lwLocationId"
								:projectId="vm.projectId"
								:updatedDateReasons="vm.updatedDateReasons"
								:settableStatuses="vm.settableStatuses"
								:draftLetterOptions="vm.draftLetterOptions"
								:nonDraftLetterheads="vm.nonDraftLetterheads"
								:draftLetterheads="vm.draftLetterheads"
								:isClosedBundle="vm.isClosedBundle"
								:applicableKSAJurisdictions="vm.applicableKSAJurisdictions"
								:canRepostLetter="vm.canRepostLetters"
								:canDeleteLetter="vm.canDeleteLetter"
								:validator="$v.vm.createLetters.$each[index]"
								:infoModel="JSON.parse(JSON.stringify(complianceInfo))"
								:allLetters="vm.createLetters"
								@applyBillingToSelected="applyBillingToSelected"
								@checkNonBillableJurisdictions="checkNonBillableJurisdictions"
								@copyLetterData="copyLetterData"
								@copyRVNU="copyRVNU"
								@mergeJuris="mergeJuris"
								@openFile="openFile"
								@postLetter="processLetter"
								@previewLetter="preview"
								@previewTranslationLetter="previewTranslation"
								@postTranslations="postTranslations"
								@processCompliance="setShowCompliance"
								@refreshData="refreshData"
								@reSetAllSelection="reSetAllSelection"
								@splitJuris="splitJuris"
								ref="DocTile">
				</PendingDocTile>
			</div>
		</div>
		<div id="supplementBox" v-if="displayOption==displayAvailOptions.Supplement">
			<div v-for="(supplementLetter, index) in vm.createSupplementLetters">
				<SupplementDocTile :letter="supplementLetter"
								   :id="index"
								   :canDeleteLetter="vm.canDeleteLetter"
								   :languages="vm.languages"
								   :lwLocationId="vm.lwLocationId"
								   :draftLetterOptions="vm.draftLetterOptions"
								   :draftLetterheads="vm.draftLetterheads"
								   :nonDraftLetterheads="vm.nonDraftLetterheads"
								   :validator="$v.vm.createSupplementLetters.$each[index]"
								   @applyBillingToSelected="applyBillingToSelectedSupplements"
								   @checkNonBillableJurisdictions="checkNonBillableJurisdictions"
								   @copyLetterData="copyLetterData"
								   @openFile="openFile"
								   @postSupplement="processSupplement"
								   @previewSupplement="previewSupplement"
								   @previewTranslationLetter="previewTranslation"
								   @splitJuris="splitJuris"
								   ref="SuppDocTile">
				</SupplementDocTile>
			</div>

		</div>
		<div class="row" v-if="vm.createLetters.length > 0" title="Legend">
			<div class="pull-right" v-show="displayOption != displayAvailOptions.Supplement"><table><tr><td><span class="legendBox letterSelectedToProcess"></span><span class="text-info letterSelectedToProcess"><b><i>Selected To Process</i></b></span></td><td><span class="legendBox pendingLetter"></span><span class="text-info pendingLetter"><b><i>Pending</i></b></span></td><td><span class="legendBox postedLetter"></span><span class="text-info postedLetter"><b><i>Posted</i></b></span></td><td><span class="legendBox draftLetter"></span><span class="text-info draftLetter"><b><i>Draft</i></b></span></td><td><span class="legendBox complianceLetter"></span><span class="text-info complianceLetter"><b><i>Compliance</i></b></span></td><td>&nbsp;&nbsp;&nbsp;</td></tr></table></div>
		</div>
		<!--EN Review-->
		<ENReview :showReviewModal="showENReview"
				  :vm="vm.enReviewData"
				  :emptyVM="emptyENReview"
				  @setShowENReview="setShowENReview"
				  @sendENReview="sendForENReview">
		</ENReview>
		<!--Compliance-->
		<ComplianceReview :showComplianceModal="showCompliance"
						  :vm="vm.complianceInfo"
						  :emptyVM="emptyCompliance"
						  @setShowComplianceReview="setShowCompliance"
						  @processCompliance="updateToCompliance">
		</ComplianceReview>
		<!--Latin America-->
		<LatinAmericaReview :showReviewModal="showLAReview"
							@setShowLAReview="setShowLAReview"
							@sendLAReview="sendForLatinAmericaReview">
		</LatinAmericaReview>
		<!--Send Email-->
		<EmailTo :showEmailModal="showEmailModal"
				 :title="'Send Email For NU/RV To'"
				 :defaultUserIds="vm.nurvEmailToUserIds"
				 :defaultUsers="vm.nurvEmailToUsers"
				 @setEmailModal="setEmailModal"
				 @setNURVEmail="setNURVEmail">
		</EmailTo>
	</div>
</template>
<script>
	import api from '@/api/letterbook';
	import BillingInfo from '@/components/documents/create/BillingInfo.vue';
	import ComplianceReview from '@/components/documents/create/ComplianceReview.vue';
	import EmailTo from '@/components/documents/create/SendEmailTo.vue';
	import ENReview from '@/components/documents/create/ENReview.vue';
	import LatinAmericaReview from '@/components/documents/create/LatinAmericaReview.vue';
	import PendingDocTile from '@/components/documents/create/PendingDocTile.vue';
	import SupplementDocTile from '@/components/documents/create/SupplementDocTile.vue';
	import { JURISDICTION_STATUS } from '@/common';
	import { required, requiredIf, minLength } from 'vuelidate/lib/validators';
	import HelpContent from '@/components/help/HelpContent.vue';
	import Vue from 'vue';
	
	export default {
		components: {
			BillingInfo,
			ComplianceReview,
			EmailTo,
			ENReview,
			LatinAmericaReview,
			PendingDocTile,
			SupplementDocTile,
			HelpContent
		},
		computed: {
			
		},
		created: function () {
			DoneLoading()
		},
		data: function () {
			return {
				vm: initialData,
				docViewUrl: gpsDocViewerUrl,
				previewUrl: previewUrl,
				showSupplement: false,
				emptySupplement: {},
				displayOption: 'All',
				displayAvailOptions: { 'Pending': 'Pending', 'Posted': 'Posted', 'Supplement': 'Supplement', 'All': 'All' },
				complianceInfo: baseComplianceDataModel,
				showENReview: false,
				emptyENReview: {},
				showCompliance: false,
				showLAReview: false,
				showEmailModal: false,
				emptyCompliance: {},
				openStatus: [JURISDICTION_STATUS.RA.code, JURISDICTION_STATUS.OH.code, JURISDICTION_STATUS.CP.code],
				approvedLetters: [],
				failedLetters: []
			}
		},
		validations() {
			return {
				vm: {
					createLetters: {
						$each: {
							mainLetter: {
								letterheadId: {
									required
								},
								language: {
									required
								},
								fileId: {
									required
								}
							},
							translations: {
								$each: {
									mainLetter: {
										letterheadId: {
											required
										},
										language: {
											required
										},
										fileId: {
											required
										}
									}
								}
							},
							selectedApprovalStatus: {
								required
							},
							dateOfReport: {
								required
							},
							completeDate: {
								required: requiredIf(function (thisObj) {
									return(thisObj.selectedApprovalStatus != JURISDICTION_STATUS.DR.code)
								})
							},
							certificationLab: {
								required: requiredIf(function (thisObj) {
									return(thisObj.selectedApprovalStatus != JURISDICTION_STATUS.DR.code)
								})
							},
							draftDate: {
								required: requiredIf(function (thisObj) {
									return(thisObj.isDraftLetter)
								})
							},
							updateDate: {
								required: requiredIf(function (thisObj) {
									return(this.vm.isClosedBundle && thisObj.currentJurisdictionalStatus == JURISDICTION_STATUS.AP.code )
								})
							},
							updatedDateReasonId: {
								required: requiredIf(function (thisObj) {
									return(this.vm.isClosedBundle && thisObj.currentJurisdictionalStatus == JURISDICTION_STATUS.AP.code )
								})
							},
							defaultApprovalStatus: {
								required
							},
							documentTypeId: {
								required
							}
						}
					},
					createSupplementLetters: {
						$each: {
							mainLetter: {
								letterheadId: {
									required
								},
								language: {
									required
								},
								fileId: {
									required
								}
							},
							translations: {
								$each: {
									mainLetter: {
										letterheadId: {
											required
										},
										language: {
											required
										},
										fileId: {
											required
										}
									}
								}
							},
							dateOfReport: {
								required
							},
							completeDate: {
								required: requiredIf(function (thisObj) {
									return(thisObj.documentType != 'Supplemental')
								})
							},
							documentTypeId: {
								required
							}
						}
					}
				}
			}
		},
		methods: {
			applyBillingData: function (letter, copyFrom, copyComment) {
				letter.billingInfo.billingSheet = copyFrom.billingSheet;
				letter.billingInfo.billingSheetId = copyFrom.billingSheetId;
				//if (letter.billingInfo.billingSheet == 'EUSpecialized') {
				//	letter.billingInfo.euReportType = copyFrom.reportType;
				//}
				//else {
				//	letter.billingInfo.reportType = copyFrom.reportType;
				//}

				//letter.billingInfo.specializedType = copyFrom.specializedType;
				//letter.billingInfo.isFixedPrice = copyFrom.isFixedPrice;

				letter.billingInfo.laboratoryId = copyFrom.laboratoryId;
				letter.billingInfo.lab = copyFrom.lab;
				
				letter.billingInfo.itemsBeingBilledCount = copyFrom.itemsBeingBilledCount;
				if (copyComment) {
					letter.billingInfo.note = copyFrom.note;
				}

				letter.billingInfo.availableBillingSheets = copyFrom.availableBillingSheets;
			},
			applyBillingToSelected: function (copyFrom) {
				let self = this;
				if (this.vm.createLetters.filter(x => x.isSelectedToProcess).length > 0) {
					bootbox.confirm("Do you also want to copy Invoice Comment? <br> Click 'OK' to copy Invoice Comment. Click 'Cancel' to copy all other information but Invoice Comment.", function (result) {
						if (result) {
							for (var i = 0; i < self.vm.createLetters.length; i++) {
								if (self.vm.createLetters[i].isSelectedToProcess == true) {
									self.applyBillingData(self.vm.createLetters[i], copyFrom, true)
								}
							}
						}
						else {
							for (var i = 0; i < self.vm.createLetters.length; i++) {
								if (self.vm.createLetters[i].isSelectedToProcess == true) {
									self.applyBillingData(self.vm.createLetters[i], copyFrom, false)
								}
							}
						}
					});
				}
			},
			applyBillingToSelectedSupplements: function (copyFrom) {
				let self = this;
				if (this.vm.createSupplementLetters.filter(x => x.isSelectedToProcess).length > 1) {
					bootbox.confirm("Do you also want to copy Invoice Comment? Click 'OK' to copy Invoice Comment. Click 'Cancel' to copy all other information but Invoice Comment.", function (result) {
						if (result) {
							for (var i = 0; i < self.vm.createSupplementLetters.length; i++) {
								if (self.vm.createSupplementLetters[i].isSelectedToProcess == true) {
									self.applyBillingData(self.vm.createSupplementLetters[i], copyFrom, true)
								}
							}
						}
						else {
							for (var i = 0; i < self.vm.createSupplementLetters.length; i++) {
								if (self.vm.createSupplementLetters[i].isSelectedToProcess == true) {
									self.applyBillingData(self.vm.createSupplementLetters[i], copyFrom, false)
								}
							}
						}
					});
				}
			},
			checkAllToProcess: function () {

				if ($('#selToProcessPending').prop("checked")) {
					var displayed = this.vm.createLetters
					displayed = displayed.filter(x => !x.hasExistingCertification)
					for (var i = 0; i < displayed.length; i++) {
						displayed[i].isSelectedToProcess = true
					}
				}
				else
				{
					var displayed = this.vm.createLetters
					displayed = displayed.filter(x => !x.hasExistingCertification)
					for (var i = 0; i < displayed.length; i++) {
						displayed[i].isSelectedToProcess = false
					}
				}

				if ($('#selToProcessPosted').prop("checked")) {
					var displayed = this.vm.createLetters
					displayed = displayed.filter(x => x.hasExistingCertification)
					for (var i = 0; i < displayed.length; i++) {
						displayed[i].isSelectedToProcess = true
					}
				}
				else
				{
					var displayed = this.vm.createLetters
					displayed = displayed.filter(x => x.hasExistingCertification)
					for (var i = 0; i < displayed.length; i++) {
						displayed[i].isSelectedToProcess = false
					}
				}
			},
			checkNonBillableJurisdictions: function (letter, id) {
				let ifNonBillable = this.vm.nonBillableJurisdictions.some(x => x == letter.jurisdictionId);
				if (ifNonBillable) {
					letter.letterApprovalData.isBillable = false;
				}
			},
			copyLetterData: function (letter, isSupplement) {
				let self = this;
				let selected = this.vm.createLetters.filter(x => x.isSelectedToProcess)
				if (isSupplement) {
					selected = this.vm.createSupplementLetters.filter(x => x.isSelectedToProcess)
				}
				if (selected.length > 0) {
					bootbox.confirm("Are you sure you want to copy the letter information and component selection to selected Jurisdiction(s)?", function (result) {
						if (result) {
							self.copyLetterAndComponentInformation(letter, isSupplement);
						}
					});
				}
				else {
					bootbox.alert("Please select Jurisdiction to copy information.")
				}
			},
			copyLetterAndComponentInformation: function (letter, isSupplement) {
				let self = this;
				let mainLetter = _.cloneDeep(letter.mainLetter);
				let translations = _.cloneDeep(letter.translations);
				let correctionCoverPage = _.cloneDeep(letter.correctionCoverPage);
				let genericCoverPage = _.cloneDeep(letter.genericCoverPage);
				let backPage = _.cloneDeep(letter.backPage);
				
				let approvalDataComponents = letter.letterApprovalData.jurisdictionalDataIds;
			
				let selectedLetters = this.vm.createLetters.filter(x => x.isSelectedToProcess)
				if (isSupplement) {
					selectedLetters = this.vm.createSupplementLetters.filter(x => x.isSelectedToProcess)
				}
								
				selectedLetters.forEach(function (selectedLetter, index) {
					//selectedLetter.mainLetter = mainLetter;
					self.copyLetterInfo(selectedLetter.letterApprovalData.availableSourceDocs, selectedLetter.mainLetter, mainLetter)
					selectedLetter.translations = [];
					selectedLetter.translations = translations;
					if (!isSupplement) {
						//selectedLetter.correctionCoverPage = correctionCoverPage;
						self.copyLetterInfo(selectedLetter.letterApprovalData.availableSourceDocs, selectedLetter.correctionCoverPage, correctionCoverPage)
						//selectedLetter.genericCoverPage = genericCoverPage;
						self.copyLetterInfo(selectedLetter.letterApprovalData.availableSourceDocs, selectedLetter.genericCoverPage, genericCoverPage)
						//selectedLetter.backPage = backPage;
						self.copyLetterInfo(selectedLetter.letterApprovalData.availableSourceDocs, selectedLetter.backPage, backPage)
					}
					
					approvalDataComponents.forEach(function (comp, index) {
						let selectComp = selectedLetter.letterApprovalData.jurisdictionalDataIds.find(x => x.submissionId == comp.submissionId)
						if (selectComp != null) {
							selectComp.isAttachedToLetter = true;
						}
					})
				})
			},
			copyLetterInfo: function (copyToAvailableSourceDocs, copyTo, copyFrom) {
				let exists = copyToAvailableSourceDocs.find(x => x.id == copyFrom.fileId);
				if (exists) {
					copyTo.fileId = copyFrom.fileId;
					copyTo.fileName = copyFrom.fileName;
				}
				copyTo.language = copyFrom.language;
				copyTo.letterheadFilePath = copyFrom.letterheadFilePath;
				copyTo.letterheadId = copyFrom.letterheadId;
				copyTo.repeatOverlay = copyFrom.repeatOverlay;
				copyTo.timelineType = copyFrom.timelineType;
				copyTo.type = copyFrom.type;
			},
			copyRVNU: function (letter) {
				let selectedLetters = this.vm.createLetters.filter(x => x.isSelectedToProcess)
				
				selectedLetters.forEach(function (selectedLetter, index) {
					selectedLetter.containsRVNU = letter.containsRVNU;
				});
			},
			goToLetterGen: function () {
				window.open(jsPath + 'documents/generate?bundleId=' + this.vm.bundleId);
			},
			goToProjectDetail: function () {
				window.open(jsPath + 'protrack/project/detail/' + this.vm.projectId);
			},
			loadLetterModels: function () {
				let self = this;
				Loading();
				api.getLetterModels(this.vm.bundleId)
					.then(response => {
						console.log(response.data)
						self.vm.createLetters = response.data;		
						self.checkAllToProcess();
						DoneLoading()
						
					}).catch(error => {
						alert("error")
					
					});
			},
			loadSupplementLetterModels: function () {
				let self = this;
				Loading();
				api.getSupplementLetterModels(this.vm.bundleId)
					.then(response => {
						console.log(response.data)
						self.vm.createSupplementLetters = response.data;
						DoneLoading()
						
					}).catch(error => {
						alert("error")
					
					});
			},
			mergeJuris: function (letter, index, isSupplementLetters) {
				letter.isSelectedToProcess = true;
				var selected = this.vm.createLetters.filter(x => x.isSelectedToProcess)
				if (selected.length > 1) {
					//check same jur
					let selJurisdiction = letter.jurisdictionId;
					for (var i = 0; i < selected.length; i++) {
						if (selected[i].jurisdictionId != selJurisdiction) {
							bootbox.alert("You must select same jurisdiction grouping.")
							return
						}
					}

					//check if all are going to same status
					let selStatus = letter.selectedApprovalStatus;
					for (var i = 0; i < selected.length; i++) {
						if (selected[i].selectedApprovalStatus != selStatus) {
							bootbox.alert("You must select jurisdiction with same approval status.")
							return
						}
					}
					//Check current Status
					let currentStatus = letter.currentJurisdictionalStatus;
					let isAllSameCurrentStatus = true;
					for (var i = 0; i < selected.length; i++) {
						if (selected[i].currentJurisdictionalStatus != currentStatus) {
							isAllSameCurrentStatus = false
						}
					}

					//if all same status, any can be merged into
					let mergeMaster = letter;
					if (currentStatus == "RA" && !isAllSameCurrentStatus) { //mergemaster be one with the AP status in case of add/cor and orig
						mergeMaster = selected.find(m => m.currentJurisdictionalStatus != "RA")
					}
									   
					//Merge
					var approvalData = [];
					for (var i = 0; i < selected.length; i++) {
						let seldata = _.cloneDeep(selected[i].letterApprovalData.jurisdictionalDataIds)
						approvalData.push(...seldata);
					}
					mergeMaster.letterApprovalData.jurisdictionalDataIds = approvalData;
										
					//remove the other grouping
					mergeMaster.isSelectedToProcess = false;
					for (var i = this.vm.createLetters.length-1; i >=0; i--) {
						if (this.vm.createLetters[i].isSelectedToProcess) {
							this.vm.createLetters.splice(i, 1);
						}
					}
				}
				else {
					bootbox.alert("Please select Jurisdiction(s) to merge.")
				}
			},
			openFile: function (file) {
				
				let form = this.$refs.viewFileForm;
					$('#filePath').val(file)
					form.action = jsPath + 'documents/createvue/viewpdf';
					form.submit();

				//api.viewPdf(file)
				//	.then(response => {
				//	this.forceFileDownload(response);
				//}).catch(error => {
				//	console.log(error);
				//});
			},
			postLetter: function (letter, index, currentElement) {
				var self = this
				return new Promise(function (resolve) {
					self.showProcessing(index, false);
					
					api.postApproval(letter)
						.then(response => {
							
							if (!response.data.error) {
								currentElement.style.backgroundImage = 'none';
								self.setGeneratedLetterModel(letter, index, response.data.postedLetter)
								self.showSuccess(index, false);
								self.approvedLetters.push(letter);
								if (!response.data.uploadedToGPS) {
									bootbox.alert("<font class='alert-warning'>Warning!!!</font> - One or more Add'l failed to uplaod to GPS, Please try to upload failed Pdf again.")
								}
								resolve(true)
							}
							else {
								//alert("error")
								currentElement.style.backgroundImage = 'linear-gradient(#ff9393, white)';
								self.showFail(index, false);
								self.failedLetters.push(letter);
								resolve(true)
								bootbox.alert("<font class='text-danger'>Error!!!</font> - " + response.data.message)
							}
						}).catch(error => {
							//alert("error")
							currentElement.style.backgroundImage = 'linear-gradient(#ff9393, white)';
							self.showFail(index, false);
							self.failedLetters.push(letter);
							resolve(true)
							bootbox.alert("<font class='text-danger'>Error!!!</font> - " + response.data.message)
						});
				})
			},
			postSupplement: function (letter, index, currentElement) {
				var self = this
				return new Promise(function (resolve) {
					self.showProcessing(index, true);
					
					api.postSupplement(letter)
						.then(response => {
							
							if (!response.data.error) {
								currentElement.style.backgroundImage = 'none';
								letter.currentJurisdictionalStatus = response.data.postedLetter.currentJurisdictionalStatus
								self.showSuccess(index, true);
								if (!response.data.uploadedToGPS) {
									bootbox.alert("<font class='alert-warning'>Warning!!!</font> - One or more Add'l failed to uplaod to GPS, Please try to upload failed Pdf again.")
								}
								resolve(true)
							}
							else {
								//alert("error")
								currentElement.style.backgroundImage = 'linear-gradient(#ff9393, white)';
								self.showFail(index,true);
								resolve(true)
								bootbox.alert("<font class='alert-danger'>Error!!!</font> - " + response.data.message)
							}
						}).catch(error => {
							//alert("error")
							currentElement.style.backgroundImage = 'linear-gradient(#ff9393, white)';
							self.showFail(index, true);
							resolve(true)
							bootbox.alert("<font class='alert-danger'>Error!!!</font> - " + response.data.message)
						});
				})
			},
			postTranslations: function (postObj, index) {
				
				let self = this
				if (this.$v.vm.createLetters.$each[index].translations.$invalid) {
					bootbox.alert("Please correct data.")
				}
				else {
					Loading()
					let letter = postObj.letter
					self.showProcessing(index, false)
					api.postTranslations(letter, letter.documentVersionId)
						.then(response => {
							DoneLoading()
							if (!response.data.error ) {
								Vue.set(self.vm.createLetters[index], "translationCount", response.data.translationCount)
								Vue.set(self.vm.createLetters[index], "mainTranslationsDisplay", response.data.translationsDisplay)
								self.showSuccess(index, false);
								if (!response.data.uploadedToGPS) {
									bootbox.alert("<font class='alert-warning'>Warning!!!</font> - One or more Add'l failed to uplaod to GPS, Please try to upload failed Pdf again.")
								}
							}
							else {
								self.showFail(index, false);
								bootbox.alert("<font class='alert-danger'>Error!!!</font> - " + response.data.message)
							}
						}).catch(error => {
							DoneLoading()
							self.showFail(index, false);
							bootbox.alert("<font class='alert-danger'>Error!!!</font> - " + response.data.message)
							
						});
				}
			},
			preview: function (letter, index, el) {
				if (this.validate(letter, index, true)) {
					let form = this.$refs.previewForm;
					$('#letterModelString').val(JSON.stringify(letter))
					form.action = jsPath + 'documents/createvue/previewpdf';
					form.submit();
				}
				else {
					bootbox.alert("Please correct data.")
				}
			},
			previewTranslation: function (translationLetter, currentLetter, index, el) {
					let form = this.$refs.previewForm;
					$('#translationModelString').val(JSON.stringify(translationLetter))
					$('#letterModelString').val(JSON.stringify(currentLetter))
					form.action = jsPath + 'documents/createvue/previewtranslationpdf';
					form.submit();
			},
			previewSupplement: function (letter, index, el) {
				if (this.validateSupplement(letter, index, true)) {
					let form = this.$refs.previewForm;
					$('#letterModelString').val(JSON.stringify(letter))
					form.action = jsPath + 'documents/createvue/previewsupplementpdf';
					form.submit();
				}
				else {
					bootbox.alert("Please correct data.")
				}
			},
			processCompliance: function (letter, complianceData, index) { // wrap with post method similar to above?
				var self = this;
				return new Promise(function (resolve) {
					self.showProcessing(index, false);
					api.postCompliance(letter, complianceData)
						.then(response => {
							if (!response.data != "Error") {
								bootbox.alert("The following ticket has been created: " + JSON.stringify(response.data.Key)) //Need to check if needs to be formatted
								letter.currentJurisdictionalStatus = 'CP';
								self.showSuccess(index);
								resolve(true)
							}
							else {
								alert("error")
								self.showFail(index);
								resolve(true)
							}
						}).catch(error => {
							alert("error")
							self.showFail(index);
							resolve(true)
						});
				});
			},
			processLetter: function (index) {
				let self = this;
				
				var selected = this.vm.createLetters.filter(x => x.isSelectedToProcess)
				if (selected.length > 1) {
					bootbox.confirm("Multiple Jurisdictions are selected. Do you wish to process all letters?", function (result) {
						if (result) {
							self.processLetters();
						}
						else {
							for (var i = 0; i < self.vm.createLetters.length; i++) {
								if (i != index && self.vm.createLetters[i].isSelectedToProcess == true) {
									self.vm.createLetters[i].isSelectedToProcess = false;
								}
							}
							self.processLetters();
						}
					});
				}
				else {
					this.processLetters();
				}
				
			},
			processLetters: async function () {
				//Any NU RV?
				var selectedNURV = this.vm.createLetters.filter(x => x.containsRVNU && x.sendEmailRVNUTo.length == 0)
				if (selectedNURV.length > 0) {
					this.setEmailModal(true);
				}
				else {
					this.approvedLetters = [];
					this.failedLetters = [];
					if (this.vm.createLetters.filter(x => x.isSelectedToProcess).length > 0) {
						var isDataValidated = false
						this.$v.$touch();

						var self = this
						for (var i = 0; i < this.vm.createLetters.length; i++) {
							if (this.vm.createLetters[i].isSelectedToProcess == true) {
								if (this.validate(this.vm.createLetters[i], i, false)) {
									isDataValidated = true
								}
								else {
									isDataValidated = false
									break
								}
							}
						}

						if (isDataValidated) { //(!this.$v.$invalid) {
							let confirmation = await this.processConfirmation()
							if (confirmation) {
								Loading();
								for (var i = 0; i < this.vm.createLetters.length; i++) {
									if (this.vm.createLetters[i].isSelectedToProcess == true && this.openStatus.indexOf(this.vm.createLetters[i].selectedApprovalStatus) == -1) {
										let result = await this.postLetter(this.vm.createLetters[i], i, this.$refs.DocTile[i].$refs.DocTileEl)
										if (result) {
											await this.sleep(3000) //let other things process and not hog
											continue
										}
									}
								}
								//unselect All at the end
								for (var i = 0; i < this.vm.createLetters.length; i++) {
									if (this.vm.createLetters[i].isSelectedToProcess == true) {
										this.vm.createLetters[i].isSelectedToProcess = false
									}
								}

								//Send confirmation Email
								this.sendConfirmationEmail();
								DoneLoading();
							}
						}
						else {
							bootbox.alert("Please correct data.")
							return (isDataValidated)
						}
					}
					else {
						bootbox.alert("Please select Jurisdiction(s) to process letters.")
						return (isDataValidated)
					}
					//for posted if add/cor, update date/update reason
				}
			},
			sleep: function (ms) {
				return new Promise(resolve => setTimeout(resolve, ms));
			},
			processConfirmation: function () {
				var confirmMsg = ''
				var self = this
				return new Promise(function (resolve) {
					var selected = self.vm.createLetters.filter(x => x.isSelectedToProcess)
						api.getConfirmation(self.vm.bundleId, selected)
						.then(response => {
							confirmMsg = "<strong class='text-warning'>Please confirm below approval data.</strong><hr>" + response.data
							bootbox.confirm(confirmMsg, function (result) {
								if (result) {
									resolve(true)
								}
								else {
									resolve(false)
								}
							});
						}).catch(error => {
							resolve(false)
						});
				});
			},
			processSupplement: function (index) {
				let self = this;
				var selected = this.vm.createSupplementLetters.filter(x => x.isSelectedToProcess)
				if (selected.length > 1) {
					bootbox.confirm("Multiple Jurisdictions are selected. Do you wish to process all supplements?", function (result) {
						if (result) {
							self.processSupplements();
						}
						else {
							for (var i = 0; i < self.vm.createSupplementLetters.length; i++) {
								if (i != index && self.vm.createSupplementLetters[i].isSelectedToProcess == true) {
									self.vm.createSupplementLetters[i].isSelectedToProcess = false;
								}
							}
							self.processSupplements();
						}
					});
				}
				else {
					this.processSupplements();
				}
			},
			processSupplements: async function () {
				if (this.vm.createSupplementLetters.filter(x => x.isSelectedToProcess).length > 0) {
					var isDataValidated = false
					this.$v.$touch();

					var self = this
					for (var i = 0; i < this.vm.createSupplementLetters.length; i++) {
						if (this.vm.createSupplementLetters[i].isSelectedToProcess == true) {
							if (this.validateSupplement(this.vm.createSupplementLetters[i], i, false)) {
								isDataValidated = true
							}
							else {
								isDataValidated = false
								break
							}
						}
					}

					if (isDataValidated) { //(!this.$v.$invalid) {
						Loading();
						for (var i = 0; i < this.vm.createSupplementLetters.length; i++) {
							if (this.vm.createSupplementLetters[i].isSelectedToProcess == true) {
								let result = await this.postSupplement(this.vm.createSupplementLetters[i], i, this.$refs.SuppDocTile[i].$refs.SuppDocTileEl)
								if (result) {
									await this.sleep(3000) //let other things process and not hog
									continue
								}
							}
						}
						//unselect All at the end
						for (var i = 0; i < this.vm.createSupplementLetters.length; i++) {
							if (this.vm.createSupplementLetters[i].isSelectedToProcess == true) {
								this.vm.createSupplementLetters[i].isSelectedToProcess = false
							}
						}
						DoneLoading();
					}
					else {
						bootbox.alert("Please correct data.")
						return (isDataValidated)
					}
				} else {
					bootbox.alert("Please select Jurisdiction(s) to process letters.")
					return (isDataValidated)
				}
			},
			refreshData: function () {
				Loading();
				window.location.reload();
			},
			reSetAllSelection: function (letter) {
				if (!letter.isSelectedToProcess && letter.hasExistingCertification) {
					$("#selToProcessPosted").prop("checked", false);
				}
				else if (!letter.isSelectedToProcess && !letter.hasExistingCertification) {
					$("#selToProcessPending").prop("checked", false);
				}
				
			},
			resetTestCase: function () {	
				Loading();
				api.resetTestCase(this.vm.bundleId)
				.then(response => {
					DoneLoading();
					window.location.reload();
				}).catch(error => {
					DoneLoading();
					alert("error")
				});
			},
			//forceFileDownload(response) {
			//	var newBlob = new Blob([response.data],{type: 'application/pdf'})
				
			//	// IE doesn't allow using a blob object directly as link href
			//	// instead it is necessary to use msSaveOrOpenBlob
			//	 if (window.navigator && window.navigator.msSaveOrOpenBlob) {
			//		window.navigator.msSaveOrOpenBlob(newBlob,'file.pdf');
			//		return;
			//	  } 
			//	const url = window.URL.createObjectURL(newBlob)
			//	const link = document.createElement('a')
			//	link.href = url
			//	link.setAttribute('download', 'file.pdf') //or any other extension
			//	document.body.appendChild(link)
			//	link.click()
			//},
			sendConfirmationEmail: function () {
				if (this.approvedLetters != null) {
					api.sendConfirmationEmail(this.vm.bundleId, this.approvedLetters, this.failedLetters)
						.then(response => {

						}).catch(error => {
							bootbox.alert("Confirmation Email failed")
						});
				}
				else {
					bootbox.alert("<strong class='text-error'>Error!!<strong> Failed to post letters.")
				}
			},
			sendForLatinAmericaReview: function (userId) {
				var anySelected = this.vm.createLetters.some(x => x.isSelectedToProcess);
				if (anySelected) {
					Loading();
					api.sendForLatinAmericaReview(this.vm.createLetters, this.vm.bundleId, userId)
						.then(response => {
							DoneLoading();
							if (response.data != "Error") {
								var message = "Selected Jurisdictions were updated for Latin America Review successfully."
								if (!Em(response.data.NewBundleName)) {
									message = "Selected Jurisdictions were updated for Latin America Review successfully in " + response.data.NewBundleName + "."
								}
								bootbox.dialog({
									message: message,
									title: "Latin America Review",
									buttons: {
										sucess: {
											label: "Ok",
											callback: function () {
												window.location.reload();
											}
										}
									},
									onEscape: function () {
										window.location.reload();
									}
								});
							}
							else {
								bootbox.alert("Error occured.")
							}
						}).catch(error => {
							DoneLoading();
							bootbox.alert("Error occured")
						});
				}
				else {
					bootbox.alert("Please select a jurisdiction.")
				}
			},
			sendForSecondaryReview: function () {
				var anySelected = this.vm.createLetters.some(x => x.isSelectedToProcess);
				if (anySelected) {
					Loading();
					api.sendForSecondaryReview(this.vm.createLetters, this.vm.bundleId)
						.then(response => {
							if (response.data != "Error") {
								DoneLoading();
								var message = "Selected Jurisdictions were updated for Secondary Review successfully."
								if (!Em(response.data.NewBundleName)) {
									message = "Selected Jurisdictions were updated for Secondary Review successfully in " + response.data.NewBundleName + "."
								}
								bootbox.dialog({
									message: message,
									title: "Secondary Review",
									buttons: {
										sucess: {
											label: "Ok",
											callback: function () {
												window.location.reload();
											}
										}
									},
									onEscape: function () {
										window.location.reload();
									}
								});
							}
							else {
								DoneLoading();
								bootbox.alert("Error occured.")
							}
						}).catch(error => {
							DoneLoading();
							bootbox.alert("Error occured")
						});
				}
				else {
					bootbox.alert("Please select a jurisdiction.");
				}
			},
			setEmailModal: function (val) {
				this.showEmailModal = val
			},
			setNURVEmail: function (val) {
				let self = this;
				for (var i = 0; i < self.vm.createLetters.length; i++) {
					if (self.vm.createLetters[i].containsRVNU) {
						self.vm.createLetters[i].sendEmailRVNUTo = val;
					}
				}
				this.processLetter();
			},
			setShowCompliance: function (val) {
				this.showCompliance = val
			},
			setShowENReview: function (val) {
				this.showENReview = val
			},
			setShowLAReview: function (val) {
				this.showLAReview = val
			},
			sendForENReview: function (enReviewObj) {
				var anySelected = this.vm.createLetters.some(x => x.isSelectedToProcess);
				if (anySelected) {
					for (var i = 0; i < this.vm.createLetters.length; i++) {
						if (this.vm.createLetters[i].isSelectedToProcess == true) {
							if (this.vm.createLetters[i].mainLetter.fileId == null) {
								bootbox.alert("Please select File for selected Jurisdictions")
								return
							}
						}
					}
					api.sendToENForReview(this.vm.createLetters, enReviewObj, this.vm.bundleName, this.vm.bundleTarget)
						.then(response => {
							if (response.data != "Error") {
								bootbox.alert("Email For Engineering Review was sent successfully.")
							}
							else {
								bootbox.alert("Error occured.")
							}

						}).catch(error => {
							bootbox.alert("Error occured")
						});
				}
				else {
					bootbox.alert("Please select a jurisdiction.");
				}
			},
			setGeneratedLetterModel: function (letter, index, postedLetter) {
				
				//alert(index)
				//alert(postedLetter.ExistingPdfName)
				//letter.existingPdfName = postedLetter.ExistingPdfName
				//letter.translationCount= postedLetter.TranslationCount
				Vue.set(this.vm.createLetters[index], "currentJurisdictionalStatus", postedLetter.currentJurisdictionalStatus)
				Vue.set(this.vm.createLetters[index], "existingPdfPath", postedLetter.existingPdfPath)
				Vue.set(this.vm.createLetters[index], "existingPdfName", postedLetter.existingPdfName)
				Vue.set(this.vm.createLetters[index], "hasExistingCertification", true)
				Vue.set(this.vm.createLetters[index], "translationCount", postedLetter.translationCount)
				Vue.set(this.vm.createLetters[index], "mainTranslationsDisplay", postedLetter.mainTranslationsDisplay)
				Vue.set(this.vm.createLetters[index], "draftLetter", postedLetter.draftLetter)
				Vue.set(this.vm.createLetters[index], "documentId", postedLetter.documentId)
				Vue.set(this.vm.createLetters[index], "documentVersion", postedLetter.documentVersion)
				Vue.set(this.vm.createLetters[index], "documentVersionId", postedLetter.documentVersionId)
							
				//Vue.set(this.vm.createLetters[index], "isSelectedToProcess", false)
			},
			showProcessing: function (index, isSupplementLetters) {
				$('.actionBtn').attr("disabled", true);
				if (isSupplementLetters) {
					this.vm.createSupplementLetters[index].failIconShow = false
					this.vm.createSupplementLetters[index].successIconShow = false
					//this.vm.createLetters[index].processIconShow = true
					$('#SupProcessIcon' + index).show()
				}
				else {
					this.vm.createLetters[index].failIconShow = false
					this.vm.createLetters[index].successIconShow = false
					//this.vm.createLetters[index].processIconShow = true
					$('#ProcessIcon' + index).show()
				}
			},
			showSuccess: function (index, isSupplementLetters) {
				$('.actionBtn').attr("disabled", false);
				if (isSupplementLetters) {
					this.vm.createSupplementLetters[index].successIconShow = true
					$('#SupProcessIcon' + index).hide()
					this.vm.createSupplementLetters[index].failIconShow = false
				}
				else {
					this.vm.createLetters[index].successIconShow = true
					$('#ProcessIcon' + index).hide()
					//this.vm.createLetters[index].processIconShow = false
					this.vm.createLetters[index].failIconShow = false
				}
			},
			showFail: function (index, isSupplementLetters) {
				$('.actionBtn').attr("disabled", false);
				if (isSupplementLetters) {
					this.vm.createSupplementLetters[index].failIconShow = true
					$('#SupProcessIcon' + index).hide()
					//this.vm.createLetters[index].processIconShow = false
					this.vm.createSupplementLetters[index].successIconShow = false
				}
				else {
					this.vm.createLetters[index].failIconShow = true
					$('#ProcessIcon' + index).hide()
					//this.vm.createLetters[index].processIconShow = false
					this.vm.createLetters[index].successIconShow = false
				}
			},
			splitJuris: function (letter, index, isSupplementLetters) {
				var self= this
				var componentsCopy = _.cloneDeep(letter.letterApprovalData.jurisdictionalDataIds);
				var componentsNotSelected = componentsCopy.filter(x => x.isAttachedToLetter == false)
				var componentsSelected = componentsCopy.filter(x => x.isAttachedToLetter == true)
			
				if (componentsNotSelected.length > 0 && componentsCopy.length > 1 ) {
					var newLetter = _.cloneDeep(letter);
					newLetter.isSelectedToProcess = false
					letter.letterApprovalData.jurisdictionalDataIds = componentsSelected
					newLetter.letterApprovalData.jurisdictionalDataIds = componentsNotSelected
					if (isSupplementLetters) {
						this.vm.createSupplementLetters.splice(index + 1, 0, newLetter)
					}
					else {
						this.vm.createLetters.splice(index + 1, 0, newLetter)
					}
					
				}
			},
			updateComplianceConfirm: function () {
				let self = this;
				return new Promise(function (resolve) {
					var anySelected = self.vm.createLetters.some(x => x.isSelectedToProcess);
					if (anySelected) {
						bootbox.confirm("Are you sure selected Jurisdictions(s) are going to Compliance Review?", function (result) {
							if (result) {
								for (var i = 0; i < self.vm.createLetters.length; i++) {
									if (self.vm.createLetters[i].isSelectedToProcess == true && self.vm.createLetters[i].selectedApprovalStatus !== JURISDICTION_STATUS.CP.code) {
										self.vm.createLetters[i].selectedApprovalStatus = JURISDICTION_STATUS.CP.code;
									}
								}
								return resolve(true);
							}
							else {
								return resolve(false);
							}
						});
					}
					else {
						bootbox.alert("Please select a Jurisdiction.")
						return resolve(false);
					}
				});
			},
			updateToCompliance: async function (comlianceData) {
				this.showCompliance = false
				let confirm = await this.updateComplianceConfirm();
				if (confirm) {
					Loading();
					for (var i = 0; i < this.vm.createLetters.length; i++) {
						if (this.vm.createLetters[i].isSelectedToProcess == true) {
							let result = await this.processCompliance(this.vm.createLetters[i], comlianceData, i)
							if (result) {
								continue
							}
						}
					}
					DoneLoading();
				}
			},
			validate: function (letter, index, isPreview) {
				this.$v.$touch();
				letter.errorMsgs = []
				var isSelectedInvalid = true
				isSelectedInvalid = this.$v.vm.createLetters.$each[index].$invalid
				if (!isSelectedInvalid) { // all custom validations

					var componentsSelected = letter.letterApprovalData.jurisdictionalDataIds.filter(x => x.isAttachedToLetter).length
					if (componentsSelected == 0) {
						letter.errorMsgs.push("Please select components.")
						isSelectedInvalid = true
					}
					else {
						//if not all checked, split
						if (componentsSelected != letter.letterApprovalData.jurisdictionalDataIds.length) {
							//letter.errorMsgs.push("You must split components that are not selected.")
							//isSelectedInvalid = true
							this.splitJuris(letter,index)
						}
						
					}

					//Draft info check
					if(letter.selectedApprovalStatus == JURISDICTION_STATUS.AP.code && (letter.currentJurisdictionalStatus == JURISDICTION_STATUS.DR.code || letter.currentJurisdictionalStatus == JURISDICTION_STATUS.LQ.code)) {
						if (letter.draftLetter.isTimelineRequested && (Em(letter.draftLetter.timelineDate) || letter.draftLetter.timelineDate == null)) {
							letter.errorMsgs.push("You are trying to approve Draft and Timeline is Requested. Please enter Timeline.")
							isSelectedInvalid = true
						}
					}

					if (!isPreview) {
						//Billing
						if (Em(letter.billingInfo.billingSheet) || Em(letter.billingInfo.note)) {
							letter.errorMsgs.push("Please make sure you have selected billing information.")
							isSelectedInvalid = true
						}

						//Check if same file, letterhead
						var allSelected = this.vm.createLetters.filter(x => x.isSelectedToProcess && x.mainLetter.fileId === letter.mainLetter.fileId && x.letterApprovalData.jurisdictionId == letter.letterApprovalData.jurisdictionId);
						if (allSelected.length > 1) {
							letter.errorMsgs.push("Please make sure selected source file. You can not have same source file for different jurisdiction grouping.")
							bootbox.alert("You can not have same source file for different jurisdiction grouping. <br> Please merge Jurisdiction grouping by selecting and clicking on <i class='fas fa-plus-square' style='color:green'></i>")
							isSelectedInvalid = true
						}
					}

				}
				else { //Required
					letter.errorMsgs.push("Enter required data.")
				}
				return (!isSelectedInvalid)
			},
			validateSupplement: function (letter, index, isPreview) {
				this.$v.$touch();
				letter.errorMsgs = []
				var isSelectedInvalid = true
				isSelectedInvalid = this.$v.vm.createSupplementLetters.$each[index].$invalid
				if (!isSelectedInvalid) { // all custom validations

					var componentsSelected = letter.letterApprovalData.jurisdictionalDataIds.filter(x => x.isAttachedToLetter).length
					if (componentsSelected == 0) {
						letter.errorMsgs.push("Please select components.")
						isSelectedInvalid = true
					}
					else {
						//if not all checked, split
						if (componentsSelected != letter.letterApprovalData.jurisdictionalDataIds.length) {
							this.splitJuris(letter,index,true)
						}
					}

					if (!isPreview) {
						//Billing
						if (Em(letter.billingInfo.billingSheet) || Em(letter.billingInfo.note)) {
							letter.errorMsgs.push("Please make sure you have selected billing information.")
							isSelectedInvalid = true
						}
					}
				}
				else { //Required
					letter.errorMsgs.push("Enter required data.")
				}
				return (!isSelectedInvalid)
			}
		},
		mounted: function () {
			this.$data.emptySupplement = _.cloneDeep(this.vm.supplementLetter);
			this.$data.emptyENReview = _.cloneDeep(this.vm.enReviewData);
			this.$data.emptyCompliance = _.cloneDeep(this.vm.complianceInfo);
			
		},
		watch:{
			'displayOption': function (val, oldVal) {
				if (val == this.displayAvailOptions.Supplement) {
					this.loadSupplementLetterModels();
				}
				else if (oldVal == this.displayAvailOptions.Supplement) {
					Loading()
					this.loadLetterModels();
				}
				
			}
		}
	}
</script>
<style scoped>
	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
		border-radius: 5px;
		padding-top: 4px;
		padding-bottom: 5px;
		transition: 0.5s;
		margin-bottom: 5px;
		/*max-height: 30em;*/
		/*overflow:auto;*/
	}

		.card:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
			/*z-index: 999;*/ /*Other modal flickers*/
		}

	.checkbox {
		margin-top: 1px;
	}

	.legendBox {
		float: left;
		width: 10px;
		height: 10px;
		margin: 5px;
		border: 1px solid rgba(0, 0, 0, .2);
	}

	#mainBox {
		overflow-y: scroll;
		max-height: 630px;
		border-style: solid;
		border-color: #e6e6e6;
		border-radius: 5px;
		border-width: 2px;
	}

	.approvalSuccess {
		background-image: linear-gradient(#93ffab, white);
		padding-top: 4px;
		padding-bottom: 4px;
	}

	.approvalFail {
		background-image: linear-gradient(#ff9393, white);
		padding-top: 4px;
		padding-bottom: 4px;
	}

	.errorField {
		color: #b94a48;
	}

	.letterSelectedToProcess {
		background-color: #FCEFEA;
	}

	.pendingLetter {
		background-color: #fcfaf8;
	}

	.postedLetter {
		background-color: #DCE0D9;
	}

	.complianceLetter {
		background-color: #EAD7C3
	}

	.draftLetter {
		background-color: #e6e6ff
	}

	.supplementLetter {
		background-color: #fcfaf8;
	}
</style>