﻿<template>
	<div class="modal" ref="JurBilling" :id="id" aria-hidden="true">
		<div class="modal-dialog modal-xlg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						Billing Information - <font color="navy"><strong>{{jurisdictionName}} </strong></font><strong><font color="red">{{jurisdictionId}} </font></strong>
						<span class="pull-right">
							<a class="btn btn-primary btn-sm" @click="applyToAll" id="BillingBtn"  title="This will apply the same billing to other selected jurisdictions">Apply To All Selected</a>
							<button type="button" class="btn btn-primary" data-dismiss="modal">Apply & Close</button>
						</span>
					</h4>
				</div>
				<div class="modal-body">
					<BillingInfo :infoModel="billingInfo" :id="id" :documentVersionId="documentVersionId" :jurisdictionId="jurisdictionId"   :letterApprovalData="letterApprovalData" :fileNumber="fileNumber" @setCheckBilledCount="setCheckBilledCount"></BillingInfo>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import BillingInfo from '@/components/documents/create/BillingInfo.vue';

	export default {
		props: {
			billingInfo: {
				type: Object
			},
			documentVersionId: {
				type: Number
			},
			fileNumber: {
				type: String
			},
			id: {
				type: Number
			},
			letterApprovalData: {
				type: Object
			},
			showJurBilling: {
				type: Boolean
			},
		},
		computed: {
			jurisdictionId: function () {
				return this.letterApprovalData.jurisdictionId;
			},
			jurisdictionName: function () {
				return this.letterApprovalData.jurisdictionName;
			}
		},
		data: function () {
			return {
				checkBilledCount : false
			}
		},
		components: {
			BillingInfo
		},
		methods: {
			applyToAll: function () {
				let self = this;
				if (this.checkCount()) {
					bootbox.confirm("Are you sure you want to apply this billing information to all other selected jurisdiction letters?", function (result) {
						if (result) {
							self.$emit('applyBilling');
							self.$emit('setShowBilling', false);
							$(self.$refs.JurBilling).modal('hide');
						}
					})
				}
			},
			checkCount: function () {
				if (!this.checkBilledCount) {
					this.billingInfo.itemsBeingBilledCount = 0
				}
				if (this.checkBilledCount && this.billingInfo.itemsBeingBilledCount == 0) {
					bootbox.alert("You must select items billed count.");
					return false;
				}
				else {
					return true;
				}
			},
			setCheckBilledCount: function (val) {
				this.checkBilledCount = val;
			}
		},
		mounted: function () {
			const refThis = this;
			$(this.$refs.JurBilling).on('hidden.bs.modal', function (e) {
				if (refThis.checkCount()) {
					refThis.$emit('setShowBilling', false);
				}
				else {
					refThis.$emit('setShowBilling', true);
					$(refThis.$refs.JurBilling).modal('show');
				}
			});
		},
		watch:  {
			showJurBilling: function (val, oldVal) {
				if (val) {
					$(this.$refs.JurBilling).modal('show');
				}
				else
				{
					this.$emit('setShowBilling', false);
					$(this.$refs.JurBilling).modal('hide');
				}
			}
		}
	}
</script>
<style scoped>
	
	@media (min-width: 1200px) {
		.modal-xlg {
			width: 80%;
		}
	}
</style>