﻿<template>
	<div class="modal" ref="LAReview" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						<font color="navy"><strong>Latin America Review</strong></font>
						<span class="pull-right">
							<button type="button" class="btn btn-primary saveDraft-button" @click="saveReviewInfo"><i class="fas fa-save"></i>&nbsp;Send</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
						</span>
					</h4>
				</div>
				<div class="modal-body">
					<!--Draft Letter-->
					<div class="panel panel-default" style="margin-left: 10px;">
						<div class="panel-heading">Send For Latin America Review</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label for="Comment">Assign Task To:</label>
										<Lookup id="User"
												name="User"
												:lookuptextfield="user"
												@updateLookupTextField="updateUser"
												v-model="userId"
												lookupajax="Users"
												class="form-control"
												tabindex="-1">
										</Lookup>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>
<script>
	import api from '@/api/letterbook';
	import Lookup from '@/components/utility/Lookup.vue';

	export default {
		components: {
			Lookup
		},
		props: {
			showReviewModal: {
				type: Boolean
			},
		},
		data: function () {
			return {
				userId: 1422, //Rosa P by Default
				user: "Rosa Polanco"
			}
		},
		methods: {
			saveReviewInfo: function () {
				this.$emit('sendLAReview', this.userId);
				this.$emit('setShowLAReview', false);
			},
			updateUser: function (val) {
				this.user = val;
			},
		},
		mounted: function () {
			const self = this;
			$(this.$refs.LAReview).on('hidden.bs.modal', function (e) {
				self.$emit('setShowLAReview', false);
			});
		},
		watch:  {
			showReviewModal: function (val, oldVal) {
				if (val) {
					$(this.$refs.LAReview).modal('show');
				}
				else
				{
					this.$emit('setShowLAReview', false);
					$(this.$refs.LAReview).modal('hide');
				}
			}
		}
	}
</script>
<style scoped>
</style>