﻿<template>
	<div class="modal" ref="PDFVersions" :id="id" aria-hidden="true">
		<div class="modal-dialog modal-xlg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						<font color="navy"><strong>{{letterApprovalData.jurisdictionName}} </strong></font><strong><font color="red">{{letterApprovalData.jurisdictionId}} </font> - </strong>{{currentJurisdictionLetterStatus}}<strong></strong>
						<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>
				<div class="modal-body">
					<div>
						<div class="row card" v-if="showBilling">
							<button type="button" class="close pull-right" aria-label="Close" @click="showBillingData(false)" title="Close Billing">
								<span aria-hidden="true">&times;</span>&nbsp;&nbsp;
							</button>
							<br /><br />
							<div class="panel panel-default panel">
								<div class="panel-heading">
									<h3 class="form-h4 panel-title">
										Enter/Modify Billing Information
										<span class="pull-right text-info" v-if="billingInfo.id !== 0">
											<i>Accounting Status - <strong>{{ acctStatus }} </strong></i>
										</span>
									</h3>
								</div>
								<div class="panel-body ">
									<div class="row">
										<label class="col-sm-2">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Is Billable?
										</label>
										<div class="col-sm-10">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" v-model="editDocVersion.isBillable" />&nbsp;
										</div>
									</div>
									<br />
									<BillingInfo :infoModel="billingInfo" :modify="true" :documentVersionId="editBillingForDocVersionId" :jurisdictionId="jurisdictionId" :fileNumber="fileNumber" :letterApprovalData="letterApprovalData" @setCheckBilledCount="setCheckBilledCount"></BillingInfo>
									<div class="row pull-right">

										<button type="button" class="btn btn-primary" @click="pullFromAcct" v-if="billingInfo.id !== 0 && billingInfo.actStatus != null">Pull Back From Acct</button>&nbsp;
										<button type="button" class="btn btn-primary" @click="pushBackToAcct" v-if="billingInfo.id !== 0 && billingInfo.actStatus !== 1 && billingInfo.actStatus != null">Push Back To Acct</button>&nbsp;
										<button type="button" class="btn btn-primary" @click="saveBilling" :disabled="billingInfo.actStatus !== 1 && billingInfo.actStatus != null" :title="(billingInfo.actStatus !== 1)? 'Can not save Billing When Status is not Pending' : 'Save Billing'">Save Billing</button>&nbsp;

									</div>
								</div>
							</div>
						</div>
						<br />
						<div class="pull-right">
							<button class="btn btn-primary" @click="setShowSupplementList(true)" title="Click here to delete any supplements or other letters."><i class="far fa-trash-alt"></i> Delete Supplement(s) From Submissions DB</button>
							<button class="btn btn-primary" @click="deleteLetter" v-if="!isClosedBundle && canDeleteLetter && documentVersionId > 0"><i class="far fa-trash-alt"></i> Delete Certification(Latest) From Submissions DB</button>
						</div>
						<br />
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-condensed table-hover">
									<thead>
										<tr>
											<th>Posted Date</th>
											<th>Report Date</th>
											<th>Letter Type</th>
											<th>Language</th>
											<th>Document</th>
											<th>Project</th>
											<th>Version</th>
											<th>Is Billable?</th>
											<th>Billing</th>
											<th>Components</th>
										</tr>
									</thead>
									<tbody>
										<template v-for="(doc, index) in docs">
											<template v-for="(docVersion, versionIndex) in doc.jurisdictionDocumentVersions">
												<tr :class="{ 'notActive' : (doc.documentCurrentVersion !== docVersion.version || !docVersion.existsInDB)}">
													<td>{{ docVersion.createDate | formatDate }}</td>
													<td>{{ docVersion.letterDate | formatDate }}</td>
													<td>{{ doc.letterType }}</td>
													<td>{{ doc.language }}</td>
													<td><A @click="openFile(docVersion.pdfPath)" style="cursor:pointer"><small>{{ docVersion.pdfName }} <i class="far fa-file-pdf fa-fw"></i></small></A></td>
													<td>{{ docVersion.projectName }}</td>
													<td :rowspan="(docVersion.translations.length > 0)? (docVersion.translations.length+1) : 1">
														{{ docVersion.version}}
														<span v-if="doc.documentCurrentVersion === docVersion.version && docVersion.documentVersionId === documentVersionId" class="text-success"><strong>(Latest)</strong></span>
													</td>
													<td :rowspan="(docVersion.translations.length > 0)? (docVersion.translations.length+1) : 1">
														{{ (docVersion.isBillable) ? "Yes" : "No" }}
													</td>
													<td :rowspan="(docVersion.translations.length > 0)? (docVersion.translations.length+1) : 1">
														<a @click="editBilling(docVersion.documentVersionId)" style="cursor:pointer"><i v-if="docVersion.documentVersionId == editBillingForDocVersionId" class="far fa-edit" style="color:green;font-weight:bold" title="Currently being edited"></i> <i v-else class="far fa-edit" title="Edit Billing"></i></a>
													</td>

													<td :rowspan="(docVersion.translations.length > 0)? (docVersion.translations.length+1) : 1">
														<span class="pull-right componentCount">{{ docVersion.jurisdictions.length }} Selected</span><br />
														<div class="jurdata">
															<div v-for="(compIdPair, index) in docVersion.jurisdictions">
																<div class="row">
																	<SubmissionComp :submissionInfo="compIdPair" :id="index" :isDisabled="true">
																	</SubmissionComp>
																</div>
															</div>
														</div>
													</td>
												</tr>
												<template v-for="translation in docVersion.translations">
													<tr :class="{ 'notActive' : (doc.documentCurrentVersion !== docVersion.version || !translation.existsInDB)}">
														<td>{{ translation.createDate | formatDate }}</td>
														<td>{{ translation.letterDate | formatDate }}</td>
														<td>{{ doc.letterType }}</td>
														<td>{{ translation.language }}</td>
														<td><A @click="openFile(translation.pdfPath)" style="cursor:pointer"><small>{{ translation.pdfName }} <i class="far fa-file-pdf fa-fw"></i></small></A></td>
													</tr>
												</template>
											</template>
											<tr class="spacer"><td colspan="7" class="spacer"><br /></td></tr>
										</template>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--List-->
		<SupplementList :showSupplementList="showSupplementList" :bundleId="bundleId" :currentJurisdictionLetterStatus="currentJurisdictionLetterStatus" :letterApprovalData="letterApprovalData" :canDeleteLetter="canDeleteLetter" @reSetShowSupplementList="setShowSupplementList" @openFile="openFile"></SupplementList>

	</div>
</template>

<script>
	import api from '@/api/letterbook';
	import Vue from 'vue';
	import SubmissionComp from '@/components/documents/create/SubmissionComp.vue';
	import BillingInfo from '@/components/documents/create/BillingInfo.vue';
	import SupplementList from '@/components/documents/create/SupplementList.vue';
	import { LETTERBOOKACCT_STATUS } from '@/common'

	export default {
		props: {
			bundleId: {
				type: Number
			},
			canDeleteLetter: {
				type: Boolean
			},
			currentJurisdictionLetterStatus: {
				type: String
			},
			documentVersionId: {
				type: Number
			},
			fileNumber: {
				type: String
			},
			id: {
				type: Number
			},
			jurisdictionId: {
				type: String
			},
			isClosedBundle: {
				type: Boolean
			},
			letterApprovalData: {
				type: Object
			},
			showPdfVersionsModal: {
				type: Boolean
			},
		},
		computed: {
			acctStatus: function () {
				if (this.billingInfo != null) {
					return this.getAcctBillingStatus(this.billingInfo.actStatus)
				}
				else {
					return "";
				}
			},
			showProjectName: function () {
				let projectName = "";
				let self =this
				for (let i = 0; i < this.docs.length; i++) {
						for (let j = 0; j < self.docs[i].jurisdictionDocumentVersions.length; j++) {
							
							if (Em(projectName)) {
								projectName = self.docs[i].jurisdictionDocumentVersions[j].projectName
							}
							else {
								if (projectName !== self.docs[i].jurisdictionDocumentVersions[j].projectName) {
									return true;
								}
							}
							
						}
				};
				return false;
			}
		},
		data: function () {
			return {
				docs: [],
				billingInfo: {},
				editDocVersion: {},
				editBillingForDocVersionId: 0,
				showBilling: false,
				showSupplementList: false,
				checkBilledCount: false
			}
		},
		components: {
			BillingInfo,
			SubmissionComp,
			SupplementList
		},
		methods: {
			editBilling: function (docVersionId) {
				this.editBillingForDocVersionId = docVersionId;
				this.getBillingInfo(this.editBillingForDocVersionId);
			},
			deleteLetter: function () {
				Loading();
				let self = this;
				let jurisdictionalDataIds = this.letterApprovalData.jurisdictionalDataIds.map(x => x.jurisdictionalDataId)
				api.getDeleteConfirmData(jurisdictionalDataIds)
				.then(response => {
					self.deleteConfirmData(response.data.Message, response.data.ConfirmDeleteData);
					DoneLoading();
				});
			},
			deleteConfirmData: function (msg, confirmDeleteData) {
				let self = this;
				var formatMsg = "<strong>Follwing data will be updated.</strong><br>";
				msg.forEach(function (m) {
					formatMsg += "<br>"
					formatMsg += "<b>File Number:</b> <i><span class='text-info'>" + m.FileNumber + "</span></i>&nbsp;&nbsp;&nbsp; <b> Jurisdiction: </b><i><span class='text-info'>" + m.JurisdictionName + "</span></i> (<b>" + m.JurisdictionId + "</b>)<br>";
					formatMsg += m.Message
					formatMsg += "<br>"
				});
				formatMsg += "<br>Are you sure you want to delete the latest posted letter from Submission DB?<br><br><span class='text-warning'>Warning:</span> - 'Delete Only Letter (Without Updating any Fields)' may not queue estatement while reposting."

				//different options to delete
				var buttons = {
					cancel: {
						label: "Delete Only Letter (Without Updating any Fields)",
						callback: function () {
							self.deleteLetterFromDB(confirmDeleteData,false);
						}
					},
					noclose: {
						label: "Delete Letter and Update Above Fields",
						callback: function(){
							self.deleteLetterFromDB(confirmDeleteData,true);
						}
					},
					ok: {
						label: "Cancel",
						callback: function(){
											
						}
					}
				}

				var dialog = bootbox.dialog({
								title: 'Confirmation!!',
								message: formatMsg,
								size: 'large',
								buttons: buttons
							});
				
			},
			deleteLetterFromDB: function (confirmDeleteData, updateFields) {
				Loading()
				let self = this;
				let updateJurisdictionDataIds = this.letterApprovalData.jurisdictionalDataIds.map(x => x.jurisdictionalDataId)
				api.deleteLetterFromDB(self.documentVersionId, updateJurisdictionDataIds,confirmDeleteData,updateFields)
						.then(response => {
							if (response.data == "OK") {
								bootbox.alert("Letter is deleted from Submission DB. Page is reloading.....")
								self.$emit('setShowPdfVersions', false, true);
								$(self.$refs.PDFVersions).modal('hide');
							}
							else {
								bootbox.alert("Error occured - Letter is not deleted.")
							}
						});
			},
			getAllPdfVersions: function () {
				Loading();
				let self = this;
				let jurisdictionalDataIds = this.letterApprovalData.jurisdictionalDataIds.map(x => x.jurisdictionalDataId)
				api.getJurisdictionPdfVersions(jurisdictionalDataIds)
				.then(response => {
					self.docs = response.data;
					DoneLoading();
				});
			},
			getBillingInfo: function (docVersionId) {
				Loading()
				let self = this;
				api.getBillingInfo(docVersionId)
				.then(response => {
					self.billingInfo = response.data;
					self.setEditDocVersion();
					self.showBillingData(true);
					DoneLoading();
				});
			},
			getAcctBillingStatus: function (val) {
				switch(val) {
				case LETTERBOOKACCT_STATUS.PENDING.id :
					 return LETTERBOOKACCT_STATUS.PENDING.description
					  break;
				case LETTERBOOKACCT_STATUS.INPROGRESS.id:
					 return LETTERBOOKACCT_STATUS.INPROGRESS.description
					break;
				case LETTERBOOKACCT_STATUS.BILLED.id :
					 return LETTERBOOKACCT_STATUS.BILLED.description
					  break;
				case LETTERBOOKACCT_STATUS.CLOSED.id:
					 return LETTERBOOKACCT_STATUS.CLOSED.description
					break;
				case LETTERBOOKACCT_STATUS.PULLEDBACK.id:
					 return LETTERBOOKACCT_STATUS.PULLEDBACK.description
					 break;
				default:
					return "";
				 } 
				
			},
			openFile: function (path) {
				this.$emit('openFile', path);
			},
			setEditDocVersion: function () {
				let self = this;
					for (let i = 0; i < this.docs.length; i++) {
						for (let j = 0; j < self.docs[i].jurisdictionDocumentVersions.length; j++) {
							if (self.docs[i].jurisdictionDocumentVersions[j].documentVersionId === self.editBillingForDocVersionId) {
								self.editDocVersion = self.docs[i].jurisdictionDocumentVersions[j]
							}
						}
					};
			},
			setShowSupplementList: function (val) {
				this.showSupplementList = val;
			},
			showBillingData: function (val) {
				this.showBilling = val;
				if (!val) {
					this.editBillingForDocVersionId = 0
				}
			},
			pullFromAcct: function () {
				Loading();
				let self = this;
				api.pullFromAcct(this.editBillingForDocVersionId)
					.then(response => {
						
						if (response.data.Error) {
							bootbox.alert("Error Occured - " + response.data.Message);
						}
						else {
							bootbox.alert(response.data.Message);
						}
						self.showBillingData(false);
						DoneLoading();
				});
			},
			pushBackToAcct: function () {
				Loading();
				let self = this;
				api.pushBackToAcct(this.editBillingForDocVersionId)
					.then(response => {
						if (response.data.Error) {
							bootbox.alert("Error Occured - " + response.data.Message);
						}
						else {
							bootbox.alert(response.data.Message);
						}
						self.showBillingData(false);
						DoneLoading();
				});
			},
			saveBilling: function () {
				let self = this;
				let msg = "Are you sure you want to save billing?"
				if (this.checkCount()) {
					bootbox.confirm(msg, function (result) {
						if (result) {
							Loading()
							api.saveBillingInfo(self.editBillingForDocVersionId,self.billingInfo, self.editDocVersion.isBillable)
							.then(response => {
								if (response.data == "OK") {
									bootbox.alert("Billing Data Saved.")
									self.showBillingData(false);
								}
							})
							.finally(function () {
								DoneLoading();
							});
						}
						
					})
				}			
			},
			checkCount: function () {
				if (!this.checkBilledCount) {
					this.billingInfo.itemsBeingBilledCount = 0
				}
				if (this.checkBilledCount && this.billingInfo.itemsBeingBilledCount == 0) {
					bootbox.alert("You must select items billed count.");
					return false;
				}
				else {
					return true;
				}
			},
			setCheckBilledCount: function (val) {
				this.checkBilledCount = val;
			}
		},
		mounted: function () {
			const refThis = this;
			$(this.$refs.PDFVersions).on('hidden.bs.modal', function (e) {
				refThis.$emit('setShowPdfVersions', false);
			});
			
		},
		watch:  {
			showPdfVersionsModal: function (val, oldVal) {
				if (val) {
					$(this.$refs.PDFVersions).modal('show');
					this.getAllPdfVersions();
				}
				else
				{
					this.$emit('setShowPdfVersions', false);
					$(this.$refs.PDFVersions).modal('hide');
				}
			},
			'billingInfo.billingSheet': function (val, oldVal) {
				if (val != 'None') {
					this.editDocVersion.isBillable = true
				}
				else {
					this.editDocVersion.isBillable = false
				}
			}
			//showBilling: function (val, oldVal) {
			//	this.billingInfo = {}; //initialize
			//	if (val) {
			//		this.getBillingInfo();
			//	}
			//	else {
			//		this.editBillingForDocVersionId = 0;
			//	}
			//},
		}
	}
</script>
<style scoped>
	@media (min-width: 1200px) {
		.modal-xlg {
			width: 90%;
		}
	}

	.componentCount {
		font-size: 10px;
		font-style: italic;
		padding-top: 2px;
		color: #808080;
	}

	.spacer {
			border: 0px;
			background-color: white;
	}

	.notActive {
			background-color: #F0F0F0;
			opacity: 0.6;
	}

	.jurdata {
		max-height: 40px;
		overflow-y: scroll;
		overflow-x: hidden;
	}
		
	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		border-radius: 5px;
		padding-top: 4px;
		padding-bottom: 4px;
		padding-right:4px;
		padding-left:4px;
		transition: 0.3s;
		margin-bottom: 5px;
		margin-left:15px;
		margin-right:15px;
		/*max-height: 30em;*/
		/*overflow:auto;*/
	}
</style>