﻿<template>
	<div class="col-sm-12">
		<div id="VueDocsForReview" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Letters Ready for Review</h3>
			</div>
			<div class="form-horizontal">
				<div class="row">
					<div class="col-sm-12">
						
						<table id="PendingDocumentsTable" class="table table-condensed table-striped table-hover" >
							<thead>
								<tr>
									<th>Jurisdictions</th>
									<th>Source File(s)</th>
									<th>Letter Type</th>
									<th>Components</th>
									<th>Action Status</th>
									<th>Edit</th>
									<th><button id="ProcessAll" @click="ProcessAllActions">Process All</button></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(letter, index) in createLetters">
									<td>{{letter.letterApprovalData.jurisdictionName}} <strong>({{letter.letterApprovalData.jurisdictionId}})</strong></td>
									<td>
										<div v-if="letter.correctionCoverPage.FileId != 0">{{letter.correctionCoverPage.fileName}}</div>
										<div v-if="letter.genericCoverPage.FileId != 0">{{letter.genericCoverPage.fileName}}</div>
										<div v-if="letter.mainLetter.FileId != 0">{{letter.mainLetter.fileName}}</div>
										<div v-if="letter.backPage.FileId != 0">{{letter.backPage.fileName}}</div>
									</td>
									<td></td>
									<td></td>
									<td><ActionStatus :classProp="statusList[index].class"
													  :statusValue="statusList[index].statusValue"></ActionStatus></td>
									<td><a @click="ValidateEditDocument(letter, index)" href="#"><i class="far fa-edit" title="Edit"></i></a></td>
									<td><button :id="'Process'+ index" class="btn btn-primary" @click="ProcessApproval(letter, index)">Process</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import FileLink from '@/components/documents/create/FileLink.vue';
	import ActionList from '@/components/documents/create/ActionList.vue';
	import ActionStatus from '@/components/documents/create/ActionStatus.vue';
	import api from '@/api/letterbook';

	export default {
		props: [ 'docViewUrl', 'createLetters', 'billingInfo'],
		data: function () {
			return {
				defaultActionText: 'No Action Selected',
				actionText: '',
				statusList:[]
			}
		},
		components: {
			FileLink,
			ActionList,
			ActionStatus
		},
		methods: {
			ValidateEditDocument: function (letter, index) {
				this.$emit('openDocModal', { letter:letter, index:index });
			},
			ProcessApproval: function (letter, index) {
				$("#Process" + index).attr("disabled", true);
				this.statusList[index].statusValue = 'Working...';
				api.postApproval(JSON.stringify(letter), JSON.stringify(this.billingInfo))
					.then(response => {
						console.log(response);
						if (response.status == 200) {
							this.statusList[index].statusValue = 'Posted';
							this.statusList[index].class = 'bg-success';

						}
						else {
							this.statusList[index].statusValue = 'Failed';
							this.statusList[index].class = 'bg-danger';
						}
					});
			},
			ProcessAllActions: function () {
				$("#ProcessAll").attr("disabled", true);
				for (var i = 0; i < this.createLetters.length; i++) {
					this.ProcessApproval(this.createLetters[i], i);
				}
			}
		},
		mounted: function () {
			for (var i = 0; i < this.createLetters.length; i++) {
				this.statusList.push({ class: 'pending', statusValue: 'Pending' });
			}
			//$('#PendingDocumentsTable').on('mouseenter', '.actionList a', function () {
			//	if ($(this).parent().hasClass('unselectedAction')) {
			//		$(this).parent().addClass('hoveredAction');
			//		$(this).parent().removeClass('unselectedAction');
			//	}
			//});
			//$('#PendingDocumentsTable').on('mouseleave', '.actionList a', function () {
			//	if ($(this).parent().hasClass('hoveredAction')) {
			//		$(this).parent().removeClass('hoveredAction');
			//		$(this).parent().addClass('unselectedAction');
			//	}
			//});
		}
	}
</script>
<style scoped>
	.idnumberFont {
		color: dodgerblue;
		font-weight: bold;
	}

	.versionFont {
		font-weight: bold;
	}

</style>