﻿<template>
	<div :id="id" :class="className" ref="DocTileEl">
		<div class="row">
			<div class="col-sm-3">
				&nbsp;&nbsp;<input type="checkbox" name="selToProcess" v-model="letter.isSelectedToProcess" title="Select to Process Pdf" v-if="!currentlyInCompliance" />&nbsp;&nbsp;&nbsp;
				<span class=field-validation-error v-show="letter.errorMsgs.length>0" :title="errorMsgText"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></span>
				<font color="navy"><strong>{{letter.letterApprovalData.jurisdictionName}} </strong></font><strong><font color="red">{{letter.letterApprovalData.jurisdictionId}} </font></strong>
				<div style="display: inline-block"> - <b>{{letter.currentJurisdictionalStatus}}</b></div>&nbsp;<code v-if="letter.projectJurIndicator != '' && letter.projectJurIndicator != null"> {{letter.projectJurIndicator}} </code>&nbsp;
				<span class="text-info " :id="'ProcessIcon' + id"><strong><i class="fas fa-spinner fa-spin" style="color:green"></i>&nbsp;Processing.....</strong></span>
				<!--<span class="text-info "  v-show="letter.processIconShow"><strong><i class="fas fa-spinner fa-spin" style="color:green"></i>&nbsp;Processing.....</strong></span>-->
				<span class="text-success" v-show="letter.successIconShow"><i class="fas fa-check"></i>&nbsp;Done</span>
				<span class="text-danger" v-show="letter.failIconShow"><i class="fas fa-exclamation-circle"></i>&nbsp;Error</span>
			</div>
			<div class="col-sm-1 text-right">
				<span><a style="cursor:pointer"  title="Enter Billing Information" @click="setShowBilling(true)"><strong>[ Billing ]</strong></a></span>
			</div>
			<div class="col-sm-2 text-right">
				<span v-if="letter.draftLetter.draftLetterId != 0 ">&nbsp;<a style="cursor:pointer" @click="setShowDraft(true)" title="Current Draft Information">[ <i class="fas fa-file-signature fa-fw"></i> Draft Info ]</a></span>&nbsp;&nbsp;
				<span v-if="showReplacementLink"><a style="cursor:pointer" @click="openReplacement()" title="Is this replacing previously approved item?">[ Replacements ]</a></span>&nbsp;&nbsp;
				<span v-if="showKSAManage"><a style="cursor:pointer" @click="manageKSANumber()" title="Enter KSA Number">[ KSA Number ]</a></span>
			</div>
			<div class="col-sm-6 text-right">
				<span v-if="letter.hasExistingCertification">
					<span class="text-info">
						<span>[ <a style="cursor:pointer" @click="setShowTranslation(true)" v-if="letter.translationCount > 0"><i>Translations</i> : {{ letter.translationCount }}</a><a v-else><i>Translations</i> : {{ letter.translationCount }}</a> ]&nbsp;&nbsp;[ <a style="cursor:pointer" @click="openFile(letter.existingPdfPath)"><small><i>{{letter.existingPdfName}}</i></small> <i class="far fa-file-pdf fa-fw"></i></a>] &nbsp;&nbsp;</span>
					</span>
				</span>
				<a style="cursor:pointer" @click="setShowPdfVersions(true)" title="View All Pdfs">[ Manage ]</a>
			</div>

		</div>
		<br />
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-2 padr0 smallLabel "><span style="cursor:pointer" title="Copy letter and component selection to checked jurisdiction(s)" @click="copyLetterData"><i class="fas fa-clone" aria-hidden="true"></i></span></div>
					<div class="col-sm-9 padr0">
						<div class="col-sm-3 padr0 smallLabel" v-bind:class="{'errorField' : (validator.mainLetter.language.$invalid || isAddlLettersLanguageInValid) }"><span v-if="validator.mainLetter.language.$invalid || isAddlLettersLanguageInValid" title="Required">*</span>Language</div>
						<div class="col-sm-5 padr0 smallLabel" v-bind:class="{'errorField' : (validator.mainLetter.fileId.$invalid || isAddlLettersFileIdInValid) }"><span v-if="validator.mainLetter.fileId.$invalid || isAddlLettersFileIdInValid" title="Required">*</span>Source File</div>
						<div class="col-sm-4 padr0 smallLabel" v-bind:class="{'errorField' : (validator.mainLetter.letterheadId.$invalid || isAddlLettersLetterheadIdInValid) }"><span v-if="validator.mainLetter.letterheadId.$invalid || isAddlLettersLetterheadIdInValid" title="Required">*</span>Letterhead</div>
					</div>
					<div class="col-sm-1 smallLabel padl0" title="Repeat Letterhaed">Repeat</div>
				</div>
				<strong><hr style="color:gray;margin-bottom:5px;margin-top:2px" /></strong>
				<FileOptions :individualLetterData="letter.mainLetter"
							 :fileType="'Main Letter'"
							 :fileOptions="letter.letterApprovalData.availableSourceDocs"
							 :draftLetterheads="draftLetterheads"
							 :nonDraftLetterheads="nonDraftLetterheads"
							 :languageOptions="languages"
							 :id="id"
							 :name="'MainLetter'"
							 :selectedApprovalStatus="letter.selectedApprovalStatus"
							 :canNotBeRemoved="true">
				</FileOptions>
				<a @click="addTranslation" style="cursor:pointer" title="Click to add translations or any other certifications associated with Main Letter/Billing">Add Add'l Letter</a>
				<i class="fas fa-info-circle" title="Any additional letters added through here will have same Billing as associated with main letter. Please post as supplement, if it has to be billed separately."></i> <br />
				<div v-for="(transLetter, index) in letter.translations">
					<FileOptions :individualLetterData="transLetter.mainLetter"
								 :fileType="'Add\'l ' + (index + 1)"
								 :fileOptions="letter.letterApprovalData.availableSourceDocs"
								 :languageOptions="languages"
								 :draftLetterheads="draftLetterheads"
								 :nonDraftLetterheads="nonDraftLetterheads"
								 :selectedApprovalStatus="letter.selectedApprovalStatus"
								 :id="index"
								 :name="'Translation'"
								 @toggleModal="deleteCurrentTranslation(index)">
					</FileOptions>
					<FileOptions v-if="addCorrection || letter.correctionCoverPage.fileId != 0"
								 :individualLetterData="transLetter.correctionCoverPageLetter"
								 :fileType="'Corr Add\'l ' + (index + 1)"
								 :fileOptions="letter.letterApprovalData.availableSourceDocs"
								 :draftLetterheads="draftLetterheads"
								 :nonDraftLetterheads="nonDraftLetterheads"
								 :languageOptions="languages"
								 :id="index"
								 :name="'TranslationCorr'"
								 :selectedApprovalStatus="letter.selectedApprovalStatus"
								 :canNotBeRemoved="true">
					</FileOptions>
				</div>
				<a href="#" v-if="!addCorrection && letter.correctionCoverPage.fileId == 0" @click="toggleCorrection">Add Correction <br /></a>
				<FileOptions v-if="addCorrection || letter.correctionCoverPage.fileId != 0"
							 :individualLetterData="letter.correctionCoverPage"
							 :fileType="'Corr Letter(Main)'"
							 :fileOptions="letter.letterApprovalData.availableSourceDocs"
							 :draftLetterheads="draftLetterheads"
							 :nonDraftLetterheads="nonDraftLetterheads"
							 :languageOptions="languages"
							 :selectedApprovalStatus="letter.selectedApprovalStatus"
							 :id="id"
							 :name="'Correction'"
							 @toggleModal="toggleCorrection">
				</FileOptions>
				<a href="#" v-if="!addCover && letter.genericCoverPage.fileId == 0" @click="toggleCover">Add Cover <br /></a>
				<FileOptions v-if="addCover || letter.genericCoverPage.fileId != 0"
							 :individualLetterData="letter.genericCoverPage"
							 :fileType="'Cover Page(Main)'"
							 :fileOptions="letter.letterApprovalData.availableSourceDocsCover"
							 :draftLetterheads="draftLetterheads"
							 :nonDraftLetterheads="nonDraftLetterheads"
							 :languageOptions="languages"
							 :selectedApprovalStatus="letter.selectedApprovalStatus"
							 :id="id"
							 :name="'CoverPage'"
							 @toggleModal="toggleCover">
				</FileOptions>
				<a href="#" v-if="!addBack && letter.backPage.fileId == 0" @click="toggleBack">Add Back <br /></a>
				<FileOptions v-if="addBack || letter.backPage.fileId != 0" 
							 :individualLetterData="letter.backPage"
							 :fileType="'Back Page(Main)'"
							 :fileOptions="letter.letterApprovalData.availableSourceDocsBack"
							 :draftLetterheads="draftLetterheads"
							 :nonDraftLetterheads="nonDraftLetterheads"
							 :languageOptions="languages"
							 :selectedApprovalStatus="letter.selectedApprovalStatus"
							 :id="id"
							 :name="'BackPage'"
							 @toggleModal="toggleBack">
				</FileOptions>
			</div>
			<div class="col-sm-3 padr0">
				<div class="panel panel-default">
					<div class="panel-heading">
						<input type="checkbox" title="Check All" :Id="'checkAll' + id" @click="checkAll()" />&nbsp;&nbsp;Components (Id/Version)&nbsp;&nbsp;<a style="cursor:pointer" @click="splitJuris" title="Remove unchecked jurisdictions which are not getting certified in this letter."><i class="fas fa-minus-square" style="color:red"></i></a>&nbsp;&nbsp;<a style="cursor:pointer" @click="mergeJuris" title="Merge checked jurisdiction grouping." v-if="showMergeGrouping"><i class="fas fa-plus-square" style="color:green"></i></a><span class="pull-right componentCount">{{componentsSelected}} Selected</span>
					</div>
					<div class="panel-body">
						<div class="jurdata">
							<div v-for="compIdPair in letter.letterApprovalData.jurisdictionalDataIds">
								<div class="row">
									<SubmissionComp :submissionInfo="compIdPair" :id="id">
									</SubmissionComp>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						General Data 
					</div>
					<div class="panel-body">
						<div class="row">
							<label class="col-sm-5 control-label" v-bind:class="{'errorField' : (validator.selectedApprovalStatus.$invalid) }">
								<span v-if="validator.selectedApprovalStatus.$invalid" title="Required">* </span>Status
							</label>
							<div class="col-sm-6">
								<SelectStandard :id="'StatusSelect' + id"
												:name="'StatusSelect' + id"
												v-model="letter.selectedApprovalStatus"
												:options="settableStatuses"></SelectStandard>

							</div>
						</div>

						<div class="row">
							<label class="col-sm-5 control-label" v-bind:class="{'errorField' : (validator.documentTypeId.$invalid) }">
								<span v-if="validator.documentTypeId.$invalid" title="Required">* </span>Document Type
							</label>
							<div class="col-sm-6">
								<input name="docType"
									   type="hidden"
									   v-model="letter.documentType" />
								<Lookup :id="'LetterType' + id"
										:name="'LetterType' + id"
										:lookuptextfield="letter.documentType"
										@updateLookupTextField="updateDocType"
										:filter="documentTypeFilter"
										v-model="letter.documentTypeId"
										lookupajax="DocumentType"
										class="form-control"
										tabindex="-1">
								</Lookup>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-5 control-label" v-bind:class="{'errorField' : (validator.dateOfReport.$invalid) }">
								<span v-if="validator.dateOfReport.$invalid" title="Required">* </span>Date of Report
							</label>
							<div class="col-sm-6">
								<DatePicker v-model="letter.dateOfReport"></DatePicker>
							</div>
						</div>
						<div class="row" v-if="letter.isDraftLetter">
							<label class="col-sm-5 control-label" v-bind:class="{'errorField' : (validator.draftDate.$invalid) }">
								<span v-if="validator.draftDate.$invalid" title="Required">* </span><span>Orig. Draft Date</span>
							</label>
							<div class="col-sm-6">
								<DatePicker v-model="letter.draftDate" title="Orig. Draft Date"></DatePicker>
							</div>
							<div class="col-sm-1 padl0 padr0" style="border:medium;border-width:1px;vertical-align:middle" v-if="letter.hasExistingCertification && draftDateChanged">
								<a @click="saveDraftDate()" style="cursor:pointer"><i class="far fa-save fa-lg" aria-hidden="true" title="Update Draft Date"></i></a>
							</div>
						</div>
						<div class="row" v-if="showCloseDate">
							<label class="col-sm-5 control-label" v-bind:class="{'errorField' : (validator.completeDate.$invalid) }">
								<span v-if="validator.completeDate.$invalid" title="Required">* </span><span>Close Date</span>
							</label>
							<div class="col-sm-6">
								<DatePicker v-model="letter.completeDate" title="Close Date"></DatePicker>
							</div>
							<div class="col-sm-1 padl0 padr0 align-middle" style="border:medium;border-width:1px" v-if="letter.hasExistingCertification && closeDateChanged">
								<a @click="saveCloseDate()" style="cursor:pointer"><i class="far fa-save fa-lg" aria-hidden="true" title="Update Close Date"></i></a>
							</div>

						</div>
						<div v-if="showUpdateDate">
							<div class="row">
								<label class="col-sm-5 control-label" v-bind:class="{'errorField' : (validator.updatedDateReasonId.$invalid) }">
									<span v-if="validator.updatedDateReasonId.$invalid" title="Required">* </span><span>Updated Date Reason</span>
								</label>
								<div class="col-sm-6">
									<Lookup :id="'UpdateReason' + id"
											:name="'UpdateReason' + id"
											:lookuptextfield="letter.updatedDateReason"
											@updateLookupTextField="updateUpdateDateReason"
											v-model="letter.updatedDateReasonId"
											lookupajax="UpdatedDateReason"
											class="form-control"
											tabindex="-1">
									</Lookup>
								</div>
							</div>
							<div class="row">
								<label class="col-sm-5 control-label" v-bind:class="{'errorField' : (validator.updateDate.$invalid) }">
									<span v-if="validator.updateDate.$invalid" title="Required">* </span><span>Updated Date</span>
								</label>
								<div class="col-sm-6">
									<DatePicker v-model="letter.updateDate" title="Update Date" z-index="0"></DatePicker>
								</div>
								<div class="col-sm-1 padl0 padr0 align-middle" style="border:medium;border-width:1px" v-if="letter.hasExistingCertification && updateDateChanged">
									<a @click="saveUpdateDate()" style="cursor:pointer"><i class="far fa-save fa-lg" aria-hidden="true" title="Update Date and Reason"></i></a>
								</div>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-5 control-label" v-bind:class="{'errorField' : (validator.certificationLab.$invalid) }">
								<span v-if="validator.certificationLab.$invalid" title="Required">* </span><span>Certification Lab</span>
							</label>
							<div class="col-sm-6">
								<Lookup :id="'certificationLab' + id"
										:name="'certificationLab' + id"
										:lookuptextfield="letter.certificationLab"
										@updateLookupTextField="updateCertificationLab"
										v-model="letter.certificationLabId"
										lookupajax="Laboratories"
										class="form-control"
										tabindex="-1"
										title="Certification/Issuing Lab">
								</Lookup>
							</div>
							<div class="col-sm-1 padl0 padr0 align-middle" style="border:medium;border-width:1px" v-if="letter.hasExistingCertification && certLabChanged">
								<a @click="saveCertLab()" style="cursor:pointer"><i class="far fa-save fa-lg" aria-hidden="true" title="Update Certification Lab"></i></a>
							</div>
						</div>

						<div class="row">
							<label class="col-sm-5 control-label" title="This sends a notification to QA DE">
								Contains RV/NU?
							</label>
							<div class="col-sm-6">
								<input type="checkbox" v-model="letter.containsRVNU" title="This sends a notification to QA DE" />&nbsp;<span style="cursor:pointer" title="Copy 'Contains RV/NU' to checked jurisdiction(s)" @click="copyRVNU"><i class="fas fa-clone" aria-hidden="true"></i></span>
							</div>
						</div>

						<div class="row">
							<label class="col-sm-5 control-label">
								Is Billable?
							</label>
							<div class="col-sm-6">
								<input type="checkbox" v-model="letter.letterApprovalData.isBillable" />&nbsp;<span class="small text-info" title="Selected billing sheet" v-if="letter.billingInfo.billingSheet != '' && letter.billingInfo.billingSheetId != null">({{letter.billingInfo.billingSheet}})</span>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-5 control-label">
							</label>
							<div class="col-sm-6">
								<span class="small text-info" title="Owning Company">{{ letter.company }}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-right" v-if="!currentlyInCompliance">
					<button :id="'Translation'+ id" class="btn btn-primary btn-sm process-translations actionBtn" v-if="showTranslationsAdd" @click="postTranslations(letter, id)" title="This will only add Add'l Letters">Post Add'l Letters</button>
					&nbsp;
					<button :id="'Preview'+ id" v-if="letter.translations.length == 0" class="btn btn-primary btn-sm preview-button actionBtn" @click="previewCurrentLetter(letter)"><i class='fas fa-file-pdf' style="color:white"></i>&nbsp;Preview</button>
					&nbsp;
					<div class="btn-group btn-group-sm" v-if="letter.translations.length > 0">
						<a class="btn btn-sm btn-primary dropdown-toggle preview-button actionBtn" data-toggle="dropdown" href="#">
							<i class='fas fa-file-pdf' style="color:white"></i> Preview&nbsp;<i class="fas fa-caret-down" title="Toggle dropdown menu"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" @click="previewCurrentLetter(letter)" v-if="letter.mainLetter.language != null && letter.mainLetter.fileId != null && letter.mainLetter.letterheadId != null"><i class='fas fa-file-pdf' style="color:navy"></i>&nbsp;Main Certification</a></li>
							<li v-for="(transLetter, index) in letter.translations">
								<a href="#" @click="previewTranslationLetter(transLetter)" v-if="transLetter.mainLetter.language != null && transLetter.mainLetter.fileId != null && transLetter.mainLetter.letterheadId != null"><i class='fas fa-file-pdf' style="color:navy"></i>&nbsp;Add'l {{(index + 1)}} - <b>{{ transLetter.mainLetter.language }}</b></a>
							</li>
						</ul>
					</div>

					<button v-if="showComplianceSection && !currentlyInCompliance" :id="'Process'+ id" class="btn btn-primary btn-sm process-button actionBtn" @click="processCompliance(letter, infoModel, id)"><i class="fas fa-question-circle"></i>&nbsp;Compliance Review</button>
					<span v-if="currentlyInCompliance"> ( <i class="fas fa-exclamation-triangle" title="Changes can not be made while the letter is in CP status"></i><small>&nbsp;<i>In Compliance</i></small> )</span>
					<button v-if="enInvolvementNeeded" disabled title="Cannot be approved. EN Involment is checked" class="btn btn-primary btn-sm process-button actionBtn"><i class="fas fa-save"></i>&nbsp;Post</button>
					<button v-if="!showComplianceSection && letter.documentVersionId > 0 && canRepostLetter && !enInvolvementNeeded" :id="'Process'+ id" class="btn btn-primary btn-sm process-button actionBtn" @click="processApproval(letter, id)" title="This will re-post Main Certification and will add Add'l Letters selected"><i class="fas fa-save"></i>&nbsp;Re Post</button>
					<button v-if="!showComplianceSection &&  !currentlyInCompliance && letter.documentVersionId == 0 && !enInvolvementNeeded" :id="'Process'+ id" class="btn btn-primary process-button actionBtn btn-sm" @click="processApproval(letter, id)" title="This will post Main Certification and add Add'l Letters selected"><i class="fas fa-save"></i>&nbsp;Post</button>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
			</div>
		</div>
		<!--Display Translations-->
		<TranslationsDisplay :translations="letter.mainTranslationsDisplay" :id="id" :showTranslationModal="showTranslationModal" @setShowTranslation="setShowTranslation" @openFile="openFile"></TranslationsDisplay>
		<!--Edit Draft Info-->
		<DraftLetter :draftLetter="letter.draftLetter" :draftLetterOptions="draftLetterOptions" :id="id" :jurisdictionName="letter.letterApprovalData.jurisdictionName" :jurisdictionId="letter.letterApprovalData.jurisdictionId" :showDraftModal="showDraftModal"  @setShowDraft="setShowDraft" @openFile="openFile"></DraftLetter>
		<!--Show PDf versions-->
		<PDFVersions :showPdfVersionsModal="showPdfVersions" :documentVersionId="letter.documentVersionId" :id="id" :currentJurisdictionLetterStatus="letter.currentJurisdictionalStatus" :letterApprovalData="letter.letterApprovalData" :canDeleteLetter="canDeleteLetter" :isClosedBundle="isClosedBundle" :fileNumber="letter.fileNumber" :jurisdictionId="letter.letterApprovalData.jurisdictionId" :bundleId="letter.bundleId" @setShowPdfVersions="setShowPdfVersions" @openFile="openFile"></PDFVersions>
		<!--Billing-->
		<JurBilling :id="id" :showJurBilling="showJurBilling" :billingInfo="letter.billingInfo" :documentVersionId="letter.documentVersionId" :letterApprovalData="letter.letterApprovalData" :fileNumber="letter.fileNumber" @setShowBilling="setShowBilling" @applyBilling="applyBilling"></JurBilling>
	</div>
</template>
<script>
	import FileOptions from '@/components/documents/create/FileOptions.vue';
	import DatePicker from '@/components/utility/DatePicker.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import SubmissionComp from '@/components/documents/create/SubmissionComp.vue';
	import TranslationsDisplay from '@/components/documents/create/TranslationsDisplay.vue';
	import DraftLetter from '@/components/documents/create/DraftLetter.vue';
	import PDFVersions from '@/components/documents/create/PDFVersions.vue';
	import JurBilling from '@/components/documents/create/JurisdictionGroupBilling.vue';

	import { JURISDICTION_STATUS } from '@/common'
	import api from '@/api/letterbook';
	import Vue from 'vue';
	
	export default {
		components: {
			FileOptions,
			DatePicker,
			SelectStandard,
			Lookup,
			SubmissionComp,
			TranslationsDisplay,
			DraftLetter,
			PDFVersions,
			JurBilling
		},
		props: {
			allLetters: {
				type: Array
			},
			applicableKSAJurisdictions: {
				type: Array
			},
			canDeleteLetter: {
				type: Boolean
			},
			canRepostLetter: {
				type: Boolean
			},
			draftLetterOptions: {
				type: Object
			},
			draftLetterheads: {
				type: Array
			},
			enInvolvementNeeded: {
				type: Boolean
			},
			id: {
				type: Number
			},
			isClosedBundle: {
				type: Boolean
			},
			infoModel: {
				type: Object
			},
			languages: {
				type: Array
			},
			letter: {
				type: Object
			},
			lwLocationId: {
				type: Number
			},
			nonDraftLetterheads: {
				type: Array
			},
			projectId: {
				type: Number
			},
			settableStatuses: {
				type: Array
			},
			updatedDateReasons: {
				type: Array
			},
			validator: {
				type: Object
			},
		},
		data: function () {
			return {
				addCover: false,
				addCorrection: false,
				addBack: false,
				statusClass: 'pending',
				defaultOptions: [],
				docTypeString: '',
				closedStatus: [JURISDICTION_STATUS.AP.code, JURISDICTION_STATUS.TC.code, JURISDICTION_STATUS.MS.code, JURISDICTION_STATUS.LQ.code, JURISDICTION_STATUS.MO.code, JURISDICTION_STATUS.DR.code],
				showTranslationModal: false,
				showDraftModal: false,
				closeDateChanged: false,
				updateDateChanged: false,
				draftDateChanged: false,
				certLabChanged: false,
				showPdfVersions: false,
				showJurBilling: false,
				QANotesComment: ''
			}
		},
		computed: {
			className: function () {
				var name = "card col-sm-12"
				if (this.letter.currentJurisdictionalStatus == JURISDICTION_STATUS.DR.code)
				{
					name += (this.letter.isSelectedToProcess)? " letterSelectedToProcess" : " draftLetter"
				}
				else if ( this.letter.currentJurisdictionalStatus == JURISDICTION_STATUS.CP.code)
				{
					name += (this.letter.isSelectedToProcess)? " letterSelectedToProcess" : " complianceLetter"
				}
				else if (this.letter.hasExistingCertification == true) {
					name += (this.letter.isSelectedToProcess)? " letterSelectedToProcess" : " postedLetter"
				}
				else {
					name += (this.letter.isSelectedToProcess)? " letterSelectedToProcess" : " pendingLetter"
				}
				return name
			},
			componentsSelected: function () {
				return (this.letter.letterApprovalData.jurisdictionalDataIds.filter(x => x.isAttachedToLetter)).length;
			},
			documentTypeFilter: function () {
				return {
					IsCertType: true
				}
			},
			isClosedStatus: function () {
				if (this.closedStatus.indexOf(this.letter.currentJurisdictionalStatus) > -1) {
					return true
				}
				else {
					return false
				}
			},
			isAddlLettersFileIdInValid: function () {
				let self = this;
				let isInValid= false
				this.letter.translations.forEach(function (obj, index) {
					if (self.validator.translations.$each[index].mainLetter.fileId.$invalid) {
						isInValid = true;
					}
				})
				return isInValid;
			},
			isAddlLettersLanguageInValid: function () {
				let self = this;
				let isInValid= false
				this.letter.translations.forEach(function (obj, index) {
					if (self.validator.translations.$each[index].mainLetter.language.$invalid) {
						isInValid = true;
					}
				})
				return isInValid;
			},
			isAddlLettersLetterheadIdInValid: function () {
				let self = this;
				let isInValid= false
				this.letter.translations.forEach(function (obj, index) {
					if (self.validator.translations.$each[index].mainLetter.letterheadId.$invalid) {
						isInValid = true;
					}
				})
				return isInValid;
			},
			isMergedJuridictionGrouping: function () {
				let self = this;
				let isMerged = false;
				this.letter.letterApprovalData.jurisdictionalDataIds.forEach(function (obj, index) {
					if (Em(obj.pdfPath)) {
						obj.pdfPath = "";
					}
					if (Em(obj.pdfPath)) {
						self.letter.existingPdfPath = "";
					}
					if (obj.status != self.letter.currentJurisdictionalStatus || (obj.pdfPath != self.letter.existingPdfPath)) {
						isMerged = true;
					}
				})
				return isMerged;
			},
			showCloseDate: function () {
				if (this.letter.selectedApprovalStatus != JURISDICTION_STATUS.DR.code) {
					return true
				}
				else {
					return false
				}
			},
			showMergeGrouping: function () {
				let groupingCount = this.allLetters.filter(x => x.jurisdictionId == this.letter.jurisdictionId)
				return (groupingCount.length > 1) ? true : false;
			},
			showReplacementLink: function () {
				if (this.letter.currentJurisdictionalStatus == JURISDICTION_STATUS.RA.code || this.letter.currentJurisdictionalStatus == JURISDICTION_STATUS.DR.code || this.letter.currentJurisdictionalStatus == JURISDICTION_STATUS.AP.code) {
					return true
				}
				else {
					return false
				}
			},
			showUpdateDate: function () {
				if (this.letter.hasExistingCertification && this.letter.currentJurisdictionalStatus != JURISDICTION_STATUS.DR.code && this.isClosedBundle) {
					return true
				}
				else {
					return false
				}
			},
			showTranslationsAdd: function () {
				if (this.letter.hasExistingCertification && this.letter.translations.length > 0) {
					var self = this
					let validLetter = false
					this.letter.translations.forEach(function (obj, index) {
						if (self.letter.translations[0].mainLetter.fileId != null && self.letter.translations[0].mainLetter.letterheadId != null && self.letter.translations[0].mainLetter.language != null) {
							validLetter = true
						}
					})
					if (validLetter) {
						return true
					}
					else {
						return false
					}
				} else {
					return false
				}
			},
			errorMsgText: function () {
				var sText = ""
				this.letter.errorMsgs.forEach(function (msg) {
					sText += msg + "\n";
				})
				return sText
			},
			showComplianceSection: function () {
				return this.letter.selectedApprovalStatus == "CP";
			},
			currentlyInCompliance: function () {
				return this.letter.currentJurisdictionalStatus == "CP";
			},
			showKSAManage: function () {
				if (this.applicableKSAJurisdictions.indexOf(parseInt(this.letter.letterApprovalData.jurisdictionId)) > -1) {
					return true
				}
				else {
					return false
				}
			}
		},
		created: function () {
			
		},
		methods: {
			addTranslation: function () {
				//set defaults letterheads if any 
				let mainLetterHeadId = this.letter.mainLetter.letterheadId;
				let corrLetterHeadId = this.letter.correctionCoverPage.letterheadId;
				this.letter.translations.push({
					languageId: 0,
					translationId: 0,
					mainLetter: {
						fileId: 0,
						letterheadId: mainLetterHeadId,
					},
					correctionCoverPageLetter: {
						fileId: 0,
						letterheadId: corrLetterHeadId,
					}
				})
			},
			applyBilling: function () {
				this.$emit('applyBillingToSelected',this.letter.billingInfo);
			},
			applyDefaultOptions: function () {
			
				let selectedDocumentType = this.letter.documentTypeId;
				let lWLocationId = this.lwLocationId;
				let companyId = this.letter.companyId
				let defaultOptions = this.defaultOptions.filter(x => x.DocumentTypeIds.some(d => d == selectedDocumentType));

				//filter based on LW location
				let defaultOptionsLWLocation = defaultOptions.filter(x => x.LocationIds.some(d => d == lWLocationId));
				if (defaultOptionsLWLocation.length > 0) {
					defaultOptions = defaultOptionsLWLocation;
				}

				//filter based on Company
				let defaultOptionsCompany = defaultOptions.filter(x => x.CompanyIds.some(d => d == companyId) || x.CompanyIds.length == 0);
					if (defaultOptionsCompany.length > 0) {
						defaultOptions = defaultOptionsCompany;
				}

				//Find letterhead
				let letterheadDefaultOptions = defaultOptions.filter(x => x.LetterheadId != null && x.letterheadId != 0);
				let letterheadDefaultOption = defaultOptions[0]
				if (letterheadDefaultOptions.length > 1) {
					letterheadDefaultOption = this.findSpecificRule(letterheadDefaultOptions);
				}

				let defaultOption = defaultOptions[0]
				if (defaultOptions.length > 1) {
					defaultOption = this.findSpecificRule(defaultOptions);
				}

				if (defaultOption != null) {
					if (!Em(defaultOption.ApprovalStatus)) {
						this.letter.selectedApprovalStatus = defaultOption.ApprovalStatus;
					}

					if (letterheadDefaultOption == null && this.letter.selectedApprovalStatus == JURISDICTION_STATUS.DR.code || this.letter.selectedApprovalStatus == JURISDICTION_STATUS.LQ.code) {
						let draftLetter = this.draftLetterheads.find(x => x.text == "Draft New US Letterhead")
						this.letter.mainLetter.letterheadId = draftLetter.value;
						this.letter.mainLetter.letterheadFilePath = draftLetter.text;
					}
					else {
						this.letter.mainLetter.letterheadId = letterheadDefaultOption.LetterheadId;
						this.letter.mainLetter.letterheadFilePath = letterheadDefaultOption.LetterheadName;
						if (!Em(letterheadDefaultOption.ApprovalStatus)) {
							this.letter.selectedApprovalStatus = letterheadDefaultOption.ApprovalStatus;
						}
					}

					this.letter.mainLetter.repeatOverlay = letterheadDefaultOption.RepeatLetterhead;
					if (this.letter.correctionCoverPage.fileId != null && this.letter.correctionCoverPage.fileId != 0) {
						this.letter.correctionCoverPage.letterheadId = letterheadDefaultOption.CorrectionLetterheadId;
						this.letter.correctionCoverPage.letterheadFilePath = letterheadDefaultOption.CorrectionLetterheadName;
						this.letter.correctionCoverPage.repeatOverlay = letterheadDefaultOption.RepeatCorrectionLetterhead;
					}

					//Billable
					this.letter.letterApprovalData.isBillable = defaultOption.Billable;

					//Billing Data
					if (!Em(defaultOption.BillingLab)) {
						this.letter.billingInfo.laboratoryId = defaultOption.BillingLabId;
						this.letter.billingInfo.lab = defaultOption.BillingLab;
					}
					this.letter.billingInfo.billingSheet = (!Em(defaultOption.BillingSheet)) ? defaultOption.BillingSheet : "";
					this.letter.billingInfo.billingSheetId = defaultOption.BillingSheetId;

					if (!Em(defaultOption.BillingNote)) {
						this.letter.billingInfo.note = defaultOption.BillingNote + "\n" + this.QANotesComment;
					}
					else {
						this.letter.billingInfo.note = this.QANotesComment;
					}

					this.letter.billingInfo.availableBillingSheets = defaultOption.AvailableBillingSheets;
				}

				//overwrite Non-billables
				this.$emit('checkNonBillableJurisdictions', this.letter, this.id);
			},
			findSpecificRule: function (defaultOptions) {
				let jurId = this.letter.jurisdictionId;
				let manuf = this.letter.manufacturerCode;
				let subType = this.letter.submissionType;
				let contractTypeId = this.letter.contractTypeId;
				let billingParty = this.letter.billingParty;

				let defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf) && x.SubTypes.some(s => s == subType) && x.BillingParties.some(s => s == billingParty) && x.ContractTypeIds.some(s => s == contractTypeId));
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf) && x.SubTypes.some(s => s == subType) && x.ContractTypeIds.some(s => s == contractTypeId));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf) && x.SubTypes.some(s => s == subType));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf) && x.BillingParties.some(s => s == billingParty));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf) && x.ContractTypeIds.some(s => s == contractTypeId));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.SubTypes.some(s => s == subType) && x.BillingParties.some(s => s == billingParty));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.SubTypes.some(s => s == subType) && x.ContractTypeIds.some(s => s == contractTypeId));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.SubTypes.some(s => s == subType));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.Manufactures.some(m => m == manuf) && x.BillingParties.some(s => s == billingParty));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.Manufactures.some(m => m == manuf) && x.ContractTypeIds.some(s => s == contractTypeId));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.SubTypes.some(s => s == subType) && x.BillingParties.some(s => s == billingParty));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.SubTypes.some(s => s == subType) && x.ContractTypeIds.some(s => s == contractTypeId));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.Manufactures.some(m => m == manuf) && x.SubTypes.some(s => s == subType));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.BillingParties.some(s => s == billingParty));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.ContractTypeIds.some(s => s == contractTypeId));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.Manufactures.some(m => m == manuf));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.SubTypes.some(s => s == subType));
				}
				if (typeof defaultOption === 'undefined' || defaultOption === null) {
					defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId));
				}
				return defaultOption;
			},
			checkAll: function () {
				if ($('#checkAll' + this.id).prop("checked") == true) {
					for (var i = 0; i < this.letter.letterApprovalData.jurisdictionalDataIds.length; i++) {
						this.letter.letterApprovalData.jurisdictionalDataIds[i].isAttachedToLetter = true
					}
				} else {
					for (var i = 0; i < this.letter.letterApprovalData.jurisdictionalDataIds.length; i++) {
						this.letter.letterApprovalData.jurisdictionalDataIds[i].isAttachedToLetter = false
					}
				}
			},
			copyLetterData: function () {
				this.$emit('copyLetterData',this.letter, false);
			},
			copyRVNU: function () {
				this.$emit('copyRVNU', this.letter);
			},
			deleteCurrentTranslation: function (value) {
				this.letter.translations.splice(value, 1);
			},
			manageKSANumber: function () {
				window.open(jsPath + "tools/tknumber/edit?mode=Add")
			},
			mergeJuris: function () {
				this.$emit('mergeJuris', this.letter, this.id);
			},
			openReplacement: function () {
				window.open(jsPath + "submission/jurisdictionreplacelink/index?jurisdictionDataId=" + this.letter.letterApprovalData.jurisdictionalDataIds[0].jurisdictionalDataId)
			},
			openFile: function (path) {
				this.$emit('openFile', path);
			},
			postTranslations: function (letter, index) {
				this.$emit('postTranslations', { letter: letter,element: this.$el, ref: this }, this.id);
			},
			processApproval: function () {
				this.letter.isSelectedToProcess = true
				//this.$emit('postLetter', { letter: letter,element: this.$el, ref: this }, this.id);
				this.$emit('postLetter', this.id)
			},
			processCompliance: function (letter, complianceData, index) {
				this.letter.isSelectedToProcess = true
				this.$emit('processCompliance', true);
			},
			previewCurrentLetter: function (letter) {
				this.$emit('previewLetter', letter, this.id, this.$el);
			},
			previewTranslationLetter: function (tranletter) {
				if (this.letter.mainLetter.fileId == null) {
					this.letter.mainLetter.fileId = 0
				}
				this.$emit('previewTranslationLetter', tranletter, this.letter, this.id, this.$el);
			},
			refreshMainData: function () {
				this.$emit('refreshData');
			},
			saveCertLab: function () {
				let self = this
				api.updateCerLab(this.letter.letterApprovalData.jurisdictionalDataIds, this.letter.certificationLabId)
				.then(response => {
					if (response.data == "OK") {
						self.certLabChanged = false
						bootbox.alert("Data updated successfully!!!")
					}
				});
			},
			saveCloseDate: function () {
				if (this.letter.currentJurisdictionalStatus == JURISDICTION_STATUS.RA.code || this.letter.currentJurisdictionalStatus == JURISDICTION_STATUS.DR.code || this.letter.currentJurisdictionalStatus == JURISDICTION_STATUS.CP.code){
					bootbox.alert("Jurisdiction has not been approved. Close date can not be updated.")
					return false;
				}
				let self = this
				api.updateCloseDate(this.letter.letterApprovalData.jurisdictionalDataIds, this.letter.completeDate)
				.then(response => {
					if (response.data == "OK") {
						self.closeDateChanged = false
						bootbox.alert("Data updated successfully!!!")
					}
				});
			},
			saveDraftDate: function () {
				let self = this
				api.updateDraftDate(this.letter.letterApprovalData.jurisdictionalDataIds, this.letter.draftDate)
				.then(response => {
					if (response.data == "OK") {
						self.draftDateChanged = false
						bootbox.alert("Data updated successfully!!!")
					}
				});
				
			},
			saveUpdateDate: function () {
				let self = this
				if (Em(this.letter.updateDate) || Em(this.letter.updatedDateReasonId)) {
					bootbox.alert("Please make sure you have entered Update Date and Reason.")
				}
				else {
					api.updateUpdateDate(this.letter.letterApprovalData.jurisdictionalDataIds, this.letter.updateDate, this.letter.updatedDateReasonId)
						.then(response => {
							if (response.data == "OK") {
								self.updateDateChanged = false
								bootbox.alert("Data updated successfully!!!")
							}
						});
				}
			},
			setShowBilling: function (val) {
				this.showJurBilling = val;
			},
			setShowPdfVersions: function (val, refreshParentWhileClose) {
				this.showPdfVersions = val
				if (refreshParentWhileClose) {
					this.refreshMainData();
				}
			},
			splitJuris: function () {
				this.$emit('splitJuris', this.letter, this.id);
			},
			toggleCorrection: function (event) {
				if (event != null) {
					event.preventDefault();
				}
				this.addCorrection = !this.addCorrection;
				this.letter.correctionCoverPage.fileId = 0;
				return false;
			},
			toggleCover: function () {
				if (event != null) {
					event.preventDefault();
				}
				this.addCover = !this.addCover;
				this.letter.genericCoverPage.fileId = 0;
				return false;
			},
			toggleBack: function () {
				if (event != null) {
					event.preventDefault();
				}
				this.addBack = !this.addBack;
				this.letter.backPage.fileId = 0;
				return false;
			},
			updateCertificationLab: function (val) {
				this.letter.certificationLab = val;
			},
			updateDocType: function (val) {
				this.letter.documentType = val;
			},
			updateUpdateDateReason: function (val) {
				this.letter.updatedDateReason = val;
			},
			setShowDraft: function (val) {
				this.showDraftModal = val
			},
			setShowTranslation: function (val) {
				this.showTranslationModal = val
			},
			showExistingCertificationWarning: function () {
				if (this.letter.currentJurisdictionalStatus == this.letter.selectedApprovalStatus) {

				}
			},
			showWarningBasedOnBundleType: function () {
				if (!this.letter.isClosedBundle) {
					bootbox.alert("<b>Warning!!!</b> This is not a closed Jurisdictions bundle. Please make sure.")
				}
			},
			
		},
		mounted: function () {
			$('#ProcessIcon' + this.id).hide() //somehow process icon does not work with property reverting for now **Check***
			//this.letter.processIconShow = false
			this.letter.successIconShow = false
			this.letter.failIconShow = false

			if (this.letter.documentVersionId == 0) {
				if (this.defaultOptions.length == 0) {
					api.getDefaults(this.letter.jurisdictionId, this.letter.manufacturerCode, this.letter.submissionType)
						.then(response => {
							this.defaultOptions = response.data
							this.applyDefaultOptions();
						})
				}

				if (this.letter.billingInfo.note == null) {
					this.letter.billingInfo.note = "";
				}
				if (!this.letter.billingInfo.note.includes("QA Notes Comment")) {
					api.getQANotesComment(this.letter.fileNumber, this.letter.letterApprovalData.jurisdictionId)
						.then(response => {
							if (!Em(response.data)) {
								this.QANotesComment = "(QA Notes Comment:- " + response.data + ')';
								if (!Em(this.letter.billingInfo.note)) {
									this.letter.billingInfo.note = this.letter.billingInfo.note + "\n" + this.QANotesComment
								}
								else {
									this.letter.billingInfo.note = this.QANotesComment
								}
							}
						})
				}
			}

			let jurisdictionalDataIds = this.letter.letterApprovalData.jurisdictionalDataIds.map(x => x.jurisdictionalDataId)
			api.getProjectJurisdictionIndicator(this.projectId, jurisdictionalDataIds)
				.then(response => {
					if (!Em(response.data)) {
						this.letter.projectJurIndicator = response.data
					}
				})

			if (this.letter.mainLetter.fileId == null) {
				$('#Process' + this.id).attr("disabled", true);
				$(this.$el).find('.preview-button').attr("disabled", true);
			}
		},
		watch: {
			'letter.billingInfo.billingSheet': function (val,oldVal) {
				if (val != 'None' && !Em(val)) {
					this.letter.letterApprovalData.isBillable = true
				}
				else {
					this.letter.letterApprovalData.isBillable = false
				}
				//overwrite Non-billables
				this.$emit('checkNonBillableJurisdictions', this.letter, this.id);
			},
			'letter.billingInfo.laboratoryId': function (val,oldVal) {
				if (val != oldVal) {
					//As per Jen, Always match billing lab andc cert lab
					//if (this.letter.certificationLabId != this.letter.billingInfo.laboratoryId) {
					//	this.letter.certificationLabId = this.letter.billingInfo.laboratoryId;
					//	this.letter.certificationLab = this.letter.billingInfo.lab;
					//	bootbox.alert("Certification lab has been changed to match Billing lab for " + "<font color='navy'><strong>" + this.letter.letterApprovalData.jurisdictionName + "</strong></font><strong><font color='red'>" + this.letter.letterApprovalData.jurisdictionId + "</font></strong>" + ". Please make sure.");
					//}
					//commenting above as per Jen now
				}
			},
			'letter.certificationLabId': function (val,oldVal) {
				if (val != oldVal) {
					this.certLabChanged = true
				}
			},
			'letter.completeDate': function (val,oldVal) {
				if (val != oldVal) {
					this.closeDateChanged = true
				}
			},
			'letter.documentTypeId': function (val, oldVal) {
				if (val != oldVal) {
					this.applyDefaultOptions();
				}
			
				if (this.letter.documentType == "ReDraft") {
					this.letter.selectedApprovalStatus = JURISDICTION_STATUS.DR.code;
				}
			},
			'letter.draftDate': function (val,oldVal) {
				if (val != oldVal) {
					this.draftDateChanged = true
				}
			},
			'letter.isSelectedToProcess': function (val, oldVal) {
				this.$emit('reSetAllSelection', this.letter);
			},
			'letter.mainLetter.fileId': function () {
				if (this.letter.mainLetter.fileId == null) {
					$('#Process' + this.id).attr("disabled", true);
					if (this.letter.translations.length == 0) {
						$(this.$el).find('.preview-button').attr("disabled", true);
					}
				} else {
					$('#Process' + this.id).attr("disabled", false);
					$(this.$el).find('.preview-button').attr("disabled", false);

					//Check if it's lettergen Source
					let source = this.letter.letterApprovalData.availableSourceDocs.find(x => x.id == this.letter.mainLetter.fileId).uploadType;
					if (source == "LetterGenSourceDocument" || source == "LetterGenBackPageSource"){
						if (this.letter.selectedApprovalStatus == JURISDICTION_STATUS.DR.code || this.letter.selectedApprovalStatus == JURISDICTION_STATUS.LQ.code) {
							let draftLetter = this.draftLetterheads.find(x => x.text == "Draft Only")
							this.letter.mainLetter.letterheadId = draftLetter.value;
							this.letter.mainLetter.letterheadFilePath = draftLetter.text;
						}
						else {
							let letterHead = this.nonDraftLetterheads.find(x => x.text == "None")
							this.letter.mainLetter.letterheadId = letterHead.value;
							this.letter.mainLetter.letterheadFilePath = letterHead.text;
						}
					}
				}
			},
			'letter.backPage.fileId': function () {
				//Check if it's lettergen Source
				let source = this.letter.letterApprovalData.availableSourceDocs.find(x => x.id == this.letter.backPage.fileId).uploadType;
				if (source == "LetterGenBackPageSource" || source == "LetterGenSourceDocument") {
					if (this.letter.selectedApprovalStatus == JURISDICTION_STATUS.DR.code || this.letter.selectedApprovalStatus == JURISDICTION_STATUS.LQ.code) {
						let draftLetter = this.draftLetterheads.find(x => x.text == "Draft Only")
						this.letter.backPage.letterheadId = draftLetter.value;
						this.letter.backPage.letterheadFilePath = draftLetter.text;
					}
					else {
						let letterHead = this.nonDraftLetterheads.find(x => x.text == "None")
						this.letter.backPage.letterheadId = letterHead.value;
						this.letter.backPage.letterheadFilePath = letterHead.text;
					}
				}
			},
			'letter.selectedApprovalStatus': function (val, oldVal) {
				if (this.letter.selectedApprovalStatus == JURISDICTION_STATUS.DR.code || this.letter.selectedApprovalStatus == JURISDICTION_STATUS.LQ.code) {
					this.letter.isDraftLetter = true
					if (val != oldVal) {
						this.applyDefaultOptions();
					}
				}
				else {
					this.letter.isDraftLetter = false
					if (this.letter.selectedApprovalStatus == JURISDICTION_STATUS.AP.code && (this.letter.currentJurisdictionalStatus == JURISDICTION_STATUS.DR.code || this.letter.currentJurisdictionalStatus == JURISDICTION_STATUS.LQ.code)) {
						this.letter.letterApprovalData.isBillable = false;
						if (this.letter.draftLetter.isTimelineRequested && this.letter.draftLetter.timelineDate == null) {
							bootbox.alert('You are trying to approve Draft and Timeline is Requested. Please edit Draft Information and enter Timeline.')
						}
						else {
							this.draftWarning =false
						}
					}
				}
			},
			'letter.updateDate': function (val, oldVal) {
				if (val != oldVal) {
					this.updateDateChanged = true
				}	
			},
			'letter.updatedDateReasonId': function (val, oldVal) {
				if (val != oldVal) {
					this.updateDateChanged = true
				}				
			},
		}
	}
</script>
<style scoped>
	
	.checkbox {
		margin-top: 1px;
	}

	.errorField {
		color: #b94a48;
	}

	.jurdata {
		max-height: 250px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.componentCount {
		font-size: 10px;
		font-style: italic;
		padding-top: 2px;
		color: #808080;
	}

	.smallLabel {
		font-size: 11px;
	}
		
</style>