﻿<template>
	<div class="modal" ref="EmailTo" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						<font color="navy"><strong>{{ title }}</strong></font>
						<span class="pull-right">
							<button type="button" class="btn btn-primary saveDraft-button" @click="saveInfo"><i class="fas fa-save"></i>&nbsp;Send</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
						</span>
					</h4>
				</div>
				<div class="modal-body">
					<!--Draft Letter-->
					<div class="panel panel-default" style="margin-left: 10px;">
						<div class="panel-heading">Send Email</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label for="Comment">To:</label>
										<LookupMultiple id="UsersTo"
														name="UsersTo"
														lookupajax="Users"
														v-model="userIds"
														:options="users" 
														/>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>
<script>
	import api from '@/api/letterbook';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';

	export default {
		components: {
			LookupMultiple
		},
		props: {
			showEmailModal: {
				type: Boolean
			},
			title: {
				type: String
			},
			defaultUserIds: {
				type:Array
			},
			defaultUsers: {
				type:Array
			}
		},
		data: function () {
			return {
				userIds: [],
				users: []
			}
		},
		methods: {
			saveInfo: function () {
				this.$emit('setNURVEmail', this.userIds);
				this.$emit('setEmailModal', false);
			},
		},
		mounted: function () {
			const self = this;
			$(this.$refs.EmailTo).on('hidden.bs.modal', function (e) {
				self.$emit('setEmailModal', false);
			});
			if (self.defaultUserIds.length > 0) {
				self.userIds = self.defaultUserIds;
				self.users = self.defaultUsers;
			}
		},
		watch:  {
			showEmailModal: function (val, oldVal) {
				if (val) {
					$(this.$refs.EmailTo).modal('show');
				}
				else
				{
					this.$emit('setEmailModal', false);
					$(this.$refs.EmailTo).modal('hide');
				}
			}
		}
	}
</script>
<style scoped>
</style>