﻿<template>
	<div class="form-group form-group-sm" :id ="id">
		<div v-show="!isDisabled">
			<div class="col-sm-1 padr0" >
				<input type="checkbox" v-model="submissionInfo.isAttachedToLetter" />
			</div>
			<div class="col-sm-11 game-name" >
				<font style="color:maroon"><strong><i>{{ fileNumber }}</i></strong></font> - <font style="color:navy"> {{idNumber}}</font> / {{version}}
			</div>
		</div>
		<div v-show="isDisabled">
			<div class="col-sm-12 game-name" >
				<font style="color:maroon"><strong><i>{{ fileNumber }}</i></strong></font> - <font style="color:navy"> {{idNumber}}</font> / {{version}}
			</div>
		</div>
	</div>
</template>

<script>
	import api from '@/api/letterbook';

	export default {
		props: {
			submissionInfo: {
				type: Object
			},
			isDisabled: {
				type: Boolean
			},
			id: {
				type: Number
			},
		},
		data: function(){
			return {
				idNumber: '',
				version: '',
				fileNumber: ''
			}
		},
		computed: {
			
		},
		mounted: function () {
			if (!Em(this.submissionInfo.idNumber) && !Em(this.submissionInfo.fileNumber)) {
				this.idNumber = this.submissionInfo.idNumber;
				this.version = this.submissionInfo.version;
				this.fileNumber = this.submissionInfo.fileNumber;
			}
			else {
				api.getComponentName(this.submissionInfo.submissionId)
					.then(response => {
						this.idNumber = response.data.IdNumber;
						this.version = response.data.Version;
						this.fileNumber = response.data.FileNumber;
					});
			}
		},
		watch:{
			//'submissionInfo': {
			//	handler: function (val, oldVal) {
			//		if (val != oldVal) {
			//			this.idNumber = val.idNumber;
			//			this.version = val.version;
			//			this.fileNumber = val.fileNumber;
			//		}
			//	},
			//	deep: true
			//},
		}
	}
</script>

<style scoped>
	.game-name{
		font-size:10px;
		color:black
	}
</style>