﻿<template>
	<div class="modal" ref="SupplementLetterList" aria-hidden="true">
		<div class="modal-dialog modal-xlg">
			<div class="modal-content">
				
				<div class="modal-header">
					<h4 class="modal-title text-info">
						Supplements -
						<font color="navy"><strong>{{letterApprovalData.jurisdictionName}} </strong></font><strong><font color="red">{{letterApprovalData.jurisdictionId}} </font> - </strong>{{currentJurisdictionLetterStatus}}<strong></strong>
						<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>
			
				<div class="modal-body">
					<div >
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>Posted Date</th>
									<th>Letter Date</th>
									<th>Letter Type</th>
									<th>Language</th>
									<th>Document</th>
									<th>Components</th>
									<th width="210px">Delete Letter From Submission DB</th>
								</tr>
							</thead>
							<tbody >

								<tr v-for="(supplementLetter, index) in supplementLetters">
									<td>{{ supplementLetter.createDate  | formatDate }}	</td>
									<td>{{ supplementLetter.letterDate  | formatDate }}	</td>
									<td>{{ supplementLetter.documentType }}	</td>
									<td>{{ supplementLetter.language }}	</td>
									<td><span class="text-info">[<a style="cursor:pointer" @click="openFile(supplementLetter.pdfPath)"><small><i>{{supplementLetter.pdfName}}</i></small> - <i class="far fa-file-pdf fa-fw"></i></a>]</span></td>
									<td>
										<span class="pull-right componentCount">{{ supplementLetter.jurisdictionalDataIds.length }} Selected</span><br />
										<div class="jurdata">
											<div v-for="(compIdPair, index) in supplementLetter.jurisdictionalDataIds">
												<div class="row text-left">
													<SubmissionComp :submissionInfo="compIdPair" :id="index" :isDisabled="true">
													</SubmissionComp>
												</div>
											</div>
										</div>
									</td>
									<td>&nbsp;&nbsp;&nbsp;<span class="text-info" v-if="canDeleteLetter"> <a style="cursor:pointer" @click="deleteSupplementPdf(supplementLetter.letterId, supplementLetter.jurisdictionalDataIds, index)"><i class="far fa-trash-alt" style="color:red"></i></a></span></td>
								</tr>

							</tbody>
						</table>

					</div>
				</div>
				
			</div>
		</div>

		
	</div>
</template>
<script>

	import api from '@/api/letterbook';
	import SubmissionComp from '@/components/documents/create/SubmissionComp.vue';

	export default {
		props: {
			bundleId: {
				type: Number
			},
			canDeleteLetter: {
				type: Boolean
			},
			currentJurisdictionLetterStatus: {
				type: String
			},
			letterApprovalData: {
				type: Object
			},
			showSupplementList: {
				type: Boolean
			},
		},
		data: function () {
			return {
				supplementLetters: []
			}
		},
		components: {
			SubmissionComp
		},
		methods: {
			deleteSupplementPdf: function (letterId, jurIds, index) {
				var self = this
				bootbox.confirm("<strong>Confirm!!!</strong> Are you sure you want to delete this supplement letter?", function (result) {
						if (result) {
							Loading()
							api.deleteSupplement(letterId,jurIds) //passing jurId, incase old way of hyperlinked files components may need this??
								.then(response => {
									if (response.data == "OK"){
										self.supplementLetters.splice(index, 1);
										DoneLoading()
									}
								}).catch(error => {
									bootboox.alert("Error occured - letter is not deleted.")
									console.log(error);
									DoneLoading();
								});
						}
					});
			},
			loadSupplements: function () {
				Loading()
				let self = this
				let jurisdictionalDataIds = this.letterApprovalData.jurisdictionalDataIds.map(x => x.jurisdictionalDataId)
				api.getSupplementLetters(jurisdictionalDataIds)
						.then(response => {
							self.supplementLetters = response.data
							DoneLoading()
						})
						.finally(() => {
							DoneLoading()
						});
				
			},
			openFile: function (path) {
				this.$emit('openFile', path);
			}
		},
		mounted: function () {
			const refThis = this;
			$(this.$refs.SupplementLetterList).on('hidden.bs.modal', function (e) {
				refThis.$emit('reSetShowSupplementList', false);
			});
		},
		watch: {
			showSupplementList: function (val, oldVal) {
				if (val) {
					$(this.$refs.SupplementLetterList).modal('show');
					this.loadSupplements();
				}
				else
				{
					this.$emit('reSetShowSupplementList', false);
					$(this.$refs.SupplementLetterList).modal('hide');
				}
			},
		}
	}
</script>
<style scoped>
	.componentCount {
		font-size: 10px;
		font-style: italic;
		padding-top: 2px;
		color: #808080;
	}

	.idnumberFont {
		color: dodgerblue;
		font-weight: bold;
	}

	.versionFont {
		font-weight: bold;
	}

	.smallLabel {
		font-size: 11px;
		font-weight: bold
	}

	.jurdata {
		max-height: 70px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	@media (min-width: 1200px) {
		.modal-xlg {
			width: 90%;
		}
	}
</style>
