﻿<template>
	<div class="modal" ref="SupplementLetter" aria-hidden="true">
		<form ref="previewSupplementForm" target="_blank" method="post">
			<input type="hidden" id="SupplementletterModelString" name="SupplementletterModelString" />
		</form>
		<div class="modal-dialog modal-xlg">
			<div class="modal-content">
				<div class="modal-header">

					<div class="pull-right">
						<button type="button" class="btn btn-primary previewSupplement-button" @click="previewPdf"><i class='far fa-file-pdf' style="color:white"></i>&nbsp;Preview</button>
						<button type="button" class="btn btn-primary saveSupplement-button" @click="savePdf"><i class="far fa-save"></i>&nbsp;Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
					</div>
					<h4 class="modal-title">Supplemental Letters</h4>

				</div>
				<div class="modal-body">
					<!--Error-->
					<div class="alert alert-danger" role="alert" v-if="errorMsg != ''" style="white-space: pre">
						<strong>Error!</strong><span class="pull-right"><a href="#" @click="unSetErrorMsg()"><i class="fas fa-times"></i></a></span><br />{{errorMsg}}
					</div>

					<!--Billing info-->
					<div class="panel panel-default panel">
						<div class="panel-heading">
							<h3 class="panel-title"><a href="#" data-toggle="collapse" data-target="#BillingInfo">Billing Information</a></h3>
						</div>
						<div class="panel-body" id="BillingInfo">
							<BillingInfo :infoModel="vm.supplementLetter.billingInfo"></BillingInfo>
						</div>
					</div>
					<!--Supplement Letter-->
					<div class="panel panel-default" style="margin-left: 10px;">
						<div class="panel-heading">Supplement Letter Information</div>
						<div class="panel-body">
							<div class="row">

								<div class="col-sm-6">
									<form>
										<div class="form-group row">
											<label class="col-sm-5 control-label">
												Jurisdiction
											</label>
											<div class="col-sm-7">
												<SelectStandard id="SelJurisdiction"
																name="SelJurisdiction"
																v-model="vm.supplementLetter.jurisdictionId"
																:options="vm.availableJurisdictions"></SelectStandard>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-5 control-label">
												Letterhead
											</label>
											<div class="col-sm-7">
												<Lookup name="SelLetterHeaderType"
														:lookuptextfield="vm.supplementLetter.mainLetter.letterheadFilePath"
														@updateLookupTextField="updateTextField"
														v-model="vm.supplementLetter.mainLetter.letterheadId"
														lookupajax="Letterheads"
														class="form-control"
														tabindex="-1">
												</Lookup>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-5 control-label">
												Repeat Letterhead
											</label>
											<div class="col-sm-7">
												<input type="checkbox" v-model="vm.supplementLetter.mainLetter.repeatOverlay" />&nbsp;
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-5 control-label">
												Letter Type
											</label>
											<div class="col-sm-7">
												<Lookup id="SelDocumentType"
														name="SelDocumentType"
														:lookuptextfield="vm.supplementLetter.documentType"
														@updateLookupTextField="updateDocType"
														:filter="documentTypeFilter"
														v-model="vm.supplementLetter.documentTypeId"
														lookupajax="DocumentType"
														class="form-control"
														tabindex="-1">
												</Lookup>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-5 control-label">
												Language
											</label>
											<div class="col-sm-7">
												<Lookup name="SelLanguage"
														:lookuptextfield="vm.supplementLetter.mainLetter.language"
														@updateLookupTextField="updateTextFieldLanguage"
														v-model="vm.supplementLetter.mainLetter.language"
														lookupajax="Language"
														class="form-control"
														tabindex="-1">
												</Lookup>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-5 control-label">
												Source File
											</label>
											<div class="col-sm-7">
												<input type="hidden"
													   id="FileId"
													   name="FileId"
													   v-model="vm.supplementLetter.mainLetter.fileId" />
												<SelectStandard id="SelFile"
																name="SelFile"
																v-model="vm.supplementLetter.mainLetter.fileId"
																:options="availableGPSFiles"></SelectStandard>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-5 control-label">
												Date Of Report
											</label>
											<div class="col-sm-7">
												<DatePicker v-model="vm.supplementLetter.dateOfReport" style="width:150px"></DatePicker>
											</div>
										</div>
										<div class="form-group row" v-show="vm.supplementLetter.documentTypeId != documentType.Supplement">
											<label class="col-sm-5 control-label">
												Complete Date
											</label>
											<div class="col-sm-7">
												<DatePicker v-model="vm.completeDate" style="width:150px"></DatePicker>
											</div>
										</div>
									</form>
								</div>

								<div class="col-sm-6">
									<form>
										<div class="form-group">
											<input type="checkbox" title="Check All" Id="checkAllSup" @click="checkAll" />&nbsp;&nbsp;<label class="control-label">Components (Id/Version)</label><font class="small text-warning" v-if="vm.supplementLetter.jurisdictionId == 0 || vm.supplementLetter.jurisdictionId == null"> (Select Jurisdiction to view available components)</font>
											<div class="jurdata">
												<div v-for="submission in selectedJurisdictionApprovalData">
													<div class="row">
														<SubmissionComp :submissionInfo="submission" :isDisabled="false">
														</SubmissionComp>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>

				</div>

				<div class="modal-footer">
					<div class="row">
						<div class="col-sm-12 text-right">
							<button type="button" class="btn btn-primary previewSupplement-button" @click="previewPdf"><i class='far fa-file-pdf' style="color:white"></i>&nbsp;Preview</button>
							<button type="button" class="btn btn-primary saveSupplement-button" @click="savePdf"><i class="far fa-save"></i>&nbsp;Save</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import api from '@/api/letterbook';
	import BillingInfo from '@/components/documents/create/BillingInfo.vue';
	import DatePicker from '@/components/utility/DatePicker.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import SubmissionComp from '@/components/documents/create/SubmissionComp.vue';
	
	export default {
		components: {
			BillingInfo,
			DatePicker,
			SelectStandard,
			Lookup,
			SubmissionComp
		},
		props: {
			showSupplementModal: {
				type: Boolean
			},
			vm: {
				type: Object
			},
			emptyVM: {
				type: Object
			},
			languages: {
				type: Array
			}
		},
		data() {
			return {
				errorMsg: "",
				documentType: {"Supplement":7}
			}
		},
		computed: {
			documentTypeFilter: function () {
				return {
					IsSupplementType: true
				}
			},
			selectedJurisdictionApprovalData: function () {
				var approvalData = []
				var selectedJur = this.vm.supplementLetter.jurisdictionId
				this.vm.availableApprovalData.forEach(function (obj) {
					if (obj.jurisdictionId == selectedJur) {
						approvalData = obj.jurisdictionalDataIds
					}
				})
				return approvalData
			},
			availableGPSFiles: function (vm) {
				var optList = [];
				var fileOptions = []
				var selectedJur = this.vm.supplementLetter.jurisdictionId
				this.vm.availableApprovalData.forEach(function (obj) {
					if (obj.jurisdictionId == selectedJur) {
						fileOptions = obj.availableSourceDocs
					}
				})
				if (fileOptions.length > 0) {
					for (var i = 0; i < fileOptions.length; i++) {
						var option = { value: fileOptions[i].id, text: fileOptions[i].fileName };
						optList.push(option);
					}
				}
				else {
					var option = { value: 0, text: "" };
						optList.push(option);
				}
				return optList;
			}
		},
		validations: {
		  
		},
		methods: {
			checkAll: function () {
				if ($('#checkAllSup').prop("checked") == true) {
					var approvalJurs = []
					var selectedJur = this.vm.supplementLetter.jurisdictionId
					this.vm.availableApprovalData.forEach(function (obj) {
						if (obj.jurisdictionId == selectedJur) {
							approvalJurs = obj.jurisdictionalDataIds
						}
					})
					approvalJurs.forEach(function (obj) {
						obj.isAttachedToLetter = true
					})
				} else {
					this.vm.availableApprovalData.forEach(function (obj) {
						var	approvalJurs = obj.jurisdictionalDataIds
						approvalJurs.forEach(function (obj1) {
							obj1.isAttachedToLetter = false
						})
					})
				}
			},
			forceFileDownload(response){
				const url = window.URL.createObjectURL(new Blob([response.data]))
				const link = document.createElement('a')
				link.href = url
				link.setAttribute('download', 'file.pdf') //or any other extension
				document.body.appendChild(link)
				link.click()
			},
			previewPdf: function () {
				this.errorMsg = ""
				this.validateFields();
				if (Em(this.errorMsg)) {
					Loading()
					
					let form = this.$refs.previewSupplementForm;
					$('#SupplementletterModelString').val(JSON.stringify(this.vm.supplementLetter))
					form.action = jsPath + 'documents/createvue/previewsupplementpdf';
					form.submit();
					//var letter = this.vm.supplementLetter
					//$('.previewSupplement-button').attr("disabled", true);
					//api.previewSupplementPdf(letter)
					//	.then(response => {
					//		this.forceFileDownload(response);
					//		$('.previewSupplement-button').attr("disabled", false);
					//		DoneLoading()
					//	}).catch(error => {
					//		console.log(error);
					//		alert("Error")
					//		$('.previewSupplement-button').attr("disabled", false);
					//		DoneLoading()
					//	});
					
				}
			},
			savePdf: function () {
				var self = this
				this.errorMsg = ""
				this.validateFields();
				if (Em(this.errorMsg)) {
					Loading()
					var letter = this.vm.supplementLetter
					$('.saveSupplement-button').attr("disabled", true);
					api.postSupplement(letter)
						.then(response => {
							if (response.data == "Error") {
								alert("Error");
								$('.saveSupplement-button').attr("disabled", false);
								DoneLoading()
							}
							else {
								console.log(response.data)
								$('.saveSupplement-button').attr("disabled", false);
								DoneLoading()
								self.reSetSupplementList(response.data)
							}
							
						}).catch(error => {
							console.log(error);
							alert("Error");
							$('.saveSupplement-button').attr("disabled", false);
							DoneLoading()
						});
					
				}
			},
			reSetSupplementList: function (affectedLetters) {
				this.$emit('setSupplementLetters', affectedLetters);
				this.$emit('reSetShowSupplementModal', false);
			},
			setLetterApprovalData: function () {
				this.vm.supplementLetter.letterApprovalData.jurisdictionalDataIds = this.selectedJurisdictionApprovalData
			},
			unSetErrorMsg: function () {
				this.errorMsg = ""
			},
			updateDocType: function (val) {
				this.vm.supplementLetter.documentType = val;
			},
			updateTextField: function (newStringValue, newLetterheadId) {
				this.vm.supplementLetter.mainLetter.letterheadFilePath = newStringValue;
			},
			updateTextFieldLanguage: function (newStringValue, newLangugaeId) {
				this.vm.supplementLetter.mainLetter.language = newStringValue
			},
			validateFields: function () {
				this.setLetterApprovalData();
				var selectedSubmissions = this.vm.supplementLetter.letterApprovalData.jurisdictionalDataIds.filter(function (el) {
					return (el.isAttachedToLetter == true)
				});
				if (this.vm.supplementLetter.jurisdictionId == null) {
					this.errorMsg += "- You must select jurisdiction \n"
				}
				if (selectedSubmissions.length == 0) {
					this.errorMsg += "- You must select components \n"
				}
				if (this.vm.supplementLetter.mainLetter.letterheadId == null) {
					this.errorMsg += "- You must select Letterhead \n"
				}
				if (this.vm.supplementLetter.mainLetter.language == "") {
					this.errorMsg += "- You must select Language \n"
				}
				if (this.vm.supplementLetter.mainLetter.fileId == null) {
					this.errorMsg += "- You must select File \n"
				}
				if (Em(this.vm.supplementLetter.dateOfReport)) {
					this.errorMsg += "- You must select Date of Report \n"
				}
				
			},
		},
		mounted: function () {
			const refThis = this;
			$(this.$refs.SupplementLetter).on('hidden.bs.modal', function (e) {
				refThis.$emit('reSetShowSupplementModal', false);
			});
		},
		watch: {
			showSupplementModal: function (val, oldVal) {
				if (val) {
					this.vm = _.cloneDeep(this.emptyVM)
					$(this.$refs.SupplementLetter).modal('show');
				}
				else
				{
					this.$emit('reSetShowSupplementModal', false);
					$(this.$refs.SupplementLetter).modal('hide');
				}
			},
			'vm.supplementLetter.jurisdictionId': function (val, oldVal) {
				$("#checkAllSup").prop("checked", false);
				this.checkAll()
			}
		}
	}

</script>
<style scoped>
	.jurdata {
		max-height: 25em;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	@media (min-width: 1200px) {
		.modal-xlg {
			width: 90%;
		}
	}
</style>