﻿<template>
	<div :id="id" class="card col-sm-12 supplementLetter" ref="SuppDocTileEl">
		<div class="row">
			<div class="col-sm-3">
				&nbsp;&nbsp;<input type="checkbox" name="selToProcess" v-model="letter.isSelectedToProcess" title="Select to Process Pdf" />&nbsp;&nbsp;&nbsp;
				<span class=field-validation-error v-show="letter.errorMsgs.length>0" :title="errorMsgText"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></span>
				<font color="navy"><strong>{{letter.letterApprovalData.jurisdictionName}} </strong></font><strong><font color="red">{{letter.letterApprovalData.jurisdictionId}} </font></strong>
				<div style="display: inline-block"> - <b>{{letter.currentJurisdictionalStatus}}</b></div>&nbsp;
				<span class="text-info " :id="'SupProcessIcon' + id"><strong><i class="fas fa-spinner fa-spin" style="color:green"></i>&nbsp;Processing.....</strong></span>
				<!--<span class="text-info " v-show="letter.processIconShow"><strong><i class="fas fa-spinner fa-spin" style="color:green"></i>&nbsp;Processing.....</strong></span>-->
				<span class="text-success" v-show="letter.successIconShow"><i class="fas fa-check"></i>&nbsp;Done</span>
				<span class="text-danger" v-show="letter.failIconShow"><i class="fas fa-exclamation-circle"></i>&nbsp;Error</span>
			</div>
			<div class="col-sm-1 text-right">
				<span><a style="cursor:pointer" title="Enter Billing Information" @click="setShowBilling(true)"><strong>[ Billing ]</strong></a></span>
			</div>
			<div class="col-sm-6">
			</div>
			<div class="col-sm-2 text-left">
				<span><a style="cursor:pointer" title="View All Supplements" @click="setShowSupplementList(true)"><strong>[ Manage Supplements ]</strong></a></span>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-2 padr0 smallLabel "><span style="cursor:pointer" title="Copy letter and component selection to checked jurisdiction(s)" @click="copyLetterData"><i class="fas fa-clone" aria-hidden="true"></i></span></div>
					<div class="col-sm-9 padr0">
						<div class="col-sm-3 padr0 smallLabel" v-bind:class="{'errorField' : (validator.mainLetter.language.$invalid || isAddlLettersLanguageInValid) }"><span v-if="validator.mainLetter.language.$invalid || isAddlLettersLanguageInValid" title="Required">*</span>Language</div>
						<div class="col-sm-5 padr0 smallLabel" v-bind:class="{'errorField' : (validator.mainLetter.fileId.$invalid || isAddlLettersFileIdInValid) }"><span v-if="validator.mainLetter.fileId.$invalid || isAddlLettersFileIdInValid" title="Required">*</span>Source File</div>
						<div class="col-sm-4 padr0 smallLabel" v-bind:class="{'errorField' : (validator.mainLetter.letterheadId.$invalid || isAddlLettersLetterheadIdInValid) }"><span v-if="validator.mainLetter.letterheadId.$invalid || isAddlLettersLetterheadIdInValid" title="Required">*</span>Letterhead</div>
					</div>
					<div class="col-sm-1 smallLabel padl0" title="Repeat Letterhaed">Repeat</div>
				</div>
				<strong><hr style="color:gray;margin-bottom:5px;margin-top:2px" /></strong>
				<FileOptions :individualLetterData="letter.mainLetter"
							 :fileType="'Supplement'"
							 :fileOptions="letter.letterApprovalData.availableSourceDocs"
							 :draftLetterheads="draftLetterheads"
							 :nonDraftLetterheads="nonDraftLetterheads"
							 :languageOptions="languages"
							 :id="id"
							 :name="'SuppLetter'"
							 :canNotBeRemoved="true">
				</FileOptions>
				<a @click="addSupplement" style="cursor:pointer" title="Click to add translations or any other supplements associated with same Billing">Add Add'l Letter</a>
				<i class="fas fa-info-circle" title="Any Additional letters added through here will have same Billing. Please post as a different supplement, if it has to be billed separately."></i> <br />
				<div v-for="(transLetter, index) in letter.translations">
					<FileOptions :individualLetterData="transLetter.mainLetter"
								 :fileType="'Add\'l ' + (index + 1)"
								 :fileOptions="letter.letterApprovalData.availableSourceDocs"
								 :languageOptions="languages"
								 :draftLetterheads="draftLetterheads"
								 :nonDraftLetterheads="nonDraftLetterheads"
								 :id="index"
								 :name="'Translation'"
								 @toggleModal="deleteCurrentTranslation(index)">
					</FileOptions>
				</div>
			</div>
			<div class="col-sm-3 padr0">
				<div class="panel panel-default">
					<div class="panel-heading">
						<input type="checkbox" title="Check All" :Id="'checkAll' + id" @click="checkAll()" />&nbsp;&nbsp;Components (Id/Version)&nbsp;&nbsp;<a style="cursor:pointer" @click="splitJuris" title="Remove unchecked jurisdictions which are not getting certified in this letter."><i class="fas fa-minus-square" style="color:red"></i></a><span class="pull-right componentCount">{{componentsSelected}} Selected</span>
					</div>
					<div class="panel-body">
						<div class="jurdata">
							<div v-for="compIdPair in letter.letterApprovalData.jurisdictionalDataIds">
								<div class="row">
									<SubmissionComp :submissionInfo="compIdPair" :id="id">
									</SubmissionComp>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						General Data
					</div>
					<div class="panel-body">
						<div class="row">
							<label class="col-sm-5 control-label" v-bind:class="{'errorField' : (validator.documentTypeId.$invalid) }">
								<span v-if="validator.documentTypeId.$invalid" title="Required">* </span>Document Type
							</label>
							<div class="col-sm-6">
								<input name="docType"
									   type="hidden"
									   v-model="letter.documentType" />
								<Lookup :id="'LetterType' + id"
										:name="'LetterType' + id"
										:lookuptextfield="letter.documentType"
										@updateLookupTextField="updateDocType"
										:filter="documentTypeFilter"
										v-model="letter.documentTypeId"
										lookupajax="DocumentType"
										class="form-control"
										tabindex="-1">
								</Lookup>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-5 control-label" v-bind:class="{'errorField' : (validator.dateOfReport.$invalid) }">
								<span v-if="validator.dateOfReport.$invalid" title="Required">* </span>Date of Report
							</label>
							<div class="col-sm-6">
								<DatePicker v-model="letter.dateOfReport"></DatePicker>
							</div>
						</div>
						<div class="row" v-if="letter.documentType != 'Supplemental'">
							<label class="col-sm-5 control-label" v-bind:class="{'errorField' : (validator.completeDate.$invalid) }">
								<span v-if="validator.completeDate.$invalid" title="Required">* </span><span>Close Date</span>
							</label>
							<div class="col-sm-6">
								<DatePicker v-model="letter.completeDate" title="Close Date"></DatePicker>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-5 control-label">
								Is Billable?
							</label>
							<div class="col-sm-6">
								<input type="checkbox" v-model="letter.letterApprovalData.isBillable" />&nbsp;<span class="small text-info" title="Selected billing sheet" v-if="letter.billingInfo.billingSheet != '' && letter.billingInfo.billingSheetId != null">({{letter.billingInfo.billingSheet}})</span>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-5 control-label">
							</label>
							<div class="col-sm-6">
								<span class="small text-info" title="Owning Company">{{ letter.company }}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-right">
					<button :id="'SupPreview'+ id" v-if="letter.translations.length == 0" class="btn btn-primary btn-sm supPreview-button actionBtn" @click="previewSupplement(letter)"><i class='fas fa-file-pdf' style="color:white"></i>&nbsp;Preview</button>
					&nbsp;
					<div class="btn-group btn-group-sm" v-if="letter.translations.length > 0">
						<a class="btn btn-sm btn-primary dropdown-toggle preview-button actionBtn" data-toggle="dropdown" href="#">
							<i class="fas fa-cog"></i> Preview&nbsp;<i class="fas fa-caret-down" title="Toggle dropdown menu"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" @click="previewSupplement(letter)" v-if="letter.mainLetter.language != null && letter.mainLetter.fileId != null && letter.mainLetter.letterheadId != null"><i class='fas fa-file-pdf' style="color:navy"></i>&nbsp;Main Certification</a></li>
							<li v-for="(transLetter, index) in letter.translations">
								<a href="#" @click="previewTranslationLetter(transLetter)" v-if="transLetter.mainLetter.language != null && transLetter.mainLetter.fileId != null && transLetter.mainLetter.letterheadId != null"><i class='fas fa-file-pdf' style="color:navy"></i>&nbsp;Add'l {{(index + 1)}} - <b>{{ transLetter.mainLetter.language }}</b></a>
							</li>
						</ul>
					</div>
					<button :id="'SupProcess'+ id" class="btn btn-primary btn-sm supProcess-button actionBtn" @click="processSupplement(letter, id)"><i class="fas fa-save"></i>&nbsp;Post</button>
					&nbsp;&nbsp;&nbsp;
				</div>
			</div>
		</div>
				<!--Billing-->
				<JurBilling :id="id" :showJurBilling="showJurBilling" :billingInfo="letter.billingInfo" :documentVersionId="letter.documentVersionId" :letterApprovalData="letter.letterApprovalData" :fileNumber="letter.fileNumber" @setShowBilling="setShowBilling" @applyBilling="applyBilling"></JurBilling>
				<!--List-->
				<SupplementList :showSupplementList="showSupplementList" :bundleId="letter.bundleId" :currentJurisdictionLetterStatus="letter.currentJurisdictionalStatus" :letterApprovalData="letter.letterApprovalData" :canDeleteLetter="canDeleteLetter" @reSetShowSupplementList="setShowSupplementList" @openFile="openFile"></SupplementList>
			</div>
</template>
<script>

	import api from '@/api/letterbook';
	import DatePicker from '@/components/utility/DatePicker.vue';
	import FileOptions from '@/components/documents/create/FileOptions.vue';
	import JurBilling from '@/components/documents/create/JurisdictionGroupBilling.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import SubmissionComp from '@/components/documents/create/SubmissionComp.vue';
	import SupplementList from '@/components/documents/create/SupplementList.vue';
	
	export default {
		props: {
			letter: {
				type: Object
			},
			canDeleteLetter: {
				type: Boolean
			},
			draftLetterheads: {
				type: Array
			},
			id: {
				type: Number
			},
			languages: {
				type: Array
			},
			lwLocationId: {
				type: Number
			},
			nonDraftLetterheads: {
				type: Array
			},
			validator: {
				type: Object
			},
		},
		data: function () {
			return {
				showJurBilling: false,
				showSupplementList: false,
				defaultOptions: [],
				QANotesComment: ''
			}
		},
		computed: {
			componentsSelected: function () {
				return (this.letter.letterApprovalData.jurisdictionalDataIds.filter(x => x.isAttachedToLetter)).length;
			},
			errorMsgText: function () {
				var sText = ""
				this.letter.errorMsgs.forEach(function (msg) {
					sText += msg + "\n";
				})
				return sText
			},
			documentTypeFilter: function () {
				return {
					IsSupplementType: true
				}
			},
			isAddlLettersFileIdInValid: function () {
				let self = this;
				let isInValid= false
				this.letter.translations.forEach(function (obj, index) {
					if (self.validator.translations.$each[index].mainLetter.fileId.$invalid) {
						isInValid = true;
					}
				})
				return isInValid;
			},
			isAddlLettersLanguageInValid: function () {
				let self = this;
				let isInValid= false
				this.letter.translations.forEach(function (obj, index) {
					if (self.validator.translations.$each[index].mainLetter.language.$invalid) {
						isInValid = true;
					}
				})
				return isInValid;
			},
			isAddlLettersLetterheadIdInValid: function () {
				let self = this;
				let isInValid= false
				this.letter.translations.forEach(function (obj, index) {
					if (self.validator.translations.$each[index].mainLetter.letterheadId.$invalid) {
						isInValid = true;
					}
				})
				return isInValid;
			},
		},
		components: {
			DatePicker,
			FileOptions,
			JurBilling,
			Lookup,
			SubmissionComp,
			SupplementList
		},
		methods: {
			addSupplement: function () {
				let mainLetterHeadId = this.letter.mainLetter.letterheadId;
				this.letter.translations.push({
					languageId: 0,
					translationId: 0,
					mainLetter: {
						fileId: 0,
						letterheadId: mainLetterHeadId,
					}
				})
			},
			applyBilling: function () {
				this.$emit('applyBillingToSelected',this.letter.billingInfo);
			},
			applyDefaultOptions: function () {
				let selectedDocumentType = this.letter.documentTypeId;
				let lWLocationId = this.lwLocationId;
				let companyId = this.letter.companyId
				
				let defaultOptions = this.defaultOptions.filter(x => x.DocumentTypeIds.some(d => d == selectedDocumentType));
				
				//filter based on LW location
				let defaultOptionsLWLocation = defaultOptions.filter(x => x.LocationIds.some(d => d == lWLocationId));
				if (defaultOptionsLWLocation.length > 0) {
					defaultOptions = defaultOptionsLWLocation;
				}
			
				//filter based on Company
				let defaultOptionsCompany = defaultOptions.filter(x => x.CompanyIds.some(d => d == companyId));
				if (defaultOptionsCompany.length > 0) {
					defaultOptions = defaultOptionsCompany;
				}
												
				//Find letterhead
				let letterheadDefaultOptions = defaultOptions.filter(x => x.LetterheadId != null && x.letterheadId != 0);
				let letterheadDefaultOption = defaultOptions[0]
				if (letterheadDefaultOptions.length > 1) {
						letterheadDefaultOption = this.findSpecificRule(letterheadDefaultOptions);
				}
				
				let defaultOption = defaultOptions[0]
				if (defaultOptions.length > 1) {
					defaultOption = this.findSpecificRule(defaultOptions);
				}

				if (defaultOption != null) {
					if (!Em(defaultOption.ApprovalStatus)) {
						this.letter.selectedApprovalStatus = defaultOption.ApprovalStatus;
					}

					this.letter.mainLetter.letterheadId = letterheadDefaultOption.LetterheadId;
					this.letter.mainLetter.letterheadFilePath = letterheadDefaultOption.LetterheadName;
					this.letter.mainLetter.repeatOverlay = letterheadDefaultOption.RepeatLetterhead;
					
					if (this.letter.correctionCoverPage.fileId != null && this.letter.correctionCoverPage.fileId != 0) {
						this.letter.correctionCoverPage.letterheadId = letterheadDefaultOption.CorrectionLetterheadId;
						this.letter.correctionCoverPage.letterheadFilePath = letterheadDefaultOption.CorrectionLetterheadName;
						this.letter.correctionCoverPage.repeatOverlay = letterheadDefaultOption.RepeatCorrectionLetterhead;
					}

					//Billable
					this.letter.letterApprovalData.isBillable = defaultOption.Billable;

					//Billing Data
					if (!Em(defaultOption.BillingLab)) {
						this.letter.billingInfo.laboratoryId = defaultOption.BillingLabId;
						this.letter.billingInfo.lab = defaultOption.BillingLab;
					}
					this.letter.billingInfo.billingSheet = defaultOption.BillingSheet;
					this.letter.billingInfo.billingSheetId = defaultOption.BillingSheetId;
												
					if (!Em(defaultOption.BillingNote)) {
						this.letter.billingInfo.note = defaultOption.BillingNote + "\n" + this.QANotesComment;
					}
					else {
						this.letter.billingInfo.note = this.QANotesComment;
					}

					this.letter.billingInfo.availableBillingSheets = defaultOption.AvailableBillingSheets;
				}
				
				//overwrite Non-billables
				this.$emit('checkNonBillableJurisdictions', this.letter, this.id);
			},
			findSpecificRule: function (defaultOptions) {
					let jurId = this.letter.jurisdictionId;
					let manuf = this.letter.manufacturerCode;
					let subType = this.letter.submissionType;
					let contractTypeId = this.letter.contractTypeId;
					let billingParty = this.letter.billingParty;

					let defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf) && x.SubTypes.some(s => s == subType) && x.BillingParties.some(s => s == billingParty) && x.ContractTypeIds.some(s => s == contractTypeId))
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf) && x.SubTypes.some(s => s == subType) && x.ContractTypeIds.some(s => s == contractTypeId))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf) && x.SubTypes.some(s => s == subType))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf) && x.BillingParties.some(s => s == billingParty))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf) && x.ContractTypeIds.some(s => s == contractTypeId))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.SubTypes.some(s => s == subType) && x.BillingParties.some(s => s == billingParty))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.SubTypes.some(s => s == subType) && x.ContractTypeIds.some(s => s == contractTypeId))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.Manufactures.some(m => m == manuf))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId) && x.SubTypes.some(s => s == subType))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.Manufactures.some(m => m == manuf) && x.BillingParties.some(s => s == billingParty))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.Manufactures.some(m => m == manuf) && x.ContractTypeIds.some(s => s == contractTypeId))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.SubTypes.some(s => s == subType) && x.BillingParties.some(s => s == billingParty))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.SubTypes.some(s => s == subType) && x.ContractTypeIds.some(s => s == contractTypeId))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.Manufactures.some(m => m == manuf) && x.SubTypes.some(s => s == subType))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.BillingParties.some(s => s == billingParty))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.ContractTypeIds.some(s => s == contractTypeId))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.Manufactures.some(m => m == manuf))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.SubTypes.some(s => s == subType))
					}
					if (defaultOption == null) {
						defaultOption = defaultOptions.find(x => x.JurisdictionIds.some(j => j == jurId))
					}
				return defaultOption;
			},
			copyLetterData: function () {
				this.$emit('copyLetterData',this.letter, true);
			},
			deleteCurrentTranslation: function (value) {
				this.letter.translations.splice(value, 1);
			},
			deleteSupplementPdf: function (letterId, jurIds, index) {
				var self = this
				Loading()
				api.deleteSupplement(letterId,jurIds) 
					.then(response => {
						if (response.data == "OK"){
							self.$emit('delSupplementLetters', index);
							DoneLoading()
						}
									
					}).catch(error => {
						console.log(error);
						DoneLoading();
					});
			},
			openFile: function (path) {
				this.$emit('openFile', path);
			},
			previewSupplement: function () {
				this.$emit('previewSupplement', this.letter, this.id, this.$el);
			},
			previewTranslationLetter: function (tranletter) {
				if (this.letter.mainLetter.fileId == null) {
					this.letter.mainLetter.fileId = 0
				}
				this.$emit('previewTranslationLetter', tranletter, this.letter, this.id, this.$el);
			},
			processSupplement: function () {
				this.letter.isSelectedToProcess = true
				//this.$emit('postLetter', { letter: letter,element: this.$el, ref: this }, this.id);
				this.$emit('postSupplement',this.id)
			},
			setShowBilling: function (val) {
				this.showJurBilling = val;
			},
			setShowSupplementList: function (val) {
				this.showSupplementList = val;
			},
			splitJuris: function () {
				this.$emit('splitJuris', this.letter, this.id, true);
			},
			updateDocType: function (val) {
				this.letter.documentType = val;
			},
		},
		mounted: function () {
			$('#SupProcessIcon' + this.id).hide() //somehow process icon does not work with property reverting for now **Check***
			//this.letter.processIconShow = false
			this.letter.successIconShow = false
			this.letter.failIconShow = false

			if (this.defaultOptions.length == 0) {
				api.getDefaults(this.letter.jurisdictionId, this.letter.manufacturerCode, this.letter.submissionType)
					.then(response => {
						this.defaultOptions = response.data
						this.applyDefaultOptions();
					})
			}

			if (this.letter.billingInfo.note == null) {
				this.letter.billingInfo.note = "";
			}
			if (!this.letter.billingInfo.note.includes("QA Notes Comment")) {
				api.getQANotesComment(this.letter.fileNumber, this.letter.letterApprovalData.jurisdictionId)
					.then(response => {
						if (!Em(response.data)) {
							this.QANotesComment = "(QA Notes Comment:- " + response.data + ')';
							if (!Em(this.letter.billingInfo.note)) {
								this.letter.billingInfo.note = this.letter.billingInfo.note + "\n" + this.QANotesComment
							}
							else {
								this.letter.billingInfo.note = this.QANotesComment
							}
						}
					})
			}
		},
		watch: {
			'letter.documentTypeId': function () {
				this.applyDefaultOptions();
			},
			'letter.mainLetter.fileId': function () {
				if (this.letter.mainLetter.fileId == null) {
					$('#SupProcess' + this.id).attr("disabled", true);
					$(this.$el).find('.supPreview-button').attr("disabled", true);
				} else {
					$('#SupProcess' + this.id).attr("disabled", false);
					$(this.$el).find('.supPreview-button').attr("disabled", false);

					//Check if it's lettergen Source
					let source = this.letter.letterApprovalData.availableSourceDocs.find(x => x.id == this.letter.mainLetter.fileId).uploadType;
					if (source == "LetterGenSourceDocument" || source == "LetterGenBackPageSource") {
						let letterHead = this.nonDraftLetterheads.find(x => x.text == "None")
						this.letter.mainLetter.letterheadId = letterHead.value;
						this.letter.mainLetter.letterheadFilePath = letterHead.text;
					}
				}
			},
			'letter.backPage.fileId': function () {
				//Check if it's lettergen Source
				let source = this.letter.letterApprovalData.availableSourceDocs.find(x => x.id == this.letter.backPage.fileId).uploadType;
				if (source == "LetterGenSourceDocument" || source == "LetterGenBackPageSource") {
					let letterHead = this.nonDraftLetterheads.find(x => x.text == "None")
					this.letter.backPage.letterheadId = letterHead.value;
					this.letter.backPage.letterheadFilePath = letterHead.text;
				}
			},
			'letter.billingInfo.billingSheet': function (val,oldVal) {
				if (val != 'None') {
					this.letter.letterApprovalData.isBillable = true
				}
				else {
					this.letter.letterApprovalData.isBillable = false
				}
				//overwrite Non-billables
				this.$emit('checkNonBillableJurisdictions', this.letter, this.id);
			}
		}
	}
</script>
<style scoped>
	.smallLabel {
		font-size: 11px;
	}

	.jurdata {
		max-height: 155px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.checkbox {
		margin-top: 1px;
	}

	.errorField {
		color: #b94a48;
	}
		
	.componentCount {
		font-size: 10px;
		font-style: italic;
		padding-top: 2px;
		color: #808080;
	}
</style>
