﻿<template>
	<div class="modal" ref="TranslationLetter" :id="id" aria-hidden="true" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						Translations
						<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>
				<div class="modal-body">
					<div>
						<ul id="example-1">
							<li v-for="(translation,index) in translations">
								<span v-if="!translation.existsInDB" class="notActive" title="This PDf was removed form Submissions DB">
									<label>{{ translation.language }}</label> - [ <a style="cursor:pointer" @click="openFile(translation.pdfPath)">{{ translation.pdfName }} <i class="far fa-file-pdf fa-fw"></i></a> ]
								</span>
								<span v-else>
									<label>{{ translation.language }}</label> - [ <a style="cursor:pointer" @click="openFile(translation.pdfPath)">{{ translation.pdfName }} <i class="far fa-file-pdf fa-fw"></i></a> ]
								</span>
							</li>
						</ul>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</template>

<script>

	export default {
		props: {
			translations: {
				type: Array
			},
			showTranslationModal: {
				type: Boolean
			},
			id: {
				type: Number
			}
		},
		data: function () {
			return {

			}
		},
		components: {
			
		},
		methods: {
			openFile: function (path) {
				this.$emit('openFile', path);
			},
		},
		mounted: function () {
			const refThis = this;
			$(this.$refs.TranslationLetter).on('hidden.bs.modal', function (e) {
				refThis.$emit('setShowTranslation', false);
			});
		},
		watch:  {
			showTranslationModal: function (val, oldVal) {
				if (val) {
					$(this.$refs.TranslationLetter).modal('show');
				}
				else
				{
					this.$emit('setShowTranslation', false);
					$(this.$refs.TranslationLetter).modal('hide');
				}
			}
		}
	}
</script>
<style scoped>
	.notActive {
			background-color: #F0F0F0;
			opacity: 0.6;
	}
</style>