﻿@model Submissions.Web.Areas.PointClick.Models.Withdraw.DetailEditModel

<div class="modal" id="DetailEditModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" id="DetailEditLabel">Point Click Withdraw Request Details - Edit</h4>
			</div>
			@Html.HiddenFor(m => m.RequestorMemo)
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-7">
						<div class="form-horizontal">

							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.WithdrawRequestEditAction, new { @class = "control-label col-sm-3" })
								<div class="col-sm-4">
									@Html.DropDownListFor(m => m.WithdrawRequestEditAction, LookupsStandard.ConvertEnum<WithdrawRequestEditAction>(showBlank: true))
									@Html.ValidationMessageFor(m => m.WithdrawRequestEditAction)
								</div>
							</div>

							<div id="WithdrawReasonDropdown" class="form-group form-group-sm" style="display: none">
								@Html.LabelFor(model => model.WithdrawReasonId, new { @class = "control-label col-sm-3" })
								<div class="col-sm-4">
									@Html.LookupFor(m => m.WithdrawReasonId, m => m.WithdrawReason, LookupAjax.WithdrawReason, true)
								</div>
							</div>

							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.QAMemo, new { @class = "control-label col-sm-3" })
								<div class="col-sm-6">
									@Html.TextAreaFor(m => m.QAMemo, 5, 80, null)
									@Html.ValidationMessageFor(m => m.QAMemo)
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div id="ProcessMsg" class="pull-left hidden"><i class="fas fa-spinner fa-spin fa-2x"></i> &nbsp; Processing - Please Wait</div>
				<button id="closeBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="SaveBtn" type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<script>

	$(function () {
		$('#WithdrawRequestEditAction').change(function () {
			if ($('#WithdrawRequestEditAction').val() == 'WD' || $('#WithdrawRequestEditAction').val() == 'RJ')
				$('#WithdrawReasonDropdown').show();
			else
				$('#WithdrawReasonDropdown').hide();
		});

		$('#closeBtn').click(function () {
			$('#WithdrawReasonDropdown').hide();
		});

		$("#SaveBtn").click(function (e) {
			if ($('#WithdrawRequestEditAction').val() == '') {
				if ($('#Memo').val() == '') {
					bootbox.alert('You have not made any changes');
					return;
				}
			}
			else if ($('#WithdrawRequestEditAction').val() == 'WD' || $('#WithdrawRequestEditAction').val() == 'RJ')
			{
				if ($('#WithdrawReasonId').val() == '')
				{
					bootbox.alert('You must select withdraw/reject reason.');
					return;
				}
			}

			save();
		});
	})

	function save() {
		var formData = $("#FormDetailEdit").serializeObject();
		var checkedRows = $("#WithdrawRequestRecordGrid").jqGrid("getGridParam", "selarrrow");
		var checkedRowsJurs = $("#WithdrawRequestJurisdictionGrid").jqGrid("getGridParam", "selarrrow");

		var rowIds = [];
		$.each(checkedRows, function (i, item) {
			rowIds.push({ Id: item });
		});
		$.each(checkedRowsJurs, function (i, item) {
			rowIds.push({ Id: item });
		});

		var withdrawalsToUpdate = {};
		withdrawalsToUpdate["WithdrawalsToUpdate"] = rowIds;

		var jsonData = JSON.stringify($.extend(formData, withdrawalsToUpdate));

		$.ajax({
			url: '@Url.Action("DetailEdit", "Withdraw")',
			type: "POST",
			contentType: "application/json",
			dataType: "json",
			data: jsonData,
			beforeSend: function () {
				$("#SaveBtn").prop("disabled", true);
				$("#ProcessMsg").removeClass("hidden");
			}
		})
		.done(function (data) {
			window.location.reload();
		})
		.fail(function () {
			alert("error");
		})
		.always(function () {
			$("#SaveBtn").prop("disabled", false);
			$("#ProcessMsg").addClass("hidden");
		});
	}

	//reset to default values
	$("#DetailEditModal").on("hidden.bs.modal", function (e) {
		$("#WithdrawRequestEditAction").val(null).trigger("change");
		$("#WithdrawReasonDropdown").val(null).trigger("change");
		$("#QAMemo").val("");
	});
</script>