﻿@model Submissions.Web.Areas.PointClick.Models.Withdraw.DetailViewModel
@using Submissions.Web.Areas.PointClick
@using Trirand.Web.Mvc

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Point.Click.Withdraw® Request Details";
	var pending = (Model.HeaderInfo.Status == "Pending");
	var cancelBtnText = pending ? "Cancel" : "Exit";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@{
			if (Util.HasAccess(Permission.PCW, AccessRight.Edit) && pending)
			{
				<button id="EditBtn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DetailEditModal">Edit</button>
			}
		}
		@Html.ActionLink(cancelBtnText, "Index", null, new { @class = "btn btn-primary btn-sm", id = "ExitBtn" })
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		@using (Html.BeginForm("Detail", "Withdraw", FormMethod.Post, new { id = "DetailForm" }))
		{
			@Html.HiddenFor(m => m.JurisdictionFilters.RequestId)
			@Html.HiddenFor(m => m.JurisdictionFilters.IsJurisdiction)
			@Html.HiddenFor(m => m.RecordFilters.RequestId)
			@Html.HiddenFor(m => m.RecordFilters.IsJurisdiction)
			@Html.HiddenFor(m => m.HeaderInfo.RequestId)
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Withdraw Request</h1>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-5">
							<dl class="dl-horizontal" style="margin: 0;">
								<dt>@Html.DisplayNameFor(m => m.HeaderInfo.RequestId)&nbsp;</dt>
								<dd>@Html.DisplayFor(m => m.HeaderInfo.RequestId)&nbsp;</dd>
								<dt>@Html.DisplayNameFor(m => m.HeaderInfo.RequestorName)&nbsp;</dt>
								<dd>@Html.DisplayFor(m => m.HeaderInfo.RequestorName)&nbsp;</dd>
								<dt>@Html.DisplayNameFor(m => m.HeaderInfo.RequestDate)&nbsp;</dt>
								<dd>@Html.DisplayFor(m => m.HeaderInfo.RequestDate)&nbsp;</dd>
								<dt>@Html.DisplayNameFor(m => m.HeaderInfo.Reason)&nbsp;</dt>
								<dd>@Html.DisplayFor(m => m.HeaderInfo.Reason)&nbsp;</dd>
								<dt>@Html.DisplayNameFor(m => m.HeaderInfo.QAMemo)&nbsp;</dt>
								<dd>@Html.DisplayFor(m => m.HeaderInfo.QAMemo)&nbsp;</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h4>Records Requested</h4>
		@Html.Trirand().JQGrid(Model.WithdrawRequestRecordGrid.Grid, @Model.WithdrawRequestRecordGrid.Grid.ID)
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<br />
		<h4>Jurisdictions Requested</h4>
		@Html.Trirand().JQGrid(Model.WithdrawRequestJurisdictionGrid.Grid, @Model.WithdrawRequestJurisdictionGrid.Grid.ID)
	</div>
</div>

<div class="row">
	<div class="col-sm-12 form-buttons">
		<br />
		@{
			if (Util.HasAccess(Permission.PCW, AccessRight.Edit) && pending)
			{
				<button id="EditBtn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DetailEditModal">Edit</button>
			}
		}
		@Html.ActionLink(cancelBtnText, "Index", null, new { @class = "btn btn-primary btn-sm", id = "ExitBtn" })
	</div>
</div>

<form id="FormDetailEdit">
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.Partial("_DetailEdit", Model.DetailEditModel)
</form>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$(function () {
			$("#EditBtn").click(function () {
				if ($("#WithdrawRequestRecordGrid").jqGrid("getGridParam", "selarrrow").length == 0
					&& $("#WithdrawRequestJurisdictionGrid").jqGrid("getGridParam", "selarrrow").length == 0
					) {
					bootbox.alert("Please select the rows that you would like to edit.");
					return false;
				}
			});

		});

		function gridBeforeAjaxRequestRecord() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters('record'));
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function gridBeforeAjaxRequestJurisdiction() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters('jurisdiction'));
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function getFilters(gridType) {
			var filters = {};
			filters.RequestId = $('#HeaderInfo_RequestId').val();
			if (gridType == 'record') {
				filters.IsJurisdiction = 'False';
			}
			else if (gridType == 'jurisdiction') {
				filters.IsJurisdiction = 'True';
			}
			return filters;
		}

	</script>
}

