﻿@model Submissions.Web.Areas.PointClick.Models.Withdraw.IndexViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Point.Click.Withdraw® Requests";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Advanced Details Search</h3>
			</div>
			<div class="panel-body">
				<form>
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.StartRequestDate, new { @class = "control-label col-sm-4" })
									<div class="col-sm-4">
										@Html.TextBoxFor(m => m.Filters.StartRequestDate, new { @class = "form-control datepicker", @placeholder = "From" })
										@Html.ValidationMessageFor(m => m.Filters.StartRequestDate)
									</div>
									<div class="col-sm-4">
										@Html.TextBoxFor(m => m.Filters.EndRequestDate, new { @class = "form-control datepicker", @placeholder = "To" })
										@Html.ValidationMessageFor(m => m.Filters.EndRequestDate)
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.OrderNumber, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.Filters.OrderNumber, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Filters.OrderNumber)
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.FileNumber, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.Filters.FileNumber, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Filters.FileNumber)
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.Status, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.DropDownListFor(m => m.Filters.Status, LookupsStandard.ConvertEnum<WithdrawStatus>(showBlank: true), new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Filters.Status)
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.ManufacturerCode, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.HiddenFor(m => m.Filters.Manufacturer)
										@Html.LookupFor(m => m.Filters.ManufacturerCode, m => m.Filters.Manufacturer, LookupAjax.Manufacturers, false)
										@Html.ValidationMessageFor(m => m.Filters.JurisdictionId)
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.JurisdictionId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.HiddenFor(m => m.Filters.Jurisdiction)
										@Html.LookupFor(m => m.Filters.JurisdictionId, m => m.Filters.Jurisdiction, LookupAjax.Jurisdictions, false)
										@Html.ValidationMessageFor(m => m.Filters.JurisdictionId)
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="pull-right">
									<button type="button" id="SearchBtn" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>&nbsp;Search</button>
									<input type="reset" id="ClearBtn" class="btn btn-primary btn-sm" value="Clear">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.WithdrawRequestGrid.Grid, "WithdrawRequestsGrid")
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$(function () {
			$('#SearchBtn').on('click', function () {
				runGridSearch();
			});
		});

		function runGridSearch() {
			$('#WithdrawRequestsGrid').trigger('reloadGrid', [{ page: 1 }]);
		}

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function getFilters() {
			var filters = {};
			filters.StartRequestDate = $('#Filters_StartRequestDate').val();
			filters.EndRequestDate = $('#Filters_EndRequestDate').val();
			filters.FileNumber = $('#Filters_FileNumber').val();
			filters.OrderNumber = $('#Filters_OrderNumber').val();
			filters.Status = $('#Filters_Status').val();
			filters.JurisdictionId = $('#Filters_JurisdictionId').val();
			filters.ManufacturerCode = $('#Filters_ManufacturerCode').val();
			return filters;
		}

		function EditLink(cellValue, options, rowObject) {
			var link = '<a href="' + '@Url.Action("Detail", "Withdraw")' + '/' + options.rowId + '">Edit</a>';
			return link;
		}
	</script>
}
