﻿@model Submissions.Web.Areas.Evolution.Models.ValidationAnalysisIndexViewModel

<div>
    <button id="showSelectionDialog" class="hidden">Show Filter</button>
    <button id="hideSelectionDialog">Hide Filter</button>
    <div id="selectJurisDialog">

        <div>
            <h4>Jurisdictions that have already been tested</h4>
            <div class="horizontalInlineDiv">
                <h5>Avaiable Jurisdictions</h5>
                <div class="scrollbarDiv avaiableDiv">
                    <ul id="avaiableBeenTested">
                        @foreach( var name in Model.JuriData.SortedNameList ) {
                            var id = @Model.JuriData.JurisDictionary.FirstOrDefault(x => x.Value == @name).Key;
                            <li id="@id"><input type="checkbox">@name (@id)</li>
                        }
                    </ul>
                </div>
            </div>
            <div>
                <h5>Selected Jurisdictions</h5>
                <div class="scrollbarDiv selectedDiv">
                    <ul id="selectedBeenTested">
                    </ul>
                </div>
            </div>
        </div><br />

        <div>
            <h4>Jurisdictions to be tested</h4>
            <div class="horizontalInlineDiv">
                <h5>Avaiable Jurisdictions</h5>
                <div class="scrollbarDiv avaiableDiv">
                    <ul id="avaiableToBeTest">
                        @foreach( var name in Model.JuriData.SortedNameList ) {
                            var id = @Model.JuriData.JurisDictionary.FirstOrDefault(x => x.Value == @name).Key;
                            <li id="@id"><input type="checkbox">@name (@id)</li>
                        }
                    </ul>
                </div>
            </div>
            <div>
                <h5>Selected Jurisdictions</h5>
                <div class="scrollbarDiv selectedDiv">
                    <ul id="selectedToBeTest">
                    </ul>
                </div>
            </div>
        </div><br />

        <div>
            <h4>Functional Roles to be tested</h4>
            <div class="horizontalInlineDiv">
                <h5>Avaiable Functional Roles</h5>
                <div class="scrollbarDiv avaiableDiv">
                    <ul id="avaiableFuncRoles">
                        @foreach( var role in Model.FuncRoleData.SortedNameList ) {
                            var id = @Model.FuncRoleData.FuncRolesDictionary.FirstOrDefault(x => x.Value == @role).Key;
                            <li id="@id"><input type="checkbox">@role (@id)</li>
                        }
                    </ul>
                </div>
            </div>
            <div>
                <h5>Selected Functional Roles</h5>
                <div class="scrollbarDiv selectedDiv">
                    <ul id="selectedFuncRoles">
                    </ul>
                </div>
            </div>
        </div><br />

        <button id="compareJuris">Compare</button>
        <button id ="resetFilter">Reset</button><br /><br />
        <input type="hidden" />
    </div>
</div>

<script type=""text/javascript"">
    $( document ).ready( function () {
        $( '#hideSelectionDialog' ).click( function () {
            $( "#hideSelectionDialog" ).addClass( "hidden" );
            $( "#showSelectionDialog" ).removeClass( "hidden" );
            $( "#selectJurisDialog" ).addClass( "hidden" );
        } );
        $( '#showSelectionDialog' ).click( function () {
            $( "#showSelectionDialog" ).addClass( "hidden" );
            $( "#hideSelectionDialog" ).removeClass( "hidden" );
            $( "#selectJurisDialog" ).removeClass( "hidden" );
        } );
        $( '.scrollbarDiv ul li input[type=checkbox]' ).change( function () {
            var JuriName = $( this ).parent().text();
            var JuriId = $( this ).parent().attr('id');
            var cur_ul = $( this ).closest( '.horizontalInlineDiv' ).next().find( 'ul' );
            if ( $( this ).is( ':checked' ) ) {
                $( this ).parent().css( "font-weight", "bold" );
                cur_ul.append( $( "<li>" ).text( JuriName ).attr( 'id', JuriId ) );
            } else {
                $( this ).parent().css( "font-weight", "normal" );
                var filterClause = 'li:contains(' + JuriName + ')';
                cur_ul.find( filterClause ).remove();
            }
        } );
        $( '#compareJuris' ).click( function () {
            $( '#hideSelectionDialog' ).trigger( 'click' );

            // get grid.dataURL
            var url = $( "#ValidationAnalysisGrid" ).getGridParam( 'url' );

            if ( url.indexOf( '?' ) ) {
                url = url.substring( 0, url.indexOf( '?' ) + 1 );
            } else {
                url += "?";
            }

            // add the list of jurisdiction ids
            $( '#selectedBeenTested li' ).each( function () {
                url += "&alreadyBeenTested=" + $( this ).attr( 'id' );
            } );

            $( '#selectedToBeTest li' ).each( function () {
                url += "&toBeTested=" + $( this ).attr( 'id' );
            } );

            $( '#selectedFuncRoles li' ).each( function () {
                url += "&funcRole=" + $( this ).attr( 'id' );
            } );
            
            //Delete the first "&"
            url = url.replace( "?&", "?" );
            //Modify grid.dataURL and reload grid
            $( "#ValidationAnalysisGrid" ).setGridParam( { url: url } ).trigger( 'reloadGrid' );
        } );
        $( '#resetFilter' ).click( function () {
            $( '.selectedDiv ul' ).empty();
            $( '.avaiableDiv ul li input[type=checkbox]' ).each( function () {
                if ( $( this ).is( ':checked' ) ) {
                    $( this ).attr( "checked", false );
                    $( this ).parent().css( "font-weight", "normal" );
                }
            } );
        } );
    } );

</script>

<style>
    .scrollbarDiv {
        width: 350px;
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px solid grey;
    }

        .scrollbarDiv ul {
            list-style-type: none;
        }

            .scrollbarDiv ul li:hover {
                cursor: default;
                background-color: #a4a4a4;
            }

    .selectedDiv ul {
        font-weight: bold;
    }

    .horizontalInlineDiv {
        display: block;
        float: left;
        margin-right: 20px;
        margin-top: -10px;
    }
</style>