﻿@model Submissions.Web.Areas.Evolution.Models.EvolutionSearchViewModel

<div>
    <button id="showSelectionDialog" class="hidden">Show Filter</button>
    <button id="hideSelectionDialog">Hide Filter</button>
    <div id="selectJurisDialog">
        <div>
            <h4>Jurisdictions that have already been tested</h4>
            <div class="horizontalInlineDiv">
                <div class="scrollbarDiv avaiableDiv">
                    <ul id="avaiableBeenTested">
                        @foreach( var name in Model.JuriData.SortedNameList ) {
                            var id = @Model.JuriData.JurisDictionary.FirstOrDefault(x => x.Value == @name).Key;
                            <li id="@id"><input type="checkbox">@name (@id)</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="selectAllDiv">
                <button class="selectBtn selectAll">>></button><br />
                <button class="selectBtn removeAll"><<</button>
            </div>
            <div>
                <div class="scrollbarDiv selectedDiv">
                    <ul id="selectedBeenTested">
                    </ul>
                </div>
            </div>
        </div><br />

        <div>
            <h4>Jurisdictions to be tested</h4>
            <div class="horizontalInlineDiv">
                <div class="scrollbarDiv avaiableDiv">
                    <ul id="avaiableToBeTest">
                        @foreach( var name in Model.JuriData.SortedNameList ) {
                            var id = @Model.JuriData.JurisDictionary.FirstOrDefault(x => x.Value == @name).Key;
                            <li id="@id"><input type="checkbox">@name (@id)</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="selectAllDiv">
                <button class="selectBtn selectAll">>></button><br />
                <button class="selectBtn removeAll"><<</button>
            </div>
            <div>
                <div class="scrollbarDiv selectedDiv">
                    <ul id="selectedToBeTest">
                    </ul>
                </div>
            </div>
        </div><br />

        <div class="sectionDiv">
            <h4>Functional Roles to be tested</h4>
            <div class="horizontalInlineDiv">
                <div class="scrollbarDiv avaiableDiv">
                    <ul id="avaiableFuncRoles">
                        @foreach( var role in Model.FuncRoleData.SortedNameList ) {
                            var id = @Model.FuncRoleData.FuncRolesDictionary.FirstOrDefault(x => x.Value == @role).Key;
                            <li id="@id"><input type="checkbox">@role (@id)</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="selectAllDiv">
                <button class="selectBtn selectAll">>></button><br />
                <button class="selectBtn removeAll"><<</button>
            </div>
            <div>
                <div class="scrollbarDiv selectedDiv">
                    <ul id="selectedFuncRoles">
                    </ul>
                </div>
            </div>
        </div><br />

        <div>
            <h4>Documents to be tested</h4>
            <div class="horizontalInlineDiv">
                <div class="scrollbarDiv avaiableDiv">
                    <ul id="avaiableToBeTest">
                        @foreach( var name in Model.DocData.SortedNameList ) {
                            var id = @Model.DocData.DocDictionary.FirstOrDefault(x => x.Value == @name).Key;
                            <li id="@id"><input type="checkbox">@name (@id)</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="selectAllDiv">
                <button class="selectBtn selectAll">>></button><br />
                <button class="selectBtn removeAll"><<</button>
            </div>
            <div>
                <div class="scrollbarDiv selectedDiv">
                    <ul id="selectedDocuments">
                    </ul>
                </div>
            </div>
        </div><br />

        <div>
            <h4>Test Cases</h4>
            <div class="horizontalInlineDiv">
                <div class="scrollbarDiv avaiableDiv">
                    <ul id="avaiableToBeTest">
                        @foreach( var name in Model.TestCaseData.SortedNameList ) {
                            var id = @Model.TestCaseData.TestCaseDictionary.FirstOrDefault(x => x.Value == @name).Key;
                            <li id="@id"><input type="checkbox">@name</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="selectAllDiv">
                <button class="selectBtn selectAll">>></button><br />
                <button class="selectBtn removeAll"><<</button>
            </div>
            <div>
                <div class="scrollbarDiv selectedDiv">
                    <ul id="selectedTestCases">
                    </ul>
                </div>
            </div>
        </div><br />

        <div id="multiSelectFilter">
            <div id="selectFilterBox">
                <select>
                    <option>Additional Filters</option>
                </select>
                <div class="overSelect"></div>
            </div>
            <div id="additionFilterOptions">
                <label for="selectMemo">
                    <input type="checkbox" class="selectFilterCheckbox" id="selectMemo" name="memoDiv" />Memo
                </label><br />
                <label for="selectValidation">
                    <input type="checkbox" class="selectFilterCheckbox" id="selectValidation" name="validationDiv" />Validation
                </label>
            </div>
        </div>

        <div>
            <div id="memoDiv" class="additionFilterDiv hidden">
                <h4>Memo</h4>
                <textarea id="memoTextarea" rows="2" cols="118"></textarea>
            </div>
            <div id="validationDiv" class="additionFilterDiv hidden">
                <h4>Validation</h4>
                <textarea id="validationTextarea" rows="2" cols="118"></textarea>
            </div>
        </div><br />

        <button id="compareJuris">Compare</button>
        <button id="resetFilter">Reset</button><br />
    </div>
    <input type="hidden" id="gridId" value=@Model.GridId>
</div>

<script src="~/Scripts/AlternatingBackgroundAutoComplete.js"></script>
<script type="text/javascript">
    var urlGetDictionarySession = '@Url.Action("GetDictionarySession")';

    $( document ).ready( function() {
        $( '#hideSelectionDialog' ).click( function () {
            $( "#hideSelectionDialog" ).addClass( "hidden" );
            $( "#showSelectionDialog" ).removeClass( "hidden" );
            $( "#selectJurisDialog" ).addClass( "hidden" );
        } );
        $( '#showSelectionDialog' ).click( function () {
            $( "#showSelectionDialog" ).addClass( "hidden" );
            $( "#hideSelectionDialog" ).removeClass( "hidden" );
            $( "#selectJurisDialog" ).removeClass( "hidden" );
        } );

        $( '.selectAll' ).click( function() {
            var ulFrom = $( this ).parent().prev().find( '.avaiableDiv ul' );
            var ulTo = $( this ).parent().next().find( '.selectedDiv ul' );
            var list = ulFrom.find( 'li input[type=checkbox]' );

            //Check and Highlight all li
            list.each( function( index, obj ) {
                $( this ).prop( "checked", true );
                $( this ).parent().css( "font-weight", "bold" );
            } );
            
            //Copy ul to another ul
            ulTo.empty();
            ulFrom.children().clone().appendTo( ulTo );

            //Remove all checkbox from selectedDiv
            ulTo.find( 'li input[type=checkbox]' ).remove();
        } );

        $( '.removeAll' ).click( function() {
            var ulFrom = $( this ).parent().prev().find( '.avaiableDiv ul' );
            var ulTo = $( this ).parent().next().find( '.selectedDiv ul' );
            var list = ulFrom.find( 'li input[type=checkbox]' );

            //Check and Highlight all li
            list.each( function() {
                $( this ).prop( "checked", false );
                $( this ).parent().css( "font-weight", "normal" );
            } );

            //Copy ul to another ul
            ulTo.empty();
        } );

        $( '.scrollbarDiv ul li input[type=checkbox]' ).change( function () {
            var JuriName = $( this ).parent().text();
            var JuriId = $( this ).parent().attr('id');
            var cur_ul = $( this ).closest( '.horizontalInlineDiv' ).next().next().find( 'ul' );
            if ( $( this ).is( ':checked' ) ) {
                $( this ).parent().css( "font-weight", "bold" );
                cur_ul.append( $( "<li>" ).text( JuriName ).attr( 'id', JuriId ) );
            } else {
                $( this ).parent().css( "font-weight", "normal" );
                var filterClause = 'li:contains(' + JuriName + ')';
                cur_ul.find( filterClause ).remove();
            }
        } );

        //Compare
        $( '#compareJuris' ).click( function() {
            hideGridColumns();

            $( '#hideSelectionDialog' ).trigger( 'click' );

            // get grid id
            var gridId = $( '#gridId' ).val();

            // add the list of jurisdiction ids
            var testedJuirs = [];
            var toTestJuirs = [];
            var funcRoles = [];
            var documents = [];
            var testCases = [];
            var memo = "";
            var validation = "";

            $( '#selectedBeenTested li' ).each( function() {
                var id = $( this ).attr( 'id' );
                testedJuirs.push( id );
            } );

            $( '#selectedToBeTest li' ).each( function() {
                var id = $( this ).attr( 'id' );
                var found = $.inArray( id, testedJuirs ) > -1;
                if( !found ) {
                    // if a jurisdiction has been tested, don't add it into the To Test List
                    toTestJuirs.push( id );
                }
            } );

            $( '#selectedFuncRoles li' ).each( function() {
                var id = $( this ).attr( 'id' );
                funcRoles.push( id );
            } );

            $( '#selectedDocuments li' ).each( function() {
                var id = $( this ).attr( 'id' );
                documents.push( id );
            } );

            $( '#selectedTestCases li' ).each( function() {
                var id = $( this ).attr( 'id' );
                testCases.push( id );
            } );

            memo = $( '#memoTextarea' ).val();
            validation = $( '#validationTextarea' ).val();

            //Modify grid.dataURL and reload grid
            $( '#' + gridId ).setGridParam( {
                url: $( '#' + gridId ).getGridParam( 'url' ),
                datatype: "json",
                mtype: 'POST',
                postData: {
                    tJr: testedJuirs,
                    jr: toTestJuirs,
                    fr: funcRoles,
                    d: documents,
                    tc: testCases,
                    mm: memo,
                    tx: validation
                },
                loadComplete: function() {
                    //Update Functional Role Column
                    getMultiFuncRoleDict( gridId );

                    //Update Autocomplete
                    autocomplete();
                }
            } ).trigger( 'reloadGrid' );
        } );

        //Reset Filter
        $( '#resetFilter' ).click( function () {
            $( '.selectedDiv ul' ).empty();
            $( '.avaiableDiv ul li input[type=checkbox]' ).each( function () {
                if ( $( this ).is( ':checked' ) ) {
                    $( this ).attr( "checked", false );
                    $( this ).parent().css( "font-weight", "normal" );
                }
            } );
            $( '#removeFilterBtn' ).trigger( 'click' );

            //additional filter
            $( '#additionFilterOptions' ).find( 'input[type=checkbox]:checked' ).removeAttr( 'checked' );
            $( '.additionFilterDiv' ).each( function() {
                $( this ).addClass( "hidden" );
                $( this ).find( 'textarea' ).eq( 0 ).val( '' );
            } );
        } );

        //Additional Filter
        $( '.selectFilterCheckbox' ).click( function() {
            var filterName = $( this ).attr( 'name' );
            if( $( this ).is( ':checked' ) ) {
                $( '#' + filterName ).removeClass( "hidden" );
            } else {
                $( '#' + filterName ).addClass( "hidden" );
            }
            $( '#' + filterName ).find( 'textarea' ).eq( 0 ).val( '' );
        } );
    } );

    //Hide Clause ID column
    function hideGridColumns() {
        var gridId = $( '#gridId' ).val();
        $( '#' + gridId ).hideCol( 'ClauseId' );
    }

    //Get multiple functional roles dictionary
    function getMultiFuncRoleDict( gridId ) {
        $.ajax( {
            url: urlGetDictionarySession,
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify( { sessionName: 'multiFuncRoles' } ),
            success: function( response ) {
                modifiedFuncRoleCells( gridId, response );
            },
            error: function( xhr, status, error ) {
                alert( xhr.responseText );
            }
        } );
    }

    //Modified Functional Role Cells
    function modifiedFuncRoleCells( gridId, list ) {
        var dict = {};
        for( var i = 0; i < list.length; i++ ) {
            dict[list[i].CId] = list[i].FuncRoles;
        }
        //Grid load complete event handler
        $( '#' + gridId + ' td[aria-describedby="' + gridId + '_FuncRoleName' + '"]' ).each( function() {
            var key = $( this ).prevAll( 'td[aria-describedby="' + gridId + '_ClauseId' + '"]' ).text();
            var value = dict[key];
            $( this ).html( value );
        } );
    }

    //Auto-complete
    function autocomplete() {
        $.ajax( {
            url: '@Url.Action("AutocompleteList")',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function( data ) {
                //var idList = new Array( 'JuriId', 'Name', 'Version', 'DocumentID', 'Section', 'SectionName', 'TestCase', 'FuncRoleName' );
                //var resultList = $.makeArray( data.JurIdResults, data.NameResults, data.VersionResults, data.DocumentIDResults, 
                //    data.SectionResults, data.SectionNameResults,  data.TestCaseResults, data.FuncRoleResults );

                //for (var i = 0; i < idList.length; i++){
                //    $('#gs_' + idList[i]).alternatingBackgroundAutoComplete({		    
                //        source: function(request, response) {
                //            var results = $.ui.autocomplete.filter(resultList[i], request.term);
                //            response(results.slice(0, 10));
                //        }
                //    });	
                //}

                if( $( '#gs_JuriId' ).length ) {
                    $( '#gs_JuriId' ).alternatingBackgroundAutoComplete( {
                        source: function( request, response ) {
                            var results = $.ui.autocomplete.filter( data.JurIdResults, request.term );
                            response( results.slice( 0, 10 ) );
                        }
                    } );
                }

                if( $( '#gs_Name' ).length ) {
                    $( '#gs_Name' ).alternatingBackgroundAutoComplete( {
                        source: function( request, response ) {
                            var results = $.ui.autocomplete.filter( data.NameResults, request.term );
                            response( results.slice( 0, 10 ) );
                        }
                    } );
                }

                if( $( '#gs_Version' ).length ) {
                    $( '#gs_Version' ).alternatingBackgroundAutoComplete( {
                        source: function( request, response ) {
                            var results = $.ui.autocomplete.filter( data.VersionResults, request.term );
                            response( results.slice( 0, 10 ) );
                        }
                    } );
                }

                if( $( '#gs_DocumentID' ).length ) {
                    $( '#gs_DocumentID' ).alternatingBackgroundAutoComplete( {
                        source: function( request, response ) {
                            var results = $.ui.autocomplete.filter( data.DocumentIDResults, request.term );
                            response( results.slice( 0, 10 ) );
                        }
                    } );
                }

                if( $( '#gs_Section' ).length ) {
                    $( '#gs_Section' ).alternatingBackgroundAutoComplete( {
                        source: function( request, response ) {
                            var results = $.ui.autocomplete.filter( data.SectionResults, request.term );
                            response( results.slice( 0, 10 ) );
                        }
                    } );
                }

                if( $( '#gs_SectionName' ).length ) {
                    $( '#gs_SectionName' ).alternatingBackgroundAutoComplete( {
                        source: function( request, response ) {
                            var results = $.ui.autocomplete.filter( data.SectionNameResults, request.term );
                            response( results.slice( 0, 10 ) );
                        }
                    } );
                }

                if( $( '#gs_TestCase' ).length ) {
                    $( '#gs_TestCase' ).alternatingBackgroundAutoComplete( {
                        source: function( request, response ) {
                            var results = $.ui.autocomplete.filter( data.TestCaseResults, request.term );
                            response( results.slice( 0, 10 ) );
                        }
                    } );
                }

                if( $( '#gs_FuncRoleName' ).length ) {
                    $( '#gs_FuncRoleName' ).alternatingBackgroundAutoComplete( {
                        source: function( request, response ) {
                            var results = $.ui.autocomplete.filter( data.FuncRoleResults, request.term );
                            response( results.slice( 0, 10 ) );
                        }
                    } );
                }
            },
            error: function( jqXHR, textStatus, errorThrown ) {
                if( jqXHR.status == 500 ) {
                    alert( 'Internal error: ' + jqXHR.responseText );
                } else {
                    alert( 'Unexpected error.' );
                }
            }
        } );
    }
</script>

<style>
    .sectionDiv {
        width: 7400px;
    }

    .inlineTitle {
        display: inline;
        /*float: right;*/
    }

    .scrollbarDiv {
        width: 350px;
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px solid grey;
    }

        .scrollbarDiv ul {
            list-style-type: none;
        }

            .scrollbarDiv ul li:hover {
                cursor: default;
                background-color: #a4a4a4;
            }

    .selectedDiv ul {
        font-weight: bold;
    }

    .selectAllDiv {
        float: left;
        width: 31px;
        height: 200px;
        margin-right: 20px;
    }

    .horizontalInlineDiv {
        float: left;
        margin-right: 20px;
        /*margin-top: -10px;*/
    }

    .selectBtn {
        margin-top: 50px;
    }

    /*Additional Filter*/
    #multiSelectFilter {
        width: 150px;
    }

    #selectFilterBox {
        position: relative;
    }

        #selectFilterBox:hover + #additionFilterOptions {
            display: block;
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #additionFilterOptions {
        display: none;
        background-color: #d3d3d3;
    }

        #additionFilterOptions:hover {
            display: block;
        }

    /*Autocomplete*/
    .autocomplete-dropdown-li-odd {
        background-color: #d0e7f0; 
    }

    .autocomplete-dropdown-li-even {
        background-color: #C1C2C2;
    }

    .ui-autocomplete{
        width: auto;
    }

    .ui-autocomplete li:after{
        content: '\A';
        white-space: pre;
    }

    .ui-state-hover, 
    .ui-state-focus {
        background-color: #a4a4a4; 
    }

    .ui-autocomplete {
        border: 1px solid black;
    }
</style>