﻿@model Submissions.Web.Areas.Evolution.Models.TestScriptHistoryIndexViewModel
@using Submissions.Web.Models.Query.Evolution

@using (Html.BeginForm("ContentSearch", "TestScriptHistory", FormMethod.Post, new { id = "ContentForm", target = "_blank" }))
{
    @Html.Hidden("SearchType", "LinkageChangeSearch");
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-toggle" data-toggle="collapse" href="#SearchFilters">
                <h3 class="panel-title">Content Changes Search<i class="indicator fas fa-chevron-circle-up pull-right"></i></h3>
            </a>
        </div>

        <div id="SearchFilters" class="panel-body panel-collapse">
            <div class="form-horizontal">

                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(m => m.Filters.StartDate, new { @class = "control-label col-sm-5" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Filters.StartDate, new { @class = "form-control datepicker", placeholder = "Enter Start Date here..." })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(m => m.Filters.EndDate, new { @class = "control-label col-sm-5" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Filters.EndDate, new { @class = "form-control datepicker", placeholder = "Enter End Date here..." })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 form-buttons text-right">
                        <button type="submit" id="DisplayBtn" class="btn btn-primary btn-sm">Display</button>
                        <input type="reset" id="ClearBtn" class="btn btn-primary btn-sm" value="Clear" data-target="#Filters">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("LinkageSearch", "TestScriptHistory", FormMethod.Post, new { id = "LinkageForm", target = "_blank" }))
{
    @Html.Hidden("SearchType", "LinkageChangeSearch");
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-toggle" data-toggle="collapse" href="#SnapShotFilters">
                <h3 class="panel-title">Linkage Changes Search<i class="indicator fas fa-chevron-circle-up pull-right"></i></h3>
            </a>
        </div>

        <div id="SnapShotFilters" class="panel-body panel-collapse">
            <div class="form-horizontal">

                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(m => m.Filters.SnapShotStartDate, new { @class = "control-label col-sm-5" })
                            <div class="col-sm-7">
                                @Html.LookupFor(m => m.Filters.SnapShotStartDate, x => x.Filters.SnapShotStartDate, LookupAjax.SnapShots, false)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(m => m.Filters.SnapShotEndDate, new { @class = "control-label col-sm-5" })
                            <div class="col-sm-7">
                                @Html.LookupFor(m => m.Filters.SnapShotEndDate, x => x.Filters.SnapShotEndDate, LookupAjax.SnapShots, false)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 form-buttons text-right">
                        <button type="submit" id="DisplayBtn" class="btn btn-primary btn-sm">Display</button>
                        <input type="reset" id="ClearBtn" class="btn btn-primary btn-sm" value="Clear" data-target="#Filters">
                    </div>
                </div>
            </div>
        </div>
    </div>
}



