﻿@model Submissions.Web.Areas.Protrack.Models.MyTasks.IndexViewModel

@{
	ViewBag.Title = "My Project Tasks";
	ViewBag.FullWidth = true;
}

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	@Styles.Render("~/bundles/css/colorpicker")

	<style>
		.groupColor {
			color: navy;
			background: lightblue;
		}

		#tdTaskCount {
			border-right-style: solid;
			border-right-width: thin;
			border-right-color: lightgray;
			width: 200px;
		}

		.Tabview {
			border-bottom-style: solid;
			border-bottom-width: thin;
			border-bottom-color: lightgray;
		}

		#Tabview > li {
			background-color: #eeeeee;
		}

		#Tabview > li.QAInactive {
			background-color: #fff0f2;
		}

		.nav-pills {
			line-height: 1px;
		}

		.ui-jqgrid tr.jqgrow td {
			word-wrap: break-word; /* IE 5.5+ and CSS3 */
			white-space: pre-wrap; /* CSS3 */
			white-space: -pre-wrap; /* Opera 4-6 */
			white-space: -o-pre-wrap; /* Opera 7 */
			white-space: normal !important;
			height: auto;
			vertical-align: text-top;
			padding-top: 2px;
			padding-bottom: 3px;
		}
	</style>
}

@(Html.Trirand().JQDatePicker(
	new JQDatePicker
	{
		DisplayMode = DatePickerDisplayMode.ControlEditor,
		DateFormat = "m/d/yyyy",
		ShowOn = ShowOn.Focus,
	}, "DatePicker")
)

<!--Modal Info-->
<div class="modal fade" id="myModal" role="dialog" style="height:80%">
	<div class="modal-dialog">
		<div class="modal-content">
			<div id='ModalContainer'>

			</div>
		</div>
	</div>
</div>

@Html.HiddenFor(m => m.Filters.Status)
@Html.HiddenFor(m => m.Filters.QATaskViewStatus)
@Html.HiddenFor(m => m.Filters.DepartmentId)
@Html.HiddenFor(m => m.protrackType)
@Html.Hidden("ProjectFilters", Request["filters"])

<div class="row">
	<div class="col-sm-6">
		<!--Tabs for engineers-->
		<ul class="nav nav-pills pull-left" id="Tabview">
			<li class="@((@Model.protrackType == ProtrackType.QA)? "QAInactive" : "")"><a href="javascript:SetGridType('@ProtrackGridType.Protrack.ToString()')">@ProtrackGridType.Protrack.GetEnumDescription()@if (Model.protrackType == ProtrackType.QA)
			{<small>(QA)</small>}</a></li>
			<li class="@((@Model.protrackType == ProtrackType.QA)? "QAInactive" : "")"><a href="javascript:SetGridType('@ProtrackGridType.Glimpse.ToString()')">@ProtrackGridType.Glimpse.GetEnumDescription()</a></li>
			<li class="active"><a href="javascript:SetGridType('@ProtrackGridType.MyTasks.ToString()')">@ProtrackGridType.MyTasks.GetEnumDescription()</a></li>
		</ul>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<a class="panel-toggle" data-toggle="collapse" href="#SearchList">
			<h3 class="panel-title">My Tasks<i class="indicator fas fa-chevron-circle-up pull-right searchTasks"></i></h3>
		</a>
	</div>
	<div id="SearchList" class="panel-collapse collapse">
		<table class="table">
			<tr>
				<td id="tdTaskCount">
					<!--Task count-->
					@foreach (var j in Model.TaskAvailableStatus)
					{
						if (Model.protrackType == ProtrackType.QA)
						{
							if (j.Status.Contains(QATaskStatusFilter.Open.ToString()))
							{
								<div class="checkbox">
									<label><input type="checkbox" checked value="@j.Status" class="TaskStatus">@Enum.Parse(typeof(QATaskStatusFilter), j.Status).GetEnumDescription()  : <span id="@j.Status"></span></label>
								</div>
							}
							else
							{
								<div class="checkbox">
									<label><input type="checkbox" value="@j.Status" class="TaskStatus">@Enum.Parse(typeof(QATaskStatusFilter), j.Status).GetEnumDescription()  : <span id="@j.Status"></span></label>
								</div>
							}
						}
						else
						{
							if (j.Status.Contains(TaskStatusFilter.Open.ToString()))
							{
								<div class="checkbox">
									<label><input type="checkbox" checked value="@j.Status" class="TaskStatus">@Enum.Parse(typeof(TaskStatusFilter), j.Status).GetEnumDescription()  : <span id="@j.Status"></span></label>
								</div>
							}
							else
							{
								<div class="checkbox">
									<label><input type="checkbox" value="@j.Status" class="TaskStatus">@Enum.Parse(typeof(TaskStatusFilter), j.Status).GetEnumDescription()  : <span id="@j.Status"></span></label>
								</div>
							}
						}
					}
				</td>
				<td>
					<div class="form-horizontal">
						<div class="row">
							@if (Model.protrackType == ProtrackType.QA)
							{
								<div class="col-sm-4">
									<div class="form-group form-group-sm">
										@Html.Label("Letter Writer", new { @class = "control-label col-sm-4" })
										<div class="col-sm-8">
											@Html.LookupFor(m => m.Filters.UserId, m => m.Filters.User, LookupAjax.Users, false, new { data_filter = Json.Encode(Model.QAFilter), @style = "width:200px" })
										</div>
									</div>
								</div>
							}
							else
							{
								<div class="col-sm-4">
									<div class="form-group form-group-sm">
										@Html.Label("Engineer", new { @class = "control-label col-md-4" })
										<div class="col-md-8">
											@if (Util.HasAccess(Role.ENS, Role.MAS, Role.MG, Role.CPS, Role.DRS, Role.SA))
											{
												@Html.LookupFor(m => m.Filters.UserId, m => m.Filters.User, LookupAjax.Users, false, new { @style = "width:200px"})
											}
											else
											{
												@Html.Label(@Model.Filters.User, new { @class = "control-label text-primary" })
												@Html.HiddenFor(m => m.Filters.UserId)
											}
										</div>
									</div>
								</div>
							}
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.IsTransfer, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.DropDownListFor(m => m.Filters.IsTransfer, LookupsStandard.ConvertEnum<ProjectType>(), new { @class = "form-control", @style = "width:150px" })
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.IsRush, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.CheckBoxFor(m => m.Filters.IsRush)
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.ShowETAQueue, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.CheckBoxFor(m => m.Filters.ShowETAQueue)
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 text-right">
								<button type="button" class="btn btn-primary" id="Search"><i class="fas fa-sync"></i> Refresh</button>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

@if (Model.protrackType == ProtrackType.ENG)
{
	<div class="row">
		<div class="col-sm-12 text-right">
			@Html.CheckBox("HideCol")&nbsp;@Html.Label("", "Hide Other Eng Tasks Column")&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id="BatchAssign" title="Assign Task" style="display:none" onclick="DoAction('Assign')">Assign</button>&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id="BatchStart" title="Start Task" style="display:none" onclick="DoAction('Start')">Start</button>&nbsp;&nbsp;&nbsp;
		</div>
	</div>
}

@if (Model.protrackType == ProtrackType.QA)
{
	@Html.Trirand().JQGrid(Model.QAMyTaskGrid.Grid, Model.QAMyTaskGrid.Grid.ID)
}
else
{
	@Html.Trirand().JQGrid(Model.EngMyTaskGrid.Grid, Model.EngMyTaskGrid.Grid.ID)
}
@{Html.RenderPartial("GridsAutoComplete/_Task");}

@*to submit project list filters*@
<form id="GridForm" method="post">
	@Html.Hidden("filters", "")
</form>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/colorpicker")
	<script>
	var initialRequest = true;
	var grid = $('#TasksGrid');
	var userId = $('#Filters_UserId').val();
	$(function () {

		$(window).resize(function () {
			setGridHeightWidth();
		});

		//after selecting date, auto search, enter key does not work, have to click twice
		$('.ui-search-input').change(function () {
			if ($(this).find("input").hasClass('hasDatepicker')) {
				$(grid)[0].triggerToolbar();
			}
		})

		$('#Filters_ShowETAQueue').change(function () {
			userId = $('#Filters_UserId').val() == "" ? userId : $('#Filters_UserId').val();
			if ($(this).is(':checked')) {
				$('#Filters_UserId').val(null).trigger('change');
			}
			else {
				$('#Filters_UserId').val(userId).trigger('change');
			}
		})

		grid.jqGrid("setGridParam", {
			gridComplete: function () {
				//change color for group
				groups = $(grid).jqGrid("getGridParam", "groupingView").groups;
				if (groups != null) {
					for (i = 0; i < groups.length; i++) {
						group = groups[i];
						$("#" + this.id + "ghead_" + group.idx + "_" + i).addClass("groupColor");
					}
				}
				// loadFavorites(grid);
				if ($('#protrackType').val() == "@ProtrackType.QA") {
					loadBundleTypes();
					loadJurCount();
					loadJiraCount();
				}
				else {
					loadBPData();
					hideCheckBoxAndShowBatchStart();
				}

				setGridHeightWidth();//must be after Start button show because we need to set height offset
				setCustomization();

				if (($("#HideCol").is(':checked'))) {
					$(grid).jqGrid('hideCol', ["OtherEngTasks"]);
				}
			},
		});

		function loadBundleTypes() {
			var ids = $(grid).jqGrid("getDataIDs");
			var data = { tasks: ids }
			var url = '@Url.Action("GetBundleTypesForTaskDisplay", "AsyncData")'
			$.ajax({
				url: url,
				type: 'post',
				dataType: 'json',
				data: JSON.stringify(data),
				contentType: "application/json; charset=UTF-8",
				async: true,
				success: function (data) {
					if (data != "") {
						if (data.length > 0) {
						
							var filecolumnIndex = $(grid).getColumnIndexByName("ProjectName")
							for (x = 0; x < data.length; x++) {
								var cellValue = "";
								if (!Em(data[x].BundleType)) {
									cellValue += '<small><mark>' + data[x].BundleType + '</mark></small>';
								}
								if (data[x].BundleIndicator != "") {
									cellValue += '<code>' + data[x].BundleIndicator + '</code>';
								}
								
								$("#" + data[x].TaskId).find('td').eq(filecolumnIndex).append(cellValue);
							}
						}
					}
				}
			});
		}

		function loadJiraCount() {
			var indexJiraOpenExist = $(grid).getColumnIndexByName("JiraOpen")

			var ids = $(grid).jqGrid("getDataIDs");

			if (ids.length > 0) {
				//load icon
				for (var i = 0; i < ids.length; i++) {
					var rowId = ids[i];
					$("#" + rowId).find('td').eq(indexJiraOpenExist).html('<i class="fas fa-spinner fa-spin"></i> loading');
				}

				//load data
				var data = { tasks: ids }
				var url = '@Url.Action("GetQATaskOpenClosedJiraInfo", "AsyncData")'
				$.ajax({
					url: url,
					type: 'post',
					dataType: 'json',
					data: JSON.stringify(data),
					contentType: "application/json; charset=UTF-8",
					async: true,
					success: function (data) {

						if (data != "Error") {
							if (data.length > 0) {
								for (x = 0; x < data.length; x++) {
									var rowData = $(grid).jqGrid('getRowData', data[x].TaskId);
									$(grid).jqGrid("setCell", data[x].TaskId, "JiraOpen", data[x].OpenCount);

									if (data[x].OpenCount > 0) {
										$("#" + data[x].TaskId).find('td').eq(indexJiraOpenExist).html('<code><A target="_blank" href="' + '@System.Configuration.ConfigurationManager.AppSettings["jira.baseurl"]' + '/issues/?jql=' + data[x].OpenURL + '">' + data[x].OpenCount + '</A></code>');
									}

								}
							}
						}
						else {
							alert("Error")
						}

					}
				});
			}
		}




		function loadJurCount() {
			var ids = $(grid).jqGrid("getDataIDs");
			var data = { tasks: ids }
			var url = '@Url.Action("GetQATaskProjectJurCount", "AsyncData")'
			$.ajax({
				url: url,
				type: 'post',
				dataType: 'json',
				data: JSON.stringify(data),
				contentType: "application/json; charset=UTF-8",
				async: true,
				success: function (data) {
					if (data != "") {
						if (data.length > 0) {
							var columnIndex = $(grid).getColumnIndexByName("QAProjectIndicator")
							var filecolumnIndex = $(grid).getColumnIndexByName("ProjectName")
							for (x = 0; x < data.length; x++) {
								var cellValue = data[x].JurCount;
								$(grid).jqGrid("setCell", data[x].TaskId, "ProjectJurCount", cellValue);
								
							}
						}
					}
				}
			});
		}


		$('#Search').click(function () {
			var selStatus = ''
			$('.TaskStatus').each(function () {
				if (this.checked) {
					(selStatus == '') ? selStatus += $(this).val() : selStatus += ',' + $(this).val()
				}
			});

			if (selStatus != '') {
				if ($('#protrackType').val() == "@ProtrackType.QA.ToString()") {
					$('#Filters_QATaskViewStatus').val(selStatus);
				}
				else {
					$('#Filters_Status').val(selStatus);
				}
			}

			reloadGrid(grid)
		});

		//if initial request, set All open status
		if (initialRequest) {
			initialRequest = false;
			if ($('#protrackType').val() == "@ProtrackType.QA.ToString()") {
				$('#Filters_QATaskViewStatus').val("@QATaskStatusFilter.Open.ToString()");
			}
			else {
				$('#Filters_Status').val("@TaskStatusFilter.Open.ToString()");
			}

			$('#Search').trigger("click");
			$('#HideCol').prop('checked', true);
		}

		$('.TaskStatus').click(function () {
			//uncheck all other values
			var openSelected = false;
			var completeSelected = false;
			var selStatus
			if (this.checked) { selStatus = $(this).val(); }
			$('.TaskStatus').each(function () {
				if ($(this).val() != selStatus) {
					if (this.checked) {
						$(this).prop('checked', false);
					}
				}
			});
		})

		$('#HideCol').click(function () {
			if (this.checked) {
				$(grid).jqGrid('hideCol', ["OtherEngTasks"]);
			}
			else {
				$(grid).jqGrid('showCol', ["OtherEngTasks"]);
			}
		})

		$('body').on('click', '.startTask', function (e) {
			e.preventDefault();
			var taskId = e.target.dataset['taskid'];
			var url = '@Url.Action("StartTask", "MyTasks", new { id = -1 })';
			url = url.replace(-1, taskId);

			$.ajax({
				url: url,
				type: 'POST',
				contentType: "application/json",
				dataType: "json",
				success: function (data) {
					reloadGrid(grid);
				},
				error: function (returnData) {
					bootbox.alert({
						title: "Error:",
						message:
							"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
							+ "<table border='1'>"
							+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
							+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
							+ "<tr><td>Error Tag</td><td>Start Task</td></tr>"
							+ "</table>"
					});
				},
				complete: function (data) {
				}
			});
		});

		$('body').on('click', '.assignTask', function (e) {
			e.preventDefault();
			var taskId = e.target.dataset['taskid'];
			var url = '@Url.Action("AssignTask", "MyTasks", new { id = -1 })';
			url = url.replace(-1, taskId);

			$.ajax({
				url: url,
				type: 'POST',
				contentType: "application/json",
				dataType: "json",
				success: function (data) {
					reloadGrid(grid);
				},
				error: function (returnData) {
					bootbox.alert({
						title: "Error:",
						message:
							"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
							+ "<table border='1'>"
							+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
							+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
							+ "<tr><td>Error Tag</td><td>Assign Task</td></tr>"
							+ "</table>"
					});
				},
				complete: function (data) {
				}
			});
		});

		$('body').on('click', '.completeTask', function (e) {
			e.preventDefault();
			var taskId = e.target.dataset['taskid'];
			console.info("This is before" + taskId);
			url = '@Url.Action("CompleteTask", "MyTasks")?taskId=' + taskId + '&OnlyRefreshValues=1'
			$('#ModalContainer').load(url);
			$('#myModal').modal('show');

		});

		//QA Start
		$('body').on('click', '.qaStartTask', function (e) {
			e.preventDefault();
			var taskId = e.target.dataset['taskid'];

			if (isOkToStartQATask(taskId)) {
				var url = '@Url.Action("QAStartTask", "MyTasks", new { taskId = -1 })';
				url = url.replace(-1, taskId);

				$.ajax({
					url: url,
					type: 'POST',
					contentType: "application/json",
					dataType: "json",
					success: function (data) {
						reloadGrid(grid);
					},
					error: function (returnData) {
						bootbox.alert({
							title: "Error:",
							message:
								"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
								+ "<table border='1'>"
								+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
								+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
								+ "<tr><td>Error Tag</td><td>Start Task</td></tr>"
								+ "</table>"
						});
					},
					complete: function (data) {
					}
				});
			}
		});

		$('body').on('click', '.qaCompleteTask', function (e) {
			e.preventDefault();
			var taskId = e.target.dataset['taskid'];
			var url = '@Url.Action("QACompleteTask", "MyTasks", new { taskId = -1 })';
			url = url.replace(-1, taskId);

			$.ajax({
				url: url,
				type: 'POST',
				contentType: "application/json",
				dataType: "json",
				success: function (data) {
					reloadGrid(grid);
				},
				error: function (returnData) {
					bootbox.alert({
						title: "Error:",
						message:
							"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
							+ "<table border='1'>"
							+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
							+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
							+ "<tr><td>Error Tag</td><td>Start Task</td></tr>"
							+ "</table>"
					});
				},
				complete: function (data) {
				}
			});
		});

		$('body').on('click', '.qaFinalizeTakeBundle', function (e) {
			e.preventDefault();
			var taskId = e.target.dataset['taskid'];

			var url = '@Url.Action("QAFinalizeTakeBundle", "MyTasks", new { taskId = -1 })';
			url = url.replace(-1, taskId);

			$.ajax({
				url: url,
				type: 'POST',
				contentType: "application/json",
				dataType: "json",
				success: function (data) {
					reloadGrid(grid);
				},
				error: function (returnData) {
					bootbox.alert({
						title: "Error:",
						message:
							"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
							+ "<table border='1'>"
							+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
							+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
							+ "<tr><td>Error Tag</td><td>Finalize Task</td></tr>"
							+ "</table>"
					});
				},
				complete: function (data) {
				}
			});
		});

		$('body').on('click', '.qaFinalizeBundle', function (e) {
			e.preventDefault();
			var bundleId = e.target.dataset['bundleid'];

			var url = '@Url.Action("QAFinalizeBundle", "MyTasks", new { bundleId = -1 })';
			url = url.replace(-1, bundleId);

			$.ajax({
				url: url,
				type: 'POST',
				contentType: "application/json",
				dataType: "json",
				success: function (data) {
					reloadGrid(grid);
				},
				error: function (returnData) {
					bootbox.alert({
						title: "Error:",
						message:
							"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
							+ "<table border='1'>"
							+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
							+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
							+ "<tr><td>Error Tag</td><td>Finalize Task</td></tr>"
							+ "</table>"
					});
				},
				complete: function (data) {
				}
			});
		});

		$('#completeTaskModal').on('hidden.bs.modal', function () {
			//ClearCompleteTaskModal();
		})
	}); //function

	function isOkToStartQATask(taskId) {
		var url = '@Url.Action("CheckQATaskDependedOn", "MyTasks")?taskId=' + taskId
		var result = false
		$.ajax({
			url: url,
			async: false,
			success: function (data) {
				if (data == "OK") {
					result = true;
				}
				else {
					bootbox.alert("You can not start this Task. There is a task - " + data + " assigned to this bundle which has not been completed. You can only start once this task is completed.");
					result = false;
				}
			}
		});
		return result;
	}

	function setCustomization() {
		var ids = $(grid).jqGrid("getDataIDs");
		var fileNumberColIndex = $(grid).getColumnIndexByName("ProjectName")
		for (var i = 0; i < ids.length; i++) {
			var rowId = ids[i];
			var rowData = $(grid).jqGrid('getRowData', rowId);

			var filenumber = $("#" + rowId).find('td').eq(fileNumberColIndex + 1).text();
			if (filenumber.indexOf('<a') > -1) {
				filenumber = $(filenumber).text()
			}
			if (filenumber.split('-').length > 5) {
				$("#" + rowId).find('td').eq(fileNumberColIndex + 1).addClass("transferProjectIndicator");
			}
		}
	}

	function loadBPData() {
		var selRow = $(grid).jqGrid("getDataIDs");

		for (var i = 0; i < selRow.length; i++) {
			var rowId = selRow[i];

			var columnIndex = $(grid).getColumnIndexByName("ActualHours")
			if (columnIndex > 0) { $("#" + rowId).find('td').eq(columnIndex + 1).html('<i class="fas fa-spinner fa-spin"></i> loading'); }
		}

		if (selRow.length > 0) {
			var data = { tasks: selRow }
			var url = '@Url.Action("GetBPDataForTasks", "AsyncData")';
			$.ajax({
				url: url,
				type: 'post',
				data: JSON.stringify(data),
				dataType: 'json',
				contentType: "application/json; charset=UTF-8",
				async: true,
				success: function (data) {
					if (data.length > 0) {
						for (x = 0; x < data.length; x++) {
							var columnIndex = $(grid).getColumnIndexByName("ActualHours")
							if (columnIndex > 0) { $(grid).jqGrid("setCell", data[x].ProtrackTaskId, "ActualHours", data[x].ActualHours); }
						}
					}
				},
				failure: function (response) {
					alert('error');
				}
			});
		}
	}

	//Hides checkboxes for all tasks other than not started
	function hideCheckBoxAndShowBatchStart() {
		var isNotStartedTaskExists = false;;
		var statusColIndex = $(grid).getColumnIndexByName("Status")
		var ids = $(grid).jqGrid("getDataIDs");
		for (var i = 0; i < ids.length; i++) {
			var taskId = ids[i];
			var status = $("#" + taskId).find('td').eq(statusColIndex + 1).text();

			if (status != "@TaskStatusFilter.NotStarted.ToString()") {
				$('#jqg_TasksGrid_' + taskId).hide();
			}
			if (status == "@TaskStatusFilter.NotStarted.ToString()") {
				isNotStartedTaskExists = true;
			}
		}

		if (isNotStartedTaskExists == false) {
			$('#BatchStart').hide();
			$("#cb_" + $(grid)[0].id).hide();
		}
		else {
			if ($('#Filters_ShowETAQueue').prop('checked')) {
				$('#BatchAssign').show();
				$('#BatchStart').hide();
			}
			else {
				$('#BatchStart').show();
				$('#BatchAssign').hide();
			}
		}
	}

	function DoAction(action) {
		var selIds = $(grid).jqGrid('getGridParam', 'selarrrow');
		if (selIds.length == 0) {
			bootbox.alert("Please select Task(s).");
		}
		else {
			var statusColIndex = $(grid).getColumnIndexByName("Status")
			if (action == 'Assign') {
				if (selIds.length > 0) {
					var data = { ids: selIds }
					var url = '@Url.Action("AssignTasks", "MyTasks")';

					$.ajax({
						url: url,
						type: 'POST',
						data: JSON.stringify(data),
						contentType: "application/json",
						dataType: "json",
						success: function (data) {
							reloadGrid(grid)
						},
						error: function (returnData) {
							bootbox.alert({
								title: "Error:",
								message:
									"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
									+ "<table border='1'>"
									+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
									+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
									+ "<tr><td>Error Tag</td><td>Assign Task</td></tr>"
									+ "</table>"
							});
						},
						complete: function (data) {
						}
					});
				}
			}

			if (action == "Start") {
				var NotStartedIds = new Array();
				for (var i = 0; i < selIds.length; i++) {
					var taskId = selIds[i];
					var status = $("#" + taskId).find('td').eq(statusColIndex + 1).text();
					if (status == "@TaskStatusFilter.NotStarted" && $('#jqg_TasksGrid_' + taskId).is(":checked")) {
						NotStartedIds.push(taskId)
					}
				}

				if (NotStartedIds.length > 0) {
					var data = { ids: NotStartedIds }
					var url = '@Url.Action("StartTasks", "MyTasks")';

					$.ajax({
						url: url,
						type: 'POST',
						data: JSON.stringify(data),
						contentType: "application/json",
						dataType: "json",
						success: function (data) {
							reloadGrid(grid)
						},
						error: function (returnData) {
							bootbox.alert({
								title: "Error:",
								message:
									"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
									+ "<table border='1'>"
									+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
									+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
									+ "<tr><td>Error Tag</td><td>Start Task</td></tr>"
									+ "</table>"
							});
						},
						complete: function (data) {
						}
					});
				}
			}
		}
	}

	function closeSearchPanel() {
		//minimize search panel
		if ($("i.searchTasks").hasClass("fa-chevron-circle-up")) {
			$('i.searchTasks').click();// to minimize
			$("i.searchTasks").removeClass("fa-chevron-circle-up").addClass("fa-chevron-circle-down");
		}
	}

	function getHeight() {
		var viewportHeight;
		if (document.compatMode === 'BackCompat') {
			viewportHeight = document.body.clientHeight;
		} else {
			viewportHeight = document.documentElement.clientHeight;
		}

		var height = viewportHeight
		if ($('#BatchStart').is(':visible')) {
			height = height - 235
		}
		else {
			height = height - 215
		}

		return height;
	}

	function setGridHeightWidth() {
		var height = getHeight();
		$(grid).parents('div.ui-jqgrid-bdiv').css("max-height", height);
		$(grid).setGridWidth($(window).width() - 50);
	}

	function reloadGrid(grid) {
		//get Task count and load
		getTaskCount()
		loadGridGrouping(grid);
	}

	function loadGridGrouping(grid) {
		var groupCol = ''
		if ($('#protrackType').val() == "@ProtrackType.QA.ToString()") {
			groupCol = 'QATaskOrder'
		} else {
			groupCol = 'EngTaskOrder'
		}

		$(grid).jqGrid('groupingGroupBy', groupCol, {
			groupColumnShow: [false],
			groupCollapse: false,
			groupText: ['<b>{0} - {1} Task(s)</b>']
		});
	}

	function showGroup(cellValue, options, rowObject) {
		//Engineering Status
		var cellVal = cellValue.substr(2);

		if (cellVal == "@TaskStatusFilter.NotStarted") {
			cellVal = "@Enum.Parse(typeof(TaskStatus), TaskStatus.NotStarted.ToString()).GetEnumDescription()"
		}
		else if (cellVal == "@TaskStatusFilter.InProgress") {
			cellVal = "@Enum.Parse(typeof(TaskStatus), TaskStatus.InProgress.ToString()).GetEnumDescription()"
		}
		else if (cellVal == "@TaskStatusFilter.Closed") {
			cellVal = "@Enum.Parse(typeof(TaskStatus), TaskStatus.Closed.ToString()).GetEnumDescription()"
		}
		else if (cellVal == "@TaskStatusFilter.OnHold") {
			cellVal = "@Enum.Parse(typeof(TaskStatus), TaskStatus.OnHold.ToString()).GetEnumDescription()"
		}
		return cellVal
	}

	function showQAGroup(cellValue, options, rowObject) {
		//QA Status
		var cellVal = cellValue.substr(2);

		if (cellVal == "@QATaskStatusFilter.NotStarted") {
			cellVal = "@Enum.Parse(typeof(QATaskStatusFilter), QATaskStatusFilter.NotStarted.ToString()).GetEnumDescription()"
		}
		else if (cellVal == "@QATaskStatusFilter.InProgress") {
			cellVal = "@Enum.Parse(typeof(QATaskStatusFilter), QATaskStatusFilter.InProgress.ToString()).GetEnumDescription()"
		}
		else if (cellVal == "@QATaskStatusFilter.ClosedIR") {
			cellVal = "@Enum.Parse(typeof(QATaskStatusFilter), QATaskStatusFilter.ClosedIR.ToString()).GetEnumDescription()"
		}
		else if (cellVal == "@QATaskStatusFilter.Closed") {
			cellVal = "@Enum.Parse(typeof(QATaskStatusFilter), QATaskStatusFilter.Closed.ToString()).GetEnumDescription()"
		}
		else if (cellVal == "@QATaskStatusFilter.Finalization") {
			cellVal = "@Enum.Parse(typeof(QATaskStatusFilter), QATaskStatusFilter.Finalization.ToString()).GetEnumDescription()"
		}
		else if (cellVal == "@QATaskStatusFilter.OnHold") {
			cellVal = "@Enum.Parse(typeof(QATaskStatusFilter), QATaskStatusFilter.OnHold.ToString()).GetEnumDescription()"
		}
		else if (cellVal == "@QATaskStatusFilter.EngReReview") {
			cellVal = "@Enum.Parse(typeof(QATaskStatusFilter), QATaskStatusFilter.EngReReview.ToString()).GetEnumDescription()"
		}
		else if (cellVal == "@QATaskStatusFilter.Issue") {
			cellVal = "@Enum.Parse(typeof(QATaskStatusFilter), QATaskStatusFilter.Issue.ToString()).GetEnumDescription()"
		}
		return cellVal
	}

	//Task Counts
	function getTaskCount() {
		var customFilters = JSON.stringify(getFilters());
		var statusCount = JSON.stringify(@Html.Raw(Json.Encode(Model.TaskAvailableStatus)))
		var url = '@Url.Action("GetTaskCount", "MyTasks")?customFilters=' + customFilters + "&availableStatusCount=" + statusCount + "&protrackType=" + $('#protrackType').val()

		$.getJSON(url, null, function (data) {
			if (data.length > 0) {
				for (x = 0; x < data.length; x++) {
					$('#' + data[x].Status).text(data[x].Count);
				}
			}
		});
	}

	function openDetail(id) {
		window.open('@Url.Action("Detail", "Project")' + '/' + id)
	}

	function targetDateIndicator(cellValue, options, rowObject) {
		var val = cellValue

		if (rowObject[$(this).getColumnIndexByName("ProjectTargetDiff")] >= 1) {
			val += "&nbsp;<i class='fas fa-exclamation-triangle' aria-hidden='true' title='Target Date is Expiring/Expired.'></i>";
		}

		return val
	}

	function showAction(cellValue, options, rowObject) {
		var actionBtn = ''
		if ($('#Filters_ShowETAQueue').prop('checked')) {
			if(@Util.HasAccess(Permission.ETA, AccessRight.Edit).ToString().ToLower()) {
				actionBtn = '<a class="assignTask" href="" data-taskid = "' + options.rowId + '">Assign</a>';
			}
		}
		else if (rowObject[$(this).getColumnIndexByName("Status")] == "@TaskStatusFilter.NotStarted.ToString()") {
			actionBtn = '<a class="startTask" href="" data-taskid = "' + options.rowId + '">Start</a>';
			if (rowObject[$(this).getColumnIndexByName("Name")] == "@ProtrackReviewTask.EngIncoming.GetEnumDescription()") {
				var projectId = rowObject[$(this).getColumnIndexByName("ProjectId")]
				actionBtn = actionBtn + '&nbsp;&nbsp;<a href="javascript:openReview(' + projectId + ')" title="Incoming Review"><i class="far fa-edit" aria-hidden="true"></i></a>';
			}
		}
		else if (rowObject[$(this).getColumnIndexByName("Status")] == "@TaskStatusFilter.InProgress.ToString()") {
			actionBtn = '<a class="completeTask" href="" data-taskid = "' + options.rowId + '">Complete</a>';
			if (rowObject[$(this).getColumnIndexByName("TaskDefinitionId")] == "@((int)MathTasks.MathAnalysis)" || rowObject[$(this).getColumnIndexByName("TaskDefinitionId")] == "@((int)MathTasks.MathAnalysisDynamics)") {
				var projectId = rowObject[$(this).getColumnIndexByName("ProjectId")]
				actionBtn = actionBtn + "&nbsp;&nbsp;<a href='" + '@Url.Action("LoadMathReviews","MathQueue")?projectId=' + projectId + '&sourceType=@MathListType.AllReviewList.ToString()' + "' Target='_blank'><i class='far fa-file-code' aria-hidden='true' Title='Enter Math Complete'></i></a>"
			}
		}
		else if (rowObject[$(this).getColumnIndexByName("Status")] == "@TaskStatusFilter.OnHold.ToString()") {
			if (rowObject[$(this).getColumnIndexByName("StartDate")] != "") {
				actionBtn = '<a class="completeTask" href="" data-taskid = "' + options.rowId + '">Complete</a>';
			}
		}
		else if (rowObject[$(this).getColumnIndexByName("Status")] == "@TaskStatusFilter.Closed.ToString()") {
			actionBtn = rowObject[$(this).getColumnIndexByName("CompleteDate")];
		}
		return actionBtn;
	}

	function openReview(projectId) {
		window.open('@Url.Action("Index", "IncomingReview")' + '/index/' + projectId);
	}

	function ReloadAfterUpdate() {
		reloadGrid(grid)
	}

	function changeIRToRC(projectId) {
		url = '@Url.Action("Index", "ChangeProjectStatus")?projectId=' + projectId + '&currentStatus=' + "@ProjectStatus.IR.ToString()" + '&changeStatusTo=' + "@ProjectStatus.RC.ToString()&OnlyRefreshValues=1"
		$('#ModalContainer').load(url);
		$('#myModal').modal('show');
	}

	function showProjectStatus(cellValue, options, rowObject) {
		if (cellValue == "@ProjectStatus.IR.ToString()" && rowObject[$(this).getColumnIndexByName("Status")] == "@TaskStatusFilter.InProgress.ToString()") {
			return '<a href="#" onClick="changeIRToRC(' + rowObject[$(this).getColumnIndexByName("ProjectId")] + ')">' + cellValue + '</a>';
		}
		else {
			return cellValue;
		}
	}

	function showQAAction(cellValue, options, rowObject) {
		var actionBtn = ''
		if (rowObject[$(this).getColumnIndexByName("QATaskStatus")] == "@QATaskStatusFilter.NotStarted.ToString()") {
			if ($('#Filters_UserId').val() == "@GLISession.User.Id") {
				actionBtn = '<a class="qaStartTask" href="" data-taskid = "' + options.rowId + '">Start</a>';
			} else {
				actionBtn = '<a class="qaStartTask" href="" data-taskid = "' + options.rowId + '">Take & Start</a>';
			}
		}
		else if (rowObject[$(this).getColumnIndexByName("QATaskStatus")] == "@QATaskStatusFilter.InProgress.ToString()") {
			if (rowObject[$(this).getColumnIndexByName("ProjectHolder")] == "@ProjectHolder.QA") {
				actionBtn = '<a class="qaCompleteTask" href="" data-taskid = "' + options.rowId + '">Complete</a>';
			} else {
				actionBtn = '<a href="#" title="Holder is not QA.">Complete</a>';
			}
		}
		else if (rowObject[$(this).getColumnIndexByName("QATaskStatus")] == "@QATaskStatusFilter.Finalization.ToString()") {
			if (rowObject[$(this).getColumnIndexByName("ProjectHolder")] == "@ProjectHolder.ENCP.ToString()" || rowObject[$(this).getColumnIndexByName("ProjectHolder")] == "@ProjectHolder.QACP.ToString()") {
				actionBtn = "<font class='text-danger'>Compliance</font>"
			}
			else if (rowObject[$(this).getColumnIndexByName("ProjectTargetDiff")] > 0 && rowObject[$(this).getColumnIndexByName("IsBundleResubmission")] == "False") {
				actionBtn = "<font class='text-danger'>Target Expired</font>"
			}
			else if (rowObject[$(this).getColumnIndexByName("ENInvolvementWhileFL")] == "True") {
				actionBtn = "<font class='text-danger'>EN Involvement Required</font>"
			}
			else {
				actionBtn = '<a class="qaFinalizeBundle" href="" data-bundleid = "' + rowObject[$(this).getColumnIndexByName("BundleId")] + '">Finalize</a>';

				if (rowObject[$(this).getColumnIndexByName("UserId")] != "@GLISession.User.Id") {
					actionBtn += ' | <a class="qaFinalizeTakeBundle" href="" data-taskid = "' + options.rowId + '">Take</a>';
				}
			}
		}
		else if (rowObject[$(this).getColumnIndexByName("QATaskStatus")] == "@QATaskStatusFilter.Closed.ToString()") {
			actionBtn = "";
		}
		return actionBtn;
	}

	function taskNameLink(cellValue, options, rowObject) {
		var val
		val = '<font class="text-primary">' + cellValue + '</font>'

		if (rowObject[$(this).getColumnIndexByName("AssociatedJur")] != '') {
			val += "<br><small><mark>Assigned Jurisdictions:</mark><br>" + (rowObject[$(this).getColumnIndexByName("AssociatedJur")]).replace(new RegExp(',', 'g'), '<br />') + "<small>"
		}
		return val
	}

	function showOtherTasks(cellValue, options, rowObject) {
		var val
		val = "<small>" + (rowObject[$(this).getColumnIndexByName("OtherEngTasks")]).replace(new RegExp(',', 'g'), '<br />') + "</small>"
		return val
	}

	function detailLink(cellValue, options, rowObject) {
		var append = ""
		var bundleType = ""
		if (rowObject[$(this).getColumnIndexByName("IsRush")] == "True") {
			append = "<i class='far fa-clock rushProject' aria-hidden='true' title='Expedite Project'></i>&nbsp;"
		}

		if ($('#protrackType').val() == "@ProtrackType.QA") {
			if (rowObject[$(this).getColumnIndexByName("ENInvolvementWhileFL")] == "True") {
				append = '<i class="far fa-user" aria-hidden="true" title="Add\'l EN Involvement Needed"></i>&nbsp;'
			}
		}

		return append + '<a href="javascript:openDetail(' + rowObject[$(this).getColumnIndexByName("ProjectId")] + ')">' + cellValue + '</a>' + bundleType;
	}

	function tasksGridBeforeAjaxRequest() {
		//Do not load initial,
		if (!initialRequest) {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());

			$(this).jqGrid('setGridParam', { postData: postData });
		}
		else {
			return false;
		}
	};

	function getFilters() {
		var filters = {};

		filters.UserId = $('#Filters_UserId').val();
		filters.IsTransfer = $('#Filters_IsTransfer').val();
		filters.IsRush = ($('#Filters_IsRush').prop('checked')) ? true : false;
		filters.ShowETAQueue = ($('#Filters_ShowETAQueue').prop('checked')) ? true : false;
		filters.Status = $('#Filters_Status').val();
		filters.QATaskViewStatus = $('#Filters_QATaskViewStatus').val();

		return filters;
	}

	function SetGridType(gridType) {
		if (gridType == "@ProtrackGridType.MyTasks.ToString()") {
			var url = '@Url.Action("Index", "MyTasks")?protrackType=' + $('#protrackType').val();
		}
		else {
			var url = "@Url.Action("Index", "Project")?gridType=" + gridType + "&protrackType=" + $('#protrackType').val() + "&filters=" + $('#ProjectFilters').val()
		}
		window.location.href = url;
	}
	</script>
}