﻿@model Submissions.Web.Areas.User.Models.NotificationsEditViewModel

@{
	ViewBag.Title = "Notification Subscriptions";
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}