﻿@model Submissions.Web.Areas.Lookups.Models.TaskDefinitionsEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Task";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "TaskDefinitions", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken();
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.Hidden("EditViewModel");

	<div class="row row-title">
		<div class="col-sm-8">
			<h3 class="form-h3">@ViewBag.Title <small>@Html.DisplayFor(m => m.Code)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<button type="button" class="btn btn-primary btn-sm btn-save">@saveButtonText</button>
			@Html.ActionLink("Cancel", "Index", "TaskDefinitions", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">General</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Code, new { @class = "control-label col-sm-3" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.Code, new { @class = "form-control", @autofocus = "autofocus", @data_bind = "value: Code" })
								@Html.ValidationMessageFor(m => m.Code)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-3" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.Description, new { @class = "form-control", @data_bind = "value: Description" })
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Active, new { @class = "control-label col-sm-3" })
							<div class="col-sm-2">
								@Html.CheckBoxFor(m => m.Active, new { @class = "padcheckbox", @data_bind = "checked: Active" })
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.DepartmentId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-3">
								<select class="form-control" data-bind="lookup: DepartmentId, value: DepartmentId, options: Department, optionsValue: 'Value', optionsText: 'Text', event: { change: $root.departmentSelection}" data-lookupajax="@LookupAjax.Departments"></select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.EstimateHours, new { @class = "control-label col-sm-3" })
							<div class="col-sm-2">
								@Html.TextBoxFor(m => m.EstimateHours, new { @class = "form-control", @data_bind = "value: EstimateHours" })
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.EstimateInterval, new { @class = "control-label col-sm-3" })
							<div class="col-sm-2">
								@Html.TextBoxFor(m => m.EstimateInterval, new { @class = "form-control", @data_bind = "value: EstimateInterval" })
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.DynamicsId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-2">
								@Html.TextBoxFor(m => m.DynamicsId, new { @class = "form-control", @data_bind = "value: DynamicsId" })
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.IsReview, new { @class = "control-label col-sm-3" })
							<div class="col-sm-2">
								@Html.CheckBoxFor(m => m.IsReview, new { @class = "padcheckbox", @data_bind = "checked: IsReview" })
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.IsAcumaticaTask, new { @class = "control-label col-sm-3" })
							<div class="col-sm-9">
								@Html.CheckBoxFor(m => m.IsAcumaticaTask, new { @class = "padcheckbox", @data_bind = "checked: IsAcumaticaTask" })&nbsp;&nbsp;&nbsp;(<span class="text-info">Please make sure this is checked if task should only be visible after cut off date - 11/9/2019</span>)
							</div>
						</div>
						<div class="form-group form-group-sm" id="ETAQueueCheckbox" hidden>
							@Html.LabelFor(m => m.IsETATask, new { @class = "control-label col-sm-3" })
							<div class="col-sm-2">
								@Html.CheckBoxFor(m => m.IsETATask, new { @class = "padcheckbox", @data_bind = "checked: IsETATask" })
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Documents</h3>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-striped table-hover" data-bind="visible: VisibleDocuments().length > 0" style="display:none;">
						<thead>
							<tr>
								<th>Document</th>
								<th>Note</th>
								<th></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: Documents" class="form-group form-group-sm">
							<tr>
								<td class="col-sm-5">
									<input type="hidden" data-bind="value: Id" />
									<select data-bind="lookup: TaskDocumentId, value: TaskDocumentId, options: TaskDocument, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.TaskDocuments" class="form-control"></select>
								</td>
								<td class="col-sm-6">
									<input type="text" class="form-control" data-bind="value: Note" />
								</td>
								<td class="col-sm-1 text-right"><a href="#" data-bind="click: $root.removeDocument">Remove</a></td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-12">
							<a href="#" data-bind="click: addDocument"><i class="fas fa-plus"></i> Add Document</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scripts{
	@Scripts.Render("~/bundles/script/knockout")
	<script>
		var data = @Html.Raw(Json.Encode(Model));
		var defaultDocument = data.DefaultDocument;

		if (data.DepartmentId == 1) {
			$('#ETAQueueCheckbox').show();
		}

		// mapping
		var taskDefinitionModelMapping = {
			'ignore': ["DefaultDocument"],
			'Documents': {
				key: function(item) {
					return ko.utils.unwrapObservable(item.Id);
				},
				create: function(options) {
					return new taskDocumentModel(options.data);
				}
			}
		};

		// models
		var taskDocumentModel = function(data) {
			var self = this;
			ko.mapping.fromJS(data, {}, self);

			// validation
			self.TaskDocumentId.extend({required: true});
			self.Note.extend({maxLength: 255});
		}

		var taskDefinitionModel = function(data) {
			var self = this;
			ko.mapping.fromJS(data, taskDefinitionModelMapping, self);

			self.addDocument = function() {
				self.Documents.push(ko.mapping.fromJS(new taskDocumentModel(defaultDocument)));
			};

			self.removeDocument = function(document) {
				self.Documents.destroy(document);
			};

			self.VisibleDocuments = function() {
				return ko.utils.arrayFilter(self.Documents(), function(document) { return document._destroy !== true });
			};

			// validation
			self.Code.extend({required: true, maxLength: 80});
			self.Description.extend({required: true, maxLength: 120});
			self.EstimateHours.extend({number: true});
			self.EstimateInterval.extend({number: true});
			self.DepartmentId.extend({required: true});
			self.DynamicsId.extend({ required: false, maxLength: 10 });

			self.departmentSelection = function (task) {
				if (parseInt(task.DepartmentId()) == 1) {
					$('#ETAQueueCheckbox').show();
				}
				else {
					$('#ETAQueueCheckbox').hide();
				}
			}
		};

		var vm = ko.validatedObservable(new taskDefinitionModel(data));

		$(function () {
			ko.applyBindings(vm);

			// Save Form
			$('.btn-save').on('click', function () {
				if (!vm.isValid()) {
					vm.errors.showAllMessages();
					return;
				}

				$('#EditViewModel').val(ko.toJSON(vm));
				$('#LookupForm').submit();
			});
		});
	</script>
}
