﻿@model Submissions.Web.Areas.Lookups.Models.TaskDefinitionsIndexViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Tasks";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons ">
		@Html.ActionLink("Add", "Edit", null, new { mode = Mode.Add }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

@Html.Trirand().JQGrid(Model.TaskDefinitionsGrid.Grid, "TaskDefinitionsGrid")

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$(function () {
			$('#TaskDefinitionsGrid').jqGrid('setGridParam', {
				rowattr: function (rowData, currentObj, rowId) {
					if (currentObj[$(this).getColumnIndexByName("Active")] === 'False') {
						return { 'class': 'text-red' }
					}
				}
			});
		});

		function editLink(cellValue, options, rowObject) {
			return '<a href="' + '@Url.Action("Edit", "TaskDefinitions")' + '/' + options.rowId + '?mode=Edit">Edit</a> <span class="text-normal">|</span> ' +
				'<a href="' + '@Url.Action("CheckDelete", "TaskDefinitions")' + '/' + options.rowId + '" class="CheckDelete" id="' + options.rowId + '">Delete</a>'
		}
	</script>
}