﻿.bar-legend, .doughnut-legend, .line-legend, .pie-legend, .polararea-legend {
	list-style: none;
	margin: 3px 0 3px 0;
	text-align: right;
}

	.bar-legend li, .doughnut-legend li, .line-legend li, .pie-legend li, .polararea-legend li {
		display: inline;
		padding-left: 15px;
		position: relative;
		border-radius: 5px;
		padding: 2px 8px 2px 20px;
		font-size: 10px;
		-webkit-transition: background-color 200ms ease-in-out;
		-moz-transition: background-color 200ms ease-in-out;
		-o-transition: background-color 200ms ease-in-out;
		transition: background-color 200ms ease-in-out;
	}

		.bar-legend li span, .doughnut-legend li span, .line-legend li span, .pie-legend li span, .polararea-legend li span {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 16px;
			height: 100%;
			border-radius: 6px;
		}
