﻿
/*
	Color Palette
	============================
	#083358	:	Primary
	#0F4471 :	Secondary
	#376996	:	Tertiary
	#FC3C3C	:	Emphasis
	#F1F1F1	:	Background
*/

.clickable {
	cursor: pointer;
}

.grow {
	transition: all .2s ease-in-out;
}

	.grow:hover {
		transform: scale(1.1);
	}

/*letter-generation__border-leftRight*/
.letter-generation__border-leftRight {
	display: inline-block;
	position: relative;
	color: #474E51;
}

	.letter-generation__border-leftRight::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #FC3C3C;
		transform-origin: bottom right;
		transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
	}

	.letter-generation__border-leftRight:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}

/*letter-generation__depth-button*/
.letter-generation__depth-button {
	display: inline-block;
	padding: 5px 5px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	background-color: #0F4471;
	border-radius: 4px;
	transition: all .3s ease;
	color: white;
}

	.letter-generation__depth-button:hover {
		background-color: #FC3C3C;
		transform: translateY(-1px);
		box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
	}

/* letter-generation__tooltip */
.letter-generation__tooltip {
	cursor: pointer;
	color: #0F4471;
	transition: all .2s ease-in-out;
}

	.letter-generation__tooltip:hover {
		color: #FC3C3C;
		transform: scale(1.1);
	}

.letter-generation__tooltip-white {
	cursor: pointer;
	color: #FFFFFF;
	transition: 0.5s;
}

	.letter-generation__tooltip-white:hover {
		color: #FC3C3C;
	}

.letter-generation__hover-emphasis:hover {
	background: rgba(252, 60, 60, 0.5);
}

/* letter-generation__panel-heading */
.letter-generation__panel__heading {
	background-color: #376996;
	color: white;
	padding: 5px 10px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

	.letter-generation__panel__heading:hover {
		background-color: #FC3C3C;
	}

.letter-generation__panel__heading-no-hover {
	background-color: #376996;
	color: white;
	padding: 5px 10px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.letter-generation__panel__heading__title {
	color: white;
	font-weight: bold;
}

.letter-generation__hr-emphasis {
	border-top: 2px solid #FC3C3C;
}


/* letter-generation-doubleDashed */
.letter-generation__doubleDashed {
	width: auto;
	height: 40px;
	color: #ffffff;
	padding: 0 14px;
	text-align: center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

	.letter-generation__doubleDashed::before,
	.letter-generation__doubleDashed::after {
		position: absolute;
		content: '';
		left: 0;
		height: 3px;
		width: 100%;
		background-color: #FC3C3C;
		transition: transform 0.2s ease-in-out;
	}

	.letter-generation__doubleDashed::before {
		top: 0;
		transform: translateX(-100%);
	}

	.letter-generation__doubleDashed::after {
		bottom: 0;
		transform: translateX(100%);
	}

	.letter-generation__doubleDashed:hover::after,
	.letter-generation__doubleDashed:hover::before {
		transform: translateX(0);
	}

/* letter-generation__section-card */
.letter-generation__section-card {
	background-color: white;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
	border-radius: 5px;
	height: 100%;
	margin: 8px;
	padding: 15px;
}

	.letter-generation__section-card:hover {
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
	}

.letter-generation__section-card__name {
	font-size: 24px;
	color: #0F4471;
}


.letter-generation__memo {
	padding: 15px;
}

.letter-generation__memo-disabled {
	margin-top: 5px;
	background: repeating-linear-gradient( 45deg, #FFFFFF, #FFFFFF 10px, #F1F1F1 10px, #F1F1F1 20px );
}


.letter-generation__highlighted {
	border: 5px solid #FC3C3C;
}


.letter-generation__memo__name {
	font-size: 20px;
	color: #0F4471;
}

.letter-generation__quick-nav {
	position: fixed;
	top: 12%;
	z-index: 1000;
	padding-left: 5px;
}

	.letter-generation__quick-nav ul {
		list-style: none;
		padding: 0;
	}

		.letter-generation__quick-nav ul > li {
			transition: all 0.3s ease-out;
			padding: 5px;
		}

			.letter-generation__quick-nav ul > li:hover {
				transform: scale(1.2);
				transform-origin: center center;
				margin: 10px;
				margin-top: -15px;
			}


.letter-generation__table {
	border-collapse: collapse;
	border-spacing: 2px;
	width: 100%;
	table-layout: fixed;
}

	.letter-generation__table td, .letter-generation__table th {
		padding: 10px;
		text-align: left;
	}

.letter-generation__table_header {
	border-radius: 5px;
	color: white;
	background-color: #376996;
}

	.letter-generation__table_header th:first-child {
		border-radius: 5px 0px 0px 0px;
	}

	.letter-generation__table_header th:last-child {
		border-radius: 0px 5px 0px 0px;
	}

.letter-generation__table-stripe {
	background: rgba(55, 105, 150, 0.25);
}


.letter-generation__table__detail-row {
	border-left: 1px dashed rgba(55, 105, 150, 0.25);
	border-bottom: 1px dashed rgba(55, 105, 150, 0.25);
	border-right: 1px dashed rgba(55, 105, 150, 0.25);
}

.letter-generation__input_checkbox {
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	position: relative;
	top: -1px;
	*overflow: hidden;
}

.letter-generation__checkbox_label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
}

.letter-generation__font_weight_normal {
	font-weight: normal;
}

.letter-generation__jump_to {
	padding-top: 20px;
}

.letter-generation__dropdown_padding {
	padding-left: 30px;
}

.letter-generation__color-white{
	color: white
}

.fa-2x {
	font-size: 20px;
}

.letter-generation__question {
	background-color: white;
	margin: 0px 15px;
}

.letter-generation__color-emphasis {
	color: #FC3C3C;
}

.letter-generation__coversheet-paytableId-width{
	width: 20%;
}

.letter-generation__Coversheet-fields-width {
	width: 10%;
}


/*Platform Pieces, Templates, OCUIT css*/
h3.platform-piece-template-header {
	margin: 10px 10px 10px 3px;
}

div.platform-piece-template-header {
	background-color: #337AB7;
	border-radius: 15px 50px 15px 15px;
}

div.platform-piece-template {
	border: 1px solid darkgray;
	background-color: lightgray;
	border-radius: 15px 50px 15px 15px;
}

p.platform-piece-required {
	font-weight: bold;
	color: darkred;
}

p.platform-piece-template-description {
	font-size: 12px;
	margin: 10px 0px 5px 0px;
}

tr.platform-piece-row {
	border: 1px solid darkgray;
}

tr.platform-piece-component-row {
	border: 1px solid darkgray;
	background-color: white;
}

td.platform-piece-name {
	font-size: 14px;
	font-weight: bold;
	border-right-width: 0px;
}

td.platform-piece-add {
	border-left-width: 0px;
	text-align: right;
}