﻿/* Sidebar Page Layout */

body {
	overflow-x: hidden;
}

#wrapper {
	padding-left: 0;
}

	#wrapper.toggled {
		padding-left: 75px;
	}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	margin-top: -30px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #222222;
}

#wrapper.toggled #sidebar-wrapper {
	width: 75px;
}

#page-content-wrapper {
	width: 100%;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: relative;
	margin-right: 0;
}
/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

	.sidebar-nav li {
		padding: 0.5em 1em;
		line-height: 40px;
	}

		.sidebar-nav li a {
			display: block;
			text-decoration: none;
			color: #999999;
		}

			.sidebar-nav li a:hover {
				text-decoration: none;
				color: #fff;
				background: rgba(255, 255, 255, 0.2);
			}

			.sidebar-nav li a:active,
			.sidebar-nav li a:focus {
				text-decoration: none;
			}

	.sidebar-nav > .sidebar-brand {
		height: 65px;
		font-size: 18px;
		line-height: 60px;
	}

		.sidebar-nav > .sidebar-brand a {
			color: #999999;
		}

			.sidebar-nav > .sidebar-brand a:hover {
				color: #fff;
				background: none;
			}
