﻿<template>
	<div>
		<vue-good-table ref="vgtTable"
						:columns="columns"
						:rows="rows"
						:row-style-class="rowStyleClassFn"
						:sort-options="{enabled: true}"
						styleClass="vgt-table vgttable">
				<template slot="table-column" slot-scope="props">
					<div v-if="isDynamicControl(props.column.label)" align="center">
						 {{props.column.label}}<br /><input type="checkbox" id="checkAll" @change="selAll($event,props.column.field)" />
					</div>
				</template>
				<template slot="table-row" slot-scope="props">
					<div v-if="props.column.field == 'edit'" style="text-align:center">
						<button v-if="hasEdit" @click="edit(props.row.id)" title="Edit" type="button" class="btn btn-warning btn-circle"><i class="fas fa-edit"></i></button>
						<button v-if="hasRemove" @click="remove(props.row.id)" title="Remove" type="button" class="btn btn-danger btn-circle"><i class="fas fa-times"></i></button>
						<button v-if="hasUpdate" @click="update(props.row.id, props.row.originalIndex)" title="Update" type="button" class="btn btn-success btn-circle"><i class="fas fa-save"></i></button>
					</div>
					<div v-else-if="getMappedProperty(props.row.id).mode">
						<div v-if="isDynamicControl(props.column.label)">
							<!--dont  display-->
						</div>
						<div v-else-if="props.column.label == 'Signature Data'" class="sig-btn-holder" align="center">
							<button @click="getSignatureData(props.row.id, $event)" class="btn btn-circle"><i class="fas fa-search"></i></button>
						</div>
						<div v-else-if="props.column.field == 'idNumber'">
							<input type="text" class="form-control" @change="onInputChange(props.row, props.column.field,$event)" v-model="props.row[props.column.field]">
							<span class="field-validation-error" v-if="$v.submission.$each.$iter[props.row.originalIndex].idNumber.$error && !$v.submission.$each.$iter[props.row.originalIndex].idNumber.required">Id Number is required</span>
							<span class="field-validation-error" v-if="$v.submission.$each.$iter[props.row.originalIndex].idNumber.$error && !$v.submission.$each.$iter[props.row.originalIndex].idNumber.maxLength">The field Id Number must be a string with a maximum length of {{ $v.submission.$each.$iter[props.row.originalIndex].idNumber.$params.maxLength.max }}.</span>
						</div>
						<div v-else-if="props.column.field == 'version'">
							<input type="text" class="form-control" @change="onInputChange(props.row, props.column.field,$event)" v-model="props.row[props.column.field]">
							<span class="field-validation-error" v-if="$v.submission.$each.$iter[props.row.originalIndex].version.$error && !$v.submission.$each.$iter[props.row.originalIndex].version.maxLength">The field Version must be a string with a maximum length of {{ $v.submission.$each.$iter[props.row.originalIndex].version.$params.maxLength.max }}.</span>
						</div>
						<div v-else-if="props.column.field == 'dateCode'">
							<input type="text" class="form-control" @change="onInputChange(props.row, props.column.field,$event)" v-model="props.row[props.column.field]">
							<span class="field-validation-error" v-if="$v.submission.$each.$iter[props.row.originalIndex].dateCode.$error && !$v.submission.$each.$iter[props.row.originalIndex].dateCode.maxLength">The field Date Code must be a string with a maximum length of {{ $v.submission.$each.$iter[props.row.originalIndex].dateCode.$params.maxLength.max }}.</span>
						</div>
						<div v-else-if="props.column.field == 'gameName'">
							<input type="text" class="form-control" @change="onInputChange(props.row, props.column.field,$event)" v-model="props.row[props.column.field]">
							<span class="field-validation-error" v-if="$v.submission.$each.$iter[props.row.originalIndex].gameName.$error && !$v.submission.$each.$iter[props.row.originalIndex].gameName.required">Game Name is required</span>
							<span class="field-validation-error" v-if="$v.submission.$each.$iter[props.row.originalIndex].gameName.$error && !$v.submission.$each.$iter[props.row.originalIndex].gameName.maxLength">The field Game Name must be a string with a maximum length of {{ $v.submission.$each.$iter[props.row.originalIndex].gameName.$params.maxLength.max }}.</span>
						</div>
					</div>
					<div v-else>
						<div v-if="isDynamicControl(props.column.label)" align="center">
							<!--control.vue in vue-good-table does not work with v-model, somehow need to emit to get value changed which triggers inputchange-->
							<Control :control="checkBoxControls.filter(control => control.name === props.column.label)[0]" :source="props.row" @changeContent="setCValue"></Control>
							<!--<input type="checkbox" v-model="props.row[props.column.field]" @change="setCValue(props.row, props.column.field, $event)" />-->
						</div>
						<div v-else-if="props.column.label == 'Signature Data'" class="sig-btn-holder">
							<button @click="getSignatureData(props.row.id, $event)" class="btn btn-circle"><i class="fas fa-search"></i></button>
						</div>
						<div v-else>
							{{props.formattedRow[props.column.field]}} <br />
							<span v-if="props.column.field == 'idNumber'" style="font-size:smaller;color:gray" :title="(props.row['submissionFromMerged'])?'This is from merged project':''">({{props.row["fileNumber"]}})</span>
						</div>
					</div>
				</template>
		</vue-good-table>

	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');

	import { VueGoodTable } from 'vue-good-table';
	import { MODE } from '@/common';
	import api from '@/api/documents/generate';
	import Control from '@/components/documents/generate/LetterQuestions/Control.vue';
	import { maxLength, required } from 'vuelidate/lib/validators'

	export default {
		data() {
			return {
				editCol: { label: '', field: 'edit', sortable: false , isVisible:true},
				sigDataCol: { label: 'Signature Data', field: 'ButtonHere', sortable: false, isVisible: true},
				additionalProperty: { id: null, mode: null },
				mapCustomVGTProperty: [],
				viewSignatureData: '',
				isLocalReferesh: false,
				submission:[]
			}
		},
		validations() {
			const validationGraph =
			{
				submission: {
					$each: {
						idNumber: { required, maxLength: maxLength(450) },
						version: { maxLength: maxLength(80) },
						dateCode: { maxLength: maxLength(60) },
						gameName: { required, maxLength: maxLength(100) }
					}
				}
			}
			return validationGraph;
		},
		computed: {
			...sourceGetters([
				'components',
				'currentSignatureData'
			])
		},
		created: function () {
			this.initTableData();
		},
		props: {
			uniqueColumnName: String,
			columns: Array,
			rows: Array,
			hasEdit: { type: Boolean, default: true },
			hasRemove: { type: Boolean, default: true },
			hasUpdate: { type: Boolean, default: true }
		},
		components: {
			VueGoodTable,
			Control
		},
		computed: {
			checkBoxControls: function () {
				
				let component = this.rows[0];
				if (isNotNull(component) && isNotNull(component.letterContentControls) && component.letterContentControls.length > 0) {
					return component.letterContentControls.filter(control => control.type === 'CHECKBOX');
				}
				else {
					return [];
				}
			}
		},
		methods: {
			isDynamicControl: function (name) {
				for (let i = 0; i < this.checkBoxControls.length; i++) {
					if (this.checkBoxControls[i].name == name) {
						return true
					}
				}
				return false
			},
			setCValue: function (row, field, value) {
				//v-model does not work, i had to emit to change value, need to find row using columnidentifier in vue-good-table, 
				this.$emit('onInputChange', _.find(this.rows, [this.uniqueColumnName, row[this.uniqueColumnName]]), field, value);
			},
			selAll: function (event, field) {
				let obj = event.target 
				let value = ($(obj).prop("checked")) ? true : false
				if (value) {
					this.rows.forEach(function (x) {x[field] = true	});
				}
				else {
					this.rows.forEach(function (x) {x[field] = false});
				}
			},

			edit: function (id) {
				this.$refs.vgtTable.unselectAllInternal();
				let mappedProperty = this.getMappedProperty(id);
				if (mappedProperty.mode) {
					mappedProperty.mode = null;
				} else {
					mappedProperty.mode = MODE.EDIT.code;
				}
			},
			remove: function (id) {
				this.$refs.vgtTable.unselectAllInternal();
			},
			update: function (id, originalIndex) {

				this.$v.$touch();
				if (this.$v.submission.$each[originalIndex].$invalid) {
					return;
				}

				this.$refs.vgtTable.unselectAllInternal();
				this.$emit('update', _.find(this.rows, [this.uniqueColumnName, id]))
			},
			getMappedProperty: function (id) {
				return _.find(this.mapCustomVGTProperty, ['id', id]);
			},
			onInputChange: function (row, field, event) {
				this.$emit('onInputChange', _.find(this.rows, [this.uniqueColumnName, row[this.uniqueColumnName]]), field, event.target.value);
			},
			clearMode: function () {
				_.forEach(this.mapCustomVGTProperty, function (el, index) { el.mode = null });
			},
			getSignatureData: function (submissionId, e) {
				api.getSignatureData(submissionId)
					.then(response => {
						this.$emit('showSigData', { data: JSON.parse(response.data), submissionId: submissionId }, e);
						this.selectComponent(submissionId);
					});
			},
			selectComponent: function (submissionId) {
				if (submissionId == this.viewSignatureData) {
					this.viewSignatureData = '';
				}
				else {
					this.viewSignatureData = submissionId;
				}
			},
			rowStyleClassFn: function (row) {
				if (row.id == this.viewSignatureData) {
					return 'select-row';
				}
			},
			initTableData: function () {
				const self = this;
				if (!this.uniqueColumnName) {
					alert('Error: uniqueColumnName is required.');
					throw new Error('uniqueColumnName is required.');
				} else {
					this.rows.forEach(function (x) {
						let property = _.cloneDeep(self.additionalProperty);
						property.id = x[self.uniqueColumnName];
						property.mode = null;
						self.mapCustomVGTProperty.push(property);
					});
					
					if (!this.isLocalReferesh) {
						this.columns.push(this.sigDataCol);
						if (this.hasEdit || this.hasRemove || this.hasUpdate) {
							this.columns.push(this.editCol);
						}
					}
				}
				this.submission = this.rows;
			},
			...sourceActions([
				'setComponents',
				'setCurrentSignatureData'
			]),
		},
		watch: {
			columns: function () {
				if (this.columns.indexOf(this.sigDataCol) === -1) {
					this.columns.push(this.sigDataCol);
					//if (this.hasEdit || this.hasRemove || this.hasUpdate) {
					//	this.columns.push(this.editCol);
					//}
				}
			},
			rows: function (newRows, oldRows) {
				if (newRows !== oldRows) {
					this.isLocalReferesh = true;
					this.initTableData();
				}
			}
		}
	}
</script>
<style scoped>
	.sig-btn-holder{
		text-align:center;
	}
</style>
<style>
	.select-row{
		background-color:antiquewhite;
	}
</style>