﻿<template>
	<div class="local-main-div">
		<Modal v-if="showModal">
			<template #header>
				<h2 class="highlight">Choose Visible Columns</h2>
			</template>
			<template #body>
				<div class="col-sm-6">
					<h3>Component Table Columns </h3>
					<div v-for="column in userCompColumns" class="row">
						<input type="checkbox"
							   :checked="column.isVisible"
							   @change="column.isVisible = !column.isVisible" />
						{{ column.label }}
					</div>
				</div>
				<div class="col-sm-6">
					<h3>Signature Table Columns </h3>
					<div v-for="column in userSigColumns" class="row">
						<input type="checkbox"
							   :checked="column.isVisible"
							   @change="column.isVisible = !column.isVisible" />
						{{ column.label }}
					</div>
				</div>
			</template>
			<template #footer>
				<!--<Base-Button :onclick="(evt) => showModal = false">Close</Base-Button>-->
				<Base-Button :onclick="saveOptions" :isPrimary="true">Save Settings</Base-Button>
			</template>
		</Modal>
		<div>
			<div id="Submissions">
				<button class="btn btn-primary" @click="showModal = true">Update Columns</button>
				<button class="btn btn-primary" @click="goToOcuit">Complete OCUIT</button>								
				<br />
				<div :class="[showSigData ? 'comp-data split-half' : 'comp-data'] ">
					<CustomVGT ref="customVGT"
							   uniqueColumnName="id"
							   :columns="visibleCompColumns"
							   :rows="components"
							   :hasEdit="allowSubSigEdit"
							   :hasRemove="allowSubSigEdit"
							   :hasUpdate="allowSubSigEdit"
							   @onInputChange="inputChange"
							   @update="rowUpdate"
							   @showSigData="ShowSigDataSection">
					</CustomVGT>
				</div>
				<hr v-if="showSigData" />
				<div v-if="showSigData" class="signature-data split-half">
					<SignatureDataGrid class="signatureVGT"
									   uniqueColumnName="id"
									   :sigColumns="visibleSigColumns"
									   :allowEdit="allowSubSigEdit"
									   :currentSubmissionId="currentSigDataSubmissionId"
									   @updateCurrentSignatureRows="updateCurrentSignatureRows">
					</SignatureDataGrid>
				</div>
				<div v-if="showSigData && allowSubSigEdit">
					<button id="AddSignatureBtn" @click="AddNewSigRow" class="btn btn-primary">Add Signature</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	import CustomVGT from '@/components/documents/generate/Sources/Components/ComponentsVGT.vue';
	import SignatureDataGrid from '@/components/documents/generate/Sources/Components/SignaturesVGT.vue';
	import ComponentQuestions from '@/components/documents/generate/LetterQuestions/ComponentQuestion.vue';
	import Modal from '@/components/utility/Modal.vue';
	import { PROJECT_STATUS } from '@/common'

	import api from '@/api/documents/generate';

import { join } from 'lodash';

	export default {
		components: {
			CustomVGT,
			SignatureDataGrid,
			ComponentQuestions,
			Modal
		},
		data() {
			return {
				showSigData: false,
				currentSigDataSubmissionId: 0,
				sigColumns: [
					{ label: 'Type', field: 'type', type: 'LOOKUP', referenceLookup: 'SignatureTypes', isVisible: true, canHide: true },
					{ label: 'Scope', field: 'scope', type: 'LOOKUP', referenceLookup: 'SignatureScopes', isVisible: true, canHide: true},
					{ label: 'Signature', field: 'signature', type: 'PLAINTEXT', isVisible: true, canHide: true},
					{ label: 'Alpha Version', field: 'alphaVersion', type: 'PLAINTEXT', isVisible: true, canHide: true},
					{ label: 'Version', field: 'version', type: 'LOOKUP', referenceLookup: 'SignatureVersions', isVisible: true, canHide: true},
					{ label: 'Seed', field: 'seed', type: 'PLAINTEXT', isVisible: true, canHide: true},
					{ label: '', field: 'edit', sortable: false, isVisible: true, canHide: false }
				],
				compColumns: [
					{ label: 'ID Number', field: 'idNumber', required: true, isVisible:true, canHide:true },
					{ label: 'Version', field: 'version', required: true, isVisible: true, canHide: true },
					{ label: 'Date Code', field: 'dateCode', required: true, isVisible: true, canHide: true  },
					{ label: 'Game Name', field: 'gameName', required: true, isVisible: true, canHide: true },
				],
				newSigIdPlaceholder: 0,
				allowSubSigEdit: false,
				showModal: false,
				userColumns:[]
			}
		},
		props: ['letterCollapsed', 'overwriteColumns'],
		methods: {
			toggleCheck: function () {

			},
			saveOptions: function () {
				var joinedArrays = this.sigColumns.concat(this.compColumns);
				var saveObj = {};
				for (var i = 0; i < joinedArrays.length; i++) {
					if (joinedArrays[i].label !== "") {
						saveObj[joinedArrays[i].field] = joinedArrays[i].isVisible;
					}
				}
				this.showModal = false;
				api.saveUserColumns(JSON.stringify(saveObj))
					.catch(e => console.log(e));
			},
			inputChange: function (row, field, value) {
				row[field] = value;
			},
			rowUpdate: function (row) {
				let alertClassObj = {
					'alert': true,
					'lettergen-alert-danger': false,
					'lettergen-alert-info': false
				}
				api.updateComponentChanges(row)
					.then(x => {
						if (!x.data) {
							alertClassObj['lettergen-alert-danger'] = true;
							this.setSaveResults({ show: true, message: "Error: Unable to Save this component.", alert: alertClassObj });
						} else {
							alertClassObj['lettergen-alert-info'] = true;
							this.setSaveResults({ show: true, message: 'Saved successfully.', alert: alertClassObj })
						}
					})
					.catch(e => { console.log(e); })
					.finally(x => { this.$refs.customVGT.clearMode(); });
			},
			ShowSigDataSection: function (responseObj, event) {
				this.currentSigDataSubmissionId = responseObj.submissionId;
				if (JSON.stringify(this.currentSignatureData) == JSON.stringify(responseObj.data)) {
					this.showSigData = !this.showSigData;
				}
				else {
					this.setCurrentSignatureData(responseObj.data);
					this.showSigData = true;
				}
			},
			AddNewSigRow: function () {
				var newSigDataRow = {
					alphaVersion: "",
					filePath: "",
					id: JSON.parse(JSON.stringify(this.newSigIdPlaceholder)),
					scope: "N/A",
					seed: null,
					showFilePath: false,
					submissionId: this.currentSigDataSubmissionId,
					signature: "",
					type: "",
					version: ""
				};
				this.newSigIdPlaceholder--;
				this.currentSignatureData.push(newSigDataRow);
			},
			updateCurrentSignatureRows: function (row) {
				var rowIndex = this.currentSignatureData.indexOf(_.find(this.currentSignatureData, ['id', row.id]));
				if (rowIndex > -1) {
					this.currentSignatureData[rowIndex] = row;
				}

			},
			...sourceActions([
				'setComponents',
				'setCurrentSignatureData'
			]),
			...mapActions([
				'setSaveResults',

			]),
			goToOcuit: function () {				
				window.open(`${jsPath}tools/ocuit?bundleid=${this.bundleId}`);
			}
		},
		created: function () {
			this.allowSubSigEdit = this.user.hasLetterGenSubSigPermission && !this.isProjectLocked && !this.user.permissionSet.departmentLockEngaged && this.projectStatus != PROJECT_STATUS.RC.code;
		},
		computed: {
			visibleSigColumns: function () {
				return this.sigColumns.filter(col => col.isVisible);
			},
			visibleCompColumns: function () {
				return this.compColumns.filter(col => col.isVisible);
			},
			userSigColumns: function () {
				return this.sigColumns.filter(col => col.canHide);
			},
			userCompColumns: function () {
				return this.compColumns.filter(col => col.canHide);
			},
			...mapGetters([
				'user'
			]),
			...sourceGetters([
				'components',
				'currentSignatureData'
			]),
			...letterGetters([
				'isProjectLocked',
				'bundleId',
				'projectStatus'
			])
		},
		mounted: function () {
			api.getUserColumnSettings()
				.then(response => {
					if (response.data.ColumnSettings !== "" &&
						response.data.ColumnSettings !== undefined &&
						response.data.ColumnSettings !== null) {
						this.userColumns = JSON.parse(response.data.ColumnSettings);
						for (var i = 0; i < this.compColumns.length; i++) {
							if (this.userColumns[this.compColumns[i].field] !== undefined) {
								this.compColumns[i].isVisible = this.userColumns[this.compColumns[i].field];
							}
						}
						for (var i = 0; i < this.sigColumns.length; i++) {
							if (this.userColumns[this.sigColumns[i].field] !== undefined) {
								this.sigColumns[i].isVisible = this.userColumns[this.sigColumns[i].field];
							}
						}
					}
				});
		}
	}
</script>

<style scoped>
	.customVGT /deep/ .vgttable {
		font-size: 12px;
	}

	.signature-data, .comp-data {
		height: inherit;
		overflow-y: scroll;
	}

	.sig-data-header {
		width: 11%;
	}

	.sig-data-entry {
		width: 11%;
		overflow-x: hidden;
	}

	.split-half {
		height: inherit;
		max-height: 45%; /* leave room for hr between */
		overflow-y: scroll;
	}

	.customVGT {
		padding: 0;
	}

	.nav-tabs {
		margin: 0;
		padding: 0;
		border: 0;
	}

		.nav-tabs > li > a {
			background: #DADADA;
			border-radius: 0;
			box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
		}

		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover {
			background: #F5F5F5;
			box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
		}

	/* Tab Content */
	.tab-pane {
		background: #FFFFFF;
		box-shadow: 0 0 4px rgba(0,0,0,.4);
		border-radius: 0;
		text-align: left;
		padding: 10px;
	}

	.align-left {
		text-align: left;
	}
</style>