﻿<template>
	<div class="modal modal-wide" ref="componentSelection" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						Component Selection
						<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>
				<div class="modal-body">
					<table class="table table-sm form-group form-group-sm" style="padding-right:0px">
						<thead>
							<tr>
								<th width="10px"><input type="checkbox" @change="clickCheckAll" id="checkCompAll" title="Select All Components" /></th>
								<th width="130px">Id Number</th>
								<th width="100px">Version</th>
								<th width="150px">Game Name</th>
								<th width="130px">Date Code</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(component, index) in componentsToDisplay">
								<td width="10px" class="padr0">
									<input type="checkbox" :id="'checkAll' + index" v-model="component.isSelected" />
								</td>
								<td width="130px" class="padr0">{{ component.idNumber }}</td>
								<td width="100px" class="padr0">{{ component.version }}</td>
								<td width="150px" class="padr0">{{ component.gameName }}</td>
								<td width="130px" class="padr0">{{ component.dateCode }}</td>
							</tr>
							<tr v-if="components.length == 0">
								<td colspan="5"><font class="text-warning">No Items.</font></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary btn-sm" @click="makeSelection">Copy To Selected</a>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import Vue from 'vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	
	export default {
		name: 'ComponentSelection',
		components: {
			
		},
		props: {
			showSelection: {
				type: Boolean
			},
		},
		data() {
			return {
				componentsToDisplay:[],
				compSelection:[]
			}
		},
		computed: {
			...sourceGetters([
				'components'
			]),
		},
		validations: {

		},
		methods: {
			makeSelection: function () {
				let self = this;
				let allSelected = this.componentsToDisplay.filter(x => x.isSelected);
				let selectedComps = ""; 
				allSelected.forEach(function (obj) {
					self.compSelection.push(obj.id);
				})
				this.$emit('copySelection', self.compSelection);
				this.$emit('reSetShowSelection', false);
				$(this.$refs.componentSelection).modal('hide');
			},
			clickCheckAll: function () {
				if ($("#checkCompAll").is(':checked')) {
					for (let i = 0; i < this.componentsToDisplay.length; i++) {
						Vue.set(this.componentsToDisplay[i], "isSelected", true);
					}
				}
				else {
					for (let i = 0; i < this.componentsToDisplay.length; i++) {
						Vue.set(this.componentsToDisplay[i], "isSelected", false);
					}
				}
				
			},
			reset: function () {
				this.componentsToDisplay = _.cloneDeep(this.components);
				this.compSelection = [];
				$("#checkCompAll").prop("checked", false);
				this.clickCheckAll();
			}
		},
		created: function () {

		},
		mounted: function () {
			const refThis = this;
			$(this.$refs.componentSelection).on('hidden.bs.modal', function (e) {
				refThis.$emit('reSetShowSelection', false);
			});
		},
		watch: {
			showSelection: function (val, oldVal) {
				if (val) {
					this.reset();
					$(this.$refs.componentSelection).modal('show');
				}
				else
				{
					this.$emit('reSetShowSelection', false);
					$(this.$refs.componentSelection).modal('hide');
				}
			}
		}
	}

</script>
<style scope>
	.modal-body-tall {
		height: 450px;
		overflow-y: auto;
		font-size: 12px;
	}

	.modal.modal-wide .modal-dialog {
		width: 50%;
		height: auto;
	}
</style>