﻿<template>
	<VueGoodTable ref="sigVGT"
				  :columns="sigColumns"
				  :rows="currentSignatureData">
		<template slot="table-row" slot-scope="props">
			<div v-if="props.column.field == 'edit' && allowEdit" style="text-align:center">
				<button @click="edit(props.row)" title="Edit" type="button" class="btn btn-warning btn-circle"><i class="fas fa-edit"></i></button>
			</div>
			<div v-else-if="getMappedProperty(props.row.id).mode">
				<Control :control="constructControl(props)" :inTable="false" @input="onInputChange(props.row, $event)" @change="controlChangeEventHandler"></Control>
			</div>
		</template>
	</VueGoodTable>

</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');

	import { VueGoodTable } from 'vue-good-table';
	import { MODE } from '@/common';
	import api from '@/api/documents/generate';
	import Control from '@/components/documents/generate/LetterQuestions/Control.vue';



	export default {
		components: {
			Control,
			VueGoodTable
		},
		computed: {
			...sourceGetters([
				'components',
				'currentSignatureData'
			]),
			...mapGetters([
				'saveResults'
			])
			
		},
		created:function() {
			this.initTableData();

		},
		data() {
			return{
				editCol: { label: '', field: 'edit', sortable: false, isVisible: true, canHide: false  },
				mapCustomVGTProperty: [],
				additionalProperty: { id: null, mode: null },
				isLocalReferesh: false,
				copyCurrentSignatureData: []
			}
		},
		methods: {
			controlChangeEventHandler: function (val) {
				//console.log(val);
			},
			constructControl: function (props) {
				if (props.column.type == "LOOKUP") {
					props.column.content = props.row[props.column.field + "Id"];
					props.column.tempStringHolder = props.row[props.column.field];
				} else {
					props.column.content = props.row[props.column.field];
				}
				return props.column;
			},
			onInputChange: function (row,e) {
				row[e.label] = e.val;
				row[e.label + "Id"] = e.id;
				this.$emit('updateCurrentSignatureRows', row);
			},
			edit: function (row) {
				let alertClassObj = {
					'alert': true,
					'lettergen-alert-danger': false,
					'lettergen-alert-info': false
				}
				this.$refs.sigVGT.unselectAllInternal();
				let mappedProperty = this.getMappedProperty(row.id);
				if (mappedProperty.mode) {
					mappedProperty.mode = null;
					var newObjModel = row;
					api.postNewSignatureData(newObjModel)
						.then(response => {
							if (response.data.signatureValidation.HasError) {
								this.revertSignatureChanges({ index : newObjModel.originalIndex, signatureCopy : this.copyCurrentSignatureData[newObjModel.originalIndex], vm: this});
								alertClassObj['lettergen-alert-danger'] = true;
								this.setSaveResults({ show: true, message: response.data.signatureValidation.ErrorMessage + " Your signature changes have been undone.", alert: alertClassObj });
							} else {
								this.copyCurrentSignatureData = _.cloneDeep(this.currentSignatureData);
								alertClassObj['lettergen-alert-info'] = true;
								this.setSaveResults({ show: true, message: 'Saved successfully.', alert: alertClassObj })
								this.setSignatureDataPerComponent({
									id: this.currentSubmissionId,
									signatureData: this.currentSignatureData,
									vm: this
								})
							}
						})
						.catch(e => {
							console.log(e);
						});
				} else {
					mappedProperty.mode = MODE.EDIT.code;
				}
			},
			initTableData: function () {
				const self = this;
				
				if (!this.uniqueColumnName) {
					alert('Error: uniqueColumnName is required.');
					throw new Error('uniqueColumnName is required.');
				} else {
					this.currentSignatureData.forEach(function (x) {
						let property = _.cloneDeep(self.additionalProperty);
						property.id = x[self.uniqueColumnName];
						property.mode = null;
						self.mapCustomVGTProperty.push(property);
					});
				}
				this.copyCurrentSignatureData = _.cloneDeep(this.currentSignatureData);
			},
			getMappedProperty: function (id) {
				if (id !== null) {
					return _.find(this.mapCustomVGTProperty, ['id', id]);
				}
			},
			...sourceActions([
				'revertSignatureChanges',
				'setSignatureDataPerComponent'
			]),
			...mapActions([
				'setSaveResults',
				
			])
		},
		props: {
			currentSubmissionId: Number,
			sigColumns: Array,
			uniqueColumnName: String,
			allowEdit: { type: Boolean, default: false }
		},
		watch: {
			currentSignatureData: function (newRows, oldRows) {
				this.isLocalReferesh = true;
				this.initTableData();
			}
		}
	}
</script>
<style>
	.lettergen-alert-danger {
		background-color: #d45959;
		border-color: #d45959;
		color: #ffffff;
	}

	.lettergen-alert-info {
		background-color: #337ab7;
		border-color: #337ab7;
		color: #ffffff;
	}
</style>
<style scoped>
	.signatureVGT /deep/ .vgt-table {
		font-size: 14px;
	}
</style>