﻿@model Submissions.Web.Areas.Submission.Models.Import.StageViewModel

@{
	ViewBag.Title = "Flat File Utilities";
	ViewBag.FullWidth = true;
	ViewBag.NoFooter = true;
	Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}

<div class="row col-sm-12">
	<div id="app"></div>
</div>


@section scripts {
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		const links = {
			projectDetail: '@Url.Action("Detail", "Project", new { area = "Protrack" })',
			submissionDetail: '@Url.Action("Detail", "Submission", new { area = "Submission" })'
		}

		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
			document.getElementById("main").style.marginLeft = "250px";
		}

		/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("main").style.marginLeft = "0";
		}
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}

