﻿<template>
	<div>
		<div v-bind:class="{ hidden: applicableTestCase.hideApplicableTestCase }" class="panel panel-default hide-border" v-if="applicableTestCase.hasNevada || applicableTestCase.hasPeru">
			<div class="panel-heading center-text hide-border page-break-before"><a data-toggle="collapse" href="#applicable"><h5 class="panel-title">Applicable Test Cases<i class="indicator fa pull-right fa-chevron-circle-up print-hide-element"></i></h5></a></div>
			<div ref="applicable" class="collapse hide-border" id="applicable">
				<div class="panel-body bottom-padding-0">
					<div class="row row-bordered">
						<div class="col-sm-5 hidden-print"><b>Name</b></div>
						<div class="col-sm-2 hidden-print"><b>Version</b></div>
					</div>
					<div class="row row-bordered" v-for="app in applicableTestCase.applicableTestCases" :key="app.id">
						<div class="col-sm-5">{{ app.tcName }}</div>
						<div class="col-sm-2">{{ app.tcVersion }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('evolution') 

	export default {
		computed: {
			...mapGetters([
				'applicableTestCase'
			])
		},
		methods: {
			...mapActions([
				'setCollapsedApplicableTestCasePanel'
			])
		},
		watch: {
			'applicableTestCase.collapsedApplicableTestCasePanel': function () {
				if (this.$refs.applicable) {
					this.$refs.applicable.classList.remove("in");
				}
				this.setCollapsedApplicableTestCasePanel(false);
			}
		}
	}
</script>

<style scoped>
	.row-bordered {
		content: "";
		display: block;
		border-bottom: 1px solid #ccc;
		padding: 5px 0 5px 0;
	}

	.bottom-padding-0 {
		padding-bottom: 0px;
	}

	@media print {
		.center-text {
			line-height: 30px;
			text-align: center;
			font-weight: bold;
		}

		.hide-border {
			border: none;
		}

		.page-break-before {
			page-break-before: always;
			padding-top: 30px;
		}

		.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
			float: left;
		}

		.col-sm-12 {
			width: 100%;
		}

		.col-sm-11 {
			width: 91.66666667%;
		}

		.col-sm-10 {
			width: 83.33333333%;
		}

		.col-sm-9 {
			width: 75%;
		}

		.col-sm-8 {
			width: 66.66666667%;
		}

		.col-sm-7 {
			width: 58.33333333%;
		}

		.col-sm-6 {
			width: 50%;
		}

		.col-sm-5 {
			width: 41.66666667%;
		}

		.col-sm-4 {
			width: 33.33333333%;
		}

		.col-sm-3 {
			width: 25%;
		}

		.col-sm-2 {
			width: 16.66666667%;
		}

		.col-sm-1 {
			width: 8.33333333%;
		}
	}
</style>