﻿<template>
	<div>
		<div class="flex page-break-before">
			<div :class="{ hidden: clauseReport.hideClausePanel }" class="panel panel-default hide-border">
				<div class="panel-heading center-text hide-border"><a href="#"><h5 class="panel-title">Clause Report</h5></a></div>
				<div class="panel-body">
					<div :class="{ hidden: clauseReport.hideClauseReportSpinner }" class="text-center loading-spinner">
						<i class="fas fa-spinner fa-pulse fa-5x"></i>
					</div>
					<template v-if="!hidecountinfo">
						<ClauseCountInfo class="center-text"></ClauseCountInfo>
					</template>
					<div v-for="(clause, index) in clauseReport.clauseReport" :key="index + '.' + clause.clauseID">
						<div v-if="index > 0">
							<div class="row print-sectionName" v-if="(clauseReport.clauseReport[index -1].sectionName != clauseReport.clauseReport[index].sectionName)">
								<div class="h4 col-sm-12 sectionName">{{ clause.sectionName }} <span v-if="showNative && clause.isNativeDataExists">  ({{clause.nativeSectionName}})</span></div>
							</div>
						</div>
						<div v-else>
							<div class="row">
								<div class="h4 col-sm-12 sectionName">{{ clause.sectionName }} <span v-if="showNative && clause.isNativeDataExists">  ({{clause.nativeSectionName}})</span></div>
							</div>
						</div>

						<ul class="nav nav-tabs" v-show="showNative && clause.isNativeDataExists">
							<li class="active">
								<a :href="'#English' + clause.clauseID" role="tab" data-toggle="tab">English</a>
							</li>
							<li>
								<a :href="'#Native' + clause.clauseID" role="tab" data-toggle="tab" :title="clause.language">Native</a>
							</li>
							<li v-if="showNative && clause.isNativeDataExists && clause.isNativeExplanationChanged != clause.isExplanationChanged" >
								&nbsp;&nbsp;<i class="fas fa-exclamation-triangle" style="color:orangered" title="Please make sure English and Native explanations are changed."></i>
							</li>
						</ul>
						<div class="tab-content">
							<div class="clause-info-block tab-pane fade" :id="'Native'+ clause.clauseID">
								<div class="row">
									<div class="col-sm-12"><input type="checkbox" :value="clause.isSelected" v-model="clause.isSelected" v-if="showEdit" title="Check to upload explanation from Template."/> <b>{{ clause.section }}</b></div>
								</div>
								<div class="row clause-report">
									<div :class="['inline-div', 'memo', 'col-sm-' + (hideanswer ? '12' : '10')]">
										{{ clause.nativeMemo }}
										<div v-if="(!hiderelatedtestcases && (clause.answer != 'N/A*')) && showEdit" class="inline-div hidden-print">
											<i class="far fa-lg fa-edit pl-10 cursor-pointer hidden-print" aria-hidden="true" data-toggle="collapse" :data-target="'#'+clause.clauseID" @click="testCasesFunc(clause.clauseID)"></i>
										</div>
									</div>
									<template v-if="!hideanswer">
										<div v-if="(clause.answer === 'PASS')" class="">
											<div style="color:green;" class="col-sm-1 answerBorder text-success answer-width">{{ clause.answer }}</div>
										</div>
										<div v-else-if="(clause.answer === 'fail')" class="">
											<div style="color:red;" class="col-sm-1 answerBorder text-danger answer-width">{{ clause.answer }}</div>
										</div>
										<div v-else class="">
											<div class="col-sm-1 answerBorder">{{ clause.answer }}</div>
										</div>
									</template>
									<div v-if="(clause.notes && clause.notes != 'N/A*' && clause.notes.length != 0)">
										<div class="fas fa-sticky-note col-sm-1 fa-lg cursor-pointer hidden-print" styledata-toggle="tooltip" :title="clause.notes"> </div>
										<div class="row clause-note pl-15"><h5 class="text-underline">Note: {{ clause.notes }}</h5></div>
									</div>
								</div>
								<div class="row clause-report">
									<div class="col-sm-12 inline-div memo">
										<slot name="ClauseContentNative" v-bind:clause="clause"></slot>
									</div>
								</div>
							</div>
							<div class="clause-info-block tab-pane fade active in" :id="'English' + clause.clauseID">
								<div class="row">
									<div class="col-sm-12"><input type="checkbox" :value="clause.isSelected" v-model="clause.isSelected" v-if="showEdit" /> <b>{{ clause.section }}</b></div>
								</div>
								<div class="row clause-report">
									<div :class="['inline-div', 'memo', 'col-sm-' + (hideanswer ? '12' : '10')]">
										{{ clause.memo }}
										<div v-if="(!hiderelatedtestcases && (clause.answer != 'N/A*')) && showEdit" class="inline-div hidden-print">
											<i class="far fa-lg fa-edit pl-10 cursor-pointer hidden-print" aria-hidden="true" data-toggle="collapse" :data-target="'#'+clause.clauseID" @click="testCasesFunc(clause.clauseID)"></i>
										</div>
									</div>
									<template v-if="!hideanswer">
										<div v-if="(clause.answer === 'PASS')" class="">
											<div style="color:green;" class="col-sm-1 answerBorder text-success answer-width">{{ clause.answer }}</div>
										</div>
										<div v-else-if="(clause.answer === 'fail')" class="">
											<div style="color:red;" class="col-sm-1 answerBorder text-danger answer-width">{{ clause.answer }}</div>
										</div>
										<div v-else class="">
											<div class="col-sm-1 answerBorder">{{ clause.answer }}</div>
										</div>
									</template>
									<div v-if="(clause.notes && clause.notes != 'N/A*' && clause.notes.length != 0)">
										<div class="fas fa-sticky-note col-sm-1 fa-lg cursor-pointer hidden-print" styledata-toggle="tooltip" :title="clause.notes"> </div>
										<div class="row clause-note pl-15"><h5 class="text-underline">Note: {{ clause.notes }}</h5></div>
									</div>
								</div>
								<div class="row clause-report">
									<div class="col-sm-12 inline-div memo">
										<slot name="ClauseContent" v-bind:clause="clause"></slot>
									</div>
								</div>
								<div class="collapse table-responsive hidden-print" :id="clause.clauseID" :ref="clause.clauseID">
									<table>
										<tr>
											<th class="clause-testcase-5">Related Test Cases</th>
										</tr>
										<tr v-for="ctc in clauseTestCases">
											<td>{{ ctc.name }}</td>
										</tr>
									</table>
									<div class="col-sm-12">&nbsp;</div>
								</div>
								<div class="col-sm-12">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 pt-15 text-center disclaimer">* - N/A - Out of testing scope</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import api from '@/api/evolution'
	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	import ClauseCountInfo from '@/components/evolution/clausereport/ClauseCountInfo.vue'

	export default {
		components: {
			ClauseCountInfo
		},
		data() {
			return {
				clauseTestCases: []
			}
		},
		computed: {
			...mapGetters([
				'clauseReport',
				'instance'
			])
		},
		props: {
			hidecountinfo: {
				type: Boolean
			},
			hideanswer: {
				type: Boolean
			},
			hiderelatedtestcases: {
				type: Boolean
			},
			showEdit: {
				type: Boolean
			},
			showNative: {
				type: Boolean
			}
		},
		methods: {
			testCasesFunc: function (clauseID) {
				let ajaxFlag = true;
				if (this.clauseReport.selectedClauseID != '' && this.clauseReport.selectedClauseID != clauseID) {
					if (this.$refs[this.clauseReport.selectedClauseID]) {
						this.$refs[this.clauseReport.selectedClauseID][0].classList.remove("in");
					}
				} else if (this.clauseReport.selectedClauseID == clauseID) {
					ajaxFlag = false;
				}

				if (ajaxFlag) {
					this.setSelectedClauseID(clauseID);
					this.clauseTestCases = [];

					api.loadTestCase(this.instance.selectedComponentGroupId, clauseID)
						.then(response => {
							const result = response.data;
							this.clauseTestCases = result;
						})
						.catch(e => {
							console.log(e);
						});
				}
			},
			...mapActions([
				'setSelectedClauseID',
			])
		}
	}
</script>

<style scoped>
	.panel-title {
		border-radius: 8px;
	}
	.loading-spinner {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.text-success {
		color: green !important;
		-webkit-print-color-adjust: exact;
	}

	div.sectionName {
		background-color: DarkGray;
		color: white;
		padding: 6px;
		border-radius: 8px;
	}

	div.answerBorder {
		border: 1px solid;
		padding: 6px;
	}

	.clause-note {
		display: none;
	}

	.pl-15 {
		padding-left: 15px;
	}

	.clause-testcase-5 {
		width: 5%;
	}

	.pl-10 {
		padding-left: 10px;
	}

	.pt-15 {
		padding-top: 15px;
	}

	.inline-div {
		display: inline-block;
	}

	.memo {
		padding-bottom: 5px;
	}

	.nav-tabs {
		margin: 0;
		padding: 0;
		border: 0;
		min-height:20px !important
	}
	.nav-tabs > li > a {
		background: #DADADA;
		border-radius: 0;
		box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
		padding-top:10px !important; 
		padding-bottom:10px !important;
		line-height: 7px; 
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover {
		background: #F5F5F5;
		box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
		padding-top:10px !important; 
		padding-bottom:10px !important;
		line-height: 7px; 
	}

	/* Tab Content */
	.tab-pane {
		background: #F5F5F5;
		box-shadow: 0 0 4px rgba(0,0,0,.4);
		border-radius: 0;
		text-align: left;
		padding: 10px;
	}

	@media print {

		.print-sectionName {
			page-break-inside: avoid;
			padding-top: 30px;
		}

		.border {
			border: 1px solid;
			padding: 6px;
		}

		.hide-border {
			border: none;
		}

		.text-underline {
			text-decoration: underline;
			display: inline-block;
			padding-left: 15px;
		}

		div.sectionName {
			background-color: DarkGray !important;
			-webkit-print-color-adjust: exact;
		}

		.page-break-before {
			page-break-before: always;
			padding-top: 30px;
		}

		.clause-info-block {
			page-break-inside: avoid;
			padding-top: 25px;
		}

		.center-text {
			line-height: 30px;
			text-align: center;
			font-weight: bold;
		}

		.disclaimer {
			padding-top: 30px;
		}

		.inline-div {
			display: inline-block;
		}

		.clause-note {
			display: block;
		}

		.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
			float: left;
		}

		.col-sm-12 {
			width: 100%;
		}

		.col-sm-11 {
			width: 91.66666667%;
		}

		.col-sm-10 {
			width: 83.33333333%;
		}

		.col-sm-9 {
			width: 75%;
		}

		.col-sm-8 {
			width: 66.66666667%;
		}

		.col-sm-7 {
			width: 58.33333333%;
		}

		.col-sm-6 {
			width: 50%;
		}

		.col-sm-5 {
			width: 41.66666667%;
		}

		.col-sm-4 {
			width: 33.33333333%;
		}

		.col-sm-3 {
			width: 25%;
		}

		.col-sm-2 {
			width: 16.66666667%;
		}

		.col-sm-1 {
			width: 8.33333333%;
		}
	}
</style>