﻿<template>
	<div>
		<div class="col-sm-12 clause-question-info">
			<div class="h4 col-sm-3 text-success clause-info">Pass:{{ clauseReport.counts.pass }}</div>
			<div class="h4 col-sm-3 clause-info">N/A: {{ clauseReport.counts.na }}</div>
			<div class="h4 col-sm-3 clause-info">N/A*: {{ clauseReport.counts.naStar}}</div>
			<div class="h4 col-sm-3 text-danger clause-info">Fail: {{ clauseReport.counts.fail }}</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')
	export default {
		computed: {
			...mapGetters([
				'clauseReport'
			])
		}
	}
</script>

<style scoped>
	.clause-question-info {
		display: block;
	}

	.text-success {
		color: green !important;
		-webkit-print-color-adjust: exact;
	}

	.clause-info {
		display: inline-block;
	}

	.text-danger {
		color: red !important;
		-webkit-print-color-adjust: exact;
	}
</style>