﻿<template>
	<div>
		<PrintDocumentHeader></PrintDocumentHeader>
		<PrintDocumentName></PrintDocumentName>
		<ClauseCountInfo class="page-hide-element"></ClauseCountInfo>
		<div class="row">
			<div class="affix col-sm-3 scroll print-nonaffix">
				<Instance class="print-hide-element"></Instance>
				<JurisdictionAndDocuments ReviewOrClause="clause"></JurisdictionAndDocuments>
			</div>
			<div class="col-sm-3">&nbsp;</div> <!-- Accounts for the affix col-sm-3 scroll area -->
			<div class="col-sm-9">
				<FunctionalRole></FunctionalRole>
				<ApplicableTestCase></ApplicableTestCase>
				<ClauseSummary></ClauseSummary>
				<ClauseReport></ClauseReport>
			</div>
		</div>
	</div>
</template>

<script>

	import Instance from '@/components/evolution/Instance.vue'
	import FunctionalRole from '@/components/evolution/FunctionalRole.vue'
	import ClauseReport from '@/components/evolution/clausereport/ClauseReport.vue'
	import ApplicableTestCase from '@/components/evolution/clausereport/ApplicableTestCase.vue'
	import ClauseSummary from '@/components/evolution/clausereport/Summary.vue'
	import PrintDocumentHeader from '@/components/evolution/PrintDocumentHeader.vue'
	import PrintDocumentName from '@/components/evolution/PrintDocumentName.vue'
	import ClauseCountInfo from '@/components/evolution/clausereport/ClauseCountInfo.vue'
	import JurisdictionAndDocuments from '@/components/evolution/JurisdictionAndDocuments.vue'

	export default {
		components: {
			JurisdictionAndDocuments,
			Instance,
			FunctionalRole,
			ClauseReport,
			ApplicableTestCase,
			ClauseSummary,
			PrintDocumentHeader,
			PrintDocumentName,
			ClauseCountInfo
		}
	}
</script>

<style scoped>
	.page-hide-element {
		display: none;
	}

	@media print {
		.print-hide-element {
			display: none;
		}

		.print-nonaffix {
			position: relative !important;
		}
	}

	.scroll {
		padding-bottom: 100px;
		overflow-y: auto;
		max-height: 90%;
		left: 5px;
	}
</style>
