﻿<template>
	<div>
		<div :class="{ hidden: summary.hideSummary }" class="panel panel-default hide-border" v-if="applicableTestCase.hasNevada">
			<div class="panel-heading center-text hide-border page-break-before"><a data-toggle="collapse" href="#summary"><h5 class="panel-title">Summary<i class="indicator fa pull-right fa-chevron-circle-up hidden-print"></i></h5></a></div>
			<div ref="summary" class="collapse hide-border" id="summary">
				<div class="panel-body bottom-padding-0">
					<div v-for="(su, index) in summary.summary" :key="su.id">
						<table class="table remove-bottom-margin">
							<thead>
								<tr>
									<th colspan="12" class="document-pt-30">{{ su.documentName }}</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="ss in su.sectionSummary">
									<td class="col-sm-3">{{ ss.section }}</td>
									<td class="col-sm-9">{{ ss.sectionName }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		computed: {
			...mapGetters([
				'summary',
				'applicableTestCase'
			])
		},
		methods: {
			...mapActions([
				'setCollapsedSummaryPanel'
			])
		},
		watch: {
			'summary.collapsedSummaryPanel': function () {
				if (this.$refs.summary) {
					this.$refs.summary.classList.remove("in");
				}
				this.setCollapsedSummaryPanel(false);
			}
		}
	}
</script>

<style scoped>
	.row-bordered {
		content: "";
		display: block;
		border-bottom: 1px solid #ccc;
		padding: 5px 0 5px 0;
	}

	.bottom-padding-0 {
		padding-bottom: 0px;
	}

	.remove-bottom-margin {
		margin-bottom: 0px;
	}

	@media print {
		.center-text {
			line-height: 30px;
			text-align: center;
			font-weight: bold;
		}

		.document-pt-30 {
			padding-top: 30px;
		}

		.hide-border {
			border: none;
		}

		.page-break-before {
			page-break-before: always !important;
			padding-top: 30px !important;
		}

		.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
			float: left;
		}

		.col-sm-12 {
			width: 100%;
		}

		.col-sm-11 {
			width: 91.66666667%;
		}

		.col-sm-10 {
			width: 83.33333333%;
		}

		.col-sm-9 {
			width: 75%;
		}

		.col-sm-8 {
			width: 66.66666667%;
		}

		.col-sm-7 {
			width: 58.33333333%;
		}

		.col-sm-6 {
			width: 50%;
		}

		.col-sm-5 {
			width: 41.66666667%;
		}

		.col-sm-4 {
			width: 33.33333333%;
		}

		.col-sm-3 {
			width: 25%;
		}

		.col-sm-2 {
			width: 16.66666667%;
		}

		.col-sm-1 {
			width: 8.33333333%;
		}
	}
</style>