﻿@model Submissions.Web.Areas.Documents.Models.LetterSection.LetterSectionEditViewModel

	@{
		//ViewBag.FullWidth = false;
		ViewBag.NoContainer = true;
		ViewBag.NoFooter = true;
		ViewBag.Title = "Edit Letter Section";
	}


	<div id="app"></div>


	@section scripts {
		<script>
		var rootIndexUrl = '/documents/lettersection';
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		</script>
		@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
	}