﻿@model Submissions.Web.Areas.Documents.Models.LetterSection.LetterSectionIndexViewModel

@{
	//ViewBag.FullWidth = false;
	ViewBag.NoContainer = true;
	ViewBag.NoFooter = true;

	ViewBag.Title = "Letter Sections";
}


<div id="app"></div>


@section scripts {
	<script>
		var rootEditUrl = '/documents/lettersection/edit';
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}