﻿<template>
	<div class="col-sm-12">
		<div id="BundleInfo" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Bundle Information</h3>
			</div>
			<div class="form-horizontal">
				<div class="row">

					<div class="col-sm-4">
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-6" for="BundleInfo_BundleName">Bundle Name</label>
							<div class="col-sm-6">
								{{bundleInfo.bundleName}}
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-6" for="BundleInfo_LetterReviewer">Reviewer</label>
							<div v-if="bundleInfo.letterReviewer != null" class="col-sm-6">
								{{bundleInfo.letterReviewer}}
							</div>
							<div v-if="bundleInfo.letterReviewer == null" class="col-sm-6">
								put the button here
							</div>
							<!--
							<div class="col-sm-6">
								@Html.ActionLink("I am the Letter Reviewer", "ClaimAsLetterReviewer", new { bundleId = Model.BundleInfo.BundleId })
							</div>
							-->
						</div>
					</div>

					<div class="col-sm-4">
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-6" for="BundleInfo_LetterWriter">Writer</label>
							<div v-if="bundleInfo.letterWriter != null" class="col-sm-6">
								{{bundleInfo.letterWriter}}
							</div>
							<div  v-if="bundleInfo.letterWriter == null" class="col-sm-6">
								put other button here
							</div>
							<!--
							<div class="col-sm-6">
							@Html.ActionLink("I am the Letter Writer", "ClaimAsLetterWriter", new { bundleId = Model.BundleInfo.BundleId })
							</div>
							}-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>
<script>
	import { createNamespacedHelpers } from 'vuex'; 

	export default {
		props:['bundleInfo']
	}
</script>