﻿@model Submissions.Web.Areas.Submission.Models.RNGDataImport.RNGDataImportViewModel

@section css{
	<style>
		.field-validation-error {
			color: #f00;
		}

		.field-validation-valid {
			display: none;
		}

		.input-validation-error {
			border: 1px solid #f00;
			background-color: #fee;
		}

		.validation-summary-errors {
			font-weight: bold;
			color: #f00;
		}

		.validation-summary-valid {
			display: none;
		}
	</style>
}

@{
	ViewBag.Title = "RNG Data";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>Edit @ViewBag.Title <small>@Model.RNGDataSet.FileNumber.ToUpper()</small></h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@if (Util.HasAccess(Permission.RNGData, AccessRight.Edit))
		{
			<input type="submit" id="Submit" value="Save" class="btn btn-sm btn-primary" />
		}
		@if (Util.HasAccess(Permission.RNGData, AccessRight.Delete))
		{
			<input type="button" id="DeleteBtn" value="Delete" class="btn btn-sm btn-primary" />
		}
		<a href="@Model.CancelButtonUrl" id="CancelBtn" class="btn btn-sm btn-primary">Cancel</a>
	</div>
</div>

@using (Html.BeginForm("Edit", "RNGDataImport", FormMethod.Post, new { id = "EditForm" }))
{
	@Html.ValidationSummary()
	@Html.HiddenFor(x => x.Source)
	@Html.HiddenFor(x => x.RNGDataSet.FileNumber)
	@Html.HiddenFor(x => x.RNGDataSet.SubmissionHeaderId)
	@Html.HiddenFor(x => x.SubmissionId)
	<input type="hidden" id="ConfidenceLevelInfo" name="ConfidenceLevelInfo" />

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Edit RNG Data</h3>
				</div>
				@for (int i = 0; i < Model.RNGDataSet.RNGData.Count(); i++)
				{
					@Html.HiddenFor(x => x.RNGDataSet.RNGData[i].Id)
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group form-group-sm">
										@Html.LabelFor(x => x.RNGDataSet.RNGData[i].TestCase, new { @class = "control-label col-sm-2" })
										<div class="col-sm-8">
											@Html.TextBoxFor(x => x.RNGDataSet.RNGData[i].TestCase, new { @class = "form-control" })
										</div>
									</div>
									<div class="form-group form-group-sm">
										@Html.LabelFor(x => x.RNGDataSet.RNGData[i].Note, new { @class = "control-label col-sm-2" })
										<div class="col-sm-10">
											@Html.TextAreaFor(x => x.RNGDataSet.RNGData[i].Note, new { cols = "60", rows = "6" })
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group form-group-sm">
										@Html.LabelFor(x => x.RNGDataSet.RNGData[i].RangeStart, new { @class = "control-label col-sm-3" })
										<div class="col-sm-4">
											@Html.TextBoxFor(x => x.RNGDataSet.RNGData[i].RangeStart, new { @class = "form-control" })
										</div>
									</div>
									<div class="form-group form-group-sm">
										@Html.LabelFor(x => x.RNGDataSet.RNGData[i].RangeEnd, new { @class = "control-label col-sm-3" })
										<div class="col-sm-4">
											@Html.TextBoxFor(x => x.RNGDataSet.RNGData[i].RangeEnd, new { @class = "form-control" })
										</div>
									</div>
									<div class="form-group form-group-sm">
										@Html.LabelFor(x => x.RNGDataSet.RNGData[i].Draws, new { @class = "control-label col-sm-3" })
										<div class="col-sm-4">
											@Html.TextBoxFor(x => x.RNGDataSet.RNGData[i].Draws, new { @class = "form-control" })
										</div>
									</div>
									<div class="form-group form-group-sm">
										@Html.LabelFor(x => x.RNGDataSet.RNGData[i].Selections, new { @class = "control-label col-sm-3" })
										<div class="col-sm-4">
											@Html.TextBoxFor(x => x.RNGDataSet.RNGData[i].Selections, new { @class = "form-control" })
										</div>
									</div>
									<div class="form-group form-group-sm">
										@Html.LabelFor(x => x.RNGDataSet.RNGData[i].Replacement, new { @class = "control-label col-sm-3" })
										<div class="col-sm-4">
											@Html.CheckBoxFor(x => x.RNGDataSet.RNGData[i].Replacement, new { @class = "padcheckbox" })
										</div>
									</div>
									<div class="form-group form-group-sm">
										<label class="control-label col-sm-3">Confidence Levels</label>
										<div class="col-sm-9" style="margin-top:-3px;">
											<label class="checkbox-inline">
												<input type="checkbox" id="checkBox_95" /> 95%
											</label>
											<label class="checkbox-inline">
												<input type="checkbox" id="checkBox_98" /> 98%
											</label>
											<label class="checkbox-inline">
												<input type="checkbox" id="checkBox_99" /> 99%
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						@for (int k = 0; k < Model.RNGDataSet.RNGData[i].ConfidenceLevels.Count; k++)
						{
							@Html.HiddenFor(x => x.RNGDataSet.RNGData[i].ConfidenceLevels[k].Level, new { id = "Level_" + Model.RNGDataSet.RNGData[i].ConfidenceLevels[k].Level, value = Model.RNGDataSet.RNGData[i].ConfidenceLevels[k].Level })
						}
					</div>
				}
			</div>
		</div>
	</div>
}

@section scripts {
	<script>
		$(function () {
			initalizeConfidenceLevels();
		});

		function initalizeConfidenceLevels() {
			var _95 = $('#Level_95').val();
			var _98 = $('#Level_98').val();
			var _99 = $('#Level_99').val();

			if (_95 == "95") {
				$('#checkBox_95').prop('checked', true);
			}
			if (_98 == "98") {
				$('#checkBox_98').prop('checked', true);
			}
			if (_99 == "99") {
				$('#checkBox_99').prop('checked', true);
			}
		}

		$('#Submit').click(function (event) {
			event.preventDefault();

			$('#ConfidenceLevelInfo').val(
				JSON.stringify(
					ManualConfidenceLevels(
						$('#checkBox_95').prop('checked'),
						$('#checkBox_98').prop('checked'),
						$('#checkBox_99').prop('checked')
					)
				)
			);
			$('#EditForm').submit();
		});

		$('#DeleteBtn').on('click', function () {
			bootbox.confirm('Are you sure you want to delete this RNG?', function (result) {
				if (result) {
					$('#EditForm').attr('action', '@Url.Action("delete")').submit();
				}
			});
		});

		function ManualConfidenceLevels(NinetyFive, NinetyEight, NinetyNine) {

			function ConfidenceLevel(Level) {
				this.Level = Level;
			}

			var RNGDataItem = {};
			RNGDataItem.ConfidenceLevels = [];

			if (NinetyFive) {
				RNGDataItem.ConfidenceLevels.push(new ConfidenceLevel("95"));
			}
			if (NinetyEight) {
				RNGDataItem.ConfidenceLevels.push(new ConfidenceLevel("98"));
			}
			if (NinetyNine) {
				RNGDataItem.ConfidenceLevels.push(new ConfidenceLevel("99"));
			}

			return RNGDataItem;
		}
	</script>
}