﻿@model Submissions.Web.Areas.Submission.Models.RNGDataImport.RNGDataImportViewModel

@section css{
	<style>
		#loading-image {
			position: absolute;
			top: 45%;
			left: 45%;
			outline: none;
		}

		#RNGDataTable td:last-child {
			white-space: nowrap;
		}

		.checkbox-inline {
			font-size: 14px;
		}
	</style>
}

@{
	ViewBag.Title = "RNG Data";
}

@Html.HiddenFor(x => x.RNGDataSet.SubmissionHeaderId, new { @id = "SubmissionHeaderId" })
@Html.HiddenFor(x => x.RNGDataSet.FileNumber, new { @id = "fileNumber" })

<div class="modal" id="loading-image">
	<div id="test" class="modal-dialog">
		<div><i class="fas fa-spinner fa-pulse fa-5x"></i></div>
	</div>
</div>

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title <small>@Model.RNGDataSet.FileNumber.ToUpper()</small></h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@if (Util.HasAccess(Permission.RNGData, AccessRight.Add))
		{
			<input type="button" class="btn btn-primary btn-sm" value="Add" data-bind="click: $root.appendSingle" />
		}
		@if (Util.HasAccess(Permission.RNGData, AccessRight.Delete))
		{
			<button type="button" class="btn btn-primary btn-sm" data-bind="click: $root.delete">Delete</button>
		}
		@Html.ActionLink("Cancel", "detail", "submission", new { id = Model.SubmissionId }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

@if (Util.HasAccess(Permission.RNGData, AccessRight.Add))
{
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Add RNG Data</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-2">Test Case</label>
									<div class="col-sm-8">
										<input type="text" id="single-TestCase" class="form-control" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-2">Note</label>
									<div class="col-sm-10">
										<textarea id="single-Note" cols="60" rows="6"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<h4><strong>Import Dataset:</strong></h4>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-1">1.</div>
									<div class="col-sm-11">
										<label class="btn btn-primary btn-xs">
											<input type="file" id="File" name="File[]" onchange="$('#upload-file-info').html(this.files[0].name)" style="display:none;" /> Choose File
										</label>
										<span id="upload-file-info" style="padding-left:10px;"></span>
									</div>
								</div>
								<div class="row" style="padding-top:5px;">
									<div class="col-sm-1">2.</div>
									<div class="col-sm-11"><input type="button" class="btn btn-primary btn-xs" value="Process File" data-bind="click: $root.importDataSet" /></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Range Start</label>
									<div class="col-sm-4">
										<input type="text" id="single-RangeStart" class="form-control" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Range End</label>
									<div class="col-sm-4">
										<input type="text" id="single-RangeEnd" class="form-control" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Draws</label>
									<div class="col-sm-4">
										<input type="text" id="single-Draws" class="form-control" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Selections</label>
									<div class="col-sm-4">
										<input type="text" id="single-Selections" class="form-control" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Replacement</label>
									<div class="col-sm-4">
										<input type="checkbox" id="single-Replacement" class="padcheckbox" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Confidence Levels</label>
									<div class="col-sm-9" style="margin-top:-3px;">
										<label class="checkbox-inline">
											<input type="checkbox" id="single-95" /> 95%
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="single-98" /> 98%
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="single-99" /> 99%
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">RNG Data (<span data-bind="text: RNGDataSet.RNGData().length">)</span>)</h3>
			</div>
			<div class="panel-body">
				<table id="RNGDataTable" class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>Test Case</th>
							<th>Range Start</th>
							<th>Range End</th>
							<th>Draws</th>
							<th>Replacement</th>
							<th>Selections</th>
							<th>Note</th>
							<th>Confidence Levels</th>
							@if (Util.HasAccess(Permission.RNGData, AccessRight.Edit))
							{
								<th>&nbsp;</th>
							}
						</tr>
					</thead>
					<tbody data-bind="foreach: RNGDataSet.RNGData">
						<tr>
							<td><span data-bind="text: TestCase"></span></td>
							<td><span data-bind="text: RangeStart"></span></td>
							<td><span data-bind="text: RangeEnd"></span></td>
							<td><span data-bind="text: Draws"></span></td>
							<td><input type="checkbox" data-bind="checked: Replacement" disabled /></td>
							<td><span data-bind="text: Selections"></span></td>
							<td><span data-bind="text: Note"></span></td>
							<td data-bind="foreach:ConfidenceLevels">
								<p data-bind="text: Level"></p>
							</td>
							@if (Util.HasAccess(Permission.RNGData, AccessRight.Edit))
							{
								<td><a href="#" title="Edit" name="editRNGItem" data-bind="click: $root.edit">Edit</a></td>
							}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

@using (Html.BeginForm("DeleteBulk", "RNGDataImport", FormMethod.Post, new { id = "DeleteBulkForm" }))
{
	@Html.HiddenFor(m => m.SubmissionHeaderId)
	@Html.HiddenFor(m => m.SubmissionId)
}

@section scripts {
	@Scripts.Render("~/bundles/script/knockout");
	<script>
		var fileArray = [];
		var data = @Html.Raw(Json.Encode(Model));
		var submissionHeaderId = $('#SubmissionHeaderId').val();
		var fileNumber = $('#fileNumber').val();
		var url = '@Url.Action("ImportDataSet","RNGDataImport")?submissionHeaderId=' + submissionHeaderId + '&fileNumber=' + fileNumber;

		// -- KO
		var RNGDataSetModel = function(data) {
			var self = this;
			ko.mapping.fromJS(data, {}, self);

			self.delete = function () {
				bootbox.confirm('Are you sure you want to Delete all the RNG data for this file?', function (result) {
					if (result) {
						$('#DeleteBulkForm').submit();
					}
				});
			};

			self.edit = function(RNGItem)
			{
				window.location.href= '@Url.Action("Edit", "RNGDataImport")?Id=' + RNGItem.Id()+'&FileNumber=' + '@Model.RNGDataSet.FileNumber' + '&SubmissionId=@Model.SubmissionId';
			};

			self.importDataSet = function ()
			{
				if (fileArray.length > 0) {
					for (var i = 0; i < fileArray.length; i++) {
						var formData = new FormData();
						formData.append("file", fileArray[i]);
						$('#loading-image').modal('show');
						$.ajax({
							url: url,
							type: 'POST',
							data: formData,
							success: function (result) {
								bootbox.alert("Data set successfully added!");
							},
							error: function (result) {
								bootbox.alert(result.responseJSON.Description);
								$('#loading-image').modal('hide');
							},
							complete: function (result) {
								self.appendDataSet(result.responseJSON);
								$('#File').val("");
								$('#loading-image').modal('hide');
								$("html, body").animate({ scrollTop: $(document).height() }, "slow");
							},
							cache: false,
							contentType: false,
							processData: false
						});
					}
				}
			};

			self.appendDataSet = function(data)
			{
				var length = data.RNGDataSet.RNGData.length;
				for (var i = 0; i < length; i++) {
					var newRNGData = new RNGDataItemModel(data.RNGDataSet.RNGData[i]);
					self.RNGDataSet.RNGData.push(newRNGData);
				}
			};

			self.appendSingle = function()
			{
				var validation = ValidateSingleAdd($('#single-TestCase').val(),$('#single-RangeStart').val(),$('#single-RangeEnd').val(), $('#single-Draws').val(),$('#single-Selections').val());
				var ValidationSummary = "";
				for(var i = 0; i < validation.Items.length; i++)
				{
					if(validation.Items[i].Blank)
					{
						ValidationSummary += validation.Items[i].Field + " is blank!<br>";
					}
					if(validation.Items[i].Field != 'TestCase' && validation.Items[i].IsNumber == false)
					{
						ValidationSummary += validation.Items[i].Field + " must be a number!<br>";
					}
				}

				if (ValidationSummary.length == 0)
				{
					var RNGItem = ManualRNGDataItem ($('#single-TestCase').val(),$('#single-RangeStart').val(),$('#single-RangeEnd').val(), $('#single-Draws').val(), $('#single-Replacement').prop('checked'), $('#single-Selections').val(), $('#single-Note').val(),$('#single-95').prop('checked'), $('#single-98').prop('checked'), $('#single-99').prop('checked'), $('#SubmissionHeaderId').val(), "");
					$.post('@Url.Action("AddSingleRNGItem", "RNGDataImport")',  {RNGItem: JSON.stringify(RNGItem),fileNumber: fileNumber},function(result){
						var newRNGData = new RNGDataItemModel(result);
						self.RNGDataSet.RNGData.push(newRNGData);
						resetSingleItemAdd();
						bootbox.alert("Item successfully added!");
						$("html, body").animate({ scrollTop: $(document).height() }, "slow");
					});
				}
				else
				{
					bootbox.dialog({
						message: ValidationSummary,
						title: "Form Errors!",
						buttons: {
							danger: {
								label: "Back to Form",
								className: "btn-primary",
							}
						}
					});
				}
			};
		};

		var RNGDataItemModel = function(data) {
			var self = this;
			ko.mapping.fromJS(data, {}, self);
		};

		var RNGViewModel = new RNGDataSetModel(data);

		$(function () {
			ko.applyBindings(RNGViewModel);

			$(':file').on('change', function () {
				var fileList = this.files;

				for (var i = 0; i < fileList.length; i++) {
					var file = fileList[i];
					if (!fileExists(file)) {
						var fileSize = 0;
						if (file.size > 1024 * 1024) {
							fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
						}
						else {
							fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
						}
						fileArray.push(file);
					}
				}
			});
		});

		function ManualRNGDataItem(TestCase, RangeStart, RangeEnd, Draws,Replacement,Selections,Note,NinetyFive,NinetyEight,NinetyNine, SubmissionHeaderId, Id) {

			function ConfidenceLevel(Level)
			{
				this.Level = Level;
			}

			var RNGDataItem = {};
			RNGDataItem.TestCase = TestCase;
			RNGDataItem.RangeStart = RangeStart;
			RNGDataItem.RangeEnd = RangeEnd;
			RNGDataItem.Draws = Draws;
			RNGDataItem.Replacement = Replacement;
			RNGDataItem.Selections = Selections;
			RNGDataItem.Note = Note;
			RNGDataItem.SubmissionHeaderId = SubmissionHeaderId;
			RNGDataItem.Id = Id;
			RNGDataItem.ConfidenceLevels = [];

			if(NinetyFive)
			{
				RNGDataItem.ConfidenceLevels.push(new ConfidenceLevel("95"));
			}
			if(NinetyEight)
			{
				RNGDataItem.ConfidenceLevels.push(new ConfidenceLevel("98"));
			}
			if(NinetyNine)
			{
				RNGDataItem.ConfidenceLevels.push(new ConfidenceLevel("99"));
			}

			return RNGDataItem;
		}

		function ValidateSingleAdd (TestCase, RangeStart, RangeEnd, Draws,Selections)
		{
			var validationSummary = {};
			validationSummary.Items = [];

			validationSummary.Items.push(new ValidationItem(TestCase,'TestCase'));
			validationSummary.Items.push(new ValidationItem(RangeStart,'RangeStart'));
			validationSummary.Items.push(new ValidationItem(RangeEnd,'RangeEnd'));
			validationSummary.Items.push(new ValidationItem(Draws,'Draws'));
			validationSummary.Items.push(new ValidationItem(Selections,'Selections'));

			return validationSummary;
		}

		function ValidationItem (item, itemName)
		{
			this.Field = itemName;
			this.Val = item;
			this.Blank = item.length > 0 ? false : true;
			this.NumericVal = +item;
			this.IsNumber = !isNaN(item);
		}

		function resetSingleItemAdd()
		{
			$('#single-TestCase').val("");
			$('#single-Note').val("");
			$('#single-RangeStart').val("");
			$('#single-RangeEnd').val("");
			$('#single-Draws').val("");
			$('#single-Selections').val("");
			$('#single-Replacement').prop( "checked", false );
			$('#single-95').prop( "checked", false );
			$('#single-98').prop( "checked", false );
			$('#single-99').prop( "checked", false );
		}

		function fileExists(file) {
			var exists = $.grep(fileArray, function (obj) {
				return obj.name === file.name;
			});
			return (exists.length !== 0)
		}
	</script>
}