﻿@model Submissions.Web.Areas.Protrack.Models.MathQueue.MathCompleteVM
@{
    ViewBag.Title = "Math Complete - " + @Model.ProjectName;
}
<div id="MathComplete">
@using (Html.BeginForm("SaveMathComplete", "MathQueue", FormMethod.Post, new { mathViewModel = Model, Id = "MathCompleteForm" }))
{
@Html.HiddenFor(model => model.ProjectId)   
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.SelFeatureItems)
@Html.HiddenFor(model => model.SourceType)

    <div class="row">
        <div class="col-sm-12 form-buttons text-right">
            @if (Model.IsLocked != true) { 
            <button type="button" id="SaveMathComplete" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save</button>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @if (Model.Id == 0)
            {
                @: <h4 class="form-h4"><small>New Math Review:</small></h4>
            }
            else
            {
                @: <h4 class="form-h4"><small>Math Review form:</small></h4>
            }
        </div>
        @if (Model.Id == 0)
        {
        <div class="col-sm-9">
            <table><tr><td><small>Load From Previous File:</small></td><td>@Html.TextBoxFor(x => x.LoadPrevProject, new { @class = "form-control", @style = "width:150px" })</td><td>&nbsp;<a href="#" id="LoadFromPrevious">load</a></td></tr></table>
        </div>
        }
    </div>
    <div class="row col-sm-12" style="border:1px solid;border-color:lightgray">
        @if (!String.IsNullOrEmpty(Model.ForeignProject))
        {<font class="text-warning"><small>(*This form was merged from @Model.ForeignProject)</small></font>}
        <br />
        <div class="form-group row">
            <div class="form-group col-sm-4">
                <label for="FileNumber">File Number:</label>
                @Html.DisplayFor(m => m.ProjectName)<br />
                <label for="Office">Office:</label>
                @Html.DisplayFor(m => m.Location)
            </div>
            <div class="form-group col-sm-4">
                <label for="IsReviewRush">Expedite Review:</label>
                @Html.RadioButtonFor(m => m.IsReviewRush, true, new { @class = "radio-inline" }) Yes
                @Html.RadioButtonFor(m => m.IsReviewRush, false, new { @class = "radio-inline" }) No
            </div>
            @if (Model.Status == MathReviewStatus.PN.ToString() || Model.NeedsReview != true)
            {
            <div class="form-group col-sm-4">
                <div>
                    <label for="NeedsReview">Needs Review?</label>
                    @Html.RadioButtonFor(m => m.NeedsReview, true, new { @class = "radio-inline" }) Yes
                    @Html.RadioButtonFor(m => m.NeedsReview, false, new { @class = "radio-inline" }) No
                </div>
                <div>
                    <label for="NeedsReview"><font class="text-warning">Is this Peer Review?</font></label>
                    @Html.RadioButtonFor(m => m.IsPeerReview, true, new { @class = "radio-inline" }) Yes
                    @Html.RadioButtonFor(m => m.IsPeerReview, false, new { @class = "radio-inline" }) No
                </div>
            </div>
               
            }
        </div>
        <div class="form-group row">
            <div class="form-group col-sm-6">
                    <label>Program ID(s):</label><small>(Display only, no selection required)</small>
                    <div id="" style="overflow-y: scroll; height:100px;">
                        @foreach (var program in Model.AllProgramIds)
                        {
                            @program.Text <br />
                        }
                    </div>
                    <br />
                    <label>Game Name(s):</label><small>(Display only, no selection required)</small>
                    <div id="" style="overflow-y: scroll; height:100px;">
                        @foreach (var game in Model.AllGames)
                        {
                            @game.Text <br />
                        }
                    </div>
            </div>
            <div class="form-group col-sm-1">
                <label class="col-form-label">Theme:</label>
            </div>
            <div class="form-group col-sm-4">
                @Html.DropDownListFor(x => x.ReviewId, new SelectList(Model.AllThemes as System.Collections.IEnumerable, "Id", "Text",Model.ReviewId.ToString()),new { @class = "form-control" })
            </div>
        </div>
        @foreach (var feature in Model.FeatureItems)
        {
            if (feature.AllFeatureItems.Count > 0)
            { 
                <div class="form-group row col-xs-12">
                    <label class="col-form-label">Select @Enum.Parse(typeof(MathFeature),feature.Feature.ToString()).GetEnumDescription() </label>
                    <div class="text-left">
                        @Html.ListBox(@feature.Feature.ToString(), new MultiSelectList(feature.AllFeatureItems as System.Collections.IEnumerable, "MathFeatureItemId", "MathFeatureItem", feature.SelFeatureItems as System.Collections.IEnumerable), new { @class = "form-control Features" })
                        <!--@Html.ListBoxFor(m => feature.SelFeatureItems, new MultiSelectList(feature.AllFeatureItems as System.Collections.IEnumerable, "MathFeatureItemId", "MathFeatureItem", feature.SelFeatureItems as System.Collections.IEnumerable), new { @class = "form-control" })-->
                    </div>
                </div>
            }
        }
        <div class="form-group row col-xs-12">
            <label for="TopAward" class="col-form-label">Top Award Occurs in..</label>
            <div class="text-left">
                @Html.RadioButtonFor(m => m.TopAwardOccursIn, "Base", new { @class = "radio-inline" }) Base
                @Html.RadioButtonFor(m => m.TopAwardOccursIn, "Bonus", new { @class = "radio-inline" }) Bonus
                @Html.RadioButtonFor(m => m.TopAwardOccursIn, "Base and Bonus", new { @class = "radio-inline" }) Base and Bonus
            </div>
        </div>
        <div class="form-group row col-xs-12">
            <label for="NotesToMath" class="col-form-label">Special Notes</label>
            <div class="text-left">
                @Html.TextAreaFor(x => x.Note, 4, 10, new { @class = "form-control"})
            </div>
        </div>
        <div class="row col-xs-12">
            <div class="col-xs-4 text-left"><p class="muted"><small>Submitted by - @Model.Submitter</small></p></div>
            <div class="col-xs-4"><p class="muted"><small>Reviewed by - @Model.CompletedBy</small></p></div>
            <div class="col-xs-4 text-right"><p class="muted"><small>Last Modified by - @Model.Modifier</small></p></div>
        </div>
   </div>
}
</div>
<script>
    $(function () {
        loadDocumentReady();

        $("#LoadFromPrevious").click(function () {
           
            if ($('#LoadPrevProject').val() == "") {
                bootbox.alert("Please select file.")
            }
            else if ($('#ReviewId').val() == 0) {
                bootbox.alert("Please select Theme.")
            }
            else {
                var url = '@Url.Action("LoadFromPreviousProject", "MathQueue")?file=' + $('#LoadPrevProject').val() + '&theme=' + $('#ReviewId option:selected').text() + '&projectId=' + $('#ProjectId').val() + '&sourceType=' + $('#SourceType').val()
                $.ajax({
                    url: url,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#MathComplete').html(result)
                    }
                });
            }
        });

    });

    $('#SaveMathComplete').click(function () {
        var ErrorMsg = ''
        if ($('#ReviewId').val() == 0) {
            ErrorMsg += "Please select Theme.<br>"
        }
        else if ($('input[Id=NeedsReview]:radio:checked').val() == undefined) {
            ErrorMsg += "Please select if this form needs review.<br>"
        }
        else {
            //Check if math complete exists for a selected theme
        }

       
        var SelFeatures = [];
        $('.Features').each(function (i, obj) {
            ///alert(obj.name);
            if ($('#' + obj.name).val() != null) {
                var affectedObject = {};
                affectedObject.Feature = obj.name;
                affectedObject.SelVal = $('#' + obj.name).val();
                SelFeatures.push(affectedObject);
            }
        });

        $("#SelFeatureItems").val(JSON.stringify(SelFeatures))
             
        if (ErrorMsg == '') {
            bootbox.confirm("Are you sure you want to save this math complete?", function (result) {
                if (result) { $('#MathCompleteForm').submit() };
            });
        }
        else {
            bootbox.alert(ErrorMsg);
            return false;
        }
    })

    $('#MathCompleteForm').submit(function () {
        if (($("#SourceType").val() == "@MathListType.AllReviewList.ToString()")) {
            return true;
        }
        else {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    bootbox.alert("Math Complete saved successfully.")
                }
            });
            return false;
        }
        
    });
</script>
