﻿@model Submissions.Web.Areas.Protrack.Models.MathQueue.MathReviewTasks
@{
	ViewBag.NoNavBar = false;
	ViewBag.NoFooter = true;
}
<div class="modal-header">
	<div class="row">
		<div class="col-sm-12 form-buttons text-right">
			<button type="button" id="Save" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save</button>
			<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>
</div>
@using (Html.BeginForm("AssignTask", "MathQueue", FormMethod.Post, new { ReviewTasksVM = Model, Id = "ReviewTaskForm" }))
{
@Html.HiddenFor(m => m.currentReviewTaskId)
@Html.HiddenFor(m => m.ReviewId)
@Html.HiddenFor(m => m.MathReviewType)
<div class="modal-body">
	<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					@if (Model.MathReviewType == MathReviewType.Submit.ToString()){
						<h3 class="panel-title">Link Math Analysis Tasks For @Model.ProjectName (Theme: @Model.Theme)</h3>
					}
					else
					{
						<h3 class="panel-title">Link Math Review Tasks For @Model.ProjectName (Theme: @Model.Theme)</h3>
					}
				</div>
				<div class="panel-body">
				   
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th>Task</th>
									<th>Assigned To</th>
									<th>Est Hrs.</th>
									<th>Assigned On</th>
									<th>Target Date</th>
								</tr>
							</thead>
							<tbody>

								@for (var i = 0; i < Model.MathTasks.Count; i++)
								{
									<tr>
										@if (Model.currentReviewTaskId == Model.MathTasks[i].TaskId)
										{
											<td><input type="radio" checked  value="@Model.MathTasks[i].TaskId" name="SelTask" id="selTask" /></td>
										}
										else
										{
											<td><input type="radio" value="@Model.MathTasks[i].TaskId" name="SelTask" id="selTask" /></td>
										}
																			   
										<td>@Model.MathTasks[i].TaskName</td>
										<td>@Model.MathTasks[i].AssignTo</td>
										<td>@Model.MathTasks[i].EstHrs</td>
										<td>@Model.MathTasks[i].AssignedOn</td>
										<td>@Model.MathTasks[i].TaskTarget</td>
									</tr>
								}

							</tbody>
						</table>
				   
				</div>
			</div>
	</div>
</div>
}
<script>
	$(function () {
			
			$('#Save').click(function () {
				if ($("input[type='radio'][name='SelTask']:checked").val() != "")
				{
					$('#currentReviewTaskId').val($("input[type='radio'][name='SelTask']:checked").val())
					$('#ReviewTaskForm').submit()
				}
			});
					
			$('#ReviewTaskForm').submit(function () {

				$('#Save').prop("disabled", true);
				$.ajax({
					url: this.action,
					type: this.method,
					data: $(this).serialize(),
					success: function (result) {
						if ("@Request["OnlyRefreshValues"]" == 1)
						{
							$('#myModal').modal('toggle');
							//ReloadGrid();
						}
					}
				});
				return false;
			});
		});
</script>