﻿@model Submissions.Web.Areas.Protrack.Models.MathQueue.IndexViewModel
@{
	ViewBag.Title = "Math Queue Manager";
	ViewBag.FullWidth = true;
}

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.ui-jqgrid tr.jqgrow td {
			white-space: normal;
			vertical-align: top;
		}

		.nav-pills {
			line-height: 1px;
		}

		.Tabview {
			border-bottom-style: solid;
			border-bottom-width: thin;
			border-bottom-color: lightgray;
		}

		#Tabview > li {
			background-color: #eeeeee;
		}

		.modal.modal-wide .modal-dialog {
			width: 60%;
			height: auto;
		}

		.zIndex {
			z-index: 10000000;
		}

		.margin-button-right {
			margin-right:10px;
		}

		.ctm-hidden {
			display:none;
		}
	</style>
}

@(Html.Trirand().JQDatePicker(
	new JQDatePicker
		{
			DisplayMode = DatePickerDisplayMode.ControlEditor,
			DateFormat = "m/d/yyyy",
			ShowOn = ShowOn.Focus,
		}, "DatePicker")
)

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">

		@if (Model.MathGridType == MathGridType.Reviews)
		{
			<button type="button" class="btn btn-sm btn-primary margin-button-right" id="MarkComplete" onclick="return MarkComplete()">Mark Complete</button>
		}
		else if (Model.MathGridType == MathGridType.ReviewsDN)
		{
			<button type="button" class="btn btn-sm btn-primary margin-button-right" id="MarkUnComplete" onclick="return MarkUnComplete()">Mark UnComplete</button>
		}

		<button type="button" class="btn btn-sm btn-primary" id="Search"><i class="fas fa-filter"></i>&nbsp;Filter</button>
	</div>
</div>

<div class="row">
	@Html.HiddenFor(x => x.Filters.ReviewStatus)
	@Html.HiddenFor(x => x.Filters.TaskStatus)
	@Html.HiddenFor(x => x.MathGridType)
	@Html.HiddenFor(x => x.selIds)
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Math Projects Search <a class=" panel-toggle" data-toggle="collapse" href="#MathProjectSearch"><i class="indicator fas fa-chevron-circle-down pull-right"></i></a></h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div id="MathProjectSearch" class="panel-collapse collapse">
						<form class="form-horizontal">
							<div class="row">
								<div class="col-sm-3">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.LaboratoryId, new { @class = "control-label col-sm-3" })
										<div class="col-sm-9">
											@Html.LookupMultipleFor(m => m.Filters.LaboratoryIds, Model.Filters.Laboratories, LookupAjax.Laboratories, false)
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.ManufacturerShort, new { @class = "control-label col-sm-3" })
										<div class="col-sm-9">
											@Html.LookupFor(m => m.Filters.ManufacturerShort, m => m.Filters.Manufacturer, LookupAjax.Manufacturers, false, new { @style = "width:200px" })
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.MAManager, new { @class = "control-label col-sm-4" })
										<div class="col-sm-8">
											@Html.LookupFor(m => m.Filters.MAManagerId, m => m.Filters.MAManager, LookupAjax.Users, false, new { @style = "width:200px" })
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.FileNumber, new { @class = "control-label col-sm-5" })
										<div class="col-sm-7">
											@Html.TextBoxFor(m => m.Filters.FileNumber, new { @class = "form-control" })
										</div>
									</div>
								</div>


							</div>
							<div class="row">
								<div class="col-sm-3">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.ManufacturerGroupIds, new { @class = "control-label col-sm-3" })
										<div class="col-sm-9">
											@Html.LookupMultipleFor(m => m.Filters.ManufacturerGroupIds, Model.Filters.ManufacturerGroups, LookupAjax.MathQueueManufacturerGroups, false)
											<div id="excludeManufGroupWrapper" class="ctm-hidden">
												@Html.CheckBoxFor(m => m.Filters.ExcludeMathQueueGroups, new { title = "Exclude Math Queue Groups" })
												@Html.LabelFor(m => m.Filters.ExcludeMathQueueGroups, new { @class = "control-label" })
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row ">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
		<ul class="nav nav-pills" id="Tabview">
			@if (Model.MathGridType == MathGridType.Reviews)
			{
				<li class="active"><a href="javascript:SetGrid('@MathGridType.Reviews.ToString()')">Math Requests</a></li>
			}
			else
			{
				<li><a href="javascript:SetGrid('@MathGridType.Reviews.ToString()')">Math Requests</a></li>
			}
			@if (Model.MathGridType == MathGridType.Tasks)
			{
				<li class="active"><a href="javascript:SetGrid('@MathGridType.Tasks.ToString()')">Math Tasks Status</a></li>
			}
			else
			{
				<li><a href="javascript:SetGrid('@MathGridType.Tasks.ToString()')">Math Tasks Status</a></li>
			}
			@if (Model.MathGridType == MathGridType.ReviewsDN)
			{
				<li class="active"><a href="javascript:SetGrid('@MathGridType.ReviewsDN.ToString()')">Math Requests(Completed)</a></li>
			}
			else
			{
				<li><a href="javascript:SetGrid('@MathGridType.ReviewsDN.ToString()')">Math Requests(Completed)</a></li>
			}
		</ul>
	</div>
	<div class="col-sm-4">
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		@if (Model.MathGridType == MathGridType.Tasks)
		{
			@Html.Trirand().JQGrid(Model.TasksGrid.Grid, Model.TasksGrid.Grid.ID) ;
		}
		else if (Model.MathGridType == MathGridType.ReviewsDN)
		{
			@Html.Trirand().JQGrid(Model.ReviewGridDN.Grid, Model.ReviewGridDN.Grid.ID)
		}
		else
		{
			@Html.Trirand().JQGrid(Model.ReviewGrid.Grid, Model.ReviewGrid.Grid.ID)
		}
		@{Html.RenderPartial("GridsAutoComplete/_Task");}
	</div>
</div>


<!--Modal Info-->
<div class="modal modal-wide fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div id='ModalContainer'>
						loading....
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/colorpicker")
	<script>
		var grid = '';
		if ($('#MathGridType').val() == '@MathGridType.Tasks.ToString()') {
			grid = $('#' + '@Model.TasksGrid.Grid.ID')
		}
		else if ($('#MathGridType').val() == '@MathGridType.ReviewsDN.ToString()') {
			grid = $('#' + '@Model.ReviewGridDN.Grid.ID')
		}
		else {
			grid = $('#' + '@Model.ReviewGrid.Grid.ID')
		}
		$(function () {

			$('#Filters_ManufacturerGroupIds').on("change", function (e) {
				if ($(e.target).val() > 0) {
					$('#excludeManufGroupWrapper').show('slow');
				}
				else {
					$('#excludeManufGroupWrapper').hide('slow');
				}
			});

			$(window).resize(function () {
				setGridHeightWidth();
			});

			@if (!Util.HasAccess(Permission.UKQueue, AccessRight.Read))
			{
				@:var tempGrid = $('#' + '@Model.ReviewGrid.Grid.ID');
				@:$(tempGrid).jqGrid('hideCol', ["EstimateCompleteDate"]);
			}

			$(document).bind("click", function (event) {
				$("div.custom-menu").hide();
			});

			$('#Search').click(function () {
				ReloadGrid()
			});

			grid.jqGrid("setGridParam", {
				gridComplete: function () {
					$('.SelAssign').each(function () {
						initializeLookupAjax(this);
					});
					$('.TaskTarget').each(function () {
						$(this).datetimepicker({
							format: 'l',
							useCurrent: false,
							showClear: true
						});
						$(this).addClass("zIndex");
					});
					setGridHeightWidth();
				},
				beforeSelectRow: function (rowid, e) {
					if (!e) e = window.event;
					var element = e.target || e.srcElement
					if (element.className.indexOf('fa-external-link') > -1 || element.getAttribute("role") != "checkbox") //fix for selecting unchecks/checks checbox
					{
						return false;
					}
					else {
						return true;
					}
				}
			});

		});

		function getHeight() {
			var viewportHeight;
			///var viewportWidth;
			if (document.compatMode === 'BackCompat') {
				viewportHeight = document.body.clientHeight;
				//viewportWidth = document.body.clientWidth;
			} else {
				viewportHeight = document.documentElement.clientHeight;
				//viewportWidth = document.documentElement.clientWidth;
			}

			var height = viewportHeight - 380
			return height;
		}

		function setGridHeightWidth() {
			var height = getHeight();
			// $(grid).parents('div.ui-jqgrid-bdiv').css("max-height", height);
			// $(grid).setGridWidth($(window).width() - 200);
		}

		function AssignTasks() {
			var grid = $('#' + '@Model.ReviewGrid.Grid.ID')
			var selIds = $(grid).jqGrid('getGridParam', 'selarrrow');

			if (selIds == "") {
				bootbox.alert("Please select Project Review(s).");
			}
			else {
				var ReviewIds = [];
				for (i = 0, n = selIds.length; i < n; i++) {
					var item = {};
					item.ReviewId = selIds[i];
					//var cellValue = $(grid).jqGrid('getCell', selIds[i], 'ReviewType');
					var columnIndex = $(grid).getColumnIndexByName("ReviewType")
					var cellValue = $("#" + selIds[i]).find('td').eq(columnIndex + 1).text();
					if (cellValue == "@MathReviewType.Review.ToString()") {
						item.ReviewType = "@MathReviewType.Review.ToString()"
					}
					else {
						item.ReviewType = "@MathReviewType.Submit.ToString()"
					}

					//AssignedTo
					var AssignTo = $('#SelInReviewAssign' + selIds[i]).val();
					var EstHrs = $('#txtEstHrs' + selIds[i]).val();
					var TargetDate = $('#txtTarget' + selIds[i]).val();

					if (EstHrs == '') { var EstHrs = 0 }

					if (AssignTo == '' || AssignTo == null) {
						bootbox.alert("Please select an engineer.");
						return false;
					}
					if (TargetDate != null) {
						var newtargetDate = new Date(TargetDate)
					}

					item.AssignTo = AssignTo
					item.EstHrs = EstHrs
					item.TargetDate = newtargetDate

					ReviewIds.push(item);
				}

				var sId = JSON.stringify(ReviewIds);
				bootbox.confirm("Are You sure you want to assign tasks for selected Project(s)?", function (result) {
					if (result) {
						var mathFilters = JSON.stringify(getFilters())
						var url = '@Url.Action("AssignTasks", "MathQueue")?selIds=' + sId + '&mathFilters=' + mathFilters + '&mathGridType=' + $('#MathGridType').val();
						window.location.href = url;
					}
				})

			}
		}

		function MarkComplete() {
			var grid = $('#' + '@Model.ReviewGrid.Grid.ID')
			var selIds = $(grid).jqGrid('getGridParam', 'selarrrow');

			if (selIds == "") {
				bootbox.alert("Please select Project Review(s).");
			}
			else {
				var fileList = ''
				var fileNumberColIndex = $(grid).getColumnIndexByName("ProjectName")
				for (var i = 0; i < selIds.length; i++) {
					var filenumber = $("#" + selIds[i]).find('td').eq(fileNumberColIndex + 1).text();
					if (filenumber.indexOf('<a') > -1) {
						filenumber = $(filenumber).text()
					}
					fileList += filenumber + '<br>'
				}
				var sMessage = '<p>This action will affect the ' + selIds.length + ' selected projects. Are You sure Protrack Tasks has been assigned for selected Project(s)?</p>';
				sMessage += "Selected Project(s):<br>"
				sMessage += '<div style="height:250px;overflow-y: scroll;">'
				sMessage += fileList
				sMessage += '</div>'

				var ReviewIds = [];
				for (i = 0, n = selIds.length; i < n; i++) {
					var item = {};
					item.ReviewId = selIds[i];
					//var cellValue = $(grid).jqGrid('getCell', selIds[i], 'ReviewType');
					var columnIndex = $(grid).getColumnIndexByName("ReviewType")
					var cellValue = $("#" + selIds[i]).find('td').eq(columnIndex + 1).text();
					if (cellValue == "@MathReviewType.Review.ToString()") {
						item.ReviewType = "@MathReviewType.Review.ToString()"
					}
					else {
						item.ReviewType = "@MathReviewType.Submit.ToString()"
					}
					ReviewIds.push(item);
				}

				var sId = JSON.stringify(ReviewIds);
				bootbox.confirm(sMessage,function (result) {
					if (result) {
						//var mathFilters = JSON.stringify(getFilters())
						var url = '@Url.Action("MarkReviewComplete", "MathQueue")?selIds=' + sId //+ '&mathFilters=' + mathFilters + '&mathGridType=' + $('#MathGridType').val();
						//window.location.href = url;
						$.ajax({
							url: url,
							success: function (data) {
								if (data == "OK") {
									ReloadGrid()
								}
							},
						});

					}
				})
			}
		}

		function ReloadGrid() {
			grid.trigger('reloadGrid', [{ page: 1 }]);
		}

		function MarkUnComplete() {
			var grid = $('#' + '@Model.ReviewGrid.Grid.ID')
			var selIds = $(grid).jqGrid('getGridParam', 'selarrrow');

			if (selIds == "") {
				bootbox.alert("Please select Project(s).");
			}

			else {
				var fileList = ''
				var fileNumberColIndex = $(grid).getColumnIndexByName("ProjectName")
				for (var i = 0; i < selIds.length; i++) {
					var filenumber = $("#" + selIds[i]).find('td').eq(fileNumberColIndex + 1).text();
					if (filenumber.indexOf('<a') > -1) {
						filenumber = $(filenumber).text()
					}
					fileList += filenumber + '<br>'
				}
				var sMessage = '<p>This action will affect the ' + selIds.length + ' selected projects. Are You sure you want to Mark selected Review(s) to UnComplete?</p>';
				sMessage += "Selected Project(s):<br>"
				sMessage += '<div style="height:250px;overflow-y: scroll;">'
				sMessage += fileList
				sMessage += '</div>'

				var ReviewIds = [];
				for (i = 0, n = selIds.length; i < n; i++) {
					var item = {};
					item.ReviewId = selIds[i];
					//var cellValue = $(grid).jqGrid('getCell', selIds[i], 'ReviewType');
					var columnIndex = $(grid).getColumnIndexByName("ReviewType")
					var cellValue = $("#" + selIds[i]).find('td').eq(columnIndex + 1).text();
					if (cellValue == "@MathReviewType.Review.ToString()") {
						item.ReviewType = "@MathReviewType.Review.ToString()"
					}
					else {
						item.ReviewType = "@MathReviewType.Submit.ToString()"
					}
					ReviewIds.push(item);
				}

				var sId = JSON.stringify(ReviewIds);


				bootbox.confirm(sMessage, function (result) {
					if (result) {
						//var mathFilters = JSON.stringify(getFilters())
						var url = '@Url.Action("MarkReviewUnComplete", "MathQueue")?selIds=' + sId //+ '&mathFilters=' + mathFilters + '&mathGridType=' + $('#MathGridType').val();
						//window.location.href = url;
						$.ajax({
							url: url,
							success: function (data) {
								if (data == "OK") {
									ReloadGrid()
								}
							},
						});
					}
				})
			}
		}


		function SetGrid(Type) {
			var mathFilters = JSON.stringify(getFilters())
			var url = '@Url.Action("SetGridType", "MathQueue")?mathFilters=' + mathFilters + '&mathGridType=' + Type;
			window.location.href = url;
		}

		function tasksGridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getTasksFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function getTasksFilters() {
			var filters = {};

			filters.DepartmentId = 2;
			filters.Status = $('#Filters_TaskStatus').val();
			filters.FileNumber = $('#Filters_FileNumber').val();
			filters.LaboratoryIds = $('#Filters_LaboratoryIds').val();
			filters.ManufacturerShort = $('#Filters_ManufacturerShort').val();
			filters.MAManagerId = $('#Filters_MAManagerId').val();
			filters.ManufacturerGroupIds = $('#Filters_ManufacturerGroupIds').val();
			filters.ExcludeMathQueueGroups = $('#Filters_ExcludeMathQueueGroups').is(':checked');

			return filters;
		}

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());

			$(this).jqGrid('setGridParam', { postData: postData });
		};

		function getFilters() {
			var filters = {};
			//MathReviewStatus
			if ($('#MathGridType').val() == "@MathGridType.ReviewsDN") {
				filters.Status = "@MathReviewStatus.DN.ToString()";
			}
			else {
				filters.Status = $('#Filters_ReviewStatus').val();
			}

			filters.FileNumber = $('#Filters_FileNumber').val();
			filters.LaboratoryIds = $('#Filters_LaboratoryIds').val();
			filters.ManufacturerShort = $('#Filters_ManufacturerShort').val();
			filters.MAManagerId = $('#Filters_MAManagerId').val();
			filters.ManufacturerGroupIds = $('#Filters_ManufacturerGroupIds').val();
			filters.ExcludeMathQueueGroups = $('#Filters_ExcludeMathQueueGroups').is(':checked');

			return filters;
		}

		function openDetail(id) {
			window.open('@Url.Action("Detail", "Project")' + '/' + id)
			//window.open('http://' + '@Request.ServerVariables["SERVER_NAME"]' + '/projDetail.asp?projectId=' + id);
		}

		function typeLink(cellValue, options, rowObject) {
			var val = cellValue
			if (cellValue == "@MathReviewType.Review.ToString()") {
				var PreAppend = ""
				if (rowObject[$(this).getColumnIndexByName("IsPeerReview")] == "True") {
					PreAppend = "<span style='color:blue'> Peer </span>"
				}
				val = PreAppend + "<span style='color:red'>" + val + "</span>"
			}
			if (rowObject[$(this).getColumnIndexByName("IsMathRush")] == "True") {
				val = val + "&nbsp;<i class='far fa-clock rushProject' aria-hidden='true' title='Expedite Math'></i>&nbsp;"
			}
			return val;
		}

		function TargetTaskformatter(cellValue, options, rowObject) {
			var txtTarget = '<input  title="Task Target Date" id="txtTarget' + options.rowId + '" class="form-control TaskTarget" width=100 style="width:100px">'
			return txtTarget;
		}

		function estHrsTaskformatter(cellValue, options, rowObject) {
			var txtEst = '<input  title="Task Est hrs" id="txtEstHrs' + options.rowId + '" class="form-control EstHrs" width=50 style="width: 50px">'
			return txtEst;
		}

		function assignTaskformatter(cellValue, options, rowObject) {
			var tooltip = ''
			//temp, get exact tasks after confirming
			if (rowObject[$(this).getColumnIndexByName("ReviewType")] == "@MathReviewType.Review.ToString()") {
				tooltip = 'Assign ' + '@MathTasks.MathReview.ToString()' + ' To'
			}
			else {
				tooltip = 'Assign ' + '@MathTasks.MathAnalysis.ToString()' + ' To'
			}
			var drpAssign = '<select title="' + tooltip + '" id="SelInReviewAssign' + options.rowId + '" data-lookupajax="@LookupAjax.Users" class="SelAssign" width=150 style="width: 150px;font-size:8px"></select>'
			return drpAssign;
		}

		function assignLink(cellValue, options, rowObject) {
			if (rowObject[$(this).getColumnIndexByName("ReviewStatus")] == "@MathReviewStatus.DN") {
				return ""
			}
			else {
				//return '<a target="_new" href="' + '@Url.Action("Edit", "Tasks")' + '/' + rowObject[$(this).getColumnIndexByName("ProjectId")] + '">Assign</a>'
				var reviewType = "@MathReviewType.Submit.ToString()"
				if (rowObject[$(this).getColumnIndexByName("ReviewType")] == "@MathReviewType.Review.ToString()") {
					reviewType = "@MathReviewType.Review.ToString()"
				}

				var link = '<a target="_new" href="' + '@Url.Action("Edit", "Tasks")?id=' + rowObject[$(this).getColumnIndexByName("ProjectId")] + '">Assign</a>'
				if (reviewType == "@MathReviewType.Submit.ToString()") {
					link = '<a target="_new" href="' + '@Url.Action("Edit", "Tasks")?id=' + rowObject[$(this).getColumnIndexByName("ProjectId")] + '&sourceMathReview=' + options.rowId + '">Assign</a>'
				}
				else if (reviewType == "@MathReviewType.Review.ToString()") {
					link = '<a target="_new" href="' + '@Url.Action("Edit", "Tasks")?id=' + rowObject[$(this).getColumnIndexByName("ProjectId")] + '&sourceMathComplete=' + options.rowId + '">Assign</a>'
				}

				return link;
			}
		}

		function viewHours(cellValue, options, rowObject) {
			var TotalProjectHours = cellValue
			var hours = cellValue

			if (rowObject[$(this).getColumnIndexByName("ReviewTaskTime")] != "") {
				hours = rowObject[$(this).getColumnIndexByName("ReviewTaskTime")]
			}
			if (hours != "" && hours != "0.00") {
				if (hours == TotalProjectHours) {
					hours = '<font class="text-warning" title="Project Total Math Tasks Estimate">' + hours + '</font>'
				}
				hours = hours + '&nbsp;<A href="javascript:openMathTasks(' + options.rowId + ',\'' + rowObject[$(this).getColumnIndexByName("ReviewType")] + '\')" Title="Link Exisiting Task/View Assigned Task"><i class="fas fa-external-link-alt" aria-hidden="true"></i></A>'
			}
			return hours
		}

		function openMathTasks(ReviewId, ReviewType) {
			var url = '';
			url = '@Url.Action("LoadMathReviewTasks", "MathQueue")?reviewId=' + ReviewId + '&type=' + ReviewType + '&OnlyRefreshValues=1'

			$('#ModalContainer').load(url);
			$('#myModal').modal('show');
		}

		function viewLink(cellValue, options, rowObject) {
			return '<a href="javascript:openform(' + options.rowId + ',\'' + rowObject[$(this).getColumnIndexByName("ReviewType")] + '\',' + rowObject[$(this).getColumnIndexByName("ProjectId")] + ')">View</a>';
		}

	  function detailLink(cellValue, options, rowObject) {
			var append = ""
			if (rowObject[$(this).getColumnIndexByName("IsRush")] == "True") {
				append = "<i class='far fa-clock rushProject' aria-hidden='true' title='Expedite Project'></i>&nbsp;"
			}

			var link = '<a target="_new" href="' + '@Url.Action("Detail", "Project")' + '/' + rowObject[$(this).getColumnIndexByName("ProjectId")] + '">' + cellValue + '</a>'

			return append + link
		}

		function openform(id, type, projectId) {
			var url = '';

			if (type == "@MathReviewType.Review.ToString()") {
				url = '@Url.Action("LoadMathComplete", "MathQueue")?projectId=' + projectId + '&Id=' + id + '&sourceType=' + "@MathListType.MQM.ToString()"
			}
			else {
				url = '@Url.Action("LoadMathSubmit", "MathQueue")?projectId=' + projectId + '&id=' + id + '&sourceType=' + "@MathListType.MQM.ToString()"
			}

			$('#ModalContainer').load(url);
			$('#myModal').modal('show');
		}
	</script>
}
