﻿@model Submissions.Web.Areas.Protrack.Models.MathQueue.MathReviewIndexViewModel
@{
	if (Request["FromClassic"] != null)
	{
		ViewBag.noNavBar = true;
	}
}
<style>
   
</style>
@{
	ViewBag.Title = "Math Request/Review forms - " + Model.ProjectName ;
}
@if (Model.SourceListType == MathListType.AllReviewList)
{
	
<div class="row">
	<div class="col-sm-6">
		<h4 class="form-h4">Math Forms - <small>@Model.ProjectName</small></h4>
	</div>
	<div class="col-sm-6 text-right">
		<input type="reset" id="CancelBtn" class="btn btn-primary btn-sm" value="Cancel" onclick="window.close()">
	</div>
</div>
<br />
}
<div id="Math">
		<div class="row">
			<div class="col-sm-4 text-left">
				<p>
					<a href="javascript:loadReview(0)"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;New Math Request</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@if (Model.SourceListType == MathListType.AllReviewList && Model.ThemeAvailableForMathComplete == true)
{<a href="javascript:loadComplete(0)"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;New Math Review</a>}
				</p>
			@if (Model.MathReviews.Count > 0)
			{
			<table class="table">
				<thead>
					<tr>
						<th>Submitted On</th>
						<th>Theme</th>
						<th>Type</th>
						<th>Reviewed?</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@for (var i = 0; i < Model.MathReviews.Count; i++)
						{
						<tr>
							<td>@Model.MathReviews[i].Submitted</td>
							<td>@Model.MathReviews[i].Theme @if (! String.IsNullOrEmpty(Model.MathReviews[i].ForeignProject)){<i class="fas fa-exclamation text-warning" aria-hidden="true" title="This form was merged from @Model.MathReviews[i].ForeignProject"></i>} </td>
							<td>@Model.MathReviews[i].AnalysisType</td>
							<td>
								@if (@Model.MathReviews[i].Status == MathReviewStatus.DN.ToString())
								{
									@:Yes
								}
								else
								{
									@:No
								}
							</td>
							@if (@Model.MathReviews[i].AnalysisType == MathReviewType.Review.ToString() )
							{
								<td><a href="javascript:loadComplete('@Model.MathReviews[i].Id')" title="View"><i class="far fa-folder-open"></i></a></td>
								<td>@if (@Model.MathReviews[i].Status != MathReviewStatus.DN.ToString() && Util.HasAccess(Permission.MathForms, AccessRight.Delete))
									{
									<a href="javascript:deleteComplete('@Model.MathReviews[i].Id')" title="Delete"><i class="fas fa-trash-alt"></i></a>
									}
								 </td>
							}
							else
							{
								<td><a href="javascript:loadReview('@Model.MathReviews[i].Id')" title="View"><i class="far fa-folder-open"></i></a></td>
								<td>@if (@Model.MathReviews[i].Status != MathReviewStatus.DN.ToString() && Util.HasAccess(Permission.MathForms, AccessRight.Delete))
									{
									<a href="javascript:deleteReview('@Model.MathReviews[i].Id')" title="Delete"><i class="fas fa-trash-alt"></i></a>
									}
								</td>
							}
						</tr>
						}
				</tbody>
			</table>
			}
			else
			{
			@: No Math Reviews.
			}
			</div>
			<div class="col-sm-8">
				<div id="ReviewData">

				</div>
			</div>
		</div>
	</div>

	<script>
	$(function () {

	});

	function loadReview(reviewId) {

		var url = "@Url.Action("LoadMathSubmit", "MathQueue")?projectId=@Model.ProjectId&id=" + reviewId + "&sourceType=" + "@Model.SourceListType.ToString()";
		$('#ReviewData').load(url);
	}

	function loadComplete(completeId) {
		var url = "@Url.Action("LoadMathComplete", "MathQueue")?projectId=@Model.ProjectId&id=" + completeId + "&sourceType=" + "@Model.SourceListType.ToString()";
		$('#ReviewData').load(url);
	}

	function deleteReview(reviewId) {
		var url = "@Url.Action("DeleteMathIncoming", "MathQueue")?projectId=@Model.ProjectId&MathReviewId=" + reviewId + "&sourceType=" + "@Model.SourceListType.ToString()";
		if ("@Model.SourceListType.ToString()" == "@MathListType.Incoming.ToString()") {
			$('#Math').load(url);
		}
		else {
			window.location.href = url
		}
	}

	function deleteComplete(completeId) {
		var url = "@Url.Action("DeleteMathComplete", "MathQueue")?projectId=@Model.ProjectId&MathCompleteId=" + completeId + "&sourceType=" + "@Model.SourceListType.ToString()";
			 if ("@Model.SourceListType.ToString()" == "@MathListType.Incoming.ToString()")
			 {
				 $('#Math').load(url);
			 }
			 else
			 {
				 window.location.href = url
			 }
		}

	</script>
