﻿@model Submissions.Web.Models.Widgets.ChooseTypeViewModel

@{
	ViewBag.Title = "Choose Widget Type";
}

<div class="modal-dialog" style="width: 500px;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">@ViewBag.Title</h4>
		</div>

		<div class="modal-body">
			<div class="form-horizontal text-center">
				@Html.HiddenFor(x => x.WidgetType)
				<button type="button" class="btn btn-default btnwidgettype" data-type="Chart"><i class="fas fa-chart-area fa-fw fa-5x"></i><br />Chart</button>&nbsp; &nbsp;
				<button type="button" class="btn btn-default btnwidgettype" data-type="List"><i class="far fa-list-alt fa-fw fa-5x"></i><br />List</button>&nbsp; &nbsp;
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
		</div>
	</div>
</div>

<script>
	$(function () {
		$('.btnwidgettype').on('click', function () {
			$('#WidgetType').val($(this).data('type'));
			$('#ChooseWidgetTypeModal').modal('hide');
		});
	});
</script>
