﻿@model Submissions.Web.Models.Widgets.EditListViewModel

@{
	var widget = Model.Widget;

	if (Model.Mode == Mode.Add)
	{
		ViewBag.Title = "Add List Widget";
	}
	else
	{
		ViewBag.Title = "Edit List Widget - " + widget.Title;
	}
}

<form id="WidgetListForm" method="post">
	@Html.HiddenFor(m => widget.Id)
	@Html.HiddenFor(m => widget.Type)
	@Html.HiddenFor(m => widget.DashboardId)
	@Html.HiddenFor(m => widget.Filters)
	@Html.HiddenFor(m => widget.SavedColumns)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.PageSource)
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="pull-right">
					@{Html.RenderPartial("_ModalButtons", new ViewDataDictionary { { "WidgetId", @Model.Widget.Id }, { "Mode", @Model.Mode }, { "ShowExport", true } });}
				</div>
				<h4 class="modal-title">@ViewBag.Title</h4>
			</div>

			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => widget.DataSource, new { @class = "control-label col-sm-3" })
						<div class="col-sm-3">
							@Html.DropDownListFor(m => widget.DataSource, LookupsStandard.ConvertEnum<WidgetDataSource>(showBlank: true))
							@Html.ValidationMessageFor(m => widget.DataSource)
						</div>
					</div>

					<div class="form-group form-group-sm">
						@Html.LabelFor(m => widget.Title, new { @class = "control-label col-sm-3" })
						<div class="col-sm-4">
							@Html.TextBoxFor(m => widget.Title, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => widget.Title)
						</div>
					</div>

					<div class="form-group form-group-sm">
						@Html.LabelFor(m => widget.Color, new { @class = "control-label col-sm-3" })
						<div class="col-sm-4">
							<div class="input-group input-group-sm colorpkr">
								@Html.TextBoxFor(m => widget.Color, new { @class = "form-control" })
								<div class="input-group-addon colorpkr-height"><i></i></div>
							</div>
						</div>
					</div>

					<div class="form-group form-group-sm">
						@Html.LabelFor(m => widget.ToolbarSearch, new { @class = "control-label col-sm-3" })
						<div class="col-sm-4">
							<div class="checkbox">
								<label>@Html.CheckBoxFor(m => widget.ToolbarSearch)</label>
							</div>
						</div>
					</div>

					<div class="form-group form-group-sm">
						@Html.LabelFor(m => widget.ShowOnDashboard, new { @class = "control-label col-sm-3" })
						<div class="col-sm-4">
							<div class="checkbox">
								<label>@Html.CheckBoxFor(m => widget.ShowOnDashboard)</label>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Columns</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-sm-4">Available Fields</div>
										<div class="col-sm-8">Fields to Display</div>
									</div>
									<div class="row">
										<div class="col-sm-4">
											<ul id="sortable1" class="connectedSortable">
												<li class="empty ui-state-highlight ui-state-disabled">No Fields Available</li>
											</ul>
										</div>
										<div class="col-sm-8">
											<ul id="sortable2" class="connectedSortable">
												<li class="empty ui-state-highlight ui-state-disabled">Drag Fields Here</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="SearchCriteria">
						@if (Model.Mode == Mode.Edit)
						{
							@Html.Raw(Model.Widget.FiltersView);
						}
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<div style="font-size:0;">
					@{Html.RenderPartial("_ModalButtons", new ViewDataDictionary { { "WidgetId", @Model.Widget.Id }, { "Mode", @Model.Mode }, { "ShowExport", false } });}
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	var availableColumns = @Html.Raw(Json.Encode(widget.Columns.AvailableColumns));
	var selectedColumns = @Html.Raw(Json.Encode(widget.Columns.SelectedColumns));

	$(function () {
		loadDocumentReady();
		setColumns(availableColumns, selectedColumns);

		// Color Picker Format
		$('.colorpkr').colorpicker({
			format: "hex"
		});

		$('.DlgDeleteBtn').on('click', function () {
			bootbox.confirm('Are you sure you want to Delete this widget?', function (result) {
				if (result) {
					$('#EditWidgetModal').modal('hide');
					$('#WidgetListForm').attr('action', jsPath + 'Widget/Delete');
					$('#WidgetListForm').submit();
				}
			});
		});

		$('.DlgSaveBtn').on('click', function () {
			var form = $('#WidgetListForm');
			if (!form.valid()) {
				return false;
			}

			var column2Array = $('#sortable2').sortable('toArray');
			if (Em(column2Array)) {
				bootbox.alert('Please select at least one Column to display.');
				return false;
			}

			var refresh = false;
			if ($('#Mode').val() === '@Mode.Edit.ToString()' && $('#PageSource').val() === 'Dashboard') {
				if ($('#widget_ToolbarSearch').val() && '@Model.Widget.ToolbarSearch' === 'False') {
					refresh = true;
				};
			}

			var filterView = $('#SearchCriteria :input').serializeObject('Filters.');
			$('#widget_Filters').val(JSON.stringify(filterView));
			$('#widget_SavedColumns').val(JSON.stringify(column2Array));

			$.ajax({
				url: jsPath + 'Widget/EditList',
				type: 'post',
				data: form.serialize(),
				complete: function () {
					if (refresh) {
						location.replace(jsPath + "Dashboard/Index");
					}
					else {
						widgetPostComplete();
					}
				}
			});
		});

		$('#widget_DataSource').on('change', function() {
			var dataSource = $(this).val();
			toggleColumns(dataSource);
			toggleSearchCriteria(dataSource);
		});

		$("#sortable1, #sortable2").sortable({
			connectWith: '.connectedSortable',
			placeholder: 'ui-state-highlight',
			cancel: '.ui-state-disabled',
			remove: function (event, ui) {
				if (!$('li', this).length) {
					if (this.id == 'sortable1')
						$(this).append(sortable1Default);
					else
						$(this).append(sortable2Default);
				}
			},
			receive: function (event, ui) {
				$('.empty', this).remove();
			}
		}).disableSelection();
	});
</script>