﻿@model Submissions.Web.Models.Widgets.EditChartViewModel

@{
	var widget = Model.Widget;

	if (Model.Mode == Mode.Add)
	{
		ViewBag.Title = "Add Chart Widget";
	}
	else
	{
		ViewBag.Title = "Edit Chart Widget - " + widget.Title;
	}
}

<form id="WidgetChartForm" method="post">
	@Html.HiddenFor(m => widget.Id)
	@Html.HiddenFor(m => widget.Type)
	@Html.HiddenFor(m => widget.DashboardId)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.PageSource)
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="pull-right">
					@{Html.RenderPartial("_ModalButtons", new ViewDataDictionary { { "WidgetId", @Model.Widget.Id }, { "Mode", @Model.Mode }, { "ShowExport", false } });}
				</div>
				<h4 class="modal-title">@ViewBag.Title</h4>
			</div>

			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						@Html.LabelFor(model => widget.DataSource, new { @class = "control-label col-sm-2" })
						<div class="col-sm-3">
							@Html.DropDownListFor(model => widget.DataSource, LookupsStandard.ConvertEnum<WidgetDataSource>(showBlank: true))
							@Html.ValidationMessageFor(model => widget.DataSource)
						</div>
					</div>

					<div class="form-group form-group-sm">
						@Html.LabelFor(m => widget.Title, new { @class = "control-label col-sm-2" })
						<div class="col-sm-4">
							@Html.TextBoxFor(m => widget.Title, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => widget.Title)
						</div>
					</div>

					<div class="form-group form-group-sm">
						@Html.LabelFor(m => widget.Color, new { @class = "control-label col-sm-2" })
						<div class="col-sm-4">
							<div class="input-group input-group-sm colorpkr">
								@Html.TextBoxFor(m => widget.Color, new { @class = "form-control" })
								<div class="input-group-addon colorpkr-height"><i></i></div>
							</div>
							@Html.ValidationMessageFor(m => widget.Color)
						</div>
					</div>

					<div class="form-group form-group-sm">
						@Html.LabelFor(model => widget.ChartType, new { @class = "control-label col-sm-2" })
						<div class="col-sm-3">
							@Html.DropDownListFor(model => widget.ChartType, LookupsStandardSubmissions.ChartTypes)
							@Html.ValidationMessageFor(model => widget.ChartType)
						</div>
					</div>

					<div class="form-group form-group-sm">
						@Html.LabelFor(m => widget.ShowOnDashboard, new { @class = "control-label col-sm-2" })
						<div class="col-sm-4">
							<div class="checkbox">
								<label>@Html.CheckBoxFor(m => widget.ShowOnDashboard)</label>
							</div>
							@Html.ValidationMessageFor(m => widget.ShowOnDashboard)
						</div>
					</div>

					<div id="SearchCriteria" class="row @(Model.Mode == Mode.Edit ? "" : "hidden")">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Search Criteria</h3>
								</div>
								@*<div id="SearchCriteriaCertification" class="panel-body @(widget.DataSource == WidgetDataSource.Certification ? "" : "hidden")">
									@Html.EditorFor(m => m.Widget.Filters)
								</div>
								<div id="SearchCriteriaIssue" class="panel-body @(widget.DataSource == WidgetDataSource.Issue ? "" : "hidden")">
									@Html.EditorFor(m => m.Widget.Filters)
								</div>*@
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<div style="font-size:0;">
					@{Html.RenderPartial("_ModalButtons", new ViewDataDictionary { { "WidgetId", @Model.Widget.Id }, { "Mode", @Model.Mode }, { "ShowExport", false } });}
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(function () {
		loadDocumentReady();

		// Color Picker Format
		$('.colorpkr').colorpicker({
			format: "hex"
		});

		$('.DlgDeleteBtn').on('click', function () {
			bootbox.confirm('Are you sure you want to Delete this widget?', function (result) {
				if (result) {
					$('#EditWidgetModal').modal('hide');
					$('#WidgetChartForm').attr('action', jsPath + 'Widget/Delete');
					$('#WidgetChartForm').submit();
				}
			});
		});

		$('.DlgSaveBtn').on('click', function () {
			var form = $('#WidgetChartForm');
			if (!form.valid()) {
				return false;
			}

			$.ajax({
				url: jsPath + 'Widget/EditChart',
				type: 'post',
				data: form.serialize(),
				complete: function () {
					widgetPostComplete();
				}
			});
		});

		$('#widget_DataSource').on('change', function (e) {
			toggleSearchCriteria(e.val);
		});
	});

	function toggleSearchCriteria(dataSource) {
		if (dataSource === "@WidgetDataSource.JurisdictionalData") {
			//$('#SearchCriteria').removeClass('hidden');
			//$('#SearchCriteriaCertification').removeClass('hidden');
			//$('#SearchCriteriaIssue').addClass('hidden');
		}
		else if (dataSource === "@WidgetDataSource.Project") {
			//$('#SearchCriteria').removeClass('hidden');
			//$('#SearchCriteriaCertification').addClass('hidden');
			//$('#SearchCriteriaIssue').removeClass('hidden');
		}
		else if (dataSource === "@WidgetDataSource.Submission") {
			//$('#SearchCriteria').removeClass('hidden');
			//$('#SearchCriteriaCertification').addClass('hidden');
			//$('#SearchCriteriaIssue').removeClass('hidden');
		}
		else {
			$('#SearchCriteria').addClass('hidden');
		}
	}
</script>
