﻿@model Access.Web.Models.Widgets.LoadSimpleChartViewModel

<canvas id="@Model.Canvas.Id" width="@Model.Canvas.Width" height="@Model.Canvas.Height"></canvas>
@Html.CreateChart(Model.Canvas.Id, Model.Chart)

<script>
	$(function () {
		var canvas = $('#@Model.Canvas.Id');
		var chart = eval('@(Model.Canvas.Id)_chart');

		var legend = document.createElement('div');
		legend.innerHTML = chart.generateLegend();
		$(legend).insertBefore(canvas);

		canvas.on('click', function (evt) {
			var activePoints = chart.getSegmentsAtEvent(evt);
			if (!Em(activePoints)) {
				var activeLabel = activePoints[0].label;

				$('#ChartWidgetId').val(@Model.WidgetId);
				$('#ChartJurisdictionStatus').val(activeLabel);
				$('#ChartJuriOrManuf').val('');
				$('#ChartForm').submit();
			}
		});

		var helpers = Chart.helpers;
		// Include a html legend template after the module doughnut itself
		helpers.each(legend.firstChild.childNodes, function (legendNode, index) {
			helpers.addEvent(legendNode, 'mouseover', function () {
				var activeSegment = chart.segments[index];
				activeSegment.save();
				activeSegment.fillColor = activeSegment.highlightColor;
				chart.showTooltip([activeSegment]);
				activeSegment.restore();
			});
		});
	});
</script>