﻿@model Access.Web.Models.Widgets.LoadComplexChartViewModel

<canvas id="@Model.Canvas.Id" width="@Model.Canvas.Width" height="@Model.Canvas.Height"></canvas>
@Html.CreateChart(Model.Canvas.Id, Model.Chart)

<script>
	$(function () {
		var canvas = $('#@Model.Canvas.Id');
		var chart = eval('@(Model.Canvas.Id)_chart');

		var legend = chart.generateLegend();
		$(legend).insertBefore(canvas);

		canvas.on('click', function (evt) {
			var activeBars = chart.getBarsAtEvent(evt);
			if (!Em(activeBars)) {
				var activeLabel = activeBars[0].label;

				$('#ChartWidgetId').val(@Model.WidgetId);
				$('#ChartJurisdictionStatus').val('');
				$('#ChartJuriOrManuf').val(activeLabel);
				$('#ChartForm').submit();
			}
		});
	});
</script>