﻿@{
	ViewBag.BtnMsg = "Add";
	if (ViewBag.Mode == Mode.Edit)
	{
		ViewBag.BtnMsg = "Save";
	}
}

@if (ViewBag.ShowExport && ViewBag.Mode == Mode.Edit)
{
	<div class="dropdown" style="display:inline;padding-right:20px;">
		<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Export <span class="caret"></span></button>
		<ul id="ExportMenu" class="dropdown-menu dropdown-menu-right">
			<li><a href="@Url.Action("Export", "Widget")" data-widgetid="@ViewBag.WidgetId" data-exporttype="@ExportType.Csv"><img src="@Url.Content("~/img/filetree/file.png")" title="CSV" /> CSV</a></li>
			<li><a href="@Url.Action("Export", "Widget")" data-widgetid="@ViewBag.WidgetId" data-exporttype="@ExportType.Xls"><img src="@Url.Content("~/img/filetree/xls.png")" title="Excel" /> Excel</a></li>
			<li><a href="@Url.Action("Export", "Widget")" data-widgetid="@ViewBag.WidgetId" data-exporttype="@ExportType.Pdf"><img src="@Url.Content("~/img/pdf.png")" title="PDF" /> PDF</a></li>
		</ul>
	</div>
}
<button type="button" class="DlgSaveBtn btn btn-primary">@ViewBag.BtnMsg</button>
@if (ViewBag.Mode == Mode.Edit)
{
	<button type="button" class="DlgDeleteBtn btn btn-primary">Delete</button>
}
<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>