﻿@model Submissions.Web.Models.Widgets.GalleryViewModel

@section css{
	@Styles.Render("~/bundles/css/widget")
	@Styles.Render("~/bundles/css/colorpicker")
	<style>
		.display-options {
			display: inline;
			margin: 0;
			padding: 0;
		}

		i.fa-plus {
			color: #fff;
		}
	</style>
}

@{
	ViewBag.Title = "Widget Gallery";
}

<div class="modal" id="ChooseWidgetTypeModal" data-url='@Url.Action("ChooseType", "Widget")' tabindex="-1" role="dialog" aria-hidden="true"></div>
<div class="modal" id="EditWidgetModal" data-url='@Url.Action("Edit", "Widget")' tabindex="-1" role="dialog" aria-hidden="true"></div>

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<button id="AddWidgetBtn" type="button" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Add Widget</button>
		<a href="@Url.Action("Index", "Home")" id="CancelBtn" class="btn btn-primary btn-sm">Exit</a>
	</div>
</div>

@{var header = Model.Widgets.FirstOrDefault();}
<table class="table table-striped table-hover table-condensed">
	<tr>
		<th>@Html.DisplayNameFor(model => header.Title)</th>
		<th>@Html.DisplayNameFor(model => header.Type)</th>
		<th>@Html.DisplayNameFor(model => header.DataSource)</th>
		<th>@Html.DisplayNameFor(model => header.DashboardName)</th>
		<th>@Html.DisplayNameFor(model => header.ShowOnDashboard)</th>
		<th></th>
	</tr>
	@if (Model.Widgets.Count == 0)
	{
		<tr><td colspan="6" class="text-warning text-center"><em>No Records Found</em></td></tr>
	}
	@foreach (var item in Model.Widgets)
	{
		<tr>
			<td><div style="background-color: @item.Color; width:10px; height:10px; float:left; margin-top:2px;"></div>&nbsp; @Html.DisplayFor(modelItem => item.Title)</td>
			<td>@Html.DisplayFor(modelItem => item.Type)</td>
			<td>@Html.DisplayFor(modelItem => item.DataSource)</td>
			<td>@Html.DisplayFor(modelItem => item.DashboardName)</td>
			<td>@Html.DisplayFor(modelItem => item.ShowOnDashboard)</td>
			<td class="text-right">
				<div data-widgetid="@item.Id" class="display-options">
					<a href="#" class="widgetedit">Edit</a>
					@if (item.Type == WidgetType.List)
					{
						<text> | </text>
						@Html.ActionLink("Display", "Display", "Widget", new { Id = @item.Id }, new { @target = "_blank" }) <text>|</text>
						<ul style="list-style-type: none;" class="display-options">
							<li class="dropdown display-options">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Export <span class="caret"></span></a>
								<ul id="ExportMenu" class="dropdown-menu">
									<li><a href="@Url.Action("Export", "Widget")" data-widgetid="@item.Id" data-exporttype="@ExportType.Csv"><img src="@Url.Content("~/img/filetree/file.png")" title="CSV" /> CSV</a></li>
									<li><a href="@Url.Action("Export", "Widget")" data-widgetid="@item.Id" data-exporttype="@ExportType.Xls"><img src="@Url.Content("~/img/filetree/xls.png")" title="Excel" /> Excel</a></li>
									<li><a href="@Url.Action("Export", "Widget")" data-widgetid="@item.Id" data-exporttype="@ExportType.Pdf"><img src="@Url.Content("~/img/pdf.png")" title="PDF" /> PDF</a></li>
								</ul>
							</li>
						</ul>
					}
				</div>
			</td>
		</tr>
	}
</table>

@using (Html.BeginForm("Export", "Widget", FormMethod.Post, new { id = "ExportForm" }))
{
	@Html.Hidden("WidgetId")
	@Html.Hidden("ExportType", "")
}

@section scripts{
	@Scripts.Render("~/bundles/script/widget")
	@Scripts.Render("~/bundles/script/colorpicker")
	<script>
		$('.widgetedit').on('click', function (e) {
			e.preventDefault();
			var widgetId = $(this).parent().data('widgetid');
			editWidget(widgetId);
		});

		// export
		$('#ExportMenu a').on('click', function (e) {
			e.preventDefault();

			$('#WidgetId').val($(this).data('widgetid'));
			$('#ExportType').val($(this).data('exporttype'));
			$('#ExportForm').attr('action', $(this).attr('href'));
			$('#ExportForm').submit();
		});
	</script>
}

