﻿@model Submissions.Web.Areas.Lookups.Models.BundlingGroupsViewModel
@using Submissions.Web.Models.LookupsAjax;

@{
	ViewBag.Title = Model.Mode.ToString() + " Bundling Group";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
	var jurisdictionFilter = Json.Encode(new JurisdictionsFilter { ExcludedJurisdictionIds = Model.ExcludedJurisdictionIds });
}


@using (Html.BeginForm("Edit", "BundlingGroups", FormMethod.Post, new { id = "LookupForm" }))
{

	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)


	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.Name)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "BundlingGroups", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.Name)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-2" })
			<div class="col-sm-6">
				@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Description)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.JurisdictionIds, new { @class = "control-label col-sm-2" })
			<div class="col-sm-6">
				@Html.LookupMultipleFor(m => m.JurisdictionIds, Model.Jurisdictions, LookupAjax.Jurisdictions, false, new { data_filter = jurisdictionFilter })
				@Html.ValidationMessageFor(m => m.JurisdictionIds)
			</div>
			<i class="fas fa-info-circle" data-toggle="tooltip" title="Available Jurisdictions: Jurisdictions not included in any bundling groups."></i>
		</div>
	</div>
}