﻿@model IEnumerable<Submissions.Web.Areas.Lookups.Models.BundlingGroupsViewModel>

@{
	ViewBag.Title = "Bundling Groups";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@if (Util.HasAccess(Permission.BundlingGroups, AccessRight.Edit))
		{
			@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		}
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		</div>
</div>

<table class="table table-striped table-hover">
	<tr>
		<th>@Html.DisplayNameFor(m => m.Name)</th>
		<th>@Html.DisplayNameFor(m => m.Description)</th>
		<th>@Html.DisplayNameFor(m => m.JurisdictionsIndexDisplay)</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.Description</td>
			<td>@(new HtmlString(@item.JurisdictionsIndexDisplay))</td>
			@if (Util.HasAccess(Permission.BundlingGroups, AccessRight.Edit))
			{
				<td class="text-right">
					@Html.ActionLink("Edit", "Edit", new { id = item.Id, mode = "Edit" }) |
					@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckDelete" })
				</td>	
			}
		</tr>
	}
</table>