﻿@model Submissions.Web.Areas.Submission.Models.JurisdictionReplaceLink.JurisdictionReplaceLinkViewModel
@{

	ViewBag.Title = "GLI - Jurisdiction Replacement Tracking";

	ViewBag.FullWidth = true;
	Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}

