﻿@model Submissions.Web.Models.PermissionDeniedViewModel
@{
	ViewBag.Title = "Permission Denied";
}

<h1></h1><br />
<div class="row">
	<div class="col-sm-12">
		<div class="media">
			<div class="media-left">
				<img src="@Url.Content("~/Img/PermissionDenied.png")">
			</div>
			<div class="media-body">
				<h4 class="media-heading">Sorry! &nbsp;Permission Denied</h4>
				You appear to be missing the <strong>@(Model.MissingPermission)</strong> permission.
				Please contact your manager for help.
			</div>
		</div>
	</div>
</div>
