﻿<template>
	<base-modal @close="handle__close()">
		<template #header>
			Search Components
		</template>
		<div>
			<div class="search-filter">
				<base-fieldset>
					<div class="flex-container">
						<div class="flex-item-med ">
							<base-field-labels title="File Number"
											   help-text="">
								<base-lookup :lookupAjax="'FileNumber'" v-model="searchFilter.fileNumber"></base-lookup>
							</base-field-labels>
						</div>
						<div class="flex-item">
							<base-field-labels title="ID Number"
											   help-text="">
								<base-input v-model="searchFilter.idNumber" />
							</base-field-labels>
						</div>
						<div class="flex-item">
							<base-field-labels title="Version"
											   help-text="">
								<base-input v-model="searchFilter.version" />
							</base-field-labels>
						</div>
						<div class="flex-item">
							<base-field-labels title="Game Name"
											   help-text="">
								<base-input v-model="searchFilter.gameName" />
							</base-field-labels>
						</div>
						<div class="flex-item">
							<base-button @click="handle__search">
								<template v-if="isLoading">
									Search
									<i class="fa fa-spinner fa-spin"></i>
								</template>
								<template v-else>
									Search
									<i class="fa fa-search"></i>
								</template>
							</base-button>
						</div>
					</div>
				</base-fieldset>
			</div>
			<div>
				<base-fieldset>
					<glide-grid id="component-search-results"
								zebra-stripe
								:columns="columns"
								:rows="rows"
								:paging="{
					currentPage: 1,
					numberPerPage: 10,
					enable: true,
					enableRPP: true
				}"
								:filtering="{
					enable: true
				}"
								:sorting="{
					enable: true
				}">
						<template v-slot:Actions="glide">
							<base-checkbox v-model="glide.row.selected"></base-checkbox>
						</template>
					</glide-grid>
				</base-fieldset>
			</div>
		</div>
		<template #actions>
			<base-button @click="handle__close">
				Close
			</base-button>
			<base-button is-primary
						 :disabled="!selectedCount"
						 @click="handle__emitSelection">
				Select ( {{ selectedCount }} )
			</base-button>

		</template>
	</base-modal>
</template>
<script>
	import api from '@/api/product';
	import GlideGrid from "@/components/utility/GlideGrid.vue";

	export default {
		components: {
			GlideGrid
		},
		props: {
			componentExclusions: {
				type: Array
			},
			productType: {
				type: Object,
				required: true
			}
		},
		data() {
			const columns = [
				{
					label: "File Number",
					field: "fileNumber",
					filterable: true,
					style: {
						width: "200px",
						verticalAlign: "middle"
					}
				},
				{
					label: "ID Number",
					field: "idNumber",
					filterable: true,
					style: {
						width: "200px",
						verticalAlign: "middle"
					}
				},
				{
					label: "Version",
					field: "version",
					filterable: true,
					style: {
						width: "200px",
						verticalAlign: "middle"
					}
				},
				{
					label: "Game Name",
					field: "gameName",
					filterable: true,
					style: {
						width: "200px",
						verticalAlign: "middle"
					}
				},

				{
					label: "Status",
					field: "status",
					filterable: true,
					style: {
						width: "200px",
						verticalAlign: "middle"
					}
				},
				{
					slot: "Actions",
					field: null,
					filterable: false,
					style: {
						width: "100px",
						textAlign: "right",
						verticalAlign: "middle"
					}
				},
			];
			return {
				columns,
				rows: [],
				isLoading: false,
				searchFilter: {
					fileNumber: "",
					idNumber: "",
					version: "",
					gameName: ""
				}
			}
		},
		computed: {
			selectedComponents: function () {
				return this.rows.filter(x => x.selected);
			},
			selectedCount: function () {
				return this.selectedComponents.length;
			}
		},
		validations: {

		},
		methods: {
			handle__close: function () {
				this.$emit('close')
			},
			handle__search: async function () {
				let self = this;
				self.isLoading = true;

				try {
					let response = await api.searchComponents({
						...self.searchFilter,
						componentExclusions: self.componentExclusions,
						fileNumber: self.searchFilter.fileNumber?.text
					});

					let results = response.data;
					if (Array.isArray(results) && results.length > 0) {
						results = results.map(component => {
							return {
								...component,
								selected: false
							}
						});
					}

					self.rows = results;
					self.isLoading = false;
				}
				catch (err) {
					console.log({ err })
					self.isLoading = false;
				}
			},
			handle__emitSelection: function () {
				this.$emit('selected', { selected: this.selectedComponents, productType: this.productType });
			}
		},
	}
</script>
<style scoped>
	.search-filter {
		margin-bottom: 15px;
	}

	.flex-container {
		display: flex;
		align-items: flex-end;
	}

	.flex-item {
		flex: 1 1 auto;
		margin-left: 2px;
		margin-right: 2px;
	}

	.flex-item-med {
		flex-grow: 4;
	}
</style>