﻿<template>
	<base-header-view :title="'Product Setup'">
		<template #actions>
			<base-button v-if="vm.id != null && vm.canDelete" is-primary :isDestructive="true" @click="deleteProduct(vm.id)">Delete Product</base-button>
			<base-button @click="saveProduct" inverse-style is-primary>
				{{vm.id ? 'Save Product' : 'Add Product'}}
				<template v-if="componentState.isSaving">
					<i class="fa fa-spinner fa-spin"></i>
				</template>
			</base-button>
		</template>
		<div id="snackbar"
			 :class="{
			'snack-success': componentState.isSuccess,
			'snack-error': componentState.isError,
		}">{{componentState.actionResult}}</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="flexWrapper">
					<div class="flexItem">
						<base-field-labels title="Product Name">
							<base-input :field-validation="$v.vm.product"
										v-model="vm.product">
								<template v-slot:errors>
									<p v-if="$v.vm.product.$error && !$v.vm.product.required">
										A name must be provided for the product.
									</p>
								</template>
							</base-input>
						</base-field-labels>
					</div>
					<div class="flexItem">
						<base-field-labels title="Version">
							<base-input v-model="vm.version" />
						</base-field-labels>
					</div>
				</div>

				<base-field-labels :title="'Status: '"
								   help-text="Statuses of the jurisdictions (and components thereof) that this product is referenced by.">
					<div class="flex-container">
						<template v-for="(value, name) in distinctStatuses()">
							<BaseBadge class="flex-item" :text="name" :useCounter="true" :count="value" :themeChoice="getThemeChoice(name)"></BaseBadge>
						</template>
					</div>
					<StatusTable :statusObject="statusObject"></StatusTable>
				</base-field-labels>
				<base-field-labels title="Manufacturer"
								   help-text="List the manufacturer(s) that this product is manufacturered by.">
					<base-lookup v-model="vm.manufacturerCodes"
								 lookup-ajax="manufacturers"
								 placeholder="Select Manufacturer(s)"
								 :multiple="true">
					</base-lookup>
				</base-field-labels>
				<base-field-labels title="Platform"
								   help-text="List the platform(s) that this product is intended to run upon.">
					<base-lookup v-model="vm.platforms"
								 lookup-ajax="Platforms"
								 placeholder="Select Platforms(s)"
								 :multiple="true">
					</base-lookup>
				</base-field-labels>
				<br>
				<i v-show="vm.mode == 3">Created By: {{ vm.createdBy }} on {{ $format.dateMonthDDYYY(vm.createdOn) }}</i>
			</div>
			<div class="col-sm-6">
				<ProductComponentListWrapper :componentList="criticalComponents"
											 :productType="vm.productJurisdictionalDataLinkTypes.find(x=>x.type === 'Critical')"
											 @selected="(payload) => handle__AddSelected(payload)"
											 @removeComponent="(componentToRemove) => handle__removeComponent(componentToRemove)">
					<template #header>
						<base-field-labels :titleTag="'h2'" :title="'Critical Components'" :helpText="'List submissions that are unique to this product.'"></base-field-labels>
					</template>
				</ProductComponentListWrapper>
				<ProductComponentListWrapper :componentList="continuityComponents"
											 :productType="vm.productJurisdictionalDataLinkTypes.find(x=>x.type === 'Continuity')"
											 @selected="(payload) => handle__AddSelected(payload)"
											 @removeComponent="(componentToRemove) => handle__removeComponent(componentToRemove)">
					<template #header>
						<base-field-labels :titleTag="'h2'" :title="'Continuity Components'" :helpText="'Add any submissions already approved elsewhere that are also used with this product.'"></base-field-labels>
					</template>
				</ProductComponentListWrapper>
			</div>
		</div>
	</base-header-view>
</template>

<script>
	import api from '../../../api/product.js';
	import { required } from "vuelidate/lib/validators";
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import ProductComponentListWrapper from '@/components/protrack/product/ProductComponentListWrapper.vue';
	import StatusTable from '@/components/protrack/product/StatusTable.vue';

	export default {
		components: {
			LookupMultiple,
			ProductComponentListWrapper,
			StatusTable
		},
		data() {
			return {
				vm: initialData,
				componentState: {
					isSaving: false,
					actionResult: '',
					isSuccess: false,
					isError: false
				},
				statusObject: {}
			}
		},
		computed: {
			closeUrl: function () {
				return `/protrack/product`;
			},
			continuityComponents: function () {
				return this.vm.productComponentViewModels.filter(x => x.productComponentJurisdictions.some(y => y.productJurisdictionLinkType === 'Continuity'));
			},
			criticalComponents: function () {
				return this.vm.productComponentViewModels.filter(x => x.productComponentJurisdictions.some(y => y.productJurisdictionLinkType === 'Critical'));
			}
		},
		methods: {
			buildStatusObj: function () {
				let result = {};

				for (let i = 0; i < this.vm.productComponentViewModels.length; i++) {
					for (let j = 0; j < this.vm.productComponentViewModels[i].productComponentJurisdictions.length; j++) {

						let compStatus = {
							component: this.vm.productComponentViewModels[i].gameName,
							status: this.vm.productComponentViewModels[i].productComponentJurisdictions[j].status
						};

						let linkState = this.vm.productComponentViewModels[i].productComponentJurisdictions[j].productJurisdictionLinkTypeId !== null;

						if (!(this.vm.productComponentViewModels[i].productComponentJurisdictions[j].name in result) && linkState) {
							// Adds empty array for a jurisdiction 
							result[this.vm.productComponentViewModels[i].productComponentJurisdictions[j].name] = { show: false, componentStatuses: [] };
						}
						if (!this.vm.productComponentViewModels[i].productComponentJurisdictions[j].isUnLinked && linkState) {
							result[this.vm.productComponentViewModels[i].productComponentJurisdictions[j].name].componentStatuses.push(compStatus);
						}
					}
				}
				return result;
			},
			getThemeChoice: function (status) {
				let result = 'default'
				switch (status.toUpperCase()) {
					case 'AP':
					case 'TC':
					case 'MO':
					case 'MS':
					case 'NU':
					case 'LQ':
						result = 'green';
						break;
					case 'RJ':
					case 'RV':
					case 'WD':
						result = 'red';
						break;
					default:
						result = 'default';
				}

				return result.toUpperCase();
			},
			distinctStatuses: function () {

				let flatStatusSet = Object.keys(this.statusObject).map(x => this.statusObject[x].componentStatuses.map(y => y.status)).flat();
				let statusCountObject = flatStatusSet.reduce((a, c) => (a[c] = (a[c] || 0) + 1, a), Object.create(null));
				return statusCountObject;
			},
			handle__removeComponent: function (payload) {
				console.log('ToRemove ', payload)
				const index = this.vm.productComponentViewModels.indexOf(payload);
				if (index > -1) {
					this.vm.productComponentViewModels.splice(index, 1);
				}
			},
			handle__AddSelected: function (payload) {
				for (let i = 0; i < payload.selected.length; i++) {
					for (let j = 0; j < payload.selected[i].productComponentJurisdictions.length; j++) {
						payload.selected[i].productComponentJurisdictions[j].productJurisdictionLinkType = payload.productType.type;
						payload.selected[i].productComponentJurisdictions[j].productJurisdictionLinkTypeId = payload.productType.id;
					}
					this.vm.productComponentViewModels.push(payload.selected[i]);
				}
			},
			deleteProduct: function (id) {
				api.deleteProduct(id).then(response => {
					if (response.data == "OK") {
						bootbox.alert("Product deleted.", function () {
							window.location.href = jsPath + 'protrack/product/Edit'
						})
					}
					else {
						bootbox.alert("Error occured while deleting.")
					}
				});
			},
			saveProduct: async function () {
				this.componentState.isSaving = true;
				await api.saveProduct(this.vm).then(response => {
					this.componentState.isSuccess;
					this.componentState.actionResult = `Save success!`;
					this.componentState.isSaving = false;
				});
				await this.showSnackBar().then(x => {
					this.componentState.actionResult = '';
					window.location.href = `${jsPath}` + this.closeUrl.substr(1);
				});
			},
			showSnackBar: function () {
				let self = this;
				var x = document.getElementById("snackbar");
				x.className = "show";
				return new Promise(resolve => {
					setTimeout(function () {
						x.className = x.className.replace("show", "");
						resolve();
					}, 3000);
				});
			}
		},
		mounted:function() {
			this.statusObject = this.buildStatusObj();
		},
		watch: {
			continuityComponents: function (newVal, oldVal) {
				if (newVal !== oldVal) {
					this.statusObject = this.buildStatusObj();
				}
			},
			criticalComponents: function (newVal, oldVal) {
				if (newVal !== oldVal) {
					this.statusObject = this.buildStatusObj();
				}
			}
		},
		validations: {
			vm: {
				product: {
					required
				},
				manufacturerCodes: {
					required
				},
				platforms: {
					required
				}
			},
		},
	}
</script>

<style lang="scss" scoped>
	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";
	@use "sass:color";

	.flex-container {
		display: flex;
	}

	.flex-item {
		flex: 1 1 auto;
	}

	.flexWrapper {
		align-items: baseline;
		display: flex;
		flex-direction: row;
		margin: Spacing.$full 0;
	}

	.flexItem:not(:first-of-type) {
		margin-left: Spacing.$double;
	}

	.flexItem {
		flex: 1 1 auto;
	}

	.snack-success {
		background-color: Colors.$success
	}

	.snack-error {
		background-color: Colors.$destructive
	}

	/* The snackbar - position it at the bottom and in the middle of the screen */
	#snackbar {
		visibility: hidden; /* Hidden by default. Visible on click */
		min-width: 250px; /* Set a default minimum width */
		margin-left: -125px; /* Divide value of min-width by 2 */
		background-color: #333; /* Black background color */
		color: #fff; /* White text color */
		text-align: center; /* Centered text */
		border-radius: 2px; /* Rounded borders */
		padding: 16px; /* Padding */
		position: fixed; /* Sit on top of the screen */
		z-index: 1; /* Add a z-index if needed */
		left: 50%; /* Center the snackbar */
		bottom: 30px; /* 30px from the bottom */
	}

		/* Show the snackbar when clicking on a button (class added with JavaScript) */
		#snackbar.show {
			visibility: visible; /* Show the snackbar */
			/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
			-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}

	/* Animations to fade the snackbar in and out */
	@-webkit-keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@-webkit-keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	@keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}
</style>