﻿<template>
	<div>
		<base-header-view title="Product Search" fixed-width>
			<template #actions>
				<base-button @click="handle__close">Close</base-button>
			</template>
			<div class="row">
				<base-fieldset>
					<template #header>
						Search Products By
					</template>
					<div class="row">
						<div class="col-sm-6">
							<base-field-labels title="Product Name" help-text="The name of a Product.">
								<base-input v-model="filter.name" />
							</base-field-labels>
							<base-field-labels title="Manufacturers"
											   help-text="Manufacturer(s) that the product is manufacturered by.">
								<base-lookup v-model="filter.manufacturers"
											 lookup-ajax="manufacturers"
											 placeholder="Select Manufacturer(s)"
											 :multiple="true">
								</base-lookup>
							</base-field-labels>

							<base-field-labels title="Status"
											   help-text="The status of the Product.">
								<base-lookup v-model="filter.status"
											 lookup-ajax="ProductJurisdictionalStatus"
											 placeholder="Select Status"
											 :multiple="true">
								</base-lookup>
							</base-field-labels>
						</div>
						<div class="col-sm-6">
							<base-field-labels title="Version" help-text="The version of a Product.">
								<base-input v-model="filter.version" />
							</base-field-labels>
							<base-field-labels title="Jurisdictions"
											   help-text="Jurisdiction(s) that the product is for.">
								<base-lookup v-model="filter.jurisdictions"
											 lookup-ajax="jurisdictions"
											 placeholder="Select Jurisdiction(s)"
											 :multiple="true">
								</base-lookup>
							</base-field-labels>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">

						</div>
						<div class="col-sm-6">
							<div class="pull-right">
								<base-button is-primary @click="handle__searchProducts">Search</base-button>
								<base-button @click="handle__clearSearchFilter">Clear Filters</base-button>
							</div>
						</div>
					</div>
				</base-fieldset>
			</div>
			<br />
			<div class="row">
				<glide-grid id="search-results"
							zebra-stripe
							full-width
							:columns="columns"
							:rows="results"
							:paging="{
					currentPage: 1,
					numberPerPage: 10,
					enable: true,
					enableRPP: true
				}"
							:filtering="{
					enable: true
				}"
							:sorting="{
					enable: true
				}">
					<template v-slot:Actions="glide">
						<base-button :onclick="(evt) => handle__navigateToProduct(glide.row)">
							View
						</base-button>
					</template>
				</glide-grid>
			</div>
		</base-header-view>
	</div>
</template>

<script>
	import GlideGrid from "@/components/utility/GlideGrid.vue";
	import api from '../../../api/product.js';
	export default {
		components: {
			GlideGrid
		},
		data() {
			const columns = [
				{
					label: "Product Name",
					field: "name",
					filterable: true,
					style: {
						width: "200px",
						verticalAlign: "middle"
					}
				},
				{
					label: "Version",
					field: "version",
					filterable: true,
					style: {
						width: "200px",
						verticalAlign: "middle"
					}
				},
				{
					label: "Creation Date",
					field: "createdOn",
					filterable: true,
					filter: {
						name: 'formatDateTime',
						args: []
					},
					style: {
						width: "200px",
						verticalAlign: "middle"
					}
				},
				{
					label: "Manufacturers",
					field: "manufacturers",
					filterable: true,
					filter: {
						name: "truncate",
						args: [100]
					},
					style: {
						width: "200px",
						verticalAlign: "middle"
					}
				},
				{
					slot: "Actions",
					field: null,
					filterable: false,
					style: {
						width: "100px",
						textAlign: "right",
						verticalAlign: "middle"
					}
				}
			];
			return {
				columns,
				results: [],
				filter: {
					name: null,
					version: null,
					manufacturers: [],
					jurisdictions: [],
					status: []
				},
				pageStatus: {
					isLoading: false
				}
			}
		},
		methods: {
			handle__searchProducts: function () {
				this.clearSearchResults();
				this.searchProducts();
			},
			handle__clearSearchFilter: function () {
				this.clearSearchFilter();
			},
			handle__close: function () {
				window.location.href = `${jsPath}tools`;
			},
			handle__navigateToProduct: function (row) {
				window.open(`${jsPath}protrack/product/edit/${row.id}`);
			},
			clearSearchFilter: function () {
				this.filter.name = null;
				this.filter.version = null;
				this.filter.manufacturers = [];
				this.filter.jurisdictions = [];
				this.filter.status = [];
			},
			clearSearchResults: function () {
				this.results = [];
			},
			searchProducts: async function () {
				this.pageStatus.isLoading = true;
				const searchFilter = { ...this.filter, manufacturers: this.filter.manufacturers.map(x => x.id), jurisdictions: this.filter.jurisdictions.map(x => x.id), status: this.filter.status.map(x => x.text) }
				const searchResults = await api.getProducts(searchFilter);
				this.setResults(searchResults.data);
				this.pageStatus.isLoading = false;
			},
			setResults: function (results) {
				this.clearSearchResults();
				this.results = results;
			}
		}
	}
</script>