﻿<template>
	<tr>
		<td>{{component.gameName}}</td>
		<td>{{component.idNumber}}</td>
		<td>{{component.version}}</td>
		<td>{{component.productComponentJurisdictions.length}}</td>
		<td @click="handle__showJurisdictions(component)">
			<template v-if="component.showJurisdictions">
				<i class="fa fa-chevron-up"></i>
			</template>
			<template v-else>
				<i class="fa fa-chevron-down"></i>
			</template>
		</td>
	</tr>
</template>
<script>
	export default {
		props: {
			component: {
				type: Object,
				required: true,
			},
			productType: {
				type: Object,
				required: true
			}
		},
		components: {

		},
		data() {
			return {

			}
		},
		computed: {

		},
		methods: {
			handle__showJurisdictions: function (component) {
				component.showJurisdictions = !component.showJurisdictions;
			}
		},
	}
</script>
<style lang="scss" scoped>
	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	td {
		padding-top: 4px;
		padding-left: 4px;
		border-top: solid 2px Colors.$accentLight;
	}
</style>