﻿<template>
	<tr v-if="component.showJurisdictions">
		<td colspan="5" class="jurisdiction-drawer">
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Jurisdictions</th>
						</tr>
					</thead>
					<tbody v-for="jurisdiction in component.productComponentJurisdictions" :key="jurisdiction.id">
						<tr :class="[jurisdictionIsDisabled(jurisdiction) ? 'disabled' : '' ]">
							<td class="jurisdiction-name">{{jurisdiction.name}}</td>
							<td>
								<template v-if="jurisdiction.productJurisdictionLinkTypeId === null && !jurisdiction.isUnLinked">
									<!-- Never been linked -->
								</template>
								<template v-else-if="jurisdiction.productJurisdictionLinkTypeId === productType.id">
									<!-- Linked -->
									Linked
									<i class="fa fa-link"></i>
								</template>
								<template v-else-if="jurisdiction.productJurisdictionLinkTypeId === null && jurisdiction.isUnLinked">
									<!-- Un Linked -->
									Unlinked
									<i class="fa fa-unlink"></i>
								</template>
								<template v-else>
									<!-- Mutual Exclusive Linked -->
									<!-- TO DO: Introduce the row styles for this scenario. -->
									Mutual Exclusive Linked
								</template>
							</td>
							<td>
								<template v-if="jurisdiction.productJurisdictionLinkTypeId === productType.id || jurisdiction.productJurisdictionLinkTypeId === null">
									<base-button :isCompact="true" @click="handle__linkageAction(jurisdiction, component)">
										<template v-if="jurisdiction.productJurisdictionLinkTypeId === null">
											Link
										</template>
										<template v-else>
											Unlink
										</template>
									</base-button>
								</template>
								<template v-else>
									Linked as {{jurisdiction.productJurisdictionLinkType}}
								</template>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</td>
	</tr>
</template>
<script>
	export default {
		props: {
			component: {
				type: Object,
				required: true,
			},
			productType: {
				type: Object,
				required: true
			}
		},
		components: {

		},
		data() {
			return {

			}
		},
		computed: {

		},
		methods: {
			jurisdictionIsDisabled: function (jurisdiction) {
				return jurisdiction.productJurisdictionLinkTypeId !== null && this.productType.id !== jurisdiction.productJurisdictionLinkTypeId;
			},
			handle__linkageAction: function (jurisdiction, component) {
				// We are linking
				if (jurisdiction.productJurisdictionLinkTypeId === null) {
					jurisdiction.productJurisdictionLinkTypeId = this.productType.id;
					jurisdiction.productJurisdictionLinkType = this.productType.type;
					jurisdiction.isUnLinked = false;
				}
				// We are Unlinking
				else {
					let currentLinkCountForComponent = component.productComponentJurisdictions.filter(y => y.productJurisdictionLinkTypeId === this.productType.id).length;

					if (currentLinkCountForComponent > 1) {
						jurisdiction.productJurisdictionLinkTypeId = null;
						jurisdiction.productJurisdictionLinkType = null;
						jurisdiction.isUnLinked = true;
					}
					else {
						let self = this;
						// TO DO: Evaluate if the componet should be removed entirley from the collection?
						// prompt
						bootbox.confirm(`Removing this link will remove this component as a ${this.productType.type} component. Do you wish to continue ?`, function (result) {
							if (result) {
								jurisdiction.productJurisdictionLinkTypeId = null;
								jurisdiction.productJurisdictionLinkType = null;
								jurisdiction.isUnLinked = true;
								self.$emit('removeComponent', component);
							}
						});
					}
				}
			},
		},
	}
</script>
<style lang="scss" scoped>
	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	.table-wrapper {
		max-height: 20vh;
		overflow-y:scroll;
	}

	.disabled {
		background: Colors.$grayLight;
		color: Colors.$grayDark;
	}

	.jurisdiction-drawer {
		padding-left: 10px;
		border-left: solid 6px Colors.$accentLight;
	}

	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 4px;
	}

	th {
		padding-left: 4px;
	}

	td {
		padding-top: 4px;
		padding-left: 4px;
		border-top: solid 2px Colors.$accentLight;
	}

	.jurisdiction-name {
		width: 85%;
	}
</style>