﻿<template>
	<div class="component-List-Wrapper">
		<slot name="header"></slot>
		<!-- TO DO: Re-work the exclusion filter, as long as the component has one jd that could be linked its avail. -->
		<component-search class="component-search" v-if="pageStatus.searchingForComponents"
						  :componentExclusions="associatedComponentExclusionFilter"
						  :productType="productType"
						  @close="handle__close"
						  @selected="(payload) => handle__setComponents(payload)"></component-search>

		<base-button @click="pageStatus.searchingForComponents = true">Search for Components</base-button>
		<ProductComponentList :componentList="componentList" :productType="productType" @removeComponent="(componentToRemove) => handle__removeComponent(componentToRemove)" />
		<template name="footer">
		</template>
	</div>
</template>
<script>
	import ProductComponentList from '@/components/protrack/product/ProductComponentList.vue'
	import ComponentSearch from '@/components/protrack/product/ComponentSearch.vue'
	export default {
		props: {
			/*
			 * The component set associated to the current Product.
			 *
			 */
			componentList: {
				type: Array,
				required: true,
			},
			/*
			 * The component type this list displays, i.e. Continuity / Critical
			 *
			 */
			productType: {
				type: Object,
				required: true
			}
		},
		components: {
			ComponentSearch,
			ProductComponentList
		},
		data() {
			return {
				pageStatus: {
					searchingForComponents: false
				}
			}
		},
		computed: {
			associatedComponentExclusionFilter: function () {
				return this.componentList.map((component) => { return component.id });
			}
		},
		methods: {
			handle__close: function () {
				this.pageStatus.searchingForComponents = false;
			},
			handle__setComponents: function (payload) {
				this.$emit('selected', payload);
				this.handle__close();
			},
			handle__removeComponent: function (componentToRemove) {
				this.$emit('removeComponent', componentToRemove);
			}
		},
	}
</script>
<style lang="scss" scoped>
	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	.component-List-Wrapper {
		margin-bottom: Spacing.$half;
	}
</style>