﻿<template>
	<div>
		<table>
			<thead>
				<tr>
					<th>Game Name</th>
					<th>ID Number</th>
					<th>Version</th>
					<th>Jurisdictions</th>
					<th><!-- Actions --></th>
				</tr>
			</thead>
			<tbody v-for="component in componentList" :key="component.id">
				<ProductComponentListItem :component="component" :productType="productType" />
				<ProductComponentListItemDrawer :component="component" :productType="productType" @removeComponent="(componentToRemove) => handle__removeComponent(componentToRemove)" />
			</tbody>
		</table>
	</div>
</template>
<script>
	import ProductComponentListItemDrawer from '@/components/protrack/product/ProductComponentListItemDrawer.vue'
	import ProductComponentListItem from '@/components/protrack/product/ProductComponentListItem.vue'
	export default {
		props: {
			/*
			* The component set associated to the current Product.
			*
			*/
			componentList: {
				type: Array,
				required: true,
			},
			/*
			 * The component type this list displays, i.e. Continuity / Critical
			 *
			 */
			productType: {
				type: Object,
				required: true
			}
		},
		components: {
			ProductComponentListItem,
			ProductComponentListItemDrawer
		},
		data() {
			return {

			}
		},
		computed: {

		},
		methods: {
			handle__removeComponent: function (componentToRemove) {
				this.$emit('removeComponent', componentToRemove);
			}
		},
	}
</script>
<style lang="scss" scoped>
	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";



	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 4px;
	}

	th {
		padding-left: 4px;
	}
</style>