﻿<template>
	<div>
		<div @click="toggleShowPrimary">
			<template v-if="showPrimaryExpanded">
				Hide Jurisdictions
				<i class="fa fa-chevron-up"></i>
			</template>
			<template v-else>
				Show Jurisdictions
				<i class="fa fa-chevron-down"></i>
			</template>
		</div>
		<!--   -->
		<div v-if="showPrimaryExpanded" class="jur-table">
			<table>
				<thead>
					<tr>
						<th>Jurisdiction</th>
						<th>Statuses</th>
						<th><!-- expand --></th>
					</tr>
				</thead>
				<tbody v-for="(value, name) in statusObject">
					<!-- List item -->
					<tr class="jur-list-item" @click="handle__showComps(name)">
						<td>
							{{name.toUpperCase()}}
						</td>
						<td class="flex-container">
							<template v-for="(value, name) in get_JurisdictionStatusCounts(value.componentStatuses)">
								<BaseBadge class="flex-item" :text="name" :useCounter="true" :count="value" :themeChoice="getThemeChoice(name)"></BaseBadge>
							</template>
						</td>
						<td>
							<template v-if="statusObject[name].show">
								<i class="fa fa-chevron-up"></i>
							</template>
							<template v-else>
								<i class="fa fa-chevron-down"></i>
							</template>
						</td>
					</tr>
					<!-- Item Drawer -->
					<tr v-if="statusObject[name].show" class="sub-list-item-drawer">
						<td colspan="3" class="component-status-drawer">
							<table>
								<thead>
									<tr>
										<th>
											Component
										</th>
										<th>
											Status
										</th>
									</tr>
								</thead>
								<tbody class="sub-list-item" v-for="compJurs in value.componentStatuses">
									<tr>
										<td>
											{{compJurs.component}}
										</td>
										<td>
											<BaseBadge :text="compJurs.status" :themeChoice="getThemeChoice(compJurs.status)"></BaseBadge>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
	export default {
		props: [
			'statusObject'
		],
		data() {
			return {
				showPrimaryExpanded: false
			}
		},
		methods: {
			toggleShowPrimary: function () {
				this.showPrimaryExpanded = !this.showPrimaryExpanded;
			},
			handle__showComps: function (name) {
				this.statusObject[name].show = !this.statusObject[name].show;
			},
			get_JurisdictionStatusCounts: function (jurisdictionStatuses) {
				let juriStatusSet = jurisdictionStatuses.map(x => x.status);
				let result = juriStatusSet.reduce((a, c) => (a[c] = (a[c] || 0) + 1, a), Object.create(null));
				return result;
			},
			getThemeChoice: function (status) {
				let result = 'default'
				switch (status.toUpperCase()) {
					case 'AP':
					case 'TC':
					case 'MO':
					case 'MS':
					case 'NU':
					case 'LQ':
						result = 'green';
						break;
					case 'RJ':
					case 'RV':
					case 'WD':
						result = 'red';
						break;
					default:
						result = 'default';
				}

				return result.toUpperCase();
			},

		}
	}
</script>

<style lang="scss" scoped>
	@use "@/components/theme/Colors";
	@use "sass:color";

	.flex-container {
		display: flex;
	}

	.flex-item {
		flex: 1 1 auto;
	}

	.jur-table {
		overflow-y: scroll;
		max-height: 30vh;
	}

	.sub-list-item-drawer {
		padding-left: 10px;
		border-left: solid 6px Colors.$accentLight;
	}

	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 4px;
	}

	th {
		padding-left: 4px;
	}

	td {
		padding-top: 4px;
		padding-left: 4px;
		border-top: solid 2px Colors.$accentLight;
	}
</style>