﻿<template>
	<div class="row">
		<div class="col-sm-12" style="padding-right: 0px;">
			<!--acceptModal-->
			<div ref="acceptModal" class="modal" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">×</button>
							<h4 class="modal-title">
								<strong>{{ this.vm.uk.subProject.type }} Accept Request</strong>&nbsp;&nbsp;&nbsp;&nbsp;
								<small v-if="hasStartDate">Started on: {{ this.vm.uk.task.startDate | formatDate}}</small>
								<small v-else>This Request has not been started yet</small>
								<small v-if="hasCompleteDate">&nbsp;&nbsp;&nbsp;&nbsp;Completed on: {{ this.vm.uk.task.completeDate | formatDate}}</small>
								<small v-if="taskSpinner">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-spinner fa-pulse fa-2x"></i></small>
							</h4>
						</div>
						<div class="modal-body">
							<div class="form-horizontal">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Estimate Hours</label>
									<div class="col-sm-4">
										<input type="number" class="form-control" v-model="vm.uk.task.estimateHours">
										<span class="field-validation-error" v-if="$v.vm.uk.task.estimateHours.$error && !$v.vm.uk.task.estimateHours.required">Estimate Hours is required</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Target Date</label>
									<div class="col-sm-4">
										<DatePicker v-model="vm.uk.task.targetDate" />
										<span class="field-validation-error" v-if="$v.vm.uk.task.targetDate.$error && !$v.vm.uk.task.targetDate.required">Target date is required</span>
									</div>
									<h4><small>Requested Completion: {{vm.uk.task.subProjectRequestedCompletionDate | formatDate}}</small></h4>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Assignee</label>
									<div class="col-sm-8">
										<input type="hidden" v-model="vm.uk.task.assignee" />
										<Lookup :lookuptextfield="vm.uk.task.assignee" @updateLookupTextField="updateAssignee" lookupajax="Users" v-model="vm.uk.task.assigneeId" data-allow-clear="false" />
										<span class="field-validation-error" v-if="$v.vm.uk.task.assigneeId.$error && !$v.vm.uk.task.assigneeId.required">Assignee is required</span>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button :disabled="hasTaskId || hasStartDate" type="button" class="btn btn-primary pull-left" @click="startSubProjectTask()">Start</button>
							<button :disabled="!hasStartDate || hasCompleteDate" type="button" class="btn btn-primary pull-left" @click="completeSubProjectTask()">Complete</button>
							<button type="button" class="btn btn-primary" @click="saveTask(false)">{{this.customSaveText}}</button>
							<button v-if="!vm.uk.task.taskId > 0" type="button" class="btn btn-primary" @click="acceptSave()">Accept & Start</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
			<!--Form Save/Edit-->
			<div ref="subProjectModal" class="modal" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">×</button>
							<h4 class="modal-title"><strong>{{ this.vm.uk.subProject.type }} Work Request</strong></h4>
						</div>
						<div class="modal-body">
							<Form :validator="$v.vm.uk.subProject"
								  :subProject="vm.uk.subProject"
								  :requiredOutputOptions="vm.uk.requiredOutputOptions"
								  :testHarnessOptions="vm.uk.testHarnessOptions"
								  :timePeriodOptions="vm.uk.timePeriodOptions"
								  :gameTypeOptions="vm.uk.gameTypeOptions"
								  @updateType="updateType"
								  @updateAnalysisType="updateAnalysisType"
								  @updatDeliveryMechanism="updatDeliveryMechanism"></Form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" @click="saveSubProject()">Save</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
			<div>
				<!--Filters-->
				<div class="form-group row">
					<div class="col-sm-12" style="padding-right: 0px;">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Filter Requests<a class="panel-toggle" data-toggle="collapse" href="#Filters"><i class="indicator fas pull-right fa-chevron-circle-up"></i></a></h3>
							</div>
							<div class="panel-body">
								<div id="Filters" class="panel-collapse collapse in">
									<form ref="FormFilters" class="form-horizontal">
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group form-group-sm">
													<label class="control-label col-sm-2" for="TeamIds">Team</label>
													<div class="col-sm-10">
														<LookupMultiple id="TeamIds" name="TeamIds" lookupajax="Teams" v-model="vm.subProjectSearch.teamIds" :options="vm.teamFilterOptions" />
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group form-group-sm">
													<label class="control-label col-sm-2" for="TeamIds">Assignee</label>
													<div class="col-sm-10">
														<LookupMultiple id="AssigneeIds" name="AssigneeIds" lookupajax="Users" v-model="vm.subProjectSearch.assigneeIds" options="" />
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group form-group-sm">
													<label class="control-label col-sm-2" for="StatusIds">Status</label>
													<div class="col-sm-10">
														<SelectStandardMultiple id="statusfilter" :options="vm.taskStatusOptions" v-model="vm.subProjectSearch.statuses" :value="vm.subProjectSearch.Statuses" class="form-control"></SelectStandardMultiple>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12"><button type="button" class="btn btn-primary pull-right" @click="filterGrid()">Filter</button></div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<Grid :grid="grid" :custom-filters="vm.subProjectSearch" @gridComplete="gridComplete"></Grid>
			</div>
		</div>
	</div>
</template>

<script>
	import { SUB_PROJECT_STATUS } from '@/common'
	import Grid from '@/components/utility/Grid'
	import Form from '@/components/incoming/Form'
	import { required } from 'vuelidate/lib/validators'
	import Lookup from '@/components/utility/Lookup'
	import LookupMultiple from '@/components/utility/LookupMultiple'
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple'
	import DatePicker from '@/components/utility/DatePicker'
	import api from '@/api/subproject'
	import Vue from 'vue'

	const gridId = 'SubProjectsGrid';

	const grid = {
		id: gridId,
		url: 'GridsAjax/LoadSubProjectsGrid',
		searchtextbar: 'true',
		sortname: 'ProjectName',
		sortorder: 'asc',
		colNames: [
			'SubProjectId',
			'ProjectId',
			'ProjectNameCopy',
			'File Number',
			'Type',
			'Analysis Type',
			'Game Type',
			'Assignee',
			'Status',
			'Requested Completion',
			'Task Target Date',
			' ',
			' '
		],
		colModel: [
			{ name: 'SubProjectId', key: true, hidden: true },
			{ name: 'ProjectId', hidden: true },
			{ name: 'ProjectNameCopy', hidden: true },
			{ name: 'ProjectName', width: 70, stype: 'text', search: true, customformatter: 'cellReplace1'},
			{ name: 'Type', width: 60, stype: 'text', search: true},
			{ name: 'AnalysisType', width: 100, stype: 'text', search: true },
			{ name: 'GameType', width: 70, stype: 'text', search: true },
			{ name: 'Assignee', width: 70, stype: 'text', search: true },
			{ name: 'Status', width: 50, stype: 'text', search: true },
			{ name: 'RequestedCompletion', width: 60, customformatter: 'formatDate', search: true },
			{ name: 'TargetDate', width: 60, customformatter: 'formatDate', search: true },
			{ name: 'Edit', width: 25, search: false, customformatter: 'cellReplace2' },
			{ name: 'Accept', width: 35, search: false, customformatter: 'cellReplace3'}
		]
	}

	const bus = new Vue({});

	const ProjectLink = Vue.extend({
		template: '<a class="pointer" @click="projectDetail"> {{ projectName }} </a>',
		methods: {
			projectDetail: function (e) {
				window.open("project/detail/" + this.projectId)
				e.preventDefault();
			}
		}
	});

	const EditLink = Vue.extend({
		template: '<a class="pointer" @click="edit"> Edit </a>',
		methods: {
			edit: function (e) {
				const self = this;
				api.getSubProject(this.rowId)
					.then(response => bus.$emit('subProjectData', response.data))
					.catch(e => console.info(e))
					.finally(x => bus.$emit('subProjectModal', this.rowId));
				e.preventDefault();
			}
		}
	});

	const GeneralLink = Vue.extend({
		template: '<a class="pointer" @click="accept"> {{ action }} </a>',
		methods: {
			accept: function (e) {
				const self = this;
				api.loadTask(this.rowId)
					.then(response => bus.$emit('taskLoaded', response.data, this.rowId, this.projectId, this.requestedCompletion))
					.catch(e => console.info(e))
					.finally(x => bus.$emit('taskModal'));
				e.preventDefault();
			}
		}
	});

	export default {
		components: {
			Grid,
			Form,
			Lookup,
			LookupMultiple,
			DatePicker,
			SelectStandardMultiple
		},
		computed: {
			hasStartDate() {
				return this.vm.uk.task.startDate == null ? false : true;
			},
			hasTaskId() {
				return this.vm.uk.task.taskId > 0 ? false : true;
			},
			hasCompleteDate() {
				return this.vm.uk.task.completeDate == null ? false : true;
			},
			customSaveText() {
				return this.vm.uk.task.taskId > 0 ? "Save" : "Accept";
			}
		},
		data() {
			return {
				grid: grid,
				vm: initialData,
				taskSpinner: false,
			}
		},
		created() {
			const self = this;
			bus.$on('subProjectModal', function (rowId) {
				const rowData = $('#' + gridId).jqGrid('getRowData', rowId);
				$(self.$refs.subProjectModal).modal('show');
				self.$v.vm.uk.subProject.$touch();
			});
			bus.$on('subProjectData', function (data) {
				if(data!=null) self.vm.uk.subProject = data;
			});
			bus.$on('taskLoaded', function (data, rowId, projectId, requestedCompletion) {
				if (data != null) {
					self.vm.uk.task = data;
				} else {
					self.vm.uk.task = _.cloneDeep(self.vm.emptyTask);
					self.vm.uk.task.projectId = parseInt(projectId);
					self.vm.uk.task.subProjectId = parseInt(rowId);
					self.vm.uk.task.subProjectRequestedCompletionDate = requestedCompletion;
				}
				self.vm.uk.task.targetDate = self.vm.uk.task.targetDate == null ? self.vm.uk.task.subProjectRequestedCompletionDate : self.vm.uk.task.targetDate;  								
			});
			bus.$on('taskModal', function () {
				self.$v.vm.uk.task.$touch();
				$(self.$refs.acceptModal).modal('show');
			});
		},
		validations() {
			return {
				vm: {
					uk: {
						subProject: {
							typeId: { required },
							analysisTypeId: { required },
							gameType: { required },
							requestedCompletion: { required }
						},
						task: {
							estimateHours: { required },
							assigneeId: { required },
							targetDate: { required }
						}
					}
				}
			}
		},
		methods: {
			updateAnalysisType: function (value) {
				if(value) this.vm.uk.subProject.analysisType = value;
			},
			updateType: function (value) {
				if(value) this.vm.uk.subProject.type = value;
			},
			updatDeliveryMechanism: function (value) {
				if(value) this.vm.uk.subProject.deliveryMechanism = value;
			},
			updateAssignee: function (value) {
				if (value) this.vm.uk.task.assignee = value;
			},
			gridComplete: function () {
				//File Number Column
				$('span[id^=CellReplace1_]').each(function (i) {
					const rowId = $(this).attr('id').replace('CellReplace1_', '');
					const rowData = $('#' + gridId).jqGrid('getRowData', rowId);
					const link = new ProjectLink({
						data() {
							return {
								projectId: rowData.ProjectId,
								projectName: rowData.ProjectNameCopy
							}
						}
					}).$mount();
					this.parentElement.replaceChild(link.$el, this);
				});
				//View Column
				$('span[id^=CellReplace2_]').each(function (i) {
					const rowId = $(this).attr('id').replace('CellReplace2_', '');
					const rowData = $('#' + gridId).jqGrid('getRowData', rowId);
					const link = new EditLink({
						data() {
							return {
								rowId: rowId
							}
						}
					}).$mount();
					this.parentElement.replaceChild(link.$el, this);
				});
				//Accept Column
				$('span[id^=CellReplace3_]').each(function (i) {
					const rowId = $(this).attr('id').replace('CellReplace3_', '');
					const rowData = $('#' + gridId).jqGrid('getRowData', rowId);
					const taskAction = rowData.Status == SUB_PROJECT_STATUS.NOTSTARTED.description ? "Start" :
						rowData.Status == SUB_PROJECT_STATUS.INPROGRESS.description ? "Complete" :
							rowData.Status == SUB_PROJECT_STATUS.CLOSED.description ? "Save" :
								rowData.Status == SUB_PROJECT_STATUS.UNASSIGNED.description ? "Accept": "Save";
					const link = new GeneralLink({
						data() {
							return {
								projectId: rowData.ProjectId,
								rowId: rowId,
								requestedCompletion: rowData.RequestedCompletion,
								action: taskAction
							}
						}
					}).$mount();
					this.parentElement.replaceChild(link.$el, this);
				});
			},
			saveSubProject: function () {
				this.$v.vm.uk.subProject.$touch();
				if (this.$v.vm.uk.subProject.$invalid) return;
				let context = this;
				api.saveSubProject(JSON.stringify(this.vm.uk.subProject), this.vm.uk.subProject.projectId)
					.then(response => { if (!response.data) console.info("Error saving");})
					.catch(e => console.info(e))
					.finally(x => {
						$(context.$refs.subProjectModal).modal('hide');
						$('#' + gridId).trigger('reloadGrid');
					});
			},
			acceptSave: function () {
				this.saveTask(true);
			},
			saveTask: function (tf) {
				this.$v.vm.uk.task.$touch();
				if (this.$v.vm.uk.task.$invalid) return;
				let context = this;
				this.taskSpinner = true;
				api.saveTask(JSON.stringify(this.vm.uk.task))
					.then(response => {
						if (response.data.taskId > 0 && tf) {
							this.$nextTick(function () {
								this.vm.uk.task = response.data;
								this.startSubProjectTask();
							})
						}
					})
					.catch(e => console.info(e))
					.finally(x => {
						this.taskSpinner = false;
						$(context.$refs.acceptModal).modal('hide');
						$('#' + gridId).trigger('reloadGrid');
					});
			},
			startSubProjectTask: function () {
				this.taskSpinner = true;
				api.startTask(this.vm.uk.task.taskId)
					.then(response => {
						if (response.data != null) {
							this.vm.uk.task = response.data;
						}
					})
					.catch(e => console.info(e))
					.finally(x => {
						this.taskSpinner = false;
						$(this.$refs.acceptModal).modal('hide');
						$('#' + gridId).trigger('reloadGrid');
					});
			},
			completeSubProjectTask: function () {
				this.taskSpinner = true;
				api.completeTask(JSON.stringify(this.vm.uk.task))
					.then(response => {
						if (response.data != null) {
							this.vm.uk.task = response.data;
						}
					})
					.catch(e => console.info(e))
					.finally(x => {
						this.taskSpinner = false;
						$(this.$refs.acceptModal).modal('hide');
						$('#' + gridId).trigger('reloadGrid');
					});
			},
			filterGrid: function () {
				const grid = $('#' + gridId);
				const postData = grid.jqGrid('getGridParam', 'postData');
				postData.customFilters = JSON.stringify(this.vm.subProjectSearch);
				grid.jqGrid('setGridParam', { postData: postData });
				grid.trigger('reloadGrid', [{ page: 1 }]);
			}
		}
	}
</script>

<style scoped>
</style>