﻿<template>
	<div>
		<Selector></Selector>
		<div v-if="loadingClauses" class="container-fluid">
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-4">
					<i class="fas fa-spinner fa-pulse fa-10x"></i>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
		<div v-if="!loadingClauses && clausesLoaded" class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<ClauseContainer :fullscreen="true"></ClauseContainer>
				</div>
			</div>
		</div>
	</div>

</template>
<script>
	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters, mapActions } = createNamespacedHelpers('clauseTemplateManagement');

	import ClauseContainer from '@/components/tools/clausetemplatemanagement/content/ClauseContainer.vue';
	import Selector from '@/components/tools/clausetemplatemanagement/navigation/Selector.vue';

	import SelectStandard from '@/components/utility/SelectStandard.vue';


	export default {
		components: {
			SelectStandard,
			ClauseContainer,
			Selector
		},
		data() {
			return {

			}
		},
		computed: {
			...mapGetters([
				'jurisdictionSelected',
				'manufacturerSelected',
				'labelSelected',
				'clausesLoaded',
				'selectedJurisdictionId',
				'selectedManufacturerId',
				'clauses',
				'manufacturers',
				'label',
				'templateSelected',
				'templates',
				'selectedTemplateId',
				'templatesLoaded',
				'loadingTemplates',
				'loadingClauses',
				//'noModifications'
				'modifiedClauses',
			])
		},
		mounted: function () {

		},
		methods: {

			...mapActions([
				'setLabel',
				'loadClauses',
				'setListMode'
			])
		},
		watch: {

		},
		created: function () {
			
		}
	}
</script>
<style scoped>

	.plain-text-control {
		width: 100%;
	}

	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}

	.flex-spinner {
		display: flex;
		/*height: 100px;*/
		justify-content: center;
		align-items: center;
	}

	.no-padding-left {
		padding-left: 0px;
	}

	.no-padding-right {
		padding-right: 0px;
	}
</style>
