﻿<template>
	<div>
		<Selector></Selector>
		<div v-if="loadingClauses" class="container-fluid">
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-4">
					<i class="fas fa-spinner fa-pulse fa-10x"></i>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
		<div v-if="!loadingClauses && clausesLoaded" class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<ClauseContainer :fullscreen="true"></ClauseContainer>
				</div>
			</div>
		</div>
	</div>

</template>
<script>
	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters, mapActions } = createNamespacedHelpers('clauseTemplateManagement');

	const { mapGetters: evoGetters, mapActions: evoActions } = createNamespacedHelpers('evolution');
	import ClauseContainer from '@/components/tools/clausetemplatemanagement/content/ClauseContainer.vue';
	import Selector from '@/components/tools/clausetemplatemanagement/navigation/Selector.vue';

	import SelectStandard from '@/components/utility/SelectStandard.vue';
	//import TemplatePicker from '@/components/documents/generate/Config/TemplatePicker.vue';


	export default {
		components: {
			SelectStandard,
			ClauseContainer,
			Selector
		},
		data() {
			return {
			
			}
		},
		computed: {
			
			...evoGetters([
				'clauseReport'
			]),
			...mapGetters([
				'jurisdictions',
				'jurisdictionSelected',
				'manufacturerSelected',
				'labelSelected',
				'clausesLoaded',
				'selectedJurisdictionId',
				'selectedManufacturerId',
				'clauses',
				'manufacturers',
				'label',
				'templateSelected',
				'templates',
				'selectedTemplateId',
				'templatesLoaded',
				'loadingTemplates',
				'loadingClauses',
				//'noModifications'
				'modifiedClauses',
			])
		},
		mounted: function () {
			this.loadClauses();
		},
		methods: {


			
			...evoActions({
				setEvoClauseReports: 'setClauseReport',
				setClauseReportCounts: 'setClauseReportCounts',
			}),
			...mapActions([
				'setLabel',
				'loadClauses',
				'setListMode',
				'loadClauses'
			])
		},
		watch: {

		},
		created: function () {
		}
	}
</script>
<style scoped>

	.plain-text-control {
		width: 100%;
	}

	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}

	.flex-spinner {
		display: flex;
		/*height: 100px;*/
		justify-content: center;
		align-items: center;
	}
</style>
