﻿<template>
	<div ref="CloneHolidayModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Select a Location</h3>
				</div>
				<div class="modal-body">
					<input name="Location" id="Location" type="hidden" v-model="localVm.locationName" />
					<Lookup id="LocationId" name="LocationId" @updateLookupTextField="updateLocation" lookupajax="Laboratories" :lookuptextfield="localVm.locationName" v-model="localVm.id" />
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button class="btn btn-primary" id="createClone" @click="clickConfirmBtn">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import Lookup from '@/components/utility/Lookup.vue'

	const { mapGetters, mapActions } = createNamespacedHelpers('holiday')

	export default {
		components: {
			Lookup
		},
		data() {
			return {
				vm: initialData,
				localVm: {},
			}
		},
		methods: {
			clickConfirmBtn: function () {
				this.$http.post('Lookups/Holidays/Clone', {
					existingId: this.sourceId,
					newLocation: this.localVm.id
				})
				$(this.$refs.CloneHolidayModal).modal('hide');
			},
			updateLocation: function (value) {
				this.localVm.locationName = value;
			},
			...mapActions([
				'setShowPopup',
			])
		},
		computed: {
			...mapGetters([
				'showPopup',
				'sourceId'
			])
		},
		watch: {
			showPopup: function (newVal, oldVal) {
				if (newVal) {
					this.localVm = this.$lodash.cloneDeep(this.vm);
					$(this.$refs.CloneHolidayModal).modal('show');
					this.setShowPopup(false);
				}
			}
		}
	}
</script>