﻿<template>
	<form ref="HolidayForm" method="post">
		<div class="row row-title">
			<div class="col-sm-8">
				<h3>Edit Holidays <small>{{ vm.locationName }}</small></h3>
			</div>
			<div class="col-sm-4 form-buttons">
				<a @click="saveHolidays($event)" class="btn btn-primary btn-sm">Save</a>
				<a-link href="/lookups/holidays" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Holidays</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="row">
								<div class="col-sm-2 form-group-sm">
									<input id="Year" name="Year" type="hidden" v-model="vm.year" />
									<Lookup style="width:100%" id="HolidayYear" name="HolidayYear" @updateLookupTextField="updateYear" lookupajax="HolidayYears" :lookuptextfield="vm.year" v-model="vm.year"></Lookup>
								</div>
							</div>
							<br />
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Holiday</th>
										<th>Date</th>
										<th class="text-right"><a href="#" @click="removeAllHolidays()"><strong>Remove All</strong></a></th>
									</tr>
								</thead>
								<tbody class="form-group form-group-sm">
									<tr v-for="(h, index) in vm.holidays">
										<td class="col-sm-4">
											<input type="text" :name="'Holidays[' + index + '].Name'" v-model="h.name" class="form-control" />
											<br />
											<span class="field-validation-error" v-if="!$v.vm.holidays.$each[index].name.required && $v.vm.holidays.$each[index].name.$error">Holiday Name is required</span>
											<span class="field-validation-error" v-if="!$v.vm.holidays.$each[index].name.uniqueName">Holiday Name should be unquie</span>
										</td>
										<td class="col-sm-2">
											<DatePicker :name="'Holidays[' + index + '].Date'" v-model="h.date" />
											<span class="field-validation-error" v-if="!$v.vm.holidays.$each[index].date.required && $v.vm.holidays.$each[index].date.$error">Date is required</span>
											<span class="field-validation-error" v-if="!$v.vm.holidays.$each[index].date.dateYear && $v.vm.holidays.$each[index].date.$error">Date should lie within the year {{vm.year}}</span>
										</td>
										<td class="col-sm-6 text-right"><a href="#" @click="removeHoliday(index)" :id="index">Remove</a></td>
									</tr>
								</tbody>
							</table>
							<div>&nbsp;<span @click="addHoliday()"><a href="#"><i class="fas fa-plus"></i> Add Holiday</a></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<input type="hidden" name="LocationId" v-model="vm.locationId" />
	</form>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import Lookup from '@/components/utility/Lookup.vue'
	import DatePicker from '@/components/utility/DatePicker.vue'
	import { required } from 'vuelidate/lib/validators'
	import { sameYearAs, uniqueHolidayName } from '../holiday/validators';
	import ALink from '@/components/utility/ALink.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('holiday')

	export default {
		components: {
			Lookup,
			DatePicker,
			ALink
		},
		data() {
			return {
				vm: initialData
			}
		},
		validations: {
			vm: {
				holidays: {
					$each: {
						name: {
							required,
							uniqueName: uniqueHolidayName()
						},
						date: {
							required,
							dateYear: sameYearAs()
						}
					}
				}
			}
		},
		methods: {
			addHoliday: function () {
				this.vm.holidays.push({
					date: this.vm.defaultHolidayViewModel.date,
					name: this.vm.defaultHolidayViewModel.name
				});
			},
			removeAllHolidays: function () {
				this.vm.holidays = [];
			},
			removeHoliday: function (index) {
				this.vm.holidays.splice(index, 1);
			},
			saveHolidays: function (e) {
				if (!this.validate()) {
					return;
				}
				const form = this.$refs.HolidayForm;
				form.action = jsPath + 'Lookups/Holidays/Edit';
				form.submit();
			},
			updateYear: function (newValue) {
				this.vm.year = newValue;
			},
			validate: function () {
				this.$v.$touch();
				return !this.$v.$invalid;
			},
			...mapActions([
				'setYear',
				'setVM'
			])
		},
		watch: {
			'vm.year': function (newVal, oldVal) {
				if (newVal != oldVal) {
					this.vm.holidays = [];

					this.$http.post('Lookups/Holidays/UpdateHolidays', {
						id: this.vm.locationId,
						year: newVal
					})
					.then(response => {
						this.vm.holidays = response.data;
					})
					.catch(e => {
						console.log(e);
					});
				}
			}
		}
	}
</script>