﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Holidays</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<a-link href="/tools" class="btn btn-sm btn-primary">Exit</a-link>
			</div>
		</div>
		<table class="table table-striped table-hover">
			<tr>
				<th>Location</th>
				<th></th>
			</tr>
			<tbody>
				<tr v-for="(locations, index) in vm">
					<td>{{locations.locationName}}</td>
					<td class="text-right">
						<a :href="'holidays/edit?id=' + locations.id + '&Mode=Edit'">Edit</a> |
						<a @click="clickCloneHolidayPopup(locations.id)" style="cursor: pointer;">Clone Holidays to Another Office</a>
					</td>
				</tr>
			</tbody>
		</table>
		<CloneHoliday></CloneHoliday>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import CloneHoliday from './CloneHoliday'
	import ALink from '@/components/utility/ALink.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('holiday')

	export default {
		components: {
			CloneHoliday,
			ALink
		},
		data() {
			return {
				vm: initialData
			}
		},
		methods: {
			clickCloneHolidayPopup: function (id) {
				this.setSourceId(id);
				this.setShowPopup(true);
			},
			...mapActions([
				'setShowPopup',
				'setSourceId'
			])
		}
	}
</script>