﻿
@model Submissions.Web.Areas.Submission.Models.MachineCertificate.MachineCertificateEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Machine Certification";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "MachineCertificate", FormMethod.Post, new { id = "EditForm" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.MachineCertificate.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.SubmissionRecordId)
	@Html.HiddenFor(m => m.JurisdictionId)
	@Html.Hidden("replacementCertificateViewModel")

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-4 form-buttons">
			@if (Util.HasAccess(Permission.Submission, AccessRight.Edit))
			{
				<input type="button" value="@saveButtonText" class="btn btn-sm btn-primary" id="AddBtn" />
			}
			@if (Model.Mode == Mode.Edit && Util.HasAccess(Permission.Submission, AccessRight.Delete))
			{
				<input type="button" value="Delete" class="btn btn-sm btn-primary" id="DeleteBtn" />
			}
			@Html.ActionLink("Cancel", "Index", new { submissionId = Model.SubmissionRecordId }, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>
	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.MachineCertificate.CertificateNumber, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(m => m.MachineCertificate.CertificateNumber, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.MachineCertificate.CertificateNumber)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.MachineCertificate.CertificateDate, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(m => m.MachineCertificate.CertificateDate, new { @class = "form-control datepicker " })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.MachineCertificate.SerialNumber, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(m => m.MachineCertificate.SerialNumber, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.MachineCertificate.SerialNumber)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.MachineCertificate.SealNumber, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(m => m.MachineCertificate.SealNumber, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.MachineCertificate.SealNumber)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.MachineCertificate.DeviceType, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(m => m.MachineCertificate.DeviceType, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.MachineCertificate.DeviceType)
			</div>
		</div>
	</div>

	<div class="row" id="replacementTable-vue">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Replacement Certifications</h3>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr></tr>
						</thead>
						<tbody class="form-group form-group-sm">
							<tr v-for="(replacement, index) in replacedMachineCertificates">
								<td><input type="text" v-model="replacement.CertificationNumber" class="form-control"></td>
								<td class="text-right"><a href="#" v-on:click="removeReplacemnetCertificate(replacement)">[ Remove ]</a></td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-12">
							<a href='#' v-on:click="addReplacementCertificate"><i class="fas fa-plus"></i> Add Replacement</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

}


@section scripts{
	@Scripts.Render("~/bundles/script/vue")

	<script>
		var replacedMachineCertificates = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.MachineCertificate.ReplacedMachineCertificates));

		var app = new Vue({
			el: '#replacementTable-vue',
			data: {
				replacedMachineCertificates: replacedMachineCertificates
			},
			methods: {
				addReplacementCertificate: function () {
					this.replacedMachineCertificates.push({ Id: 0, CertificationNumber: '' });
				},
				removeReplacemnetCertificate: function (certificate) {
					this.replacedMachineCertificates = this.replacedMachineCertificates.filter(function (item) { return item != certificate; });
				}
			}
		});

		$(function () {
			var form = $('#EditForm');

			$('#AddBtn').click(function () {
				$('#replacementCertificateViewModel').val(JSON.stringify(app.replacedMachineCertificates));
				form.submit();
			});

			$('#DeleteBtn').on('click', function () {
				bootbox.confirm('Are you sure you want to delete this Machine Certificate?', function (result) {
					if (result) {
						$('#Mode').val("Delete");
						form.submit();
					}
				});
			});
		});
	</script>
}
