﻿
@model Submissions.Web.Areas.Submission.Models.MachineCertificate.MachineCertificateIndexViewModel

@{
	ViewBag.Title = "Machine Certifications";
}

<div class="row row-title">
	<div class="col-sm-8">
		<h3>@ViewBag.Title <small>@Model.Component.FileNumber</small></h3>
		<div class="submission-subtitle">
			<span title="ID Number">@Model.Component.PartNumber</span>
			<span title="Game Name">@Model.Component.PartName</span>
			<span title="Version">@Model.Component.Version</span>
			<span title="Date Code">@Model.Component.Code</span>
		</div>
	</div>
	<div class="col-sm-4 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { id = 0, submissionRecordId = Model.SubmissionRecordId, mode = Mode.Add, jurisdictionId = Model.Component.Jurisdiction }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Cancel", "Detail", "Submission", new { id = Model.SubmissionRecordId }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(m => m.MachineCertificates.FirstOrDefault().CertificateNumber)</th>
			<th>@Html.DisplayNameFor(m => m.MachineCertificates.FirstOrDefault().CertificateDate)</th>
			<th>@Html.DisplayNameFor(m => m.MachineCertificates.FirstOrDefault().SerialNumber)</th>
			<th>@Html.DisplayNameFor(m => m.MachineCertificates.FirstOrDefault().SealNumber)</th>
			<th>@Html.DisplayNameFor(m => m.MachineCertificates.FirstOrDefault().DeviceType)</th>
			<th>@Html.DisplayNameFor(m => m.MachineCertificates.FirstOrDefault().CertificatesThatWereReplacedString)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.MachineCertificates.Count == 0)
		{
			<tr><td colspan="7" class="text-warning text-center"><em>No Records Found</em></td></tr>
		}
		@foreach (var certification in Model.MachineCertificates)
		{
			<tr>
				<td>@certification.CertificateNumber</td>
				<td>@certification.CertificateDate</td>
				<td>@certification.SerialNumber</td>
				<td>@certification.SealNumber</td>
				<td>@certification.DeviceType</td>
				<td>@certification.CertificatesThatWereReplacedString</td>
				<td class="text-right">
					@Html.ActionLink("[ Edit ]", "Edit", new { id = certification.Id, submissionRecordId = Model.SubmissionRecordId, mode = Mode.Edit, jurisdictionId = Model.Component.Jurisdiction })
				</td>
			</tr>
		}
	</tbody>
</table>