﻿@model Submissions.Web.Areas.Lookups.Models.BusinessOwnerEditViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = Model.Mode + " Business Owner";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "BusinessOwner", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.Description)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "BusinessOwner", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>
	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Code, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Code)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Description)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-6">
				@Html.CheckBoxFor(m => m.Active, new { @class = "padcheckbox" })
			</div>
		</div>
	</div>
}

<hr />

@if (Model.Id > 0)
{
	<div>
		<div class="row row-title">
			<div class="col-sm-8">
				<h2 class="modal-title">Users</h2>
			</div>
			<div class="col-sm-4 form-buttons">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addUserModal">Add User</button>
			</div>
		</div>

		@Html.Trirand().JQGrid(Model.BusinessOwnerUsersGrid.Grid, Model.BusinessOwnerUsersGrid.Grid.ID)

		<!-- Modal -->
		<div class="modal" id="addUserModal" role="dialog" style="width:90%;">
			<div>
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h2 class="modal-title">Add Users</h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								@Html.Trirand().JQGrid(Model.ModalBusinessOwnerGrid.Grid, Model.ModalBusinessOwnerGrid.Grid.ID)
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-sm" id="AddSelectedUsersToBusinessOwner">Add</button>
						<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>
	</div>
}

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		var modalBusinessOwnerGrid = $('#ModalBusinessOwnerGrid');

		$('#addUserModal').on('shown.bs.modal', function (e) {
			ModalBusinessOwnerGrid.setGridWidth($('#addUserModal').width() - 30);
		});

		$('body').on('click', 'button[name="removeUserFromBusinessOwner"]', function (e) {
			e.preventDefault();

			var payload = {
				userIds: [$(this)[0].dataset['userid']],
				businessOwnerId: $('#Id').val()
			};

			$.ajax({
				url: '@Url.Action("RemoveUsers")',
				type: 'POST',
				dataType: 'json',
				data: JSON.stringify(payload),
				contentType: 'application/json; charset=utf-8'
			})
			.done(function (data) {
				refreshGrids();
			});
		});

		$('#AddSelectedUsersToBusinessOwner').on('click', function (e) {
			e.preventDefault();

			var payload = {
				userIds: modalBusinessOwnerGrid.jqGrid('getGridParam', 'selarrrow'),
				businessOwnerId: $('#Id').val()
			};

			$.ajax({
				url: '@Url.Action("AddUsers")',
				type: 'POST',
				dataType: 'json',
				data: JSON.stringify(payload),
				contentType: 'application/json; charset=utf-8'
			})
			.done(function (data) {
				refreshGrids();
				$('#addUserModal').modal("toggle");
			});
		});

		function removeUserLink(cellValue, options, rowObject) {
			var url = '';
			url += '<button class="btn btn-primary btn-sm" name="removeUserFromBusinessOwner" data-userid="' + options.rowId + '">Remove</button>';
			return url;
		}

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters(false));
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function modalGridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters(true));
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function getFilters(notInBussinessOwner) {
			var filters = {};
			filters.businessOwnerId = $('#Id').val() ? $('#Id').val() : 0;
			filters.notInBussinessOwner = notInBussinessOwner;
			return filters;
		}

		function refreshGrids() {
			$('#ModalBusinessOwnerGrid').trigger('reloadGrid');
			$('#BusinessOwnerUsersGrid').trigger('reloadGrid');
		}
	</script>
}
