﻿@model Submissions.Web.Areas.Lookups.Models.SignatureTypesEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Signature Type";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "SignatureTypes", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3 class="form-h3">@ViewBag.Title <small>@Html.DisplayFor(model => model.Type)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "SignatureTypes", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Type, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.Type, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(model => model.Type)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.DefaultVersionId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(model => model.DefaultVersionId, model => model.DefaultVersion, LookupAjax.SignatureVersions, true)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.AvailableVersionIds, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupMultipleFor(m => m.AvailableVersionIds, Model.AvailableVersions, LookupAjax.SignatureVersions, true)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Length, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(model => model.Length, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Length)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(model => model.Active, new { @class = "padcheckbox" })
				@Html.ValidationMessageFor(model => model.Active)
			</div>
		</div>
	</div>
}