﻿<template>
	<div>
		<div class="container-fluid">
			<div v-for="(section, index) in getLetterContent.sections.filter((sec) => sec.name !== 'Letter Details')" class="row">
				<LetterInputSection v-bind:section="section" v-bind:review="false"></LetterInputSection>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import LetterInputControl from '@/components/documents/generate/EngineeringInput/LetterInputControl.vue';
	import LetterInputSection from '@/components/documents/generate/EngineeringInput/LetterInputSection.vue';


	export default {
		components: {
			SelectStandardMultiple,
			SelectStandard,
			LetterInputControl,
			LetterInputSection
		},
		props: ['letterCollapsed'],
		computed: {
			...mapGetters([
				'getComponentType',
				'getComponentTypes',
				'getEnginePlatform',
				'getEnginePlatforms',
				'getLetterContent',
				'getMechanismOptions'

			]),
			selectedEnginePlatform: {
				get: function () {
					return this.getEnginePlatform;
				},
				set: function (someEngine) {
					this.setEnginePlatform(someEngine);
				}
			},
			selectedComponentType: {
				get: function () {
					return this.getComponentType;
				},
				set: function (someType) {
					this.setComponentType(someType);
				}
			}
		},
		methods: {
			...mapActions([
				'setMechanismOptions',
				'setComponentTypes',
				'setEnginePlatforms',
				'setComponentType',
				'setEnginePlatform'
			])
		},
		mounted: function () {
			this.setMechanismOptions(initialData.mechanismOptions);
			this.setComponentTypes(initialData.componentTypeOptions);
			this.setEnginePlatforms(initialData.enginePlatformOptions);
		}
	}
</script>
<style scoped>
	.coversheet {
		background-color: lightblue;
	}

	.mathDisplay {
		background-color: lightgreen;
	}
</style>
