<template>
	<base-sidebar-view :title="viewTitle">
		<template v-slot:sidebar>
			<base-field-labels 
				title="Question Type" 
				class="col-xs-12">
				<base-radio-button
					:options="vm.inputTypes"
					v-model="vm.question.typeId">
					<template v-slot:errors>
						<p v-if="$v.vm.question.name.$error && !$v.vm.question.name.required">
							A name must be entered for this question.
						</p>
					</template>
				</base-radio-button>
			</base-field-labels>
		</template>
		<div
			v-if="saveResult === false"
			class="alert alert-danger"
			role="alert">
			{{ saveError }}
		</div>
		<div
			v-if="saveResult === true"
			class="alert alert-success"
			role="alert">
			The question was saved successfully.
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-6 gli-question-edit-column">
				<base-field-labels title="Question Text"
								   help-text="This is the question itself. Letter generator users will be asked to answer this.">
					<base-input :field-validation="$v.vm.question.questionText"
								v-model="questionText">
						<template v-slot:errors>
							<p v-if="$v.vm.question.questionText.$error && !$v.vm.question.questionText.required">
								Question text must be entered for this question.
							</p>
						</template>
					</base-input>
				</base-field-labels>

				<base-field-labels title="Name"
								   help-text="This is the name of the question shown to administrators of letter content notes.
					Should usually, but is not required to, match the question text.">
					<base-input :field-validation="$v.vm.question.name"
								v-model="name">
						<template v-slot:errors>
							<p v-if="$v.vm.question.name.$error && !$v.vm.question.name.required">
								A name must be entered for this question.
							</p>
						</template>
					</base-input>
				</base-field-labels>

				<base-field-labels title="Token Key"
								   help-text="The question's variable name that you can reference when editing a note template. Only lowercase letters and underscores are allowed.">
					<base-input :field-validation="$v.vm.question.tokenKey"
								v-model="tokenKey">
						<template v-slot:errors>
							<p v-if="$v.vm.question.tokenKey.$error && !$v.vm.question.tokenKey.required">
								A token key must be entered for this question.
							</p>
						</template>
					</base-input>
				</base-field-labels>
				<base-field-labels title="Source"
								   help-text="The source collection to ask this question for. If specified, this question will appear for each item in the collection.">
					<base-select :options="vm.sources"
								 v-model="source"
								 label="name"
								 track-by="value">
					</base-select>
				</base-field-labels>

				<base-field-labels title="Default Value"
								   help-text="Default answer for this question.">
					<base-input :pholder="placeholder"
								v-model="vm.question.defaultValue">
					</base-input>
				</base-field-labels>

				<base-field-labels title="Repeatable Content">
					<base-checkbox :field-validation="$v.vm.question.isRepeatableContent"
								   v-model="vm.question.isRepeatableContent"
								   label="This question can be repeated in a table" />
				</base-field-labels>

				<base-field-labels title="Splittable">
					<base-checkbox :field-validation="$v.vm.question.isSplittable"
								   v-model="vm.question.isSplittable"
								   label="This question can be split out for different jurisdictions" />
				</base-field-labels>
				<base-field-labels title="Is Required">
					<base-checkbox :field-validation="$v.vm.question.isRequired"
								   v-model="vm.question.isRequired"
								   label="This question is required to answer" />
				</base-field-labels>
				<base-field-labels title="Parent Question"
								   helpText="This is child question of selected parent question.">
					<base-select :options="vm.parentQuestions"
								 v-model="parentQuestion"
								 label="name"
								 track-by="value">
					</base-select>
				</base-field-labels>
				<base-field-labels title="Conditional Expression"
								   helpText="Show this question based on answer(use 'result') of parent question(E.g. result == 'test')">
					<base-input :pholder="placeholder"
								v-model="vm.question.conditionalExpression">
					</base-input>
				</base-field-labels>
			</div>
			<div class="col-xs-12 col-lg-6 gli-question-edit-column">
				<base-field-labels
					v-if="isMultiSelect"
					title="Override Delimiter (Optional)"
					help-text="The separators between options, default is a comma(&quot;,&quot;)">
					<base-select
						:options="delimiters"
						v-model="vm.question.optionDelimiter"
						label="text"
						track-by="value">
					</base-select>
				</base-field-labels>
				<base-field-labels
					v-if="isRadioButton || isDropdown"
					title="Options"
					help-text="Each option requires a name and a value.">
					<option-editor
						:field-validation="$v.vm.question.questionOptions"
						v-model="vm.question.questionOptions">
					</option-editor>
				</base-field-labels>
				<base-field-labels
					v-if="isLookup"
					title="Lookup Type"
					help-text="The collection referenced by the lookup.">
					<base-select
						:options="vm.lookupTypes"
						v-model="referenceLookup"
						label="name"
						:field-validation="$v.referenceLookup"
						track-by="value">
						<template v-slot:errors>
							<p v-if="$v.referenceLookup.$error && !$v.referenceLookup.required">
								You must select a lookup type for lookup questions.
							</p>
						</template>
					</base-select>
				</base-field-labels>
			</div>
		</div>
		<template v-slot:actions>
			<i
				v-if="saveInProgress"
				class="fa fa-spinner fa-pulse"></i>
			<base-button
				inverse-style
				href="/documents/letterQuestion/"
				:disabled="saveInProgress">
				View All Questions
			</base-button>
			<base-button
				inverse-style
				@click="tryDeactivate"
				:disabled="saveInProgress || vm.isNewQuestion">
				Deactivate
			</base-button>
			<base-button
				inverse-style
				is-primary
				@click="() => save(false)"
				:disabled="saveInProgress">
				Save
			</base-button>
		</template>
		<base-modal 
			v-if="deactivateDialog && vm.isAttached"
			@close="() => deactivateDialog = false">
			<template v-slot:header>
				Memos Attached
			</template>
			This question cannot be deactivated while memos are using it.
		</base-modal>
		<base-modal 
			v-if="deactivateDialog && !vm.isAttached"
			@close="() => deactivateDialog = false">
			<template v-slot:header>
				Deactivate
			</template>
			Are you sure you want to deactivate this question?
			<template v-slot:actions>				
				<base-button
					@click="() => deactivateDialog = false">
					Cancel
				</base-button>		
				<base-button
					is-primary
					is-destructive
					@click="deactivate">
					Deactivate
				</base-button>	
			</template>
		</base-modal>
	</base-sidebar-view>
</template>

<script>
//import { createNamespacedHelpers } from 'vuex';
//const { mapState, mapGetters, mapActions } = createNamespacedHelpers('letterContent');
import OptionEditor from "./edit/OptionEditor";
import { required } from "vuelidate/lib/validators";


// from https://gist.github.com/hagemann/382adfc57adbd5af078dc93feef01fe1
// TODO: underscores instead of dashes

function slugify(string) {
	const a = "àáâäæãåāăąçćčđďèéêëēėęěğǵḧîïíīįìłḿñńǹňôöòóœøōõőṕŕřßśšşșťțûüùúūǘůűųẃẍÿýžźż·/-,:;";
	const b = "aaaaaaaaaacccddeeeeeeeegghiiiiiilmnnnnoooooooooprrsssssttuuuuuuuuuwxyyzzz______";
	const p = new RegExp(a.split("").join("|"), "g");

	return string.toString().toLowerCase()
		.replace(/\s+/g, "_") // Replace spaces with -
		.replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
		.replace(/&/g, "_and_") // Replace & with 'and'
		.replace(/[^\w\_]+/g, "") // Remove all non-word characters
		.replace(/\_\_+/g, "_") // Replace multiple - with single -
		.replace(/^_+/, "") // Trim - from start of text
		.replace(/_+$/, ""); // Trim - from end of text
}

export default {
	components: {
		OptionEditor
	},
	data: function () {
		const name = initialData.question.name;
		if (name === "" || name == null) {
			initialData.question.name = initialData.question.questionText;
		}
		const tokenKey = initialData.question.tokenKey;
		if (tokenKey === "" || tokenKey == null) {
			initialData.question.tokenKey = slugify(initialData.question.name);
		}

		// Source lookup
		const sources = [];
		for (const key in initialData.sources) {
			sources.push({
				name: initialData.sources[key],
				value: Number(key)
			});
		}

		//Parent question Look up
		const parentQuestions = [];
		for (const key in initialData.questions) {
			parentQuestions.push({
				name: initialData.questions[key],
				value: Number(key)
			});
		}

		// Input type radio buttons
		let inputTypes = [];
		const tempBlacklist = [
			"Static",
			"Table"
		];
		const inputTypeNameOverrides = {
			Plaintext: "Plain Text",
			Radio: "Radio Buttons",
			Textarea: "Plain Text (Multiple Lines)",
			Multiselect: "Dropdown (Multiple Select)",
			LookupMultiple: "Lookup (Multiple Select)",
			Datepicker: "Date Picker",
			ComponentList: "Component List"
		};
		for (const key in initialData.inputTypes) {
			const name = initialData.inputTypes[key];
			if (tempBlacklist.includes(name)) continue;
			inputTypes.push({
				label: name in inputTypeNameOverrides ? inputTypeNameOverrides[name] : name,
				value: Number(key)
			});
		}
		inputTypes = inputTypes.sort((a, b) => a.label.localeCompare(b.label));

		// Lookup lookup
		let lookupTypes = [];
		for (const key in initialData.lookupTypes) {
			lookupTypes.push({
				name: initialData.lookupTypes[key],
				value: initialData.lookupTypes[key] // name is the ID as well
			});
		}
		lookupTypes = lookupTypes.sort((a, b) => a.name.localeCompare(b.name));

		const model = {
			deactivateDialog: false,
			saveError: null,
			saveInProgress: false,
			saveResult: null,
			source: sources.find(s => s.value === Number(initialData.question.sourceId)),
			parentQuestion : parentQuestions.find(q => q.value == Number(initialData.question.parentQuestionId)),
			referenceLookup: lookupTypes.find(s => s.value === initialData.question.referenceLookup),
			viewTitle: initialData.isNewQuestion ? "New Question" : "Edit Question",
			vm: {
				...initialData,
				sources,
				inputTypes,
				lookupTypes,
				parentQuestions
			},
			delimiters: [
				{
					disabled: false,
					group: null,
					selected: false,
					text: "Comma without space",
					value: ","
				},
				{
					disabled: false,
					group: null,
					selected: false,
					text: "Comma",
					value: ", "
				},
				{
					disabled: false,
					group: null,
					selected: false,
					text: "Forward Slash",
					value: "/"
				},
				{
					disabled: false,
					group: null,
					selected: false,
					text: "Space Only",
					value: " "
				}
			]
		};
		return model;
	},
	computed: {
		questionText: {
			get: function () {
				return this.vm.question.questionText;
			},
			set: function (value) {
				if (this.vm.question.questionText === this.name
						&& !this.$v.vm.question.name.$dirty) {
					this.name = value;
				}
				this.vm.question.questionText = value;
			}
		},
		name: {
			get: function () {
				return this.vm.question.name;
			},
			set: function (value) {
				if (slugify(this.vm.question.name) === this.vm.question.tokenKey
						&& !this.$v.vm.question.tokenKey.$dirty) {
					this.vm.question.tokenKey = slugify(value);
				}
				this.vm.question.name = value;
			}
		},
		tokenKey: {
			get: function () {
				return this.vm.question.tokenKey;
			},
			set: function (value) {
				this.vm.question.tokenKey = slugify(value);
			}
		},
		isDropdown: {
			get: function () {
				return this.vm.question.typeId === 2 || this.vm.question.typeId === 3;
			}
		},
		isLookup: {
			get: function () {
				return this.vm.question.typeId === 4 || this.vm.question.typeId === 5;
			}
		},
		isRadioButton: {
			get: function () {
				return this.vm.question.typeId === 7;
			}
		}, 
		isMultiSelect: {
			get: function () {
				return this.vm.question.typeId === 3 || this.vm.question.typeId === 5;
			}
		},
		placeholder: {
			get: function () {
				if (this.vm.question.typeId === 0) {
					return "Checkbox Eg: True";
				} else if (this.vm.question.typeId === 1) {
					return "Date Picker Eg: 1/12/2021";
				} else if (this.vm.question.typeId === 2) {
					return "Dropdown Eg: Apple";
				} else if (this.vm.question.typeId === 3) {
					return 'Dropdown (Multiple Select) Eg: ["Hotdog","Salad"]'
				} else if (this.vm.question.typeId === 4) {
					return 'Lookup Eg: ["Hotdog","Salad"]'
				} else if (this.vm.question.typeId === 6) {
					return "Plain Text Eg: Apple"
				} else if (this.vm.question.typeId === 7) {
					return "Radio Buttons Eg: Yes"
				} else if (this.vm.question.typeId === 10) {
					return "Plain Text (Multiple Lines) Eg: Apple"
				}
			}
		}
	},
		methods: {
		deactivate: function () {
			this.saveResult = null;			
			this.saveError = null;
			this.saveInProgress = true;
			this.$http.post("documents/letterquestion/deactivate", {
				id: this.vm.question.id
			})
				.then(() => {
					let redirectUrl = `${jsPath}documents/letterquestion/`;
					if (this.previousUrl) {
						redirectUrl = this.previousUrl;		
						if (redirectUrl.startsWith("/")) {
							redirectUrl = `${jsPath}${this.previousUrl.slice(1)}`;
						}				
					}
					window.location.href = redirectUrl;
				})
				.catch(e => {
					this.saveInProgress = false;	
					this.saveResult = false;
					this.saveError = "There was an unknown error deactivating this question.";
					console.error(e);
				});
		},
		save: function (shouldClose) {
			this.saveResult = null;
			if (this.validate()) {
				return;
			}
			this.saveError = null;
			this.saveInProgress = true;
			this.$http.post("documents/letterquestion/edit", this.vm)
				.then(() => {
					if (shouldClose) {
						let redirectUrl = this.previousUrl;
						if (redirectUrl.startsWith("/")) {
							redirectUrl = `${jsPath}${this.previousUrl.slice(1)}`;
						}
						window.location.href = redirectUrl;
					} else {						
						this.saveResult = true;
						this.saveInProgress = false;
					}
				})
				.catch(e => {
					this.saveInProgress = false;	
					this.saveResult = false;
					this.saveError = "There was an unknown error saving this question.";
					console.error(e);
				});
		},
		tryDeactivate: function() {
			this.deactivateDialog = true;
		},
		validate: function () {
			this.saveResult = null;
			this.$v.$touch();
			return this.$v.$invalid;
		},
	},
	watch: {
		source(v) {
			this.vm.question.sourceId = v.value;
		},
		referenceLookup(v) {
			this.vm.question.referenceLookup = v.value;
		},
		parentQuestion(v) {
			this.vm.question.parentQuestionId = v.value;
		}
	},
	validations: {
		vm: {
			question: {
				questionText: {
					required
				},
				name: {
					required
				},
				tokenKey: {
					required
				},
				questionOptions: {
					//required: this.typeHasOptions,
					// TODO: Find way for vuelidate to read `this` and see computed props
					// Until then, need to update this for every question type needing multiple options
					required: (value, question) => {
						const multipleOptionTypes = [2, 3, 7];
						return !multipleOptionTypes.includes(question.typeId) || question.questionOptions.length > 0;
					},
					uniqueLabels: (value, question) => {
						const multipleOptionTypes = [2, 3, 7];
						if (!multipleOptionTypes.includes(question.typeId)) return true;
						const values = [];
						question.questionOptions.forEach(qo => {
							if (!values.includes(qo.value || "")) {
								values.push(qo.value || "");
							}
						});
						return values.length === question.questionOptions.length;
					},
					$each: {
						text: {
							required
						},
						value: {
							// TODO: Find a way for vuelidate to see the rest of the collection
							required
						}
					}
				},
				isRepeatableContent: {},
				isSplittable: {}
			}
		},
		referenceLookup: {
			required: (value, v) => {
				const lookupTypes = [4, 5];
				return !lookupTypes.includes(v.vm.question.typeId) || v.vm.question.referenceLookup != null;
			}
		},
	},
};
</script>

<style lang="scss" scoped>
	@use '@/components/theme/Spacing';

	.gli-question-edit-column {
		margin-bottom: Spacing.$double;
	}

	.fa-spinner + a {
		margin-left: Spacing.$full;
	}
</style>