﻿<template>
	<base-header-view
		fixed-width
		title="Questions">
		<glide-grid
			id="gli-question-list"
			zebra-stripe
			:columns="columns"
			:rows="rows">
			<template v-slot:Actions="glide">
				<base-button :href="'/documents/letterquestion/edit/' + glide.row.id">
					Edit
				</base-button>
			</template>
		</glide-grid>
		<template v-slot:actions>
			<base-button 
				inverse-style
				href="/tools">
				Close
			</base-button>
			<base-button 
				inverse-style 
				href="/documents/letterquestion/edit/">
				Add
			</base-button>
		</template>
	</base-header-view>
</template>

<script>
import GlideGrid from "@/components/utility/GlideGrid.vue";

export default {
	components: {
		GlideGrid
	},
	data: function () {
		const columns = [
			{
				label: "Name",
				field: "name",
				style: {
					width: "200px",
					verticalAlign: "middle"
				}
			},
			{
				label: "Question",
				field: "questionText",
				style: {
					minWidth: "200px",
					verticalAlign: "middle"
				}
			},
			{
				slot: "Actions",
				field: null,
				style: {
					width: "100px",
					textAlign: "right",
					verticalAlign: "middle"
				}
			}
		];
		return {
			columns,
			rows: initialData.questions
		};
	}
};
</script>

<style lang="scss" scoped>
	#gli-question-list {
		min-width: 100%;
	}
</style>