<template>
	<base-field-wrapper
		:dirty="dirty"
		:error="fieldValidation ? fieldValidation.$error : null">
		<multiselect
			v-bind="$attrs"
			v-model="newValue"
			:style="fieldStyle"
			v-on="$listeners">
		</multiselect>
		<template v-slot:errors>
			<!-- @slot Validation error messages to the user go here -->
			<slot name="errors"></slot>
		</template>
	</base-field-wrapper>
</template>

<script>
import BaseFieldWrapper from "../fieldWrapper/BaseFieldWrapper.vue";
import Multiselect from "vue-multiselect";

/**
 * A select component with built-in support for error messages. This is a thin wrapper around
 * vue-multiselect (https://vue-multiselect.js.org/). Properties below are specific to v-model binding and error
 * messages; refer to the above documentation for how to use the select box.
 */
export default {
	components: {
		BaseFieldWrapper,
		Multiselect
	},
	props: {
		/**
		 * Sets the inline styling for the select box.
		 */
		fieldStyle: {
			type: Object,
			required: false,
			default: null
		},
		/**
		 * The field's validation context. Adds styling for invalid fields.
		 */
		fieldValidation: {
			type: Object,
			required: false,
			default: null
		},
		/**
		 * The value to bind to the input. Must match one of the options passed to vue-multiselect
	 	 * (if not null).
		 */
		value: {
			type: null,
			required: true
		},
	},
	data: function () {
		return {
			newValue: this.value,
			originalValue: this.value,
		};
	},
	computed: {
		dirty: {
			get: function () {
				return this.newValue !== this.originalValue;
			}
		}
	},
	watch: {
		newValue(v) {
			/**
			 * Input event.
			 * @property {object} Returns the result selected by the user
			 */
			this.$emit("input", v);
		}
	},
	methods: {
	}
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	.multiselect::v-deep {
		font-size: 1em;

		.multiselect__input,
		.multiselect__single {
			font-size: 0.9em;
			padding-left: 0;
		}

		.multiselect__tags {
			border: 2px solid Colors.$grayLight;
			border-radius: 4px;
			box-shadow: none;
			transition: border 0.1s;
			width: 100%;

			input {
				border: 0;
				box-shadow: none;
				padding: 0;
			}

			.multiselect__tag {
				background: Colors.$blueLight;
				color: Colors.$white;
			}

			.multiselect__tag-icon:focus,
			.multiselect__tag-icon:hover {
				background: Colors.$blueLight;
				color: Colors.$white;
			}

			.gli-base-field-wrapper--dirty & {
				border-color: Colors.$edit;
			}

			.gli-base-field-wrapper--error & {
				border-color: Colors.$destructive;
			}

			.multiselect--active & {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border-color: Colors.$blueLight;
			}
		}

		.multiselect__content-wrapper {
			border: 2px solid Colors.$grayLight;
			border-top: 0;
		}

		.multiselect__option--selected,
		.multiselect__option--selected::after {
			background: Colors.$grayLight;
			color: Colors.$grayDark;
			font-weight: normal;
		}

		.multiselect__option--highlight,
		.multiselect__option--highlight::after {
			background: Colors.$blueLight;
			color: Colors.$white;
		}
	}
</style>