﻿@model Submissions.Web.Areas.Evolution.Models.ReviewIndexViewModel

@{
	ViewBag.Title = "Review";
	ViewBag.FullWidth = true;
	ViewBag.NoFooter = true;
}

@section css{
	<style>
		.title {
			padding-left: 0px;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.pr-0 {
			padding-right: 0px;
		}

		.margin-0 {
			margin: 0px;
		}

		.cursor-pointer {
			cursor: pointer;
		}

		@@media print {
			.print-hide-element {
				display: none;
			}
		}
	</style>
}

<div class="row row-title hidden-print">
	<div class="col-sm-6">
		<h3 style="margin:0px 50px">@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Exit", "Index", "Home", new { Area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>
<div id="app"></div>

@section scripts{
<script>
	var enumQuestionType = @(Html.EnumToString<Submissions.Common.EvolutionQuestionType>());
	var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
