﻿@model Submissions.Web.Areas.PointClick.Models.Submit.DetailViewModel

@section css{
	<style>
		#ShipmentsTable, #AttachmentsTable {
			font-size: 11px;
		}

			#ShipmentsTable thead > th {
				color: silver;
			}

			#ShipmentsTable th, #ShipmentsTable td {
				padding: 3px;
			}

		.table-component td:nth-child(1) {
			width: 30px;
		}

		.table-component td:nth-child(2), .table-signature td:nth-child(1) {
			font-weight: bold;
			padding-right: 15px;
		}

		.table-jurisdiction {
			margin-left: 30px;
		}

		.well {
			background-color: transparent !important;
		}

		caption {
			padding-bottom: 4px;
		}

		.fa-exclamation-triangle {
			color: #FFA500;
		}
	</style>
}

@{
	ViewBag.Title = "Point.Click.Submit® Request Details";
	var processed = Model.SubmitRequest.Status != SubmitRequestHeaderStatus.Pending.ToString();
	var cancelBtnText = "Cancel";
	if (processed)
	{
		cancelBtnText = "Exit";
	}

	var altHeaderCss = "hidden";
	var isiGaming = false;
	var isIGT = false;
	if (Model.SubmitRequest.TestingType == TestingType.iGaming.ToString() || Model.SubmitRequest.TestingType == TestingType.Sportsbook.ToString())
	{
		altHeaderCss = "";
		isiGaming = true;

		if (Model.SubmitRequest.ManufacturerCode == CustomManufacturer.IGT.ToString())
		{
			isIGT = true;
		}
	}
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@if (Util.HasAccess(Permission.PCT, AccessRight.Edit) && !processed)
		{
			<button class="btn btn-primary btn-sm btn-accept">Accept</button>
			<button class="btn btn-primary btn-sm btn-reject">Reject</button>
		}
		@Html.ActionLink(cancelBtnText, "index", null, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Submit Request</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-5">
						<dl class="dl-horizontal" style="margin:0;">
							@if (!String.IsNullOrEmpty(Model.SubmitRequest.FileNumber))
							{
								<dt>@Html.DisplayNameFor(m => m.SubmitRequest.FileNumber)&nbsp;</dt>
								<dd><a href="@Url.Action("detail", "submission", new { area = "submission", filenumber = Model.SubmitRequest.FileNumber })" target="_blank">@Model.SubmitRequest.FileNumber</a>&nbsp;</dd>
							}
							<dt>@Html.DisplayNameFor(m => m.SubmitRequest.ConfirmId)&nbsp;</dt>
							<dd>@Html.DisplayFor(m => m.SubmitRequest.ConfirmId)&nbsp;</dd>
							<dt>@Html.DisplayNameFor(m => m.SubmitRequest.SubmitDate)&nbsp;</dt>
							<dd>@Html.DisplayFor(m => m.SubmitRequest.SubmitDate)&nbsp;</dd>
							<dt>@Html.DisplayNameFor(m => m.SubmitRequest.ContactName)&nbsp;</dt>
							<dd>@Html.DisplayFor(m => m.SubmitRequest.ContactName)&nbsp;</dd>
							<dt>@Html.DisplayNameFor(m => m.SubmitRequest.ContactEmail)&nbsp;</dt>
							<dd>@Html.DisplayFor(m => m.SubmitRequest.ContactEmail)&nbsp;</dd>
							<dt>@Html.DisplayNameFor(m => m.SubmitRequest.ContactPhone)&nbsp;</dt>
							<dd>@Html.DisplayFor(m => m.SubmitRequest.ContactPhone)&nbsp;</dd>
							@if (Model.SubmitRequest.Status == SubmitRequestHeaderStatus.Rejected.ToString())
							{
								<dt>&nbsp;</dt>
								<dd>&nbsp;</dd>
								<dt>Reject Reason&nbsp;</dt>
								<dd>@Html.DisplayFor(m => m.SubmitRequest.QAMemo)&nbsp;</dd>
							}

							<dt>&nbsp;</dt>
							<dd>&nbsp;</dd>
							<dt>@Html.DisplayNameFor(m => m.SubmitRequest.TestingType)&nbsp;</dt>
							<dd>@Html.DisplayFor(m => m.SubmitRequest.TestingType)&nbsp;</dd>
							<dt>@Html.DisplayNameFor(m => m.SubmitRequest.ManufacturerCode)&nbsp;</dt>
							<dd>@Html.DisplayFor(m => m.SubmitRequest.ManufacturerCode)&nbsp;</dd>
							@if (isiGaming)
							{
								<dt>@Html.DisplayNameFor(m => m.SubmitRequest.Studio)&nbsp;</dt>
								<dd>@Html.DisplayFor(m => m.SubmitRequest.Studio)&nbsp;</dd>
								<dt>@Html.DisplayNameFor(m => m.SubmitRequest.TargetDate)&nbsp;</dt>
								<dd>@Model.SubmitRequest.TargetDate.ToString("d")&nbsp;</dd>
								<dt>@Html.DisplayNameFor(m => m.SubmitRequest.GoLiveDate)&nbsp;</dt>
								<dd>@Model.SubmitRequest.GoLiveDate.ToString("d")&nbsp;</dd>
								<dt>@Html.DisplayNameFor(m => m.SubmitRequest.TranslationHouses)&nbsp;</dt>
								<dd>
									@foreach (var item in Model.SubmitRequest.TranslationHouses)
									{
										@item
										if (item != Model.SubmitRequest.TranslationHouses.Last())
										{
											<br />
										}
									}
									&nbsp;
								</dd>
								<dt>@Html.DisplayNameFor(m => m.SubmitRequest.ManufacturerBuildId)&nbsp;</dt>
								<dd>@Html.DisplayFor(m => m.SubmitRequest.ManufacturerBuildId)&nbsp;</dd>
								<dt>@Html.DisplayNameFor(m => m.SubmitRequest.FTPLocation)&nbsp;</dt>
								<dd class="preserve-linebreak">@Html.DisplayFor(m => m.SubmitRequest.FTPLocation)&nbsp;</dd>
								<dt>@Html.DisplayNameFor(m => m.SubmitRequest.TestingEnvironment)&nbsp;</dt>
								<dd class="preserve-linebreak">@Html.DisplayFor(m => m.SubmitRequest.TestingEnvironment)&nbsp;</dd>
								if (Model.ShowGameSubmissionType)
								{
									<dt>@Html.DisplayNameFor(m => m.SubmitRequest.GameSubmissionType)&nbsp;</dt>
									<dd>@Html.DisplayFor(m => m.SubmitRequest.GameSubmissionType)&nbsp;</dd>
									<dd class="preserve-linebreak">@Html.DisplayFor(m => m.SubmitRequest.GameSubmissionTypeInfo)&nbsp;</dd>
								}
							}
						</dl>
					</div>
					<div class="col-sm-7">
						<dl class="dl-horizontal" style="margin:0;">
							<dt>@Html.DisplayNameFor(m => m.SubmitRequest.ReferenceNumber)&nbsp;</dt>
							<dd>@Html.DisplayFor(m => m.SubmitRequest.ReferenceNumber)&nbsp;</dd>
							<dt>@Html.DisplayNameFor(m => m.SubmitRequest.PreCertified)&nbsp;</dt>
							<dd>@Model.SubmitRequest.PreCertified.ToYesNoString()&nbsp;</dd>
							<dt>@Html.DisplayNameFor(m => m.SubmitRequest.Memo)&nbsp;</dt>
							<dd>@Html.DisplayFor(m => m.SubmitRequest.Memo)&nbsp;</dd>
							<dt>Shipments&nbsp;</dt>
							<dd>
								@if (Model.SubmitRequest.Shipments.Count > 0)
								{
									<table id="ShipmentsTable" class="table table-condensed">
										<thead>
											<tr>
												<th>@Html.DisplayNameFor(m => m.SubmitRequest.Shipments.FirstOrDefault().Shipper)</th>
												<th>@Html.DisplayNameFor(m => m.SubmitRequest.Shipments.FirstOrDefault().TrackingNumber)</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var s in Model.SubmitRequest.Shipments)
											{
												<tr>
													<td>@s.Shipper</td>
													<td>@s.TrackingNumber</td>
												</tr>
											}
										</tbody>
									</table>
								}
							</dd>
							@if (Model.SubmitRequest.Attachments.Count > 0)
							{
								<dt>Attachments&nbsp;</dt>
								<dd>

									<table id="AttachmentsTable">
										<tbody>
											@foreach (var s in Model.SubmitRequest.Attachments)
											{
												<tr><td>@s.FileName</td></tr>
											}
										</tbody>
									</table>
								</dd>
							}
						</dl>
					</div>
				</div>
				<div class="row" style="padding-top:20px;">
					<div class="col-sm-6">
						<div class="form-horizontal">
							<div class="form-group">
								@Html.LabelFor(m => m.SubmitRequest.InternalMemo, new { @class = "control-label col-sm-3" })
								<div class="col-sm-9">
									@Html.TextAreaFor(m => m.SubmitRequest.InternalMemo, 3, 0, new { @class = "form-control" })
									@if (!processed)
									{
										<a id="SaveSubmitRequest" href="#">Save Internal Memo</a>
										<span id="SavedMessage" class="text-success pull-right fade">Saved</span>
									}
								</div>
							</div>
						</div>
					</div>
					@if (!processed && !string.IsNullOrEmpty(Model.SubmitRequest.InternalEditUser))
					{
						<div class="col-sm-6 text-right dataenteredinfo">
							@Html.DisplayNameFor(m => m.SubmitRequest.InternalEditUser): @Model.SubmitRequest.InternalEditUser<br />
							@Html.DisplayNameFor(m => m.SubmitRequest.InternalEditDate): @Model.SubmitRequest.InternalEditDate.ToString("g")
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Components</h3>
			</div>
			<div class="panel-body">
				@foreach (var s in Model.SubmitRequest.Components)
				{
					<div class="well well-sm">
						<div class="row">
							<div class="col-sm-6">
								<table class="table-component">
									<tbody>
										<tr>
											<td>@(s.ItemNumber + 1).</td>
											<td>@Html.DisplayNameFor(m => s.IdNumber)</td>
											<td>
												@s.IdNumber &nbsp;
												@if (s.PossibleDuplicateSubmissionId != null)
												{
													<a href="@Url.Action("detail", "submission", new { area = "submission", id = s.PossibleDuplicateSubmissionId })" target="_blank" title="Possible Duplicate Component - Id Number already exists">
														<i class="fas fa-exclamation-triangle"></i>
													</a>
												}
											</td>
										</tr>
										<tr>
											<td></td>
											<td>@Html.DisplayNameFor(m => s.Version)</td>
											<td>@s.Version</td>
										</tr>
										<tr>
											<td></td>
											<td>@Html.DisplayNameFor(m => s.GameName)</td>
											<td>@s.GameName</td>
										</tr>
										@if (isiGaming)
										{
											if (isIGT)
											{
												<tr>
													<td></td>
													<td>@Html.DisplayNameFor(m => s.OrgIGTMaterial)</td>
													<td>@s.OrgIGTMaterial</td>
												</tr>
											}
											<tr>
												<td></td>
												<td>@Html.DisplayNameFor(m => s.Position)</td>
												<td>@s.Position</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
							<div class="col-sm-6">
								<table class="table-signature">
									<tbody>
										<tr>
											<td>@Html.DisplayNameFor(m => s.SignatureType)</td>
											<td>@s.SignatureType</td>
										</tr>
										<tr>
											<td>@Html.DisplayNameFor(m => s.SignatureScope)</td>
											<td>@s.SignatureScope</td>
										</tr>
										<tr>
											<td>@Html.DisplayNameFor(m => s.Signature)</td>
											<td>@s.Signature</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<table class="table-jurisdiction">
									<caption>Jurisdictions</caption>
									@foreach (var j in s.Jurisdictions)
									{
										<tr><td>@j.Name<span class="dd-ch">@j.JurisdictionId</span></td></tr>
									}
								</table>
							</div>
							<div class="col-sm-6">
								@if (s.Attachments.Count > 0)
								{
									<table class="table-attachment">
										<caption>Attachments</caption>
										@foreach (var a in s.Attachments)
										{
											<tr>
												<td>@a.FileName</td>
											</tr>
										}
									</table>
								}
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 form-buttons">
		<br />
		@if (Util.HasAccess(Permission.PCT, AccessRight.Edit) && !processed)
		{
			<button class="btn btn-primary btn-sm btn-accept">Accept</button>
			<button class="btn btn-primary btn-sm btn-reject">Reject</button>
		}
		@Html.ActionLink(cancelBtnText, "index", null, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

<div class="modal" id="AcceptModal" tabindex="-1">
	<div class="modal-dialog" style="width:1200px;">
		<div class="modal-content">
			<div class="modal-header">
				<div class="pull-right">
					<button type="button" class="btn btn-primary btn-save-accept">Add</button>
					<button type="button" class="btn btn-primary btn-cancel-accept" data-dismiss="modal">Cancel</button>
				</div>
				<h3 class="modal-title">Add Submission <small>@Model.SubmitRequest.ConfirmId</small></h3>
			</div>
			<div class="modal-body">
				@using (Html.BeginForm("accept", "submit", FormMethod.Post, new { id = "AcceptForm" }))
				{
					@Html.Hidden("SubmitRequestId", Model.SubmitRequest.Id)
					<div class="form-horizontal">
						<h4 class="@altHeaderCss alt-header">Submission</h4>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Accept.TypeId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-7">
										@Html.LookupFor(m => m.Accept.TypeId, m => m.Accept.Type, LookupAjax.SubmissionTypes, true)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Accept.JurisdictionId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-7">
										@Html.LookupFor(m => m.Accept.JurisdictionId, m => m.Accept.Jurisdiction, LookupAjax.Jurisdictions, false, new { data_filter = Json.Encode(Model.Accept.JurisdictionFilter) })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Accept.LabId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-7">
										@Html.LookupFor(m => m.Accept.LabId, m => m.Accept.Lab, LookupAjax.Laboratories, true)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Accept.CertificationLabId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-7">
										@Html.LookupFor(m => m.Accept.CertificationLabId, m => m.Accept.CertificationLab, LookupAjax.Laboratories, true)
									</div>
								</div>
								<div class="form-group">
									@Html.LabelFor(m => m.Accept.Memo, new { @class = "control-label col-sm-4" })
									<div class="col-sm-7">
										@Html.TextAreaFor(m => m.Accept.Memo, 6, 0, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Accept.Memo)
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Accept.CompanyId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-7">
										@Html.LookupFor(m => m.Accept.CompanyId, m => m.Accept.Company, LookupAjax.Companies, true)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Accept.ContractTypeId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-7">
										@Html.LookupFor(m => m.Accept.ContractTypeId, m => m.Accept.ContractType, LookupAjax.ContractTypes, true)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Accept.CurrencyId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-7">
										@Html.LookupFor(m => m.Accept.CurrencyId, m => m.Accept.Currency, LookupAjax.Currencies, true)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Accept.ContractNumber, new { @class = "control-label col-sm-4" })
									<div class="col-sm-5">
										@Html.TextBoxFor(m => m.Accept.ContractNumber, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Accept.ContractNumber)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Accept.ContractValue, new { @class = "control-label col-sm-4" })
									<div class="col-sm-5">
										@Html.TextBoxFor(m => m.Accept.ContractValue, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Accept.ContractValue)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Accept.WON, new { @class = "control-label col-sm-4" })
									<div class="col-sm-5">
										@Html.TextBoxFor(m => m.Accept.WON, new { @class = "form-control upper" })
										@Html.ValidationMessageFor(m => m.Accept.WON)
									</div>
								</div>
							</div>
						</div>
						@if (isiGaming)
						{
							<h4 class="@altHeaderCss alt-header">Project</h4>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Accept.TranslationHouseIds, new { @class = "control-label col-sm-4" })
										<div class="col-sm-7">
											@Html.LookupMultipleFor(m => m.Accept.TranslationHouseIds, Model.Accept.TranslationHouses, LookupAjax.TranslationHouses, false)
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				}
			</div>
			<div class="modal-footer">
				<div id="ProcessMsg" class="pull-left hidden"><i class="fas fa-spinner fa-spin fa-2x"></i> &nbsp; Processing - Please Wait</div>
				<div style="font-size:0;">
					<button type="button" class="btn btn-primary btn-save-accept">Add</button>
					<button type="button" class="btn btn-primary btn-cancel-accept" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="RejectModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="pull-right">
					<button type="button" class="btn btn-primary btn-save-reject">Reject</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				</div>
				<h3 class="modal-title">Reject Submit Request <small>@Model.SubmitRequest.ConfirmId</small></h3>
			</div>
			<div class="modal-body">
				<form id="RejectForm" class="form-horizontal" action="@Url.Action("Reject", "Submit")" method="post">
					@Html.Hidden("SubmitRequestId", Model.SubmitRequest.Id)
					@Html.Hidden("ConfirmId", Model.SubmitRequest.ConfirmId)
					<div class="form-group">
						@Html.LabelFor(m => m.Reject.Reason, new { @class = "control-label col-sm-2" })
						<div class="col-sm-9">
							@Html.TextAreaFor(m => m.Reject.Reason, 5, 0, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Reject.Reason)
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div style="font-size:0;">
					<button type="button" class="btn btn-primary btn-save-reject">Reject</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script>
		$(function () {
			var contractTypeIds = '@Json.Encode(Model.ContractTypeIdsRequireMemo)';

			$('.btn-accept').on('click', function () {
				$('#AcceptModal').modal('show');
			});

			$('.btn-reject').on('click', function () {
				$('#RejectModal').modal('show');
			});

			$('.btn-save-accept').on('click', function () {
				if ($('#AcceptForm').valid()) {
					var validationMsg = "";

					var contractTypeId = $('#Accept_ContractTypeId').val();
					if (contractTypeIds.indexOf(contractTypeId) > -1) {
						if (Em($('#Accept_Memo').val())) {
							validationMsg += 'Memo is required.  Please add the contract details for this contract type.<br />';
						}

						if (Em($('#Accept_ContractValue').val())) {
							validationMsg += 'Contract Value is required.<br />';
						}
					}

					if (!Em(validationMsg)) {
						bootbox.alert(validationMsg);
						return;
					}

					$('.btn-save-accept, .btn-cancel-accept').prop('disabled', true);
					$('#ProcessMsg').removeClass("hidden");
					$('#AcceptForm').submit();
				}
			});

			$('.btn-save-reject').on('click', function () {
				$('#RejectForm').submit();
			});

			$('#Accept_CompanyId').on('change', function () {
				var companyId = $(this).val();

				$.post('@Url.Action("loadcompany", "submission", new { area = "submission" })', { companyId: companyId })
					.done(function (r) {
						if (r.currencyId) {
							$('#Accept_CurrencyId').append(new Option(r.currency, r.currencyId, false, true)).trigger('change');
						}

						if (r.labId) {
							$('#Accept_CertificationLabId').append(new Option(r.lab, r.labId, false, true)).trigger('change');
							$('#Accept_LabId').append(new Option(r.lab, r.labId, false, true)).trigger('change');
						}
					});
			});

			$('#SaveSubmitRequest').on('click', function (e) {
				e.preventDefault();
				var submitRequestId = $('#SubmitRequestId').val();
				var internalMemo = $('#SubmitRequest_InternalMemo').val();
				var postData = { submitRequestId: submitRequestId, internalMemo: internalMemo };

				$.post('@Url.Action("edit", "submit")', postData)
					.done(function (data) {
						$('#SavedMessage').addClass('in');
						setTimeout(function () {
							$('#SavedMessage').removeClass('in');
						}, 5000)
					});
			});

			$('#Accept_ContractTypeId').on('change', function () {
				if (contractTypeIds.indexOf($(this).val()) > -1) {
					$('#Accept_Memo').attr('placeholder', 'Please enter contract details');
				}
				else {
					$('#Accept_Memo').removeAttr('placeholder');
				}
			});

			//reset to default values
			$("#AcceptModal").on("hidden.bs.modal", function () {
				$('#AcceptForm').trigger('reset');
				$('#Accept_WON').removeClass('input-validation-error');
			});

			$("#RejectModal").on("hidden.bs.modal", function () {
				$('#RejectForm').trigger('reset');
			});
		});
	</script>
}
