﻿@model Submissions.Web.Areas.PointClick.Models.Submit.IndexViewModel

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.panel-body {
			padding-bottom: 3px;
		}
	</style>
}

@{
	ViewBag.Title = "Point.Click.Submit® Requests";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
</div>

<form id="SearchForm">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Search</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Filters.TestingTypeId, new { @class = "control-label col-sm-2" })
							<div class="col-sm-3">
								@Html.LookupFor(m => m.Filters.TestingTypeId, m => m.Filters.TestingType, LookupAjax.TestingTypes, false)
							</div>
							<div class="col-sm-7">
								<div class="pull-right">
									<button type="button" id="SearchBtn" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>&nbsp;Search</button>
									<button type="reset" id="ClearBtn" class="btn btn-primary btn-sm">Clear</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.SubmitRequestGrid.Grid, "SubmitRequestGrid")
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		var sessionItemName = 'GLI_PointClickSubmitIndex';

		$(function () {
			if (!Em('@Model.NewSubmissionId')) {
				history.pushState(null, "", location.href.split("?")[0]);
				window.open('@Url.Action("detail", "submission", new { area = "submission", id = Model.NewSubmissionId } )', '_blank');
			}

			$('#SearchForm').on('keypress', function (e) {
				if (e.which === 13) {
					e.preventDefault();
					runGridSearch();
				}
			});

			$('#SearchBtn').on('click', function () {
				runGridSearch();
			});
		});

		function gridBeforeAjaxRequest() {
			loadFilters(sessionItemName, 'local');
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
			saveFilters(sessionItemName, 'local');
			gridStateBeforeAjaxRequest();
		}

		function runGridSearch() {
			$('#SubmitRequestGrid').trigger('reloadGrid', [{ page: 1 }]);
		}

		function fileNumberLinkByFileNumber(cellValue, options, rowObject) {
			var url = jsPath + 'submission/submission/detail?fileNumber=' + cellValue;
			return '<a href="' + url + '" target="_blank">' + cellValue + '</a>';
		}

		function editLink(cellValue, options, rowObject) {
			var link = '<a href="' + '@Url.Action("detail", "submit")' + '/' + options.rowId + '">View Details</a>';
			return link;
		}

		function getFilters() {
			var filters = {};
			filters.TestingTypeId = $('#Filters_TestingTypeId').val();
			return filters;
		}
	</script>
}