﻿<template>
	<div>
		<div class="row row-title">
			<input type="hidden" name="Mode" v-model="vm.mode" />
			<div class="col-sm-8">
				<h3>{{ vm.mode | modeText }} Technical Standards</h3>
			</div>
			<div class="col-sm-4 form-buttons">
				<i v-if="saveInProgress" class="fa fa-spinner fa-pulse"></i>
				<a @click="saveRegulatoryBody($event)" class="btn btn-primary btn-sm" :class="{ disabled: saveInProgress }">{{ vm.mode | saveText }}</a>
				<a-link :href="previousUrl" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="form-horizontal">
			<input type="hidden" id="Id" name="Id" v-model="vm.id" />
			<div class="form-group form-group-sm">
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Jurisdictions</label>
					<div class="col-sm-6">
						<LookupMultiple id="Jurisdictions"
										name="Jurisdiction"
										lookupajax="Jurisdictions"
										v-model="techStanJurisdictionIds"
										:options="techStanJurisdictionOptions" />
					</div>
					<div class="col-sm-3">
						<label class="control-label" for="AllJurisdictions">Select All</label>
						<input id="AllJurisdictions" type="checkbox" v-model="vm.allJurisdictions" />
						<!--<div v-if="techStanJurisdictionIds.length === 0" class="warning">This standard will pull for all jurisdictions.</div>-->
						<span class="field-validation-error" v-if="!$v.techStanJurisdictionIds.required && $v.techStanJurisdictionIds.$error">Select some jurisdictions or check "Select All"</span>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Functions</label>
					<div class="col-sm-6">
						<LookupMultiple id="Functions"
										name="Functions"
										lookupajax="Functions"
										v-model="techStanFunctionIds"
										:options="techStanFunctionOptions" />
					</div>
					<div class="col-sm-3">
						<label class="control-label" for="AllFunctions">Select All</label>
						<input id="AllFunctions" type="checkbox" v-model="vm.allFunctions" />
						<!--<div v-if="techStanJurisdictionIds.length === 0" class="warning">This standard will pull for all jurisdictions.</div>-->
						<span class="field-validation-error" v-if="!$v.techStanFunctionIds.required && $v.techStanFunctionIds.$error">Select some functions or check "Select All"</span>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Functional Roles</label>
					<div class="col-sm-6">
						<LookupMultiple id="FunctionalRole"
										name="FunctionalRole"
										lookupajax="FunctionalRoles"
										v-model="techStanFunctionalRoleIds"
										:options="techStanFunctionalRoleOptions"
										:disabled="functionalRoleSelectionDisabled" />
						<span class="field-validation-error" v-if="!$v.techStanFunctionalRoleIds.required && $v.techStanFunctionalRoleIds.$error">Please select, at-least one functional role OR at-least one Evolution Document.</span>
					</div>
					<div class="col-sm-3">
						<label class="control-label" for="AllFunctionalRoles">Select All</label>
						<input id="AllFunctionalRoles" type="checkbox" v-model="vm.allFunctionalRoles" :disabled="functionalRoleSelectionDisabled" />
						<!--<div v-if="techStanJurisdictionIds.length === 0" class="warning">This standard will pull for all jurisdictions.</div>-->
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Evolution Documents</label>
					<div class="col-sm-6">
						<base-lookup :lookupAjax="'EvolutionDocuments'" :multiple="true" v-model="vm.evolutionDocuments" :disabled="documentSelectionDisabled"></base-lookup>
						<span class="field-validation-error" v-if="!$v.vm.evolutionDocuments.required && $v.vm.evolutionDocuments.$error">Please select, at-least one functional role OR at-least one Evolution Document.</span>
					</div>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Mandatory</label>
				<div class="col-sm-1">
					<input type="checkbox" id="Mandatory" name="Mandatory" v-model="vm.mandatory" maxlength="25" />
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Result</label>
				<div class="col-sm-4">
					<input type="text" id="Result" name="Result" class="form-control" v-model="vm.result" maxlength="100" />
					<span class="field-validation-error" v-if="!$v.vm.result.required && $v.vm.result.$error">Required</span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Technical Standard</label>
				<div class="col-sm-4">
					<textarea id="Description" name="Description" class="form-control" v-model="vm.description" maxlength="1000"></textarea>
					<span class="field-validation-error" v-if="!$v.vm.description.required && $v.vm.description.$error">Required</span>
				</div>
			</div>

			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Translation(s)</label>
				<div>&nbsp;<span @click="addTechnicalStandardTranslation()"><a href="#"><i class="fas fa-plus"></i> Add Technical Standard</a></span></div>
			</div>
			<div v-for="(item, index) in vm.translations">
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Language</label>
					<div class="col-sm-4">
						<Lookup style="width:100%"
								:id="'TechnicalStandardsTranslations[' + index + '].Language'"
								:name="'TechnicalStandardsTranslations[' + index + '].Language'"
								@updateLookupTextField="updateLanguage($event, index)"
								lookupajax="Language"
								:lookuptextfield="item.language"
								v-model="item.language"></Lookup>
						<span class="field-validation-error" v-if="!$v.vm.translations.$each[index].language.required && $v.vm.translations.$each[index].language.$error">Required</span>
					</div>
					<div class="col-sm-1">
						<span @click="deleteTechnicalStandardTranslation(index)"><a href="#"><i class="fas fa-trash-alt"></i></a></span>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Result:</label>
					<div class="col-sm-4">

						<input style="100%" type="text" id="Result" name="Result" class="form-control" v-model="item.result" maxlength="100" />
						<span class="field-validation-error" v-if="!$v.vm.result.required && $v.vm.result.$error">Required</span>
						<span class="field-validation-error" v-if="!$v.vm.translations.$each[index].result.required && $v.vm.translations.$each[index].result.$error">Required</span>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Standard:</label>
					<div class="col-sm-4">
						<textarea :id="'TechnicalStandardsTranslations[' + index + '].Description'" :name="'TechnicalStandardsTranslations[' + index + '].Description'" rows="4" cols="4" class="form-control" v-model="item.description" placeholder="Enter each technical standard translation in different input box" maxlength="1000"></textarea>
						<span class="field-validation-error" v-if="!$v.vm.translations.$each[index].description.required && $v.vm.translations.$each[index].description.$error">Required</span>
					</div>
				</div>
				<hr />
			</div>
		</div>
	</div>
</template>
<script>
	import ALink from '@/components/utility/ALink.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import { required, requiredIf } from 'vuelidate/lib/validators';
	import { isNull, isNotNull } from '@/common';

	export default {
		components: {
			ALink,
			LookupMultiple,
			Lookup
		},
		data() {
			return {
				vm: initialData,
				techStanJurisdictionOptions: initialData.jurisdictions.length > 0 ? initialData.jurisdictions.map(p => { return { text: p.jurisdiction, value: p.jurisdictionId.toString(), selected: true } }) : [],
				techStanJurisdictionIds: initialData.jurisdictions.length > 0 ? initialData.jurisdictions.map(p => p.jurisdictionId.toString()) : [],
				techStanFunctionOptions: initialData.functions.length > 0 ? initialData.functions.map(p => { return { text: p.code, value: p.id.toString(), selected: true } }) : [],
				techStanFunctionIds: initialData.functions.length > 0 ? initialData.functions.map(p => p.id.toString()) : [],
				techStanFunctionalRoleOptions: initialData.functionalRoles.length > 0 ? initialData.functionalRoles.map(p => { return { text: p.name, value: p.id.toString(), selected: true } }) : [],
				techStanFunctionalRoleIds: initialData.functionalRoles.length > 0 ? initialData.functionalRoles.map(p => p.id.toString()) : [],
				previousUrl: "/lookups/technicalstandards/",
				saveInProgress: false,
				functionalRoleSelectionDisabled: false,
				documentSelectionDisabled: false
			}
		},
		validations: {
			techStanJurisdictionIds: {
				required: requiredIf(function () {
					return !this.vm.allJurisdictions;
				})
			},
			techStanFunctionIds: {
				required: requiredIf(function () {
					return !this.vm.allFunctions;
				})
			},
			techStanFunctionalRoleIds: {
				required: requiredIf(function () {
					return !this.vm.allFunctionalRoles && this.vm.evolutionDocuments.length == 0;
				})
			},
			vm: {
				description: {
					required,
				},
				result: {
					required,
				},
				translations: {
					$each: {
						description: {
							required,
						},
						result: {
							required,
						},
						language: {
							required,
						},
					}
				},
				evolutionDocuments: {
					required: requiredIf(function () {
						return !this.vm.allFunctionalRoles && this.techStanFunctionalRoleIds.length == 0
					})
				}
			}
		},
		created: function () {
			this.functionalRoleSelectionDisabled = this.vm.evolutionDocuments.length > 0 ? true : false;
			this.documentSelectionDisabled = (this.allFunctionalRoles || this.techStanFunctionalRoleIds.length > 0) ? true : false;
		},
		computed: {
			allJurisdictionsCheckbox: function () {
				return this.vm.allJurisdictions;
			},
			allFunctionsCheckbox: function () {
				return this.vm.allFunctions;
			},
			allFunctionalRolesCheckbox: function () {
				return this.vm.allFunctionalRoles;
			}
		},
		methods: {
			addTechnicalStandardTranslation: function () {
				const defaultTechnicalStandard = {
					id: 0,
					description: "",
					result: "",
					language: ""
				};
				this.vm.translations.push(defaultTechnicalStandard);
			},
			deleteTechnicalStandardTranslation: function (index) {
				this.vm.translations.splice(index, 1);
			},
			updateJurisdiction: function (newValue) {
				this.vm.jurisdiction = newValue;
			},
			updateLanguage: function (newValue, index) {
				this.vm.translations[index].language = newValue;
			},
			saveRegulatoryBody: function () {
				if (!this.validate()) {
					return;
				}
				//const form = this.$refs.TechnicalStandardForm;
				//form.action = jsPath + 'Lookups/TechnicalStandards/Edit';
				//form.submit();
				let testStringify = JSON.stringify(this.vm);
				this.saveInProgress = true;
				this.$http.post('Lookups/TechnicalStandards/Edit', {
					editViewModelString: testStringify,
				})
					.then(response => {
						let redirectUrl = `${jsPath}${this.previousUrl.slice(1)}`;
						window.location.href = redirectUrl;
					})
					.catch(e => {
						this.saveInProgress = false;
						this.saveFailed = true;
						console.error(e);
					});
			},
			validate: function () {
				this.$v.$touch();
				return !this.$v.$invalid;
			},
			disableFunctionalRoleSelection: function () {
				this.vm.allFunctionalRoles = false;
				this.techStanFunctionalRoleIds = [];
				this.techStanFunctionalRoleOptions = [];
				this.functionalRoleSelectionDisabled = true;
			},
			enableFunctionalRoleSelection: function () {
				this.functionalRoleSelectionDisabled = false;
			},
			disableEvolutionDocumentSelection: function () {
				this.documentSelectionDisabled = true;
			},
			enableEvolutionDocumentSelection: function () {
				this.documentSelectionDisabled = false;
			}
		},
		watch: {
			"vm.evolutionDocuments": function (newVal, oldVal) {
				if (newVal.length > 0) {
					this.disableFunctionalRoleSelection();
				}
				else {
					this.enableFunctionalRoleSelection()
				}
			},
			"vm.functionalRoles": function (newVal, oldVal) {
				if (newVal.length > 0) {
					this.disableEvolutionDocumentSelection();
				}
				else {
					this.enableEvolutionDocumentSelection()
				}
			},
			allJurisdictionsCheckbox: function (newVal, oldVal) {
				if (newVal) {
					this.techStanJurisdictionIds = [];
					this.techStanJurisdictionOptions = [];
				}
			},
			allFunctionsCheckbox: function (newVal, oldVal) {
				if (newVal) {
					this.techStanFunctionIds = [];
					this.techStanFunctionOptions = [];
				}
			},
			allFunctionalRolesCheckbox: function (newVal, oldVal) {
				if (newVal) {
					this.techStanFunctionalRoleIds = [];
					this.techStanFunctionalRoleOptions = [];
				}
			},
			techStanJurisdictionIds: function (newVal, oldVal) {
				let ret = newVal;
				if (isNotNull(ret) && ret.length > 0) {
					ret = ret.map(pid => { return { jurisdictionId: parseInt(pid) } });
					if (this.vm.allJurisdictions) {
						this.vm.allJurisdictions = false;
					}
				}
				else {
					ret = [];
					if (!this.vm.allJurisdictions) {
						this.vm.allJurisdictions = true;
					}
				}
				this.vm.jurisdictions = ret;
			},
			techStanFunctionIds: function (newVal, oldVal) {
				let ret = newVal;
				if (isNotNull(ret) && ret.length > 0) {
					ret = ret.map(pid => { return { id: parseInt(pid) } });
					if (this.vm.allFunctions) {
						this.vm.allFunctions = false;
					}
				}
				else {
					ret = [];
					if (!this.vm.allFunctions) {
						this.vm.allFunctions = true;
					}
				}
				this.vm.functions = ret;
			},
			techStanFunctionalRoleIds: function (newVal, oldVal) {
				let ret = newVal;
				if (isNotNull(ret) && ret.length > 0) {
					ret = ret.map(pid => { return { id: parseInt(pid) } });
					if (this.vm.allFunctionalRoles) {
						this.vm.allFunctionalRoles = false;
					}
				}
				else {
					ret = [];
					if (!this.vm.allFunctionalRoles && !this.functionalRoleSelectionDisabled) {
						this.vm.allFunctionalRoles = true;
					}
				}
				this.vm.functionalRoles = ret;
			}
		},
	}
</script>

<style scoped>
	.warning {
		font-style: italic;
		color: darkred;
		font-weight: lighter;
	}
</style>