﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>App Fee - <span v-if="vm.mode == 'Add'">Add New</span><span v-else>Edit</span></h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<button @click="save($event)" class="btn btn-sm btn-primary">Save</button>
				<input type="reset" id="CancelBtn" class="btn btn-primary" value="Cancel" onclick="window.close();">
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>AppFee Information</strong></div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-3">
								Name
							</label>
							<div class="col-sm-5">
								<input type="text" name="Name" v-model="vm.name" maxlength="50" :disabled="vm.mode == 'Edit'" class="form-control" />
								<span class="field-validation-error" v-if="$v.vm.name.$invalid">Name is required and must be less than {{ $v.vm.name.$params.maxLength.max }} characters.</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">
								Description
							</label>
							<div class="col-sm-5">
								<textarea v-model="vm.description" maxlength="200" id="Description" cols="70" rows="3"></textarea>
								<span class="field-validation-error" v-if="$v.vm.description.$error && !$v.vm.description.maxLength">The field Description must be a string with a maximum length of {{ $v.vm.description.$params.maxLength.max }}.</span>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-3">
								Amount
							</label>
							<div class="col-sm-6">
								<input type="text" name="Amount" v-model.number="vm.amount" class="form-control" />
								<span class="field-validation-error" v-if="$v.vm.amount.$invalid">App Fee selection is required.</span>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-3">
								Active
							</label>
							<div class="col-sm-8">
								<input type="checkbox" v-model="vm.active" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>

	import { required, maxLength,minLength } from 'vuelidate/lib/validators';

	export default {
		components: {
			
		},
		data: function () {
			return {
				vm: initialData
			}
		},
		mounted: function () {

		},
		methods: {
			confirmSave: function () {
				let self = this;
				this.$http.post('Lookups/AppFees/CheckIfExists', {
					vm: this.vm,
				}).then(response => {
					if (response.data == "OK") {
						self.saveAppFeeData();
					}
					else {
						bootbox.alert("App Fee already exists. Please confirm data.")
					}
				})
			},
			save: function (e) {
				if (this.$v.$invalid) {
					e.preventDefault();
					return;
				}
				this.confirmSave();
			},
			saveAppFeeData: function () {
				 this.$http.post('Lookups/AppFees/Edit', {
					vm: this.vm,
				}).then(response => {
					window.close();
					window.opener.location.reload()
				})
			},
			
		},
		validations: {
			vm: {
				name: {
					required,
					maxLength: maxLength(50)
				},
				amount: {
					required,
				},
				description: {
					maxLength: maxLength(200)
				}
			}
		},
	}
</script>
<style scoped>
</style>