﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>App Fees</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<button class="btn btn-sm btn-primary" @click="add">Add</button>
				<a-link href="/tools" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<Grid :grid="grid" :custom-filters="filters" @gridComplete="gridComplete"></Grid>
			</div>
		</div>
	</div>
</template>
<script>
	import ALink from '@/components/utility/ALink.vue';
	import Grid from '@/components/utility/Grid.vue';

	const gridId = 'AppFeeGrid';

	const grid = {
		id: gridId,
		url: 'GridsAjax/LoadAppFeeGrid',
		searchtextbar: 'true',
		colNames: [
			'Id',
			'Name',
			'Amount',
			'Description',
			'Active',
			''
		],
		colModel: [
			{ name: 'Id', hidden: true },
			{ name: 'Name', width: 95, stype: 'text', search: true },
			{ name: 'Amount', width: 40, stype: 'text', search: true },
			{ name: 'Description', width: 150, stype: 'text', search: true },
			{ name: 'Active', width: 30, stype: 'text', search: true },
			{ name: 'Edit/Delete',  sortable: false, search: false, width: 35},
		]
	}

	export default {
		components: {
			ALink,
			Grid
		},
		data: function () {
			return {
				vm: initialData,
				deleteUrl: deleteUrl,
				editUrl:editUrl,
				filters: null,
				grid: grid
			}
		},
		mounted: function () {

		},
		methods: {
			 add: function () {
				window.open("AppFees/Edit?Id=0")
			},
			gridComplete: function () {
				var grid = $('#' + gridId);
				var rows = grid.jqGrid("getRowData");
				for (var i = 0; i < rows.length; i++) {
					var rowId = rows[i].Id;

					var link = "<div>"
					link += "<a href='" + editUrl + "?id=" + rowId + "' Target='_new'>Edit</a>"
					link += " | <a href='javascript:var r = confirm(\"Are you sure you want to delete this App Fee?\"); if (r == true){ $.post(\"" + deleteUrl + "?id=" + rowId + "\").then(response => { if (response == \"NOOK\") { alert(\"AppFee can not be deleted. There are billing sheets with this App Fee. Please make it InActive.\"); } else { window.location.href =\"appfees\";} });  }' >Delete</a>"
					link += "</div>"

					grid.setCell(rowId, 'Edit/Delete', link);

					//Active
					var status = rows[i].Active;
					var label = "Yes"
					if(status == "False")
					{
						label = "No"
						$(grid).jqGrid('setCell', rowId, "Name", "", { 'background-color': 'lightgrey' })
					}
					grid.setCell(rowId, 'Active', label);
				}

				return;
			}
		}
	}
</script>
<style scoped>
</style>