﻿@model Submissions.Web.Areas.Tools.Models.QuotationLinkViewModel

@{
	ViewBag.Title = Model.QuoteNumber;
}

<div class="row">
	&nbsp;
	<input type="hidden" id="resultsRecieved" value="false" />
	@Html.HiddenFor(x => x.QuoteNumber, new { id = "initialQuoteNumber" })
</div>

<div class="row">
	<h3>Project / Contract Number Viewer</h3>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<b data-bind="text: SearchField" id="KOtitle"></b>
			</div>
			<div class="panel-body">
				<div class="input-group">
					<input data-bind="textInput: SearchField" type="text" id="KOsearchField" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button data-bind="click: GetLinkedFiles" id="KOsearchButton" class="btn btn-default" type="button">Go!</button>
					</span>
				</div>
				<!-- /input-group -->
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span>Current Files Linked To Project / Contract Number: </span><b data-bind="text: SearchField"></b>
				<span id="help-LinkedFiles" class="helpQuestion"><i class="pull-right fas fa-question-circle fa-2x"></i></span>
			</div>
			<div class="panel-body">
				<table class="table table-hover tableBackground">
					<thead>
						<tr>
							<th>File Number</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: QuoteLinkList">
						<tr>
							<td>
								<a href="#" data-bind="text: FileNumber, click: $root.loadSubmissionRecords"></a>
							</td>
						</tr>
					</tbody>
				</table>
				<b>File Count: (<b data-bind="text: QuoteLinkList().length"></b>)</b>
			</div>
		</div>
	</div>
	<div id="SubmissionRecordView" class="col-md-12 SubmissionRecoredView">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Submissions Records Associated with: </h4><span id="PreviewFileNumber"></span>
				<span id="help-SubmissionRecords" class="helpQuestion"><i class="pull-right fas fa-question-circle fa-2x"></i></span>
			</div>
			<div class="panel-body">
				<table id="SubmissionRecordTable" class="table table-hover tableBackground">
					<tr>
						<th>File Number</th>
						<th>Id Number</th>
						<th>Game Name</th>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="helpModal-LinkedFiles" tabindex="-1" role="dialog" aria-hidden="true">
	<div id="test" class="modal-dialog" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-header modal-help-header">
				<h4>Current Linked Files</h4>
			</div>

			<div class="modal-body">
				<p>
					This section displays all of the files currently associated with the Project / Contract Number you searched for. Clicking on the file number in this list will display all the records associated with this file for
					reference.
				</p>
			</div>

			<div class="modal-footer">
				<div style="font-size: 0;">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="helpModal-SubmissionRecords" tabindex="-1" role="dialog" aria-hidden="true">
	<div id="test" class="modal-dialog" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-header modal-help-header">
				<h4>Submission Records</h4>
			</div>

			<div class="modal-body">
				<p>
					This section displays all of the records associated with the submission record that was clicked in the above Project / Contract Number Link table. Clicking on a file will take you to the
					submissions database.
				</p>
			</div>

			<div class="modal-footer">
				<div style="font-size: 0;">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	@Scripts.Render("~/bundles/script/knockout");
	<script>
		$(function () {
			var initialQuoteNumber = @Html.Raw(Json.Encode(Model.QuoteNumber));

			function QuoteLinkViewModel() {
				var self = this;
				self.QuoteLinkList = ko.observableArray();
				self.SearchField = ko.observable(initialQuoteNumber);
				self.KOtitle = ko.observable();

				self.PopulateQouteList = function (json_data) {
					$.each(json_data, function (index, item) {
						self.QuoteLinkList.push(new QuoteFile(item.IDNumber, item.FileNumber, item.GameName));
					});
				}

				self.ClearQuoteLinkList = function () {
					self.QuoteLinkList([]);
				}

				self.GetLinkedFiles = function () {
					$('#SubmissionRecordView').hide();
					var QuoteNumber = $('#KOsearchField').val();
					$('#resultsRecieved').val('false');
					var url = '@Url.Action("searchForFile")';
					QuoteNumber = $.trim(QuoteNumber);
					if (QuoteNumber.length > 0){
						$.post(url, { QuoteNumber: QuoteNumber }, function (json_data) {
							self.ClearQuoteLinkList();
							self.PopulateQouteList(json_data);
							$('#resultsRecieved').val('true');
						});
					}
					else{
						self.ClearQuoteLinkList();
					}
				};

				self.loadSubmissionRecords = function(QuoteFile){
					$('#SubmissionRecordTable').hide();
					$("#SubmissionRecordTable").find("tr:gt(0)").remove();
					var url = '@Url.Action("LoadSubmissionRecords")';
					$.post(url, { fileNumber: QuoteFile.FileNumber }, function (data) {
						if (data != "") {
							$('#PreviewFileNumber').text(data[0].FileNumber);
							var table =  $('#SubmissionRecordTable');
							$.each(data,function(key, val){
								var tr=$('<tr></tr>');
								$.each(val, function(k,v){
									if(v != null)
									{
										if (k == "FileNumber") {
											var subUrl = "@Url.Action("detail", "submission", new {Area = "submission" })?fileNumber=" + v
											$('<td>' + '<a href ="' + subUrl + '">'+ v + '</a></td>').appendTo(tr);
										}
										else {
											if(k != "InAnotherChain")
											{
												$('<td>' + v + '</td>').appendTo(tr);
											}
										}
									}
								});
								tr.appendTo(table);
							});
							$('#SubmissionRecordView').show();
							$('#SubmissionRecordTable').fadeIn("slow");
						}
						else {
						}
					});
				};
			}

			function QuoteFile(IDNumber, FileNumber, GameName) {
				var self = this;
				self.IDNumber = ko.observable(IDNumber);
				self.FileNumber = ko.observable(FileNumber);
				self.GameName = ko.observable(GameName);
			}

			var QuoteLinkVm = new QuoteLinkViewModel();
			ko.applyBindings(QuoteLinkVm);

			if(initialQuoteNumber != "")
			{
				QuoteLinkVm.GetLinkedFiles();
			}

			$('.helpQuestion').click(function(){
				var id = this.id;
				var modalId = id.replace("help","helpModal");
				$('#'+modalId).modal('show');
			});

			$('#AddLinkModalDismiss').click(function(){
				$('#linkFile').val('');
			});
		});
	</script>

	<style type="text/css">
		.SubmissionRecordView {
			display: none;
		}

		.tableBackground {
			background-color: white;
		}

		.helpQuestion {
			cursor: pointer;
		}

		#helpModal-LinkedFiles {
			top: 10%;
			left: 75%;
			outline: none;
		}

		#helpModal-SubmissionRecords {
			top: 50%;
			left: 75%;
			outline: none;
		}

		.modal-help-header {
			background-color: #3379b6;
			color: white;
		}

		#LinkNewFile {
			height: 50%;
			width: 50%;
			left: 25%;
			top: 25%;
			outline: none;
		}

		#helpModal-AddLinkedFile {
			top: 25%;
			left: 70%;
			outline: none;
		}
	</style>
}