﻿@model Submissions.Web.Areas.Tools.Models.QuotationLinkViewModel

<div class="row">
	&nbsp;
	<input type="hidden" id="resultsRecieved" value="false" />
	@Html.HiddenFor(x => x.QuoteNumber, new { id = "initialQuoteNumber" })
</div>

<div class="row">
	<h3>Jurisdiction Contract Number Viewer</h3>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<b data-bind="text: SearchField" id="KOtitle"></b>
			</div>
			<div class="panel-body">
				<div class="input-group">
					<input data-bind="textInput: SearchField" type="text" id="KOsearchField" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button data-bind="click: GetLinkedFiles" id="KOsearchButton" class="btn btn-default" type="button">Go!</button>
					</span>
				</div>
				<!-- /input-group -->
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span>Current Files Linked To Jurisdiction Contract Number: </span><b data-bind="text: SearchField"></b>
				<span id="help-LinkedFiles" class="helpQuestion"><i class="pull-right fas fa-question-circle fa-2x"></i></span>
			</div>
			<div class="panel-body">
				<table class="table table-hover tableBackground">
					<thead>
						<tr>
							<th>File Number</th>
							<th>Jurisdiction</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: QuoteLinkList">
						<tr>
							<td>
								<a href="#" data-bind="text: FileNumber, click: $root.loadJurisdictionRecords" />
							</td>
							<td>
								<span data-bind="text: Jurisdiction" />
							</td>
						</tr>
					</tbody>
				</table>
				<b>File Count: (<b data-bind="text: QuoteLinkList().length"></b>)</b>
			</div>
		</div>
	</div>
	<div id="JurisdictionRecordView" class="col-md-12 JurisdictionRecordView">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Jurisdiction Records Associated with: </h4><span id="PreviewFileNumber"></span>
				<span id="help-JurisdictionRecords" class="helpQuestion"><i class="pull-right fas fa-question-circle fa-2x"></i></span>
			</div>
			<div class="panel-body">
				<table id="JurisdictionRecordTable" class="table table-hover tableBackground">
					<tr>
						<th>File Number</th>
						<th>Id Number</th>
						<th>Game Name</th>
						<th>Jurisdiction</th>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="helpModal-LinkedFiles" tabindex="-1" role="dialog" aria-hidden="true">
	<div id="test" class="modal-dialog" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-header modal-help-header">
				<h4>Current Linked Files</h4>
			</div>

			<div class="modal-body">
				<p>
					This section displays all of the files and jurisdictions currently associated with the Contract Number you searched for. Clicking on the file number in this list will display all the records associated with this file for
					reference.
				</p>
			</div>

			<div class="modal-footer">
				<div style="font-size: 0;">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	@Scripts.Render("~/bundles/script/knockout");
	<script>
		$(function () {
			var initialQuoteNumber = @Html.Raw(Json.Encode(Model.QuoteNumber));

			function QuoteLinkViewModel() {
				var self = this;
				self.QuoteLinkList = ko.observableArray();
				self.SearchField = ko.observable(initialQuoteNumber);
				self.KOtitle = ko.observable();

				self.PopulateQuoteList = function (json_data) {
					$.each(json_data, function (index, item) {
						self.QuoteLinkList.push(new QuoteFile(item.IDNumber, item.FileNumber, item.GameName, item.Jurisdiction));
					});
				}

				self.ClearQuoteLinkList = function () {
					self.QuoteLinkList([]);
				}

				self.GetLinkedFiles = function () {
					$('#JurisdictionRecordView').hide();
					var QuoteNumber = $('#KOsearchField').val();
					$('#resultsRecieved').val('false');
					var url = '@Url.Action("searchForJurisdiction")';
					QuoteNumber = $.trim(QuoteNumber);
					if (QuoteNumber.length > 0){
						$.post(url, { QuoteNumber: QuoteNumber }, function (json_data) {
							self.ClearQuoteLinkList();
							self.PopulateQuoteList(json_data);
							$('#resultsRecieved').val('true');
						});
					}
					else{
						self.ClearQuoteLinkList();
					}
				};

				self.loadJurisdictionRecords = function(QuoteFile){
					$('#JurisdictionRecordTable').hide();
					$("#JurisdictionRecordTable").find("tr:gt(0)").remove();
					var url = '@Url.Action("LoadJurisdictionRecords")';
					$.post(url, { fileNumber: QuoteFile.FileNumber }, function (data) {
						if (data != "") {
							$('#PreviewFileNumber').text(data[0].FileNumber);
							var table =  $('#JurisdictionRecordTable');
							$.each(data,function(key, val){
								var tr=$('<tr></tr>');
								$.each(val, function(k,v){
									if(v != null)
									{
										if(k=="FileNumber"){
											$('<td>' + '<a href ="@Url.Action("detail", "submission", new {Area = "submission" })?filenumber=' + v + '">'+v + '</a></td>').appendTo(tr);
										}
										else {
											if(k != "InAnotherChain")
											{
												$('<td>' + v + '</td>').appendTo(tr);
											}
										}
									}
								});
								tr.appendTo(table);
							});
							$('#JurisdictionRecordView').show();
							$('#JurisdictionRecordTable').fadeIn("slow");
						}
						else {
						}
					});
				};
			}

			function QuoteFile(IDNumber, FileNumber, GameName, Jurisdiction) {
				var self = this;
				self.IDNumber = ko.observable(IDNumber);
				self.FileNumber = ko.observable(FileNumber);
				self.GameName = ko.observable(GameName);
				self.Jurisdiction = ko.observable(Jurisdiction);
			}

			var QuoteLinkVm = new QuoteLinkViewModel();
			ko.applyBindings(QuoteLinkVm);

			if(initialQuoteNumber != "")
			{
				QuoteLinkVm.GetLinkedFiles();
			}

			$('.helpQuestion').click(function(){
				var id = this.id;
				var modalId = id.replace("help","helpModal");
				$('#'+modalId).modal('show');
			});
		});
	</script>
	<style type="text/css">
		.JurisdictionRecordView {
		display: none;
		}

	.tableBackground {
		background-color: white;
	}

	.helpQuestion {
		cursor: pointer;
	}

		#helpModal-LinkedFiles {
		top: 10%;
		left: 75%;
		outline: none;
		}

		#helpModal-JurisdictionRecords {
		top: 50%;
		left: 75%;
		outline: none;
		}

	.modal-help-header {
		background-color: #3379b6;
		color: white;
	}

		#LinkNewFile {
		height: 50%;
		width: 50%;
		left: 25%;
		top: 25%;
		outline: none;
		}

		#helpModal-AddLinkedFile {
		top: 25%;
		left: 70%;
		outline: none;
		}
	</style>
}