﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.AssociatedSubmissionsViewModel

@{
	ViewBag.Title = "Submissions";
	var header = Model.AssociatedSubmissions.FirstOrDefault();
	var idx = 0;
}

<div class="modal-dialog" style="width:1100px;">
	<div class="modal-content">
		<div class="modal-header">
			<div class="pull-right">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
			<h3 class="modal-title">@ViewBag.Title <small>@Model.FileNumber</small></h3>
		</div>
		<div class="modal-body">
			<table id="associatedsubmission-table" class="table table-striped table-condensed table-hover" style="width:100%;">
				<thead>
					<tr>
						<th></th>
						<th>@Html.DisplayNameFor(model => header.Status)</th>
						<th>@Html.DisplayNameFor(model => header.IdNumber)</th>
						<th>@Html.DisplayNameFor(model => header.Version)</th>
						<th>@Html.DisplayNameFor(model => header.DateCode)</th>
						<th>@Html.DisplayNameFor(model => header.Position)</th>
						<th>@Html.DisplayNameFor(model => header.GameName)</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var s in Model.AssociatedSubmissions)
					{
						idx++;
						<tr data-id="@s.Id">
							<td>@idx</td>
							<td>@s.Status</td>
							<td>
								@s.IdNumber
								@if (s.Id == Model.SubmissionId)
								{
									<i class="fas fa-check-square" title="Current Submission"></i>
								}
							</td>
							<td>@s.Version</td>
							<td>@s.DateCode</td>
							<td>@s.Position</td>
							<td>@s.GameName</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>