﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.BugBoxesViewModel

@{
	var firstBugBox = Model.BugBoxes.FirstOrDefault();
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right">
			@Html.ActionLink("[ Edit ]", "index", "bugbox", new { submissionId = Model.SubmissionId }, null)
		</div>
		<h3 class="panel-title">Bug Boxes</h3>
	</div>
	<div class="panel-body">
		<table id="bugboxes-table" class="table table-condensed table-striped table-hover table-partialview">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(m => firstBugBox.Location)</th>
					<th>@Html.DisplayNameFor(m => firstBugBox.BugBox)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model.BugBoxes.Count == 0)
				{
					<tr><td colspan="2" class="text-warning text-center"><em>No Records Found</em></td></tr>
				}
				@foreach (var b in Model.BugBoxes)
				{
					<tr>
						<td>@b.Location</td>
						<td>@b.BugBox</td>
						<td>
							<div class="dropup">
								<a href="#" class="btn dropdown-toggle edit-ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-v fa-fw edit-ellipsis-i"></i></a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="@Url.Action("edit", "bugbox", new { id = b.Id, mode = Mode.Edit, submissionId = Model.SubmissionId, source = (int)PageSource.SubmissionDetailPartialView })" title="Edit"><i class="fas fa-edit fa-fw"></i> Edit</a></li>
									<li><a href="@Url.Action("viewbugboxhistory", "historylog", new { bugBoxId = b.Id, area = "reports" })" title="History" target="_blank"><i class="fas fa-history fa-fw"></i> History</a></li>
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

