﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.CertificationNumbersViewModel

@{
	ViewBag.Title = "Certification Numbers";
	var header = Model.CertificationNumbers.FirstOrDefault();
}

<div class="modal-dialog" style="width:1000px;">
	<div class="modal-content">
		<div class="modal-header">
			<div class="pull-right">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
			<h3 class="modal-title">
				@ViewBag.Title <small>@Model.FileNumber &nbsp; &nbsp; @Model.JurisdictionName <span class="dd-ch">@Model.JurisdictionId</span></small>
			</h3>
		</div>
		<div class="modal-body">
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>Certification Number</th>
						<th>Document</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var c in Model.CertificationNumbers)
					{
						<tr>
							<td>@Html.ActionLink(c.CertificationNumber, "edit", "regulatorcertificationnumber", new { area = "tools", mode = Mode.Edit, id = c.CertificationNumberId }, new { target = "_blank" })</td>
							<td>
								@if (c.DocumentPath != null)
								{
									<a href="@Url.Action("getfile", "documentviewer", new { area = "", file = c.DocumentPath })" target="_blank"><i class="far fa-file-pdf"></i></a>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>