﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.CodeStoragesViewModel

@{
	var firstCodeStorage = Model.CodeStorages.FirstOrDefault();
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right">
			@Html.ActionLink("[ Edit ]", "index", "codestorage", new { submissionId = Model.SubmissionId }, null)
		</div>
		<h3 class="panel-title">Source Code Storage</h3>
	</div>
	<div class="panel-body">
		<table id="codestorage-table" class="table table-condensed table-striped table-hover table-partialview">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(m => firstCodeStorage.Location)</th>
					<th>@Html.DisplayNameFor(m => firstCodeStorage.CodeStorage)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model.CodeStorages.Count == 0)
				{
					<tr><td colspan="3" class="text-warning text-center"><em>No Records Found</em></td></tr>
				}
				@foreach (var c in Model.CodeStorages)
				{
					<tr>
						<td>@c.Location</td>
						<td>@c.CodeStorage</td>
						<td>
							<div class="dropup">
								<a href="#" class="btn dropdown-toggle edit-ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-v fa-fw edit-ellipsis-i"></i></a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="@Url.Action("edit", "codestorage", new { id = c.Id, mode = Mode.Edit, submissionId = Model.SubmissionId, source = (int)PageSource.SubmissionDetailPartialView })" title="Edit"><i class="fas fa-edit fa-fw"></i> Edit</a></li>
									<li><a href="@Url.Action("viewsourcecodestoragehistory", "historylog", new { sourceCodeStorageId = c.Id, area = "reports" })" title="History" target="_blank"><i class="fas fa-history fa-fw"></i> History</a></li>
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>