﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.CopyToSubmissionsViewModel

<div id="CopyToSubmissions" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<span>Submission Records</span> <small> (Total:@Model.CopyToSubmissions.Count records)</small>
			<span class="pull-right text-success">(<i>selected:<span id="CopyToSelectedCount">0</span> records</i>) &nbsp; </span>
		</h3>
	</div>
	<div>
		<div class="panel-body">
			<div style="max-height:400px;overflow-y:auto;">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="CopyToCheckAll" title="Check all records" /></th>
							<th>Status</th>
							<th>ID Number</th>
							<th>Version</th>
							<th>Date Code</th>
							<th>Position</th>
							<th>Game Name</th>
						</tr>
					</thead>
					<tbody>
						@{var s = Model.CopyToSubmissions;}
						@for (int i = 0; i < Model.CopyToSubmissions.Count; i++)
						{
							<tr>
								<td>
									<input type="hidden" name="CopyToSubmissions.Index" value="@i" />
									<input type="checkbox" name="CopyToSubmissions[@i].Id" value="@s[i].Id" class="copyToSelectedChk" />
								</td>
								<td>@s[i].Status</td>
								<td>
									@s[i].IdNumber
									@if (s[i].Id == Model.SourceSubmissionId)
									{
										<i class="fas fa-check-square" title="selected submission on previous page"></i>
									}
								</td>
								<td>@s[i].Version</td>
								<td>@s[i].DateCode</td>
								<td>@s[i].Position</td>
								<td>@s[i].GameName</td>
							</tr>
						}
				</table>
			</div>
		</div>
	</div>
</div>