﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.JurisdictionsAltViewModel

@{
	var firstJurisdiction = Model.Jurisdictions.FirstOrDefault();
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right">
			[ <a href="@Url.Action("jurisdictions", "submission")" class="submission-link">Main View</a> ] &nbsp;
			@Html.ActionLink("[ Edit ]", "edit", "jurisdictionaldata", new { mode = Mode.Edit, submissionId = Model.SubmissionId }, null)
		</div>
		<h3 class="panel-title">Jurisdictions</h3>
	</div>
	<div class="panel-body">
		<table id="jurisdictionalt-table" class="table table-condensed table-striped table-hover table-partialview">
			<thead>
				<tr>
					<th></th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.JurisdictionName)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.CompanyName)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.ContractTypeCode)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.CurrencyCode)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.LetterNumber)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.ContractNumber)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.WON)</th>
					<th>@DisplayLabel.ClientNumber(firstJurisdiction.ManufacturerCode)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.PurchaseOrder)</th>
					@if (firstJurisdiction.ManufacturerCode == CustomManufacturer.IGT.ToString())
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.ProjectNumber)</th>
					}
					@if (Model.ShowRegulatorSpecNum)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.RegulatorSpecNum)</th>
					}
					@if (Model.ShowRegulatorRefNum)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.RegulatorRefNum)</th>
					}
					@if (Model.ShowSpecialNote)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.SpecialNote)</th>
					}
					@if (Model.ShowCheckOffVersion)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.CheckOffVersion)</th>
					}
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var j in Model.Jurisdictions)
				{
					var rowClass = (j.IsMainJurisdiction) ? "mainjurisdiction-row" : "";
					<tr class="@rowClass">
						<td class="text-nowrap">
							@if (j.TransferProjectId != null)
							{
								<a href="@Url.Action("detail", "project", new { area = "protrack", id = j.TransferProjectId })" title="Transfer Project" target="_blank">
									<img class="paperclip" src="@Url.Content("~/img/paperclip.png")" />
								</a>
							}
							@if (j.HasMultipleProjects)
							{
								<div class="dropdown" style="display:inline;">
									<a href="#" title="Multiple Projects" data-toggle="dropdown">
										<img class="paperclip" src="@Url.Content("~/img/paperclipgreen.png")" />
									</a>
									<div class="dropdown-menu">
										<table class="multipleproject-table">
											<thead>
												<tr>
													<th>Project</th>
													<th>Testing Type</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var item in j.Projects)
												{
													<tr>
														<td><a href="@Url.Action("detail", "project", new { area = "protrack", id = item.Id })" target="_blank">@item.ProjectName</a></td>
														<td>@item.BundleTypeDescription</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
							}
						</td>
						<td>@j.JurisdictionName<span class="dd-ch">@j.JurisdictionId</span></td>
						<td>@j.CompanyName</td>
						<td>@j.ContractTypeCode</td>
						<td>@j.CurrencyCode</td>
						<td>@j.LetterNumber</td>
						@if (String.IsNullOrEmpty(j.ContractNumber))
						{
							<td>@j.ContractNumber</td>
						}
						else
						{
							<td>@Html.ActionLink(j.ContractNumber, "index", "quotationlink", new { area = "tools", primary = j.Id }, null)</td>
						}
						@if (String.IsNullOrEmpty(j.WON))
						{
							<td>@j.WON</td>
						}
						else
						{
							<td>@Html.ActionLink(j.WON, "index", "masterbilling", new { area = "tools", term = j.WON, jurisdictionId = j.JurisdictionId }, null)</td>
						}
						<td>@j.ClientNumber</td>
						<td>@j.PurchaseOrder</td>
						@if (firstJurisdiction.ManufacturerCode == CustomManufacturer.IGT.ToString())
						{
							<td>@j.ProjectNumber</td>
						}
						@if (Model.ShowRegulatorSpecNum)
						{
							<td>@j.RegulatorSpecNum</td>
						}
						@if (Model.ShowRegulatorRefNum)
						{
							<td>@j.RegulatorRefNum</td>
						}
						@if (Model.ShowSpecialNote)
						{
							<td>@j.SpecialNote</td>
						}
						@if (Model.ShowCheckOffVersion)
						{
							<td>@j.CheckOffVersion</td>
						}
						<td></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
