﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.JurisdictionDeleteSubmissions
@{
	ViewBag.Title = "Delete Jurisdiction";

}
<div class="modal-dialog" style="width:1000px;">
	<div class="modal-content">
		<div class="modal-header">
			<div class="pull-right">
				<button type="button" class="btn btn-primary jurisdiction-delete" data-jurisdictionid="@Model.JurisdictionId">Delete</button>&nbsp;&nbsp;
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
			<h3 class="modal-title">
				@ViewBag.Title <small>@Model.FileNumber (@Model.JurisdictionName <span class="dd-ch">@Model.JurisdictionId</span>) </small>&nbsp; &nbsp;
			</h3>
		</div>
		<div class="modal-body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Select Records to Delete From <small> (Total: @Model.Components.Count records)</small>
						<span class="pull-right text-success">(<i>selected: <span id="SelDelCount">@Model.Components.Where(x => x.IsChecked).Count()</span> records</i>)&nbsp;&nbsp;&nbsp;</span>
					</h3>
				</div>
				<div class="panel-body" id="ComponentsPartialView">
					@{ Html.RenderPartial("~/areas/submission/views/submissionbulkupdate/_Components.cshtml", Model.Components); }
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary jurisdiction-delete" data-jurisdictionid="@Model.JurisdictionId">Delete</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>

