@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.JurisdictionsViewModel

@{
	var firstJurisdiction = Model.Jurisdictions.FirstOrDefault();
	var canDelete = Util.HasAccess(Permission.Submission, AccessRight.Delete) || (Model.Jurisdictions.Count > 1);
}
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right">
			[ <a href="#" class="jurisdiction-export">Export</a> ] &nbsp;
			[ <a href="@Url.Action("jurisdictionsalt", "submission")" class="submission-link">Alt View</a> ] &nbsp;
			@Html.ActionLink("[ Edit ]", "edit", "jurisdictionaldata", new { mode = Mode.Edit, submissionId = Model.SubmissionId }, null)
		</div>
		<h3 class="panel-title">Jurisdictions</h3>
	</div>
	<div class="panel-body">
		<table id="jurisdiction-table" class="table table-condensed table-striped table-hover table-partialview">
			<thead>
				<tr>
					<th></th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.JurisdictionName)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.Active)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.RequestDate)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.ReceiveDate)</th>
					@if (Model.HasDraftLetter)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.DraftDate)</th>
					}
					<th>@Html.DisplayNameFor(m => firstJurisdiction.CloseDate)</th>
					@if (Model.HasUpdateDate)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.UpdateDate)</th>
					}
					<th>@Html.DisplayNameFor(m => firstJurisdiction.Status)</th>
					@if (Model.HasRegulatoryStatus)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.RegulatoryStatus)</th>
					}
					@if (Model.HasRevokeDate)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.RevokeDate)</th>
					}
					@if (Model.HasObsoleteDate)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.ObsoleteDate)</th>
					}
					@if (Model.HasUpdgradeByDate)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.UpgradeByDate)</th>
					}
					<th>@Html.DisplayNameFor(m => firstJurisdiction.LabLocation)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdiction.CertificationLabLocation)</th>
					@if (Model.HasDraftLetter)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.IsDraftLetter)</th>
					}
					<th>@Html.DisplayNameFor(m => firstJurisdiction.IsLetter)</th>
					@if (Model.HasDocs)
					{
						<th>@Html.DisplayNameFor(m => firstJurisdiction.IsDocs)</th>
					}
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var j in Model.Jurisdictions)
				{
					var rowClass = (j.IsMainJurisdiction) ? "mainjurisdiction-row" : "";
					<tr class="@rowClass">
						<td class="text-nowrap">
							@if (j.TransferProjectId != null)
							{
								<a href="@Url.Action("detail", "project", new { area = "protrack", id = j.TransferProjectId })" title="Transfer Project" target="_blank">
									<img class="paperclip" src="@Url.Content("~/img/paperclip.png")" />
								</a>
							}
							@if (j.HasMultipleProjects)
							{
								<div class="dropdown" style="display:inline;">
									<a href="#" title="Multiple Projects" data-toggle="dropdown">
										<img class="paperclip" src="@Url.Content("~/img/paperclipgreen.png")" />
									</a>
									<div class="dropdown-menu">
										<table class="multipleproject-table">
											<thead>
												<tr>
													<th>Project</th>
													<th>Testing Type</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var item in j.Projects)
												{
													<tr>
														<td><a href="@Url.Action("detail", "project", new { area = "protrack", id = item.Id })" target="_blank">@item.ProjectName</a></td>
														<td>@item.BundleTypeDescription</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
							}
						</td>
						<td>
							@j.JurisdictionName<span class="dd-ch">@j.JurisdictionId</span>
							@if (j.ShowStandards)
							{
								<a class="standards-link" href="@Url.Action("index", "jurisdictionstandard", new { submissionId = Model.SubmissionId, jurisdictionDataId = j.Id })"><i class="fas fa-list-alt fa-fw fa-lg" title="Standards"></i></a>
							}
							@if (j.CertificationNumberDataType != null)
							{
								if (j.CertificationNumberDataType == "KSANum")
								{
									<a class="certificationnumbers-link" href="@Url.Action("index", "tknumber", new { area = "tools", primary = j.Id, filenumber = Model.FileNumber, jurisdiction = j.JurisdictionName })" target="_blank"><i class="fas fa-info-circle fa-fw fa-lg" title="KSA Numbers"></i></a>
								}
								else if (j.CertificationNumberDataType == "CertNum")
								{
									<a class="certificationnumbers-link certificationnumbers-modal" data-jurisdictionaldataid="@j.Id"><i class="fas fa-info-circle fa-fw fa-lg" title="Certification Numbers"></i></a>
								}
							}
						</td>
						<td>@j.Active</td>
						<td>@j.RequestDate.ToString("d")</td>
						<td>@j.ReceiveDate.ToString("d")</td>
						@if (Model.HasDraftLetter)
						{
							<td>@j.DraftDate.ToString("d")</td>
						}
						<td>@j.CloseDate.ToString("d")</td>
						@if (Model.HasUpdateDate)
						{
							<td>@j.UpdateDate.ToString("d")</td>
						}
						<td>@j.Status</td>
						@if (Model.HasRegulatoryStatus)
						{
							<td>@j.RegulatoryStatus</td>
						}
						@if (Model.HasRevokeDate)
						{
							<td>@j.RevokeDate.ToString("d")</td>
						}
						@if (Model.HasObsoleteDate)
						{
							<td>@j.ObsoleteDate.ToString("d")</td>
						}
						@if (Model.HasUpdgradeByDate)
						{
							<td>@j.UpgradeByDate.ToString("d")</td>
						}
						<td>@j.LabLocation</td>
						<td>@j.CertificationLabLocation</td>
						@if (Model.HasDraftLetter)
						{
							<td>
								@if (j.IsDraftLetter)
								{
									<a href="@Url.Action("draftportal", "submission", new { projectId = j.CurrentProjectId })" target="_blank"><i class="fas fa-file-signature fa-fw"></i></a>
								}
							</td>
						}
					<td>
						@if (j.HasLetter || (!string.IsNullOrEmpty(j.PdfDraftPath) && j.IsDraftLetter ))
						{
							<a href="@Url.Action("indexnew", "gpsdocuments", new { area = "pdfmanager", jurisdictionaldataid = j.Id })" target="_blank"><i class="far fa-file-pdf fa-fw"></i></a>
						}
						
					</td>
						@if (Model.HasDocs)
						{
							<td>
								@if (j.IsDocs)
								{
									<a href="@Url.Action("index", "gpsdocuments", new { area = "gpsdocuments", fileNumber = Model.FileNumber, jurisId = j.JurisdictionId })" target="_blank"><i class="far fa-file-alt fa-fw"></i></a>
								}
							</td>
						}
						<td>
							<div class="dropup">
								<a href="#" class="btn dropdown-toggle edit-ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-v fa-fw edit-ellipsis-i"></i></a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="@Url.Action("viewjurisdictiondatahistory", "historylog", new { jurisdictionaldataId = j.Id, area = "Reports" })" title="History" target="_blank"><i class="fas fa-history fa-fw"></i> History</a></li>
									<li><a href="@Url.Action("history", "replacewith", new { jurisdictiondataId = j.Id })" title="ReplacementHistory" target="_blank"><i class="fas fa-history fa-fw"></i> Replacement History</a></li>
									@if (j.HasReplacements)
									{
										<li><a href="@Url.Action("index", "jurisdictionreplacelink", new { jurisdictionDataId = j.Id, linkEditableMode = "ReadOnly" })" title="Replacements" target="_blank"><i class="fas fa-exchange-alt fa-fw"></i> Replacements</a></li>
									}
									@if (canDelete && !j.IsLastJurisdiction)
									{
										<li><a href="#" data-id="@j.Id" data-jurisdictionid="@j.JurisdictionId" class="jurisdiction-delete" title="Delete" target="_blank"><i class="fas fa-trash-alt fa-fw"></i> Delete</a></li>
									}
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

