﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.MachineCertificatesViewModel
@{
	var firstMachineCertificate = Model.MachineCertificates.FirstOrDefault();
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right">
			@Html.ActionLink("[ Edit ]", "index", "machinecertificate", new { submissionId = Model.SubmissionId }, null)
		</div>
		<h3 class="panel-title">Machine Certificates</h3>
	</div>
	<div class="panel-body">
		<table id="machinecertificate-table" class="table table-condensed table-striped table-hover table-partialview">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(m => firstMachineCertificate.Jurisdiction)</th>
					<th>@Html.DisplayNameFor(m => firstMachineCertificate.CertificateNumber)</th>
					<th>@Html.DisplayNameFor(m => firstMachineCertificate.CertificateDate)</th>
					<th>@Html.DisplayNameFor(m => firstMachineCertificate.SerialNumber)</th>
					<th>@Html.DisplayNameFor(m => firstMachineCertificate.SealNumber)</th>
					<th>@Html.DisplayNameFor(m => firstMachineCertificate.DeviceType)</th>
					<th>@Html.DisplayNameFor(m => firstMachineCertificate.CertificatesThatWereReplaced)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model.MachineCertificates.Count == 0)
				{
					<tr><td colspan="8" class="text-warning text-center"><em>No Records Found</em></td></tr>
				}
				@foreach (var m in Model.MachineCertificates)
				{
					<tr>
						<td>@m.Jurisdiction<span class="dd-ch">@m.JurisdictionId</span></td>
						<td>@m.CertificateNumber</td>
						<td>@m.CertificateDate.ToString("d")</td>
						<td>@m.SerialNumber</td>
						<td>@m.SealNumber</td>
						<td>@m.DeviceType</td>
						<td>@m.CertificatesThatWereReplacedString</td>
						<td></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

