﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.MemosViewModel

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right">
			@Html.ActionLink("[ Edit ]", "index", "memo", new { submissionId = Model.SubmissionId }, null)
		</div>
		<h3 class="panel-title">Memos</h3>
	</div>
	<div class="panel-body">
		<table id="memo-table" class="table table-condensed">
			<tbody>
				@if (Model.Memos.Count == 0)
				{
					<tr><td colspan="5" class="text-warning text-center"><em>No Records Found</em></td></tr>
				}
				@foreach (var m in Model.Memos)
				{
					<tr>
						<td rowspan="2" width="50px"><i class="fas fa-user-circle fa-2x memo-user-profile"></i></td>
						<td><span class="memo-user">@m.Username</span><span class="memo-date">@m.AddDate.ToString("g")</span></td>
						<td>@m.TypeText</td>
						<td></td>
						<td>
							<div class="dropup">
								<a href="#" class="btn dropdown-toggle edit-ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-v fa-fw edit-ellipsis-i"></i></a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="@Url.Action("edit", "memo", new { id = m.Id, type = m.Type, mode = Mode.Edit, submissionId = Model.SubmissionId, source = (int)PageSource.SubmissionDetailPartialView })" title="Edit"><i class="fas fa-edit fa-fw"></i> Edit</a></li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="border-top:none;white-space:pre-line;">@Html.Raw(HttpUtility.HtmlDecode(m.Memo))</td>
						<td colspan="2" style="border-top:none;"></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>