﻿
@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.ProductsViewModel
@{
	var firstProduct = Model.Products.FirstOrDefault();
}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Products</h3>
	</div>
	<div class="panel-body">
		<table class="table table-condensed table-striped table-hover table-partialview">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(m => firstProduct.Name)</th>
					<th>@Html.DisplayNameFor(m => firstProduct.Version)</th>
					<th>@Html.DisplayNameFor(m => firstProduct.Type)</th>
					<th><!--Actions--></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var product in Model.Products)
				{
					<tr>
						<td>@product.Name</td>
						<td>@product.Version</td>
						<td>@product.Type</td>
						<td><a href="@Url.Action("edit", "product", new { area="protrack", id = product.Id })" title="Edit"><i class="fas fa-edit fa-fw"></i> Edit</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>