﻿
@{
	ViewBag.Title = "Delete Request Rejected";
}

<div class="modal-dialog" style="width:1000px;">
	<div class="modal-content">
		<div class="modal-header">
			<div class="pull-right">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
			<h3 class="modal-title">
				@ViewBag.Title <small> </small>&nbsp; &nbsp;
			</h3>
		</div>
		<div class="modal-body">
			@ViewBag.Message
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>

