﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.ReplaceWithViewModel
@{
	var firstSubmissionReplace = Model.SubmissionReplacements.FirstOrDefault();
	var firstJurisdictionReplace = Model.JurisdictionReplacements.FirstOrDefault();
}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Replace Withs</h3>
	</div>
	<div class="panel-body">
		<table id="replacewith-table" class="table table-condensed table-striped table-hover table-partialview">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(m => firstJurisdictionReplace.FileNumber)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdictionReplace.IdNumber)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdictionReplace.Version)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdictionReplace.GameName)</th>
					<th>@Html.DisplayNameFor(m => firstJurisdictionReplace.JurisdictionName)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model.SubmissionReplacements.Count == 0)
				{
					<tr><td colspan="11" class="text-warning text-center"><em>No Record Level ReplaceWith Found</em></td></tr>
				}
				@if (Model.JurisdictionReplacements.Count == 0)
				{
					<tr><td colspan="11" class="text-warning text-center"><em>No Jurisdictions Level ReplaceWith Found</em></td></tr>
				}
				@foreach (var s in Model.SubmissionReplacements)
				{
					<tr>
						<td class="text-nowrap">&nbsp;</td>
						<td>@s.IdNumber</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="text-nowrap">(record level)</td>
						<td></td>
					</tr>
				}
				@foreach (var s in Model.JurisdictionReplacements)
				{
			<tr>
				@if (s.ReplaceWith == s.FileNumber)
				{
					<td><A href="@Url.Action("detail", "submission", new { id = s.SubmissionId })">@s.FileNumber</A></td>
				}
				else
				{
					<td class="text-nowrap">@s.FileNumber</td>
				}
				@if (s.ReplaceWith == s.IdNumber ||  (s.ReplaceWith != s.Version && s.ReplaceWith != s.GameName))
				{
					<td><A href="@Url.Action("detail", "submission", new { id = s.SubmissionId })">@s.IdNumber</A></td>
				}
				else
				{
					<td>@s.IdNumber</td>
				}
				@if (s.ReplaceWith == s.Version)
				{
					<td><A href="@Url.Action("detail", "submission", new { id = s.SubmissionId })">@s.Version</A></td>
				}
				else
				{
					<td>@s.Version</td>
				}
				@if (s.ReplaceWith == s.GameName)
				{
					<td><A href="@Url.Action("detail", "submission", new { id = s.SubmissionId })">@s.GameName</A></td>
				}
				else
				{
					<td>@s.GameName</td>
				}

				<td class="text-nowrap">@s.JurisdictionName</td>
				<td></td>
			</tr>
				}
			</tbody>
		</table>
	</div>
</div>
