﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.RNGsViewModel

@{
	var firstRNG = Model.RNGs.FirstOrDefault();
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right">
			@Html.ActionLink("[ Edit ]", "index", "rngdataimport", new { submissionId = Model.SubmissionId }, null)
		</div>
		<h3 class="panel-title">RNG Data</h3>
	</div>
	<div class="panel-body">
		<table id="rng-table" class="table table-condensed table-striped table-hover table-partialview">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(m => firstRNG.TestCase)</th>
					<th>@Html.DisplayNameFor(m => firstRNG.RangeStart)</th>
					<th>@Html.DisplayNameFor(m => firstRNG.RangeEnd)</th>
					<th>@Html.DisplayNameFor(m => firstRNG.Draws)</th>
					<th>@Html.DisplayNameFor(m => firstRNG.Replacement)</th>
					<th>@Html.DisplayNameFor(m => firstRNG.Selections)</th>
					<th>@Html.DisplayNameFor(m => firstRNG.Notes)</th>
					<th>@Html.DisplayNameFor(m => firstRNG.ConfidenceLevels)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model.RNGs.Count == 0)
				{
					<tr><td colspan="9" class="text-warning text-center"><em>No Records Found</em></td></tr>
				}
				@foreach (var r in Model.RNGs)
				{
					<tr>
						<td>@r.TestCase</td>
						<td>@r.RangeStart</td>
						<td>@r.RangeEnd</td>
						<td>@r.Draws</td>
						<td>@(Convert.ToBoolean(r.Replacement) ? "Yes" : "No")</td>
						<td>@r.Selections</td>
						<td>@r.Notes</td>
						<td>@r.ConfidenceLevels</td>
						<td>
							<div class="dropup">
								<a href="#" class="btn dropdown-toggle edit-ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-v fa-fw edit-ellipsis-i"></i></a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="@Url.Action("edit", "rngdataimport", new { id = r.Id, mode = Mode.Edit, submissionId = Model.SubmissionId, fileNumber = Model.FileNumber, source = (int)PageSource.SubmissionDetailPartialView })" title="Edit"><i class="fas fa-edit fa-fw"></i> Edit</a></li>
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

