﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.ShipmentsViewModel
@{
	var firstShipment = Model.Shipments.FirstOrDefault();
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right">
			@Html.ActionLink("[ Edit ]", "index", "shipment", new { submissionId = Model.SubmissionId }, null)
		</div>
		<h3 class="panel-title">Shipments</h3>
	</div>
	<div class="panel-body">
		<table id="shipment-table" class="table table-condensed table-striped table-hover table-partialview">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(m => firstShipment.Type)</th>
					<th>@Html.DisplayNameFor(m => firstShipment.ShippingRecipientCode)</th>
					<th>@Html.DisplayNameFor(m => firstShipment.ProcessDate)</th>
					<th>@Html.DisplayNameFor(m => firstShipment.Courier)</th>
					<th>@Html.DisplayNameFor(m => firstShipment.TrackingNumber)</th>
					<th>@Html.DisplayNameFor(m => firstShipment.ChipCount)</th>
					<th>@Html.DisplayNameFor(m => firstShipment.DiskCount)</th>
					<th>@Html.DisplayNameFor(m => firstShipment.Memo)</th>
					<th>@Html.DisplayNameFor(m => firstShipment.SoftwareCheckUser)</th>
					<th>@Html.DisplayNameFor(m => firstShipment.SoftwareCheckDate)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Shipments.Count == 0)
				{
					<tr><td colspan="11" class="text-warning text-center"><em>No Records Found</em></td></tr>
				}
				@foreach (var s in Model.Shipments)
				{
					<tr>
						<td>@s.Type</td>
						<td>@s.ShippingRecipientCode</td>
						<td>@s.ProcessDate</td>
						<td>@s.Courier</td>
						<td>@s.TrackingNumber</td>
						<td>@s.ChipCount</td>
						<td>@s.DiskCount</td>
						<td>@s.Memo</td>
						<td>@s.SoftwareCheckUser</td>
						<td>@s.SoftwareCheckDate.ToString("d")</td>
						<td>
							<div class="dropup">
								<a href="#" class="btn dropdown-toggle edit-ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-v fa-fw edit-ellipsis-i"></i></a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="@Url.Action("edit", "shipment", new { id = s.Id, mode = Mode.Edit, submissionId = Model.SubmissionId, source = (int)PageSource.SubmissionDetailPartialView })" title="Edit"><i class="fas fa-edit fa-fw"></i> Edit</a></li>
									<li><a href="@Url.Action("viewShippingHistory", "historylog", new { shippingDataId = s.Id, area = "reports" })" title="History" target="_blank"><i class="fas fa-history fa-fw"></i> History</a></li>
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
