﻿@model Submissions.Web.Areas.Submission.Models.Submission.DetailPartialViews.SignaturesViewModel
@{
	var firstSignature = Model.Signatures.FirstOrDefault();
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right">
			@Html.ActionLink("[ Edit ]", "index", "signature", new { submissionId = Model.SubmissionId }, null)
		</div>
		<h3 class="panel-title">Signatures</h3>
	</div>
	<div class="panel-body">
		<table id="signature-table" class="table table-condensed table-striped table-hover table-partialview">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(m => firstSignature.Type)</th>
					<th>@Html.DisplayNameFor(m => firstSignature.Scope)</th>
					<th>@Html.DisplayNameFor(m => firstSignature.Signature)</th>
					<th>@Html.DisplayNameFor(m => firstSignature.Version)</th>
					<th>@Html.DisplayNameFor(m => firstSignature.AlphaVersion)</th>
					@if (Model.ShowFilePath)
					{
						<th>@Html.DisplayNameFor(m => firstSignature.FilePath)</th>
					}
					<th>@Html.DisplayNameFor(m => firstSignature.Seed)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Signatures.Count == 0)
				{
					<tr><td colspan="8" class="text-warning text-center"><em>No Records Found</em></td></tr>
				}
				@foreach (var s in Model.Signatures)
				{
					<tr>
						<td>@s.Type</td>
						<td>@s.Scope</td>
						<td>@s.Signature</td>
						<td>@s.Version</td>
						<td>@s.AlphaVersion</td>
						@if (Model.ShowFilePath)
						{
							<td>@s.FilePath</td>
						}
						<td>@s.Seed</td>
						<td>
							<div class="dropup">
								<a href="#" class="btn dropdown-toggle edit-ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-v fa-fw edit-ellipsis-i"></i></a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="@Url.Action("edit", "signature", new { id = s.Id, mode = Mode.Edit, submissionId = Model.SubmissionId, source = (int)PageSource.SubmissionDetailPartialView })" title="Edit"><i class="fas fa-edit fa-fw"></i> Edit</a></li>
									<li><a href="@Url.Action("viewsignaturehistory", "historylog", new { signatureId = s.Id, area = "reports" })" title="History" target="_blank"><i class="fas fa-history fa-fw"></i> History</a></li>
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>