﻿<template>
	<div class="modal" ref="MemoModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
						{{ title }}
						<button type="button" class="close pull-right" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</h4>
				</div>
				<div class="modal-body">
					<textarea rows="4" cols="400" class="form-control" v-model="localMemo" autofocus="autofocus"></textarea>
					<span class="field-validation-error" v-if="$v.localMemo.$error && !$v.localMemo.required">Memo is required</span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-sm btn-primary" @click="save">Save</button>
					<button class="btn btn-sm btn-primary" @click="cancel">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { requiredIf } from 'vuelidate/lib/validators'

	let emitValue = { memo: null, saveClicked: false };

	export default {
		props: {
			title: {
				type: String,
				required: true
			},
			memo: {
				type: String
			},
			memoRequired: {
				type: Boolean
			},
			showModal: {
				type: Boolean,
				required: true
			}
		},
		data() {
			return {
				localMemo: this.memo,
				localMemoRequired: this.memoRequired || false
			}
		},
		validations: {
			localMemo: {
				required: requiredIf(function () {
					return this.localMemoRequired;
				})
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.MemoModal).on('hidden.bs.modal', function () {
				emitValue.memo = null;
				emitValue.saveClicked = false;
				self.localMemo = null;
				self.$v.$reset();
			});
		},
		methods: {
			cancel: function () {
				emitValue.memo = this.localMemo;
				emitValue.saveClicked = false;
				this.$emit('modalClose', emitValue);
				this.close();
			},
			close: function () {
				$(this.$refs.MemoModal).modal('hide');
			},
			save: function () {
				if (!this.validate()) {
					return false;
				}

				emitValue.memo = this.localMemo;
				emitValue.saveClicked = true;
				this.$emit('modalClose', emitValue);
				this.close();
			},
			validate: function () {
				this.$v.$touch();
				return !this.$v.$invalid;
			}
		},
		watch: {
			showModal: function (val, oldVal) {
				if (val) {
					$(this.$refs.MemoModal).modal('show');
				}
			}
		}
	}
</script>