@{
	ViewBag.Title = "Administration";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<h4><i class="fas fa-list"></i> Frequently Used Lookups</h4>
		<ul>
			@if (Util.HasAccess(Permission.Admin, AccessRight.Edit))
			{
				<li>@Html.ActionLink("Jurisdictions", "Index", "Jurisdictions", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Manufacturers", "Index", "Manufacturers", new { area = "Lookups" }, "")</li>
			}
			<li>@Html.ActionLink("Users", "Index", "Users", new { area = "Lookups" }, "")</li>
		</ul>
		<br />
		<h4><i class="fas fa-list"></i> Lookups</h4>
		<ul>
			@if (Util.HasAccess(Permission.Admin, AccessRight.Edit))
			{
				<li>@Html.ActionLink("Chip Types", "Index", "ChipTypes", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Countries", "Index", "Countries", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Compilation Methods", "Index", "CompilationMethod", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Departments", "Index", "Departments", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Document Types", "Index", "DocumentTypes", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Email Distributions", "Index", "EmailDistributions", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Email Types", "Index", "EmailTypes", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Game Description Statuses", "Index", "GameDescriptionStatuses", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Game Description Types", "Index", "GameDescriptionTypes", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Help", "Index", "Help", new { area = "Lookups" }, "")</li>
				@*these need to be looked at<li>@Html.ActionLink("Jurisdiction Groups", "Index", "JurisdictionGroups", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Jurisdiction Group Categories", "Index", "JurisdictionGroupCategories", new { area = "Lookups" }, "")</li>*@
				<li>@Html.ActionLink("Laboratories", "Index", "Laboratories", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Manufacturer Group Categories", "Index", "ManufacturerGroupCategories", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Roles", "Index", "Roles", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Signature Scopes", "Index", "SignatureScopes", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Signature Types", "Index", "SignatureTypes", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Signature Versions", "Index", "SignatureVersions", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Standards", "Index", "Standards", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Subscriptions", "Index", "Subscription", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Tasks", "Index", "TaskDefinitions", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Task Documents", "Index", "TaskDocuments", new { area = "Lookups" }, "")</li>
			}
		</ul>
	</div>
	<div class="col-sm-6">
		@if (Util.HasAccess(Permission.Admin, AccessRight.Edit))
		{
			<h4><i class="fas fa-wrench"></i> Tools</h4>
			<ul>
				<li>@Html.ActionLink("Impersonate", "Index", "Impersonate", new { area = "Tools" }, "")</li>
			</ul>
			<br />
		}
	</div>
</div>