﻿<template>
	<div>
		<slot name="header">

		</slot>
		<div v-if="initialOrderProperty">
			<base-button :isPrimary="false" :onclick="(evt) => {reset()}">Reset</base-button>
		</div>
		<draggable :list="list"
				   v-bind="dragOptions"
				   class="list-group"
				   handle=".handle"
				   ghost-class="ghost"
				   @start="drag = true"
				   @end="drag = false"
				   :move="handle__dragMove">
			<transition-group type="transition" :name="!drag ? 'flip-list' : null">
				<div class="list-group-item"
					 v-for="(element, index) in list"
					 :key="element.name"
					 :ref="'listItems'"
					 v-bind:class="{ highlightAnimation: element._selected }">
					<div class="flex__container">
						<div class="handle flex__item"><i class="fas fa-grip-lines"></i></div>
						<div class="flex__item" title="Click for move to location.">
							<tippy interactive
								   arrow
								   trigger="click"
								   animation="scale"
								   size="large"
								   sticky="true"
								   theme="light"
								   @hidden="() => targetLocation = null">
								<template v-slot:trigger>
									<i class="fas fa-ellipsis-v pointer"></i>
								</template>
								<div class="flex__container">
									<label class="flex__item padding__left">Move {{element.name}} to position:</label>
									<input class="flex__item" type="number" v-model="targetLocation" min="1" :max="list.length" @change="constrainInput($event)" />
									<div class="flex__item" v-show="targetLocation > 0 && targetLocation <= list.length">
										<base-button :isPrimary="true" :onclick="(evt) => {move(element,index,targetLocation) }">Move</base-button>
									</div>
								</div>
							</tippy>
						</div>
						<template v-if="index == 0">
							<div class="flex__item">

							</div>
							<div class="flex__item">
								<i class="fas fa-sort-down pointer" @click="step(element.name,index,false)"></i>
							</div>
						</template>
						<template v-else-if="index > 0 && index < list.length - 1">
							<div class="flex__item">
								<i class="fas fa-sort-up pointer" @click="step(element.name,index,true)"></i>
							</div>
							<div class="flex__item">
								<i class="fas fa-sort-down pointer" @click="step(element.name,index,false)"></i>
							</div>
						</template>
						<template v-else>
							<div class="flex__item">
								<i class="fas fa-sort-up pointer" @click="step(element.name,index,true)"></i>
							</div>
							<div class="flex__item">

							</div>
						</template>
						<div class="flex__item">
							<span class="badge blue">{{index + 1}}</span>
						</div>
						<div class="flex__item__content">
							{{ element.name }}
						</div>
					</div>
				</div>
			</transition-group>
		</draggable>
		<slot name="actions" v-bind:list="list">
		</slot>
	</div>
</template>
<script>
	import "tippy.js/themes/light.css";
	import Vue from 'vue';
	import api from '../../../api/letterSection';
	import Draggable from 'vuedraggable'
	import { required } from "vuelidate/lib/validators";

	Array.prototype.move = function (from, to) {
		this.splice(to, 0, this.splice(from, 1)[0]);
		return this;
	};

	export default {
		created: function () {
			this.list.forEach(x => Vue.set(x, '_selected', false));

			if (this.initialOrderProperty)
				this.list = this.list.sort((a, b) => (a[this.initialOrderProperty] > b[this.initialOrderProperty]) ? 1 : -1);
			//this.intenralList = _.cloneDeep(this.list); //[...this.list];
		},
		components: {
			Draggable,
		},
		props: {
			list: Array,
			initialOrderProperty: String
		},
		data() {
			return {
				intenralList: [],
				drag: false,
				targetLocation: null,
			}
		},
		computed: {
			dragOptions() {
				return {
					animation: 200,
					group: "description",
					disabled: false,
					ghostClass: "ghost"
				};
			}
		},
		methods: {
			constrainInput: function (event) {
				if (this.targetLocation < 1) {
					this.targetLocation = 1;
				}
				if (this.targetLocation > this.list.length) {
					this.targetLocation = this.list.length;
				}
			},
			move: function (element, from, to) {
				this.list.move(from, to - 1);
				this.handle__highlight(element);
			},
			step: function (name, from, direction) {
				this.list.move(from, direction ? from - 1 : from + 1);
				let target = this.list.find(x => x.name === name);
				this.handle__highlight(target);
			},
			handle__dragMove: function (evt) {
				this.handle__highlight(evt.draggedContext.element);
			},
			handle__highlight: function (listItem) {
				listItem._selected = true;
				setTimeout(() => { listItem._selected = false; }, 3000);
			},
			reset: function () {
				if (this.initialOrderProperty)
					this.list.sort((a, b) => (a[this.initialOrderProperty] > b[this.initialOrderProperty]) ? 1 : -1)
			}
		},
		validations: {
			vm: {
				letterSection: {
					name: { required },
					active: {},
					orderId: {}
				}
			}
		}
	}
</script>
<style lang="scss" scoped>
	@use '@/components/theme/Colors';
	@use '@/components/theme/Spacing';
	@use "sass:color";

	.selected {
		color: white;
		background-color: Colors.$blueLight
	}

	.flex__container {
		display: flex;
		align-items: center;
		flex-direction: row;
	}

	.flex__item__content {
		flex: 1 1 auto;
	}

	.flex__item {
		flex: 0 1 auto;
		margin-right: 8px;
		padding-right: 5px;
	}

	.handle:hover {
		cursor: -webkit-grab;
		cursor: grab;
	}

	.handle:active {
		cursor: -webkit-grabbing;
		cursor: grabbing;
	}


	@keyframes highlight {
		0% {
			background: Colors.$blueLight
		}

		100% {
			background: none;
		}
	}

	.highlightAnimation {
		animation: highlight 3s;
	}

	.blue {
		background-color: Colors.$blueLight
	}

	.pointer {
		cursor: pointer;
	}

	.padding__left {
		padding-left: 5px;
	}
</style>