﻿<template>
	<form ref="OptionsForm" method="post">
		<div class="row row-title">
			<div class="col-sm-8">
				<h3>Letter Book Billing Options <small>{{ vm.name  }}</small></h3>
			</div>
			<div class="col-sm-4 form-buttons">
				<a @click="saveOptions($event)" class="btn btn-primary btn-sm">Save</a>
				<a-link href="/lookups/letterbookbillingoptions/index" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Letter Book Billing Options</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="Name">Name: </label>
								<div class="col-sm-3">
									<input id="Name" name="Name" type="text" v-model.lazy="vm.name" class="form-control" />
									<span class="field-validation-error" v-if="!$v.vm.name.required && $v.vm.name.$error">Name is required</span>
									<span class="field-validation-error" v-if="!$v.vm.name.isUnique">Name already exists</span>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="ChargeValue">Charge Value: </label>
								<div class="col-sm-3">
									<input id="ChargeValue" name="ChargeValue" type="number" v-model.lazy="vm.chargeValue" class="form-control" />
									<span class="field-validation-error" v-if="!$v.vm.chargeValue.required && $v.vm.name.$error">Charge Value is required</span>
									<span class="field-validation-error" v-if="!$v.vm.chargeValue.isValid">Charge Value must be a dollar amount, to 2 decimal places</span>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="NumberOfItemsBilled">Number of Items Billed: </label>
								<div class="col-sm-3">
									<input id="NumberOfItemsBilled" name="NumberOfItemsBilled" type="number" v-model.lazy="vm.numberOfItemsBilled" class="form-control" />
									<span class="field-validation-error" v-if="!$v.vm.numberOfItemsBilled.isValid">Number of Items Billed must be a whole number</span>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="BillingSheet">Billing Sheet: </label>
								<!--<div class="col-sm-3">
									<input id="BillingSheet" name="BillingSheet" type="text" v-model.lazy="vm.billingSheet" class="form-control" />
								</div>-->
								<div class="col-sm-7">
									<input type="hidden"
										   id="BillingSheetId"
										   name="BillingSheetId"
										   v-model="vm.billingSheet" />
									<SelectStandard id="BillingSheet"
													name="BillingSheet"
													v-model="vm.billingSheet"
													:options="vm.billingSheets">
									</SelectStandard>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="ReportType">Report Type: </label>
								<div class="col-sm-7">
									<input type="hidden"
										   id="ReportTypeId"
										   name="ReportTypeId"
										   v-model="vm.reportType" />
									<SelectStandard id="ReportType"
													name="ReportType"
													v-model="vm.reportType"
													:options="vm.reportTypes">
									</SelectStandard>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="ReportType">Specialized Type: </label>
								<div class="col-sm-7">
									<input type="hidden"
										   id="SpecializedTypeId"
										   name="SpecializedTypeId"
										   v-model="vm.specializedType" />
									<SelectStandard id="SpecializedType"
													name="SpecializedType"
													v-model="vm.specializedType"
													:options="vm.specializedTypes">
									</SelectStandard>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">Letter Type: </label>
								<div class="col-sm-7">
									<input id="Type" name="Type" type="hidden" v-model="vm.letterTypeId" />
									<Lookup id="LetterType" name="LetterType" lookupajax="DocumentType" :options="vm.letterTypeOptions" @updateLookupTextField="updateLetterType" v-model="vm.letterTypeId" :lookuptextfield="vm.letterType"></Lookup>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">Jurisdictions: </label>
								<div class="col-sm-7">
									<LookupMultiple id="Jurisdictions" name="Jurisdictions" lookupajax="Jurisdictions" v-model="vm.jurisdictionIds" :options="vm.jurisdictions" />
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">Manufacturers: </label>
								<div class="col-sm-7">
									<LookupMultiple id="Manufacturers" name="Manufacturers" lookupajax="Manufacturers" v-model="vm.manufacturerIds" :options="vm.manufacturers" />
								</div>
							</div>
							<br />
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="Mode" v-model="vm.mode" />
		<input type="hidden" name="Id" v-model="vm.id" />
	</form>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import DatePicker from '@/components/utility/DatePicker.vue';
	import { required } from 'vuelidate/lib/validators';
	import ALink from '@/components/utility/ALink.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('letterbookbillingoptions')

	export default {
		components: {
			Lookup,
			DatePicker,
			ALink,
			LookupMultiple,
			SelectStandard
		},
		data() {
			return {
				vm: initialData
			}
		},
		validations: {
			vm: {
				name: {
					required,
					isUnique(value) {
						if (!value) {
							return true;
						}
						return this.$http.get('Lookups/LetterbookBillingOptions/ValidateName', {
							params: {
								id: this.vm.id,
								name: this.vm.name,
								mode: this.vm.mode
							}
						})
						.then(r => {
							return r.data;
						});
					},
				},
				chargeValue: {
					required,
					isValid(value) {
						return true;//true for now, check that it is of 2 decimal places
					}
				},
				numberOfItemsBilled: {
					isValid(value) {
						return (value % 1 == 0)
					}
				},
				mode: {

				},
				id: {

				},
				jurisdictionIds: {},
				manufacturerIds: {},
				letterTypeId: {},
				specializedType: {},
				reportType: {}
			}
		},
		methods: {
			updateLetterType: function (newValue) {
				this.vm.letterType = newValue;
			},
			saveOptions: function (e) {
				if (!this.validate()) {
					return;
				}
				this.$http.post('Lookups/LetterbookBillingOptions/Edit', {
					vm: this.vm,
				})
				.then(response => {
					window.location.href = "../letterbookBillingOptions/index"
				});
			},
			validate: function () {
				this.$v.$touch();
				return !this.$v.$invalid;
			},
			...mapActions([
			])
		},
		watch: {
		}
	}
</script>