﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Letter Book Billing Options</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<a-link href="/lookups/letterbookbillingoptions/edit?mode=Add" class="btn btn-sm btn-primary">Add</a-link>
				<a-link href="/admin" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<table class="table table-striped table-hover">
			<tr>
				<th>Option Name</th>
				<th>Charge Value</th>
				<th>Number of Items Billed</th>
				<th>Letter Type</th>
				<th></th>
			</tr>
			<tbody>
				<tr v-for="(options, index) in vm">
					<td>{{options.name}}</td>
					<td>{{options.chargeValue}}</td>
					<td>{{options.numberOfItemsBilled}}</td>
					<td>{{options.letterType}}</td>
					<td class="text-right">
						<a-link :href="'/lookups/letterbookbillingoptions/edit?id=' + options.id + '&Mode=Edit'">Edit</a-link>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import ALink from '@/components/utility/ALink.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('letterbookbillingoptions')

	export default {
		components: {
			ALink
		},
		data() {
			return {
				vm: initialData
			}
		},
		methods: {
			...mapActions([
			])
		}
	}
</script>