﻿@model Submissions.Web.Areas.Help.Models.About.AboutViewModel

@{
	ViewBag.Title = "About";
	ViewBag.NoContainer = true;
	ViewBag.NoFooter = false;
}

<div id="app"></div>

@section scripts {
	<script>
		var initialData = @Html.Raw(Submissions.Common.ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
