﻿<template>
	<a :href="hrefUrl" @click.stop="clickLink"><slot></slot></a>
</template>

<script>
	export default {
		props: {
			href: {
				type: String,
				required: true
			}
		},
		methods: {
			clickLink: function () {
				location = this.hrefUrl;
			}
		},
		computed: {
			hrefUrl: function () {
				return jsPath + this.href.slice(1);
			}
		}
	}
</script>