﻿<template>
	<div contenteditable
		 class="grow-div"
		 v-html="txt"
		 @blur="onEdit"
		 @input="onLiveEdit"
		 @keydown.enter="endEdit"></div>
</template>

<script>
	/*
	 * Pass in the property that will be the default text in the div
	 * use updateHTML event to set the value of the property being edited with the HTML
	 * use updateText even to set the value of the property sans HTML
	 * */
	export default {
		props: ['content'],
		data() {
			return {
				txt: ''
			}
		},
		mounted: function () {
			this.txt = this.content;
		},
		methods: {
			onEdit(evt){
				let srcHTML = evt.target.innerHTML;
				this.$emit('updateHTML', srcHTML);
				let srcText = evt.target.innerText;
				this.$emit('updateText', srcText);
			},
			endEdit(){
				this.$el.querySelector('.editme').blur();
			},
			onLiveEdit(evt){
				let srcHTML = evt.target.innerHTML;
				this.$emit('updateHTML', srcHTML);
				let srcText = evt.target.innerText;
				this.$emit('updateText', srcText);
			},
		}
	}
</script>

<style scoped>
	/*
	Add a 
		display: flex;
	to the enclosing div to have this component expand to fill that div
	*/
	.grow-div {
		flex-grow: 100;
		width: 100%;
		padding: 1rem;
		border: 1px solid #ccc;
		margin-bottom: 1rem;
	}
</style>
