﻿<template>
	<input type="text" class="form-control" :id="id" :name="name" />
</template>

<script>
	export default {
		props: ['id', 'name', 'value'],
		mounted: function () {
			var self = this;
			var element = $(this.$el);

			element
				.datetimepicker({
					defaultDate: this.value,
					format: 'l LT',
					useCurrent: false,
					showClear: true,
				})
				.on('dp.change', function () {
					self.$emit('input', this.value);
				});
		},
		watch: {
			value: function (value) {
				if (value) {
					$(this.$el).data('DateTimePicker').date(new Date(value));
				}
				else {
					$(this.$el).data('DateTimePicker').date(null);
				}
			}
		},
		destroyed: function () {
			$(this.$el).data('DateTimePicker').destroy();
		}
	}
</script>