﻿<template>
	<span v-if="currentFilter" class="currentformfilter pull-right">
		Filter: {{ currentFilter.name }} <i @click="clickRemove" class="fas fa-times fa-remove-formfilter" title="Remove"></i>
	</span>
</template>

<script>
	import api from '@/api/formfilters'

	export default {
		props: {
			currentFilter: { type: Object }
		},
		methods: {
			clickRemove: function () {
				api.remove(this.currentFilter.id);
				location.reload();
			}
		}
	}
</script>