﻿<template>
	<div class="dropdown-filters">
		<div class="dropdown dropdown-filters">
			<button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
				<i class="fas fa-filter"></i> My Filters <span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a class="pointer" @click="clickAdd">Add</a></li>
				<li v-if="currentFilter"><a class="pointer" @click="clickSave">Save</a></li>
				<li><a class="pointer" @click="clickView">View List</a></li>
			</ul>
		</div>
		<div class="modal" ref="FormFiltersModal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div class="pull-right">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						</div>
						<h3 class="modal-title">Filters</h3>
					</div>
					<div class="modal-body">
						<table id="FormFiltersTable" class="table table-striped table-hover table-condensed">
							<tbody>
								<tr>
									<th>Date</th>
									<th>Name</th>
									<th></th>
								</tr>
								<tr v-if="formFilters.length === 0"><td colspan="3" class="norecords">No Records Found</td></tr>
								<tr v-for="(filter, index) in formFilters" :key="filter.id">
									<td>{{ filter.addDate | formatDate }}</td>
									<td>{{ filter.filterName }}</td>
									<td class="text-right"><a @click.stop="clickApply(filter.id)">Apply</a> | <a @click.stop="clickDelete(filter)">Delete</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<div class="pull-right">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import api from '@/api/formfilters'

	export default {
		props: {
			currentFilter: { type: Object },
			formRef: { type: String, required: true },
			section: { type: Number, required: true }
		},
		data() {
			return {
				formFilters: []
			}
		},
		methods: {
			clickAdd: function () {
				const self = this;
				bootbox.prompt("Please enter a Filter Name", function (filterName) {
					if (filterName) {
						self.saveFilter(null, filterName);
					}
				});
			},
			clickApply: function (id) {
				api.apply(id, this.section)
					.then(r => {
						location.reload();
					});
			},
			clickDelete: function (filter) {
				api.delete(filter.id);
				this.formFilters.splice(this.formFilters.indexOf(filter), 1);
				if (this.currentFilter.id === filter.id) {
					this.$emit('currentFilter', null);
				}
			},
			clickSave: function () {
				this.saveFilter(this.currentFilter.id, this.currentFilter.name);
			},
			clickView: function () {
				api.load(this.section)
					.then(r => {
						this.formFilters = r.data;
					});

				$(this.$refs.FormFiltersModal).modal('show');
			},
			saveFilter: function (filterId, filterName) {
				const filterForm = this.$parent.$refs[this.formRef];
				const filters = JSON.stringify($(filterForm).serializeObject());

				api.edit(filterId, filterName, this.section, filters)
					.then(r => {
						this.$emit('currentFilter', { id: r.data, name: filterName });
					});
			}
		}
	}
</script>

<style scoped>
	#FormFiltersTable > tbody > tr:not(:first-child) {
		cursor: pointer;
	}

	#FormFiltersTable > tbody > tr > th:first-child {
		width: 100px;
	}

	.dropdown-filters {
		display: inline;
	}
</style>