<template>
	<div>
		<table :class="{ 'glide-zebra-stripe': zebraStripe, 'glide-full-width': fullWidth }">
			<thead>
				<tr>
					<th v-for="(column) in annotatedColumns"
						:style="column.style"
						:key="(column.slot || column.label)">
						<div class="glide-sorting-controls-container">
							<div class="glide-sorting-controls-item">
								{{ column.label }}
							</div>
							<div v-if="sorting.enable && column.label" class="glide-sorting-controls-item">
								<div class="glide-sorting-controls-arrows-container">
									<i @click="handle__sortByColumn('Asc',column)"
									   class="fas fa-caret-up glide-sorting-controls-arrows"
									   v-bind:class="{'glide-sorting-controls-arrows-active' : column.sortOrder === 'Asc', 'black-caret' : column.sortOrder === 'Desc' }"></i>
									<i class="fas fa-caret-down glide-sorting-controls-arrows"
									   v-bind:class="{'glide-sorting-controls-arrows-active' : column.sortOrder === 'Desc', 'black-caret' : column.sortOrder === 'Asc' }"
									   @click="handle__sortByColumn('Desc',column)"></i>
								</div>
							</div>
						</div>
						<div v-if="filtering.enable && column.label && column.filterable" class="glide-sorting-controls-item">
							<input type="text"
								   v-model="column.filterTerm"
								   @keyup="handle__filterByColumn(column)" /> 
						</div>
					</th>
				</tr>
			</thead>
			<tr v-if="bulkEditToggled"
				class="glide-bulk-edit">
				<td v-for="(column) in annotatedColumns"
					:style="column.style"
					:key="(column.slot || column.label)">
					<slot :name="'bulkEdit' + (column.slot || column.label)"></slot>
				</td>
			</tr>
			<tr v-for="(row, index) in (local_paging.enable ? pageList : filteredRows)"
				:key="row.key">
				<td v-for="(column, columnIndex) in annotatedColumns"
					:style="column.style"
					:key="(column.slot || column.label)">
					<!-- Careful when implementing sorting, that the index matches the index of the prop row, not this row -->
					<!-- Also, make sure sort order only changes on clicking column header - NOT when a property changes -->
					<slot :name="column.slot || column.label"
						  :index="index"
						  :row="row"
						  :key-action="keyAction(columnIndex, index, columns.length, filteredRows.length)">
						<span v-if="!column._fieldIsFunction">{{ row | resolvePath(column.field) | format(column.filter) }} </span>
						<span v-else>{{ column.field(row) }} </span>
					</slot>
				</td>
			</tr>
			<tr v-if="filteredRows.length === 0">
				<td :colspan="columns.length"
					class="glide-empty-table">
					No data
				</td>
			</tr>
		</table>
		<div v-if="this.local_paging.enable">
			<div>
				<div class="glide-paging-controls-container">
					<div class="glide-paging-controls-item glide-paging-controls-item-enabled"
						 v-bind:class="{'glide-paging-controls-item-disabled' : !canGoToPreviousPage }"
						 @click="previousPage">
						<i class="fas fa-caret-left glide-paging-controls-arrow"></i>
						Prev
					</div>
					<div class="glide-paging-controls-item">
						{{pagingKeySentance}}
					</div>
					<div class="glide-paging-controls-item glide-paging-controls-item-enabled"
						 v-bind:class="{'glide-paging-controls-item-disabled' : !canGoToNextPage }"
						 @click="nextPage">
						Next
						<i class="fas fa-caret-right glide-paging-controls-arrow"></i>
					</div>
				</div>
				<div v-if="local_paging.enableRPP" class="glide-paging-controls-item glide-paging-control-rpp">
					<label>Rows Per Page</label>
					<base-select @input="handle__currentPage" :options="[5,10,25,50,100]" v-model="local_paging.numberPerPage"></base-select>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Vue from "vue";
	export default {
		components: {
		},
		props: {
			bulkEditToggled: {
				type: Boolean,
				required: false
			},
			columns: {
				type: Array,
				required: true
			},
			rows: {
				type: Array,
				required: true
			},
			zebraStripe: {
				type: Boolean,
				required: false
			},
			fullWidth: {
				type: Boolean,
				required: false
			},
			paging: {
				type: Object,
				required: false,
				default: function () {
					return {
						currentPage: 1,
						numberPerPage: 10,
						enable: false,
						enableRPP: false
					}
				}
			},
			filtering: {
				type: Object,
				required: false,
				default: function () {
					return {
						enable: false
					}
				}
			},
			sorting: {
				type: Object,
				required: false,
				default: function () {
					return {
						enable: false
					}
				}
			}
		},
		data() {
			return {
				local_paging: _.cloneDeep(this.paging),
				filters: []
			}
		},
		computed: {
			filteredRows: function () {
				let filteredRows = this.rows;

				this.filters.forEach(function (column) {
					filteredRows = filteredRows.filter(x => x[column.field].toString().includes(column.filterTerm));
				});

				return filteredRows;
			},
			pagingKeySentance: function () {
				return `${this.pageBegin + 1} - ${this.pageEnd > this.filteredRows.length ? this.filteredRows.length : this.pageEnd} of ${this.filteredRows.length}`;
			},
			canGoToNextPage: function () {
				return this.local_paging.currentPage + 1 <= this.numberOfPages;
			},
			canGoToPreviousPage: function () {
				return this.local_paging.currentPage - 1 > 0;
			},
			pageList: function () {
				return this.filteredRows.slice(this.pageBegin, this.pageEnd);
			},
			pageBegin: function () {
				return ((this.local_paging.currentPage - 1) * this.local_paging.numberPerPage);
			},
			pageEnd: function () {
				return this.pageBegin + this.local_paging.numberPerPage;
			},
			numberOfPages: function () {
				return Math.ceil(this.filteredRows.length / this.local_paging.numberPerPage) || 0;
			},
			annotatedColumns: function () {
				// See https://stackoverflow.com/a/6000016/1074198
				const isFunction = function (obj) {
					return !!(obj && obj.constructor && obj.call && obj.apply);
				};
				return this.columns.map(c => {
					return {
						...c,
						sortOrder: '',
						filterTerm: '',
						_fieldIsFunction: isFunction(c.field)
					};
				});
			}
		},
		filters: {
			resolvePath: function (o, s) {
				// If null, then this is just a placeholder field. Ignore
				if (s == null) return null;

				// See https://stackoverflow.com/a/6491621/1074198
				s = s.replace(/\[(\w+)\]/g, ".$1"); // convert indexes to properties
				s = s.replace(/^\./, "");           // strip a leading dot
				const a = s.split(".");
				for (let i = 0, n = a.length; i < n; ++i) {
					const k = a[i];
					if (k in o) {
						o = o[k];
					} else {
						return;
					}
				}

				return o;
			},
			format: function (val, filter) {
				if (filter?.direct) {
					return filter.direct(val);
				}
				else if (filter?.name)
					return Vue.filter(filter.name)(val, ...filter.args);
				else
					return val;
			}
		},
		methods: {
			keyAction: function (colIndex, rowIndex, colCount, rowCount) {
				return (evt) => {

					if (evt.keyCode === 27) {
						// Escape
						evt.target.blur();
						return;
					}

					// Determine if nav key
					let direction;
					switch (evt.keyCode) {
						case 37: // left
							direction = "left";
							break;
						case 38: // up
							direction = "up";
							break;
						case 39: // right
							direction = "right";
							break;
						case 40: // down
							direction = "down";
							break;
						case 13: // enter
							direction = evt.getModifierState("Shift") ? "up" : "down";
							break;
						default:
							return;
					}

					// Detect if all selected
					const allSelected = document.getSelection().toString() === evt.target.value;

					// Determine if nav key not applicable for current target
					switch (evt.target.nodeName) {
						case "INPUT":
							// Only if text type
							if (evt.target.type === "text") {
								if (direction !== "left" && direction !== "right") {
									break;
								} else if (allSelected) {
									break;
								}
							}
							return;
						case "TEXTAREA":
							// Only enter key should work if all selected
							if (allSelected || evt.keyCode === 13) {
								break;
							}
							return;
						case "SELECT":
							// Only enter key should work
							if (evt.keyCode === 13) {
								break;
							}
							return;
						// TODO: Add button support. I haven't figured out how to get keydown to work for that
						//
						//case "BUTTON":
						//case "A":
						//	// Enter key should do its normal thing
						//	if (evt.keyCode === 13) {
						//		return;
						//	}
						//	break;
						default:
							return;
					}

					// Determine next item based on key direction
					evt.preventDefault();
					let foundInput = null;
					const table = evt.target.closest("table");

					// TODO: Add button support (see above)
					//const selectors = "input, select, textarea, button, a";
					const selectors = "input, select, textarea";

					const rowOffset = this.bulkEditToggled ? 2 : 1;

					switch (direction) {
						case "up":
							for (let nextRowIndex = rowIndex - 1; nextRowIndex > -1; nextRowIndex--) {
								foundInput = table.rows[nextRowIndex + rowOffset].cells[colIndex].querySelector(selectors);
								if (foundInput) {
									break;
								}
							}
							break;
						case "down":
							for (let nextRowIndex = rowIndex + 1; nextRowIndex < rowCount; nextRowIndex++) {
								foundInput = table.rows[nextRowIndex + rowOffset].cells[colIndex].querySelector(selectors);
								if (foundInput) {
									break;
								}
							}
							break;
						case "left":
							for (let nextColumnIndex = colIndex - 1; nextColumnIndex > -1; nextColumnIndex--) {
								foundInput = table.rows[rowIndex + rowOffset].cells[nextColumnIndex].querySelector(selectors);
								if (foundInput) {
									break;
								}
							}
							break;
						case "right":
							for (let nextColumnIndex = colIndex + 1; nextColumnIndex < colCount; nextColumnIndex++) {
								foundInput = table.rows[rowIndex + rowOffset].cells[nextColumnIndex].querySelector(selectors);
								if (foundInput) {
									break;
								}
							}
							break;
						default:
							break;
					}
					if (foundInput) {
						foundInput.focus();
						foundInput.select();
					}
				};
			},
			toggleBulkEdit: function () {

			},
			nextPage: function () {
				this.local_paging.currentPage += 1;
			},
			previousPage: function () {
				this.local_paging.currentPage -= 1;
			},
			handle__currentPage: function (payload) {
				if (payload > this.filteredRows.length)
					this.local_paging.currentPage = 1;
			},
			handle__sortByColumn: function (direction, column) {
				this.annotatedColumns.forEach(column => column.sortOrder = "");
				column.sortOrder = direction;
				this.filteredRows.sort(dynamicSort(column.field, direction));
			},
			handle__filterByColumn: function (column) {
				_.remove(this.filters, function(x) {
					return x.field == column.field;
				});
				if(column.field && column.filterTerm)
					this.filters.push(column);
			}
		}
	};

	function dynamicSort(property, direction) {
		var sortOrder = 1;
		if (direction === "Desc") {
			sortOrder = -1;
		}
		return function (a, b) {
			/* next line works with strings and numbers,
			 * and you may want to customize it to your needs
			 */
			var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
			return result * sortOrder;
		}
	}
</script>


<style lang="scss" scoped>
	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	th {
		color: Colors.$blueLight;
		font-size: 1.15em;
		font-weight: bold;
		text-transform: uppercase;
	}

	th,
	td {
		padding: Spacing.$half;
	}

	td {
		vertical-align: top;
	}

	tr.glide-bulk-edit + tr {
		td {
			padding-top: Spacing.$full;
		}
	}

	table:not(.glide-zebra-stripe) {
		th:first-of-type,
		td:first-of-type {
			padding-left: 0;
		}

		th:last-of-type,
		td:last-of-type {
			padding-right: 0;
		}
	}

	table.glide-zebra-stripe {
		tr:nth-child(even) {
			background: #f9fafc;
			box-shadow: inset 0 10px 8px -8px #e7f0f3;
		}
	}

	tr.glide-bulk-edit {
		background: Colors.$editLight;

		td:first-of-type {
			border-bottom-left-radius: 6px;
			border-top-left-radius: 6px;
			padding: Spacing.$full;
		}

		td:last-of-type {
			border-bottom-right-radius: 6px;
			border-top-right-radius: 6px;
			padding: Spacing.$full;
		}
	}

	.glide-empty-table {
		font-style: italic;
		text-align: center;
	}

	.glide-full-width {
		width:100%;
	}

	.glide-paging-controls-container {
		width: 20%;
		display: flex;
	}

	.glide-paging-controls-item {
		flex: 1 1 auto;
	}

	.glide-paging-controls-item-enabled {
		cursor: pointer;
	}

	.glide-paging-controls-item-disabled {
		pointer-events: none;
		opacity: 0.4;
	}

	.glide-paging-controls-arrow {
		color: Colors.$blueLight;
	}

	.glide-paging-control-rpp {
		width: 10%;
	}

	.glide-sorting-controls-container {
		display: flex;
		flex-direction: row;
	}

	.glide-sorting-controls-item {
		flex: 1 1 auto;
	}

	.glide-sorting-controls-arrows-container {
		display: flex;
		flex-direction: column;
	}

	.glide-sorting-controls-arrows-active {
		color: Colors.$blueLight;
		font-size: larger;
	}

	.glide-sorting-controls-arrows {
		cursor: pointer;
	}

	.black-caret {
		color: black;
	}
</style>