﻿<template>
	<div>
		<table :id="grid.id"></table>
		<div :id="grid.id + '_pager'"></div>
	</div>
</template>
<script>
	export default {
		props: ['grid', 'customFilters'],
		data() {
			return {
			}
		},

		created: function () {
		},
		mounted: function () {
			var self = this;
			this.grid.colModel.forEach(function (obj) {
				if (obj.customformatter) {
					obj.formatter = eval('self.' + obj.customformatter);
				}
			});
			$('#' + self.gridId).jqGrid({
				url: jsPath + this.grid.url,
				datatype: 'json',
				mtype: 'POST',
				colNames: this.grid.colNames,
				colModel: this.grid.colModel,
				postData: { customFilters: JSON.stringify(this.customFilters) },
				viewrecords: true,
				headertitles: false,
				autowidth: true,
				toppager: true,
				gridview: true,
				altRows: true,
				rowNum: this.grid.rowNum ? this.grid.rowNum : 100,
				sortname: this.grid.sortname ? this.grid.sortname : '',
				sortorder: this.grid.sortorder ? this.grid.sortorder : 'asc',
				width: '100%',
				height: '100%',
				beforeRequest: function () {
					self.$emit('gridBeforeRequest');
				},
				gridComplete: function () {
					self.$emit('gridComplete');
				}
			}).navGrid('#' + this.grid.id + '_pager', {
				edit: false,
				add: false,
				del: false,
				search: false,
				position: 'left',
				cloneToTop: true
			});
			if (this.grid.searchtextbar) {
				$('#' + this.grid.id).jqGrid('filterToolbar', { defaultSearch: "cn" });
			};
		},
		methods: {
			cellReplace1: function (cellValue, options, rowObject) {
				return '<span class="hidden" id="CellReplace1_' + options.rowId + '" data-cellvalue="' + cellValue + '"></span>';
			},
			cellReplace2: function (cellValue, options, rowObject) {
				return '<span class="hidden" id="CellReplace2_' + options.rowId + '" data-cellvalue="' + cellValue + '"></span>';
			},
			cellReplace3: function (cellValue, options, rowObject) {
				return '<span class="hidden" id="CellReplace3_' + options.rowId + '" data-cellvalue="' + cellValue + '"></span>';
			},
			formatDate: function (cellValue, options, rowObject) {
				return cellValue ? moment(cellValue).format('l') : "";
			},
			formatDateTime: function (cellValue, options, rowObject) {
				return moment(cellValue).format('l LT');
			},
			buildColumns: function (columnName, contentFunction) {
				let grid = $('#' + this.gridId)
				let rowIds = grid.getDataIDs();
				rowIds.forEach(rowId => {
					grid.setCell(rowId, columnName, contentFunction(rowId));
				});
			},
		},
		computed: {
			gridId: {
				get: function () {
					return this.grid.id;
				},

			},
		},

	}
</script>