﻿<template>
	<div :id="id" class="col-sm-12 infinite-scroll" :style="{'max-height':maxheight}" @scroll="scroll">
		<slot name="scrollable-region"></slot>
	</div>
</template>
<script>
	export default {
		props: ['id', 'maxheight'],
		methods: {
			scroll: function () {
				let el = document.getElementById(this.id);
				let bottomOfWindow =
					el.offsetHeight + Math.ceil(el.scrollTop) >= el.scrollHeight;
				if (bottomOfWindow) {
					this.$emit('bottom');
				}
			},
		},
		mounted: function() {
			this.scroll();
		}
	}
</script>

<style>
	.infinite-scroll{
		overflow-y:scroll;
	}
</style>