﻿<style scoped>
	.info-block__container {
		margin: 10px;
	}

	#info-block section {
		border: 2px solid #0081DF;
	}

	.file-marker > div {
		padding: 5px;
		height: 100%;
		margin-top: -1.0em;
	}

	.box-title {
		background: white none repeat scroll 0 0;
		display: inline-block;
		padding: 0 2px;
		margin-left: 2em;
		color: #0081DF;
	}

	.content__container {
		padding: 10px;
	}
</style>
<template>
	<div class="info-block__container">
		<aside id="info-block">
			<section class="file-marker">
				<div>
					<div class="box-title">
						{{title}}
					</div>
					<div class="content__container">
						<slot></slot>
					</div>
				</div>
			</section>
		</aside>
	</div>
</template>
<script>

	export default {
		props: {
			title: {
				type: String
			}
		},
		components: {

		},
		data: function () {
			return {
			};
		},
		methods: {

		}
	}
</script>