﻿<template>
	<select class="form-control vue-select" :id="id" :name="name"></select>
</template>

<script>
	export default {
		props: ['id', 'name', 'value', 'lookupajax', 'lookuptextfield', 'filter', 'templatename'],
		mounted: function () {
			var self = this;
			var element = $(this.$el);
			var pageSize = 50;
			var lookupAjaxUrl = jsPath + 'LookupsAjax/' + this.lookupajax;
			var templateName = this.templatename ? window[this.templatename] : undefined;
			var optionAppend = new Option(this.lookuptextfield, this.value == null ? '' : this.value, true, true);

			element
				.select2({
					ajax: {
						url: lookupAjaxUrl,
						dataType: 'json',
						delay: 250,
						data: function (params) {
							params.page = params.page || 1;
							params.term = params.term || '';

							return {
								pageSize: pageSize,
								pageNum: params.page,
								searchTerm: params.term,
								filter: JSON.stringify(self.filter)
							};
						},
						processResults: function (data, params) {
							params.page = params.page || 1;

							return {
								results: data.Results,
								pagination: {
									more: (params.page * pageSize) < data.Total
								}
							};
						}
					},
					templateResult: templateName,
					templateSelection: templateName
				})
				.on('change', function () {
					self.$emit('input', this.value ? this.value : null);
					self.$emit('change', this.value ? this.value : null);
					self.$emit('updateLookupTextField', $('option:selected', self.$el).text(), this.value);
				})
				.append(optionAppend)
				.trigger('change');

			lockScrollbar(this.$el);
		},
		watch: {
			value: function (value) {
				var optionAppend = new Option(this.lookuptextfield, value, true, true);
				$(this.$el).empty().append(optionAppend).val(value).trigger('change');
			}
		},
		destroyed: function () {
			$(this.$el).off().select2('destroy');
		}
	}
</script>