﻿<template>
	<select class="form-control vue-select hidden" :id="id" :name="name" multiple="multiple" v-bind:disabled="disableLookup"></select> <!---->
</template>

<script>
	export default {
		props: ['id', 'name', 'value', 'options', 'lookupajax', 'filter', 'templatename', 'disableLookup'],//
		mounted: function () {
			var self = this;
			var element = $(this.$el);
			var pageSize = 50;
			var lookupAjaxUrl = jsPath + 'LookupsAjax/' + this.lookupajax;
			var templateName = this.templatename ? window[this.templatename] : undefined;
			var optionsAppend = this.mapOptions(this.options);

			element
				.select2({
					ajax: {
						url: lookupAjaxUrl,
						dataType: 'json',
						delay: 250,
						data: function (params) {
							params.page = params.page || 1;
							params.term = params.term || '';

							return {
								pageSize: pageSize,
								pageNum: params.page,
								searchTerm: params.term,
								filter: JSON.stringify(self.filter)
							};
						},
						processResults: function (data, params) {
							params.page = params.page || 1;

							return {
								results: data.Results,
								pagination: {
									more: (params.page * pageSize) < data.Total
								}
							};
						}
					},
					closeOnSelect: false,
					templateResult: templateName,
					templateSelection: templateName
				})
				.on('change', function () {
					self.$emit('input', element.val());
					self.$emit('change', element.val());
					var textOptions = [];
					element[0].options.forEach(x => {
						if (x.selected) {
							textOptions.push(x.text);
						}
					})
					self.$emit('textChange', textOptions);
				})
				.on('select2:select', function () {
					//console.log('select2:select');
					const searchField = $(this).next().find('.select2-search__field');
					if (searchField !== undefined) {
						searchField.val('');
					}
				})
				.append(optionsAppend)
				.trigger('change');

			lockScrollbar(this.$el);
		},
		watch: {
			value: function (value) {
				if (!this.arrayEqual(value, $(this.$el).val())) {
					$(this.$el).val(value).trigger('change');
				}
			},
			options: function (options) {
				var optionsAppend = this.mapOptions(options);
				$(this.$el).empty().append(optionsAppend).trigger('change');
			}
		},
		destroyed: function () {
			$(this.$el).off().select2('destroy');
		},
		methods: {
			arrayEqual: function (array1, array2) {
				if (array1 == null && array2 == null) {
					return true;
				}
				else if ((array1 == null && array2 != null) || (array1 != null && array2 == null)) {
					return false;
				}

				// need to clone arrays to prevent mutations that will update vue's watch in an infinite loop
				return array1.slice(0).sort().join(',') === array2.slice(0).sort().join(',');
			},
			mapOptions: function (options) {

				var optionsAppend = [];

				if (!options || options === null || options === undefined) {
					return optionsAppend;
				}

				for (var i = 0, l = options.length; i < l; i++) {
					var option = options[i];
					optionsAppend.push(new Option(option.text, option.value, option.selected, option.selected));
				}
				return optionsAppend;

			}
		}
	}
</script>