﻿<template>
	<div>
		<Modal v-if="showModal" @close="CloseModal">
			<template v-slot:header>
				<div class="row row-title">
					<h3>{{headerValue}}</h3>
				</div>
				<br />
				<div class="row">
					<div class="col-sm-10">
						<label class="control-label col-sm-2">Text Search:</label>
						<div class="col-sm-10">
							<input class="form-control" v-model="searchTerm" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10" v-if="filterObjects">
						<label class="control-label col-sm-2">Filters:</label>
						<div class="col-sm-10">
							<span v-for="filter in filterObjects">
								{{filter.name}}
								<input type="checkbox" v-model="filter.selected" />
							</span>
						</div>
					</div>
				</div>

			</template>
			<template v-slot:body>
				<div class="row">
					<label class="control-label col-sm-2">
						Selected Options:
					</label>
					<div class="col-sm-8" v-if="selectedValueSet.length == 0">
						None
					</div>
					<div class="col-sm-8" v-else>
						<table>
							<tr>
								<td class="pad-10" v-for="item in selectedValueSet.slice(0,3)">
									<div v-html="item"></div>
								</td>
								<td class="pad-10" v-if="selectedValueSet.length > 3">
									<div>and {{ selectedValueSet.length - 3 }} more...</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn" @click="DeselectAll">
							Clear Selected
						</button>
					</div>
				</div>
				<br />
				<InfiniteScroll class="row"
								:id="'options'"
								:maxheight="'40vh'"
								@bottom="HitEndpoint">
					<template v-slot:scrollable-region>
						<div v-for="option in optionSet">
							<div class="col-sm-4">
								<button type="button" @click="toggleSelectedState(option)" :class="'btn ' + setSelectedClass(option) + ' col-sm-12 modal-text-button'" v-html="option.textValue">
								</button>
							</div>
						</div>
						<div v-if="showLoading" class="col-sm-1">
							<i class="fas fa-spinner fa-pulse fa-2x"></i>
						</div>
					</template>
				</InfiniteScroll>
			</template>
		</Modal>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-11 custom-form-field">
					<LookupMultiple v-model="valueHolder"
									:id="id"
									:name="name"
									:options="options"
									:lookupajax="ajaxReference"
									:value="value"
									class="form-control"
									:templatename="templatename"
									@change="changeEvent">
					</LookupMultiple>
				</div>
				<button type="button" class="btn btn-primary col-sm-1" @click="OpenSelector"><i class="fas fa-window-maximize"></i></button>
			</div>
		</div>
	</div>
</template>
<script>
	import InfiniteScroll from '@/components/utility/InfiniteScroll.vue';
	import Modal from '@/components/utility/Modal.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';

	export default {
		props: ['id', 'name', 'value', 'options', 'textfield', 'filters', 'modalheader', 'lookupajax', 'templatename'],
		components: {
			InfiniteScroll,
			LookupMultiple,
			Modal
		},
		created: function() {
			if (this.filters) {
				this.filters.forEach(filter =>
					this.filterObjects.push({name:filter, selected:false})
				);
			}
		},
		computed: {
			optionSet: function () {
				return this.filteredOptions.length > 0 || this.searchTerm !== '' ? this.filteredOptions
					: this.modalOptions;
			},
			selectedValueSet: function () {
				return this.DistinctMergeOfArrays(this.initalSetHolder, this.modalOptions.filter(value => value.selected).map(option => option.value));
			},
			selectedValueDisplayString: function () {
				var result = '';
				if (this.selectedValueSet.length == 0) {
					return 'None';
				}
				if (this.selectedValueSet.length < 3) {
					result = this.selectedValueSet.join(', ');
				}
				else {
					result = this.selectedValueSet[0] + ', ' +
						this.selectedValueSet[1] + ' and ' +
						(this.selectedValueSet.length - 2) + ' more';
				}
				return result;
			},
			filteredOptions: function () {
				if (this.searchTerm === '') {
					return [];
				}
				else {
					return this.modalOptions.filter(option =>
						option.textValue.toLowerCase().includes(this.searchTerm.toLowerCase()
							|| option.value.toLowerCase().includes(this.searchTerm.toLowerCase())))
				}
			}
		},
		data: function () {
			return {
				ajaxReference: this.lookupajax,
				filterObjects: [],
				headerValue: this.modalheader != null && this.modalheader != undefined ? this.modalheader : 'Select Options:',
				initalSetHolder: [],
				modalOptions: this.options != null ? JSON.parse(JSON.stringify(this.options)) : null,
				pageSize: 75,
				scrollPage: 0,
				searchTerm: '',
				showLoading: false,
				showModal: false,
				textFilterOptions: [],		
				valueHolder: this.value != null ? JSON.parse(JSON.stringify(this.value)) : null,
			}
		},
		methods: {
			DistinctMergeOfArrays: function (...arrays) {
				let jointArray = [];
				arrays.forEach(array => {
					jointArray = [...jointArray, ...array]
				});

				const uniqueArray = jointArray.filter((item, index) =>
					jointArray.indexOf(item) === index);
				return uniqueArray;
			},
			CloseModal:function() {
				this.showModal = false;
				
				this.modalOptions = [];
				this.scrollPage = 0;
				
			},
			DeselectAll: function () {
				for (var i = 0; i < this.modalOptions.length; i++) {
					this.modalOptions[i].selected = false;
				}
			},
			HitEndpoint: function () {
				this.showLoading = true;
				var lookupAjaxUrl = 'LookupsAjax/' + this.lookupajax;
				this.scrollPage++;
				this.$http.get(lookupAjaxUrl, {
					params: {
						pageSize: this.pageSize,
						pageNum: this.scrollPage,
						searchTerm: ''
					}
				}).then(response => {
					if (response.data.Results) {
						for (var i = 0; i < response.data.Results.length; i++) {
							var currentObj = response.data.Results[i];
							if (currentObj.text !== '') {
								this.modalOptions.push({
									textValue: currentObj.text + '(' + currentObj.id + ')',
									text: currentObj.text,
									value: currentObj.id,
									selected: this.selectedValueSet.map(option => option).indexOf(currentObj.id) > -1
								});
								if (this.initalSetHolder.length > 0) {
									var findObject = this.initalSetHolder.filter(val => val == currentObj.id);
									if (findObject.length > 0) {
										var initialValueIndex = this.initalSetHolder.indexOf(findObject[0]);
										if (initialValueIndex > -1) {
											this.initalSetHolder.splice(initialValueIndex, 1);
										}
									}
								}
							}
						}
					}
					this.showLoading = false;
				});
			},
			OpenSelector: function () {
				this.initalSetHolder = JSON.parse(JSON.stringify(this.valueHolder)); //now a list of strings
				this.modalOptions = [];
				this.showModal = true;
				this.scrollPage = 0;
				this.HitEndpoint();
			},
			setSelectedClass: function (option) {
				if (option.value in this.valueHolder) {
					option.selected = true;
				}
				return option.selected ? 'btn-success' : 'btn-default' ;
			},
			toggleSelectedState: function (option) {
				option.selected = !option.selected;
				var selectedOptions = this.modalOptions.filter(option => option.selected);
				var returnIds = JSON.parse(JSON.stringify(selectedOptions.map(option => option.value)));
				this.$emit('emitSelectedValues', { value: JSON.parse(JSON.stringify(selectedOptions)), ids: returnIds });
			},
			changeEvent: function (newVal) {
				this.$emit('emitSelectedValues', { value: null, ids: JSON.parse(JSON.stringify(this.valueHolder)) });
			}
		},
		watch: {
			filteredOptions: function (value) {
				if (value != [] && this.searchTerm !== '') {
					this.HitEndpoint();
				}
			}
		}
	}
</script>
<style scoped>
	.custom-form-field {
		padding-left: 0px;
	}
	.modal-text-button{
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.infinite-scroll{
		max-height:40vh;
		overflow-y:scroll;
	}
	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}
	.pad-10{
		padding: 10px;
	}
</style>