﻿<template>
	<div class="modal-mask">
		<div class="modal-wrapper">
			<div class="modal-container" :style="width">
				<div class="modal-header">
					<slot name="header">
						default header
					</slot>
				</div>
				<div class="modal-body">
					<slot name="body">
						default body
					</slot>
				</div>
				<div class="modal-footer">
					<slot name="footer">
						<button type="button" class="btn modal-default-button" @click="$emit('close')">
							Close
						</button>
					</slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			modalContainerWidth: String
		},
		computed: {
			width: function () {
				let result = this.modalContainerWidth ? `width:${this.modalContainerWidth};` : `width:800px;`;
				return result;
			}
		}
	}
</script>

<style scoped>
	/*.select2-container--bootstrap.select2-container--open {
		z-index:99999;
	}*/
	.modal-mask {
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .3s ease;
	}

	.modal-wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	.modal-container {
		margin: 0px auto;
		padding: 20px 30px;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
		transition: all .3s ease;
		font-family: Helvetica, Arial, sans-serif;
		max-height: 80vh;
		overflow-y: auto;
	}

	.modal-header h3 {
		margin-top: 0;
		color: #42b983;
	}

	.modal-body {
		margin: 20px 0;
		overflow-y: auto;
	}

	.modal-default-button {
		float: right;
	}

	/*
	* The following styles are auto-applied to elements with
	* transition="modal" when their visibility is toggled
	* by Vue.js.
	*
	* You can easily play with the modal transition by editing
	* these styles.
	*/

	.modal-enter {
		opacity: 0;
	}

	.modal-leave-active {
		opacity: 0;
	}

		.modal-enter .modal-container,
		.modal-leave-active .modal-container {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
</style>