﻿<template>
	<header class="row row-title">
		<div class="col-sm-9">
			<h3>

				<!-- Usually the title can just be a property -->
				{{title}}

				<!-- For when you need to use filters in the title -->
				<slot name="title"></slot>

				<!-- Adds small text after the title -->
				<small v-if="context">{{context}}</small>
			</h3>
		</div>
		<div class="col-sm-3 form-buttons">
			<!-- Action buttons go inside component -->
			<slot></slot>
		</div>
	</header>
</template>



<script>
	export default {
		props: ['title', 'context']
	}
</script>