﻿<template>
	<div class="modal modal-wide" ref="SearchComponents" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						Search Components
						<button type="button" @click="$emit('close')" class="close pull-right" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>
				<div class="modal-body modal-body-tall">
					<form class="form-group form-group-sm">
						<div class="col-sm-2 padl0  padr0">
							<label>File Number</label>
							<Lookup :lookuptextfield="searchVM.fileNumber" v-model="searchVM.fileNumber" lookupajax="FileNumber" title="File Number" class="form-control form-control-sm"></Lookup>
						</div>
						<div class="col-sm-2 padl0 padr0">
							<label>ID Number</label>
							<input type="text" class="form-control" v-model="searchVM.idNumber" placeholder="ID Number">
						</div>
						<div class="form-group-sm col-sm-2 padl0 padr0">
							<label>Game Name</label>
							<input type="text" class="form-control" v-model="searchVM.gameName" placeholder="Game Name">
						</div>
						<div class="form-group-sm col-sm-2 padl0 padr0">
							<label>Version</label>
							<input type="text" class="form-control" v-model="searchVM.version" placeholder="Version">
						</div>
						<div class="form-group-sm col-sm-1">
							<br />
							<button type="button" class="btn btn-primary" @click="search">Search</button>
						</div>
					</form>
					<br />
					&nbsp;
					<hr />
					<div>
						<!--Search Results-->
						<table class="table table-sm form-group form-group-sm" style="padding-right:0px">
							<thead>
								<tr style="background-color:lightgrey">
									<th></th>
									<th>File Number</th>
									<th>ID Number</th>
									<th>Version</th>
									<th>Game Name</th>
									<th>Submit Date</th>
									<th>Receive Date</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(component, index) in searchResults">
									<td width="5px" class="padr0">
										<input type="checkbox" v-model="component.isSelected" />
									</td>
									<td width="130px" class="padr0">{{ component.fileNumber }}</td>
									<td width="130px" class="padr0">{{ component.idNumber }}</td>
									<td width="100px" class="padr0">{{ component.version }}</td>
									<td width="150px" class="padr0">{{ component.gameName }}</td>
									<td width="100px" class="padr0">{{ component.submitDate | formatDate }}</td>
									<td width="110px" class="padr0">{{ component.receiveDate | formatDate }} </td>
									<td width="100px" class="padr0">{{ component.status }} </td>
								</tr>
								<tr v-if="searchResults.length == 0 && currentlySearching == false">
									<td colspan="5"><font class="text-warning">No Items found.</font></td>
								</tr>
								<tr v-if="searchResults.length == 0 && currentlySearching == true">
									<td colspan="5"><font class="text-warning">Searching......</font></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary btn-sm" @click="select" data-dismiss="modal" aria-label="Close">Select</a>
					<a class="btn btn-primary btn-sm" @click="$emit('close')" data-dismiss="modal" aria-label="Close">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
		// API
	import api from '@/api/documents/generate';
	import Lookup from '@/components/utility/Lookup.vue';
	import { isNotNull } from '@/common';

	export default {
		name: 'SearchComponents',
		components: {
			Lookup
		},
		props: {
			showSearch: { type: Boolean, default: false }
		},
		data() {
			return {
				searchVM: {
					fileNumber: "",
					idNumber: "",
					version: "",
					gameName: ""
				},
				searchResults: {},
				currentlySearching: false
			}
		},
		computed: {
			
		},
		validations: {

		},
		methods: {
			search: function () {
				let self = this;

				if (Em(this.searchVM.fileNumber) && Em(this.searchVM.idNumber) && Em(this.searchVM.version) && Em(this.searchVM.gameName)) {
					bootbox.alert("You must select atleast one search criteria.");
					return false;
				}

				self.currentlySearching = true;
				Loading();
								
				let searchVM = JSON.stringify(this.searchVM);
				api.searchComponents(searchVM)
				.then(response => {
					let dbComps = JSON.parse(response.data);
					self.searchResults = dbComps;
					self.currentlySearching = false;
					DoneLoading();
				});
							
			},
			select: function (e) {
				if (isNotNull(this.searchResults) && this.searchResults.length > 0) {
					let allSelected = this.searchResults.filter(x => x.isSelected);
					if (allSelected.length > 0) {
						this.$emit('selected-components', allSelected);
						this.showSearch = false;
					}
				}
			},
		},
		created: function () {
		},
		mounted: function () {
			const refThis = this;
			$(this.$refs.SearchComponents).on('hidden.bs.modal', function (e) {
				refThis.$emit('reSetShowSearch', false);
			});
		},
		watch: {
			'showSearch': function (val, oldVal) {
				if (val) {
					$(this.$refs.SearchComponents).modal('show');
				}
				else {
					this.$emit('reSetShowSearch', false);
					$(this.$refs.SearchComponents).modal('hide');
				}
				
			}
		}
	}

</script>
<style scoped>
	.modal-body-tall {
		height: 450px;
		overflow-y: auto;
		font-size: 12px;
	}

	.modal.modal-wide .modal-dialog {
		width: 70%;
		height: auto;
	}
</style>