﻿<template>
	<div>
		<Modal v-if="showModal" @close="CloseModal">
			<template v-slot:header>
				<div class="row row-title">
					<h3>{{headerValue}}</h3>
				</div>
				<br />
				<div class="row">
					<div class="col-sm-10">
						<label class="control-label col-sm-2">Text Search</label>
						<div class="col-sm-10">
							<input class="form-control" v-model="searchTerm" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10" v-if="filterObjects">
						<label class="control-label col-sm-2">Filters:</label>
						<div class="col-sm-10">
							<span v-for="filter in filterObjects">
								{{filter.name}}
								<input type="checkbox" v-model="filter.selected" />
							</span>
						</div>
					</div>
				</div>

			</template>
			<template v-slot:body>
				<div class="row">
					<label class="control-label col-sm-2">
						Selected Options:
					</label>
					<div class="col-sm-8" v-if="selectedValueSet.length == 0">
						None
					</div>
					<div class="col-sm-8" v-else>
						<table>
							<tr>
								<td class="pad-10" v-for="item in selectedValueSet.slice(0,3)">
									<div v-html="item"></div>
								</td>
								<td class="pad-10" v-if="selectedValueSet.length > 3">
									<div>and {{ selectedValueSet.length - 3 }} more...</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-2">
						<button class="btn" @click="DeselectAll">
							Clear Selected
						</button>
					</div>
				</div>
				<div v-for="option in optionSet">
					<div class="col-sm-2">
						<button @click="toggleSelectedState(option)" :class="'btn ' + setSelectedClass(option)">
							{{option.text}}
						</button>
					</div>
				</div>
			</template>
		</Modal>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-11 custom-form-field">
					<SelectStandardMultiple v-model="valueHolder"
											:options="options"
											:textfield="textfield"
											class="form-control"
											@input="changeEvent"
											:disabled="disabled">
					</SelectStandardMultiple>
				</div>
				<button class="btn btn-primary col-sm-1" @click="OpenSelector" :disabled="disabled"><i class="fas fa-window-maximize"></i></button>
			</div>
		</div>
	</div>
</template>
<script>
	import Modal from '@/components/utility/Modal.vue';
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue';

	export default {
		props: ['id', 'name', 'value', 'options', 'textfield', 'filters', 'modalheader', 'disabled'],
		components: {
			Modal,
			SelectStandardMultiple
		},
		created: function () {
			if (this.filters) {
				this.filters.forEach(filter =>
					this.filterObjects.push({ name: filter, selected: false })
				);
			}
		},
		computed: {
			optionSet: function () {
				return this.filteredOptions.length > 0 ? this.filteredOptions : this.initialSetHolder;
			},
			selectedValueSet: function () {
				return this.initialSetHolder.filter(option => option.selected).map(x => x.text);
			},
			filteredOptions: function () {
				if (this.searchTerm === '') {
					return [];
				}
				else {
					return this.options.filter(option =>
						option.text.toLowerCase().includes(this.searchTerm.toLowerCase()
							|| option.value.toLowerCase().includes(this.searchTerm.toLowerCase())))
				}
			}
		},
		data: function () {
			return {
				filterObjects: [],
				headerValue: this.modalheader != null && this.modalheader != undefined ? this.modalheader : 'Select Options:',
				showModal: false,
				searchTerm: '',
				valueHolder: this.value,
				initialSetHolder: JSON.parse(JSON.stringify(this.options))
			}
		},
		methods: {
			CloseModal: function () {
				this.showModal = false;
			},
			DeselectAll: function () {
				this.valueHolder = [];
				for (var i = 0; i < this.options.length; i++) {
					this.options[i].selected = false;
				}
			},
			OpenSelector: function () {
				this.showModal = true;
				if (this.value != null) {
					for (var i = 0; i < this.initialSetHolder.length; i++) {
						if (this.value.indexOf(this.initialSetHolder[i].value) > -1) {
							this.initialSetHolder[i].selected = true;
						} else {
							this.initialSetHolder[i].selected = false;
						}
					}
				}
			},
			toggleSelectedState: function (option) {
				option.selected = !option.selected;
				var selectedOptions = this.initialSetHolder.filter(option => option.selected)
				this.valueHolder = this.value;
				var returnIds = JSON.parse(JSON.stringify(selectedOptions.map(option => option.value)));
				this.$emit('emitSelectedValues', { value: JSON.parse(JSON.stringify(selectedOptions)), ids: returnIds });
			},
			setSelectedClass: function (option) {
				if (this.valueHolder.indexOf(option.value) > -1) {
					option.selected = true;
				}
				return option.selected ? 'btn-success' : 'btn-default';
			},
			changeEvent: function (value) {
				this.$emit('emitSelectedValues', { value: null, ids: JSON.parse(JSON.stringify(this.valueHolder)) });
			}
		},
		watch: {
			value: function (newVal) {
				if (newVal) {
					this.valueHolder = newVal;
				}
			}
		}
	}
</script>
<style scoped>
	.custom-form-field {
		padding-left: 0px;
	}

	.pad-10 {
		padding: 10px;
	}
</style>
