﻿<template>
	<select class="form-control vue-select hidden" :id="id" :name="name" multiple="multiple" style="width:100%;"></select>
</template>

<script>
	export default {
		props: ['id', 'name', 'value', 'options', 'textfield'],
		mounted: function () {
			var self = this;
			var element = $(this.$el);
			var optionsAppend = this.mapOptions(this.options);

			element
				.select2()
				.on('change', function () {
					self.$emit('input', element.val());
				})
				.append(optionsAppend)
				.trigger('change');

			lockScrollbar(this.$el);
		},
		watch: {
			value: function (value) {
				if (!this.arrayEqual(value, $(this.$el).val())) {
					$(this.$el).val(value).trigger('change');
				}
			},
			options: function (options) {
				var optionsAppend = this.mapOptions(options);
				$(this.$el).empty().append(optionsAppend).trigger('change');
			}
		},
		destroyed: function () {
			$(this.$el).off().select2('destroy');
		},
		methods: {
			arrayEqual: function (array1, array2) {
				if (array1 == null && array2 == null) {
					return true;
				}
				else if ((array1 == null && array2 != null) || (array1 != null && array2 == null)) {
					return false;
				}

				// need to clone arrays to prevent mutations that will update vue's watch in an infinite loop
				return array1.slice(0).sort().join(',') === array2.slice(0).sort().join(',');
			},
			mapOptions: function (options) {
				var optionsAppend = [];
				for (var i = 0, l = options.length; i < l; i++) {
					var option = options[i];
					optionsAppend.push(new Option(option.text, option.value, option.selected, option.selected));
				}
				return optionsAppend;
			}
		}
	}
</script>