﻿<template>
	<select :disabled="disable" class="form-control vue-select" :id="id" :name="name" v-model="value"></select>
</template>

<script>
	export default {
		props: ['id', 'name', 'value', 'options', 'textfield', 'disable'],
		mounted: function () {
			var self = this;
			var optionsAppend = this.mapOptions(this.options);

			$(this.$el)
				.select2()
				.append(optionsAppend)
				.val(this.value)
				.on('change', function () {
					self.$emit('input', this.value ? this.value : null);
					self.$emit('change', this.value ? this.value : null);
					self.$emit('updateTextField', $('option:selected', self.$el).text());
				})
				.trigger('change');

			lockScrollbar(this.$el);
		},
		watch: {
			value: function (value) {
				$(this.$el).val(value).trigger('change');
			},
			options: function (options) {
				var optionsAppend = this.mapOptions(options);
				$(this.$el).empty().append(optionsAppend).val(this.value).trigger('change');
			}
		},
		destroyed: function () {
			$(this.$el).off().select2('destroy');
		},
		methods: {
			mapOptions: function (options) {
				var optionsAppend = [];
				for (var i = 0; i < options.length; i++) {
					var option = options[i];
					optionsAppend.push(new Option(option.text, option.value));
				}
				return optionsAppend;
			}
		}
	}
</script>