﻿<template>
	<select class="form-control vue-select" :id="id" :name="name" v-model="value" multiple="multiple"></select>
</template>

<script>
	export default {
		props: ['id', 'name', 'value', 'options', 'textfield'],
		mounted: function () {
			var self = this;
			var optionsAppend = this.mapOptions(this.options);

			$(this.$el)
				.select2({
					closeOnSelect: false
				})
				.append(optionsAppend)
				.val(this.value)
				.on('change', function () {
					self.$emit('input', $(this).val());
					self.$emit('change', $(this).val());
				})
				.on('select2:select', function () {
					const searchField = $(this).next().find('.select2-search__field');
					if (searchField !== undefined) {
						searchField.val('');
					}
				})
				.trigger('change');

			lockScrollbar(this.$el);
		},
		watch: {
			value: function (value) {
				if (!this.arrayEqual(value, $(this.$el).val())) {
					$(this.$el).val(value).trigger('change');
				}
			},
			options: function (options) {
				var optionsAppend = this.mapOptions(options);
				$(this.$el).empty().append(optionsAppend).val(this.value).trigger('change');
			}
		},
		destroyed: function () {
			try {
				$(this.$el).off().select2('destroy');
			} catch (exception) {
				console.log(exception);
			}
		},
		methods: {
			arrayEqual: function (array1, array2) {
				if (array1 == null && array2 == null) {
					return true;
				}
				else if ((array1 == null && array2 != null) || (array1 != null && array2 == null)) {
					return false;
				}

				// need to clone arrays to prevent mutations that will update vue's watch in an infinite loop
				return array1.slice(0).sort().join(',') === array2.slice(0).sort().join(',');
			},
			mapOptions: function (options) {
				var optionsAppend = [];
				for (var i = 0; i < options.length; i++) {
					var option = options[i];
					optionsAppend.push(new Option(option.text, option.value));
				}
				return optionsAppend;
			}
		}
	}
</script>