﻿<template>
	<div class="panel panel-default">
		<div class="panel-heading"><strong>ServiceNow incident submission form</strong></div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-2">
							Issue Type*
						</label>
						<div class="col-sm-2">
							<SelectStandard id="IssueType"
											name="IssueType"
											v-model="issueType"
											:options="issueTypes">
							</SelectStandard>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">
							Description*
						</label>
						<div class="col-sm-9">
							<textarea v-model="description" cols="70" rows="5" />
						</div>
					</div>
					<div v-if="issueType==='BugReport'" class="form-group">
						<label class="control-label col-sm-2">
							Link
						</label>
						<div class="col-sm-4">
							<input type="text" v-model="link" size="40" />
						</div>
					</div>
					<div v-if="issueType==='BugReport'" class="form-group">
						<label class="control-label col-sm-2">
							File Number
						</label>
						<div class="col-sm-4">
							<input type="text" v-model="fileNumber" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">
							Attachment(s)
						</label>
						<div class="col-sm-4">
							<button @click="addFiles" class="btn btn-sm btn-primary">Add Attachment(s)</button>
						</div>
					</div>
					<div class="form-group">
						<div v-for="(file, key) in files">
							<span class="col-sm-offset-2 col-sm-10">
								{{ file.name }} &ensp;<i id="delete-icon" class="fas fa-times" v-on:click="removeFile( key )" /> 
							</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-1">
							<button ref="submitButton" v-on:click="submit()" class="btn btn-sm btn-primary">Submit</button>
						</div>
					</div>
				</div>
				<input type="file" id="files" ref="files" multiple v-on:change="updateFiles()" />
			</div>
		</div>
</template>

<script>
	import axios from "axios"
	import SelectStandard from '@/components/utility/SelectStandard.vue';

	export default {
		components: {
			SelectStandard
		},
		props: {
			applicationId: {
				required: true,
				type: String
			},
			baseUrl: {
				required: true,
				type: String
			},
			userName: {
				required: true,
				type: String
			}
		},
		data() {
			return {
				attachmentAllowedFileExtension: ['bmp', 'jpg', 'jpeg', 'mp4', 'png', 'txt', 'wmv', 'zip'],
				attachmentMaxAllowed: 7,
				attachmentMaxSize: 5000000,
				files: [],
				description: '',
				fileNumber: '',
				link: '',
				issueType: 'NewFeature',
				issueTypes: [
					{ text: "New Feature", value: "NewFeature" },
					{ text: "Bug Report", value: "BugReport" }
				]
			}
		},
		methods: {
			addFiles() {
				this.$refs.files.click();
			},
			disableSubmit(disabled) {
				const button = this.$refs.submitButton;
				if (disabled) {
					button.disabled = true;
				} else {
					button.disabled = false;
				}
			},
			getUrl() {
				let url = this.baseUrl;
				if (this.issueType === 'NewFeature') {
					url += '/api/ServiceNow/RequestNewFeature';
				} else {
					url += '/api/ServiceNow/ReportBug';
				}
				return url;
			},
			removeFile(key) {
				this.files.splice(key, 1);
			},
			sendRequest(formData) {
				axios.post(this.getUrl(), formData, {
						headers: {
							'Content-Type': 'multipart/form-data'
						}
					}).then(function (response) {
						bootbox.alert("Incident created, ref: " + response.data);
					}).catch(function (e) {
						bootbox.alert("An error occurred, please use the ServiceNow portal")
					}).finally(() => {
						this.disableSubmit(false);
					});
			},
			submit() {
				this.disableSubmit(true);
				if (!this.validateInput()) {
					this.disableSubmit(false);
					return;
				}
				const formData = new FormData();
				formData.append('Description', this.description);
				formData.append('FileNumber', this.fileNumber);
				formData.append('Link', this.link);
				formData.append('Username', this.userName);
				formData.append('ApplicationId', this.applicationId);

				for (var i = 0; i < this.files.length; i++) {
					formData.append(this.files[i].name, this.files[i]);
				}
				this.sendRequest(formData);
				bootbox.alert("Sending, please wait");
			},
			updateFiles() {
				const uploadedFiles = this.$refs.files.files;
				if (!this.validateFileQuantity(uploadedFiles.length)) {
					bootbox.alert('No more than ' + this.attachmentMaxAllowed + ' attachments allowed');
					return;
				}
				for (var i = 0; i < uploadedFiles.length; i++) {
					const fileExtension = uploadedFiles[i].name.split('.').pop();
					if (!this.validateFileSize(uploadedFiles[i].size)) {
						bootbox.alert('Attachment may not exceed ' + this.attachmentMaxSize / 1000 + ' KBs in size');
						break;
					} else if (!this.validateFileType(fileExtension)) {
						bootbox.alert('File type of ' + uploadedFiles[i].name + ' not supported. Supported extensions: ' + this.attachmentAllowedFileExtension.join(','));
						break;
					}
					this.files.push(uploadedFiles[i]);
				}
			},
			validateFileQuantity(noOfFiles) {
				return noOfFiles <= this.attachmentMaxAllowed
			},
			validateFileSize(size) {
				return size <= this.attachmentMaxSize;
			},
			validateFileType(fileName) {
				return this.attachmentAllowedFileExtension.includes(fileName);
			},
			validateInput() {
				if (!this.issueType) {
					bootbox.alert("Please select an Issue Type");
					return false;
				} else if (!this.description) {
					bootbox.alert("Please provide a description");
					return false;
				}
				return true;
			}
		},
		watch: {
			issueType: function () {
				this.fileNumber = '';
				this.link = '';
			}
		}
	}
</script>

<style>
	input[type="file"] {
		display: none;
	}
	textarea {
		resize: none;
	}
	#delete-icon {
		cursor: pointer;
	}
</style>