﻿
<style scoped>
	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 24px;
	}

		/* Hide default HTML checkbox */
		.switch input {
			opacity: 0;
			width: 0;
			height: 0;
		}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

		.slider:before {
			position: absolute;
			content: "";
			height: 19px;
			width: 19px;
			left: 3px;
			bottom: 3px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}

	input:checked + .slider {
		background-color: #449d44;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #449d44;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

		.slider.round:before {
			border-radius: 50%;
		}
</style>

<template>
	<label class="switch">
		<input type="checkbox" @click="toggle" v-model="isEnabled" />
		<span class="slider round"></span>
	</label>
</template>

<script>
	export default {
		model: {
			event: "toggle"
		},
		props: {
			isEnabled: { type: Boolean, required: true }
		},
		created: function () {

		},
		methods: {
			toggle: function () {
				this.$emit("toggle", !this.isEnabled);
			}
		}
	}

</script>
