﻿<template>
	<!--https://github.com/tower1229/Vue-Tree-Chart modified from this git repo
		Original Author: tower1229
		Modified by: Robert Schreiner GLI
		-->
	<table v-if="treeData.name">
		<tr>
			<td :colspan="((treeData.children) ? (treeData.children.length * 2) : 1)" :class="{parentLevel: treeData.children, extend: treeData.children && treeData.extend}">
				<div :class="{node: true, hasMate: treeData.mate}">
					<div class="person">
						<div v-if="treeData.canToggle" v-on:dblclick="nodeClicked(treeData)" aria-labelledby="Double Click to Toggle" class="cursor-pointer">
							<div v-if="toggleClause && treeData.canToggle" :class="'name ' + treeData.classType + ' ' + treeData.visibleClass">
								<div v-bind:class="{ hidden: clauseInfo !== null }" class="text-center loading-spinner loading-spinner-mini">
									<i class="fa fa-spinner fa-pulse fa-2x"></i>
								</div>
								<table v-show="clauseInfo !== null" class="question-content-table" v-for="(cl, key) in clauseInfo" :key="treeData.questionId+key+'_'+cl.clauseNormalizedID+'_'+cl.documentName">
									<tr>
										<th> Section </th>
										<th> Section Name </th>
										<th> Jurisdictions </th>
										<th> Document Name </th>
										<th> Normalized ID </th>
									</tr>
									<tr >
										<td>{{ cl.section}}</td>
										<td>{{ cl.sectionName}}</td>
										<td>{{ cl.jurisList}}</td>
										<td>{{ cl.documentName}} {{ cl.documentVersion}}</td>
										<td>{{ cl.clauseNormalizedID }}</td>
									</tr>
									<tr>
										<th colspan="5"> Memos </th>
									</tr>
									<tr>
										<td colspan="5">{{ cl.memo}}</td>
									</tr>
									<tr>
										<th colspan="5"> Notes </th>
									</tr>
									<tr>
										<td colspan="5">{{ cl.notes}}</td>
									</tr>
								</table>
							</div>
							<div v-else :class="'name ' + treeData.classType +' ' + treeData.visibleClass" v-html="treeData.name">{{treeData.name}}</div>
						</div>
						<div v-else :class="'name ' + treeData.classType +' ' + treeData.visibleClass" v-html="treeData.name">{{treeData.name}}</div>

					</div>
				</div>
				<div class="extend_handle" v-if="treeData.children" @click="toggleExtend(treeData)">
					<i v-if="treeData.extend" class="fa fa-lg fa-minus-square-o cursor-pointer" aria-hidden="true"></i>
					<i v-else class="fa fa-lg fa-plus-square-o cursor-pointer" aria-hidden="true"></i>
				</div>
			</td>
		</tr>
		<tr v-show="treeData.children && treeData.extend">
			<td v-for="(children, index) in treeData.children" :key="index" colspan="2" class="childLevel">
				<TreeChart :json="children" @click-node="$emit('click-node', $event)" />
			</td>
		</tr>
	</table>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {

		name: "TreeChart",
		props: ["json", "reset"],
		data() {
			return {
				clauseInfo: null,
				currentQuestionId: null,
				toggleClause: false,
				treeData: {}
			}
		},
		computed: {
			...mapGetters([
				'review',
				'instance',
				'filter',
			])
		},
		watch: {
			json: {
				handler: function (Props) {
					let extendKey = function (jsonData) {
						jsonData.extend = (jsonData.extend === void 0 ? true : !!jsonData.extend);
						if (Array.isArray(jsonData.children)) {
							jsonData.children.forEach(c => {
								extendKey(c)
							})
						}
						return jsonData;
					}
					if (Props) {
						this.treeData = extendKey(Props);
					}
				},
				immediate: true
			}
		},
		methods: {
			nodeClicked: function (treeData) {
				//this.$emit('click-node', treeData);
				var self = this;

				if (!this.toggleClause) {
					var result = this.review.testScript.reviewViewModel.filter(ts => {
						return ts.id === treeData.questionId
					});
					var index = this.review.testScript.reviewViewModel.findIndex(ts => {
						return ts.id === treeData.questionId
					});

					if (result.length === 1 && result[0].clauseInfo != null) {
						this.clauseInfo = result[0].clauseInfo;
					}
					else if (this.clauseInfo === null || this.clauseInfo.length === 0) {
						var juriIds = this.filter.jurisdictionFilter.jurisdictionIdsFilter.join().toString();
						this.$http.post('Evolution/Review/LoadClauseForJurisdictionsAndQuestion', {
							componentGroupId: this.instance.selectedComponentGroupId,
							jurisdictionId: juriIds,
							question: treeData.questionId
						})
							.then(response => {
								self.clauseInfo = response.data;
								//self.review.testScript.testScript[index].clauseInfo = response.data;
								result[0].clauseInfo = response.data;
							})
					}
				}
				this.toggleClause = !this.toggleClause;
			},
			toggleExtend: function (treeData) {
				treeData.extend = !treeData.extend;
				this.$forceUpdate();
			}
		}
	}
</script>
<style scoped>
	.question-content-table {
		background-color: floralwhite;
		border: 1px solid black;
	}

		.question-content-table table {
			border: 1px solid black;
		}

		.question-content-table th {
			background-color: navajowhite;
			font-size: small;
			text-align: center;
			border: 1px solid black;
		}

		.question-content-table td {
			border: 1px solid black;
		}

	table {
		border-collapse: separate !important;
		border-spacing: 0 !important;
	}

	td {
		position: relative;
		vertical-align: top;
		padding: 0 0 20px 0;
		text-align: center;
	}

	.extend_handle {
		margin: 0px 48% 0px 48%;
		cursor: pointer;
	}

	.childLevel::before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 100%;
		height: 15px;
		border-left: 2px solid #ccc;
		transform: translate3d(-1px,0,0)
	}

	.childLevel::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: -15px;
		border-top: 2px solid #ccc;
	}

	.childLevel:first-child:before, .childLevel:last-child:before {
		display: none;
	}

	.childLevel:first-child:after {
		left: 50%;
		height: 15px;
		border: 2px solid;
		border-color: #ccc transparent transparent #ccc;
		border-radius: 6px 0 0 0;
		transform: translate3d(1px,0,0)
	}

	.childLevel:last-child:after {
		right: 50%;
		height: 15px;
		border: 2px solid;
		border-color: #ccc #ccc transparent transparent;
		border-radius: 0 6px 0 0;
		transform: translate3d(-1px,0,0)
	}

	.childLevel:first-child.childLevel:last-child::after {
		left: auto;
		border-radius: 0;
		border-color: transparent #ccc transparent transparent;
		transform: translate3d(1px,0,0)
	}

	.node {
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		text-align: center;
	}

		.node .person {
			position: relative;
			display: inline-block;
			z-index: 2;
			overflow: hidden;
		}

			.node .person .name {
				line-height: 1em;
			}
</style>
