﻿@{
	ViewBag.Title = "Test Case Manager Home";

}

<div class="row row-title hidden-print">
	<div class="col-sm-6">
		<h3 style="margin:0px 50px">@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
	</div>
</div>
<div id="app"></div>

@section scripts{
	<script>
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}