﻿@model Submissions.Web.Areas.Lookups.Models.TeamsIndexViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Teams";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "Tools" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

@Html.Trirand().JQGrid(Model.TeamsGrid.Grid, Model.TeamsGrid.Grid.ID)

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		function editLink(cellValue, options, rowObject) {

			var url = '';

			url += '<a href="' + '@Url.Action("Edit", "Teams")' + '/' + options.rowId + '?mode=Edit">Edit</a> <span class="text-normal">|</span> ' +
				'<a href="' + '@Url.Action("CheckDelete", "Teams")' + '/' + options.rowId + '" class="CheckDelete" id="' + options.rowId + '">Delete</a>';

			return url;
		}
	</script>
}