﻿@model Submissions.Web.Areas.Lookups.Models.SpecializedTypeIndexViewModel
@{
	ViewBag.Title = "Specialized Types";
}
<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		var deleteUrl = '@Url.Action("Delete", "SpecializedType")';
		var editUrl = '@Url.Action("Edit", "SpecializedType")';
	</script>
	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}
