﻿@model Submissions.Web.Models.Dashboard.DashboardEditViewModel

@{
	if (Model.Mode == Mode.Add)
	{
		ViewBag.Title = Mode.Add.ToString() + " Dashboard";
		ViewBag.BtnMsg = "Add";
	}
	else
	{
		ViewBag.Title = Mode.Edit.ToString() + " Dashboard - " + Model.Name;
		ViewBag.BtnMsg = "Save";
	}
}

@using (Html.BeginForm("Edit", "Dashboard", FormMethod.Post, new { id = "DashboardEditForm" }))
{
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="pull-right">
					<button type="button" class="DlgSaveBtn btn btn-primary">@ViewBag.BtnMsg</button>
					@if (Model.Mode == Mode.Edit)
					{
						<button type="button" class="DlgDeleteBtn btn btn-primary">Delete</button>
					}
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				</div>
				<h4 class="modal-title">@ViewBag.Title</h4>
			</div>

			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-3" })
						<div class="col-sm-4">
							@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Name)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-3" })
						<div class="col-sm-4">
							@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Description)
						</div>
					</div>
					@if (Model.Mode == Mode.Add)
					{
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.CloneCurrent, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								<div class="checkbox">
									<label>@Html.CheckBoxFor(m => m.CloneCurrent)</label>
								</div>
							</div>
						</div>
					}
				</div>
			</div>

			<div class="modal-footer">
				<div style="font-size:0;">
					<div class="pull-right">
						<button type="button" class="DlgSaveBtn btn btn-primary">@ViewBag.BtnMsg</button>
						@if (Model.Mode == Mode.Edit)
						{
							<button type="button" class="DlgDeleteBtn btn btn-primary">Delete</button>
						}
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<script>
	$(function () {
		var form = $('#DashboardEditForm');
		var modalDlg = $('#EditDashboardModal');

		$('.DlgDeleteBtn').on('click', function () {
			bootbox.confirm('Are you sure you want to Delete this dashboard?', function (result) {
				if (result) {
					modalDlg.modal('hide');
					form.attr('action', jsPath + 'Dashboard/Delete');
					form.submit();
				}
			});
		});

		$('.DlgSaveBtn').on('click', function () {
			if (!form.valid()) {
				return false;
			}

			form.submit();
		});
	});
</script>