﻿@model Submissions.Web.Models.Dashboard.DashboardIndexViewModel

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	@Styles.Render("~/bundles/css/widget")
	@Styles.Render("~/bundles/css/chart")
	@Styles.Render("~/bundles/css/colorpicker")
	<style>
		.widgetBorder {
			border: 1px solid #d9d7d7;
			border-radius: 4px;
		}

		.ui-jqgrid tr.jqgrow td {
			white-space: normal;
			vertical-align: top;
		}
	</style>
}

@{
	ViewBag.Title = "Dashboard";
	ViewBag.FullWidth = true;
	var dashboardChooseDisabled = Model.Dashboards.Count == 0 ? "disabled" : "";
}

@functions
{
	public string panelStyle(string startColor, string endColor)
	{
		if (string.IsNullOrEmpty(endColor))
		{
			return "";
		}

		return "background-color: " + endColor;
	}
}

<form id="DashboardQuickListForm" method="post">
	<div class="form-horizontal" style="padding-bottom:10px;">
		<div class="row">
			<div class="col-sm-11 text-right">
				<div class="dropdown">
					<button id="DashboardDropDown" class="btn btn-default btn-sm dropdown-toggle" @dashboardChooseDisabled style="border:none;" type="button" data-toggle="dropdown"><strong style="color:#686868;">@Model.DefaultDashboard</strong> <span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
						@foreach (var dashboard in @Model.Dashboards)
						{
							<li><a href="#" class="ChooseDashboardBtn" data-id="@dashboard.Value">@dashboard.Text</a></li>
						}
					</ul>
				</div>
			</div>
			<div class="col-sm-1 padl0">
				<div class="dropdown">
					<button id="DashboardOptionsDropDown" class="btn btn-primary btn-sm dropdown-toggle" style="border:none;" type="button" data-toggle="dropdown"><span><i class="fas fa-cog fa-fw"></i> Tools</span> <span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#" id="AddWidgetBtn">Add Widget</a></li>
						<li class="divider"></li>
						<li><a href="#" id="GalleryBtn">Widget Gallery</a></li>
						<li class="divider"></li>
						<li><a href="#" class="EditDashboardBtn" data-mode="@Mode.Add.ToString()">Add Dashboard</a></li>
						@if (Model.DefaultDashboard != "Default Dashboard")
						{
							<li><a href="#" class="EditDashboardBtn" data-mode="@Mode.Edit.ToString()">Edit Dashboard</a></li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</form>

@using (Html.BeginForm("ChartSearch", "Widget", FormMethod.Post, new { id = "ChartForm", target = "_blank" }))
{
	@Html.Hidden("ChartWidgetId")
	@Html.Hidden("ChartJurisdictionStatus")
	@Html.Hidden("ChartJuriOrManuf")
}

@using (Html.BeginForm("Index", "Dashboard", FormMethod.Post, new { id = "DashboardForm" }))
{
	@Html.Hidden("DefaultDashboardId")
}

@using (Html.BeginForm("Export", "Widget", FormMethod.Post, new { id = "ExportForm" }))
{
	@Html.Hidden("WidgetId")
	@Html.Hidden("ExportType")
	@Html.Hidden("FiltersToolbar")
}

<div class="gridster">
	<ul id="Dashboard" class="list-unstyled" style="margin:0;">
		@foreach (var widget in Model.Widgets)
		{
			<li data-widgetid="@widget.Id" data-row="@widget.Position.Row" data-col="@widget.Position.Col" data-sizex="@widget.Position.Size_X" data-sizey="@widget.Position.Size_Y" class="widgetBorder">
				<header style="@panelStyle(widget.StartColor, widget.Color)">
					<span id="WidgetTitle@(widget.Id)">@(widget.Title)</span>&nbsp;<span class="pull-right"><i class="fas fa-cogs" title="Edit"></i><i class="far fa-window-maximize" title="Maximize"></i></span>
				</header>
				<div class="widget-content" data-url="@widget.Url">
					<i class="fas fa-spinner fa-spin"></i> Loading
				</div>
				@if (widget.ToolbarSearch)
				{
					Html.RenderPartial("GridsAutoComplete/_" + widget.DataSource.ToString(), new ViewDataDictionary { { "WidgetId", widget.Id } });
				}
			</li>
		}
	</ul>
</div>

@*<div class="modal" id="LettersModal" data-url='@Url.Action("Detail", "Letter", new { area = "" })' tabindex="-1" role="dialog" aria-hidden="true"></div>*@
<div class="modal" id="EditDashboardModal" data-url='@Url.Action("Edit", "Dashboard")' tabindex="-1" role="dialog" aria-hidden="true"></div>
<div class="modal" id="ChooseWidgetTypeModal" data-url='@Url.Action("ChooseType", "Widget")' tabindex="-1" role="dialog" aria-hidden="true"></div>
<div class="modal" id="EditWidgetModal" data-url='@Url.Action("Edit", "Widget")' tabindex="-1" role="dialog" aria-hidden="true"></div>
<div class="modal" id="MaximizeWidgetModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" style="width:98%;height:90%;margin-top:10px;">
		<div class="modal-content">
			<div class="modal-header" style="border-bottom:none;height:40px;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">&nbsp;</h4>
			</div>
			<div class="modal-body" style="margin:0;padding:0;">
			</div>
		</div>
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/widget")
	@Scripts.Render("~/bundles/script/chart")
	@Scripts.Render("~/bundles/script/colorpicker")
}
