﻿<template>
	<div class="container-fluid">
		<div class="letter-generation__section-card">
			<base-field-labels title="Component/Mod Description Maintenance Page" help-text="Component/Mod Descriptions are maintained in their own interface outside of the letter generation interface.">
				<base-button @click="handle__openDescriptionInterFace" :is-primary="true">Component/Mod Descriptions</base-button>
			</base-field-labels>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters: letterGetters } = createNamespacedHelpers('letter');

	export default {
		components: {

		},
		data: function () {
			return {
			}
		},
		methods: {
			handle__openDescriptionInterFace: function () {
				window.open(this.linkToGameDescriptions);
			}
		},
		computed: {
			linkToGameDescriptions: function () {
				return `${jsPath}documents/gameDescription?projectId=${this.projectId}&projectName=${this.bundleName}&type=ComponentDescription`;
			},
			...letterGetters([
				'bundleName',
				'projectId'
			]),
		}
	}
</script>
<style>
</style>