﻿@model Submissions.Web.Areas.Protrack.Models.Project.CreateADDCORBundleVM
@{
	ViewBag.Title = "Create New Correction/Addendum Bundles";
}
@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
	</style>
}
@(Html.Trirand().JQDatePicker(
							new JQDatePicker
							{
								DisplayMode = DatePickerDisplayMode.ControlEditor,
								DateFormat = "mm/dd/yyyy",
								ShowOn = ShowOn.Focus,
							}, "DatePicker")
)
@using (Html.BeginForm("Assign", "CreateAddCORBundle", FormMethod.Post, new { vm = Model, Id = "BundleForm" }))
{
	@Html.HiddenFor(m => m.Filters.Status)
	@Html.HiddenFor(m => m.Filters.BundleStatus)
	@Html.HiddenFor(m => m.Filters.IsTransfer)
	@Html.Hidden("selIds")
	<div class="row">
		<div class="col-sm-6">
			<h3 class="form-h3">@ViewBag.Title <small>QA</small></h3>
		</div>
	</div>
	<div class="row col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#collapse1"><h3 class="panel-title">Bundle Search</h3></a>
			</div>
			<div id="collapse1" class="panel-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group form-group-sm">
								@Html.Label("Project", new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.Filters.ProjectName)
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ManufacturerShort, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.LookupFor(m => m.Filters.ManufacturerShort, m => m.Filters.ManufacturerShorts, LookupAjax.Manufacturers, false)
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group form-group-sm">
								@Html.Label("Received Date", new { @class = "control-label col-sm-4" })
								<div class="col-sm-4">
									@Html.EditorFor(m => m.Filters.ReceivedFrom, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "From" } })
								</div>
								<div class="col-sm-4">
									@Html.EditorFor(m => m.Filters.ReceivedTo, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "To" } })
								</div>
							</div>
						</div>
						<div class="col-sm-1">
							<button type="button" class="btn btn-primary" id="Search"><i class="fas fa-search" aria-hidden="true"></i>Search</button>&nbsp;
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			@Html.Trirand().JQGrid(Model.ProjectGrid.Grid, Model.ProjectGrid.Grid.ID)
		</div>
	</div>
	Html.RenderPartial("GridsAutoComplete/_Project");
	<br /><br />
	<div class="row col-sm-12">

		<div class="form-horizontal">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group form-group-sm">
						@Html.Label("Task", new { @class = "control-label col-sm-2" })
						<div class="col-sm-10">
							@Html.LookupFor(m => m.DefaultTask.TaskDefId, m => m.DefaultTask.TaskDef, LookupAjax.QATaskDefinitions, false, new { data_filter = Json.Encode(Model.taskFilter) })
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group form-group-sm">
						@Html.Label("User", new { @class = "control-label col-sm-2" })
						<div class="col-sm-10">
							@Html.LookupFor(m => m.DefaultTask.UserId, m => m.DefaultTask.User, LookupAjax.Users, false, new { data_filter = Json.Encode(Model.QAFilter) })
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group form-group-sm">
						@Html.Label("Task Target", new { @class = "control-label col-sm-4" })
						<div class="col-sm-8">
							@Html.EditorFor(m => m.DefaultTask.TargetDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Task Target" } })
						</div>
					</div>
				</div>
				<div class="col-sm-1 text-left">
					<button type="button" class="btn btn-primary" id="Assign">Assign</button>
				</div>
			</div>
		</div>

	</div>
}
	@section scripts{
		@Scripts.Render("~/bundles/script/jqgrid")
		<script>
	var grid = $('#' + '@Model.ProjectGrid.Grid.ID')
	var initalLoad = true;

	$(function () {

		grid.jqGrid("setGridParam", {
			gridComplete: function () {
				setHeightWidth();
			},
			beforeSelectRow: function (rowid, e) {
				if (!e) e = window.event;
				var element = e.target || e.srcElement
				if (element.className.indexOf('fas fa-search') > -1) //fix for selecting unchecks/checks checbox
				{
					return false;
				}
				else {
					return true;
				}
			}
		});

		$('#Search').click(function () {
			if (Em($('#Filters_ProjectName').val()) && Em($('#Filters_ManufacturerShort').val())) {
				bootbox.alert("You must select Search Criteria.")
			}
			else {
				initalLoad = false;
				ReloadGrid()
			}
		});

		$('#Assign').click(function () {

			var msg = '';
			var selIds = (grid).jqGrid('getGridParam', 'selarrrow');
			if (selIds == "") {
				msg = "Please select bundle(s).";
			}

			if (Em($('#DefaultTask_UserId').val())) {
				msg += "Please select User.<br>";
			}

			if (Em($('#DefaultTask_TaskDefId').val())) {
				msg += "Please select Task.<br>";
			}

			if (msg != '') {
				bootbox.alert(msg)
				return false;
			}
			else {
				$('#selIds').val(selIds)
				$('#BundleForm').submit();
			}
		});

		$("#BundleForm").on('submit', function (e) {
			e.preventDefault();
			$.ajax({
				type: $(this).prop('method'),
				url: $(this).prop('action'),
				data: $(this).serialize(),
				success: function (result) {
					if (result == "OK") {
						window.opener.location.reload(false);
						window.open('', '_parent', '');
						window.close();
					}
				}
			})
		});
		
		function getHeight() {
			var viewportHeight;
			var viewportWidth;
			if (document.compatMode === 'BackCompat') {
				viewportHeight = document.body.clientHeight;
				viewportWidth = document.body.clientWidth;
			} else {
				viewportHeight = document.documentElement.clientHeight;
				viewportWidth = document.documentElement.clientWidth;
			}

			var height = viewportHeight - 400
			return height;
		}

		function setHeightWidth() {

			//$(grid).parents('div.ui-jqgrid-bdiv').css("max-height", '470px');
			//if (!$('#Detail').hasClass('detail')) {
			var height = getHeight();
			$(grid).parents('div.ui-jqgrid-bdiv').css("max-height", height);
			//}
		}
	 })

	
		function createTransferLink(cellValue, options, rowObject) {
			return '<a Target="_blank" href="' + '@Url.Action("CreateADDCOR", "CreateTransfer")' + '?Id=' + options.rowId + '&RefreshList=1">Create Transfer</a>';
		}

		function detailLink(cellValue, options, rowObject) {
			var append = ""
			if (rowObject[$(this).getColumnIndexByName("IsRush")] == "True") {
				append = "<i class='far fa-clock rushProject' aria-hidden='true' title='Expedite Project'></i>&nbsp;"
			}

			return append + '<a href="javascript:openDetail(' + options.rowId + ')">' + cellValue + '</a>&nbsp;';
		}

		function openDetail(id) {
			window.open('@Url.Action("Detail", "Project")' + '/' + id)
		}

		function ReloadGrid() {
			grid.trigger('reloadGrid', [{ page: 1 }]);
		}

		function gridBeforeAjaxRequest() {
			if (initalLoad == true) {
				return false;
			}
			else {
				var postData = $(this).jqGrid('getGridParam', 'postData');
				postData.CustomFilters = JSON.stringify(getFilters());

				$(this).jqGrid('setGridParam', { postData: postData });
			}
		};

		function getFilters() {
			var filters = {};
			filters.ProjectName = $('#Filters_ProjectName').val();
			filters.ManufacturerShort = $('#Filters_ManufacturerShort').val();
			filters.Status = $('#Filters_Status').val();
			filters.BundleStatus = $('#Filters_BundleStatus').val();
			filters.ReceivedFrom = $('#Filters_ReceivedFrom').val();
			filters.ReceivedTo = $('#Filters_ReceivedTo').val();
			filters.IsTransfer = $('#Filters_IsTransfer').val();
			return filters;
		}

		</script>
	}

