﻿<template>
	<fieldset class="gli-base-fieldset"
			  :class="{
			'gli-base-fieldset--collapsible': isCollapsible === true
		}">
		<header>
			<slot name="header"></slot>
			<a v-if="isCollapsible === true"
			   class="gli-base-fieldset_toggle"
			   @click="toggle">
				<i v-if="!collapsed"
				   class="fa fa-angle-up" />
				<i v-if="collapsed"
				   class="fa fa-angle-down" />
			</a>
		</header>
		<div class="gli-base-fieldset_content"
			 :class="{
				'gli-base-fieldset_content--collapsed': collapsed === true
			}">
			<slot></slot>
		</div>
	</fieldset>
</template>

<script>

	/**
	 * The HTML `<fieldset>` element is used to group several controls as well as labels (`<label>`) within a
	 * web form (see [MDN documentation for `<fieldset>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset)
	 * for more details). The GLI base fieldset applies a more modern style and optional expand/collapse support.
	 * This is intended to be a replacement for the `InfoBlock` utility component.
	 */
	export default {
		props: {
			/**
			 * If this is collapsible, this will determine whether it should first render collapsed or not.
			 */
			collapsedByDefault: {
				type: Boolean,
				default: false
			},
			/**
			 * A flag to determine whether you can expand or collapse the fieldset.
			 */
			isCollapsible: {
				type: Boolean,
				default: false
			}
		},
		data: function () {
			return {
				collapsed: this.isCollapsible && this.collapsedByDefault
			};
		},
		methods: {
			toggle: function () {
				this.collapsed = !this.collapsed;
			}
		}
	};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";
	@use "@/components/theme/Text";

	header{
		color: Colors.$primary;
	}

	fieldset {
		border: 2px solid Colors.$accentLight;
		border-radius: 6px;
		padding: Spacing.$half Spacing.$full;
		position: relative;
		legend

	{
		@include Text.h5-sub();
		border-bottom: 2px solid Colors.$accentLight;
		color: Colors.$primary;
		float: left;
		margin-bottom: Spacing.$full;
		padding-bottom: Spacing.$half;
	}

	&.gli-base-fieldset--collapsible legend {
		padding-right: 1em;
	}

	a.gli-base-fieldset_toggle {
		display: block;
		font-size: 1.25em;
		position: absolute;
		right: Spacing.$full;
		text-align: right;
		top: Spacing.$half;
		width: calc(100% - #{Spacing.$double});
	}

	&.gli-base-fieldset--collapsible .gli-base-fieldset_content--collapsed {
		*:not(legend)

	{
		display: none;
	}

	legend {
		border: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	}
	}
</style>

<style>
	.gli-base-fieldset_content > *:first-child:not(legend) {
		clear: both;
	}

	.gli-base-fieldset_content > legend + * {
		clear: both;
	}
</style>