﻿@model Submissions.Web.Areas.Documents.Models.Generate.GenerateIndexViewModel

@{
	ViewBag.FullWidth = true;
	ViewBag.Title = "Generate Letter";
	ViewBag.NoFooter = true;
	ViewBag.NoBottomMargin = true;
	Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	@Styles.Render("~/bundles/css/letterGeneration")
}

<div id="app"></div>

@section scripts {

	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/letterGen")
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}

