﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-10">
				<h3><font style="color:maroon">Import Data From Excel</font> <small>{{ vm.fileNumber }} ({{ currentSelectedOption }})</small></h3>
			</div>
			<div class="col-sm-2 pull-right">
				<a class="btn btn-primary btn-sm" v-on:click="goToTemplates">Templates</a>
				<a class="btn btn-primary btn-sm" v-on:click="cancelRequest">Cancel</a>
			</div>
		</div>
		<br />
		<!--All Steps-->
		<div class="stepwizard">
			<div class="stepwizard-row setup-panel">
				<div class="stepwizard-step col-xs-3">
					<a href="#step-1" type="button" class="btn btn-success btn-circle" @click="reSetData">1</a>
					<p><small>Select Upload Option</small></p>
				</div>
				<div class="stepwizard-step col-xs-3">
					<a href="#step-2" type="button" class="btn btn-default btn-circle disabled"  @click="goToStep(uploadSteps.UploadFile)">2</a>
					<p><small>Upload a File</small></p>
				</div>
				<div class="stepwizard-step col-xs-3">
					<a href="#step-3" type="button" class="btn btn-default btn-circle disabled"  @click="goToStep(uploadSteps.Mapping)">3</a>
					<p><small>Validations/Mapping</small></p>
				</div>
				<div class="stepwizard-step col-xs-3">
					<a href="#step-4" type="button" class="btn btn-default btn-circle disabled"  @click="goToStep(uploadSteps.Done)">4</a>
					<p><small>Completed</small></p>
				</div>
			</div>
		</div>
		<!--Step 1-->
		<div class="panel panel-primary setup-content" id="step-1">
			<div class="panel-heading">
				<h3 class="panel-title">Select Upload Option</h3>
			</div>
			<div class="panel-body">

				<table class="table">
					<tr v-for="(uploadOption, index) in vm.uploadExcelOptions" class="row">
						<td width="2%" v-if="((vm.canAdd && vm.uploadExcelOptions[index].name === 'AddNewSubmissions') 
							                 || (vm.canEdit && vm.uploadExcelOptions[index].name === 'ModifySubmissions') 
							                 || (vm.canEditSignatures && vm.uploadExcelOptions[index].name === 'AddSignatures')
											 || (vm.canDeleteSignatures && vm.uploadExcelOptions[index].name === 'DeleteSignatures')
											 || (vm.canEditSignatures && vm.uploadExcelOptions[index].name === 'ModifySignatures'))"
											>
								<input type="radio"
								   name="UploadOptions"
								   :value="uploadOption.name"
								   v-model="vm.uploadOption">
						</td>
						<td width="2%" v-else>
							&nbsp;
						</td>
						<td>&nbsp;<strong>{{index + 1}}.</strong>&nbsp;&nbsp;{{uploadOption.description}}</td>
					</tr>

				</table>

				<button class="btn btn-primary nextBtn pull-right" type="button" @click="goToNext(uploadSteps.UploadFile)">Next</button>
			</div>
		</div>
		<!--Step 2-->
		<!--submission List-->
		<SubmissionSelection :fileNumber="vm.fileNumber" :submissions="vm.submissions" :titleText="'Select a Submission Record to Clone'" :allowOnlyOneSelection="true" ref="SubmissionSelection" v-if="vm.uploadOption == 'AddNewSubmissions' && currentStep == 2"></SubmissionSelection>
		<div class="row" v-if="vm.uploadOption == 'AddNewSubmissions' && currentStep == 2">
			<div class="col-sm-12" v-if="selectedSubmission != 0">
				<input type="checkbox" name="vm.includeJurisdictions" v-model="vm.includeJurisdictions">&nbsp;&nbsp;<font class="text-info">Duplicate Jurisdiction Information</font> <small>(<strong>{{ jurisdictionsSelected }}</strong> Jurisdictions)</small> <strong> <a @click="setJurModal(true)" style="cursor:pointer" title="Click here to select Jurisdictions to clone.">[ Select ]</a> </strong><br />
			</div>
			<div class="col-sm-12">&nbsp;<br /></div>
		</div>
		<div class="panel panel-primary setup-content" id="step-2">
			<div class="panel-heading">
				<h3 class="panel-title">Upload File</h3>
			</div>
			<div class="panel-body">

				<table class="table">
					<tr><td width="4%"><b>Step 1 - </b></td><td>&nbsp;Download Excel Template and Add/Modify Data&nbsp;&nbsp;<button class="btn btn-primary" @click="downloadFormat"><i class="far fa-file-excel"></i>&nbsp;Download</button>&nbsp;<font class="text-info">(See below Note for rules)</font></td></tr>
					<tr><td></td>
						<td>
							<font class="text-warning">*Note:-</font><br />
							<ul v-if="vm.uploadOption == 'AddNewSubmissions'">
								<li>File should be <b>.xls</b> and Worksheet name should be <b>NewRecords</b>.</li>
								<li>Column Headers(Names) can not be modified in downloaded file.</li>
								<li>Order of the Columns can be changed and Columns can also be removed in downloaded file.</li>
								<li>All dates must be in <b>m/d/yyyy</b> format.</li>
								<li>Signatures can be added by adding a new column with column header in format (<b>Signature Type/Signature Scope/Signature Version</b>) E.g. <b>Verify+ CDCK/File/2.5.5</b></li>
								<li>Please add column <b>FilePath</b>, if File Paths are different for each signature E.g. iGaming.</li>
							</ul>
							<ul v-if="vm.uploadOption == 'ModifySubmissions'">
								<li>File should be <b>.xls</b> and Worksheet name should be <b>ModRecords</b>.</li>
								<li>Column Headers(Names) can not be modified in downloaded file.</li>
								<li>Order of the Columns can be changed or Columns can be removed in downloaded file. <b>KeyTbl</b> can not be removed.</li>
								<li>All dates must be in <b>m/d/yyyy</b> format.</li>
								<li>Signatures can be added by adding a new column with column header in format (<b>Signature Type/Signature Scope/Signature Version</b>) E.g. <b>Verify+ CDCK/File/2.5.5</b> </li>
							</ul>
							<ul v-if="vm.uploadOption == 'AddSignatures'">
								<li>File should be <b>.xls</b> and Worksheet name should be <b>AddSig</b>.  Even if it appears that you already have an .xls file, re-save it as an .xls file or this will not work.</li>
								<li><b>KeyTbl, ID Number, Version</b> can not be removed.</li>
								<li>Signatures can be added by adding a new column with column header in format (<b>Signature Type/Signature Scope/Signature Version</b>) E.g. <b>Verify+ CDCK/File/2.5.5</b></li>
								<li>Please add column <b>FilePath</b>, if File Paths are different for each signature E.g. iGaming.</li>
							</ul>
							<ul v-if="vm.uploadOption == 'ModifySignatures'">
								<li>File should be <b>.xls</b> and Worksheet name should be <b>ModSig</b>.  Even if it appears that you already have an .xls file, re-save it as an .xls file or this will not work.</li>
								<li><b>KeyTbl, ID Number, Version, Sig Type, Sig Scopy, Sig Version & Signature Information Column</b> can not be removed.</li>
							</ul>
							<ul v-if="vm.uploadOption == 'DeleteSignatures'">
								<li>File should be <b>.xls</b> and Worksheet name should be <b>DelSig</b>.  Even if it appears that you already have an .xls file, re-save it as an .xls file or this will not work.</li>
								<li><b>KeyTbl, ID Number, Version, Sig Type, Sig Scopy, Sig Version, Action</b> can not be removed.</li>
								<li>For the Signatures which needs to be deleted, put <b>D</b> in the Action Column.</li>
							</ul>
						</td>
					</tr>
					<tr><td colspan="2">&nbsp;</td></tr>
					<tr><td width="4%"><b>Step 2 - </b></td><td>&nbsp;Select And Upload Excel File</td></tr>
					<tr v-if="!files.length">
						<td></td>
						<td>
							<div class="text-center">
								<h4>Drop file anywhere to upload<br />or</h4>
								<file-upload class="btn btn-default"
											 :post-action="postAction"
											 :extensions="extensions"
											 :accept="accept"
											 :multiple="multiple"
											 :size="size || 0"
											 :drop="drop"
											 :add-index="addIndex"
											 v-model="files"
											 @input-filter="inputFilter"
											 @input-file="inputFile"
											 ref="upload">
									<i class="fas fa-file"></i>
									Select
								</file-upload>
							</div>
						</td>
					</tr>
					<tr><td colspan="2">&nbsp;</td></tr>
					<tr v-for="(file, index) in files" :key="file.id">
						<td></td>
						<td>
							<div>
								<strong><font class="text-info">{{file.name}}</font></strong> (Size - {{file.size | formatSize}})  <a href="#" @click.prevent="$refs.upload.remove(file)"><font class="text-red">Remove</font></a>
							</div>
						</td>
					</tr>
					<tr><td colspan="2">&nbsp;</td></tr>
					<tr v-if="files.length">
						<td>&nbsp;</td>
						<td>
							<file-upload class="btn btn-default"
										 :post-action="postAction"
										 :extensions="extensions"
										 :accept="accept"
										 :multiple="multiple"
										 :size="size || 0"
										 :drop="drop"
										 :add-index="addIndex"
										 v-model="files"
										 @input-filter="inputFilter"
										 @input-file="inputFile"
										 ref="upload">
								<i class="fas fa-file"></i>
								Select
							</file-upload>
						</td>
					</tr>
					<tr><td colspan="2">&nbsp;</td></tr>
					
				</table>

				<button class="btn btn-primary nextBtn pull-right" type="button" @click.prevent="goToNext(uploadSteps.Mapping)"><i class="fas fa-arrow-up" aria-hidden="true"></i>&nbsp;Upload</button>
			</div>
		</div>

		<!--Step 3 -->
		<div class="panel panel-primary setup-content" id="step-3">
			<div class="panel-heading">
				<h3 class="panel-title">Mapping/Validations</h3>
			</div>
			<div class="panel-body">
				<div>
					<!--vm.columnInfo.length == 0-->
					<table class="table table-bordered table-condensed" v-show="vm.columnInfo.length == 0">
						<thead>
							<tr class="danger">
								<td>
									<strong>Error!</strong> There is no Data to upload. Please make sure file format and mentioned requirements.
								</td>
							</tr>
						</thead>
					</table>
					<!--columnsNotMapped != ''-->
					<table class="table table-bordered table-condensed" v-show="columnsNotMapped != ''">
						<thead>
							<tr class="warning">
								<td>
									<strong>Warning!</strong>  Following columns could not be mapped to submissons Data. Please correct column headings or it will not be uploaded. <small><b>(Check Template for proper column headings)</b></small>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ columnsNotMapped }}</td>
							</tr>
						</tbody>
					</table>
					<br />
					<!--columnsWithInValidData.length > 0-->
					<table class="table table-bordered table-condensed" v-show="columnsWithInValidData.length > 0">
						<thead>
							<tr class="danger">
								<td colspan="2">
									<strong>Error!</strong> Following column values are invalid. Please correct and re-upload.
								</td>
							</tr>
							<tr>
								<th>Column Name</th>
								<th>Values</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="column in columnsWithInValidData">
								<td width="200px"><b>{{ column.excelColName }}</b></td>
								<td><div v-html="column.errorInfo"></div></td>
							</tr>
						</tbody>
					</table>
					<br />
					<!--columnsWithSignatureExists.length > 0-->
					<table class="table table-bordered table-condensed" v-show="columnsWithSignatureExists.length > 0" width="100%">
						<thead>
							<tr class="danger">
								<td colspan="2">
									<strong>Error!</strong> Signatures already exists for below. Below signatures will not be uploaded for mentioned Ids.
								</td>
							</tr>
							<tr>
								<th>Column Name</th>
								<th>Values</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="column in columnsWithSignatureExists">
								<td width="200px"><b>{{ column.excelColName }}</b></td>
								<td>{{ column.signatureExistsFor }}</td>
							</tr>
						</tbody>
					</table>
					<br />
					<!--columnsSignatureNotMapped.length > 0-->
					<table class="table table-bordered table-condensed table-striped" v-show="columnsSignatureNotMapped.length > 0">
						<thead>
							<tr class="success">
								<td colspan="2">
									<strong>Please map/confirm your signature columns.</strong>
								</td>
							</tr>
							<tr style="background-color:lightgray">
								<th>Column Name</th>
								<th>
									<div class="row">
										<div class="col-sm-3">
											<strong><font class="small">Type:</font></strong>
										</div>
										<div class="col-sm-2">
											<strong><font class="small">Scope:</font></strong>
										</div>
										<div class="col-sm-2">
											<strong><font class="small">Version:</font></strong>
										</div>
										<div class="col-sm-2" v-if="vm.testingTypeId == iGamingTestingType">
											<strong><font class="small">FilePath:</font></strong>
										</div>
										<div class="col-sm-2">

										</div>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(column,index) in columnsWithSignature">
								<td width="200px"><b>{{ column.excelColName }}</b></td>
								<td>
									<div class="row">
										<div class="col-sm-3">
											<Lookup :id="'SignatureTypeId' + index" :name="'SignatureTypeId' + index" :lookuptextfield="column.signatureType" lookupajax="SignatureTypes" v-model="column.signatureTypeId" @updateLookupTextField="updateSignatureType(index)" title="Signature Type" class="form-control form-control-sm"></Lookup>
										</div>
										<div class="col-sm-2">
											<Lookup :id="'SignatureScopeId' + index" :name="'SignatureScopeId' + index" :lookuptextfield="column.signatureScope" lookupajax="SignatureScopes" v-model="column.signatureScopeId" @updateLookupTextField="updateSignatureScope(index)" title="Signature Scope" class="form-control form-control-sm"></Lookup>
										</div>
										<div class="col-sm-2">
											<Lookup :id="'SignatureVersionId' + index" :name="'SignatureVersionId' + index" :lookuptextfield="column.signatureVersion" lookupajax="SignatureVersions" v-model="column.signatureVersionId" @updateLookupTextField="updateSignatureVersion(index)" title="Signature Version" class="form-control form-control-sm"></Lookup>
										</div>
										<div class="col-sm-2" v-if="vm.testingTypeId == iGamingTestingType">
											<input name="TestingType" id="TestingType" type="text" v-model="column.signatureFilePath" class="form-control" placeholder="File Path" />
										</div>
										<div class="col-sm-2" v-if="column.showAlphaVersion">
											<input name="SignatureAlphaVersion" id="SignatureAlphaVersion" type="text" v-model="column.signatureAlphaVersion" class="form-control" placeholder="Alpha Version" />
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<button class="btn btn-primary nextBtn pull-right" type="button" v-if="columnsWithSignatureExists.length > 0 && columnsWithInValidData == 0" @click="saveUploadedData">Next</button>
				<button class="btn btn-primary nextBtn pull-right" type="button" v-else-if="columnsWithSignature.length > 0 && columnsSignatureNotMapped.length > 0 && columnsWithInValidData == 0" @click="goToNext(uploadSteps.Done)">Next</button>
				<button class="btn btn-primary nextBtn pull-right" type="button" v-else-if="columnsWithInValidData.length == 0 && vm.columnInfo.length > 0" @click="goToNext(uploadSteps.Done)">Next</button>

			</div>
		</div>
		<!--Step 4-->
		 <div class="panel panel-primary setup-content" id="step-4">
			<div class="panel-heading">
				<h3 class="panel-title"></h3>
			</div>
			<div class="panel-body">
				<h3>
					<span class="text-inf" v-if="!errorWhileProcessing"><i class="fas fa-spinner fa-spin" style="color:green"></i>&nbsp;Saving......(This may take few minutes)</span>
					<span class="text-danger" v-if="errorWhileProcessing">Error Occured while saving Data. Please enter a Service Now ticket.</span>
				</h3>
			</div>
		</div>
		 <JurSelection :showJurModal="showJurModal" :jurisdictions="jurisdictions" :titleText="'Copy Jurisdictions'" @reSetJurModal="setJurModal"></JurSelection>
	</div>
</template>
<style>
   
	.stepwizard-step p {
		margin-top: 0px;
		color: #666;
	}

	.stepwizard-row {
		display: table-row;
	}

	.stepwizard {
		display: table;
		width: 100%;
		position: relative;
	}

	.stepwizard-step button[disabled] {
		/*opacity: 1 !important;
		filter: alpha(opacity=100) !important;*/
	}

	.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
		opacity: 1 !important;
		color: #bbb;
	}

	.stepwizard-row:before {
		top: 14px;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 100%;
		height: 1px;
		background-color: #ccc;
		z-index: 0;
	}

	.stepwizard-step {
		display: table-cell;
		text-align: center;
		position: relative;
	}

	.btn-circle {
		width: 30px;
		height: 30px;
		text-align: center;
		padding: 6px 0;
		//font-size: 12px;
		line-height: 1.428571429;
		border-radius: 15px;
	}
</style>
<script>
   
	import Vue from 'vue';
	import FileUpload from 'vue-upload-component'
	import Lookup from '@/components/utility/Lookup.vue'
	import SubmissionSelection from '@/components/submission/submissiondata/SubmissionSelection.vue'
	import JurSelection from '@/components/submission/jurisdictionaldata/JurisdictionSelection.vue'

	export default {
		components: {
			Lookup,
			FileUpload,
			SubmissionSelection,
			JurSelection
		},
		data() {
			return {
				vm: initialData,
				currentStep: 1,
				files: [],
				accept: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
				extensions: ['xls', 'xlsx'],
			   // minSize: 1024,
				size: 1024 * 1024 * 10,
				multiple: false,
				drop: true,
				addIndex: false,
				errorWhileProcessing: false,
				iGamingTestingType: 2,
				alpha2CDCK: 37,
				alpha2SHA1: 38,
				uploadSteps:
					{
						"SelectOption" : 1,
						"UploadFile" : 2,
						"Mapping" : 3,
						"Done" : 4
					},
				jurisdictions: [],
				showJurModal: false
			}
		},
		computed: {
			currentSelectedOption: function () {
				var selOption = this.vm.uploadExcelOptions.filter(item => item.name == this.vm.uploadOption)
				if (selOption.length == 0) {
					return ""
				}
				else {
					return selOption[0].description
				}
			},
			columnsWithInValidData: function (){
				var columns = this.vm.columnInfo.filter(function (el) {
					return (
						el.hasInValidData == true
					)
				});
				return columns
			},
			columnsNotMapped: function () {
				var columns = this.vm.columnInfo.filter(function (el) {
					return (
						el.isInvalidColumn == true                        
					)
				});
				var columnsStr = "";
				columns.forEach(function (col) {
					columnsStr += col.excelColName + ", ";
				})
				return columnsStr;
			},
			columnsSignatureNotMapped: function () {
				var columns = this.vm.columnInfo.filter(function (el) {
					return (
						el.isSignatureColumn == true &&
						el.signatureMapped == false
					)
				});
				var columnsStr = "";
				columns.forEach(function (col) {
					columnsStr += col.excelColName + ", ";
				})
				return columnsStr;
			},
			columnsWithInValidSignature: function () {
				var columns = this.vm.columnInfo.filter(function (el) {
					return (
						el.isSignatureColumn == true &&
						el.hasInValidData == true
					)
				});
				return columns
			},
			columnsWithSignature: function () {
				var columns = this.vm.columnInfo.filter(function (el) {
					return (
						el.isSignatureColumn == true
					)
				});
				return columns
			},
			columnsWithSignatureExists: function () {
				var columns = this.vm.columnInfo.filter(function (el) {
					return (
						(el.signatureExistsFor != null && el.signatureExistsFor != "")
					)
				});
				return columns
			},
			jurisdictionsSelected: function () {
				return this.jurisdictions.filter(x => x.selected).length;
			},
			nonSignatureColumnErrorsExist: function () {
			  
				var columnsWithErrors = this.vm.columnInfo.filter(function (el) {
					return (
						el.isSignatureColumn == false &&
						(el.isInvalidColumn == true ||
						el.hasInValidData == true )
					)
				});

				if (columnsWithErrors.length > 0) {
					return true
				}
				else {
					return false
				}
			},
			selectedSubmission: function () {
				if (this.vm.submissions.find(x => x.selected) != undefined) {
					return this.vm.submissions.find(x => x.selected).id;
				}
				else {
					return 0;
				}
			},
			postAction: function () {
				return jsPath + 'submission/upload/uploadfile?uploadOption=' + this.vm.uploadOption
			},
		},
		methods: {
			cancelRequest: function (event) {
				event.preventDefault();
				window.open("", "_self").close();
			},
			checkSignatureValidations: function () {
				Loading();
				var refThis = this
				var postData = { "columnsMapping" : this.vm.columnInfo}
				var url = 'submission/upload/ProcessForSignatureValidations?uploadOption=' + this.vm.uploadOption + '&uploadedFileName=' + this.vm.uploadedFileName //+ '&columnsMapping=' + JSON.stringify(this.vm.columnInfo)
				this.$http.post(url,postData).then(function (response) {
					//refThis.vm.columnInfo = response.data //Update mapping 
					Vue.set(refThis.vm, "columnInfo", response.data)
					if (refThis.columnsWithInValidSignature.length > 0 || refThis.columnsWithSignatureExists.length > 0 ) {
						//Show Sig Mapping error
						refThis.goToStep(refThis.uploadSteps.Mapping)
					}
					else {
						// upload
						refThis.saveUploadedData()
					}
					DoneLoading()
				}, function (error) {
					alert("Error Occured. Please Check Data.")
					DoneLoading()
				});
			},
			checkMappingValidations: function () {
				Loading();
				var refThis = this
				var url = 'submission/upload/ProcessForValidationMapping?uploadOption=' + this.vm.uploadOption + '&uploadedFileName=' + this.vm.uploadedFileName + '&columnsMapping=' + JSON.stringify(this.vm.columnInfo)
				this.$http.get(url).then(function (response) {
					if (response.data == "NoData") {
						refThis.goToStep(refThis.uploadSteps.Mapping)
					}
					else {
						refThis.vm.columnInfo = response.data //Update mapping 
						//Vue.set(refThis.vm, "columnInfo", response.data)
						if (refThis.nonSignatureColumnErrorsExist) {
							refThis.goToStep(refThis.uploadSteps.Mapping)
						}
						else if (refThis.columnsWithSignature.length > 0) {
							//Show Sig Mapping
							refThis.goToStep(refThis.uploadSteps.Mapping)
						}
						else {
							// upload
							refThis.goToNext(refThis.uploadSteps.Done)
						}
					}
					DoneLoading()
				}, function (error) {
					alert("Error Occured. Please Check Data.")
					DoneLoading()
				});
			},
			downloadFormat: function () {
				var url = 'submission/upload/ExportDownloadFormat?uploadOption=' + this.vm.uploadOption + "&fileNumber=" + this.vm.fileNumber
				window.location.href = jsPath + url;
			},
			getJurisdictions: function () {
				let refThis = this
				let selelctedSubmissionId = this.vm.submissions.find(x => x.selected).id;
				let url = "submission/submission/GetJurisdictionsForSelection?submissionId=" + selelctedSubmissionId;
				this.$http.get(url).then(function (response) {
					if (response.data != null) {
						refThis.jurisdictions = response.data;
					}
					else {
						bootbox.alert("Error occured.")
					}
				});
			},
			goToTemplates: function () {
				var url = "submission/upload/templates?fileNumber=" + this.vm.fileNumber
				window.open(jsPath + url);
			},
			goToNext: async function (nextStep) {
				var isValidated = await this.validateStep(nextStep)
				if (isValidated) {
					if (nextStep == this.uploadSteps.Mapping) {
						this.$refs.upload.active = true //Upload and check mapping
					}
					else if (nextStep == this.uploadSteps.Done) {//save if 
						if (this.columnsWithSignature.length > 0) { //This is while adding in format of sigType\Sig scope (Add records, modify records, Add signatures options))
							this.checkSignatureValidations();
						} else {
							if (this.vm.uploadOption == 'ModifySignatures') {
								this.checkSignatureValidations();
							}
							else {
								this.saveUploadedData()
							}
						}
					}
					else {
						this.goToStep(nextStep)
					}
				}
			},
			goToStep: function (stepNo) {
				this.currentStep = stepNo
				var navListItems = $('div.setup-panel div a')
				var $item = $('div.setup-panel div a[href="#step-' + stepNo + '"]')
				var $target = $(($item).attr('href'))

				//dont know how to allow reupload
				if (this.currentStep == this.uploadSteps.Mapping || this.currentStep == this.uploadSteps.Done) {
					var $uploadStep = $('div.setup-panel div a[href="#step-' + this.uploadSteps.UploadFile + '"]')
					$uploadStep.addClass('disabled')
				}
			   
				 $item.removeClass('disabled')
				
				if (!$item.hasClass('disabled')) {
					navListItems.removeClass('btn-success').addClass('btn-default');
					$item.addClass('btn-success');
					$('.setup-content').hide();
					$target.show();
				}
			 },
			reSetData: function () {
				window.location.reload()
			},
			saveUploadedData: function () {
				this.goToStep(this.uploadSteps.Done);
				Loading();
				var postData = { "vmStr": JSON.stringify(this.vm), "columnsMapping": this.vm.columnInfo }
				var url = 'submission/upload/ProcessData';

				this.$http.post(url, postData)
					.then(function (response) {
						window.opener.location.reload();
						window.parent.alert("Data Uploaded Successfully.");
						window.open('', '_parent', '');
						window.close();
					})
					.catch(function (error) {
						alert("error occured");
						this.errorWhileProcessing = true;
					 })
					.then(function() {
						DoneLoading();
					});
			},
			setDefaultSigVersion: function (selindex, selType) {
				var refThis = this
				this.vm.signatureDefaultVersions.forEach(function (x, index) {
					if (x.signatureTypeId == selType) {
						refThis.vm.columnInfo[selindex].signatureVersion = x.defaultVersion
						refThis.vm.columnInfo[selindex].signatureVersionId = x.defaultVersionId
					}
				});
			   
			},
			setJurModal: function (val) {
				this.showJurModal = val
			},
			showSignatutreAlphaVersion: function (selVal) {
				if (this.vm.manufactureCode == 'BAL' || this.vm.manufactureCode == 'BLY') {
					if (selVal == this.alpha2CDCK || selVal == this.alpha2SHA1) {
						return true
					}
					else {
						return false
					}
				}
				else {
					return false
				}
			},
			updateSignatureType: function (index) {
				var selectedItem = this.columnsWithSignature[index].excelColName
				const el = document.getElementById('SignatureTypeId' + index);
				var refThis = this
				if (el.selectedIndex > -1) {
					
					const selectedText = el.options[el.selectedIndex].text;
					const selectedVal = el.options[el.selectedIndex].value;
 
					this.vm.columnInfo.forEach(function (x, index) {
						if (x.excelColName === selectedItem) {
							x.signatureType = selectedText
							x.showAlphaVersion = refThis.showSignatutreAlphaVersion(selectedVal)
							refThis.setDefaultSigVersion(index, selectedVal)
						}
					});
				}
				else {
					this.vm.columnInfo.forEach(function (x, index) {
						if (x.excelColName === selectedItem) {
							x.signatureType = ""
							x.showAlphaVersion = false
						}
					});
				}
			},
			updateSignatureScope: function (index) {
				var selectedItem = this.columnsWithSignature[index].excelColName
				const el = document.getElementById('SignatureScopeId' + index);
				if (el.selectedIndex > -1) {
				   
					const selectedText = el.options[el.selectedIndex].text;
					this.vm.columnInfo.forEach(function (x, index) {
						if (x.excelColName === selectedItem) {
							x.signatureScope = selectedText
						}
					});
				}
				else {
					this.vm.columnInfo.forEach(function (x, index) {
						if (x.excelColName === selectedItem) {
							x.signatureScope = ""
						}
					});
				}
			},
			updateSignatureVersion: function (index) {
				var selectedItem = this.columnsWithSignature[index].excelColName
				const el = document.getElementById('SignatureVersionId' + index);
			   
				if (el.selectedIndex > -1) {
						const selectedText = el.options[el.selectedIndex].text;
						this.vm.columnInfo.forEach(function (x, index) {
						if (x.excelColName === selectedItem) {
							x.signatureVersion = selectedText
						}
					});
				} else {
					this.vm.columnInfo.forEach(function (x, index) {
						if (x.excelColName === selectedItem) {
							x.signatureVersion = ""
						}
					});
				}
			},
			validateStep: function (nextStep) {
				if (nextStep == this.uploadSteps.UploadFile) {
					if (Em(this.vm.uploadOption)) {
						bootbox.alert("Error!! You must select an option.")
						return false;
					}
					else {
						return true;
					}
				}
				else if (nextStep == this.uploadSteps.Done) {
					const self = this
					var isNotMapped = false
					this.columnsWithSignature.forEach(function (x, Index) {
						if (x.signatureTypeId == null || x.signatureTypeId == 0 ) { //|| x.signatureScopeId == null || x.signatureVersionId == null
							isNotMapped = true
							return
						}
					})
					if (isNotMapped) {
						bootbox.alert("Error!! You must map signature.")
						return false;
					}
					else {
						this.columnsWithSignature.forEach(function (x, Index) {
							x.errorInfo = ""
							x.signatureMapped= true
						})
						return true;
					}
				   
				}
				else if (nextStep == this.uploadSteps.Mapping) {
					
					if (this.files.length > 0) {
						if (this.vm.uploadOption == "AddNewSubmissions") {
							if (this.vm.submissions.filter(i => i.selected == true).length == 0) {
								bootbox.alert("Error!! You must select submisson record to clone.")
								return false;
							}
							else {
								if (this.vm.includeJurisdictions == false) {

									return new Promise(function (resolve) {
										bootbox.confirm({
											message: 'Only the primary jurisdiction information will be duplicated.<br> Is this what you want?',
											buttons: { confirm: { label: 'Yes' }, cancel: { label: 'No' } },
											callback: function (result) {
												resolve(result)
											}
										});
									});

								}
								else {
									return true
								}

							}
						}
						else {
							return true
						}
					}
					else {
						bootbox.alert("Error!! You must select a file to upload.")
						return false;
					}
				}
			},
			inputFilter(newFile, oldFile, prevent) {
				if (newFile && !oldFile) {
					// Before adding a file
					// Filter system files or hide files
					if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
						return prevent()
					}
				}
			},
			inputFile(newFile, oldFile) {
				if (newFile && !oldFile) {
					// before add
				}
				if (newFile && oldFile) {
				   // Upload error
					if (newFile.error !== oldFile.error) {
						bootbox.alert("Error Occured While Upload.");
					}
					// Upload Success
					if (newFile.success !== oldFile.success) {
						//alert(newFile.response)
						this.vm.uploadedFileName = newFile.response
						this.checkMappingValidations()
					}
				}
				if (!newFile && oldFile) {
					// remove
				}
			}
		},
		created: function () {
			DoneLoading()
		},
		mounted() {
			var allSteps = $('.setup-content')
			allSteps.hide();
			this.goToStep(1);
		},
		watch: {
			'selectedSubmission': function () {
				this.vm.jurisdictionIds = [];
				this.getJurisdictions();
			},
			'jurisdictionsSelected': function () {
				if (this.jurisdictions.filter(x => x.selected).length != this.jurisdictions.length) {
					this.vm.includeJurisdictions = true;
					this.vm.jurisdictionIds = this.jurisdictions.filter(x => x.selected).map(x => x.jurisdictionId)
				}
			},
			'vm.includeJurisdictions': function () {
				if (!this.vm.includeJurisdictions) {
					this.vm.jurisdictionIds = [];
				}
				else {
					if (this.jurisdictions.filter(x => x.selected).length != this.jurisdictions.length) {
						this.vm.jurisdictionIds = this.jurisdictions.filter(x => x.selected).map(x => x.jurisdictionId);
					}
				}
			}
		}
	}
</script>