﻿/* styling that overrides any third-party css*/

/* BOOTSTRAP */
html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 38px;
}
	body > .container.no-margin-bottom, body > .container-fluid.no-margin-bottom {
		margin-bottom: 0px;
	}

	body > .container, body > .container-fluid {
		margin-bottom: 135px;
	}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 115px;
}

	#footer .copyright {
		margin-top: 75px;
		margin-right: 15px;
	}

.panel-default > .panel-heading {
	background-color: #daecf5;
	color: navy;
}

.btn {
	font-size: 12px;
}

.padcheckbox {
	margin-top: 8px !important;
}

.checkbox input[type="checkbox"], .radio input[type="radio"] {
	margin-top: 2px;
}

hr {
	border-top-color: lightgray;
}

.italic {
	font-style: italic;
}

.navbar-toggle {
	padding-top: 8px;
	padding-bottom: 8px;
}

.dropdown-menu > li > a:hover {
	background: #3875D7;
	font-weight: normal;
	color: #fff;
}

.vertical-align {
	display: flex;
	align-items: center;
}

span.input-group-addon {
	cursor: pointer;
}

.panel-heading > .dropdown a.dropdown-toggle {
	color: #337ab7;
}

.table-hover tbody tr:hover td {
	background-color: #e1f0f7;
}

a.redlink:link,
a.redlink:visited,
a.redlink:hover {
	color: red;
}

/* JQUERY-UI-BOOTSTRAP (jqGrid) */
.ui-jqgrid {
	border: none;
	border-top: 1px #ddd solid;
}

	.ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-table, .ui-jqgrid .ui-pg-selbox,
	.ui-jqgrid .ui-pg-input, .ui-jqgrid .ui-search-toolbar {
		font-size: 12px;
	}

		.ui-jqgrid .ui-search-toolbar .ui-th-column {
			border-right-color: transparent;
			border-right: none;
		}

	/* Pager */
	.ui-jqgrid .ui-jqgrid-toppager {
		height: 25px !important;
		border: none;
		border-bottom: 1px #ddd solid;
	}

	.ui-jqgrid .ui-pg-input {
		height: 20px;
		line-height: 12px;
	}

	.ui-jqgrid .ui-pager-control {
		height: 25px;
	}

	.ui-jqgrid .ui-paging-info {
		margin-top: 5px;
	}

	/* Search Input Boxes */
	.ui-jqgrid .ui-search-toolbar input[type="text"] {
		font-weight: normal;
		height: 20px;
		border-radius: 3px;
		padding-left: 2px !important;
		max-width: none;
	}

	.ui-jqgrid input[type="text"]:focus {
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
	}

	/* Column Headers */
	.ui-jqgrid .ui-jqgrid-htable th {
		padding-left: 0;
	}

		.ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
			height: 25px !important;
		}

		.ui-jqgrid .ui-jqgrid-htable th div {
			height: 25px !important;
		}

	.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels th div {
		padding-top: 7px;
	}

	.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels th.ui-th-column {
		text-align: left;
		padding-left: 3px;
		border-right-color: transparent;
		border-right: none;
		font-size: 12px;
	}

	.ui-jqgrid .ui-jqgrid-htable .ui-search-toolbar th div {
		padding-top: 3px;
	}

	/* Checkboxes */
	.ui-jqgrid .ui-jqgrid-htable .cbox {
		margin: -1px 0 0 0 !important;
	}

	.ui-jqgrid .ui-jqgrid-bdiv .cbox {
		margin: 3px 0 0 0 !important;
	}

	/* Data Rows */
	.ui-jqgrid tr.ui-row-ltr td {
		padding: 3px;
		font-size: 12px;
	}

	.ui-jqgrid .ui-jqgrid-btable .ui-state-highlight.ui-widget-content {
		background-color: #f7ecb2;
		background-image: none;
	}

	.ui-jqgrid .ui-jqgrid-btable .ui-state-hover.ui-widget-content {
		background-color: #daecf5;
	}

	/* Loader */
	.ui-jqgrid .loading {
		position: absolute;
		top: 80px;
		left: 43%;
		width: auto;
		height: auto;
		z-index: 101;
		text-align: center;
		border-color: #A00000;
		color: #A00000;
	}

	.ui-jqgrid .navPagerButtonText {
		font-size: 11px;
		color: #716e6e;
		padding-top: 1px;
	}

	.ui-jqgrid .ui-state-default,
	.ui-jqgrid .ui-widget-content .ui-state-default,
	.ui-jqgrid .ui-widget-header .ui-state-default {
		background-image: none;
		background-color: #FCFCFC;
		text-shadow: none;
		transition: none;
		box-shadow: none;
	}

.ui-corner-all {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

/* JQUERY UI MENU */
.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}

	.ui-menu .ui-menu {
		position: absolute;
	}

	.ui-menu .ui-menu-item {
		position: relative;
		margin: 0;
		padding: 3px 1em 3px .4em;
		cursor: pointer;
		min-height: 0; /* support: IE7 */
		/* support: IE10, see #8844 */
		list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
		font-size: 12px;
	}

	.ui-menu .ui-menu-divider {
		margin: 5px 0;
		height: 0;
		font-size: 0;
		line-height: 0;
		border-width: 1px 0 0 0;
	}

	.ui-menu .ui-state-default {
		border: 1px solid #c5c5c5;
		background: #feffde;
		font-weight: normal;
		color: #000;
	}

	.ui-menu .ui-state-hover,
	.ui-menu .ui-state-focus {
		background: #3875D7;
		font-weight: normal;
		color: #fff;
	}

/* GRIDSTER */
.gridster .preview-holder {
	background-color: #d1cece;
	border-color: #d1cece;
}

.gridster li header {
	background-color: #337ab7;
	color: white;
	display: block;
	font-size: 14px;
	line-height: normal;
	padding: 4px 0 6px 3px;
	cursor: move;
}

	.gridster li header i {
		cursor: pointer;
		z-index: 1000;
		padding: 2px 3px;
	}

/* COLOR PICKER */
.colorpkr-height {
	line-height: 1.1 !important;
}

/* JQUERY SORTABLES (column chooser) */
#sortable1, #sortable2 {
	border: 1px solid #eee;
	width: 242px;
	min-height: 15px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
}

	#sortable1 li, #sortable2 li {
		margin: 0 5px 5px 5px;
		padding: 5px;
		font-size: .9em;
		width: 220px;
		cursor: pointer;
	}

.ui-state-highlight {
	min-height: 25px;
	border: 1px solid #fbe13d;
	background-color: #fef4b3;
}

/* BOOTBOX */
/* fix when modal is closed and browser scrollbar is removed */
.modal {
	direction: ltr;
	overflow-y: auto;
}

	.modal .modal-dialog {
		direction: ltr;
	}

.modal-open {
	overflow: visible !important;
}

/* SELECT2 */
.modal .select2-container {
	width: 100% !important;
}

.select2Grid + span.select2-container .select2-selection {
	font: normal 11px Helvetica Neue, Helvetica, Arial, sans-serif;
	height: 20px;
	line-height: 1;
	padding-left: 2px;
	padding-top: 5px;
}

.select2-search__field {
	box-shadow: none !important;
}

.select2-results__option--highlighted span.dd-ch {
	color: #fff;
}

.select2-container--bootstrap .input-sm.select2-selection--single, .input-group-sm .select2-container--bootstrap .select2-selection--single, .form-group-sm .select2-container--bootstrap .select2-selection--single {
	height: 28px;
}

.select2 {
	width: 100% !important;
}

/* FONT AWESOME */
.fa-info-circle {
	color: blue;
	cursor: help;
	font-size: 1.15em;
}
