﻿/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

.dropdown-value-deprecated {
	color: black !important;
	font-style: italic !important;
}

/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}

/* form header and footer */
.form-buttons {
	text-align: right;
}

.row-title h3 {
	margin-top: 8px;
}

.row-title .form-buttons {
	margin-top: 2px;
	margin-bottom: 0;
}

.row-title .form-inputs {
	margin-top: 2px;
	margin-bottom: 0;
}

.row-title .form-links {
	margin-top: 20px;
	text-align: right;
}

.submission-subtitle {
	color: #991010;
	font-size: 10px;
	font-weight: 600;
	margin-top: -3px;
	padding-bottom: 5px;
	padding-left: 16px;
}

	.submission-subtitle span {
		padding-right: 30px;
	}

.form-hr {
	margin: 0 0 10px 0;
}

/* draggable panels */
.column {
	width: 50%;
	float: left;
	padding-bottom: 100px;
}

	.column .panel {
		margin: 0 1em 1em 0;
	}

	.column .panel-heading {
		cursor: move;
	}

.panel-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 200px;
}

/* other */
#BackToTop {
	display: none;
	background: none;
	position: fixed;
	bottom: 45px;
	right: 30px;
	z-index: 100;
	opacity: .5;
	text-decoration: none;
	color: #ff6a00;
	background-color: #ffffff;
	border-style: none;
}

	#BackToTop i {
		font-size: 50px;
	}

	#BackToTop:focus {
		outline: none;
	}

/* navbar */
.navbarlink {
	outline: none !important;
}

.navbar-brand-link, .navbarlink {
	display: inline-block !important;
	padding-right: 0 !important;
}

.navbar-brand-dropdown, .navbardropdown {
	display: inline-block !important;
	padding-left: 3px !important;
}

.navbar-DEV {
	background-color: #1a3b73 !important;
}

.navbar-STA {
	background-color: #005100 !important;
}

.singleInputSearchHeader {
	margin: 10px 3px 10px 3px;
	padding: 3px 0;
	border-bottom: 1px solid #ccc;
	font-weight: bolder;
}

.singleinputsearch-container .fainput {
	position: relative;
	width: 240px;
}

	.singleinputsearch-container .fainput .fa-search {
		color: lightgray;
		top: 8px;
		position: absolute;
		z-index: 999;
		font-size: 14px;
	}

.singleinputsearch-input {
	font-size: 12px !important;
	line-height: 16px !important;
	height: 22px !important;
	margin-top: 4px;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	box-shadow: none !important;
}

	.singleinputsearch-input:focus {
		border-color: none !important;
		box-shadow: none;
	}

.singleinputsearch-input-projects {
	text-indent: 74px;
}

.singleinputsearch-input-submissions {
	text-indent: 95px;
}

.singleinputsearch-magglass-projects {
	left: 58px;
}

.singleinputsearch-magglass-submissions {
	left: 79px;
}

.singleinputsearch-submit {
	visibility: hidden;
	position: absolute;
	top: -100px;
}

.singleinputsearch-dropdown {
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 10;
	border: none !important;
	border-radius: 0 !important;
}

#SingleInputSearchBtn {
	height: 22px;
	line-height: 16px;
	font-size: 10px;
	border: none !important;
	border-radius: 0 !important;
	padding: 1px 5px 0 5px;
	margin-top: 4px;
}

/* other */
.dataenteredinfo {
	font-size: .8em;
	font-style: italic;
	color: #606060;
}

.padright {
	padding-right: 10px !important;
}

.norecords {
	color: #A00000;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

.text-red {
	color: red;
}

.text-normal {
	color: black;
}

.padl0 {
	padding-left: 0 !important;
}

.padr0 {
	padding-right: 0 !important;
}

.send-back {
	z-index: 1;
}

div.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	background: url('.../Img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

i.fa-plus {
	color: green;
}

i.fa-file-pdf {
	color: #c71b21;
}

/* dropdown code highlight */
.dd-ch {
	color: red;
	font-weight: bold;
	padding-left: 10px;
}

.dd-nh {
	color: #989898;
	padding-right: 10px;
}

.dd-username {
	color: #989898;
	padding-left: 10px;
}

/* masks */
.upper {
	text-transform: uppercase;
}

.currentformfilter {
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
	padding-right: 20px;
	color: #000;
}

.fa-remove-formfilter {
	z-index: 999;
	color: red;
	opacity: 0.5;
	cursor: pointer;
}

	.fa-remove-formfilter:hover {
		opacity: 1;
	}

#loadingSymbol {
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

.transp {
	opacity: 0.5;
}

a.pointer, img.pointer, span.pointer {
	cursor: pointer;
}

.verticalline-between-buttons {
	width: 1px;
	height: 20px;
	background-color: silver;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 4px 0px 4px;
}

.ellipsis-v-button {
	outline: none !important;
	border: none !important;
	margin-top: 3px !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

	.ellipsis-v-button > i.fa-ellipsis-v {
		font-size: 18px;
		padding-top: 4px;
	}

.memo-oh {
	color: #C11B17;
	font-weight: bold;
}

/* /Submission/Views/Submission/DetailPartialViews/_CopyToSubmissions.cshtml */
#CopyToSubmissions input[type="checkbox"] {
	margin: 1px;
	border: none;
	transition: none;
	box-shadow: none;
}

#CopyToSubmissions th {
	padding-top: 3px;
	padding-bottom: 1px;
	font-size: 11px
}

#CopyToSubmissions td {
	padding-top: 3px;
	padding-bottom: 0;
	font-size: 11px
}

#CopyToSubmissions .panel-body {
	padding-top: 3px;
	padding-bottom: 0;
	font-size: 11px
}

.fa-clock.rushProject {
	color: red;
}

.transferProjectIndicator {
	background-color: #CCFFFF;
}

.alt-header {
	color: #634425;
	font-weight: bold;
}

.preserve-linebreak {
	white-space: pre-line;
}
