﻿<template>
    <div class="modal" ref="ViewChangeHistoryModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="25%">Change Date</th>
                                <th width="25%">Changed By</th>
                                <th width="50%">Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(history, index) in historyData">
                                <td width="25%">{{history.changeDate | formatDateTime}} </td>
                                <td width="25%">{{history.editedBy}} </td>
                                <td width="50%">{{history.reason}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { required } from 'vuelidate/lib/validators'
    export default {
        props: ['viewHistory','historyData'],
        data() {
            return {
            
            }
        },
        methods: {
            
        },
        mounted: function () {
            const refThis = this;
            $(this.$refs.ViewChangeHistoryModal).on('hidden.bs.modal', function (e) {
                 refThis.viewHistory = false;
            });
        },
        watch: {
            viewHistory: function (val, oldVal) {
                if (val) {
                    $(this.$refs.ViewChangeHistoryModal).modal('show');
                }
                else
                {
                    this.$emit('setViewHistory', false);
                    $(this.$refs.ViewChangeHistoryModal).modal('hide');
                }
            }
        }
    }

</script>