﻿<template>
    <div class="modal" ref="ChangeReasonModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Data has been changed. You must enter reason.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea rows=4 cols="400" class="form-control" v-model="changeReason"></textarea>
                    <p class=field-validation-error v-if="!$v.changeReason.required">Reason is required!</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary btn-sm" v-on:click="saveRequest">Save</a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { required } from 'vuelidate/lib/validators'
    export default {
        props: ['getChangeReason'], 
        data() {
            return {
                changeReason:""
            }
        },
        validations: {
            changeReason: {
                 required 
            }
        },
        methods: {
            saveRequest: function (e) {
                e.preventDefault()
                if (!this.validateData()) {
                    return false;
                }
                this.$emit('setEditReason', this.changeReason);
                this.getChangeReason = false; 
            },
            validateData: function () {
                this.$v.$touch();
                return !this.$v.$invalid;
            }
        },
        mounted: function () {
            const refThis = this;
            $(this.$refs.ChangeReasonModal).on('hidden.bs.modal', function (e) {
                refThis.getChangeReason = false;
            });
        },
        watch: {
            getChangeReason: function (val, oldVal) {
                if (val) {
                    $(this.$refs.ChangeReasonModal).modal('show');
                }
                else
                {
                    this.$emit('setShowComment', false);
                    $(this.$refs.ChangeReasonModal).modal('hide');
                }
            }
        }
    }

</script>