﻿<template>
    <div>
        <div class="row">
            <div class="col-sm-2">
                <h4><b>Emails Management</b></h4>
            </div>
            <div class="col-sm-10 form-buttons">
                <a class="btn btn-primary btn-sm" @click="viewReports">View Summary List Reports</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary btn-sm" v-show="(vm.viewJurisdictionData || vm.viewManufactureData) && vm.canEditData"  @click="saveData">Save</a>
                <a class="btn btn-primary btn-sm" @click="cancelRequest">Exit</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active" v-if="vm.viewJurisdictionData"><a href="#">Jurisdictions</a></li>
                    <li class="" v-else><a style="cursor:pointer" @click="loadJurisdictionData()">Jurisdictions</a></li>
                    <li class="active" v-if="vm.viewManufactureData"><a href="#">Manufacturers</a></li>
                    <li class="" v-else><a style="cursor:pointer" @click="loadManufactureData()">Manufacturers</a></li>
                    <li class="active" v-if="vm.viewPDFRules"><a href="#">PDF Rules</a></li>
                    <li class="" v-else><a style="cursor:pointer" @click="loadPDFRules()">PDF Rules</a></li>
                </ul>
            </div>
        </div>
        <div class="row col-sm-12">
            <ManufacturersEmails v-if="vm.viewManufactureData" v-bind:DataList="vm.manufactureData" v-bind:SearchList="SearchLinks" ref="Manufacturer"></ManufacturersEmails>
            <JurisdictionsEmails v-if="vm.viewJurisdictionData" v-bind:DataList="vm.jurisdictionData" v-bind:SearchList="SearchLinks" ref="Jurisdiction"></JurisdictionsEmails>
            <PDFEmailRules v-if="vm.viewPDFRules" v-bind:canEdit="vm.canEditData" ref="PDFRules"></PDFEmailRules>
        </div>
    </div>
</template>
<style>
   .TabHeight{
       line-height:1px
   }
</style>
<script>
 
    import ManufacturersEmails from './ManufacturersEmails'
    import JurisdictionsEmails from './JurisdictionsEmails'
    import PDFEmailRules from './pdfemailrules/List'

    export default {
        components: {
            ManufacturersEmails,
            JurisdictionsEmails,
            PDFEmailRules
        },
        data() {
            return {
                vm: initialData
            }
        },
        computed: {
            SearchLinks: function () {
                var sSearchLink = "0-9,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z";
                return(sSearchLink.split(","));
            }
        },
        methods: {
            cancelRequest: function (event) {
                event.preventDefault();
                var url = jsPath + 'Tools';
                window.open(url, "_self");
            },
            unSavedData: function () {
                var unSavedData = false
                if (this.vm.viewManufactureData) {
                    if (this.$refs.Manufacturer.isDataDirty()) {
                        unSavedData = true
                    }
                }
                if (this.vm.viewJurisdictionData) {
                    if (this.$refs.Jurisdiction.isDataDirty()) {
                        unSavedData = true
                    }
                }
                return unSavedData
            },
            loadPDFRules: function (event) {
               
                var refThis = this
                if (this.unSavedData()) {
                    bootbox.confirm("There were changes made that were not saved. Do you still want to continue?", function (result) {
                        if (result) {
                            refThis.vm.viewManufactureData = false;
                            refThis.vm.viewJurisdictionData = false;
                            refThis.vm.viewPDFRules = true;
                            refThis.loadData();
                        }
                    })
                }
                else {
                    refThis.vm.viewManufactureData = false;
                    refThis.vm.viewJurisdictionData = false;
                    refThis.vm.viewPDFRules = true;
                    refThis.loadData();
                }
                
            },
            loadJurisdictionData: function (event) {
                var refThis = this
                if (this.unSavedData()) {
                    bootbox.confirm("There were changes made that were not saved. Do you still want to continue?", function (result) {
                        if (result) {
                            refThis.vm.viewManufactureData = false;
                            refThis.vm.viewJurisdictionData = true;
                            refThis.vm.viewPDFRules = false;
                            refThis.loadData();
                        }
                    })
                }
                else {
                    refThis.vm.viewManufactureData = false;
                    refThis.vm.viewJurisdictionData = true;
                    refThis.vm.viewPDFRules = false;
                    refThis.loadData();
                }
                
            },
            loadManufactureData: function (event) {
                var refThis = this
                if (this.unSavedData()) {
                    bootbox.confirm("There were changes made that were not saved. Do you still want to continue?", function (result) {
                        if (result) {
                            refThis.vm.viewManufactureData = true;
                            refThis.vm.viewJurisdictionData = false;
                            refThis.vm.viewPDFRules = false;
                            refThis.loadData();
                        }
                    })
                }
                else {
                    refThis.vm.viewManufactureData = true;
                    refThis.vm.viewJurisdictionData = false;
                    refThis.vm.viewPDFRules = false;
                    refThis.loadData();
                }
                
            },
            loadData() {
                if (this.vm.viewManufactureData) {
                    window.location.href = jsPath + "Tools/EmailsManagement?showManufactureData=true"
                }
                else if (this.vm.viewJurisdictionData) {
                    window.location.href = jsPath + "Tools/EmailsManagement?showJurisdictionData=true"
                }
                else if (this.vm.viewPDFRules) {
                    window.location.href = jsPath + "Tools/EmailsManagement?showPDFRules=true"
                }
            },
            saveData() {
                if (this.vm.viewJurisdictionData) {
                     this.$refs.Jurisdiction.saveData()
                }
                else if (this.vm.viewManufactureData) {
                    this.$refs.Manufacturer.saveData()
                }
            },
            viewReports: function () {
				window.open('https://reports.gaminglabs.net/Reports/browse/Lists')
            }
        }
    }
</script>