﻿<template>
    <div>
        <div id="loadingSymbol">
            <i class="fas fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
        <table class="row col-sm-12">
            <tr>
                <td v-for="(link) in SearchList" align="center">
                    &nbsp;&nbsp;[<a href="#" @click="searchLink(link)">{{link}}</a>]&nbsp;&nbsp;
                </td>
            </tr>
        </table>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th width="25%">Jurisdiction</th>
                    <th width="25%">Daily Summary<font size="1px" class="text-info">(comma separated)</font></th>
                    <th width="25%">Weekly Summary<font size="1px" class="text-info">(comma separated)</font></th>
                    <th width="25%" colspan="2">
                        Status Update<font size="1px" class="text-info">(NU/RV)(comma separated)</font>
                        &nbsp;<input type="checkbox" id="chkHideShow" @click="showHideData()" /> <font class="text-red" size="1">Hide Blank Rows</font>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color:darkgray">
                    <td>
                        <select class="form-control" data-lookupmultipleajax="Jurisdictions" multiple="multiple" data-templatename="formatJurisdictions" id="jurSearch" name="jurSearch"></select>
                    </td>
                    <td><input id="dailySummarySearch" type="text" class="form-control" style="width:210px" /></td>
                    <td><input id="weeklySummarySearch" type="text" class="form-control" style="width:210px" /></td>
                    <td><input id="statusSummarySearch" type="text" class="form-control" style="width:210px" /></td>
                    <td><button @click="search()" class="btn btn-light">&nbsp;<i class="fas fa-secondary" title="Search Jurisdictions"></i>&nbsp;Search</button></td>
                </tr>
                <tr v-show="jur.isVisible" v-for="(jur, index) in displayData">
                    <td width="25%">{{jur.name}} - {{jur.id}}&nbsp;&nbsp;&nbsp;<a href="#" title="View Change History" class="pointer" @click="getChangeHistory(jur.id)"><i class="fas fa-history" aria-hidden="true"></i></a></td>
                    <td width="25%">
                        <textarea rows=4 cols="40" spellcheck="false" v-model="jur.dailySummary" v-bind:class="(jur.isDirtyDaily)? 'ChangeIndicator' :''" @focusout="makeDirty(index,'dailySummary','isDirtyDaily')"></textarea>
                    </td>
                    <td width="25%">
                        <textarea rows=4 cols="40" spellcheck="false" v-model="jur.weeklySummary" v-bind:class="(jur.isDirtyWeekly)? 'ChangeIndicator' :''" @focusout="makeDirty(index,'weeklySummary','isDirtyWeekly')"></textarea>
                    </td>
                    <td width="25%">
                        <textarea rows=4 cols="40" spellcheck="false" v-model="jur.statusChange" v-bind:class="(jur.isDirtyStatus)? 'ChangeIndicator' :''" @focusout="makeDirty(index,'statusChange','isDirtyStatus')"></textarea>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <ChangeReason :getChangeReason="showCommentModal" @setEditReason="updateEditReason" @setShowComment="setShowComment"></ChangeReason>
        <ChangeHistory ref="modalHistory" :historyData="changeHistories" :viewHistory="showChangeHistoryModal" @setViewHistory="setViewHistory"></ChangeHistory>
    </div>
</template>
<style>
    .ChangeIndicator{
        background-color:peachpuff
    }
</style>
<script>
    import ChangeReason from './ChangeReason.vue'
    import ChangeHistory from './ChangeHistory.vue'

    export default {
        props: ['DataList', 'SearchList'], //this has final list with all changes
        components: {
            ChangeReason,
            ChangeHistory
        },
        data() {
            return {
                origVal: [], //this is used to detect change
                displayData: [], // this is used to display data
                showCommentModal: false,
                showChangeHistoryModal: false,
                editReason: "",
                changeHistories : []
            }
        },
        computed: {
            showHistoryLink: function () {
                return (true)
            }
        },
        methods: {
            checkNullOrEmpty: function (val) {
                if (val === null) {return ""} else {return val}
            },
            getChangeHistory: function (jurId) {
                var refThis = this 
                $.getJSON(jsPath + 'Tools/EmailsManagement/GetManufJurChangeHistoryData?jurId=' + jurId, function (data) {
                    refThis.changeHistories = data;
                    if (refThis.changeHistories.length > 0) {
                        refThis.setViewHistory(true)
                    } else {
                        alert("There are no change history data.")
                    }
                });
            },
            isDataDirty: function () {
                var itemsChange = this.DataList.filter(function (el) {
                    return (el.isDirtyDaily == true || el.isDirtyWeekly == true || el.isDirtyStatus == true)
                });
                return (itemsChange.length > 0)
            },
            makeDirty: function (curindex, checkProp, setProp) {
                var refThis = this
                this.origVal.forEach(function (obj) {
                    if ($.trim(obj.id) == $.trim(refThis.displayData[curindex]["id"])) {
                        if (refThis.checkNullOrEmpty(refThis.displayData[curindex][checkProp]) !== refThis.checkNullOrEmpty(obj[checkProp])) {
                            refThis.displayData[curindex][setProp] = true;
                        }
                        else {
                            refThis.displayData[curindex][setProp] = false;
                        }
                    }
                })

                //set in mainlist
                this.DataList.forEach(function (obj) {
                    if ($.trim(obj.id) == $.trim(refThis.displayData[curindex]["id"])) {
                        obj[checkProp] = refThis.checkNullOrEmpty(refThis.displayData[curindex][checkProp])
                        obj[setProp] = refThis.displayData[curindex][setProp]
                    }
                })

            },
            setValue: function () {
                this.$data.origVal = _.cloneDeep(this.DataList);
                this.$data.displayData = _.cloneDeep(this.DataList);
            },
            showHideData: function () {
                var refThis = this
                if ($('#chkHideShow').prop("checked") == true) {
                    //checked
                    this.displayData.forEach(function (obj) {
                        if (Em(obj.dailySummary) && Em(obj.weeklySummary) && Em(obj.statusChange)) {
                            obj.isVisible = false
                        }
                    })
                }
                else {
                    //not checked
                    this.displayData.forEach(function (obj) {
                        obj.isVisible = true
                    })
                }
            },
          
            //search: function () {

            //    let data = this.DataList

            //    //Make all visible by default
            //    data.forEach(function (el) { el.isVisible = true; })

            //    //Search Jurs
            //    if ($("#jurSearch").val() != "") {
            //        data.forEach(function (el) {
            //            if (($("#jurSearch").val()).includes(el.id)) {
            //               el.isVisible = true;
            //            }
            //            else {
            //                el.isVisible = false;
            //            }
            //        })
            //    }

            //    var refThis = this
            //    //search daily
            //    if ($("#dailySummarySearch").val() != "") {
            //        data = data.filter(function (el) {
            //            return( el.isVisible == true)
            //        })

            //        data.forEach(function (el) {

            //            if ((refThis.checkNullOrEmpty(el.dailySummary)).indexOf($("#dailySummarySearch").val()) != -1) {
            //                el.isVisible = true;
            //            }
            //            else {
            //                el.isVisible = false;
            //            }
            //        })
            //    }

            //    //search weekly
            //    if ($("#weeklySummarySearch").val() != "") {
            //        data = data.filter(function (el) {
            //            return (el.isVisible == true)
            //        })

            //        data.forEach(function (el) {
            //            if ((refThis.checkNullOrEmpty(el.weeklySummary)).indexOf($("#weeklySummarySearch").val()) != -1) {
            //                el.isVisible = true;
            //            }
            //            else {
            //                el.isVisible = false;
            //            }
            //        })
            //    }

            //    //search status
            //    if ($("#statusSummarySearch").val() != "") {
            //        data = data.filter(function (el) {
            //            return (el.isVisible == true)
            //        })

            //        data.forEach(function (el) {
            //            if ((refThis.checkNullOrEmpty(el.statusChange)).indexOf($("#statusSummarySearch").val()) != -1) {
            //                el.isVisible = true;
            //            }
            //            else {
            //                el.isVisible = false;
            //            }
            //        })
            //    }

            //    this.DataList = data
            //},
            //syncData: function () {

            //    var refThis = this
            //    var itemsChange = this.displayData.filter(function (el) {
            //        return (el.isDirtyDaily == true || el.isDirtyWeekly == true || el.isDirtyStatus== true  )
            //    });
               
            //    itemsChange.forEach(function (el) {
            //        refThis.DataList.forEach(function (obj) {
            //            if ($.trim(obj.id) == $.trim(el.id)) {
            //                obj.dailySummary = el.dailySummary
            //                obj.weeklySummary = el.weeklySummary
            //                obj.statusChange = el.statusChange
            //                obj.isDirtyDaily = el.isDirtyDaily
            //                obj.isDirtyWeekly = el.isDirtyWeekly
            //                obj.isDirtyStatus = el.isDirtyStatus
            //            }
                        
            //        })
            //    })
            //},
            validateEmailData: function (email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            validateEmailListStr: function(emailStr) {
                var isValid = true
                if (!Em(emailStr)) {
                    var emailArr = emailStr.split(',')
                    var refthis = this;
                    emailArr.forEach(function (email) {
                    if (!refthis.validateEmailData($.trim(email))) {
                            isValid = false
                        }
                    })
                }
                return isValid;
            },
            validateData: function () {
                //Check Daily Data
                var warningData = ""
                var DailySummaryChange =  this.DataList.filter(function (el) {
                    return (el.isDirtyDaily == true)
                });

                var refthis = this;

                DailySummaryChange.forEach(function (e) {
                    if (!Em(e.dailySummary)) {
                        if (!refthis.validateEmailListStr(e.dailySummary)) {
                            warningData += "Daily Summary Emails For - " + e.name + "(" + e.id + ")<br>"
                        }
                    }
                })
                
                //Check Weekly Data
                var WeeklySummaryChange = this.DataList.filter(function (el) {
                    return (el.isDirtyWeekly == true)
                });

                WeeklySummaryChange.forEach(function (e) {
                    if (!Em(e.weeklySummary)) {
                        if (!refthis.validateEmailListStr(e.weeklySummary)) {
                            warningData += "Weekly Summary Emails For - " + e.name + "(" + e.id + ")<br>"
                        }
                    }
                })
                
                //Check Status Data
                var StatusChange = this.DataList.filter(function (el) {
                    return (el.isDirtyStatus == true)
                });

                StatusChange.forEach(function (e) {
                    if (!Em(e.statusChange)) {
                        if (!refthis.validateEmailListStr(e.statusChange)) {
                            warningData += "Status Change Emails For - " + e.name + "(" + e.id + ")<br>"
                        }
                    }
                })

                if (warningData != "") {
                    bootbox.alert("<font class='text-danger'><b>Please Correct Below Data.</b></font>" + "<br><br>" + warningData)
                    return false;
                }
                else {
                    return true;
                }
            },
            searchLink: function (link) {
                //clear search
                $("#jurSearch").val('').change()
                $("#dailySummarySearch").val("")
                $("#weeklySummarySearch").val("")
                $("#statusSummarySearch").val("")

                let newData = this.DataList
                if (link == "0-9") {
                    newData = newData.filter(function (el) {
                       return (
                            (el.name).startsWith("0") ||
                            (el.name).startsWith("1") ||
                            (el.name).startsWith("2") ||
                            (el.name).startsWith("3") ||
                            (el.name).startsWith("4") ||
                            (el.name).startsWith("5") ||
                            (el.name).startsWith("6") ||
                            (el.name).startsWith("7") ||
                            (el.name).startsWith("8") ||
                            (el.name).startsWith("9") 
                        )
                    });
                }
                else {
                    newData = newData.filter(function (el) {
                        return ((el.name).startsWith(link))
                    });
                }
                this.displayData = newData
                this.showHideData()
            },
            search: function () {
               
                let newData = this.DataList
                //search jur
                if ($("#jurSearch").val() != "") {
                    newData = newData.filter(function (el) {
                         return (($("#jurSearch").val()).includes(el.id))
                    });
                }
                //search daily
                if ($("#dailySummarySearch").val() != "") {
                    newData = newData.filter(function (el) {
                        if (el.dailySummary != null) {
                            return ((el.dailySummary).indexOf($("#dailySummarySearch").val()) != -1)
                        }
                    });
                }
                //search weekly
                if ($("#weeklySummarySearch").val() != "") {
                    newData = newData.filter(function (el) {
                        if (el.weeklySummary != null) {
                            return ((el.dailySummary).indexOf($("#weeklySummarySearch").val()) != -1)
                        }
                    });
                }
                //search status
                if ($("#statusSummarySearch").val() != "") {
                    newData = newData.filter(function (el) {
                        if (el.statusChange != null) {
                            return ((el.statusChange).indexOf($("#statusSummarySearch").val()) != -1)
                        }
                    });
                }

                this.displayData = newData
                this.showHideData()
            },
            save: function () {
                this.$http.post('Tools/EmailsManagement/SaveJurisdictionalData', {
                    vm: this.DataList,
                }).then(response => {

                    window.location.href = "../Tools/EmailsManagement?showJurisdictionData=true"
                })
            },
            saveData: function () {
                if (this.isDataDirty()) {
                    if (this.validateData()) {
                        this.setShowComment(true)
                    }
                }
                else {
                    bootbox.alert("There were no changes made.")
                }
  
            },
            setViewHistory: function (val) {
                this.showChangeHistoryModal = val
            },
            setShowComment: function (val) {
                this.showCommentModal = val
            },
            updateEditReason: function (reason) {
                this.editReason = reason
                //do it for all dirty
                this.DataList.forEach(function (e) {
                    if (e.isDirtyDaily == true) {
                        e.editReason = "DailySummary Changed - " + reason
                    }
                    if (e.isDirtyWeekly == true) {
                        e.editReason = "WeeklySummary Changed - " + reason
                    }
                    if (e.isDirtyStatus == true) {
                        e.editReason = "StatusUpdate Changed - " + reason
                    }
                })
                
                this.save();
            }
        },
         mounted() {
             this.setValue();
             $('#loadingSymbol').hide();
             this.searchLink("A");
             loadDocumentReady();
        },
        //watch: {
        //    'DataList': {
        //        handler: function (after, before) {
        //            alert("came")
        //            // Return the object that changed
        //            //var vm = this;
        //            let changed = after.filter(function (p, idx) {
        //                return Object.keys(p).some(function (prop) {
        //                    return p[prop] !== vm.$data.origVal[idx][prop];
        //                })
        //            })
        //            // Log it
        //           alert("came")
        //        },
        //        deep: true,
        //    },

        //}
    }
</script>