﻿<template>
    <div>
        <!-- Loading Sybmol Container-->
        <div id="loadingSymbol">
            <i class="fas fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
        <table class="row col-sm-12">
            <tr>
                <td v-for="(link) in SearchList" align="center">
                    &nbsp;&nbsp;[<a href="#" @click="searchLink(link)">{{link}}</a>]&nbsp;&nbsp;
                </td>
            </tr>
        </table>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Manufacturer</th>
                    <th>Daily Summary<font size="1px" class="text-info">(comma separated)</font></th>
                    <th>Status Update<font size="1px" class="text-info">(NU/RV)(comma separated)</font></th>
                    <th><input type="checkbox" id="chkHideShow" @click="showHideData()" /> <font class="text-red">Hide Blank Rows</font></th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color:darkgray">
                    <td width="30%">
                        <select class="form-control" data-lookupmultipleajax="Manufacturers" multiple="multiple" data-templatename="formatManufacturers" id="manufSearch" name="manufSearch"></select>
                    </td>
                    <td with="35%"><input id="dailySummarySearch" type="text" class="form-control" style="width:210px" /></td>
                    <td with="35%"><input id="statusSummarySearch" type="text" class="form-control" style="width:210px" /></td>
                    <td><button @click="search()" class="btn btn-light">&nbsp;<i class="fas fa-secondary" title="Search Manufacturers"></i>&nbsp;Search</button></td>
                </tr>
                <tr v-show="manuf.isVisible" v-for="(manuf, index) in displayData">
                    <td width="30%"><b>{{manuf.code}}</b>  -  {{manuf.description}}&nbsp;&nbsp;&nbsp;<a href="#" title="View Change History" class="pointer" @click="getChangeHistory(manuf.code)"><i class="fas fa-history" aria-hidden="true"></i></a></td>
                    <td with="35%">
                        <textarea rows=4 cols="40" class="form-control" v-model="manuf.dailySummary" spellcheck="false" v-bind:class="(manuf.isDirtyDaily)? 'ChangeIndicator' :''" @focusout="makeDirty(index,'dailySummary','isDirtyDaily')"></textarea>
                    </td>
                    <td with="35%">
                        <textarea rows=4 cols="40" class="form-control" v-model="manuf.statusChange" spellcheck="false" v-bind:class="(manuf.isDirtyStatus)? 'ChangeIndicator' :''" @focusout="makeDirty(index,'statusChange','isDirtyStatus')"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <ChangeReason :getChangeReason="showCommentModal" @setEditReason="updateEditReason" @setShowComment="setShowComment"></ChangeReason>
        <ChangeHistory ref="modalHistory" :historyData="changeHistories" :viewHistory="showChangeHistoryModal" @setViewHistory="setViewHistory"></ChangeHistory>

    </div>
   
</template>
<style>
    .ChangeIndicator {
        background-color: peachpuff
    }
</style>
<script>

    import ChangeReason from './ChangeReason.vue'
    import ChangeHistory from './ChangeHistory.vue'

    export default {
        props: ['DataList', 'SearchList'],
        components: {
            ChangeReason,
            ChangeHistory
        },
        data() {
            return {
                origVal: [],
                displayData: [],
                showCommentModal: false,
                showChangeHistoryModal: false,
                editReason: "",
                changeHistories: []
            }
        },
        methods: {
            showHideData: function () {
                var refThis = this
                if ($('#chkHideShow').prop("checked") == true) {
                    //checked
                    this.displayData.forEach(function (obj) {
                        if (Em(obj.dailySummary) && Em(obj.statusChange)) {
                            obj.isVisible = false
                        }
                    })
                }
                else {
                    //not checked
                    this.displayData.forEach(function (obj) {
                        obj.isVisible = true
                    })
                }
            },
            getChangeHistory: function (manufId) {
                var refThis = this 
                $.getJSON(jsPath + 'Tools/EmailsManagement/GetManufJurChangeHistoryData?manufId=' + manufId, function (data) {
                    refThis.changeHistories = data;
                    if (refThis.changeHistories.length > 0) {
                        refThis.setViewHistory(true)
                    } else {
                        alert("There are no change history data.")
                    }
                });
            },
            checkNullOrEmpty: function (val) {
                if (val === null) {
                    return ""
                }
                else {
                    return val
                }
            },
            setValue: function () {
                this.$data.origVal = _.cloneDeep(this.DataList);
                this.$data.displayData = _.cloneDeep(this.DataList);
            },
            makeDirty: function (curindex, checkProp, setProp) {
                var refThis = this
                this.origVal.forEach(function (obj) {
                    if ($.trim(obj.code) == $.trim(refThis.displayData[curindex]["code"])) {
                        if (refThis.checkNullOrEmpty(refThis.displayData[curindex][checkProp]) !== refThis.checkNullOrEmpty(obj[checkProp])) {
                            refThis.displayData[curindex][setProp] = true;
                        }
                        else {
                            refThis.displayData[curindex][setProp] = false;
                        }
                    }
                })
               
                //set in mainlist
                 this.DataList.forEach(function (obj) {
                     if ($.trim(obj.code) == $.trim(refThis.displayData[curindex]["code"])) {
                         obj[checkProp] = refThis.checkNullOrEmpty(refThis.displayData[curindex][checkProp])
                         obj[setProp] = refThis.displayData[curindex][setProp]
                    }
                })
            },
            searchLink: function (link) {
                //clear search
                $("#manufSearch").val('').change()
                $("#dailySummarySearch").val("")
                $("#statusSummarySearch").val("")

                let newData = this.DataList
                if (link == "0-9") {
                    newData = newData.filter(function (el) {
                        return (
                            (el.code).startsWith("0") ||
                            (el.code).startsWith("1") ||
                            (el.code).startsWith("2") ||
                            (el.code).startsWith("3") ||
                            (el.code).startsWith("4") ||
                            (el.code).startsWith("5") ||
                            (el.code).startsWith("6") ||
                            (el.code).startsWith("7") ||
                            (el.code).startsWith("8") ||
                            (el.code).startsWith("9")
                        )
                    });
                }
                else {
                    newData = newData.filter(function (el) {
                        return ((el.code).startsWith(link))
                    });
                }
                this.displayData = newData
                this.showHideData()
            },
            search: function () {
                let newData = this.DataList
                //search jur
                if ($("#manufSearch").val() != "") {
                    newData = newData.filter(function (el) {
                        return (($("#manufSearch").val()).includes(el.code))
                    });
                }
                //search daily
                if ($("#dailySummarySearch").val() != "") {
                    newData = newData.filter(function (el) {
                        if (el.dailySummary != null) {
                            return ((el.dailySummary).indexOf($("#dailySummarySearch").val()) != -1)
                        }
                    });
                }
               
                //search status
                if ($("#statusSummarySearch").val() != "") {
                    newData = newData.filter(function (el) {
                        if (el.statusChange != null) {
                            return ((el.statusChange).indexOf($("#statusSummarySearch").val()) != -1)
                        }
                    });
                }

                this.displayData = newData
                this.showHideData()
            },
            validateEmailData: function (email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            validateEmailListStr: function (emailStr) {
                var isValid = true
                if (!Em(emailStr)) {
                    var emailArr = emailStr.split(',')
                    var refthis = this;
                    emailArr.forEach(function (email) {

                        if (!refthis.validateEmailData($.trim(email))) {
                            isValid = false
                        }
                    })
                }
                return isValid;
            },
            validateData: function () {
                //Check Daily Data
                var warningData = ""
                var DailySummaryChange = this.DataList.filter(function (el) {
                    return (el.isDirtyDaily == true)
                });

                var refthis = this;

                DailySummaryChange.forEach(function (e) {
                    if (!Em(e.dailySummary)) {
                        if (!refthis.validateEmailListStr(e.dailySummary)) {
                            warningData += "Daily Summary Emails For - " + e.description + "(" + e.code + ")<br>"
                        }
                    }
                })

                //Check Status Data
                var StatusChange = this.DataList.filter(function (el) {
                    return (el.isDirtyStatus == true)
                });

                StatusChange.forEach(function (e) {
                    if (!Em(e.statusChange)) {
                        if (!refthis.validateEmailListStr(e.statusChange)) {
                            warningData += "Status Change Emails For - " + e.description + "(" + e.code + ")<br>"
                        }
                    }
                })

                if (warningData != "") {
                    bootbox.alert("<font class='text-danger'><b>Please Correct Below Data.</b></font>" + "<br><br>" + warningData)
                    return false;
                }
                else {
                    return true;
                }
            },
            isDataDirty: function () {
                var itemsChange = this.DataList.filter(function (el) {
                    return (el.isDirtyDaily == true || el.isDirtyStatus == true)
                });
                return (itemsChange.length > 0)
            },
            save: function () {
                this.$http.post('Tools/EmailsManagement/SaveManufactureData', {
                    vm: this.DataList,
                }).then(response => {
                    window.location.href = "../Tools/EmailsManagement?showManufactureData=true"
                })
            },
            saveData: function () {
                if (this.isDataDirty()) {
                    if (this.validateData()) {
                        this.setShowComment(true)
                    }
                }
                else {
                    bootbox.alert("There were no changes made.")
                }
                
            },
            setViewHistory: function (val) {
                this.showChangeHistoryModal = val
            },
            setShowComment: function (val) {
                this.showCommentModal = val
            },
            updateEditReason: function (reason) {
               
                this.editReason = reason
                //do it for all dirty
                this.DataList.forEach(function (obj) {
                    if (obj.isDirtyDaily == true) {
                        obj.editReason = "DailySummary Changed - " + reason
                    }
                    if (obj.isDirtyStatus == true) {
                        obj.editReason = "StatusUpdate Changed - " + reason
                    }
                })

                this.save();
            }
        },
        beforeCreate: function () {
            //alert("came")
            //$('#loadingSymbol').show();
        },
        mounted: function () {
            this.setValue();
            $('#loadingSymbol').hide();
            this.searchLink("A");
            loadDocumentReady();
        }
    }
</script>