﻿@model Submissions.Web.Areas.Documents.Create.IndexVueModel
@{
	ViewBag.Title = "Pending Letters";
	Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}

<div id="app"></div>
@section scripts{


	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		var gpsDocViewerUrl = '@Url.Action("GPSFile", "DocumentViewer", new { area = "" })' + '?gpsItemId=';
		var previewUrl = '@Url.Action("PreviewPdf", "CreateVue")';
		var baseComplianceDataModel = @Html.Raw(ComUtil.JsonEncodeCamelCase(new Submissions.Core.Models.LetterBook.ComplianceReviewData()));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}

@section  css{
	<style>
		body > div.container.body-content {
			margin-left:0px;
			margin-right:0px;
			width:auto;
		}
	</style>
}