﻿@model Submissions.Web.Areas.Tools.Models.MasterBilling.AddAssociationViewModel

@section css{
	<style type="text/css">
		/* Force Knockout to not flash on page load for items decorated with the followign class*/
		.ko-hidden {
			display: none;
		}

		.ResultBanner {
			font-weight: bold;
			color: red;
		}
	</style>
}

@{
	ViewBag.Title = "Link Submissions to: ";
}

@using (Html.BeginForm("AddAssociationSave", "MasterBilling", new { @MBID = @Model.MBID }, FormMethod.Post, new { id = "AddAssociationForm" }))
{
	@Html.Hidden("AddAssociationViewModel");

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4">
				&nbsp;
			</div>
			<div class="col-xs-4">
				<h3>@ViewBag.Title <small>@Html.DisplayFor(model => model.MBID)</small></h3>
			</div>
			<div class="col-xs-4 form-buttons">
				<input type="button" id="saveForm" value="Save" class="btn btn-default btn-sm" />
				@Html.ActionLink("Cancel", "Index", "MasterBilling", new { term = @Model.MBID }, new { @Id = "cancelButton", @class = "btn btn-default btn-sm" })
			</div>
		</div>
		<div class="row">
			&nbsp;
		</div>
		<div class="row">
			<div class="col-xs-4">
				&nbsp;
			</div>
			<!-- Search -->
			<div class="col-xs-4">
				<form id="SearchForm" class="form-horizontal">
					<div class="input-group">
						<div class="input-group-btn">
							@Html.LookupFor(model => model.ProjectId, model => model.ProjectName, LookupAjax.ProjectName, true)&nbsp;
							   <button type="submit" id="SearchBtn" class="btn btn-default" data-bind="click: $root.Search">
									<i class="fas fa-search"></i>&nbsp;Search
								</button>
								<a href="#" class="btn btn-default">
									<i class="fas fa-question-circle"></i>
								</a>
							</div>
						
					</div>
				</form>
			</div> <!-- End Search -->

	  </div>
		<div class="row">
			<div class="col-xs-4">
				&nbsp;
			</div>
			<div class="col-xs-4">
				<div id="queryResultsBanner"></div>
			</div>            
			<div class="col-xs-4">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				&nbsp;
			</div>
			<div class="col-sm-3">
				&nbsp;
			</div>
			<div class="col-sm-3">
				&nbsp;
			</div>
			<div class="col-sm-3">
				<a href="#" id="selectAllJurisdictions" data-bind="click: $root.selectAllJurisdictions" class="btn btn-default btn-sm pull-right">Select All</a>
			</div>
		</div>
		<!-- Search Results-->
		<div class="row">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><b>Submission Records </b>(<span data-bind="text: MasterBillingAssociation.SubmissionRecords().length"></span>)</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="row">
								<table class="table table-hover tableBackground ko-hidden" data-bind="css: { 'ko-hidden': false }">
									<thead>
										<tr>
											<th>Id Number</th>
											<th>Version</th>
											<th>Game Name</th>
											<th>Date Code</th>
										</tr>
									</thead>
									<tbody data-bind="foreach: MasterBillingAssociation.SubmissionRecords">
										<tr>
											<td>
												<p data-bind="text: IdNumber"></p>
											</td>
											<td>
												<p data-bind="text: Version"></p>
											</td>
											<td>
												<p data-bind="text: GameName"></p>
											</td>
											<td>
												<p data-bind="text: DateCode"></p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><b>Jurisdictions </b>(<span data-bind="text: MasterBillingAssociation.JurisdictionList().length"></span>)</h3>
					</div>
					<div class="panel-body">
						<div id="jurisdictionList" class="form-horizontal">
							<p data-bind="text: MasterBillingAssociation.ContextIdNumber"></p>
							<div class="row">
								<table class="table table-hover tableBackground">
									<thead>
										<tr>
											<th>&nbsp;</th>
											<th>Jurisdiction</th>
											<th>Juisdiction Id</th>
											<th>WON</th>
										</tr>
									</thead>
									<tbody data-bind="foreach: MasterBillingAssociation.JurisdictionList">
										<tr>
											<td><input type="checkbox" data-bind="checked: Marked" /></td>
											<td><p data-bind="text: Name"></p></td>
											<td><p data-bind="text: JurisdictionId"></p></td>
											<td><p data-bind="text: MasterBillingId"></p></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- End Search Results-->
	</div>
}

@section scripts {
	@Scripts.Render("~/bundles/script/knockout")
	<script>
		// Globals
		var data = @Html.Raw(Json.Encode(Model));
		var defaultJurisdiction = data.DefaultJurisdiction;
		var defaultSubmission = data.DefaultSubmission;
		var selectAllJurisdictionsState = false;
		var submissionFileNumberPattern = new RegExp( "([a-zA-Z][a-zA-Z])-([1-9]?[0-9][0-9])-([a-zA-Z][a-zA-Z][a-zA-Z])-([0-9][0-9])-([1-9]?[0-9][0-9])-?([0-9]?[0-9][0-9])?","i");

		var ModelMappingFilter = {
			'ignore': ['DefaultJurisdiction', 'DefaultSubmission'],
			'MasterBillingAssociation': {
				create: function (options) {
					return new MasterBillingAssociationModel(options.data);
				}
			}
		};

		var MasterBillingAssociationModel = function(data)
		{
			var self = this;
			ko.mapping.fromJS(data,ModelMappingFilter,self);

			self.showJurisdictions = function(data)
			{
				self.MasterBillingAssociation.JurisdictionList.removeAll();
				self.MasterBillingAssociation.ContextIdNumber("");

				self.MasterBillingAssociation.ContextIdNumber(data.IdNumber());
				ko.utils.arrayForEach(data.Jurisdictions(), function(jurisdiction){
					var newJurisdiction = ko.mapping.fromJS(jurisdiction, defaultJurisdiction);
					self.MasterBillingAssociation.JurisdictionList.push(newJurisdiction);
				});
			}

			self.selectAllJurisdictions = function()
			{
				var submissionRecordId = "";

				ko.utils.arrayForEach(self.MasterBillingAssociation.JurisdictionList(), function(item){
					if(!selectAllJurisdictionsState){
						item.Marked(true);
					}
					else
					{
						item.Marked(false);
					}

					if(submissionRecordId == "")
					{
						submissionRecordId = item.SubmissionId();
					}
				});

				if(selectAllJurisdictionsState)
				{
					selectAllJurisdictionsState = false;
					$('#selectAllJurisdictions').html("Select All");
					var match = ko.utils.arrayFirst(self.MasterBillingAssociation.SubmissionRecords(), function(item) {
						return  item.Id() === submissionRecordId;
					});
					match.Marked(false);
				}
				else
				{
					selectAllJurisdictionsState = true;
					$('#selectAllJurisdictions').html("De-Select All");
				}
			}

			self.Search = function()
			{
				var option = $('#ProjectName').val(); 
				var term = $.trim(option).toUpperCase();
				var url = '@Url.Action("loadSubmissionSearchResults")';
				var validSearch = false;
				$('#queryResultsBanner').empty();
				$('#queryResultsBanner').hide();

				 //Strip all characters except for Alphanumeric and dashes
				term = term.replace(/[^-A-Za-z0-9]/gi, '');

				if(term.indexOf('-') > -1)
				{
					var isSubFile = submissionFileNumberPattern.test(term);
					if(isSubFile)
					{
						validSearch = true;
					}
				}
				
				if(validSearch)
				{
					$.post(url, {term: term}, function(data) {
						if(!data.Results)
						{
							$('<p class="ResultBanner">Query returned no results.</p>').appendTo('#queryResultsBanner');
							$('#queryResultsBanner').show();
						}
						ko.mapping.fromJS(data,ModelMappingFilter,self);
					});
					return true;
				}
				else
				{
					$('<p class="ResultBanner">Invalid File Number.</p>').appendTo('#queryResultsBanner');
					$('#queryResultsBanner').show();
					return false;
				}
			}
		}

		var masterBillingAssociatioViewModel = new MasterBillingAssociationModel(data);

		// -- Full Page Load
		$(function () {
			ko.applyBindings(masterBillingAssociatioViewModel);
		});

		//Jquery Events Handlers
		$('#SearchBtn').click(function(e){
			e.preventDefault();
		});

		$('#cancelButton').click(function(e){
			e.preventDefault();
			bootbox.confirm("Any changes you have made have not been saved yet. Return to search page and lose changes?", function(ack){
				if(ack){
					window.location("@Url.Action("Index","MasterBilling",new {term = @Model.MBID})");
				}
			});
		});

		$('#saveForm').click(function(e){
			e.preventDefault();

			bootbox.confirm("Save changes?", function(ack){
				if(ack){
					var data = ko.toJS(masterBillingAssociatioViewModel);
					$('#AddAssociationViewModel').val(JSON.stringify(data));
					$('#AddAssociationForm').submit();
				}
				else{

				}
			});
		});
	</script>
}