﻿@model Submissions.Web.Areas.Tools.Models.MasterBilling.EditViewModel

@section css{
	@Styles.Render("~/bundles/css/hopscotch")
	<style type="text/css">
		/* Force Knockout to not flash on page load for items decorated with the following class*/
		.ko-hidden {
			display: none;
		}

		.ResultBanner {
			font-weight: bold;
			color: red;
		}
	</style>
}

@{
	ViewBag.Title = "Edit";
}

<div class="row">
	<div class="col-sm-6">
		<h3 class="form-h3">Work Order Number (WON): <small>@Html.DisplayFor(model => model.MBID)</small></h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<input type="button" id="saveForm" value="Save" class="btn btn-default btn-sm" />
		@Html.ActionLink("Cancel", "Index", "MasterBilling", new { term = @Model.MBID }, new { @Id = "cancelButton", @class = "btn btn-default btn-sm" })
	</div>
</div>

<div class="row">
	&nbsp;
</div>

@using (Html.BeginForm("Edit", "MasterBilling", FormMethod.Post, new { id = "EditForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true);
	@Html.Hidden("EditViewModel");
	@Html.HiddenFor(x => x.MBID)

	<div class="row">
		<div class=" col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><b>@Html.DisplayFor(x => x.SubmissionRecord.FileNumber)</b></h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-6 pull-left">
								<div class="form-group form-group-sm">
									@Html.LabelFor(x => x.SubmissionRecord.FileNumber, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.DisplayFor(x => x.SubmissionRecord.FileNumber, new { @class = "form-control" })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(x => x.SubmissionRecord.IdNumber, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.DisplayFor(x => x.SubmissionRecord.IdNumber, new { @class = "form-control" })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(x => x.SubmissionRecord.Version, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.DisplayFor(x => x.SubmissionRecord.Version, new { @class = "form-control" })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(x => x.SubmissionRecord.GameName, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.DisplayFor(x => x.SubmissionRecord.GameName, new { @class = "form-control" })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(x => x.SubmissionRecord.DateCode, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.DisplayFor(x => x.SubmissionRecord.DateCode, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			&nbsp;
		</div>
		<div class="col-sm-3">
			<a href="#" data-bind="click: $root.removeAllJurisdictions" class="btn btn-default btn-sm pull-right">Remove All</a>
		</div>
		<div class="col-sm-3">
			&nbsp;
		</div>
		<div class="col-sm-3">
			<a href="#" data-bind="click: $root.addAllJurisdictions" class="btn btn-default btn-sm pull-right">Add All</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Jurisdictions currently associated with WON: <b>@Html.DisplayFor(x => x.MBID)</b></h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-2">
								&nbsp;
							</div>
							<div class="col-sm-2">
								<table class="table table-hover tableBackground ko-hidden" data-bind="css: { 'ko-hidden': false }">
									<thead>
										<tr>
											<th>Jurisdiction Name</th>
											<th>Jurisdiction Id</th>
											<th>WON</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody data-bind="foreach: MasterBillingProject.AssociatedJurisdictions">
										<tr>
											<td>
												<p data-bind="text: Name">
											</td>
											<td>
												<p type="text" data-bind="text: JurisdictionId">
											</td>
											<td>
												<p type="text" data-bind="text: MasterBillingId">
											</td>
											<td>
												<a href="#" data-bind="click: $root.removeJurisdiction"><i class="fas fa-minus"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-2">
								&nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Jurisdictions available for association</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-2">
								&nbsp;
							</div>
							<div class="col-sm-2">
								<table class="table table-hover tableBackground ko-hidden" data-bind="css: { 'ko-hidden': false }">
									<thead>
										<tr>
											<th>Jurisdiction Name</th>
											<th>Jurisdiction Id</th>
											<th>WON</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody data-bind="foreach: MasterBillingProject.UnAssociatedJurisdictions">
										<tr>
											<td>
												<p data-bind="text: Name">
											</td>
											<td>
												<p type="text" data-bind="text: JurisdictionId">
											</td>
											<td>
												<p type="text" data-bind="text: MasterBillingId">
											</td>
											<td>
												<a href="#" data-bind="click: $root.addJurisdiction"><i class="fas fa-plus"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-2">
								&nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scripts{
	@Scripts.Render("~/bundles/script/knockout")
	<script>
		var data = @Html.Raw(Json.Encode(Model));
		var defaultJurisdiction = data.DefaultJurisdiction;
		var MBID = $('#MBID').val();

		var masterBillingModelMapping = {
			'ignore': ['DefaultJurisdiction'],
			'MasterBillingProject': {
				create: function (options) {
					return new masterBillingModel(options.data);
				}
			}
		};

		var masterBillingModel = function (data){
			var self = this;
			ko.mapping.fromJS(data, masterBillingModelMapping, self);

			self.addJurisdiction = function (jurisdiction) {

				var newJurisdiction = ko.mapping.fromJS(jurisdiction, defaultJurisdiction);
				newJurisdiction.MasterBillingId(MBID);
				newJurisdiction.Marked(false);
				self.MasterBillingProject.AssociatedJurisdictions.push(jurisdiction);
				self.MasterBillingProject.UnAssociatedJurisdictions.remove(jurisdiction);
			}

			self.addAllJurisdictions = function (){
			    bootbox.confirm("Are you sure you would like to add association to Work Order Number: " + MBID + " for all jurisdictions?", function(ack){
					if(ack) {
						ko.utils.arrayForEach(self.MasterBillingProject.UnAssociatedJurisdictions(), function(jurisdiction){
							var newJurisdiction = ko.mapping.fromJS(jurisdiction, defaultJurisdiction);
							newJurisdiction.MasterBillingId(MBID);
							newJurisdiction.Marked(false);
							self.MasterBillingProject.AssociatedJurisdictions.push(newJurisdiction);
						});
						self.MasterBillingProject.UnAssociatedJurisdictions.removeAll();
					}
				});
			}

			self.addSelected = function()
			{
				ko.utils.arrayForEach(self.MasterBillingProject.UnAssociatedJurisdictions(), function(jurisdiction){
					if(jurisdiction.Marked())
					{
						var newJurisdiction = ko.mapping.fromJS(jurisdiction, defaultJurisdiction);
						newJurisdiction.MasterBillingId(MBID);
						newJurisdiction.Marked(false);
						self.MasterBillingProject.AssociatedJurisdictions.push(newJurisdiction);
						self.MasterBillingProject.UnAssociatedJurisdictions.remove(jurisdiction);
					}
				});
			}

			self.removeJurisdiction = function(jurisdiction) {
				var newJurisdiction = ko.mapping.fromJS(jurisdiction, defaultJurisdiction);
				newJurisdiction.MasterBillingId(null);
				newJurisdiction.Marked(false);
				self.MasterBillingProject.UnAssociatedJurisdictions.push(jurisdiction);
				self.MasterBillingProject.AssociatedJurisdictions.remove(jurisdiction);
			}

			self.removeAllJurisdictions = function(){
			    bootbox.confirm("Are you sure you would like to remove association to Work Order Number: " + MBID + " for all jurisdictions?", function(ack){
					if(ack) {
						ko.utils.arrayForEach(self.MasterBillingProject.AssociatedJurisdictions(), function(jurisdiction){
							var newJurisdiction = ko.mapping.fromJS(jurisdiction, defaultJurisdiction);
							newJurisdiction.MasterBillingId(null);
							newJurisdiction.Marked(false);
							self.MasterBillingProject.UnAssociatedJurisdictions.push(newJurisdiction);
						});
						self.MasterBillingProject.AssociatedJurisdictions.removeAll();
					}
				});
			}

			self.removeSelected = function()
			{
				ko.utils.arrayForEach(self.MasterBillingProject.AssociatedJurisdictions(), function(jurisdiction){
					if(jurisdiction.Marked())
					{
						var newJurisdiction = ko.mapping.fromJS(jurisdiction, defaultJurisdiction);
						newJurisdiction.MasterBillingId(null);
						newJurisdiction.Marked(false);
						self.MasterBillingProject.UnAssociatedJurisdictions.push(newJurisdiction);
						self.MasterBillingProject.AssociatedJurisdictions.remove(jurisdiction);
					}
				});
			}
		};

		var masterBillingViewModel = new masterBillingModel(data);

		$(function () {
			ko.applyBindings(masterBillingViewModel);
		});

		$('#cancelButton').click(function(e){
			e.preventDefault();
			bootbox.confirm("Any changes you have made have not been saved yet. Return to search page and lose changes?", function(ack){
				if(ack){
					window.location("@Url.Action("Index","MasterBilling",new {term = @Model.MBID})");
				}
			});
		});

		$('#saveForm').click(function(e){
			e.preventDefault();
			if (!validate()) {
				return;
			}

			bootbox.confirm("Save changes?", function(ack){
				if(ack){
					var data = ko.toJS(masterBillingViewModel);
					$('#EditViewModel').val(JSON.stringify(data));
					$('#EditForm').submit();
				}
				else{

				}
			});
		});

		// Validate Form
		function validate() {
			return true;
		};
	</script>
}
