@model Submissions.Web.Areas.Tools.Models.MasterBilling.IndexViewModel

@section css{
	@Styles.Render("~/bundles/css/hopscotch")
	<link rel="stylesheet" type="text/css" href="~/Content/ToggleSwitch.css" />
	<style type="text/css">
		/* Force Knockout to not flash on page load for items decorated with the following class*/
		.ko-hidden {
			display: none;
		}

		.ResultBanner {
			font-weight: bold;
			color: red;
		}

		#loading-image {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -25px;
			margin-left: -200px;
			padding: 20px;
		}

		.black-background {
			background-color: #000000;
		}

		.white {
			color: #ffffff;
		}
	</style>
}

@{
	ViewBag.Title = "Work Order Number Search";
}

@using (@Html.BeginForm("BulkUpdate", "MasterBilling", FormMethod.Post, new { id = "BulkUpdateForm" }))
{
	@Html.HiddenFor(model => model.BulkUpdateModel)
	@Html.HiddenFor(model => model.JurisdictionFilterId)
}

<div class="modal" id="loading-image">
	<div id="modalContent" class="modal-dialog">
		<div><i class="fas fa-spinner fa-pulse fa-5x"></i></div>
	</div>
</div>

<div class="modal fade" id="bulkUpdateModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Bulk Update</h4>
			</div>
			<div class="modal-body">
				<div class="input-group">
					<label>Updated WON</label>
					<input id="bulkUpdateDestination" type="text" class="form-control" placeholder="MO-22-WMS-14-44 or MO022WMS14044">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn btn-default btn-sm" data-dismiss="modal">Close</button>
				<button type="button" id="bulkUpdateSaveChanges" class="btn btn btn-default btn-sm">Save changes</button>
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="validSearchTerm" />

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 ">
			&nbsp;
		</div>
		<div class="col-xs-4">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-xs-4 form-buttons">
			<button id="BulkUpdateSave" class="btn btn-default btn-sm black-background white ko-hidden" data-toggle="modal" data-target="#bulkUpdateModal">Bulk Update</button>
			@Html.ActionLink("Add Association", "AddAssociation", null, new { @class = "btn btn-default btn-sm ko-hidden", @id = "AddBtn", @data_bind = "css: { 'ko-hidden': false }" })
			@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-default btn-sm", id = "CancelBtn" })
		</div>
	</div>
	<div class="row">
		&nbsp;
	</div>
	<div class="row">
		<div class="col-xs-4">
			&nbsp;
		</div>
		<!-- Search -->
		<div class="col-xs-4">
			<form id="SearchForm" class="form-horizontal">
				<div class="input-group">
					<div class="input-group-btn">
						<input id="searchField" type="text" class="form-control" placeholder="MO-22-WMS-14-44 or MO022WMS14044" value='@Request.QueryString["term"]'>
						<button type="submit" id="SearchBtn" title="Search" class="btn btn-default" data-bind="click: $root.Search">
							<i class="fas fa-search"></i>&nbsp;Search
						</button>
						<a href="#" id="filter" title="Filter" class="btn btn-default">
							<i class="fas fa-filter"></i>
						</a>
						<a href="#" id="StartTour" title="Help" class="btn btn-default">
							<i class="fas fa-question-circle"></i>
						</a>
						<a href="#" id="ClearSearch" title="Clear Search Results" class="btn btn-default">
							<i class="fas fa-times"></i>
						</a>
					</div>
				</div>
				<div id="jurisdictionFilterGroup" class="input-group ko-hidden">
					<div class="input-group-btn">
						@Html.LookupFor(model => model.JurisdictionFilterId, model => model.JurisdictionFilterName, LookupAjax.Jurisdictions, false, new { @Id = "jurisdictionFilter", style="width: 100%;" })
					</div>
				</div>
			</form>
		</div> <!-- End Search -->
	</div>
	<div class="row">
		<div class="col-xs-4">
			&nbsp;
		</div>
		<div class="col-xs-4">
			<div id="queryResultsBanner"></div>
		</div>
		<div class="col-xs-4">
			&nbsp;
		</div>
	</div>
	<!-- Search Results-->
	<div class="row">
		<table id="searchResults" class="table table-hover tableBackground ko-hidden" data-bind="css: { 'ko-hidden': false }">
			<thead>
				<tr>
					<th><input type="checkbox" id="CheckAll" class="ko-hidden bulkUpdate notForUpdateCheckBox" /></th>
					<th id="toggleAll"><i id="toggleAllImg" class="fas fa-plus" aria-hidden="true"></i></th>
					<th>File Number</th>
					<th>Id Number</th>
					<th>Version</th>
					<th>Game Name</th>
					<th>Date Code</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: MasterBillingProject.Submissions">
				<tr data-bind="attr: {'id': 'parent.' + Id()}">
					<td class="submissionCheckbox"><input type="checkbox" data-bind="attr:{'id': 'CheckSubmission.' + Id()}" class="ko-hidden bulkUpdate notForUpdateCheckBox" /></td>
					<td class="parent"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;(<span data-bind="text: Jurisdictions().length"></span>)</td>
					<td data-bind="text: FileNumber"></td>
					<td data-bind="text: IdNumber"></td>
					<td data-bind="text: Version"></td>
					<td data-bind="text: GameName"></td>
					<td data-bind="text: DateCode"></td>
					<td>
						<a data-bind="attr: {'id': 'edit.' + Id(), href: '@Url.Action("Edit", "MasterBilling")/' + Id() + '?MBID=' + MBID() }">Edit</a>
					</td>
				</tr>
				<tr class="child" data-bind="attr: {'id': 'child.' + Id()}">
					<td colspan="3">
						<table class="table table-hover table-striped">
							<tr>
								<th>&nbsp;</th>
								<th>Jurisdiction</th>
								<th>Jurisdiction Id</th>
								<th>WON</th>
							</tr>
							<tbody data-bind="foreach: Jurisdictions">
								<tr>
									<td><input type="checkbox" data-bind="attr:{'id': 'CheckJurisdiction.' + Id() + '.' + JurisdictionId() + '.' + SubmissionId()}" class="ko-hidden bulkUpdate" /></td>
									<td data-bind="text: Name"></td>
									<td data-bind="text: JurisdictionId"></td>
									<td data-bind="text: MasterBillingId"></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div> <!-- End Search Results-->
	<!-- Query Results Banner -->
</div>
<div>
	<label id="bulkUpdateLabel" class="ko-hidden">Bulk Update:</label>
</div>
<div id="toggleSwitchContainer" class="onoffswitch ko-hidden">

	<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="bulkUpdateToggle">
	<label class="onoffswitch-label" for="bulkUpdateToggle">
		<span class="onoffswitch-inner"></span>
		<span class="onoffswitch-switch"></span>
	</label>
</div>

@section scripts {
	@Scripts.Render("~/bundles/script/knockout")
	@Scripts.Render("~/bundles/script/hopscotch")
	<script>
	// Globals
	var data = @Html.Raw(Json.Encode(Model));
	var defaultJurisdiction = data.DefaultJurisdiction;
	var defaultSubmission = data.DefaultSubmission;
	var _MBID = data.MBID;

	// Regex Patterns for MAtching Submission and Dynamics Files
	var submissionFileNumberPattern = new RegExp( "([a-zA-Z][a-zA-Z])-([1-9]?[0-9][0-9])-([a-zA-Z][a-zA-Z][a-zA-Z])-([0-9][0-9])-([1-9]?[0-9][0-9])-?([0-9]?[0-9][0-9])?","i");
	var dynamicsFileNumber = new RegExp("^([a-zA-Z][a-zA-Z][0-9][0-9][0-9][a-zA-Z][a-zA-Z][a-zA-Z][0-9][0-9][0-9][0-9][0-9])$","i");
	var dynamicsTransferFileNumber = new RegExp("([a-zA-Z][a-zA-Z])([0-9][0-9][0-9])([a-zA-Z][a-zA-Z][a-zA-Z])([0-9][0-9])([0-9][0-9][0-9])([0-9][0-9][0-9])","i");

	var masterBillingModelMapping = {
		'ignore': ['DefaultJurisdiction', 'DefaultSubmission'],
		'MasterBillingProject': {
			create: function (options) {
				return new masterBillingModel(options.data);
			}
		}
	};

	var masterBillingModel = function (data){
		var self = this;
		ko.mapping.fromJS(data,masterBillingModelMapping,self);

		self.Search = function()
		{
			$('#loading-image').modal('show');
			$('#AddBtn').hide();
			$('#queryResultsBanner').empty();
			$('#queryResultsBanner').hide();

			var term = $.trim($('#searchField').val()).toUpperCase();
			var JurisdictionId = $.trim($('#jurisdictionFilter').val());
			var url = '@Url.Action("Search")';
			var validSearch = false;

			// Strip all characters except for Alphanumeric and dashes
			term = term.replace(/[^-A-Za-z0-9]/gi, '');

			if(term.indexOf('-') > -1)
			{
				var isSubFile = submissionFileNumberPattern.test(term);
				if(isSubFile)
				{
					var FileNumberObj = new FileNumber(term);
					term =	FileNumberObj.ProjectType +
							FileNumberObj.PrimaryJurisdiction +
							FileNumberObj.ManufacturerShortCode +
							FileNumberObj.Year +
							FileNumberObj.SequenceNumber;
					if(FileNumberObj.TransferExtension != undefined)
					{
						term = term + FileNumberObj.TransferExtension;
					}
					validSearch = true;
				}
			}
			else
			{
				var isDynamicsFile = dynamicsFileNumber.test(term);
				var isDynamicsTransferFile = dynamicsTransferFileNumber.test(term);

				if(isDynamicsFile || isDynamicsTransferFile)
				{
				   validSearch = true;
				}
			}

		 
			var searchTerm = {};
			searchTerm["Term"] = term;
			searchTerm["JurisdictionId"] = JurisdictionId;
			var jsonData = JSON.stringify(searchTerm);
			if(validSearch)
			{
				$.ajax({
					url: url,
					type: 'POST',
					data: jsonData,
					contentType: "application/json",
					dataType: "json",
					success: function (data) {
						$('#AddBtn').show();
						ko.mapping.fromJS(data,masterBillingModelMapping,self);
						$('#validSearchTerm').val(term);
						$('#toggleAllImg').show();
						$('#toggleSwitchContainer').show();
						$('#bulkUpdateLabel').show();
						return true;
					},
					error: function (data) {
						self.MasterBillingProject.Submissions.removeAll();

					  bootbox.confirm("This WON does not exist in the Database. Would you like to Associate it to a file Number?", function(ack){
							if(ack){
								var url = "@Url.Action("AddAssociation", "MasterBilling", null, Request.Url.Scheme)";
								url = url + "/" + term;
								window.location = url;
							}
						});
						$('#loading-image').modal('hide');
						$('#toggleAllImg').hide();
					},
					complete: function (data) {
						$('#loading-image').modal('hide');
					}
				});
			}
			else
			{
				$('#loading-image').modal('hide');
				$('#AddBtn').hide();
				self.MasterBillingProject.Submissions.removeAll();
				$('<p class="ResultBanner">Invalid Master Billing Id.</p>').appendTo('#queryResultsBanner');
				$('#queryResultsBanner').show();
				$('#pleaseWaitDialog').modal('hide');
				return false;
			}
		}
	}

	var masterBillingViewModel = new masterBillingModel(data);

	// -- Full Page Load
	$(function () {

		var jurisdictionFilter = $('#JurisdictionFilterId').val();

		if(jurisdictionFilter > 0 && jurisdictionFilter != "" && jurisdictionFilter != " ")
		{
			$("#jurisdictionFilterGroup").show();
		}

		if(masterBillingViewModel.MasterBillingProject.Submissions().length == 0)
		{
			$('#toggleAllImg').hide();
			$('#toggleSwitchContainer').hide();
			$('#bulkUpdateLabel').hide();
		}
		else
		{
			$('#bulkUpdateLabel').show();
			$('#toggleSwitchContainer').show();
		}

		var searchResults = $('#searchResults');

		searchResults.on('click', '.parent', function () {
			$(this).closest('tr').find('i').toggleClass('fa-plus fa-minus')
			$(this).closest('tr').next().toggle();
			$(this).closest('tr').focus();
		});

		searchResults.on('click', '.submissionCheckbox input:checkbox', function () {
			var self = $(this);
			var parent = self.closest('tr');
			parent.closest('tr').find('i').toggleClass('fa-plus fa-minus')
			parent.closest('tr').next().toggle();
			var child = parent.closest('tr').next();
			var jurisdictions = child.find(':checkbox');
			jurisdictions.each(function(index,element){
				$(element).prop('checked', self.prop("checked"));
			});
		});

		$('#toggleAll').click(function(){

			var currentClass = $('#toggleAllImg').attr('class');

			if(currentClass == "fas fa-plus" )
			{
				$('tr i').attr( "class", "fas fa-minus" );
				$('.child').show();
			}
			else
			{
				$('tr i').attr( "class", "fas fa-plus" );
				$('.child').hide();
			}
		});


		$('#bulkUpdateToggle').change(function(){
			$('.bulkUpdate').toggle("slow");
			$('#BulkUpdateSave').toggle("slow");
			$(".bulkUpdate").prop('checked', false);
		});

		$('#CheckAll').change(function(){
			$(".bulkUpdate").prop('checked', $(this).prop("checked"));
		});


		$('#searchResults .parent').css("cursor","pointer").attr("title","Click to expand/collapse");

		$('#toggleAll').css("cursor","pointer").attr("title","Click to expand/collapse All");

		$('.child').toggle();

		$('#queryResultsBanner').hide();

		var queryTerm = "@Request.QueryString["term"]";
		if(queryTerm == "" || queryTerm == undefined )
		{
			$('#AddBtn').hide();
		}

		ko.applyBindings(masterBillingViewModel);
	});

	// Jquery Events Handlers
	$('#SearchBtn').click(function(e){
		e.preventDefault();
		$('.bulkUpdate').hide();
		$('#BulkUpdateSave').hide();
		$(".bulkUpdate").prop('checked', false);
		$('#bulkUpdateToggle').prop('checked',false);
	});

	$('#AddBtn').click(function(e)
	{
		e.preventDefault();
		var searchTerm = $('#validSearchTerm').val();

		if($('#validSearchTerm').val() == "" || $('#validSearchTerm').val() == undefined)
		{
			$('#validSearchTerm').val("@Request.QueryString["term"]");
			searchTerm = $('#validSearchTerm').val();
		}
		var url = "@Url.Action("AddAssociation", "MasterBilling", null, Request.Url.Scheme)";
		url = url + "/" + searchTerm;
		window.location = url;
	});

	$('#ClearSearch').click(function(e){
		e.preventDefault();
		var url = "@Url.Action("Index", "MasterBilling", null, Request.Url.Scheme)";
		window.location = url;
	});

	$('#StartTour').click(function(e){
		hopscotch.startTour(MasterBillingTour);
	});

	$('#filter').click(function(e){
		$('#jurisdictionFilterGroup').toggle("slow");
		$('#jurisdictionFilter').select2("val", "");
	});

	$('#BulkUpdateSave').click(function(e){
		e.preventDefault();
	});

	$('#bulkUpdateSaveChanges').click(function(e){
		e.preventDefault();

		bootbox.confirm("Are you sure you would like to process the Bulk Update operation? *Note if the selected jurisdictions exist in other records of the same Submission " +
			"they will also be updated.", function(ack){
				if(ack) {
					var destination = $.trim($('#bulkUpdateDestination').val()).toUpperCase();
					var valid = false;

					// Strip all characters except for Alphanumeric and dashes
					destination = destination.replace(/[^-A-Za-z0-9]/gi, '');

					if(destination.indexOf('-') > -1)
					{
						var isSubFile = submissionFileNumberPattern.test(destination);
						if(isSubFile)
						{
							var FileNumberObj = new FileNumber(destination);
							destination =	FileNumberObj.ProjectType +
									FileNumberObj.PrimaryJurisdiction +
									FileNumberObj.ManufacturerShortCode +
									FileNumberObj.Year +
									FileNumberObj.SequenceNumber;
							if(FileNumberObj.TransferExtension != undefined)
							{
								destination = destination + FileNumberObj.TransferExtension;
							}
							valid = true;
						}
					}
					else
					{
						var isDynamicsFile = dynamicsFileNumber.test(destination);
						var isDynamicsTransferFile = dynamicsTransferFileNumber.test(destination);

						if(isDynamicsFile || isDynamicsTransferFile)
						{
							valid = true;
						}
					}

					if(valid)
					{
						var itemsForUpdate = $('.bulkUpdate:checkbox:checked:not(.notForUpdateCheckBox)');
						var primariesForUpdate = [];
						itemsForUpdate.each(function( index, element ) {
							primariesForUpdate.push(element.id.split('.')[1]);
						});

						var bulkUpdateObj = {};
						bulkUpdateObj["Destination"] = destination;
						bulkUpdateObj["Primaries"] = primariesForUpdate;
						var BulkUpdateModel = JSON.stringify(bulkUpdateObj);
						$('#BulkUpdateModel').val(BulkUpdateModel);
						$('#BulkUpdateForm').submit();
					}
					else
					{
						bootbox.alert("Invalid MasterBilling Id.")
					}
				}
			});
	});
	</script>
}