﻿@model Submissions.Web.Areas.Tools.Models.OCUITIndexView

@{
	ViewBag.Title = "Other Components Used in Testing";
}

@section css{
	@Styles.Render("~/bundles/css/letterGeneration")
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}