﻿<template>
	<base-field-wrapper
		:dirty="fieldIsDirty"
		:error="fieldHasError">
		<label
			:class="{ 
				'gli-base-checkbox_dirty': fieldIsDirty, 
				'gli-base-checkbox_disabled': disabled, 
				'gli-base-checkbox_enabled': !disabled, 
				'gli-base-checkbox_off': !value 
			}">
			<input
				type="checkbox" 
				:checked="value" 
				:style="fieldStyle"
				:disabled="disabled"
				@change="setChecked($event.target.checked)" />
			<div class="gli-base-checkbox_box">
				<i  
					class="fa fa-check" 
					aria-hidden="true"></i>
			</div>
			{{ label }}
		</label>
		<template v-slot:errors>			
			<!-- @slot Validation error messages to the user go here -->
			<slot name="errors"></slot>
		</template>
	</base-field-wrapper>
</template>

<script>
import BaseFieldWrapper from "../fieldWrapper/BaseFieldWrapper.vue";

/**
 * A checkbox component with built-in support for error messages.
 */
export default {
	components: {
		BaseFieldWrapper
	},
	props: {
		/**
		 * Sets the inline styling for the input field.
		 */
		fieldStyle: {
			type: Object,
			required: false,
			default: null
		},
		/**
		 * The field's validation context. Needed for dirty state and error tracking.
		 */
		fieldValidation: {
			type: Object,
			required: false,
			default: null
		},
		/**
		 * The text to show next to the checkbox.
		 */
		label: {
			type: String,
			required: false,
			default: ""
		},
		/**
		 * The value to bind to the input.
		 */
		value: {
			type: Boolean,
			required: true
		},
		/**
		 * Set to true to prevent the user from changing the value of the checkbox.
		 */
		disabled: {
			type: Boolean,
			required: false
		}
	},
	computed: {
		fieldHasError: {
			get: function() {
				if (this.fieldValidation) {
					return this.fieldValidation.$error;
				}
				return false;
			}
		},
		fieldIsDirty: {
			get: function() {
				return this.value !== this.originalChecked;
			}
		}
	},
	data: function () {
		return {
			originalChecked: this.value == true
		};
	},
	methods: {
		setChecked(checked) {
			/**
			 * Input event.
       		 * @property {boolean} The checked value of the checkbox
			 */
			this.$emit("input", checked);

			if (!this.fieldValidation) return;
			if (checked === this.originalChecked) {
				this.fieldValidation.$reset();
			} else {
				this.fieldValidation.$touch();
			}
		}
	}
};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	label {
		color: Colors.$grayDark;
		font-weight: normal;
		padding: Spacing.$quarter 0;

		.gli-base-checkbox_box {
			border: 2px solid Colors.$gray;
			border-radius: 4px;
			display: inline-block;
			height: 1.2em;
			line-height: 1em;
			margin-right: Spacing.$quarter;
			transition: border 0.1s;
			user-select: none;
			width: 1.2em;
		}

		&.gli-base-checkbox_dirty {
			.gli-base-checkbox_box {
				border-color: Colors.$edit;
			}
		}

		&.gli-base-checkbox_disabled {
			color: Colors.$gray;

			.gli-base-checkbox_box {
				background: Colors.$grayLight;
				border-color: Colors.$grayLight;
			}
		}

		&.gli-base-checkbox_enabled {
			&:hover {
				.gli-base-checkbox_box {
					border-color: Colors.$primaryLight;
					cursor: pointer;
				}
			}

			&:active {
				.gli-base-checkbox_box {
					background: Colors.$gray;
					border-color: Colors.$grayDark;
					cursor: pointer;
				}
			}
		}

		i {
			color: Colors.$primaryLight;
			font-size: 1.1em;
			left: 0.1em;
			line-height: 0em;
			position: relative;
			top: -0.125em;
			transition: opacity 0.2s;
		}

		input[type="checkbox"] {
			display: none;
		}

		&.gli-base-checkbox_off i {
			opacity: 0;
		}
	}
</style>