﻿@model Submissions.Web.Areas.Evolution.Models.ClauseReportIndexViewModel

@{
	ViewBag.Title = "Clause Report";
	ViewBag.FullWidth = true;
}

@section css {
	<style>
		.cursor-pointer {
			cursor: pointer;
		}
	</style>
}

<div class="row row-title hidden-print">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<button class="btn btn-sm btn-primary" onclick="expandBeforePrint()">Print</button>
		@Html.ActionLink("Exit", "Index", "Home", new { Area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>
<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));

		function expandBeforePrint() {
			var t1 = document.getElementById("functional-roles-list");
			if (t1 != null) {
				t1.classList.add("in");
			}

			var t2 = document.getElementById("applicable");
			if (t2 != null) {
				t2.classList.add("in");
			}

			var t3 = document.getElementById("summary");
			if (t3 != null) {
				t3.classList.add("in");
			}

			window.print();
		}
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}