﻿<template>
	<div>
		<div class="container-fluid">
			<div v-for="(section, index) in letterContent.sections.filter((sec) => sec.name !== 'Letter Details')" class="row">
				<Section v-bind:section="section" v-bind:review="true"></Section>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	import Section from '@/components/documents/generate/LetterQuestions/Section.vue';


	export default {
		components: {
			Section
		},
		props: ['letterCollapsed'],
		computed: {
			...letterGetters([
				'letterContent'
			]),
			...mapGetters([
				

			])
		},
		methods: {
			...mapActions([

			])
		},
		mounted: function () {
		}
	}
</script>
<style scoped>

</style>
