﻿@model Submissions.Web.Areas.Submission.Models.JurisdictionStandard.EditViewModel

@{
    ViewBag.Title = Model.Mode.ToString() + " Standard";
    var saveButtonText = "Save";
    if (Model.Mode == Mode.Add)
    {
        saveButtonText = "Add";
    }
}

@using (Html.BeginForm("edit", "jurisdictionStandard", FormMethod.Post, new { id = "EditForm" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.SubmissionId)
    @Html.HiddenFor(m => m.JurisdictionDataId)
    @Html.HiddenFor(m => m.OrgStandardId)

    <div class="row row-title">
        <div class="col-sm-6">
            <h3>@ViewBag.Title <small></small></h3>
        </div>
        <div class="col-sm-6 form-buttons">
            <button type="button" id="Save" class="btn btn-primary btn-sm">@saveButtonText</button>
            @Html.ActionLink("Cancel", "index", "jurisdictionStandard", new { submissionId = Model.SubmissionId, jurisdictionDataId = Model.JurisdictionDataId }, new { @class = "btn btn-primary btn-sm" })
        </div>
    </div>

    <div class="form-horizontal">
        <hr class="form-hr" />
        <div class="form-group form-group-sm">
            @Html.LabelFor(m => m.JurisdictionId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.LookupFor(m => m.JurisdictionId, m => m.Jurisdiction, LookupAjax.StandardJurisdictions, true)
            </div>
        </div>
        <div class="form-group form-group-sm">
            @Html.LabelFor(m => m.StandardName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.LookupFor(m => m.StandardId, m => m.StandardName, LookupAjax.Standards, true, new { data_filter = Json.Encode(Model.JurisdictionId) })
            </div>
            @if (Model.Mode == Mode.Edit)
            {
            <div class="col-sm-1">
                @Html.CheckBoxFor(m => m.ApplyToProps.Standard)
            </div>
            }
        </div>
        <div class="form-group form-group-sm">
            @Html.LabelFor(m => m.AddDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.AddDate, new { @class = "form-control datepicker" })
             </div>
            <div class="col-sm-1"></div>
            @if (Model.Mode == Mode.Edit)
            { 
                <div class="col-sm-1">
                    @Html.CheckBoxFor(m => m.ApplyToProps.AddDate)
                </div>
            }
        </div>
        <div class="form-group form-group-sm">
            @Html.LabelFor(m => m.CloseDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.CloseDate, new { @class = "form-control datepicker" })
            </div>
            <div class="col-sm-1"></div>
            @if (Model.Mode == Mode.Edit)
            {
                <div class="col-sm-1">
                    @Html.CheckBoxFor(m => m.ApplyToProps.CloseDate)
                </div>
            }
        </div>
        <div class="form-group form-group-sm">
            @Html.LabelFor(m => m.Active, new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.Active, LookupsStandard.ConvertEnum<JurisdictionActiveStatus>(false, true), new { @class = "form-control" })
            </div>
            @if (Model.Mode == Mode.Edit)
            {
                <div class="col-sm-1">
                    @Html.CheckBoxFor(m => m.ApplyToProps.Active)
                </div>
            }
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.Status, new { @class = "control-label col-sm-2" })
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Status, LookupsStandard.ConvertEnum<JurisdictionStatus>(false, true, true, true, enumValues: ComUtil.InternalJurisdictionStatuses().ToArray()), new { @class = "form-control" })
                </div>
                @if (Model.Mode == Mode.Edit)
                {
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(m => m.ApplyToProps.Status)
                    </div>
                }
            </div>
            <div class="form-group form-group-sm">
                @if (Model.Mode == Mode.Edit)
                {
                    @Html.LabelFor(m => m.ApplyToAllRecords, new { @class = "control-label col-sm-2" })
                }
                else
                {
                    @Html.Label("Add To All Records", new { @class = "control-label col-sm-2" })
                }
                <div class="col-sm-3">
                    @Html.CheckBoxFor(m => m.ApplyToAllRecords)
                </div>
             </div>
        </div>
}

@section scripts {
    <script>
        $(function () {

            $('#StandardId').on('select2:open', function (e) {
                var filter = $('#JurisdictionId').val();
                $(this).data('filter', filter);
            });

            $('#Save').on('click', function () {
                $('#EditForm').submit();
            });
        });
    </script>
}

