﻿@model Submissions.Web.Areas.Submission.Models.JurisdictionStandard.IndexViewModel

@{
    ViewBag.FullWidth = true;
    ViewBag.Title = "Standards";
    var firstStandard = Model.Standards.FirstOrDefault();

}

@using (Html.BeginForm("delete", "JurisdictionStandard", FormMethod.Post, new { id = "DeleteForm" }))
{
    @Html.Hidden("Id")
    @Html.HiddenFor(m => m.SubmissionId)
    @Html.HiddenFor(m => m.JurisdictionDataId)

}

<div class="row row-title">
    <div class="col-sm-8">
        <h3>@ViewBag.Title <small>@Model.SubmissionSubTitle.FileNumber</small></h3>
        <div class="submission-subtitle">
            <span title="ID Number">@Model.SubmissionSubTitle.IdNumber</span>
            <span title="Game Name">@Model.SubmissionSubTitle.GameName</span>
            <span title="Date Code">@Model.SubmissionSubTitle.DateCode</span>
            <span title="Function">@Model.SubmissionSubTitle.Function</span>
        </div>
    </div>
    <div class="col-sm-4 form-buttons">
        @Html.ActionLink("Add", "edit", "JurisdictionStandard", new { mode = Mode.Add, submissionId = Model.SubmissionId, jurisdictionDataId = Model.JurisdictionDataId }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
        @Html.ActionLink("Cancel", "detail", "submission", new { id = Model.SubmissionId }, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>

<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => firstStandard.Jurisdiction)</th>
            <th>@Html.DisplayNameFor(m => firstStandard.JurisdictionId)</th>
            <th>@Html.DisplayNameFor(m => firstStandard.Name)</th>
            <th>@Html.DisplayNameFor(m => firstStandard.AddDate)</th>
            <th>@Html.DisplayNameFor(m => firstStandard.CloseDate)</th>
            <th>@Html.DisplayNameFor(m => firstStandard.Active)</th>
            <th>@Html.DisplayNameFor(m => firstStandard.Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Standards.Count == 0)
        {
            <tr><td colspan="11" class="text-warning text-center"><em>No Records Found</em></td></tr>
        }
        @foreach (var s in Model.Standards)
        {
            <tr>
                <td>@s.Jurisdiction</td>
                <td>@s.JurisdictionId</td>
                <td>@s.Name</td>
                <td>@s.AddDate.ToString("d")</td>
                <td>@s.CloseDate.ToString("d")</td>
                <td>@s.Active</td>
                <td>@s.Status</td>
                <td class="text-right">
                    @Html.ActionLink("Edit", "edit", new { id = s.Id, mode = Mode.Edit, submissionId = Model.SubmissionId, jurisdictionDataId = Model.JurisdictionDataId }) |
                    @Html.ActionLink("Delete", "delete", null, new { @class = "checkDelete", data_id = s.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            $('.checkDelete').on('click', function (e) {
                e.preventDefault();

                var self = $(this);
                bootbox.confirm('Are you sure you want to delete this Standard?', function (result) {
                    if (result) {
                        $('#Id').val(self.data('id'));
                        $('#DeleteForm').submit();
                    }
                });
            });
        });
    </script>
}

