﻿<template>
	<div :style="{'width': useCounter ? 50 + 'px' : 25 + 'px' }"
		 :class="{
		 'base-badge-container': true,
		 'badge-class-lightBlue': themeChoice === 'LIGHTBLUE',
		 'badge-class-green': themeChoice === 'GREEN',
		 'badge-class-red': themeChoice === 'RED',
		 'badge-class-default': themeChoice === 'DEFAULT'
		 }">
		<div class="flex-item"><div>{{text}}</div></div>
		<div v-if="useCounter"
			 :class="{
				'flex-item': true,
				'base-counter-container': true,
				'counter-class-lightBlue': themeChoice === 'LIGHTBLUE',
				'counter-class-green': themeChoice === 'GREEN',
				'counter-class-red': themeChoice === 'RED',
				'counter-class-default': themeChoice === 'DEFAULT'
				}">
			<p>{{count}}</p>
		</div>
	</div>
</template>

<script>


	export default {
		data: function () {
			return {

			};
		},
		props: {
			text: {
				type: String,
				default: null
			},
			count: {
				type: Number,
				default: 0
			},
			useCounter: {
				type: Boolean
			},
			themeChoice: {
				type: String,
				default: 'DEFAULT'
			}
		},
		methods: {

		},
		computed: {

		},
	};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";
	@use "sass:color";

	.flex-item {
		flex: 0 1 auto;
		margin-right: 3px;
	}

	.base-badge-container {
		display: flex;
		align-items: center;
		border-radius: 32px;
		padding-left: 3px;
		padding-right: 3px;
		margin-right: 3px;
		width: 50px;
		padding: 3px;
	}

	.badge-class-default {
		background: none;
		border: 2px solid Colors.$accent;
		color: Colors.$text;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
	}


	.badge-class-lightBlue {
		background-color: Colors.$blueLight;
		border-color: transparent;
		color: Colors.$white;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
	}

	.badge-class-green {
		background-color: Colors.$success;
		border-color: transparent;
		color: Colors.$white;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
	}

	.badge-class-red {
		background-color: Colors.$destructive;
		border-color: transparent;
		color: Colors.$white;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
	}



	.base-counter-container {
		border-radius: 32px;
		padding: 5px;
		height: 24px;
	}

	.counter-class-default {
		background-color: Colors.$accent;
		border-color: transparent;
		color: Colors.$text;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
	}

	.counter-class-lightBlue {
		background-color: Colors.$primaryDark;
		border-color: transparent;
		color: Colors.$white;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
	}

	.counter-class-green {
		background-color: Colors.$successDark;
		border-color: transparent;
		color: Colors.$white;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
	}

	.counter-class-red {
		background-color: Colors.$destructiveDark;
		border-color: transparent;
		color: Colors.$white;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
	}
</style>