﻿@model Submissions.Web.Areas.Tools.Models.ExternalDocumentsEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " GLIAccess Invoice";

	var upload = Html.Kendo().Upload()
	.Name("ExternalDocumentsUpload")
	.Multiple(false)
	.Files(files =>
	{
		foreach (var f in Model.ExternalDocuments)
		{
			files.Add().Name(f.Name).Extension(f.Extension).Size(f.Size);
		}
	})
	.Events(x => x.Remove("onRemove").Select("onSelect"));

	var saveButtonText = "Save";
	var manufacturerCodeHtmlAttributes = new Dictionary<string, object>();
	var documentDateHtmlAttributes = new Dictionary<string, object>();
	documentDateHtmlAttributes.Add("class", "form-control datepicker");

	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
	else
	{
		documentDateHtmlAttributes.Add("readonly", "readonly");
		manufacturerCodeHtmlAttributes.Add("disabled", "disabled");

		upload = upload.Async(x => x
		.Save("AddDocuments", "ExternalDocuments", new { id = Model.Id })
		.Remove("DeleteDocuments", "ExternalDocuments", new { id = Model.Id })
		.AutoUpload(true));
	}
}

@section css{
	@Styles.Render("~/bundles/css/kendo")
	<style>
		.k-file-name-size-wrapper {
			cursor: pointer;
		}
	</style>
}

@using (Html.BeginForm("Edit", "ExternalDocuments", FormMethod.Post, new { id = "EditForm" }))
{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)

	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title <small>@Model.Description</small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<button type="button" class="btn btn-primary btn-sm btn-save">@saveButtonText</button>
			@if (Model.Mode == Mode.Edit)
			{
				<button type="button" class="btn btn-primary btn-sm btn-delete">Delete</button>
			}
			@Html.ActionLink("Cancel", "Index", "ExternalDocuments", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">General</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-2" })
							<div class="col-sm-4">
								@Html.TextBoxFor(m => m.Description, new { @class = "form-control", @autofocus = "autofocus" })
								@Html.ValidationMessageFor(m => m.Description)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.ManufacturerCode, new { @class = "control-label col-sm-2" })
							<div class="col-sm-4">
								@Html.LookupFor(m => m.ManufacturerCode, m => m.Manufacturer, LookupAjax.Manufacturers, true, manufacturerCodeHtmlAttributes)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.DocumentDate, new { @class = "control-label col-sm-2" })
							<div class="col-sm-2">
								@Html.TextBoxFor(m => m.DocumentDate, "{0:d}", documentDateHtmlAttributes)
								@Html.ValidationMessageFor(m => m.DocumentDate)
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Document</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-6">
						@(upload)
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scripts {
	@Scripts.Render("~/bundles/script/kendo")
	<script>
		var selectedFile;

		$(function () {
			var form = $('#EditForm');
			var modeAdd = '@Model.Mode' === '@Mode.Add';
			if (!modeAdd) {
				selectedFile = true;
			}

			$('.btn-save').on('click', function () {
				if (!selectedFile) {
					bootbox.alert('Please select a file to upload');
					return;
				}
				form.submit();
			});

			$('.btn-delete').on('click', function () {
				bootbox.confirm('Are you sure you want to Delete this document?', function (result) {
					if (result) {
						form.attr('action', '@Url.Action("Delete")');
						form.submit();
					}
				});
			});

			$('.k-file-name-size-wrapper').on('click', function () {
				if (modeAdd) {
					return;
				}
				
				location.href = '@Url.Action("OpenDoc", "ExternalDocuments", new { id = Model.Id })';
			});
		});

		function onRemove() {
			selectedFile = null;
		}

		function onSelect(e) {
			selectedFile = e.files[0];
		}
	</script>
}