﻿@model Submissions.Web.Areas.Tools.Models.ExternalDocumentsIndexViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "GLIAccess Invoices";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons ">
		@Html.ActionLink("Add", "Edit", null, new { mode = Mode.Add }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

@Html.Trirand().JQGrid(Model.ExternalDocumentsGrid.Grid, "ExternalDocumentsGrid")

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		function editLink(cellValue, options, rowObject) {
			return '<a href="' + '@Url.Action("Edit", "ExternalDocuments")' + '/' + options.rowId + '?mode=Edit">Edit</a>'
		}

		function fileNameLink(cellValue, options, rowObject) {
			var externalDocumentId = rowObject[$(this).getColumnIndexByName("Id")];
			var url = '@Url.Action("OpenDoc", "ExternalDocuments")' + '?id=' + externalDocumentId;
			return '<a href="' + url + '">' + cellValue + '</a>';
		}
	</script>
}