﻿<template>
	<div class="modal" ref="EmailDetailsModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="send">Send</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title">Request Resource Email</h3>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">To</label>
							<div class="col-sm-9">
								<p class="form-control-static">{{ email.managerName }}</p>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">Request</label>
							<div class="col-sm-9">
								<p class="form-control-static">{{ email.requestUserName }}</p>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-2" for="RequestStartDate">Start Date</label>
							<div class="col-sm-3">
								<DatePicker id="RequestStartDate" name="RequestStartDate" v-model="email.requestStartDate" />
								<span class="field-validation-error" v-if="$v.email.requestStartDate.$error && !$v.email.requestStartDate.required">Start Date is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-2" for="ProjectId">Project</label>
							<div class="col-sm-5">
								<input id="ProjectName" name="ProjectName" type="hidden" v-model="email.projectName" />
								<Lookup id="ProjectId" name="ProjectId" :lookuptextfield="email.projectName" @updateLookupTextField="updateProjectName" lookupajax="ProjectName" v-model="email.projectId" :filter="projectFilter" />
								<span class="field-validation-error" v-if="$v.email.projectId.$error && !$v.email.projectId.required">Project Name is required</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-2" for="EmailTaskDefinitionIds">Tasks</label>
							<div class="col-sm-9">
								<table class="table table-condensed table-striped taskTable">
									<colgroup>
										<col style="width:70%;">
										<col style="width:20%;">
										<col style="width:10%;">
									</colgroup>
									<thead>
										<tr>
											<th>Task</th>
											<th>Estimated Hours</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(task, index) in email.tasks" :key="task.taskDefinitionId">
											<td>
												<input :id="'TaskDefinition' + index" :name="'TaskDefinition' + index" type="hidden" v-model="task.taskDefinition" />
												<Lookup :id="'TaskDefinitionId' + index" :name="'TaskDefinitionId' + index" :lookuptextfield="task.taskDefinition" @updateLookupTextField="updateTaskDefinition(index)" lookupajax="TaskDefinitions" v-model="task.taskDefinitionId" />
												<span class="field-validation-error" v-if="$v.email.tasks.$each[index].taskDefinitionId.$error && !$v.email.tasks.$each[index].taskDefinitionId.required">Task is required</span>
											</td>
											<td><input type="text" class="form-control" v-model="task.estimateHours" /></td>
											<td class="text-right"><i class="fas fa-times fa-2x" style="color:red;cursor:pointer;" @click="removeTask(index)" title="Remove"></i></td>
										</tr>
									</tbody>
								</table>
								<div><a href="#" id="AddTask" style="text-decoration:none;" @click="addTask"><i class="fas fa-plus"></i> Add Task</a></div>
								<span class="field-validation-error" v-if="!$v.email.tasks.required">At least one task is required</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 input-sm" for="EmailAdditionalInfo">Additional Info</label>
							<div class="col-sm-9">
								<textarea id="EmailAdditionalInfo" name="EmailAdditionalInfo" class="form-control" rows="7" v-model="email.additionalInfo"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" @click="send">Send</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import DatePicker from '@/components/utility/DatePicker.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';

	import { required } from 'vuelidate/lib/validators'

	export default {
		components: {
			DatePicker,
			Lookup,
			LookupMultiple
		},
		props: ['email'],
		data() {
			return {
				projectFilter: {
					InStatus: ["AA", "AU", "IR", "IT", "RR"]
				}
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.EmailDetailsModal).on('hidden.bs.modal', function (e) {
				self.reset();
			});
		},
		validations: {
			email: {
				requestStartDate: {
					required
				},
				projectId: {
					required
				},
				tasks: {
					required,
					$each: {
						taskDefinitionId: {
							required
						}
					}
				}
			}
		},
		methods: {
			addTask: function () {
				this.email.tasks.push({
					taskDefinitionId: null,
					taskDefinition: '',
					estimateHours: 0
				});
			},
			removeTask: function (index) {
				this.email.tasks.splice(index, 1);
			},
			reset: function () {
				this.email.projectId = null;
				this.email.projectName = null;
				this.email.tasks = [
					{
						taskDefinitionId: null,
						taskDefinition: '',
						estimateHours: 0
					}
				];
				this.email.requestStartDate = null;
				this.email.additionalInfo = '';
				this.$v.$reset();
			},
			send: function () {
				if (!this.validate()) {
					return;
				}

				const self = this;

				this.$http.post('Protrack/WorkloadManager/RequestResource', {
					email: this.email
				})
					.then(r => {
						$(self.$refs.EmailDetailsModal).modal('hide');
						bootbox.alert("Email has been sent");
					})
					.catch(e => {
						console.log(e);
					});
			},
			updateProjectName: function (newValue) {
				this.email.projectName = newValue;
			},
			updateTaskDefinition: function (index) {
				const el = document.getElementById('TaskDefinitionId' + index);
				const selectedText = el.options[el.selectedIndex].text;
				this.email.tasks[index].taskDefinition = selectedText;
			},
			validate: function () {
				this.$v.$touch();
				return !this.$v.$invalid;
			}
		}
	}
</script>