﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Resource Finder</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<a-link href="/protrack/workloadmanager/resourcerequests/" class="btn btn-sm btn-primary">Resource Requests</a-link>
				<a-link href="/" class="btn btn-sm btn-primary">Exit</a-link>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Filters
						<FormFiltersIndicator :currentFilter="currentFilter"></FormFiltersIndicator>
					</div>
					<div class="panel-body">
						<form ref="FormFilters" class="form-horizontal">
							<div class="row">
								<div class="col-sm-6">
									<fieldset>
										<legend>Company</legend>
										<div class="form-group form-group-sm">
											<label class="control-label col-sm-2" for="ManagerIds">Manager</label>
											<div class="col-sm-10">
												<LookupMultiple id="ManagerIds" name="ManagerIds" lookupajax="Users" v-model="filters.managerIds" :options="filters.managers" :filter="managerFilter" />
											</div>
										</div>
										<div class="form-group form-group-sm">
											<label class="control-label col-sm-2" for="LocationIds">Office</label>
											<div class="col-sm-10">
												<LookupMultiple id="LocationIds" name="LocationIds" lookupajax="Laboratories" v-model="filters.locationIds" :options="filters.locations" />
											</div>
										</div>
										<div class="form-group form-group-sm">
											<label class="control-label col-sm-2" for="ResourceIds">Resource</label>
											<div class="col-sm-10">
												<LookupMultiple id="ResourceIds" name="ResourceIds" lookupajax="Users" v-model="filters.resourceIds" :options="filters.resources" />
											</div>
										</div>
										<div class="form-group form-group-sm">
											<label class="control-label col-sm-2" for="AvailableDate">Available Date</label>
											<div class="col-sm-4">
												<DatePicker id="AvailableDate" name="AvailableDate" v-model="filters.availableDate" />
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-sm-6">
									<fieldset>
										<legend>Project</legend>
										<div class="form-group form-group-sm">
											<label class="control-label col-sm-2" for="ManufacturerCodes">Manufacturer</label>
											<div class="col-sm-10">
												<LookupMultiple id="ManufacturerCodes" name="ManufacturerCodes" lookupajax="Manufacturers" v-model="filters.manufacturerCodes" :options="filters.manufacturers" templatename="formatManufacturers" />
											</div>
										</div>
										<div class="form-group form-group-sm">
											<label class="control-label col-sm-2" for="TaskDefinitionIds">Tasks</label>
											<div class="col-sm-10">
												<LookupMultiple id="TaskDefinitionIds" name="TaskDefinitionIds" lookupajax="TaskDefinitions" v-model="filters.taskDefinitionIds" :options="filters.taskDefinitions" />
											</div>
										</div>
										<div class="form-group form-group-sm" style="visibility:hidden;">
											<label class="control-label col-sm-2" for="PlatformIds">Platform</label>
											<div class="col-sm-10">
												<LookupMultiple id="PlatformIds" name="PlatformIds" lookupajax="Platforms" v-model="filters.platformIds" :options="filters.platforms" />
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="pull-right">
													<FormFilters formRef="FormFilters" :section="formFilterSection" :currentFilter="currentFilter" @currentFilter="updateCurrentFilter"></FormFilters>
													<button type="button" class="btn btn-sm btn-primary" @click="refreshFilters"><i class="fas fa-sync"></i> Refresh</button>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<Grid :grid="grid" :custom-filters="filters" @gridComplete="gridComplete" class="requestDisabled"></Grid>
			</div>
		</div>
		<Email ref="EmailDetailsModal" :email="email"></Email>
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	import DatePicker from '@/components/utility/DatePicker.vue';
	import Email from './Email.vue';
	import FormFilters from '@/components/utility/FormFilters.vue';
	import FormFiltersIndicator from '@/components/utility/FormFiltersIndicator.vue';
	import Grid from '@/components/utility/Grid.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import Vue from 'vue';

	const gridId = 'ResourceFinderGrid';

	const grid = {
		id: gridId,
		url: 'GridsAjax/LoadResourceFinderGrid',
		sortname: 'AssignedHours, ManagerName',
		sortorder: 'asc, asc',
		colNames: [
			'UserId',
			'Unavailable',
			'',
			'Resource',
			'Assigned Hrs',
			'Est. Completion',
			'Assigned + OH Hrs',
			'Est. w/ OH Completion',
			'Manager',
			'Manager Office',
			'Manager Mobile'
		],
		colModel: [
			{ name: 'UserId', key: true, hidden: true },
			{ name: 'Unavailable', hidden: true },
			{ name: 'RequestUser', sortable: false, width: 70, customformatter: 'cellReplace1' },
			{ name: 'UserName', width: 150 },
			{ name: 'AssignedHours', width: 100, formatter: 'number', formatoptions: { number: { decimalPlaces: 2 } } },
			{ name: 'AssignedEstCompleteDate', width: 90, customformatter: 'formatDate' },
			{ name: 'AssignedAndOHHours', width: 100, formatter: 'number', formatoptions: { number: { decimalPlaces: 2 } } },
			{ name: 'AssignedAndOHEstCompleteDate', width: 110, customformatter: 'formatDate' },
			{ name: 'ManagerName', width: 150 },
			{ name: 'ManagerOffice', width: 90, sortable: false },
			{ name: 'ManagerMobile', width: 90, sortable: false }
		]
	};

	const bus = new Vue({});

	const RequestLink = Vue.extend({
		template: '<a class="pointer" :class="{ requestDisabled: unavailable }" @click="request">Request</a>',
		methods: {
			request: function (e) {
				bus.$emit('displayEmailModal', this.rowId);
				e.preventDefault();
			}
		}
	});

	export default {
		components: {
			ALink, DatePicker, Email, FormFilters, FormFiltersIndicator, Grid, Lookup, LookupMultiple
		},
		data() {
			return {
				currentFilter: initialData.currentFilter,
				formFilterSection: initialData.formFilterSection,
				filters: initialData.filters,
				grid: grid,
				email: {
					requestUserId: null,
					requestUserName: '',
					managerName: '',
					projectId: null,
					projectName: '',
					tasks: [
						{
							taskDefinitionId: null,
							taskDefinition: '',
							estimateHours: 0
						}
					],
					requestStartDate: null,
					additionalInfo: '',
				},
				managerFilter: {
					ProjectManagers: true
				}
			}
		},
		created() {
			const self = this;

			bus.$on('displayEmailModal', function (rowId) {
				const rowData = $('#' + gridId).jqGrid('getRowData', rowId);

				if (rowData.Unavailable == 'True') {
					return;
				}

				self.email.requestUserId = rowId;
				self.email.requestUserName = rowData.UserName;
				self.email.managerName = rowData.ManagerName;

				$(self.$refs.EmailDetailsModal.$el).modal('show');
			});
		},
		methods: {
			gridComplete: function () {
				$('span[id^=CellReplace1_]').each(function (i) {
					const rowId = $(this).attr('id').replace('CellReplace1_', '');
					const rowData = $('#' + gridId).jqGrid('getRowData', rowId);

					const link = new RequestLink({
						data() {
							return {
								rowId: rowId,
								unavailable: rowData.Unavailable == 'True'
							}
						}
					}).$mount();

					this.parentElement.replaceChild(link.$el, this);
				});
			},
			refreshFilters: function () {
				const grid = $('#' + gridId);
				const postData = grid.jqGrid('getGridParam', 'postData');
				postData.customFilters = JSON.stringify(this.filters);
				grid.jqGrid('setGridParam', { postData: postData });
				grid.trigger('reloadGrid', [{ page: 1 }]);
			},
			updateCurrentFilter: function (currentFilter) {
				this.currentFilter = currentFilter;
			}
		}
	}
</script>

<style scoped>
	legend {
		font-size: 10px;
		color: grey;
	}

	.requestDisabled /deep/ .requestDisabled {
		color: #d3d3d3;
		cursor: default;
		text-decoration: none;
	}
</style>