﻿@model Submissions.Web.Areas.Submission.Models.Memo.EditViewModel

@section css {
	@Styles.Render("~/bundles/css/kendo")
	<style>
		strong {
			padding-right: 10px;
		}
	</style>
}
@{
	ViewBag.Title = Model.Mode.ToString() + " Memo";
	var memoTypeHtmlAttributes = new Dictionary<string, object>();
	memoTypeHtmlAttributes.Add("class", "form-control");

	var showSaveButton = false;
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		showSaveButton = Util.HasAccess(Permission.Submission, AccessRight.Add);
		saveButtonText = "Add";
	}
	else
	{
		showSaveButton = Util.HasAccess(Permission.Submission, AccessRight.Edit);
		memoTypeHtmlAttributes.Add("disabled", "disabled");
	}
}

@using (Html.BeginForm("edit", "memo", FormMethod.Post, new { id = "EditForm" }))
{
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.Source)
	@Html.HiddenFor(m => m.SubmissionId)

	if (Model.Mode == Mode.Edit)
	{
		@Html.HiddenFor(m => m.Type)
	}

	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title <small></small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if (showSaveButton)
			{
				<button type="button" id="SaveBtn" class="btn btn-primary btn-sm">@saveButtonText</button>
			}
			@if (Model.Mode == Mode.Edit && Util.HasAccess(Permission.Submission, AccessRight.Edit))
			{
				<input type="button" id="DeleteBtn" value="Delete" class="btn btn-sm btn-primary" />
			}
			<a href="@Model.CancelButtonUrl" id="CancelBtn" class="btn btn-sm btn-primary">Cancel</a>
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />

		<div id="CopyToSubmissionsView" class="hidden">
			@{Html.RenderAction("CopyToSubmissions", "Submission", new { submissionId = Model.SubmissionId });}
		</div>

		@if (Model.Mode == Mode.Add)
		{
			<div class="form-group form-group-sm">
				<label for="CopyToRecords" class="control-label col-sm-2">Copy to Other Records</label>
				<div class="col-sm-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" id="CopyToRecords" />
						</label>
					</div>
				</div>
			</div>
		}
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Type, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.DropDownListFor(m => m.Type, LookupsStandard.ConvertEnum<MemoType>(), memoTypeHtmlAttributes)
			</div>
			<div class="col-sm-4 col-sm-offset-2">
				@if (Model.Mode == Mode.Edit)
				{
					<div style="padding-top:12px;" class="text-right"><strong>@Model.Username</strong>@Model.AddDate.ToString("g")</div>
				}
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Memo, new { @class = "control-label col-sm-2" })
			<div class="col-sm-8">
				@(Html.Kendo().EditorFor(m => m.Memo)
					.HtmlAttributes(new { style = "height:400px;width:100%;" })
					.PasteCleanup(p => p.All(false)
										.KeepNewLines(true)
										.MsAllFormatting(true)
										.MsConvertLists(true)
										.MsTags(true)
										.None(false)
										.Span(true))
					.Tools(t => t.Clear()
					.Bold().Italic().Underline()
					.JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
					.InsertUnorderedList().InsertOrderedList()))
			</div>
		</div>
	</div>
}

@section scripts {
	@Scripts.Render("~/bundles/script/kendo")
	<script>
		$(function () {
			var form = $('#EditForm');

			$('#SaveBtn').on('click', function () {
				if ($('#CopyToRecords').prop('checked') && $('.copyToSelectedChk:checkbox:checked').length == 0) {
					bootbox.alert('Please select at least one record');
					return;
				}

				if (Em($('#Memo').val())) {
					bootbox.alert('Memo is required');
					return;
				}

				form.submit();
			});

			$('#DeleteBtn').on('click', function () {
				bootbox.confirm('Are you sure you want to delete this Memo?', function (result) {
					if (result) {
						form.attr('action', '@Url.Action("delete")').submit();
					}
				});
			});

			$('#CopyToRecords').on('change', function () {
				$('#CopyToSubmissionsView').toggleClass('hidden');
				$('#CopyToCheckAll').prop('checked', $(this).prop('checked')).trigger('change');
			});

			$('.copyToSelectedChk').on('change', function () {
				var count = $('.copyToSelectedChk:checkbox:checked').length;
				$('#CopyToSelectedCount').text(count);
			});

			$('#CopyToCheckAll').on('change', function () {
				$('.copyToSelectedChk').prop('checked', $(this).prop('checked')).trigger('change');
			});
		});
	</script>
}

