﻿@model Submissions.Web.Areas.Submission.Models.Memo.IndexViewModel

@section css{
	<style>
		.memo-user {
			font-weight: bold;
		}

		.memo-date {
			padding-left: 10px;
			color: #6D6968;
		}

		.memo-user-profile {
			color: #6D7B8D;
		}
	</style>
}

@{
	ViewBag.Title = "Memos";
	var firstMemo = Model.Memos.FirstOrDefault();
}

<div class="row row-title">
	<div class="col-sm-8">
		<h3>@ViewBag.Title <small>@Model.SubmissionSubTitle.FileNumber</small></h3>
		<div class="submission-subtitle">
			<span title="ID Number">@Model.SubmissionSubTitle.IdNumber</span>
			<span title="Game Name">@Model.SubmissionSubTitle.GameName</span>
			<span title="Date Code">@Model.SubmissionSubTitle.DateCode</span>
			<span title="Function">@Model.SubmissionSubTitle.Function</span>
		</div>
	</div>
	<div class="col-sm-4 form-buttons">
		@Html.ActionLink("Add", "edit", "memo", new { mode = Mode.Add, submissionId = Model.SubmissionId }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Cancel", "detail", "submission", new { id = Model.SubmissionId }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

<table id="memo-table" class="table table-condensed">
	<tbody>
		@if (Model.Memos.Count == 0)
		{
			<tr><td colspan="3" class="text-warning text-center"><em>No Records Found</em></td></tr>
		}
		@foreach (var m in Model.Memos)
		{
			<tr>
				<td rowspan="2" width="50px"><i class="fas fa-user-circle fa-2x memo-user-profile"></i></td>
				<td><span class="memo-user">@m.Username</span><span class="memo-date">@m.AddDate.ToString("g")</span></td>
				<td class="memo-oh">@m.TypeText</td>
				<td class="text-right">
					@Html.ActionLink("Edit", "edit", new { id = m.Id, type = m.Type, mode = Mode.Edit, submissionId = Model.SubmissionId })
				</td>
			</tr>
			<tr><td colspan="3" style="border-top:none;">@Html.Raw(HttpUtility.HtmlDecode(m.Memo))</td></tr>
		}
	</tbody>
</table>

