﻿@model Submissions.Web.Areas.Lookups.Models.StandardsEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Standards";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "Standards", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3 class="form-h3">@ViewBag.Title <small>@Model.Standard</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "Standards", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Jurisdiction, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.LookupFor(m => m.JurisdictionId, m => m.Jurisdiction, LookupAjax.Jurisdictions, true)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Standard, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(m => m.Standard, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.Standard)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.CheckBoxFor(m => m.Active, new { @class = "padcheckbox" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.AddByDefault, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.CheckBoxFor(m => m.AddByDefault, new { @class = "padcheckbox" })
			</div>
		</div>
	</div>
}


