﻿@model Submissions.Web.Areas.Lookups.Models.StandardsIndexViewModel

@{
	ViewBag.Title = "Standards";
	var header = Model.Standards.FirstOrDefault();
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = Mode.Add }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

<table class="table table-striped table-hover">
	<tr>
		<th>@Html.DisplayNameFor(model => @header.JurisdictionId)</th>
		<th>@Html.DisplayNameFor(model => @header.Jurisdiction)</th>
		<th>@Html.DisplayNameFor(model => @header.Standard)</th>
		<th></th>
	</tr>
	@foreach (var item in Model.Standards)
	{
		<tr>
			@if (item.Active)
			{
				<td>@item.JurisdictionId</td>
				<td>@item.Jurisdiction</td>
				<td>@item.Standard</td>
				<td class="text-right">
					@Html.ActionLink("Edit", "Edit", new { id = item.Id, mode = Mode.Edit }) |
					@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckDelete" })
				</td>
			}
			else
			{
				<td class="text-red">@item.JurisdictionId</td>
				<td class="text-red">@item.Jurisdiction</td>
				<td class="text-red">@item.Standard</td>
				<td class="text-right">
					@Html.ActionLink("Activate", "SetActive", "", new { id = item.Id, @class = "Activate" }) |
					@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckDelete" })
				</td>
			}
		</tr>
	}
</table>