﻿@model Submissions.Web.Areas.Tools.Models.TKNumberEditViewModel
@{

    var upload = Html.Kendo().Upload()
        .Name("TKFileUpload")
        .Multiple(false)
        .Files(files =>
        {
            foreach (var f in Model.TKFile)
            {
                files.Add().Name(f.Name).Extension(f.Extension).Size(f.Size);
            }
        })
        .Validation(x => x.AllowedExtensions(new string[] { ".xls", ".xlsx" }));

}

@section css{
    @Styles.Render("~/bundles/css/kendo")
    <style>
        input[type='checkbox'] {
            margin: 0;
        }

        .k-file-name-size-wrapper {
            cursor: pointer;
        }
    </style>
}

@{
    ViewBag.Title = "Manage KSA Numbers";
}

<div class="row row-title">
    <div class="col-sm-6">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="col-sm-6 form-buttons">
        <button id="forSubmitForm" type="button" class="btn btn-primary btn-save">Save</button>
        @Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
        @Html.ActionLink("Add New KSA Numbers", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
    </div>
</div>

@using (Html.BeginForm("Edit", "TKNumber", FormMethod.Post, new { id = "submitForm" }))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Step 1:Upload/Enter KSA Numbers</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-sm">
                                    <div class="col-sm-8">
                                        @(upload)
                                        <div><small>You can only upload <strong>XLS</strong>, <strong>XLSX</strong> files.</small></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button id="UploadId" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Upload.">Upload</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-sm">
                                    @Html.LabelFor(m => m.TKNumbers, new { @class = "control-label col-sm-4" })
                                    <div class="col-sm-8">
                                        @Html.TextAreaFor(m => m.TKNumbers, 8, 0, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Step 2: Filter Records</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group form-group-sm">
                                    @Html.LabelFor(m => m.FileNumber, new { @class = "control-label col-sm-4" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.FileNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-sm">
                                    @Html.LabelFor(m => m.HollandJurisdictions, new { @class = "control-label col-sm-4" })
                                    <div class="col-sm-7">
                                        @Html.ListBoxFor(m => m.Jurisdictions, Model.HollandJurisdictions, new { @class = "form-control" })
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group form-group-sm">
                                    <button id="SearchId" class="btn btn-primary"><i class="fas fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(x => x.saveRecord)
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Step 3: Select Records</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <table id="submissionsTable" class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <td><input id="CheckAll" type="checkbox" /></td>
                                    <th>File Number</th>
                                    <th>ID Number</th>
                                    <th>Game</th>
                                    <th>Version</th>
                                    <th>Date Code</th>
                                    <th>Jurisdiction Status</th>
                                    <th>Received Date</th>
                                    <th>Jurisdiction</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SubmissionsRecord.Count; i++)
        {
                        @Html.HiddenFor(m => m.SubmissionsRecord[i].Id)
                        @Html.HiddenFor(m => m.SubmissionsRecord[i].SubmissionKey)
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(x => Model.SubmissionsRecord[i].Selected, (object)new
        {
            @class = "SubmissionsRecordSelect",
            id = "Selected_" + Model.SubmissionsRecord[i].Id,
            @disable = "disabled"
        })

                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].FileNumber)
                                        @Html.HiddenFor(m => m.SubmissionsRecord[i].FileNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].GameName)
                                        @Html.HiddenFor(m => m.SubmissionsRecord[i].GameName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].IdNumber)
                                        @Html.HiddenFor(m => m.SubmissionsRecord[i].IdNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].Version)
                                        @Html.HiddenFor(m => m.SubmissionsRecord[i].Version)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].DateCode)
                                        @Html.HiddenFor(m => m.SubmissionsRecord[i].DateCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].JurisdictionType)
                                        @Html.HiddenFor(m => m.SubmissionsRecord[i].JurisdictionType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].SubmissionsReceivedDate, "{0:d}")
                                        @Html.HiddenFor(m => m.SubmissionsRecord[i].SubmissionsReceivedDate, "{0:d}")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].Jurisdiction)
                                        @Html.HiddenFor(m => m.SubmissionsRecord[i].Jurisdiction)
                                    </td>

                                </tr>
}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts{
    @Scripts.Render("~/bundles/script/kendo")
    <script>
        $('body').on('change', '#CheckAll', function () {
            $("input:checkbox:not(:disabled)").prop('checked', $(this).prop("checked"));
        });

        $('body').on('click', '#exit', function () {
            window.close();
        });

        $('body').on('click', '#forSubmitForm', function ()
        {
            var isValid = runValidation();
            if (isValid) {
                $('#saveRecord').val(true);
                $('#submitForm').submit();
              }
        });

        $('.k-file-name-size-wrapper').on('click', function (event) {
            event.preventDefault();
            var fileName = $(this).children('.k-file-name').first().text();
            var path = '@PathUtil.TKNumberUrl()' + '/' + fileName;
            window.open(path);
        });
        function runValidation() {
            var isValid = false;
            isValid = validateTKFormFields();
            return isValid;
        }

        function validateTKFormFields() {
            var tkNumber = $('#TKNumbers').val();
            var recordsSelected = $('.SubmissionsRecordSelect:checkbox:checked');
            if (tkNumber == '')
            {
                bootbox.alert("Please upload or enter KSA Number.")
            }
            else if (recordsSelected.length < 1)
            {
              bootbox.alert("Please select Submissions record to apply KSA Numbers to.")
            }

            else
            {
                return true;
            }

        }


    </script>
}
