﻿@model IEnumerable<Submissions.Web.Areas.Tools.Models.KSANumberIndexViewModel>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "KSANumberDelete" }))
{
	@Html.Hidden("primary");
	@Html.Hidden("fileNumber");
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title <small>@ViewBag.fileNumber</small> <small>(@ViewBag.Jurisdiction)</small></h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit) || Util.HasAccess(Role.QAE))
		{
			@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		}
		<button id="exit" type="button" class="btn btn-primary">Exit</button>
	</div>
</div>

<table class="table table-striped table-hover">
	<tr>
		<th>@Html.DisplayNameFor(model => model.CertNumber)</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.CertNumber</td>
			@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit) || Util.HasAccess(Role.QAE))
			{
				<td class="text-right">
					<a href="#" onClick="DeleteKSANumber('@item.FileNumber','@item.Primary','@item.Id', '@item.CertNumber', '@item.Jurisdiction');">Delete</a>
				</td>
			}
			else
			{
				<td></td>
			}
		</tr>
	}
</table>

@section scripts{
	<script>
	$('body').on('click', '#exit', function () {
		window.close();
	});

	function DeleteKSANumber(fileNumber, primary, ksaId, ksaNumber, jurisdiction) {
		bootbox.confirm("Are you sure you want to Delete KSA Number " + ksaNumber + "?", function (result) {
			if (result)
			{
				$('#KSANumberDelete').attr('action', '@Url.Action("Delete")?fileNumber=' + FileNumber + '&primary=' + primary + '&id=' + ksaId + '&jurisdiction=' + jurisdiction);
				$('#KSANumberDelete').submit();
			}
		});
	}
	</script>
}