﻿@model Submissions.Web.Areas.Evolution.Models.DocumentIndexViewModel

@{
	ViewBag.Title = "Document Search";
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}