﻿@model Submissions.Web.Areas.Evolution.Models.ClauseEditViewModel

@{
	ViewBag.Title = "Clause Edit";

}
<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		var indexUrl = '@Url.Action("Index")';
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}