﻿@model Submissions.Web.Areas.Evolution.Models.ClauseIndexViewModel
@section css{
	<style>
		body > div.container.body-content {
			width: 100%;
		}
	</style>
}
@{
	ViewBag.Title = "Clause";

}
<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		var categories = ['@EvoLogic.Constants.Category.Testable',
			'@EvoLogic.Constants.Category.NonTestable',
			'@EvoLogic.Constants.Category.Unset'];
		var states = ['@EvoLogic.Constants.State.Undefined',
			'@EvoLogic.Constants.State.PreRelease',
			'@EvoLogic.Constants.State.Active',
			'@EvoLogic.Constants.State.Inactive',
			'@EvoLogic.Constants.State.Locked'];
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}