﻿@model Submissions.Web.Areas.Lookups.Models.GamingGuidelineViewModel

@{
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}}

@using (Html.BeginForm("Edit", "GamingGuidelines", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.Hidden("GamingGuidelineViewModel")
	<div class="row">
		<div class="col-sm-2">
			<nav class="bs-docs-sidebar">
				<ul id="sidebar" class="nav sidebar-nav">
					<li>
						<a href="#TitleSection">Top</a>
					</li>
					<li>
						<a href="#UserComments">Clarifications (@Html.DisplayFor(m => m.CommentCount))</a>
					</li>
					<li>
						<a href="#AttributeLabel">Attributes</a>
					</li>
					<li>
						<a href="#LimitLabel">Limits</a>
					</li>
					<li>
						<a href="#OddsRequirementLabel">Odds Requirements</a>
					</li>
					<li>
						<a href="#ProhibitedGameTypeLabel">Prohibited Game Types</a>
					</li>
					<li>
						<a href="#ProtocolsLabel">Protocols</a>
					</li>
					<li>
						<a href="#RTPRequirementsLabel">RTP Requirements</a>
					</li>
					<li>
						<a href="#TechTypesLabel">Tech Types</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col-sm-10">
			<div id="TitleSection" class="row row-title">
				<div class="col-sm-8">
					<h3>
						@Html.DisplayFor(m => m.JurisdictionName)
						@if (!string.IsNullOrWhiteSpace(Model.Country))
						{
							<small>(@Html.DisplayFor(m => m.Country))</small>
						}
					</h3>
				</div>
				<div class="col-sm-4 form-buttons">
					@if (Model.editAllowed || Util.HasAccess(Permission.GamingGuideline, AccessRight.Add) || Util.HasAccess(Permission.Admin, AccessRight.Add))
					{
						<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm btn-saveguideline" />
					}
					@Html.ActionLink("Cancel", "Index", "GamingGuidelines", null, new { @class = "btn btn-primary btn-sm" })
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Jurisdiction</h3>
						</div>
						<div class="panel-body">
							<div class="form-group form-group-sm">
								<table class="table table-condensed table-striped table-hover table-fit">
									<thead>
									</thead>
									<tbody>
										<tr>
											<td class="col-md-4">
												@Html.LabelFor(m => m.SpecialHandling)
											</td>
											<td class="col-md-8">
												<input data-bind="checked: SpecialHandling" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.Portal)
											</td>
											<td>
												<input data-bind="checked: Portal" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.SourceCodeCompilation)
											</td>
											<td class="col-md-12">
												<input data-bind="checked: SourceCodeCompilation" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.Forensic)
											</td>
											<td class="col-md-12">
												<input data-bind="checked: Forensic" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.ProgressiveReconciliation)
											</td>
											<td class="col-md-12">
												<input data-bind="checked: ProgressiveReconciliation" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.OffensiveMaterialEvaluation)
											</td>
											<td class="col-md-12">
												<input data-bind="checked: OffensiveMaterialEvaluation" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.UnderageAdvertisingEvaluation)
											</td>
											<td class="col-md-12">
												<input data-bind="checked: UnderageAdvertisingEvaluation" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.ResponsibleGaming)
											</td>
											<td class="col-md-12">
												<input data-bind="checked: ResponsibleGaming" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.RemoteAccessITL)
											</td>
											<td class="col-md-12">
												<input data-bind="checked: RemoteAccessITL" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.RemoteAccess)
											</td>
											<td class="col-md-12">
												<input data-bind="checked: RemoteAccess" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.NonCompliantPaytableHandling)
											</td>
											<td>
												<select data-bind="select: NonCompliantPaytableHandling, value: NonCompliantPaytableHandling, options: $root.NonCompliantPaytableHandlingOptions, optionsValue:'Value', optionsText:'Text'" data-lookupstandard="" class="form-control"></select>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.BonusPot)
											</td>
											<td>
												<select data-bind="select: BonusPot, value: BonusPot, options: $root.BonusPotOptions, optionsValue:'Value', optionsText:'Text'" data-lookupstandard="" class="form-control"></select>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.WirelessTechnology)
											</td>
											<td>
												<select data-bind="select: WirelessTechnology, value: WirelessTechnology, options: $root.WirelessTechnologyOptions, optionsValue:'Value', optionsText:'Text'" data-lookupstandard="" class="form-control"></select>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.SkillGames)
											</td>
											<td>
												<select data-bind="select: SkillGames, value: SkillGames, options: $root.SkillGamesOptions, optionsValue:'Value', optionsText:'Text'" data-lookupstandard="" class="form-control"></select>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.RandomNumberGenerator)
											</td>
											<td>
												<select data-bind="select: RandomNumberGenerator, value: RandomNumberGenerator, options: $root.RandomNumberGeneratorOptions, optionsValue:'Value', optionsText:'Text'" data-lookupstandard="" class="form-control"></select>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.GeographicalTestingLocationOnly)
											</td>
											<td>
												<select data-bind="select: GeographicalTestingLocationOnly, value: GeographicalTestingLocationOnly, options: $root.GeographicalTestingLocationOnlyOptions, optionsValue:'Value', optionsText:'Text'" data-lookupstandard="" class="form-control"></select>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.PhysicalTestingLocation)
											</td>
											<td>
												<select data-bind="select: PhysicalTestingLocation, value: PhysicalTestingLocation, options: $root.PhysicalTestingLocationOptions, optionsValue:'Value', optionsText:'Text'" data-lookupstandard="" class="form-control"></select>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.CompilationMethodIds)
											</td>
											<td>
												<select data-bind="lookupmultiple: CompilationMethodIds, options: CompilationMethods, selectedOptions: CompilationMethodIds, optionsValue: 'Value', optionsText: 'Text'" data-lookupmultipleajax="@LookupAjax.CompilationMethod" multiple="multiple" class="form-control"></select>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.SpecialMathInstructions)
											</td>
											<td>
												<textarea data-bind="value: SpecialMathInstructions" class="form-control vertical-resize"></textarea>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.Comments)
											</td>
											<td>
												<textarea data-bind="value: Comments" class="form-control vertical-resize"></textarea>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.NewTechnologyReviewNeeded)
											</td>
											<td>
												<input data-bind="checked: NewTechnologyReviewNeeded" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.CryptographicRNG)
											</td>
											<td>
												<input data-bind="checked: CryptographicRNG" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.DocumentedRestrictionsOnSkill)
											</td>
											<td>
												<input data-bind="value: DocumentedRestrictionsOnSkill" class="form-control"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.OwnerId)
											</td>
											<td>
												@Html.LookupFor(m => m.OwnerId, m => m.Owner, LookupAjax.Users, false)
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.SecondaryOwnerId)
											</td>
											<td>
												@Html.LookupFor(m => m.SecondaryOwnerId, m => m.SecondaryOwner, LookupAjax.Users, false)
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.Active)
											<td>
												<input data-bind="checked: Active" type="checkbox"><br>
											</td>
										</tr>
										<tr>
											<td>
												@Html.LabelFor(m => m.WebsiteLink)*
											<td>
												<input id="WebLink" data-bind="value: WebsiteLink" class="form-control">
												<small>*Include http:// or https:// for external websites</small><br>
												<button id="ViewExternalSite" class="btn">View</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-horizontal">
				<hr class="form-hr" />
				<div id="UserComments" class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 id="UserCommentsLabel" class="panel-title">Clarifications</h3>
							</div>
							<div class="panel-body">
								<div class="form-group form-group-sm">
									<table class="table table-condensed table-striped table-hover ">
										<thead>
											<tr>
												<th>User</th>
												<th>Date Added / Updated</th>
												<th>Clarification</th>
												<th class="text-right"><a href="#" data-bind="click: removeAllUserComments">Remove All</a></th>
											</tr>
										</thead>
										<tbody data-bind="foreach: UserComments">
											<tr>
												<td class="col-sm-3" data-bind="html: UserName"></td>
												<td class="col-sm-2" data-bind="html: SimpleDateTime"></td>
												<td class="col-sm-6">
													<textarea data-bind="value: CommentString, enable:IsEditable, event: { change: $root.DirtyUserComments}" class="form-control vertical-resize"></textarea>
												</td>
												<td class="col-sm-4 text-right">
													<a href="#" data-bind="click: $root.removeExistingUserComments">Remove</a>
												</td>
											</tr>
										</tbody>
									</table>
									<div>&nbsp;<span data-bind="click: addUserCommentsViewModel"><a href="#"><i class="fas fa-plus"></i> Add Clarification</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row" id="AttributeLabel">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 id="AttributeLabel" class="panel-title">Attributes</h3>
							</div>
							<div class="panel-body">
								<div class="form-group form-group-sm">
									<table id="attributeTable" class="table table-condensed table-striped table-hover ">
										<thead>
											<tr>
												<th>Attribute</th>
												<th>Status</th>
												<th>Note</th>
												<th class="text-right"><a href="#" data-bind="click: removeAllGamingGuidelineAttributeViewModels">Remove All</a></th>
											</tr>
										</thead>
										<tbody data-bind="foreach: GamingGuidelineAttributeViewModels">
											<tr>
												<td class="col-sm-3">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="lookup: AttributeId, value: AttributeId, options: Attribute, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.GamingGuidelinesAttributes" class="form-control"></select>
												</td>
												<td class="col-sm-3">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="select: AttributeStatusId, value: AttributeStatusId,  options: $root.GamingGuidelineAttributeStatus, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select>
												</td>
												<td class="col-sm-5">
													<textarea data-bind="value: Note" class="form-control vertical-resize"></textarea>
												</td>
												<td class="col-sm-4 text-right"><a href="#" data-bind="click: $root.removeGamingGuidelineAttributeViewModel">Remove</a></td>
											</tr>
										</tbody>
									</table>
									<div>&nbsp;<span data-bind="click: addGamingGuidelineAttributeViewModel"><a href="#"><i class="fas fa-plus"></i> Add Attribute</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="LimitLabel" class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Limit</h3>
							</div>
							<div class="panel-body">
								<div class="form-group form-group-sm">
									<table class="table table-condensed table-striped table-hover ">
										<thead>
											<tr>
												<th>Limit Type</th>
												<th>XBet</th>
												<th>Limit</th>
												<th>Game Type</th>
												<th>Note</th>
												<th class="text-right"><a href="#" data-bind="click: removeAllGamingGuidelineLimitViewModels">Remove All</a></th>
											</tr>
										</thead>
										<tbody data-bind="foreach: GamingGuidelineLimitViewModels">
											<tr>
												<td class="col-sm-2">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="lookup: LimitTypeId, value: LimitTypeId, options: LimitType, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.GamingGuidelineLimits" class="form-control"></select>
												</td>
												<td class="col-sm-2">
													<input data-bind="checked: xBet" type="checkbox"><br>
												</td>
												<td class="col-sm-2">
													<input type="number" data-bind="value: Limit" class="form-control" />
												</td>
												<td class="col-sm-2">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="lookup: GameTypeId, value: GameTypeId, options: GameType, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.GamingGuidelinesGameTypes" class="form-control"></select>
												</td>
												<td class="col-sm-3">
													<textarea data-bind="value: Note" class="form-control vertical-resize"></textarea>
												</td>
												<td class="col-sm-4 text-right"><a href="#" data-bind="click: $root.removeGamingGuidelineLimitViewModel">Remove</a></td>
											</tr>
										</tbody>
									</table>
									<div>&nbsp;<span data-bind="click: addGamingGuidelineLimitViewModel"><a href="#"><i class="fas fa-plus"></i> Add Limit</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="OddsRequirementLabel" class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Odds Requirements</h3>
							</div>
							<div class="panel-body">
								<div class="form-group form-group-sm">
									<table class="table table-condensed table-striped table-hover ">
										<thead>
											<tr>
												<th>Award Type</th>
												<th>Prize Type</th>
												<th>Progressive Type</th>
												<th>Odds ( 1 in ?_ )</th>
												<th>Note</th>
												<th class="text-right"><a href="#" data-bind="click: removeAllGamingGuidelineOddsRequirementViewModels">Remove All</a></th>
											</tr>
										</thead>
										<tbody data-bind="foreach: GamingGuidelineOddsRequirementViewModels">
											<tr>
												<td class="col-sm-2">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="select: AwardTypeId, value: AwardTypeId,  options: $root.GamingGuidelineAwardTypes, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select>
												</td>
												<td class="col-sm-2">
													<select data-bind="select: PrizeTypeId, value: PrizeTypeId,  options: $root.GamingGuidelinePrizeTypes, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select>
												</td>
												<td class="col-sm-2">
													<select data-bind="select: ProgressiveTypeId, value: ProgressiveTypeId,  options: $root.GamingGuidelineProgressiveTypes, optionsValue: 'Value', optionsText: 'Text', enable: AwardTypeId() != '2'" data-lookupstandard="" class="form-control"></select>
												</td>
												<td class="col-sm-2">
													<input type="number" data-type="number" data-bind="value: Odds" class="form-control" />
												</td>
												<td class="col-sm-3">
													<textarea data-bind="value: Note" class="form-control vertical-resize"></textarea>
												</td>
												<td class="col-sm-4 text-right"><a href="#" data-bind="click: $root.removeGamingGuidelineOddsRequirementViewModel">Remove</a></td>
											</tr>
										</tbody>
									</table>
									<div>&nbsp;<span data-bind="click: addGamingGuidelineOddsRequirementViewModel"><a href="#"><i class="fas fa-plus"></i> Add Odds Requirement</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="ProhibitedGameTypeLabel" class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Prohibited Game Types</h3>
							</div>
							<div class="panel-body">
								<div class="form-group form-group-sm">
									<table class="table table-condensed table-striped table-hover ">
										<thead>
											<tr>
												<th>Game Type</th>
												<th>Status</th>
												<th>Note</th>
												<th class="text-right"><a href="#" data-bind="click: removeAllGamingGuidelineProhibitedGameTypeViewModels">Remove All</a></th>
											</tr>
										</thead>
										<tbody data-bind="foreach: GamingGuidelineProhibitedGameTypeViewModels">
											<tr>
												<td class="col-sm-3">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="lookup: GameTypeId, value: GameTypeId, options: GameType, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.GamingGuidelinesGameTypes" class="form-control"></select>
												</td>
												<td class="col-sm-3">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="select: ProhibitedStatusId, value: ProhibitedStatusId,  options: $root.GamingGuidelineProhibitedGameTypeStatus, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select>
												</td>
												<td class="col-sm-5">
													<textarea data-bind="value: Note" class="form-control vertical-resize"></textarea>
												</td>
												<td class="col-sm-4 text-right"><a href="#" data-bind="click: $root.removeGamingGuidelineProhibitedGameTypeViewModel">Remove</a></td>
											</tr>
										</tbody>
									</table>
									<div>&nbsp;<span data-bind="click: addGamingGamingGuidelineProhibitedGameTypeViewModel"><a href="#"><i class="fas fa-plus"></i> Add Prohibited Game Type</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="ProtocolsLabel" class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Protocols</h3>
							</div>
							<div class="panel-body">
								<div class="form-group form-group-sm">
									<table class="table table-condensed table-striped table-hover ">
										<thead>
											<tr>
												<th>Protocol Type</th>
												<th>Version</th>
												<th>Note</th>
												<th class="text-right"><a href="#" data-bind="click: removeAllGamingGuidelineProtocolsViewModels">Remove All</a></th>
											</tr>
										</thead>
										<tbody data-bind="foreach: GamingGuidelineProtocolTypeViewModels">
											<tr>
												<td class="col-sm-3">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="lookup: ProtocolTypeId, value: ProtocolTypeId, options: ProtocolType, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.GamingGuidelineProtocols" class="form-control"></select>
												</td>
												<td class="col-sm-3">
													<input data-bind="value: Version" class="form-control" />
												</td>
												<td class="col-sm-5">
													<textarea data-bind="value: Note" class="form-control vertical-resize"></textarea>
												</td>
												<td class="col-sm-4 text-right"><a href="#" data-bind="click: $root.removeGamingGuidelineProtocolsViewModel">Remove</a></td>
											</tr>
										</tbody>
									</table>
									<div>&nbsp;<span data-bind="click: addGamingGuidelineProtocolsViewModel"><a href="#"><i class="fas fa-plus"></i> Add Protocol</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 id="RTPRequirementsLabel" class="panel-title">RTP Requirements</h3>
							</div>
							<div class="panel-body">
								<div class="form-group form-group-sm">
									<div>&nbsp;<i>Note: Denom only allows &lt;, &gt;, - and = symbols. Example: &lt;0.25 , &gt;1.0, 0.01-0.25, =0.50</i></div>
									<table class="table table-condensed table-striped table-hover ">
										<thead>
											<tr>
												<th>Game Type</th>
												<th>RTP Type</th>
												<th>RTP (%)</th>
												<th>Denom ($)</th>
												<th>Note</th>
												<th class="text-right"><a href="#" data-bind="click: removeAllGamingGuidelineRTPRequirementViewModels">Remove All</a></th>
											</tr>
										</thead>
										<tbody data-bind="foreach: GamingGuidelineRTPRequirementsViewModels">
											<tr>
												<td class="col-sm-3">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="lookup: GameTypeId, value: GameTypeId, options: GameType, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.GamingGuidelinesGameTypes" class="form-control"></select>
												</td>
												<td class="col-sm-2">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="select: RTPTypeId, value: RTPTypeId,  options: $root.GamingGuidelineRTPType, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select>
												</td>
												<td class="col-sm-2">
													<input type="number" data-bind="value: RTP" class="form-control" />
												</td>
												<td class="col-sm-2">
													<input type="input" data-bind="value: DenomSymbol" class="form-control" />
												</td>
												<td class="col-sm-3">
													<textarea data-bind="value: Note" class="form-control vertical-resize"></textarea>
												</td>
												<td class="col-sm-4 text-right"><a href="#" data-bind="click: $root.removeGamingGuidelineRTPRequirementViewModel">Remove</a></td>
											</tr>
										</tbody>
									</table>
									<div>&nbsp;<span data-bind="click: addGamingGuidelineRTPRequirementViewModel"><a href="#"><i class="fas fa-plus"></i> Add RTP Type</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 id="TechTypesLabel" class="panel-title">Tech Types</h3>
							</div>
							<div class="panel-body">
								<div class="form-group form-group-sm">
									<table class="table table-condensed table-striped table-hover ">
										<thead>
											<tr>
												<th>Tech Type</th>
												<th>Status</th>
												<th>Notes</th>
												<th class="text-right"><a href="#" data-bind="click: removeAllGamingGuidelineTechTypeViewModels">Remove All</a></th>
											</tr>
										</thead>
										<tbody data-bind="foreach: GamingGuidelineTechTypesViewModels">
											<tr>
												<td class="col-sm-3">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="lookup: TechTypeId, value: TechTypeId, options: TechType, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.GamingGuidelineTechTypes" class="form-control"></select>
												</td>
												<td class="col-sm-2">
													<input type="hidden" data-bind="value: Id" />
													<select data-bind="select: TechTypeStatusId, value: TechTypeStatusId,  options: $root.GamingGuidelineTechTypeStatus, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select>
												</td>
												<td class="col-sm-6">
													<textarea data-bind="value: Note" class="form-control vertical-resize"></textarea>
												</td>
												<td class="col-sm-4 text-right"><a href="#" data-bind="click: $root.removeGamingGuidelineTechTypeViewModel">Remove</a></td>
											</tr>
										</tbody>
									</table>
									<div>&nbsp;<span data-bind="click: addGamingGuidelineTechTypeViewModel"><a href="#"><i class="fas fa-plus"></i> Add Tech Type</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scripts{
	@Scripts.Render("~/bundles/script/knockout")
	<script>
		// KO
		var data = @Html.Raw(Json.Encode(Model));
		var defaultGamingGuidelineLimit = data.DefaultGamingGuidelineLimit;
		var defaultGamingGuidelineAttribute = data.DefaultGamingGuidelineAttribute;
		var defaultGamingGuidelineOddsRequirement = data.DefaultGamingGuidelineOddsRequirement;
		var defaultGamingGuidelineProhibitedGameType = data.DefaultGamingGuidelineProhibitedGameType;
		var defaultGamingGuidelineProtocolType = data.DefaultGamingGuidelineProtocolType;
		var defaultGamingGuidelineRTPRequirement = data.DefaultGamingGuidelineRTPRequirement;
		var defaultGamingGuidelineTechType = data.DefaultGamingGuidelineTechType;
		var defaultUserComment = data.DefaultUserComment;

		var gamingGuidelinesModel = function (data) {
			var self = this;
			ko.mapping.fromJS(data, {}, self);

			//#region Limits
			self.addGamingGuidelineLimitViewModel = function () {
				self.GamingGuidelineLimitViewModels.push(ko.mapping.fromJS(defaultGamingGuidelineLimit));
			}
			self.VisibleGamingGuidelineLimitViewModel = function () {
				return ko.utils.arrayFilter(self.GamingGuidelineLimitViewModels(), function (GamingGuidelineLimitViewModel) { return GamingGuidelineLimitViewModel._destroy !== true });
			}
			self.removeAllGamingGuidelineLimitViewModels = function () {
				self.GamingGuidelineLimitViewModels.destroyAll();
			};
			self.removeGamingGuidelineLimitViewModel = function (GamingGuidelineLimitViewModel) {
				self.GamingGuidelineLimitViewModels.destroy(GamingGuidelineLimitViewModel);
			};
			//#endregion

			//#region Attributes
			self.addGamingGuidelineAttributeViewModel = function () {
				self.GamingGuidelineAttributeViewModels.push(ko.mapping.fromJS(defaultGamingGuidelineAttribute));
			};
			self.VisibleGamingGuidelineAttributeViewModel = function () {
				return ko.utils.arrayFilter(self.GamingGuidelineAttributeViewModels(), function (GamingGuidelineAttributeViewModel) { return GamingGuidelineAttributeViewModel._destroy !== true });
			};
			self.removeAllGamingGuidelineAttributeViewModels = function () {
				self.GamingGuidelineAttributeViewModels.destroyAll();
			};
			self.removeGamingGuidelineAttributeViewModel = function (GamingGuidelineAttributeViewModel) {
				self.GamingGuidelineAttributeViewModels.destroy(GamingGuidelineAttributeViewModel);
			};
			//#endregion

			//#region OddsRequirements
			self.addGamingGuidelineOddsRequirementViewModel = function () {
				self.GamingGuidelineOddsRequirementViewModels.push(ko.mapping.fromJS(defaultGamingGuidelineOddsRequirement));
				$("input[data-type='number']").keyup(function (e) {
					if (e.which >= 37 && e.which <= 40) {
						e.preventDefault();
					}
					var $this = $(this);
					var num = $this.val().replace(/,/gi, "");
					var num2 = num.split(/(?=(?:\d{3})+$)/).join(",");
					$this.val(num2);
				});
			};
			self.VisibleGamingGuidelineOddsRequirementViewModel = function () {
				return ko.utils.arrayFilter(self.GamingGuidelineOddsRequirementViewModels(), function (GamingGuidelineOddsRequirementViewModel) { return GamingGuidelineOddsRequirementViewModel._destroy !== true });
			};
			self.removeAllGamingGuidelineOddsRequirementViewModels = function () {
				self.GamingGuidelineOddsRequirementViewModels.destroyAll();
			};
			self.removeGamingGuidelineOddsRequirementViewModel = function (GamingGuidelineOddsRequirementViewModel) {
				self.GamingGuidelineOddsRequirementViewModels.destroy(GamingGuidelineOddsRequirementViewModel);
			};
			//#endregion

			//#region Prohibited Game Types
			self.addGamingGamingGuidelineProhibitedGameTypeViewModel = function () {
				self.GamingGuidelineProhibitedGameTypeViewModels.push(ko.mapping.fromJS(defaultGamingGuidelineProhibitedGameType));
			};
			self.VisibleGamingGuidelineProhibitedGameType = function () {
				return ko.utils.arrayFilter(self.GamingGuidelineProhibitedGameTypeViewModels(), function (GamingGuidelineProhibitedGameType) { return GamingGuidelineProhibitedGameType._destroy !== true });
			};
			self.removeAllGamingGuidelineProhibitedGameTypeViewModels = function () {
				self.GamingGuidelineProhibitedGameTypeViewModels.destroyAll();
			};
			self.removeGamingGuidelineProhibitedGameTypeViewModel = function (GamingGuidelineProhibitedGameType) {
				self.GamingGuidelineProhibitedGameTypeViewModels.destroy(GamingGuidelineProhibitedGameType);
			};
			//#endregion

			//#region Protocol Types
			self.addGamingGuidelineProtocolsViewModel = function () {
				self.GamingGuidelineProtocolTypeViewModels.push(ko.mapping.fromJS(defaultGamingGuidelineProtocolType));
			};
			self.VisibleGamingGuidelineProtocolType = function () {
				return ko.utils.arrayFilter(self.GamingGuidelineProtocolTypeViewModels(), function (GamingGuidelineProtocolType) { return GamingGuidelineProtocolType._destroy !== true });
			};
			self.removeAllGamingGuidelineProtocolsViewModels = function () {
				self.GamingGuidelineProtocolTypeViewModels.destroyAll();
			};
			self.removeGamingGuidelineProtocolsViewModel = function (GamingGuidelineProtocolType) {
				self.GamingGuidelineProtocolTypeViewModels.destroy(GamingGuidelineProtocolType);
			};
			//#endregion

			//#region RTP Requirements
			self.addGamingGuidelineRTPRequirementViewModel = function () {
				self.GamingGuidelineRTPRequirementsViewModels.push(ko.mapping.fromJS(defaultGamingGuidelineRTPRequirement));
			};
			self.VisibleGamingGuidelineRTPRequirementViewModel = function () {
				return ko.utils.arrayFilter(self.GamingGuidelineRTPRequirementsViewModels(), function (GamingGuidelineRTPRequirementsViewModel) { return GamingGuidelineRTPRequirementGamingGuidelineRTPRequirementsViewModel._destroy !== true });
			};
			self.removeAllGamingGuidelineRTPRequirementViewModels = function () {
				self.GamingGuidelineRTPRequirementsViewModels.destroyAll();
			};
			self.removeGamingGuidelineRTPRequirementViewModel = function (GamingGuidelineRTPRequirementsViewModel) {
				self.GamingGuidelineRTPRequirementsViewModels.destroy(GamingGuidelineRTPRequirementsViewModel);
			};
			//#endregion

			//#region Tech Types
			self.addGamingGuidelineTechTypeViewModel = function () {
				self.GamingGuidelineTechTypesViewModels.push(ko.mapping.fromJS(defaultGamingGuidelineTechType));
			};
			self.VisibleGamingGuidelineTechTypeViewModel = function () {
				return ko.utils.arrayFilter(self.GamingGuidelineTechTypesViewModels(), function (GamingGuidelineTechTypesViewModel) { return GamingGuidelineTechTypesViewModel._destroy !== true });
			};
			self.removeAllGamingGuidelineTechTypeViewModels = function () {
				self.GamingGuidelineTechTypesViewModels.destroyAll();
			};
			self.removeGamingGuidelineTechTypeViewModel = function (GamingGuidelineTechTypesViewModel) {
				self.GamingGuidelineTechTypesViewModels.destroy(GamingGuidelineTechTypesViewModel);
			};
			//#endregion

			//#region User Comments
			self.addUserCommentsViewModel = function () {
				self.UserComments.push(ko.mapping.fromJS(defaultUserComment));
			};
			self.VisibleUserCommentsViewModel = function () {
				return ko.utils.arrayFilter(self.UserComments(), function (UserComment) { return UserComment._destroy !== true });
			};
			self.removeAllUserComments = function () {
				self.UserComments.destroyAll();
				ko.utils.arrayForEach(self.UserComments(), function (comment) {
					if (!comment.IsEditable()) {
						comment._destroy = false;
					}
				});
				self.UserComments.notifySubscribers();
			};
			self.removeExistingUserComments = function (UserComment) {
				if (UserComment.IsEditable()) {
					self.UserComments.destroy(UserComment);
				}
			};
			self.DirtyUserComments = function (userComment, event) {
				userComment._dirty(true);
			}
			//#endregion
		}

		var gamingGuidelinesViewModel = new gamingGuidelinesModel(data);

		$(function () {
			ko.applyBindings(gamingGuidelinesViewModel);

			$('#ViewExternalSite').on('click', function (e) {
				e.preventDefault();
				if ($('#WebLink').val() !== null && $('#WebLink').val() !== '') {
					window.open($('#WebLink').val());
				}
				else {
					bootbox.alert("Please enter a valid link");
				}
			});

			$('.btn-saveguideline').on('click', function (e) {
				e.preventDefault();

				var data = ko.toJS(gamingGuidelinesViewModel);
				var sortedAttributes = data.GamingGuidelineAttributeViewModels.slice().sort();
				var prevAttr = sortedAttributes[0]
				for (var i = 1; i < sortedAttributes.length; i++) {
					if ((sortedAttributes[i]._destroy==false) && (prevAttr.AttributeId == sortedAttributes[i].AttributeId )) {
						alert("Duplicate attribute");
						return true;
					}
				}
				for (var i = 0; i < data.GamingGuidelineLimitViewModels.length; i++) {
					if (data.GamingGuidelineLimitViewModels[i].GameTypeId == null && !data.GamingGuidelineLimitViewModels[i]._destroy) {
						alert("Please select a Game Type for all Limits selected");
						return true;
					}
				} 
				data.OwnerId = $('#OwnerId').val();
				data.SecondaryOwnerId = $('#SecondaryOwnerId').val();
				$('#GamingGuidelineViewModel').val(JSON.stringify(data));
				$('#LookupForm').submit();
			});
			$("body").scrollspy({
				target:'.bs-docs-sidebar',
				offset:40
			});

			for (var i = 0; i < $("input[data-type='number']").length; i++) {
				$("input[data-type='number']")[i].value = $("input[data-type='number']")[i].value.replace(/,/gi, "").split(/(?=(?:\d{3})+$)/).join(",");
			}

			$("input[data-type='number']").keyup(function (e) {
				if (e.which >= 37 && e.which <=40) {
					e.preventDefault();
				}
				var $this = $(this);
				var num = $this.val().replace(/,/gi, "");
				var num2 = num.split(/(?=(?:\d{3})+$)/).join(",");
				$this.val(num2);
			});
		});
	</script>
}

@section css{
	<style>
		/* Sidebar Styles */

		.vertical-resize {
			resize: vertical;
		}

		.sidebar-nav {
			position: fixed;
			margin-top:-48px;
			padding-top:48px;
			list-style: none;
			padding-left:0px;
		}

		.sidebar-nav li {
			padding: 0.5em 1em;
		}

		.sidebar-nav li a {
			display: block;
			text-decoration: none;
			color: #808080;
		}

		.sidebar-nav li a:hover {
			text-decoration: none;
			color:#000000;
			background: #ffffff;
		}

		.sidebar-nav li a:active,
		.sidebar-nav li a:focus {
			text-decoration: none;
		}
		.col-sm-10>.row{
			margin-top:-48px;
			padding-top:48px;
		}

		.form-horizontal .row{
			margin-top:-48px;
			padding-top:48px;
		}
		.bs-docs-sidebar .nav>.active>a {  color: #000000; }
	</style>
}