﻿@model Submissions.Web.Areas.Lookups.Models.GamingGuidelineIndexViewModel
@{ 
	ViewBag.Title = "Regulatory Guidelines";
}
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="modal" id="jurisdictionModal" tabindex="-1" role="dialog" aria-labelledby="jurisdictionSelect" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="jurisdictionSelect">Select a Jurisdiction</h3>
			</div>
			<div class="modal-body">
				<select id="selectedJurisdiction" data-lookupajax="@LookupAjax.GamingGuidelineJurisdictions" class="form-control"></select>
				<div class="row">
					<br />
					<div class="col-sm-6">
						Create multiple Guidelines for this Jurisdiction:
						<input id="multipleGuidelines" data-bind="checked:showList" type="checkbox" />
					</div>
				</div>
				<div data-bind="visible:showList" class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 id="RTPRequirementsLabel" class="panel-title">New Names:</h3>
							</div>
							<div class="panel-body">
								<div class="form-group form-group-sm">
									<table class="table table-condensed table-striped table-hover ">
										<thead>
											<tr>
												<th>Name</th>
												<th class="text-right"><a href="#" data-bind="click: removeAllGuidelineNames">Remove All</a></th>
											</tr>
										</thead>
										<tbody data-bind="foreach: GuidelineNamesViewModels">
											<tr>
												<td class="col-sm-3">
													<input data-bind="value: name" class="form-control" />
												</td>
												<td class="col-sm-4 text-right"><a href="#" data-bind="click: $root.removeGuidelineName">Remove</a></td>
											</tr>
										</tbody>
									</table>
									<div>&nbsp;<span data-bind="click: addGuidelineName"><a href="#"><i class="fas fa-plus"></i> Add</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" id="createNewGuideline">Add</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="userTemplateModal" aria-labelledby="userTemplateUpdate" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3>Column Chooser</h3>
				<button class="btn btn-primary" id="toggleAllBtn">Toggle All</button>
			</div>
			<div class="modal-body">
				<h4>
					<strong>Please select the columns you would like to see (unchecked columns will be hidden)</strong>
				</h4>
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-12">
							<h4><strong><u>Jurisdiction</u></strong></h4>
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.Country)
										@Html.CheckBoxFor(m => m.UserTemplate.Country)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.SpecialHandling)
										@Html.CheckBoxFor(m => m.UserTemplate.SpecialHandling)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.Portal)
										@Html.CheckBoxFor(m => m.UserTemplate.Portal)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.SourceCodeCompilation)
										@Html.CheckBoxFor(m => m.UserTemplate.SourceCodeCompilation)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.Forensic)
										@Html.CheckBoxFor(m => m.UserTemplate.Forensic)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.ProgressiveReconciliation)
										@Html.CheckBoxFor(m => m.UserTemplate.ProgressiveReconciliation)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.OffensiveMaterialEvaluation)
										@Html.CheckBoxFor(m => m.UserTemplate.OffensiveMaterialEvaluation)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.UnderageAdvertisingEvaluation)
										@Html.CheckBoxFor(m => m.UserTemplate.UnderageAdvertisingEvaluation)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.ResponsibleGaming)
										@Html.CheckBoxFor(m => m.UserTemplate.ResponsibleGaming)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.RemoteAccessITL)
										@Html.CheckBoxFor(m => m.UserTemplate.RemoteAccessITL)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.RemoteAccess)
										@Html.CheckBoxFor(m => m.UserTemplate.RemoteAccess)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.NonCompliantPaytableHandling)
										@Html.CheckBoxFor(m => m.UserTemplate.NonCompliantPaytableHandling)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.BonusPot)
										@Html.CheckBoxFor(m => m.UserTemplate.BonusPot)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.WirelessTechnology)
										@Html.CheckBoxFor(m => m.UserTemplate.WirelessTechnology)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.SkillGames)
										@Html.CheckBoxFor(m => m.UserTemplate.SkillGames)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.RandomNumberGenerator)
										@Html.CheckBoxFor(m => m.UserTemplate.RandomNumberGenerator)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.GeographicalTestingLocationOnly)
										@Html.CheckBoxFor(m => m.UserTemplate.GeographicalTestingLocationOnly)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.PhysicalTestingLocation)
										@Html.CheckBoxFor(m => m.UserTemplate.PhysicalTestingLocation)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.CompilationMethod)
										@Html.CheckBoxFor(m => m.UserTemplate.CompilationMethod)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.SpecialMathInstructions)
										@Html.CheckBoxFor(m => m.UserTemplate.SpecialMathInstructions)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.NewTechnologyReviewNeeded)
										@Html.CheckBoxFor(m => m.UserTemplate.NewTechnologyReviewNeeded)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.DocumentedRestrictionsOnSkill)
										@Html.CheckBoxFor(m => m.UserTemplate.DocumentedRestrictionsOnSkill)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.Comments)
										@Html.CheckBoxFor(m => m.UserTemplate.Comments)
									</div>
								</div>
							</div>
							<h4><strong><u>Tech Type</u></strong></h4>
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.NotAllowedTech)
										@Html.CheckBoxFor(m => m.UserTemplate.NotAllowedTech)
									</div>
								</div>
							</div>
							<h4><strong><u>RTP Requirements</u></strong></h4>
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.MaxRTP)
										@Html.CheckBoxFor(m => m.UserTemplate.MaxRTP)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.AverageRTP)
										@Html.CheckBoxFor(m => m.UserTemplate.AverageRTP)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.MinRTP)
										@Html.CheckBoxFor(m => m.UserTemplate.MinRTP)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.WeightedRTP)
										@Html.CheckBoxFor(m => m.UserTemplate.WeightedRTP)
									</div>
								</div>
							</div>
							<h4><strong><u>Protocol</u></strong></h4>
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.ProtocolValue)
										@Html.CheckBoxFor(m => m.UserTemplate.ProtocolValue)
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-12">
							<h4><strong><u>Attribute</u></strong></h4>
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.ConditionalRevocation)
										@Html.CheckBoxFor(m => m.UserTemplate.ConditionalRevocation)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.ConditionalApproval)
										@Html.CheckBoxFor(m => m.UserTemplate.ConditionalApproval)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.RequiredSafetyCertifications)
										@Html.CheckBoxFor(m => m.UserTemplate.RequiredSafetyCertifications)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.Interop)
										@Html.CheckBoxFor(m => m.UserTemplate.Interop)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.GAT)
										@Html.CheckBoxFor(m => m.UserTemplate.GAT)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.ProtocolTesting)
										@Html.CheckBoxFor(m => m.UserTemplate.ProtocolTesting)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.NUStatus)
										@Html.CheckBoxFor(m => m.UserTemplate.NUStatus)
									</div>
								</div>
							</div>
							<h4><strong><u>Limit</u></strong></h4>
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.CreditLimit)
										@Html.CheckBoxFor(m => m.UserTemplate.CreditLimit)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.MaxBet)
										@Html.CheckBoxFor(m => m.UserTemplate.MaxBet)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.MinBet)
										@Html.CheckBoxFor(m => m.UserTemplate.MinBet)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.MTGMMaxWin)
										@Html.CheckBoxFor(m => m.UserTemplate.MTGMMaxWin)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.ProgressiveMaxWin)
										@Html.CheckBoxFor(m => m.UserTemplate.ProgressiveMaxWin)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.WinCap)
										@Html.CheckBoxFor(m => m.UserTemplate.WinCap)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.LinkMaxWin)
										@Html.CheckBoxFor(m => m.UserTemplate.LinkMaxWin)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.LinkedSmallEstablishments)
										@Html.CheckBoxFor(m => m.UserTemplate.LinkedSmallEstablishments)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.MaxWin)
										@Html.CheckBoxFor(m => m.UserTemplate.MaxWin)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.MTGMMaxBet)
										@Html.CheckBoxFor(m => m.UserTemplate.MTGMMaxBet)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.ProgressiveCap)
										@Html.CheckBoxFor(m => m.UserTemplate.ProgressiveCap)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.SAPMaxWin)
										@Html.CheckBoxFor(m => m.UserTemplate.SAPMaxWin)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.WAPMaxWin)
										@Html.CheckBoxFor(m => m.UserTemplate.WAPMaxWin)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.MaxBet)
										@Html.CheckBoxFor(m => m.UserTemplate.MaxBet)
									</div>
								</div>
							</div>
							<h4><strong><u>Prohibited Game Type</u></strong></h4>
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.NotAllowedGames)
										@Html.CheckBoxFor(m => m.UserTemplate.NotAllowedGames)
									</div>
								</div>
							</div>
							<h4><strong><u>Odds Requirement</u></strong></h4>
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.AnyAwardOR)
										@Html.CheckBoxFor(m => m.UserTemplate.AnyAwardOR)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.TopAwardOR)
										@Html.CheckBoxFor(m => m.UserTemplate.TopAwardOR)
									</div>
									<div class="col-sm-12">
										@Html.LabelFor(m => m.UserTemplate.AllAwardOR)
										@Html.CheckBoxFor(m => m.UserTemplate.AllAwardOR)
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" id="updateUserTemplate">Update</button>
			</div>
		</div>
	</div>
</div>
<div class="row row-title">
	<div class="col-sm-6">
		<h3>Regulatory Guidelines</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<a data-target="#userTemplateModal" role="button" class="btn btn-primary btn-sm" data-toggle="modal">Update Grid Columns</a>
		@if (Util.HasAccess(Permission.GamingGuideline, AccessRight.Add) ||
			Util.HasAccess(Permission.Admin, AccessRight.Add)) {
		<a data-target="#jurisdictionModal" role="button" class="btn btn-primary btn-sm" data-toggle="modal">Add New Guideline</a>
		}
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		<a href="@Url.Action("Export")" class="btn btn-primary btn-sm" id="export">Export</a>
	</div>
</div>
<div class="text-red">
	<h3>@ViewBag.ErrorMessage</h3>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<h4 class="col-sm-2 panel-title">
				Filters
			</h4>
			<h4 class="col-sm-1 panel-title  pull-right">
				<span class="indicator fa pull-right fa-chevron-circle-up collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false"></span>
			</h4>
		</div>
	</div>
	<div id="collapse1" class="panel-collapse collapse in">
		<div class="panel-body table-responsive">
			<div class="row">
				<div class="col-sm-4">
					<div>@Html.LabelFor(m => m.Filters.JurisdictionIds)</div>
					<div>
						@Html.LookupMultipleFor(m => m.Filters.JurisdictionIds, Model.Filters.Jurisdictions, LookupAjax.GamingGuidelineJurisdictionsSelected, false)
					</div>
				</div>
				<div class="col-sm-4">
					@Html.LabelFor(m => m.Filters.AttributeIds)
					@Html.LookupMultipleFor(m => m.Filters.AttributeIds, Model.Filters.Attributes, LookupAjax.GamingGuidelinesAttributes, false)
				</div>
				<div class="col-sm-4">
					@Html.LabelFor(m => m.Filters.ProhibitedGameTypeIds)
					@Html.LookupMultipleFor(m => m.Filters.ProhibitedGameTypeIds, Model.Filters.ProhibitedGameTypes, LookupAjax.GamingGuidelinesGameTypes, false)
				</div>
				<div class="col-sm-4">
					@Html.LabelFor(m => m.Filters.LimitIds)
					@Html.LookupMultipleFor(m => m.Filters.LimitIds, Model.Filters.Limits, LookupAjax.GamingGuidelineLimits, false)
				</div>
				<div class="col-sm-4">
					@Html.LabelFor(m => m.Filters.LimitValueIds)
					@Html.LookupMultipleFor(m => m.Filters.LimitValueIds, Model.Filters.LimitValues, LookupAjax.LimitNumber, false)
				</div>
				<div class="col-sm-4">
					@Html.LabelFor(m => m.Filters.OddsValueIds)
					@Html.LookupMultipleFor(m => m.Filters.OddsValueIds, Model.Filters.OddsValues, LookupAjax.OddNumber, false)
				</div>
				<div class="col-sm-4">
					@Html.LabelFor(m => m.Filters.ProtocolIds)
					@Html.LookupMultipleFor(m => m.Filters.ProtocolIds, Model.Filters.Protocols, LookupAjax.GamingGuidelineProtocols, false)
				</div>
				<div class="col-sm-4">
					@Html.LabelFor(m => m.Filters.RTPTypeIds)
					@Html.LookupMultipleFor(m => m.Filters.RTPTypeIds, Model.Filters.RTPTypes, LookupAjax.GameTypes, false)
				</div>
				<div class="col-sm-2">
					@Html.LabelFor(m => m.Filters.RTPMinValueIds)
					@Html.LookupFor(m => m.Filters.RTPMinValueIds, m => m.Filters.RTPMinValues, LookupAjax.RTPNumber, false)
				</div>
				<div class="col-sm-2">
					@Html.LabelFor(m => m.Filters.RTPMaxValueIds)
					@Html.LookupFor(m => m.Filters.RTPMaxValueIds, m => m.Filters.RTPMaxValues, LookupAjax.RTPNumber, false)
				</div>
			</div>
			<div class="row ptb-10">
				<div class="col-sm-3">
					<div>
						@Html.LabelFor(m => m.Filters.InactiveToggle)
						@Html.CheckBoxFor(m => m.Filters.InactiveToggle)
					</div>
					<button class="btn btn-primary" id="searchButton">Search</button>
					<button id="clearSearch" class="btn btn-primary">Clear</button>
				</div>
			</div>
		</div>
	</div>
	<table class="row col-sm-12" style="margin-top: 10px; margin-bottom: 10px">
		<tr>
			@foreach (var item in Model.Alphabets)
			{
				<td align="center">
					&nbsp;&nbsp;[<a href="#" id="@item.ToString()" onclick="UpdateGrid(this)">@item</a>]&nbsp;&nbsp;
				</td>
			}
			<span style="display: none;" id="LetterHolder"></span>
		</tr>
	</table>
</div>

<div class="row">
	<div class="col-sm-12 bottom-margin">
		@Html.Trirand().JQGrid(Model.GamingGuidelineGrid.Grid, Model.GamingGuidelineGrid.Grid.ID)
	</div>
</div>


@section scripts{
	@Scripts.Render("~/bundles/script/kendo")
	@Scripts.Render("~/bundles/script/knockout")
	@Scripts.Render("~/bundles/script/jqgrid")

<script>
	var defaultAllChecked = true;
	var ncphList = JSON.parse('@Html.Raw(Model.NonCompPaytableList)');
	var editLink = '@Url.Action("Edit")' + '/';
	var deleteLink = '@Url.Action("CheckDelete")' + '?Length=0';
	var sportsBetting = '@Url.Action("Edit", "GamingGuidelinesSportsBetting")' + '/';
	var sessionItemName = 'GLI_GamingGuidelinesIndex';

	function gridBeforeAjaxRequest() {
		loadFilters(sessionItemName);
		var postData = $(this).jqGrid('getGridParam', 'postData');
		postData.CustomFilters = JSON.stringify(getFilters());
		$(this).jqGrid('setGridParam', { postData: postData });
		saveFilters(sessionItemName);
		updateColumnTitle();
	}
	function updateColumnTitle() {
		$('#GamingGuidelineGrid_Country').prop('title', 'Country of Origin');
		$('#GamingGuidelineGrid_Portal').prop('title', 'Jurisdictions which have the ability to review DRAFT certifications via GLI Access');
		$('#GamingGuidelineGrid_SpecialMathInstructions').prop('title', 'Regulatory guidance provided with regard to math calculation');
		$('#GamingGuidelineGrid_ConditionalApproval').prop('title', 'Approvals based on a specific configuration');
		$('#GamingGuidelineGrid_GAT').prop('title', 'Jurisdiction requires GAT signature verification');
		$('#GamingGuidelineGrid_RequiredSafetyCertifications').prop('title', 'Safety Certification required (YES); not required (NO); disclosure (RECOMMENDATION)');
		$('#GamingGuidelineGrid_CreditLimit').prop('title', 'The highest value the credit meter can hold as allowed by the jurisdiction');
		$('#GamingGuidelineGrid_MaxBet').prop('title', 'Maximum wager for a single game');
		$('#GamingGuidelineGrid_MinBet').prop('title', 'Minimum wager for a single game');
		$('#GamingGuidelineGrid_MTGMMaxWin').prop('title', 'Maximum win for a multi-game');
		$('#GamingGuidelineGrid_ProgressiveMaxWin').prop('title', 'Maximum win amount of a single progressive award');
		$('#GamingGuidelineGrid_WinCap').prop('title', 'The most a single game can award');
		$('#GamingGuidelineGrid_NotAllowedGames').prop('title', 'Game Types prohibited by  by the jurisdiction');
		$('#GamingGuidelineGrid_AnyAwardOR').prop('title', 'The odds for any award combination');
		$('#GamingGuidelineGrid_TopAwardOR').prop('title', 'The odds for the top award combination');
		$('#GamingGuidelineGrid_NotAllowedTech').prop('title', 'Technology not allowed in the jurisdiction');
		$('#GamingGuidelineGrid_MaxRTP').prop('title', 'Maximum Return to Player Percentage');
		$('#GamingGuidelineGrid_AverageRTP').prop('title', 'Average Return to Player Percentage');
		$('#GamingGuidelineGrid_SpecialHandling').prop('title', 'Jurisdiction that requires additional handling by Technical Compliance');
		$('#GamingGuidelineGrid_SourceCodeCompilation').prop('title', 'Sourcecode Compilation');
		$('#GamingGuidelineGrid_Forensic').prop('title', 'Jurisdiction requires GLI to have the ability to perform a forensic evaluation.');
		$('#GamingGuidelineGrid_ProgressiveReconciliation').prop('title', 'Progressive Reconciliation');
		$('#GamingGuidelineGrid_OffensiveMaterialEvaluation').prop('title', 'The Jurisdiction has requested GLI notify on items that may be considered offensive or illegal.');
		$('#GamingGuidelineGrid_UnderageAdvertisingEvaluation').prop('title', 'The Jurisdiction has requested GLI notify on items that may be considered inticing minors.');
		$('#GamingGuidelineGrid_ResponsibleGaming').prop('title', 'The jurisdiction requires Responsible Gaming Information available to the players.');
		$('#GamingGuidelineGrid_RemoteAccessITL').prop('title', 'Ability for an ITL to access the system remotely to validate or obtain information.');
		$('#GamingGuidelineGrid_RemoteAccess').prop('title', 'Ability for a Supplier to access the system remotely add, modify, delete files or obtain information.');
		$('#GamingGuidelineGrid_NonCompliantPaytableHandling').prop('title', 'Jurisdiction allowance for paytables that fall outside of the prescribed range.');
		$('#GamingGuidelineGrid_BonusPot').prop('title', 'Bonus Pots');
		$('#GamingGuidelineGrid_WirelessTechnology').prop('title', 'The jurisdictions stance on Wireless Technology.');
		$('#GamingGuidelineGrid_SkillGames').prop('title', 'The jurisdictions stance on Skill Games.');
		$('#GamingGuidelineGrid_RandomNumberGenerator').prop('title', 'The jurisdictions expectation of an RNG.');
		$('#GamingGuidelineGrid_GeographicalTestingLocationOnly').prop('title', 'Guidance provided by the Regulatory Agency on the geographic location of the ITL.');
		$('#GamingGuidelineGrid_PhysicalTestingLocation').prop('title', 'Guidance provided by the Regulatory Agency on the facility where testing can be performed.');
		$('#GamingGuidelineGrid_CompilationMethod').prop('title', 'Accepted sourcecode compilation methods.');
		$('#GamingGuidelineGrid_NewTechnologyReviewNeeded').prop('title', 'Review that requires additional needed by Technical Compliance');
		$('#GamingGuidelineGrid_DocumentedRestrictionsOnSkill').prop('title', 'Documented information regarding skill');
		$('#GamingGuidelineGrid_ConditionalRevocation').prop('title', 'Revocation based on a specific configuration');
		$('#GamingGuidelineGrid_Interop').prop('title', 'Required that requires additional interop by Technical Compliance');
		$('#GamingGuidelineGrid_ProtocolTesting').prop('title', 'Required that requires additional testing by Technical Compliance');
		$('#GamingGuidelineGrid_NUStatus').prop('title', 'Whether or not a jurisdiction will allow a certification that is processed as a Non-Mandatory Update.  Modifications to the software were determined to be non-critical and the software can remain fielded without negative impact to game integrity.');
		$('#GamingGuidelineGrid_MaxWin').prop('title', 'Maximum win value allowed');
		$('#GamingGuidelineGrid_MTGMMaxBet').prop('title', 'Maximum wager on a multi-game');
		$('#GamingGuidelineGrid_ProgressiveCap').prop('title', 'Highest a progressive award can increment to');
		$('#GamingGuidelineGrid_SAPMaxWin').prop('title', 'Stand Alone Maximum Win value allowed');
		$('#GamingGuidelineGrid_WAPMaxWin').prop('title', 'Wide Area Progressive Maximum Win value allowed');
		$('#GamingGuidelineGrid_MinRTP').prop('title', 'Minimum Return to Player Percentage');
		$('#GamingGuidelineGrid_WeightedRTP').prop('title', 'Weighted Return to Player Percentage');
	}
	function getFilters() {
		var filters = {};
		filters.JurisdictionIds = $('#Filters_JurisdictionIds').val();
		filters.AttributeIds = $('#Filters_AttributeIds').val();
		filters.LimitIds = $('#Filters_LimitIds').val();
		filters.ProhibitedGameTypeIds = $('#Filters_ProhibitedGameTypeIds').val();
		filters.ProtocolIds = $('#Filters_ProtocolIds').val();
		filters.RTPTypeIds = $('#Filters_RTPTypeIds').val();
		filters.RTPMinValueIds = $('#Filters_RTPMinValueIds').val();
		filters.RTPMaxValueIds = $('#Filters_RTPMaxValueIds').val();
		filters.OddsValueIds = $('#Filters_OddsValueIds').val();
		filters.LimitValueIds = $("#Filters_LimitValueIds").val();
		filters.InactiveToggle = $('#Filters_InactiveToggle').is(':checked');
		filters.Alphabet = $('#LetterHolder').text();
		return filters;
	}
	function formatJurisdictionField(cellValue, options, rowObject) {
		var json = JSON.parse(cellValue);
		var hasEdit = false;
		var hasSportsBetting = false;
		var boxValue = '<div>';
		// Sports betting | Edit | delete button
		boxValue += '<div><h4 class="ellipsis">' + json.jur.Name + ' (' + json.jur.JurisdictionId + ')</h4></div>';
		boxValue += json.jur.PrimaryOwner != "" ? '<h6><i>Primary Owner: ' + json.jur.PrimaryOwner + '</i></h6>' : "";
		boxValue += json.jur.SecondaryOwner != "" ? '<h6><i>Secondary Owner: ' + json.jur.SecondaryOwner + '</i></h6>' : "";
		boxValue += '<div class="text-left">';
		if (json.sportbetting !== 0) {
			boxValue += '<a href= "' + sportsBetting + json.sportbetting + '?mode=Edit"> Sports Betting </a>';
			hasSportsBetting = true;
		}
		if ("@Util.HasAccess(Permission.GamingGuideline, AccessRight.Edit)" === "True" ||
			"@Util.HasAccess(Permission.Admin, AccessRight.Edit)" === "True") {
			if (hasSportsBetting) {
				boxValue += " | ";
			}
			boxValue += '<a href= "' + editLink + json.jur.Id + '?mode=Edit" > Edit</a>';
			hasEdit =  true;
		}
		boxValue += '</div></div>';
		return boxValue;
	}
	function toggleAllChecks() {
		$("#userTemplateModal input[type='checkbox']").prop('checked', defaultAllChecked);
		defaultAllChecked = !defaultAllChecked;
	}
	$('#toggleAllBtn').on('click', function () {
		toggleAllChecks();
	});
	$('#updateUserTemplate').on('click', function () {
		var url = '@Url.Action("UpdateUserTemplate")';
		var data = {};
		data.NotAllowedGames = $('#UserTemplate_NotAllowedGames').is(':checked');
		data.AnyAwardOR = $('#UserTemplate_AnyAwardOR').is(':checked');
		data.AllAwardOR = $('#UserTemplate_AllAwardOR').is(':checked');
		data.TopAwardOR = $('#UserTemplate_TopAwardOR').is(':checked');
		data.NotAllowedTech = $('#UserTemplate_NotAllowedTech').is(':checked');
		data.ProtocolValue = $('#UserTemplate_ProtocolValue').is(':checked');
		data.MaxRTP = $('#UserTemplate_MaxRTP').is(':checked');
		data.MinRTP = $('#UserTemplate_MinRTP').is(':checked');
		data.NUStatus = $('#UserTemplate_NUStatus').is(':checked');
		data.AverageRTP = $('#UserTemplate_AverageRTP').is(':checked');
		data.RequiredSafetyCertifications = $('#UserTemplate_RequiredSafetyCertifications').is(':checked');
		data.Country = $('#UserTemplate_Country').is(':checked');
		data.SpecialHandling = $('#UserTemplate_SpecialHandling').is(':checked');
		data.SourceCodeCompilation = $('#UserTemplate_SourceCodeCompilation').is(':checked');
		data.Forensic = $('#UserTemplate_Forensic').is(':checked');
		data.ProgressiveReconciliation = $('#UserTemplate_ProgressiveReconciliation').is(':checked');
		data.OffensiveMaterialEvaluation = $('#UserTemplate_OffensiveMaterialEvaluation').is(':checked');
		data.UnderageAdvertisingEvaluation = $('#UserTemplate_UnderageAdvertisingEvaluation').is(':checked');
		data.ResponsibleGaming = $('#UserTemplate_ResponsibleGaming').is(':checked');
		data.RemoteAccessITL = $('#UserTemplate_RemoteAccessITL').is(':checked');
		data.RemoteAccess = $('#UserTemplate_RemoteAccess').is(':checked');
		data.Portal = $('#UserTemplate_Portal').is(':checked');
		data.NonCompliantPaytableHandling = $('#UserTemplate_NonCompliantPaytableHandling').is(':checked');
		data.WirelessTechnology = $('#UserTemplate_WirelessTechnology').is(':checked');
		data.SkillGames = $('#UserTemplate_SkillGames').is(':checked');
		data.BonusPot = $('#UserTemplate_BonusPot').is(':checked');
		data.RandomNumberGenerator = $('#UserTemplate_RandomNumberGenerator').is(':checked');
		data.GeographicalTestingLocationOnly = $('#UserTemplate_GeographicalTestingLocationOnly').is(':checked');
		data.PhysicalTestingLocation = $('#UserTemplate_PhysicalTestingLocation').is(':checked');
		data.CompilationMethod = $('#UserTemplate_CompilationMethod').is(':checked');
		data.NewTechnologyReviewNeeded = $('#UserTemplate_NewTechnologyReviewNeeded').is(':checked');
		data.SpecialMathInstructions = $('#UserTemplate_SpecialMathInstructions').is(':checked');
		data.Comments = $('#UserTemplate_Comments').is(':checked');
		data.DocumentedRestrictionsOnSkill = $('#UserTemplate_DocumentedRestrictionsOnSkill').is(':checked');
		data.ConditionalApproval = $('#UserTemplate_ConditionalApproval').is(':checked');
		data.ConditionalRevocation = $('#UserTemplate_ConditionalRevocation').is(':checked');
		data.Interop = $('#UserTemplate_Interop').is(':checked');
		data.ProtocolTesting = $('#UserTemplate_ProtocolTesting').is(':checked');
		data.WeightedRTP = $('#UserTemplate_WeightedRTP').is(':checked');
		data.GAT = $('#UserTemplate_GAT').is(':checked');
		data.CreditLimit = $('#UserTemplate_CreditLimit').is(':checked');
		data.LinkMaxWin = $('#UserTemplate_LinkMaxWin').is(':checked');
		data.LinkedSmallEstablishments = $('#UserTemplate_LinkedSmallEstablishments').is(':checked');
		data.MaxBet = $('#UserTemplate_MaxBet').is(':checked');
		data.MaxWin = $('#UserTemplate_MaxWin').is(':checked');
		data.MinBet = $('#UserTemplate_MinBet').is(':checked');
		data.MTGMMaxBet = $('#UserTemplate_MTGMMaxBet').is(':checked');
		data.MTGMMaxWin = $('#UserTemplate_MTGMMaxWin').is(':checked');
		data.ProgressiveCap = $('#UserTemplate_ProgressiveCap').is(':checked');
		data.ProgressiveMaxWin = $('#UserTemplate_ProgressiveMaxWin').is(':checked');
		data.SAPMaxWin = $('#UserTemplate_SAPMaxWin').is(':checked');
		data.WAPMaxWin = $('#UserTemplate_WAPMaxWin').is(':checked');
		data.WinCap = $('#UserTemplate_WinCap').is(':checked');
		$.post(url, { "userTemplate": data }).done(function () { location.reload();});
	});

	$("#searchButton").click(function () {
		$("#LetterHolder").text("");
		$('#GamingGuidelineGrid').trigger('reloadGrid', [{ page: 1 }]);
	});
	$("#clearSearch").click(function () {
		$('#Filters_JurisdictionIds').empty();
		$('#Filters_AttributeIds').empty();
		$('#Filters_LimitIds').empty();
		$('#Filters_ProhibitedGameTypeIds').empty();
		$('#Filters_ProtocolIds').empty();
		$('#Filters_RTPMinValueIds').empty();
		$('#Filters_RTPMaxValueIds').empty();
		$('#Filters_OddsValueIds').empty();
		$("#Filters_LimitValueIds").empty();
		$('#Filters_InactiveToggle').prop('checked', false);
		$('#GamingGuidelineGrid').trigger('reloadGrid', [{ page: 1 }]);
	});
	$("[rel='tooltip']").tooltip();
	$(".container.body-content").kendoTooltip({
		filter: ".moreinfo",
		show: function (e) {
			if (this.content.text() !== "") {
				$('[role="tooltip"]').css("visibility", "visible");
			}
		},
		hide: function () {
			$('[role="tooltip"]').css("visibility", "hidden");
		},
		content: function (e) {
			var element = e.target[0];
			if (element.offsetWidth < element.scrollWidth) {
				return e.target.text();
			} else {
				return "";
			}
		}
	});
		

	// KO
	var guidelineName = function () {
		return {
			name: "",
			destroy: false
		};
	};

	var model = function (data) {
		var self = this;
		var postData = ko.mapping.fromJS(data, {}, self);

		self.showList = ko.observable(false);
		self.GuidelineNamesViewModels = ko.observableArray();

		self.addGuidelineName = function () {
			self.GuidelineNamesViewModels.push(ko.mapping.fromJS(new guidelineName));
		};
		self.VisibleGuidlineName = function () {
			return ko.utils.arrayFilter(self.GuidelineNamesViewModels(), function (guidelineName) { return guidelineName._destroy !== true;});
		};
		self.removeAllGuidelineNames = function () {
			self.GuidelineNamesViewModels.destroyAll();
		};
		self.removeGuidelineName = function (guidelineName) {
			self.GuidelineNamesViewModels.destroy(guidelineName);
		};
	};

	var newNameModel = new model([]);

	function UpdateGrid(element) {
		$("#LetterHolder").text(element.id);
		$('#GamingGuidelineGrid').trigger('reloadGrid', [{ page: 1 }]);
		$("#LetterHolder").text("");
	}

	$(document).ready(function () {
		ko.applyBindings(newNameModel);

		var selectedJuris = "";
		$(function () {
			var selectedJuris = "";
			$("#selectedJurisdiction").on('select2:select', function (e) {
				selectedJuris = $("#selectedJurisdiction").select2('data')[0].id;
			});
			$("#createNewGuideline").click(function () {
				var url = '';
				if (newNameModel.showList()) {
					var nameArray = [];
					newNameModel.JurId = selectedJuris;
					var postUrl = '@Url.Action("InitializeMultiple", "GamingGuidelines")';
					for (var i = 0; i < newNameModel.VisibleGuidlineName().length; i++) {
						nameArray.push(newNameModel.VisibleGuidlineName()[i].name());
					}
					$.post(postUrl, { JurId: selectedJuris, GuidelineNames: nameArray })
						.done(window.location = '@Url.Action("Index", "GamingGuidelines")');
				}
				else {
					url = '@Url.Action("Edit", "GamingGuidelines")' + "/-1?mode=Add&jurId={selectedJurId}";
					url = url.replace("{selectedJurId}", selectedJuris);
					window.location = url;
				}
			});
		});
	});
</script>
}

@section css{
	@Styles.Render("~/bundles/css/kendo")
	@Styles.Render("~/bundles/css/jqgrid")
	<style>

		.ptb-10 {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.container {
			/*Chrome shows extra horizontal scroll bar if width is 100%*/
			width: 99%;
		}

		.ui-jqgrid-view {
			max-height: 642px;
		}

		.ui-jqgrid-bdiv {
			overflow-y: scroll !important;
			max-height: 600px !important;
		}

		.table-search {
			margin: 0px;
		}

		.panel-heading {
			height: 30px;
		}

		.parent-width {
			display: inline-block;
		}

		.spacer {
			height: 20px;
		}

		.ellipsis {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		[role="row"] {
			opacity: 1;
		}
		
		th {
			text-align: left;
		}

		ul {
			padding-left: 15px;
		}

		[role="tooltip"] {
			visibility: hidden;
			min-width: 401px;
			max-width: 600px;
		}

		.k-tooltip-content {
			background: #ffffff;
			color: #000000;
		}

		/*.ui-search-toolbar {
			display: none;
		}*/

		.ui-state-default.ui-jqgrid-hdiv {
			display: block;
			position: sticky;
			top: 30px;
			background-color: white;
			z-index: 1;
		}

		#GamingGuidelineGrid > tbody > tr > td {
			border: 1px solid #DDDDDD;
			text-overflow: ellipsis;
		}

		.bottom-margin {
			margin-bottom: 100px;
		}

		.custom-width-height{
			width: 70%;
		}
		
	</style>
}