﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-9">
				<h3>Copy/Move Records to Another File <small>{{ vm.fileNumber}}</small></h3>
			</div>
			<div class="col-sm-3 form-buttons">
				<span class="text-info h3" v-if="Processing"><i class="fa fa-spinner fa-spin" style="color:green"></i>&nbsp;Saving.....</span>
				<a class="btn btn-primary btn-sm" @click="save" v-if="!Processing && vm.canAdd">Save</a>
				<button type="button" class="btn btn-primary btn-sm" @click="clickCancel">Cancel</button>
			</div>
		</div>

		<!--error/warnings -->
		<div class="alert alert-danger" role="alert" v-if="errorMsg != ''" style="white-space: pre">
			<strong>Error! </strong> {{errorMsg}}<span class="pull-right"><a href="#" @click="unSetErrorMsg()"><i class="fas fa-times"></i></a></span>
		</div>
		<div class="alert alert-warning" role="alert" v-if="warningBeforeSave != ''" style="white-space: pre">
			<strong>Warning! </strong>{{warningBeforeSave}}<br />Do you want to continue?&nbsp;<a href="#" @click="saveData" class="btn btn-light btn-sm">Yes</a>&nbsp;&nbsp;<a href="#" @click="unSetErrorMsg()" class="btn btn-light btn-sm">No</a><span class="pull-right"><a href="#" @click="unSetErrorMsg()"><i class="fa fa-close"></i></a></span>
		</div>

		<div id="BodyInfo" v-bind:class="{'disabledDiv' : (errorMsg != '' || warningBeforeSave != '') }">
			<!--submission List-->
			<SubmissionSelection :FileNumber="vm.fileNumber" :submissions="vm.submissions" ref="SubmissionSelection"></SubmissionSelection>

			&nbsp;&nbsp;<input type="radio" value="Copy" v-model="vm.copyMoveOption">&nbsp;<span class="text-info"><strong>Copy Records</strong></span>&nbsp;&nbsp;<input type="radio" value="Move" v-model="vm.copyMoveOption">&nbsp;<span class="text-info"><strong>Move Records</strong></span>
			<div class="panel panel-default panel">
				<div class="panel-heading">
					<h3 class="panel-title">
						Submission Details
						<span class="text-info pull-right">
							[&nbsp;<a href='#' title="Dates past more than 6 days required reason" @click="checkAndGetMemoForPastDate()"><i class="fa fa-calendar-times-o text-warning" aria-hidden="true"></i>&nbsp;Past Dates Reason&nbsp;<i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;<span style="color:green" v-show="isPastDateReasonExists"><i class="fa fa-check"></i></span>]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<form>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3" v-bind:class="{'errorField' : ($v.vm.newFileInfo.companyId.$invalid) }">Company</label>
									<div class="col-sm-9">
										<input name="Company" id="Company" type="hidden" v-model="vm.newFileInfo.company" />
										<Lookup id="CompanyId" name="CompanyId" :lookuptextfield="vm.newFileInfo.company" lookupajax="Companies" v-model="vm.newFileInfo.companyId" @updateLookupTextField="updateCompany" title="Company"></Lookup>
										<span class="errorField" v-show="$v.vm.newFileInfo.companyId.$invalid">This is a required field</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="control-label col-sm-12 text-center"><strong>Accounting Details</strong></label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3" v-bind:class="{'errorField' : ($v.vm.newFileInfo.certificationLabId.$invalid) }">Certification Lab</label>
									<div class="col-sm-9">
										<input name="CertLab" id="CertLab" type="hidden" v-model="vm.newFileInfo.certificationLab" />
										<Lookup id="CertLabId" name="CertLabId" :lookuptextfield="vm.newFileInfo.certificationLab" lookupajax="Laboratories" v-model="vm.newFileInfo.certificationLabId" @updateLookupTextField="updateCertLab" title="Select the office that will process/processed the file's initial certification(s)."></Lookup>
										<span class="errorField" v-show="$v.vm.newFileInfo.certificationLabId.$invalid">This is a required field</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3" v-bind:class="{'errorField' : ($v.vm.newFileInfo.contractTypeId.$invalid) }">Contract Type</label>
									<div class="col-sm-9">
										<input name="ContractType" id="ContractType" type="hidden" v-model="vm.newFileInfo.contractType" />
										<Lookup id="ContractTypeId" name="ContractTypeId" :lookuptextfield="vm.newFileInfo.contractType" lookupajax="ContractTypes" v-model="vm.newFileInfo.contractTypeId" @updateLookupTextField="updateContractType" title="Contract Type"></Lookup>
										<span class="errorField" v-show="$v.vm.newFileInfo.contractTypeId.$invalid">This is a required field</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3" v-bind:class="{'errorField' : ($v.vm.newFileInfo.testLabId.$invalid) }">Testing Lab</label>
									<div class="col-sm-9">
										<input name="TestLab" id="TestLab" type="hidden" v-model="vm.testLab" />
										<Lookup id="TestLab" name="TestLabId" :lookuptextfield="vm.newFileInfo.testLab" lookupajax="Laboratories" v-model="vm.newFileInfo.testLabId" @updateLookupTextField="updateTestLab" title="Select the office that will process/processed the file's initial testing."></Lookup>
										<span class="errorField" v-show="$v.vm.newFileInfo.testLabId.$invalid">This is a required field</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3" v-bind:class="{'errorField' : ($v.vm.newFileInfo.currencyId.$invalid) }">Currency</label>
									<div class="col-sm-9">
										<input name="Currency" id="Currency" type="hidden" v-model="vm.newFileInfo.currency" />
										<Lookup id="CurrencyId" name="CurrencyId" :lookuptextfield="vm.newFileInfo.currency" lookupajax="Currencies" v-model="vm.newFileInfo.currencyId" @updateLookupTextField="updateCurrency" title="Currency"></Lookup>
										<span class="errorField" v-show="$v.vm.newFileInfo.currencyId.$invalid">This is a required field</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3" v-bind:class="{'errorField' : ($v.vm.newFileInfo.submitDate.$invalid) }">Submit Date</label>
									<div class="col-sm-3">
										<DatePicker name="SubmitDate" v-model="vm.newFileInfo.submitDate" placeholder="Submit Date" title="Submitted date for the file the records will be copied/moved to"></DatePicker>
										<span class="errorField" v-show="$v.vm.newFileInfo.submitDate.$invalid">This is a required field</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">

							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3" v-bind:class="{'errorField' : ($v.vm.newFileInfo.receiveDate.$invalid) }">Received Date</label>
									<div class="col-sm-3">
										<DatePicker name="ReceiveDate" v-model="vm.newFileInfo.receiveDate" placeholder="Receive Date" title="Received date of the file the records will be copied/moved to"></DatePicker>
										<span class="errorField" v-show="$v.vm.newFileInfo.receiveDate.$invalid">This is a required field</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">

							</div>
						</div>
						<div class="row">&nbsp;</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<div class="col-sm-3"></div>
									<div class="col-sm-2">
										<strong><span style="color:red">Old</span></strong>
									</div>
									<div class="col-sm-3">
										<strong><span style="color:green">New</span></strong>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-2"></div>
								<div class="col-sm-3" v-show="vm.copyMoveOption == 'Copy'"><label class="control-label col-sm-12 text-center text-info" title="Change the status of records while copying"><strong>Change Status To</strong></label></div>
								<div class="col-sm-4" v-show="vm.copyMoveOption == 'Copy'">
									<SelectStandard id="SubmissionStatus" name="SubmissionStatus" :value="vm.newFileInfo.status" :options="vm.submissionStatuses" v-model="vm.newFileInfo.status" title="Status" class="form-control form-control-sm"></SelectStandard>
								</div>
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3" v-bind:class="{'errorField' : ($v.vm.newFileInfo.typeId.$invalid) }">Submission Type</label>
									<div class="col-sm-2">
										<input type="text" :value="vm.selFileInfo.type" class="form-control" disabled style="width:50px" />
									</div>
									<div class="col-sm-6">
										<input name="Type" id="Type" type="hidden" v-model="vm.newFileInfo.type" />
										<Lookup id="TypeId" name="TypeId" :lookuptextfield="vm.newFileInfo.type" lookupajax="SubmissionTypes" v-model="vm.newFileInfo.typeId" @updateLookupTextField="updateType" title="Submission type of the file the records will be copied/moved to"></Lookup>
										<span class="errorField" v-show="$v.vm.newFileInfo.typeId.$invalid">This is a required field</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3" v-bind:class="{'errorField' : ($v.vm.newFileInfo.jurisdictionId.$invalid) }">Jurisdiction Code</label>
									<div class="col-sm-2">
										<input type="text" :value="vm.selFileInfo.jurisdictionId" class="form-control" disabled style="width:50px" />
									</div>
									<div class="col-sm-7">
										<input id="JurisdictionName" name="JurisdictionName" type="hidden" v-model="vm.newFileInfo.jurisdictionName" />
										<Lookup id="JurisdictionId" name="JurisdictionId" :lookuptextfield="vm.newFileInfo.jurisdictionName" lookupajax="Jurisdictions" templatename="formatJurisdictions" v-model="vm.newFileInfo.jurisdictionId" @updateLookupTextField="updateJurisdiction" title="Jurisdiction code of the primary jurisdiction for the file the records will be copied/moved to" class="form-control form-control-sm"></Lookup>
										<span class="errorField" v-show="$v.vm.newFileInfo.jurisdictionId.$invalid">This is a required field</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3" v-bind:class="{'errorField' : ($v.vm.newFileInfo.manufacturerCode.$invalid) }">Manufacturer Code</label>
									<div class="col-sm-2">
										<input type="text" :value="vm.selFileInfo.manufacturerCode" class="form-control" disabled style="width:50px" />
									</div>
									<div class="col-sm-7">
										<input id="Manufacturer" name="Manufacturer" type="hidden" v-model="vm.newFileInfo.manufacturer" />
										<Lookup id="ManufacturerCode" name="ManufacturerCode" :lookuptextfield="vm.newFileInfo.manufacturer" lookupajax="Manufacturers" templatename="formatManufacturers" v-model="vm.newFileInfo.manufacturerCode" @updateLookupTextField="updateManufacturer" title="Manufacturer code of the file the records will be copied/moved to" class="form-control form-control-sm"></Lookup>
										<span class="errorField" v-show="$v.vm.newFileInfo.manufacturerCode.$invalid">This is a required field</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="control-label col-sm-12 text-center text-info" title="Work Order Number Information"><strong>Work Order Number (WON)</strong></label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3" v-bind:class="{'errorField' : ($v.vm.newFileInfo.year.$invalid) }">Year</label>
									<div class="col-sm-2">

										<input :value="vm.selFileInfo.year" class="form-control" disabled style="width:50px" />
									</div>
									<div class="col-sm-2">
										<input id="Year" name="Year" v-model="vm.newFileInfo.year" class="form-control" />
										<span class="errorField" v-show="$v.vm.newFileInfo.year.$invalid">This is a required field</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-3"></div>
								<div class="col-sm-5">
									<label class="control-label">Use Current File's WON</label>
								</div>
								<div class="col-sm-1">
									<input type="checkbox" name="UseCurrentFileWON" v-model="vm.useSelFileWon" title="Use WON of Current File" @click="checkWONOptions('SelFileWon')">&nbsp;&nbsp;
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3">Sequence</label>
									<div class="col-sm-2">
										<input :value="vm.selFileInfo.sequence" class="form-control" disabled style="width:50px" />
									</div>
									<div class="col-sm-2">
										<input id="Sequence" name="Sequence" v-model="vm.newFileInfo.sequence" class="form-control" placeholder="Sequence" />
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-3"></div>
								<div class="col-sm-5">
									<label class="control-label">Use This File As WON</label>
								</div>
								<div class="col-sm-1">
									<input type="checkbox" name="UseSelFileAsWon" v-model="vm.useSelFileAsWon" class="WONOptions" title="Use destination File as Won" @click="checkWONOptions('SelFileAsWon')">&nbsp;&nbsp;
								</div>
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3">Contract Value</label>
									<div class="col-sm-2">

									</div>
									<div class="col-sm-3">
										<input id="Sequence" name="Sequence" v-model="vm.newFileInfo.contractValue" class="form-control" title="Contract Value" placeholder="Contract Value" />
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-3"></div>
								<div class="col-sm-5">
									<label class="control-label">Use Destination File's WON</label>
								</div>
								<div class="col-sm-1">
									<input type="checkbox" name="UseNewFileWon" v-model="vm.useNewFileWon" class="WONOptions" title="Use new File as Won" @click="checkWONOptions('NewFileWon')">&nbsp;&nbsp;
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3">Purchase Order</label>
									<div class="col-sm-2">

									</div>
									<div class="col-sm-3">
										<input id="PurchaseOrder" name="PurchaseOrder" v-model="vm.newFileInfo.purchaseOrder" class="form-control" placeholder="Purchase order" />
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-3"></div>
								<div class="col-sm-5 padr0">
									<label class="control-label ">Use New Submission's File Number as WON</label>
								</div>
								<div class="col-sm-1">
									<input type="checkbox" name="UseNewFileAsWon" v-model="vm.useNewFileAsWon" class="WONOptions" title="Use New Submission's File Number as Won" @click="checkWONOptions('NewFileAsWon')">&nbsp;&nbsp;
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm">
									<label class="control-label col-sm-3">Project Detail</label>
									<div class="col-sm-2">

									</div>
									<div class="col-sm-3">
										<input id="ProjectDetail" name="ProjectDetail" v-model="vm.newFileInfo.projectDetail" class="form-control" placeholder="Project Detail" title="Brief but concise description of the work to be performed. Will be utilized by Upper Management for Reporting Purposes." />
										<span class="errorField" v-show="$v.vm.newFileInfo.projectDetail.$invalid">This should be less than 60 characters.</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-3"></div>
								<div class="col-sm-5">
									<label class="control-label">Enter Work Order Number (WON)</label>
								</div>
								<div class="col-sm-1">
									<input type="text" name="WON" v-model="vm.workOrderNumber" title="Enter New WON" placeholder="Work order Number" @click="checkWONOptions('')">&nbsp;&nbsp;
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Game Name</label>
									<div class="col-sm-2">

									</div>
									<div class="col-sm-3">
										<input id="GameName" name="GameName" v-model="vm.newFileInfo.gameName" class="form-control" placeholder="Game Name" title="Game Name to be applied to the record(s) that are the result of the copy/move." />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm" v-show="vm.copyMoveOption == 'Copy'">
									<label class="control-label col-sm-3">Include Signatures</label>
									<div class="col-sm-2">
										<input type="checkbox" name="IncludeSignatures" v-model="vm.includeSignatures" title="Check to copy/move signatures">&nbsp;&nbsp;
									</div>
									<div class="col-sm-3">

									</div>
								</div>
							</div>
							<div class="col-sm-6">
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm" v-show="vm.copyMoveOption == 'Copy'">
									<label class="control-label col-sm-3">Include Jurisdictions</label>
									<div class="col-sm-2">
										<input type="checkbox" name="IncludeJurisdictions" v-model="vm.includeJurisdictions" title="Check to copy/move Jurisdictions">&nbsp;&nbsp;
									</div>
									<div class="col-sm-3">

									</div>
								</div>
							</div>
							<div class="col-sm-6">
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm" v-show="vm.copyMoveOption == 'Copy'">
									<label class="control-label col-sm-3">Include Memo</label>
									<div class="col-sm-2">
										<input type="checkbox" name="IncludeMemo" v-model="vm.includeMemo" title="Check to copy/move Memo">&nbsp;&nbsp;
									</div>
									<div class="col-sm-3">

									</div>
								</div>
							</div>
							<div class="col-sm-6">
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class=" form-group form-group-sm" v-show="vm.copyMoveOption == 'Copy'">
									<label class="control-label col-sm-3">Include Shipping</label>
									<div class="col-sm-2">
										<input type="checkbox" name="IncludeShipping" v-model="vm.includeShipping" title="Check to copy/move Shipping">&nbsp;&nbsp;
									</div>
									<div class="col-sm-3">

									</div>
								</div>
							</div>
							<div class="col-sm-6">
								
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!--memo for Past 7 days-->
		<MemoReason :showMemoModal="showMemoForPastDate"
					:memoWinTitle="'Memo for dates past more than 6 days:'"
					:memoData="vm.pastDateReason"
					:memoType="'PastDate'"
					@updateData="saveMemo"
					@reSetShowMemoModal="getMemoModal"></MemoReason>


	</div>
</template>
<style scoped>

	.errorField {
		color: #b94a48;
	}

	.disabledDiv {
		pointer-events: none;
		opacity: 0.4;
	}

</style>
<script>
	import DatePicker from '@/components/utility/DatePicker.vue'
	import Lookup from '@/components/utility/Lookup.vue'
	import MemoReason from '@/components/submission/jurisdictionaldata/Memo.vue'
	import SelectStandard from '@/components/utility/SelectStandard.vue'
	import SubmissionSelection from '@/components/submission/submissiondata/SubmissionSelection.vue'
	import { required, requiredIf, maxLength } from 'vuelidate/lib/validators'

	export default {
		components: {
			DatePicker,
			Lookup,
			MemoReason,
			SelectStandard,
			SubmissionSelection
		},
		data() {
			return {
				vm: initialData,
				errorMsg: "",
				showCurrencyWarning: false,
				showKONWarning: false,
				showMemoForPastDate: false,
				warningBeforeSave: '',
				Processing: false,
				OSSubmissionType: 8,
				OregonLottery : 14
			}
		},
		created: function () {
			DoneLoading()
		},
		computed: {
			isPastDateReasonExists: function () {
				return (!Em(this.vm.pastDateReason))
			}
		},
		validations() {
		   return {
				vm: {
					newFileInfo : {
							contractTypeId: {
								required
							},
							companyId: {
								required
							},
							certificationLabId: {
								required
							},
							testLabId: {
								required
							},
							currencyId: {
								required
							},
							submitDate: {
								required : requiredIf(function(){
									return (this.vm.copyMoveOption == 'Copy')
								})
							},
							receiveDate: {
								required : requiredIf(function(){
									return (this.vm.copyMoveOption == 'Copy')
								})
							},
							typeId: {
								required
							},
							jurisdictionId: {
								required
							},
							manufacturerCode: {
								required
							},
							year: {
								required
							},
						    projectDetail: {
								maxLength: maxLength(60)
						    },
							purchaseOrder:{
								required: requiredIf(function () {
									return (this.vm.manufacturer == "SGI")
								})
							}
					}
				}
		   }
		},
		methods: {
			checkAndGetMemoForPastDate: function () {
				var showMemo = false;

				var recDate = new Date(this.vm.newFileInfo.receiveDate)
				var subDate = new Date(this.vm.newFileInfo.submitDate)
				var today = new Date()

				if (this.getDateDiffInDays(recDate, today) > 6 || this.getDateDiffInDays(subDate, today) > 6) {
					showMemo = true;
				}

				if (showMemo) {
					this.getMemoModal('PastDate',true)
				}
				else {
					bootbox.alert("Reason is only required when dates are more than 6 days in past.")
				}
				return false;

			},
			checkCompanyCurrency: function (selCompany, selCurrency) {
				var isMatch = true
				this.vm.defaultCompanyCurrency.forEach(function (companyCurrency, index) {
					if (companyCurrency.companyId == selCompany) {
						if (companyCurrency.currencyId != selCurrency) {
							isMatch = false;
						}
					}
				})
				return isMatch;
			},
			checkWONOptions: function (option) {
				if (option == "SelFileWon") {
					this.vm.useNewFileWon = false
					this.vm.useSelFileAsWon = false
					this.vm.useNewFileAsWon = false
					this.vm.workOrderNumber = ""
				}
				else if (option == "NewFileWon") {
					this.vm.useSelFileWon = false
					this.vm.useSelFileAsWon = false
					this.vm.useNewFileAsWon = false
					this.vm.workOrderNumber = ""
				}
				else if (option == "SelFileAsWon") {
					this.vm.useSelFileWon = false
					this.vm.useNewFileWon = false
					this.vm.useNewFileAsWon = false
					this.vm.workOrderNumber = ""
				}
				else if (option == "NewFileAsWon") {
					this.vm.useSelFileWon = false
					this.vm.useNewFileWon = false
					this.vm.useSelFileAsWon = false
					this.vm.workOrderNumber = ""
				}
				else {
					this.vm.useSelFileWon = false
					this.vm.useNewFileWon = false
					this.vm.useSelFileAsWon = false
					this.vm.useNewFileAsWon = false
				}
			},
			clickCancel: function () {
				location.href = jsPath + 'submission/submission/detail/' + this.vm.submissionId;
			},
			getDateDiffInDays: function (d1, d2) {
				var t2 = d2.getTime();
				var t1 = d1.getTime();
				return parseInt((t2 - t1) / (24 * 3600 * 1000));
			},
			getMemoModal: function (type,val) {
				this.showMemoForPastDate = val
			},
			save: function(){
				this.unSetErrorMsg()
				if (this.vm.submissions.filter(item => item.selected == true).length == 0) {
					this.errorMsg = "You must select at least one submission record to Copy/Move."
				}
				else if (Em(this.vm.copyMoveOption)) {
					this.errorMsg = "Please select an action (Copy or Move)."
				}
				else if (this.vm.submissions.filter(item => item.selected == true).length == this.vm.submissions.length && this.vm.copyMoveOption == "Move") {
					this.errorMsg = "You may not move all of the items out of a file.  Please double check your selection and try again."
				}
				else {
					if (this.validateData()) {
						//Save data
						if (this.showKONWarning == false && this.showCurrencyWarning == false && this.vm.copyMoveOption == "Copy") {
							 this.saveData();
						}
						else {
							if (this.showKONWarning == true) {
								this.warningBeforeSave = "\n -This Applies for KON. \n\t -If California is one of the requested jurisdictions, it should be the primary jurisdiction.\n\t -If the submission is for Canadian jurisdictions only with British Columbia included it should be the primary jurisdiction.\n\t -If the submission is for International jurisdictions only with Panama included, Panama should be the primary jurisdiction.\n"
							}
							if (this.showCurrencyWarning == true) {
								this.warningBeforeSave += "\n -Company does not match Currency. "
							}
							if (this.vm.copyMoveOption == "Move"){
								this.warningBeforeSave += "\n -This will permanently move the records out of this file; i.e. once they are moved into a new file they will be DELETED from this current file. "
							}
						}
					}
				}
			},
			saveData: function () {
				this.Processing = true
				var refThis = this
				this.$http.post('SubmissionCopyMoveToFile/Save', {
					vm: this.vm
				}).then(response => {

					if (response.data == "NoFile"){
						bootbox.alert("<span class=text-danger>Selected File to Copy/Move records, does not exist.</span>", function () {
							//refThis.Processing = false
								refThis.unSetErrorMsg()
						});
					}
					else if (response.data == "BillingMismatch"){
						bootbox.alert("<span class=text-danger>Please check the Company, Currency, Contract Type. Selected Information does not match with destination file.</span>", function () {
							//refThis.Processing = false
								refThis.unSetErrorMsg()
						});
					}
					else {

						if (response.data.Status == "OK") {
							bootbox.alert("<span class=text-success>Records were Copied/Moved successfully.</span>", function () {
								refThis.Processing = false
								//window.open(jsPath + "submission/submission/detail?fileNumber=" + response.data.FileNumber);
								window.location.href = jsPath + "submission/submission/detail?fileNumber=" + response.data.FileNumber;
							})
						}
						else {
							 bootbox.alert("<span class=text-danger>Some Error occured. Please make sure if Records were Copied/Moved.</span>", function () {
								  refThis.unSetErrorMsg()
							})
						}
					}

				}, response => {
					bootbox.alert({
						title: "Error:",
						message:
							"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
							+ "<table border='1'>"
							+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(response.data) + "</td></tr>"
							+ "</table>"
					});

				})
			},
			saveMemo: function (type, val) {
					this.vm.pastDateReason = val
					this.getMemoModal('PastDate', false)
			},
			unSetErrorMsg: function () {
				this.errorMsg = ""
				this.warningBeforeSave = ""
				this.showCurrencyWarning = false
				this.showKONWarning = false
				this.Processing = false
				$('#BodyInfo').removeClass('disabledDiv');
			},
			updateCertLab: function (newValue) {
				this.vm.newFileInfo.certificationLab = newValue;
			},
			updateCurrency: function (newValue) {
				this.vm.newFileInfo.currency = newValue;
			},
			updateTestLab: function (newValue) {
				this.vm.newFileInfo.testLab = newValue;
			},
			updateCompany: function (newValue) {
				this.vm.newFileInfo.company = newValue;
			},
			updateContractType: function (newValue) {
				this.vm.newFileInfo.contractType = newValue;
			},
			updateJurisdiction: function (newValue) {
				this.vm.newFileInfo.jurisdictionName = newValue;
			},
			updateManufacturer: function (newValue) {
				this.vm.newFileInfo.manufacturer = newValue;
			},
			updateType: function (newValue) {
				this.vm.newFileInfo.type = newValue;
			},
			validateCustomValidatorsInValid: function () {

				//SGI must have numeric value
				if (!Em(this.vm.newFileInfo.purchaseOrder) ){
					var purchaseOrder = this.vm.newFileInfo.purchaseOrder
					var tempPurchaseOrder = purchaseOrder.replace(/-/g, "")
					if (isNaN(tempPurchaseOrder)) {
						this.errorMsg += "- Purchase Order must a number.\n "
					}
				}

				//date
				var recDate = new Date(this.vm.newFileInfo.receiveDate)
				var subDate = new Date(this.vm.newFileInfo.submitDate)
				var today = new Date()

				if (recDate < subDate) {
					this.errorMsg += "- Received date can not be older than submit date.\n"
				}

				//Past Date Reason
				if (!Em(this.vm.newFileInfo.receiveDate) && !Em(this.vm.newFileInfo.submitDate)){
					if (this.getDateDiffInDays(recDate, today) > 6 || this.getDateDiffInDays(subDate, today) > 6) {
						if (Em(this.vm.pastDateReason)) {
							this.errorMsg += "- Dates are greater than 6 days in the past. You must provide reason.\n"
						}
					}
				}

				if (!Em(this.vm.workOrderNumber)) {
					var formattedNumber = convertToDynamicsFileNumberFormat(this.vm.workOrderNumber)
					if ( formattedNumber == null) {
						this.errorMsg += "- Work Order Number is Invalid. Please provide a valid Submissions or Dynamics fileNumber.\n"
					}
					else {
						this.vm.workOrderNumber = formattedNumber
					}
				}

				//Sequence must be interger and atleats length of 2 ******
				if (!Em(this.vm.newFileInfo.sequence)){
					if (isNaN(this.vm.newFileInfo.sequence)){
						this.errorMsg += "- Sequence is Invalid. Please provide a valid numeric value.\n"
					}
					else
					{
						if (this.vm.newFileInfo.sequence < 10 && (this.vm.newFileInfo.sequence).length < 2){
							this.vm.newFileInfo.sequence = '0' + this.vm.newFileInfo.sequence
						}
					}
				}

				//Warning for KON
				if (this.vm.newFileInfo.manufacturerCode == "KON" && (this.vm.newFileInfo.jurisdictionId != "13" && this.vm.newFileInfo.jurisdictionId != "63" && this.vm.newFileInfo.jurisdictionId != "132")) {
					this.showKONWarning = true
				}

				//Company does not match currency
				if (!this.checkCompanyCurrency(this.vm.newFileInfo.companyId, this.vm.newFileInfo.currencyId)) {
					this.showCurrencyWarning = true
				}

				if (!Em(this.errorMsg)) {
					return true;
				}
				else {
					return false;
				}
			},
			validateData: function() {
				var isDataValidated = false
				this.$v.$touch();
				if (!this.$v.$invalid) {

					if (!this.validateCustomValidatorsInValid()) {
						isDataValidated = true
						return (isDataValidated)
					}
					else {
						isDataValidated = false
						this.errorMsg = "Please correct data before saving. \n\n" + this.errorMsg
						return (isDataValidated)
					}
				}
				else {
					isDataValidated = false
					this.errorMsg += "Please correct data before saving."
					return (isDataValidated)
				}
			},
			validateContractType: function () {

				if (this.vm.newFileInfo.typeId == this.OSSubmissionType || this.vm.newFileInfo.jurisdictionId == this.OregonLottery) {
				   if (this.vm.newFileInfo.contractTypeId != 4) {
						this.vm.newFileInfo.contractTypeId = 4
						this.vm.newFileInfo.contractType = "SBP - Single Bill Project"
				   }
				}
			},
			validateSetDefaultCurrency: function () {
				var refThis = this
				this.vm.defaultCompanyCurrency.forEach(function (companyCurrency, index) {
					if (companyCurrency.companyId == refThis.vm.newFileInfo.companyId) {
						refThis.vm.newFileInfo.currencyId = companyCurrency.currencyId
						refThis.vm.newFileInfo.currency = companyCurrency.currencyCode + " - " + companyCurrency.currency
					}
				})
			}
		},
		mounted: function () {

		},
		watch: {
			'vm.newFileInfo.company': {
				handler: function (val, oldVal) {
					if (val != oldVal) {
						this.validateSetDefaultCurrency();
					}
				},
				deep: true
			},
			'vm.newFileInfo.jurisdictionId': {
				handler: function (val, oldVal) {
					if (val != oldVal) {
						this.validateContractType();
					}
				},
				deep: true
			},
			'vm.newFileInfo.type': {
				handler: function (val, oldVal) {
					if (val != oldVal) {
						this.validateContractType();
					}
				},
				deep: true
			}
		}
	}

</script>