﻿@model Submissions.Web.Areas.Protrack.Models.MasterFile.MasterFileRecordSetViewModel

@{
	var HiddenMasterFileIds = Json.Encode(Model.Ids);
}

@Html.HiddenFor(m => HiddenMasterFileIds, new { id = "HiddenMasterFileIds" })


@if (Model.Records.Count() > 0)
{
	<table id="MasterFileRecordsTable" class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Record #</th>
				<th>ID Number</th>
				<th>Version</th>
				<th>Date Code</th>
				<th>Game Name</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Records.Count(); i++)
			{
				<tr id="MasterFileRecord_@Model.Records[i].Id" class="masterFileRecordRow">
					<td>
						@if (Model.Records[i].ConcurrentReSubmissionFileNumber == null)
						{
							@Html.DisplayTextFor(x => @Model.Records[i].CountId)
						}
						else if (Model.Records[i].ConcurrentReSubmissionFileNumber != null && !Model.Records[i].IsAMasterfile)
						{
							<i class="fas fa-exclamation-circle red ConcurrentReSubmissionFileNumber" title="This record is already resubmitted in file : @Model.Records[i].ConcurrentReSubmissionFileNumber"></i>
						}
						else if (Model.Records[i].ConcurrentReSubmissionFileNumber != null && Model.Records[i].IsAMasterfile)
						{
							@Html.DisplayTextFor(x => @Model.Records[i].CountId)
							<i class="fas fa-exclamation-circle red ConcurrentReSubmissionFileNumber" title="This record is already resubmitted in file : @Model.Records[i].ConcurrentReSubmissionFileNumber"></i>
						}
					</td>

					<td>
						@Html.DisplayTextFor(x => @Model.Records[i].IdNumber)
					</td>
					<td>
						@Html.DisplayTextFor(x => @Model.Records[i].Version)
					</td>
					<td>
						@Html.DisplayTextFor(x => @Model.Records[i].DateCode)
					</td>
					<td>
						@Html.DisplayTextFor(x => @Model.Records[i].GameName)
					</td>
					<td>
						@Html.DisplayTextFor(x => @Model.Records[i].Status)
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="alert alert-warning" role="alert">
		<p>
			No records of the given Masterfile meet the mapping restrictions for <span>@Html.DisplayTextFor(x => Model.ResubmissionOption)</span>.
			<br />
			<span>@Html.DisplayTextFor(x => Model.ResubmissionOptionExplanation)</span>
		</p>
	</div>
}

