﻿@model Submissions.Web.Areas.Protrack.Models.MasterFile.MasterResubmissionEvaluationDataVM
@{
	ViewBag.NoNavBar = true;
	ViewBag.NoFooter = true;
	ViewBag.Title = "Master/Resubmission Evaluation Data";
}

	<div class="modal-header">
		<div class="row">
			<div class="col-sm-12 form-buttons text-right">
				<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="col-sm-12">
				<div class="table">
					<h3>Evaluating Laboratories:</h3>
					@foreach (var lab in Model.EvalData.Labs)
					{
						@Html.Raw(lab)
						<br /><br />
					}
					<h3>Evaluation Period:</h3>
					@Model.EvalData.StartDate.ToString("dd MMMM yyyy") - @Model.EvalData.EndDate.ToString("dd MMMMM yyyy")
				</div>
			</div>
		</div>
	</div>

	<script>
	$(function () {
		loadDocumentReady();
	});
	</script>