﻿@using Submissions.Web.Areas.Protrack.Models.MasterFile
@model Submissions.Web.Areas.Protrack.Models.MasterFile.EditViewModel

@section css {
	<link rel="stylesheet" type="text/css" href="~/Content/gli/AbsoluteCenterSpinner.css" />
	<style type="text/css">
		.NoBullets {
			list-style-type: none;
		}

		.red {
			color: #ff0000;
			cursor: pointer;
		}

		#loadingSymbol {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -50px;
			margin-left: -50px;
		}
	</style>
}

@{
	ViewBag.Title = "Masterfile Mapping for - " + Model.CurrentFileNumber;
}

<!-- Loading Sybmol Container-->
<div id="loadingSymbol">
	<i class="fas fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>

@using (Html.BeginForm("Edit", "MasterFile", FormMethod.Post, new { id = "MasterFileForm" }))
{
	@Html.HiddenFor(m => m.CurrentFileNumber)
	@Html.HiddenFor(m => m.ProjectId)
	@Html.HiddenFor(m => m.RequestUrlReferrer)

	<div class="row row-title">
		<div class="col-sm-6">
			<h3 class="form-h3">Masterfile mapping for <small>@Model.CurrentFileNumber</small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if (Model.Validator.IsValid())
			{
				<button type="submit" id="Save" class="btn btn-primary btn-sm">Save</button>
			}
			<a id="Cancel" class="btn btn-primary btn-sm">Cancel</a>
		</div>
	</div>

	<br />

	<div id="Step1Wrapper">
		<div class="row">
			<div class="col-xs-6">
				<b>Step 1.</b> What type of mapping would you like to establish? <span>@Html.ValidationMessageFor(model => Model.SelectedMappingType)</span>&nbsp;<A href="#" title="Click here to view mapping information."><i class="fas fa-info-circle MappingTypeInfo" aria-hidden="true"></i></A>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<ul class="NoBullets">
					@foreach (var type in Model.MappingTypes)
					{
						string labelForRadio = "MappingType" + @type.Id.ToString();
						<li>
							@Html.RadioButtonFor(model => Model.SelectedMappingType, type.Id, new { id = "MappingType" + type.Id })
							<label for="@labelForRadio"> @type.DisplayText </label>
						</li>
					}
				</ul>
				<input type="hidden" id="SelectedMappingTypeHiddenValue" value="@Model.SelectedMappingType" />
			</div>
		</div>
	</div>

	<div id="Step2Wrapper" class="@(Model.SelectedMappingType == null ?" hidden " : "")">
		<hr />
		<div class="row">
			<div class="col-xs-6">
				<b>Step 2.</b> What is the master file you would like to establish a <span id="step1Selection"></span> mapping to?
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					@Html.LookupFor(model => Model.MasterFileNumber, model => model.MasterFileNumber, LookupAjax.FileNumber, false, new {@style = "width:100%", data_filter = Json.Encode(Model.SubmissionFilter), data_id = "MasterFileNumber"  })
					<span class="input-group-btn">
						<button id="GetMasterFileRecords" class="btn btn-default" type="button">
							<i class="fas fa-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div id="Step3Wrapper" class="@(Model.MasterFileNumber == null ? " hidden " : "")">
		<hr />
		<div class="row">
			<div class="col-xs-4">
				<b>Step 3.</b> Records of Masterfile <em>(<span id="Step3MasterFileNumber"></span>)</em>
			</div>
		</div>
		<div class="row">
			<div id="MasterFileRecordSet" class="col-xs-12">
			</div>
		</div>
	</div>

	<div id="Step4Wrapper" class="hidden">
		<hr />
		<div class="row">
			<div class="col-xs-6">
				<b>Step 4.</b> Select records of current file <em><span>@Model.CurrentFileNumber</span></em> for mapping to <em><span id="Step4MasterFileNumber"></span></em>
			</div>
		</div>
		<div class="row">
			<div id="CurrentFileRecordSet" class="col-xs-12">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>ID Number</th>
							<th>Version</th>
							<th>Date Code</th>
							<th>Game Name</th>
							<th>Status</th>
							<th>Master File Record #</th>
						</tr>
					</thead>
					<tbody>
						@for (int i = 0; i < Model.CurrentSubmissionRecords.Count(); i++)
						{
							<tr id="CurrentFileRecord_@Model.CurrentSubmissionRecords[i].Id">
								<td>@Html.DisplayTextFor(x => Model.CurrentSubmissionRecords[i].IdNumber)</td>
								<td>@Html.DisplayTextFor(x => Model.CurrentSubmissionRecords[i].Version)</td>
								<td>@Html.DisplayTextFor(x => Model.CurrentSubmissionRecords[i].DateCode)</td>
								<td>@Html.DisplayTextFor(x => Model.CurrentSubmissionRecords[i].GameName)</td>
								<td>@Html.DisplayTextFor(x => Model.CurrentSubmissionRecords[i].Status)</td>
								<td>
									@Html.DropDownListFor(x =>
													  Model.CurrentSubmissionRecords[i].LinkedId,
													  new SelectList(Model.MasterSubmissionRecords),
													  new { id = "MasterFileRecordSelectFor_currentfilerecord_" + @Model.CurrentSubmissionRecords[i].Id, @class = "dependantSelect", @style = "width:100%", data_linkedId = @Model.CurrentSubmissionRecords[i].LinkedId }
												  )
								</td>
							</tr>
							@Html.HiddenFor(x => Model.CurrentSubmissionRecords[i].Id)
							@Html.HiddenFor(x => Model.CurrentSubmissionRecords[i].IdNumber)
							@Html.HiddenFor(x => Model.CurrentSubmissionRecords[i].Version)
							@Html.HiddenFor(x => Model.CurrentSubmissionRecords[i].DateCode)
							@Html.HiddenFor(x => Model.CurrentSubmissionRecords[i].GameName)
							@Html.HiddenFor(x => Model.CurrentSubmissionRecords[i].Status)
							@Html.HiddenFor(x => Model.CurrentSubmissionRecords[i].LinkedId)
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Modal for help -->
	<div id="myModalHelp" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Mapping Information</h4>
				</div>
				<div class="modal-body">
					<strong>Resubmissions</strong>
					<p> In most cases, a 'Resubmission' will be all versions of a project after an initial submission, to initial approval. This would include any files/components that are bug fixes or manufacturer withdrawals/resubmits along that path. This would not include clone games that are submitted after an approval is granted.</p>
					<p>	For example: Version1 is submitted. While testing, the manufacturer wants to change a help screen; they submit Version2 that withdraws Version1. While testing Version2, the engineer finds an issue that will reject Version2. The manufacturer resubmits Version3. Version3 is the final approval. In this example, Version2 and Version3 are considered 'resubmits' of Version1.</p>
					<p> If down the road the manufacturer submits a fourth version after Version 3 has been approved or a clone game that behaves just like Version3 in the previous example, these would NOT be considered resubmissions. </p>
					<br />
					<strong>Continuation</strong>
					<p> 1.Linking multiple fixed price file numbers that are opened under the same quote so as the Accounting Department will only bill one file number.</p>
					<p> 2.A single game switches between outcome generation methodologies with no other significant changes.*</p>
					<p>* For an Example, The "Master File" is an M11B game submission and the continuation file is the same game theme for a different platform (M11 or M11L). </p>
					<br />
				</div>
			</div>
		</div>
	</div>
}

@section scripts{
	<script>
	var previousSelectedMappingType = [];

	$(function () {
		$(".MappingTypeInfo").click(function(){
			$('#myModalHelp').modal('show')
		})

		DoneLoading();

		previousSelectedMappingType[0] = '@Model.SelectedMappingType' || 0;

		UpdateStep1Selection('@Model.SelectedMappingType');
		SetInitialMasterFileNumberState();

		// -- If loading with a previously established mapping
		if ('@Model.MasterFileNumber') {
			var payload = {
				MasterFilter: {
					CurrentFileNumber: '@Model.CurrentFileNumber',
					MasterFileNumber: '@Model.MasterFileNumber',
					ReSubmissionType: GetReSubmissionTypeFromValue('@Model.SelectedMappingType')
				}
			};
			GetMasterFileRecords(payload);
		};
	});

	// -- Jquery Event Bindings
	$('#Cancel').click(function(){
		window.close();
	});

	$("[name = 'SelectedMappingType']").change(function () {
		if ($(this).val() != "0")
		{
			ResetForm();
			$('#Step2Wrapper').removeClass('hidden');
		}
	});

	$("#MasterFileNumber").on("change keypress input", function () {
		$("#Step3MasterFileNumber, #Step4MasterFileNumber").text($(this).val());
	});

	$('#GetMasterFileRecords').click(function (e) {
		e.preventDefault();
		var MasterFileNumber = $('#MasterFileNumber').val();
		if (MasterFileNumber) {
			var payload = {
				MasterFilter: {
					CurrentFileNumber: '@Model.CurrentFileNumber',
						MasterFileNumber: $('#MasterFileNumber').val(),
						ReSubmissionType: GetReSubmissionTypeFromValue($('input[name=SelectedMappingType]:checked').val())
					}
				};
				GetMasterFileRecords(payload);
			}
		});

		$('input[name="SelectedMappingType"').change(function (e) {
			UpdateStep1Selection(this.value);
			//HideAndStripStep4();
		});

		$('#Save').click(function (e) {
			e.preventDefault();
			if (ValidForm()) {
				$('#MasterFileForm').submit();
			}
			else {
				bootbox.alert("Please make sure Master File is selected or Please select atleast one record to map to when mapping a resubmission or pre-certification.");
			}
		});

		$('#MasterFileNumber').on("change", function (e) {
			var masterFile = $(e.target).val();
			// -- On masterfile clear, clear and reset form.
			if(!masterFile)
			{
				ResetForm();
			}
		});


		// -- Functions
		function SetInitialStateofSelectMapping() {
			var linkedIdBegin = "CurrentSubmissionRecords_";
			var linkedIdEnd = "__LinkedId";

			// get all dropdowns
			var forUpdate = $('.dependantSelect');

			$.each(forUpdate, function (i, item) {
				var serverSideIndex;
				var linkedIdValue;

				if (item.name.split('[')[0] === 'CurrentSubmissionRecords') {
					serverSideIndex = item.name.charAt(25);
				}

				if (serverSideIndex) {

					// keytbl of recrod at serverindex
					linkedIdValue = $('#' + linkedIdBegin + serverSideIndex + linkedIdEnd).val();
					$('#' + item.id).val(linkedIdValue).trigger('change');
				}
			});
		}

		function UpdateStep1Selection(selection) {
			switch (Number(selection)) {
				case @((int)ResubmissionOptions.Resubmission):
					$('#step1Selection').text('Resubmission');
				break;
				case @((int)ResubmissionOptions.Continuation):
					$('#step1Selection').text('Continuation');
					break;
				case @((int)ResubmissionOptions.PreCertification):
					$('#step1Selection').text('Pre-Certification');
					break;
			default:
				"";
		}
	}

	function GetReSubmissionTypeFromValue(type) {
		var result;
		switch (Number(type)) {
			case @((int)ResubmissionOptions.Resubmission):
				result = '@(ResubmissionOptions.Resubmission)';
				break;
			case  @((int)ResubmissionOptions.Continuation):
				result = '@(ResubmissionOptions.Continuation)';
				break;
			case  @((int)ResubmissionOptions.PreCertification):
				result = '@(ResubmissionOptions.PreCertification)';
				break;
			default:
				result = null;
		}
		return result;
	}

	function PopulateDependantSelects() {
		$('.dependantSelect').empty();
		var MasterFileIds = JSON.parse($('#HiddenMasterFileIds').val());

		$.each(MasterFileIds, function (i, item) {
			if(item.AvailableForMapping)
			{
				$('.dependantSelect').append($('<option>', {
					value: item.Id,
					text: item.CountId,
				}));
			}
		});

		$('.dependantSelect').prepend("<option value='0'>Select Record</option>");
		SetInitialStateofSelectMapping();
	}

	function GetMasterFileRecords(payload) {
		Loading();
		var url = '@Url.Action("GetMasterFileRecords")';

		$.ajax({
			type: "POST",
			url: url,
			data: JSON.stringify(payload),
			contentType: "application/json",
			dataType: "html",
			success: function (returnData) {
				$('#MasterFileRecordSet').html(returnData);
				PopulateDependantSelects();
				$('#Step3Wrapper').removeClass('hidden');
				$('#Save').removeClass('hidden');
				if($('input[name=SelectedMappingType]:checked').val() != '@((int)ResubmissionOptions.Continuation)') {
					$('#Step4Wrapper').removeClass('hidden');
				}
				checkForAllRowsConcurrentMapped();
			},
			error: function (returnData) {
				var parsedData = JSON.parse(returnData.responseText);
				if (parsedData.ConcurrentMasterFile) {
					bootbox.alert("The masterfile: " + $('#MasterFileNumber').val() + " already exists and is mapped to " + parsedData.ConcurrentMasterFile + ". Please select a file to designate as the master file that is not already part of a re submission chain.");
					HideAndStripStep4();
				}
				else if (parsedData.InvalidSelfReference) {
					bootbox.alert("Can not link current file " + parsedData.InvalidSelfReference + " to self.");
					$('#Save').addClass('hidden');
					HideAndStripStep4();
				}
				else if(parsedData.InvalidManufacturer){
					bootbox.alert(parsedData.InvalidManufacturer + " The manufacturers of the current file and the master file must be the same or part of the same manufacturer group.")
				}
				else if(parsedData.InvalidHead){
					bootbox.alert(parsedData.InvalidHead);
				}
				else {
					bootbox.alert("Opps.. something went wrong please enter a Service Now ticket.");
					HideAndStripStep4();
				}
			},
			complete: function () {
				DoneLoading();
			}
		});
	}

	function SetInitialMasterFileNumberState() {
		$("#Step3MasterFileNumber, #Step4MasterFileNumber").text('@Model.MasterFileNumber');
	}

	function ResetForm(){
		HideAndStripStep2();
		HideAndStripStep3();
		HideAndStripStep4();
	}

	function HideAndStripStep2(){
		if($('#MasterFileNumber').val())
		{
			 $('select[data-id="MasterFileNumber"]').val(null).trigger('change');
		}
	}

	function HideAndStripStep3(){
		$('#Step3Wrapper').addClass('hidden');
		$('#MasterFileRecordSet').empty();
	}

	function HideAndStripStep4() {
		$('#Step4Wrapper').addClass('hidden');
		$('.dependantSelect').val(null).trigger('change');
	}

	function ValidForm() {
		var selectedMapping = $('input[name=SelectedMappingType]:checked').val();
		if (selectedMapping == '@((int)ResubmissionOptions.Resubmission)' || selectedMapping == '@((int)ResubmissionOptions.PreCertification)' || selectedMapping == '@((int)ResubmissionOptions.Continuation)') {
			if (Em($("#MasterFileNumber").val())) {
				return false
			}
			else {
				return CheckRecordMappingforResubAndPrecert();
			}
		}
		else {
			return true
		}
	}

	function CheckRecordMappingforResubAndPrecert() {
		var selectedMapping = $('input[name=SelectedMappingType]:checked').val();
		var isValid = true;
				
		if (selectedMapping == '@((int)ResubmissionOptions.Resubmission)' || selectedMapping == '@((int)ResubmissionOptions.PreCertification)') {
			var resubSelections = $('.dependantSelect');
			var mappingCount = 0;
			$.each(resubSelections, function (key, item) {
				if (item.value && item.value != 0) {
					mappingCount++;
				}
			});
			isValid = mappingCount > 0 ? true : false;
		}
			   
		return isValid;
	}

	function checkForAllRowsConcurrentMapped() {
		//if ($('.masterFileRecordRow').length == $('.ConcurrentReSubmissionFileNumber').length) {
		//	HideAndStripStep4();
		//}
	}

	function Loading(){
		$('body').addClass('transp');
		$('#loadingSymbol').show();
	}

	function DoneLoading(){
		$('body').removeClass('transp');
		$('#loadingSymbol').hide();
	}

	</script>
}