﻿@model Submissions.Web.Areas.Protrack.Models.MasterFile.MasterResubmissionSummaryVM
@{

	ViewBag.Title = "Master File";
}
<div class="row row-title">
	<div class="col-sm-6">
		<h3 class="form-h3">Master File <small>@Model.Summary.MasterFile.File.FileNumber</small></h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<a id="Cancel" class="btn btn-primary btn-sm" onclick="window.close()" href="#">Cancel</a>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Summary</h3>
	</div>
	<div class="panel-body">
		<table id="rng-table" class="table table-condensed table-striped table-hover table-partialview">
			<thead>
				<tr>
					<th>Master File</th>
					<th>Received Date</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@Model.Summary.MasterFile.File.FileNumber</td>
					<td>@Model.Summary.MasterFile.File.ReceivedDate.ToString("d")</td>
					<td>@Model.Summary.MasterFile.File.FileType.GetEnumDescription()</td>
				</tr>
				@if (Model.Summary.MasterFile.Resubmissions.Count > 0)
				{
					<tr><td colspan="3" class="text-info"><em>Resubmissions for @Model.Summary.MasterFile.File.FileNumber</em></td></tr>
				}
				@foreach (var r in Model.Summary.MasterFile.Resubmissions)
				{
					<tr style="background-color:lightgray">
						<td>@r.FileNumber</td>
						<td>@r.ReceivedDate.ToString("d")</td>
						<td>@r.FileType.GetEnumDescription()</td>
					</tr>
				}
			</tbody>
		</table>
		@if (Model.Summary.Continuations.Count > 0)
		{
			<table id="rng-table" class="table table-condensed table-striped table-hover table-partialview">
				<thead>
					<tr>
						<th>Continuations</th>
						<th>Received Date</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var c in Model.Summary.Continuations)
					{
						<tr>
							<td>@c.File.FileNumber</td>
							<td>@c.File.ReceivedDate.ToString("d")</td>
							<td>@c.File.FileType.GetEnumDescription()</td>
						</tr>
						if (c.Resubmissions.Count > 0)
						{
							<tr><td colspan="3" class="text-info"><em>Resubmissions for @c.File.FileNumber</em></td></tr>
						}
						foreach (var r in c.Resubmissions)
						{
							<tr style="background-color:lightgray">
								<td>@r.FileNumber</td>
								<td>@r.ReceivedDate.ToString("d")</td>
								<td>@r.FileType.GetEnumDescription()</td>
							</tr>
						}
					}
				</tbody>
			</table>
		}
	</div>
</div>




