﻿<template>
	<div>
		<table id="TasksTable" class="table table-condensed">
			<tr>
				<td>
					<table id="TaskLabelsTable" class="table table-condensed">
						<thead>
							<tr>
								<th width="75%"><div @click="sortBy('idNumber')" class="sortHeader">Component ID <i :class="sortArrowClass('idNumber')"></i></div></th>
								<th width="12%"><div @click="sortBy('version')" class="sortHeader">Version <i :class="sortArrowClass('version')"></i></div></th>
								<th width="12%"><div @click="sortBy('dateCode')" class="sortHeader">Date Code<i :class="sortArrowClass('dateCode')"></i></div></th>
							</tr>
						</thead>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<div class="make-scrollable">
						<table id="component-data-info" class="table table-condensed table-striped">
							<tbody>
								<tr v-for="(comp, index) in sortComponentInformation(componentList)" :key="comp.id">
									<td width="76%">{{comp.idNumber}}</td>
									<td width="12%">{{comp.version}}</td>
									<td width="12%">{{comp.dateCode}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			
		</table>
	</div>
</template>

<script>
	import { sortValue } from '@/common'

	export default {
		props: {
			componentList: Array
		},
		data() {
			return {
				sortConfig: { sortKey: 'id', sortOrders: { id: 'asc' } },
			}
		},
		methods: {
			sortComponentInformation: function (componentList) {
				const sortKey = this.sortConfig.sortKey;
				if (sortKey) {
					const sortOrder = this.sortConfig.sortOrders[sortKey] || 'asc';
					if (sortKey === 'id') {
						return this.$lodash.orderBy(componentList, [x => parseInt(sortValue(x[sortKey]))], [sortOrder]);
					}
					return this.$lodash.orderBy(componentList, [x => sortValue(x[sortKey])], [sortOrder]);
				} else {
					return this.$lodash.orderBy(componentList, componentList.id, 'asc');
				}

				return componentList;
			},
			sortArrowClass: function (key) {
				const sortOrder = this.sortConfig.sortOrders[key];

				if (!(this.sortConfig.sortKey && sortOrder)) {
					return '';
				}
				else if (sortOrder === 'asc') {
					return 'fa fa-caret-up';
				}
				else {
					return 'fa fa-caret-down';
				}
			},
			sortBy: function (key) {
				let config = this.$lodash.cloneDeep(this.sortConfig);

				Object.entries(config.sortOrders).forEach(
					([k, v]) => {
						if (k !== key) {
							config.sortOrders[k] = null
						}
					}
				);

				config.sortKey = key;
				config.sortOrders[key] = config.sortOrders[key] === 'asc' ? 'desc' : 'asc';

				this.sortConfig = config;
			},
		},
	}
</script>

<style scoped>
	.make-scrollable {
		height:170px;
		overflow:auto;
	}
	#component-data-info {
		margin-bottom:0;
	}
	#TaskLabelsTable {
		margin-bottom: 0 !important;
	}
		#TaskLabelsTable thead {
			background-color: darkgray;
		}
</style>