﻿<template>
	<div>
		<div :class="{ hidden:filter.hideFilterPanel }" class="panel panel-default hide-border">
			<div class="panel-heading hidden-print">
				<a data-toggle="collapse" href="#filters-list">
					<h5 class="panel-title">Show Only (pick one)<i class="indicator fa pull-right fa-chevron-circle-up hide-element"></i></h5>
				</a>
			</div>
			<div class="panel-body collapse in" id="filters-list">
				<div class="form-group form-group-sm">
					<label class="control-label" for="JurisdictionIds">Jurisdiction</label>
					<LookupMultiple id="JurisdictionFilter" name="JurisdictionFilter" lookupajax="Jurisdictions" v-model="filters.jurisdictionIds" :options="filters.jurisdictions" :filter="jurisdictionFilters" templatename="formatJurisdictions" />
					<label class="text-danger hidden-print" :class="{ hidden: hideJurisdictionWarning }">At least one Jurisdiction must be selected for the Clause Report</label>
				</div>
				<div class="form-group form-group-sm hidden-print">
					<label class="control-label">Native Language</label>
					<Lookup id="NativeLanguageId" name="NativeLanguageId" :lookuptextfield="filters.nativeLanguageIds" @updateLookupTextField="updateNativeLanguageAndEnableDisableDocumentDropDown" lookupajax="NativeLanguages" v-model="filters.nativeLanguageIds" :filter="nativeLanguageFilters"></Lookup>
					<input id="NativeLanguage" name="NativeLanguage" type="hidden" v-model="filters.nativeLanguageIds" />
				</div>
				<div class="form-group form-group-sm hidden-print" v-if="ReviewOrClause.toLowerCase().trim() == 'clause'">
					<label class="control-label">Documents <i ref="autoPopulate" :class="[autoSelectDocFlag ? '' : 'hidden']"><a class="pointer auto-select-docs" @click.stop="autoPopulateDocs">Auto-Select Jursidiction Specific</a></i></label>
					<div :title=this.documentWarning>
						<LookupMultiple ref="DocumentFilter" id="DocumentFilter" name="DocumentFilter" lookupajax="EvolutionDocuments" v-model="filters.documentIds" :options="filters.documents" :filter="documentFilters" />
					</div>
				</div>
				<div v-if="ReviewOrClause.toLowerCase().trim() == 'clause'" class="hidden-print">
					<button type="button" ref="autoPopulate" class="btn btn-primary" :class="[autoSelectDocFlag ? 'show' : 'hide']" @click="autoPopulateDocs" style="margin-bottom:5px;">Auto Select Documents</button>
					<button type="button" id="ClauseBtn" class="btn btn-primary" @click="clauseFunc"><i class="fas fa-sync"></i> Clause Report</button>
				</div>
				<div v-else class="hidden-print">
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="showAll" :value="showAll" v-model="reviewRadio" /> Show All
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="passAnswers" id="passAnswers" :value="passAnswers" v-model="reviewRadio" /> Show Only Pass Answers in Review
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="naAnswers" id="naAnswers" :value="naAnswers" v-model="reviewRadio" /> Show Only N/A Answers in Review
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="failAnswers" id="failAnswers" :value="failAnswers" v-model="reviewRadio" /> Show Only Fail Answers in Review
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="conditionalQuestions" id="conditionalQuestions" class="cursor-pointer" :value="conditionalQuestions" v-model="reviewRadio" /> Show Only Conditional Questions in Review
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="validationQuestions" id="validationQuestions" class="cursorPointer" :value="validationQuestions" v-model="reviewRadio" /> Show Only Validation Questions in Review
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="gpsvalidationQuestions" id="gpsvalidationQuestions" class="cursorPointer" :value="gpsvalidationQuestions" v-model="reviewRadio" /> Show Only GPS Validation Questions in Review
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="unAnsweredQuestions" id="unAnsweredQuestions" class="cursorPointer" :value="unAnsweredQuestions" v-model="reviewRadio" /> Show Only Unanswered Questions in Review
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="unAnsweredValidations" id="unAnsweredValidations" class="cursorPointer" :value="unAnsweredValidations" v-model="reviewRadio" /> Show Only Unanswered Validations in Review
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="copiedAnswers" id="copiedAnswers" class="cursorPointer" :value="copiedAnswers" v-model="reviewRadio" /> Show Only Copied Answers in Review
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="notCopiedAnswers" id="notCopiedAnswers" class="cursorPointer" :value="notCopiedAnswers" v-model="reviewRadio" /> Show Only Not Copied Answers in Review
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline bold-m">
								<input type="radio" name="newToUserQuestions" id="newToUserQuestions" class="cursorPointer" :value="newToUserQuestions" v-model="reviewRadio" /> Show Only Questions New to Tester
							</label>
						</div>
					</div>
					<button id="ReviewBtn" class="btn btn-primary" v-on:click="reviewFunc"><span class="fas fa-sync"></span> Review</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import { createNamespacedHelpers } from 'vuex'
	import api from '@/api/evolution'
	import LookupMultiple from '@/components/utility/LookupMultiple.vue'
	import Lookup from '@/components/utility/Lookup.vue'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution');

	export default {
		props: ['ReviewOrClause'],
		components: {
			LookupMultiple,
			Lookup
		},
		data() {
			return {
				filters: initialData.filters,
				documentWarning: 'Please Select a Native Language',
				hideJurisdictionWarning: true,
				reviewRadio: null,
				passAnswers: 'passAnswers',
				naAnswers: 'naAnswers',
				failAnswers: 'failAnswers',
				conditionalQuestions: 'conditionalQuestions',
				validationQuestions: 'validationQuestions',
				gpsvalidationQuestions: 'gpsvalidationQuestions',
				unAnsweredQuestions: 'unAnsweredQuestions',
				unAnsweredValidations: 'unAnsweredValidations',
				copiedAnswers: 'copiedAnswers',
				notCopiedAnswers: 'notCopiedAnswers',
				newToUserQuestions: 'newToUserQuestions',
				showAll: 'showAll',
				autoSelectDocFlag: false
			}
		},
		mounted: function () {
			this.$refs.DocumentFilter.$el.disabled = true;
			this.reviewRadio = this.showAll;
		},
		computed: {
			jurisdictionFilters: function () {
				return {
					JurisdictionIds: this.filter.jurisdictionFilter.jurisdictionIdsFilter
				}
			},
			nativeLanguageFilters: function () {
				return {
					NativeLanguageIds: this.filter.nativeLanguageFilter.nativeLanguageIds,
					ComponentGroupId: this.filter.nativeLanguageFilter.compGroupID
				}
			},
			documentFilters: function () {
				return {
					DocumentIds: this.filter.documentFilter.documentIds,
					JurisdictionIds: this.filters.jurisdictionIds,
					ComponentGroupId: this.filter.documentFilter.compGroupID,
					NativeLanguage: this.filter.documentFilter.nativeLanguage
				}
			},
			...mapGetters([
				'filter',
				'instance',
				'review',
				'summary'
			])
		},
		methods: {
			updateNativeLanguageAndEnableDisableDocumentDropDown: function (newValue) {
				this.hasJurisdictionAndNativeLanguage();
				this.filters.nativeLanguageIds = newValue;
				this.filters.documentIds = null;
				if (this.filters.nativeLanguageIds == "") {
					this.$refs.DocumentFilter.$el.disabled = true;
					this.documentWarning = "Please Select a Native Language";
				} else {
					this.filter.documentFilter.nativeLanguage = this.filters.nativeLanguageIds;
					this.$refs.DocumentFilter.$el.disabled = false;
					this.documentWarning = "";
				}
			},
			clearCounts: function () {
				this.setClauseReportCounts({
					pass: 0,
					na: 0,
					naStar: 0,
					fail: 0
				});
			},
			reviewFunc: function () {
				this.reviewRadio = this.showAll;
				const dropdownJurisdictonValues = [];

				this.setReviewTestCase([]);
				this.setReviewTestScript([]);
				this.setHiddenClausePanel(true);
				this.setHiddenApplicableTestCase(true);
				this.setHiddenSummary(true);
				this.setHiddenTestCasePanel(false);
				this.setHiddenTestScriptPanel(false);
				this.setHiddenReviewPanel(false);
				this.setHiddenJurisdictionWarning(true);
				this.setHiddenFilterPanel(false);
				this.setHiddenTestCaseSpinner(false);
				this.setHiddenTestScriptSpinner(false);
				this.setHiddenQuestionsPanel(false);
				this.setCollapsedFunctionalRolePanel(true);

				this.$http.post('Evolution/Review/LoadTestScripts', {
					componentGroupId: this.instance.selectedComponentGroupId,
					jurisdictionIds: $("#JurisdictionFilter").val()
				})
				.then(response => {
					const result = response.data;
					this.setReviewTestCase(result.testCases);
					this.setReviewTestScript(result.testScripts);
					this.setHiddenTestScriptCountPanel(false);
					let counts = {
						totalCount: result.testScriptTotalCount,
						passCount: result.testScriptPassCount,
						failCount: result.testScriptFailCount,
						naCount: result.testScriptNaCount,
						conditionalCount: result.testScriptConditionalCount,
						openJiras: result.testScriptOpenJiraCount
					};
					this.setReviewCounts(counts);
					this.setTestCaseAllDisplay(true);
				})
				.catch(e => {
					console.log(e);
				})
				.finally(x => {
					this.setHiddenTestCaseSpinner(true);
					this.setHiddenTestScriptSpinner(true);
				});
			},
			clauseFunc: function () {
				this.setClauseReport([]);
				this.setApplicableTestCases([]);
				this.setSummary([]);
				this.setHiddenClauseReportSpinner(false);
				this.setCollapsedFunctionalRolePanel(true);
				this.setHiddenTestCasePanel(true);

				if (this.filters.jurisdictionIds === null || this.filters.jurisdictionIds.length == 0) {
					this.hideJurisdictionWarning = false;
					this.setHiddenClauseReportSpinner(true);
					this.clearCounts();
					return false;
				} else {
					this.hideJurisdictionWarning = true;
				}

				this.setHiddenClausePanel(false);
				this.setHiddenApplicableTestCase(false);
				this.setHiddenSummary(false);

				const selectedNativeLanguage = this.filter.documentFilter.nativeLanguage;
				
				api.loadClauseReport(this.instance.selectedComponentGroupId,
					this.filters.jurisdictionIds,
					this.filters.documentIds,
					(selectedNativeLanguage == "English" || selectedNativeLanguage == "") ? 0 : 1)
					.then(response => {
						const result = response.data;
						this.setClauseReport(result.clauseReports);
						this.setSummary(result.summarySections);
						this.setApplicableTestCases(result.applicableTestCases);

						this.setClauseReportCounts({
							pass: result.passCount,
							na: result.naCount,
							naStar: result.naStarCount,
							fail: result.failCount
						});

						this.setHasNevada(result.hasNevada);
						this.setHasPeru(result.hasPeru);
					})
					.catch(e => {
						console.log(e);
					})
					.finally(x => {
						this.setCollapsedFunctionalRolePanel(true);
						this.setCollapsedApplicableTestCasePanel(true);
						this.setCollapsedSummaryPanel(true);
						this.setHiddenClauseReportSpinner(true);
						this.setDocumentNameHeader(this.summary.summary.length != 0 ? this.summary.summary[0].documentName : "");
					});
			},
			passAnswersClick: function () {
				for (var i = 0; i < this.review.testCase.testCase.length; i++) {
					if (this.review.testCase.testCase[i].passCount > 0) {
						this.review.testCase.testCase[i].display = true;
					}
					else {
						this.review.testCase.testCase[i].display = false;
					}
				}

				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					if (this.review.testScript.reviewViewModel[i].answer == "PASS") {
						this.review.testScript.reviewViewModel[i].display = true;
					}
					else {
						this.review.testScript.reviewViewModel[i].display = false;
					}
				}
			},
			naAnswersClick: function () {
				for (var i = 0; i < this.review.testCase.testCase.length; i++) {
					if (this.review.testCase.testCase[i].naCount > 0) {
						this.review.testCase.testCase[i].display = true;
					}
					else {
						this.review.testCase.testCase[i].display = false;
					}
				}

				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					if (this.review.testScript.reviewViewModel[i].answer == "NA") {
						this.review.testScript.reviewViewModel[i].display = true;
					}
					else {
						this.review.testScript.reviewViewModel[i].display = false;
					}
				}
			},
			failAnswersClick: function () {
				for (var i = 0; i < this.review.testCase.testCase.length; i++) {
					if (this.review.testCase.testCase[i].failCount > 0) {
						this.review.testCase.testCase[i].display = true;
					}
					else {
						this.review.testCase.testCase[i].display = false;
					}
				}

				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					if (this.review.testScript.reviewViewModel[i].answer == "FAIL") {
						this.review.testScript.reviewViewModel[i].display = true;
					}
					else {
						this.review.testScript.reviewViewModel[i].display = false;
					}
				}
			},
			conditionalQuestionsClick: function () {
				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					if (this.review.testScript.reviewViewModel[i].questionType == "17") {
						this.review.testScript.reviewViewModel[i].display = true;
					}
					else {
						this.review.testScript.reviewViewModel[i].display = false;
					}
				}
			},
			unAnsweredQuestionsClick: function () {
				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					if (this.review.testScript.reviewViewModel[i].answer == "") {
						this.review.testScript.reviewViewModel[i].display = true;
					}
					else {
						this.review.testScript.reviewViewModel[i].display = false;
					}
				}
			},
			copiedAnswersClick: function () {
				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					if (this.review.testScript.reviewViewModel[i].copiedFrom != null) {
						this.review.testScript.reviewViewModel[i].display = true;
					}
					else {
						this.review.testScript.reviewViewModel[i].display = false;
					}
				}
			},
			notCopiedAnswersClick: function () {
				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					if (this.review.testScript.reviewViewModel[i].copiedFrom == null) {
						this.review.testScript.reviewViewModel[i].display = true;
					}
					else {
						this.review.testScript.reviewViewModel[i].display = false;
					}
				}
			},
			newToUserQuestionsClick: function () {
				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					if (this.review.testScript.reviewViewModel[i].newToUser) {
						this.review.testScript.reviewViewModel[i].display = true;
					}
					else {
						this.review.testScript.reviewViewModel[i].display = false;
					}
				}
			},
			validationQuestionsClick: function () {
				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					if (this.review.testScript.reviewViewModel[i].questionType == "18") {
						this.review.testScript.reviewViewModel[i].display = true;
					}
					else {
						this.review.testScript.reviewViewModel[i].display = false;
					}
				}
			},
			gpsvalidationQuestionsClick: function () {
				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					if (this.review.testScript.reviewViewModel[i].questionType == "26") {
						this.review.testScript.reviewViewModel[i].display = true;
					}
					else {
						this.review.testScript.reviewViewModel[i].display = false;
					}
				}
			},
			unAnsweredValidationsClick: function () {
				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					if (this.review.testScript.reviewViewModel[i].questionType == "18" && this.review.testScript.reviewViewModel[i].answer == "") {

						this.review.testScript.reviewViewModel[i].display = true;
					}
					else {
						this.review.testScript.reviewViewModel[i].display = false;
					}
				}
			},
			resetTestsFilter: function () {
				for (var i = 0; i < this.review.testCase.testCase.length; i++) {
					this.review.testCase.testCase[i].display = true;
				}

				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					this.review.testScript.reviewViewModel[i].display = true;
				}
			},
			autoPopulateDocs: function () {
				this.$refs.autoPopulate.disabled = true;
				api.loadEvolutionDocuments({
					jurisdictionIds: this.filters.jurisdictionIds,
					nativeLanguage: this.filters.nativeLanguageIds,
					compGroupId: this.instance.selectedComponentGroupId
				})
					.then(response => {
						const result = response.data;
						this.autoSelectDocuments(result);
					})
					.catch(e => {
						console.log(e);
					})
					.finally(x => {
						this.$refs.autoPopulate.disabled = false;
					});
			},
			hasJurisdictionAndNativeLanguage() {
				let jurIds = this.filters.jurisdictionIds;
				if(jurIds == null || jurIds.length <= 0) {
					this.autoSelectDocFlag = false;
					return;
				}
				let nativeLanguage = this.filters.nativeLanguageIds;
				if (nativeLanguage == null || nativeLanguage == "") {
					this.autoSelectDocFlag = false;
					return;
				}
				this.autoSelectDocFlag = true;
			},
			autoSelectDocuments(docs) {
				this.filters.documents = docs;
			},
			...mapActions([
				'setDocumentMultiSelectFilterDisable',
				'setDocumentMultiSelectEmpty',
				'setNativeLanguageSelectEmpty',
				'setJurisdictionMultiSelectEmpty',
				'setClauseReport',
				'setApplicableTestCases',
				'setSummary',
				'setHiddenClauseReportSpinner',
				'setCollapsedFunctionalRolePanel',
				'setHiddenJurisdictionWarning',
				'setHiddenClausePanel',
				'setHiddenApplicableTestCase',
				'setHiddenSummary',
				'setClauseReportCounts',
				'setHasNevada',
				'setHasPeru',
				'setCollapsedApplicableTestCasePanel',
				'setCollapsedSummaryPanel',
				'setDocumentNameHeader',
				'setJurisdictionMultiSelectValue',
				'setReviewTestCase',
				'setReviewCounts',
				'setReviewTestScript',
				'setHiddenTestCasePanel',
				'setHiddenTestScriptPanel',
				'setHiddenReviewPanel',
				'setHiddenFilterPanel',
				'setHiddenTestCaseSpinner',
				'setHiddenTestScriptSpinner',
				'setHiddenTestScriptCountPanel',
				'setTestCaseAllDisplay',
				'setHiddenQuestionsPanel'
			])
		},
		watch: {
			'filter.documentFilter.documentMultiSelectFilter.disable': function () {
				this.$refs.DocumentFilter.$el.disabled = true;
				this.setDocumentMultiSelectFilterDisable(false);
				this.documentWarning = "Please Select a Native Language";
			},
			'filter.documentFilter.documentMultiSelectFilter.empty': function () {
				this.filters.documentIds = null;
				this.setDocumentMultiSelectEmpty(false);
			},
			'filter.nativeLanguageFilter.nativeLanguageSelectFilter.empty': function () {
				this.filters.nativeLanguageIds = "English";
				this.setNativeLanguageSelectEmpty(false);
				this.updateNativeLanguageAndEnableDisableDocumentDropDown("English")
			},
			'filter.jurisdictionFilter.jurisdictionMultiSelectFilter.empty': function () {
				this.filters.jurisdictionIds = null;
				this.setJurisdictionMultiSelectEmpty(false);
			},
			'filters.jurisdictionIds': function() {
				this.hasJurisdictionAndNativeLanguage();
			},
			reviewRadio: function (val) {
				switch (val) {
					case this.passAnswers:
						this.passAnswersClick();
						break;
					case this.naAnswers:
						this.naAnswersClick();
						break;
					case this.failAnswers:
						this.failAnswersClick();
						break;
					case this.conditionalQuestions:
						this.conditionalQuestionsClick();
						break;
					case this.validationQuestions:
						this.validationQuestionsClick();
						break;
					case this.gpsvalidationQuestions:
						this.gpsvalidationQuestionsClick();
						break;
					case this.unAnsweredQuestions:
						this.unAnsweredQuestionsClick();
						break;
					case this.unAnsweredValidations:
						this.unAnsweredValidationsClick();
						break;
					case this.copiedAnswers:
						this.copiedAnswersClick();
						break;
					case this.notCopiedAnswers:
						this.notCopiedAnswersClick();
						break;
					case this.newToUserQuestions:
						this.newToUserQuestionsClick();
						break;
					case this.showAll:
						this.resetTestsFilter();
						break;
				}
			}
		}
	}
</script>

<style scoped>
	@media print {
		.hide-border {
			border: none;
		}

		.center-text {
			line-height: 30px;
			text-align: center;
			font-weight: bold;
		}
	}
	
	.bold-m {
		font-weight: bold;
		margin-bottom: 5px;
	}

	.show {
		display:block;
	}

	.hide {
		display: none;
	}

	.auto-select-docs {
		text-decoration: none;
		font-size: 10px;
		padding-left: 15px;
	}

</style>
