﻿<template>

	<div :class="{ hidden:filter.hideFilterPanel }">
		<div class="row flex-area">
			<div class="col-sm-10 adjust-legend row-new">
				<fieldset class="center-block check">
					<legend class="center-block">Check to Include</legend>
					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="passAnswers" id="passAnswers" v-model="showPassAnswers" /> Pass ({{passCount}})
						</label>
					</div>
					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="naAnswers" id="naAnswers" v-model="showNaAnswers" /> N/A ({{naCount}})
						</label>
					</div>
					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="failAnswers" id="failAnswers" v-model="showFailAnswers" /> Fail ({{failCount}})
						</label>
					</div>
					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="conditionalQuestions" id="conditionalQuestions" class="cursor-pointer" v-model="showConditionalQuestions" /> Conditional ({{conditionalCount}})
						</label>
					</div>
					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="testStepQuestions" id="testStepQuestions" class="cursorPointer" v-model="showTestStepQuestions" /> Test Steps ({{testStepQuestionCount}})
						</label>
					</div>
					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="gpsvalidationQuestions" id="gpsvalidationQuestions" class="cursorPointer" v-model="showGpsValidationQuestions" /> GPS Validation ({{gpsCount}})
						</label>
					</div>
					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="unAnsweredQuestions" id="unAnsweredQuestions" class="cursorPointer" v-model="showUnAnsweredQuestions" /> UnAnswered ({{unAnsweredQuestionCount}})
						</label>
					</div>

					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="newToUserQuestions" id="newToUserQuestions" class="cursorPointer" v-model="showNewToUserQuestions" /> New To User ({{newToUserCount}})
						</label>
					</div>
					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="modifiedAnswerQuestions" id="modifiedAnswerQuestions" class="cursorPointer" v-model="showModifiedAnswerQuestions" /> Modified ({{modifiedAnswerCount}})
						</label>
					</div>
					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="answersWithNotes" id="answersWithNotes" class="cursorPointer" v-model="showAnswersWithNotes" /> Has Notes ({{answersWithNotesCount}})
						</label>
					</div>
					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="questionsWithTestingNotes" id="questionsWithTestingNotes" class="cursorPointer" v-model="showQuestionsWithTestingNotes" /> Testing Notes ({{questionStepsWithTestingNotesCount}})
						</label>
					</div>
					<div class="col-sm-2">
						<label class="checkbox-inline bold-m">
							<input type="checkbox" name="validationQuestions" id="validationQuestions" class="cursorPointer" v-model="showOnlyValidationQuestions" /> Show Only Validation ({{validationQuestionsCount}})
						</label>
					</div>
				</fieldset>
				<fieldset class="center-block and">
					<legend>AND</legend>
					<div class="col-sm-1 imported-answer-area">
						<div class="col-sm-3 radio-width">
							<label class="bold-m radio-inline">
								<input type="radio" name="importedAnswers" id="importedAnswers" value="importedAnswers" class="cursorPointer alignRadio" v-model="showImportedAnswered" /> Imported ({{importedAnswerCount}})
							</label>
						</div>
						<div class="col-sm-3 radio-width">
							<label class="bold-m radio-inline">
								<input type="radio" name="notImportedAnswers" id="notImportedAnswers" value="notImportedAnswers" class="cursorPointer alignRadio" v-model="showImportedAnswered" /> Not Imported ({{notImportedAnswerCount}})
							</label>
						</div>
						<div class="col-sm-3 radio-width">
							<label class="bold-m radio-inline">
								<input type="radio" name="notImportedAnswers" id="all" value="disregardImportedAnswers" class="cursorPointer alignRadio" v-model="showImportedAnswered" /> Show All ({{totalCountVisible}})
							</label>
						</div>
					</div>
					<div class="col-sm-10 shiftDown">
						<div class="col-sm-12">
							<label class="bold-m fieldLength">
								Answers Since Date
							</label>
							<!--<input type="checkbox" name="answerTime" placeholder="Answers Since Date Picker" id="answerTime" class="cursorPointer" v-model="showAnswerTime" /> Answers Since Date-->
							<DateTimePicker class ="fieldHeight" id="answerDate" name="answerDate" v-model="answerTimeChosen" />
						</div>
						<div class="col-sm-12">
							<label class="bold-m fieldLength">
								Contributing Users
							</label>
							<SelectMultiple class ="fieldHeight" id="ContributingUsers" name="ContributingUsers"
											v-model="filter.selectedContributingUsers"
											:options="filter.allContributingUsers" />
						</div>
						<div class="col-sm-12">
							<label class="bold-m fieldLength">
								Jurisdiction Filter
							</label>
							<LookupMultiple class ="fieldHeight" id="JurisdictionFilterOnFilter"
											name="JurisdictionFilterOnFilter"
											lookupajax="Jurisdictions"
											v-model="selectedJurisdictionIdsModel"
											:options="filter.jurisdictionFilter.jurisdictionIdsFilter"
											:filter="jurisdictionFilters" />
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div>
			<div style="float: left; vertical-align:top;">
				<button name="resetFilters" class="btn btn-info btn-sm button-spacing" @click="resetFilters" value="Reset">Default Filters </button>
				<button name="clearFilterOptions" class="btn btn-sm btn-info button-spacing" @click="clearFilterOptions">UnCheck All</button>
				<button name="isItReallyThatSimple" class="btn btn-lg btn-primary button-spacing" @click="filterTestScripts">Apply Filters</button>
			</div>
		</div>

	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import SelectMultiple from '@/components/utility/SelectStandardMultiple2.vue'
	import LookupMultiple from '@/components/utility/LookupMultiple.vue'
	import DateTimePicker from '@/components/utility/DateTimePicker.vue'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')



	//var displayThisArray = this.review.testScript.reviewViewModel.flexFilter([{ Field: "answer", Values: ["NA", "FAIL"] }]);
	//Might be a start to a filtering of options based on field and values. Values are ORed, but each array object is AND
	Array.prototype.flexFilter = function (info) {
		// Set our variables
		var matchesFilter, matches = [], count;

		// Helper function to loop through the filter criteria to find matching values
		// Each filter criteria is treated as "AND". So each item must match all the filter criteria to be considered a match.
		// Multiple filter values in a filter field are treated as "OR" i.e. ["Blue", "Green"] will yield items matching a value of Blue OR Green.
		matchesFilter = function (item) {
			count = 0
			for (var n = 0; n < info.length; n++) {
				if (info[n]["Values"].indexOf(item[info[n]["Field"]]) > -1) {
					count++;
				}
			}
			// If TRUE, then the current item in the array meets all the filter criteria
			return count == info.length;
		}

		// Loop through each item in the array
		for (var i = 0; i < this.length; i++) {
			// Determine if the current item matches the filter criteria
			if (matchesFilter(this[i])) {
				matches.push(this[i]);
			}
		}

		// Give us a new array containing the objects matching the filter criteria
		return matches;

	}

	export default {
		props: ['review-or-clause'],
		components: {
			SelectMultiple,
			LookupMultiple,
			DateTimePicker,
		},
		data() {
			return {

				passCount: 0,
				naCount: 0,
				failCount: 0,
				conditionalCount: 0,
				testStepQuestionCount: 0,
				validationQuestionsCount: 0,
				gpsCount: 0,
				unAnsweredQuestionCount: 0,
				importedAnswerCount: 0,
				notImportedAnswerCount: 0,
				newToUserCount: 0,
				modifiedAnswerCount: 0,
				answersWithNotesCount: 0,
				questionStepsWithTestingNotesCount: 0,
				totalCountVisible: 0,

				showPassAnswers: true,
				showNaAnswers: true,
				showFailAnswers: true,
				showConditionalQuestions: true,
				showTestStepQuestions: true,
				showOnlyValidationQuestions: true,
				showMeTheInverse: false,
				showGpsValidationQuestions: true,
				showUnAnsweredQuestions: true,
				showImportedAnswered: "disregardImportedAnswers",
				showNotImportedAnswered: false,
				showNewToUserQuestions: true,
				showModifiedAnswerQuestions: true,

				showAnswersWithNotes: true,
				showQuestionsWithTestingNotes: true,
				//showAnswerTime: true,
				answerTimeChosen: "",

				selectedFilterJurisdiction: [],
			}
		},
		mounted: function () {
			this.updateTotalCounts();
		},
		computed: {
			selectedJurisdictionIdsModel: {
				set(idList) {
					this.selectedFilterJurisdiction = idList.filter(function (juri) {
						return juri != "";
					});
				},
				get() {
					return this.selectedFilterJurisdiction;
				}
			},
			jurisdictionFilters: function () {
				return {
					JurisdictionIds: this.filter.jurisdictionFilter.jurisdictionIdsFilter
				}
			},
			...mapGetters([
				'filter',
				'review'
			])
		},
		methods: {
			filterTestScripts: function () {
				var selectedFilterSorted = this.selectedFilterJurisdiction.sort();
				var selectedDate = (this.answerTimeChosen != "") ? new Date(this.answerTimeChosen) : "";

				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					var ts = this.review.testScript.reviewViewModel[i];

					//Set the display to false, cause why not something will hopefully make it true.
					ts.display = false;


					//Get the user contributing out of the way. If non-selected, that is like all of them selected.
					if (this.filter.selectedContributingUsers.length > 0 && this.filter.selectedContributingUsers.indexOf(ts.answeredBy) < 0) {
						continue;//ts.display = true;
					}

					/*Jurisdiction filter logic */
					var notPartOfJurisdictionSelected = false;
					//If no jurisdiction is selected assume all is wanted. Else if testScript question isn't in
					//The jurisdiction list, not show it. Only on Validations by the way.
					if (this.selectedFilterJurisdiction.length > 0) {
						if (ts.questionType === "18") {
							var validationJuriList = ts.juriList.sort();
							var moveOn = false;
							for (var jur = 0; jur < this.selectedFilterJurisdiction.length && !moveOn; jur++) {
								for (var valJur = 0; valJur < validationJuriList.length && !moveOn; valJur++) {
									if (selectedFilterSorted[jur] === validationJuriList[valJur]) {
										//ts.display = true;
										moveOn = true;
										notPartOfJurisdictionSelected = false;
									} else {
										ts.display = false;
										notPartOfJurisdictionSelected = true;
									}
								}
							}
						}
					}

					if (notPartOfJurisdictionSelected && !moveOn) {
						continue;
					}

					/*Answer Time filter logic */
					//Don't display if question date is before the selected date. If it comes after, check other display criteria
					if (this.answerTimeChosen !== "") {
						if (ts.answeredTime === null) {
							continue;
						}
						var questionDate = new Date(ts.answeredTime);

						if (questionDate < selectedDate) {
							continue;
						}
					}

					/*Generic Includes and filters to set true if user wants to show these */
					//can think of these as includes in this section.
					if (this.showPassAnswers && ts.answer === "PASS") {
						ts.display = true;

					}
					if (this.showNaAnswers && ts.answer === "NA") {
						ts.display = true;

					}
					if (this.showFailAnswers && ts.answer === "FAIL") {
						ts.display = true;

					}
					if (this.showUnAnsweredQuestions && ts.answer === null) {
						ts.display = true;

					}

					if (this.showConditionalQuestions && ts.questionType === "17") {
						ts.display = true;

					}
					if (this.showValidationQuestions && ts.questionType === "18") {
						//ts.display = true;

					}
					if (this.showGpsValidationQuestions && ts.questionType === "26") {
						ts.display = true;

					}
					if (this.showTestStepQuestions && ts.questionType === "29") {
						ts.display = true;

					}

					if (this.showNewToUserQuestions && ts.newToUser === true) {
						ts.display = true;

					}
					if (this.showModifiedAnswerQuestions && ts.modified) {
						ts.display = true;

					}
					if (this.showAnswersWithNotes && ts.notes !== null && ts.notes !== "") {
						ts.display = true;
					}
					if (this.showQuestionsWithTestingNotes
						&& ts.notes !== null
						&& ts.notes !== ""
						&& ts.questionType === "29") {
						ts.display = true;
					}

					/*Debugging purpose*/
					if (ts.visible && !ts.display) {
						console.log('not displayed : '
							+ ts.normalizedID
							+ ': ' + ts.text
							+ ' qType: ' + ts.questionType);
					}

				}

				/*If show conditional is false and showOnlyValidation is true, it won't show the parents of the validations*/
				if (!this.showOnlyValidationQuestions && !this.showConditionalQuestions) {
					for (var i = 0; i < this.review.testScript.reviewViewModel.length - 1; i++) {
						this.displayParent(i);
						if (this.review.testScript.reviewViewModel[i].visible && !this.review.testScript.reviewViewModel[i].display) {
							console.log('Displaying those that are visible but not on display: '
								+ this.review.testScript.reviewViewModel[i].normalizedID
								+ ': ' + this.review.testScript.reviewViewModel[i].text
								+ ' qType: ' + this.review.testScript.reviewViewModel[i].questionType);
						}
					}
				}


				/*ANDing Portion of selection*/

				if (this.showImportedAnswered !== "disregardImportedAnswers") {
					for (var i = 0; i < this.review.testScript.reviewViewModel.length - 1; i++) {
						var ts = this.review.testScript.reviewViewModel[i];
						if (this.review.testScript.reviewViewModel[i].display) {
							if (this.showImportedAnswered === "importedAnswers" && ts.copiedFrom === null) {
								ts.display = false;

							} else if (this.showImportedAnswered === "notImportedAnswers" && ts.copiedFrom !== null) {
								ts.display = false;
							}
						}
					}
				}



				/*If we want to see what should have been console.log to the questions area*/
				if (this.showMeTheInverse) {
					for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
						this.review.testScript.reviewViewModel[i].display = !this.review.testScript.reviewViewModel[i].display;
					}
				}
				this.updateTotalCounts();
			},
			resetFilters: function () {
				this.showPassAnswers = true;
				this.showNaAnswers = true;
				this.showFailAnswers = true;
				this.showConditionalQuestions = true;
				this.showTestStepQuestions = true;
				this.showOnlyValidationQuestions = false;
				this.showMeTheInverse = false;
				this.showGpsValidationQuestions = true;
				this.showUnAnsweredQuestions = true;
				this.showImportedAnswered = "disregardImportedAnswers";
				this.showNotImportedAnswered = false;
				this.showNewToUserQuestions = false;
				this.showModifiedAnswerQuestions = false;
				this.showAnswersWithNotes = false;
				this.showQuestionsWithTestingNotes = false;
				//this.showAnswerTime= false;
				this.answerTimeChosen = "";
			},
			clearFilterOptions: function () {
				this.resetFilters();
				this.showPassAnswers = false;
				this.showNaAnswers = false;
				this.showFailAnswers = false;
				this.showConditionalQuestions = false;
				this.showTestStepQuestions = false;
				this.showGpsValidationQuestions = false;
				this.selectedContributingUsers = [];
				this.selectedFilterJurisdiction = [];
				this.setSelectedContributingUsers([]);

			},
			resetCounts: function () {
				this.passCount = 0;
				this.naCount = 0;
				this.failCount = 0;
				this.conditionalCount = 0;
				this.testStepQuestionCount = 0;
				this.validationQuestionsCount = 0;
				this.gpsCount = 0;
				this.unAnsweredQuestionCount = 0;
				this.importedAnswerCount = 0;
				this.notImportedAnswerCount = 0;
				this.newToUserCount = 0;
				this.modifiedAnswerCount = 0;
				this.answersWithNotesCount = 0;
				this.questionStepsWithTestingNotesCount = 0;
				this.totalCountVisible = 0;
			},
			updateTotalCounts: function () {
				this.resetCounts()
				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					var ts = this.review.testScript.reviewViewModel[i];
					if (ts.display && ts.visible) {
						if (ts.answer === "PASS")
							this.passCount++;
						if (ts.answer === "NA")
							this.naCount++;
						if (ts.answer === "FAIL")
							this.failCount++;
						if (ts.questionType === '17')
							this.conditionalCount++;
						if (ts.questionType === '18')
							this.validationQuestionsCount++;
						if (ts.questionType === "29")
							this.testStepQuestionCount++;
						if (ts.questionType === "26")
							this.gpsCount++;
						if (ts.answer === null && ts.questionType !== "29")
							this.unAnsweredQuestionCount++;

						if (ts.sourceAnswer !== null && ts.sourceAnswer !== "")
							this.importedAnswerCount++;
						else
							this.notImportedAnswerCount++;


						if (ts.newToUser !== null)
							this.newToUserCount++;
						if (ts.modified)
							this.modifiedAnswerCount++;
						if (ts.notes !== null && ts.notes !== "" && ts.questionType !== "29")
							this.answersWithNotesCount++;
						if (ts.notes !== null && ts.questionType === "29")
							this.questionStepsWithTestingNotesCount++;

						//if (ts.questionType !== "29")
						this.totalCountVisible++;

					}
				}
			},
			///Call function with index will look from that index through the review.testScript.reviewViewModel array
			/// If it finds a child that has display true and is visible. It will set it self to display as well.
			displayParent: function (currentIndex) {
				var childIndex = currentIndex + 1;
				while (this.review.testScript.reviewViewModel[currentIndex].level < this.review.testScript.reviewViewModel[childIndex].level) {
					if (this.review.testScript.reviewViewModel[childIndex].display && this.review.testScript.reviewViewModel[childIndex].visible) {
						this.review.testScript.reviewViewModel[currentIndex].display = true;
						break;
					}
					childIndex++;
				}
			},
			resetTestsFilter: function () {
				for (var i = 0; i < this.review.testCase.testCase.length; i++) {
					this.review.testCase.testCase[i].display = true;
				}

				for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
					this.review.testScript.reviewViewModel[i].display = true;
				}
			},
			...mapActions([
				'setSelectedContributingUsers',
				'setCurrentSelectedJurisdictionIds',
				'setUpdateFilterCounts'
			])
		},
		watch: {
			'review.testScript.reviewViewModel': function () {
				this.updateTotalCounts();
			},
			'filter.updateFilterCounts': function (val) {
				if (val) {
					this.updateTotalCounts();
					this.setUpdateFilterCounts(false);
				}

			}

		}
	}

</script>

<style scoped>
	.alignRadio{
		vertical-align: text-bottom;
	}
	.fieldLength {
	  width: 300px;
	}
	.fieldHeight {
		height: 15px;	 
		max-height: 15px;
		overflow: auto;
	}
	.shiftDown {
	  margin: 5px 0px 0px 0px;
	}
	.center {
	  text-align:center;
	  margin: 0px 50px 0px 0px;
	}
	.imported-answer-area {
		width: 100%;
		padding: 0px 0px 0px 0px;
	}
	.adjust-legend {
		width: 100%;
	}
	.check {
		width: 55%;
		font-size:x-small;
	}
	.and {
		width: 42%;
		font-size:xx-small;
	}
	.radio-width {
		width: 30%;
	}
	fieldset {
		border: 1px solid #ddd !important;
		position: relative;
		border-radius: 4px;
		padding-left: 10px !important;
		padding-right: 10px;
		float: left;
		margin: 0px 0px 0px 0px;
		display: block;
		box-sizing: border-box;
		max-height: 200px;
	}
	legend {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 0px;
		width: 25%;
		border: 1px solid #ddd;
		border-radius: 4px;
		text-align: center
	}

	@media print {
		.hide-border {
			border: none;
		}

		.center-text {
			line-height: 30px;
			text-align: center;
			font-weight: bold;
		}
	}

	.bold-m {
		font-weight: bold;
		margin-bottom: 5px;
	}

	.flex-area {
		display: flex;
	}

	.row-new {
		margin-left: 0px;
		margin-right: 0px;
	}

	.button-spacing {
        height: 25px;
		margin-right: 3px;
		display: inline-flex;
		align-items: center;
	}

	.robAdjust {
		z-index: 20;
	}
</style>
