﻿<template>
	<div>
		<div :class="{ hidden: functionalRole.hideFunctionalRolePanel }" class="panel panel-default hide-border">
			<div v-if="clause" class="panel-heading center-text hide-border">
				<a data-toggle="collapse" href="#functional-roles-list">
					<h5 class="panel-title">Functional Roles<i class="indicator fa pull-right searchTasks fa-chevron-circle-up hidden-print"></i></h5>
				</a>
			</div>
			<div v-else class="panel-heading center-text hide-border">
				<h5 class="panel-title">Functional Roles</h5>
			</div>
			<div ref="functionalRoles" class="panel-body collapse in" id="functional-roles-list">
				<div class="text-center" :class="{ hidden: functionalRole.hideFunctionalRoleSpinner }">
					<i class="fa fa-spinner fa-pulse fa-5x"></i>
				</div>
				<div class="row row-bordered" :class="{ hidden: !functionalRole.hideFunctionalRoleSpinner}">
					<div class="col-sm-3 hidden-print"><b>Name</b></div>
					<div class="col-sm-9 hidden-print"><b>Description</b></div>
				</div>
				<div class="row row-bordered" v-for="fr in functionalRole.functionalRoles" :key="fr.id">
					<div class="col-sm-3">{{ fr.name }}</div>
					<div class="col-sm-9">{{ fr.description }}</div>
		<!--	<div ref="functionalRoles" class="collapse in hide-border" id="functional-roles-list">
				<div class="panel-body bottom-padding-0">
					<div class="text-center" :class="{ hidden: functionalRole.hideFunctionalRoleSpinner }">
						<i class="fas fa-spinner fa-pulse fa-5x"></i>
					</div>
					<div class="row row-bordered" :class="{ hidden: !functionalRole.hideFunctionalRoleSpinner}">
						<div class="col-sm-3 hidden-print"><b>Name</b></div>
						<div class="col-sm-9 hidden-print"><b>Description</b></div>
					</div>
					<div class="row row-bordered" v-for="fr in functionalRole.functionalRoles" :key="fr.id">
						<div class="col-sm-3">{{ fr.name }}</div>
						<div class="col-sm-9">{{ fr.description }}</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		computed: {
			...mapGetters([
				'functionalRole'
			])
		},
		data() {
			return {
				clause: true
			}
		},
		methods: {
			...mapActions([
				'setCollapsedFunctionalRolePanel'
			])
		},
		watch: {
			'functionalRole.collapsedFunctionalRolePanel': function () {
				if (this.$refs.functionalRoles) {
					this.$refs.functionalRoles.classList.remove("in");
				}
				this.setCollapsedFunctionalRolePanel(false);
			}
		}
	}
</script>

<style scoped>
	.row-bordered {
		content: "";
		display: block;
		border-bottom: 1px solid #ccc;
		padding: 5px 0 5px 0;
	}

	.bottom-padding-0 {
		padding-bottom: 0px;
	}

	@media print {
		.hide-border {
			border: none;
		}

		.center-text {
			line-height: 30px;
			text-align: center;
			font-weight: bold;
		}

		.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
			float: left;
		}

		.col-sm-12 {
			width: 100%;
		}

		.col-sm-11 {
			width: 91.66666667%;
		}

		.col-sm-10 {
			width: 83.33333333%;
		}

		.col-sm-9 {
			width: 75%;
		}

		.col-sm-8 {
			width: 66.66666667%;
		}

		.col-sm-7 {
			width: 58.33333333%;
		}

		.col-sm-6 {
			width: 50%;
		}

		.col-sm-5 {
			width: 41.66666667%;
		}

		.col-sm-4 {
			width: 33.33333333%;
		}

		.col-sm-3 {
			width: 25%;
		}

		.col-sm-2 {
			width: 16.66666667%;
		}

		.col-sm-1 {
			width: 8.33333333%;
		}
	}
</style>
