﻿<template>
	<div>
		<div class="row">
			<div class="col-sm-8">
				<input v-model="instance.projectName" type="text" placeholder="Enter File Number" class="form-control upper" />
			</div>
			<div class="col-sm-2 get-instance-btn-div">
				<button type="button" class="btn btn-primary btn-sm" @click="instanceFunc">Get Instances</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div :class="{ hidden: hideInstancePanel }" class="panel panel-default">
					<div class="panel-heading center-text hide-border">
						<a data-toggle="collapse" href="#instances">
							<h5 class="panel-title">
								Instances<i class="indicator fa pull-right fa-chevron-circle-up hide-element"></i>
							</h5>
						</a>
					</div>
					<div class="collapse in hide-border" id="instances">
						<div class="panel-group" id="accordion">
							<div :class="{ hidden: hideInstanceSpinner }" class="text-center">
								<i class="fas fa-spinner fa-pulse fa-5x"></i>
							</div>
							<div v-for="(i, idx) in instances" :key="i.id" class="panel">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a :class="{ collapsed: idx > 0 }" data-toggle="collapse" data-parent="#accordion" :href="'#collapse-' + i.id">
											{{ i.projectName }}<i class="indicator fa pull-right fa-chevron-circle-up hide-element"></i>
										</a>
									</h4>
								</div>
								<div :id="'collapse-' + i.id" :ref="'collapse-' + i.id" class="panel-collapse collapse" :class="{ in: idx == 0 }">
									<div class="panel-body panel-body-componentgroup">
										<table cellpadding="0" cellspacing="0">
											<tr v-for="cg in i.componentGroups" :key="cg.id">
												<td :id="cg.id" :ref="cg.id" @click="componentGroupClickLockUnlock(cg.id) ? null : (cg.eventType === 'Lock' ? componentGroupClick(cg.id) : hideFunctionalRolesAndFilters(cg.id))">
													<table class="componentsGroupTable">
														<colgroup>
															<col width="110" />
															<col width="110" />
															<col width="85" />
															<col width="25" />
														</colgroup>
														<tr>
															<td colspan="3" style="vertical-align: bottom;"><strong>Component Group:</strong> {{ cg.id }}</td>
															<td>
																<i v-if="cg.eventType === 'Lock'" class="fas fa-lock"></i>
																<i v-else class="fas fa-unlock"></i>
															</td>
														</tr>
														<tr v-if="cg.eventType != 'Lock'"><th colspan="4" class="text-red">Evo Review is not intended to support unlocked instances at this time</th></tr>
														<tr><td colspan="4"><strong>Build Date:</strong> {{ cg.buildDate | formatDate }} </td></tr>
														<tr><td colspan="4"><strong>Group Description:</strong> {{ cg.description }}</td></tr>
														<tr>
															<th>Id Number</th>
															<th>Version</th>
															<th colspan="2">Date Code</th>
														</tr>
														<tr v-for="c in cg.components" :key="c.id">
															<td>{{ c.idNumber }}</td>
															<td>{{ c.version }}</td>
															<td colspan="2">{{ c.dateCode }}</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import api from '@/api/evolution'
	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		data() {
			return {
				instances: [],
				hideInstancePanel: true,
				hideInstanceSpinner: true,
				selectedInstanceId: ''
			}
		},
		mounted: function () {
			if (this.$route.query.fileNumber) {
				this.setProjectName(this.$route.query.fileNumber);
				this.instanceFunc();
			}
		},
		computed: {
			...mapGetters([
				'instance'
			])
		},
		methods: {
			instanceFunc: function () {
				this.instances = [];
				this.selectedInstanceId = [];
				this.hideInstancePanel = false;
				this.hideInstanceSpinner = false;
				this.instanceFuncDispatch();
				//Load Instances
				api.loadInstances(this.instance.projectName)
					.then(response => {
						this.instances = response.data;
						if (this.$route.query.instanceId) {
							this.$nextTick(function () {
								this.componentGroupClick(this.$route.query.instanceId);
							})
						}
					})
					.catch(e => {
						console.log(e);
					})
					.finally(x => {
						this.hideInstanceSpinner = true;
					});

			},
			handleBgWarning: function (componentGroupId) {
				if (this.selectedInstanceId.length == 0) {
					this.selectedInstanceId = componentGroupId;
				} else {
					this.$refs[this.selectedInstanceId][0].classList.remove("bg-warning");
				}

				if (this.$refs[componentGroupId]) {
					this.$refs[componentGroupId][0].classList.add("bg-warning");
					var parentInstance = this.instances.find(x => { return x.componentGroups.some(y => { return y.id === componentGroupId }) }).id;
					this.$refs["collapse-" + this.instances[0].id][0].classList.remove("in");
					this.$refs["collapse-" + parentInstance][0].classList.add("in");
					this.selectedInstanceId = componentGroupId;
				}
			},
			collapseFuncRoleWindow: function () {
				var t1 = document.getElementById("functional-roles-list");
				if (t1 != null) {
					t1.classList.remove("in");
				}
			},
			uncollapseFuncRoleWindow: function () {
				var t1 = document.getElementById("functional-roles-list");
				if (t1 != null) {
					t1.classList.add("in");
				}
			},
			updateFilenumber: function (componentGroupId) {
				let filenumber = "";
				_.forEach(this.instances, function (el, index, arr) {
					_.forEach(el.componentGroups, function (e, i, arr) {
						if (e.id == componentGroupId) {
							filenumber = el.projectName;
							return false;
						}
					});
				});
				this.setSelectedFilenumber(filenumber);
			},
			componentGroupClick: function (componentGroupId) {

				this.componentGroupClickDispatch(componentGroupId);
				this.handleBgWarning(componentGroupId);
				this.updateFilenumber(componentGroupId);
				//Load ComponentGroup Jurisdictions
				api.loadComponentGroupJurisdictions(this.instance.selectedComponentGroupId)
					.then(response => {
						const result = response.data;
						this.setJurisdictionIdsFilter(result);
					})
					.catch(e => {
						console.log(e);
					})
					.finally(x => {
					});

				//Load ComponentGroup Documents and Native Language
				api.loadComponentGroupDocuments(this.instance.selectedComponentGroupId)
					.then(response => {
						const result = response.data;
						this.setDocumentCompGroupID(result);
						this.setNativeLanguageCompGroupID(result);
					})
					.catch(e => {
						console.log(e);
					})
					.finally(x => {
					});
				//Load Functional Roles
				api.loadFunctionalRoles(this.instance.selectedComponentGroupId)
					.then(response => {
						const result = response.data;
						this.setFunctionalRoles(result);
					})
					.catch(e => {
						console.log(e);
					})
					.finally(x => {
						this.setHiddenFunctionalRoleSpinner(true);
					});
			},
			componentGroupClickDispatch: function (componentGroupId) {
				this.uncollapseFuncRoleWindow();
				this.setClauseReport([]);
				this.setFunctionalRoles([]);
				this.setHiddenClausePanel(true);
				this.setHiddenSummary(true);
				this.setHiddenClauseReportSpinner(false)
				this.setHiddenFunctionalRolePanel(false);
				this.setHiddenFunctionalRoleSpinner(false);
				this.setHiddenFilterPanel(false);
				this.setHiddenJurisdictionAndDocumentPanel(false);
				this.setHiddenApplicableTestCase(true);
				this.setSelectedComponentGroupId(componentGroupId);
				this.setDocumentMultiSelectFilterDisable(true);
				this.setDocumentMultiSelectEmpty(true);
				this.setNativeLanguageSelectEmpty(true);
				this.setJurisdictionMultiSelectEmpty(true);
			},
			instanceFuncDispatch: function () {
				this.setClauseReport([]);
				this.setFunctionalRoles([]);
				this.setHiddenClausePanel(true);
				this.setHiddenSummary(true);
				this.setHiddenApplicableTestCase(true);
				this.setHiddenFunctionalRolePanel(true);
				this.setHiddenQuestionsPanel(true);
				this.setHiddenTestCasePanel(true);
				this.setHiddenTestScriptPanel(true);
				this.setHiddenTestScriptCountPanel(true);

				this.setClauseReportCounts({
					pass: 0,
					na: 0,
					naStar: 0,
					fail: 0
				});

				this.setHiddenFilterPanel(true);
				this.setSelectedComponentGroupId('');
				this.setSelectedFilenumber('');
				this.setDocumentMultiSelectEmpty(true);
				this.setNativeLanguageSelectEmpty(true);
				this.setJurisdictionMultiSelectEmpty(true);
			},
			componentGroupClickLockUnlock: function (componentGroupId) {
				return this.instance.selectedComponentGroupId == componentGroupId ? true : false;
			},
			hideFunctionalRolesAndFilters: function (componentGroupId) {
				this.setHiddenFunctionalRolePanel(true);
				this.setHiddenFilterPanel(true);
				this.setHiddenJurisdictionAndDocumentPanel(true);
				this.setSelectedComponentGroupId(componentGroupId);
				this.updateFilenumber(componentGroupId);
				this.handleBgWarning(componentGroupId);
			},
			...mapActions([
				'setJurisdictionIdsFilter',
				'setDocumentCompGroupID',
				'setNativeLanguageCompGroupID',
				'setFunctionalRoles',
				'setHiddenFunctionalRoleSpinner',
				'setClauseReport',
				'setHiddenClausePanel',
				'setHiddenSummary',
				'setHiddenClauseReportSpinner',
				'setHiddenFunctionalRolePanel',
				'setHiddenJurisdictionAndDocumentPanel',
				'setHiddenFilterPanel',
				'setHiddenApplicableTestCase',
				'setSelectedComponentGroupId',
				'setProjectName',
				'setDocumentMultiSelectFilterDisable',
				'setDocumentMultiSelectEmpty',
				'setNativeLanguageSelectEmpty',
				'setJurisdictionMultiSelectEmpty',
				'setClauseReportCounts',
				'setHiddenQuestionsPanel',
				'setHiddenTestCasePanel',
				'setHiddenTestScriptPanel',
				'setHiddenTestScriptCountPanel',
				'setSelectedFilenumber'
			])
		}
	}
</script>

<style scoped>
	.get-instance-btn-div {
		padding-left: 0px;
	}

	.panel-body-componentgroup {
		padding: 0;
		margin: 0;
	}

	.componentsGroupTable {
		width: 100%;
		font-size: 9px;
		cursor: pointer;
		margin: 3px;
		margin-bottom: 10px;
	}

		.componentsGroupTable td {
			padding-right: 3px;
			vertical-align: top;
		}

	.fa-lock, .fa-unlock {
		font-size: 18px;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		text-transform: none;
	}

	::-moz-placeholder { /* Firefox 19+ */
		text-transform: none;
	}

	:-ms-input-placeholder { /* IE 10+ */
		text-transform: none;
	}

	:-moz-placeholder { /* Firefox 18- */
		text-transform: none;
	}

	.div-text-line {
		overflow: hidden;
		white-space: nowrap;
		padding-right: 0px;
	}

	.pr-0 {
		padding-right: 0px;
	}

	.pl-0 {
		padding-left: 0px;
	}
</style>