﻿<template>
	<div class="flex-col">
		<div :class="{ hidden:filter.hideJurisdictionAndDocumentPanel }" class="panel panel-default hide-border">
			<div v-if="ReviewOrClause.toLowerCase().trim() === 'clause'" class="panel-heading hidden-print">
				<a data-toggle="collapse" href="#juriAndDocument-list">
					<h5 v-if="ReviewOrClause.toLowerCase().trim() === 'clause'"  class="panel-title">Jurisdiction and Documents<i class="indicator fa pull-right fa-chevron-circle-up hide-element"></i></h5>
					<h5 v-else class="panel-title">Jurisdiction Filter</h5>
				</a>
			</div>
			<div class="panel-body collapse in" id="juriAndDocument-list">
				<div class="form-group form-group-sm" :style="{display: (ReviewOrClause.toLowerCase().trim() ==='clause')? '' : 'flex'}">
					<label v-if="ReviewOrClause.toLowerCase().trim() === 'clause'" class="control-label" for="JurisdictionIds">Jurisdiction</label>
					<label  v-else class="control-label" for="JurisdictionIds">Jurisdiction Filter</label>
					<LookupMultiple id="JurisdictionFilter" name="JurisdictionFilter" lookupajax="Jurisdictions" v-model="selectedJurisdictionIds" :options="filters.jurisdictions" :filter="jurisdictionFilters" />
					<label class="text-danger hidden-print" :class="{ hidden: hideJurisdictionWarning }">At least one Jurisdiction must be selected for the Clause Report</label>
				</div>
				<div v-if="ReviewOrClause.toLowerCase().trim() === 'clause'" class="form-group form-group-sm hidden-print">
					<label class="control-label">Native Language</label>
					<Lookup id="NativeLanguageId" name="NativeLanguageId" :lookuptextfield="filters.nativeLanguageIds" @updateLookupTextField="updateNativeLanguageAndEnableDisableDocumentDropDown" lookupajax="NativeLanguages" v-model="filters.nativeLanguageIds" :filter="nativeLanguageFilters"></Lookup>
					<input id="NativeLanguage" name="NativeLanguage" type="hidden" v-model="filters.nativeLanguageIds" />
				</div>
				<div v-if="ReviewOrClause.toLowerCase().trim() === 'clause'" class="form-group form-group-sm hidden-print">
					<label class="control-label">Documents <i ref="autoPopulate" :class="[autoSelectDocFlag ? '' : 'hidden']"><a class="pointer auto-select-docs" @click.stop="autoPopulateDocs">Auto-Select Jursidiction Specific</a></i></label>
					<div :title=this.documentWarning>
						<LookupMultiple ref="DocumentFilter" id="DocumentFilter" name="DocumentFilter" lookupajax="EvolutionDocuments" v-model="filters.documentIds" :options="filters.documents" :filter="documentFilters" />
					</div>
				</div>
				<div v-if="ReviewOrClause.toLowerCase().trim() == 'clause'" class="hidden-print">
					<!--<button type="button" ref="autoPopulate" class="btn btn-primary" :class="[autoSelectDocFlag ? 'show' : 'hide']" @click="autoPopulateDocs" style="margin-bottom:5px;">Auto Select Documents</button>-->
					<button type="button" id="ClauseBtn" class="btn btn-primary" @click="clauseFunc"><i class="fa fa-refresh"></i> Clause Report</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import { createNamespacedHelpers } from 'vuex'
	import api from '@/api/evolution'
	import LookupMultiple from '@/components/utility/LookupMultiple.vue'
	import Lookup from '@/components/utility/Lookup.vue'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		props: ['ReviewOrClause',
		],
		components: {
			LookupMultiple,
			Lookup,
		},
		data() {
			return {
				filters: initialData.filters,
				documentWarning: 'Please Select a Native Language',
				hideJurisdictionWarning: true,
				autoSelectDocFlag: false
			}
		},
		mounted: function () {
			if(this.$refs.DocumentFilter)
				this.$refs.DocumentFilter.$el.disabled = true;
		},
		computed: {
			selectedJurisdictionIds: {
				set(idList) {
					this.setCurrentSelectedJurisdictionIds(idList);
				},
				get() {
					return this.filter.jurisdictionFilter.currentSelectedJurisdictionIds;
				}
			},
			jurisdictionFilters: function () {
				return {
					JurisdictionIds: this.filter.jurisdictionFilter.jurisdictionIdsFilter
				}
			},
			nativeLanguageFilters: function () {
				return {
					NativeLanguageIds: this.filter.nativeLanguageFilter.nativeLanguageIds,
					ComponentGroupId: this.filter.nativeLanguageFilter.compGroupID
				}
			},
			documentFilters: function () {
				return {
					DocumentIds: this.filter.documentFilter.documentIds,
					ComponentGroupId: this.filter.documentFilter.compGroupID,
					NativeLanguage: this.filter.documentFilter.nativeLanguage,
					JurisdictionIds: this.selectedJurisdictionIds
				}
			},
			...mapGetters([
				'filter',
				'instance',
				'review',
				'summary'
			])
		},
		//ready: function () {
		//	onValueChange();
		//},
		methods: {
			updateNativeLanguageAndEnableDisableDocumentDropDown: function (newValue) {
				this.hasJurisdictionAndNativeLanguage();
				this.filters.nativeLanguageIds = newValue;
				this.filters.documentIds = null;
				if (this.filters.nativeLanguageIds == "") {
					this.$refs.DocumentFilter.$el.disabled = true;
					this.documentWarning = "Please Select a Native Language";
				} else {
					this.filter.documentFilter.nativeLanguage = this.filters.nativeLanguageIds;
					this.$refs.DocumentFilter.$el.disabled = false;
					this.documentWarning = "";
				}
			},
			clearCounts: function () {
				this.setClauseReportCounts({
					pass: 0,
					na: 0,
					naStar: 0,
					fail: 0
				});
			},
			//clicking on the review button typically will call this function might be referenced.
			reviewFunc: function (selectedJurisdictionsFromFilter, selectedComponentId) {
				var self = this;
				this.setReviewTestCase([]); //reset the testCases
				this.setReviewTestScript([]); //reset the test scripts
				//this.setHiddenClausePanel(true); // hide the clause panel. Right now only for Clause Report is this used... Should not be shown in evolution/review path
				//this.setHiddenApplicableTestCase(true); //specific to clauseReport
				//this.setHiddenSummary(true);
				this.setHiddenTestCasePanel(false);
				this.setHiddenTestScriptPanel(false);
				//this.setHiddenReviewPanel(false);
				this.setHiddenJurisdictionWarning(true);
				this.setHiddenFilterPanel(false);
				this.setHiddenTestCaseSpinner(false);
				this.setHiddenTestScriptSpinner(false);
				this.setHiddenQuestionsPanel(false);
				this.$emit('closeJuriAndDocument', true);
				this.$http.post('Evolution/Review/LoadTestScripts', {
					componentGroupId: this.instance.selectedComponentGroupId,
					//jurisdictionIds: $("#JurisdictionFilter").val()
					jurisdictionIds: selectedJurisdictionsFromFilter
				})
					.then(response => {
						const result = response.data;
						self.setReviewTestCase(result.testCases);
						self.setReviewTestScript(result.testScripts);
						self.setHiddenTestScriptCountPanel(false);
						let counts = {
							totalCount: result.testScriptTotalCount,
							passCount: result.testScriptPassCount,
							failCount: result.testScriptFailCount,
							naCount: result.testScriptNaCount,
							conditionalCount: result.testScriptConditionalCount,
							openJiras: result.testScriptOpenJiraCount
						};
						self.setReviewCounts(counts)
						var contributingUserObjectList = [];
						for (var i = 0; i < result.contributingUsers.length; i++) {
							var contributingUser = { text: result.contributingUsers[i], value: result.contributingUsers[i], defaultSelected: false, selected: false }
							contributingUserObjectList.push(contributingUser);
						}
						self.setSelectedContributingUsers(result.contributingUsers);
						self.setAllContributingUsers(contributingUserObjectList);
						self.setTestCaseAllDisplay(true);
						self.$emit('reviewFuncDone', true);
					})
					.catch(e => {
						console.log(e);
						alert("Issue arised with gathering information. The server might be down or missed communication." + e);
					})
					.finally(x => {
						this.setHiddenTestCaseSpinner(true);
						this.setHiddenTestScriptSpinner(true);
					});
			},
			clauseFunc: function () {
				this.setClauseReport([]);
				this.setApplicableTestCases([]);
				this.setSummary([]);
				this.setHiddenClauseReportSpinner(false);
				this.setCollapsedFunctionalRolePanel(true);
				this.setHiddenTestCasePanel(true);

				if (this.selectedJurisdictionIds === null || this.selectedJurisdictionIds.length == 0) {
					this.hideJurisdictionWarning = false;
					this.setHiddenClauseReportSpinner(true);
					this.clearCounts();
					return false;
				} else {
					this.hideJurisdictionWarning = true;
				}

				this.setHiddenClausePanel(false);
				this.setHiddenApplicableTestCase(false);
				this.setHiddenSummary(false);

				const selectedNativeLanguage = this.filter.documentFilter.nativeLanguage;

				api.loadClauseReport(this.instance.selectedComponentGroupId,
					this.selectedJurisdictionIds,
					this.filters.documentIds,
					(selectedNativeLanguage == "English" || selectedNativeLanguage == "") ? 0 : 1)
					.then(response => {
						const result = response.data;
						this.setClauseReport(result.clauseReports);
						this.setSummary(result.summarySections);
						this.setApplicableTestCases(result.applicableTestCases);

						this.setClauseReportCounts({
							pass: result.passCount,
							na: result.naCount,
							naStar: result.naStarCount,
							fail: result.failCount
						});

						this.setHasNevada(result.hasNevada);
						this.setHasPeru(result.hasPeru);
					})
					.catch(e => {
						console.log(e);
					})
					.finally(x => {
						this.setCollapsedFunctionalRolePanel(true);
						this.setCollapsedApplicableTestCasePanel(true);
						this.setCollapsedSummaryPanel(true);
						this.setHiddenClauseReportSpinner(true);
						this.setDocumentNameHeader(this.summary.summary.length != 0 ? this.summary.summary[0].documentName : "");
					});
			},
			autoPopulateDocs: function () {
				this.$refs.autoPopulate.disabled = true;
				api.loadEvolutionDocuments({
					jurisdictionIds: this.selectedJurisdictionIds,
					nativeLanguage: this.filters.nativeLanguageIds,
					compGroupId: this.instance.selectedComponentGroupId
				})
					.then(response => {
						const result = response.data;
						this.autoSelectDocuments(result);
					})
					.catch(e => {
						console.log(e);
					})
					.finally(x => {
						this.$refs.autoPopulate.disabled = false;
					});
			},
			hasJurisdictionAndNativeLanguage() {
				let jurIds = this.selectedJurisdictionIds;
				if (jurIds == null || jurIds.length <= 0) {
					this.autoSelectDocFlag = false;
					return;
				}
				let nativeLanguage = this.filters.nativeLanguageIds;
				if (nativeLanguage == null || nativeLanguage == "") {
					this.autoSelectDocFlag = false;
					return;
				}
				this.autoSelectDocFlag = true;
			},
			autoSelectDocuments(docs) {
				this.filters.documents = docs;
			},
			...mapActions([
				'setDocumentMultiSelectFilterDisable',
				'setDocumentMultiSelectEmpty',
				'setNativeLanguageSelectEmpty',
				'setJurisdictionMultiSelectEmpty',
				'setClauseReport',
				'setApplicableTestCases',
				'setSummary',
				'setHiddenClauseReportSpinner',
				'setCollapsedFunctionalRolePanel',
				'setHiddenJurisdictionWarning',
				'setHiddenClausePanel',
				'setHiddenApplicableTestCase',
				'setHiddenSummary',
				'setClauseReportCounts',
				'setHasNevada',
				'setHasPeru',
				'setCollapsedApplicableTestCasePanel',
				'setCollapsedSummaryPanel',
				'setDocumentNameHeader',
				'setJurisdictionMultiSelectValue', //possibly take out
				'setReviewTestCase',
				'setReviewCounts',
				'setReviewTestScript',
				'setHiddenTestCasePanel',
				'setHiddenTestScriptPanel',
				//'setHiddenReviewPanel',
				'setHiddenFilterPanel',
				'setHiddenJurisdictionAndDocumentPanel',
				'setHiddenTestCaseSpinner',
				'setHiddenTestScriptSpinner',
				'setHiddenTestScriptCountPanel',
				'setTestCaseAllDisplay',
				'setHiddenQuestionsPanel',
				'setCurrentSelectedJurisdictionIds',
				'setSelectedContributingUsers',
				'setAllContributingUsers'

			])
		},
		watch: {
			'filter.documentFilter.documentMultiSelectFilter.disable': function () {
				if(this.$refs.DocumentFilter)
					this.$refs.DocumentFilter.$el.disabled = true;
				this.setDocumentMultiSelectFilterDisable(false);
				this.documentWarning = "Please Select a Native Language";
			},
			'filter.documentFilter.documentMultiSelectFilter.empty': function () {
				this.filters.documentIds = null;
				this.setDocumentMultiSelectEmpty(false);
			},
			'filter.nativeLanguageFilter.nativeLanguageSelectFilter.empty': function () {
				this.filters.nativeLanguageIds = "English";
				this.setNativeLanguageSelectEmpty(false);
				if(this.$refs.DocumentFilter)
					this.updateNativeLanguageAndEnableDisableDocumentDropDown("English")
			},
			'filter.jurisdictionFilter.jurisdictionMultiSelectFilter.empty': function () {
				this.selectedJurisdictionIds = null;
				this.setJurisdictionMultiSelectEmpty(false);
			},
			'selectedJurisdictionIds': function () {
				if(this.$refs.DocumentFilter)
					this.hasJurisdictionAndNativeLanguage();
				//console.log('updating the store current selected filtered jurisdiction ids?');
				//this.setCurrentSelectedJurisdictionIds(this.filters.jurisdictionIds)
			},
		}
	}
</script>

<style scoped>
	@media print {
		.hide-border {
			border: none;
		}

		.center-text {
			line-height: 30px;
			text-align: center;
			font-weight: bold;
		}
	}
	.show {
		display: block;
	}

	.hide {
		display: none;
	}
	.auto-select-docs {
		text-decoration: none;
		font-size: 10px;
		padding-left: 15px;
	}
</style>