﻿<template>
	<div>
		<table id="ContainerTable">
			<tr>
				<td>
					<div id="TaskLabelsDiv" ref="TaskLabelsDiv">
						<table id="TaskLabelsTable" class="table table-condensed">
							<thead>
								<tr>
									<th width="50px"><div @click="sortBy('id')" class="sortHeader">Id <i :class="sortArrowClass('id')"></i></div></th>
									<th><div @click="sortBy('name')" class="sortHeader">Name <i :class="sortArrowClass('name')"></i></div></th>
								</tr>
							</thead>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="TasksDiv" ref="TasksDiv">
						<table id="TasksTable" class="table table-condensed table-striped">
							<tbody>
								<tr v-for="(juri, index) in filteredJurisdictions(juriList)" :key="juri.id">
									<td width="50px">{{juri.id}}</td>
									<td>{{juri.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>

				</td>
			</tr>
		</table>
	</div>
</template>

<script>
	import { sortValue } from '@/common'
	export default {
		props: [
			'juriList'/*: { type :Array}*/
		],

		data() {
			return {
				sortConfig: { sortKey: 'name', sortOrders: { name: 'asc' } },
			}
		},
		computed: {
		},
		methods: {
			filteredJurisdictions: function (juriList) {
				const sortKey = this.sortConfig.sortKey;
				if (sortKey) {
					const sortOrder = this.sortConfig.sortOrders[sortKey] || 'asc';
					if (sortKey === 'id') {
						return this.$lodash.orderBy(juriList, [x => parseInt(sortValue(x[sortKey]))], [sortOrder]);
					}
					return this.$lodash.orderBy(juriList, [x => sortValue(x[sortKey])], [sortOrder]);
				} else {
					return this.$lodash.orderBy(juriList, juriList.id, 'asc');
				}

				return [];
			},
			sortArrowClass: function (key) {
				const sortOrder = this.sortConfig.sortOrders[key];

				if (!(this.sortConfig.sortKey && sortOrder)) {
					return '';
				}
				else if (sortOrder === 'asc') {
					return 'fa fa-caret-up';
				}
				else {
					return 'fa fa-caret-down';
				}
			},
			sortBy: function (key) {
				let config = this.$lodash.cloneDeep(this.sortConfig);

				Object.entries(config.sortOrders).forEach(
					([k, v]) => {
						if (k !== key) {
							config.sortOrders[k] = null
						}
					}
				);

				config.sortKey = key;
				config.sortOrders[key] = config.sortOrders[key] === 'asc' ? 'desc' : 'asc';

				this.sortConfig = config;
			},
		},
	}
</script>

<style scoped>
	#ContainerTable {
		border-spacing: 0;
		padding: 0;
	}
		#ContainerTable td, #ContainerTable th {
			white-space: nowrap;
		}
	#TaskLabelsDiv {
		overflow: hidden;
	}

	#TaskLabelsTable {
		border-spacing: 0;
		padding: 0;
		table-layout: fixed;
		width: 100%;
		margin-bottom: 0 !important;
	}

		#TaskLabelsTable thead {
			background-color: darkgray;
		}

		#TaskLabelsTable th {
			vertical-align: bottom;
		}

	#TasksDiv {
		overflow: auto;
		position: relative;
		height: 170px;
	}

	#TasksTable {
		border-spacing: 0;
		padding: 0;
		table-layout: fixed;
		width: 100%;
	}
	.sortHeader {
		cursor: pointer;
	}

</style>