﻿<template>
	<div>
		<div class="divHeader">
			<div class="pull-left left-padding">
				{{ clauseReport.documentNameHeader | truncate(200)}}
			</div>
			<div class="pull-right right-padding">
				{{ instance.selectedFilenumber }}
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		computed: {
			...mapGetters([
				'clauseReport',
				'instance'
			])
		},
		filters: {
			truncate: function (text, stop, clamp) {
				return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
			}
		}
	}
</script>

<style scoped>
	.divHeader {
		display: none;
	}

	@media print {
		.divHeader {
			display: block;
			position: fixed;
			z-index: 1;
			width: 96%;
			top: 2px;
			background-color: #dedede !important;
			-webkit-print-color-adjust: exact;
		}

		.left-padding {
			padding-left: 5px;
		}

		.right-padding {
			padding-right: 5px;
		}
	}
</style>