﻿<template>
	<div>
		<div v-if="clauseReport.documentNameHeader != ''" class="col-sm-12 main-document-header">
			<h4>{{ clauseReport.documentNameHeader | truncate(200)}}</h4>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		computed: {
			...mapGetters([
				'clauseReport'
			])
		},
		filters: {
			truncate: function (text, stop, clamp) {
				return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
			}
		}
	}
</script>

<style scoped>
	.main-document-header {
		display: none;
	}

	@media print {
		.main-document-header {
			display: block;
			width: 100%;
			padding: 10px;
			background-color: #dedede !important;
			-webkit-print-color-adjust: exact;
			text-align: center;
		}
	}
</style>