﻿<template>
	<div id="Instance-Modal" ref="InstanceActionModal" class="modal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">

					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="cancelChanges" data-dismiss="modal">Cancel</button>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<input v-model="instanceId" type="text" placeholder="Enter Instance ID" class="form-control upper" />
						</div>
						<div class="col-sm-2 get-instance-btn-div">
							<button type="button" class="btn btn-primary btn-sm" @click="LoadComponentsFromInstanceId">Load Components</button>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<!--<div class="row">
						<div class="col-sm-8">
							<input v-model="instance.projectName" type="text" placeholder="Enter File Number" class="form-control upper" />
						</div>
						<div class="col-sm-2 get-instance-btn-div">
							<button type="button" class="btn btn-primary btn-sm" @click="instanceFunc">Get Instances</button>
						</div>
					</div>-->


					<div :class="{ hidden: hideInstancePanel }">
						<h3 class="modal-title">File Number: {{instanceFileNumber}}</h3>
						<div :class="{ hidden: hideInstanceSpinner }" class="text-center">
							<i class="fa fa-spinner fa-pulse fa-5x"></i>
						</div>
						<table v-show="hideInstanceSpinner" :id="i.id"
							   v-for="(i, idx) in instances" :key="i.id" :ref="i.id"
							   class="table table-striped" border="1">
							<tr>
								<td colspan="2">
									<div class="table-row-div">
										<div v-if="i.description !== null" class="col-sm-7">
											<label>Description: </label>{{i.description}}
										</div>
										<div v-else class="col-sm-7">
											<label>&nbsp;</label> &nbsp;
										</div>

										<div class="col-sm-3">
											<label>Build Date:</label> {{convertBuildDate(i.buildDate)}}
										</div>
										<div class="col-sm-2">
											<label>Status:</label>	<i v-if="i.eventType === 'Lock'" class="">Review Completed</i>
											<i v-else class="">Needs Review</i>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td width="75%" @click="newComponentGroupClick(i.id)" class="make-pointer">
									<div class="make-component-table-nice">
										<ComponentsTable :componentList="i.components"></ComponentsTable>
									</div>

								</td>
								<td width="25%">
									<div class="make-jurisdiction-table-nice">
										<JurisdictionTable :juriList="i.jurisdictions"></JurisdictionTable>
									</div>
								</td>
							</tr>
						</table>
					</div>

				</div>
				<div class="modal-footer">
					<div class="col-xs-10">
						<div v-show="!isReview">
						<JurisdictionAndDocuments ReviewOrClause="review"
												  @closeJuriAndDocument="reviewFuncDone"
												  ref="juriAndDocs"></JurisdictionAndDocuments>
							</div>
					</div>
					<div class="col-xs-1">
						<button v-if="componentSelected" type="button" class="btn btn-primary" @click="startReview()">Review</button>
					</div>
					<div class="col-xs-1 pull-right">
						<button type="button" class="btn btn-primary" @click="cancelChanges" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import { createNamespacedHelpers } from 'vuex'
	import api from '@/api/evolution'
	import JurisdictionTable from './JurisdictionTable'
	import JurisdictionAndDocuments from './JurisdictionAndDocuments'
	import ComponentsTable from './ComponentsTable'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			JurisdictionTable,
			JurisdictionAndDocuments,
			ComponentsTable
		},
		data() {
			return {
				instanceFileNumber: '',
				instances: [],
				hideInstancePanel: true,
				hideInstanceSpinner: true,
				selectedComponentId: '',
				instanceId: '',
				componentSelected: false,
				loadedComponentGroupId: '',
				isReview: false,
				selectedFilteredJurisdictionIds: [],
				loadedJurisdictionIds: []
			}
		},
		mounted: function () {			
			if (this.$route.query.instanceId) {
				this.instanceId = this.$route.query.instanceId;
				this.LoadComponentsFromInstanceId();
				this.setShowInstanceInformationPopup(true);
			}

			if (this.$route.query.componentGroupId) {
				this.setSelectedComponentGroupId(this.$route.query.componentGroupId);
				this.componentGroupId = this.$route.query.componentGroupId;
				this.instanceId = this.$route.query.componentGroupId;
				this.LoadReviewFromComponentGroupId();
			}

			if (this.$route.path.indexOf("evolution/review") !== -1) {
				this.isReview = true;
			}

			$(this.$refs.InstanceActionModal).on('shown.bs.modal', this.openModal);
			$(this.$refs.InstanceActionModal).on("hidden.bs.modal", this.cancelChanges);
		},
		computed: {
			...mapGetters([
				'instance',
				'review',
				'filter'
			])
		},
		methods: {
			openModal: function () {
				this.setCurrentSelectedJurisdictionIds(this.filter.jurisdictionFilter.loadedSelectedFilterJurisdictionIds);
			},
			cancelChanges: function () {
				this.setCurrentSelectedJurisdictionIds([]);
			},
			closeMenuTabs: function () {
				//Close menu tabs
				$(".maintainTabContent").css("width", "0px");
				$(".maintainTabContent").css("padding", "0px");
				$(".push-questions-content").css("margin", "0px 0px 0px 20px");
			},
			//basically checks if the currently instance loaded one selected component Group Id is the one that is selected.
			newComponentGroupClickLockUnlock: function (componentGroupId) {
				return this.instance.selectedComponentGroupId == componentGroupId ? true : false;
			},
			//as the reviewer is looking at components, nothing is done till the review.
			newComponentGroupClick: function (componentGroupId) {
				this.componentSelected = true;

				//load api and data based on selected componentGroup
				this.loadComponentGroupJurisdictionData(componentGroupId);

				//show visuals of anything necessary
				this.handleBgWarning(componentGroupId);
				this.setHiddenJurisdictionAndDocumentPanel(true);
			},
			convertBuildDate: function (buildDate) {
				return buildDate.replace("T", " ");
			},
			startReview: function () {
				this.closeMenuTabs();
				//test scripts are loaded and switching component group.. Check for unanswered questions. or just ask user if they wish
				//to continue? ... Hmmmm..... What if they saved the test scripts, will the modified answers still be there?
				var modifiedAnswersFromLoadedTestScript = false;
				var continueLoadOfNewTestScript = true;
				if (this.loadedComponentGroupId !== this.selectedComponentId) {
					for (var i = 0; i < this.review.testScript.reviewViewModel.length; i++) {
						if (this.review.testScript.reviewViewModel[i].visible && this.review.testScript.reviewViewModel[i].modified) {
							modifiedAnswersFromLoadedTestScript = true;
							break;
						}
					}
					if (modifiedAnswersFromLoadedTestScript) {
						continueLoadOfNewTestScript = window.confirm("You have unsaved answers in the loaded test Script. Continuing will lose your unsaved data. \n \"OK\" - lose unsaved data \n \"Cancel\" - Return to test script");
					}
				}
				//Check if jurisdiction filter has been updated
				var jurisdictionFilterSame = this.arraysEqual(this.selectedFilteredJurisdictionIds, this.filter.jurisdictionFilter.currentSelectedJurisdictionIds);

				if ((this.newComponentGroupClickLockUnlock(this.selectedComponentId) && jurisdictionFilterSame)
					|| !continueLoadOfNewTestScript) {
					$(this.$refs.InstanceActionModal).modal('hide');
					return;
				} else {
					this.componentGroupClick(this.selectedComponentId);
					this.loadedJurisdictionIds = this.filter.jurisdictionFilter.jurisdictionIdsFilter;
					this.selectedFilteredJurisdictionIds = this.filter.jurisdictionFilter.currentSelectedJurisdictionIds;
					this.setLoadedSelectedFilterJurisdictionIds(this.filter.jurisdictionFilter.currentSelectedJurisdictionIds);
					this.$refs.juriAndDocs.reviewFunc(this.selectedFilteredJurisdictionIds, this.selectedComponentId);
					this.loadedComponentGroupId = this.instance.selectedComponentGroupId;
				}

			},
			reviewFuncDone: function (completed) {
				$(this.$refs.InstanceActionModal).modal('hide');

			},
			arraysEqual: function (_arr1, _arr2) {

				if (!Array.isArray(_arr1) || !Array.isArray(_arr2) || _arr1.length !== _arr2.length)
					return false;

				var arr1 = _arr1.concat().sort();
				var arr2 = _arr2.concat().sort();

				for (var i = 0; i < arr1.length; i++) {

					if (arr1[i] !== arr2[i])
						return false;

				}

				return true;

			},
			updateAddressBar: function () {
				var changed = false;
				var queryAddressBar = "?";
				if (this.$route.query.instanceId && this.$route.query.instanceId != this.instanceId) {
					this.$route.query.instanceId = this.instanceId;
					queryAddressBar += "instanceId=" + this.$route.query.instanceId;
					changed = true;
				}
				if (this.$route.query.fileNumber && this.$route.query.fileNumber != this.instance.projectName) {
					this.$route.query.fileNumber = this.instance.projectName;
					queryAddressBar += "&fileNumber=" + this.instance.projectName;
					if (this.$route.query.instanceId) {
						delete this.$route.query.instanceId;
					}
					changed = true;
					
				}
				if(changed)
					window.history.replaceState(null, null, window.location.pathname + queryAddressBar);
			},
			//Instance ID loading components
			LoadComponentsFromInstanceId: function () {
				if (this.componentSelected) {
					this.handleBgWarning(this.selectedComponentId, true);
                }
				this.hideInstancePanel = false;
				this.selectedComponentId = '';
				this.componentSelected = false;
				this.instanceFileNumber = "##-##-###-##-###";
				this.hideInstanceSpinner = false;
				this.loadedComponentGroupId = '';
				this.updateAddressBar(); //May not be needed
				this.instanceFuncDispatch();

				//Load Components from the instance id
				api.loadComponentGroupsFromInstance(this.instanceId)
                    .then(response => {
						this.instances = response.data;
                        this.instanceFileNumber = response.data[0].fileNumberAndTransfer;
                        this.setFileNumber(this.instanceFileNumber);
						if (this.$route.query.componentGroupId) { //this really should be componentGroupId or something else.
							this.$nextTick(function () {
								this.componentGroupClick(this.$route.query.componentGroupId);
							})
						}
					})
					.catch(e => {
						console.log(e);
						alert("There was an error loading the components for this instance. The error was: " + e);
					})
					.finally(x => {
						this.hideInstanceSpinner = true;
					});
			},
			LoadReviewFromComponentGroupId: function () {
				this.hideInstancePanel = true;
                this.instanceFuncDispatch();
                this.selectedComponentId = this.componentGroupId;
                this.componentSelected = true;
                this.instanceFileNumber = "##-##-###-##-###";
                this.hideInstanceSpinner = true;
				this.loadedComponentGroupId = this.componentGroupId;
				this.setHideInstanceActions(true);
				api.loadComponentGroupFromId(this.componentGroupId)
					.then(response => {
						this.instances = response.data;
						this.startReview();
					})
					.catch(e => {
						console.log(e);
						//alert("Seems to be a complication with the file number entered or the 'System is Down' try again!");
					});
            },
			handleBgWarning: function (componentGroupId, restart = false) {
				if (this.selectedComponentId === null || this.selectedComponentId.length == 0) {
					this.selectedComponentId = componentGroupId;
				} else {
					if (this.$refs[this.selectedComponentId]) {
						this.$refs[this.selectedComponentId][0].classList.remove("bg-warning");
						$('#' + this.selectedComponentId).css("border", "solid 1px black");
					}
				}

				if (this.$refs[componentGroupId] && !restart) {
					this.$refs[componentGroupId][0].classList.add("bg-warning");
					$('#' + componentGroupId).css("border", "solid 3px blue");
					this.selectedComponentId = componentGroupId;
				}
			},

			//situation: loadedTestScript. the JurisdictionIdsFilter has the loadedTestScript jurisdictions
			//Clicking on another component group, would want to have the newly selected component Group juisdictions
			//available for the jurisdiction filter. Only if they click review should the
			//make a review.componentGroupJurisdictionIds array // contains complete list of componentGroupJurisdictionIds for the loaded instance.
			//make a review.filteredComponentGroupJurisdictionIds array // contains list, of any jurisdictions put in the jurisdiction filter
			loadComponentGroupJurisdictionData(componentGroupId) {
				//Load ComponentGroup Jurisdictions
				api.loadComponentGroupJurisdictions(componentGroupId)
					.then(response => {
						const result = response.data;
						this.setJurisdictionIdsFilter(result);
					})
					.catch(e => {
						alert('Failed to load Jurisdictions. And if this failed, probably all other information is invalid. Try again.');
						console.log(e);
					})
					.finally(x => {
					});
			},
			componentGroupClick: function (componentGroupId) {
				if (this.componentGroupClickDispatch(componentGroupId) === false) {
					return;
				}

				this.handleBgWarning(componentGroupId);
				this.componentSelected = true;

				this.loadComponentGroupJurisdictionData(this.instance.selectedComponentGroupId);

				//Load ComponentGroup Documents and Native Language
				api.loadComponentGroupDocuments(this.instance.selectedComponentGroupId)
					.then(response => {
						const result = response.data;
						this.setDocumentCompGroupID(result);
						this.setNativeLanguageCompGroupID(result);
					})
					.catch(e => {
						console.log(e);
					})
					.finally(x => {
					});
				//Load Functional Roles
				api.loadFunctionalRoles(this.instance.selectedComponentGroupId)
                    .then(response => {
						const result = response.data;
						this.setFunctionalRoles(result);
					})
					.catch(e => {
						console.log(e);
					})
					.finally(x => {
						this.setHiddenFunctionalRoleSpinner(true);
					});
			},
			componentGroupClickDispatch: function (componentGroupId) {

				//Begin: This is if the address bar will be built up or possibly have instanceId not belonging to componentGroupId
				//var validComponentGroupId = this.getSelectedComponentGroupObject(componentGroupId);
				//if (validComponentGroupId === null) {
				//	alert("Invalid instance is being used. Please click on an instance for this file number.");
				//	var queryBar = "";
				//	if (this.$route.query.fileNumber) {
				//		queryBar = "?fileNumber=" + this.$route.query.fileNumber;
				//	}
				//	delete this.$route.query.instanceId;
				//	window.history.pushState(null, null, window.location.pathname+queryBar);
				//	return false;
				//}
				if (!this.isReview) {
					this.setClauseReport([]);
					this.setHiddenClausePanel(true);
				}

				this.setFunctionalRoles([]);
				this.setHiddenSummary(true);
				this.setHiddenClauseReportSpinner(false)
				this.setHiddenFunctionalRolePanel(false);
				this.setHiddenFunctionalRoleSpinner(false);
				this.setHiddenFilterPanel(false);
				this.setHiddenJurisdictionAndDocumentPanel(false);
				this.setHiddenApplicableTestCase(true);
				this.setSelectedComponentGroupId(componentGroupId);
				this.setSelectedComponentLockStatus(this.getSelectedComponentLockStatus(componentGroupId));
				this.setDocumentMultiSelectFilterDisable(true);
				this.setDocumentMultiSelectEmpty(true);
				this.setNativeLanguageSelectEmpty(true);
				this.setJurisdictionMultiSelectEmpty(true);
				//this.setCollapsedFunctionalRolePanel(true);
				this.$emit('closeInstance', true);
				return true;
			},
			getSelectedComponentLockStatus: function (componentGroupId) {
				return this.getSelectedComponentGroupObject(componentGroupId).eventType;
			},
			getSelectedComponentGroupObject: function (componentGroupId) {
				if (componentGroupId === null || componentGroupId === '') { return null; }
				for (var i = 0; i < this.instances.length; i++) {
					if (this.isReview) {
						if (this.instances[i].id.toUpperCase() === componentGroupId.toUpperCase()) {
							return this.instances[i];
						}
					} else {

						for (var j = 0; j < this.instances[i].componentGroups.length; j++) {
							if (this.instances[i].componentGroups[j].id === componentGroupId) {
								return this.instances[i].componentGroups[j];
							}
						}
					}
				}
				return null;
			},
			instanceFuncDispatch: function () {
				this.setClauseReport([]);
				this.setFunctionalRoles([]);
				this.setHiddenClausePanel(true);
				this.setHiddenSummary(true);
				this.setHiddenApplicableTestCase(true);
				this.setHiddenFunctionalRolePanel(true);
				this.setHiddenQuestionsPanel(true);
				this.setHiddenTestCasePanel(true);
				this.setHiddenTestScriptPanel(true);
				this.setHiddenTestScriptCountPanel(true);
				this.setClauseReportCounts({
					pass: 0,
					na: 0,
					naStar: 0,
					fail: 0
				});

				this.setHiddenFilterPanel(true);
				this.setHiddenJurisdictionAndDocumentPanel(true);
				this.setSelectedComponentGroupId('');
				this.setDocumentMultiSelectEmpty(true);
				this.setNativeLanguageSelectEmpty(true);
				this.setJurisdictionMultiSelectEmpty(true);
			},
			componentGroupClickLockUnlock: function (componentGroupId) {
				if (this.loadedComponentGroupId === componentGroupId) {
					this.setHiddenTestCasePanel(false);
					this.setHiddenQuestionsPanel(false);
				} else {
					this.setHiddenTestCasePanel(true);
					this.setHiddenQuestionsPanel(true);

				}
				return this.instance.selectedComponentGroupId == componentGroupId ? true : false;
			},
			hideFunctionalRolesAndFilters: function (componentGroupId) {
				this.setHiddenFunctionalRolePanel(true);
				this.setHiddenFilterPanel(true);
				this.setHiddenJurisdictionAndDocumentPanel(true);
				this.setSelectedComponentGroupId(componentGroupId);
				this.handleBgWarning(componentGroupId);
			},
			...mapActions([
				'setJurisdictionIdsFilter',
				'setDocumentCompGroupID',
				'setNativeLanguageCompGroupID',
				'setFunctionalRoles',
				'setHiddenFunctionalRoleSpinner',
                'setClauseReport',
				'setFileNumber',
				'setHiddenClausePanel',
				'setHiddenSummary',
				'setHiddenClauseReportSpinner',
				'setHiddenFunctionalRolePanel',
				'setHiddenFilterPanel',
				'setHiddenJurisdictionAndDocumentPanel',
				'setHiddenApplicableTestCase',
				'setSelectedComponentGroupId',
				'setSelectedComponentLockStatus',
				'setProjectName',
				'setDocumentMultiSelectFilterDisable',
				'setDocumentMultiSelectEmpty',
				'setNativeLanguageSelectEmpty',
				'setJurisdictionMultiSelectEmpty',
				'setClauseReportCounts',
				'setHiddenQuestionsPanel',
				'setHiddenTestCasePanel',
				'setHiddenTestScriptPanel',
				'setHiddenTestScriptCountPanel',
				'setCollapsedFunctionalRolePanel',
				'setShowInstanceInformationPopup',
				'setLoadedSelectedFilterJurisdictionIds',
				'setCurrentSelectedJurisdictionIds',
				'setHideInstanceActions'
			])
		},
		watch: {
			'instance.showInstanceInformationPopup': function (newVal, oldVal) {
				if (newVal) {
					if (this.loadedComponentGroupId !== '') {
						this.handleBgWarning(this.loadedComponentGroupId);
						//var selectedJuriIds = this.selectedFilteredJurisdictionIds;
						//this.selectedFilteredJurisdictionIds = ["-1"];
						//this.selectedFilteredJurisdictionIds = selectedJuriIds;
					}

					$(this.$refs.InstanceActionModal).modal({backdrop: false, keyboard: false, show: true});
					this.setShowInstanceInformationPopup(false);
				}
			}
		}
	}
</script>

<style scoped>
	.make-jurisdiction-table-nice,
	.make-component-table-nice {
		height: 200px;
	}

		.make-component-table-nice th {
			background-color: antiquewhite;
		}

	.table-row-div {
		display: flex;
		background-color: antiquewhite;
	}

		.table-row-div label {
			margin-bottom: 0;
		}

	.fa-lock, .fa-unlock {
		font-size: 18px;
	}

	.get-instance-btn-div {
		padding-left: 0px;
	}

	.make-pointer {
		cursor: pointer;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		text-transform: none;
	}

	::-moz-placeholder { /* Firefox 19+ */
		text-transform: none;
	}

	:-ms-input-placeholder { /* IE 10+ */
		text-transform: none;
	}

	:-moz-placeholder { /* Firefox 18- */
		text-transform: none;
	}

	.modal-lg {
		width: 95%;
	}

	.modal-body {
		overflow-x: auto;
		max-height: calc(100vh - 275px);
		min-height: calc(100vh - 275px);
	}

	.modal-footer {
		text-align: left;
	}

		.modal-footer label {
			color: black;
		}
</style>
