﻿@model Submissions.Web.Areas.GPSDocuments.Models.GPSDocumentsViewModel

@section css {
	@Styles.Render("~/bundles/css/jqfiletree")
}

@{
	ViewBag.Title = "GPS Documents";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-primary" id="collapse">Collapse All</button>
		</div>
		@*
			<div class="btn-group">
			<div class="dropdown">
				<button type="button" class="btn btn-sm btn-primary" id="loadTemplates" data-toggle="dropdown">
					Load Templates <span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					@foreach (var template in Model.OrderedTemplateList)
					{
						<li><a id="@template.TemplatePath" onclick="ListToTree.GetTemplateDirInfo('@template.TemplatePath.Replace(@"\", @"\\")', '@Model.FileNumber', '@Url.Action( "GetTemplateFolderInfo", "GPSDocuments" )')">@template.TemplateName</a></li>
					}
				</ul>
			</div>
		</div>*@
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		@Html.Raw(Model.FileTree)
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqfiletree")
	<script>
		ListToTree.Init('loadTemplates', '@Url.Action( "GetGPSTemplates", "GPSDocuments" )');
	</script>
}
