﻿@model Submissions.Web.Areas.Documents.Models.LetterQuestion.LetterQuestionIndexViewModel
@{
	ViewBag.Title = "Question Edit";
	//ViewBag.FullWidth = true;
	ViewBag.NoContainer = true;
	ViewBag.NoFooter = true;
}

<div id="app"></div>
@section scripts{


	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		//var deprecatedVal = @((int)GLI.EF.LetterContent.Lifecycle.Deprecated);
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
