﻿@{
	ViewBag.FullWidth = true;
	ViewBag.Title = "Clause Report Template Manager";

}
@section css{@Styles.Render("~/bundles/css/jqgrid")}

<div id="app"></div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
