﻿@model Submissions.Web.Areas.Evolution.Models.ValidationAnalysisIndexViewModel
@using Submissions.Web.Areas.Evolution
@using Trirand.Web.Mvc
@using EF.GLIAccess;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Data.Entity;
@using Newtonsoft.Json;
@using System.Web.Optimization

@{
	ViewBag.Title = "Validation GAP Analysis";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h3>@ViewBag.Title</h3>
		</div>
	</div>
</div>
   
@Html.Partial("_SelectJurisdictionsDialog", Model.EvoSearch)

@Html.Trirand().JQGrid(Model.ValidationAnalysisGrid.Grid, "ValidationAnalysisGrid")

@using (Html.BeginForm("GridExport", "ValidationAnalysis" ) )
{
	<button type="button" id="exportGridBtn">Export Grid</button>
	<div class="exportOptions hidden">
		<input type="radio" name="type" value="Xls" checked="checked">Export to Excel<br />
		<input type="radio" name="type" value="Pdf">Export to PDF<br />  
		<input type="radio" name="type" value="Doc">Export to Word<br /> 
		<button type="submit" class="exportOptionsSubmit">Submit to Download</button>
	</div>
}

@section css {
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		#ValidationAnalysisGrid tr, #ValidationAnalysisGrid td {
			white-space: normal;
			height: auto;
			vertical-align: middle;
			padding-top: 2px;

		/*Border*/
			 border: 1px solid grey;
		}

		#ValidationAnalysisGrid tr:nth-child(even) td {
			background-color: #CAC9C9; 
		}
	</style>
}

@section scripts {
	@Scripts.Render( "~/bundles/script/jqgrid" )  
	<script>
		$(function () {
			var grid = $( '#ValidationAnalysisGrid' );
			
			$( '#exportGridBtn' ).click( function () {
				$( '.exportOptions' ).toggleClass( 'hidden' );
				if ( !$( '.exportOptions' ).hasClass( 'hidden' ) ) {
					var rowCount = grid.jqGrid( 'getGridParam', 'records' );
					if ( rowCount > 4000 ) {
						alert( "Cannot export more than 4000 records." );
						$( '.exportOptions' ).addClass( 'hidden' );
					}
				}
			} );

			$( '.exportOptionsSubmit' ).click( function () {
				$( '.exportOptions' ).addClass( 'hidden' );
			} );
		} );

		function beforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
		}
	</script>
}