﻿@model Submissions.Web.Areas.Lookups.Models.AccreditationsViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Accreditation";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "Accreditations", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.Name)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "Accreditations", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.Name)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Description)
			</div>
		</div>
		<div class="form-group form-group-sm">
			<label for="IssueDate" class="control-label col-sm-2">Issue Date</label>
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.IssueDate, new { @class = "form-control datepicker", autocomplete = "off" })
				@Html.ValidationMessageFor(m => m.IssueDate)
			</div>
		</div>
		<div class="form-group form-group-sm">
			<label for="ExpirationDate" class="control-label col-sm-2">Expiration Date</label>
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.ExpirationDate, new { @class = "form-control datepicker", autocomplete = "off" })
				@Html.ValidationMessageFor(m => m.ExpirationDate)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.LaboratoryIds, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupMultipleFor(m => m.LaboratoryIds, Model.Laboratories, LookupAjax.Laboratories, true)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(m => m.Active, new { @class = "padcheckbox" })
				@Html.ValidationMessageFor(m => m.Active)
			</div>
		</div>
	</div>
}