﻿@model Submissions.Web.Areas.Lookups.Models.ManufacturerGroupCategoriesEditViewModel

@{
	ViewBag.Title = Model.Mode + " Manufacturer Group Category";
	var codeHtmlAttributes = new Dictionary<string, object>();
	codeHtmlAttributes.Add("class", "form-control");

	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		codeHtmlAttributes.Add("autofocus", "autofocus");
		saveButtonText = "Add";
	}
	else
	{
		codeHtmlAttributes.Add("disabled", "disabled");
	}
}

@using (Html.BeginForm("Edit", "ManufacturerGroupCategories", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)

	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.Code)</small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "ManufacturerGroupCategories", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-horizontal" role="form">
				<hr class="form-hr" />
				<div class="form-group form-group-sm">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Code, new { @class = "col-sm-2 control-label" })
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.Code, codeHtmlAttributes)
							@Html.ValidationMessageFor(m => m.Code)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Description, new { @class = "col-sm-2 control-label" })
						<div class="col-sm-6">
							@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Description)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
