﻿@model Submissions.Web.Areas.Lookups.Models.ManufacturerGroupCategoriesIndexViewModel

@{
	ViewBag.Title = "Manufacturer Group Categories";
	var header = Model.ManufacturerGroupCategories.FirstOrDefault();
}

<div class="row row-title">
	<div class="col-sm-6 ">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = Mode.Add }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

@using (Html.BeginForm("Index", "ManufacturerGroupCategories", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<table class="table table-striped table-hover">
	<tr>
		<th>@Html.DisplayNameFor(m => header.Code)</th>
		<th>@Html.DisplayNameFor(m => header.Description)</th>
		<th>&nbsp;</th>
	</tr>

	@foreach (var item in Model.ManufacturerGroupCategories)
	{
		<tr>
			<td>@Html.DisplayFor(m => item.Code)</td>
			<td>@Html.DisplayFor(m => item.Description)</td>
			<td class="text-right">
				@Html.ActionLink("Edit", "Edit", new { id = item.Id, mode = Mode.Edit }) |
				@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckNoDelete" })
			</td>
		</tr>
	}
</table>