﻿@model Submissions.Web.Areas.Lookups.Models.EmailDistributionsEditViewModel

@{
	ViewBag.Title = Model.Mode + " Email Distribution";
	var associationHtmlAttributes = new Dictionary<string, object>();
	associationHtmlAttributes.Add("LookupAjaxMultiple", "");
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "EmailDistributions", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.Hidden("editViewModel");
	@Html.HiddenFor(m => m.EmailDistributionInfo.Id)
	@Html.HiddenFor(m => m.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.EmailDistributionInfo.Code)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<button type="button" class="btn btn-primary btn-sm btn-save">@saveButtonText</button>
			@Html.ActionLink("Cancel", "Index", "EmailDistributions", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">General</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.EmailDistributionInfo.Code, new { @class = "control-label col-sm-2" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.EmailDistributionInfo.Code, new { @class = "form-control", @autofocus = "autofocus", @data_bind = "textInput: EmailDistributionInfo.Code" })
								@Html.ValidationMessageFor(m => m.EmailDistributionInfo.Code)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.EmailDistributionInfo.Description, new { @class = "control-label col-sm-2" })
							<div class="col-sm-5">
								@Html.TextBoxFor(m => m.EmailDistributionInfo.Description, new { @class = "form-control", @data_bind = "textInput: EmailDistributionInfo.Description" })
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.EmailDistributionInfo.UserIds, new { @class = "control-label col-sm-2" })
							<div class="col-sm-8">
								<select data-bind="lookupmultiple: EmailDistributionInfo.UserIds, options: EmailDistributionInfo.Users, selectedOptions: EmailDistributionInfo.UserIds, optionsValue: 'Value', optionsText: 'Text'" data-lookupmultipleajax="@LookupAjax.Users" multiple="multiple" class="form-control"></select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Manufacturer Notifications</h3>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-striped table-hover" data-bind="visible: VisibleManufacturers().length > 0" style="display:none;">
						<thead>
							<tr>
								<th>Manufacturer</th>
								<th>Users</th>
								<th></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: EmailDistributionInfo.ManufacturerUsers" class="form-group form-group-sm">
							<tr>
								<td class="col-sm-4">
									<select data-bind="lookup: ManufacturerCode, value: ManufacturerCode, options: Manufacturer, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.Manufacturers" class="form-control"></select>
								</td>
								<td class="col-sm-7">
									<select data-bind="lookupmultiple: UserIds, options: Users, selectedOptions: UserIds, optionsValue: 'Value', optionsText: 'Text'" data-lookupmultipleajax="@LookupAjax.Users" multiple="multiple" class="form-control"></select>
								</td>
								<td class="col-sm-1 text-right"><a href="#" data-bind="click: $root.removeManufacturer">Remove</a></td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-12">
							<a href='#' data-bind='click: addManufacturer'><i class="fas fa-plus"></i> Add Manufacturer</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Manufacturer Group Notifications</h3>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-striped table-hover" data-bind="visible: VisibleManufacturerGroups().length > 0" style="display:none;">
						<thead>
							<tr>
								<th>Manufacturer Group</th>
								<th>Users</th>
								<th></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: EmailDistributionInfo.ManufacturerGroupUsers" class="form-group form-group-sm">
							<tr>
								<td class="col-sm-4">
									<select data-bind="lookup: ManufacturerGroupId, value: ManufacturerGroupId, options: ManufacturerGroup, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.ManufacturerGroups" class="form-control"></select>
								</td>
								<td class="col-sm-7">
									<select data-bind="lookupmultiple: UserIds, options: Users, selectedOptions: UserIds, optionsValue: 'Value', optionsText: 'Text'" data-lookupmultipleajax="@LookupAjax.Users" multiple="multiple" class="form-control"></select>
								</td>
								<td class="col-sm-1 text-right"><a href="#" data-bind="click: $root.removeManufacturerGroup">Remove</a></td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-12">
							<a href='#' data-bind='click: addManufacturerGroup'><i class="fas fa-plus"></i> Add Manufacturer Group</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Jurisdiction Notifications</h3>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-striped table-hover" data-bind="visible: VisibleJurisdictions().length > 0" style="display:none;">
						<thead>
							<tr>
								<th>Jurisdiction</th>
								<th>Users</th>
								<th></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: EmailDistributionInfo.JurisdictionUsers" class="form-group form-group-sm">
							<tr>
								<td class="col-sm-4">
									<select data-bind="lookup: JurisdictionId, value: JurisdictionId, options: Jurisdiction, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.Jurisdictions" class="form-control"></select>
								</td>
								<td class="col-sm-7">
									<select data-bind="lookupmultiple: UserIds, options: Users, selectedOptions: UserIds, optionsValue: 'Value', optionsText: 'Text'" data-lookupmultipleajax="@LookupAjax.Users" multiple="multiple" class="form-control"></select>
								</td>
								<td class="col-sm-1 text-right"><a href="#" data-bind="click: $root.removeJurisdiction">Remove</a></td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-12">
							<a href='#' data-bind='click: addJurisdiction'><i class="fas fa-plus"></i> Add Jurisdiction</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 form-buttons">
			<button type="button" class="btn btn-primary btn-sm btn-save">@saveButtonText</button>
			@Html.ActionLink("Cancel", "Index", "EmailDistributions", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>
}

@section scripts{
	@Scripts.Render("~/bundles/script/knockout")
	<script>
		var data = @Html.Raw(Json.Encode(Model));
		var defaultManufacturer = data.DefaultManufacturerFilter;
		var defaultManufacturerGroup = data.DefaultManufacturerGroupFilter;
		var defaultJurisdiction = data.DefaultJurisdictionFilter;

		// mapping
		var emailDistributionModelMapping = {
			'ignore': ["DefaultManufacturerFilter", "DefaultManufacturerGroupFilter", "DefaultJurisdictionFilter"],
			'EmailDistributionInfo': {
				key: function(item) {
					return ko.utils.unwrapObservable(item.Id);
				},
				create: function(options) {
					return new emailDistributionInfoModel(options.data);
				}
			}
		};

		var emailDistributionInfoModelMapping = {
			'ManufacturerUsers': {
				key: function(item) {
					return ko.utils.unwrapObservable(item.ManufacturerCode);
				},
				create: function(options) {
					return new manufacturerUsersModel(options.data);
				}
			},
			'ManufacturerGroupUsers': {
				key: function(item) {
					return ko.utils.unwrapObservable(item.ManufacturerGroupId);
				},
				create: function(options) {
					return new manufacturerGroupUsersModel(options.data);
				}
			},
			'JurisdictionUsers': {
				key: function(item) {
					return ko.utils.unwrapObservable(item.JurisdictionId);
				},
				create: function(options) {
					return new jurisdictionUsersModel(options.data);
				}
			}
		};

		// models
		var emailDistributionInfoModel = function(data) {
			var self = this;
			ko.mapping.fromJS(data, emailDistributionInfoModelMapping, self);
		};

		var manufacturerUsersModel = function(data) {
			var self = this;
			ko.mapping.fromJS(data, {}, self);

			self.ManufacturerCode.extend({required: true});
			self.UserIds.extend({required: true});
		}

		var manufacturerGroupUsersModel = function(data) {
			var self = this;
			ko.mapping.fromJS(data, {}, self);

			self.ManufacturerGroupId.extend({required: true});
			self.UserIds.extend({required: true});
		}

		var jurisdictionUsersModel = function(data) {
			var self = this;
			ko.mapping.fromJS(data, {}, self);

			self.JurisdictionId.extend({required: true});
			self.UserIds.extend({required: true});
		}

		var emailDistributionModel = function(data) {
			var self = this;
			ko.mapping.fromJS(data, emailDistributionModelMapping, self);

			self.addManufacturer = function() {
				self.EmailDistributionInfo.ManufacturerUsers.push(ko.mapping.fromJS(new manufacturerUsersModel(defaultManufacturer)));
			};
			self.removeManufacturer = function(manufacturer) {
				self.EmailDistributionInfo.ManufacturerUsers.destroy(manufacturer);
			};
			self.VisibleManufacturers = function() {
				return ko.utils.arrayFilter(self.EmailDistributionInfo.ManufacturerUsers(), function(manufacturer) { return manufacturer._destroy !== true });
			};

			self.addManufacturerGroup = function() {
				self.EmailDistributionInfo.ManufacturerGroupUsers.push(ko.mapping.fromJS(new manufacturerGroupUsersModel(defaultManufacturerGroup)));
			};
			self.removeManufacturerGroup = function(manufacturerGroup) {
				self.EmailDistributionInfo.ManufacturerGroupUsers.destroy(manufacturerGroup);
			};
			self.VisibleManufacturerGroups = function() {
				return ko.utils.arrayFilter(self.EmailDistributionInfo.ManufacturerGroupUsers(), function(manufacturerGroup) { return manufacturerGroup._destroy !== true });
			};

			self.addJurisdiction = function() {
				self.EmailDistributionInfo.JurisdictionUsers.push(ko.mapping.fromJS(new jurisdictionUsersModel(defaultJurisdiction)));
			};
			self.removeJurisdiction = function(jurisdiction) {
				self.EmailDistributionInfo.JurisdictionUsers.destroy(jurisdiction);
			};
			self.VisibleJurisdictions = function() {
				return ko.utils.arrayFilter(self.EmailDistributionInfo.JurisdictionUsers(), function(jurisdiction) { return jurisdiction._destroy !== true });
			};

			self.EmailDistributionInfo.Code.extend({required: true, maxLength: 20});
			self.EmailDistributionInfo.Description.extend({required: true, maxLength: 100});
		};

		var vm = ko.validatedObservable(new emailDistributionModel(data));

		$(function () {
			ko.applyBindings(vm);

			// Save Form
			$('.btn-save').on('click', function (e) {
				if (!vm.isValid()) {
					vm.errors.showAllMessages();
					return;
				}

				$('#editViewModel').val(ko.toJSON(vm));
				$('#LookupForm').submit();
			});
		});
	</script>
}
