﻿@model Submissions.Web.Areas.Tools.Models.RegulatorCertificationNumberViewModel

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}

@{
	ViewBag.Title = Model.Mode.ToString() + " Regulator Certification Number";
}

@using (Html.BeginForm("Edit", "RegulatorCertificationNumber", FormMethod.Post, new { id = "EditForm", enctype = "multipart/form-data" }))
{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.JurisdictionIdsPost)
	@Html.HiddenFor(m => m.CheckJurisdictionIds)

	<div class="row row-title">
		<div class="col-sm-6">
			<h3 class="form-h3">@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@{
				if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
				{
					<input type="submit" value="Save" class="btn btn-primary btn-sm" />
				}
			}
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal" role="form">
		<hr class="form-hr" />
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Jurisdiction, new { @class = "control-label col-sm-3" })
					<div class="col-sm-6">
						@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
						{

							@Html.DropDownListFor(m => m.Jurisdiction, new List<SelectListItem>
									{
										new SelectListItem { Text = "", Value = "" },
										new SelectListItem { Text = "Arkansas - 214", Value = "214" },
										new SelectListItem { Text = "No Carolina - 42", Value = "42" },
										new SelectListItem { Text = "Oregon Lottery - 14", Value = "14" },
										new SelectListItem { Text = "No Carolina Raffle - 145", Value = "145" },
										new SelectListItem { Text = "North Carolina - Gaming Machines - 414", Value = "414" },
										new SelectListItem { Text = "Gauteng - 100", Value = "100" },
										new SelectListItem { Text = "Mpumalanga - 101", Value = "101" },
										new SelectListItem { Text = "Ohio Lottery - 129", Value = "129" },
										new SelectListItem { Text = "Western Cape - 102", Value = "102" },
										new SelectListItem { Text = "Eastern Cape - 103", Value = "103" },
										new SelectListItem { Text = "Northern Cape - 104", Value = "104" },
										new SelectListItem { Text = "Free State - 105", Value = "105" },
										new SelectListItem { Text = "North West Prov - 106", Value = "106" },
										new SelectListItem { Text = "KwaZulu-Natal - 108", Value = "108" },
										new SelectListItem { Text = "Limpopo - 315", Value = "315"},
										new SelectListItem { Text = "South Africa - 49", Value = "49" }
									}, new { @class = "form-control" })
						}
						else
						{
							@Html.DisplayFor(m => m.Jurisdiction, new { @class = "form-control" })
						}
						@Html.ValidationMessageFor(m => m.Jurisdiction)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.ManufacturerName, new { @class = "control-label col-sm-3" })
					<div class="col-sm-6">
						@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
						{
							@Html.TextBoxFor(m => m.ManufacturerName, new { @class = "form-control" })
						}
						else
						{
							@Html.DisplayFor(m => m.ManufacturerName, new { @class = "form-control" })
						}
						@Html.ValidationMessageFor(m => m.ManufacturerName)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.GameName, new { @class = "control-label col-sm-3" })
					<div class="col-sm-6">
						@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
						{
							@Html.TextBoxFor(m => m.GameName, new { @class = "form-control" })
						}
						else
						{
							@Html.DisplayFor(m => m.GameName, new { @class = "form-control" })
						}
						@Html.ValidationMessageFor(m => m.GameName)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.GameId, new { @class = "control-label col-sm-3" })
					<div class="col-sm-6">
						@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
						{
							@Html.TextBoxFor(m => m.GameId, new { @class = "form-control" })
						}
						else
						{
							@Html.DisplayFor(m => m.GameId, new { @class = "form-control" })
						}
						@Html.ValidationMessageFor(m => m.GameId)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.GameType, new { @class = "control-label col-sm-3" })
					<div class="col-sm-6">
						@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
						{
							@Html.DropDownListFor(m => m.GameType, new List<SelectListItem>
								{   new SelectListItem { Text = "", Value = "" },
									new SelectListItem { Text = "Skill Game", Value = "skillGame" },
									new SelectListItem { Text = "Raffle Game", Value = "raffleGame" },
									new SelectListItem { Text = "Gaming Machine", Value = "gamingMachine" },
									new SelectListItem { Text = "Non Skill", Value = "nonSkill" }
								}, new { @class = "form-control" })
						}
						else
						{
							@Html.DisplayFor(m => m.GameType, new { @class = "form-control" })
						}
						@Html.ValidationMessageFor(m => m.GameType)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.CertNumber, new { @class = "control-label col-sm-3" })
					<div class="col-sm-4">
						@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
						{
							@Html.TextBoxFor(m => m.CertNumber, new { @class = "form-control" })
						}
						else
						{
							@Html.DisplayFor(m => m.CertNumber, new { @class = "form-control" })
						}
						@Html.ValidationMessageFor(m => m.CertNumber)
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.CertDate, new { @class = "control-label col-sm-3" })
					<div class="col-sm-6">
						@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
						{
							@Html.TextBoxFor(m => m.CertDate, String.Format("{0:MM/dd/yyyy}", Model.CertDate), new { @class = "form-control datepicker" })
						}
						else
						{
							@Html.DisplayFor(m => m.CertDate, new { @class = "form-control" })
						}
						@Html.ValidationMessageFor(m => m.CertDate)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.GLIEntryDate, new { @class = "control-label col-sm-3" })
					<div class="col-sm-6">
						@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
						{
							@Html.TextBoxFor(m => m.GLIEntryDate, String.Format("{0:MM/dd/yyyy}", Model.GLIEntryDate), new { @class = "form-control datepicker" })
						}
						else
						{
							@Html.DisplayFor(m => m.GLIEntryDate, new { @class = "form-control" })
						}
						@Html.ValidationMessageFor(m => m.GLIEntryDate)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Comments, new { @class = "control-label col-sm-3" })
					<div class="col-sm-6">
						@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
						{
							@Html.TextBoxFor(m => m.Comments, new { @class = "form-control" })
						}
						else
						{
							@Html.DisplayFor(m => m.Comments, new { @class = "form-control" })
						}
						@Html.ValidationMessageFor(m => m.Comments)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@if (Model.DocumentId != null)
					{
						@Html.LabelFor(m => m.PreCertPath, new { @class = "control-label col-sm-3" })
						<div class="col-sm-6">
							@if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
							{
								@Html.TextBoxFor(m => m.PreCertPath, new { @class = "form-control" })
							}
							else
							{
								@Html.DisplayFor(m => m.PreCertPath, new { @class = "form-control" })
							}
							@Html.ValidationMessageFor(m => m.PreCertPath)
						</div>
					}
				</div>

				@if (Model.DocumentId != null)
				{
					<label>Document Info: </label>
					if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
					{
						@Html.ActionLink("Edit Certification Document", "Edit", "RegulatorDocument", new { id = Model.DocumentId, Mode = "Edit" }, null)
					}
					<br />
					<label>View Certification PDF: </label>
					<a href="@Model.PreCertPath"> <i class="far fa-file-pdf fa-fw"></i></a>
				}
			</div>
		</div>
	</div>
}

@{if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
	{
		<label>Files selected to be linked to Certification/Job Number</label>
		@Html.Trirand().JQGrid(Model.DisplaySelectedGridModel.Grid, "DisplaySelectedGridModel")

		using (Html.BeginForm("Search", "RegulatorCertificationNumber", FormMethod.Post, new { id = "SearchForm" }))
		{
			<div class="row">
				<div class="col-sm-6">
					@Html.HiddenFor(m => m.Id)
					@Html.HiddenFor(m => m.Mode)
					@Html.HiddenFor(m => m.Jurisdiction)
					@Html.HiddenFor(m => m.GLIEntryDate)
					@Html.HiddenFor(m => m.CertNumber)
				</div>
				<div class="col-sm-6 form-buttons">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Filter Regulator Certification Number</h3>
						</div>

						<div class="panel-body">
							<div class="form-inline">
								<div class="form-group form-group-sm">
									<div class="text-nowrap" style="padding-right: 50px;">
										@Html.LabelFor(m => m.JurisdictionGridData.SubmissionFileNumber, new { @class = "control-label" })
										@Html.TextBoxFor(m => m.JurisdictionGridData.SubmissionFileNumber, new { @class = "form-control" })
									</div>
								</div>

								<div class="form-group form-group-sm">
									<div class="text-nowrap" style="padding-right: 50px;">
										@Html.LabelFor(m => m.JurisdictionGridData.SubmissionGameName, new { @class = "control-label" })
										@Html.TextBoxFor(m => m.JurisdictionGridData.SubmissionGameName, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
				</div>

				<div class="col-sm-6 form-buttons">
					<button type="button" id="SearchBtn" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>&nbsp;Search</button>
					<input type="button" id="ClearBtn" class="btn btn-primary btn-sm" value="Clear">
					<button type="button" id="LinkBtn" class="btn btn-primary btn-sm">&nbsp;Link File</button>
					<button type="button" id="UnLinkBtn" class="btn btn-primary btn-sm">&nbsp;Unlink File</button>
				</div>
			</div>
		}

		<label>Search Results</label>
		@Html.Trirand().JQGrid(Model.JurisdictionIndexGrid.Grid, "JurisdictionIndexGrid")
	}
}

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$('#SearchBtn').on('click', function () {
			$('#SearchForm').submit();
		});

		$('#ClearBtn').on('click', function () {
			$('#JurisdictionGridData_SubmissionFileNumber').val("");
			$('#JurisdictionGridData_SubmissionGameName').val("");
			$("#JurisdictionIndexGrid").jqGrid("clearGridData", true);
		});

		$('#LinkBtn').click(function (e) {
			var formData = $("#EditForm").serializeObject();
			var checkedRows = $("#JurisdictionIndexGrid").jqGrid("getGridParam", "selarrrow");
			var ids = $("#JurisdictionIndexGrid").jqGrid('getDataIDs');
			$('#JurisdictionIdsPost').val(checkedRows);
			$('#EditForm').submit();
		});

		$('#UnLinkBtn').click(function (e) {
			var formData = $("#EditForm").serializeObject();
			var checkedRows = $("#DisplaySelectedGridModel").jqGrid("getGridParam", "selarrrow");
			var linkIds = $("#DisplaySelectedGridModel").jqGrid('getDataIDs');
			$('#CheckJurisdictionIds').val(checkedRows);
			$('#EditForm').submit();
		});
	</script>
}