﻿@model  Submissions.Web.Areas.Tools.Models.RegulatorCertificationNumberViewModel
@using Submissions.Common
@using Trirand.Web.Mvc

@section css{@Styles.Render("~/bundles/css/jqgrid")}

<style>
    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
        padding-bottom: 3px;
    }

</style>


@{
	ViewBag.Title = "Regulator Certification Number";
	
 }


<div class="container-fluid">
	<div class="row row-title">
	
		<div class="col-sm-6">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
		@{
			if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
					{
						@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
					}
				}
		
					@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		
	</div>
	</div>
</div>

@{if (Util.HasAccess(Permission.RegCert, AccessRight.Edit))
	  {
		  @Html.Trirand().JQGrid(Model.DisplayCertificationIndexGridRW.CertGrid, "DisplayCertificationIndexGrid")
	  
	  }
	  else
		 { 
			@Html.Trirand().JQGrid(Model.DisplayCertificationIndexGrid.CertGrid, "DisplayCertificationIndexGrid")
		}
 }
								



@section scripts{
    @Scripts.Render("~/bundles/script/jqgrid")
<script>

	$(function () {

		//clear filters on refresh
		$('.ui-icon-refresh').click(function () {
			$('#gs_Jurisdiction').select2('data', { id: "", text: "" });
			$('#gs_GameType').select2('data', { id: "", text: "" });
		
	});

	//reset on search toolbar X click
	$('.clearsearchclass').click(function () {
		if ($(this).closest('tr').find('select').attr('id') == 'gs_Jurisdiction' || $(this).closest('tr').find('select').attr('id') == 'gs_GameType') {
			$('#gs_Jurisdiction').select2('data', { id: "", text: "" });
			$('#gs_GameType').select2('data', { id: "", text: "" });
		}
	});
		
	});
	
	function EditLink(cellValue, options, rowObject)
		{

			var link = '<a href="' + '@Url.Action("Edit", "RegulatorCertificationNumber")' + '/' + options.rowId + '"> Edit </a>';

			return link;
		}
	
	

	function DeleteLink(cellValue, options, rowObject)
		{

			
			var link = '<a href="javascript:GoToDelete(' + options.rowId + ')"> Delete </a>';

			return link;
		}
	
		function GoToDelete(Id) {
			if (confirm("Are you sure you want to delete this Certification Record? Please ensure that there are no other files associated with it before deleting."))
		{
			
			window.location.href = "RegulatorCertificationNumber/Delete/" + Id;
		}
		//' + '@Url.Action("Delete", "RegulatorCertificationNumber")' + '/' + options.rowId + '
	}
</script>

}



