﻿@model Submissions.Web.Areas.Lookups.Models.TranslationHousesViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Translation House";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "TranslationHouses", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(model => model.Code)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "TranslationHouses", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Code, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(model => model.Code, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(model => model.Code)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(model => model.Description, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(model => model.Description)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(model => model.Active, new { @class = "padcheckbox" })
				@Html.ValidationMessageFor(model => model.Active)
			</div>
		</div>
	</div>
}