﻿@model Submissions.Web.Areas.Lookups.Models.TaskDocumentsIndexViewModel
@using Trirand.Web.Mvc

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Task Documents";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = Mode.Add }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

@Html.Trirand().JQGrid(Model.TaskDocumentsGrid.Grid, "TaskDocumentsGrid")

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		function editLink(cellValue, options, rowObject) {
			return '<a href="' + '@Url.Action("Edit", "TaskDocuments")' + '/' + options.rowId + '?mode=Edit">Edit</a> <span class="text-normal">|</span> ' +
				'<a href="' + '@Url.Action("CheckDelete", "TaskDocuments")' + '/' + options.rowId + '" class="CheckNoDelete" id="' + options.rowId + '">Delete</a>'
		}
	</script>
}