﻿<template>
	<div v-if=" defRows.length > 0">
		Platform(s) in this Manufacturer group are linked to active Protocol Deficiencies
		<br />
		Protocol Deficiency Details:
		<vue-good-table :columns="defColumns"
						:rows="defRows"
						:pagination-options="{ enabled: false, perPage: 20}"
						:sort-options="{
							enabled: true,
							initialSortBy: {field: 'originalId', type: 'asc'}
						}"
						styleClass="vgt-table striped condensed">

			<template slot="table-row" slot-scope="props">
				<span v-if="props.column.field == 'platforms'">
					<ul v-for="platform in props.row.platforms">
						<li>{{platform.name}}</li>
					</ul>
				</span>
				<span v-else-if="props.column.field == 'includeOnLetter'">
					<input disabled v-model="props.formattedRow[props.column.field] | props.row.includeOnWVLetter" type="checkbox" />
				</span>
				<span v-else-if="props.column.field == 'critical'">
					<input disabled v-model="props.formattedRow[props.column.field]" type="checkbox" />
				</span>
				<span v-else>
					{{props.formattedRow[props.column.field]}}
				</span>
			</template>
		</vue-good-table>

	</div>
</template>
<script>
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css';

	export default {
		components: {
			VueGoodTable,
		},
		props: {
			defRows: { type: Array, required: true },
		},
		data: function () {

			let defColumns = [
				{
					label: 'Id',
					field: 'originalId',
					type: 'number'
				},
				{
					label: 'Protocol',
					field: 'protocol'
				},
				{
					label: 'Description',
					field: 'description',
					width: '600px'
				},
				{
					label: 'Critical',
					field: 'critical',
					type: 'boolean'
				},
				{
					label: 'Include in Letter',
					field: 'includeOnLetter',
					type: 'boolean'
				},
				{
					label: 'Platfrom(s)',
					field: 'platforms',
					sortable: false
				}
			]
			return {
				defColumns: defColumns,
			}
		},
		created: function () {
		},
		methods: {


		}
	}
</script>

<style scoped>
	/* Get text to line up with buttons */
	.vgt-table td div {
		line-height: 2em;
	}
</style>
