<template>
	<form ref="ManufacturerGroupEditForm" method="post">
		<input type="hidden" name="Mode" v-model="vm.mode" />
		<page-header :context="vm.description">
			<template v-slot:title>
				{{ vm.mode | modeText }} {{ vm.heading }}
			</template>
			<i v-if="saveInProgress" class="fa fa-spinner fa-pulse"></i>
			<a @click="checkPlatformDependency" class="btn btn-primary btn-sm" :class="{ disabled: saveInProgress }">{{ vm.mode | saveText }}</a>
			<a-link :href="previousUrl" class="btn btn-sm btn-primary">Cancel</a-link>
		</page-header>
		<div v-if="saveFailed" class="alert alert-danger" role="alert">There was an error saving this group.</div>
		<div class="form-horizontal">
			<hr class="form-hr" />
			<input type="hidden" id="Id" name="Id" v-model="vm.id" />
			<input type="hidden" id="ManufacturerGroupCategoryId" name="ManufacturerGroupCategoryId" v-model="vm.manufacturerGroupCategoryId" />
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Group Name</label>
				<div class="col-sm-3">
					<input id="description" name="Description" class="form-control" v-model="vm.description" />
					<span class="field-validation-error" v-if="!$v.vm.description.required && $v.vm.description.$error">
						Group name is required
					</span>
					<span class="field-validation-error" v-if="$v.vm.description.$error && !$v.vm.description.maxLength">
						The field Group Name must be a string with a maximum length of {{ $v.vm.description.$params.maxLength.max }}.
					</span>

				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Manufacturers</label>
				<div class="col-sm-10">
					<LookupMultiple id="ManufacturerCodes" name="ManufacturerCodes" lookupajax="Manufacturers" v-model="vm.manufacturerCodes"
									:options="vm.manufacturers" templatename="formatManufacturers" />
					<span class="field-validation-error" v-if="!$v.vm.manufacturerCodes.required && $v.vm.manufacturerCodes.$error">
						At least one manufacturer is required
					</span>
				</div>
			</div>
			<incoming-review-form v-if="vm.manufacturerGroupCategory === 'platforms'
									  || vm.manufacturerGroupCategory === 'productlines'
									  || vm.manufacturerGroupCategory === 'studios'"
								  :isVisible.sync="vm.isVisible"
								  :isRequired.sync="vm.isRequired" />
			<platform-form v-if="vm.manufacturerGroupCategory === 'platforms' || vm.manufacturerGroupCategory === 'protocolplatforms'"
						   :platforms.sync="vm.platforms" :manufacturerGroupCategory.sync="vm.manufacturerGroupCategory" />
			<product-line-form v-if="vm.manufacturerGroupCategory === 'productlines'"
							   :productLines.sync="vm.productLines" />
			<studio-form v-if="vm.manufacturerGroupCategory === 'studios'"
						 :studios.sync="vm.studios" />
		</div>
		<Modal v-if="showModal" @close="cancelDelete" modalContainerWidth="60%">
			<template v-slot:header>
				<h2>Delete</h2>
			</template>
			<template v-slot:body>
				Are you sure you want to delete this item?
				<br />
				<DependencyListTable :defRows="activePlatformProtocol"></DependencyListTable>
			</template>
			<template v-slot:footer>
				<a @click="cancelDelete" :class="['btn btn-primary btn-sm float-right', { disabled: saveInProgress }]">Cancel</a>
				<a @click="save" :class="['btn btn-danger btn-sm float-right', { disabled: saveInProgress }]">Delete</a>
			</template>
		</Modal>
	</form>
</template>

<script>
	import DependencyListTable from '@/components/lookup/manufacturergroup/DependencyListTable.vue';
	import ALink from '@/components/utility/ALink.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import PageHeader from '@/components/utility/PageHeader.vue';
	import { required, maxLength } from 'vuelidate/lib/validators';
	import IncomingReviewForm from './categoryforms/IncomingReviewForm.vue';
	import PlatformForm from './categoryforms/PlatformForm.vue';
	import ProductLineForm from './categoryforms/ProductLinesForm.vue';
	import StudioForm from './categoryforms/StudioForm.vue';
	import Modal from '@/components/utility/Modal.vue';

	export default {
		components: {
			DependencyListTable,
			ALink,
			PageHeader,
			Lookup,
			LookupMultiple,
			IncomingReviewForm,
			PlatformForm,
			ProductLineForm,
			StudioForm,
			Modal
		},
		data: function () {
			return {
				vm: {
					...initialData,
					manufacturerGroupCategory: initialData.manufacturerGroupCategory.toLowerCase()
				},
				previousUrl: `/lookups/manufacturergroups/?type=${initialData.manufacturerGroupCategory}`,
				saveInProgress: false,
				saveFailed: false,
				distroyPlatformID: [],
				activePlatformProtocol: [],
				showModal: false,
			}
		},
		created: function () {
			console.log(8);
		},
		methods: {
			save: function () {
				this.saveFailed = false;
				if (this.validate()) {
					return;
				}

				this.saveInProgress = true;
				this.$http.post(`lookups/ManufacturerGroups/Edit`, this.vm)
					.then(response => {
						let redirectUrl = this.previousUrl;
						if (redirectUrl.startsWith("/")) {
							redirectUrl = `${jsPath}${this.previousUrl.slice(1)}`;
						}
						window.location.href = redirectUrl;
					})
					.catch(e => {
						this.saveInProgress = false;
						this.saveFailed = true;
						console.error(e);
					});

			},
			validate: function () {
				this.saveFailed = false;
				this.$v.$touch();
				return this.$v.$invalid;
			},	
			checkPlatformDependency: function () {
				this.distroyPlatformID = this.vm.platforms.filter(plat => plat._destroy).map(plat => plat.platformId);
				if (this.distroyPlatformID.length > 0) {
					this.$http.get("lookups/ManufacturerGroups/CheckPlatformDependancy", {//String destroyPlatformId
						params: {
							destroyPlatformId_s: JSON.stringify(this.distroyPlatformID.slice())
						}


					})
						.then(response => {
							const result = response.data;
							this.activePlatformProtocol = result;
							if (this.activePlatformProtocol.length > 0) {
								this.showModal = true;

							}
							if (this.activePlatformProtocol.length == 0) {
								this.save();
							}
						})
						.catch(e => {
						})
						.finally(x => {

						});
				}
				else {
					this.save();

				}
			},
			cancelDelete: function () {
				this.showModal = false
				this.activePlatformProtocol = [];
			},

		},
		validations: {
			vm: {
				description: {
					required,
					maxLength: maxLength(50)
				},
				manufacturerCodes: {
					required
				},				
				platforms: {
					$each: {
						platformName: {
							text: {
								required
							}
						}
					}
				},				
				productLines: {
					$each: {
						productLineName: {
							text: {
								required
							}
						},
						testingTypeName: {
							text: {
								required
							}
						}
					}
				},				
				studios: {
					$each: {
						studioName: {
							text: {
								required
							}
						},
						testingTypeName: {
							text: {
								required
							}
						}
					}
				}
			}
		},
		provide: function () {
			return {
				$v: this.$v
			};
		}
	}
</script>

<style scoped>
	.fa-spinner + a {
		margin-left: 5px;
	}
</style>