﻿<template>
	<div>
		<page-header :title="vm.heading">
			<a-link v-if="vm.type" :href="'/lookups/manufacturergroups/add/?type=' + vm.type" class="btn btn-sm btn-primary">Add</a-link>
			<a-link href="/tools" class="btn btn-sm btn-primary">Exit</a-link>
		</page-header>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Filters</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-2">Manufacturers</label>
								<div class="col-sm-10">
									<LookupMultiple id="Manufacturer"
													name="Manufacturer"
													lookupajax="Manufacturers"
													templatename="formatManufacturers"
													@updateLookupTextField="updateManufacturers"
													v-model="vm.manufacturerCodes"
													:options="vm.manufacturers"
													title="Manufacturer">
									</LookupMultiple>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-buttons">
								<a class="btn btn-primary" id="searchButton" @click="filterGroups">Filter</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
		<!---Search Results-->
		<vue-good-table :columns="columns"
						:rows="rows"
						:pagination-options="{ enabled: false, perPage: 20}"
						:search-options="{ enabled: true}"
						:sort-options="{
							enabled: true,
							initialSortBy: {field: 'name', type: 'asc'}
						}"
						styleClass="vgt-table striped condensed">
			<template slot="table-row" slot-scope="props">
				<div v-if="props.column.field == 'actions'" class="text-right">
					<a-link class="btn btn-xs btn-link" :href="'/lookups/manufacturergroups/edit/' + props.row.id">Edit</a-link> |

					<a v-if="vm.type === 'ProtocolPlatforms'" @click="checkGroupDependency(props.row.id)" :class="['btn btn-xs', { disabled: saveInProgress }]" :id="props.row.id">Delete</a>
					<a v-else class="btn btn-xs btn-link CheckDelete" :id="props.row.id">Delete</a>
				</div>
				<div v-else>
					{{props.formattedRow[props.column.field]}}
				</div>
			</template>
		</vue-good-table>
		<Modal v-if="showModal" @close="cancelDelete" modalContainerWidth="60%">
			<template v-slot:header>
				<h2>Delete</h2>
			</template>
			<template v-slot:body>
				Are you sure you want to delete this item?
				<br />
				<DependencyListTable :defRows="activePlatformProtocol"></DependencyListTable>
			</template>
			<template v-slot:footer>
				<i v-if="saveInProgress" class="fa fa-spinner fa-pulse"></i>
				<a @click="cancelDelete" :class="['btn btn-primary btn-sm float-right', { disabled: saveInProgress }]">Cancel</a>
				<a @click="deleteGroup(deletePlatformProtocolId)" :class="['btn btn-danger btn-sm float-right', { disabled: saveInProgress }]">Delete</a>
			</template>
		</Modal>
	</div>
</template>

<script>
	import DependencyListTable from '@/components/lookup/manufacturergroup/DependencyListTable.vue';
	import ALink from '@/components/utility/ALink.vue';
	import PageHeader from '@/components/utility/PageHeader.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css';
	import Modal from '@/components/utility/Modal.vue';

	export default {
		components: {
			DependencyListTable,
			LookupMultiple,
			VueGoodTable,
			ALink,
			PageHeader,
			Modal
		},
		data: function () {
			let columns = [
				{
					label: 'Name',
					field: 'name',
				},
				{
					field: 'actions',
					sortable: false,
					width: '120px'
				}
			];
			if (initialData.type == null) {
				columns.splice(1, 0, {
					field: 'category',
					label: 'Category'
				});
			};
			return {
				vm: {
					...initialData,
					manufacturers: initialData.manufacturers || [],
					manufacturerCodes: initialData.manufacturerCodes || [],
					listItems: initialData.listItems || []
				},
				saveInProgress: false,
				columns: columns,
				rows: initialData.listItems || [],
				showModal: false,
				deletePlatformProtocolId: 0,
				activePlatformProtocol: [],
				currentUrl: `/lookups/manufacturergroups/?type=${initialData.type}`
			}
		},
		created: function () {
			console.log(12);
		},
		methods: {
			filterGroups: function () {
				this.$http.post('Lookups/manufacturergroups/', {
					vm: this.vm,
				}).then(response => {
					this.rows = JSON.parse(response.data);
				});
			},
			updateManufacturers: function (value) {
				this.vm.manufacturers = value;
			},
			cancelDelete: function () {
				this.showModal = false
				this.activePlatformProtocol = [];
				this.deleteDeficiencyId = 0;
				this.saveInProgress = false;
			},
			deleteProtocolPlatform: function () {

				this.showModal = false;
				this.activePlatformProtocol = [];
				this.deleteDeficiencyId = 0;
				this.saveInProgress = false;
			},
			checkGroupDependency: function (id) {
				this.saveInProgress = true;
				this.$http.get("lookups/ManufacturerGroups/CheckManuGroupDependancy", {//int manufacturerGroupId
					params: {
						manufacturerGroupId: id
					}
					

				})
					.then(response => {
						const result = response.data;
						this.showModal = true;
						this.deletePlatformProtocolId = id;

						if (result.length > 0) {
							this.activePlatformProtocol = result;
						}
						this.saveInProgress = false;
					})
					.catch(e => {
					})
					.finally(x => {

					});
			},
			deleteGroup: function (id) {
				this.saveInProgress = true;

				this.$http.post("lookups/ManufacturerGroups/Delete", {
					id: id
				})
				.then(response => {
					//Clear Cache
					this.$http.get('LookupsAjax/clear', {
						params: {
							cacheItem: "ProtocolPlatformsManufacturerGroups"
						}
					});

					let redirectUrl = this.currentUrl;
					if (redirectUrl.startsWith("/")) {
						redirectUrl = `${jsPath}${this.currentUrl.slice(1)}`;
					}

					window.location.href = redirectUrl;
				})
				.catch(e => {
				})
				.finally(x => {

				});
			}
		}
	}
</script>

<style scoped>
	/* Get text to line up with buttons */
	.vgt-table td div {
		line-height: 2em;
	}
</style>