﻿@model Submissions.Web.Areas.Protrack.Models.Project.ProjectPersonnel
@{
	ViewBag.NoNavBar = true;
	ViewBag.NoFooter = true;
}
<style>

</style>
@{
	ViewBag.Title = @Model.PersonnelType.GetEnumDescription();
}
@using (Html.BeginForm("SaveProjectPersonnel", "ProjectPersonnel", FormMethod.Post, new { projectPersonnelVM = Model, Id = "ProjectPersonnelForm" }))
{
	@Html.HiddenFor(m => m.ProjectIds);
	@Html.HiddenFor(m => m.PersonnelType);
	<div class="modal-header">
		<div class="row">
			<div class="col-sm-12 form-buttons text-right">
				@if (Model.PersonnelType == ProjectPersonnelType.QAReviewer)
				{
					@:<button type="button" id="Save" accesskey="L" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save (Alt+L)</button>
				}
				else
				{
					if (Util.HasAccess(Permission.ProjectActions, AccessRight.Edit) || Util.HasAccess(Role.ENS, Role.ESR, Role.MAS, Role.MAR, Role.MG, Role.CPS, Role.CSR))
					{
						@:<button type="button" id="Save" accesskey="L" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save (Alt+L)</button>
					}
				}
				<button class="btn btn-primary btn-sm" data-dismiss="modal" id="Close" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<label id="Error" class="text-danger"></label>
		<div class="form-group">
			<label class="form-control-label">@Model.PersonnelType.GetEnumDescription()</label>
			@if (Model.PersonnelType == ProjectPersonnelType.QAReviewer)
			{
				@Html.LookupFor(m => m.UserId, m => m.User, LookupAjax.QAUsers, false, null)
			}
			else
			{
				@Html.LookupFor(m => m.UserId, m => m.User, LookupAjax.Users, false, null)
			}
		</div>
	</div>

}
<script>
	$(function () {
		loadDocumentReady();
		   
		$('#Save').click(function () {
			var Error = ''
	   
			if ($('#UserId').val() == "0" || $('#UserId').val() == "") {
				Error += 'You must select user.'
			}
			
			if (Error == '') {
				$('#ProjectPersonnelForm').submit();
			}
			else {
				$('#Error').text(Error);
				return false;
			}
		});


		$('#ProjectPersonnelForm').submit(function () {

			$('#Save').prop("disabled", true);
			$.ajax({
				url: this.action,
				type: this.method,
				data: $(this).serialize(),
				success: function (result) {
					if ("@Request["OnlyRefreshValues"]" == 1)
					{
						ReloadAfterUpdate();
						$('#myModal').modal('toggle');
						bootbox.alert("Data updated.")
					 }
					else {
						window.location.reload();
					}
				}
			});

			return false;
		});
	});
</script>