﻿<template>
	<div ref="AcumaticaFeedError" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="col-sm-12">
						<h3 class="modal-title">{{this.localSelectedAcumaticaFeedError.acumaticaProjectId}}</h3>
						<h4>{{this.localSelectedAcumaticaFeedError.logDate}}</h4>
						<h4>{{this.localSelectedAcumaticaFeedError.logSource}}</h4>
						<b>{{this.localSelectedAcumaticaFeedError.acumaticaException.targetExceptionMessage}}</b>
					</div>
				</div>
				<div class="modal-body">
					<div class="well">
						<code>{{this.localSelectedAcumaticaFeedError.acumaticaException.rawException}}</code>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-group-sm">
								<label class="col-sm-4 control-label">Owning:</label>
								<div class="col-sm-8">
									<p>{{this.localSelectedAcumaticaFeedError.owningCompany}}</p>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-4 control-label">Performing:</label>
								<div class="col-sm-8">
									<p>{{this.localSelectedAcumaticaFeedError.performingCompany}}</p>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-4 control-label">Allocation ID:</label>
								<div class="col-sm-8">
									<p>{{this.localSelectedAcumaticaFeedError.allocationId}}</p>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-4 control-label">Billing Currency ID:</label>
								<div class="col-sm-8">
									<p>{{this.localSelectedAcumaticaFeedError.billingCurrencyId}}</p>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-4 control-label">Billing ID:</label>
								<div class="col-sm-8">
									<p>{{this.localSelectedAcumaticaFeedError.billingId}}</p>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-4 control-label">Parent Project ID:</label>
								<div class="col-sm-8">
									<p>{{this.localSelectedAcumaticaFeedError.consolidationProjectId}}</p>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-4 control-label">Contract Type:</label>
								<div class="col-sm-8">
									<p>{{this.localSelectedAcumaticaFeedError.contractType}}</p>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-4 control-label">Customer:</label>
								<div class="col-sm-8">
									<p>{{this.localSelectedAcumaticaFeedError.customer}}</p>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-4 control-label">Game Name:</label>
								<div class="col-sm-8">
									<p>{{this.localSelectedAcumaticaFeedError.gameName}}</p>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-4 control-label">Project Currency ID:</label>
								<div class="col-sm-8">
									<p>{{this.localSelectedAcumaticaFeedError.projectCurrencyId}}</p>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-4 control-label">Template ID:</label>
								<div class="col-sm-8">
									<p>{{this.localSelectedAcumaticaFeedError.templateUsed}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('acumatica')
	export default {
		components: {
		},
		props: {
		},
		data() {
			return {
				localSelectedAcumaticaFeedError: {
					acumaticaException: {}
				},
			}
		},
		created: function () {
		},
		methods: {
			...mapActions(['setErrorDetailPopUp', 'setSelectedAcumaticaFeedError']),
		},
		computed: {
			...mapGetters([
				'showErrorDetailPopUp',
				'selectedAcumaticaFeedError'
			]),
		},
		watch: {
			showErrorDetailPopUp: function (newVal, oldVal) {
				if (newVal) {
					this.localSelectedAcumaticaFeedError = this.$lodash.cloneDeep(this.selectedAcumaticaFeedError);
					$(this.$refs.AcumaticaFeedError).modal('show');
					this.setErrorDetailPopUp(false);
				}
			}
		},
	}
</script>
<style scoped>
</style>
