﻿<template>
	<div>
		<Results></Results>
		<div class="row">

			<div class="col-sm-12">
				<vue-good-table ref="errorTable"
								:columns="columns"
								:rows="rows"
								:line-numbers="true"
								:select-options="{ enabled: true, selectOnCheckboxOnly: true }"
								styleClass="vgt-table striped"

								:sort-options="{
									enabled: true
								}"
								:pagination-options="{
									enabled: true,
									mode: 'pages'
								}">
					<div slot="table-actions">
						<div class="btn-group">
							<div class="btn btn-primary" @click="click_RefreshData()"><i class="fas fa-sync" v-bind:class="spinClass"></i>&nbsp;Refresh</div>
						</div>
					</div>
					<template slot="table-row" slot-scope="props">
						<span v-if="props.column.field == 'acumaticaException'">
							<span v-if="props.row.acumaticaException.exceptionMessage">{{props.row.acumaticaException.exceptionMessage}}</span>
							<span v-else>Could not parse condensed error, see details for more information.</span>
						</span>
						<span v-else-if="props.column.field == 'logDate'">
							<span>{{props.formattedRow[props.column.field] | formatDateTime }}</span>
						</span>
						<span v-else-if="props.column.field == 'rowAction'">
							<button class="btn btn-primary" @click="click_ShowErrorDetails(props.row.id)">Details</button>
						</span>
						<span v-else>
							{{props.formattedRow[props.column.field]}}
						</span>
					</template>
					<div slot="selected-row-actions">
						<div class="btn-group">
							<button class="btn btn-primary" @click="click_MarkResolved()">Mark Resolved</button>
							<button class="btn btn-primary" @click="click_SetupProjects()">Setup Project(s)</button>
						</div>
					</div>
					<div slot="emptystate">
						<div class="row top-buffer">
							<div class="col-sm-12 center-block text-center">
								<h2>Nothing in error log.</h2>
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-sm-12 center-block text-center">
								<img v-bind:src="image" width="200" height="200" />
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-sm-12 center-block text-center">
								<p>Have a nice day.</p>
							</div>
						</div>
					</div>
				</vue-good-table>
			</div>
		</div>
	</div>
</template>

<script>
	import { VueGoodTable } from 'vue-good-table';
	import { createNamespacedHelpers } from 'vuex';
	import 'vue-good-table/dist/vue-good-table.min.css'
	import Results from '@/components/acumatica/feederrorlog/Results.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('acumatica');

	export default {
		components: {
			VueGoodTable,
			Results
		},
		props: {
			rows: { type: Array, required: true },
			columns: { type: Array, required: true },
		},
		data() {
			return {
				image: jsPath + "Img/happySun.png"
			}
		},
		created: function () {
			//setInterval(function () {
			//	this.postGetUnResolvedAcumaticaFeedErrors();
			//}.bind(this), 30000);
		},
		mounted() {
		},
		watch: {
		},
		computed: {
			...mapGetters(['unResolved', 'refreshInProgress']),
			spinClass: function () {
				return {
					'fa-spin': this.refreshInProgress
				}
			}
		},
		methods: {
			...mapActions(['setErrorDetailPopUp', 'setSelectedAcumaticaFeedError', 'postMarkResolved', 'postGetUnResolvedAcumaticaFeedErrors', 'postSetupProjects']),
			click_ShowErrorDetails: function (id) {
				this.setSelectedAcumaticaFeedError(id);
				this.setErrorDetailPopUp(true);
			},
			click_MarkResolved: function () {
				var payload = this.$refs['errorTable'].selectedRows.map((item) => { return { id: item.id, entityId: item.entityId, entityType: item.entityType } });
				this.postMarkResolved(payload);
			},
			click_SetupProjects: function () {
				var payload = this.$refs['errorTable'].selectedRows.map((item) => { return { id: item.id, entityId: item.entityId, entityType: item.entityType } });
				this.postSetupProjects(payload);
			},
			click_RefreshData: function () {
				this.postGetUnResolvedAcumaticaFeedErrors();
			},
			cancelAutoUpdate: function () { clearInterval(this.timer) }
		},
		destroyed() {
			//cancelAutoUpdate();
		}
	}
</script>

<style scoped>
	.top-buffer {
		margin-top: 20px;
	}
</style>