﻿<template>
	<div class="main">
		<LogTable :rows="unResolved"
				  :columns="columns">
		</LogTable>
		<AcumaticaFeedError></AcumaticaFeedError>
	</div>
</template>

<script>
	import LogTable from '@/components/acumatica/feederrorlog/AcumaticaFeedErrorLogTable.vue';
	import AcumaticaFeedError from '@/components/acumatica/feederrorlog/AcumaticaFeedError.vue';
	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters, mapActions } = createNamespacedHelpers('acumatica');

	export default {
		components: {
			LogTable,
			AcumaticaFeedError
		},
		data() {
			return {
				columns: [
					{
						label: 'ID',
						field: 'id',
						type: 'number',
						hidden: true
					},
					{
						label: 'Project ID',
						field: 'acumaticaProjectId',
						type: 'text',
						filterOptions: {
							enabled: true,
							placeholder: 'Filter Project ID',
							trigger: 'keyup',
						},
					},
					{
						label: 'Time Stamp',
						field: 'logDate',
						type: 'text',
						filterOptions: {
							enabled: true,
							placeholder: 'Filter Time Stamp',
							trigger: 'keyup',
						},
					},

					{
						label: 'Owning Company',
						field: 'owningCompany',
						type: 'text',
						filterOptions: {
							enabled: true,
							placeholder: 'Filter Owning Company',
							trigger: 'keyup',
						},
					},
					{
						label: 'Performing Company',
						field: 'performingCompany',
						type: 'text',
						filterOptions: {
							enabled: true,
							placeholder: 'Filter Performing Company',
							trigger: 'keyup',
						},
					},
					{
						label: 'Error',
						field: 'acumaticaException',
						type: 'text',
					},
					{
						label: '',
						field: 'rowAction'
					}
				]
			}
		},
		created: function () {
			this.setUnResolved(initialData.unResolved);
			DoneLoading();
		},
		mounted() {
		},
		watch: {
		},
		computed: {
			...mapGetters(['unResolved']),
		},
		methods: {
			...mapActions(['setUnResolved']),
		}
	}
</script>

<style scoped>
</style>