﻿<template>
	<div>
		<div v-show="this.setupProjectsResults.length > 0">
			<ul class="list-group">
				<li class="list-group-item" v-bind:class="successResult(result.success)" v-for="result in this.setupProjectsResults">
					{{result.projectID}} {{result.success | resultText}}
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('acumatica');
	export default {
		components: {
		},
		props: {
		},
		data() {
			return {
			}
		},
		created: function () {

		},
		mounted() {
		},
		watch: {

		},
		computed: {
			...mapGetters(['setupProjectsResults']),
		},
		methods: {
			successResult: function (success) {
				return {
					'list-group-item-success': success,
					'list-group-item-danger': !success
				};
			}
		},
		filters: {
			resultText: function (success) {
				if (success) {
					return 'Created!';
				}
				else {
					return 'Failed!';
				}
			}
		}
	}
</script>

<style scoped>
</style>