﻿@model Submissions.Web.Areas.Protrack.Models.CryptographicStrength.EditViewModel

<div class="row">
    <div class="col-xs-8">
        <h2>@ViewBag.Title <small>@ViewBag.ProjectName</small></h2>
    </div>
    <div class="col-xs-4">
        &nbsp;
    </div>
    <div class="col-xs-4 form-buttons pull-right">
        <button id="forSubmitForm" type="button" class="btn btn-primary btn-save">Save</button>
        <button id="exit" type="button" class="btn btn-primary">Cancel</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Set Cryptographic Strength
            </div>
            <div class="panel-body">
                <div class="col-sm-8">
                    <div class="form-group form-group-sm">
                        <div class="col-sm-4">
                            <label for="BulkCryptographicStrength">Cryptograhphic Strength</label>
                        </div>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.BulkCryptographicStrength, Model.CryptographicallyStrongOptions, new { @style = "width:100%", id = "BulkCryptographicStrength" })
                        </div>
                        <div class="col-sm-4">
                            <button id="BulkApply" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Apply above option to below checked rows.">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Edit", "CryptographicStrength", FormMethod.Post, new { id = "submitForm" }))
{
    @Html.HiddenFor(x => x.ProjectId)
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Submission Data</div>
                <div class="panel-body">

                    <table id="submissionsTable" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>ID Number</th>
                                <th>Game</th>
                                <th>Version</th>
                                <th>Date Code</th>
                                <th>Receive Date</th>
                                <th>Request Date</th>
                                <th>Cryptographic Strength</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.SubmissionsRecord.Count; i++)
                            {
                                @Html.HiddenFor(m => m.SubmissionsRecord[i].ProjectId)
                                @Html.HiddenFor(m => m.SubmissionsRecord[i].SubmissionKey)
                                <tr>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].IdNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].GameName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].Version)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].DateCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].ReceiveDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model.SubmissionsRecord[i].RequestDate)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(
                                                m => m.SubmissionsRecord[i].CryptographicId,
                                                Model.SubmissionsRecord[i].CryptographicallyStrongOptions,
                                               (Model.SubmissionsRecord[i].CryptographicAvailable || (Model.SubmissionsRecord[i].CryptographicId ?? 0) == 0) ?
                                               (object)new
                                               {
                                                   @class = "submissionRecordDataSelect",
                                                   id = "CryptographicStrength_" + Model.SubmissionsRecord[i].SubmissionKey,
                                                   name = "CryptographicStrength_" + Model.SubmissionsRecord[i].SubmissionKey

                                               }
                                               :
                                                (object)new
                                                {
                                                    @class = "submissionRecordDataSelect",
                                                    id = "CryptographicStrength_" + Model.SubmissionsRecord[i].SubmissionKey,
                                                    name = "CryptographicStrength_" + Model.SubmissionsRecord[i].SubmissionKey,
                                                    @disabled = "disabled"

                                                })

                                        @if (!(Model.SubmissionsRecord[i].CryptographicAvailable || (Model.SubmissionsRecord[i].CryptographicId ?? 0) == 0))
                                        {
                                            @Html.HiddenFor(m => m.SubmissionsRecord[i].CryptographicId)
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $('body').on('click', '#exit', function () {
            window.close();
        });

        $('body').on('click', '#BulkApply', function () {
            processBulkApply();
        });

        $('body').on('click', '#forSubmitForm', function () {
            $('.submissionRecordDataSelect').prop("disabled", false);
            $('#submitForm').submit();            

        });

        function processBulkApply() {
            var BulkOptions = {
                CryptographicStrength: $('#BulkCryptographicStrength').val(),

            };

            var SubmissionRecordDataSelections = $('.submissionRecordDataSelect');
            $.each(SubmissionRecordDataSelections, function (key, value) {
                var key = value.id.split('_')[1];
                var forUpdate = $('#CryptographicStrength_' + key);
                forUpdate.val(BulkOptions.CryptographicStrength).trigger("change");
            });
        }
    </script>
}