﻿@model Submissions.Web.Areas.Lookups.Models.EmailTypesEditViewModel

@{
	ViewBag.Title = Model.Mode + " Email Type";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "EmailTypes", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.Code)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "EmailTypes", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Code, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Code, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.Code)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Description)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.UserIds, new { @class = "control-label col-sm-2" })
			<div class="col-sm-6">
				@Html.LookupMultipleFor(m => m.UserIds, Model.Users, LookupAjax.Users, false)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.EmailDistributionIds, new { @class = "control-label col-sm-2" })
			<div class="col-sm-6">
				@Html.LookupMultipleFor(m => m.EmailDistributionIds, Model.EmailDistributions, LookupAjax.EmailDistributions, false)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ExternalEmailAddress, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.ExternalEmailAddress, new { @class = "form-control" })
			</div>
		</div>
	</div>
}