﻿@model Submissions.Web.Areas.PointClick.Models.Transfer.DetailEditModel

<div class="modal" id="DetailEditModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" style="width: 90%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" id="DetailEditLabel">Point Click Transfer Request Details - Edit</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-7">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.TransferRequestStatusId, new { @class = "control-label col-sm-3" })
								<div class="col-sm-4">
									@Html.HiddenFor(m => m.TransferRequestStatus)
									@Html.DropDownListFor(m => m.TransferRequestStatusId, Model.TransferRequestStatusList, new { data_lookuptextfield = Html.IdFor(m => m.TransferRequestStatus) })
									@Html.ValidationMessageFor(m => m.TransferRequestStatusId)
								</div>
							</div>

							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.JurisdictionId, new { @class = "control-label col-sm-3" })
								<div class="col-sm-6">
									@Html.LookupFor(m => m.JurisdictionId, m => m.Jurisdiction, LookupAjax.Jurisdictions, false)
								</div>
							</div>

							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.CompanyId, new { @class = "control-label col-sm-3" })
								<div class="col-sm-6">
									@Html.LookupFor(m => m.CompanyId, m => m.Company, LookupAjax.Companies, true)
								</div>
							</div>

							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.LabId, new { @class = "control-label col-sm-3" })
								<div class="col-sm-6">
									@Html.LookupFor(m => m.LabId, m => m.Lab, LookupAjax.Laboratories, true)
								</div>
							</div>

							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.ContractTypeId, new { @class = "control-label col-sm-3" })
								<div class="col-sm-6">
									@Html.LookupFor(m => m.ContractTypeId, m => m.ContractType, LookupAjax.ContractTypes, true)
								</div>
							</div>

							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.CurrencyId, new { @class = "control-label col-sm-3" })
								<div class="col-sm-6">
									@Html.LookupFor(m => m.CurrencyId, m => m.Currency, LookupAjax.Currencies, true)
								</div>
							</div>

							<div class="form-group">
								@Html.LabelFor(m => m.Memo, new { @class = "control-label col-sm-3" })
								<div class="col-sm-8">
									@Html.TextAreaFor(m => m.Memo, 5, 0, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.Memo)
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<fieldset>
							<legend>GLI Access Acknowledgements</legend>
							<div class="form-horizontal">
								<div class="form-group form-group-sm" style="margin: 0;">
									<div class="checkbox col-sm-offset-1">
										@Html.CheckBoxFor(m => m.StatementAck, new { disabled = "disabled" })
										@Html.LabelFor(m => m.StatementAck)
									</div>
								</div>

								<div class="form-group form-group-sm" style="margin: 0;">
									<div class="checkbox col-sm-offset-1">
										@Html.CheckBoxFor(m => m.SoftwareAck, new { disabled = "disabled" })
										@Html.LabelFor(m => m.SoftwareAck)
									</div>
								</div>
							</div>
						</fieldset>
						&nbsp;
						<fieldset>
							<legend>GLI Work Order Number</legend>
							<div class="form-horizontal">
								<div class="form-group form-group-sm" style="margin: 0;">
									<div class="checkbox col-sm-offset-1">
										<input type="checkbox" id="toggleMasterBilling" />
										<label for="toggleMasterBilling">Associate selected requests to Work Order Number</label>
									</div>
								</div>
							</div>

						</fieldset>
					</div>
				</div>
				<div id="MasterBillingInfo" class="row" style="display:none;">
					<div class="col-sm-12">
						<fieldset>
							<legend>GLI Work Order Number</legend>
						</fieldset>
						<div id="masterBillingResults" class="form-horizontal"></div>
						<b>Items marked with a * indicate that a Work Order Number already existed for the given jurisdiction in another record of the given submission.</b>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div id="ProcessMsg" class="pull-left hidden"><i class="fas fa-spinner fa-spin fa-2x"></i> &nbsp; Processing - Please Wait</div>
				<button id="closeBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="SaveBtn" type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<script>
	// Global Regex Patterns:
	// Regex Patterns for MAtching Submission and Dynamics Files
	var submissionFileNumberPattern = new RegExp("([a-zA-Z][a-zA-Z])-([1-9]?[0-9][0-9])-([a-zA-Z][a-zA-Z][a-zA-Z])-([0-9][0-9])-([1-9]?[0-9][0-9])-?([0-9]?[0-9][0-9])?", "i");
	var dynamicsFileNumber = new RegExp("^([a-zA-Z][a-zA-Z][0-9][0-9][0-9][a-zA-Z][a-zA-Z][a-zA-Z][0-9][0-9][0-9][0-9][0-9])$", "i");
	var dynamicsTransferFileNumber = new RegExp("([a-zA-Z][a-zA-Z])([0-9][0-9][0-9])([a-zA-Z][a-zA-Z][a-zA-Z])([0-9][0-9])([0-9][0-9][0-9])([0-9][0-9][0-9])", "i");

	$(function () {
		$('#toggleMasterBilling').change(function () {
			$('#MasterBillingInfo').toggle();
		});

		$("#SaveBtn").click(function (e) {
			if (!$("#FormDetailEdit").valid()) {
				return;
			}

			if ($('#TransferRequestStatus').val() == '@TransferRequestStatus.Declined.ToString()') {
				if ($('#Memo').val() == '') {
					bootbox.alert('Please enter a decline reason in the Memo');
					return;
				}
			}

			if ($("#JurisdictionId").select2("val")) {
				bootbox.confirm("Are you sure you want to change the Jurisdiction?", function (result) {
					if (result) {
						save();
					}
				});
			}
			else {
				save();
			}
		});

		$('#DetailEditModal').on('hidden.bs.modal', function (e) {
			$('#MasterBillingInfo').hide();
		})

		function populateMBIDObject(mbidTableRows) {
			var MBIDResultRow = {};
			var MBIDResultRows = [];
			var validMBID = false;

			$.each(mbidTableRows, function (i, item) {
				$(item).find('td').each(function () {
					var tdName = $(this).attr('name');

					if (tdName == "jurisdictionName") {
						MBIDResultRow.JurisdictionName = $(this).text();
					}
					else if (tdName == 'jurisdictionId') {
						MBIDResultRow.JurisdictionId = $(this).text();
					}
					else if (tdName == 'fileNumber') {
						MBIDResultRow.FileNumber = $(this).text();
					}
					else if (tdName == 'idNumber') {
						MBIDResultRow.IdNumber = $(this).text();
					}
					else if (tdName == 'dateCode') {
						MBIDResultRow.DateCode = $(this).text();
					}
					else if (tdName == 'version') {
						MBIDResultRow.Version = $(this).text();
					}
					else if (tdName == 'letterNumber') {
						MBIDResultRow.LetterNumber = $(this).find('input[id^=letterNumber]').val();
					}
					else if (tdName == 'billingReference') {
						MBIDResultRow.BillingReference = $(this).find('input[id^=billingReference]').val();
					}
					else if (tdName == 'contractNumber') {
						MBIDResultRow.ContractNumber = $(this).find('input[id^=contractNumber]').val();
					}

					var MBID = $(this).closest('tr').find('[id^=MBID]');

					if (MBID.length >= 0) {
						var term = $.trim(MBID.val()).toUpperCase();
						term = term.replace(/[^-A-Za-z0-9]/gi, '');

						if (term.indexOf('-') > -1) {
							var isSubFile = submissionFileNumberPattern.test(term);
							if (isSubFile) {
								var FileNumberObj = new FileNumber(term);
								term = FileNumberObj.ProjectType +
										FileNumberObj.PrimaryJurisdiction +
										FileNumberObj.ManufacturerShortCode +
										FileNumberObj.Year +
										FileNumberObj.SequenceNumber;
								if (FileNumberObj.TransferExtension != undefined) {
									term = term + FileNumberObj.TransferExtension;
								}
								validMBID = true;
							}
						}
						else {
							var isDynamicsFile = dynamicsFileNumber.test(term);
							var isDynamicsTransferFile = dynamicsTransferFileNumber.test(term);

							if (isDynamicsFile || isDynamicsTransferFile) {
								validMBID = true;
							}
						}

						if (!(isDynamicsFile || isDynamicsTransferFile || isSubFile) && MBID.val() != "") {
							alert("MBID: " + MBID.val() + ", is not a valid Work Order Number. Please correct and re-enter in the proper format.");
							validMBID = false;
							return false;
						}
						else {
							MBIDResultRow.MBID = term;
							var transferId = MBID.attr("Id").split('.');
							MBIDResultRow.TransferId = transferId[1];
						}
					}
				});

				if (validMBID) {
					MBIDResultRows.push(MBIDResultRow);
					MBIDResultRow = {};
				}
				else {
					MBIDResultRows = [];
					return false;
				}
			});
			if (validMBID) {
				return MBIDResultRows;
			}
			else {
				return false;
			}
		}

		function save() {
			var formData = $("#FormDetailEdit").serializeObject();
			var checkedRows = $("#TransferRequestDetailGrid").jqGrid("getGridParam", "selarrrow");
			var mbidTableRows = $('#mbidResultsTable tr').not(':first');
			var MBIDResultRows = populateMBIDObject(mbidTableRows);

			if (!MBIDResultRows && $('#toggleMasterBilling').is(":checked")) {
				return false;
			}

			var rowIds = [];
			$.each(checkedRows, function (i, item) {
				rowIds.push({ Id: item });
			});

			var transfersToUpdate = {};
			transfersToUpdate["TransfersToUpdate"] = rowIds;

			if ($('#toggleMasterBilling').is(":checked")) {
				transfersToUpdate["MBIDResultRows"] = MBIDResultRows;
			}

			var jsonData = JSON.stringify($.extend(formData, transfersToUpdate));

			$.ajax({
				url: '@Url.Action("DetailEdit", "Transfer")',
				type: "POST",
				contentType: "application/json",
				dataType: "json",
				data: jsonData,
				beforeSend: function () {
					$("#SaveBtn").prop("disabled", true);
					$("#ProcessMsg").removeClass("hidden");
				}
			})
			.done(function (data) {
				processSaveResults(data);
			})
			.fail(function () {
				alert("error");
			})
			.always(function () {
				$("#SaveBtn").prop("disabled", false);
				$("#ProcessMsg").addClass("hidden");
			});
		}

		function processSaveResults(data) {
			$("#DetailEditModal").modal("hide");
			$("#TransferRequestDetailGrid").trigger('reloadGrid', [{ page: 1 }]);

			if (data.Messages.length > 0) {
				bootbox.alert(data.Messages);
			}
			else if (data.Result == "AllRequestsCompleted") {
				$("#EditBtn").addClass("hidden");
				$("#ClearBtn").addClass("hidden");
				$("#CancelBtn").text("Exit");

				bootbox.alert("All requests have been processed");
			}
		}

		//reset to default values
		$("#DetailEditModal").on("hidden.bs.modal", function (e) {
			$("#TransferRequestStatus").val("@Model.TransferRequestStatus");
			$('#TransferRequestStatusId').val("@Model.TransferRequestStatusId").trigger("change");
			$("#Jurisdiction").val("@Model.Jurisdiction");
			$("#JurisdictionId").val("@Model.JurisdictionId").trigger("change");
			$("#Company").val("@Model.Company");
			$("#CompanyId").val("@Model.CompanyId").trigger("change");
			$("#Lab").val("@Model.Lab");
			$("#LabId").val("@Model.LabId").trigger("change");
			$("#ContractType").val("@Model.ContractType");
			$("#ContractTypeId").val("@Model.ContractTypeId").trigger("change");
			$("#Currency").val("@Model.Currency");
			$("#CurrencyId").val("@Model.CurrencyId").trigger("change");
			$("#toggleMasterBilling").prop("checked", false);
		});
	});
</script>