﻿@model Submissions.Web.Areas.PointClick.Models.Transfer.DetailViewModel

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.badge-attachment {
			background-color: orange;
			font-size: 10px;
		}

		.badge {
			font-size: 10px;
		}
	</style>
}

@{
	ViewBag.Title = "Point.Click.Transfer®  Request Details";
	var processed = (Model.DetailHeaderModel.Status == "Processed" || !Model.DetailHeaderModel.IsConfirmed);
	var cancelBtnText = "Cancel";
	if (processed)
	{
		cancelBtnText = "Exit";
	}

	var additionalItemsMark = "[&nbsp; &nbsp;]";
	if (Model.DetailHeaderModel.TransferAdditionalItems)
	{
		additionalItemsMark = "[X]";
	}
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@{
			if (Util.HasAccess(Permission.PCT, AccessRight.Edit) && !processed)
			{
				<button id="EditBtn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DetailEditModal">Edit</button>
				<button id="ClearBtn" class="btn btn-primary btn-sm">Clear</button>
			}
		}
		@if (processed)
		{
			@Html.ActionLink("Go To Create New Bundle", "Index", "CreateNewBundle", new { area = "Protrack" }, new { @class = "btn btn-primary btn-sm" })
		}
		@Html.ActionLink(cancelBtnText, "Index", null, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Transfer Request</h1>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-5">
				<dl class="dl-horizontal" style="margin: 0;">
					<dt>@Html.DisplayNameFor(m => m.DetailHeaderModel.OrderNumber)&nbsp;</dt>
					<dd>@Html.DisplayFor(m => m.DetailHeaderModel.OrderNumber)&nbsp;</dd>
					<dt>@Html.DisplayNameFor(m => m.DetailHeaderModel.RequestDate)&nbsp;</dt>
					<dd>@Html.DisplayFor(m => m.DetailHeaderModel.RequestDate)&nbsp;</dd>
					<dt>@Html.DisplayNameFor(m => m.DetailHeaderModel.ManufacturerCode)&nbsp;</dt>
					<dd>@Html.DisplayFor(m => m.DetailHeaderModel.ManufacturerCode)&nbsp;</dd>
					<dt>@Html.DisplayNameFor(m => m.DetailHeaderModel.ContactName)&nbsp;</dt>
					<dd>@Html.DisplayFor(m => m.DetailHeaderModel.ContactName)&nbsp;</dd>
					<dt>@Html.DisplayNameFor(m => m.DetailHeaderModel.ContactEmail)&nbsp;</dt>
					<dd>@Html.DisplayFor(m => m.DetailHeaderModel.ContactEmail)&nbsp;</dd>
					<dt>@Html.DisplayNameFor(m => m.DetailHeaderModel.ContactPhone)&nbsp;</dt>
					<dd>@Html.DisplayFor(m => m.DetailHeaderModel.ContactPhone)&nbsp;</dd>
				</dl>
			</div>
			<div class="col-sm-7">
				<dl class="dl-horizontal" style="margin: 0;">
					<dt>@Html.DisplayNameFor(m => m.DetailHeaderModel.Id)&nbsp;</dt>
					<dd>@Html.DisplayFor(m => m.DetailHeaderModel.Id)&nbsp;</dd>
					<dt>Attachments&nbsp;</dt>
					<dd>@Model.DetailHeaderModel.AttachmentsLink&nbsp;</dd>
					<dt>@Html.DisplayNameFor(m => m.DetailHeaderModel.RefNum)&nbsp;</dt>
					<dd>@Html.DisplayFor(m => m.DetailHeaderModel.RefNum)&nbsp;</dd>
					<dt>@Html.DisplayNameFor(m => m.DetailHeaderModel.Memo)&nbsp;</dt>
					<dd>@Html.DisplayFor(m => m.DetailHeaderModel.Memo)&nbsp;</dd>
				</dl>
			</div>
		</div>
		<div class="row" style="padding-top:10px;">
			<div class="col-sm-11 col-sm-offset-1">
				@Html.Raw(additionalItemsMark) Allow GLI to automatically transfer any additional items that may be required with this request
			</div>
		</div>
		<div class="row" style="padding-top:20px;">
			<div class="col-sm-6">
				<div class="form-horizontal">
					<div class="form-group">
						@Html.LabelFor(m => m.DetailHeaderModel.InternalMemo, new { @class = "control-label col-sm-3" })
						<div class="col-sm-9">
							@Html.TextAreaFor(m => m.DetailHeaderModel.InternalMemo, 3, 0, new { @class = "form-control" })
							@if (!processed)
							{
								<a id="SaveTransferRequest" href="#">Save Internal Memo</a>
								<span id="SavedMessage" class="text-success pull-right fade">Saved</span>
							}
						</div>
					</div>
				</div>
			</div>
			@if (!processed && !string.IsNullOrEmpty(Model.DetailHeaderModel.InternalEditUser))
			{
				<div class="col-sm-6 text-right dataenteredinfo">
					@Html.DisplayNameFor(m => m.DetailHeaderModel.InternalEditUser): @Model.DetailHeaderModel.InternalEditUser<br />
					@Html.DisplayNameFor(m => m.DetailHeaderModel.InternalEditDate): @Model.DetailHeaderModel.InternalEditDate.ToString("g")
				</div>
			}
		</div>
		@if (Model.DetailHeaderModel.AssociatedJurisdictions.Count > 0)
		{
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 alert alert-warning" style="margin-bottom:0;">
					<em><strong>Warning - The following associated jurisdictions will be added during processing:</strong></em><br />
					@foreach (var jurisdiction in Model.DetailHeaderModel.AssociatedJurisdictions)
					{
						@:@jurisdiction.Id @jurisdiction.Name<br />
					}
				</div>
			</div>
		}
	</div>
</div>

@Html.Trirand().JQGrid(Model.TransferRequestDetailGrid.Grid, "TransferRequestDetailGrid")

<form id="FormDetailEdit">
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.Partial("_DetailEdit", Model.DetailEditModel)
</form>

@Html.HiddenFor(m => m.DetailHeaderModel.Id)

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$(function () {
			var trdg = $("#TransferRequestDetailGrid");

			$('#SaveTransferRequest').on('click', function (e) {
				e.preventDefault();
				var transferRequestHeaderId = $('#DetailHeaderModel_Id').val();
				var internalMemo = $('#DetailHeaderModel_InternalMemo').val();
				var postData = { transferRequestHeaderId: transferRequestHeaderId, internalMemo: internalMemo };

				$.post('@Url.Action("Edit", "Transfer")', postData)
					.done(function (data) {
						$('#SavedMessage').addClass('in');
						setTimeout(function () {
							$('#SavedMessage').removeClass('in');
						}, 5000)
					});
			});

			$("#EditBtn").click(function () {
				if ($("#TransferRequestDetailGrid").jqGrid("getGridParam", "selarrrow").length == 0) {
					bootbox.alert("Please select the rows that you would like to edit.");
					return false;
				}

				var checkedRows = $("#TransferRequestDetailGrid").jqGrid("getGridParam", "selarrrow");

				var rowIds = [];
				$.each(checkedRows, function (i, item) {
					var rowData = trdg.jqGrid("getRowData", item);
					if (rowData.Status === 'Pending') {
						rowIds.push(item);
					}
				});

				var TransfersToUpdate = {};
				TransfersToUpdate["TransferIds"] = rowIds;

				var jsonData = JSON.stringify(TransfersToUpdate);

				$.ajax({
					url: '@Url.Action("GetMasterBillingInfo")',
					type: 'POST',
					dataType: 'json',
					data: jsonData,
					contentType: 'application/json; charset=utf-8'
				})
				.done(function (data) {
					var resultTable = "<table id='mbidResultsTable' class='table table-condensed'><thead><tr><th>Jurisdiction</th><th>Jurisdiction Id</th><th>File Number</th><th>Id Number</th><th>Date Code</th><th>Version</th><th>Letter Number</th><th>Billing Reference</th><th>Contract Number</th><th>WON</th><th>&nbsp;</th></tr></thead><tbody class='form-group form-group-sm'>";
					$.each(data, function (i, item) {
						resultTable += item;
					});
					resultTable += "</body></table>"
					$('#masterBillingResults').html(resultTable);
				});
			});

			$("#ClearBtn").click(function (e) {
				$("#TransferRequestDetailGrid").jqGrid("resetSelection");
			});

			//disabled checkboxes if they are not pending
			trdg.jqGrid("setGridParam", {
				gridComplete: function () {
					disableGridRows(this);
					$('.fa-file-text-o').popover();
				},
				loadComplete: function (data) {
					disableGridRows(this);
				},
				beforeSelectRow: function (rowId, e) {
					var disChkBox = $("tr#" + rowId + ".jqgrow > td > input.cbox:disabled", this);
					if (disChkBox.length === 0) {
						return true;
					} else {
						return false;
					}
				},
				onSelectAll: function (aRowids, status) {
					if (status) {
						$("tr.jqgrow > td > input.cbox:disabled", this).prop("checked", false);
						$("tr.jqgrow:has(td > input.cbox:disabled)", this).removeClass("ui-state-highlight");

						//update the field that holds the array of selected checkboxes
						this.p.selarrrow = trdg.find("tr.jqgrow:has(td > input.cbox:checked)")
							.map(function () { return this.id; })
							.get();
					}
				}
			});

			function disableGridRows(grid1) {
				var ids = trdg.jqGrid("getDataIDs");
				for (var i = 0; i < ids.length; i++) {
					var rowId = ids[i];
					var rowData = trdg.jqGrid("getRowData", rowId);

					if (rowData.Status != "Pending") {
						var chkBox = $("tr#" + rowId + ".jqgrow > td > input.cbox", grid1);
						chkBox.attr("disabled", true);
					}
				}
			}
		});

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function getFilters() {
			var filters = {};
			filters.TransferRequestId = $('#DetailHeaderModel_Id').val();
			return filters;
		}

		//grid links
		function notesLink(cellValue, options, rowObject) {
			if (cellValue.length > 0) {
				return '<i class="far fa-file-alt" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="' + cellValue + '"></i>';
			}
			else {
				return '';
			}
		}
	</script>
}