﻿@model Submissions.Web.Areas.Lookups.Models.LetterContentDefaultValueViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Letter Content Default Value";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}}


@using (Html.BeginForm("Edit", "LetterContentDefaultValues", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.JurisdictionId)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "LetterContentDefaultValues", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.JurisdictionId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.JurisdictionId, m => m.Jurisdiction, LookupAjax.Jurisdictions, false)
				@Html.ValidationMessageFor(model => model.JurisdictionId)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ReportTypeId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.ReportTypeId, m => m.ReportType, LookupAjax.LetterContentReportTypes, false)
				@Html.ValidationMessageFor(model => model.ReportTypeId)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.TestingResultId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.TestingResultId, m => m.TestingResult, LookupAjax.LetterContentTestingResult, false)
				@Html.ValidationMessageFor(model => model.TestingResultId)
			</div>
		</div>
		<div class="form-group form-group-sm">
			<label class="control-label col-sm-2">@Html.DisplayNameFor(m => m.LetterJurisdiction) <i class="fas fa-info-circle" title="This field overwrites the name of the jurisdiction in the letter."></i></label>
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.LetterJurisdiction, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.LetterJurisdiction)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.CheckBoxFor(m => m.Active, new { @class = "padcheckbox" })
			</div>
		</div>
	</div>
}