﻿@model Submissions.Web.Areas.Lookups.Models.AcumaticaBillWithAndCustomerExceptionEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Billwith and Customer Exception";
}

@using (Html.BeginForm("Edit", "AcumaticaBillWithAndCustomerExceptions", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.Active)
	<div class="row row-title">
		<div class="col-sm-6">
			<h3 class="form-h3">@ViewBag.Title </h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<button type="button" id="Save" class="btn btn-primary">Save</button>
			@Html.ActionLink("Cancel", "Index", "AcumaticaBillWithAndCustomerExceptions", null, new { @class = "btn btn-primary btn-sm" })
			@if (Model.Mode != Mode.Add)
			{
				<button type="button" id="Delete" class="btn btn-danger">Delete</button>
			}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading">
					<h3>Exception Definition</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.ManufacturerCode, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.LookupFor(m => m.ManufacturerCode, m => m.Manufacturer, LookupAjax.Manufacturers, true)
								@Html.ValidationMessageFor(m => m.ManufacturerCode)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.CompanyId, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.LookupFor(m => m.CompanyId, m => m.CompanyName, LookupAjax.Companies, true)
								@Html.ValidationMessageFor(m => m.CompanyId)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.ExceptionTypeId, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.LookupFor(m => m.ExceptionTypeId, m => m.ExceptionTypeName, LookupAjax.AcumaticaBillingExceptionTypes, true)
								@Html.ValidationMessageFor(m => m.ExceptionTypeId)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Jurisdiction, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.Jurisdiction, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Jurisdiction, "Jurisdiction must be 3 characters in length and consist only of numeric characters.")
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.TransferJurisdiction, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.TransferJurisdiction, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.TransferJurisdiction, "Transfer Jurisdiction must be 3 characters in length and consist only of numeric characters.")
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.ProjectCustomer, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.LookupFor(m => m.ProjectCustomer, m => m.Customer, LookupAjax.Manufacturers, false)
								@Html.ValidationMessageFor(m => m.ProjectCustomer)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.SelfBill, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.CheckBoxFor(m => m.SelfBill, new { @class = "form-control" })
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel">
				<div class="panel-heading">
					<h3>Billwith Segments</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Segment01, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.Segment01, new { @class = "form-control segment" })
								@Html.ValidationMessageFor(m => m.Segment01, "Segment 01 must be 2 characters in length and consist only of alphanumeric characters.")
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Segment02, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.Segment02, new { @class = "form-control segment" })
								@Html.ValidationMessageFor(m => m.Segment02, "Segment 02 must be 3 characters in length and consist only of numeric characters.")
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Segment03, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.Segment03, new { @class = "form-control segment" })
								@Html.ValidationMessageFor(m => m.Segment03, "Segment 03 must be 3 characters in length and consist only of alphanumeric characters.")
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Segment04, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.Segment04, new { @class = "form-control segment" })
								@Html.ValidationMessageFor(m => m.Segment04, "Segment 04 must be 2 characters in length and consist only of numeric characters.")
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Segment05, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.Segment05, new { @class = "form-control segment" })
								@Html.ValidationMessageFor(m => m.Segment05, "Segment 05 must be 3 characters in length and consist only of numeric characters.")
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Segment06, new { @class = "col-sm-2 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.Segment06, new { @class = "form-control segment" })
								@Html.ValidationMessageFor(m => m.Segment06, "Segment 06 must be 3 characters in length and consist only of numeric characters.")
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scripts{
	<script>
		function ToggleSegments(element, selfBill) {
			if (selfBill) {
				element.disabled = true;
				element.value = "";
				var next = $(element).next();
				if (next.hasClass('field-validation-error')) {
					next.removeClass('field-validation-error');
					next.addClass('field-validation-valid');
				}
			}
			else {
				element.disabled = false;
			}
		}

		function HandleSelfBillToggleSegments(selfBillIsChecked) {
			$("#LookupForm").validate().resetForm();
			$('.segment').each(function (index, element) {
				ToggleSegments(element, selfBillIsChecked);
			});
		}

		$('#Save').on('click', function () {
			bootbox.confirm("Save Changes ?", function (confirmed) {
				if (confirmed) {
					$('#LookupForm').submit();
				}
			})

		});

		$('#Delete').on('click', function (e) {
			 e.preventDefault();
			bootbox.confirm("Delete Exception ?", function (confirmed) {
				if (confirmed) {
					$('#LookupForm').attr('action', '@Url.Action("Delete", "AcumaticaBillWithAndCustomerExceptions")').submit();
				}
			})
		});

		$('#SelfBill').on('change', function (selfBill) {
			HandleSelfBillToggleSegments(selfBill.currentTarget.checked);
		});

		$(document).ready(function () {
			HandleSelfBillToggleSegments($('#SelfBill').prop('checked'));
		});
	</script>
}


