﻿@model Submissions.Web.Areas.Lookups.Models.AcumaticaBillWithAndCustomerExceptionsIndexViewModel
@section css{@Styles.Render("~/bundles/css/jqgrid")}
@{
	ViewBag.Title = "Acumatica Billwith and Customer Exceptions";
	ViewBag.FullWidth = false;
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6 ">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = Mode.Add }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
	</div>
</div>

@Html.Trirand().JQGrid(Model.AcumaticaBillWithAndCustomerExceptionsGrid.Grid, Model.AcumaticaBillWithAndCustomerExceptionsGrid.Grid.ID)

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		function editLink(cellValue, options, rowObject) {
			return '<a href="' + '@Url.Action("Edit", "AcumaticaBillWithAndCustomerExceptions")' + '/' + options.rowId + '?mode=Edit">Edit</a> <span class="text-normal">';
		}
	</script>
}
