﻿<template>
	<div>
		<!--Hey search area here-->
		<div class="panel panel-default hide-border">
			<div class="panel-heading center-text hide-border">
				<a data-toggle="collapse" href="#clauses">
					<h5 class="panel-title">
						Clause Search Filters
						<i class="indicator fa pull-right fa-chevron-circle-up hide-element"></i>
					</h5>
				</a>
			</div>
			<div class="panel-body collapse in hide-border" id="clauses">
				<div class="panel-group" id="accordion">
					<div class="row">
						<div :class="{ hidden:toggleAnyOrExact }" class="col-sm-4 form-group form-group-sm">
							<label class="control-label" for="exactSearch">Exact Search <button v-model="toggleAnyOrExact" class="btn btn-link toggle-text" @click="toggleAnyOrExact=!toggleAnyOrExact">Switch to any word match</button></label>
							<input v-model="filters.exactSearch" type="text" placeholder="Match this text exactly" class="form-control" />
						</div>
						<div :class="{ hidden:!toggleAnyOrExact }" class="col-sm-4 form-group form-group-sm">
							<label class="control-label" for="anyWordSearch">Any Word Search<button v-model="toggleAnyOrExact" class="btn btn-link toggle-text" @click="toggleAnyOrExact=!toggleAnyOrExact">Switch to exact match</button></label>
							<input v-model="filters.anyWordSearch" type="text" placeholder="Match any of these" class="form-control" />
						</div>
						<div class="col-sm-2 form-group form-group-sm">
							<label class="control-label" for="SearchLimit">Search Limit</label>
							<input v-model="filters.searchLimit" type="number" placeholder="0/blank will have no limit" class="form-control" />
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="language">Language</label>
							<SelectStandard id="Language"
											name="Language"
											v-model="filters.language"
											:options="filters.languages">
							</SelectStandard>
						</div>
						<div class="col-sm-4 form-group form-group-sm">
							<label class="control-label" for="CreationRangeStart">Creation Range:</label>
							<div class="row">
								<div class="col-sm-6"><DatePicker v-model="filters.creationRangeStart"></DatePicker></div>
								<div class="col-sm-6"><DatePicker v-model="filters.creationRangeEnd"></DatePicker></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 form-group form-group-sm">
							<label class="control-label" for="linkedValidations">Linked Validations</label>
							<input v-model="filters.linkedValidations" type="text" placeholder="Enter Validation IDs" class="form-control" />
						</div>
						<div class="col-sm-2 form-group form-group-sm">
							<label class="control-label" for="toggleButtons">Validation Match Type:</label>
							<FilterTypeToggle :name="validationFilterType"
											  :modelValue="filters.linkedValidationsAnyAll"
											  @updateFilterType="updateValidationFilterType">
							</FilterTypeToggle>
						</div>
						<div class="col-sm-2 form-group form-group-sm">
							<label class="control-label" for="DocumentIds">Documents</label>
							<LookupMultiple id="DocumentFilter" name="DocumentFilter" lookupajax="EvolutionDocuments" v-model="filters.documentIds" :options="filters.documents" :filter="{}" />
						</div>
						<div class="col-sm-2 form-group form-group-sm">
							<label class="control-label" for="toggleButtons">Document Match Type:</label>
							<FilterTypeToggle :name="documentFilterType"
											  :modelValue="filters.documentsAnyAll"
											  @updateFilterType="updatedocumentFilterType">
							</FilterTypeToggle>
						</div>
						<div class="col-sm-4 form-group form-group-sm">
							<label class="control-label" for="OriginalDateStart">Original Date Range:</label>
							<div class="row">
								<div class="col-sm-6"><DatePicker v-model="filters.originalDateStart"></DatePicker></div>
								<div class="col-sm-6"><DatePicker v-model="filters.originalDateEnd"></DatePicker></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 form-group form-group-sm">
							<label class="control-label" for="JurisdictionIds">Jurisdictions</label>
							<LookupMultiple id="JurisdictionFilter" name="JurisdictionFilter" lookupajax="Jurisdictions" v-model="filters.jurisdictionIds" :options="filters.jurisdictions" />
						</div>
						<div class="col-sm-2 form-group form-group-sm">
							<label class="control-label" for="toggleButtons">Match Type:</label>
							<FilterTypeToggle :name="jurisdictionFilterType"
											  :modelValue="filters.jurisdictionsAnyAll"
											  @updateFilterType="updateJurisdicitonFilterType">
							</FilterTypeToggle>
						</div>
						<div class="col-sm-2 form-group form-group-sm">
							<label class="control-label" for="TestCaseIds">Test Cases</label>
							<LookupMultiple id="TestCaseFilter" name="TestCaseFilter" lookupajax="TestCase" v-model="filters.testCaseIds" :options="filters.testCases" />
						</div>
						<div class="col-sm-2 form-group form-group-sm">
							<label class="control-label" for="toggleButtons">Match Type:</label>
							<FilterTypeToggle :name="testCaseFilterType"
											  :modelValue="filters.testCasesAnyAll"
											  @updateFilterType="updateTestCaseFilterType">
							</FilterTypeToggle>
						</div>
						<div class="col-sm-2 form-group form-group-sm">
							<label class="control-label" for="FunctionalRoleIds">Functional Roles</label>
							<LookupMultiple id="FunctionalRoleFilter" name="FunctionalRoleFilter" lookupajax="FunctionalRoles" v-model="filters.functionalRoleIds" :options="filters.functionalRoles" />
						</div>
						<div class="col-sm-2 form-group form-group-sm">
							<label class="control-label" for="toggleButtons">Match Type:</label>
							<FilterTypeToggle :name="functionalRoleFilterType"
											  :modelValue="filters.functionalRolesAnyAll"
											  @updateFilterType="updateFunctionalRoleFilterType">
							</FilterTypeToggle>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label class="control-label">State</label>
							<div>
								<input type="checkbox" v-model="filters.stateActive" /> Active &nbsp;
								<input type="checkbox" v-model="filters.stateInactive" /> Inactive &nbsp;
								<input type="checkbox" v-model="filters.statePreRelease" /> Pre-Release
							</div>
						</div>
						<div class="col-sm-3">
							<label class="control-label">Category</label>
							<div>
								<input type="checkbox" v-model="filters.categoryTestable" /> Testable &nbsp;
								<input type="checkbox" v-model="filters.categoryNonTestable" /> Non-Testable &nbsp;
								<input type="checkbox" v-model="filters.categoryUnset" /> Unset
							</div>
						</div>
						<div class="col-sm-3">
							<label class="control-label">Linked Validations</label>
							<div>
								<input type="checkbox" v-model="filters.linkedValidationRegular" /> Regular &nbsp;
								<input type="checkbox" v-model="filters.linkedValidationStandIn" /> Stand-In &nbsp;
								<input type="checkbox" v-model="filters.linkedValidationNone" /> None
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<!--<FilterYesNoToggle :label="'Is Locked'" :model="filters.isLocked" @updateFilterBool="updateIsLocked"></FilterYesNoToggle>-->
							<ThreeWayToggle  :label="'Is Locked'" :nullableBool="filters.isLocked" @updateFilterBool="updateIsLocked"></ThreeWayToggle>
						</div>
						<div class="col-sm-2">
							<!--<FilterYesNoToggle :label="'Has Linked Jurs'" :model="filters.hasLinkedJurs" @updateFilterBool="updateHasLinkedJurs"></FilterYesNoToggle>-->
							<ThreeWayToggle :label="'Has Linked Jurs'" :nullableBool="filters.hasLinkedJurs" @updateFilterBool="updateHasLinkedJurs"></ThreeWayToggle>
						</div>
						<div class="col-sm-2">
							<!--<FilterYesNoToggle :label="'Has Linked Docs'" :model="filters.hasLinkedDocs" @updateFilterBool="updateHasLinkedDocs"></FilterYesNoToggle>-->
							<ThreeWayToggle :label="'Has Linked Docs'" :nullableBool="filters.hasLinkedDocs" @updateFilterBool="updateHasLinkedDocs"></ThreeWayToggle>
						</div>
						<div class="col-sm-2">
							<!--<FilterYesNoToggle :label="'Has Original Date'" :model="filters.hasOriginalDate" @updateFilterBool="updateHasOriginalDate"></FilterYesNoToggle>-->
							<ThreeWayToggle :label="'Has Original Date'" :nullableBool="filters.hasOriginalDate" @updateFilterBool="updateHasOriginalDate"></ThreeWayToggle>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import DatePicker from '@/components/utility/DatePicker.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import FilterTypeToggle from '@/components/evolution/testcasemanager/FilterTypeToggle.vue';
	import FilterYesNoToggle from '@/components/evolution/testcasemanager/FilterYesNoToggle.vue';
	import ThreeWayToggle from '@/components/evolution/testcasemanager/ThreeWayToggle.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			LookupMultiple,
			DatePicker,
			SelectStandard,
			FilterTypeToggle,
			FilterYesNoToggle,
			ThreeWayToggle
		},
		computed: {
			...mapGetters([
			])
		},
		data: function() {
			return {
				filters: initialData.clauseSearch,
				toggleAnyOrExact: true,
				jurisdictionFilterType: 'jurisdictionFilterType',
				validationFilterType: 'validationFilterType',
				testCaseFilterType: 'testCaseFilterType',
				functionalRoleFilterType: 'functionalRoleFilterType',
				documentFilterType: 'documentFilterType',
				lockVal: 'No',
				linkedJurVal: 'No',
				linkedDocVal: 'No',
				dateVal:'No'
			}
		},
		methods: {
			updateValidationFilterType: function (newVal) {
				this.filters.linkedValidationsAnyAll = newVal;
			},
			updateJurisdicitonFilterType: function (newVal) {
				this.filters.jurisdictionsAnyAll = newVal;
			},
			updateTestCaseFilterType: function (newVal) {
				this.filters.testCaseAnyAll = newVal;
			},
			updateFunctionalRoleFilterType: function (newVal) {
				this.filters.functionalRolesAnyAll = newVal;
			},
			updatedocumentFilterType: function (newVal) {
				this.filters.documentsAnyAll = newVal;
			},
			updateHasOriginalDate: function (newVal) {
				this.filters.hasOriginalDate = newVal;
			},
			updateHasLinkedDocs: function (newVal) {
				this.filters.hasLinkedDocs = newVal;
			},
			updateIsLocked: function (newVal) {
				this.filters.isLocked = newVal;
				//console.log(newVal);
			},
			updateHasLinkedJurs: function (newVal) {
				this.filters.hasLinkedJurs = newVal;
			}
		},
		watch: {

		}
	}
</script>

<style scoped>
	.toggle-text{
		padding-top:0px;
		padding-bottom:0px;
		border-top:0px;
		border-bottom:0px;
	}
</style>
