﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-8">
				<h3>Add/Edit Clause</h3>
			</div>
			<div class="col-sm-4">
				<div class="btn-group pull-right">
					<a id="SaveClause" @click="SaveChanges" class="btn btn-primary btn-sm">Save</a>
					<a v-if="vm.mode != 'Add'" id="DeprecateClause" @click="DeprecateAndClone" class="btn btn-primary btn-sm">Deprecate and Clone</a>
					<a-link href="/evolution/tcmclause" class="btn btn-primary btn-sm">Cancel</a-link>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4">
								<label class="control-label" for="clauseState">State</label>
								<SelectStandard id="State" 
												name="clauseState" 
												v-model="vm.clauseState"
												:options="vm.clauseStates"
												@updateTextField="updateClauseState">
								</SelectStandard>
							</div>
							<div class="col-sm-4">
								<label class="control-label" for="clauseTestingType">Testing Type</label>
								<SelectStandard id="TestingType" 
												name="clauseTestingType" 
												v-model="vm.clauseTestingType"
												:options="vm.clauseTestingTypes"
												@updateTextField="updateClauseTestingType">
								</SelectStandard>
							</div>
							<div class="col-sm-4">
								<label class="control-label" for="clauseNativeLanguage">Native Language</label>
								<SelectStandard id="TestingType" 
												name="clauseNativeLanguage" 
												v-model="vm.clauseNativeLanguage"
												:options="vm.clauseNativeLanguages"
												@updateTextField="updateClauseNativeLanguage">
								</SelectStandard>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label class="control-label" for="SectionName">Section Name</label>
								<input id="SectionName" type="text" v-model="vm.sectionName" class="form-control" />
							</div>
							<div class="col-sm-4">
								<label class="control-label" for="SectionId">Section ID</label>
								<input id="SectionId" type="text" v-model="vm.sectionId" class="form-control" />
							</div>
							<div class="col-sm-4">
								<label class="control-label" for="ClauseNativeSectionName">Native Section Name</label>
								<input id="ClauseNativeSectionName" type="text" v-model="vm.clauseNativeSectionName" class="form-control" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8">
								<label class="control-label" for="ClauseText_English">Text (English)</label>
								<textarea id="ClauseText_English" v-model="vm.clauseText_English" class="form-control " />
							</div>
							<div class="col-sm-4">
								<label class="control-label" for="OriginalClauseDate">Original Clause Date</label>
								<DatePicker v-model="vm.originalClauseDate"></DatePicker>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8">
								<label class="control-label" for="ClauseNativeText">Text (Native)</label>
								<textarea id="ClauseNativeText" type="text" v-model="vm.clauseNativeText" class="form-control" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label class="control-label" for=" ClauseSpecificTestingNotes">Clause-Specific Testing Notes</label>
								<input id="ClauseSpecificTestingNotes" type="text" v-model="vm.clauseSpecificTestingNotes" class="form-control" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<label class="control-label" for="JurisdictionIds">Jurisdictions</label>
								<LookupMultiple id="Jurisdictions" name="Jurisdictions" lookupajax="Jurisdictions" v-model="vm.jurisdictionIds" :options="vm.jurisdictions" />
							</div>
							<div class="col-sm-6">
								<label class="control-label" for="DocumentIds">Documents</label>
								<LookupMultiple id="DocumentFilter" name="DocumentFilter" lookupajax="EvolutionDocuments" v-model="vm.documentIds" :options="vm.documents" :filter="{}" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<label class="control-label" for="QuestionIds">Questions</label>
								<LookupMultiple id="Questions" name="Questions" lookupajax="TestCase" v-model="vm.questionIds" :options="vm.questions" />
							</div>
							<div class="col-sm-6">
								<label class="control-label" for="RoleIds">Roles</label>
								<LookupMultiple id="Roles" name="Roles" lookupajax="FunctionalRoles" v-model="vm.roleIds" :options="vm.roles"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import ALink from '@/components/utility/ALink.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import DatePicker from '@/components/utility/DatePicker.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import api from '@/api/tcmclause';

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			ALink,
			SelectStandard,
			DatePicker,
			LookupMultiple
		},
		computed: {
			...mapGetters([
			])
		},
		data() {
			return {
				vm: initialData,
				home: indexUrl
			}
		},
		methods: {
			updateClauseState: function (val) {
				this.vm.clauseState = val;
			},
			updateClauseTestingType: function (val) {
				this.vm.clauseTestingType = val;
			},
			updateClauseNativeLanguage: function (val) {
				this.vm.clauseNativeLanguage = val;
			},
			SaveChanges: function () {
				api.postClauseData(this.vm)
					.then(response => {
						if (response.statusText == "OK") {
							location = this.home;
						}
					});
			},
			DeprecateAndClone: function () {
				api.deprecateAndCloneClause(this.vm)
					.then(response => {
						this.vm = JSON.parse(response.data);
					});
			}
		},
		watch: {
		}
	}
</script>

<style scoped>

</style>
