﻿<template>
	<div>
		<ModalHolder v-if="showRelatedClauseModal" :title="'Related Clauses'" @close="showRelatedClauseModal=false">
			<ResultsGrid :data="visibleRelatedClauses" :hideLoadSpinner="hideLoadSpinner" :categories="categories" :states="states" @showRelatedClause="ShowRelated" :hideColumn="true"></ResultsGrid>
		</ModalHolder>
	
		<div class="row row-title">
			<div class="col-sm-8">
				<h3>Clause</h3>
			</div>
			<div class="col-sm-4">
				<div class="btn-group pull-right">
					<button class="btn btn-primary btn-sm" id="searchButton" @click="SearchAndReset">Search</button>
					<a-link href="/evolution/tcmclause/edit?mode=Add" class="btn btn-primary btn-sm">Add New Clause</a-link>
				</div>
			</div>
		</div>
		<ClauseSearch></ClauseSearch>
		<div>
			<ul class="pagination">
				<li v-if="currentPage - 2 > 1"><a href="#Pagination" @click="updatePage(1, $event)">First</a></li>

				<li v-for="num in pages">
					<a href="#Pagination" :class="{ hidden: !(num < currentPage+3 && num > currentPage - 3), active:num==currentPage}" @click="updatePage(num, $event)">{{num}}</a>
				</li>

				<li v-if="currentPage + 2 < pages.length"><a href="#Pagination" @click="updatePage(pages.length, $event)">Last</a></li>
			</ul>
		</div>
		<ResultsGrid :data="searchResults.clauses" :hideLoadSpinner="hideLoadSpinner" :categories="categories" :states="states" @showRelatedClause="ShowRelated" :hideColumn="false"></ResultsGrid>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import ALink from '@/components/utility/ALink.vue';
	import ClauseSearch from '@/components/evolution/testcasemanager/clause/ClauseSearch.vue';
	import ResultsGrid from '@/components/evolution/testcasemanager/clause/ResultsGrid.vue';
	import api from '@/api/tcmclause';
	import ModalHolder from '@/components/evolution/testcasemanager/ModalHolder.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			ALink,
			ClauseSearch,
			ResultsGrid,
			ModalHolder
		},
		computed: {
			...mapGetters([
			])
		},
		data: function() {
			return {
				vm: initialData,
				searchResults: [],
				pages: [1],
				currentPage: 1,
				hideLoadSpinner: true,
				categories: categories,
				states: states,
				showRelatedClauseModal:false,
				visibleRelatedClauses: []
			}
		},
		methods: {
			SearchMethod: function () {
				this.hideLoadSpinner = false;
				api.loadClauseSearchResults(this.vm.clauseSearch)
					.then(response => {
						this.hideLoadSpinner = true;
						var resData = JSON.parse(response.data);
						this.searchResults = resData;
					});
			},
			updatePage: function (pageNum, event) {
				event.preventDefault();
				this.currentPage = pageNum;
				this.vm.clauseSearch.page = this.currentPage;
				this.SearchMethod();
			},
			ResetCurrent: function () {
				this.currentPage = 1;
			},
			SearchAndReset: function () {
				this.SearchMethod();
				this.ResetCurrent();
			},
			ShowRelated: function (resultsObj) {
				api.loadRelatedClauseData(resultsObj)
					.then(response => {
						var relatedClauseData = JSON.parse(response.data);
						if (relatedClauseData.length > 0) {
							console.log(relatedClauseData);
							this.showRelatedClauseModal = true;
							this.visibleRelatedClauses = relatedClauseData;
						}
					});
			},
			CloseRelatedModal: function () {
				this.visibleRelatedClauses = [];
			}
		},
		watch: {
			 searchResults: function() {
				 this.pages = [1];
				 if (this.searchResults.pageCount > 1) {
					 for (var i = 2; i < this.searchResults.pageCount + 1; i++) {
						 this.pages.push(i);
					 }
				 }
			},
			'vm.clauseSearch.searchLimit': function () {
				this.vm.clauseSearch.page = 1;
			}
		}
	}
</script>

<style scoped>
</style>

