﻿<template>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col" v-for="item in keys">{{item}}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="row in gridList">
					<td v-for="item in keys">
						{{row[item]}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	import { createdNamespacedHelpers } from 'vuex';

	export default {
		props: ['gridList' ],
		data: function () {
			return {
				keys: this.gridList.length > 0 ? Object.keys(this.gridList[0]) : []
			}
		}
	}

</script>