﻿<template>
	<div>
		
		<ModalHolder v-if="showModal" @close="showModal = false" >
			<MiniGrid  :gridList="currentMiniGridData" ></MiniGrid>
		</ModalHolder>
		<div class="panel panel-default hide-border">
			<div class="panel-heading center-text hide-border">
				<a data-toggle="collapse" href="#Results">
					<h5 class="panel-title">
						Clause Search Results
						<i class="indicator fa pull-right fa-chevron-circle-up hide-element"></i>
					</h5>
				</a>
			</div>
			<div class="panel-body collapse in hide-border" id="Results">
				<div class="panel-group" id="accordion">
					<div :class="{ hidden: hideLoadSpinner }" class="text-center">
						<i class="fas fa-spinner fa-pulse fa-5x"></i>
					</div>
					<table id="MainResults" class="table table-hover" :class="{ hidden: !hideLoadSpinner }">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">State</th>
								<th scope="col">Category</th>
								<th scope="col">Section ID</th>
								<th scope="col">Section Name</th>
								<th scope="col">Clause Text</th>
								<th scope="col" :class="{hidden: hideColumn}">Related Clauses</th>
								<th scope="col">Linked Documents</th>
								<th scope="col">Linked Jurisdictions</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in data">
								<td>{{item.normalizedId}}</td>
								<td>{{states[item.state]}}</td>
								<td>{{categories[item.category]}}</td>
								<td>{{item.section}}</td>
								<td>{{item.sectionName}}</td>
								<td class="clause-textbox">{{item.memo}}</td>
								<td :class="{hidden: hideColumn}"><button class="relatedClauses" @click="ShowRelatedClauses(item.sectionName, item.documents)">Show related Clauses</button></td>
								<td><button class="docGrid" @click="ShowLinkedProps(item.documents)">Show Linked Docs</button></td>
								<td><button class="jurGrid" @click="ShowLinkedProps(item.jurisdictions)">Show Linked Jurs</button></td>
								<td><a @click="OpenEdit(item.normalizedId)" href="#">Edit</a></td>
							</tr>
						</tbody>
					</table>
					<table id="TotalsResults"></table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	import ALink from '@/components/utility/ALink.vue';
	import MiniGrid from '@/components/evolution/testcasemanager/clause/MiniGrid.vue';
	import ModalHolder from '@/components/evolution/testcasemanager/ModalHolder.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		props: ['data', 'hideLoadSpinner', 'categories', 'states', 'hideColumn'],
		components: {
			ALink,
			MiniGrid,
			ModalHolder
		},
		computed: {
			...mapGetters([
			])
		},
		data: function() {
			return {
				currentMiniGridData: [],
				showModal: false
			}
		},
		methods: {
			ShowLinkedProps: function (gridList) {
				if (gridList != null && gridList.length > 0) {
					this.currentMiniGridData = gridList;
				}
				else {
					this.currentMiniGridData = [{'Nothing':'No linked values'}]
				}
				this.showModal = true;
			},
			ShowRelatedClauses: function (sectionName, documents) {
				this.$emit('showRelatedClause', { sectionName: sectionName, documents: documents });
			},
			OpenEdit: function (normId){
				window.open('tcmclause/edit?id=' + normId + '&mode=Edit');
			}
		},
		watch: {

		}
	}
</script>

<style scoped>
	.clause-textbox{
		width:33%;
	}
	.panel-body{
		max-height: 500px;
		overflow-y: scroll;
	}
</style>
