﻿@model Submissions.Web.Areas.Submission.Models.JurisdictionalData.JurisdictionAddEditViewModel
@{
	if (Model.Mode == Mode.Add.ToString())
	{
		ViewBag.Title = "GLI - Add a Jurisdiction";
	}
	else
	{
		ViewBag.Title = "GLI - Edit Jurisdictions";
	}
	ViewBag.FullWidth = true;
	Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));

		function setPDFPath(jurisdictionDataId, webPath, gpsPath) {
			for (var i = 0; i < initialData.jurisdictions.length; i++) {
				if (initialData.jurisdictions[i].id == jurisdictionDataId) {
					initialData.jurisdictions[i].pdfPath = webPath
					initialData.jurisdictions[i].jurisdictionGPSPDF = gpsPath
				}
			}
		}
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}

