﻿@model Submissions.Web.Areas.Lookups.Models.TaskTemplateIndexViewModel

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}

@{
	ViewBag.Title = "Task Template";
}

<div class="row row-title">
	<div class="col-sm-6 ">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = Mode.Add }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.TaskTemplateGrid.Grid, Model.TaskTemplateGrid.Grid.ID)
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		function editLink(cellValue, options, rowObject) {
			var link = "";
			if ("@Util.HasAccess(Permission.Admin, AccessRight.Edit)" == "True" || rowObject[$(this).getColumnIndexByName("UserId")] == "@GLISession.User.Id") {

				link = '<a href="' + '@Url.Action("Edit", "TaskTemplates")' + '/?id=' + options.rowId + '&mode=Edit">Edit</a><span class="text-normal"> |</span> ' + '<a href="' + '@Url.Action("Edit", "TaskTemplates")' + '/?id=' + options.rowId + '&mode=Add">Copy</a><span class="text-normal"> |</span> ' + '<a class="CheckDelete" href="' + '@Url.Action("CheckDelete", "TaskTemplates", new { area = "Lookups" })' + '" id="' + options.rowId + '">Delete</a>'

			}
			else {
				link = '<a href="' + '@Url.Action("Edit", "TaskTemplates")' + '/?id=' + options.rowId + '&mode=Edit">View</a>'
			}

			return link;
		}

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			$(this).jqGrid('setGridParam', { postData: postData });
		}
	</script>
}