﻿@model Submissions.Web.Areas.Submission.Models.Submission.AddViewModel
@{
	ViewBag.Title = "Add Record";
	ViewBag.FullWidth = true;
}

<div id="app"></div>

@section scripts {
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}