﻿@model Submissions.Web.Areas.Submission.Models.Submission.EditViewModel

@section css{
	<style>
		.form-control-static {
			padding-left: 0 !important;
		}

		.group-copyfield {
			display: flex;
		}

		.copychk {
			margin-left: 6px !important;
		}

		.copychk-hidden {
			display: none;
		}
	</style>
}

@{
	ViewBag.Title = Model.Mode + " Submission";
	ViewBag.FullWidth = true;
}

<div id="app"></div>

@section scripts {
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}