﻿@model Submissions.Web.Areas.Submission.Models.Submission.SummaryViewModel

@section css{
	<style>
		.panel-heading {
			padding: 2px 4px;
			font-size: 12px;
		}

		.panel-body {
			padding: 3px;
		}

		#SummaryPanel table {
			margin-bottom: 0 !important;
			font-size: 11px;
		}

		.table-submission {
			margin-left: 10px;
		}

			.table-submission td:first-child {
				font-weight: bold;
				padding-right: 10px;
			}

		.table-subtable {
			min-width: 350px;
		}

			.table-subtable th, .table-subtable td {
				padding: 3px !important;
				padding-right: 20px !important;
			}

		.record-count {
			font-size: 10px;
			font-style: italic;
			padding-top: 2px;
			color: #808080;
		}

		@@media print {
			body, table, tr, td {
				font-size: .85em;
			}
		}
	</style>
}

@{
	ViewBag.FullWidth = true;
	ViewBag.Title = "Submission Summary";
}

<div class="row row-title">
	<div class="col-sm-4">
		<h3>@ViewBag.Title <small>@Model.FileNumber</small></h3>
	</div>
	<div class="col-sm-4 text-center hidden-print" style="padding-top:15px;">
		<a id="ShowJurisdictions" class="pointer">Hide Jurisdictions</a> &nbsp;|&nbsp; <a id="ShowSignatures" class="pointer">Hide Signatures</a>
	</div>
	<div class="col-sm-4 form-buttons">
		<button class="btn btn-sm btn-primary btn-print hidden-print">Print</button>
		<button class="btn btn-sm btn-primary btn-close hidden-print">Close</button>
	</div>
</div>

@{ int i = 1; }
@foreach (var sub in Model.Submissions)
{
	<div class="row">
		<div class="col-sm-12">
			<div id="SummaryPanel" class="panel panel-default">
				<div class="panel-heading"><strong>@i. Submission</strong></div>
				<div class="panel-body">
					<table class="table-submission">
						<tr>
							<td>ID Number</td>
							<td>@sub.IdNumber</td>
						</tr>
						<tr>
							<td>Game Name</td>
							<td>@sub.GameName</td>
						</tr>
						<tr>
							<td>Date Code</td>
							<td>@sub.DateCode</td>
						</tr>
						<tr>
							<td>Position</td>
							<td>@sub.Position</td>
						</tr>
					</table>
					<br />
					<table>
						<tr>
							<td colspan="2" class="panel-jurisdiction" style="vertical-align:top;">
								<div class="panel panel-default" style="margin-left: 10px;">
									<div class="panel-heading">Jurisdictions <span class="pull-right record-count">Records: @sub.Jurisdictions.Count</span></div>
									<div class="panel-body">
										<table class="table table-condensed table-striped table-subtable">
											<thead>
												<tr>
													<th>Jurisdiction</th>
													<th>Submit Date</th>
													<th>Receive Date</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												@if (sub.Jurisdictions.Count == 0)
												{
													<tr><td colspan="4" class="norecords">No Records Found</td></tr>
												}
												@foreach (var jur in sub.Jurisdictions)
												{
													<tr>
														<td>@jur.Name<span class="dd-ch">@jur.JurisdictionId</span></td>
														<td>@jur.SubmitDate.ToString("d")</td>
														<td>@jur.ReceiveDate.ToString("d")</td>
														<td>@jur.Status</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
							</td>
							<td colspan="2" class="panel-signature" style="vertical-align:top;">
								<div class="panel panel-default" style="margin-left: 10px;">
									<div class="panel-heading">Signatures <span class="pull-right record-count">Records: @sub.Signatures.Count</span></div>
									<div class="panel-body">
										<table class="table table-condensed table-striped table-subtable">
											<thead>
												<tr>
													<th>Type</th>
													<th>Scope</th>
													<th>Signature</th>
													<th>Version</th>
													@if (sub.ShowSigFilePath)
													{
														<th>FilePath</th>
													}
												</tr>
											</thead>
											<tbody>
												@if (sub.Signatures.Count == 0)
												{
													<tr><td colspan="4" class="norecords">No Records Found</td></tr>
												}
												@foreach (var sig in sub.Signatures)
												{
													<tr>
														<td>@sig.Type</td>
														<td>@sig.Scope</td>
														<td>@sig.Signature</td>
														<td>@sig.Version</td>
														@if (sub.ShowSigFilePath)
														{
															<td>@sig.FilePath</td>
														}
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	i++;
}

<div class="row">
	<div class="col-sm-12 form-buttons">
		<button class="btn btn-sm btn-primary btn-print hidden-print">Print</button>
		<button class="btn btn-sm btn-primary btn-close hidden-print">Close</button>
	</div>
</div>

@section scripts{
	<script>
		$(function () {
			$('.btn-print').on('click', function () {
				window.print();
			});

			$('.btn-close').on('click', function () {
				window.open('', '_self', '');
				window.close();
			});

			$('#ShowJurisdictions').on('click', function (e) {
				e.preventDefault();

				var self = $(this);
				if (self.text() === 'Show Jurisdictions') {
					$(self).text('Hide Jurisdictions');
				}
				else {
					$(self).text('Show Jurisdictions');
				}

				$('.panel-jurisdiction').toggle();
			});

			$('#ShowSignatures').on('click', function (e) {
				e.preventDefault();

				var self = $(this);
				if (self.text() === 'Show Signatures') {
					$(self).text('Hide Signatures');
				}
				else {
					$(self).text('Show Signatures');
				}

				$('.panel-signature').toggle();
			});
		});
	</script>
}
