﻿<template>

	<tr>
		<td>{{ coversheet.mathFileNumber }}</td>
		<td style="word-wrap: break-word">{{ coversheet.paytableId }}</td>
		<td>{{ coversheet.themeName }}</td>
		<td><base-input v-model="coversheet.maxBet" :disabled="permissionSet.answerLockEngaged" /></td>
		<td>{{formatToPercent(coversheet.minReturn,2 )}} - {{formatToPercent(coversheet.maxReturn,  2)}}</td>
		<td v-if="letterPreviewJurisdiction == 231 || letterPreviewJurisdiction == 50">{{(letterPreviewJurisdiction == 231)? formatToPercent(coversheet.mdAverage, 2 ) : formatToPercent(coversheet.deAverage, 2 )}}</td>
		<td>{{formatToPercent(coversheet.minReturnExcludingProgressive, 2)}} - {{formatToPercent(coversheet.maxReturnExcludingProgressive, 2)}}</td>
		<td>{{coversheet.paWorstOddsRounded}}</td>
		<td v-if="isProjectiGaming"><base-input  v-model="coversheet.minSupplierReturn" :disabled="permissionSet.answerLockEngaged" /></td>
		<td v-if="isProjectiGaming"><base-input v-model="coversheet.maxSupplierReturn" :disabled="permissionSet.answerLockEngaged" /></td>
		<td v-if="isProjectiGaming"><base-input  v-model="coversheet.minInGameReturn" :disabled="permissionSet.answerLockEngaged" /></td>
		<td v-if="isProjectiGaming"><base-input v-model="coversheet.maxInGameReturn" :disabled="permissionSet.answerLockEngaged" /></td>
		<td class="letter-generation__tooltip" @click="onShowDetails(coversheet)">
			<i class="fa fa-search" aria-hidden="true"></i>
		</td>
	</tr>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import MEITable from '@/components/documents/generate/Coversheet/MEITable.vue'
	import api from '@/api/documents/coversheet'
	import Question from '@/components/documents/generate/LetterQuestions/Question.vue';

	export default {
		props: {
			coversheet: {
				required: true
			},
			headings: {
				required: true
			},
			rowIndex: {
				required: true
			}
		},
		data() {
			return {
				showMeis: false
			}
		},
		components: {
			MEITable,
			Question
		},
		computed: {
			...letterGetters([
				'paytableIdMemos'
			]),
			...mapGetters([
				'letterPreviewJurisdiction',
				'permissionSet'
			]),
			...sourceGetters([
				'isProjectiGaming'
			])

		},
		methods: {
			formatToPercent: function (value, digits) {
				return this.$format.percentage(value, { minimumFractionDigits: digits });
			},
			controlsForPaytable: function (memo, paytableId) {
				return memo.sourceItemTargets
					.filter(sit => sit.id === paytableId && isNotNull(sit.letterContentControls) && sit.letterContentControls.length > 0)
					.selectMany(sit => sit.letterContentControls)
					.filter(control => isNotNull(control));
			},
			delete: function (index, meiId) {
				api.deleteMathEngineeringInfo(meiId)
					.then(() => {
						this.meis.splice(index, 1);

					})
					.finally(() => throttledDelete.cancel());
			},
			onShowDetails: function (detail) {
				this.$emit('showDetail', { detail: detail });
			},
			onToggleShowMeis: function () {
				this.showMeis = !this.showMeis;
			},
		}
	}
</script>
<style lang="scss" scoped>
	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";
</style>