﻿<template>
	<div class="letter-generation__section-card">
		<base-modal v-if="showBulkUpdate">
			<template v-slot:header>
				Bulk Update
			</template>
			<template v-slot:default>

				<base-field-labels title="Max Bet"
								   helpText="Providing a Max Bet value here will apply this to all paytables.">
					<base-input v-model="bulkUpdate.maxBet"></base-input>
				</base-field-labels>
				<base-field-labels v-if="isProjectiGaming" title="Min Supplier RTP"
								   helpText="Providing a Min Supplier RTP value here will apply this to all paytables.">
					<base-input v-model="bulkUpdate.minSupplierReturn"></base-input>
				</base-field-labels>
				<base-field-labels v-if="isProjectiGaming" title="Max Supplier RTP"
								   helpText="Providing a Max Supplier RTP value here will apply this to all paytables.">
					<base-input v-model="bulkUpdate.maxSupplierReturn"></base-input>
				</base-field-labels>
				<base-field-labels v-if="isProjectiGaming" title="Min In Game RTP"
								   helpText="Providing a Min In Game value here will apply this to all paytables.">
					<base-input v-model="bulkUpdate.minInGameReturn"></base-input>
				</base-field-labels>
				<base-field-labels v-if="isProjectiGaming" title="Max In Game RTP"
								   helpText="Providing a Max In Game value here will apply this to all paytables.">
					<base-input v-model="bulkUpdate.maxInGameReturn"></base-input>
				</base-field-labels>
			</template>
			<template v-slot:actions>
				<base-button class="gli-base-modal-default-button"
							 @click="() => handle__close()">
					Close
				</base-button>
				<base-button is-primary
							 class="gli-base-modal-default-button"
							 @click="() => handle__bulkUpdate()">
					Update
				</base-button>
			</template>
		</base-modal>
		<base-button isPrimary @click="handle__savePaytables" :disabled="permissionSet.answerLockEngaged || !dirtyPaytablesExist">Save Paytables</base-button>
		<base-button @click="showBulkUpdate = true" :disabled="permissionSet.answerLockEngaged">Bulk Update</base-button>
		<div v-if="dirtyPaytablesExist" class="warning-container"><p class="warning-text">You have unsaved paytable changes.</p></div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th v-for="heading in headings">
						{{
 heading
						}}
					</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<template v-if="!isSaving">
					<CoversheetTableItem v-for="(paytable, index) in paytables"
										 :key="paytable.id"
										 :rowIndex="index"
										 :coversheet="paytable"
										 :headings="meiHeadings"
										 @showDetail="(payload) => handle__showDetail(payload)" />
				</template>
				<template v-else>
					<i class="fa fa-spinner fa-spin"></i>
				</template>
			</tbody>
		</table>
		<CoversheetDetail v-if="showDetailComponent"
						  @close="showDetailComponent = false"
						  :coversheet="detail" />
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import CoversheetDetail from '@/components/documents/generate/Coversheet/CoversheetDetail.vue'
	import CoversheetTableItem from '@/components/documents/generate/Coversheet/CoversheetTableItem.vue'
	import api from '@/api/documents/coversheet'
	import generateAPI from '@/api/documents/generate'

	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	export default {
		props: {

		},
		components: {
			CoversheetDetail,
			CoversheetTableItem
		},
		data() {
			return {
				bulkUpdate: {
					maxBet: null,
					minSupplierReturn: null,
					supplierMaxRTP: null,
					inGameMinRTP: null,
					inGameMaxRTP: null
				},
				isSaving: false,
				detail: {},
				showBulkUpdate: false,
				showDetailComponent: false,
				coversheets: null,
				//I'll make these dynamic later. They were already hard-coded in MathCoversheetViewModel anyway
				sourceHeadings: ["Math FileNumber",
					"Paytable Id",
					"Theme Name",
					"Max Bet",
					"GLI's RTP %",
					"Weighted Average",
					"RTP without Increment Rate",
					"Worst Odds",
					"Supplier Min RTP",
					"Supplier Max RTP",
					"In Game Min RTP",
					"In Game Max RTP",
				],
				meiHeadings: ["Math FileNumber",
					"Paytable Id",
					"Theme Name",
					"Max Bet",
					"GLI's RTP %",
					"Skill Game",
					"Weighted Average",
					"RTP without Increment Rate",
					"Worst Odds"],
			}
		},
		computed: {
			headings: function () {
				let showHeadings = [];
				showHeadings.push.apply(showHeadings, this.sourceHeadings);
				if (this.letterPreviewJurisdiction !== 231 && this.letterPreviewJurisdiction !== 50) {
					showHeadings.splice(showHeadings.indexOf("Weighted Average"), 1);
				}
				if (!this.isProjectiGaming) {
					showHeadings.splice(showHeadings.indexOf("Supplier Min RTP"), 1);
					showHeadings.splice(showHeadings.indexOf("Supplier Max RTP"), 1);
					showHeadings.splice(showHeadings.indexOf("In Game Min RTP"), 1);
					showHeadings.splice(showHeadings.indexOf("In Game Max RTP"), 1);
				}
				return showHeadings;
			},
			...sourceGetters([
				'paytables',
				'isProjectiGaming'
			]),
			...mapGetters([
				'letterPreviewJurisdiction',
				'permissionSet'
			]),
			dirtyPaytablesExist: function () {
				return this.paytables.some(x => x.maxBetIsDirty() || x.minSupplierReturnIsDirty() || x.maxSupplierReturnIsDirty() || x.minInGameReturnIsDirty() || x.maxInGameReturnIsDirty());
			}
		},
		created() {
		},
		methods: {
			...mapActions(['setSavingPayTables']),
			...sourceActions(['bulkUpdate_paytables', 'resetOriginalsFor_paytables']),
			handle__showDetail: function (payload) {
				this.showDetailComponent = true;
				this.detail = payload.detail;
			},
			handle__savePaytables: async function () {
				this.isSaving = true;
				let payload = this.paytables;
				await generateAPI.savePaytables(payload);
				this.resetOriginalsFor_paytables();
				this.isSaving = false;
			},
			handle__bulkUpdate: function () {
				this.bulkUpdate_paytables(
					{
						maxBet: this.bulkUpdate.maxBet == null || this.bulkUpdate.maxBet == undefined ? null : this.bulkUpdate.maxBet,
						minSupplierReturn: this.bulkUpdate.minSupplierReturn == null || this.bulkUpdate.minSupplierReturn == undefined ? null : this.bulkUpdate.minSupplierReturn,
						maxSupplierReturn: this.bulkUpdate.maxSupplierReturn == null || this.bulkUpdate.maxSupplierReturn == undefined ? null : this.bulkUpdate.maxSupplierReturn,
						minInGameReturn: this.bulkUpdate.minInGameReturn == null || this.bulkUpdate.minInGameReturn == undefined ? null : this.bulkUpdate.minInGameReturn,
						maxInGameReturn: this.bulkUpdate.maxInGameReturn == null || this.bulkUpdate.maxInGameReturn == undefined ? null : this.bulkUpdate.maxInGameReturn,
						setNewOrig: false
					}
				);
				this.bulkUpdate.maxBet = null;
				this.bulkUpdate.minSupplierReturn = null;
				this.bulkUpdate.maxSupplierReturn = null;
				this.bulkUpdate.minInGameReturn = null;
				this.bulkUpdate.maxInGameReturn = null;
				this.handle__close();
			},
			handle__close: function () {
				this.showBulkUpdate = false;
			},
		},
	}
</script>
<style scoped>
	.warning-container {
		margin-top: 5px;
	}

	.warning-text {
		font-weight: bold;
		color: red;
	}
</style>