﻿<template>
	<div ref="CoversheetDetail" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn btn-primary pull-right" @click="onCloseClick()">Close</button>
					<div class="col-sm-12">
						<h3 class="modal-title">Math FileNumber: {{coversheet.mathFileNumber}}</h3>
					</div>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Paytable Id:</label>
							<div class="col-sm-8">
								<p>{{coversheet.paytableId}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Type:</label>
							<div class="col-sm-8">
								<p>{{coversheet.type}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">ThemeName:</label>
							<div class="col-sm-8">
								<p>{{coversheet.themeName}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">State:</label>
							<div class="col-sm-8">
								<p>{{coversheet.state}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">State Date:</label>
							<div class="col-sm-8">
								<p>{{coversheet.stateDate}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">MinBet:</label>
							<div class="col-sm-8">
								<p>{{coversheet.minBet}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">MaxBet:</label>
							<div class="col-sm-8">
								<p>{{coversheet.maxBet}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Wide Area Progressive:</label>
							<div class="col-sm-8">
								<p>{{coversheet.wideAreaProgressive}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">MinReturn:</label>
							<div class="col-sm-8">
								<p>{{coversheet.minReturn}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Min Return Excluding Progressive:</label>
							<div class="col-sm-8">
								<p>{{coversheet.minReturnExcludingProgressive}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Max Return:</label>
							<div class="col-sm-8">
								<p>{{coversheet.maxReturn}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Max Return Excluding Progressive:</label>
							<div class="col-sm-8">
								<p>{{coversheet.maxReturnExcludingProgressive}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">AverageReturn:</label>
							<div class="col-sm-8">
								<p>{{coversheet.averageReturn}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Max Probability With Progressive:</label>
							<div class="col-sm-8">
								<p>{{coversheet.maxProbabilityWithProgressive}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Jurisdictional Odds:</label>
							<div class="col-sm-8">
								<p>{{coversheet.jurisdictionalOdds}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Analysis:</label>
							<div class="col-sm-8">
								<p>{{coversheet.analysis}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Linked Odds:</label>
							<div class="col-sm-8">
								<p>{{coversheet.linkedOdds}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Cycle:</label>
							<div class="col-sm-8">
								<p>{{coversheet.cycleString}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Max Award:</label>
							<div class="col-sm-8">
								<p>{{coversheet.maxAward}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">PA Worst Odds Description:</label>
							<div class="col-sm-8">
								<p>{{coversheet.paWorstOddsDescription}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">PA Worst Odds Calculation Description:</label>
							<div class="col-sm-8">
								<p>{{coversheet.paWorstOddsCalculationDescription}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">MO Lower Bound:</label>
							<div class="col-sm-8">
								<p>{{coversheet.moLowerBound}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">DE Average:</label>
							<div class="col-sm-8">
								<p>{{coversheet.deAverage}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Top Award Hits:</label>
							<div class="col-sm-8">
								<p>{{coversheet.topAwardHitsString}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Top Award Progressive Hits:</label>
							<div class="col-sm-8">
								<p>{{coversheet.topAwardProgressiveHitsString}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Special Notes:</label>
							<div class="col-sm-8">
								<p>{{coversheet.specialNotes}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Math Notes:</label>
							<div class="col-sm-8">
								<p>{{coversheet.mathNotes}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">MD Average:</label>
							<div class="col-sm-8">
								<p>{{coversheet.mdAverage}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Mathematician:</label>
							<div class="col-sm-8">
								<p>{{coversheet.mathematician}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Original Mathematician:</label>
							<div class="col-sm-8">
								<p>{{coversheet.originalMathematician}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Program ID:</label>
							<div class="col-sm-8">
								<p>{{coversheet.programID}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Math FileNumber:</label>
							<div class="col-sm-8">
								<p>{{coversheet.mathFileNumber}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Original Math FileNumber:</label>
							<div class="col-sm-8">
								<p>{{coversheet.originalMathFileNumber}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Coversheet Version:</label>
							<div class="col-sm-8">
								<p>{{coversheet.coversheetVersion}}</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Player Strategy In Calculations:</label>
							<div class="col-sm-8">
								<p>{{coversheet.playerStrategyInCalculations}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">MWAP:</label>
							<div class="col-sm-8">
								<p>{{coversheet.mwap}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Configurable Progressive:</label>
							<div class="col-sm-8">
								<p>{{coversheet.configurableProgressive}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Can Disable Progressive:</label>
							<div class="col-sm-8">
								<p>{{coversheet.canDisableProgressive}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">RI Denom:</label>
							<div class="col-sm-8">
								<p>{{coversheet.riDenom}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Free Games 99:</label>
							<div class="col-sm-8">
								<p>{{coversheet.freeGames99}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Equal Weighted Lines:</label>
							<div class="col-sm-8">
								<p>{{coversheet.equalWeightedLines}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Equal Weighted Symbols:</label>
							<div class="col-sm-8">
								<p>{{coversheet.equalWeightedSymbols}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Player Choice Ratio:</label>
							<div class="col-sm-8">
								<p>{{coversheet.playerChoiceRatio}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Skill Game:</label>
							<div class="col-sm-8">
								<p>{{coversheet.skillGame}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Base Hit Rate:</label>
							<div class="col-sm-8">
								<p>{{coversheet.baseHitRate}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Prog Reset Configurable:</label>
							<div class="col-sm-8">
								<p>{{coversheet.progResetConfigurable}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Prog Increment Configurable:</label>
							<div class="col-sm-8">
								<p>{{coversheet.progIncrementConfigurable}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Prog Reset At 0:</label>
							<div class="col-sm-8">
								<p>{{coversheet.progResetAt0}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Prog Increment At 0:</label>
							<div class="col-sm-8">
								<p>{{coversheet.progIncrementAt0}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Min Reset Used:</label>
							<div class="col-sm-8">
								<p>{{coversheet.minResetUsed}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Min Increment Used:</label>
							<div class="col-sm-8">
								<p>{{coversheet.minIncrementUsed}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">PA 1 in 50:</label>
							<div class="col-sm-8">
								<p>{{coversheet.pA1in50}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">NV 1 in 100:</label>
							<div class="col-sm-8">
								<p>{{coversheet.nV1in100}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Advertised Awards Available:</label>
							<div class="col-sm-8">
								<p>{{coversheet.advertisedAwardsAvailable}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">PARTP Decrease:</label>
							<div class="col-sm-8">
								<p>{{coversheet.partpDecrease}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">PA Worst Odds:</label>
							<div class="col-sm-8">
								<p>{{coversheet.paWorstOdds}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Progressive:</label>
							<div class="col-sm-8">
								<p>{{coversheet.progressive}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">GPS Item Id:</label>
							<div class="col-sm-8">
								<p>{{coversheet.gpsItemId}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Max Probability Without Progressive:</label>
							<div class="col-sm-8">
								<p>{{coversheet.maxProbabilityWithoutProgressive}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Lines Or Ways:</label>
							<div class="col-sm-8">
								<p>{{coversheet.linesOrWays}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Lines Or Ways Count:</label>
							<div class="col-sm-8">
								<p>{{coversheet.linesOrWaysCount}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Keno Min Spots:</label>
							<div class="col-sm-8">
								<p>{{coversheet.kenoMinSpots}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Keno Max Spots:</label>
							<div class="col-sm-8">
								<p>{{coversheet.kenoMaxSpots}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Keno Total Balls:</label>
							<div class="col-sm-8">
								<p>{{coversheet.kenoTotalBalls}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Keno Drawn Balls:</label>
							<div class="col-sm-8">
								<p>{{coversheet.kenoDrawnBalls}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Helpscreen Review:</label>
							<div class="col-sm-8">
								<p>{{coversheet.helpscreenReview}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Previous Coversheet:</label>
							<div class="col-sm-8">
								<p>{{coversheet.previousCoversheet}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="col-sm-4">Progressive Top Awards:</label>
							<div class="col-sm-8">
								<p>{{coversheet.progressiveTopAwards}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="onCloseClick()">Close</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {

		props: {
			coversheet: {
				required: true
			}
		},

		data: function () {
			return {
			}
		},

		mounted: function () {
			$(this.$refs.CoversheetDetail).modal('show');
		},

		methods: {
			onCloseClick: function () {
				$(this.$refs.CoversheetDetail).modal('hide');
				this.$emit('close');
			}
		}
	}
</script>