﻿<template>
	<div ref="MEIEditModal" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" style="width:80%">
			<div class="modal-content">
				<div v-if="errorMessage">
					<div class="alert alert-danger">{{ errorMessage }}</div>
				</div>
				<div class="modal-header">
					<div class="btn-toolbar">
						<button type="button" class="btn btn-primary pull-right" @click="onCloseClick()">Close</button>
						<button type="button" class="btn btn-primary pull-right" @click="onSaveClick()">Save</button>
					</div>
					<div class="col-sm-12">
						<h3 class="modal-title">Math Filenumber: {{value.mathFileNumber}}</h3>
					</div>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-horizontal">
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Analysis</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.analysis" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.analysis.$error">
												{{ validationErrorMessages.maxLength255 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Coversheet Version</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.coversheetVersion" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.coversheetVersion.$error">
												{{ validationErrorMessages.maxLength150 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">CRC</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.crc" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.crc.$error">
												{{ validationErrorMessages.maxLength255 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Kobe4</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.kobe4" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.kobe4.$error">
												{{ validationErrorMessages.maxLength255 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Mathematician</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.mathematician" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.mathematician.$error">
												{{ validationErrorMessages.maxLength150 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Math Notes</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.mathNotes" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.mathNotes.$error">
												{{ validationErrorMessages.maxLengthNvarchar }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Onscreen Id</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.onScreenId" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.onScreenId.$error">
												{{ validationErrorMessages.maxLength255 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Original Math Filenumber</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.originalMathFileNumber" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.originalMathFileNumber.$error">
												{{ validationErrorMessages.maxLength150 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">PA Worst Odds Calculation Description</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.paWorstOddsCalculationDescription" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.paWorstOddsCalculationDescription.$error">
												{{ validationErrorMessages.maxLengthNvarchar }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">PA Worst Odds Description</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.paWorstOddsDescription" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.paWorstOddsDescription.$error">
												{{ validationErrorMessages.maxLengthNvarchar }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">SHA1</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.shA1" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.shA1.$error">
												{{ validationErrorMessages.maxLength255 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Special Notes</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.specialNotes" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.specialNotes.$error">
												{{ validationErrorMessages.maxLengthNvarchar }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Theme Name</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.themeName" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.themeName.$error">
												{{ validationErrorMessages.maxLength255 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Type</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.type" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.type.$error">
												{{ validationErrorMessages.maxLength255 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Paytable Id</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.paytableId" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.paytableId.$error">
												{{ validationErrorMessages.maxLength255 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">WV Max Bet</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.wvMaxBet" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.wvMaxBet.$error">
												{{ validationErrorMessages.maxLength255 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Math Filenumber</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.mathFileNumber" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.mathFileNumber.$error">
												{{ validationErrorMessages.maxLength150 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Program ID</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.programID" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.programID.$error">
												{{ validationvalidationErrorMessages.maxLength150 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Original Mathematician</label>
										<div class="col-sm-6">
											<input class="form-control" v-model="editableMathEngineeringInfo.originalMathematician" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.originalMathematician.$error">
												{{ validationErrorMessages.maxLength150 }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Average Return</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.averageReturn" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.averageReturn.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Base Hit Rate</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.baseHitRate" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.baseHitRate.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Cycle</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.cycle" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">DE Average</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.deAverage" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.deAverage.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Jurisdictional Odds</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.jurisdictionalOdds" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.jurisdictionalOdds.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Keno Max Spots</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.kenoMaxSpots" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.kenoMaxSpots.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Keno Min Spots</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.kenoMinSpots" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.kenoMinSpots.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Keno Drawn Balls</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.kenoDrawnBalls" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.kenoDrawnBalls.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Keno Total Balls</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.kenoTotalBalls" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.kenoTotalBalls.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Advertised Awards Available</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.advertisedAwardsAvailable" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Can Disable Progressive</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.canDisableProgressive" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Configurable Progressive</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.configurableProgressive" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Equal Weighted Lines</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.equalWeightedLines" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Equal Weighted Symbols</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.equalWeightedSymbols" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Free Games 99</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.freeGames99" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Help Screen Review</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.helpscreenReview" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Min Increment Used</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.minIncrementUsed" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Min Reset Used</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.minResetUsed" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">MWAP</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.mwap" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">NV1in100</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.nV1in100" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-horizontal">
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Lines Or Ways</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.linesOrWays" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.linesOrWays.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Lines Or Ways Count</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.linesOrWaysCount" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.linesOrWaysCount.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Linked Odds</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.linkedOdds" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.linkedOdds.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Max Award</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.maxAward" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.maxAward.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Max Bet</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.maxBet" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.maxBet.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Max Probability Without Progressive</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.maxProbabilityWithoutProgressive" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.maxProbabilityWithoutProgressive.$error">
												{{ validationErrorMessages.outOfBoundsDouble }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Max Probability With Progressive</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.maxProbabilityWithProgressive" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.maxProbabilityWithProgressive.$error">
												{{ validationErrorMessages.outOfBoundsDouble }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Max Return</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.maxReturn" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.maxReturn.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Max Return Excluding Progressive</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.maxReturnExcludingProgressive" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.maxReturnExcludingProgressive.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">MD Average</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.mdAverage" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.mdAverage.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Min Bet</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.minBet" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.minBet.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Min Return</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.minReturn" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.minReturn.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Min Return Excluding Progressive</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.minReturnExcludingProgressive" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.minReturnExcludingProgressive.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">MO Lower Bound</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.moLowerBound" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.moLowerBound.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Number Of Cards</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.numberOfCards" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.numberOfCards.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Number Of Decks</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.numberOfDecks" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.numberOfDecks.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Overall Return</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.overallReturn" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.overallReturn.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">PA Worst Odds</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.paWorstOdds" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.paWorstOdds.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Paytable Position</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.paytablePosition" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.paytablePosition.$error">
												{{ validationErrorMessages.outOfBoundsSmallint }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Player Choice Ratio</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.playerChoiceRatio" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.playerChoiceRatio.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Progressive Levels</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.progressiveLevels" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.progressiveLevels.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Reels</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.reels" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.reels.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">RI Denom</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.riDenom" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.riDenom.$error">
												{{ validationErrorMessages.outOfBoundsDouble }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">State Date</label>
										<div class="col-sm-6">
											<DatePicker v-model="editableMathEngineeringInfo.stateDate" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Top Award Hits</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.topAwardHits" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.topAwardHits.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Top Award Progressive Hits</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" step=".01" v-model="editableMathEngineeringInfo.topAwardProgressiveHits" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.topAwardProgressiveHits.$error">
												{{ validationErrorMessages.outOfBoundsDecimal }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">WV Odds</label>
										<div class="col-sm-6">
											<input class="form-control" type="number" v-model="editableMathEngineeringInfo.wvOdds" />
											<span class="field-validation-error" v-if="$v.editableMathEngineeringInfo.wvOdds.$error">
												{{ validationErrorMessages.outOfBoundsInt }}
											</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">PA1in50</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.pA1in50" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">PARTP Decrease</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.partpDecrease" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Player Strategy In Calculations</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.playerStrategyInCalculations" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Prog Increment At 0</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.progIncrementAt0" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Prog Increment Configurable</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.progIncrementConfigurable" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Prog Reset At 0</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.progResetAt0" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Prog Reset Configurable</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.progResetConfigurable" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Progressive</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.progressive" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Skill Game</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.skillGame" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">State</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.state" />
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<div class="col-sm-12">
										<label class="col-sm-4 control-label">Wide Area Progressive</label>
										<div class="col-sm-6">
											<input type="checkbox" v-model="editableMathEngineeringInfo.wideAreaProgressive" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer btn-toolbar">
						<button type="button" class="btn btn-primary pull-right" @click="onCloseClick()">Close</button>
						<button type="button" class="btn btn-primary pull-right" @click="onSaveClick()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import api from '@/api/documents/coversheet'
	import DatePicker from '@/components/utility/DatePicker.vue'
	import { between, maxLength } from 'vuelidate/lib/validators';

	const throttledSave = _.throttle(function () {
		this.save();
	}, 5000, { 'trailing': false });

	const twoDecimalPlaces = (value) => {
		return value == null || value === '' || /^-?(?!\.?$)\d*(\.\d{0,2})?$/.test(value);
	};

	const MAX_LENGTH_255_ERROR_MSG = "The character limit is 255.";
	const MAX_LENGTH_150_ERROR_MSG = "The character limit is 150.";
	const MAX_NVARCHAR_ERROR_MSG = "The character limit is 4000."
	const OUTOFBOUNDS_DECIMAL_ERROR_MSG = "Value must not have a value with a precision greater than 16 and a scale of 2.";
	const OUTOFBOUNDS_DOUBLE_ERROR_MSG = "Value can have a maximum of 38 digits.";
	const OUTOFBOUNDS_INT_ERROR_MSG = "Value must be between -2,147,483,647 and 2,147,483,647.";
	const OUTOFBOUNDS_SMALLINT_ERROR_MSG = "Value must be between -32768 and 32767.";

	const MAX_DECIMAL = 99999999999999.99;
	const MIN_DECIMAL = -99999999999999.99;
	const MAX_DOUBLE = 1.79769313486231e+307;
	const MIN_DOUBLE = -1.79769313486231e+307;
	const MAX_INT = 2147483647;
	const MIN_INT = -2147483647;
	const MAX_SMALLINT = 32767;
	const MIN_SMALLINT = -32768;
	const NVARCHAR_MAX = 4000;

	export default {
		props: {
			value: {
				required: true
			}
		},
		components: {
			DatePicker
		},
		data: function () {
			return {
				editableMathEngineeringInfo: _.cloneDeep(this.value),
				errorMessage: null,
				validationErrorMessages: {
					maxLength255: MAX_LENGTH_255_ERROR_MSG,
					maxLength150: MAX_LENGTH_150_ERROR_MSG,
					maxLengthNvarchar: MAX_NVARCHAR_ERROR_MSG,
					outOfBoundsDecimal: OUTOFBOUNDS_DECIMAL_ERROR_MSG,
					outOfBoundsDouble: OUTOFBOUNDS_DOUBLE_ERROR_MSG,
					outOfBoundsInt: OUTOFBOUNDS_INT_ERROR_MSG,
					outOfBoundsSmallint: OUTOFBOUNDS_SMALLINT_ERROR_MSG
				},
				valueChanged: false
			}
		},
		mounted: function () {
			$(this.$refs.MEIEditModal).modal('show');
		},
		methods: {
			closeModal() {
				$(this.$refs.MEIEditModal).modal('hide');
				this.$emit('close');
				throttledSave.cancel();
			},

			onCloseClick: function () {
				this.closeModal();
			},

			onSaveClick: throttledSave,

			save: function () {
				if (!this.validate()) {
					throttledSave.cancel();
					this.errorMessage = null;
					return;
				}
				if (this.valueChanged) {
					api.editMathEngineeringInfo(this.editableMathEngineeringInfo)
						.then((response) => {
							if (response.data.ErrorMessage) {
								this.errorMessage = response.data.ErrorMessage;
							} else {
								this.$emit("input", response.data);
								this.closeModal();
							}
						});
				} else {
					this.closeModal();
				}
			},

			validate: function () {
				this.$v.$touch();
				return !this.$v.$invalid;
			},
		},
		validations: {
			editableMathEngineeringInfo: {
				paytablePosition: {	between: between(MIN_SMALLINT, MAX_SMALLINT) },
				onScreenId: { maxLength: maxLength(255)	},
				crc: { maxLength: maxLength(255) },
				wvMaxBet: {	maxLength: maxLength(255) },
				shA1: { maxLength: maxLength(255) },
				analysis: {	maxLength: maxLength(255) },
				paytableId: { maxLength: maxLength(255) },
				type: {	maxLength: maxLength(255) },
				themeName: { maxLength: maxLength(255) },
				kobe4: { maxLength: maxLength(255) },
				mathematician: { maxLength: maxLength(150) },
				originalMathematician: { maxLength: maxLength(150) },
				programID: { maxLength: maxLength(150) },
				mathFileNumber: { maxLength: maxLength(150) },
				originalMathFileNumber: { maxLength: maxLength(150)	},
				coversheetVersion: { maxLength: maxLength(150) },
				paWorstOddsDescription: { maxLength: maxLength(NVARCHAR_MAX) },
				paWorstOddsCalculationDescription: { maxLength: maxLength(NVARCHAR_MAX)	},
				specialNotes: {	maxLength: maxLength(NVARCHAR_MAX) },
				mathNotes: { maxLength: maxLength(NVARCHAR_MAX) },
				reels: { between: between(MIN_INT, MAX_INT)	},
				progressiveLevels: { between: between(MIN_INT, MAX_INT)	},
				wvOdds: { between: between(MIN_INT, MAX_INT) },
				numberOfCards: { between: between(MIN_INT, MAX_INT)	},
				numberOfDecks: { between: between(MIN_INT, MAX_INT) },
				linesOrWays: { between: between(MIN_INT, MAX_INT) },
				kenoMinSports: { between: between(MIN_INT, MAX_INT) },
				kenoMaxSports: { between: between(MIN_INT, MAX_INT) },
				kenoTotalBalls: { between: between(MIN_INT, MAX_INT) },
				kenoDrawnBalls: { between: between(MIN_INT, MAX_INT) },
				minBet: { between: between(MIN_INT, MAX_INT) },
				maxBet: { between: between(MIN_INT, MAX_INT) },
				maxAward: { between: between(MIN_INT, MAX_INT) },
				linesOrWaysCount: {	between: between(MIN_INT, MAX_INT) },
				kenoMaxSpots: {	between: between(MIN_INT, MAX_INT) },
				kenoMinSpots: {	between: between(MIN_INT, MAX_INT) },
				overallReturn: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces },
				minReturn: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces },
				minReturnExcludingProgressive: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces },
				averageReturn: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces },
				jurisdictionalOdds: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces },
				linkedOdds: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces },
				moLowerBound: {	between: between(MIN_DECIMAL, MAX_DECIMAL),	twoDecimalPlaces },
				deAverage: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces },
				topAwardHits: { between: between(MIN_DECIMAL, MAX_DECIMAL),	twoDecimalPlaces },
				topAwardProgressiveHits: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces	},
				mdAverage: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces },
				playerChoiceRatio: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces },
				baseHitRate: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces	},
				paWorstOdds: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces	},
				maxReturnExcludingProgressive: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces },
				maxReturn: { between: between(MIN_DECIMAL, MAX_DECIMAL), twoDecimalPlaces },
				maxProbabilityWithoutProgressive: {	between: between(MIN_DOUBLE, MAX_DOUBLE) },
				maxProbabilityWithProgressive: { between: between(MIN_DOUBLE, MAX_DOUBLE) },
				riDenom: { between: between(MIN_DOUBLE, MAX_DOUBLE)	}
			}
		},
		watch: {
			editableMathEngineeringInfo: {
				deep: true,
				handler() {
					this.valueChanged = true;
				}
			}
		}
	}
</script>
