﻿<template>
	<div>
		<table>
			<tr>
				<th v-for="heading in headings">{{ heading }}</th>
				<th style="width: 5% !important"></th>
				<th class="coversheet-btn" @click="onAddMei">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</th>
			</tr>
			<tr v-for="(mei, index) in mathEngineeringInfos" :key="mei.id">
				<td>{{ mei.mathFileNumber }}</td>
				<td>{{ mei.paytableId }}</td>
				<td>{{ mei.themeName }}</td>
				<td>{{ mei.minReturn }}</td>
				<td>{{ mei.maxReturn }}</td>
				<td>{{ mei.progressive }}</td>
				<td>{{ mei.skillGame }}</td>
				<td>
					<button class="btn btn-primary" @click="onEditMei(mei)">Edit</button>
				</td>
				<td>
					<button class="btn btn-primary" @click="onDelete(index, mei.id)">Delete</button>
				</td>
			</tr>
			<tr v-if="mathEngineeringInfos.length < 1">
				<td v-if="loaded" colspan="9" style="text-align:center; ">
					<h3>No Records.</h3>
				</td>
				<td v-else colspan="9" style="text-align:center;">
					<h3>Loading...</h3>
				</td>
			</tr>
		</table>
		<MEIEditModal v-if="showMeiManage"
					  v-model="selectedMathEngineeringInfo"
					  @input="onUpdateMei"
					  @close="showMeiManage = false" />
	</div>
</template>
<script>
	import MEIEditModal from '@/components/documents/generate/Coversheet/MEIEditModal'
	import api from '@/api/documents/coversheet'

	const throttledAdd = _.throttle(function () {
		this.add();
	}, Number.MAX_VALUE, { 'trailing': false });

	const throttledDelete = _.throttle(function (index, meiId) {
		this.delete(index, meiId);
	}, Number.MAX_VALUE, { 'trailing': false });

	export default {
		props: {
			coversheetId: {
				required: true
			},
			headings: {
				type: Array,
				required: true
			}
		},
		components: {
			MEIEditModal
		},
		created: function() {
			api.getMathEngineeringInformations(this.coversheetId)
				.then((response) => {
					this.mathEngineeringInfos = response.data;
				})
				.finally(() => this.loaded = true);
		},
		data() {
			return {
				loaded: false,
				mathEngineeringInfos: [],
				selectedMathEngineeringInfo: null,
				showMeiManage: false
			}
		},
		methods: {
			add: function () {
				api.createMathEngineeringInfo(this.coversheetId)
					.then((response) => {
						this.mathEngineeringInfos.push(response.data);
					})
					.finally(() => throttledAdd.cancel());
			},

			delete: function (index, meiId) {
				api.deleteMathEngineeringInfo(meiId)
					.then(() => {
						this.mathEngineeringInfos.splice(index, 1);
					})
					.finally(() => throttledDelete.cancel());
			},

			onAddMei: throttledAdd,

			onDelete: throttledDelete,

			onEditMei: function (mei) {
				this.selectedMathEngineeringInfo = mei;
				this.showMeiManage = true;
			},

			onUpdateMei: function (newMei) {
				let idx = _.findIndex(this.mathEngineeringInfos, { 'id': newMei.id });
				Object.assign(this.mathEngineeringInfos[idx], _.cloneDeep(newMei));
			}
		}
	}
</script>
<style scoped>
	table {
		width: 100%;
	}
	tr {
		border: 2px solid dodgerblue;
	}
	th, td {
		padding: 5px
	}
	.coversheet-btn {
		width: 5% !important;
		text-align:center;
		cursor: pointer;
	}
	.coversheet-btn:hover {
		background: #337ab7
	}
</style>