﻿@model Submissions.Web.Areas.Protrack.Models.Task.EditViewModel
@{
	ViewBag.Title = "Manage Tasks - " + Model.FileNumber;
	ViewBag.FullWidth = true;
}
@section css {
	@Styles.Render("~/bundles/css/hopscotch")
	<link rel="stylesheet" type="text/css" href="~/Content/gli/AbsoluteCenterSpinner.css" />
	<style type="text/css">
		/* Force Knockout to not flash on page load for items decorated with the following class*/
		.ko-hidden {
			display: none;
		}

		#loadingSymbol {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -50px;
			margin-left: -50px;
		}

		.transp {
			opacity: 0.5;
		}

		.black-background {
			background-color: #000000;
		}

		.white {
			color: #ffffff;
		}

		.blue-background {
			background-color: #d9ebf4;
		}

		.groupColor {
			color: navy;
			background: lightblue;
		}

		.color-none {
			color: none;
		}

		.color-green {
			color: green;
		}

		.pendingTask {
			background-color: #ffff66;
		}

		.taskLockEngaged {
			font-weight: bold;
			color: red;
		}

		.taskChangeReasonRequired {
			background-color: #d9534f
		}

		.unsavedChanges {
			background-color: #f4cd53;
		}

		.pendintTask {
			background-color: #ffff66;
		}

		.taskIndicator {
			float: left;
			width: 10px;
			height: 10px;
			margin: 5px;
			border: 1px solid rgba(0, 0, 0, .2);
		}

		.position-relative {
			position: relative;
		}
	</style>
}

<!-- Loading Sybmol Container-->
<div id="loadingSymbol">
	<i class="fas fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>

<!-- Complete Task Modal -->
<div class="modal fade" id="CompleteTaskModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div id='ModalCompleteTaskContainer'>
				
			</div>
		</div>
	</div>
</div>

<!-- Add Task Modal -->
<div class="modal fade" id="addTaskModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Task</h4>
			</div>

			<div id="modalBody" class="modal-body">
				<div class="form-horizontal">
					<!-- Deparment Choice-->
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.DepartmentId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.DepartmentId, m => m.Department, LookupAjax.Departments, false,
							new
							{
								id = "generalDepartmentChoice",
								data_filter = Json.Encode(Model.DepartmentsFilter)
								
							})
						</div>
					</div>
					<!-- Task Choice-->
					<div id="generalTaskDefChoiceDIV" class="form-group form-group-sm ko-hidden">
						@Html.LabelFor(m => m.TaskDefId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.TaskDefId, m => m.TaskDef, LookupAjax.TaskDefinitions, false,
							new
							{
								id = "generalTaskDefChoice",
								data_filter = Json.Encode(Model.TasksFilter)
							})
						</div>
					</div>

					<!-- User Choice-->
					<div id="generalUserChoiceDIV" class="form-group form-group-sm ko-hidden">
						@Html.LabelFor(m => m.UserId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.UserId, m => m.User, LookupAjax.Users, false,
							new
							{
								id = "generalUserChoice",
								//data_filter = Json.Encode(Model.UsersFilter)
							})
						</div>
					</div>

					<!-- ETA Queue-->
					<div id="generalETAQueueDIV" class="form-group form-group-sm ko-hidden">
						<label for="generalETATaskCheckbox" class="control-label col-sm-4">ETA Queue Task <i class="fa fa-question-circle" title="Only check this box if you are not assigning this task directly, and would like to send it to the ETA Task Queue instead. If you are unfamiliar with this feature, do not use it."></i></label>
						<div class="col-sm-1">
							<input type="checkbox" id="generalETATaskCheckbox"/>
						</div>
					</div>

					<!-- Estimated Hours Choice-->
					<div id="generalEstimatedHoursDIV" class="form-group form-group-sm ko-hidden">
						<label for="generalEstimatedHours" class="control-label col-sm-4">Estimated Hours</label>
						<div class="col-sm-6">
							<input type="text" id="generalEstimatedHours" class="form-control" />
						</div>
					</div>

					<!-- Task Target Date Choice-->
					<div id="generalTaskTargetDateDIV" class="form-group form-group-sm ko-hidden">
						<label for="generalTaskTargetDate" class="control-label col-sm-4">Task Target Date</label>
						<div class="col-sm-6">
							<input type="text" id="generalTaskTargetDate" class="form-control datepicker" autocomplete="off"/>
						</div>
					</div>

				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-bind="click: addGeneralTask">Add</button>
				<button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Add Task Template Modal -->
<div class="modal fade" id="addTaskTemplateModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Task Template</h4>
			</div>

			<div id="modalBody" class="modal-body">
				<div class="form-horizontal">
					<!-- Task Template Owner Choice-->
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.TemplateOwnerId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.TemplateOwnerId, m => m.TemplateOwner, LookupAjax.Users, false,
							new
							{
								id = "selectedTemplateOwner",
								data_filter = Json.Encode(Model.UserTemplateOwnerFilter)
							})
						</div>
					</div>

					<!-- Task Template Choice-->
					<div id="selectedTaskTemplateDIV" class="form-group form-group-sm">
						@Html.LabelFor(m => m.TaskTemplateId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.TaskTemplateId, m => m.TaskTemplate, LookupAjax.TaskTemplates, false,
							new
							{
								id = "selectedTaskTemplate",
								data_filter = Json.Encode(Model.TaskTemplatesFilter)
							})
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" id="addTaskTemplateConfirm" class="btn btn-default" data-dismiss="modal" data-bind="click: addTaskTemplate">Add</button>
				<button type="button" id="addTaskTemplateCancel" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Move task Modal -->
<div class="modal fade" id="moveTaskModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Move Task(s)</h4>
				<i>Move selected tasks to another project.</i>
			</div>
			<div id="modalBody" class="modal-body">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						<div class="col-sm-2">
							<label for="moveTaskNewProject">Project</label>
						</div>
						<div class="col-sm-6">
							@Html.LookupFor(model => Model.moveTasksToProject, model => model.moveTasksToProject, LookupAjax.ProjectName, true, new { id = "moveTasksToProject", @style = "width:100%", data_filter = Json.Encode(Model.ProjectFilter) })
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="moveTaskConfirm" class="btn btn-default" data-dismiss="modal" data-bind="click: moveTasks">Move</button>
				<button type="button" id="moveTaskCancel" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Bulk Update Modal -->
<div class="modal fade" id="bulkUpdateModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"><span id="bulkUpdateTitleSpan"></span> Bulk Update</h4>
				<input type="hidden" id="bulkDept" />
			</div>

			<div id="modalBody" class="modal-body">
				<div class="form-horizontal">
					<!-- User Choice-->
					<div id="bulkUserChoiceDIV" class="form-group form-group-sm">
						@Html.LabelFor(m => m.UserId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.UserId, m => m.User, LookupAjax.Users, false, new { id = "bulkUserChoice", data_filter = Json.Encode(Model.UsersFilter) })
						</div>
					</div>

					<!-- Estimated Hours Choice-->
					<div id="bulkEstimatedHoursDIV" class="form-group form-group-sm">
						<label for="bulkEstimatedHours" class="control-label col-sm-4">Estimated Hours</label>
						<div class="col-sm-6">
							<input type="text" id="bulkEstimatedHours" class="form-control" />
						</div>
					</div>

					<!-- Task Target Date Choice-->
					<div id="bulkTaskTargetDateDIV" class="form-group form-group-sm">
						<label for="bulkTaskTargetDate" class="control-label col-sm-4">Task Target Date</label>
						<div class="col-sm-6">
							<input type="text" id="bulkTaskTargetDate" class="form-control datepicker" />
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: $root.bulkUpdate">Update</button>
				<button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

@using (Html.BeginForm("Edit", "Tasks", FormMethod.Post, new { id = "TasksForm" }))
{
	@Html.Hidden("EditViewModel");
	@Html.HiddenFor(m => m.SourceMathReview);
	@Html.HiddenFor(m => m.SourceMathComplete);
	@Html.HiddenFor(m => m.OrgTargetDate)

<div id="main" class="container-fluid">
	<div class="row">
		<div class="col-xs-6 ">
			<h2>
				<a href='@Url.Action("Detail", "Project")/@Model.ProjectId'>
					@Model.FileNumber
				</a> <small>(ProjectStatus - @Model.ProjectENStatus) @if (Model.OrgTargetDate == null)
				{<span class="alert alert-warning"><i class='fas fa-exclamation-triangle' aria-hidden='true' title='Missing TargetDate'></i>&nbsp;Original Target Date is not set.</span>}</small>
			</h2>
		</div>
		<div class="col-xs-6 form-buttons">
			<span style = "padding-right:30px;">
				@Html.ActionLink("Manage Task Templates", "Index", "TaskTemplates", new { area = "Lookups" }, new { @class = "btn btn-primary btn-sm", target = "_blank" })
				<button id="CreateNewTemplate" type="button" class="btn btn-primary btn-sm">Create Template from Current Task Set</button>
			</span>
			<button type="button" class="btn btn-primary SaveDescAction" data-bind="visible:false">Save Descriptions</button>
			<button type="button" class="btn btn-primary btn-save SaveAction" data-bind="click: validateSave">Save</button>
			<input type="reset" id="CancelBtn" class="btn btn-primary" value="Close" onclick="window.close()">
		</div>
	</div>
	<div class="row"></div>
	<div class="row">
		@{
			if (Model.TaskLockEnforced)
			{
				<div class="col-sm-4">
					<div class="alert alert-danger" role="alert">
						Project accepted more than 96 hours ago.
						<br /> Task soft lock engaged, updating task estimated hours will now require a reason be provided.
						<br /> Tasks will also no longer be deleted only deactivated.
					</div>
				</div>
			}
		}
		
	</div>
	<br />
	<div class="row">
		<div class="col-sm-4">
			<button id="addTaskButton" value="add" class="btn btn-default SaveAction">Add Task</button>
			<button id="addTaskTemplateButton" value="add" class="btn btn-default SaveAction" data-loading-text="<i class='fas fa-spinner fa-spin' />">Add Task Template</button>
			<button id="moveTask" value="add" class="btn btn-default" data-bind="visible: (EngineeringTasks().length > 0 || MathTasks().length > 0 || FieldInspectionTasks().length > 0) && !TASKLOCKENGAGED">Move Task(s)</button>
		</div>
		<div class="col-sm-4">
			<label class="col-sm-3">Import Tasks: </label>
			<div class="col-sm-7 padr0">
				@Html.LookupFor(m => m.ProjectSearchId, m => m.ProjectSearch, LookupAjax.ProjectName, false)
			</div>
			<div class="col-sm-2">
				<button id="GetExistingTasksFromAnotherProject" type="button" class="btn btn-primary btn-sm">Confirm</button>
			</div>
		</div>
			@if (Model.AllowTargetDate)
			{
				<div class="col-sm-4 pull-right">
					<div class="form-group form-group-sm">
						@Html.Label("Target Date:", new { @class = "control-label col-sm-3 padr0 text-right" })
						<div class="col-sm-4 padr0">
							<input data-bind="datePicker: OrgTargetDateStr, 'id': 'OrgTargetDate' " class="form-control">
							@Html.HiddenFor(m => m.AllowTargetDate)
						</div>
						<div class="col-sm-5 padl0">
							&nbsp;<input type="checkbox"
										 data-bind="checked: ApplyTargetOffSet"
										 id="ApplyTargetOffSet" /> <b>(Apply OffSet if Applicable)</b>
						</div>
					</div>
				</div>
			}
		</div>

	<hr />

	<!-- Engineering Tasks-->
	<div class="row">
		<div class="col-xs-4">
			<h2>Engineering</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<table id="engineeringTasksTable" class="table table-condensed  tableBackground ko-hidden" data-bind="css: { 'ko-hidden': false }">
				<thead class="groupColor">
					<tr>
						<th class="col-xs-1"></th>
						<th class="col-xs-1">
							<input type="checkbox"
								   data-bind="visible: EngineeringTasks().length > 0, checked: engineeringCheckAll, click: $root.checkAll.bind($data,@((int)Submissions.Common.Department.ENG))"
								   id="engineeringCheckAll"
								   class="engineeringBulkCheckBox" />
						</th>
						<th class="col-xs-2">Task</th>
						<th class="col-xs-2">Description</th>
						<th class="col-xs-2">User</th>
						<th class="col-xs-1">Original Estimate</th>
						<th class="col-xs-1">Estimate</th>
						<th class="col-xs-1">Target Date</th>
						<th class="col-xs-1">Start Date</th>
						<th class="col-xs-1">Complete Date</th>
						<th class="col-xs-2">
							<a href="#"
							   data-bind="visible: EngineeringTasks().length > 0 && selectedEngineeringTasksCount() > 0", click: $root.removeSelectedTasks.bind($data,@((int)Submissions.Common.Department.ENG))"
								id="removeAllEngineeringTasks"
								title="Remove selected engineering tasks."
								class="btn btn-default">
								<i class="fas fa-trash-alt"></i>
							</a>
							<a href="#" data-bind="visible: EngineeringTasks().length >
										0, click: $root.closeAllTasks.bind($data,@((int)Submissions.Common.Department.ENG))" id="closeAllENGTasks" title="Close all Engineering tasks." class="btn btn-default">
								<i class="fas fa-check"></i>
							</a>
						</th>
					</tr>
				</thead>
				<tbody class="form-group form-group-sm">
					<!-- ko foreach: EngineeringTasks -->
					<tr data-bind="attr: {'id': 'parent.' + Id()}">
						<td class="col-xs-1">
							<div title="Task has unsaved changes." class="taskIndicator unsavedChanges" data-bind="visible: _dirty()"></div>
							<div title="Task estimated hours changed after 96 hours and reason required." class="taskIndicator taskChangeReasonRequired" data-bind="visible: (EstimatedHours() != InitialEstimatedHours() && TASKLOCKENGAGED && !TaskChangeReason() && Id() != null )"></div>
							<div title="Task added but not saved." class="taskIndicator pendintTask" data-bind="visible: Id() == null"></div>
						</td>
						<td class="col-xs-1">
							<input type="checkbox" data-bind="checked: forBulkUpdate, css: { temporaryENGTask: Id() == null}, visible: (IsCPReview() == false)" class="engineeringBulkCheckBox" />
						</td>
						<td class="col-xs-2">
							<select data-bind="lookup: TaskDefinitionId, value: TaskDefinitionId, options: TaskDef, optionsValue: 'Value', optionsText: 'Text', event: {change: $root.syncTaskOnEdit}, attr: {'id': 'taskdefFor_' + Id()}, enable: IsInEditMode()"
									data-lookupajax="@LookupAjax.TaskDefinitions"
									class="form-control"
									style="width:100%"
									data-filter='{"DepartmentIds":[@((int)Submissions.Common.Department.ENG)],"IsDynamicSet":@Model.showDynamicsTasks.ToString().ToLower()}'></select>
						</td>
						<td class="col-xs-2">
							<textarea rows="3" cols="50" maxlength="400" data-bind="value: Description, enable: IsInEditMode(), event: { change: $root.soilTask}" class="form-control">
									</textarea>
						</td>
						<td class="col-xs-2">
							<select data-bind="lookup: AssignedUserId, value: AssignedUserId, options: User, optionsValue: 'Value', optionsText: 'Text', attr: {'id': 'userFor_' + Id()}, enable: IsInEditMode(), event: { change: $root.eTAQueue}"
									data-lookupajax="@LookupAjax.Users"
									style="width:100%"
									class="form-control"></select>
						</td>
						<td class="col-xs-1">
							<p data-bind="text: OriginalEstimatedHours, attr: {'id': 'OriginalEstimatedHoursFor_' + Id()}, enable: IsInEditMode(), event: { change: $root.soilTask}" class="form-control">
						</td>
						<td class="col-xs-1">
							<input type="text" data-bind="value: EstimatedHours, attr: {'id': 'estimatedHoursFor_' + Id()}, event: {change: $root.syncEstimatedHours }, enable: IsInEditMode()" class="form-control estimatedHours">
						</td>
						<td class="col-xs-1">
							<input data-bind="datePicker: TargetDateString, attr: {'id': 'targetDateFor_' + Id()}, enable: IsInEditMode(), event: {click: $root.soilTask}" class="form-control position-relative" data-changed="false">
						</td>
						<td class="col-xs-1">
							<p data-bind="textDate: StartDate"></p>
						</td>
						<td class="col-xs-1">
							<p data-bind="textDate: CompleteDate,visible: CompleteDate() != null "></p>
							<a href="#" data-bind="visible: CompleteDate() == null && StartDate() != null, click: $root.completeTask" id="" title="Complete the task" class="btn btn-default">
								Complete
							</a>
							
						</td>
						<td class="col-xs-2">
							<a href="#" data-bind="click: $root.editTask, visible: (IsCPReview() == false) " id="" title="Edit task" class="btn btn-default getContext">
								<i class="fas" data-bind="css: ButtonEditState()"></i>
							</a>
							<a href="#" data-bind="click: $root.cancelTaskEdit, visible: ButtonCancelState()" id="" title="Cancel Changes" class="btn btn-default cancelTaskEdit">
								<i class="fas fa-times"></i>
							</a>
							<a href="#" data-bind="click: $root.removeTask, visible: (IsCPReview() == false)" id="" title="" class="btn btn-default">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
					<tr data-bind="visible: IsInEditMode()">
						<td class="col-xs-1"></td>
						<td class="col-xs-1">
							<label>Task change reason:</label>
						</td>
						<td class="col-xs-2"><textarea rows="4" cols="50" maxlength="1988" data-bind="text:TaskChangeReason, value: TaskChangeReason, attr: {'id': 'changeReasonFor_' + Id()}, enable: TASKLOCKENGAGED "></textarea></td>
						<td class="col-xs-1" data-bind="visible: $root.isTransfer()">
							<label>Jurisdiction Associations:</label>
						</td>
						<td class="col-xs-2 getContext" data-bind="visible: $root.isTransfer()">
							<select data-bind="event: {change: $root.soilTask}, lookupmultiple: AssociatedJurisdictions, options: $root.TransferProjectJurisdictions, selectedOptions: AssociatedJurisdictions, optionsValue: 'Value', optionsText: 'Text', attr: {'id': 'associatedJurFor_' + Id()}"
									data-lookupmultipleajax="@LookupAjax.Jurisdictions"
									data-filter="@Json.Encode(Model.JurisdictionsFilter)"
									data-templatename="format@(LookupAjax.Jurisdictions.ToString())"
									multiple="multiple"
									class="form-control getContext"
									style="width:100%"></select>
						</td>
						<td class="col-xs-1" data-bind="visible: $root.isTransfer()">
							<a href="#" data-bind="click: $root.selectAllJur" id="" title="" class="btn btn-default">
								Select All
							</a>
						</td>

						<td class="col-xs-1" data-bind="visible: ShowETACheckbox()">
							<label>ETA Queue Task: <i class="fa fa-question-circle" title="Only check this box if you are not assigning this task directly, and would like to send it to the ETA Task Queue instead. If you are unfamiliar with this feature, do not use it."></i></label>
						</td>
						<td class="col-xs-2" data-bind="visible: ShowETACheckbox()">
							<input type="checkbox" name="ETATask" value="ETAQueue" data-bind="checked: IsETATask, event: { change: $root.eTAQueue}, attr: {'id': 'ETATask_' + Id()}" />
						</td>
					</tr>
					<!-- /ko -->
					<tr class="groupColor">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>Total: <span data-bind="text: $root.EngOrigEstimateTotal()"></span></td>
						<td>Total: <span data-bind="text: $root.EngEstimateTotal()"></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-4">
			<button data-bind="click: addTask.bind($data,@((int)Submissions.Common.Department.ENG))" data-departmentid=@((int)Submissions.Common.Department.ENG) id="addEngineeringTask" title="Add Engineering Task" class="btn btn-default openTaskModal SaveAction">Add Engineering Task</button>
			<button data-bind="visible: EngineeringTasks().length > 0 " data-departmentid=@((int)Submissions.Common.Department.ENG) class="btn btn-default bulkUpdate">Engineering Bulk Update</button>
		</div>
	</div>
	<!-- End Engineering Tasks-->

	<hr />

	<!-- Math Tasks -->
	<div class="row">
		<div class="col-xs-4">
			<h2>Math @if (Model.HasUKTestLab) {	<small style="font-size:60%"> Requested Date: @Model.RequestedDate</small>}
			</h2>
			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<table id="mathTasksTable" class="table table-condensed tableBackground ko-hidden" data-bind="css: { 'ko-hidden': false }">
				<thead class="groupColor">
					<tr>
						<th class="col-xs-1"></th>
						<th class="col-xs-1">
							<input type="checkbox"
								   data-bind="visible: MathTasks().length > 0,checked: mathCheckAll, click: $root.checkAll.bind($data,@((int)Submissions.Common.Department.MTH))"
								   id="mathCheckAll"
								   class="mathBulkCheckBox" />
						</th>
						<th class="col-xs-2">Task</th>
						<th class="col-xs-2">Description</th>
						<th class="col-xs-2">User</th>
						<th class="col-xs-1">Original Estimate</th>
						<th class="col-xs-1">Estimate</th>
						<th class="col-xs-1">Target Date</th>
						<th class="col-xs-1">Start Date</th>
						<th class="col-xs-1">Complete Date</th>
						<th class="col-xs-2">
							<a href="#" data-bind="visible: MathTasks().length >
								0 && selectedMathTasksCount() > 0, click: $root.removeSelectedTasks.bind($data,@((int)Submissions.Common.Department.MTH))" id="removeAllMathTasks" title="Remove selected Math tasks." class="btn btn-default">
								<i class="fas fa-trash-alt"></i>
							</a>
							<a href="#" data-bind="visible: MathTasks().length >
											0, click: $root.closeAllTasks.bind($data,@((int)Submissions.Common.Department.MTH))" id="closeAllMathTasks" title="Close all Math tasks." class="btn btn-default">
								<i class="fas fa-check"></i>
							</a>
						</th>
					</tr>
				</thead>
				<tbody class="form-group form-group-sm">
					<!-- ko foreach: MathTasks -->
					<tr data-bind="attr: {'id': 'parent.' + Id()}">
						<td class="col-xs-1">
							<div title="Task has unsaved changes." class="taskIndicator unsavedChanges" data-bind="visible: _dirty()"></div>
							<div title="Task estimated hours changed after 96 hours and reason required." class="taskIndicator taskChangeReasonRequired" data-bind="visible: (EstimatedHours() != InitialEstimatedHours() && TASKLOCKENGAGED && !TaskChangeReason() && Id() != null )"></div>
							<div title="Task added but not saved." class="taskIndicator pendintTask" data-bind="visible: Id() == null"></div>
						</td>
						<td class="col-xs-1">
							<input type="checkbox" data-bind="checked: forBulkUpdate, css: { temporaryMATHTask: Id() == null}" class="mathBulkCheckBox" />
						</td>
						<td class="col-xs-2">
							<select data-bind="lookup: TaskDefinitionId, value: TaskDefinitionId, options: TaskDef, optionsValue: 'Value', optionsText: 'Text', event: {change: $root.syncTaskOnEdit},  attr: {'id': 'taskdefFor_' + Id()}, enable: IsInEditMode()"
									data-lookupajax="@LookupAjax.TaskDefinitions"
									class="form-control"
									style="width:100%"
									data-filter='{"DepartmentIds":[@((int)Submissions.Common.Department.MTH)],"IsDynamicSet":@Model.showDynamicsTasks.ToString().ToLower()}'></select>
						</td>
						<td class="col-xs-2">
							<textarea rows="3" cols="50" maxlength="400" data-bind="value: Description, enable: IsInEditMode(), event: { change: $root.soilTask}" class="form-control">
										</textarea>
						</td>
						<td class="col-xs-2">
							<select data-bind="lookup: AssignedUserId, value: AssignedUserId, options: User, optionsValue: 'Value', optionsText: 'Text', attr: {'id': 'userFor_' + Id()}, enable: IsInEditMode(), event: { change: $root.soilTask}"
									data-lookupajax="@LookupAjax.Users"
									style="width:100%"
									class="form-control userDropDown"></select>
						</td>
						<td class="col-xs-1">
							<p data-bind="text: OriginalEstimatedHours, attr: {'id': 'OriginalEstimatedHoursFor_' + Id()}, enable: IsInEditMode(), event: { change: $root.soilTask}" class="form-control">
						</td>
						<td class="col-xs-1">
							<input type="text" data-bind="value: EstimatedHours, attr: {'id': 'estimatedHoursFor_' + Id()}, event: {change: $root.syncEstimatedHours },enable: IsInEditMode()" class="form-control">
						</td>
						<td class="col-xs-1">
							<input type="text" data-bind="datePicker: TargetDateString, attr: {'id': 'targetDateFor_' + Id()}, enable: IsInEditMode(), event: {click: $root.soilTask}" class="form-control position-relative">
						</td>
						<td class="col-xs-1">
							<p data-bind="textDate: StartDate"></p>
						</td>
						<td class="col-xs-1">
							<p data-bind="textDate: CompleteDate,visible: CompleteDate() != null "></p>
							<a href="#" data-bind="visible: CompleteDate() == null && StartDate() != null, click: $root.completeTask" id="" title="Complete the task" class="btn btn-default">
								Complete
							</a>
							&nbsp;<a data-bind='visible: (TaskDefinitionId() == "@((int)MathTasks.MathAnalysis)" || TaskDefinitionId() == "@((int)MathTasks.MathAnalysisDynamics)" ) && CompleteDate() == null && StartDate() != null' href='javascript:goToMathReview()'><i class='far fa-file-code' aria-hidden='true' title='Enter Math Complete'></i></a>
						</td>
						<td class="col-xs-2">
							<a href="#" data-bind="click: $root.editTask" id="" title="Edit task" class="btn btn-default getContext">
								<i class="fa" data-bind="css: ButtonEditState()"></i>
							</a>
							<a href="#" data-bind="click: $root.cancelTaskEdit, visible: ButtonCancelState()" id="" title="Cancel Changes" class="btn btn-default cancelTaskEdit">
								<i class="fas fa-times"></i>
							</a>
							<a href="#" data-bind="click: $root.removeTask" id="" title="" class="btn btn-default">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
					<tr data-bind="visible: IsInEditMode()">
						<td class="col-xs-1"></td>
						<td class="col-xs-1">
							<label>Task change reason:</label>
						</td>
						<td class="col-xs-2"><textarea rows="4" cols="50" maxlength="1988" data-bind="text:TaskChangeReason, value: TaskChangeReason, attr: {'id': 'changeReasonFor_' + Id()}, enable: TASKLOCKENGAGED "></textarea></td>
						<td class="col-xs-1" data-bind="visible: $root.isTransfer()">
							<label>Jurisdiction Associations:</label>
						</td>
						<td class="col-xs-2 getContext" data-bind="visible: $root.isTransfer()">
							<select data-bind="lookupmultiple: AssociatedJurisdictions, options: $root.TransferProjectJurisdictions, selectedOptions: AssociatedJurisdictions, optionsValue: 'Value', optionsText: 'Text', attr: {'id': 'associatedJurFor_' + Id()}"
									data-templatename="@LookupAjax.Jurisdictions"
									data-lookupmultipleajax="@LookupAjax.Jurisdictions"
									data-filter="@Json.Encode(Model.JurisdictionsFilter)"
									data-templatename="format@(LookupAjax.Jurisdictions.ToString())"
									multiple="multiple"
									class="form-control getContext"
									style="width:100%"></select>
						</td>
						<td class="col-xs-1" data-bind="visible: $root.isTransfer()">
							<a href="#" data-bind="click: $root.selectAllJur" id="" title="" class="btn btn-default">
								Select All
							</a>
						</td>
					</tr>
					<!-- /ko -->
					<tr class="groupColor">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>Total: <span data-bind="text: $root.MathOrigEstimateTotal()"></span></td>
						<td>Total: <span data-bind="text: $root.MathEstimateTotal()"></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-4">
			<button data-bind="click: addTask.bind($data,@((int)Submissions.Common.Department.MTH))" data-departmentid=@((int)Submissions.Common.Department.MTH) id="addMathTask" title="Add Math task." class="btn btn-default  openTaskModal SaveAction">Add Math Task</button>
			<button data-bind="visible: MathTasks().length > 0 " data-departmentid=@((int)Submissions.Common.Department.MTH) class="btn btn-default bulkUpdate">Math Bulk Update</button>
		</div>
	</div>
	<!-- End Math Tasks-->

	<hr />
	<!-- Field Inspection Tasks-->
	<div class="row">
		<div class="col-xs-4">
			<h2>Field Inspection</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<table id="fieldInspectionTasksTable" class="table table-condensed  tableBackground ko-hidden" data-bind="css: { 'ko-hidden': false }">
				<thead class="groupColor">
					<tr>
						<th class="col-xs-1"></th>
						<th class="col-xs-1">
							<input type="checkbox"
								   data-bind="visible: FieldInspectionTasks().length > 0,checked: fieldInspectionCheckAll, click: $root.checkAll.bind($data,@((int)Submissions.Common.Department.INS))"
								   id="fieldInspectionCheckAll"
								   class="fieldInspectionBulkCheckBox" />
						</th>
						<th class="col-xs-2">Task</th>
						<th class="col-xs-2">Description</th>
						<th class="col-xs-2">User</th>
						<th class="col-xs-1">Original Estimate</th>
						<th class="col-xs-1">Estimate</th>
						<th class="col-xs-1">Target Date</th>
						<th class="col-xs-1">Start Date</th>
						<th class="col-xs-1">Complete Date</th>
						<th class="col-xs-1">
							<a href="#" data-bind="visible: FieldInspectionTasks().length > 0 && selectedFieldInspectionTasksCount() > 0, click: $root.removeSelectedTasks.bind($data,@((int)Submissions.Common.Department.INS))" id="removeAllFieldInspectionTasks" title="Remove selected field inspection tasks." class="btn btn-default">
								<i class="fas fa-trash-alt"></i>
							</a>
							<a href="#" data-bind="visible: FieldInspectionTasks().length > 0, click: $root.closeAllTasks.bind($data,@((int)Submissions.Common.Department.INS))" id="closeAllINSTasks" title="Close all Field Inspection tasks." class="btn btn-default">
								<i class="fas fa-check"></i>
							</a>
						</th>
					</tr>
				</thead>
				<tbody class="form-group form-group-sm">
					<!-- ko foreach: FieldInspectionTasks	-->
					<tr data-bind="attr: {'id': 'parent.' + Id()}">
						<td class="col-xs-1">
							<div title="Task has unsaved changes." class="taskIndicator unsavedChanges" data-bind="visible: _dirty()"></div>
							<div title="Task estimated hours changed after 96 hours and reason required." class="taskIndicator taskChangeReasonRequired" data-bind="visible: (EstimatedHours() != InitialEstimatedHours() && TASKLOCKENGAGED && !TaskChangeReason() && Id() != null )"></div>
							<div title="Task added but not saved." class="taskIndicator pendintTask" data-bind="visible: Id() == null"></div>
						</td>
						<td class="col-xs-1">
							<input type="checkbox" data-bind="checked: forBulkUpdate, css: { temporaryINSTask: Id() == null}" class="fieldInspectionBulkCheckBox" />
						</td>
						<td class="col-xs-2">
							<select data-bind="lookup: TaskDefinitionId, value: TaskDefinitionId, options: TaskDef, optionsValue: 'Value', optionsText: 'Text', event: {change: $root.syncTaskOnEdit}, attr: {'id': 'taskdefFor_' + Id()}, enable: IsInEditMode()"
									data-lookupajax="@LookupAjax.TaskDefinitions"
									class="form-control"
									style="width:100%"
									data-filter='{"DepartmentIds":[@((int)Submissions.Common.Department.INS)],"IsDynamicSet":@Model.showDynamicsTasks.ToString().ToLower()}'></select>
						</td>
						<td class="col-xs-2">
							<textarea rows="3" cols="50" maxlength="400" data-bind="value: Description, enable: IsInEditMode(), event: { change: $root.soilTask}" class="form-control">
									</textarea>
						</td>
						<td class="col-xs-2">
							<select data-bind="lookup: AssignedUserId, value: AssignedUserId, options: User, optionsValue: 'Value', optionsText: 'Text', attr: {'id': 'userFor_' + Id()}, enable: IsInEditMode(), event: { change: $root.soilTask}"
									data-lookupajax="@LookupAjax.Users"
									style="width:100%"
									class="form-control"></select>
						</td>
						<td class="col-xs-1">
							<p data-bind="text: OriginalEstimatedHours, attr: {'id': 'OriginalEstimatedHoursFor_' + Id()}, enable: IsInEditMode(), event: { change: $root.soilTask}" class="form-control">
						</td>
						<td class="col-xs-1">
							<input type="text" data-bind="value: EstimatedHours, attr: {'id': 'estimatedHoursFor_' + Id()}, event: {change: $root.syncEstimatedHours }, enable: IsInEditMode()" class="form-control estimatedHours">
						</td>
						<td class="col-xs-1">
							<input data-bind="datePicker: TargetDateString, attr: {'id': 'targetDateFor_' + Id()}, enable: IsInEditMode(), event: {click: $root.soilTask}" class="form-control position-relative" data-changed="false">
						</td>
						<td class="col-xs-1">
							<p data-bind="textDate: StartDate"></p>
						</td>
						<td class="col-xs-1">
							<p data-bind="textDate: CompleteDate,visible: CompleteDate() != null "></p>
							<a href="#" data-bind="visible: CompleteDate() == null && StartDate() != null, click: $root.completeTask" id="" title="Complete the task" class="btn btn-default">
								Complete
							</a>
						</td>
						<td class="col-xs-1">
							<a href="#" data-bind="click: $root.editTask" id="" title="Edit task" class="btn btn-default getContext">
								<i class="fa" data-bind="css: ButtonEditState()"></i>
							</a>
							<a href="#" data-bind="click: $root.cancelTaskEdit, visible: ButtonCancelState()" id="" title="Cancel Changes" class="btn btn-default cancelTaskEdit">
								<i class="fas fa-times"></i>
							</a>
							<a href="#" data-bind="click: $root.removeTask" id="" title="" class="btn btn-default">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
					<tr data-bind="visible: IsInEditMode()">
						<td class="col-xs-1"></td>
						<td class="col-xs-1">
							<label>Task change reason:</label>
						</td>
						<td class="col-xs-2"><textarea rows="4" cols="50" maxlength="1988" data-bind="text:TaskChangeReason, value: TaskChangeReason, attr: {'id': 'changeReasonFor_' + Id()}, enable: TASKLOCKENGAGED "></textarea></td>
						<td class="col-xs-1" data-bind="visible: $root.isTransfer()">
							<label>Jurisdiction Associations:</label>
						</td>
						<td class="col-xs-2 getContext" data-bind="visible: $root.isTransfer()">
							<select data-bind="event: {change: $root.soilTask}, lookupmultiple: AssociatedJurisdictions, options: $root.TransferProjectJurisdictions, selectedOptions: AssociatedJurisdictions, optionsValue: 'Value', optionsText: 'Text', attr: {'id': 'associatedJurFor_' + Id()}"
									data-lookupmultipleajax="@LookupAjax.Jurisdictions"
									data-filter="@Json.Encode(Model.JurisdictionsFilter)"
									data-templatename="format@(LookupAjax.Jurisdictions.ToString())"
									multiple="multiple"
									class="form-control"
									style="width:100%"></select>
						</td>
						<td class="col-xs-1" data-bind="visible: $root.isTransfer()">
							<a href="#" data-bind="click: $root.selectAllJur" id="" title="" class="btn btn-default">
								Select All
							</a>
						</td>
					</tr>
					<!-- /ko -->
					<tr class="groupColor">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>Total: <span data-bind="text: $root.InsOrigEstimateTotal()"></span></td>
						<td>Total: <span data-bind="text: $root.InsEstimateTotal()"></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-4">
			<button data-bind="click: addTask.bind($data,@((int)Submissions.Common.Department.INS))" data-departmentid=@((int)Submissions.Common.Department.INS) id="addFieldInspectionTask" title="Add Field Inspection Task" class="btn btn-default openTaskModal SaveAction">Add Field Inspection Task</button>
			<button data-bind="visible: FieldInspectionTasks().length > 0 " data-departmentid=@((int)Submissions.Common.Department.INS) class="btn btn-default bulkUpdate">Field Inspection Bulk Update</button>
		</div>
	</div>
	<!-- End Field Inspection Tasks-->

	<hr />

	<div class="row">
		&nbsp;
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					Deactivated Tasks
					<a href="">
						<i class="fas fa-expand pull-right" data-toggle="collapse" href="#deactivatedTasks"></i>
					</a>
				</div>
				<div id="deactivatedTasks" class="panel-body collapse in">
					<table id="deactivatedTasksTable" class="table table-condensed tablebackground">
						<thead class="groupColor">
							<tr>
								<th>Task</th>
								<th>Description</th>
								<th>User</th>
								<th>Originial Estimate</th>
								<th>Estimate</th>
								<th>Note</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var deactivatedTask in Model.DeactivatedTasks)
							{
								var user = deactivatedTask.User == null ? "" : deactivatedTask.User.Text;
								<tr>
									<td><p>@deactivatedTask.Name</p></td>
									<td><p>@deactivatedTask.Description</p></td>
									<td><p>@user</p></td>
									<td><p>@deactivatedTask.OriginalEstimatedHours</p></td>
									<td><p>@deactivatedTask.EstimatedHours</p></td>
									<td><p>@deactivatedTask.Note</p></td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					Task Status Legend
					<a href="">
						<i class="fas fa-expand pull-right" data-toggle="collapse" href="#taskLegend"></i>
					</a>
				</div>
				<div id="taskLegend" class="panel-body collapse in">
					<!-- List group -->
					<ul class="list-group">
						<li class="list-group-item">
							<span title="Task has unsaved changes." class="taskIndicator unsavedChanges"></span>
							Task has unsaved changes.
						</li>
						<li class="list-group-item">
							<span title="Task estimated hours changed after 96 hours and reason required." class="taskIndicator taskChangeReasonRequired"></span>
							Task estimated hours changed after 96 hours and reason required.
						</li>
						<li class="list-group-item">
							<span title="Task added but not saved." class="taskIndicator pendintTask"></span>
							Task added but not saved.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
}

@section scripts {
	@Scripts.Render("~/bundles/script/knockout")
	@Scripts.Render("~/bundles/script/hopscotch")

<script>
	// Globals
	var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
	var defaultTask = data.DefaultTask;
	var TASKLOCKENGAGED = data.TaskLockEnforced;
	var ENGINEERINGDEPTID = parseInt('@((int)Submissions.Common.Department.ENG)');
	var QADEPTID = parseInt('@((int)Submissions.Common.Department.QA)');
	var MATHDEPTID = parseInt('@((int)Submissions.Common.Department.MTH)');
	var FIELDINSPECTIONDEPTID = parseInt('@((int)Submissions.Common.Department.INS)');
	var defaultETATasks = data.DefaultETATasks;
	var QADeliveryDate = data.QADeliveryDate;

	// Mapping
	var mappingProjectTasks = {
		'ignore': [
			'DepartmentId',
			'Department',
			'UserId',
			'User',
			'TaskDefId',
			'TaskDef',
			'TaskTemplateId',
			'TaskTemplate',
			'TemplateOwnerId',
			'TemplateOwner',
			'UsersFilter',
			'DepartmentsFilter',
			'TasksFilter',
			'TaskTemplatesFilter',
			'UserTemplateOwnerFilter',
			'DefaultTaskDefinition'
		],
		'EngineeringTasks': {
			create: function (options) {
				return new taskModel(options.data);
			}
		},
		'FieldInspectionTasks': {
			create: function (options) {
				return new taskModel(options.data);
			}
		},
		'MathTasks': {
			create: function (options) {
				return new taskModel(options.data);
			}
		},
	};

	var mappingTaskTemplate = {
		'ignore' : [
			'Id',
			'UserId',
			'Name',
			'Description',
			'Global',
			'Status',
			'Note',
			'Current',
			'ComponentGroupId', // Ignored for now may need in the future.
			'TaskDefinition'
		]
	}

	var mappingTask = {
		'ignore': [
			'Status',
			'Note',
			'Current',
			'ComponentGroupId', // Ignored for now may need in the future.
			'TaskDefinition'
		],
		'EstimatedHours': {
			create: function (options) {
				return new EstimatedHoursModel(options.data);
			}
		},
	}

	// Models
	var EstimatedHoursModel = function(data){
		var dynamicsHoursOptions = { precision: 2, interval: 4, RegExValidator: /^(?!0\d)\d+(?:[.](?:25|5|75|0)0*)?$/ };
		return ko.observable(data).extend({ numeric: dynamicsHoursOptions});
	};

	var taskModel = function(data){
		var self = this;
		ko.mapping.fromJS(data, mappingTask, self);

		self.OrigTaskData= data

		self.resetData = function() {

			ko.mapping.fromJS(self.OrigTaskData, mappingTask, self);
			$('#estimatedHoursFor_' + self.Id()).val(self.OrigTaskData.EstimatedHours); // it does not set through mapping somehow so setting it this way
			//task jurisdictions for transfer
			if ("@Model.isTransfer" == "True"){
				self.AssociatedJurisdictions(self.OrigTaskData.AssociatedJurisdictions);
				$('#associatedJurFor_' + self.Id()).val(self.OrigTaskData.AssociatedJurisdictions).trigger('change');
			}
		};

		self.ETATaskCheckBox = ko.computed(function () {
			if (self.IsInEditMode() && !self.AssignedUserId() && defaultETATasks.indexOf(parseInt(self.TaskDefinitionId()))!= -1) {
				return true;
			}
			else {
				return false;
			}
		}, this);

		self.ButtonEditState = ko.computed(function() {
			return self.IsInEditMode() ? "fas fa-check color-green" : "fas fa-pencil-alt color-none";
		}, this);

		self.ButtonCancelState = ko.computed(function() {
			return self.IsInEditMode() ? true: false;
		}, this);

		self.IsCPReview = ko.computed(function () {
			return (self.IsCPReviewTaskTiedToJur()) ? true : false;
		}, this);

	};

	var taskTemplateModel = function(data){
		var self = this;
		ko.mapping.fromJS(data,mappingTaskTemplate,self);
	};

	var projectTasksModel = function (data){
		var self = this;
		ko.mapping.fromJS(data,mappingProjectTasks,self);

		self.selectedEngineeringTasksCount = ko.pureComputed(function(){
			var count = 0;
			ko.utils.arrayForEach(self.EngineeringTasks(),function(task){
				if(task.forBulkUpdate())
					count++;
			});
			return count;
		}, this);

		self.selectedFieldInspectionTasksCount = ko.pureComputed(function () {
			var count = 0;
			ko.utils.arrayForEach(self.FieldInspectionTasks(), function (task) {
				if (task.forBulkUpdate())
					count++;
			});
			return count;
		}, this);

		self.selectedMathTasksCount = ko.pureComputed(function(){
			var count = 0;
			ko.utils.arrayForEach(self.MathTasks(),function(task){
				if(task.forBulkUpdate())
					count++;
			});
			return count;
		},this);

		// -- Computed Observables
		self.selectedEngineeringTasks = ko.computed(function(){
			var tasks = [];
			ko.utils.arrayFilter(self.EngineeringTasks(),function(item){
				if (item.forBulkUpdate() && !item.IsCPReviewTaskTiedToJur())
					tasks.push(item);
			});
			return tasks;
		}, this);

		self.selectedFieldInspectionTasks = ko.computed(function () {
			var tasks = [];
			ko.utils.arrayFilter(self.FieldInspectionTasks(), function (item) {
				if (item.forBulkUpdate())
					tasks.push(item);
			});

			return tasks;
		}, this);

		self.selectedMathTasks = ko.computed(function(){
			var tasks = [];
			ko.utils.arrayFilter(self.MathTasks(),function(item){
				if(item.forBulkUpdate())
					tasks.push(item);
			});

			return tasks;
		},this);

		self.EngOrigEstimateTotal = ko.computed(function(){
			var total = 0;

			ko.utils.arrayForEach(self.EngineeringTasks(), function(item) {
				var value = parseFloat(item.OriginalEstimatedHours());
				if (!isNaN(value)) {
					total += value;
				}
			});

			return total.toFixed(2);
		}, this);

		self.EngEstimateTotal = ko.computed(function(){
			var total = 0;

			ko.utils.arrayForEach(self.EngineeringTasks(), function(item) {
				var value = parseFloat(item.EstimatedHours());
				if (!isNaN(value)) {
					total += value;
				}
			});
			return total.toFixed(2);
		}, this);

		self.InsOrigEstimateTotal = ko.computed(function () {
			var total = 0;

			ko.utils.arrayForEach(self.FieldInspectionTasks(), function (item) {
				var value = parseFloat(item.OriginalEstimatedHours());
				if (!isNaN(value)) {
					total += value;
				}
			});

			return total.toFixed(2);
		}, this);

		self.InsEstimateTotal = ko.computed(function () {
			var total = 0;

			ko.utils.arrayForEach(self.FieldInspectionTasks(), function (item) {
				var value = parseFloat(item.EstimatedHours());
				if (!isNaN(value)) {
					total += value;
				}
			});
			return total.toFixed(2);
		}, this);

		self.MathOrigEstimateTotal = ko.computed(function(){
			var total = 0;

			ko.utils.arrayForEach(self.MathTasks(), function(item) {
				var value = parseFloat(item.OriginalEstimatedHours());
				if (!isNaN(value)) {
					total += value;
				}
			});

			return total.toFixed(2);
		}, this);

		self.MathEstimateTotal = ko.computed(function(){
			var total = 0;

			ko.utils.arrayForEach(self.MathTasks(), function(item) {
				var value = parseFloat(item.EstimatedHours());
				if (!isNaN(value)) {
					total += value;
				}
			});
			return total.toFixed(2);
		}, this);

		// Add Tasks
		self.addGeneralTask = function()
		{
			var taskFilters = {};
			taskFilters["TaskDefinitionId"] = $('#generalTaskDefChoice').val();
			taskFilters["ProjectId"] = @Model.ProjectId;
			taskFilters["UserId"] = $('#generalUserChoice').val();
			taskFilters["CustomDescription"] = $('#useCustomDescription').is(':checked') == true ? $('#customDescription').val() : null;
			taskFilters["EstimatedHours"] = $('#generalEstimatedHours').val();
			taskFilters["TaskTargetDate"] = $('#generalTaskTargetDate').val();
			taskFilters["TaskChangeReason"] = $('#generalTaskChangeReason').text();
			taskFilters["TaskLockEngaged"] = TASKLOCKENGAGED;
			taskFilters["ETAQueue"] = $('#generalETATaskCheckbox').is(':checked');

			if(taskFilters.EstimatedHours)
			{
				var roundingMultiplier = Math.pow(10, 2),
					newValueAsNum = isNaN(taskFilters.EstimatedHours) ? 0 : Math.abs(+taskFilters.EstimatedHours),
					validValueToWrite = isNaN(4) ? true : /^(?!0\d)\d+(?:[.](?:25|5|75|0)0*)?$/.test((Math.round(newValueAsNum * 4) / 4).toFixed(2)),
					valueToWrite = validValueToWrite ? (Math.round(newValueAsNum * 4) / 4).toFixed(2) : 0;

				taskFilters["EstimatedHours"] = valueToWrite;
			};

			if(taskFilters.TaskDefinitionId && taskFilters.ProjectId)
			{
				var jsonData = JSON.stringify(taskFilters);
				var url = '@Url.Action("AddTask")?sourceMathReview=' + $('#SourceMathReview').val() + '&sourceMathComplete=' + $('#SourceMathComplete').val();
				Loading();

				$.ajax({
					url: url,
					type: 'POST',
					data: jsonData,
					contentType: "application/json",
					dataType: "json",
					success: function (returnData) {
						var newTask = new taskModel(JSON.parse(returnData));
						newTask.IsInEditMode(true);
						self.pushNewTask(newTask);
					},
					error: function (returnData) {
						bootbox.alert({
							title: "Error:",
							message:
								"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
								+ "<table border='1'>"
								+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
								+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
								+ "<tr><td>Error Tag</td><td>Task Add</td></tr>"
								+ "</table>"
						});
					},
					complete: function () {
						clearGeneralTaskModal();
						DoneLoading();
					}
				});
			}
			$('#addTaskModal').modal('hide');
		};

		self.closeAllTasks = function(deptId)
		{
			if(deptId == ENGINEERINGDEPTID)
			{
				ko.utils.arrayForEach(self.EngineeringTasks(),function(task){
					task.IsInEditMode(false);
				});
			}
			else if (deptId == FIELDINSPECTIONDEPTID) {
				ko.utils.arrayForEach(self.FieldInspectionTasks(), function (task) {
					task.IsInEditMode(false);
				});
			}
			else if(deptId == MATHDEPTID)
			{
				ko.utils.arrayForEach(self.MathTasks(),function(task){
					task.IsInEditMode(false);
				});
			}
		}

		self.addTask = function(deptId)
		{
			var newTask = new taskModel(defaultTask);
			newTask.DepartmentId(deptId);
			newTask._dirty(true);
			newTask.ProjectId(@Model.ProjectId);
			newTask.IsInEditMode(true);
			self.pushNewTask(newTask);
		};

		self.addTaskTemplate = function()
		{
			var taskTemplateId = $('#selectedTaskTemplate').val();

			if(taskTemplateId)
			{
				var TemplateFilters = {};
				TemplateFilters["TemplateId"] =  taskTemplateId;
				TemplateFilters["ProjectId"] = @Model.ProjectId;
				TemplateFilters["AddReason"] = $('#addTaskTemplateReason').text();
				TemplateFilters["TaskLockEngaged"] = TASKLOCKENGAGED;
				TemplateFilters["ProjectCreateDate"] = '@Model.ProjectCreateDate'

				var jsonData = JSON.stringify(TemplateFilters);
				var url = '@Url.Action("AddTaskTemplate")';
				Loading();

				$.ajax({
					url: url,
					type: 'POST',
					data: jsonData,
					contentType: "application/json",
					dataType: "json",
					success: function (returnData) {
						if (returnData == "TaskMismatch") {
							bootbox.alert("Template has tasks which can not be added to this Project.")
						}
						else {
							var parsedData = JSON.parse(returnData);
							$.each(parsedData, function (key, value) {
								var newTask = new taskModel(value);
								newTask.IsInEditMode(true);
								self.eTAQueue(newTask);
								self.pushNewTask(newTask);
							});
						}
					},
					error: function (returnData) {

					},
					complete: function (returnData) {
						DoneLoading();
						$('#addTaskTemplateButton').button('reset');
					}
				});
			}
		}

		// Remove Tasks
		self.removeTask = function(task)
		{
			if(!task.Id())
			{
				if(task.DepartmentId() == ENGINEERINGDEPTID)
				{
					self.EngineeringTasks.remove(task);
				}
				else if (task.DepartmentId() == FIELDINSPECTIONDEPTID) {
					self.FieldInspectionTasks.remove(task);
				}
				else if (task.DepartmentId() == MATHDEPTID)
				{
					self.MathTasks.remove(task);
				}
			}
			else
			{
				bootbox.confirm("Remove task: " + task.Name() + " ? ",function(confirmed){
					if(confirmed)
					{
						var jsonData = ko.toJSON(task);
						var url = '@Url.Action("RemoveTask")';
						Loading();

						$.ajax({
							url: url,
							type: 'POST',
							data: jsonData,
							contentType: "application/json",
							dataType: "json",
							success: function (returnData) {
								var target = JSON.parse(returnData);
								if(target.DepartmentId == ENGINEERINGDEPTID)
								{
									var task = ko.utils.arrayFilter(self.EngineeringTasks(), function(task){ return task.Id() == target.Id})[0];
									if(task)
									{
										self.EngineeringTasks.remove(task);
									}
								}
								else if (target.DepartmentId == FIELDINSPECTIONDEPTID) {
									var task = ko.utils.arrayFilter(self.FieldInspectionTasks(), function (task) { return task.Id() == target.Id })[0];
									if (task) {
										self.FieldInspectionTasks.remove(task);
									}
								}
								else if (target.DepartmentId == MATHDEPTID)
								{
									var task = ko.utils.arrayFilter(self.MathTasks(), function(task){ return task.Id() == target.Id})[0];
									if(task)
									{
										self.MathTasks.remove(task);
									}
								}

								if(TASKLOCKENGAGED)
								{
									ReloadDeactivatedTasks(@Model.ProjectId);
								}
							},
							error: function (returnData) {
								bootbox.alert({
									title: "Error:",
									message:
										"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
										+ "<table border='1'>"
										+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
										+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
										+ "<tr><td>Error Tag</td><td>Task Remove</td></tr>"
										+ "</table>"
								});
							},
							complete: function () {
								DoneLoading();
							}
						});
						return true;
					}
					else
					{
						return true;
					}
				});
			}
		};

		//Complete Task
		self.completeTask = function(task)
		{
			if (task.Id())
			{
				bootbox.confirm("Complete task: " + task.Name() + " ? ",function(confirmed){
					if(confirmed)
					{
						//set taskId in partial
						url = '@Url.Action("CompleteTask", "MyTasks")?taskId=' + task.Id()
						$('#ModalCompleteTaskContainer').load(url);
						$('#CompleteTaskModal').modal('show');
					}
				});
			}
		}

		self.removeSelectedTasks = function (deptId)
		{
			bootbox.confirm("Remove selected tasks? Doing so is permanent and you will not be able to recover them once confirmation is recieved." ,function(confirmed){
				if(confirmed)
				{
					var url = '@Url.Action("RemoveTasks")';
					var jsonData = {};
					jsonData["TaskLockEngaged"] = TASKLOCKENGAGED;

					if(deptId == ENGINEERINGDEPTID)
					{
						jsonData["Tasks"] = ko.utils.arrayFilter(self.selectedEngineeringTasks(),function(task){
							if(!task.Id())
							{
								self.EngineeringTasks.remove(task);
							}
							return task.Id();
						});
					}
					else if (deptId == FIELDINSPECTIONDEPTID) {
						jsonData["Tasks"] = ko.utils.arrayFilter(self.selectedFieldInspectionTasks(), function (task) {
							if (!task.Id()) {
								self.FieldInspectionTasks.remove(task);
							}
							return task.Id();
						});
					}
					else if(deptId == MATHDEPTID)
					{
						jsonData["Tasks"] = ko.utils.arrayFilter(self.selectedMathTasks(),function(task){
							if(!task.Id())
							{
								self.EngineeringTasks.remove(task);
							}
							return task.Id();
						});
					}

					if(jsonData.Tasks.length > 0)
					{
						Loading();
						$.ajax({
							url: url,
							type: 'POST',
							data: ko.toJSON(jsonData),
							contentType: "application/json",
							dataType: "json",
							success: function (returnData) {
								var parsedData = JSON.parse(returnData);
								var forRemoval = parsedData.tasks.map(function(rawTask){return new taskModel(rawTask)});

								if(parsedData.result && parsedData.departmentId == ENGINEERINGDEPTID)
								{
									ko.utils.arrayForEach(forRemoval,function(taskForRemoval){
										var task = ko.utils.arrayFilter(self.EngineeringTasks(), function(task){ return task.Id() == taskForRemoval.Id()})[0];
										if(task)
										{
											self.EngineeringTasks.remove(task);
										}
									});
								}
								else if (parsedData.result && parsedData.departmentId == FIELDINSPECTIONDEPTID) {
									ko.utils.arrayForEach(forRemoval, function (taskForRemoval) {
										var task = ko.utils.arrayFilter(self.FieldInspectionTasks(), function (task) { return task.Id() == taskForRemoval.Id() })[0];
										if (task) {
											self.FieldInspectionTasks.remove(task);
										}
									});
								}
								else if (parsedData.result && parsedData.departmentId == MATHDEPTID)
								{
									ko.utils.arrayForEach(forRemoval,function(taskForRemoval){
										var task = ko.utils.arrayFilter(self.MathTasks(), function(task){ return task.Id() == taskForRemoval.Id()})[0];
										if(task)
										{
											self.MathTasks.remove(task);
										}
									});
								}
								else{

								}

								if(TASKLOCKENGAGED)
								{
									ReloadDeactivatedTasks(@Model.ProjectId);
								}
							},
							error: function (returnData) {
								bootbox.alert({
									title: "Error:",
									message:
										"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
										+ "<table border='1'>"
										+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
										+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
										+ "<tr><td>Error Tag</td><td>Remove selected tasks.</td></tr>"
										+ "</table>"
								});
							},
							complete: function () {
								DoneLoading();
							}
						});
					}
					else
					{
					}
					return true;
				}
				else
				{
					return true;
				}
			});
		};

		// Edit Tasks
		self.editTask = function(data,event)
		{
			data.IsInEditMode(!data.IsInEditMode());
			self.eTAQueue(data);
		};

		self.cancelTaskEdit = function (task, event)
		{
			task.resetData();
			task._dirty(false);
			task.IsInEditMode(false);
		};

		self.selectAllJur = function (task, event)
		{
			var jurIds = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.JurisdictionsFilter.JurisdictionIds));
			$(event.target).closest('td').prev("td").find('#associatedJurFor_' + task.Id()).val(jurIds).trigger('change');
		};

		self.syncTaskOnEdit = function (task, event)
		{
			var updatedText = $(event.target).children("option").filter(":selected").text();
			task.Name(updatedText);
			task.Description(updatedText);
			self.eTAQueue(task);
		};

		self.eTAQueue = function (task) {
			if (defaultETATasks.indexOf(parseInt(task.TaskDefinitionId())) != -1 && (task.AssignedUserId() == null || task.AssignedUserId() == "")) {
				task.ShowETACheckbox(true);
			}
			else {
				task.ShowETACheckbox(false);
				$('#ETATask').prop('checked', false);
			}
			self.soilTask(task);
		}

		self.soilTask = function (task, event)
		{
			task._dirty(true);
		}

		self.syncEstimatedHours = function(data,event)
		{
			if(!vm.TaskLockEnforced())
			{
				data.OriginalEstimatedHours(data.EstimatedHours());
			}
			else {
				if(!data.OriginalEstimatedHours()){
					data.OriginalEstimatedHours(0);
				}
			}
			self.soilTask(data);
		};

		// Bulk Operations
		self.bulkUpdate = function ()
		{
			//var jsonData;
			var BulkUpdateFilter = {
				DeptId: $('#bulkDept').val(),
				UserId: $('#bulkUserChoice').val(),
				UserName: $('#bulkUserChoice').text(),
				Estimate: parseFloat($('#bulkEstimatedHours').val()),
				TargetDateString: moment($('#bulkTaskTargetDate').val())._isValid ? moment($('#bulkTaskTargetDate').val()) : null,
				TaskChangeReason: $('#bulkTaskUpdateReason').text(),
				TaskLockEngaged: TASKLOCKENGAGED
			};

			if(BulkUpdateFilter.Estimate)
			{
				var roundingMultiplier = Math.pow(10, 2),
					newValueAsNum = isNaN(BulkUpdateFilter.Estimate) ? 0 : Math.abs(+BulkUpdateFilter.Estimate),
					validValueToWrite = isNaN(4) ? true : /^(?!0\d)\d+(?:[.](?:25|5|75|0)0*)?$/.test((Math.round(newValueAsNum * 4) / 4).toFixed(2)),
					valueToWrite = validValueToWrite ? (Math.round(newValueAsNum * 4) / 4).toFixed(2) : 0;

				BulkUpdateFilter["Estimate"] = valueToWrite;
			};

			if(BulkUpdateFilter.DeptId == ENGINEERINGDEPTID)
			{
				ko.utils.arrayForEach(self.selectedEngineeringTasks(),function(item){

					if(BulkUpdateFilter.UserId)
					{
						item.UserId(BulkUpdateFilter.UserId);
						item.User.Text(BulkUpdateFilter.UserName);
						item.User.Value(BulkUpdateFilter.UserId)
						item.User.Selected(true);
					}

					if(BulkUpdateFilter.Estimate >= 0)
					{
						item.EstimatedHours(BulkUpdateFilter.Estimate);
						if(!vm.TaskLockEnforced()){
							item.OriginalEstimatedHours(item.EstimatedHours());
						}
						else {
							if(!item.OriginalEstimatedHours()){
								item.OriginalEstimatedHours(0);
							}
						}
					}
					if (BulkUpdateFilter.TargetDateString)
					{
						item.TargetDateString(BulkUpdateFilter.TargetDateString.format("MM/DD/YYYY"));
					}

					if(BulkUpdateFilter.TaskLockEngaged)
					{
						item.TaskChangeReason(BulkUpdateFilter.TaskChangeReason);
					}

					item.forBulkUpdate(false);
					item._dirty(true);
				});
			}

			if (BulkUpdateFilter.DeptId == FIELDINSPECTIONDEPTID) {
				ko.utils.arrayForEach(self.selectedFieldInspectionTasks(), function (item) {

					if (BulkUpdateFilter.UserId) {
						item.UserId(BulkUpdateFilter.UserId);
						item.User.Text(BulkUpdateFilter.UserName);
						item.User.Value(BulkUpdateFilter.UserId)
						item.User.Selected(true);
					}

					if (BulkUpdateFilter.Estimate >= 0) {
						item.EstimatedHours(BulkUpdateFilter.Estimate);
						if (!vm.TaskLockEnforced()) {
							item.OriginalEstimatedHours(item.EstimatedHours());
						}
						else {
							if (!item.OriginalEstimatedHours()) {
								item.OriginalEstimatedHours(0);
							}
						}
					}

					if (BulkUpdateFilter.TargetDateString) {
						item.TargetDateString(BulkUpdateFilter.TargetDateString.format("MM/DD/YYYY"));
					}

					if (BulkUpdateFilter.TaskLockEngaged) {
						item.TaskChangeReason(BulkUpdateFilter.TaskChangeReason);
					}

					item.forBulkUpdate(false);
					item._dirty(true);
				});
			}
			else if(BulkUpdateFilter.DeptId == MATHDEPTID)
			{
				ko.utils.arrayForEach(self.selectedMathTasks(),function(item){
					if(BulkUpdateFilter.UserId)
					{
						item.UserId(BulkUpdateFilter.UserId);
						item.User.Text(BulkUpdateFilter.UserName);
						item.User.Value(BulkUpdateFilter.UserId)
						item.User.Selected(true);
					}

					if(BulkUpdateFilter.Estimate || BulkUpdateFilter.Estimate == 0)
					{
						item.EstimatedHours(BulkUpdateFilter.Estimate);
						if(!vm.TaskLockEnforced()){
							item.OriginalEstimatedHours(item.EstimatedHours());
						}
						else {
							if(!item.OriginalEstimatedHours()){
								item.OriginalEstimatedHours(0);
							}
						}
					}

					if (BulkUpdateFilter.TargetDateString)
					{
						item.TargetDateString(BulkUpdateFilter.TargetDateString.format("MM/DD/YYYY"));
					}

					if(BulkUpdateFilter.TaskLockEngaged)
					{
						item.TaskChangeReason(BulkUpdateFilter.TaskChangeReason);
					}
					item.forBulkUpdate(false);
					item._dirty(true);
				});
			}
			$("input:checkbox").prop('checked', false);
		};

		self.moveTasks = function(){
			var destinationProject = $('#moveTasksToProject').val();
			var sourceProject = '@Model.FileNumber';
			var selectedTasksArray = [];

			ko.utils.arrayForEach(self.selectedEngineeringTasks(), function(item){
				selectedTasksArray.push(item.Id());
			});

			ko.utils.arrayForEach(self.selectedFieldInspectionTasks(), function (item) {
				selectedTasksArray.push(item.Id());
			});

			ko.utils.arrayForEach(self.selectedMathTasks(), function(item){
				selectedTasksArray.push(item.Id());
			});

			if(destinationProject && selectedTasksArray.length > 0)
			{
				var payload = {
					destinationProject: destinationProject,
					sourceProject: sourceProject,
					tasksIds: selectedTasksArray
				};

				var url = '/Protrack/Tasks/MoveTasks';
				Loading();

				$.ajax({
					url: url,
					type: 'POST',
					data: JSON.stringify(payload),
					contentType: "application/json",
					dataType: "json",
					success: function (returnData) {
						var tasks = JSON.parse(returnData);

						$.each(tasks,function(key,value){
							if(value.DeptId == ENGINEERINGDEPTID)
							{
								var task = ko.utils.arrayFilter(self.EngineeringTasks(), function(task){ return task.Id() == value.TaskId})[0];
								if(task)
								{
									self.EngineeringTasks.remove(task);
								}
							}

							else if (value.DeptId == FIELDINSPECTIONDEPTID) {
								var task = ko.utils.arrayFilter(self.FieldInspectionTasks(), function (task) { return task.Id() == value.TaskId })[0];
								if (task) {
									self.FieldInspectionTasks.remove(task);
								}
							}
							else if (value.DeptId  == MATHDEPTID)
							{
								var task = ko.utils.arrayFilter(self.MathTasks(), function(task){ return task.Id() == value.TaskId})[0];
								if(task)
								{
									self.MathTasks.remove(task);
								}
							}
						});
					},
					error: function (returnData) {
						bootbox.alert({
							title: "Error:",
							message:
								"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
								+ "<table border='1'>"
								+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
								+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
								+ "<tr><td>Error Tag</td><td>Task Move</td></tr>"
								+ "</table>"
						});
					},
					complete: function () {
						DoneLoading();
						$('.mathBulkCheckBox').prop('checked', false);
						$('.engineeringBulkCheckBox').prop('checked', false);
						$('.fieldInspectionBulkCheckBox').prop('checked', false);
					}
				});
			}
		};

		// Helper Functions
		self.pushNewTask = function(newTask)
		{
			if(newTask.DepartmentId() == ENGINEERINGDEPTID)
			{
				self.EngineeringTasks.push(newTask);
			}
			else if (newTask.DepartmentId() == FIELDINSPECTIONDEPTID) {
				self.FieldInspectionTasks.push(newTask);
			}
			else if(newTask.DepartmentId() == QADEPTID)
			{
				self.QATasks.push(newTask);
			}
			else if(newTask.DepartmentId() == MATHDEPTID)
			{
				self.MathTasks.push(newTask);
			}
		};

		self.checkAll = function(deptId,data)
		{
			if(deptId == ENGINEERINGDEPTID)
			{
				ko.utils.arrayForEach(self.EngineeringTasks(), function (item) {
					item.forBulkUpdate(self.engineeringCheckAll());
				});
			}
			else if (deptId == FIELDINSPECTIONDEPTID) {
				ko.utils.arrayForEach(self.FieldInspectionTasks(), function (item) {
					item.forBulkUpdate(self.fieldInspectionCheckAll());
				});
			}
			else if(deptId == QADEPTID)
			{
				ko.utils.arrayForEach(self.QATasks(), function(item) {
					item.forBulkUpdate(self.qualityAssuranceCheckAll());
				});
			}
			else if(deptId == MATHDEPTID)
			{
				ko.utils.arrayForEach(self.MathTasks(), function(item) {
					item.forBulkUpdate(self.mathCheckAll());
				});
			}
			return true;
		};

		$('.SaveDescAction').on("click",function (e) {
			e.preventDefault();
			$('#EditViewModel').val(ko.toJSON(vm));
			var url = '@Url.Action("EditDesc", "Tasks")'
			$('#TasksForm').attr('action', url);
			$('#TasksForm').submit();
			return true;
		})


		self.validateSave = function (e) {
			var taskTargetDateGreaterThanQADeliveryDate = false;
			var QADate = moment.utc(moment(self.QADeliveryDate())).format('LL');
			ko.utils.arrayForEach(self.EngineeringTasks(), function (item) {
				if (!Em(item.TargetDateString())) {
					item.TargetDate(moment.utc(moment(item.TargetDateString()).format('LL')));
					if (item.TargetDate().isAfter(self.QADeliveryDate())) {
						taskTargetDateGreaterThanQADeliveryDate = true;
					}
				} else {
					item.TargetDate(null);
				}
			});
			ko.utils.arrayForEach(self.FieldInspectionTasks(), function (item) {
				if (!Em(item.TargetDateString())) {
					item.TargetDate(moment.utc(moment(item.TargetDateString()).format('LL')));
					if (item.TargetDate().isAfter(self.QADeliveryDate())) {
						taskTargetDateGreaterThanQADeliveryDate = true;
					}
				} else {
					item.TargetDate(null);
				}
			});
			ko.utils.arrayForEach(self.MathTasks(), function (item) {
				if (!Em(item.TargetDateString())) {
					item.TargetDate(moment.utc(moment(item.TargetDateString()).format('LL')));
					if (item.TargetDate().isAfter(self.QADeliveryDate())) {
						taskTargetDateGreaterThanQADeliveryDate = true;
					}
				} else {
					item.TargetDate(null);
				}
			});

			//Allow Test Analysis Task
			var dirtyEngineeringTasks = ko.utils.arrayFilter(self.EngineeringTasks(), function (item) {
				return (item._dirty() && (item.TaskDefinitionId() != "@((int) ProtrackReviewTask.EngIncoming)" &&  item.TaskDefinitionId() != "@((int) ProtrackReviewTask.EngIncomingDynamics)"  ) );
			});

			var dirtyFieldInspectionTasks = ko.utils.arrayFilter(self.FieldInspectionTasks(), function (item) {
				return item._dirty();
			});

			var dirtyMathTasks = ko.utils.arrayFilter(self.MathTasks(), function (item) {
				return item._dirty();
			});

			//if (Em(vm.OrgTargetDateStr()) && (dirtyEngineeringTasks.length > 0 || dirtyFieldInspectionTasks.length > 0)) {
			//	bootbox.alert("Original Target Date is not set. Tasks can not added.")
			//	return false;
			//}

			vm.OrgTargetDate(new Date(vm.OrgTargetDateStr()));
			const ESTIMATEDHOURSREGEX = /^(?!0\d)\d+(?:[.](?:25|5|75|0)0*)?$/;
			var validator = {
				missingChangeReason : false,
				invalidEstimatedHours: false,
				Valid: function(){
					return !this.missingChangeReason && !this.invalidEstimatedHours;
				}
			};

			var dirtyTasks = dirtyEngineeringTasks.concat(dirtyFieldInspectionTasks).concat(dirtyMathTasks);

			ko.utils.arrayForEach(dirtyTasks, function(item){
				if(!item.TaskChangeReason() && TASKLOCKENGAGED && (item.EstimatedHours() != item.InitialEstimatedHours()) && item.Id() != null)
				{
					validator.missingChangeReason = true;
				}
				if(!ESTIMATEDHOURSREGEX.test(item.EstimatedHours()))
				{
					validator.invalidEstimatedHours = true;
				}
			});

			if(validator.Valid())
			{
				if (taskTargetDateGreaterThanQADeliveryDate) {
					bootbox.confirm("A task target date is greater than the QA delivery date (" + QADate + "). Do you wish to continue?", function (result) {
						if (result) {
							$('#EditViewModel').val(ko.toJSON(vm));
							$('#TasksForm').submit();
							return true;
						}
					});
				}
				else {
					$('#EditViewModel').val(ko.toJSON(vm));
					$('#TasksForm').submit();
					return true;
				}
			}
			else
			{
				if(validator.missingChangeReason)
				{
					bootbox.alert("Project accepted more than 96 hours ago. Task change reason required when changing estimated task hours.");
				}
				else if(validator.invalidEstimatedHours)
				{
					bootbox.alert("One or more of the estimated hours entered is not a valid dynamics hours format. Please enter hours in .25 increments only. i.e. (1, 1.25, 1.5, 1.75, etc..).");
				}
				return false;
			}

		};
	};

	// View Model
	var vm = new projectTasksModel(data);

	// -- Full Page Load
	$(function () {
		DoneLoading();
		ko.applyBindings(vm);
		DisableAllSave();
	});

	// Jquery Events Handlers
	$('#addTaskTemplateModal').on('hidden.bs.modal', function () {
		$('#addTaskTemplateButton').button('reset');
	})

	$('#generalDepartmentChoice').change(function(){
		resetDepartmentDependantChoices();
		var deptId = $(this).val();
		updateUsersFilter(deptId);
		updateTasksFilter(deptId);

		if(deptId)
		{
			showDepartmentDependantChoices();
		}
	});

	$('#generalTaskDefChoice').change(function () {
		var taskId = $(this).val();
		if (defaultETATasks.indexOf(parseInt(taskId)) != -1) {
			$('#generalETAQueueDIV').show();
		}
		else {
			$('#generalETAQueueDIV').hide();
			$('#generalETATaskCheckbox').prop('checked', false);
		}
	});

	$('#generalUserChoice').change(function () {
		if ($(this).val()) {
			$('#generalETATaskCheckbox').prop('checked', false);
			$('#generalETAQueueDIV').hide();
		}
		else if (defaultETATasks.indexOf(parseInt($('#generalTaskDefChoice').val())) != -1) {
			$('#generalETAQueueDIV').show();
			$('#generalETATaskCheckbox').prop('checked', true);
		}
	});

	$('#selectedTemplateOwner').change(function(){
		resetTemplateOwnerDependantChoices();
		var userId = $(this).val();
		updateTaskTemplateFilter(userId);
		if(userId)
		{
			$('#selectedTaskTemplateDIV').show();
		}
	});

	$('#addTaskButton').click(function(e){
		e.preventDefault();
		$('#addTaskModal').modal();
	});

	$('#addTaskTemplateButton').click(function(e){
		e.preventDefault();
		$('#addTaskTemplateButton').button('loading');
		$('#addTaskTemplateModal').modal();
	});

	$('#useCustomDescription').change(function(){
		$('#customDescriptionGroup').toggle('slow');
	});

	$('#addTaskModal').on('hidden.bs.modal', function () {
		clearGeneralTaskModal();
	});

	$('#addTaskTemplateModal').on('hidden.bs.modal',function(){
		$('#selectedTemplateOwner').val('@Model.TemplateOwnerId').trigger('change');
		resetTemplateOwnerDependantChoices();
	});

	$('.bulkUpdate').click(function(e){
		e.preventDefault();
		var deptId = $(this).data('departmentid');
		resetBulkUpdateModal();
		initalizeBulkUpdateModal(deptId);

		$('#bulkUpdateModal').modal();
	});

	$('#moveTask').click(function(e){
		e.preventDefault();
		$('#moveTaskModal').modal();
	});

	$('body').on('click', '.getContext', function() {
		console.log(ko.contextFor(this));
	});

	$('#CreateNewTemplate').on('click', function (e) {
		e.preventDefault();
		doBootboxCycle();
	});

	$('#GetExistingTasksFromAnotherProject').on('click', function (e) {
		var targetProjectId = $('#ProjectSearchId').val();
		var currentProjectId = @Model.ProjectId;
		var taskLockEnforced = @Model.TaskLockEnforced.ToString().ToLower();

		$.get('@Url.Action("CheckPotentialClonedTasks")', { targetProjectId: targetProjectId, currentProjectId: currentProjectId })
			.done(function (data) {
				var message = "Clone "
					+ data.EngineeringTasks + " Engineering tasks, "
					+ data.MathTasks + " Math tasks, and "
					+ data.FieldInsTasks + " Field Inspection tasks to the current project? ";
				if (taskLockEnforced) {
					message += "<br> NOTE: As the project has been accepted more then 96 hours ago, task estimated hours will not be imported.";
				}
				if (data.TaskMismatch) {
					message += "<br><br>(Warning!! Project has some tasks which cannot be copied.)"
				}
				bootbox.confirm(message, function (confirmBool) {
					if (confirmBool) {
						$.post('@Url.Action("CloneTasksFromTargetProject")', { currentProject: currentProjectId, targetProject: targetProjectId })
							.done(function (data) {
								location.reload();
							});
					}
				});
			});
	});

	// Js Functions
	function doBootboxCycle() {
		bootbox.prompt("Please enter a name for the new template: ", function (newName)
		{
			if (newName != null || newName != '') {
				$.post('@Url.Action("ValidateTaskTemplateName")', {name:newName})
					.done(function (data)
					{
						if (data) {
							bootbox.prompt('Please enter a description for the new <strong>' + newName + '</strong> template', function (newDesc)
							{
								Loading();
								$.post('@Url.Action("CreateTemplateFromTasks")',
									{ projectId: @Model.ProjectId, newTemplateName: newName, newTemplateDescription: newDesc })
									.done(function (secondaryData)
									{
										bootbox.alert("The new template can be edited here: <a href='@Url.Action("Edit","TaskTemplates", new { area = "lookups" })/?id="
											+ secondaryData.Message + "&mode=Edit'>New Template</a>");
										DoneLoading()
									});
							});
						}
						else {
							bootbox.confirm('A template with this name already exists. Please provide a new unique name', function (result)
							{
								if (result) {
									doBootboxCycle();
								}
							});
						}
					});
			}
		});
	}

	function updateUsersFilter(deptId)
	{
		if(deptId)
		{
			var usersfilter = $('#generalUserChoice').data('filter');
			if(usersfilter)
			{
				usersfilter.Department = [deptId];
				$('#generalUserChoice').data('filter',usersfilter);
			}
		}
	}

	function updateTasksFilter(deptId)
	{
		if(deptId)
		{
			var tasksFilter = $('#generalTaskDefChoice').data('filter');
			tasksFilter.DepartmentIds = [deptId];
			tasksFilter.IsDynamicSet = "@Model.showDynamicsTasks.ToString().ToLower()";
			$('#generalTaskDefChoice').data('filter',tasksFilter);
		}
	}

	function updateTaskTemplateFilter(userId)
	{
		if(userId)
		{
			var taskTemplateFilter = $('#selectedTaskTemplate').data('filter');
			taskTemplateFilter.UserIds = [userId];
			$('#selectedTaskTemplate').data('filter',taskTemplateFilter);
		}
	}

	function clearGeneralTaskModal(){
		$('#generalDepartmentChoice').val(null).trigger('change');
		$('#generalTaskDefChoice').val(null).trigger('change');
		$('#generalUserChoice').val(null).trigger('change');
		$('#generalEstimatedHours').val('');
		$('#generalTaskTargetDate').val('');
		$('#customDescription').val('');
		$('#useCustomDescription').attr('checked', false);
		$('#customDescriptionGroup').hide();
		$('#generalETAQueueDIV').hide();
	}

	function goToMathReview()
	{
		var url = '@Url.Action("LoadMathReviews","MathQueue")?projectId=' + '@Model.ProjectId' + '&sourceType=@MathListType.AllReviewList.ToString()'
		window.open(url);
	}

	function resetDepartmentDependantChoices()
	{
		$('#generalUserChoiceDIV').hide();
		$('#generalUserChoice').val(null).trigger('change');

		$('#generalTaskDefChoiceDIV').hide();
		$('#generalTaskDefChoice').val(null).trigger('change');

		$('#generalEstimatedHoursDIV').hide();
		$('#generalEstimatedHours').val('');

		$('#generalTaskTargetDateDIV').hide();
		$('#generalTaskTargetDate').val('');

		$('#generalUseCustomDescriptionDIV').hide();
		$('#useCustomDescription').attr('checked', false);
		$('#customDescriptionGroup').hide();

		$('#generalTaskChangeReasonDIV').hide();
		$('#generalTaskChangeReason').val('');
		$('#generalTaskChangeReason').text('');
	}

	function showDepartmentDependantChoices()
	{
		$('#generalUserChoiceDIV').show();
		$('#generalTaskDefChoiceDIV').show();
		$('#generalEstimatedHoursDIV').show();
		$('#generalTaskTargetDateDIV').show();
		$('#generalUseCustomDescriptionDIV').show();
		if(TASKLOCKENGAGED)
		{
			$('#generalTaskChangeReasonDIV').show();
		}
	}

	function resetTemplateOwnerDependantChoices()
	{
		$('#selectedTaskTemplate').val(null).trigger('change');
	}

	function resetBulkUpdateModal()
	{
		$('#bulkUpdateTitleSpan').empty();
		var currentFilter = $('#bulkUserChoice').data('filter');
		currentFilter.Department = null;
		$('#bulkUserChoice').data('filter',currentFilter);
		$('#bulkUserChoice').val(null).trigger('change');
		$('#bulkUserChoice').text(null);
		$('#bulkEstimatedHours').val('');
		$('#bulkTaskTargetDate').val('');
		$('#bulkDept').val('');
	}

	function initalizeBulkUpdateModal(deptId)
	{
		var department = "";

		if(deptId == ENGINEERINGDEPTID)
		{
			department = "Engineering";
		}

		else if (deptId == FIELDINSPECTIONDEPTID) {
			department = "Field Inspection";
		}
		else if(deptId == QADEPTID)
		{
			department = "Quality Assurance";
		}
		else if(deptId == MATHDEPTID)
		{
			department = "Math";
		}

		$('#bulkUpdateTitleSpan').html(department);
		var currentFilter = $('#bulkUserChoice').data('filter');
		currentFilter.Department = [deptId];
		$('#bulkUserChoice').data('filter',currentFilter);
		$('#bulkDept').val(deptId);
	}

	function Loading(){
		$('body').addClass('transp');
		$('#loadingSymbol').show();
	}

	function DoneLoading(){
		$('body').removeClass('transp');
		$('#loadingSymbol').hide();
	}

	function DisableAllSave()
	{
		if ("@Model.AllowTaskSave.ToString()" == "False")
		{
			$(".SaveAction").attr('disabled', 'disabled');

			if ("@Model.ProjectENStatus" == "@ProjectStatus.QA.ToString()"  || "@Model.ProjectENStatus" == "@ProjectStatus.DN.ToString()") {
				$(".SaveDescAction").show();
			}
		}

		@*if ("@Model.AllowTargetDate.ToString()" == "True")
		{
			$(".AddSaveAction").attr('disabled', 'disabled');
		}*@
	}

	function ReloadDeactivatedTasks(projectId){
		var url = '/Protrack/Tasks/ReloadDeactivatedTasks';
		Loading();

		$.ajax({
			url: url,
			type: 'POST',
			data: JSON.stringify({projectId: projectId}),
			contentType: "application/json",
			dataType: "json",
			success: function (returnData) {
				$('#deactivatedTasksTable tbody').empty().append(buildDeactivatedTaskTableBody(JSON.parse(returnData)));
			},
			error: function (returnData) {
				bootbox.alert({
					title: "Error:",
					message:
						"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
						+ "<table border='1'>"
						+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
						+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
						+ "<tr><td>Error Tag</td><td>Task Move</td></tr>"
						+ "</table>"
				});
			},
			complete: function () {
				DoneLoading();
			}
		});
	};

	function buildDeactivatedTaskTableBody(deactivatedTasks)
	{
		var content = '';

		$.each(deactivatedTasks,function(key,value){
			content += '<tr>';
			content += '<td><p>' + value.Name + '</p></td>';
			content += '<td><p>' + value.Description + '</p></td>';
			var User = value.User ? value.User.Text : '';
			content += '<td><p>' + User + '</p></td>';
			var OriginalEstimatedHours = value.OriginalEstimatedHours || '';
			content += '<td><p>' + OriginalEstimatedHours + '</p></td>';
			var EstimatedHours = value.EstimatedHours || '';
			content += '<td><p>' + EstimatedHours + '</p></td>';
			var Note = value.Note || '';
			content += '<td><p>' + Note + '</p></td>';
			content += '</tr>';
		});

		return content;
	}
</script>
}