﻿@model Submissions.Web.Areas.Protrack.Models.SLA.SLAIndexViewModel

@{
	ViewBag.ErrorMessage = "";
	ViewBag.Title = "SLA Management for ";
	ViewBag.FullWidth = true;
}

@{

	if ((@Model.MasterFileNumber == "") || (@Model.MasterFileNumber == null))
	{
		ViewBag.ErrorMessage = "Note: This Project has no MasterFile Number associated with it.";

	}

}

@using (Html.BeginForm("SLARemediationSave", "SLA", new { @projId = @Model.ProjectId }, FormMethod.Post, new { id = "SLARemediationForm" }))
{
	@Html.HiddenFor(x => x.ProjectId);
	@Html.HiddenFor(x => x.TransferName);
	@Html.HiddenFor(x => x.MasterFileNumber);

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(model => model.TransferName) <b><font color=red>@ViewBag.ErrorMessage</font></b> </small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="button" id="saveForm" value="Save" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "SLA", new { projId = @Model.ProjectId, Id = "cancelButton", @class = "btn btn-primary btn-sm" })
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Exclude From SLA</h3>
				</div>
				<div id="slaList" class="panel-collapse collapse in">
					<div class="form-group form-group-sm">
						@Html.CheckBoxFor(m => m.SlaOption.Approvals)
						<div class="col-sm-9">
							@Html.LabelFor(m => m.SlaOption.Approvals)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.CheckBoxFor(m => m.SlaOption.FirstPass)
						<div class="col-sm-9">
							@Html.LabelFor(m => m.SlaOption.FirstPass)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.CheckBoxFor(m => m.SlaOption.FCDuration)
						<div class="col-sm-9">
							@Html.LabelFor(m => m.SlaOption.FCDuration)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.CheckBoxFor(m => m.SlaOption.PCDuration)
						<div class="col-sm-9">
							@Html.LabelFor(m => m.SlaOption.PCDuration)
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Remediation</h3>
				</div>
				<div class="panel-body">
					<div class="form-group form-group-sm">
						<div class="col-sm-5">
							@Html.LabelFor(m => m.RemediationOption.BugFix)
						</div>
						&nbsp;&nbsp;@Html.CheckBoxFor(m => m.RemediationOption.BugFix, new { @class = "remCode" })
					</div>
					<div class="form-group form-group-sm">
						<div class="col-sm-5">
							@Html.LabelFor(m => m.RemediationOption.EscapeDefect)
						</div>
						&nbsp;&nbsp;@Html.CheckBoxFor(m => m.RemediationOption.EscapeDefect, new { @class = "remCode" })
					</div>
					<div class="form-group form-group-sm">
						<div class="col-sm-5">
							@Html.LabelFor(m => m.RemediationOption.Rework)
						</div>
						&nbsp;&nbsp;@Html.CheckBoxFor(m => m.RemediationOption.Rework, new { @class = "remCode" })
					</div>
					<div class="form-group form-group-sm">
						<div class="col-sm-5">
							@Html.LabelFor(m => m.RemediationOption.RemediationDate, new { @class = "control-label" })
						</div>
						<div class="col-sm-6">
							@Html.EditorFor(m => m.RemediationOption.RemediationDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Enter Remediation Date" } })&nbsp;
							@Html.ValidationMessageFor(m => m.RemediationOption.RemediationDate)<br />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">More Options</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-8">
							@Html.LabelFor(m => m.IncludesChangesOtherThanBug)
						</div>
						<div class="col-xs-4">
							@Html.DropDownListFor(m => m.IncludesChangesOtherThanBug, Model.OtherOptionsVal, new { @class = "form-control" })
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							@Html.LabelFor(m => m.ChangedInTechVersion)
						</div>
						<div class="col-xs-4">
							@Html.DropDownListFor(m => m.ChangedInTechVersion, Model.OtherOptionsVal, new { @class = "form-control" })
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							@Html.LabelFor(m => m.IncludesModificationsToFormalSubmission)
						</div>
						<div class="col-xs-4">
							@Html.DropDownListFor(m => m.IncludesModificationsToFormalSubmission, Model.OtherOptionsVal, new { @class = "form-control" })
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="form-horizontal">
		@if (Model.MasterFileNumber != null)
		{
			<div class="panel panel-default">
				<div class="col-sm-4">
					&nbsp;
				</div>
				<div class="panel-heading">
					<h2 class="panel-title">Summary For Master File: @Html.DisplayFor(m => Model.MasterFileNumber) </h2>
				</div>
			</div>
			<table class="table">
				<tr></tr>
				<tr>
					<td>
						<div class="row">

							<div class="col-sm-2">
								<label>Master File</label>
							</div>
							<div class="col-sm-1">
								<label>Received Date</label>
							</div>
							<div class="col-sm-2">
								<label>Type</label>
							</div>
							<div class="col-sm-2">
								<label>Exclude From SLA</label>
							</div>
							<div class="col-sm-2">
								<label>Remediation</label>
							</div>
							<div class="col-sm-1">
								<label>Introduce changes other than bug fixes from prior cycles?</label>
							</div>
							<div class="col-sm-1">
								<label>Change in technology versions (Platforms and GDK) from previous cycles?</label>
							</div>
							<div class="col-sm-1">
								<label>Introduce modifications in the Formal Submission?</label>
							</div>
						</div>
					</td>
				</tr>
				@for (int i = 0; i < Model.MasterFileRecord.Count; i++)
				{
					@Html.HiddenFor(m => m.MasterFileRecord[i].ProjectId);
					@Html.HiddenFor(m => m.MasterFileRecord[i].FileNumber);
					<tr>
						@if ((Model.MasterFileRecord.Count > 0) && (Model.MasterFileNumber != null))
						{
							<td>
								<div class="row">
									<div class="col-sm-2">
										@Html.DisplayTextFor(m => m.MasterFileRecord[i].FileNumber)
									</div>
									<div class="col-sm-1">
										@{
											var MasterFileRecordListDate = String.Format("{0:d}", Model.MasterFileRecord[i].ReceiveDate);
										}
										@Html.DisplayTextFor(m => MasterFileRecordListDate)
									</div>
									<div class="col-sm-2">
										@Html.DisplayTextFor(m => m.MasterFileRecord[i].Type)
									</div>
									<div class="col-sm-2">
										@String.Join(", ", Model.MasterFileRecord[i].SLAExclude)
									</div>
									<div class="col-sm-2">
										@String.Join(", ", Model.MasterFileRecord[i].Remediation)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.MasterFileRecord[i].IncludesChangesOtherThanBug)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.MasterFileRecord[i].ChangedInTechVersion)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.MasterFileRecord[i].IncludesModificationsToFormalSubmission)
									</div>
								</div>
							</td>
						}
					</tr>
				}

				@if ((Model.ResubmissionFileRecord.Count > 0) && (Model.MasterFileNumber != null))
				{
					<tr>
						<td colspan=4><font color=navy size=1><b>Resubmissions for -  @Html.DisplayFor(m => Model.MasterFileNumber)</b></font></td>
					</tr>
					for (int i = 0; i < Model.ResubmissionFileRecord.Count; i++)
					{
						@Html.HiddenFor(m => m.ResubmissionFileRecord[i].ProjectId);
						@Html.HiddenFor(m => m.ResubmissionFileRecord[i].FileNumber);
						<tr>
							<td style="background-color: lightgrey">
								<div class="row">

									<div class="col-sm-2">
										@Html.DisplayTextFor(m => m.ResubmissionFileRecord[i].FileNumber)
									</div>
									<div class="col-sm-1">
										@{
											var ResubFileRecordListDate = String.Format("{0:d}", Model.ResubmissionFileRecord[i].ReceiveDate);
										}
										@Html.DisplayTextFor(m => ResubFileRecordListDate)
									</div>
									<div class="col-sm-2">
										@Html.DisplayTextFor(m => m.ResubmissionFileRecord[i].Type)
									</div>
									<div class="col-sm-2">
										@String.Join(", ", Model.ResubmissionFileRecord[i].SLAExclude)
									</div>
									<div class="col-sm-2">
										@String.Join(", ", Model.ResubmissionFileRecord[i].Remediation)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.ResubmissionFileRecord[i].IncludesChangesOtherThanBug)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.ResubmissionFileRecord[i].ChangedInTechVersion)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.ResubmissionFileRecord[i].IncludesModificationsToFormalSubmission)
									</div>
								</div>
							</td>

						</tr>
					}
				}

				@if ((Model.ContinuationFileRecord.Count > 0) && (Model.MasterFileNumber != null))
				{
					<tr>
						<td colspan=4><font color=navy size=1><b>Continuations</b></font></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="row">
								<div class="col-sm-2">
									<label>Continuations</label>
								</div>
								<div class="col-sm-1">
									<label>Received Date</label>
								</div>
								<div class="col-sm-2">
									<label>Type</label>
								</div>
								<div class="col-sm-2">
									<label>Exclude From SLA</label>
								</div>
								<div class="col-sm-2">
									<label>Remediation</label>
								</div>
								<div class="col-sm-1">
									<label>Introduce changes other than bug fixes from prior cycles?</label>
								</div>
								<div class="col-sm-1">
									<label>Change in technology versions (Platforms and GDK) from previous cycles?</label>
								</div>
								<div class="col-sm-1">
									<label>Introduce modifications in the Formal Submission?</label>
								</div>
							</div>
						</td>
					</tr>
					for (int i = 0; i < Model.ContinuationFileRecord.Count; i++)
					{
						@Html.HiddenFor(m => m.ContinuationFileRecord[i].ProjectId);
						@Html.HiddenFor(m => m.ContinuationFileRecord[i].FileNumber);
						<tr>
							<td>
								<div class="row">

									<div class="col-sm-2">
										@Html.DisplayTextFor(m => m.ContinuationFileRecord[i].FileNumber)
									</div>
									<div class="col-sm-1">
										@{
											var ContFileRecordListDate = String.Format("{0:d}", Model.ContinuationFileRecord[i].ReceiveDate);
										}
										@Html.DisplayTextFor(m => ContFileRecordListDate)
									</div>
									<div class="col-sm-2">
										@Html.DisplayTextFor(m => m.ContinuationFileRecord[i].Type)
									</div>
									<div class="col-sm-2">
										@String.Join(", ", Model.ContinuationFileRecord[i].SLAExclude)
									</div>
									<div class="col-sm-2">
										@String.Join(", ", Model.ContinuationFileRecord[i].Remediation)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.ContinuationFileRecord[i].IncludesChangesOtherThanBug)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.ContinuationFileRecord[i].ChangedInTechVersion)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.ContinuationFileRecord[i].IncludesModificationsToFormalSubmission)
									</div>
								</div>

							</td>
						</tr>
					}
				}

				@if ((Model.Resubmission2FileRecord.Count > 0) && (Model.MasterFileNumber != null))
				{
					<tr>
						<td colspan=4><font color=navy size=1><b>Resubmissions for -  @Html.DisplayFor(m => Model.TransferName)</b></font></td>
					</tr>

					for (int i = 0; i < Model.Resubmission2FileRecord.Count; i++)
					{
						@Html.HiddenFor(m => m.Resubmission2FileRecord[i].ProjectId);
						@Html.HiddenFor(m => m.Resubmission2FileRecord[i].FileNumber);
						@Html.HiddenFor(m => m.Resubmission2FileRecord[i].ReceiveDate);
						<tr>
							<td style="background-color: lightgrey">
								<div class="row">

									<div class="col-sm-2">
										@Html.DisplayTextFor(m => m.Resubmission2FileRecord[i].FileNumber)
									</div>
									<div class="col-sm-1">
										@{
											var Resub2FileRecordListDate = String.Format("{0:d}", Model.Resubmission2FileRecord[i].ReceiveDate);
										}
										@Html.DisplayTextFor(m => Resub2FileRecordListDate)
									</div>
									<div class="col-sm-2">
										@Html.DisplayTextFor(m => m.Resubmission2FileRecord[i].Type)
									</div>
									<div class="col-sm-2">
										@String.Join(", ", Model.Resubmission2FileRecord[i].SLAExclude)
									</div>
									<div class="col-sm-2">
										@String.Join(", ", Model.Resubmission2FileRecord[i].Remediation)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.Resubmission2FileRecord[i].IncludesChangesOtherThanBug)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.Resubmission2FileRecord[i].ChangedInTechVersion)
									</div>
									<div class="col-sm-1">
										@Html.DisplayTextFor(m => m.Resubmission2FileRecord[i].IncludesModificationsToFormalSubmission)
									</div>
								</div>
							</td>
						</tr>
					}
				}
			</table>
		}
	</div>
}

@section scripts {
	<script>
		$(function () {

			$(".remCode").click(function () {
				var noCheck = true;
				$("#remCode").each(function (index) {
					if ($(this).is(":checked")) {
						noCheck = false
					}
				});
				if (noCheck) {
					$("#RemediationOption_RemediationDate").data('DateTimePicker').clear();
				}
			});

			$('#cancelButton').click(function (e) {
				e.preventDefault();
				window.close();
			});

			$('#saveForm').click(function (e) {
				e.preventDefault();
				var date = $("#RemediationOption_RemediationDate").data('DateTimePicker').date();

				if (($('.remCode').is(":checked")) && (date == null)) {
					bootbox.alert("Remediation Date is Required if any Remediation option is selected");
					return false;
				}

				bootbox.confirm("Save changes?", function (ack) {
					if (ack) {
						$('#SLARemediationForm').submit();
					}
					else {

					}
				});
			});

			$('#SLARemediationForm').submit(function () {
				$.ajax({
					url: this.action,
					type: this.method,
					data: $(this).serialize(),
					success: function (result) {
						bootbox.alert("Your changes have been saved.");
						window.location.reload();
					}
				});
				return false;
			});
		});

		function selAllFiles() {
			var selAllChecked = document.getElementById("selAllId").checked;
			var inputs = document.getElementsByTagName("input");
			for (var i = 0; i < inputs.length; i++) {
				if ((inputs[i].name.indexOf('MasterFileRecord') == 0) || (inputs[i].name.indexOf('ResubmissionFileRecord') == 0) ||
					(inputs[i].name.indexOf('Resubmission2FileRecord') == 0) || (inputs[i].name.indexOf('ContinuationFileRecord') == 0)) {
					inputs[i].checked = selAllChecked;
				}
			}
		}

	</script>
}

