<link href="/jquery-ui-bootstrap/jquery-ui-1.10.3.custom.css" rel="stylesheet"/>
<link href="/fontawesome/css/all.min.css" rel="stylesheet"/>
<link href="/site.css" rel="stylesheet"/>
<link href="/themes/default/bootstrap.css" rel="stylesheet"/>
<link href="/typeaheadjs.css" rel="stylesheet"/>
<link href="/bootstrap-datetimepicker.css" rel="stylesheet"/>
<link href="/css/select2.css" rel="stylesheet"/>
<link href="/css/select2-bootstrap.css" rel="stylesheet"/>

	
	<link href="/gli.overrides.css" rel="stylesheet"/>

	<script src="http://localhost:63298/Scripts/jquery-3.4.1.js"></script>
<script src="http://localhost:63298/Scripts/jquery-ui-1.12.1.js"></script>
<script src="http://localhost:63298/Scripts/jquery.validate.js"></script>
<script src="http://localhost:63298/Scripts/jquery.validate.unobtrusive.js"></script>

<script>var jsPath = 'http://localhost:6006/';</script>