﻿@model Submissions.Web.Utility.Email.AccountingNewProjectEmail
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>New Project</title>
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		td {
			padding: 3px;
			padding-right: 25px;
		}
	</style>
</head>
<body>
	<div>
		A new file has been created and needs to be set up in Dynamics.
		<br /><br />
		<table>
			<tr>
				<td style="width:100px;"><b>File Number</b></td>
				<td>@Model.FileNumber</td>
			</tr>
			<tr>
				<td><b>Company</b></td>
				<td>@Model.Company</td>
			</tr>
			<tr>
				<td><b>Contract Type</b></td>
				<td>@Model.ContractType</td>
			</tr>
			<tr>
				<td><b>Currency</b></td>
				<td>@Model.Currency</td>
			</tr>
			<tr>
				<td><b>Work Order Number (WON)</b></td>
				<td>@Model.WON</td>
			</tr>
			<tr>
				<td><b>Project/Contract Number</b></td>
				<td>@Model.ContractNumber</td>
			</tr>
			<tr>
				<td valign="top"><b>Memo</b></td>
				<td>@Raw(Model.Memo.Replace(System.Environment.NewLine, "<br />"))</td>
			</tr>
		</table>
	</div>
</body>
</html>