﻿@model Submissions.Web.Utility.Email.AddJurisdictionEmail
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width" />
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			border-bottom: 1px #A0A0A0 solid;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
			border-bottom: 1px #D8D8D8 solid;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div>
		<h4>&nbsp;New Jurisdiction to Add to Dynamics</h4>
		<hr />
		<h5>Please activate the Jurisdiction by clicking the following link:</h5>
		<h4><a href="http://submissions/GLIIntranet/Lookups/Jurisdictions/EmailJurisdictionActivation/@Model.Id">Activate @Model.Jurisdiction</a></h4>
		<h4><a href="@Model.QMSLink">New Jurisdiction Information</a></h4>
		<br />
		<table>
			<tr>
				<th>Jurisdiction ID</th>
				<th>Jurisdiction</th>
				<th>Jurisdiction Type</th>
			</tr>
			<tr>
				<td>@Model.Id</td>
				<td>@Model.Jurisdiction</td>
				<td>
					@{if (Model.jurisdictionType == null)
						{
							@: Not specified
						}
						else
						{
							@Model.jurisdictionType
						}
					}
				</td>
			</tr>
		</table>
		<br />
		@if (@Model.pendingManufacturerRequests != null)
		{
			<hr />
			<h5>Please ensure the below manufacturers are associated with the above jurisdiction</h5>
			<table>
				<tr>
					<th>Pending manufacturers Requests:</th>
				</tr>
				@foreach (string manuf in @Model.pendingManufacturerRequests)
				{
					<tr>
						<td>
							@manuf
						</td>
					</tr>
				}
			</table>
		}

		<br />
		@if (@Model.pendingLabsForBilling != null)
		{
			<hr />
			<h5>Please ensure the below GLI Offices are setup to work with the above jurisdiction</h5>
			<table>
				<tr>
					<th>GLI Offices:</th>
				</tr>
				@foreach (string office in @Model.pendingLabsForBilling)
				{
					<tr>
						<td>
							@office
						</td>
					</tr>
				}
			</table>
		}
	</div>
	<br />
	<div>
		<img src="cid:GLIGlobe">
	</div>
</body>
</html>