﻿@model Submissions.Web.Utility.Email.AddJurisdictionEmail
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width" />
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			border-bottom: 1px #A0A0A0 solid;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
			border-bottom: 1px #D8D8D8 solid;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div>
		<h4>&nbsp;New Jurisdiction Added</h4>
		<hr />
		<h5>The below jurisdiction has been added to the Submissions database and is now active.</h5>
		<table>
			<tr>
				<th>Jurisdiction ID</th>
				<th>Jurisdiction</th>
			</tr>
			<tr>
				<td>@Model.Id</td>
				<td>@Model.Jurisdiction</td>
			</tr>
		</table>
	</div>
</body>
</html>