﻿@model Submissions.Web.Utility.Email.AddManufacturerEmail

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width" />
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			border-bottom: 1px #A0A0A0 solid;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
			border-bottom: 1px #D8D8D8 solid;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div>
		@if(@Model.Expedite){
			<h4 style="color: red">&nbsp;Expedite: New Manufacturer to Add to Dynamics</h4>
		}
		else
		{
			<h4>&nbsp;New Manufacturer to Add to Dynamics</h4>
		}
		<hr />
		@if(!@Model.ForDynamicsOnly){
			<h5>Please activate the Manufacturer by clicking the following link:</h5>
			<h4><a href="http://submissions/GLIIntranet/Lookups/Manufacturers/EmailManufacturerActivation/@Model.Id">Activate @Model.Description</a></h4>
		}
		<h4><a href="@Model.ProductSubmittersListItemUri" target="_blank">New Product Submitter Information</a></h4>
		<table>
			<tr>
				<th>Manufacturer Code</th>
				<th>Manufacturer</th>
			</tr>
			<tr>
				<td>@Model.Code</td>
				<td>@Model.Description</td>
			</tr>
		</table>
		<br />
		@if (@Model.pendingCompaniesForBilling != null)
		{
			<hr />
			<h5>Please ensure the below Companies are setup to work with the above manufacturer</h5>
			<table>
				<tr>
					<th>Companies:</th>
				</tr>
				@foreach (string company in @Model.pendingCompaniesForBilling)
				{
					<tr>
						<td>
							@company
						</td>
					</tr>
				}
			</table>
		}
		<br />
		@if (@Model.pendingJurisdictionRequests != null)
		{
			<hr />
			<h5>Please ensure the below jurisdictions are associated with the above manufacturer</h5>
			<table>
				<tr>
					<th>Pending jurisdictions Requests:</th>
				</tr>
				@foreach (string juri in @Model.pendingJurisdictionRequests)
				{
					<tr>
						<td>
							@juri
						</td>
					</tr>
				}
			</table>
		}
		<div>
			<img src="cid:GLIGlobe">
		</div>
	</div>
</body>
</html>