﻿@model Submissions.Web.Utility.Email.AddNewSubmissionJurisdictionsEmail

<h4>Following Jurisdiction(s) were Added to @Model.FileNumber</h4>
<table border=1 cellspacing=0 cellpadding=0>
	<thead>
		<tr>
			<th style="padding: 15px;  border-bottom: 1px solid #ddd; text-align: left;">ID Number</th>
			<th style="padding: 15px;  border-bottom: 1px solid #ddd; text-align: left;">Game Name</th>
			<th style="padding: 15px;  border-bottom: 1px solid #ddd; text-align: left;">DateCode</th>
			<th style="padding: 15px;  border-bottom: 1px solid #ddd; text-align: left;">Version</th>
			<th style="padding: 15px;  border-bottom: 1px solid #ddd; text-align: left;">Jurisdiction</th>
			<th style="padding: 15px;  border-bottom: 1px solid #ddd; text-align: left;">Number</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var jur in Model.Jurisdictions)
		{
			<tr>
				<td style="padding: 1px;  border-bottom: 1px solid #ddd;">@jur.IdNumber</td>
				<td style="padding: 1px;  border-bottom: 1px solid #ddd;">@jur.GameName</td>
				<td style="padding: 1px;  border-bottom: 1px solid #ddd;">@jur.DateCode</td>
				<td style="padding: 1px;  border-bottom: 1px solid #ddd;">@jur.Version</td>
				<td style="padding: 1px;  border-bottom: 1px solid #ddd;">@jur.JurisdictionName</td>
				<td style="padding: 1px;  border-bottom: 1px solid #ddd;">@jur.JurisdictionId</td>
			</tr>
		}
		
	</tbody>
</table>

<div>
	<p><img src="cid:GLIGlobe" /></p>
</div>