﻿@model Submissions.Web.Utility.Email.EditJurisdictionMappingEmail

<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width" />
		<style type="text/css">
			body {
				font-family: Arial;
				font-size: 12px;
			}

			table {
				border-spacing: 0px;
				border-collapse: collapse;
			}

			th {
				text-align: left;
				padding-left: 3px;
				padding-right: 25px;
				font-size: 13px;
			}

			td {
				padding: 3px;
				padding-right: 25px;
			}

			.shade {
				background-color: #E5F0FF;
			}
		</style>
	</head>
	<body>
		<div>
			<h4>&nbsp;Manufacturer Jurisdiction Code Mapping Has Changed</h4>
			<table>
				<tr>
					<th>Manufacturer</th>
					<td>@Model.Manufacturer</td>
				</tr>
				<tr>
					<th>GLI Jurisdiction</th>
					<td>@Model.Jurisdiction</td>
				</tr>
				<tr>
					<th>Manufacturer Letter Code ID</th>
					<td>@Model.ExternalJurisdictionCode</td>
				</tr>
				<tr>
					<th>Manufacturer Jurisdiction ID </th>
					<td>@Model.ExternalJurisdictionId</td>
				</tr>
				<tr>
					<th>Manufacturer Jurisdiction Name</th>
					<td>@Model.ExternalJurisdictionDescription</td>
				</tr>
				
				<tr>
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2"><img src="cid:GLIGlobe"></td>
				</tr>
			</table>
		</div>
	</body>
</html>