﻿@model Submissions.Web.Utility.Email.EngineeringReviewEmail

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Engineering Review Required for Letter(s)</title>
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			border-bottom: 1px #A0A0A0 solid;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
			border-bottom: 1px #D8D8D8 solid;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div>
		<h4>Review required for letters in the following project: @Model.BundleName</h4>

		<form>
			<label for="targetDate">Target Date: </label>
			<span id="targetDate">@Model.TargetDate.ToShortDateString()</span>
			<br />
			<br />
			@if (!string.IsNullOrWhiteSpace(Model.AdditionalComments))
			{
				<label for="comments">Comments: </label>
				<span id="comments">@Model.AdditionalComments</span>
			}
		</form>
		<br />
		<table>
			<tr>
				<th>Jurisdiction</th>
				<th>Letter</th>
			</tr>
			@{
				var rowShade = false;
				foreach (var row in Model.Documents)
				{
					<tr class='@(rowShade ? "shade" : "")'>
						<td>@foreach (var jurisdiction in row.Jurisdictions)
						{
							@jurisdiction <br />
						}</td>
						<td><a href='@row.FilePath'>@row.FilePath</a></td>
					</tr>

					rowShade = !rowShade;
				}
			}
		</table>
	</div>
</body>
</html>