﻿@model Submissions.Web.Utility.Email.FlatFileInvalidFieldsEmail

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width" />
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			border-bottom: 1px #A0A0A0 solid;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
			border-bottom: 1px #D8D8D8 solid;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div>
		<h4>&nbsp; @Model.EmailTitle</h4>
		<h2>&nbsp;Filename: @Model.Filename </h2>
		<hr />
		@if(Model.Studios.Count > 0){
			<table>
				<tr>
					<th>Studios</th>
				</tr>
				@foreach (var Studio in @Model.Studios)
				{ 
					<tr>
						<td>
							<p>@Studio</p>
						</td>
					</tr>
				}
			</table>
		}
		<br/><br/>
		@if(Model.Platforms.Count > 0){
			<table>
				<tr>
					<th>Platforms</th>
				</tr>
				@foreach (var Platform in @Model.Platforms)
				{ 
					<tr>
						<td>
							<p>@Platform</p>
						</td>
					</tr>
				}
			</table>
		}
		<br/><br/>
		@if(Model.Vendors.Count > 0){
			<table>
				<tr>
					<th>Vendors</th>
				</tr>
				@foreach (var Vendor in @Model.Vendors)
				{ 
					<tr>
						<td>
							<p>@Vendor</p>
						</td>
					</tr>
				}
			</table>
		}
	</div>
</body>
</html>