﻿@model Submissions.Web.Utility.Email.IGTFlatFileBadColumnsEmail

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width" />
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			border-bottom: 1px #A0A0A0 solid;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
			border-bottom: 1px #D8D8D8 solid;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div>
		<h2>&nbsp;Filename: @Model.Filename </h2>
		<hr />
		@if(@Model.Studios.Count > 0){
			<h4>&nbsp;Following IGT Flatfile studios do not yet exist in our system </h4>
			<table>
				<tr>
					<th>Studios</th>
				</tr>
				@foreach (var Studios in @Model.Studios)
				{ 
					<tr>
						<td>
							<p>@Studios</p>
						</td>
					</tr>
				}
			</table>
		}
		<hr />
		@if(@Model.BillingParties.Count > 0){
			<h4>&nbsp;Following IGT Flatfile billing parties do not yet exist in our system </h4>
			<table>
				<tr>
					<th>Billing Parties</th>
				</tr>
				@foreach (var BillingParty in @Model.BillingParties)
				{ 
					<tr>
						<td>
							<p>@BillingParty</p>
						</td>
					</tr>
				}
			</table>
		}
	</div>
</body>
</html>