﻿@model Submissions.Web.Utility.Email.IGTFlatFileUploadEmail

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width" />
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			border-bottom: 1px #A0A0A0 solid;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
			border-bottom: 1px #D8D8D8 solid;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div>
		<h4>&nbsp;IGT FlatFile Upload Results:</h4>
		<hr />
		<table>
			<tr>
				<th>File Number</th>
				<th>Spread Sheet Name</th>
				<th>Result</th>
			</tr>
			@foreach (var Upload in @Model.UploadResults)
			{ 
				<tr>
					<td>
						<p>@Upload.FileNumber</p>
					</td>
					<td>
						<p>@Upload.SpreadSheetName</p>
					</td>
					<td>
						<p>@Upload.UploadResult</p>
					</td>
				</tr>
				if(	Upload.UploadResult == "ERROR" || 
					Upload.UploadResult == "FAILURE" ||
					Upload.UploadResult == "FAIL" ||
					Upload.UploadResult == "WRITELOCK" ||
					Upload.UploadResult == "ABORT" ||
					Upload.UploadResult == "CANCEL"
				)
				{
					<tr>
						<td>&nbsp;</td>
						<td><b>Message</b></td>
						<td><b>InnerException</b></td>
						<td><b>Source</b></td>
						<td><b>StackTrace</b></td>
						<td><b>TargetSite</b></td>
					</tr>
					<tr>
						<td>@Upload.Exception.Message</td>
						<td>@Upload.Exception.InnerException</td>
						<td>@Upload.Exception.Source</td>
						<td>@Upload.Exception.StackTrace</td>
						<td>@Upload.Exception.TargetSite</td>
					</tr>
				}
			}
		</table>
	</div>
</body>
</html>