﻿@model Submissions.Web.Utility.Email.Templates.Models.ManufacturerSuccessfulActivationEmail
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			border-bottom: 1px #A0A0A0 solid;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
			border-bottom: 1px #D8D8D8 solid;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div>
		<p>Activation successful for: </p>
		<table>
		<thead>
		<tr>
			<th>Manufacturer Code</th>
			<th>Manufacturer</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>@Model.ManufacturerCode</td>
			<td>@Model.ManufacturerDescription</td>
		</tr>
		</tbody>
		</table>
	</div>
	<br />
	@if(Model.ProductSubmitterListItemId != null){
		<span>Product Submitters List Item Updated: </span>
		<br/>
		<a href="@Model.ProductSubmittersListItemUri" target="_blank">@Model.ManufacturerCode</a>
	}
	<br />
	<div>
		<img src="cid:GLIGlobe">
	</div>
</body>
</html>