﻿@model Submissions.Web.Utility.Email.MasterFileLinkageEmail

@{
	var titleVerb = String.IsNullOrWhiteSpace(Model.PreviousMasterFileNumber) ? "established" : "updated";
}

<h3><span>@Model.MappingType.ToString()</span> masterfile linkage <span>@titleVerb</span>.</h3>

<table border="1">
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>ReSubmission File</td>
			<td>@Model.CurrentFileNumber</td>
		</tr>
		@if (!String.IsNullOrWhiteSpace(Model.PreviousMasterFileNumber))
		{
			<tr>
				<td>Previous Masterfile</td>
				<td>@Model.PreviousMasterFileNumber</td>
			</tr>
		}
		<tr>
			<td>Masterfile</td>
			<td>@Model.MasterFileNumber</td>
		</tr>
		<tr>
			<td>Type of Mapping</td>
			<td>@Model.MappingType.ToString()</td>
		</tr>
	</tbody>
</table>
<br />
<div>
	<img src="cid:GLIGlobe">
</div>