﻿@model Submissions.Web.Utility.Email.MathSubmitChange
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div> 
		<b>Project</b> :  @Model.ProjectName <br>
		<b>Theme</b> : @Model.Theme <br>
		<hr />
	   
		<table>
			@if (Model.FormChanges.Count > 0)
			{
			<thead>
				<tr>
					<th>Field Name</th>
					<th>Old Value</th>
					<th>New value</th>
				</tr>
			</thead>
				foreach (var j in Model.FormChanges)
				{
					
						<tr>
						<td>@j.FieldName</td>
						<td>@j.OldVal</td>
						<td>@j.NewVal</td>
						</tr>
				}
			}
		</table>
	</div>
</body>
</html>