﻿@model IEnumerable<Submissions.Web.Utility.Email.PointClickTransferEmail>
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Point Click Transfer - Transfer Requests Processed</title>
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			border-bottom: 1px #A0A0A0 solid;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
			border-bottom: 1px #D8D8D8 solid;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div>
		<h4>&nbsp;Accepted Point Click Transfers</h4>

		<table>
			<tr>
				<th>Manufacturer</th>
				<th>File Number</th>
				<th>Jurisdiction</th>
				<th>Status</th>
				<th>Requested</th>
				<th>Processed</th>
			</tr>
			@{
				var rowShade = false;
				foreach (var row in Model)
				{
				<tr class='@(rowShade ? "shade" : "")'>
					<td>@row.Manufacturer</td>
					<td><a href="http://submissions/gliintranet/submission/submission/detail?fileNumber=@row.FileNumber">@row.FileNumber</a></td>
					<td>@row.Jurisdiction</td>
					<td>@row.Status</td>
					<td>@(row.Requested.HasValue ? row.Requested.Value.ToString("d") : "")</td>
					<td>@row.Processed.ToString("d")</td>
				</tr>
					rowShade = !rowShade;
				}
			}
		</table>
	</div>
</body>
</html>