﻿@model Submissions.Web.Utility.Email.PointClickWithdrawEmail
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Point Click Withdraw - Withdraw Requests Processed</title>
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			border-bottom: 1px #A0A0A0 solid;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
			border-bottom: 1px #D8D8D8 solid;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div>
		<h4>&nbsp;Action for Point Click Withdraw Items: @Model.ActionName</h4>

		<table>
			<tr>
				<th>Manufacturer</th>
				<th>Jurisdiction</th>
				<th>File Number</th>
				<th>Version</th>
				<th>ID Number</th>
				<th>Game Name</th>
				<th>Function</th>
				<th>Position</th>
			</tr>
			@{
				var rowShade = false;
				foreach (var row in Model.RequestItems)
				{
				<tr class='@(rowShade ? "shade" : "")'>
					<td>@row.Manufacturer</td>
					<td>@row.Jurisdiction</td>
					<td>@row.FileNumber</td>
					<td>@row.Version</td>
					<td>@row.IDNumber</td>
					<td>@row.GameName</td>
					<td>@row.Function</td>
					<td>@row.Position</td>
				</tr>
					rowShade = !rowShade;
				}
			}
		</table>
	</div>
</body>
</html>