﻿@model Submissions.Web.Utility.Email.ProjectReviewEmail

<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width" />
		<style type="text/css">
			body {
				font-family: Arial;
				font-size: 12px;
			}

			table {
				border-spacing: 0px;
				border-collapse: collapse;
			}

			th {
				text-align: left;
				padding-left: 3px;
				padding-right: 25px;
				font-size: 13px;
			}

			td {
				padding: 3px;
				padding-right: 25px;
			}

			.shade {
				background-color: #E5F0FF;
			}
		</style>
	</head>
	<body>
		<div>
			<h4>&nbsp;@Model.Header</h4>
			<table>
				<tr>
					<th>Email Address (for Testing Purpose)</th>
					<td>@Raw(Model.EmailAddressForTesting)</td>
				</tr>
				<tr>
					<th>Bundle Name</th>
					<td>@Model.Filenumber</td>
				</tr>
				<tr>
					<th>Review Status</th>
					<td>@Model.Status</td>
				</tr>
				<tr>
					<th>Review Link</th>
					<td>@Model.Link</td>
				</tr>
				<tr>
					@if (Model.EmailToAssignee == true)
					{
						<th>Assignee</th>
						<td>@Raw(Model.AssigneeNames)</td>
					}
					else if (Model.EmailToReviewer == true)
					{
						<th>Reviewer</th>
						<td>@Model.ReviewerNames</td>
					}
				</tr>
				<tr>
					<th>Note</th>
					<td>@Model.Note</td>
				</tr>
			</table>
			<img src="cid:GLIGlobe">
		</div>
	</body>
</html>