﻿@model Submissions.Web.Utility.Email.ResourceFinderRequestUserEmail
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Resource Request</title>
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			border-bottom: 1px #A0A0A0 solid;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
			border-bottom: 1px #D8D8D8 solid;
		}

		.shade {
			background-color: #E5F0FF;
		}

		.projectUrl {
			text-decoration: none;
		}
	</style>
</head>
<body>
	<div>
		@{
			var topMsgAction = Model.Action;
		}
		@if (Model.Action == "cancelled")
		{
			topMsgAction = "requested";
			@:The following request has been <b>cancelled</b>:<br /><br /><br /><br />
		}

		@Model.RequestUserName has been <b>@topMsgAction</b> for project <a href="@Model.ProjectUrl" class="projectUrl">@Model.ProjectName</a> for the following tasks:
		<br /><br />
		<table>
			<tr>
				<th>Task</th>
				<th>Estimated Hours</th>
			</tr>
			@{
				var rowShade = false;
				foreach (var item in Model.Tasks)
				{
					<tr class='@(rowShade ? "shade" : "")'>
						<td>@item.TaskDefinition</td>
						<td>@item.EstimateHours</td>
					</tr>
					rowShade = !rowShade;
				}
			}
		</table>
		<br /><br />
		<b>Start Date</b><br />
		@Model.RequestStartDate.Value.ToString("d")
		@if (!string.IsNullOrEmpty(Model.AdditionalInfo))
		{
			<br /><br />
			<b>Additional Info</b><br />
			@Model.AdditionalInfo
		}
		<br /><br />
		@if (Model.Action != "cancelled")
		{
			if (Model.Action == "requested")
			{
				<a href="@Model.ProcessRequestUrl">Click here to Process this Request</a>
			}
			else if (Model.Action == "declined")
			{
				<b>Decline Reason</b><br />
				@Model.DeclineReason
			}
		}
	</div>
</body>
</html>