﻿@model Submissions.Web.Utility.Email.TargetDateChangeEmailModel
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 12px;
		}

		table {
			border-spacing: 0px;
			border-collapse: collapse;
		}

		th {
			text-align: left;
			padding-left: 3px;
			padding-right: 25px;
			font-size: 13px;
		}

		td {
			padding: 3px;
			padding-right: 25px;
		}

		.shade {
			background-color: #E5F0FF;
		}
	</style>
</head>
<body>
	<div> 
		<b>Project</b> :  @Model.ProjectName <br>
		<b>Target Date</b> : @String.Format("{0:d}",Model.TargetDate) <br>
		<b>Project Status</b> : @Model.ProjectStatus <br>
		<b>Test Lab</b> : @Model.TestLab
		<hr />
		<table>
			@if (Model.DisplayOnlyProject != true)
			{
			<thead>
				<tr>
					<th>File Number</th>
					<th>ID Number</th>
					<th>DateCode</th>
					<th>Version</th>
					<th>Jurisdiction</th>
					<th>Rcvd Date</th>
					<th>Original Target Date</th>
					<th>Target Date</th>
				</tr>
			</thead>
				foreach (var j in Model.ProjectJurisdictions)
				{
					if (Model.AffectedPrimary.Contains(j.JurisdictionalDataId))
					{
						<tr style="background-color:yellow">
						<td>@j.FileNumber</td>
						<td>@j.IdNumber</td>
						<td>@j.DateCode</td>
						<td>@j.Version</td>
						<td>@j.Jurisdiction (@j.JurisdictionId)</td>
						<td>@String.Format("{0:d}",j.JurisdictionRcvdDate)</td>
						<td>@String.Format("{0:d}",j.OrgTargetDate)</td>
						<td>@String.Format("{0:d}",j.TargetDate)</td>
						</tr>
					}else
					{
						<tr>
						<td>@j.FileNumber</td>
						<td>@j.IdNumber</td>
						<td>@j.DateCode</td>
						<td>@j.Version</td>
						<td>@j.Jurisdiction (@j.JurisdictionId)</td>
						<td>@String.Format("{0:d}",j.JurisdictionRcvdDate)</td>
						<td>@String.Format("{0:d}",j.OrgTargetDate)</td>
						<td>@String.Format("{0:d}",j.TargetDate)</td>
						</tr>
					}
				}
			}
		</table>
	</div>
</body>
</html>