﻿@model Submissions.Web.Utility.Email.VerifyGroupLicenseEmail
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Verify Group License</title>
</head>
<body style="width: 800px; padding: 10px 10px 10px 10px;">
	<img src="cid:VerifyLogo" style="display: inline-block; margin-right: 15px; width: 10%;">
	<p style="display: inline-block; width: 85%; font-size: 18px; font-weight: bold;">
		Thank you for subscribing to Verify+ by Kobetron.<br />
		<br />
		Below you will find your product code. Use the listed product code when you register Verify+.<br />
		<br />
	</p>
	<hr>
	<br />
	<table style="width: 75%; border: 2px solid rgb( 88, 148, 196 ); background-color: rgb( 245, 251, 255 ); border-collapse: collapse; font-size: 16px;">
		<tr>
			<th style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 10px 5px 5px; text-align: right; width: 225px;">Product Code</th>
			<td style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 5px 5px 10px;">@Model.License.ToString("D").ToUpper()</td>
		</tr>
	</table>
	<p style="display: inline-block; width: 85%; font-size: 18px; font-weight: bold;">Shipping Information</p>
	<table style="width: 75%; border: 2px solid rgb( 88, 148, 196 ); background-color: rgb( 245, 251, 255 ); border-collapse: collapse; font-size: 16px;">
		<tr>
			<th style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 10px 5px 5px; text-align: right; width: 225px;">Organization</th>
			<td style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 5px 5px 10px;">@Model.Organization</td>
		</tr>
		<tr>
			<th style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 10px 5px 5px; text-align: right; width: 225px;">Phone</th>
			<td style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 5px 5px 10px;">@Model.Phone</td>
		</tr>
		<tr>
			<th style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 10px 5px 5px; text-align: right; width: 225px;">First Name</th>
			<td style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 5px 5px 10px;">@Model.FirstName</td>
		</tr>
		<tr>
			<th style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 10px 5px 5px; text-align: right; width: 225px;">Last Name</th>
			<td style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 5px 5px 10px;">@Model.LastName</td>
		</tr>
		<tr>
			<th style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 10px 5px 5px; text-align: right; width: 225px;">Address</th>
			<td style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 5px 5px 10px;">@Model.Address</td>
		</tr>
		<tr>
			<th style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 10px 5px 5px; text-align: right; width: 225px;">Address 2</th>
			<td style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 5px 5px 10px;">@Model.Address2</td>
		</tr>
		<tr>
			<th style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 10px 5px 5px; text-align: right; width: 225px;">City</th>
			<td style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 5px 5px 10px;">@Model.City</td>
		</tr>
		<tr>
			<th style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 10px 5px 5px; text-align: right; width: 225px;">State</th>
			<td style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 5px 5px 10px;">@Model.State</td>
		</tr>
		<tr>
			<th style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 10px 5px 5px; text-align: right; width: 225px;">Zip</th>
			<td style="border: 1px solid rgb( 88, 148, 196 ); padding: 5px 5px 5px 10px;">@Model.Zip</td>
		</tr>
	</table>
	<br />
	<br />
	Please call us at 1-844-VER-PLUS if you need further assistance.
	<br />
	<br />
	<a href='http://register.kobetron.com/downloads/verify_plus_eula.pdf' target='_blank'>Verify+<sup>®</sup> End User License Agreement</a>
</body>
</html>