﻿@model Submissions.Web.Areas.Lookups.Models.TestEnvironmentEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Test Environment";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "TestEnvironment", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3 class="form-h3">@ViewBag.Title <small>@Html.DisplayFor(model => model.GameEngine)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "TestEnvironment", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.ManufacturerGroupId, new { @class = "control-label col-sm-2", @autofocus = "autofocus" })
			<div class="col-sm-3">
				@Html.LookupFor(model => model.ManufacturerGroupId, model => model.ManufacturerGroup, LookupAjax.ManufacturerGroups, true)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.JurisdictionId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(model => model.JurisdictionId, model => model.Jurisdiction, LookupAjax.Jurisdictions, true)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.PlatformId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(model => model.PlatformId, model => model.Platform, LookupAjax.Platforms, true)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Jackpot, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.Jackpot, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.GameEngine, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.GameEngine, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.GameEngine)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.ServerLocation, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.ServerLocation, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ServerLocation)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.GameUrl, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.GameUrl, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.GameUrl)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.BackOfficeUrl, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.BackOfficeUrl, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.BackOfficeUrl)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.OtherUrl, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.OtherUrl, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.OtherUrl)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.TestEnvironmentSystem, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.TestEnvironmentSystem, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.TestEnvironmentSystem)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Simulator, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.Simulator, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Simulator)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.HelpRules, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.HelpRules, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.ForceTool, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.ForceTool, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.PDFAddedToLetter, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.PDFAddedToLetter, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(model => model.Active, new { @class = "padcheckbox" })
			</div>
		</div>
	</div>
}