﻿@model Submissions.Web.Areas.Lookups.Models.TestEnvironmentIndexViewModel

@section css{
	<style>
		#TestEnvironmentTable td:last-child {
			white-space: nowrap;
		}
	</style>
}

@{
	ViewBag.FullWidth = true;
	ViewBag.Title = "Test Environments";
	var header = Model.TestEnvironments.FirstOrDefault();
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

<table id="TestEnvironmentTable" class="table table-striped table-hover">
	<tr>
		<th>@Html.DisplayNameFor(m => @header.ManufacturerGroup)</th>
		<th>@Html.DisplayNameFor(m => @header.Jurisdiction)</th>
		<th>@Html.DisplayNameFor(m => @header.Platform)</th>
		<th>@Html.DisplayNameFor(m => @header.GameEngine)</th>
		<th>@Html.DisplayNameFor(m => @header.ServerLocation)</th>
		<th>@Html.DisplayNameFor(m => @header.GameUrl)</th>
		<th>@Html.DisplayNameFor(m => @header.BackOfficeUrl)</th>
		<th>@Html.DisplayNameFor(m => @header.OtherUrl)</th>
		<th>@Html.DisplayNameFor(m => @header.TestEnvironmentSystem)</th>
		<th>@Html.DisplayNameFor(m => @header.Simulator)</th>
		<th></th>
	</tr>

	@foreach (var item in Model.TestEnvironments)
	{
		<tr>
			@if (item.Active)
			{
				<td>@item.ManufacturerGroup</td>
				<td>@item.Jurisdiction</td>
				<td>@item.Platform</td>
				<td>@item.GameEngine</td>
				<td>@item.ServerLocation</td>
				<td>@item.GameUrl</td>
				<td>@item.BackOfficeUrl</td>
				<td>@item.OtherUrl</td>
				<td>@item.TestEnvironmentSystem</td>
				<td>@item.Simulator</td>
				<td class="text-right">
					@Html.ActionLink("Edit", "Edit", new { id = item.Id, mode = "Edit" }) |
					@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckDelete" })
				</td>
			}
			else
			{
				<td class="text-red">@item.ManufacturerGroup</td>
				<td class="text-red">@item.Jurisdiction</td>
				<td class="text-red">@item.Platform</td>
				<td class="text-red">@item.GameEngine</td>
				<td class="text-red">@item.ServerLocation</td>
				<td class="text-red">@item.GameUrl</td>
				<td class="text-red">@item.BackOfficeUrl</td>
				<td class="text-red">@item.OtherUrl</td>
				<td class="text-red">@item.TestEnvironmentSystem</td>
				<td class="text-red">@item.Simulator</td>
				<td class="text-right">
					@Html.ActionLink("Activate", "SetActive", "", new { id = item.Id, @class = "Activate" }) |
					@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckDelete" })
				</td>
			}
		</tr>
	}
</table>