﻿@model Submissions.Web.Areas.Compliance.Models.IndexViewModel
@{
	ViewBag.Title = "CP Queue";
	ViewBag.FullWidth = true;
}
@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	@Styles.Render("~/bundles/css/colorpicker")
	<style>
		.ui-jqgrid tr.jqgrow td {
			white-space: normal;
			vertical-align: top;
		}

		.groupColor {
			color: navy;
			background: lightblue;
		}
	</style>
}

<div class="panel panel-default">
	<div class="panel-heading">
		<a class="panel-toggle" data-toggle="collapse" href="#SearchList">
			<h3 class="panel-title">CP Items Search</h3>
		</a>
	</div>
	<div id="SearchList" class="panel-collapse collapse">
		<table class="table">
			<tr>
				<td>
					<div class="form-horizontal">
						<div class="row">

							<div class="col-sm-3">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.SearchVm.FileNumber, new { @class = "control-label col-md-4" })
									<div class="col-md-8">
										@Html.LookupFor(m => m.SearchVm.FileNumber, m => m.SearchVm.FileNumber, LookupAjax.FileNumber, false, new { @style = "width:200px" })

									</div>
								</div>
							</div>

							<div class="col-sm-3">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.SearchVm.ManufacturerShort, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupFor(m => m.SearchVm.ManufacturerShort, m => m.SearchVm.ManufacturerShortDesc, LookupAjax.Manufacturers, false)
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.SearchVm.Jurisdiction, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupFor(m => m.SearchVm.Jurisdiction, m => m.SearchVm.JurisdictionDesc, LookupAjax.Jurisdictions, false)
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.SearchVm.TestLabId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupFor(m => m.SearchVm.TestLabId, m => m.SearchVm.Testlab, LookupAjax.Laboratories, false)
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.SearchVm.IdNumber, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.SearchVm.IdNumber, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.SearchVm.GameName, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.SearchVm.GameName, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.SearchVm.Version, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.SearchVm.Version, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-right">
								<button type="button" class="btn btn-primary" id="Search"><i class="fas fa-sync"></i> Refresh</button>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-right">
		@if (Util.HasAccess(Permission.CPAdminQueue, AccessRight.Edit)){
		<button type="button" class="btn btn-primary" id="ReleaseCP">Release From Compliance</button>@:&nbsp;&nbsp;&nbsp;
		}
	</div>
</div>
@Html.Trirand().JQGrid(Model.ReviewGrid.Grid, Model.ReviewGrid.Grid.ID)
@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/colorpicker")
	<script>
		var grid = $('#AdminReviewGrid')
		var initialRequest = true
		var tempObj = []
		$(function () {

			$("table tbody").on("change", "input[type=checkbox]", function (e) {		
	
				var currentCB = $(this);
				var isChecked = this.checked;
				if (currentCB.is(".groupHeader")) {	//if group header is checked, to check all child checkboxes		
					var checkboxes = currentCB.closest('tr').nextUntil('tr.AdminReviewGridghead_0').find('.cbox[type="checkbox"]');
					checkboxes.each(function(){
						if (!this.checked || !isChecked) {
							grid.setSelection($(this).closest('tr').attr('Id'), isChecked); 
						}
					});			
				} else {  //when child checkbox is checked
						var allCbs = currentCB.closest('tr').prevAll("tr.AdminReviewGridghead_0:first").find('[type="checkbox"]');
						var master = allCbs.filter(".groupHeader");
						var allChilds = master.closest('tr').nextUntil('tr.AdminReviewGridghead_0').find('.cbox[type="checkbox"]');
																	
						var allChecked = !isChecked ? false : allChilds.filter(":checked").length === allChilds.length;
						master.prop("checked", allChecked);
				}
			});	
						
			grid.jqGrid("setGridParam", {
				gridComplete: function () {
					//change color for group
					groups = $(grid).jqGrid("getGridParam", "groupingView").groups;
					if (groups != null) {
						for (i = 0; i < groups.length; i++) {
							group = groups[i];
							$("#" + this.id + "ghead_" + group.idx + "_" + i).addClass("groupColor");
						}
					}
					//setHeightWidth()
					getMergedProjectInfo()

				},
				onSelectAll: function (rowIds, allChecked) {
					$("input.groupHeader").attr('checked', allChecked);
				},
			})
			
			$('#Search').click(function () {
				refreshGrid();
			});

			$('#ReleaseCP').click(function () {
				var selRow = $(grid).jqGrid('getGridParam', 'selarrrow');
				var isProjectMergedConfirm = false
				if (selRow.length == 0) {
					bootbox.alert("Please select Jurisdiction(s).");
				}
				else {
					var fileList = ''
					var fileNumberColIndex = $(grid).getColumnIndexByName("FileNumber")
					var jurisdictionColIndex = $(grid).getColumnIndexByName("JurisdictionName")
					var jurisdictionIdColIndex = $(grid).getColumnIndexByName("JurisdictionId")
					var isMerged = $(grid).getColumnIndexByName("IsProjectMerged")

					for (var i = 0; i < selRow.length; i++) {
						var filenumber = $("#" + selRow[i]).find('td').eq(fileNumberColIndex + 1).text();
						if (filenumber.indexOf('<a') > -1) {
							filenumber = $(filenumber).text()
						}
						var jur = $("#" + selRow[i]).find('td').eq(jurisdictionColIndex + 1).text();
						var jurId = $("#" + selRow[i]).find('td').eq(jurisdictionIdColIndex + 1).text();
						fileList += filenumber + " - " + jur + " (" + jurId + ')<br>'

						var isProjectMerged = $("#" + selRow[i]).find('td').eq(isMerged + 1).text();
						if (isProjectMerged == "True") {
							isProjectMergedConfirm = true
						}
					}

					var sMessage = '<p>This action will affect the ' + selRow.length + ' selected jurisdiction(s). Do you want to continue?</p>';
					sMessage += "Selected Jurisdiction(s):<br>"
					sMessage += '<div style="height:250px;overflow-y: scroll;">'
					sMessage += fileList
					sMessage += '</div>'

					if (isProjectMergedConfirm) {
						sMessage += "<br><br><b>Warning!!!</b>" + " Selected Item(s) may have linked/merged item(s). It will be released from CP."
					}

					bootbox.confirm(sMessage, function (result) {
						if (result) {
							releaseCP(selRow)
						}
						else {
							//Dont do anything
						}
					})
				}
			})

			if (initialRequest) {
				initialRequest = false;
				$('#Search').trigger("click");
			}

		})


		function setHeightWidth() {
			var viewportHeight;
			var viewportWidth;
			if (document.compatMode === 'BackCompat') {
				viewportHeight = document.body.clientHeight;
				viewportWidth = document.body.clientWidth;
			} else {
				viewportHeight = document.documentElement.clientHeight;
				viewportWidth = document.documentElement.clientWidth;
			}

			var height = viewportHeight - 250
			$(grid).parents('div.ui-jqgrid-bdiv').css("max-height", height);
			$(grid).setGridWidth(viewportWidth - 50);
		}


		function releaseCP(jurIds) {
			var url = '@Url.Action("Update", "AdminReviewQueue")?jurisdictionalDataIds=' + jurIds;
				$.post({
					url: url,
					type: 'post',
					success: function (data) {
						if (data == "OK") {
							alert("Jurisdictions were released from CP successfully.")
							refreshGrid();
						}
					},
				});
		}

		function adminReviewGridBeforeAjaxRequest() {
			if (!initialRequest) {
				var postData = $(this).jqGrid('getGridParam', 'postData');
				postData.CustomFilters = JSON.stringify(getFilters());
				$(this).jqGrid('setGridParam', { postData: postData });
			}
			else {
				return false
			}
		};

		function getFilters() {
				var filters = {};
				filters.ManufacturerShort= $('#SearchVm_ManufacturerShort').val();
				filters.FileNumber = $('#SearchVm_FileNumber').val();
				filters.Jurisdiction = $('#SearchVm_Jurisdiction').val();
				filters.TestLabId = $('#SearchVm_TestLabId').val();
				filters.IdNumber = $('#SearchVm_IdNumber').val();
				filters.GameName = $('#SearchVm_GameName').val();
				filters.Version = $('#SearchVm_Version').val();
				return filters;
		}

		function getMergedProjectInfo() {
			$('.MergedInfo').each(function (i, obj) {
				var projectId = $(this).attr('data-ProjectId')
				var obj = $(this)
				
				var url = '@Url.Action("GetMergedProjectsInfo", "AdminReviewQueue")?projectId=' + projectId
				$.ajax({
					url: url,
					type: 'post',
					async: true,
					success: function (data) {
						$(obj).text(data)
					},
					failure: function (response) {
						alert('error');
					}
				});
			});//hhh
		}


		function formatFileNumber(cellValue, options, rowObject, action) {
				var url = '@Url.Action("Detail","Submission",new { Area = "Submission" })?fileNumber=' + cellValue
				return '<a href="' + url + '" target="_blank">' + cellValue + '</a>';
		}

		function formatProjectDesc(cellValue, options, rowObject, action) {
			var groupIdPrefix = options.gid + "ghead_"
			var groupIdPrefixLength = groupIdPrefix.length
			var newVal = cellValue
				
			//group rows
			if (options.rowId.substr(0, groupIdPrefixLength) === groupIdPrefix && typeof action === "undefined") {
					var obj = tempObj//JSON.parse(JSON.stringify(tempObj));
					for (i = 0; i < obj.length; i++) { 
						//alert(cellValue + " = " + item.ProjectDesc)
						if (obj[i].ProjectDesc == cellValue) {
							var url = "@Url.Action("Detail","Project",new { Area ="Protrack"})?id=" + obj[i].ProjectId
							if (obj[i].IsProjectMerged == "True") {
								newVal = "<A href='" + url + "' title='View Project Detail' target='_blank'>" + newVal + "&nbsp;<font color=maroon><i class='fa fa-link' aria-hidden='true'></i></font></A>&nbsp;&nbsp;<font class='small bg-warninng'>[Merged with <span data-ProjectId="  + obj[i].ProjectId + " class='MergedInfo'>Loading....</span>]</font>"
							}
							else {
								newVal = "<A href='" + url + "' title='View Project Detail' target='_blank'>" + newVal + "</A>&nbsp;&nbsp;"
							}
						}
					}
			}
			else {//These are regular rows without group
					
					var projectDesc = rowObject[$(this).getColumnIndexByName("ProjectDesc")]
					var isProjectMerged = rowObject[$(this).getColumnIndexByName("IsProjectMerged")]
					var projectId = rowObject[$(this).getColumnIndexByName("ProjectId")]
					var obj = {}
					obj.ProjectDesc = projectDesc
					obj.IsProjectMerged = isProjectMerged
					obj.ProjectId = projectId
					var itemExist = tempObj.filter(function (el) {
						return (el.ProjectDesc == projectDesc)
					});
					if (itemExist.length == 0) {
						tempObj.push(obj)
					}
			}	
			return newVal
		}

		function refreshGrid() {
				$(grid).jqGrid('groupingGroupBy', ['ProjectDesc'], {
					groupColumnShow: [false],
					groupCollapse: false,
					groupText: [' <input type="checkbox" title="check all jurisdictions for this bundle" class="groupHeader"/><b> {0} </b>']
				});
		}

	
	</script>

}

