﻿@model Submissions.Web.Areas.Submission.Models.BugBox.EditViewModel

@section css{
	<style>
		#GenerateMsg {
			font-size: 1.02em;
		}
	</style>
}

@{
	ViewBag.Title = Model.Mode.ToString() + " Bug Box";

	var showSaveButton = false;
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		showSaveButton = Util.HasAccess(Permission.Submission, AccessRight.Add);
		saveButtonText = "Add";
	}
	else
	{
		showSaveButton = Util.HasAccess(Permission.Submission, AccessRight.Edit);
	}
}

@using (Html.BeginForm("edit", "bugbox", FormMethod.Post, new { id = "EditForm" }))
{
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.Source)
	@Html.HiddenFor(m => m.SubmissionId)

	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title <small></small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if (showSaveButton)
			{
				<button type="button" id="SaveBtn" class="btn btn-primary btn-sm">@saveButtonText</button>
			}
			@if (Model.Mode == Mode.Edit && Util.HasAccess(Permission.Submission, AccessRight.Delete))
			{
				<input type="button" id="DeleteBtn" value="Delete" class="btn btn-sm btn-primary" />
			}
			<a href="@Model.CancelButtonUrl" id="CancelBtn" class="btn btn-sm btn-primary">Cancel</a>
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.LabId, new { @class = "control-label col-sm-1" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.LabId, m => m.Lab, LookupAjax.Laboratories, true)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.BugBox, new { @class = "control-label col-sm-1" })
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.BugBox, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.BugBox)
			</div>
			@if (Model.Mode == Mode.Add)
			{
				<div class="col-sm-9">
					<p id="GenerateMsg" class="form-control-static text-info">Leave the Bug Box field empty to generate the next bug box number on insert</p>
				</div>
			}
		</div>
	</div>
}

@section scripts {
	<script>
		$(function () {
			var form = $('#EditForm');

			$('#SaveBtn').on('click', function () {
				form.submit();
			});

			$('#DeleteBtn').on('click', function () {
				bootbox.confirm('Are you sure you want to delete this Bug Box?', function (result) {
					if (result) {
						form.attr('action', '@Url.Action("delete")').submit();
					}
				});
			});
		});
	</script>
}

