﻿@model Submissions.Web.Areas.Submission.Models.BugBox.IndexViewModel

@{
	ViewBag.Title = "Bug Boxes";
	var firstBugBox = Model.BugBoxes.FirstOrDefault();
}

<div class="row row-title">
	<div class="col-sm-8">
		<h3>@ViewBag.Title <small>@Model.SubmissionSubTitle.FileNumber</small></h3>
		<div class="submission-subtitle">
			<span title="ID Number">@Model.SubmissionSubTitle.IdNumber</span>
			<span title="Game Name">@Model.SubmissionSubTitle.GameName</span>
			<span title="Date Code">@Model.SubmissionSubTitle.DateCode</span>
			<span title="Function">@Model.SubmissionSubTitle.Function</span>
		</div>
	</div>
	<div class="col-sm-4 form-buttons">
		@Html.ActionLink("Add", "edit", null, new { mode = Mode.Add, submissionId = Model.SubmissionId }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Cancel", "detail", "submission", new { id = Model.SubmissionId }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(m => firstBugBox.Lab)</th>
			<th>@Html.DisplayNameFor(m => firstBugBox.BugBox)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.BugBoxes.Count == 0)
		{
			<tr><td colspan="3" class="text-warning text-center"><em>No Records Found</em></td></tr>
		}
		@foreach (var item in Model.BugBoxes)
		{
			<tr>
				<td>@item.Lab</td>
				<td>@item.BugBox</td>
				<td class="text-right">
					@Html.ActionLink("Edit", "edit", new { id = item.Id, mode = Mode.Edit, submissionId = Model.SubmissionId })
				</td>
			</tr>
		}
	</tbody>
</table>
