﻿<template>
	<div>
		<div v-if="isiGaming">
			<iGamingFirstPage></iGamingFirstPage>
		</div>
		<div v-else>
			<LatinFirstPage v-if="letterPreviewJurisdiction == 132 || letterPreviewJurisdiction == 59"></LatinFirstPage>
			<USFirstPage v-else></USFirstPage>
			<LatinSecondPage v-if="showPageNo(2)"></LatinSecondPage>
		</div>
	</div>
</template>


<script>
	import { createNamespacedHelpers } from 'vuex';

	import USFirstPage from '@/components/documents/generate/LetterPreview/FirstPage/USFirstPage.vue';
	import LatinFirstPage from '@/components/documents/generate/LetterPreview/FirstPage/LatinAmerica/LatinFirstPage.vue';
	import LatinSecondPage from '@/components/documents/generate/LetterPreview/FirstPage/LatinAmerica/CertOfCompliance.vue';
	import iGamingFirstPage from '@/components/documents/generate/LetterPreview/FirstPage/iGamingFirstPage.vue';
	const { mapGetters } = createNamespacedHelpers('generateLetter');
	const { mapActions: letterActions } = createNamespacedHelpers('letter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');



	export default {
		components: {
			USFirstPage,
			LatinFirstPage,
			LatinSecondPage,
			iGamingFirstPage
		},
		computed: {
			...mapGetters([
				'letterPreviewJurisdiction'
			]),
			isiGaming: function () {
				return this.isProjectiGaming;
			},
			...sourceGetters([
				'isProjectiGaming'
			]),
		},
		methods: {
			...letterActions([
				'setPreDefinedPages'
			]),
			showPageNo: function (PageNo) {
				let showPage = false;
				if (this.letterPreviewJurisdiction == 132 || this.letterPreviewJurisdiction == 59) {
					showPage = true;
				}
				if (showPage) {
					this.setPreDefinedPages(PageNo);
				}
				return showPage;
			}
		}
	}
</script>

<style scoped>

</style>

<style id="UICSS" scoped>
	#rootDiv {
		padding-top: 5px;
	}

	.for-pdf-generation-only {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	.flex-container {
		display: flex;
		flex-direction: column;
	}
</style>


<style lang="scss" id="PDFCSS" scoped>

	@import "../Styles/vue";
</style>
