<template>
	<div>
		<Modal v-if="showModal" @close="showModal=false">
			<template #header>
				Edit Custom Memo
			</template>
			<template #body>
				<Question :control="editMemo.letterContentControls[0]"
						  :memo="editMemo"
						  :displayDistinctQuestionsTab="true"
						  :belongsToMemos="true">
				</Question>
			</template>
			<template #footer>
				<Base-Button @click="showModal=false">Close</Base-Button>
				<Base-Button :onclick="saveContent" :isPrimary="true" :disabled="permissionSet.answerLockEngaged && !permissionSet.editCustomMemosInQA">Save</Base-Button>
			</template>
		</Modal>
		<template v-if="isNotNull(section)">
			<template v-if="isNotNull(section.memos)">
				<template v-for="page in pageCount()" v-if="page > 0">
					<!--This template is for basic memos that don't contain their own paging logic-->
					<template v-if="getMemos(page).length > 0">
						<div v-for="(memo, index) in getMemos(page)" :key="memo.localId">
							<div v-if="isNotNull(memo)" :key="memo.localId">
								<template v-if="isNotNull(memo)">
									<div v-if="isNotNull(memo.letterContent)" :class="[selectedMemo.localId == memo.localId ? 'highlightedMemo' : '', 'card']">
										<div class="print-hidden cardHeaderContainer" v-if="currentMode == 0">
											<div class="dropdown">
												<div class="btn dropdown-toggle" data-toggle="dropdown" title="Memo Menu"><i class="fa fa-bars"></i></div>
												<ul class="dropdown-menu">
													<li class="text-nowrap menu-option" @click="insertNoteAfter(memo)"><a href="#"><i class="fa fa-link"></i> Link custom note</a></li>
													<li class="text-nowrap menu-option" @click="showMemoInNotesManager(memo)"><a href="#"><i class="fa fa-external-link-alt"></i> Open in Note Manager</a></li>
													<li v-if="memo.custom" class="text-nowrap menu-option" @click="toggleEdit(memo)"><a href="#"><i class="fa fa-edit"></i> Edit Memo Content</a></li>
													<li v-if="memo.custom" class="text-nowrap menu-option" @click="deleteCustomMemo(memo)"><a href="#"><i class="fa fa-trash-alt"></i> Delete Custom Memo</a></li>
												</ul>
											</div>
										</div>
										<component :id="memo.localId" :is="buildMemo(memo, page)"></component>
									</div>
								</template>
							</div>
						</div>
					</template>
					<!--Need this so even notdisplayed memo's business logic can be evaluated if it's based on some content property and if changes after memo becomes not included, above collection only has included memo so to evaluate business logic we need all computed properties-->
					<template v-for="(memo, index) in getMemosNotIncluded(page)">
						<div v-show="memo.include">
							<div>
								<component :id="memo.localId" :is="buildMemo(memo, page)"></component>
							</div>
						</div>
					</template>
				</template>
			</template>
		</template>
	</div>
</template>
<script>
	import api from '@/api/documents/generate';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	import { isNull } from '@/common';
	import { isNotNull } from '@/common';
	import { buildMemoComponent } from '@/components/documents/generate/DynamicComponent/MemoComponent.js';
	import Modal from '@/components/utility/Modal.vue';
	import Question from '@/components/documents/generate/LetterQuestions/Question.vue';

	export default {
		name: 'LetterSection',
		components: {
			Modal,
			Question
		},
		props: ['section', 'pageSize', 'footer', 'sectionIndex'],
		data: function () {
			return {
				showModal: false,
				header: {},
				layoutTracker: false,
				pageTracker: 1,
				pagingSet: false,
				watchedTableRows: [],
				headerChildren: [],
				headerMemos: [],
				sectionUpdatingPages: false,
				testPageUpdating: 0,
				date: "",
				landscapeStyle: {
					width: '',
					height: ''
				},
				portraitStyle: {
					width: '',
					height: ''
				},
				editMemo: null
			};
		},
		methods: {
			toggleEdit: function (memo) {
				this.editMemo = memo;
				this.showModal = !this.showModal;
			},
			deleteCustomMemo: function (memo) {
				Loading();
				api.deleteCustomMemo(memo.id)
					.finally(() => {
						this.section.memos.splice(this.section.memos.indexOf(memo), 1);
						DoneLoading();
					});
			},
			saveContent: function () {
				Loading();
				let customMemo = {
					Content: this.editMemo.letterContentControls[0].content,
					SecondaryLanguageContent: this.editMemo.secondaryLanguageLetterContent,
					AnchorMemoId: this.editMemo.anchorMemoId, // Anchor memo
					Name: this.editMemo.name,
					ProjectId: this.projectId,
					SectionId: this.section.id,
					JurisdictionalDataIds: this.jurisdictionalDataIds(this.editMemo.paging.map(x => x.jurisdictionId)),
					JurisdictionIds: this.editMemo.paging.map(x => x.jurisdictionId),
					Id: this.editMemo.id,
					//OriginalVersionId: (parentMemo != null) ? parentMemo.originalVersionId : 0

				}
				api.saveCustomMemo(customMemo)
					.then(response => {
						memo.id = parseInt(response.data);
					})
					.finally(() => {
						DoneLoading();
						this.editMemo = null;
						this.showModal = false;
					});
			},
			insertNoteAfter: function (memo) {
				let childMemo = this.section.memos[_.findIndex(this.section.memos, ['localId', memo.localId]) + 1];
				let memoHasACustomNote = childMemo && childMemo.custom;
				if (memo.custom) {
					bootbox.alert({
						title: "Invalid Note Placement",
						message: "You can only insert a custom note after a memo. You cannot insert a note after a custom note."
					});
				} else if (memoHasACustomNote) {
					bootbox.alert({
						title: "Invalid Note Placement",
						message: "You can only insert one custom note after a memo. Please use already initialized note."
					});
				} else {
					let index = this.section.memos.indexOf(memo);
					let targetOrderId = 0;
					index++;
					targetOrderId = memo.orderId + 1;

					let clickedPaging = getPaging(memo, memo.localId, this.letterPreviewJurisdiction);
					this.addBlankMemo(
						{
							section: this.section,
							index: index,
							jurId: this.letterPreviewJurisdiction,
							page: clickedPaging.page,
							orderId: targetOrderId,
							anchorMemoId: memo.id
						});
				}
			},
			setPortrait: function (indexList, memos, sectionIndex, pageId) {
				memos.forEach(x => {
					let page = x.paging.find(pag => pag.jurisdictionId === this.letterPreviewJurisdiction);
					if (isNotNull(page)) {
						this.$set(page, 'isLandscape', false);
					}
				});
			},
			setLandscape: function (indexList, memos, sectionIndex, pageId) {
				memos.forEach(x => {
					let page = x.paging.find(pag => pag.jurisdictionId === this.letterPreviewJurisdiction);
					if (isNotNull(page)) {
						this.$set(page, 'isLandscape', true);
					}
				});
			},
			changeHeader: function (indexList, memos, sectionIndex, pageId) {
				if (indexList.length == 2) {
					var newHeaderId = this.headers[indexList[1]].id;
					this.addHeaderMap({
						jurId: this.letterPreviewJurisdiction,
						sectionId: sectionIndex,
						pageId: pageId,
						newHeaderId: newHeaderId
					});
					this.updateHeaderContent(newHeaderId);
				}
			},
			showMemoInNotesManager: function (memo) {
				if (!memo.custom) {
					window.open(`${jsPath}documents/noteManager/edit/${memo.letterContentId}?memoId=${memo.id}`);
				}
				else {
					bootbox.alert({
						title: "Attention",
						message: "This is a custom Memo and only exists in this specific bundle, there is no respective memo in Notes Manager for you to view."
					});
				}
			},
			// ---------------------------------------------------------------------------

			checkLetterInitialized: function () {
				if (!this.letterInitialized(this.letterPreviewJurisdiction) &&
					this.sectionsUpdatingPages(this.letterPreviewJurisdiction).length === 0) {
					this.finishLetterInitializing(this.letterPreviewJurisdiction);
				}
			},
			pageClasses: function (page) {
				let classes = ['letter-page-break', 'letter-page-margin', 'letter-page-shadow', 'letter-page-padding'];
				if (this.isLandscape(page)) {
					classes.push('letter-page-landscape');
				}
				else {
					classes.push('letter-page-portrait');
				}
				return classes;
			},
			isNull: function (obj) {
				return isNull(obj);
			},
			isNotNull: function (obj) {
				return isNotNull(obj);
			},
			click_SetSelectedMemo: function (memo) {
				if (memo.localId != this.selectedMemo.localId) {
					this.setSelectedMemo(memo);
				}
				else { //once you find, we need a way to unselect, how to gid rid of that bright red lines
					this.setSelectedMemo({ localId: -1, sourceId: -1, sourceProperty: "" });
				}
			},
			getMemos: function (pageNumber) {
				return this.memosForJurisdiction(this.section.memos, this.letterPreviewJurisdiction).filter((mem) => mem.include && onPage(mem, pageNumber, mem.localId, this.letterPreviewJurisdiction));
			},
			getMemosNotIncluded: function (pageNumber) {
				return this.memosForJurisdiction(this.section.memos, this.letterPreviewJurisdiction).filter((mem) => !mem.include && onPage(mem, pageNumber, mem.localId, this.letterPreviewJurisdiction));
			},
			pageCount: function () {
				let pagingObjs = this.memosForJurisdiction(this.section.memos, this.letterPreviewJurisdiction).map(memo => getPaging(memo, memo.localId, this.letterPreviewJurisdiction));
				let pageNums = pagingObjs.filter(obj => isNotNull(obj)).map(pag => pag.page);
				let maxPage = Math.max(...pageNums);
				return maxPage;
			},
			growPages: function () {
				if (isNull(this.$refs.LetterPage)) return 0;
				let modified = false;

				//console.log('New Grow Pages Called: ', this.$refs.LetterPage.length)
				for (let pageIter = 0; pageIter < this.$refs.LetterPage.length; pageIter++) {
					let page = this.$refs.LetterPage[pageIter];
					let size = page.offsetHeight;

					let memos = this.getMemos(pageIter + 1);
					// Remove header memos from consideration, as we dont want a page with just a header.
					memos = memos.filter(x => x.specialFlag !== 'SectionHeader');

					//console.log('pageIter + 1: ', pageIter + 1)
					//console.log('Memos: ', memos)

					let height = this.isLandscape(pageIter + 1) ? this.currentPageType.width : this.currentPageType.height;

					if (size > height) {
						let splitCount = Math.ceil(size / height);
						//Easiest case. There's more than one memo on this page. Push it to the next one.
						if (memos.length > 1) {
							//console.log("Easiest case. There's more than one memo on this page. Push it to the next one.")
							let count = memos.length;
							let splitMemoCount = Math.ceil(count / splitCount);

							//first, push all of the following pages down. We'll push them by the number of new pages we're adding
							let curPageCount = this.pageCount();
							for (let incrementer = curPageCount; incrementer >= pageIter + 2; incrementer--) {
								let laterPageMemos = this.getMemos(incrementer);
								laterPageMemos.forEach(memo => {
									let paging = getPaging(memo, memo.localId, this.letterPreviewJurisdiction);
									paging.page += splitCount - 1;
								});
							}

							//Then, we'll split the memos on this page evenly and push them to new pages.
							for (let splitIter = 0; splitIter < (splitCount - 1); splitIter++) {
								let endMemos = memos.skip(splitMemoCount * (splitIter + 1)).take(splitMemoCount);
								endMemos.forEach(memo => {
									let paging = getPaging(memo, memo.localId, this.letterPreviewJurisdiction);
									paging.page += splitIter + 1;
								});
							}
							modified = true;
						}
						//Now we're stuck trying to split a single memo
						else {
							//console.log("Now we're stuck trying to split a single memo")
							// Sometimes I encountered that wed get to this point , but there were no memos.
							// This would then leave more or less a blank page ?
							if (memos.length > 0) {

								let hasSource = isNotNull(memos[0].sourceId) && memos[0].sourceId.length > 0 && memos[0].name.toLowerCase() !== "coverpage";
								let hasTable = memos[0].letterContentControls.some(control => control.type === 'TABLE');
								let hasHTML = memos[0].letterContentControls.some(control => control.splittable && control.type === 'HTML');

								if (hasSource) {

									let newMemos = splitSourcedMemo(memos[0], this.getSourcesForMemo(memos[0]), splitCount);
									let newOrderId = memos[0].orderId + 1;
									newMemos.forEach(newMemo => {
										newMemo.orderId = newOrderId;
										newOrderId++;
									});
									this.insertMemos({ items: newMemos, section: this.section, jurId: this.letterPreviewJurisdiction });
									modified = true;
								}
								else if (hasTable) {
									let newMemo = splitTable(memos[0]);
									let newOrderId = memos[0].orderId + 1;

									this.insertMemo({ item: newMemo, section: this.section, jurId: this.letterPreviewJurisdiction, orderId: newOrderId });
									modified = true;
								} else if (hasHTML) {
									let newMemo = splitHTMLMemo(memos[0]);
									if (isNotNull(newMemo)) {
										let newOrderId = memos[0].orderId + 1;
										this.insertMemo({ item: newMemo, section: this.section, jurId: this.letterPreviewJurisdiction, orderId: newOrderId });
										modified = true;
									}
								}
								else {
									this.handle__directContentSplit(memos[0], page);
									modified = true;
								}
							}
						}

					}
				}
				if (modified) return 1;
				else return 2;
			},
			growPagesPromise: function () {
				var vm = this;
				return new Promise((resolve, reject) => {
					let result = vm.growPages();
					if (result === 0 || result === 1) {
						resolve(result);
					}
					else {
						reject(result);
					}
				});
			},
			startGrowingPages: function (force) {
				if (!this.sectionUpdatingPages || force) {
					let vm = this;
					this.startUpdatingSectionPaging({ jurId: this.letterPreviewJurisdiction, sectionId: this.section.id });
					this.sectionUpdatingPages = true;
					this.$nextTick(() => {
						this.growPagesPromise()
							.then(result => {
								setTimeout(() => {
									vm.startGrowingPages(true);
								}, 100);
							})
							.catch(rejected => {
								vm.finishUpdatingSectionPaging({ jurId: this.letterPreviewJurisdiction, sectionId: this.section.id });
								vm.sectionUpdatingPages = false;
								vm.checkLetterInitialized();
							})
					});
				}
			},
			shrinkPages: function () {
				let modified = false;

				for (let pageIter = 0; pageIter < this.$refs.LetterPage.length; pageIter++) {
					let pageMemos = this.getMemos(pageIter + 1);
					if (pageMemos.length === 0) {
						continue;
					}
					let height = this.isLandscape(pageIter + 1) ? this.currentPageType.width : this.currentPageType.height;

					let pageMemoPages = pageMemos.map(memo => getPaging(memo, memo.localId, this.letterPreviewJurisdiction));
					let pageSizes = pageMemoPages.map(page => page.height);
					let size = pageSizes.reduce((a, b) => a + b, 0);

					//Threshold is defined in generateLetter.js as .1
					//If threshold is increased, the white space at the bottom of the page goes up
					//If threshold is decreased, the white space at the bottom of the page goes down
					//If letter gen shows one page, but it splits into 2 in the PDF, increase the threshold and run grow/shrink again
					let limitHeight = height - (height * this.pageSize.threshold); //This isn't great. If we knew the dimensions of headers/footers/etc, we could be precise
					//console.log('size ' + size + ' limit height ' + limitHeight);
					//let page = this.$refs.LetterPage[pageIter];
					//let size = page.offsetHeight;
					//if there's extra room on this page
					if (size < limitHeight) {
						let moveMemos = [];
						//look at the memos on the next page
						let nextPageMemos = this.getMemos(pageIter + 2); //+1 because pageIter starts at 0, +1 for the page after the one we're processing
						//console.log('next page memos');
						//console.log(nextPageMemos);
						if (nextPageMemos.length === 0) {
							continue;
						}
						for (let nextIter = 0; nextIter < nextPageMemos.length; nextIter++) {
							let nextMemo = nextPageMemos[nextIter];
							let nextPage = getPaging(nextMemo, nextMemo.localId, this.letterPreviewJurisdiction);
							//console.log('nextpage');
							//console.log(nextPage);
							if (nextPage.height + size < limitHeight) {
								moveMemos.push(nextMemo);
								size += nextPage.height;
							}
							else {
								break;
							}
						}
						//console.log('move memos');
						//console.log(moveMemos);
						if (moveMemos.length > 0) {

							//check to see if memos can be re-combined
							let lastMemoFirstPage = pageMemos[pageMemos.length - 1];
							let firstMemoNextPage = moveMemos[0];
							if (lastMemoFirstPage.id === firstMemoNextPage.id) {
								//console.log('ids match');
								if (recombineMemos(lastMemoFirstPage, firstMemoNextPage)) {
									//console.log('memos recombined');
									this.removeMemo({ section: this.section, memo: firstMemoNextPage });
									moveMemos.shift();
								}
							}
							console.log('move memos');
							//put the memos on this page
							moveMemos.forEach(memo => {
								let page = getPaging(memo, memo.localId, this.letterPreviewJurisdiction);
								page.page--;
							});
							//we need to check if we removed all memos from that page and decrement all page numbers if so
							let emptyPage = this.getMemos(pageIter + 2).length === 0;
							if (emptyPage) {
								this.decrementAllPages(pageIter + 2);
							}
							modified = true;
						}
					}
				}
				return modified;
			},
			shrinkPagesPromise: function () {
				var vm = this;
				return new Promise((resolve, reject) => {
					let result = vm.shrinkPages();
					if (result) {
						resolve(true);
					}
					else {
						reject(false);
					}
				});
			},
			startShrinkingPages: function (force) {
				if (!this.sectionUpdatingPages || force) {
					let vm = this;
					this.startUpdatingSectionPaging({ jurId: this.letterPreviewJurisdiction, sectionId: this.section.id });
					this.sectionUpdatingPages = true;
					this.$nextTick(() => {
						this.shrinkPagesPromise()
							.then(result => {
								setTimeout(() => {
									vm.startShrinkingPages(true);
								}, 100);

							})
							.catch(rejected => {
								vm.finishUpdatingSectionPaging({ jurId: this.letterPreviewJurisdiction, sectionId: this.section.id });
								vm.sectionUpdatingPages = false;
								vm.checkLetterInitialized();
							})
					});
				}
			},

			decrementAllPages: function (page) {
				this.section.memos
					.map(memo => getPaging(memo, memo.localId, this.letterPreviewJurisdiction))
					.filter(paging => isNotNull(paging) && paging.page >= page)
					.forEach(paging => paging.page--);
			},
			getSize: function (page) {
				var elmnt = document.getElementById(page);
				var txt = "Height including padding and border: " + elmnt.offsetHeight + "px<br>";
				txt += "Width including padding and border: " + elmnt.offsetWidth + "px";

				return elmnt.offsetHeight;
			},
			buildMemo: function (memo, page) {
				return buildMemoComponent(memo, this.getSourcesForJurisdiction(memo.sourceId, this.letterPreviewJurisdiction), page, this.currentPage(page), this.isSecondaryLanguageLetter);
			},
			controlContentChanged: function (newVal, oldVal) {
				let newValLength = isNull(newVal) ? 0 : newVal.length;
				let oldValLength = isNull(oldVal) ? 0 : oldVal.length;
				if (newValLength > oldValLength) {
					this.startGrowingPages(false);
					console.log('grow content');

				}
				else {
					this.startShrinkingPages(false);
					console.log('shrink content');
				}
			},
			tableLengthChanged: function (newVal, oldVal) {
				let newValLength = isNull(newVal) ? 0 : newVal;
				let oldValLength = isNull(oldVal) ? 0 : oldVal;
				if (newValLength > oldValLength) {
					this.startGrowingPages(false);
				}
				else {
					this.startShrinkingPages(false);
				}
			},
			tableChanged: function (newVal, oldVal) {
				newVal.forEach(row => {
					if (this.watchedTableRows.indexOf(row[0].localId) < 0) {
						row.forEach(cont => this.addControlWatch(cont));
						this.watchedTableRows.push(row[0].localId);
					}
				});

			},
			isLandscape: function (page) {
				let memos = this.getMemos(page);
				if (memos.length > 0) {
					let pageProperty = _.find(memos[0].paging, { jurisdictionId: this.letterPreviewJurisdiction });
					return pageProperty.isLandscape ? true : false;
				}
				return false;
			},
			currentPage: function (pageNumber) {
			
					let currentSections = this.displayedSectionsForJurisdictions(this.letterContent.sections, this.letterPreviewJurisdiction);
					var aMemo = this.getMemos(pageNumber)[0];
					let currpage = 0;
					for (let sectionItr = 0; sectionItr < this.sectionIndex; sectionItr++) {
						let section = currentSections[sectionItr];
						let pagingObjs = this.memosForJurisdiction(section.memos, this.letterPreviewJurisdiction);
						let pagingMap = pagingObjs.map(memo => getPaging(memo, memo.localId, this.letterPreviewJurisdiction));
						let pageNums = pagingMap.filter(obj => isNotNull(obj)).map(pag => pag.page);
						let max = Math.max(...pageNums);
						currpage += max;
					}
					let cPaging = getPaging(aMemo, aMemo.localId, this.letterPreviewJurisdiction);
					currpage += cPaging.page;
					return currpage;
				
				
			},
			populateHeaderChildren: function () {
				this.headerChildren = this.headers.map(head => ({
					text: head.name,
					icon: head.id === this.header.id ? 'fas fa-circle' : 'far fa-circle'
				}));
			},
			updateHeaderContent: function (headerId) {
				this.header = this.letterContent.headers.filter(header => header.id === headerId)[0];
			},
			pageSizeDisplay: function (page) {
				if (page !== parseInt(page, 10) || isNull(this.$refs) || isNull(this.$refs.LetterPage) || page < 1) {
					return 0;
				}
				let letterPage = this.$refs.LetterPage[page - 1];
				if (isNull(letterPage)) {
					return 0;
				}
				let size = letterPage.offsetHeight;
				return size;
			},
			handle__directContentSplit: function (memo, page) {
				let fragments = splitMemoContentDirectly(memo.letterContent);
				let queue = []
				queue.push(fragments[2]);

				let potentialMemoContent = fragments[0];
				let renderedHeight = getRenderedHeight(potentialMemoContent);

				while (renderedHeight > 500) {
					fragments = splitMemoContentDirectly(potentialMemoContent);
					renderedHeight = getRenderedHeight(fragments[0])
					potentialMemoContent = fragments[0];
					queue.push(fragments[2]);
				}

				let dequedRight = '';
				while (queue.length) {
					dequedRight += queue.pop();
				}

				memo.letterContent = potentialMemoContent;

				let newMemo = cloneMemo(memo);
				newMemo.letterContent = dequedRight;
				newMemo.contentSplitFrom = memo.contentSplitFrom ? memo.contentSplitFrom : memo.localId;
				let paging = getPaging(newMemo, newMemo.localId, this.letterPreviewJurisdiction)
				paging.page++;
				this.insertMemo({ item: newMemo, section: this.section, jurId: this.letterPreviewJurisdiction, orderId: memo.orderId + 1 });
			},
			...letterActions([
				'insertMemo',
				'insertMemos',
				'removeMemo',
				'updatePageOrientation',
				'addHeaderMap',
				'setFilteredMemos'
			]),
			...mapActions([
				'addBlankMemo',
				'moveMemo',
				'setSelectedMemo',
				'startUpdatingSectionPaging',
				'setContentChanged',
				'finishUpdatingSectionPaging',
				'finishLetterInitializing',
				'addCustomLoadedMemos'
			])
		},
		computed: {
			currentDate: function () {
				return new Date().toLocaleDateString();
			},
			includedMemos: function () {
				return this.memosForJurisdiction(this.section.memos, this.letterPreviewJurisdiction).filter((mem) => mem.include);
			},
			sectionControls: function () {
				return this.section.memos.filter(memo => isNotNull(memo.letterContentControls) && memo.letterContentControls.length > 0)
					.selectMany(memo => memo.letterContentControls);
			},
			sourceControls: function () {
				return this.section.memos.filter(memo => isNotNull(memo.sourceItemTargets) && memo.sourceItemTargets.length > 0)
					.selectMany(memo => memo.sourceItemTargets)
					.filter(sit => isNotNull(sit.letterContentControls) && sit.letterContentControls.length > 0)
					.selectMany(sit => sit.letterContentControls);
			},
			...letterGetters([
				'memosForJurisdiction',
				'sectionsForJurisdiction',
				'letterContent',
				'headers',
				'getHeaderId',
				'headerMap',
				'projectEvalLab',
				'manufacturerId',
				'projectId',
				'displayedSectionsForJurisdictions',
			]),
			...sourceGetters([
				'getSourcesForMemo',
				'getSourcesForJurisdiction',
				'jurisdictionalDataIds'
			]),
			...mapGetters([
				'letterPreviewJurisdiction',
				'generatingPDF',
				'selectedMemo',
				'currentPageType',
				'contentChanged',
				'contentChangedMemoId',
				'sectionsUpdatingPages',
				'letterInitialized',
				'isSecondaryLanguageLetter',
				'permissionSet',
				"currentMode"
			])
		},
		watch: {
			contentChanged: function (newVal, oldVal) {
				//console.log('letter section content changed');
				//console.log(this.contentChangedMemoId);
				let memo = this.section.memos.find(memo => memo.localId === this.contentChangedMemoId)
				if (isNull(memo)) {
					return;
				}
				if (newVal === 1) {
					//console.log('grow content - letter section');
					this.startGrowingPages(false);
					this.$nextTick().then(() => this.setContentChanged(0));

				} else if (newVal === 2) {
					//console.log('shrink content - letter section');
					this.startShrinkingPages(false);
					this.$nextTick().then(() => this.setContentChanged(0));
				}
			},
			letterPreviewJurisdiction: function (newVal, oldVal) {
				let defaultHeader = this.letterContent.headers.find(x => x.applicableJurisdictions.includes(this.letterPreviewJurisdiction));
				if (defaultHeader === undefined || defaultHeader === null) {
					defaultHeader = this.letterContent.headers[0];
				}
				if (defaultHeader !== undefined && defaultHeader !== null) {
					this.updateHeaderContent(defaultHeader.id);
				}

				this.startGrowingPages(false);
			},
			isSecondaryLanguageLetter: function (newVal, oldVal) {
				let defaultHeader = this.letterContent.headers.find(x => x.applicableJurisdictions.includes(this.letterPreviewJurisdiction));
				if (defaultHeader === undefined || defaultHeader === null) {
					defaultHeader = this.letterContent.headers[0];
				}
				if (defaultHeader !== undefined && defaultHeader !== null) {
					this.updateHeaderContent(defaultHeader.id);
				}

				this.startGrowingPages(false);
			},
			includedMemos: function (newVal, oldVal) {
				//if (newVal.length > oldVal.length) {
				//	let locIds = oldVal.map(memo => memo.localId);
				//	let newMemos = newVal.filter(memo => !locIds.includes(memo.localId));
				//	newMemos.forEach(memo => {
				//		memo.letterContentControls.forEach(control => {
				//			this.addControlWatch(control);
				//		});
				//	});
				//}

			},
			header: function (newVal, oldVal) {
				this.headerChildren.filter(opt => opt.text === this.header.name)[0].icon = 'fas fa-circle';
				this.headerChildren.filter(opt => opt.text !== this.header.name).forEach(item => item.icon = 'far fa-circle');
			}
		},
		mounted: function () {
			//this.startGrowingPages(false);
			//find any that previewjurisdictions is applicable, if not default to first one
			let defaultHeader = this.letterContent.headers.find(x => x.applicableJurisdictions.includes(this.letterPreviewJurisdiction));
			if (defaultHeader === undefined || defaultHeader === null) {
				defaultHeader = this.letterContent.headers[0];
			}
			if (defaultHeader !== undefined && defaultHeader !== null) {
				this.updateHeaderContent(defaultHeader.id);
			}

			this.populateHeaderChildren();
			//if (this.headerChildren.length > 1) {
			//	this.contextMenuOptions.push({
			//		name: 'changeHeader',
			//		function: 'changeHeader',
			//		text: 'Change Header',
			//		icon: 'fas fa-exchange-alt',
			//		children: this.headerChildren
			//	});
			//}
		},
		created: function () {
			this.landscapeStyle.width = this.currentPageType.height + 'px';
			this.landscapeStyle.height = this.currentPageType.width + 'px';

			this.portraitStyle.width = this.currentPageType.width + 'px';
			this.portraitStyle.height = this.currentPageType.height + 'px';

			this.date = moment().format('LL');
		}
	}
</script>
<style scoped>
	.card {
		width: 793px;
		background-color: white;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		transition: 0.5s;
		border-radius: 5px;
		height: 100%;
		margin: 8px;
		padding: 15px;
	}

		.card:hover {
			box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
		}

	.cardHeaderContainer {
		display: flex;
		justify-content: flex-end;
	}

	.menu-option {
		margin-left: 5px;
		margin-right: 5px;
		cursor: pointer;
	}
</style>