﻿@{
	ViewBag.Title = "Settings";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<ul>
			<li>@Html.ActionLink("Event Notification Subscriptions", "Index", "Notifications", new { area = "User" }, "")</li>
			<li>@Html.ActionLink("Task Templates", "Index", "TaskTemplates", new { area = "Lookups" }, "")</li>
		</ul>
	</div>
</div>