﻿@model Submissions.Web.Areas.Lookups.Models.ProjectReviewDetailCategoriesViewModel
@{
	ViewBag.Title = Model.Mode.ToString() + " Categories";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}


@using (Html.BeginForm("Edit", "ProjectReviewDetailCategories", FormMethod.Post, new { id = "LookupForm" }))
{

	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)


	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.Description)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "ProjectReviewDetailCategories", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Code, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.Code, new { @class = "form-control upper", @autofocus = "autofocus" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Description)

			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.DepartmentId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.LookupFor(m => m.DepartmentId, m => m.Department, LookupAjax.Departments, true)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(m => m.Active, new { @class = "padcheckbox" })
			</div>
		</div>
	</div>
}