﻿<script id="standardSortableHeaderTemplate" type="text/html">
	<th>
		<div class="row" style="vertical-align:top;">
			<div class="col-sm-12">
				<span title="Sort" data-bind="text: headerText, click: $component.sortByHeader" style="cursor: pointer;" />
				<!-- ko if: headerText -->
				<a title="filter" data-bind="click: $component.setFilterProperty">
					<i class="fas fa-filter" aria-hidden="true" style="cursor: pointer;"></i>
				</a>
				<!-- /ko -->
			</div>
		</div>
		<div class="row">
			<!-- ko if: headerText -->
			<div class="col-sm-12 gridFilter" data-bind="visible: $component.dataFilter.property() == rowText && rowText != ''">
				<input class="form-control gridFilterInput" type="text" data-bind="textInput: $component.dataFilter.filter" />
			</div>
			<!-- /ko -->
		</div>
	</th>
</script>

<script id="standardHeaderMultiSelect" type="text/html">
	<th style="text-align: center; width: 50px;">
		<input type="checkbox" data-bind="checked: $component.selectAll" />
	</th>
</script>

<script id="standardSubGridTemplate" type="text/html">

</script>

<script id="standardGridTemplate" type="text/html">
	<!-- ko if: $component.enableAddRow -->
		<!-- ko template: $component.addRowTemplate --> <!-- /ko -->
	<!-- /ko -->
	<table class="ko-grid table table-bordered table-condensed" cellspacing="0">
		<thead>
			<tr class="grid-header">
				<!-- ko if: enableMultiSelect -->
				<!-- ko template: 'standardHeaderMultiSelect' --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: enableSorting-->
					<!-- ko foreach: columns -->
						<!-- ko if: $component.headerTemplate-->
							<!-- ko template: $component.headerTemplate --> <!-- /ko -->
						<!-- /ko -->
						<!-- ko if: !$component.headerTemplate-->
							<!-- ko template: 'standardSortableHeaderTemplate' --> <!-- /ko -->
						<!-- /ko -->
					<!-- /ko -->
				<!-- /ko -->
				<!-- ko if: !enableSorting-->
					<!-- ko if: !$component.headerTemplate-->
						<!-- ko foreach: columns -->
							<th data-bind="text:headerText"></th>
						<!-- /ko -->
					<!-- /ko -->
					<!-- ko if: $component.headerTemplate-->
						<!-- ko template: $component.headerTemplate --> <!-- /ko -->
					<!-- /ko -->
				<!-- /ko -->
			</tr>
		</thead>
		<tbody>
			<!-- ko foreach: itemsOnCurrentPage -->
			<tr>
				<!-- ko if: $component.enableMultiSelect -->
				<td style='text-align: center;width: 50px;'><input type='checkbox' data-bind="checked: $data.Selected" /></td>
				<!-- /ko -->
				<!-- ko if: $component.rowTemplate -->
				<!-- ko template: $component.rowTemplate --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: !$component.rowTemplate -->
				<!-- ko foreach: $component.columns -->
				<td data-bind="text: typeof rowText =='function' ? rowText($parent) : $parent[rowText] "></td>
				<!-- /ko -->
				<!-- /ko -->
			</tr>
			<!-- ko if: $component.enableSubGrid -->
			<tr class="gridSubGrid hidden">
				<!-- ko if: $component.subGridTemplate -->
				<!-- ko template: $component.subGridTemplate --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: !$component.subGridTemplate -->
				<!-- ko template: 'standardSubGridTemplate' --> <!-- /ko -->
				<!-- /ko -->
			</tr>
			<!-- /ko-->
			<!-- /ko -->
		</tbody>
	</table>
	<div class="ko-grid-pageLinks pull-right">
		<span>Page:</span>
		<!-- ko foreach: ko.utils.range(0, maxPageIndex) -->
		<a href="#" data-bind="text: $data + 1, click: function() { $parent.currentPageIndex($data) }, css: { selected: $data == $parent.currentPageIndex() }"> </a>
		<!-- /ko -->
	</div>
</script>
