﻿<template>
	<div>
		<div class="collapse in" id="filter-options-list">
			<div class="panel-body">
				<div class="row align-items-center">
					<div class="col-sm-3 align-middle"><label><input v-model="hideComplete" type="checkbox" /><span class="filter-label"> Hide Completed Entries</span></label></div>
					<div class="col-sm-7"></div>
					<!--<div v-if="mode === 'add' && !savingTemplate" class="col-sm-1 align-middle"><button class="btn btn-success" @click="saveTemplate">Save</button></div>-->
					<!--<div v-if="mode === 'edit' && !savingTemplate" class="col-sm-1 align-middle"><button class="btn btn-success" @click="updateThisTemplate">Update</button></div>-->
					<!--<div v-else-if="savingTemplate" class="col-sm-1 align-middle"><i class="fas fa-spinner fa-pulse fa-5x"></i></div>-->
					<!--<div v-if="!savingTemplate" class="col-sm-1"><button class="btn btn-danger" @click="resetClauses">Cancel</button></div>-->
				</div>
				<div class="row align-items-center">
					<div class="col-sm-1 align-middle"><label><input v-model="fail" type="checkbox" /><span class="filter-label"> Fail</span></label></div>
					<div class="col-sm-1 align-middle"><label><input v-model="pass" type="checkbox" /><span class="filter-label"> Pass</span></label></div>
					<div class="col-sm-1 align-middle"><label><input v-model="na" type="checkbox" /><span class="filter-label"> NA</span></label></div>
					<div class="col-sm-1 align-middle"><label><input v-model="naStar" type="checkbox" /><span class="filter-label"> NA*</span></label></div>
					<div class="col-sm-6 align-middle"></div>
				</div>
				<div v-if="validationMessage && validationMessage.length > 0" class="row">
					<div class="col-sm-12 align-middle validation-message">{{ validationMessage }}</div>
				</div>
				<div v-if="exceptionMessage && exceptionMessage.length > 0">
					<div class="row align-items-center validation-message">
						<div class="col-sm-12">
							There were issues saving your template. Please put in a Track-IT including the below text.
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-sm-12">
							{{ exceptionMessage }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<ClauseReport :hidecountinfo="true" :hideanswer="true" :hiderelatedtestcases="true">
			<template v-slot:ClauseContent="slotProps">
				<div class="container-fluid padding-left">
					<div class="clause-language-picker-container">
						<div v-if="showWarning(slotProps.clause)">
							&nbsp;&nbsp;<i class="fas fa-exclamation-triangle" style="color:orangered" title="Please make sure English and Native explanations are changed."></i>
						</div>
						<div class="clause-language-picker-container-label">English</div>
						<ToggleSwitch title="Toggle between English and Native language explanations."
									  v-bind:id="'toggleClauseExplanationLanguage'+slotProps.clause.clauseID"
									  v-on:toggle="updateExplanationLanguageForClause(slotProps.clause.clauseID)"
									  :isEnabled="isNativeExplanation(slotProps.clause.clauseID)"></ToggleSwitch>
						<div class="clause-language-picker-container-label">Native</div>
					</div>
					<div v-if="isNativeExplanation(slotProps.clause.clauseID)">
						<div v-if="fail" class="row">
							<label class="explanation-heading">Explanation for Fail determination:</label>
							<input v-model.lazy="slotProps.clause.nativeTemplate.failExplanation"
								   class="input-sm plain-text-control"
								   @blur="explanationChanged(slotProps.clause)"
								   @change="updateToggleNative(slotProps.clause, 'failToggle')"
								   :disabled="savingTemplate"
								   type="text" />
						</div>
						<div v-if="pass" class="row">
							<label class="explanation-heading">Explanation for Pass determination:</label>
							<input v-model.lazy="slotProps.clause.nativeTemplate.passExplanation"
								   class="input-sm plain-text-control"
								   @blur="explanationChanged(slotProps.clause)"
								   @change="updateToggleNative(slotProps.clause, 'passToggle')"
								   :disabled="savingTemplate"
								   type="text" />
						</div>
						<div v-if="na" class="row">
							<label class="explanation-heading">Explanation for NA determination:</label>
							<input v-model.lazy="slotProps.clause.nativeTemplate.naExplanation"
								   class="input-sm plain-text-control"
								   @blur="explanationChanged(slotProps.clause)"
								   @change="updateToggleNative(slotProps.clause, 'naToggle')"
								   :disabled="savingTemplate"
								   type="text" />
						</div>
						<div v-if="naStar" class="row">
							<label class="explanation-heading">Explanation for NA* determination:</label>
							<input v-model.lazy="slotProps.clause.nativeTemplate.naStarExplanation"
								   class="input-sm plain-text-control"
								   @blur="explanationChanged(slotProps.clause)"
								   @change="updateToggleNative(slotProps.clause, 'naStarToggle')"
								   :disabled="savingTemplate"
								   type="text" />
						</div>
					</div>
					<div v-else>
						<div v-if="fail" class="row">
							<label class="explanation-heading">Explanation for Fail determination:</label>
							<input v-model.lazy="slotProps.clause.template.failExplanation"
								   class="input-sm plain-text-control"
								   @blur="explanationChanged(slotProps.clause)"
								   @change="updateToggleEnglish(slotProps.clause, 'failToggle')"
								   :disabled="savingTemplate"
								   type="text" />
						</div>
						<div v-if="pass" class="row">
							<label class="explanation-heading">Explanation for Pass determination:</label>
							<input v-model.lazy="slotProps.clause.template.passExplanation"
								   class="input-sm plain-text-control"
								   @blur="explanationChanged(slotProps.clause)"
								   @change="updateToggleEnglish(slotProps.clause, 'passToggle')"
								   :disabled="savingTemplate"
								   type="text" />
						</div>
						<div v-if="na" class="row">
							<label class="explanation-heading">Explanation for NA determination:</label>
							<input v-model.lazy="slotProps.clause.template.naExplanation"
								   class="input-sm plain-text-control"
								   @blur="explanationChanged(slotProps.clause)"
								   @change="updateToggleEnglish(slotProps.clause, 'naToggle')"
								   :disabled="savingTemplate"
								   type="text" />
						</div>
						<div v-if="naStar" class="row">
							<label class="explanation-heading">Explanation for NA* determination:</label>
							<input v-model.lazy="slotProps.clause.template.naStarExplanation"
								   class="input-sm plain-text-control"
								   @blur="explanationChanged(slotProps.clause)"
								   @change="updateToggleEnglish(slotProps.clause, 'naStarToggle')"
								   :disabled="savingTemplate"
								   type="text" />
						</div>
					</div>
				</div>
			</template>
		</ClauseReport>
		<form ref="FormTemplate" method="post">
			<input type="hidden" name="formTemplate" v-model="formTemplate" />
		</form>
	</div>
</template>
<script>
	import { isNull } from '@/common';
	import { isNotNull } from '@/common';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('clauseTemplateManagement');
	const { mapGetters: evoGetters, mapActions: evoActions } = createNamespacedHelpers('evolution');
	import Editable from '@/components/utility/ContentEditable.vue';
	import ClauseReport from '@/components/evolution/clausereport/ClauseReport.vue';
	import ToastNotification from '@/components/documents/generate/ToastNotification.vue';
	import ToggleSwitch from '@/components/utility/ToggleSwitch.vue';
	export default {
		components: {
			Editable,
			ClauseReport,
			ToastNotification,
			ToggleSwitch
		},
		data() {
			return {
				pass: true,
				fail: true,
				na: true,
				naStar: true,
				hideComplete: false,
				editNativeExplanation: false,
				editNativeExplanationForClause: [],
				formTemplate: {},
				currentToggleName:''
			}
		},
		props: ['fullscreen'],
		computed: {
			...evoGetters([
				'clauseReport'
			]),
			...mapGetters([
				'jurisdictions',
				'jurisdictionSelected',
				'clausesLoaded',
				'selectedJurisdictionId',
				'selectedManufacturerId',
				'selectedTemplateId',
				'clauses',
				'label',
				//'noModifications'
				'modifiedClauses',
				'creatingNewTemplate',
				'mode',
				'validationMessage',
				'exceptionMessage',
				'savingTemplate'
			]),
		},
		methods: {
			showWarning: function (clause) {
				var hasEditedToggle = clause.editedFieldToggles.passToggle ||
					clause.editedFieldToggles.failToggle ||
					clause.editedFieldToggles.naToggle ||
					clause.editedFieldToggles.naStarToggle;
										
				return hasEditedToggle && (clause.template.modified || clause.nativeTemplate.modified);
			},
			updateToggleNative: function (clause, toggleName) {
				this.currentToggleName = toggleName;
				if (!clause.template.modified && !clause.editedFieldToggles[toggleName]) {
					clause.editedFieldToggles[toggleName] = true;
				}
				else if (clause.template.modified && clause.editedFieldToggles[toggleName]) {
					clause.editedFieldToggles[toggleName] = false;
				}
				else if (clause.template.modified && !clause.editedFieldToggles[toggleName]) {
					clause.editedFieldToggles[toggleName] = true;
				}
				clause.nativeTemplate.modified = true;
			},
			updateToggleEnglish: function (clause, toggleName) {
				this.currentToggleName = toggleName;
				if (!clause.nativeTemplate.modified && !clause.editedFieldToggles[toggleName]) {
					clause.editedFieldToggles[toggleName] = true; // Should show warning
				}
				else if (clause.nativeTemplate.modified && clause.editedFieldToggles[toggleName]) {
					clause.editedFieldToggles[toggleName] = false;  // warning should go away
				}
				else if (clause.nativeTemplate.modified && !clause.editedFieldToggles[toggleName]) {
					clause.editedFieldToggles[toggleName] = true;
				}
				clause.template.modified = true;
			},
			resetClauses: function () {
				this.setListMode();
				this.setClauses([]);
				this.setEvoClauseReports([]);
			},
			explanationChanged: function (clause) {
				if (this.hideComplete && this.clauseFiltered(clause)) {
					this.hideFilteredClauses();
				}

			},
			isNativeExplanation: function (clauseId) {
				if (this.editNativeExplanationForClause.includes(clauseId)) {
					return true;
				}
				return false;
			},
			updateExplanationLanguageForClause: function (clauseId) {
				if (this.editNativeExplanationForClause.includes(clauseId)) {
					this.editNativeExplanationForClause.splice(this.editNativeExplanationForClause.indexOf(clauseId), 1);
				}
				else {
					this.editNativeExplanationForClause.push(clauseId);
				}
			},
			setClauses: function (filteredClauses) {
				this.setEvoClauseReports(filteredClauses);
			},
			//if true, this clause is to be hidden from view
			clauseFiltered: function (clause) {
				return !(
					(this.fail && (isNull(clause.template.failExplanation) || clause.template.failExplanation.length === 0)) ||
					(this.pass && (isNull(clause.template.passExplanation) || clause.template.passExplanation.length === 0)) ||
					(this.na && (isNull(clause.template.naExplanation) || clause.template.naExplanation.length === 0)) ||
					(this.naStar && (isNull(clause.template.naStarExplanation) || clause.template.naStarExplanation.length === 0))
				);
			},
			setClauseShowWarning: function (clause) {
				// if clause 
			},

			hideFilteredClauses: function () {
				this.setEvoClauseReports(this.clauses.filter(clause => !this.clauseFiltered(clause)));
			},


			...evoActions({
				setEvoClauseReports: 'setClauseReport',
				setClauseReportCounts: 'setClauseReportCounts',
				setHiddenClauseReportSpinner: 'setHiddenClauseReportSpinner',
				setNativeLanguageCompGroupID: 'setNativeLanguageCompGroupID',
				setNativeLanguageSelectEmpty: 'setNativeLanguageSelectEmpty'
			}),
			...mapActions([
				'setClauses',
				'loadApplicableTemplates',
				'setSelectedTemplateId',
				'resetModifiedFlag',
				'saveNewTemplate',
				'updateTemplate',
				'setListMode',
				'setSavingTemplate'
			])
		},
		watch: {
			selectedJurisdictionId: function (newJur, oldJur) {
				//this.setClauseReportCounts(this.clauseReportCounts);
				this.setEvoClauseReports(this.clauses);
			},
			hideComplete: function (newNo, oldNo) {
				if (newNo)
					this.hideFilteredClauses();
				else
					this.setEvoClauseReports(this.clauses);
			},
			pass: function (newVal, oldVal) {
				if (this.hideComplete) {
					this.hideFilteredClauses();
				}
			},
			fail: function (newVal, oldVal) {
				if (this.hideComplete) {
					this.hideFilteredClauses();
				}
			},
			na: function (newVal, oldVal) {
				if (this.hideComplete) {
					this.hideFilteredClauses();
				}
			},
			naStar: function (newVal, oldVal) {
				if (this.hideComplete) {
					this.hideFilteredClauses();
				}
			}
		},
		created: function () {
			this.setHiddenClauseReportSpinner(true);
			this.clauseReport.hideClausePanel = false;

		}
	}
</script>
<style scoped>
	label.explanation-heading {
	}

	.editable-input {
		border: 2px gray solid;
		border-radius: 5px;
		box-shadow: 0 0 0.2cm rgba(0,0,0,0.25);
	}

	.padding-left {
		padding-left: 40px;
	}

	.plain-text-control {
		width: 100%;
	}

	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}

	.validation-message {
		color: red;
		font-weight: bold;
	}

	.clause-language-picker-container {
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
	}
	.clause-language-picker-container-label {
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		font-weight: bold;
	}
</style>