﻿<template>
	<div>
		<div class="container-fluid">
			<div class="row">
				<!--<div v-if="!loadingTemplates" class="col-lg-12">
					<vue-good-table ref="vgtTable"
								:columns="columns"
								:rows="templates"
								:sort-options="{enabled: true}"
								styleClass="vgt-table striped condensed">
					<template slot="table-row" slot-scope="props">
						<div v-if="props.column.field == 'controls'" style="text-align:center">
							<div v-if="deactivatingTemplate">
								<i class="fas fa-spinner fa-pulse fa-2x"></i>
							</div>
							<div v-else>
								<a :href="'ClauseTemplateManagement/edit?id=' + props.row.id + '&Mode=Edit'">Edit</a> | <a href="#" @click="deactivate(props.row.id)">Deactivate</a>
							</div>
						</div>

						<div v-else>
							{{props.formattedRow[props.column.field]}}
						</div>
					</template>
				</vue-good-table>
				</div>-->
				<div v-if="!loadingTemplates" class="col-lg-12">
					<Grid ref="JQGrid" :grid="grid" :custom-filters="filters" @gridComplete="gridComplete"></Grid>
				</div>
				<div class="flex-spinner" v-else>
					<i class="fas fa-spinner fa-pulse fa-10x"></i>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import { VueGoodTable } from 'vue-good-table';

	import Grid from '@/components/utility/Grid.vue';
	const gridId = 'ClauseTemplatesGrid';
	//const grid = {
	//	id: gridId,
	//	url: 'GridsAjax/LoadClauseTemplates',
	//	searchtextbar: 'true',
	//	sortname: 'Label',
	//	sortorder: 'asc',
	//	colNames: [
	//		'Id',
	//		'Inactive',
	//		'Manufacturer',
	//		'Jurisdiction',
	//		'Name',
	//		//'Edit/Delete'
	//	],
	//	colModel: [
	//		{ name: 'Id', key: true, hidden: true },
	//		{ name: 'Inactive', hidden: true },
	//		{ name: 'Manufacturer', width: 100, stype: 'text', search: true },
	//		{ name: 'Jurisdiction', width: 50, search: true },
	//		{ name: 'Label', width: 50, search: true },
	//		//{ name: 'Edit/Delete', sortable: false, search: false, width: 50 },
	//	]
	//};

	const { mapGetters, mapActions } = createNamespacedHelpers('clauseTemplateManagement');

	export default {
		components: {
			VueGoodTable,
			Grid
			//TemplatePicker
		},
		data() {
			return {
				grid: {
					id: gridId,
					url: 'GridsAjax/LoadClauseTemplates',
					searchtextbar: 'true',
					sortname: 'Label',
					sortorder: 'asc',
					colNames: [
						'Id',
						'Inactive',
						'Manufacturer',
						'Jurisdiction',
						'Name',
						'Edit/Delete'
					],
					colModel: [
						{ name: 'Id', key: true, hidden: true },
						{ name: 'Inactive', hidden: true },
						{ name: 'Manufacturer', width: 75, stype: 'text', search: true },
						{ name: 'Jurisdiction', width: 75, search: true },
						{ name: 'Label', width: 75, search: true },
						{ name: 'Edit/Delete', width: 50, sortable: false, search: false, width: 50 },
					]
				},
				filters: null,
				columns: [
					{ label: "Id", field: 'id', required: true, hidden: true },
					{ label: "Inactive", field: 'inactive', required: true, hidden: true },
					{
						label: 'Manufacturer',
						field: 'manufacturer',
						required: true,
						filterOptions: {
							enabled: true, // enable filter for this column
							placeholder: 'Filter By MFG', // placeholder for filter input
							filterValue: '' // initial populated value for this filter. Can be used to auto-filter when we're ready
							//filterDropdownItems: [], // dropdown (with selected values) instead of text input
							//filterFn: this.columnFilterFn, //custom filter function that
							//trigger: 'enter', //only trigger on enter not on keyup
						}
					},
					{
						label: 'Jurisdiction',
						field: 'jurisdiction',
						required: true,
						filterOptions: {
							enabled: true,
							placeholder: 'Filter by Jurisdiction',
							filterValue: ''
						}
					},
					{
						label: 'Name',
						field: 'label',
						required: true,
						filterOptions: {
							enabled: true,
							placeholder: 'Filter by Name',
							filterValue: ''
						}
					},
					{ label: '', field: 'controls', required: true }
				]
			}
		},
		computed: {
			...mapGetters([
				'mode',
				'loadingTemplates',
				'templates',
				'deactivatingTemplate'
			])
		},
		mounted: function () {
			//console.log('list mounted');
		},
		methods: {
			test: function (obj) {
				console.log(obj);
				return obj;
			},
			buildEditDelete: function (rowId) {
				var link = "<div>";
				link += "<a href='ClauseTemplateManagement/edit?id=" + rowId + "&Mode=Edit'>Edit</a>";// Target='_new'
				link += " | ";
				link += "<a href='" + jsPath + "tools/clausetemplatemanagement?deactivate=" + rowId + "'>Deactivate</a>";
				return link;
			},
			gridComplete: function () {
				let grid = $('#' + gridId);
				//let ids = grid.jqGrid("getDataIDs");
				this.$refs.JQGrid.buildColumns("Edit/Delete", this.buildEditDelete);
			},

			edit: function (template) {
				this.setEditMode(template);
			},
			deactivate: function (templateId) {
				this.deactivateTemplate(templateId);
			},
			...mapActions([
				'setEditMode',
				'deactivateTemplate',
				'loadApplicableTemplates'
			])
		},
		watch: {
		},
		created: function () {
			//console.log('List created');
			//this.loadApplicableTemplates();
		}
	}
</script>
<style scoped>
	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}

	.flex-spinner {
		display: flex;
		height: 300px;
		justify-content: center;
		align-items: center;
	}
</style>
