﻿@model Submissions.Web.Areas.Evolution.Models.RegulationDisplayViewModel

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.ui-jqgrid .loading {
			position: fixed !important;
			top: 200px !important;
			left: 50% !important;
			margin-left: -60px !important;
		}

		.ui-jqgrid tr.jqgrow td {
			white-space: normal !important;
		}
	</style>
}

@{
	ViewBag.FullWidth = true;
	ViewBag.Title = Model.Title + " -- BETA";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<button class="btn btn-primary btn-sm" id="CancelBtn">Close</button> &nbsp;
	</div>
</div>

@Html.Trirand().JQGrid((JQGrid)Model.RegulationGrid.Grid, (string)Model.RegulationGrid.Grid.ID)

<form id="GridForm" method="post">
	@Html.Hidden("Filters", @Html.Raw(Json.Encode(Model.Filters)))
</form>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$(function () {
			$('#CancelBtn').on('click', function () {
				window.open('', '_self', '');
				window.close();
			});
		});

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = $('#Filters').val();
			$(this).jqGrid('setGridParam', { postData: postData });
		};
	</script>
}