﻿@model Submissions.Web.Areas.Evolution.Models.RegulationIndexViewModel

@{
	ViewBag.Title = "Regulation Search & Compare -- BETA";
}
<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
</div>

@using (Html.BeginForm("RegulationSearch", "Regulation", FormMethod.Post, new { id = "SearchForm", target = "_blank" }))
{
	@Html.Hidden("SearchType", "RegulatorySearch");
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Regulation Search</h3>
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Filters.JurisdictionIdsToBeSearched, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								@Html.LookupMultipleFor(m => m.Filters.JurisdictionIdsToBeSearched, Model.Filters.JurisdictionsToBeSearched, LookupAjax.Jurisdictions, false)
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Filters.Memo, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								@Html.TextBoxFor(m => m.Filters.Memo, new { @class = "form-control" })
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-buttons text-right">
						<button type="submit" name="submitbutton1" id="DisplayBtn1" class="btn btn-primary btn-sm">Display</button>
						<button type="submit" name="exportbutton1" id="DisplayBtn2" class="btn btn-primary btn-sm">Export</button>
						<input type="reset" id="ClearBtn" class="btn btn-primary btn-sm" value="Clear">
					</div>
				</div>
			</div>
		</div>
	</div>
}

@using (Html.BeginForm("RegulationCompare", "Regulation", FormMethod.Post, new { id = "CompareForm", target = "_blank" }))
{
	@Html.Hidden("SearchType", "RegulatoryCompare");
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Regulation Compare</h3>
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Filters.JurisdictionIdsTested, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								@Html.LookupMultipleFor(m => m.Filters.JurisdictionIdsTested, Model.Filters.JurisdictionsTested, LookupAjax.Jurisdictions, false)
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Filters.JurisdictionIdsToBeTested, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								@Html.LookupMultipleFor(m => m.Filters.JurisdictionIdsToBeTested, Model.Filters.JurisdictionsToBeTested, LookupAjax.Jurisdictions, false)
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Filters.FunctionalRoleIds, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								@Html.LookupMultipleFor(m => m.Filters.FunctionalRoleIds, Model.Filters.FunctionalRoles, LookupAjax.FunctionalRoles, false)
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-buttons text-right">
						<button type="submit" name="submitbutton2" id="DisplayBtn3" class="btn btn-primary btn-sm">Display</button>
						<button type="submit" name="exportbutton2" id="DisplayBtn4" class="btn btn-primary btn-sm">Export</button>
						<input type="reset" id="ClearBtn" class="btn btn-primary btn-sm" value="Clear">
					</div>
				</div>
			</div>
		</div>
	</div>
}


