﻿@model Submissions.Web.Areas.Lookups.Models.HelpEditViewModel

@section css {
	@Styles.Render("~/bundles/css/kendo")
}
@{
	ViewBag.Title = "Help";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3 class="form-h3">@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<button type="button" class="btn btn-primary btn-sm btn-savehelp">@saveButtonText</button>

		@if (Model.Mode == Mode.Edit)
		{
			<button type="button" class="btn btn-primary btn-sm btn-deletehelp">Delete</button>
		}

		@Html.ActionLink("Cancel", "Index", "Help", null, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

@using (Html.BeginForm("Edit", "Help", FormMethod.Post, new { id = "EditForm" }))
{
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.Help.Id)
	@Html.HiddenFor(m => m.Help.Html)

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Help.Code, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.Help.Code, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.Help.Code)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Help.Description, new { @class = "control-label col-sm-2" })
			<div class="col-sm-10">
				@Html.TextBoxFor(m => m.Help.Description, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Help.Description)
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			@(Html.Kendo().Editor()
			.Name("HtmlContent")
			.Value(Model.Help.Html)
			.Tag("div")
			.Tools(tools => tools.ViewHtml().InsertFile().FontName().FontSize().FontColor())
			.ImageBrowser(imageBrowser => imageBrowser
				.Image("~/Img/Help/{0}")
				.Read("Read", "ImageBrowser")
				.Create("Create", "ImageBrowser")
				.Destroy("Destroy", "ImageBrowser")
				.Upload("Upload", "ImageBrowser")
				.Thumbnail("Thumbnail", "ImageBrowser"))
			.FileBrowser(fileBrowser => fileBrowser
				.File("~/Img/Help/{0}")
				.Read("Read", "FileBrowser")
				.Create("Create", "FileBrowser")
				.Destroy("Destroy", "FileBrowser")
				.Upload("Upload", "FileBrowser"))
			)
		</div>
	</div>
}

@section scripts{
	@Scripts.Render("~/bundles/script/kendo")
	<script>
		$(function () {
			// Save
			$('.btn-savehelp').on('click', function () {
				var htmlContent = $('#HtmlContent').data('kendoEditor').value();
				$('#Help_Html').val(htmlContent);
				$('#EditForm').submit();
			});

			// Delete
			$('.btn-deletehelp').on('click', function (e) {
				bootbox.confirm('Are you sure you want to delete this help item?', function (result) {
					if (result) {
						$('#EditForm').attr('action', '@Url.Action("Delete")');
						$('#EditForm').submit();
					}
				});
			});
		});
	</script>
}

