﻿@model Submissions.Web.Areas.Lookups.Models.HelpIndexViewModel

@{
	ViewBag.Title = "Help";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3 class="form-h3">@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", "Help", new { Mode = "Add" }, new { @class = "btn btn-primary btn-sm" })
		@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

<table class="table table-striped table-condensed">
	<tr>
		<th>Code</th>
		<th>Description</th>
		<th></th>
	</tr>

	@foreach (var item in Model.HelpData)
	{
		<tr>
			<td>@item.Code</td>
			<td>@item.Description</td>
			<td class="text-right">@Html.ActionLink("Edit", "Edit", new { id = item.Id, mode = "Edit" })</td>
		</tr>
	}
</table>

