﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3 v-if="vm.mode == 'Add'">Add QA Task Definition</h3>
				<h3 v-else>Edit QA Task Definition</h3>
			</div>
			<div class="col-sm-6 form-buttons ">
				<a v-if="vm.mode == 'Add'" class="btn btn-primary btn-sm" v-on:click="checkTaskData">Add</a>
				<a v-else class="btn btn-primary btn-sm" v-on:click="checkTaskData">Save</a>
				<a class="btn btn-primary btn-sm" v-on:click="cancelRequest">Exit</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">General</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-3 control-label">Name</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" v-model="vm.name" />
									<p class=field-validation-error  v-if="!$v.vm.name.required">The name is required!</p>
								</div>
							</div>

						</div>
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-3 control-label">Is this for Original Testing?</label>
								<div class="col-sm-3">
									<input type="checkbox" v-model="vm.isTaskForOriginalTesting" />
								</div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-3 control-label">Is this for Closed Jurisdiction Testing?</label>
								<div class="col-sm-3">
									<input type="checkbox" v-model="vm.isTaskForClosedJurisdictionsTesting" />
								</div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-3 control-label">Review Task?</label>
								<div class="col-sm-3">
									<input type="checkbox" v-model="vm.isReviewTask" />
								</div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-3 control-label">Finalization Priority</label>
								<div class="col-sm-3">
									<SelectStandard id="priority" name="priority" :options="vm.finalizationPriorityOptions" v-model="vm.finalizationPriority" :value="vm.finalizationPriority"></SelectStandard>
								</div>
								<p class="text-info">(Only Applies to Finalization Task)</p>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-3 control-label">Short Name</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" v-model="vm.shortName" />
								</div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-3 control-label">Task Depended On</label>
								<div class="col-sm-7">
									<LookupMultiple id="TaskDependedOn" name="TaskDependedOn" lookupajax="QATaskDefinitions" v-model="vm.taskDependedOnIds" :options="vm.taskDependedOnName" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	import SelectStandard from '@/components/utility/SelectStandard.vue'
	import LookupMultiple from '@/components/utility/LookupMultiple.vue'
	import { required } from 'vuelidate/lib/validators'
	
	export default {
		components: {
			LookupMultiple,
			SelectStandard
		},
		data() {
			return {
				vm: initialData
			}
		},
		validations: {
			vm: {
				name: { required }
			}
		},
		methods: {
			cancelRequest: function (event) {
				event.preventDefault();
				window.open(jsPath + "lookups/QATaskDefinitions", "_self");
			},
			validateData: function () {
				this.$v.$touch();
				return !this.$v.$invalid;
			},
			checkTaskData: function (e) {
				e.preventDefault()
				if (!this.validateData()) {
					return false;
				}
				if (this.vm.mode == "Add") {
					this.vm.id = 0
				}
				this.$http.get('Lookups/QATaskDefinitions/CheckIfNameExists?name=' + this.vm.name + '&qaTaskDefId=' + this.vm.id)
					.then(response => {
						if (response.data == "Yes") {
							alert(this.vm.name + " - Task already exists.")
							return false;
						}
						else {
							this.saveTask()
						}
					})
					.catch(e => {
						console.log(e);
						alert("Error")
					});
			   
			},
			saveTask: function () {
				this.$http.post('Lookups/QATaskDefinitions/Edit', {
					taskEditVm: this.vm,
				})
				.then(response => {
					window.location.href = "../QAtaskDefinitions"
				})
			 }

		}
	}
</script>