﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>QA Task Definitions</h3>
			</div>
			<div class="col-sm-6 form-buttons ">
				<a class="btn btn-primary btn-sm" :href="addOrEditUrl(0)">Add</a>
				<a class="btn btn-primary btn-sm" @click="cancelRequest">Exit</a>
			</div>
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Task</th>
					<th>Applies to Original Testing</th>
					<th>Applies to Closed Jurisdictons Testing</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(QATaskDefinition, index) in vm.qaTaskDefinitions">
					<td>{{QATaskDefinition.name}}</td>
					<td>
						<div style="color:green" v-show="QATaskDefinition.isTaskForOriginalTesting">
							<i class="fas fa-check"></i>
						</div>
					</td>
					<td>
						<div style="color:green" v-show="QATaskDefinition.isTaskForClosedJurisdictionsTesting">
							<i class="fas fa-check"></i>
						</div>
					</td>
					<td class="text-right">
						<a :href="addOrEditUrl(QATaskDefinition.id)">Edit</a> |
						<a href="#" @click="deleteTask(QATaskDefinition.id,QATaskDefinition.name)">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				vm: initialData
			}
		},
		methods: {
			cancelRequest: function (event) {
				event.preventDefault();
				var url = jsPath + 'tools';
				window.open(url, "_self");
			},
			addOrEditUrl: function (id) {
				if (id == 0) {
					return "QATaskDefinitions/edit?id=" + id + "&Mode=Add"
				}
				else {
					return "QATaskDefinitions/edit?id=" + id + "&Mode=Edit"
				}
			},
			deleteTask: function (id, name) {
				const self = this;

				bootbox.confirm("Are you sure you want to delete task (" + name + ")?", function (result) {
					if (result) {
						self.$http.post('Lookups/QATaskDefinitions/Delete', {
							id: id
						})
							.then(response => {
								window.location.href = "../Lookups/QAtaskDefinitions"
							})
							.catch(e => {
								console.log(e);
							})
					}
				});
				return false;
			}
		}
	}
</script>