﻿@model Submissions.Web.Areas.Protrack.Models.TestingPerformed.EditViewModel

<div class="row">
	<div class="col-xs-6">
		<h2>@ViewBag.Title <small>@ViewBag.ProjectName</small></h2>
	</div>
	<div class="col-xs-4">
		&nbsp;
	</div>
	<div class="col-xs-4 form-buttons pull-right">
		<button id="forSubmitForm" type="button" class="btn btn-primary btn-save">Save</button>
		<button id="exit" type="button" class="btn btn-primary">Cancel</button>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Bulk Update
				<a href="">
					<i class="fas fa-expand pull-right" data-toggle="collapse" href="#bulkUpdateBody"></i>
				</a>
			</div>
			<div id="bulkUpdateBody" class="panel-body collapse">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="BulkTestingPerformed">Testing Performed</label>
						@Html.DropDownListFor(m => m.BulkTestingPerformed, Model.TestingPerformedOptions, new { @style = "width:100%", id = "BulkTestingPerformed" })
					</div>
					<div class="form-group">
						<label for="bulkExternalTestLab">External Test Lab</label>
						@Html.DropDownListFor(m => m.BulkExternalTestLab, Model.ExternalTestLabOptions, new { @style = "width:100%", id = "BulkExternalTestLab" })
					</div>
					<button id="BulkApply" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Apply above options to below checked rows.">Apply</button>

				</div>
			</div>
		</div>
	</div>
</div>

@using (Html.BeginForm("Edit", "TestingPerformed", FormMethod.Post, new { id = "submitForm" }))
{
	@Html.HiddenFor(x => x.ProjectId)
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Jurisdictional Data</div>
				<div class="panel-body">

					<table id="jurisdictionalDataTable" class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<td><input id="CheckAll" type="checkbox" /></td>
								<th>Game Name</th>
								<th>ID Number</th>
								<th>Version</th>
								<th>Jurisdiction</th>
								<th>Testing Performed</th>
								<th>External Test Lab</th>
							</tr>
						</thead>
						<tbody>
							@for (int i = 0; i < Model.JurisdictionalData.Count; i++)
							{
								@Html.HiddenFor(m => m.JurisdictionalData[i].Id)
								@Html.HiddenFor(m => m.JurisdictionalData[i].SubmissionKey)
								<tr>
									<td>
										@Html.CheckBoxFor(
										x => Model.JurisdictionalData[i].Selected,
										(Model.JurisdictionalData[i].TestingPerformedAvailable || (Model.JurisdictionalData[i].TestingPerformedId ?? 0) > 1 || (Model.JurisdictionalData[i].TestingPerformedId ?? 0) == 0) ?
										(object)new
										{
											@class = "jurisdictionalDataSelect",
											id = "Selected_" + Model.JurisdictionalData[i].Id,
										}
										:
										(object)new
										{
											@class = "jurisdictionalDataSelect",
											id = "Selected_" + Model.JurisdictionalData[i].Id,
											@disabled = "disabled"
										}
										)
									</td>

									<td>
										@Html.DisplayFor(x => Model.JurisdictionalData[i].GameName)
									</td>
									<td>
										@Html.DisplayFor(x => Model.JurisdictionalData[i].IDNumber)
									</td>
									<td>
										@Html.DisplayFor(x => Model.JurisdictionalData[i].Version)
									</td>
									<td>
										@{var jurisdictionCombo = Model.JurisdictionalData[i].Jurisdiction + " - (" + Model.JurisdictionalData[i].JurisdictionID + ")";}
										<p>@jurisdictionCombo</p>
									</td>
									<td>
										@Html.DropDownListFor(
										m => m.JurisdictionalData[i].TestingPerformedId,
										Model.JurisdictionalData[i].TestingPerformedOptions,
										(Model.JurisdictionalData[i].TestingPerformedAvailable || (Model.JurisdictionalData[i].TestingPerformedId ?? 0) > 1 || (Model.JurisdictionalData[i].TestingPerformedId ?? 0) == 0) ?
										(object)new
										{
											style = "width:100%",
											id = "TestingPerformed_" + Model.JurisdictionalData[i].Id
										}
										:
										(object)new
										{
											style = "width:100%",
											id = "TestingPerformed_" + Model.JurisdictionalData[i].Id,
											@disabled = "disabled"
										}
										)

										@if (!(Model.JurisdictionalData[i].TestingPerformedAvailable || (Model.JurisdictionalData[i].TestingPerformedId ?? 0) > 1 || (Model.JurisdictionalData[i].TestingPerformedId ?? 0) == 0))
										{
											@Html.HiddenFor(m => m.JurisdictionalData[i].TestingPerformedId)
										}
									</td>
									<td>
										@Html.DropDownListFor(
										m => m.JurisdictionalData[i].ExternalTestLabId,
										Model.JurisdictionalData[i].ExternalTestLabOptions,
										(Model.JurisdictionalData[i].TestingPerformedAvailable || (Model.JurisdictionalData[i].TestingPerformedId ?? 0) > 1 || (Model.JurisdictionalData[i].TestingPerformedId ?? 0) == 0) ?
										(object)new
										{
											style = "width:100%",
											id = "ExternalTestLab_" + Model.JurisdictionalData[i].Id,
											name = "ExternalTestLab_" + Model.JurisdictionalData[i].Id
										}
										:
										 (object)new
										 {
											 style = "width:100%",
											 id = "ExternalTestLab_" + Model.JurisdictionalData[i].Id,
											 name = "ExternalTestLab_" + Model.JurisdictionalData[i].Id,
											 @disabled = "disabled"
										 })
										
										@if (!(Model.JurisdictionalData[i].TestingPerformedAvailable || (Model.JurisdictionalData[i].TestingPerformedId ?? 0) > 1 || (Model.JurisdictionalData[i].TestingPerformedId ?? 0) == 0))
										{
											@Html.HiddenFor(m => m.JurisdictionalData[i].ExternalTestLabId)
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
}

@section scripts{
	<script>
		$(document).ready(function () {
			$('#BulkTestingPerformed').val(null).trigger('change');
			$('#BulkExternalTestLab').val(null).trigger('change');
		});

		$('body').on('click', '#exit', function(){
			window.close();
		});

		$('body').on('click', '#BulkApply', function () {
			processBulkApply();
			resetBulkOptions();
		});

		$('body').on('click', '#forSubmitForm', function () {
			var isValid = runValidation();
			if (isValid) { $('#submitForm').submit(); }
		});

		$('body').on('change', '#CheckAll', function () {
			$("input:checkbox:not(:disabled)").prop('checked', $(this).prop("checked"));
		});

		function resetBulkOptions() {
			$(".jurisdictionalDataSelect, #CheckAll").prop("checked", false);
			$('#BulkTestingPerformed').val(null).trigger('change');
			$('#BulkExternalTestLab').val(null).trigger('change');
		}

		function processBulkApply() {

			var BulkOptions = {
				TestingPerformed: $('#BulkTestingPerformed').val(),
				ExternalTestLab: $('#BulkExternalTestLab').val()
			};

			var JurisdictionalDataSelections = $('.jurisdictionalDataSelect:checkbox:checked');

			if (JurisdictionalDataSelections.length > 0) {

				$.each(JurisdictionalDataSelections, function (key, value) {
					var key = value.id.split('_')[1];
					if (BulkOptions.ExternalTestLab) {
						var forUpdate = $('#ExternalTestLab_' + key);
						forUpdate.val(BulkOptions.ExternalTestLab).trigger('change');
					}

					if (BulkOptions.TestingPerformed) {
						var forUpdate = $('#TestingPerformed_' + key);
						forUpdate.val(BulkOptions.TestingPerformed).trigger("change");
					}
				});
			}
		}

		function runValidation() {
			var isValid = false;
			isValid = validateLabProvidedForPartialTesting();

			return isValid;
		}

		function validateLabProvidedForPartialTesting() {

			var partialTestingPerformed = $("select:has(option[value='@((int)Submissions.Common.TestingPerformed.PartialTesting)']:selected)");

			var externalTestLabSelections = $.map(partialTestingPerformed, function (item, key) {
				var tagValue = $('#ExternalTestLab_' + item.id.split('_')[1]).val();
				if (tagValue === "0") {
					return {
						selector: '#ExternalTestLab_' + item.id.split('_')[1],
						isValid: false
					};
				}
			});

			if (externalTestLabSelections.length > 0) {
				bootbox.alert("Partial testing requires an external test lab be provided.")
				$(externalTestLabSelections[0].selector).focus();
			}
			else {
				return true;
			}
		}
	</script>
}