﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Guidelines - {{vm.manufacturerName}}</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<button class="btn" @click="addNewRow">Add Row</button>
				<button class="btn btn-sm btn-primary hidden" @click="saveAll">Save All</button>
				<a-link href="/lookups/manufacturerguidelines" class="btn btn-sm btn-primary">Close</a-link>
			</div>
		</div>
		<div class="row">
			
		</div>
		<div class="row">
			<div v-for="(row, index) in vm.rows">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<input type="hidden" name="Id" v-model="row.id" />
									<div class="form-group form-group-sm col-sm-4">
										<label class="col-sm-4 control-label">Jurisdiction: </label>
										<div class="col-sm-8">
											<input :id="'GamingGuideline' + index" :name="'GamingGuideline' + index" type="hidden" v-model="row.gamingGuidelineId" />
											<Lookup :id="'GamingGuideline' + index"
													name="'GamingGuideline' + index"
													lookupajax="GamingGuidelines"
													:options="row.gamingGuidelineOptions"
													@updateLookupTextField="updateGamingGuideline($event, row)"
													v-model="row.gamingGuidelineId"
													:lookuptextfield="row.jurisdiction">
											</Lookup>
											
										</div>
									</div>
									<div class="form-group form-group-sm col-sm-3">
										<label class="control-label col-sm-6" for="ChargeValue">RTP Minimum: </label>
										<div class="col-sm-6">
											<input :id="'MinRTP' + + index" name="MinRTP" type="number" v-model.lazy="row.minRTP" class="form-control" />
										</div>
									</div>
									<div class="form-group form-group-sm col-sm-3">
										<label class="control-label col-sm-6" for="ChargeValue">RTP Maximum: </label>
										<div class="col-sm-6">
											<input :id="'MaxRTP' + index" name="MaxRTP" type="number" v-model.lazy="row.maxRTP" class="form-control" />
										</div>
									</div>
									<div class="form-buttons col-sm-2">
										<button class="btn btn-success save-btn" @click="saveRow(row)">Save</button>
										<button class="btn btn-danger" @click="removeRow(row, index)">Delete</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="Id" v-model="vm.manufacturerId" />
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import { required, maxLength } from 'vuelidate/lib/validators'


	export default {
		components: {
			ALink,
			Lookup
		},
		data: function () {
			return {
				vm: initialData
			}
		},
		validations: {
			rows: {
				jurisdiction: {
					required
				}
			}
		},
		methods: {
			saveAll: function () {
				console.log('oi');
			},
			updateGamingGuideline: function (value, row) {
				row.jurisdiction = value;
			},
			addNewRow: function () {
				this.vm.rows.push(JSON.parse(JSON.stringify(this.vm.newRow)));
			},
			saveRow: function (row) {
				if (row.jurisdiction === '' || row.jurisdiction === 'null') {
					bootbox.alert("Jurisdiction is required");
					return;
				}
				row.manufacturerId = this.vm.manufacturerId;
				this.$http.post('lookups/manufacturerguidelines/edit', { vm: row })
					.then(response => {
						row.id = response.data.id
					});

			},
			removeRow: function (row, index) {
				if (row.id !== 0) {
					this.$http.post('lookups/manufacturerguidelines/delete', {id:row.id})
				}
				this.vm.rows.splice(index, 1);
			},
			validate: function () {
				this.$v.$touch();
				return !this.$v.$invalid;
			}
		}
	}
</script>