﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Manufacturer Guidelines</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<a-link v-if="manufacturerName !== null && manufacturerName !== undefined && manufacturerName !== ''" 
						:href="'/lookups/manufacturerguidelines/edit?manufacturerId='+manufacturerId" class="btn btn-sm btn-primary">Add</a-link>
				<a-link href="/tools" class="btn btn-sm btn-primary">Exit</a-link>
			</div>
		</div>
		<div class="row">
			<div class="form-group form-group-sm">
				<label class="col-sm-2 control-label">Manufacturer: </label>
				<div class="col-sm-4">
					<input id="Manufacturer" name="Manufacturer" type="hidden" v-model="manufacturerId" />
					<Lookup id="Manufacturer" name="Manufacturer" lookupajax="Manufacturers" :options="manufacturerOptions" @updateLookupTextField="updateManufacturerName" v-model="manufacturerId" :lookuptextfield="manufacturerName"></Lookup>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div v-if="vm.rows.length === 0 && (manufacturerName !== null && manufacturerName !== '')">
				<div class="col-sm-12">
					No overrids are set for {{manufacturerName}}, add a new one by clicking <strong>Add</strong> above.
				</div>
			</div>
			<div v-if="vm.rows.length !== 0" class="col-sm-12">
				<table class="table table-striped">
					<tr>
						<th>
							Jurisdiction
						</th>
						<th>
							Minimum RTP
						</th>
						<th>
							Maximium RTP
						</th>
					</tr>
					<tr v-for="row in vm.rows">
						<td>
							{{row.Jurisdiction}}
						</td>
						<td>
							{{row.MinRTP}}
						</td>
						<td>
							{{row.MaxRTP}}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	import Grid from '@/components/utility/Grid.vue';
	import Lookup from '@/components/utility/Lookup.vue';

	export default {
		components: {
			ALink,
			Grid,
			Lookup
		},
		data: function () {
			return {
				manufacturerOptions: [],
				manufacturerId: 0,
				manufacturerName: '',
				vm: initialData
			}
		},
		methods: {
			updateManufacturerName: function (value) {
				this.manufacturerName = value;
				this.getRows();
			},
			getRows: function () {
				this.$http.get('Lookups/ManufacturerGuidelines/GetRows', {
					params: {
						manufacturerId: this.manufacturerId
					}
				})
					.then(r => {
						this.vm.rows = r.data;
					});
			}
		}
	}
</script>