﻿<template>
	<div>
		<div class="container-fluid">
			<CoversheetTable/>
		</div>

	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import CoversheetTable from '@/components/documents/generate/Coversheet/CoversheetTable.vue';
	export default {
		filters: {

		},
		components: {
			CoversheetTable
		},
		data() {
			return {
				displayedPaytable: ""
			}
		},
		props: ['letterCollapsed'],
		computed: {
			...sourceGetters([

			]),
			...mapGetters([
			])


		},
		methods: {
		}
	}
</script>

<style scoped>

</style>