﻿@model  Submissions.Web.Areas.Documents.Models.GameDescription.GameDescriptionIndexViewModel
@{
	ViewBag.Title = "Description Search";
	ViewBag.NoContainer = true;
	ViewBag.NoFooter = true;
}

<div id="app"></div>

@section scripts {
	@Scripts.Render("~/bundles/script/letterGen")
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
