﻿<template lang="pug">
	<div>
		<div class="row row-title">
			<div class="col-sm-8">
				<h3>Test Script Landing page</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<ToCInstance></ToCInstance>
			</div>
			<div class="col-sm-8"> 
				Right Test Scripts Go here? Test
				<TestScriptQuestions></TestScriptQuestions>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import ToCInstance from './ToCInstance'
	import TestScriptQuestions from './TestScriptQuestions'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			ToCInstance,
			TestScriptQuestions,
		},
		computed: {
			...mapGetters([
			])
		},
		data() {
			return {
				vm: initialData,
			}
		},
		mounted() {
			//Load up Test script data from Database
		},
		methods: {
		},
		watch: {
		}
	}
</script>

<style scoped>
	
</style>
