﻿<template>
	<!--<div class="flex-col">-->
	<div>
		<!--<table class="table table-striped table-hover">-->
			<!--<tr :key="ts.id" v-bind:class="{ hidden: !ts.display }">
				<td v-show="ts.visible">-->
					<!--<div v-bind:class="{ hidden: !ts.display }"
						 v-bind:style="{ 'margin-left': (ts.level * 50) + 'px', 'border-color':(ts.modified ? 'yellow' : 'black') }"
						 class="testScriptContainer">-->
					<div class="testScriptContainer">
						<div class="row">
							<div class="col-xs-1 normalized-id">
								{{ ts.normalizedId }} {{allowEdit}}
								{{ts.orderId}}
							</div>
							<div v-if="(ts.questionType!==enumQuestionTypeProp.TestStepQuestion.toString())" class="col-xs-9 testScriptText"><p v-html="ts.text">{{ ts.text }}</p></div>
							<div v-else class="col-xs-9 testScriptText"><b><u>{{ts.description}}</u></b><p v-html="ts.text">{{ts.text}}</p></div>
							<div>{{ts.id}}</div>
							<!--validation questions answerType==='11' questionType ==='18'-->
							<div class="pull-right padding3">
								<div v-if="(ts.questionType===enumQuestionTypeProp.Validation.toString())" :disabled="!allowEdit" class="btn-group-xs hideRadio">
									<label v-if="(ts.answer==='PASS')" :disabled="!allowEdit" class="btn btn-success active">
										<input type="radio" id="PASS" value="PASS" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!allowEdit" />PASS
									</label>
									<label v-else :disabled="!allowEdit" class="btn btn-default">
										<input type="radio" id="PASS" value="PASS" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!allowEdit" />PASS
									</label>

									<label v-if="(ts.answer==='FAIL')" :disabled="!allowEdit" class="btn btn-danger active">
										<input type="radio" id="FAIL" value="FAIL" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!allowEdit" />FAIL
									</label>
									<label v-else :disabled="!allowEdit" class="btn btn-default">
										<input type="radio" id="FAIL" value="FAIL" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!allowEdit" />FAIL
									</label>

									<label v-if="(ts.answer==='NA')" class="btn active" :disabled="!allowEdit" style="background-color:grey; color:white;">
										<input type="radio" id="NA" value="NA" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!allowEdit" />NA
									</label>
									<label v-else :disabled="!allowEdit" class="btn btn-default">
										<input type="radio" id="NA" value="NA" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!allowEdit" />NA
									</label>
									<!--Validation specific actions-->
									<!--<div v-if="(ts.jiraKeyList!== null)"><a target="_blank" v-bind:href="'https://tracker.gaminglabs.com:8443/browse/' + ts.jiraKeyList">{{ ts.jiraKeyList }}</a></div>-->
								</div>

								<!--Conditional Question answerType==='10' questionType === '17'-->
								<div v-else-if="(ts.questionType===enumQuestionTypeProp.Conditional.toString()
									 || ts.questionType===enumQuestionTypeProp.TestStepQuestion.toString())
									 || ts.questionType === enumQuestionTypeProp.TestObjective" :disabled="!allowEdit" class="btn-group-xs hideRadio">
									<label v-if="(ts.questionType===enumQuestionTypeProp.Conditional.toString() && ts.answer==='YES')" :disabled="!allowEdit" class="btn btn-info active">
										<input type="radio" id="YES" value="YES" v-model="ts.answer" v-on:change="switchChildrenSide(ts, 'yes')" :disabled="!allowEdit" />YES
									</label>
									<label v-else-if="(ts.questionType===enumQuestionTypeProp.Conditional.toString())" :disabled="!allowEdit" class="btn btn-default">
										<input type="radio" id="YES" value="YES" v-model="ts.answer" v-on:change="switchChildrenSide(ts, 'yes')" :disabled="!allowEdit" />YES
									</label>

									<label v-if="(ts.questionType===enumQuestionTypeProp.Conditional.toString() && ts.answer==='NO')" :disabled="!allowEdit" class="btn btn-warning active" style="background-color:purple;">
										<input type="radio" id="NO" value="NO" v-model="ts.answer" v-on:change="switchChildrenSide(ts, 'no')" :disabled="!allowEdit" />NO
									</label>

									<label v-else-if="(ts.questionType===enumQuestionTypeProp.Conditional.toString())" :disabled="!allowEdit" class="btn btn-default">
										<input type="radio" id="NO" value="NO" v-model="ts.answer" v-on:change="switchChildrenSide(ts, 'no')" :disabled="!allowEdit" />NO
									</label>

								</div>

								<!--GPS QuestionType-->
								<div v-else-if="(ts.questionType ===enumQuestionTypeProp.GPS.toString())" :disabled="!allowEdit" class="btn-group-xs hideRadio">
									<label v-if="(ts.answer==='Uploaded')" :disabled="!allowEdit" class="btn btn-success active">
										<input type="radio" id="Uploaded" value="Uploaded" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!allowEdit" />Uploaded
									</label>
									<label v-else :disabled="!allowEdit" class="btn btn-default">
										<input type="radio" id="Uploaded" value="Uploaded" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!allowEdit" />Uploaded
									</label>

									<label v-if="(ts.answer==='NA')" :disabled="!allowEdit" class="btn btn-primary active">
										<input type="radio" id="NA" value="NA" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!allowEdit" />NA
									</label>

									<label v-else :disabled="!allowEdit" class="btn btn-default">
										<input type="radio" id="NA" value="NA" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!allowEdit" />NA
									</label>
								</div>
								<!--Dropdown validation needs work onto getting the select list operational with the selected item to answer and preselect the selected answer based on ts.answer-->
								<div v-else-if="(ts.questionType === enumQuestionTypeProp.DropdownValidation.toString())" :disabled="!allowEdit" class="list-group-item">
									<select id="DropDownValidation" v-on:change="changeAnswer(ts)" :disabled="!allowEdit" v-model="ts.answer">
										<option v-for="(name) in defaultAnswersToArray(ts.defaultAnswers)"
												:value="name">
											{{name}}
										</option>
									</select>
								</div>
							</div>
						</div>

						<!--FreeForm ... empty text box bound to answer!-->
						<div v-if="(ts.questionType === enumQuestionTypeProp.FreeForm.toString())" :disabled="!allowEdit" class="no-pull-right col-xs-12">
							<input class="free-form-input" v-bind:style="{'border' : (ts.answer !== '' && ts.answer !== null ) ? 'solid 2px green' : 'solid 2px red'}" type="text" v-on:change="changeAnswer(ts)" id="FreeForm" v-model.lazy="ts.answer" :disabled="!allowEdit" />
						</div>

						<!--tool / more info common to all types of questions-->
						<!-- Tab tool bar per validation -->
						<div v-if="(userSettings.showValidationToolBar)" class="bg-info question-toolbar">
							<ul class="nav nav-tabs">
								<!--v-bind:style="{ 'margin-left': (ts.level * 50) + 'px' }"-->
								<!-- Viewing Buttons -->
								<li :id="'test-step-tab'+ts.id">
									<a v-on:click="testStepFunc(ts)" :href="'#test-step'+ts.id" title="Test Step" data-toggle="tab"><i class="fas fa-lg fa-eye cursor-pointer" aria-hidden="true"></i></a>
								</li>

								<li :id="'clause-tab'+ts.id" v-if="(ts.questionType != enumQuestionTypeProp.Conditional.toString() &&
										ts.questionType != enumQuestionTypeProp.TestStepQuestion.toString())" class="bg-info">
									<a :href="'#clause'+ts.id" title="Clauses" data-toggle="tab" v-on:click="clauseFunc(ts)"><i class="fa fa-lg fa-balance-scale cursor-pointer" aria-hidden="true"></i></a>
								</li>

								<li v-if="((ts.questionType === enumQuestionTypeProp.Conditional.toString() ||
									 ts.questionType===enumQuestionTypeProp.TestStepQuestion.toString()))">
									<a :href="'#' + ts.id" v-on:click="clickShowConditionalBranch(ts)" title="View Branches From Current Test Script"><i class="fa fa-lg fa-share-alt-square cursor-pointer" aria-hidden="true"></i></a>
								</li>
								<li><div class="vertical-line"></div></li>
								<!-- Action buttons those that user would respond with or does something besides just a view -->

							</ul>
						</div>
						<div class="row question-toolbar-tab-content-area">
							<!-- Content of tabs -->
							<div class="tab-content">
								<!--<div class="tab-pane" :id="'close'+ts.id">
								</div>-->

								<div class="tab-pane" :id="'clause'+ts.id">
									<h4>Relavent Clause Information</h4>
									<p>
										<div v-bind:class="{ hidden: ts.clauseInfo !== null }" class="text-center loading-spinner loading-spinner-mini">
											<i class="fa fa-spinner fa-pulse fa-2x"></i>
										</div>
										<table v-show="ts.clauseInfo !== null" class="question-content-table">
											<tr>
												<th>Section</th>
												<th>Section Name</th>

												<th>Text</th>
												<th>Jurisdictions</th>
												<th>Document Name</th>
												<th>Document Version</th>
												<th>Notes</th>
												<th>Normalized ID</th>
											</tr>
											<tr v-for="(cl, key) in ts.clauseInfo" :key="ts.id+key+'_'+cl.clausenormalizedID+'_'+cl.documentName">
												<td>{{ cl.section}}</td>
												<td>{{ cl.sectionName}}</td>

												<td>{{ cl.memo}}</td>
												<td>{{ cl.jurisList}}</td>
												<td>{{ cl.documentName}}</td>
												<td>{{ cl.documentVersion}}</td>
												<td>{{ cl.notes}}</td>
												<td>{{ cl.clausenormalizedID }}</td>
											</tr>
										</table>
									</p>
								</div>
								<div class="tab-pane" :id="'test-step'+ts.id">
									<h4>Test Step Information</h4>
									<p>
										<div v-bind:class="{ hidden: ts.testStepInfo !== null }" class="text-center loading-spinner loading-spinner-mini">
											<i class="fa fa-spinner fa-pulse fa-2x"></i>
										</div>
										<table v-show="ts.testStepInfo !== null" class="question-content-table">
											<tr>
												<th class="historyWidth">TestStep Id</th>
												<th class="historyWidth-40">Text</th>
											</tr>
											<tr v-for="test in ts.testStepInfo" :key="test.id + '_' + test.normalizedId">
												<td>{{ test.normalizedId }}</td>
												<td>{{ test.memo }}</td>
											</tr>
										</table>
									</p>
								</div>

							</div>
						</div>
					</div>
				<!--</td>
			</tr>
		</table>-->
		<!--Location to set popups-->
		<ConditionalBranch :selectedTestScript="selectedAnswer"></ConditionalBranch>
	</div>
</template>

<script>

	import { createNamespacedHelpers } from 'vuex'
	import ConditionalBranch from '@/components/evolution/review/ConditionalBranch.vue'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			ConditionalBranch
		},

		props: {
			ts: {},
			enumQuestionTypeProp: {},
			allowEdit: Boolean,
		},

		data() {
			return {
				selectedAnswer: {},
				clauses: [],
				testScriptSelectedInfo: {},
				previousQuestionId: '',
				activeTestStepTab: false,
				activeClauseTab: false,
			}
		},
		mounted() {

		},
		computed: {
			...mapGetters([
				'instance',
				'review',
				'userSettings'
			])
		},
		methods: {
			switchChildrenSide: function (ts, yesOrNo) {
				for (var i = 0; i < ts.children.length; i++) {
					if (ts.children[i].evaluation.toLowerCase()  === 'yes' && yesOrNo === 'yes')
						ts.children[i].display = true;
					else if (ts.children[i].evaluation.toLowerCase()  === 'no' && yesOrNo === 'no') {
						ts.children[i].display = true;
					}
					else {
						ts.children[i].display = false;
					}
				}

				ts.activeChildrenSide = yesOrNo;
			},
			defaultAnswersToArray: function (defaultAnswers) {
				return defaultAnswers.split('||');
			},
			///<Summary> Sets local data for passing props to child component </Summary>
			closePreviousSelectedQuestionInfoTabs: function (questionId) {
				if (this.previousQuestionId != questionId) {
					$("#test-step-tab" + this.previousQuestionId).removeClass("active");
					$("#test-step" + this.previousQuestionId).removeClass("active");
					$("#clause-tab" + this.previousQuestionId).removeClass("active");
					$("#clause" + this.previousQuestionId).removeClass("active");
					this.previousQuestionId = questionId;
				}
			},

			clickShowConditionalBranch: function (selectedTestScript) {
				this.selectedAnswer = selectedTestScript;
				this.setShowConditionalBranchPopup(true);
			},
			clauseFunc: function (selectedTestScript) {
				var questionId = selectedTestScript.id;
				this.activeTestStepTab = this.activeHistoryTab = this.activeGPSTab = false;
				if (this.previousQuestionId !== questionId) { //new test script question clicked, close previous selected test script tabs
					this.closePreviousSelectedQuestionInfoTabs(questionId);
					this.activeClauseTab = true;

				} else if (questionId === this.previousQuestionId && this.activeClauseTab) { //close tab if clicked again
					this.activeClauseTab = false;
					//This is to take care of the tab rendering process. This works stepping through, but the bootstrap tabs overwrites it.
					setTimeout(function () {
						$("#clause" + questionId).removeClass("active");
						$("#clause-tab" + questionId).removeClass("active");
					}, 100);
				} else if (this.previousQuestionId === questionId && !this.activeClauseTab) { //open tab if clicked again and not already opened.
					this.activeClauseTab = true;
				}

				//Load up clause info for test script question only if null and length is 0.
				//Need to include all the active clause information for the selected item.
			},


			checkIfModifiedTestScript(selectedTestScript) {

				var blankAndNull = false;
				if ((selectedTestScript.notes === '' || selectedTestScript.notes === null) && (selectedTestScript.originalNotes === null || selectedTestScript.originalNotes === "")) {
					blankAndNull = true;
				}
				if (selectedTestScript.answer === "FAIL" && selectedTestScript.originalAnswer !== "FAIL") {
					alert("At this time, please use Evolution Desktop Application to fail validations. Linking Jira is not supported yet in the online review.");
					var previousAns = "";
					if (selectedTestScript.hasOwnProperty("previousModifiedAnswer")) {
						//We have changed this answer before
						previousAns = selectedTestScript.previousModifiedAnswer;
					} else {
						previousAns = selectedTestScript.originalAnswer;
						//we haven't changed this answer before. so use the original answer in the test script
					}
					selectedTestScript.answer = previousAns;
				}
				else if (selectedTestScript.originalAnswer != selectedTestScript.answer ||
					(selectedTestScript.notes != selectedTestScript.originalNotes && !blankAndNull)) {
					selectedTestScript.modified = true;
					selectedTestScript.answeredTime = (new Date()).toUTCString();
				} else {
					selectedTestScript.modified = false;
					selectedTestScript.answeredTime = null;
				}
				this.updateCounts(selectedTestScript);
				selectedTestScript.previousModifiedAnswer = selectedTestScript.answer;
			},
			///<Summary>
			/// Toggles the children according to the answer and Visible properties of the parent
			/// Will call recursively down the tree for any conditionals will get the children and set the Visible
			/// according to what the parent is.
			///</Summary>
			///<input name='parent'> </input>
			///<input name='children'> </input>
			///<returns></returns>
			convertChildrenConditionalSide: function (parent) {
				var children = this.review.testScript.testScript.filter(tsObj => tsObj.source === parent.id);
				if (children === null || children.length === 0) {
					return;
				}

				for (var i = 0; i < children.length; i++) {
					if (parent.answer === null) { // Take care of children to not display till parent has an answer.
						children[i].visible = false;
					} else if (parent.answer === children[i].evaluation && parent.visible === true) {
						children[i].visible = true;
					} else {
						children[i].visible = false;
					}
					if (children[i].questionType === this.enumQuestionTypeProp.Conditional.toString()) {

						this.updateTotalsBeforeConditionalTree(children[i]);
						this.convertChildrenConditionalSide(children[i]);
						this.updateTotalsAfterConditionalTree(children[i]);
					}
				}
			},
			testStepFunc: function (selectedTestScript) {
				var questionId = selectedTestScript.id
				this.activeClauseTab = this.activeHistoryTab = this.activeGPSTab = false;

				if (this.previousQuestionId !== questionId) {
					this.closePreviousSelectedQuestionInfoTabs(questionId);
					this.activeTestStepTab = true;
				} else if (questionId === this.previousQuestionId && this.activeTestStepTab) {
					this.activeTestStepTab = false;
					setTimeout(function () {
						$("#test-step" + questionId).removeClass("active");
						$("#test-step-tab" + questionId).removeClass("active");
					}, 100);
				} else if (this.previousQuestionId === questionId && !this.activeTestStepTab) {
					this.activeTestStepTab = true;
				}

				if (selectedTestScript.testStepInfo === null || selectedTestScript.testStepInfo.length === 0) {
					this.$http.post('Evolution/Review/LoadTestStep', {
						componentGroupId: this.instance.selectedComponentGroupId,
						question: questionId
					})
						.then(response => {
							selectedTestScript.testStepInfo = response.data;
							this.activeTestStepTab = true;
						})
				}
			},
			...mapActions([
				'setShowConditionalBranchPopup',
			])
		}
	}
</script>

<style scoped>
	.question-new-icon {
		left: -23px;
		position: relative;
		font-size: 8px;
		top: -7px;
	}

	.no-pull-right {
		float: none !important;
	}

	.free-form-input {
		width: 95%;
		margin-left: 50px;
	}
	/*tab navigation for each test script*/
	.nav > li > a {
		padding: 1px 1px;
	}

	.hideRadio input[type="radio"] {
		visibility: hidden;
		width: 1px;
		height: 1px;
	}

	.testScriptContainer {
		border: 1px solid black;
	}

		.testScriptContainer .row {
			margin-left: 0px;
			margin-right: 2px;
		}

	.testScriptText {
		flex: 1;
		padding: 3px;
		font-size: 14px;
	}

	.padding3 {
		padding: 3px;
	}

	.normalized-id {
		padding: 3px;
		font-weight: bold;
		font-size: 14px;
		width: 65px;
	}

	.loading-spinner {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.loading-spinner-mini {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}

	.tab-content td, th {
		border: 1px solid black;
	}

	.tab-content {
		padding: 0px 15px;
	}

	td, th {
		white-space: normal; /* Only needed when it's set differntly somewhere else */
		word-wrap: break-word;
	}

	.question-content-table {
		background-color: floralwhite;
	}

		.question-content-table th {
			background-color: navajowhite;
			font-size: small;
			text-align: center;
		}

	.testScriptPanel {
		margin-right: 16px;
	}

	.questions-heading {
		padding-bottom: 10px;
	}

	.text-center {
		text-align: center
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.historyWidth {
		width: 10%;
	}

	.historyWidth-15 {
		width: 15%;
	}

	.historyWidth-40 {
		width: 40%;
	}

	.note-display {
		background-color: whitesmoke;
		margin: 0px 0px 0px 10px;
		width: 98%;
	}

	.question-toolbar {
		margin: 0px 2px 0px 0px;
	}

	.toolbar-spacer {
		width: 50px;
	}

	.vertical-line {
		border-left: 2px solid gray;
		height: 21px;
	}

	.question-toolbar-tab-content-area {
		background-color: whitesmoke;
	}
</style>
