﻿<template>
	<div>
		<!--<Questions ref="questions_instance" v-bind:editReview="editReview"></Questions>-->
		<DraggableTree class="test-script-question-tree" :data="data" draggable @drop="ondrop" :ondragstart="CanDrag">

			<div slot-scope="slot">
				<template v-if="!slot.data.isDragPlaceHolder">
					<b v-if="slot.data != null && slot.data.children != null && slot.data.children.length != null
					   && slot.data.children.length" @click="slot.store.toggleOpen(slot.data)">
						{{slot.data.open ? '-' : '+'}} &nbsp;
					</b>
					<div v-if="slot.data.display===true && slot.data.visible === true">
						<TCMQuestions :ts="slot.data" :enumQuestionTypeProp="enumLocalQuestionType" :allowEdit="editReview"></TCMQuestions>
					</div>
				</template>
			</div>
		</DraggableTree>
		<div v-if="draggableToC ===true">
			<button type="button" class="btn" @click="ToDragOrNotToDragSave(true)">Save</button>
		</div>
		<div v-else>
			<button type="button" class="btn" @click="ToDragOrNotToDragSave(false)">Sort</button>
		</div>

		<div><button type="button" class="btn" @click="returnToOriginalToC">Reset</button></div>

		<div><button type="button" class="btn" @click="switchEditMode">Edit</button></div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import { DraggableTree } from 'vue-draggable-nested-tree'
	//import Questions from '@/components/evolution/review/Questions.vue'
	import TCMQuestions from '@/components/evolution/testcasemanager/testscript/TCMQuestions.vue'


	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			DraggableTree,
			//Questions,
			TCMQuestions
		},
		mounted() {
			//this.LoadTestScript();
			this.enumLocalQuestionType = enumQuestionType;
			this.setHiddenQuestionsPanel(false);
		},
		computed: {
			...mapGetters([
				'review',
				'TCMtestScriptQuestions'
			])
		},
		data() {
			return {
				data: [],
				modifiedData: [], //Should be in the structure of the TableOfContentModel and only properties that change.
				draggableToC: false,
				editReview: true
			}
		},
		methods: {
			switchEditMode: function () {
				this.editReview = !this.editReview;
			},
			...mapActions([
				'setHiddenQuestionsPanel'
			]),
			LoadTestCaseTestScript: function () {
				var self = this;
				this.data = [];
				self.data = [];
				//This should load the test Scripts based on the selected table of contents. Table of contents should be able to be filtered or show only TESTCases from a search.
				//Might need to show a row that has groupings and controls for editing and modifying.
				//Currently 5/29/2019, just looking to sort.
				var listOfGuids = this.TCMtestScriptQuestions.testCaseSelectedIds.slice(0);
				console.log(listOfGuids);
				console.log(JSON.stringify(listOfGuids));
				//listOfGuids.splice(0, 1); //remove the blank Guid list id. So it isn't null.
				this.$http.post('Evolution/tcmtestscript/LoadTestScriptQuestions', {
					rootTestCaseIds: listOfGuids
				})
					.then(response => {


						const result = response.data;
						//var childrenRoots = self.makeChildrenTree(response.data.children);
						//self.data = response.data;
						self.data.push(self.makeChildrenTree(response.data));
						//self.data.push({
						//	children: JSON.stringify(response.data.children),//childrenRoots.children,
						//	visible: true,
						//	evaluation: null,
						//	display: true,
						//	id: '',
						//	jiraKeylist: null,
						//	level: 0,
						//	modified: false,
						//	orderId: 0, //parseInt(response.data[0].orderId.replace(/\//g, '')),
						//	name: 'Root',
						//	normalizedId: '0',
						//	parentId: null,
						//	questionType: -1,
						//	test: 'test',
						//	testStepInfo: []
						//})
						self.data.push({
							children: [],
							visible: true,
							evaluation: null,
							display: true,
							id: '3166e71b-7ROB-4204-9d42-a43c011caa40',
							jiraKeyList: null,
							level: 0,
							modified: false,
							orderId: 0,
							name: 'Some information',
							normalizedId: '1.443 Test',
							parentId: null,
							questionType: '18',
							text: "This is an example1 text.",
							testStepInfo: []
						});
						self.data.push({
							children: [],
							visible: true,
							evaluation: null,
							display: true,
							id: '4476DFD-7ROB-4204-9d42-a43c011caa40',
							jiraKeyList: null,
							level: 0,
							modified: false,
							orderId: 1,
							name: 'Some information',
							normalizedId: '1.445 Test',
							parentId: null,
							questionType: '18',
							text: "This is an example2 validation, no children text.",
							testStepInfo: []
						});
						self.data.push({
							children: [{
								children: [],
								visible: true,
								evaluation: 'yes',
								display: true,
								id: 'YES-CHILD-7ROB-4204-9d42-a43c011caa40',
								jiraKeyList: null,
								level: 0,
								modified: false,
								orderId: 0,
								name: 'Some information',
								normalizedId: '1.445 Test',
								parentId: '675476DFD-7ROB-4204-9d42-a43c011caa40',
								questionType: '18',
								text: "This is an example2 validation text on the YES side.",
								testStepInfo: []
							},
							{
								children: [],
								visible: true,
								evaluation: 'no',
								display: false,
								id: 'NO-CHILD-7ROB-4204-9d42-a43c011caa40',
								jiraKeyList: null,
								level: 0,
								modified: false,
								orderId: 0,
								name: 'Some information',
								normalizedId: '1.445 Test',
								parentId: '675476DFD-7ROB-4204-9d42-a43c011caa40',
								questionType: '18',
								text: "This is an example2 validation text on the NO side.",
								testStepInfo: []
							}],
							visible: true,
							evaluation: 'yes',
							display: true,
							id: '675476DFD-7ROB-4204-9d42-a43c011caa40',
							jiraKeyList: null,
							level: 0,
							modified: false,
							orderId: 2,
							name: 'Some information',
							normalizedId: '1.445 Test',
							parentId: null,
							questionType: '17',
							text: "This is an example2 conditional text.",
							testStepInfo: []
						});
						self.SetDroppableStateForEachQuestion(self.data);
						self.SetTrackingData(self.data);
						
					})

			},
			ConvertBackEndDataToUITree: function (backEndNode) {

				//Just convert the backEndNode to tree node;
				//foreach yeschild and noChild, convertBackEndDataToUITree and put into object
			},
			makeChildrenTree: function (currentNode) {
				var currentChild = { children: [] };

				if (currentNode.children !== null) {
					for (var i = 0; i < currentNode.children.length; i++) {
						currentChild.children.push(this.makeChildrenTree(currentNode.children[i]));
					}
				}
				currentChild.visible = currentNode.evaluationSide ==='YES' || currentNode.evaluationSide === null ? true : false;
				currentChild.evaluation = currentNode.evaluationSide;
				currentChild.display = true;
				currentChild.id = currentNode.id;
				currentChild.jiraKeyList = null;
				currentChild.level = 0;
				currentChild.modified = false;
				currentChild.orderId = currentNode.orderId;//parseInt(currentNode.orderId.replace(/\//g,''));
				currentChild.name = currentNode.name;
				currentChild.normalizedId = currentNode.normalizedId;
				currentChild.parentId = currentNode.parentId;
				currentChild.questionType = currentNode.type;
				currentChild.text = currentNode.text;
				currentChild.testStepInfo = []

				return currentChild;


			},


			SetDroppableStateForEachQuestion: function (dataInstance) {
				for (var i = 0; i < dataInstance.length; i++) {
					if (dataInstance[i].questionType === this.enumLocalQuestionType.Conditional.toString()
						|| dataInstance[i].questionType === this.enumLocalQuestionType.TestObjective.toString()) {
						dataInstance[i].droppable = true;
					} else {
						dataInstance[i].droppable = false;
					}
					if (typeof dataInstance[i].children !== 'undefined' &&
						dataInstance[i].children !== null && dataInstance[i].children.length > 0) {
						this.SetDroppableStateForEachQuestion(dataInstance[i].children);
					}
				}
			},
			returnToOriginalToC: function () {
				this.LoadTestCaseTestScript();
				this.modifiedData = [];
			},
			ToDragOrNotToDragSave: function (draggable) {

				this.draggableToC = !draggable;

				//we would like to save
				if (draggable) {
					var self = this;
					if (this.modifiedData.length > 0) {
						this.$http.post('Evolution/tcmtestscript/SaveTestScriptTableOfContents', {
							modifiedToC_String: "use the list",
							marshaledToCModification: this.modifiedData
						})
							.then(response => {
								if (response.data === true) {
									self.returnToOriginalToC();
								}

							})
					}
				}
			},
			CanDrag: function (node, draggableHelperInfo) {
				return this.draggableToC;
			},
			myFunction: function (nodeId) {
				console.log("Hello world, clicked on this node" + nodeId);
				console.log(this.data, ["id", "children", "orderId", "parentId"]);
			},
			cleanTreeStructure: function (treeData, currentIndex, childrenLevel) {
				//Remove children properties that are null.
				for (var i = 0; i < treeData.length; i++) {
					if (treeData[i].children === null) {
						delete treeData[i].children;
					} else {
						treeData[i].children = this.cleanTreeStructure(treeData[i].children, 0, 0);
					}
				}
				return treeData;
			},
			SetTrackingData: function (treeData) {
				for (var i = 0; i < treeData.length; i++) {
					if (typeof treeData[i].parentQuestionId === 'undefined') {
						treeData[i].parentQuestionId = null;
					}
					if (typeof treeData[i].orderId === 'undefined') {
						treeData[i].orderId = null;
					}
					treeData[i].originalParentId = treeData[i].parentId;
					treeData[i].originalOrderId = treeData[i].orderId;
					treeData[i].parentModified = false; //Set to true if children have been modified from original, how do we keep track of this?

					if (treeData[i].children !== null && typeof treeData[i].children !== 'undefined')
						treeData[i].originalChildrenId = treeData[i].children.map(a => a.id);
					else
						treeData[i].originalChildrenId = null;


					if (treeData[i].children !== null && treeData[i].children.length > 0) {
						treeData[i].children = this.SetTrackingData(treeData[i].children);
					}
				}
				return treeData;
			},
			ondrag: function (node) {
				console.log('dragging');
			},
			ondrop: function (node) {
				//console.log('dropping' + JSON.stringify(node));
				console.log('dropping' + node.id + node.parentId);

				//Changing parent
				this.changingParent(node);
				//changing order
				if (node.parent !== null && node.parent.id !== null && node.parentId === node.parent.id) {
					//Wouldn't this be the else up above?
					//Determine if we are in a new order and change orderId to reflect the new order
					if (node.parent.children !== null && node.parent.children.length > 0) {
						var orderIdStart = 0;
						for (var i = 0; i < node.parent.children.length; i++) {
							if (node.parent.children[i].orderId !== orderIdStart) {
								node.parent.children[i].orderId = orderIdStart;
								//event triggering that a change has occurred for this parent's children is needed.
							}
							orderIdStart++;
						}
					}
				}

				if (node.parent.activeChildrenSide === 'yes') {
					node.evaluation = 'yes';
				}
				else {
					node.evaluation = 'no';
				}

			},
			//Gets the parent node.
			ModifyOrderIdOfChildren: function (parentNode) {
				if (parentNode.children !== null && parentNode.children.length > 0) {
					for (var i = 0; i < parentNode.children.length; i++) {
						var found = this.alreadyModifiedIndex(parentNode.children[i].id);
						if (parentNode.children[i].orderId !== i) {
							parentNode.children[i].orderId = i;
							if (parentNode.children[i].orderId !== parentNode.children[i].originalOrderId) {
								//We have changed from original, put into modified list the change
								if (found === -1)
									this.modifiedData.push({ id: parentNode.children[i].id, orderId: parentNode.children[i].orderId });
								else
									this.modifiedData[found].orderId = parentNode.children[i].orderId;
							} else {
								if (found > -1) {
									if (parentNode.children[i].orderId === parentNode.children[i].originalOrderId &&
										parentNode.children[i].parentId === parentNode.children[i].originalParentId) {
										this.modifiedData.splice(found, 1);
									} else {
										// change just the orderId in the modification list.
										this.modifiedData[found].orderId = parentNode.children[i].orderId;
									}
								}
							}
						} else if (found !== -1) { //we are the same orderId, check if we remove the information from the modifiedData list
							//are we the same as original?
							if (parentNode.children[i].orderId === parentNode.children[i].originalOrderId &&
								parentNode.children[i].parentId === parentNode.children[i].originalParentId) {
								if (typeof this.modifiedData[found].children !== 'undefined') {
									//we have had children ... see if they are the same or not.
									var removeItem = this.AreChildrenTheSameAsOriginal(parentNode.children[i]);
								}
								if (removeItem)
									this.modifiedData.splice(found, 1);
							} else {
								// change just the orderId in the modification list.
								this.modifiedData[found].orderId = parentNode.children[i].orderId;
							}
						}
					}
				}
			},
			AreChildrenTheSameAsOriginal: function (node) {

				if (node.isRoot) {
					return true;
				}
				else if (node.originalChildrenId !== null && node.originalChildrenId.length !== node.children.length) {
					return false;
				}
				for (var i = 0; i < node.originalChildrenId.length; i++) {
					var found = node.children.findIndex(function (n) {
						n.id == node.originalChildrenId[i];
					});
					if (found === -1) {
						return false;
					}
				}
				return true;
			},
			//returns index or a -1 if the node hasn't been modified yet.
			alreadyModifiedIndex: function (nodeid) {
				//is the modification already in
				return this.modifiedData.findIndex(function (tableOfContentNode) {
					return tableOfContentNode.id === nodeid;
				});
			},
			changingParent: function (node) {
				var old_parentId = node.parentId;
				var new_parentId = node.parent.id;

				if (typeof new_parentId === 'undefined') {
					//probably at the root parent
					new_parentId = null;
				}

				this.ModifyOrderIdOfChildren(node.parent);
				//Are we in the list to be modified?
				var found = this.alreadyModifiedIndex(new_parentId);
				node.parentId = new_parentId;

				//Handle parent not found in the modification list.
				if (found === -1) {
					if (new_parentId === node.originalParentId) {
						if (new_parentId !== old_parentId) {

							//changing the parentId updating that in the modifiedData.
							var parentRemovalIndex = this.alreadyModifiedIndex(node.id);
							if (parentRemovalIndex !== -1 && node.orderId === node.originalOrderId) {
								this.modifiedData.splice(parentRemovalIndex, 1);
							} else {
								this.modifiedData[parentRemovalIndex].parentId = new_parentId;
							}

							//Changing the parent's children


						}
					}
					else {
						//Need to change the children assignment of the node.parent.children, circular reference galore.
						var modifiedChildren = this.deCircularReferenceChildren(node.parent.children);
						//this.modifiedData.push({ id: node.parentId, children: node.parent.children });
						this.modifiedData.push({ id: node.parentId, children: modifiedChildren });
						//changing parents, indicate that the old_parent has been modified.
					}
				} else { //parent modified already for some reason. Determine if removing the entire thing or just modify.
					if (typeof node.parent.children !== 'undefined') {
						if (this.AreChildrenTheSameAsOriginal(node.parent) && node.parent.orderId == node.parent.originalOrderId &&
							node.parent.parentId === node.parent.originalParentId) {
							this.modifiedData.splice(found, 1);
						} else {
							if (this.AreChildrenTheSameAsOriginal(node.parent)) {
								delete this.modifiedData[found].children;
							} else {
								this.modifiedData[found].children = node.parent.children;
							}
						}
					}





				}

				//Modify the moved child entity in relation to parent.
				var movedChildIndex = this.alreadyModifiedIndex(node.id);

				//If the node's parent Id is the same as original and order id is the same as original, remove from the modified data.
				if (movedChildIndex !== -1 && new_parentId === node.originalParentId && node.orderId === node.originalOrderId) {
					this.modifiedData.splice(movedChildIndex, 1);

				} else if (new_parentId !== node.originalParentId) {
					if (movedChildIndex !== -1) {
						this.modifiedData[movedChildIndex].parentId = new_parentId;
					} else {
						this.modifiedData.push({ id: node.id, parentId: new_parentId });
					}
				}

				if (new_parentId === node.originalParentId && node.originalOrderId === node.orderId) {
					//remove entity from list
					this.modifiedData.splice(found, 1);

				}
				this.modifyChildrenOrderOfParentThatLostChild(old_parentId);
				//else {
				//	this.modifiedData[found].parentId = node.originalParentId;
				//}
			},
			deCircularReferenceChildren: function (childrenList) {
				var newChildrenList = [];
				for (var i = 0; i < childrenList.length; i++) {
					var innerChildrenList = [];
					if (typeof childrenList[i].children !== 'undefined' && childrenList[i].children !== null) {
						innerChildrenList.push(this.deCircularReferenceChildren(childrenList[i].children));
					}
					newChildrenList.push({ id: childrenList[i].id, children: innerChildrenList, orderId: childrenList[i].orderId, parentId: childrenList[i].parentId });
				}
				return newChildrenList;

			},
			modifyChildrenOrderOfParentThatLostChild: function (nodeId) {
				//Will this need to look through the entire tree? Yikes.
				var nodeIndexInData = this.data.findIndex(function (a) {
					return a.id === nodeId;
				});
				if (nodeIndexInData === -1) {
					console.log("We have a lost child that doesn't know where it came from. Poor child :( ");
				}
				if (nodeIndexInData === -1 && nodeId === null) {
					this.ModifyOrderIdOfChildren(this.data[0].parent);
				} else if (nodeIndexInData !== -1) {

					this.ModifyOrderIdOfChildren(this.data[nodeIndexInData].parent);
				}


			},
			changeOrderId: function (node) {

			},
			addParent: function (node) {

			},


		},
		watch: {
			'TCMtestScriptQuestions.testCaseSelectedIds': function () {
				console.log('TCMtestScriptQuestions have changed');
				this.LoadTestCaseTestScript();
			},
		}
	}
</script>

<style>
	.test-script-question-tree .tree-node-inner {
		padding: 0px;
		border: 1px solid #ccc;
		cursor: pointer;
	}

	.test-script-question-tree .tree-node-inner-back {
		background-color: lightcyan;
		margin-bottom: 0px !important;
	}

		.test-script-question-tree .tree-node-inner-back:hover {
			background: #ddd;
		}
</style>
