﻿<template>
	<div>

		<DraggableTree class="TocDraggable" name="ToCDraggable" :data="data" draggable @drop="ondrop" :ondragstart="CanDrag" :ondragend="CanDrop">
			<!--ref:="tree1" v-on:change="tree1Change">  :draggable="draggableToC" -->
			<div slot-scope="slot">
				<template v-if="!slot.data.isDragPlaceHolder">
					<b v-if="slot.data != null && slot.data.children != null && slot.data.children.length != null
					   && slot.data.children.length" @click="slot.store.toggleOpen(slot.data)">
						{{slot.data.open ? '-' : '+'}} &nbsp;
					</b>
					<span class="small">
						{{slot.data.name}} &nbsp;{{slot.data.originalParentId}} &nbsp; {{slot.data.parentId}} &nbsp;

						<i>{{slot.data.id}}</i>
						<i @click="TestCaseSelected(slot.data.questionId)"><i class="fa fa-plus fa-1x"></i></i>
						<i v-if="slot.data.originalParentId !== slot.data.parentId" class="fa fa-clock fa-1x" />
						<i v-if="slot.data.originalOrderId !== slot.data.orderId" class="fa fa-gavel fa-1x" />
						<i v-if="slot.data.questionId === null" class="far fa-question-circle" />
						<i @click="AddNewTableOfContentNode(slot.data.questionId)"> <i class="far fa-plus-square"></i></i>
						<i @click="ChangeName(slot.data.questionId)"><i class="far fa-plus-rectangle"></i></i>
						{{slot.data.orderId}}
					</span>


				</template>
			</div>
		</DraggableTree>
		<div></div>
		<div v-if="draggableToC ===true">
			<button type="button" class="btn" @click="ToDragOrNotToDragSave(true)">Save</button>
		</div>
		<div v-else>
			<button type="button" class="btn" @click="ToDragOrNotToDragSave(false)">Sort</button>
		</div>
			
		<div><button type="button" class="btn" @click="returnToOriginalToC">Reset</button></div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import { DraggableTree } from 'vue-draggable-nested-tree'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			DraggableTree
		},
		mounted() {
			this.LoadTestCaseTestScript();
		},
		computed: {
			...mapGetters([
				'TCMtestScriptQuestions'
			])
		},
		data() {
			return {
				data: [],
				modifiedData: [], //Should be in the structure of the TableOfContentModel and only properties that change.
				draggableToC: false
			}
		},
		methods: {
			AddNewTableOfContentNode: function (nodeId) {
				//Insert into data structure this node.
				//Allow for editing some items, text.
				//Adjust nodes in this parent to update.
			},
			...mapActions([
				'pushTCMTestScriptQuestions',
				'removeTCMTestScriptQuestions'
			]),
			LoadTestCaseTestScript: function () {
				var self = this;
				//Test Data:
				//this.data = [
				//	{ text: 'testMe', questionId: '6822E3F9-89B5-4459-AC17-A2D6012D2822', visibile: true, id: '123414141', name:'testMeName', parentId:'23422123Test', orderId: 0}
				//];
				//Real Call:
				this.$http.post('Evolution/tcmtestscript/LoadTableOfContentsForScripts', {
				})
					.then(response => {
						var treeData = self.cleanTreeStructure(response.data);
						treeData = self.SetTrackingData(treeData);
						self.data = treeData;//.slice(treeData.length-2, treeData.length); //The Slice portion of THIS LINE, ONLY FOR TESTING PURPOSES
					})
			},
			returnToOriginalToC: function () {
				this.LoadTestCaseTestScript();
				this.modifiedData = [];
			},
			ToDragOrNotToDragSave: function (draggable) {
				this.draggableToC = !draggable;
				//we would like to save
				if(draggable){
					var self = this;
					if(this.modifiedData.length > 0) {
						this.$http.post('Evolution/tcmtestscript/SaveTestScriptTableOfContents', {
						modifiedToC_String: "use the list",
						marshaledToCModification: this.modifiedData
					})
						.then(response => {
							if (response.data === true) {
								console.log("saved the table of contents modification data");
								self.returnToOriginalToC(); //update the table of contents.
							}
							else {
								console.log("Hmmm... something went wrong");
							}
						})
					}
				}
			},
			//Used to toggle the drag and drop ability.
			CanDrag: function (node, draggableHelperInfo) {
				return this.draggableToC;
			},
			CanDrop: function (node, draggableHelperInfo) {
				if (node.parent._id === node._vm.store.dplh.parent._id) {
					return true;
				}
				return false
			},

			//Sets store property that other components can watch for changes.
			TestCaseSelected: function (nodeId) {
				this.pushTCMTestScriptQuestions(nodeId);
			},
			cleanTreeStructure: function (treeData) {
				//Remove children properties that are null.
				for (var i = 0; i < treeData.length; i++) {
					if (treeData[i].children === null) {
						delete treeData[i].children;
					} else {
						treeData[i].children = this.cleanTreeStructure(treeData[i].children);
					}
				}
				return treeData;
			},
			SetTrackingData: function (treeData) {
				for (var i = 0; i < treeData.length; i++) {
					if (typeof treeData[i].parentId === 'undefined') {
						treeData[i].parentId = null;
					}
					if (typeof treeData[i].orderId === 'undefined') {
						treeData[i].orderId = null;
					}
					treeData[i].originalParentId = treeData[i].parentId;
					treeData[i].originalOrderId = treeData[i].orderId;
					treeData[i].parentModified = false; //Set to true if children have been modified from original, how do we keep track of this?

					if (treeData[i].children !== null && typeof treeData[i].children !== 'undefined')
						treeData[i].originalChildrenId = treeData[i].children.map(a => a.id);
					else
						treeData[i].originalChildrenId = null;


					if (treeData[i].children !== null && treeData[i].children.length > 0) {
						treeData[i].children = this.SetTrackingData(treeData[i].children);
					}
				}
				return treeData;
			},
			ondrop: function (node) {
				//Changing parent
				console.log('drop');
				this.changingParent(node);
				//changing order
				if (node.parent !== null && node.parent.id !== null && node.parentId === node.parent.id) {
					//Determine if we are in a new order and change orderId to reflect the new order
					if (node.parent.children !== null && node.parent.children.length > 0) {
						var orderIdStart = 0;
						for (var i = 0; i < node.parent.children.length; i++) {
							if (node.parent.children[i].orderId !== orderIdStart) {
								node.parent.children[i].orderId = orderIdStart;
								//event triggering that a change has occurred for this parent's children is needed.
							}
							orderIdStart++;
						}
					}
				}

			},
			//Gets the parent node.
			ModifyOrderIdOfChildren: function (parentNode) {
				if (parentNode.children !== null && parentNode.children.length > 0) {
					for (var i = 0; i < parentNode.children.length; i++) {
						var found = this.alreadyModifiedIndex(parentNode.children[i].id);
						if (parentNode.children[i].orderId !== i) {
							parentNode.children[i].orderId = i;
							if (parentNode.children[i].orderId !== parentNode.children[i].originalOrderId) {
								//We have changed from original, put into modified list the change
								if (found === -1)
									this.modifiedData.push({ id: parentNode.children[i].id, orderId: parentNode.children[i].orderId });
								else
									this.modifiedData[found].orderId = parentNode.children[i].orderId;
							} else {
								if (found > -1) {
									if (parentNode.children[i].orderId === parentNode.children[i].originalOrderId &&
										parentNode.children[i].parentId === parentNode.children[i].originalParentId) {
										this.modifiedData.splice(found, 1);
									} else {
										// change just the orderId in the modification list.
										this.modifiedData[found].orderId = parentNode.children[i].orderId;
									}
								}
							}
						} else if(found !== -1) { //we are the same orderId, check if we remove the information from the modifiedData list
							//are we the same as original?
							if (parentNode.children[i].orderId === parentNode.children[i].originalOrderId &&
								parentNode.children[i].parentId === parentNode.children[i].originalParentId) {
								if (typeof this.modifiedData[found].children !== 'undefined') {
									//we have had children ... see if they are the same or not.
									var removeItem = this.AreChildrenTheSameAsOriginal(parentNode.children[i]);
								}
								if(removeItem)
									this.modifiedData.splice(found, 1);
							} else {
								// change just the orderId in the modification list.
								this.modifiedData[found].orderId = parentNode.children[i].orderId;
							}
						}
					}
				}
			},
			AreChildrenTheSameAsOriginal: function (node) {
				if (node.originalChildrenId.length != node.children.length) {
					return false;
				}
				for (var i = 0; i < node.originalChildrenId.length; i++) {
					var found = node.children.findIndex(function (n) {
						n.id == node.originalChildrenId[i];
					});
					if (found === -1) {
						return false;
					}
				}
				return true;
			},
			//returns index or a -1 if the node hasn't been modified yet.
			alreadyModifiedIndex: function (nodeid) {
				//is the modification already in
				return this.modifiedData.findIndex(function (tableOfContentNode) {
					return tableOfContentNode.id === nodeid;
				});
			},
			changingParent: function (node) {
				var old_parentId = node.parentId;
				var new_parentId = node.parent.id;

				if (typeof new_parentId === 'undefined') {
					//probably at the root parent
					new_parentId = null;
				}

				this.ModifyOrderIdOfChildren(node.parent);
				//Are we in the list to be modified?
				var found = this.alreadyModifiedIndex(new_parentId);
				node.parentId = new_parentId;

				//Handle parent not found in the modification list.
				if (found === -1) {
					if (new_parentId === node.originalParentId) {
						if (new_parentId !== old_parentId) {

							//changing the parentId updating that in the modifiedData.
							var parentRemovalIndex = this.alreadyModifiedIndex(node.id);
							if (parentRemovalIndex !== -1 && node.orderId === node.originalOrderId) {
								this.modifiedData.splice(parentRemovalIndex, 1);
							} else {
								this.modifiedData[parentRemovalIndex].parentId = new_parentId;
							}
						}
					}
					else {
						//Need to change the children assignment of the node.parent.children, circular reference galore.
						var modifiedChildren = this.deCircularReferenceChildren(node.parent.children);
						//this.modifiedData.push({ id: node.parentId, children: node.parent.children });
						this.modifiedData.push({ id: node.parentId, children: modifiedChildren});
						//changing parents, indicate that the old_parent has been modified.
					}
				} else { //parent modified already for some reason. Determine if removing the entire thing or just modify.
					if (typeof node.parent.children !== 'undefined') {
						if (this.AreChildrenTheSameAsOriginal(node.parent) && node.parent.orderId == node.parent.originalOrderId &&
							node.parent.parentId === node.parent.originalParentId) {
							this.modifiedData.splice(found, 1);
						} else {
							if (this.AreChildrenTheSameAsOriginal(node.parent)) {
								delete this.modifiedData[found].children;
							} else {
								this.modifiedData[found].children = node.parent.children;
							}
						}
					}
				}

				//Modify the moved child entity in relation to parent.
				var movedChildIndex = this.alreadyModifiedIndex(node.id);

				//If the node's parent Id is the same as original and order id is the same as original, remove from the modified data.
				if (movedChildIndex !== -1 && new_parentId === node.originalParentId && node.orderId === node.originalOrderId) {
					this.modifiedData.splice(movedChildIndex, 1);

				} else if (new_parentId !== node.originalParentId) {
					if (movedChildIndex !== -1) {
						this.modifiedData[movedChildIndex].parentId = new_parentId;
					} else {
						this.modifiedData.push({ id: node.id, parentId: new_parentId });
					}
				}

				if (new_parentId === node.originalParentId && node.originalOrderId === node.orderId) {
					//remove entity from list
					this.modifiedData.splice(found, 1);

				}
				this.modifyChildrenOrderOfParentThatLostChild(old_parentId);
			},
			deCircularReferenceChildren: function (childrenList) {
				var newChildrenList = [];
				for(var i = 0; i < childrenList.length; i++) {
					var innerChildrenList = [];
					if(typeof childrenList[i].children !== 'undefined' && childrenList[i].children !== null) {
						innerChildrenList.push( this.deCircularReferenceChildren(childrenList[i].children));
					}
					newChildrenList.push({id: childrenList[i].id, children: innerChildrenList, orderId: childrenList[i].orderId, parentId: childrenList[i].parentId });
				}
				return newChildrenList;

			},
			modifyChildrenOrderOfParentThatLostChild: function (nodeId) {
				//Will this need to look through the entire tree? Yikes.
				var nodeIndexInData = this.data.findIndex(function (a) {
					return a.id === nodeId;
				});
				if (nodeIndexInData === -1) {
					console.log("We have a lost child that doesn't know where it came from. Poor child :( ");
				}
				if (nodeIndexInData === -1 && nodeId === null) {
					this.ModifyOrderIdOfChildren(this.data[0].parent);
				} else if (nodeIndexInData !== -1){

					this.ModifyOrderIdOfChildren(this.data[nodeIndexInData].parent);
				}
			}
		},
		watch: {

		}
	}
</script>

<style>
	.he-tree {
		border: 1px solid #ccc;
		padding: 20px;
		display: inline-block;
	}

	.tree-node {
	}

	.tree-node-inner {
		padding: 5px;
		border: 1px solid #ccc;
		cursor: pointer;
	}

	.draggable-placeholder {
	}

	.draggable-placeholder-inner {
		border: 1px dashed #0088F8;
		box-sizing: border-box;
		/*background: rgba(0, 136, 249, 0.09);*/
		background-color:lightgray;
		color: #0088f9;
		text-align: center;
		padding: 0;
		display: flex;
		align-items: center;
	}

	.TocDraggable .tree-node-inner {
		border: 1px solid #ccc;
		padding: 5px;
	}
	.TocDraggable .tree-node-inner-back:hover {
		background: #ddd;
	}
</style>
