﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Specialized Types</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<button class="btn btn-sm btn-primary" @click="add">Add</button>
				<a-link href="/tools" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="row">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Specialized Type</th>
						<th>Description</th>
						<th>Active</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(type, index) in vm.specializedTypes">
						<td>{{type.name}}</td>
						<td>{{type.description}}</td>
						<td>{{(type.active) ? "Yes": "No"}}</td>
						<td class="text-right">
							<a :href="editUrl + '?id=' + type.id" target="_blank">Edit</a> |
							<a href="#" @click="deleteType(type.id)"> Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>
<script>
	import ALink from '@/components/utility/ALink.vue';
		
	export default {
		components: {
			ALink
		},
		data: function () {
			return {
				vm: initialData,
				deleteUrl: deleteUrl,
				editUrl:editUrl,
				filters: null
			}
		},
		mounted: function () {

		},
		methods: {
			add: function () {
				window.open("SpecializedType/Edit?Id=0")
			},
			deleteType: function (id) {
				let self = this;
				bootbox.confirm("Are you sure you want to delete this type?", function (r) {
					if (r) {
						$.post(self.deleteUrl + "?id=" + id)
						.then(response => {
							if (response == "NOOK") {
								alert("Type can not be deleted. There are billings with this type. Please make it InActive.");
							}
							else {
								window.location.href = "specializedtype";
							}
						}); 
					}
				})
			}
		}
	}
</script>
<style scoped>
</style>