<template>
	<div>
		<form ref="AssociatedSoftwaresTemplatesEditForm" method="post">
			<input type="hidden" name="Mode" v-model=" vm.mode" />
			<page-header title="Associated Softwares Template Edit">
				<i v-if="saveInProgress" class="fa fa-spinner fa-pulse"></i>
				<a @click="save" class="btn btn-primary btn-sm" :class="{ disabled: saveInProgress }">{{ vm.mode | modeText  }}</a>
				<a-link :href="previousUrl" class="btn btn-sm btn-primary">Cancel</a-link>
			</page-header>
			<div class="form-horizontal">
				<hr class="form-hr" />
				<input type="hidden" id="Id" name="Id" v-model="vm.id" />
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Name</label>
					<div class="col-sm-3">
						<input id="Name" name="Name" class="form-control" v-model="vm.name" />
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Description</label>
					<div class="col-sm-3">
						<input id="Description" name="Description" class="form-control" v-model="vm.description" />
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Jurisdiction</label>
					<div class="col-sm-3">
						<LookupMultiple id="Jurisdiction"
										name="Jurisdiction"
										lookupajax="Jurisdictions"
										v-model="astJurisdictionIds"
										:options="astJurisdictionOptions" />

					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Manufacturers</label>
					<div class="col-sm-3">
						<Lookup id="Manufacturer" name="Manufacturer" @updateLookupTextField="updatedManufacturer" lookupajax="Manufacturers" :lookuptextfield="vm.manufacturer" v-model="vm.manufacturerCode" class="form-control" />
						<p v-if="piecesLoaded" class="select-platform-warning">Modifying the manufacturer will remove all pieces.</p>
					</div>
					
				</div>

				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Platform</label>
					<div class="col-sm-3">
						<Lookup :disabled="!manufacturerSelected" id="Platform" name="Platform" @updateLookupTextField="updatedPlatform" lookupajax="Platforms" :lookuptextfield="vm.platform" v-model="vm.platformId" :filter="{ManufactureShortId:vm.manufacturerCode,ManufacturerGroupCategoryId:14}" />
						<p class="select-platform-warning" v-if="!manufacturerSelected">Select a manufacturer before selecting a platform.</p>
						<p v-if="piecesLoaded" class="select-platform-warning">Modifying the platform will remove all pieces.</p>
					</div>
					
				</div>
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Platform Pieces Templates</label>
					<div class="col-sm-3">
						<LookupMultiple :disableLookup="!displayPieceSelector" id="PlatformPiecesTemplates" name="PlatformPiecesTemplates" lookupajax="PlatformPiecesTemplates"
										v-model="platformPiecesTemplatesIds" :options="platformPiecesTemplatesOptions"
										:filter="buildPlatformPiecesFilter()" />
						<p class="select-platform-warning" v-if="!displayPieceSelector">Select a platform before selecting a piece template.</p>
					</div>
					<div class="col-sm-3">
						<button :disabled="platformPiecesTemplatesIds.length == 0" type="button" class="btn btn-sm btn-primary" @click.prevent="loadPlatformPieces">Load Pieces</button>
					</div>
				</div>
			</div>
			<div v-if="piecesLoaded">

				<div class="platform-piece-template container" v-for="(ppTemplate, index) in vm.platformPiecesTemplates" :key="ppTemplate.id">
					<div class="row platform-piece-template-header">
						<div class="col-lg-12">
							<h3 class="platform-piece-template-header">{{ ppTemplate.name }}</h3>
						</div>
					</div>
					<div class="row platform-piece-template-description">
						<div class="col-lg-12">
							<p class="platform-piece-template-description">
								{{ ppTemplate.description }}
							</p>
						</div>
					</div>

					<table v-for="(pp, index) in ppTemplate.platformPieces" class="table table-striped table-bordered no-margin-bottom" :key="pp.id">
						<tbody>
							<tr class="platform-piece-row">
								<td class="platform-piece-name">
									{{ pp.name }}
									<p v-if="pp.required" class="platform-piece-required">REQUIRED</p>
								</td>
								<td class="platform-piece-add"><a @click="showSearchForPiece(pp.id)" class="btn btn-primary btn-sm">Add</a></td>
							</tr>
							<tr class="platform-piece-component-row">
								<td colspan="2">
									<vue-good-table :columns="columns"
													:rows="componentsForPiece(pp.id)"
													:pagination-options="{ enabled: false, perPage: 20}"
													:search-options="{ enabled: false}"
													styleClass="vgt-table striped condensed">
										<template slot="table-row" slot-scope="props">
											<div v-if="props.column.field == 'actions'" class="text-right">
												<a class="btn btn-xs btn-link" @click="displayFootnotes(props.row.componentId, pp.id)">Footnotes</a>
												<a class="btn btn-xs btn-link" :id="props.row.componentId" @click="removeComponent(props.row.componentId, pp.id)">Remove</a>
											</div>
											<div v-else-if="props.column.field == 'description'" class="text-right">
												<input style="width:100%" type="text" v-model="rowAssociatedSoftware(props.row.componentId, pp.id).description" />
											</div>
											<div v-else :class="rowStyleClassFn(props.row)">
												{{ props.formattedRow[props.column.field] }}
											</div>
										</template>
									</vue-good-table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>


				<br /><br />
				<div v-if="footNotesComponentId !== 0">
					<div>Footnotes for {{ footNotesTemplateComponent.component.idNumber }} </div>
					<vue-good-table :columns="footNotesColumns"
									:rows="footNotesTemplateComponent.footNotes"
									:pagination-options="{ enabled: false, perPage: 20}"
									:search-options="{ enabled: false}"
									styleClass="vgt-table striped condensed">
						<template slot="table-row" slot-scope="props">
							<div v-if="props.column.field === 'actions'" class="text-right">
								<a class="btn btn-xs btn-link" @click="removeFootnote(props.index)">Remove</a>
							</div>
							<div v-else-if="props.column.field === 'memo'">
								<input style="width:100%" type="text" v-model="rowFootNote(props.index).memo" />
							</div>
							<div v-else>
								{{ props.formattedRow[props.column.field] }}
							</div>
						</template>
						<template slot="table-actions-bottom">
							<a class="btn btn-xs btn-link" @click="addFootnote">Add</a>
						</template>
					</vue-good-table>
				</div>
				<div>
					<SearchComponents :showSearch="showComponentSearch" @selected-components="addComponents" @reSetShowSearch="reSetShowSearch"></SearchComponents>
				</div>
			</div>
		</form>
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	import PageHeader from '@/components/utility/PageHeader.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css';
	import SearchComponents from '@/components/utility/SearchComponents.vue';
	import { isNull, isNotNull } from '@/common';


	export default {
		components: {
			ALink,
			PageHeader,
			Lookup,
			LookupMultiple,
			VueGoodTable,
			SearchComponents,
		},
		data: function () {

			return {
				vm: {
					...initialData,
				},
				previousUrl: "/lookups/associatedsoftwaretemplates/",
				saveInProgress: false,
				saveFailed: false,
				columns: [
					//{
					//	label: 'Order',
					//	field: 'orderId',
					//},
					{
						label: 'File Number',
						field: 'component.fileNumber',
					},
					{
						label: 'Id Number',
						field: 'component.idNumber',
					},
					{
						label: 'Description',
						field: 'description',
					},
					{
						field: 'actions',
						sortable: false,
						width: '120px'
					},

				],
				footNotesColumns: [
					{
						label: 'Note(s)',
						field: 'memo'
					},
					{
						field: 'actions',
						sortable: false,
						width: '120px'
					},
				],
				showComponentSearch: false,
				footNotesComponentId: 0,
				footNotesPlatformPieceId: 0,
				footNotesTemplateComponent: {},
				platformPiecesTemplatesOptions: initialData.platformPiecesTemplates.length > 0 ? initialData.platformPiecesTemplates.map(p => { return { text: p.name, value: p.id.toString(), selected: true } }) : [],
				platformPiecesTemplatesIds: initialData.platformPiecesTemplates.length > 0 ? initialData.platformPiecesTemplates.map(p => p.id.toString()) : [],
				loadingPieces: false,
				piecesLoaded: initialData.platformPiecesTemplates.length > 0 ? true : false,
				selectedPieceId: 0,
				astJurisdictionOptions: initialData.jurisdictions.length > 0 ? initialData.jurisdictions.map(p => { return { text: p.jurisdiction, value: p.jurisdictionId.toString(), selected: true } }) : [],
				astJurisdictionIds: initialData.jurisdictions.length > 0 ? initialData.jurisdictions.map(p => p.jurisdictionId.toString()) : [],


			}
		},
		watch: {
			astJurisdictionIds: function (newJurIds, oldJurIds) {
				let useJurIds = newJurIds;

				if (this.isRemoving(newJurIds, oldJurIds) && this.piecesLoaded) {
					
					let inappPT = this.inapplicablePieceTemplates(newJurIds);
					if (inappPT.length > 0) {
						let removedJurisdictions = oldJurIds.filter(ov => !newJurIds.includes(ov));
						this.promptDeleteJurisdictions(inappPT, removedJurisdictions, oldJurIds);
						//if (this.promptDeleteJurisdictions(inappPT, removedJurisdictions)) {
						//	this.removePieceTemplates(inappPT);
						//}
						//else {
						//	useJurIds = oldJurIds;
						//	this.astJurisdictionIds = useJurIds;
						//}
					}
				}
				this.setJurisdictions(useJurIds);

			},
			platformPiecesTemplatesIds: function (newIds, oldIds) {

				if (this.isRemoving(newIds, oldIds) && this.piecesLoaded) {
					let removeIds = oldIds.filter(oi => !newIds.includes(oi)).map(oi => parseInt(oi));
					let templatesToDelete = this.vm.platformPiecesTemplates.filter(ppt => removeIds.includes(ppt.id));
					let pieceIds = templatesToDelete.selectMany(pt => pt.platformPieces).map(pp => pp.id);

					let componentsLoaded = this.vm.associatedSoftwares.some(as => pieceIds.includes(as.platformPieceId));
					if (componentsLoaded) {
						this.promptDeleteTemplates(templatesToDelete, oldIds);
					}
					else {
						this.removePieceTemplates(templatesToDelete);
					}
				}
			},
			manufCode: function (newVal, oldVal) {
				if (this.piecesLoaded && isNotNull(oldVal) && oldVal.length > 0) {
					this.removeAllPieceTemplates();
					this.vm.platformId = "";
				}
			},
			platId: function (newVal, oldVal) {
				if (this.piecesLoaded && isNotNull(oldVal) && oldVal.length > 0) {
					this.removeAllPieceTemplates();
				}
			}
		},
		computed: {
			manufCode: function () {
				return this.vm.manufacturerCode;
			},
			platId: function () {
				return this.vm.platformId;
			},
			manufacturerSelected: function () {
				return isNotNull(this.vm) && isNotNull(this.vm.manufacturerCode) && this.vm.manufacturerCode.length > 0;
			},
			displayPieceSelector: function () {
				return isNotNull(this.vm.manufacturerCode) && this.vm.manufacturerCode.length > 0 && this.vm.jurisdictionId != 0 && this.vm.platformId != 0;
			},
			maxOrderId: function () {
				if (isNull(this.vm.associatedSoftwares) || this.vm.associatedSoftwares.length === 0) {
					return 0;
				}
				else {
					return Math.max(...this.vm.associatedSoftwares.map(soft => soft.orderId));
				}
			}
		},
		methods: {
			setJurisdictions: function (useJurIds) {
				let jurObjs = [];
				if (isNotNull(useJurIds) && useJurIds.length > 0) {
					jurObjs = useJurIds.map(pid => { return { jurisdictionId: parseInt(pid) } });
				}
				else {
					jurObjs = [];
				}
				this.vm.jurisdictions = jurObjs;
			},
			promptDeleteTemplates: function (templatesToDelete, originalList) {
				let prompt = "Are you sure you want to do this? This will remove all pieces and their associated components.";
				//let templatesToDelete = this.vm.platformPiecesTemplates.filter(ppt => templateIds.includes(ppt.id));
				bootbox.confirm(prompt, (result) => {
					if (result) {
						this.removePieceTemplates(templatesToDelete);
					}
					else {
						this.platformPiecesTemplatesIds = originalList;
					}
				});
			},
			promptDeleteJurisdictions: function (inappPieceTemplates, removedJurisdictions, oldJurIds) {

				let piecesText = inappPieceTemplates.map(pt => pt.name).join("<br/>");
				let prompt = `Are you sure you want to do this? Removing this jurisdiction (${removedJurisdictions.join(",")}) will cause these pieces and all of their components to be dropped:<br/>${piecesText}`;
				bootbox.confirm(prompt, (result) => {
					if (result) {
						this.removePieceTemplates(inappPieceTemplates);
					}
					else {
						this.astJurisdictionIds = oldJurIds;
					}
				});
			},
			removePieceTemplates: function (inappPieceTemplates) {
				let templateIds = inappPieceTemplates.map(pt => pt.id);
				let pieceIds = inappPieceTemplates.selectMany(pt => pt.platformPieces).map(pp => pp.id);
				this.vm.associatedSoftwares = this.vm.associatedSoftwares.filter(as => !pieceIds.includes(as.platformPieceId));
				this.vm.platformPiecesTemplates = this.vm.platformPiecesTemplates.filter(ppt => !templateIds.includes(ppt.id));
				this.platformPiecesTemplatesIds = this.platformPiecesTemplatesIds.filter(pptid => !templateIds.includes(pptid));
				if (this.vm.platformPiecesTemplates.length === 0) {
					this.piecesLoaded = false;
				}
			},
			removeAllPieceTemplates: function () {
				this.vm.associatedSoftwares = [];
				this.vm.platformPiecesTemplates = [];
				this.platformPiecesTemplatesIds = [];
				this.piecesLoaded = false;

			},
			isRemoving: function (newVal, oldVal) {
				return newVal.length < oldVal.length;
			},
			inapplicablePieceTemplates: function (jurIds) {
				let ret = [];
				let intJurIds = jurIds.map(j => parseInt(j));
				this.vm.platformPiecesTemplates.forEach(ppt => {
					let intersect = ppt.jurisdictions.filter(j => intJurIds.includes(j.jurisdictionId));
					if (intersect.length === 0) {
						ret.push(ppt);
					}
				});
				return ret;
			},
			loadPlatformPieces: function () {
				this.loadingPieces = true;
				let ppIds = JSON.stringify(this.platformPiecesTemplatesIds.map(pptid => parseInt(pptid)));
				this.$http.get('Lookups/AssociatedSoftwareTemplates/GetPlatformPieces', {
					params: {
						platformPiecesTemplateIdsJson: ppIds
					}

				})
					.then(response => {
						this.vm.platformPiecesTemplates = response.data;
						this.loadingPieces = false;
						this.piecesLoaded = true;
					})
					.catch(e => {
						this.loadingPieces = false;
						console.error(e);
					});
			},
			buildPlatformPiecesFilter: function () {
				let ret = {
					JurisdictionIds: this.astJurisdictionIds,
					ManufactureShortId: this.vm.manufacturerCode,
					PlatformId: this.vm.platformId
				};
				return ret;
			},
			displayFootnotes: function (compId, ppId) {
				this.footNotesTemplateComponent = this.vm.associatedSoftwares.find(ass => ass.componentId === compId && ass.platformPieceId === ppId);
				if (isNull(this.footNotesTemplateComponent.footNotes) || this.footNotesTemplateComponent.footNotes.length === 0) {
					this.footNotesTemplateComponent.footNotes = [{ id: 0, memo: "" }];
				}
				this.footNotesComponentId = compId;
				this.footNotesPlatformPieceId = ppId;
			},
			hideFootnotes: function () {
				this.footNotesComponentId = 0;
				this.footNotesPlatformPieceId = 0;
				
			},
			rowStyleClassFn: function (row) {
				return row.componentId === this.footNotesComponentId && row.platformPieceId === this.footNotesPlatformPieceId ? "selected-component" : "";
			},
			rowAssociatedSoftware: function (compId, ppId) {
				return this.vm.associatedSoftwares.find(soft => soft.componentId === compId && soft.platformPieceId === ppId);
			},
			rowFootNote: function (index) {
				return this.footNotesTemplateComponent.footNotes[index];
			},
			addFootnote: function () {
				this.footNotesTemplateComponent.footNotes.push({ id: 0, memo: "" })
			},
			removeFootnote: function (index) {
				this.footNotesTemplateComponent.footNotes.splice(index, 1);
			},
			removeComponent: function (componentId, ppId) {
				let compIndex = this.vm.associatedSoftwares.findIndex(sw => sw.componentId === componentId && sw.platformPieceId === ppId);
				let component = this.vm.associatedSoftwares[compIndex];
				let removedOrderId = component.orderId;
				this.vm.associatedSoftwares.splice(compIndex, 1);
				this.vm.associatedSoftwares.filter(soft => soft.orderId > removedOrderId).forEach(soft => soft.orderId--);
				this.hideFootnotes();
			},
			addComponents: function (args) {
				let order = this.maxOrderId + 1;
				let pieceId = this.selectedPieceId;
				let existingIds = [];
				if (isNotNull(this.vm.associatedSoftwares)) {
					existingIds = this.vm.associatedSoftwares.filter(soft => soft.platformPieceId == pieceId).map(soft => soft.componentId);
				}
				args.forEach(comp => {
					if (!existingIds.includes(comp.id)) {
						this.vm.associatedSoftwares.push({
							id: 0,
							platformPieceId: pieceId,
							description: "",
							orderId: order,
							componentId: comp.id,
							component: comp,
							footNotes: []
						});
						order++;
					}
				});
			},
			save: async function () {
				var testStringify = JSON.stringify(this.vm);
				let validated = await this.saveValidate(testStringify);
				if (validated) {
					this.saveFailed = false;
					this.saveInProgress = true;
					this.$http.post('Lookups/AssociatedSoftwareTemplates/Edit', {
						editViewModelString: testStringify,
					})
						.then(response => {
							let redirectUrl = `${jsPath}${this.previousUrl.slice(1)}`;
							window.location.href = redirectUrl;
						})
						.catch(e => {
							this.saveInProgress = false;
							this.saveFailed = true;
							console.error(e);
						});
				}
			},
			saveValidate: function (validateComponents) {
				let self = this;
				return new Promise(function (resolve) {
					let validated = false;
					self.$http.post('Lookups/AssociatedSoftwareTemplates/EditValidate', {
						editViewModelString: validateComponents,
					})
					.then(response => {
						
						if (!validated) {
							var msg = "";
							response.data.NotApproved.forEach(function (c) {
								msg += "<b>" + c.FileNumber + "</b> / " + c.IdNumber + "  -   " + c.JurisdictionName + "<br>"
							});
							if (msg) {
								bootbox.confirm("Jurisdiction(s) are not approved in below components. Do you still want to save?" + "<br>" + msg, function (result) {
									if (result) {
										resolve(true);
									} else {
										resolve(false);
									}
								})
							}
							else {
								resolve(true);
							}
							
						}
						
					})
					.catch(e => {
						console.error(e);
						resolve(false);
					});
				})
			},
			validate: function () {
				this.saveFailed = false;
				this.$v.$touch();
				return this.$v.$invalid;
			},
			updatedManufacturer: function (value) {
				this.vm.manufacturer = value;
			},

			updatedPlatform: function (value) {
				this.vm.platform = value;
			},

			reSetShowSearch: function (val) {
				this.showComponentSearch = val;
			},
			showSearchForPiece: function (pieceId) {
				this.selectedPieceId = pieceId;
				this.reSetShowSearch(true);
			},
			componentsForPiece: function (pieceId) {
				return this.vm.associatedSoftwares.filter(comp => comp.platformPieceId == pieceId);
			}

		},
		validations: {
			vm: {
			}
		},
		provide: function () {
			return {
				$v: this.$v
			};
		},

		created: function () {

		},

		mounted: function () {
		}
	}
</script>

<style scoped>
	p.select-platform-warning {
		font-size: 10px;
		color: darkred;
		font-weight: bold;
	}

	.selected-component {
		font-weight: bold;
		text-decoration: underline;
		color: darkblue;
	}

	.fa-spinner + a {
		margin-left: 5px;
	}
</style>