﻿<template>
	<div>
		<page-header title="Associated Software Templates">
			<a-link href="/lookups/associatedsoftwaretemplates/add" class="btn btn-sm btn-primary">Add</a-link>
			<a-link href="/tools" class="btn btn-sm btn-primary">Exit</a-link>
		</page-header>
		<vue-good-table :columns="columns"
						:rows="rows"
						:pagination-options="{ enabled: false, perPage: 20}"
						:search-options="{ enabled: true}"
						styleClass="vgt-table striped condensed">

			<template slot="table-row" slot-scope="props">
				<div v-if="props.column.field == 'actions'" class="text-right">
					<a-link class="btn btn-xs btn-link" :href="'/lookups/associatedsoftwaretemplates/edit/' + props.row.id">Edit</a-link> |
					<a class="btn btn-xs btn-link CheckDelete" :id="props.row.id">Delete</a>
				</div>
				<div v-else-if="props.column.label === 'Manufacturer' || props.column.label === 'Jurisdictions'" :title="onRowMouseoverColumns(props.column.label, props.row)" data-toggle="tooltip">
					{{props.formattedRow[props.column.field]}}
				</div>
				<div v-else>
					{{props.formattedRow[props.column.field]}}
				</div>
			</template>
		</vue-good-table>
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	import PageHeader from '@/components/utility/PageHeader.vue';
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css'

	export default {
		components: {
			VueGoodTable,
			ALink,
			PageHeader
		},
		data: function () {
			let columns = [
				{
					label: 'Jurisdiction Name Searching',
					field: this.allJurisdictionNames,
					sortable: false,
					hidden: true
				},
				{
					label: 'Id',
					field: 'originalId',
					width: '5%'
				},
				{
					label: 'Name',
					field: 'name',
					width: '15%'
				},
				{
					label: 'Description',
					field: 'description',
					width: '25%'
				},
				{
					label: 'Manufacturer',
					field: 'manufacturerCode',
					width: '5%'
				},
				{
					label: 'Jurisdictions',
					field: this.jurisdictionDisplay,
					width: '15%'
				},
				{
					label: 'Platform',
					field: 'platform',
					width: '25%'
				},
				{
					field: 'actions',
					sortable: false,
					width: '10%'
				}
			]
			return {
				//templates: initialData.templates,
				vm: {
					...initialData,
				},
				columns: columns,
				rows: initialData.templates,
			}
		},
		methods: {
			onRowMouseoverColumns: function (rowLabel, row) {
				if (rowLabel === 'Manufacturer') {
					return row.manufacturer;
				}
				else {
					return row.jurisdictions.map(j => `${j.jurisdiction} (${j.jurisdictionId})`).join(", ");
				}
			},
			jurisdictionDisplay: function (rowObj) {
				if (rowObj.jurisdictions.length > 4) {
					return rowObj.jurisdictions.take(4).map(j => j.jurisdictionId).join(", ") + "...";
				}
				else {
					return rowObj.jurisdictions.map(j => j.jurisdictionId).join(", ");
				}
				
			},
			formatFn: function (value) {
				return value.join();
			},
			allJurisdictionNames: function (rowObj) {
				return rowObj.jurisdictions.map(j => j.jurisdiction).join(", ");
			},
		},
		created: function () {
		},
		mounted: function () {
		}
	}
</script>

<style scoped>
	.default-table {
		border: 1px solid black;
		padding: 10px 10px 10px 10px;
	}
</style>