﻿<template>
	<div>
	
			<div class="row row-title">
				<div class="col-sm-6">
					<h3>Defaulting Options - <span v-if="vm.mode == 'Add'">Add New</span><span v-else>Edit</span></h3>
				</div>
				<div class="col-sm-6 form-buttons">
					<button v-if="vm.id != 0" class="btn btn-sm btn-primary" @click="clone($event)">Clone</button>
					<button @click="save($event)" class="btn btn-sm btn-primary">Save</button>
					<a-link href="/lookups/letterbookdefaultingoptions" class="btn btn-sm btn-primary">Cancel</a-link>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<input type="hidden" id="Id" name="Id" v-model="vm.id" />
					<input type="hidden" id="Mode" name="Mode" v-model="vm.mode" />
					<div class="panel panel-default">
						<div class="panel-heading"><strong>Default Criteria</strong></div>
						<div class="panel-body">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="control-label col-sm-2">
										Jurisdictions
									</label>
									<div class="col-sm-8">
										<LookupMultiple id="JurisdictionIds"
														name="JurisdictionIds"
														lookupajax="Jurisdictions"
														templatename="formatJurisdictions"
														v-model="vm.jurisdictionIds"
														:options="vm.jurisdictions" />
										<span class="field-validation-error" v-if="$v.vm.jurisdictionIds.$invalid">Jurisdiction/Manufacturer/or Submission Type selection is required.</span>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Manufacturers
									</label>
									<div class="col-sm-8">
										<LookupMultiple id="ManufacturerCodes"
														name="ManufacturerCodes"
														lookupajax="Manufacturers"
														templatename="formatManufacturers"
														v-model="vm.manufacturerCodes"
														:options="vm.manufacturers" />
										<span class="field-validation-error" v-if="$v.vm.manufacturerCodes.$invalid">Jurisdiction/Manufacturer/or Submission Type selection is required.</span>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Submission Types
									</label>
									<div class="col-sm-8">
										<LookupMultiple id="SubmissionTypeIds"
														name="SubmissionTypeIds"
														lookupajax="SubmissionTypes"
														v-model="vm.submissionTypeIds"
														:options="vm.submissionTypes" />
										<span class="field-validation-error" v-if="$v.vm.submissionTypeIds.$invalid">Jurisdiction/Manufacturer/or Submission Type selection is required.</span>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Contract Types
									</label>
									<div class="col-sm-8">
										<LookupMultiple id="ContractTypeIds"
														name="ContractTypTypeIds"
														lookupajax="ContractTypes"
														v-model="vm.contractTypeIds"
														:options="vm.contractTypes" />
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Billing Parties&nbsp;<i class="fa fa-info-circle" aria-hidden="true" title="Apllies to certain manufacturers only"></i>
									</label>
									<div class="col-sm-8">
										<LookupMultiple id="BillingPartyIds"
														name="BillingPartyIds"
														lookupajax="BillingParties"
														v-model="vm.billingPartyIds"
														:options="vm.billingParties" />
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										LW Location
									</label>
									<div class="col-sm-8">
										<LookupMultiple id="LWLocationIds"
														name="LWLocationIds"
														lookupajax="Laboratories"
														v-model="vm.locationIds"
														:options="vm.locations" />
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Owning Company
									</label>
									<div class="col-sm-8">
										<LookupMultiple id="Company"
														name="Company"
														lookupajax="Companies"
														v-model="vm.companyIds"
														:options="vm.companies" />

									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Document Types
									</label>
									<div class="col-sm-8">
										<LookupMultiple id="DocumentTypeIds"
														name="DocumentTypeIds"
														lookupajax="DocumentType"
														v-model="vm.documentTypeIds"
														:options="vm.documentTypes" />
										<span class="field-validation-error" v-if="$v.vm.documentTypeIds.$invalid">Document Type selection is required.</span>
									</div>
								</div>


							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading"><strong>Default General/Billing Options</strong></div>
						<div class="panel-body">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="control-label col-sm-2">
										Status
									</label>
									<div class="col-sm-4">
										<SelectStandard id="ApprovalStatus"
														name="ApprovalStatus"
														v-model="vm.approvalStatus"
														:options="vm.statusOptions"
														@input="statusInput"
														@updateTextField="updateStatusTextField">
										</SelectStandard>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Is Billable?
									</label>
									<div class="col-sm-2">
										<input name="Billable" id="Billable" type="checkbox" v-model="vm.billable" :value="vm.billable" />
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										LW Location
									</label>
									<div class="col-sm-4">
										<Lookup name="BillingLabId"
												:lookuptextfield="vm.billingLab"
												@updateLookupTextField="updateLabTextField"
												v-model="vm.billingLabId"
												lookupajax="Laboratories"
												class="form-control"
												tabindex="-1">
										</Lookup>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Billing Sheet
									</label>
									<div class="col-sm-4">
										<Lookup v-if="vm.billingLabId != null" name="BillingSheetId"
												:lookuptextfield="vm.billingSheet"
												@updateLookupTextField="updateBillingSheetTextField"
												v-model="vm.billingSheetId"
												lookupajax="BillingSheets"
												:filter="locationFilter"
												class="form-control"
												tabindex="-1">
										</Lookup>
										<span v-else>No Lab Selected</span>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Preferred Billing Sheets &nbsp;<i class="fa fa-info-circle" aria-hidden="true" title="if default Billing Sheet can not be set, Set preferred options for Billing Sheets."></i>
									</label>
									<div class="col-sm-8">
										<LookupMultiple v-if="vm.billingLabId != null" id="AvailBillingSheetsIds"
														name="AvailBillingSheets"
														lookupajax="BillingSheets"
														:filter="locationFilter"
														v-model="vm.availableBillingSheetIds"
														:options="vm.availableBillingSheets" />
										<span v-else>No Lab Selected</span>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Billing Note
									</label>
									<div class="col-sm-2">
										<textarea v-model="vm.billingNote" maxlength="4000" id="BillingNote" cols="70" rows="3"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading"><strong>Default Letterhead Options</strong></div>
						<div class="panel-body">
							<div class="form-horizontal">

								<div class="form-group">
									<label class="control-label col-sm-2">
										Letterhead
									</label>
									<div class="col-sm-4">
										<Lookup id="LetterheadId"
												name="LetterheadId"
												:lookuptextfield="vm.letterheadName"
												@updateLookupTextField="updateLetterhead"
												lookupajax="LetterHeads"
												v-model="vm.letterheadId">
										</Lookup>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Repeat Letterhead
									</label>
									<div class="col-sm-2">
										<input id="RepeatLetterhead" name="RepeatLetterhead" type="checkbox" v-model="vm.repeatLetterhead" :value="vm.repeatLetterhead" />
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Correction Letterhead
									</label>
									<div class="col-sm-4">
										<Lookup id="CorrectionLetterheadId"
												name="CorrectionLetterheadId"
												:lookuptextfield="vm.correctionLetterheadName"
												@updateLookupTextField="updateCorrLetterhead"
												lookupajax="LetterHeads"
												v-model="vm.correctionLetterheadId">
										</Lookup>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										Repeat Correction Letterhead
									</label>
									<div class="col-sm-2">
										<input id="RepeatCorrectionLetterhead" name="RepeatCorrectionLetterhead" type="checkbox" v-model="vm.repeatCorrectionLetterhead" :value="vm.repeatCorrectionLetterhead" />
									</div>
								</div>

							</div>
						</div>

					</div>

				</div>
			</div>
	
	</div>
</template>
<script>
	import ALink from '@/components/utility/ALink.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import api from '@/api/lbdefaults';
	import { required, requiredIf, minLength } from 'vuelidate/lib/validators';
	

	export default {
		components: {
			ALink,
			SelectStandard,
			Lookup,
			LookupMultiple
		},
		data: function () {
			return {
				vm: initialData,
			}
		},
		validations() {
			return {
				vm: {
					jurisdictionIds: {
						required: requiredIf(function (thisObj) {
							return(thisObj.manufacturerCodes.length == 0 && thisObj.submissionTypeIds.length == 0)
						}),
						minLength : minLength(1)
					},
					manufacturerCodes: {
						required: requiredIf(function (thisObj) {
							return(thisObj.jurisdictionIds.length == 0 && thisObj.submissionTypeIds.length == 0)
						}),
						minLength : minLength(1)
					},
					submissionTypeIds: {
						required: requiredIf(function (thisObj) {
							return(thisObj.jurisdictionIds.length == 0 && thisObj.manufacturerCodes.length == 0)
						}),
						minLength : minLength(1)
					},
					documentTypeIds: { required, minLength : minLength(1) }
				}
			}
		},
		computed: {
			locationFilter: function () {
				return {
					LocationId: this.vm.billingLabId
				}
			},
		},
		methods: {
			save: function (e) {
				if (this.$v.$invalid) {
					e.preventDefault();
					return;
				}
				this.confirmSave();
			},
			confirmSave: function () {
				let self = this;
				 this.$http.post('Lookups/LetterbookDefaultingOptions/CheckIfExistsDefaults', {
					vm: this.vm,
				}).then(response => {
					if (response.data == "OK") {
						self.saveDefaults();
					}
					else {
						bootbox.alert("Defaults with selected Jurisdiction(s), Manufacturer(s), Submission Type(s), Document Type(s), Contract Types(s) and Billing Parties Already Exist. Please Confirm Data.")
					}
				})
			},
			clone: function (e) {
				this.vm.id = 0;
				this.vm.mode = "Add";
			},
			saveDefaults: function () {
				 this.$http.post('Lookups/LetterbookDefaultingOptions/Edit', {
					vm: this.vm,
				}).then(response => {
					window.close();
					window.opener.location.reload()
				})
			},
			updateLetterhead: function (newVal) {
				this.vm.letterheadName = newVal;
			},
			updateCorrLetterhead: function (newVal) {
				this.vm.correctionLetterheadName = newVal;
			},
			statusInput:function() {
				
			},
			updateBillingSheetTextField: function (val) {
				this.vm.billingSheet = val;
			},
			updateStatusTextField:function() {
				
			},
			updateLabTextField: function (val) {
				if (this.vm.billingLab !== val) {
					this.vm.billingSheetId = null;
					this.vm.billingSheet = null;
				}
				this.vm.billingLab = val;
			},
		
		}
	}
</script>