﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Letter Book Defaulting Options</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<button class="btn btn-sm btn-primary" @click="add">Add</button>
				<a-link href="/admin" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<Grid :grid="grid" :custom-filters="filters" @gridComplete="gridComplete"></Grid>
			</div>
		</div>
	</div>
</template>
<script>
	import ALink from '@/components/utility/ALink.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import Grid from '@/components/utility/Grid.vue';

	const gridId = 'LBDefaultsGrid';

	const grid = {
		id: gridId,
		url: 'GridsAjax/LoadLBDefaultsGrid',
		searchtextbar: 'true',
		colNames: [
			'Id',
			'Jurisdictions',
			'Manufacturers',
			'Submission Types',
			'Contract Types',
			'Billing Parties',
			'LW Locations',
			'Companies',
			'Document Types',
			'Status',
			'Billable',
			''
		],
		colModel: [
			{ name: 'Id', hidden: true },
			{ name: 'Jurisdictions', width: 170, stype: 'text', search: true },
			{ name: 'Manufacturers', width: 50, stype: 'text', search: true },
			{ name: 'SubmissionTypes', width: 50, stype: 'text', search: true },
			{ name: 'ContractTypes', width: 50, stype: 'text', search: true },
			{ name: 'BillingParties', width: 50, stype: 'text', search: true },
			{ name: 'LWLocations', width: 50, stype: 'text', search: true },
			{ name: 'Companies', width: 90, stype: 'text', search: true },
			{ name: 'DocumentTypes', width: 50, stype: 'text', search: true },
			{ name: 'Status', width: 30, stype: 'text', search: true },
			{ name: 'Billable', width: 30, stype: 'text', search: true },
			{ name: 'Edit/Delete',  sortable: false, search: false, width: 50},
		]
	}

	export default {
		components: {
			ALink,
			LookupMultiple,
			Grid
		},
		data: function () {
			return {
				vm: initialData,
				deleteUrl: deleteUrl,
				editUrl:editUrl,
				filters: null,
				grid: grid
			}
		},
		mounted: function () {

		},
		methods: {
			 add: function () {
				window.open("LetterbookDefaultingOptions/Edit?Id=0")
			},
			gridComplete: function () {
				var grid = $('#' + gridId);
				var rows = grid.jqGrid("getRowData");
				for (var i = 0; i < rows.length; i++) {
					var rowId = rows[i].Id;

					var link = "<div>"
					link += "<a href='" + editUrl + "?id=" + rowId + "' Target='_new'>Edit</a>"
					link += " | <a href='javascript:var r = confirm(\"Are you sure you want to delete this defaults?\"); if (r == true){  $.post(\"" + deleteUrl + "?id=" + rowId + "\");window.location.href=\"letterbookdefaultingoptions\" }' >Delete</a>"
					
					link += "</div>"
					
					grid.setCell(rowId, 'Edit/Delete', link);
				}

				return;
			}
		}
	}
</script>
<style scoped>
	
</style>