﻿<template>
	<div class="card">
		<div class="heading">
			<span>{{heading}}</span>
		</div>
		<div class="text-center">
			<div v-if="bodyType == 'Status'">
				<StatusCardBody :body="body"></StatusCardBody>
			</div>
			<div v-if="bodyType == 'Count'">
				<CountCardBody :body="body"></CountCardBody>
			</div>
		</div>
		<div class="flex-Container" v-if="isService">
			<template v-if="body.content === 'Stopped'">
				<button class="btn btn-success" :disabled="!!!isDebug"
						@click="controlService('Start')">
					Start Service
				</button>
			</template>
			<template v-else>
				<button class="btn btn-danger" :disabled="!!!isDebug"
						@click="controlService('Stop')">
					Stop Service
				</button>
			</template>
		</div>
	</div>
</template>

<script>
	import StatusCardBody from '@/components/acumatica/dashboard/StatusCardBody.vue';
	import CountCardBody from '@/components/acumatica/dashboard/CountCardBody.vue';
	export default {
		components: {
			StatusCardBody,
			CountCardBody
		},
		props: {
			heading: { type: String, required: true },
			body: { type: Object, required: true },
			bodyType: { type: String, required: true },
			isService: { type: Boolean, required: false },
			isDebug: { type: Boolean, required: false },
			serviceName: { type: String, required: false },
			environment: { type: String, required: false },
		},
		data() {
			return {
			}
		},
		created: function () {

		},
		mounted() {
		},
		watch: {

		},
		computed: {
			environmentServiceName: function () {
				let envToUpper = this.environment.toUpperCase();
				return this.environment === 'Development' ? `${envToUpper}${this.serviceName}` : `${this.serviceName}`;
			}
		},
		methods: {
			controlService: function (action) {
				this.$emit('ControlService', { serviceName: this.environmentServiceName, action: action });
			},
		},
		filters: {
		}
	}
</script>

<style scoped>
	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		height: 100%;
		width: 100%;
		border-radius: 5px;
		padding: 5px;
	}

		.card:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

	.heading {
		font-weight: bold;
		line-height: 50px;
		height: 50px;
		border-bottom: 2px solid black;
		text-align: center;
		margin-bottom: 5px;
	}

	.flex-Container {
		display: flex;
		justify-content: center;
		margin-top: 4px;
	}
</style>