﻿<template>
	<div class="text-center">
		<span v-bind:style="numberCircle">
			{{body.content}}
		</span>
	</div>
</template>

<script>
	export default {
		components: {
		},
		props: {
			body: { type: Object, required: true }
		},
		data() {
			return {
			}
		},
		created: function () {

		},
		mounted() {
		},
		watch: {

		},
		computed: {
			numberCircle: function () {
				return {
					'border-radius': '3em',
					'-moz-border-radius': '3em',
					'-webkit-border-radius': '3e',
					'color': '#ffffff',
					'display': 'inline-block',
					'font-weight': 'bold',
					'line-height': '3.0em',
					'margin-right': ' 15px',
					'text-align': 'center',
					'width': '3.0em',
					'font-size': '20px',
					'text-shadow': '-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000',
					'background-color': this.deriveBackgroundColorFromCount()
				};
			}
		},
		methods: {
			deriveBackgroundColorFromCount: function () {
				if (this.body.content <= 10) {
					return 'green';
				}
				else if (this.body.content > 10 && this.body.content <= 20) {
					return 'yellow';
				}
				else {
					return 'red';
				}
			}
		},
		filters: {
		}
	}
</script>

<style scoped>
</style>