﻿<template>
	<div class="main">
		<div class="col-container">
			<div class="col">
				<Card title="Unresolved Project creation errors, produced by the Project Creation Service."
					  :body="{content: acumaticaDashboardViewModel.acumaticaProjectCreationErrorCount}"
					  :bodyType="'Count'"
					  :heading="'Unresolved Project Errors'"></Card>
			</div>
			<div class="col">
				<Card title="Unresolved Project Task creation errors, produced by the Project Task Creation Service."
					  :body="{content: acumaticaDashboardViewModel.acumaticaTaskErrorCount}"
					  :bodyType="'Count'"
					  :heading="'Unresolved Project Task Errors'"></Card>
			</div>
			<div class="col">
				<Card title="The number of projects pending creation by the Project Creation Service."
					  :body="{content: acumaticaDashboardViewModel.acumaticaPendingProjectsCount}"
					  :bodyType="'Count'"
					  :heading="'Projects Pending'"></Card>
			</div>
			<div class="col">
				<Card title="The number of project tasks pending creation by the Project Task Creation Service."
					  :body="{content: acumaticaDashboardViewModel.acumaticaPendingProjectTasksCount}"
					  :bodyType="'Count'"
					  :heading="'Project Tasks Pending'"></Card>
			</div>
			<div class="col">
				<Card :body="{content: acumaticaDashboardViewModel.njServices2Status}"
					  :bodyType="'Status'"
					  :heading="'NJ Services 2'"></Card>
			</div>
			<div class="col">
				<Card :body="{content: acumaticaDashboardViewModel.acumaticaProjectCreationServiceStatus}"
					  :bodyType="'Status'"
					  :heading="'Project Creation Service'"
					  :isService="true"
					  :isDebug="acumaticaDashboardViewModel.debug"
					  :serviceName="'AcumaticaProjectCreationService'"
					  :environment="acumaticaDashboardViewModel.environment"
					  @ControlService="handle__controlService"></Card>
			</div>
			<div class="col">
				<Card :body="{content: acumaticaDashboardViewModel.acumaticaProjectTaskCreationServiceStatus}"
					  :bodyType="'Status'"
					  :heading="'Project Task Creation Service'"
					  :isService="true"
					  :isDebug="acumaticaDashboardViewModel.debug"
					  :serviceName="'AcumaticaProjectTaskCreationService'"
					  :environment="acumaticaDashboardViewModel.environment"
					  @ControlService="handle__controlService"></Card>
			</div>
		</div>
	</div>
</template>

<script>
	import api from '@/api/index';
	const baseUrl = 'acumatica/dashboard/';
	import Card from '@/components/acumatica/dashboard/Card.vue';
	export default {
		components: {
			Card
		},
		data() {
			return {
				acumaticaDashboardViewModel: {}
			}
		},
		created: function () {
			this.setAcumaticaDashboardViewModel(initialData);
			setInterval(function () {
				this.getAcumaticaDashboardViewModel();
			}.bind(this), 10000);
			DoneLoading();
		},
		mounted() {
		},
		watch: {
		},
		computed: {
		},
		methods: {
			handle__controlService: function (payload) {
				api.post(baseUrl + 'ControlService', payload)
					.then(response => {
					})
					.catch(err => console.error('ControlService: ', err))
					.finally(function () {

					});
			},
			setAcumaticaDashboardViewModel: function (acumaticaDashboardViewModel) {
				this.acumaticaDashboardViewModel = acumaticaDashboardViewModel;
			},
			getAcumaticaDashboardViewModel: function () {
				api.post(baseUrl + 'GetAcumaticaDashboardViewModel')
					.then(response => {
						this.setAcumaticaDashboardViewModel(response.data.acumaticaDashboardViewModel);
					})
					.catch(err => console.error('getAcumaticaDashboardViewModel', err))
					.finally(function () {

					});
			},
			clearAcumaticaDashboardViewModel: function () {
				this.acumaticaDashboardViewModel = {};
			},
			cancelAutoUpdate: function () { clearInterval(this.timer) }
		},
		destroyed() {
			cancelAutoUpdate();
		}
	}
</script>

<style scoped>
	.col-container {
		/*display: flex;
		flex-wrap: wrap;*/
		display: flex;
		flex-wrap: wrap;
		margin-top: -10px;
		margin-left: -10px;
	}

	.col {
		/*flex: 1 0 21%;
		margin: 5px;
		height: 100%;*/
		width: calc(25% - 10px);
		margin-left: 10px;
		margin-top: 10px;
	}
</style>