﻿<template>
	<div>
		<span v-if="body.content == 'Running' || body.content == true">
			<i class='far fa-check-circle fa-5x green'></i>
		</span>
		<span v-else>
			<i class="far fa-times-circle fa-5x red"></i>
		</span>
	</div>
</template>

<script>
	export default {
		components: {
		},
		props: {
			body: { type: Object, required: true }
		},
		data() {
			return {
			}
		},
		created: function () {

		},
		mounted() {
		},
		watch: {

		},
		computed: {
		},
		methods: {
		},
		filters: {
		}
	}
</script>

<style scoped>
	.green {
		color: green
	}

	.red {
		color: red
	}
</style>