﻿@model Submissions.Web.Areas.Acumatica.Models.FeedErrorLogViewModel

@{
	ViewBag.Title = "Acumatica Feed Error Log";
	ViewBag.FullWidth = true;
	Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}

<div class="row">
	<div class="col-sm-6">
		<h1>Acumatica Feed Error Log</h1>
	</div>
	<div class="col-sm-6">
		<div class="btn-group pull-right">
			@Html.ActionLink("Exit", "Index", "Dashboard", new { }, new { @Class = "btn btn-primary" })
		</div>
	</div>
</div>

<div class="row col-sm-12">
	<div id="app"></div>
</div>


@section scripts {
	<script>
		Loading();
		var initialData = @Html.Raw(Submissions.Common.ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}

