﻿@model Submissions.Web.Areas.Protrack.Models.QATasks.IndexViewModel
@{
	ViewBag.Title = "QA Tasks";
}

@section css{
	<style>
		.groupColor {
			color: navy;
			background: lightblue;
		}

		.position-relative {
			position:relative;
		}
	</style>
}

@using (Html.BeginForm("Save", "QATasks", FormMethod.Post, new { id = "QATasksForm" }))
{
	@Html.Hidden("indexViewModel");
	@Html.HiddenFor(m => m.BatchMode)
	<div class="row row-title">
		<div class="col-sm-6">
			<h3 class="form-h3">
				QA Tasks <small>
					@Model.currentBundleName (@if (Model.currentBundleTypeId == (int)BundleType.ClosedTesting)
					{@BundleType.ClosedTesting.GetEnumDescription();
				}
				else
				{ @BundleType.OriginalTesting.GetEnumDescription();
			})
				</small>
			</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if (((Util.HasAccess(Role.QAR, Role.QAS, Role.QLW, Role.MG, Role.SA) || Util.HasAccess(Permission.ActAsQLW, AccessRight.Read) || Util.HasAccess(Permission.ActAsQAR, AccessRight.Read))))
			{
				<button type="submit" id="Save" class="btn btn-primary btn-sm" data-bind="click : validateSave">Save</button>
			}
			<a id="Cancel" class="btn btn-primary btn-sm" onclick="window.close()">Close</a>
		</div>
	</div>
	<br />
	if (!Model.BatchMode)
	{
		@Html.HiddenFor(m => m.ProjectsIds)
		@Html.HiddenFor(m => m.currentBundleTypeId)
	}
	else
	{
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Select Bundle(s)</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.Label("Select Bundles", new { @class = "control-label col-sm-2" })
							<div class="col-sm-9">
								@Html.LookupMultipleFor(m => m.ProjectsIds, Model.ProjectNames, LookupAjax.ProjectName, false, new { data_filter = Json.Encode(Model.ProjectFilter) })
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
	if (Model.BatchMode)
	{

		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><a href="#Others" data-toggle="collapse">Apply to Selected Bundle(s)</a></h3>
				</div>
				<div Id="Others" class="panel-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-4">

								<div class="form-group form-group-sm">
									@Html.Label("Reviewer", new { @class = "control-label col-sm-2", @title = "Set Reviewer for selected projects" })
									<div class="col-sm-9">

										<select data-bind="lookup: ReviewerId, value: ReviewerId, options: Reviewer, optionsValue: 'Value', optionsText: 'Text'"
												data-lookupajax="@LookupAjax.Users"
												style="width:100%"
												class="form-control"></select>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.Label("Supervisor", new { @class = "control-label col-sm-2", @title = "Set Supervisor for selected projects" })
									<div class="col-sm-9">

										<select data-bind="lookup: SupervisorId, value: SupervisorId, options: Supervisor, optionsValue: 'Value', optionsText: 'Text'"
												data-lookupajax="@LookupAjax.Users"
												style="width:100%"
												class="form-control"></select>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	}

	<div class="row">
		<div class="col-xs-12">
			<button data-bind="click: addTask" id="addqatask" title="Add QA Task" class="btn btn-default">Add QA Task</button>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12">
			<table id="engineeringTasksTable" class="table table-condensed  tableBackground">
				<thead class="groupColor">
					<tr>
						<th class=" col-xs-3">Task</th>
						<th class="col-xs-3">User</th>
						<th class="col-xs-2">Task Target</th>
						<th class="col-xs-2"> </th>
					</tr>
				</thead>
				<tbody data-bind='foreach: Tasks'>
					<tr>
						<td class="col-xs-3">
							<select data-bind="lookup: TaskDefId, value: TaskDefId, options: TaskDef, optionsValue: 'Value', optionsText: 'Text', attr: {'id': 'taskFor_' + Id}, enable: IsTaskDefInEditMode , event: { change: $root.changeTask}"
									data-lookupajax="@LookupAjax.QATaskDefinitions"
									style="width:100%"
									class="form-control Taskdefs"
									data-filter='{"IsTaskForBundlesDN":"@((Model.currentBundleTypeId == (int)BundleType.ClosedTesting)?"true":"false")"}'></select>
						</td>
						<td class="col-xs-3">
							<select data-bind="lookup: UserId, value: UserId, options: User, optionsValue: 'Value', optionsText: 'Text', attr: {'id': 'userFor_' + Id}, enable: IsInEditMode, event: { change: $root.soilTask}"
									data-lookupajax="@LookupAjax.Users"
									style="width:100%"
									class="form-control"></select>
						</td>
						<td class="col-xs-2">
							<input data-bind="datePicker: TargetDateString, attr: {'id': 'targetDateFor_' + Id()}, enable: IsInEditMode, event: {click: $root.soilTask}" class="form-control position-relative" data-changed="false">
						</td>
						<td class="col-xs-2">
							<a href="#" data-bind="click: $root.removeTask" id="" title="" class="btn btn-default">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
}

@Scripts.Render("~/bundles/script/knockout")
@section scripts{
	<script>
	var tasksData = @Html.Raw(Json.Encode(Model));

	function MakeArrayKoObservableObjectArray(arr) {
		var observableArr = [];
		for (var i = 0; i < arr.length; i++) {
			var observableObj = {}, obj = arr[i];
			for (var prop in obj) {
				if (obj.hasOwnProperty(prop)) {
					observableObj[prop] = ko.observable(obj[prop]);
				}
			}
			observableArr.push(observableObj);
		}
		return observableArr;
	}

	var defaultTask = tasksData.DefaultTask;
	var mappingTask = {
		'ignore': []
	}
	var taskModel = function (data) {
		var self = this;
		ko.mapping.fromJS(data, mappingTask, self);
	}

	var mappingProjectTasks = {
		'Tasks': {
			create: function (options) {
				return new taskModel(options.data);
			}
		}
	};

	function taskDataVM(data) {
		var self = this;

		ko.mapping.fromJS(data, mappingProjectTasks, self);

		self.addTask = function () {
			if ($('#ProjectIds').val() == '') {
				bootbox.alert("Please Select Project(s).")
				return false;
			}
			else {
				var newTask = new taskModel(defaultTask)
				newTask.Id(0)
				newTask.IsInEditMode(true)
				newTask.IsTaskDefInEditMode(true)
				self.Tasks.push(newTask)
			}
		}

		self.soilTask = function (task, event) {
			task._dirty(true);
		}

		self.removeTask = function (task) {
			if (task.Id() == 0) {
				self.Tasks.remove(task);
			}
			else {
				bootbox.confirm("Remove task: " + task.TaskDefName() + " ? ", function (confirmed) {
					if (confirmed) {
						var jsonData = ko.toJSON(task);
						var url = '@Url.Action("RemoveTask")';
						$.ajax({
							url: url,
							type: 'POST',
							data: jsonData,
							contentType: "application/json",
							dataType: "json",
							success: function (returnData) {
								var target = JSON.parse(returnData);
								var task = ko.utils.arrayFilter(self.Tasks(), function (task) { return task.Id() == target.Id })[0];
								if (task) {
									self.Tasks.remove(task);
								}
							},
							error: function (returnData) {
								bootbox.alert({
									title: "Error:",
									message:
										"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
										+ "<table border='1'>"
										+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(returnData.responseText) + "</td></tr>"
										+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
										+ "<tr><td>Error Tag</td><td>Task Remove</td></tr>"
										+ "</table>"
								});
							},
							complete: function () {

							}
						});
						return true;
					}
				});
			}
		}

		self.validateSave = function () {
			var msg = ''
			ko.utils.arrayForEach(self.Tasks(), function (item) {
				if (!Em(item.TargetDateString())) {
					item.TargetDate(moment.utc(moment(item.TargetDateString()).format('LL')));
				}
				if (Em(item.UserId()) || Em(item.TaskDefId())) {
					msg = 'You must select user and task.'
				}
			});

			if (msg == '') {

				if ($('#BatchMode').val() == "True") {
					vm.ProjectsIds = $('#ProjectsIds').val()
				}

				$('#indexViewModel').val(ko.toJSON(vm));

				$('#QATasksForm').submit();
			}
			else {
				bootbox.alert(msg)
			}
		}
	}

	var vm = new taskDataVM(tasksData)
	$(function () {
		ko.applyBindings(vm);
	});

	$('#QATasksForm').submit(function () {
		$.ajax({
			url: this.action,
			type: this.method,
			data: $(this).serialize(),
			success: function (result) {
				bootbox.alert("Tasks saved.")
				if ($('#BatchMode').val() == "True") {
					window.opener.location.reload();
					open(location, '_self').close();
				}
				else {
					window.opener.location.reload();
					window.location.reload();
				}
			}
		});
		return false;
	});
	</script>
}