﻿<template>
	<div>
		<hr class="form-hr" />
		<table class="table table-striped table-condensed table-hover">
			<caption>Requests Requiring Action</caption>
			<thead>
				<tr>
					<th>Request Date</th>
					<th>Manager</th>
					<th>Resource</th>
					<th>Start Date</th>
					<th>Project</th>
					<th>Tasks / Hrs</th>
					<th>Info</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr v-if="(otherRequests.length == 0)"><td colspan="8" class="text-warning text-center"><em>No Records Found</em></td></tr>
				<tr v-for="(item, index) in otherRequests" :key="item.id">
					<td>{{ item.requestDate | formatDateTime }}</td>
					<td>{{ item.manager }}</td>
					<td>{{ item.resource }}</td>
					<td>{{ item.requestStartDate | formatDate }}</td>
					<td><router-link :to="{ path: '/protrack/project/detail/' + item.projectId }" target="_blank" class="projectName">{{ item.projectName }}</router-link></td>
					<td><div v-for="t in item.tasks"><span v-html="t"></span></div></td>
					<td><i v-if="item.additionalInfo" class="far fa-file-alt" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" :data-content="item.additionalInfo" style="z-index:99999;"></i></td>
					<td class="text-right"><a @click="approveRequest(item.id, index, $event)" class="pointer">Approve</a> | <a @click="declineRequest(item.id, index, $event)" class="pointer">Decline</a></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-striped table-condensed table-hover">
			<caption>My Pending Requests</caption>
			<thead>
				<tr>
					<th>Request Date</th>
					<th>Manager</th>
					<th>Resource</th>
					<th>Start Date</th>
					<th>Project</th>
					<th>Tasks / Hrs</th>
					<th>Info</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr v-if="(myRequests.length == 0)"><td colspan="8" class="text-warning text-center"><em>No Records Found</em></td></tr>
				<tr v-for="(item, index) in myRequests" :key="item.id">
					<td>{{ item.requestDate | formatDateTime }}</td>
					<td>{{ item.manager }}</td>
					<td>{{ item.resource }}</td>
					<td>{{ item.requestStartDate | formatDate }}</td>
					<td><router-link :to="{ path: '/protrack/project/detail/' + item.projectId }" target="_blank" class="projectName">{{ item.projectName }}</router-link></td>
					<td><div v-for="t in item.tasks"><span v-html="t"></span></div></td>
					<td><i v-if="item.additionalInfo" class="far fa-file-alt" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" :data-content="item.additionalInfo"></i></td>
					<td class="text-right"><a @click="cancelRequest(item.id, index, $event)" class="pointer">Cancel</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	export default {
		data() {
			return initialData;
		},
		mounted() {
			$('.fa-file-text-o').popover();
		},
		methods: {
			approveRequest: function (id, index, e) {
				e.preventDefault();

				const self = this;
				this.$http.post('protrack/workloadmanager/approverequest', { id: id });
				bootbox.alert('Request has been Approved', function () {
					self.otherRequests.splice(index, 1);
				});
			},
			cancelRequest: function (id, index, e) {
				e.preventDefault();

				const self = this;
				bootbox.confirm('Are you sure you want to cancel this Request?', function (result) {
					if (result) {
						self.myRequests.splice(index, 1);
						self.$http.post('protrack/workloadmanager/cancelrequest', { id: id });
					}
				});
			},
			declineRequest: function (id, index, e) {
				e.preventDefault();

				const self = this;
				bootbox.prompt("Please enter a reason <i><small>(Required)<small></i>", function (reason) {
					if (reason) {
						self.$http.post('protrack/workloadmanager/declinerequest', { id: id, reason: reason });
						bootbox.alert('Request has been Declined', function () {
							self.otherRequests.splice(index, 1);
						});
					}
				});
			}
		}
	}
</script>

<style scoped>
	.projectName {
		text-decoration: none;
	}
</style>