﻿@model Submissions.Web.Areas.Verify.Models.LicenseEditViewModel
@using Submissions.Web.Models
@using MvcCheckBoxList.Model

<style>
	.checkboxrow {
		padding: 0 10px 3px 3px !important;
	}

	#RegistrationsTable {
		table-layout: fixed;
	}

		#RegistrationsTable th, table td {
			overflow: hidden;
		}
</style>

@{
	ViewBag.Title = Model.Mode.ToString() + " License";
	ViewBag.ButtonText = (Model.Mode.ToString() == "Add") ? "Add" : "Save";
}

@using (Html.BeginForm("Edit", "License", FormMethod.Post, new { id = "EditForm" }))
{
	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if (Model.Mode == Mode.Edit)
			{
				<button type="button" id="EmailBtn" class="btn btn-primary btn-sm"><i class="fas fa-envelope"></i>&nbsp;Email</button>@:&nbsp; &nbsp; &nbsp;
			}
			<button type="submit" id="EditBtn" class="btn btn-primary btn-sm">@ViewBag.ButtonText</button>
			@if (Model.Mode == Mode.Edit)
			{
				<button type="button" id="DeleteBtn" class="btn btn-primary btn-sm">Delete</button>
			}
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		</div>
	</div>

	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		<hr class="form-hr" />
		@Html.ValidationSummary(true)
		@Html.HiddenFor(m => m.Id)
		@Html.HiddenFor(m => m.Mode)
		@Html.HiddenFor(m => m.HideProductCode)

		<div class="row">
			<div class="col-sm-5">
				<div class="form-group form-group-sm ">
					@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-3" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.Description, new { @class = "form-control", @autofocus = "autofocus" })
						@Html.ValidationMessageFor(m => m.Description)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Organization, new { @class = "control-label col-sm-3" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.Organization, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Organization)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.FirstName, new { @class = "control-label col-sm-3" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.FirstName)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.LastName, new { @class = "control-label col-sm-3" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.LastName)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Address, new { @class = "control-label col-sm-3" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Address)
					</div>
				</div>

				<div class="form-group form-group-sm">
					<div class="col-sm-7 col-sm-offset-3">
						@Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Address2)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.City, new { @class = "control-label col-sm-3" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.City, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.City)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.State, new { @class = "control-label col-sm-3" })
					<div class="col-sm-3">
						@Html.DropDownListFor(m => m.State, LookupsStandard.States, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.State)
					</div>
					@Html.LabelFor(m => m.Zip, new { @class = "control-label col-sm-1" })
					<div class="col-sm-3">
						@Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Zip)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Phone, new { @class = "control-label col-sm-3" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Phone)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Email, new { @class = "control-label col-sm-3" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Email)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Note, new { @class = "control-label col-sm-3" })
					<div class="col-sm-9">
						@Html.TextAreaFor(m => m.Note, 5, 70, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(m => m.Note)
					</div>
				</div>
			</div>

			<div class="col-sm-7">
				@if (Model.HideProductCode)
				{
					@Html.HiddenFor(m => m.License)
				}
				else
				{
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.License, new { @class = "control-label col-sm-4" })
						<div class="col-sm-6">
							@Html.TextBoxFor(m => m.License, new { @class = "form-control", @readonly = "readonly" })
							@Html.ValidationMessageFor(m => m.License)
						</div>
					</div>
				}

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.NumOfLicenses, new { @class = "control-label col-sm-4" })
					<div class="col-sm-2">
						@Html.TextBoxFor(m => m.NumOfLicenses, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.NumOfLicenses)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.InvoiceNumber, new { @class = "control-label col-sm-4" })
					<div class="col-sm-3">
						@Html.TextBoxFor(m => m.InvoiceNumber, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.InvoiceNumber)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.ChargifySite, new { @class = "control-label col-sm-4" })
					<div class="col-sm-4">
						@Html.TextBoxFor(m => m.ChargifySite, new { @class = "form-control", @readonly = "readonly" })
						@Html.ValidationMessageFor(m => m.ChargifySite)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.ChargifySubscriptionId, new { @class = "control-label col-sm-4" })
					<div class="col-sm-4">
						@Html.TextBoxFor(m => m.ChargifySubscriptionId, new { @class = "form-control", @readonly = "readonly" })
						@Html.ValidationMessageFor(m => m.ChargifySubscriptionId)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Paid, new { @class = "control-label col-sm-4" })
					<div class="col-sm-3">
						@Html.CheckBoxFor(m => m.Paid, new { @class = "padcheckbox" })
						@Html.ValidationMessageFor(m => m.Paid)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.PaidDate, new { @class = "control-label col-sm-4" })
					<div class="col-sm-3">
						@Html.TextBoxFor(m => m.PaidDate, "{0:d}", new { @class = "form-control datepicker" })
						@Html.ValidationMessageFor(m => m.PaidDate)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.ExpireDate, new { @class = "control-label col-sm-4" })
					<div class="col-sm-3">
						@Html.TextBoxFor(m => m.ExpireDate, "{0:d}", new { @class = "form-control datepicker" })
						@Html.ValidationMessageFor(m => m.ExpireDate)
					</div>
				</div>

				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Advertisements, new { @class = "control-label col-sm-4" })
					<div class="col-sm-3">
						@Html.CheckBoxFor(m => m.Advertisements, new { @class = "padcheckbox" })
						@Html.ValidationMessageFor(m => m.Advertisements)
					</div>
				</div>
			</div>
		</div>
		@if (!Model.Promotional)
		{
			<div class="row">
				<div class="col-sm-12">
					<br />
					<div class="panel panel-default">
						<div class="panel-heading"><b>Modules</b></div>
						<div class="panel-body">
							@Html.CheckBoxListFor(m => m.PostedModules.ModuleIds,
								m => m.AvailableModules,
								entity => entity.Id,
								entity => entity.Code,
								entity => Model.SelectedModuleIds.Contains(entity.Id),
								Position.Horizontal,
								x => new { @class = "checkboxrow" })
						</div>
					</div>
				</div>
			</div>
		}
	</div>
}

@if (Model.LicenseStatuses.Count > 0)
{
	var header = Model.LicenseStatuses.First();
	<br />
	<div class="panel panel-default">
		<div class="panel-heading"><b>Registrations</b><i> &nbsp;(using @Model.ActiveLicenseCount out of @Model.NumOfLicenses licenses)</i></div>
		<table id="RegistrationsTable" class="table table-striped table-hover table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => header.RegistrationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => header.GLIVerifyVersionCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => header.Organization)
                </th>
                <th>
                    @Html.DisplayNameFor(model => header.GLIAccessUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => header.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => header.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => header.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => header.RequestDateTime)
                </th>
                <th></th>
            </tr>

			@foreach (var item in Model.LicenseStatuses)
			{
				var activeClass = "";
				if (!item.Active)
				{
					activeClass = "text-red";
				}
            <tr class="@activeClass">
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GLIVerifyVersionCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GLIAccessUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => item.RequestDateTime)
                </td>
                <td class="text-right">
                    @if (item.Active)
                    {
                        @Html.ActionLink("Email", null, null, new { @class = "emailregistration", Id = item.Id.ToString(), Email = item.Email })
                    }
                    else
                    {
                        @Html.ActionLink("Activate", "Activate", new { Id = item.Id.ToString(), LicenseGroupId = Model.Id })
                    }

                    | @Html.ActionLink("Delete", null, null, new { @class = "deleteregistration", Id = item.Id.ToString(), LicenseGroupId = Model.Id })
                </td>
            </tr>
			}
		</table>
	</div>
}

<form id="OtherForm" method="post">
	@Html.Hidden("LicenseGroupId")
	@Html.Hidden("LicenseStatusId")
</form>

<script>
	$(function () {
		$('#DeleteBtn').on('click', function () {
			bootbox.confirm("Are you sure you want to Delete this license?", function (result) {
				if (result) {
					$('#Mode').val('@Mode.Delete.ToString()');
					$('#EditForm').submit();
				}
			});
		});

		$('#EmailBtn').on('click', function () {
			var licenseGroupId = $('#Id').val();
			var emailTo = $('#Email').val();

			bootbox.prompt({
				title: "Send license information to the following email:",
				value: emailTo,
				buttons: {
					confirm: {
						label: "Send",
						className: "btn-primary",
					}
				},
				inputType: "email",
				callback: function (result) {
					if (result) {
						$.post('@Url.Action("EmailGroupLicense", "License")', { Id: licenseGroupId, EmailTo: result }, function (result) {
							if (result == "ok") {
								bootbox.alert("Email has been sent.");
							}
						});
					}
				}
			});
		});

		// Delete registration
		$('.deleteregistration').on('click', function (e) {
			e.preventDefault();
			var licenseStatusId = $(this).attr("Id");
			var licenseGroupId = $(this).attr("LicenseGroupId");

			bootbox.confirm("Are you sure you want to Delete this registration?", function (result) {
				if (result) {
					$('#LicenseStatusId').val(licenseStatusId);
					$('#LicenseGroupId').val(licenseGroupId);
					$('#OtherForm').attr('action', '@Url.Action("DeleteRegistration")');
					$('#OtherForm').submit();
				}
			});
		});

		// Resend emails for the individual registrations
		$('.emailregistration').on('click', function (e) {
			e.preventDefault();
			var licenseStatusId = $(this).attr("id");
			var emailTo = $(this).attr("email");

			bootbox.prompt({
				title: "Resend registration information to the following email:",
				value: emailTo,
				buttons: {
					confirm: {
						label: "Send",
						className: "btn-primary",
					}
				},
				inputType: "email",
				callback: function (result) {
					if (result) {
						$.post('@Url.Action("EmailRegistration", "License")', { Id: licenseStatusId, EmailTo: result, Activate: false }, function (result) {
							if (result == "ok") {
								bootbox.alert("Email has been sent.");
							}
						});
					}
				}
			});
		});
	});
</script>
