﻿@model Submissions.Web.Areas.Verify.Models.LicenseIndexViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Verify License Management";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
        <div>
            <div>
                <label for="RegistrationIDSearchText">RegistrationID search:&nbsp;</label>
                <input id="RegistrationIDSearchText" type="text">&nbsp;
                <button id="RegistrationIDSearchButton" type="button">Search</button>
            </div>
        </div>
		@Html.ActionLink("Add", "Edit", new { mode = "Add" }, new { @class = "btn btn-primary btn-sm" })
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.LicenseIndexGridModel.Grid, "LicenseIndexGrid")
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
        $("#RegistrationIDSearchText").keypress(function (e) {
            var key = e.charCode || e.keyCode || 0;
            if (key === $.ui.keyCode.ENTER) {
                $("#RegistrationIDSearchButton").click();
            }
        });
        $("#RegistrationIDSearchButton").click(function () {
            var postData = $("#LicenseIndexGrid").getGridParam("postData"),
                searchText = $("#RegistrationIDSearchText").val();
            
            $("#LicenseIndexGrid").setGridParam("search", true);
            postData.searchText = searchText;
            postData.registrationIDSearch = true;
            $("#LicenseIndexGrid").setGridParam("postData", postData);
            $("#LicenseIndexGrid").trigger("reloadGrid", [{ page: 1, current: true }]);
        });
		function EditLink(cellValue, options, rowObject) {
			return '<a href="' + '@Url.Action("Edit", "License")' + '/' + options.rowId + '?mode=Edit">Edit</a>';
		}
	</script>
}