<template>
	<div class="gli-base-pagination">
		<base-button 
			is-compact
			@click="changePage(-1)" 
			:disabled="!hasPreviousPage">
			Previous
		</base-button>
		<h5>		
			<!-- @slot Override the text for result and page counts. -->	
			<slot
				v-if="itemCount > 0"
				name="pageText">
				{{ indexStart + 1 }}-{{ lastResult }} of {{ itemCount }} results - Page {{ page }} of {{ totalPages }}
			</slot>
			<!-- @slot Override the text for empty result sets. -->
			<slot
				v-else
				name="emptyText">
				No results
			</slot>
		</h5>
		<base-button 
			is-compact
			@click="changePage(1)" 
			:disabled="!hasNextPage">
			Next
		</base-button>
	</div>
</template>

<script>

/**
 * A component providing a standard interface for pagination.
 */
export default {
	props: {
		/**
		 * The total number of items.
		 */
		itemCount: {
			type: Number,
			required: true
		},
		/**
		 * The current page that the user is on.
		 */
		page: {
			type: Number,
			required: true
		},
		/**
		 * The number of items listed per page.
		 */
		pageLength: {
			type: Number,
			required: true
		},
	},
	computed: {
		firstResult: function() {
			return this.indexStart + 1;
		},
		hasNextPage: function() {
			return this.page < this.totalPages;
		},
		hasPreviousPage: function() {
			return (this.indexStart - this.pageLength) >= 0;
		},
		indexStart: function() {
			return ((this.page - 1) * this.pageLength);
		},
		indexEnd: function() {
			const end = this.page * this.pageLength - 1;
			const setEnd = this.itemCount - 1;
			return end > setEnd ? setEnd : end;
		},
		lastResult: function () {
			return this.indexEnd + 1;
		},
		totalPages: function() {
			return Math.ceil(this.itemCount / this.pageLength);
		}
	},
	methods: {		
		changePage: function(adjustment) {
			/**
			 * Event providing the updated page number
       		 * @property {Number} The new page number
			 */
			this.$emit("new-page-number", this.page + adjustment);
		},
	}
};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	.gli-base-pagination {
		padding: Spacing.$half Spacing.$full;

		h5 {
			display: inline-block;
			margin: 0 Spacing.$full;
		}
	}

</style>