﻿<template>
	<div style="width: 800px">
		<table ref="LetterPage" class="card">
			<tbody>
				<tr>
					<td class="letter-page-column-min">
						<table border=0 cellspacing=0 cellpadding=0 width=527 style="height:800px;width:500pt;border-collapse:collapse;border:none">
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Date of Report:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font">
										DateOfReportGoesHere
									</p>
								</td>
							</tr>
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Issuing Laboratory:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font">
										Gaming Laboratories World Headquarters <br />
										600 Airport Road, Lakewood, NJ 08087
									</p>
								</td>
							</tr>
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Report Recipient:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="recipient"></p>
								</td>
							</tr>
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Jurisdiction:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="jurName">
									</p>
								</td>
							</tr>
							<tr class="fit-content-height" v-if="letterPreviewJurisdiction !== 394">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Technical Standards for Testing:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="technicalStandards"></p>
								</td>
							</tr>
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Software Suppliers:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="softwareSupplier">
									</p>
								</td>
							</tr>
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Submitting Party:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="submittingParty">
									</p>
								</td>
							</tr>
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Products Tested:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="productsTested">
									</p>
								</td>
							</tr>
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Everi Reference:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font"  v-html="everiReference">
										
									</p>
								</td>
							</tr>
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											PID ID:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="pidID">
										
									</p>
								</td>
							</tr>
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											IGT Material Numbers:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="igtMaterials">
									</p>
								</td>
							</tr>
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											File Numbers:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="fileNumbers">
									</p>
								</td>
							</tr>
							<tr class="fit-content-height">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Testing Results:
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font">
										<!-- Set as static from .doc in LETAUT-1208 -->
										<b>Recommended for Approval</b>
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="letter-page-break row print-hidden">
			<div class="row">
				<br /><br />
			</div>
		</div>
	</div>

</template>

<script>
	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters: generateLetterGetters, mapActions: generateLetterActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	export default {
		computed: {
			...generateLetterGetters([
				'letterPreviewJurisdiction'
			]),
			...sourceGetters([
				'jurisdictionLetterDetails',
				'components',
			]),
			juriLetterDetails: function () {
				return this.jurisdictionLetterDetails(this.letterPreviewJurisdiction);
			},
			recipient: function () {
				return this.juriLetterDetails.recipient;
			},
			softwareSupplier: function () {
				return this.juriLetterDetails.softwareSupplier;
			},
			productsTested: function () {
				if (this.components.length > 5) {
					return "See Table on next page"
				}
				else {
					return this.components.map(x => x.gameName).unique().join('\n');
				}
			},
			submittingParty: function () {
				return this.juriLetterDetails.submittingParty;
			},
			jurName: function () {
				return this.juriLetterDetails.name;
			},
			fileNumbers: function () {
				let fileNumbers = this.components.filter(component => component.jurisdictionalData.map(jur => parseInt(jur.jurisdictionId)).includes(this.letterPreviewJurisdiction)).map(x => x.fileNumber)
				const names = [];
				fileNumbers.forEach(function (file) {
					if (!names.includes(file)) {
						names.push(file);
					}
				});
				return names.join("<br>")
			},
			everiReference: function () {
				return this.juriLetterDetails.letterNumber;
			},
			pidID: function () {
				return this.components
					.filter(x => x.jurisdictionalData.map(y => y.jurisdictionId).indexOf(this.letterPreviewJurisdiction.toString()) !== -1)
					.map(x => x.purchaseOrder).unique().join('\n');
			},
			technicalStandards: function () {
				return this.juriLetterDetails.technicalStandards;
			},
			igtMaterials: function () {
				return this.components.map(x => x.orgIGTMaterial).unique().join('\n');
			}
		},
	}
</script>

<style scoped>

	.card {
		width: 793px;
		background-color: white;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		transition: 0.5s;
		border-radius: 5px;
		height: 100%;
		margin: 8px;
		padding: 15px;
	}

		.card:hover {
			box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
		}
</style>