﻿<template>
	<div style="width: 800px">
		<table ref="LetterPage" class="card">
			<tbody>
				<tr>
					<td class="letter-page-column">
						<table :style="{ height: isWV ? '400px' :'800px'  }" border=0 cellspacing=0 cellpadding=0 width=527 style="width:500pt;border-collapse:collapse;border:none">
							<tr>
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Certification Number
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="fileNumbers">
									</p>
								</td>
							</tr>
							<tr>
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Issue Date
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font">
										DateOfReportGoesHere
									</p>
								</td>
							</tr>
							<tr>
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Regulatory Recipient
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="recipient"></p>
								</td>
							</tr>
							<tr>
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Submitting Party
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font" v-html="submittingParty"></p>
								</td>
							</tr>
							<tr v-if="displayReferenceNumberOrNetworkNumber">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Reference Number
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font">
										{{ referenceNumberLine }}
									</p>
								</td>
							</tr>
							<tr>
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Issued By
										</b>
									</p>
									<p class="first-page-font">
										<b>
											&nbsp;
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font">
										Gaming Laboratories World Headquarters <br />
										600 Airport Road, Lakewood, NJ 08087
									</p>
								</td>
							</tr>
							<tr v-if="letterPreviewJurisdiction !== 394">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Standards for Compliance
										</b>
									</p>
									<p class="first-page-font">
										<b>
											&nbsp;
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<div v-html="technicalStandards"></div>
								</td>
							</tr>
							<tr v-if="isNevada">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Nevada Registration Number
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font">
										31668-01
									</p>
								</td>
							</tr>
							<tr v-if="displayStartDateOfTesting">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Start Date of Product Testing
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font">
										{{ startDateOfTesting | formatDateMonthDDYYY }}
									</p>
								</td>
							</tr>
							<tr v-if="isNewYorkStateCommercialCasino">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											License Number
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font">
										Temporary License October 6, 2016
									</p>
								</td>
							</tr>
							<tr v-if="displayCertNumber">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											Ohio Lottery Certification Number
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font">
										{{ certNumber }}
									</p>
								</td>
							</tr>
							<tr v-if="!isWV">
								<td class="first-page-left-column">
									<p class="first-page-font">
										<b>
											&nbsp;
										</b>
									</p>
								</td>
								<td class="first-page-right-column">
									<p class="first-page-font">
										&nbsp;
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr v-if="isWV">
					<td>
						<table>
							<tr>
								<td width="25pt"></td>
								<td>
									<table border=0 cellspacing=0 cellpadding=0 width="100%" style="border-collapse:collapse;border:none">
										<tr>
											<td>
												<span class="first-page-font">
													The above referenced hardware and or software has been tested against the VLT Submissions Standards Racetrack/Greenbrier v5.5 in accordance with the standards set forth in the West Virginia Code &sect;29-22A-6. The results of tests performed by <strong>Gaming Laboratories International, LLC</strong> confirm that the hardware and or software certified in this letter is in compliance with these standards.
												</span>
											</td>
										</tr>
										<tr>
											<td width="100%">
												<table>
													<tr>
														<td width="15%">
															1. {{isOneChecked ? '__X__' : '_____'}}
														</td>
														<td>
															This certification concerns testing for <strong>new</strong> software and/or <strong>new</strong> or previously approved hardware.
														</td>
													</tr>
													<tr>
														<td width="15%">
															2. {{isTwoChecked ? '__X__' : '_____'}}
														</td>
														<td>
															This certification concerns testing of <strong>a revision to previously approved</strong> software that does not change the assembly or operational functions of the terminal as previousl approved.
														</td>
													</tr>
													<tr>
														<td width="15%">
															3. {{isThreeChecked ? '__X__' : '_____'}}
														</td>
														<td>
															This certification does not concern terminal hardware or software, however it is related to video lottery in some manner.
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>

					</td>
				</tr>

			</tbody>
		</table>
		<div class="letter-page-break row print-hidden">
			<div class="row">
				<br /><br />
			</div>
		</div>
	</div>
</template>
<script>
	import { isNull } from '@/common';
	import { isNotNull } from '@/common';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters: generateLetterGetters, mapActions: generateLetterActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	export default {
		name: 'USFirstPage',
		data: function () {
			return {
			}
		},
		props: {
		},
		computed: {
			isOneChecked: function () {
				return this.modifications.filter(
					x => x.applicableJurisdictions.indexOf(5) !== -1 || x.applicableJurisdictions.indexOf(319) !== -1
				).length === 0; //wv specific 
			},
			isTwoChecked: function () {
				return this.modifications.filter(
					x => x.applicableJurisdictions.indexOf(5) !== -1 || x.applicableJurisdictions.indexOf(319) !== -1
				).length > 0;  //wv specific
			},
			isThreeChecked: function () {
				return false; // from ticket: (Line #3 will never be marked in Letter Builder v1, since we are only doing games)
			},
			isWV: function () {
				return this.letterPreviewJurisdiction === 5 || this.letterPreviewJurisdiction === 319;
			},
			fileNumbers: function () {
				let fileNumbers = this.components.filter(component => component.jurisdictionalData.map(jur => parseInt(jur.jurisdictionId)).includes(this.letterPreviewJurisdiction)).map(x => x.fileNumber)
				const names = [];
				fileNumbers.forEach(function (file) {
					if (!names.includes(file)) {
						names.push(file);
					}
				});
				return names.join("<br>")
			},
			allRefNumbers: function () {
				let self = this;
				let letterNumbers = [];
				let comps = this.components.filter(component => component.jurisdictionalData.map(jur => parseInt(jur.jurisdictionId)).includes(self.letterPreviewJurisdiction))
				comps.forEach(function (comp) {
					comp.jurisdictionalData.forEach(function (jur) {
						if (parseInt(jur.jurisdictionId) == self.letterPreviewJurisdiction) {
							if (!letterNumbers.includes(jur.letterNumber)) {
								letterNumbers.push(jur.letterNumber);
							}
						}
					})
				});
				return letterNumbers.join(", ")
			},
			allNetworkNumbers: function () {
				let self = this;
				let networks = [];
				let comps = this.components.filter(component => component.jurisdictionalData.map(jur => parseInt(jur.jurisdictionId)).includes(self.letterPreviewJurisdiction))
				comps.forEach(function (comp) {
					comp.jurisdictionalData.forEach(function (jur) {
						if (parseInt(jur.jurisdictionId) == self.letterPreviewJurisdiction) {
							if (!networks.includes(jur.clientNumber)) {
								networks.push(jur.clientNumber);
							}
						}
					})
				});
				return networks.join(", ")
			},
			juriLetterDetails: function () {
				return this.jurisdictionLetterDetails(this.letterPreviewJurisdiction);
			},
			startDateOfTesting: function () {
				return this.juriLetterDetails.evalPeriodFrom;
			},
			recipient: function () {
				return this.juriLetterDetails.recipient;
			},
			submittingParty: function () {
				return this.juriLetterDetails.submittingParty;
			},
			issueDate: function () {
				return this.juriLetterDetails.issueDate;
			},
			technicalStandards: function () {
				return this.juriLetterDetails.technicalStandards;
			},
			referenceNumber: function () {
				return this.allRefNumbers;
			},
			useReferenceNumber: function () {
				return isNotNull(this.allRefNumbers) && this.allRefNumbers.length > 0;
			},
			networkNumber: function () {
				return this.allNetworkNumbers;
			},
			useNetworkNumber: function () {
				return isNotNull(this.allNetworkNumbers) && this.allNetworkNumbers.length > 0;
			},
			referenceNumberLine: function () {
				if (this.useReferenceNumber && this.useNetworkNumber)
					return this.referenceNumber + " / " + this.networkNumber;
				else if (this.useReferenceNumber)
					return this.referenceNumber;
				else
					return this.networkNumber;
			},
			certNumber: function () {
				return this.juriLetterDetails.certNumbers.join(', ');
			},
			displayReferenceNumberOrNetworkNumber: function () {
				return this.useReferenceNumber || this.useNetworkNumber;
			},
			displayStartDateOfTesting: function () {
				return this.isMassachusettsGaming;
			},
			displayCertNumber: function () {
				return this.isOhioLottery;
			},
			isNevada: function () {
				return this.letterPreviewJurisdiction === 394 || this.letterPreviewJurisdiction === 94;
			},
			isMassachusettsGaming: function () {
				return this.letterPreviewJurisdiction === 497;
			},
			isNewYorkStateCommercialCasino: function () {
				return this.letterPreviewJurisdiction === 525;
			},
			isOhioLottery: function () {
				return this.letterPreviewJurisdiction === 129;
			},
			...letterGetters([
				'bundleName',
				'fileNumber',
				'evalLabLetterCodes',
				'jurisdictionIds'
			]),
			...generateLetterGetters([
				'letterPreviewJurisdiction'
			]),
			...sourceGetters([
				'jurisdictionLetterDetails',
				'components',
				'modifications',
			]),
		},
		methods: {
			exampleMethod: function () {
				return 0;
			},
			...letterActions([
			]),
			...generateLetterActions([
			]),
			...sourceActions([
			]),
		},
		watch: {
		},
		filters: {
		},
		components: {
		},
		beforeCreate: function () {
		},
		created: function () {
		},
		beforeMount: function () {
		},
		mounted: function () {
		},
		beforeUpdate: function () {
		},
		updated: function () {
		},
		activated: function () {
		},
		deactivated: function () {
		},
		beforeDestroy: function () {
		},
		destroyed: function () {
		},
		errorCaptured: function () {
		}
	};
</script>
<style scoped>

	.card {
		width: 793px;
		background-color: white;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		transition: 0.5s;
		border-radius: 5px;
		height: 100%;
		margin: 8px;
		padding: 15px;
	}

		.card:hover {
			box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
		}
</style>

