﻿@model Submissions.Web.Areas.Notifications.Models.MonitorViewModel

@{
	ViewBag.Title = "Notificaton Dashboard";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "NotificationForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Next Messages", "Index", null, new { @class = "btn btn-primary btn-sm", id = "NextBtn" })
		@Html.ActionLink("Exit", "Index", "", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

<table class="table table-striped table-hover">
	@if (Model.Messages.Count() == 0)
	{
		<tr>
			<td>There are no new messages available.</td>
		</tr>
	}
	else
	{
		foreach (var item in Model.Messages)
		{
			if (item.messagesAvailable)
			{
				<tr>
					<td><strong>@item.Notification.Subject</strong></td>
				</tr>
				<tr>
					<td>@Html.Raw(item.Notification.EmailContent)</td>
				</tr>
			}
		}
	}
</table>