﻿$primaryDark: #171d47;
$primary: #013e7d;
$primaryLight: #0081df;

$secondaryDark: #6a0026;
$secondary: #b40230;
$secondaryLight: #f7002c;

$editDark: #dd8b10;
$edit: #ffca63;
$editLight: #ffea9e;

$accentDark: #688194;
$accent: #bfcdd7;
$accentLight: #e1ebf3;

$successDark: #006316;
$success: #00bb13;
$successLight: #5ef845;

$white: #fff;
$text: #000;
$textLight: #333;

// Backwards compatible aliases
$blue: $primary;
$blueLight: $primaryLight;
$destructive: $secondaryLight;
$destructiveDark: $secondary;
$grayDark: $accentDark;
$gray: $accent;
$grayLight: $accentLight;
