@use "@/components/theme/Colors";

@mixin body {
	/* Body Text */

	color: Colors.$text;
	// font-family: Public Sans;
	font-size: 12px;
	font-style: normal;
	font-weight: 800;
}

@mixin button-label {
	/* Button Label */

	color: Colors.$text;
	// font-family: Public Sans;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

@mixin h1 {
	/* H1 Header */

	color: Colors.$primary;
	// font-family: Public Sans;
	font-size: 48px;
	font-style: normal;
	font-weight: 900;
}

@mixin h2 {
	/* H2 Header */

	color: Colors.$primary;
	// font-family: Public Sans;
	font-size: 36px;
	font-style: normal;
	font-weight: 300;
}

@mixin h3 {
	/* H3 Header */

	color: Colors.$primary;
	// font-family: Public Sans;
	font-size: 24px;
	font-weight: 500;
}

@mixin h4 {
	/* H4 Header */

	color: Colors.$text;
	// font-family: Public Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
}

@mixin h4-sub {
	/* H4 Subheader */

	color: Colors.$accentDark;
	// font-family: Public Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin h5 {
	/* H5 Header */

	color: Colors.$text;
	// font-family: Public Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 800;
}

@mixin h5-sub {
	/* H5 Subheader */

	color: Colors.$accentDark;
	// font-family: Public Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin h6 {
	/* H6 Header */

	color: Colors.$text;
	// font-family: Public Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 800;
}

@mixin h6-sub {
	/* H6 Subheader */

	color: Colors.$accentDark;
	// font-family: Public Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}
