﻿@model Submissions.Web.Areas.Protrack.Models.Project.QuickDetailViewModel

<style>
	/******Grid stuff*******/
	#QuickDetailJurisdictions tbody > tr > td {
		font-size: 10px;
	}

	#gview_QuickDetailJurisdictions thead > tr > th {
		font-size: 10px;
	}

	#QuickDetailTaskGrid tbody > tr > td {
		font-size: 10px;
	}

	#gview_QuickDetailTaskGrid thead > tr > th {
		font-size: 10px;
	}

	#QuickDetailProjectNotes tbody > tr > td {
		font-size: 10px;
	}

	#gview_QuickDetailProjectNotes thead > tr > th {
		font-size: 10px;
	}

	#QuickDetailTargetDate tbody > tr > td {
		font-size: 10px;
	}

	#gview_QuickDetailTargetDate thead > tr > th {
		font-size: 10px;
	}

	#QuickDetailOHHistory tbody > tr > td {
		font-size: 10px;
	}

	#gview_QuickDetailOHHistory thead > tr > th {
		font-size: 10px;
	}

	#QuickCOSRequestsGrid tbody > tr > td {
		font-size: 10px;
	}

	#gview_QuickCOSRequestsGrid thead > tr > th {
		font-size: 10px;
	}

	#QuickDetailJirasGrid tbody > tr > td {
		font-size: 10px;
	}

	#gview_QuickDetailJirasGrid thead > tr > th {
		font-size: 10px;
	}
	/*************/
	#QuickDetail {
		font-size: 10px;
	}

	#GeneralTable tbody > tr > td:first-child {
		font-weight: bold;
		white-space: nowrap;
		/*font-size: 10px;*/
	}

	#MTHData {
		font-weight: lighter;
		white-space: nowrap;
		font-size: 9px;
	}

	#GeneralTable tbody > tr > td:nth-child(2) {
		padding-left: 20px;
		/*font-size: 10px;*/
	}

	.nav-tabs > li > a {
		/* adjust padding for height*/
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 4px;
		padding-right: 4px;
		/*font-size: 10px;*/
	}

	.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a {
		margin-top: 1px;
	}

	.nav-tabs > li {
		margin-bottom: 0px;
	}

		.nav-tabs > li.active {
			margin-bottom: -1px;
		}
</style>

@Html.HiddenFor(m => m.ProjectId)
@Html.HiddenFor(m => m.FileNumber)
<div id="QuickDetail" style="padding-left:15px; padding-top:0px">
	<div class="row" style="padding-top:0px">
		<div class="col-sm-12">
			<h4><span class="pull-left"><small><a href="javascript:openDetail(@Model.ProjectId)">Refresh&nbsp;<i class="fas fa-sync" aria-hidden="true"></i></a></small></span><span class="pull-right"><a href='@Url.Action("Detail", "Project")/@Model.ProjectId' target="_blank"><i class="far fa-eye" aria-hidden="true">View More Detail</i></a>&nbsp;&nbsp;</span></h4>
		</div>
	</div>
	<div class="panel panel-default" id="GeneralInfo">
		<div class="panel-heading">
			<h4 class="form-h4 panel-title">
				<small>
					Detail for @if (Model.FileNumber != Model.ProjectName)
					{<font class="transferProjectIndicator">@Model.ProjectName</font>}
				else
				{@Model.ProjectName}&nbsp;(@Model.ProjectStatus) @if (Model.OnHold == 1)
				{<code>On Hold</code>}
			</small>
		</h4>
	</div>
	<div class="panel-body">
		<div id="General">
			<div class="row">
				<div class="col-sm-6">
					<table id="GeneralTable">
						<tr>
							<td>@Html.DisplayNameFor(m => m.EstTestCompleteDate)</td>
							<td>@Model.EstTestCompleteDate.ToString("d")</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(m => m.MAEstCompleteDate)</td>
							<td>
								@if (Model.IsEstMathCompleteDateToBeDetermined)
								{
									@:TBD
								}
								else
								{
									@Model.MAEstCompleteDate.ToString("d")
								}
							</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(m => m.ENEstCompleteDate)</td>
							<td>@Model.ENEstCompleteDate.ToString("d")</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(m => m.QAAcceptDate)</td>
							<td>@Model.QAAcceptDate.ToString("d")</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(m => m.TargetDate)</td>
							<td>@Model.TargetDate.ToString("d")</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(m => m.IsTargetOnTrack)</td>
							<td>
								@if (Model.IsTargetOnTrack == null)
								{

								}
								else if (Model.IsTargetOnTrack == true)
								{
									@:Yes
								}
								else
								{
									@:No
								}
							</td>
						</tr>
					</table>
				</div>
				<div class="col-sm-6">
					<table id="GeneralTable">
						<tr>
							<td>@Html.DisplayNameFor(m => m.EstHours)</td>
							<td><span id="EstHours"></span></td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(m => m.ActHours)@Html.Label("(NC)") </td>
							<td><span id="ActHours"></span></td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(m => m.UnExpectedHours)</td>
							<td><span id="UnExpectedHours">@Model.UnExpectedHours</span></td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(m => m.PercentageComplete)</td>
							<td><span id="PercentageComplete"></span></td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(m => m.EstOverage)</td>
							<td><span id="EstOverage"></span></td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(m => m.NonBillable)</td>
							<td><span id="NonBillable"></span></td>
						</tr>
						@*<tr>
								<td colspan="2"><span id="MTHData"></span></td>
							</tr>*@
					</table>
				</div>
			</div>
			<div class="row col-sm-12">
				<table>
					<tr>
						<td>@Html.Label("Incoming Review")</td>
						@if (Model.IncomingReview.Required)
						{
							<td nowrap>
								<span title="Incoming Review" id="openIncomingReview" style="cursor:pointer">
									&nbsp;<i class="far fa-edit" aria-hidden="true"></i>
								</span>
								@if (Model.IncomingReview.Completed != null)
								{
									<p><small><span class="text">@Model.IncomingReview.CompletedBy </span>completed the Incoming Review on<span> @Model.IncomingReview.Completed</span></small></p>
								}
							</td>
						}
						else
						{
							<td><i>Project does not require an Incoming Review.</i></td>
						}
					</tr>
				</table>
			</div>

		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.TasksGrid.Grid, Model.TasksGrid.Grid.ID)
	</div>
</div>
<br />
<div class="row">
	<div class="col-sm-12">
		<ul class="nav nav-tabs" id="Tabview">
			<li class="active"><a href="#Submission" data-toggle="tab">Submission Data</a></li>
			<li><a href="#Project" data-toggle="tab">Project and Target/OH Notes</a></li>
			<li><a href="#Jira" data-toggle="tab">Jira Issues</a></li>
			<li><a href="#RowSummary" data-toggle="tab">Row Summary</a></li>
		</ul>
	</div>
</div>
<div class="tab-content ">
	<div id="Submission" class="tab-pane fade active in">
		<br />
		<div class="row ">
			<div class="col-sm-6">
				<table id="GeneralTable" style="border:thin;border-color:grey;border-width:thin">
					<tr>
						<td>@Html.DisplayNameFor(m => m.SubmissionDetail.ContractType)</td>
						<td>@Model.SubmissionDetail.ContractType</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(m => m.SubmissionDetail.OwningEntity)</td>
						<td>@Model.SubmissionDetail.OwningEntity</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(m => m.SubmissionDetail.Currency)</td>
						<td>@Model.SubmissionDetail.Currency</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-6">
				<span class="pull-right"><a href="@Url.Action("detail", "submission", new { filenumber = @Model.FileNumber , Area = "submission"})" target=" _blank">View Submissions</a>&nbsp;</span>
				<table id="GeneralTable" style="position:relative">
					<tr>
						<td>@Html.DisplayNameFor(m => m.SubmissionDetail.TestLab)</td>
						<td>@Model.SubmissionDetail.TestLab</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(m => m.SubmissionDetail.ArchiveLocation)</td>
						<td>@Model.SubmissionDetail.ArchiveLocation</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(m => m.SubmissionDetail.CertLab)</td>
						<td>@Model.SubmissionDetail.CertLab</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<div class="col-sm-12">
					<br />
					<span class="pull-right"><a href='#' id="" onclick="CopyRowsData(@Model.SubmissionDetail.SubComponentsGrid.Grid.ID,true);">[Copy Jurisdictions]</a>&nbsp;&nbsp;</span>
				</div>
			</div>
			<div class="col-sm-12">
				@Html.Trirand().JQGrid(Model.SubmissionDetail.SubComponentsGrid.Grid, Model.SubmissionDetail.SubComponentsGrid.Grid.ID)
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-12">
				<span class="pull-right"><a href='#' id="AddCOS">[Add new Change of Status]</a>&nbsp;&nbsp;</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				@Html.Trirand().JQGrid(Model.COSGrid.Grid, Model.COSGrid.Grid.ID)
			</div>
		</div>
	</div>

	<div id="Project" class="tab-pane fade">
		<div style="position:relative">
			<div class="row">
				<div class="col-sm-12">
					@Html.Trirand().JQGrid(Model.ProjectNotes.Grid, Model.ProjectNotes.Grid.ID)
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-12">
					<span class="pull-right"><a href='@Url.Action("Index", "TargetDate")?projectid=@Model.ProjectId' target="_blank" id="ManageTarget">[Manage Target Date]</a>&nbsp;&nbsp;</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					@Html.Trirand().JQGrid(Model.TargetDateHistory.Grid, Model.TargetDateHistory.Grid.ID)
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-12">
					<span class="pull-right"><a href='@Url.Action("Index","OnHold")?ProjectID=@Model.ProjectId' target="_blank" id="ManageOH">[Manage OnHold]</a>&nbsp;&nbsp;</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					@Html.Trirand().JQGrid(Model.OHHistory.Grid, Model.OHHistory.Grid.ID)
				</div>
			</div>
		</div>
	</div>

	<div id="Jira" class="tab-pane fade">
		<div>
			<div class="row">
				<div class="col-sm-12">
					<br />
					<span class="pull-right"><a href='#' id="projectJiraList" onclick="GoToProjectJira();">[Go To Project Jiras]</a>&nbsp;&nbsp;</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					@Html.Trirand().JQGrid(Model.JiraGrid.Grid, Model.JiraGrid.Grid.ID)
				</div>
			</div>
		</div>
	</div>

	<div id="RowSummary" class="tab-pane fade">
		<div>
			<div class="row col-sm-12">

				<span id="SummaryError" class="text-warning"></span>
				<br />
				<a href="javascript:RefreshSummary()">Refresh Summary&nbsp;<i class="fas fa-sync" aria-hidden="true"></i></a>
				<br /><br />

			</div>
			<br />
			<div class="row ">

				<div class="col-sm-6">
					<table id="GeneralTable" style="border:thin;border-color:grey;border-width:thin">
						<tr>
							<td>Selected Rows:</td>
							<td><span id="SelectedRows"></span></td>
						</tr>
						<tr>
							<td>Total Est Hrs:</td>
							<td><span id="TotalEst"></span></td>
						</tr>
						<tr>
							<td>Total NC Hrs:</td>
							<td><span id="TotalNC"></span></td>
						</tr>
						<tr>
							<td>Total Act Hrs:</td>
							<td><span id="TotalAct"></span></td>
						</tr>
					</table>
				</div>
				<div class="col-sm-6">
					<table id="GeneralTable" style="position:relative">
						<tr>
							<td>Ave. Age:</td>
							<td><span id="AvgAge"></span></td>
						</tr>
						<tr>
							<td>Ave. Days to Traget:</td>
							<td><span id="AvgDayToTarget"></span></td>
						</tr>
						<tr>
							<td>Ave. On Hold Time:</td>
							<td><span id="AvgOnHold"></span></td>
						</tr>
						<tr>
							<td>Ave. Budget:</td>
							<td><span id="AvgBudget"></span></td>
						</tr>

					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

@*All Javascript loading of Grids are index view*@
<script>
	$(function () {
		//load through ajax to speed up load
		//Commented below as now Task grid displays all tasks from Dyncs as well as protracks
		//  var url = '@Url.Action("GetUnassignedHours", "Project")?id=' + $('#ProjectId').val();
		// $.ajax({
		// url: url,
		// success: function (result) {
		// $('#UnExpectedHours').text(result.UnExpectedHours)
		//  $('#NonBillable').text(result.NonBillable)
		//  }
		// });
		//********

		//Set data from grid, instead of querying again
		$('#' + '@Model.TasksGrid.Grid.ID').jqGrid("setGridParam", {
			gridComplete: function () {
				var $grid = $('#' + '@Model.TasksGrid.Grid.ID');
				var colEstSum = $grid.jqGrid('getCol', 'EstimateHours', false, 'sum');
				var colActSum = $grid.jqGrid('getCol', 'ActualHours', false, 'sum');

				$('#EstHours').text(colEstSum)

				//Percentage overage
				var ids = $grid.jqGrid("getDataIDs");
				var sumOverage = 0
				var unExpected = 0
				var nonBillable = 0
				var ActBillable = 0
				var ActNoCharge = 0
				var MTHEst = 0
				var MTHAct = 0
				for (var i = 0; i < ids.length; i++) {
					var rowId = ids[i];
					var rowData = $grid.jqGrid('getRowData', rowId);

					if (parseFloat(rowData.ActualHours) > parseFloat(rowData.EstimateHours)) {
						sumOverage += (rowData.ActualHours - rowData.EstimateHours)
						$grid.jqGrid('setCell', rowId, "ActualHours", "", { 'color': 'red' }); // background - color
					}

					if (rowData.Department == "@Department.MTH.ToString()") {
						MTHEst = parseFloat(MTHEst) + parseFloat(rowData.EstimateHours)
						MTHAct = parseFloat(MTHAct) + parseFloat(rowData.ActualHours)
					}

					//If Task not Assigned, it's Unexpected hours
					if (rowData.IsAssigned == "No" && rowData.BillType == "@BillType.Billable.ToString()") {
						unExpected = parseFloat(unExpected) + parseFloat(rowData.ActualHours)
					}

					if (rowData.BillType == "@BillType.NonBillable.ToString()") {
						nonBillable = parseFloat(nonBillable) + parseFloat(rowData.ActualHours)
					}

					if (rowData.BillType == "@BillType.Billable.ToString()") {
						ActBillable = parseFloat(ActBillable) + parseFloat(rowData.ActualHours)
					}

					if (rowData.BillType == "@BillType.NoCharge.ToString()") {
						ActNoCharge = parseFloat(ActNoCharge) + parseFloat(rowData.ActualHours)
					}
				}
				//Set Actual billable
				$('#ActHours').text(ActBillable + '(' + ActNoCharge + ')') //Contains hours of Unassigned tasks

				//Set percentage
				var percentageC = 0
				if (parseFloat($('#EstHours').text()) != 0 && parseFloat($('#ActHours').text()) != 0) {
					percentageC = ((parseFloat($('#ActHours').text()) / parseFloat($('#EstHours').text())) * 100).toFixed(2);
				}

				$('#PercentageComplete').text(percentageC + "%");
				//Set Unexpected
				$('#UnExpectedHours').text(unExpected)

				//Set Non-billable
				$('#NonBillable').text(nonBillable)

				var percentageO = 0
				if (colEstSum > 0) {
					percentageO = (((parseFloat($('#UnExpectedHours').text()) + sumOverage) / colEstSum) * 100).toFixed(2);
				}
				$('#EstOverage').text(percentageO + "%");

				if (MTHEst > 0) {
					var MTHPen = 0
					if (MTHEst > 0 && MTHAct > 0) {
						var MTHPen = ((parseFloat(MTHEst) / parseFloat(MTHAct)) * 100).toFixed(2);
					}
					//$('#MTHData').text("Math Est-" + MTHEst + "  |  Math Act-" + MTHAct + "  | Math Pen-" + MTHPen +  "%")
				}

			}
		});

		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			var target = $(e.target).attr("href") // activated tab

			if (target == "#Project") {
				$('#Project').show();
				$('#Submission').hide();
				$('#Jira').hide();
				$('#RowSummary').hide();

				$('#QuickDetailTargetDate').setGridWidth($('#GeneralInfo').width(), false);
				$('#QuickDetailProjectNotes').setGridWidth($('#GeneralInfo').width(), false);
				$('#QuickDetailOHHistory').setGridWidth($('#GeneralInfo').width(), false);

			}
			else if (target == "#Submission") {
				$('#Submission').show();
				$('#Project').hide();
				$('#Jira').hide();
				$('#RowSummary').hide();
			}
			else if (target == "#Jira") {
				$('#Jira').show();
				$('#Project').hide();
				$('#Submission').hide();
				$('#RowSummary').hide();
				$('#QuickDetailJirasGrid').setGridWidth($('#GeneralInfo').width(), false);
			}
			else {
				$('#RowSummary').show();
				$('#Project').hide();
				$('#Submission').hide();
				$('#Jira').hide();
				PopulateSelRowSummary("#ProjectGrid");
			}
		});

		$("#QuickDetailTaskGrid").parents('div.ui-jqgrid-bdiv').css("max-height", "150px");
		$("#QuickDetailJurisdictions").parents('div.ui-jqgrid-bdiv').css("max-height", "150px");
		$("#QuickDetailProjectNotes").parents('div.ui-jqgrid-bdiv').css("max-height", "150px");
		$("#QuickDetailTargetDate").parents('div.ui-jqgrid-bdiv').css("max-height", "150px");
		$("#QuickDetailOHHistory").parents('div.ui-jqgrid-bdiv').css("max-height", "150px");
		$("#QuickCOSRequestsGrid").parents('div.ui-jqgrid-bdiv').css("max-height", "150px");
		$("#QuickDetailJirasGrid").parents('div.ui-jqgrid-bdiv').css("max-height", "300px");

		//reorder columns for Jurisdictions
		$("#QuickDetailJurisdictions").remapColumns([2, 4, 7, 8, 9, 10, 13, 1, 3], true);

		$('#AddCOS').click(function () {
			$("body").append($('<input type="text" name="textToCopy" class="textToCopyInput"/>')
			.val("@Model.ProjectName"))
			.find(".textToCopyInput").select();
			document.execCommand('copy');

			$(".textToCopyInput").remove();
			window.open('/ChangeOfStatus/ChangeOfStatusForm.aspx')
		});

		$('#openIncomingReview').click(function () {
			window.open("@Url.Action("Index", "IncomingReview", new { id = Model.ProjectId })");
		});

	});


</script>
