﻿@model Submissions.Web.Areas.Protrack.Models.Project.TaskHoursViewModel
@{
	if (Request["FromClassic"] != null)
	{
		ViewBag.noNavBar = true;
	}
	else
	{
		Layout = null;
	}

}
<span>@BillType.Billable.GetEnumDescription()</span>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Task ID</th>
			<th>Task Description</th>
			<th>Employee Name</th>
			<th>Hours</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Billable)
		{
			<tr>
				<td>@item.TaskId</td>
				<td>@item.Description</td>
				<td>@item.User</td>
				<td>@item.Hours</td>
			</tr>
		}
	</tbody>
</table>
<br />
<span>@BillType.NonBillable.GetEnumDescription() </span>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Task ID</th>
			<th>Task Description</th>
			<th>Employee Name</th>
			<th>Hours</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.NonBillable)
		{
			<tr>
				<td>@item.TaskId</td>
				<td>@item.Description</td>
				<td>@item.User</td>
				<td>@item.Hours</td>
			</tr>
		}
	</tbody>
</table>
<br />
<span>@BillType.NoCharge.GetEnumDescription()</span>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Task ID</th>
			<th>Task Description</th>
			<th>Employee Name</th>
			<th>Hours</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.NoCharge)
		{
			<tr>
				<td>@item.TaskId</td>
				<td>@item.Description</td>
				<td>@item.User</td>
				<td>@item.Hours</td>
			</tr>
		}
	</tbody>
</table>
<br />
<span>Total Hours</span>
<table class="table table-striped">
	<thead>
		<tr>
			<th width="80%"></th>
			<th width="10%">Estimates</th>
			<th width="10%">Actual</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td align="right">@BillType.Assigned Total:</td>
			<td>@Model.TotalEstAssigned</td>
			<td>@Model.TotalActualAssigned</td>
		</tr>
		<tr>
			<td align="right">@BillType.Billable.GetEnumDescription() Total:</td>
			<td></td>
			<td>@Model.TotalActualBillable</td>
		</tr>
		<tr>
			<td align="right">@BillType.NonBillable.GetEnumDescription() Total:</td>
			<td></td>
			<td>@Model.TotalActualNonBillable</td>
		</tr>
		<tr>
			<td align="right">@BillType.NoCharge.GetEnumDescription() Total:</td>
			<td></td>
			<td>@Model.TotalActualNoCharge</td>
		</tr>
		<tr>
			<td align="right">@BillType.TotalBillable.GetEnumDescription() Total:</td>
			<td></td>
			<td>@Model.TotalActual</td>
		</tr>
		<tr>
			<td align="right"><strong>Total:</strong></td>
			<td>@Model.TotalEstAssigned</td>
			<td>
				@{var TotalActual = Model.TotalActualAssigned + Model.TotalActualNoCharge + Model.TotalActualNonBillable + Model.TotalActualBillable;}
				@TotalActual
			</td>
		</tr>
		<tr>
			<td align="right"><strong>Total Estimated - Total Actual:</strong></td>
			<td>
				@{var TotalDiff = (Model.TotalEstAssigned) - (Model.TotalActualAssigned + Model.TotalActualNoCharge + Model.TotalActualNonBillable + Model.TotalActualBillable);}
				@TotalDiff
			</td>
			<td></td>
		</tr>
	</tbody>
</table>





