﻿@model Submissions.Web.Areas.Protrack.Models.Project.DetailViewModel

@{
	ViewBag.Title = Model.Project.Name + " Project";

	var projectTitleClass = "";
	if (Model.Project.IsTransfer == true)
	{
		projectTitleClass = "transferProjectIndicator";
	}

	var classFavorite = "";
	if (!Model.Project.IsFavorite)
	{
		classFavorite = "hidden";
	}
}

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.ui-jqgrid tr.jqgrow td {
			white-space: normal;
			vertical-align: top;
		}

		/*For filter drop down for grid*/
		.select2-container--bootstrap .select2-selection--single {
			height: 25px;
			font-size: 12px;
		}

		.select2-results {
			font-size: 12px;
		}

		.ui-jqgrid .ui-jqgrid-htable .ui-search-toolbar th {
			height: 40px;
		}
		/*********/

		#GeneralTable tbody > tr > td:first-child {
			font-weight: bold;
			white-space: nowrap;
		}

		#GeneralTable tbody > tr > td:nth-child(2) {
			padding-left: 20px;
		}

		.table-condensed td {
			padding: 2px !important;
		}

		.table-condensed > thead > tr > td {
			font-weight: bold !important;
		}

		.table-condensed > tbody > tr > td:nth-child(1) {
			font-weight: bold !important;
		}

		.deletedColor {
			color: gray;
			background: lightsalmon;
		}

		.v-top {
			vertical-align: top;
		}

		.fa-info {
			color: red
		}
	</style>
}

@(Html.Trirand().JQDatePicker(
	new JQDatePicker
	{
		DisplayMode = DatePickerDisplayMode.ControlEditor,
		DateFormat = "m/d/yyyy",
		ShowOn = ShowOn.Focus
	}, "DatePicker")
)

<div class="row row-title">
	<div class="col-sm-6 ">
		<h3>
			Project
			<small>
				<a href="@Url.Action("detail", "submission", new { filenumber = @Model.Project.FileNumber , Area = "submission"})" target=" _blank">
					<span class="@projectTitleClass">@Model.Project.Name</span>
				</a>
				@if (Model.Project.IsRush == true)
				{
					<i class="far fa-clock rushProject" title="Expedite Project"></i>
				}
				<i class="far fa-star @classFavorite" title="Favorite" id="FavoriteIcon"></i>
			</small>
			@if (Model.Project.OnHold == 1)
			{
				<code>On Hold</code>
			}
		</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@if ((Util.HasAccess(Permission.ProjectActions, AccessRight.Edit) || Util.HasAccess(Role.ENS, Role.ESR, Role.MAS, Role.MAR, Role.MG, Role.CPS, Role.CSR)))
		{
			@Html.ActionLink("Edit", "Edit", "Project", new { id = Model.Project.Id }, new { @class = "btn btn-primary btn-sm", target = "_blank" })
		}
		<div class="btn-group">
			<a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fas fa-cog"></i> Actions&nbsp;<i class="fas fa-caret-down" title="Toggle dropdown menu"></i>
			</a>
			<ul class="dropdown-menu">
				<!-- Add header here -->
				<li><a href="#" onclick="addNotes()">Add Note</a></li>
				@if (Model.Project.HasLotoQuebec)
				{
					<li><a href="#" class="createSpreadsheet">Create Excel Exports for LQ</a></li>
				}
				<li><a href="#" onclick="DoAction('CreateTransfer')">Create Transfer</a></li>
				<li><a href="@Url.Action("Index","DraftLetters",new {area = "Documents", projectId = Model.Project.Id})">Draft Letters</a></li>
				<li><a href="#" onclick="DoActionModal('Expedite')">Expedite</a></li>
				<li><a href="#" onclick="DoAction('GPSArchive')">GPS Archive</a></li>
				@if (Util.HasAccess(Permission.LetterGeneration, AccessRight.Read))
				{
					<li><a Target="_blank" href="@Url.Action("Index","Generate", new {area = "Documents", bundleId = Model.Project.bundleId})">Generate Letters</a></li>
					<li><a Target="_blank" href="@Url.Action("Index","ConformanceCriteria", new {area = "Documents", bundleId = Model.Project.bundleId})">Generate Conformance Criteria</a></li>
				}
				@if (Model.IncomingReview != null)
				{
					<li><a href="#" onclick="DoAction('IncomingReview')">Incoming Review</a></li>
				}
				<li><a href="#" onclick="DoAction('Favorite')">Mark Favorite</a></li>
				<li><a href="#" onclick="DoAction('UnFavorite')">Mark UnFavorite</a></li>
				<li><a href="#" onclick="DoAction('MathForms')">Math Forms</a></li>
				<li><a href="#" onclick="DoAction('MergeProject')">Merge Projects</a></li>
				<li><a href="#" onclick="DoAction('ManageOH')">On Hold</a></li>
				<li><a href="@Url.Action("Index", "CreateVue", new { area = "Documents", bundleId = Model.Project.bundleId })">Pending Letters (New)</a></li>

				<li><a href="#" onclick="DoAction('ManageResubmissions')">Resubmissions</a></li>
				<li><a href="#" onclick="DoAction('Reviews')">Reviews</a></li>
				@if (Model.AllowToReopen)
				{
					<li><a href="#" onclick="DoAction('ReopenProject')">Reopen Project</a></li>
				}
				@if (Model.Project.Status == ProjectStatus.IT || Model.Project.Status == ProjectStatus.IR || Model.Project.Status == ProjectStatus.RR)
				{
					<li><a href="#" onclick="DoAction('ChangeStatusToRC')">Set Status to RC</a></li>
				}
				<li><a href="#" onclick="DoActionModal('SkipEngineering')">Skip Engineering</a></li>
				@if (Model.Project.ViewSLA == true)
				{
					<li><a href="#" onclick="DoAction('ManageSLA')">SLA Management</a></li>
				}
				<li><a href="#" onclick="DoAction('ManageTarget')">Target Date</a></li>
				<li><a href="#" onclick="DoAction('ManageTasks')">Tasks EN</a></li>
				@if (((Util.HasAccess(Role.QAR, Role.QAS, Role.QLW, Role.SA, Role.MG) || Util.HasAccess(Permission.ActAsQLW, AccessRight.Read) || Util.HasAccess(Permission.ActAsQAR, AccessRight.Read))))
				{
					if (Model.Project.Status == ProjectStatus.DN && Model.Project.QAStatus == BundleStatus.DN)
					{

					}
					else
					{
						@:
						<li><a href="#" onclick="DoAction('ManageQATasks')">Tasks QA</a></li>
					}
				}
				<li><a href="#" onclick="DoAction('TestingPerformed')">Testing Performed </a></li>
			</ul>
		</div>



		<!--@Html.ActionLink("Exit", "Index", "Project", new { protrackType = Session["Protrack"] }, new { @class = "btn btn-primary btn-sm" })-->
		<input type="reset" id="CancelBtn" class="btn btn-primary btn-sm" value="Cancel" onclick="window.open('', '_parent', '');window.close();"> @*dont not show comfirmation message*@
	</div>
</div>

@Html.HiddenFor(m => m.Project.Id)
@Html.HiddenFor(m => m.UserDeptId)
@Html.HiddenFor(m => m.Project.SubmissionsReceivedDate)
@Html.HiddenFor(m => m.Project.IsFavorite)
@Html.HiddenFor(m => m.CryptographicText)
@Html.HiddenFor(m => m.CryptographicId)
@Html.Hidden("LoadOnDemand")

<!--General-->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">General <a class=" panel-toggle" data-toggle="collapse" href="#General"><i class="indicator fas fa-chevron-circle-up pull-right"></i></a></h3>
			</div>
			<div class="panel-body">
				<div id="General" class="panel-collapse collapse in">
					<div class="row">
						<div class="col-sm-6">
							<table id="GeneralTable">
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.Status)</td>
									<td>
										@Model.Project.Status.ToString() (@Model.Project.Status.GetEnumDescription())
										@if (Model.Project.OnHold == 1)
										{
											@: <span class="text-danger">(On Hold)</span>
										}
										@if (Model.AllowToClose)
										{
											@: <a href="#" onclick="DoAction('CloseProject')">[Close Project]</a>
										}
									</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.Holder)</td>
									<td>
										@Model.Project.Holder &nbsp;
										@if (Model.Project.Status == ProjectStatus.UU)
										{
											if (@Util.HasAccess(Role.ENS, Role.MAS))
											{
												@Html.ActionLink("[Accept]", "AcceptinEngineering", "ProjectAccept", new { projectId = @Model.Project.Id, managerId = @GLISession.User.Id, labId = @GLISession.LocationId }, null)
											}
											else if (@Util.HasAccess(Role.ESR, Role.CSR) || Util.HasAccess(Permission.ProjectActions, AccessRight.Edit))
											{
												@Html.ActionLink("[Accept]", "AcceptinEngineering", "ProjectAccept", new { projectId = @Model.Project.Id, managerId = @GLISession.ManagerId, labId = @GLISession.LocationId }, null)
											}
										}
									</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.CertificationLab)</td>
									<td>@Model.Project.CertificationLab</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.Lab)</td>
									<td>@Model.Project.Lab</td>
								</tr>
								<tr>
									<td>Issues</td>
									<td><a target="_blank" title="Jiras associated to Jurisdictions" href="@Model.Project.OpenIssuesURL"><code>Open @Model.Project.OpenIssues</code></a>&nbsp;<a target="_blank" title="Jiras associated to Jurisdictions" href="@Model.Project.ClosedIssuesURL" id="JiraIssues"><code>Closed @Model.Project.ClosedIssues</code></a></td>
								</tr>
								<tr>
									<td></td>
									<td><a target="_blank" title="Jiras associated to Submission Records" href="@Model.Project.SubOpenIssuesURL"><code>Sub Open @Model.Project.SubOpenIssues</code></a>&nbsp;<a title="Jiras associated to Submission Records" target="_blank" href="@Model.Project.SubClosedIssuesURL" id="JiraIssues"><code>Sub Closed @Model.Project.SubClosedIssues</code></a></td>
								</tr>
								<tr>
									<td></td>
									<td>
										<a target="_blank" title="Jiras associated to File" href="@Model.Project.JIRAProjectNameFullTextSearchURL"><code>All</code></a>&nbsp;@if (Model.Project.HasCPRVJiraForFile == true)
										{<i class="fa fa-info" aria-hidden="true" title="Compliance Revocation Jira exists."></i>}
									</td>
								</tr>
							</table>
							<table id="GeneralTable">
								@if (Model.Project.IsTransfer == false && Model.Project.FileResubmission != null)
								{
									<tr>
										<td colspan="2">
											This file is a
											@if (Model.Project.FileResubmission.IsResubmission == true)
											{
												@: @ResubmissionOptions.Resubmission.GetEnumDescription()
											}
											@if (Model.Project.FileResubmission.IsContinuation == true)
											{
												@: @ResubmissionOptions.Continuation.GetEnumDescription()
											}
											@if (Model.Project.FileResubmission.IsPreCertification == true)
											{
												@: @ResubmissionOptions.PreCertification.GetEnumDescription()
											}
											of original file - <font class="text-info"> @Html.ActionLink(@Model.Project.FileResubmission.MasterFile, "Detail", "Project", new { Id = Model.Project.ResubmissionProjectId }, null)</font> <a href="#" onclick="DoAction('ManageResubmissions')">[Manage]</a> <a href="@Url.Action("ViewSummary", "MasterFile", new { filenumber = Model.Project.FileResubmission.MasterFile})" target="_blank">[Summary]</a> <a title="View evaluation data for letter" href="#" onclick="DoAction('ViewEvalData')">[Evaluating labs]</a>
										</td>
									</tr>
								}
								@if (Model.Project.IsTransfer == false && Model.Project.IsMasterFile)
								{
									<tr>
										<td>
											This submission is a Master File. <a href="@Url.Action("ViewSummary", "MasterFile", new { filenumber = Model.Project.FileNumber})" target="_blank">[Summary]</a> <a title="View evaluation data for letter" href="#" onclick="DoAction('ViewEvalData')">[Evaluating labs]</a>
										</td>
									</tr>

								}

							</table>

							<br />

							<table id="GeneralTable">
								<tr>
									<td class="v-top">
										@if (Model.Project.IsTransfer == false)

										{
											@: Transfer Projects
										}
										else
										{
											@: Original Project
										}
									</td>
									<td>
										@foreach (var item in Model.Project.AssociatedProjects)
										{
											@Html.ActionLink(@item.Name, "Detail", "Project", new { Id = @item.Id }, null) <br />
										}
									</td>
								</tr>
								@if (Model.Project.MergedProjects.Count > 0)
								{
									<tr><td colspan="2">&nbsp;</td></tr>
									<tr>
										<td>
											Merged Project(s)
										</td>
										<td>
											@foreach (var item in Model.Project.MergedProjects)
											{
												@Html.ActionLink(@item.Name, "Detail", "Project", new { Id = @item.Id }, null)@:&nbsp; @if (Model.Project.Name == item.MergedWith)
												{@Html.ActionLink("[UnMerge]", "UnMerge", "MergeProjects", new { projectId = @Model.Project.Id, mergeProjectId = @item.Id }, null)}<br />
											}
										</td>
									</tr>
								}
							</table>
						</div>
						<div class="col-sm-6">
							<table id="GeneralTable">
								@if (Model.Project.ReceiveDatesNotSame == 1)
								{
									<tr>
										<td>@Html.DisplayNameFor(m => m.Project.ReceiveDate) <i class='fas fa-exclamation-triangle' id="EditReceiveDate" aria-hidden='true' title='The Project Received Date does not match the Submission Received Date @Model.Project.SubmissionsReceivedDate.ToString("d"). Please go to the Edit Project page in order to correct this.'> </i></td>
										<td>@Model.Project.ReceiveDate.ToString("d")</td>
									</tr>
								}
								else
								{
									<tr>
										<td>@Html.DisplayNameFor(m => m.Project.ReceiveDate)</td>
										<td>@Model.Project.ReceiveDate.ToString("d")</td>
									</tr>
								}
								@if (Model.Project.RequestedDeliveryDate != null)
								{
									<tr>
										<td>@Html.DisplayNameFor(m => m.Project.RequestedDeliveryDate)</td>
										<td>@Model.Project.RequestedDeliveryDate.ToString("d")</td>
									</tr>
								}
								@if (@Model.Project.GoLiveDate != null)
								{
									<tr>
										<td>@Html.DisplayNameFor(m => m.Project.GoLiveDate)</td>
										<td>@Model.Project.GoLiveDate.ToString("d")</td>
									</tr>
								}
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.TargetDate)</td>
									<td>
										@Model.Project.TargetDate.ToString("d") @if (Model.Project.TargetDate != null)
										{<a href="#" id="History">[History]</a>} @if (Model.Project.OnHold != 1)
										{<a href="javascript:DoAction('ManageTarget')" id="ManageTarget">[Manage]</a>} @if (Model.Project.JurMissingTarget == true)
										{<i class='fas fa-exclamation-triangle' aria-hidden='true' title='Missing TargetDate for Jurisdiction'></i>}
									</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.QADeliveryDate)</td>
									<td>@Model.Project.QADeliveryDate.ToString("d")</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.TargetDateWithOH)</td>
									<td>@Model.Project.TargetDateWithOH.ToString("d")</td>
								</tr>
								<tr>
									<td>Complete Date</td>
									<td>@Model.Project.CompleteDate.ToString("d")</td>
								</tr>
								@if (Model.Project.WorkOrderNumbers.Count > 0)
								{
									<tr>
										<td>
											@Html.LabelFor(m => m.Project.WorkOrderNumbers)
										</td>
										<td>
											@foreach (var item in Model.Project.WorkOrderNumbers)
											{
												@Html.ActionLink(@item, "Index", "MasterBilling", new { term = @item, target = "_blank", area = "Tools" }, null) <br />
											}
										</td>
									</tr>
								}
								@if (Model.CPReviewTasksNeedsSync == false)
								{
									<tr>
										<td>@Html.Label("CP Outgoing Review Task(s) In Sync?")</td>
										<td><strong><font class="text-danger">No</font></strong> [<A href="@Url.Action("SyncCPReviewTasks", "Project", new {projectId = Model.Project.Id})">Sync</A>] <i class="fas fa-adjust" aria-hidden="true" title="Add/Remove CP Outgoing Review task based on Jurisdictions"></i></td>
									</tr>
								}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Engineering-->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Engineering<a class=" panel-toggle" data-toggle="collapse" href="#Eng"><i class="indicator fas fa-chevron-circle-up pull-right"></i></a></h3>
			</div>
			<div class="panel-body">
				<div id="Eng" class="panel-collapse collapse in">
					<div class="row">
						<div class="col-sm-6">
							<table id="GeneralTable">
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.ENManagerLocation)</td>
									<td>@Model.Project.ENManagerLocation</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.ENManager)</td>
									<td>
										@Model.Project.ENManager
										@if (@GLISession.User.Id == Model.Project.ENManagerId || (@GLISession.ManagerId == Model.Project.ENManagerId && (@Util.HasAccess(Role.ESR, Role.CSR) || Util.HasAccess(Permission.ProjectActions, AccessRight.Edit))))
										{
											if (Model.Project.Status == ProjectStatus.AA || Model.Project.Status == ProjectStatus.AU)
											{
												<a href='@Url.Action("Unaccept", "Project", new {projectId = Model.Project.Id})' id="EngUnAccept">[Unaccept]</a>
											}
											<a href='#' id="Transfer" onclick="TransferProject()">[Transfer]</a>
										}
										@if (@GLISession.User.Id != Model.Project.ENManagerId && Model.Project.ENManagerId != null && (@Util.HasAccess(Role.ESR, Role.CSR, Role.ENS, Role.MAS, Role.CPS, Role.MG) || Util.HasAccess(Permission.ProjectActions, AccessRight.Edit)))
										{<a href='@Url.Action("Take", "Project", new {projectId = Model.Project.Id})' id="EngTake">[Take]</a>}
									</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.ENOriginalManager)</td>
									<td>@Model.Project.ENOriginalManager</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.ENProjectLead)</td>
									<td>@Model.Project.ENProjectLead</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.DevelopmentRepresentative)</td>
									<td>@Model.Project.DevelopmentRepresentative</td>
								</tr>

								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.QuotedHours)</td>
									<td>@Model.Project.QuotedHours</td>
								</tr>
								@if (Model.Project.IsTransfer != true)
								{
									<tr>
										<td>@Html.DisplayNameFor(m => m.Project.ProductType)</td>
										<td>
											<span id="ProductType">@Model.Project.ProductType</span> @if (Model.Project.Manufacturer == CustomManufacturer.WMS.ToString())
											{<a href="#" onclick="SyncRatingWithEResults()">[Sync with E-Results]</a>}
										</td>
									</tr>
									<tr>
										<td>@Html.DisplayNameFor(m => m.Project.ComplexityRating)</td>
										<td><span id="Rating">@Model.Project.ComplexityRating</span></td>
									</tr>
								}
								<tr>
									<td class="v-top">@Html.DisplayNameFor(m => m.Project.Platforms)</td>
									<td>@Model.Project.Platforms</td>
								</tr>
								@if (Model.Project.HasiGamingTestingType)
								{
									<tr>
										<td class="v-top">@Html.DisplayNameFor(m => m.Project.FTPLocation)</td>
										<td class="preserve-linebreak">@Model.Project.FTPLocation</td>
									</tr>
									<tr>
										<td class="v-top">@Html.DisplayNameFor(m => m.Project.TestingEnvironment)</td>
										<td class="preserve-linebreak">@Model.Project.TestingEnvironment</td>
									</tr>
									<tr>
										<td class="v-top">@Html.DisplayNameFor(m => m.Project.TranslationHouses)</td>
										<td>@Model.Project.TranslationHouses</td>
									</tr>
									if (Model.ShowGameSubmissionType)
									{
										<tr>
											<td class="v-top">@Html.DisplayNameFor(m => m.Project.GameSubmissionType)</td>
											<td>
												@Model.Project.GameSubmissionType
												@if (!string.IsNullOrEmpty(Model.Project.GameSubmissionTypeInfo))
												{
													<br />@Model.Project.GameSubmissionTypeInfo
												}
											</td>
										</tr>
									}
								}
								<tr>
									<td colspan="2">&nbsp;</td>
								</tr>
								<tr>
									<td>Incoming Review</td>
									<td>
										<a href="javascript:DoAction('IncomingReview')" title="Incoming Review"><i class="far fa-edit" aria-hidden="true"></i></a>&nbsp;
										@if (Model.IncomingReview.Required)
										{

											if (Model.IncomingReview.Completed != null)
											{
												@Model.IncomingReview.CompletedBy @:completed the Incoming Review on @Model.IncomingReview.Completed
											}

										}
										else
										{
											<i>Project does not require an Incoming Review.</i>
										}
									</td>
								</tr>
								<tr>
									<td>Project Review</td>
									<td>
										@if (Model.Project.EngReviewCount > 0)
										{
											@Html.ActionLink("View Reviews (" + Model.Project.EngReviewCount + ")", "Overview", "ProjectReview", new { projectId = @Model.Project.Id }, new { target = "_blank" })
											<br />
										}
										@Html.ActionLink("Create New Engineering Review", "Index", "ProjectReview", new { projectId = @Model.Project.Id, DepartmentId = 1 }, new { target = "_blank" })
									</td>
								</tr>
							</table>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-6">
									<table class="table table-condensed">
										<thead>
											<tr>
												<td></td>
												<td>Estimate</td>
												<td>Actual</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Eng Accepted</td>
												<td></td>
												<td>@Model.Project.ENDate.Accepted.ToString("d") </td>
											</tr>
											<tr>
												<td>Test Completed</td>
												<td>@Model.Project.ENDate.EstimateTestCompleted.ToString("d")</td>
												<td>@Model.Project.ENDate.TestCompleted.ToString("d")</td>
											</tr>
											<tr>
												<td>Eng Completed</td>
												<td>@Model.Project.ENDate.EstimateCompleted.ToString("d")</td>
												<td>@Model.Project.ENDate.Completed.ToString("d")</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--*****-->
<!--Math-->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Math <a class="panel-toggle" data-toggle="collapse" href="#Math"><i class="indicator fas fa-chevron-circle-up pull-right"></i></a></h3>
			</div>
			<div class="panel-body">
				<div id="Math" class="panel-collapse collapse in">
					<div class="row">
						<div class="col-sm-6">
							<table id="GeneralTable">
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.MAManager)</td>
									<td>@Model.Project.MAManager</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.MAProjectLead)</td>
									<td>@Model.Project.MAProjectLead</td>
								</tr>
								<tr>
									<td>Request/Review forms</td>
									<td><a href="javascript:DoAction('MathForms')"><i class='far fa-file-code' aria-hidden='true' title='View Math forms'></i></a></td>
								</tr>
								<tr>
									@if (Model.Project.ViewCryptographicStrength == true)
									{
										<td>Cryptographic Strength</td>
										if ((Model.Project.CryptographicId != null) && (Model.Project.CryptographicId < 4))
										{
											<td>
												@Model.Project.CryptographicText &nbsp;@if (Util.HasAccess(Permission.MathCryptoStrength, AccessRight.Edit))
												{<a href="javascript:DoAction('ManageCryptographicStrength')"><i class='fas fa-key' aria-hidden='true' title='View Cryptographic Strength'></i></a>}
											</td>
										}
										else
										{
											<td>
												<a href="javascript:DoAction('ManageCryptographicStrength')"><i class='fas fa-key' aria-hidden='true' title='View Cryptographic Strength'></i></a>
											</td>
										}
									}
								</tr>
								<tr>
									<td>Project Review</td>
									<td>
										@if (Model.Project.MathReviewCount > 0)
										{
											@Html.ActionLink("View Reviews (" + Model.Project.MathReviewCount + ")", "Overview", "ProjectReview", new { projectId = @Model.Project.Id }, new { target = "_blank" })
											<br />
										}
										@Html.ActionLink("Create New Math Review", "Index", "ProjectReview", new { projectId = @Model.Project.Id, DepartmentId = 2 }, new { target = "_blank" })
									</td>
								</tr>
							</table>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-6">
									<table class="table table-condensed">
										<thead>
											<tr>
												<td></td>
												<td>Estimate</td>
												<td>Actual</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Math Completed</td>
												<td>
													@if (Model.Project.IsEstMathCompleteDateToBeDetermined)
													{
														@:TBD
													}
													else
													{
														@Model.Project.MathDate.EstimateCompleted.ToString("d")
													}
												</td>
												<td>@Model.Project.MathDate.Completed.ToString("d")</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--*****-->
<!--QA-->
@if (Model.Project.bundleId != 0)
{
	<div class="row">
		<span class="pull-right">
			@if (((Util.HasAccess(Role.QAR, Role.QAS, Role.QLW, Role.MG, Role.SA) || Util.HasAccess(Permission.ActAsQLW, AccessRight.Read) || Util.HasAccess(Permission.ActAsQAR, AccessRight.Read))))
			{
				<a href='@Url.Action("Index", "ManageBundle", new { projectId = Model.Project.Id })' id="QADetail" target="_blank">[Edit QA Detail]</a> @:&nbsp;
			}
		</span>
	</div>
}
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">QA <a class="panel-toggle" data-toggle="collapse" href="#QA"><i class="indicator fas fa-chevron-circle-up pull-right"></i></a></h3>
			</div>
			<div class="panel-body">
				<div id="QA" class="panel-collapse collapse in">
					<div class="row">
						<div class="col-sm-6">
							<table id="GeneralTable">
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.QASupervisor)</td>
									<td>@Model.Project.QASupervisor</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.QAReviewer)</td>
									<td>@Model.Project.QAReviewer</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.QAStatus)</td>
									<td>
										@Model.Project.QAStatus&nbsp;
										@if (((Util.HasAccess(Role.QAR, Role.QAS, Role.QLW, Role.MG, Role.SA) || Util.HasAccess(Permission.ActAsQLW, AccessRight.Read) || Util.HasAccess(Permission.ActAsQAR, AccessRight.Read))))
										{
											if (Model.Project.Status == ProjectStatus.RC && Model.Project.QAResubmission != true)
											{
												<a href='@Url.Action("AcceptInQA", "Project", new { projectId = Model.Project.Id })' id="QAAccept">[Accept In QA]</a> @:&nbsp;
											}
											if (Model.Project.QAStatus == BundleStatus.DN && Model.Project.QATasksCount > 0)
											{
												<a href='@Url.Action("UpdateQAToStatus", "Project", new { projectId = Model.Project.Id, newStatus = BundleStatus.IR })' id="QAReview">[Go Back To In Review]</a> @:&nbsp;<a href='@Url.Action("UpdateQAToStatus", "Project", new { projectId = Model.Project.Id, newStatus = BundleStatus.FL })' id="QAFL">[Go Back To Finalization]</a>
											}
											if (Model.Project.QAStatus == BundleStatus.FL)
											{
												<a href='@Url.Action("UpdateQAToStatus", "Project", new { projectId = Model.Project.Id, newStatus = BundleStatus.IR })' id="QAReview">[Go Back To In Review]</a> @:&nbsp;
											}
											if (Model.Project.QAStatus == BundleStatus.IR)
											{
												<a href='@Url.Action("UpdateQAToStatus", "Project", new { projectId = Model.Project.Id, newStatus = BundleStatus.FL  })' id="QAReview">[Set to FL]</a> @:&nbsp;
												<a href='@Url.Action("UpdateQAToStatus", "Project", new { projectId = Model.Project.Id, newStatus = BundleStatus.DL  })' id="QAReview">[Go Back Drafting]</a> @:&nbsp;
											}
											if (Model.Project.Status == ProjectStatus.QA && Model.Project.QAStatus == BundleStatus.DN && Model.Project.QAResubmission != true && Model.Project.UpdateAcceptDate == null)
											{
												<a href='@Url.Action("UnacceptInQA", "Project", new {projectId = Model.Project.Id})' id="QAUnAccept">[Unaccept In QA]</a> @:&nbsp;

											}
											if (Model.Project.Status == ProjectStatus.QA && Model.Project.QAStatus != BundleStatus.DN && Model.Project.QAResubmission != true)
											{
												<a href='@Url.Action("UnacceptInQA", "Project", new {projectId = Model.Project.Id})' id="QAUnAccept">[Unaccept In QA]</a> @:&nbsp;
												<a href='#' id="QAReReview">[Send Eng Re-Review]</a> @:&nbsp;
											}
											if ((Model.Project.Status == ProjectStatus.AU || Model.Project.Status == ProjectStatus.AA || Model.Project.Status == ProjectStatus.IT || Model.Project.Status == ProjectStatus.IR || Model.Project.Status == ProjectStatus.RR) && Model.Project.TargetDate != null && Model.Project.JurMissingTarget != true && Model.Project.QAResubmission != true)
											{
												<a href='#' id="QAPull" onclick="DoAction('ChangeStatusToQA')">[Pull From EN & Accept]</a>
											}
										}
									</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.CPReq)</td>
									<td>@Model.Project.CPReq</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.QFINum)</td>
									<td>
										<div id="editQFI">
											<label id="QFINum" style="font-weight :normal">@Model.Project.QFINum &nbsp;</label>
											@if (((Util.HasAccess(Role.QAR, Role.QAS, Role.QLW, Role.MG, Role.SA) || Util.HasAccess(Permission.ActAsQLW, AccessRight.Read) || Util.HasAccess(Permission.ActAsQAR, AccessRight.Read))))
											{
												<a href='javascript:editQFI()'><i class="far fa-edit" aria-hidden="true"></i></a>
											}
										</div>
										<div id="saveQFI" style="display:none">
											@Html.TextBoxFor(m => m.Project.QFINum, new { @maxlength = 50 })&nbsp;
											<a href='javascript:saveQFI()'><i class="far fa-save" aria-hidden="true"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>@Html.DisplayNameFor(m => m.Project.QAOffice)</td>
									<td>
										<div id="editQAOffice">
											<label id="QAOffice" style="font-weight :normal">@Model.Project.QAOffice &nbsp;</label>
											@if (((Util.HasAccess(Role.QAR, Role.QAS, Role.QLW, Role.MG, Role.SA) || Util.HasAccess(Permission.ActAsQLW, AccessRight.Read) || Util.HasAccess(Permission.ActAsQAR, AccessRight.Read))))
											{
												<a href='javascript:editQAOffice()'><i class="far fa-edit" aria-hidden="true"></i></a>
											}
										</div>
										<div id="saveQAOffice" style="display:none" class="col-sm-11">
											@Html.LookupFor(m => m.Project.QAOfficeId, m => m.Project.QAOffice, LookupAjax.Laboratories, false)&nbsp;
											<a href='javascript:saveQAOffice()'><i class="far fa-save" aria-hidden="true"></i></a>
										</div>
									</td>
								</tr>
								@if (Model.Project.QAStatus != BundleStatus.DN)
								{
									<tr>
										<td>@Html.DisplayNameFor(m => m.Project.ENInvolvementWhileFL)</td>
										<td>
											@if (Model.Project.ENInvolvementWhileFL)
											{
												@: Yes&nbsp;<i class="far fa-sticky-note QAFLNotes" title="@Model.Project.ENInvolvementWhileFLNotes"></i>
											}
											&nbsp;<a href='javascript:editENWhileFL()'><i class="far fa-edit" aria-hidden="true"></i></a>
										</td>
									</tr>
								}
								<tr>
									<td>
										@Html.DisplayNameFor(m => m.Project.NoCertNeeded)
									</td>
									<td colspan="2">
										@Html.CheckBoxFor(m => m.Project.NoCertNeeded)
										&nbsp;<a id="saveNoCertNeeded" style="cursor: pointer;"><i class="far fa-save" aria-hidden="true" title="Save No Cert Needed"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										@Html.DisplayNameFor(m => m.Project.ADMWorkNeeded)
									</td>
									<td>
										@Html.CheckBoxFor(m => m.Project.ADMWorkNeeded)
										&nbsp;<a href='javascript:saveADMWork()'><i class="far fa-save" aria-hidden="true" title="Save ADM Work Needed"></i></a>
									</td>
								</tr>
								<tr>
									<td>Project Review</td>
									<td>
										@if (Model.Project.QaReviewCount > 0)
										{
											@Html.ActionLink("View Reviews (" + Model.Project.QaReviewCount + ")", "Overview", "ProjectReview", new { projectId = @Model.Project.Id }, new { target = "_blank" })
											<br />
										}
										@Html.ActionLink("Create New QA Review", "Index", "ProjectReview", new { projectId = @Model.Project.Id, DepartmentId = 7 }, new { target = "_blank" })
									</td>
								</tr>
							</table>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-6">
									<table class="table table-condensed">
										<thead>
											<tr>
												<td></td>
												<td>Estimate</td>
												<td>Actual</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>QA Accepted</td>
												<td></td>
												<td>@Model.Project.QADate.Accepted.ToString("d") </td>
											</tr>
											<tr>
												<td>@Html.DisplayNameFor(m => m.Project.LetterWritingStarted)</td>
												<td></td>
												<td>@Model.Project.LetterWritingStarted.ToString("d")</td>
											</tr>
											<tr>
												<td>QA Completed</td>
												<td>@Model.Project.QADate.EstimateCompleted.ToString("d")</td>
												<td>@Model.Project.QADate.Completed.ToString("d")</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<span class="pull-right"><a href='#' id="ManageTestingPerformed" onclick="DoAction('TestingPerformed')">[Manage Testing Performed]</a>&nbsp;&nbsp;&nbsp;<a href='#' id="CreateTransfer" onclick="DoAction('CreateTransfer')">[Create Transfer]</a>&nbsp;&nbsp;</span>
</div>
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.JurisdictionItemGrid.Grid, Model.JurisdictionItemGrid.Grid.ID)
	</div>
</div>
<br />
<br />
<div class="row">
	<span class="pull-right"><a href='javascript:addNotes()' id="AddNote">[Add Note]</a>&nbsp;&nbsp;</span>
</div>
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.NotesGrid.Grid, Model.NotesGrid.Grid.ID)
	</div>
</div>
<br />
<br />
<div class="row">
	<span class="pull-right"><a href='#' onclick="DoAction('ManageWorkRequests')">[Manage Work Requests]</a>&nbsp;&nbsp;</span>
</div>
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.SubProjectGrid.Grid, Model.SubProjectGrid.Grid.ID)
	</div>
</div>
<br />
<br />
@if (((Util.HasAccess(Role.QAR, Role.QAS, Role.QLW, Role.SA, Role.MG) || Util.HasAccess(Permission.ActAsQLW, AccessRight.Read) || Util.HasAccess(Permission.ActAsQAR, AccessRight.Read))))
{
	<div class="row">
		<span class="pull-right">
			<a href='#' id="ManageTasks" onclick="DoAction('ManageQATasks')">[Manage QA Tasks]</a>
		</span>
	</div>
}
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.QATaskGrid.Grid, Model.QATaskGrid.Grid.ID)
	</div>
</div>
<br />
<br />
<div class="row">
	<span class="pull-right">
		@if (Util.HasAccess(Permission.EngTasks, AccessRight.Edit))
		{
			<a href='#' id="ManageTasks" onclick="DoAction('ManageTasks')">[Manage EN Tasks]</a>
		}
		else
		{
			@:[Manage Tasks]
		}&nbsp; &nbsp;
	</span>
</div>
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.TasksGrid.Grid, Model.TasksGrid.Grid.ID)
	</div>
</div>

@if (Model.Project.HasForeignHours)
{
	<br />
	<div class="row">
		<div class="col-sm-12">
			@Html.Trirand().JQGrid(Model.ForeignTasksGrid.Grid, Model.ForeignTasksGrid.Grid.ID)
		</div>
	</div>
	<br />
}

@if (Model.Project.IsTransfer == false)
{
	<br />
	<div id="ShowTransfer">
		<div class="row">
			<div class="col-sm-12">
				<a href="" id="ShowTransferTask"><span class="fas fa-search"></span> Show Transfer Tasks Associated With File</a>
			</div>
		</div>
	</div>
	<br />
	<br />
	<div id="TransferTaskData" style="display: none ">
		<div class="row">
			<div class="col-sm-12">
				@Html.Trirand().JQGrid(Model.TasksTransferGrid.Grid, Model.TasksTransferGrid.Grid.ID)
			</div>
		</div>
	</div>
}
<br />
<div class="row">
	<div class="col-sm-12">
		<a href="" id="ShowUnassigned"><span class="fas fa-search"></span> Show Unassigned Tasks Billed</a>
	</div>
</div>
<br />
<!--UnAssigned hours-->
<div id="UnassignedTaskData" style="display: none ">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Unassigned Hours<a class=" panel-toggle" data-toggle="collapse" href="#Unassigned"><i class="indicator fas fa-chevron-circle-up pull-right"></i></a></h3>
				</div>
				<div class="panel-body">
					<div id="Unassigned" class="panel-collapse collapse in">
						Loading......
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br />
<br />
@if (Model.Project.HasForeignHours)
{
	<div class="row">
		<span class="pull-right"><a href='#' id="FilterHistory">[Filter History]</a>&nbsp;&nbsp;</span>
	</div>
}
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.HistoryLogGrid.Grid, Model.HistoryLogGrid.Grid.ID)
	</div>
</div>

<br />
<br />
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.QAMetricsLogGrid.Grid, Model.QAMetricsLogGrid.Grid.ID)
	</div>
</div>

<br />
<br />
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.MetricsLogGrid.Grid, Model.MetricsLogGrid.Grid.ID)
	</div>
</div>

<!--loading-->
<div class="modal fade" id="ShowSpin" role="dialog" style="height:80%">
	<div class="modal-dialog">
		<div class="modal-content1">
			<div id='ModalContainer1'>
				<h4><i class="fas fa-spinner fa-spin" style="color:green"></i>&nbsp;Sync in progress.....</h4>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" style="height:90%">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div id='myDataContainer'>
			</div>
		</div>
	</div>
</div>

<!-- EN involvement -->
<div id="myModalForEN" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-right">
				<button type="button" accesskey="E" class="btn btn-primary btn-sm" onclick="saveENWhileFL()"><i class="fas fa-save"></i>&nbsp;Save (Alt+E)</button>
				<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
			<div class="modal-body">
				<Label id="ErrorEN" class="text-danger"></Label>
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						@Html.LabelFor(model => model.Project.ENInvolvementWhileFL, new { @class = "control-label col-sm-4" })
						<div class="col-sm-1">
							@Html.CheckBoxFor(model => model.Project.ENInvolvementWhileFL)
							<br />
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(model => model.Project.ENInvolvementWhileFLNotes, new { @class = "control-label col-sm-4" })
						<div class="col-sm-1">
							@Html.TextAreaFor(model => model.Project.ENInvolvementWhileFLNotes, 3, 120, new { @class = "form-control", @placeholder = "", @style = "width:350px" })
							<br />
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<br />

@{Html.RenderPartial("GridsAutoComplete/_Task");}

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
<script>
		$(function () {

		$(".QAFLNotes").tooltip({
			html: true,
			title: $("#Project_ENInvolvementWhileFLNotes").val()
		})

		$('#' + '@Model.TasksGrid.Grid.ID').jqGrid("setGridParam", {
			gridComplete: function () {
				var $grid = $('#' + '@Model.TasksGrid.Grid.ID');

				//Deleted Task
				var estHours = 0
				var origHours = 0
				var actHours = 0
				var delEstHours = 0
				var delActHours = 0
				var delOrigHours = 0
				var ids = $grid.jqGrid("getDataIDs");
				for (var i = 0; i < ids.length; i++) {
					var rowId = ids[i];
					var rowData = $grid.jqGrid('getRowData', rowId);
					if (rowData.IsDeleted == "True") {
						$("#" + rowId).find("td").addClass("deletedColor");

						delEstHours = parseFloat(delEstHours) + parseFloat(rowData.EstimateHours)
						delActHours = parseFloat(delActHours) + parseFloat(rowData.ActualHours)
						delOrigHours = parseFloat(delOrigHours) + parseFloat(rowData.OrigEstHours)
						var columnIndex = $grid.getColumnIndexByName("Name")
						$("#" + rowId).find('td').eq(columnIndex).append(" (DELETED) ")
					}
					else {
						estHours = parseFloat(estHours) + parseFloat(rowData.EstimateHours)
						actHours = parseFloat(actHours) + parseFloat(rowData.ActualHours)
						origHours = parseFloat(origHours) + parseFloat(rowData.OrigEstHours)
					}

					if (rowData.OrigEstHours != rowData.EstimateHours) {
						$grid.jqGrid('setCell', rowId, "EstimateHours", "", { 'color': 'red' }); // background - color
						$grid.jqGrid('setCell', rowId, "OrigEstHours", "", { 'color': 'red' }); // background - color
					}
				}
				if (delActHours > 0) {
					$grid.jqGrid('footerData', 'set', { "CompleteDate": "Total:<br>Deleted Total:", "EstimateHours": estHours + "<BR>" + delEstHours, "ActualHours": actHours + "<BR>" + delActHours, "OrigEstHours": origHours + "<BR>" + delOrigHours });
				}
				else {
					$grid.jqGrid('footerData', 'set', { "CompleteDate": "Total:", "EstimateHours": estHours, "ActualHours": actHours, "OrigEstHours": origHours });
				}
			}
		});

		$('#' + '@Model.TasksTransferGrid.Grid.ID').jqGrid("setGridParam", {
			gridComplete: function () {
				var $grid = $('#' + '@Model.TasksTransferGrid.Grid.ID');
				var colEstSum = $grid.jqGrid('getCol', 'EstimateHours', false, 'sum');
				var colActSum = $grid.jqGrid('getCol', 'ActualHours', false, 'sum');
				$grid.jqGrid('footerData', 'set', { "CompleteDate": "Total:", "EstimateHours": colEstSum, "ActualHours": colActSum });
			}
		});

		$('#' + '@Model.ForeignTasksGrid.Grid.ID').jqGrid("setGridParam", {
			gridComplete: function () {
				var $grid = $('#' + '@Model.ForeignTasksGrid.Grid.ID');
				var colEstSum = $grid.jqGrid('getCol', 'EstimateHours', false, 'sum');
				var colActSum = $grid.jqGrid('getCol', 'ActualHours', false, 'sum');
				$grid.jqGrid('footerData', 'set', { "CompleteDate": "Total:", "EstimateHours": colEstSum, "ActualHours": colActSum });
			}
		});

		$("#History").click(function () {
			loadHistory($('#Project_Id').val(), 0);
		});

		$(".panel-toggle").click(function (e) {
			var chevState = $(e.target).closest("i.indicator").toggleClass("fa-chevron-circle-down fa-chevron-circle-up");
			$("i.indicator").not(chevState).removeClass("fa-chevron-circle-down").addClass("fa-chevron-circle-up");
		});

		$("#ShowUnassigned").click(function () {
			$("#ShowUnassigned").hide();
			$("#UnassignedTaskData").show();
			var url = '@Url.Action("TaskHoursDetail", "Project")?projectId=' + $('#Project_Id').val() + '&departmentId=' + $('#UserDeptId').val();
			$('#Unassigned').load(url);
			return false;
		});

		$("#FilterHistory").click(function () {
			var url = '@Url.Action("Index", "ProjectHistory")?projectId=' + $('#Project_Id').val() + "&NotFromClassic=1"
			window.open(url);
		});
		$("#QAReReview").click(function () {
			console.info("QA RE review");
			var projectId = $('#Project_Id').val()
			if (IsOkToQAENRR(projectId)) {
				url = '@Url.Action("LoadQASendToENRR", "ChangeProjectStatus")?projectIds=' + projectId
				$('#myDataContainer').load(url);
				$('#myModal').modal('show');
			}
		});
		$('#saveNoCertNeeded').on('click', function (e) {
			e.preventDefault();
			var payload = { noCertNeeded: $("#Project_NoCertNeeded").is(":checked"), bundleID: @Model.Project.bundleId };
			$.ajax({
					url: '@Url.Action("SetNoCertNeeded")',
					type: 'POST',
					data: JSON.stringify(payload),
					contentType: "application/json",
					dataType: "json",
					complete: function (data) {
						bootbox.alert("No Certification Required Setting saved.")
					}
			});
		});
	});

	function saveADMWork() {
		//server call to save
		var isADMWork = $("#Project_ADMWorkNeeded").is(":checked") ? true : false
		var url = '@Url.Action("SetADMWork", "Project")?projectId=' + $("#Project_Id").val() + "&admWork=" + isADMWork

		var result = false
		$.ajax({
			url: url,
			async: false,
			success: function (data) {
				if (data == "OK") {
					bootbox.alert("ADM Work Setting saved.")
				}
				else {
					bootbox.alert("Error while saving ADM Work Settings.")
				}
			}
		});
	}

	function editQFI() {
		$("#saveQFI").show();
		$("#editQFI").hide();
	}

	function editQAOffice() {
		$("#saveQAOffice").show();
		$("#editQAOffice").hide();
	}

	function editENWhileFL() {
		$("#myModalForEN").modal("show")
	}

	function saveENWhileFL() {
		if ($("#Project_ENInvolvementWhileFL").is(":checked") && $('#Project_ENInvolvementWhileFLNotes').val() == "") {
		   $("#ErrorEN").text('You must enter Notes for EN involvemnt while QA finalization.')
		}
		else {
			var isChecked = ($("#Project_ENInvolvementWhileFL").is(":checked"))? true: false
			var url = '@Url.Action("SaveENInvolvement", "Project")?projectId=' + $("#Project_Id").val() + "&isNeeded=" + isChecked + "&notes=" + $('#Project_ENInvolvementWhileFLNotes').val()

			$.ajax({
				url: url,
				async: false,
				success: function (data) {
					if (data == "OK") {
						window.location.reload()
					}
					else {
						bootbox.alert("Error while saving EN Involvement While FL.")
						$("#myModalForEN").modal("hide")
					}
				}
			});
		}
	}

	function saveQFI() {
		//server call to save
		var url = '@Url.Action("SetQFINum", "Project")?projectId=' + $("#Project_Id").val() + "&ncrNum=" + $("#Project_QFINum").val()
		var result = false
		$.ajax({
			url: url,
			async: false,
			success: function (data) {
				if (data == "OK") {
					$("#QFINum").text($("#Project_QFINum").val())
					$("#saveQFI").hide();
					$("#editQFI").show();
				}
				else {
					bootbox.alert("Error while saving QFI Number.")
					$("#saveQFI").hide();
					$("#editQFI").show();
				}
			}
		});
	}
	function saveQAOffice() {
		//server call to save
		var url = '@Url.Action("SetQAOffice", "Project")?projectId=' + $("#Project_Id").val() + "&qaOfficeId=" + $("#Project_QAOfficeId").val();
		//var result = false
		$.ajax({
			url: url,
			async: false,
			success: function (data) {
				if (data == "OK") {
					$("#QAOffice").text($("#Project_QAOffice").val())
					$("#saveQAOffice").hide();
					$("#editQAOffice").show();
				}
				else {
					bootbox.alert("Error while saving QFI Number.")
					$("#saveQAOffice").hide();
					$("#editQAOffice").show();
				}
			}
		});
	}

	function IsOkToQAENRR(projectIds) {
		var url = '@Url.Action("CheckProjectsCannotSendToENRR", "ChangeProjectStatus")?projectIds=' + projectIds
		var result = false
		$.ajax({
			url: url,
			async: false,
			success: function (data) {
				if (data == "OK") {
					result = true;
				}
				else {
					bootbox.alert("You can only send Project(s) back for Engineering Re-Review that are in QA.")
					result = false;
				}
			}
		});
		return result;
	}

	$("#EditReceiveDate").click(function () {
		var submissionReceivedDate = '@Model.Project.SubmissionsReceivedDate';
		alert(submissionReceivedDate)
		var submissionReceivedDateObj = new Date(submissionReceivedDate);
		var submissionReceivedDateFormat = [submissionReceivedDateObj.getMonth() + 1, submissionReceivedDateObj.getDate(), submissionReceivedDateObj.getFullYear()].join('/');
		bootbox.alert("The Project Received Date does not match the Submission Received Date " + submissionReceivedDateFormat + ". Please go to the Edit Project page in order to correct this.");
		return false;
	})

	$("#ShowTransferTask").click(function () {
		$("#ShowTransfer").hide();
		$("#LoadOnDemand").val("TRANSFERTASK")
		$("#TransferTaskData").show();
		var grid = "#" + '@Model.TasksTransferGrid.Grid.ID';
		$(grid).jqGrid().trigger("reloadGrid");
		return false;
	})

	$(".createSpreadsheet").click(function () {
		window.location.href = '@Url.Action("Download", "Project")/?projectId=' + $('#Project_Id').val();
	});

	function addNotes() {
		url = '@Url.Action("Index", "ProjectNote")?noteId=0&projectId=' + $('#Project_Id').val()
		$('#myDataContainer').load(url);
		$('#myModal').modal('show');
	}

	function addEditNotes(noteId, dept) {
		if (dept == "@Department.QA.ToString()") {
			 url = '@Url.Action("EditQANote", "ProjectNote")?noteId=' + noteId + '&projectId=' + $('#Project_Id').val()
			$('#myDataContainer').load(url);
			$('#myModal').modal('show');
		}
		else {
			url = '@Url.Action("EditNote", "ProjectNote")?noteId=' + noteId + '&projectId=' + $('#Project_Id').val()
			$('#myDataContainer').load(url);
			$('#myModal').modal('show');
		}
	}

	function DoActionModal(action) {
		if (action == 'Expedite') {
			SetProjectsExpedite($('#Project_Id').val())
		}
		else if (action == 'SkipEngineering') {
			SkipEngineering($('#Project_Id').val())
		}
	}

	function ReloadAfterUpdate() {
		window.location.reload(true);
	}

	function SyncRatingWithEResults() {
		$('#ShowSpin').modal('show');
		var url = '@Url.Action("SyncRatingWithEResults", "Project")?projectId=' + $('#Project_Id').val();
		$.getJSON(url, null, function (data) {
			if (data != null) {
				$('#ProductType').text(data.ProductType);
				$('#Rating').text(data.Rating);
			}
		});
		$('#ShowSpin').modal('hide');
	}

	function TransferProject() {
		url = '@Url.Action("Index", "ProjectPersonnel")?projectId=' + $('#Project_Id').val() + '&personnelType=@ProjectPersonnelType.Manager'
		$('#myDataContainer').load(url);
		$('#myModal').modal('show');
	}

	function SkipEngineering(id) {
		var projects = ''
		var url = '@Url.Action("CheckFilesMissingTarget", "Project")?projectIds=' + id
		$.ajax({
			url: url,
			type: 'post',
			dataType: 'json',
			success: function (data) {
				if (data.length > 0) {
					$.each(data, function (index, item) {
						projects += item + '<br>';
					});
					bootbox.alert("Target Date is not set for following project(s). You must set Target Date before skipping engineering.<br><br>" + projects);
				}
				else {
					var Expedite = true;
					url = '@Url.Action("Index", "SkipEngineering")?projectId=' + id
					$('#myDataContainer').load(url);
					$('#myModal').modal('show');
				}
			}
		})
	}

	function SetProjectsExpedite(id) {
		var projects = ''
		var url = '@Url.Action("CheckFilesMissingTarget", "Project")?projectIds=' + id
		$.ajax({
			url: url,
			type: 'post',
			dataType: 'json',
			success: function (data) {
				if (data.length > 0) {
					$.each(data, function (index, item) {
						projects += item + '<br>';
					});
					bootbox.alert("Target Date is not set for following project(s). You must set Target Date before Expedite project(s).<br><br>" + projects);
				}
				else {
					var Expedite = true;
					url = '@Url.Action("Index", "Expedite")?projectId=' + id + "&Expedite=" + Expedite
					$('#myDataContainer').load(url);
					$('#myModal').modal('show');
				}
			}
		})
	}

	function DoAction(action) {
		var url = ''

		if (action == 'Favorite') {
			SetUserFavorite($('#Project_Id').val());
		}
		if (action == 'UnFavorite') {
			SetUserUnFavorite($('#Project_Id').val());
		}

		if (action == 'CloseProject') {
			CloseProject($('#Project_Id').val());
		}

		if (action == 'ManageTarget') {
			url = '@Url.Action("Index","TargetDate")?ProjectID=' + $('#Project_Id').val() + '&Redirect=1';
		}
		else if (action == 'ManageOH') {
			url = '@Url.Action("Index","OnHold")?ProjectID=' + $('#Project_Id').val() + '&Redirect=1';
		}
		else if (action == 'ManageTasks') {
			url = '@Url.Action("Edit","Tasks")/' + $('#Project_Id').val();
		}
		else if (action == 'ManageQATasks') {
			url = '@Url.Action("Index","QATasks")?projectId=' + $('#Project_Id').val();
		}
		else if (action == 'CreateTransfer') {
			url = '@Url.Action("Index", "CreateTransfer")?Id=' + $('#Project_Id').val();
		}
		else if (action == 'MergeProject') {
			url = '@Url.Action("Index", "MergeProjects")?Id=' + $('#Project_Id').val();
		}
		else if (action == 'ManageResubmissions') {
			url = '@Url.Action("Edit", "MasterFile", new { id = Model.Project.Id })';
		}
		else if (action == 'Reviews') {
			url = '@Url.Action("Overview", "ProjectReview", new { projectId = Model.Project.Id })'
		}
		else if (action == 'ReopenProject') {
			ReopenProject($('#Project_Id').val());
		}
		else if (action == 'TestingPerformed') {
			url = '@Url.Action("Edit", "TestingPerformed", new { id = Model.Project.Id })';
		}
		else if (action == 'ChangeStatusToRC') {
			url = '@Url.Action("Index", "ChangeProjectStatus")?projectId=' + $('#Project_Id').val() + '&currentStatus=@Model.Project.Status' + '&changeStatusTo=@ProjectStatus.RC';
		}
		else if (action == 'ChangeStatusToQA') {
			url = '@Url.Action("Index", "ChangeProjectStatus")?projectId=' + $('#Project_Id').val() + '&currentStatus=@Model.Project.Status' + '&changeStatusTo=@ProjectStatus.QA';
		}
		else if (action == 'ManageSLA') {
			url = '@Url.Action("Index", "SLA", new { projId = Model.Project.Id })';
		}
		else if (action == 'IncomingReview') {
			url = '@Url.Action("Index", "IncomingReview", new { id  = Model.Project.Id })';
		}
		else if (action == 'MathForms') {
			url = '@Html.Raw(Url.Action("LoadMathReviews","MathQueue",new {projectId=Model.Project.Id,sourceType = MathListType.AllReviewList.ToString()}))';
		}
		else if (action == 'ManageCryptographicStrength') {
			url = '@Url.Action("Edit", "CryptographicStrength", new { projId = Model.Project.Id })';
		}
		else if (action == 'GPSArchive') {
			url = '@Url.Action("GetGPSPath", "Project")?fileNumber=' + "@Model.Project.FileNumber"
		}
		else if (action == 'ManageWorkRequests') {
			url = '@Url.Action("Index","SubProjects", null)';
		}
		else if (action == 'ViewEvalData') {
			url = '@Url.Action("MasterResubmissionEvaluationData","MasterFile", new { fileNumber = Model.Project.FileNumber })';
		}
		if (action == 'GPSArchive') {
			$.ajax({
				url: url,
				success: function (data) {
					if (action == "GPSArchive") {
						window.location.href = data;
					}
				},
			});
		}
		else if (action == 'ChangeStatusToRC' || action == 'ChangeStatusToQA' || action == 'ViewEvalData' ) {
			$('#myDataContainer').load(url);
			$('#myModal').modal('show');
		}
		else if ((action != 'Favorite') && (action != 'UnFavorite') && (action != 'ChangeProjectStatus') && (action != 'CloseProject')) {
			window.open(url);
		}
	}

	function CloseProject(projectId) {
		var url = '@Url.Action("CloseProject", "Project")?projectId=' + projectId
		window.location.href = url
	}

	function ReopenProject(projectId) {
		var url = '@Url.Action("ReopenProject", "Project")?projectId=' + projectId
		window.location.href = url
	}

	function SetUserFavorite(projectId) {
		var url = '@Url.Action("SetUserFavorites", "Project")?projectIds=' + projectId
		$.post(url, null, function (data) {
					loadFavorites();
		});
	}

	function SetUserUnFavorite(projectId) {
		var url = '@Url.Action("UnSetUserFavorites", "Project")?projectIds=' + projectId
		$.post(url, null, function (data) {
			for (x = 0; x < data.length; x++) {
				$("#FavoriteIcon").addClass('hidden');
			}
		});
	}

	//LoadUserFavorites
	function loadFavorites() {
		var url = '@Url.Action("GetUserFavorites", "Project")';
		$.getJSON(url, null, function (data) {
			if (data.length > 0) {
				for (x = 0; x < data.length; x++) {
					$("#FavoriteIcon").removeClass('hidden');
				}
			}
		});
	}

	function viewJurTargetHistory(cellValue, options, rowdata, action) {
		return '<a href="javascript:loadHistory(0,' + options.rowId + ')" id="History">' + cellValue + '</a>';
	}

	function formatScope(cellValue, options, rowdata, action) {
		var newValue = "";
		if (cellValue == "E" || cellValue == "*") { newValue = "*" }
		return newValue;
	}

	function formatNote(cellValue, options, rowObject, action) {
		if (options.rowId != '' && rowObject[$(this).getColumnIndexByName("Department")] != "IT") {
			var newValue = "";
			var preAppend = ""

			if (rowObject[$(this).getColumnIndexByName("ForeignProject")] != "") {
				preAppend = "From " + rowObject[$(this).getColumnIndexByName("ForeignProject")] + ": "
			}

			if (preAppend == "" && rowObject[$(this).getColumnIndexByName("NoteType")] !== "OH") {
				if (rowObject[$(this).getColumnIndexByName("Department")] != "QA") {
					@if (@GLISession.User.Id == Model.Project.ENManagerId || (@GLISession.ManagerId == Model.Project.ENManagerId && @Util.HasAccess(Role.ESR)))//Senior or manager
					{
						@:newValue = "&nbsp;[<A href='javascript:addEditNotes(" + options.rowId + ",\"" + rowObject[$(this).getColumnIndexByName("Department")] + "\")' Id='EditNote'><small>Edit</small></A>]";
					}
				}

				if (Em(newValue)) {
					if (rowObject[$(this).getColumnIndexByName("UserId")] == "@GLISession.User.Id") {
						newValue = "&nbsp;[<A href='javascript:addEditNotes(" + options.rowId + ",\"" + rowObject[$(this).getColumnIndexByName("Department")] + "\")' Id='EditNote'><small>Edit</small></A>]";
					}
				}
			}

			return preAppend + cellValue + newValue;
		}
		else {
			return cellValue;
		}
	}

	function loadHistory(projectId, primaryId) {
		var url = '@Url.Action("LoadTargetHistory","TargetDate")?ProjectID=' + projectId + '&PrimaryID=' + primaryId;
		$.get(url, function (data) {
			$('#myDataContainer').html(data);
			$('#myModal').modal('show');
		});
	}

	function refreshNotes() {
		$('#' + '@Model.NotesGrid.Grid.ID').trigger('reloadGrid', [{ page: 1 }]);
	}

	function projectNoteGridBeforeAjaxRequest() {
		var filters = {};
		filters.ProjectId = $('#Project_Id').val();

		var postData = $(this).jqGrid('getGridParam', 'postData');
		postData.CustomFilters = JSON.stringify(filters);
		$(this).jqGrid('setGridParam', { postData: postData });
	}

	function tasksGridBeforeAjaxRequest() {
		var filters = {};
		filters.ProjectId = $('#Project_Id').val();

		var postData = $(this).jqGrid('getGridParam', 'postData');

		postData.CustomFilters = JSON.stringify(filters);
		$(this).jqGrid('setGridParam', { postData: postData });
	}

	function projectHistoryLogGridBeforeAjaxRequest() {
		var filters = {};
		filters.ProjectId = $('#Project_Id').val();

		var postData = $(this).jqGrid('getGridParam', 'postData');
		postData.CustomFilters = JSON.stringify(filters);
		$(this).jqGrid('setGridParam', { postData: postData });
	}

	function projectJurisdictionItemGridBeforeAjaxRequest() {
		var filters = {};
		filters.ProjectIds = [$('#Project_Id').val()];

		var postData = $(this).jqGrid('getGridParam', 'postData');
		postData.CustomFilters = JSON.stringify(filters);
		$(this).jqGrid('setGridParam', { postData: postData });
	}

	function projectMetricsGridBeforeAjaxRequest() {
		var filters = {};
		filters.ProjectId = $('#Project_Id').val();
		if (this.id == "ProjectQAMetricsGrid"){
			filters.DepartmentId = @((int)Department.QA);
		}
		else{
			filters.DepartmentId = @((int)Department.ENG);
		}

		var postData = $(this).jqGrid('getGridParam', 'postData');
		postData.CustomFilters = JSON.stringify(filters);
		$(this).jqGrid('setGridParam', { postData: postData });
	}

	function projectTransferTaskGridBeforeAjaxRequest() {
		if ($("#LoadOnDemand").val() == "TRANSFERTASK") {
			var filters = {};
			filters.ProjectId = $('#Project_Id').val();

			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(filters);

			$(this).jqGrid('setGridParam', { postData: postData });
		} else {
			return false;
		}
	}

	function projectForeignTaskGridBeforeAjaxRequest() {
		var filters = {};
		filters.ProjectId = $('#Project_Id').val();

		var postData = $(this).jqGrid('getGridParam', 'postData');
		postData.CustomFilters = JSON.stringify(filters);

		$(this).jqGrid('setGridParam', { postData: postData });
	}

		function subProjectGridBeforeAjaxRequest() {
			var filters = {};
			filters.ProjectId = $('#Project_Id').val();
			filters.TeamIds = null;
			filters.AssigneeIds = null;
			filters.Statuses = null;
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(filters);
			$(this).jqGrid('setGridParam', { postData: postData });
			$(this).hideCol('ProjectName');
		}

</script>
}