﻿@model Submissions.Web.Areas.Protrack.Models.Project.EditViewModel

@{
	ViewBag.Title = "Project Edit";
}
@using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { id = "ProjectEditForm" }))
{
	@Html.HiddenFor(x => x.IsTransfer);
	@Html.HiddenFor(x => x.SubmissionsReceivedDate);
	@Html.HiddenFor(x => x.HasiGamingTestingType);
	<div class="row row-title">
		<div class="col-sm-8">
			<h3 class="form-h3">
				@ViewBag.Title - <a href="@Url.Action("detail", "submission", new { filenumber = @Model.FileNumber, Area = "submission" })" target=" _blank">@Model.ProjectName</a>
			</h3>
		</div>
		<div class="col-sm-4 form-buttons text-right">
			@if (Model.Status != ProjectStatus.DN)
			{
				<input type="submit" id="SaveBtn" value="Save" class=" btn btn-primary btn-sm" />
			}
			<input type="reset" id="CancelBtn" class="btn btn-primary btn-sm" value="Cancel" onclick="window.close()">
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Status, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Model.Status
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ENProjectLead, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.ENProjectLeadId, m => m.ENProjectLead, LookupAjax.Users, false)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.DevelopmentRepresentative, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.DevelopmentRepresentativeId, m => m.DevelopmentRepresentative, LookupAjax.Users, false)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.MAManager, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.MAManagerId, m => m.MAManager, LookupAjax.Users, false)

			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.MAProjectLead, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.MAProjectLeadId, m => m.MAProjectLead, LookupAjax.Users, false)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.EstMathComplete, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.EstMathComplete, @Model.EstMathComplete.ToString("d"), new { @class = "form-control datepicker" })
			</div>
			@Html.LabelFor(m => m.IsEstMathCompleteDateToBeDetermined, new { @class = "control-label col-sm-4" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(m => m.IsEstMathCompleteDateToBeDetermined, @Model.IsEstMathCompleteDateToBeDetermined)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.EstTestComplete, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.EstTestComplete, @Model.EstTestComplete.ToString("d"), new { @class = "form-control datepicker" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.EstReviewComplete, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.EstReviewComplete, @Model.EstReviewComplete.ToString("d"), new { @class = "form-control datepicker" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.EstLetterIssueDate, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.EstLetterIssueDate, @Model.EstLetterIssueDate.ToString("d"), new { @class = "form-control datepicker" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ReceivedDate, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.ReceivedDate, "{0:d}", new { @class = "form-control datepicker" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.QADeliveryDate, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.QADeliveryDate, "{0:d}", new { @class = "form-control datepicker" })
			</div>
			@Html.LabelFor(m => m.NoCertNeeded, new { @class = "control-label col-sm-4" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(m => m.NoCertNeeded)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.QuotedHours, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.QuotedHours, @Model.QuotedHours.ToString(), new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.OriginalENManagerId, new { @class = "control-label col-sm-2" })
			@if (Model.OriginalENManagerId == @GLISession.User.Id || Model.ENManagerId == @GLISession.User.Id || Model.ENProjectLeadId == @GLISession.User.Id)
			{
				<div class="col-sm-3">
					@Html.LookupFor(m => m.OriginalENManagerId, m => m.OriginalENManager, LookupAjax.Users, false)
				</div>
			}
			else
			{
				<div class="col-sm-3">
					@Html.HiddenFor(m => m.OriginalENManagerId)
					@Html.DisplayFor(m => m.OriginalENManager)
				</div>
			}
		</div>
		@if (Model.HasiGamingTestingType)
		{
			<div class="form-group form-group-sm">
				@Html.LabelFor(m => m.RequestedDeliveryDate, new { @class = "control-label col-sm-2" })
				<div class="col-sm-2">
					@Html.TextBoxFor(m => m.RequestedDeliveryDate, "{0:d}", new { @class = "form-control datepicker" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(m => m.GoLiveDate, new { @class = "control-label col-sm-2" })
				<div class="col-sm-2">
					@Html.TextBoxFor(m => m.GoLiveDate, "{0:d}", new { @class = "form-control datepicker" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(m => m.FTPLocation, new { @class = "control-label col-sm-2" })
				<div class="col-sm-3">
					@Html.TextAreaFor(m => m.FTPLocation, 3, 0, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.FTPLocation)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(m => m.TestingEnvironment, new { @class = "control-label col-sm-2" })
				<div class="col-sm-3">
					@Html.TextAreaFor(m => m.TestingEnvironment, 3, 0, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.TestingEnvironment)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(m => m.TranslationHouseIds, new { @class = "control-label col-sm-2" })
				<div class="col-sm-3">
					@Html.LookupMultipleFor(m => m.TranslationHouseIds, Model.TranslationHouses, LookupAjax.TranslationHouses, false)
				</div>
			</div>
			if (Model.ShowGameSubmissionType)
			{
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.GameSubmissionTypeId, new { @class = "control-label col-sm-2" })
					<div class="col-sm-3">
						@Html.LookupFor(m => m.GameSubmissionTypeId, m => m.GameSubmissionType, LookupAjax.GameSubmissionTypes, false)
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-3 col-sm-offset-2">
						@Html.TextAreaFor(m => m.GameSubmissionTypeInfo, 3, 0, new { @class = "form-control", placeholder = "Game Submission Type details" })
						@Html.ValidationMessageFor(m => m.GameSubmissionTypeInfo)
					</div>
				</div>
			}
		}
	</div>
}

@section scripts{
	<script>
		$(function () {

		});

		$('#IsEstMathCompleteDateToBeDetermined').click(function (event) {
			if ($('#IsEstMathCompleteDateToBeDetermined').is(':checked')) {
				$('#EstMathComplete').val('');
			}
		});

		$('#SaveBtn').click(function(e){
			var isTranserProject = '@Model.IsTransfer';
			if (isTranserProject == "True") {
				return true;

			}
			var datesMatch = false;
			var submissionReceivedDate = '@Model.SubmissionsReceivedDate.Value';
			var projectReceivedDate = $("#ReceivedDate").data('DateTimePicker').date();
			var submissionReceivedDateObj = new Date(submissionReceivedDate);
			var submissionReceivedDateFormat = [submissionReceivedDateObj.getMonth() + 1, submissionReceivedDateObj.getDate(), submissionReceivedDateObj.getFullYear()].join('/');
			var projectReceivedDateObj = new Date(projectReceivedDate);
			datesMatch = submissionReceivedDateObj.getTime() == projectReceivedDateObj.getTime();

			if (!datesMatch) {
				e.preventDefault();
				bootbox.confirm("The Received Date entered does not match the Submission Received date of " + submissionReceivedDateFormat + ". Do you still want to Continue?", function (result) {
					if (result) {
						$("#ProjectEditForm").submit()
					}

				});
			}
			return datesMatch;

		});
	</script>
}