﻿@model Submissions.Web.Models.Query.AdvancedSearchJurisdiction

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Jurisdiction</h3>
	</div>
	<div class="panel-body">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.JurisdictionIds, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupMultipleFor(m => m.JurisdictionIds, Model.Jurisdictions, LookupAjax.Jurisdictions, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Statuses, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.ListBoxFor(m => m.Statuses, LookupsStandard.ConvertEnum<JurisdictionStatus>(enumValues: ComUtil.InternalJurisdictionStatuses().ToArray()), new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.CompanyId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.CompanyId, m => m.Company, LookupAjax.Companies, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.CurrencyId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.CurrencyId, m => m.Currency, LookupAjax.Currencies, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ContractTypeId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.ContractTypeId, m => m.ContractType, LookupAjax.ContractTypes, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ConditionalRevoke, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.DropDownListFor(m => m.ConditionalRevoke, LookupsStandard.YesNoBool, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.WON, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.TextBoxFor(m => m.WON, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ContractNumber, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.TextBoxFor(m => m.ContractNumber, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.RegulatorRefNum, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.TextBoxFor(m => m.RegulatorRefNum, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.CertNumber, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.TextBoxFor(m => m.CertNumber, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ClientNumber, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.TextBoxFor(m => m.ClientNumber, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.LetterNumber, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.TextBoxFor(m => m.LetterNumber, new { @class = "form-control" })
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.StartQuoteDate, new { @class = "control-label col-sm-4" })
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.StartQuoteDate, new { @class = "form-control datepicker", @placeholder = "From" })
						</div>
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.EndQuoteDate, new { @class = "form-control datepicker", @placeholder = "To" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.StartAuthorizeDate, new { @class = "control-label col-sm-4" })
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.StartAuthorizeDate, new { @class = "form-control datepicker", @placeholder = "From" })
						</div>
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.EndAuthorizeDate, new { @class = "form-control datepicker", @placeholder = "To" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.StartDraftDate, new { @class = "control-label col-sm-4" })
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.StartDraftDate, new { @class = "form-control datepicker", @placeholder = "From" })
						</div>
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.EndDraftDate, new { @class = "form-control datepicker", @placeholder = "To" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.StartCloseDate, new { @class = "control-label col-sm-4" })
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.StartCloseDate, new { @class = "form-control datepicker", @placeholder = "From" })
						</div>
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.EndCloseDate, new { @class = "form-control datepicker", @placeholder = "To" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.StartUpdateDate, new { @class = "control-label col-sm-4" })
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.StartUpdateDate, new { @class = "form-control datepicker", @placeholder = "From" })
						</div>
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.EndUpdateDate, new { @class = "form-control datepicker", @placeholder = "To" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.StartRevokeDate, new { @class = "control-label col-sm-4" })
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.StartRevokeDate, new { @class = "form-control datepicker", @placeholder = "From" })
						</div>
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.EndRevokeDate, new { @class = "form-control datepicker", @placeholder = "To" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.StartObsoleteDate, new { @class = "control-label col-sm-4" })
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.StartObsoleteDate, new { @class = "form-control datepicker", @placeholder = "From" })
						</div>
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.EndObsoleteDate, new { @class = "form-control datepicker", @placeholder = "To" })
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>