﻿@model Submissions.Web.Models.Query.AdvancedSearchMachineCertificate

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Machine Certificate</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.CertificateNumber, new { @class = "control-label col-sm-4" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.CertificateNumber, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.SerialNumber, new { @class = "control-label col-sm-4" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.SerialNumber, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.SealNumber, new { @class = "control-label col-sm-4" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.SealNumber, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.StartCertificateDate, new { @class = "control-label col-sm-4" })
					<div class="col-sm-3">
						@Html.TextBoxFor(m => m.StartCertificateDate, new { @class = "form-control datepicker", @placeholder = "From" })
					</div>
					<div class="col-sm-3">
						@Html.TextBoxFor(m => m.EndCertificateDate, new { @class = "form-control datepicker", @placeholder = "To" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.DeviceType, new { @class = "control-label col-sm-4" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.DeviceType, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.CertificateThatWasReplaced, new { @class = "control-label col-sm-4" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.CertificateThatWasReplaced, new { @class = "form-control" })
					</div>
				</div>
			</div>
		</div>
	</div>
</div>