﻿@model Submissions.Web.Models.Query.AdvancedSearchMemo

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Memo</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Type, new { @class = "control-label col-sm-4" })
					<div class="col-sm-4">
						@Html.DropDownListFor(m => m.Type, LookupsStandard.ConvertEnum<MemoType>(showBlank: true), new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Memo, new { @class = "control-label col-sm-4" })
					<div class="col-sm-7">
						@Html.TextAreaFor(m => m.Memo, 5, 50, new { @class = "form-control" })
					</div>
				</div>
			</div>
		</div>
	</div>
</div>