﻿@model Submissions.Web.Models.Query.AdvancedSearchSignature

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Signature</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.TypeId, new { @class = "control-label col-sm-4" })
					<div class="col-sm-7">
						@Html.LookupFor(m => m.TypeId, m => m.Type, LookupAjax.SignatureTypes, false)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.ScopeId, new { @class = "control-label col-sm-4" })
					<div class="col-sm-5">
						@Html.LookupFor(m => m.ScopeId, m => m.Scope, LookupAjax.SignatureScopes, false)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Signature, new { @class = "control-label col-sm-4" })
					<div class="col-sm-7">
						@Html.TextBoxFor(m => m.Signature, new { @class = "form-control" })
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
