﻿@model Submissions.Web.Models.Query.AdvancedSearchSubmission

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Submission</h3>
	</div>
	<div class="panel-body">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.FileNumber, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.FileNumber, new { @class = "form-control upper", autofocus = "autofocus" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ManufacturerCode, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.ManufacturerCode, m => m.Manufacturer, LookupAjax.Manufacturers, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.IdNumber, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.GameName, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.GameName, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.TypeId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.TypeId, m => m.Type, LookupAjax.SubmissionTypes, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.DateCode, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.DateCode, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.FunctionId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.FunctionId, m => m.Function, LookupAjax.Functions, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Position, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ChipTypeId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.ChipTypeId, m => m.ChipType, LookupAjax.ChipTypes, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Version, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.Version, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ManufacturerBuildId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.ManufacturerBuildId, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.OrgIGTMaterial, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.OrgIGTMaterial, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.GameTypeId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.GameTypeId, m => m.GameType, LookupAjax.GameTypes, false)
						</div>
					</div>
					@*
			"Supposedly" this field was merged over to the ID Number field and is not used any more
			Just leave commented for now 8/21/19
			<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.PartNumber, new { @class = "control-label col-sm-4" })
			<div class="col-sm-7">
				@Html.TextBoxFor(m => m.PartNumber, new { @class = "form-control" })
			</div>
		</div>
					*@
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ArchiveLocationId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.ArchiveLocationId, m => m.ArchiveLocation, LookupAjax.Laboratories, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.RegressionTesting, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.DropDownListFor(m => m.RegressionTesting, LookupsStandard.YesNoBool, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ConditionalRevoke, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.DropDownListFor(m => m.ConditionalRevoke, LookupsStandard.YesNoBool, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Vendor, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.Vendor, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ReplaceWith, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.ReplaceWith, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.System, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.System, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Operator, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.Operator, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.AristocratTypeId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.AristocratTypeId, m => m.AristocratType, LookupAjax.EResultsAUEnums, false, new { data_filter = "{\"Node\":\"ARPType\"}" })

						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.AristocratMarketId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.AristocratMarketId, m => m.AristocratMarket, LookupAjax.EResultsAUEnums, false, new { data_filter = "{\"Node\":\"ARPMarket\"}" })
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Year, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.DropDownListFor(m => m.Year, LookupsStandard.Years, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.StartSubmitDate, new { @class = "control-label col-sm-4" })
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.StartSubmitDate, new { @class = "form-control datepicker", @placeholder = "From" })
						</div>
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.EndSubmitDate, new { @class = "form-control datepicker", @placeholder = "To" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.StartReceiveDate, new { @class = "control-label col-sm-4" })
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.StartReceiveDate, new { @class = "form-control datepicker", @placeholder = "From" })
						</div>
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.EndReceiveDate, new { @class = "form-control datepicker", @placeholder = "To" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.CompanyId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.CompanyId, m => m.Company, LookupAjax.Companies, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ContractTypeId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.ContractTypeId, m => m.ContractType, LookupAjax.ContractTypes, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.CurrencyId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.CurrencyId, m => m.Currency, LookupAjax.Currencies, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ContractNumber, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.ContractNumber, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.LabId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.LabId, m => m.Lab, LookupAjax.Laboratories, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.CertificationLabId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.CertificationLabId, m => m.CertificationLab, LookupAjax.Laboratories, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Status, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.DropDownListFor(m => m.Status, LookupsStandard.ConvertEnum<SubmissionStatus>(showBlank: true), new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ExternalLabId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.ExternalLabId, m => m.ExternalLab, LookupAjax.ExternalLabs, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.TestingTypeId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.TestingTypeId, m => m.TestingType, LookupAjax.TestingTypes, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.WorkPerformedId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.WorkPerformedId, m => m.WorkPerformed, LookupAjax.WorkPerformed, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.TestingPerformedId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.TestingPerformedId, m => m.TestingPerformed, LookupAjax.TestingPerformed, false)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.PurchaseOrder, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.PurchaseOrder, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.LetterNumber, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.LetterNumber, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.ProjectDetail, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.ProjectDetail, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.CodeStorageLocationId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.LookupFor(m => m.CodeStorageLocationId, m => m.CodeStorageLocation, LookupAjax.Laboratories, false)
						</div>
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.CodeStorage, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.EUCodeStorage, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.TextBoxFor(m => m.EUCodeStorage, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.BugBoxLocationId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-4">
							@Html.LookupFor(m => m.BugBoxLocationId, m => m.BugBoxLocation, LookupAjax.Laboratories, false)
						</div>
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.BugBox, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.AristocratComplexityId, new { @class = "control-label col-sm-4" })
						<div class="col-sm-7">
							@Html.LookupFor(m => m.AristocratComplexityId, m => m.AristocratComplexity, LookupAjax.EResultsAUEnums, false, new { data_filter = "{\"Node\":\"ARPComplexity\"}" })
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>