﻿@model Submissions.Web.Areas.Search.Models.AdvancedSearch.DisplayViewModel

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}

@{
	ViewBag.Title = "Search";
	ViewBag.FullWidth = true;
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<button class="btn btn-primary btn-sm" id="CancelBtn">Close</button> &nbsp;
	</div>
</div>

@Html.Hidden("Filters", @Html.Raw(Json.Encode(Model.Filters)))
@Html.Trirand().JQGrid(Model.AdvancedSearchGrid.Grid, @Model.AdvancedSearchGrid.Grid.ID)
@{Html.RenderPartial("GridsAutoComplete/_Submission");}

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$(function () {
			$('#CancelBtn').on('click', function () {
				window.open('', '_self', '');
				window.close();
			});
		});

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = $('#Filters').val();
			$(this).jqGrid('setGridParam', { postData: postData });
		};
	</script>
}

