﻿@model Submissions.Web.Areas.Search.Models.AdvancedSearch.IndexViewModel

@section css{
	<style>
		.topnav a {
			float: left;
			display: block;
			text-align: center;
			padding: 8px 5px 6px 5px;
			text-decoration: none;
			font-size: 12px;
			border-bottom: 2px solid transparent;
			margin-right: 10px;
		}

			.topnav a:hover {
				border-bottom: 2px solid #c0c0c0;
			}

			.topnav a.active {
				border-bottom: 2px solid #c0c0c0;
			}
	</style>
}

@{
	ViewBag.Title = "Search";
	ViewBag.FullWidth = true;
}

@using (Html.BeginForm("Display", "AdvancedSearch", FormMethod.Post, new { id = "SearchForm", target = "_blank" }))
{
	<div class="row row-title">
		<div class="col-sm-2">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-8 form-buttons">
			<div class="topnav">
				<a href="#submission" class="active" data-section="submission">Submission</a>
				<a href="#jurisdiction" data-section="jurisdiction">Jurisdiction</a>
				<a href="#signature" data-section="signature">Signature</a>
				<a href="#memo" data-section="memo">Memo</a>
				<a href="#machinecertificate" data-section="machinecertificate">Machine Certificate</a>
			</div>
		</div>
		<div class="col-sm-2 form-buttons">
			<button type="button" class="btn btn-primary btn-sm btn-search"><i class="fas fa-search"></i>&nbsp;Search</button>
			<input type="reset" class="btn btn-primary btn-sm btn-clear" value="Clear" />
			@Html.ActionLink("Exit", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-horizontal">
				<div id="SectionSubmission" class="panel-search panel-submission">@{Html.RenderPartial("_Submission", Model.Filters.Submission, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "Filters.Submission" } });}</div>
				<div id="SectionJurisdiction" class="panel-search panel-jurisdiction hidden">@{Html.RenderPartial("_Jurisdiction", Model.Filters.Jurisdiction, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "Filters.Jurisdiction" } });}</div>
				<div id="SectionSignature" class="panel-search panel-signature hidden">@{Html.RenderPartial("_Signature", Model.Filters.Signature, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "Filters.Signature" } });}</div>
				<div id="SectionMemo" class="panel-search panel-memo hidden">@{Html.RenderPartial("_Memo", Model.Filters.Memo, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "Filters.Memo" } });}</div>
				<div id="SectionMachineCertificate" class="panel-search panel-machinecertificate hidden">@{Html.RenderPartial("_MachineCertificate", Model.Filters.MachineCertificate, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "Filters.MachineCertificate" } });}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 form-buttons">
			<button type="button" class="btn btn-primary btn-sm btn-search"><i class="fas fa-search"></i>&nbsp;Search</button>
			<input type="reset" class="btn btn-primary btn-sm btn-clear" value="Clear">
			@Html.ActionLink("Exit", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>
}

@section scripts{
	<script>
		$(function () {
			$('.btn-search').on('click', function () {
				search();
			});

			$('#SearchForm').on('keypress', function (e) {
				if (e.which === 13) {
					search();
				}
			});

			$('.topnav a').on('click', function (e) {
				e.preventDefault();

				var section = $(this).data('section');

				$('a[data-section]').removeClass('active');
				$('a[data-section="' + section + '"]').addClass('active');
				$('.panel-search').addClass('hidden');
				$('.panel-' + section).removeClass('hidden');
			});
		});

		function search() {
			var fieldsToSearch = $('input.form-control, select.form-control')
				.filter(function () { return !Em($(this).val()); })
				.map(function () { return $(this).attr('id') })
				.get();

			var skipShortCircuit = false;
			var fileNumber = $('#Filters_Submission_FileNumber').val();
			var idNumber = $('#Filters_Submission_IdNumber').val();
			var term = {};

			if (!Em(fileNumber) && fileNumber.indexOf('*') === -1 && (fileNumber.match(/-/g) || []).length > 3) {
				term.fileNumber = fileNumber;
				skipShortCircuit = fieldsToSearch.length > 1 ? true : false;
			}
			else if (!Em(idNumber) && idNumber.indexOf('*') === -1) {
				term.idNumber = idNumber;
				skipShortCircuit = fieldsToSearch.length > 1 ? true : false;
			}

			if (Object.keys(term).length > 0 && !skipShortCircuit) {
				$.get('@Url.Action("shortcircuit", "advancedsearch", new { area = "" })', term)
					.done(function (data) {
						if (data.submissionHeaderId) {
							window.location = jsPath + 'submission/submission/detail?submissionHeaderId=' + data.submissionHeaderId;
						}
						else if (data.submissionId) {
							window.location = jsPath + 'submission/submission/detail/' + data.submissionId;
						}
						else {
							$('#SearchForm').submit();
						}
					});
			}
			else {
				$('#SearchForm').submit();
			}
		}
	</script>
}
