﻿@model Submissions.Web.Areas.Lookups.Models.LBDefaultingOptionsIndexViewModel
@{
	ViewBag.Title = "Letterbook Defaults";
	ViewBag.FullWidth = true;
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		var deleteUrl = '@Url.Action("Delete", "LetterbookDefaultingOptions")';
		var editUrl = '@Url.Action("Edit", "LetterbookDefaultingOptions")';
	</script>
	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}