﻿<template>
	<form ref="BillingLookupForm" method="post">
		<input type="hidden" name="Mode" v-model="vm.mode" />
		<div class="row row-title">
			<div class="col-sm-8">
				<h3> {{ vm.mode | modeText }} Billing Party</h3>
			</div>
			<div class="col-sm-4 form-buttons">
				<a @click="save" class="btn btn-primary btn-sm">{{ vm.mode | saveText }}</a>
				<a-link href="/lookups/billingparties" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="form-horizontal">
			<input type="hidden" id="Id" name="Id" v-model="vm.id" />
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Billing Party</label>
				<div class="col-sm-4">
					<input id="BillingPary" name="BillingParty" class="form-control" v-model="vm.billingParty" />
					<span class="field-validation-error" v-if="!$v.vm.billingParty.required && $v.vm.billingParty.$error">Billing party name is required</span>
					<span class="field-validation-error" v-if="$v.vm.billingParty.$error && !$v.vm.billingParty.maxLength">The field Billing Party must be a string with a maximum length of {{ $v.vm.billingParty.$params.maxLength.max }}.</span>

				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Manufacturer Group</label>
				<div class="col-sm-4">
					<Lookup id="ManufacturerGroupId"
							name="ManufacturerGroupId"
							v-model="vm.manufacturerGroupId"
							lookupajax="ManufacturerGroups"
							:lookuptextfield="vm.manufacturerGroup"
							@updateLookupTextField="updateManufacturerGroup"
							class="form-control">
					</Lookup>
					<span class="field-validation-error" v-if="!$v.vm.manufacturerGroupId.required && $v.vm.manufacturerGroupId.$error">Manufacturer Group is required</span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Testing Type</label>
				<div class="col-sm-4">
					<Lookup id="TestingTypeId"
							name="TestingTypeId"
							v-model="vm.testingTypeId"
							lookupajax="TestingTypes"
							:lookuptextfield="vm.testingType"
							@updateLookupTextField="updateTestingType"
							class="form-control">
					</Lookup>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Billing Party Code</label>
				<div class="col-sm-4">
					<input name="BillingPartyCode" type="number" v-model="vm.billingPartyCode" class="form-control" />
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="Active">Active</label>
				<div class="col-sm-3">
					<input id="Active" name="Active" type="checkbox" class="padcheckbox" v-model="vm.active" :value="vm.active" />
				</div>
			</div>
		</div>
	</form>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import { required, maxLength } from 'vuelidate/lib/validators';

	export default {
		components: {
			ALink,
			Lookup
		},
		data: function () {
			return {
				vm: initialData
			}
		},
		methods: {
			save: function () {
				if (this.validate()) {
					return;
				}
				const form = this.$refs.BillingLookupForm;
				form.action = jsPath + 'Lookups/BillingParties/Edit';
				form.submit();
			},
			updateManufacturerGroup: function (value) {
				this.vm.manufacturerGroup = value;
			},
			updateTestingType: function (value) {
				this.vm.testingType = value;
			},
			validate: function () {
				this.$v.$touch();
				return this.$v.$invalid;
			},
		},
		validations: {
			vm: {
				billingParty: {
					required,
					maxLength: maxLength(200)
				},
				manufacturerGroupId: {
					required
				}
			}
		},
	}
</script>