﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Billing Parties</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<a-link href="/lookups/billingparties/edit" class="btn btn-sm btn-primary">Add</a-link>
				<a-link href="/tools" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="row">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Billing Party</th>
						<th>Manufacturer Group</th>
						<th>Testing Type</th>
						<th>Billing Party Code</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(billingParty, index) in vm">
						<td :class="getRowClass(billingParty)">{{billingParty.billingParty}}</td>
						<td :class="getRowClass(billingParty)">{{billingParty.manufacturerGroup}}</td>
						<td :class="getRowClass(billingParty)">{{billingParty.testingType}}</td>
						<td :class="getRowClass(billingParty)">{{billingParty.billingPartyCode}}</td>
						<td class="text-right">
							<a :href="editLink + '?id=' + billingParty.id">Edit</a> |
							<a :href="toggleActiveLink + '?id=' + billingParty.id">{{billingParty.active ? 'Deactivate' : 'Activate'}}</a>
							<span v-if="!billingParty.active"><a :href="deleteLink + '?id=' + billingParty.id"> | Delete</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	export default {
		components: {
			ALink
		},
		data: function() {
			return {
				editLink: editLink,
				deleteLink: deleteLink,
				toggleActiveLink: toggleActiveLink,
				vm: initialData
			}
		},
		methods: {
			getRowClass: function (billingParty) {
				return billingParty.active ? 'normal' : 'text-red';
			}
		}
	}
</script>