﻿@{
    ViewBag.Title = "Error";
}

<div class="row row-title">
    <div class="col-sm-6">
        <h3>@ViewBag.Title</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        The Following Error Has Occurred:
        @ViewBag.Message
    </div>
</div>