﻿@model Submissions.Web.Areas.Protrack.Models.IncomingReview.IndexViewModel

@section css{
	<style type="text/css">
		/* General */
		.redText {
			font-weight: bold;
			color: red;
		}

		.darkseagreenText {
			color: darkseagreen;
		}

		.transferHighlight {
			background-color: #CCFFFF;
		}

		.clickable {
			cursor: pointer;
		}

		.form-group.required .control-label:after {
			content: "*";
			font-size: medium;
			color: red;
		}

		.sectionTitle {
			font-size: 13px;
			font-weight: bold;
			font-style: italic;
			color: #754a1e;
		}

		*[id^='resubmission-step'] {
			margin-bottom: 20px;
		}

			*[id^='resubmission-step']:nth-child(2) {
				margin-bottom: 36px;
			}
	</style>
}

@{
    ViewBag.Title = "Incoming Review";
    ViewBag.FullWidth = true;
    ViewBag.NoFooter = true;
    Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}

<div class="row col-sm-12">
	<div id="app"></div>
</div>


@section scripts{
	<script>
	// -- HttpGET
	let _GETmasterFileRecordsURL = '@Url.Action("GetMasterFileRecords")';

	// -- HttpPOST
	let _POSTsaveIncomingReviewURL = '@Url.Action("SaveIncomingReview")';
		
	var IncomingReviewVM = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	let GERNERALVALIDATIONFAILURE = "There were validation errors on save, please fix all errors and try again.";
	let returnToProtrackDetailLink = '@Url.Action("Detail","Project", new { id=Model.ProjectId})';

	//Function Roles - Category Ids
	let IGAMINGGAMESFUNCTIONALROLECATEGORYID = @((int)FunctionalRoleCategory.iGamingGames);
	let GAMINGDEVICESOFTWARECATEGORYID = @((int)FunctionalRoleCategory.GamingDeviceSoftware);
	let GAMINGDEVICEHARDWARECATEGORYID = @((int)FunctionalRoleCategory.GamingDeviceHardware);
	let INFORMATIONSYSTEMSSECURITYCATEGORYID = @((int)FunctionalRoleCategory.InformationSystemsSecurity);
	let RANDOMNUMBERGENERATORSCATEGORYID = @((int)FunctionalRoleCategory.RandomNumberGenerators);
	let IGAMINGPLATFORMCATEGORYID = @((int)FunctionalRoleCategory.iGamingPlatform);
	let SYSTEMCATEGORYID = @((int)FunctionalRoleCategory.System);
	let ENGINEERINGDEPARTMENTID = @((int)Submissions.Common.Department.ENG);
	let MATHDEPARTMENTID = @((int)Submissions.Common.Department.MTH);


	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}