﻿@model Submissions.Web.Areas.Lookups.Models.RolesViewModel

@{
	ViewBag.Title = Model.Mode + " Role";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@section css{
	<style>
		input[type='checkbox'] {
			margin: 0;
		}
	</style>
}

@using (Html.BeginForm("Edit", "Roles", FormMethod.Post, new { id = "LookupForm" }))
{ 
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Mode)

	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.Description)</small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "Roles", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">General</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Code, new { @class = "col-sm-2 control-label" })
					<div class="col-sm-3">
						@Html.TextBoxFor(m => m.Code, new { @class = "form-control", autofocus = "autofocus" })
						@Html.ValidationMessageFor(m => m.Code)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Description, new { @class = "col-sm-2 control-label" })
					<div class="col-sm-3">
						@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Description)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.DepartmentId, new { @class = "col-sm-2 control-label" })
					<div class="col-sm-3">
						@Html.LookupFor(m => m.DepartmentId, m => m.DepartmentName, LookupAjax.Departments, true)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Active, new { @class = "col-sm-2 control-label" })
					<div class="col-sm-3">
						<div class="checkbox">
							<label>@Html.CheckBoxFor(m => m.Active)</label>
						</div>
						@Html.ValidationMessageFor(m => m.Active)
					</div>
				</div>
			</div>
		</div>
	</div> 

	<div class="panel panel-default">
		<div class="panel-heading">Default Permissions</div>
		<div class="panel-body">
			<div class="form-group form-group-sm">
				<table class="table table-condensed table-striped table-hover">
					<tr>
						<th>Permission</th>
						<th>Read</th>
						<th>Add</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					@for (var i = 0; i < Model.AccessRights.Count; i++)
					{
						@Html.HiddenFor(m => Model.AccessRights[i].PermissionId)
						<tr>
							<td>@Html.DisplayFor(m => Model.AccessRights[i].Description)</td>
							<td>@Html.CheckBoxFor(m => Model.AccessRights[i].Read)</td>
							<td>@Html.CheckBoxFor(m => Model.AccessRights[i].Add)</td>
							<td>@Html.CheckBoxFor(m => Model.AccessRights[i].Edit)</td>
							<td>@Html.CheckBoxFor(m => Model.AccessRights[i].Delete)</td>
						</tr>
					}
				</table>
			</div>
		</div>
	</div>
}
