﻿@model Submissions.Web.Areas.Protrack.Models.ProjectAccept.IndexViewModel
@{
	ViewBag.Title = "Accept Projects";
	ViewBag.FullWidth = true;
}
@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.ui-jqgrid tr.jqgrow td {
			white-space: normal;
			vertical-align: top;
		}

		.modal.modal-wide .modal-dialog {
			width: 90%;
			height: auto;
		}

		.select2-container--bootstrap .select2-selection {
			font-size: 12px;
		}
	</style>
}


@(Html.Trirand().JQDatePicker(
			new JQDatePicker
				{
					DisplayMode = DatePickerDisplayMode.ControlEditor,
					DateFormat = "mm/dd/yyyy",
					ShowOn = ShowOn.Focus,
				}, "DatePicker")
)

<div class="row row-title">
	<div class="col-sm-6">
		@if (Model.ProtrackType == ProtrackType.ENG)
		{
			<h3 class="form-h3">@ViewBag.Title <small>Engineering</small></h3>
		}
		else
		{
			<h3 class="form-h3">@ViewBag.Title <small>QA</small></h3>
		}
	</div>
	<div class="col-sm-6 form-buttons">
		<button type="button" class="btn btn-primary btn-sm" id="Accept" onclick="DoAction('Accept')">Accept</button>
		@if (Model.ProtrackType == ProtrackType.ENG)
		{
			<button type="button" class="btn btn-primary btn-sm" id="Decline" onclick="DoAction('Decline')">Decline</button>
		}
		else
		{
			<button type="button" class="btn btn-primary btn-sm" id="Decline" onclick="DoAction('SkipQA')">Skip QA</button>
		}
		<input type="reset" id="CancelBtn" class="btn btn-primary btn-sm" value="Cancel" onclick="window.parent.location.reload();window.close()">
	</div>
</div>
@using (Html.BeginForm("Save", "ProjectAccept", FormMethod.Post, new { ProjectAcceptModel = Model, Id = "ProjectAcceptForm" }))
{
	@Html.HiddenFor(m => m.Filters.Status)
	@Html.HiddenFor(m => m.AcceptIds)
	@Html.HiddenFor(m => m.DeclineIds)
	@Html.HiddenFor(m => m.SkipQAIds)
	@Html.HiddenFor(m => m.ProtrackType)
	@Html.Hidden("CurrentProject")
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Search</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="col-sm-4">
							@if (Model.ProtrackType == ProtrackType.QA)
							{
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.TestLabId, new { @class = "control-label col-sm-3" })
									<div class="col-sm-9">
										@Html.LookupMultipleFor(m => m.Filters.TestLabIds, Model.Filters.TestLabs, LookupAjax.Laboratories, false)
									</div>
								</div>
							}
							else
							{
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.LaboratoryId, new { @class = "control-label col-sm-2" })
									<div class="col-sm-9">
										@Html.LookupMultipleFor(m => m.Filters.LaboratoryIds, Model.Filters.Laboratories, LookupAjax.Laboratories, false)
									</div>
								</div>
							}
						</div>
						<div class="col-sm-5">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ManufacturerShort, new { @class = "control-label col-sm-2 " })
								<div class="col-sm-9">
									@Html.LookupMultipleFor(m => m.Filters.ManufacturerShorts, Model.Filters.Manufacturers, LookupAjax.Manufacturers, false)
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group form-group-sm">
								@Html.Label("Projects/Transfers", new { @class = "control-label col-sm-5" })
								<div class="col-sm-7">
									@Html.DropDownListFor(m => m.Filters.IsTransfer, LookupsStandard.ConvertEnum<ProjectType>(), new { @class = "form-control" })
								</div>
							</div>
						</div>
					</div>
					<div class="row">

						@if (Model.ProtrackType == ProtrackType.QA)
						{
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.Jurisdiction, new { @class = "control-label col-sm-3" })
									<div class="col-sm-9">
										@Html.LookupFor(m => m.Filters.Jurisdiction, m => m.Filters.JurisdictionDesc, LookupAjax.Jurisdictions, false)
									</div>
								</div>
							</div>
						}
						<div class="col-sm-5">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.QALocationId, new { @class = "control-label col-sm-2 " })
								<div class="col-sm-9">
									@Html.LookupFor(m => m.Filters.QALocationId, m => m.Filters.QALocation, LookupAjax.Laboratories, false, new { data_filter = "searchFilter"})
								</div>
							</div>
						</div>
						<div class="col-sm-3 text-right pull-right">
							<button type="button" class="btn btn-primary" id="Search"><i class="fas fa-filter"></i>&nbsp;Filter</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}


<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.ProjectJurGrid.Grid, Model.ProjectJurGrid.Grid.ID)
		@if (Model.ProtrackType == ProtrackType.QA)
		{
			@Html.Trirand().JQGrid(Model.ReviewerProjectGrid.Grid, Model.ReviewerProjectGrid.Grid.ID)
		}
		else
		{
			@Html.Trirand().JQGrid(Model.ProjectGrid.Grid, Model.ProjectGrid.Grid.ID)
		}
	</div>
</div>
@{Html.RenderPartial("GridsAutoComplete/_Project");}
<!--Modal Info-->
<div class="modal modal-wide fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div id='ModalContainer' width="90%">

			</div>
		</div>
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
			var grid = $('#ProjectGrid');
			var childgrid = $('#ChildDetailJurisdictions')
			$(function () {
				window.onunload = refreshParentGrid;

				//$(grid).bind("contextmenu", function (event) {
				//	$("div.custom-menu").hide();
				//	event.preventDefault();
				//	var menuHtml = $(".Actions").html();
				//	menuHtml = '<ul class="dropdown-menu"><li><a href="#" onclick="GetProjectDetail()">Project Details</a></li><li class="divider"></li>' + menuHtml + '</ul>'

				//	$("<div class='custom-menu dropdown open' style='position:absolute'>" + menuHtml + "</div>")
				//	.appendTo("body")
				//	.css({ top: event.pageY + "px", left: event.pageX + "px" });
				//});

				//$(document).bind("click", function (event) {
				//	$("div.custom-menu").hide();
				//});

				$('#Search').click(function () {
					grid.trigger('reloadGrid', [{ page: 1 }]);
				});

				$('#Filters_ManufacturerShorts').on('change', function () {
					$('#Search').click();
				});

				//after selecting date, auto search, enter key does not work, have to click twice
				$('.ui-search-input').change(function () {
					if ($(this).find("input").hasClass('hasDatepicker')) {
						$(grid)[0].triggerToolbar();
					}
				})

				grid.jqGrid("setGridParam", {
					gridComplete: function () {
						$('.SelAssign').each(function () {
							//  alert(this.name)
							initializeLookupAjax(this);
						});
						setCustomization();
						if ($('#ProtrackType').val() == '@ProtrackType.QA') {
							loadBundleTypes();
							loadQAProjectNote();
						}

					},
					beforeSelectRow: function (rowid, e) { // multi select for ctrl+shift
						if (!e) e = window.event;
						var element = e.target || e.srcElement
						if (element.className.indexOf('select2') > -1) //fix for selecting dropdown unchecks checbox or vice versa
						{
							return false;
						}
						var $this = $(this), rows = this.rows,
							// get id of the previous selected row
							startId = $this.jqGrid('getGridParam', 'selrow'),
							startRow, endRow, iStart, iEnd, i, rowidIndex;
						if (startId && e.shiftKey) {

							$this.jqGrid('resetSelection');

							// get DOM elements of the previous selected and the currect selected rows
							startRow = rows.namedItem(startId);
							endRow = rows.namedItem(rowid);
							if (startRow && endRow) {
								// get min and max from the indexes of the previous selected
								// and the currect selected rows
								iStart = Math.min(startRow.rowIndex, endRow.rowIndex);
								rowidIndex = endRow.rowIndex;
								iEnd = Math.max(startRow.rowIndex, rowidIndex);
								for (i = iStart; i <= iEnd; i++) {
									// the row with rowid will be selected by jqGrid, so:
									if (i != rowidIndex) {
										$this.jqGrid('setSelection', rows[i].id, false);
									}
								}
							}

							// clear text selection
							if (document.selection && document.selection.empty) {
								document.selection.empty();
							} else if (window.getSelection) {
								window.getSelection().removeAllRanges();
							}
						}
						return true;
					}
				});
			});

			function showDetails(subgrid_id, row_id) {
				// the showSubGrid_GridID javascript functions are autogenerated.
				// the third parameter is optional - HTML you wish to display above the child grid(s)
				$('#CurrentProject').val(row_id)
				showSubGrid_ChildDetailJurisdictions(subgrid_id, row_id, "", "ChildDetailJurisdictions");
				$(".ui-jqgrid-titlebar").hide()

			}

			function projectJurisdictionItemGridBeforeAjaxRequest() {
				var filters = {};
				filters.ProjectIds = [$('#CurrentProject').val()];
				var postData = $(this).jqGrid('getGridParam', 'postData');

				postData.CustomFilters = JSON.stringify(filters);
				$(this).jqGrid('setGridParam', { postData: postData });
			}

			//function GetProjectDetail() {
			//	var grid = $('#ProjectGrid');
			//	var selRow = $(grid).jqGrid('getGridParam', 'selarrrow');
			//	if (selRow == "") {
			//		bootbox.alert("Please select projects.");
			//	}
			//	else {
			//		if (selRow.length == 1) {
			//			openDetail(selRow);
			//		}
			//		else {
			//			bootbox.alert("Please select one project.");
			//		}
			//	}
			//}

			function setCustomization() {
				var ids = $(grid).jqGrid("getDataIDs");
				for (var i = 0; i < ids.length; i++) {
					var rowId = ids[i];
					var rowData = $(grid).jqGrid('getRowData', rowId);
					//this needs to be done after, or else formating is lost after sort or filter
					var indexFileExist = $(grid).getColumnIndexByName("FileNumber")
					if (indexFileExist > 0) {
						if (rowData.IsTransfer == "True") {
							$("#" + rowId).find('td').eq(indexFileExist + 2).addClass("transferProjectIndicator");
						}
					}

					//Hide for new submissions project
						if (rowData.IsTransfer == "False") {
							$("#" + rowId).find("td.ui-sgcollapsed>a").hide();
							$("#" + rowId).find("td.ui-sgcollapsed").removeClass("sgcollapsed");
						}

				}
			}

			function loadQAProjectNote() {
				var ids = $(grid).jqGrid("getDataIDs");
				var data = { projectIds: ids }
				var url = '@Url.Action("GetQANotes", "AsyncData")'
				$.ajax({
					url: url,
					type: 'post',
					dataType: 'json',
					data: JSON.stringify(data),
					contentType: "application/json; charset=UTF-8",
					async: true,
					success: function (data) {
						if (data != "") {
							if (data.length > 0) {
								var indexFileExist = $(grid).getColumnIndexByName("FileNumber")
								for (x = 0; x < data.length; x++) {
									var cellValue = "";
									if (data[x].QANoteWhileAccept != "") {
										cellValue = "<i class='fas fa-exclamation-triangle' aria-hidden='true'></i>&nbsp;<p class='text-warning small'>" + data[x].QANoteWhileAccept + "</p>"
									}
									$(grid).jqGrid("setCell", data[x].ProjectId, "ProjectNote", cellValue);
									$("#" + data[x].ProjectId).find('td').eq(3).append(cellValue);
								}
							}

						}
					}
				});

			}


			function loadBundleTypes() {
				var ids = $(grid).jqGrid("getDataIDs");
				var data = { projectIds: ids }
				var url = '@Url.Action("GetBundleTypes", "AsyncData")'
				$.ajax({
					url: url,
					type: 'post',
					dataType: 'json',
					data: JSON.stringify(data),
					contentType: "application/json; charset=UTF-8",
					async: true,
					success: function (data) {
						if (data != "") {
							if (data.length > 0) {
								var columnIndex = $(grid).getColumnIndexByName("QAProjectIndicator")
								var filecolumnIndex = $(grid).getColumnIndexByName("FileNumber")
								for (x = 0; x < data.length; x++) {
									var cellValue = "";
									if (!Em(data[x].BundleType)) {
										cellValue += '<small><mark>' + data[x].BundleType + '</mark></small>';
									}
									if (data[x].BundleIndicator != "") {
										cellValue += '<code>' + data[x].BundleIndicator + '</code>';
									}
									$(grid).jqGrid("setCell", data[x].ProjectId, "QAProjectIndicator", cellValue);
									$("#" + data[x].ProjectId).find('td').eq(filecolumnIndex + 2).append(cellValue);
								}
							}

						}
					}
				});

			}

			function openReview(projectId) {
				window.open('@Url.Action("Index", "IncomingReview")' + '/index/' + projectId);
			}

			function openDetail(id) {
				window.open('@Url.Action("Detail", "Project")' + '/' + id)
			}

			function showIsReviewed(cellValue, options, rowObject) {
				return '<span Title="Is Reviewed/Task Assigned?"><Input type=checkbox id=chkReview' + options.rowId + ' value=' + options.rowId + '"></span>';
			}

			function showDeclineReason(cellValue, options, rowObject) {
				var val = ''
				if (rowObject[$(this).getColumnIndexByName("IsTransfer")] == "True") {
					val = '<font color=navy size=1>Decline Reason:</font><br><textArea class=declineReason id=declineReason' + options.rowId + ' cols=40 rows=2 class="form-control"></textArea>'
				}
				return val
			}

			function reviewLink(cellValue, options, rowObject) {
				return '&nbsp;&nbsp;<a href="javascript:openReview(' + options.rowId + ')" title="Incoming Review">Review <i class="far fa-edit" aria-hidden="true"></i></a>';
			}

			function detailLink(cellValue, options, rowObject) {
				var append = ""
				if (rowObject[$(this).getColumnIndexByName("IsRush")] == "True") {
					append = "<i class='far fa-clock rushProject' aria-hidden='true' title='Expedite Project'></i>&nbsp;"
				}

				return append + '<a href="javascript:openDetail(' + options.rowId + ')">' + cellValue + '</a>&nbsp;';
			}

			function assignIncomingLink(cellValue, options, rowObject) {
				var drpAssign = '<select id="SelInReviewAssign' + options.rowId + '" data-lookupajax="@LookupAjax.Users" class="SelAssign" width=150 style="width: 150px;font-size:8px" ></select>'
				return drpAssign;
			}

			function showENProjectNote(cellValue, options, rowObject) { //EN Notes
				var val = ""
				if (rowObject[$(this).getColumnIndexByName("EngNotes")] != "") {
					val = "<p class='text-warning small'>" + rowObject[$(this).getColumnIndexByName("EngNotes")] + "</p>"
				}

				return val;
			}

			function showProjectNote(cellValue, options, rowObject) {// QA Note
				var val = ""
				if (rowObject[$(this).getColumnIndexByName("ProjectNote")] != "") {
					val = "<i class='fas fa-exclamation-triangle' aria-hidden='true'></i>&nbsp;<p class='text-warning small'>" + rowObject[$(this).getColumnIndexByName("ProjectNote")] + "</p>"
				}

				return val;
			}

			function gridBeforeAjaxRequest() {
				var postData = $(this).jqGrid('getGridParam', 'postData');
				postData.CustomFilters = JSON.stringify(getFilters());
				$(this).jqGrid('setGridParam', { postData: postData });
			};

			function getFilters() {
				var filters = {};

				filters.Status = $('#Filters_Status').val();
				filters.FileNumber = $('#Filters_FileNumber').val();
				filters.LaboratoryIds = $('#Filters_LaboratoryIds').val();
				filters.TestLabIds = $('#Filters_TestLabIds').val();
				filters.IsTransfer = $('#Filters_IsTransfer').val();
				filters.ReceivedFrom = $('#Filters_ReceivedFrom').val();
				filters.ReceivedTo = $('#Filters_ReceivedTo').val();
				filters.ManufacturerShorts = $('#Filters_ManufacturerShorts').val();
				filters.Jurisdiction = $('#Filters_Jurisdiction').val();
				filters.QALocationId = $('#Filters_QALocationId').val();
				filters.IsRush = ($('#Filters_IsRush').prop('checked')) ? true : false;
				filters.SubmissionType = $('#Filters_SubmissionType').val();
				filters.ExcludeFileTypes = ['@SubmissionType.VT.ToString()', '@SubmissionType.HT.ToString()'];
				return filters;
			}

			//Check All items closed
			function CheckAllItemsClosed(Ids) {
				var url = '@Url.Action("CheckAllItemsClosed", "ProjectAccept")?skipQAIds=' + Ids
				var result = ""
				$.ajax({
					dataType: "json",
					url: url,
					async: false,
					success: function (data) {
						if (data.length > 0) {
							//bootbox.alert("<b>Following Project(s) can not be closed out. Jurisdiction(s) are open.</b><br>They will be placed in Updating queue.):<br><br>" + data.replace(",", "<Br>"));
							result = data.replace(",", "<Br>");
						}
						else {
							result = true;
						}
					}
				});
				return result;
			}

			//Check if required filled out or Review task assigned
			function CheckAllRequiredForEngReviewed(Ids) {
				var url = '@Url.Action("CheckRequiredBeforeAcceptEng", "ProjectAccept")?acceptIds=' + Ids
				var result = ""
				$.ajax({
					dataType: "json",
					url: url,
					async: false,
					success: function (data) {
						if (data.length > 0) {
							bootbox.alert("Following Project(s) can not be accepted. Please make sure if Project has been reviewed or Incoming Review Task is assigned.<br>(Required Information-Target Date is missing.)<br><br>" + data);
						}
						else {
							result = true;
						}
					}
				});
				return result;
			}


			function DoAction(action) {
				var grid = $('#ProjectGrid');
				var form = $("#ProjectAcceptForm");
				var selIds = $(grid).jqGrid('getGridParam', 'selarrrow');
				var validated = false;
				var msg = '';
				var confirmMsg = '';

				if (selIds == "") {
					bootbox.alert("Please select Project(s).");
				}
				else {
					if (action == 'Accept') {

						if ($('#ProtrackType').val() == "@ProtrackType.ENG.ToString()") { //if Engineering
							var AssignReviewerIds = [];
							for (i = 0, n = selIds.length; i < n; i++) {
								//if ($('SelReviewAssign' + selIds[i]).val() != "") {
								var item = {};
								item.ProjectId = selIds[i];
								item.loginId = $('#SelInReviewAssign' + selIds[i]).val();
								AssignReviewerIds.push(item);
								// }
							}
							confirmMsg = "Are you sure you want to accept the selected projects? By continuing, you are confirming that the Incoming Review for each has been completed or assigned."

							//if (CheckAllRequiredForEngReviewed(selIds) == true) {
							var sId = JSON.stringify(AssignReviewerIds);
							$("#AcceptIds").val(sId);
							validated = true;
							//}

						}
						else {
							$("#AcceptIds").val(selIds);
							validated = true;
						}

					}
					else if (action == 'SkipQA') {
						if (CheckAllItemsClosed(selIds) == true) {
							confirmMsg = "Are you sure you want to skip QA?"
							$("#SkipQAIds").val(selIds);
							validated = true;
						}
						else {
							confirmMsg = "Are you sure you want to skip QA? Project(s) with open Jurisdiction(s) will be placed into updating queue."
							$("#SkipQAIds").val(selIds);
							validated = true;
						}
					}
					else if (action == 'Decline') {
						var declineIds = [];
						for (i = 0, n = selIds.length; i < n; i++) {
							var IsTransfer = $(grid).jqGrid("getCell", selIds[i], "IsTransfer");
							var Reason = $('#declineReason' + selIds[i]).val();
							if (IsTransfer == "False") {
								msg = "You can not decline New Submission(s)."
								break;
							}
							else {
								if (Reason == "") {
									msg = "You must provide reason for declining."
									break;
								}
							}
							var item = {};
							item.Id = selIds[i];
							item.Reason = Reason;
							declineIds.push(item);

						}
						if (msg == '') {
							var sId = JSON.stringify(declineIds);
							$("#DeclineIds").val(sId);
							validated = true;
						}
					}

					if (validated == true) {
						if (confirmMsg != "") {
							bootbox.confirm(confirmMsg, function (result) {
								if (result) {
									form.submit();
								}
							})
						}
						else {
							form.submit();
						}
					}
					else if (msg != '') {
						bootbox.alert(msg);
					}
				}
			}

			function refreshParentGrid() {
				window.opener.location.reload();
			}


	</script>
}
