﻿@model Submissions.Web.Areas.Protrack.Models.BatchOHHistory
@{
	ViewBag.NoNavBar = false;
	ViewBag.NoFooter = true;
	var ohReasons = LookupsStandard.ConvertEnum<OHReasons>(useDescriptionAsValue: true, showBlank: true).ToList().Where(x => !(x.Value == OHReasons.DelayedCertification.GetEnumDescription())).ToList();
}
@using (Html.BeginForm("SaveBatchOHHistory", "OnHold", FormMethod.Post, new { batchViewModel = Model, Id = "BatchOHHistoryForm" }))
{
	@Html.HiddenFor(m => m.ProjectIds);

	<div class="modal-header">
		<div class="row">
			<div class="col-sm-12 form-buttons text-right">
				<button type="button" id="Save" accesskey="H" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save (Alt+H)</button>
				<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="col-sm-12">
				<label id="Error" class="text-danger"></label>
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Short Desc</th>
							<th>Reason/Memo</th>
						</tr>
						<tr class="info">
							<td>@Html.HiddenFor(m => m.BlankOnHoldHistory.Id) @Html.EditorFor(m => m.BlankOnHoldHistory.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })</td>
							<td>@Html.EditorFor(m => m.BlankOnHoldHistory.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })</td>
							<td width="300">@Html.DropDownListFor(m => m.BlankOnHoldHistory.ShortDesc, ohReasons, new { @class = "form-control" })</td>
							<td>@Html.TextAreaFor(m => m.BlankOnHoldHistory.Reason, 3, 40, new { @class = "form-control", @placeholder = "Reason" })</td>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
}
<script>
	$(function () {
		loadDocumentReady();
		$('#Save').click(function () {
			var Error = ''
			var startDate = $('#BlankOnHoldHistory_StartDate').val()
			var endDate = $('#BlankOnHoldHistory_EndDate').val()
			if (Em(startDate) || Em(endDate)) {
				Error = 'You must select dates. <br>'
			}
			else if (startDate.length != 0 && endDate.length != 0) {
				if (Date.parse(startDate) > Date.parse(endDate)) {
					Error = "Start Date cannot be greater than End Date. <br>"
				}
				else if (Date.parse(startDate) > new Date()) {
					Error = "Start Date cannot be greater than today. <br>"
				}
				else if (Date.parse(endDate) > new Date()) {
					Error = "End Date cannot be greater than today. <br>"
				}
			}

			if (Em($('#BlankOnHoldHistory_ShortDesc').val())) {
				Error += 'You must select a Short Description. <br>'
			}

			if (Em($('#BlankOnHoldHistory_Reason').val())) {
				Error += 'You must a enter Reason.'
			}

			if (Error == '') {
				$('#BatchOHHistoryForm').submit();
			}
			else {
				$('#Error').html(Error);
				return false;
			}
		})

		$('#BatchOHHistoryForm').submit(function () {
			$('#Save').prop("disabled", true);
			$.ajax({
				url: this.action,
				type: this.method,
				data: $(this).serialize(),
				success: function (result) {
					if (result != "OK") {
						if (result.overlapProjects.length > 0) {
							var Error = "An On Hold Period was not added to following project(s), due to overlapping with an existing On Hold Period.<br>"
							for (var i = 0; i < result.overlapProjects.length; i++) {
								url = '@Url.Action("Index","OnHold")?ProjectID=' + result.overlapProjects[i].ProjectId;
								Error += result.overlapProjects[i].ProjectName + " - <A Href='" + url + "' target='_blank'>[Manage OH]</A><br>"
							}
							$('#Error').html(Error);
						}
					}
					else {
						$('#myModalLg').modal('toggle');
						bootbox.alert("Data updated.")
					}
				}
			});

			return false;
		});
	});
</script>