﻿@model Submissions.Web.Areas.Protrack.Models.BatchProjectOnHold
@{
	ViewBag.NoNavBar = false;
	ViewBag.NoFooter = true;
	var ohReasons = LookupsStandard.ConvertEnum<OHReasons>(useDescriptionAsValue: true, showBlank: true).ToList().Where(x => !(x.Value == OHReasons.DelayedCertification.GetEnumDescription())).ToList();
}
@using (Html.BeginForm("SaveBatchOnHold", "OnHold", FormMethod.Post, new { batchViewModel = Model, Id = "BatchOHForm" }))
{
	@Html.HiddenFor(m => m.ProjectIds);
	@Html.HiddenFor(m => m.onHold);
	<div class="modal-header">
		<div class="row">
			<div class="col-sm-12 form-buttons text-right">
				<button type="button" id="Save" accesskey="H" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save (Alt+H)</button>
				<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">On Hold Information</h3>
					</div>
					<label id="Error" class="text-danger"></label>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group">
								@Html.Label("On Hold", new { @class = "control-label col-sm-2" })
								<div class="col-sm-1">
									@Html.CheckBoxFor(model => model.onHold, new { @disabled = "disabled" })
									<br />
								</div>
							</div>
							@if (Model.onHold)
							{
								<div class="form-group">
									@Html.LabelFor(model => model.StartDate, new { @class = "control-label col-sm-2" })
									<div class="col-sm-3">
										@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
										<br />
									</div>
								</div>
							}
							<div class="form-group">
								@Html.LabelFor(model => model.OhShortDesc, new { @class = "control-label col-sm-2" })
								<div class="col-sm-10">
									@Html.DropDownListFor(model => model.OhShortDesc, ohReasons, new { @class = "form-control" })
									<br />
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.OhReason, new { @class = "control-label col-sm-2" })
								<div class="col-sm-10">
									@Html.TextAreaFor(model => model.OhReason, 3, 120, new { @class = "form-control", @placeholder = "" })
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<script>
	$(function () {
		loadDocumentReady();
		$('#Save').click(function () {
			var Error = ''

			if ($("#onHold").val() == "true") {
				var startDate = $('#StartDate').val();
				if (Em(startDate)) {
					Error = 'You must select a start date. \n';
				}
			}

			if ($("#onHold").val() == "true" && $('#OhShortDesc').val() == "") {
				Error += 'You must select a Short Description. \n';
			}

			if ($('#OhReason').val() == "") {
				Error += 'You must enter a Reason.';
			}
			if (Error == '') {
				$('#BatchOHForm').submit();
			}
			else {
				$('#Error').text(Error);
				return false;
			}
		})

		$('#BatchOHForm').submit(function () {
			$('#Save').prop("disabled", true);
			$.ajax({
				url: this.action,
				type: this.method,
				data: $(this).serialize(),
				success: function (result) {
					if (result != "OK") {
						if (result.overlapProjects.length > 0) {
							var Error = "";
							if ($("#onHold").val() == "true") {
								Error = "All Projects were placed On Hold.  <br>The following project(s) were given a start date of today, due to overlapping with an existing On Hold Period.<br>";
							}
							else {
								Error = "All Projects were taken Off Hold.  <br>An On Hold Period was not added to following project(s), due to overlapping with an existing On Hold Period.<br>";
							}

							for (var i = 0; i < result.overlapProjects.length; i++) {
								url = '@Url.Action("Index","OnHold")?ProjectID=' + result.overlapProjects[i].ProjectId;
								Error += result.overlapProjects[i].ProjectName + " - <A Href='" + url + "' target='_blank'>[Manage OH]</A><br>"
							}
							$('#Error').html(Error);
						}
					}
					else {
						ReloadAfterUpdate();
						$('#myModal').modal('hide');
						bootbox.alert("Data updated.");
					}
				}
			});

			return false;
		});
	});
</script>