﻿@model Submissions.Web.Areas.Protrack.Models.OnHoldHistoryViewModel
@{
	if (Request["FromClassic"] != null)
	{
		ViewBag.noNavBar = true;
	}
	var ohReasons = LookupsStandard.ConvertEnum<OHReasons>(useDescriptionAsValue: true, showBlank: true).ToList().Where(x => !(x.Value == OHReasons.DelayedCertification.GetEnumDescription())).ToList();
	var ohReasonsNoBlank = LookupsStandard.ConvertEnum<OHReasons>(useDescriptionAsValue: true).ToList().Where(x => !(x.Value == OHReasons.DelayedCertification.GetEnumDescription())).ToList();
}
<style>
	.InputReadOnly {
		cursor: not-allowed;
		background-color: #EEE;
		color: #9E9999;
	}
</style>
<div id="OHHistory">
	@using (Html.BeginForm("SaveOHHistory", "OnHold", FormMethod.Post, new { historyViewModel = Model, Id = "ManageOHHistoryForm" }))
	{
		@Html.HiddenFor(m => m.ProjectId);
		@Html.HiddenFor(m => m.SubmissionId);
		@Html.HiddenFor(m => m.JurisdictionId);
		@Html.HiddenFor(m => m.ProjectOnHold);
		@Html.HiddenFor(m => m.SubmissionStatus);
		@Html.HiddenFor(m => m.JurisdictionStatus);
		@Html.Hidden("editViewModel");
		@Html.Hidden("applyToIds");


		<div class="modal-header">
			<div class="row">
				<div class="col-sm-2">
					<h5><font class="text-info">On Hold History For:</font></h5>
				</div>
				<div class="col-sm-10 form-buttons">
					<button type="button" id="SaveHistory" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save</button>
					<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
			</div>

			@if (Model.SubmissionId != null || Model.JurisdictionId != null)
			{
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Filenumber</th>
								<th>IDNumber</th>
								<th>GameName</th>
								<th>version</th>
								@if (Model.SubmissionId != null)
								{
									<th>DateCode</th>
									<th>Status</th>
								}
								@if (Model.JurisdictionId != null)
								{
									<th>Jurisdiction</th>
									<th>Status</th>
								}
							</tr>
						</thead>
						<tr>
							<td>@Html.DisplayTextFor(m => m.FileNumber)</td>
							<td>@Html.DisplayTextFor(m => m.IDNumber)</td>
							<td>@Html.DisplayTextFor(m => m.GameName)</td>
							<td>@Html.DisplayTextFor(m => m.Version)</td>
							@if (Model.SubmissionId != null)
							{
								<td>@Html.DisplayTextFor(m => m.DateCode)</td>
								<td>@Html.DisplayTextFor(m => m.SubmissionStatus)</td>
							}
							@if (Model.JurisdictionId != null)
							{
								<td>@Html.DisplayTextFor(m => m.Jurisdiction)</td>
								<td>@Html.DisplayTextFor(m => m.JurisdictionStatus)</td>
							}
						</tr>
					</table>

				</div>
			}
			else
			{
				<h4 class="modal-title">@Html.DisplayTextFor(m => m.ProjectName)</h4>
			}
			@if (Model.SubmissionId != null || Model.JurisdictionId != null)
			{
				<a href="#" class="show_hide">- Hide All Apply Items</a><font class="text-danger"> (*Changes will be applied to below selected items if "Apply To" is checked.)</font>

				<div class="slidingDiv" style="height: 200px; overflow-y:scroll">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th><input type=checkbox class="ApplyAllMaster"></th>
								<th>File</th>
								<th>Id Number</th>
								<th>GameName</th>
								<th>Version</th>
								<th>Jurisdiction</th>
								<th>Jur Rcvd</th>
								<th>Jur Status</th>
							</tr>
						</thead>
						<tbody>
							@for (var i = 0; i < Model.ApplyToAll.Count; i++)
							{
								<tr>
									<td><input type=checkbox class="ApplyAll" value="@Model.ApplyToAll[i].Id"></td>
									<td>@Html.DisplayFor(m => m.ApplyToAll[i].FileNumber)</td>
									<td>@Html.DisplayFor(m => m.ApplyToAll[i].IDNumber)</td>
									<td>@Html.DisplayFor(m => m.ApplyToAll[i].GameName)</td>
									<td>@Html.DisplayFor(m => m.ApplyToAll[i].Version)</td>
									<td>@Html.DisplayFor(m => m.ApplyToAll[i].Jurisdiction)</td>
									<td>@Html.DisplayFor(m => m.ApplyToAll[i].JurRcvdDate)</td>
									<td>@Html.DisplayFor(m => m.ApplyToAll[i].JurisdictionStatus)</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			}
		</div>

		<div class="modal-body">
			<div class="container">
				<label id="Error" class="text-danger"></label>
				<label id="Info" class="text-success"></label>

				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Short Desc</th>
							<th>Reason/Memo</th>
							<th>
								@if (Model.SubmissionId != null)
								{
									@:Apply To <br />Jurisdictions
								}
								else if (Model.JurisdictionId != null)
								{
									@:Apply To Other<br />@Model.Jurisdiction
								}
								else
								{
									@:Apply To All<br />Records/Jurisdictions
								}
							</th>
						</tr>
					</thead>

					<tbody>
						@for (var i = 0; i < Model.OnHoldHistory.Count; i++)
						{
							<tr id="row@i">
								@if (i == 0)
								{
									<td>@Html.HiddenFor(m => m.OnHoldHistory[i].Id) @Html.Hidden("OldStartDate" + i, Model.OnHoldHistory[i].StartDate) @Html.EditorFor(m => m.OnHoldHistory[i].StartDate, new { htmlAttributes = new { @class = "form-control datepicker StartDate1 " } })</td>
									<td>@Html.Hidden("OldEndDate" + i, Model.OnHoldHistory[i].EndDate) @Html.EditorFor(m => m.OnHoldHistory[i].EndDate, new { htmlAttributes = new { @class = "form-control datepicker EndDate1 " } })</td>
								}
								else
								{
									<td>@Html.HiddenFor(m => m.OnHoldHistory[i].Id) @Html.Hidden("OldStartDate" + i, Model.OnHoldHistory[i].StartDate) @Html.EditorFor(m => m.OnHoldHistory[i].StartDate, new { htmlAttributes = new { @class = "form-control datepicker StartDate InputReadOnly" } })</td>
									<td>@Html.Hidden("OldEndDate" + i, Model.OnHoldHistory[i].EndDate) @Html.EditorFor(m => m.OnHoldHistory[i].EndDate, new { htmlAttributes = new { @class = "form-control datepicker EndDate InputReadOnly" } })</td>
								}
								<td>@Html.Hidden("OldShortDesc" + i, Model.OnHoldHistory[i].ShortDesc) @Html.DropDownListFor(m => m.OnHoldHistory[i].ShortDesc, new SelectList(ohReasonsNoBlank, "Value", "Text", Model.OnHoldHistory[i].ShortDesc), new { @class = "form-control" })</td>
								<td>
									<div id="dvActualMemo">@Html.Hidden("OldReason" + i, Model.OnHoldHistory[i].Reason) @Html.TextAreaFor(m => m.OnHoldHistory[i].Reason, 3, 40, new { htmlAttributes = new { @placeholder = "Reason" } })</div>
									<div id="dvOHMemo" style="display: none"><textarea id="txtOHMemo" rows="3" cols="40">@Model.OnHoldHistory[i].Reason</textarea></div>
								</td>
								<td>
									@Html.CheckBoxFor(m => m.OnHoldHistory[i].ApplyToAll, new { @class = "ApplyToAll" })
								</td>
								<td nowrap>
									@if (i == 0 && Model.ProjectOnHold == true && Model.SubmissionId == null && Model.JurisdictionId == null)
									{
										<div id="dvUpdateMemo">

											[<a href="#" id="UpdateMemo" title="Modify OH memo in Submissions">Update OH Memo</a>]
										</div>
										<div id="dvSaveMemo" style="display: none">
											[<a href="#" id="SaveMemo">Save Memo</a>]&nbsp;
											[<a href="#" id="CancelMemo">Cancel</a>]
										</div>
									}
									else
									{
										if ((Model.SubmissionStatus == SubmissionStatus.OH.ToString() || Model.JurisdictionStatus == JurisdictionStatus.OH.ToString()) && i == 0)
										{

										}
										else
										{
											<a href='#' onclick='return RemoveOH(@i)' title="Delete History">[Mark for Delete]</a>
										}
									}
								</td>
							</tr>
						}
						<tr class="info">

							<td>@Html.HiddenFor(m => m.BlankOnHoldHistory.Id) @Html.EditorFor(m => m.BlankOnHoldHistory.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })</td>
							<td>@Html.EditorFor(m => m.BlankOnHoldHistory.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })</td>
							<td width="400">@Html.DropDownListFor(m => m.BlankOnHoldHistory.ShortDesc, ohReasons, new { @class = "form-control" })</td>
							<td>@Html.TextAreaFor(m => m.BlankOnHoldHistory.Reason, 3, 40, new { @class = "form-control", @placeholder = "Reason" })</td>
							<td>@Html.CheckBoxFor(m => m.BlankOnHoldHistory.ApplyToAll)</td>

							<td><a href='#' onclick="return RemoveOH(-1)">[Clear]</a></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer">
		</div>
	}
</div>

@Scripts.Render("~/bundles/script/knockout")
<script>
	$(function () {
		loadDocumentReady();

		$('.StartDate').datepicker().datepicker('disable');
		$('.EndDate').datepicker().datepicker('disable');

		$('.show_hide').click(function (e) {
			$(".slidingDiv").slideToggle("fast");
			var val = $(this).text() == "- Hide All Apply Items" ? "+ Show All Apply Items" : "- Hide All Apply Items";
			$(this).hide().text(val).fadeIn("fast");
			e.preventDefault();
		});

		$(".ApplyAllMaster").change(function () {
			$(".ApplyAll").prop('checked', $(this).prop("checked"));
		});

		$(".ApplyToAll").change(function () {
			if ($('.show_hide').text() == "+ Show All Apply Items")
			{
				$(".slidingDiv").slideToggle("fast");
				$('.show_hide').text("- Hide All Apply Items")
			}
		});

		$("#UpdateMemo").click(function(){

			$("#dvOHMemo").show();
			$("#dvActualMemo").hide();
			$("#dvSaveMemo").show();
			$("#dvUpdateMemo").hide();
			$('#SaveHistory').prop("disabled",true);
			$("#Error").text("");
			$("#Info").text("");
		});

		$("#CancelMemo").click(function(){

			$("#dvOHMemo").hide();
			$("#dvActualMemo").show();
			$("#dvSaveMemo").hide();
			$("#dvUpdateMemo").show();
			$('#SaveHistory').prop("disabled",false);
			$("#Error").text("");
			$("#Info").text("");
		});

		$("#SaveMemo").click(function(){

			var html;
			html = "";
			var url = '@Url.Action("SaveOHMemo", "OnHold")?projectId=' + $("#ProjectId").val() + '&OHMemo=' +  $("#txtOHMemo").val()

			if ($("#txtOHMemo").val().length == 0){
				displayError("Please enter Reason.");
			}
			else{

				$.ajax({
					url: url,
					type: 'POST',
					async: false,
					success: function () {
						//alert("memo Saved")
					},
					error: function () {
						//alert("error");
					}
				});


				$('#OnHoldHistory_0__Reason').val($("#txtOHMemo").val());
				$("#Error").text("");
				$("#Info").text("");
				$("#dvOHMemo").hide();
				$("#dvActualMemo").show();
				$("#dvSaveMemo").hide();
				$("#dvUpdateMemo").show();
				$('#SaveHistory').prop("disabled",false);
			}

		});

		$('#SaveHistory').click(function() {
			//alert("came")
			//alert($("#OldStartDate0").val())
			var IsAlert = false;
			if (($('#SubmissionId').val() != 0 || $('#JurisdictionId').val() != 0 ) && "@Model.ApplyToAll.Count" > 0)
			{
				//if Apply to All is checked, check items selected for record and jur history
				$(".ApplyToAll").each(function () {
					if ($(this).is(':checked')) {
						//Check Items selected
						if (ItemSelected() == false)
						{
							IsAlert = true
						}
					}
				});

				if (IsAlert == true)
				{
					alert("You have selected to Apply to Other Items, but you have not selected any items. Please select.")
					return false;
				}
				else{
					var allIds =  $('.ApplyAll').map(function () {
						if ($(this).is(':checked')) {
							return this.value;
						}
					}).get().join(",");

					$('#applyToIds').val(allIds)
				}
			}

			if (IsAlert == false)
			{
				if (validateHistory() == true)
				{
					//Only alow one date range change at a time so overlap can be checked properly
					$('#editViewModel').val(JSON.stringify(OnHoldHistory));
					if ($('#editViewModel').val() != "[]"){
						$('#ManageOHHistoryForm').submit();
					}
				}
				else
				{
					return false;
				}
			}
			else
			{
				return false;
			}
		});

		$('#ManageOHHistoryForm').submit(function ()
		{

			$('#SaveHistory').prop("disabled",true);
			$.ajax({
				url: this.action,
				type: this.method,
				data: $(this).serialize(),
				success: function (result) {
					if (result.indexOf("Error") == 0){
						showError(result);
						$('#SaveHistory').prop("disabled",false);
					}else{
						$('#OHHistory').html(result);
						loadDocumentReady();
						$("#Error").text("");
						$("#Info").text("Saved Successfully.");
					}
				}
			});

			return false;
		});

		DisableInput();
	});

	var ohHistorydata = @Html.Raw(Json.Encode(Model));
	function ohHistorydataVM() {
		var self = this;
		var Added = false
		self.OnHoldHistory = ko.observableArray(ohHistorydata.OnHoldHistory)

		self.addOHPeriod = function() {
			if (Added == true)
			{
				alert("Can not be added. Please save previously added new Period.")
			}else{
				self.OnHoldHistory.push(ko.mapping.fromJS(ohHistorydata.BlankOnHoldHistory));
				Added = true;
				loadDocumentReady();
			}
		};

		self.ValidateDates = function() {
			IsValid = true;
			ko.utils.arrayForEach(this.OnHoldHistory(), function(item,index) {
				//alert(item.StartDate.dateString)

				if (item.StartDate.dateString > item.EndDate)
				{
					$("#Error").text("Error: Start date can not greater than End date.")
					IsValid = false;

					return
				}

				if (item.StartDate.length == 0 && item.EndDate.length != 0)
				{
					$("#Error").text("Error: Start date can not be empty.")

					IsValid = false;
					return
				}

			});
			return IsValid
		};
	}

	var ohHistorydataVM = new ohHistorydataVM()

	//format Date as Datetime in knockout does not work properly
	function formatDatesinHistory()
	{
		for(var i=0; i < ohHistorydata.OnHoldHistory.length; i++) {

			ohHistorydata.OnHoldHistory[i].StartDate = moment(ohHistorydata.OnHoldHistory[i].StartDate).format("MM/DD/YYYY");
			ohHistorydata.OnHoldHistory[i].EndDate = moment(ohHistorydata.OnHoldHistory[i].EndDate).format("MM/DD/YYYY");
		}
	}

	//if project on hold, do not allow to edit first dates
	function DisableInput()
	{
		if ($('#ProjectOnHold').val() == "True" || $('#SubmissionStatus').val() == "OH" || $('#JurisdictionStatus').val()  == "OH")
		{
			$('#OnHoldHistory_0__EndDate').attr("disabled", "disabled");
			$('#OnHoldHistory_0__Reason').attr("disabled", "disabled");
			$('#OnHoldHistory_0__ShortDesc').attr("disabled", "disabled");
			//$('#OnHoldHistory_0__ApplyToAll').attr("disabled", true);
		}

	}

	function RemoveOH(id)
	{
		if (id == -1)
		{
			$('#BlankOnHoldHistory_StartDate').val("");
			$('#BlankOnHoldHistory_EndDate').val("")
			$('#BlankOnHoldHistory_ShortDesc').val("")
			$('#BlankOnHoldHistory_Reason').val("")
			$('#BlankOnHoldHistory_ApplyToAll').attr('checked', false)
		}
		else
		{
			$('#OnHoldHistory_' + id + '__StartDate').closest('tr').css("background-color", "red");;
			$('#OnHoldHistory_' + id + '__StartDate').val("")
			$('#OnHoldHistory_' + id + '__EndDate').val("")
		}
	};

	//Save
	var OnHoldHistory = [];
	function addHistory(Id, startDate, endDate, reason, shortDesc, applyAll, oldStartDate, oldEndDate)
	{
		var history = {};
		history.Id = Id;
		history.startDate = startDate;
		history.endDate = endDate;
		history.reason = reason;
		history.shortDesc = shortDesc;
		history.ApplyToAll = applyAll;
		history.oldStartDate = oldStartDate;
		history.oldEndDate = oldEndDate;
		OnHoldHistory.push(history);
	}

	function ItemSelected()
	{
		var itemChecked = false;
		$(".ApplyAll").each(function () {
			if ($(this).is(':checked')) {
				itemChecked = true;
			}
		})

		return itemChecked
	}

	function formatDateToMMDDYYY(sDate)
	{
		var newDate;
		var date = new Date(sDate);
		newDate = (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear()
		return newDate;
	}

	function validateHistory()
	{
		OnHoldHistory.length = 0
		var ErrorMsg = ''
		for(var i=0; i < ohHistorydata.OnHoldHistory.length; i++) {

			var Id = ohHistorydata.OnHoldHistory[i].Id;
			var oldStartDate = formatDateToMMDDYYY($('#OldStartDate' + i).val()); //formatDateToMMDDYYY(moment(ohHistorydata.OnHoldHistory[i].StartDate)) //moment(ohHistorydata.OnHoldHistory[i].StartDate).format("M/DD/YYYY"); //need to format
			var oldEndDate = "";
			if ($('#OldEndDate' + i).val() != "")
			{
				oldEndDate = formatDateToMMDDYYY($('#OldEndDate' + i).val());
			}
			//if (ohHistorydata.OnHoldHistory[i].EndDate != null)
			//{
				//oldEndDate = formatDateToMMDDYYY(moment(ohHistorydata.OnHoldHistory[i].EndDate)) //moment(ohHistorydata.OnHoldHistory[i].EndDate).format("M/DD/YYYY");
			//}
			var oldReason = $('#OldReason' + i).val();//ohHistorydata.OnHoldHistory[i].Reason;
			var oldShortDesc = $('#OldShortDesc' + i).val(); // ohHistorydata.OnHoldHistory[i].ShortDesc;

			var startDate =$('#OnHoldHistory_' + i + '__StartDate').val();
			var endDate = $('#OnHoldHistory_' + i + '__EndDate').val()
			var reason = $('#OnHoldHistory_' + i + '__Reason').val()
			var shortDesc = $('#OnHoldHistory_' + i + '__ShortDesc').val()
			var applyToAll =  ( $('#OnHoldHistory_' + i + '__ApplyToAll').is(':checked'))

			//alert("Old" + oldStartDate + " =" + "New"  + startDate)

			if (($('#ProjectOnHold').val() == "True" || $('#SubmissionStatus').val() == "@SubmissionStatus.OH.ToString()" || $('#JurisdictionStatus').val()  == "@JurisdictionStatus.OH.ToString()") && i==0)
			{
				if (startDate.length == 0){
					ErrorMsg = "Please enter Start Date."
				}
			}
			else
			{
				if (startDate.length == 0 && endDate.length !=0)
				{
					ErrorMsg = "You have entered End Date, Please enter Start Date."
				}
				else if (startDate.length != 0 && endDate.length ==0)
				{
					ErrorMsg = "Please enter End Date."
				}
			}

			if (startDate.length != 0 && endDate.length !=0)
			{
				if (Date.parse(startDate) > Date.parse(endDate))
				{
					ErrorMsg = "Start Date can not be greater than End Date."
				}
				else if (Date.parse(startDate) > new Date())
				{
					ErrorMsg = "Start Date can not be greater than today."
				}
				else if (Date.parse(endDate) > new Date())
				{
					ErrorMsg = "End Date can not be greater than today."
				}
			}

			if (reason.length == 0)
			{
				ErrorMsg = "You must select reason."
			}

			if (ErrorMsg == "")
			{
				if ((Date.parse(oldStartDate) != Date.parse(startDate)) || ((Date.parse(oldEndDate) != Date.parse(endDate)) && endDate != '' )|| (oldReason != reason) || (oldShortDesc != shortDesc) )
				{
					addHistory(Id, startDate, endDate, reason, shortDesc, applyToAll, oldStartDate, oldEndDate)
				}
			}
			else
			{
				displayError(ErrorMsg);
				return
			}
		}

		//If New Entry exists
		var newPeriodStartDate = $('#BlankOnHoldHistory_StartDate').val();
		var newPeriodEndDate = $('#BlankOnHoldHistory_EndDate').val()
		var newPeriodReason = $('#BlankOnHoldHistory_Reason').val()
		var newPeriodShortDesc = $('#BlankOnHoldHistory_ShortDesc').val()
		var newPeriodApplyToAll = ( $('#BlankOnHoldHistory_ApplyToAll').is(':checked'))

		if (ErrorMsg == "")
		{
			if (newPeriodStartDate.length > 0)
			{
				if (newPeriodStartDate.length == 0 && newPeriodEndDate.length !=0)
				{
					ErrorMsg = "You have entered End Date, Please enter Start Date."
				}
				if (newPeriodStartDate.length != 0 && newPeriodEndDate.length ==0)
				{
					ErrorMsg = "You have entered Start Date, Please enter End Date."
				}
				else if (Date.parse(newPeriodStartDate) > Date.parse(newPeriodEndDate))
				{
					ErrorMsg = "Start Date can not be greater than End Date."
				}
				else if (Date.parse(newPeriodStartDate) > new Date())
				{
					ErrorMsg = "Start Date can not be greater than today."
				}
				else if (Date.parse(newPeriodEndDate) > new Date())
				{
					ErrorMsg = "End Date can not be greater than today."
				}

				if (newPeriodReason.length == 0)
				{
					ErrorMsg = "You must select reason."
				}


				if (ErrorMsg.length == 0 )
				{
					addHistory(0, newPeriodStartDate, newPeriodEndDate, newPeriodReason, newPeriodShortDesc, newPeriodApplyToAll)
				}
			}
		}

		var dateChange = 0
		for(var c=0; c < OnHoldHistory.length; c++) {
			var newStartDate =  moment(OnHoldHistory[c].startDate).format("M/DD/YYYY");
			var newEndDate = moment(OnHoldHistory[c].endDate).format("M/DD/YYYY");
			var OldStartDate =  moment(OnHoldHistory[c].oldStartDate).format("M/DD/YYYY");
			var OldEndDate = moment(OnHoldHistory[c].oldEndDate).format("M/DD/YYYY");

			if (newStartDate != OldStartDate || newEndDate != OldEndDate ) //if more than 2 date range changes
			{
				dateChange += 1
			}
		}

		if (dateChange > 1){
			ErrorMsg = "In order to make sure date ranges do not overlap, please only make one date range change at a time."
		}

		if (ErrorMsg != "")
		{
			displayError(ErrorMsg);
			return false
		}
		else
		{
			return true;
		}
	}

	function displayError(text)
	{
		$("#Info").text("");
		$("#Error").text("Error:" + text);
	}

	function showError(error)
	{
		if (error.replace("Error:","") == "Conflict"){
			displayError("Conflicts were detected with date ranges you have entered. Please resolve these conflicts in order to save your updates.")
		}
		else if (error.replace("Error:","") == "ConflictApplyAll"){
			displayError("Conflicts were detected with date ranges you have entered. Please resolve these conflicts in order to save your updates or unselect Apply All.")
		}
	}
</script>