﻿@model Submissions.Web.Areas.Protrack.Models.OnHoldEditViewModel
@using Trirand.Web.Mvc
@{
	ViewBag.Title = "Manage On Hold";

	var ohReasons = LookupsStandard.ConvertEnum<OHReasons>(useDescriptionAsValue: true, showBlank: true).ToList().Where(x => !(x.Value == OHReasons.DelayedCertification.GetEnumDescription())).ToList();
}
@section css{@Styles.Render("~/bundles/css/jqgrid")}
@{
	if (Request["FromClassic"] != null)
	{
		ViewBag.noNavBar = true;
	}
}
<style>
	.modal.modal-wide .modal-dialog {
		width: 90%;
	}

	#tallModal .modal-body p {
		margin-bottom: 900px;
		width: 90%;
	}

	#HistoryContainer {
		height: 90%;
	}
</style>

@using (Html.BeginForm("SaveOH", "OnHold", FormMethod.Post, new { onHoldModel = Model, Id = "SetOHForm" }))
{

	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.ApplyToProjectId);
	@Html.HiddenFor(model => model.ApplyToSubmissionId);
	@Html.HiddenFor(model => model.ApplyToJurisdictionId);
	@Html.Hidden("ApplyTo", "Project"); //This would be either Project/Submission/Jurisdiction based on user selection
	@Html.HiddenFor(model => model.Project.ProjectId);
	@Html.HiddenFor(model => model.Project.OnHold);

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3 class="form-h3">
					<small>
						@Html.DisplayFor(model => model.Project.ProjectName) (Project Status: @Model.Project.ProjectStatus @if (Model.Project.OnHold == 1)
						{<label class="text-danger">(Currently On Hold)</label>})
					</small>
				</h3>
			</div>
			<div class="col-sm-6 form-buttons text-right">
				@if (Model.Project.ProjectStatus != ProjectStatus.DN.ToString())
				{
					<button type="button" id="SaveBtn" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save</button>
				}
				<input type="button" id="CancelBtn" class="btn btn-primary btn-sm" value="Cancel" onclick="window.close()">
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-sm-6">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#Project" data-toggle="tab">Project</a></li>
				<li><a href="#RecJur" data-toggle="tab">Records/Jurisdictions</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" id="panelTitle">Items for On Hold</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12" id="myTabContent">
						<div id="Project" class="tab-pane fade active in">
							<table class="table">
								<thead>
									<tr>
										<th>Project</th>
										<th>On Hold</th>
										<th>OH History</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>@Model.Project.ProjectName</td>
										@{var checkProject = (Model.Project.OnHold == 1) ? "checked" : ""; }
										@{var disableProject = ((Model.Project.ProjectStatus == ProjectStatus.DN.ToString()) && (Model.Project.OnHold == 0)) ? "disabled" : ""; }
										<td><input type="checkbox" class="chkProjectOH" value="@Model.Project.ProjectId" @disableProject @checkProject /></td>
										<td><a href="javascript:ViewOHPeriod(@Model.Project.ProjectId,0,0)">OH History</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="RecJur" class="tab-pane fade" style="display: none">
							<div class="form-horizontal">
								@if (Model.Project.IsTransfer != true)
								{
									<div class="form-group form-group-sm">
										<label class="control-label col-sm-3">ID Number</label>
										<div class="col-sm-8">
											@Html.ListBox("SelRecords", new SelectList(Model.Project.SubmissionsList, "Id", "IdNumber"), new { @class = "form-control", @data_placeholder = "Select Records", @style = "width:350px" })
										</div>
									</div>
								}
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Jurisdictions</label>
									<div class="col-sm-8">
										@Html.ListBox("SelJurs", new SelectList(Model.Project.JurisdictionsList, "JurisdictionId", "JurisdictionName"), new { @class = "form-control", @data_placeholder = "Select Jurisdictions", @style = "width:350px" })
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">Currently On Hold</label>
									<div class="col-sm-8">
										@Html.CheckBox("SearchOH")
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3">On Hold Period</label>
									<div class="col-sm-9" style="display:inline-flexbox">
										<table>
											<tr>
												<td>@Html.TextBox("OHPeriodFrom", "", new { @class = "form-control datepicker", @Placeholder = "From", @style = "width:120px" }) </td>
												<td>@Html.TextBox("OHPeriodTo", "", new { @class = "form-control datepicker", @Placeholder = "To", @style = "width:120px" })</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								@if (Model.Project.IsTransfer != true)
								{
									<button type="button" id="LoadRecords" class="btn btn-info">Load Records</button>
								}
								&nbsp;<button type="button" id="LoadJurs" class="btn btn-info">Load Jurisdictions</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Enter Memo</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							@Html.LabelFor(model => model.OhShortDesc, new { @class = "control-label col-sm-3" })
							<div class="col-sm-8">
								@Html.DropDownListFor(m => m.OhShortDesc, ohReasons, new { @class = "form-control", @data_placeholder = "Select OH Reasons" })
								<br />@Html.ValidationMessageFor(model => model.OhShortDesc)
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.OhMemo, new { @class = "control-label col-sm-3" })
							<div class="col-sm-8">
								@Html.TextAreaFor(model => model.OhMemo, 3, 60, new { @class = "form-control", @placeholder = "Enter OH Memo" })
								<br />@Html.ValidationMessageFor(model => model.OhMemo)
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row" id="ShowRecords" style="display: none">
		<div class="form-horizontal">
			<span class="text-info pull-right">@Html.CheckBox("CheckAllSub") Check/UnCheck All&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</div>
		<div class="col-sm-12">
			@Html.Trirand().JQGrid(Model.SubmissionGrid.Grid, Model.SubmissionGrid.Grid.ID)
		</div>
	</div>

	<div class="row" id="ShowJurs" style="display: none">
		<div class="form-horizontal">
			<span class="text-info pull-right">@Html.CheckBox("CheckAllJur") Check/UnCheck All&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</div>
		<div class="col-sm-12">
			@Html.Trirand().JQGrid(Model.JurisdictionGrid.Grid, Model.JurisdictionGrid.Grid.ID)
		</div>
	</div>
}

<!-- Modal -->
<div id="tallModal" class="modal modal-wide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" id="HistoryContainer">

		</div>
	</div>
</div>


@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$(document).ready(function () {

			$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				var target = $(e.target).attr("href") // activated tab

				if (target == "#Project") {
					$('#ShowRecords').hide();
					$('#ShowJurs').hide();
					$('#Project').show();
					$('#RecJur').hide();
					$('#ApplyTo').val("@OHViewMode.Project");

					$('#SelRecords').select2('data', null);
					$('#SelJurs').select2('data', null);
					$('#panelTitle').text("Items for On Hold")
				}
				else {
					$('#Project').hide();
					$('#panelTitle').text("Filter Items for On Hold")
					$('#RecJur').show();
					$('#LoadRecords').click();
				}
			});

			$("#CancelBtn").click(function () {
				window.opener.location.reload();
				window.close();
			});

			$('#LoadJurs').click(function () {

				$('#ShowJurs').show();
				$('#ShowRecords').hide();
				$('#Project').hide();

				$('#ApplyTo').val("@OHViewMode.Jurisdiction");
				$("#" + "@Model.JurisdictionGrid.Grid.ID").trigger("reloadGrid");
			});

			$('#LoadRecords').click(function () {
				$('#ShowRecords').show();
				$('#Project').hide();
				$('#ShowJurs').hide();

				$('#ApplyTo').val("@OHViewMode.Submission");
				$("#" + "@Model.SubmissionGrid.Grid.ID").trigger("reloadGrid");
			});

			//Save Target Date
			$('#SaveBtn').on('click', function () {

				checkSelectOH();

				if ($('#ApplyToProjectId').val() == "" && $('#ApplyToSubmissionId').val() == "" && $('#ApplyToJurisdictionId').val() == "") {
					bootbox.alert("Please select an item to update or there are no changes to update.");
					return false;
				}
				else if (isItemToOHexists == true && $('#OhShortDescMemo').val() == "") {
					bootbox.alert("There are items going On Hold. You must select reason.");
					return false;
				}
				else {
					$('#SetOHForm').submit();
				}
			});

			$("#CheckAllSub").change(function () {
				$(".chkSubOH").prop('checked', $(this).prop("checked"));
			});

			$("#CheckAllJur").change(function () {
				$(".chkJurOH").prop('checked', $(this).prop("checked"));
			});
		});

		var affectedIds = [];
		var isItemToOHexists = false;

		function addAffectedId(Id, oldVal, newVal) {
			var affectedObject = {};
			affectedObject.Id = Id;
			affectedObject.oldStatus = oldVal;
			affectedObject.newStatus = newVal;
			if (newVal == '@OnHoldMode.On') {
				isItemToOHexists = true;
			}
			affectedIds.push(affectedObject);
		}

		function checkSelectOH() {
			affectedIds.length = 0;
			isItemToOHexists = false;
			if ($('#ApplyTo').val() == "@OHViewMode.Jurisdiction") { //Jurisdiction
				$(".chkJurOH").each(function () {
					var jurVal = $(this).val();
					var Id = jurVal.split(',')[0];
					var oldVal = jurVal.split(',')[1];
					if ($(this).is(':checked')) {
						if (oldVal != '@JurisdictionStatus.OH') {
							addAffectedId(Id, '@OnHoldMode.Off', '@OnHoldMode.On')
						}
					} else {
						if (oldVal == '@JurisdictionStatus.OH') {
							addAffectedId(Id, '@OnHoldMode.On', '@OnHoldMode.Off')
						}
					}
				})

				if (affectedIds.length > 0) {
					$('#ApplyToJurisdictionId').val(JSON.stringify(affectedIds));
				}
				$('#ApplyToSubmissionId').val('');
				$('#ApplyToProjectId').val('');

			}
			else if ($('#ApplyTo').val() == "@OHViewMode.Submission") { //submission
				$(".chkSubOH").each(function () {
					var subVal = $(this).val();
					var Id = subVal.split(',')[0];
					var oldVal = subVal.split(',')[1];
					if ($(this).is(':checked')) {
						if (oldVal != '@SubmissionStatus.OH') {
							addAffectedId(Id, '@OnHoldMode.Off', '@OnHoldMode.On')
						}
					} else {
						if (oldVal == '@SubmissionStatus.OH') {
							addAffectedId(Id, '@OnHoldMode.On', '@OnHoldMode.Off')
						}
					}
				})

				if (affectedIds.length > 0) {
					$('#ApplyToSubmissionId').val(JSON.stringify(affectedIds));
				}
				$('#ApplyToJurisdictionId').val('');
				$('#ApplyToProjectId').val('');
			}
			else if ($('#ApplyTo').val() == "@OHViewMode.Project") { //project
				if ($(".chkProjectOH").is(':checked')) {
					if ($('#Project_OnHold').val() != 1) {
						addAffectedId($("#Project_ProjectId").val(), '@OnHoldMode.Off', '@OnHoldMode.On')
					}
				} else {
					if ($('#Project_OnHold').val() == 1) {
						addAffectedId($("#Project_ProjectId").val(), '@OnHoldMode.On', '@OnHoldMode.Off')
					}
				}

				if (affectedIds.length > 0) {
					$('#ApplyToProjectId').val(JSON.stringify(affectedIds));
				}
				$('#ApplyToSubmissionId').val('');
				$('#ApplyToJurisdictionId').val('');
			}
		}

		function ViewOHPeriod(projectId, submissionId, jurisdictionId) {
			var url = '@Url.Action("LoadOHHistory", "OnHold")?projectId=' + projectId + "&submissionId=" + submissionId + "&jurisdictionId=" + jurisdictionId;
			$.get(url, function (data) {
				$('#HistoryContainer').html(data);
				$('#tallModal').modal('show');
			});
		}

		function submissionBeforeAjaxRequest() {
			if ($('#ApplyTo').val() == "@OHViewMode.Submission") {
				var filters = {};
				filters.ProjectId = $("#Project_ProjectId").val();
				filters.SubmissionIDList = $('#SelRecords').val();
				if ($('#SearchOH').is(':checked')) {
					filters.OnHold = 1;
				}
				filters.OHPeriodFrom = $('#OHPeriodFrom').val();
				filters.OHPeriodTo = $('#OHPeriodTo').val();

				var postData = $(this).jqGrid('getGridParam', 'postData')
				postData.CustomFilters = JSON.stringify(filters);
				$(this).jqGrid('setGridParam', { postData: postData })
			}
			else {
				return false;
			}
		}

		function jurisdictionBeforeAjaxRequest() {
			if ($('#ApplyTo').val() == "@OHViewMode.Jurisdiction") {
				var filters = {};
				filters.ProjectId = $("#Project_ProjectId").val();
				filters.SubmissionIDList = $('#SelRecords').val();
				filters.JurisdictionIDList = $('#SelJurs').val();
				if ($('#SearchOH').is(':checked')) {
					filters.OnHold = 1;
				}
				filters.OHPeriodFrom = $('#OHPeriodFrom').val();
				filters.OHPeriodTo = $('#OHPeriodTo').val();

				var postData = $(this).jqGrid('getGridParam', 'postData')
				postData.CustomFilters = JSON.stringify(filters);
				$(this).jqGrid('setGridParam', { postData: postData })
			}
			else {
				return false;
			}
		}

		function JurisdictionOHCheck(cellValue, options, rowObject) {
			if (cellValue == '@JurisdictionStatus.OH') {
				return '<input type=checkbox checked class="chkJurOH" value="' + options.rowId + ',' + cellValue + '" Id=selJur' + options.rowId + '>';
			}
			else {
				if (cellValue == '@JurisdictionStatus.RA' || cellValue == '@JurisdictionStatus.CP') {
					return '<input type=checkbox class="chkJurOH" value="' + options.rowId + ',' + cellValue + '" Id=selJur' + options.rowId + '>';
				} else {
					return "";
				}
			}
		}

		function SubmissionOHCheck(cellValue, options, rowObject) {
			if (cellValue == '@SubmissionStatus.OH') {
				return '<input type=checkbox checked class="chkSubOH" value="' + options.rowId + ',' + cellValue + '" Id=selRec' + options.rowId + '>';
			}
			else {
				if (cellValue == '@SubmissionStatus.PN' || cellValue == '@SubmissionStatus.CP' || cellValue == '@SubmissionStatus.NL') {
					return '<input type=checkbox class="chkSubOH" value="' + options.rowId + ',' + cellValue + '" Id=selRec' + options.rowId + '>';
				}
				else {
					return "";
				}
			}
		}

		function OHHistorySubmission(cellValue, options, rowObject) {
			return '<a href="javascript:ViewOHPeriod(' + $("#Project_ProjectId").val() + ',' + cellValue + ',0)" id=History>OH History</a>';
		}

		function OHHistoryJurisdiction(cellValue, options, rowObject) {
			return '<a href="javascript:ViewOHPeriod(' + $("#Project_ProjectId").val() + ',0,' + cellValue + ')" id=History>OH History</a>';
		}
	</script>
}