﻿@model Submissions.Web.Areas.Lookups.Models.PlatformPiecesEditViewModel

@{
	ViewBag.Title = "Platform Pieces Edit";
}

<div id="app"></div>
@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
