﻿@model Submissions.Web.Areas.Lookups.Models.SCIPositionEditViewModel

@{
	ViewBag.Title = Model.Mode + " SCI Position";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}
@using (Html.BeginForm("Edit", "SCIPositions", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.Position)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "SCIPositions", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>
	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Position, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Position, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.Position)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ChipTypeId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.ChipTypeId, m => m.ChipType, LookupAjax.ChipTypes, false)
				@Html.ValidationMessageFor(m => m.ChipTypeId)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.SignatureScopeIds, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupMultipleFor(m => m.SignatureScopeIds, Model.SignatureScopes, LookupAjax.SignatureScopes, false)
				@Html.ValidationMessageFor(m => m.SignatureScopeIds)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(model => model.Active, new { @class = "padcheckbox" })
			</div>
		</div>
	</div>
}