﻿@model IEnumerable<Submissions.Web.Areas.Lookups.Models.SCIPositionIndexViewModel>

@{
	ViewBag.Title = "SCI Position";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

<table class="table table-striped table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().Position)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().ChipType)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().CommaSeperatedSignatureScopes)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			@if (item.Active)
			{
				<td>@item.Position</td>
				<td>@item.ChipType</td>
				<td>@item.CommaSeperatedSignatureScopes</td>
				<td class="text-right">
					@Html.ActionLink("Edit", "Edit", new { id = item.Id, mode = "Edit" }) |
					@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckDelete" })
				</td>
			}
			else
			{
				<td class="text-red">@item.Position</td>
				<td class="text-red">@item.ChipType</td>
				<td class="text-red">@item.CommaSeperatedSignatureScopes</td>
				<td class="text-right">
					@Html.ActionLink("Activate", "SetActive", "", new { id = item.Id, @class = "Activate" }) |
					@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckDelete" })
				</td>
			}
		</tr>
	}
</table>