﻿<template>
	<div class="modal" ref="BatchUpdate"  aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						<font><strong>Batch Update QA Letter Book Rules</strong></font>
						<span class="pull-right">
							<button type="button" class="btn btn-primary" @click="update">Update</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
						</span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-4">
								Billing Sheet
							</label>
							<div class="col-sm-7">
								<Lookup name="OldBillingSheetId"
										:lookuptextfield="oldBillingSheet"
										@updateLookupTextField="updateBillingSheetTextFieldOld"
										v-model="oldBilingSheetId"
										lookupajax="BillingSheets"
										class="form-control"
										tabindex="-1">
								</Lookup>
							</div>
							<label class="control-label col-sm-4">
								Update to Billing Sheet
							</label>
							<div class="col-sm-7">
								<Lookup name="NewBillingSheetId"
										:lookuptextfield="newBillingSheet"
										@updateLookupTextField="updateBillingSheetTextFieldNew"
										v-model="newBillingSheetId"
										lookupajax="BillingSheets"
										class="form-control"
										tabindex="-1">
								</Lookup>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>
<script>
	import api from '@/api/letterbook';
	import Lookup from '@/components/utility/Lookup.vue';

	export default {
		components: {
			Lookup
		},
		props: {
			showBatchUpdate: {
				type: Boolean
			},
		},
		data: function () {
			return {
				oldBillingSheet:"",
				oldBilingSheetId: 0,
				newBillingSheet: "",
				newBillingSheetId: 0
			}
		},
		methods: {
			update: function () {
				if (this.oldBilingSheetId != 0 && this.newBillingSheetId != 0) {
					this.$http.post('Lookups/BillingSheet/BatchUpdateQARules', {
						oldBillingSheetId: this.oldBilingSheetId,
						newBillingSheetId: this.newBillingSheetId
					}).then(response => {
						bootbox.alert("All Rules updated with new Biling Sheet.")
					})
				}
				else {
					bootbox.alert("Please make your selection.")
				}
			},
			updateBillingSheetTextFieldOld: function (val) {
				this.oldBillingSheet = val;
			},
			updateBillingSheetTextFieldNew: function (val) {
				this.newBillingSheet = val;
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.BatchUpdate).on('hidden.bs.modal', function (e) {
				self.$emit('setShowBatchUpdate', false);
			});
		},
		watch:  {
			showBatchUpdate: function (val, oldVal) {
				if (val) {
					$(this.$refs.BatchUpdate).modal('show');
				}
				else
				{
					this.$emit('setShowBatchUpdate', false);
					$(this.$refs.BatchUpdate).modal('hide');
				}
			},
		}
	}
</script>
<style scoped>
</style>