﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Billing Sheet - <span v-if="vm.mode == 'Add'">Add New</span><span v-else>Edit</span></h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<button @click="save($event)" class="btn btn-sm btn-primary">Save</button>
				<input type="reset" id="CancelBtn" class="btn btn-primary" value="Cancel" onclick="window.close();">
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>BillingSheet Information</strong></div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-3">
								Name
							</label>
							<div class="col-sm-5">
								<input type="text" name="Name" v-model="vm.name" maxlength="50" :disabled="vm.mode == 'Edit' && !vm.canNameBeUpdated" class="form-control" />
								<span class="field-validation-error" v-if="$v.vm.name.$invalid">Name is required and must be less than {{ $v.vm.name.$params.maxLength.max }} characters.</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">
								Description
							</label>
							<div class="col-sm-5">
								<textarea v-model="vm.description" maxlength="200" id="Description" cols="70" rows="3"></textarea>
								<span class="field-validation-error" v-if="$v.vm.description.$error && !$v.vm.description.maxLength">The field Description must be a string with a maximum length of {{ $v.vm.description.$params.maxLength.max }}.</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">
								Laboratory
							</label>
							<div class="col-sm-5">
								<LookupMultiple id="Labs"
												name="Labs"
												lookupajax="Laboratories"
												v-model="vm.labIds"
												:options="vm.labs" />

								<span class="field-validation-error" v-if="$v.vm.labIds.$invalid">Laboratory selection is required.</span>
							</div>
						</div>

						<!--<div class="form-group">
							<label class="control-label col-sm-3">
								Requires Specialized Type&nbsp;<i class="fas fa-info-circle" aria-hidden="true" title="If this is checked, it will ask to make Specialized Type selection for this Billing sheet."></i>
							</label>
							<div class="col-sm-8">
								<input type="checkbox" v-model="vm.requiredSpecializedType" />
							</div>
						</div>-->

						<div class="form-group">
							<label class="control-label col-sm-3">
								Apply GAT Charge if Applicable&nbsp;<i class="fas fa-info-circle" aria-hidden="true" title="If this is checked, it will increment fee if GAT Jurisdiction exists"></i>
							</label>
							<div class="col-sm-8">
								<input type="checkbox" v-model="vm.getsGatChargeIfApplicable" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">
								App Fee (Default)
							</label>
							<div class="col-sm-6">
								<Lookup style="width:100%" id="AppFee" name="AppFee" @updateLookupTextField="updateAppFee" lookupajax="AppFees" :lookuptextfield="vm.appFee" v-model="vm.appFeeId"></Lookup>
								<span class="field-validation-error" v-if="$v.vm.appFeeId.$invalid">App Fee or App Fee(Item Billed) selection is required.</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">
								App Fee (Items Billed = 1)
							</label>
							<div class="col-sm-6">
								<Lookup style="width:100%" id="AppFee1" name="AppFee1" @updateLookupTextField="updateAppFee1" lookupajax="AppFees" :lookuptextfield="vm.billedItem1AppFee" v-model="vm.billedItem1AppFeeId"></Lookup>
								<span class="field-validation-error" v-if="$v.vm.billedItem1AppFeeId.$invalid">App Fee or App Fee(Item Billed) selection is required.</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">
								App Fee (Items Billed = 2)
							</label>
							<div class="col-sm-6">
								<Lookup style="width:100%" id="AppFee2" name="AppFee2" @updateLookupTextField="updateAppFee2" lookupajax="AppFees" :lookuptextfield="vm.billedItem2AppFee" v-model="vm.billedItem2AppFeeId"></Lookup>
								<span class="field-validation-error" v-if="$v.vm.billedItem2AppFeeId.$invalid">App Fee or App Fee(Item Billed) selection is required.</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">
								App Fee (Items Billed = 3+)
							</label>
							<div class="col-sm-6">
								<Lookup style="width:100%" id="AppFee3" name="AppFee3" @updateLookupTextField="updateAppFee3" lookupajax="AppFees" :lookuptextfield="vm.billedItem3AppFee" v-model="vm.billedItem3AppFeeId"></Lookup>
								<span class="field-validation-error" v-if="$v.vm.billedItem3AppFeeId.$invalid">App Fee or App Fee(Item Billed) selection is required.</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">
								Active
							</label>
							<div class="col-sm-8">
								<input type="checkbox" v-model="vm.active" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	
	import Lookup from '@/components/utility/Lookup.vue'
	import LookupMultiple from '@/components/utility/LookupMultiple.vue'
	import { required, requiredIf, maxLength,minLength } from 'vuelidate/lib/validators';
	
	export default {
		components: {
			Lookup,
			LookupMultiple
		},
		data: function () {
			return {
				vm: initialData
			}
		},
		mounted: function () {
			
		},
		methods: {
			confirmSave: function () {
				let self = this;
				this.$http.post('Lookups/BillingSheet/CheckIfExists', {
					vm: this.vm,
				}).then(response => {
					if (response.data == "OK") {
						self.saveBillingSheetData();
					}
					else {
						bootbox.alert("Billing Sheet already exists. Please confirm data.")
					}
				})
			},
			save: function (e) {
				if (this.$v.$invalid) {
					e.preventDefault();
					return;
				}
				this.confirmSave();
			},
			saveBillingSheetData: function () {
				 this.$http.post('Lookups/BillingSheet/Edit', {
					vm: this.vm,
				}).then(response => {
					window.close();
					window.opener.location.reload()
				})
			},
			updateAppFee: function (newValue) {
				this.vm.appFee = newValue;
			},
			updateAppFee1: function (newValue) {
				this.vm.billedItem1AppFee = newValue;
			},
			updateAppFee2: function (newValue) {
				this.vm.billedItem2AppFee = newValue;
			},
			updateAppFee3: function (newValue) {
				this.vm.billedItem3AppFee = newValue;
			},
			updateLabTextField: function (val) {
				this.vm.lab = val;
			},
		},
		validations: {
			vm: {
				name: {
					required,
					maxLength: maxLength(50)
				},
				appFeeId: {
					required:requiredIf(function (thisObj) {
							return(thisObj.billedItem1AppFeeId == 0 || thisObj.billedItem1AppFeeId == null )
					}),
					minLength : minLength(1)
				},
				billedItem1AppFeeId: {
					required:requiredIf(function (thisObj) {
							return(thisObj.appFeeId == 0 || thisObj.appFeeId == null)
					}),
					minLength : minLength(1)
				},
				billedItem2AppFeeId: {
					required:requiredIf(function (thisObj) {
							return(thisObj.appFeeId == 0 || thisObj.appFeeId == null)
					}),
					minLength : minLength(1)
				},
				billedItem3AppFeeId: {
					required:requiredIf(function (thisObj) {
							return(thisObj.appFeeId == 0 || thisObj.appFeeId == null)
					}),
					minLength : minLength(1)
				},
				description: {
					maxLength: maxLength(200)
				},
				labIds: {
					required,
					minLength : minLength(1)
				},
			}
		},
	}
</script>
<style scoped>
</style>