﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Billing Sheets</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<button class="btn btn-sm btn-primary" @click="setShowBatchUpdate(true)" title="Update Rules to user new Billing Sheets">Batch Update QA Rules with New Billing Sheet</button>
				<button class="btn btn-sm btn-primary" @click="add">Add</button>
				<a-link href="/tools" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<Grid :grid="grid" :custom-filters="filters" @gridComplete="gridComplete"></Grid>
			</div>
		</div>
		<BatchUpdate :showBatchUpdate="showBatchUpdate" @setShowBatchUpdate="setShowBatchUpdate"></BatchUpdate>
	</div>
</template>
<script>
	import ALink from '@/components/utility/ALink.vue';
	import Grid from '@/components/utility/Grid.vue';
	import BatchUpdate from '@/components/lookup/billingsheet/BatchUpdateBillingSheet.vue';

	const gridId = 'BillingSheetGrid';

	const grid = {
		id: gridId,
		url: 'GridsAjax/LoadBillingSheetGrid',
		searchtextbar: 'true',
		colNames: [
			'Id',
			'Name',
			'Location',
			'Applies GAT?',
			//'Spec. Type?',
			'AppFee',
			'AppFee(Billed=1)',
			'AppFee(Billed=2)',
			'AppFee(Billed=3)',
			'Active',
			''
		],
		colModel: [
			{ name: 'Id', hidden: true },
			{ name: 'Name', width: 95, stype: 'text', search: true },
			{ name: 'Labs', width: 30, stype: 'text', search: true },
			{ name: 'GetsGatChargeIfApplicable', width: 40, stype: 'text', search: true },
			//{ name: 'RequiredSpecializedType', width: 40, stype: 'text', search: true },
			{ name: 'AppFeeName', width: 50, stype: 'text', search: true },
			{ name: 'BilledItem1AppFeeName', width: 50, stype: 'text', search: true },
			{ name: 'BilledItem2AppFeeName', width: 50, stype: 'text', search: true },
			{ name: 'BilledItem3AppFeeName', width: 50, stype: 'text', search: true },
			{ name: 'Active', width: 30, stype: 'text', search: true },
			{ name: 'Edit/Delete',  sortable: false, search: false, width: 35},
		]
	}

	export default {
		components: {
			ALink,
			Grid,
			BatchUpdate
		},
		data: function () {
			return {
				vm: initialData,
				deleteUrl: deleteUrl,
				editUrl:editUrl,
				filters: null,
				grid: grid,
				showBatchUpdate: false
			}
		},
		mounted: function () {

		},
		methods: {
			 add: function () {
				window.open("BillingSheet/Edit?Id=0")
			},
			gridComplete: function () {
				var grid = $('#' + gridId);
				var rows = grid.jqGrid("getRowData");
				for (var i = 0; i < rows.length; i++) {
					var rowId = rows[i].Id;

					var link = "<div>"
					link += "<a href='" + editUrl + "?id=" + rowId + "' Target='_new'>Edit</a>"
					link += " | <a href='javascript:var r = confirm(\"Are you sure you want to delete this Billing Sheet?\"); if (r == true){ $.post(\"" + deleteUrl + "?id=" + rowId + "\").then(response => { if (response == \"NOOK\") { alert(\"Billing Sheet can not be deleted. There are letters processed with this Billing Sheet. Please make it InActive.\"); } else { window.location.href =\"billingsheet\";} });  }' >Delete</a>"
					link += "</div>"

					grid.setCell(rowId, 'Edit/Delete', link);

					//Active
					var status = rows[i].Active;
					var label = "Yes"
					if(status == "False")
					{
						label = "No"
						$(grid).jqGrid('setCell', rowId, "Name", "", { 'background-color': 'lightgrey' })
					}
					grid.setCell(rowId, 'Active', label);

					//Gets Gat Charge
					var status = rows[i].GetsGatChargeIfApplicable;
					var label = "Yes"
					if(status == "False")
					{
						label = "No"
					}
					grid.setCell(rowId, 'GetsGatChargeIfApplicable', label);
					
					//Gets Required Type
					//var status = rows[i].RequiredSpecializedType;
					//var label = "Yes"
					//if(status == "False")
					//{
					//	label = "No"
					//}
					//grid.setCell(rowId, 'RequiredSpecializedType', label);
					
				}

				return;
			},
			setShowBatchUpdate: function (val) {
				this.showBatchUpdate = val
			},
		}
	}
</script>
<style scoped>
</style>