﻿@model Submissions.Web.Areas.Lookups.Models.LaboratoriesIndexViewModel

@{
	ViewBag.Title = "Laboratories";
	var header = Model.Laboratories.FirstOrDefault();
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

<table class="table table-striped table-hover">
	<tr>
		<th>@Html.DisplayNameFor(m => @header.Name)</th>
		<th>@Html.DisplayNameFor(m => @header.Location)</th>
		<th>@Html.DisplayNameFor(m => @header.ArchiveLocation)</th>
		<th>@Html.DisplayNameFor(m => @header.Company)</th>
		<th>@Html.DisplayNameFor(m => @header.City)</th>
		<th>@Html.DisplayNameFor(m => @header.State)</th>
		<th>@Html.DisplayNameFor(m => @header.Country)</th>
		<th></th>
	</tr>

	@foreach (var item in Model.Laboratories)
	{
		<tr>
			@if (item.Active ==1)
			{
				<td>@item.Name</td>
				<td>@item.Location</td>
				<td>@item.ArchiveLocation</td>
				<td>@item.Company</td>
				<td>@item.City</td>
				<td>@item.State</td>
				<td>@item.Country</td>
				<td class="text-right">
					<a href="laboratories/edit?id=@item.Id&Mode=Edit">Edit</a> |
					@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckDelete" })
				</td>
			}
			else
			{
				<td class="text-red">@item.Name</td>
				<td class="text-red">@item.Location</td>
				<td class="text-red">@item.ArchiveLocation</td>
				<td class="text-red">@item.Company</td>
				<td class="text-red">@item.City</td>
				<td class="text-red">@item.State</td>
				<td class="text-red">@item.Country</td>
				<td class="text-right">
					@Html.ActionLink("Activate", "SetActive", "", new { id = item.Id, @class = "Activate" }) |
					@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckDelete" })
				</td>
			}
		</tr>
	}
</table>