﻿@model Submissions.Web.Areas.Protrack.Models.ProjectReview.Overview

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}

@{
	ViewBag.Title = "Project Reviews";
}

<div class="row row-title">
	<div class="col-sm-9 ">
		<h3>@ViewBag.Title</h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Search</h3>
			</div>
			<div class="panel-body">
				<form>
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.User, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupMultipleFor(m => m.Filters.UserId, Model.Filters.User, LookupAjax.Users, false)
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.Department, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupFor(m => m.Filters.DepartmentId, m => m.Filters.Department, LookupAjax.Departments, false,
									   new {
										   data_filter = Json.Encode(Model.DepartmentsFilter)
									   })
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.Status, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.ListBoxFor(m => m.Filters.StatusIds, Model.Filters.Status, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.SearchTerm, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.Filters.SearchTerm, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.Filenumber, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										<div class="row">
											@Html.LookupFor(m => m.Filters.ProjectId, m => m.Filters.Filenumber, LookupAjax.ProjectName, true)
										</div>
										<div class="row">
											<button type="button" class="btn-link btnShowLink" onclick="showDepartmentSelectionModal()">Create New Review for this Project</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="pull-right">
								<button type="button" id="SearchBtn" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>&nbsp;Search</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.ProjectReviewGrid.Grid, Model.ProjectReviewGrid.Grid.ID)
	</div>
</div>
<div id="departmentSelectionModal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Select Review Department</h3>
			</div>
			<div class="modal-body">
				<form>
					<input type="radio" name="department" value="1" checked /> Engineering <br />
					<input type="radio" name="department" value="2" /> Math <br />
					<input type="radio" name="department" value="7" /> QA
				</form>
			</div>
			<div class="modal-footer">
				<div style="font-size:0;">
					<button type="button" class="btn btn-primary" onclick="createNewReview()">Create</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$(function () {

			$('#SearchBtn').on('click', function () {
				runGridSearch();
			});

			$('.btnShowLink').hide()


			$('#Filters_ProjectId').change(function () {
				if ($('#Filters_ProjectId').val() > 0) {
					$('.btnShowLink').show()
				}
			})
		});
		function showDepartmentSelectionModal() {
			$('#departmentSelectionModal').modal('show');
		}

		function createNewReview() {
			var department = document.getElementsByName('department');
			var departmentId = null;
			for (var i = 0, length = department.length; i < length; i++) {
				if (department[i].checked) {
					departmentId = parseInt(department[i].value);
				}
			}
			$('#departmentSelectionModal').modal('hide');
			var url = '@Url.Action("Index", "ProjectReview")?projectId=' + $('#Filters_ProjectId').val() + '&departmentId=' + departmentId;
			window.open(url);
		}

		function runGridSearch() {
			$('#ProjectReviewGrid').trigger('reloadGrid', [{ page: 1 }]);
		}

		function ViewDetailsLink(cellValue, options, rowObject) {
			var link = '<a href="' + '@Url.Action("Index", "ProjectReview")' + '?reviewId=' + options.rowId + '" target="_blank">View Details</a>';
			return link;
		}

		function ProjectDetailLink(cellValue, options, rowObject) {
				var link = '<a href="' + '@Url.Action("Detail", "Project")' + '/' + rowObject[1] + '" target="_blank">' + cellValue + '</a>';
			return link;
		}

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function getFilters() {
			var filters = {};
			filters.DepartmentId = $('#Filters_DepartmentId').val();
			filters.SearchTerm = $('#Filters_SearchTerm').val();
			filters.UserId = $('#Filters_UserId').val();
			filters.StatusIds = $('#Filters_StatusIds').val();
			filters.CurrentUserId = $('#Filters_CurrentUserId').val();
			filters.ProjectId = $('#Filters_ProjectId').val();
			return filters;
		}

		function nameColumnFormat(cellValue, options, rowObject) {
			var columnValue = ""

			columnValue += cellValue.replace(new RegExp(',', 'g'), '<br />')

			return columnValue
		}
	</script>
}
