﻿@model Submissions.Web.Areas.Protrack.Models.MyTasks.CompleteTaskVM
@{
	ViewBag.Title = "CompleteTask";
}
<!-- Modal content-->
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Complete task - <small>@Model.TaskName (@Model.ProjectName)</small></h4>
	</div>

	<div id="modalBody" class="modal-body">
		<div class="form-horizontal">
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-4">Est Hours</label>
				<div class="col-sm-6">
					@Model.EstHours
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-4">Act Hours</label>
				<div class="col-sm-6">
					@Model.ActHours
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-4">Task Note</label>
				<div class="col-sm-6">
					@Html.TextAreaFor(m => m.TaskNote, new { @class = "form-control" })
				 </div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-4">Email Supervisor</label>
				<div class="col-sm-6">
					@Html.CheckBoxFor(m => m.TaskEmailSupervisor)
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-4">Email all on project</label>
				<div class="col-sm-6">
					@Html.CheckBoxFor(m => m.TaskEmailAll)
				</div>
			</div>
			@Html.HiddenFor(m => m.TaskId)
		</div>
	</div>
	 <div class="modal-footer">
		<button id="completeTaskSubmit" type="button" class="btn btn-default">Complete Task</button>
		<button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
</div>
<script>
	$(function () {
		$('#completeTaskSubmit').click(function (e) {
			e.preventDefault();

			var taskId = $('#TaskId').val();
			console.info("This is after" + taskId);
			var url = '@Url.Action("CompleteTask", "MyTasks")';

			var TaskPayload = {
				TaskId: taskId,
				Options: {
					Note: $('#TaskNote').text() || null,
					EmailAll: $('#TaskEmailAll').is(":checked") || false,
					EmailSupervisor: $('#TaskEmailSupervisor').is(":checked") || false
				}
			};

			$.ajax({
				url: url,
				data: JSON.stringify(TaskPayload),
				type: 'POST',
				contentType: "application/json",
				dataType: "json",
				success: function (data) {
					if (document.URL.indexOf("mytasks") > 0) {//My Task grid
						$('#myModal').modal('hide');
						reloadGrid('#TasksGrid')
					} else {
						window.location.reload();
					}
				},
				error: function (data) {
					var responseText = JSON.parse(data.responseText);

					if (responseText.indexOf("deleted") > 0) {
						bootbox.alert({
							title: "Error:",
							message: "<p>" + responseText + "</p>"
						});
					}
					else {
						bootbox.alert({
							title: "Error:",
							message:
								"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
								+ "<table border='1'>"
								+ "<tr><td>Exceptiopn</td><td>" + responseText + "</td></tr>"
								+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
								+ "<tr><td>Error Tag</td><td>Complete Task</td></tr>"
								+ "</table>"
						});
					}
				},
				complete: function (data) {
					ClearCompleteTaskModal();
				}
			});

			function ClearCompleteTaskModal() {
				$('#TaskId').val("");
				$('#TaskNote').text("");
				$('#TaskEmailSupervisor').prop('checked', false);
				$('#TaskEmailAll').prop('checked', false);
			}
		})
	})
</script>