﻿@model Submissions.Web.Areas.Protrack.Models.MathQueue.MathReviewInfo

@{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.ProjectId)
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.SourceType)
}

@if (Model.Id == 0)
{
	@: <h4 class="form-h4"><small>New Math Request:</small></h4>
	}
else
{
	@: <h4 class="form-h4"><small>Math Request form:</small></h4>
	}

<div class="row col-sm-12" style="border:1px solid;border-color:lightgray">
	@if (!String.IsNullOrEmpty(Model.ForeignProject))
	{<font class="text-warning"><small>(*This form was merged from @Model.ForeignProject)</small></font>}
	<br />
	<div class="form-group row">
		<div class="form-group col-sm-6">
			<label for="FileNumber">File Number:</label>
			@Html.DisplayFor(m => m.ProjectName)
		</div>
		<div class="form-group col-sm-3">
			<label for="Office">Office:</label>
			@Html.DisplayFor(m => m.Location)
		</div>
	</div>
	<div class="form-group row">
		<label for="AnalysisType" class="col-sm-2 col-form-label col-form-label-lg">Analysis Type:</label>
		<div class="col-sm-4">
			@Html.RadioButtonFor(m => m.AnalysisType, "Math", new { @class = "radio-inline" }) Math
			@Html.RadioButtonFor(m => m.AnalysisType, "RNG", new { @class = "radio-inline" }) RNG
		</div>
		<label for="Themes" class="col-sm-2 col-form-label col-form-label-lg">Theme:</label>
		<div class="col-sm-4">
			<div class="input-group dropdown">
				@Html.TextBoxFor(m => m.Themes, new { @class = "form-control themes dropdown-toggle", width = "350px", @placeholder = "Enter Or Select Theme" })
				<ul class="dropdown-menu" style="width: 300px; height: 200px; overflow: auto">
					@foreach (var theme in Model.AllThemes)
					{
						<li><a href="#" data-value="@theme">@theme</a></li>
					}
				</ul>
				<span role="button" class="input-group-addon dropdown-toggle" data-toggle="dropdown"><i class="fas fa-chevron-down"></i></span>
				@Html.ValidationMessageFor(m => m.Themes)
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="form-group col-sm-6">
			<label>Program ID(s):</label><small>(Display only, no selection required)</small>
			<div id="" style="overflow-y: scroll; height:100px;">
				@foreach (var program in Model.AllProgramIds)
				{
					@program.Text <br />
				}
			</div>
			<br />
			<label>Game Name(s):</label><small>(Display only, no selection required)</small>
			<div id="" style="overflow-y: scroll; height:100px;">
				@foreach (var game in Model.AllGames)
				{
					@game.Text <br />
				}
			</div>
		</div>
		<div class="form-group col-sm-6">
			<label for="AllProgramIds">Program Type:</label>
			<table width="100%">
				<tr>
					<td width="50%">@Html.RadioButtonFor(m => m.ProgramType, @MathProgramType.New.GetEnumDescription(), new { @class = "radio-inline ProgramType" }) @MathProgramType.New.GetEnumDescription() </td>
					<td width="50%">@Html.RadioButtonFor(m => m.ProgramType, @MathProgramType.PreviouslyApproved.GetEnumDescription(), new { @class = "radio-inline ProgramType" }) @MathProgramType.PreviouslyApproved.GetEnumDescription() </td>
				</tr>
				<tr>
					<td width="50%">@Html.RadioButtonFor(m => m.ProgramType, @MathProgramType.Modification.GetEnumDescription(), new { @class = "radio-inline ProgramType" }) @MathProgramType.Modification.GetEnumDescription()  </td>
					<td width="50%">@Html.RadioButtonFor(m => m.ProgramType, @MathProgramType.Clone.GetEnumDescription(), new { @class = "radio-inline ProgramType" }) @MathProgramType.Clone.GetEnumDescription()  </td>
				</tr>
				<tr>
					<td colspan="2">
						<br />
						<label for="PreviousFiles">Please list the previous file number:</label>
						@Html.TextBoxFor(m => m.PreviousFiles, new { @class = "form-control", width = "350px" })
						<label for="PreviousThemes">Please list the previous theme:</label>
						<div class="input-group dropdown">
							@Html.TextBoxFor(m => m.PreviousThemes, new { @class = "form-control themes dropdown-toggle", width = "350px", @placeholder = "Enter Or Select Theme" })
							<ul class="dropdown-menu" style="width: 350px; height: 200px; overflow: auto">
								@foreach (var theme in Model.AllThemes)
								{
									<li><a href="#" data-value="@theme">@theme</a></li>
								}
							</ul>
							<span role="button" class="input-group-addon dropdown-toggle" data-toggle="dropdown"><i class="fas fa-chevron-down"></i></span>
							@Html.ValidationMessageFor(m => m.Themes)
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-6">
			<div class=" form-group row">
				<label for="GameType" class="col-xs-4 col-form-label">Game Type:</label>
				<div class="col-xs-8 text-left">
					@Html.DropDownListFor(m => m.GameType, LookupsStandard.ConvertEnum<MathGameType>(showBlank: true), new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group row">
				<label for="DateRequested" class="col-xs-4 col-form-label">Date Submitted:</label>
				<div class="col-xs-8 text-left">
					@Html.DisplayFor(m => m.Submitted)
				</div>
			</div>
			<div class="form-group row">
				<label for="RequestedCompletion" class="col-xs-4 col-form-label">Requested Completion:</label>
				<div class="col-xs-8 text-left">
					@Html.EditorFor(m => m.CompletionRequested, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Requested Completion Date" } })
				</div>
			</div>
			<div class="form-group row">
				<label for="Rush" class="col-xs-4 col-form-label">Expedite File?</label>
				<div class="col-xs-8 text-left">
					@Html.RadioButtonFor(m => m.IsRush, true, new { @class = "radio-inline" }) Yes
					@Html.RadioButtonFor(m => m.IsRush, false, new { @class = "radio-inline" }) No
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class=" form-group row">
				<label for="SubmittingEngineer" class="col-xs-6 col-form-label">Submitting Engineer:</label>
				<div class="col-xs-8 text-left">
					@Html.DisplayFor(x => x.Submitter)
				</div>
			</div>
			<div class=" form-group row">
				<label for="SubmittingEngManager" class="col-xs-6 col-form-label">Submitting Eng Manager:</label>
				<div class="col-xs-8 text-left">
					@Html.DisplayFor(x => x.SubmitterManager)
				</div>
			</div>
			<div class="form-group row col-xs-12">
				<label for="MathModelAffected" class="col-form-label">Is there any implementation in the game software which affects/limits the math model.<br /><small>(i.e. game is hardcoded for max lines)</small>?</label>
				<div class="text-left">
					@Html.RadioButtonFor(m => m.MathModelAffected, 1, new { @class = "radio-inline" }) Yes
					@Html.RadioButtonFor(m => m.MathModelAffected, 0, new { @class = "radio-inline" }) No
					@Html.RadioButtonFor(m => m.MathModelAffected, 2, new { @class = "radio-inline" }) Unknown
					<br />
					@Html.TextAreaFor(x => x.MathModelNote, 2, 5, new { @class = "form-control" })
				</div>
			</div>
		</div>
	</div>
	<div class="form-group row col-xs-12">
		<label for="NotesToMath" class="col-form-label">Notes to Math Department</label>
		<div class="text-left">
			@Html.TextAreaFor(x => x.Note, 4, 10, new { @class = "form-control" })
		</div>
	</div>
	<div class="row col-xs-12">
		<div class="col-xs-4 text-left"><p class="muted"><small>Submitted by - @Model.Submitter</small></p></div>
		<div class="col-xs-4"><p class="muted"><small></small></p></div>
		<div class="col-xs-4 text-right"><p class="muted"><small>Last Modified by - @Model.Modifier</small></p></div>
	</div>
</div>


<script>
	$(function () {

		//When Page loads set visibility
		if ('@Model.ProgramType' == '@MathProgramType.New') {
			$("#PreviousThemes").prop('disabled', true);
			$("#PreviousFiles").prop('disabled', true);
		}
		else {
			$("#PreviousThemes").prop('disabled', false);
			$("#PreviousFiles").prop('disabled', false);
		}

		//editable dropdown
		$('.dropdown-menu a').click(function () {
			$(this).closest('.dropdown').find('input.themes').val($(this).attr('data-value'));
		});

		// Date Picker
		$('input.datepicker').datetimepicker({
			format: 'l',
			useCurrent: false,
			showClear: true,
		});


		$('.ProgramType').click(function () {
			if ($(this).val() == '@MathProgramType.New') {
				$("#PreviousThemes").prop('disabled', true);
				$("#PreviousFiles").prop('disabled', true);
			}
			else {
				$("#PreviousThemes").prop('disabled', false);
				$("#PreviousFiles").prop('disabled', false);
			}
		});


		$('#SaveMathReview').click(function () {

			var ErrorMsg = ''

			// if ($('#AvailableTheme').val() != "") {
			//  if ($('#Themes').val() == "") { $('#Themes').val($('#AvailableTheme').val()) }
			//}

			if ($('#Themes').val() == "") {
				ErrorMsg += "Please enter Theme.<br>"
			}
			if ($('input[Id=AnalysisType]:radio:checked').val() == undefined) {
				ErrorMsg += "Please select Analysis Type.<br>"
			}
			if ($('#GameType').val() == "") {
				ErrorMsg += "Please select Game Type.<br>"
			}
			if ($('input[Id=ProgramType]:radio:checked').val() == undefined) {
				ErrorMsg += "Please select Program Type.<br>"
			}
			if ($('input[Id=ProgramType]:radio:checked').val() == 'New') {
				$('#PreviousFiles').val("")
				$('#PreviousThemes').val("")
			}

			var selectedDate = $('#CompletionRequested').val();
			if (selectedDate != "") {
				var now = new Date();
				now.setHours(0, 0, 0, 0);
				if (Date.parse(selectedDate) < now) {
					ErrorMsg += "Requested Complete Date can not be in past.<br>"
				}
			}

			if (ErrorMsg == '') {
				if (CheckValidFile() == "Yes") {

					if ($('#Themes').val() != "" && ($('#Id').val() == 0)) {
						//Check if same Theme exists for a file
						var url = '@Url.Action("CheckThemeExists", "MathQueue")?projectId=' + $('#ProjectId').val() + '&theme=' + $('#Themes').val()
						$.post(url, null, function (data) {
							if (data == "Yes") {
								bootbox.alert("Theme already exists.");
							}
							else {
								$('#MathForm').submit()
							}
						});
					}
					else {
						$('#MathForm').submit()
					}
				}
				else {
					bootbox.alert("Invalid Previous File.");
				}
			}
			else {
				bootbox.alert(ErrorMsg);
				return false;
			}

		});

		$('#MathForm').submit(function () {
			if (($("#SourceType").val() == "@MathListType.AllReviewList.ToString()")) {
				return true;
			}
			else {
				$.ajax({
					url: this.action,
					type: this.method,
					data: $(this).serialize(),
					success: function (result) {
						bootbox.alert("Math Submit saved successfully.")
						if (($("#SourceType").val() == "@MathListType.Incoming.ToString()")) { //This is only needs to happen when this is called from IncomingReviewform page where all forms are listed and when new is saved.
							$('#Math').html(result); //This is only needs to happen when this is called from IncomingReviewform page where all forms are listed and when new is saved.
						}
					}
				});
				return false;
			}
		});
	})

	function CheckValidFile() {
		var result = "No"
		if ($('#PreviousFiles').val() != "") {
			var url = '@Url.Action("CheckValidFile", "MathQueue")?file=' + $('#PreviousFiles').val()
			$.ajax({
				url: url,
				async: false,
				success: function (data) {
					result = data
				}
			});
		}
		else {
			result = "Yes"
		}

		return result
	}
</script>


