﻿@model Submissions.Web.Areas.Protrack.Models.Project.SendTOENRRFromQA
@{
    ViewBag.Title = "Send back for Engineering Re-Review";
}
<!-- Modal content-->

<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-12 form-buttons text-right">
                <button id="SendBundleSubmit" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Send Bundle Back to Engineering</button>
                <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>

    <div id="modalBody" class="modal-body">
        <div class="form-horizontal">
            <div class="form-group form-group-sm">
                <label class="control-label col-sm-2">Manager</label>
                <div class="col-sm-6">
                    @Html.LookupFor(m => m.ENManagerId, m => m.ENManager, LookupAjax.Users, false, new { data_filter = Json.Encode(Model.ManagerFilter) })
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label col-sm-2">Notes</label>
                <div class="col-sm-6">
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      
    </div>
</div>

<script>
	$(function () {
		var model = @Html.Raw(Json.Encode(Model));
        loadDocumentReady();
        $('#SendBundleSubmit').click(function (e) {
			if ($('#ENManagerId').val() == 0 || $('#ENManagerId').val() == "")
            {
                bootbox.alert("Please select manager.")
            }
            else
			{
				model.ENManagerId = $('#ENManagerId').val();
				model.Note = $('#Note').val();
				$('#SendBundleSubmit').prop("disabled", true);
				$.ajax({
					type: "POST",
					url: '@Url.Action("SendToENRRFromQA", "ChangeProjectStatus")',
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify(model),
					success: function (data) {
						if (data == "OK") {
							if ("@Request["OnlyRefreshValues"]" == 1) {
								ReloadAfterUpdate();
								$('#myModal').modal('toggle');
								bootbox.alert("Data updated.")
							}
							else {
								window.location.reload();
							}
						}
						else {
							bootbox.alert("Error")
						}
					},
					error: function (data) {
						bootbox.alert({
							title: "Error:",
							message:
								"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
								+ "<table border='1'>"
								+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(data.responseText) + "</td></tr>"
								+ "<tr><td>Time</td><td>" + moment().format() + "</td></tr>"
								+ "<tr><td>Error Tag</td><td>Send Bundle Back to Engineering</td></tr>"
								+ "</table>"
						});
					},
					complete: function (data) {
						ClearForm();
					}

				});
				return false;
            }
        });

        function ClearForm() {
			$('#ENManagerId').val('')
            $('#Note').text('')
        }
    })
</script>
