﻿@model Submissions.Web.Areas.Protrack.Models.Project.ProjectReview
@{
	ViewBag.Title = "Incoming Review - " + Model.ProjectName;
}
<style>
 
</style>
<div>
	<div class="row">
		<div class="col-sm-6 ">
			@if (Model.ProtrackType == ProtrackType.ENG && Model.ReviewType == ReviewType.InComing)
			{
				<h4 class="form-h4">Engineering Incoming Review for <small>@Model.ProjectName</small></h4>
			}
		</div>
		<div class="col-sm-6 form-buttons text-right">
			<!--<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>-->
			<input type="reset" id="CancelBtn" class="btn btn-primary btn-sm" value="Cancel" onclick="window.close()">
		</div>
		</div>
</div>
<div>
	<div class="container">
		<div class="col-sm-12">
			@if (Model.ProtrackType == ProtrackType.ENG && Model.ReviewType == ReviewType.InComing)
			{
				<div id="tabReview">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#ProjDetail" data-toggle="tab">Project Details</a></li>
						<!--<li><a href="#Evolution" data-toggle="tab">Evolution</a></li>-->
						<li><a href="#Math" data-toggle="tab">Math</a></li>
					</ul>
					<br />
					<div class="tab-content " style="height:900px">
						<div class="tab-pane" id="Math">
							loading......
						</div>
						<!--<div class="tab-pane" id="Evolution">
							loading......
						</div>-->
						<div class="tab-pane active" id="ProjDetail">
							<div class="row">
							</div>
							<div class="row">
								<div class="col-sm-6">
									<a href="@Url.Action("Index","TargetDate")?ProjectID=@Model.ProjectId" target="_blank">Target Date &nbsp;<i class="far fa-edit" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<a href="@Url.Action("Edit","MasterFile")?id=@Model.ProjectId" target="_blank">ReSubmissions &nbsp;<i class="far fa-edit" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<a href="#" onclick="AssignProjectLead()">Project Lead &nbsp;<i class="far fa-edit" aria-hidden="true"></i></a>
								</div>
							</div>
							@if (Model.AllowSLA == true)
							{ 
							<div class="row">
								<div class="col-sm-6">
									<a href="@Url.Action("Index","SLA")?projId=@Model.ProjectId" target="_blank">SLA Management &nbsp;<i class="far fa-edit" aria-hidden="true"></i></a>
								</div>
							</div>
							}
						</div>
					</div>
				</div>

			}
		</div>
	</div>
</div>

<!--Modal Info-->
<div class="modal fade" id="myModal" role="dialog" style="height:80%">
	<div class="modal-dialog">
		<div class="modal-content">
			<div id='ModalContainer'>

			</div>
		</div>
	</div>
</div>

<script>
	$(function () {

		$('#tabReview').on('shown.bs.tab', function (e) {
			var target = $(e.target).attr("href") // activated tab
			if (target == "#Math") {
				var url = "@Url.Action("LoadMathReviews", "MathQueue")?projectId=@Model.ProjectId&sourceType=@MathListType.Incoming";
				$('#Math').load(url);
			}
			else if (target == "#Evolution") {
				var url = "@Url.Action("LoadEvolutionIncoming","Project")?projectId=@Model.ProjectId";
				$('#Evolution').load(url);
			}
		});

	});

	function AssignProjectLead() {
		url = '@Url.Action("Index", "ProjectPersonnel")?projectId=@Model.ProjectId&personnelType=@ProjectPersonnelType.ProjectLead'
		$('#ModalContainer').load(url);
		$('#myModal').modal('show');
	}

</script>


