﻿<template id="EditRule">
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3 v-if="vm.mode == 'Add'">Add PDF Email Rule</h3>
				<h3 v-else>Edit PDF Email Rule</h3>
			</div>
			<div class="col-sm-6 form-buttons ">
				<a v-if="vm.mode == 'Add'" v-show="vm.canEditData" class="btn btn-primary btn-sm" v-on:click="saveRequest">Add</a>
				<a v-else class="btn btn-primary btn-sm" v-show="vm.canEditData" v-on:click="saveRequest">Save</a>
				<a class="btn btn-primary btn-sm" v-on:click="cancelRequest">Exit</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-right">
							<p v-show="vm.lastEditDate != null"><i>Last Modified on {{vm.lastEditDate | formatDate}}&nbsp;<A v-show="showHistoryLink" class="pointer" @click="setViewHistory(true)" title="View Change History"><i class="fas fa-history" aria-hidden="true"></i></A></i></p>
						</div>
						<h3 class="panel-title">General</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">Description</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" v-model="vm.name" />
									<p class=field-validation-error v-if="!$v.vm.name.required">The name is required!</p>
									<span class="field-validation-error" v-if="$v.vm.name.$error && !$v.vm.name.maxLength">
										The field Description must be a string with a maximum length of {{ $v.vm.name.$params.maxLength.max }}.
									</span>
								</div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label" title="Make Rule Active/Inactive">Is Scheduled?</label>
								<div class="col-sm-3">
									<input type="checkbox" v-model="vm.isScheduled" :disabled="(vm.id == 0 || (vm.canActivateRule == false && vm.id != 0 && origVal.isScheduled == false))" />
								</div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label" title="Attach PDF in email">PDF as an Attachment?</label>
								<div class="col-sm-3">
									<input type="checkbox" v-model="vm.pdfAttachment" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Jurisdictions<font class="text-warning">&nbsp;(Note:- Not selecting any Jurisdiction means all jurisdictions.)</font><font class="pull-right small">[<a href="#" @click="selectAllItems('Jurisdiction')">Select All</a>]</font></h3>
					</div>
					<div class="panel-body">
						<div class="form-group form-group-sm">
							<label class="control-label">{{JurisdictionSel}}</label>
							<!--<LookupMultiple id="JurIds" name="JurIds" lookupajax="Jurisdictions" templatename="formatJurisdictions" data-lookupstandard=”true” v-model="vm.jurIds" :options="vm.jurNames" />-->
							<SelectStandardMultiple id="JurIds" name="JurIds" :options="vm.jurOptions" v-model="vm.jurIds" :value="vm.jurIds"></SelectStandardMultiple>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Manufacturers <font class="text-warning">&nbsp;(Note:- Not selecting any Manufacturer means all Manufacturers.)</font></h3>
					</div>
					<div class="panel-body">
						<div class="form form-group form-group-sm">
							<label class="control-label">{{ManufacturerSel}}</label>
							<LookupMultiple id="ManufIds" name="ManufIds" lookupajax="Manufacturers" templatename="formatManufacturers" v-model="vm.manufIds" :options="vm.manufNames" />
						   
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Other Restrictions</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">File Type(s)</label>
								<div class="col-sm-8">
									<LookupMultiple id="FileTypes" name="FileTypes" lookupajax="SubmissionTypes" v-model="vm.fileTypes" :options="vm.fileTypesNames" />
								</div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">Jurisdiction Status</label>
								<div class="col-sm-3">
									<SelectStandardMultiple id="JurStatus" name="JurStatus" :options="vm.statusOptions" v-model="vm.jurisdictionStatuses" :value="vm.jurisdictionStatuses"></SelectStandardMultiple>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Emails</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">To Adresses<br />(separated by semicolon)</label>
								<div class="col-sm-8">
									<textarea rows=4 cols="400" class="form-control" v-model="vm.emailsTo"></textarea>
								</div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">CC Adresses<br />(separated by semicolon)</label>
								<div class="col-sm-8">
									<textarea rows=4 cols="400" class="form-control" v-model="vm.emailsCC"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ChangeReason ref="modalComment" :getChangeReason="showCommentModal" @setEditReason="updateEditReason" @setShowComment="setShowComment"></ChangeReason>
		<ChangeHistory ref="modalHistory" :historyData="vm.changeHistories" :viewHistory="showChangeHistoryModal" @setViewHistory="setViewHistory"></ChangeHistory>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	import ChangeReason from '@/components/tools/emailsmanagement/ChangeReason.vue'
	import ChangeHistory from '@/components/tools/emailsmanagement/ChangeHistory.vue'
	import LookupMultiple from '@/components/utility/LookupMultiple.vue'
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue'
	import { required, maxLength } from 'vuelidate/lib/validators'
	
	export default {
		components: {
			LookupMultiple,
			SelectStandardMultiple,
			ChangeReason,
			ChangeHistory
		},
		data() {
			return {
				vm: initialData,
				JurisdictionSel: "",
				ManufacturerSel: "",
				origVal: [],
				showCommentModal: false,
				showChangeHistoryModal: false
			}
		},
		computed: {
			showHistoryLink: function () {
				return (this.vm.changeHistories.length > 0)
			}
		},
		validations: {
			vm: {
				name: {
					required,
					maxLength: maxLength(50)
				}
			}
		},
		methods: {
			arrayEqual: function (array1, array2) {
				if (array1 == null && array2 == null) {
					return true;
				}
				else if ((array1 == null && array2 != null) || (array1 != null && array2 == null)) {
					return false;
				}
				return array1.slice(0).sort().join(',') === array2.slice(0).sort().join(',');
			},
			cancelRequest: function (event) {
				event.preventDefault();
				window.open("", "_self").close();
			},
			isDataChanged: function () {
				//name
				if (this.vm.name != this.origVal.name) {
					this.vm.isDirty = true;
				}

				if (this.vm.isScheduled != this.origVal.isScheduled) {
					this.vm.isDirty = true;
				}

				if (this.vm.pdfAttachment != this.origVal.pdfAttachment) {
					this.vm.isDirty = true;
				}

				if (!this.arrayEqual(this.vm.jurIds, this.origVal.jurIds)) {
					this.vm.isDirty = true;
				}

				if (!this.arrayEqual(this.vm.manufIds, this.origVal.manufIds)) {
					this.vm.isDirty = true;
				 }

				if (!this.arrayEqual(this.vm.fileTypes, this.origVal.fileTypes)) {
					this.vm.isDirty = true;
				}

				if (!this.arrayEqual(this.vm.jurisdictionStatuses, this.origVal.jurisdictionStatuses)) {
					this.vm.isDirty = true;
				}

				if (this.vm.includesRVItems != this.origVal.includesRVItems) {
					this.vm.isDirty = true;
				}

				if (this.vm.isCorrected != this.origVal.isCorrected) {
					this.vm.isDirty = true;
				}

				if (this.vm.hasSpecialNote != this.origVal.hasSpecialNote) {
					this.vm.isDirty = true;
				}

				if (this.vm.rushOnly != this.origVal.rushOnly) {
					this.vm.isDirty = true;
				}

				if (this.vm.emailsTo != this.origVal.emailsTo) {
					this.vm.isDirty = true;
				}

				if (this.vm.emailsCC != this.origVal.emailsCC) {
					this.vm.isDirty = true;
				}

				if (this.vm.ccENManager != this.origVal.ccENManager) {
					this.vm.isDirty = true;
				}

				if (this.vm.ccENProjectLead != this.origVal.ccENProjectLead) {
					this.vm.isDirty = true;
				}

				if (this.vm.ccCSR != this.origVal.ccCSR) {
					this.vm.isDirty = true;
				}

				if (this.vm.appendMsg != this.origVal.appendMsg) {
					this.vm.isDirty = true;
				}

				return this.vm.isDirty
			},
			jurisdictionSelection: function () {
				var jurSelect = '';
				this.vm.jurIds.forEach(function (jur) {
					if (jurSelect == '') {
						jurSelect = jur
					}
					else {
						jurSelect += ', ' + jur
					}
				})
				this.JurisdictionSel = jurSelect
			},
			manufactureSelection: function () {
				var manufSelect = '';
				this.vm.manufIds.forEach(function (manuf) {
					if (manufSelect == '') {
						manufSelect = manuf
					}
					else {
						manufSelect += ', ' + manuf
					}
				})
				this.ManufacturerSel = manufSelect
			},
			saveRequest: function (e) {
				e.preventDefault()
				if (!this.validateData()) {
					return false;
				}

				var refThis = this
				//alert if no selection
				if (((this.vm.jurIds.length == 0 && this.origVal.jurIds != 0) || (this.vm.manufIds.length == 0 && this.origVal.manufIds.length != 0) && refThis.vm.mode == "Edit")
					||
					(refThis.vm.mode == "Add" && (this.vm.jurIds.length == 0 || this.vm.manufIds.length == 0))
				)
				{
					bootbox.confirm({
						message: "Warning! You have not selected either Manufacturer(s) or Jurisdiction(s). No selection will schedule for all Manufactures/Jurisdictons applying other restrictions. Do you want to continue?",
						buttons: {
							confirm: {
								label: 'Yes'
							}
						},
						callback: function (result) {
							if (result) {
								if (refThis.vm.mode == "Edit") {
									if (refThis.isDataChanged()) {
										refThis.setShowComment(true)
									}
									else {
										bootbox.alert("There were no changes made.")
									}
								}
								else {
									refThis.saveRule()
								}
							}
						}
					});

				}
				else {
					if (refThis.vm.mode == "Edit") {
						if (refThis.isDataChanged()) {
							refThis.setShowComment(true)
						}
						else {
							bootbox.alert("There were no changes made.")
						}
					}
					else {
						refThis.saveRule()
					}
				}

			  
			},
			saveRule: function () {
				this.$http.post('Tools/EmailsManagement/SavePDFRule', {
					vm: this.vm,
				}).then(response => {
					window.close();
					window.opener.location.reload()
				})
			},
			selectAllItems: function (whichItem) {
				var currentItem 
				if (whichItem == 'Jurisdiction') {
					currentItem = "JurIds"
				}
				//else if (whichItem == 'Manufacturer') {
				//    currentItem = "ManufIds"
				//}
			   
				 $("#" + currentItem + " > option").prop("selected", "selected");// Select All Options
				 $("#" + currentItem).trigger("change");
				
			},
			setViewHistory: function (val) {
				this.showChangeHistoryModal = val
			},
			setShowComment: function (val) {
				this.showCommentModal = val
			},
			updateEditReason: function (reason) {
				this.vm.editReason = reason
				this.saveRule();
			},
			validateData: function () {
				this.$v.$touch();
				return !this.$v.$invalid;
			}
			
		},
		mounted() {
			this.$data.origVal = _.cloneDeep(this.vm);
			//loadDocumentReady();
		},
		watch: {
			'vm.manufIds': {
				 handler: function (val, oldVal) {
					 this.manufactureSelection()
				},
				deep: true
			},
			'vm.jurIds': {
				handler: function (val, oldVal) {
					this.jurisdictionSelection()
				},
				deep: true
			}
		}
	}

</script>