﻿<template>
    <div>
        <div class="row">
            <br />
            <div class="col-sm-12 text-right">
                <font class="text-info" v-show="canEdit">[ <i class="fas fa-plus" aria-hidden="true"></i>&nbsp;<A href='#' @click="addRule()">Add New Rule</A> ]</font>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <Grid :grid="grid" :custom-filters="filters" @gridComplete="gridComplete"></Grid>
            </div>
        </div>
    </div>
</template>
<style>
</style>
<script>
    import Grid from '@/components/utility/Grid.vue';
    import Vue from 'vue';

    const gridId = 'PdfEmailsRulesGrid';

    const grid = {
        id: gridId,
        url: 'GridsAjax/LoadPDFRulesGrid',
        searchtextbar: 'true',
        sortname: 'Description',
        sortorder: 'asc',
        colNames: [
            'RuleId',
            'Scheduled',
            'Description',
            'Create Date',
            'Edited By',
            'Edit Date',
            ''
        ],
        colModel: [
            { name: 'RuleId', key: true, hidden: true },
            { name: 'Scheduled', hidden: true },
            { name: 'Description', width: 150, stype: 'text', search: true },
            { name: 'CreateDate', width: 70, customformatter: 'formatDate' },
            { name: 'EditedBy', width: 70 },
            { name: 'EditDate', width: 90, customformatter: 'formatDate' },
            { name: 'Edit/Delete', sortable: false, search: false, width: 70},
        ]
    };

    const bus = new Vue({});

    const EditDeleteLink = Vue.extend({
        template: '<div><a class="pointer" @click="EditRule">Edit</a>&nbsp;|&nbsp;<a class="pointer" @click.stop="DeleteRule" v-show="canEdit">Delete</a></div>',
        methods: {
            EditRule: function (e) {
                window.open("emailsmanagement/EditPDFRule/" + this.rowId)
                e.preventDefault();
            },
            DeleteRule: function (e) {

                //bus.$emit('deleteRule', this.rowId);
                //window.location.href = "emailsmanagement/DeletePDFRule?ruleId=" + this.rowId
                var refThis = this
                bootbox.confirm("Are you sure you want to delete this rule. You can also un-schedule this rule by editing. Do you still want to continue?", function (result) {
                    if (result) {
                        refThis.$http.post('EmailsManagement/DeletePDFRule/', { ruleId: refThis.rowId })
                            .then(response => {
                                window.location.reload()
                            })
                    }
                })


            }

        }
    });

    export default {
        components: {
            Grid
        },
        props: ['canEdit'],
        data() {
            return {
                filters: null,
                grid: grid
            }
        },
        methods: {
            addRule: function () {
                window.open("emailsmanagement/EditPDFRule?Id=0&Mode=Add")
            },
            gridComplete: function () {
                var refThis = this
                //$('span[id^=CellReplace1_]').each(function (i) {
                //    const rowId = $(this).attr('id').replace('CellReplace1_', '');

                //    const link = new EditDeleteLink({
                //        data() {
                //            return {
                //                rowId: rowId,
                //                canEdit: refThis.canEdit
                //            }
                //        }
                //    }).$mount();

                //    this.parentElement.replaceChild(link.$el, this);
                //});

                var grid = $('#' + gridId)
                var ids = grid.jqGrid("getDataIDs");
                for (var i = 0; i < ids.length; i++) {
                    var rowId = ids[i];

                    var link = "<div>"
                    link += "<a href='emailsmanagement/EditPDFRule/" + rowId + "' Target='_new'>Edit</a>"
                    if (this.canEdit) {
                        link += " | <a href='javascript:var r = confirm(\"Are you sure you want to delete this rule. You can also un-schedule this rule by editing. Do you still want to continue?\"); if (r == true){  $.post(\"emailsmanagement/DeletePDFRule?ruleId=" + rowId + "\"); window.location.href=\"emailsmanagement?showPDFRules=true\"}' >Delete</a>"
                        //link += " | <a href='javascript:bootbox.confirm(\"Are you sure you want to delete this rule. You can also un-schedule this rule by editing. Do you still want to continue?\", function (result) { if (result == true){  $.post(\"emailsmanagement/DeletePDFRule?ruleId=" + rowId + "\"); window.location.href=\"emailsmanagement?showPDFRules=true\" }})' >Delete</a>"
                    }
                    link += "</div>"

                    grid.setCell(rowId, 'Edit/Delete', link);
                    var rowData = grid.jqGrid('getRowData', rowId);
                    if (rowData.Scheduled == "False") {
                        grid.jqGrid('setRowData', rowId, false, { color: 'white', weightfont: 'bold', background: 'gray' });
                    }
                }
            },
        },
        created() {
            //const refThis = this;

            //bus.$on('deleteRule', function (rowId) {
            //	refThis.$http.post('EmailsManagement/DeletePDFRule/', { ruleId: rowId})
            //		.then(response => {
            //			$('#' + gridId).trigger('reloadGrid', [{ page: 1 }]);
            //		})
            //});
        },
        mounted: function () {

        }

    }
</script>