﻿<template>
	<div ref="SubmissionRecords">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#Records">
					<i class="indicator fa pull-right fa-chevron-circle-up"></i>
					<h3 class="panel-title">
						<span>{{ titleText || 'Submission Records' }}</span>&nbsp;<small> (Total:{{ this.submissions.length }} records)</small>
						<span v-if="!allowOnlyOneSelection" class="pull-right text-success">(<i>selected:{{ selectedCount }} records</i>)&nbsp;&nbsp;&nbsp;</span>
					</h3>
				</a>
			</div>
			<div class="collapse in" id="Records">
				<div class="panel-body">
					<table id="selection-table" class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th><input v-if="!allowOnlyOneSelection" type="checkbox" @change="clickCheckAll" v-model="checkAll" title="Apply to all records" /></th>
								<th>Status</th>
								<th>ID Number&nbsp;&nbsp;&nbsp;<span v-if="extraInfoToDisplayExists"><a @click="removeExtraInfo" style="cursor:pointer" title="Remove extra displayed information"><i class="fa fa-eraser"></i></a></span></th>
								<th>Version</th>
								<th>Date Code</th>
								<th>Position</th>
								<th>Game Name</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(s, index) in submissions" :key="s.id">
								<td>
									<input v-if="allowOnlyOneSelection" type="radio" name="SubmissionSelections" :value="'true'" v-model="s.selected" @change="clickRadio(index)" />
									<input v-else="!allowOnlyOneSelection" type="checkbox" @change="checkCheckAll" :name="'SubmissionSelections[' + index + '].Id'" :value="s.id" v-model="s.selected" title="Apply to selected records" class="recordselection" />
								</td>
								<td>{{s.status}}</td>
								<td>{{s.idNumber}}&nbsp;<i class="fas fa-check-square" v-if="s.id == currentSelected" title="selected submission on previous page"></i><br /><span class="JurisdictionInfo" v-if="s.extraInfoDisplay != ''"><font class="text-info"><div v-html="s.extraInfoDisplay"></div></font></span></td>
								<td>{{s.version}}</td>
								<td>{{s.dateCode}}</td>
								<td>{{s.position}}</td>
								<td>{{s.gameName}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			allowOnlyOneSelection: {
				type: Boolean
			},
			currentSelected: {
				type: Number
			},
			fileNumber: {
				type: String,
				required: true
			},
			submissions: {
				type: Array,
				required: true
			},
			titleText: {
				type: String
			}
			
		},
		data: function () {
			return {
				checkAll: false
			}
		},
		computed: {
			selectedCount: function () {
				return this.submissions.filter(x => x.selected).length
			},
			extraInfoToDisplayExists: function () {
				return (this.submissions.filter(x => x.extraInfoDisplay).length>0 ? true : false)
			}
		},
		methods: {
			checkCheckAll: function () {
				if (this.submissions.filter(x => x.selected).length == this.submissions.length) {
					this.checkAll = true
				}
				else {
					this.checkAll = false
				}
			},
			clickCheckAll: function () {
				if (this.checkAll) {
					for (var i = 0; i < this.submissions.length; i++) {
						this.submissions[i].selected = true
					}
				}
				else {
					for (var i = 0; i < this.submissions.length; i++) {
						if (this.submissions[i].id != this.currentSelected) {
							this.submissions[i].selected = false
						}
					}
				}
			},
			clickRadio: function (index) {
				for (var i = 0; i < this.submissions.length; i++) {
					if (i == index) {
						this.submissions[i].selected = true
					}
					else {
						this.submissions[i].selected = false
					}
				}
			},
			removeExtraInfo: function () {
				for (var i = 0; i < this.submissions.length; i++) {
					this.submissions[i].extraInfoDisplay = ""
				}
			}

		},
		mounted: function () {
		}
	}
</script>

<style scoped>
	input[type="radio"], input[type="checkbox"] {
		margin: 1px;
		border: none;
		transition: none;
		box-shadow: none;
	}

	#selection-table th {
		padding-top: 3px;
		padding-bottom: 1px;
	}

	#selection-table td {
		padding-top: 3px;
		padding-bottom: 0;
	}

	.panel-body {
		padding-top: 3px;
		padding-bottom: 0;
		font-size: 11px
	}
</style>