﻿<template>
	<div>

		<div class="row row-title">
			<div class="col-sm-8">
				<h3>Letter/Document Search <small>{{ vm.currentSubmissionInfo.fileNumber }}</small></h3>
				<div class="submission-subtitle">
					<span title="ID Number">{{ vm.currentSubmissionInfo.idNumber }}</span>
					<span title="Version">{{ vm.currentSubmissionInfo.version }}</span>
					<span title="Game Name">{{ vm.currentSubmissionInfo.gameName }}</span>
					<span title="Jurisdiction">{{ vm.currentSubmissionInfo.jurisdictionName }} ({{ vm.currentSubmissionInfo.jurisdictionId }})</span>
				</div>
			</div>
			<div class="col-sm-4 form-buttons">
				<a href="#" class="btn btn-sm btn-primary" onclick="window.close()">Cancel</a>&nbsp;&nbsp;
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
						<span>Search</span>
				</h3>
			</div>
			<div class="panel-body">
				<form class="form-group form-group-sm">
				
						<div class="col-sm-2">
							<div class="form-group form-group-sm">
								<label class="control-label">File Number</label>
								<div>
									<Lookup id="FileNumber" name="FileNumber" :lookuptextfield="vm.search.fileNumber" lookupajax="FileNumber" v-model="vm.search.fileNumber" title="FileNumber"></Lookup>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group form-group-sm">
								<label class="control-label">Manufacturer</label>
								<div>
									<Lookup id="Manufacturer" name="Manufacturer" :lookuptextfield="vm.search.manufacturer" lookupajax="Manufacturers" templatename="formatManufacturers" v-model="vm.search.manufacturer" title="Manufacturer"></Lookup>
								</div>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group form-group-sm">
								<label class="control-label">ID Number</label>
								<div>
									<input name="IdNumber" id="IdNumber" type="text" v-model="vm.search.idNumber" class="form-control" placeholder="Id Number" />
								</div>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group form-group-sm">
								<label class="control-label">Version</label>
								<div>
									<input name="Version" id="Version" type="text" v-model="vm.search.version" class="form-control" placeholder="Version" />
								</div>
							</div>
						</div>
						<div class="col-sm-3 text-left">
							&nbsp;<br /><button type="button" class="btn btn-default" @click="searchLetters"><i class='fas fa-search' aria-hidden='true'></i>&nbsp;Search</button>
						</div>
				</form>
			</div>
		</div>
		<br />
		<!---Search Results-->
		<vue-good-table :columns="columns"
						:rows="vm.searchResults"
						:pagination-options="{ enabled: false, perPage: 20}"
						:search-options="{ enabled: true}"
						styleClass="vgt-table condensed">
			<template slot="table-row" slot-scope="props">
				<div v-if="props.column.field == 'select'" class="text-center">
					<button class="btn" @click="selectPDF(props.row.gpsPdfPath,props.row.pdfPath,props.row.draftId)">Select</button>
				</div>
				<div v-if="props.column.field == 'viewPDF'" class="text-center">
					<span v-if="props.row.gpsPdfPath != ''" style="font-weight:bold; color:red;">
						<a href="#" @click="openPDF(props.row.gpsPdfPath)" style="color:indianred"><i class='far fa-file-pdf thumbnail big-icon'></i></a>
					</span>
					<span v-else>
						<a href="#" @click="openPDF(props.row.pdfPath)" style="color:indianred"><i class='far fa-file-pdf thumbnail big-icon'></i></a>
					</span>
				</div>
				<div v-else style="font-size:smaller">
					{{props.formattedRow[props.column.field]}}
				</div>

			</template>
		</vue-good-table>
		</div>
</template>
<style scoped>
	.PanelHeaderLike {
		background-color: #daecf5;
		color: navy;
	}
</style>
<script>

	import Vue from 'vue';
	import Lookup from '@/components/utility/Lookup.vue'
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css'

	export default {
		components: {
			Lookup,
			VueGoodTable
		},
		props: {

		},
		data() {
			return {
				vm: initialData,
				columns: [
					{
						label: 'File Number',
						field: 'fileNumber',
					},
					{
						label: 'Jurisdiction',
						field: 'jurisdictionName',
					},
					{
						label: 'ID Number',
						field: 'idNumber',
					},
					{
						label: 'Game Name',
						field: 'gameName',
					},
					{
						label: 'Status',
						field: 'status',
					},
					{
						label: 'View PDF',
						field: 'viewPDF',
					   /// formatFn: this.formatViewPDFCol
					},
					{
						label: 'Select',
						field: 'select',
					   // formatFn: this.formatSelectCol
					}
				],
				rows: [

					{ id: 2, name: "Jane", age: 24, createdAt: '2011-10-31', score: 0.03343 },

				],
			}
		},
		created: function () {
			DoneLoading()
		},
		computed: {

		},
		validations() {
			return {

			}
		},
		methods: {
			openPDF: function (filePath) {
				window.open(filePath)
			},
			selectPDF: function (gpsPath, webPath, newDraftId) {
				if (this.vm.linkOption == "Certification") {
					var primary = this.vm.jurisdictionDataId

					if (window.opener.location.href.indexOf("submission/jurisdictionaldata/edit") > 0) { //temp if we need to support from both classic asp and MVc
						window.opener.setPDFPath(primary, webPath, gpsPath)
						window.close();
					}
					else {// for classic asp
						window.opener.document.forms[0].elements("changed." + primary).value = "1";
						window.opener.document.forms[0].elements("JurisdictionPDF." + primary).value = webPath;
						window.opener.document.forms[0].elements("JurisdictionPDF." + primary).focus();
						window.opener.document.forms[0].elements("JurisdictionGPSPDF." + primary).value = gpsPath;
						window.opener.document.forms[0].elements("JurisdictionGPSPDF." + primary).focus();
						window.close();
					}
				}
				else if (this.vm.linkOption == "Draft") {
					var docId = this.vm.draftId

					var selDraft = this.vm.searchResults.filter(x => x.draftId == newDraftId)

					window.opener.document.forms[0].elements("documentID." + docId).value = newDraftId
					window.opener.document.forms[0].elements("FilePath." + docId).value = webPath
					window.opener.document.forms[0].elements("GPSPath." + docId).value = gpsPath
					window.opener.document.forms[0].elements("Hyperlinked." + docId).value = "1";
					window.opener.document.forms[0].elements("WordFilepath." + docId).value = selDraft[0].wordFilePath
					window.opener.document.forms[0].elements("LetterheadPath." + docId).value = selDraft[0].letterheadPath
					window.opener.document.forms[0].elements("AddendumPath." + docId).value = selDraft[0].addendumPath
					window.opener.document.forms[0].elements("LetterheadPathAddendum." + docId).value = selDraft[0].letterheadPathAddendum
					window.opener.document.forms[0].elements("UseLetterhead." + docId).value = selDraft[0].useLetterhead
					window.opener.document.forms[0].elements("UseLetterheadAddendum." + docId).value = selDraft[0].useLetterheadAddendum
					window.opener.document.forms[0].elements("RepeatOverlay." + docId).value = selDraft[0].repeatOverlay
					window.opener.document.forms[0].elements("RepeatOverlayAddendum." + docId).value = selDraft[0].repeatOverlayAddendum
					window.opener.document.forms[0].elements("LetterheadSHA1." + docId).value = selDraft[0].letterheadSHA1
					window.opener.document.forms[0].elements("LetterheadAddendumSHA1." + docId).value = selDraft[0].letterheadAddendumSHA1
					window.opener.document.forms[0].elements("AttachCorrectionAddendum." + docId).value = selDraft[0].attachCorrectionAddendum
					window.close();
				}
			},
			searchLetters: function () {

				//Make sure search criteria is filled
				var isOk = false
				if (!Em(this.vm.search.idNumber)) {
					//check if Manuf and file selected
					alert(this.vm.search.fileNumber)
					if (!Em(this.vm.search.fileNumber) || !Em(this.vm.search.manufacturer)) {
						isOk = true
					}
					else {
						alert("Please select FileNumber/Manufacturer.")
					}
				}
				else if (!Em(this.vm.search.version)) {
					//check if Manuf and file selected
					if (!Em(this.vm.search.fileNumber) || !Em(this.vm.search.manufacturer)) {
						isOk = true
					} else {
						alert("Please select FileNumber/Manufacturer.")
					}
				}
				else if (Em(this.vm.search.fileNumber)) {
					alert("Please select FileNumber.")
				}
				else {
					isOk = true
				}
				if (isOk == true) {
					Loading()
					var refThis = this
					var url = "Submission/JurisdictionLinkLetter/SearchLetters?jurisdictionSearchStr=" + JSON.stringify(this.vm.search) + "&linkOption=" + this.vm.linkOption + "&q=" + Math.random()
					// this.$http.get(url, { cache: false }).then(function (response) {
					this.$http.get(url).then(function (response) {
						Vue.set(refThis.vm, "searchResults", response.data)
						DoneLoading()

					}, function (error) {
						console.log(error.statusText);
						DoneLoading()
					});
				}
			}
		},
		mounted: function () {

		},
		watch: {

		}
	}
</script>