﻿<template>
	<div>
		<Navigation></Navigation>
		<div class="container">
			<div class="row">
				<keep-alive>
					<component v-bind:is="modeComponent"></component>
				</keep-alive>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters, mapActions } = createNamespacedHelpers('clauseTemplateManagement');

	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	import AddTemplate from '@/components/tools/clausetemplatemanagement/modification/Add.vue';
	import EditTemplate from '@/components/tools/clausetemplatemanagement/modification/EditMode.vue';
	import ListTemplates from '@/components/tools/clausetemplatemanagement/content/List.vue';
	import Navigation from '@/components/tools/clausetemplatemanagement/navigation/Navigation.vue';

	export default {
		components: {
			AddTemplate,
			EditTemplate,
			ListTemplates,
			Navigation
		},
		data() {
			return {
			}
		},
		computed: {
			modeComponent: function () {
				if (this.isEditMode)
					return "EditTemplate";
				else if (this.isAddMode)
					return "AddTemplate";
				else
					return "ListTemplates";
			},
			...mapGetters([
				'mode',
				'isListMode',
				'isAddMode',
				'isEditMode',
				'savingTemplate',
				'clauses',
				'modifiedClauses'

			])
		},
		mounted: function () {

		},
		methods: {
			cancelAdd: function () {
				this.resetSelections();
				this.setListMode();
			},
			allExplanationsEmpty: function () {
				let nonBlank = this.clauses.find(clause => (isNotNull(clause.template.failExplanation) && clause.template.failExplanation.length > 0) ||
					(isNotNull(clause.template.passExplanation) && clause.template.passExplanation.length > 0) ||
					(isNotNull(clause.template.naExplanation) && clause.template.naExplanation.length > 0) ||
					(isNotNull(clause.template.naStarExplanation) && clause.template.naStarExplanation.length > 0));
				return isNull(nonBlank);
			},

			saveTemplate: function () {
				this.setValidationMessage("");
				this.setExceptionMessage("");
				if (this.allExplanationsEmpty()) {
					this.setValidationMessage("You need to fill in at least 1 explanation!");
					return;
				}
				else if (this.modifiedClauses.length === 0) {
					this.setValidationMessage("No explanations have been modified.");
					return;
				}
				this.setSavingTemplate(true);
				this.$nextTick(function () {
					this.saveNewTemplate()
						.then(response => {
							this.loadApplicableTemplates();
						})
						.catch(e => {
							this.setExceptionMessage(e);
						})
						.finally(x => {
							this.setSavingTemplate(false);

						});
				});
			},
			updateThisTemplate: function () {
				this.setValidationMessage("");
				this.setExceptionMessage("");
				if (this.allExplanationsEmpty()) {
					this.setValidationMessage("You need to fill in at least 1 explanation!");
					return;
				}
				else if (this.modifiedClauses.length === 0) {
					this.setValidationMessage("No explanations have been modified.");
					return;
				}

				this.setSavingTemplate(true);
				this.updateTemplate()
					.then(response => {
						this.loadClauses();
					})
					.catch(e => {
						this.setExceptionMessage(e);
					})
					.finally(x => {
						this.setSavingTemplate(false);
					});
			},
			checkBeforeExit: function (e) {
				if (isNull(this.modifiedClauses) || this.modifiedClauses.length === 0) {
					return undefined;
				}

				let confirmationMessage = "You have unsaved changes. If you leave before saving, your changes will be lost.";
				(e || window.event).returnValue = confirmationMessage; //Gecko + IE
				return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
			},
			...mapActions([
				'setAddMode',
				'setValidationMessage',
				'setExceptionMessage',
				'setListMode',
				'setSavingTemplate',
				'loadClauses',
				'resetSelections',
				'saveNewTemplate',
				'loadApplicableTemplates',
				'setEditMode',
				'setJurisdictions',
				'setManufacturers',
				'updateTemplate'
			])
		},
		watch: {
		},
		created: function () {
			console.log('41');

			this.setJurisdictions();
			this.setManufacturers();
			window.addEventListener('beforeunload', this.checkBeforeExit);

		}
	}
</script>
<style scoped>
	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}
</style>
