﻿@model Submissions.Web.Areas.Submission.Models.ReplaceWith.ReplaceWithHistory
@{
	ViewBag.Title = "Replacement History";
	var firstHistory= Model.ReplaceWithHistoryItems.FirstOrDefault();
}
	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<button class="btn btn-primary btn-sm" id="CancelBtn" onclick="window.close();">Close</button> &nbsp;
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Replacement History</h3>
		</div>
		<div class="panel-body">
			<table id="replacewith-table" class="table table-condensed table-striped table-hover table-partialview">
				<thead>
					<tr>
						<th>@Html.DisplayNameFor(m => firstHistory.ActionBy)</th>
						<th>@Html.DisplayNameFor(m => firstHistory.Action)</th>
						<th>@Html.DisplayNameFor(m => firstHistory.ChangeDate)</th>
						<th>@Html.DisplayNameFor(m => firstHistory.FileNumber)</th>
						<th>@Html.DisplayNameFor(m => firstHistory.IdNumber)</th>
						<th>@Html.DisplayNameFor(m => firstHistory.DateCode)</th>
						<th>@Html.DisplayNameFor(m => firstHistory.Version)</th>
						<th>@Html.DisplayNameFor(m => firstHistory.Jurisdiction)</th>
						<th>@Html.DisplayNameFor(m => firstHistory.RevokedDate)</th>
						<th>@Html.DisplayNameFor(m => firstHistory.ObsoleteDate)</th>
						<th>@Html.DisplayNameFor(m => firstHistory.UpgradeByDate)</th>
						<th>@Html.DisplayNameFor(m => firstHistory.ApprovedDate)</th>
					</tr>
				</thead>
				<tbody>
				
					@foreach (var s in Model.ReplaceWithHistoryItems)
					{

					<tr>
						<td>@s.ActionBy</td>
						<td>@s.Action</td>
						<td>@s.ChangeDate</td>
						<td>
							@s.FileNumber&nbsp;&nbsp;	
							@if (s.JurisdictionalDataId == Model.currentSelected)
							{
								<i class="fas fa-check-square" title="Item You are currently viewing"></i>
							}
						</td>
						<td>@s.IdNumber</td>
						<td>@s.DateCode</td>
						<td>@s.Version</td>
						<td>@s.Jurisdiction</td>
						<td>@s.RevokedDate.ToString("d")</td>
						<td>@s.ObsoleteDate.ToString("d")</td>
						<td>@s.UpgradeByDate.ToString("d")</td>
						<td>@s.ApprovedDate.ToString("d")</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

