﻿@model Submissions.Web.Areas.Acumatica.Models.BillwithAndCustomerEvaluatorIndexViewModel
@{
	ViewBag.Title = "BWAC Eval";
	Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}
<div class="row">
	<div class="col-sm-6">
		<h1>Bill-with and Customer Evaluator</h1>
	</div>
	<div class="col-sm-6">
		<div class="btn-group pull-right">
			@Html.ActionLink("Exit", "Index", "Dashboard", null, new { @Class = "btn btn-primary" })
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="btn-group">
			<button class="btn btn-primary" id="evaluate">Evaluate</button>
			<button class="btn btn-danger" id="clear">Clear</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="row col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Seed Values</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.BWACModule.OwningCompany, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.BWACModule.OwningCompany, m => m.BWACModule.OwningCompany, LookupAjax.Companies, true, new { id = "owningCompany" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.BWACModule.PerformingCompany, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.BWACModule.PerformingCompany, m => m.BWACModule.PerformingCompany, LookupAjax.Companies, true, new { id = "performingCompany" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.BWACModule.ContractType, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.BWACModule.ContractType, m => m.BWACModule.ContractType, LookupAjax.ContractTypes, true, new { id = "contractType" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.BWACModule.SubmissionType, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.BWACModule.SubmissionType, m => m.BWACModule.SubmissionType, LookupAjax.SubmissionTypes, true, new { id = "submissionType" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.BWACModule.Jurisdiction, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.BWACModule.Jurisdiction, m => m.BWACModule.Jurisdiction, LookupAjax.Jurisdictions, true, new { id = "primaryJurisdiction" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.BWACModule.ManufacturerCode, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.BWACModule.ManufacturerCode, m => m.BWACModule.ManufacturerCode, LookupAjax.Manufacturers, true, new { id = "manufacturer" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.BWACModule.Year, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-6">
							@Html.TextBoxFor(m => m.BWACModule.Year, new { id = "year" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.BWACModule.Sequence, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-6">
							@Html.TextBoxFor(m => m.BWACModule.Sequence, new { id = "sequence" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.BWACModule.TransferJurisdiction, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-6">
							@Html.LookupFor(m => m.BWACModule.TransferJurisdiction, m => m.BWACModule.TransferJurisdiction, LookupAjax.Jurisdictions, true, new { id = "transferJurisdiction" })
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Result</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						<label class="col-sm-3 control-label">Billwith:</label>
						<div class="col-sm-6">
							<span id="billWith"></span>
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label class="col-sm-3 control-label">Project Customer:</label>
						<div class="col-sm-6">
							<span id="projectCustomer"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script>
		$(document).ready(function() {
			DoneLoading();
		});

		$('#evaluate').on('click', function (e) {
			e.preventDefault();
			var BWACModuleDTO = buildBWACPayload();

			if(validBWACModuleDTO(BWACModuleDTO)) {
				$.ajax({
					url: '@Url.Action("GetEvaluatedBWACModuleResult")',
					type: 'POST',
					dataType: 'json',
					data: JSON.stringify(BWACModuleDTO),
					contentType: 'application/json; charset=utf-8'
				})
					.done(function (data) {
						setBWACEvaluationResult(data.billWith, data.projectCustomer);
					});
			}
			else {
				bootbox.alert("All fields are required except for the TransferJurisdiction field. Please fill out the missing fields and try again.");
			}
		});

		$('#clear').on('click', function (e) {
			e.preventDefault();
			clear();
		});

		function buildBWACPayload() {
			var BWACModuleDTO = {
				manufacturerCode: $('#manufacturer').val(),
				performingCompanyId: $('#performingCompany').val(),
				owningCompanyId: $('#owningCompany').val(),
				contractType: $('#contractType').text().split('-')[0].trim(),
				submissionType: $('#submissionType').text().split('-')[0].trim(),
				jurisdiction: $('#primaryJurisdiction').val(),
				year: $('#year').val(),
				sequence: $('#sequence').val(),
				transferJurisdiction: $('#transferJurisdiction').val()
			};

			return BWACModuleDTO;
		}
		function setBWACEvaluationResult(billwith, projectCustomer) {
			$('#billWith').text(billwith);
			$('#projectCustomer').text(projectCustomer);
		}
		function clear() {
			clearSeeds();
			setBWACEvaluationResult('', '');
		}
		function clearSeeds() {
			$('#manufacturer').val(null).trigger('change');
			$('#performingCompany').val(null).trigger('change');
			$('#owningCompany').val(null).trigger('change');
			$('#contractType').val(null).trigger('change');
			$('#submissionType').val(null).trigger('change');
			$('#primaryJurisdiction').val(null).trigger('change');
			$('#year').val(null);
			$('#sequence').val(null);
			$('#transferJurisdiction').val(null).trigger('change');
		}

		function validBWACModuleDTO(BWACModuleDTO) {

			var result = !!BWACModuleDTO.manufacturerCode &&
				!!BWACModuleDTO.contractType &&
				!!BWACModuleDTO.owningCompanyId &&
				!!BWACModuleDTO.performingCompanyId &&
				!!BWACModuleDTO.submissionType &&
				!!BWACModuleDTO.jurisdiction &&
				!!BWACModuleDTO.manufacturerCode &&
				!!BWACModuleDTO.year &&
				!!BWACModuleDTO.sequence;

			return result;
		}
	</script>
}
