<template>
	<div class="gli-base-field-labels">
		<BaseDynamicTag :tagType="titleTag" :content="title" />
		<h5>{{ helpText }}</h5>
		<!-- @slot Place the form control these labels are describing as the component's content -->
		<slot></slot>
	</div>
</template>

<script>
	/**
	 * A component providing a standard style for rendering the title and helpText for a form field.
	 */
	export default {
		props: {
			/**
			 * The title of the form field (ex. "Example Field")
			 */
			title: {
				type: String,
				required: true
			},
			/**
			 * The help text for the form field (ex. "The text used for the example process")
			 */
			helpText: {
				type: String,
				required: false,
				default: ""
			},
			/*
			 *
			 */
			titleTag: {
				type: String,
				required: false,
				default: "h4"
			}
		},
		components: {
		}
	};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	.gli-base-field-labels:not(:first-of-type) {
		margin-top: Spacing.$double;
	}

	h5 {
		color: Colors.$grayDark;
		line-height: 1.35em;
	}
</style>