﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-9">
				<h3>Replacement Tracking <span v-show="vm.linkMode == 'Draft'"><small>(<font v-show="vm.linkMode == 'Draft'">Drafts</font><font v-show="vm.linkEditableMode == 'ReadOnly'"> links</font>)</small></span></h3>
			</div>
			<div class="col-sm-3 form-buttons">
				<!--<span class="text-info h3" v-if="Processing"><i class="fas fa-spinner fa-spin" style="color:green"></i>&nbsp;Saving.....</span>-->
				<a class="btn btn-primary btn-sm" href="#" v-if="vm.linkEditableMode == 'Update'" @click="removeLinks" title="Delete selected items">Delete</a>
				<a class="btn btn-primary btn-sm" href="#" v-if="vm.linkEditableMode == 'Update'" @click="saveLinks" title="Save selected items">Save</a>
				<a href="#" class="btn btn-sm btn-primary" onclick="window.close()">Cancel</a>
			</div>
		</div>
		<!--error/warnings -->
		<div class="alert alert-danger" role="alert" v-if="errorMsg != ''">
			<strong>Error! </strong> {{errorMsg}}<font class="pull-right"><a href="#" @click="unSetErrorMsg()"><i class="fas fa-times"></i></a></font>
		</div>

		<!--Jurisdiction selection -->
		<div class="panel panel-default panel">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#Records">
					<i class="indicator fa pull-right fa-chevron-circle-up "></i>
					<h3 class="panel-title">
						Replace with Software <font v-show="vm.linkMode == 'Draft'">included in draft</font>
					</h3>
				</a>
			</div>
			<div class="collapse in" id="Records">
				<div class="panel-body">
					<div class="row">
						<table class="table table-sm table-condensed">
							<thead>
								<tr>
									<th scope="col">&nbsp;</th>
									<th scope="col">File Number</th>
									<th scope="col">ID Number</th>
									<th scope="col">Version</th>
									<th scope="col">Date Code</th>
									<th scope="col">Game Name</th>
									<th scope="col">Jurisdiction</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(jurisdiction, index) in vm.jurisdictionSelection" @click="selectRow(index)" v-bind:class="{'selectedRow' : ( vm.jurisdictionSelection[index].selected) }">
									<td><a href="#" title="View Replacement links"><font v-if="jurisdiction.selected"><i class="far fa-list-alt" style="color:rebeccapurple"></i></font><font v-else><i class="far fa-list-alt"></i></font></a></td>
									<td>{{ jurisdiction.fileNumber }} <span v-if="jurisdiction.id == vm.jurisdictionDataId"><i class="fas fa-reply" title="This is the jurisdiction you have open in the previous edit screen."></i></span></td>
									<td>{{ jurisdiction.idNumber }}</td>
									<td>{{ jurisdiction.version }}</td>
									<td>{{ jurisdiction.dateCode }}</td>
									<td>{{ jurisdiction.gameName }}</td>
									<td>{{ jurisdiction.jurisdictionName }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!--Apply to Extra jurisdictions-->
		<div class="panel panel-default"  v-if="vm.linkEditableMode == 'Update'">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#Jurs">
					<i class="indicator fa pull-right fa-chevron-circle-up "></i>
				</a>
				<h3 class="panel-title">Apply Changes to Additional Jurisdictions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="small">[<a href="#" @click="selectAllJurs()">Select All Available</a>]</font>&nbsp;&nbsp;&nbsp;&nbsp;<font class="pull-right">(Additional Selected : {{vm.applyReplaceLinksToJurisdictions.length}})&nbsp;&nbsp;&nbsp;</font>&nbsp;&nbsp;</h3>
			</div>
			<div class="collapse in" id="Jurs">
				<div class="panel-body">
					<div class="form-group form-group-sm">
						<SelectStandardMultiple id="JurIds" name="JurIds" :options="vm.applyReplaceLinksOptions" v-model="vm.applyReplaceLinksToJurisdictions" :value="vm.applyReplaceLinksToJurisdictions"></SelectStandardMultiple>

						<!--<LookupMultiple id="JurIds" name="JurIds" lookupajax="Jurisdictions" templatename="formatJurisdictions" data-lookupstandard="true" v-model="vm.applyReplaceLinksToJurisdictions" :options="vm.applyReplaceLinksToJurisdictionsNames" />-->
					</div>
				</div>
			</div>
		</div>


		<!--Replacement Information-->
		<div class="panel panel-default panel" id="linkResults">
			<div class="panel-heading">
				<h3 class="panel-title">
					RV/NU Items<span class="pull-right"  v-if="vm.linkEditableMode == 'Update'">[<a :href="vm.jiraFullTextSearchURL" target="_blank">Jira Issues</a>]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<A href="#" @click="searchNewItems">Search for new items</A>]&nbsp;&nbsp;</span>
				</h3>
			</div>
			<div class="collapse in">
				<div class="panel-body">

					<table class="table table-sm form-group form-group-sm small" style="padding-right:0px">
						<thead>
							<tr>
								<th><input type="checkbox" id="checkAllJur" @click="checkAllJurs()" title="Select All to update" /><br /><span v-show="vm.linkEditableMode == 'Update'">&nbsp;</span></th>
								<th>File Number<br /><span v-show="vm.linkEditableMode == 'Update'">&nbsp;</span></th>
								<th>ID Number<br /><span v-show="vm.linkEditableMode == 'Update'">&nbsp;</span></th>
								<th>Version<br /><span v-show="vm.linkEditableMode == 'Update'">&nbsp;</span></th>
								<th>Game Name<br /><span v-show="vm.linkEditableMode == 'Update'">&nbsp;</span></th>
								<th>Jurisdiction<br /><span v-show="vm.linkEditableMode == 'Update'">&nbsp;</span></th>
								<th>Close Date<br /><span v-show="vm.linkEditableMode == 'Update'">&nbsp;</span></th>
								<th>
									Status&nbsp;<a href="#" v-show="vm.linkEditableMode == 'Update'" @click="UpdateAll('status')" title="Update selected items"><i class="far fa-clone"></i></a><br />
									<SelectStandard v-if="vm.linkEditableMode == 'Update'" id="Status" name="Status" :options="vm.jurisdictionLetterTypes" v-model="updateAll.status" title="Status"></SelectStandard>
								</th>
								<th nowrap>
									RV Date&nbsp;<a href="#" v-show="vm.linkEditableMode == 'Update'" @click="UpdateAll('revokedDate')" title="Update selected items"><i class="far fa-clone"></i></a><br />
									<DatePicker v-show="vm.linkEditableMode == 'Update'" name="RevokedDateAll" id="RevokedDateAll" v-model="updateAll.revokedDate" placeholder="Revoked Date"></DatePicker>
								</th>
								<th>
									NU Date&nbsp;<a href="#" v-show="vm.linkEditableMode == 'Update'" @click="UpdateAll('nuDate')" title="Update selected items"><i class="far fa-clone"></i></a><br />
									<DatePicker v-show="vm.linkEditableMode == 'Update'" name="nuDateAll" id="nuDateAll" v-model="updateAll.nuDate" placeholder="NU Date"></DatePicker>
								</th>
								<th>
									Upgrade By&nbsp;<a v-show="vm.linkEditableMode == 'Update'" href="#" @click="UpdateAll('upgradeByDate')" title="Update selected items"><i class="far fa-clone"></i></a>&nbsp;<a href="#" @click="setShowUpgradeBy(true)"><i class="far fa-calendar-alt"></i></a><br />
									<DatePicker v-show="vm.linkEditableMode == 'Update'" name="upgradeByAll" id="upgradeByAll" v-model="updateAll.upgradeByDate" placeholder="UpgradeBy Date"></DatePicker>
								</th>
								<th nowrap>
									Replace With&nbsp;<a v-show="vm.linkEditableMode == 'Update'" href="#" @click="UpdateAll('replaceWith')" title="Update selected items"><i class="far fa-clone"></i></a><br />
									<input v-show="vm.linkEditableMode == 'Update'" name="ReplaceWith" id="ReplaceWith" type="text" v-model="updateAll.replaceWith" class="form-control" placeholder="Replace With" />
								</th>
								<th>
									Conditional Revoke?&nbsp;<a v-show="vm.linkEditableMode == 'Update'" href="#" @click="UpdateAll('conditionalRevoke')" title="Update selected items"><i class="far fa-clone"></i></a><br />
									<input v-show="vm.linkEditableMode == 'Update'" type="checkbox" v-model="updateAll.conditionalRevoke" />
								</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(replaceWith, index) in vm.selJurisdictionReplaceLinks.replaceLinks" v-bind:class="{'alreadyNURV' : (isAlreadyNURV(index)), 'notNURV' : (!isAlreadyNURV(index)) }">
								<td width="5px" class="padr0">
									<input type="checkbox" v-model="replaceWith.selected" :value="replaceWith.replaceWithId" />&nbsp;
								</td>
								<td width="100px" class="padr0" nowrap>
									<span class=field-validation-error v-show="(replaceWith.warningMsgs.length > 0)" :title="replaceWith.warningMsgs[0]"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></span>
									{{ replaceWith.jurisdiction.fileNumber }}
								</td>
								<td width="130px" class="padr0">{{ replaceWith.jurisdiction.idNumber }}</td>
								<td width="100px" class="padr0">{{ replaceWith.jurisdiction.version }}</td>
								<td width="150px" class="padr0">{{ replaceWith.jurisdiction.gameName }}</td>
								<td width="100px" class="padr0">{{ replaceWith.jurisdiction.jurisdictionName }}</td>
								<td width="110px" class="padr0">{{ replaceWith.jurisdiction.closeDate  | formatDate }}</td>
								<td width="100px" class="padr0">
									<span v-if="replaceWith.jurisdiction.status == 'RJ' || replaceWith.jurisdiction.status == 'WD'"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></span>
									<SelectStandard v-if="vm.linkEditableMode == 'Update' && replaceWith.jurisdiction.status != 'RJ' && replaceWith.jurisdiction.status != 'WD'" id="Status" name="Status" :value="replaceWith.jurisdiction.status" :options="vm.jurisdictionLetterTypes" v-model="replaceWith.jurisdiction.status" title="Status"></SelectStandard>
									<span v-else>{{replaceWith.jurisdiction.status}}</span>
								</td>
								<td width="110px" class="padr0">

									<DatePicker v-if="vm.linkEditableMode == 'Update'" id="RevokedDate" name="RevokedDate" v-model="replaceWith.jurisdiction.revokedDate" placeholder="Revoked Date"></DatePicker>
									<span v-else>{{replaceWith.jurisdiction.revokedDate | formatDate}}</span>
									<!--<font v-bind:class="{'errorField' : $v.vm.selJurisdictionReplaceLinks.replaceLinks.$each[index].jurisdiction.revokedDate.$invalid }">*</font>-->
								</td>
								<td width="120px" class="padr0" nowrap>
									<DatePicker v-if="vm.linkEditableMode == 'Update'" id="nuDate" name="nuDate" v-model="replaceWith.jurisdiction.nuDate" placeholder="NU Date"></DatePicker>
									<span v-else>{{replaceWith.jurisdiction.nuDate | formatDate}}</span>
									<!--<font v-bind:class="{'errorField' : $v.vm.selJurisdictionReplaceLinks.replaceLinks.$each[index].jurisdiction.nuDate.$invalid }">*</font>-->
								</td>
								<td width="110px" class="padr0">
									<DatePicker v-if="vm.linkEditableMode == 'Update'" id="UpgradeByDate" name="UpgradeByDate" v-model="replaceWith.jurisdiction.upgradeByDate" placeholder="UpgradeBy Date"></DatePicker>
									<span v-else>{{replaceWith.jurisdiction.upgradeByDate | formatDate}}</span>
								</td>
								<td width="110px" class="padr0">
									<input v-if="vm.linkEditableMode == 'Update'" name="ReplaceWith" id="ReplaceWith" type="text" v-model="replaceWith.jurisdiction.replaceWith" class="form-control" placeholder="Replace With" />
									<span v-else>{{replaceWith.jurisdiction.replaceWith}}</span>
								</td>
								<td width="50" class="padr0">
									<input type="checkbox" :disabled="vm.linkEditableMode != 'Update'" v-model="replaceWith.jurisdiction.conditionalRevoke" />
								</td>
							</tr>
							<tr v-if="vm.selJurisdictionReplaceLinks.replaceLinks.length == 0">
								<td colspan="5"><font class="text-warning">No Items currently linked for selected Jurisdiction.</font></td>
							</tr>
						</tbody>
					</table>

					<div class="row">
						<div class="col-xs-3">
							<span class="legendBox notNURV"></span><font class="text-info"><b><i>Need To Be Updated to RV/NU</i></b></font>
						</div>
						<div class="col-xs-4">
							<span class="legendBox alreadyNURV"></span><font class="text-info"><b><i>Already Set to RV/NU (Includes Inherited RV/NU items)</i></b></font>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--Jurisdiction Search to Link-->
		<JurisdictionSearch :showSearchModal="showSearch" :searchVM="vm.jurisdictionReplaceSearch" :jurisdictionalDataId="currentSelectedId" :applyToJurs="vm.applyReplaceLinksToJurisdictions" @reSetSearchModal="setShowSearch" @reloadCurrentReplacementLinks="reloadLinks"></JurisdictionSearch>

		<UpgradeByCalculator :showUpgrade="showUpgrade" @reSetShowUpgradeModal="setShowUpgradeBy" @updateData="setCalculatedUpgradeBy"></UpgradeByCalculator>
	</div>
</template>
<style scoped>
	.selectedRow {
		background-color: silver;
		font-weight : bold
	}

	.errorField {
	   color: red
	}

	.alreadyNURV {
		background-color:  ghostwhite;
	}

	.notNURV {
		background-color: antiquewhite ;
	}

	.legendBox {
		float: left;
		width: 10px;
		height: 10px;
		margin: 5px;
		border: 1px solid rgba(0, 0, 0, .2);
	}

</style>
<script>

	import DatePicker from '@/components/utility/DatePicker.vue'
	import JurisdictionSearch from '@/components/submission/jurisdictionreplacelink/JurisdictionSearch.vue'
	import Lookup from '@/components/utility/Lookup.vue'
	import LookupMultiple from '@/components/utility/LookupMultiple.vue'
	import SelectStandard from '@/components/utility/SelectStandard.vue'
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue'
	import UpgradeByCalculator from '@/components/submission/jurisdictionaldata/UpgradeByDateCalculator.vue'

	import { required, requiredIf } from 'vuelidate/lib/validators'
	import Vue from 'vue';

	export default {
		components: {
			DatePicker,
			JurisdictionSearch,
			Lookup,
			LookupMultiple,
			SelectStandard,
			SelectStandardMultiple,
			UpgradeByCalculator
		},
		props: {

		},
		data() {
			return {
				vm: initialData,
				errorMsg : "",
				showSearch: false,
				showUpgrade: false,
				currentSelectedId: null,
				updateAll: { status: null, revokedDate : null, nuDate: null, upgradeByDate: null, replaceWith: null, conditionalRevoke: false }
			}
		},
		created: function () {
			DoneLoading()
		},
		computed: {

		},
		validations() {
			return {
				//vm: {
				//    selJurisdictionReplaceLinks: {
				//        replaceLinks: {
				//            $each: {
				//                jurisdiction: {
				//                    revokedDate: {
				//                        required: requiredIf(function () {
				//                            return (status == "RV")
				//                        })
				//                    },
				//                    nuDate: {
				//                        required: requiredIf(function () {
				//                            return (status == "NU")
				//                        })
				//                    }

				//                }

				//            }
				//        }
				//    }
				//}
			}
		},
		methods: {
			checkAllJurs: function () {
				var refThis = this
				if ($('#checkAllJur').prop("checked") == true) {
					for (var i = 0; i < this.vm.selJurisdictionReplaceLinks.replaceLinks.length; i++) {
						Vue.set(refThis.vm.selJurisdictionReplaceLinks.replaceLinks[i], "selected", true)
					}
				} else {
					for (var i = 0; i < this.vm.selJurisdictionReplaceLinks.replaceLinks.length; i++) {
						Vue.set(refThis.vm.selJurisdictionReplaceLinks.replaceLinks[i], "selected", false)
					}
				}
			},
			isAlreadyNURV: function (index) {
				if (this.vm.selJurisdictionReplaceLinks.replaceLinks[index].jurisdiction.status == "NU" || this.vm.selJurisdictionReplaceLinks.replaceLinks[index].jurisdiction.status == "RV" || this.vm.selJurisdictionReplaceLinks.replaceLinks[index].jurisdiction.status == "MO") {
					return true
				}
				else {
					 return false
				}
			},
			getLinkedInformation(jurisdictionDataId) {
				Loading();
				$('#checkAllJur').prop('checked', false);
				var refThis = this

				var url = "Submission/JurisdictionReplaceLink/GetJurReplacements?jurisdictionDataId=" + jurisdictionDataId + "&q=" + Math.random()
			   // this.$http.get(url, { cache: false }).then(function (response) {
				this.$http.get(url).then(function (response) {
					 Vue.set(refThis.vm.selJurisdictionReplaceLinks, "replaceLinks", response.data)
					 Vue.set(refThis.vm.selJurisdictionReplaceLinks, "jurisdictionDataId", jurisdictionDataId)
				   // refThis.vm.selJurisdictionReplaceLinks.replaceLinks = response.data
				   // refThis.vm.selJurisdictionReplaceLinks.jurisdictionDataId = jurisdictionDataId
					DoneLoading()
					window.location.hash = 'linkResults';
				}, function (error) {
					console.log(error.statusText);
					DoneLoading()
					window.location.hash = 'linkResults';
				});

			},
			reloadLinks: function () {
				this.setShowSearch(false)
				this.getLinkedInformation(this.currentSelectedId)
			},
			removeLinks: function () {
				var removeIds = []
				var selectedDelete = this.vm.selJurisdictionReplaceLinks.replaceLinks.filter(function (el) {
					return (el.selected == true)
				});

				for (var i = 0; i < selectedDelete.length; i++) {
					removeIds.push(selectedDelete[i].replaceWithId);
				}

				if (selectedDelete.length > 0) {
					var refThis = this
					bootbox.confirm("Are you sure you want to remove the selected items as modified software?", function (confirmed) {
						if (confirmed) {
							Loading()

							var url = "Submission/JurisdictionReplaceLink/RemoveReplacementLinks?replaceWithIds=" + JSON.stringify(removeIds) + "&applyToJurisdictions=" + JSON.stringify(refThis.vm.applyReplaceLinksToJurisdictions)
							refThis.$http.post(url).then(function (response) {
								refThis.getLinkedInformation(refThis.currentSelectedId)
								DoneLoading()
							}, function (error) {
								console.log(error.statusText);
								DoneLoading()
							});
						}
					});

				}
			},
			saveLinks: function () {

				var selected = this.vm.selJurisdictionReplaceLinks.replaceLinks.filter(function (el) {
					return (el.selected == true)
				});

				if (selected.length == 0) {
					this.errorMsg = "You have not selected any RV/NU items to be updated."
				}
				else {

					var refThis = this
				   // bootbox.confirm("Are you sure you want to save the selected items?", function (confirmed) {
						//if (confirmed) {
							refThis.errorMsg = ""
							if (refThis.CustomValidatorInvalid() == false) {
								//Save data
								Loading()
								var url = "Submission/JurisdictionReplaceLink/UpdateReplaceLinks"
								var data = {'replaceLinks': JSON.stringify(selected), 'applyToJurisdictions' : JSON.stringify(refThis.vm.applyReplaceLinksToJurisdictions) }
								refThis.$http.post(url,data).then(function (response) {
									refThis.getLinkedInformation(refThis.currentSelectedId)
									DoneLoading()
								}, function (error) {
									console.log(error.statusText);
									DoneLoading()
								});

							}
							else {
								//show error
								refThis.errorMsg = "Please correct data before saving. "
							}
						//}
				   // });
				}

			},
			searchNewItems: function(){
				var refThis = this
				if (this.vm.applyReplaceLinksToJurisdictions.length == 0) {
					bootbox.alert("Please make sure to select additional jurisdictions if same replacement links need to be applied.", function(){
						refThis.setShowSearch(true);
					})
				}
				else {
					this.setShowSearch(true);
				}
			},
			setCalculatedUpgradeBy: function(val){
				this.updateAll.upgradeByDate = val
				this.setShowUpgradeBy(false)
			},
			setShowSearch: function (val) {
				this.showSearch = val
			},
			setShowUpgradeBy: function(val){
				this.showUpgrade = val
			},
			selectAllJurs: function(){
				 $("#JurIds > option").prop("selected", "selected");// Select All Options
				 $("#JurIds").trigger("change");
			 },
			selectRow: function (index) {
				//unselect all
				var refThis = this
				var selectedId = 0;

				for (var i = 0; i < this.vm.jurisdictionSelection.length; i++) {
					if (i == index) {
						Vue.set(refThis.vm.jurisdictionSelection[i], "selected", true)
						selectedId = refThis.vm.jurisdictionSelection[i].id
					} else {
						Vue.set(refThis.vm.jurisdictionSelection[i], "selected", false)
					}
				}
				//get linked information
				this.getLinkedInformation(selectedId)
				this.currentSelectedId = selectedId

			},
			unSetErrorMsg: function () {
				this.errorMsg = ""
			},
			UpdateAll: function (col) {
				var refThis = this
				if ((this.vm.selJurisdictionReplaceLinks.replaceLinks.filter(x => x.selected == true)).length == 0) {
					alert("Select RV/NU items to copy data.")
				}
				else {
					for (var i = 0; i < this.vm.selJurisdictionReplaceLinks.replaceLinks.length; i++) {
						if (refThis.vm.selJurisdictionReplaceLinks.replaceLinks[i].selected == true) {
							refThis.vm.selJurisdictionReplaceLinks.replaceLinks[i].jurisdiction[col] = refThis.updateAll[col]
						}
					}
					Vue.set(this.updateAll, col, null)
				}

			},
			CustomValidatorInvalid: function () {
				var hasErrors = true;
				//reset all errors
				var refThis = this
				this.vm.selJurisdictionReplaceLinks.replaceLinks.forEach(function (jur, index) {
					//jur.warningMsgs = [];
					Vue.set(refThis.vm.selJurisdictionReplaceLinks.replaceLinks[index], "warningMsgs", [])
				})

				//check each selected
				var selected = this.vm.selJurisdictionReplaceLinks.replaceLinks.filter(function (el) {
					return (el.selected == true)
				});

				for (var i = 0; i < selected.length; i++) {
					this.validateRules(selected[i]);
				}

				//Check if any warning
				var checkAnyWithWarnings = this.vm.selJurisdictionReplaceLinks.replaceLinks.filter(function (el) {
					return (el.warningMsgs.length > 0)
				});

				if (checkAnyWithWarnings.length == 0) {
					hasErrors = false
					return (hasErrors)
				}
				else {
					hasErrors = true
					return (hasErrors)
				}
			},
			validateRules: function (replaceLink) {
				if (replaceLink.jurisdiction.status == "RV" && Em(replaceLink.jurisdiction.revokedDate)) {
					replaceLink.warningMsgs.push("You must enter Revoked Date.")
				}
				if (replaceLink.jurisdiction.status != "RV" && !Em(replaceLink.jurisdiction.revokedDate)) {
					replaceLink.warningMsgs.push("You cannot set a Revoked Date if the status is not also set to RV.")
				}
				if (replaceLink.jurisdiction.status == "NU" && Em(replaceLink.jurisdiction.nuDate)) {
					replaceLink.warningMsgs.push("You must enter NU Date.")
				}
				if (replaceLink.jurisdiction.status != "NU" && !Em(replaceLink.jurisdiction.nuDate)) {
					replaceLink.warningMsgs.push("You cannot set a NU Date if the status is not also set to NU.")
				}
				if (replaceLink.jurisdiction.status != "RV" && !Em(replaceLink.jurisdiction.ugradeByDate)) {
					replaceLink.warningMsgs.push("You cannot set an Upgrade By date if the status is not also set to RV.")
				}
			   // if (replaceLink.jurisdiction.status != "RV" && replaceLink.jurisdiction.status != "NU") {
					//replaceLink.warningMsgs.push("You must set to NU or RV.")
				//}
			}

		},
		mounted: function () {
			this.currentSelectedId = this.vm.jurisdictionDataId
		},
		watch: {

		}
	}
</script>