﻿<template>
	<div class="modal modal-wide" ref="JurisdictionSearch" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						Search for new RV/NU Items to link
						<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>
				<div class="modal-body">

					<!--error/warnings -->
					<div class="alert alert-danger" role="alert" v-if="errorMsg != ''">
						<strong>Error! </strong> {{errorMsg}}<font class="pull-right"><a href="#" @click="unSetErrorMsg()"><i class="fas fa-times"></i></a></font>
					</div>

					<form class="form-group form-group-sm">

						<div class="col-sm-2 padl0  padr0">

							<label>File Number</label>
							<!--<input type="text" class="form-control" id="FileNumber" v-model="searchVM.replaceSearch.fileNumber" placeholder="File Number">-->
							<Lookup id="FileNumber" name="FileNumber" :lookuptextfield="searchVM.replaceSearch.fileNumber" lookupajax="FileNumber" v-model="searchVM.replaceSearch.fileNumber" title="File Number" class="form-control form-control-sm"></Lookup>
						</div>
						<div class="col-sm-2 padl0 padr0">
							<label>ID Number</label>
							<input type="text" class="form-control" id="IdNumber" v-model="searchVM.replaceSearch.IdNumber" placeholder="ID Number">
						</div>
						<div class="form-group-sm col-sm-2 padl0 padr0">
							<label>Date Code</label>
							<input type="text" class="form-control" id="DateCode" v-model="searchVM.replaceSearch.dateCode" placeholder="Date Code">
						</div>
						<div class="form-group-sm col-sm-2 padl0 padr0">
							<label>Game Name</label>
							<input type="text" class="form-control" id="GameName" v-model="searchVM.replaceSearch.gameName" placeholder="Game Name">
						</div>
						<div class="form-group-sm col-sm-2 padl0 padr0">
							<label>Version</label>
							<input type="text" class="form-control" id="Version" v-model="searchVM.replaceSearch.version" placeholder="Version">
						</div>
						<div class="form-group-sm col-sm-2 padl0 padr0">
							<label>Jurisdiction</label>
							<Lookup id="JurisdictionId" name="JurisdictionId" :lookuptextfield="searchVM.replaceSearch.jurisdictionName" lookupajax="Jurisdictions" templatename="formatJurisdictions" v-model="searchVM.replaceSearch.jurisdictionId" @updateLookupTextField="updateJurisdiction" title="Jurisdiction" class="form-control form-control-sm"></Lookup>

						</div>
						<div class="form-group-sm col-sm-1">
							<br />
							<button type="button" class="btn btn-primary" @click="searchReplaceItems">Search</button>
						</div>

					</form>

					<!--Search Results-->
					<table class="table table-sm form-group form-group-sm" style="padding-right:0px">
						<thead>
							<tr>
								<th><input type="checkbox" id="checkAllJurSearch" @click="checkAllJurs()" title="Select All to update" /></th>
								<th>File Number</th>
								<th>ID Number</th>
								<th>Version</th>
								<th>Date Code</th>
								<th>Game Name</th>
								<th>Jurisdiction</th>
								<th>Close Date</th>
								<th>Status</th>
								<th>Revoked Date</th>
								<th>NU Date</th>
								<th>Upgrade By</th>
								<th>Replace With</th>

							</tr>
						</thead>
						<tbody>
							<tr v-for="(jurisdiction, index) in searchVM.searchResults">
								<td width="5px" class="padr0">
									<input type="checkbox" v-model="jurisdiction.selected" v-show="jurisdiction.alreadyReplaced == null" :title="(jurisdiction.alreadyReplaced != null)?'Replaced in ' + jurisdiction.alreadyReplaced:''" />
									<i class="fas fa-exclamation-circle " v-show="jurisdiction.alreadyReplaced != null" :title="'Replaced in ' + jurisdiction.alreadyReplaced"></i>

								</td>
								<td width="130px" class="padr0">{{ jurisdiction.fileNumber }}</td>
								<td width="130px" class="padr0">{{ jurisdiction.idNumber }}</td>
								<td width="100px" class="padr0">{{ jurisdiction.version }}</td>
								<td width="100px" class="padr0">{{ jurisdiction.dateCode }}</td>
								<td width="150px" class="padr0">{{ jurisdiction.gameName }}</td>
								<td width="100px" class="padr0">{{ jurisdiction.jurisdictionName }}</td>
								<td width="110px" class="padr0">{{ jurisdiction.closeDate }} </td>
								<td width="100px" class="padr0">{{ jurisdiction.status }} </td>
								<td width="110px" class="padr0">{{ jurisdiction.revokedDate }}</td>
								<td width="120px" class="padr0">{{ jurisdiction.nuDate }}</td>
								<td width="110px" class="padr0">{{ jurisdiction.upgradeByDate}} </td>
								<td width="110px" class="padr0">
									<SelectStandard id="ReplaceColumn" name="ReplaceColumn" :options="searchVM.replaceOptions" title="Replace Options" v-model="jurisdiction.replaceColumn"></SelectStandard>
								</td>

							</tr>
							<tr v-if="searchVM.searchResults.length == 0 && currentlySearching == false">
								<td colspan="5"><font class="text-warning">No Items found.</font></td>
							</tr>
							<tr v-if="searchVM.searchResults.length == 0 && currentlySearching == true">
								<td colspan="5"><font class="text-warning">Searching......</font></td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="modal-footer">
					<a class="btn btn-primary btn-sm" @click="addSelected" >Add Selected</a>
				</div>
			</div>
		</div>
	</div>
</template>
<style scoped>
	.modal-body {
		height: 450px;
		overflow-y: auto;
		font-size: 14px;
	}

	.modal.modal-wide .modal-dialog {
		width: 90%;
		height: auto;
	}


</style>
<script>
	import Vue from 'vue';
	import Lookup from '@/components/utility/Lookup.vue'
	import SelectStandard from '@/components/utility/SelectStandard.vue'

	export default {
		components: {
			Lookup,
			SelectStandard
		},
		props: {
			showSearchModal: {
				type: Boolean
			},
			jurisdictionalDataId: {
				type: Number
			},
			searchVM: {
				type: Object
			},
			applyToJurs:{
				type: Array
			}
		},
		data() {
			return {
				errorMsg: "",
				currentlySearching: false
			}
		},
		created() {

		},
		computed: {

		},
		validations: {

		},
		methods: {
			addSelected: function (e) {
				this.unSetErrorMsg()

				this.searchVM.selReplaceItems = []
				var selectedAdd = this.searchVM.searchResults.filter(function (el) {
					return (el.selected == true)
				});

				if (selectedAdd.length == 0) {
					this.errorMsg = "You have not selected any RV/NU items to be updated."
				}

				if (Em(this.errorMsg)) {
					Loading()
					for (var i = 0; i < selectedAdd.length; i++) {
						this.searchVM.selReplaceItems.push({ jurisdictionDataId: selectedAdd[i].id, replaceOption: selectedAdd[i].replaceColumn })
					}
					var refThis = this
					var url = "Submission/JurisdictionReplaceLink/AddReplacementLinks?jurisdictionaldataId=" + this.jurisdictionalDataId + "&newLinks=" + JSON.stringify(this.searchVM.selReplaceItems) + "&applyToJurisdictions=" + JSON.stringify(this.applyToJurs)
					this.$http.post(url).then(function (response) {
						DoneLoading()
						refThis.$emit('reloadCurrentReplacementLinks');
					}, function (error) {
						console.log(error.statusText);
						DoneLoading()
					});
				}
			},
			checkAllJurs: function () {
				var refThis = this

				if ($('#checkAllJurSearch').prop("checked") == true) {
					for (var i = 0; i < this.searchVM.searchResults.length; i++) {
						Vue.set(refThis.searchVM.searchResults[i], "selected", true)
					}
				} else {
					for (var i = 0; i < this.searchVM.searchResults.length; i++) {
						Vue.set(refThis.searchVM.searchResults[i], "selected", false)
					}
				}
			},
			resetData: function () {
				this.searchVM.replaceSearch.fileNumber = null
				this.searchVM.replaceSearch.idNumber = null
				this.searchVM.replaceSearch.gameName = null
				this.searchVM.replaceSearch.dateCode = null
				this.searchVM.replaceSearch.version = null
				this.searchVM.replaceSearch.dateCode = null
				this.searchVM.searchResults = []
				$('#checkAllJurSearch').prop('checked', false);
			},
			searchReplaceItems: function () {
				Loading();
				this.currentlySearching = true
				var refThis = this
				var url = "Submission/JurisdictionReplaceLink/SearchReplaceItems?jurisdictionaldataId=" + this.jurisdictionalDataId + "&searchVM=" + JSON.stringify(this.searchVM.replaceSearch)
				this.$http.get(url).then(function (response) {
					refThis.searchVM.searchResults = response.data
					refThis.currentlySearching = false
					DoneLoading()
				}, function (error) {
					console.log(error.statusText);
					DoneLoading()
					refThis.currentlySearching = false
				});

			},
			unSetErrorMsg: function () {
				this.errorMsg = ""
			},
			updateJurisdiction: function (newValue) {
				this.searchVM.replaceSearch.jurisdictionName = newValue;
			},

		},
		mounted: function () {

			const refThis = this;
			$(this.$refs.JurisdictionSearch).on('hidden.bs.modal', function (e) {
				refThis.$emit('reSetSearchModal', false);
			});
		},
		watch: {
			showSearchModal: function (val, oldVal) {
				if (val) {
					this.resetData()
					$(this.$refs.JurisdictionSearch).modal('show');
				}
				else
				{
					this.$emit('reSetSearchModal', false);
					$(this.$refs.JurisdictionSearch).modal('hide');
				}
			}
		}
	}

</script>