﻿<template>
	<div ref="AddTaskModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="addTask">Add</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title">Add Task</h3>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="TaskDefinitionId">Task</label>
							<div class="col-sm-7">
								<input name="TaskDefinition" id="TaskDefinition" type="hidden" v-model="task.taskDefinition" />
								<Lookup id="TaskDefinitionId" name="TaskDefinitionId" :lookuptextfield="task.taskDefinition" @updateLookupTextField="updateTaskDefinition" lookupajax="TaskDefinitions" :filter='taskDefinitionFilter' v-model="task.taskDefinitionId"></Lookup>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="TaskDescription">Description</label>
							<div class="col-sm-7">
								<textarea rows="3" cols="50" maxlength="400" id="TaskDescription" v-model="task.description" class="form-control" />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="EstimateHours">Estimated Hours</label>
							<div class="col-sm-2">
								<input type="number" id="EstimateHours" v-model="task.estimateHours" class="form-control" />
							</div>
						</div>
						<div v-show="task.isETAEligible" class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="IsETATask">ETA Task</label>
							<div class="col-sm-2">
								<input type="checkbox" id="IsETATask" v-model="task.isETATask" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" @click="addTask">Add</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Lookup from '@/components/utility/Lookup.vue'

	export default {
		components: {
			Lookup
		},
		props: {
			showPopup: {
				type: Boolean
			}
		},
		data() {
			return {
				task: {
					id: null,
					taskDefinitionId: null,
					taskDefinition: '',
					description: null,
					estimateHours: null,
					isETATask: null,
					isETAEligible: null
				}
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.AddTaskModal).on('hidden.bs.modal', function (e) {
				self.$emit('showPopup', false);
				self.reset();
			});
		},
		methods: {
			addTask: function () {
				this.$emit('task', this.task);
				$(this.$refs.AddTaskModal).modal('hide');
			},
			reset: function () {
				this.task = {
					taskDefinitionId: null,
					taskDefinition: '',
					description: null,
					estimateHours: null,
					isETATask: null,
					isETAEligible: null
				};
			},
			updateTaskDefinition: function (newValue) {
				this.task.taskDefinition = newValue;
				if (newValue != '') {
					this.$http.get('Lookups/TaskTemplates/LoadTaskDefinition/' + this.task.taskDefinitionId)
						.then(r => {
							this.task.description = r.data.description;
							this.task.estimateHours = r.data.estimateHours;
							this.task.isETAEligible = r.data.isETATask;
						});
				}
			}
		},
		computed: {
			taskDefinitionFilter: function () {
				return {
					IsDynamicSet: false
				};
			}
		},
		watch: {
			showPopup: function (newVal, oldVal) {
				if (newVal) {
					$(this.$refs.AddTaskModal).modal('show');
				}
			}
		}
	}
</script>