﻿<template>
	<div>
		<form ref="TaskTemplateForm" method="post">
			<div class="row row-title">
				<div class="col-sm-8">
					<h3 v-if="vm.mode == 1">Add Task Template <small>{{vm.code}} -owned by {{vm.userName}}</small></h3>
					<h3 v-else>Edit Task Template <small>{{vm.code}} -owned by {{vm.userName}}</small></h3>
				</div>
				<div class="col-sm-4 form-buttons">
					<a v-if="vm.canSave" @click="saveTaskTemplate($event)" class="btn btn-primary btn-sm">Save</a>
					<a-link v-if="vm.mode != 1" :href="'/lookups/tasktemplates/edit?id=' + vm.id + '&Mode=Add'" class="btn btn-primary btn-sm">Copy</a-link>
					<a-link href="/lookups/tasktemplates" class="btn btn-sm btn-primary">Cancel</a-link>
				</div>
			</div>
			<div class="row">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						<label class="control-label col-sm-2" for="Code">Name</label>
						<div class="col-sm-3">
							<input id="Code" name="Code" type="text" v-model.lazy="vm.code" class="form-control" />
							<span class="field-validation-error" v-if="!$v.vm.code.required && $v.vm.code.$error">Name is required</span>
							<span class="field-validation-error" v-if="!$v.vm.code.isUnique">Name already exists</span>
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label class="control-label col-sm-2" for="Description">Description</label>
						<div class="col-sm-4">
							<input id="Description" name="Description" type="text" v-model="vm.description" class="form-control" />
							<span class="field-validation-error" v-if="!$v.vm.description.required && $v.vm.description.$error">
								Description is required
							</span>
							<span class="field-validation-error" v-if="$v.vm.description.$error && !$v.vm.description.maxLength">
								The field Description must be a string with a maximum length of {{ $v.vm.description.$params.maxLength.max }}.
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Tasks</h3>
								</div>
								<div class="panel-body">
									<table class="table table-striped">
										<thead>
											<tr>
												<th colspan="2" class="text-center">Position</th>
												<th>Task</th>
												<th>Description</th>
												<th style="white-space:nowrap">Estimated Hours</th>
												<th>ETA</th>
												<th class="text-right"><a href="#" @click="removeAllTasks()"><strong>Remove All</strong></a></th>
											</tr>
										</thead>
										<tbody class="form-group form-group-sm">
											<tr v-for="(item, index) in vm.tasks">
												<td class="col-sm-1" align="right">
													<button v-if="item.position < vm.tasks.length" class="fas fa-arrow-down" type="button" @click="updatePosition(index,1)"></button>
												</td>
												<td class="col-sm-1" align="left">
													<button v-if="item.position > 1" class="fas fa-arrow-up" type="button" @click="updatePosition(index,-1)"></button>
													<input type="hidden" :name="'Tasks[' + index + '].Position'" v-model="item.position" />
												</td>
												<td class="col-sm-3">
													{{item.taskDefinition}}
												</td>
												<td class="col-sm-4">
													<input type="text" :name="'Tasks[' + index + '].Description'" v-model="item.description" class="form-control" />
													<span class="field-validation-error" v-if="!$v.vm.tasks.$each[index].description.required && $v.vm.tasks.$each[index].description.$error">Description is required</span>
												</td>
												<td class="col-sm-1">
													<input type="number" :name="'Tasks[' + index + '].EstimateHours'" v-model="item.estimateHours" class="form-control text-center" />
													<span class="field-validation-error" v-if="!$v.vm.tasks.$each[index].estimateHours.required && $v.vm.tasks.$each[index].estimateHours.$error">Time is required</span>
												</td>
												<td class="col-sm-1">
													<div v-show="item.isETAEligible">
														<input type="checkbox" :name="'Tasks[' + index + '].IsETATask'" v-model="item.isETATask" :value="item.isETATask" />
													</div>
												</td>
												<td class="col-sm-2 text-right">
													<a href="#" @click="removeTask(index)" :id="index">Remove</a>
													<input type="hidden" :name="'Tasks[' + index + '].TaskDefinitionId'" v-model="item.taskDefinitionId" />
												</td>
											</tr>
										</tbody>
									</table>
									<div>&nbsp;<span @click="clickAddTask"><a href="#"><i class="fas fa-plus"></i> Add Task</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" name="Mode" v-model="vm.mode" />
			<input type="hidden" name="Id" v-model="vm.id" />
		</form>
		<AddTask :showPopup="showPopup" @showPopup="updateShowPopup" @task="addTask"></AddTask>
	</div>
</template>

<script>
	import AddTask from '@/components/lookup/tasktemplate/AddTask.vue'
	import ALink from '@/components/utility/ALink.vue';
	import Lookup from '@/components/utility/Lookup.vue'
	import { required, maxLength } from 'vuelidate/lib/validators'

	export default {
		components: {
			ALink,
			AddTask,
			Lookup
		},
		data() {
			return {
				vm: initialData,
				showPopup: false
			}
		},
		validations: {
			vm: {
				code: {
					required,
					isUnique(value) {
						if (!value) {
							return true;
						}

						return this.$http.get('Lookups/TaskTemplates/ValidateCode', {
							params: {
								id: this.vm.id,
								code: this.vm.code,
								mode: this.vm.mode
							}
						})
						.then(r => {
							return r.data;
						});
					}
				},
				description: {
					required,
					maxLength: maxLength(255)
				},
				tasks: {
					$each: {
						description: {
							required
						},
						estimateHours: {
							required
						}
					}
				}
			}
		},
		methods: {
			addTask: function (task) {
				task.position = this.vm.tasks.length + 1;
				this.vm.tasks.push(task);
			},
			clickAddTask: function () {
				this.showPopup = true;
			},
			removeAllTasks: function () {
				this.vm.tasks = [];
			},
			removeTask: function (index) {
				this.vm.tasks.splice(index, 1);
				for (var i = index; i < this.vm.tasks.length; i++) {
					this.vm.tasks[i].position = i + 1;
				}
			},
			saveTaskTemplate: function (e) {
				if (this.validate()) {
					return;
				}
				const form = this.$refs.TaskTemplateForm;
				form.action = jsPath + 'Lookups/TaskTemplates/Edit';

				form.submit();
			},
			updatePosition: function (index, shift) {
				this.vm.tasks[index].position = this.vm.tasks[index].position + shift;
				this.vm.tasks[index + shift].position = this.vm.tasks[index + shift].position - shift;
				this.vm.tasks.splice(index + shift, 0, this.vm.tasks.splice(index, 1)[0]);
			},
			updateShowPopup: function (showPopup) {
				this.showPopup = showPopup;
			},
			validate: function () {
				this.$v.$touch();
				return this.$v.$invalid;
			}
		}
	}
</script>