﻿<template>
	<div ref="AddDocumentModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="addNewDocument">Add</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title" v-if="isNewDocument">Add New Document</h3>
					<h3 class="modal-title" v-else>Edit Document</h3>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-2">Document Name:</label>
								<div class="col-sm-9">
									<input class="form-control" type="text" v-model="newDocument.documentName" />
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-2">Document Version:</label>
								<div class="col-sm-9">
									<input class="form-control" type="text" v-model="newDocument.documentVersion" />
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-2">Jurisdictions:</label>
								<div class="col-sm-9">
									<SelectStandardMultiple id="documentJurisdictions" name="documentJurisdictions" :options="jurisdictionSearchList" v-model="newDocument.documentJurisdictionIds"></SelectStandardMultiple>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" @click="addNewDocument">Add</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			SelectStandardMultiple
		},
		props: {
			jurisdictionSearchList: {
				type: Array
			},
			isNewDocument: {
				type: Boolean
			},
			showPopup: {
				type: Boolean
			}
		},
		computed: {
			...mapGetters([

			])
		},
		data() {
			return {
				newDocument: {
					id: null,
					documentName: '',
					documentVersion: '',
					documentJurisdictionIds: []
				}
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.AddDocumentModal).on('hidden.bs.modal', function (e) {
				self.$emit('showPopup', false);
				self.$emit('isNewDocument', false);
				self.reset();
			});
		},
		methods: {
			addNewDocument: function () {

			},
			editDocument: function () {

			},
			reset: function () {
				this.newDocument = {
					id: null,
					documentName: '',
					documentVersion: '',
					documentJurisdictionIds: []
				};
			}
		},
		watch: {
			showPopup: function (newVal, oldVal) {
				if (newVal) {
					$(this.$refs.AddDocumentModal).modal('show');
				}
			}
		}
	}
</script>

<style scoped>
</style>
