﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-4">
				<h3>
					Test Case Manager Documents
				</h3>
			</div>
			<div class="col-sm-8 form-buttons">
				<a @click="clickAddDocument($event)" class="btn btn-primary btn-sm">Add New Document</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Search</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group form-group-sm">
										<label class="control-label col-sm-4" for="documentStartDate">Start Date:</label>
										<div class="col-sm-8">
											<DatePicker id="documentStartDate" name="documentStartDate" v-model="vm.documentSearch.startDate"></DatePicker>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group form-group-sm">
										<label class="control-label col-sm-4" for="documentEndDate">End Date:</label>
										<div class="col-sm-8">
											<DatePicker id="documentEndDate" name="documentEndDate" v-model="vm.documentSearch.endDate"></DatePicker>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group form-group-sm">
										<label class="control-label col-sm-4" for="documentStatus">Status:</label>
										<div class="col-sm-8">
											<SelectStandardMultiple id="documentStatus" name="documentStatus" :options="vm.documentSearch.statusOptions" v-model="vm.documentSearch.status"></SelectStandardMultiple>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8">
									<div class="form-group form-group-sm">
										<label class="control-label col-sm-2" for="jurisdictionList">Jurisdictions:</label>
										<div class="col-sm-10">
											<SelectStandardMultiple id="documentJurisdictions" name="documentJurisdictions" :options="vm.documentSearch.jurisdictionList" v-model="vm.documentSearch.jurisdictionIds"></SelectStandardMultiple>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group form-group-sm">
										<label class="control-label col-sm-4" for="filterAllJurisdictions">Documents Must Contain All Jurisdictions</label>
										<div class="col-sm-8">
											<input type="checkbox" v-model="vm.documentSearch.filterAllJurisdictions" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8">
									<div class="form-group form-group-sm">
										<label class="control-label col-sm-2" for="documentName">Document Name:</label>
										<div class="col-sm-10">
											<input class="form-control" type="text" v-model="vm.documentSearch.name" />
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group form-group-sm">
										<label class="control-label col-sm-4" for="documentExactName">Exact Name Search</label>
										<div class="col-sm-8">
											<input type="checkbox" v-model="vm.documentSearch.exactName" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="pull-right">
									<button type="button" class="btn btn-primary btn-sm" @click="searchDocuments"><i class="fas fa-search"></i>&nbsp;Search</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<AddEditDocument :showPopup="showPopup" :jurisdictionSearchList="vm.documentSearch.jurisdictionList" :isNewDocument="isNewDocument" @showPopup="updateShowPopup"></AddEditDocument>

		<div>
			<div class="panel panel-default hide-border">
				<div class="panel-heading center-text hide-border">
					<a data-toggle="collapse" href="#Results">
						<h5 class="panel-title">
							Document Search Results
							<i class="indicator fa pull-right fa-chevron-circle-up hide-element"></i>
						</h5>
					</a>
				</div>
				<div class="panel-body collapse in hide-border" id="Results">
					<div class="panel-group" id="accordion">
						<table id="MainResults" class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Version</th>
									<th scope="col">Jurisdictions</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="item in vm.documents">
									<td>{{item.Name}}</td>
									<td>{{item.Version}}</td>
									<td>N/A</td>
								</tr>
							</tbody>
						</table>
						<table id="TotalsResults"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import DatePicker from '@/components/utility/DatePicker.vue'
	import LookupMultiple from '@/components/utility/LookupMultiple.vue'
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue'
	import AddEditDocument from '@/components/evolution/testcasemanager/document/Edit.vue'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			AddEditDocument,
			DatePicker,
			LookupMultiple,
			SelectStandardMultiple
		},
		props: {

		},
		data: function () {
			return {
				isNewDocument: false,
				showPopup: false,
				vm: initialData
			}
		},
		methods: {
			clickAddDocument: function (e) {
				this.showPopup = true;
				this.isNewDocument = true;
			},
			searchDocuments: function () {
				if (this.validateSearch()) {
					this.$http.post('evolution/tcmdocument/search', {
						documentSearch: this.vm.documentSearch
					})
						.then(response => {
							this.vm.documents = response.data;
						});
				}
			},
			updateShowPopup: function (showPopup) {
				this.showPopup = showPopup;
			},
			validateSearch: function () {
				if (this.vm.documentSearch.status.length < 1) {
					alert("Must select at least one option for Status.");
					return false;
				}
				return true;
			}
		},
		watch: {

		}
	}
</script>