﻿@model Submissions.Web.Areas.Submission.Models.SubmissionCopyMoveToFile.SubmissionCopyMoveToFile
@{
	ViewBag.Title = "GLI - Copy/Move Records to Another File";

	ViewBag.FullWidth = true;
	Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}


