﻿@model Submissions.Web.Areas.Tools.Models.QAOffice.QAOfficeDefaultingRuleViewModel
@{
	ViewBag.Title = "Edit Defaulting Rules";
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		var indexLink = '@Url.Action("Index","QAOfficeDefaultingRule")';
	</script>
	<script src="@Url.Content("~/Vue/vendors.js")"></script>
	<script src="@Url.Content("~/Vue/bundle.js")"></script>
}