﻿@model List<Submissions.Web.Areas.Tools.Models.QAOffice.QAOfficeDefaultingRuleViewModel>
@{
	ViewBag.Title = "QA Office Defaulting Rules";
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		var editLink = '@Url.Action("Edit")';
	</script>
	<script src="@Url.Content("~/Vue/vendors.js")"></script>
	<script src="@Url.Content("~/Vue/bundle.js")"></script>
}