﻿@model Submissions.Web.Areas.Reports.Models.SubmissionsDisplayViewModel

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		#SubmissionsReportGrid_toppager_left {
			width: 20px !important;
		}

		#SubmissionsReportGrid_toppager_center {
			width: 400px !important;
		}

		#SubmissionsReportGrid_toppager_right .ui-paging-info {
			text-align: left !important;
		}

		.ui-jqgrid .loading {
			position: fixed !important;
			top: 200px !important;
			left: 50% !important;
			margin-left: -60px !important;
		}
	</style>
}

@{
	ViewBag.FullWidth = true;
	ViewBag.Title = Model.Title;
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@Model.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<div class="dropdown" style="display:inline;">
			<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Export <span class="caret"></span></button>
			@if (Model.WidgetId == null)
			{
				<button id="ColumnChooser" class="btn btn-primary btn-sm" type="button">Column Chooser</button>
			}
			<ul id="ExportMenu" class="dropdown-menu dropdown-menu-right">
				<li><a href="@Model.ExportUrl" data-exporttype="@ExportType.Csv"><img src="@Url.Content("~/img/filetree/file.png")" title="CSV" /> CSV</a></li>
				<li><a href="@Model.ExportUrl" data-exporttype="@ExportType.Xls"><img src="@Url.Content("~/img/filetree/xls.png")" title="Excel" /> Excel</a></li>
				<li><a href="@Model.ExportUrl" data-exporttype="@ExportType.Pdf"><img src="@Url.Content("~/img/pdf.png")" title="PDF" /> PDF</a></li>
			</ul>
		</div>
		<button class="btn btn-primary btn-sm" id="CancelBtn">Close</button> &nbsp;
	</div>
</div>

<div class="modal" id="ColumnChooserModal" data-url='@Url.Action("ColumnChooser", "Submissions")' tabindex="-1" role="dialog" aria-hidden="true"></div>

<form id="GridForm" method="post">
	@Html.HiddenFor(m => m.WidgetId)
	@Html.Hidden("Filters", @Html.Raw(Json.Encode(Model.Filters)))
	@Html.Hidden("FiltersToolbar")
	@Html.Hidden("ExportType")
	@Html.Hidden("SavedColumns")
	@Html.Hidden("Title", Model.Title)
</form>

@Html.Trirand().JQGrid(Model.SubmissionGrid.Grid, @Model.SubmissionGrid.Grid.ID)
@{Html.RenderPartial("GridsAutoComplete/_Submission");}

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$(function () {
			$('#CancelBtn').on('click', function () {
				window.open('', '_self', '');
				window.close();
			});

			$('#ColumnChooser').on('click', function () {
				var modalDialog = $('#ColumnChooserModal');
				var url = modalDialog.data('url');

				$.get(url, {}, function (data) {
					modalDialog.modal('show');
					modalDialog.html(data);
				});
			});

			// export
			$('#ExportMenu a').on('click', function (e) {
				e.preventDefault();

				var grid = $('table[id^="SubmissionsReportGrid"]');
				var postData = grid.jqGrid('getGridParam', 'postData');

				$('#FiltersToolbar').val($.param(postData));
				$('#ExportType').val($(this).data('exporttype'));
				$('#GridForm').attr('action', '@Model.ExportUrl');
				$('#GridForm').submit();
			});
		});

		// widget grid uses this, do not delete
		function gridAfterAjaxRequest() { };

		function submissionsReportGridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = $('#Filters').val();
			$(this).jqGrid('setGridParam', { postData: postData });
		};
	</script>
}

