﻿@model Submissions.Web.Areas.Reports.Models.SubmissionsIndexViewModel

@{
	ViewBag.Title = "Submissions Report";
}

@using (Html.BeginForm("Display", "Submissions", FormMethod.Post, new { id = "SearchForm", target = "_blank" }))
{
	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<button type="submit" id="DisplayBtn" class="btn btn-primary btn-sm">Display</button>
			<input type="reset" id="ClearBtn" class="btn btn-primary btn-sm" value="Clear">
			@Html.ActionLink("Exit", "Index", "Menu", null, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		</div>
	</div>

	@Html.EditorFor(m => m.SubmissionSearchPartial, "Query/SubmissionSearch")
}