﻿@model Submissions.Web.Areas.Lookups.Models.ManufacturersEditViewModel
@using Submissions.Web.Models.LookupsAjax;

@section css {
	<style>
		.pendingApproval {
			font-size: 11px;
			padding-left: 50px;
			font-style: italic;
		}
	</style>
}

@{
	ViewBag.Title = Model.Mode.ToString() + " Manufacturer";
	var saveButtonText = "Save";
	var activeHtmlAttributes = new Dictionary<string, object>();
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
		activeHtmlAttributes.Add("disabled", "disabled");
	}
	else if (Model.ForDynamicsUseOnly)
	{
		activeHtmlAttributes.Add("disabled", "disabled");
	}

	var companyFilter = Json.Encode(new CompaniesFilter { HasDynamicsDatabase = true });
}

@using (Html.BeginForm("Edit", "Manufacturers", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.SendEmail)
	@Html.Hidden("OriginalManufacturerDescription", Model.Description)
	@Html.Hidden("OriginalManufacturerCode", Model.Code)

	<div class="row row-title">
		<div class="col-sm-6">
			<h3>
				@ViewBag.Title <small>@Html.DisplayFor(m => m.Description)</small>
				@if (Model.PendingApproval)
				{
					<small><span class="pendingApproval text-red">Pending Approval</span></small>
				}
			</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if (Model.Mode == Mode.Add || Model.PendingApproval)
			{
				<button type="button" id="SaveEmail" class="btn btn-primary btn-sm"><i class="fas fa-envelope"></i>&nbsp; @saveButtonText</button>
			}
			else
			{
				<button type="button" id="Save" class="btn btn-primary btn-sm">Save</button>
			}
			@Html.ActionLink("Cancel", "Index", "Manufacturers", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">General</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Code, new { @class = "control-label col-sm-3" })
							<div class="col-sm-2">
								@Html.TextBoxFor(m => m.Code, new { @class = "form-control upper", @autofocus = "autofocus" })
								@Html.ValidationMessageFor(m => m.Code)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Description)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.ManufacturerGroupIds, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								@Html.LookupMultipleFor(m => m.ManufacturerGroupIds, Model.ManufacturerGroups, LookupAjax.ManufacturerGroups, false, new { disabled = "disabled" })
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Active, new { @class = "control-label col-sm-3" })
							<div class="col-sm-3">
								<div class="checkbox">
									<label>@Html.CheckBoxFor(m => m.Active, activeHtmlAttributes)</label>
								</div>
								@Html.ValidationMessageFor(m => m.Active)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.AccountStatusId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-2">
								@Html.LookupFor(m => m.AccountStatusId, m => m.AccountStatus, LookupAjax.AccountStatus, true)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.City, new { @class = "control-label col-sm-3" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.City, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.City)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.State, new { @class = "control-label col-sm-3" })
							<div class="col-sm-2">
								@Html.DropDownListFor(m => m.State, LookupsStandard.States, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.State)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.CountryId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-3">
								@Html.LookupFor(m => m.CountryId, m => m.Country, LookupAjax.Countries, false)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Territory, new { @class = "control-label col-sm-3" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.Territory, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Territory)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.LiaisonUserIds, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								@Html.LookupMultipleFor(m => m.LiaisonUserIds, Model.LiaisonUsers, LookupAjax.Liaisons, false)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.QAOfficeId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								@Html.LookupFor(m => m.QAOfficeId, m => m.QAOfficeDefault, LookupAjax.Laboratories, false)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.TestingTypeIds, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								@Html.LookupMultipleFor(m => m.TestingTypeIds, Model.TestingTypes, LookupAjax.TestingTypes, false)
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Options</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.ForDynamicsUseOnly, new { @class = "control-label col-sm-3" })
							<div class="col-sm-3">
								<div class="checkbox">
									<label>@Html.CheckBoxFor(m => m.ForDynamicsUseOnly)</label>
								</div>
								@Html.ValidationMessageFor(m => m.ForDynamicsUseOnly)
							</div>
						</div>
						@*Currently not used
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.IsDraftSupplier, new { @class = "control-label col-sm-3" })
								<div class="col-sm-3">
									<div class="checkbox">
										<label>@Html.CheckBoxFor(m => m.IsDraftSupplier)</label>
									</div>
								</div>
							</div>*@
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.SendForApprovalJurisdictionIds, new { @class = "control-label col-sm-3" })
							<div class="col-sm-4">
								@Html.LookupMultipleFor(m => m.SendForApprovalJurisdictionIds, Model.SendForApprovalJurisdictions, LookupAjax.Jurisdictions, false)
							</div>
							<i class="fas fa-info-circle" data-toggle="tooltip" title="Instead of a letter automatically being available to a PCR regulator, manufacturers will manually send the letter to the regulator for review via GLIAccess for the selected jurisdictdions"></i>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.UseDelayedCertifications, new { @class = "control-label col-sm-3" })
							<div class="col-sm-3">
								<div class="checkbox">
									<label>@Html.CheckBoxFor(m => m.UseDelayedCertifications)</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	if (Model.Mode == Mode.Add || (Model.Mode == Mode.Edit && Model.PendingApproval))
	{
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Accounting</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.ProductSubmitterListId, new { @class = "control-label col-sm-3" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.ProductSubmitterListId, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.ProductSubmitterListId)
								</div>
							</div>

							@Html.Label("If there are currently any pending requests to be entered into the Submissions database for this new Manufacturer, please select the Jurisdiction Ids for the associated items below:")
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.JurisdictionIds, new { @class = "control-label col-sm-3" })
								<div class="col-sm-6">
									@Html.LookupMultipleFor(m => m.JurisdictionIds, Model.Jurisdictions, LookupAjax.Jurisdictions, true)
								</div>
							</div>

							@Html.Label("If there are specific GLI offices that will be billing or performing work for this new Manufacturer please specify below:")
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.BillingCompanyIds, new { @class = "control-label col-sm-3" })
								<div class="col-sm-6">
									@Html.LookupMultipleFor(m => m.BillingCompanyIds, Model.BillingCompanies, LookupAjax.Companies, false, new { data_filter = companyFilter })
								</div>
							</div>

							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Expedite, new { @class = "control-label col-sm-3" })
								<div class="col-sm-3">
									<div class="checkbox">
										<label>@Html.CheckBoxFor(m => m.Expedite)</label>
									</div>
									@Html.ValidationMessageFor(m => m.Expedite)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Emails</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-offset-4">
							<p class="text-info"><i><small class="text-info">Enter email addresses separated by semi-colons (eg. email1@gli.com; email2@gli.com)</small></i></p>
						</div>
					</div>

					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-7">
								@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
							</div>
						</div>

						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.BinaryRequestGroup, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-7">
								@Html.TextBoxFor(m => m.BinaryRequestGroup, new { @class = "form-control" })
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scripts {
	<script>
		var MODE = '@Model.Mode.ToString()';
		var GLI_RESERVED_CODE_REG = new RegExp('^[gG][0-9][0-9]$');

		$('#ForDynamicsUseOnly').change(function (e) {
			var self = this;
			if (MODE === 'Edit' && $(self).is(':checked'))
			{
				bootbox.confirm({
					title: "Manufacturer for Dynamics Use Only.",
					message: "You have selected that this manufacturer is for Dynamics use only. This means that the manufacturer will not be available in the submissions database. Would you like to proceed, doing so will make a currently active Manufacturer now inactive ?",
					buttons: {
						confirm: {
							label: "Confirm",
							className: "btn-primary"
						},
						cancel: {
							label: "Cancel",
							className: "btn"
						}
					},
					callback: function (result) {
						if (result) {
							$("#Active").prop("checked", false);
							$('#Active').attr('disabled', true);
						}
						else
						{
							$(self).prop("checked", false);
						}
					}

				});
			}
			else if(MODE === 'Edit' && !$(this).is(':checked'))
			{
				$('#Active').attr('disabled', false);
			}
		});

		function manuCodeGuard(code, pCallback) {
			if (GLI_RESERVED_CODE_REG.test(code)) {
				bootbox.confirm({
					title: "Manufacturer Code Check",
					message: "You have entered a 3-digit code that is reserved for GLI companies. Please make sure you are creating this for a GLI Company, " +
						"not an external customer, and that you have Accounting Management's approval to do so.",
					buttons: {
						confirm: {
							label: "Continue",
							className: "btn-primary"
						},
						cancel: {
							label: "Cancel",
							className: "btn-primary"
						}
					},
					callback: function (result) {
						if (result) {
							pCallback();
						}
					}
				});
			} else {
				pCallback();
			}
		};

		let self = this;
		$('#SaveEmail').click(function (e) {
			e.preventDefault();

			self.manuCodeGuard($('#Code').val(), function () {
				bootbox.confirm({
					title: "Email Accounting",
					message: "This Manufacturer is currently pending approval, would you like to email the accounting department to have Dynamics setup?",
					buttons: {
						confirm: {
							label: "Email",
							className: "btn-primary"
						},
						cancel: {
							label: "Save without Email",
							className: "btn-info"
						}
					},
					callback: function (result) {
						$('#SendEmail').val(false);
						if (result) {
							$('#Active').val(false);
							$('#SendEmail').val(result);
						}
						$('#LookupForm').submit();
					}
				});
			});
		});

		$('#Save').click(function (e) {

			let formSubFunc = function () {
				var originalManufacturerDescription = $('#OriginalManufacturerDescription').val();
				if (originalManufacturerDescription != $('#Description').val()) {
					$.post('@Url.Action("GetRecordCountForUpdate")', { originalManufacturerDescription: originalManufacturerDescription })
						.done(function (count) {
							bootbox.confirm({
								title: "Manufacturer Name Change",
								message: "Changing the Manufacturer name will affect " + count + " record(s). Do you wish to continue?",
								buttons: {
									confirm: {
										label: "Yes",
										className: "btn-primary"
									},
									cancel: {
										label: "No",
										className: "btn-primary"
									}
								},
								callback: function (result) {
									if (result) {
										$('#LookupForm').submit();
									}

								}
							});
						});
				}
				else {
					$('#LookupForm').submit();
				}
			}

			let code = $('#Code').val();
			if ($('#OriginalManufacturerCode').val() != code) {
				self.manuCodeGuard(code, formSubFunc);
			} else {
				formSubFunc();
			}
		});

	</script>
}
