﻿@model Submissions.Web.Areas.Lookups.Models.ManufacturerGroupsEditViewModel

@{
	ViewBag.Title = Model.Mode + " " + Model.Heading;
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}