﻿@model Submissions.Web.Areas.Lookups.Models.ManufacturerGroupsIndexViewModel

@{
	ViewBag.Title = Model.Heading;
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
	<div id="app"></div>
}

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}