﻿<template>
	<div :class="{ 'gli-base-field-wrapper--dirty': dirty, 'gli-base-field-wrapper--error': error, 'gli-base-field-wrapper': true }">
		<!-- @slot The field goes inside this slot. -->
		<slot></slot>
		<div 
			v-if="error"
			class="gli-base-field-wrapper--error-messages">
			<!-- @slot Error messages go inside this slot. -->
			<slot name="errors"></slot>
		</div>
	</div>
</template>

<script>
/**
 * A wrapping component that adds classes for error & dirty states, and a common pattern for displaying
 * error messages. This is already included for other base components, but you can use this component if
 * you would like to provide these features for a custom component.
 */
export default {
	props: {
		/**
		 * Set this to true if the field has been edited by the user.
		 */
		dirty: {
			type: Boolean,
			required: false
		},
		/**
		 * Set this to true if there is an error message to display.
		 */
		error: {
			type: Boolean,
			required: false
		}
	}
};

</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	.gli-base-field-wrapper--error-messages {
		color: Colors.$destructive;

		p {
			margin-bottom: 0;

			&:first-of-type {
				margin-top: Spacing.$half;
			}
		}
	}

</style>