﻿@model Submissions.Web.Areas.Protrack.Models.Project.CreateTransfer

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}
@{
	ViewBag.Title = "Create Transfer ";
}

<div class="row">
	<div class="col-sm-6">
		<h3 class="form-h3">@ViewBag.Title - <small>@Model.ProjectName (Status - @Model.ProjectStatus)</small></h3>
	</div>
	<div class="col-sm-6 form-buttons text-right">
		@if (Model.ProjectStatus != ProjectStatus.DN.ToString() && (Util.HasAccess(Permission.ProjectActions, AccessRight.Edit) || Util.HasAccess(Permission.ActAsQLW, AccessRight.Read) || Util.HasAccess(Permission.ActAsQAR, AccessRight.Read) || Util.HasAccess(Role.ENS, Role.ESR, Role.MAS, Role.MAR, Role.MG, Role.CPS, Role.CSR, Role.QAS, Role.QAR, Role.QLW, Role.SA)))
		{
			if (Model.IsTransferProject == true)
			{
				<input type="button" id="ExcludeJur" class="btn btn-primary btn-sm" value="Exclude Jurisdiction(s)" onclick="">
			}
			<input type="button" id="CreateTransferBtn" class="btn btn-primary btn-sm" value="Create Transfer" onclick="">
		}
		<input type="reset" id="CancelBtn" class="btn btn-primary btn-sm" value="Cancel" onclick="window.parent.location.reload();window.close()">
	</div>
</div>
@using (Html.BeginForm("Save", "CreateTransfer", FormMethod.Post, new { CreateTransferModel = Model, Id = "CreateTransferForm" }))
{
	@Html.HiddenFor(x => x.ProjectId)
	@Html.HiddenFor(x => x.CreateAsBrandNewBundle)
	@Html.HiddenFor(x => x.SelPrimarys)
	@Html.HiddenFor(x => x.IsTransferProject)
	@Html.HiddenFor(x => x.FileNumber)
	@Html.HiddenFor(x => x.ProjectSuffix)
	@Html.HiddenFor(x => x.IsForADDCOR)
	@Html.HiddenFor(x => x.BundleType)
	<div class="row">
		@if (Model.ProjectId == null)
		{
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Search Transfers</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.Jurisdiction, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.LookupFor(m => m.Filters.Jurisdiction, m => m.Filters.Jurisdiction, LookupAjax.Jurisdictions, false)
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.ManufacturerShort, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.LookupFor(m => m.Filters.ManufacturerShort, m => m.Filters.Manufacturer, LookupAjax.Manufacturers, false)
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.FileNumber, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.TextBoxFor(m => m.Filters.FileNumber, new { @class = "form-control" })
									</div>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-sm-12 text-right">
								<button type="button" class="btn btn-primary" id="Search"><i class="fas fa-filter"></i>&nbsp;Filter</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
}

<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.JurisdictionGrid.Grid, Model.JurisdictionGrid.Grid.ID)
	</div>
</div>

<!--Show options while creating transfer-->
<div class="modal fade" id="ShowTransferOptions" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-right">
				<button type="button" class="btn btn-primary" onclick="CreateTransfer(); return false;">Create Transfer</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="form-control-label">Do you want this new Transfer Project to stay in current queue? </label>
					&nbsp;<input type="radio" id=TransferOptions name="TransferOptions" value='Yes'>&nbsp;Yes&nbsp; &nbsp; &nbsp;<input type="radio" name="TransferOptions" id=TransferOptions value='No'>&nbsp;No
					<br><br><p>Selecting <code>'Yes'</code> will keep the new Transfer Project in current queue.<br>Selecting <code>'No'</code> will put the project in Unaccepted/Unassigned queue.  </p>
					<br />
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
@Scripts.Render("~/bundles/script/jqgrid")
<script>
		var grid = $('#' + '@Model.JurisdictionGrid.Grid.ID')
		$(function () {
			$('#ExcludeJur').click(function () {
				var selIds = (grid).jqGrid('getGridParam', 'selarrrow');
				if (selIds == "")
				{
					bootbox.alert("Please select Jurisdiction(s).");
					return false;
				}
				else {
					var msg = ''
					if (selIds.length == "@Model.TotalItems") {
						msg = "You must leave one item in this Project."
					}
					if (msg == '')
					{
						bootbox.confirm("Selected Jurisdiction(s) will be removed from current Project and new Transfer Project won't created. \n Please use 'Create Transfer', if you want to create a new Transfer Project. Do you want to Continue?", function (result) {
						if (result) {
							if (CheckIfOkToExclude(selIds.join(", ")) == true) {
								var url = '@Url.Action("ExcludeJurisdictions", "CreateTransfer")?primarys=' + selIds + "&projectId=" + $('#ProjectId').val()
									$.ajax({
										url: url,
										type: 'post',
										success: function (data) {
											grid.trigger('reloadGrid', [{ page: 1 }]);
										}
									})
								}
							}
						});
					}
					else
					{
						bootbox.alert(msg);
						return false;
					}
				}
			})

			$('#CreateTransferBtn').click(function () {
				var msg = "";
				var selIds = (grid).jqGrid('getGridParam', 'selarrrow');
				if (selIds == "") {
					bootbox.alert("Please select Jurisdiction(s).");
				}
				else {
					if (selIds.length == "@Model.TotalItems") {
						msg = "You must leave one item in this Project."
					}

					if (msg == "") {
						$('#SelPrimarys').val(selIds)
						if ($('#IsTransferProject').val() == 'True') {
							if (CheckIfOkToExclude(selIds.join(", ")) == true) {
								$('#CreateAsBrandNewBundle').val(false)
								$('#CreateTransferForm').submit();
							}
						}
						else { //New submission project
							 if (selIds.length == "@Model.TotalItems") {
								bootbox.confirm("This will leave Project without any Jurisdiction. Do you still want to Continue?", function (result) {
									if (result) {
										$('#ShowTransferOptions').modal('show');
									}
								});
							}
							else {
								$('#ShowTransferOptions').modal('show');
							}
						}
					}
					else
					{
						bootbox.alert(msg);
					}
				}
			});
		});

		function detailLink(cellValue, options, rowObject) {
			var url = "@Url.Action("detail", "submission", new {Area = "submission" })?filenumber=" + cellValue
			return '<a href="' + url + '" target=" _blank">' + cellValue + '</a>';
		}

		function CreateTransfer()
		{
			if ($('input[Id=TransferOptions]:radio:checked').val() == undefined)
			{
				bootbox.alert("Please select Yes or No.");
			}
			else
			{
				if ($('input[Id=TransferOptions]:radio:checked').val() == 'Yes')
				{
					$('#CreateAsBrandNewBundle').val("False")
				}
				else
				{
					$('#CreateAsBrandNewBundle').val("True")
				}

				$('#CreateTransferForm').submit();
			}
		}

		@*function CheckIfEvoLock(selIds) {
			var result = false;
			var data = {};
			data.projectId = @Model.ProjectId;
			data.selIds = selIds;

			$.ajax({
				url: '@Url.Action("CheckEVOLock", "CreateTransfer")',
				async: false,
				type: 'POST',
				data: data,
				success: function (answer){
					if (answer.IsAllJurBelongtoEVO) {
						result = true;
					}
					else {
						bootbox.alert("Certain Jurisdictions are double locked in Evolution. Creating new transfer will not create a new instance.");
						result = false;
					}
				}
			});
			return result;
		}*@

		function CheckIfOkToExclude(selIds)
		{
			var result = false;
			var data = {};
			data.projectId = @Model.ProjectId;
			data.selIds = selIds;

			$.ajax({
				url: '@Url.Action("CheckIsOkToExclude", "CreateTransfer")',
				async: false,
				type: 'POST',
				data: data,
				success: function (answer){
					if (answer == 'OK') {
						result = true;
					}
					else {
						bootbox.alert("You can not exclude jurisdiction - " + $('#ProjectSuffix').val() + " from file number - " + $('#FileNumber').val() + ".");
						result = false;
					}
				}
			});
			return result;
		}

		function createTransferGridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());

			$(this).jqGrid('setGridParam', { postData: postData });
		};

		function getFilters() {
			var filters = {};

			filters.ProjectIds = [$('#ProjectId').val()];
			filters.FileNumber = $('#Filters_FileNumber').val();
			filters.ManufacturerShort = $('#Filters_ManufacturerShort').val();
			filters.Jurisdictions = $('#Filters_Jurisdiction').val();

			return filters;
		}
</script>
}