﻿@model IList<Submissions.Web.Areas.Submission.Models.SubmissionBulkUpdate.ComponentViewModel>

@{
	var header = Model.FirstOrDefault();
}

<div id="CopyToSubmissions">
	<table class="table table-condensed table-hover table-striped">
		<thead>
			<tr>
				<th>@Html.CheckBox("CheckAll", new { title = "Check All" })</th>
				<th>@Html.DisplayNameFor(m => header.IdNumber)</th>
				<th>@Html.DisplayNameFor(m => header.Version)</th>
				<th>@Html.DisplayNameFor(m => header.DateCode)</th>
				<th>@Html.DisplayNameFor(m => header.Function)</th>
				<th>@Html.DisplayNameFor(m => header.Position)</th>
				<th>@Html.DisplayNameFor(m => header.GameName)</th>
				<th>@Html.DisplayNameFor(m => header.Status)</th>
				<th>@Html.DisplayNameFor(m => header.ReceiveDate)</th>
				<th>@Html.DisplayNameFor(m => header.SubmitDate)</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.ToList().Count == 0)
			{
				<tr><td colspan="9" class="norecords">No Records Found</td></tr>
			}

			@foreach (var c in Model)
			{
				<tr>
					<td>@Html.CheckBox("ComponentUpdate", c.IsChecked, new { @class = "componentUpdate", value = c.Id })</td>
					<td>@c.IdNumber</td>
					<td id="Version@(c.Id)">@c.Version</td>
					<td id="DateCode@(c.Id)">@c.DateCode</td>
					<td id="Function@(c.Id)">@c.Function</td>
					<td id="Position@(c.Id)">@c.Position</td>
					<td>@c.GameName</td>
					<td>@c.Status</td>
					<td id="ReceiveDate@(c.Id)">@c.ReceiveDate.ToString("d")</td>
					<td id="SubmitDate@(c.Id)">@c.SubmitDate.ToString("d")</td>
				</tr>
			}
		</tbody>
	</table>
</div>
