﻿@model Submissions.Web.Areas.Submission.Models.SubmissionBulkUpdate.DeleteViewModel

@section css{
	<style>
		#CopyToSubmissions th {
			white-space: nowrap;
		}

		input[type="checkbox"] {
			margin: 0;
		}

		.alert {
			padding: 5px;
			margin-top: 2px;
			margin-bottom: 0;
		}

		.alert-dismissible .close {
			right: 0;
			top: 0;
		}
	</style>
}

@{
	ViewBag.Title = "Bulk Delete";
	ViewBag.FullWidth = true;
}

<div class="row row-title">
	<div class="col-sm-5">
		<h3>@ViewBag.Title <small>@Model.FileNumber</small></h3>
	</div>
	<div class="col-sm-4">
		<div id="ProcessingMsg" class="alert alert-info" style="display:none;"><i class="fas fa-spinner fa-spin fa-lg"></i> &nbsp;<strong>Processing</strong></div>
		<div id="SuccessMsg" class="alert alert-success" style="display:none;">
			<button type="button" class="close" data-hide="alert" aria-label="Close"><span>&times;</span></button>
			<strong>Success!</strong> &nbsp;Records have been updated
		</div>
	</div>
	<div class="col-sm-3 form-buttons">
		@if (Util.HasAccess(Permission.Submission, AccessRight.Delete))
		{
			<button type="button" class="btn btn-sm btn-primary" id="DeleteBtn">Delete</button>
		}
		@Html.ActionLink("Cancel", "Detail", "Submission", new { fileNumber = Model.FileNumber }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Select Records to Delete <small> (Total: @Model.Components.Count records)</small>
				<span class="pull-right text-success">(<i>selected: <span id="SelDelCount">@Model.Components.Where(x => x.IsChecked).Count()</span> records</i>)&nbsp;&nbsp;&nbsp;</span>
				</h3>
			</div>
			<div class="panel-body" id="ComponentsPartialView">
				@{ Html.RenderPartial("_Components", Model.Components); }
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script>
		$(function () {
			$('#ComponentsPartialView').on('change', '#CheckAll', function () {
				$('.componentUpdate').prop('checked', $(this).is(':checked'));
				var deleteSubmissionIds = $('.componentUpdate:checked').map(function () { return this.value; }).get();
				$('#SelDelCount').text(deleteSubmissionIds.length)
			});

			$('.componentUpdate').on('change', function () {
				var deleteSubmissionIds = $('.componentUpdate:checked').map(function () { return this.value; }).get();
				$('#SelDelCount').text(deleteSubmissionIds.length)
			});
				
			$('#DeleteBtn').on('click', function () {
				$('#SuccessMsg').hide();
				var deleteSubmissionIds = $('.componentUpdate:checked').map(function () { return this.value; }).get();

				if (deleteSubmissionIds.length === 0) {
					bootbox.alert('At least one record must be checked');
					return false;
				}
				if ('@Model.HasEngTasks' == 'True')
				{
					if (@Model.Components.Count == 1 || deleteSubmissionIds.length == @Model.Components.Count) {
						bootbox.alert('At least one record must be remain as the bundle has Engineering tasks.');
						return false;
					}
				}

				$('#ProcessingMsg').show();

				$.post('@Url.Action("delete", "submissionbulkupdate")', {submissionIdsToDelete:deleteSubmissionIds})
					.done(function () {
						$('#ProcessingMsg').hide();
						$('#SuccessMsg').show();
					});

			
			});

			$('[data-hide]').on('click', function () {
				$(this).closest('.' + $(this).attr('data-hide')).hide();
			});
		
		});
	</script>
}
