﻿@model Submissions.Web.Areas.Submission.Models.SubmissionBulkUpdate.IndexViewModel

@section css{
	<style>
		#CopyToSubmissions th {
			white-space: nowrap;
		}

		input[type="checkbox"] {
			margin: 0;
		}

		.alert {
			padding: 5px;
			margin-top: 2px;
			margin-bottom: 0;
		}

		.alert-dismissible .close {
			right: 0;
			top: 0;
		}
	</style>
}

@{
	ViewBag.Title = "Bulk Update";
	ViewBag.FullWidth = true;
}

<div class="row row-title">
	<div class="col-sm-5">
		<h3>@ViewBag.Title <small>@Model.FileNumber</small></h3>
	</div>
	<div class="col-sm-4">
		<div id="ProcessingMsg" class="alert alert-info" style="display:none;"><i class="fas fa-spinner fa-spin fa-lg"></i> &nbsp;<strong>Processing</strong></div>
		<div id="SuccessMsg" class="alert alert-success" style="display:none;">
			<button type="button" class="close" data-hide="alert" aria-label="Close"><span>&times;</span></button>
			<strong>Success!</strong> &nbsp;Records have been updated
		</div>
	</div>
	<div class="col-sm-3 form-buttons">
		@if (Util.HasAccess(Permission.Submission, AccessRight.Edit))
		{
			<button type="button" class="btn btn-sm btn-primary" id="ProcessBtn">Process</button>
		}
		<button type="button" class="btn btn-sm btn-primary" id="ClearBtn">Clear</button>
		@Html.ActionLink("Cancel", "Detail", "Submission", new { id = Model.SubmissionId }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">1. Set Fields to Update</h3>
					</div>
					<div class="panel-body">
						<form id="EditForm" class="form-horizontal">
							@Html.HiddenFor(m => m.UpdateFields.MemoReason)
							<div class="text-info"><em>Only non-empty fields will get updated</em><br /><br /></div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.UpdateFields.DateCode, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.UpdateFields.DateCode, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.UpdateFields.DateCode)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.UpdateFields.GameName, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.UpdateFields.GameName, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.UpdateFields.GameName)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.UpdateFields.FunctionId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.LookupFor(m => m.UpdateFields.FunctionId, m => m.UpdateFields.Function, LookupAjax.Functions, true)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.UpdateFields.Position, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.UpdateFields.Position, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.UpdateFields.Position)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.UpdateFields.ReceiveDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.UpdateFields.ReceiveDate, new { @class = "form-control datepicker" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.UpdateFields.SubmitDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.UpdateFields.SubmitDate, new { @class = "form-control datepicker" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.UpdateFields.Version, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.UpdateFields.Version, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.UpdateFields.Version)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.UpdateFields.ManufacturerBuildId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.UpdateFields.ManufacturerBuildId, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.UpdateFields.ManufacturerBuildId)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.UpdateFields.LetterNumber, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.UpdateFields.LetterNumber, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.UpdateFields.LetterNumber)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.UpdateFields.ChipTypeId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.LookupFor(m => m.UpdateFields.ChipTypeId, m => m.UpdateFields.ChipType, LookupAjax.ChipTypes, false)
									@Html.ValidationMessageFor(m => m.UpdateFields.ChipTypeId)
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">2. Select Records to Update</h3>
			</div>
			<div class="panel-body" id="ComponentsPartialView">
				@{ Html.RenderPartial("_Components", Model.Components); }
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script>
		$(function () {
			var addMemoSubmissionIds = [];
			var updateSubmissionIds = [];

			$('#ComponentsPartialView').on('change', '#CheckAll', function () {
				$('.componentUpdate').prop('checked', $(this).is(':checked'));
			});

			$('#ClearBtn').on('click', function () {
				$('#SuccessMsg').hide();
				$('#ProcessingMsg').hide();
				$('#CheckAll').prop('checked', false).trigger('change');
				$('#EditForm').trigger('reset');
			});

			$('#ProcessBtn').on('click', function () {
				$('#SuccessMsg').hide();

				var editForm = $('#EditForm');
				editForm.validate();
				if (!editForm.valid()) {
					return;
				}

				updateSubmissionIds = $('.componentUpdate:checked').map(function () { return this.value; }).get();

				if (updateSubmissionIds.length === 0) {
					bootbox.alert('At least one record must be checked');
					return false;
				}

				var requireMemo = false;
				var mNewReceiveDate = moment($('#UpdateFields_ReceiveDate').val(), 'l');
				var mNewSubmitDate = moment($('#UpdateFields_SubmitDate').val(), 'l');

				if (mNewReceiveDate.isValid() || mNewSubmitDate.isValid()) {
					updateSubmissionIds.forEach(function (submissionId) {
						var mReceiveDate = moment($('#ReceiveDate' + submissionId).text(), 'l');
						var mSubmitDate = moment($('#SubmitDate' + submissionId).text(), 'l');

						if (mNewReceiveDate.isValid()) {
							if (mReceiveDate.diff(mNewReceiveDate, 'days') > 6) {
								requireMemo = true;
								addMemoSubmissionIds.push(submissionId);
							}
						}

						if (mNewSubmitDate.isValid()) {
							if (mSubmitDate.diff(mNewSubmitDate, 'days') > 6) {
								requireMemo = true;
								addMemoSubmissionIds.push(submissionId);
							}
						}
					});
				}

				if (requireMemo) {
					bootbox.prompt("Please enter a reason for backdating Submit/Receive Date", function (result) {
						if (!Em(result)) {
							$('#UpdateFields_MemoReason').val(result);
							processBulkUpdate();
						}
						else {
							return;
						}
					});
				}
				else {
					processBulkUpdate();
				}
			});

			$('[data-hide]').on('click', function () {
				$(this).closest('.' + $(this).attr('data-hide')).hide();
			});

			function processBulkUpdate() {
				$('#ProcessingMsg').show();

				var form = $('#EditForm').serializeObject();
				form['UpdateFields.UpdateSubmissionIds'] = updateSubmissionIds;
				form['UpdateFields.AddMemoSubmissionIds'] = addMemoSubmissionIds;

				$.post('@Url.Action("process", "submissionbulkupdate")', form)
					.done(function () {
						var dateCode = $('#UpdateFields_DateCode').val();
						var gameName = $('#UpdateFields_GameName').val();
						var functionText = $('#UpdateFields_Function').val();
						var position = $('#UpdateFields_Position').val();
						var receiveDate = $('#UpdateFields_ReceiveDate').val();
						var submitDate = $('#UpdateFields_SubmitDate').val();
						var version = $('#UpdateFields_Version').val();

						for (var i = 0; i < updateSubmissionIds.length; i++) {
							if (!Em(dateCode)) {
								$('#DateCode' + updateSubmissionIds[i]).text(dateCode);
							}

							if (!Em(gameName)) {
								$('#GameName' + updateSubmissionIds[i]).text(gameName);
							}

							if (!Em(functionText)) {
								$('#Function' + updateSubmissionIds[i]).text(functionText);
							}

							if (!Em(position)) {
								$('#Position' + updateSubmissionIds[i]).text(position);
							}

							if (!Em(receiveDate)) {
								$('#ReceiveDate' + updateSubmissionIds[i]).text(receiveDate);
							}

							if (!Em(submitDate)) {
								$('#SubmitDate' + updateSubmissionIds[i]).text(submitDate);
							}

							if (!Em(version)) {
								$('#Version' + updateSubmissionIds[i]).text(version);
							}
						}

						addMemoSubmissionIds = [];
						$('#UpdateFields_MemoReason').val('');
						$('#ProcessingMsg').hide();
						$('#SuccessMsg').show();
					});
			}
		});
	</script>
}