﻿<template>
	<main :class="{ 'gli-base-sidebar-view--no-padding': noSidebarPadding }">
		<header>
			<div class="row">
				<div
					id="gli-base-sidebar-view-header"
					class="col-xs-12 col-sm-3 col-lg-2 text-center">
					<h4>{{ title }}</h4>
				</div>
				<div
					id="gli-base-sidebar-view-actions"
					class="col-xs-12 col-sm-9 col-lg-10 text-right">
					<slot name="actions"></slot>
				</div>
			</div>
		</header>
		<div class="row">
			<nav
				id="gli-base-sidebar-view-sidebar"
				class="col-sm-3 col-lg-2">
				<div id="gli-base-sidebar-view-sidebar-content">
					<slot name="sidebar"></slot>
				</div>
				<div id="gli-base-sidebar-view-sidebar-button">
				</div>
			</nav>
			<section
				id="gli-base-sidebar-view-content"
				class="col-sm-9 col-lg-10">				
				<slot></slot>
			</section>
		</div>
	</main>
</template>

<script>
/**
 * A view that provides a header and sidebar for your content. View action buttons should be placed
 * in the `actions` template slot, and sidebar content should go into the `sidebar` template slot.
 */
export default {
	props: {
		/**
		 * Removes padding from the sidebar element. 
		 * Useful when the contents need to take up the entire sidebar.
		 */
		noSidebarPadding: {
			type: Boolean,
			required: false
		},
		/**
		 * The name of the view to display in the top left corner.
		 */
		title: {
			type: String,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Screen";
	@use "@/components/theme/Spacing";

	main {
		/* Fixes margin issue with nav header */
		margin-top: -8px;

		.row {
			margin: 0;
		}
	}

	header {
		background: linear-gradient(Colors.$blue, Colors.$blueLight);
		color: Colors.$white;

		#gli-base-sidebar-view-actions {
			padding: Spacing.$full;
		}

		#gli-base-sidebar-view-header {
			border-right: 2px solid Colors.$blue;
			padding: Spacing.$full 0;
		}

		h4 {
			font-size: 20px;
			line-height: 20px;
			margin: 6px 0 5px;
		}
	}

	nav#gli-base-sidebar-view-sidebar {
		border-right: 2px solid Colors.$gray;
		padding: Spacing.$full;

		.gli-base-sidebar-view--no-padding & {
			padding: 0;
		}

		// TODO: implement collapse/expand
		#gli-base-sidebar-view-sidebar-button {
			padding: Spacing.$full;

			a,
			button {
				width: 100%;
			}
		}

		@media (max-width: Screen.$sm) {
			overflow: hidden; // fixes an odd bug
			padding: Spacing.$full Spacing.$full 0;

			#gli-base-sidebar-view-sidebar-button {
				display: none;
			}
		}

		@media (min-width: Screen.$sm) {
			height: calc(100vh - 81px);
			overflow-y: auto;
		}
	}

	#gli-base-sidebar-view-content {
		padding: Spacing.$full;

		@media (min-width: Screen.$sm) {
			height: calc(100vh - 81px);
			overflow-y: auto;
		}
	}
</style>