﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Cabinets</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<a-link href="/lookups/cabinets/edit" class="btn btn-sm btn-primary">Add</a-link>
				<a-link href="/tools" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="row">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Cabinet</th>
						<th>Manufacturer Group</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(cabinet, index) in vm">
						<td :class="getRowClass(cabinet)">{{cabinet.cabinet}}</td>
						<td :class="getRowClass(cabinet)">{{cabinet.manufacturerGroup}}</td>
						<td class="text-right">
							<a :href="editLink + '?id=' + cabinet.id">Edit</a> |
							<a :href="toggleActiveLink + '?id=' + cabinet.id">{{cabinet.active ? 'Deactivate' : 'Activate'}}</a>
							<span v-if="!cabinet.active"><a @click="checkCabinetLink(cabinet)" style="cursor: pointer;"> | Delete</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	export default {
		components: {
			ALink
		},
		data: function () {
			return {
				editLink: editLink,
				deleteLink: deleteLink,
				toggleActiveLink: toggleActiveLink,
				vm: initialData
			}
		},
		methods: {
			getRowClass: function (cabinet) {
				return cabinet.active ? 'normal' : 'text-red';
			},
			checkCabinetLink: function (cabinet) {
				const self = this;
				bootbox.confirm("Are you sure you want to delete the cabinet " + cabinet.cabinet + "? ", function (result) {
					if (result) {
						self.$http.get('Lookups/Cabinets/CheckTempTable', {
							params: {
							id: cabinet.id
							}
						})
						.then(function (data) {
							if (data.data == true) {
								alert('Cannot delete this cabinet since it is being used in a flat file submission.');
							} else {
								self.$http.post(deleteLink, {
									id: cabinet.id,
								}).then(response => {
									window.location.reload();
								})
							}
						})
					}
				});
			}
		}
	}
</script>