﻿@{
	ViewBag.Title = "Reports";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
</div>

<h5>Data Lists</h5>
<ul>
	<li>@Html.ActionLink("Jurisdictions", "Index", "JurisdictionalData")</li>
	<li>@Html.ActionLink("Projects", "Index", "Projects")</li>
	<li>@Html.ActionLink("Submissions", "Index", "Submissions")</li>
	<li>@Html.ActionLink("Tasks", "Index", "Tasks")</li>
</ul>

<h5>Other</h5>
<ul>
	<li>@Html.ActionLink("History Log", "Index", "HistoryLog")</li>
</ul>