﻿<template>
	<div>
		<base-sidebar-view title="Edit Note">
			<template #actions>
				<base-button v-if="letterContent.memos.length > 0" inverse-style :onclick="(evt) => handle__openModal()">Configure Memo Order</base-button>
				<Base-Button v-show="currentView === 'Memo' && currentMemo.id > 0" :onclick="handle__viewLineage">View History <i class="fas fa-history"></i></Base-Button>
				<base-button inverse-style
							 href="/documents/notemanager/">
					Close
				</base-button>
				<Base-Button v-show="showSaveButton" :onclick="handle__save" :inverseStyle="true" :isPrimary="true">
					<template v-if="currentlySaving">
						Saving
						<i class="fa fa-spinner fa-spin"></i>
					</template>
					<template v-else>
						Save
						<i class="fa fa-save"></i>
					</template>
				</Base-Button>
			</template>
			<template #sidebar>
				<div class="sideBar__container">
					<div :class="[{ selected: isSelected('LetterContent', null) },'sideBar__item']">
						<div :class="[{ selectedText: isSelected('LetterContent', null) }]">
							<i class="far fa-folder"></i>
						</div>
						<div :class="[ { selectedText: isSelected('LetterContent', null) },'sideBar__item__part']">
							<p @click="handle__setCurrentView('LetterContent')">Letter Content</p>
						</div>
					</div>
					<div class="sideBar__item__NoHover">
						<div>
							<div><i class="far fa-sticky-note"></i></div>
						</div>
						<div class="sideBar__item__part">Memos ( {{letterContent.memos.length}} )</div>
					</div>
					<div class="sidebar__subMenu__Wrapper">
						<div class="sideBar__container sidebar__subMenu__container" v-for="memo in letterContent.memos">
							<div :class="[{ selected: isSelected('Memo', memo.localId) }, { selectedText: isSelected('Memo', memo.localId) },'sidebar__subMenu__item']">
								<p @click="handle__setCurrentMemo(memo.localId)" :title="memo.name">{{ memo.name | truncate(50) }}</p>
							</div>
						</div>
					</div>
					<div class="sideBar__item__NoHover">
						<base-button :onclick="handle__addMemo" :isPrimary="true">Add Memo</base-button>
					</div>
				</div>
			</template>
			<div>
				<div v-if="saveResult === false"
					 class="alert alert-danger"
					 role="alert">
					{{ saveError }}
				</div>
				<div v-if="saveResult === true"
					 class="alert alert-success"
					 role="alert">
					The note was saved successfully.
				</div>
				<keep-alive>
					<component :is="currentView" v-bind="currentProperties"></component>
				</keep-alive>
			</div>
		</base-sidebar-view>
		<Modal v-if="showOrderConfigurationModal">
			<template #header>
				<h2 class="highlight">Order Memos</h2>
			</template>
			<template #body>
				<BaseOrderedList :list="letterContent.memos">
					<template #header>
						<h2 class="highlight">Memos</h2>
					</template>
				</BaseOrderedList>
			</template>
			<template #footer>
				<base-button :onclick="(evt) => handle__closeModal()">Close</base-button>
			</template>
		</Modal>
	</div>
</template>
<script>
	import api from '../../../api/noteManager';
	import { required, alphaNum, minLength, between, minValue, numeric, requiredIf } from 'vuelidate/lib/validators';

	import LetterContent from '@/components/documents/noteManager/LetterContent.vue';
	import Memo from '@/components/documents/noteManager/Memo.vue';
	import MemoLineageListView from '@/components/documents/noteManager/MemoLineageListView.vue';
	import Modal from '@/components/utility/Modal.vue';

	import { createNamespacedHelpers } from 'vuex';
	const { mapActions: mapNotesManagerActions, mapGetters: mapNotesManagaerGetters } = createNamespacedHelpers('notesManager');
	const { mapState: mapMockMemoDataState, mapGetters: mapMockMemoDataGetters, mapActions: mapMockMemoDataActions } = createNamespacedHelpers('notesManagerMockMemoData');

	export default {
		created: function () {
			this.initalize(initialData);
			this.letterContentId = this.letterContent.id;
			this.handle__setMockMemoData(initialData.mockMemoData);

			if (this.$route.query.memoId) {
				let targetMemo = this.letterContent.memos.find(x => x.id == this.$route.query.memoId);
				if (targetMemo)
					this.handle__setCurrentMemo(targetMemo.localId);
			}
		},
		components: {
			LetterContent,
			MemoLineageListView,
			Memo,
			Modal
		},
		data() {
			return {
				userHasRightsToSave: initialData.userHasRightsToSave,
				mode: initialData.mode,
				rootEditUrl: rootEditUrl,
				letterContentId: 0,
				saveResult: null,
				saveError: null,
			}
		},
		computed: {
			state: function () {
				return this.$store.state.notesManager;
			},

			showSaveButton: function () {
				let result = false;

				if (this.currentView == 'MemoLineageListView') {
					result = false;
				}
				else if (this.currentView == 'LetterContent' && this.userHasRightsToSave && !this.currentMemoIsDeprecated) {
					result = true;
				}
				else if (this.userHasRightsToSave && !this.currentMemoIsDeprecated) {
					result = true;
				}

				return result;
			},
			letterContentString: function () {
				return JSON.stringify(this.letterContent);
			},
			...mapNotesManagaerGetters(['currentView', 'letterContent', 'currentlySaving', 'showSaveSuccessToast', 'currentMemo', 'currentMemoIsDeprecated', 'showOrderConfigurationModal']),
			currentProperties: function () {
				if (this.currentView == 'MemoLineageListView') {
					return { id: this.currentMemo.id, originialId: this.currentMemo.version.originalId }
				}
				if (this.currentView == 'LetterContent' || 'Memo') {
					return { $v: this.$v }
				}
			}
		},
		methods: {
			...mapNotesManagerActions(['initalize', 'setCurrentView', 'setLetterContent', 'saveLetterContent', 'setCurrentlySaving', 'toggleShowSaveSuccessToast', 'setCurrentMemo', 'addMemo', 'resetCurrentMemo', 'setShowOrderConfigurationModal', 'setMemoOrder']),
			...mapMockMemoDataActions(['setMockMemoData']),
			handle__validation: async function () {
				this.saveResult = null;
				if (this.validate()) {

					let letterContent = {
						isValid: !(this.$v.state.letterContent['description'].$error || this.$v.state.letterContent['name'].$error || this.$v.state.letterContent['sectionId'].$error)
					}

					let validationLevel = letterContent.isValid ? `Memo` : `Letter Content`;

					this.saveError = `Validation errors occured at the ${validationLevel} level, please review the ${validationLevel} for errors.`;
					if (!this.letterContent.memos.length)
						this.saveError = 'Please create atleast one memo, notes without memos are not allowed.';

					if (this.letterContent.memos.map(x => { return [...x.validations] }).flat().some(x => !x.answer && !x.conditionalAnswer))
						this.saveError = 'One or more validation links does not have an answer, please review and correct.';

					this.saveResult = false;
					return;
				}
								
				this.saveError = null;
				this.setCurrentlySaving(true);

				this.setMemoOrder();

				await this.saveLetterContent()
					.then(() => {
						this.setCurrentlySaving(false);
						if (this.letterContentId !== this.letterContent.id) {
							this.handle__redirect();
						}
						this.resetCurrentMemo();
						this.setCurrentView('LetterContent');
					}).then(() => {
						this.saveResult = true;
						setTimeout(() => {
							this.saveResult = null;
							this.saveError = null;
						}, 5000);
					})
					.catch(e => {
						this.setCurrentlySaving(false);
						this.saveResult = false;
						this.saveError = "There was an unknown error saving this memo.";
						console.error(e);
					});
			},
			handle__save: async function () {
				
				let result = await this.validateQuestionState();
				if (result.length > 0) {
					let distinctResult = [...new Set(result.map(x => x.name))];
					let questionMessage = distinctResult.reduce((prevVal, currVal) => { return `${prevVal} ${currVal}<br>` }, `The following Question(s) have changed since you opened the memo for editing...<br>`);
					questionMessage += `Do you wish to continue saving ? <br> If you answer yes please be sure to reopen this memo and confirm the questions are still valid.`;
					bootbox.confirm(questionMessage, (result) => {
						if (result) {
							this.handle__validation();
						}
					});
				}
				else {
					this.handle__validation();
				}
			},
			handle__setCurrentView: function (viewName) {
				this.setCurrentView(viewName);
			},
			handle__redirect: function () {
				let redirectUrl = this.rootEditUrl;
				if (redirectUrl.startsWith("/")) {
					redirectUrl = `${jsPath}${this.rootEditUrl.slice(1)}`;
				}
				window.location.href = redirectUrl + this.letterContent.id;
			},
			handle__setCurrentMemo: function (localId) {
				this.setCurrentMemo(localId);
				this.setCurrentView('Memo');
			},
			handle__setMockMemoData: function (mockData) {
				this.setMockMemoData(mockData);
			},
			handle__viewLineage: function () {
				this.handle__setCurrentView('MemoLineageListView');
			},

			handle__addMemo: function () {
				this.addMemo(0).then((result) => {
					this.setCurrentMemo(result);
					this.setCurrentView('Memo');
				});
			},
			isSelected: function (viewName, localId) {
				if (localId)
					return localId === this.currentMemo.localId && this.currentView !== 'LetterContent';
				return viewName === this.currentView;
			},
			handle__openModal: function () {
				this.setShowOrderConfigurationModal(true);
			},
			handle__closeModal: function () {
				this.setShowOrderConfigurationModal(false);
			},
			validate: function () {
				this.saveResult = null;
				this.$v.$reset();
				this.$v.$touch();
				return this.$v.$invalid;
			},
			validateQuestionState: async function () {
				let promises = [];
				let changedQuestions = [];
				for (let i = 0; i < this.letterContent.memos.length; i++) {
					if (this.letterContent.memos[i].questions.length) {
						promises.push(
							api.post_validateMemoQuestions(this.letterContent.memos[i].questions)
								.then(response => {
									changedQuestions = [...changedQuestions, ...response.data];
								})
						)
					}
				}

				await Promise.all(promises);

				return changedQuestions;
			}


		},
		validations: {
			state: {
				letterContent: {
					name: {
						required,
					},
					description: {
						required
					},
					sectionId: {
						required,
						minValue: minValue(1)
					},
					memos: {
						required,
						minlength: minLength(1),
						$each: {
							localId: {},
							name: {
								required,
							},
							description: {
								required
							},
							idNumbers: {
								$each: {
									idNumber: {
										required 
									},
									compareCriteriaId: {
										required
									}
								}
							},
							gameNames: {
								$each: {
									gameName: {
										required
									},
									compareCriteriaId: {
										required
									}
								}
							},
							languageId: {
								required,
							},
							content: {
								required
							},
							sourceProperty: {},
							orderId: {
								numeric,
								minValue: minValue(1)
							},
							validations: {
								$each: {
									answer: {
										required : requiredIf(function(thisObj) {
											return (thisObj.conditionalAnswer == null)
										})
									},
									conditionalAnswer: {
										required : requiredIf(function(thisObj) {
											return (thisObj.answer == null)
										})
									},
								}
							}
						}
					}
				}
			}
		}
	}
</script>
<style scoped>
	.highlight {
		color: #0081DF;
	}

	.sideBar__container {
		margin-left: 2px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		font-size: 15px;
	}

	.sideBar__item {
		display: flex;
		padding-left: 10px;
		border-left: 5px solid white;
		min-height: 20px;
	}

		.sideBar__item:hover {
			cursor: pointer;
			padding: 10px;
			color: #0081DF;
			background-color: RGBA(0, 129, 223, 0.08);
		}

	.sideBar__item__part {
		flex: 1 1 auto;
		padding-left: 10px;
	}

	.sideBar__item__NoHover {
		display: flex;
		min-height: 20px;
		padding-left: 10px;
		border-left: 5px solid white;
	}

	.sidebar__subMenu__Wrapper {
		padding-bottom: 5px;
	}

	.sidebar__subMenu__container {
		margin-left: 25px;
	}

	.sidebar__subMenu__item {
		display: flex;
		padding-left: 10px;
		border-left: 5px solid white;
	}

		.sidebar__subMenu__item:hover {
			cursor: pointer;
			padding: 10px;
			color: #0081DF;
			background-color: RGBA(0, 129, 223, 0.08);
		}

	.selected {
		border-left: 5px solid #0081DF;
	}

	.selectedText {
		color: #0081DF;
		font-weight: bolder;
	}
</style>