﻿<template>
	<div class="flex__container">
		<div class="flex__item" title="Format Text Tags">
			<div>
				<multiselect v-model="vm.selectedParagraphFormat.value" :options="vm.selectedParagraphFormat.options"
							 track-by="name" label="name" placeholder="Select one">
					<template slot="option" slot-scope="props">
						<BaseDynamicTag :tagType="props.option.tag" :content="props.option.name" />
					</template>
				</multiselect>
			</div>
		</div>
		<div class="flex__item" title="Section Tags">
			<div>
				<multiselect v-model="vm.selectedSectionTag.value" :options="vm.selectedSectionTag.options" track-by="name"
							 label="name" placeholder="Select one">
					<template slot="option" slot-scope="props">
						{{props.option.name}}
					</template>
				</multiselect>
			</div>
		</div>
		<div class="flex__item">
			<div class="editor__container">
				<i title="Bold" class="fas fa-bold fa-lg" @click="$emit('selected-bold',{name:'Bold', tag:'b'})"></i>
			</div>
		</div>
		<div class="flex__item">
			<div class="editor__container">
				<i title="Italic" class="fas fa-italic fa-lg" @click="$emit('selected-italic',{name:'Italic', tag:'i'})"></i>
			</div>
		</div>
		<div class="flex__item">
			<div class="editor__container">
				<i title="Strikethrough" class="fas fa-strikethrough fa-lg" @click="$emit('selected-strike-through',{name:'StrikeThrough', tag:'s'})"></i>
			</div>
		</div>
		<div class="flex__item">
			<div class="editor__container">
				<i title="Ordered List" class="fas fa-list-ol fa-lg" @click="$emit('selected-numbered-list', {name:'Numbered List', tag:'ol'})"></i>
			</div>
		</div>
		<div class="flex__item">
			<div class="editor__container">
				<i title="Un-Ordered List" class="fas fa-list-ul fa-lg" @click="$emit('selected-bulleted-list', {name:'Bulleted List', tag:'ul'})"></i>
			</div>
		</div>
		<div class="flex__item">
			<div class="editor__container">
				<i title="Wrap in conditional" class="fas  fa-magic fa-lg" @click="$emit('selected-v-if')"></i>
			</div>
		</div>
		<div class="flex__item">
			<div>
				<base-select id="jurisdictionFilter"
							 v-model="previewJurisdiction"
							 placeholder="Select Jurisdiction"
							 label="text"
							 track-by="id"
							 :options="filterOptions.jurisdictionIds"
							 :multiple="false"
							 :searchable="true"
							 :options-limit="300"
							 :hide-selected="true"
							 @search-change="asyncFind"
							 @open="openAndAsyncFind">
				</base-select>
			</div>
		</div>
		<!--<div class="flex__item"><button @click="$emit('selected-v-if','v-if')">Build Conditional</button> </div>
		<div class="flex__item"><button @click="$emit('selected-v-for','v-for')">Build Iteration</button> </div>-->
	</div>
</template>

<script>
	import lookupsAPI from '../../../api/lookups';
	import { createNamespacedHelpers } from 'vuex';
	const { mapState: mapMockMemoDataState, mapGetters: mapMockMemoDataGetters, mapActions: mapMockMemoDataActions } = createNamespacedHelpers('notesManagerMockMemoData');
	import Multiselect from 'vue-multiselect'
	export default {
		components: {
			Multiselect,
		},
		data() {
			return {
				vm: {
					selectedParagraphFormat: {
						value: {},
						options: [{
							id: 1,
							name: 'Paragraph',
							tag: 'p'
						},
						{
							id: 2,
							name: 'Heading 1',
							tag: 'h1'
						},
						{
							id: 3,
							name: 'Heading 2',
							tag: 'h2'
						},
						{
							id: 4,
							name: 'Heading 3',
							tag: 'h3'
						},

						]
					},
					selectedSectionTag: {
						value: {},
						options: [{
							id: 1,
							name: 'Division',
							tag: 'div'
						},
						{
							id: 2,
							name: 'Span',
							tag: 'span'
						},
						{
							id: 3,
							name: 'Template',
							tag: 'template'
						}
						]
					},
				},
				filterOptions: {
					jurisdictionIds: [],
				},

			}
		},
		watch: {
			'vm.selectedParagraphFormat.value': function (val, oldVal) {
				if (val != oldVal && val != null) {
					this.$emit('selected-paragraph-format', val);
					this.vm.selectedParagraphFormat.value = null;
				}
			},
			'vm.selectedSectionTag.value': function (val, oldVal) {
				if (val != oldVal && val != null) {
					this.$emit('selected-section-tag', val);
					this.vm.selectedSectionTag.value = null;
				}
			}
		},
		computed: {
			...mapMockMemoDataGetters([
				'letterPreviewJurisdiction'
			]),
			previewJurisdiction: {
				set(jurisdiction) {
					this.setLetterPreviewJurisdiction(jurisdiction.id);
				},
				get() {
					return this.letterPreviewJurisdiction;
				}
			}
		},
		methods: {
			...mapMockMemoDataActions(['setLetterPreviewJurisdiction']),
			openAndAsyncFind: function (elementID) {
				let filter = {
					searchTerm: "",
					pageSize: 5
				};
				this.getData(filter, elementID);
			},
			getData: function (filter, elementID) {
				lookupsAPI.get_jurisdictions(filter)
					.then(response => {
						this.filterOptions.jurisdictionIds = response.data.Results;
						//Adding this for now. Change current base-select to new base lookup when it is done because it supports template
						this.filterOptions.jurisdictionIds.forEach(x => {
							if (x.id) {
								x.text = x.text + " (" + x.id + ")";
							}
						});
					});
			},
			asyncFind: _.debounce(function (query, elementID) {
				let filter = {
					searchTerm: query,
					pageSize: 5
				};
				this.getData(filter, elementID);
			}, 500),
		}
	}
</script>

<style scoped>
	.flex__container {
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
		background-color: #f8f8f8;
	}

	.flex__item {
		flex: 1 0 auto;
		padding-left: 10px;
	}

	.editor__container {
		background-color: #f8f8f8;
		cursor: pointer;
	}

		.editor__container :hover {
			background: #e5e5e5;
			border: 1px #bcbcbc solid;
			padding: 3px 5px;
		}
</style>