﻿<template>
	<base-header-view
		:title="'Note Manager'"
		:fixed-width="true">
		<template #actions>
			<base-button
				inverse-style
				href="/tools">
				Close
			</base-button>
			<base-button
				:is-primary="true"
				inverse-style
				href="/documents/notemanager/edit/">
				Add
			</base-button>
		</template>
		<div id="filter-container">
			<InfoBlock :title="'Search Filters'">
				<div class="flex-wrapper-flex-end">
					<div>
						<base-button @click="handle__clearFilters">
							Clear
						</base-button>
						<base-button :is-primary="true"
									 :onclick="(evt) => handle__searchForMemos()">
							<template v-if="pageOptions.isLoading">
								Search
								<i class="fa fa-spinner fa-spin"></i>
							</template>
							<template v-else>
								Search
								<i class="fa fa-search"></i>
							</template>
						</base-button>
					</div>
				</div>
				<base-field-labels title="Memo ID"
								   help-text="Search for memos by ID as copied from the letter gen page. Searching by ID will skip over other search fields.">
					<base-input :field-validation="$v.vm.filter.memoID"
								v-model="vm.filter.memoID">
						<template v-slot:errors>
						</template>
					</base-input>
				</base-field-labels>
				<base-field-labels title="Name"
								   help-text="Search for memos by name containing this text.">
					<base-input :field-validation="$v.vm.filter.name"
								v-model="vm.filter.name">
						<template v-slot:errors>
						</template>
					</base-input>
				</base-field-labels>
				<base-field-labels title="Description"
								   help-text="Search for memos by description containing this text.">
					<base-input :field-validation="$v.vm.filter.description"
								v-model="vm.filter.description">
						<template v-slot:errors>
						</template>
					</base-input>
				</base-field-labels>
				<base-field-labels title="Letter Content Name"
								   help-text="Search for memos by Letter content name containing this text.">
					<base-input :field-validation="$v.vm.filter.letterContentName"
								v-model="vm.filter.letterContentName">
						<template v-slot:errors>
						</template>
					</base-input>
				</base-field-labels>
				<base-field-labels title="Letter Content(template)"
								   help-text="Search for memos by Letter content containing this text.">
					[ <a @click="addLetterContentText" style="cursor:pointer"> <i class="fas fa-plus" aria-hidden="true"></i>  Add Search Text </a>]
					<template v-for="(item,index) in vm.filter.letterContentTexts ">
						<div class="row">
							<div class="col-sm-7">
								<base-input :field-validation="$v.vm.filter.letterContentTexts.$each[index]"
											v-model="vm.filter.letterContentTexts[index]">
									<template v-slot:errors>
									</template>
								</base-input>
							</div>
							<div class="col-sm-3">
								[ <A class="pointer" @click="deleteLetterContentText(index)" title="Delete"><i class="far fa-trash-alt" style="font-size:15px;color:red"></i> Delete ]</A>
							</div>
						</div>

					</template>
				</base-field-labels>
				<div class="flexWrapper">
					<div class="flexItem">
						<base-field-labels title="Manufacturer(s)"
										   help-text="Search for memos by manufactuer associations.">
							<base-lookup v-model="vm.filter.manufacturerCodes"
										 lookup-ajax="manufacturers"
										 placeholder="Select Manufacturer(s)"
										 :multiple="true">
							</base-lookup>
						</base-field-labels>
					</div>
					<div class="flexItem">
						<base-field-labels title="Manufacturer(s) (Do NOT Apply)"
										   help-text="Search for memos by manufactuers (Do NOT Apply) associations.">
							<base-lookup v-model="vm.filter.manufacturerCodesNotIncluded"
										 lookup-ajax="manufacturers"
										 placeholder="Select Manufacturer(s)"
										 :multiple="true">
							</base-lookup>
						</base-field-labels>
					</div>
				</div>
				<div class="flexWrapper">
					<div class="flexItem">
						<base-field-labels title="Jurisdiction(s)"
										   help-text="Search for memos by jurisdiction associations.">
							<base-lookup v-model="vm.filter.jurisdictionIds"
										 lookup-ajax="jurisdictions"
										 placeholder="Select Jurisdiction(s)"
										 :multiple="true">
							</base-lookup>
						</base-field-labels>
					</div>
					<div class="flexItem">
						<base-field-labels title="Jurisdiction(s) (Do NOT Apply)"
										   help-text="Search for memos by jurisdiction (Do NOT Apply) associations.">
							<base-lookup v-model="vm.filter.jurisdictionIdsNotIncluded"
										 lookup-ajax="jurisdictions"
										 placeholder="Select Jurisdiction(s)"
										 :multiple="true">
							</base-lookup>
						</base-field-labels>
					</div>
				</div>

				<div class="flexWrapper">
					<div class="flexItem">
						<base-field-labels title="Section(s)"
										   help-text="Search for memos by section.">
							<base-lookup v-model="vm.filter.sectionIds"
										 lookup-ajax="letterContentSection"
										 placeholder="Select Section(s)"
										 :multiple="true">
							</base-lookup>
						</base-field-labels>
					</div>
					<div class="flexItem">
						<base-field-labels title="Chip Type(s)"
										   help-text="Search for memos by chip types.">
							<base-lookup v-model="vm.filter.chipTypeIds"
										 lookup-ajax="ChipTypes"
										 placeholder="Select Chip Type(s)"
										 :multiple="true">
							</base-lookup>
						</base-field-labels>
					</div>
				</div>
				<base-field-labels title="Secondary Language Options">
					<base-checkbox :disabled="vm.filter.doesNotHaveASecondaryLanguage"
								   :field-validation="$v.vm.filter.hasASecondaryLanguage"
								   v-model="vm.filter.hasASecondaryLanguage"
								   label="Only Memos including a Secondary Language" />
					<base-checkbox :disabled="vm.filter.hasASecondaryLanguage"
								   :field-validation="$v.vm.filter.doesNotHaveASecondaryLanguage"
								   v-model="vm.filter.doesNotHaveASecondaryLanguage"
								   label="Only Memos with-out a Secondary Language" />
					<base-lookup v-show="vm.filter.hasASecondaryLanguage"
								 v-model="vm.filter.secondaryLanguageIds"
								 lookup-ajax="language"
								 placeholder="Select Secondary Language(s)"
								 :multiple="true">
					</base-lookup>
				</base-field-labels>
				<div class="flexWrapper">
					<div class="flexItem">
						<base-field-labels title="Game Name"
										   help-text="Search for memos by Game Name associations.">
							<div class="row">
								<div class="col-xs-5">
									<base-lookup v-model="vm.filter.gameNameCompareCriteriaId"
												 lookup-ajax="LetterContentCompareCriteria"
												 placeholder="Select Criteria">
									</base-lookup>
								</div>
								<div class="col-xs-7">
									<base-input :field-validation="$v.vm.filter.gameName"
												v-model="vm.filter.gameName">
										<template v-slot:errors>
										</template>
									</base-input>
								</div>
							</div>
						</base-field-labels>
					</div>
				</div>
				<div class="flexWrapper">
					<div class="flexItem">
						<base-field-labels title="Submission Type(s)" help-text="Search for memos by submission type associations.">
							<base-lookup v-model="vm.filter.subTypeIds"
										 lookup-ajax="SubmissionTypes"
										 placeholder="Select Submission Type(s)"
										 :multiple="true">
							</base-lookup>
						</base-field-labels>
					</div>
					<div class="flexItem">
						<base-field-labels title="ID Number"
										   help-text="Search for memos by ID Number associations.">
							<div class="row">
								<div class="col-xs-5">
									<base-lookup v-model="vm.filter.compareCriteriaId"
												 lookup-ajax="LetterContentCompareCriteria"
												 placeholder="Select Criteria">
									</base-lookup>
								</div>
								<div class="col-xs-7">
									<base-input :field-validation="$v.vm.filter.idNumber"
												v-model="vm.filter.idNumber">
										<template v-slot:errors>
										</template>
									</base-input>
								</div>
							</div>
						</base-field-labels>
					</div>
				</div>
				<div class="flexWrapper">
					<div class="flexItem">
						<base-field-labels title="Function(s)"
										   help-text="Search for memos by Functions associations.">
							<base-lookup v-model="vm.filter.functionIds"
										 lookup-ajax="functions"
										 placeholder="Select Function(s)"
										 :multiple="true">
							</base-lookup>
						</base-field-labels>
					</div>
					<div class="flexItem">
						<base-field-labels title="Testing Type(s)"
										   help-text="Search for memos by Testing Type associations.">
							<base-lookup v-model="vm.filter.testingTypeIds"
										 lookup-ajax="TestingTypes"
										 placeholder="Select Testing Type(s)"
										 :multiple="true">
							</base-lookup>
						</base-field-labels>
					</div>
				</div>

				<div class="flexWrapper">
					<div class="flexItem">
						<base-field-labels title="Platforms(s)"
										   help-text="Search for memos by Platforms associations.">
							<base-lookup v-model="vm.filter.platforms"
										 lookup-ajax="Platforms"
										 placeholder="Select Platforms(s)"
										 :multiple="true">
							</base-lookup>
						</base-field-labels>
					</div>
					<div class="flexItem">
						<base-field-labels title="Signature Scope(s)"
										   help-text="Search for memos by Signature scope associations.">
							<base-lookup v-model="vm.filter.signatureScopeIds"
										 lookup-ajax="SignatureScopes"
										 placeholder="Select Signature Scope(s)"
										 :multiple="true">
							</base-lookup>
						</base-field-labels>
					</div>
				</div>
				<base-field-labels title="Validation Link(s)"
								   help-text="Search for memos by Validation associations.">
					<div class="flexWrapper">
						<div class="flexItem">
							<label class="highlight">Normalized ID</label>
							<base-input :field-validation="$v.vm.filter.validationNormalizedId"
										v-model="vm.filter.validationNormalizedId">
								<template v-slot:errors>
								</template>
							</base-input>
						</div>
						<div class="flexItem">
							<label class="highlight">Containing Text</label>
							<base-input :field-validation="$v.vm.filter.validationText"
										v-model="vm.filter.validationText">
								<template v-slot:errors>
								</template>
							</base-input>
						</div>
					</div>
				</base-field-labels>
				<base-field-labels title="Add Date"
								   help-text="Search for memos by the date they were created  with this date range as the upper and lower limits.">
					<div class="flexWrapper">
						<div class="flexItem">
							<label class="highlight">Start</label>
							<date-picker v-model="vm.filter.addDateBegin"></date-picker>
						</div>
						<div class="flexItem">
							<label class="highlight">End</label>
							<date-picker v-model="vm.filter.addDateEnd"></date-picker>
						</div>
					</div>
				</base-field-labels>
				<div class="flexItem"
					 v-if="vm.allowSearchToggle">
					<base-fieldset title="Use SQL"
								   help-text="Search for memos using SQL(Debug only for IT).">
						<base-checkbox :field-validation="$v.vm.filter.useSQL"
									   v-model="vm.filter.useSQL"
									   label="Use SQL" />
					</base-fieldset>
				</div>
			</InfoBlock>
		</div>
		<div>
			<glide-grid
				id="memo-search-results"
				zebra-stripe
				full-width
				:columns="columns"
				:rows="rows"
				:paging="{
					currentPage: 1,
					numberPerPage: 10,
					enable: true,
					enableRPP: true
				}"
				:filtering="{
					enable: true
				}"
				:sorting="{
					enable: true
				}">
				<template v-slot:Actions="glide">
					<base-button :onclick="(evt) => handle__navigateToMemo(glide.row)">
						View
					</base-button>
				</template>
			</glide-grid>
		</div>
	</base-header-view>
</template>
<script>
import api from "../../../api/noteManager";
import lookupsAPI from "../../../api/lookups";
import InfoBlock from "@/components/utility/InfoBlock.vue";
import GlideGrid from "@/components/utility/GlideGrid.vue";
import DatePicker from "@/components/utility/DatePicker.vue";
import { required } from "vuelidate/lib/validators";
import cloneDeep from "lodash/clonedeep";
export default {
	created: function () {

	},
	components: {
		GlideGrid,
		DatePicker,
		InfoBlock
	},
	data() {
		const columns = [
			{
				label: "Letter Content",
				field: "letterContentName",
				filterable: true,
				style: {
					width: "200px",
					verticalAlign: "middle"
				}
			},
			{
				label: "Name",
				field: "name",
				filterable: true,
				style: {
					width: "200px",
					verticalAlign: "middle"
				}
			},
			{
				label: "Description",
				field: "description",
				filterable: true,
				filter: {
					name: "truncate",
					args: [100]
				},
				style: {
					width: "200px",
					verticalAlign: "middle"
				}
			},
			{
				label: "Secondary Language",
				field: "secondaryLanguage",
				filterable: true,
				style: {
					width: "200px",
					verticalAlign: "middle"
				}
			},
			{
				slot: "Actions",
				field: null,
				filterable: false,
				style: {
					width: "100px",
					textAlign: "right",
					verticalAlign: "middle"
				}
			}
		];
		return {
			columns,
			rows: [],
			pageOptions: {
				isLoading: false
			},
			blankFilter: cloneDeep(initialData.filter),
			filterOptions: {
				manufacturerCodes: [],
				jurisdictionIds: [],
				sectionIds: [],
				secondaryLanguageIds: [],
				functionIds: [],
				compareCriterias: [],
				subTypes: [],
				testingTypeIds: [],
				signatureScopeIds: [],
				platforms: [],
				chipTypeIds:[]
			},
			vm: {
				...initialData
			}
		};
	},
		methods: {
			addLetterContentText: function () {
				var nextText = "";
				this.vm.filter.letterContentTexts.push(nextText);
			},
			deleteLetterContentText: function (index) {
				this.vm.filter.letterContentTexts.splice(index, 1);
			},
			handle__clearFilters: function() {
				this.vm.filter = cloneDeep(this.blankFilter);
			},
			selectId: function(item) {
				return item.id;
			},
			handle__searchForMemos: function () {
				this.rows = [];
				this.pageOptions.isLoading = true;

				const searchFilter = { ...this.vm.filter };
				searchFilter.manufacturerCodes = searchFilter.manufacturerCodes.map(x => x.id);
				searchFilter.manufacturerCodesNotIncluded = searchFilter.manufacturerCodesNotIncluded.map(x => x.id);
				searchFilter.jurisdictionIds = searchFilter.jurisdictionIds.map(x => x.id);
				searchFilter.jurisdictionIdsNotIncluded = searchFilter.jurisdictionIdsNotIncluded.map(x => x.id);
				searchFilter.sectionIds = searchFilter.sectionIds.map(x => x.id);
				searchFilter.secondaryLanguageIds = searchFilter.secondaryLanguageIds.map(x => x.id);
				searchFilter.functionIds = searchFilter.functionIds.map(x => x.id);
				searchFilter.subTypeIds = searchFilter.subTypeIds.map(x => x.id);
				searchFilter.testingTypeIds = searchFilter.testingTypeIds.map(x => x.id);
				searchFilter.compareCriteriaId = !Em(searchFilter.compareCriteriaId) ? searchFilter.compareCriteriaId.id : 0;
			searchFilter.gameNameCompareCriteriaId = !Em(searchFilter.gameNameCompareCriteriaId) ? searchFilter.gameNameCompareCriteriaId.id : 0;
				searchFilter.signatureScopeIds = searchFilter.signatureScopeIds.map(x => x.id);
				searchFilter.platforms = searchFilter.platforms.map(x => x.id);
				searchFilter.chipTypeIds = searchFilter.chipTypeIds.map(x => x.id);

				api.post_searchMemos(searchFilter)
					.then(response => {
						this.rows = response.data.map(x => {
							return { letterContentName: x.letterContentName, name: x.name, description: x.description, letterContentId: x.letterContentId, secondaryLanguage: x.secondaryLanguage, id: x.id };
						});
						this.pageOptions.isLoading = false;
					});
			},
			handle__navigateToMemo: function (memo) {
				window.open(`${jsPath}${rootEditUrl.slice(1)}${memo.letterContentId}?memoId=${memo.id}`);
			}
	},
	watch: {
		"vm.filter.hasASecondaryLanguage": function (newVal) {
			if (!newVal) {
				this.vm.filter.secondaryLanguageIds.splice(0, this.vm.filter.secondaryLanguageIds.length);
				this.filterOptions.secondaryLanguageIds.splice(0, this.filterOptions.secondaryLanguageIds);
			}
		}
	},
	validations: {
		vm: {
			filter: {
				name: {},
				letterContentName: {},
				includeDeprecated: {},
				doesNotHaveASecondaryLanguage: {},
				hasASecondaryLanguage: {},
				idNumber: {},
				gameName: {},
				description: {},
				validationText: {},
				validationNormalizedId: {},
				useSQL: {},
				letterContentTexts: {
					$each: {}
				}
			}
		}
	},
};
</script>
<style lang="scss" scoped>
	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";
	@use "sass:color";

	.highlight {
		color: Colors.$blueLight;
	}

	.flex-wrapper-flex-end {
		display: flex;
		justify-content: flex-end;
	}

	.flexWrapper {
		align-items: baseline;
		display: flex;
		flex-direction: row;
		margin: Spacing.$full 0;
	}

	.flexItem:not(:first-of-type) {
		margin-left: Spacing.$double;
	}

	.flexItem {
		flex: 1 1 auto;
	}

	#filter-container {
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		margin-bottom: 20px;
		padding: 5px;
		transition: 0.3s;

		&:hover {
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		}
	}

</style>