<template>
	<div>
		<Modal v-if="showMemoModal">
			<template #header>
				<h2 class="highlight">Search for Memo to Clone</h2>
			</template>
			<template #body>
				<div>
					<base-field-labels title="Memo Name"
								   helpText="Search by memo name.">
						<base-select id="memoSearch"
									 label="name"
									 track-by="name"
									 placeholder="Type to search"
									 open-direction="bottom"
									 v-model="searchResult.selectedOption"
									 :options="searchResult.options"
									 :searchable="true"
									 :loading="pageOptions.isLoading"
									 :close-on-select="true"
									 :options-limit="100"
									 :limit="5"
									 :max-height="600"
									 :show-no-results="true"
									 @search-change="(...args) => asyncFind(...args)">
						</base-select>
					</base-field-labels>
				</div>
			</template>
			<template #footer>
				<base-button :onclick="handle__toggleMemoModal">Close</base-button>
				<base-button :onclick="handle__addClonedMemo" :isPrimary="true">Add</base-button>
			</template>
		</Modal>

		<div id="letterContent__metaDataContainer">
			<InfoBlock :title="'Note Metadata'">
				<base-field-labels title="Name"
							   helpText="This is the name of the note, it will be used for reference in the letter generation interface.">
					<base-input :field-validation="$v.state.letterContent.name" v-model="letterContent.name">
						<template v-slot:errors>

							<p v-if="$v.state.letterContent.name.$error && !$v.state.letterContent.name.required">
								A Letter Content name must be provided.
							</p>
						</template>
					</base-input>
				</base-field-labels>
				<base-field-labels title="Description"
							   helpText="This is the description of the note, it will be used to help explain the intention of the note.">
					<base-input :field-validation="$v.state.letterContent.description" v-model="letterContent.description" :textArea="true">
						<template v-slot:errors>
							<p v-if="$v.state.letterContent.description.$error && !$v.state.letterContent.description.required">
								A Letter Content description must be provided.
							</p>
						</template>
					</base-input>
				</base-field-labels>
				<base-field-labels title="Section"
							   helpText="This is the section of the letter that this letter content will be a part of.">
					<base-select v-model="letterContent.selectedSection"
								 id="sectionPicker"
								 label="key"
								 track-by="value"
								 placeholder="Select Letter Section"
								 :options="sections"
								 :close-on-select="true"
								 :max-height="600"
								 :allowEmpty="false"
								 @input="(args) => handle__syncSectionId(args)">
						<template v-slot:errors>
							<p class="error" v-if="$v.state.letterContent.sectionId.$error && !$v.state.letterContent.sectionId.minValue ">
								A Letter Content section must be provided.
							</p>
						</template>
					</base-select>
				</base-field-labels>
				<base-button v-if="letterContent.id > 0" :href="configureSectionURL">Configure Letter Content Order</base-button>
			</InfoBlock>
		</div>
		<div id="letterContent__associationsContainer">
			<InfoBlock :title="'Memos'">
				<template v-if="letterContent.memos.length">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="memo in letterContent.memos" :key="memo.localId">
								<td>{{memo.name}}</td>
								<td><p :title="memo.description">{{memo.description | truncate(80) }}</p></td>
								<td>
									<base-button :onclick="(evt) => handle__navigateToMemo(memo.localId)">Edit</base-button>
									<base-button :onclick="(evt) => handle__cloneMemo({ localId: memo.localId })">Clone</base-button>
									<base-button :onclick="(evt) => handle__removeMemo(memo.localId)">Remove </base-button>
								</td>
							</tr>
						</tbody>
					</table>
				</template>
				<template v-else>
					<div class="col-sm-12 center-block text-center">
						<h2 class="highlight">Add a memo to get started!</h2>
						<img v-bind:src="image" width="200" height="200" />
					</div>
				</template>
				<base-button :onclick="handle__addMemo" :isPrimary="true">Add Memo</base-button>
				<base-button :onclick="handle__toggleMemoModal">Clone Memo</base-button>
			</InfoBlock>
		</div>
	</div>
</template>
<script>
	import api from '../../../api/noteManager';
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue';
	import InfoBlock from '@/components/utility/InfoBlock.vue';
	import Modal from '@/components/utility/Modal.vue';
	import { required, maxLength } from 'vuelidate/lib/validators';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters: mapNotesManagaerGetters, mapActions: mapNotesManagerActions } = createNamespacedHelpers('notesManager');

	export default {
		components: {
			InfoBlock,
			SelectStandardMultiple,
			Modal
		},
		props: {
			$v: Object
		},
		data: function () {
			return {
				pageOptions: {
					isLoading: false
				},
				searchResult: {
					selectedOption: {},
					options: []
				},
				image: jsPath + "Img/empty-list.png",
			}
		},
		computed: {
			...mapNotesManagaerGetters(['letterContent', 'getMemoByLocalId', 'sections', 'showMemoModal']),
			configureSectionURL: function () {
				if (this.letterContent.id > 0)
					return `/documents/lettersection/edit/${this.letterContent.selectedSection.value}?mode=Edit`;
				else
					return '';
			}
		},
		methods: {
			...mapNotesManagerActions(['setCurrentView', 'setCurrentMemo', 'removeMemo', 'addMemo', 'setSectionId', 'cloneMemo', 'toggleMemoModal']),
			handle__navigateToMemo: function (id) {
				this.setCurrentMemo(id);
				this.setCurrentView('Memo');
			},
			handle__removeMemo: function (localId) {
				if (this.letterContent.memos.length == 1 && this.letterContent.id) {
					bootbox.confirm("<span class='bg-danger'>Removing the last memo will casue the entire Note to become deprecated. Do you wish to continue?</span>", (result) => {
						if (result) {
							api.post_deprecateLetterContent(this.letterContent)
								.then(response => {
									window.location.href = "/documents/noteManager/";
								});
						}
					});
				}
				else {
					// Prompt for confirmation
					bootbox.confirm("Are you sure you want to remove this memo?", (result) => {
						if (result) {
							let memoToRemove = this.getMemoByLocalId(localId);
							let willRequireHardDeprecation = memoToRemove.version.addDate != null;
							if (willRequireHardDeprecation) {
								api.post_deprecateMemo(memoToRemove.id)
									.then(response => {
										if (response.data) {
											this.removeMemo(localId);
										}
									});
							} else {
								this.removeMemo(localId);
							}

						}
					});
				}
			},
			handle__addMemo: function () {
				this.addMemo(0).then((result) => {
					this.handle__navigateToMemo(result);
				});

			},
			handle__syncSectionId: function (payload) {
				this.setSectionId(payload.value);
			},
			handle__cloneMemo: function (payload) {
				this.cloneMemo(payload);
			},

			asyncFind: _.debounce(function (query) {
				this.searchResult.options = [];
				this.pageOptions.isLoading = true
				let filter = {
					Name: query,
				};

				api.post_searchMemos(filter)
					.then(response => {
						this.searchResult.options = response.data;
						this.pageOptions.isLoading = false;
					});
			}, 500),

			handle__toggleMemoModal: function () {
				this.resetSearch();
				this.toggleMemoModal();
			},
			handle__clearSearchResults: function () {
				this.searchResult = {
					selectedOption: {},
					options: []
				};
			},

			resetSearch: function () {
				this.handle__clearSearchResults();
			},

			handle__addClonedMemo: function () {
				this.cloneMemo({ localId: null, memo: this.searchResult.selectedOption });
				this.handle__toggleMemoModal();
			}
		}
	}
</script>
<style scoped>
	#letterContent__metaDataContainer {
		border-radius: 5px;
		padding: 5px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		margin-bottom: 20px;
	}

		#letterContent__metaDataContainer:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

	#letterContent__associationsContainer {
		border-radius: 5px;
		padding: 5px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
	}

		#letterContent__associationsContainer:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

	.highlight {
		color: #0081DF;
	}

	.error {
		color: #d33131;
	}
</style>