﻿<template>
	<div>
		Memos

		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Content</th>
					<th></th>
				</tr>
			</thead>
			<tbody v-for="item in memos">
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.content |  truncate(20) }}}</td>
					<td><a :href="editMemoLink + '?id=' + memo.id">Edit Memo</a></td>
				</tr>
			</tbody>
		</table>

		<a :href="editMemoLink + '?id=' + 0">Create Memo</a>


	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapState: mapNotesManagerState } = createNamespacedHelpers('notesManager');

	export default {
		data() {
			return {
				editMemoLink: editMemoLink
			}
		},
		computed: mapNotesManagerState({
			memos: state => state.memos
		}),
		methods: {
		}
	}
</script>
<style scoped>
</style>