﻿<template>
	<div>
		<Modal v-if="pageOptions.showConditionalPickerModal">
			<template #header>
				<h2 class="highlight">Radio button questions available for conditional</h2>
			</template>
			<template #body>
				<div>
					<base-field-labels title="Question Text"
									   helpText="Radio button questions associated to this memo.">
						<base-select id="associatedQuestionSearch"
									 label="name"
									 track-by="tokenKey"
									 open-direction="bottom"
									 v-model="pageOptions.conditionalPickerValue"
									 :options="currentMemo.questions.filter(x => x.type === 'Radio')"
									 :searchable="true"
									 :close-on-select="true"
									 :show-no-results="true">
						</base-select>
					</base-field-labels>
				</div>
			</template>
			<template #footer>
				<base-button :onclick="handle__toggleConditionalPickerModal">Close</base-button>
				<base-button :onclick="handle__wrapMemoInConditional" :isPrimary="true">Wrap Memo</base-button>
			</template>
		</Modal>
		<Modal v-if="showMockDataModal">
			<template #header>
				<h2 class="highlight">Property Picker</h2>
			</template>
			<template #body>
				<MockData :dataSet="mockDataQuestionMerge" :tabs="['jurisdictionsLetterDetails','components','paytables','certificationIssuers','jira','sourceItems']" @property-copied-to-clipboard="(event) => insertPropertyAtCursorPosition(event)" :editorTarget="pageOptions.editorTarget"></MockData>
			</template>
			<template #footer>
				<base-button :onclick="handle__toggleMockDataModall">Close</base-button>
			</template>
		</Modal>
		<Modal v-if="showMockDataBundlePickerModal">
			<template #header>
				<h2 class="highlight">Bundle Picker</h2>
			</template>
			<template #body>
				<base-field-labels title="Bundle"
								   helpText="Search for bundle by bundle name.">
					<base-select id="bundleSearch"
								 v-model="bundleSearch.selectedBundle"
								 placeholder="Select Bundle"
								 label="text"
								 track-by="id"
								 :options="bundleSearch.options"
								 :searchable="true"
								 :loading="bundleSearch.isLoading"
								 :options-limit="300"
								 :limit="5"
								 :hide-selected="true"
								 :max-height="600"
								 :showNoResults="true"
								 :openDirection="below"
								 @search-change="asyncFind">
					</base-select>
				</base-field-labels>
			</template>
			<template #footer>
				<base-button :onclick="handle__toggleMockDataBundlePickerModal">Close</base-button>
				<Base-Button v-show="bundleSearch.selectedBundle.id" :onclick="handle__getNewMockData" :isPrimary="true">
					<template v-if="pageOptions.isLoading">
						Changing Bundle
						<i class="fa fa-spinner fa-spin"></i>
					</template>
					<template v-else>
						Change Bundle
					</template>
				</Base-Button>
			</template>
		</Modal>
		<div>
			<h2 class="highlight">{{currentMemo.name}} </h2>
			<h3 v-if="currentMemoIsDeprecated" class="deprecated">[Deprecated] on {{ currentMemo.version.deprecateDate | formatDateTime }}</h3>
		</div>
		<div id="memo__metaDataContainer" class="memo__container">
			<InfoBlock :title="'Memo Metadata'">
				<base-field-labels title="Name"
								   helpText="This is the name of the memo, it will be used for reference in the letter generation interface.">
					<base-input :field-validation="currentMemoValidation ? currentMemoValidation.name : {}" v-model="currentMemo.name" :disabled="currentMemoIsDeprecated">
						<template v-slot:errors>
							<p v-if="(currentMemoValidation ? currentMemoValidation.name.$error : false) && (currentMemoValidation ? !currentMemoValidation.name.required : false)">
								A memo name must be provided.
							</p>
						</template>
					</base-input>
				</base-field-labels>
				<base-field-labels title="Description"
								   helpText="This is the description of the memo, it is used to describe how the memo should / will be used.">
					<base-input :field-validation="currentMemoValidation ? currentMemoValidation.description : {}" v-model="currentMemo.description" :textArea="true" :disabled="currentMemoIsDeprecated">
						<template v-slot:errors>
							<p v-if="(currentMemoValidation ? currentMemoValidation.description.$error : false) && (currentMemoValidation ? !currentMemoValidation.description.required : false)">
								A memo description must be provided.
							</p>
						</template>
					</base-input>
				</base-field-labels>
				<base-field-labels title="Language"
								   helpText="The language that this memo is constructed in.">
					<Lookup id="languageId"
							name="languageId"
							:lookuptextfield="currentMemo.language"
							@updateLookupTextField="updateLanguageDropDown"
							lookupajax="Language"
							v-model="currentMemo.languageId"
							class="form-control"
							style="width:100%;"
							:disabled="currentMemoIsDeprecated" />
				</base-field-labels>
				<p v-if="(currentMemoValidation ? currentMemoValidation.languageId.$error : false) && (currentMemoValidation ? !currentMemoValidation.languageId.minValue : false)">
					A language selection is required.
				</p>
				<base-field-labels title="Secondary Language"
								   helpText="The secondary language that this memo is constructed in.">
					<Lookup id="secondaryLanguageId"
							name="secondaryLanguageId"
							:lookuptextfield="currentMemo.secondaryLanguage"
							@updateLookupTextField="updateSecondaryLanguageDropDown"
							lookupajax="Language"
							v-model="currentMemo.secondaryLanguageId"
							class="form-control"
							style="width:100%;"
							:disabled="currentMemoIsDeprecated" />
				</base-field-labels>
				<base-field-labels title="Source"
								   helpText="This is the data source">
					<SelectStandard name="source"
									title="Sources"
									class="form-control"
									v-model="currentMemo.sourceId"
									:value="currentMemo.sourceId"
									:options="currentMemo.sourceOptions"
									:disabled="currentMemoIsDeprecated" />
				</base-field-labels>
				<base-field-labels title="Source Property"
								   helpText="This is a sub property of the data source selection.">
					<base-input :field-validation="currentMemoValidation ? currentMemoValidation.sourceProperty : {}" v-model="currentMemo.sourceProperty" :disabled="currentMemoIsDeprecated">
					</base-input>
				</base-field-labels>
				<base-field-labels title="Business Logic Expression (Evaluates to make memo visible)"
								   helpText="This evaluates to determine if memo will be visible or hidden based on question's Answer. (Format should be this.[Token Key] == [Token Value])">
					<base-input :field-validation="currentMemoValidation ? currentMemoValidation.businessLogicExpression : {}" v-model="currentMemo.businessLogicExpression" :disabled="currentMemoIsDeprecated">
					</base-input>
				</base-field-labels>
			</InfoBlock>
		</div>
		<div class="twoColumn__container">
			<div id="memo__editorContainer" class="memo__container twoColumn__item">
				<div class="flex__container">
					<div class="clickable flex__item" @click="handle__setShowEditor({showEditor: false, editor: 'cmEditor'})" title="Close Editor" v-show="showEditor">
						<i class="fa fa-window-close fa-lg highlight"></i>
					</div>
					<div class="clickable flex__item" @click="handle__setShowEditor({showEditor: true, editor: 'cmEditor'})" title="Show Editor" v-show="!showEditor">
						<i class="fas fa-wrench fa-lg highlight"></i>
					</div>
				</div>
				<InfoBlock :title="'Editor'" v-show="showEditor">
					<EditorToolbar @selected-paragraph-format="(payload) => handle__toolBarTagEvent(payload,'cmEditor')"
								   @selected-section-tag="(payload) => handle__toolBarTagEvent(payload,'cmEditor')"
								   @selected-bold="(payload) => handle__toolBarTagEvent(payload,'cmEditor')"
								   @selected-italic="(payload) => handle__toolBarTagEvent(payload,'cmEditor')"
								   @selected-strike-through="(payload) => handle__toolBarTagEvent(payload,'cmEditor')"
								   @selected-numbered-list="(payload) => handle__toolBarTagEvent(payload,'cmEditor')"
								   @selected-bulleted-list="(payload) => handle__toolBarTagEvent(payload,'cmEditor')"
								   @selected-v-if="(payload) => handle__toolBarConditionalEvent(payload, 'cmEditor')"
								   @selected-v-for="(payload) => {}" />

					<div class="memo__livePreviewItem">
						<codemirror ref="cmEditor" v-model="currentMemo.content" :options="cmOptions"></codemirror>
					</div>
					<div ref="editorMenu" class="menu">
						<ul class="menu-options">
							<li class="menu-option" @click="handle__toggleMockDataModall('cmEditor')">Insert Property</li>
							<li class="menu-option" @click="handle__beautifyEditor()">Format Code</li>
							<li class="menu-option" @click="handle__toggleMockDataBundlePickerModal()">Change Bundle</li>
							<li class="menu-option" @click="handle__getTemplate('baseTable','cmEditor')">Template Table</li>
							<li class="menu-option" @click="handle__getTemplate('baseHeader','cmEditor')">Template Header</li>
						</ul>
					</div>
				</InfoBlock>
				<InfoBlock :title="'Preview'" v-show="!showEditor">
					<div id="preview" class="memo__livePreviewItem">
						<component :is="handle__buildPreview(false)"></component>
					</div>
				</InfoBlock>
			</div>
		</div>
		<div class="twoColumn__container" v-show="currentMemo.secondaryLanguageId > 0">
			<div id="memo__secondaryLanguageEditorContainer" class="memo__container twoColumn__item">
				<h2 class="highlight">Secondary Language Memo</h2>
				<div class="flex__container">
					<div class="clickable flex__item" @click="handle__setShowEditor({showEditor: false, editor: 'cmSecondaryLanguageEditor'})" title="Close Editor" v-show="showSecondaryLanguageEditor">
						<i class="fa fa-window-close fa-lg highlight"></i>
					</div>
					<div class="clickable flex__item" @click="handle__setShowEditor({showEditor: true, editor: 'cmSecondaryLanguageEditor'})" title="Show Editor" v-show="!showSecondaryLanguageEditor">
						<i class="fas fa-wrench fa-lg highlight"></i>
					</div>
				</div>
				<InfoBlock :title="'Editor'" v-show="showSecondaryLanguageEditor">
					<EditorToolbar @selected-paragraph-format="(payload) => handle__toolBarTagEvent(payload,'cmSecondaryLanguageEditor')"
								   @selected-section-tag="(payload) => handle__toolBarTagEvent(payload,'cmSecondaryLanguageEditor')"
								   @selected-bold="(payload) => handle__toolBarTagEvent(payload,'cmSecondaryLanguageEditor')"
								   @selected-italic="(payload) => handle__toolBarTagEvent(payload,'cmSecondaryLanguageEditor')"
								   @selected-strike-through="(payload) => handle__toolBarTagEvent(payload,'cmSecondaryLanguageEditor')"
								   @selected-numbered-list="(payload) => handle__toolBarTagEvent(payload,'cmSecondaryLanguageEditor')"
								   @selected-bulleted-list="(payload) => handle__toolBarTagEvent(payload,'cmSecondaryLanguageEditor')"
								   @selected-v-if="(payload) => handle__toolBarConditionalEvent(payload, 'cmSecondaryLanguageEditor')"
								   @selected-v-for="(payload) => {}" />

					<div class="memo__livePreviewItem">
						<codemirror ref="cmSecondaryLanguageEditor" v-model="currentMemo.secondaryLanguageContent" :options="cmSecondaryLanguageOptions"></codemirror>
					</div>
					<div ref="secondaryLanguageEditorMenu" class="menu">
						<ul class="menu-options">
							<li class="menu-option" @click="handle__toggleMockDataModall('cmSecondaryLanguageEditor')">Insert Property</li>
							<li class="menu-option" @click="handle__beautifyEditor()">Format Code</li>
							<li class="menu-option" @click="handle__toggleMockDataBundlePickerModal()">Change Bundle</li>
							<li class="menu-option" @click="handle__getTemplate('baseTable','cmSecondaryLanguageEditor')">Template Table</li>
							<li class="menu-option" @click="handle__getTemplate('baseHeader','cmSecondaryLanguageEditor')">Template Header</li>
						</ul>
					</div>
				</InfoBlock>
				<InfoBlock :title="'Preview'" v-show="!showSecondaryLanguageEditor">
					<div id="secondaryLanguagePreview" class="memo__livePreviewItem">
						<component :is="handle__buildPreview(true)"></component>
					</div>
				</InfoBlock>
			</div>
		</div>
		<div class="twoColumn__container">
			<div id="memo__questionsContainer" class="memo__container twoColumn__item">
				<InfoBlock :title="'Questions'">
					<Questions></Questions>
				</InfoBlock>
			</div>
		</div>
		<div id="memo__associationsContainer" class="memo__container">
			<InfoBlock :title="'Associations'">
				<base-field-labels title="Manufacturers"
								   helpText="The manufacturers for which this memo will be relevant.">
					<LookupMultiple name="Manufacturers"
									lookupajax="Manufacturers"
									:value="currentMemo.manufacturerCodes"
									v-model="currentMemo.manufacturerCodes"
									:options="currentMemo.manufacturers"
									templatename="formatManufacturers"
									:disabled="currentMemoIsDeprecated"
									class="form-control">
					</LookupMultiple>
				</base-field-labels>
				<base-field-labels title="Manufacturers (Do NOT Apply)"
								   helpText="The manufacturers for which this memo will NOT be relevant.">
					<LookupMultiple name="ManufacturersNotInclude"
									lookupajax="Manufacturers"
									:value="currentMemo.manufacturerCodesNotIncluded"
									v-model="currentMemo.manufacturerCodesNotIncluded"
									:options="currentMemo.manufacturersNotIncluded"
									templatename="formatManufacturers"
									:disabled="currentMemoIsDeprecated"
									class="form-control">
					</LookupMultiple>
				</base-field-labels>
				<base-field-labels title="Jurisdictions"
								   helpText="The jurisdictions for which this memo will be relevant.">
					<LookupMultiple name="JurisdictionIds"
									lookupajax="Jurisdictions"
									v-model="currentMemo.jurisdictionIds"
									:value="currentMemo.jurisdictionIds"
									:options="currentMemo.jurisdictions"
									templatename="formatJurisdictions"
									:disabled="currentMemoIsDeprecated"
									class="form-control">
					</LookupMultiple>
				</base-field-labels>
				<base-field-labels title="Jurisdictions (Do NOT Apply)"
								   helpText="The jurisdictions for which this memo will NOT be relevant.">
					<LookupMultiple name="JurisdictionIdsNotIncluded"
									lookupajax="Jurisdictions"
									v-model="currentMemo.jurisdictionIdsNotIncluded"
									:value="currentMemo.jurisdictionIdsNotIncluded"
									:options="currentMemo.jurisdictionsNotIncluded"
									templatename="formatJurisdictions"
									:disabled="currentMemoIsDeprecated"
									class="form-control">
					</LookupMultiple>
				</base-field-labels>
				<base-field-labels title="Submission Types"
								   helpText="The submission types for which this memo will be relevant.">
					<LookupMultiple name="subTypes"
									lookupajax="SubmissionTypes"
									:value="currentMemo.subTypeIds"
									v-model="currentMemo.subTypeIds"
									:options="currentMemo.subTypes"
									:disabled="currentMemoIsDeprecated"
									class="form-control">
					</LookupMultiple>
				</base-field-labels>
				<base-field-labels title="Special Flags"
								   helpText="Flags used to indicate special functionality for the given memo.">
					<SelectStandardMultiple name="specialFlags"
											title="Special Flags"
											class="form-control"
											v-model="currentMemo.specialFlags"
											:value="currentMemo.specialFlags"
											:options="currentMemo.specialFlagOptions"
											:disabled="currentMemoIsDeprecated" />
				</base-field-labels>
				<base-field-labels title="Chip Types"
								   helpText="The chip types for which this memo will be relevant.">
					<LookupMultiple name="ChipTypes"
									lookupajax="ChipTypes"
									:value="currentMemo.chipTypeIds"
									v-model="currentMemo.chipTypeIds"
									:options="currentMemo.chipTypes"
									:disabled="currentMemoIsDeprecated"
									class="form-control">
					</LookupMultiple>
				</base-field-labels>
				<base-field-labels title="ID Numbers"
								   helpText="ID Number(s) for which this memo will be relevant.">
					[ <a @click="addIdNumberCriteria" style="cursor:pointer"> <i class="fas fa-plus" aria-hidden="true"></i>  Add ID Number </a>]
					<template v-for="(item,index) in currentMemo.idNumbers ">

						<div class="row">
							<div class="col-xs-3">
								<base-select v-model="item.selectedCompareCriteria"
											 :id="'criteriaPicker' + index"
											 label="key"
											 track-by="value"
											 placeholder="Select Comparison Criteria"
											 :options="compareCriterias"
											 :close-on-select="true"
											 :max-height="600"
											 :allowEmpty="false"
											 @input="(args) => handle__syncCriteriaId(index,args)">
									>
								</base-select>
							</div>
							<div class="col-xs-5">
								<base-input :field-validation="currentMemoValidation ? currentMemoValidation.idNumbers.$each[index].idNumber : {}" v-model="item.idNumber" :disabled="currentMemoIsDeprecated">
								</base-input>
							</div>
							<div class="col-xs-1">
								[ <A class="pointer" @click="deleteIdNumber(index)" title="Delete"><i class="far fa-trash-alt" style="font-size:15px;color:red"></i> Delete ]</A>
							</div>
						</div>

					</template>
				</base-field-labels>
				<base-field-labels title="Game Names"
								   helpText="Game Name(s) for which this memo will be relevant.">
					[ <a @click="addGameNameCriteria" style="cursor:pointer"> <i class="fas fa-plus" aria-hidden="true"></i>  Add Game Name </a>]
					<template v-for="(item,index) in currentMemo.gameNames ">
						<div class="row">
							<div class="col-xs-3">
								<base-select v-model="item.selectedCompareCriteria"
											 :id="'gameNameCriteriaPicker' + index"
											 label="key"
											 track-by="value"
											 placeholder="Select Comparison Criteria"
											 :options="compareCriterias"
											 :close-on-select="true"
											 :max-height="600"
											 :allowEmpty="false"
											 @input="(args) => handle__syncGameNameCriteriaId(index,args)">
									>
								</base-select>
							</div>
							<div class="col-xs-5">
								<base-input :field-validation="currentMemoValidation ? currentMemoValidation.gameNames.$each[index].gameName : {}" v-model="item.gameName" :disabled="currentMemoIsDeprecated">
								</base-input>
							</div>
							<div class="col-xs-1">
								[ <A class="pointer" @click="deleteGameName(index)" title="Delete"><i class="far fa-trash-alt" style="font-size:15px;color:red"></i> Delete ]</A>
							</div>
						</div>

					</template>
				</base-field-labels>

				<base-field-labels title="Platforms"
								   helpText="Platform(s) for which this memo will be relevant.">
					<LookupMultiple name="platforms"
									lookupajax="Platforms"
									v-model="currentMemo.platformIds"
									:value="currentMemo.platformIds"
									:options="currentMemo.platforms"
									:disabled="currentMemoIsDeprecated"
									class="form-control">
					</LookupMultiple>

				</base-field-labels>

				<base-field-labels title="Functions"
								   helpText="Function(s) for which this memo will be relevant.">
					<LookupMultiple name="functions"
									lookupajax="Functions"
									v-model="currentMemo.functionIds"
									:value="currentMemo.functionIds"
									:options="currentMemo.functions"
									:disabled="currentMemoIsDeprecated"
									class="form-control">
					</LookupMultiple>

				</base-field-labels>

				<base-field-labels title="Testing Types"
								   helpText="Testing Type(s) for which this memo will be relevant.">
					<LookupMultiple name="testingtypes"
									lookupajax="TestingTypes"
									v-model="currentMemo.testTypeIds"
									:value="currentMemo.testTypeIds"
									:options="currentMemo.testTypes"
									:disabled="currentMemoIsDeprecated"
									class="form-control">
					</LookupMultiple>

				</base-field-labels>

				<base-field-labels title="Signature Scope"
								   helpText="Signature Scope(s) for which this memo will be relevant.">
					<LookupMultiple name="signaturescopes"
									lookupajax="SignatureScopes"
									v-model="currentMemo.signatureScopeIds"
									:value="currentMemo.signatureScopeIds"
									:options="currentMemo.signatureScopes"
									:disabled="currentMemoIsDeprecated"
									class="form-control">
					</LookupMultiple>

				</base-field-labels>
			</InfoBlock>
			<ValidationLinkManager :linkedValidations="currentMemo.validations || []" @unlink="(validationId) => handle__unlinkValidation(validationId)"></ValidationLinkManager>
		</div>
	</div>
</template>
<script>
	import api from '../../../api/noteManager';
	import lookupsAPI from '../../../api/lookups';

	//=================================================
	//== 1st Party ====================================
	//-- Utility
	import InfoBlock from '@/components/utility/InfoBlock.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import Modal from '@/components/utility/Modal.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue';
	import MockData from '@/components/documents/noteManager/MockData.vue';
	import ValidationLinkManager from '@/components/documents/noteManager/ValidationLinkManager.vue';

	//-- NotesManager
	import Questions from '@/components/documents/noteManager/Questions.vue';
	import { buildMemoComponentPreview } from '@/components/documents/noteManager/MemoComponentPreview.js';
	import EditorToolbar from '@/components/documents/noteManager/editortoolbar.vue';

	//=================================================
	//== Third Party ==================================

	//-- Code Mirror
	import { codemirror } from 'vue-codemirror'

	// base style
	import 'codemirror/lib/codemirror.css'

	// theme css
	import 'codemirror/theme/material.css'
	import 'codemirror/theme/material-ocean.css'
	import 'codemirror/theme/vibrant-ink.css'

	// language
	import 'codemirror/mode/vue/vue.js'

	// active-line.js
	import 'codemirror/addon/selection/active-line.js'

	// Fullscreen
	import 'codemirror/addon/display/fullscreen.js'
	import 'codemirror/addon/display/fullscreen.css'
	import 'codemirror/addon/edit/closebrackets.js';
	import 'codemirror/addon/edit/closetag.js';
	import 'codemirror/addon/fold/xml-fold.js';
	import 'codemirror/addon/fold/foldgutter.css'
	import 'codemirror/addon/fold/foldcode.js'
	import 'codemirror/addon/fold/foldgutter.js'
	import 'codemirror/addon/fold/brace-fold.js'
	import 'codemirror/addon/edit/matchtags.js'

	import { required, maxLength } from 'vuelidate/lib/validators';

	//=================================================
	//== Vuex =========================================

	import { createNamespacedHelpers } from 'vuex';
	const { mapState: mapNotesManagerState, mapGetters: mapNotesManagaerGetters, mapActions: mapNotesManagerActions } = createNamespacedHelpers('notesManager');
	const { mapState: mapMockMemoDataState, mapGetters: mapMockMemoDataGetters, mapActions: mapMockMemoDataActions } = createNamespacedHelpers('notesManagerMockMemoData');

	//=================================================

	export default {
		created: function () {
			this.handle__setSourceItemsForMock();
		},
		mounted: function () {
			const self = this;
			this.editorCodemirror.on('contextmenu', function (cm, e) {
				e.preventDefault();
				if (!self.currentMemoIsDeprecated){
					const origin = {
						left: e.clientX,
						top: e.clientY
					};

					self.setPosition(origin,'editorMenu');
				}
			});

			this.secondaryLanguageEditorCodemirror.on('contextmenu', function (cm, e) {
				e.preventDefault();
				if (!self.currentMemoIsDeprecated){
					const origin = {
						left: e.clientX,
						top: e.clientY
					};

					self.setPosition(origin,'secondaryLanguageEditorMenu');
				}
			})

			window.addEventListener("click", e => {
				if (this.pageOptions.editorMenuVisible) this.toggleMenu("hide", 'editorMenu');
				if (this.pageOptions.secondaryLanguageEditorMenuVisible) this.toggleMenu("hide",'secondaryLanguageEditorMenu');
				return true;
			});

			this.editorCodemirror.getSelectedRange = function() {
				return { from: self.editorCodemirror.getCursor(true), to: self.editorCodemirror.getCursor(false) };
			};

			this.secondaryLanguageEditorCodemirror.getSelectedRange = function() {
				return { from: self.secondaryLanguageEditorCodemirror.getCursor(true), to: self.secondaryLanguageEditorCodemirror.getCursor(false) };
			};
		},
		components: {
			codemirror,
			InfoBlock,
			Lookup,
			LookupMultiple,
			Modal,
			MockData,
			Questions,
			SelectStandard,
			SelectStandardMultiple,
			EditorToolbar,
			ValidationLinkManager
		},
		data() {
			return {
				pageOptions: {
					isLoading: false,
					editorMenuVisible: false,
					secondaryLanguageMenuVisible: false,
					editorTarget: 'cmEditor',
					showConditionalPickerModal: false,
					conditionalPickerValue: '',
					editorTarget: ''
				},
				bundleSearch: {
					options: [],
					selectedBundle: {},
					isLoading: false
				},
				cmOptions2: {
					tabSize: 4,
					mode: {
						name: 'javascript',
						json: true
					},
					theme: 'material',
					lineNumbers: true,
					line: true,
					readOnly: true
				},

			}
		},
		props: {
			$v: Object
		},
		computed: {
			currentMemoValidation: function () {
				let validation = null;

				for (let i = 0; i < this.letterContent.memos.length; i++) {
					let current = this.$v.state.letterContent.memos.$each.$iter[i];
					if (current.localId.$model === this.currentMemo.localId) {
						validation = current;
						break;
					}
				}

				return validation;
			},
			cmOptions: function () {
				return {
					tabSize: 4,
					mode: 'text/x-vue',
					theme: 'material',
					lineNumbers: true,
					lineWrapping: true,
					matchClosing: true,
					indentWithTabs: true,
					line: true,
					ViewportMargin: Infinity,
					readOnly: this.currentMemoIsDeprecated,
					styleActiveLine: true,
					autoCloseBrackets: true,
					autoCloseTags: true,
					foldGutter: true,
					gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
					matchTags: { bothTags: true },
					extraKeys: {
						"F11": function (cm) {
							if (cm.getOption("fullScreen"))
								document.getElementsByClassName("CodeMirror-scroll")[0].removeAttribute("style");
							else
								document.getElementsByClassName("CodeMirror-scroll")[0].setAttribute("style", "margin-top: 30px;");

							cm.setOption("fullScreen", !cm.getOption("fullScreen"));
						},
						"Esc": function (cm) {
							document.getElementsByClassName("CodeMirror-scroll")[0].removeAttribute("style");
							if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
						}
					}
				}
			},
			cmSecondaryLanguageOptions: function () {
				return {
					tabSize: 4,
					mode: 'text/x-vue',
					theme: 'material',
					lineNumbers: true,
					lineWrapping: true,
					matchClosing: true,
					indentWithTabs: true,
					line: true,
					ViewportMargin: Infinity,
					readOnly: this.currentMemoIsDeprecated,
					styleActiveLine: true,
					autoCloseBrackets: true,
					autoCloseTags: true,
					foldGutter: true,
					gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
					matchTags: { bothTags: true },
					extraKeys: {
						"F11": function (cm) {
							if (cm.getOption("fullScreen"))
								document.getElementsByClassName("CodeMirror-scroll")[0].removeAttribute("style");
							else
								document.getElementsByClassName("CodeMirror-scroll")[0].setAttribute("style", "margin-top: 30px;");

							cm.setOption("fullScreen", !cm.getOption("fullScreen"));
						},
						"Esc": function (cm) {
							document.getElementsByClassName("CodeMirror-scroll")[0].removeAttribute("style");
							if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
						}
					}
				}
			},

			vuexbindingsForMock: function () {
				return Object.keys(this.$store.getters).filter(x => x.startsWith('notesManagerMockMemoData/') && x !== 'notesManagerMockMemoData/getSources').map(e => { return { key: e.split('/')[1], value: this.$store.getters[e] } });
			},
			...mapMockMemoDataGetters(['getSources']),
			...mapNotesManagaerGetters(['getMemoById', 'currentMemo', 'showMockDataBundlePickerModal', 'currentMemoIsDeprecated', 'letterContent', 'showMockDataModal','showEditor','showSecondaryLanguageEditor','compareCriterias']),
			...mapNotesManagerState({
				currentMemo: state => state.currentMemo
			}),
			mockDataQuestionMerge: function () {
				return {
					...this.vuexbindingsForMock.reduce((current, item) => {
						if (JSON.stringify(item.value) == '[]') {
							current[item.key] = [];
						}
						else {
							current[item.key] = item.value;
						}
						return current;
					}, {}),
					...this.currentMemo.questions.reduce((current, item) => {
						let result = this.buildMockControl(item);
						current[result.label] = result.content;
						return current;
					}, {})
				}
			},
			editorCodemirror() {
				return this.$refs.cmEditor.codemirror
			},
			editorCodeMirrorTextArea() {
				return this.editorCodemirror.getTextArea();
			},
			secondaryLanguageEditorCodemirror() {
				return this.$refs.cmSecondaryLanguageEditor.codemirror
			},
			secondaryLanguageEditorCodeMirrorTextArea() {
				return this.secondaryLanguageEditorCodemirror.getTextArea();
			},


		},
		methods: {
			addIdNumberCriteria: function () {
				var defaultCriteria = this.compareCriterias[0];
				var newIdNumber = {
						idNumber: "",
						compareCriteriaId: defaultCriteria.value,
						selectedCompareCriteria : { key: defaultCriteria.key, value: defaultCriteria.value }
					}
				this.currentMemo.idNumbers.push(newIdNumber)
			},
			addGameNameCriteria: function () {
				var defaultCriteria = this.compareCriterias[0];
				var newGameName = {
					gameName: "",
					compareCriteriaId: defaultCriteria.value,
					selectedCompareCriteria: { key: defaultCriteria.key, value: defaultCriteria.value }
				}
				this.currentMemo.gameNames.push(newGameName)
			},
			deleteIdNumber: function (index) {
				this.currentMemo.idNumbers.splice(index, 1);
			},
			deleteGameName: function (index) {
				this.currentMemo.gameNames.splice(index, 1);
			},
			// Builders used by mock data
			buildMockControl: function (question) {
				let result = {
					label: '',
					content: ''
				}

				if (question.type !== "TABLE") {
					result = {
						label: question.tokenKey,
						content: question.tokenValue || ''
					}
				}
				else if (question.tableRows.length > 0) {
					let ret = this.buildMockTableRow(question.tableRows[0]);

					let arrayRet = new Array(ret);

					if (question.tableRows.length > 1) {
						for (let iter = 1; iter < question.tableRows.length; iter++) {
							arrayRet.push(this.buildMockTableRow(question.tableRows[iter]));
						}

					}

					result = {
						label: question.tokenKey,
						content: arrayRet || []
					}
				}
				else {
					result = {
						label: question.tokenKey,
						content: []
					}
				}

				return result;
			},
			buildMockTableColumn: function (control) {
				return {
					[control.tokenKey]: control.tokenValue || ''
				};
			},
			buildMockTableRow: function (controls) {
				let ret = this.buildMockTableColumn(controls[0]);
				if (controls.length > 1) {
					for (let iter = 1; iter < controls.length; iter++) {
						ret = { ...ret, ...this.buildMockTableColumn(controls[iter]) };
					}
				}
				return ret;
			},

			// Handlers
			handle__buildPreview: function (isSecondaryLanguage) {
				return buildMemoComponentPreview(this.currentMemo, this.getSources(this.currentMemo.sourceName),!isSecondaryLanguage);
			},
			handle__commitMemo: function () {
				this.commitCurrentMemo();
			},
			handle__clearBundleSearch: function () {
				this.bundleSearch.selectedBundle = {};
			},
			handle__syncCriteriaId: function (index,payload) {
				this.currentMemo.idNumbers[index].compareCriteriaId = payload.value
			},
			handle__syncGameNameCriteriaId: function (index, payload) {
				this.currentMemo.gameNames[index].compareCriteriaId = payload.value
			},
			handle__getNewMockData: function () {
				this.pageOptions.isLoading = true;
				this.getMockDataByBundleId(this.bundleSearch.selectedBundle.id)
					.then((response) => {
						this.pageOptions.isLoading = false;
						this.handle__clearBundleSearch();
						this.toggleMockDataBundlePickerModal();
					});
			},
			handle__toggleMockDataBundlePickerModal: function () {
				this.toggleMockDataBundlePickerModal();
				this.handle__clearBundleSearch();
			},
			handle__beautifyEditor: function () {
				this.beautifyMemo();
			},
			handle__getTemplate: function (templateName, editor) {
				var doc = editor === 'cmSecondaryLanguageEditor' ? this.secondaryLanguageEditorCodemirror.getDoc() : this.editorCodemirror.getDoc();
				var cursor = doc.getCursor();

				api.post_getBaseTemplate(templateName)
					.then(response => {
						doc.replaceRange(response.data, cursor);
						this.handle__beautifyEditor();
					})
					.catch(error => {
						//commit('showErrorAlert')
					});
			},
			handle__toggleMockDataModall: function (editorTarget) {
				this.pageOptions.editorTarget = editorTarget;
				this.toggleMockDataModal();
			},

			// Store Actions
			...mapMockMemoDataActions(['getMockDataByBundleId', 'setMockManufacturerId', 'setSourceItems']),
			...mapNotesManagerActions(['setCurrentMemo', 'setCurrentMemoLanguage', 'toggleMockDataBundlePickerModal', 'beautifyMemo', 'setCurrentMemoWorkspaceCategory', 'setCurrentMemoSource', 'toggleMockDataModal','setShowEditor','setCurrentMemoSecondaryLanguage','setShowSecondaryLanguageEditor','unLinkValidationFromCurrentMemo']),

			// Select2 Callbacks
			updateLanguageDropDown: function (newValue) {
				this.setCurrentMemoLanguage(newValue);
			},
			updateSecondaryLanguageDropDown: function (newValue) {
				this.setCurrentMemoSecondaryLanguage(newValue);
				if (!newValue)
					this.currentMemo.secondaryLanguageContent = '';
			},
			updateBundleSearchDropDown: function (newValue) {
				this.bundleSearch.bundleName = newValue;
			},
			updateWSCDropDown: function (newValue) {
				this.setCurrentMemoWorkspaceCategory(newValue);
			},
			syncCurrentMemoSourceName: function (newValue) {
				this.setCurrentMemoSource(newValue);
				this.handle__setSourceItemsForMock();
			},
			handle__setSourceItemsForMock: function () {
				this.setSourceItems(this.getSources(this.currentMemo.sourceName))
			},
			asyncFind: _.debounce(function (query, elementID) {

				let filter = {
					searchTerm: query,
					pageSize: 5
				};

				switch (elementID) {
					case 'bundleSearch':
						lookupsAPI.get_bundles(filter)
							.then(response => {
								this.bundleSearch.options = response.data.Results;
							});
						break;
					default:
						break;
				}
			}, 500),
			setPosition: function ({
				top,
				left,
			},editorMenu) {
				let target = editorMenu === 'editorMenu' ? this.$refs.editorMenu : this.$refs.secondaryLanguageEditorMenu;
				target.style.left = `${left}px`;
				target.style.top = `${top}px`;
				this.toggleMenu('show', editorMenu);
			},
			toggleMenu: function (command, editorMenu) {
				let target = editorMenu === 'editorMenu' ? this.$refs.editorMenu : this.$refs.secondaryLanguageEditorMenu;
				target.style.display = command === "show" ? "block" : "none";
				if (editorMenu === 'editorMenu') {
					this.pageOptions.editorMenuVisible = !this.pageOptions.editorMenuVisible;
				}
				else {
					this.pageOptions.secondaryLanguageEditorMenuVisible = !this.pageOptions.secondaryLanguageEditorMenuVisible;
				}
			},

			insertPropertyAtCursorPosition: function (payload) {
				this.insertAtCursorPosition(payload.event.path, { isHtmlTag: false, isForInterpolation: true },payload.editorTarget);
			},

			handle__toolBarTagEvent: function (payload, editor) {
				this.insertAtCursorPosition(payload.tag,{ isHtmlTag: true, isForInterpolation: false }, editor)
			},
			insertAtCursorPosition: function (text, options, editor) {
				let toInsert = '';
				let selection = editor === 'cmEditor' ? this.editorCodemirror.getSelection() : this.secondaryLanguageEditorCodemirror.getSelection();

				if (options.isHtmlTag) {
					switch (text) {
						case "ul":
						case "ol":
							toInsert = `<${text}><li>${selection}</li></${text}>`;
							break;
						default:
							toInsert = `<${text}>${selection}</${text}>`;
							break;
					}
				}
				else if (options.isForInterpolation) {
					text = text.includes('root.') ? text.replace('root.', '') : text;
					toInsert = `{{ ${text} }}`;
				}
				else {
					toInsert = text;
				}

				switch (editor) {
					case 'cmSecondaryLanguageEditor':
						this.secondaryLanguageEditorCodemirror.replaceSelection(toInsert);
						break;
					case 'cmEditor':
					default:
						this.editorCodemirror.replaceSelection(toInsert);
						break;
				}
			},


			handle__setShowEditor: async function (payload) {
				if (payload.editor === 'cmEditor') {
					await this.setShowEditor(payload.showEditor);
					this.editorCodemirror.refresh();
				}
				else {
					await this.setShowSecondaryLanguageEditor(payload.showEditor);
					this.secondaryLanguageEditorCodemirror.refresh();
				}
			},

			handle__unlinkValidation: function (validationID) {
				this.unLinkValidationFromCurrentMemo(validationID);
			},
			handle__toolBarConditionalEvent: function (payload, editorTarget) {
				this.pageOptions.editorTarget = editorTarget;
				this.handle__toggleConditionalPickerModal();
			},
			handle__toggleConditionalPickerModal: function () {
				this.pageOptions.conditionalPickerValue = null;
				this.pageOptions.showConditionalPickerModal = !this.pageOptions.showConditionalPickerModal;
			},
			handle__wrapMemoInConditional: function () {

				let conditionalVal = this.pageOptions.conditionalPickerValue.tokenKey;
				if (this.pageOptions.conditionalPickerValue.type === 'Radio')
					conditionalVal += ` === "Yes"`;

				let condtionalStart = `<div v-if='${conditionalVal}'>`;
				let conditionalEnd = `</div>`;

				switch (this.pageOptions.editorTarget) {
					case 'cmSecondaryLanguageEditor':
						this.secondaryLanguageEditorCodemirror.setCursor(this.editorCodemirror.firstLine());
						this.secondaryLanguageEditorCodemirror.replaceSelection(condtionalStart);
						this.secondaryLanguageEditorCodemirror.setCursor(this.editorCodemirror.lastLine());
						this.secondaryLanguageEditorCodemirror.replaceSelection(conditionalEnd);
						break;
					case 'cmEditor':
						this.editorCodemirror.setCursor(this.editorCodemirror.firstLine());
						this.editorCodemirror.replaceSelection(condtionalStart);
						this.editorCodemirror.setCursor(this.editorCodemirror.lastLine());
						this.editorCodemirror.replaceSelection(conditionalEnd);
					default:

						break;
				}

				this.handle__beautifyEditor();
				this.pageOptions.editorTarget = '';
				this.handle__toggleConditionalPickerModal();
			}
		},
		watch: {
			'currentMemo.manufacturerCodes': function (newVal, oldVal) {
					if (this.currentMemo.manufacturerCodesNotIncluded.length > 0 && this.currentMemo.manufacturerCodes.length > 0) {
						bootbox.alert("You can not have Manufacturers and manufactures (Do NOT Apply) selection at the same time.")
						this.currentMemo.manufacturerCodes = []
					}
			},
			'currentMemo.manufacturerCodesNotIncluded': function (newVal, oldVal) {
					if (this.currentMemo.manufacturerCodes.length > 0 && this.currentMemo.manufacturerCodesNotIncluded.length > 0) {
						bootbox.alert("You can not have Manufacturers and manufactures (Do NOT Apply) selection at the same time.")
						this.currentMemo.manufacturerCodesNotIncluded = []
					}
			},
		}
	}
</script>
<style scoped>
	.memo__container {
		border-radius: 5px;
		padding: 20px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		margin: 10px;
	}

		.memo__container:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

	.highlight {
		color: #0081DF;
	}

	.twoColumn__container {
		display: flex;
		flex-wrap: wrap;
	}

	.twoColumn__item {
		flex: 1 1 49%;
	}

	.CodeMirror-scroll-margin-top {
		margin-top: 30px;
	}

	.CodeMirror {
		border: 1px solid #eee;
		height: auto;
	}

	.deprecated {
		color: red;
		font-weight: bold;
	}

	.error {
		color: #d33131;
	}

	.menu {
		width: 150px;
		box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
		position: fixed;
		display: none;
		background: white;
		z-index: 9999999;
	}

	.menu-options {
		list-style: none;
		padding: 10px 0;
	}

	.menu-option {
		font-weight: 500;
		font-size: 14px;
		padding: 10px 40px 10px 20px;
		cursor: pointer;
	}

		.menu-option:hover {
			background: rgba(0, 0, 0, 0.2);
		}

	.flex__container {
		display: flex;
		justify-content: flex-end;
	}

	.flex__item {
		margin-right: 2px;
	}

	.clickable {
		cursor: pointer;
	}
</style>