<template>
	<div>
		<h2>Memo History</h2>
		<glide-grid id="memo-lineage" zebraStripe :columns="columns" :rows="rows">
			<template v-slot:Actions="glide">
				<template v-if="glide.row.deprecatedDate">
					<base-button :onclick="(evt) => handle__navigateToMemo(glide.row.id, true)">View <i class="fas fa-history"></i></base-button>
				</template>
				<template v-else>
					<base-button :onclick="(evt) => handle__navigateToMemo(glide.row.id, false)">View</base-button>
				</template>
			</template>
		</glide-grid>
	</div>
</template>
<script>
	import api from '../../../api/noteManager';
	import GlideGrid from '@/components/utility/GlideGrid.vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters: mapNotesManagaerGetters, mapActions: mapNotesManagerActions } = createNamespacedHelpers('notesManager');

	export default {
		activated: function () {
			this.handle__getMemoLineage();
		},
		components: {
			GlideGrid
		},
		props: {
			id: Number,
			originialId: Number
		},
		data() {
			const columns = [
				{
					label: 'Name',
					field: 'name',
					style: {
						width: '200px',
						verticalAlign: 'middle'
					}
				},
				{
					label: 'Description',
					field: 'description',
					filter: {
						name: 'truncate',
						args: [50]
					},
					style: {
						width: '200px',
						verticalAlign: 'middle'
					}
				},
				{
					label: 'Deprecated Date',
					field: 'deprecatedDate',
					filter: {
						name: 'formatDateTime',
						args: []
					},
					style: {
						minWidth: '200px',
						verticalAlign: 'middle'
					}
				},
				{
					slot: 'Actions',
					field: null,
					style: {
						width: '100px',
						textAlign: 'right',
						verticalAlign: 'middle'
					}
				}
			];
			return {
				columns,
				rows: []
			}
		},
		computed: {
			...mapNotesManagaerGetters(['deprecatedMemoExists', 'getMemoById']),
		},
		methods: {
			...mapNotesManagerActions(['setCurrentMemo', 'setCurrentView', 'setCurrentMemoFromDeprecatedCache', 'addDeprecatedMemoToCache']),
			handle__getMemoLineage: function () {
				let lineageId = this.originialId ? this.originialId : this.id;
				api.post_getMemoLineage(lineageId)
					.then(response => {
						this.handle__setRows(response.data);
					});
			},
			handle__setRows: function (rows) {
				this.rows = rows;
			},
			handle__navigateToMemo: function (id) {
				let currMemo = this.getMemoById(id);
				if (currMemo) {
					this.setCurrentMemo(currMemo.localId);
				}
				else if (!this.deprecatedMemoExists(id)) {
					this.handle__getDeprecatedMemoAndAddToCache(id)
						.then(() => {
							this.setCurrentMemoFromDeprecatedCache(id);
						})
				}
				else {
					this.setCurrentMemoFromDeprecatedCache(id);
				}
				this.setCurrentView('Memo');
			},
			handle__getDeprecatedMemoAndAddToCache: function (id) {
				return api.post_getMemo(id)
					.then(response => {
						this.addDeprecatedMemoToCache(response.data);
					})
					.catch(error => {
						//commit('showErrorAlert')
					});
			}
		}
	}
</script>
<style lang="scss" scoped>
	@use '@/components/theme/Colors';

	h2 {
		color: Colors.$blueLight;
	}
</style>