<template>
	<div>
		<ul>
			<li v-for="(tab) in internalTabs" v-bind:key="tab" @click="selectedTab = tab"> {{tab | fixTabNames}}</li>
		</ul>
		<div>
			<JSONView :data="selectedTabData" v-on:selected="itemSelected" />
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapState: mapNotesManagerState, mapGetters: mapNotesManagaerGetters, mapActions: mapNotesManagerActions } = createNamespacedHelpers('notesManager');
	const { mapState: mapMockMemoDataState, mapGetters: mapMockMemoDataGetters, mapActions: mapMockMemoDataActions } = createNamespacedHelpers('notesManagerMockMemoData');
	import { JSONView } from 'vue-json-component';
	export default {
		components: {
			JSONView
		},
		props: {
			dataSet: {
				type: Object
			},
			tabs: {
				type: Array
			},
			editorTarget: {
				type: String
			}
		},
		data() {
			return {
				selectedTab: 'root',
			}
		},
		filters: {
			fixTabNames: function (str) {
				const deCamelCase = str => str.replace(/[A-Z]/g, ' $&').replace(/^./, toUppercase);
				const toUppercase = str => str.toUpperCase();
				return deCamelCase(str);
			},
		},
		computed: {
			internalTabs: function () {
				return ['root', 'questions', ...this.tabs];
			},
			selectedTabData: function () {
				let result = {};

				switch (this.selectedTab) {
					case "root":
						for (const prop in this.dataSet) {
							if (this.dataSet.hasOwnProperty(prop)) {
								if (!this.isObject(this.dataSet[prop]) && !prop.startsWith("token_")) {
									result[prop] = this.dataSet[prop];
								}
							}
						}
						break;
					case "questions":
						for (const prop in this.dataSet) {
							if (this.dataSet.hasOwnProperty(prop)) {
								if (!this.isObject(this.dataSet[prop]) && prop.startsWith("token_")) {
									result[prop] = this.dataSet[prop];
								}
							}
						}
						break;
					case "jurisdictionLetterDetails":
						result.jurisdictionLetterDetails = this.dataSet.jurisdictionLetterDetails;
						break;
					case "components":
						result.components = this.dataSet.components;
						break;
					//case "clauseReports":
					//	result.clauseReports = this.dataSet.clauseReports;
					//	break;
					case "paytables":
						result.paytables = this.dataSet.paytables;
						break;
					case "certificationIssuers":
						result.certificationIssuers = this.dataSet.certificationIssuers;
						break;
					case "sourceItems":
						result.sourceItems = this.dataSet.sourceItems;
						break
					case "jira":
						result.jira = this.dataSet.jira;
						break;
					default:
						break;
				}

				return result;
			}
		},
		methods: {
			...mapNotesManagerActions(['toggleMockDataModal']),
			itemSelected: function (event) {
				var tempInput = document.createElement("input");
				tempInput.style = "position: absolute; left: -1000px; top: -1000px";
				tempInput.value = event.path;
				document.body.appendChild(tempInput);
				tempInput.select();
				tempInput.setSelectionRange(0, 99999);
				document.execCommand("copy");
				document.body.removeChild(tempInput);
				this.$emit('property-copied-to-clipboard', { event: event, editorTarget: this.editorTarget });
				this.toggleMockDataModal();
			},
			isObject: function (item) {
				return typeof item === "object";
			},
		}
	}
</script>
<style scoped>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: flex;
	}



	li {
		text-align: center;
		padding: 16px;
		text-decoration: none;
		cursor: pointer;
	}
</style>