﻿<template>
	<div>
		<base-field-labels title="Name"
					   helpText="This is the name of the question, it will be used for reference in the letter generation interface.">
			<span>{{currentQuestion.name}}</span>
		</base-field-labels>
		<base-field-labels title="Question Text"
					   helpText="This is the text of the question being asked.">
			<span>{{currentQuestion.questionText}}</span>
		</base-field-labels>
		<base-field-labels title="Question Type"
					   helpText="This is the type of the control that will be used to represent the question.">
			<span>{{currentQuestion.type}}</span>
		</base-field-labels>
		<base-field-labels title="Token Key"
					   helpText="This is the name of the paramater as it will apear in the Memo's data model. This name is what will be referenced in your template.">
			<span>{{currentQuestion.tokenKey}}</span>
		</base-field-labels>
		<base-field-labels title="Token Value"
					   helpText="This is used to store the value of the answer to the question. If this is provided it will be the default answer to the question.">
			<span>{{currentQuestion.tokenValue}}</span>
		</base-field-labels>
		<div class="marginTop">
			<base-button :onclick="handle__showAvancedView" :isPrimary="true">Additional Properties</base-button>
			<hr />
			<div v-show="showAdvanced">
				<base-field-labels title="ID"
								   helpText="This is the unique ID of the question.">
					<span>{{currentQuestion.id}}</span>
				</base-field-labels>
				<base-field-labels title="Column Header"
								   helpText="If this question is a subquestion of a Table type question this will be the header of the column in the table for this question.">
					<span>{{currentQuestion.columnHeader}}</span>
				</base-field-labels>
				<base-field-labels title="Conditional Expression"
								   helpText="A javascript expression that evaulates to true or false, this is used to control if a dependant question is shown.">
					<span>{{currentQuestion.conditionalExpression}}</span>
				</base-field-labels>
				<base-field-labels title="Option Delimiter"
								   helpText="If this question has has options, i.e. a select list, then this is what character should be used as a delimiter when rendered in the letter.">
					<span>{{currentQuestion.optionDelimiter}}</span>
				</base-field-labels>
				<base-field-labels title="Reference Lookup"
								   helpText="If this question is of type 'Lookup' or 'LookupMultiple' then this is the name of the query function that will provide data for the question.">
					<span>{{currentQuestion.referenceLookup}}</span>
				</base-field-labels>
				<base-field-labels title="Source"
								   helpText="If this question utilizes data from an external source, this is the name of the data source.">
					<span>{{currentQuestion.source}}</span>
				</base-field-labels>
				<base-field-labels title="Source Property"
								   helpText="If this question utilizes data from an external source, this is the name of a sub-data property of the data source.">
					<span>{{currentQuestion.sourceProperty}}</span>
				</base-field-labels>
				<base-field-labels title="Question Options"
								   helpText="If this question is a type that utilizes multiple options for selection, these are the options.">
					<span>{{currentQuestion.questionOptions}}</span>
				</base-field-labels>
				<base-field-labels title="Parent Question ID"
								   helpText="If this question is child of another question, this is the ID of the parent question.">
					<span>{{currentQuestion.parentQuestionId}}</span>
				</base-field-labels>
				<base-field-labels title="Is Required"
								   helpText="If this question is required.">
					<span>{{currentQuestion.isRequired}}</span>
				</base-field-labels>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapActions: mapNotesManagerActions, mapGetters: mapNotesManagaerGetters } = createNamespacedHelpers('notesManager');

	export default {
		created: function () {

		},
		components: {

		},
		data() {
			return {
				showAdvanced: false
			}
		},
		computed: {
			...mapNotesManagaerGetters(['currentView', 'letterContent', 'currentQuestion'])
		},
		methods: {
			...mapNotesManagerActions(['initalize', 'setCurrentView', 'setLetterContent']),
			handle__showAvancedView: function () {
				this.showAdvanced = !this.showAdvanced;
			}
		}
	}
</script>
<style>
	.marginTop {
		margin-top: 10px;
	}
</style>