<template>
	<div>
		<label>{{ currentQuestion.questionText }}</label>
		<div v-if="currentQuestion.type == 'Checkbox'">
			<input type="checkbox" v-model="currentQuestion.tokenValue">
		</div>
		<div v-else-if="currentQuestion.type == 'Datepicker'">
			<DatePicker v-model="currentQuestion.tokenValue" />
		</div>
		<div v-else-if="currentQuestion.type == 'Dropdown'">
			<select v-model="currentQuestion.tokenValue">
				<option v-for="item in JSON.parse(currentQuestion.questionOptions)" v-bind:value="item.value">
					{{ item.value }}
				</option>
			</select>
		</div>
		<div v-else-if="currentQuestion.type == 'Multiselect'">
			<select v-model="currentQuestion.selectedOptions" multiple @change="handle__MultiSelectsValues">
				<option v-for="item in JSON.parse(currentQuestion.questionOptions)" v-bind:value="item.value">
					{{ item.value }}
				</option>
			</select>
		</div>
		<div v-else-if="currentQuestion.type == 'Lookup'">
			<Lookup id="lookUp"
					:value="currentQuestion.tokenValue"
					:lookupajax="currentQuestion.referenceLookup"
					:lookuptextfield="lookupTextField"
					v-model="currentQuestion.tokenValue"
					@updateLookupTextField="UpdateLookupTextField" />
		</div>
		<div v-else-if="currentQuestion.type == 'LookupMultiple'">
			<LookupMultiple ref="lookUpMultiple"
							id="lookUpMultiple"
							:value="currentQuestion.tokenValue"
							:lookupajax="currentQuestion.referenceLookup"
							:lookuptextfield="lookupTextField"
							:options="options"
							v-model="currentQuestion.tokenValue"
							@updateLookupTextField="UpdateLookupTextField"
							@change="handle__multiSelectLookupValues" />
		</div>
		<div v-else-if="currentQuestion.type == 'Plaintext'">
			<input type="text" v-model="currentQuestion.tokenValue" />
		</div>
		<div v-else-if="currentQuestion.type == 'Radio'">
			<div v-for="item in JSON.parse(currentQuestion.questionOptions)">
				<input type="radio" :value="item.value" v-model="currentQuestion.tokenValue">
				<label for="item.value">{{item.value}}</label>
			</div>
			<button @click="handle__ClearSelection">Clear Selection</button>
		</div>
		<div v-else-if="currentQuestion.type == 'Table'">
			Under Construction
		</div>
		<div v-else-if="currentQuestion.type == 'Textarea' || currentQuestion.type == 'Static'">
			<textarea v-model="currentQuestion.tokenValue"></textarea>
		</div>
		<div v-else-if="currentQuestion.type == 'ComponentList'">
			<base-select v-model="currentQuestion.tokenValue"
						 placeholder="Select Component(s)"
						 track-by="id"
						 :options="components.map(x => { return {id: x.id, idNumber: x.idNumber, gameName: x.gameName, version: x.version}})"
						 :multiple="true"
						 :searchable="true"
						 :hide-selected="true"
						 :max-height="600"
						 :showNoResults="false"
						 :customLabel="({idNumber, gameName, version}) => `${idNumber} | ${gameName} | ${version}` ">
				<template slot="option" slot-scope="props">
					<div>
						<span>{{ `${props.option.idNumber} | ${props.option.gameName} | ${props.option.version}` }}</span>
					</div>
				</template>
			</base-select>
		</div>
		<div v-else>
			Question Type Not Recognized
		</div>
	</div>
</template>

<script>
	import DatePicker from '@/components/utility/DatePicker.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters: mapNotesManagaerGetters } = createNamespacedHelpers('notesManager');
	const { mapState: mapMockMemoDataState, mapGetters: mapMockMemoDataGetters, mapActions: mapMockMemoDataActions } = createNamespacedHelpers('notesManagerMockMemoData');
	export default {
		components: {
			DatePicker,
			Lookup,
			LookupMultiple,
		},
		props: {

		},
		data() {
			return {
				lookupTextField: null,
				options: [],
			}
		},
		computed: {
			...mapNotesManagaerGetters(['currentQuestion']),
			...mapMockMemoDataGetters(['components', 'componentsRootPropertiesOnly'])
		},
		methods: {
			handle__ClearSelection: function () {
				this.currentQuestion.tokenValue = null;
			},
			handle__MultiSelectsValues: function () {
				this.currentQuestion.tokenValue = this.currentQuestion.selectedOptions.join(this.currentQuestion.optionDelimiter);
			},
			handle__multiSelectLookupValues: function () {
				let domNodesAsArray = [...this.$refs.lookUpMultiple.$el.options];
				let selectedOptions = domNodesAsArray.map(x => { return { label: x.label, value: x.value } });
				let selectedOptionsLabels = selectedOptions.map(x => x.label);
				let selectedOptionValues = selectedOptions.map(x => x.value);
				this.currentQuestion.selectedOptions = selectedOptionValues;
				this.currentQuestion.tokenValue = selectedOptionsLabels.join(this.currentQuestion.optionDelimiter);
			},
			UpdateLookupTextField: function (val, id) {
				this.currentQuestion.tokenValue = val;
				this.lookupTextField = val;
				this.$emit('input', { val: val, id: id, element: this.$el });
			}
		}
	}
</script>

<style scoped>
</style>