﻿<template>
	<div>
		<Modal v-if="showQuestionModal">
			<template #header>
				<h2 class="highlight">Search for Question to Associate</h2>
			</template>
			<template #body>
				<base-button :onclick="handle__toggleQuestionFilters">Toggle Filters</base-button>
				<div v-show="pageOptions.showAdditionalFilters">
					<base-field-labels title="Question Type"
								   helpText="This is the type of the control that will be used to represent the question.">
						<base-select v-model="queryFilter.inputType"
									 id="inputTypeFilter"
									 label="key"
									 track-by="key"
									 placeholder="Select Question Type"
									 :options="questionTypes"
									 :close-on-select="true"
									 :max-height="600"
									 :allowEmpty="true"
									 @select="handle__clearSearchResults">
						</base-select>
					</base-field-labels>
					<base-field-labels title="Add Date"
								   helpText="Date range that the question was created.">
						<div class="flexWrapper">
							<div class="flexItem">
								<label>Start</label>
								<date-picker v-model="queryFilter.addDateRange.begin" @change="handle__clearSearchResults"></date-picker>
							</div>
							<div class="flexItem">
								<label>End</label>
								<date-picker v-model="queryFilter.addDateRange.end" @change="handle__clearSearchResults"></date-picker>
							</div>
						</div>
					</base-field-labels>
					<base-field-labels title="Edit Date"
								   helpText="Date range that the question was last edited.">
						<div class="flexWrapper">
							<div class="flexItem">
								<label>Start</label>
								<date-picker v-model="queryFilter.editDateRange.begin" @change="handle__clearSearchResults"></date-picker>
							</div>
							<div class="flexItem">
								<label>End</label>
								<date-picker v-model="queryFilter.editDateRange.end" @change="handle__clearSearchResults"></date-picker>
							</div>
						</div>
					</base-field-labels>
				</div>
				<div>
					<base-field-labels title="Question Text"
								   helpText="Search for text across 'Question Name', 'Question Text' and 'Token_value'.">
						<base-select id="questionSearch"
									 label="name"
									 track-by="name"
									 placeholder="Type to search"
									 open-direction="bottom"
									 v-model="searchResult.selectedOption"
									 :options="searchResult.options"
									 :searchable="true"
									 :loading="pageOptions.isLoading"
									 :close-on-select="true"
									 :options-limit="100"
									 :limit="5"
									 :limit-text="limitText"
									 :max-height="600"
									 :show-no-results="true"
									 :custom-label="nameWithType"
									 @search-change="(...args) => asyncFind(...args)">
						</base-select>
					</base-field-labels>
				</div>
			</template>
			<template #footer>
				<base-button :onclick="handle__toggleQuestionModal">Close</base-button>
				<base-button :onclick="handle__addQuestion" :isPrimary="true">Add</base-button>
			</template>
		</Modal>
		<Modal v-if="showQuestionDetailModal" :modalContainerWidth="'1000px'">
			<template #header>
				<h2 class="highlight">Question Detail</h2>
			</template>
			<template #body>
				<question></question>
			</template>
			<template #footer>
				<base-button :onclick="handle__toggleQuestionDetailModal">Close</base-button>
			</template>
		</Modal>
		<Modal v-if="showQuestionAnswerModal" :modalContainerWidth="'1000px'">
			<template #header>
				<h2 class="highlight">Answer Question</h2>
			</template>
			<template #body>
				<question-answer></question-answer>
			</template>
			<template #footer>
				<base-button :onclick="handle__toggleQuestionAnswerModal">Close</base-button>
			</template>
		</Modal>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Token Key</th>
					<th>Type</th>
					<th>Token Value</th>
					<th>Is Required?</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="question in currentMemo.questions">
					<td>{{question.name}} <span v-if="question.parentQuestionId != null && question.parentQuestionId != 0"><i class="fas fa-info-circle" :title="getQuestionName(question.parentQuestionId)"></i></span></td>
					<td>{{question.tokenKey}}</td>
					<td>{{question.type}}</td>
					<td>
						{{question.tokenValue | truncate(50)}}
					</td>
					<td>{{(question.isRequired) ? "Yes" : "No"}}</td>
					<td>
						<div v-show="!currentMemoIsDeprecated">
							<base-button :onclick="(evt) => handle__toggleQuestionAnswerModal(question.id)">Edit</base-button>
							<base-button :onclick="(evt) => handle__toggleQuestionDetailModal(question.id)">Info</base-button>
							<base-button :onclick="(evt) => handle__manageQuestion(question.id)">Manage Question</base-button>
							<base-button :onclick="(evt) => handle__removeQuestion(question)">Remove</base-button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div v-show="!currentMemoIsDeprecated">
			<base-button :onclick="handle__toggleQuestionModal" :isPrimary="true">Add Question</base-button>
			<base-button :onclick="(evt) => handle__manageQuestion()">Create Question</base-button>
		</div>
	</div>
</template>
<script>
	import DatePicker from '@/components/utility/DatePicker.vue'
	import debounce from 'lodash/debounce';
	import api from '../../../api/noteManager';
	import Lookup from '@/components/utility/Lookup.vue';
	import Modal from '@/components/utility/Modal.vue';
	import Question from '@/components/documents/noteManager/Question.vue';
	import QuestionAnswer from '@/components/documents/noteManager/QuestionAnswer.vue';

	import { createNamespacedHelpers } from 'vuex';
	const { mapState: mapNotesManagerState, mapGetters: mapNotesManagaerGetters, mapActions: mapNotesManagerActions } = createNamespacedHelpers('notesManager');

	export default {
		components: {
			Lookup,
			Modal,
			Question,
			DatePicker,
			QuestionAnswer
		},
		data() {
			return {
				pageOptions: {
					showAdditionalFilters: false,
					isLoading: false,
				},
				queryFilter: {
					inputType: {},
					addDateRange: {
						begin: null,
						end: null
					},
					editDateRange: {
						begin: null,
						end: null
					},
				},
				searchResult: {
					selectedOption: {},
					options: [],
					currentQuestion: {}
				},
				rootQuestionManagerUrl: rootQuestionManagerUrl,
			}
		},
		computed: {
			...mapNotesManagaerGetters(['currentMemo', 'showQuestionModal', 'showQuestionDetailModal', 'currentMemosQuestionIds', 'currentMemoIsDeprecated', 'questionTypes', 'showQuestionAnswerModal', 'currentQuestion']),
			questionsFilter: function () {
				return {
					excludeQuestionIds: this.currentMemosQuestionIds || []
				}
			},
		},
		methods: {
			...mapNotesManagerActions(['toggleQuestionModal', 'addQuestion', 'toggleQuestionDetailModal', 'setCurrentQuestionbyId', 'removeQuestion', 'toggleQuestionAnswerModal']),
			getQuestionName: function (id) {
				let parentQuestion = this.currentMemo.questions.find(x => x.id == id);
				if (parentQuestion) {
					return "Parent Question - " + parentQuestion.name;
				}
				else {
					return "Parent Question does not exist. Please add.";
				}
			},
			resetSearch: function () {
				this.handle__clearQueryFilter();
				this.handle__clearSearchResults();
				this.handle__resetPageOptions();
			},
			nameWithType: function ({ name, type }) {
				return name ? `${name} - [${type}]` : '';
			},
			limitText(count) {
				return `and ${count} other questions`
			},
			asyncFind: _.debounce(function (query, elementID) {
				this.searchResult.options = [];
				this.pageOptions.isLoading = true
				let filter = {
					Text: query,
					QuestionIdsToExclude: this.currentMemosQuestionIds,
					Type: this.queryFilter.inputType.value,
					AddDateRangeStart: this.queryFilter.addDateRange.begin || null,
					AddDateRangeEnd: this.queryFilter.addDateRange.end || null,
					EditDateRangeStart: this.queryFilter.editDateRange.begin || null,
					EditDateRangeEnd: this.queryFilter.editDateRange.end || null
				};

				api.post_searchQuestions(filter)
					.then(response => {
						this.searchResult.options = response.data;
						this.pageOptions.isLoading = false;
					});
			}, 500),

			handle__toggleQuestionFilters: function () {
				this.pageOptions.showAdditionalFilters = !this.pageOptions.showAdditionalFilters;
			},
			handle__clearSearchResults: function () {
				this.searchResult = {
					selectedOption: {},
					options: []
				};
			},
			handle__toggleQuestionModal: function () {
				this.resetSearch();
				this.toggleQuestionModal();
			},
			handle__resetPageOptions: function () {
				this.pageOptions = {
					showAdditionalFilters: false,
					isLoading: false,
				};
			},
			handle__addQuestion: function () {
				this.addQuestion(this.searchResult.selectedOption.id);
				if (this.searchResult.selectedOption.parentQuestionId != null && this.searchResult.selectedOption.parentQuestionId != 0) {
					//check if parent question already exist
					let exists = this.currentMemo.questions.some(x => x.id == this.searchResult.selectedOption.parentQuestionId);
					if (!exists) {
						this.addQuestion(this.searchResult.selectedOption.parentQuestionId);
					}
				}
					
				this.handle__toggleQuestionModal();
			},
			handle__manageQuestion: function (id) {
				let url = `${jsPath}${this.rootQuestionManagerUrl.slice(1)}`;
				if (id)
					url += id
				window.open(url);
			},
			handle__removeQuestion: function (question) {
				this.removeQuestion(question.id);
			},

			handle__toggleQuestionDetailModal: function (id) {
				this.setCurrentQuestionbyId(id);
				this.toggleQuestionDetailModal();
			},
			handle__toggleQuestionAnswerModal: function (id) {
				this.setCurrentQuestionbyId(id);
				this.toggleQuestionAnswerModal();
			},
			handle__clearQueryFilter: function () {
				this.queryFilter = {
					inputType: {},
					addDateRange: {
						begin: null,
						end: null
					},
					editDateRange: {
						begin: null,
						end: null
					},
				};
			}
		}
	}
</script>
<style lang="scss" scoped>

	@use '@/components/theme/Colors';
	@use '@/components/theme/Spacing';
	@use "sass:color";

	.highlight {
		color: Colors.$blueLight
	}

	.flexWrapper {
		display: flex;
		flex-direction: row;
	}

	.flexItem:not(:first-of-type) {
		margin-left: Spacing.$double;
	}

	.flexItem {
		flex: 1 1 auto;
	}
</style>