﻿<template>
	<div class="searchContainer">
		<div class="searchContainerRow">
			<div class="searchOptionsHeader"><h5>Search Options</h5></div>
		</div>
		<div class="searchContainerRow">
			<div class="searchOptionsContainer">
				<div class="searchOptionItem--first">
					<base-checkbox :field-validation="$v"
								   v-model="flags.linkedToMemo" />
				</div>
				<div class="searchOptionItem">
					<span>Linked to memo</span>
				</div>
				<div class="searchOptionItem">
					<base-select id="memoIdFilter"
								 v-model="filter.memoId"
								 placeholder="Select memo"
								 label="text"
								 track-by="id"
								 :options="optionSets.memos"
								 :multiple="false"
								 :searchable="true"
								 :options-limit="300"
								 :limit="5"
								 :hide-selected="true"
								 :max-height="600"
								 :showNoResults="false"
								 @search-change="asyncFind"
								 :disable="!flags.linkedToMemo">
					</base-select>
				</div>
			</div>
			<div class="searchOptionsContainer">
				<div class="searchOptionItem--first">
					<base-checkbox :field-validation="$v"
								   v-model.trim="flags.validationtextContains" />
				</div>
				<div class="searchOptionItem">
					<span>Text contains</span>
				</div>
				<div class="searchOptionItem">
					<base-input :field-validation="$v"
								v-model="filter.validationText"
								:disabled="!flags.validationtextContains" />
				</div>
			</div>
			<div class="searchOptionsContainer">
				<div class="searchOptionItem--first">
					<base-checkbox :field-validation="$v"
								   v-model.trim="flags.showSingleValidation" />
				</div>
				<div class="searchOptionItem">
					<span>Normalized ID</span>
				</div>
				<div class="searchOptionItem">
					<base-input :field-validation="$v"
								v-model.trim="filter.normalizedId"
								:disabled="!flags.showSingleValidation" />
				</div>
			</div>
			<div class="searchOptionsContainer--end">
				<div>
					<Base-Button :onclick="handle__search" :isPrimary="true">Refresh</Base-Button>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import lookupsAPI from '../../../api/lookups';
	export default {
		components: {

		},
		data() {
			return {
				flags: {
					linkedToMemo: false,
					validationtextContains: false,
					showSingleValidation: false,
				},
				filter: {
					memoId: null,
					validationText: '',
					normalizedId: null
				},
				optionSets: {
					memos: [],
					singleValidationChoices: []
				}
			}
		},
		computed: {

		},
		methods: {
			handle__search: function () {
				this.$emit('search', this.filter)
			},
			asyncFind: _.debounce(function (query, elementID) {

				let filter = {
					searchTerm: query,
					pageSize: 5
				};

				lookupsAPI.get_letterMemos(filter)
					.then(response => {
						this.optionSets.memos = response.data.Results;
					});
			}, 500)
		},
		validations: {
			filter: {
				memoId: {},
				validationTex: {},
				normalizedId: {}
			}
		}
	}
</script>
<style lang="scss" scoped>

	@use '@/components/theme/Colors';
	@use '@/components/theme/Spacing';
	@use "sass:color";


	.searchContainer {
		display: flex;
		flex-direction: column;
		border: solid 2px Colors.$accentLight;
		border-radius: 6px;
		padding: 4px;
		box-sizing: border-box;
	}

	.searchContainerRow {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}

	.searchOptionsContainer {
		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
		margin: Spacing.$half;
	}

	.searchOptionsContainer--end {
		display: flex;
		justify-content: flex-end;
		margin: Spacing.$half;
	}

	.searchOptionItem {
		flex: 1 1 auto;
	}

	.searchOptionItem--first {
		flex: 0 0 auto;
	}

	.searchOptionsHeader {
		border-bottom: 2px solid Colors.$accentLight;
	}

	h5 {
		color: Colors.$primary;
		font-size: 1.15em;
		font-weight: bold;
		text-transform: uppercase;
	}
</style>