﻿<template>
	<div>
		<h3>Validation/Conditional Link Manager</h3>
		<base-toggle-button class="toggleWrapper" :leftText="'Linked to This Note'" :rightText="'Search'" @toggle="(payload) => handle__toggle(payload)"></base-toggle-button>
		<transition-group name="fade">
			<validation-search-options v-bind:key="Math.random()" v-show="showSearchOptions" class="searchOptionsWeapper" @search="(filter) => handle__search(filter)"></validation-search-options>
			<glide-grid id="searchResults"
						v-show="showSearchOptions"
						v-bind:key="Math.random()"
						class="gridWrapper"
						zebraStripe
						fullWidth
						:columns="columns"
						:rows="searchResults"
						:paging="{
							currentPage: 1,
							numberPerPage: 10,
							enable: true,
							enableRPP: true
						}"
						:filtering="{
							enable: true
						}"
						:sorting="{
							enable: true
						}">
				<template v-slot:LinkedJurisdictions="glide">
					<div :title="buildTitle(glide.row.jurisdictions)">
						<multiselect placeholder="No jurisdiction links for this validation." v-model="glide.row.jurisdictions" label="name" track-by="id" :options="glide.row.jurisdictions" :multiple="true" :taggable="true" :disabled="true" :limit="2" :limit-text="limitText" :max-height="200"></multiselect>
					</div>
				</template>
				<template v-slot:Link="glide">
					<base-button :onclick="(evt) => handle__linkToMemo(glide.row)">Link</base-button>
				</template>
			</glide-grid>
		</transition-group>
		<transition name="fade">
			<glide-grid id="validations"
						v-show="!showSearchOptions"
						class="gridWrapper"
						zebraStripe
						fullWidth
						:columns="columns"
						:rows="linkedValidations"
						:paging="{
							currentPage: 1,
							numberPerPage: 10,
							enable: true,
							enableRPP: true
						}"
						:filtering="{
							enable: true
						}"
						:sorting="{
							enable: true
						}">
				<template v-slot:LinkedJurisdictions="glide">
					<div :title="buildTitle(glide.row.jurisdictions)">
						<multiselect placeholder="No jurisdiction links for this validation." v-model="glide.row.jurisdictions" label="name" track-by="id" :options="glide.row.jurisdictions" :multiple="true" :taggable="true" :disabled="true" :limit="2" :limit-text="limitText" :max-height="200"></multiselect>
					</div>
				</template>
				<template v-slot:Link="glide">
					<div class="flexWrapper">
						<multiselect class="flexItem"
									 v-model="glide.row.answer"
									 placeholder="Linked when..."
									 :options="optionSets.linkWhenAnswers"
									  :disabled="glide.row.questionType == 10"
									 @input="(evt) => answerSelected(glide.row)">
							<template slot="singleLabel" slot-scope="props">
								<div><span>Linked when </span><span v-bind:class="{pass:props.option === 'PASS', notApplicable: props.option === 'NA', fail: props.option === 'FAIL'}">{{ props.option }}</span></div>
							</template>
							<template slot="option" slot-scope="props">
								<div><span>Linked when </span><span v-bind:class="{pass:props.option === 'PASS', notApplicable: props.option === 'NA', fail: props.option === 'FAIL'}">{{ props.option }}</span></div>
							</template>
						</multiselect>
						&nbsp;<strong>OR</strong>&nbsp; 
						<multiselect class="flexItem"
									  v-model="glide.row.conditionalAnswer"
									 placeholder="Linked when..."
									 :options="optionSetsCon.linkWhenAnswers"
									 :disabled="glide.row.questionType != 10" 
									 @input="(evt) => conditionalAnswerSelected(glide.row)">
							<template slot="singleLabel" slot-scope="props">
								<div><span>Linked when </span><span v-bind:class="{pass:props.option === 'YES', fail: props.option === 'NO'}">{{ props.option }}</span></div>
							</template>
							<template slot="option" slot-scope="props">
								<div><span>Linked when </span><span v-bind:class="{pass:props.option === 'YES', fail: props.option === 'NO'}">{{ props.option }}</span></div>
							</template>
						</multiselect>
						<base-button class="flexItem" :onclick="(evt) => handle__unLinkFromMemo(glide.row)">Un-Link</base-button>
					</div>
				</template>
				
			</glide-grid>
		</transition>
	</div>
</template>
<script>
	import Multiselect from "vue-multiselect";
	import debounce from 'lodash/debounce';
	import api from '../../../api/noteManager';
	import GlideGrid from '@/components/utility/GlideGrid.vue';
	import ValidationSearchOptions from '@/components/documents/noteManager/ValidationSearchOptions.vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapState: mapNotesManagerState, mapGetters: mapNotesManagaerGetters, mapActions: mapNotesManagerActions } = createNamespacedHelpers('notesManager');

	export default {
		components: {
			Multiselect,
			GlideGrid,
			ValidationSearchOptions
		},
		props: {
			linkedValidations: {
				type: Array,
				required: true
			}
		},
		data() {
			const columns = [
				{
					label: 'Normalized ID',
					field: 'normalizedID',
					filterable: false,
					style: {
						width: '100px',
						verticalAlign: 'middle'
					}
				},
				{
					label: 'Validation Text',
					field: 'validationText',
					filterable: false,
					style: {
						width: '200px',
						verticalAlign: 'middle'
					}
				},
				{
					slot: 'LinkedJurisdictions',
					label: 'Linked Jurisdictions',
					field: null,
					filterable: false,
					style: {
						width: '200px',
						verticalAlign: 'middle'
					}
				},
				{
					slot: 'Link',
					label: 'Link Validation or Conditional',
					field: null,
					filterable: false,
					style: {
						width: '200px',
						textAlign: 'right',
						verticalAlign: 'middle'
					}
				}
			];
			return {
				showSearchOptions: false,
				columns,
				searchResults: [],
				optionSets: {
					linkWhenAnswers: ['PASS', 'NA', 'FAIL']
				},
				optionSetsCon: {
					linkWhenAnswers: ['YES', 'NO']
				}
			}
		},
		computed: {
			...mapNotesManagaerGetters([]),
		},
		methods: {
			answerSelected: function (glideRow) {
				glideRow.conditionalAnswer = null;
			},
			conditionalAnswerSelected: function (glideRow) {
				glideRow.answer = null;
			},
			buildTitle: function (jurisdictions) {
				if (jurisdictions.length)
					return jurisdictions.map(x => { return x.name }).sort().join(',\n');
			},
			limitText(count) {
				return `and ${count} other jurisdictions`
			},
			...mapNotesManagerActions([]),
			handle__toggle: function (payload) {
				this.showSearchOptions = payload === 'Search';
			},
			handle__search: function (filter) {
				this.searchForValidations(filter);
			},
			handle__linkToMemo: function (glideRow) {
				var rowClone = _.cloneDeep(glideRow);
				this.linkedValidations.push(rowClone);
				this.searchResults = this.searchResults.filter(x => x.validationID !== glideRow.validationID);
			},
			handle__unLinkFromMemo: function (glideRow) {
				this.$emit('unlink', glideRow.validationID);
			},
			searchForValidations: _.debounce(function (filter) {
				let searchFilter = {
					...filter,
					excludeValidations: [
						...this.linkedValidations.map(x => { return x.validationID })
					]
				};
				searchFilter.memoId = filter.memoId ? filter.memoId.id : null;
				searchFilter.normalizedId = filter.normalizedId ? filter.normalizedId.trim() : null;
				searchFilter.validationText = filter.validationText ? filter.validationText.trim() : null;

				api.post_getValidations(searchFilter)
					.then(response => {
						this.searchResults = response.data;
					});
			}, 500),
		}
	}
</script>
<style lang="scss" scoped>

	@use '@/components/theme/Colors';
	@use '@/components/theme/Spacing';
	@use "sass:color";

	.highlight {
		color: Colors.$blueLight
	}

	.flexWrapper {
		display: flex;
		flex-direction: row;
	}

	.flexItem:not(:first-of-type) {
		margin-left: Spacing.$double;
	}

	.flexItem {
		flex: 1 1 auto;
	}

	.searchOptionsWeapper {
		width: 40%;
	}

	.toggleWrapper {
		width: 25%;
		margin-top: Spacing.$double;
		margin-bottom: Spacing.$double;
	}

	.gridWrapper {
		margin-top: Spacing.$double;
		margin-bottom: Spacing.$double;
	}

	.fade-enter-active, .fade-leave-active {
		transition: opacity .5s;
	}

	.fade-enter, .fade-leave-to {
		opacity: 0;
	}

	.pass {
		color: Colors.$success;
	}

	.fail {
		color: Colors.$secondaryLight;
	}

	.notApplicable {
		color: Colors.$editDark;
	}

	.multiselect::v-deep {
		font-size: 1em;
		.multiselect__input, .multiselect__single

	{
		font-size: 0.9em;
		padding-left: 0;
	}

	.multiselect__tags {
		border: 2px solid Colors.$grayLight;
		border-radius: 4px;
		box-shadow: none;
		transition: border 0.1s;
		width: 100%;
		input

	{
		border: 0;
		box-shadow: none;
		padding: 0;
	}

	.multiselect__tag {
		background: Colors.$blueLight;
		color: Colors.$white;
	}

	.multiselect__tag-icon:focus,
	.multiselect__tag-icon:hover {
		background: Colors.$blueLight;
		color: Colors.$white;
	}

	.multiselect--active & {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-color: Colors.$blueLight;
	}

	}

	.multiselect__content-wrapper {
		border: 2px solid Colors.$grayLight;
		border-top: 0;
	}

	.multiselect__option--selected,
	.multiselect__option--selected::after {
		background: Colors.$grayLight;
		color: Colors.$grayDark;
		font-weight: normal;
	}

	.multiselect__option--highlight,
	.multiselect__option--highlight::after {
		background: Colors.$blueLight;
		color: Colors.$white;
	}
	}
</style>