﻿@model Submissions.Web.Areas.Submission.Models.Shipment.EditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Shipment";

	var showSaveButton = false;
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		showSaveButton = Util.HasAccess(Permission.Submission, AccessRight.Add);
		saveButtonText = "Add";
	}
	else
	{
		showSaveButton = Util.HasAccess(Permission.Submission, AccessRight.Edit);
	}
}

@using (Html.BeginForm("edit", "shipment", FormMethod.Post, new { id = "EditForm" }))
{
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.Source)
	@Html.HiddenFor(m => m.SubmissionId)

	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title <small></small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if (showSaveButton)
			{
				<button type="button" id="SaveBtn" class="btn btn-primary btn-sm">@saveButtonText</button>
			}
			@if (Model.Mode == Mode.Edit && Util.HasAccess(Permission.Submission, AccessRight.Delete))
			{
				<input type="button" id="DeleteBtn" value="Delete" class="btn btn-sm btn-primary" />
			}
			<a href="@Model.CancelButtonUrl" id="CancelBtn" class="btn btn-sm btn-primary">Cancel</a>
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Type, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.DropDownListFor(m => m.Type, LookupsStandard.ConvertEnum<ShipmentType>(), new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Type)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ShipmentRecipientId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.ShipmentRecipientId, m => m.ShipmentRecipient, LookupAjax.ShipmentRecipients, true)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ProcessDate, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(m => m.ProcessDate, new { @class = "form-control datepicker" })
				@Html.ValidationMessageFor(m => m.ProcessDate)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.CourierId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.CourierId, m => m.Courier, LookupAjax.ShipmentCouriers, true)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.TrackingNumber, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.TrackingNumber, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.TrackingNumber)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ChipCount, new { @class = "control-label col-sm-2" })
			<div class="col-sm-1">
				@Html.TextBoxFor(m => m.ChipCount, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ChipCount)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.DiskCount, new { @class = "control-label col-sm-2" })
			<div class="col-sm-1">
				@Html.TextBoxFor(m => m.DiskCount, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DiskCount)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Memo, new { @class = "control-label col-sm-2" })
			<div class="col-sm-5">
				@Html.TextAreaFor(m => m.Memo, 3, 5, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Memo)
			</div>
		</div>
	</div>
}

@section scripts {
	<script>
		$(function () {
			var form = $('#EditForm');

			$('#SaveBtn').on('click', function () {
				form.submit();
			});

			$('#DeleteBtn').on('click', function () {
				bootbox.confirm('Are you sure you want to delete this Shipment?', function (result) {
					if (result) {
						form.attr('action', '@Url.Action("delete")').submit();
					}
				});
			});
		});
	</script>
}
