﻿@model Submissions.Web.Areas.Submission.Models.Shipment.IndexViewModel

@{
	ViewBag.FullWidth = true;
	ViewBag.Title = "Shipments";
	var firstShipment = Model.Shipments.FirstOrDefault();
}

<div class="row row-title">
	<div class="col-sm-8">
		<h3>@ViewBag.Title <small>@Model.SubmissionSubTitle.FileNumber</small></h3>
		<div class="submission-subtitle">
			<span title="ID Number">@Model.SubmissionSubTitle.IdNumber</span>
			<span title="Game Name">@Model.SubmissionSubTitle.GameName</span>
			<span title="Date Code">@Model.SubmissionSubTitle.DateCode</span>
			<span title="Function">@Model.SubmissionSubTitle.Function</span>
		</div>
	</div>
	<div class="col-sm-4 form-buttons">
		@Html.ActionLink("Add", "edit", "shipment", new { mode = Mode.Add, submissionId = Model.SubmissionId }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Cancel", "detail", "submission", new { id = Model.SubmissionId }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(m => firstShipment.Type)</th>
			<th>@Html.DisplayNameFor(m => firstShipment.ShippingRecipientCode)</th>
			<th>@Html.DisplayNameFor(m => firstShipment.ProcessDate)</th>
			<th>@Html.DisplayNameFor(m => firstShipment.Courier)</th>
			<th>@Html.DisplayNameFor(m => firstShipment.TrackingNumber)</th>
			<th>@Html.DisplayNameFor(m => firstShipment.ChipCount)</th>
			<th>@Html.DisplayNameFor(m => firstShipment.DiskCount)</th>
			<th>@Html.DisplayNameFor(m => firstShipment.Memo)</th>
			<th>@Html.DisplayNameFor(m => firstShipment.SoftwareCheckUser)</th>
			<th>@Html.DisplayNameFor(m => firstShipment.SoftwareCheckDate)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Shipments.Count == 0)
		{
			<tr><td colspan="11" class="text-warning text-center"><em>No Records Found</em></td></tr>
		}
		@foreach (var s in Model.Shipments)
		{
			<tr>
				<td>@s.Type</td>
				<td>@s.ShippingRecipientCode</td>
				<td>@s.ProcessDate</td>
				<td>@s.Courier</td>
				<td>@s.TrackingNumber</td>
				<td>@s.ChipCount</td>
				<td>@s.DiskCount</td>
				<td>@s.Memo</td>
				<td>@s.SoftwareCheckUser</td>
				<td>@s.SoftwareCheckDate.ToString("d")</td>
				<td class="text-right">
					@Html.ActionLink("Edit", "edit", new { id = s.Id, mode = Mode.Edit, submissionId = Model.SubmissionId })
				</td>
			</tr>
		}
	</tbody>
</table>