﻿@model Submissions.Web.Areas.Protrack.Models.Project.SkipEngeeringVM
@{
	ViewBag.NoNavBar = true;
	ViewBag.NoFooter = true;
}
@{
	ViewBag.Title = "Skip Engineering";
}
@using (Html.BeginForm("Save", "SkipEngineering", FormMethod.Post, new { SkipEngineeringVM = Model, Id = "SkipEngineering" }))
{
@Html.HiddenFor(m => m.ProjectId)
@Html.HiddenFor(m => m.CurrentStatus)
@Html.Hidden("OldEngineeringSkipped",@Model.IsEngineeringSkipped)
	<div class="modal-header">
		<div class="row">
				<div class="col-sm-12 form-buttons text-right">
					@if (Model.CurrentStatus == ProjectStatus.AU.ToString() || Model.CurrentStatus == ProjectStatus.UU.ToString() || Model.CurrentStatus == ProjectStatus.RC.ToString() || Model.CurrentStatus == "")
					{ 
						<button type="button" id="Save" accesskey="E" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save (Alt+E)</button>
					}
					<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="row Col-sm-12">
				<div class="form-group form-group-sm">
					@Html.Label("Skip Engineering:", new { @class = "control-label col-sm-3" })
					<div class="col-sm-1 text-left">
						@Html.CheckBoxFor(m => m.IsEngineeringSkipped)
				
					</div>
				</div>
		</div>
	</div>
	<br />
}
<script>
	$(function () {
		loadDocumentReady();
		$('#Save').click(function () {
		    if ($('#CurrentStatus').val() == "@ProjectStatus.RC.ToString()" && $('#OldEngineeringSkipped').val() == "True" && (!$('#IsEngineeringSkipped').is(":checked")))
		    {
		        bootbox.confirm("Project will be updated to Unaccepted/Unassigned(UU). Do you want continue?", function (result) {
		            if (result)
		            {
		                $('#SkipEngineering').submit();
		            };
		        });
		    }
		    else {
		        $('#SkipEngineering').submit();
		    }
			
		});

		$('#SkipEngineering').submit(function () {
			$('#Save').prop("disabled", true);
			$.ajax({
				url: this.action,
				type: this.method,
				data: $(this).serialize(),
				success: function (result) {
					  window.location.reload();
				}
			});
			return false;
		});
	});
</script>