﻿@model Submissions.Web.Areas.Tools.Models.PendingQueueViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{@Styles.Render("~/bundles/css/jqgrid")}
<style>
	.ui-jqgrid tr.jqgrow td {
		word-wrap: break-word; /* IE 5.5+ and CSS3 */
		white-space: pre-wrap; /* CSS3 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		white-space: normal !important;
		height: auto;
		vertical-align: text-top;
		padding-top: 2px;
		padding-bottom: 3px;
	}
</style>

@{
	ViewBag.Title = "PDF Emails";
}

@using (Html.BeginForm("", "PendingQueue", FormMethod.Post, new { id = "SearchForm" }))
{
	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<button type="button" id="ExportBtn" class="btn btn-primary btn-sm"><i class="far fa-file-excel"></i>&nbsp;Export</button>
			<button type="button" id="SearchBtn" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>&nbsp;Search</button>
			@*<input type="button" id="CloseBtn" class="btn btn-primary btn-sm" value="Close">*@
			@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Search Emails</h3>
				</div>

				<div class="panel-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(model => model.QueueSearch.JurisdictionId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.LookupFor(model => model.QueueSearch.JurisdictionId, model => model.QueueSearch.Jurisdiction, LookupAjax.Jurisdictions, false)
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(model => model.QueueSearch.Manufacturer, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.LookupFor(model => model.QueueSearch.ManufacturerCode, model => model.QueueSearch.Manufacturer, LookupAjax.Manufacturers, false)
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(model => model.QueueSearch.FileNumber, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.TextBoxFor(model => model.QueueSearch.FileNumber, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(model => model.QueueSearch.SentFrom, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.EditorFor(model => model.QueueSearch.SentFrom, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "From" } })
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(model => model.QueueSearch.SentTo, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.EditorFor(model => model.QueueSearch.SentTo, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "To" } })
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									@Html.LabelFor(model => model.QueueSearch.IsPending, new { @class = "control-label col-sm-4" })
									<div class="col-sm-2">
										@Html.EditorFor(model => model.QueueSearch.IsPending, new { @class = "form-control" })
									</div>
									@Html.LabelFor(model => model.QueueSearch.IsDeleted, new { @class = "control-label col-sm-4" })
									<div class="col-sm-2">
										@Html.EditorFor(model => model.QueueSearch.IsDeleted, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
}

@Html.Trirand().JQGrid(Model.PendingEmailGrid.Grid, "PendingEmailGrid")

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		function formatterPdfPath(cellValue, options, rowObject, action)
		{
			var formattedText = cellValue + "&nbsp;&nbsp;<A href='" + cellValue + "' target='_blank'><i class='far fa-file-pdf'></i></A>&nbsp;";
			return formattedText;
		}

		function SendEmailButton(cellValue, options, rowObject, action) {
			if (rowObject[$(this).getColumnIndexByName("IsDeleted")] == "True" ) {
				return "Email Deleted";
			}
			else if (rowObject[$(this).getColumnIndexByName("IsEnforceRun")] == "True" && rowObject[$(this).getColumnIndexByName("SentTS")] == '') {
				return "Email Queued";
			}
			else if (rowObject[$(this).getColumnIndexByName("SentTS")] == '') {
				@if (Util.HasAccess(Permission.PDFEmailQueue, AccessRight.Edit)){
					@:return "<Input type=button value='Send' class='btn' OnClick='javascript:SendMail(" + options.rowId + ")'>";
				}
				else {
					@: return "";
				}
			}
			else {
				return "";
			}
		}

		$('#SearchBtn').on('click', function () {
			var url = '@Url.Action("Search","PendingQueue")'
			$('#SearchForm').attr('action',url)
			$('#SearchForm').submit();
		});

		$('#ExportBtn').on('click', function () {
			var url = '@Url.Action("Export","PendingQueue")'
			$('#SearchForm').attr('action',url)
			$('#SearchForm').submit();
		});

		$('#CloseBtn').on('click',function(){
			window.close();
		});

		var PendingGrid = $('#PendingEmailGrid')
		$(function () {

			PendingGrid.jqGrid("setGridParam", {
				gridComplete: function () {
					setData();
				},
				loadComplete: function () {
					setData();
				},

			});
		});

		function setData() {
			var ids = PendingGrid.jqGrid("getDataIDs");
			for (var i = 0; i < ids.length; i++) {
				var rowId = ids[i];
				var rowData = PendingGrid.jqGrid("getRowData", rowId);
				var allowEdit = true
				@if (!Util.HasAccess(Permission.PDFEmailQueue, AccessRight.Edit))
				{
					@:allowEdit = false
				}

				if (!Em(rowData.SentTS)) {
					allowEdit = false
				}

				if (!allowEdit)
				{
					$("#PendingEmailGrid tr#" + rowId + " .ui-inline-edit").hide();
					$("#PendingEmailGrid tr#" + rowId + " .ui-inline-del").hide();
				}
			}
		}

		function SendMail(Id) {
			var url = '@Url.Action("SendEmail", "PendingQueue")?emailId=' + Id
			window.location.href = url;
		}
	</script>
}