﻿<template>
	<base-field-wrapper
		:dirty="fieldIsDirty"
		:error="fieldHasError">
		<textarea
			v-if="textArea"
			:value="value"
			:style="fieldStyle"
			:disabled="disabled"
			@input="setValue($event.target.value)"
			v-on="keyAction ? {keydown: keyAction} : { }" />
		<input
			v-else
			type="text"
			:value="value"
			:style="fieldStyle"
			:disabled="disabled"
			:placeholder="pholder"
			@input="setValue($event.target.value)"
			v-on="keyAction ? {keydown: keyAction} : { }" />
		<template v-slot:errors>
			<!-- @slot Validation error messages to the user go here -->
			<slot 
				name="errors"
				:v="fieldValidation">
			</slot>
		</template>
	</base-field-wrapper>
</template>

<script>
import BaseFieldWrapper from "../fieldWrapper/BaseFieldWrapper.vue";

/**
 * An input component with built-in support for error messages and keyboard navigation.
 * 
 * When the user changes the contents of the field, the outline turns yellow to indicate
 * that the user has made an edit. This is based on the vuelidate dirty state.
 */
export default {
	components: {
		BaseFieldWrapper
	},
	props: {
		/**
		 * Sets the inline styling for the input field.
		 */
		fieldStyle: {
			type: Object,
			required: false,
			default: null
		},
		/**
		 * The field's validation context. Needed for dirty state and error tracking.
		 */
		fieldValidation: {
			type: Object,
			required: false,
			default: null
		},
		/**
		 * Ties into the input's `keydown` event. Shouldn't be needed in most other situations,
		 * but needed for `GlideTable`'s keyboard navigation functionality. 
		 */
		keyAction: {
			type: Function,
			required: false,
			default: null
		},
		/**
		 * If true, will render as a textarea instead of a single-line input.
		 */
		textArea: {
			type: Boolean,
			required: false
		},
		/**
		 * The value to bind to the input.
		 */
		value: {
			type: null,
			required: true
		},
		/**
		 * If true will set input to disabled.
		 */
		disabled: {
			type: Boolean,
			required: false
		},
		/**
		 * The placeholder value to bind to the input.
		 */
		pholder: {
			type: String,
			required: false
		}
	},
	data: function () {
		return {
			originalValue: this.value
		};
	},
	computed: {
		fieldHasError: {
			get: function() {
				if (this.fieldValidation) {
					return this.fieldValidation.$error;
				}
				return false;
			}
		},
		fieldIsDirty: {
			get: function() {
				return this.isDirty(this.value, this.originalValue);
			}
		}
	},
	methods: {
		isDirty(value, oldValue) {
			// Computed value not accurate in setValue method; probably updates after method fired
			const newValue = value != null ? value.toString() : "";
			const originalValue = oldValue != null ? oldValue.toString() : "";
			return newValue !== originalValue;
		},
		setValue(value) {
			/**
			 * Input event.
       		 * @property {string} The contents of the text field
			 */
			this.$emit("input", value);
			if (this.fieldValidation) {
				if (!this.isDirty(value, this.originalValue)) {
					this.fieldValidation.$reset();
				} else {
					this.fieldValidation.$touch();
				}
			}
		},
	}
};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	input[type="text"],
	textarea {
		border: 2px solid Colors.$grayLight;
		border-radius: 4px;
		box-shadow: none;
		min-height: 40px;
		padding: 0 Spacing.$full;
		transition: border 0.1s;
		width: 100%;

		&::selection {
			background: Colors.$primaryLight; /* WebKit/Blink Browsers */
			color: Colors.$white;
		}

		&::-moz-selection {
			background: Colors.$primaryLight; /* Gecko Browsers */
			color: Colors.$white;
		}

		.gli-base-field-wrapper--dirty & {
			border-color: Colors.$edit;
		}

		.gli-base-field-wrapper--error & {
			border-color: Colors.$destructive;
		}

		&:focus {
			border-color: Colors.$primaryLight;
		}

		&:disabled {
			background: Colors.$grayLight;
			color: Colors.$grayDark;
		}
	}

	textarea {
		min-height: 62px;
	}

</style>
