﻿<template>
	<div class="container">
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Clause Report Template Manager</h3>
			</div>
			<!--<a :href="'ClauseTemplateManagement/edit?id=' + props.row.id + '&Mode=Edit'">Test</a>-->
			<div class="col-sm-6 form-buttons">
				<div v-if="isListMode">
					<button class="btn btn-primary btn-sm" @click="setAddMode">Add</button>
					<a-link href="/tools" class="btn btn-sm btn-primary btn-sm">Exit</a-link>
				</div>
				<div v-else-if="isAddMode">
					<div v-if="!savingTemplate">
						<button class="btn btn-primary btn-sm" @click="saveTemplate">Add</button>
						<a-link href="/tools/clausetemplatemanagement" class="btn btn-sm btn-primary">Cancel</a-link>
					</div>
					<div v-else>
						<i class="fas fa-spinner fa-pulse fa-5x"></i>
					</div>
				</div>
				<div v-else>
					<div v-if="!savingTemplate">
						<button class="btn btn-primary btn-sm" @click="cloneTemplate">Clone</button>&nbsp;&nbsp;&nbsp;&nbsp;
						<button :disabled="modifiedManufacturer || modifiedJurisdiction" class="btn btn-primary btn-sm" @click="updateThisTemplate">Save</button>
						<a-link href="/tools/clausetemplatemanagement" class="btn btn-sm btn-primary">Cancel</a-link>
					</div>
					<div v-else>
						<i class="fas fa-spinner fa-pulse fa-5x"></i>
					</div>
				</div>

			</div>
		</div>

	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters, mapActions } = createNamespacedHelpers('clauseTemplateManagement');

	import ALink from '@/components/utility/ALink.vue';


	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	export default {
		components: {
			ALink
		},
		data() {
			return {
			}
		},
		computed: {

			...mapGetters([
				'isListMode',
				'isAddMode',
				'isEditMode',
				'savingTemplate',
				'clauses',
				'modifiedClauses',
				'modifiedManufacturer',
				'modifiedJurisdiction'
			])
		},
		mounted: function () {

		},
		methods: {
			allExplanationsEmpty: function () {
				let nonBlank = this.clauses.find(clause => (isNotNull(clause.template.failExplanation) && clause.template.failExplanation.length > 0) ||
					(isNotNull(clause.template.passExplanation) && clause.template.passExplanation.length > 0) ||
					(isNotNull(clause.template.naExplanation) && clause.template.naExplanation.length > 0) ||
					(isNotNull(clause.template.naStarExplanation) && clause.template.naStarExplanation.length > 0));
				return isNull(nonBlank);
			},
			cloneTemplate: function () {
				let self = this;
				
				bootbox.prompt({ 
					title: "Enter New Template Name", 
					callback: function (result) {
						if (result != null) {
							self.setLabel(result);
							self.setSavingTemplate(true);
							self.$nextTick(function () {
								self.saveNewTemplate()
									.then(response => {
										console.log('saveTemplate.then');
										//this.loadApplicableTemplates();
										self.setSavingTemplate(false);
									})
									.catch(e => {
										console.log('saveTemplate.then error');
										self.setExceptionMessage(e);
										console.log(e);
									})
									.finally(x => {
										console.log('saveTemplate.then finally');
										self.setSavingTemplate(false);

									});
							});
						}
					}//callback
				});
				
			},
			saveTemplate: function () {
				this.setValidationMessage("");
				this.setExceptionMessage("");
				if (this.allExplanationsEmpty()) {
					this.setValidationMessage("You need to fill in at least 1 explanation!");
					return;
				}
				else if (this.modifiedClauses.length === 0) {
					this.setValidationMessage("No explanations have been modified.");
					return;
				}
				this.setSavingTemplate(true);
				this.$nextTick(function () {
					this.saveNewTemplate()
						.then(response => {
							console.log('saveTemplate.then');
							//this.loadApplicableTemplates();
							this.setSavingTemplate(false);
						})
						.catch(e => {
							console.log('saveTemplate.then error');
							this.setExceptionMessage(e);
							console.log(e);
						})
						.finally(x => {
							console.log('saveTemplate.then finally');
							this.setSavingTemplate(false);

						});
				});
			},
			updateThisTemplate: function () {
				this.setValidationMessage("");
				this.setExceptionMessage("");
				if (this.allExplanationsEmpty()) {
					this.setValidationMessage("You need to fill in at least 1 explanation!");
					return;
				}
				else if (this.modifiedClauses.length === 0) {
					this.setValidationMessage("No explanations have been modified.");
					return;
				}

				this.setSavingTemplate(true);
				this.updateTemplate()
					.then(response => {
						this.loadClauses();
					})
					.catch(e => {
						this.setExceptionMessage(e);
					})
					.finally(x => {
						this.setSavingTemplate(false);
					});
			},
			...mapActions([
				'setAddMode',
				'setValidationMessage',
				'setExceptionMessage',
				'setListMode',
				'setSavingTemplate',
				'loadClauses',
				'resetSelections',
				'saveNewTemplate',
				'loadApplicableTemplates',
				'setEditMode',
				'updateTemplate',
				'setLabel'
			])
		},
		watch: {
		},
		created: function () {
		}
	}
</script>
<style scoped>
	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}
</style>
