﻿<template>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<div class="row">
						<div class="col-sm-12">
							<label for="mfgid">Manufacturer:</label>
						</div>
					</div>
					<div class="row">
						<div v-if="manufacturers.length > 0" class="col-sm-12">
							<SelectStandard :disable="loadingClauses" id="mfgid" :options="manufacturers" v-model.lazy="mfgId"></SelectStandard>
						</div>
						<div class="flex-spinner" v-else>
							<i class="fas fa-spinner fa-pulse fa-2x"></i>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="row">
						<div class="col-sm-12">
							<label for="jurid">Jurisdiction:</label>
						</div>
					</div>
					<div class="row">
						<div v-if="jurisdictions.length > 0" class="col-sm-12">
							<SelectStandard :disable="loadingClauses" id="jurid" :options="jurisdictions" v-model.number="jurisdictionId"></SelectStandard>
						</div>
						<div class="flex-spinner" v-else>
							<i class="fas fa-spinner fa-pulse fa-2x"></i>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-12">
							<label for="labelId">Label:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<input :disabled="clausesLoaded || loadingClauses" id="labelId" v-model="templateLabel" class="input-sm plain-text-control" type="text" />
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="row">
						<div class="col-sm-12">
							&nbsp;
						</div>
					</div>
					<div class="row">
						<div v-if="!clausesLoaded && !loadingClauses" class="col-sm-6">
							<button :disabled="clausesLoaded || !(jurisdictionSelected && manufacturerSelected && (labelSelected || templateSelected))" class="btn btn-primary" @click="loadClauses">Load Clauses</button>
						</div>
					</div>
					<div v-if="showAutoFill" class="row">
						<div class="col-sm-12">
							<button class="btn btn-primary" @click="testAllExplain">Set Values</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters, mapActions } = createNamespacedHelpers('clauseTemplateManagement');

	const { mapGetters: evoGetters, mapActions: evoActions } = createNamespacedHelpers('evolution');

	import SelectStandard from '@/components/utility/SelectStandard.vue';

	export default {
		components: {
			SelectStandard
		},
		data() {
			return {
			}
		},
		computed: {
			jurisdictionId: {
				get: function () {
					return this.selectedJurisdictionId;
				},
				set: function (someId) {
					this.setSelectedJurisdictionId(someId);
					if (this.selectedJurisdictionId !== this.editingTemplate.jurisdictionId) {
						this.setModifiedJurisdiction(true);
					}
					else {
						this.setModifiedJurisdiction(false);
					}
				}
			},
			showAutoFill: function () {
				return this.templateLabel.indexOf('RJS') >= 0;
			},
			mfgId: {
				get: function () {
					return this.selectedManufacturerId;
				},
				set: function (someId) {
					this.setSelectedManufacturerId(someId);
					if (this.selectedManufacturerId !== this.editingTemplate.manufacturerId) {
						this.setModifiedManufacturer(true);
					}
					else {
						this.setModifiedManufacturer(false);
					}
				}
			},
			templateid: {
				get: function () {
					return this.selectedTemplateId;
				},
				set: function (someId) {
					this.setSelectedTemplateId(someId);
				}
			},
			templateLabel: {
				get: function () {
					return this.label;
				},
				set: function (someId) {
					this.setLabel(someId);
				}
			},
			labelDisabled: {
				get: function () {
					return this.jurisdictionSelected && this.manufacturerSelected;
				},
			},
			...evoGetters([
				'clauseReport'
			]),
			...mapGetters([
				'jurisdictions',
				'jurisdictionSelected',
				'manufacturerSelected',
				'labelSelected',
				'clausesLoaded',
				'selectedJurisdictionId',
				'selectedManufacturerId',
				'clauses',
				'manufacturers',
				'label',
				'templateSelected',
				'templates',
				'selectedTemplateId',
				'templatesLoaded',
				'loadingClauses',
				//'noModifications'
				'modifiedClauses',
				'isAddMode',
				'isEditMode',
				'editingTemplate',
				'modifiedManufacturer',
				'modifiedJurisdiction'
			])
		},
		mounted: function () {

		},
		methods: {
			testAllExplain: function () {
				this.clauses.forEach(clause => {
					clause.template.failExplanation = "Some dumb test Fail Explanation.";
					clause.template.passExplanation = "Some dumb test Pass Explanation.";
					clause.template.naExplanation = "Some dumb test NA Explanation.";
					clause.template.naStarExplanation = "Some dumb test NA* Explanation.";
					clause.template.modified = true;
				})
			},
			resetClauses: function () {
				this.setClauses([]);
				this.setEvoClauseReports([]);
			},

			...evoActions({
				setEvoClauseReports: 'setClauseReport',
				setClauseReportCounts: 'setClauseReportCounts',
			}),
			...mapActions([
				'setJurisdictions',
				'setSelectedJurisdictionId',
				'setClauses',
				'setSelectedManufacturerId',
				'setManufacturers',
				'setLabel',
				'setSelectedTemplateId',
				'setTemplates',
				'loadApplicableTemplates',
				'loadClauses',
				'setListMode',
				'setModifiedManufacturer',
				'setModifiedJurisdiction'
			])
		},
		watch: {

		},
		created: function () {
			this.setJurisdictions();
			this.setManufacturers();
		
			this.clauseReport.hideClausePanel = false;


		}
	}
</script>
<style scoped>

	.plain-text-control {
		width: 100%;
	}

	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}

	.flex-spinner {
		display: flex;
		/*height: 100px;*/
		justify-content: center;
		align-items: center;
	}

	.no-padding-left {
		padding-left: 0px;
	}

	.no-padding-right {
		padding-right: 0px;
	}
</style>
