﻿@model Submissions.Web.Areas.Lookups.Models.JurisdictionGroupCategoriesEditViewModel

@using (Html.BeginForm("Edit", "JurisdictionGroupCategories", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Mode)

	<div class="row">
		<div class="col-sm-6 ">
			<h3 class="form-h3">@ViewBag.Title <small>@Html.DisplayFor(model => model.Code)</small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if (Model.Mode == Mode.Add)
			{
				<input type="submit" value="Add" class="btn btn-primary btn-sm" />
			}
			else
			{
				<input type="submit" value="Save" class="btn btn-primary btn-sm" />
			}
			@Html.ActionLink("Cancel", "Index", "JurisdictionGroupCategories", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 ">
			<div class="form-horizontal" role="form">
				<hr class="form-hr" />
				<div class="form-group form-group-sm">
					<div class="form-group form-group-sm">
						@Html.LabelFor(model => model.Code, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-6">
							@Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Code)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(model => model.Description, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-6">
							@Html.TextAreaFor(model => model.Description, new { rows = 10, cols = 40, @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Description)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
