﻿@model Submissions.Web.Areas.Lookups.Models.JurisdictionGroupCategoriesIndexViewModel
@using Trirand.Web.Mvc
@using System.Web.Optimization

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = Mode.Add }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

@Html.Trirand().JQGrid(Model.JurisdictionGroupCategoriesGrid.JurisdictionGroupsCategoriesGrid, "JurisdictionGroupsCategoriesGrid")

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		var grid = $('#JurisdictionGroupsCategoriesGrid');
		function gridAfterAjaxRequest() {
		};

		grid.on('click', '.CheckDelete', function () {
			var id = this.id;
			$('#Id').val(id);
			$.post('@Url.Action("CheckDelete")', { Id: id })
				.done(function (data) {
					if (data.inUse && data.canDeActivate) {
						PromptDeactivate();
					}
					else if (data.inUse && !data.canDeActivate) {
						bootbox.alert("Category is in use and can not be deleted.")
					}
					else {
						Delete();
					}
				});
			return false;
		});

		function EditLink(cellValue, options, rowObject) {
			var id = rowObject[getColumnIndexByName($(this), "Id")];
			var editLink = '<a href="' + '@Url.Action("Edit", "JurisdictionGroupCategories")' + '/' + id + '?mode=Edit">Edit</a>';
			return editLink;
		}

		function DeleteLink(cellValue, options, rowObject) {
			var id = rowObject[getColumnIndexByName($(this), "Id")];
			var deleteLink = '<a href="#" id = "' + id + '" class = "CheckDelete">Delete</a>';
			return deleteLink;
		}
</script>
}