﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-9">
				<h3>Add Record <small>{{ vm.fileNumber }}</small></h3>
			</div>
			<div class="col-sm-3 form-buttons">
				<button type="button" class="btn btn-primary btn-sm" @click="clickAdd" v-if="vm.canAdd">Add</button>
				<button type="button" class="btn btn-primary btn-sm" @click="clickCancel">Cancel</button>
			</div>
		</div>

		<!--error/warnings -->
		<div class="alert alert-danger" role="alert" v-if="errorMsg != ''">
			<strong>Error! </strong> {{errorMsg}}<font class="pull-right"><a href="#" @click="unSetErrorMsg()"><i class="fas fa-times"></i></a></font>
		</div>

		<!--submission List-->
		<SubmissionSelection :fileNumber="vm.fileNumber" :submissions="vm.submissions" :titleText="'Select Record to Clone (Optional)'" :allowOnlyOneSelection="true" ref="SubmissionSelection"></SubmissionSelection>
		<div class="row" v-show="isRecordSelected">
			<div class="col-sm-12">
				<input type="checkbox" name="vm.includeJurisdictions" v-model="vm.includeJurisdictions">&nbsp;&nbsp;<span class="text-info">Include Jurisdictions</span><small> (<strong>{{ jurisdictionsSelected }}</strong> Jurisdictions)</small> <strong> <a @click="setJurModal(true)" style="cursor:pointer" title="Click here to select Jurisdictions to clone.">[ Select ]</a> </strong><br />
				<input type="checkbox" name="vm.includeMemos" v-model="vm.includeMemos">&nbsp;&nbsp;<span class="text-info">Include Memos</span><br />
			</div>
		</div>
		<JurSelection :showJurModal="showJurModal" :jurisdictions="jurisdictions" :titleText="'Copy Jurisdictions'" @reSetJurModal="setJurModal"></JurSelection>
</div>
</template>

<script>
	import SubmissionSelection from '@/components/submission/submissiondata/SubmissionSelection.vue'
	import JurSelection from '@/components/submission/jurisdictionaldata/JurisdictionSelection.vue'
	
	export default {
		components: {
			SubmissionSelection,
			JurSelection
		},
		data() {
			return {
				vm: initialData,
				errorMsg: "",
				jurisdictions: [],
				showJurModal: false
			}
		},
		computed: {
			isRecordSelected: function () {
				return this.vm.submissions.filter(x => x.selected).length > 0;
			},
			selectedSubmission: function () {
				if (this.vm.submissions.find(x => x.selected) != undefined) {
					return this.vm.submissions.find(x => x.selected).id;
				}
				else {
					return 0;
				}
			},
			jurisdictionsSelected: function () {
				return this.jurisdictions.filter(x => x.selected).length;
			}
		},
		methods: {
			clickAdd: function () {
				this.unSetErrorMsg()
				if (this.vm.submissions.filter(item => item.selected).length == 0 && this.vm.includeJurisdictions) {
					this.errorMsg = "You must select a submission record to clone."
					return;
				}

				let cloneSubmissionId = 0;
				const selectedSubmission = this.vm.submissions.filter(x => x.selected);

				if (selectedSubmission.length > 0) {
					cloneSubmissionId = selectedSubmission[0].id;
				}

				location.href = jsPath + "submission/submission/clone?submissionHeaderId=" + this.vm.submissionHeaderId + "&cloneSubmissionId=" + cloneSubmissionId + "&cloneJurisdictions=" + this.vm.includeJurisdictions + "&cloneSignatures=false&cloneMemos=" + this.vm.includeMemos + "&cloneJurisdictionIds=" + JSON.stringify(this.vm.jurisdictionIds) + "&sourceSubmissionId=" + this.vm.submissionId;
			},
			clickCancel: function () {
				location.href = jsPath + 'submission/submission/detail/' + this.vm.submissionId;
			},
			getJurisdictions: function () {
				let refThis = this
				let selelctedSubmissionId = this.vm.submissions.find(x => x.selected).id;
				let url = "submission/submission/GetJurisdictionsForSelection?submissionId=" + selelctedSubmissionId;
				this.$http.get(url).then(function (response) {
					if (response.data != null) {
						refThis.jurisdictions = response.data;
					}
					else {
						bootbox.alert("Error occured.")
					}
				});
			},
			setJurModal: function (val) {
				this.showJurModal = val
			},
			unSetErrorMsg: function () {
				this.errorMsg = ""
			}
		},
		watch: {
			'selectedSubmission': function () {
				this.vm.jurisdictionIds = [];
				this.getJurisdictions();
			},
			'jurisdictionsSelected': function () {
				if (this.jurisdictions.filter(x => x.selected).length != this.jurisdictions.length) {
					this.vm.includeJurisdictions = true;
					this.vm.jurisdictionIds = this.jurisdictions.filter(x => x.selected).map(x => x.jurisdictionId);
				}
			},
			'vm.includeJurisdictions': function () {
				if (!this.vm.includeJurisdictions) {
					this.vm.jurisdictionIds = [];
				}
				else {
					if (this.jurisdictions.filter(x => x.selected).length != this.jurisdictions.length) {
						this.vm.jurisdictionIds = this.jurisdictions.filter(x => x.selected).map(x => x.jurisdictionId);
					}
				}
			}
		}
	}
</script>