﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-4">
				<h3>{{ mode | modeText }}<span v-if="isCloned">/Clone</span> Submission <small>{{ submission.fileNumber }}</small></h3>
			</div>
			<div class="col-sm-5">
				<div v-html="manufacturerAccountStatus" class="text-info" style="padding-top:15px;"></div>
			</div>
			<div class="col-sm-3 form-buttons">
				<button type="button" class="btn btn-primary btn-sm" @click="clickSave" v-if="showSaveButton">{{ mode | saveText }}</button>
				<button type="button" class="btn btn-sm btn-primary" @click="clickDelete" v-if="showDeleteButton">Delete</button>
				<button type="button" class="btn btn-primary btn-sm" @click="clickCancel">Cancel</button>
			</div>
		</div>

		<form ref="editForm" method="post">
			<input type="hidden" name="Mode" v-model="mode" />
			<input type="hidden" name="Submission.Id" v-model="submission.id" />
			<input type="hidden" name="Submission.FileNumber" v-model="submission.fileNumber" />
			<input type="hidden" name="Submission.MemoReason" v-model="submission.memoReason" />
			<input type="hidden" name="Submission.MemoType" v-model="submission.memoType" />
			<input type="hidden" name="CompanyDefaultCurrencyId" v-model="submission.companyDefaultCurrencyId" ref="CompanyDefaultCurrencyId" />
			<input type="hidden" name="isCloned" v-model="isCloned" />
			<input type="hidden" name="cloneSubmissionId" v-model="cloneSubmissionId" />
			<input type="hidden" name="cloneJurisdictions" v-model="cloneJurisdictions" />
			<input type="hidden" name="cloneSignatures" v-model="cloneSignatures" />
			<input type="hidden" name="cloneMemos" v-model="cloneMemos" />
			<span v-for="(j, index) in cloneJurisdictionIds">
				<input type="hidden" :name="'cloneJurisdictionIds[' + index + ']'" :value="j" />
			</span>

			<div class="form-horizontal">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">General</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									<label class="control-label required-label col-sm-4" for="Submission_ManufacturerCode">Manufacturer</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.Manufacturer" v-model="submission.manufacturer" />
										<input type="hidden" name="Submission.ManufacturerCode" v-model="submission.manufacturerCode" v-if="isEditMode || isCloned" />
										<Lookup id="Submission_ManufacturerCode" name="Submission.ManufacturerCode" :lookuptextfield="submission.manufacturer" @updateLookupTextField="updateManufacturer" lookupajax="Manufacturers" templatename="formatManufacturers" v-model="submission.manufacturerCode" :disabled="isCloned || isEditMode" />
										<span class="field-validation-error" v-if="$v.submission.manufacturerCode.$error && !$v.submission.manufacturerCode.required">Manufacturer is required</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label required-label col-sm-4" for="Submission_IdNumber">Id Number</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_IdNumber" name="Submission.IdNumber" v-model="submission.idNumber" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.idNumber.$error && !$v.submission.idNumber.required">Id Number is required</span>
										<span class="field-validation-error" v-if="$v.submission.idNumber.$error && !$v.submission.idNumber.maxLength">The field Id Number must be a string with a maximum length of {{ $v.submission.idNumber.$params.maxLength.max }}.</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label required-label col-sm-4" for="Submission_GameName">Game Name</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_GameName" name="Submission.GameName" v-model="submission.gameName" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.gameName.$error && !$v.submission.gameName.required">Game Name is required</span>
										<span class="field-validation-error" v-if="$v.submission.gameName.$error && !$v.submission.gameName.maxLength">The field Game Name must be a string with a maximum length of {{ $v.submission.gameName.$params.maxLength.max }}.</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label required-label col-sm-4" for="Submission_DateCode">Date Code</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_DateCode" name="Submission.DateCode" v-model="submission.dateCode" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.dateCode.$error && !$v.submission.dateCode.maxLength">The field Date Code must be a string with a maximum length of {{ $v.submission.dateCode.$params.maxLength.max }}.</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label required-label col-sm-4" for="Submission_FunctionId">Function</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.Function" v-model="submission.function" />
										<Lookup id="Submission_FunctionId" name="Submission.FunctionId" :lookuptextfield="submission.function" @updateLookupTextField="updateFunction" lookupajax="Functions" v-model="submission.functionId" data-allow-clear="false" />
										<span class="field-validation-error" v-if="$v.submission.functionId.$error && !$v.submission.functionId.required">Function is required</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label required-label col-sm-4" for="Submission_SecondaryFunctionId">Secondary Function</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.SecondaryFunction" v-model="submission.secondaryFunction" />
										<Lookup id="Submission_SecondaryFunctionId" name="Submission.SecondaryFunctionId" :lookuptextfield="submission.secondaryFunction" @updateLookupTextField="updateSecondaryFunction" lookupajax="SecondaryFunctions" v-model="submission.secondaryFunctionId" data-allow-clear="false" />
										<span class="field-validation-error" v-if="$v.submission.secondaryFunctionId.$error && !$v.submission.secondaryFunctionId.required">Secondary Function is required</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_Position">Position</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_Position" name="Submission.Position" v-model="submission.position" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.position.$error && !$v.submission.position.maxLength">The field Position must be a string with a maximum length of {{ $v.submission.position.$params.maxLength.max }}.</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_VendorId">Vendor</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.Vendor" v-model="submission.Vendor" />
										<Lookup id="Submission_VendorId" name="Submission.VendorId" :lookuptextfield="submission.vendor" @updateLookupTextField="updateVendor" lookupajax="Vendors" v-model="submission.vendorId" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_ChipTypeId">Chip Type</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.ChipType" v-model="submission.ChipType" />
										<Lookup id="Submission_ChipTypeId" name="Submission.ChipTypeId" :lookuptextfield="submission.chipType" @updateLookupTextField="updateChipType" lookupajax="ChipTypes" v-model="submission.chipTypeId" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_Version">Version</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_Version" name="Submission.Version" v-model="submission.version" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.version.$error && !$v.submission.version.maxLength">The field Version must be a string with a maximum length of {{ $v.submission.version.$params.maxLength.max }}.</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_ManufacturerBuildId">Manufacturer Build ID</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_ManufacturerBuildId" name="Submission.ManufacturerBuildId" v-model="submission.manufacturerBuildId" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.manufacturerBuildId.$error && !$v.submission.manufacturerBuildId.maxLength">The field Manufacturer Build ID must be a string with a maximum length of {{ $v.submission.manufacturerBuildId.$params.maxLength.max }}.</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_ComponentTypeId">Component Type</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.ComponentType" v-model="submission.ComponentType" />
										<Lookup id="Submission_ComponentTypeId" name="Submission.ComponentTypeId" :lookuptextfield="submission.componentType" @updateLookupTextField="updateComponentType" lookupajax="ComponentTypes" v-model="submission.componentTypeId" />
									</div>
								</div>
								<div class="form-group form-group-sm" v-show="showIGTOrgMaterial">
									<label class="control-label col-sm-4" for="Submission_OrgIGTMaterial">Orig Uploaded Material</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_OrgIGTMaterial" name="Submission.OrgIGTMaterial" v-model="submission.orgIGTMaterial" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.orgIGTMaterial.$error && !$v.submission.orgIGTMaterial.required">Orig Uploaded Material is required</span>
										<span class="field-validation-error" v-if="$v.submission.orgIGTMaterial.$error && !$v.submission.orgIGTMaterial.maxLength">The field Orig Uploaded Material must be a string with a maximum length of {{ $v.submission.orgIGTMaterial.$params.maxLength.max }}.</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<template v-if="isAddMode && !isCloned">
									<div class="form-group form-group-sm">
										<label class="control-label required-label col-sm-4" for="Submission_TypeId">Type</label>
										<div class="col-sm-8">
											<input type="hidden" name="Submission.Type" v-model="submission.type" />
											<Lookup id="Submission_TypeId" name="Submission.TypeId" :lookuptextfield="submission.type" @updateLookupTextField="updateType" lookupajax="SubmissionTypes" v-model="submission.typeId" />
											<span class="field-validation-error" v-if="$v.submission.typeId.$error && !$v.submission.typeId.required">Type is required</span>
										</div>
									</div>
									<div class="form-group form-group-sm">
										<label class="control-label required-label col-sm-4" for="Submission_JurisdictionId">Jurisdiction</label>
										<div class="col-sm-8">
											<input type="hidden" name="Submission.Jurisdiction" v-model="submission.jurisdiction" />
											<Lookup id="Submission_JurisdictionId" name="Submission.JurisdictionId" :lookuptextfield="submission.jurisdiction" @updateLookupTextField="updateJurisdiction" lookupajax="Jurisdictions" templatename="formatJurisdictions" v-model="submission.jurisdictionId" />
											<span class="field-validation-error" v-if="$v.submission.jurisdictionId.$error && !$v.submission.jurisdictionId.required">Jurisdiction is required</span>
										</div>
									</div>
									<div class="form-group form-group-sm">
										<label class="control-label col-sm-4" for="Submission_Year">Year</label>
										<div class="col-sm-3">
											<SelectStandard id="Submission_Year" name="Submission.Year" v-model="submission.year" :options="submission.yearOptions" data-allow-clear="false" class="form-control" />
										</div>
									</div>
								</template>
								<div class="form-group form-group-sm">
									<label class="control-label required-label col-sm-4" for="Submission_SubmitDate">Submit Date</label>
									<div class="col-sm-4">
										<DatePicker name="Submission.SubmitDate" v-model="submission.submitDate" autocomplete="off" />
										<span class="field-validation-error" v-if="$v.submission.submitDate.$error && !$v.submission.submitDate.required">Submit Date is required</span>
										<span class="field-validation-error" v-if="$v.submission.submitDate.$error">Submit Date cannot be in the future</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label required-label col-sm-4" for="Submission_ReceiveDate">Receive Date</label>
									<div class="col-sm-4">
										<DatePicker name="Submission.ReceiveDate" v-model="submission.receiveDate" autocomplete="off" />
										<span class="field-validation-error" v-if="$v.submission.receiveDate.$error && !$v.submission.receiveDate.required">Receive Date is required</span>
										<span class="field-validation-error" v-if="$v.submission.receiveDate.$error">Receive Date cannot be in the future</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_LabId">Test Lab</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.Lab" v-model="submission.lab" />
										<Lookup id="Submission_LabId" name="Submission.LabId" :lookuptextfield="submission.lab" @updateLookupTextField="updateLab" lookupajax="Laboratories" v-model="submission.labId" data-allow-clear="false" />
										<span class="field-validation-error" v-if="$v.submission.labId.$error && !$v.submission.labId.required">Test Lab is required</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_CertificationLabId">Certification Lab</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.CertificationLab" v-model="submission.certificationLab" />
										<Lookup id="Submission_CertificationLabId" name="Submission.CertificationLabId" :lookuptextfield="submission.certificationLab" @updateLookupTextField="updateCertificationLab" lookupajax="Laboratories" v-model="submission.certificationLabId" data-allow-clear="false" />
										<span class="field-validation-error" v-if="$v.submission.certificationLabId.$error && !$v.submission.certificationLabId.required">Certification Lab is required</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_Status">Status</label>
									<div class="col-sm-8">
										<SelectStandard id="Submission_StatusDisabled" name="Submission.StatusDisabled" v-model="submission.status" :options="submission.statusOptions" class="form-control" data-allow-clear="false" disabled="disabled" />
										<input type="hidden" name="Submission.Status" v-model="submission.status" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_ArchiveLocation">Archive Location</label>
									<div class="col-sm-4">
										<Lookup id="Submission_ArchiveLocation" name="Submission.ArchiveLocation" :lookuptextfield="submission.archiveLocation" lookupajax="ArchiveLocations" v-model="submission.archiveLocation" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label required-label col-sm-4" for="Submission_TestingTypeId">Testing Type</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.TestingType" v-model="submission.testingType" />
										<Lookup id="Submission_TestingTypeId" name="Submission.TestingTypeId" :lookuptextfield="submission.testingType" @updateLookupTextField="updateTestingType" lookupajax="TestingTypes" v-model="submission.testingTypeId" data-allow-clear="false" />
										<span class="field-validation-error" v-if="$v.submission.testingTypeId.$error && !$v.submission.testingTypeId.required">Testing Type is required</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_IsRegressionTesting">Regression Testing</label>
									<div class="col-sm-8">
										<div class="checkbox">
											<label><input type="checkbox" id="Submission_IsRegressionTesting" name="Submission.IsRegressionTesting" v-model="submission.isRegressionTesting" value="true" /></label>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_ProjectDetail">Project Detail</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_ProjectDetail" name="Submission.ProjectDetail" v-model="submission.projectDetail" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.projectDetail.$error && !$v.submission.projectDetail.maxLength">The field Project Detail must be a string with a maximum length of {{ $v.submission.projectDetail.$params.maxLength.max }}.</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_CompanyId">Company</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.Company" v-model="submission.company" />
										<Lookup id="Submission_CompanyId" name="Submission.CompanyId" :lookuptextfield="submission.company" @updateLookupTextField="updateCompany" lookupajax="Companies" v-model="submission.companyId" data-allow-clear="false" />
										<span class="field-validation-error" v-if="$v.submission.companyId.$error && !$v.submission.companyId.required">Company is required</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label required-label col-sm-4" for="Submission_ContractTypeId">Contract Type</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.ContractType" v-model="submission.contractType" />
										<Lookup id="Submission_ContractTypeId" name="Submission.ContractTypeId" :lookuptextfield="submission.contractType" @updateLookupTextField="updateContractType" lookupajax="ContractTypes" v-model="submission.contractTypeId" />
										<span class="field-validation-error" v-if="$v.submission.contractTypeId.$error && !$v.submission.contractTypeId.required">Contract Type is required</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_CurrencyId">Currency</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.Currency" v-model="submission.currency" />
										<Lookup id="Submission_CurrencyId" name="Submission.CurrencyId" :lookuptextfield="submission.currency" @updateLookupTextField="updateCurrency" lookupajax="Currencies" v-model="submission.currencyId" data-allow-clear="false" />
										<span class="field-validation-error" v-if="$v.submission.currencyId.$error && !$v.submission.currencyId.required">Currency is required</span>
									</div>
								</div>
								<template v-if="isAddMode && !isCloned">
									<div class="form-group form-group-sm">
										<label class="control-label col-sm-4" for="Submission_WON">Work Order Number (WON)</label>
										<div class="col-sm-6">
											<input type="text" id="Submission_WON" name="Submission.WON" v-model="submission.won" class="form-control upper" />
											<span class="field-validation-error" v-if="!$v.submission.won.dynamicsOrFileNumberFormat">Please enter a valid format</span>
										</div>
									</div>
								</template>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_ContractNumber">Project/Contract Number</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_ContractNumber" name="Submission.ContractNumber" v-model="submission.contractNumber" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.contractNumber.$error && !$v.submission.contractNumber.maxLength">The field Project/Contract Number must be a string with a maximum length of {{ $v.submission.contractNumber.$params.maxLength.max }}.</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_PurchaseOrder">Purchase Order</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_PurchaseOrder" name="Submission.PurchaseOrder" v-model="submission.purchaseOrder" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.purchaseOrder.$error && (!$v.submission.purchaseOrder.integer || !$v.submission.purchaseOrder.between) && (submission.manufacturerCode === 'SGI')">The field Purchase Order must be a number</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_ContractValue">Contract Value</label>
									<div class="col-sm-6">
										<input type="text" id="Submission_ContractValue" name="Submission.ContractValue" v-model="submission.contractValue" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.contractValue.$error && (!$v.submission.contractValue.decimal || !$v.submission.contractValue.between)">The field Contract Value must be a number</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default" v-show="showARIFields">
					<div class="panel-heading">
						<h3 class="panel-title">Additional MSA/Contract Information</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4">
								<div v-if="showCustomFields">
									<div class="form-group form-group-sm" v-show="isAddMode">
										<label class="control-label col-sm-4" for="Submission_AristocratTypeId">Product Type</label>
										<div class="col-sm-8">
											<input type="hidden" name="Submission.AristocratType" v-model="submission.AristocratType" />
											<Lookup id="Submission_AristocratTypeId" name="Submission.aristocratTypeId" :lookuptextfield="submission.aristocratType" @updateLookupTextField="updateAristocratType" lookupajax="EResultsAUEnums" v-model="submission.aristocratTypeId" :filter="{'Node':'ARPType'}" />
										</div>
									</div>
									<div class="form-group form-group-sm" v-show="isAddMode">
										<label class="control-label col-sm-4" for="Submission_AristocratComplexityId">Complexity</label>
										<div class="col-sm-8">
											<input type="hidden" name="Submission.AristocratType" v-model="submission.AristocratComplexity" />
											<Lookup id="Submission_AristocratComplexityId" name="Submission.aristocratComplexityId" :lookuptextfield="submission.aristocratComplexity" @updateLookupTextField="updateAristocratComplexity" lookupajax="EResultsAUEnums" v-model="submission.aristocratComplexityId" :filter="{'Node':'ARPComplexity'}" />
										</div>
									</div>
								</div>
								<div v-else>
									<div class="form-group form-group-sm" v-show="isAddMode">
										<label class="control-label col-sm-4" for="Submission_AristocratTypeId">Product Type</label>
										<div class="col-sm-8">
											<input type="hidden" name="Submission.AristocratType" v-model="submission.AristocratType" />
											<Lookup id="Submission_AristocratTypeId" name="Submission.aristocratTypeId" :lookuptextfield="submission.aristocratType" @updateLookupTextField="updateAristocratType" lookupajax="EResultsAUEnums" v-model="submission.aristocratTypeId" :filter="{'Node':'ARPType'}" />
										</div>
									</div>
									<div class="form-group form-group-sm" v-show="isAddMode">
										<label class="control-label col-sm-4" for="Submission_AristocratComplexityId">Complexity</label>
										<div class="col-sm-8">
											<input type="hidden" name="Submission.AristocratType" v-model="submission.AristocratComplexity" />
											<Lookup id="Submission_AristocratComplexityId" name="Submission.aristocratComplexityId" :lookuptextfield="submission.aristocratComplexity" @updateLookupTextField="updateAristocratComplexity" lookupajax="EResultsAUEnums" v-model="submission.aristocratComplexityId" :filter="{'Node':'ARPComplexity'}" />
										</div>
									</div>
									<div class="form-group form-group-sm" v-show="isAddMode">
										<label class="control-label col-sm-4" for="Submission_AristocratMarketId">Market</label>
										<div class="col-sm-8">
											<input type="hidden" name="Submission.AristocratMarket" v-model="submission.aristocratMarket" />
											<Lookup id="Submission_Submission_AristocratMarketId" name="Submission.aristocratMarketId" :lookuptextfield="submission.aristocratMarket" @updateLookupTextField="updateAristocratMarket" lookupajax="EResultsAUEnums" v-model="submission.aristocratMarketId" :filter="{'Node':'ARPMarket'}" />
										</div>
									</div>
									<div class="form-group form-group-sm" v-show="isAddMode">
										<label class="control-label col-sm-4" for="Submission_ClientNumber">RDAP Pin</label>
										<div class="col-sm-8">
											<input type="text" id="Submission_ClientNumber" name="Submission.ClientNumber" v-model="submission.clientNumber" class="form-control" />
											<span class="field-validation-error" v-if="$v.submission.clientNumber.$error && !$v.submission.clientNumber.maxLength">The field RDAP Pin must be a string with a maximum length of {{ $v.submission.clientNumber.$params.maxLength.max }}.</span>
										</div>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_LetterNumber">Letter Number</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_LetterNumber" name="Submission.LetterNumber" v-model="submission.letterNumber" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.letterNumber.$error && !$v.submission.letterNumber.maxLength">The field Letter Number must be a string with a maximum length of {{ $v.submission.letterNumber.$params.maxLength.max }}.</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_Operator">Operator</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_Operator" name="Submission.Operator" v-model="submission.operator" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.operator.$error && !$v.submission.operator.maxLength">The field Operator must be a string with a maximum length of {{ $v.submission.operator.$params.maxLength.max }}.</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4" v-show="showARICodeFields">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_ARIProjectNo">Project Number</label>
									<div class="col-sm-6">
										<input type="text" id="Submission_ARIProjectNo" name="Submission.ARIProjectNo" v-model="submission.ariProjectNo" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.ariProjectNo.$error && !$v.submission.ariProjectNo.maxLength">The field Project Number must be a string with a maximum length of {{ $v.submission.ariProjectNo.$params.maxLength.max }}.</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_ARIDeptCode">Department Code</label>
									<div class="col-sm-6">
										<input type="text" id="Submission_ARIDeptCode" name="Submission.ARIDeptCode" v-model="submission.ariDeptCode" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.ariDeptCode.$error && !$v.submission.ariDeptCode.maxLength">The field Department Code must be a string with a maximum length of {{ $v.submission.ariDeptCode.$params.maxLength.max }}.</span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_ARIAccountCode">Account Code</label>
									<div class="col-sm-6">
										<input type="text" id="Submission_ARIAccountCode" name="Submission.ARIAccountCode" v-model="submission.ariAccountCode" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.ariAccountCode.$error && !$v.submission.ariAccountCode.maxLength">The field Account Code must be a string with a maximum length of {{ $v.submission.ariAccountCode.$params.maxLength.max }}.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">More Info</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_System">System</label>
									<div class="col-sm-8">
										<input type="text" id="Submission_System" name="Submission.System" v-model="submission.system" class="form-control" />
										<span class="field-validation-error" v-if="$v.submission.system.$error && !$v.submission.system.maxLength">The field System must be a string with a maximum length of {{ $v.submission.system.$params.maxLength.max }}.</span>
									</div>
								</div>
								<div v-if="canEditCabinet" class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_Cabinet">Cabinet</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.Cabinet" v-model="submission.cabinet" />
										<Lookup id="Submission_CabinetId" name="Submission.CabinetId" :lookuptextfield="submission.cabinet" @updateLookupTextField="updateCabinet" lookupajax="Cabinets" v-model="submission.cabinetId" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_WorkPerformedId">Work Performed</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.WorkPerformed" v-model="submission.workPerformed" />
										<Lookup id="Submission_WorkPerformedId" name="Submission.WorkPerformedId" :lookuptextfield="submission.workPerformed" @updateLookupTextField="updateWorkPerformed" lookupajax="WorkPerformed" v-model="submission.workPerformedId" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-4" for="Submission_GameTypeId">Game Type</label>
									<div class="col-sm-8">
										<input type="hidden" name="Submission.GameType" v-model="submission.gameType" />
										<Lookup id="Submission_GameTypeId" name="Submission.GameTypeId" :lookuptextfield="submission.gameType" @updateLookupTextField="updateGameType" lookupajax="GameTypes" v-model="submission.gameTypeId" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--Memo-->
				<div class="panel panel-default" v-if="isAddMode || isCloned">
					<div class="panel-heading">
						<h3 class="panel-title">Memo</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-2" for="Memo">Memo</label>
									<div class="col-sm-10">
										<textarea id="Memo" name="Memo" rows=4 cols="800" maxlength="5000" class="form-control" v-model="memo"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</form>

		<form ref="deleteForm" method="post">
			<input type="hidden" name="Id" v-model="submission.id" />
		</form>

		<div class="row">
			<div class="col-sm-12 form-buttons">
				<button type="button" class="btn btn-primary btn-sm" @click="clickSave" v-if="showSaveButton">{{ mode | saveText }}</button>
				<button type="button" class="btn btn-sm btn-primary" @click="clickDelete" v-if="showDeleteButton">Delete</button>
				<button type="button" class="btn btn-primary btn-sm" @click="clickCancel">Cancel</button>
			</div>
		</div>

		<Memo title="Please enter a reason for backdating Submit/Receive Date" :showModal="showMemoModal" :memoRequired="true" @modalClose="modalCloseMemo"></Memo>
	</div>
</template>

<script>
	import DatePicker from '@/components/utility/DatePicker'
	import Lookup from '@/components/utility/Lookup'
	import Memo from '@/components/submission/shared/Memo'
	import SelectStandard from '@/components/utility/SelectStandard'
	import { MANUFACTURER, MODE } from '@/common'
	import { between, decimal, integer, maxLength, required, requiredIf } from 'vuelidate/lib/validators'
	import { dynamicsOrFileNumberFormat } from '@/validators'

	let promptDateChangeResolve;

	export default {
		components: {
			DatePicker,
			Lookup,
			Memo,
			SelectStandard
		},
		validations() {
			const validationGraph =
			{
				submission: {
					certificationLabId: { required },
					closeDate: {
						isValid: function (value) {
							if (!this.statusChangedToWDRJ) {
								return true;
							}
							return moment(value).isSameOrAfter(moment(), 'day');
						}
					},
					closeReasonId: {
						required: requiredIf(function () {
							return this.statusChangedToWDRJ;
						})
					},
					companyId: { required },
					contractNumber: { maxLength: maxLength(150) },
					contractValue: { decimal, between: between(0, 99999999.99) },
					contractTypeId: { required },
					currencyId: { required },
					dateCode: { maxLength: maxLength(60) },
					functionId: { required },
					gameName: { required, maxLength: maxLength(100) },
					idNumber: { required, maxLength: maxLength(450) },
					jurisdictionId: {
						required: requiredIf(function () {
							return this.isAddMode && !this.isCloned;
						})
					},
					labId: { required },
					manufacturerBuildId: { maxLength: maxLength(100) },
					manufacturerCode: { required },
					orgIGTMaterial: {
						maxLength: maxLength(100),
						required: requiredIf(function () {
							return this.showIGTOrgMaterial;
						})
					},
					position: { maxLength: maxLength(100) },
					projectDetail: { maxLength: maxLength(60) },
					purchaseOrder: {},
					receiveDate: {
						required,
						isValid: function (value) {
							return moment(value).isSameOrBefore();
						}
					},
					secondaryFunctionId: { required },
					submitDate: {
						required,
						isValid: function (value) {
							return moment(value).isSameOrBefore();
						}
					},
					system: { maxLength: maxLength(120) },
					testingTypeId: { required },
					typeId: { required },
					version: { maxLength: maxLength(80) },
					won: { dynamicsOrFileNumberFormat },
					// Aristorcrat
					ariAccountCode: { maxLength: maxLength(20) },
					ariDeptCode: { maxLength: maxLength(20) },
					ariProjectNo: { maxLength: maxLength(20) },
					clientNumber: { maxLength: maxLength(50) },
					letterNumber: { maxLength: maxLength(250) },
					operator: { maxLength: maxLength(120) }
				}
			}

			if (this.submission.manufacturerCode === 'SGI') {
				validationGraph.submission.purchaseOrder = { integer, between: between(0, 9223372036854775807) };
			}
			return validationGraph;
		},
		data() {
			return {
				aristocratManufCodes: [
					MANUFACTURER.APL.code,
					MANUFACTURER.ARP.code,
					MANUFACTURER.ARI.code,
					MANUFACTURER.GAL.code,
					MANUFACTURER.VGT.code
				],
				igtManufCodes: [
					MANUFACTURER.ATA.code,
					MANUFACTURER.ATR.code,
					MANUFACTURER.BSM.code,
					MANUFACTURER.GTE.code,
					MANUFACTURER.GUK.code,
					MANUFACTURER.IGT.code,
					MANUFACTURER.IGU.code,
					MANUFACTURER.LGT.code,
					MANUFACTURER.SPE.code
				],
				canAdd: initialData.canAdd,
				canDelete: initialData.canDelete,
				canEdit: initialData.canEdit,
				manufacturerAccountStatus: null,
				memoSaveClicked: false,
				mode: initialData.mode,
				memo: initialData.memo,
				oldReceiveDate: initialData.submission.receiveDate,
				oldSubmissionStatus: initialData.submission.status,
				oldSubmitDate: initialData.submission.submitDate,
				showMemoModal: false,
				sourceSubmissionId: initialData.sourceSubmissionId,
				submission: initialData.submission,
				submitOrReceiveDateMemoRequired: false,
				isCloned: initialData.isCloned,
				cloneSubmissionId: initialData.cloneSubmissionId,
				cloneJurisdictions: initialData.cloneJurisdictions,
				cloneJurisdictionIds: initialData.cloneJurisdictionIds,
				cloneSignatures: initialData.cloneSignatures,
				cloneMemos: initialData.cloneMemos,
				canEditCabinet: initialData.canEditCabinet,
				additionalContractManufCodes: [
					MANUFACTURER.GAL.code
				]
			}
		},
		created: function () {
			this.submission.companyDefaultCurrencyId = this.submission.currencyId;
		},
		methods: {
			clickCancel: function () {
				if (this.isCloned) {
					location.href = jsPath + 'submission/submission/detail/' + this.sourceSubmissionId;
				}
				else if (this.isEditMode) {
					location.href = jsPath + 'submission/submission/detail/' + this.submission.id;
				}
				else {
					location.href = jsPath;
				}
			},
			clickDelete: function () {
				const self = this;
				const msg = "<b>Warning!!</b> You are about to delete a Submisson record and all it's associated data.<br />Are you sure you want to delete?"
				bootbox.confirm(msg, function (result) {
					if (result) {
						let form = self.$refs.deleteForm;
						form.action = jsPath + 'submission/submission/delete';
						form.submit();
					}
				});
			},
			clickSave: async function () {
				let form = this.$refs.editForm;
				form.action = jsPath + 'submission/submission/edit';

				this.$v.$touch();
				if (this.$v.$invalid) {
					return;
				}

				await this.promptDateChange();
				if (this.submitOrReceiveDateMemoRequired && (this.submission.memoReason == null || !this.memoSaveClicked)) {
					this.showMemoModal = false;
					this.submitOrReceiveDateMemoRequired = false;
					return;
				}

				const warningContinue = await this.promptWarnings();
				if (!warningContinue) {
					return;
				}

				form.submit();
			},
			modalCloseMemo: function (value) {
				this.memoSaveClicked = value.saveClicked;
				this.submission.memoReason = value.memo;
				promptDateChangeResolve();
			},
			promptDateChange: function () {
				const self = this;
				return new Promise(function (resolve) {
					if (self.submission.receiveDate != self.oldReceiveDate || self.submission.submitDate != self.oldSubmitDate) {
						const mReceiveDate = moment(self.submission.receiveDate);
						const mOldReceiveDate = moment(self.oldReceiveDate);
						const mSubmitDate = moment(self.submission.submitDate);
						const mOldSubmitDate = moment(self.oldSubmitDate);

						if (mOldReceiveDate.diff(mReceiveDate, 'days') > 6 || mOldSubmitDate.diff(mSubmitDate, 'days') > 6) {
							self.showMemoModal = true;
							self.submitOrReceiveDateMemoRequired = true;
							promptDateChangeResolve = resolve;
						}
						else {
							resolve();
						}
					}
					else {
						resolve();
					}
				});
			},
			promptWarnings: function () {
				const self = this;
				return new Promise(function (resolve) {
					let warnings = [];

					if (self.submission.currencyId != self.submission.companyDefaultCurrencyId) {
						warnings.push('The Company\'s default currency does not match the selected Currency');
					}

					if (self.submission.manufacturerCode === MANUFACTURER.APL.code) {
						if (Em(self.submission.ariProjectNo)) {
							warnings.push('Project Number is blank')
						}

						if (Em(self.submission.ariDeptCode)) {
							warnings.push('Account Code is blank')
						}

						if (Em(self.submission.ariAccountCode)) {
							warnings.push('Department Code is blank')
						}
					}

					if (warnings.length > 0) {
						let continueMsg = '<b>Please review the following possible issues:<br />Continue?</b><br /><br />';
						for (let i = 0; i < warnings.length; i++) {
							continueMsg += (i + 1) + '. ' + warnings[i] + '<br />';
						}

						bootbox.confirm({
							message: continueMsg,
							buttons: { confirm: { label: 'Yes' }, cancel: { label: 'No' } },
							callback: function (result) {
								resolve(result);
							}
						});
					}
					else {
						resolve(true);
					}
				});
			},
			resetARIFields: function () {
				this.submission.AristocratTypeId = null;
				this.submission.AristocratComplexityId = null;
				this.submission.aristocratMarketId = null;
				this.submission.clientNumber = null;
			},
			resetARICodeFields: function () {
				this.submission.ariProjectNo = null;
				this.submission.ariDeptCode = null;
				this.submission.ariAccountCode = null;
			},
			updateCertificationLab: function (value) {
				this.submission.certificationLab = value;
			},
			updateChipType: function (value) {
				this.submission.chipType = value;
			},
			updateCloseReason: function (value) {
				this.submission.closeReason = value;
			},
			updateCompany: function (value) {
				this.submission.company = value;
			},
			updateContractType: function (value) {
				this.submission.contractType = value;
			},
			updateCurrency: function (value) {
				this.submission.currency = value;
			},
			updateFunction: function (value) {
				this.submission.function = value;
			},
			updateGameType: function (value) {
				this.submission.gameType = value;
			},
			updateJurisdiction: function (value) {
				this.submission.jurisdiction = value;
			},
			updateLab: function (value) {
				this.submission.lab = value;
			},
			updateManufacturer: function (value) {
				this.submission.manufacturer = value;
			},
			updateSecondaryFunction: function (value) {
				this.submission.secondaryFunction = value;
			},
			updateTestingPerformed: function (value) {
				this.submission.testingPerformed = value;
			},
			updateTestingType: function (value) {
				this.submission.testingType = value;
			},
			updateType: function (value) {
				this.submission.type = value;
			},
			updateVendor: function (value) {
				this.submission.vendor = value;
			},
			updateWorkPerformed: function (value) {
				this.submission.workPerformed = value;
			},
			updateCabinet: function (value) {
				this.submission.cabinet = value;
			},
			// aristocrat
			updateAristocratMarket: function (value) {
				this.submission.aristocratMarket = value;
			},
			updateAristocratComplexity: function (value) {
				this.submission.aristocratComplexity = value;
			},
			updateAristocratType: function (value) {
				this.submission.aristocratType = value;
			},
			updateComponentType: function (value) {
				this.submission.componentType = value;
			}
		},
		computed: {
			isAddMode: function () {
				return this.mode === MODE.ADD.id;
			},
			isEditMode: function () {
				return this.mode === MODE.EDIT.id;
			},
			showARIFields: function () {
				return this.submission.manufacturerCode === MANUFACTURER.GAL.code || this.aristocratManufCodes.includes(this.submission.manufacturerCode) && !this.isCloned;
			},
			showARICodeFields: function () {
				return this.submission.manufacturerCode === MANUFACTURER.APL.code && this.isAddMode;
			},
			showIGTOrgMaterial: function () {
				return this.igtManufCodes.includes(this.submission.manufacturerCode);
			},
			showDeleteButton: function () {
				if (this.isEditMode && this.canDelete) {
					return true;
				}

				return false;
			},
			showSaveButton: function () {
				if (this.isEditMode && this.canEdit) {
					return true;
				}
				else if (this.isAddMode && this.canAdd) {
					return true;
				}

				return false;
			},
			showCustomFields: function () {
				return this.additionalContractManufCodes.includes(this.submission.manufacturerCode);
			}
		},
		watch: {
			'submission.companyId': function (newVal, oldVal) {
				// load company defaults
				if (newVal && newVal != oldVal) {
					const self = this;
					this.$http.get('Submission/Submission/LoadCompany', { params: { companyId: newVal } })
						.then(function (r) {
							if (r.data.currencyId) {
								self.submission.companyDefaultCurrencyId = r.data.currencyId;
								$('#Submission_CurrencyId').append(new Option(r.data.currency, r.data.currencyId, false, true)).trigger('change');
							}

							if (r.data.labId) {
								$('#Submission_CertificationLabId').append(new Option(r.data.lab, r.data.labId, false, true)).trigger('change');
								$('#Submission_LabId').append(new Option(r.data.lab, r.data.labId, false, true)).trigger('change');
							}
						});
				}
			},
			'submission.labId': function (newVal, oldVal) {
				if (newVal != oldVal) {
					const self = this;
					this.$http.get('Submission/Submission/LoadArchiveLocation', { params: { labId: newVal } })
						.then(function (r) {
							if (r.data) {
								$('#Submission_ArchiveLocation').append(new Option(r.data, r.data, false, true)).trigger('change');
							}
							else {
								self.submission.archiveLocation = null;
							}
						});
				}
			},
			'submission.manufacturerCode': function (newVal, oldVal) {
				if (newVal) {
					const self = this;
					this.$http.get('Submission/Submission/LoadManufacturer', { params: { manufacturerCode: newVal } })
						.then(function (r) {
							self.manufacturerAccountStatus = '<b>Manufacturer Credit Status:</b> ' + r.data;
						});
				}
				else {
					this.manufacturerAccountStatus = null;
				}

				if (this.aristocratManufCodes.includes(newVal)) {
					if (newVal !== MANUFACTURER.APL.code) {
						this.resetARICodeFields();
					}
				}
				else {
					this.resetARIFields();
					this.resetARICodeFields();
				}
			}
		}
	}
</script>

<style scoped>
	.form-control-static {
		padding-left: 0 !important;
	}

	.group-copyfield {
		display: flex;
	}

	.copychk {
		margin-left: 6px !important;
	}
</style>