﻿<template>
	<div><!--
			 fuck around with the arrow button
			 -->
		<div class="flex">
			<div class="panel panel-default hide-border">
				<div class="panel-heading center-text hide-border">
					<a data-toggle="collapse" href="#filter-options-list">
						<h5 class="panel-title">
							Filter Clauses
							<template v-if="filtering">
								(Currently filtering clauses)
							</template>
							<template v-else>
								(No filters applied)
							</template>
							<i class="indicator fa pull-right fa-chevron-circle-up"></i>
						</h5>

					</a>
				</div>
				<!--<div class="panel-heading center-text hide-border"><a href="#"><h5 class="panel-title">Filter Clauses</h5></a></div>-->
				<div class="collapse" id="filter-options-list">
					<div class="panel-body">
						<div class="row align-items-center">
							<div class="col-sm-3 align-middle"><label><input v-model="filters.pass" type="checkbox" /><span class="filter-label">Pass</span></label></div>
							<div class="col-sm-3 align-middle"><label><input v-model="filters.fail" type="checkbox" /><span class="filter-label">Fail</span></label></div>
							<div class="col-sm-3 align-middle"><label><input v-model="filters.naStar" type="checkbox" /><span class="filter-label">NA*</span></label></div>
							<div class="col-sm-3 align-middle"><label><input v-model="filters.na" type="checkbox" /><span class="filter-label">NA</span></label></div>
						</div>
						<div class="row align-items-center">
							<div class="col-sm-5"></div>
							<div class="col-sm-2 align-middle"><button class="and-or" @click="filters.andOr === 'AND' ? filters.andOr = 'OR' : filters.andOr = 'AND'">{{ filters.andOr }}</button></div>
							<div class="col-sm-5"></div>
						</div>
						<div class="row align-items-center">
							<div class="col-sm-1"></div>
							<div class="col-sm-3 align-middle"><label><input v-model="filters.hasExplanation" type="checkbox" /><span class="filter-label">Has Explanation</span></label></div>
							<div class="col-sm-3 align-middle"><label><input v-model="filters.noExplanation" type="checkbox" /><span class="filter-label">Doesn't Have Explanation</span></label></div>
							<div class="col-sm-3 align-middle"><label><input v-model="filters.explanationRequired" type="checkbox" /><span class="filter-label">Explanation Required</span></label></div>
							<div class="col-sm-1"></div>
						</div>
						<div class="row align-items-center"><div class="col-sm-12 filter-label">Filter by Content</div></div>
						<div class="row align-items-center">
							<div class="col-sm-12">
								<input v-model="filters.textSearch" class="input-sm plainTextControl" type="text" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';

	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	export default {
		components: {

		},
		data() {
			return {
				filters: {
					andOr: "AND",
					pass: false,
					fail: false,
					na: false,
					naStar: false,
					hasExplanation: false,
					noExplanation: false,
					explanationRequired: false,
					textSearch: ""
				}
			}
		},
		props: ['fullscreen', 'clauses'],
		computed: {
			filtering: function () {
				return this.filteringAnswer || this.filters.noExplanation || this.filters.hasExplanation || this.filters.explanationRequired || this.filteringText;
			},
			filteringText: function () {
				return isNotNull(this.filters.textSearch) && this.filters.textSearch.length > 0;
			},
			filteringAnswer: function () {
				return this.filters.pass || this.filters.fail || this.filters.na || this.filters.naStar;
			},
			filteringExplanation: function () {
				return this.filters.noExplanation || this.filters.hasExplanation;
			},
			filteringRequiredExplanation: function () {
				return this.filters.explanationRequired;
			},
		},
		methods: {
			filterClauses: function (clauses) {
				if (!this.filtering) return clauses;
				else if (this.filters.andOr === 'AND')
					return clauses.filter(clause => this.answerApplicable(clause) && this.explanationFilter(clause)/* && this.requiredExplanationFilter(clause)*/ && this.textFilter(clause));
				else
					return clauses.filter(clause => {
						return (this.filteringAnswer && this.answerApplicable(clause)) ||
							(this.filteringExplanation && this.explanationFilter(clause)) ||
							//(this.filteringRequiredExplanation && this.requiredExplanationFilter(clause)) ||
							(this.filteringText && this.textFilter(clause));
					});
			},
			answerApplicable: function (clause) {
				return (this.filters.pass && clause.answer === "PASS") ||
					(this.filters.fail && clause.answer === "FAIL") ||
					(this.filters.na && clause.answer === "NA") ||
					(this.filters.naStar && clause.answer === "NA*") ||
					!this.filteringAnswer;
			},
			explanationFilter: function (clause) {
				return (this.filters.hasExplanation && isNotNull(clause.explanation) && clause.explanation.length > 0) ||
					(this.filters.noExplanation && (isNull(clause.explanation) || clause.explanation.length === 0)) ||
					(!this.filteringExplanation);
			},
			requiredExplanationFilter: function (clause) {
				//No idea when explanations are required
				//required for NA, NA*, Fail
				return true;
			},
			textFilter: function (clause) {
				return !this.filteringText ||
					(clause.memo.indexOf(this.filters.textSearch) >= 0 || clause.explanation.indexOf(this.filters.textSearch) >= 0);
			},
		},
		watch: {
			filters: {
				handler: function (newVal, oldVal) {
					let filteredClauses = this.filterClauses(this.clauses);

					this.$emit('filtered-clauses', filteredClauses);
				},
				deep: true
			}
		},
		mounted: function () {

		}
	}
</script>
<style scoped>
	.documentHeading {
		font-weight: bold;
		font-size: 20px;
	}
	.htmlEditor {
		background-color: white;
	}
	.plainTextControl {
		width: 100%;
	}
	span.filter-label {
		padding-left: .4em;
		padding-bottom: .4em;
	}
	button.and-or {
		background-color: #4CAF50; /* Green */
		color: white;
		border-radius: 10px;
		border-color: black;
	}
	button.and-or:hover {
		box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.24), 7px 7px 7px 0 rgba(0,0,0,0.19);
	}
</style>