﻿<template>
	<div class="modal" ref="TemplateSelection" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						Select Template
						<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>
				<div class="modal-body">
					<SelectStandard :options="availableTemplates" v-model="selectedTemplate"></SelectStandard>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary btn-sm" @click="loadExplanations">Load Clause Expalantions</a>
				 </div>
			</div>
		</div>
	</div>
</template>
<script>
	import api from '@/api/documents/generate';
	import Vue from 'vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	import SelectStandard from '@/components/utility/SelectStandard.vue';

	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	export default {
		name: 'TemplateSelection',
		components: {
			SelectStandard
		},
		props: {
			showTemplateSelection: {
				type: Boolean
			},
		},
		data() {
			return {
				availableTemplates: [],
				selectedTemplate:0
			}
		},
		computed: {
			...mapGetters([
				'letterPreviewJurisdiction',
			]),
			...letterGetters([
				'manufacturerId'
			]),
			...sourceGetters([
				'clauseReports',
				'jurisdictionClauses',
				'workspaceClauses',
			])
		},
		validations: {

		},
		methods: {
			loadTemplates: function () {
				let self = this;
				api.loadApplicableTemplates(JSON.stringify([this.letterPreviewJurisdiction]),this.manufacturerId)
				.then(response => {
					const result = response.data;
					self.availableTemplates = result;
				});
			},
			loadExplanations: function () {
				let self = this;
				api.loadTemplateExplanations(this.selectedTemplate)
				.then(response => {
					const results = response.data;
					self.applyTemplateExplanations(results);
				});
			},
			applyTemplateExplanations: function (results) { //PA - Take care native once its stored in template
				let self = this;
				let jurClauses = this.jurisdictionClauses(this.letterPreviewJurisdiction);
				let allSelected = jurClauses.filter(x => x.isSelected);
				if (allSelected.length == 0) {
					bootbox.confirm("You have not selected <b>Any</b> clauses to update. Do you want to update <b>All</b> clauses explanations?", function (result) { 
						if (result) {
							self.updateExplanations(jurClauses,results);
						}
					});
				} else {
					self.updateExplanations(allSelected,results);
				}
			},
			updateExplanations: function (toClauses, results) {
				let explanations = results.explanations;
				let nativeExplanations = results.nativeExplanations;
				toClauses.forEach(function (clause) {
					//find english
					var clauseTemplateResult = explanations.find(x => x.clauseId === clause.clauseID); 
					if (clauseTemplateResult != null) {
						if (clause.answer === 'PASS') {
							clause.explanation = clauseTemplateResult.passExplanation;
							clause.isExplanationChanged = true;
						}
						else if (clause.answer === 'FAIL') {
							clause.explanation = clauseTemplateResult.failExplanation;
							clause.isExplanationChanged = true;
						}
						else if (clause.answer === 'N/A') {
							clause.explanation = clauseTemplateResult.naExplanation;
							clause.isExplanationChanged = true;
						}
						else if (clause.answer === 'N/A*') {
							clause.explanation = clauseTemplateResult.naStarExplanation;
							clause.isExplanationChanged = true;
						}
					}

					//find any native
					var clauseTemplateResult = nativeExplanations.find(x => x.clauseId === clause.clauseID); 
					if (clauseTemplateResult != null) {
						if (clause.answer === 'PASS') {
							clause.nativeExplanation = clauseTemplateResult.passExplanation;
							clause.isNativeExplanationChanged = true;
						}
						else if (clause.answer === 'FAIL') {
							clause.nativeExplanation = clauseTemplateResult.failExplanation;
							clause.isNativeExplanationChanged = true;
						}
						else if (clause.answer === 'N/A') {
							clause.nativeExplanation = clauseTemplateResult.naExplanation;
							clause.isNativeExplanationChanged = true;
						}
						else if (clause.answer === 'N/A*') {
							clause.nativeExplanation = clauseTemplateResult.naStarExplanation;
							clause.isNativeExplanationChanged = true;
						}
					}
				})
				
				this.$emit('reSetShowTemplateSelection', false);
				$(this.$refs.TemplateSelection).modal('hide');
			}
		},
		created: function () {

		},
		mounted: function () {
			const refThis = this;
			$(this.$refs.TemplateSelection).on('hidden.bs.modal', function (e) {
				refThis.$emit('reSetShowTemplateSelection', false);
			});
		},
		watch: {
			showTemplateSelection: function (val, oldVal) {
				if (val) {
					$(this.$refs.TemplateSelection).modal('show');
					this.loadTemplates();
				}
				else
				{
					this.$emit('reSetShowTemplateSelection', false);
					$(this.$refs.TemplateSelection).modal('hide');
				}
			}
		}
	}

</script>