﻿<template>
	<div class="padding-left">
		<div v-if="isProjectLocked">
			<p class="text-info text-right letter-generation__color-emphasis"><strong>Project is with QA and Letter has been finalized, Clauses can not be modified.<span class="letter-generation__color-emphasis"> (Read Only)</span></strong></p>
		</div>
		<div class="row" v-else>
			<div class="col-sm-8">
			</div>
			<div class="col-sm-4 text-right">
				<button type="button" class="btn btn-primary btn-sm" title="Load Template" @click="showJurisdictionsTemplates(true)">Load Template</button>&nbsp;
				<button type="button" class="btn btn-primary btn-sm" title="Save Clauses" @click="saveClausesExplanations"><i class="fas fa-save"></i> Save</button>&nbsp;
			</div>
		</div>
		<ClauseFilter :fullscreen="letterCollapsed" :clauses="jurisdictionClauses(letterPreviewJurisdiction)" v-on:filtered-clauses="setClauses($event)"></ClauseFilter>
		<ClauseReport :showEdit="!isProjectLocked" :showNative="true" :hiderelatedtestcases="true">
			<template v-slot:ClauseContent="slotProps">

				<div class="row padded-control-top control-description">
					<div class="col-sm-10 ">List any explanation for this determination</div>
				</div>
				<div class="row padded-control-bottom">
					<div class="col-sm-11 padr0">
						<div v-if="isProjectLocked">
							{{ slotProps.clause.explanation }}
						</div>
						<div v-else>
							<input v-model="slotProps.clause.explanation" @change="markExplanationChanged(slotProps.clause, false)" class="input-sm plainTextControl" type="text" />
						</div>
					</div>
				</div>

			</template>
			<template v-slot:ClauseContentNative="slotProps">

				<div class="row padded-control-top control-description">
					<div class="col-sm-10 ">List any explanation for this determination (native)</div>
				</div>
				<div class="row padded-control-bottom">
					<div class="col-sm-11 padr0">
						<div v-if="isProjectLocked">
							{{ slotProps.clause.nativeExplanation }}
						</div>
						<div v-else>
							<input v-model="slotProps.clause.nativeExplanation" @change="markExplanationChanged(slotProps.clause, true)" class="input-sm plainTextControl" type="text" />
						</div>
					</div>
				</div>

			</template>
		</ClauseReport>
		<ClauseTemplateSelection :showTemplateSelection="showTemplateSelection" @reSetShowTemplateSelection="showJurisdictionsTemplates"></ClauseTemplateSelection>
	</div>
</template>
<script>
	import api from '@/api/documents/generate';
	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	const { mapGetters: evoGetters, mapActions: evoActions } = createNamespacedHelpers('evolution');

	import ClauseFilter from '@/components/documents/generate/Sources/Evolution/ClauseFilter.vue';
	import ClauseTemplateSelection from '@/components/documents/generate/Sources/Evolution/ClauseTemplateSelection.vue';

	import ClauseReport from '@/components/evolution/clausereport/ClauseReport.vue';
	import Question from '@/components/documents/generate/LetterQuestions/Question.vue';

	export default {
		components: {
			ClauseFilter,
			ClauseReport,
			Question,
			ClauseTemplateSelection
		},
		data() {
			return {
				showTemplateSelection : false
			}
		},
		mounted: function () {

		},
		props: ['letterCollapsed'],
		computed: {
			...sourceGetters([
				'clauseReports',
				'jurisdictionClauses',
				'workspaceClauses',
				
			]),
			...mapGetters([
				'letterPreviewJurisdiction',
				'workspaceJurisdictions',
				'getClauseCounts'
			]),
			...letterGetters([
				'clauseIdMemos',
				'isProjectLocked',
				'projectId'
			]),
			...sourceGetters([
				'jurisdictionClauses',
			])
		},
		methods: {
			/*
			 *     uniqueSourceControlsFromSourceId: (state, getters) => (someId) => {
		return getters.memos.filter(memo => isNotNull(memo.sourceItemTargets) && memo.sourceItemTargets.length > 0)
			.selectMany(memo => memo.sourceItemTargets)
			.filter(sit => sit.id === someId)
			.selectMany(sit => sit.letterContentControls);
	},
			 * */
			markExplanationChanged: function (clause, isNative) {
				if (isNative) {
					if (!clause.isNativeExplanationChanged) {
						clause.isNativeExplanationChanged = true;
					}
				}
				else {
					if (!clause.isExplanationChanged) {
						clause.isExplanationChanged = true;
					}
				}
			},
			controlsForClause: function (memo, clauseId) {
				return memo.sourceItemTargets
					.filter(sit => sit.id === clauseId && isNotNull(sit.letterContentControls) && sit.letterContentControls.length > 0)
					.selectMany(sit => sit.letterContentControls)
					.filter(control => isNotNull(control));
			},
			saveClausesExplanations: function () {
				let self = this;
				let jurClauses = this.jurisdictionClauses(this.letterPreviewJurisdiction);
				let checkIfWarningNeeded = (jurClauses.filter(x => x.isNativeDataExists && (x.isNativeExplanationChanged !== x.isExplanationChanged)));
				if (checkIfWarningNeeded.length > 0) {
					bootbox.confirm("<b>Warning!!!!</b> Please make sure that you have modified <b>both</b> English and Native Explanations (Clauses with <i class='fas fa-exclamation-triangle' style='color:orangered'></i>). Click <b>OK</b> to continue saving?", function (result) {
						if (result) {
							self.saveClauses();
						}
					});
				}
				else {
					self.saveClauses();
				}
			},
			saveClauses: function (clauses) {
				let modifiedClauses = this.jurisdictionClauses(this.letterPreviewJurisdiction).filter(x => x.isNativeExplanationChanged || x.isExplanationChanged);
				
				api.saveClauseExplanations(this.projectId,JSON.stringify(modifiedClauses))
				.then(response => {
					if (response.data === "OK") {
						bootbox.alert("Saved Successfully");
						//need to get model back or remove dirty flag
						modifiedClauses.forEach(function (clause) {
							clause.isNativeExplanationChanged = false;
							clause.isExplanationChanged = false;
						})
					}
					else {
						bootbox.alert("Error Occured.")
					}
				});
			},
			setClauses: function (clauses) {
				this.setClauseReportCounts(getClauseCounts(clauses, this.letterPreviewJurisdiction));
				this.setEvoClauseReports(clauses);
			},
			showJurisdictionsTemplates(val) {
				this.showTemplateSelection = val;
			},
			...evoActions({
				setEvoClauseReports: 'setClauseReport',
				setClauseReportCounts: 'setClauseReportCounts'
			}),
			...mapActions([
			])
		},
		watch: {
			letterPreviewJurisdiction: function (newJur, oldJur) {
				this.setClauseReportCounts(getClauseReportCounts(this.clauseReports, newJur));
				this.setEvoClauseReports(this.jurisdictionClauses(newJur));
			}
		},
	}
</script>
<style scoped>
	.documentHeading {
		font-weight: bold;
		font-size: 20px;
	}

	.htmlEditor {
		background-color: white;
	}
	.plainTextControl {
		width: 100%;
	}
	.controlComponent {
		border: 2px blue solid;
		border-radius: 8px;
	}

	.control-description {
		color: black;
		font-weight: bold;
	}

	.padding-left {
		padding-left:15px;
	}
</style>