﻿<template>
	<div>
		<div class="row">
			<div class="col-sm-12" >
				Select a Bundle:
			</div><!---->
		</div>
		<div class="row padding-bottom">
			<div class="col-sm-8" style="padding-right: 0;">
				<Lookup id="BundlePickerId"
						name="BundlePickerId"
						:lookuptextfield="bundleName"
						@updateLookupTextField="updateBundleName"
						lookupajax="Bundles"
						v-model="bundleId"></Lookup>
				<SelectStandard id="BundlePickerId" name="BundlePicker" :options="fakeBundles" v-model.number="bundleId"></SelectStandard>
			</div>
			<div class="col-sm-4" style="padding-left: 0;">
				<button class="btn btn-primary" @click="loadBundle">Load Letter</button>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');

	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import Lookup from '@/components/utility/Lookup.vue';

	export default {
		components: {
			SelectStandard,
			Lookup
		},
		data() {
			return {
				bundleName: '',
				fakeBundles: [
					{ text: 'MO-22-IGT-07-06', value: '0' },
					{ text: 'MO-22-IGT-07-07', value: '1' },
					{ text: 'MO-22-IGT-07-08', value: '2' },
				],
				bundleId: 0
			}
		},
		computed: {

		},
		methods: {
			loadBundle: function () {
				//Check for unlocked instances
				//if one unlocked, popup and a special display
				//otherwise, set some variable to true
				this.setBundleLoaded(true);
				//this.$emit('updateBundleData', this.bundleName);

			},
			...mapActions([
				'setBundleLoaded',
				'setSelectedBundle',

			]),
			updateBundleName: function (val) {
				this.bundleName = val;
			}
		}
	}
</script>
<style scoped>
	.padding-bottom {
		padding-bottom: .5em;
	}
</style>
