﻿<template>
	<div class="row">
		<template v-if="bundleLoaded">
			<div class="jurisdiction-picker-container col-xs-12">
				<div v-if="secondaryLetterLanguage != ''">
					<span class="col-sm-12 text-center pull-left"
						  v-if="this.secondaryLanguageJurisdictions.includes(this.letterPreviewJurisdiction)">
						<small>
							<label style="padding-right: 10px"> {{ secondaryLetterLanguage }} </label><input type="radio"
																							   name="languagePicker"
																							   v-model="secondaryLanguageSelected"
																							   :value="true" />&nbsp;&nbsp;<label style="padding-right: 10px"> English </label><input type="radio"
																																													  name="languagePicker"
																																													  v-model="secondaryLanguageSelected"
																																													  :value="false" />
						</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span>
				</div>
				<div>
					<label>Select a Jurisdiction:</label>
				</div>
				<div class="jurisdiction-picker-container__item">
					<SelectStandard :options="letterPreviewJurisdictions"
									v-model.number="displayJurisdiction"
									style="width:100%"
									data-allow-clear="false"></SelectStandard>
				</div>
				<div class="jurisdiction-picker-container__item">
					<base-button is-primary
								 @click="previewPDF"
								 :disabled="!evolutionInstanceIsSecure "
								 :title="generatePDFButtonTitle">
						Generate
					</base-button>
				</div>
				<div class="jurisdiction-picker-container__item"
					 v-if="!permissionSet.departmentLockEngaged && !permissionSet.lockEvoMissing">
					<base-button v-if="this.currentMode == 0" is-primary
								 :disabled="!evolutionInstanceIsSecure || !allQuestionsAnswered || failedSpecializedJurisdictionClauseReports.length > 0 || dirtyPaytablesExist"
								 @click="finalize">
						Finalize Answers
					</base-button>
					<i class="fas fa-info-circle" v-if="failedSpecializedJurisdictionClauseReports.length > 0" title="Can not Finalize. Click to view failed clauses." style="cursor:pointer" @click="showFailedClauses"></i>
					<base-button v-if="this.currentMode == 1" is-primary
								 @click="finalize">
						Finalize
					</base-button>
				</div>
			</div>
			<div class="col-xs-12 jurisdiction-picker-container__warning">
				<div v-if="!allQuestionsAnswered">
					All required questions <small>(red text)</small> must be answered before generation or finalization.
				</div>
				<div v-if="dirtyPaytablesExist">
					You have un-saved changes on the math tab, please save your changes before finalization can occur.
				</div>
			</div>
		</template>
		<form id="GenerateLetterForm"
			  ref="GenerateLetterForm"
			  method="post">
			<input type="hidden"
				   name="document"
				   v-model="document" />
		</form>
		<form ref="GenerateAllForm"
			  method="post">
			<input type="hidden"
				   name="documents"
				   v-model="documents" />
		</form>
		<form ref="SaveAllHTML"
			  method="post">
			<input type="hidden"
				   name="documents"
				   v-model="documents" />
			<input type="hidden"
				   name="projectId"
				   v-model="projectId" />
		</form>
		<PDFLists :show-pdf-list-modal="showPdfListModal"
				  :docs="preparedDocuments"
				  @setShowPdfLists="setShowPdfLists"
				  @openFile="openFile"></PDFLists>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from "vuex";
	const { mapGetters, mapActions } = createNamespacedHelpers("generateLetter");
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers("letterGenSources");
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers("letter");


	import SelectStandard from "@/components/utility/SelectStandard.vue";
	import Lookup from "@/components/utility/Lookup.vue";
	import PDFLists from "@/components/documents/generate/Config/JurisdictionPDFList.vue";

	// API
	import api from "@/api/documents/generate";

	export default {
		components: {
			SelectStandard,
			Lookup,
			PDFLists
		},
		props: {

		},
		data() {
			return {
				document: {},
				documents: [],
				preparedDocuments: [],
				jurisdictionDisplayName: "",
				showPdfListModal: false,
			};
		},
		computed: {
			previewJurDetail: function () {
				return this.jurisdictionLetterDetails(this.letterPreviewJurisdiction);
			},
			failedSpecializedJurisdictionClauseReports: function () {
				var clauses = this.specializedJurisdictionClauseReportsForAllJur.find(x => x.jurisdictionID == this.letterPreviewJurisdiction)
				return (clauses != null) ? clauses.evaluatedClauses.filter(x => x.result.toLowerCase() == "fail") : [];
			},
			...mapGetters([
				"letterPreviewJurisdiction",
				"letterPreviewJurisdictions",
				"bundleLoaded",
				"evolutionInstanceIsSecure",
				"generatingPDF",
				"savingHTML",
				"user",
				"secondaryLanguageJurisdictions",
				"secondaryLetterLanguage",
				"isSecondaryLanguageLetter",
				"secondaryLanguageJurisdictions",
				"permissionSet",
				"currentMode"
			]),
			...letterGetters([
				"jurisdictionIds",
				"controls",
				"bundleId",
				"memos",
				"memosForJurisdiction",
				"projectId",
				"projectHolder"

			]),
			...sourceGetters([
				"components",
				"jurisdictionLetterDetails",
				"specializedJurisdictionClauseReports",
				"specializedJurisdictionClauseReportsForAllJur",
				"paytables"
			]),
			allQuestionsAnswered: function () {
				let self = this;
				let requiredNotAnswered = [];
				let requiredQuestions = this.controls.filter(x => x.isRequired);
				requiredQuestions.forEach(function (question) {
					let notAnswered = false;
					if (question.type == "Lookup") {
						let selVal = (question.content != null) ? (question.content).id : ""
						if (Em((selVal))) {
							notAnswered = true;
						}
					}
					else {
						if (Em(question.content)) {
							notAnswered = true;
						}
					}
					//only when Parent is evaluated
					if (question.parentId !== 0 && notAnswered) {
						if (!self.evalParent(question)) {
							notAnswered = false;
						}
					}
					if (notAnswered) {
						requiredNotAnswered.push(question);
					}
				})
				return (requiredNotAnswered.length > 0) ? false : true;
			},
			displayJurisdiction: {
				get: function () {
					return this.letterPreviewJurisdiction;
				},
				set: function (sel) {
					this.setLetterSelectedJurisdiction(sel);
					const jurMemos = this.memosForJurisdiction(this.memos, sel);
					this.setSecondaryLetterLanguage(jurMemos); //language
					if (!this.secondaryLanguageJurisdictions.includes(sel)) {
						this.setIsSecondaryLanguage(false);
					}
				}
			},
			generatePDFButtonTitle: function () {
				let text = "";
				if (!this.evolutionInstanceIsSecure) {
					text = "One or more of the component-groups of this Evolution Instance are not Double-Locked.";
				}

				return text;
			},
			secondaryLanguageSelected: {
				get: function () {
					return this.isSecondaryLanguageLetter;
				},
				set: function (sel) {
					this.setIsSecondaryLanguage(sel);
				}
			},
			questions: function () {
				// Ripped from Questions.vue, line 77
				// TODO: Move into shared Vuex getter
				let questions = [];
				let self = this;
				if (isNotNull(this.controls) && this.controls.length > 0) {
					this.controls.forEach(control => {
						if (!questions.find(q => q.id === control.id)) { // only unique questions
							let memoHolder = self.memos.find(m => m.localId === control.memoLocalId);
							if (memoHolder === undefined && self.currentMemoSet != 'PDF Preview') {
								memoHolder = self.filteredMemosByJur[self.letterPreviewJurisdiction][self.currentMemoSet].find(m => m.localId === control.memoLocalId);
								//memoHolder = self.filteredMemos[self.currentMemoSet].find(m => m.localId === control.memoLocalId);
							}
							let memoName = memoHolder === undefined ? '' : memoHolder.name;
							if ((control.sourceId === null || control.sourceId === "") && (memoName != "Coverpage" && memoName != "Custom")) {// not source and not coverpage questions
								questions.push(control);
							}
						}
					});
					return questions;
				} else {
					return [];
				}
			},
			dirtyPaytablesExist: function () {
				return this.paytables.some(x => x.maxBetIsDirty() || x.minSupplierReturnIsDirty() || x.maxSupplierReturnIsDirty() || x.minInGameReturnIsDirty() || x.maxInGameReturnIsDirty());
			}
		},
		mounted: function () {
		},
		methods: {
			evalParent: function (control) {
				let controls = this.controls.filter(x => x.id == control.parentId);
				let parentControl = controls.find(c => c.id === control.parentId && c.isSplitFromDefault == false);
				if (control.isSplitFromDefault) {
					parentControl = controls.find(c => c.id === control.parentId && (c.applicableJurisdictions.find(x => control.applicableJurisdictions.includes(x))));
				}
				let result = parentControl.content;
				let evalExp = true;
				try {
					evalExp = eval(control.conditionalExpression);
				}
				catch (err) {
					console.groupCollapsed('We should probably tell the user this conditionalExpression failed.');
					console.log(err);
					console.log(control);
					console.groupEnd();
				}
				return (evalExp) ? true : false;
			},
			setShowPdfLists: function (val, doSave) {
				const self = this;
				if (doSave) {
					Loading();
					setTimeout(function () {
						self.saveAllHTMLAndFinalize();
					}, 1000);
				}
				this.showPdfListModal = val;
			},
			getLetterHTML: function () {
				const pdfDiv = document.getElementById("printedLetterDiv");
				const cloned = document.documentElement.cloneNode(true);
				const clonedBody = cloned.getElementsByTagName("body")[0];
				clonedBody.innerHTML = "";
				clonedBody.appendChild(pdfDiv.cloneNode(true));
				return cloned.outerHTML;
			},
			finalize: function () {
				const self = this;
				bootbox.confirm("<Strong>Confirm!!!</strong> This will save all file(s) to GPS. <br>Do you want to continue?", function (result) {
					if (result) {
						self.finalizePdfs();
					}
				});
			},
			finalizePdfs: async function () {
				const self = this;
				Loading();
				self.setSavingHTML(true);
				self.preparedDocuments = [];
				setTimeout(function () {
					self.iterateJurisdictionsToFinalize(0, false);
					DoneLoading();
					self.setShowPdfLists(true, false);
				});
			},
			iterateJurisdictionsToFinalize: function (index, isSecondaryLanguage) {
				const self = this;
				if (self.jurisdictionIds.length <= index) {
					if (!isSecondaryLanguage) {

						if (self.jurisdictionIds.filter(x => self.secondaryLanguageJurisdictions.includes(x)).length > 0) {
							self.$nextTick().then(() => {
								self.iterateJurisdictionsToFinalize(0, true);
							});
						}
						return;
					} else {
						return;
					}
				}
				let doSave = false;
				if (isSecondaryLanguage) {
					if (!self.secondaryLanguageSelected) {
						self.secondaryLanguageSelected = true;
					}
					if (self.secondaryLanguageJurisdictions.includes(self.jurisdictionIds[index])) {
						doSave = true;
					} else {
						doSave = false;
					}
				} else {
					if (self.secondaryLanguageSelected) {
						self.secondaryLanguageSelected = false;
					}
					doSave = true;
				}

				if (doSave) {
					self.$nextTick().then(() => {
						if (self.displayJurisdiction !== self.jurisdictionIds[index]) {
							self.displayJurisdiction = self.jurisdictionIds[index];
						}

						self.$nextTick().then(() => {
							let html = self.getLetterHTML();
							self.$nextTick().then(() => {
								self.preparedDocuments.push({ html: html, jurisdictionId: self.displayJurisdiction, jurisdiction: self.letterPreviewJurisdictions[index].text, language: (isSecondaryLanguage) ? self.secondaryLetterLanguage : "" });
								self.iterateJurisdictionsToFinalize(index + 1, isSecondaryLanguage);

							});
						});
					});
				}
				else {
					self.$nextTick().then(() => {
						self.iterateJurisdictionsToFinalize(index + 1, isSecondaryLanguage);
					})
				}
			},
			saveAllHTMLAndFinalize: function () {
				Loading();
				const data = { projectId: this.projectId, documents: JSON.stringify(this.preparedDocuments), mode: this.currentMode };
				$.ajax({
					url: jsPath + "documents/generate/FinalizeAnswers",
					type: "POST",
					data: data,
					async: false,
					cache: false,
					success: function (response) {
						if (response.Result == "OK") {
							bootbox.alert("Files(s) were queued for GPS successfully");
						} else {
							bootbox.alert("Error!! Files(s) were not saved.");
						}
					},
					complete: function () {
						DoneLoading();
					}
				});

				//Workaround so after getting all htmls for all juris, it does not blank out drop down
				this.displayJurisdiction = this.jurisdictionIds[0];

			},
			saveAllHTML: function () {
				this.$nextTick(() => {
					this.projectId = this.bundleId;
					this.documents = JSON.stringify(this.preparedDocuments);
					this.$nextTick(() => {
						const form = this.$refs.SaveAllHTML;
						form.action = jsPath + "documents/generate/SaveAllHTML";
						form.submit();
					});
				});
			},
			showFailedClauses: function () {
				let msg = "Following clauses are marked as <b>fail</b>, Please check in jira and confirm. Bundle can not be finalized.<br><br>"
				msg += "<table><thead><tr><th width=70>Normalized Id</th><th width=80>Section</th><th width=100>ErrorMsg</th></tr></thead><tbody>"
				this.failedSpecializedJurisdictionClauseReports.forEach(clause => {
					msg += "<Tr><td>" + clause.normalizedID + "</td><td>" + clause.name + "</td><td><small>" + clause.errorText + "</small></td></tr>"
				});
				msg += "</tbody></Table>"
				bootbox.alert(msg)
			},
			generateAllPDF: function () {
				this.$nextTick(() => {
					this.documents = JSON.stringify(this.preparedDocuments);
					this.$nextTick(() => {
						const form = this.$refs.GenerateAllForm;
						form.action = jsPath + "documents/generate/GenerateAllPDFs";
						form.submit();
					});
				});

			},
			openFile: function (letterHtml, jurisdictionId) {
				const letterObj = {
					html: letterHtml,
					jurisdictionId: jurisdictionId
				};
				this.document = JSON.stringify(letterObj);
				this.$nextTick(() => {
					const form = this.$refs.GenerateLetterForm;
					form.action = jsPath + "documents/generate/generatepdfpost";
					form.submit();
				});
			},
			generatePDF: function () {
				this.$nextTick(() => {
					const letterHtml = this.getLetterHTML();
					const letterObj = {
						html: letterHtml,
						jurisdictionId: this.letterPreviewJurisdiction
					};
					this.document = JSON.stringify(letterObj);
					this.$nextTick(() => {
						const form = this.$refs.GenerateLetterForm;
						form.action = jsPath + "documents/generate/generatepdfpost";
						form.submit();
					});
				});

			},
			previewPDF: function () {
				this.setGeneratingPDF(true);
				this.generatePDF();
				this.$nextTick(() => {
					this.setGeneratingPDF(false);
				});
			},
			saveAllHTMLs: function () {
				this.setSavingHTML(true);
				this.preparedDocuments = [];
				this.iterateJurisdictions(0, false);
			},
			generateAllPDFs: function () {
				this.setGeneratingPDF(true);
				this.preparedDocuments = [];
				this.iterateJurisdictions(0, false);
			},
			iterateJurisdictions: function (index, isSecondaryLanguage) {
				if (this.jurisdictionIds.length <= index) {
					return;
				}
				let doSave = false;
				if (isSecondaryLanguage) {
					if (this.secondaryLanguageJurisdictions.includes(this.jurisdictionIds[index])) {
						this.setIsSecondaryLanguage(true);
						doSave = true;
					} else {
						doSave = false;
					}
				} else {
					this.setIsSecondaryLanguage(false);
					doSave = true;
				}
				this.setLetterSelectedJurisdiction(this.jurisdictionIds[index]);
				if (doSave) {
					this.$nextTick().then(() => {
						this.preparedDocuments.push({ html: this.getLetterHTML(), jurisdictionId: this.jurisdictionIds[index], Language: isSecondaryLanguage });
						this.iterateJurisdictions(index + 1, isSecondaryLanguage);
					});
				}
			},
			updateDisplayJurisdiction: function (val) {
				this.setLetterSelectedJurisdiction(val);
			},
			updateJurisdictionName: function (val) {
				this.jurisdictionDisplayName = val;

			},
			...mapActions([
					"setLetterSelectedJurisdiction",
					"setGeneratingPDF",
					"setSavingHTML",
					"setSecondaryLetterLanguage",
					"setIsSecondaryLanguage"
				]),
			...sourceActions([
			]),
			jurisdictionChanged: function () {
				this.$emit('jurisdictionSelectionChanged');
			}
		},
		watch: {
			displayJurisdiction: function (newVal, oldVal) {
				if (newVal !== oldVal) {
					this.$emit('jurisdictionSelectionChanged');
				}
			},
			isSecondaryLanguageLetter: function (newVal, oldVal) {
				let self = this;
				if (newVal !== oldVal) {
					self.$emit('jurisdictionSelectionChanged');
				}
			},
		},
		created: function () {

		}
	};
</script>
<style scoped lang="scss">
	@use '@/components/theme/Colors';
	@use '@/components/theme/Spacing';

	.jurisdiction-picker-container {
		align-items: flex-end;
		display: flex;
		justify-content: flex-end;
	}

	.jurisdiction-picker-container__item {
		padding: 0 2px;
	}

	.jurisdiction-picker-container__warning {
		color: Colors.$secondary;
		height: 1em;
		margin-top: Spacing.$half;
		text-align: right;
	}
</style>
