﻿<template>
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-11">
			<div v-bind:class="['jurisdiction-filter-container']">
				<div v-bind:class="['jurisdiction-filter-container__item']">
					<label>Workspace Jurisdiction(s) Filter: </label>
				</div>
				<div>
					<SelectStandardMultiple id="JurisdictionsFilter"
											name="JurisdictionsFilter"
											v-model="workspaceJurs"
											:options="letterPreviewJurisdictions"
											v-bind:class="['jurisdiction-filter-container__item']"></SelectStandardMultiple>
				</div>
			</div>
		</div>

	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');

	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue';

	export default {
		components: {
			SelectStandardMultiple
		},
		props: [],
		directives: {
		},
		data() {
			return {

			}
		},
		computed: {
			...mapGetters([
				'letterPreviewJurisdictions',
				'workspaceJurisdictions'
			]),
			workspaceJurs: {
				get: function () {
					return this.workspaceJurisdictions;
				},
				set: function (sel) {
					let ret = [];
					if (isNotNull(sel) && sel.length > 0) {
						ret = sel.map(jur => parseInt(jur));
					}
					this.setWorkspaceJurisdictions(ret);
				}
			}
		},
		mounted: function () {
		},
		methods: {
			...mapActions([
				'setWorkspaceJurisdictions'
			])
		}
	}
</script>
<style scoped>
	.jurisdiction-filter-container {
		margin-top: 10px;
		margin-right: 20px;
		padding-right: 15px;
	}
</style>
