﻿<template>
	<div class="modal" ref="PDFLists" aria-hidden="true">
		<div class="modal-dialog modal-xlg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						<font color="navy"><strong>PDF(s)</strong></font>
						<span class="pull-right">
							<button type="button" class="btn btn-primary" @click="finalizeAll"><i class="fas fa-save"></i>&nbsp;Save</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
						</span>
					</h4>
				</div>
				<div class="modal-body">
					<div>
						<br />
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-condensed table-hover">
									<thead>
										<tr>
											<th>Jurisdiction</th>
											<th>Pdfs</th>
											
										</tr>
									</thead>
									<tbody>
										<template v-for="(doc, index) in docs">
											<tr>
												<td>{{doc.jurisdiction}}</td>
												<td><span style="cursor:pointer" @click="openFile(doc.html, doc.jurisdictionId)"> <i class="far fa-file-pdf fa-fw"></i></span> <span v-if="doc.language != null && doc.language != ''">(<i>{{doc.language}}</i>)</span></td>
											</tr>
										</template>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>
</template>

<script>
	
	export default {
		props: {
			docs: {
				type: Array
			},
			showPdfListModal: {
				type: Boolean
			},
		},
		computed: {
			
		
		},
		data: function () {
			return {
				
			}
		},
		components: {
			
		},
		methods: {
			finalizeAll: function () {
				Loading();
				this.$emit('setShowPdfLists', false, true);
			},
			openFile: function (html, jurisdictionId) {
				this.$emit('openFile', html, jurisdictionId );
			},
		},
		mounted: function () {
			const refThis = this;
			$(this.$refs.PDFLists).on('hidden.bs.modal', function (e) {
				refThis.$emit('setShowPdfLists', false);
			});

		},
		watch:  {
			showPdfListModal: function (val, oldVal) {
				if (val) {
					$(this.$refs.PDFLists).modal('show');
				}
				else
				{
					this.$emit('setShowPdfLists', false);
					$(this.$refs.PDFLists).modal('hide');
				}
			},
		}
	}
</script>