﻿<template>
	<affix class="collapse-toggle bring-to-front" :relative-element-selector="'#' + anchorId" :offset="{ top: 0, bottom: 100 }">
		<button class="collapse-letter-toggle bring-to-front" @click="collapseLetterToggle">
			<i :class="['collapse-caret', 'fas', collapsed ? 'fa-caret-left' : 'fa-caret-right']"></i>
			<span class="collapse-letter-toggle">OUTPUT</span>
		</button>
	</affix>
</template>
<script>
	//https://github.com/eddiemf/vue-affix
	import { Affix } from 'vue-affix';

	export default {
		components: {
			Affix

		},
		props: ['collapsed', 'anchorId'],
		directives: {

		},
		data() {
			return {
			}
		},
		computed: {

		},
		mounted: function () {

		},
		methods: {
			collapseLetterToggle: function () {
				this.$emit('toggle');
			},
		},
		created: function () {

		}
	}
</script>
<style scoped>
	.collapse-toggle {
		width: 29px;
		max-width: 29px;
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		
	}
	button.collapse-letter-toggle {
		height: 75vh;
	}

	span.collapse-letter-toggle {
		writing-mode: vertical-rl;
		font-weight: bold;
	}

	.collapse-caret {
		font-size: 1.5em;
	}
</style>
