﻿<template>
	<div>
		<template v-if="!templatesLoading && !applyingTemplate">
			<div class="row">
				<div class="col-sm-12">
					Select a Template:
				</div>
			</div>
			<div class="row padding-bottom">
				<div class="col-sm-8" style="padding-right: 0;">
					<SelectStandard :disable="!propsReady" :options="filteredTemplates" v-model.number="templateId"></SelectStandard>
				</div>
				<div class="col-sm-1" style="padding-left: 0;">
					<button :disabled="disabledApply" class="btn btn-primary" @click="applyTemplate">Apply</button>
				</div>
				<div class="col-sm-2" style="padding-left: 10px;">
					<table>
						<tr>
							<td align="right">
								<input id="overwrite-checkbox" v-model="overwrite" class="input-sm" type="checkbox" />
							</td>
							<td>
								<label for="overwrite-checkbox">Overwrite existing?</label>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</template>
		<template v-else>
			<i class="fas fa-spinner fa-pulse fa-2x"></i>
		</template>
		<form ref="TemplatePicker" method="post">
			<input type="hidden" name="templatePicker" v-model="templatePicker" />
		</form>
	</div>
</template>
<script>
	import api from '../../../../api/index';
	const baseUrl = 'documents/generate/';

	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import { isNotNull } from '@/common';
	import { isNull } from '@/common';

	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	export default {
		components: {
			SelectStandard,

		},
		props: ['MFG', 'JurisdictionIds'],
		directives: {

		},
		data() {
			return {
				selectableTemplates: [],
				templatesLoading: false,
				applyingTemplate: false,
				templateId: -1,
				templatePicker: {},
				fullTemplate: [],
				overwrite: false
			}
		},
		computed: {
			filteredTemplates: function () {
				if (this.letterPreviewJurisdiction === 0)
					return this.selectableTemplates;
				else return this.selectableTemplates.filter(template => template.jurisdictionId === this.letterPreviewJurisdiction);
			},
			propsReady: function () {
				return isNotNull(this.MFG) && isNotNull(this.JurisdictionIds) && this.MFG.length > 0 && this.JurisdictionIds.length > 0;
			},
			disabledApply: function () {
				return this.templateId === -1 || isNull(this.templateId);
			},
			templateJurisdictionId: function () {
				if (this.templateId === -1) return -1;
				let selectedTemplate = this.selectableTemplates.find(template => template.value == this.templateId);
				let selectedTemplateJurid = selectedTemplate.jurisdictionId;
				return selectedTemplateJurid;
			},
			...mapGetters([
				'letterPreviewJurisdiction',
			]),
			...sourceGetters([
				'jurisdictionClauses'
			]),
		},
		watch: {
			MFG: function () {
				if (this.propsReady) {
					this.loadApplicableTemplates();
				}
			},
			JurisdictionIds: function () {
				if (this.propsReady) {
					this.loadApplicableTemplates();
				}
			},
		},
		mounted: function () {
			if (this.propsReady) {
				this.loadApplicableTemplates();
			}
		},
		methods: {
			applyTemplate: function () {
				this.applyingTemplate = true;
				this.$nextTick(function () {
					this.getFullTemplate().
						then(response => {
							this.applyTemplateExplanations()
								.then(response => {
								})
								.catch(e => {
								})
								.finally(x => {
									this.applyingTemplate = false;
								});
						})
						.catch(e => {

						})
						.finally(x => {

						});
				});
			},
			loadApplicableTemplates: function () {
				this.templatesLoading = true;
				this.$nextTick(function () {
					this.loadTemplatesFromServer()
						.then(response => this.templatesLoading = false);
				});
			},
			applyTemplateExplanations: function () {
				return new Promise((resolve, reject) => {
					let relevantClauses = this.jurisdictionClauses(this.templateJurisdictionId);
					
					relevantClauses.forEach(clause => {
						let clauseId = clause.clauseID;

						let relevantTemplate = this.fullTemplate.find(temp => temp.clauseId === clauseId);
						if (isNotNull(relevantTemplate)) {
							this.applyExplanation(clause, relevantTemplate);
						}
					});
					resolve(0);
				});

			},
			applyExplanation: function (clause, template) {
				//let explanationControls = clause.map(clause => clause.letterContentControls).filter(control => control.name === "explanation");
				if (isNotNull(clause.explanation) && clause.explanation.length > 0 && !this.overwrite)
					return;
				let explanation = "";
				switch (clause.answer) {
					case "PASS":
						explanation = template.passExplanation;
						break;
					case "FAIL":
						explanation = template.failExplanation;
						break;
					case "NA":
						explanation = template.naExplanation;
						break;
					case "NA*":
						explanation = template.naStarExplanation;
						break;
				}
				clause.explanation = explanation;
				//explanationControls.forEach(control => {
				//	control.content = explanation;
				//})
			},

			getFullTemplate: function () {
				return new Promise((resolve, reject) => {
					api.get(baseUrl + 'GetTemplate', {//int jurisdictionId, string manufacturerId
						params: {
							templateId: this.templateId
						}
					})
						.then(response => {
							const result = response.data;
							this.fullTemplate = result.explanations;
							resolve(0);
						})
						.catch(e => {
							reject(e);
						})
						.finally(x => {

						});
				});
			},
			loadTemplatesFromServer: function () {
				return new Promise((resolve, reject) => {
					api.get(baseUrl + 'LoadApplicableTemplates', {//int jurisdictionId, string manufacturerId
						params: {
							jurisdictionIds: JSON.stringify(this.JurisdictionIds),
							manufacturerId: this.MFG
						}
					})
						.then(response => {
							const result = response.data;
							this.selectableTemplates = result;
							resolve(0);
						})
						.catch(e => {
							reject(e);
						})
						.finally(x => {

						});
				});
			},
		},

		created: function () {

		}
	}
</script>
<style scoped>
	.picker {
		width: 100%;
	}

	.padding-bottom {
		padding-bottom: 0; /*.5em;*/
	}

	.no-padding {
		padding: 0 0 0 0;
	}

	.bring-to-front {
		z-index: 1;
	}

	.flex-navigation {
		display: flex;
		align-items: stretch;
	}

	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}
</style>
