﻿@model Submissions.Web.Areas.Tools.Models.RegulatorDocumentViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Regulator Document";
}

@{
	if (TempData["RegulatorDocumentViewModel"] != null)
	{
		var id = TempData["RegulatorDocumentViewModel"];
	}
}

@using (Html.BeginForm("Edit", "RegulatorDocument", FormMethod.Post, new { id = "EditForm", enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	<div class="row row-title">
		<div class="col-sm-6">
			<h3 class="form-h3">@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if (Util.HasAccess(Permission.RegDoc, AccessRight.Edit))
			{
				<input type="button" data-bind="click: saveData" value="Save" class="btn btn-primary btn-sm" />
			}
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.Id)
		@Html.HiddenFor(model => model.Mode)
		@Html.Hidden("CertData")

		<div class="form-horizontal" role="form">
			<hr class="form-hr" />
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group form-group-sm">
						@Html.LabelFor(model => model.Jurisdiction, new { @class = "control-label col-sm-2" })
						<div class="col-sm-5">
							@{
								if (Util.HasAccess(Permission.RegDoc, AccessRight.Edit))
								{

									@Html.DropDownListFor(model => model.Jurisdiction, new List<SelectListItem>
																			{
																				new SelectListItem { Text = "", Value = "" },
																				new SelectListItem { Text = "Arkansas - 214", Value = "214" },
																				new SelectListItem { Text = "No Carolina - 42", Value = "42" },
																				new SelectListItem { Text = "Oregon Lottery - 14", Value = "14" },
																				new SelectListItem { Text = "No Carolina Raffle - 145", Value = "145" },
																				new SelectListItem { Text = "North Carolina - Gaming Machines - 414", Value = "414" },
																				new SelectListItem { Text = "Gauteng - 100", Value = "100" },
																				new SelectListItem { Text = "Mpumalanga - 101", Value = "101" },
																				new SelectListItem { Text = "Ohio Lottery - 129", Value = "129" },
																				new SelectListItem { Text = "Western Cape - 102", Value = "102" },
																				new SelectListItem { Text = "Eastern Cape - 103", Value = "103" },
																				new SelectListItem { Text = "Northern Cape - 104", Value = "104" },
																				new SelectListItem { Text = "Free State - 105", Value = "105" },
																				new SelectListItem { Text = "North West Prov - 106", Value = "106" },
																				new SelectListItem { Text = "KwaZulu-Natal - 108", Value = "108" },
																				new SelectListItem { Text = "Limpopo - 315", Value = "315" },
																				new SelectListItem { Text = "South Africa - 49", Value = "49" },
                                                                                new SelectListItem { Text = "South Africa National (Bingo) - 552", Value = "552" },
                                                                                new SelectListItem { Text = "South Africa National (LPM) - 553", Value = "553" }
																			})
								}
								else
								{
									@Html.DisplayFor(model => model.Jurisdiction, new { @class = "form-control" })
								}
							}
							@Html.ValidationMessageFor(model => model.Jurisdiction)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(model => model.Date, new { @class = "control-label col-sm-2" })
						<div class="col-sm-2">
							@{
								if (Util.HasAccess(Permission.RegDoc, AccessRight.Edit))
								{
									@Html.TextBoxFor(model => model.Date, String.Format("{0:MM/dd/yyyy}", Model.Date), new { @class = "form-control datepicker" })
								}
								else
								{ 
									@Html.DisplayFor(model => model.Date, new { @class = "form-control" })
								}
							}

							@Html.ValidationMessageFor(model => model.Date)
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(model => model.PreCertFile, new { @class = "control-label col-sm-2" })
						<div class="col-sm-5">
							@{
								if (Util.HasAccess(Permission.RegDoc, AccessRight.Edit))
								{
									@Html.TextBox("PreCertFile", null, new { type = "file", @class = "input-file" })
								}
								else
								{

									@Html.DisplayFor(model => model.PreCertFile, new { @class = "form-control" })
								}
							}
							@Html.ValidationMessageFor(model => model.PreCertFile)
						</div>
					</div>

					<div class="form-group form-group-sm">
						@Html.LabelFor(model => model.Path, new { @class = "control-label col-sm-2" })
						<div class="col-sm-5">
							@{
								if (Util.HasAccess(Permission.RegDoc, AccessRight.Edit))
								{
									@Html.TextBoxFor(model => model.Path, new { @class = "form-control", @readonly = "readonly", @autofocus = "autofocus" })
								}
								else
								{
									@Html.DisplayFor(model => model.Path, new { @class = "form-control" })
								}
							}
							@Html.ValidationMessageFor(model => model.Path)
						</div>
					</div>

					<div class="form-group form-group-sm">
						@Html.LabelFor(model => model.ManufacturerName, new { @class = "control-label col-sm-2" })
						<div class="col-sm-3">
							@{
								if (Util.HasAccess(Permission.RegDoc, AccessRight.Edit))
								{
									@Html.TextBoxFor(model => model.ManufacturerName, new { @class = "form-control" })
								}
								else
								{
									@Html.DisplayFor(model => model.ManufacturerName, new { @class = "form-control" })
								}
							}
							@Html.ValidationMessageFor(model => model.ManufacturerName)
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr />
		<h4>Certification/Job Number Info</h4>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group form-group-sm">
					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th>Certification Number</th>
								<th>Game Name</th>
								<th>Game Type</th>
								<th>Game Id</th>
								<th>Date Entered</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody data-bind="foreach: CertNumDataList">
							<tr>
								<td class="col-sm-2"><input data-bind="value: CertNumber" class="form-control" /></td>
								<td class="col-sm-2"><input data-bind="value: GameName" class="form-control" /></td>
								<td class="col-sm-2"><select data-bind="select: GameType, value: GameType, options: $root.GameTypeDropDown" data-lookupstandard="" class="form-control"></select></td>
								<td class="col-sm-2"><input data-bind="value: GameId" class="form-control" /></td>
								<td class="col-sm-2"><input data-bind="value: GLIEntryDate" class="form-control" /></td>
								@if (Model.Id != null)
								{
									if (Util.HasAccess(Permission.RegDoc, AccessRight.Edit))
									{
										<td class="col-sm-1"><a href="#" data-bind="click: $root.removeCertNumberItem" class="btn btn-primary">Remove</a></td>
									}
								}
								<!-- ko if: CertId -->
								<td class="col-sm-1"><a href="#" data-bind="click: $root.EditItem" class="btn btn-link">Edit</a></td>
								<!-- /ko -->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				@if (Model.Id != null)
				{
					if (Util.HasAccess(Permission.RegDoc, AccessRight.Edit))
					{
						<button data-bind="click: $root.addCertNumItem" class="btn btn-primary">Add Certification/Job Number Info</button>
					}
				}
			</div>
		</div>
	</div>

}
@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/knockout")
	<script>
		var data = @Html.Raw(Json.Encode(Model.CertNumDataList))

		function todaysDate() {
			var d = new Date();
			dformat = [d.getMonth() + 1, d.getDate(), d.getFullYear()].join('/');
			return (dformat);
		}

		// -- Client side definition of Cert Item
		function CertNumItem(certNum, gameName, manufName, gameType, gameId, gliEntryDate, certId) {
			var self = this;
			self.CertNumber = ko.observable(certNum);
			self.GameName = ko.observable(gameName);
			self.GameType = ko.observable(gameType);
			self.GameId = ko.observable(gameId);
			self.GLIEntryDate = ko.observable(gliEntryDate);
			self.CertId = ko.observable(certId);
		}

		var certNumModel = function (data) {
			var self = this;
			self.CertNumDataList = ko.observableArray(data)
			self.GameTypeDropDown = ko.observableArray(['', 'skill Game', 'raffle Game', 'gaming Machine', 'non Skill'])
			self.addCertNumItem = function () {
				self.CertNumDataList.push(new CertNumItem("", "", "", "", "", todaysDate())); //format to display date only
			}
			self.removeCertNumberItem = function (CertNumItem) { self.CertNumDataList.remove(CertNumItem) }
			self.EditItem = function (CertNumItem) {
				window.location = jsPath + "Tools/RegulatorCertificationNumber/Edit/" + CertNumItem.CertId + "?mode=Edit"
			}
			self.saveData = function () {
				$('#CertData').val(ko.toJSON(self.CertNumDataList));
				$('#EditForm').submit();
			}
		};

		var certNumViewModel = new certNumModel(data);

		$(function () {
			ko.applyBindings(certNumViewModel);
		});
	</script>
}