﻿@model  Submissions.Web.Areas.Tools.Models.RegulatorDocumentViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Regulator Document";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@{
			if (Util.HasAccess(Permission.RegDoc, AccessRight.Edit))
			{
				@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
			}
		}
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

@if (Util.HasAccess(Permission.RegDoc, AccessRight.Edit))
{
	@Html.Trirand().JQGrid(Model.DisplayDocumentIndexGridRW.Grid, "DisplayDocumentIndexGrid")

}
else
{
	@Html.Trirand().JQGrid(Model.DisplayDocumentIndexGrid.Grid, "DisplayDocumentIndexGrid")
}

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$(function () {

			//clear filters on refresh
			$('.ui-icon-refresh').click(function () {
				$('#gs_Jurisdiction').select2('data', { id: "", text: "" });

			});

			//reset Select2 on search toolbar X click
			$('.clearsearchclass').click(function () {
				if ($(this).closest('tr').find('select').attr('id') == 'gs_Jurisdiction') {
					$('#gs_Jurisdiction').select2('data', { id: "", text: "" });
				}
			});

		});

		function EditLink(cellValue, options, rowObject) {
			return '<a href="' + '@Url.Action("Edit", "RegulatorDocument")' + '/' + options.rowId + '"> Edit </a>';
		}

		function DeleteLink(cellValue, options, rowObject) {
			return '<a href="javascript:GoToDelete(' + options.rowId + ')"> Delete </a>';
		}

		function GoToDelete(Id) {
			if ((confirm("Are you sure you want to delete this Document? Please ensure that there are no Certification Records associated with this document before deleting."))) {
				window.location.href = "RegulatorDocument/Delete/" + Id;
			}
		}
	</script>
}



