﻿<template>
	<div>
		<input type="radio" :name="name" :id="optionId1" value="1" v-model="modelHolder">
		<label :for="optionId1">Any</label>
		<input type="radio" :name="name" :id="optionId2" value="2" v-model="modelHolder">
		<label :for="optionId2">All</label>
	</div>
</template>

<script>
	export default {
		props: ['modelValue', 'name'],
		data: function() {
			return {
				optionId1: this.name + 'option1',
				optionId2: this.name + 'option2',
				modelHolder: this.modelValue
			}
		},
		watch: {
			modelHolder: function () {
				this.$emit('updateFilterType', $('input[name='+this.name+']:checked').val());
			}
		}
	}
</script>
<style scoped>
</style>
