﻿<template>
	<div>
		<label class="control-label">{{label}}</label> &nbsp;
		<div>
			<input type="checkbox" autocomplete="off" v-model="modelHolder">{{displayVal}}
		</div>
	</div>
</template>

<script>
	export default {
		props: ['label', 'model'],
		data: function() {
			return {
				modelHolder: this.model,
				displayVal: 'No'
			}
		},
		watch: {
			modelHolder: function () {
				this.displayVal = this.modelHolder ? 'Yes' : 'No';
				this.$emit('updateFilterBool', this.modelHolder);
			}
		}
	}
</script>
<style scoped>
</style>
