﻿<template>
	<div>
		
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'

	//var activeTab = $('a[data-toggle="tab"]').parents('.active').length;
	//var tabClicked = false;

	//var convertActiveTabToNull = function () {
	//	activeTab = null;
	//}

	$(function () {

	});

	//import Instance from '@/components/evolution/ReviewInstance.vue'
	//import FunctionalRole from '@/components/evolution/FunctionalRole.vue'
	//import FilterNew from '@/components/evolution/Filter.vue'
	//import TestScriptCountInfo from '@/components/evolution/review/TestScriptCountInfo.vue'
	//import TestCases from '@/components/evolution/review/TestCases.vue'
	//import Questions from '@/components/evolution/review/Questions.vue'
	//import JurisdictionAndDocuments from '@/components/evolution/JurisdictionAndDocuments.vue'
	//import HelpSupport from '@/components/evolution/review/HelpSupport.vue'
	//import UserSettings from '@/components/evolution/UserViewSettings.vue'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			//Instance,
			//FunctionalRole,
			//FilterNew,
			//TestScriptCountInfo,
			//TestCases,
			//Questions,
			//JurisdictionAndDocuments,
			//HelpSupport,
			//UserSettings
		},
		computed: {
			...mapGetters([
				//'instance',
				//'filter',
				//'review',
				//'userSettings'
			])
		},
		data() {
			return {
				//editReview: false,
				//locked: false,
				//vm: initialData,
				//savingAnswers: false,
				//jurisdictionSelected: false,
				//userSettingsShow: false

			}
		},
		methods: {
			//instanceActions: function () {
			//	this.setShowInstanceInformationPopup(true);
			//},
			//helpSupport: function () {
			//	this.setShowHelpModalPopup(true);
			//},
			//settingSupport: function () {
			//	this.userSettingsShow = true;
			//	self = this;
			//	//Such a hack perhaps, instead of listening from child event that the modal displayed to switch it back. Just wait...
			//	setTimeout(function () {
			//		self.userSettingsShow = false;
			//	}, 100);
			//},
			//saveReview: function () {
			//	this.savingAnswers = true;
			//	this.editReview = false;
			//	var self = this;
			//	if (this.review.testScript.testScript.filter(tsObj => tsObj.modified).length <= 0) {
			//		alert("No answers were modified during this save. If you are finished with the review, please click on \"Complete Review\"");
			//		this.savingAnswers = false;
			//		return;
			//	} else {
			//		this.$http.post('Evolution/Review/SaveAnswers', {
			//			compGroupId: this.instance.selectedComponentGroupId,
			//			testScripts: this.review.testScript.testScript,
			//			userName: this.vm.userName,
			//			officeCode: this.vm.office
			//		}).then(response => {
			//			alert("Hello world... Saving " + response.data);
			//			self.savingAnswers = false;
			//			self.$refs.juriAndDocs.reviewFunc();
			//		})
			//	}

			//},
			//completeReview: function () {
			//	if (this.jurisdictionSelected) {
			//		alert("Stop trying to hack the completeReview, should not be here. If you are... Please indicate steps how you managed this to IT");
			//		return;
			//	}
			//	this.savingAnswers = true;
			//	this.editReview = false;
			//	//Checking for all questions have answers
			//	if (this.review.testScript.testScript.filter(obj => obj.visible && obj.answer === null && obj.questionType !== "29").length > 0) {
			//		alert("There are questions that need required answers, unable to complete the review");
			//		this.savingAnswers = false;
			//		return;

			//	}
			//	//checking for any FAILs/NAs with missing notes
			//	if (this.review.testScript.testScript.filter(obj => obj.visible &&
			//		obj.questionType === "18" && (obj.answer === 'FAIL' || obj.answer === 'NA') &&
			//		(obj.notes === '' || obj.notes === null)).length > 0) {
			//		this.savingAnswers = false;
			//		alert("There is a validation that has FAIL or NA as an answer and no notes associated with it. Unable to complete the review");
			//		return;
			//	}

			//	//If made it this far... The test scripts appear to be in good order.
			//	this.$http.post('Evolution/Review/CompleteReview', {
			//		compGroupId: this.instance.selectedComponentGroupId,
			//		testScripts: this.review.testScript.testScript,
			//		userName: this.vm.userName,
			//		officeCode: this.vm.office
			//	})
			//		.then(response => {
			//			this.locked = !this.locked;
			//			this.editReview = false;
			//			this.savingAnswers = false;
			//			this.$refs.juriAndDocs.reviewFunc();
			//		})
			//		.catch(error => {
			//			alert("Error Completing Review: " + error.response.data);
			//			this.savingAnswers = false;
			//		});
			//},
			//unlockReview: function () {

			//	//this.locked = !this.locked;
			//	this.$http.post('Evolution/Review/CheckJurisdictionClosedStatus', {
			//		compGroupId: this.instance.selectedComponentGroupId,
			//		juriIds: this.$refs.instanceComp
			//			.getSelectedComponentGroupObject(this.instance.selectedComponentGroupId).jurisdictions
			//			.map(function (obj) { return obj.id })

			//	}).then(closedStatusResponse => {
			//		if (closedStatusResponse.data === false) {
			//			this.$http.post('Evolution/Review/UnlockReview', {
			//				compGroupId: this.instance.selectedComponentGroupId,
			//				userName: this.vm.userName,
			//				officeCode: this.vm.office
			//			})
			//				.then(response => {
			//					this.locked = !this.locked;
			//				})
			//				.catch(error => {
			//					console.log(error)
			//				});
			//		}
			//		else {
			//			alert("One or more jurisdictions have a closed status, unable to unlock this review");
			//		}
			//	}).catch(error => {
			//		console.log(error);
			//		alert('Error occurred trying to unlock the review. One or more jurisdictions for this file has a closed status');
			//	});
			//},
			//...mapActions([
			//	'setShowHelpModalPopup',
			//	'setShowInstanceInformationPopup'
				
			//])
		},
		watch: {
			//'review.testCase.hideTestCaseSpinner': function () {
			//	if (!this.review.testCase.hideTestCaseSpinner) {
			//		this.editReview = false;
			//		$(".testScriptFilter").each(function () {
			//			this.checked = false;
			//		});
			//		var juriIdsSelected = $("#JurisdictionFilter").val();
			//		if (juriIdsSelected !== null && juriIdsSelected.length > 0) {
			//			this.jurisdictionSelected = true;
			//		} else {
			//			this.jurisdictionSelected = false;
			//		}
			//	}
			//},
			//'instance.selectedComponentLockStatus': function () {
			//	if (this.instance.selectedComponentLockStatus === "Lock") {
			//		//this.editReview = false;
			//		this.locked = true;
			//	} else {
			//		this.locked = false;
			//	}
			//}
		}
	}
</script>

<style scoped>

</style>
