﻿<template>
	<div>
		<div>
			<label class="control-label">{{label}}</label>
		</div>
		<div class="btn-group switch-3" data-toggle="buttons">
			<label class="btn btn-primary" @click="TriggerEvent" >
				<input id="on" :name="label" v-model="boolHolder" value="true" type="radio" />
				<label for="on">Yes</label>
			</label>
			<label class="btn btn-primary active" >
				<input id="na" :name="label" v-model="boolHolder" value="null" type="radio" checked="checked" @click="TriggerEvent" />
				<label for="na">Ignore</label>
			</label>
			<label class="btn btn-primary">
				<input id="off" :name="label" v-model="boolHolder" value="false" type="radio" />
				<label for="off">No</label>
			</label>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['label','nullableBool'],
		data: function () {
			return {
				boolHolder: this.nullableBool
			}
		},
		watch: {
			boolHolder: function () {
				console.log(this.boolHolder);
				this.$emit('updateFilterBool', (this.boolHolder == 'null' ? null: this.boolHolder));
			}
		},
		methods: {
			TriggerEvent: function () {
				console.log(this);
			}
		}
	} 
</script>