﻿@model Submissions.Web.Areas.Tools.Models.ImpersonateIndexViewModel

@section css{
	<style>
		.sideContainer {
			display: flex;
		}

		.sideLeft {
			width: 400px;
		}

		.sideRight {
			padding-left: 15px;
			flex-grow: 1;
		}
	</style>
}

@{
	ViewBag.Title = "Impersonate";
}

@using (Html.BeginForm("Index", "Impersonate", FormMethod.Post, new { id = "IndexForm" }))
{
	@Html.ValidationSummary(true)
	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.UserId, new { @class = "control-label col-sm-1" })
			<div class="col-sm-4">
				<div class="sideContainer">
					<div class="sideLeft">
						@Html.LookupFor(m => m.UserId, m => m.User, LookupAjax.Users, false) &nbsp;
					</div>
					<div class="sideRight">
						<button type="button" id="GoBtn" class="btn btn-primary btn-sm">Go</button>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scripts{
	<script>
		$(function () {
			$('#GoBtn').on('click', function () {
				$('#IndexForm').submit();
			});
		});
	</script>
}