﻿@model Submissions.Web.Areas.Lookups.Models.TargetOffSetEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Target OffSet";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "TargetOffSet", FormMethod.Post, new { id = "LookupForm", editViewModel = Model }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3 class="form-h3">@ViewBag.Title <small>@Html.DisplayFor(model => model.Jurisdiction) (@Html.DisplayFor(model => model.JurisdictionID))</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "TargetOffSet", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		@if (Model.Mode == Mode.Add)
		{
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.JurisdictionID, new { @class = "control-label col-sm-2" })
				<div class="col-sm-3">
					@Html.LookupFor(model => model.JurisdictionID, model => model.Jurisdiction, LookupAjax.Jurisdictions, true)
					@Html.ValidationMessageFor(model => model.JurisdictionID)
				</div>
			</div>
		}
		else
		{
			@Html.HiddenFor(m => m.JurisdictionID)
			@Html.HiddenFor(m => m.Jurisdiction)
		}
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.TargetOffSet, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.TargetOffSet, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.TargetOffSet)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Reason, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.Reason, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Reason)
			</div>
		</div>
	</div>
}
