﻿@model Submissions.Web.Areas.Lookups.Models.TargetOffSetViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Target OffSets";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons ">
		<button type="button" id="ExportBtn" class="btn btn-primary btn-sm"><i class="far fa-file-excel"></i>&nbsp;Export</button>
		@if (Util.HasAccess(Permission.TargetDateOffsets, AccessRight.Edit))
		{
			@Html.ActionLink("Add", "Edit", null, new { mode = Mode.Add }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
			@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		}
		</div>
</div>

@Html.Trirand().JQGrid(Model.TargetOffSetGrid.Grid, "TargetOffSetGrid")

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
<script>
		$(function () {
				$('#ExportBtn').on('click', function () {
					var url = '@Url.Action("Export","TargetOffSet")'
					$('#LookupForm').attr('action',url)
					$('#LookupForm').submit();
				});
		});

		function editLink(cellValue, options, rowObject) {
			var link = "";
			if ("@Util.HasAccess(Permission.TargetDateOffsets, AccessRight.Edit)" == "True") {
				link = '<a href="' + '@Url.Action("Edit", "TargetOffSet")' + '/' + options.rowId + '?mode=Edit">Edit</a> <span class="text-normal">|</span> ' +
				'<a href="javascript:confirmDelete(' + options.rowId + ')"  id="' + options.rowId + '">Delete</a>&nbsp;&nbsp;'
			}
			return link;
		}

		function confirmDelete(id) {
			var url = '@Url.Action("Delete", "TargetOffSet")' + '/' + id
			bootbox.confirm("Are you sure you want to delete?", function (result) {
				if (result) {
					window.location.href = url
				}
			})
		}


</script>
}