﻿@model Submissions.Web.Areas.Submission.Models.AristocratData.IndexViewModel
@{
	ViewBag.Title = "Aristocrat Data";
	var firstItem = Model.AristocratItems.FirstOrDefault();
	ViewBag.FullWidth = true;
}
@using (Html.BeginForm("Save", "AristocratData", FormMethod.Post, new { vm = Model, Id = "AristocratDataForm" }))
{
	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title <small>@Model.FileNumber</small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<button class="btn btn-primary btn-sm">Save</button> &nbsp;
			<button class="btn btn-primary btn-sm" id="CancelBtn" onclick="window.close();">Close</button> &nbsp;
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Aristocrat Data</h3>
		</div>
		<div class="panel-body">
			<table id="replacewith-table" class="table table-condensed table-striped table-hover table-partialview">
				<thead>
					<tr class="row">
						<th class="col-xs-2">@Html.DisplayNameFor(m => firstItem.Jurisdiction)</th>
						<th class="col-xs-2">@Html.DisplayNameFor(m => firstItem.AristocratTypeId)</th>
						<th class="col-xs-2">@Html.DisplayNameFor(m => firstItem.AristocratComplexityId)</th>
						<th class="col-xs-3">@Html.DisplayNameFor(m => firstItem.AristocratMarketId)</th>
						<th class="col-xs-2">@Html.DisplayNameFor(m => firstItem.SecondaryAristocratMarketIds)</th>

					</tr>
				</thead>
				<tbody>

					@Html.HiddenFor(x => Model.FileNumber)
					@Html.HiddenFor(x => Model.SubmissionHeaderId)
					@for (var i = 0; i < Model.AristocratItems.Count(); i++)
					{
						@Html.HiddenFor(x => Model.AristocratItems[i].JurisdictionId)
						@Html.HiddenFor(x => Model.AristocratItems[i].IsMainJurisdiction)
						<tr class="row">
							<td class="col-xs-2">@Model.AristocratItems[i].Jurisdiction 
								<strong>
									@Model.AristocratItems[i].JurisdictionId
									@if (Model.AristocratItems[i].IsMainJurisdiction)
									{
										@:<br /><font color="text-info">(New Submission)</font>
									}
									
								</strong></td>
							<td class="col-xs-2">@Html.LookupFor(m => m.AristocratItems[i].AristocratTypeId, m => m.AristocratItems[i].AristocratType, LookupAjax.EResultsAUEnums, false, new { data_filter = "{\"Node\":\"ARPType\"}" })</td>
							<td class="col-xs-2">@Html.LookupFor(m => m.AristocratItems[i].AristocratComplexityId, m => m.AristocratItems[i].AristocratComplexityId, LookupAjax.EResultsAUEnums, false, new { data_filter = "{\"Node\":\"ARPComplexity\"}" })</td>
							<td class="col-xs-3">@Html.LookupFor(m => m.AristocratItems[i].AristocratMarketId, m => m.AristocratItems[i].AristocratMarket, LookupAjax.EResultsAUEnums, false, new { data_filter = "{\"Node\":\"ARPMarket\"}" })</td>
							<td class="col-xs-3">@Html.LookupMultipleFor(m => m.AristocratItems[i].SecondaryAristocratMarketIds, Model.AristocratItems[i].SecondaryAristocratMarkets, LookupAjax.EResultsAUEnums, false, new { data_filter = "{\"Node\":\"ARPMarket\"}" })</td>
						</tr>
					}

				</tbody>
			</table>
		</div>
	</div>
}
