﻿@model Submissions.Web.Areas.Lookups.Models.SubscriptionEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Subscription";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "Subscription", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3 class="form-h3">@ViewBag.Title <small>@Html.DisplayFor(model => model.Name)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "Subscription", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(model => model.Name)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Description)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.SubscriptionGroupsId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.LookupFor(model => model.SubscriptionGroupsId, model => model.SubscriptionGroup, LookupAjax.SubscriptionGroups, false)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Category, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.DropDownListFor(m => m.Category, Model.CategoryList, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Category)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.FilterFieldList, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.ListBoxFor(model => model.SelectedFilterField, Model.FilterFieldList, new { @class = "form-control" })
				@Html.HiddenFor(model => model.FilterField)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.MessageExpiry, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(model => model.MessageExpiry, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.MessageExpiry)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(model => model.Active, new { @class = "padcheckbox" })
				@Html.ValidationMessageFor(model => model.Active)
			</div>
		</div>
	</div>
}