﻿<script id="standard-dynamic-tree-template" type="text/html">
	<div name="dynamic-tree-container" data-bind="foreach:{ data: Tree, as: 'Role' }">
		<div name="dynamic-tree-row" class="row">
			<!-- ko if: IndentLevel() == 0 -->
			<div name="dynamic-tree-column" class="col-xs-2" data-bind="dynamicTreeChildState: Role">
				<!-- ko if: TypeId() == 1 -->
				<!-- ko template: 'standard-dynamic-tree-column-radio' --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: TypeId() == 2 -->
				<!-- ko template: 'standard-dynamic-tree-column-checkbox' --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: TypeId() == 3 -->
				<!-- ko template: 'standard-dynamic-tree-column-header-h4' --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: SelectList().length > 0 -->
				<!-- ko template: 'standard-dynamic-tree-column-select' --> <!-- /ko -->
				<!-- /ko-->
			</div>
			<!-- /ko -->
			<!-- ko if: IndentLevel() == 1 -->
			<div name="dynamic-tree-column" class="col-xs-2 col-xs-offset-1" data-bind="dynamicTreeChildState: Role">
				<!-- ko if: TypeId() == 1 -->
				<!-- ko template: 'standard-dynamic-tree-column-radio' --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: TypeId() == 2 -->
				<!-- ko template: 'standard-dynamic-tree-column-checkbox' --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: TypeId() == 3 -->
				<!-- ko template: 'standard-dynamic-tree-column-header-h4' --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: SelectList().length > 0 -->
				<!-- ko template: 'standard-dynamic-tree-column-select' --> <!-- /ko -->
				<!-- /ko-->
			</div>
			<!-- /ko -->
			<!-- ko if: IndentLevel() == 2 -->
			<div name="dynamic-tree-column" class="col-xs-2 col-xs-offset-2" data-bind="dynamicTreeChildState: Role">
				<!-- ko if: TypeId() == 1 -->
				<!-- ko template: 'standard-dynamic-tree-column-radio' --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: TypeId() == 2 -->
				<!-- ko template: 'standard-dynamic-tree-column-checkbox' --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: TypeId() == 3 -->
				<!-- ko template: 'standard-dynamic-tree-column-header-h4' --> <!-- /ko -->
				<!-- /ko -->
				<!-- ko if: SelectList().length > 0 -->
				<!-- ko template: 'standard-dynamic-tree-column-select' --> <!-- /ko -->
				<!-- /ko-->
			</div>
			<!-- /ko -->
		</div>
	</div>
</script>

<script id="standard-dynamic-tree-column-radio" type="text/html">
	<div name="dynamic-tree-radio-wrapper">
		<input type="radio" data-bind="attr:{ name: 'radioGroup' + GroupId()}, click: $component.setGroupSelection, dynamicTreeChildInputState: $data" />
		<span data-bind="text: Code"></span>
	</div>
</script>

<script id="standard-dynamic-tree-column-checkbox" type="text/html">
	<div name="dynamic-tree-checkbox-wrapper">
		<input type="checkbox" data-bind="checked: Selected" />
		<span data-bind="text: Code"></span>
	</div>
</script>

<script id="standard-dynamic-tree-column-header-h4" type="text/html">
	<h4 data-bind="text: Code" />
</script>

<script id="standard-dynamic-tree-column-select" type="text/html">

	<select name="dynamicTreeSelect"
			data-bind="options: SelectList, optionsValue: 'Value', optionsText: 'Text', value: SelectedSelectListOption, optionsCaption: 'Select a Language '"
			class="form-control GetContext"></select>
</script>

<script id="dynamic-tree-menu" type="text/html">
	<div class="row">
		<div class="col-xs-3">
			<select data-bind="options:UserTemplates, optionsText: 'Name', selectedOptions: SelectedTemplate, optionsCaption: 'Choose...'" class="form-control"></select>
		</div>
		<div class="col-xs-3">
			<button class="btn btn-primary btn-sm" data-bind="click: applyTemplate"> Apply Template </button>
			<button class="btn btn-primary btn-sm" data-bind="click: showConfigurationModal, visible: $root.ComponentGroupCount() > 1"> Copy Configuration </button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<a href="#">Manage My Templates ..</a>
		</div>
		<div class="col-xs-3">
			<button class="btn btn-primary btn-sm" data-bind="click: resetTree"> Reset Tree </button>
		</div>
	</div>
	<div data-bind="template: 'dynamic-tree-copymodal'"></div>
</script>


<script id="dynamic-tree-copymodal" type="text/html">
	<div id="dynamic-tree-copyConfiguration-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title">Copy Configuration to Component Group</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<select data-bind="attr: {id: 'dynamic-tree-copyConfiguration-componentGroup-select' + ComponentGroupId() }, options:$root.componentGroupsForDropDownSansCurrentGroup, selectedOptions: SelectedComponentGroup, optionsText: 'Text',  optionsCaption: 'Choose...'" class="form-control"></select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary btn-sm" data-bind="click: copyConfiguration">Copy Configuration</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!-- Loading Sybmol Container-->
</script>