﻿@model Submissions.Web.Areas.Lookups.Models.LetterheadsEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Letterhead";
	ViewBag.GPSFilePath = Model.GPSFilePath;
	ViewBag.GPSFileName = Model.GPSFileName;

	var upload = Html.Kendo().Upload()
		.Name("LetterheadFileUpload")
		.Multiple(false)
		.Files(files =>
		{
			foreach (var f in Model.LetterheadFile)
			{
				files.Add().Name(f.Name).Extension(f.Extension).Size(f.Size);
			}
		})
		.Validation(x => x.AllowedExtensions(new string[] { ".doc", ".docx", ".pdf" }));
	
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
	else
	{
		upload = upload.Async(x => x
			.Save("AddLetterheadFile", "Letterheads", new { LetterheadId = Model.Id })
			.Remove("DeprecateLetterheadFile", "Letterheads", new { LetterheadId = Model.Id })
			.AutoUpload(true));
	}
}

@section css{
	@Styles.Render("~/bundles/css/kendo")
	<style>
		.k-file-name-size-wrapper {
			cursor: pointer;
		}
	</style>
}

@using (Html.BeginForm("Edit", "Letterheads", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3 class="form-h3">@ViewBag.Title <small>@Html.DisplayFor(model => model.Code)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "Letterheads", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Code, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(model => model.Code, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(model => model.Code)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Description)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(model => model.Active, new { @class = "padcheckbox" })
				@Html.ValidationMessageFor(model => model.Active)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Laboratories , new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupMultipleFor(m => m.LaboratoryIds, Model.Laboratories, LookupAjax.Laboratories, true)
			</div>
		</div>
		@if (Model.Mode == Mode.Edit)
		{
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="GPSFilePath">GPS File</label>
				<div class="col-sm-2">
					<a id="GPSFilePath" target="_blank" href="@ViewBag.GPSFilePath">@ViewBag.GPSFileName</a>
				</div>
			</div>
		}
	</div>
	if (Model.Mode == Mode.Edit)
	{
		<div class="panel panel-default">
			<div class="panel-heading">Letterhead File</div>
			<div class="panel-body">
				<div class="col-sm-6">
					@(upload)
					<div><small>You can only upload <strong>DOC</strong>, <strong>DOCX</strong>, <strong>PDF</strong> files.</small></div>
				</div>
			</div>
		</div>
	}
}
@section scripts{
	@Scripts.Render("~/bundles/script/kendo")
}