﻿@model Submissions.Web.Areas.Lookups.Models.LetterheadsIndexViewModel

@{
	ViewBag.Title = "Letterheads";
	var header = Model.Letterheads.FirstOrDefault();
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@if (Util.HasAccess(Permission.Admin, AccessRight.Add))
		{
			@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		}
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

<table class="table table-striped table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model => @header.Code)
		</th>
		<th>
			@Html.DisplayNameFor(model => @header.Description)
		</th>
		@if (Util.HasAccess(Permission.Admin, AccessRight.Edit) || Util.HasAccess(Permission.Admin, AccessRight.Delete))
		{
			<th></th>
		}
	</tr>

	@foreach (var item in Model.Letterheads)
	{
		<tr>
		@if (item.Active)
		{
			<td>
				@item.Code
			</td>
			<td>
				@item.Description
			</td>
			if (Util.HasAccess(Permission.Admin, AccessRight.Edit) || Util.HasAccess(Permission.Admin, AccessRight.Delete))
			{
				<td class="text-right">
					@if (Util.HasAccess(Permission.Admin, AccessRight.Edit))
					{
						@Html.ActionLink("Edit", "Edit", new { id = item.Id, mode = "Edit" })
					}
					@if (Util.HasAccess(Permission.Admin, AccessRight.Delete))
					{
						@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckDelete" })
					}
				</td>
			}
		}
		else
		{
			<td class="text-red">
				@item.Code
			</td>
			<td class="text-red">
				@item.Description
			</td>
			<td class="text-right">
				@if (Util.HasAccess(Permission.Admin, AccessRight.Edit))
				{
					@Html.ActionLink("Edit", "Edit", new { id = item.Id, mode = "Edit" })
				}
				@if (Util.HasAccess(Permission.Admin, AccessRight.Delete))
				{
					@Html.ActionLink("Activate", "SetActive", "", new { id = item.Id, @class = "Activate" })
					@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class = "CheckDelete" })
				}
			</td>
		}
		</tr>
	}
</table>