﻿<template>
	<form ref="LookupForm" method="post">
		<div class="row row-title">
			<div class="col-sm-8">
				<h3>Edit Laboratory <small>{{ vm.name }}</small></h3>
			</div>
			<div class="col-sm-4 form-buttons">
				<a @click="saveLaboratory($event)" class="btn btn-primary btn-sm">{{ vm.mode | saveText }}</a>
				<a-link href="/lookups/laboratories" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="form-horizontal">
			<input type="hidden" id="Id" name="Id" v-model="vm.id" />
			<input type="hidden" id="Mode" name="Mode" v-model="vm.mode" />
			<hr class="form-hr" />
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="Name">Name</label>
				<div class="col-sm-3">
					<input id="Name" name="Name" class="form-control" v-model="vm.name" />
					<span class="field-validation-error" v-if="!$v.vm.name.required && $v.vm.name.$error">The Name field is required.</span>
					<span class="field-validation-error" v-if="!$v.vm.name.maxLength">The field Name must be a string with a maximum length of {{$v.vm.name.$params.maxLength.max}}. </span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="Location">Location</label>
				<div class="col-sm-3">
					<input id="Location" name="Location" class="form-control" v-model="vm.location" />
					<span class="field-validation-error" v-if="!$v.vm.location.required && $v.vm.location.$error">The Location field is required.</span>
					<span class="field-validation-error" v-if="!$v.vm.location.maxLength">The field Location must be a string with a maximum length of {{$v.vm.location.$params.maxLength.max}}. </span>
					<span class="field-validation-error" v-if="!$v.vm.location.isUnique">{{vm.location}} already exists.</span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="ArchiveLocation">Archive Location</label>
				<div class="col-sm-3">
					<input id="ArchiveLocation" name="ArchiveLocation" class="form-control" v-model="vm.archiveLocation" />
					<span class="field-validation-error" v-if="!$v.vm.archiveLocation.required && $v.vm.archiveLocation.$error">The Archive Location field is required.</span>
					<span class="field-validation-error" v-if="!$v.vm.archiveLocation.maxLength">The field Archive Location must be a string with a maximum length of {{$v.vm.archiveLocation.$params.maxLength.max}}. </span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="Abbreviation">Abbreviation</label>
				<div class="col-sm-3">
					<input id="Abbreviation" name="Abbreviation" class="form-control" v-model="vm.abbreviation" />
					<span class="field-validation-error" v-if="!$v.vm.abbreviation.maxLength">The field Abbreviation must be a string with a maximum length of {{$v.vm.abbreviation.$params.maxLength.max}}. </span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="Company">Company</label>
				<div class="col-sm-3">
					<Lookup id="CompanyId"
							name="CompanyId"
							v-model="vm.companyId"
							lookupajax="Companies"
							:lookuptextfield="vm.company"
							@updateLookupTextField="updateCompany"
							class="form-control">
					</Lookup>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="Address1">Address1</label>
				<div class="col-sm-3">
					<input id="Address1" name="Address1" class="form-control" v-model="vm.address1" />
					<span class="field-validation-error" v-if="!$v.vm.address1.required && $v.vm.address1.$error">The Address1 field is required.</span>
					<span class="field-validation-error" v-if="!$v.vm.address1.maxLength">The field Address1 must be a string with a maximum length of {{$v.vm.address1.$params.maxLength.max}}. </span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="Address2">Address2</label>
				<div class="col-sm-3">
					<input id="Address2" name="Address2" class="form-control" v-model="vm.address2" />
					<span class="field-validation-error" v-if="!$v.vm.address2.maxLength">The field Address2 must be a string with a maximum length of {{$v.vm.address2.$params.maxLength.max}}. </span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="City">City</label>
				<div class="col-sm-3">
					<input id="City" name="City" class="form-control" v-model="vm.city" />
					<span class="field-validation-error" v-if="!$v.vm.city.required && $v.vm.city.$error">The City field is required.</span>
					<span class="field-validation-error" v-if="!$v.vm.city.maxLength">The field City must be a string with a maximum length of {{$v.vm.city.$params.maxLength.max}}. </span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="State">State</label>
				<div class="col-sm-3">
					<input id="State" name="State" class="form-control" v-model="vm.state" />
					<span class="field-validation-error" v-if="!$v.vm.state.required && $v.vm.state.$error">The State field is required.</span>
					<span class="field-validation-error" v-if="!$v.vm.state.maxLength">The field State must be a string with a maximum length of {{$v.vm.state.$params.maxLength.max}}. </span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="PostalCode">Postal Code</label>
				<div class="col-sm-3">
					<input id="PostalCode" name="PostalCode" class="form-control" v-model="vm.postalCode" />
					<span class="field-validation-error" v-if="!$v.vm.postalCode.required && $v.vm.postalCode.$error">The Postal Code field is required.</span>
					<span class="field-validation-error" v-if="!$v.vm.postalCode.maxLength">The field Postal Code must be a string with a maximum length of {{$v.vm.postalCode.$params.maxLength.max}}. </span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="Country">Country</label>
				<div class="col-sm-3">
					<Lookup id="CountryId"
							name="CountryId"
							v-model="vm.countryId"
							lookupajax="Countries"
							:lookuptextfield="vm.country"
							@updateLookupTextField="updateCountry"
							class="form-control">
					</Lookup>
					<span class="field-validation-error" v-if="!$v.vm.countryId.required && $v.vm.countryId.$error">The Country field is required.</span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="Accreditations">Accreditations</label>
				<div class="col-sm-3">
					<LookupMultiple id="AccreditationIds"
									name="AccreditationIds"
									lookupajax="Accreditations"
									v-model="vm.accreditationIds"
									:options="vm.accreditations"
									:value="vm.accreditationIds"
									@updateLookupTextField="updateAccreditations"
									class="form-control">
					</LookupMultiple>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="QAOfficeDefault">QA Office Default</label>
				<div class="col-sm-3">
					<Lookup id="QAOfficeDefaultId"
							name="QAOfficeDefaultId"
							v-model="vm.qaOfficeDefaultId"
							lookupajax="Laboratories"
							:lookuptextfield="vm.qaOfficeDefault"
							@updateLookupTextField="updateQAOfficeDefault"
							class="form-control">
					</Lookup>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="Active">Active</label>
				<div class="col-sm-3">
					<input id="active" name="active" type="checkbox" class="padcheckbox" v-model="vm.active" :value="vm.active" />
				</div>
			</div>
		</div>
	</form>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import Lookup from '@/components/utility/Lookup.vue'
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import ALink from '@/components/utility/ALink.vue';
	import { required, maxLength } from 'vuelidate/lib/validators'
	import { MODE } from '@/common'

	export default {
		components: {
			ALink,
			Lookup,
			LookupMultiple
		},
		data() {
			return {
				vm: initialData
			}
		},
		validations: {
			vm: {
				name: {
					required,
					maxLength: maxLength(255)
				},
				location: {
					required,
					maxLength: maxLength(2),
					isUnique(value) {
						if (!value) {
							return true;
						}
						return this.$http.get('Lookups/Laboratories/ValidateLocation', {
							params: {
								id: this.vm.id,
								location: this.vm.location,
								mode: this.vm.mode
							}
						})
						.then(r => {
							return r.data;
						})
					}
				},
				archiveLocation: {
					required,
					maxLength: maxLength(2)
				},
				abbreviation: {
					maxLength:maxLength(5)
				},
				address1: {
					required,
					maxLength: maxLength(75)
				},
				address2: {
					maxLength: maxLength(75)
				},
				city: {
					required,
					maxLength: maxLength(50)
				},
				state: {
					required,
					maxLength: maxLength(50)
				},
				postalCode: {
					required,
					maxLength: maxLength(10)
				},
				countryId: {
					required
				}
			}
		},
		computed: {
			isAddMode: function () {
				return this.mode === MODE.ADD.id;
			},
			isEditMode: function () {
				return this.mode === MODE.EDIT.id;
			}
		},
		methods: {
			saveLaboratory: function (e) {
				if (!this.validate()) {
					return;
				}

				const form = this.$refs.LookupForm;
				form.action = jsPath + 'Lookups/Laboratories/Edit';
				form.submit();
			},
			updateAccreditations: function (newValue) {
				this.vm.accreditations = newValue;
			},
			updateCompany: function (newValue) {
				this.vm.company = newValue;
			},
			updateCountry: function (newValue) {
				this.vm.country = newValue;
			},
			updateQAOfficeDefault: function (newValue) {
				this.vm.qaOfficeDefault = newValue;
			},
			validate: function () {
				this.$v.$touch();
				return !this.$v.$invalid;
			}
		}
	}
</script>