﻿<template>
	<div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading" @click="availableComponentPanelClick()" style="cursor:pointer">
						<div class="row">
							<div class="col-sm-6">
								<h3 class="panel-title">Available Components</h3>
							</div>
						</div>
					</div>
					<div ref="availableComponentCollapse">
						<div class="form-horizontal">
							<label v-if="isLocked" class="control-label italic"><i class="fas fa-info-circle" title="In order to select/deselect any component(s), please click on the lock icon of this component group"></i> Unlock this component group to make any changes</label>
							<div class="form-group form-group-sm m-tblr">
								<div class="col-sm-12 checkbox">
									<div class="row">
										<div class="col-sm-2">
											<label class="right-margin"><input type="checkbox" v-model="selectAllChecked" :disabled="isLocked" v-on:click="selectAll($event)"><strong>Select All</strong></label>
											<a href="#!" class="right-margin" v-on:click="clear"><strong>Clear</strong></a>
											<p class="right-margin" style="display:inline; color: #d3aa3b;"> {{ rowCount }} row selected</p>
										</div>
										<div class="col-sm-4">
											<div class="form-group form-group-sm">
												<label class="control-label col-sm-4"><strong>Filter by jurisdiction: </strong></label>
												<div class="col-sm-8">
													<LookupMultiple ref="jurisdictionFilter" lookupajax="Jurisdictions" v-model="jurisdictionIds" :options="jurisdictions" style="min-width:200px;" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<VueGoodTable ref="available-component-table"
										  :columns="columns"
										  :rows="this.compgroupComponents"
										  class="bm-20"
										  max-height="500px"
										  :fixed-header="true"
										  :search-options="{
											enabled: true,
											searchFn: searchTable,
											skipDiacritics: true,
											externalQuery: jurisdictionIds
										  }">
								<template slot="table-row" slot-scope="props">
									<span v-if="props.column.field == 'checkbox'">
										<input type="checkbox" :checked="compgroupComponents[props.row.originalIndex].selected" :disabled="isLocked" v-on:click="selectAComp(props)"/>
									</span>
									<span v-else>
										{{props.formattedRow[props.column.field]}}
									</span>
								</template>
							</VueGoodTable>
							<button title="next" class="btn btn-primary" @click="openNextPanel"> Next <i class="fa fa-chevron-right" ></i> </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import { createNamespacedHelpers } from 'vuex';
	import { VueGoodTable } from 'vue-good-table';
	import { VueGoodTablePlugin } from 'vue-good-table'
	import 'vue-good-table/dist/vue-good-table.min.css'
    import LookupMultiple from '@/components/utility/LookupMultiple.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming')

	export default {
		components: {
			VueGoodTable,
            LookupMultiple
		},
		data() {
			return {
				validateSelectedComponents: true,
				rowCount: 0,
				jurFlag: true,
				selectAllChecked: false,
				editBtnClicked: false,
				columns: [
					{
						field: 'checkbox',
						width: '25px',
						filterOptions: {
							enabled: false
						}
					},
					{
						label: 'Game Name',
						field: 'gameName',
						filterOptions: {
							enabled: true,
							placeholder: 'Filter Game Name',
							filterValue: '',
						}
					},
					{
						label: 'Id Number',
						field: 'idNumber',
						filterOptions: {
							enabled: true,
							placeholder: 'Filter Id Number',
							filterValue: '',
						}
					},
					{
						label: 'Version',
						field: 'version',
						filterOptions: {
							enabled: true,
							placeholder: 'Filter Version',
							filterValue: '',
						}
					},
					{
						label: 'Date Code',
						field: 'dateCode',
						filterOptions: {
							enabled: true,
							placeholder: 'Filter Date Code',
							filterValue: '',
						},
					}
				],
				jurisdictionIds: [],
				jurisdictions: []
			}
		},
		mounted() {
			this.$refs.availableComponentCollapse.classList.add("collapse");
			this.$refs.availableComponentCollapse.classList.add("panel-collapse");
			this.$refs.availableComponentCollapse.classList.add("panel-body");
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getEditToggle',
				'getEvoConfig'
			]),
			editIndex: function () {
				this.editBtnClicked = true;
                return this.getEditToggle.editIndex;
			},
			tracker: function () {
				return this.getEvoConfig.trackIndividualComponents;
			},
			compgroupComponents: function () {
				//Create components using tracker
				if (this.editIndex > -1) {
					this.getIncomingReview.evolutionViewModel.componentGroups[this.editIndex].components = [];
					for (let i = 0; i < this.tracker.length; i++) {
						let currComponent = this.tracker[i];
						if (currComponent.isUsed == this.editIndex || currComponent.isUsed == -1) {
							this.getIncomingReview.evolutionViewModel.componentGroups[this.editIndex].components.push(currComponent);
						}
					}
					this.jurFlag = false;
					return this.getIncomingReview.evolutionViewModel.componentGroups[this.editIndex].components;
				} else {
					return [];
				}
            },
            isLocked: function () {
                if (this.editIndex > -1) {
	                return this.getIncomingReview.evolutionViewModel.componentGroups[this.editIndex].locked;
                }
                return true;
            }
		},
		watch: {
			compgroupComponents: {
				handler(val) {
					//Add the selected available component to this component Group
					if (this.editIndex > -1) {
						this.handleAvailableComponents();
						this.updateActiveComponentCounts();
						if (this.jurFlag) {
							this.setJurisdictionComponent(this.editIndex);
						}
					}
					//Update Row Count and Select all checkbox
					this.countRows();
					if (this.rowCount == this.compgroupComponents.length && this.compgroupComponents.length > 0) {
						this.selectAllChecked = true;
					} else {
						this.selectAllChecked = false;
                    }
				},
				deep: true
			},
			'getEvoConfig.collapsiblePanel.availableComponent': function (val) {
				if (val) {
					//Open Collapsible Panel
					this.$refs.availableComponentCollapse.classList.add("in");
				} else {
					//Close Collapsible Panel
					this.$refs.availableComponentCollapse.classList.remove("in");
				}
			},
			rowCount: function (val) {
				this.getEvoConfig.selectAllJurisdictionsAndDocuments = val > 0;
			}
		},
		methods: {
			...mapActions([
				'setJurisdictionComponent',
				'availablePanel',
				'jurisdictionPanel',
				'functionalRolePanel',
				'potentialTaskPanel',
				'setEvoEditToggle',
				'unusedTrackedComponentsCount'
			]),
			selectAll: function (event) {
				if (event.target.checked) {
					this.componentSelected(true);
				} else {
					this.componentSelected(false);
				}
				this.jurFlag = true;
			},
            clear: function () {
				if (this.isLocked) {
                    return false;
                }
				this.componentSelected(false);
				this.selectAllChecked = false;
			},
			componentSelected: function (bool) {
				for (let i = 0; i < this.compgroupComponents.length; i++) {
					this.compgroupComponents[i].selected = bool;
				}
			},
			countRows: function () {
				this.rowCount = 0;
				for (let i = 0; i < this.compgroupComponents.length; i++) {
					if (this.compgroupComponents[i].selected) {
						this.rowCount++;
					}
				}
				if (this.rowCount > 0) {
					//this.validateSelectedComponents = false;
					if (!this.editBtnClicked) {
						this.jurFlag = true;
					}
				} else {
					//this.validateSelectedComponents = true;
					this.jurFlag = false;
					//this.getIncomingReview.evolutionViewModel.componentGroups.forEach(x => { x.jurisdictions = []; });
				}
			},
            onRowClick: function (params) {
                if (this.isLocked) {
                    return false;
                }
				this.editBtnClicked = false;
				let checkbox = this.compgroupComponents[params.row.originalIndex];
				if (checkbox.selected) {
					//if (!this.validateComponents()) {
					//	this.validateSelectedComponents = false;
					//} 
					checkbox.selected = false;
				} else {
					checkbox.selected = true;
				}
				this.updateActiveComponentCounts();
			},
			updateActiveComponentCounts: function () {
				this.countRows();
				this.getIncomingReview.evolutionViewModel.componentGroups[this.editIndex].activeComponentCounts = this.rowCount;
				if (this.rowCount == 0) {
					this.getIncomingReview.evolutionViewModel.componentGroups[this.editIndex].jurisdictions = [];
				}
			},
			handleAvailableComponents: function () {
				//Update tracker when something is checked/unchecked in components.
				for (let i = 0; i < this.compgroupComponents.length; i++) {
					let temp = this.getEvoConfig.trackIndividualComponents[this.compgroupComponents[i].index];
					if (this.compgroupComponents[i].selected) {
						temp.isUsed = this.editIndex;
						temp.selected = true;

					} else {
						//Adding this condition because of input validation
						//if (temp.isUsed == this.editIndex && !this.validateComponents()) {
						//	this.validateSelectedComponents = true;
						//} else {
							
						//}
                        temp.isUsed = -1;
                        temp.selected = false;
					}
				}
				this.unusedTrackedComponentsCount();
			},
			validateComponents: function () {
				let count = 0;
				for (let i = 0; i < this.tracker.length; i++) {
					if (this.tracker[i].isUsed == this.editIndex) {
						count++;
					}
				}
				return count > 1 ? true : false;
			},
			availableComponentPanelClick: function () {
				if (this.$refs.availableComponentCollapse.classList.contains("in")) {
					this.availablePanel(false);
				} else {
					this.availablePanel(true);
				}
			},
			openNextPanel: function () {
				this.availablePanel(false);
				this.jurisdictionPanel(true);
				this.functionalRolePanel(false);
				this.potentialTaskPanel(false);
			},
			selectAComp: function (params) {
				this.editBtnClicked = false;
                let checkbox = this.compgroupComponents[params.row.originalIndex];
                if (checkbox.selected) {
					checkbox.selected = false;
					checkbox.isUsed = -1;
                } else {
					checkbox.selected = true;
                }
			},
			searchTable: function (row, col, callValue, searchTerm) {
				return searchTerm.length == 0 ||  _.intersection(row.jurisdictionIds, searchTerm).length > 0 ? true : false; 
            }
		}
	}
</script>

<style scoped>

	.bm-20 {
		margin-bottom: 20px;
	}

	.footer__row-count {
		display: none;
	}

	.evo_title {
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
		color: #754a1e;
	}

	.m-tblr {
		margin-top: 10px;
		margin-bottom: 0px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.right-margin {
		margin-right: 10px;
	}

	.checkbox {
		border-top: 1px solid #dcdfe6;
		border-right: 1px solid #dcdfe6;
		border-left: 1px solid #dcdfe6;
		padding-top: 10px;
		padding-bottom: 10px;
		background: linear-gradient(#f4f5f8,#f1f3f6);
	}

	table.vgt-table {
		font-size: 12px;
	}
</style>