﻿<template>
	<div v-bind:class="{ hidden: this.getBillingVisibility == false}">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-horizontal">
					<div class="form-group form-group-sm margin-top-bottom">
						<div class="col-sm-2">
							<a class="control-label col-sm-12 padding-right color-black" for="ProductClassificationId">
								<span class="clickable padding-right color-black" title="Product Classification Information" v-on:click="showProductClassificationPopup()">
									Product Classification <i class="fas fa-question-circle"></i>
								</span>
							</a>
						</div>
						<div class="col-sm-3">
							<input name="ProductClassification"
								   id="ProductClassification"
								   type="hidden"
								   v-model="getIncomingReview.billing.productClassification" />
							<Lookup id="ProductClassificationId"
									name="ProductClassificationId"
									:lookuptextfield="getIncomingReview.billing.productClassification"
									@updateLookupTextField="updateProductClassificationsDropDown"
									lookupajax="ProductClassifications"
									v-model="getIncomingReview.billing.productClassificationId"
									:filter="productClassificationFilters"
									class="form-control" 
									style="width:100%;"/>
						</div>
						<div v-if="isNaN(this.watchProductClassificationsId) != true && this.watchSelectedMapType != 0" class="col-sm-3">
							<span class="sectionTitle">Masterfile:</span>
							<em>{{getIncomingReview.billing.masterFile}}</em>
						</div>
					</div>
					<div class="form-group form-group-sm margin-top-bottom" v-if="getError.billing.productClassifications.flag && getInitialPageLoad == false && this.getIncomingSaveCompleteValidation">
						<label class="control-label col-sm-2 redText text-bold"></label>
						<div class="col-sm-3">
							<div class="redText">{{ getError.billing.productClassifications.errorMsg }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'

	import Lookup from '@/components/utility/Lookup.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming')

	export default {
		components: {
			Lookup
		},
		data() {
			return {
				
			}
		},
		beforeMount() {
			this.sectionVisibility();
			this.updateMasterFile();
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getError',
				'getMapTypeFlag',
				'getInitialPageLoad',
				'getBillingVisibility',
				'getIncomingSaveCompleteValidation'
			]),
			productClassificationFilters: function () {
				return {
					ManufacturerCode: this.getIncomingReview.manufacturerCode
				}
			},
			watchSelectedMapType: function () {
				return this.getIncomingReview.projectDetails.projectDefinition.selectedMappingType
			},
			watchProductClassificationsId: function () {
				return this.getIncomingReview.billing.productClassificationId
			},
			isTransfer: function () {
				return this.getIncomingReview.projectDetails.general.isTransfer;
			},
			masterFile: function () {
				return this.getIncomingReview.billing.masterFile;
			},
			resubmissionMasterFile: function () {
				return this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber;
			},
			watchProductTypeId: function () {
				return this.getIncomingReview.projectDetails.general.productTypeId
			}
		},
		watch: {
			watchSelectedMapType: function (val) {
				this.validateProductClassifications(val);
				this.updateMasterFile();
				this.updateBillingMasterFile();
			},
			watchProductClassificationsId: function (val) {
				this.validateProductClassifications(val);
				this.updateMasterFile();
			},
			resubmissionMasterFile: function () {
				this.updateMasterFile();
				this.updateBillingMasterFile();
			},
			watchProductTypeId: function () {
				this.sectionVisibility();
			}	
		},
		methods: {
			...mapActions([
				'setProductClassification',
				'setProductClassificationId',
				'setProductClassificationsFlag',
				'setProductClassificationMasterFile',
				'setProductClassificationInitVal',
				'setBillingVisibility',
				'setProductClassificationsErrorMsg'
			]),
			showProductClassificationPopup: function () {
				$('#productClassificationHelpModal').modal('show');
			},
			updateProductClassificationsDropDown: function (newValue) {
				this.setProductClassification(newValue);
			},
			validateProductClassifications: function (val) {
				if (this.getIncomingReview.billing.isRequired
					&& (isNaN(this.watchProductClassificationsId) || this.watchProductClassificationsId == "")
					&& this.isTransfer == false
					&& this.getIncomingReview.projectDetails.billingVisibility == true && this.sectionVisibility() == true) {
					this.setProductClassificationsFlag(true);
					this.setProductClassificationsErrorMsg("Product classification is required if Supplier is BAL, BLY, WMS or SHU, and submission type is MO.");
					return;
				}
				if (this.watchSelectedMapType != 0 &&
					(isNaN(this.watchProductClassificationsId) || this.watchProductClassificationsId == "")
					&& this.isTransfer == false
					&& this.getIncomingReview.projectDetails.billingVisibility == true
					&& this.sectionVisibility() == true) {
					this.setProductClassificationsFlag(true);
				} else {
					this.setProductClassificationsFlag(false);
				}
			},
			updateMasterFile: function () {
				if (this.getBillingVisibility == true) {
					this.setProductClassificationMasterFile(this.masterFileProjectType());
				}
			},
			masterFileProjectType: function () {
				let masterFile = '';
				if (this.watchSelectedMapType != 0) {
					masterFile = this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber == "" ? "" : this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber;
					if (this.resubmissionMasterFile == "") {
						this.setProductClassification("");
						this.setProductClassificationId(null);
						this.setInitialValuesConfirmation();
					}
				} else {
					masterFile = this.getIncomingReview.fileNumber;
				}
				return masterFile;
			},
			updateBillingMasterFile: function () {
				if (this.watchSelectedMapType != 0) {
					this.setProductClassification("");
					this.setProductClassificationId(null);
					this.setProductClassificationMasterFile("");
					this.setInitialValuesConfirmation();
				} else {
					if (this.getBillingVisibility == true) { 
						this.setProductClassificationMasterFile(this.getIncomingReview.fileNumber);
					}
				}
			},
			setInitialValuesConfirmation: function () {
				this.setProductClassificationInitVal(this.getIncomingReview.billing.productClassification);
			},
			sectionVisibility: function () {
				this.setBillingVisibility(false);
				let productTypes = this.getIncomingReview.requiringComplexityManufacturer;
				for (var i in productTypes) {
					if (productTypes[i] == this.watchProductTypeId && this.getIncomingReview.projectDetails.billingVisibility) {
						this.setBillingVisibility(true);
						break;
					}
				}
				if (!this.getBillingVisibility) {
					this.setProductClassificationsFlag(false);
				} 
				return this.getBillingVisibility;
			}
		}
	}
</script>

<style scoped>

	.redText {
		color: red;
		font-weight: normal;
	}

	.text-bold {
		font-weight: bold;
	}

	.width-parent {
		width:100% !important;
	}

	.sectionTitle {
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
		color: #754a1e;
	}

	.margin-top-bottom {
		margin-top: 15px !important;
		margin-bottom: 15px !important;
	}

	.padding-right {
		padding-right: 0px !important;
	}

	.color-black {
		color: black;
		font-weight: bold;
	}

</style>