﻿<template>
	<div>
		<div id="deleteComponentGroupConfirmationModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title"><strong>Warning</strong></h4>
					</div>
					<div class="modal-body">
						<p>Are you sure you would like to remove the current Component Group? </strong></p>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" v-on:click="removeComponentGroup(removeIndex)">Proceed</button>
					</div>
				</div>
			</div>
		</div>
		<div id="lockUnlockModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title"><strong>This component group is currently <span v-if="isLocked">locked</span><span v-else>unlocked</span></strong></h4>
					</div>
					<div v-if="isLocked" class="modal-body">
						Would you like to unlock this component group?
					</div>
					<div v-else  class="modal-body">
						Would you like to lock this component group?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" v-on:click="lockUnlockComponentGroup()"><span v-if="isLocked">Unlock</span><span v-else>Lock</span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="evo_title">Component Groups</div>
		<div class="form-horizontal">
			<VueGoodTable :columns="columns"
						  :rows="this.getIncomingReview.evolutionViewModel.componentGroups"
						  class="bm-20"
						  max-height="500px"
						  :rowStyleClass="rowStyleClassFn"
						  :sort-options="{enabled: false}"
						  :fixed-header="true">
				<template slot="table-row" slot-scope="props">
					<span v-if="props.column.field == 'description' && (props.formattedRow[props.column.field] == '' || props.formattedRow[props.column.field] == null )">
						<span class="text-disabled">Please enter a name for this component</span>
					</span>
					<span v-if="props.column.field == 'edit'" title="Edit">
						<span class="fa-stack fa-lg cursor-pointer" v-on:click="editCompGroup(props.index)">
							<i class="fa fa-circle fa-stack-2x bg-c"></i>
							<i class="fas fa-edit fa-stack-1x fa-inverse"></i>
						</span>
						<span v-if="props.row.compGroupID !== null">
							<span v-if="props.row.locked" class="fa-stack fa-lg cursor-pointer" v-on:click="showLockUnlockConfirmation(props.row.locked, props.row.compGroupID)" title="Lock">
								<i class="fa fa-circle fa-stack-2x bg-c"></i>
								<i class="fas fa-lock fa-stack-1x fa-inverse"></i>
							</span>
							<span v-else class="fa-stack fa-lg cursor-pointer" v-on:click="showLockUnlockConfirmation(props.row.locked, props.row.compGroupID)" title="Unlock">
								<i class="fa fa-circle fa-stack-2x bg-c"></i>
								<i class="fas fa-unlock fa-stack-1x fa-inverse"></i>
							</span>
						</span>
						<span class="fa-stack fa-lg cursor-pointer" v-on:click="showRemoveConfirmation(props.index, props.row.compGroupID)" title="Remove">
							<i class="fa fa-circle fa-stack-2x bg-c"></i>
							<i class="fas fa-trash-alt fa-stack-1x fa-inverse"></i>
						</span>
					</span>
					<span v-else>
						<span>
							{{props.formattedRow[props.column.field]}}
						</span>
					</span>
				</template>
			</VueGoodTable>
		</div>
		<CreateComponentGroup></CreateComponentGroup>
		<EditComponentGroup v-bind:class="{ hidden: editCompGroupToggle == false }"></EditComponentGroup>
	</div>
</template>

<script>
	import EditComponentGroup from '@/components/incoming/EditComponentGroup.vue';

	import { VueGoodTable } from 'vue-good-table';
	import { VueGoodTablePlugin } from 'vue-good-table'
	import 'vue-good-table/dist/vue-good-table.min.css'
	import api from '@/api/incoming'
	import { createNamespacedHelpers } from 'vuex';
	import CreateComponentGroup from '@/components/incoming/CreateComponentGroup.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming')

	export default {
		components: {
			VueGoodTable,
			EditComponentGroup,
			CreateComponentGroup
		},
		data() {
			return {
				columns: [
					{
						label: 'Name',
						field: 'description',
						width: '45%'
					},
					{
						label: 'Component Count',
						field: 'activeComponentCounts',
						width: '45%'
					},
					{
						label: 'Edit',
						field: 'edit',
						width: '10%'
					}
				],
				isLocked: null,
				lockUnlockTitle: "",
				lockUnlockBody: "",
				selectedComponentGroupId: null
			}
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getEditToggle',
				'getEvoConfig'
			]),
			editCompGroupToggle: function () {
				return this.getEditToggle.editToggle;
			},
			tracker: function () {
				return this.getEvoConfig.trackIndividualComponents;
			},
			editIndex: function () {
				return this.getEditToggle.editIndex;
			}
		},
		methods: {
			...mapActions([
				'setEvoEditToggle',
				'unusedTrackedComponentsCount',
				'updateDeleteCompGroupFlag'
			]),
			showRemoveConfirmation: function (index, compGroupId) {
                this.selectedComponentGroupId = compGroupId;
				this.removeIndex = index;
				$('#deleteComponentGroupConfirmationModal').modal('show');
				this.setEvoEditToggle(null);
			},
			removeComponentGroup: function (index) {
				this.updateSelected(index);
				this.removeCompGroup(index);
				$('#deleteComponentGroupConfirmationModal').modal('hide');
			},
			updateSelected: function (index) {
				for (let i = 0; i < this.tracker.length; i++) {
					if (this.tracker[i].isUsed == index) {
						this.tracker[i].isUsed = -1;
						this.tracker[i].selected = false;
					} else if (this.tracker[i].isUsed != -1 && this.tracker[i].isUsed > index) {
						this.tracker[i].isUsed = this.tracker[i].isUsed - 1; 
                    }
				}
                this.unusedTrackedComponentsCount();
			},
			removeCompGroup: function (index) {
                Loading();
				this.getIncomingReview.evolutionViewModel.componentGroups.splice(index, 1);

				if (!this.selectedComponentGroupId) {
					DoneLoading();
					return;
				}

				api.deleteComponentGroup(this.selectedComponentGroupId)
					.finally(x => {
						this.updateDeleteCompGroupFlag(true);
                        DoneLoading();
					});
			},
			editCompGroup: function (index) {
				this.editToggle(index);
			},
			editToggle: function (index) {
				let payload = { editIndex: index, editToggle: true };
				if (this.getEditToggle.editIndex == -1) {
					this.setEvoEditToggle(payload);
				} else {
					if (this.getEditToggle.editIndex == index) {
						this.setEvoEditToggle(null);
					} else {
						this.setEvoEditToggle(payload);
					}
				}
			},
			showLockUnlockConfirmation: function (lockVal, compGroupId) {
				this.isLocked = lockVal;
				this.selectedComponentGroupId = compGroupId;
				$('#lockUnlockModal').modal('show');
			},
			lockUnlockComponentGroup: function () {
				let component = _.find(this.getIncomingReview.evolutionViewModel.componentGroups, { compGroupID: this.selectedComponentGroupId });
				api.lockUnlockComponentGroup(this.selectedComponentGroupId, component.functionalRoleScriptRootAnswerId, component.versionId, !this.isLocked)
					.then(response => {
						component.locked = !this.isLocked;
					})
					.catch(e => {
						$('#lockUnlockModal').modal('hide');
						bootbox.alert("Unable to " + isLocked ? "Unlock. ": "Lock. " + "Please enter a trackit.");
					})
					.finally(x => {
						$('#lockUnlockModal').modal('hide');
						this.disableCreateBtn = false;
					});
			},
			rowStyleClassFn: function (row) {
				if (row.originalIndex == this.getEditToggle.editIndex) {
                    return "light-yellow";
                }
            },
		}
	}
</script>

<style scoped>
	.bm-20 {
		margin-bottom: 20px;
	}

	.footer__row-count {
		display: none;
	}

	.evo_title {
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
		color: #754a1e;
	}

	.bg-c {
		color: #333333;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.text-disabled {
		color: #909399;
	}

	table.vgt-table {
		font-size: 12px;
	}

    .light-yellow {
        background-color: #fbffa5;
    }
</style>