﻿<template>
	<div>
		<div id="manufBillingConfirmationModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title"><strong>Warning</strong></h4>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to change studio/product line or product classification?  These properties were inherited from the master file and changing them here will also update the master file.  By doing so, you will be changing various product metrics associated with this project!</p>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" v-on:click="revertOldValues()">Close</button>
						<button type="button" class="btn btn-primary" v-on:click="proceedSaveChanges()">Proceed</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming');

	export default {
		computed: {
			...mapGetters([
				'getConfirmation',
				 'getOldIncoming'
			])
		},
		methods: {
			...mapActions([
				'setManufacturerSpecificStudio',
				'setManufacturerSpecificStudioId',
				'setManufacturerSpecificProductLineId',
				'setManufacturerSpecificProductLine',
				'setShowConfirmation',
				'setProceedConfirmation',
				'setUpdatedPropertiesConfirmation',
				'setIncomingSaveCompleteValidation'
			]),
			revertOldValues: function () {
				this.setIncomingSaveCompleteValidation(false);
				this.setManufacturerSpecificStudio(this.getOldIncoming.manufacturerSpecific.studio);
				this.setManufacturerSpecificStudioId(this.getOldIncoming.manufacturerSpecific.studioId);
				this.setManufacturerSpecificProductLineId(this.getOldIncoming.manufacturerSpecific.productLineId);
				this.setManufacturerSpecificProductLine(this.getOldIncoming.manufacturerSpecific.productLine);
				$('#manufBillingConfirmationModal').modal('hide');
				this.setShowConfirmation(false);
				this.setUpdatedPropertiesConfirmation([]);
			},
			proceedSaveChanges: function () {
				this.setIncomingSaveCompleteValidation(false);
				$('#manufBillingConfirmationModal').modal('hide');
				this.setProceedConfirmation(true);
				this.setUpdatedPropertiesConfirmation([]);
			}
		}
	}
</script>