﻿<template>
	<div>
		<button id="componentName" title="Create New Component Group" class="btn btn-primary" :disabled="disableCreateBtn == 1" v-on:click="createNewComponentGroup"><i class="fa fa-plus" aria-hidden="true" style="color:white"></i> Component Group</button>
		&nbsp;	<i>{{ unusedTrackedComponentsCount }} unused component(s) found.</i>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	import api from '@/api/incoming'

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming')

	export default {
		data() {
			return {
				disableCreateBtn: false
			}
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getComponentGroupTemplate',
				'getEditToggle',
				'getEvoConfig',
				'unusedTrackedComponentsCount'
			])
		},
		methods: {
			...mapActions([
				'setEvoEditToggle',
				'availablePanel',
				'jurisdictionPanel',
				'functionalRolePanel',
				'setTrackIndividualComponents'
			]),
			createNewComponentGroup: function () {
                Loading();
				this.disableCreateBtn = true;
				let count = this.getEvoConfig.trackIndividualComponents.length == 0 ? 0 : this.getEvoConfig.trackIndividualComponents.length;
				let hasNewComponents = false;
				api.newAvailableComponents(this.getIncomingReview.projectId, _.map(this.getEvoConfig.trackIndividualComponents, "id"))
					.then(response => {
						const result = response.data;
						for (let i = 0; i < result.length; i++) {
							result[i].isUsed = -1;
							result[i].selected = false;
							result[i].index = count++;
							this.getEvoConfig.trackIndividualComponents.push(result[i]);
						}
                        if (result.length != 0 || this.unusedTrackedComponentsCount > 0) {
                            hasNewComponents = true;
                        }
					})
					.catch(e => {
                        DoneLoading();
						bootbox.alert("Unable to fetch new components. Please enter a trackit.");
					})
					.finally(x => {
						this.disableCreateBtn = false;

						if (hasNewComponents) {
							let cg = JSON.parse(JSON.stringify(this.getComponentGroupTemplate));
							cg.functionalRoles = JSON.parse(JSON.stringify(this.getIncomingReview.evolutionViewModel.functionalRoles))
							this.getIncomingReview.evolutionViewModel.componentGroups.push(cg);

							//Automatically open the newely created Component Group
							let index = this.getIncomingReview.evolutionViewModel.componentGroups.length - 1;
							let editPayload = { editIndex: index, editToggle: true };
							if (this.getEditToggle.editIndex == -1) {
								this.setEvoEditToggle(editPayload);
							} else {
								if (this.getEditToggle.editIndex == index) {
									this.setEvoEditToggle(null);
								} else {
									this.setEvoEditToggle(editPayload);
								}
							}

							//Control Collapsible Panels
							this.availablePanel(true);
							this.jurisdictionPanel(false);
							this.functionalRolePanel(false);
						} else {
                            bootbox.alert("No new component(s) are available.");
						}
                        DoneLoading();
					});
			}
		}
	}
</script>

<style scoped>
</style>