﻿<template>
	<div>
		<div class="row">
			<div class="col-sm-3 p-t-10">
				<input type="text" id="description" placeholder="Name" class="form-control" v-model="componentGroup.description" @input="updateName">
				<span v-if="this.nameField.isDirty" class="text-red">{{ this.getEvoConfig.errorMessages.nameFieldMaxLimit }}</span>
			</div>
		</div>
		<AvailableComponents class="mt-10"></AvailableComponents>
		<JurisdictionDocuments class="mt-10"></JurisdictionDocuments>
		<FunctionalRoles class="mt-10"></FunctionalRoles>
	</div>
</template>

<script>
	import JurisdictionDocuments from '@/components/incoming/JurisdictionDocument.vue';
	import FunctionalRoles from '@/components/incoming/FunctionalRole.vue';
	import AvailableComponents from '@/components/incoming/AvailableComponent.vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('incoming')

	export default {
		components: {
			JurisdictionDocuments,
			FunctionalRoles,
			AvailableComponents,
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getEditToggle',
				'getEvoConfig'
			]),
			componentGroup: function () {
				return this.getEditToggle.editIndex == -1 ? [] : this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex];
			}
		},
		data() {
			return {
				nameField: {
					isDirty: false,
					maxLength: 255
				}
			}
		},
		methods: {
			updateName: function (e) {
				const value = e.target.value
				if (value.length <= 255) {
					this.componentGroup.description = value
					this.nameField.isDirty = false;
				} else {
					this.nameField.isDirty = true;
				}
				this.$forceUpdate()
			}
		}
	}
</script>

<style scoped>

	.mt-10 {
		margin-top: 10px;
	}

	.p-t-10 {
		padding-top: 10px;
	}

	.dirty {
	  border-color: #5A5;
	  background: #EFE;
	}

	.dirty:focus {
	  outline-color: #8E8;
	}
</style>