﻿<template>
	<div id="anchor-evolution-configuration" class="row">
		<div id="save-evo-config-confirmation" class="modal" data-backdrop="static" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"><strong>Save Confirmation</strong></h4>
					</div>
					<div class="modal-body">
						<p>
							<h4>Save Evo configuration ?</h4>
							<h4><strong class="text-danger" v-show="showComponentWarning"> One or more component have been added/removed. These changes will occur immediately and will not be reversible without loss of data. Do you wish to proceed?</strong></h4>
							<h4><strong class="text-danger" v-show="getEvoConfig.potentialTasks.length > 0">This action will also create new potential tasks(s).</strong></h4>
							<h4 v-show="showComponentWarning">
								<input type="checkbox" id="answerCheckbox" v-model="preserveAnswerCheckbox">
								<label for="answerCheckbox">Add component(s) without losing answers</label>
							</h4>
						</p>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" v-on:click="closeComponentGroupsModal" >Close</button>
						<button type="button" class="btn btn-primary" v-on:click="saveComponentGroups">Proceed</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div data-toggle="collapse" data-target="#evoConfigCollapse" class="panel-heading clickable">
					<div class="row">
						<div class="col-sm-2">
							<h4 class="text-center pull-left">Evolution Configuration</h4>
						</div>
						<div class="col-sm-10 form-buttons">
							<button title="Save Evo Config" class="btn btn-primary" :disabled="disableSaveBtn == 1" v-on:click="showSaveConfirmation($event)">Save Evo Config</button>
						</div>
					</div>
				</div>
				<div id="evoConfigCollapse" class="panel-body panel-collapse collapse in">
					<div class="row" :class="{ hidden: !this.evoUpdated }">
						<div class="col-sm-12">
							<div class="alert alert-success" role="alert">
								<button type="button" class="close" @click="closeAlertSuccess"><span aria-hidden="true">&times;</span></button>
								<strong>Success!</strong> Evo Config saved!
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-horizontal">
								<ComponentGroups></ComponentGroups>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('incoming')
	import ComponentGroups from '@/components/incoming/ComponentGroup.vue';
	import api from '@/api/incoming'
	import { SUBMISSION_STATUS } from '@/common'

	export default {
		data() {
			return {
				disableSaveBtn: false,
				evoUpdated: false,
				hasFunctionIds: true,
				hasDocumentIds: true,
				hasJurisdictionIds: true,
				compGroupsToSave: [],
				errorCompGroupName: "",
				showComponentWarning: false,
				preserveAnswerCheckbox: false,
				preserveAnswers: []
			}
		},
		components: {
			ComponentGroups
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getEvoConfig',
				'copyOfTasks'
			])
		},
		mounted() {
			//Make a copy of individual components and set it to tracker
			//-1 = component not used
			//n = used by a componentgroup at index n
			this.initTracker();
			this.populateOriginalCompGroupSet();
			this.updatePreviouslySelectedJurDocs();
		},
		methods: {
			...mapActions([
				'setEvoConfig',
				'setEvoEditToggle',
				'setEvoConfigVM',
				'setTrackIndividualComponents',
				'unusedTrackedComponentsCount',
				'updateCopyOfTasks',
				'populateOriginalCompGroupSet',
				'updatePreviouslySelectedJurDocs'
			]),
			showSaveConfirmation: function (e) {
				e.stopPropagation();
				this.showComponentWarning = false;
				this.compGroupsToSave = this.getComponentGroupSet();
				let error = this.validations();
				if (error != "") {
					bootbox.alert(error);
				} else {
					if (this.getEvoConfig.originalCompGroupSet.length > 0) {
						let oldComponentsList = [];
						for (let i = 0; i < this.getEvoConfig.originalCompGroupSet.length; i++) {
							oldComponentsList.push(this.getEvoConfig.originalCompGroupSet[i].components);
						}
						let newComponentsList = [];
						let compGroupIds = [];
						for (let i = 0; i < this.getIncomingReview.evolutionViewModel.componentGroups.length; i++) {
							let currentCompGroup = this.getIncomingReview.evolutionViewModel.componentGroups[i];
							let selectedComponents = _.filter(currentCompGroup.components, function (x) { return x.selected && x.isUsed === i });
							newComponentsList.push(_.map(selectedComponents, 'id'));
							compGroupIds.push(currentCompGroup.compGroupID);
						}
						for (let i = 0; i < oldComponentsList.length; i++) {
							let matchingComponentFound = false;
							for (let j = 0; j < newComponentsList.length; j++) {
								if (_.isEqual(_.sortBy(oldComponentsList[i]), _.sortBy(newComponentsList[j]))) {
									matchingComponentFound = true;
									break;
								}
							}
							if (!matchingComponentFound) {
								let preserveAnswerModel = {
									CompIds: oldComponentsList[i],
									CreatedBy: this.getIncomingReview.currentUsername,
									InstaceCompGroupId: compGroupIds[i],
									InstanceId: this.getIncomingReview.evolutionViewModel.instanceId,
									NewCompIDs: newComponentsList[i].filter(function (el) { return oldComponentsList[i].indexOf(el) < 0; })
								}

								this.preserveAnswers.push(preserveAnswerModel);
								this.showComponentWarning = true;
							}
						}
					}
					$('#save-evo-config-confirmation').modal('show');
				}
			},
			saveComponentGroups: function () {
				$('#save-evo-config-confirmation').modal('hide');

				let payload = {
					ComponentGroups: this.compGroupsToSave,
					ProjectId: this.getIncomingReview.projectId,
					ProjectName: this.getIncomingReview.fileNumber,
					PreserveAnswer: this.preserveAnswerCheckbox,
					PreserveAnswers: this.preserveAnswers
				};

				this.evoUpdated = false;
				Loading();
				this.disableSaveBtn = true;
				api.saveComponentGroups(payload)
					.then(response => {
						const result = response.data;
						this.setEvoConfigVM(result);
						this.initTracker();
						this.setActiveComponentCounts();

						let evoTasks = _.filter(this.getEvoConfig.potentialTasks, function (task) { return task.componentGroupId != null && !task._isDeactivatedTask });
						//Add stage tasks
						for (let i = 0; i < result.protrackTasks.length; i++) {
							let taskIndex = evoTasks.findIndex(x => x.taskDefinitionId === result.protrackTasks[i].taskDefinitionId);
							if (taskIndex >= 0) {
								evoTasks[taskIndex].componentGroupId = result.protrackTasks[i].componentGroupId;
								evoTasks[taskIndex]._dirty = true;
								if (this.getIncomingReview.taskLockEnforced) {
									evoTasks[taskIndex].note = "System Note: Component group id update."
								}
							}
							else {
								this.getEvoConfig.potentialTasks.push(result.protrackTasks[i]);
							}
						}
						this.populateOriginalCompGroupSet();
						this.setEvoEditToggle(null);
						this.evoUpdated = true;
						this.updatePreviouslySelectedJurDocs();
						DoneLoading();
					})
					.catch(e => {
						DoneLoading();
						this.evoUpdated = false;
						bootbox.alert("Opps.. something went wrong please enter a trackit.");
						console.log(e.response)
					})
					.finally(x => {
						this.disableSaveBtn = false;
						this.preserveAnswerCheckbox = false;
						this.preserveAnswers = [];
					});

			},
			setActiveComponentCounts: function () {
				let tracker = this.getEvoConfig.trackIndividualComponents;
				let componentGroups = this.getIncomingReview.evolutionViewModel.componentGroups;
				for (let i = 0; i < componentGroups.length; i++) {
					let counts = 0;
					for (let j = 0; j < tracker.length; j++) {
						if (tracker[j].isUsed == i) {
							counts++;
						}
					}
					componentGroups[i].activeComponentCounts = counts;
				}
			},
			missingIndividualComponents: function () {
				let tracker = this.getEvoConfig.trackIndividualComponents;
				for (let i = 0; i < tracker.length; i++) {
					if (tracker[i].isUsed < 0 && tracker[i].status != SUBMISSION_STATUS.WD.code) {
						return true;
					}
				}
				return false;
			},
			compGroupSubmissionIds: function (currentCompoGroup, index) {
				let submissionIds = [], components = [];
				components = currentCompoGroup.components;
				for (let i = 0; i < components.length; i++) {
					if (components[i].isUsed == index) {
						submissionIds.push(components[i].id);
					}
				}
				return submissionIds;
			},
			documentIds: function (currentCompoGroup) {
				let docIds = [], jurisdictions = currentCompoGroup.jurisdictions;
				for (let i = 0; i < jurisdictions.length; i++) {
					let documents = jurisdictions[i].documents;
					for (let j = 0; j < documents.length; j++) {
						if (documents[j].selected) {
							docIds.push(documents[j].id);
						}
					}
				}
				return docIds;
			},
			functionroleIds: function (currentCompoGroup) {
				let functionalRoleIds = [], functionalRoles = currentCompoGroup.functionalRoles;
				for (let i = 0; i < functionalRoles.length; i++) {
					if (functionalRoles[i].selected) {
						functionalRoleIds.push(functionalRoles[i].id);
					}
				}
				return functionalRoleIds;
			},
			getComponentGroupSet: function () {
				this.hasFunctionIds = true;
				this.hasDocumentIds = true;
				this.hasJurisdictionIds = true;

				let compGroupSet = [], compGroups = this.getIncomingReview.evolutionViewModel.componentGroups;
				for (let i = 0; i < compGroups.length; i++) {
					let currentCompoGroup = compGroups[i];
					let compGroup = {
						CompGroupID: currentCompoGroup.compGroupID,
						Description: currentCompoGroup.description,
						SubmissionIds: this.compGroupSubmissionIds(currentCompoGroup, i),
                        JurisdictionIds: currentCompoGroup.jurisdictions.filter(x => x.selected).map(x => x.id),
						DocumentIds: this.documentIds(currentCompoGroup),
						FunctionalRoleIds: this.functionroleIds(currentCompoGroup),
						SubmissionChange: true,
						JurisdictionChange: true,
						FunctionalRoleChange: true,
						DocumentChange: true
					};
					if (compGroup.FunctionalRoleIds.length == 0) {
						this.hasFunctionIds = false;
						this.errorCompGroupName = currentCompoGroup.description;
					}
					if (compGroup.DocumentIds.length == 0) {
						this.hasDocumentIds = false;
                        this.errorCompGroupName = currentCompoGroup.description;
					}
					if (compGroup.JurisdictionIds.length == 0) {
						this.hasJurisdictionIds = false;
                        this.errorCompGroupName = currentCompoGroup.description;
					}
					compGroupSet.push(compGroup);
				}

				return compGroupSet;
			},
			hasEmptyComponentGroup: function () {
				let componentGroups = this.getIncomingReview.evolutionViewModel.componentGroups.length;
				let tracker = this.getEvoConfig.trackIndividualComponents;
				let flagArray = [];
				let count = 0;
				for (let i = 0; i < tracker.length; i++) {
					if (tracker[i].isUsed > -1) {
						flagArray[tracker[i].isUsed] = 1;
					}
				}
				for (let i = 0; i < flagArray.length; i++) {
					if (flagArray[i] != null) {
						count++;
					}
				}
				return componentGroups == count ? false : true;
			},
			hasEmptyName: function () {
				let compGroups = this.getIncomingReview.evolutionViewModel.componentGroups;
				for (let i = 0; i < compGroups.length; i++) {
					if (compGroups[i].description == null || compGroups[i].description == "") {
						return true;
					}
				}
				return false;
			},
			nameMaxlength: function () {
				let compGroups = this.getIncomingReview.evolutionViewModel.componentGroups;
				for (let i = 0; i < compGroups.length; i++) {
					if (compGroups[i].description.length > 255) {
						return true;
					}
				}
				return false;
			},
			validations: function () {
				if (this.missingIndividualComponents()) {
					return this.getEvoConfig.errorMessages.individualComponents;
				} else if (this.hasEmptyComponentGroup()) {
					return this.getEvoConfig.errorMessages.componentGroup;
				} else if (this.hasEmptyName()) {
					return this.getEvoConfig.errorMessages.emptyName;
				} else if (this.nameMaxlength()) {
					return this.getEvoConfig.errorMessages.nameFieldMaxLimit;
				} else if (!this.hasFunctionIds) {
                    return this.getEvoConfig.errorMessages.functionNotSelected + this.errorCompGroupName;
				} else if (!this.hasDocumentIds) {
                    return this.getEvoConfig.errorMessages.documentsNotSelected + this.errorCompGroupName;
				} else if (!this.hasJurisdictionIds) {
                    return this.getEvoConfig.errorMessages.jurisdictionNotSelected + this.errorCompGroupName;
				} else if (this.compGroupsToSave == null || this.compGroupsToSave.length == 0) {
					return this.getEvoConfig.errorMessages.compGroupEmpty;
                }
				return "";
			},
			closeAlertSuccess: function () {
				this.evoUpdated = false;
			},
			initTracker: function () {
				let individualCompTracker = [];
				let componentGroups = this.getIncomingReview.evolutionViewModel.componentGroups;
				if (componentGroups.length > 0) {
					let count = 0;
					for (let i = 0; i < componentGroups.length; i++) {
						let extra = componentGroups[i];
						extra.activeComponentCounts = componentGroups[i].components.length;
						if (componentGroups[i].components.length > 0) {
							let component = componentGroups[i].components.slice(0);
							for (let j = 0; j < component.length; j++) {
								let temp = component[j]
								temp.isUsed = componentGroups[i].clientId - 1;
								temp.index = count++;
								temp.selected = true;
								individualCompTracker.push(temp);
							}
						}
					}
				}
				let temp = (this.getIncomingReview.evolutionViewModel.individualComponents).slice(0);
				if (temp.length > 0) {
					let count = individualCompTracker.length ==  0 ? 0 : individualCompTracker.length;
					for (let i = 0; i < temp.length; i++) {
						temp[i].isUsed = -1;
						temp[i].selected = false;
						temp[i].index = count++;
						individualCompTracker.push(temp[i]);
					}
				}

                this.setTrackIndividualComponents(individualCompTracker);
				this.unusedTrackedComponentsCount();
			},
			closeComponentGroupsModal: function () {
				this.preserveAnswerCheckbox = false;
				this.preserveAnswers = [];
				$('#save-evo-config-confirmation').modal('hide');
			}
		}
	}
</script>

<style scoped>
	table.vgt-table {
		font-size: 12px !important;
	}
</style>