﻿<template>
	<div>
	<div id="anchor-sub-projects" class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div data-toggle="collapse" data-target="#subProjectsCollapse" class="panel-heading clickable">
					<div class="row">
						<div class="col-sm-6">
							<h3 class="panel-title">Work Requests</h3>
						</div>
					</div>
				</div>
				<div id="subProjectsCollapse" class="panel-body panel-collapse collapse in">
					<!--Form Save/Edit-->
					<div ref="subProjectModal" class="modal" tabindex="-1">
						<div class="modal-dialog modal-width">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">×</button>
									<h4 class="modal-title"><strong>{{ UK.subProject.type }} Work Request</strong></h4>
								</div>
								<div class="modal-body">
									<Form  :validator="$v.UK.subProject"
											:subProject="UK.subProject"
											:requiredOutputOptions="UK.requiredOutputOptions"
											:testHarnessOptions="UK.testHarnessOptions"
											:timePeriodOptions="UK.timePeriodOptions"
											:gameTypeOptions="UK.gameTypeOptions"
											@updateType="updateType"
											@updateAnalysisType="updateAnalysisType"
											@updatDeliveryMechanism="updatDeliveryMechanism"></Form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" @click="saveSubProject()">Save</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
								</div>
							</div>
						</div>
					</div>
					<!--Request Delete-->
					<div class="modal fade" ref="subProjectDeleteConfirmation" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title"><strong>Delete Request</strong></h4>
								</div>
								<div class="modal-body">
									<p>Are you sure you want to delete this request?</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" @click="deleteSubProject()">Yes</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="padding-bottom:15px">
						<div class="col-sm-12">
							<a href='#' class="left-right-padding" @click="addSubProject($event)"><i class="fas fa-plus"></i> Add a Request</a>
						</div>
					</div>
					<!--SubProjects-->
					<div class="row">
						<div class="table-responsive-sm" style="padding-right:100px;padding-left:100px">
							<table class="table">
								<thead>
									<tr>
										<th>Request Type</th>
										<th>Analysis Type</th>
										<th>Submission Type</th>
										<th>Requested Completion</th>
										<th>Internal URL</th>
										<th v-if="getIncomingReview.hasUKPermission"></th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="subProject in UK.subProjects">
										<td width="17%">{{ subProject.type }}</td>
										<td width="17%">{{ subProject.analysisType }}</td>
										<td width="17%">{{ subProject.gameType }}</td>
										<td width="17%">{{ subProject.requestedCompletion | formatDate }}</td>
										<td width="17%">{{ subProject.internalURL }}</td>
										<td width="15%" class="text-right"  v-if="getIncomingReview.hasUKPermission">
											<a href='#' @click="editSubProject($event,subProject.id)">Edit</a> |
											<a href='#' @click="deleteSubProjectConfirmation($event,subProject.id)">Delete</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import { MODE, SUB_PROJECT_TYPE } from '@/common'
	import SelectStandard from '@/components/utility/SelectStandard'
	import Lookup from '@/components/utility/Lookup'
	import DatePicker from '@/components/utility/DatePicker'
	import Form from '@/components/incoming/Form'
	import { required } from 'vuelidate/lib/validators'
	import api from '@/api/incoming'
	const { mapGetters, mapActions } = createNamespacedHelpers('incoming');

	export default {
		components: {
			SelectStandard,
			Lookup,
			DatePicker,
			Form
		},
		data() {
			return {
				subProjectToDelete: 0,
				watchTypeChange: null,
				subProjectTemplate: null,
				mode: MODE
			}
		},
		validations() {
			return {
				UK: {
					subProject: {
						typeId: { required },
						analysisTypeId: { required },
						gameType: { required },
						requestedCompletion: { required }
					}
				}
			}
		},
		created() {
			this.subProjectTemplate = _.clone(this.UK.subProject);
			this.watchTypeChange = this.watchType();
		},
		computed: {
			...mapGetters([
				'UK',
				'getIncomingReview'
			])
		},
		methods: {
			addSubProject: function (e) {
				e.preventDefault();
				if (!this.getIncomingReview.hasUKPermission) {
					bootbox.confirm("Permission denied. You don't have permission to add work requests. Please put a track-it.", (result) => {
					});
				} else {
					this.$v.$touch();
					this.UK.subProject.mode = MODE.ADD.id;
					this.UK.subProject.id = 0;
					this.UK.subProject.typeId = null;
					this.UK.subProject.type = "";
					this.defaultSubProject();
					$(this.$refs.subProjectModal).modal('show');
				}
			},
			saveSubProject: function () {
				this.$v.$touch();
				if (this.$v.$invalid) return;
				let context = this;
				api.saveSubProject(JSON.stringify(this.UK.subProject), this.UK.subProject.projectId)
					.then(response => context.UK.subProjects = response.data)
					.catch(e => console.info(e))
					.finally(x => $(context.$refs.subProjectModal).modal('hide'));
			},
			editSubProject: function (e, id) {
				e.preventDefault();
				this.watchTypeChange();
				let context = this;
				api.getSubProject(id)
					.then(response => context.UK.subProject = response.data)
					.catch(e => console.info(e))
					.finally(x => {
						context.UK.subProject.mode = context.mode.EDIT.id;
						context.watchTypeChange = context.watchType();
						$(context.$refs.subProjectModal).modal('show');
					});
			},
			deleteSubProjectConfirmation: function (e, id) {
				e.preventDefault();
				this.subProjectToDelete = id;
				$(this.$refs.subProjectDeleteConfirmation).modal('show');
			},
			deleteSubProject: function () {
				let context = this;
				let hasTask = false;
				api.deleteSubProject(this.subProjectToDelete, this.UK.subProject.projectId)
					.then(Response => {
						context.UK.subProjects = Response.data.result;
						hasTask = Response.data.hasTask;
					})
					.catch(e => console.info(e))
					.finally(x => {
						$(context.$refs.subProjectDeleteConfirmation).modal('hide');
						if (hasTask) {
							bootbox.confirm("Couldn't delete this request, as it is already associated with a task.", (result) => {
							});
						}
					});
			},
			updateAnalysisType: function (value) {
				if (value) this.UK.subProject.analysisType = value;
			},
			updateType: function (value) {
				if (value) this.UK.subProject.type = value;
			},
			updatDeliveryMechanism: function (value) {
				if (value) this.UK.subProject.deliveryMechanism = value;
			},
			defaultSubProject: function () {
				this.clearSubProject(this.UK.subProject);
				this.clearSubProject(this.subProjectTemplate);
				this.processSubProjects();
				this.initNewSubProject();
			},
			watchType: function() {
				return this.$watch('UK.subProject.type', (newVal, oldVal) => {
					this.defaultSubProject();
				});
			},
			clearSubProject: function (obj) {
				obj.analysisType = null;
				obj.analysisTypeId = null;
				obj.gameType = null;
				obj.gameTypeId = null;
				obj.requestedCompletion = null;
				obj.auTimePeriod = null;
				obj.backOfficeURL = null;
				obj.enAdditionalDeviceRequest = null;
				obj.enForceTool = null;
				obj.internalURL = null;
				obj.maRngType = null;
				obj.note = null;
				obj.programType = null;
				obj.testHarness = null;
				obj.testURL = null;
				obj.deliveryMechanismOptions = [];
				obj.deliveryMechanismIds = [];
				obj.projectOutputsIds = [];
				obj.projectOutputOptions = [];
			},
			processSubProjects: function () {

				//Delivery Mechanism
				let deliverychannels = [];
				let deliveryChannelsOptions = [];
				let EnRequestCount = 0;
				let commonDeliveryChannels = [];

				//Project Mechanism
				let projectOutputs = [];
				let projectOutputsOptions = [];
				let ENTACount = 0;
				let commonProjectOutputs = [];
				
				_.forEach(this.UK.subProjects, (o, i) => {
					if (o.gameType != null && o.gameType != '') this.subProjectTemplate.gameType = this.subProjectTemplate.gameType == null ? o.gameType : this.subProjectTemplate.gameType == o.gameType ? o.gameType : false;
					if (o.internalURL != null && o.internalURL != '') this.subProjectTemplate.internalURL = this.subProjectTemplate.internalURL == null ? o.internalURL : this.subProjectTemplate.internalURL == o.internalURL ? o.internalURL : false;
					if (o.requestedCompletion != null && o.requestedCompletion != '') this.subProjectTemplate.requestedCompletion = this.subProjectTemplate.requestedCompletion == null ? o.requestedCompletion : this.subProjectTemplate.requestedCompletion == o.requestedCompletion ? o.requestedCompletion : false;
					if (o.auTimePeriod != null && o.auTimePeriod != '') this.subProjectTemplate.auTimePeriod = this.subProjectTemplate.auTimePeriod == null ? o.auTimePeriod : this.subProjectTemplate.auTimePeriod == o.auTimePeriod ? o.auTimePeriod : false;
					if (o.testURL != null && o.testURL != '') this.subProjectTemplate.testURL = this.subProjectTemplate.testURL == null ? o.testURL : this.subProjectTemplate.testURL == o.testURL ? o.testURL : false;
					if (o.backOfficeURL != null && o.backOfficeURL != '') this.subProjectTemplate.backOfficeURL = this.subProjectTemplate.backOfficeURL == null ? o.backOfficeURL : this.subProjectTemplate.backOfficeURL == o.backOfficeURL ? o.backOfficeURL : false;
					if (o.enForceTool != null && o.enForceTool != '') this.subProjectTemplate.enForceTool = this.subProjectTemplate.enForceTool == null ? o.enForceTool : this.subProjectTemplate.enForceTool == o.enForceTool ? o.enForceTool : false;
					if (o.enAdditionalDeviceRequest != null && o.enAdditionalDeviceRequest != '') this.subProjectTemplate.enAdditionalDeviceRequest = this.subProjectTemplate.enAdditionalDeviceRequest == null ? o.enAdditionalDeviceRequest : this.subProjectTemplate.enAdditionalDeviceRequest == o.enAdditionalDeviceRequest ? o.enAdditionalDeviceRequest : false;
					if (o.testHarness != null && o.testHarness != '') this.subProjectTemplate.testHarness = this.subProjectTemplate.testHarness == null ? o.testHarness : this.subProjectTemplate.testHarness == o.testHarness ? o.testHarness : false;

					//Delivery Mechanism
					if (o.deliveryMechanismIds != null && o.deliveryMechanismIds.length > 0) {
						deliverychannels = deliverychannels.concat(o.deliveryMechanismIds);
						EnRequestCount++;
					}
					if (o.deliveryMechanismOptions != null && o.deliveryMechanismOptions.length > 0) deliveryChannelsOptions = deliveryChannelsOptions.concat(o.deliveryMechanismOptions);

					//Project Outputs
					if (o.projectOutputsIds != null && o.projectOutputsIds.length > 0) {
						projectOutputs = projectOutputs.concat(o.projectOutputsIds);
						ENTACount++;
					}
					if (o.projectOutputOptions != null && o.projectOutputOptions.length > 0) projectOutputsOptions = projectOutputsOptions.concat(o.projectOutputOptions);
				});

				//Delivery Mechanism
				deliverychannels = _.countBy(deliverychannels);
				_.forEach(deliverychannels, (o, i) => { if (o == EnRequestCount) commonDeliveryChannels.push(i); });
				if (commonDeliveryChannels.length > 0) {
					_.forEach(commonDeliveryChannels, o => {
						this.subProjectTemplate.deliveryMechanismIds.push(o);
						var deliveryOptions = _.find(deliveryChannelsOptions, { 'value': o });
						this.subProjectTemplate.deliveryMechanismOptions.push(deliveryOptions);
					});
				}

				//Project Outputs
				projectOutputs = _.countBy(projectOutputs);
				_.forEach(projectOutputs, (o, i) => { if (o == ENTACount) commonProjectOutputs.push(i); });
				if (commonProjectOutputs.length > 0) {
					_.forEach(commonProjectOutputs, o => {
						this.subProjectTemplate.projectOutputsIds.push(o);
						var projectOutputOption = _.find(projectOutputsOptions, { 'value': o });
						this.subProjectTemplate.projectOutputOptions.push(projectOutputOption);
					});
				}
			},
			initNewSubProject: function () {
				switch (this.UK.subProject.typeId) {
					case SUB_PROJECT_TYPE.EN.id.toString():
						this.initCommonFields();
						if (this.subProjectTemplate.testURL) this.UK.subProject.testURL = this.subProjectTemplate.testURL;
						if (this.subProjectTemplate.backOfficeURL) this.UK.subProject.backOfficeURL = this.subProjectTemplate.backOfficeURL;
						if (this.subProjectTemplate.enForceTool) this.UK.subProject.enForceTool = this.subProjectTemplate.enForceTool;
						if (this.subProjectTemplate.enAdditionalDeviceRequest) this.UK.subProject.enAdditionalDeviceRequest = this.subProjectTemplate.enAdditionalDeviceRequest;
						if (this.subProjectTemplate.deliveryMechanismIds.length > 0) {
							_.forEach(this.subProjectTemplate.deliveryMechanismIds, o => { this.UK.subProject.deliveryMechanismIds.push(o)});
							_.forEach(this.subProjectTemplate.deliveryMechanismOptions, o => { this.UK.subProject.deliveryMechanismOptions.push(o) });
						};
						if (this.subProjectTemplate.projectOutputsIds.length > 0) {
							_.forEach(this.subProjectTemplate.projectOutputsIds, o => { this.UK.subProject.projectOutputsIds.push(o) });
							_.forEach(this.subProjectTemplate.projectOutputOptions, o => { this.UK.subProject.projectOutputOptions.push(o) });
						};
						break;
					case SUB_PROJECT_TYPE.TA.id.toString():
						this.initCommonFields();
						if (this.subProjectTemplate.testURL) this.UK.subProject.testURL = this.subProjectTemplate.testURL;
						if (this.subProjectTemplate.backOfficeURL) this.UK.subProject.backOfficeURL = this.subProjectTemplate.backOfficeURL;
						if (this.subProjectTemplate.testHarness) this.UK.subProject.testHarness = this.subProjectTemplate.testHarness;
						if (this.subProjectTemplate.projectOutputsIds.length > 0) {
							_.forEach(this.subProjectTemplate.projectOutputsIds, o => { this.UK.subProject.projectOutputsIds.push(o) });
							_.forEach(this.subProjectTemplate.projectOutputOptions, o => { this.UK.subProject.projectOutputOptions.push(o) });
						};
						break;
					case SUB_PROJECT_TYPE.AU.id.toString():
						this.initCommonFields();
						if (this.subProjectTemplate.auTimePeriod) this.UK.subProject.auTimePeriod = this.subProjectTemplate.auTimePeriod;
						break;
					case null:
						this.initCommonFields();
						break;
				}
			},
			initCommonFields: function () {
				if (this.subProjectTemplate.gameType) this.UK.subProject.gameType = this.subProjectTemplate.gameType;
				if (this.subProjectTemplate.internalURL) this.UK.subProject.internalURL = this.subProjectTemplate.internalURL;
				if (this.subProjectTemplate.requestedCompletion) this.UK.subProject.requestedCompletion = this.subProjectTemplate.requestedCompletion;
			}
		}
	}
</script>

<style scoped>
	.left-right-padding{
		padding-left: 10px;
		padding-right:10px;
	}

	.custom-caption {
		font-weight: bold;
		color: black;
	}

	.modal-width {
		width: 800px;
	}
</style>