﻿<template>
	<div class="form-horizontal">
		<div class="form-group form-group-sm">
			<label class="control-label col-sm-3">Request Type</label>
			<div v-if="mode.ADD.id == subProject.mode" class="col-sm-8">
				<input type="hidden" v-model="subProject.type" />
				<Lookup :lookuptextfield="subProject.type" @updateLookupTextField="updateType" lookupajax="Teams" v-model="subProject.typeId" data-allow-clear="false" />
				<span class="field-validation-error" v-if="validator.typeId.$error && !validator.typeId.required">Request Type is required</span>
			</div>
			<div v-else>
				<label class="form-control-static padding-left-15">{{subProject.type}}</label>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<label class="control-label col-sm-3">Analysis Type</label>
			<div class="col-sm-8">
				<input type="hidden" v-model="subProject.analysisType" />
				<Lookup :lookuptextfield="subProject.analysisType" @updateLookupTextField="updateAnalysisType" lookupajax="AnalysisType" v-model="subProject.analysisTypeId" data-allow-clear="false" :filter="analysisTypeFilter" />
				<span class="field-validation-error" v-if="validator.analysisTypeId.$error && !validator.analysisTypeId.required">Analysis Type is required</span>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<label class="control-label col-sm-3">Game Type</label>
			<div class="col-sm-8">
				<SelectStandard v-model="subProject.gameType" :options="gameTypeOptions" class="form-control" />
				<span class="field-validation-error" v-if="validator.gameType.$error && !validator.gameType.required">Game Type is required</span>
			</div>
		</div>
		<div v-if="subProject.typeId == subProjectTypes.AU.id" class="form-group form-group-sm">
			<label class="control-label col-sm-3">Time Period</label>
			<div class="col-sm-8">
				<SelectStandard v-model="subProject.auTimePeriod" :options="timePeriodOptions" class="form-control" />
			</div>
		</div>
		<div v-if="subProject.typeId == subProjectTypes.TA.id" class="form-group form-group-sm">
			<label class="control-label col-sm-3">Test Harness</label>
			<div class="col-sm-8">
				<SelectStandard v-model="subProject.testHarness" :options="testHarnessOptions" class="form-control" />
			</div>
		</div>
		<div v-if="subProject.typeId == subProjectTypes.EN.id" class="form-group form-group-sm">
			<label class="control-label col-sm-3">Delivery Channels</label>
			<div class="col-sm-8">
				<LookupMultiple id="DeliveryMechanismIds" name="DeliveryMechanismIds" lookupajax="DeliveryMechanism" v-model="subProject.deliveryMechanismIds" :options="subProject.deliveryMechanismOptions" class="form-control" />
			</div>
		</div>
		<div v-if="subProject.typeId == subProjectTypes.EN.id || subProject.typeId == subProjectTypes.TA.id" class="form-group form-group-sm">
			<label class="control-label col-sm-3">Outputs Required</label>
			<div class="col-sm-8">
				<LookupMultiple id="ProjectOutputsIds" name="ProjectOutputsIds" lookupajax="ProjectOutputs" v-model="subProject.projectOutputsIds" :options="subProject.projectOutputOptions" class="form-control" />
			</div>
		</div>
		<div class="form-group form-group-sm">
			<label class="control-label col-sm-3">Requested Completion</label>
			<div class="col-sm-4">
				<DatePicker v-model="subProject.requestedCompletion" />
				<span class="field-validation-error" v-if="validator.requestedCompletion.$error && !validator.requestedCompletion.required">Request Completion is required</span>
			</div>
		</div>
		<div v-if="subProject.typeId == subProjectTypes.EN.id || subProject.typeId == subProjectTypes.TA.id" class="form-group form-group-sm">
			<label class="control-label col-sm-3">Test URL</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="1" v-model="subProject.testURL"></textarea>
			</div>
		</div>
		<div v-if="subProject.typeId == subProjectTypes.EN.id || subProject.typeId == subProjectTypes.TA.id" class="form-group form-group-sm">
			<label class="control-label col-sm-3">Backoffice URL</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="1" v-model="subProject.backOfficeURL"></textarea>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<label class="control-label col-sm-3">Internal URL</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="1" v-model="subProject.internalURL"></textarea>
			</div>
		</div>
		<div v-if="subProject.typeId == subProjectTypes.EN.id" class="form-group form-group-sm">
			<label class="control-label col-sm-3">Force Tool</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="2" v-model="subProject.enForceTool"></textarea>
			</div>
		</div>
		<div v-if="subProject.typeId == subProjectTypes.EN.id" class="form-group form-group-sm">
			<label class="control-label col-sm-3">Additional Device Request</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="2" v-model="subProject.enAdditionalDeviceRequest"></textarea>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<label class="control-label col-sm-3">Notes</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="2" v-model="subProject.note"></textarea>
			</div>
		</div>
	</div>
</template>

<script>
	import { SUB_PROJECT_TYPE, MODE } from '@/common'
	import SelectStandard from '@/components/utility/SelectStandard'
	import Lookup from '@/components/utility/Lookup'
	import LookupMultiple from '@/components/utility/LookupMultiple'
	import DatePicker from '@/components/utility/DatePicker'
	import { required } from 'vuelidate/lib/validators'

	export default {
		props: {
			subProject: Object,
			validator: Object,
			requiredOutputOptions: Array,
			testHarnessOptions: Array,
			timePeriodOptions: Array,
			gameTypeOptions: Array
		},
		components: {
			SelectStandard,
			Lookup,
			DatePicker,
			LookupMultiple
		},
		data() {
			return {
				subProjectTypes: SUB_PROJECT_TYPE,
				mode: MODE
			}
		},
		computed: {
			analysisTypeFilter: function () {
				return {
					TeamId: this.subProject.typeId
				}
			}
		},
		methods: {
			updateType: function (value) {
				if (value) {
					this.$emit('updateType', value);
				}
			},
			updateAnalysisType: function (value) {
				if (value) {
					this.$emit('updateAnalysisType', value);
				}
			},
			updatDeliveryMechanism: function (value) {
				if (value) {
					this.$emit('updatDeliveryMechanism', value);
				}
			}
		}
	}
</script>

<style scoped>
	.padding-left-15 {
		padding-left:15px;
	}
</style>