﻿<template>
	<div>
		<div ref="functionalroleModal" class="modal fade" id="functionalroleModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"><strong>Import Functional Roles</strong></h5>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-3">
								<input v-model="filenumber" type="text" placeholder="Enter File Number" class="form-control" />
							</div>
							<div class="col-sm-2">
								<button type="button" class="btn btn-primary btn-sm" @click="loadComponentGroup">Load Component Groups</button>
							</div>
							<div class="col-sm-7">
								<button type="button" class="btn btn-primary btn-sm pull-right" @click="importFunctionalRoles">Import selected functional roles</button>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-sm-7">
								<table class="table">
									<thead>
										<tr>
											<th scope="col" width="10%">Select</th>
											<th scope="col" width="40%">ComponentGroup Description</th>
											<th scope="col" width="50%">Components</th>
										</tr>
									</thead>
									<tbody>
										<tr scope="row" v-for="(compGroup, index) in searchedComponentGroups">
											<td><input type="radio" name="selectedComponentGroup" v-model="selectedComponentGroup" :value="index" /></td>
											<td>{{ compGroup.compGroupDescription }}</td>
											<td>
												<table class="table">
													<tbody>
														<tr scope="row" v-for="component in compGroup.components">
															<td class="noborder">{{ component }}</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-5">
								<div class="row">
									<div class="col-sm-8">
										<h4><strong>Functional Roles</strong></h4>
									</div>
									<div class="col-sm-4">
										<div class="pull-right"><input type="checkbox" :checked="selectedFunctionalRoles.length != 0 && compGroupFunctionalRoles.length == selectedFunctionalRoles.length" v-on:click="selectAllFunctionalRoles($event)" /> <i>Select all</i></div>
									</div>
								</div>
								<table class="table">
									<tbody>
										<tr v-if="selectedComponentGroup == -1">
											<i style="color:grey">{{ functionalRoleMessage }}</i>
										</tr>
										<tr v-else scope="row" v-for="compGroupFuncRole in compGroupFunctionalRoles">
											<td>
												<input type="checkbox" :checked="isFunctionRoleSelected(compGroupFuncRole.id)" v-on:click="onFunctionalRoleClick($event,compGroupFuncRole.id)" />
											</td>
											<td>
												{{ compGroupFuncRole.code }}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="functional-components" class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading" @click="functionalRoleClick" style="cursor:pointer">
						<div class="row">
							<div class="col-sm-6">
								<h3 class="panel-title">Functional Roles</h3>
							</div>
						</div>
					</div>
					<div ref="functionalRoleCollapse">
						<div class="row">
							<div class="col-sm-12">
								<label v-if="isLocked" class="control-label italic"><i class="fas fa-info-circle" title="In order to select/deselect any functional role(s), please click on the lock icon of this component group"></i> Unlock this component group to make any changes</label>
							</div>
						</div>
						<div class="row top-bottom-5">
							<div class="col-sm-12">
								<label>Import Functional Roles: </label>
								<button :disabled="isLocked" title="Import Functional Roles" class="btn btn-primary" data-toggle="modal" data-target="#functionalroleModal"> Import Functional Roles <i class="fa fa-download"></i></button>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-horizontal">
									<div class="row">
										<div class="col-sm-12">
											<div class="panel panel-default">
												<div data-toggle="collapse" data-target="#iGamingCollapse" class="panel-heading clickable functional-roles-bgColor">
													<div class="row">
														<div class="col-sm-6">
															<h3 class="panel-title">iGaming</h3>
														</div>
													</div>
												</div>
												<div id="iGamingCollapse" class="panel-body panel-collapse collapse mtblr">
													<div class="col-sm-12">
														<div class="form-horizontal">
															<div class="form-group form-group-sm mtblr">
																<div class="col-sm-12 checkbox">
																	<label class="right-margin"><input type="checkbox" :disabled="isLocked" v-model="iGamingSelectAll" v-on:click="selectAll($event, iGaming)"><strong>Select All</strong></label>
																	<a href="#!" class="right-margin" v-on:click="clearAll(iGaming, iGamingType)"><strong>Clear</strong></a>
																	<p class="right-margin" style="display:inline; color: #d3aa3b;"> {{ iGamingRowCount }} row selected</p>
																</div>
															</div>
															<vue-good-table ref="igaming-table"
																			:columns="columns"
																			:rows="this.iGaming"
																			class="bm-20"
																			max-height="500px"
																			:fixed-header="true">
																<template slot="table-row" slot-scope="props">
																	<span v-if="props.column.field == 'checkbox'">
																		<input type="checkbox" :disabled="isLocked" :checked="iGaming[props.row.originalIndex].selected" v-on:click="onCheckBoxClick(props)" />
																	</span>
																	<span v-if="props.column.field == 'Name'">
																		{{props.formattedRow[props.column.field]}}
																	</span>
																	<span v-else>
																		{{props.formattedRow[props.column.field]}}
																	</span>
																</template>
															</vue-good-table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="panel panel-default">
												<div data-toggle="collapse" data-target="#gamingDeviceSoftwareCollapse" class="panel-heading clickable functional-roles-bgColor">
													<div class="row">
														<div class="col-sm-6">
															<h3 class="panel-title">Device Software</h3>
														</div>
													</div>
												</div>
												<div id="gamingDeviceSoftwareCollapse" class="panel-body panel-collapse collapse">
													<div class="form-horizontal">
														<div class="form-group form-group-sm mtblr">
															<div class="col-sm-12 checkbox">
																<label class="right-margin"><input type="checkbox" :disabled="isLocked" v-model="gamingDeviceSoftwareSelectAll" v-on:click="selectAll($event, gamingDeviceSoftware)"><strong>Select All</strong></label>
																<a href="#!" class="right-margin" v-on:click="clearAll(gamingDeviceSoftware, gamingDeviceSoftwareType)"><strong>Clear</strong></a>
																<p class="right-margin" style="display:inline; color: #d3aa3b;"> {{ gamingDeviceSoftwareRowCount }} row selected</p>
															</div>
														</div>
														<vue-good-table ref="gamingDeviceSoftware-table"
																		:columns="columns"
																		:rows="this.gamingDeviceSoftware"
																		class="bm-20"
																		max-height="500px"
																		:fixed-header="true">
															<template slot="table-row" slot-scope="props">
																<span v-if="props.column.field == 'checkbox'">
																	<input type="checkbox" :disabled="isLocked" :checked="gamingDeviceSoftware[props.row.originalIndex].selected" v-on:click="onCheckBoxClick(props)" />
																</span>
																<span v-if="props.column.field == 'Name'">
																	{{props.formattedRow[props.column.field]}}
																</span>
																<span v-else>
																	{{props.formattedRow[props.column.field]}}
																</span>
															</template>
														</vue-good-table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="panel panel-default">
												<div data-toggle="collapse" data-target="#gamingDeviceHardwareCollapse" class="panel-heading clickable functional-roles-bgColor">
													<div class="row">
														<div class="col-sm-6">
															<h3 class="panel-title">Gaming Device Hardware</h3>
														</div>
													</div>
												</div>
												<div id="gamingDeviceHardwareCollapse" class="panel-body panel-collapse collapse">
													<div class="form-horizontal">
														<div class="form-group form-group-sm mtblr">
															<div class="col-sm-12 checkbox">
																<label class="right-margin"><input type="checkbox" :disabled="isLocked" v-model="gamingDeviceHardwareSelectAll" v-on:click="selectAll($event, gamingDeviceHardware)"><strong>Select All</strong></label>
																<a href="#!" class="right-margin" v-on:click="clearAll(gamingDeviceHardware, gamingDeviceHardwareType)"><strong>Clear</strong></a>
																<p class="right-margin" style="display:inline; color: #d3aa3b;"> {{ gamingDeviceHardwareRowCount }} row selected</p>
															</div>
														</div>
														<vue-good-table ref="gamingDeviceHardware-table"
																		:columns="columns"
																		:rows="this.gamingDeviceHardware"
																		class="bm-20"
																		max-height="500px"
																		:fixed-header="true">
															<template slot="table-row" slot-scope="props">
																<span v-if="props.column.field == 'checkbox'">
																	<input type="checkbox" :disabled="isLocked" :checked="gamingDeviceHardware[props.row.originalIndex].selected" v-on:click="onCheckBoxClick(props)" />
																</span>
																<span v-if="props.column.field == 'Name'">
																	{{props.formattedRow[props.column.field]}}
																</span>
																<span v-else>
																	{{props.formattedRow[props.column.field]}}
																</span>
															</template>
														</vue-good-table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="panel panel-default">
												<div data-toggle="collapse" data-target="#informationSystemsSecurityCollapse" class="panel-heading clickable functional-roles-bgColor">
													<div class="row">
														<div class="col-sm-6">
															<h3 class="panel-title">Information Systems Security</h3>
														</div>
													</div>
												</div>
												<div id="informationSystemsSecurityCollapse" class="panel-body panel-collapse collapse">
													<div class="form-horizontal">
														<div class="form-group form-group-sm mtblr">
															<div class="col-sm-12 checkbox">
																<label class="right-margin"><input type="checkbox" :disabled="isLocked" v-model="informationSystemsSecuritySelectAll" v-on:click="selectAll($event, informationSystemsSecurity)"><strong>Select All</strong></label>
																<a href="#!" class="right-margin" v-on:click="clearAll(informationSystemsSecurity, informationSystemsSecurityType)"><strong>Clear</strong></a>
																<p class="right-margin" style="display:inline; color: #d3aa3b;"> {{ informationSystemsSecurityRowCount }} row selected</p>
															</div>
														</div>
														<vue-good-table ref="informationSystemsSecurity-table"
																		:columns="columns"
																		:rows="this.informationSystemsSecurity"
																		class="bm-20"
																		max-height="500px"
																		:fixed-header="true">
															<template slot="table-row" slot-scope="props">
																<span v-if="props.column.field == 'checkbox'">
																	<input type="checkbox" :disabled="isLocked" :checked="informationSystemsSecurity[props.row.originalIndex].selected" v-on:click="onCheckBoxClick(props)" />
																</span>
																<span v-if="props.column.field == 'Name'">
																	{{props.formattedRow[props.column.field]}}
																</span>
																<span v-else>
																	{{props.formattedRow[props.column.field]}}
																</span>
															</template>
														</vue-good-table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="panel panel-default">
												<div data-toggle="collapse" data-target="#randomNumberGenCollapse" class="panel-heading clickable functional-roles-bgColor">
													<div class="row">
														<div class="col-sm-6">
															<h3 class="panel-title">Random Number Generator</h3>
														</div>
													</div>
												</div>
												<div id="randomNumberGenCollapse" class="panel-body panel-collapse collapse">
													<div class="form-horizontal">
														<div class="form-group form-group-sm mtblr">
															<div class="col-sm-12 checkbox">
																<label class="right-margin"><input type="checkbox" :disabled="isLocked" v-model="randomNumberGeneratorSelectAll" v-on:click="selectAll($event, randomNumberGenerator)"><strong>Select All</strong></label>
																<a href="#!" class="right-margin" v-on:click="clearAll(randomNumberGenerator, randomNumberGeneratorType)"><strong>Clear</strong></a>
																<p class="right-margin" style="display:inline; color: #d3aa3b;"> {{ randomNumberGeneratorRowCount }} row selected</p>
															</div>
														</div>
														<vue-good-table ref="randomNumberGenCollapse-table"
																		:columns="columns"
																		:rows="this.randomNumberGenerator"
																		class="bm-20"
																		max-height="500px"
																		:fixed-header="true">
															<template slot="table-row" slot-scope="props">
																<span v-if="props.column.field == 'checkbox'">
																	<input type="checkbox" :disabled="isLocked" :checked="randomNumberGenerator[props.row.originalIndex].selected" v-on:click="onCheckBoxClick(props)" />
																</span>
																<span v-if="props.column.field == 'Name'">
																	{{props.formattedRow[props.column.field]}}
																</span>
																<span v-else>
																	{{props.formattedRow[props.column.field]}}
																</span>
															</template>
														</vue-good-table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="panel panel-default">
												<div data-toggle="collapse" data-target="#iGamingPlatformCollapse" class="panel-heading clickable functional-roles-bgColor">
													<div class="row">
														<div class="col-sm-6">
															<h3 class="panel-title">iGaming Platform</h3>
														</div>
													</div>
												</div>
												<div id="iGamingPlatformCollapse" class="panel-body panel-collapse collapse">
													<div class="form-horizontal">
														<div class="form-group form-group-sm mtblr">
															<div class="col-sm-12 checkbox">
																<label class="right-margin"><input type="checkbox" :disabled="isLocked" v-model="iGamingPlatformSelectAll" v-on:click="selectAll($event, iGamingPlatform)"><strong>Select All</strong></label>
																<a href="#!" class="right-margin" v-on:click="clearAll(iGamingPlatform, iGamingPlatformType)"><strong>Clear</strong></a>
																<p class="right-margin" style="display:inline; color: #d3aa3b;"> {{ iGamingPlatformRowCount }} row selected</p>
															</div>
														</div>
														<vue-good-table ref="iGamingPlatform-table"
																		:columns="columns"
																		:rows="this.iGamingPlatform"
																		class="bm-20"
																		max-height="500px"
																		:fixed-header="true">
															<template slot="table-row" slot-scope="props">
																<span v-if="props.column.field == 'checkbox'">
																	<input type="checkbox" :disabled="isLocked" :checked="iGamingPlatform[props.row.originalIndex].selected" v-on:click="onCheckBoxClick(props)" />
																</span>
																<span v-if="props.column.field == 'Name'">
																	{{props.formattedRow[props.column.field]}}
																</span>
																<span v-else>
																	{{props.formattedRow[props.column.field]}}
																</span>
															</template>
														</vue-good-table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="panel panel-default">
												<div data-toggle="collapse" data-target="#systemCollapse" class="panel-heading clickable functional-roles-bgColor">
													<div class="row">
														<div class="col-sm-6">
															<h3 class="panel-title">System</h3>
														</div>
													</div>
												</div>
												<div id="systemCollapse" class="panel-body panel-collapse collapse">
													<div class="form-horizontal">
														<div class="form-group form-group-sm mtblr">
															<div class="col-sm-12 checkbox">
																<label class="right-margin"><input type="checkbox" :disabled="isLocked" v-model="systemSelectAll" v-on:click="selectAll($event, system)"><strong>Select All</strong></label>
																<a href="#!" class="right-margin" v-on:click="clearAll(system, systemType)"><strong>Clear</strong></a>
																<p class="right-margin" style="display:inline; color: #d3aa3b;"> {{ systemRowCount }} row selected</p>
															</div>
														</div>
														<vue-good-table ref="system-table"
																		:columns="columns"
																		:rows="this.system"
																		class="bm-20"
																		max-height="500px"
																		:fixed-header="true">
															<template slot="table-row" slot-scope="props">
																<span v-if="props.column.field == 'checkbox'">
																	<input type="checkbox" :disabled="isLocked" :checked="system[props.row.originalIndex].selected" v-on:click="onCheckBoxClick(props)" />
																</span>
																<span v-if="props.column.field == 'Name'">
																	{{props.formattedRow[props.column.field]}}
																</span>
																<span v-else>
																	{{props.formattedRow[props.column.field]}}
																</span>
															</template>
														</vue-good-table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('incoming')
	import { VueGoodTable } from 'vue-good-table';
	import { VueGoodTablePlugin } from 'vue-good-table'
	import 'vue-good-table/dist/vue-good-table.min.css'
	import api from '@/api/incoming'

	export default {
		components: {
			VueGoodTable
		},
		data() {
			return {
				iGamingSelectAll: false,
				gamingDeviceSoftwareSelectAll: false,
				gamingDeviceHardwareSelectAll: false,
				informationSystemsSecuritySelectAll: false,
				randomNumberGeneratorSelectAll: false,
				iGamingPlatformSelectAll: false,
				systemSelectAll: false,
				iGamingRowCount: 0,
				gamingDeviceSoftwareRowCount: 0,
				gamingDeviceHardwareRowCount: 0,
				informationSystemsSecurityRowCount: 0,
				randomNumberGeneratorRowCount: 0,
				iGamingPlatformRowCount: 0,
				systemRowCount: 0,
				columns: [
					{
						field: 'checkbox',
						width: '2%',
						filterOptions: {
							enabled: false
						}
					},
					{
						label: 'Name',
						width: '15%',
						field: 'code',
						filterOptions: {
							enabled: true,
							placeholder: 'Filter Name',
						}
					},
					{
						label: 'Description',
						width: '90%',
						field: 'description',
						filterOptions: {
							enabled: true,
							placeholder: 'Filter Description',
						}
					}
				],
				filenumber: "",
				searchedComponentGroups: [],
				selectedComponentGroup: -1,
				functionalRoleMessage: "Select a component group to populate functional roles"
			}
		},
		mounted() {
			this.$refs.functionalRoleCollapse.classList.add("collapse");
			this.$refs.functionalRoleCollapse.classList.add("panel-body");
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getEditToggle',
				'getEvoConfig'
			]),
			functionalRoles: function () {
				return this.getEditToggle.editIndex == -1 ? [] : this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles;
			},
			iGaming: function () {
				return this.getEditToggle.editIndex == -1 ? [] : this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles.filter(function (x) { return (x.categoryId == IGAMINGGAMESFUNCTIONALROLECATEGORYID || x.categoryId == ENGINEERINGDEPARTMENTID) });
			},
			gamingDeviceSoftware: function () {
				return this.getEditToggle.editIndex == -1 ? [] : this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles.filter(function (x) { return x.categoryId == GAMINGDEVICESOFTWARECATEGORYID || x.categoryId == MATHDEPARTMENTID });
			},
			gamingDeviceHardware: function () {
				return this.getEditToggle.editIndex == -1 ? [] : this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles.filter(function (x) { return x.categoryId == GAMINGDEVICEHARDWARECATEGORYID });
			},
			informationSystemsSecurity: function () {
				return this.getEditToggle.editIndex == -1 ? [] : this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles.filter(function (x) { return x.categoryId == INFORMATIONSYSTEMSSECURITYCATEGORYID });
			},
			randomNumberGenerator: function () {
				return this.getEditToggle.editIndex == -1 ? [] : this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles.filter(function (x) { return x.categoryId == RANDOMNUMBERGENERATORSCATEGORYID });
			},
			iGamingPlatform: function () {
				return this.getEditToggle.editIndex == -1 ? [] : this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles.filter(function (x) { return x.categoryId == IGAMINGPLATFORMCATEGORYID });
			},
			system: function () {
				return this.getEditToggle.editIndex == -1 ? [] : this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles.filter(function (x) { return x.categoryId == SYSTEMCATEGORYID });
			},
			iGamingType: function () {
				return IGAMINGGAMESFUNCTIONALROLECATEGORYID;
			},
			gamingDeviceSoftwareType: function () {
				return GAMINGDEVICESOFTWARECATEGORYID;
			},
			gamingDeviceHardwareType: function () {
				return GAMINGDEVICEHARDWARECATEGORYID;
			},
			informationSystemsSecurityType: function () {
				return INFORMATIONSYSTEMSSECURITYCATEGORYID;
			},
			randomNumberGeneratorType: function () {
				return RANDOMNUMBERGENERATORSCATEGORYID;
			},
			iGamingPlatformType: function () {
				return IGAMINGPLATFORMCATEGORYID;
			},
			systemType: function () {
				return SYSTEMCATEGORYID;
			},
			isLocked: function () {
				if (this.getEditToggle.editIndex > -1) {
					return this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].locked;
				}
				return true;
			},
			compGroupFunctionalRoles: function () {
				if (this.selectedComponentGroup >= 0) {
					return _.filter(this.searchedComponentGroups[this.selectedComponentGroup].functionalRoles, ['selected', true]);
				}
				return [];
			},
			selectedFunctionalRoles: function () {
				if (this.selectedComponentGroup >= 0) {
					return this.searchedComponentGroups[this.selectedComponentGroup].functionalRoleIds;
				}
				return [];
			}
		},
		watch: {
			iGaming: {
				handler(val) {
					this.CountRows(this.iGaming, this.iGamingType);
					this.iGamingSelectAll = this.toggleSelectCheckbox(this.iGaming, this.iGamingRowCount);
				},
				deep: true
			},
			gamingDeviceSoftware: {
				handler(val) {
					this.CountRows(this.gamingDeviceSoftware, this.gamingDeviceSoftwareType);
					this.gamingDeviceSoftwareSelectAll = this.toggleSelectCheckbox(this.gamingDeviceSoftware, this.gamingDeviceSoftwareRowCount);
				},
				deep: true
			},
			gamingDeviceHardware: {
				handler(val) {
					this.CountRows(this.gamingDeviceHardware, this.gamingDeviceHardwareType);
					this.gamingDeviceHardwareSelectAll = this.toggleSelectCheckbox(this.gamingDeviceHardware, this.gamingDeviceHardwareRowCount);
				},
				deep: true
			},
			informationSystemsSecurity: {
				handler(val) {
					this.CountRows(this.informationSystemsSecurity, this.informationSystemsSecurityType);
					this.informationSystemsSecuritySelectAll = this.toggleSelectCheckbox(this.informationSystemsSecurity, this.informationSystemsSecurityRowCount);
				},
				deep: true
			},
			randomNumberGenerator: {
				handler(val) {
					this.CountRows(this.randomNumberGenerator, this.randomNumberGeneratorType);
					this.randomNumberGeneratorSelectAll = this.toggleSelectCheckbox(this.randomNumberGenerator, this.randomNumberGeneratorRowCount);
				},
				deep: true
			},
			iGamingPlatform: {
				handler(val) {
					this.CountRows(this.iGamingPlatform, this.iGamingPlatformType);
					this.iGamingPlatformSelectAll = this.toggleSelectCheckbox(this.iGamingPlatform, this.iGamingPlatformRowCount);
				},
				deep: true
			},
			system: {
				handler(val) {
					this.CountRows(this.system, this.systemType);
					this.systemSelectAll = this.toggleSelectCheckbox(this.system, this.systemRowCount);
				},
				deep: true
			},
			'getEvoConfig.collapsiblePanel.functionalroles': function (val) {
				if (val) {
					//Open Collapsible Panel
					this.$refs.functionalRoleCollapse.classList.add("in");
				} else {
					//Close Collapsible Panel
					this.$refs.functionalRoleCollapse.classList.remove("in");
				}
			},
		},
		methods: {
			...mapActions([
				'functionalRolePanel',
				'availablePanel',
				'jurisdictionPanel',
				'potentialTaskPanel'
			]),
			toggleSelectCheckbox(functionalRole, count) {
				let f = functionalRole;
				let result = false;
				if (f.length == count && f.length > 0) {
					result = true;
				} else {
					result = false;
				}
				return result;
			},
			selectAll: function (event, functionalRole) {
				let f = functionalRole;
				if (event.target.checked) {
					this.selected(f, true);
				} else {
					this.selected(f, false);
				}
			},
			clearAll: function (functionalRole, type) {
				if (this.isLocked) {
					return false;
				}
				let f = functionalRole;
				this.selected(f, false);
				if (type == IGAMINGGAMESFUNCTIONALROLECATEGORYID) {
					this.iGamingSelectAll = false;
				} else if (type == GAMINGDEVICESOFTWARECATEGORYID) {
					this.gamingDeviceSoftwareSelectAll = false;
				} else if (type == GAMINGDEVICEHARDWARECATEGORYID) {
					this.gamingDeviceHardwareSelectAll = false;
				} else if (type == INFORMATIONSYSTEMSSECURITYCATEGORYID) {
					this.informationSystemsSecuritySelectAll = false;
				} else if (type == RANDOMNUMBERGENERATORSCATEGORYID) {
					this.randomNumberGeneratorSelectAll = false;
				} else if (type == IGAMINGPLATFORMCATEGORYID) {
					this.iGamingPlatformSelectAll = false;
				} else if (type == SYSTEMCATEGORYID) {
					this.systemSelectAll = false;
				}
			},
			selected: function (functionalRole, bool) {
				for (let i = 0; i < functionalRole.length; i++) {
					functionalRole[i].selected = bool;
				}
			},
			CountRows: function (functionalRole, type) {
				let f = functionalRole;
				if (type == IGAMINGGAMESFUNCTIONALROLECATEGORYID) {
					this.iGamingRowCount = this.selectedRowCount(this.iGamingRowCount, f);
				} else if (type == GAMINGDEVICESOFTWARECATEGORYID) {
					this.gamingDeviceSoftwareRowCount = this.selectedRowCount(this.gamingDeviceSoftwareRowCount, f);
				} else if (type == GAMINGDEVICEHARDWARECATEGORYID) {
					this.gamingDeviceHardwareRowCount = this.selectedRowCount(this.gamingDeviceHardwareRowCount, f);
				} else if (type == INFORMATIONSYSTEMSSECURITYCATEGORYID) {
					this.informationSystemsSecurityRowCount = this.selectedRowCount(this.informationSystemsSecurityRowCount, f);
				} else if (type == RANDOMNUMBERGENERATORSCATEGORYID) {
					this.randomNumberGeneratorRowCount = this.selectedRowCount(this.randomNumberGeneratorRowCount, f);
				} else if (type == IGAMINGPLATFORMCATEGORYID) {
					this.iGamingPlatformRowCount = this.selectedRowCount(this.iGamingPlatformRowCount, f);
				} else if (type == SYSTEMCATEGORYID) {
					this.systemRowCount = this.selectedRowCount(this.systemRowCount, f);
				}
			},
			selectedRowCount(rowCount, functionalRole) {
				rowCount = 0;
				for (let i = 0; i < functionalRole.length; i++) {
					if (functionalRole[i].selected) {
						rowCount++;
					}
				}
				return rowCount;
			},
			onCheckBoxClick: function (params) {
				let checkbox = this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles[params.row.originalPosition].selected;
				if (checkbox) {
					this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles[params.row.originalPosition].selected = false;
				} else {
					this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles[params.row.originalPosition].selected = true;
				}
			},
			functionalRoleClick: function () {
				if (this.$refs.functionalRoleCollapse.classList.contains("in")) {
					this.functionalRolePanel(false);
				} else {
					this.functionalRolePanel(true);
				}
			},
			openNextPanel: function () {
				this.availablePanel(false);
				this.jurisdictionPanel(false);
				this.functionalRolePanel(false);
			},
			loadComponentGroup: function () {
				this.selectedComponentGroup = -1;
				Loading();
				api.loadComponentGroups(this.filenumber)
					.then(response => {
						if (response.data) {
							this.searchedComponentGroups = response.data;
						}
					})
					.catch(e => {
						console.info(e);
					})
					.finally(x => {
						DoneLoading();
					});
			},
			isFunctionRoleSelected: function (functionalRoleId) {
				return _.indexOf(this.selectedFunctionalRoles, functionalRoleId) > -1;
			},
			onFunctionalRoleClick: function (e, functionalRoleId) {
				if (e.target.checked) {
					this.selectedFunctionalRoles.push(functionalRoleId);
				} else {
					const index = _.indexOf(this.selectedFunctionalRoles, functionalRoleId)
					this.selectedFunctionalRoles.splice(index, 1);
				}
			},
			importFunctionalRoles: function () {
				let currentFunctionalRoles = this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].functionalRoles;
				for (let i = 0; i < currentFunctionalRoles.length; i++) {
					if (_.indexOf(this.selectedFunctionalRoles, currentFunctionalRoles[i].id) > -1) {
						currentFunctionalRoles[i].selected = true;
					} else {
						currentFunctionalRoles[i].selected = false;
					}
				}
				this.selectedComponentGroup = -1;
				this.searchedComponentGroups = [];
				this.filenumber = "";
				$(this.$refs.functionalroleModal).modal('hide');
			},
			selectAllFunctionalRoles: function (e) {
				if (this.selectedComponentGroup > -1) {
					if (e.target.checked) {
                        this.searchedComponentGroups[this.selectedComponentGroup].functionalRoleIds = _.map(this.compGroupFunctionalRoles, 'id');
					} else {
						this.searchedComponentGroups[this.selectedComponentGroup].functionalRoleIds = [];
					}
				}
			}
		}
	}
</script>

<style scoped>
	.functional-roles-bgColor {
		background-color: #C8E6C9 !important;
	}

	.mtblr {
		margin-top: 10px;
		margin-bottom: 0px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.checkbox {
		border-top: 1px solid #dcdfe6;
		border-right: 1px solid #dcdfe6;
		border-left: 1px solid #dcdfe6;
		padding-top: 10px;
		padding-bottom: 10px;
		background: linear-gradient(#f4f5f8,#f1f3f6);
	}

	.right-margin {
		margin-right: 10px;
	}

	table.vgt-table {
		font-size: 12px;
	}

	.noborder {
		border: none;
	}

	.top-bottom-5 {
		padding-top : 5px;
		padding-bottom: 5px;
	}
</style>