﻿<template>
	<div class="col-sm-12">
		<div ref="revisionReasonModal" class="modal fade" id="revisionReasonModal" tabindex="-1" role="dialog" data-backdrop="static">
			<div class="modal-dialog max-width-50" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"><strong>Edit Revision Reasons</strong></h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<table class="table">
									<thead>
										<tr>
											<td scope="col" width=10> <input ref="toggleAllCheckbox" type="checkbox" v-on:click="toggleAllCheckBox($event)" /></td>
											<th scope="col">Jurisdiction</th>
											<th scope="col" width=300>Revision Reason</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(item, index) in jurisdictionSpecificSGIFields">
											<td>
												<input type="checkbox" v-model="tableCheckBoxes[index]" />
											</td>
											<td>
												{{ item.jurisdiction }}
											</td>
											<td>
												<Lookup :id="'RevisionReasonId' + index"
														:name="'RevisionReasonId' + index"
														:lookuptextfield="item.revisionReason"
														@updateLookupTextField="updateRevisionReason($event,index)"
														lookupajax="RevisionReasons"
														v-model.number="item.revisionReasonId"
														class="form-control" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="form-horizontal">
								<div class="form-group form-group margin-top-bottom">
									<label class="control-label col-sm-3" for="RevisionReasonBulkUpateId">Revision Reason</label>
									<div class="col-sm-4">
										<Lookup id="RevisionReasonBulkUpateId"
												name="RevisionReasonBulkUpateId"
												v-model="revisionReasonBulkUpateId"
												lookupajax="RevisionReasons"
												:lookuptextfield="revisionReasonBulkUpate"
												@updateLookupTextField="updateRevisionReasonBulkUpdate"
												class="form-control">
										</Lookup>
									</div>
									<div class="col-sm-1">
										<button type="button" class="btn btn-primary btn-sm" v-on:click="bulkUpdateRevisionReasons">Bulk Update</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="closeRevisionReasonModal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div ref="marketCodeModal" class="modal fade" id="marketCodeModal" tabindex="-1" role="dialog" data-backdrop="static">
			<div class="modal-dialog max-width-50" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"><strong>Edit Market Codes</strong></h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<table class="table">
									<thead>
										<tr>
											<td scope="col" width=10> <input ref="toggleAllCheckbox" type="checkbox" v-on:click="toggleAllCheckBox($event)" /></td>
											<th scope="col">Jurisdiction</th>
											<th scope="col" width=300>Market Codes</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(item, index) in jurisdictionSpecificSGIFields">
											<td>
												<input type="checkbox" v-model="tableCheckBoxes[index]" />
											</td>
											<td>
												{{ item.jurisdiction }}
											</td>
											<td>
												<input class="form-control" type="text" v-model="item.marketCode">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="form-horizontal">
								<div class="form-group form-group margin-top-bottom">
									<label class="control-label col-sm-3" for="MarketCodeBulkUpateId">Market Code</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" v-model="marketCodeBulkUpdate" />
									</div>
									<div class="col-sm-1">
										<button type="button" class="btn btn-primary btn-sm" v-on:click="bulkUpdateMarketCodes">Bulk Update</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="closeMarketCodeModal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="form-horizontal">
			<div class="form-group form-group-sm margin-top-bottom">
				<label class="control-label col-sm-2" for="ProductTypeId">Product Type</label>
				<div class="col-sm-3 ">
					<input type="hidden"
						   id="productType"
						   name="productType"
						   v-model="getIncomingReview.projectDetails.general.productType" />
					<Lookup id="ProductTypeId"
							name="ProductTypeId"
							v-model="getIncomingReview.projectDetails.general.productTypeId"
							lookupajax="ProductTypes"
							:lookuptextfield="getIncomingReview.projectDetails.general.productType"
							@updateLookupTextField="updateProductType"
							:disabled="getIncomingReview.projectDetails.general.isTransfer == true"
							:filter="productTypeFilters"
							class="form-control">
					</Lookup>
				</div>
			</div>
			<div class="form-group form-group-sm margin-top-bottom">
				<label class="control-label col-sm-2" for="QAOfficeId">QA Office</label>
				<div class="col-sm-3 ">
					<input type="hidden"
						   id="qaOffice"
						   name="qaOffice"
						   v-model="getIncomingReview.projectDetails.general.qaOffice" />
					<Lookup id="QAOfficeId"
							name="QAOfficeId"
							v-model="getIncomingReview.projectDetails.general.qaOfficeId"
							lookupajax="Laboratories"
							:lookuptextfield="getIncomingReview.projectDetails.general.qaOffice"
							@updateLookupTextField="updateQAOffice"
							class="form-control">
					</Lookup>
				</div>
			</div>
			<div class="form-group form-group-sm margin-top-bottom" v-if="getError.general.productType.flag && getInitialPageLoad == false && this.getIncomingSaveCompleteValidation">
				<label class="control-label col-sm-2 redText text-bold"></label>
				<div class="col-sm-3">
					<div class="redText">{{ getError.general.productType.errorMsg }}</div>
				</div>
			</div>


			<ManufacturerSpecific class="light-grey" v-bind:class="{ hidden:  getIncomingReview.projectDetails.general.isTransfer == true || (this.getIncomingReview.manufacturerSpecific.manufProductLineVisibility == false && this.getIncomingReview.manufacturerSpecific.manufStudioVisibility == false && this.getIncomingReview.manufacturerSpecific.platformVisibility == false) }"></ManufacturerSpecific>
			<div class="row" v-bind:class="{ hidden: getIncomingReview.manufacturerSpecific.platformVisibility == false}">
				<div class="col-sm-12">
					<div class="form-horizontal">
						<div class="form-group form-group-sm margin-top-bottom">
							<div class="col-sm-2">
								<a class="control-label col-sm-12 padding-right color-black" for="Platform">
									<span class="clickable padding-right color-black" title="Platform Information" v-on:click="platformPopup()">
										Platform <i class="fas fa-question-circle"></i>
									</span>
								</a>
							</div>
							<div class="col-sm-3">
								<LookupMultiple lookupajax="Platforms" v-model="getIncomingReview.manufacturerSpecific.platformIds" :options="getIncomingReview.manufacturerSpecific.platforms" :filter="platformFilters" class="form-control" />
							</div>
						</div>
						<div class="form-group form-group-sm margin-top-bottom" v-if="getError.manufacturerSpecific.platform.flag && getInitialPageLoad == false && this.getIncomingSaveCompleteValidation">
							<label class="control-label col-sm-2 redText text-bold"></label>
							<div class="col-sm-3">
								<div class="redText">{{ getError.manufacturerSpecific.platform.errorMsg }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<Billing class="light-grey" v-bind:class="{ hidden:  getIncomingReview.projectDetails.general.isTransfer == true || this.getIncomingReview.projectDetails.billingVisibility == false }"></Billing>

			<div class="form-group form-group-sm margin-top-bottom">
				<label class="control-label col-sm-2" for="ComplexityRatingId">Complexity Rating</label>
				<div class="col-sm-3">
					<input type="hidden"
						   id="ComplexityRating"
						   name="ComplexityRating"
						   v-model="getIncomingReview.projectDetails.general.complexityRating" />
					<Lookup id="ComplexityRatingId"
							name="ComplexityRatingId"
							v-model="getIncomingReview.projectDetails.general.complexityRatingId"
							lookupajax="ComplexityRating"
							:lookuptextfield="getIncomingReview.projectDetails.general.complexityRating"
							@updateLookupTextField="updateComplexityRating"
							:disabled="getIncomingReview.projectDetails.general.isTransfer == true"
							class="form-control">
					</Lookup>
				</div>
			</div>
			<div class="form-group form-group-sm margin-top-bottom" v-if="getError.general.complexityRating.flag && getInitialPageLoad == false && this.getIncomingSaveCompleteValidation">
				<label class="control-label col-sm-2 redText text-bold"></label>
				<div class="col-sm-3">
					<div class="redText">{{ getError.general.complexityRating.errorMsg }}</div>
				</div>
			</div>
			<div class="form-group form-group-sm margin-top-bottom">
				<label class="control-label col-sm-2" for="ProjectLeadId">Project Lead</label>
				<div class="col-sm-3">
					<input name="ProjectLead"
						   id="ProjectLead"
						   type="hidden"
						   v-model="getIncomingReview.projectDetails.general.projectLead" />
					<Lookup id="ProjectLeadId"
							name="ProjectLeadId"
							:lookuptextfield="getIncomingReview.projectDetails.general.projectLead"
							@updateLookupTextField="updateProjectLeadDropDown"
							lookupajax="Users"
							v-model="getIncomingReview.projectDetails.general.projectLeadId"
							class="form-control">
					</Lookup>
				</div>
			</div>
			<!--<div class="form-group form-group-sm margin-top-bottom">
				<label class="control-label col-sm-2" for="ManagerId">Manager</label>
				<div class="col-sm-3">
					<input name="Manager"
						   id="Manager"
						   type="hidden"
						   v-model="getIncomingReview.projectDetails.general.manager" />
					<Lookup id="ManagerId"
							name="ManagerId"
							:lookuptextfield="getIncomingReview.projectDetails.general.manager"
							@updateLookupTextField="updateManagerDropDown"
							lookupajax="Users"
							v-model="getIncomingReview.projectDetails.general.managerId"
							class="form-control">
					</Lookup>
				</div>
			</div>-->
			<div class="form-group form-group-sm margin-top-bottom">
				<label class="control-label col-sm-2" for="DevelopmentRepresentativeId">Development Representative</label>
				<div class="col-sm-3">
					<input name="developmentRepresentative"
						   id="developmentRepresentative"
						   type="hidden"
						   v-model="getIncomingReview.projectDetails.general.developmentRepresentative" />
					<Lookup id="developmentRepresentativeId"
							name="developmentRepresentativeId"
							:lookuptextfield="getIncomingReview.projectDetails.general.developmentRepresentative"
							@updateLookupTextField="updateDevelopmentRepresentativeDropDown"
							v-model="getIncomingReview.projectDetails.general.developmentRepresentativeId"
							lookupajax="Users"
							class="form-control">
					</Lookup>
				</div>
			</div>
			<div v-show="isJurSpecificSGIFieldsVisible">
				<div class="form-group form-group-sm margin-top-bottom">
					<label class="control-label col-sm-2">Revision Reasons</label>
					<div class="col-sm-3">
						<a class="cursor-pointer" data-toggle="collapse" href="#collapseRevisionReason"><i>Click here to see the full list of Jurisdictions and revision reasons</i></a>
						<span data-toggle="modal" data-target="#revisionReasonModal"><i class="fas fa-edit pull-right cursor-pointer" title="Edit Revision Reasons" data-placement="right" data-toggle="tooltip"></i></span>
					</div>
				</div>
				<div class="collapse" id="collapseRevisionReason">
					<div class="form-group form-group-sm margin-top-bottom">
						<div class="container">
							<table class="table width-auto">
								<thead>
									<tr>
										<th scope="col" width=250>Jurisdiction</th>
										<th scope="col">Revision Reason</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="row in jurisdictionSpecificSGIFields">
										<td>
											{{ row.jurisdiction }}
										</td>
										<td>
											{{ row.revisionReason }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div v-show="isJurSpecificSGIFieldsVisible">
				<div class="form-group form-group-sm margin-top-bottom">
					<label class="control-label col-sm-2">Market Code</label>
					<div class="col-sm-3">
						<a class="cursor-pointer" data-toggle="collapse" href="#collapseMarketCode"><i>Click here to see the full list of Jurisdictions and market codes</i></a>
						<span data-toggle="modal" data-target="#marketCodeModal"><i class="fas fa-edit pull-right cursor-pointer" title="Edit Market Codes" data-placement="right" data-toggle="tooltip"></i></span>
					</div>
				</div>
				<div class="collapse" id="collapseMarketCode">
					<div class="form-group form-group-sm margin-top-bottom">
						<div class="container">
							<table class="table width-auto">
								<thead>
									<tr>
										<th scope="col" width=250>Jurisdiction</th>
										<th scope="col">Market Code</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="row in jurisdictionSpecificSGIFields">
										<td>
											{{ row.jurisdiction }}
										</td>
										<td>
											{{ row.marketCode }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group form-group-sm margin-top-bottom">
				<label class="control-label col-sm-2" for="QuotedHours">Quoted Hours</label>
				<div class="col-sm-2">
					<input type="number" class="form-control" id="validateNums" v-model="getIncomingReview.projectDetails.general.quotedHours">
				</div>
			</div>
			<div class="form-group form-group-sm margin-top-bottom" v-if="getError.general.quotedHours.flag && getInitialPageLoad == false">
				<label class="control-label col-sm-2 redText text-bold"></label>
				<div class="col-sm-3">
					<div class="redText">{{ getError.general.quotedHours.errorMsg }}</div>
				</div>
			</div>
			<div v-show="isiGaming">
				<div class="form-group form-group-sm margin-top-bottom">
					<div class="col-sm-2">
						<a class="control-label col-sm-12 padding-right color-black" for="RequestedDeliveryDate">
							<span class="clickable padding-right color-black" title="Requested Delivery Date Information" v-on:click="requestedDeliveryDatePopup()">
								Requested Delivery Date <i class="fas fa-question-circle"></i>
							</span>
						</a>
					</div>
					<div class="col-sm-2">
						<DatePicker id="RequestedDeliveryDate" name="RequestedDeliveryDate" v-model="getIncomingReview.projectDetails.general.requestedDeliveryDate" />
					</div>
				</div>
				<div class="form-group form-group-sm margin-top-bottom">
					<div class="col-sm-2">
						<a class="control-label col-sm-12 padding-right color-black" for="GoLiveDate">
							<span class="clickable padding-right color-black" title="Go Live Date Information" v-on:click="goLiveDatePopup()">
								Go Live Date <i class="fas fa-question-circle"></i>
							</span>
						</a>
					</div>
					<div class="col-sm-2">
						<DatePicker id="GoLiveDate" name="GoLiveDate" v-model="getIncomingReview.projectDetails.general.goLiveDate" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import ManufacturerSpecific from '@/components/incoming/ManufacturerSpecific.vue';
	import Billing from '@/components/incoming/Billing.vue';
	import DatePicker from '@/components/utility/DatePicker.vue';
	import { SUBMISSION_TESTINGTYPE } from '@/common';

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming');

	export default {

		components: {
			Lookup,
			LookupMultiple,
			SelectStandard,
			ManufacturerSpecific,
			Billing,
			DatePicker
		},
		data() {
			return {
				platformFilters: {
					manufactureGroupId: 0
				},
				productTypeFilters: {
					manufacturerCode: null
				},
				marketCodeBulkUpdate: "",
				tableCheckBoxes: [],
				revisionReasonBulkUpateId: null,
				revisionReasonBulkUpate: ""
			}
		},
		created() {
			this.platformFilters.manufactureGroupId = this.getIncomingReview.manufacturerSpecific.platformManufGroupId;
			this.productTypeFilters.manufacturerCode = this.getIncomingReview.manufacturerCode;
			if (this.isJurSpecificSGIFieldsVisible) {
				this.tableCheckBoxes = new Array(this.jurisdictionSpecificSGIFields.length);
			}
			this.updateTableCheckBoxes(false);
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getError',
				'getInitialPageLoad',
				'getIncomingSaveCompleteValidation'
			]),
			jurisdictionSpecificSGIFields: function () {
				return this.getIncomingReview.projectDetails.general.jurisdictionSpecificSGIFields;
			},
			isiGaming: function () {
				const testingType = this.getIncomingReview.projectDetails.projectDefinition.testingType;
				return testingType === SUBMISSION_TESTINGTYPE.IGAMING.description || testingType === SUBMISSION_TESTINGTYPE.SPORTSBOOK.description;
			},
			isJurSpecificSGIFieldsVisible: function () {
				return this.getIncomingReview.projectDetails.general.isJurSpecificSGIFieldsVisible;
			},
			watchProductTypeId: function () {
				return this.getIncomingReview.projectDetails.general.productTypeId
			},
			watchComplexityRatingId: function () {
				return this.getIncomingReview.projectDetails.general.complexityRatingId
			},
			watchQuotedHours: function () {
				return this.getIncomingReview.projectDetails.general.quotedHours
			}
		},
		beforeMount() {
			this.validateProductType(this.watchProductTypeId);
			this.validateComplexityRating(this.watchComplexityRatingId);
			this.validateQuotedHours(this.watchQuotedHours);
		},
		watch: {
			watchProductTypeId: function (val) {
				this.validateProductType(val);
			},
			watchComplexityRatingId: function (val) {
				this.validateComplexityRating(val);
			},
			watchQuotedHours: function (val) {
				this.validateQuotedHours(val);
			}
		},
		methods: {
			...mapActions([
				'setProjectLead',
				'setProjectLeadId',
				'setManager',
				'setManagerId',
				'setDevRep',
				'setDevRepId',
				'setQuotedHours',
				'setProductTypeFlag',
				'setComplexityRatingFlag',
				'setProductType',
				'setProductTypeId',
				'setComplexityRating',
				'setComplexityRatingId',
				'setQuotedHoursFlag',
				'setQAOffice'
			]),
			updateProjectLeadDropDown: function (newValue) {
				this.setProjectLead(newValue);
			},
			updateDevelopmentRepresentativeDropDown: function (newValue) {
				this.setDevRep(newValue);
			},
			updateManagerDropDown: function (newValue) {
				this.setManager(newValue);
			},
			updateProductType: function (newValue) {
				this.setProductType(newValue);
			},
			updateComplexityRating: function (newValue) {
				this.setComplexityRating(newValue);
			},
			validateProductType: function (val) {
				if ((isNaN(val) || val == 0) && this.getIncomingReview.projectDetails.general.isTransfer == false) {
					this.setProductTypeFlag(true);
				} else {
					this.setProductTypeFlag(false);
				}
				let productTypes = this.getIncomingReview.requiringComplexityManufacturer;
				for (var i in productTypes) {
					if (productTypes[i] == val && (isNaN(this.watchComplexityRatingId) || this.watchComplexityRatingId == 0) && this.getIncomingReview.projectDetails.general.isTransfer == false) {
						this.setComplexityRatingFlag(true);
						break;
					}
					this.setComplexityRatingFlag(false);
				}
			},
			validateComplexityRating: function (val) {
				let productTypes = this.getIncomingReview.requiringComplexityManufacturer;
				for (var i in productTypes) {
					if (productTypes[i] == this.watchProductTypeId && (isNaN(val) || val == 0) && this.getIncomingReview.projectDetails.general.isTransfer == false) {
						this.setComplexityRatingFlag(true);
						break;
					}
					this.setComplexityRatingFlag(false);
				}
			},
			validateQuotedHours: function (val) {
				if (val == Math.floor(val)) {
					this.setQuotedHoursFlag(false);
					this.setQuotedHoursDeci(val);
				} else {
					this.setQuotedHoursDeci(val);
				}
			},
			setQuotedHoursDeci: function (val) {
				const deci = val.toString().split(".");
				//Validate Decimal
				if (deci.length > 1) {
					const temp = deci[1];
					const two_deci = temp[0] + temp[1];
					if (temp.length > 2) {
						const result = val.toString().split(".")[0] + "." + two_deci;
						this.setQuotedHours(result);
					}
					this.setQuotedHoursFlag(two_deci % 25 == 0 || deci[1] == 0 || deci[1] == 5 ? false : true);
				} else {
					this.setQuotedHoursFlag(false);
				}
				//Validate Significant Figures before decimal
				if (deci != null) {
					const temp = deci[0];
					if (temp.length > 16) {
						let sigStr = temp.substring(0, 16);
						let hasDecimal = deci.length > 1 ? deci[1] : null;
						let result = sigStr;
						if (hasDecimal != null) {
							result = sigStr + "." + hasDecimal;
						}
						this.setQuotedHours(result);
					}
				}

				//IE issue for quoted hours
				if (this.count(val) > 1) {
					const result = '';
					this.setQuotedHours(result);
				}
			},
			count: function (s1) {
				let count = 0;
				let i = 0;
				for (; i < s1.length; i++) {
					if (s1[i] == '.') {
						count++;
					}
				}
				return count;
			},
			goLiveDatePopup: function () {
				$('#GoLiveDateModal').modal('show');
			},
			platformPopup: function () {
				$('#PlatformModal').modal('show');
			},
			requestedDeliveryDatePopup: function () {
				$('#RequestedDeliveryDateModal').modal('show');
			},
			bulkUpdateMarketCodes: function () {
				for (let i = 0; i < this.jurisdictionSpecificSGIFields.length; i++) {
					if (this.tableCheckBoxes[i]) {
						this.jurisdictionSpecificSGIFields[i].marketCode = this.marketCodeBulkUpdate;
					}
				}
			},
			bulkUpdateRevisionReasons: function () {
				for (let i = 0; i < this.jurisdictionSpecificSGIFields.length; i++) {
					if (this.tableCheckBoxes[i]) {
						this.jurisdictionSpecificSGIFields[i].revisionReason = this.revisionReasonBulkUpate;
						this.jurisdictionSpecificSGIFields[i].revisionReasonId = this.revisionReasonBulkUpateId;
					}
				}
			},
			closeMarketCodeModal: function () {
				$(this.$refs.marketCodeModal).modal('hide');
				this.$refs.toggleAllCheckbox.checked = false;
				this.updateTableCheckBoxes(false);
				this.marketCodeBulkUpdate = "";
			},
			closeRevisionReasonModal: function () {
				$(this.$refs.revisionReasonModal).modal('hide');
				this.$refs.toggleAllCheckbox.checked = false;
				this.updateTableCheckBoxes(false);
				this.revisionReasonBulkUpateId = null;
				this.revisionReasonBulkUpate = "";
			},
			marketCodeChange: function (val) {
				console.info("marketCodeChange" + val);
			},
			toggleAllCheckBox: function (e) {
				if (e.target.checked) {
					this.updateTableCheckBoxes(true);
				} else {
					this.updateTableCheckBoxes(false);
				}
			},
			updateRevisionReason: function (newValue, index) {
				this.jurisdictionSpecificSGIFields[index].revisionReason = newValue;
			},
			updateQAOffice: function (value) {
				this.setQAOffice(value);
			},
			updateRevisionReasonBulkUpdate: function (val) {
				this.revisionReasonBulkUpate = val;
			},
			updateTableCheckBoxes: function (val) {
				for (let i = 0; i < this.tableCheckBoxes.length; i++) {
					this.$set(this.tableCheckBoxes, i, val);
				}
			}
		}
	}
</script>

<style scoped>

	.redText {
		color: red;
		font-weight: normal;
	}

	.text-bold {
		font-weight: bold;
	}

	.light-grey {
		background-color: #e1f0f7;
	}

	.padding-top {
		padding-top: 15px;
	}

	.margin-top-bottom {
		margin-top: 15px !important;
		margin-bottom: 15px !important;
	}

	.color-black {
		color: black;
		font-weight: bold;
	}

	.padding-right {
		padding-right: 0px !important;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.width-auto {
		width: auto;
	}

	.max-width-50 {
		max-width: 50%;
	}
</style>