﻿<template>
	<div>
		<div id="resubmissionHelpModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title">Mapping Information</h4>
					</div>
					<div class="modal-body">
						<strong>Resubmissions</strong>
						<p> In most cases, a 'Resubmission' will be all versions of a project after an initial submission, to initial approval. This would include any files/components that are bug fixes or manufacturer withdrawals/resubmits along that path. This would not include clone games that are submitted after an approval is granted.</p>
						<p>	For example: Version1 is submitted. While testing, the manufacturer wants to change a help screen; they submit Version2 that withdraws Version1. While testing Version2, the engineer finds an issue that will reject Version2. The manufacturer resubmits Version3. Version3 is the final approval. In this example, Version2 and Version3 are considered 'resubmits' of Version1.</p>
						<p> If down the road the manufacturer submits a fourth version after Version 3 has been approved or a clone game that behaves just like Version3 in the previous example, these would NOT be considered resubmissions. </p>
						<br>
						<strong>Continuation</strong>
						<p> 1.Linking multiple fixed price file numbers that are opened under the same quote so as the Accounting Department will only bill one file number.</p>
						<p> 2.A single game switches between outcome generation methodologies with no other significant changes.*</p>
						<p>* For an Example, The "Master File" is an M11B game submission and the continuation file is the same game theme for a different platform (M11 or M11L). </p>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="studioHelpModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title"><strong>Studio</strong></h4>
					</div>
					<div class="modal-body">
						<p>This is manufacturer’s internal design studio that created the program(s) in this project.  This data will associate various project metrics (such as First Pass Yield, Testing Costs, Certification Costs, etc.) and thus must be accurate.  This information should automatically be generated from the manufacturer flat file, but should it not be available, ensure that you manually select the correct information.</p>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="productlineModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title"><strong>Product Line</strong></h4>
					</div>
					<div class="modal-body">
						<p>This is IGT’s product designation for the program(s) in this project.  This data will associate various product metrics (such as First Pass Yield, Testing Costs, Certification Costs, etc.) and thus must be accurate.  This information should automatically be generated from the IGT flat file, but should it not be available, ensure that you manually select the correct information.</p>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="productClassificationHelpModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title"><strong>Product Classification</strong></h4>
					</div>
					<div class="modal-body">
						<p>This is the GLI project designation for the program(s) in this project.  This data will associate various product metrics (such as First Pass Yield, Testing Costs, Certification Costs, etc.) and thus must be accurate.  Please ensure you manually select the correct information (re-submissions are Mods)</p>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="PlatformModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title"><strong>Platform</strong></h4>
					</div>
					<div class="modal-body">
						<p>This is a company’s product line which they use a standard for one or more cabinets along with software allowing them to setup various personalities. This data is used in metrics to determine the testing costs of a platform and must be accurate. This information should automatically be generated from the manufacturer flat file.</p>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="RequestedDeliveryDateModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title"><strong>Requested Delivery Date</strong></h4>
					</div>
					<div class="modal-body">
						<p>Date GLI deliverables are to be provided.</p>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="GoLiveDateModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title"><strong>Go Live Date</strong></h4>
					</div>
					<div class="modal-body">
						<p>Date product is deployed to production.</p>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters } = createNamespacedHelpers('incoming');

	export default {
		computed: {
			...mapGetters([
				'getIncomingReview'
			])
		}
	}
</script>