﻿<template>
	<div>
		<HelpSection></HelpSection>
		<Confirmation></Confirmation>
		<div id="wrapper" class="toggled">
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li class="sidebar-brand"></li>
					<li>
						<a href="#anchor-project-details" title="Project Details">
							<i class="fas fa-sliders-h fa-4x"></i>
						</a>
					</li>
					<li v-bind:class="{ hidden: !this.getIncomingReview.hasUK }">
						<a href="#anchor-sub-projects" title="Work Requests">
							<i class="far fa-copy fa-4x"></i>
						</a>
					</li>
					<!--Evo-config: Uncomment this line when we go live!-->
					<li v-if="this.getIncomingReview.evolutionViewModel.createdByIncoming">
						<a href="#anchor-evolution-configuration" title="Evolution Configuration">
							<i class="fas fa-layer-group fa-4x"></i>
						</a>
					</li>
					<li v-if="this.getIncomingReview.evolutionViewModel.createdByIncoming">
						<a href="#anchor-potential-task" title="Potential Tasks">
							<i class="fa fa-tasks fa-4x"></i>
						</a>
					</li>
				</ul>
			</div>
			<div ref="mainContentWrapper" id="page-content-wrapper" data-target="#sidebar-wrapper">
				<div>
					<div ref="fixedPanel" class="panel panel-default">
						<div class="panel-heading custom-color-back bottom-padding-0">
							<div class="row row-title">
								<div class="col-sm-8">
									<h3>
										Incoming Review
										<router-link :to="{ path: '/protrack/project/detail/' + this.getIncomingReview.projectId  }" target="_blank" class="small">{{this.getIncomingReview.fileNumber}}</router-link>
										<small>({{this.getIncomingReview.projectStatus}})</small>
									</h3>
								</div>
								<div class="col-sm-4 form-buttons">
									<router-link v-bind:class="{ hidden: !this.getIncomingReview.hasUK }" :to="{ path: '/protrack/mathqueue/loadmathreviews?projectId=' + this.getIncomingReview.projectId + '&sourceType=AllReviewList' }" target="_blank" class="small">
										<button title="Math Request" class="btn btn-primary btn-sm">Math Request</button>
									</router-link>
									<input type="reset" id="CancelBtn" class="btn btn-primary btn-sm" value="Close" onclick="window.location = returnToProtrackDetailLink">
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div v-if="this.getIncomingReview.projectDetails.projectDefinition.testingTypeFlag == true" class="row">
								<div class="col-sm-12">
									<div class="redText">
										<span>Testing type disabled: Found more than one testing types in submissions for this project</span>
									</div>
								</div>
							</div>
							<div v-if="this.getIncomingReview.incomingReviewEditedBy == null" class="row">
								<div class="col-sm-12">
									<div class="redText">
										<h6 class="text-color">Last Modified: none</h6>
									</div>
								</div>
							</div>
							<div v-if="this.getIncomingReview.completedBy != null" class="row">
								<div class="col-sm-12">
									<div class="redText">
										<span>Incoming Review Completed by: </span>
										<span> {{ this.getIncomingReview.completedBy }} </span>
										<span> on </span>
										<span> {{ this.getIncomingReview.completedDate }} </span>
									</div>
								</div>
							</div>
							<div v-if="this.getIncomingReview.incomingReviewEditedBy != null" class="row">
								<div class="col-sm-12">
									<div class="darkseagreenText">
										<span>Incoming Review last edited by: </span>
										<span>{{this.getIncomingReview.incomingReviewEditedBy}}</span>
										<span> on </span>
										<span>{{this.getIncomingReview.editedDate}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ProjectDetail></ProjectDetail>
					<div v-bind:class="{ hidden: !this.getIncomingReview.hasUK }"><Forms></Forms></div>
					<!--Evo-config: Uncomment this line when we go live!-->
					<EvolutionConfiguration class="top-panel" v-if="this.getIncomingReview.evolutionViewModel.createdByIncoming"></EvolutionConfiguration>
					<!--Evo-config: Uncomment this line when we go live!-->
					<PotentialTask class="mt-10"  v-if="this.getIncomingReview.evolutionViewModel.createdByIncoming"></PotentialTask>
					<div v-if="!this.getIncomingReview.evolutionViewModel.createdByIncoming">
						<strong style="color:red">An Evo instance has already been created using desktop Evolution. Please use desktop Evo for this project.</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	import ProjectDetail from '@/components/incoming/ProjectDetail.vue';
	import TargetDate from '@/components/incoming/TargetDate.vue';
	import HelpSection from '@/components/incoming/HelpSection.vue';
	import Confirmation from '@/components/incoming/Confirmation.vue';
	import Forms from '@/components/incoming/Forms.vue'
	import EvolutionConfiguration from '@/components/incoming/EvolutionConfiguration.vue'
	import PotentialTask from '@/components/incoming/PotentialTask.vue';


	const { mapGetters, mapActions } = createNamespacedHelpers('incoming');

	export default {
		data() {
			return {
				
			}
		},
		created: function () {
			this.setIncomingReviewVm(IncomingReviewVM);
		},
		components: {
			ProjectDetail,
			TargetDate,
			HelpSection,
			Confirmation,
			EvolutionConfiguration,
			Forms,
			PotentialTask
		},
		mounted() {
			this.setInitialPageLoad(true);
			DoneLoading();
		},
		computed: {
			...mapGetters([
				'getIncomingReview'
			])
		},
		methods: {
			...mapActions([
				'setInitialPageLoad',
				'setIncomingReviewVm'
			])
		}
	}
</script>

<style>
	.top-panel:before {
		display: block;
		content: " ";
		margin-top: -160px;
		height: 160px;
		visibility: hidden;
		pointer-events: none;
	}
</style>

<style scoped>

	.mt-10 {
		margin-top: 10px;
	}

	.text-color {
		color: #808080;
	}

	.red-color {
		color: red;
	}

	.custom-color-back {
		background-color: #daecf5;
	}

	.bottom-padding-0 {
		padding-bottom: 0px;
	}

	.panel-default {
		border-color: #dddddd !important;
	}

	.redText {
		font-weight: bold;
		color: red;
	}

	.darkseagreenText {
		color: darkseagreen;
	}

	.transferHighlight {
		background-color: #CCFFFF;
	}

	.clickable {
		cursor: pointer;
	}

	.form-group.required .control-label:after {
		content: "*";
		font-size: medium;
		color: red;
	}

	.sectionTitle {
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
		color: #754a1e;
	}

	*[id^='resubmission-step'] {
		margin-bottom: 20px;
	}

		*[id^='resubmission-step']:nth-child(2) {
			margin-bottom: 36px;
		}
	/* Sidebar Page Layout */

	body {
		overflow-x: hidden;
	}

	#wrapper {
		padding-left: 0;
	}

		#wrapper.toggled {
			padding-left: 75px;
		}

	#sidebar-wrapper {
		z-index: 1000;
		position: fixed;
		left: 250px;
		width: 0;
		height: 100%;
		margin-left: -250px;
		margin-top: -30px;
		overflow-y: auto;
		overflow-x: hidden;
		background: #222222;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 75px;
	}

	#page-content-wrapper {
		width: 100%;
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 15px;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
	/* Sidebar Styles */

	.sidebar-nav {
		position: absolute;
		top: 0;
		width: 0;
		margin: 0;
		padding: 0;
		list-style: none;
	}

		.sidebar-nav li {
			padding: 0.5em 1em;
			line-height: 40px;
		}

			.sidebar-nav li a {
				display: block;
				text-decoration: none;
				color: #999999;
			}

				.sidebar-nav li a:hover {
					text-decoration: none;
					color: #fff;
					background: rgba(255, 255, 255, 0.2);
				}

				.sidebar-nav li a:active,
				.sidebar-nav li a:focus {
					text-decoration: none;
				}

		.sidebar-nav > .sidebar-brand {
			height: 65px;
			font-size: 18px;
			line-height: 60px;
		}

			.sidebar-nav > .sidebar-brand a {
				color: #999999;
			}

				.sidebar-nav > .sidebar-brand a:hover {
					color: #fff;
					background: none;
				}
</style>