﻿<template>
	<div>
		<div id="anchor-jurs" class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading" @click="jurisdictionPanelClick()" style="cursor:pointer">
						<div class="row">
							<div class="col-sm-6">
								<h3 class="panel-title">Jurisdictions / Documents</h3>
							</div>
						</div>
					</div>
					<div ref="jurisdictionCollapse">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-horizontal" :class="{ hidden: this.getEvoConfig.jurisdictionSpinner }">
									<label v-if="isLocked" class="control-label italic"><i class="fas fa-info-circle" title="In order to select/deselect any jurisdiction(s) and document(s), please click on the lock icon of this component group"></i> Unlock this component group to make any changes</label>
									<div class="form-group form-group-sm mtblr">
										<div class="col-sm-12 checkbox">
											<div class="row">
												<div class="col-sm-2">
													<label class="right-margin"><input type="checkbox" :checked="getEvoConfig.selectAllJurisdictionsAndDocuments" :disabled="isLocked" v-on:click="selectAll($event)"><strong>Select All</strong></label>
												</div>
												<label class="control-label col-sm-2" for="extraneousJurisdiction"><strong>Add Extraneous Jurisdiction</strong></label>
												<div class="col-sm-4">
													<input name="extraneousJurisdiction"
														   id="extraneousJurisdiction"
														   type="hidden"
														   v-model="extraneousJur" />
													<Lookup id="extraneousJurisdictionId"
															name="extraneousJurisdictionId"
															:lookuptextfield="extraneousJur"
															@updateLookupTextField="updateExtraneousJurisdiction"
															lookupajax="Jurisdictions"
															v-model="extraneousJurId"
															:filter="extraneousJurFilters"
															class="form-control"
															style="width:100%;"
															:disabled="isLocked"
															templatename="formatJurisdictions" />
												</div>
												<button id="addExtraneousDocJur"
														class="btn btn-default col-sm-1"
														type="button"
														v-on:click="addExtraneousJurs"
														:disabled="isLocked">
													Add
												</button>
											</div>
										</div>
									</div>
									<VueGoodTable ref="jurs-table"
												  :columns="columns"
												  :rows="this.jurisdictions"
												  class="bm-20"
												  max-height="500px"
												  :fixed-header="true">
										<template slot="table-row" slot-scope="props">
											<span v-if="props.column.field == 'checkbox' && hasDocuments(props)">
												<i class="fa fa-file" @click="onRowClick(props)" style="cursor: pointer;"></i>
											</span>
											<span v-if="props.column.field == 'name'">
												<strong>
													<span v-if="!containsRequiredJurisdiction(props.row.id)">
														<input type="checkbox" v-model="jurisdictions[props.row.originalIndex].selected" :disabled="isLocked" />
													</span>
													{{props.formattedRow[props.column.field]}} ({{ getJurisdictionId(props.index) }})
												</strong>
												<br>
												<span class="small">
													<span v-if="hasDocuments(props)">
														<input type="checkbox" :disabled="isLocked" :checked="selectAllDcouments(props)" @change="onSelectClick($event, props.index)" />
														<strong>
															Select
														</strong>
													</span>
													<strong>
														{{ getDocumentSize(props.index) }} Document(s)
													</strong>
												</span><br />
												<span :ref="getEditToggle.editIndex + props.row.id" class="jur-row">
													<span v-for="(docs, index) in props.row.documents">
														<span v-if="containsRequiredDocument(docs.name)">
															<span> {{ docs.name }} ({{ docs.id }}) <i>- Added by default</i></span>
														</span>
														<span v-else>
															<input type="checkbox" :disabled="isLocked" v-model="jurisdictions[props.row.originalIndex].documents[index].selected" /> {{ docs.name }} ({{ docs.id }})
														</span> <br />
													</span>
												</span>
											</span>
										</template>
									</VueGoodTable>
									<button title="next" class="btn btn-primary" @click="openNextPanel"> Next <i class="fa fa-chevron-right"></i> </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import { VueGoodTable } from 'vue-good-table';
	import { VueGoodTablePlugin } from 'vue-good-table'
	import 'vue-good-table/dist/vue-good-table.min.css'
	import { createNamespacedHelpers } from 'vuex';
	import Lookup from '@/components/utility/Lookup.vue';
	import api from '@/api/incoming'

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming')

	export default {
		components: {
			VueGoodTable,
			Lookup
		},
		data() {
			return {
				extraneousJur: "",
				extraneousJurId: null,
				columns: [
					{
						field: 'checkbox',
						width: '1%',
						filterOptions: {
							enabled: false
						}
					},
					{
						label: 'Name',
						field: 'name',
						filterOptions: {
							enabled: true,
							placeholder: 'Filter Name',
						}
					}
				]
			}
		},
		mounted() {
			this.$refs.jurisdictionCollapse.classList.add("collapse");
			this.$refs.jurisdictionCollapse.classList.add("panel-body");
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getEditToggle',
				'getEvoConfig'
			]),
			jurisdictions: function () {
				return this.getEditToggle.editIndex == -1 ? [] : this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].jurisdictions;
			},
			extraneousJurFilters: function () {
				return {
					ExcludedJurisdictionIds: this.getEditToggle.editIndex == -1 ? [] : this.getCompGroupJurIds(this.getEditToggle.editIndex),
					JurisdtictionIds: []
				}
			},
			isLocked: function () {
				if (this.getEditToggle.editIndex > -1) {
					return this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].locked;
				}
				return true;
			}
		},
		watch: {
			'getEditToggle.editIndex': function (newVal, oldVal) {
				if (newVal > -1 && oldVal > -1) {
					let compGroupJurs = this.getIncomingReview.evolutionViewModel.componentGroups[oldVal].jurisdictions;
					for (let i = 0; i < compGroupJurs.length; i++) {
						let documentSpan = this.$refs[oldVal + compGroupJurs[i].id];
						if (documentSpan) {
							documentSpan.style.display = "none";
						}
					}
				}
			},
			'getEvoConfig.collapsiblePanel.jurisdiction': function (val) {
				if (val) {
					//Open Collapsible Panel
					this.$refs.jurisdictionCollapse.classList.add("in");
				} else {
					//Close Collapsible Panel
					this.$refs.jurisdictionCollapse.classList.remove("in");
				}
			}
		},
		methods: {
			...mapActions([
				'jurisdictionPanel',
				'functionalRolePanel',
				'availablePanel',
				'potentialTaskPanel'
			]),
			getDocumentSize: function (index) {
				return this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].jurisdictions[index].documents.length;
			},
			getJurisdictionId: function (index) {
				return this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].jurisdictions[index].id;
			},
			updateExtraneousJurisdiction: function (newValue, selectedId) {
				this.extraneousJur = newValue;
				this.extraneousJurId = selectedId;
			},
			getCompGroupJurIds: function (index) {
				let jurIds = [], jurs = this.getIncomingReview.evolutionViewModel.componentGroups[index].jurisdictions;
				for (let i = 0; i < jurs.length; i++) {
					jurIds.push(jurs[i].id);
				}
				return jurIds;
			},
			addExtraneousJurs: function () {
				if (this.extraneousJur != "") {
					//Loading();
					api.loadExtraneousJurisdictionById(this.extraneousJurId)
						.then(response => {
							const result = response.data;
							let documents = result.documents;
							let hasRequiredJur = this.getIncomingReview.evolutionViewModel.requiredJuridictionIds.indexOf(parseInt(result.id)) >= 0;
							for (let i = 0; i < documents.length; i++) {
								if (this.getIncomingReview.evolutionViewModel.requiredDocuments.indexOf(documents[i].name) >= 0) {
									documents[i].selected = true;
								} else if (hasRequiredJur) {
									documents[i].selected = false;
								} else {
									documents[i].selected = true;
								}
							}
							this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].jurisdictions.push(result);
							DoneLoading();
						})
						.catch(e => {
							//DoneLoading();
							bootbox.alert("Opps.. something went wrong please enter a trackit.");
							console.log(e.response);
						})
						.finally(x => {
							this.extraneousJur = "";
							this.extraneousJurId = null;
						});
				}
			},
			onRowClick: function (params) {
				this.toggleDocumentSpan(params);
			},
			toggleDocumentSpan(params) {
				let documentSpan = this.$refs[this.getEditToggle.editIndex + params.row.id];
				if (documentSpan) {
					if (documentSpan.style.display == "block") {
						documentSpan.style.display = "none";
					} else {
						documentSpan.style.display = "block";
					}
				}
			},
			selectAll: function (event) {
				let jurisdictions = this.getIncomingReview.evolutionViewModel.componentGroups[this.getEditToggle.editIndex].jurisdictions;
				for (let i = 0; i < jurisdictions.length; i++) {
					if (!this.containsRequiredJurisdiction(jurisdictions[i].id)) {
						jurisdictions[i].selected = event.target.checked;
						this.onSelectClick(event, i);
					}
				}
				this.getEvoConfig.selectAllJurisdictionsAndDocuments = !this.getEvoConfig.selectAllJurisdictionsAndDocuments;
			},
			selectAllDcouments: function (params) {
				let documents = this.jurisdictions[params.index].documents;
				let count = 0;
				for (let i = 0; i < documents.length; i++) {
					if (documents[i].selected) {
						count++;
					}
				}
				return count == documents.length ? 1 : 0;
			},
			onSelectClick: function (event, paramsIndex) {
				let documents = this.jurisdictions[paramsIndex].documents;
				for (let i = 0; i < documents.length; i++) {
					if (!this.containsRequiredDocument(documents[i].name)) {
						documents[i].selected = event.target.checked;
					}
				}
			},
			jurisdictionPanelClick: function () {
				if (this.$refs.jurisdictionCollapse.classList.contains("in")) {
					this.jurisdictionPanel(false);
				} else {
					this.jurisdictionPanel(true);
				}
			},
			openNextPanel: function () {
				this.jurisdictionPanel(false);
				this.availablePanel(false);
				this.functionalRolePanel(true);
				this.potentialTaskPanel(false);
			},
			hasDocuments: function (props) {
				return props.row.documents.length == 0 ? false : true;
			},
			containsRequiredDocument: function (documentName) {
				return this.getIncomingReview.evolutionViewModel.requiredDocuments.indexOf(documentName) >= 0;
			},
			containsRequiredJurisdiction: function (jurisdictionId) {
				return this.getIncomingReview.evolutionViewModel.requiredJuridictionIds.indexOf(parseInt(jurisdictionId)) >= 0;
			}
		}
	}
</script>

<style scoped>
	.checkbox {
		border-top: 1px solid #dcdfe6;
		border-right: 1px solid #dcdfe6;
		border-left: 1px solid #dcdfe6;
		padding-top: 10px;
		padding-bottom: 10px;
		background: linear-gradient(#f4f5f8,#f1f3f6);
	}
	.mtblr {
		margin-top: 10px;
		margin-bottom: 0px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.right-margin {
		margin-right: 10px;
	}

	table.vgt-table {
		font-size: 12px;
	}

	.bm-20 {
		margin-bottom: 20px;
	}

	.jur-row {
		display: none;
		padding: 5px;
		background-color: #C8E6C9;
	}
</style>