﻿<template>
	<div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-horizontal" v-bind:class="{ hidden: studioVisibility}">
					<div class="form-group form-group-sm margin-studio">
						<div class="col-sm-2">
							<a class="control-label col-sm-12 padding-right color-black" for="StudioId">
								<span class="clickable padding-right color-black" title="Studio Information" v-on:click="showStudioPopup()">
									Studio <i class="fas fa-question-circle"></i>
								</span>
							</a>
						</div>
						<div class="col-sm-3">
							<input name="Studio"
								   id="Studio"
								   type="hidden"
								   v-model="getIncomingReview.manufacturerSpecific.studio" />
							<Lookup id="StudioId"
									name="StudioId"
									:lookuptextfield="getIncomingReview.manufacturerSpecific.studio"
									@updateLookupTextField="updateStudioDropDown"
									lookupajax="Studios"
									v-model="getIncomingReview.manufacturerSpecific.studioId"
									:filter="manufacturerSpecificFilters"
									:disabled="this.getIncomingReview.projectDetails.projectDefinition.testingTypeFlag == true"
									class="form-control" />
						</div>
						<div class="inline-block">
							<em>Warning: </em>
						</div>
						<div v-if="!getIncomingReview.manufacturerSpecific.hasADistinctStudio" class="inline-block redText">
							<em>Submission records contain different studios.</em>
						</div>
						<div class="inline-block">
							<em>Changing the studio will overwrite studios for all the records in this submission</em>
						</div>
					</div>
					<div class="form-group form-group-sm margin-studio" v-if="getError.manufacturerSpecific.studio.flag && getInitialPageLoad == false && this.getIncomingSaveCompleteValidation">
						<label class="control-label col-sm-2 redText text-bold"></label>
						<div class="col-sm-3">
							<div class="redText">{{ getError.manufacturerSpecific.studio.errorMsg }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-horizontal" v-bind:class="{ hidden: productLineVisibility}">
					<div class="form-group form-group-sm margin-top-bottom">
						<div class="col-sm-2">
							<a class="control-label col-sm-12 padding-right color-black" for="ProductLineId">
								<span class="clickable padding-right color-black" title="Product Line Information" v-on:click="showProductLinePopup()">
									Product Line <i class="fas fa-question-circle"></i>
								</span>
							</a>
						</div>
						<div class="col-sm-3">
							<input name="ProductLine"
								   id="ProductLine"
								   type="hidden"
								   v-model="getIncomingReview.manufacturerSpecific.productLine" />
							<Lookup id="ProductLineId"
									name="ProductLineId"
									:lookuptextfield="getIncomingReview.manufacturerSpecific.productLine"
									@updateLookupTextField="updateProductLineDropDown"
									lookupajax="ProductLines"
									v-model="getIncomingReview.manufacturerSpecific.productLineId"
									:filter="manufacturerSpecificFilters"
									:disabled="this.getIncomingReview.projectDetails.projectDefinition.testingTypeFlag == true || this.getIncomingReview.manufacturerSpecific.conflictingProductLinesExist"
									class="form-control" />
						</div>
						<div class="inline-block">
							<em>Warning: </em>
						</div>
						<div v-if="getIncomingReview.manufacturerSpecific.conflictingProductLinesExist" class="inline-block redText">
							<em>Conflicting Product Lines exist!</em>
						</div>
						<div v-if="!getIncomingReview.manufacturerSpecific.conflictingProductLinesExist" class="inline-block">
							<em>Changing the Product Line will overwrite product lines for all the jurisdictional data records in this submission.</em>
						</div>
						<div v-if="isNaN(this.watchproductLineId) != true && this.watchSelectedMapType != 0">
							<span class="sectionTitle">Masterfile:</span>
							<em>{{getIncomingReview.manufacturerSpecific.masterFile}}</em>
						</div>
					</div>
					<div class="form-group form-group-sm margin-top-bottom" v-if="getError.manufacturerSpecific.productLine.flag && getInitialPageLoad == false && this.getIncomingSaveCompleteValidation">
						<label class="control-label col-sm-2 redText text-bold"></label>
						<div class="col-sm-3">
							<div class="redText">{{ getError.manufacturerSpecific.productLine.errorMsg }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'

	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple'

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming')

	export default {
		components: {
			Lookup,
			LookupMultiple
		},
		data() {
			return {
				studioVisibility: false,
				productLineVisibility: false,
				platformFilters: {
					manufactureGroupId: 0
				}
			}
		},
		created() {
			this.platformFilters.manufactureGroupId = this.getIncomingReview.manufacturerSpecific.platformManufGroupId;
		},
		beforeMount() {
			this.validateStudio(this.watchStudioId);
			this.validateProductLine(this.watchproductLineId);
			this.studioProductLineVisibility();
			this.updateMasterFile();
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getError',
				'getInitialPageLoad',
				'getOldIncoming',
				'getIncomingSaveCompleteValidation'
			]),
			manufacturerSpecificFilters: function () {
				return {
					ManufacturerCode: this.getIncomingReview.manufacturerCode,
					TestingTypeId: this.watchTestingTypeId
				}
			},
			watchProductTypeId: function () {
				return this.getIncomingReview.projectDetails.general.productTypeId
			},
			watchStudioId: function () {
				return this.getIncomingReview.manufacturerSpecific.studioId;
			},
			watchproductLineId: function () {
				return this.getIncomingReview.manufacturerSpecific.productLineId
			},
			watchTestingTypeId: function () {
				return this.getIncomingReview.projectDetails.projectDefinition.testingTypeId;
			},
			isTransfer: function () {
				return this.getIncomingReview.projectDetails.general.isTransfer;
			},
			watchSelectedMapType: function () {
				return this.getIncomingReview.projectDetails.projectDefinition.selectedMappingType
			},
			resubmissionMasterFile: function () {
				return this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber;
			}
		},
		watch: {
			watchProductTypeId: function (val) {
				this.validateProductType(val);
			},
			watchStudioId: function (val) {
				this.validateStudio(val);
			},
			watchproductLineId: function (val) {
				this.validateProductLine(val);
				this.updateMasterFile();
			},
			watchTestingTypeId: function (val) {
				this.validateStudio(val);
				this.validateProductLine(val);
				this.studioProductLineVisibility(val);
			},
			watchSelectedMapType: function (val) {
				this.updateMasterFileResubmissions();
			},
			resubmissionMasterFile: function () {
				this.updateMasterFileResubmissions();
			}
		},
		methods: {
			...mapActions([
				'setManufacturerSpecificStudio',
				'setManufacturerSpecificStudioId',
				'setManufacturerSpecificProductLineId',
				'setManufacturerSpecificProductLine',
				'setStudioFlag',
				'setProductLineFlag',
				'setManufacturerMasterFile',
				'setStudioInitVal',
				'setProductLineInitVal',
				'setProductClassificationInitVal'
			]),
			showStudioPopup: function () {
				$('#studioHelpModal').modal('show');
			},
			showProductLinePopup: function () {
				$('#productlineModal').modal('show');
			},
			updateStudioDropDown: function (newValue) {
				this.setManufacturerSpecificStudio(newValue);
			},
			updateProductLineDropDown: function (newValue) {
				this.setManufacturerSpecificProductLine(newValue);
			},
			validateProductType: function (val) {
				this.validateStudio(val);
				this.validateProductLine(val);
			},
			validateStudio: function () {
				let productTypes = this.getIncomingReview.requiringComplexityManufacturer;
				var hasProductType = false;
				for (var i in productTypes) {
					if (productTypes[i] == this.watchProductTypeId) {
						hasProductType = true;
						break;
					}
				}
				if (hasProductType == true && isNaN(this.watchStudioId) && this.isTransfer == false && this.getIncomingReview.manufacturerSpecific.manufStudioVisibility == true && this.getIncomingReview.manufacturerSpecific.manufStudioRequired == true) {
					this.setStudioFlag(isNaN(this.watchTestingTypeId) == true ? false : true);
				} else {
					this.setStudioFlag(false);
				}
			}, 
			validateProductLine: function () {
				let productTypes = this.getIncomingReview.requiringComplexityManufacturer;
				var hasProductType = false;
				for (var i in productTypes) {
					if (productTypes[i] == this.watchProductTypeId) {
						hasProductType = true;
						break;
					}
				}
				if (hasProductType == true && isNaN(this.watchproductLineId) && this.isTransfer == false && this.getIncomingReview.manufacturerSpecific.manufProductLineVisibility == true && this.getIncomingReview.manufacturerSpecific.manufProductLineRequired == true) {
					this.setProductLineFlag(isNaN(this.watchTestingTypeId) == true ? false : true);
				} else {
					this.setProductLineFlag(false);
				}
			},
			studioProductLineVisibility: function (val, oldVal) {
				if (isNaN(this.watchTestingTypeId) || this.watchTestingTypeId == "") {
					this.studioVisibility = true;
					this.productLineVisibility = true;
					this.setManufacturerSpecificStudio("");
					this.setManufacturerSpecificStudioId(null);
					this.setManufacturerSpecificProductLine("");
					this.setManufacturerSpecificProductLineId(null);

					//Set Confirmation initial values
					this.setInitialValuesConfirmation();
				} else {
					this.studioVisibility = this.getIncomingReview.manufacturerSpecific.manufStudioVisibility ? false : true;
					this.productLineVisibility = this.getIncomingReview.manufacturerSpecific.manufProductLineVisibility ? false : true;
				}
			},
			updateMasterFileResubmissions: function () {
				if (this.watchSelectedMapType != 0) {
					this.setManufacturerSpecificStudio("");
					this.setManufacturerSpecificStudioId(null);
					this.setManufacturerSpecificProductLine("");
					this.setManufacturerSpecificProductLineId(null);
					this.setManufacturerMasterFile("");
					//Set Confirmation initial values
					this.setInitialValuesConfirmation();
				} else {
					this.projectFileNumber();
				}
			},
			masterFileProjectType: function () {
				let masterFile = '';
				if (this.watchSelectedMapType != 0) {
					masterFile = this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber == "" ? "" : this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber;
					if (this.resubmissionMasterFile == "") {
						this.setManufacturerSpecificStudio("");
						this.setManufacturerSpecificStudioId(null);
						this.setManufacturerSpecificProductLine("");
						this.setManufacturerSpecificProductLineId(null);

						//Set Confirmation initial values
						this.setInitialValuesConfirmation();
					}
				} else {
					masterFile = this.getIncomingReview.fileNumber;
				}
				return masterFile;
			},
			updateMasterFile: function () {
				if (this.watchSelectedMapType != 0 && (this.getIncomingReview.manufacturerSpecific.manufProductLineVisibility == true || this.getIncomingReview.manufacturerSpecific.manufStudioVisibility == true)  && !this.getIncomingReview.projectDetails.general.isTransfer) {
					this.setManufacturerMasterFile(this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber == "" ? "" : this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber);
				} else {
					this.projectFileNumber();
				}
			},
			projectFileNumber: function () {
				if ((this.getIncomingReview.manufacturerSpecific.manufProductLineVisibility == true || this.getIncomingReview.manufacturerSpecific.manufStudioVisibility == true) && !this.getIncomingReview.projectDetails.general.isTransfer) {
					this.setManufacturerMasterFile(this.getIncomingReview.fileNumber);
				}
			},
			setInitialValuesConfirmation: function () {
				this.setStudioInitVal(this.getIncomingReview.manufacturerSpecific.studio);
				this.setProductLineInitVal(this.getIncomingReview.manufacturerSpecific.productLine);
			}
		}
	}
</script>

<style scoped>

	.redText {
		color: red;
		font-weight: normal;
	}

	.text-bold {
		font-weight: bold;
	}

	.sectionTitle {
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
		color: #754a1e;
	}

	.margin-top-bottom {
		margin-bottom: 15px !important;
	}

	.margin-studio {
		margin-top: 15px !important;
		margin-bottom: 15px !important;
	}

	.padding-right {
		padding-right: 0px !important;
	}

	.color-black {
		color: black;
		font-weight: bold;
	}

	.inline-block {
		display: inline-block
	}

</style>