﻿<template>
	<div>
		<div ref="reasonValidation" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title"><strong>Reason Validation Error</strong></h4>
					</div>
					<div class="modal-body">
						<p>Task soft lock engaged, updating or deleting an existing task(s) will now require a reason be provided.</p>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="taskTemplateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel"><strong>Add Task Template</strong></h5>
						<button type="button" class="close" data-dismiss="modal" @click="resetTaskTemplateObj" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group row">
								<label for="TemplateOwners" class="col-sm-3 col-form-label col-form-label-lg">Template Owner(s)</label>
								<div class="col-sm-9">
									<LookupMultiple id="TemplateOwners"
													name="TemplateOwners"
													lookupajax="Users"
													v-model="getIncomingReview.evolutionViewModel.templatePicker.userIds"
													:options="getIncomingReview.evolutionViewModel.templatePicker.users"
													:filter="this.getIncomingReview.usersFilter" />
								</div>
							</div>
							<div class="form-group row">
								<label for="TemplateFilter" class="col-sm-3 col-form-label col-form-label-lg">Task Template(s)</label>
								<div class="col-sm-9">
									<LookupMultiple ref="TaskTemplateDropDown"
													id="TemplateFilter"
													name="TemplateFilter"
													lookupajax="TaskTemplates"
													v-model="getIncomingReview.evolutionViewModel.templatePicker.templateIds"
													:options="getIncomingReview.evolutionViewModel.templatePicker.templates"
													:filter="this.tasktemplateFilter" />
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" @click="resetTaskTemplateObj">Close</button>
						<button ref="addTemplateBtn" title="Add Template Tasks" class="btn btn-primary" data-dismiss="modal" @click="addTemplateTasks"> <i class="fa fa-plus" style="color:white"></i> Add </button>
					</div>
				</div>
			</div>
		</div>
		<div id="anchor-potential-task" class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div data-toggle="collapse" data-target="#potentialTaskCollapse" class="panel-heading clickable">
						<div class="row">
							<div class="col-sm-2">
								<h4 class="text-center pull-left">Potential Tasks</h4>
							</div>
							<div class="col-sm-10 form-buttons">
								<button title="Save Tasks" class="btn btn-primary" :disabled="disableSaveBtn == 1" @click="applyChanges($event)"> Save Tasks </button>
							</div>
						</div>
					</div>
					<div id="potentialTaskCollapse" class="panel-body panel-collapse collapse in">
						<div class="text-center" :class="{ hidden: !this.getEvoConfig.potentialTaskSpinner }">
							<i class="fa fa-spinner fa-pulse fa-5x"></i>
						</div>
						<div class="row" :class="{ hidden: !this.taskUpdated }">
							<div class="col-sm-12">
								<div class="alert alert-success" role="alert">
									<button type="button" class="close" @click="closeAlertSuccess"><span aria-hidden="true">&times;</span></button>
									<strong>Success!</strong> Tasks updated!
								</div>
							</div>
						</div>
						<div class="row" :class="{ hidden: !this.getIncomingReview.taskLockEnforced }">
							<div class="col-sm-12">
								<div class="alert alert-danger" role="alert">
									Project accepted more than 96 hours ago. Task soft lock engaged. Tasks will also no longer be deleted only deactivated.
								</div>
							</div>
						</div>
						<div class="row">
							<div class="evo_title m-20">Potential and Existing Tasks</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-horizontal">
									<VueGoodTable ref="taskTable"
												  :columns="columns"
												  :rows="this.getEvoConfig.potentialTasks"
												  :rowStyleClass="rowStyleClassFn"
												  @on-row-dblclick="doubleClicked"
												  :fixed-header="true"
												  max-height="500px"
												  :sort-options="{ enabled:false }">
										<template slot="table-row" slot-scope="props">
											<span v-if="props.column.field == 'testCases'">
												<span v-if="props.row._new">
													<i class="fa fa-plus"></i>
												</span>
												<span v-else-if="props.row.componentGroupId != null">
													<i class="fa fa-file" @click="onRowClick(props)" style="cursor: pointer;"></i>
												</span>
											</span>
											<span v-if="props.column.field == 'taskDef'">
												<span v-if="props.row._new">
													<Lookup :lookuptextfield="getEvoConfig.potentialTasks[props.row.originalIndex].taskDef"
															:filter="getIncomingReview.tasksFilter"
															@updateLookupTextField="addUpdateTaskname(props.row.originalIndex, $event)"
															v-model.number="getEvoConfig.potentialTasks[props.row.originalIndex].taskDefinitionId"
															lookupajax="TaskDefinitions"
															class="form-control">
													</Lookup>
												</span>
												<span v-else>
													<strong>{{props.formattedRow[props.column.field]}}</strong><br>
													<span :ref="props.row.originalIndex" class="testcases-row">
														<span v-for="(tCases, index) in props.row.taskDefinition.testCases">
															<span>
																&#8226; {{ tCases.name }}
															</span> <br />
														</span>
													</span>
												</span>
											</span>
											<span v-else-if="props.column.field == 'description'">
												<span v-if="props.row._isDeactivatedTask">
													<strong>{{props.formattedRow[props.column.field]}}</strong>
												</span>
												<span v-else>
													<input type="text" class="form-control" v-model="getEvoConfig.potentialTasks[props.row.originalIndex].description">
												</span>
											</span>
											<span v-else-if="props.column.field == 'estimatedHours'">
												<span v-if="(props.row._isDeactivatedTask && props.row.id != null)">
													<strong>{{ props.formattedRow[props.column.field] }}</strong>
												</span>
												<span v-else>
													<input type="number" class="form-control" v-model.number="getEvoConfig.potentialTasks[props.row.originalIndex].estimatedHours">
												</span>
											</span>
											<div v-else-if="props.column.field == 'targetDate'" style="position:relative;">
												<span v-if="(props.row._isDeactivatedTask && props.row.id != null)">
													<strong>{{ props.formattedRow[props.column.field] | formatDate  }}</strong>
												</span>
												<span v-else>
													<DatePicker v-model="getEvoConfig.potentialTasks[props.row.originalIndex].targetDate"
																@input="targetDateUpdated(props.row.originalIndex, $event)" />
												</span>
											</div>
											<span v-else-if="props.column.field == 'assignedUserName'">
												<span v-if="props.row._isDeactivatedTask">
													<strong>{{ props.formattedRow[props.column.field] }}</strong>
												</span>
												<span v-else>
													<Lookup :ref="'user' + props.index"
															:lookuptextfield="getEvoConfig.potentialTasks[props.row.originalIndex].assignToUserName"
															@updateLookupTextField="updateAssignedUser(props.row.originalIndex, $event)"
															v-model.number="getEvoConfig.potentialTasks[props.row.originalIndex].assignedUserId"
															lookupajax="Users"
															:disabled="getEvoConfig.potentialTasks[props.row.originalIndex].isETATask == true"
															class="form-control">
													</Lookup>
												</span>
											</span>
											<span v-else-if="props.column.field == 'isETATask'">
												<input v-if="!props.row._isDeactivatedTask"
													   :ref="'etaCheckBox' + props.index"
													   type="checkbox"
													   :disabled="toggleETACheckbox(props.row.taskDefinitionId, props.row.originalIndex)"
													   :checked="getEvoConfig.potentialTasks[props.row.originalIndex].isETATask"
													   @change="etaCheckbox(props.row.originalIndex, $event)">
											</span>
											<span v-else-if="props.column.field == 'startDate'">
												<span v-if="props.formattedRow[props.column.field]!=null">
													<strong>{{props.formattedRow[props.column.field] | formatDateTime }}</strong>
												</span>
											</span>
											<span v-else-if="props.column.field == 'completeDate'">
												<span v-if="props.formattedRow[props.column.field]!=null">
													<strong>{{props.formattedRow[props.column.field] | formatDateTime }}</strong>
												</span>
											</span>
											<span v-else-if="props.column.field == 'note' && getIncomingReview.taskLockEnforced">
												<span v-if="props.row._isDeactivatedTask">
													<strong>{{props.formattedRow[props.column.field]}}</strong>
												</span>
												<span v-else>
													<textarea type="text" ontenteditable="true" class="form-control"
															  v-model="getEvoConfig.potentialTasks[props.row.originalIndex].note"
															  @input="reasonChanged(props.row.originalIndex, $event)"
															  placeholder="Task change reason"
															  style="height:100px; resize: none;">
													</textarea>
												</span>
												<span  :ref="'reason' + props.index" class="text-danger" style="visibility:hidden; color:red">
													Reason is required
												</span>
											</span>
											<span v-else-if="props.column.field == 'remove'">
												<span v-if="!props.row._isDeactivatedTask">
													<label class="switch">
														<input type="checkbox" v-model="getEvoConfig.potentialTasks[props.row.originalIndex]._destroy">
														<span class="slider round"></span>
													</label>
												</span>
											</span>
											<span v-else>
												{{props.formattedRow[props.column.field]}}
											</span>
										</template>
									</VueGoodTable>
								</div>
							</div>
						</div>
						<div class="row filters">
							<div class="col-sm-2">
								<label style="color: #606266"><input type="checkbox" style="cursor: pointer;" v-model="showOnlyDuplicate" /> Show Only Duplicate Tasks </label> <span ref="duplicateCount" class="badge"> {{ duplicateCount }}</span>
							</div>
							<div class="col-sm-10">
								<p><i class="pull-right" style="color:#626660;">Bulk Update - Double click to select Rows</i></p>
							</div>
						</div>
						<div class="row bm-20">
							<div class="col-sm-8">
								<div class="form-horizontal">
									<button title="Create New Task" class="btn btn-primary" @click="stageAddTasks"> <i class="fa fa-plus" style="color:white"></i> Create New Task </button>
									<button title="Add Task Template" class="btn btn-primary" data-toggle="modal" data-target="#taskTemplateModal"> <i class="fa fa-plus" style="color:white"></i> Add Task Template </button>
								</div>
							</div>
							<div class="col-sm-4">
								<table>
									<tr>
										<td><b>New Tasks:</b></td>
										<td><p class="legend"><span class="newTasks"></span> </p></td>
										<td><b>Deactivated Tasks:</b></td>
										<td><p class="legend"> <span class="deactivatedTasks"></span> </p></td>
										<td><b>Deprecated Tasks:</b></td>
										<td><p class="legend"> <span class="deprecatedTasks"></span> </p></td>
										<td><b>Evo & Existing Tasks:</b></td>
										<td><p class="legend"> <span class="protrackTasks"></span> </p></td>
									</tr>
								</table>
							</div>
						</div>
						<div ref="bulkUpdate" class="row newTable" :class="{ hidden: this.bulkupdateHidden }" v-on:click="bulkUpdateRowClicked">
							<div class="col-sm-12">
								<VueGoodTable :columns="bulkUpdateColumn"
											  :rows="this.bulkTaskUpdate"
											  :sort-options="{ enabled:false }"
											  class="bm-20">
									<template slot="table-row" slot-scope="props">
										<span v-if="props.column.field == 'assignedUserName'">
											<Lookup :lookuptextfield="bulkUpdateList[0].assignToUserName"
													@updateLookupTextField="updateBulkUserField(props.row.originalIndex, $event)"
													v-model.number="bulkUpdateList[0].assignedUserId"
													lookupajax="Users"
													class="form-control">
											</Lookup>
										</span>
										<span v-else-if="props.column.field == 'bulkUpdate'">
											<button title="Bulk Update" class="btn btn-primary" @click="bulkUpdate"> Bulk Update </button>
										</span>
									</template>
								</VueGoodTable>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import { VueGoodTable } from 'vue-good-table';
	import { VueGoodTablePlugin } from 'vue-good-table'
	import DatePicker from '@/components/utility/DatePicker.vue';
	import 'vue-good-table/dist/vue-good-table.min.css';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue'
	import api from '@/api/incoming'

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming')

	export default {
		components: {
			LookupMultiple,
			VueGoodTable,
			DatePicker,
			Lookup
		},
		data() {
			return {
				showOnlyDuplicate: false,
				duplicateCount: 0,
				bulkUpdateList: [],
				bulkUpdateRowsIndex: [],
				taskUpdated: false,
				taskIsDirty: false,
				bulkupdateHidden: true,
				disableSaveBtn: false,
				disableAddEngBtn: false,
				http_Ok: 200,
				columns: [
					{
						field: 'testCases',
						width: '1%',
					},
					{
						label: 'Component Group',
						field: 'compGroupDescription',
						width: '5%'
					},
					{
						label: 'Task Name',
						field: 'taskDef',
						filterOptions: {
							enabled: false,
							placeholder: 'Filter Task Name',
							filterValue: ''
						},
						width: '15%'
					},
					{
						label: 'Task Description',
						field: 'description',
						filterOptions: {
							enabled: false,
							placeholder: 'Filter Task Description',
							filterValue: ''
						},
						width: '10%'
					},
					{
						label: 'Estimate',
						field: 'estimatedHours',
						filterOptions: {
							enabled: false,
							placeholder: 'Filter estimate',
							filterValue: ''
						},
						width: '5%'
					},
					{
						label: 'Target Date',
						field: 'targetDate',
						filteroptions: {
							enabled: false,
							placeholder: 'YYYY-MM-DDT00:00:00',
							filterValue: ''
						},
						width: '10%'
					},
					{
						label: 'User',
						field: 'assignedUserName',
						filteroptions: {
							enabled: false,
							placeholder: 'Filter note',
							filterValue: ''
						},
						width: '10%'
					},
					{
						label: 'Start Date',
						field: 'startDate',
						filteroptions: {
							enabled: false,
							placeholder: 'Filter start date',
							filterValue: ''
						},
						width: '5%'
					},
					{
						label: 'Complete Date',
						field: 'completeDate',
						filteroptions: {
							enabled: false,
							placeholder: 'Filter complete date',
							filterValue: ''
						},
						width: '5%'
					},
					{
						label: 'ETA',
						field: 'isETATask',
						width: '1%'
					}
				],
				bulkUpdateColumn: [
					{
						field: 'testCases',
						width: '1%',
					},
					{
						field: 'compGroupDescription',
						width: '5%'
					},
					{
						field: 'taskDef',
						filterOptions: {
							enabled: false,
							placeholder: 'Filter Task Name',
							filterValue: ''
						},
						width: '15%'
					},
					{
						field: 'description',
						filterOptions: {
							enabled: false,
							placeholder: 'Filter Task Description',
							filterValue: ''
						},
						width: '10%'
					},
					{
						field: 'estimatedHours',
						filterOptions: {
							enabled: false,
							placeholder: 'Filter estimate',
							filterValue: ''
						},
						width: '5%'
					},
					{
						field: 'targetDate',
						filteroptions: {
							enabled: false,
							placeholder: 'YYYY-MM-DDT00:00:00',
							filterValue: ''
						},
						width: '10%'
					},
					{
						label: 'User',
						field: 'assignedUserName',
						filteroptions: {
							enabled: false,
							placeholder: 'Filter note',
							filterValue: ''
						},
						width: '10%'
					},
					{
						label: 'Bulk Update',
						field: 'bulkUpdate',
						filteroptions: {
							enabled: false,
							placeholder: 'Filter start date',
							filterValue: ''
						},
						width: '15%'
					}
				]
			}
		},
		mounted() {
			this.getEvoConfig.potentialTasks = this.getIncomingReview.evolutionViewModel.protrackTasks;
			this.getIncomingReview.addTask.projectId = this.getIncomingReview.projectId;
			this.updateCopyOfTasks(_.cloneDeep(this.getEvoConfig.potentialTasks));
			this.showDuplicateCount();
			this.getIncomingReview.usersFilter.templateOwner = true;
			//Dynamically add columns
			if (this.getIncomingReview.taskLockEnforced) {
				this.columns.push({ label: 'Reason', field: 'note', width: '10%'});
			}
			this.columns.push({ label: 'Remove', field: 'remove', width: '5%' });
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getEvoConfig',
				'getEditToggle',
				'copyOfTasks'
			]),
			newTasks: function () {
				let tasks = [];
				tasks.push(this.getIncomingReview.addTask);
				return tasks;
			},
			bulkTaskUpdate: function () {
				if (!this.bulkUpdateList.length > 0) {
					this.bulkUpdateList.push(this.getIncomingReview.evolutionViewModel.bulkUpdateTask);
				}
				return this.bulkUpdateList;
			},
			tasktemplateFilter: function () {
				let templateFilter = { UserIds: this.getIncomingReview.evolutionViewModel.templatePicker.userIds };
				return templateFilter;
			}
		},
		watch: {
			bulkUpdateRowsIndex: function () {
				if (this.bulkUpdateRowsIndex.length > 0) {
					this.bulkupdateHidden = false;
				} else {
					this.bulkupdateHidden = true;
				}
			},
			duplicateCount: function () {
				if (this.duplicateCount == 0) {
					this.$refs.duplicateCount.classList.add('default-badge-color');
					this.$refs.duplicateCount.classList.remove('warning-badge-color');
				} else {
					this.$refs.duplicateCount.classList.add('warning-badge-color');
					this.$refs.duplicateCount.classList.remove('default-badge-color');
				}
			},
			'getIncomingReview.evolutionViewModel.templatePicker.templateIds': function () {
				if (this.getIncomingReview.evolutionViewModel.templatePicker.templateIds.length > 0) {
					this.$refs.addTemplateBtn.disabled = false;
				} else {
					this.$refs.addTemplateBtn.disabled = true;
				}
			},
			'getIncomingReview.evolutionViewModel.templatePicker.userIds': function () {
				if (this.getIncomingReview.evolutionViewModel.templatePicker.userIds.length > 0) {
					this.$refs.TaskTemplateDropDown.$el.disabled = false;
				} else {
					this.$refs.TaskTemplateDropDown.$el.disabled = true;
					this.getIncomingReview.evolutionViewModel.templatePicker.templateIds = [];
				}
			},
			'getEvoConfig.potentialTasks': {
				handler(val) {
					this.compareAndMarkDirty();
				},
				deep: true
			},
			'getEvoConfig.compGroupDeleted': function () {
				if(this.getEvoConfig.compGroupDeleted) {
					this.generatePotentialTasks();
				}
			}
		},
		methods: {
			...mapActions([
				'potentialTaskPanel',
				'potentialTask',
				'potentialTaskSpinner',
				'updateDeleteCompGroupFlag',
				'updateCopyOfTasks'
			]),
			showDuplicateCount: function () {
				this.duplicateCount = 0;
				let i;
				let tasks = this.getEvoConfig.potentialTasks;
				for (i = 0; i < tasks.length; i++) {
					if (this.checkIfTaskExist(tasks[i], i)) {
						this.duplicateCount++;
					}
				}	
			},
			resetTaskCount: function () {
				this.duplicateCount = 0;
			},
			generatePotentialTasks: function () {
				this.resetTaskCount();
				this.potentialTaskSpinner(true);
				this.resetBulkSelection();

				let testCaseSeed = {
					functionalRolesIds: [],
					jurisdictionsIds: [],
					documentIds: [],
					projectId: this.getIncomingReview.projectId
				};

				let potentialTasks = this.getEvoConfig.potentialTasks;
				let i = this.getEvoConfig.potentialTasks.length;
				while (i--) {
					if (!potentialTasks[i]._new && potentialTasks[i].componentGroupId != null && potentialTasks[i].componentGroupId != '') {
						potentialTasks.splice(i,1);
					}
				}

				let self = this;
				api.getpotentialTasksForComponentGroup(testCaseSeed)
					.then(response => {
						const result = response.data;
						let i;
						for (i = 0; i < result.length; i++) {
							if (!_.find(self.getEvoConfig.potentialTasks, ['id', result[i].id])) {
								self.getEvoConfig.potentialTasks.push(result[i]);
							}
						}

						this.updateCopyOfTasks(_.cloneDeep(self.getEvoConfig.potentialTasks));
						this.resetTaskCount();
						self.potentialTaskSpinner(false);
					})
					.catch(e => {
						DoneLoading();
						bootbox.alert("Opps.. something went wrong please enter a trackit.");
						console.log(e.response)
					})
					.finally(x => {
						this.showDuplicateCount();
						this.updateDeleteCompGroupFlag(false);
						DoneLoading();
					});
			},
			functionroleIds: function (currentCompoGroup) {
				let functionalRoleIds = [], functionalRoles = currentCompoGroup.functionalRoles;
				for (let i = 0; i < functionalRoles.length; i++) {
					if (functionalRoles[i].selected) {
						functionalRoleIds.push(functionalRoles[i].id);
					}
				}
				return functionalRoleIds;
			},
			jurisdictionIds: function (currentCompoGroup) {
				let jurisdictionIds = [], jurisdictions = currentCompoGroup.jurisdictions;
				for (let i = 0; i < jurisdictions.length; i++) {
					let selectedDocumentLength = 0;
					let documents = jurisdictions[i].documents;
					for (let j = 0; j < documents.length; j++) {
						if (documents[j].selected) {
							jurisdictionIds.push(parseInt(jurisdictions[i].id));
							break;
						}
					}
				}
				return jurisdictionIds;
			},
			documentIds: function (currentCompoGroup) {
				let docIds = [], jurisdictions = currentCompoGroup.jurisdictions;
				for (let i = 0; i < jurisdictions.length; i++) {
					let documents = jurisdictions[i].documents;
					for (let j = 0; j < documents.length; j++) {
						if (documents[j].selected) {
							docIds.push(documents[j].id);
						}
					}
				}
				return docIds;
			},
			updateAssignedUser: function (index, newValue, selectedId) {
				this.getEvoConfig.potentialTasks[index].assignToUserName = newValue;
			},
			addUpdateTaskname: function (index, newValue, selectedId) {
				//why "null"? need to look into this
				let isNull = newValue != "null" && newValue != "" ? false : true;
				if (!isNull) {
					this.getEvoConfig.potentialTasks[index].taskDef = newValue;
					if (!this.getEvoConfig.potentialTasks[index]._newTemplateTask) {
						this.getEvoConfig.potentialTasks[index].description = newValue;
					}
				}
				this.showDuplicateCount();
			},
			addNewTaskAssignedUser: function (index, newValue, selectedId) {
				this.getIncomingReview.addTask.assignToUserName = newValue;
			},
			updateBulkUserField: function (index, newValue, selectedId) {
				this.bulkUpdateList[0].assignToUserName = newValue;
			},
			applyChanges: function (e) {
				e.stopPropagation();
				let self = this;
				this.taskIsDirty = false;
				this.taskUpdated = false;
				this.resetBulkSelection();

				let dirtyIndex = this.compareAndMarkDirty();
				if (dirtyIndex.length > 0 && this.getIncomingReview.taskLockEnforced) {
					$(this.$refs.reasonValidation).modal('show');
					return;
				}

				this.removeDestroyedPotentialTasks();
				if (this.taskIsDirty) {
					Loading();
					this.disableSaveBtn = true;
					api.saveTasks(this.getIncomingReview.projectId, this.getIncomingReview.taskLockEnforced, this.getEvoConfig.potentialTasks)
						.then(response => {
							const result = response.data;
							self.taskUpdated = true;
							this.updateCopyOfTasks(_.cloneDeep(result));
							self.getEvoConfig.potentialTasks = result;
							this.resetTaskCount();
						})
						.catch(e => {
							DoneLoading();
							this.taskUpdated = false;
							bootbox.alert("Opps.. something went wrong please enter a trackit.");
							console.log(e.response)
						})
						.finally(x => {
							this.showDuplicateCount();
							this.disableSaveBtn = false;
							DoneLoading();
						});
				}
			},
			closeAlertSuccess: function () {
				this.taskUpdated = false;
			},
			removeDestroyedPotentialTasks: function () {
				let potentialTasks = this.getEvoConfig.potentialTasks;
				let i = this.getEvoConfig.potentialTasks.length;
				while (i--) {
					//Only remove new tasks
					if (potentialTasks[i].id == null && potentialTasks[i]._destroy) {
						potentialTasks.splice(i, 1);
					}
				}
			},
			compareAndMarkDirty: function () {
				let currentTasks = this.getEvoConfig.potentialTasks;
				let dirtyIndex = [];
				let i;
				var self = this;
				for (i = 0; i < currentTasks.length; i++) {
					let reasonSpan = this.$refs['reason' + i];

					let isEqual = _.isEqual(_.omit(currentTasks[i], ['_dirty', 'note', 'assignToUserName']), _.omit(this.copyOfTasks[i], ['_dirty', 'note', 'assignToUserName']));
					if (!isEqual) {
						currentTasks[i]._dirty = true;

						if (!currentTasks[i]._new && (currentTasks[i].note == null || currentTasks[i].note == "")) {
							dirtyIndex.push(i);
							if (reasonSpan && this.getIncomingReview.taskLockEnforced) {
								reasonSpan.style.visibility = "visible";
							}
						}
						this.taskIsDirty = true;
					} else {
						currentTasks[i]._dirty = false;
						if (reasonSpan && this.getIncomingReview.taskLockEnforced) {
							reasonSpan.style.visibility = "hidden";
						}
					}
				}
				return dirtyIndex;
			},
			updateTaskname: function (newValue, selectedId) {
				//why "null"? need to look into this
				if (newValue != "null") {
					this.getIncomingReview.addTask.name = newValue;
					this.getIncomingReview.addTask.description = newValue;
				}
			},
			rowStyleClassFn: function (row) {
				let duplicateStyle = this.showOnlyDuplicateStyle(row);
				let i;
				for (i = 0; i < this.bulkUpdateRowsIndex.length; i++) {
					if (this.bulkUpdateRowsIndex[i] === row.originalIndex) {
						return 'light-yellow' + duplicateStyle;
					}
				}
				if (row._destroy) {
					return 'light-red' + duplicateStyle;
				}
				//Evolution Status = 3 is inactive. The compgroup of this task is deleted
				if (row.componentGroupId != null && row.componentGroupId != '' && row.evolutionStatus == 3) {
					return 'light-purple' + duplicateStyle;
				}
				if (duplicateStyle.length > 0) {
					return duplicateStyle;
				}
				return row.existsInDb ? (row._isDeactivatedTask ? 'light-grey' : 'light-blue' ) : 'light-green';
			},
			showOnlyDuplicateStyle(row) {
				let defaultPotentialTask = '';
				if (this.showOnlyDuplicate) {
					if (!this.checkIfTaskExist(row, row.originalIndex)) {
						defaultPotentialTask += ' hide';
					}
				}
				return defaultPotentialTask;
			},
			clearAddTasks() {
				let clearAddedTask = this.getIncomingReview.addTask;

			},
			onRowClick(params) {
				let documentSpan = this.$refs[params.row.originalIndex];
				if (documentSpan) {
					if (documentSpan.style.display == "block") {
						documentSpan.style.display = "none";
					} else {
						documentSpan.style.display = "block";
					}
				}
			},
			doubleClicked(params) {
				if (params.row._isDeactivatedTask) {
					return;
				}
				let i;
				let hasElement = false;
				for (i = 0; i < this.bulkUpdateRowsIndex.length; i++) {
					if (this.bulkUpdateRowsIndex[i] === params.row.originalIndex) {
						this.bulkUpdateRowsIndex.splice(i, 1);
						hasElement = true;
					}
				}
				if (!hasElement) {
					this.bulkUpdateRowsIndex.push(params.row.originalIndex);
				}
			},
			bulkUpdate() {
				let i;
				let userName = this.bulkUpdateList[0].assignToUserName;
				let userId = this.bulkUpdateList[0].assignedUserId;
				for (i = 0; i < this.bulkUpdateRowsIndex.length; i++) {
					let taskIndexToUpdate = this.bulkUpdateRowsIndex[i];
					if (!this.getEvoConfig.potentialTasks[taskIndexToUpdate].isETATask) {
						this.getEvoConfig.potentialTasks[taskIndexToUpdate].assignToUserName = userName;
						this.getEvoConfig.potentialTasks[taskIndexToUpdate].assignedUserId = userId;
					}
				}
				this.resetBulkSelection();			
			},
			removeTask(index) {
				this.getEvoConfig.potentialTasks.splice(index, 1);
				this.updateCopyOfTasks(_.cloneDeep(this.getEvoConfig.potentialTasks));
				this.resetBulkSelection();
			},
			checkIfTaskExist(row, index) {
				let i;
				for (i = 0; i < this.getEvoConfig.potentialTasks.length; i++) {
					if (i != index && this.getEvoConfig.potentialTasks[i].taskDefinitionId == row.taskDefinitionId) {
						return true;
					}
				}
				return false;
			},
			resetBulkSelection() {
				this.bulkUpdateList[0].assignToUserName = "";
				this.bulkUpdateList[0].assignedUserId = null;
				this.bulkUpdateRowsIndex = [];
			},
			stageAddTasks() {
				this.getEvoConfig.potentialTasks.push(_.cloneDeep(this.getIncomingReview.addTask));
			},
			bulkUpdateRowClicked() {
				this.$refs.bulkUpdate.classList.remove("newTable");
			},
			addTemplateTasks() {
				let self = this;
				Loading();
				api.getTemplateTasks({
					templateIds: this.getIncomingReview.evolutionViewModel.templatePicker.templateIds,
					projectId: this.getIncomingReview.projectId,
					addReason: null,
					taskLockEngaged: this.getIncomingReview.taskLockEnforced
				})
				.then(response => {
				const result = response.data;
				let i;
				for (i = 0; i < result.length; i++) {
					this.getEvoConfig.potentialTasks.push(result[i]);
				}
				this.updateCopyOfTasks(_.cloneDeep(self.getEvoConfig.potentialTasks));
				//Set Counts
				this.showDuplicateCount();
				})
				.catch(e => {
					console.log(e);
				})
				.finally(x => {
					this.resetTaskTemplateObj();
					DoneLoading();
				});
			},
			resetTaskTemplateObj() {
				this.getIncomingReview.evolutionViewModel.templatePicker.userIds = [];
				this.getIncomingReview.evolutionViewModel.templatePicker.templateIds = [];
			},
			targetDateUpdated: function (index, val) {
				if (val == "") {
					this.getEvoConfig.potentialTasks[index].targetDate = null;
				}
			},
			reasonChanged: function (index, val) {
				let reasonSpan = this.$refs['reason' + index];
				if (reasonSpan) {
					if (val == "" || val == null) {
						reasonSpan.style.visibility = "visible";
					} else {
						reasonSpan.style.visibility = "hidden";
					}
				}
			},
			etaCheckbox: function (index, e) {
				this.getEvoConfig.potentialTasks[index].isETATask = e.target.checked;
				if (e.target.checked) {
					this.$refs['user' + index].$el.disabled = true;
					this.removeUserInfo(index);
				} else {
					this.$refs['user' + index].$el.disabled = false;
				}
			},
			removeUserInfo: function (index) {
				this.getEvoConfig.potentialTasks[index].assignToUserName = "";
				this.getEvoConfig.potentialTasks[index].assignedUserId = null;
			},
			toggleETACheckbox: function (taskDefId, index) {
				if (this.getIncomingReview.evolutionViewModel.defaultETATaskDefIds.indexOf(taskDefId) != -1) {
					return false;
				} else {
					this.getEvoConfig.potentialTasks[index].isETATask = false;
					return true;
				}
			}
		}
	}
</script>

<style>
	.light-green {
		background-color: #9de09f;
	}

	.light-blue {
		background-color: #9ad6f4;
	}

	.light-yellow {
		background-color: #fbffa5;
	}

	.light-red {
		background-color: #f2dede;
	}

	.light-purple {
		background-color: #bbb0e8;
	}

	.light-grey {
		background-color: #b7b7b7;
	}

	.hide {
		display: none;
	}

</style>


<style scoped>
	.newTable {
		animation-name: animationFrames;
		animation-duration: 2s;
		animation-iteration-count: infinite;

		-moz-animation-name: animationFrames;
		-moz-animation-duration: 2s;
		-moz-animation-iteration-count: infinite;

		-webkit-animation-name: animationFrames;
		-webkit-animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
	}

	.vgt-responsive {
		overflow-x: inherit !important;
	}

	@-moz-keyframes animationFrames {
		50% {
			background-color: #8bc34abf;
		}

		100% {
			background-color: white;
		}
	}

	@keyframes animationFrames {
		50% {
			background-color: #8bc34abf;
		}

		100% {
			background-color: white;
		}
	}

	@-webkit-keyframes animationFrames {
		50% {
			background-color: #8bc34abf;
		}
		100% {
			background-color: white;
		}
	}

	.filters {
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 15px;
		padding-left: 15px;
		border: 1px solid #dcdfe6;
		background-color: #f4f5f8;
	}

	.fa-inverse {
		color: #9de09f;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	table.vgt-table {
		font-size: 12px;
	}

	.bm-20 {
		margin-top: 20px;
	}

	.m-20 {
		margin-top: 20px;
		margin-left: 20px;
	}

	.bt-10 {
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.alert {
		margin-bottom: 0px;
	}

	.newTasks {
		width: 15px;
		height: 15px;
		margin: auto;
		display: inline-block;
		border: 1px solid gray;
		vertical-align: middle;
		border-radius: 2px;
		background: #9de09f;
	}

	.deprecatedTasks {
		width: 15px;
		height: 15px;
		margin: auto;
		display: inline-block;
		border: 1px solid gray;
		vertical-align: middle;
		border-radius: 2px;
		background: #ac9de0ba;
	}

	.protrackTasks {
		width: 15px;
		height: 15px;
		margin: auto;
		display: inline-block;
		border: 1px solid gray;
		vertical-align: middle;
		border-radius: 2px;
		background: #9ad6f4;
	}

	.deactivatedTasks {
		width: 15px;
		height: 15px;
		margin: auto;
		display: inline-block;
		border: 1px solid gray;
		vertical-align: middle;
		border-radius: 2px;
		background: #b7b7b7;
	}

	.taskIndicator {
		width: 20px;
		height: 20px;
		margin: 5px;
		border: 1px solid rgba(0, 0, 0, .2);
	}
	
	.testcases-row {
		display: none;
		padding: 5px;
	}

	.vueGoodTableTasks {
		overflow-y: scroll;
	}

	.legend {
		font-size: 12px;
		line-height: 24px;
		font-weight: normal;
		color: #848484;
		padding: 10px;
		margin: 0;
	}

	.evo_title {
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
		color: #754a1e;
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 24px;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #b1b1b1;
		-webkit-transition: .2s;
		transition: .2s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 20px;
		width: 20px;
		left: 2px;
		bottom: 2px;
		background-color: white;
		-webkit-transition: .2s;
		transition: .2s;
	}

	input:checked + .slider {
		background-color: #d9534f;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #d9534f;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	/*.test {
		overflow: visible !important;
		overflow-y: hidden !important;
		overflow-x: hidden !important;
		position: fixed !important;
		width: 100%;
		position:relative;
		z-index: 99999 !important;
	}*/

	.default-badge-color {
		background-color: #777777;
	}

	.warning-badge-color {
		background-color: #d9534f;
	}
		
</style>