﻿<template>
	<div id="anchor-project-details" class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div data-toggle="collapse" data-target="#projectDetailsCollapse" class="panel-heading clickable">
					<div class="row">
						<div class="col-sm-2">
							<h4 class="text-center pull-left">Project Details</h4>
						</div>
						<div class="col-sm-10 form-buttons">
							<button title="Save all sections." class="btn btn-primary btn-sm" v-if="getIncomingReview.projectStatus != 'DN' || getIncomingReview.hasCompletedFormEditPermission" v-on:click="incomingSave($event)">Save Review</button>
							<button title="Complete Incoming Review form." class="btn btn-primary btn-sm" v-if="getIncomingReview.projectStatus != 'DN' && !getIncomingReview.incomingReviewStatus.completed" v-on:click="completeIncomingReviewForProject($event)">Complete Review</button>
						</div>
					</div>
				</div>
				<div id="projectDetailsCollapse" class="panel-body panel-collapse collapse in">
					<div class="row" v-if="!getIncomingReview.projectDetails.general.isTransfer">
						<ProjectDefinition></ProjectDefinition>
					</div>
					<div class="row">
						<WorkOrderNumber></WorkOrderNumber>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<h3>General</h3>
							<hr>
						</div>
					</div>
					<div class="form-horizontal" v-bind:class="{ hidden: getIncomingReview.projectDetails.general.isTransfer == true || (this.getIncomingReview.manufacturerSpecific.manufProductLineVisibility == false && this.getIncomingReview.manufacturerSpecific.manufStudioVisibility == false)}">
						<div class="form-group form-group-sm margin-bottom-0">
							<label class="control-label col-sm-2" for="TestingTypeId">Testing Type</label>
							<div class="col-sm-3 ">
								<input type="hidden"
									   id="testingType"
									   name="testingType"
									   v-model="getIncomingReview.projectDetails.projectDefinition.testingType" />
								<Lookup id="TestingTypeId"
										name="TestingTypeId"
										v-model="getIncomingReview.projectDetails.projectDefinition.testingTypeId"
										lookupajax="TestingTypes"
										:lookuptextfield="getIncomingReview.projectDetails.projectDefinition.testingType"
										:disabled="this.getIncomingReview.projectDetails.projectDefinition.testingTypeFlag == true"
										@updateLookupTextField="updateTestingType"
										class="form-control">
								</Lookup>
							</div>
						</div>
					</div>
					<div class="row">
						<GeneralInfo></GeneralInfo>
					</div>
					<div class="row">
						<TargetDate></TargetDate>
					</div>
					<TargetOffsetConfirmation @setApplyJurisdictionOffset="(payload) => respondToSetApplyJurisdictionOffset(payload)"></TargetOffsetConfirmation>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';
	import GeneralInfo from '@/components/incoming/GeneralInfo.vue';
	import ProjectDefinition from '@/components/incoming/ProjectDefinition.vue';
	import WorkOrderNumber from '@/components/incoming/WorkOrderNumber.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import TargetDate from '@/components/incoming/TargetDate.vue';
	import TargetOffsetConfirmation from '@/components/incoming/TargetOffsetConfirmation.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming');

	export default {
		data() {
			return {
				confirmation: false
			}
		},
		components: {
			GeneralInfo,
			ProjectDefinition,
			WorkOrderNumber,
			Lookup,
			TargetDate,
			TargetOffsetConfirmation
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getOldIncoming',
				'getError',
				'getIncomingSaveCompleteValidation',
				'getConfirmation',
				'showTargetOffsetConfirmationPopup',
			]),
			watchTestingTypeId: function () {
				return this.getIncomingReview.projectDetails.projectDefinition.testingTypeId;
			},
			checkForErrors: function () {
				if (this.getError.general.productType.flag && this.getIncomingSaveCompleteValidation) {
					return this.getError.general.productType.errorMsg;
				} else if (this.getError.general.complexityRating.flag && this.getIncomingSaveCompleteValidation) {
					return this.getError.general.complexityRating.errorMsg;
				} else if (this.getError.originalTargetDate.reason.flag) {
					return this.getError.originalTargetDate.reason.errorMsg;
				} else if (this.getError.originalTargetDate.detail.flag) {
					return this.getError.originalTargetDate.detail.errorMsg;
				} else if (this.getError.projectDefinition.mappingType.flag) {
					return this.getError.projectDefinition.mappingType.errorMsg;
				} else if (this.getError.manufacturerSpecific.studio.flag && this.getIncomingSaveCompleteValidation) {
					return this.getError.manufacturerSpecific.studio.errorMsg;
				} else if (this.getError.manufacturerSpecific.productLine.flag && this.getIncomingSaveCompleteValidation) {
					return this.getError.manufacturerSpecific.productLine.errorMsg;
				} else if (this.getError.general.quotedHours.flag) {
					return this.getError.general.quotedHours.errorMsg;
				} else if (this.getError.billing.productClassifications.flag && this.getIncomingSaveCompleteValidation) {
					return this.getError.billing.productClassifications.errorMsg;
				} else if (this.getError.projectDefinition.mapFile.flag) {
					return this.getError.projectDefinition.mapFile.errorMsg;
				} else if (this.getError.manufacturerSpecific.platform.flag && this.getIncomingSaveCompleteValidation) {
					return this.getError.manufacturerSpecific.platform.errorMsg;
				} else {
					return "";
				}
			},
			selectedMapType: function () {
				return this.getIncomingReview.projectDetails.projectDefinition.selectedMappingType
			},
            watchSaveProceed: function () {
                return this.getConfirmation.proceed
            }
		},
		watch: {
			watchTestingTypeId: function () {
				this.setManufacturerSpecificStudio("");
				this.setManufacturerSpecificStudioId(null);
				this.setManufacturerSpecificProductLine("");
				this.setManufacturerSpecificProductLineId(null);
			},
			watchSaveProceed: function (val) {
				if (val) {
					this.saveIncomingReviewForProject();
					this.setProceedConfirmation(false);
					this.confirmation = false;
				}
			}
		},
		mounted() {
            this.setValues();
        },
		methods: {
			...mapActions([
				'setTestingType',
				'setTestingTypeId',
				'setManufacturerSpecificStudio',
				'setManufacturerSpecificStudioId',
				'setManufacturerSpecificProductLineId',
				'setManufacturerSpecificProductLine',
				'setIncomingSaveCompleteValidation',
				'validatePlatform',
				'setInitialPageLoad',
				'setProceedConfirmation',
				'setEntireModel',
				'setOldIncomingReview',
				'setStudioInitVal',
				'setProductLineInitVal',
				'setProductClassificationInitVal',
				'setResetTargetDateValues',
				'setStudioUpdateWarning',
				'setIncomingReviewStatusComplete',
				'setShowTargetOffsetConfirmationPopup'
			]),
			updateTestingType: function (newValue, selectedId) {
				this.setTestingType(newValue);
				this.setTestingTypeId(selectedId);
			},
			incomingSave: function (e) {
                e.stopPropagation();
				this.setIncomingSaveCompleteValidation(false);
				this.saveIncomingReviewForProject();
			},
			saveIncomingReviewForProject: function () {
				//Validate Platform
				this.validatePlatform();
				var model = this;
				model.setInitialPageLoad(false);
				if (this.isValid() && this.hasConfirmation()) {
					if (this.getIncomingReview.originalTargetDate.date != this.getIncomingReview.originalTargetDate.initialDateState && this.getIncomingReview.originalTargetDate.date != "") {
						this.setShowTargetOffsetConfirmationPopup(true);
					}
					else {
						this.postSaveToController();
					}
				} else {
					let errors = model.checkForErrors;
					if (errors != "") {
						bootbox.alert(errors);
					} else {
						if (model.confirmation) {
							$('#manufBillingConfirmationModal').modal('show');
						}
					}
					if (!this.getIncomingReview.incomingReviewStatus.completedBy && this.getIncomingReview.incomingReviewStatus.complete) {
						this.getIncomingReview.incomingReviewStatus.complete = false;
					}
				}
			},
			respondToSetApplyJurisdictionOffset: function (payload) {
				this.getIncomingReview.applyJurisdictionOffset = payload.saveOffset;
				this.postSaveToController();
			},
			postSaveToController: function () {
				var model = this;
				Loading();
				$.post(
					_POSTsaveIncomingReviewURL,
					this.getIncomingReview,
					function (returnData) {
						model.setEntireModel(JSON.parse(returnData));
						model.setValues(JSON.parse(returnData));
						model.setStudioInitVal(model.getIncomingReview.manufacturerSpecific.studio);
						model.setProductLineInitVal(model.getIncomingReview.manufacturerSpecific.productLine);
						model.setProductClassificationInitVal(model.getIncomingReview.billing.productClassification);
					})
					.done(function () {
						model.setResetTargetDateValues(true);
						model.setIncomingSaveCompleteValidation(false);
						model.setStudioUpdateWarning(false);
						DoneLoading();
					});
			},
			isValid: function () {
				let result = this.checkForErrors === "" ? true : false;
				return result;
			},
			hasConfirmation: function () {
				if (!this.watchSaveProceed) {
					if (this.getIncomingReview.manufacturerSpecific.studio != this.getOldIncoming.manufacturerSpecific.studio && this.selectedMapType != 0 && this.getConfirmation.initialValues.studio != "" && this.getIncomingReview.manufacturerSpecific.studio != this.getConfirmation.initialValues.studio) {
						this.confirmation = true;
						return false;
					}
					if (this.getIncomingReview.manufacturerSpecific.productLine != this.getOldIncoming.manufacturerSpecific.productLine && this.selectedMapType != 0 && this.getConfirmation.initialValues.productline != "" && this.getIncomingReview.manufacturerSpecific.productLine != this.getConfirmation.initialValues.productline) {
						this.confirmation = true;
						return false;
					}
					if (this.getIncomingReview.billing.productClassification != this.getOldIncoming.billing.productClassification && this.selectedMapType != 0 && this.getConfirmation.initialValues.productClassification != "" && this.getIncomingReview.billing.productClassification != this.getConfirmation.initialValues.productClassification) {
						this.confirmation = true;
						return false;
					}
					this.confirmation = false;
					return true;
				} else {
					return true;
				}
			},
            setValues: function (model) {
                if (model != null) {
                    this.setOldIncomingReview(_.cloneDeep(model));
                }
                else {
                    this.setOldIncomingReview(_.cloneDeep(this.getIncomingReview));
                }
			},
			completeIncomingReviewForProject: function (e) {
                e.stopPropagation();
                var currentContext = this;
                bootbox.confirm("Are you sure you would like to complete the incoming review for " + this.getIncomingReview.fileNumber +
                    " ? Doing so will save the form in its current state and complete it.",
                    function (ack) {
                        if (ack) {
                            currentContext.setIncomingSaveCompleteValidation(true);
                            currentContext.setIncomingReviewStatusComplete(true);
                            currentContext.saveIncomingReviewForProject();
                        } else {
                            currentContext.setIncomingSaveCompleteValidation(false);
                        }
                    });
            }
		}
	}
</script>

<style scoped>
	.margin-bottom-0 {
		margin-bottom: 0px !important;
	}

	.test:before {
		display: block;
		content: " ";
		margin-top: -180px;
		height: 180px;
		visibility: hidden;
		pointer-events: none;
	}
</style>