﻿<template>
	<div class="col-sm-6" v-bind:class="{ hidden: getIncomingReview.projectDetails.general.isTransfer == true }">
		<h3>Project Definition</h3>
		<hr>
		<div class="form-horizontal">
			<div id="resubmission-step1">
				<div class="row">
					<div class="col-sm-12">
						<span class="sectionTitle">1. What type of project is this?</span>
						<span class="clickable" title="Resubmission help." v-on:click="setShowResourcePopup()">
							<i class="fas fa-question-circle"></i>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="" v-for="mappingType in this.getIncomingReview.projectDetails.projectDefinition.mappingTypes">
							<div class="radio">
								<label>
									<input type="radio"
										   name="mappingType"
										   :value="mappingType.id"
										   v-model="getIncomingReview.projectDetails.projectDefinition.selectedMappingType">
									<span>{{mappingType.displayText}}</span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="resubmission-step2" v-if="this.getIncomingReview.projectDetails.projectDefinition.selectedMappingType != 0" style="">
				<div class="row">
					<div class="col-sm-12">
						<span class="sectionTitle">2. What is the master file you would like to establish a mapping to?</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="input-group input-group-sm">
							<input name="MasterFileOption"
								   id="MasterFileOption"
								   type="hidden"
								   v-model="getIncomingReview.projectDetails.projectDefinition.masterFileNumber" />
							<lookup id="MasterFileNumber"
									name="MasterFileNumber"
									lookupajax="FileNumber"
									:lookuptextfield="getIncomingReview.projectDetails.projectDefinition.masterFileNumber"
									@updateLookupTextField="updateMasterFileNumber"
									:filter="this.getIncomingReview.projectDetails.projectDefinition.submissionFilter"
									v-model="getIncomingReview.projectDetails.projectDefinition.masterFileNumber">
							</lookup>
						</div>
					</div>
					<div v-if="this.studioUpdateWarning &&  this.getIncomingReview.manufacturerSpecific.manufStudioVisibility" class="col-sm-6">
						<em class="pull-right redText">Warning: The studio has been updated based on the selected master file. Please make sure it is correct and click save</em>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<button id="GetMasterFileRecords"
								class="btn btn-default"
								type="button"
								v-on:click="UpdateMasterFileRecords">
							<i class="fas fa-search"></i> Search
						</button>
					</div>
				</div>
				<div class="row" v-if="this.getError.projectDefinition.mappingType.flag == true && getInitialPageLoad == false">
					<div class="col-sm-12 redText padding-top-10">
						{{ getError.projectDefinition.mappingType.errorMsg }}
					</div>
				</div>
			</div>
			<div id="resubmission-step3"
				 v-if="mapType != 0 && masterFile != '' && (resubmissionExplanation != '' || records.length > 0)">
				<div class="row">
					<div class="col-sm-12">
						<span class="sectionTitle">3. Records of Masterfile</span>
						<em>
							<span id="Step3MasterFileNumber">{{this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber}}</span>
						</em>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div v-if="this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records.length > 0">
							<table id="MasterFileRecordsTable" class="table table-hover table-striped">
								<thead>
									<tr>
										<th>Record #</th>
										<th>ID Number</th>
										<th>Version</th>
										<th>Date Code</th>
										<th>Game Name</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody v-for="record in this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records">
									<tr :id="record.id">
										<td>
											<span>{{record.countId}}</span>
										</td>
										<td>
											<p>{{record.idNumber}}</p>
										</td>
										<td>
											<p>{{record.version}}</p>
										</td>
										<td>
											<p>{{record.dateCode}}</p>
										</td>
										<td>
											<p>{{record.gameName}}</p>
										</td>
										<td>
											<p>{{record.status}}</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-warning" v-if="this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.resubmissionOptionExplanation && this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records.length == 0 && warningVisibility == true">
				<p>
					No records of the given Masterfile meet the mapping restrictions for
					<span>{{this.getIncomingReview.projectDetails.projectDefinition.mappingTypes[this.getIncomingReview.projectDetails.projectDefinition.selectedMappingType].displayText}}</span>.
					<br>
					<span>{{this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.resubmissionOptionExplanation}}</span>
				</p>
			</div>
			<!-- Begin resub Step 4 -->
			<div id="resubmission-step4"
				 v-if="mapType != 2 && this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records.length > 0 && this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber != ''">
				<div class="row">
					<div class="col-sm-12">
						<span class="sectionTitle">4. Select records of current file</span>
						<em>
							<span>{{this.getIncomingReview.projectDetails.projectDefinition.currentFileNumber}}</span>
						</em>
						<span class="sectionTitle">for mapping to</span>
						<em>
							<span>{{this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber}}</span>
						</em>
					</div>
				</div>
				<div class="row">
					<div id="CurrentFileRecordSet" class="col-sm-12">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>ID Number</th>
									<th>Version</th>
									<th>Date Code</th>
									<th>Game Name</th>
									<th>Status</th>
									<th>Master File Record #</th>
								</tr>
							</thead>
							<tbody v-for="record in this.getIncomingReview.projectDetails.projectDefinition.currentSubmissionRecords">
								<tr :id=record.id>
									<td>
										<p>{{record.idNumber}}</p>
									</td>
									<td>
										<p>{{record.version}}</p>
									</td>
									<td>
										<p>{{record.dateCode}}</p>
									</td>
									<td>
										<p>{{record.gameName}}</p>
									</td>
									<td>
										<p>{{record.status}}</p>
									</td>
									<td>
										<input type="hidden"
											   id="MasterFileRecordNumber"
											   name="MasterFileRecordNumber"
											   v-model="record.linkedId" />
										<SelectStandard id="MasterFIleRecordId"
														name="MasterFileRecordId"
														v-model="record.linkedId"
														:options="masterFileRecordIdOptions"
														@updateTextField="updateLinkedMasterFile"
														style="width: 100px;">
										</SelectStandard>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row" v-if="(this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.resubmissionOptionExplanation && this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records.length == 0 &&  getInitialPageLoad == false) || (this.warningMapping == true && getInitialPageLoad == false)">
				<div class="col-sm-12 redText padding-top-10">
					{{ getError.projectDefinition.mapFile.errorMsg }}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { SUBMISSION_STATUS } from '@/common'
	import { createNamespacedHelpers } from 'vuex';
	import Lookup from '@/components/utility/Lookup.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming');

	export default {
		data() {
			return {
				warningVisibility: false,
				warningMapping: false
			}
		},
		components: {
			Lookup,
			SelectStandard
		},
		beforeMount() {
			this.validateMasterFile(this.masterFile);
			this.setInitialValuesConfirmation();
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'showResourcePopup',
				'getError',
				'getCurrentSubmissionRecords',
				'getInitialPageLoad',
				'getBillingVisibility',
				'studioUpdateWarning'
			]),
			mapType: function () {
				return this.getIncomingReview.projectDetails.projectDefinition.selectedMappingType;
			},
			masterFileRecordIdOptions: function () {
				if (this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordsListItems.length == 0) {
					for (var i = 0; i < this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records.length; i++) {
						this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordsListItems.push({
							value: this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records[i].id,
							text: this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records[i].countId
						})
					}
				}
				return this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordsListItems;
			},
			masterFile: function () {
				return this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber;
			},
			resubmissionExplanation: function () {
				return this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.resubmissionOptionExplanation;
			},
			records: function () {
				return this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records;
			}
		},
		watch: {
			mapType: function (value) {
				this.warningVisibility = false;
				this.validateMapType(value);
				if (value == 0) {
					this.updateMasterFileRelatedDropDowns();

				}
				this.setStudioUpdateWarning(false);
			},
			masterFile: function (value) {
				this.validateMasterFile(value);
				this.clearRecordMappings();
			},
			resubmissionExplanation: function (val) {
				this.validateMapping(val);
			}
		},
		methods: {
			...mapActions([
				'setMasterFileNumber',
				'setSelectedMappingType',
				'setShowResourcePopup',
				'setMapTypeFlag',
				'setResubmissionOptionExplanation',
				'setManufacturerSpecificStudio',
				'setManufacturerSpecificStudioId',
				'setManufacturerSpecificProductLineId',
				'setManufacturerSpecificProductLine',
				'setManufacturerSpecificBillingParty',
				'setProductClassification',
				'setProductClassificationId',
				'setCurrentSubmissionRecords',
				'setProductClassificationMasterFile',
				'setManufacturerMasterFile',
				'setMapFile',
				'setStudioInitVal',
				'setProductLineInitVal',
				'setProductClassificationInitVal',
				'setStudioUpdateWarning'
			]),
			updateMasterFileNumber: function (newValue, selectedId) {
				this.setMasterFileNumber;
			},
			clearResubmissionSelections: function () {
				this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber = '';
				this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records = [];
				this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.resubmissionOptionExplanation = null;
				
				$('#MasterFileNumber').val(null).trigger('change');
			},
			UpdateMasterFileRecords: function () {
				this.updateMasterFileRelatedDropDowns();
				var context = this;
				if (this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber) {
					Loading();
					var returnedArray = [];
					var returnedString = '';
					$.ajax({
						type: "POST",
						url: _GETmasterFileRecordsURL,
						data: JSON.stringify(this.constructMasterFilePayload()),
						contentType: "application/json",
						dataType: "json",
						success: function (returnData) {
							context.warningVisibility = true;
							var jsonValue = JSON.parse(returnData);
							if (jsonValue.hasADistinctStudio) {
								context.setManufacturerSpecificStudio(jsonValue.studio);
								context.setManufacturerSpecificStudioId(jsonValue.studioId);
								context.setStudioUpdateWarning(true);
							} else {
								context.setStudioUpdateWarning(false);
							}
							returnedString = jsonValue.resubmissionOptionExplanation;
							$.each(jsonValue.records, function (key, value) {
								returnedArray.push(value);
							});
							context.setResubmissionOptionExplanation(jsonValue.resubmissionOptionExplanation);
						},
						error: function (returnData) {
							context.clearResubmissionSelections();
							var parsedData = JSON.parse(returnData.responseText);
							if (parsedData.ConcurrentMasterFile) {
								bootbox.alert("The masterfile: " + $('#MasterFileNumber').val() + " already exists and is mapped to " + parsedData.ConcurrentMasterFile + ". Please select a file to designate as the master file that is not already part of a re submission chain.");
							}
							else if (parsedData.InvalidSelfReference) {
								bootbox.alert("Can not link current file " + parsedData.InvalidSelfReference + " to self.");
							}
							else if (parsedData.InvalidManufacturer) {
								bootbox.alert(parsedData.InvalidManufacturer + " The manufacturers of the current file and the master file must be the same or part of the same manufacturer group.")
							}
							else if (parsedData.InvalidHead) {
								bootbox.alert(parsedData.InvalidHead);
							}
							else {
								bootbox.alert("Opps.. something went wrong please enter a Service Now ticket.");
							}
						},
						complete: function () {
							DoneLoading();
						}
					});
					this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records = returnedArray;
					this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.resubmissionOptionExplanation = returnedString;
				}
			},
			constructMasterFilePayload: function () {
				var payload = {
					MasterFilter: {
						CurrentFileNumber: '',
						MasterFileNumber: '',
						ReSubmissionType: ''
					}
				};

				payload.MasterFilter.MasterFileNumber = this.getIncomingReview.projectDetails.projectDefinition.masterFileNumber;
				payload.MasterFilter.CurrentFileNumber = this.getIncomingReview.projectDetails.projectDefinition.currentFileNumber;
				payload.MasterFilter.ReSubmissionType = this.getIncomingReview.projectDetails.projectDefinition.selectedMappingType;

				return payload;
			},
			setShowResourcePopup: function (newVal,oldVal) {
				$('#resubmissionHelpModal').modal('show');
			},
			updateLinkedMasterFile: function (val) {
				//Only for unsaved changes purposes.
				let currentSubmissionRecords = this.getCurrentSubmissionRecords;
				currentSubmissionRecords.forEach((record, index) => {
					record.linkedId = parseInt(record.linkedId);
				});
				this.setCurrentSubmissionRecords(currentSubmissionRecords);

				//Validate if a user sets all the mapping
				if (this.hasAllMapping()) {
					this.setMapFile(false);
					this.warningMapping = false;
				} else {
					this.setMapFile(true);
					this.warningMapping = true;
				}
				
			},
			validateMasterFile: function (value) {
				if (!value && this.mapType != 0) {
					this.setMapTypeFlag(true);
				} else {
					this.setMapTypeFlag(false);
				}
			},
			validateMapType: function (value) {
				this.clearResubmissionSelections();
				if (value == 0) {
					this.setMapTypeFlag(false);
				} else {
					this.setMapTypeFlag(true);
				}
			},
			updateMasterFileRelatedDropDowns: function (value) {
			
				//Load Studio and Productline 
				this.$http.post('Protrack/IncomingReview/LoadManufacturerViewModel', {
					projectId: this.getIncomingReview.projectId,
					indexViewModel: this.getIncomingReview
				})
				.then(response => {
					const result = response.data;
					if ((this.getIncomingReview.manufacturerSpecific.manufProductLineVisibility || this.getIncomingReview.manufacturerSpecific.manufStudioVisibility) && !this.getIncomingReview.projectDetails.general.isTransfer) {
						this.setManufacturerSpecificProductLineId(result.productLineId);
						this.setManufacturerSpecificProductLine(result.productLine);
						this.setManufacturerMasterFile(result.masterFile);
						this.setManufacturerSpecificBillingParty(result.billingParty);

						//Set initial values - Confirmation purposes
						this.setStudioInitVal(result.studio);
						this.setProductLineInitVal(result.productLine);
					}
				})
				.catch(e => {
					console.log(e);
				});

				//Load Product Classification
				this.$http.post('Protrack/IncomingReview/LoadBillingViewModel', {
					projectId: this.getIncomingReview.projectId,
					indexViewModel: this.getIncomingReview
				})
				.then(response => {
					const result = response.data;
					this.setProductClassification(result.productClassification);
					this.setProductClassificationId(result.productClassificationId);
					if (this.getBillingVisibility) {
						this.setProductClassificationMasterFile(result.masterFile);
					}
			
					//Set initial values - Confirmation purposes
					this.setProductClassificationInitVal(result.productClassification);
				})
				.catch(e => {
					console.log(e);
				});
			},
			clearRecordMappings: function () {
				this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.records = [];
				this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordSet.resubmissionOptionExplanation = null;
				this.getIncomingReview.projectDetails.projectDefinition.masterFileRecordsListItems = [];
				this.warningVisibility = false;
				this.setMapFile(false);
				this.warningMapping = false;
			},
			validateMapping: function (val) {
				if (!val) {
					this.setMapFile(false);
				} else {
					this.setMapFile(true);
				}
			},
			hasAllMapping: function () {
				let currentSubmissionRecords = this.getCurrentSubmissionRecords;
				let result = true;
				let i = 0;
				for (; i < currentSubmissionRecords.length; i++) {
					if (isNaN(currentSubmissionRecords[i].linkedId) && currentSubmissionRecords[i].status != SUBMISSION_STATUS.WD.code) {
						result = false;
						break; 
					}
				}
				return result;
			},
			setInitialValuesConfirmation: function () {
				this.setStudioInitVal(this.getIncomingReview.manufacturerSpecific.studio);
				this.setProductLineInitVal(this.getIncomingReview.manufacturerSpecific.productLine);
				this.setProductClassificationInitVal(this.getIncomingReview.billing.productClassification);
			}
		}
	}
</script>

<style scoped>

	.redText {
		color: red;
		font-weight: normal;
	}

	.padding-top-10 {
		padding-top: 10px;
	}

</style>