﻿<template>
	<div ref="TargetOffsetRulesModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title">Jurisdictions Target Date Offset Rules</h3>
				</div>
				<div class="modal-body">
					<table class="table table-striped">
						<thead>
							<tr class="redText">
								*Target Date for following jurisdictions need extra offset days.
							</tr>
							<tr>
								<td>
									<b>
										Jurisdiction
									</b>
								</td>
								<td>
									<b>
										Offset Days
									</b>
								</td>
								<td>
									<b>
										Reason
									</b>
								</td>
							</tr>
						</thead>
						<tbody class="form-group form-group-sm">
							<tr v-for="(offset,index) in getIncomingReview.jurisdictionTargetOffsetRules">
								<td>
									{{offset.jurisdiction}}
								</td>
								<td>
									{{offset.offset}}
								</td>
								<td>
									{{offset.reason}}
								</td>
							</tr>
						</tbody>
					</table>
</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming');
	
	export default {
		computed: {
			...mapGetters([
				'getIncomingReview',
			])
		},
		props: {
			showTargetOffsetRules: {
				type: Boolean
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.TargetOffsetRulesModal).on('hidden.bs.modal', function (e) {
				self.$emit('closeShowTargetOffsetRules', false);
			});
		},
		watch: {
			showTargetOffsetRules: function (newVal, oldVal) {
				if (newVal) {
					$(this.$refs.TargetOffsetRulesModal).modal('show');
				}
			}
		}
	}
</script>