﻿<template>
	<div class="col-sm-12">
		<div class="form-horizontal">
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2" for="TargetDate">Original Target Date</label>
										<div class="col-sm-2">
					<DatePicker :disabled="getIncomingReview.onHold == true || getIncomingReview.originalTargetDate.allowEditOriginalDate == false"
								id="OriginalTargetDate"
								name="originalTargetDate"
								v-model="getIncomingReview.originalTargetDate.date"
								@input="targetDateUpdated" />
				</div>
			</div>
			<div class="form-group form-group-sm" v-if="getError.originalTargetDate.onHold.flag == true && getInitialPageLoad == false">
				<label class="control-label col-sm-2 redText text-bold " for="TargetDate"></label>
				<div class="col-sm-3">
					<div class="redText">{{ getError.originalTargetDate.onHold.errorMsg }}</div>
				</div>
			</div>
			<div class="form-group form-group-sm" v-if="getError.originalTargetDate.targetDate.flag == true && getInitialPageLoad == false">
				<label class="control-label col-sm-2 redText text-bold " for="TargetDate"></label>
				<div class="col-sm-3">
					<div class="redText">{{ getError.originalTargetDate.targetDate.errorMsg  }}</div>
				</div>
			</div>
			<div class="form-group form-groupsm" v-if="originalDateUpdated">
				<label class="control-label col-sm-2" for="TargetDate">Reason</label>
				<div class="col-sm-3">
					<input name="reason"
						   id="reason"
						   type="hidden"
						   v-model="getIncomingReview.originalTargetDate.changeReason" />
					<Lookup id="reasonId"
							name="reasonId"
							:lookuptextfield="getIncomingReview.originalTargetDate.changeReason"
							@updateLookupTextField="updateReasonDropDown"
							v-model="getIncomingReview.originalTargetDate.changeReasonId"
							lookupajax="TargetDateChangeReason"
							class="form-control">
					</Lookup>
				</div>
			</div>
			<div class="form-group form-group-sm" v-if="originalDateUpdated &&  getError.originalTargetDate.reason.flag == true && getInitialPageLoad == false">
				<label class="control-label col-sm-2 redText text-bold " for="TargetDate"></label>
				<div class="col-sm-3">
					<div class="redText">{{ getError.originalTargetDate.reason.errorMsg }}</div>
				</div>
			</div>
			<div class="form-group form-groupsm" v-if="originalDateUpdated">
				<label class="control-label col-sm-2" for="TargetDate">Detail</label>
				<div class="col-sm-3">
					<textarea rows="3" cols="75" v-model="getIncomingReview.originalTargetDate.detail" placeholder="provide detail message..."></textarea>
				</div>
			</div>
			<div class="form-group form-group-sm" v-if="originalDateUpdated && getError.originalTargetDate.detail.flag == true && getInitialPageLoad == false">
				<label class="control-label col-sm-2 redText text-bold" for="TargetDate"></label>
				<div class="col-sm-3">
					<div class="redText">{{ getError.originalTargetDate.detail.errorMsg }}</div>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<a class="control-label col-sm-4" @click="updateShowTargetOffsetRules(true)">*Click here to view Jurisdiction Target Offset Rules for this project</a>
				<TargetOffsetRules :showTargetOffsetRules ="showTargetOffsetRules" @closeShowTargetOffsetRules="updateShowTargetOffsetRules(false)"></TargetOffsetRules>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'

	import DatePicker from '@/components/utility/DatePicker.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import TargetOffsetRules from '@/components/incoming/TargetOffsetRules.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming')

	export default {
		components: {
			DatePicker,
			Lookup,
			TargetOffsetRules
		},
		data() {
			return {
				originalDate: '',
				originalDateUpdated: false,
				showTargetOffsetRules: false
			}
		},
		beforeMount() {
			this.validateOnHold(this.watchOnHold);
			this.validateTargetDate(this.watchTargetDate);
		},
		computed: {
			...mapGetters([
				'getIncomingReview',
				'getError',
				'resetTargetDateValues',
				'getInitialPageLoad'
			]),
			watchOnHold: function () {
				return this.getIncomingReview.onHold
			},
			watchTargetDate: function () {
				return this.getIncomingReview.originalTargetDate.allowEditOriginalDate
			},
			watchReason: function () {
				return this.getIncomingReview.originalTargetDate.changeReasonId
			},
			watchDetail: function () {
				return this.getIncomingReview.originalTargetDate.detail
			}
		},
		mounted() {
			this.setOrigionalDate(this.getIncomingReview.originalTargetDate.date)
		},
		watch: {
			watchOnHold: function (val) {
				this.validateOnHold(val);
			},
			watchTargetDate: function (val) {
				this.validateTargetDate(val);
			},
			watchReason: function (val) {
				this.validateReason();
			},
			watchDetail: function (val) {
				this.validateDetail();
			},
			originalDateUpdated: function (val) {
				this.validateReason();
				this.validateDetail();
			},
			resetTargetDateValues: function (val) {
				this.setOrigionalDate(this.getIncomingReview.originalTargetDate.date);
				this.setTargetDateReasonType("");
				this.setTargetDateReasonTypeId(null);
				this.setTargetDateDetail("");
				this.originalDateUpdated = false;
				//this.originalDate = '';
				this.setReasonFlag(false);
				this.setDetailFlag(false);
				this.setResetTargetDateValues(false);
			}
		},
		methods: {
			...mapActions([
				'setTargetDateReasonType',
				'setTargetDateReasonTypeId',
				'setOnHoldFlag',
				'setTargetDateFlag',
				'setReasonFlag',
				'setDetailFlag',
				'setTargetDateDetail',
				'setResetTargetDateValues'
			]),
			validateOnHold(val) {
				if (val == true) {
					this.setOnHoldFlag(true);
				} else {
					this.setOnHoldFlag(false);
				}
			},
			validateTargetDate(val) {
				if (val == false) {
					this.setTargetDateFlag(true);
				} else {
					this.setTargetDateFlag(false);
				}
			},
			validateReason() {
				if (this.watchReason == "" && this.originalDateUpdated) {
					this.setReasonFlag(true);
				} else {
					this.setReasonFlag(false);
				}
			},
			validateDetail(val) {
				if ((this.watchDetail == '' || this.watchDetail == null) && this.originalDateUpdated) {
					this.setDetailFlag(true);
				} else {
					this.setDetailFlag(false);
				}
			},
			targetDateUpdated: function (newValue) {
				this.originalDateUpdated = this.originalDate == newValue || this.originalDate == "" || this.originalDate == null ? false : true;
			},
			setOrigionalDate: function (date) {
				this.originalDate = date;
			},
			updateReasonDropDown: function (newValue) {
				this.setTargetDateReasonType(newValue);
			},
			updateShowTargetOffsetRules: function (newValue) {
				console.log(newValue);
				this.showTargetOffsetRules = newValue;
			}
		}
	}
</script>

<style scoped>

	.redText {
		color: red;
		font-weight: normal;
	}

	.text-bold {
		font-weight: bold;
	}

</style>