﻿<template>
	<div ref="TargetOffsetConfirmationModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type = "button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title">Confirmation</h3>
				</div>
				<div class="modal-body">
					<table class="table table-striped">
						<thead>
							<tr class="redText">
								<td colspan="2">
									Following Jurisdictions Target date will be updated as below.
								</td>
							</tr>
						</thead>
						<tbody class="form-group form-group-sm">
							<tr v-for="(offset,index) in getIncomingReview.jurisdictionTargetOffsetRules">
								<td class="col-sm-1">{{index + 1}}</td>
								<td class="col-sm-11">
									{{offset.jurisdiction}} - {{getIncomingReview.originalTargetDate.date | getOffsetDate(offset.offset)}} (Offset by {{offset.offset}} for {{offset.reason}})
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="setApplyJurisdictionOffset(true)">Apply Offset and Save</button>
					<button type="button" class="btn btn-primary"  @click="setApplyJurisdictionOffset(false)"> Do Not Apply Offset and Save</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters, mapActions } = createNamespacedHelpers('incoming');

	export default {
		computed: {
			...mapGetters([
				'showTargetOffsetConfirmationPopup',
				'getIncomingReview',
			])
		},
		mounted: function()
		{
			const self = this;
			$(this.$refs.TargetOffsetConfirmationModal).on('hidden.bs.modal', function(e) {
				self.setShowTargetOffsetConfirmationPopup(false);
			});
		},
		filters: {
			getOffsetDate: function (dateString, offset) {
				let realDate = new Date(dateString);
				realDate.setDate(realDate.getDate() + offset);
				return realDate.toLocaleDateString();
			}
		},
		methods: {
			...mapActions([
				'setShowTargetOffsetConfirmationPopup'
			]),
			setApplyJurisdictionOffset: function (value) {
				this.$emit('setApplyJurisdictionOffset', { saveOffset: value });
				this.setShowTargetOffsetConfirmationPopup(false);
				$(this.$refs.TargetOffsetConfirmationModal).modal('hide');
			}
		},
		watch: {
			showTargetOffsetConfirmationPopup: function(newVal, oldVal)
			{
				if (newVal)
				{
					$(this.$refs.TargetOffsetConfirmationModal).modal('show');
				}
			}
		}
	}
</script>