﻿<template>
    <div class="col-sm-6">
        <h3>Work Order Numbers</h3>
        <small>Work Order Numbers currently associated with Jurisdictions of this project.</small>
        <hr>
        <a href="/ChangeOfStatus/ChangeOfStatusForm.aspx" target="_blank">Change WON</a>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Work Order Number</th>
                </tr>
            </thead>
            <tbody v-for="(won, indexValue) in this.getIncomingReview.projectDetails.workOrderNumbers">
                <tr>
                    <td>
                        <p>{{indexValue + 1}}</p>
                    </td>
                    <td>
                        <p>{{won}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import { createNamespacedHelpers } from 'vuex';
    const { mapGetters, mapActions } = createNamespacedHelpers('incoming');


    export default {
        computed: {
            ...mapGetters([
                'getIncomingReview'
            ])
        }
    }
</script>