﻿@model Submissions.Web.Areas.Protrack.Models.SubProjects.IndexViewModel

@section css {
	@Styles.Render("~/bundles/css/jqgrid")
}


@{
	ViewBag.Title = "Work Requests";
	ViewBag.FullWidth = false;
}

<div class="row col-sm-12">
	<div class="row row-title">
		<div class="col-sm-12">
			<h3>Work Requests</h3>
		</div>
	</div>
	<div id="app"></div>
</div>

@section scripts{
	<script>
		let initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
