﻿<template>
	<div ref="AddReviewModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" v-if="isNewReview && newReview.revieweeIds.length!=0 && newReview.reviewerIds.length !=0" @click="addNewReview">Create</button>
						<button type="button" class="btn btn-primary" v-else-if="!isNewReview && (newReview.revieweeIds.length!=0 || newReview.reviewerIds.length !=0 || newReview.letterwriterIds.length != 0 || newReview.watcherIds.length != 0 || wantToEditDescription || wantToEditDepartment)" @click="editReview">Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title" v-if="isNewReview">Create New Review</h3>
					<h3 class="modal-title" v-else>Edit Review</h3>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<div v-if="!isNewReview" class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="ReviewerList">Existing Reviewers </label>
								<div id="ReviewerList" class="col-sm-10">
									<div class="row" v-for="(reviewer,index) in reviewerList">
										{{index + 1}} . {{reviewer.text}}  <a class="btn" @click="removeUser(reviewer.value)"><i class="fas fa-trash-alt"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div v-if="!isNewReview" class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="AssigneeList">Existing Assignees </label>
								<div id="AssigneeList" class="col-sm-10">
									<div class="row" v-for="(assignee,index) in assigneeList">
										{{index + 1}} . {{assignee.text}}  <a class="btn" @click="removeUser(assignee.value)"><i class="fas fa-trash-alt"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div v-if="department=='QA'" class="form-group form-group-sm">
							<div v-if="!isNewReview" class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="AssigneeList">Existing Letterwriters </label>
								<div id="LetterwriterList" class="col-sm-10">
									<div class="row" v-for="(letterwriter,index) in letterwriterList">
										{{index + 1}} . {{letterwriter.text}}  <a class="btn" @click="removeUser(letterwriter.value)"><i class="fas fa-trash-alt"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div v-if="!isNewReview" class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="WatcherList">Existing Watchers </label>
								<div id="WatcherList" class="col-sm-10">
									<div class="row" v-for="(watcher,index) in watcherList">
										{{index + 1}} . {{watcher.text}}  <a class="btn" @click="removeUser(watcher.value)"><i class="fas fa-trash-alt"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="form-group form-group-sm">
								<label v-if="isNewReview" class="control-label col-sm-2" for="ReviewerIds">Reviewers </label>
								<label v-else class="control-label col-sm-2" for="RevieweeIds">New Reviewers </label>
								<div class="col-sm-8">
									<LookupMultiple id="ReviewerIds" name="ReviewerIds" lookupajax="Users" v-model="newReview.reviewerIds" :options="newReview.reviewers" />
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="form-group form-group-sm">
								<label v-if="isNewReview" class="control-label col-sm-2 " for="RevieweeIds">Assignees </label>
								<label v-else class="control-label col-sm-2" for="RevieweeIds">New Assignees</label>
								<div class="col-sm-8">
									<LookupMultiple id="RevieweeIds" name="RevieweeIds" lookupajax="Users" v-model="newReview.revieweeIds" :options="newReview.reviewees" />
								</div>
								<div v-if="department=='QA'" class="col-sm-1" title="Enter the users who will be responsible for resolving issues in this review. If the Letter Writer is responsible for resolving their own issues, enter them as both Assignee and Letter-Writer.">
									<i class="fas fa-question-circle" style="color:steelblue"></i>
								</div>
							</div>
						</div>
						<div v-if="department=='QA'" class="form-group form-group-sm">
							<div class="form-group form-group-sm">
								<label v-if="isNewReview" class="control-label col-sm-2" for="LetterwriterIds">Letter Writers </label>
								<label v-else class="control-label col-sm-2" for="LetterwriterIds">New Letter Writers </label>
								<div class="col-sm-8">
									<LookupMultiple id="LetterwriterIds" name="LetterwriterIds" lookupajax="Users" v-model="newReview.letterwriterIds" :options="newReview.letterwriters" />
								</div>
								<div v-if="department=='QA'" class="col-sm-1" title="Enter the users whose work is being reviewed.">
									<i class="fas fa-question-circle" style="color:steelblue"></i>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="form-group form-group-sm">
								<label v-if="isNewReview" class="control-label col-sm-2 " for="WatcherIds">Watchers </label>
								<label v-else class="control-label col-sm-2" for="WatcherIds">New Watchers</label>
								<div class="col-sm-8">
									<LookupMultiple id="WatcherIds" name="WatcherIds" lookupajax="Users" v-model="newReview.watcherIds" :options="newReview.watchers" />
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div v-if="isNewReview || wantToEditDescription" class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="Description">Review Description </label>
								<div class="col-sm-9">
									<textarea id="Description" name="Description" rows="4" cols="350" class="form-control" placeholder="Enter a short description about this review (Optional)" v-model="newReview.description"></textarea>
								</div>
							</div>
							<div v-else class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="Description">Review Description </label>
								<div class="col-sm-9">
									{{newReview.description}}  <a class="btn" @click="editDescription">Edit <i class="fas fa-pencil-alt"></i></a>
								</div>
							</div>
						</div>
						<div v-if="!isNewReview" class="form-group form-group-sm">
							<div v-if="wantToEditDepartment" class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="Department">Review Department </label>
								<div class="col-sm-9">
									<input type="radio" id="DepartmentEng" name="Department" value="1" v-model="newReview.departmentId" /> Engineering <br />
									<input type="radio" id="DepartmentMath" name="Department" value="2" v-model="newReview.departmentId" /> Math <br />
									<input type="radio" id="DepartmentQA" name="Department" value="7" v-model="newReview.departmentId" /> QA
								</div>
							</div>
							<div v-else class="form-group form-group-sm">
								<label class="control-label col-sm-2" for="Description">Review Department </label>
								<div class="col-sm-9">
									{{department}}  <a class="btn" @click="editDepartment">Edit <i class="fas fa-pencil-alt"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" v-if="isNewReview && newReview.revieweeIds.length!=0 && newReview.reviewerIds.length !=0" @click="addNewReview">Create</button>
						<button type="button" class="btn btn-primary" v-else-if="!isNewReview && (newReview.revieweeIds.length !=0 || newReview.reviewerIds.length !=0 || newReview.letterwriterIds.length != 0 || newReview.watcherIds.length !=0|| wantToEditDescription || wantToEditDepartment)" @click="editReview">Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import api from '@/api/projectreview';

	export default {
		components: {
			LookupMultiple
		},
		props: {
			assigneeListIds: {
				type: Array
			},
			assigneeList: {
				type: Array
			},
			department: {
				type: String
			},
			departmentId: {
				type: Number
			},
			isNewReview: {
				type: Boolean
			},
			letterwriterList: {
				type: Array
			},
			projectId: {
				type: Number
			},
			reviewerList: {
				type: Array
			},
			watcherList: {
				type: Array
			},
			reviewId: {
				type: Number
			},
			description: {
				type: String
			},
			showPopup: {
				type: Boolean
			}
		},
		data() {
			return {
				newReview: {
					id: null,
					revieweeIds: [],
					reviewees: [],
					reviewerIds: [],
					reviewers: [],
					watcherIds: [],
					watchers: [],
					letterwriterIds: [],
					letterwriters: [],
					description: this.$lodash.cloneDeep(this.description),
					departmentId: this.$lodash.cloneDeep(this.departmentId)
				},
				reviewerListIds: [],
				wantToEditDescription: false,
				wantToEditDepartment: false,
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.AddReviewModal).on('hidden.bs.modal', function (e) {
				self.$emit('showPopup', false);
				self.$emit('isNewReview', false);
				self.reset();
			});
			if (this.reviewerList != null) {
				for (var i = 0; i < this.reviewerList.length; i++) {
					this.reviewerListIds.push(parseInt(this.reviewerList[i].value));
				}
			}
			if (this.wantToEditDepartment) {
				if (this.departmentId == 1) {
					document.getElementById("DepartmentEng").checked = true;
				}
				else if (this.departmentId == 2) {
					document.getElementById("DepartmentMath").checked = true;
				}
				else {
					document.getElementById("DepartmentQA").checked = true;
				}
			}
		},
		methods: {
			addNewReview: function () {
				if (this.validate()) {
					this.$emit('newReview', this.newReview);
					$(this.$refs.AddReviewModal).modal('hide');
				}
				else {
					alert('Same person cannot be both: Assignee and Reviewer');
				}
			},
			editReview: function () {
				if (this.wantToEditDescription) {
					api.saveDescription(this.reviewId, this.newReview.description)
						.then(response => {
							this.wantToEditDescription = false;
						});
				}
				if (this.wantToEditDepartment) {
					api.saveDepartment(this.reviewId, parseInt(this.newReview.departmentId))
						.then(response => {
							this.wantToEditDepartment = false;
						});
				}
				if (this.assigneeList.length == 0 && this.newReview.revieweeIds.length == 0) {
					alert('Error: Assignee List cannot be null.');
				}
				else {
					if (this.validate()) {
						this.$emit('addNewUsers', this.newReview.reviewerIds, this.newReview.revieweeIds, this.newReview.letterwriterIds, this.newReview.watcherIds);
					}
					else {
						alert('Error: Duplicate entires cannot be saved');
					}
				}

			},
			editDescription: function () {
				this.wantToEditDescription = true;
			},
			editDepartment: function () {
				this.wantToEditDepartment = true;
			},
			removeUser: function (userId) {
				api.deleteUser(this.reviewId, parseInt(userId))
					.then(response => {
						if (response.data) {
							alert('One or more review items are associated with the user. User cannot be deleted.');
						}
						else {
							this.$emit('removeUser', userId);
						}
					});
			},
			reset: function () {
				this.newReview = {
					id: null,
					revieweeIds: [],
					reviewees: [],
					reviewerIds: [],
					reviewers: [],
					letterwriterIds: [],
					letterwriters: [],
					watcherIds: [],
					watchers: [],
					description: this.$lodash.cloneDeep(this.description),
					departmentId: this.$lodash.cloneDeep(this.departmentId)
				};
				this.wantToEditDescription = false;
				this.wantToEditDepartment = false;

			},
			validate: function () {
				var flag = true;
				if (this.department != "QA") {
					if (this.newReview.reviewerIds.length != 0) {
						for (var i = 0; i < this.newReview.reviewerIds.length; i++) {
							if (this.newReview.revieweeIds.includes(this.newReview.reviewerIds[i])) {
								flag = false;
							}
							if (this.assigneeListIds != null) {
								if (this.assigneeListIds.includes(parseInt(this.newReview.reviewerIds[i]))) {
									flag = false;
								}
							}
							if (this.reviewerListIds != null) {
								if (this.reviewerListIds.includes(parseInt(this.newReview.reviewerIds[i]))) {
									flag = false;
								}
							}
						}
					}
					if (this.newReview.revieweeIds.length != 0) {
						for (var i = 0; i < this.newReview.revieweeIds.length; i++) {
							if (this.newReview.reviewerIds.includes(this.newReview.revieweeIds[i])) {
								flag = false;
							}
							if (this.assigneeListIds != null) {
								if (this.assigneeListIds.includes(parseInt(this.newReview.revieweeIds[i]))) {
									flag = false;
								}
							}
							if (this.reviewerListIds != null) {
								if (this.reviewerListIds.includes(parseInt(this.newReview.revieweeIds[i]))) {
									flag = false;
								}
							}
						}
					}
				}

				return flag;
			}
		},
		watch: {
			isNewReview: function (newVal, oldVal) {
				if (newVal) {
					api.getUserSuggestions(this.projectId, this.departmentId)
						.then(r => {
							if (r.data.assigneeIds != null) {
								this.newReview.reviewees = r.data.assigneeOptions;
								this.newReview.revieweesId = r.data.assigneeIds;
							}
							if (r.data.reviewerIds != null) {
								this.newReview.reviewers = r.data.reviewerOptions;
								this.newReview.reviewersId = r.data.reviewerIds;
							}
							if (r.data.letterwriterIds) {
								this.newReview.letterwriters = r.data.letterwriterOptions;
								this.newReview.letterwriterIds = r.data.letterwriterIds;
							}
						})
						.catch(error => {
							console.log(error)
						});
				}
			},
			showPopup: function (newVal, oldVal) {
				if (newVal) {
					$(this.$refs.AddReviewModal).modal('show');
				}
			}
		}
	}
</script>