﻿<template>
	<div ref="EmailSelectionModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="completeAndSend" v-if="this.user.id == null && (completingReview || markResolvedAndCompleteReview)">Complete Review & Send Email</button>
						<button type="button" class="btn btn-primary" @click="send" v-else-if="this.user.id == null">Send Email</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title">Email List</h3>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">

						<table class="table table-striped table-hover table-condensed" v-if="emailList.reviewers.length > 0">
							<thead>
								<tr>
									<th>Reviewers</th>
									<th class="text-right"><a href="#" @click="removeAllReviewer()"><strong>Remove All</strong></a></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(item,index) in emailList.reviewers">
									<td>{{item.name}}</td>
									<td class="text-right"><a href="#" @click="removeReviewer(index)">Remove</a></td>
								</tr>
							</tbody>
						</table>

						<table class="table table-striped table-hover table-condensed" v-if="emailList.assignees.length > 0">
							<thead>
								<tr>
									<th>Assignees</th>
									<th class="text-right"><a href="#" @click="removeAllAssignee()"><strong>Remove All</strong></a></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(item,index) in emailList.assignees">
									<td>{{item.name}}</td>
									<td class="text-right"><a href="#" @click="removeAssignee(index)">Remove</a></td>
								</tr>
							</tbody>
						</table>

						<table v-if="emailList.letterwriters.length > 0" class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th>Letterwriters</th>
									<th class="text-right"><a href="#" @click="removeAllLetterwriter()"><strong>Remove All</strong></a></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(item,index) in emailList.letterwriters">
									<td>{{item.name}}</td>
									<td class="text-right"><a href="#" @click="removeLetterwriter(index)">Remove</a></td>
								</tr>
							</tbody>
						</table>

						<table class="table table-striped table-hover table-condensed" v-if="emailList.managers.length > 0 && department!='QA'">
							<thead>
								<tr>
									<th>Managers/ProjectLead</th>
									<th class="text-right"><a href="#" @click="removeAllManager()"><strong>Remove All</strong></a></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(item,index) in emailList.managers">
									<td>{{item.name}}</td>
									<td class="text-right"><a href="#" @click="removeManager(index)">Remove</a></td>
								</tr>
							</tbody>
						</table>

						<table class="table table-striped table-hover table-condensed" v-if="emailList.watchers.length > 0">
							<thead>
								<tr>
									<th>Watchers</th>
									<th class="text-right"><a href="#" @click="removeAllWatcher()"><strong>Remove All</strong></a></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(item,index) in emailList.watchers">
									<td>{{item.name}}</td>
									<td class="text-right"><a href="#" @click="removeWatcher(index)">Remove</a></td>
								</tr>
							</tbody>
						</table>

						<table class="table table-striped table-hover table-condensed" v-if="emailList.others.length > 0">
							<thead>
								<tr>
									<th>Others</th>
									<th class="text-right"><a href="#" @click="removeAllOther()"><strong>Remove All</strong></a></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(item,index) in emailList.others">
									<td>{{item.name}}</td>
									<td class="text-right"><a href="#" @click="removeOther(index)">Remove</a></td>
								</tr>
							</tbody>
						</table>

						<div class="row">
							<div class="form-horizontal">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3" for="User">Add to EmailList: </label>
									<div class="col-sm-5">
										<input id="User" name="User" type="hidden" v-model="user.name" />
										<Lookup id="UserId" name="UserId" :lookuptextfield="user.name" lookupajax="Users" @updateLookupTextField="updateUser" v-model="user.id"></Lookup>
									</div>
									<button class="btn btn-sm btn-primary col-sm-1" v-if="this.user.id != null" @click="clickAddUser" type="button">Add</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-horizontal">
								<div class="form-group form-group-sm">
									<label v-if="this.user.id == null && (completingReview || markResolvedAndCompleteReview)" class="control-label col-sm-3" for="Note">Final Review Comments</label>
									<label v-else class="control-label col-sm-3" for="Note">Add note to Email: </label>
									<div class="col-sm-6">
										<textarea id="Note" name="Note" rows="6" cols="400" class="form-control" placeholder="Enter your custom note here" v-model="note"></textarea>
										<span class="field-validation-error" v-if="!$v.note.required && $v.note.$error">Final Review Comments are required</span>
									</div>
								</div>
							</div>
						</div>
						<div v-if="department=='QA'">
							<div class="alert-info">
								'Changes/Requires Secondary Review' Task will be assigned to all the Assignees that has issue(s) assigned to them in the Review.
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" @click="completeAndSend" v-if="this.user.id == null && (completingReview || markResolvedAndCompleteReview)">Complete Review & Send Email</button>
						<button type="button" class="btn btn-primary" @click="send" v-else-if="this.user.id == null">Send Email</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Lookup from '@/components/utility/Lookup.vue'
	import { requiredIf } from 'vuelidate/lib/validators'

	export default {
		components: {
			Lookup
		},
		props: {
			completingReview: {
				type: Boolean
			},
			completingReviewFinalization: {
				type: Boolean
			},
			completingReviewLetterbook: {
				type: Boolean
			},
			department: {
				type: String
			},
			emailList: {
				type: Object
			},
			markResolvedAndCompleteReview: {
				type: Boolean
			},
			showEmailSelectionPopup: {
				type: Boolean
			},
			isAssignee: {
				type: Boolean
			},
			correctionCompleteRevieweeId: {
				type: Number
			}
		},
		data() {
			return {
				originalEmailList: this.$lodash.cloneDeep(this.emailList),
				user: {
					id: null,
					name: ''
				},
				note: ''
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.EmailSelectionModal).on('hidden.bs.modal', function (e) {
				self.$emit('showEmailSelectionPopup', false);
			});
		},
		validations: {
			note: {
				required: requiredIf(function (nestedModel) {
					return nestedModel.completingReview;
				})
			}
		},
		methods: {
			clickAddUser: function () {
				if (this.user.id != null) {
					this.emailList.others.push(this.$lodash.cloneDeep(this.user));
					this.user.name = "";
					this.user.id = null;
				}
			},
			completeAndSend: function () {
				if (this.validate()){
					return;
				}
				if (this.completingReview) {
					if (this.completingReviewFinalization) {
						this.$emit('completeReviewFinalization', this.originalEmailList, this.note);
					}
					else if (this.completingReviewLetterbook) {
						this.$emit('completeReviewLetterbook', this.originalEmailList, this.note);
					}
					else {
						this.$emit('completeReview', this.originalEmailList, this.note);
					}
				}
				if (this.markResolvedAndCompleteReview) {
					this.$emit('markResolved', this.note);
				}
				$(this.$refs.EmailSelectionModal).modal('hide');
			},

			reset: function () {
				this.$emit('initializeEmailList', this.originalEmailList);
			},
			removeAllAssignee: function () {
				this.emailList.assignees = [];
			},
			removeAssignee: function (index) {
				this.emailList.assignees.splice(index, 1);
			},
			removeAllReviewer: function () {
				this.emailList.reviewers = [];
			},
			removeReviewer: function (index) {
				this.emailList.reviewers.splice(index, 1);
			},
			removeAllLetterwriter: function () {
				this.emailList.letterwriters = [];
			},
			removeLetterwriter: function (index) {
				this.emailList.letterwriters.splice(index, 1);
			},
			removeAllManager: function () {
				this.emailList.managers = [];
			},
			removeManager: function (index) {
				this.emailList.managers.splice(index, 1);
			},
			removeAllWatcher: function () {
				this.emailList.watchers = [];
			},
			removeWatcher: function (index) {
				this.emailList.watchers.splice(index, 1);
			},
			removeAllOther: function () {
				this.emailList.others = [];
			},
			removeOther: function (index) {
				this.emailList.others.splice(index, 1);
			},
			updateUser: function (newValue) {
				this.user.name = newValue;
			},
			send: function () {
				if (this.user.id != null) {
					alert('Click "Add" to add the user to the list');
				}
				else {
					if (!this.isAssignee) {
						this.$emit('assignReview', this.originalEmailList, this.note);
					}
					else {
						this.$emit('markCorrectionComplete', true, this.correctionCompleteRevieweeId, this.originalEmailList, this.note);
					}
					$(this.$refs.EmailSelectionModal).modal('hide');
				}
			},
			validate: function () {
				this.$v.$touch();
				return this.$v.$invalid;
			}
		},
		watch: {
			showEmailSelectionPopup: function (newVal, oldVal) {
				if (newVal) {
					$(this.$refs.EmailSelectionModal).modal('show');
					this.reset();
				}
			},
		}
	}
</script>