﻿<template>
	<div>
		<div class="row row-title">
			<div class="row">
				<div class="col-sm-4">
					<h3>
						Project Review ({{vm.department}}) <router-link :to="{ path: '/protrack/project/detail/' + vm.projectId  }" target="_blank" class="small" style="color:#337ab7">{{vm.filenumber}}</router-link>
					</h3>
					<h5>
						<b>
							Reviewers:
							<span v-for="(item,index) in vm.reviewerList">
								<span>{{item.text}}</span><span v-if="index+1 < vm.reviewerList.length">, </span>
							</span>
						</b>
					</h5>
					<h5><b>Review Status: {{vm.status}}</b> ({{statusExplanation}})</h5>
					<h5 class="form form-group" v-if="vm.status == 'Corrections Pending'">
						<b><u>Individual Assignee Status:</u></b><br />
						<span v-for="(detail,index) in revieweeSpecificStatus">
							<b>{{detail.revieweeName}}: </b>{{detail.status}}
							<a @click="clickCorrectionComplete(detail.revieweeId)" v-if="vm.isAssignee && detail.status == 'Correction Pending'" class="btn btn-primary btn-xs">Complete Correction</a>
							<br />
						</span>
					</h5>
				</div>
				<div class="col-sm-8 form-buttons">
					<a @click="markReviewComplete($event)" v-if="vm.isReviewer && vm.status != 'Completed' && vm.allMarkCompleted && vm.details.length > 0 && vm.department != 'QA'" class="btn btn-success btn-sm">Review Complete</a>
					<a @click="markReviewCompleteFinalization($event)" v-if="vm.isReviewer && vm.status != 'Completed' && vm.allMarkCompleted && vm.details.length > 0 && vm.department == 'QA'" class="btn btn-success btn-sm">Complete and Send to Manual Finalization</a>
					<a @click="markReviewCompleteFinalization($event)" v-if="vm.isReviewer && vm.id != null && vm.details.length == 0 && vm.status != 'Completed' && vm.department == 'QA'" class="btn btn-primary btn-sm">Complete (with no issue) and Send to Manual Finalization</a>
					<a @click="markReviewCompleteLetterbook($event)" v-if="vm.isReviewer && vm.status != 'Completed' && vm.allMarkCompleted && vm.details.length > 0 && vm.department == 'QA'" class="btn btn-success btn-sm">Complete and Send to Letterbook</a>
					<a @click="markReviewCompleteLetterbook($event)" v-if="vm.isReviewer && vm.id != null && vm.details.length == 0 && vm.status != 'Completed' && vm.department == 'QA'" class="btn btn-primary btn-sm">Complete (with no issue) and Send to Letterbook</a>
					<a @click="markReviewComplete($event)" v-if="vm.isReviewer && vm.status != 'Completed' && !vm.allMarkCompleted && vm.department == 'QA' && vm.details.length != 0 " class="btn btn-success btn-sm">Mark All Resolved</a>
					<a @click="markReviewComplete($event)" v-if="vm.isReviewer && vm.status != 'Completed' && !vm.allMarkCompleted && vm.department != 'QA'" class="btn btn-success btn-sm">Mark All Resolved and Complete Review</a>
					<a @click="markReviewComplete($event)" v-if="vm.isReviewer && vm.id != null && vm.details.length == 0 && vm.status != 'Completed' && vm.department != 'QA'" class="btn btn-primary btn-sm">Complete Review (with no issue)</a>
					<a @click="clickAssignReview($event)" v-if="vm.isReviewer && vm.status == 'Pending' && !vm.allMarkCompleted && vm.details.length != 0 " class="btn btn-primary btn-sm">Assign Review</a>
					<a @click="clickAssignReview($event)" v-if="vm.isReviewer && vm.details.length != 0 && vm.status != 'Completed' && vm.status != 'Pending' && !vm.allMarkCompleted && vm.details.length != 0 " class="btn btn-primary btn-sm">Re-assign Review</a>
					<a @click="clickAddReviewee" v-if="vm.isReviewer && vm.status != 'Completed'" class="btn btn-primary btn-sm">Edit Review</a>
					<a @click="clickReopenReview" v-if="vm.isReviewer && vm.status == 'Completed'" class="btn btn-primary btn-sm">Reopen Review</a>
					<a @click="clickDeleteReview" v-if="vm.isReviewer && vm.status == 'Pending'" class="btn btn-primary btn-sm">Delete Review</a>
					<a @click="clickAddToReview" v-if="!vm.isReviewer && !vm.isAssignee && vm.status != null && vm.status != 'Completed'" class="btn btn-primary btn-sm">Enter Review</a>
					<a @click="cancel($event)" class="btn btn-primary btn-sm">Cancel</a>
				</div>

			</div>
			<div v-if="(vm.id != null && vm.details.length!=0) || vm.status=='Completed'" class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 v-if="vm.status == 'Completed'" class="panel-title">Final Review Comments</h3>
							<h3 v-else class="panel-title">Filters</h3>
						</div>
						<div class="panel-body">
							<div v-if="vm.status == 'Completed'" class="row">
								{{vm.reviewComments}}
							</div>
							<div v-else class="row">
								<div class="col-sm-6">
									<label class="control-label col-sm-3">Assignee: </label>
									<div class="col-sm-9">
										<SelectStandard :options="vm.assigneeList" v-model.number="selectedAssigneeId"></SelectStandard>
									</div>
								</div>
								<div class="col-sm-6">
									<label class="control-label col-sm-3">Issue Type: </label>
									<div class="col-sm-9">
										<SelectStandard :options="issueTypeOptions" v-model="selectedIssueType"></SelectStandard>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div v-if="vm.id == null">
				<div class="row">
					<a @click="clickAddReview($event)" class="btn btn-primary btn-sm">Add Review</a>
				</div>
			</div>
			<div v-if="vm.id != null && vm.details.length == 0 && vm.status == 'Completed'">
				<div class="text-center">
					<h3>Review Complete (with no issues)</h3>
				</div>
				<table class="table-condensed" align="center">
					<tbody>
						<tr>
							<th>Reviewees : </th>
							<td>
								<div v-for="(assignee,index) in vm.assigneeList">
									{{assignee.text}}
									<br />
								</div>
							</td>
						</tr>
						<tr>
							<th>Reviewer : </th>
							<td>{{vm.completer}}</td>
						</tr>
						<tr>
							<th>Complete Date : </th>
							<td>{{vm.completeDate | formatDate}}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<br />
		<form ref="ProjectReviewForm" method="post">
			<table class="table table-striped">
				<tbody class="form-group form-group-sm">
					<tr is="Review" v-for="(detail,index) in vm.details"
						:ref="'reviewObj' + index"
						:key="detail.id"
						:index="index"
						:detail="detail"
						:department="vm.department"
						:departmentId="vm.departmentId"
						:issueSeverityOptions="vm.issueSeverityOptions"
						:reviewDetailAction="vm.actionList"
						:assigneeList="vm.assigneeList"
						:reviewerList="vm.reviewerList"
						:letterwriterList="vm.letterwriterList"
						:jurisdictionList="vm.jurisdictionList"
						:currentUserId="vm.currentUserId"
						:reviewStatus="vm.status"
						:isReviewer="vm.isReviewer"
						v-on:clickDeleteIssue="deleteIssue(index)"
						v-on:clickSaveIssue="saveIssue(index)"
						:v="$v.vm.details.$each[index]"
						v-on:locationReload="locationReload"
						v-on:updateAllMarkCompleted="updateAllMarkCompleted"
						v-on:mediationEmail="mediationEmail"
						v-on:duplicateIssue="duplicateIssue"
						@initializeDetail="initializeDetail(detail)"
						v-show="detail.showDetail"></tr>
				</tbody>
			</table>
		</form>
		<button class="btn btn-sm btn-primary" v-if="vm.status != 'Completed' && showAddReview && vm.id != null && vm.isReviewer" @click="clickAddIssue">Add Review Item</button>
		<AddReview :showPopup="showPopup"
				   :assigneeListIds="vm.assigneeListIds"
				   :projectId="vm.projectId"
				   :reviewId="vm.id"
				   :assigneeList="vm.assigneeList"
				   :reviewerList="vm.reviewerList"
				   :letterwriterList="vm.letterwriterList"
				   :watcherList="vm.watcherList"
				   :department="vm.department"
				   :departmentId="vm.departmentId"
				   :description="vm.description"
				   :isNewReview="isNewReview"
				   @showPopup="updateShowPopup"
				   @isNewReview="updateIsNewReview"
				   @newReview="addNewReview"
				   @addNewUsers="addNewUsers"
				   @removeUser="removeUser">
		</AddReview>
		<EmailSelection :showEmailSelectionPopup="showEmailSelectionPopup"
						:completingReview="completingReview"
						:isAssignee="vm.isAssignee"
						:completingReviewFinalization="completingReviewFinalization"
						:completingReviewLetterbook="completingReviewLetterbook"
						:markResolvedAndCompleteReview="markResolvedAndCompleteReview"
						:correctionCompleteRevieweeId="correctionCompleteRevieweeId"
						:emailList="vm.emailList" :department="vm.department"
						@showEmailSelectionPopup="updateShowEmailSelectionPopup"
						@assignReview="sendEmail"
						@completeReview="completeReview"
						@markResolved="markAllresolved"
						@initializeEmailList="initializeEmailList"
						@completeReviewFinalization="completeReviewFinalization"
						@completeReviewLetterbook="completeReviewLetterbook"
						@markCorrectionComplete="markCorrectionComplete">
		</EmailSelection>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	import Review from '@/components/protrack/project/projectreview/Review.vue'
	import { required, requiredIf } from 'vuelidate/lib/validators'
	import AddReview from '@/components/protrack/project/projectreview/AddReview.vue'
	import EmailSelection from '@/components/protrack/project/projectreview/EmailSelection.vue'
	import api from '@/api/projectreview';
	import { PROJECT_REVIEW_STATUS } from '@/common'
	import SelectStandard from '@/components/utility/SelectStandard.vue'

	export default {
		components: {
			Review,
			AddReview,
			EmailSelection,
			SelectStandard
		},
		data() {
			return {
				completingReview: false,
				completingReviewFinalization: false,
				completingReviewLetterbook: false,
				isNewReview: false,
				length: initialData.details.length,
				markResolvedAndCompleteReview: false,
				showAddReview: true,
				showEmailSelectionPopup: false,
				statusExplanation: null,
				showPopup: false,
				vm: initialData,
				usersUpdated: false,
				revieweeSpecificStatus: [],
				correctionCompleteRevieweeId: null,
				selectedAssigneeId: null,
				selectedIssueType: null,
				issueTypeOptions: [
					{
						id:1,
						disabled:false,
						group:null,
						selected:false,
						text: "Resolved",
						value: true
					},
					{
						id:2,
						disabled:false,
						group:null,
						selected:false,
						text: "Un-Resolved",
						value: false
					}
				]

			}
		},
		mounted() {
			this.updateStatusExplanation();
		},
		validations: {
			vm: {
				details: {
					$each: {
						categoryId: {
							required
						},
						jurisdictionId: {
							required: requiredIf(function (nestedModel) {
								return nestedModel.category === 'Jurisdictional Specific';
							})
						},
						action: {
							required
						},
						issueSeverity: {
							required: requiredIf(function (nestedModel) {
								return nestedModel.action === 'Issue';
							})
						},
						assigneeId: {
							required
						},
						reviewerId: {
							required
						},
						description: {
							required
						},
					}
				}
			}
		},
		methods: {
			addNewReview: function (review) {
				api.addNewReview(this.vm.projectId, this.vm.departmentId, review.revieweeIds, review.reviewerIds, review.letterwriterIds, review.watcherIds, review.description)
					.then(response => {
						const reviewId = response.data;
						this.vm.id = reviewId;
						window.location.replace(jsPath + 'protrack/projectreview?reviewId=' + reviewId)
					})
					.catch(e => console.info(e));
			},
			addNewUsers: function (reviewerIds, revieweeIds, letterwriterIds, watcherIds) {
				api.addNewUsers(this.vm.id, reviewerIds, revieweeIds, letterwriterIds, watcherIds)
					.then(response => {
						location.reload()
					})
			},
			cancel: function (e) {
				window.close();
			},
			clickAddIssue: function () {
				this.showAddReview = false;
				const review = {
					description: "",
					comments: [],
					showDetail: true
				};
				this.vm.details.push(review);
				this.vm.allMarkCompleted = false;
			},
			clickAddToReview: function () {
				api.addNewUsers(this.vm.id, this.vm.currentUserId, null, null)
					.then(response => {
						window.location.reload();
					});
			},
			clickAddReview(e) {
				this.showPopup = true;
				this.isNewReview = true;
			},
			clickAddReviewee() {
				this.showPopup = true;
			},
			clickAssignReview: function () {
				for (var i = 0; i < this.vm.details.length; i++) {
					var name = 'reviewObj' + i;
					if (this.$refs[name][0].showSaveIssue) {
						bootbox.alert("You have unsaved issues. Please save your changes to continue.");
						return;
					}
				}
				this.showEmailSelectionPopup = true;
			},
			clickDeleteReview: function () {
				var self = this
				bootbox.confirm("Are you sure you want to delete the review? This action cannot be reverted.", function (result) {
					if (result) {
						Loading();
						api.deleteReview(self.vm.id)
							.then(response => {
								if (response.data) {
									alert('Review is deleted.');
									window.close();
									window.opener.location.reload();
								}
								else {
									alert('Review could not be deleted.');
									DoneLoading();
								}
							})
					}
					else {
						return;
					}
				})
			},
			clickReopenReview() {
				api.reopenReview(this.vm.id)
					.then(response => { location.reload() })
			},
			completeReview: function (originalEmailList, note) {
				api.completeReview(this.vm, note)
					.then(response => { location.reload() })
			},
			completeReviewFinalization: function (originalEmail, note) {
				api.completeReviewFinalization(this.vm, note)
					.then(response => {
						window.location.reload();
						window.open(jsPath + "protrack/project/detail/" + this.vm.projectId);
					})
			},
			completeReviewLetterbook: function (originalEmail, note) {
				api.completeReviewLetterbook(this.vm, note)
					.then(response => {
						window.location.reload();
						window.open(jsPath + "documents/create?bundleId=" + response.data);
					})
			},
			deleteIssue: function (index) {
				if (this.vm.details[index].id != null) {
					api.deleteIssue(this.vm.details[index].id)
						.then(response => {
							if (response.data != null) {
								this.vm.status = response.data;
								this.vm.details.splice(index, 1);
							}
						});
				}
				else {
					this.showAddReview = true;
				}
				if (this.vm.details.length == 0) {
					this.vm.allMarkCompleted = true;
				}
			},
			duplicateIssue: function (detailId) {
				this.vm.details.forEach((item) => {
					if (item.id == detailId) {
						var issue = _.cloneDeep(item);
						issue.id = null;
						issue.comments = [];
						this.vm.details.push(issue);
					}
				});
			},
			initializeDetail(detail) {
				if (detail.assigneeId == null) {
					detail.assignee = this.vm.assigneeList[0].text;
					detail.assigneeId = this.vm.assigneeList[0].value;
				}
				if (detail.action == null) {
					detail.action = this.vm.actionList[1].value;
				}
				if (detail.issueSeverity == null) {
					detail.issueSeverity = this.vm.issueSeverityOptions[2].value;
				}
				if (detail.reviewerId == null) {
					for (var i = 0; i < this.vm.reviewerList.length; i++) {
						if (parseInt(this.vm.reviewerList[i].value) == this.vm.currentUserId) {
							detail.reviewer = this.vm.reviewerList[i].text;
							detail.reviewerId = this.vm.reviewerList[i].value;
						}
					}
				}
			},
			initializeEmailList(originalEmailList) {
				this.vm.emailList = this.$lodash.cloneDeep(originalEmailList);
			},
			locationReload: function () {
				window.opener.location.reload();
				location.reload();
			},
			markAllresolved: function (note) {
				api.markAllresolved(this.vm, note)
					.then(response => {
						location.reload()
					})
			},
			clickCorrectionComplete: function (revieweeId) {
				var refThis = this
				bootbox.confirm("Are you sure you want to mark corrections complete for the review?", function (result) {
					if (result) {
						if (refThis.vm.showAssigneeEmailPopup) {
							refThis.correctionCompleteRevieweeId = revieweeId;
							refThis.showEmailSelectionPopup = true;
						}
						else {
							refThis.markCorrectionComplete(false, revieweeId, null, null)
						}
					}
					else {
						return;
					}
				})
			},
			markCorrectionComplete: function (sendEmail, revieweeId, originalEmailList, note) {
				Loading();
				const refThis = this;
				api.updateCorrectionComplete(refThis.vm, revieweeId, note)
					.catch(function (error) {
						console.log(error);
					})
					.then(response => {
						if (sendEmail) {
							refThis.vm.emailList = originalEmailList
							alert('Email Has been Sent');
						}
						else {
							alert('Email can be sent when all the Assignees complete their corrections.');
						}
						DoneLoading();
						location.reload();
					})
			},
			markReviewComplete: function (e) {
				for (var i = 0; i < this.vm.details.length; i++) {
					var name = 'reviewObj' + i;
					if (this.$refs[name][0].showSaveIssue) {
						bootbox.alert("You have unsaved issues. Please save your changes to continue.");
						return;
					}
				}

				if (this.vm.details.some(x => !x.resolved)) {
					var self = this
					bootbox.confirm("Are you sure you want to complete the review?", function (result) {
						if (result) {
							self.showEmailSelectionPopup = true;
							self.completingReview = true;
						}
						else {
							return;
						}
					})
				}
				else {
					var self = this
					if (this.vm.department == 'QA') {
						bootbox.confirm("Are you sure you want to mark all issues resolved?", function (result) {
							if (result) {
								self.markAllresolved('');
							}
							else {
								return;
							}
						})
					}
					else {
						bootbox.confirm("Are you sure you want to Mark all issues resolved and complete the review?", function (result) {
							if (result) {
								self.showEmailSelectionPopup = true;
								self.markResolvedAndCompleteReview = true;
							}
							else {
								return;
							}
						})
					}
				}

			},
			markReviewCompleteFinalization: function (e) {
				var allMarResolved = true;
				this.vm.details.forEach((item) => {
					if (!item.resolved) {
						allMarResolved = false;
					}
				});
				if (allMarResolved) {
					var self = this
					bootbox.confirm("Are you sure you want to complete the review and send to manual finalization?", function (result) {
						if (result) {
							self.showEmailSelectionPopup = true;
							self.completingReview = true;
							self.completingReviewFinalization = true;
						}
						else {
							return;
						}
					})
				}
				else {
					return;
				}
			},
			markReviewCompleteLetterbook: function (e) {
				var allMarResolved = true;
				this.vm.details.forEach((item) => {
					if (!item.resolved) {
						allMarResolved = false;
					}
				});
				if (allMarResolved) {
					var self = this
					bootbox.confirm("Are you sure you want to complete the review and send to letterbook?", function (result) {
						if (result) {
							self.showEmailSelectionPopup = true;
							self.completingReview = true;
							self.completingReviewLetterbook = true;
						}
						else {
							return;
						}
					})
				}
				else {
					return;
				}
			},
			mediationEmail(detail) {
				api.mediationEmail(this.vm, detail.id)
			},
			removeUser: function (userId) {
				var assigneeIndex = this.vm.assigneeListIds.indexOf(parseInt(userId));
				if (assigneeIndex > -1) {
					this.vm.assigneeList.splice(assigneeIndex, 1);
				}
				else {
					for (var i = 0; i < this.vm.reviewerList.length; i++) {
						if (this.vm.reviewerList[i].value == userId) {
							this.vm.reviewerList.splice(i, 1);
						}
					}
					for (var i = 0; i < this.vm.letterwriterList.length; i++) {
						if (this.vm.letterwriterList[i].value == userId) {
							this.vm.letterwriterList.splice(i, 1);
						}
					}
					for (var i = 0; i < this.vm.watcherList.length; i++) {
						if (this.vm.watcherList[i].value == userId) {
							this.vm.watcherList.splice(i, 1);
						}
					}
				}
				this.usersUpdated = true;
			},
			saveIssue: function (index) {
				const self = this;
				if (this.validate(index)) {
					return;
				}
				api.saveReviewDetail(this.vm.details[index], this.vm.id)
					.then(response => {
						const newDetail = response.data;
						self.vm.details.splice(index, 1, newDetail);
						self.vm.details[index].isSaved = true;
					});
				this.vm.isReviewer = true;
				this.vm.allMarkCompleted = false;
				this.showAddReview = true;
			},
			sendEmail: function (originalEmailList, note) {
				Loading();
				const self = this;
				api.assignReview(self.vm, note)
					.catch(function (error) {
						console.log(error);
					})
					.then(response => {
						self.vm.emailList = originalEmailList
						alert('Email Has been Sent');
						DoneLoading();
						location.reload();
					});
			},
			updateAllMarkCompleted(status) {
				this.vm.allMarkCompleted = true;
				this.vm.status = status;
				this.updateStatusExplanation();
				this.vm.details.forEach((item) => {
					if (!item.resolved) {
						this.vm.allMarkCompleted = false;
					}
				});
			},
			updateIsNewReview: function (isNewReview) {
				this.isNewReview = isNewReview;
			},
			updateStatusExplanation: function () {
				if (this.vm.status == PROJECT_REVIEW_STATUS.PENDING.description) {
					this.statusExplanation = "Review is yet not assigned to the assignee";
				}
				if (this.vm.status == PROJECT_REVIEW_STATUS.CORRECTIONSPENDING.description) {
					this.statusExplanation = "Waiting for assignee to complete their corrections";
					api.getRevieweeSpecificStatus(this.vm.id)
						.then(response => this.revieweeSpecificStatus = response.data)
						.catch(e => console.info(e));
				}
				if (this.vm.status == PROJECT_REVIEW_STATUS.VERIFICATIONPENDING.description) {
					this.statusExplanation = "Waiting for the reviewers to verify the corrections made by the assignee";
				}
				if (this.vm.status == PROJECT_REVIEW_STATUS.COMPLETED.description) {
					this.statusExplanation = "Review completed";
				}
			},
			updateShowEmailSelectionPopup: function (emailSelectionPopup) {
				this.showEmailSelectionPopup = emailSelectionPopup;
			},
			updateShowPopup: function (showPopup) {
				this.showPopup = showPopup;
			},
			validate: function (index) {
				this.$v.$touch();
				return this.$v.vm.details.$each[index].$invalid;
			}
		},
		watch: {
			showPopup: function (newVal, oldVal) {
				if (!newVal) {
					if (this.usersUpdated) {
						location.reload();
					}
				}
			},
			selectedAssigneeId: function (newVal) {
				for (let i = 0; i < this.vm.details.length; i++) {
					this.vm.details[i].showDetail = newVal == null || this.vm.details[i].assigneeId == this.selectedAssigneeId;
				}
			},
			selectedIssueType: function (newVal) {
				var resolved = false;
				if (newVal == 'true') {
					resolved = true;
				}
				for (let i = 0; i < this.vm.details.length; i++) {
					this.vm.details[i].showDetail = newVal == null || this.vm.details[i].resolved == resolved;
				}
			}
		}
	}
</script>