﻿<template>
	<div ref="MediationModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="addMediator">Add Mediator</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title">Add Mediator</h3>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-2" >Mediator: </label>
							<div class="col-sm-10">
								<input name="Mediator" type="hidden" v-model="mediator.name" />
								<Lookup name="MediatorId" :lookuptextfield="mediator.name" lookupajax="Users" @updateLookupTextField="updatemediator" v-model="mediator.id"></Lookup>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" @click="addMediator">Add Mediator</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Lookup from '@/components/utility/Lookup.vue'


	export default {
		components: {
			Lookup
		},
		props: {
			showMediation: {
				type: Boolean
			}
		},
		data() {
			return {
				mediator: {
					id: null,
					name: ''
				}
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.MediationModal).on('hidden.bs.modal', function (e) {
				self.$emit('showMediation', false);
				self.reset();
			});
		},
		methods: {
			addMediator: function () {
				this.$emit('mediator', this.mediator);
				$(this.$refs.MediationModal).modal('hide');
			},
			reset: function () {
				this.mediator = {
					id: null,
					name: ''
				}
			},
			updatemediator: function (newValue) {
				this.mediator.name = newValue;
			}
		},
		watch: {
			showMediation: function (newVal, oldVal) {
				if (newVal) {
					$(this.$refs.MediationModal).modal('show');
				}
			}
		}
	}
</script>