﻿<template>
	<tr>
		<td>
			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-3">Detail Id: </label>
								<div class="col-sm-9">
									{{detail.id}}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-3">Reviewer: </label>
								<div v-if="(isReviewer || detail.reviewerId == null) && reviewStatus != 'Completed'" class="col-sm-9">
									<input name="Reviewer" type="hidden" v-model="detail.reviewer" />
									<SelectStandard name="ReviewerId" :options="reviewerList" v-model.number="detail.reviewerId" @updateTextField="updateReviewer"></SelectStandard>
									<span class="field-validation-error" v-if="v && !v.reviewerId.required && v.reviewerId.$error">Assignee is required</span>
								</div>
								<div v-else class="col-sm-9">
									{{detail.reviewer}}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-3">Category: </label>
								<div v-if="(currentUserId==detail.reviewerId && detail.comments.length == 0)|| detail.reviewerId == null" class="col-sm-9">
									<input name="Category" type="hidden" v-model="detail.category" />
									<Lookup name="CategoryId" :lookuptextfield="detail.category" lookupajax="ProjectReviewDetailCategory" @updateLookupTextField="updateCategory" v-model.number="detail.categoryId" :filter="departmentId"></Lookup>
									<span class="field-validation-error" v-if="v && !v.categoryId.required && v.categoryId.$error">Category is required</span>
								</div>
								<div v-else class="col-sm-9">
									{{detail.category}}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-3">Jurisdiction: </label>
								<div v-if="(currentUserId==detail.reviewerId && detail.comments.length == 0) || detail.reviewerId == null" class="col-sm-9">
									<input name="Jurisdiction" type="hidden" v-model="detail.jurisdiction" />
									<SelectStandard name="JurisdictionId" :value="detail.jurisdiction" :options="jurisdictionList" v-model="detail.jurisdictionId" @updateTextField="updateJurisdiction"></SelectStandard>
									<span class="field-validation-error" v-if="v && !v.jurisdictionId.required && v.jurisdictionId.$error">Jurisdiction is required</span>
								</div>
								<div v-else class="col-sm-9">
									{{detail.jurisdiction}}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-3">Action: </label>
								<div v-if="(currentUserId==detail.reviewerId || detail.reviewerId == null) && reviewStatus != 'Completed'" class="col-sm-9">
									<input name="Action" type="hidden" v-model="detail.action" />
									<SelectStandard name="ActionId" :value="detail.action" :options="reviewDetailAction" v-model="detail.action"></SelectStandard>
									<span class="field-validation-error" v-if="v && !v.action.required && v.action.$error">Action is required</span>
								</div>
								<div v-else class="col-sm-9">
									{{detail.action}}
								</div>
							</div>
						</div>
					</div>
					<div v-if="(department == 'QA' && isReviewer) || department != 'QA'" class="row">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-3">Issue Severity: </label>
								<div v-if="(currentUserId==detail.reviewerId || detail.reviewerId == null) && reviewStatus != 'Completed'" class="col-sm-9">
									<input name="IssueSeverity" type="hidden" v-model="detail.issueSeverity" />
									<SelectStandard name="IssueSeverityId" :value="detail.issueSeverity" :options="issueSeverityOptions" v-model="detail.issueSeverity"></SelectStandard>
									<span class="field-validation-error" v-if="v && !v.issueSeverity.required && v.issueSeverity.$error">Issue Severity is required</span>
								</div>
								<div v-else class="col-sm-9">
									{{detail.issueSeverity}}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-3">Assignee: </label>
								<div v-if="(currentUserId==detail.reviewerId || detail.reviewerId == null) && reviewStatus != 'Completed'" class="col-sm-9">
									<input name="Assignee" type="hidden" v-model="detail.assignee" />
									<SelectStandard name="AssigneeId" :options="assigneeList" v-model.number="detail.assigneeId" @updateTextField="updateAssignee"></SelectStandard>
									<span class="field-validation-error" v-if="v && !v.assigneeId.required && v.assigneeId.$error">Assignee is required</span>
								</div>
								<div v-else class="col-sm-9">
									{{detail.assignee}}
								</div>
							</div>
						</div>
					</div>
					<div v-if="department=='QA'" class="row">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-3">Letterwriter: </label>
								<div v-if="(currentUserId==detail.reviewerId || detail.reviewerId == null) && reviewStatus != 'Completed'" class="col-sm-9">
									<input name="Letterwriter" type="hidden" v-model="detail.letterwriter" />
									<SelectStandard name="LetterwriterId" :options="letterwriterList" v-model.number="detail.letterwriterId" @updateTextField="updateLetterwriter"></SelectStandard>
								</div>
								<div v-else class="col-sm-9">
									{{detail.letterwriter}}
								</div>
							</div>
						</div>
					</div>
					<div v-if="detail.mediatorId != null" class="row">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-3" for="Mediator">Mediator: </label>
								<div class="col-sm-9">
									{{detail.mediator}}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<label class="control-label col-sm-3" for="ReviewDate">Date: </label>
								<div class="col-sm-9">
									{{detail.addDate | formatDate }}
								</div>
							</div>
						</div>
					</div>

					<br />
					<div class="row" v-if="detail.resolved && currentUserId==detail.reviewerId && reviewStatus != 'Completed'">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<button class="btn btn-sm btn-warning col-sm-offset-1 col-sm-5" @click="clickReopenIssue" type="button">Reopen Issue</button>
							</div>
						</div>
					</div>
					<div class="row" v-if="(detail.reviewerId == null || currentUserId==detail.reviewerId) && reviewStatus != 'Completed' && detail.id">
						<div class="form-horizontal">
							<div class="form-group" form-group-sm>
								<button type="button" class="btn btn-sm btn-danger col-sm-offset-1 col-sm-5" @click="clickDeleteIssue">
									<i class="fas fa-times"></i> Delete Issue
								</button>
							</div>
						</div>
					</div>
					<div class="row" v-if="(currentUserId==detail.reviewerId || detail.reviewerId == null) && showSaveIssue">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<button class="btn btn-sm btn-success col-sm-offset-1 col-sm-5" @click="clickSaveIssue" type="button">Save Issue</button>
							</div>
						</div>
					</div>
					<div class="row" v-if="currentUserId==detail.reviewerId && detail.comments.length != 0 && !detail.resolved && reviewStatus != 'Completed'">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<button class="btn btn-sm btn-primary col-sm-offset-1 col-sm-5" @click="clickMediatonButton" type="button">Assign Mediation</button>
							</div>
						</div>
					</div>
					<div class="row" v-if="isReviewer && detail.id != null && reviewStatus != 'Completed'">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<button class="btn btn-sm btn-primary col-sm-offset-1 col-sm-5" @click="clickDuplicateButton" type="button">Duplicate Issue</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group form-group-sm">
						<label class="control-label" for="Description">Description: </label>
						<div v-if="currentUserId==detail.reviewerId && reviewStatus != 'Completed'">
							<kendo-editor :resizable-content="true"
										  :resizable-toolbar="true"
										  :value="detail.description"
										  v-on:change="onChange"
										  style="height:280px"
										  rows="23"
										  cols="400">
							</kendo-editor>
							<span class="field-validation-error" v-if="v && !v.description.required && v.description.$error">Description is required</span>
						</div>
						<div v-else>
							<div v-html="detail.description"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div v-if="detail.reviewerId != null && hasDetailId()" class="form-group form-group-sm">
						<label class="control-label">Comments: </label>
						<div>
							<div style="height: 200px;overflow-y:auto;">
								<table class="table table-striped table-condensed table-hover">
									<tbody>
										<tr v-for="(comment,index) in  reversedArray">
											<td>
												<div style="white-space: pre-line;">{{comment.comment}}</div><br />
												<small class="pull-right"><i>-{{comment.userName}}, {{comment.addDate | formatDateTimeLocal}}</i></small>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<br />
							<br />
							<textarea v-if="reviewStatus != 'Completed'" name="Comment" rows="4" cols="400" class="form-control" placeholder="Enter your comment here" v-model="comment"></textarea>
							<br />
							<button v-if="reviewStatus != 'Completed'" class="btn btn-sm btn-primary col-sm-5" @click="clickAddComment" type="button">Add Comment</button>
							<div class="col-sm-2"></div>
							<button v-if="(isReviewer || currentUserId == detail.mediatorId) && !detail.resolved && reviewStatus != 'Completed'" class="btn btn-sm btn-success col-sm-5" @click="clickMarkResolved" type="button">Mark Resolved</button>
							<button v-else-if="(isReviewer || currentUserId == detail.mediatorId) && detail.resolved && reviewStatus != 'Completed'" class="btn btn-sm btn-success col-sm-5 disabled" type="button">Mark Resolved</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row" v-if="detail.resolved && reviewStatus != 'Completed'">
				<div class="col-sm-offset-4 col-sm-2" style="text-align:center; background-color:forestgreen">
					<h4 style="color:white">Issue Resolved</h4>
				</div>
			</div>
			<Mediation :showMediation="showMediation" @showMediation="updateshowMediation" @mediator="updateMediator"></Mediation>
		</td>
	</tr>
</template>
<script>
	import Lookup from '@/components/utility/Lookup.vue'
	import SelectStandard from '@/components/utility/SelectStandard.vue'
	import Mediation from '@/components/protrack/project/projectreview/Mediation.vue'
	import api from '@/api/projectreview';
	import { PROJECT_REVIEW_STATUS } from '@/common'

	export default {
		created: function () {
			this.$emit('initializeDetail');
			this.detailCopy = _.cloneDeep(this.detail);
		},
		components: {
			Lookup,
			SelectStandard,
			Mediation
		},
		computed: {
			reversedArray: function () {
				return _.reverse(this.detail.comments);
			}
		},
		props: {
			detail: {
				type: Object,
				required: true
			},
			departmentId: {
				type: Number
			},
			department: {
				type: String
			},
			reviewDetailAction: {
				type: Array
			},
			issueSeverityOptions: {
				type: Array
			},
			assigneeList: {
				type: Array
			},
			isReviewer: {
				type: Boolean
			},
			reviewerList: {
				type: Array
			},
			jurisdictionList: {
				type: Array
			},
			letterwriterList: {
				type: Array
			},
			currentUserId: {
				type: Number
			},
			index: {
				type: Number
			},
			reviewStatus: {
				type: String
			},
			v: {
				type: Object
			}
		},
		data() {
			return {
				comment: "",
				showSaveIssue: false,
				showMediation: false,
				detailCopy: {}
			}
		},
		methods: {
			clickAddComment: function () {
				api.saveComment(this.detail.id, this.comment)
					.then(response => {
						const newComment = response.data;

						this.detail.comments.push(newComment);
						this.comment = "";
					})
			},
			clickDeleteIssue: function () {
				bootbox.confirm("Are you sure you would like to delete this issue?", (result) => {
					if (result)
						this.$emit('clickDeleteIssue');
				});
			},
			clickDuplicateButton: function () {
				this.$emit('duplicateIssue', this.detail.id);
			},
			clickMarkResolved: function () {
				this.comment = "Issue Resolved (System)";
				this.clickAddComment();
				api.updateResolved(this.detail.id, true)
					.then(response => {
						this.detail.resolved = true;
						this.$emit('updateAllMarkCompleted', response.data);
					});
			},
			clickMediatonButton: function () {
				this.showMediation = true;
			},
			clickReopenIssue: function () {
				this.comment = "Issue Reopened (System)";
				this.clickAddComment();
				api.updateResolved(this.detail.id, false)
					.then(response => {
						this.detail.resolved = false;
						this.$emit('updateAllMarkCompleted', PROJECT_REVIEW_STATUS.CORRECTIONSPENDING.description);
					});
			},
			clickSaveIssue: function () {
				this.showSaveIssue = false;
				this.$emit('clickSaveIssue');
				this.detailCopy = _.cloneDeep(this.detail);
			},
			hasDetailId: function () {
				return this.detail.hasOwnProperty("id");
			},
			isChanged: function () {
				return !_.isEqual(_.omit(this.detail, ['isSaved', 'comments', 'resolved']), _.omit(this.detailCopy, ['isSaved', 'comments', 'resolved']));
			},
			updateAssignee: function (newValue) {
				this.detail.assignee = newValue;
			},
			updateCategory: function (newValue) {
				this.detail.category = newValue;
			},
			updateJurisdiction: function (newValue) {
				this.detail.jurisdiction = newValue == "" ? null : newValue + " (" + this.detail.jurisdictionId + ")";
			},
			updateLetterwriter: function (newValue) {
				this.detail.letterwriter = newValue == "" ? null : newValue;
			},
			updateMediator: function (mediator) {
				this.detail.mediator = mediator.name;
				this.detail.mediatorId = mediator.id;
				this.clickSaveIssue();

				this.comment = "Mediation assigned to " + mediator.name + " (System)";
				this.clickAddComment();
				this.$emit('mediationEmail', this.detail);
			},
			updateReviewer: function (newValue) {
				this.detail.reviewer = newValue;
			},
			updateshowMediation: function (showMediation) {
				this.showMediation = showMediation;
			},
			detailUpdated: function () {
				if (this.detail.isSaved) {
					this.detailCopy = _.cloneDeep(this.detail);
					this.detail.isSaved = false;
					return;
				}
				this.showSaveIssue = this.isChanged();
			},
			onChange(ev) {
				this.detail.description = ev.sender.value();
			}
		},
		watch: {
			'detail': {
				handler(val) {
					this.detailUpdated();
				},
				deep: true
			}
		}
	}
</script>