﻿<template>
	<form ref="FormatFilterForm" method="post">
		<input type="hidden" name="Mode" v-model="vm.mode" />
		<div class="row row-title">
			<div class="col-sm-8">
				<h3>{{vm.mode | modeText}} Format Filter</h3>
			</div>
			<div class="col-sm-4 form-buttons">
				<a @click="save" class="btn btn-primary btn-sm">{{ vm.mode | saveText}}</a>
				<a-link href="/lookups/formatfilters" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="form-horizontal">
			<input type="hidden" id="Id" name="Id" v-model="vm.id" />
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Name</label>
				<div class="col-sm-4">
					<input id="Name" name="Name" class="form-control" v-model="vm.name" />
					<span class="field-validation-error" v-if="!$v.vm.name.required && $v.vm.name.$error">Name is required</span>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Description</label>
				<div class="col-sm-4">
					<input id="Description" name="Description" class="form-control" v-model="vm.description" />
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label col-sm-2">Filter Text</label>
				<div class="col-sm-4">
					<input id="FilterText" name="FilterText" class="form-control" v-model="vm.filterText" />
					<span class="field-validation-error" v-if="!$v.vm.filterText.required && $v.vm.filterText.$error">Filter Text is required</span>
				</div>
			</div>
		</div>
	</form>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	import { required, maxLength } from 'vuelidate/lib/validators';

	export default {
		components: {
			ALink
		},
		data:function() {
			return {
				vm:initialData
			}
		},
		methods: {
			save: function () {
				if (this.validate()) {
					return
				}
				const form = this.$refs.FormatFilterForm;
				form.action = jsPath + 'Lookups/FormatFilters/Edit';
				form.submit();
			},
			validate: function () {
				this.$v.$touch();
				return this.$v.$invalid;
			}
		},
		validations: {
			vm: {
				name: {
					required
				},
				filterText: {
					required,
				}
			}
		}
	}
</script>