﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-6">
				<h3>Format Filters</h3>
			</div>
			<div class="col-sm-6 form-buttons">
				<a-link href="/lookups/formatfilters/edit" class="btn btn-sm btn-primary">Add</a-link>
				<a-link href="/tools" class="btn btn-sm btn-primary">Cancel</a-link>
			</div>
		</div>
		<div class="row">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Filter Name</th>
						<th>Description</th>
						<th>Filter Text</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(formatFilter, index) in vm">
						<td :class="getRowClass(formatFilter)">{{formatFilter.name}}</td>
						<td :class="getRowClass(formatFilter)">{{formatFilter.description}}</td>
						<td :class="getRowClass(formatFilter)">{{formatFilter.filterText}}</td>
						<td class="text-right">
							<a :href="editLink + '?id=' + formatFilter.id">Edit</a> |
							<a :href="toggleActiveLink + '?id=' + formatFilter.id">{{formatFilter.active ? 'Deactivate' : 'Activate'}}</a>
							<span v-if="!formatFilter.active"><a :href="deleteLink + '?id=' + formatFilter.id"> | Delete</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';

	export default {
		components: {
			ALink
		},
		data: function () {
			return {
				vm: initialData,
				editLink: editLink,
				deleteLink:deleteLink,
				toggleActiveLink:toggleActiveLink
			}
		},
		methods: {
			getRowClass: function (billingParty) {
				return billingParty.active ? 'normal' : 'text-red';
			}
		}
	}
</script>