﻿<template>
	<div>
		<div class="form-group form-group-sm">
			<div class="row">
				<label class="control-label col-sm-2">Associated Softwares Template</label>
				<div class="col-sm-5">
					<LookupMultiple :disableLookup="platformIds.length === 0" id="AssociatedSoftwaresTemplate" name="AssociatedSoftwaresTemplate" @updateLookupTextField="updateAssociatedSoftwaresTemplate" lookupajax="AssociatedSoftwaresTemplate" :lookuptextfield="associatedSoftwaresTemplate" :filter="buildTemplateFilter()" v-model="associatedSoftwaresTemplateIds" class="form-control" />
					<p class="select-platform-warning" v-if="platformIds.length === 0">Select a platform before selecting a template.</p>
				</div>
				<a @click="LoadTemplates()" class="btn btn-primary btn-sm" :class="{ disabled: saveInProgress || associatedSoftwaresTemplateIds.length === 0 }"> Load</a>
			</div>

		</div>
		<br />
		<div v-if="validationError" class="alert alert-danger">
			Save Failed: non-Approved Juridiction(s) found in component(s).
			Please remove invalid Juridiction(s) before save.
		</div>
		<br />
		<div v-for="platformPieceGroup in platformPieceGroups">
			<div class="card">
				<table class="table table-striped table-bordered no-margin-bottom">
					<tbody>
						<tr class="platform-piece-row">
							<td class="platform-piece-name">
								{{ platformPieceGroup[0].name }}
								<p v-if="platformPieceGroup.some(x => x.required)" class="platform-piece-required">REQUIRED</p>
							</td>
							<td class="platform-piece-add"><a @click="showAddComponentModal(platformPieceGroup[0].id)" class="btn btn-primary btn-sm">Add</a></td>
						</tr>
						<tr class="platform-piece-component-row">
							<td colspan="2">
								<TableDisplay ref="TableDisplay" :columns="columns"
											  :rows="componentsForPieces(platformPieceGroup.map(x => x.id))">
								</TableDisplay>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<SearchComponents :showSearch="showComponentSearch" @selected-components="addComponents" @reSetShowSearch="reSetShowSearch"></SearchComponents>
			<div v-if="modifyJurisdiction">
				<LookupMultipleWithModal id="ModifyJuridiction" name="ModifyJuridiction" lookupajax="AssociatedSoftwaresTemplate" :textfield="selectedJuridiction" :filter="{manufacturersShortId:manufacturerId, jurisdictionIds:jurisdictionIds, platformIds:platformIds }" :value="modifyJuridictionIds" />
			</div>
		</div>
	</div>
</template>
<script>
	import ALink from '@/components/utility/ALink.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import 'vue-good-table/dist/vue-good-table.min.css';
	import { isNull, isNotNull } from '@/common';
	import SearchComponents from '@/components/utility/SearchComponents.vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import LookupMultipleWithModal from '@/components/utility/LookupMultipleWithModal.vue';
	import TableDisplay from '@/components/tools/ocuit/forms/TableDisplay.vue';
	import OCUITCompare from '@/components/tools/ocuit/forms/OCUITCompare.vue';
	export default {
		components: {
			ALink,
			LookupMultiple,
			SearchComponents,
			LookupMultipleWithModal,
			TableDisplay,
			OCUITCompare,
		},
		props: {
			componentsType: {
				////compatibility, continuity or jurisdiction chip
				type: String,
				required: true,
			},
			ocuitID: {
				type: Number,
				required: false,
				default: 0
			},
			ocuitOriginalId: {
				type: Number,
				required: false,
				default: 0
			},
			LoadedOCUIT: {
				type: Object,
				required: false,
			}
		},
		data() {
			let columns = [
				{
					label: 'File Number',
					field: 'component.fileNumber',
				},
				{
					label: 'Id Number',
					field: 'component.idNumber',
				},
				{
					label: 'Description',
					field: 'description'
				},
				{
					label: 'Continuity?',
					field: 'continuity'
				},
				{
					label: 'Jurisdiction Chip?',
					field: 'jurisdictionChip'
				},
				{
					label: 'Tested In Parallel?',
					field: 'testedInParallel'
				},
				{
					field: 'actions',
				},
			];
			return {
				columns: columns,
				saveInProgress: false,
				associatedSoftwaresTemplateIds: [],
				associatedSoftwaresTemplate: "",
				showComponentSearch: false,
				modifyJurisdiction: false,
				modifyJuridictionIds: [],
				selectedJuridiction: "",
				validationError: false,
				selectedPlatformPieceId: 0,
			};
		},
		computed: {
			...letterGetters([
				'bundleId',
				'compatibilityComponents',
				'manufacturerId',
				'jurisdictionIds',
				'platformIds',
				'projectId',
				'platformPieceTemplates',
				'platformPieceGroups'
			]),
			...mapGetters([
				'letterPreviewJurisdictions',
			]),
		},
		mounted: function () {
		},
		methods: {
			componentsForPieces: function (pieceIds) {
				return this.compatibilityComponents.filter(cc => pieceIds.some(x => x == cc.platformPieceId));
			},
			buildTemplateFilter: function () {
				let ret = {
					manufacturersShortId: this.manufacturerId,
					jurisdictionIds: this.jurisdictionIds,
					platformIds: this.platformIds
				}
				return ret;
			},
			updateAssociatedSoftwaresTemplate: function (value) {
				this.associatedSoftwaresTemplate = value;
			},
			updateSelectedJuridiction: function (value) {
				this.selectedJuridiction = value;
			},
			LoadTemplates: function () {
				this.footNotesComponentId = 0;
				this.footNotesTemplateComponent = [];
				this.saveInProgress = true;
				this.$http.get("tools/OCUIT/LoadAssociatedSoftwaresTemplatesComponents", {
					params: {
						associatedSoftwaresTemplateIds: JSON.stringify(this.associatedSoftwaresTemplateIds)
					}
				})
					.then(response => {
						const result = response.data;
						this.saveInProgress = false;
						this.associatedSoftwaresTemplateIds = [];
						this.associatedSoftwaresTemplate = "";
						this.addPlatformPiecesTemplates(result.platformPiecesTemplates);
						this.addCompatibilityComponents({ templateImport: true, components: result.components });
					})
					.catch(e => {
						console.log("error");
						console.log(e);
					})
					.finally(x => {
					})
			},
			showAddComponentModal: function (platformPieceId) {
				this.selectedPlatformPieceId = platformPieceId;
				this.reSetShowSearch(true);
			},
			closeAddComponentModal: function () {
				this.showComponentSearch = false;
			},
			reSetShowSearch: function (val) {
				this.showComponentSearch = val;
			},
			addComponents: function (args) {
				args.forEach(comp => {
					comp.platformPieceId = this.selectedPlatformPieceId;
				});
				this.addCompatibilityComponents({ templateImport: false, components: args });
			},
			searchFn: function (row, col, cellValue, searchTerm) {
				if (col.label === "File Number") {
					return row.jurisdiction.search(searchTerm) >= 0 || parseInt(row.jurisdictionId) === parseInt(searchTerm);//|| row.status.search(searchTerm.toUpperCase()) >= 0;
				}
				return false;
			},
			onRowMouseover: function (linkedTemplates) {
				// params.row - row object
				// params.pageIndex - index of this row on the current page.
				var toolTipsText = "Component only for bundle: " + this.bundleName;
				if (linkedTemplates !== undefined) {
					toolTipsText = "Imported from template(s):\r\n"
					linkedTemplates.forEach(temp => {
						toolTipsText += "- " + temp.name + "\r\n";
					})
				}
				return toolTipsText;
			},
			validate: function () {
				let ret = true;
				for (let i = 0; i < this.$refs.TableDisplay.length; i++) {
					let validation = this.$refs.TableDisplay[i].validate();
					if (!validation) {
						this.validationError = true;
						ret = false;
					}
				}
				//let validation = this.$refs.TableDisplay.validate();
				//this.validationError = !validation;
				//return validation;
				return ret;
			},
			save: async function () {
				let componentsList = this.buildComponentList();
				let packet = {
					id: this.ocuitID,
					originalId: this.ocuitOriginalId,
					OCUITComponents: componentsList,
					ProjectId: this.projectId,
					Type: this.componentsType,
					Platforms: this.platformIds.map(id => ({ Id: parseInt(id) })),
				};
				let componentsStringify = JSON.stringify(packet);
				let validated = await this.saveValidate(componentsStringify);
				if (validated) {
					return this.$http.post('Tools/OCUIT/Save', {
						compatibilityComponents: componentsStringify
					})
						.then(response => {
						})
						.catch(e => {
							console.error(e);
						});
				}
			},
			saveValidate: function (componentsStringify) {
				let self = this;
				return new Promise(function (resolve) {
					let validated = false;
					self.$http.post('Tools/OCUIT/EditValidate', {
						compatibilityComponents: componentsStringify
					})
						.then(response => {

							if (!validated) {
								var msg = "";
								response.data.ErrorMsg.forEach(function (c) {
									msg += c + "<br>"
								});
								if (msg) {
									bootbox.confirm("Jurisdiction(s) are not approved in below components. Do you still want to save?" + "<br>" + msg, function (result) {
										if (result) {
											resolve(true);
										} else {
											resolve(false);
										}
									})
								}
								else {
									resolve(true);
								}

							}

						})
						.catch(e => {
							console.error(e);
							resolve(false);
						});
				})
			},
			buildComponentList: function () {
				return this.compatibilityComponents.map(comp => ({
					OrderId: comp.orderId,
					SubmissionId: comp.componentId,
					Description: comp.description,
					TestedInParallel: comp.testedInParallel,
					JurisdictionChip: comp.jurisdictionChip,
					PlatformPieceId: comp.platformPieceId,
					Continuity: comp.continuity,
					AssociatedSoftwareTemplates: comp.linkedTemplates.map(temp => ({ AssociatedSoftwareTemplateId: parseInt(temp.id) })),
					Jurisdictions: this.letterPreviewJurisdictions.filter(
						juri => comp.selectedJurisdictions.map(selectedJuri => selectedJuri.jurisdictionId).includes(juri.jurisdictionId)).map(juri => ({ jurisdictionId: juri.jurisdictionId }))
				}));
			},
			click_RemovePlatformPieceTemplate: function (template) {

				let pieceIds = template.platformPieces.map(pp => pp.id);
				let removeComps = this.compatibilityComponents.filter(cc => pieceIds.includes(cc.platformPieceId));
				let vm = this;
				if (removeComps.length > 0) {
					bootbox.confirm("This will remove the entire template and all associated components. Are you sure?", (result) => {
						if (result) {
							vm.removePlatformPieceTemplate(template.id, removeComps);

						}
					});
				}
				else {
					this.removePlatformPieceTemplate(template.id, removeComps);
				}

			},
			removePlatformPieceTemplate: function (templateId, comps) {
				comps.forEach(comp => {
					this.removeCompatibilityComponents(comp);
				});
				this.removePlatformPiecesTemplates(templateId);
			},
			...letterActions([
				'loadSavedOCUITComponents',
				'addCompatibilityComponents',
				'addPlatformPiecesTemplates',
				'removePlatformPiecesTemplates',
				'removeCompatibilityComponents',
				//'setContinuityComponents',
				//'setJurisdictionChipComponents',
			]),
		},
		created: function () {
			if (this.ocuitID !== 0) {
				this.loadSavedOCUITComponents(this.LoadedOCUIT.ocuitComponents);
			}
		},
	}

</script>
<style scoped>
	p.select-platform-warning {
		font-size: 10px;
		color: darkred;
		font-weight: bold;
	}

	a.remove-template {
		border-radius: 15px 15px 15px 15px;
	}

	.fa-spinner {
		color: #ACC2D9; /*'cloudy blue'*/
	}

	.fake-link {
		background: none;
		border: none;
		padding: 0;
		/*optional*/
		font-family: arial, sans-serif;
		/*input has OS specific font-family*/
		color: #069;
		text-decoration: underline;
		cursor: pointer;
	}
	/* Get text to line up with buttons */
	.vgt-table td div {
		line-height: 2em;
	}

	.customGroup-component {
		background-color: #ffeb9c;
		color: #9c5700;
	}

	.float-right {
		float: right
	}


	.card {
		background-color: white;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		transition: 0.5s;
		border-radius: 5px;
		height: 100%;
		margin: 8px;
		padding: 15px;
	}

		.card:hover {
			box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
		}

	.cardHeaderContainer {
		display: flex;
		justify-content: flex-end;
	}
</style>
