﻿<template>
	<tbody v-if="!(shortList && jurisdictions.length > columnCount)" v-on:click="changeDisplay()">

		<tr v-for="x in Math.ceil(jurisdictions.length / columnCount)" >
			<td v-for="juri in getJuridictionInRow(x)" :class="invalidJuriStyleClassFn(juri.jurisdictionId)" >
				{{juri.jurisdiction}} - {{juri.jurisdictionId}}
			</td>
		</tr>
	</tbody>
	<tbody v-else>

		<tr v-on:click="changeDisplay()" >
			<td :colspan="columnCount" :class="invalidJuriShortTextStyleClassFn()">
				{{shortListText}}
			</td>
		</tr>
	</tbody>
</template>
<script>
	import { isNull, isNotNull } from '@/common';

	export default {
		components: {
		},
		props: {
			jurisdictions: {
				type: Array,
				required: true
			},
			columnCount: {
				//Number of Cell per row.
				type: Number,
				required: true
			},
			invalidJurisdictions: {
				type: Array,
				required: false,
				defualt: [],
			},
		},
		data() {
			return {
				shortList: this.jurisdictions.length > 3,
				shortListText: "",
				rowsNeeded: 0,
			};
		},
		computed: {

		},
		mounted: function () {
		},
		methods: {
			changeDisplay: function () {
				this.shortList = !this.shortList;
				this.generateShortListText();
			},
			generateShortListText: function () {
				if (isNull(this.jurisdictions)) {
					return;
				}
				if (this.jurisdictions.length > 3) {
					this.shortListText = "";
					for (let i = 0; i < 3; i++) {
						this.shortListText += this.jurisdictions[i].jurisdiction + "-" + this.jurisdictions[i].jurisdictionId + ", ";
					}
					this.shortListText += "... and " + (this.jurisdictions.length - 3) + " jurisdictions(s) more, click to see full list";
				}
				else {
					this.shortListText = "";
					for (let i = 0; i < this.jurisdictions.length; i++) {
						this.shortListText += this.jurisdictions[i].jurisdiction + "-" + this.jurisdictions[i].jurisdictionId + ", ";
					}

				}
			},
			getJuridictionInRow: function (row) {
				let emptyCell = { jurisdiction: "", jurisdictionId:""};
				let rowContent = this.jurisdictions.slice((row - 1) * this.columnCount, ((row * this.columnCount)));
				if (rowContent.length !== this.columnCount) {
					rowContent = rowContent.concat(new Array(this.columnCount - rowContent.length).fill(emptyCell));
				}

				return rowContent;
			},
			invalidJuriStyleClassFn: function (id) {

				return isNotNull(this.invalidJurisdictions) && this.invalidJurisdictions.includes(id) ? "invalid-juridiction" : "";
			},
			invalidJuriShortTextStyleClassFn: function () {
				if (isNull(this.invalidJurisdictions) || this.invalidJurisdictions.length == 0) {
					return "";
				}
				let selectedIds = this.jurisdictions.filter(juri => this.invalidJurisdictions.includes(juri.jurisdictionId));
				return selectedIds.length!==0 ? "invalid-juridiction" : "";
			}
		},
		created: function () {
			this.generateShortListText();

		},
	}
</script>
<style scoped>
	/* Get text to line up with buttons */
	.vgt-table td div {
		line-height: 2em;
	}
	.invalid-juridiction {
		background-color: #ffc7ce;
		color: #ad0055;
	}

</style>
