﻿<template>
	<div class="row">
		<div class="col-xs-2">
			<label class="control-label">Compare OCUIT</label>
		</div>
		<div class="col-xs-4">
			<!--<Lookup id="bundle" name="bundle" lookupajax="SearchOCUITBundle" @updateLookupTextField="updateSelectedOCUITBundle" :lookuptextfield="selectedOCUITTextField" v-model="selectedOCUITId" :filter="{ManufacturersShortId:manufacturerId, Type:ocuitType, ExcludeProjectId:bundleId}" class="form-control" />-->

			<!--
				<input class="form-control vue-select " v-model="selectedBunlde" disabled/>

					 <LookupMultipleWithModal id="ModifyJuridiction" name="ModifyJuridiction" lookupajax="AssociatedSoftwaresTemplate" :textfield="selectedJuridiction" :filter="{manufacturersShortId:manufacturerId}" :value="modifyJuridictionIds" />
			-->
		</div>
		<a @click="loadSelectedOCUIT()" class="btn btn-primary btn-sm" :class="{ disabled: LoadInProgress || selectedOCUITTextField === '' }"> Compare</a>
		<Modal v-if="compareOCUITModal" @close="closeCompareOCUITModal" >
			<template v-slot:header>
				<h2>OCUIT Compare</h2>
			</template>
			<template v-slot:body>
				<OCUITCompareTable :rightOCUIT="selectedOCUIT" :comparedResult="comparedData" :leftOCUIT="convertToOCUIT()" />

			</template>
			<template v-slot:footer>
				<a @click="closeCompareOCUITModal" :class="['btn btn-primary btn-sm float-right', { disabled: modalSaveInProgress }]">Cancel</a>
			</template>
		</Modal>
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import LookupMultipleWithModal from '@/components/utility/LookupMultipleWithModal.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import OCUITCompareTable from '@/components/tools/ocuit/forms/OCUITCompareTable.vue';
	import Modal from '@/components/utility/Modal.vue';


	export default {
		components: {
			ALink,
			LookupMultipleWithModal,
			Lookup,
			OCUITCompareTable,
			Modal,
		},
		props: {
		},

		data() {

			return {
				compareOCUITModal: false,
				selectedOCUITTextField: "",
				selectedOCUITId: "",
				ocuitType: "compatibility",
				LoadInProgress: false,
				modalSaveInProgress: false,

				selectedOCUIT: {},
				comparedData: {},

			};
		},
		computed: {
			...letterGetters([
				'bundleName',
				'bundleId',
				'manufacturerId',
				'jurisdictionIds',
				'platformIds',
				'jurisdictionList',
				'compatibilityComponents',
				'projectId',
			]),
		},

		methods: {

			showCompareOCUITModal: function () {
				this.modalSaveInProgress = false;
				this.compareOCUITModal = true;
			},

			closeCompareOCUITModal: function () {
				this.compareOCUITModal = false;
				this.modalSaveInProgress = true;
			},
			updateSelectedOCUITBundle: function (value) {
				this.selectedOCUITTextField = value;
			},
			prepareCompareData: function (selectedOCUIT) {

				let leftComponentIds = this.compatibilityComponents.map(comp => comp.componentId);
				let rightComponentIds = selectedOCUIT.ocuitComponents.flatMap(comp => comp.componentId);

				let fullComponentIds = leftComponentIds.concat(rightComponentIds
					.filter(id => !leftComponentIds.includes(id)).flat())
					.sort();

				let compareResult = {};
				fullComponentIds.forEach(id => {
					let compareComponent = {
						component: false,
						isleftCompOrphan: false,
						juridiction: false,
						leftJuriOrphan: [],
						rightJuriOrphan: [],
					};
					compareComponent.component = leftComponentIds.includes(id) && rightComponentIds.includes(id);

					if (compareComponent.component) {
						let left = this.compatibilityComponents.find(comp => id === comp.componentId).selectedJurisdictions.map(juri => juri.jurisdictionId);
						let right = selectedOCUIT.ocuitComponents.find(comp => id === comp.componentId).selectedJurisdictions.map(juri => juri.jurisdictionId);

						let fullJuriIdList = left.concat(right.filter(id => !left.includes(id)).flat()).sort();

						compareComponent.leftJuriOrphan = fullJuriIdList.filter(id => !right.includes(id));
						compareComponent.rightJuriOrphan = fullJuriIdList.filter(id => !left.includes(id));

						compareComponent.juridiction = compareComponent.leftJuriOrphan.length === 0 && compareComponent.rightJuriOrphan.length === 0;
					} else {
						compareComponent.isleftCompOrphan = leftComponentIds.includes(id);
					}
					compareResult[id] = compareComponent;
				});
				return compareResult;

			},
			loadSelectedOCUIT: function () {
				this.footNotesComponentId = 0;
				this.footNotesTemplateComponent = [];
				this.LoadInProgress = true;
				this.$http.get("tools/OCUIT/LoadOCUITForCompare", {
					params: {
						projectId: parseInt(this.selectedOCUITId),
						type: JSON.stringify(this.ocuitType)
					}

				})
					.then(response => {
						const result = response.data;
						this.LoadInProgress = false;

						this.selectedOCUITId = "";

						this.selectedOCUIT = {
							projectName: result.project.projectName,
							platforms: result.platforms,
						};
						this.selectedOCUIT.ocuitComponents = result.ocuitComponents.map(
							comp => ({
								component: {
									fileNumber: comp.submission.fileNumber,
									//id: comp.component.bundleId,
									idNumber: comp.submission.idNumber,
								},
								componentId: comp.submissionId,
								linkedTemplates: comp.associatedSoftwareTemplates.map(
									temp => ({
										id: temp.associatedSoftwareTemplateId,
										name: temp.associatedSoftwareTemplate,
										//TODO: need a way to obtain template name.
									})),
								//TODO: After merge with LETAUT-568, need to double check if id of selectedJurisdictions is an int or not.
								selectedJurisdictions: comp.jurisdictions,

							})

						);

						this.comparedData = this.prepareCompareData(this.selectedOCUIT);
						this.showCompareOCUITModal();
					})
					.catch(e => {
					})
					.finally(x => {

					})
			},
			convertToOCUIT: function () {
				let ocuitCopy = {
					projectName: this.bundleName,
					ocuitComponents: this.compatibilityComponents.slice(),
				};

				return ocuitCopy;
			}
		}
	}
</script>
<style scoped>
	.float-right {
		float: right
	}

	.no-margin-bottom {
		margin-bottom: 0
	}

	.table {
		table-layout: fixed;
	}

	.vgt-table td div {
		line-height: 2em;
	}

	.customGroup-component {
		background-color: #ffeb9c;
		color: #9c5700;
	}
</style>