﻿<template>
	<div class="container-fluid">

		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				{{leftOCUIT.projectName}}
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				{{rightOCUIT.projectName}}
			</div>
		</div>
		<div v-for="(res, id, index) in comparedResult" class="row justify-content-center">


			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<TableDisplay :columns="columns" :rows="getComponetDetails('left',id)" :noHeader="index!==0" :comparedResult="getComparedReults('left',id)" />
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<TableDisplay :columns="columns" :rows="getComponetDetails('right',id)" :noHeader="index!==0" :comparedResult="getComparedReults('right',id)" />
			</div>

			<div class="w-100"></div>

		</div>
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import Modal from '@/components/utility/Modal.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import TableDisplay from '@/components/tools/ocuit/forms/TableDisplay.vue';


	export default {
		components: {
			ALink,
			Lookup,
			Modal,
			TableDisplay,
		},
		props: {
			leftOCUIT: {
				type: Object,
				required: true
			},
			rightOCUIT: {
				type: Object,
				required: true
			},
			comparedResult: {
				type: Object,
				required: true
			},
		},

		data() {
			let columns = [
				{
					label: 'File Number',
					field: 'component.fileNumber',
				},
				{
					label: 'Id Number',
					field: 'component.idNumber',
				},
				{
					field: 'empty',
				},

			];
			return {
				columns: columns,

				selectOCUITModal: false,
				selectedOCUITBundle: "",
				selectedOCUITBundleId: "",
				ocuitType: "compatibility",
				LoadInProgress: false,

				selectedOCUIT: {},

			};
		},
		computed: {
			...letterGetters([
				'compatibilityComponents',
			]),
		},

		methods: {
			closeModal: function () {
				this.showModal = false;
			},
			getComponetDetails: function (leftOrRight, id) {
				//Current compare table design, OCUIT is braekdown to only one component per table, to achive side-by-side compare where same component can align
				let ocuit = this[leftOrRight + 'OCUIT'];
				let comp = ocuit.ocuitComponents.find(comp => comp.componentId.toString() === id);

				if (comp !== undefined) {
					return [comp];
				}

				return [];
			},
			getComparedReults: function (leftOrRight, id) {
				let juriOrphan = {};
				juriOrphan[id] = this.comparedResult[id][leftOrRight + 'JuriOrphan'];
				return juriOrphan;
			},

			...letterActions([
				'addCompatibilityComponents',
				'removeCompatibilityComponents',
				'setComponentJurisdictions',
			]),
		}
	}
</script>
<style scoped= scoped>
	.float-right {
		float: right
	}

	.no-margin-bottom {
		margin-bottom: 0
	}

	.table {
		table-layout: fixed;
	}

	.vgt-table td div {
		line-height: 2em;
	}

	.customGroup-component {
		background-color: #ffeb9c;
		color: #9c5700;
	}
</style>