﻿<template>
	<div>
		<table v-if="!noHeader" class="table table-bordered no-margin-bottom">
			<thead>
				<tr>
					<th v-for="(column, index) in columns" :key="index"> {{column.label}}</th>
				</tr>
			</thead>
		</table>

		<table v-for="(row, index) in rows" :key="index" class="table table-striped table-bordered no-margin-bottom">
			<thead>
				<tr :class="headerRowStyleClassFn(row.linkedTemplates)">
					<th v-for="(column, indexColumn) in columns" :key="indexColumn" data-toggle="tooltip" :title="onRowMouseover(row.linkedTemplates)">
						<template v-if="column.field !== 'actions' && column.field !== 'description' && column.field !== 'testedInParallel' && column.field !== 'jurisdictionChip' && column.label !== 'Continuity?'">
							{{collect(row, column.field)}}
						</template>
						<template v-else-if="column.field === 'actions'">
							<a class="float-right">
								<a class="btn btn-xs btn-link" v-if="modifyJurisdiction && selectedComponent.componentId===row.componentId" @click="closeModifyJurisdictionModal()">Display Jurisdiction</a>
								<a class="btn btn-xs btn-link" v-else @click="showModifyJurisdictionModal(row, row.selectedJurisdictions)">Modify Jurisdiction</a>|
								<a class="btn btn-xs btn-link" v-if="modifyJurisdiction && selectedComponent.componentId===row.componentId" @click="discardChanges()">Discard Changes</a>
								<a class="btn btn-xs btn-link" v-else @click="deleteComponenet(row)">Delete</a>
							</a>
						</template>
						<template v-else-if="column.field === 'description'">
							<textarea style="width:120px" v-model="row.description" />
						</template>
						<template v-else-if="column.field === 'jurisdictionChip'">
							<input type="checkbox" v-model="row.jurisdictionChip" />
						</template>
						<template v-else-if="column.field === 'testedInParallel'">
							<input type="checkbox" v-model="row.testedInParallel" />
						</template>
						<template v-else>
							<input type="checkbox" v-model="row.continuity" />
						</template>
					</th>
				</tr>
			</thead>
			<tr v-if="row.componentId === selectedComponent.componentId && modifyJurisdiction">
				<td :colspan="columns.length">
					<SelectMultipleWithModal :options="bundleJurisdictionList"
											 @emitSelectedValues='selectedValues'
											 @change='juriChanged'
											 :value="selectedTempId" />
				</td>
			</tr>
			<JuridictionsDisplay v-else-if="row.selectedJurisdictions" :columnCount="columns.length" :jurisdictions="row.selectedJurisdictions" :invalidJurisdictions="getInvalidJurisdictions(row.componentId)" />
		</table>
	</div>
</template>

<script>
	import ocuitapi from '@/api/ocuit';
	import ALink from '@/components/utility/ALink.vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import SelectMultipleWithModal from '@/components/utility/SelectMultipleWithModal.vue';
	import JuridictionsDisplay from '@/components/tools/ocuit/forms/JuridictionsDisplay.vue';
	import { required } from 'vuelidate/lib/validators';
	const touchMap = new WeakMap();

	export default {
		components: {
			ALink,
			LookupMultiple,
			SelectMultipleWithModal,
			JuridictionsDisplay,
		},
		props: {
			columns: {
				type: Array,
				required: true
			},
			rows: {
				type: Array,
				required: true
			},
			noHeader: {
				type: Boolean,
				required: false,
				default: false,

			},
			comparedResult: {
				type: Object,
				required: false,
			}
		},

		data() {

			return {
				oldSelectedjuridictionIds: [],
				oldJuridictionIds: [],

				modifyJurisdiction: false,
				bundleJurisdictionList: [],
				selectedComponent: {},
				selectedTempId: [],
				tempId: [],

				invalidJurisdictions: {},
			};
		},
		computed: {
			...letterGetters([
				'bundleName',
				'bundleId',
				'manufacturerId',
				'jurisdictionIds',
				'platformIds',
			]),

			...mapGetters([
				'letterPreviewJurisdictions',
			]),
		},

		methods: {
			// field can be:
			// 1. function
			// 2. regular property - ex: 'prop'
			// 3. nested property path - ex: 'nested.prop'
			collect: function collect(obj, field) {
				// utility function to get nested property
				function dig(obj, selector) {
					var result = obj;
					var splitter = selector.split('.');

					for (var i = 0; i < splitter.length; i++) {
						if (typeof result === 'undefined' || result === null) {
							return undefined;
						}

						result = result[splitter[i]];
					}
					return result;
				}
				if (typeof field === 'function') return field(obj);
				if (typeof field === 'string') return dig(obj, field);
				return undefined;
			},
			discardChanges: function () {

				let jurisdictions = this.letterPreviewJurisdictions.filter(juri => this.oldSelectedjuridictionIds.includes(juri.jurisdictionId.toString()));
				let payload = { component: this.selectedComponent, jurisdictions: jurisdictions };

				this.setComponentJurisdictions(payload);

				this.selectedTempId = this.oldSelectedjuridictionIds.slice();
				this.tempId = this.oldJuridictionIds.slice();


			},
			showModifyJurisdictionModal: function (component, jurisdictions) {
				this.selectedComponent = component;
				this.tempId = [];
				this.selectedTempId = [];
				this.selectedTempId = jurisdictions.map(juri => juri.jurisdictionId.toString());
				jurisdictions.map(juri =>
					this.tempId.push({
						value: juri.jurisdictionId,
						text: juri.jurisdiction + "-" + juri.jurisdictionId,
						selected: true
					})
				);

				this.oldSelectedjuridictionIds = this.selectedTempId.slice(),
					this.oldJuridictionIds = this.tempId.slice(),

					this.modifyJurisdiction = true;
			},

			closeModifyJurisdictionModal: function () {
				this.selectedComponent = {};
				this.modifyJurisdiction = false;
			},
			deleteComponenet: function (component) {
				this.removeCompatibilityComponents(component);
			},
			getjuridictionIds: function (jurisdictions) {
				let idsWithName = jurisdictions.map((juri) => ({ value: juri.jurisdictionId.toString(), text: juri.jurisdiction + "-" + juri.jurisdictionId }));
				return idsWithName;
			},
			getTextfield: function (componentId) {
				if (this.selectedJuridiction[componentId] === undefined) {
					this.selectedJuridiction[componentId] = "";
				}
				return this.selectedJuridiction[componentId];
			},

			selectedValues: function (obj) {
				if (obj) {
					if (obj.ids) {
						this.selectedTempId = obj.ids;
					}
					if (obj.value) {
						this.tempId = obj.value;
					}

					let jurisdictions = this.letterPreviewJurisdictions.filter(juri => this.selectedTempId.includes(juri.jurisdictionId.toString()));
					let payload = { component: this.selectedComponent, jurisdictions: jurisdictions };
					this.setComponentJurisdictions(payload);

					let invalidIds = this.getInvalidJurisdictions(this.selectedComponent);
					if (invalidIds.length !== 0) {
						this.invalidJurisdictions[this.selectedComponent.componentId] = invalidIds.filter(id => this.selectedTempId.includes(id.toString()));
					}
				}

			},
			juriChanged: function (obj) {
			},
			onRowMouseover: function (linkedTemplates) {
				// params.row - row object
				// params.pageIndex - index of this row on the current page.

				var toolTipsText = "Component only for bundle: " + this.bundleName;
				if (linkedTemplates !== undefined || linkedTemplates.length === 0) {
					toolTipsText = "Imported from template(s):\r\n"
					linkedTemplates.forEach(temp => {
						toolTipsText += "- " + temp.name + "\r\n";
					})
				}
				return toolTipsText;
			},
			headerRowStyleClassFn: function (linkedTemplates) {
				return linkedTemplates.length === 0 ? "customGroup-component" : "";
			},
			validate: function () {

				return this.isApproved().then((invalidJurisdictions) => {

					this.invalidJurisdictions = invalidJurisdictions;

					let invalidCount = 0;
					for (const [key, value] of Object.entries(invalidJurisdictions)) {
						invalidCount += value.length;
					}
					return invalidCount === 0;


				});

			},
			isApproved: function () {
				let componentsList = this.buildComponentList();
				let componentsStringify = JSON.stringify(componentsList);


				return new Promise((resolve) => {
					ocuitapi.validateComponents(componentsStringify)
						.then(response => {
							const result = response.data;
							resolve(result);
						})
						.catch(e => {
						});
				})
					.then(invalidJurisdictions => {

						return invalidJurisdictions;
					});

			},
			buildComponentList: function () {
				return this.rows.map(comp => ({
					SubmissionId: comp.componentId,
					AssociatedSoftwareTemplates: comp.linkedTemplates.map(temp => ({ AssociatedSoftwareTemplateId: parseInt(temp.id) })),
					Jurisdictions: this.letterPreviewJurisdictions.filter(
						juri => comp.selectedJurisdictions.map(selectedJuri => selectedJuri.jurisdictionId).includes(juri.jurisdictionId)).map(juri => ({ jurisdictionId: juri.jurisdictionId }))
				}));
			},
			getInvalidJurisdictions: function (component) {
				let id = component.componentId;
				if (this.invalidJurisdictions[id] !== undefined) {
					return this.invalidJurisdictions[id];
				}
				return [];
			},
			...letterActions([
				'removeCompatibilityComponents',
				'setComponentJurisdictions',
			]),
		},
		created: function () {
			this.bundleJurisdictionList = this.getjuridictionIds(this.letterPreviewJurisdictions);

			if (this.comparedResult !== undefined) {
				this.invalidJurisdictions = this.comparedResult;
			}

		},

	}
</script>
<style scoped>
	.float-right {
		float: right
	}

	.no-margin-bottom {
		margin-bottom: 0
	}

	.table {
		table-layout: fixed;
	}

	.vgt-table td div {
		line-height: 2em;
	}

	.customGroup-component {
		background-color: #ffeb9c;
		color: #9c5700;
	}
</style>