﻿@model Submissions.Web.Areas.Protrack.Models.ProjectHistoryViewModel
@using Trirand.Web.Mvc
@section css{@Styles.Render("~/bundles/css/jqgrid")}
@{
    if (Request["NotFromClassic"] == null)
    {
        ViewBag.noNavBar = true;
    }
   
    ViewBag.Title = "View Project History";
}
<div class="container">
   
        <div class="row">
            <div class="col-sm-6">
                <h3 class="form-h3">
                    <small>
                        History for @Html.DisplayFor(model => model.ProjectName):
                    </small>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <select id="cboProject" class="form-control"><option value="All">----All Projects----</option></select>
             </div>
            <div class="col-sm-8 pull-left" >
                <button id="Reload" title="Reload grid data">View History</button>
            </div>
        </div>
 </div>
<br />

@Html.Trirand().JQGrid(Model.ProjectHistoryGrid.Grid, "ProjectHistoryGrid")
@section scripts{
    @Scripts.Render("~/bundles/script/jqgrid")
    <script>
        function getDropdowndata() {
            var html;
            var url = '@Url.Action("GetAllProjects", "ProjectHistory", new { projectId = @Model.ProjectId })'
            $.getJSON(url, null, function (data) {
                if (data.length > 0) {
                    for (x = 0; x < data.length; x++) {
                         html = html +  '<option value="' + data[x].value + '">' + data[x].name + '</option>';
                    }
                }
                $('#cboProject').append(html);
            });
        }
        $("#Reload").click(function () {
            var selectedProject = $('#cboProject').val();
            if (selectedProject == null || selectedProject == "@Model.ProjectName") { selectedProject = ""; }
          
            var url = '@Url.Action("GetProjectData", "ProjectHistory")?projectId=' + @Model.ProjectId + '&selectedForeign=' + selectedProject 

            $("#ProjectHistoryGrid").jqGrid("setGridParam", {
                url: url
            }).trigger("reloadGrid");
        });
        $(document).ready(function () {
            getDropdowndata();
        });
    </script>
}
