﻿@model Submissions.Web.Areas.Lookups.Models.UsersEditViewModel
@using Submissions.Common

@{
	ViewBag.Title = Model.Mode.ToString() + " User";
	var upload = Html.Kendo().Upload()
		.Name("ProfilePicturesUpload")
		.Multiple(false)
		.Files(files =>
		{
			foreach (var f in Model.ProfilePictures)
			{
				files.Add().Name(f.Name).Extension(f.Extension).Size(f.Size);
			}
		})
		.Validation(x => x.AllowedExtensions(new string[] { ".gif", ".jpg", ".png" }));

	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
	else
	{
		upload = upload.Async(x => x
			.Save("AddProfilePicture", "Users", new { UserId = Model.Id })
			.Remove("DeleteProfilePicture", "Users", new { UserId = Model.Id })
			.AutoUpload(true));
	}

	var hasAdminAccess = Util.HasAccess(Permission.Admin, AccessRight.Edit);
	var adminViewCss = "";
	if (!hasAdminAccess)
	{
		adminViewCss = "hidden";
	}
}

@section css{
	@Styles.Render("~/bundles/css/kendo")
	<style>
		input[type='checkbox'] {
			margin: 0;
		}

		#SyncActiveDirectoryUser {
			margin-right: 50px;
		}

		.k-file-name-size-wrapper {
			cursor: pointer;
		}

		#WorkDayScheduleTable {
			table-layout: fixed;
		}

			#WorkDayScheduleTable td, #WorkDayScheduleTable th {
				text-align: center;
				padding: 2px;
				width: 48px;
			}

				#WorkDayScheduleTable td:first-child, #WorkDayScheduleTable th:first-child {
					padding-left: 0px;
				}
	</style>
}

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.sAMAccountName)
	@Html.HiddenFor(m => m.LDAP_SID);
	@Html.HiddenFor(m => m.ADUserPath);

	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.Name) @Html.DisplayFor(m => m.Id)</small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if (hasAdminAccess)
			{
				<a href="@Url.Action("SyncActiveDirectoryUser")" class="btn btn-primary btn-sm" id="SyncActiveDirectoryUser" title="Clicking this button will pull user info directly from Active Directory."><i class="fas fa-sync"></i> Pull from Active Directory</a>
			}
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "Users", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="panel panel-default @adminViewCss">
		<div class="panel-heading">General</div>
		<div class="panel-body">
			<div class="form-horizontal">
				@if (Model.Mode == Mode.Add)
				{
					<div class="row">
						<div class="col-sm-12">
							<small class="text-info"><i>Enter the Username or First Name and Last Name and click the <b>Pull from Active Directory</b> button to load the default user info.</i></small><br /><br />
						</div>
					</div>
				}
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Username, new { @class = "control-label col-sm-4" })
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.Username, new { @class = "form-control", @autofocus = "autofocus" })
								@Html.ValidationMessageFor(m => m.Username)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.FName, new { @class = "control-label col-sm-4" })
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.FName, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.FName)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.LName, new { @class = "control-label col-sm-4" })
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.LName, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.LName)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Phone, new { @class = "control-label col-sm-4" })
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Phone)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.MobilePhone, new { @class = "control-label col-sm-4" })
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.MobilePhone, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.MobilePhone)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Email, new { @class = "control-label col-sm-4" })
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Email)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.CeridianEmployeeNum, new { @class = "control-label col-sm-4" })
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.CeridianEmployeeNum, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.CeridianEmployeeNum)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.PkInternalMetricsEmployeeId, new { @class = "control-label col-sm-4" })
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.PkInternalMetricsEmployeeId, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.PkInternalMetricsEmployeeId)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Status, new { @class = "control-label col-sm-4" })
							<div class="col-sm-6">
								<div class="checkbox">
									<label>@Html.CheckBoxFor(m => m.Status)</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.HomeOfficeId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-6">
								@Html.LookupFor(m => m.HomeOfficeId, m => m.HomeOffice, LookupAjax.Laboratories, true)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.LocationId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-6">
								@Html.LookupFor(m => m.LocationId, m => m.Location, LookupAjax.Laboratories, true)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.ManagerId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-6">
								@Html.LookupFor(m => m.ManagerId, m => m.Manager, LookupAjax.Users, false)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.DepartmentId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-6">
								@Html.LookupFor(m => m.DepartmentId, m => m.Department, LookupAjax.Departments, true)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.RoleId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-6">
								@Html.LookupFor(m => m.RoleId, m => m.Role, LookupAjax.Roles, true)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.TeamId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-6">
								@if (Util.HasAccess(Permission.UserFields, AccessRight.Edit))
								{
									@Html.LookupFor(m => m.TeamId, m => m.Team, LookupAjax.Teams, false)
								}
								else
								{
									@Html.DisplayFor(m => m.Team)
									@Html.HiddenFor(m => m.TeamId)
								}
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.SupplierFocusId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-6">
								@if (Util.HasAccess(Permission.UserFields, AccessRight.Edit))
								{
									@Html.LookupFor(m => m.SupplierFocusId, m => m.SupplierFocus, LookupAjax.SupplierFocus, false)
								}
								else
								{
									@Html.DisplayFor(m => m.SupplierFocus)
									@Html.HiddenFor(m => m.SupplierFocusId)
								}
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.BusinessOwnerId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-6">
								@if (Util.HasAccess(Permission.UserFields, AccessRight.Edit))
								{
									@Html.LookupFor(m => m.BusinessOwnerId, m => m.BusinessOwner, LookupAjax.BusinessOwners, false)
								}
								else
								{
									@Html.DisplayFor(m => m.BusinessOwner)
									@Html.HiddenFor(m => m.BusinessOwnerId)
								}
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.WorkdayHours, new { @class = "control-label col-sm-3" })
							<div class="col-sm-2">
								@Html.EditorFor(m => m.WorkdayHours, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(m => m.WorkdayHours)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.WorkdaySchedule, new { @class = "control-label col-sm-3" })
							<div class="col-sm-9">
								<table id="WorkDayScheduleTable">
									<tr>
										@for (var i = 0; i < 7; i++)
										{
											<th>@Model.WorkdaySchedule[i].DayOfWeek.ToString().Substring(0, 3)</th>
										}
									</tr>
									<tr>
										@for (var i = 0; i < 7; i++)
										{
											<td>
												@Html.HiddenFor(m => m.WorkdaySchedule[i].Id)
												@Html.HiddenFor(m => m.WorkdaySchedule[i].DayOfWeek)
												@Html.EditorFor(m => m.WorkdaySchedule[i].Hours, new { htmlAttributes = new { @class = "form-control" } })
											</td>
										}
									</tr>
								</table>
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.IsLiaison, new { @class = "control-label col-sm-3" })
							<div class="col-sm-5">
								<div class="checkbox">
									<label>@Html.CheckBoxFor(m => m.IsLiaison)</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default @adminViewCss">
		<div class="panel-heading">Active Directory Information</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<dt>@Html.LabelFor(m => m.ADUserPath)</dt>
				<dd id="ADUserPathDisplay">@Html.DisplayFor(m => m.ADUserPath)</dd>
				<dt>@Html.LabelFor(m => m.LDAP_SID)</dt>
				<dd id="LDAP_SIDDisplay">@Html.DisplayFor(m => m.LDAP_SID)</dd>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			Permissions
			<div class="dropdown pull-right">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">Actions <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#" class="toggle-check" data-checkall="true">Check All</a></li>
					<li><a href="#" class="toggle-check" data-checkall="false">Check None</a></li>
					<li><a href="#" id="ResetRolePermissions">Reset to the default Role permissions</a></li>
					@if (Model.Mode == Mode.Edit)
					{
						<li><a href="#" id="FillRolePermissions">Fill in missing default Role permissions</a></li>
					}
				</ul>
			</div>
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="form-group form-group-sm">
					<table class="table table-condensed table-striped table-hover">
						<tr>
							<th>Permission</th>
							<th>Read</th>
							<th>Add</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
						@for (var i = 0; i < Model.AccessRights.Count; i++)
						{
							@Html.HiddenFor(m => Model.AccessRights[i].PermissionId)
							<tr>
								<td>@Html.DisplayFor(m => Model.AccessRights[i].Description)</td>
								<td>@Html.CheckBoxFor(m => Model.AccessRights[i].Read, new { @class = Model.AccessRights[i].Code + "_Read", title = "Read" })</td>
								<td>@Html.CheckBoxFor(m => Model.AccessRights[i].Add, new { @class = Model.AccessRights[i].Code + "_Add", title = "Add" })</td>
								<td>@Html.CheckBoxFor(m => Model.AccessRights[i].Edit, new { @class = Model.AccessRights[i].Code + "_Edit", title = "Edit" })</td>
								<td>@Html.CheckBoxFor(m => Model.AccessRights[i].Delete, new { @class = Model.AccessRights[i].Code + "_Delete", title = "Delete" })</td>
							</tr>
						}
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default @adminViewCss">
		<div class="panel-heading">Profile Picture</div>
		<div class="panel-body">
			<div class="col-sm-6">
				@(upload)
				<div><small>You can only upload <strong>GIF</strong>, <strong>JPG</strong>, <strong>PNG</strong> files.</small></div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			Old Permissions
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				@Html.HiddenFor(m => Model.OldPermissions.Id)
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.CreateSubmission, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.CreateSubmission, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.EditSubmission, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.EditSubmission, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.DeleteSubmission, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.DeleteSubmission, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.CreateJurisdiction, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.CreateJurisdiction, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.EditJurisdiction, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.EditJurisdiction, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.DeleteJurisdiction, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.DeleteJurisdiction, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.QAElecTransf, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.QAElecTransf, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.CanSetSubStatusAP, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.CanSetSubStatusAP, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.CanSetSubStatusOH, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.CanSetSubStatusOH, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.CannotChangeAPNL, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.CannotChangeAPNL, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.DEUpdaterRole, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.DEUpdaterRole, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.DEScannerRole, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.DEScannerRole, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.CanSetStatusCP, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.CanSetStatusCP, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.CanCreateDraftLetters, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.CanCreateDraftLetters, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.CanProcessCos, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.CanProcessCos, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.CanRunDetailBillReport, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.CanRunDetailBillReport, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.DeleteFileNumber, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.DeleteFileNumber, new { @class = "control-label" })
					</div>
				</div>
				<div class="form-group form-group-sm">
					<div class="col-sm-12">
						@Html.CheckBoxFor(m => Model.OldPermissions.CanUnlockCOSForm, new { @class = "padcheckbox" })
						@Html.LabelFor(m => Model.OldPermissions.CanUnlockCOSForm, new { @class = "control-label" })
					</div>
				</div>
			</div>
		</div>
	</div>
}
@section scripts{
	@Scripts.Render("~/bundles/script/kendo")
	<script>
		$(function () {
			$('#SyncActiveDirectoryUser').on('click', function (e) {
				e.preventDefault();

				var username = $('#Username').val();
				var email = $('#Email').val();
				var fName = $('#FName').val();
				var lName = $('#LName').val();
				var ldap_sid = $('#LDAP_SID').val();

				if (Em(username) && Em(fName + lName)) {
					bootbox.alert("Username or First Name and Last Name must be entered below before using this feature");
					return;
				}

				var url = $(this).attr('href');
				var data = {
					username: username,
					fName: fName,
					lName: lName,
					ldap_sid: ldap_sid,
					email: email
				};

				$.post(url, data, function (data) {
					if (Em(data.Username)) {
						bootbox.alert('Active Directory user could not be found.');
						return;
					}

					$('#Username').val(data.Username);
					$('#FName').val(data.FName);
					$('#LName').val(data.LName);
					$('#Phone').val(data.Phone);
					$('#Email').val(data.Email);
					$('#sAMAccountName').val(data.sAMAccountName);
					$('#ADUserPathDisplay').text(data.ADUserPath);
					$('#ADUserPath').val(data.ADUserPath);
					$('#LDAP_SIDDisplay').text(data.LDAP_SID);
					$('#LDAP_SID').val(data.LDAP_SID);
					$('#MobilePhone').val(data.MobilePhone);

					if (data.HomeOfficeId) {
						var option = $('<option selected></option>').val(data.HomeOfficeId).text(data.HomeOffice);
						$('#HomeOfficeId').append(option).trigger('change');
						$('#HomeOffice').val(data.HomeOffice);

						if (Em($('#LocationId').select2('val'))) {
							var option = $('<option selected></option>').val(data.HomeOfficeId).text(data.HomeOffice);
							$('#LocationId').append(option).trigger('change');
							$('#Location').val(data.HomeOffice);
						}
					}

					if (data.ManagerId) {
						var option = $('<option selected></option>').val(data.ManagerId).text(data.Manager);
						$('#ManagerId').append(option).trigger('change');
						$('#Manager').val(data.Manager);
					}
				});
			});

			$('#RoleId').on('change', function () {
				if ($('#Mode').val() === "Add") {
					SetPermissions();
				}
			});

			$('.toggle-check').on('click', function (e) {
				e.preventDefault();
				var checkAll = $(this).data('checkall');
				$('input[id$="_Read"], input[id$="_Add"], input[id$="_Edit"], input[id$="_Delete"]').prop('checked', checkAll);
			})

			$('#FillRolePermissions').on('click', function (e) {
				e.preventDefault();
				FillPermissions();
			})

			$('#ResetRolePermissions').on('click', function (e) {
				e.preventDefault();
				SetPermissions();
			})

			$('.k-file-name-size-wrapper').on('click', function () {
				var fileName = $(this).children('.k-file-name').first().text();
				var path = '@PathUtil.UserProfilePictureUrl()' + '/' + fileName;
				window.open(path);
			});

		});

		function SetPermissions() {
			var roleId = $('#RoleId').select2('val');
			var url = '@Url.Action("LoadDefaultRolePermissions")';
			$.post(url, { RoleId: roleId }, function (data) {
				for (var i = 0; i < data.length; i++) {
					$('.' + data[i].Code + '_Read').prop('checked', data[i].Read);
					$('.' + data[i].Code + '_Add').prop('checked', data[i].Add);
					$('.' + data[i].Code + '_Edit').prop('checked', data[i].Edit);
					$('.' + data[i].Code + '_Delete').prop('checked', data[i].Delete);
				}
			});
		}

		function FillPermissions() {
			var roleId = $('#RoleId').select2('val');
			var url = '@Url.Action("LoadDefaultRolePermissions")';
			$.post(url, { RoleId: roleId }, function (data) {
				for (var i = 0; i < data.length; i++) {
					var read = $('.' + data[i].Code + '_Read');
					var add = $('.' + data[i].Code + '_Add');
					var edit = $('.' + data[i].Code + '_Edit');
					var del = $('.' + data[i].Code + '_Delete');

					if (!read.prop('checked')) { read.prop('checked', data[i].Read); }
					if (!add.prop('checked')) { add.prop('checked', data[i].Add); }
					if (!edit.prop('checked')) { edit.prop('checked', data[i].Edit); }
					if (!del.prop('checked')) { del.prop('checked', data[i].Delete); }
				}
			});
		}
	</script>
}