﻿@model Submissions.Web.Areas.Lookups.Models.UsersIndexViewModel


@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}

@{
	ViewBag.Title = "Users";
}

<div class="row row-title">
	<div class="col-sm-6 ">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@if (Util.HasAccess(Permission.Admin, AccessRight.Add))
		{
			@Html.ActionLink("Add", "Edit", null, new { mode = Mode.Add }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		}
		@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

@Html.HiddenFor(m => m.Filters.ManagerId)
@using (Html.BeginForm("Index", "Users", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.UserGrid.Grid, Model.UserGrid.Grid.ID)
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		$(function () {
			$('#UserGrid').jqGrid('setGridParam', {
				rowattr: function (rowData, currentObj, rowId) {
					if (currentObj[$(this).getColumnIndexByName("Status")] === 'I') {
						return { 'class': 'text-red' }
					}
				}
			});
		});

		function editLink(cellValue, options, rowObject) {
			var link = '<a href="' + '@Url.Action("Edit", "Users")' + '/' + options.rowId + '?mode=Edit">Edit</a>';
			@if (Util.HasAccess(Permission.Admin, AccessRight.Delete))
			{
				<text>link += ' <span class="text-normal">|</span> <a href="' + '@Url.Action("CheckDelete", "Users")' + '/' + options.rowId + '" class="CheckDelete" id="' + options.rowId + '">Delete</a>';</text>
			}
			return link;
		}

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function getFilters() {
			var filters = {};
			filters.ManagerId = $('#Filters_ManagerId').val();
			return filters;
		}
	</script>
}