﻿@model Submissions.Web.Areas.Tools.Models.ProtocolDeficienciesIndexViewModel

@{
	ViewBag.Title = "Protocol Deficiencies Manager";
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
