﻿@model Submissions.Web.Areas.Protrack.Models.Project.ProjectNoteVM
@{
	Layout = null;
}
@{
	ViewBag.NoNavBar = true;
	ViewBag.NoFooter = true;
}
<style>
</style>
@{
	ViewBag.Title = "Add Project Note";
}
@using (Html.BeginForm("Save", "ProjectNote", FormMethod.Post, new { noteVM = Model, Id = "NoteForm" }))
{
	@Html.HiddenFor(m => m.ProjectIds);
	@Html.HiddenFor(m => m.NoteId)
	@Html.HiddenFor(m => m.RefreshNotes)
	<div class="modal-header">
		<div class="row">
			<div class="col-sm-12 form-buttons text-right">
				<button type="button" id="Save" accesskey="N" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save (Alt+N)</button>
				<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Project Note Information</h3>
					</div>
					<label id="Error" class="text-danger"></label>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group">
								@Html.LabelFor(model => model.IsViewableByCustomer, new { @class = "control-label col-sm-3" })
								<div class="col-sm-9">
									@Html.CheckBoxFor(model => model.IsViewableByCustomer) (Check to make this note accessible to Customers)
									<br />
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.Note, new { @class = "control-label col-sm-3" })
								<div class="col-sm-9">
									@Html.TextAreaFor(model => model.Note, 3, 120, new { @class = "form-control", @placeholder = "", @style = "width:350px" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.Dept, new { @class = "control-label col-sm-3" })
								<div class="col-sm-9">
									@Html.DropDownListFor(model => model.Dept, LookupsStandard.ConvertEnum<Department>(showBlank: true, enumValues: new Department[] { Department.ENG, Department.QA, Department.CP, Department.MTH }), new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								@Html.Label("Notify:", new { @class = "control-label col-sm-3" })
								<div class="col-sm-9">
									<div class="row">
										<div class="col-sm-7">
											@Html.CheckBoxFor(model => model.NotifySupervisor) Supervisor
											<br />
											@Html.CheckBoxFor(model => model.NotifyProjectLead) Project Lead
											<br />
											@Html.CheckBoxFor(model => model.NotifyDevRep) Development Representative
											<br />
											@Html.CheckBoxFor(model => model.NotifyAll) All on this Project
										</div>
										<div class="col-sm-5">
											@Html.CheckBoxFor(model => model.NotifyEngUsers) Engineers
											<br />
											@Html.CheckBoxFor(model => model.NotifyMathUsers) Math
											<br />
											@Html.CheckBoxFor(model => model.NotifyQAUsers) QA Users
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<script>
	$(function () {
		$('#Save').click(function () {

			if (Em($("#Note").val())) {
				$('#Error').text("Please enter note.");
			}
			else if (Em($("#Dept").val())) {
				$('#Error').text("Please select department.");
			}
			else {
				$('#NoteForm').submit();
			}
		});

		$('#NoteForm').submit(function () {
			$('#Save').prop("disabled", true);
			$.ajax({
				url: this.action,
				type: this.method,
				data: $(this).serialize(),
				success: function (result) {
					$('#myModal').modal('toggle');
					if ($('#RefreshNotes').val() == "True") {
						refreshNotes();
					}
				}
			});
			return false;
		});
	});
</script>
