﻿@model Submissions.Web.Areas.Lookups.Models.AppFeesIndexViewModel
@{
	ViewBag.Title = "App Fees";
}
<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		var deleteUrl = '@Url.Action("Delete", "AppFees")';
		var editUrl = '@Url.Action("Edit", "AppFees")';
	</script>
	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}


