﻿@model IEnumerable<Submissions.Web.Areas.Protrack.Models.Project.BundlesSearch>
@{
    ViewBag.NoNavBar = true;
    ViewBag.NoFooter = true;
}
<style>
    
</style>
@{
    ViewBag.Title = "Select Project";
}
<div class="modal-header">
    <div class="row">
        <div class="col-sm-12 form-buttons text-right">
            <button type="button" id="Select" class="btn btn-primary btn-sm">&nbsp;Select</button>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="col-sm-12">
       
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Select Existing Transfers</h3>
                    </div>
                    <label id="Error" class="text-danger"></label>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Bundle Name</th>
                                        <th>Status</th>
                                        <th>Holder</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><input type="radio" value="@item.Id" data-name="@item.Name" name="SelBundle" id="selBundle" /></td>
                                            <td>@item.Name</td>
                                            <td>@Enum.Parse(typeof(ProjectStatus), item.Status).GetEnumDescription()</td>
                                            <td>@item.Holder</td>
                                            <td>
                                             @if (item.TypeId ==  (byte) BundleType.ClosedTesting)
                                             {
                                                @: @BundleType.ClosedTesting.GetEnumDescription()
                                             }
                                             else
                                             {
                                                @: @BundleType.OriginalTesting.GetEnumDescription()
                                             }  
                                                  
                                           </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                    </div>
             
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {
        $('#Select').click(function () {
            var name = $("input[type='radio'][name='SelBundle']:checked").data('name')
            var id = $("input[type='radio'][name='SelBundle']:checked").val()
            SetExistingProject(id,name)
        });

    })
</script>
