﻿@model Submissions.Web.Areas.Protrack.Models.Project.CreateNewBundleVM
@{
	ViewBag.Title = "Create New Bundles";

}
@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.modal.modal-wide .modal-dialog {
			width: 60%;
			height: auto;
		}
	</style>
}
<div class="row">
	<div class="col-sm-6">
		<h3 class="form-h3">@ViewBag.Title <small>QA</small></h3>
	</div>
</div>

@Html.HiddenFor(x => x.AddToExistingProjectId)
@Html.Hidden("AddToExistingProjectType")
<div class="row col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" href="#collapse1"><h3 class="panel-title">Jurisdictions Search</h3></a>
		</div>
		<div id="collapse1" class="panel-body">
			<div class="form-horizontal">
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Filters.LocationId, new { @class = "control-label col-sm-4" })
							<div class="col-sm-8">
								@Html.LookupFor(m => m.Filters.LocationId, m => m.Filters.Location, LookupAjax.Laboratories, false)
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Filters.ManufacturerShort, new { @class = "control-label col-sm-3" })
							<div class="col-sm-9">
								@Html.LookupFor(m => m.Filters.ManufacturerShort, m => m.Filters.Manufacturer, LookupAjax.Manufacturers, false)
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Filters.Jurisdiction, new { @class = "control-label col-sm-3" })
							<div class="col-sm-9">
								@Html.LookupFor(m => m.Filters.Jurisdiction, m => m.Filters.JurisdictionDesc, LookupAjax.Jurisdictions, false)
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Filters.FileNumber, new { @class = "control-label col-sm-4" })
							<div class="col-sm-8">
								@Html.LookupFor(m => m.Filters.FileNumber, m => m.Filters.FileNumber, LookupAjax.FileNumber, true)
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group form-group-sm">
							@Html.Label("BundleType", new { @class = "control-label col-sm-3" })
							<div class="col-sm-9">
								@Html.DropDownListFor(m => m.Filters.ProjectTestingType, Model.BundleTypeOptions, new { @class = "form-control col-sm-3" })
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group form-group-sm ActualTransferOption  col-sm-pull-2">
							@Html.Label("Available Transfers", new { @class = "control-label col-sm-5 pull-left" })
							@Html.CheckBoxFor(m => m.Filters.IsTransfer)
						</div>
						<div class="form-group form-group-sm Projects" style="display:none">
							@Html.LabelFor(m => m.Filters.ProjectIds, new { @class = "control-label col-sm-3" })
							<div class="col-sm-9">
								@Html.LookupMultipleFor(m => m.Filters.ProjectIds, Model.Filters.Projects, LookupAjax.ProjectName, false)
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-right">
						<button type="button" class="btn btn-primary" id="Search"><i class="fas fa-filter"></i>&nbsp;Filter</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-right">
		@Html.Label("Add To Existing Transfer Bundle:", new { @class = "control-label" }) @Html.TextBoxFor(m => m.AddToExistingProject, new { style = "font-size:12px;width:200px" }) &nbsp;
		<a class="btn-sm btn-primary" href="#" onclick="DoAction('Add')">Add&nbsp;</a>&nbsp;&nbsp;&nbsp;
		<a class="btn-sm btn-primary" href="#" onclick="DoAction('Create')">Create New Bundle&nbsp;</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.JurisdictionGrid.Grid, Model.JurisdictionGrid.Grid.ID)
	</div>
</div>

<!-- Modal -->
<!--Modal Info-->
<div class="modal modal-wide fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div id='ModalContainer'>
						loading....
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
	var grid = $('#' + '@Model.JurisdictionGrid.Grid.ID')
	var initalLoad = true;
	$(function () {
		grid.jqGrid("setGridParam", {
			gridComplete: function () {
				Customization();
			},
			beforeSelectRow: function (rowid, e) {
				if (!e) e = window.event;
				var element = e.target || e.srcElement
				if (element.className.indexOf('fas fa-search') > -1) //fix for selecting unchecks/checks checbox
				{
					return false;
				}
				else {
					return true;
				}
			}
		});

		$('#Filters_ProjectTestingType').on("change", function () {
			if ($('#Filters_ProjectTestingType').val() == "@BundleType.ClosedTesting") {
				$('#Filters_IsTransfer').prop('checked', false);
				$('.ActualTransferOption').hide();
				$('.Projects').show();
			}
			else {
				$('.ActualTransferOption').show();
				$('.Projects').hide();
				$('#Filters_ProjectIds').empty();
			}
		})

		$('#Search').click(function () {
			if ($('#BundleType').val() == "") {
				bootbox.alert("You must select Type of Bundle.")
			}
			else {
				//check if atleast one search criteria selected
				if (!$('#Filters_IsTransfer').prop('checked')) {
					if (Em($('#Filters_FileNumber').val()) && Em($('#Filters_ManufacturerShort').val()) && Em($('#Filters_Jurisdiction').val()) && Em($('#Filters_ProjectIds').val()) && Em($('#Filters_LocationId').val())) {
						bootbox.alert("You must select one search criteria.")
					} else {
						initalLoad = false;
						ReloadGrid()
					}
				}
				else {
					initalLoad = false;
					ReloadGrid()
				}
			}
		});
	})

	function DoAction(sAction) {
		var url = '';
		var selRow = $(grid).jqGrid('getGridParam', 'selarrrow');
		if (selRow == "") {
			bootbox.alert("You must select Jurisdiction(s).")
		}
		else {
			var isOK = true;
			if (!Em($('#AddToExistingProject').val())) {
				if (!IsValidExistingProject()) {
					isOK = false;
				}
			}
			if (isOK) {
				var fileList = ''
				var fileNumberColIndex = $(grid).getColumnIndexByName("FileNumber")
				var jurColIndex = $(grid).getColumnIndexByName("Jurisdiction")
				for (var i = 0; i < selRow.length; i++) {
					var filenumber = $("#" + selRow[i]).find('td').eq(fileNumberColIndex + 1).text();
					if (filenumber.indexOf('<a') > -1) {
						filenumber = $(filenumber).text()
					}
					var jur = $("#" + selRow[i]).find('td').eq(jurColIndex + 1).text();
					fileList += filenumber + " - " + jur + '<br>'
				}

				var sMessage = '<p>This action will affect the ' + selRow.length + ' selected jurisdictions. Do you want to continue?</p>';
				sMessage += "Selected Jurisdiction(s):<br>"
				sMessage += '<div style="height:250px;overflow-y: scroll;">'
				sMessage += fileList
				sMessage += '</div>'

				bootbox.confirm(sMessage, function (result) {
					if (result) {
						if (($('#Filters_ProjectTestingType').val() == null) || ($('#Filters_ProjectTestingType').val() == "")) {
							bootbox.alert("You must select a Bundle Type.")
							return (false);
						}

						if (sAction == "Add") {
							//Check if valid project based on BundleType.
							if (!Em($('#AddToExistingProject').val())) {
								url = '@Url.Action("CreateNewBundle", "CreateNewBundle")?&existingProjectId=' + $('#AddToExistingProjectId').val() + "&bundleType=" + $('#Filters_ProjectTestingType').val()
							} else {
								bootbox.alert("Please enter/select existing bundle.")
							}
						}
						else if (sAction == "Create") {
							//Create Project
							url = '@Url.Action("CreateNewBundle", "CreateNewBundle")?bundleType=' + $('#Filters_ProjectTestingType').val()
						}

						if (url != "") {
							if (CanBeAddedToBundleType(selRow)) {
								var obj = {};
								obj.primaries = selRow
								$.post({
									url: url,
									data: obj,
									dataType: 'json',
								}).done(function (data) {

									if (sAction == "Add" && window.opener.document.title.indexOf("Bundle Detail") > -1) {//close parent window which is bundle detail and we will be redirecting
										  window.opener.open('', '_self', ''); window.opener.close();
									}
									var selectedType = $("#Filters_ProjectTestingType option:selected").text() // this is so branded report can automatically skip engineering when redirected as per requested in meeting
									var url = '@Url.Action("Index", "ManageBundle")?projectId=' + data.ProjectId + '&From=Bundle&BundleType=' + selectedType.substr(0, selectedType.indexOf('(')-1);                       
									window.location.href = url
								})
							   .fail(function (xhr, textStatus, errorThrown) {
									alert("error")
									console.info(xhr.responseText);
								});
								ReloadGrid();
							}
						}
					}
				})
			}
		}
	}

	function CanBeAddedToBundleType(primaries) {
		var url = '@Url.Action("CanBeAddedToBundleType", "CreateNewBundle")?bundleType=' + $('#Filters_ProjectTestingType').val();
		var result = true;
		var obj = {};
		obj.primaries = primaries;
		$.post({
			dataType: "json",
			data: obj,
			url: url,
			async: false,
			success: function (data) {
				if (data = "OK") {
					result = true
				}
				else {
					result = false
					bootbox.alert("Selected Jurisdiction(s) can not be added to selected bundle Type.")
				}
			}
		});
		return result;
	}

	function IsValidExistingProject() {
		var url = '@Url.Action("CheckAddToExistingProject", "CreateNewBundle")?projectName=' + $('#AddToExistingProject').val()
		var result = false
		$.ajax({
			dataType: "json",
			url: url,
			async: false,
			success: function (data) {
				if (data.ProjectId > 0) {
					if ((data.BundleTypeId == "@((int) @BundleType.OriginalTesting)" && $('#Filters_ProjectTestingType').val() == "@BundleType.OriginalTesting")
						|| (data.BundleTypeId == "@((int) @BundleType.ClosedTesting)" && $('#Filters_ProjectTestingType').val() == "@BundleType.ClosedTesting")) {
						$('#AddToExistingProjectId').val(data.ProjectId)
						$('#AddToExistingProjectType').val(data.BundleTypeId)
						result = true
					}
					else {
						result = false
						bootbox.alert("Selected Jurisdictions can not be added to selected Bundle.")
					}
				}
				else {
					result = false
					bootbox.alert("Transfer Bundle is not valid.")
				}
			}
		});

		return result;
	}

	function Customization() {
		var ids = $(grid).jqGrid("getDataIDs");
		for (var i = 0; i < ids.length; i++) {
			var rowId = ids[i];
			var rowData = $(grid).jqGrid('getRowData', rowId);

			if (rowData.IsTransfer == "True") {
				$(grid).jqGrid('setCell', rowId, "Jurisdiction", "", { 'background': 'yellow' });
			}
		}
	}

	function SetExistingProject(id, name)
	{
		$('#AddToExistingProjectId').val(id)
		$('#AddToExistingProject').val(name)
		$('#myModal').modal('hide');
	}

	function ReloadGrid() {
		grid.trigger('reloadGrid', [{ page: 1 }]);
	}

	function openDetail(id) {
		window.open('@Url.Action("Detail", "Project")' + '/' + id)
	}

	function openSearch(fileNumber)
	{
		var url = '@Url.Action("SearchBundles", "CreateNewBundle")?fileNumber=' + fileNumber
		$.get(url, function (data) {
			$('#ModalContainer').html(data);
			$('#myModal').modal('show');
		});
	}

	function detailLink(cellValue, options, rowObject) {
		var append = ""

		if (rowObject[$(this).getColumnIndexByName("BundleExistsForFile")] == "True") {
			 append = "&nbsp;<A href='javascript:openSearch(\"" + rowObject[$(this).getColumnIndexByName("FileNumber")] + "\")'><i class='fas fa-search' aria-hidden='true'></i></A>"
		}
	
		return formatFileNumberLink("",cellValue) + append;
	}

	function createTransferGridBeforeAjaxRequest() {
		if (initalLoad == true)
		{
			return false;
		}
		else
		{
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
		}
	};

	function getFilters() {
		var filters = {};
		filters.FileNumber = $('#Filters_FileNumber').val();
		filters.ManufacturerShort = $('#Filters_ManufacturerShort').val();
		filters.Jurisdiction = $('#Filters_Jurisdiction').val();
		filters.LocationId = $('#Filters_LocationId').val();
		filters.IsTransfer = ($('#Filters_IsTransfer').prop('checked')) ? "True" : "False"
		filters.ProjectTestingType = $('#Filters_ProjectTestingType').val();
		filters.ProjectIds = $('#Filters_ProjectIds').val();
		return filters;
	}
	</script>
}