﻿@model Submissions.Web.Models.Query.JurisdictionalDataSearch

<div class="form-horizontal">
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.Active, new { @class = "control-label col-sm-6" })
				<div class="col-sm-3">
					@Html.DropDownListFor(model => model.Active, LookupsStandard.YesNo, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ConditionalRevoke, new { @class = "control-label col-sm-6" })
				<div class="col-sm-3">
					@Html.DropDownListFor(model => model.ConditionalRevoke, LookupsStandard.YesNo, new { @class = "form-control" })
				</div>
			</div>

			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.TestingPerformed, new { @class = "control-label col-sm-6" })
				<div class="col-sm-6">
					@Html.DropDownListFor(model => model.TestingPerformed, LookupsStandard.ConvertEnum<TestingPerformed>(showBlank: true), new { @class = "form-control" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.CompanyId, new { @class = "control-label col-sm-6" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.CompanyId, model => model.Company, LookupAjax.Companies, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ContractTypeId, new { @class = "control-label col-sm-6" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.ContractTypeId, model => model.ContractType, LookupAjax.ContractTypes, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.CurrencyId, new { @class = "control-label col-sm-6" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.CurrencyId, model => model.Currency, LookupAjax.Currencies, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.RegulatorReferenceNumber, new { @class = "control-label col-sm-6" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.RegulatorReferenceNumber, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ClientNumber, new { @class = "control-label col-sm-6" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.ClientNumber, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.LetterNumber, new { @class = "control-label col-sm-6" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.LetterNumber, new { @class = "form-control" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.SubmitDate, new { @class = "control-label col-sm-4" })
				<div class="col-sm-3">
					@Html.TextBoxFor(model => model.SubmitDate, new { @class = "form-control datepicker" })
				</div>
			</div>
			@*<div class="form-group form-group-sm">
					@Html.LabelFor(model => model.StartUpdateDate, new { @class = "control-label col-sm-4" })
					<div class="col-sm-3">
						@Html.TextBoxFor(model => model.StartUpdateDate, new { @class = "form-control datepicker", @placeholder = "From" })
					</div>
					<div class="col-sm-3">
						@Html.TextBoxFor(model => model.EndUpdateDate, new { @class = "form-control datepicker", @placeholder = "To" })
					</div>
				</div>*@
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.QuoteDate, new { @class = "control-label col-sm-4" })
				<div class="col-sm-3">
					@Html.TextBoxFor(model => model.QuoteDate, new { @class = "form-control datepicker" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.AuthorizeDate, new { @class = "control-label col-sm-4" })
				<div class="col-sm-3">
					@Html.TextBoxFor(model => model.AuthorizeDate, new { @class = "form-control datepicker" })
				</div>
			</div>
		</div>
	</div>
</div>