﻿@model Submissions.Web.Models.Query.JurisdictionalDataSearchPartialViewModel

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Submission</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.TypeId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.TypeId, m => m.Filters.Type, LookupAjax.SubmissionTypes, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.IdNumber, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.IdNumber, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Version, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.Version, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.DateCode, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.DateCode, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.GameName, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.GameName, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ChipTypeId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.ChipTypeId, m => m.Filters.ChipType, LookupAjax.ChipTypes, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Position, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.Position, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.FunctionId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.FunctionId, m => m.Filters.Function, LookupAjax.Functions, false)
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.FileNumber, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.FileNumber, new { @class = "form-control upper" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ManufacturerCodes, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupMultipleFor(m => m.Filters.ManufacturerCodes, Model.Filters.Manufacturers, LookupAjax.Manufacturers, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Year, new { @class = "control-label col-sm-4" })
								<div class="col-sm-4">
									@Html.DropDownListFor(m => m.Filters.Year, LookupsStandard.Years, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartSubmitDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartSubmitDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndSubmitDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingSubmitDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingSubmitDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartReceiveDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartReceiveDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndReceiveDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingReceiveDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingReceiveDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ReplaceWith, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.ReplaceWith, new { @class = "form-control" })
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Jurisdictions</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.JurisdictionIds, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupMultipleFor(m => m.Filters.JurisdictionIds, Model.Filters.Jurisdictions, LookupAjax.Jurisdictions, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Statuses, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.ListBoxFor(m => m.Filters.Statuses, LookupsStandard.ConvertEnum<JurisdictionStatus>(enumValues: ComUtil.InternalJurisdictionStatuses().ToArray()), new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ConditionalRevoke, new { @class = "control-label col-sm-4" })
								<div class="col-sm-4">
									@Html.DropDownListFor(m => m.Filters.ConditionalRevoke, LookupsStandard.YesNoBool, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartDraftDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartDraftDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndDraftDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingDraftDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingDraftDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartCloseDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartCloseDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndCloseDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingCloseDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingCloseDateDays)
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartUpdateDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartUpdateDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndUpdateDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingUpdateDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingUpdateDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartRevokeDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartRevokeDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndRevokeDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingRevokeDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingRevokeDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartQuoteDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartQuoteDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndQuoteDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingQuoteDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingQuoteDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartAuthorizeDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartAuthorizeDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndAuthorizeDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingAuthorizeDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingAuthorizeDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartObsoleteDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartObsoleteDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndObsoleteDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingObsoleteDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingObsoleteDateDays)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Sort By</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Filters.Sort1, new { @class = "control-label col-sm-2" })
						<div class="col-sm-4">
							@Html.DropDownListFor(m => m.Filters.Sort1, Model.SortList, new { @class = "form-control" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownListFor(m => m.Filters.Sort1Order, LookupsStandard.ConvertEnum<SortOrder>(), new { @class = "form-control", data_allow_clear = "false" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Filters.Sort2, new { @class = "control-label col-sm-2" })
						<div class="col-sm-4">
							@Html.DropDownListFor(m => m.Filters.Sort2, Model.SortList, new { @class = "form-control" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownListFor(m => m.Filters.Sort2Order, LookupsStandard.ConvertEnum<SortOrder>(), new { @class = "form-control", data_allow_clear = "false" })
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
