﻿@model Submissions.Web.Models.Query.MachineCertificateSearch

<div class="form-horizontal">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.CertificateNumber, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.TextBoxFor(model => model.CertificateNumber, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.MachineSerialNumber, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.TextBoxFor(model => model.MachineSerialNumber, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.GamingDeviceType, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.TextBoxFor(model => model.GamingDeviceType, new { @class = "form-control" })
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.StartCertificateDate, new { @class = "control-label col-sm-4" })
				<div class="col-sm-2">
					@Html.TextBoxFor(model => model.StartCertificateDate, new { @class = "form-control datepicker", @placeholder = "From" })
				</div>
				<div class="col-sm-2">
					@Html.TextBoxFor(model => model.EndCertificateDate, new { @class = "form-control datepicker", @placeholder = "To" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.SealNumber, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.TextBoxFor(model => model.SealNumber, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ReplacementCertificateNumber, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.TextBoxFor(model => model.ReplacementCertificateNumber, new { @class = "form-control" })
				</div>
			</div>
		</div>
	</div>
</div>



