﻿@model Submissions.Web.Models.Query.MemoSearch

<div class="form-horizontal">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.StartDate, new { @class = "control-label col-sm-4" })
				<div class="col-sm-3">
					@Html.TextBoxFor(model => model.StartDate, new { @class = "form-control datepicker", @placeholder = "From" })
				</div>
				<div class="col-sm-3">
					@Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datepicker", @placeholder = "To" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.StandardText, new { @class = "control-label col-sm-4" })
				<div class="col-sm-8">
					@Html.TextBoxFor(model => model.StandardText, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.OnHoldText, new { @class = "control-label col-sm-4" })
				<div class="col-sm-8">
					@Html.TextBoxFor(model => model.OnHoldText, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ComplianceText, new { @class = "control-label col-sm-4" })
				<div class="col-sm-8">
					@Html.TextBoxFor(model => model.ComplianceText, new { @class = "form-control" })
				</div>
			</div>
		</div>
		<div class="col-sm-6">
		</div>
	</div>
</div>