﻿@model Submissions.Web.Models.Query.ProjectSearchPartialViewModel

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Search Criteria</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.LaboratoryId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.LaboratoryId, m => m.Filters.Laboratory, LookupAjax.Laboratories, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ManagerId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.ManagerId, m => m.Filters.Manager, LookupAjax.Users, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.IsRush, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									<div class="checkbox">
										<label>@Html.CheckBoxFor(m => m.Filters.IsRush)</label>
									</div>
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ManufacturerShort, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.ManufacturerShort, m => m.Filters.Manufacturer, LookupAjax.Manufacturers, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.MainJurisdiction, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.MainJurisdiction, m => m.Filters.MainJurisdictionDesc, LookupAjax.Jurisdictions, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Status, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.DropDownListFor(m => m.Filters.Status, LookupsStandard.ConvertEnum<ProjectStatus>(), new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.SubmissionType, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.SubmissionType, m => m.Filters.SubmissionTypeDesc, LookupAjax.SubmissionTypes, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Jurisdiction, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.Jurisdiction, m => m.Filters.JurisdictionDesc, LookupAjax.Jurisdictions, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ProjectName, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.ProjectName, "", new { @class = "form-control upper" })
								</div>
							</div>
							@*
							Receive Date
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartSubmitDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartSubmitDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndSubmitDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingSubmitDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingSubmitDateDays)
								</div>
							</div>*@
							<div class="form-group form-group-sm">
								@Html.Label("Assigned Person", new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.EngineerId, m => m.Filters.Engineer, LookupAjax.Users, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.SeniorEngineerId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.SeniorEngineerId, m => m.Filters.SeniorEngineer, LookupAjax.Users, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.MAProjectLeadId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.MAProjectLeadId, m => m.Filters.MAProjectLead, LookupAjax.Users, false)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Sort By</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Filters.Sort1, new { @class = "control-label col-sm-2" })
						<div class="col-sm-3">
							@Html.DropDownListFor(m => m.Filters.Sort1, Model.SortList, new { @class = "form-control" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownListFor(m => m.Filters.Sort1Order, LookupsStandard.ConvertEnum<SortOrder>(), new { @class = "form-control", data_allow_clear = "false" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Filters.Sort2, new { @class = "control-label col-sm-2" })
						<div class="col-sm-3">
							@Html.DropDownListFor(m => m.Filters.Sort2, Model.SortList, new { @class = "form-control" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownListFor(m => m.Filters.Sort2Order, LookupsStandard.ConvertEnum<SortOrder>(), new { @class = "form-control", data_allow_clear = "false" })
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

