﻿@model Submissions.Web.Models.Query.RNGSearch

<div class="form-horizontal">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.GameName, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.TextBoxFor(model => model.GameName, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.Version, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.TextBoxFor(model => model.Version, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.GameType, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.TextBoxFor(model => model.GameType, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ReelCount, new { @class = "control-label col-sm-4" })
				<div class="col-sm-2">
					@Html.TextBoxFor(model => model.ReelCount, new { @class = "form-control" })
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.StartRange, new { @class = "control-label col-sm-4" })
				<div class="col-sm-2">
					@Html.TextBoxFor(model => model.StartRange, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.EndRange, new { @class = "control-label col-sm-4" })
				<div class="col-sm-2">
					@Html.TextBoxFor(model => model.EndRange, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.GamesCollected, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.TextBoxFor(model => model.GamesCollected, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.Replacement, new { @class = "control-label col-sm-4" })
				<div class="col-sm-3">
					@Html.DropDownListFor(model => model.Replacement, LookupsStandard.YesNo, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ManufacturerId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.LookupFor(model => model.ManufacturerId, model => model.Manufacturer, LookupAjax.Manufacturers, false)
				</div>
			</div>
		</div>
	</div>
</div>