﻿@model Submissions.Web.Models.Query.SignatureSearch

<div class="form-horizontal">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.TypeId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.LookupFor(model => model.TypeId, model => model.Type, LookupAjax.SignatureTypes, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ScopeId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.LookupFor(model => model.ScopeId, model => model.Scope, LookupAjax.SignatureScopes, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.Code, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
				</div>
			</div>
		</div>
		<div class="col-sm-6">
		</div>
	</div>
</div>