﻿@model Submissions.Web.Models.Query.SubmissionSearchPartialViewModel

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Search Criteria</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.FileNumber, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.FileNumber, new { @class = "form-control upper" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartSubmitDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartSubmitDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndSubmitDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingSubmitDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingSubmitDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartReceiveDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartReceiveDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndReceiveDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingReceiveDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingReceiveDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.TypeId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.TypeId, m => m.Filters.Type, LookupAjax.SubmissionTypes, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.JurisdictionId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.JurisdictionId, m => m.Filters.Jurisdiction, LookupAjax.Jurisdictions, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ManufacturerCode, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.ManufacturerCode, m => m.Filters.Manufacturer, LookupAjax.Manufacturers, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Year, new { @class = "control-label col-sm-4" })
								<div class="col-sm-4">
									@Html.DropDownListFor(m => m.Filters.Year, LookupsStandard.Years, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Status, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.DropDownListFor(m => m.Filters.Status, LookupsStandard.ConvertEnum<SubmissionStatus>(showBlank: true), new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ArchiveLocationId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.ArchiveLocationId, m => m.Filters.ArchiveLocation, LookupAjax.Laboratories, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Sequence, new { @class = "control-label col-sm-4" })
								<div class="col-sm-4">
									@Html.TextBoxFor(m => m.Filters.Sequence, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.RegressionTesting, new { @class = "control-label col-sm-4" })
								<div class="col-sm-4">
									@Html.DropDownListFor(m => m.Filters.RegressionTesting, LookupsStandard.YesNoBool, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ConditionalRevoke, new { @class = "control-label col-sm-4" })
								<div class="col-sm-4">
									@Html.DropDownListFor(m => m.Filters.ConditionalRevoke, LookupsStandard.YesNoBool, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Vendor, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.Vendor, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ReplaceWith, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.ReplaceWith, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.CodeStorage, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.CodeStorage, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.EUCodeStorage, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.EUCodeStorage, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.BugBoxLocationId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-4">
									@Html.LookupFor(m => m.Filters.BugBoxLocationId, m => m.Filters.BugBoxLocation, LookupAjax.Laboratories, false)
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.BugBox, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.System, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.System, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Operator, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.Operator, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ContractNumber, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.ContractNumber, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.CompanyId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.CompanyId, m => m.Filters.Company, LookupAjax.Companies, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.CurrencyId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.CurrencyId, m => m.Filters.Currency, LookupAjax.Currencies, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ContractTypeId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.ContractTypeId, m => m.Filters.ContractType, LookupAjax.ContractTypes, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.LabId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.LabId, m => m.Filters.Lab, LookupAjax.Laboratories, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.CertificationLabId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.CertificationLabId, m => m.Filters.CertificationLab, LookupAjax.Laboratories, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.DateCode, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.DateCode, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.PartNumber, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.PartNumber, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Version, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.Version, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.GameName, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.GameName, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.IdNumber, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.IdNumber, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ChipTypeId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.ChipTypeId, m => m.Filters.ChipType, LookupAjax.ChipTypes, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Position, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.Position, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.GameTypeId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.GameTypeId, m => m.Filters.GameType, LookupAjax.GameTypes, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.FunctionId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.FunctionId, m => m.Filters.Function, LookupAjax.Functions, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.TestingTypeId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.TestingTypeId, m => m.Filters.TestingType, LookupAjax.TestingTypes, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.WorkPerformedId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.WorkPerformedId, m => m.Filters.WorkPerformed, LookupAjax.WorkPerformed, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.TestingPerformedId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.TestingPerformedId, m => m.Filters.TestingPerformed, LookupAjax.TestingPerformed, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ExternalLabId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.ExternalLabId, m => m.Filters.ExternalLab, LookupAjax.ExternalLabs, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.PurchaseOrder, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.PurchaseOrder, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.BillingReference, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.BillingReference, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.LetterNumber, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.LetterNumber, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ProjectDetail, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.ProjectDetail, new { @class = "form-control" })
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Sort By</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Filters.Sort1, new { @class = "control-label col-sm-2" })
						<div class="col-sm-3">
							@Html.DropDownListFor(m => m.Filters.Sort1, Model.SortList, new { @class = "form-control" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownListFor(m => m.Filters.Sort1Order, LookupsStandard.ConvertEnum<SortOrder>(), new { @class = "form-control", data_allow_clear = "false" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Filters.Sort2, new { @class = "control-label col-sm-2" })
						<div class="col-sm-3">
							@Html.DropDownListFor(m => m.Filters.Sort2, Model.SortList, new { @class = "form-control" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownListFor(m => m.Filters.Sort2Order, LookupsStandard.ConvertEnum<SortOrder>(), new { @class = "form-control", data_allow_clear = "false" })
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

