﻿@model Submissions.Web.Models.Query.SubmissionSearch

<div class="form-horizontal">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.CertificationLabId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.CertificationLabId, model => model.CertificationLab, LookupAjax.Laboratories, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ArchiveLocationId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.ArchiveLocationId, model => model.ArchiveLocation, LookupAjax.Laboratories, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.Sequence, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.Sequence, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.RegressionTesting, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.DropDownListFor(model => model.RegressionTesting, LookupsStandard.YesNo, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ConditionalRevoke, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.DropDownListFor(model => model.ConditionalRevoke, LookupsStandard.YesNo, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.Vendor, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.Vendor, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ReplaceWith, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.ReplaceWith, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.CodeStorage, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.CodeStorage, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.EUCodeStorage, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.EUCodeStorage, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.BugBoxLocationId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-3">
					@Html.LookupFor(model => model.BugBoxLocationId, model => model.BugBoxLocation, LookupAjax.Laboratories, false)
				</div>
				<div class="col-sm-3">
					@Html.TextBoxFor(model => model.BugBox, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.System, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.System, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.Operator, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.Operator, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ContractNumber, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.ContractNumber, new { @class = "form-control" })
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ChipTypeId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.ChipTypeId, model => model.ChipType, LookupAjax.ChipTypes, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.CompanyId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.CompanyId, model => model.Company, LookupAjax.Companies, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.CurrencyId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.CurrencyId, model => model.Currency, LookupAjax.Currencies, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ContractTypeId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.ContractTypeId, model => model.ContractType, LookupAjax.ContractTypes, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.Position, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.GameTypeId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.GameTypeId, model => model.GameType, LookupAjax.GameTypes, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.FunctionId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.FunctionId, model => model.Function, LookupAjax.Functions, false)
				</div>
			</div>
			@*<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.SubmitDate, new { @class = "control-label col-sm-4" })
				<div class="col-sm-3">
					@Html.TextBoxFor(model => model.SubmitDate, new { @class = "form-control datepicker" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ReceiveDate, new { @class = "control-label col-sm-4" })
				<div class="col-sm-3">
					@Html.TextBoxFor(model => model.ReceiveDate, new { @class = "form-control datepicker" })
				</div>
			</div>*@
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.TestingTypeId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.TestingTypeId, model => model.Function, LookupAjax.TestingTypes, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.WorkPerformedId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.WorkPerformedId, model => model.WorkPerformed, LookupAjax.WorkPerformed, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.TestingPerformedId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.TestingPerformedId, model => model.TestingPerformed, LookupAjax.TestingPerformed, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ExternalLabId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.LookupFor(model => model.ExternalLabId, model => model.ExternalLab, LookupAjax.ExternalLabs, false)
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.PurchaseOrder, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.PurchaseOrder, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.BillingReference, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.BillingReference, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.LetterNumber, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.LetterNumber, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ProjectDetail, new { @class = "control-label col-sm-4" })
				<div class="col-sm-6">
					@Html.TextBoxFor(model => model.ProjectDetail, new { @class = "form-control" })
				</div>
			</div>
		</div>
	</div>
</div>

