﻿@*@model Submissions.Web.Models.Query.SubmissionPrimary

<div class="form-horizontal">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.FileNumber, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.TextBoxFor(model => model.FileNumber, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.Year, new { @class = "control-label col-sm-4" })
				<div class="col-sm-2">
					@Html.DropDownListFor(model => model.Year, LookupsStandard.Years, new { @class = "form-control" })
				</div>
				@Html.LabelFor(model => model.Sequence, new { @class = "control-label col-sm-2" })
				<div class="col-sm-2">
					@Html.TextBoxFor(model => model.Sequence, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ManufacturerId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.LookupFor(model => model.ManufacturerId, model => model.Manufacturer, LookupAjax.Manufacturers, false, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.SubmissionTypeId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.LookupFor(model => model.SubmissionTypeId, model => model.SubmissionType, LookupAjax.SubmissionTypes, false, new { @class = "form-control" })
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.LabId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.LookupFor(model => model.LabId, model => model.Lab, LookupAjax.Laboratories, false, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.CertificationLabId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.LookupFor(model => model.CertificationLabId, model => model.CertificationLab, LookupAjax.Laboratories, false, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group form-group-sm">
				@Html.LabelFor(model => model.ArchiveLocationId, new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@Html.LookupFor(model => model.ArchiveLocationId, model => model.ArchiveLocation, LookupAjax.Laboratories, false, new { @class = "form-control" })
				</div>
			</div>
		</div>
	</div>
</div>*@
