﻿@model Submissions.Web.Models.Query.TaskSearchPartialViewModel

@{
	var managerFilter = new UsersFilter { ManagerSearch = true };
}

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Search Criteria</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.ManagerId, new { @class = "control-label col-sm-3" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.ManagerId, m => m.Filters.Manager, LookupAjax.Users, false, new { data_filter = Json.Encode(managerFilter) })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.FileNumber, new { @class = "control-label col-sm-3" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.Filters.FileNumber, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.Status, new { @class = "control-label col-sm-3" })
								<div class="col-sm-7">
									@Html.DropDownListFor(m => m.Filters.Status, LookupsStandard.ConvertEnum<TaskStatusFilter>(showBlank: true), new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.UserId, new { @class = "control-label col-sm-3" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.UserId, m => m.Filters.User, LookupAjax.Users, false)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.DepartmentId, new { @class = "control-label col-sm-3" })
								<div class="col-sm-7">
									@Html.LookupFor(m => m.Filters.DepartmentId, m => m.Filters.Department, LookupAjax.Departments, false)
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartAssignDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartAssignDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndAssignDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingAssignDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingAssignDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartStartDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartStartDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndStartDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingStartDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingStartDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartTargetDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartTargetDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndTargetDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingTargetDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingTargetDateDays)
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.StartCompleteDate, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.StartCompleteDate, new { @class = "form-control datepicker", @placeholder = "From" })
								</div>
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.Filters.EndCompleteDate, new { @class = "form-control datepicker", @placeholder = "To" })
								</div>
							</div>
							<div class="form-group form-group-sm">
								<div class="col-sm-6 col-sm-offset-4">
									@Html.TextBoxFor(m => m.Filters.RollingCompleteDateDays, new { @class = "form-control", @placeholder = "Within Past x Days" })
									@Html.ValidationMessageFor(m => m.Filters.RollingCompleteDateDays)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Sort By</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Filters.Sort1, new { @class = "control-label col-sm-2" })
						<div class="col-sm-4">
							@Html.DropDownListFor(m => m.Filters.Sort1, Model.SortList, new { @class = "form-control" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownListFor(m => m.Filters.Sort1Order, LookupsStandard.ConvertEnum<SortOrder>(), new { @class = "form-control", data_allow_clear = "false" })
						</div>
					</div>
					<div class="form-group form-group-sm">
						@Html.LabelFor(m => m.Filters.Sort2, new { @class = "control-label col-sm-2" })
						<div class="col-sm-4">
							@Html.DropDownListFor(m => m.Filters.Sort2, Model.SortList, new { @class = "form-control" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownListFor(m => m.Filters.Sort2Order, LookupsStandard.ConvertEnum<SortOrder>(), new { @class = "form-control", data_allow_clear = "false" })
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
