﻿@model Submissions.Web.Areas.Lookups.Models.CPReviewTasksViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " CP Review Task";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "CPReviewTasks", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Mode)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(model => model.Jurisdiction)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "CPReviewTasks", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

    <div class="form-horizontal">
        <hr class="form-hr" />
        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.Jurisdiction, new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.LookupFor(m => m.JurisdictionId, m => m.Jurisdiction, LookupAjax.Jurisdictions, false)
                @Html.ValidationMessageFor(model => model.JurisdictionId)
            </div>
        </div>
        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.EstimatedHours, new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.EstimatedHours, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EstimatedHours)
            </div>
        </div>
        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.Active, new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.CheckBoxFor(model => model.Active, new { @class = "padcheckbox" })
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>
    </div>
}