﻿@model Submissions.Web.Areas.Documents.Models.DraftLetters.EditViewModel

@{
	ViewBag.Title = "Edit Draft Letter";
}

@using (Html.BeginForm("Edit", "DraftLetters", FormMethod.Post, new { id = "" }))
{
	@Html.Hidden("ProjectId")
	@Html.Hidden("DraftLetterId")

	<div class="row row-title">
		<div class="col-sm-8">
			<h3 class="form-h3">@ViewBag.Title</h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="Save" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "DraftLetters", new { ProjectId = Model.ProjectId }, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.FilePath, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-6">
				@Html.Raw(Model.FilePath)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.GPSFilePath, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.GPSFilePath, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.GPSFilePath)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.LetterheadId, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.LetterheadId, m => m.Letterhead, LookupAjax.LetterHeads, false)
			</div>
			<div class="col-sm-2">
				@Html.LabelFor(m => m.RepeatLetterhead, new { @class = "control-label" })
				@Html.CheckBoxFor(m => m.RepeatLetterhead)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.AddendumLetterheadId, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.AddendumLetterheadId, m => m.AddendumLetterhead, LookupAjax.LetterHeads, false)
			</div>
			<div class="col-sm-2">
				@Html.LabelFor(m => m.RepeatAddLetterhead, new { @class = "control-label" })
				@Html.CheckBoxFor(m => m.RepeatAddLetterhead)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.AttachCorrectionAddendum, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(m => m.AttachCorrectionAddendum)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Status, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-5">
				@Html.DropDownListFor(m => m.Status, new SelectList(Model.Statuses, "Value", "Text", Model.Status), new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.DraftDate, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-5">
				@Html.TextBoxFor(m => m.DraftDate, "{0:d}", new { @class = "form-control datepicker", AutoComplete = "off" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.UpdatedDateReason, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-5">
				@Html.DropDownListFor(m => m.UpdatedDateReason, new SelectList(Model.UpdateDateReasons, "Value", "Text", Model.UpdatedDateReason), new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.TimelineRequested, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-5">
				@Html.CheckBoxFor(m => m.TimelineRequested)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.TimelineType, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-5">
				@Html.DropDownListFor(m => m.TimelineType, new SelectList(Model.TimelineTypes, "Value", "Text", Model.TimelineType), new { @class = "form-control" })
			</div>
		</div>
		@if (Model.WordFileGPSId != null && Model.WordFileGPSId != 0)
		{
			<div class="form-group form-group-sm">
				@Html.LabelFor(m => m.WordFileGPSId, new { @class = "col-sm-2 control-label" })
				<div class="col-sm-5">
					<a href="@Url.Action("GPSFile", "DocumentViewer", new { area = "" })?gpsItemId=@Model.WordFileGPSId">View</a>
				</div>
			</div>
		}
		@if (Model.PdfFileGpsId != null && Model.PdfFileGpsId != 0)
		{
			<div class="form-group form-group-sm">
				@Html.LabelFor(m => m.PdfFileGpsId, new { @class = "col-sm-2 control-label" })
				<div class="col-sm-5">
					<a href="@Url.Action("GPSFile", "DocumentViewer", new { area = "" })?gpsItemId=@Model.PdfFileGpsId">View</a>
				</div>
			</div>
		}
		@if (Model.AddendumGpsFileId != null && Model.AddendumGpsFileId != 0)
		{
			<div class="form-group form-group-sm">
				@Html.LabelFor(m => m.AddendumGpsFileId, new { @class = "col-sm-2 control-label" })
				<div class="col-sm-5">
					<a href="@Url.Action("GPSFile", "DocumentViewer", new { area = "" })?gpsItemId=@Model.AddendumGpsFileId">View</a>
				</div>
			</div>
		}

	</div>
}