﻿@model Submissions.Web.Areas.Documents.Models.DraftLetters.IndexViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Draft Letters";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
</div>

@Html.Trirand().JQGrid(Model.DraftLettersGrid.Grid, Model.DraftLettersGrid.Grid.ID)

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.projectId = @Model.ProjectId;
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function editLink(cellValue, options, rowObject) {
			var id = options.rowId;
			return '<a href="' + '@Url.Action("Edit", "DraftLetters")' + '/edit?projectId=' + @Model.ProjectId + '&draftLetterId=' + id + '">Edit</a> <span class="text-normal"></span>';
		}

	</script>
}

