﻿<template>
	<div>
		<DebugModal v-if="showDebugModal" @close="closeDebugModal" :debugData="debugData"></DebugModal>
		<PushResult :results="pushResults"></PushResult>
		<div class="row col-sm-6">
		</div>
		<div class="row col-sm-6">
			<div class="btn-group pull-right">
				<button class="btn btn-primary" :disabled="isPushJurisdictionsButtonDisabled" v-on:click="click_PushJurisdictionProjects">Push Jurisdiction(s)</button>
				<button class="btn btn-danger" :disabled="isDebugButtonDisabled" v-if="debug" v-on:click="click_GetJsonModel">View JSON</button>
			</div>
		</div>
		<div class="row col-sm-12">
			<vue-good-table ref="jurisdictionProjectTable"
							:columns="columns"
							:rows="rows"
							:line-numbers="true"
							:select-options="{ enabled: true, selectOnCheckboxOnly: true }"
							styleClass="vgt-table striped condensed"
							:pagination-options="{
									enabled: true,
									mode: 'records',
									perPage: 25,
									position: 'top',
									nextLabel: 'next',
									prevLabel: 'prev',
								  }"
							:search-options="{
								enabled: true,
								trigger: 'enter',
								skipDiacritics: true,
								placeholder: 'Search',
							  }">
				<template slot="table-row" slot-scope="props">
					{{props.formattedRow[props.column.field]}}
				</template>
			</vue-good-table>
		</div>
	</div>
</template>

<script>
	import api from '@/api/index';
	const baseUrl = 'acumatica/pushproject/';

	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css'

	import PushResult from '@/components/acumatica/pushproject/PushResult.vue';
	import DebugModal from '@/components/acumatica/pushproject/DebugModal.vue';

	export default {
		components: {
			VueGoodTable,
			PushResult,
			DebugModal
		},
		props: {
			rows: { type: Array, required: true },
			columns: { type: Array, required: true },
			destinationTenant: { type: String, required: true },
			fileNumber: { type: String, required: true },
			debug: false
		},
		data() {
			return {
				isMounted: false,
				pushResults: [],
				isLoading: false,
				showDebugModal: false,
				debugData: {}
			}
		},
		mounted() {
			this.isMounted = true;
		},
		computed: {
			isPushJurisdictionsButtonDisabled: function () {
				// -- If the component has not mounted, the dom has not rendered. If the dom has not rendered the $refs collection is undefined.
				// -- This is due to the nature of vue-good-table and how to tell what items are selected in a checkbox table.
				// -- Reference: https://xaksis.github.io/vue-good-table/guide/advanced/checkbox-table.html#checkbox-table
				if (!this.isMounted)
					return true;

				return !(this.fileNumber && this.destinationTenant && this.$refs['jurisdictionProjectTable'].selectedRows.length > 0 && !this.isLoading);
			},
			isDebugButtonDisabled: function () {
				return !(!!this.debug && !!this.destinationTenant && this.$refs['jurisdictionProjectTable'].selectedRows.length == 1 && !this.isLoading);
			},
		},
		methods: {
			click_PushJurisdictionProjects: function () {
				if (this.destinationTenant && this.fileNumber) {
					this.isLoading = true;
					Loading();
					let jurisdictionIds = this.$refs['jurisdictionProjectTable'].selectedRows.map(x => { return x.jurisdictionalDataId });
					api.post(baseUrl + 'PushJurisdictions', { jurisdictionIds: jurisdictionIds, destinationTenant: this.destinationTenant })
						.then(response => {
							if (response.data.error === true) {
								bootbox.alert(response.data.errorMessage);
							}
							else {
								this.pushResults = [...response.data.created];
							}
						})
						.then(() => {
							setTimeout(() => {
								this.emptyPushResults();
							}, 3000);
						})
						.catch(err => console.error('click_PushJurisdictionProjects: ', err))
						.finally(() => {
							this.deSelectCheckBoxes();
							this.isLoading = false;
							DoneLoading();
						});
				}
			},
			click_GetJsonModel: function () {
				this.isLoading = true;
				Loading();
				let jurisdictionIds = this.$refs['jurisdictionProjectTable'].selectedRows.map(x => { return x.jurisdictionalDataId });
				api.post(baseUrl + 'GetJsonModel', { jurisdictionId: jurisdictionIds[0], destinationTenant: this.destinationTenant })
					.then(response => {
						this.debugData = response.data;
					})
					.catch(err => console.error('click_GetJsonModel: ', err))
					.finally(() => {
						this.isLoading = false;
						DoneLoading();
						this.showDebugModal = true;
					});
			},
			emptyPushResults: function () {
				if (this.pushResults.length) {
					this.pushResults.splice(0, 1);
					setTimeout(() => {
						this.emptyPushResults();
					}, 1000);
				}
			},
			deSelectCheckBoxes: function () {
				this.$refs['jurisdictionProjectTable'].unselectAllInternal();
			},
			closeDebugModal: function () {
				this.resetDebugModal();
			},
			resetDebugModal: function () {
				this.showDebugModal = false;
				this.debugData = {};
			}
		},
	}
</script>

<style scoped>
	.top-buffer {
		margin-top: 20px;
	}
</style>