﻿<template>
	<div class="main">
		<div class="col-sm-1">
			<label>File Number</label>
		</div>
		<div class="col-sm-3">
			<Lookup id="fileNumberSearch"
					name="fileNumberSearch"
					:lookuptextfield="fileNumber"
					@updateLookupTextField="updateFileNumber"
					:lookupajax="'FileNumber'"
					v-model="fileNumber"
					class="form-control"
					style="width:100%;"></Lookup>
		</div>
		<div class="col-sm-1">
			<label>Destination Tenant</label>
		</div>
		<div class="col-sm-3">
			<Lookup id="acumaticaTenantSearch"
					name="acumaticaTenantSearch"
					:lookuptextfield="AcumaticaTenant"
					@updateLookupTextField="updateAcumaticaTenant"
					:lookupajax="'AcumaticaTenants'"
					v-model="AcumaticaTenant"
					class="form-control"
					style="width:100%;"></Lookup>
		</div>
		<div v-show="JurisdictionProjects.length > 0">
			<div class="row col-sm-12">
				<h2>{{fileNumber}}</h2>
			</div>
			<div class="row col-sm-12">
				<JurisdictionProjectTable :rows="JurisdictionProjects" :columns="Columns" :destinationTenant="AcumaticaTenant" :fileNumber="fileNumber" :debug="debug"></JurisdictionProjectTable>
			</div>
		</div>
	</div>
</template>

<script>
	import api from '@/api/index';
	const baseUrl = 'acumatica/pushproject/';
	import Lookup from '@/components/utility/Lookup.vue';
	import JurisdictionProjectTable from '@/components/acumatica/pushproject/AcumaticaJurisdictionProjectTable.vue';

	export default {
		components: {
			Lookup,
			JurisdictionProjectTable,
		},
		data() {
			return {
				Columns: [
					{
						label: 'ID',
						field: 'jurisdictionalDataId',
						type: 'number',
						hidden: true
					},
					{
						label: 'Jurisdiction ID',
						field: 'jurisdictionId',
						type: 'text',
					},
					{
						label: 'Jurisdiction Name',
						field: 'jurisdictionName',
						type: 'text',
					},
					{
						label: 'Bill With',
						field: 'billWith',
						type: 'text',
					},
				],
				fileNumber: '',
				JurisdictionProjects: [],
				AcumaticaTenant: '',
				debug: false
			}
		},
		created: function () {
			this.debug = initialData.debug;
			DoneLoading();
		},
		mounted() {
		},
		watch: {
			fileNumber: function (newFileNumber, oldFileNumber) {
				if (oldFileNumber !== newFileNumber) {
					this.getPushProjectGridModel();
				}
			}
		},
		computed: {
		},
		methods: {
			updateFileNumber: function (value) {
				if (value) {
					this.fileNumber = value;
				}
				else {
					this.updateAcumaticaTenant("");
				}
			},
			updateAcumaticaTenant: function (value) {
				this.AcumaticaTenant = value;
			},
			getPushProjectGridModel: function () {
				if (this.fileNumber) {
					Loading();
					api.post(baseUrl + 'GetPushProjectGridModel', { fileNumber: this.fileNumber, })
						.then(response => {
							this.JurisdictionProjects = response.data.jurisdictionProjectRows;
						})
						.catch(err => console.error('GetPushProjectGridModel', err))
						.finally(function () {
							DoneLoading();
						});
				}
				else {
					this.JurisdictionProjects = [];
				}
			},
		},
	}
</script>
