﻿<template>
	<div>
		<div v-show="results.length > 0">
			<ul class="list-group">
				<li class="list-group-item" v-for="result in results">
					<div v-if="result.success" class="list-group-item-success">
						{{result.billWith}} success !
					</div>
					<div v-if="!result.success" class="list-group-item-danger">
						{{result.billWith}} failed !
					</div>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	export default {
		components: {
		},
		props: {
			results: { type: Array, required: true }
		},
		data() {
			return {
			}
		},
		created: function () {
		},
		mounted() {
		},
		watch: {
		},
		computed: {
		},
		methods: {
		},
		filters: {
		}
	}
</script>

<style scoped>
</style>