﻿@model Submissions.Web.Areas.Protrack.Models.BatchProjectTarget

@using (Html.BeginForm("SaveBatchTarget", "TargetDate", FormMethod.Post, new { TargetDateModel = Model, Id = "BatchTargetDateForm" }))
{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.ProjectIds);
	@Html.HiddenFor(model => model.ApplyToProject)
	@Html.HiddenFor(model => model.Reason)
	@Html.HiddenFor(model => model.ReviseMode)
	@Html.HiddenFor(model => model.AllowEditOriginalDate);

	var targetDatePlaceHolder = "New Target Date";
	var renderReasonInput = true;
	var footerText = "Note: This will set the original target date, if one has not been set previously. Use the 'Other' reason when setting the original target date.";
	var targetDateHtmlLabel = Html.LabelFor(model => model.NewTargetDate, new { @class = "control-label col-sm-4" });

	if (Model.ReviseMode == TargetDateReviseMode.ModifyOriginalTarget)
	{
		targetDatePlaceHolder = "Original Target Date";
		renderReasonInput = false;
		footerText = "";
		targetDateHtmlLabel = Html.Label("Original Target Date:", new { @class = "control-label col-sm-4" });
	}

	<div class="modal-header">
		<div class="row">
			<div class="col-sm-12 form-buttons text-right">
				@if (Util.HasAccess(Permission.TargetDate, AccessRight.Edit) || Util.HasAccess(Permission.OriginalTargetDate, AccessRight.Edit))
				{
					<button type="button" id="Save" accesskey="T" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save (Alt+T)</button>
				}
				<button class="btn btn-primary btn-sm" id="Close" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Target Date Information</h3>
					</div>
					<label id="Error" class="text-danger"></label>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group">
								@targetDateHtmlLabel
								<div class="col-sm-8">
									@Html.EditorFor(model => model.NewTargetDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = targetDatePlaceHolder } })
									<br />
								</div>
							</div>
							@if (renderReasonInput)
							{
								<div class="form-group">
									@Html.LabelFor(model => model.Reason, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupFor(model => model.ReasonId, model => model.Reason, LookupAjax.TargetDateChangeReason, false, new { @placeholder = "Select Change Reason" })
										@Html.ValidationMessageFor(model => model.Reason)
									</div>
								</div>
							}
							<div class="form-group">
								@Html.LabelFor(model => model.Detail, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.TextAreaFor(model => model.Detail, 3, 120, new { @class = "DetailReason form-control", @placeholder = "Detail Reason" })
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<label class="col-sm-12 text-center">@footerText</label>
	</div>
}

<script>
	$(function () {
		loadDocumentReady();
		$('#Save').click(function () {
			var Error = ''
			if (Em($("#NewTargetDate").val())) {
				Error = 'You must enter Target Date.\n'
			}

			if ($('#ReasonId').val() == "0") {
				Error += 'You must select Reason.\n'
			}

			if (Em($('.DetailReason').val())) {
				Error += 'You must enter Detail.\n'
			}

			if (Error == '') {
				$('#BatchTargetDateForm').submit();
			}
			else {
				$('#Error').text(Error);
				return false;
			}
		})

		$('#BatchTargetDateForm').submit(function () {

			$('#Save').prop("disabled", true);
			$.ajax({
				url: this.action,
				type: this.method,
				data: $(this).serialize(),
				success: function (result) {
					if ("@Request["OnlyRefreshValues"]" == 1)
					{
						$('#myModal').modal('toggle');
						ReloadAfterUpdate();
						bootbox.alert("Data updated.")
					}
					else {
						window.location.reload();
					}
				}
			});

			return false;
		});
	});
</script>