﻿@model string

@{
	<span id="AlertMessage" style="white-space: pre"><b>The original target dates cannot be updated because of the following projects:<br />@Model</b></span>
}

<script>
	bootbox.alert({
		message: $('#AlertMessage')
	});
	$('#myModal').modal('toggle');
</script>
