﻿@model Submissions.Web.Areas.Protrack.Models.ViewHistory

@{
    if (Request["FromClassic"] != null)
    {
        ViewBag.noNavBar = true;
    }
    else
    {
        Layout = null;
    }
   
}
<title>Target History</title>
<style>
    .modal-body {
        height: 220px;
        overflow-y: auto;
        font-size: 10px;
    }
    
</style>
<div> 
        <div class="modal-header">
            @if (Request["FromClassic"] == null)
            {
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            }
            <font class="text-info">Target History For:</font>
            
            @if (Model.ProjectName != null){
                 <h4 class="modal-title">@Html.DisplayTextFor(m => m.ProjectName)</h4>
            }
            else
            {
                <div class="table-responsive" >
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Filenumber
                            </th>
                            <th>
                                IDNumber
                            </th>
                            <th>
                                GameName
                            </th>
                            <th>
                                version
                            </th>
                            <th>
                                DateCode
                            </th>
                            <th>
                                Jurisdiction
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td nowrap>
                            @Html.DisplayTextFor(m => m.FileNumber)
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.IDNumber)
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.GameName)
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.Version)
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.DateCode)
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.Jurisdiction)
                        </td>

                    </tr>
                </table>
                </div>
            }
           
        </div>
        <div class="modal-body" >
            <div class="table-responsive" >
                  <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(m => m.RevisionHistory[0].ModifiedDate)</th>
                                <th>@Html.LabelFor(m => m.RevisionHistory[0].ModifiedBy)</th>
                                <th>@Html.LabelFor(m => m.RevisionHistory[0].TargetDate)</th>
                                <th>@Html.LabelFor(m => m.RevisionHistory[0].Reason)</th>
                                <th>@Html.LabelFor(m => m.RevisionHistory[0].Note)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.RevisionHistory)
                            {
                                   
                                     <tr style="@(item.IsDeleted ? "Background-color:lightgray" : "")">   

                                    <td>@Html.DisplayFor(m => item.ModifiedDate)</td>
                                    <td>@Html.DisplayFor(m => item.ModifiedBy)</td>
                                    <td>@Html.DisplayFor(m => item.TargetDate)</td>
                                    <td>@Html.DisplayFor(m => item.Reason)</td>
                                    <td>@Html.DisplayFor(m => item.Note)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    
            </div>
         
    </div>
    <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
            
    @if (@Model.OriginalTargetDateChangedReason != null)
    {
        <p class="text-info"> <small>&nbsp; * The Original Target Date for this project has been modified.<br />&nbsp;  (@Model.OriginalTargetDateChangedReason)</small></p>
    }
    

 </div>

