﻿@model Submissions.Web.Areas.Protrack.Models.TargetDateIndexViewModel
@{
	if (Request["FromClassic"] != null)
	{
		ViewBag.noNavBar = true;
	}
}
@using Trirand.Web.Mvc

@section css{@Styles.Render("~/bundles/css/jqgrid")}
<style>
	.modal-dialog {
		overflow-y: initial;
	}
	
</style>
@{
	ViewBag.Title = "Manage Target Date";
}
@using (Html.BeginForm("SaveTargetDate", "TargetDate", FormMethod.Post, new { TargetDateModel = Model, Id = "SetTargetDateForm" }))
{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.TargetDateInfo.PrimaryList);
	@Html.HiddenFor(m => m.TargetDateInfo.ProjectID);
	@Html.HiddenFor(m => m.TargetDateInfo.ProjectStatus);
	@Html.HiddenFor(m => m.ApplyOffSet);
	
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<h3 class="form-h3"><small>@Html.DisplayFor(model => model.TargetDateInfo.ProjectName) (Project Target Date:@Html.DisplayFor(model => model.TargetDateInfo.TargetDate))@if (Model.TargetDateInfo.ReviseMode != TargetDateReviseMode.EnterOriginalTarget)
				{ <a data-toggle="modal" href="" id="History" data-url='@Url.Action("LoadTargetHistory", new {ProjectID=Model.TargetDateInfo.ProjectID })'>[History]</a>}&nbsp; &nbsp; @if (Model.TargetDateSync)
{<a class="text-danger" title="Update Target Dates for Jurisdictions added after intial submission."  href='@Url.Action("SyncJurisdictionTargetDates", new { projectID = Model.TargetDateInfo.ProjectID }) '><span class="fas fa-exclamation-triangle"></span>&nbsp;Sync Jurisdiction Target Dates</a>}</small></h3>
			</div>
			<div class="col-sm-3 form-buttons text-right">
				@if (Util.HasAccess(Permission.TargetDate, AccessRight.Edit) || Util.HasAccess(Permission.OriginalTargetDate, AccessRight.Edit))
				{
					<button type="button" id="SaveBtn" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save</button>
				}
				<input type="reset" id="CancelBtn" class="btn btn-primary btn-sm" value="Cancel">
				<!--@Html.ActionLink("Exit", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })-->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Manage Target Date</h3>
					 </div>
						@if (Model.ProjectJurisdictionOffset.Count > 0)
						{
						<div class="form-horizontal" >
							<span class="pull-right"><a class="text-danger" data-toggle="modal" href='' id="JurOffSet">*Click here to view Jurisdiction Target Offset Rules for this project.</a>&nbsp;&nbsp;</span>
						</div>
						}
						<div class="panel-body">
							<div class="form-horizontal">
							@if (Model.TargetDateInfo.ReviseMode != TargetDateReviseMode.EnterOriginalTarget)
							{
									<div class="form-group form-group-sm">
										@Html.LabelFor(model => model.TargetDateInfo.ReviseMode, new { @class = "control-label col-sm-2" })
										<div class="col-sm-5" id="divRevise">
											@if (Util.HasAccess(Permission.OriginalTargetDate, AccessRight.Edit) || (Model.TargetDateInfo.AllowEditOriginalDate == true && Util.HasAccess(Permission.TargetDate, AccessRight.Edit)))
											{
												@Html.RadioButtonFor(m => m.TargetDateInfo.ReviseMode, TargetDateReviseMode.ModifyOriginalTarget, new { @class = "radio-inline" }) @:Original Target
											}
											@Html.RadioButtonFor(m => m.TargetDateInfo.ReviseMode, TargetDateReviseMode.ModifyCurrentTarget, new { @class = "radio-inline" }) Current Target
											<br />@Html.ValidationMessageFor(m => m.TargetDateInfo.ReviseMode)
										</div>
									</div>
							}
							else
							{
									@Html.HiddenFor(model => model.TargetDateInfo.ReviseMode);
							}
								<div class="form-group form-group-sm">
									@if (Model.TargetDateInfo.ReviseMode != TargetDateReviseMode.EnterOriginalTarget)
								{
										@Html.LabelFor(model => model.TargetDateInfo.NewTargetDate, new { @class = "control-label col-sm-2" })
								}
								else
								{
										@Html.Label("Enter Original Target Date:", new { @class = "control-label col-sm-2" })
								}
									<div class="col-sm-5">
										@Html.EditorFor(model => model.TargetDateInfo.NewTargetDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "New Target Date", AutoComplete = "off" } })
									</div>
								</div>
								@if (Model.TargetDateInfo.ReviseMode != TargetDateReviseMode.EnterOriginalTarget)
								{
									<div class="form-group form-group-sm" id="divReason">
										@Html.LabelFor(model => model.TargetDateInfo.Reason, new { @class = "control-label col-sm-2" })
										<div class="col-sm-5">
											@Html.LookupFor(model => model.TargetDateInfo.ReasonId, model => model.TargetDateInfo.Reason, LookupAjax.TargetDateChangeReason, false, new { @placeholder = "Select Change Reason" })
											@Html.ValidationMessageFor(model => model.TargetDateInfo.Reason)
										</div>
									</div>
								}
								<div class="form-group">
									@Html.LabelFor(model => model.TargetDateInfo.Detail, new { @class = "control-label col-sm-2" })
									<div class="col-sm-5">
										@Html.TextAreaFor(model => model.TargetDateInfo.Detail, 3, 120, new { @class = "form-control", @placeholder = "Detail Reason", maxLength="500"})
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(model => model.TargetDateInfo.ApplyToProject, new { @class = "control-label col-sm-2" })
									@if (Model.AllowUpdateOptions)
									{
									<div class="col-sm-5">
										@Html.RadioButtonFor(m => m.TargetDateInfo.ApplyToProject, 1, new { @class = "radio-inline" }) Apply To All Jurisdictions in Project
										@Html.RadioButtonFor(m => m.TargetDateInfo.ApplyToProject, 0, new { @class = "radio-inline" }) Apply To Selected Jurisdictions (Below)
										<br />@Html.ValidationMessageFor(m => m.TargetDateInfo.ApplyToProject)
									</div>
									}
									else
									{
									<div class="col-sm-5">
										@Html.RadioButtonFor(m => m.TargetDateInfo.ApplyToProject, 1, new { @class = "radio-inline", disabled = "disabled" }) Apply To All Jurisdictions in Project
										@Html.RadioButtonFor(m => m.TargetDateInfo.ApplyToProject, 0, new { @class = "radio-inline", disabled = "disabled" }) Apply To Selected Jurisdictions (Below)
										<br /><span class="text-info">(Note:- Target Date for Jurisdictions can not be updated in (c) bundle. You must update through original project.)</span>
									</div>
									}
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog" style="height:90%">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div id='HistoryContainer'>
					</div>
				</div>
			</div>
	   </div>

		<!-- Modal Jur offset-->
		<div class="modal fade" id="myJurModal" role="dialog" style="height:70%">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Jurisdictions Target Date Offset Rules</h4>
					</div>
					<div class="modal-body" style="height: 90%; height: 220px; overflow-y: auto; font-size: 10px;">
						<font class="text-danger">*Target Date for following jurisdictions need extra offset days.</font>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Jurisdiction</th>
										<th>Offset days</th>
										<th>Reason</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var j in Model.ProjectJurisdictionOffset)
									{
										<tr>
											<td>@Html.DisplayFor(m => j.Jurisdiction)</td>
											<td>@Html.DisplayFor(m => j.Offset)</td>
											<td>@Html.DisplayFor(m => j.Reason)</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<div class="row">
	<div class="form-horizontal">
		<div class="form-group">
			@Html.Label("Available Jurisdictions:", new { @class = "control-label col-sm-2" })
			<div class="col-sm-6">
				<select id="cboJurisdictions" class="form-control" style="width:570px" multiple><option value="">----All Jurisdictions----</option></select>
			</div>
			<div class="col-sm-2 text-left" >
				<button id="Reload" title="Reload grid data" class="btn btn-default" >Reload</button>
			</div>
		</div>
		
	</div>
	@Html.Trirand().JQGrid(Model.JurisdictionsGrid.Grid, "TargetDateGrid")
</div>

 @section scripts{
 @Scripts.Render("~/bundles/script/jqgrid")
 <script>
		function ViewTargetHistory(cellValue, options, rowdata, action) {
			return '<a href="javascript:LoadHistory(0,' + options.rowId + ')" id="History">[History]</a>';
		}

		function LoadHistory(ProjectID, PrimaryID) {
			var url = '@Url.Action("LoadTargetHistory")?ProjectID=' + ProjectID + '&PrimaryID=' + PrimaryID;
			$.get(url, function (data) {
				$('#HistoryContainer').html(data);

				$('#myModal').modal('show');
			});
		}
	   
		//Check project onHold
		function checkOnHold(){
				var url = '@Url.Action("CheckProjectOnHold", "TargetDate", new { projectId = @Model.TargetDateInfo.ProjectID })'
				var result =""
				$.ajax({
					dataType: "json",
					url: url,
					async: false,
					success: function(data) {
						if (data.length > 0) {
							result= data[0].onHold;
						}
					}
				});
				return result;
		 }

		//Check Target date greater than jurisdiction received date
		function checkJurRcvdcDate(targetDate, selPrimarys) {                            
				var ids = $("#TargetDateGrid").jqGrid("getDataIDs");
				for (var i = 0; i < ids.length; i++) {
					var rowId = ids[i];
									   
					if (selPrimarys == "" || selPrimarys.indexOf(rowId) >= 0) {
						var ret = $("#TargetDateGrid").jqGrid('getRowData', rowId);
												
						var JurDate = new Date(ret.JurisdictionRcvdDate);
						if (JurDate > new Date(targetDate)) {
							return false;
						}
					}
				}
				return true;
		}
		   
		//Disable for OH items
		function disableOH() {
			var ids = $("#TargetDateGrid").jqGrid("getDataIDs");
		   
			for (var i = 0; i < ids.length; i++) {
				var rowId = ids[i];
				var row = $("#TargetDateGrid").jqGrid('getRowData', rowId);
				var JurStatus = row.JurisdictionStatus;
				if (JurStatus == "@JurisdictionStatus.OH") {
					var checkbox = $("#jqg_TargetDateGrid_" + rowId);
					checkbox.css("visibility", "hidden");
					checkbox.attr("disabled", true);
				 }
			}
		}
	 
		 //Check offset
		 function getJurOffsetdate(targetDate, selPrimarys)
		 {
			 var html;
			 html = "";
			 var url = '@Url.Action("GetJurOffsetTarget", "TargetDate")?projectId=@Model.TargetDateInfo.ProjectID&targetDate=' + targetDate + '&jurList=' + selPrimarys + '&projectCertificationLabId=' + @Model.TargetDateInfo.ProjectCertificationLabId
			 $.ajax({
				 dataType: "json",
				 url: url,
				 async: false,
				 success: function (data) {
					 if (data.length > 0) {
						 html = "<br><font color=red>Following Jurisdictions Target date will be updated as below.</font>"
						 html += "<br>" + data
					 }
				 }
			 });
		   
			 html = html.replace(new RegExp(",", "g"), '<br>')
			 html += "<br><br>"
			 return html
		 }
	 
		//Available Jurisdictions for Project
		function getDropdowndata(){
			var html='';
			var url = '@Url.Action("GetJurisdictions", "TargetDate", new {projectId = @Model.TargetDateInfo.ProjectID })'
			$.getJSON(url, null, function (data) {
				if (data.length > 0) {
					for (x = 0; x < data.length; x++) {
						html += '<option value="' + data[x].Id + '">' + data[x].Name + '(' + data[x].Id + ')' + '</option>';
					}
				}
			   $('#cboJurisdictions').append(html);
			});
		}

		//Reload after Jur filter
		$("#Reload").click(function () {
			var selectedJur = $('#cboJurisdictions').val();
			if (selectedJur == null) { selectedJur = ""; }
			var url = '@Url.Action("GetJurData", "TargetDate")?jurlist=' + selectedJur + '&projectId=@Model.TargetDateInfo.ProjectID'
			$("#TargetDateGrid").jqGrid("setGridParam", {
				url: url
			}).trigger("reloadGrid");
		});


		 $(document).ready(function ()
		 {
					//Remove checkbox for OH items
					var TargetGrid = $('#TargetDateGrid')
					TargetGrid.jqGrid("setGridParam", {
						gridComplete: function () {
							disableOH();
						},
						loadComplete: function () {
							disableOH();
						},

					});

					//Available jurisdictions
					getDropdowndata();
					
					//Save Target Date
					$('#SaveBtn').on('click', function ()
					{
					 
						if (checkOnHold() == 1) {
							bootbox.alert("Project is on Hold. Target Dates can not be revised.");
						}
						else {
							var confirmMsg = "";
							var selRow = $("#TargetDateGrid").jqGrid('getGridParam', 'selarrrow');
							var targetDate = $('#TargetDateInfo_NewTargetDate').val();

							if ($('#TargetDateInfo_ProjectStatus').val() == "@ProjectStatus.DN.ToString()") {
								confirmMsg = confirmMsg + "- You are trying to change Target Date of Closed Project. <br>";
							}

							if ($('input[Id=TargetDateInfo_ReviseMode]:radio:checked').val() == "@TargetDateReviseMode.ModifyCurrentTarget") {
							   
								var todayDate = new Date();
								if (todayDate > new Date(targetDate)) {
									confirmMsg = confirmMsg + "- Entered Target Date is in past. <br>";
								}
							  
								if ($('#TargetDateInfo_Reason').val() == "") {
									bootbox.alert("Please enter reason.");
									return false;
								}

								if ($('#TargetDateInfo_Detail').val() == "") { $('#TargetDateInfo_Detail').val($('#TargetDateInfo_Reason').val()); }
							}
							else {
								if ($('#TargetDateInfo_Detail').val() == "") {
									bootbox.alert("Please enter detail.");
									return false;
								}
							}

							if ($('input[Id=TargetDateInfo_ApplyToProject]:radio:checked').val() == 0 && selRow == "") {
								bootbox.alert("Please select jurisdictions.");
								return false;
							}

							if (selRow != "" && $('input[Id=TargetDateInfo_ApplyToProject]:radio:checked').val() == 1) {
								confirmMsg = confirmMsg + "- You have selected jurisdictions and selected to Apply to Project(All jurisdictions). <br>";
							}

							$('#TargetDateInfo_PrimaryList').val(selRow);
							var selPrimary = ($('#TargetDateInfo_PrimaryList').val() == "") ? "" : $('#TargetDateInfo_PrimaryList').val();
												  
							if (checkJurRcvdcDate(targetDate, selPrimary) == false) {
								bootbox.alert("Target date can not be before Jurisdiction Received date.");
								return false;
							}

							var buttons = {
									cancel: {
										label: "Save",
										callback: function () {
											$('#SetTargetDateForm').submit();
										}
									},
									ok: {
										label: "Cancel",
										callback: function(){
											
										}
									}
								}

							var offSetJur = getJurOffsetdate(targetDate, selPrimary)
							confirmMsg = confirmMsg + offSetJur
							
							if (offSetJur != "<br><br>") {
								var buttons = {
									cancel: {
										label: "Apply Offset and Save",
										callback: function () {
											$("#ApplyOffSet").val("True")
											$('#SetTargetDateForm').submit();
										}
									},
									noclose: {
										label: "Do Not Apply Offset and Save",
										callback: function(){
											$("#ApplyOffSet").val("False")
											$('#SetTargetDateForm').submit();
										}
									},
									ok: {
										label: "Cancel",
										callback: function(){
											
										}
									}
								}

							}
							
							var dialog = bootbox.dialog({
								title: 'Confirmation!!',
								message: confirmMsg + "Are you sure you want to save?",
								size: 'large',
								buttons: buttons
							});
						   
						   // bootbox.confirm(confirmMsg + "Are you sure you want to save?", function (result) {
							   // if (result) { $('#SetTargetDateForm').submit(); };
							//});
						}
					});

					$('#divRevise input[type="radio"]').on('click', function () {
						if ($('input[Id=TargetDateInfo_ReviseMode]:radio:checked').val() == "@TargetDateReviseMode.ModifyOriginalTarget") {
							$('#TargetDateInfo_ReasonId').val('').change();
							$('#TargetDateInfo_Reason').val('Other');
							$('#TargetDateInfo_ReasonId').prop('disabled', true);
						}
						else {
							$('#TargetDateInfo_ReasonId').prop('disabled', false);
						}
					});

					$('#History').click(function () {
						var url = $(this).data('url');
						$.get(url, function (data) {
							$('#HistoryContainer').html(data);
							$('#myModal').modal('show');
						});
					});

					$('#JurOffSet').click(function () {       
						$('#myJurModal').modal('show');
					});

					$('#CancelBtn').click(function () {
						//window.opener.location.reload();
						window.close();
						//history.back();
					});
				  
					if ("@Request["ModifyOriginal"]" == "1")
					{
						$("#TargetDateInfo_ReviseMode").val(["@TargetDateReviseMode.ModifyOriginalTarget"]);
						$("#TargetDateInfo_ReviseMode").click();
					}
		});

</script>
 }


