﻿@model Submissions.Web.Areas.Acumatica.Models.PushProjectViewModel

@{
	ViewBag.Title = "Acumatica Push Project";
	Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");
}
<div class="row">
	<div class="col-sm-6">
		<h1>Push Acumatica Project to Tenant</h1>
	</div>
	<div class="col-sm-6">
		<div class="btn-group pull-right">
			@Html.ActionLink("Exit", "Index", "Dashboard", new { }, new { @Class = "btn btn-primary" })
		</div>
	</div>
</div>

<div class="row col-sm-12">
	<div id="app"></div>
</div>

@section scripts {
	<script>
		var initialData = @Html.Raw(Submissions.Common.ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
