﻿@model Submissions.Web.Areas.Protrack.Models.Project.ManageBundleVM
@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.modal.modal-wide .modal-dialog {
			width: 60%;
			height: auto;
		}
	</style>
}
@{
	ViewBag.Title = "Manage QA Bundle";
}

<div class="row">
	<div class="col-sm-8">
		<h3 class="form-h3">
			@ViewBag.Title -
			<small>
				<a href="@Url.Action("Detail", "Project", new { id = Model.ProjectId })" target="_blank">@Model.Name</a>
				@if (Model.MergedWith != null)
				{
					@: (<font class="text-warning"> Note: - </font>Project is merged with <b>@Model.MergedWith</b>)
				}
			</small>

		</h3>
	</div>
	<div class="col-sm-4 form-buttons text-right">
		@if (Model.ENStatus != ProjectStatus.DN.ToString())
		{
			<input type="button" id="AddQATasks" class="btn btn-primary btn-sm" value="Add QA Tasks">
			<div class="btn-group">
				<a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="fas fa-gear"></i> Manage Jurisdictions&nbsp;<i class="fas fa-caret-down" title="Toggle dropdown menu"></i>
				</a>
				<ul class="dropdown-menu">
					@if (Model.IsTransfer == false)
					{
						if (Model.NewSubmissionJurisdictionsNotIncluded.Count > 0)
						{
							<li><a href="#" onclick="DoAction('AddJurs')"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; AddJurisdiction(s)</a></li>
						}
					}
					else if (Model.IsTransfer == true)
					{
						<li><a href="#" onclick="DoAction('AddJurs')"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add Jurisdiction(s)</a></li>
					}
					<li><a href="#" onclick="DoAction('CreateTransfer')"><i class="fas fa-minus" aria-hidden="true"></i>&nbsp;&nbsp;Exclude Jurisdiction(s)</a></li>
					<li><a href="#" onclick="DoAction('MergeBundle')"><i class="fas fa-compress" aria-hidden="true"></i>&nbsp;&nbsp;Merge Bundle</a></li>
					@if (Model.IsTransfer == true)
					{
						<li><a href="#" onclick="DoAction('DeleteBundle')"><i class="fas fa-trash-alt" aria-hidden="true"></i>&nbsp;&nbsp;Delete Bundle</a></li>
					}
				</ul>
			</div>
		}
		<input type="reset" id="CancelBtn" class="btn btn-primary btn-sm" value="Cancel" onclick="window.parent.location.reload();window.close()">
	</div>
</div>
@using (Html.BeginForm("Save", "ManageBundle", FormMethod.Post, new { ManageBundleModel = Model, Id = "ManageBundleForm" }))
{

	@Html.HiddenFor(m => m.ProjectId)
	@Html.HiddenFor(m => m.IsTransfer)
	@Html.HiddenFor(m => m.ENStatus)
	@Html.HiddenFor(m => m.QAStatus)
	@Html.HiddenFor(m => m.Name)
	@Html.HiddenFor(m => m.BundleType)
	@Html.HiddenFor(m => m.AllowTargetSave)
	@Html.HiddenFor(m => m.UpdateToENAccepted)
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Bundle Information</h3>
		</div>
		<div class="panel-body">
			<div class="form-horizontal">

				<div class="row">
					<div class="col-sm-3">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.QAReviewerId, new { @class = "control-label col-sm-4" })
							<div class="col-sm-8">
								@Html.LookupFor(m => m.QAReviewerId, m => m.QAReviewer, LookupAjax.Users, false, new { data_filter = Json.Encode(Model.QAFilter) })
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.QASupervisorId, new { @class = "control-label col-sm-3" })
							<div class="col-sm-9">
								@Html.LookupFor(m => m.QASupervisorId, m => m.QASupervisor, LookupAjax.Users, false, new { data_filter = Json.Encode(Model.QAFilter) })
							</div>
						</div>
					</div>

					<div class="col-sm-2 padr0 padl0">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.TargetDate, new { @class = "control-label col-sm-5 padr0" })
							<div class="col-sm-7 padr0">
								@if (Model.AllowTargetSave == true)
								{
									@Html.EditorFor(m => m.TargetDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "New Target Date" } })
								}
								else
								{
									@Html.DisplayFor(m => m.TargetDate)
									if (Model.ENStatus != ProjectStatus.DN.ToString())
									{
										<a href="#" onclick="DoAction('ManageTarget')">[Revise]</a>
									}
									@Html.HiddenFor(x => x.TargetDate)
								}
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.SkipEngineering, new { @class = "control-label col-sm-10" })
							<div class="col-sm-2">
								@if (Model.ENStatus == ProjectStatus.DN.ToString())
								{
									@Html.CheckBox("SkipEngineeringDisabled", Model.SkipEngineering, new { @disabled = true, @title="Skip Engineering" })
									@Html.HiddenFor(m => m.SkipEngineering)
								}
								else
								{
									@Html.CheckBoxFor(x => x.SkipEngineering, new { @title="Skip Engineering"})
								}
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.CertNotNeeded, new { @class = "control-label col-sm-10" })
							<div class="col-sm-2">
								@if (Model.ENStatus == ProjectStatus.DN.ToString())
								{
									@Html.CheckBox("CertNotNeededDisabled", Model.CertNotNeeded, new { @disabled = true, @title="Certification is not needed" })
									@Html.HiddenFor(m => m.CertNotNeeded)
								}
								else
								{
									@Html.CheckBoxFor(x => x.CertNotNeeded, new {@title= "Certification is not needed" })
								}
							</div>
						</div>
					</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.CPReqd, new { @class = "control-label col-sm-6" })
								<div class="col-sm-6">
									@if (Model.ENStatus == ProjectStatus.DN.ToString())
									{
										@Html.CheckBoxFor(m => m.CPReqd, new { @disabled = true })
									}
									else
									{
										@Html.CheckBoxFor(m => m.CPReqd)
									}

								</div>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="form-group form-group-sm">

								@Html.LabelFor(m => m.EngNotes, new { @class = "control-label col-sm-3" })
								<div class="col-sm-9">
									@if (Model.ENStatus == ProjectStatus.UU.ToString())
									{
										@Html.TextAreaFor(x => x.EngNotes, 3, 5, new { @class = "form-control", maxlength = 500 })
									}
									else
									{
										@Html.TextAreaFor(x => x.EngNotes, 3, 5, new { @class = "form-control", @readonly = true, maxlength = 500 })
									}
								</div>

							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group form-group-sm">

								@Html.LabelFor(m => m.ENEmailSent, new { @class = "control-label col-sm-3" })
								<div class="col-sm-9">
									<table width="100%">
										<tr>
											<td width="70%">
												@if (Model.ENStatus == ProjectStatus.UU.ToString())
												{
													@Html.LookupFor(m => m.EngSupervisorId, m => m.EngSupervisor, LookupAjax.Users, false, new { data_filter = Json.Encode(Model.ENFilter) })
												}
												else
												{
													@Html.LookupFor(m => m.EngSupervisorId, m => m.EngSupervisor, LookupAjax.Users, false, new { @disabled = true })
												}
											</td>
											<td width="30%">
												&nbsp;
												@if (Model.ENEmailSent != null)
												{
													<i class="fas fa-exclamation-circle" aria-hidden="true" title="Email was sent to @Model.EngSupervisor on @Model.ENEmailSent"></i>
												}
												@if (Model.ENStatus == ProjectStatus.UU.ToString())
												{
													@: &nbsp; &nbsp;<a href="#" onclick="SendEmail()">[Send]</a>
												}
											</td>
										</tr>
									</table>

								</div>

							</div>
						</div>

						<div class="col-sm-1 text-right">
							<button type="button" class="btn btn-sm btn-primary" id="BundleSave"><i class="fas fa-save"></i>&nbsp;Save</button>
						</div>
					</div>

				</div>
		</div>
	</div>
}
@if (Model.ShowMissingItemsFromOrgCertWarning == true && Model.BundleType == BundleType.ClosedTesting)
{
	<div class="alert alert-warning">
		<strong>Warning!</strong> There are additional file numbers associated to the original bundle.  Click Add for these file numbers to be included to this corr/add bundle. &nbsp;<input type="button" class="btn btn-primary" value="Add" onclick="addJursFromOrgCert()" />
	</div>
}

<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.JurisdictionItemGrid.Grid, Model.JurisdictionItemGrid.Grid.ID)
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" style="height:80%">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div id='myDataContainer'>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-wide fade" id="myWideModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div id='ModalWideContainer'>
						@if (Model.NewSubmissionJurisdictionsNotIncluded != null)
						{
							if (Model.NewSubmissionJurisdictionsNotIncluded.Count > 0)
							{
								<div class="row">
									<div class="col-sm-6">
										<b>Add To File: @Model.Name</b>
									</div>
									<div class="col-sm-6 text-right">
										<button type="button" id="AddNewSubJur" class="btn btn-primary btn-sm">Add</button>
									</div>
								</div>

								<div class="slidingDiv" style="height: 200px; overflow-y:scroll">
									<table class="table table-condensed">
										<thead>
											<tr>
												<th><input type=checkbox class="ApplyAllMaster"></th>
												<th>Id Number</th>
												<th>GameName</th>
												<th>Version</th>
												<th>Jurisdiction</th>
												<th>Jurisdiction Id</th>
												<th>Jur Rcvd</th>
												<th>Jur Status</th>
											</tr>
										</thead>
										<tbody>
											@for (var i = 0; i < Model.NewSubmissionJurisdictionsNotIncluded.Count; i++)
											{
												<tr>
													<td><input type=checkbox class="AddNewSubJur" value="@Model.NewSubmissionJurisdictionsNotIncluded[i].Id"></td>
													<td>@Html.DisplayFor(m => m.NewSubmissionJurisdictionsNotIncluded[i].IDNumber)</td>
													<td>@Html.DisplayFor(m => m.NewSubmissionJurisdictionsNotIncluded[i].GameName)</td>
													<td>@Html.DisplayFor(m => m.NewSubmissionJurisdictionsNotIncluded[i].Version)</td>
													<td>@Html.DisplayFor(m => m.NewSubmissionJurisdictionsNotIncluded[i].Jurisdiction)</td>
													<td>@Html.DisplayFor(m => m.NewSubmissionJurisdictionsNotIncluded[i].JurisdictionId)</td>
													<td>@Html.DisplayFor(m => m.NewSubmissionJurisdictionsNotIncluded[i].JurRcvdDate)</td>
													<td>@Html.DisplayFor(m => m.NewSubmissionJurisdictionsNotIncluded[i].JurisdictionStatus)</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							}
						}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		var grid = $('#' + '@Model.JurisdictionItemGrid.Grid.ID')
		$(function () {

			if ($('#BundleType').val() == "@BundleType.ClosedTesting" && "@Request["From"]" == "Bundle") {
				if ("@Request["BundleType"]" == "Branded Report") {
					$('#SkipEngineering').prop('checked', true);
				}
				else {
					alert("Please make sure to select Skip Engineering if this bundle does not need to go to Engineering.")
				}
			}

			$(".ApplyAllMaster").change(function () {
				$(".AddNewSubJur").prop('checked', $(this).prop("checked"));
			});

			$('#AddQATasks').click(function () {
				var url = '@Url.Action("Index", "QATasks")?projectId=' + $("#ProjectId").val();
				window.open(url)
			})

			$('#AddNewSubJur').click(function () {
				var itemChecked = false;
				$(".AddNewSubJur").each(function () {
					if ($(this).is(':checked')) {
						itemChecked = true;
					}
				})

				if (itemChecked == false){
					bootbox.alert("Please select a jurisdiction.")
				}
				else{
					var allIds = $('.AddNewSubJur').map(function () {
						if ($(this).is(':checked')) {
							return this.value;
						}
					}).get().join(",");

					var url = '@Url.Action("AddToNewSubmissionProject", "ManageBundle")?projectId=' + $("#ProjectId").val() + "&primarys=" + allIds
					$.ajax({
						url: url,
						type: 'post',
						success: function (data) {
							$('#myWideModal').modal('hide');
							grid.trigger('reloadGrid', [{ page: 1 }]);
						}
					})
				}
			})

			$('#BundleSave').click(function () {
				var msg = ''
				var updateSupervisorMsg = ""

				if ($("#SkipEngineering").is(":checked") && $('#TargetDate').val() == "") {
					msg = 'You have selected to skip Engineering. You must enter valid Target date for this bundle.'
				}
				
				if (msg != ''){
					bootbox.alert(msg)
				}
				else {

					if ($('#QASupervisorId').val() == 0) {
						msg += "You have not selected a Supervisor.<br><br>"
					}

					if ($('#QAReviewerId').val() == 0) {
						msg += "You have not selected a Reviewer.<br><br>"
					}

					if ($('#BundleType').val() == "@BundleType.ClosedTesting" && $('#ENStatus').val() == "@ProjectStatus.UU.ToString()" && $('#EngSupervisorId').val() > 0 && (!$("#SkipEngineering").is(":checked"))) {
						msg += "Are you sure this bundle needs to go Engineering?<br>"
						updateSupervisorMsg = "Do you want this bundle to go to selected Manager's queue? " + "<br><br><p>Selecting <code>'OK'</code> will update the bundle in Current Manager's queue.</p><br><p>Selecting <code>'Cancel'</code> will update the bundle in Unaccepted queue.</p>"
					}

					if (msg != '')
					{
						msg += "Do you want to continue? "
						bootbox.confirm(msg, function (result) {
							if (result) {
								if (!Em(updateSupervisorMsg)) {
									bootbox.confirm(updateSupervisorMsg, function (result1) {
										if (result1) {
											$('#UpdateToENAccepted').val("True")
											$('#ManageBundleForm').submit()
										}
										else {
											$('#ManageBundleForm').submit()
										}
									})
								}
								else {
									$('#ManageBundleForm').submit()
								}
							}
						})
					}
					else
					{
						if (!Em(updateSupervisorMsg)) {
							bootbox.confirm(updateSupervisorMsg, function (result1) {
								if (result1) {
									$('#UpdateToENAccepted').val("True")
									$('#ManageBundleForm').submit()
								}
								else {
									$('#ManageBundleForm').submit()
								}
							})
						}
						else {
							$('#ManageBundleForm').submit()
						}
					}
				}
			});
		})

		$('#ManageBundleForm').submit(function () {
			//disable Add QA Tasks button
			$("#AddQATasks").prop('disabled', true);

			$.ajax({
				url: this.action,
				type: this.method,
				data: $(this).serialize(),
				success: function (result) {
					if ("@Request["From"]" == "Bundle") {
						var url = '@Url.Action("Detail", "Project")?id=' + $('#ProjectId').val();
						window.location.href = url
					}
					else {
						window.opener.location.reload();
						open(location, '_self').close();
					}
				}
			})
			return false;
		});

		function addJursFromOrgCert(){
			var url = '@Url.Action("AddJursFromOrgCert", "ManageBundle")?projectId=' + $('#ProjectId').val();
			window.location.href = url;
		}

		function SendEmail(){
			if ($('#EngSupervisorId').val() == 0) {
				bootbox.alert("Please select supervisor.")
			}
			else {
				var url = '@Url.Action("SendEmail", "ManageBundle")?sendTo=' + $('#EngSupervisorId').val() + "&bundleName=" + $("#Name").val() + "&projectId=" + $('#ProjectId').val();
				$.ajax({
					url: url,
					type: 'post',
					success: function (data) {
						bootbox.alert("Email sent.")
					}
				})
			}
		}

		function setProjectsExpedite(id) {
			var projects = ''
			var url = '@Url.Action("CheckFilesMissingTarget", "Project")?projectIds=' + id
			$.ajax({
				url: url,
				type: 'post',
				dataType: 'json',
				success: function (data) {
					if (data.length > 0) {
						$.each(data, function (index, item) {
							projects += item + '<br>';
						});
						bootbox.alert("Target Date is not set for following project(s). You must set Target Date before Expedite project(s).<br><br>" + projects);
					}
					else {
						var Expedite = true;
						url = '@Url.Action("Index", "Expedite")?projectId=' + id + "&Expedite=" + Expedite
						$('#myDataContainer').load(url);
						$('#myModal').modal('show');
					}
				}
			})
		}

		function deleteBundle(projectId){
			if ('@Model.HasTasks'=='True') {
				bootbox.alert('Cannot delete as the bundle has protrack tasks.');
				return false;
			}
			var msg = "Your are about to delete a bundle. All Items for this bundle will be available to add in some other bundle. Do you want to continue?"
			bootbox.confirm(msg, function (result) {
				if (result) {
					var url = '@Url.Action("DeleteProject", "ManageBundle")?projectId=' + projectId
					$.ajax({
						url: url,
						type: 'post',
						success: function (data) {
							bootbox.alert("Bundle Deleted.")
							window.open('', '_self', ''); window.close();
						}
					})
				}
			})
		}

		function DoAction(sAction) {
			var url = '';
			if (sAction == 'AddJurs') {
				if ($('#IsTransfer').val() == "True") {
					url = '@Url.Action("Index", "CreateNewBundle")?AddToExisitingProjectId=' + $('#ProjectId').val();
				}
				else {
					openNewSubmissionAddJur();
				}
			}
			else if (sAction == 'CreateTransfer'){
				url = '@Url.Action("Index", "CreateTransfer")?Id=' + $('#ProjectId').val();
			}
			else if (sAction == 'MergeBundle'){
				url = '@Url.Action("Index", "MergeProjects")?Id=' + $('#ProjectId').val();
			}
			else if (sAction == 'DeleteBundle'){
				deleteBundle($('#ProjectId').val());
			}
			else if (sAction == 'ManageTarget'){
				url = '@Url.Action("Index", "TargetDate")?projectId=' + $('#ProjectId').val();
			}
			else if (sAction == 'Expedite'){
				setProjectsExpedite($('#ProjectId').val())
			}

			if (url != '')
			{
				window.open(url, "ManageBundle").focus();
			}
		}

		function openNewSubmissionAddJur(){
			 $('#myWideModal').modal('show');
		}

		function projectJurisdictionItemGridBeforeAjaxRequest() {
			var filters = {};
			filters.ProjectIds = [$('#ProjectId').val()];

			var postData = $(this).jqGrid('getGridParam', 'postData');

			postData.CustomFilters = JSON.stringify(filters);
			$(this).jqGrid('setGridParam', { postData: postData });
		}

	</script>
}