﻿// WARNING: Changes you make here need to be pushed to the
// manually-generated PDF stylesheet as well. To generate it,
// run the following on the command line in this file's directory:

//     npx sass pdf.scss:pdf.css --watch

//For css that applies to both the front-end and the PDF

$table-border-color: rgb(180, 180, 180);
$table-header-color: rgb(229, 229, 229);
$text-color: #000;
$text-secondary-color: #666;
$padding-small: 0.05in;
$paragraph-margin: 8pt;
$line-height-adjustment: 6pt;

@import "shared-fixes";

*:not([class^="fa"]) {
	font-family: "Calibri", sans-serif;
	font-size: 12pt;
	line-height: 10pt + $line-height-adjustment;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin: $paragraph-margin * 2 0 $paragraph-margin;
}

h1 {
	$fontSize: 26pt;

	font-size: $fontSize;
	line-height: $fontSize;
}

h2 {
	$fontSize: 22pt;

	font-size: $fontSize;
	line-height: $fontSize;
}

h3 {
	$fontSize: 19pt;

	font-size: $fontSize;
	line-height: $fontSize;
}

h4 {
	$fontSize: 16pt;

	font-size: $fontSize;
	line-height: $fontSize;
}

h5 {
	$fontSize: 12pt;

	font-size: $fontSize;
	line-height: $fontSize;
}

h6 {
	$fontSize: 12pt;

	color: $text-secondary-color;
	font-size: $fontSize;
	line-height: $fontSize;
}

th,
td {
	border-color: $table-header-color;
	padding: $padding-small;
}

tr,
td {
	&.default-header-background {
		background: $table-header-color;
	}

	&.default-header-border,
	&.default-border {
		border: solid $text-color 1pt;
	}
}

.gli-letter-gen-memo,
p {
	margin-bottom: $paragraph-margin;
	overflow-wrap: anywhere;
}

.gli-letter-gen-memo {
	text-align: justify;

	p {
		text-align: justify;
	}

	table {
		text-align: left;
	}
}

p,
td {
	&.default-margins {
		margin: 0;
	}
}

.align-center {
	text-align: center;
}

td.default-word-break {
	word-break: break-word;
}

.gli-letter-gen-memo .illinois-row-border table,
.gli-letter-gen-memo .illinois-row-border tr,
.gli-letter-gen-memo .illinois-row-border td,
.gli-letter-gen-memo .illinois-row-border th {
	border-top: 3px solid black; 
	border-bottom: 3px solid black;
}

.gli-letter-gen-memo table,
.gli-letter-gen-memo tr,
.gli-letter-gen-memo td,
.gli-letter-gen-memo th {
	border: solid 1px $table-border-color;
}

table {
	width: 100%;
	padding: 0px
}

table.default {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	page-break-inside: avoid;
	table-layout: fixed;
}

.footer {
	padding: 0 20px 20px 10px;

	.gli-letter-gen-memo table,
	.gli-letter-gen-memo tr,
	.gli-letter-gen-memo td,
	.gli-letter-gen-memo th {
		border: none;
	}
}

.header {
	padding: 20px 20px 0;

	.gli-letter-gen-memo table,
	.gli-letter-gen-memo tr,
	.gli-letter-gen-memo td,
	.gli-letter-gen-memo th {
		border: none;
	}
}

blockquote {
	border-left: 2pt solid $table-header-color;
	margin: 0 0 $paragraph-margin;
	padding: 0 $paragraph-margin;
}

code {
	background: $table-header-color;
	border-radius: 3pt;
	color: $text-color;
	display: inline-block;
	font-family: "Consolas", monospace;
	padding: 0 3pt;
}

th {
	background-color: $table-header-color;
	border-color: $table-border-color;
}

.first-page-font {
	color: black;
	font-family: Calibri;
	font-size: 11pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	margin-bottom:0px;
}

td.first-page-left-column {
	margin-bottom: 0;
	padding: 0 5.4pt;
	text-align: right;
	vertical-align: top;
	width: 250pt;
}

td.first-page-right-column {
	margin-bottom: 0;
	padding: 0 5.4pt;
	text-align: left;
	vertical-align: top;
	width: 255.95pt;
}
.letter-page-column-min {
	padding: 0px 17px 0px 17px;
}
.fit-content-height {
	height: fit-content;
}
