﻿/* CSS for the on-screen page element */

.letter-page-break {
	/* page-break-before: always; */
	page-break-after: always;
}

.letter-page-landscape {
	page: landscapeletter;
}

/* This expands the page-looking element to fit the entire page of the generated PDF */
.letter-page-margin {
	margin-left: auto;
	margin-right: auto;
}

/* CSS for paging effects when put to PDF */
@page {
	margin-top: 10%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 20%;
	size: a4 portrait;
	counter-increment: page;

	@top-left {
		content: element(globe);
	}

	@top-center {
		content: element(headerCenterText)
	}

	@top-right {
		content: element(headerRightText);
	}

	@bottom-center {
		content: element(footer);
	}

}

#headerRightText {
	position: running(headerRightText);
}

#headerCenterText {
	position: running(headerCenterText);
}

#footer {
	position: running(footer);
}

#globe {
	position: running(globe);
}

#pageNumbers:after {
	content: counter(pages)
}

#pageNumber:after {
	content: counter(page)
}



@page :blank {
	@top-center {
		content: "This page is intentionally left blank";
	}
}

@page LandscapeLetter {
	size: landscape;
}

@page PortraitLetter {
	size: portrait;
}
