﻿/*For front-end specific css that doesn't belong in the PDF*/

//the ::v-deep tag lets this css selector work in child components
::v-deep {
	@import "shared";

	.letter-page-column {
		padding: 14px 34px 7px; /* top right bottom left */
		vertical-align: top;
	}

	div {
		box-sizing: border-box;
	}

	.default-padding {
		padding: 4px 7px; /* top right bottom left */
	}
	/* IText adds extra padding to cells in tables */
	.default-padding-right-edge {
		padding: 4px 16px 4px 7px; /* top right bottom left */
	}
	/* IText adds extra padding to cells in tables */
	.default-padding-left-edge {
		padding: 4px 7px 4px 16px; /* top right bottom left */
	}

	.letter-page-size-portrait {
		/*
		Original dimensions...
		width: 495.25pt;
		height: 600pt;
			actual dimensions...
		width: 595.45pt; 793px;
		height: 841.7pt; 1122px;

			*/
		width: 793px;
		height: 1010px;
		/*table-layout: fixed;
		overflow: hidden;*/
	}

	.letter-page-size-landscape {
		width: 1010px;
		height: 793px;
	}

	.letter-page-shadow {
		box-shadow: 0 0 2.5em rgba(0,0,0,1);
		background-color: white;
		/*box-shadow: 5px 10px;*/
	}  

	.highlightedMemo {
		border: 5px solid red;
	}
}
