﻿/*For PDF-specific css, css that only applies to the PDF and not the view*/

@font-face {
	font-family: Calibri;
	panose-1: 2 15 5 2 2 2 4 3 2 4;
}

@import "shared";

/* These css rules compensate for differences introduced by ITextSharp */

/* iText adds extra padding to the top for some reason */
.letter-page-column {
	padding: 0px 34px 0px 34px; /*  top right bottom left */ /* Standard margins: 22.95pt 25.25pt 43.1pt 25.25pt; */
	vertical-align: top;
}

/* IText adds extra padding to cells in tables */
.default-padding {
	padding: 0px 7px 0px 7px; /* top right bottom left */
}

/* IText adds extra padding to cells in tables */
.default-padding-right-edge {
	padding: 0px 0px 0px 7px; /* top right bottom left */
}

/* IText adds extra padding to cells in tables */
.default-padding-left-edge {
	padding: 0px 7px 0px 0px; /* top right bottom left */
}

.print-hidden {
	display: none;
}

.letter-page-landscape {
	page: LandscapeLetter;
	transform: rotate(90deg) translate(2%, 23%) scale(1, 0.85);
	transform-origin: 0 0;
}

.letter-page-portrait {
	page: PortraitLetter;
	transform-origin: 0 0;
}

p div span { 
	widows: 3;
}

