/*For PDF-specific css, css that only applies to the PDF and not the view*/
@font-face {
  font-family: Calibri;
  panose-1: 2 15 5 2 2 2 4 3 2 4;
}
/* CSS for the on-screen page element */
.letter-page-break {
  /* page-break-before: always; */
  page-break-after: always;
}

.letter-page-landscape {
  page: landscapeletter;
}

/* This expands the page-looking element to fit the entire page of the generated PDF */
.letter-page-margin {
  margin-left: auto;
  margin-right: auto;
}

/* CSS for paging effects when put to PDF */
@page {
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 20%;
  size: a4 portrait;
  counter-increment: page;
  @top-left {
    content: element(globe);
  }
  @top-center {
    content: element(headerCenterText);
  }
  @top-right {
    content: element(headerRightText);
  }
  @bottom-center {
    content: element(footer);
  }
}
#headerRightText {
  position: running(headerRightText);
}

#headerCenterText {
  position: running(headerCenterText);
}

#footer {
  position: running(footer);
}

#globe {
  position: running(globe);
}

#pageNumbers:after {
  content: counter(pages);
}

#pageNumber:after {
  content: counter(page);
}

@page :blank {
  @top-center {
    content: "This page is intentionally left blank";
  }
}
@page LandscapeLetter {
  size: landscape;
}
@page PortraitLetter {
  size: portrait;
}
*:not([class^=fa]) {
  font-family: "Calibri", sans-serif;
  font-size: 12pt;
  line-height: 16pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 16pt 0 8pt;
}

h1 {
  font-size: 26pt;
  line-height: 26pt;
}

h2 {
  font-size: 22pt;
  line-height: 22pt;
}

h3 {
  font-size: 19pt;
  line-height: 19pt;
}

h4 {
  font-size: 16pt;
  line-height: 16pt;
}

h5 {
  font-size: 12pt;
  line-height: 12pt;
}

h6 {
  color: #666;
  font-size: 12pt;
  line-height: 12pt;
}

th,
td {
  border-color: #e5e5e5;
  padding: 0.05in;
}

tr.default-header-background,
td.default-header-background {
  background: #e5e5e5;
}
tr.default-header-border, tr.default-border,
td.default-header-border,
td.default-border {
  border: solid #000 1pt;
}

.gli-letter-gen-memo,
p {
  margin-bottom: 8pt;
  overflow-wrap: anywhere;
}

.gli-letter-gen-memo {
  text-align: justify;
}
.gli-letter-gen-memo p {
  text-align: justify;
}
.gli-letter-gen-memo table {
  text-align: left;
}

p.default-margins,
td.default-margins {
  margin: 0;
}

.align-center {
  text-align: center;
}

td.default-word-break {
  word-break: break-word;
}

.gli-letter-gen-memo .illinois-row-border table,
.gli-letter-gen-memo .illinois-row-border tr,
.gli-letter-gen-memo .illinois-row-border td,
.gli-letter-gen-memo .illinois-row-border th {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.gli-letter-gen-memo table,
.gli-letter-gen-memo tr,
.gli-letter-gen-memo td,
.gli-letter-gen-memo th {
  border: solid 1px #b4b4b4;
}

table {
  width: 100%;
  padding: 0px;
}

table.default {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  page-break-inside: avoid;
  table-layout: fixed;
}

.footer {
  padding: 0 20px 20px 10px;
}
.footer .gli-letter-gen-memo table,
.footer .gli-letter-gen-memo tr,
.footer .gli-letter-gen-memo td,
.footer .gli-letter-gen-memo th {
  border: none;
}

.header {
  padding: 20px 20px 0;
}
.header .gli-letter-gen-memo table,
.header .gli-letter-gen-memo tr,
.header .gli-letter-gen-memo td,
.header .gli-letter-gen-memo th {
  border: none;
}

blockquote {
  border-left: 2pt solid #e5e5e5;
  margin: 0 0 8pt;
  padding: 0 8pt;
}

code {
  background: #e5e5e5;
  border-radius: 3pt;
  color: #000;
  display: inline-block;
  font-family: "Consolas", monospace;
  padding: 0 3pt;
}

th {
  background-color: #e5e5e5;
  border-color: #b4b4b4;
}

.first-page-font {
  color: black;
  font-family: Calibri;
  font-size: 11pt;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  margin-bottom: 0px;
}

td.first-page-left-column {
  margin-bottom: 0;
  padding: 0 5.4pt;
  text-align: right;
  vertical-align: top;
  width: 250pt;
}

td.first-page-right-column {
  margin-bottom: 0;
  padding: 0 5.4pt;
  text-align: left;
  vertical-align: top;
  width: 255.95pt;
}

.letter-page-column-min {
  padding: 0px 17px 0px 17px;
}

.fit-content-height {
  height: fit-content;
}

/* These css rules compensate for differences introduced by ITextSharp */
/* iText adds extra padding to the top for some reason */
.letter-page-column {
  padding: 0px 34px 0px 34px;
  /*  top right bottom left */
  /* Standard margins: 22.95pt 25.25pt 43.1pt 25.25pt; */
  vertical-align: top;
}

/* IText adds extra padding to cells in tables */
.default-padding {
  padding: 0px 7px 0px 7px;
  /* top right bottom left */
}

/* IText adds extra padding to cells in tables */
.default-padding-right-edge {
  padding: 0px 0px 0px 7px;
  /* top right bottom left */
}

/* IText adds extra padding to cells in tables */
.default-padding-left-edge {
  padding: 0px 7px 0px 0px;
  /* top right bottom left */
}

.print-hidden {
  display: none;
}

.letter-page-landscape {
  page: LandscapeLetter;
  transform: rotate(90deg) translate(2%, 23%) scale(1, 0.85);
  transform-origin: 0 0;
}

.letter-page-portrait {
  page: PortraitLetter;
  transform-origin: 0 0;
}

p div span {
  widows: 3;
}

/*# sourceMappingURL=pdf.css.map */
