﻿@model Submissions.Web.Areas.Lookups.Models.MobileDevicesEditViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = Model.Mode + " Mobile Device";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "MobileDevices", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)

	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "MobileDevices", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Device, new { @class = "col-sm-3 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Device, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.Device)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Model, new { @class = "col-sm-3 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Model, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.Model)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.OperatingSystem, new { @class = "col-sm-3 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.OperatingSystem, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.OperatingSystem)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Browser, new { @class = "col-sm-3 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Browser, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.Browser)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.DeviceType, new { @class = "col-sm-3 control-label" })
			<div class="col-sm-3">
				@Html.EnumDropDownListFor(m => m.DeviceType, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DeviceType)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.DeviceId, new { @class = "col-sm-3 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.DeviceId, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.DeviceId)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.LocationId, new { @class = "col-sm-3 control-label" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.LocationId, m => m.Location, LookupAjax.Laboratories, true)
				@Html.ValidationMessageFor(m => m.LocationId)
			</div>
		</div>
	</div>
}