﻿@model Submissions.Web.Areas.Evolution.Models.TestScriptEditViewModel
@{
	ViewBag.Title = "Test Scripts";

}
<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		var enumQuestionType = @(Html.EnumToString<Submissions.Common.EvolutionQuestionType>());
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}