﻿<template>
	<base-field-wrapper
		:dirty="dirty" 
		:error="fieldValidation ? fieldValidation.$error : null">		
		<label 
			v-for="option in options" 
			:key="option.key || option.value">
			<input
				type="radio" 
				:checked="value === option.value" 
				:style="fieldStyle"
				@change="setChecked(option, $event.target.checked)" />
			{{ option.label }}
		</label>
		<template v-slot:errors>
			<!-- @slot Validation error messages to the user go here -->
			<slot name="errors"></slot>
		</template>
	</base-field-wrapper>
</template>

<script>
import BaseFieldWrapper from "../fieldWrapper/BaseFieldWrapper.vue";

/**
 * A radio button component with built-in support for error messages. Unlike the checkbox, this takes
 * in a series of options rather than just one.
 */
export default {
	components: {
		BaseFieldWrapper
	},
	props: {
		/**
		 * Sets the inline styling for the input field.
		 */
		fieldStyle: {
			type: Object,
			required: false,
			default: null
		},
		/**
		 * The field's validation context. Needed for dirty state and error tracking.
		 */
		fieldValidation: {
			type: Object,
			required: false,
			default: null
		},
		/**
		 * The text to show next to the checkbox.
		 */
		label: {
			type: String,
			required: false,
			default: ""
		},
		/**
		 * The list to display. Each object should contain a `label` and `value`, and optionally a 
 		 * `key` (the value is used as the key otherwise, so make sure the values are unique if you exclude this).
		 */
		options: {
			type: Array,
			required: true
		},
		/**
		 * The value to bind to the input.
		 */
		value: {
			type: null,
			required: true
		}
	},
	data: function () {
		return {
			originalValue: this.value
		};
	},
	computed: {
		dirty: {
			get: function() {
				const newValue = this.value != null ? this.value : "";
				const originalValue = this.originalValue != null ? this.originalValue : "";
				return newValue !== originalValue;
			}
		}
	},
	methods: {
		setChecked(option, checked) {
			if (checked) {
				/**
				 * Input event.
				 * @property {boolean} The value of the selected item
				 */
				this.$emit("input", option.value);
			}
			if (this.fieldValidation) {
				if (this.dirty) {
					this.fieldValidation.$reset();
				} else {
					this.fieldValidation.$touch();
				}
			}
		},
	}
};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	label {
		color: Colors.$grayDark;
		display: block;
		font-weight: normal;
		margin-bottom: Spacing.$half;

		input {
			margin-right: Spacing.$half;
		}
	}

</style>