﻿@model Submissions.Web.Areas.Documents.Models.NoteManager.EditNoteViewModel

@{
	//ViewBag.FullWidth = false;
	//ViewBag.NoFooter = false;
	ViewBag.NoContainer = true;
	ViewBag.NoFooter = true;

	ViewBag.Title = "Edit Note";
}


<div id="app"></div>


@section scripts {
	<script>
		var rootEditUrl = '/documents/noteManager/edit/';
		var rootQuestionManagerUrl = '/documents/letterquestion/edit/';
		var editMemoLink = '@Url.Action("EditMemo")';

		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}