<template>
	<div v-html="content" />
</template>

<script>
import Vue from "vue";

/**
 * Enables support for select2 item templates.
 */
export default Vue.extend({
	components: {
	},
	props: {
		data: {
			type: Object,
			required: true
		},
		templateName: {
			type: String,
			required: false,
			default: null
		},
	},
	data: function () {
		const name = this.templateName;
		return {
			content: window[name](this.data),
		};
	}
});
</script>

<style lang="scss" scoped>

</style>