﻿@model Submissions.Web.Areas.Tools.Models.ProjectDetailReviewIndexViewModel

@section css{
	<style>
		#ProjectTable td:nth-child(1) {
			width: 150px;
		}

		#ProjectTable td:nth-child(2) {
			width: 100px;
		}

		#ProjectTable td:nth-child(3) {
			width: 200px;
		}

		#ProjectTable td:nth-child(4) {
			width: 450px;
		}

		.input-projectdetail {
			width: 370px !important;
			height: 24px !important;
		}

		.btn-submit {
			font-size: 11px !important;
			padding-top: 3px;
			padding-bottom: 3px;
		}
	</style>
}

@{
	ViewBag.Title = "Submissions Project Detail Review";
}

<div class="row row-title">
	<div class="col-sm-8">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-4 form-buttons">
		@Html.ActionLink("Exit", "index", "tools", null, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

@using (Html.BeginForm("index", "projectdetailreview", FormMethod.Post, new { id = "SearchForm" }))
{
	@Html.Hidden("Mode", "Search")
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Search</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.StartDate, new { @class = "control-label col-sm-2" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datepicker", autocomplete = "off" })
								@Html.ValidationMessageFor(m => m.StartDate)
							</div>
							@Html.LabelFor(m => m.EndDate, new { @class = "control-label col-sm-2" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.EndDate, new { @class = "form-control datepicker", autocomplete = "off" })
							</div>
							<div class="col-sm-2">
								<div class="pull-right">
									<button type="button" id="SearchBtn" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>&nbsp;Search</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<div class="form-inline">
	<table id="ProjectTable" class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>File Number</th>
				<th>Submit Date</th>
				<th>Last Modified</th>
				<th>Project Detail</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Submissions.Count == 0)
			{
				<tr><td colspan="5" class="text-warning text-center"><em>No Records Found</em></td></tr>
			}
			@{
				var i = 0;
				foreach (var p in Model.Submissions)
				{
					<tr>
						<td><a href="@Url.Action("detail", "submission", new { area = "submission", fileNumber = p.FileNumber })" target="_blank">@p.FileNumber</a></td>
						<td>@p.SubmitDate.ToString("d")</td>
						<td id="EditUser_@(i)">@p.EditUser</td>
						<td>
							<div class="form-group form-group-sm">
								@Html.TextBox("ProjectDetail", p.ProjectDetail, new { id = "ProjectDetail_" + i, @class = "form-control input-projectdetail" })
							</div>
							<button class="btn btn-sm btn-primary btn-submit" data-row="@i" data-submissionheaderid="@p.SubmissionHeaderId">Submit</button>
						</td>
						<td>
							<span id="Spinner_@(i)" class="hidden"><i class="fas fa-spinner fa-spin fa-lg" style="margin-top:6px;"></i></span>
							<span id="Message_@(i)" style="color:red;"></span>
						</td>
					</tr>
					i++;
				}
			}
		</tbody>
	</table>
</div>

@section scripts{
	<script>
		$(function () {
			$('#SearchBtn').on('click', function () {
				$('#SearchForm').submit();
			});

			$('.btn-submit').on('click', function () {
				var row = $(this).data('row');
				var submissionHeaderId = $(this).data('submissionheaderid');
				var projectDetail = $('#ProjectDetail_' + row).val();

				var formData = {
					submissionHeaderId: submissionHeaderId,
					projectDetail: projectDetail
				};

				$('#Message_' + row).text('');
				$('#Spinner_' + row).removeClass('hidden');

				$.post('@Url.Action("process", "projectdetailreview")', formData)
					.done(function () {
						$('#EditUser_' + row).text('@Model.SessionUser');
						$('#Spinner_' + row).addClass('hidden');
						$('#Message_' + row).text('Successfully Updated');
					})
					.fail(function () {
						$('#Spinner_' + row).addClass('hidden');
						$('#Message_' + row).text('Update Failed');
					});
			});
		});
	</script>
}

