﻿<template>
	<div class="toggleContainer">
		<div class="toggleItem" v-bind:class="{active: active === 'left', inactive: !active}" @click="handle__click(leftText,'left')">
			<span class="text">{{leftText}}</span>
		</div>
		<div class="toggleItem" v-bind:class="{active: active === 'right', inactive: !active}" @click="handle__click(rightText,'right')">
			<span class="text">{{rightText}}</span>
		</div>
	</div>
</template>

<script>

	/** @description A mutually exclusive button component that allows you to toggle between two actions.
	 *
	 * @property {String} leftText Text of the left button.
	 * @property {String} rightText Text of the right button.
	 *
	 */
	export default {
		components: {

		},
		props: {
			leftText: {
				type: String,
				required: true
			},
			rightText: {
				type: String,
				required: true
			}
		},
		data() {
			return {
				active: 'left'
			}
		},
		methods: {
			handle__click: function (text, side) {
				this.active = side;
				this.$emit('toggle', text);
			}
		},
	};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";
	@use "sass:color";

	.active {
		color: Colors.$white;
		background: Colors.$primary;
		border-radius: 4px;
	}

	.inactive {
		color: Colors.$accentDark;
	}

	.toggleContainer {
		display: flex;
		border: solid 2px Colors.$accentLight;
		border-radius: 6px;
		padding: 4px;
		box-sizing: border-box;
	}

	.toggleItem {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;
		height: 24px;
		cursor: pointer;
	}

	.text {
		font-family: Public Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
	}
</style>