﻿@model Submissions.Web.Areas.Evolution.Models.ApproveRejectOptionsViewModel
@{ 
	ViewBag.Title = "Change Set Approval Options";
}
<style>
	label.btn {
		border-color: white;
	}

	.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
		border-radius: 4px;
	}

	label.btn.btn-success.col-sm-2, label.btn.btn-danger.col-sm-2 {
		background-color: #808080
	}

		label.btn.btn-success.col-sm-2.active {
			background-color: #398439;
		}

		label.btn.btn-danger.col-sm-2.active {
			background-color: #c9302c;
		}
	#HeaderName > h2 {
		vertical-align: middle;
		margin-top: 0px;
	}
	.dropdown-submenu {
		position: relative;
	}

	.dropdown-submenu .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -1px;
	}
</style>

<div class="row">
	<div id="HeaderName" class="col-sm-4">
		<h2>
			Change Set Approval Options:
		</h2>
	</div>
	<div class="col-sm-4">
		@Html.DropDownListFor(m=>m.TestCase, new List<SelectListItem>(), new { @class = "form-control" })
	</div>
	<div class="col-sm-4">
		<button id="confirm" type="button" class="btn btn-primary" data-toggle="button"> Confirm Selection </button>
		<button id="close-button" type="button" class="btn btn-primary" data-toggle="button"> Exit</button>
	</div>
</div>
<div class="col-sm-12">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Version</th>
				<th>Status</th>
				<th>Created On</th>
				<th>Created By</th>
				<th>Approved On</th>
				<th>Rejected On</th>
				<th>Approve / Reject </th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.RevisionVersions)
			{
				<tr id="@item.ID">
					<td>@item.Version @(item.Draft ? " DRAFT " : "" )</td>
					<td>@item.State</td>
					<td>@item.CreatedOn.ToString("MM/dd/yyyy")</td>
					<td>@item.CreatedBy</td>
					<td>@(item.ApprovedOn.ToString("MM/dd/yyyy"))</td>
					<td>@(item.RejectedOn.ToString("MM/dd/yyyy"))</td>
					<td>
						<div class="col-sm-12">
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-success col-sm-2" name="@item.ID">
									<input class="radio-approve" type="radio" name="@item.ID" id="Approve-@item.ID" autocomplete="off" value="approve"> Approve
								</label>
								<div class="col-sm-4">
									@Html.TextBox("ApproveSetDate", item.ApprovalSetDate, new { @class = "form-control datepicker", id = "ApprovalDate" + item.ID.ToString(), @autocomplete = "off" })
								</div>
								<label class="btn btn-danger col-sm-2" name="@item.ID">
									<input class="radio-reject" type="radio" name="@item.ID" id="Reject-@item.ID" autocomplete="off" value="reject"> Reject
								</label>
								<div class="col-sm-4">
									@Html.TextBox("RejectDate", item.RejectSetDate, new { @class = "form-control datepicker", id = "RejectDate" + item.ID.ToString(), @autocomplete = "off" })
								</div>
							</div>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<script>
	var model = JSON.parse('@Html.Raw(Json.Encode(Model))');
	$(function () {
		var mainUrl = '@Url.Action("ApproveRejectOptions")';
		$(".datepicker").prop('disabled', true);

		$('.btn-success').on('click', function (e) {
			var id = $(e.target).attr('name');
			$('#ApprovalDate' + id).prop('disabled', false);
			$('#RejectDate' + id).prop('disabled', true).val(null);
		});
		$('.btn-danger').on('click', function (e) {
			var id = $(e.target).attr('name');
			$('#ApprovalDate' + id).prop('disabled', true).val(null);
			$('#RejectDate' + id).prop('disabled', false);
		});

		$('#confirm').on('click', function (e) {
			var selectedOptions = [];
			for (var i = 0; i < model.RevisionVersions.length; i++) {
				var optionId = model.RevisionVersions[i].ID;
				var approveOrReject = $("input[name='" + optionId + "']:checked").val() != undefined ?
					($("input[name='" + optionId + "']:checked").val() == 'approve' ? true : false) : null;
				if (approveOrReject != null) {
					var approvalSetDate = approveOrReject ? $('#ApprovalDate' + optionId).val() : null;
					var rejectSetDate = !approveOrReject ? $('#RejectDate' + optionId).val() : null;
					if ((approveOrReject && approvalSetDate == '') || (!approveOrReject && rejectSetDate == '')) {
						bootbox.alert("A test case has been selected for approval or rejection, but a date has not been set for that action.");
						return;
					}
					selectedOptions.push({
						'TestCaseId': optionId,
						'IsApproved': approveOrReject,
						'ApprovalSetDate': approvalSetDate,
						'IsRejected': !approveOrReject,
						'RejectSetDate': rejectSetDate
					});
				}
			}

			$.post('@Url.Action("ConfirmSelections")', { 'selectedOptions': selectedOptions })
				.done(function (data) {
					if (data) {
						location.reload();
					}
					else {
						bootbox.alert("Seems like there was an error while saving.")
					}
				});

		});
		$('#close-button').on('click', function () {
			window.close();
		});
		$('#TestCase').select2();

		$.get('@Url.Action("GetUnfilteredTestCaseNames")')
			.done(function (data) {
				$.each(data, function () {
					$('#TestCase').append($('<option />').val(this.Value).text(this.Text));
				});
				$('#TestCase').val('@Model.TestCase');
			});
		$('#TestCase').on('change', function (e) {
			window.location = mainUrl + '?testCaseName=' + $('#TestCase').val().replace('&', '%26');
		});
	});
	function PostUpdateType(isMajor, asDraft) {
		var tcName = '@Model.TestCase'.replace('&amp;','&');
		$.post('@Url.Action("ChangeSetUpdate")', { isMajor: isMajor, testScriptFilters: JSON.stringify({ DraftVersion: asDraft, TestCase:tcName}) })
			.done(function (data) {
				location.reload();
			});
	}
</script>