﻿@model Submissions.Web.Areas.Evolution.Models.TestScriptHistoryIndexViewModel
@using Submissions.Core.Models.EvolutionService.Query;

@{
	ViewBag.Title = "Test Script History";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
<style>
		body > div.container.body-content {
			width: auto;
		}
		.ui-jqgrid tr.jqgrow td {
			word-wrap: break-word; /* IE 5.5+ and CSS3 */
			white-space: pre-wrap; /* CSS3 */
			white-space: -pre-wrap; /* Opera 4-6 */
			white-space: -o-pre-wrap; /* Opera 7 */
			white-space: normal !important;
			height: auto;
			vertical-align: text-top;
			padding-top: 2px;
			padding-bottom: 3px;
		}

		.nav-pills {
			line-height: 1px;
		}

		.Tabview {
			border-bottom-style: solid;
			border-bottom-width: thin;
			border-bottom-color: lightgray;
		}

		#Tabview > li {
			background-color: #eeeeee;
		}

	del, .btn-reject.active {
		background-color: #fe9c9c;
	}

	ins, .btn-approve.active {
		background-color: #c0feae;
	}
		#AppRejTable {
			width: -webkit-fill-available;
		}

	@@media (min-width: 768px) {
		body > div.bootbox.modal.fade.in > div {
				width: 800px;
				margin: 30px auto;
			}
		}
</style>
}

<div id="loadingSymbol" style="display: none;">
	@{Html.RenderPartial("~/Views/Shared/_absoluteCenterLoadingSymbol.cshtml");}
</div>


@using (Html.BeginForm("ContentSearch", "TestScriptHistory", FormMethod.Post, new { ContentModel = Model, Id = "SearchForm" }))
{
	@Html.Hidden("Filters.SearchType", "ContentChangeSearch")
}

	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@Html.ActionLink("Exit", "Index", "Home", new { Area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<ul class="nav nav-pills">
						<li class="active" id="SnapShotDateSearchTab">
							<a data-toggle="tab" href="#SnapShotDateSearch" class="panel-title">Snap Shot Date Search</a>
						</li>
						<li id="DateSearchTab">
							<a data-toggle="tab" href="#DateSearch" id="DateSwitch" class="panel-title">Date Search</a>
						</li>

					</ul>
				</div>
				<div class="panel-body tab-content">
					<div id="DateSearch" class="tab-pane in active">
						<div>
							<div class="row">
								<div class="col-sm-5">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.StartDate, new { @class = "control-label col-sm-5" })
										<div class="col-sm-7">
											@Html.TextBoxFor(model => model.Filters.StartDate, new { @class = "form-control datepicker", id = "Filters_StartDate", @autocomplete = "off" })
										</div>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.EndDate, new { @class = "control-label col-sm-5" })
										<div class="col-sm-7">
											@Html.TextBoxFor(model => model.Filters.EndDate, new { @class = "form-control datepicker", id = "Filters_EndDate", @autocomplete = "off" })
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="col-sm-12 text-right">
										<button id="DateSearchButton" class="btn btn-primary btn-sm">Search</button>
										<button id="ClearDateFiltersButton" class="btn btn-primary btn-sm">Clear</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="SnapShotDateSearch" class="tab-pane fade">
						<div>
							<div class="row">
								<div class="col-sm-5">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.SnapShotStartDateId, new { @class = "control-label col-sm-5" })
										<div class="col-sm-7">
											@Html.LookupFor(m => m.Filters.SnapShotStartDateId, x => x.Filters.SnapShotStartDate, LookupAjax.SnapShots, false, new { style = "width: 100%;" })
										</div>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.SnapShotEndDateId, new { @class = "control-label col-sm-5" })
										<div class="col-sm-7">
											@Html.TextBoxFor(model => model.Filters.SnapShotEndDate, new { @class = "form-control datepicker", id = "Filters_SnapShotEndDate", @autocomplete = "off" })
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="col-sm-12 text-right">
										<button id="SnapshotSearchButton" class="btn btn-primary btn-sm">Search</button>
										<button id="ClearSnapshotSearchButton" class="btn btn-primary btn-sm">Clear</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="col-sm-12">
	<div class="row NevadaButtonGroup">
		<div class="panel panel-default">
			<div class="panel-heading">
				Nevada Test Cases
			</div>
			<div class="panel-body tab-content">
				<div class="row">
					<div class="col-sm-5">
						<div class="col-sm-5">
							@Html.LabelFor(m => m.Filters.NevAvailableTestCases)
							(<span class="tc-counter">0</span>)
						</div>
						<div class="col-sm-7">
							<select id="NevTC"></select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-4">
							<label>Current Test Case Version:</label>
							<span class="changeSetVersionValue"></span>
						</div>
						<div class="col-sm-7">
							<button class="btn btn-primary major-rev">Create Major Version</button>
							<button class="btn btn-primary minor-rev">Create Minor Version</button>
						</div>
					</div>
					<div class="col-sm-1">
						<div class="col-sm-12">
							<button class="btn btn-primary approve-reject pull-right">Open Approve/Reject Options</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="col-sm-12">
		<div class="row ">
			<div class="col-sm-8">
				<ul class="nav nav-pills" id="Tabview">
					@if (Model.Filters.SearchType == TestScriptSearchType.ContentChangeSearch)
					{
						<li class="active ContentChange"><a href="javascript:SetGrid('@TestScriptSearchType.ContentChangeSearch.ToString()')" role="tab">Content Change Search</a></li>
					}
					else
					{
						<li class="ContentChange"><a href="javascript:SetGrid('@TestScriptSearchType.ContentChangeSearch.ToString()')" role="tab">Content Change Search</a></li>
					}
					@if (Model.Filters.SearchType == TestScriptSearchType.LinkageChangeSearch)
					{
						<li class="active LinkageChange"><a href="javascript:SetGrid('@TestScriptSearchType.LinkageChangeSearch.ToString()')" role="tab">Linkage Change Search</a></li>
					}
					else
					{
						<li class="LinkageChange"><a href="javascript:SetGrid('@TestScriptSearchType.LinkageChangeSearch.ToString()')" role="tab">Linkage Change Search</a></li>
					}
					@if (Model.Filters.SearchType == TestScriptSearchType.NevadaChangeSearch)
					{
						<li class="active NevadaChange"><a href="javascript:SetGrid('@TestScriptSearchType.NevadaChangeSearch.ToString()')" role="tab">Nevada Change Search</a></li>
					}
					else
					{
						<li class="NevadaChange"><a href="javascript:SetGrid('@TestScriptSearchType.NevadaChangeSearch.ToString()')" role="tab">Nevada Change Search (In Test)</a></li>
					}

				</ul>

			</div>
		</div>


		<div class="row">
			@Html.Trirand().JQGrid(Model.ContentChangesGrid.Grid, Model.ContentChangesGrid.Grid.ID)

			@Html.Trirand().JQGrid(Model.LinkageChangesGrid.Grid, Model.LinkageChangesGrid.Grid.ID)

			@Html.Trirand().JQGrid(Model.NevadaChangesGrid.Grid, Model.NevadaChangesGrid.Grid.ID)
			
		</div>
	</div>

<script src="@Url.Content("~/Scripts/jsdiff.js")" type="text/javascript"></script>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/colorpicker")
	<script>
		var grid = '';
		var sideGrid = $('#' + '@Model.NevadaSideGrid.Grid.ID');
		var usingSnapShots = true;
		var dialogObj = {
			title: "Approve / Reject Verisons",
			message: "<table id='AppRejTable'><tbody><tr><th>Version</th><th>Status</th><th>Created On</th><th>Created By</th><th>Approved On</th><th>Rejected On</th><th>Approve(Button&amp;Date)</th><th>Reject (Button&amp;Date)</th></tr>",
			buttons: {
				cancel: {
					label: "Cancel",
					className: "btn-danger",
					callback: function () {
						dialogObj.message = "<table id='AppRejTable'><tbody><tr><th>Version</th><th>Status</th><th>Created On</th><th>Created By</th><th>Approved On</th><th>Rejected On</th><th>Approve(Button&amp;Date)</th><th>Reject (Button&amp;Date)</th></tr>";
					}
				},
				ok: {
					label: "Confirm Selections",
					className: "btn-info",
					callback: function () {
						dialogObj.message = "<table id='AppRejTable'><tbody><tr><th>Version</th><th>Status</th><th>Created On</th><th>Created By</th><th>Approved On</th><th>Rejected On</th><th>Approve(Button&amp;Date)</th><th>Reject (Button&amp;Date)</th></tr>";
					}
				}
			}
		};
		$(function () {

			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth() + 1; //January is 0
			var yyyy = today.getFullYear();

			if (dd < 10) {
				dd = '0' + dd;
			}

			if (mm < 10) {
				mm = '0' + mm;
			}

			today = mm + '/' + dd + '/' + yyyy;
			$('#Filters_SnapShotEndDate').val(today);

			$('.major-rev, .minor-rev, #NevTC, #Filters_SnapShotEndDate').prop('disabled', true);

			SetGrid($('#Filters_SearchType').val());
			$('.NevadaButtonGroup').hide();

			$('.LinkageChange').click(function () {
				SetGrid($('#Filters_SearchType').val('@TestScriptSearchType.LinkageChangeSearch.ToString()'));
				$('.NevadaButtonGroup').hide();
			});
			$('.ContentChange').click(function () {
				SetGrid($('#Filters_SearchType').val('@TestScriptSearchType.ContentChangeSearch.ToString()'));
				$('.NevadaButtonGroup').hide();
			});
			$('.NevadaChange').click(function () {
				SetGrid($('#Filters_SearchType').val('@TestScriptSearchType.NevadaChangeSearch.ToString()'));
				$('.NevadaButtonGroup').show();
			});

			$('.major-rev, .minor-rev').on('click', function () {
				if (getFilters().TestCase !== null && $(this).hasClass('major-rev')) {
					PostUpdateType(true);
				}
				else if (getFilters().TestCase !== null && $(this).hasClass('minor-rev')) {
					PostUpdateType(false);
				}
				else {
					bootbox.alert("Please select a test case from the available options");
				}
			});

			$(window).resize(function () {
				setGridHeightWidth();
			});

			$('#DateSearchButton').on('click', function () {
				$('#Filters_SnapShotStartDateId').val("").trigger('change');
				$('#Filters_SnapShotEndDateId').val("").trigger('change');
				usingSnapShots = false;
				ReloadGrid(false);
				$('.major-rev, .minor-rev').prop('disabled', true)
			});
			$('#SnapshotSearchButton').on('click', function () {
				$('#Filters_StartDate').data("DateTimePicker").date(null);
				$('#Filters_EndDate').data("DateTimePicker").date(null);
				usingSnapShots = true;
				ReloadGrid(true);
			});
			$('#ClearDateFiltersButton').click(function () {
				$('#Filters_StartDate').data("DateTimePicker").date(null);
				$('#Filters_EndDate').data("DateTimePicker").date(null);
				usingSnapShots = false;
				ReloadGrid(false);
			});
			$('#ClearSnapshotSearchButton').click(function () {
				$('#Filters_SnapShotStartDateId').val("").trigger('change');
				$('#Filters_SnapShotEndDateId').val("").trigger('change');
				usingSnapShots = true;
				ReloadGrid(true);
			});

			$('#Filters_SnapShotStartDateId, #Filters_SnapShotEndDateId').on('change', function () {
				if (($('#Filters_StartDate').val() !== null || $('#Filters_EndDate').val() !== null) && ($('#Filters_SnapShotStartDateId').val() !== "" && $('#Filters_SnapShotEndDateId').val() !== "")) {
					$('#Filters_StartDate').data("DateTimePicker").date(null);
					$('#Filters_EndDate').data("DateTimePicker").date(null);
				}
			});
			$('#Filters_StartDate, #Filters_EndDate').on('blur', function () {

				if (($('#Filters_SnapShotStartDateId').val() !== "" || $('#Filters_SnapShotEndDateId').val() !== "") && ($('#Filters_StartDate').val() !== "" || $('#Filters_EndDate').val() !== "")) {
					$('#Filters_SnapShotStartDateId').val("").trigger('change');
					$('#Filters_SnapShotEndDateId').val("").trigger('change');
				}
			});

			$('#DateSwitch').on('click', function () {
				$('#NevTC').select2();
				$('.major-rev, .minor-rev').prop('disabled', true);
			});

			$('#NevTC').on('change', function () {
				if ($(this).val() !== null) {
					var tcName = $(this).val();
					grid.trigger('reloadGrid', [{ page: 1 }]);
					$.get('@Url.Action("GetCurrentTestCaseVerison")', { testCaseName: tcName}).done(function (data) {
						$.each($('.changeSetVersionValue'), function (index, value) {
							this.innerHTML = data;
						});
					});
				}
			});

			$('.approve-reject').on('click', function () {
				var testCaseName =  $('#NevTC').val();
				if (testCaseName !== null) {
					window.open('@Url.Action("ApproveRejectOptions")' + '?testCaseName=' + testCaseName);
				} else {
					window.open('@Url.Action("ApproveRejectOptions")');
				}
			});
		});

		function PostUpdateType(isMajor) {
			$.post('@Url.Action("ChangeSetUpdate")', { isMajor: isMajor, testScriptFilters: JSON.stringify(getFilters()) })
				.done(function (data) {
					$.each($('.changeSetVersionValue'), function (index, value) {
						this.innerHTML = data;
					});
					var urlLink = '@Url.Action("ApproveRejectOptions")?testCaseName=' + $('#NevTC').val();
					bootbox.alert("<h2>Test case version has been updated to verison " + data + '. Approve or reject versions here: <a href="' + urlLink + '"> Approve / Reject </a></h2>');
				});
		}

		function ReloadGrid(useSnapshot) {
			if (grid.attr('id') === 'NevadaChangesGrid') {
				//NevTestCaseOptions
				$('body').addClass('transp');
				$('#loadingSymbol').show();
				$.get('@Url.Action("NevTestCaseOptions")', { testScriptFilters: JSON.stringify(getFilters()) })
					.done(function (data) {
						$('body').removeClass('transp');
						$('#loadingSymbol').hide();
						$('#NevTC').empty();
						$.each(data, function () {
							$('#NevTC').append($('<option />').val(this.Value).text(this.Text));
						});
						$.each($('.tc-counter'), function () {
							$(this).text(data.length);
						});
						$('#NevTC').val(null).trigger('change');
						if (data.length > 0) {
							$('#NevTC').select2();
							$('.NevadaButtonGroup').show("slow");
							$('#NevTC').prop('disabled', false);
							if (useSnapshot) {
								$('.major-rev, .minor-rev').prop('disabled', false);
							}
						}
						else {
							$('.major-rev, .minor-rev, #NevTC').prop('disabled', true);
							$('.NevadaButtonGroup').hide("slow");
						}
					});
			}
			else {
				grid.trigger('reloadGrid', [{ page: 1 }]);
			}
			
			if (useSnapshot) {
				$('#DateSearch').addClass("fade").removeClass("in active");
				$('#SnapShotDateSearch').addClass("in active").removeClass("fade");
				$('#DateSearchTab').removeClass('active');
				$('#SnapShotDateSearchTab').addClass("active");
			}
			else {
				$('#SnapShotDateSearch').addClass("fade").removeClass("in active");
				$('#DateSearch').addClass("in active").removeClass("fade");
				$('#DateSearchTab').addClass('active');
				$('#SnapShotDateSearchTab').removeClass("active");
			}
		}

		function getHeight() {
			var viewportHeight;
			if (document.compatMode === 'BackCompat') {
				viewportHeight = document.body.clientHeight;
			} else {
				viewportHeight = document.documentElement.clientHeight;
			}

			var height = viewportHeight - 380;
			return height;
		}

		function setGridHeightWidth()
		{
			var height = getHeight();
		}

		function SetGrid(Type)
		{
			var columnIndex;
			if (Type === "@TestScriptSearchType.ContentChangeSearch.ToString()") {
				$('.LinkageChange').removeClass('active').addClass('inactive');
				$('.NevadaChange').removeClass('active').addClass('inactive');
				$('.ContentChange').removeClass('inactive').addClass('active');

				grid = $('#' + '@Model.ContentChangesGrid.Grid.ID');
				columnIndex = $(grid).getColumnIndexByName("New");
				
				$('#' + 'gview_NevadaChangesGrid').hide();
				$('#' + 'gview_LinkageChangesGrid').hide();
				$('#' + 'gview_ContentChangesGrid').show();
			}
			else if (Type === "@TestScriptSearchType.LinkageChangeSearch.ToString()") {
				$('.ContentChange').removeClass('active').addClass('inactive');
				$('.NevadaChange').removeClass('active').addClass('inactive');
				$('.LinkageChange').removeClass('inactive').addClass('active');

				grid = $('#' + '@Model.LinkageChangesGrid.Grid.ID');
				columnIndex = $(grid).getColumnIndexByName("New");

				$('#' + 'gview_NevadaChangesGrid').hide();
				$('#' + 'gview_ContentChangesGrid').hide();
				$('#' + 'gview_LinkageChangesGrid').show();
			}
			else {
				$('.NevadaButtonGroup').hide();
				$('.LinkageChange').removeClass('active').addClass('inactive');
				$('.ContentChange').removeClass('active').addClass('inactive');
				$('.NevadaChange').removeClass('inactive').addClass('active');

				grid = $('#' + '@Model.NevadaChangesGrid.Grid.ID');
				columnIndex = $(grid).getColumnIndexByName("New");

				$('#' + 'gview_ContentChangesGrid').hide();
				$('#' + 'gview_LinkageChangesGrid').hide();
				$('#' + 'gview_NevadaChangesGrid').show();
			}
			ReloadGrid(true);
		}

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.testScriptFilters = JSON.stringify(getFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function getFilters() {
			var filters = {};
			filters.StartDate = $('#Filters_StartDate').val();
			filters.EndDate = $('#Filters_EndDate').val();
			filters.SnapShotStartDate = $('#Filters_SnapShotStartDate').val();
			filters.SnapShotEndDate = $('#Filters_SnapShotEndDate').val();
			filters.SearchType = $('#Filters_SearchType').val();
			filters.TestCase = $('#NevTC').val();
			filters.DraftVersion = $('#Filters_DraftVersion').prop('checked');

			return filters;
		}

		function ShowDiff(cellValue, options, rowObject) {
			var val = cellValue;
			if (options.rowId !== '') {
				var oldContent = rowObject[$(this).getColumnIndexByName("Old")];
				var newContent = rowObject[$(this).getColumnIndexByName("New")];
			}
			if (rowObject[$(this).getColumnIndexByName("Old")] !== "" && rowObject[$(this).getColumnIndexByName("New")] !== "") {
				return diffString(oldContent, newContent);
			}
			else {
				return val;
			}
		}
	</script>
}