﻿@model Submissions.Web.Areas.Lookups.Models.BillingSheetIndexViewModel
@{
	ViewBag.Title = "Billing Sheets";
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		var deleteUrl = '@Url.Action("Delete", "BillingSheet")';
		var editUrl = '@Url.Action("Edit", "BillingSheet")';
	</script>
	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}

