﻿<template>
	<div ref="BulkUpdate" class="modal" tabindex="-1">
		<div class="modal-dialog" style="width:1250px;">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="update">Bulk Update</button>
						<button type="button" class="btn btn-primary" @click="cancel">Cancel</button>
					</div>
					<h3 class="modal-title">Bulk Update</h3>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<form class="form-horizontal form-group-sm">
							<div class="row">
								<div class="col-xs-2 padl0 padr0">

									<label class="smallLabel">Company</label>
									<input name="Company" id="Company" type="hidden" v-model="jurisdiction.company" />
									<Lookup id="CompanyId" name="CompanyId" :lookuptextfield="jurisdiction.company" lookupajax="Companies" v-model="jurisdiction.companyId" @updateLookupTextField="updateCompany" title="Company"></Lookup>

								</div>
								<div class="col-xs-2 padl0 padr0">

									<label class="smallLabel">Currency</label>
									<input name="Currency" id="Currency" type="hidden" v-model="jurisdiction.currency" />
									<Lookup id="CurrencyId" name="CurrencyId" :lookuptextfield="jurisdiction.currency" lookupajax="Currencies" v-model="jurisdiction.currencyId" @updateLookupTextField="updateCurrency" title="Currency"></Lookup>

								</div>
								<div class="col-xs-2 padl0 padr0">

									<label class="smallLabel">Contract Type</label>
									<input name="ContractType" id="ContractType" type="hidden" v-model="jurisdiction.contractType" />
									<Lookup id="ContractTypeId" name="ContractTypeId" :lookuptextfield="jurisdiction.contractType" lookupajax="ContractTypes" v-model="jurisdiction.contractTypeId" @updateLookupTextField="updateContractType" title="Contract Type"></Lookup>

								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">Submit Date</label>
									<DatePicker name="SubmitDate" v-model="jurisdiction.requestDate" placeholder="Submit Date"></DatePicker>

								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">Receive Date </label>
									<DatePicker name="RecieveDate" v-model="jurisdiction.receiveDate" placeholder="Receive Date"></DatePicker>

								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">Active </label>
									<SelectStandard id="Active" name="Active" :value="jurisdiction.active" :options="jurisdictionActiveStatuses" v-model="jurisdiction.active" title="Active"></SelectStandard>

								</div>
								<div class="col-xs-3 padl0 padr0">

									<div class="col-xs-10">
										<label class="smallLabel">TX Lab </label>
										<Lookup id="CTXLabId" name="TXLabId" :lookuptextfield="jurisdiction.lab" placeHolder="Test Lab" lookupajax="Laboratories" v-model="jurisdiction.labId" @updateLookupTextField="updateTestLab" title="Test Lab"></Lookup>
									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-xs-3 padl0 padr0">
									<div class="col-xs-6 padl0 padr0">

										<label class="smallLabel">Status </label>
										<SelectStandard id="JurisdictionStatus" name="JurisdictionStatus" :value="jurisdiction.status" :options="jurisdictionStatuses" v-model="jurisdiction.status" title="Status"></SelectStandard>

									</div>
									<div class="col-xs-6 padl0 padr0">

										<label class="smallLabel">WON </label>
										<input name="masterBillingProject" id="masterBillingProject" type="text" v-model="jurisdiction.masterBillingProject" class="form-control" placeholder="Work Order #" />

									</div>
								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">Contract #</label>
									<input name="ContractNumber" id="ContractNumber" type="text" v-model="jurisdiction.contractNumber" class="form-control" placeholder="Contract Number" />

								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel" v-if="isAristocratManuf != true">Billing Reference </label>
									<label class="smallLabel" v-else="isAristocratManuf == true">RDAP Pin </label>
									<input name="ClientNumber" id="ClientNumber" type="text" v-model="jurisdiction.clientNumber" class="form-control" placeholder="Billing Reference/RDAP Pin" />

								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">Purchase Order </label>
									<input name="PurchaseOrder" id="PurchaseOrder" type="text" v-model="jurisdiction.purchaseOrder" class="form-control" placeholder="Purchase Order" />

								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">Letter Number </label>
									<input name="LetterNumber" id="LetterNumber" type="text" v-model="jurisdiction.letterNumber" class="form-control" placeholder="Letter Number" />

								</div>
								<div class="col-xs-1 padl0 padr0" v-show="isFlatFileManuf">

									<label class="smallLabel">Project </label>
									<input name="projectNumber" id="projectNumber" type="text" v-model="jurisdiction.projectNumber" class="form-control" placeholder="Project No" />

								</div>
								<div class="col-xs-4 padl0 padr0" v-show="manufacturer == 'APL'">
									<div class="col-xs-4 padl0 padr0">
										<label class="smallLabel">Acct Code </label>
										<input name="AriAccountCode" id="AriAccountCode" type="text" v-model="jurisdiction.ariAccountCode" class="form-control" placeholder="Acct Code" />
									</div>
									<div class="col-xs-4 padl0 padr0">
										<label class="smallLabel">Dept Code </label>
										<input name="AriDeptCode" id="AriDeptCode" type="text" v-model="jurisdiction.ariDeptCode" class="form-control" placeholder="Dept Code" />
									</div>
									<div class="col-xs-3 padl0 padr0">
										<label class="smallLabel">Project # </label>
										<input name="AriProjectNo" id="AriProjectNo" type="text" v-model="jurisdiction.ariProjectNo" class="form-control" placeholder="Project No" />

									</div>
									<div class="col-xs-1 pull-left" v-show="mode == 'Add'">
										<br />
										<a href="#" @click="copyDataFromPrimary()"><i class="fas fa-copy" title="Copy ARI Acct/Dept/project code from Primary jurisdiction" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
							<div class="row" v-show="mode == 'Edit'">
								<!--This row is only needed while edit jurisdiction-->
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">Close Date</label>
									<DatePicker name="CloseDate" v-model="jurisdiction.closeDate" placeholder="Close Date"></DatePicker>

								</div>
								<div class="col-xs-3 padl0 padr0">
									<div class="col-xs-6 padl0 padr0">

										<label class="smallLabel">Regulatory Status</label>
										<SelectStandard id="RegulatoryStatus" name="RegulatoryStatus" :value="jurisdiction.regulatoryStatus" :options="jurisdictionRegulatoryStatuses" v-model="jurisdiction.regulatoryStatus" title="Regulatory Reason"></SelectStandard>

									</div>
									<div class="col-xs-6 padl0 padr0">

										<label class="smallLabel">RJ/WD Reason</label>
										<SelectStandard id="RJWDReason" name="RJWDReason" :value="jurisdiction.rjwdReason" :options="jurisdictionRJWDReasons" v-model="jurisdiction.rjwdReason" title="RJ/WD Reason"></SelectStandard>

									</div>
								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">RV Date</label>
									<DatePicker name="RVDate" v-model="jurisdiction.revokeDate" placeholder="RV Date"></DatePicker>

								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">Upgrade By&nbsp;<a href="#" @click="setShowUpgradeBulkBy(true)"><i class="far fa-calendar-alt"></i></a></label>
									<DatePicker name="UpgradeBy" v-model="jurisdiction.upgradeByDate" placeholder="Upgrade By"></DatePicker>

								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">NU Date</label>
									<DatePicker name="ObsoleteDate" v-model="jurisdiction.obsoleteDate" placeholder="NU Date"></DatePicker>

								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">Update Date</label>
									<DatePicker name="UpdateDate" v-model="jurisdiction.updateDate" placeholder="Update Date"></DatePicker>

								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">Update Reason</label>
									<SelectStandard id="UpdateReason" name="UpdateReason" :options="jurisdictionUpdatedDateReasons" v-model="jurisdiction.updateReasonId" title="Update Reason"></SelectStandard>

								</div>
								<div class="col-xs-1 padl0 padr0">

									<label class="smallLabel">Draft Date</label>
									<DatePicker name="DraftDate" v-model="jurisdiction.draftDate" placeholder="Draft Date"></DatePicker>

								</div>
								<div class="col-xs-2 padl0 ">

									<label class="smallLabel">Issuing Lab</label>
									<Lookup id="CertLab" name="CertLab" :lookuptextfield="jurisdiction.certificationLab" placeHolder="Cert Lab" lookupajax="Laboratories" v-model="jurisdiction.certificationLabId" @updateLookupTextField="updateCertLab" title="Cert Lab"></Lookup>

								</div>
							</div>
							<div class="row" v-show="mode == 'Edit'">
								<div class="col-xs-2 padl0 padr0">
									<table>
										<tr>
											<td><label class="smallLabel">Conditional Revoke</label></td>
											<td><input type="checkbox" v-model="jurisdiction.conditionalRevoke" /></td>
										</tr>
									</table>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">

					</div>
				</div>
			</div>
		</div>
		<!--Calculate Upgrade by date-->
		<UpgradeByCalculator :showUpgrade="showUpgradeBulk" @reSetShowUpgradeModal="setShowUpgradeBulkBy" @updateData="setCalculatedUpgradeBulkBy"></UpgradeByCalculator>

	</div>
</template>
<style scoped>
	table td, table th {
		padding: 3px; /* 'cellpadding' equivalent */
	}

	.smallLabel {
		font-size: smaller;
		color: black;
		font-weight: bold
	}
</style>
<script>
	import Vue from 'vue';
	import Lookup from '@/components/utility/Lookup.vue'
	import SelectStandard from '@/components/utility/SelectStandard.vue'
	import DatePicker from '@/components/utility/DatePicker.vue'
	import UpgradeByCalculator from '@/components/submission/jurisdictionaldata/UpgradeByDateCalculator.vue'

	export default {
		components: {
			Lookup,
			DatePicker,
			SelectStandard,
			UpgradeByCalculator
		},
		props: {
			defaultJurisdiction: {
				type: Object
			},
			jurisdictionStatuses: {
				type: Array
			},
			jurisdictionActiveStatuses: {
				type: Array
			},
			isFlatFileManuf: {
				type: Boolean
			},
			isAristocratManuf: {
				type: Boolean
			},
			manufacturer: {
				type: String
			},
			jurisdictionRegulatoryStatuses: {
				type: Array
			},
			jurisdictionRJWDReasons: {
				type: Array
			},
			jurisdictionUpdatedDateReasons: {
				type: Array
			},
			mode: {
				type: String
			},
			showBulkUpdateModal: {
				type: Boolean
			}
		},
		data() {
			return {
				jurisdiction: {},
				showUpgradeBulk:false
			}
		},
		methods: {
			cancel: function () {
				this.$emit('updateShowBulkUpdateModal', false);
			},
			copyDataFromPrimary: function () {

				Vue.set(this.jurisdiction, "ariAccountCode", this.defaultJurisdiction.ariAccountCode)
				Vue.set(this.jurisdiction, "ariDeptCode", this.defaultJurisdiction.ariDeptCode)
				Vue.set(this.jurisdiction, "ariProjectNo", this.defaultJurisdiction.ariProjectNo)
			},
			setCalculatedUpgradeBulkBy: function (val) {
				this.jurisdiction.upgradeByDate = val
				this.setShowUpgradeBulkBy(false)
			},
			setShowUpgradeBulkBy: function (val) {
				this.showUpgradeBulk = val
			},
			update: function () {
				this.$emit('updateData', this.jurisdiction);
			},
			updateCertLab: function (newValue) {
				this.jurisdiction.certificationLab = newValue;
			},
			updateCompany: function (newValue) {
				this.jurisdiction.company = newValue;
			},
			updateContractType: function (newValue) {
				this.jurisdiction.contractType = newValue;
				this.jurisdiction.contractTypeShort = newValue.substr(0, newValue.indexOf("-"));
			},
			updateCurrency: function (newValue) {
				this.jurisdiction.currency = newValue;
				this.jurisdiction.currencyShort = newValue.substr(0, newValue.indexOf("-"));
			},
			updateJurisdiction: function (newValue) {
				this.jurisdiction.jurisdictionName = newValue;
			},
			updateTestLab: function (newValue) {
				this.jurisdiction.lab = newValue;
				this.jurisdiction.labShort = newValue.substr(0, newValue.indexOf("-"));
			},
		},
		mounted: function () {
			//const refThis = this;
			//$(this.$refs.BulkUpdate).on('hidden.bs.modal', function (e) {
			//	//refThis.$emit('updateShowBulkUpdateModal', false);
			//});
		},
		watch: {
			showBulkUpdateModal: function (newVal, oldVal) {
				if (newVal) {
					this.$data.jurisdiction = {}
					$(this.$refs.BulkUpdate).modal('show');
				}
				else {
					this.$emit('updateShowBulkUpdateModal', false);
					$(this.$refs.BulkUpdate).modal('hide');
				}
			}
		}
	}
</script>

