﻿<template>
    <div class="modal modal-wide" ref="CheckOffVersion" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-info">
                        Manage Test Script Versions (<small>{{jurisdictionName}}</small>)
                        <span class="pull-right">
                            <a class="btn btn-primary btn-sm" @click="addSelected">Add Selected</a>
                            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" aria-label="Close">Close</button>
                        </span>

                    </h4>
                </div>
                <div class="modal-body">
                 
                    <table class="table table-sm" style="padding-right:0px">
                        <thead>
                            <tr>
                                <th>Versions</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(version, index) in AllVersions">
                                <td width="130px" class="padr0">{{ version.description }}</td>
                                <td width="5px" class="padr0"><input type="checkbox" v-model="version.selected" /></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
              
            </div>
        </div>
    </div>
</template>
<style scoped>
    .modal-body {
        height: 450px;
        overflow-y: auto;
        font-size: 12px;
    }

    .modal.modal-wide .modal-dialog {
        width: 60%;
        height: auto;
    }
</style>
<script>
    import Vue from 'vue';
  
    export default {
        props: {
            availableVersions: {
                type: Array
            },
            jurisdictionalDataId: {
                type: Number
            },
            selVersions: {
                type: Array
            },
            showScriptModal: {
                type: Boolean
            },
            jurisdictionName: {
                type: String
            }
        },
        data() {
            return {
                AllVersions: []
            }
        },
        created() {

        },
        computed: {
            isChecked: function () {
                return true;

               
            }
        },
        validations: {

        },
        methods: {
            addSelected: function () {
                var allSelected = this.AllVersions.filter(item => item.selected == true)
                var allSelectedTxt = "";
                var allSelectedIds = [];
                if (allSelected.length > 0) {
                    for (var i = 0; i < allSelected.length; i++) {
                        allSelectedIds.push(allSelected[i].id)
                        if (Em(allSelectedTxt)) {
                            allSelectedTxt = allSelected[i].description
                        }
                        else {
                            allSelectedTxt = allSelectedTxt + ", " + allSelected[i].description
                        }
                    }
                }
                this.$emit('setCheckOffversion', allSelectedIds, allSelectedTxt);
           
            }
        },
        mounted: function () {
            const refThis = this;
            $(this.$refs.CheckOffVersion).on('hidden.bs.modal', function (e) {
                refThis.$emit('reSetSearchModal', false);
            });

            //select
            for (var i = 0; i < this.availableVersions.length; i++) {
                var newItem = {
                    id: refThis.availableVersions[i].id,
                    description: refThis.availableVersions[i].description,
                    selected:false
                }
                refThis.AllVersions.push(newItem)
            }

            for (var i = 0; i < this.selVersions.length; i++) {
                refThis.AllVersions.filter(item => item.id == refThis.selVersions[i])[0].selected = true
                
            }

        },
        watch: {
            showScriptModal: function (val, oldVal) {
                if (val) {
                   $(this.$refs.CheckOffVersion).modal('show');
                }
                else
                {
                    this.$emit('reSetSearchModal', false);
                    $(this.$refs.CheckOffVersion).modal('hide');
                }
            }
        }
    }

</script>