﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-9">
				<h3 v-if="vm.mode == 'Add'">Add Jurisdictions<small> {{ vm.fileNumber }}</small></h3>
				<h3 v-else>Edit Jurisdictions<small> {{ vm.fileNumber }}</small></h3>
			</div>
			<div class="col-sm-3 form-buttons">
				<span class="text-info h3" v-if="Processing"><i class="fas fa-spinner fa-spin" style="color:green"></i>&nbsp;Saving.....</span>
				<button type="button" class="btn btn-primary btn-sm" @click="checkSaveJurisdictions" v-if="!Processing && vm.canEdit">Save</button>
				<button type="button" class="btn btn-primary btn-sm" @click="clickCancel">Cancel</button>
			</div>
		</div>

		<!--error/warnings -->
		<div class="alert alert-danger" role="alert" v-if="errorMsg != ''">
			<strong>Error! </strong> {{errorMsg}}<font class="pull-right"><a href="#" @click="unSetErrorMsg()"><i class="fas fa-times"></i></a></font>
		</div>
		<div class="alert alert-warning" role="alert" v-if="warningBeforeSave != ''" style="white-space: pre">
			<strong>Warning! </strong>{{warningBeforeSave}}<br />Do you want to continue?&nbsp;<a href="#" @click="saveJurisdictions" class="btn btn-light btn-sm">Yes</a>&nbsp;&nbsp;<a href="#" @click="unSetErrorMsg()" class="btn btn-light btn-sm">No</a><font class="pull-right"><a href="#" @click="unSetErrorMsg()"><i class="fas fa-times"></i></a></font>
		</div>

		<!--submission List-->
		<SubmissionSelection :fileNumber="vm.fileNumber" :submissions="vm.submissions" :currentSelected="vm.submissionId" :titleText="'Copy Checked Jurisdiction Information to these Additional Records'" ref="SubmissionSelection"></SubmissionSelection>

		<!--Jurisdiction List-->
		&nbsp;&nbsp;&nbsp;<span v-if="vm.mode == 'Edit'"><input type="checkbox" v-model="vm.copyOnlyModified" title="Check this box when copying jurisdiction changes to other records in this file, wishing only to copy the changes made on this screen.  Leaving this option unchecked will copy all field values to other records in the file, including fields that have not been changed." /><font class="text-info">&nbsp;Only Copy <font class="text-warning"><strong>Modified</strong></font> Fields&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="pull-right"><input type="checkbox" id="AllJurs" @click="clickShowAllJurisdictions" />&nbsp;Expand <strong>All Jurisdictions</strong>&nbsp;&nbsp;<input type="checkbox" id="AllFields" @click="clickShowAllFields" /> Display <strong>All Fields</strong>&nbsp;&nbsp;&nbsp; </font></font></span>
		<div class="panel panel-default panel">
			<div class="panel-heading">
				<h3 class="panel-title">
					<input type="checkbox"
						   id="checkAllJur"
						   @click="checkAllJurs()"
						   title="Check/UnCheck All Jurisdictions" />&nbsp;
					Jurisdictions <small>(Total:{{ jurCount }} jurisdictions)</small>
					<font class="text-info pull-right">
						<span v-if="isAnyOHJur">[&nbsp;<a href="#" @click="getMemoModal(memoType.OHMemo,true)"><i class="fas fa-sticky-note" aria-hidden="true" style="color:dodgerblue"></i>&nbsp;OH Memo&nbsp;<i class="fas fa-edit" aria-hidden="true"></i></a>&nbsp;<font style="color:green" v-show="isOHMemoExists"><i class="fas fa-check"></i></font>]&nbsp;</span>
						<span>[&nbsp;<a href="#" @click="getMemoModal(memoType.Memo,true)"><i class="fas fa-sticky-note" aria-hidden="true" style="color:dodgerblue"></i>&nbsp;Memo&nbsp;<i class="fas fa-edit" aria-hidden="true"></i></a>&nbsp;<font style="color:green" v-show="isMemoExists"><i class="fas fa-check"></i></font>]&nbsp;</span>
						<span>
							[&nbsp;<a href='#' title="Dates past more than 6 days required reason" @click="checkAndGetMemoForPastDate()"><i class="far fa-calendar-times text-warning" aria-hidden="true"></i>&nbsp;Past Dates Reason&nbsp;<i class="fas fa-edit" aria-hidden="true"></i></a>&nbsp;<font style="color:green" v-show="isPastDateReasonExists"><i class="fas fa-check"></i></font>]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
						<span v-if="vm.mode == 'Add'">
							[ <i class="fas fa-plus" aria-hidden="true"></i>&nbsp;<input type="text" class="form-control" v-model="jurAddCount" maxlength="2" style="width:25px;height:25px;font-size:smaller" @keyup.enter="addNewJurisdiction()">&nbsp;<A href='#' @click="addNewJurisdiction()">Add Jurisdiction</A> ]
						</span>&nbsp;&nbsp;&nbsp;
						[ <a href="#" @click="openBulkUpdateModal()" title="Update values for fields for all selected Jurisdictions">Bulk Update</a> ]
					</font>
				</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<table class="table table-striped table-condensed table-hover">
						<tbody class="form-group form-group-sm">
							<tr is="JurisdictionEditItem" v-if="vm.mode == 'Edit'"
								v-for="(jurisdiction,index) in vm.jurisdictions"
								:key="index" :jurisdiction="jurisdiction"
								:bulkUpdateMode="showBulkUpdateModal"
								:defaultJurisdiction="vm.defaultJurisdiction"
								:fileNumber="vm.fileNumber"
								:isFlatFileManuf="vm.isFlatFileManuf"
								:isAristocratManuf="vm.isAristocratManuf"
								:isProductLineManuf="vm.isProductLineManuf"
								:jurisdictionStatuses="vm.jurisdictionStatuses"
								:jurisdictionActiveStatuses="vm.jurisdictionActiveStatuses"
								:jurisdictionRegulatoryStatuses="vm.jurisdictionRegulatoryStatuses"
								:jurisdictionRJWDReasons="vm.jurisdictionRJWDReasons"
								:jurisdictionUpdatedDateReasons="vm.jurisdictionUpdatedDateReasons"
								:manufacturer="vm.manufacturer"
								:mode="vm.mode"
								:showAllJurisdictions="showAllJurisdictions"
								:showAllFields="showAllFields"
								:submissionSelection="submissionsSelected"
								:userAndOtherInfo="vm.userAndOtherInfo"
								:validator="$v.vm.jurisdictions.$each[index]"
								@deleteJurisdiction="deleteJurisdiction(index)"
								@bulkUpdateRevertStatus="updateBulkRevertStatus"
								@refreshData="refreshData"
								@showJurExtraInfoForSubmissionSelection="showJurExtraInfoForSubmissionSelection"
								ref="JurisdictionItem"></tr>
							<tr is="JurisdictionAddItem" v-if="vm.mode == 'Add'"
								v-for="(jurisdiction,index) in vm.jurisdictions"
								:key="index" :jurisdiction="jurisdiction"
								:defaultJurisdiction="vm.defaultJurisdiction"
								:isFlatFileManuf="vm.isFlatFileManuf"
								:isAristocratManuf="vm.isAristocratManuf"
								:index="index"
								:jurisdictionStatuses="vm.jurisdictionStatuses"
								:jurisdictionActiveStatuses="vm.jurisdictionActiveStatuses"
								:jurisdictionRegulatoryStatuses="vm.jurisdictionRegulatoryStatuses"
								:jurisdictionRJWDReasons="vm.jurisdictionRJWDReasons"
								:jurisdictionUpdatedDateReasons="vm.jurisdictionUpdatedDateReasons"
								:manufacturer="vm.manufacturer"
								:mode="vm.mode"
								:validator="$v.vm.jurisdictions.$each[index]"
								@deleteJurisdiction="deleteJurisdiction(index)"
								ref="JurisdictionItem"></tr>
						</tbody>
					</table>
				</form>

				<div v-if="vm.jurisdictions.length > 1">
					<font class="pull-left text-info"><span v-if="vm.mode == 'Edit'"><input type="checkbox" v-model="vm.conditionalRevokeSubmission" />&nbsp;Conditional Revoke <strong>(Whole Record)</strong></span></font><font class="text-info pull-right"><span v-if="vm.mode == 'Add'">[ <i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;<input type="text" class="form-control" v-model="jurAddCount" maxlength="2" style="width:25px;height:25px;font-size:smaller">&nbsp;<A href='#' @click="addNewJurisdiction()">Add Jurisdiction</A> ]</span>&nbsp;&nbsp;&nbsp;[ <a href="#" @click="openBulkUpdateModal()">Bulk Update</a> ]</font>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9">
				&nbsp;
			</div>
			<div class="col-sm-3 form-buttons">
				<span class="text-info h3" v-if="Processing"><i class="fas fa-spinner fa-spin" style="color:green"></i>&nbsp;Saving.....</span>
				<button type="button" class="btn btn-primary btn-sm" @click="checkSaveJurisdictions" v-if="!Processing && vm.canEdit">Save</button>
				<button type="button" class="btn btn-primary btn-sm" @click="clickCancel">Cancel</button>
			</div>
		</div>

		<!--Bulk Update Items-->
		<BulkUpdate :showBulkUpdateModal="showBulkUpdateModal"
					:jurisdictionStatuses="vm.jurisdictionStatuses"
					:jurisdictionActiveStatuses="vm.jurisdictionActiveStatuses"
					:jurisdictionRegulatoryStatuses="vm.jurisdictionRegulatoryStatuses"
					:jurisdictionRJWDReasons="vm.jurisdictionRJWDReasons"
					:jurisdictionUpdatedDateReasons="vm.jurisdictionUpdatedDateReasons"
					:isFlatFileManuf="vm.isFlatFileManuf"
					:isAristocratManuf="vm.isAristocratManuf"
					:manufacturer="vm.manufacturer"
					:mode="vm.mode"
					:defaultJurisdiction="vm.defaultJurisdiction"
					@updateData="updateBulkData"
					@updateShowBulkUpdateModal="updateShowBulkUpdateModal">
		</BulkUpdate>

		<!--memo for Past 7 days-->
		<MemoReason :showMemoModal="showMemoForPastDate"
					:memoWinTitle="'Memo for dates past more than 6 days:'"
					:memoData="vm.memoInfo.datesMoreThanSixDaysPast"
					:memoType="this.memoType.PastDate"
					@updateData="saveMemo"
					@reSetShowMemoModal="getMemoModal"></MemoReason>

		<!--memo-->
		<Memo :showMemoModal="showMemoModal"
			  :memoWinTitle="'Memo:'"
			  :memoData="vm.memoInfo.memo"
			  :memoType="this.memoType.Memo"
			  @updateData="saveMemo"
			  @reSetShowMemoModal="getMemoModal"></Memo>

		<!--OH memo-->
		<OHMemo :showMemoModal="showOHMemoModal"
				:memoWinTitle="'OH Memo:'"
				:memoData="vm.memoInfo.ohMemo"
				:memoType="this.memoType.OHMemo"
				@updateData="saveMemo"
				@reSetShowMemoModal="getMemoModal"></OHMemo>

	</div>
</template>

<script>
	import BulkUpdate from '@/components/submission/jurisdictionaldata/BulkUpdate.vue'
	import JurisdictionEditItem from '@/components/submission/jurisdictionaldata/JurisdictionEditItem.vue'
	import JurisdictionAddItem from '@/components/submission/jurisdictionaldata/JurisdictionAddItem.vue'
	import Memo from '@/components/submission/jurisdictionaldata/Memo.vue'
	import MemoReason from '@/components/submission/jurisdictionaldata/Memo.vue'
	import OHMemo from '@/components/submission/jurisdictionaldata/Memo.vue'
	import SubmissionSelection from '@/components/submission/submissiondata/SubmissionSelection.vue'
	import { maxLength, required, requiredIf } from 'vuelidate/lib/validators'
	import Vue from 'vue';

	export default {
		components: {
			BulkUpdate,
			JurisdictionAddItem,
			JurisdictionEditItem,
			MemoReason,
			Memo,
			OHMemo,
			SubmissionSelection
		},
		data() {
			return {
				vm: initialData,
				errorMsg: "",
				jurAddCount: 1,
				orgJurisdictions: [],
				Processing: false,
				showAllJurisdictions: false,
				showAllFields: false,
				showBulkUpdateModal: false,
				showMemoForPastDate: false,
				showMemoModal: false,
				showOHMemoModal: false,
				warningBeforeSave: "",
				warningBeforeEdit: {
					verifyRecordStatus: false,
					verifyCertTestLab: false,
					verifyConditionalRevoke: false,
					verifyBundleIsInUpdating: false,
					verifyTestScript: false
				},
				memoType: {
					Memo: "Memo",
					OHMemo: "OHMemo",
					PastDate: "PastDate"
				}
			}
		},
		created: function () {
			DoneLoading()
		},
		updated: function () {
			DoneLoading()
			//if any error keep focus on top
			if (this.errorMsg != "" || this.warningBeforeSave != "" || this.Processing == true) {
				//var urlString = window.location.href;
				//var url = urlString.split("#")[0];
				//window.location.href = url + "#";
			}
		},
		computed: {
			isAnyOHJur: function () {
				var jurOHExists = false
				if (this.vm.mode == 'Edit') {
					var jurOH = this.vm.jurisdictions.filter(item => item.status == "OH")
					//check if oldstatus was not OH, only then Memo needs to be entered
					jurOH.forEach(function (jur) {
						if (jur.columnChanges.status == true) {
							jurOHExists = true
						}
					})
					return jurOHExists
				}
				else {
					return ((this.vm.jurisdictions.filter(item => item.status == "OH").length > 0))
				}
			},
			isMemoExists: function () {
				return (!Em(this.vm.memoInfo.memo))
			},
			isOHMemoExists: function () {
				return (!Em(this.vm.memoInfo.ohMemo))
			},
			isPastDateReasonExists: function () {
				return (!Em(this.vm.memoInfo.datesMoreThanSixDaysPast))
			},
			jurCount: function () {
				var count = 0
				if (this.vm.mode == "Add") {
					count = this.vm.jurisdictions.filter(item => (item.jurisdictionName != "")).length
				} else {
					count = this.vm.jurisdictions.filter(item => (item.id != 0)).length
				}
				return count;
			},
			submissionStatus: function () {
				return (this.vm.submissions.filter(item => (item.id == this.vm.submissionId))[0].status)
			},
			submissionsSelected: function () {
				return (this.vm.submissions.filter(item => item.selected == true))
			}
		},
		validations() {
			return {
				vm: {
					jurisdictions: {
						$each: {
							jurisdictionId: {
								required
							},
							companyId: {
								required
							},
							currencyId: {
								required
							},
							contractTypeId: {
								required
							},
							contractNumber: {
								maxLength: maxLength(150)
							},
							labId: {
								required
							},
							masterBillingProject: {
								maxLength: maxLength(20)
							},
							active: {
								required
							},
							projectNumber: {
								maxLength: maxLength(50)
							},
							purchaseOrder: {
								maxLength: maxLength(50)
							},
							receiveDate: {
								required
							},
							requestDate: {
								required
							},
							status: {
								required
							},
							clientNumber: {
								maxLength: maxLength(50),
								required: requiredIf(function () {
									return (this.vm.isFlatFileManuf || this.vm.isAristocratManuf)
								})
							},
							letterNumber: {
								maxLength: maxLength(250),
								required: requiredIf(function () {
									return (this.vm.isFlatFileManuf || this.vm.manufacturer == "MMG")
								})
							},
						}
					}
				}
			}
		},
		methods: {
			clickCancel: function () {
				// remove this windows.close line once link to this page from .asp is removed
				if (this.vm.submissionId === 0) {
					window.close();
				}

				location.href = jsPath + 'submission/submission/detail/' + this.vm.submissionId;
			},
			clickShowAllFields: function () {
				Loading()
				var self = this;
				setTimeout(function () { self.showAllFields = ($('#AllFields').prop('checked')) ? true : false; }, 1000);
			},
			clickShowAllJurisdictions: function () {
				Loading()
				var self = this;
				setTimeout(function () { self.showAllJurisdictions = ($('#AllJurs').prop('checked')) ? true : false; }, 1000);
			},
			addNewJurisdiction: function () {
				Loading()
				for (var i = 0; i < this.jurAddCount; i++) {
					var newJur = {
						id: 0,
						companyId: this.vm.defaultJurisdiction.companyId,
						company: this.vm.defaultJurisdiction.company,
						contractTypeId: this.vm.defaultJurisdiction.contractTypeId,
						contractType: this.vm.defaultJurisdiction.contractType,
						currencyId: this.vm.defaultJurisdiction.currencyId,
						currency: this.vm.defaultJurisdiction.currency,
						status: this.vm.defaultJurisdiction.status,
						active: this.vm.defaultJurisdiction.active,
						labId: this.vm.defaultJurisdiction.labId,
						lab: this.vm.defaultJurisdiction.lab,
						selToUpdate: false,
						warningMsgs: []
					}
					this.vm.jurisdictions.unshift(newJur)
				}
				//reset
				this.jurAddCount = 1
			},
			checkAllJurs: function () {
				if ($('#checkAllJur').prop("checked") == true) {
					for (var i = 0; i < this.vm.jurisdictions.length; i++) {
						this.vm.jurisdictions[i].selToUpdate = true
					}
				} else {
					for (var i = 0; i < this.vm.jurisdictions.length; i++) {
						this.vm.jurisdictions[i].selToUpdate = false
					}
				}
			},
			getMemoModal: function (type, val) {
				if (type == this.memoType.OHMemo) {
					this.showOHMemoModal = val
				}
				else if (type == this.memoType.PastDate) {
					this.showMemoForPastDate = val
				}
				else {
					this.showMemoModal = val
				}

			},
			saveMemo: function (type, val) {
				if (type == this.memoType.OHMemo) {
					this.vm.memoInfo.ohMemo = val
					this.getMemoModal(type, false)
				}
				else if (type == this.memoType.PastDate) {
					this.vm.memoInfo.datesMoreThanSixDaysPast = val
					this.getMemoModal(type, false)
				}
				else {
					this.vm.memoInfo.memo = val
					this.getMemoModal(type, false)
				}
			},
			copyBulkData: function (fromjurisdiction, toIndex) {
				Loading()
				const keys = Object.keys(fromjurisdiction);
				for (var i = 0; i < keys.length; i += 1) {
					if (!Em(fromjurisdiction[keys[i]])) {
						Vue.set(this.vm.jurisdictions[toIndex], [keys[i]], fromjurisdiction[keys[i]])
					}
				}
			},
			deleteJurisdiction: function (index) {
				this.vm.jurisdictions.splice(index, 1);
			},
			getDateDiffInDays: function (d1, d2) {
				var t2 = d2.getTime();
				var t1 = d1.getTime();
				return parseInt((t2 - t1) / (24 * 3600 * 1000));
			},
			openBulkUpdateModal: function () {
				var isJurisdictionSelected = false
				for (var i = 0; i < this.vm.jurisdictions.length; i++) {
					if (this.vm.jurisdictions[i].selToUpdate == true) {
						isJurisdictionSelected = true;
					}
				}
				if (!isJurisdictionSelected) {
					bootbox.alert("Please select Jurisdictions to update.")
				}
				else {
					this.showBulkUpdateModal = true;
				}
			},
			updateShowBulkUpdateModal: function (showBulkUpdateModal) {
				this.showBulkUpdateModal = showBulkUpdateModal;
			},
			checkAndGetMemoForPastDate: function () {
				var showMemo = false;
				var refThis = this

				this.vm.jurisdictions.forEach(function (jur) {
					var recDate = new Date(jur.receiveDate)
					var subDate = new Date(jur.requestDate)
					var today = new Date()

					if (refThis.vm.mode == 'Add') {
						if (refThis.getDateDiffInDays(recDate, today) > 6 || refThis.getDateDiffInDays(subDate, today) > 6) {
							if (recDate != new Date(refThis.vm.receiveDate) || subDate != new Date(refThis.vm.submitDate)) {
								showMemo = true;
							}
						}
					}
					else if (refThis.vm.mode == 'Edit') {
						if ((refThis.getDateDiffInDays(recDate, today) > 6 && jur.columnChanges.receiveDate == true) || (refThis.getDateDiffInDays(subDate, today) > 6 && jur.columnChanges.requestDate == true)) {
							if (recDate != new Date(refThis.vm.receiveDate) || subDate != new Date(refThis.vm.submitDate)) {
								showMemo = true;
							}
						}
					}
				})

				if (showMemo) {
					this.getMemoModal(this.memoType.PastDate, true)
				}
				else {
					bootbox.alert("Reason is only required when dates are more than 6 days in past.")
				}
				return false;
			},
			checkDatesForTransfersAndAdd: function () {
				var datesNotSame = false
				var refThis = this
				this.vm.jurisdictions.forEach(function (jur) {
					var recDate = new Date(jur.receiveDate)
					var subDate = new Date(jur.requestDate)

					if (recDate != refThis.vm.receiveDate || subDate != refThis.vm.submitDate) {
						datesNotSame = true;
					}
				})

				if (this.vm.isFileOpen && datesNotSame) {
					this.warningBeforeSave = "You are about to add a jurisdiction(s) to an open file - please be sure that this jurisdiction(s) does/does not require a separate bundle.\n The Submission's Current Test Lab is " + this.vm.testlab + "."
				}
				else {
					this.saveJurisdictions()
				}
			},
			checkDuplicatesJurId: function (currentIndex, jurId) {
				var seenDuplicate = false
				this.vm.jurisdictions.forEach(function (jurisdiction, index) {
					if (index != currentIndex && jurisdiction.jurisdictionId == jurId) {
						seenDuplicate = true;
						return seenDuplicate
					}
				})
				return seenDuplicate;
			},
			checkAddCustomValidatorsInvalid: function () {
				var hasErrors = true;
				var refThis = this
				//reset all errors
				this.vm.jurisdictions.forEach(function (jur, index) {
					//jur.warningMsgs = [];
					Vue.set(refThis.vm.jurisdictions[index], "warningMsgs", [])
				})

				this.vm.jurisdictions.forEach(function (jurisdiction, index) {
					refThis.checkAddEditCommonValidators(jurisdiction, index)
				})

				//Check if any warning
				var checkAnyWithWarnings = this.vm.jurisdictions.filter(function (el) {
					return (el.warningMsgs.length > 0)
				});

				if (checkAnyWithWarnings.length == 0) {
					hasErrors = false
					return (hasErrors)
				}
				else {
					hasErrors = true
					return (hasErrors)
				}
			},
			checkAddEditCommonValidators: function (jurisdiction, index) {
				var refThis = this
				var recDate = new Date(jurisdiction.receiveDate)
				var subDate = new Date(jurisdiction.requestDate)
				var today = new Date()

				//if jur selected twice
				if (refThis.checkDuplicatesJurId(index, jurisdiction.jurisdictionId)) {
					jurisdiction.warningMsgs.push("Duplicate Jurisdictions.")
				}

				if (recDate < subDate) {
					jurisdiction.warningMsgs.push("Received date can not be older than submit date.")
				}

				//dates Past 6 days check only while Add
				if (refThis.vm.mode == 'Add' && (refThis.getDateDiffInDays(recDate, today) > 6 || refThis.getDateDiffInDays(subDate, today) > 6)) {
					if (Em(refThis.vm.memoInfo.datesMoreThanSixDaysPast)) {
						if (refThis.getDateDiffInDays(recDate, new Date(refThis.vm.receiveDate)) != 0 || refThis.getDateDiffInDays(subDate, new Date(refThis.vm.submitDate)) != 0) {
							jurisdiction.warningMsgs.push("Dates are greater than 6 days in the past. You must fill out a Past Dates Reason.")
						}
					}
					else {
						jurisdiction.pastDateMemo = refThis.vm.memoInfo.datesMoreThanSixDaysPast
					}
				}
				else if (refThis.vm.mode == 'Edit' && ((refThis.getDateDiffInDays(recDate, today) > 6 && jurisdiction.columnChanges.receiveDate == true) || (refThis.getDateDiffInDays(subDate, today) > 6 && jurisdiction.columnChanges.requestDate == true))) {
					//While Edit only if it's changed in current edit
					if (Em(refThis.vm.memoInfo.datesMoreThanSixDaysPast)) {
						if (refThis.getDateDiffInDays(recDate, new Date(refThis.vm.receiveDate)) != 0 || refThis.getDateDiffInDays(subDate, new Date(refThis.vm.submitDate)) != 0) {
							jurisdiction.warningMsgs.push("Dates are greater than 6 days in the past. You must fill out a Past Dates Reason.")
						}
					}
					else {
						jurisdiction.pastDateMemo = refThis.vm.memoInfo.datesMoreThanSixDaysPast
					}
				}

				//OH Memo
				if (refThis.isAnyOHJur) {
					if (refThis.vm.mode == 'Add' && Em(refThis.vm.memoInfo.ohMemo) && jurisdiction.status == "OH") {
						jurisdiction.warningMsgs.push("You must enter OH Memo.")
					}
					else if (refThis.vm.mode == 'Edit' && Em(refThis.vm.memoInfo.ohMemo) && jurisdiction.status == "OH" && jurisdiction.columnChanges.status == true) { //Only if it's changed to OH from some other status
						jurisdiction.warningMsgs.push("You must enter OH Memo.")
					}
				}

				if (recDate > today || subDate > today) {
					jurisdiction.warningMsgs.push("Future Dates are not allowed for Received/Submit Date.")
				}

				//Master Billing info(WON)
				if (!Em(jurisdiction.masterBillingProject)) {
					if (convertToDynamicsFileNumberFormat(jurisdiction.masterBillingProject) == null) {
						jurisdiction.warningMsgs.push("WON File Number is Invalid. Please provide a valid Submissions or Dynamics fileNumber.");
					}
				}
				Vue.set(refThis.vm.jurisdictions[index], "warningMsgs", jurisdiction.warningMsgs)

			},
			checkEditCustomValidatorsInvalid: function () {

				var hasErrors = true;
				var refThis = this
				//reset all errors
				this.vm.jurisdictions.forEach(function (jur, index) {
					//jur.warningMsgs = [];
					Vue.set(refThis.vm.jurisdictions[index], "warningMsgs", [])
				})

				this.warningBeforeEdit.verifyCertTestLab = false;
				this.warningBeforeEdit.verifyRecordStatus = false;
				this.warningBeforeEdit.verifyConditionalRevoke = false;
				this.warningBeforeEdit.verifyBundleIsInUpdating = false;
				this.warningBeforeEdit.verifyTestScript = false;
								
				this.vm.jurisdictions.forEach(function (jurisdiction, index) {
					if (refThis.vm.jurisdictions[index].selToUpdate) {
						refThis.checkAddEditCommonValidators(jurisdiction, index) //these are common for Add and edit
						refThis.validateEachEditJurisdiction(jurisdiction)
					}
				})
				//Check if any warning
				var checkAnyWithWarnings = this.vm.jurisdictions.filter(function (el) {
					return (el.warningMsgs.length > 0)
				});

				if (checkAnyWithWarnings.length == 0) {
					hasErrors = false
					return (hasErrors)
				}
				else {
					hasErrors = true
					return (hasErrors)
				}
			},
			checkSaveJurisdictions: function () {
				this.unSetErrorMsg()
				if (this.vm.jurisdictions.length == 0) {
					this.errorMsg = "Please add Jurisdiction(s) before saving."
				}
				else if (this.vm.submissions.filter(item => item.selected == true).length == 0) {
					this.errorMsg = "You must select at least one submission record for Jurisdiction(s)."
				}
				else {
					if (this.vm.mode == "Add") { // Add
						var refThis = this
						if ((this.vm.jurisdictions.filter(item => item.jurisdictionName == "").length > 0)) {
							this.vm.jurisdictions.forEach(function (jur, index) {
								if (jur.jurisdictionName == "") {
									refThis.deleteJurisdiction(index)
									refThis.errorMsg = "Blank Jurisdiction(s) row(s) were removed."
								}
							})
							this.checkSaveJurisdictions();
						}
						else if (this.validateNewJurData()) {
							this.checkDatesForTransfersAndAdd()
						}
					}
					else if (this.vm.mode == "Edit") { // Edit

						if (this.vm.jurisdictions.filter(x => x.selToUpdate == true).length == 0) {
							this.errorMsg = "Please select Jurisdiction(s) to be updated."
						}
						else if (this.vm.jurisdictions.filter(x => x.isDirty == true).length == 0 && this.vm.copyOnlyModified == true) { //else if (this.vm.jurisdictions.filter(x => x.isDirty == true).length == 0 && (this.vm.submissions.filter(x => x.selected == true).length == 1 &&  (this.vm.submissions.filter(x => x.selected == true))[0].id == this.vm.submissionId  )){
							this.errorMsg = "No changes have been made to Jurisdiction(s)."
						}
						else if (this.validateEditJurData()) {
							if (this.warningBeforeEdit.verifyCertTestLab || this.warningBeforeEdit.verifyRecordStatus || this.warningBeforeEdit.verifyConditionalRevoke) {
								this.warningBeforeSave = ""

								if (this.warningBeforeEdit.verifyCertTestLab) {
									this.warningBeforeSave += "\n- Remember to verify the test lab and issuing lab!"
								}
								if (this.warningBeforeEdit.verifyRecordStatus) {
									this.warningBeforeSave += "\n- The record status is " + this.submissionStatus + ". It should be AP. Remember to change it! "
								}
								if (this.warningBeforeEdit.verifyConditionalRevoke) {
									this.warningBeforeSave += "\n- Does your letter contain a Conditional Revoke?  If so, be sure to check the Conditional Revoke Box."
								}
								if (this.warningBeforeEdit.verifyBundleIsInUpdating) {
									this.warningBeforeSave += "\n- Some Jurisdictions are getting updated to closed status. Please make sure bundle is accepted in Updating queue."
								}
								if (this.warningBeforeEdit.verifyTestScript) {
									this.warningBeforeSave += "\n- Test Script Version should not be blank when status is in AP,DR,MO. Please make sure."
								}
							}
							else {
								this.saveEditJurisdictions()
							}
						}
					}
				}
			},
			formatDate: function (date) {
				let year = date.getFullYear();
				let month = (1 + date.getMonth()).toString().padStart(2, '0');
				let day = date.getDate().toString().padStart(2, '0');
  
				return month + '/' + day + '/' + year;
			},
			refreshData: function (jurisdictionDataId, jurisdictionData) {
				var oldSelToUpdate = 0
				var keys = Object.keys(jurisdictionData);

				for (var j = 0; j < this.vm.jurisdictions.length; j++) {
					if (this.vm.jurisdictions[j].id == jurisdictionDataId) {
						for (var i = 0; i < keys.length; i += 1) {
							Vue.set(this.vm.jurisdictions[j], [keys[i]], jurisdictionData[keys[i]])
						}
					}
				}
			},
			saveAddJurisdictions: function () {
				this.Processing = true
				var refThis = this
				this.$http.post('Submission/JurisdictionalData/AddJurisdictionalData', {
					jurisdictionAddVm: this.vm
				}).then(response => {

					if (response.data.length > 0) {
						var jurs = ""
						$.each(response.data, function (index, item) {
							jurs += item + '<br>';
						});
						bootbox.alert("<font class='text-warning'>Below Jurisdiction(s) were not added, they already exist in some records. </font><br><br>" + jurs, function () {
							refThis.Processing = false
							location.href = jsPath + "submission/jurisdictionaldata/edit?mode=Add&fileNumber=" + refThis.vm.fileNumber 
						});
					}
					else {

						bootbox.alert("<font class=text-success>Jurisdiction(s) were added successfully.</font>", function () {
							refThis.Processing = false
							location.href = jsPath + "submission/submission/detail?fileNumber=" + refThis.vm.fileNumber 
						});
					}

					window.opener.location.reload()
				}, response => {
					bootbox.alert({
						title: "Error:",
						message:
							"<p>Opps.. something went wrong please enter a Service Now ticket, and include the following information.</p>"
							+ "<table border='1'>"
							+ "<tr><td>Exceptiopn</td><td>" + JSON.parse(response.data) + "</td></tr>"
							+ "</table>"
					});

				})
			},
			saveEditJurisdictions: function () {
				this.Processing = true
				var refThis = this
				this.$http.post('Submission/JurisdictionalData/SaveJurisdictionalData', {
					jurisdictionEditVm: this.vm
				}).then(response => {
					if (response.data == "OK") {
						bootbox.alert("<font class=text-success>Jurisdiction(s) were saved successfully.</font>", function () {
							refThis.Processing = false
							location.href = jsPath + "submission/jurisdictionaldata/edit?mode=edit&fileNumber=" + refThis.vm.fileNumber + "&submissionId=" + refThis.vm.submissionId
						});
					}
					else {
						bootbox.alert("<font class='text-warning'>Error Occured!! Jurisdiction(s) were not saved. Please enter a Service Now ticket.</font><br><br>", function () {
							refThis.Processing = false
							location.href = jsPath + "submission/jurisdictionaldata/edit?mode=Edit&fileNumber=" + refThis.vm.fileNumber + "&submissionId=" + refThis.vm.submissionId
						});
					}
					window.opener.location.reload()
				}, response => {

					bootbox.alert({
						title: "Error:",
						message:
							"<p>Something went wrong please enter a Service Now ticket, Jurisdictions were not saved.</p>"
					});
					refThis.Processing = false

				})
			},
			saveJurisdictions: function () {
				if (this.vm.mode == "Add") {
					this.saveAddJurisdictions()
				}
				else {
					this.saveEditJurisdictions()
				}
			},
			showJurExtraInfoForSubmissionSelection: function (jurisdictionId) {
				var refThis = this
				var submissionIds = []
				for (var i = 0; i < this.vm.submissions.length; i++) {
					submissionIds.push(refThis.vm.submissions[i].id)
					refThis.vm.submissions[i].extraInfoDisplay = "";
				}

				var url = "submission/JurisdictionalData/GetJurisdictionInfoForSubmissionIds?submissionIds=" + JSON.stringify(submissionIds) + "&jurNum=" + jurisdictionId + "&q=" + Math.random()
				this.$http.get(url).then(function (response) {

					if (response.data.length == 0) {
						bootbox.alert("<b>Warning!!</b> Data could not be retrieved. Please try again.")
					}
					else {
						var jurInfoDisplayStr = ""
						$.each(response.data, function (index, item) {
							
							var selItem = refThis.vm.submissions.find(i => i.id == item.SubmissionId)
							if (selItem != null) {
								let submitDate = refThis.formatDate(new Date(parseInt(item.SubmitDate.substr(6))))
								let receiveDate = refThis.formatDate(new Date(parseInt(item.ReceiveDate.substr(6))))
								jurInfoDisplayStr = "<b>" + item.Name + "</b>&nbsp;&nbsp;<i>Status:</i><b>" + item.Status + "</b>" + "&nbsp;&nbsp;<i>Submitted:</i><b>" + submitDate + "</b>&nbsp;&nbsp;<i>Received:</i><b>" + receiveDate + "</b>"
								selItem.extraInfoDisplay = jurInfoDisplayStr
							}
							
						});
					}
				}, function (error) {
					console.log(error.statusText);
				});
			},
			unSetErrorMsg: function () {
				this.errorMsg = ""
				this.warningBeforeSave = ""
				this.processing = false

			},
			updateBulkData: function (updateData) {
				var count = 0
				for (var i = 0; i < this.vm.jurisdictions.length; i++) {
					if (this.vm.jurisdictions[i].selToUpdate == true) {
						this.copyBulkData(updateData, i)
						count += 1
						if (count > 1)//only first one should show warning for status and apply same for rest
						{
							Vue.set(this.vm.jurisdictions[i], "hideWarningModeForStatus", true)
						}
						else if (count == 0) {
							Vue.set(this.vm.jurisdictions[i], "hideWarningModeForStatus", false)
						}
					}
				}

				this.$data.showBulkUpdateModal = false
			},
			updateBulkRevertStatus: function (fromStatus, toStatus) {
				for (var i = 0; i < this.vm.jurisdictions.length; i++) {
					if (this.vm.jurisdictions[i].selToUpdate == true) {
						if (this.vm.jurisdictions[i].status == fromStatus) {
							Vue.set(this.vm.jurisdictions[i], "status", toStatus)
						}
					}
				}
			},
			validateEachEditJurisdiction: function (jurisdiction) {
				var status = jurisdiction.status
			
				if ((status == "AP" || status == "TC" || status == "LQ" || status == "MS" || status == "DR" || status == "MO") && jurisdiction.columnChanges.status == true) {
					// REMINDER "Remember to verify the test lab and issuing lab!"
					this.warningBeforeEdit.verifyCertTestLab = true
				}

				//If closed Status then make sure bundle is updating queue
				if (this.vm.userAndOtherInfo.closedStatuses.indexOf(status) > -1 && jurisdiction.columnChanges.status == true) {
					this.warningBeforeEdit.verifyBundleIsInUpdating = true
				}

				if (status == "AP" || status == "TC") {
					if (Em(jurisdiction.closeDate)) {
						jurisdiction.warningMsgs.push("You must enter a Closed Date.")
					}
					if (jurisdiction.active != "Yes") {
						jurisdiction.warningMsgs.push("You must set the Active field to Active.")
					}
					if (this.submissionStatus != "AP" && jurisdiction.columnChanges.status == true) {
						// REMINDER "The record status is ***. It should be AP. Remember!!! to change it!!!"
						this.warningBeforeEdit.verifyRecordStatus = true
					}
				}

				if ((status == "RJ" && jurisdiction.columnChanges.status == true) || (status == "WD" && jurisdiction.columnChanges.status == true)) {
					if (Em(jurisdiction.closeDate)) {
						jurisdiction.warningMsgs.push("You must enter a Closed Date.")
					}
					if (Em(jurisdiction.rjwdReason)) {
						jurisdiction.warningMsgs.push("You must specify a reason for the Jurisdiction going RJ or WD.")
					}
				}

				if (status == "DR") {
					if (Em(jurisdiction.draftDate)) {
						jurisdiction.warningMsgs.push("You must enter a Draft Letter Date.")
					}
				}
				if (status == "RV" || jurisdiction.regulatoryStatus == "RV") {
					if (Em(jurisdiction.revokeDate)) {
						jurisdiction.warningMsgs.push("You must enter a revoked Date.")
					}
					//389 upgrade by Date is mandatory
					if (jurisdiction.jurisdictionId == "389" && Em(jurisdiction.upgradeByDate)) {
						jurisdiction.warningMsgs.push("You must enter upgrade by date.")
					}
				}

				if ((jurisdiction.jurisdictionId == "289" || jurisdiction.jurisdictionId == "38") && !Em(jurisdiction.revokeDate)) { //Missouri && Missouri cashless
					if (Em(jurisdiction.regulatoryStatus)){
						jurisdiction.warningMsgs.push("You must enter Regulatory Status.")
					}
				}

				if (status != "RV" && jurisdiction.regulatoryStatus != "RV") {
					if (!Em(jurisdiction.revokeDate)) {
						jurisdiction.warningMsgs.push("You must clear revoked Date.")
					}
				}
				if (status == "NU" || jurisdiction.regulatoryStatus == "NU") {
					if (Em(jurisdiction.obsoleteDate)) {
						jurisdiction.warningMsgs.push("You must enter a NU Date.")
					}
				}
				if (status != "NU" && jurisdiction.regulatoryStatus != "NU") {
					if (!Em(jurisdiction.obsoleteDate)) {
						jurisdiction.warningMsgs.push("You must clear NU Date.")
					}
				}
				if (status == "NU" && jurisdiction.columnChanges.status == true) {
					// "Does your letter contain a Conditional Revoke?  If so, be sure to check the Conditional Revoke Box and select Yes in the dropdown."
					this.warningBeforeEdit.verifyConditionalRevoke = true
				}

				//needs upgrade by date
				if (jurisdiction.nationCode == "US" && jurisdiction.jurType != "lottery" && Em(jurisdiction.upgradeByDate) && jurisdiction.columnChanges.status == true && ((status == "RV" || jurisdiction.regulatoryStatus == "RV") ||  jurisdiction.conditionalRevoke == true)) { // Take out NU as per phyllis
					jurisdiction.warningMsgs.push("All non-lottery jurisdictions must have 'Upgrade By' information if they are in RV status or contain a conditional revoke.")
				}

				//Check all Dates and warn if future date
				var today = new Date()
				var futureDate = today.setHours(today.getHours() + 24)
				if (!Em(jurisdiction.receiveDate)) {
					if ((new Date(jurisdiction.receiveDate)) > futureDate) {
						jurisdiction.warningMsgs.push("Jurisdiction Received Date is greater than 24 hours in the future from the current date.")
					}
				}

				if (!Em(jurisdiction.requestDate)) {
					if ((new Date(jurisdiction.requestDate)) > futureDate) {
						jurisdiction.warningMsgs.push("Jurisdiction Submitted Date is greater than 24 hours in the future from the current date.")
					}
				}

				if (!Em(jurisdiction.closeDate)) {
					if ((new Date(jurisdiction.closeDate)) > futureDate) {
						jurisdiction.warningMsgs.push("Jurisdiction Close Date is greater than 24 hours in the future from the current date.")
					}
				}

				if (!Em(jurisdiction.revokeDate)) {
					if ((new Date(jurisdiction.revokeDate)) > futureDate) {
						jurisdiction.warningMsgs.push("Jurisdiction Revoked Date is greater than 24 hours in the future from the current date.")
					}
				}

				if (!Em(jurisdiction.obsoleteDate)) {
					if ((new Date(jurisdiction.obsoleteDate)) > futureDate) {
						jurisdiction.warningMsgs.push("Jurisdiction NU Date is greater than 24 hours in the future from the current date.")
					}
				}

				if (!Em(jurisdiction.draftDate)) {
					if ((new Date(jurisdiction.draftDate)) > futureDate) {
						jurisdiction.warningMsgs.push("Jurisdiction Draft Letter Date is greater than 24 hours in the future from the current date.")
					}
				}

				if (!Em(jurisdiction.UpdateDate)) {
					if ((new Date(jurisdiction.UpdateDate)) > futureDate) {
						jurisdiction.warningMsgs.push("Jurisdiction Updated Date is greater than 24 hours in the future from the current date.")
					}

					if (Em(jurisdiction.updateReason)) {
						jurisdiction.warningMsgs.push("Please provide a Reason for the Update Date.")
					}
				}

				//Test script version check
				if ((status == "AP" || status == "DR" || status == "MO") && jurisdiction.columnChanges.status == true) {
					if (Em(jurisdiction.testScriptVersions)) {
						// this.warningBeforeEdit.verifyTestScript = true
					}
				}

			},
			validateEditJurData: function () { // this is when they edit jurisdictions
				var isDataValidated = false
				this.$v.$touch();

				var self = this
				var isSelectedInvalid = false
				for (var i = 0; i < this.vm.jurisdictions.length; i++) {
					if (this.vm.jurisdictions[i].selToUpdate == true) {
						if (!isSelectedInvalid) {
							isSelectedInvalid = self.$v.vm.jurisdictions.$each[i].$invalid
						}
					}
				}
				//$v.vm.jurisdictions.$each[index]

				if (!isSelectedInvalid) { //(!this.$v.$invalid) {
					if (!this.checkEditCustomValidatorsInvalid()) {
						isDataValidated = true
						return (isDataValidated)
					}
					else {
						isDataValidated = false
						this.errorMsg += "Please correct data before saving. "
						return (isDataValidated)
					}
				}
				else {
					isDataValidated = false
					this.errorMsg += "Please correct data before saving. "
					return (isDataValidated)
				}

			},
			validateNewJurData: function () { //this is main for Add jurisdictions
				var isDataValidated = false
				this.$v.$touch();

				if (!this.$v.$invalid) {

					if (!this.checkAddCustomValidatorsInvalid()) {
						isDataValidated = true
						return (isDataValidated)
					}
					else {
						isDataValidated = false
						this.errorMsg += "Please correct data before saving. "
						return (isDataValidated)
					}
				}
				else {
					isDataValidated = false
					this.errorMsg += "Please correct data before saving. "
					return (isDataValidated)
				}

			}

		},
		mounted: function () {
			this.$data.orgJurisdictions = _.cloneDeep(this.vm.jurisdictions);
		}
	}
</script>
