﻿<template>
	<tr style="border-bottom:solid;border-bottom-color:lightblue;border-bottom-width:thin;">
		<a :Name="jurisdiction.id"></a>
		<div v-bind:class="{'isDirtyRow' : (jurisdiction.isDirty) }">
			<table width="100%">
				<tr>
					<td width="35px" valign="top">
						<input type="checkbox" name="selToUpdate" v-model="jurisdiction.selToUpdate" title="Check to bulk update or Check this box if changes for this jurisdiction are to be updated.">&nbsp;&nbsp;
					</td>
					<td>
						<div class="row">
							<div class="col-xs-9">
								<font class=field-validation-error v-show="(validator.$invalid)" v-tooltip:bottom="'Please enter required fields in red.'">*&nbsp;</font>
								<span class=field-validation-error v-show="(jurisdiction.warningMsgs.length > 0)" :title="warningMsgText"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></span>

								<A style="cursor:pointer" @click="toggleVisibility($event,true)" v-if="isVisible == false"><i class="fas fa-plus-square"></i></A><A style="cursor:pointer" @click="toggleVisibility($event,false)" v-if="isVisible == true"><i class="fas fa-minus-square"></i></A>&nbsp; <font color="navy">{{ jurisdiction.jurisdictionName }}</font><strong><font color="red">&nbsp;{{ jurisdiction.jurisdictionId }}</font></strong>
								<span><a style="cursor:pointer" title="Refresh data for this particular jurisdiction only" @click="refreshData($event)">&nbsp;<i class="fas fa-sync"></i></a></span>
								<span>&nbsp;&nbsp;<a style="cursor:pointer" title="Show status, submit date, receive date for this jurisdiction for above submission records" @click="showJurDataForRecords($event)"><i class="fas fa-info-circle"></i></a></span>
							</div>
							<div class="col-xs-2">
								<a href="#" class="smallLabel text-info" @click="manageReplacement()"><font class="text-info">Replacing: {{ jurisdiction.replaceCount }} Items</font></a>
							</div>
							<div class="col-xs-1">
								<a v-if="jurisdiction.jurisdictionGPSPDF != null && jurisdiction.jurisdictionGPSPDF != '' && jurisdiction.status != 'DR'" :href="jurisdiction.jurisdictionGPSPDF" target="_blank"><i class="far fa-file-pdf fa-fw"></i></a>
								<a v-else-if="jurisdiction.draftGPSPDFPath != null && jurisdiction.draftGPSPDFPath != '' && jurisdiction.status == 'DR'" :href="jurisdiction.draftGPSPDFPath" target="_blank"><i class="far fa-file-pdf fa-fw"></i></a>
								<a v-else-if="jurisdiction.pdfPath != null && jurisdiction.pdfPath != '' && jurisdiction.status != 'DR'" :href="jurisdiction.pdfPath" target="_blank"><i class="far fa-file-pdf fa-fw"></i></a>
								<a v-else-if="jurisdiction.draftWebPDFPath != null && jurisdiction.draftWebPDFPath != '' && jurisdiction.status == 'DR'" :href="jurisdiction.draftWebPDFPath" target="_blank"><i class="far fa-file-pdf fa-fw"></i></a>
							</div>
						</div>
					</td>
				</tr>
				<tr v-if="isVisible == true">
					<td></td>
					<td>
						<div class="row">
							<div class="col-xs-3 padr0 padl0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.jurisdictionId.$invalid) }">Jurisdiction</label>
								<input id="JurisdictionName" name="JurisdictionName" type="hidden" v-model="jurisdiction.jurisdictionName" />
								<Lookup :id="'JurisdictionId' + itemIndex" :name="'JurisdictionId' + itemIndex" :lookuptextfield="jurisdiction.jurisdictionName" lookupajax="Jurisdictions" templatename="formatJurisdictions" v-model="jurisdiction.jurisdictionId" @updateLookupTextField="updateJurisdiction" :disabled="jurisdictionSubRecDateReadOnly" title="Jurisdiction" class="form-control form-control-sm"></Lookup>
							</div>
							<div class="col-xs-2 padr0 padl0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.companyId.$invalid) }">Company</label>
								<input name="Company" id="Company" type="hidden" v-model="jurisdiction.company" />
								<Lookup :id="'CompanyId' + itemIndex" :name="'CompanyId' + itemIndex" :lookuptextfield="jurisdiction.company" lookupajax="Companies" v-model="jurisdiction.companyId" @updateLookupTextField="updateCompany" title="Company"></Lookup>
							</div>
							<div class="col-xs-1 padr0 padl0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.currencyId.$invalid) }">Currency</label>
								<input name="Currency" id="Currency" type="hidden" v-model="jurisdiction.currency" />
								<Lookup :id="'CurrencyId' + itemIndex" :name="'CurrencyId' + itemIndex" :lookuptextfield="jurisdiction.currency" lookupajax="Currencies" v-model="jurisdiction.currencyId" @updateLookupTextField="updateCurrency" title="Currency"></Lookup>
							</div>
							<div class="col-xs-1 padr0 padl0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.contractTypeId.$invalid) }">Contract Type</label>
								<input name="ContractType" id="ContractType" type="hidden" v-model="jurisdiction.contractType" />
								<Lookup :id="'ContractTypeId' + itemIndex" :name="'ContractTypeId' + itemIndex" :lookuptextfield="jurisdiction.contractType" lookupajax="ContractTypes" v-model="jurisdiction.contractTypeId" @updateLookupTextField="updateContractType" title="Contract Type"></Lookup>
							</div>
							<div class="col-xs-1 padr0 padl0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.requestDate.$invalid) }">Submit Date</label>
								<DatePicker name="SubmitDate" v-model="jurisdiction.requestDate" placeholder="Submit Date" :disabled="jurisdictionSubRecDateReadOnly"></DatePicker>
							</div>
							<div class="col-xs-1 padr0 padl0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.receiveDate.$invalid) }">Receive Date</label>
								<DatePicker name="RecieveDate" v-model="jurisdiction.receiveDate" placeholder="Receive Date" :disabled="jurisdictionSubRecDateReadOnly"></DatePicker>
							</div>
							<div class="col-xs-1 padl0 padr0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.active.$invalid) }">Active</label>
								<SelectStandard :id="'Active' + itemIndex" :name="'Active' + itemIndex" :value="jurisdiction.active" :options="jurisdictionActiveStatuses" v-model="jurisdiction.active" title="Active"></SelectStandard>
							</div>
							<div class="col-xs-2 padl0 padr0">
								<div class="col-xs-10 padl0 padr0">
									<label class="smallLabel" v-bind:class="{'errorField' : (validator.labId.$invalid) }">TX Lab</label>
									<Lookup :id="'CTXLabId' + itemIndex" :name="'TXLabId' + itemIndex" :lookuptextfield="jurisdiction.lab" placeHolder="Test Lab" lookupajax="Laboratories" v-model="jurisdiction.labId" @updateLookupTextField="updateTestLab" title="Test Lab"></Lookup>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3 padl0 padr0">
								<div class="col-xs-6 padl0 padr0">
									<label class="smallLabel" v-bind:class="{'errorField' : (validator.status.$invalid) }">Status</label>
									<SelectStandard :id="'JurisdictionStatus' + itemIndex" :name="'JurisdictionStatus' + itemIndex" :value="jurisdiction.status" :options="jurisdictionStatuses" v-model="jurisdiction.status" title="Status"></SelectStandard>
								</div>
								<div class="col-xs-6 padl0 padr0">
									<label class="smallLabel" v-bind:class="{'errorField' : (validator.masterBillingProject.$invalid) }">WON</label>
									<input name="masterBillingProject" id="masterBillingProject" type="text" v-model="jurisdiction.masterBillingProject" class="form-control" placeholder="Work Order #" />
									<span class="field-validation-error" v-if="validator.masterBillingProject.$invalid && !validator.masterBillingProject.maxLength">WON must be a string with a maximum length of {{ validator.masterBillingProject.$params.maxLength.max }}.</span>
								</div>
							</div>
							<div class="col-xs-1 padr0 padl0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.contractNumber.$invalid) }">Contract #</label>
								<input name="ContractNumber" id="ContractNumber" type="text" v-model="jurisdiction.contractNumber" class="form-control" placeholder="Contract Number" />
								<span class="field-validation-error" v-if="validator.contractNumber.$invalid && !validator.contractNumber.maxLength">Contract Number must be a string with a maximum length of {{ validator.contractNumber.$params.maxLength.max }}.</span>
							</div>
							<div class="col-xs-1 padr0 padl0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.clientNumber.$invalid) }" v-if="isAristocratManuf != true">Billing Reference</label>
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.clientNumber.$invalid) }" v-else="isAristocratManuf == true">RDAP Pin </label>
								<input name="ClientNumber" id="ClientNumber" type="text" v-model="jurisdiction.clientNumber" class="form-control" placeholder="Billing Reference/RDAP Pin" />
								<span class="field-validation-error" v-if="validator.clientNumber.$invalid && !validator.clientNumber.maxLength">Billing Reference must be a string with a maximum length of {{ validator.clientNumber.$params.maxLength.max }}.</span>
							</div>
							<div class="col-xs-1 padr0 padl0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.purchaseOrder.$invalid) }">Billing Party</label>
								<input name="PurchaseOrder" id="PurchaseOrder" type="text" v-model="jurisdiction.purchaseOrder" class="form-control" placeholder="Billing Party" />
								<span class="field-validation-error" v-if="validator.purchaseOrder.$invalid && !validator.purchaseOrder.maxLength">Billing Party must be a string with a maximum length of {{ validator.purchaseOrder.$params.maxLength.max }}.</span>
							</div>
							<div class="col-xs-1 padr0 padl0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.letterNumber.$invalid) }">Letter Number</label>
								<input name="LetterNumber" id="LetterNumber" type="text" v-model="jurisdiction.letterNumber" class="form-control" placeholder="Letter Number" />
								<span class="field-validation-error" v-if="validator.letterNumber.$invalid && !validator.letterNumber.maxLength">Letter Number must be a string with a maximum length of {{ validator.letterNumber.$params.maxLength.max }}.</span>
							</div>
							<div class="col-xs-1 padr0 padl0" v-if="isProductLineManuf">
								<label class="smallLabel">&nbsp;&nbsp;Product Lines&nbsp;</label><br />
								<div class="pad-left-5">
									<a href="#" @click="setShowProductLines(true)">Edit({{jurisdiction.productLines.length}})</a>
								</div>
							</div>
							<div class="col-xs-1 padl0 padr0" v-if="isFlatFileManuf">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.projectNumber.$invalid) }">Project</label>
								<input name="projectNumber" id="projectNumber" type="text" v-model="jurisdiction.projectNumber" class="form-control" placeholder="Project No" />
								<span class="field-validation-error" v-if="validator.projectNumber.$invalid && !validator.projectNumber.maxLength">Project No must be a string with a maximum length of {{ validator.projectNumber.$params.maxLength.max }}.</span>
							</div>
							<div class="col-xs-4 padl0 padr0" v-if="manufacturer == 'APL'">
								<div class="col-xs-4 padl0 padr0">
									<label class="smallLabel">Acct Code </label>
									<input name="AriAccountCode" id="AriAccountCode" type="text" v-model="jurisdiction.ariAccountCode" class="form-control" placeholder="Acct Code" />
								</div>
								<div class="col-xs-4 padl0 padr0">
									<label class="smallLabel">Dept Code </label>
									<input name="AriDeptCode" id="AriDeptCode" type="text" v-model="jurisdiction.ariDeptCode" class="form-control" placeholder="Dept Code" />
								</div>
								<div class="col-xs-3 padl0 padr0">
									<label class="smallLabel">Project #</label>
									<input name="AriProjectNo" id="AriProjectNo" type="text" v-model="jurisdiction.ariProjectNo" class="form-control" placeholder="Project No" />
								</div>
							</div>
							<div class="col-xs-2 padl0 padr0" v-if="isRegulatorCertNumberApplies">
								<div class="col-xs-11 padl0 padr0">
									<label class="smallLabel">Regulator Cert Number</label>
									<input name="CertNumber" id="CertNumber" type="text" v-model="jurisdiction.certNumber" class="form-control" placeholder="Regulator Cert Number" />
								</div>
							</div>
						</div>
						<div class="row" v-if="showAllFields == true && isVisible == true">
							<div class="col-xs-1 padl0 padr0">
								<label class="smallLabel">Close Date</label>
								<DatePicker name="CloseDate" v-model="jurisdiction.closeDate" placeholder="Close Date"></DatePicker>
							</div>
							<div class="col-xs-3 padl0 padr0">
								<div class="col-xs-6 padl0 padr0">
									<label class="smallLabel">Regulatory Status</label>
									<SelectStandard :id="'RegulatoryStatus' + itemIndex" :name="'RegulatoryStatus' + itemIndex" :value="jurisdiction.regulatoryStatus" :options="jurisdictionRegulatoryStatuses" v-model="jurisdiction.regulatoryStatus" title="Regulatory Reason"></SelectStandard>
								</div>
								<div class="col-xs-6 padl0 padr0">
									<label class="smallLabel">RJ/WD Reason</label>
									<SelectStandard :id="'RJWDReason' + itemIndex" :name="'RJWDReason' + itemIndex" :value="jurisdiction.rjwdReason" :options="jurisdictionRJWDReasons" v-model="jurisdiction.rjwdReason" title="RJ/WD Reason" :disabled="jurisdiction.status != 'RJ' && jurisdiction.status != 'WD'"></SelectStandard>
								</div>
							</div>
							<div class="col-xs-1 padl0 padr0">
								<label class="smallLabel">RV Date</label>
								<DatePicker name="RVDate" v-model="jurisdiction.revokeDate" placeholder="RV Date"></DatePicker>
							</div>
							<div class="col-xs-1 padl0 padr0">
								<label class="smallLabel">Upgrade By:&nbsp;<a href="#" @click="setShowUpgradeBy(true)"><i class="far fa-calendar-alt"></i></a></label>
								<DatePicker name="UpgradeBy" v-model="jurisdiction.upgradeByDate" placeholder="Upgrade By"></DatePicker>
							</div>
							<div class="col-xs-1 padl0 padr0">
								<label class="smallLabel">NU Date</label>
								<DatePicker name="ObsoleteDate" v-model="jurisdiction.obsoleteDate" placeholder="NU Date"></DatePicker>
							</div>
							<div class="col-xs-1 padl0 padr0">
								<label class="smallLabel">Update Date</label>
								<DatePicker name="UpdateDate" v-model="jurisdiction.updateDate" placeholder="Update Date"></DatePicker>
							</div>
							<div class="col-xs-1 padl0 padr0">
								<label class="smallLabel">Update Reason</label>
								<SelectStandard :id="'UpdateReason' + itemIndex" :name="'UpdateReason' + itemIndex" :value="jurisdiction.updateReasonId" :options="jurisdictionUpdatedDateReasons" v-model="jurisdiction.updateReasonId" title="Update Reason"></SelectStandard>
							</div>
							<div class="col-xs-1 padl0 padr0">
								<label class="smallLabel">Draft Date</label>
								<DatePicker name="DraftDate" v-model="jurisdiction.draftDate" placeholder="Draft Date"></DatePicker>
							</div>
							<div class="col-xs-2 padl0 ">
								<label class="smallLabel">Issuing Lab</label>
								<Lookup :id="'CertLab' + itemIndex" :name="'CertLab' + itemIndex" :lookuptextfield="jurisdiction.certificationLab" placeHolder="Cert Lab" lookupajax="Laboratories" v-model="jurisdiction.certificationLabId" @updateLookupTextField="updateCertLab" title="Cert Lab"></Lookup>
							</div>
						</div>
						<div class="row" v-if="showAllFields == true && isVisible == true">
							<table>
								<tr>
									<td width="110px" valign="top">
										<label class="smallLabel">&nbsp;&nbsp;Conditional Revoke</label>
									</td>
									<td width="5px" valign="top">
										<input type="checkbox" v-model="jurisdiction.conditionalRevoke" />
									</td>
									<td align="center" colspan=3>
										<a href="#" class="smallLabel text-info" @click="manageReplacement()"><font class="text-info">Replacing: {{ jurisdiction.replaceCount }} Items</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="#" @click="manageKSANumber()" v-if="isKSANumberJur == true" class="smallLabel text-info"><font class="text-info">KSA Number</font></a>
									</td>
									<td width="150px"></td>
									<td width="120px">
										<span v-if="isQuoteDateApplies && jurisdiction.quoteDate != null">
											<label class="smallLabel">&nbsp;&nbsp;Quote Date&nbsp;</label>
											<DatePicker name="QuoteDate" placeholder="Quote Date" v-model="jurisdiction.quoteDate"></DatePicker>
										</span>
									</td>
									<td width="120px">
										<span v-if="isAuthorizeDateApplies && jurisdiction.authorizeDate != null">
											<label class="smallLabel">&nbsp;&nbsp;Authorize Date&nbsp;</label>
											<DatePicker name="AuthorizeDate" placeholder="Authorize Date" v-model="jurisdiction.authorizeDate"></DatePicker>
										</span>
									</td>
									<td valign="top" width="225px" rowspan="3">
										<span class="text-center" v-if="isTestScriptApplies">
											<label class="smallLabel">&nbsp;&nbsp;Test Script Version&nbsp;<a href="#" @click="setShowCheckOffVersion(true)">Edit</a></label><br />
											<textarea rows="4" cols="50" v-model="jurisdiction.testScriptVersions" :title="jurisdiction.testScriptVersions" readonly style="font-size:smaller"></textarea>
										</span>
									</td>
								</tr>
								<tr>
									<td><label class="smallLabel">&nbsp;&nbsp;Priority Draft</label></td>
									<td><input type="checkbox" v-model="jurisdiction.priorityDraft" /></td>
									<td rowspan="2" valign="middle" align="right" width="40px" nowrap>
										<!--<font color="red" title="PDF Manager"><a href="#" @click="openPDFManager()"><i class='far fa-file-pdf fa-2x thumbnail big-icon'></i></a></font>&nbsp;&nbsp;-->
										<!--<A href="#" title="link PDF" @click="manageHyperLink()"><i class="fas fa-link"></i></A>-->
									</td>
									<td width="40px"><label class="smallLabel">&nbsp;&nbsp;Web&nbsp;</label></td>
									<td width="400px">
										<input name="WebPath" id="WebPath" type="text" v-model="jurisdiction.pdfPath" class="form-control" placeholder="Pdf Web Path" readonly title="This is a legacy Web Path info, If you need to post a PDF, Please click on 'Post Certification' link." />
									</td>
									<td><a style="cursor:pointer" class="smallLabel text-info" title="Post Certification(s)/Supplement(s)" @click="postLetter($event)"><font class="text-info">&nbsp;&nbsp;<i class="far fa-file-pdf fa-fw fa-lg"></i> Post Letter(s)</font></a></td>
									<td>
										<span v-if="isRegulatorSpecNumberApplies">
											<label class="smallLabel">Regulator Spec #</label>
											<input type="text" placeholder="Regulator Spec #" v-model="jurisdiction.regulatorSpecNum" class="form-control" />
										</span>
									</td>
									<td>
										<span v-if="isRegulatorRefNumberApplies">
											<label class="smallLabel">Regulator Ref #</label>
											<input type="text" placeholder="Regulator Ref #" v-model="jurisdiction.regulatorRefNum" class="form-control" />
										</span>
									</td>
								</tr>
								<tr>
									<td><label class="smallLabel" v-if="isSpecialNote">&nbsp;&nbsp;Special Note</label></td>
									<td><input type="checkbox" v-if="isSpecialNote" v-model="jurisdiction.specialNote" /></td>
									<td><label class="smallLabel">&nbsp;&nbsp;GPS&nbsp;</label></td>
									<td><input name="GPSPath" id="GPSPath" type="text" v-model="jurisdiction.jurisdictionGPSPDF" class="form-control" placeholder="Pdf GPS Path" readonly title="This is a legacy GPS Path info, If you need to post a PDF, Please click on 'Post Certification' link." /></td>
									<td><a href="#" class="smallLabel text-info" title="View Certification(s)/Supplement(s)" @click="ViewLetters"><font class="text-info">&nbsp;&nbsp;<i class="fas fa-list fa-fw fa-lg" aria-hidden="true"></i>&nbsp;View Letter(s)</font></a></td>
									<td></td>
									<td></td>
								</tr>
							</table>
						</div>
						<br />
					</td>
				</tr>
			</table>

			<CheckOffVersion :showScriptModal="showCheckOffVersion"
							 :jurisdictionalDataId="jurisdiction.id"
							 :jurisdictionName="jurisdiction.jurisdictionName"
							 :availableVersions="userAndOtherInfo.checkOffVersions"
							 :selVersions="jurisdiction.testScriptVersionIds"
							 @reSetSearchModal="setShowCheckOffVersion"
							 @setCheckOffversion="setCheckOffVersion"></CheckOffVersion>

			<ProductLines :showScriptModal="showProductLines"
						  :jurisdictionalDataId="jurisdiction.id"
						  :jurisdictionName="jurisdiction.jurisdictionName"
						  :productLines="jurisdiction.productLines"
						  @reSetModal="setShowProductLines"
						  @addProductLine="addProductLine"
						  @deleteProductLine="deleteProductLine"></ProductLines>

			<!--Calculate Upgrade by date-->
			<UpgradeByCalculator :showUpgrade="showUpgrade" @reSetShowUpgradeModal="setShowUpgradeBy" @updateData="setCalculatedUpgradeBy"></UpgradeByCalculator>
		</div>
	</tr>
</template>
<style scoped>
	.pad-left-5 {
		padding-left: 5px;
	}

	.smallLabel {
		font-size: smaller;
		color: black;
		font-weight: bold
	}

	.classWithPadding {
		margin: 1px;
		padding: 1px;
	}

	.errorField {
		color: #b94a48;
	}

	.isDirtyRow {
		background-color: antiquewhite;
	}

	.updateTemplate {
		background-color: aliceblue
	}
</style>
<script>
	import Vue from 'vue';
	Vue.directive('tooltip', function (el, binding) {
		$(el).tooltip({
			html: true,
			title: binding.value,
			placement: binding.arg,
			trigger: 'hover'
		})
	})

	import CheckOffVersion from '@/components/submission/jurisdictionaldata/CheckOffVersion.vue'
	import ProductLines from '@/components/submission/jurisdictionaldata/ProductLines.vue'
	import DatePicker from '@/components/utility/DatePicker.vue'
	import Lookup from '@/components/utility/Lookup.vue'
	import SelectStandard from '@/components/utility/SelectStandard.vue'
	import UpgradeByCalculator from '@/components/submission/jurisdictionaldata/UpgradeByDateCalculator.vue'

	export default {
		components: {
			CheckOffVersion,
			DatePicker,
			Lookup,
			SelectStandard,
			UpgradeByCalculator,
			ProductLines
		},
		props: {
			bulkUpdateMode: {
				type: Boolean
			},
			defaultJurisdiction: {
				type: Object
			},
			fileNumber: {
				type: String
			},
			jurisdiction: {
				type: Object,
				required: true
			},
			isAristocratManuf: {
				type: Boolean
			},
			isFlatFileManuf: {
				type: Boolean
			},
			isProductLineManuf: {
				type: Boolean
			},
			manufacturer: {
				type: String
			},
			mode: {
				type: String
			},
			jurisdictionActiveStatuses: {
				type: Array
			},
			jurisdictionStatuses: {
				type: Array
			},
			jurisdictionRegulatoryStatuses: {
				type: Array
			},
			jurisdictionRJWDReasons: {
				type: Array
			},
			jurisdictionUpdatedDateReasons: {
				type: Array
			},
			showAllJurisdictions: {
				type: Boolean
			},
			showAllFields: {
				type: Boolean
			},
			submissionSelection: {
				type: Array
			},
			userAndOtherInfo: {
				type: Object
			},
			validator: {
				type: Object
			}
		},
		data() {
			return {
				orgJurisdiction: [],
				visible: false,
				southAfricaJurisdictions: ["100", "101", "102", "103", "104", "105", "106", "107", "108", "49", "315", "552", "553"],
				italyJurisdictions: ["156", "157", "314", "330"],
				customJurisdictions: {
					"EASTERNCAPE": "103",
					"FREESTATE": "105",
					"GAUTENG": "100",
					"HOLLANDARCADE": "78",
					"HOLLANDCASINOS": "77",
					"HOLLANDLOTTERY": "519",
					"HOLLANDSKILL": "304",
					"HOLLANDSTREET": "79",
					"ITALIANVLT": "314",
					"ITALYONLINE": "330",
					"ITALYAWP": "156",
					"ITALYCASINO": "157",
					"KANSASRACINGANDGAMING": "286",
					"KWAZULUNATAL": "108",
					"LIMPOPO": "315",
					"LQCASINO": "252",
					"LQLOTTERY": "338",
					"LQONLINE": "352",
					"MISSOURI": "38",
					"MISSOURICASHLESS": "289",
					"MPUMALANGA": "101",
					"NEVADAITL": "394",
					"NZDIAHOTELS": "358",
					"NORTHWESTPROV": "106",
					"NORTHERNCAPE": "104",
					"NORTHERNPROV": "107",
					"NSWHC": "301",
					"SASKY": "356",
					"SAHOTELS": "355",
					"SDLOTTERY": "01",
					"SOUTHAFRICANATIONAL": "49",
					"SOUTHAFRICANATIONALBingo": "552",
					"SOUTHAFRICANATIONALLPM": "553",
					"VCGR": "359",
					"VICTORIACROWNCASINO": "39",
					"WASHINDX2": "230",
					"WASHINGTONINDIANS": "72",
					"WESTERNCAPE": "102",
				},
				showCheckOffVersion: false,
				showUpgrade: false,
				showProductLines: false
			}
		},
		computed: {
			itemIndex: function () {
				return this.$vnode.key;
			},
			isAuthorizeDateApplies: function () {
				//var arrJurs =  [ "01","338","252", "352", "552"]
				var arrJurs = []
				arrJurs.push(this.customJurisdictions.SDLOTTERY)
				arrJurs.push(this.customJurisdictions.LQLOTTERY)
				arrJurs.push(this.customJurisdictions.LQCASINO)
				arrJurs.push(this.customJurisdictions.LQONLINE)

				if (arrJurs.indexOf(this.jurisdiction.jurisdictionId) > -1) {
					return true
				}
				else {
					return false
				}
			},
			isKSANumberJur: function () {
				//var jurs = "77|78|79|304|519|"
				var arrJurs = []
				arrJurs.push(this.customJurisdictions.HOLLANDCASINOS)
				arrJurs.push(this.customJurisdictions.HOLLANDARCADE)
				arrJurs.push(this.customJurisdictions.HOLLANDSTREET)
				arrJurs.push(this.customJurisdictions.HOLLANDSKILL)
				arrJurs.push(this.customJurisdictions.HOLLANDLOTTERY)

				if (arrJurs.indexOf(this.jurisdiction.jurisdictionId) > -1) {
					return true
				}
				else {
					return false
				}
			},
			isQuoteDateApplies: function () {
				if (this.jurisdiction.jurisdictionId == this.customJurisdictions.KANSASRACINGANDGAMING) { //286
					return true
				}
				else {
					return false
				}
			},
			isRegulatorCertNumberApplies: function () {
				if (this.jurisdiction.jurisdictionId == this.customJurisdictions.NEVADAITL) { //394
					return true
				}
				else {
					return false
				}
			},
			isRegulatorSpecNumberApplies: function () {
				//var jurs = "301|358|355|"
				var arrJurs = []
				arrJurs.push(this.customJurisdictions.NSWHC)
				arrJurs.push(this.customJurisdictions.NZDIAHOTELS)
				arrJurs.push(this.customJurisdictions.SAHOTELS)

				if (arrJurs.indexOf(this.jurisdiction.jurisdictionId) > -1) {
					return true
				}
				else {
					return false
				}
			},
			isRegulatorRefNumberApplies: function () {
				//var jurs = "39|72|230|252|301|338|355|356|359|" //Create special array with all these jurs later

				var arrJurs = []
				arrJurs.push(this.customJurisdictions.VICTORIACROWNCASINO)
				arrJurs.push(this.customJurisdictions.WASHINGTONINDIANS)
				arrJurs.push(this.customJurisdictions.WASHINDX2)
				arrJurs.push(this.customJurisdictions.LQCASINO)
				arrJurs.push(this.customJurisdictions.NSWHC)
				arrJurs.push(this.customJurisdictions.LQLOTTERY)
				arrJurs.push(this.customJurisdictions.SAHOTELS)
				arrJurs.push(this.customJurisdictions.SASKY)
				arrJurs.push(this.customJurisdictions.VCGR)

				if (arrJurs.indexOf(this.jurisdiction.jurisdictionId) > -1) {
					return true
				}
				else {
					return false
				}
			},
			isSpecialNote: function () {
				//var jurs = "38|289|"
				var arrJurs = []
				arrJurs.push(this.customJurisdictions.MISSOURI)
				arrJurs.push(this.customJurisdictions.MISSOURICASHLESS)

				if (arrJurs.indexOf(this.jurisdiction.jurisdictionId) > -1) {
					return true
				}
				else {
					return false
				}
			},
			isTestScriptApplies: function () {
				//var jurs = "38|289|"
				var arrJurs = []
				arrJurs.push(this.customJurisdictions.MISSOURI)
				arrJurs.push(this.customJurisdictions.MISSOURICASHLESS)

				if (arrJurs.indexOf(this.jurisdiction.jurisdictionId) > -1) {
					return true
				}
				else {
					return false
				}
			},
			isVisible: function () {
				return this.visible
			},
			jurisdictionSubRecDateReadOnly: function () {
				var arrJurStatus = ["AP", "TC", "DR", "OH"]
				if (arrJurStatus.indexOf(this.jurisdiction.status) > -1) {
					return true
				}
				else {
					return false
				}
			},
			warningMsgText: function () {
				var sText = ""
				this.jurisdiction.warningMsgs.forEach(function (msg) {
					sText += msg + "\n";
				})
				return sText
			}
		},
		methods: {
			checkIfDate: function (val) {
				var parsedDate = Date.parse(val); //date.parse also works for numbers, check for val and parsed
				return (isNaN(val) && !isNaN(parsedDate)) ? true : false;
			},
			checkNullOrEmpty: function (val) {
				if (val === null || val === "null") {
					return ""
				}
				else {
					return val
				}
			},
			manageHyperLink: function () {
				window.open(jsPath + "submission/jurisdictionlinkletter/index?jurisdictionDataId=" + this.jurisdiction.id)
			},
			manageKSANumber: function () {
				window.open(jsPath + "tools/tknumber/index?primary=" + this.jurisdiction.id)
			},
			manageReplacement: function () {
				window.open(jsPath + "submission/jurisdictionreplacelink/index?jurisdictionDataId=" + this.jurisdiction.id)
			},
			openPDFManager: function () {
				var querystring = "Primary=" + this.jurisdiction.id + "&PDFPath=JurisdictionPDF&jurisLetterDirectory=" + this.jurisdiction.jurisdictionId + "&ParentName=Jurisdiction&language=English"
				window.open(jsPath + "pdfmanager?" + querystring)
			},
			postLetter: function (e) {
				e.preventDefault()
				var refThis = this
				var submissionIds = []
				for (var i = 0; i < this.submissionSelection.length; i++) {
					submissionIds.push(refThis.submissionSelection[i].id)
				}

				var url = "submission/JurisdictionalData/BelongsToBundleInfo?submissionIds=" + submissionIds + "&jurNum=" + this.jurisdiction.jurisdictionId + "&q=" + Math.random()
				// this.$http.get(url, { cache: false }).then(function (response) {
				this.$http.get(url).then(function (response) {
					if (response.data.length == 0) {
						bootbox.alert("<b>Warning!!</b> Jurisdiction must belong to a Project in order to post a letter.")
					}
					else {
						var bundlesStr = ""
						$.each(response.data, function (index, item) {
							var url = jsPath + "documents/createvue?bundleId= " + item.BundleId
							bundlesStr += "<tr>"
							bundlesStr += "<td>" + item.ProjectName + "</td><td>&nbsp;&nbsp;- <a href='" + url + "' Target='_new' class='smallLabel text - info'><font class='text-info'>&nbsp;&nbsp;<i class='far fa-file-pdf'></i>&nbsp;Post Letter(s)</font></a></td>"
							bundlesStr += "</tr>"
						});
						if (!Em(bundlesStr)) {
							bundlesStr = "<Table><tr><th>Bundle Name</th><th></th></tr>" + bundlesStr + "</Table>"
						}
						refThis.showPostDialog(bundlesStr)
					}
				}, function (error) {
					console.log(error.statusText);
				});
			},
			refreshData: function (e) {
				e.preventDefault()
				var refThis = this
				if (this.jurisdiction.isDirty) {
					bootbox.confirm({
						message: "You will loose your <b>UnSaved</b> changes. Do you still want to refresh data from server?",
						buttons: {
							confirm: {
								label: 'Yes'
							}
						},
						callback: function (result) {
							if (result) {
								refThis.refreshJurisdictionalData();
							}
						}
					});
				} else {
					this.refreshJurisdictionalData();
				}
			},
			refreshJurisdictionalData: function () {
				var refThis = this
				var url = "submission/JurisdictionalData/GetJurisdictionInfo?jurisdictionalDataId=" + this.jurisdiction.id + "&q=" + Math.random()
				// this.$http.get(url, { cache: false }).then(function (response) {
				this.$http.get(url).then(function (response) {
					if (response.data != null) {
						refThis.$emit('refreshData', refThis.jurisdiction.id, response.data);
					}
					else {
						bootbox.alert("Error occured while refreshing data.")
					}
				}, function (error) {
					console.log(error.statusText);
				});
			},
			setCertLab: function () {
				if (this.jurisdiction.columnChanges.status == true || this.jurisdiction.columnChanges.jurisdictionId == true) {
					if (this.jurisdiction.status == "AP" || this.jurisdiction.status == "TC" || this.jurisdiction.status == "LQ" || this.jurisdiction.status == "MS" || this.jurisdiction.status == "DR" || this.jurisdiction.status == "MO") {
						//Automatically Check Cert Lab for certain jurisdictions
						if (this.southAfricaJurisdictions.indexOf(this.jurisdiction.jurisdictionId) > -1) {
							this.jurisdiction.certificationLabId = 4
							this.jurisdiction.certificationLab = "ZA - South Africa, SABS"
						}
						else if ($.inArray(this.jurisdiction.jurisdictionId, this.italyJurisdictions) > -1) {
							this.jurisdiction.certificationLabId = 9
							this.jurisdiction.certificationLab = "IL - Italy"
						}
						else {
							if (this.jurisdiction.certificationLabId == 0 || this.jurisdiction.certificationLabId == null) {
								this.jurisdiction.certificationLabId = this.userAndOtherInfo.userlocationId;
								this.jurisdiction.certificationLab = this.userAndOtherInfo.userlocation
							}
						}
					}
				}
			},
			setCheckOffVersion: function (ids, Txtstring) {
				this.jurisdiction.testScriptVersions = Txtstring;
				this.jurisdiction.testScriptVersionIds = ids;
				this.setShowCheckOffVersion(false)
			},
			setCalculatedUpgradeBy: function (val) {
				this.jurisdiction.upgradeByDate = val
				this.setShowUpgradeBy(false)
			},
			setShowUpgradeBy: function (val) {
				this.showUpgrade = val
			},
			showJurDataForRecords: function (e) {
				this.$emit('showJurExtraInfoForSubmissionSelection', this.jurisdiction.jurisdictionId);
			},
			showPostDialog: function (strBundlesTable) {
				var dialog = bootbox.dialog({
					title: 'Post Letters: (<font class="small">' + this.jurisdiction.jurisdictionName + '</font>)<br><font class="small text-warning">Please Post letter(s) to below Project(s).</font>',
					message: strBundlesTable,
					buttons: {
						cancel: {
							label: "Cancel",
							callback: function () {

							}
						}
					}
				});
			},
			statusChange: function (newVal, oldVal) {
				var refThis = this
				//origVal
				var origStatus = this.$data.orgJurisdiction.status

				//Missouri & Missouri cashLess
				if (newVal == "AP" || newVal == "TC" && (this.jurisdiction.jurisdictionId != 38 && this.jurisdiction.jurisdictionId != 289)) {
					this.jurisdiction.active = "Yes"
				}
				else if ((newVal == "RV" || this.jurisdiction.regulatoryStatus == "RV") || newVal == "TC" && (this.jurisdiction.jurisdictionId == 38 || this.jurisdiction.jurisdictionId == 289)) {
					this.jurisdiction.active = "No"
				}
				else if ((newVal == 'RJ' || newVal == 'WD') && (origStatus != "WD" && origStatus != "RJ") && Em(this.jurisdiction.rjwdReason)) {
					if ((this.jurisdiction.hideWarningModeForStatus != true)) {
						bootbox.alert("<b>Warning!!</b> You must specify a reason for the Jurisdiction going RJ or WD.(Click 'Display All Fields' checkbox if reason is not displayed)")
					}
				}
				//set default cert lab
				this.setCertLab()

				var revertStatus = false
				if ((origStatus == "WD" || origStatus == "RJ") && newVal != "WD" && newVal != "RJ") {
					if (newVal == "CP") {
						if ((this.jurisdiction.hideWarningModeForStatus != true)) {
							bootbox.alert("<b>Warning!!</b> You are attempting to set a RJ/WD jurisdiction to CP status. Please contact Data Entry as to why you need to do this.")
						}
						this.jurisdiction.status = origStatus
						revertStatus = true
						this.jurisdiction.statusRevert = true
					}
					else {
						if ((this.jurisdiction.hideWarningModeForStatus != true)) {
							var dialog = bootbox.dialog({
								title: 'Warning!!',
								message: "You are about to change the status of a rejected/withdrawn jurisdiction. Are you sure you want to do this?",
								buttons: {
									cancel: {
										label: "Cancel",
										callback: function () {
											refThis.jurisdiction.status = origStatus
											refThis.$emit('bulkUpdateRevertStatus', newVal, origStatus);
										}
									},
									ok: {
										label: "OK",
										callback: function () {
											refThis.jurisdiction.rjwdReason = null
										}
									}
								}
							});
						}
						else {
							revertStatus = this.jurisdiction.statusRevert
						}
					}
				}

				if (origStatus != "DR" && newVal == "DR") {
					if (this.jurisdiction.hideWarningModeForStatus != true) {
						bootbox.alert("<b>Warning!!</b> You are setting this jurisdiction to DR status. Please make sure any secondary portal letters are set to DA.")
					}
				}

				if (newVal == "AP") {
					//check any replacement has been set and alert to set RV/NU
				}
			},
			setShowCheckOffVersion: function (val) {
				this.showCheckOffVersion = val
			},
			setShowProductLines: function (val) {
				this.showProductLines = val
			},
			toggleVisibility: function (e, val) {
				e.preventDefault()
				this.visible = val
			},
			updateCompany: function (newValue) {
				this.jurisdiction.company = newValue;
			},
			updateContractType: function (newValue) {
				this.jurisdiction.contractType = newValue;
				//this.jurisdiction.contractTypeShort = newValue.substr(0, newValue.indexOf("-"));
			},
			updateCurrency: function (newValue) {
				this.jurisdiction.currency = newValue;
				//this.jurisdiction.currencyShort = newValue.substr(0, newValue.indexOf("-"));
			},
			updateJurisdiction: function (newValue) {
				this.jurisdiction.jurisdictionName = newValue;
			},
			updateCertLab: function (newValue) {
				this.jurisdiction.certificationLab = newValue;
			},
			updateTestLab: function (newValue) {
				this.jurisdiction.lab = newValue;
				//this.jurisdiction.labShort = newValue.substr(0, newValue.indexOf("-"));
			},
			ViewLetters: function () {
				window.open(jsPath + "pdfmanager/gpsdocuments/indexnew?jurisdictionalDataId=" + this.jurisdiction.id)
			},
			warnForCloseDateChange: function () {
				if (this.jurisdiction.status == "AP" && this.jurisdiction.columnChanges.status == false) {
					bootbox.alert("<b>Warning!!</b> Original close dates should not be updated. If item(s) has been previously AP'd, do <b>NOT</b> change this date.")
				}
			},
			warnForCompanyCurrencyContractTypeForPrimary: function () {
				var fileInfo = this.fileNumber.split('-');
				if (fileInfo[1] == this.jurisdiction.jurisdictionId) {
					bootbox.alert("<b>Warning!!</b> You will also need to update the same Company/Currency/Contract Type fields at the Submission level since Primary Jurisdiction information is getting changed.")
				}
			},
			addProductLine: function (productLine) {
				this.jurisdiction.productLines.push(productLine);
			},
			deleteProductLine: function (index) {
				this.jurisdiction.productLines.splice(index, 1);
			}
		},
		mounted() {
			//loadDocumentReady();
			this.$data.orgJurisdiction = _.cloneDeep(this.jurisdiction);
		},
		updated() {
			//so focus stays on current jur
			//var urlString = window.location.href;
			//var url = urlString.split("#")[0];
			//var hash = urlString.split("#")[1];
			//if (hash != this.jurisdiction.id) {
			//	//window.location.href = url //+ "#" + this.jurisdiction.id;
			//}
		},
		watch: {
			'showAllJurisdictions': {
				handler: function (val, oldVal) {
					this.visible = this.showAllJurisdictions
				}
			},
			'jurisdiction': {
				handler: function (val, oldVal) {
					if (this.mode == 'Edit') { //Track for edit only
						var misMatch = 0
						for (var property in val) {
							if (val.hasOwnProperty(property)) {
								if ((val["columnChanges"]).hasOwnProperty(property)) {
									if (this.checkIfDate(val[property])) {
										var d1 = new Date(val[property]);
										var d2 = new Date(this.$data.orgJurisdiction[property]);
										if (d1 > d2 || d2 > d1) {
											val["columnChanges"][property] = true // to track what column got changed
											misMatch += 1
										}
										else {
											val["columnChanges"][property] = false
										}
									}
									else if (Array.isArray(val[property])) {
										if (JSON.stringify(val[property]) != JSON.stringify(this.$data.orgJurisdiction[property])) {
											val["columnChanges"][property] = true // to track what column got changed
											misMatch += 1
										}
										else {
											val["columnChanges"][property] = false
										}
									}
									else {
										if (this.checkNullOrEmpty(val[property]) != this.checkNullOrEmpty(this.$data.orgJurisdiction[property])) {
											val["columnChanges"][property] = true // to track what column got changed
											misMatch += 1
										}
										else {
											val["columnChanges"][property] = false
										}
									}
								}
							}
						}

						if (misMatch > 0) {
							val.isDirty = true
						}
						else {
							val.isDirty = false
						}
					}
				},
				deep: true
			},
			'jurisdiction.closeDate': {
				handler: function (val, oldVal) {
					if (val != oldVal) {
						this.warnForCloseDateChange()
					}
				},
				deep: true
			},
			'jurisdiction.companyId': {
				handler: function (val, oldVal) {
					if (val != oldVal) {
						this.warnForCompanyCurrencyContractTypeForPrimary()
					}
				},
				deep: true
			},
			'jurisdiction.contractTypeId': {
				handler: function (val, oldVal) {
					if (val != oldVal) {
						this.warnForCompanyCurrencyContractTypeForPrimary()
					}
				},
				deep: true
			},
			'jurisdiction.currencyId': {
				handler: function (val, oldVal) {
					if (val != oldVal) {
						this.warnForCompanyCurrencyContractTypeForPrimary()
					}
				},
				deep: true
			},
			'jurisdiction.jurisdictionId': {
				handler: function (val, oldVal) {
					if (val != oldVal) {
						this.setCertLab();
					}
				},
				deep: true
			},
			'jurisdiction.status': {
				handler: function (val, oldVal) {
					if (val != oldVal) {
						this.statusChange(val, oldVal)
					}
				},
				deep: true
			}
		}
	}
</script>