﻿<template>
	<tr>
		<table width="100%" style="border-bottom:solid;border-bottom-color:lightblue;border-bottom-width:thin">
			<tr>
				<td width="35px" valign="top">
					<input type="checkbox" name="selToUpdate" v-model="jurisdiction.selToUpdate" title="Check to bulk update.">&nbsp;&nbsp;
				</td>
				<td>
					<div class="row">
						<div class="col-xs-3 padr0 padl0">

							<font class=field-validation-error v-show="(validator.$invalid)" v-tooltip:bottom="'Please enter required fields in red.'">*&nbsp;</font>
							<span class=field-validation-error v-if="(jurisdiction.warningMsgs.length > 0)" :title="warningMsgText"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></span>

							<label class="smallLabel" v-bind:class="{'errorField' : (validator.jurisdictionId.$invalid) }">Jurisdiction</label>
							<input id="JurisdictionName" name="JurisdictionName" type="hidden" v-model="jurisdiction.jurisdictionName" />
							<Lookup :id="'JurisdictionId' + index" :name="'JurisdictionId' + index" :lookuptextfield="jurisdiction.jurisdictionName" lookupajax="Jurisdictions" templatename="formatJurisdictions" v-model="jurisdiction.jurisdictionId" @updateLookupTextField="updateJurisdiction" title="Jurisdiction" class="form-control form-control-sm"></Lookup>

						</div>
						<div class="col-xs-2 padr0 padl0">

							<label class="smallLabel" v-bind:class="{'errorField' : (validator.companyId.$invalid) }">Company</label>
							<input name="Company" id="Company" type="hidden" v-model="jurisdiction.company" />
							<Lookup :id="'CompanyId' + index" :name="'CompanyId' + index" :lookuptextfield="jurisdiction.company" lookupajax="Companies" v-model="jurisdiction.companyId" @updateLookupTextField="updateCompany" title="Company"></Lookup>

						</div>
						<div class="col-xs-1 padr0 padl0">

							<label class="smallLabel" v-bind:class="{'errorField' : (validator.currencyId.$invalid) }">Currency</label>
							<input name="Currency" id="Currency" type="hidden" v-model="jurisdiction.currency" />
							<Lookup :id="'CurrencyId' + index" :name="'CurrencyId'+ index" :lookuptextfield="jurisdiction.currency" lookupajax="Currencies" v-model="jurisdiction.currencyId" @updateLookupTextField="updateCurrency" title="Currency"></Lookup>

						</div>
						<div class="col-xs-1 padr0 padl0">

							<label class="smallLabel" v-bind:class="{'errorField' : (validator.contractTypeId.$invalid) }">Contract Type</label>
							<input name="ContractType" id="ContractType" type="hidden" v-model="jurisdiction.contractType" />
							<Lookup :id="'ContractTypeId' + index" :name="'ContractTypeId' + index" :lookuptextfield="jurisdiction.contractType" lookupajax="ContractTypes" v-model="jurisdiction.contractTypeId" @updateLookupTextField="updateContractType" title="Contract Type"></Lookup>

						</div>
						<div class="col-xs-1 padr0 padl0">

							<label class="smallLabel" v-bind:class="{'errorField' : (validator.requestDate.$invalid) }">Submit Date</label>
							<DatePicker name="SubmitDate" v-model="jurisdiction.requestDate" placeholder="Submit Date"></DatePicker>

						</div>
						<div class="col-xs-1 padr0 padl0">

							<label class="smallLabel" v-bind:class="{'errorField' : (validator.receiveDate.$invalid) }">Receive Date</label>
							<DatePicker name="RecieveDate" v-model="jurisdiction.receiveDate" placeholder="Receive Date"></DatePicker>

						</div>
						<div class="col-xs-1 padl0 padr0">

							<label class="smallLabel" v-bind:class="{'errorField' : (validator.active.$invalid) }">Active</label>
							<SelectStandard :id="'Active' + index" :name="'Active' + index" :value="jurisdiction.active" :options="jurisdictionActiveStatuses" v-model="jurisdiction.active" title="Active"></SelectStandard>

						</div>
						<div class="col-xs-2 padl0 padr0">

							<div class="col-xs-10 padl0 padr0">
								<label class="smallLabel" v-bind:class="{'errorField' : (validator.labId.$invalid) }">TX Lab</label>
								<Lookup :id="'CTXLabId' + index" :name="'TXLabId' + index" :lookuptextfield="jurisdiction.lab" placeHolder="Test Lab" lookupajax="Laboratories" v-model="jurisdiction.labId" @updateLookupTextField="updateTestLab" title="Test Lab"></Lookup>
							</div>
							<div class="col-xs-2 padr0">
								<br /><A v-show="jurisdiction.id == 0" class="pointer" @click="deleteJurisdiction()" title="Delete Jurisdiction"><i class="far fa-trash-alt" style="font-size:20px;color:red"></i></A>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 padl0 padr0">
							<div class="col-xs-6 padl0 padr0">

								<label class="smallLabel" v-bind:class="{'errorField' : (validator.status.$invalid) }">Status</label>
								<SelectStandard id="JurisdictionStatus" name="JurisdictionStatus" :value="jurisdiction.status" :options="jurisdictionStatuses" v-model="jurisdiction.status" title="Status"></SelectStandard>

							</div>
							<div class="col-xs-6 padl0 padr0">

								<label class="smallLabel">WON</label>
								<input name="masterBillingProject" id="masterBillingProject" type="text" v-model="jurisdiction.masterBillingProject" class="form-control" placeholder="Work Order #" />

							</div>
						</div>
						<div class="col-xs-1 padr0 padl0">

							<label class="smallLabel">Contract #</label>
							<input name="ContractNumber" id="ContractNumber" type="text" v-model="jurisdiction.contractNumber" class="form-control" placeholder="Contract Number" />

						</div>
						<div class="col-xs-1 padr0 padl0">

							<label class="smallLabel" v-bind:class="{'errorField' : (validator.clientNumber.$invalid) }" v-if="isAristocratManuf != true">Billing Reference </label>
							<label class="smallLabel" v-bind:class="{'errorField' : (validator.clientNumber.$invalid) }" v-else="isAristocratManuf == true">RDAP Pin </label>
							<input name="ClientNumber" id="ClientNumber" type="text" v-model="jurisdiction.clientNumber" class="form-control" placeholder="Billing Reference/RDAP Pin" />

						</div>
						<div class="col-xs-1 padr0 padl0">

							<label class="smallLabel">Billing Party</label>
							<input name="PurchaseOrder" id="PurchaseOrder" type="text" v-model="jurisdiction.purchaseOrder" class="form-control" placeholder="Billing Party" />

						</div>
						<div class="col-xs-1 padr0 padl0">

							<label class="smallLabel" v-bind:class="{'errorField' : (validator.letterNumber.$invalid) }">Letter Number </label>
							<input name="LetterNumber" id="LetterNumber" type="text" v-model="jurisdiction.letterNumber" class="form-control" placeholder="Letter Number" />

						</div>
						<div class="col-xs-1 padl0 padr0" v-show="isFlatFileManuf">

							<label class="smallLabel">Project </label>
							<input name="projectNumber" id="projectNumber" type="text" v-model="jurisdiction.projectNumber" class="form-control" placeholder="Project No" />

						</div>
						<div class="col-xs-4 padl0 padr0" v-show="manufacturer == 'APL'">
							<div class="col-xs-4 padl0 padr0">
								<label class="smallLabel">Acct Code </label>
								<input name="AriAccountCode" id="AriAccountCode" type="text" v-model="jurisdiction.ariAccountCode" class="form-control" placeholder="Acct Code" />
							</div>
							<div class="col-xs-4 padl0 padr0">
								<label class="smallLabel">Dept Code </label>
								<input name="AriDeptCode" id="AriDeptCode" type="text" v-model="jurisdiction.ariDeptCode" class="form-control" placeholder="Dept Code" />
							</div>
							<div class="col-xs-3 padl0 padr0">
								<label class="smallLabel">Project # </label>
								<input name="AriProjectNo" id="AriProjectNo" type="text" v-model="jurisdiction.ariProjectNo" class="form-control" placeholder="Project No" />
							</div>
							<div class="col-xs-1 pull-left">
								<br />
								<a href="#" @click="copyDataFromPrimary()"><i class="fas fa-copy" title="Copy ARI Acct/Dept/project code from Primary jurisdiction" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<br />
				</td>
			</tr>
		</table>
	</tr>

</template>
<style>
	/* Label */
	.smallLabel {
		font-size: smaller;
		color: black;
		font-weight: bold
	}
</style>
<style scoped>

	.classWithPadding {
		margin: 1px;
		padding: 1px;
	}

	.errorField {
		color: #b94a48;
	}

	.isDirtyRow {
		background-color: antiquewhite;
	}

	.updateTemplate {
		background-color: aliceblue
	}
</style>
<script>
	import Vue from 'vue';
	Vue.directive('tooltip', function (el, binding) {
		$(el).tooltip({
			html: true,
			title: binding.value,
			placement: binding.arg,
			trigger: 'hover'
		})
	})

	import Lookup from '@/components/utility/Lookup.vue'
	import SelectStandard from '@/components/utility/SelectStandard.vue'
	import DatePicker from '@/components/utility/DatePicker.vue'
	import { required } from 'vuelidate/lib/validators'

	export default {
		components: {
			Lookup,
			DatePicker,
			SelectStandard
		},
		props: {
			jurisdiction: {
				type: Object,
				required: true
			},
			defaultJurisdiction: {
				type: Object
			},
			jurisdictionStatuses:{
				type: Array
			},
			jurisdictionActiveStatuses: {
				type: Array
			},
			index: {
				type: Number
			},
			isFlatFileManuf: {
				type: Boolean
			},
			isAristocratManuf: {
				type: Boolean
			},
			manufacturer: {
				type: String
			},
			mode: {
				type: String
			},
			validator: {
				type: Object
			}
		},
		data() {
			return {
				
			}
		},
		computed: {
			warningMsgText: function () {
				//var sText = "<div><table width='100%'>"
				//this.jurisdiction.warningMsgs.forEach(function (msg) {
				//	sText += "<tr><td>" + msg + "</td>";
				//})
				//sText += "</table></div>"
				var sText = ""
				this.jurisdiction.warningMsgs.forEach(function (msg) {
					sText += msg + "\n";
				})
				return sText
			}
		},
		methods: {
			copyDataFromPrimary: function () {
				Vue.set(this.jurisdiction, "ariAccountCode", this.defaultJurisdiction.ariAccountCode)
				Vue.set(this.jurisdiction, "ariDeptCode", this.defaultJurisdiction.ariDeptCode)
				Vue.set(this.jurisdiction, "ariProjectNo", this.defaultJurisdiction.ariProjectNo)
			},
			deleteJurisdiction: function () {
				this.$emit('deleteJurisdiction');
			},
			manageKSANumber: function (id) {
				window.open(jsPath + "tools/tknumber/index?primary=" + id)
			},
			statusChange: function (newVal, oldVal) {
				//Missouri & Missouri cashLess
				if (newVal == "AP" || newVal == "TC" && (this.jurisdiction.jurisdictionId != 38 && this.jurisdiction.jurisdictionId != 289)) {
					this.jurisdiction.active = "Yes"
				}
				else if (newVal == "RV" || newVal == "TC" && (this.jurisdiction.jurisdictionId == 38 || this.jurisdiction.jurisdictionId == 289)) {
					this.jurisdiction.active = "No"
				}
			},
			updateCompany: function (newValue) {
				this.jurisdiction.company = newValue;
			},
			updateContractType: function (newValue) {
				this.jurisdiction.contractType = newValue;
				this.jurisdiction.contractTypeShort = newValue.substr(0, newValue.indexOf("-"));
			},
			updateCurrency: function (newValue) {
				this.jurisdiction.currency = newValue;
				this.jurisdiction.currencyShort = newValue.substr(0, newValue.indexOf("-"));
			},
			updateJurisdiction: function (newValue) {
				this.jurisdiction.jurisdictionName = newValue;
			},
			updateTestLab: function (newValue) {
				this.jurisdiction.lab = newValue;
				this.jurisdiction.labShort = newValue.substr(0, newValue.indexOf("-"));
			},
		},
		mounted() {
			
		},
		watch:{
			'jurisdiction': {
				handler: function (val, oldVal) {
				
				},
				deep: true
			},
			'jurisdiction.status': {
				handler: function (val, oldVal) {
					if (val != oldVal) {
						this.statusChange(val, oldVal)
					}
				},
				deep: true
			}
		}
	}
</script>