﻿<template>
	<div class="modal modal-wide" ref="Jurisdictions" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-info">
							<span>{{ titleText || 'Jurisdictions' }}</span>&nbsp;
							<span class="pull-right">
								<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" aria-label="Close">Close</button>
							</span>
						</h4>
					</div>
					<div class="modal-body">
						<div class="panel panel-default">
							<div class="panel-heading">
								<a data-toggle="collapse" href="#Juris">
									<i class="indicator fa pull-right fa-chevron-circle-up"></i>
									<h3 class="panel-title">
										<small> (Total:{{ this.jurisdictions.length }} jurisdictions)</small>
										<span class="pull-right text-success">(<i>selected:{{ selectedCount }} jurisdictions</i>)&nbsp;&nbsp;&nbsp;</span>
									</h3>
								</a>
							</div>
							<div class="collapse in" id="Juris">
								<div class="panel-body">
									<table id="selection-table" class="table table-condensed table-striped table-hover">
										<thead>
											<tr>
												<th><input type="checkbox" @change="clickCheckAll" v-model="checkAll" title="Check All" /></th>
												<th>Jurisdiction Id</th>
												<th>Jurisdiction Name</th>
												<th>Submit Date</th>
												<th>Receive Name</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="(j, index) in jurisdictions" :key="j.id">
												<td>
													<input type="checkbox" @change="checkCheckAll" :value="j.id" v-model="j.selected" class="jurselection" />
												</td>
												<td>{{j.jurisdictionId}}</td>
												<td>{{j.jurisdictionName}}</td>
												<td>{{j.requestDate | formatDate}}</td>
												<td>{{j.receiveDate | formatDate}}</td>
												<td>{{j.status}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</template>

<script>
	export default {
		props: {
			showJurModal: {
				type: Boolean
			},
			jurisdictions: {
				type: Array,
				required: true
			},
			titleText: {
				type: String
			}
		},
		data: function () {
			return {
				checkAll: false
			}
		},
		computed: {
			selectedCount: function () {
				return this.jurisdictions.filter(x => x.selected).length
			}
		},
		methods: {
			checkCheckAll: function () {
				if (this.jurisdictions.filter(x => x.selected).length == this.jurisdictions.length) {
					this.checkAll = true
				}
				else {
					this.checkAll = false
				}
			},
			clickCheckAll: function () {
				if (this.checkAll) {
					for (var i = 0; i < this.jurisdictions.length; i++) {
						this.jurisdictions[i].selected = true
					}
				}
				else {
					for (var i = 0; i < this.jurisdictions.length; i++) {
						if (this.jurisdictions[i].id != this.currentSelected) {
							this.jurisdictions[i].selected = false
						}
					}
				}
			}
		},
		mounted: function () {
			 const refThis = this;
			$(this.$refs.Jurisdictions).on('hidden.bs.modal', function (e) {
				refThis.$emit('reSetJurModal', false);
			});
		},
		watch: {
			showJurModal: function (val, oldVal) {
				if (val) {
				   $(this.$refs.Jurisdictions).modal('show');
				}
				else
				{
					this.$emit('reSetJurModal', false);
					$(this.$refs.Jurisdictions).modal('hide');
				}
			}
		}
	}
</script>

<style scoped>
	input[type="radio"], input[type="checkbox"] {
		margin: 1px;
		border: none;
		transition: none;
		box-shadow: none;
	}

	#selection-table th {
		padding-top: 3px;
		padding-bottom: 1px;
	}

	#selection-table td {
		padding-top: 3px;
		padding-bottom: 0;
	}

	.panel-body {
		padding-top: 3px;
		padding-bottom: 0;
		font-size: 11px
	}
</style>