﻿<template>
    <div class="modal" ref="MemoReason" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-info">
                           {{ memoWinTitle }}
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </h4>
                </div>
                <div class="modal-body">
                    <textarea rows=4 cols="400" class="form-control" v-model="memoField">{{ memoData }}</textarea>
                    <!--<p class=field-validation-error v-if="!$v.memoField.required">Memo/Reason is required!</p>-->
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary btn-sm" v-on:click="saveRequest">Save</a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    import { required } from 'vuelidate/lib/validators'
    export default {
        props: {
            memoWinTitle: {
                type: String
            },
            memoData: {
                type: String
            },
            memoType: {
                type: String
            },
            showMemoModal: {
                type: Boolean
            }
        },
        data() {
            return {
                memoField : ""
            }
        },
        computed: {
           
        },
        validations: {
            //memoField: {
            //     required
            //}
        },
        methods: {
            saveRequest: function (e) {
                e.preventDefault()
                if (!this.validateData()) {
                    return false;
                }
                this.$emit('updateData', this.memoType, this.memoField);
 
            },
            validateData: function () {
                this.$v.$touch();
                return !this.$v.$invalid;
            }
        },
        mounted: function () {
            const refThis = this;
            $(this.$refs.MemoReason).on('hidden.bs.modal', function (e) {
                refThis.$emit('reSetShowMemoModal', refThis.memoType, false);
            });
        },
        watch: {
            showMemoModal: function (val, oldVal) {
                if (val) {
                    $(this.$refs.MemoReason).modal('show');
                }
                else
                {
                    this.$emit('reSetShowMemoModal', false);
                    $(this.$refs.MemoReason).modal('hide');
                }
            }
        }
    }

</script>