﻿<template>
	<div class="modal modal-wide" ref="ProductLines" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						Manage Product Lines (<small>{{jurisdictionName}}</small>)
						<span class="pull-right">
							<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" aria-label="Close">Close</button>
						</span>
					</h4>
				</div>
				<div class="modal-body">
					<table class="table table-sm" style="padding-right:0px">
						<thead>
							<tr>
								<th>Product Lines</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(productLine, index) in productLines">
								<td width="130px" class="padr0">{{ productLine.name }}</td>
								<td><a class="btn btn-primary" @click="deleteProductLine(index)">Delete</a></td>
							</tr>
						</tbody>
					</table>
					<div>
						<Lookup id="addProductLine"
								name="addProductLine"
								lookupajax="ProductLines"
								v-model="productLineToAdd.id"
								:lookuptextfield="productLineToAdd.name"
								@updateLookupTextField="updateProductLineDropDown">
						</Lookup>
						<a class="btn btn-primary" @click="addProductLine">Add</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import Lookup from '@/components/utility/Lookup';
	export default {
		components: {
			Lookup
		},
		props: {
			jurisdictionalDataId: {
				type: Number
			},
			showScriptModal: {
				type: Boolean
			},
			jurisdictionName: {
				type: String
			},
			productLines: {
				type: Array
			}
		},
		data() {
			return {
				productLineToAdd: {
					id: null,
					name: null
				}
			}
		},
		methods: {
			updateProductLineDropDown: function (newValue, selectedId) {
				this.productLineToAdd.id = selectedId;
				this.productLineToAdd.name = newValue;
			},
			addProductLine: function () {
				if (this.productLineToAdd.id && !!!this.productLines.filter(x => { return x.id == this.productLineToAdd.id; }).length) {
					const payload = this.$lodash.cloneDeep(this.productLineToAdd);
					this.$emit('addProductLine', payload);
					this.productLineToAdd.id = null;
					this.productLineToAdd.name = null;
				}
			},
			deleteProductLine: function (index) {
				this.$emit('deleteProductLine', index);
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.ProductLines).on('hidden.bs.modal', function (e) {
				self.updateProductLineDropDown(null, null);
				self.$emit('reSetModal', false);
			});
		},
		watch: {
			showScriptModal: function (val) {
				const toggle = val ? 'show' : 'hide';
				$(this.$refs.ProductLines).modal(toggle);
			}
		}
	}
</script>
<style scoped>
	.modal-body {
		height: 450px;
		overflow-y: auto;
		font-size: 12px;
	}

	.modal.modal-wide .modal-dialog {
		width: 60%;
		height: auto;
	}
</style>