﻿<template>
	<div class="modal" ref="UpgradeByCalculator" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						Calculate Upgrade By Date
						<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" action="/action_page.php">
						<div class="form-group">
							<label class="control-label col-sm-3" for="email">Close Date</label>
							<div class="col-sm-3">
								<DatePicker id="CloseDate" name="CloseDate" v-model="closeDate" placeholder="Close Date"></DatePicker>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="email">Days To Upgrade</label>
							<div class="col-sm-3">
								<input type="text" v-model="daysToUpgrade" />
							</div>
						</div>
					</form>
						

				 </div>
				<div class="modal-footer">
					<a class="btn btn-primary btn-sm" @click="calculate">Calculate</a>
				</div>
			</div>
		</div>
	</div>
</template>
<script>

	import DatePicker from '@/components/utility/DatePicker.vue'
  
	export default {
		components: {
			DatePicker
		},
		props: {
			showUpgrade: {
				type: Boolean
			}
		},
		data() {
			return {
				closeDate: null,
				daysToUpgrade: null,
				calculatedDate:  null
			}
		},
		computed: {

		},
		validations: {
		  
		},
		methods: {
			calculate: function (e) {
				if (!Em(this.daysToUpgrade)) {
					if (isNaN(this.daysToUpgrade)) {
					   bootbox.alert("please enter valid number for Days.")
					}
					else {
						if (!Em(this.closeDate)) {
							var closeDate = new Date(this.closeDate);
							this.calculatedDate =  closeDate.setDate(closeDate.getDate() + parseInt(this.daysToUpgrade));
							//this.calculatedDate = new Date(closeDate.getDate() + this.daysToUpgrade * 24 * 60 * 60 * 1000);
					 
							this.$emit('updateData', this.calculatedDate);
						}
						else {
							bootbox.alert("please select date.")
						}
					}
				}
			   
			}
		},
		mounted: function () {
			const refThis = this;
		  
			$(this.$refs.UpgradeByCalculator).on('hidden.bs.modal', function (e) {
				refThis.$emit('reSetShowUpgradeModal', false);
			});
		},
		watch: {
			showUpgrade: function (val, oldVal) {
				if (val) {
					this.closeDate = null
					this.daysToUpgrade = null
					this.calculatedDate = null
					$(this.$refs.UpgradeByCalculator).modal('show');
				}
				else
				{
					this.$emit('reSetShowUpgradeModal', false);
					$(this.$refs.UpgradeByCalculator).modal('hide');
				}
			}
		}
	}

</script>