﻿<template>
	<div>
		<CertOfCompliance></CertOfCompliance>
	</div>
</template>
<script>
	import { isNull } from '@/common';
	import { isNotNull } from '@/common';
	import CertOfCompliance from '@/components/documents/generate/LetterPreview/FirstPage/LatinAmerica/CertOfCompliance.vue';

	export default {
		name: 'LatinSecondPage',
		components: {
			CertOfCompliance
		},
		data: function () {
			return {
			}
		},
		props: {
		},
		computed: {
			
		},
		methods: {
			...letterActions([
			]),
			...generateLetterActions([
			]),
			...sourceActions([
			]),
		},
		watch: {
		},
		filters: {
		},


	};
</script>
<style scoped>
</style>