﻿<template>
	<div>
		<component v-bind:is="getPage(this.letterPreviewJurisdiction)"></component>
	</div>
</template>
<script>
	import { isNull } from '@/common';
	import { isNotNull } from '@/common';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters: generateLetterGetters, mapActions: generateLetterActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	import FirstPagePanama from '@/components/documents/generate/LetterPreview/FirstPage/LatinAmerica/Panama.vue';
	import FirstPagePeru from '@/components/documents/generate/LetterPreview/FirstPage/LatinAmerica/Peru.vue';

	export default {
		name: 'LatinFirstPage',
		components: {
			FirstPagePanama,
			FirstPagePeru
		},
		data: function () {
			return {
			}
		},
		props: {
		},
		computed: {
			...letterGetters([
				'bundleName',
				'fileNumber',
				'evalLabLetterCodes',
				'jurisdictionIds'
			]),
			...generateLetterGetters([
				'letterPreviewJurisdiction'
			]),
			...sourceGetters([
				'jurisdictionLetterDetails'
			]),
		},
		methods: {
			getPage: function (jurisdiction) {
				if (jurisdiction == 132) {
					return "FirstPagePanama"
				}
				else if (jurisdiction == 59) {
					return "FirstPagePeru"
				}
			},
			...letterActions([
			]),
			...generateLetterActions([
			]),
			...sourceActions([
			]),
		},
		watch: {
		},
		filters: {
		},
		

	};
</script>
<style scoped>
</style>