﻿<template>
	<a 
		v-if="href"
		class="btn" 
		:class="{ 
			'gli-base-button-compact': isCompact, 
			'btn-primary': isPrimary, 
			'btn-destructive': isDestructive,
			'gli-base-button-inverse': inverseStyle 
		}" 
		:href="hrefUrl" 
		@click.stop="clickLink">
		<!-- @slot The label for the button -->
		<slot />
	</a>
	<button 
		v-else-if="onclick" 
		class="btn" 
		:class="{ 
			'gli-base-button-compact': isCompact, 
			'btn-primary': isPrimary, 
			'btn-destructive': isDestructive,
			'gli-base-button-inverse': inverseStyle 
		}" 
		@click.stop="clickLink" 
		:onclick="onClickString">
		<!-- @slot The label for the button -->
		<slot />
	</button>
	<button 
		v-else
		class="btn" 
		:class="{ 
			'gli-base-button-compact': isCompact, 
			'btn-primary': isPrimary, 
			'btn-destructive': isDestructive,
			'gli-base-button-inverse': inverseStyle 
		}" 
		@click.stop="clickEvent">
		<!-- @slot The label for the button -->
		<slot />
	</button>
</template>

<script>

/** 
 * A button component that determines what kind of HTML element to be and what classes to 
 * apply based on provided properties.
 */
export default {
	props: {
		/**
		 * A URL to redirect to upon click. Forces the button to be an anchor element.
		 */
		href: {
			type: String,
			default: null
		},
		/**
		 * **Deprecated**
		 * Use the native @click event going forward.
		 * 
		 * An action to take upon click. Forces the button to be a button
		 * element. Strings are directly placed into the button's onclick property, while functions are executed 
		 * on the click event.
		 * 
		 * Note the native event needs to be captured and given to the handler, i.e.
		 * `:onclick="(evt) => handle__myfunction(myProp)"`
		 */
		onclick: {
			type: [String, Function],
			default: null
		},
		/**
		 * A flag to style the button as compact - less vertical padding around the label.
		 * Should be used judiciously, as smaller buttons decrease usability.
		 */
		isCompact: {
			type: Boolean
		},
		/**
		 * A flag to determine whether the element is styled as a destructive button. 
		 * Should only be used when clicking the button will delete something or do something that isn't reversible.
		 */
		isDestructive: {
			type: Boolean
		},
		/**
		 * A flag to determine whether the element is styled as a primary button or
		 * a secondary one. Should only be used once in each context, to draw the user's focus to the most
		 * important action.
		 */
		isPrimary: {
			type: Boolean
		},
		/**
		 * Use this flag when placing buttons on a dark background.
		 */
		inverseStyle: {
			type: Boolean
		}
	},
	methods: {
		clickLink: function (evt) {
			if (this.onclick && typeof this.onclick === "function") {
				this.onclick(evt);
			} else if (this.href) {
				location = this.hrefUrl;
			}
		},
		clickEvent: function () {			
			/**
			 * Click event.
			 */
			this.$emit("click");
		}
	},
	computed: {
		hrefUrl: function () {
			if (this.href) {
				return jsPath + this.href.slice(1);
			}
			return null;
		},
		onClickString: function () {
			if (this.onclick && typeof this.onclick !== "function") {
				return this.onclick;
			}
			return null;
		}
	}
};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";
	@use "sass:color";

	.btn {
		background: none;
		border: 2px solid Colors.$accent;
		border-radius: 6px;
		padding: 5px 11px;

		&.gli-base-button-compact {
			padding: 2px 11px;
		}

		&.btn-destructive {
			border-color: Colors.$secondary;
			color: Colors.$secondary;
		}

		&:hover {
			&:not(:disabled) { background: Colors.$accentLight; }
		}

		&:focus {
			&:not(:disabled) {
				border-color: Colors.$accentLight;

				&.btn-destructive {
					border-color: Colors.$secondaryDark;
				}
			}
		}
	}

	.btn + .btn {
		margin-left: Spacing.$half;
	}

	.btn-primary {
		background-color: Colors.$blueLight;
		border-color: transparent;
		color: Colors.$white;

		&.btn-destructive {
			background-color: Colors.$secondary;
			color: Colors.$white;
		}

		&:disabled {
			background-color: Colors.$accentDark;
		}

		&:hover {
			&:not(:disabled) {
				background-color: Colors.$blue;

				&.btn-destructive {
					background-color: Colors.$secondaryDark;
				}
			}
		}

		&:focus {
			&:not(:disabled) {
				border-color: Colors.$blueLight;

				&.btn-destructive {
					border-color: Colors.$secondaryLight;
				}
			}
		}
	}

	.gli-base-button-inverse {
		&.btn {
			border: 2px solid Colors.$white;
			color: Colors.$white;

			&:hover {
				&:not(:disabled) { background: color.adjust(Colors.$white, $alpha: -0.7); }
			}

			&:focus {
				&:not(:disabled) { border-color: Colors.$gray; }
			}
		}

		&.btn-primary {
			background-color: Colors.$white;
			border-color: transparent;
			color: Colors.$blue;

			&:hover {
				&:not(:disabled) { background: color.adjust(Colors.$white, $alpha: -0.15); }
			}

			&:focus {
				&:not(:disabled) { border-color: Colors.$gray; }
			}
		}
	}

</style>