@model Submissions.Web.Areas.Lookups.Models.JurisdictionsEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Jurisdiction";

	var activeHtmlAttributes = "";
	if (Model.Mode == Mode.Add)
	{
		activeHtmlAttributes = "disabled = disabled";
	}
}

@using (Html.BeginForm("Edit", "Jurisdictions", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.PendingApproval)
	@Html.HiddenFor(m => m.SendEmail, new { data_bind = "value: SendEmail" })
	@Html.Hidden("JurisdictionsEditViewModel")

	<div class="row row-title">
		<div class="col-sm-6">
			<h3 class="form-h3">@ViewBag.Title <small>@Html.DisplayFor(m => m.Name)</small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if ((Model.PendingApproval && !Model.Active) || Model.Mode == Mode.Add)
			{
				<button type="button" id="SaveNEmail" class="btn btn-primary btn-sm btn-saveandemailjurisdiction"><i class="fas fa-envelope"></i>&nbsp;Add</button>
			}
			else
			{
				<button type="button" id="Save" class="btn btn-primary btn-sm btn-savejurisdiction">Save</button>
			}
			@Html.ActionLink("Cancel", "Index", "Jurisdictions", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">General</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Id, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-9">
								<p class="form-control-static" style="margin-top:3px;">
									@Html.DisplayFor(m => m.Id)
									@if (Model.Mode == Mode.Add)
									{
										<span class="text-warning">&nbsp; &nbsp;ID is auto generated</span>
									}
								</p>
							</div>
						</div>

						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Name, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus", data_bind = "value: Name" })
								@Html.ValidationMessageFor(m => m.Name)
								@Html.HiddenFor(m => m.Name, new { @id = "originalJurisdictionName" })
							</div>
						</div>

						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.FormattedJurisdictionName, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.FormattedJurisdictionName, new { @class = "form-control", data_bind = "value: FormattedJurisdictionName" })
							</div>
						</div>

						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.JurisdictionType, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.JurisdictionType, new { @class = "form-control", data_bind = "value: JurisdictionType" })
							</div>
						</div>

						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.NationCode, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								<select data-bind="select: NationCode, value: NationCode, options: $root.NationCodeOptions, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select>
							</div>
						</div>

						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.CountryId, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								<select data-bind="lookup: CountryId, value: CountryId, options: Country, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.Countries" class="form-control"></select>
							</div>
						</div>

						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.SubCode, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.SubCode, new { @class = "form-control", data_bind = "value: SubCode" })
								@Html.ValidationMessageFor(m => m.SubCode)
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.QAOfficeDefaultId, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								<select data-bind="lookup: QAOfficeDefaultId, value: QAOfficeDefaultId, options: QAOfficeDefaults, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.Laboratories" class="form-control"></select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Comments, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-4">
								@Html.TextBoxFor(m => m.Comments, new { @class = "form-control", data_bind = "value: Comments" })
							</div>
						</div>

						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.LiaisonUserIds, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-4">
								<select data-bind="lookupmultiple: LiaisonUserIds, options: LiaisonUsers, selectedOptions: LiaisonUserIds, optionsValue: 'Value', optionsText: 'Text'" data-lookupmultipleajax="@LookupAjax.Liaisons" multiple="multiple" class="form-control"></select>
							</div>
						</div>

						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Active, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								<input type="checkbox" name="Active" data-bind="checked: Active" class="padcheckbox" @activeHtmlAttributes />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	if (Model.Mode == Mode.Add || (Model.Mode == Mode.Edit && Model.PendingApproval))
	{
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Accounting</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.QMSLink, new { @class = "control-label col-sm-3" })
								<div class="col-sm-3">
									@Html.TextBoxFor(m => m.QMSLink, new { @class = "form-control", data_bind = "value: QMSLink" })
								</div>
							</div>

							@Html.Label("If there are currently any pending requests to be entered into the Submissions database for this new Jurisdiction, please select the Manufacturer codes for the associated items below:")
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.ManufacturerCodes, new { @class = "control-label col-sm-3" })
								<div class="col-sm-6">
									<select data-bind="lookupmultiple: ManufacturerCodes, options: Manufacturers, selectedOptions: ManufacturerCodes, optionsValue: 'Value', optionsText: 'Text'" data-lookupmultipleajax="@LookupAjax.Manufacturers" data-templatename="formatManufacturers" multiple="multiple" class="form-control"></select>
								</div>
							</div>

							@Html.Label("If there are specific GLI offices that will be billing or performing work for this new Jurisdiction please specify below:")
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.BillingLabIds, new { @class = "control-label col-sm-3" })
								<div class="col-sm-6">
									<select data-bind="lookupmultiple: BillingLabIds, options: BillingLabs, selectedOptions: BillingLabIds, optionsValue: 'Value', optionsText: 'Text'" data-lookupmultipleajax="@LookupAjax.Laboratories" multiple="multiple" class="form-control"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">PCT Info</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.AvailForElectReq, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								@Html.CheckBoxFor(m => m.AvailForElectReq, new { @class = "padcheckbox", data_bind = "checked: AvailForElectReq" })
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.AltName, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								@Html.TextBoxFor(m => m.AltName, new { @class = "form-control", data_bind = "value: AltName" })
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Emails</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-offset-4">
							<p class="text-info"><i><small class="text-info">Enter email addresses separated by semi-colons (eg. email1@gli.com; email2@gli.com)</small></i></p>
						</div>
					</div>

					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-7">
								@Html.TextBoxFor(m => m.Email, new { @class = "form-control", data_bind = "value: Email" })
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">PDF Info</h3>
				</div>
				<div class="panel-body">
					<div class="form-group form-group-sm">
						<table class="table table-condensed table-striped table-hover ">
							<thead>
								<tr>
									<th>Jurisdiction</th>
									<th>Directory</th>
									<th>Type</th>
									<th class="text-right"><a href="#" data-bind="click: removeAllA1Data">Remove All</a></th>
								</tr>
							</thead>
							<tbody data-bind="foreach: A1Data">
								<tr>
									<td class="col-sm-3">
										<input type="hidden" data-bind="value: Id" />
										<input data-bind="value: Field6Juris" class="form-control" />
									</td>
									<td class="col-sm-3"><input data-bind="value: Field5Dir" class="form-control" /></td>
									<td class="col-sm-3"><select data-bind="select: Field4Typ, value: Field4Typ, options: $root.A1DataField4TypOptions, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select></td>
									<td class="col-sm-3 text-right"><a href="#" data-bind="click: $root.removeA1Data">Remove</a></td>
								</tr>
							</tbody>
						</table>
						<div>&nbsp;<span data-bind="click: addA1Data"><a href="#"><i class="fas fa-plus"></i> Add PDF Info</a></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Signature Scopes</h3>
				</div>
				<div class="panel-body">
					<div class="form-group form-group-sm">
						<table class="table table-condensed table-striped table-hover ">
							<thead>
								<tr>
									<th>Type</th>
									<th>Scope</th>
									<th class="text-right"><a href="#" data-bind="click: removeAllSignatureScopes">Remove All</a></th>
								</tr>
							</thead>
							<tbody data-bind="foreach: SignatureScopes">
								<tr>
									<td class="col-sm-3">
										<input type="hidden" data-bind="value: Id" />
										<select data-bind="lookup: TypeId, value: TypeId, options: Type, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.SignatureTypes" class="form-control"></select>
									</td>
									<td class="col-sm-3">
										<select data-bind="lookup: ScopeId, value: ScopeId, options: Scope, optionsValue: 'Value', optionsText: 'Text'" data-lookupajax="@LookupAjax.SignatureScopes" class="form-control"></select>
									</td>
									<td class="col-sm-4 text-right"><a href="#" data-bind="click: $root.removeSignatureScope">Remove</a></td>
								</tr>
							</tbody>
						</table>
						<div>&nbsp;<span data-bind="click: addSignatureScope"><a href="#"><i class="fas fa-plus"></i> Add Signature Scope</a></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Options</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.ARIScheduleC, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-2">
								@Html.CheckBoxFor(m => m.ARIScheduleC, new { @class = "padcheckbox", data_bind = "checked: ARIScheduleC" })
							</div>
						</div>

						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.RestrictedUse, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								@Html.CheckBoxFor(m => m.RestrictedUse, new { @class = "padcheckbox", data_bind = "checked: RestrictedUse" })
							</div>
						</div>

						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.UseDraftLetters, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								@Html.CheckBoxFor(m => m.UseDraftLetters, new { @class = "padcheckbox", data_bind = "checked: UseDraftLetters" })
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.IsGAT, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								@Html.CheckBoxFor(m => m.IsGAT, new { @class = "padcheckbox", data_bind = "checked: IsGAT" })
							</div>
						</div>
						<div class="form-group form-group-sm">
							@Html.LabelFor(m => m.TestingPerformedAvailable, new { @class = "col-sm-3 control-label" })
							<div class="col-sm-3">
								@Html.CheckBoxFor(m => m.TestingPerformedAvailable, new { @class = "padcheckbox", data_bind = "checked: TestingPerformedAvailable" })
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scripts{
	@Scripts.Render("~/bundles/script/knockout")
	<script>
		// KO
		var data = @Html.Raw(Json.Encode(Model));
		var defaultA1Data = data.DefaultA1Data;
		var defaultSignatureScope = data.DefaultSignatureScope;

		var jurisdictionModel = function(data) {
			var self = this;
			ko.mapping.fromJS(data, {}, self);

			self.addA1Data = function() {
				self.A1Data.push(ko.mapping.fromJS(defaultA1Data));
			}

			self.VisibleA1Data = function() {
				return ko.utils.arrayFilter(self.A1Data(), function(A1Data) { return A1Data._destroy !== true });
			}

			self.removeAllA1Data = function () {
				self.A1Data.destroyAll();
			};

			self.removeA1Data = function(A1Data) {
				self.A1Data.destroy(A1Data);
			};

			self.addSignatureScope = function() {
				self.SignatureScopes.push(ko.mapping.fromJS(defaultSignatureScope));
			}

			self.VisibleSignatureScopes = function() {
				return ko.utils.arrayFilter(self.SignatureScopes(), function(signatureScope) { return signatureScope._destroy !== true });
			}

			self.removeAllSignatureScopes = function () {
				self.SignatureScopes.destroyAll();
			};

			self.removeSignatureScope = function(signatureScope) {
				self.SignatureScopes.destroy(signatureScope);
			};
		}

		var jurisdictionViewModel = new jurisdictionModel(data);

		$(function () {
			ko.applyBindings(jurisdictionViewModel);

			// Save
			$('.btn-savejurisdiction').on('click', function (e) {
				e.preventDefault();

				var originalJurisdictionName = $('#originalJurisdictionName').val();
				var currentJurisdictionName = $('#Name').val();

				if((originalJurisdictionName !== currentJurisdictionName) && ('@Model.Mode' == '@Submissions.Common.Mode.Edit'))
				{
					confirmJurisdictionNameChange(originalJurisdictionName);
				}
				else
				{
					var data = ko.toJS(jurisdictionViewModel);

					$('#JurisdictionsEditViewModel').val(JSON.stringify(data));
					$('#LookupForm').submit();
				}
			});

			// Save and Mail
			$('.btn-saveandemailjurisdiction').on('click', function (e) {
				e.preventDefault();

				bootbox.confirm({
					title: "Email Accounting",
					message: "This Jurisdiction is currently pending approval, would you like to email James Lawrence to have Dynamics setup?",
					buttons: {
						confirm: {
							label: "Email",
							className: "btn-primary",
						},
						cancel: {
							label: "Save without Email",
							className: "btn-info",
						}
					},
					callback: function (result) {
						if (result) {
							$('#SendEmail').val(result).change();
						}

						var data = ko.toJS(jurisdictionViewModel);
						$('#JurisdictionsEditViewModel').val(JSON.stringify(data));
						$('#LookupForm').submit();
					}
				})
			});
		})

		function confirmJurisdictionNameChange(originalJurisdictionName) {
			$.post('@Url.Action("getRowCountForUpdate")', { originalJurisdictionName: originalJurisdictionName })
							.done(function (count) {
							bootbox.confirm({
							title: "Jurisdiction Name Change",
							message: "Changing the Jurisdiction name will affect " + count + " jurisdictional data record(s). Do you wish to continue?",
							buttons: {
									confirm: {
										label: "Yes",
										className: "btn-primary"
									},
									cancel: {
										label: "No",
										className: "btn-primary"
									}
								},
								callback: function (result) {
									if(result)
									{
										var data = ko.toJS(jurisdictionViewModel);

										$('#JurisdictionsEditViewModel').val(JSON.stringify(data));
										$('#LookupForm').submit();
									}
								}
							});
						});
		}

	</script>
}