﻿@model Submissions.Web.Areas.Lookups.Models.JurisdictionsIndexViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Jurisdictions";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

@Html.Trirand().JQGrid(Model.JurisdictionsGridModel.Grid, Model.JurisdictionsGridModel.Grid.ID)

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
<script>

		var grid = $('#JurisdictionsGrid');

		$(function () {
			grid.jqGrid('setGridParam', {
				rowattr: function (rowData, currentObj, rowId) {
					if (currentObj[$(this).getColumnIndexByName("Active")] === 'False') {
						return { 'class': 'text-red' }
					}
				}
			});
		});

		function PendingApproval(cellValue, options, rowObject) {
			var pendingApproval = rowObject[$(this).getColumnIndexByName("PendingApproval")];
			if (pendingApproval == "True") {
				return 'True';
			}
			else {
				return ' ';
			}
		}

		function editLink(cellValue, options, rowObject) {
			var isActive = rowObject[$(this).getColumnIndexByName("Active")] == 'True';

			var url = '';
			if (isActive) {
				url = '<a href="' + '@Url.Action("Edit", "Jurisdictions")' + '/' + options.rowId + '?mode=Edit">Edit</a>'
			} else {
				url = '<a href="' + '@Url.Action("SetActive", "Jurisdictions")' + '/' + options.rowId + '?mode=Activate">Activate</a>'
			}

			return url + '<span class="text-normal"> | </span> ' +
				'<a href="' + '@Url.Action("CheckDelete", "Jurisdictions")' + '/' + options.rowId + '" class="CheckDelete" id="' + options.rowId + '">Delete</a>';;
		}
</script>
}