﻿<template>
	<base-header-view :title="'Change Log'" :fixedWidth="true">
		<div class="flex__container">
			<div class="flex__item"><h1>Current Build: {{ vm.buildVersion }} - {{ vm.buildDate | formatDate }}</h1></div>
		</div>
		<br />
		<h2>Latest</h2>
		<div v-html="compileMarkdown('latest')"></div>
		<br />
		<div><div class="clickable" @click="handle__toggleFull"><h2>Full <i v-bind:class="[pageOptions.showFull ? 'fas fa-caret-up' : 'fas fa-caret-down']"></i></h2></div></div>
		<div v-show="pageOptions.showFull">
			<div v-html="compileMarkdown('full')"></div>
		</div>
	</base-header-view>
</template>

<script>
	import marked from 'marked';
	export default {
		components: {
		},
		data() {
			return {
				vm: { ...initialData },
				pageOptions: {
					showFull: false
				}
			}
		},
		computed: {

		},
		methods: {
			compileMarkdown: function (version) {
				let compiledMarkdown = "";

				switch (version) {
					case 'latest':
						compiledMarkdown = marked(this.vm.changeLog.latest, { sanitize: true });
						break;
					case 'full':
					default:
						compiledMarkdown = marked(this.vm.changeLog.full, { sanitize: true });
						break;
				}
				return compiledMarkdown;
			},
			handle__toggleFull: function () {
				this.pageOptions.showFull = !this.pageOptions.showFull;
			}
		},
	}
</script>

<style lang="scss" scoped>
	@use '@/components/theme/Colors';
	@use '@/components/theme/Spacing';
	@use "sass:color";

	.flex__container {
		display: flex;
		justify-content: center;
	}

	h2 {
		color: Colors.$blueLight;
	}

	.clickable {
		cursor: pointer
	}

		.clickable:hover {
			color: Colors.$blueLight;
			text-decoration: underline;
		}
</style>