﻿@model Submissions.Web.Areas.Protrack.Models.WorkloadManager.ResourceFinderViewModel

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}

@{
	ViewBag.Title = "Resource Finder";
	ViewBag.FullWidth = true;
}

<div id="app"></div>

@section scripts {
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/jqgrid")
	<script src="@Url.Content("~/Vue/vendors.js")"></script>
	<script src="@Url.Content("~/Vue/bundle.js")"></script>
}