﻿@model Submissions.Web.Areas.Protrack.Models.WorkloadManager.ResourceRequestsViewModel

@section css{
}

@{
	ViewBag.Title = "Resource Requests";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Resource Finder", "ResourceFinder", "WorkloadManager", null, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		@Html.ActionLink("Exit", "Index", "Home", new { Area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div id="app"></div>
	</div>
</div>

@section scripts {
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}

