﻿@model Submissions.Web.Areas.Protrack.Models.WorkloadManager.WorkloadBalancerViewModel

@section css{
	<style>
		.container-fluid {
			margin-bottom: 0px !important;
		}
	</style>
}

<style>
	#WorkloadManagerForm .select2 {
		width: 210px !important;
	}
</style>

@{
	ViewBag.FullWidth = true;
	ViewBag.NoFooter = true;
	ViewBag.Title = "Workload Balancer";
}

<div id="app"></div>

@section scripts {
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}