﻿<template>
	<div id="Conditional-Branch-Modal" ref="ConditionalBranchModal" class="modal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<fieldset>
							<legend>Legend</legend>
							<label class="classType17">Conditional</label>
							<label class="classType18">Validation</label>
							<label class="classType26">GPS</label>
							<label class="classType27">Game Description</label>
							<label class="classType28">Drowdown Validation</label>
							<label class="classType29">Test Step Question</label>
							<label class="classType30">Free Form</label>

						</fieldset>
						<button type="button" class="btn btn-primary" data-dismiss="modal" @click="clearTrees">Cancel</button>
					</div>
					<h3 class="modal-title">View of Conditional Tree</h3>
					<h6>Double click on Validations to toggle clauses.</h6>
				</div>
				<div class="modal-body">
					<div v-if="makeTree" class="makeNiceTree" :style="'zoom:' + zoomValue">
						<TreeChart ref="treeChart" :json="treeData"></TreeChart>

					</div>
				</div>
				<div class="modal-footer">
					<div class="footer-container">
						<div class="sliderRangeContent">
							<label>Zoom</label>
							<div id="slider">
								<input class="bar" type="range" label="Zoom" v-model="zoomValue" step=".05" min=".1" max="3" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import { createNamespacedHelpers } from 'vuex'
	import TreeChart from '../../utility/TreeChart'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			TreeChart
		},
		props: {
			selectedTestScript: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				treeData: {},
				zoomValue: 1,
				makeTree: false, //This toggles the treeChart component to re-render when this modal closes to clear out old info.
			}
		},
		methods: {
			clearTrees: function () {
				this.makeTree = false;
			},
			buildVisualTree: function (rootObjectIndex, partOfAnswerPath) {
				var rootObject = this.review.testScript.reviewViewModel[rootObjectIndex];
				var childrenNO = [];
				var childrenYES = [];
				var childrenYESvisible = "";
				var childrenNOvisible = "";
				for (var i = rootObjectIndex + 1; i < this.review.testScript.reviewViewModel.length; i++) {
					//build out tree while the Level doesn't match the initial root level
					//sort Yes and No from the rootObject level till we get back or less than this root object level.
					if (this.review.testScript.reviewViewModel[i].level > rootObject.level && this.review.testScript.reviewViewModel[i].source == rootObject.id) {
						if (this.review.testScript.reviewViewModel[i].evaluation == "NO") {
							if (this.review.testScript.reviewViewModel[i].questionType == "17" || this.review.testScript.reviewViewModel[i].questionType == "29") {
								childrenNO.push(this.buildVisualTree(i));
							} else {
								childrenNO.push({
									name: ((this.review.testScript.reviewViewModel[i].answer !== null) ?
										'<strong><span class=\'' + this.review.testScript.reviewViewModel[i].answer + '\'>' + this.review.testScript.reviewViewModel[i].answer + '</span></strong>'
										: '')
										+ ' ' +
										this.review.testScript.reviewViewModel[i].normalizedID + ' '
										+ this.review.testScript.reviewViewModel[i].text,
									classType: 'classType' + this.review.testScript.reviewViewModel[i].questionType,
									visibleClass: 'visibleClass' + this.review.testScript.reviewViewModel[i].visible.toString(),
									canToggle: true,
									questionId: this.review.testScript.reviewViewModel[i].id,
								});
							}
							childrenNOvisible = this.review.testScript.reviewViewModel[i].visible.toString();
						} else if (this.review.testScript.reviewViewModel[i].evaluation == "YES") {
							if (this.review.testScript.reviewViewModel[i].questionType == "17" || this.review.testScript.reviewViewModel[i].questionType == "29") {
								childrenYES.push(this.buildVisualTree(i));
							} else {
								childrenYES.push({
									name: ((this.review.testScript.reviewViewModel[i].answer !== null) ?
										'<strong><span class=\'' + this.review.testScript.reviewViewModel[i].answer + '\'>' + this.review.testScript.reviewViewModel[i].answer + '</span></strong>'
										: '')
										+ ' ' +
										this.review.testScript.reviewViewModel[i].normalizedID + ' '
										+ this.review.testScript.reviewViewModel[i].text,
									classType: 'classType' + this.review.testScript.reviewViewModel[i].questionType,
									visibleClass: 'visibleClass' + this.review.testScript.reviewViewModel[i].visible.toString(),
									canToggle: true,
									questionId: this.review.testScript.reviewViewModel[i].id,

								});
							}
							childrenYESvisible = this.review.testScript.reviewViewModel[i].visible.toString();
						}
					} else if (this.review.testScript.reviewViewModel[i].level >= rootObject.level) {
						continue; // could be at child level but part of the grandparents Yes or No side.
					} else { //we are at a testScript basically that is a level lower than the rootObjectIndex
						break;
					}
				}

				var emptyNode = false;
				var jsonObjectify = { name: rootObject.normalizedID};
				if (rootObject.questionType == "29") {
					emptyNode = true;
					jsonObjectify["name"] += '<b><u> ' + rootObject.description +'</u></b><br /> ';
				}

				//Only set the YES and NO to visible if the root Object is visible.
				if (rootObject.visible) {
					//If NO is selected make it so YES is not and vice versa
					if (childrenNOvisible === "true" && childrenYESvisible === "") {
						childrenYESvisible = "false";
					} else if (childrenNOvisible === "" && childrenYESvisible === "true") {
						childrenNOvisible = "false";
					} else if (childrenNOvisible === "false" && childrenYESvisible === "") {
						childrenYESvisible = "true";
					} else if (childrenNOvisible === "" && childrenYESvisible === "false") {
						childrenNOvisible = "true";
					}
				}
				
				jsonObjectify["name"] += rootObject.text;
				jsonObjectify["classType"] = 'classType' + rootObject.questionType;
				jsonObjectify["visibleClass"] = 'visibleClass' + rootObject.visible.toString();
				if (childrenNO.length > 0 && childrenYES.length > 0) {
					jsonObjectify["children"] =
						[
							{
								name: 'NO',
								classType: 'classTypeNO',
							visibleClass: 'visibleClass' + childrenNOvisible,
							canToggle: false,
								children: childrenNO
							},
							{
								name: 'YES',
								classType: 'classTypeYES',
								visibleClass: 'visibleClass' + childrenYESvisible,
								canToggle: false,
								children: childrenYES
							}
						]
					return jsonObjectify;
				}
				if (childrenNO.length > 0 && childrenYES.length == 0) {
					jsonObjectify["children"] =
						[
							{
								name: !emptyNode ? 'NO' : '',
							classType: 'classTypeNO',
							visibleClass: 'visibleClass' + childrenNOvisible,
							canToggle: false,
								children: childrenNO
							}
						]

					if (rootObject.questionType !== "29") {
						jsonObjectify.children.push(
							{
								name: !emptyNode ? 'YES' : ' ',
								classType: 'classTypeYES',
								canToggle: false,
								visibleClass: 'visibleClass' + childrenYESvisible,
							});
					}


				} else if (childrenNO.length == 0 && childrenYES.length > 0) {
					jsonObjectify["children"] =
						[
							{
								name: !emptyNode ? 'YES' : ' ',
							classType: 'classTypeYES',
							visibleClass: 'visibleClass' + childrenYESvisible,
							canToggle: false,
								children: childrenYES
							}
						]
					if (rootObject.questionType !== "29") {
						jsonObjectify.children.unshift({
							name: 'NO',
							classType: 'classTypeNO',
							visibleClass: 'visibleClass' + childrenNOvisible,
							canToggle: false,
						});
					}
				}

				return jsonObjectify;
			},

			updateTaskDefinition: function (index) {
			},
			...mapActions([
				'setShowConditionalBranchPopup'
			])
		},
		computed: {
			...mapGetters([
				'review',
			])
		},
		watch: {
			'review.showConditionalBranchPopup': function (newVal, oldVal) {
				if (newVal) {

					//get the store test script and the selected test script chosen.
					var RootObject = this.review.testScript.reviewViewModel.findIndex(item => item.id === this.selectedTestScript.id);
					this.treeData = this.buildVisualTree(RootObject);
					this.zoomValue = 1.0;
					this.makeTree = true;
					$(this.$refs.ConditionalBranchModal).modal({show: true, keyboard: false, backdrop: false});
					this.setShowConditionalBranchPopup(false);

				}
			}
		}
	}
</script>

<style>
	.PASS {
		color: green;
	}
	.FAIL {
		color: red;
	}
	.NA {
		color: darkgrey;
	}
	.visibleClasstrue {
		border: 3px solid royalblue;
	}

	.visibleClassfalse {
		border: 1px solid;
		border-color:black;
	}

	.classTypeNO {
		background-color: purple;
		color: white;
	}

	.classTypeYES {
		background-color: deepskyblue;
		color: white;
	}

	/*conditional 17*/
	.classType17 {
		background-color: sandybrown;
	}
	/*validation 18*/
	.classType18 {
		background-color: lightblue;
	}

	.classType26 {
		background-color: gold;
	}

	.classType27 {
		background-color: lightgoldenrodyellow;
	}

	.classType28 {
		background-color: mediumaquamarine;
	}
	/*testStepQuestion 29*/
	.classType29 {
		background-color: lightgray;
	}

	.classType30 {
		background-color: rosybrown;
	}

	.makeNiceTree .node .person {
		max-width:650px;
		min-width: 30px;
		max-height:400px;
		min-height: 15px;
		overflow:auto;
		margin: 0px 5px;
	}
</style>

<style scoped>
	fieldset {
		border: 1px solid #ddd !important;
		position: relative;
		border-radius: 4px;
		padding-left: 10px !important;
		padding-right: 10px;
		float: left;
		margin: 0px 50px 0px 0px;
	}

	legend {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 0px;
		width: 10%;
		border: 1px solid #ddd;
		border-radius: 4px;
	}

	.modal-body {
		overflow-x: auto;
		max-height: calc(100vh - 225px);
		min-height: calc(100vh - 225px);
	}

	.modal-lg {
		width: 95%;
	}

	.modal-footer {
		display: flex;
		align-items: center;
	}

		.modal-footer label {
			color: black;
		}

	.footer-container {
		width: 100%;
		text-align: center;
	}

	/*Below this is styling for the slider bar for various browsers*/
	.sliderRangeContent {
		margin: 0 auto;
		width: 40%;
	}

	input[type=range] {
		-webkit-appearance: none;
		margin: 0px 0;
		width: 100%;
		padding: 0px;
	}

		input[type=range]:focus {
			outline: none;
		}

		input[type=range]::-ms-tooltip {
			display: none;
		}

		input[type=range]::-webkit-slider-runnable-track {
			width: 100%;
			height: 8.4px;
			cursor: pointer;
			animate: 0.2s;
			box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
			background: #3071a9;
			border-radius: 1.3px;
			border: 0.2px solid #010101;
		}

		input[type=range]::-webkit-slider-thumb {
			box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
			border: 1px solid #000000;
			height: 16px;
			width: 8px;
			border-radius: 5px;
			background: #ffffff;
			cursor: pointer;
			-webkit-appearance: none;
			margin-top: -5px;
		}

		input[type=range]:focus::-webkit-slider-runnable-track {
			background: #367ebd;
		}

		input[type=range]::-moz-range-track {
			width: 100%;
			height: 8.4px;
			cursor: pointer;
			animate: 0.2s;
			box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
			background: #3071a9;
			border-radius: 1.3px;
			border: 0.2px solid #010101;
		}

		input[type=range]::-moz-range-thumb {
			box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
			border: 1px solid #000000;
			height: 16px;
			width: 8px;
			border-radius: 5px;
			background: #ffffff;
			cursor: pointer;
		}

		input[type=range]::-ms-track {
			width: 100%;
			height: 8.4px;
			cursor: pointer;
			animate: 0.2s;
			background: transparent;
			border-color: transparent;
			border-width: 16px 0;
			color: transparent;
		}

		input[type=range]::-ms-fill-lower {
			background: #2a6495;
			border: 0.2px solid #010101;
			border-radius: 2.6px;
			box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
		}

		input[type=range]::-ms-fill-upper {
			background: #3071a9;
			border: 0.2px solid #010101;
			border-radius: 2.6px;
			box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
		}

		input[type=range]::-ms-thumb {
			box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
			border: 1px solid #000000;
			height: 16px;
			width: 8px;
			border-radius: 5px;
			background: #ffffff;
			cursor: pointer;
		}

		input[type=range]:focus::-ms-fill-lower {
			background: #3071a9;
		}

		input[type=range]:focus::-ms-fill-upper {
			background: #367ebd;
		}
</style>