﻿<template>
	<div class="modal" ref="EmailAHReviewDetailsModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="send">Send</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title">Validation/Conditional Questions upon Review Email</h3>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-2" for="UserIds">To:</label>
							<div class="col-sm-10">
								<LookupMultiple id="UserIds" name="UserIds" lookupajax="Users" v-model="toFilters.userIds" :options="toFilters.users"/>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-2" for="ccUserIds">Cc:</label>
							<div class="col-sm-10">
								<LookupMultiple id="ccUserIds" name="ccUserIds" lookupajax="Users" v-model="ccFilters.userIds" :options="ccFilters.users" />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">From:</label>
							<div class="col-sm-6">
								<p class="form-control-static">{{ this.reviewerEmail }}</p>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-2" for="RequestStartDate">Subject</label>
							<div class="col-sm-10">
								<input class="input-adjust-width" type="text" v-model="emailSubject">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 input-sm" for="EmailAdditionalInfo">Message Body</label>
							<div class="col-sm-10">
								<kendo-editor :resizable-content="true"
											  :resizable-toolbar="true"
											  :value="emailMessage"
											  v-on:change="(ev) => {emailMessage = ev.sender.value() }"
											  style="height:280px"
											  rows="10"
											  cols="30">
								</kendo-editor>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="send">Send</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers, mapState } from 'vuex'
	
	import FormFilters from '@/components/utility/FormFilters.vue';
	import FormFiltersIndicator from '@/components/utility/FormFiltersIndicator.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			FormFilters,
			FormFiltersIndicator,
			LookupMultiple
		},
		props: [
			'clauses',
			'answerHistorySelectedInfo',
			'testScriptSelectedInfo'
		],
		data() {
            return {
				fileNumber: '',
				combinedClausesToText: '',
				emailSubject: '',
				emailBody: '',
				emailMessage: '',
				reviewerEmail: initialData.reviewerEmail,
				toFilters: {
					userIds: [],
					users: []
				},
				ccFilters: {
					userIds: [],
					users: []
				},
			}
		},
		computed: {
			...mapGetters([
				'instance',
				'review'
			])
		},
		methods: {
			///<Summary> Sends email with modified data </Summary>
			send: function () {
				const self = this;
				this.$http.post('Evolution/Review/SendAnswerHistoryEmail', {
					subject: this.emailSubject,
					messageBody: this.emailMessage,
					emailToList: this.toFilters.userIds,
					emailCcList: this.ccFilters.userIds
				})
				.then(r => {
					$(self.$refs.EmailAHReviewDetailsModal).modal('hide');
					bootbox.alert("Email has been sent");
				})
				.catch(e => {
					console.log(e);
				});
			},
			...mapActions([
				'setShowAnswerHistoryEmailPopup' //vuex-store to show email popup
			])
		},
        watch: {
            'review.fileNumber': function (newVal, oldVal) {
                this.fileNumber = newVal;
			},
            'review.answerHistoryEmailPopUp': function (newVal, oldVal) {
                if (newVal) {
                    DoneLoading();
					this.setShowAnswerHistoryEmailPopup(false);

					this.toFilters.users = [];
					this.toFilters.userIds = [];
					this.ccFilters.users = [];
					this.ccFilters.userIds = [];
					var answerHistoryValid = this.answerHistorySelectedInfo !== null;
					var modifiedAnswer = (answerHistoryValid ? this.answerHistorySelectedInfo.answer !== this.testScriptSelectedInfo.answer : false);

					if (answerHistoryValid) {
						this.toFilters.users.push({ disabled: false, group: null, selected: true, text: this.answerHistorySelectedInfo.fullName, value: this.answerHistorySelectedInfo.answerHistoryUserId.toString() });
						this.toFilters.userIds.push(this.answerHistorySelectedInfo.answerHistoryUserId);
                    }
                    this.emailSubject = (modifiedAnswer ? 'Modified Answers for ' : '') + this.fileNumber + " Evolution Review for Question " + this.testScriptSelectedInfo.normalizedID;
					this.emailBody = 'Hello ' + (answerHistoryValid ? this.answerHistorySelectedInfo.fullName : '')
						+ ', <br /> <span style="white-space:pre"> </span>'
						+ ((answerHistoryValid && modifiedAnswer) ? (' I have changed the answer for <b>' + ((this.testScriptSelectedInfo.answerType === '11') ? 'validation' : 'conditional') + ':</b>' ) : '')
						+ ' <i>'
						+ this.testScriptSelectedInfo.normalizedID + '</i> \'' + this.testScriptSelectedInfo.text + '\' Related to Test Case: \'' + this.testScriptSelectedInfo.name + '\' <br />'

						+ ((answerHistoryValid && modifiedAnswer) ? 
						 '<br /> <b>From:</b> ' + this.answerHistorySelectedInfo.answer + ' To: ' + this.testScriptSelectedInfo.answer + '<br />' : '')



						+ '<br /> Please review the clauses and question and determine how our understandings can be clearer. <br />';
				}

				$(this.$refs.EmailAHReviewDetailsModal).modal('show');
			},
			//<Summary> Watches the clauses props for changes, if it changes, update the emailMessage part </Summary>
			clauses: function (newVal, oldVal) {
				this.combinedClausesToText = '';
				if (newVal === null) {
					
				} else if (newVal.length > 0) {
					var i;
					
					this.combinedClausesToText += '<table border="1"><tbody><tr><th>Jurisdictions</th><th>Clause Section Name</th><th>Clause Section Number</th><th>Clause Text</th><th>Document</th><th>Version</th></tr>'
					for (i = 0; i < newVal.length; i++) {
						if (newVal[i].jurisList !== null) {
							let jurisdictionList = newVal[i].jurisList.toString();
							this.combinedClausesToText += ''
								+ '<tr><td>' + jurisdictionList.replace(/;/g, ';<br/>') + '</td>'
								+ '<td>' + newVal[i].sectionName + '</td><td> ' + newVal[i].section + '</td>' + '<td>' + newVal[i].memo + '</td>'
								+ '<td>' + newVal[i].documentName + '</td><td> ' + ((newVal[i].documentVersion !== null && newVal[i].documentVersion !== '') ? newVal[i].documentVersion : '') + '</td></tr>'
								;
						}
					}
					this.combinedClausesToText += '</tbody></table>';
				} else {
					this.combinedClausesToText = '<div>No clauses found related to the Question and/or Selected Jurisdiction(s)</div>';
				}
				this.emailMessage = '<div>'+this.emailBody + this.combinedClausesToText + '</div>';

			}
		}
	}
</script>

<style scoped>
	.input-adjust-width {
		width: 70%;
	}

	td, th {
		white-space: normal; /* Only needed when it's set differntly somewhere else */
		word-wrap: break-word;
	}
</style>