﻿<template>
	<div class="modal" tabindex="-1" role="dialog" ref="GPSLinkModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Modal body text goes here.</p>
					<!--<h3>{{this.title}}</h3>
					<vue-good-table :columns="columns"
									:rows="rows"
									:lineNumbers="true">
						<template slot="table-row" slot-scope="props">
						</template>
					</vue-good-table>-->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	//import { VueGoodTable } from 'vue-good-table';
	//import 'vue-good-table/dist/vue-good-table.min.css'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		//components: {
		//	VueGoodTable
		//},
		//props: {
		//	rows: { type: Array, required: true },
		//	columns: { type: Array, required: true },
		//	title: { type: String, required: true },
		//},
		data() {
			return {

			}
		},
		created: function () {

		},
		methods: {

		},
		computed: {
			...mapGetters([
				'instance',
				'review'
			])
		},
		watch: {
			'review.showGPSLinkPopup': function (newVal, oldVal) {
				$(this.$refs.GPSLinkModal).modal('show');
			}
		}
	}
</script>

<style scoped>
</style>
