﻿<template>
	<div>
		<div class="maintainMenu">
			<div class="fixed-navigation">
				<ul class="nav nav-tabs tabs-left sideways">
					<li id="instance-tab" v-show="!review.hideInstanceActions"><a href="#" title="Instance Info" v-on:click="instanceActions()"><i class="fa fa-globe fa-2x"></i></a></li>
					<li id="functionalRoles-tab" v-show="!review.testCase.hideTestCasePanel && review.testCase.hideTestCaseSpinner"><a href="#functionalRoles" title="Functional Roles" data-toggle="tab"><i class="fa fa-tags fa-2x"></i></a></li>
					<li id="show-only-filter-tab" v-show="!review.testCase.hideTestCasePanel && review.testCase.hideTestCaseSpinner"><a href="#show-only-filter" title="Show only Filter" data-toggle="tab"><i class="fa fa-filter fa-2x"></i></a></li>
					<li id="select-test-case-tab" v-show="!review.testCase.hideTestCasePanel && review.testCase.hideTestCaseSpinner"><a href="#select-test-case" title="Select Test Cases" data-toggle="tab"><i class="fa fa-briefcase fa-2x" aria-hidden="true"></i></a></li>
					<li id="help-support-tab" class="fixed-menu-icon-help"><a href="#help-support" title="Help & Support" v-on:click="helpSupport()"><i class=" fa fa-question-circle fa-2x"></i></a></li>
					<li id="user-settings-tab" class="fixed-menu-icon-settings"> <a href="#user-settings" title="User view settings" v-on:click="settingSupport()"><i class=" fa fa-gear fa-2x"></i></a></li>
					<li>&nbsp;</li>
					<li v-show="!review.testCase.hideTestCasePanel && review.testCase.hideTestCaseSpinner && !locked">
						<input v-if="!editReview" type="button" class="btn btn-sm btn-primary" id="rotate" value="Viewing | Edit" v-on:click="editReview=!editReview" :disabled="savingAnswers" />
						<input v-else type="button" class="btn btn-sm btn-info" id="rotate" value="Editing | View" v-on:click="editReview=!editReview" />
					</li>
					<li v-show="!review.testCase.hideTestCasePanel && review.testCase.hideTestCaseSpinner && !locked"><input type="button" class="btn btn-sm btn-primary" id="rotate" value="Save Review" v-on:click="saveReview(false)" :disabled="savingAnswers" /></li>
					<li v-show="!review.testCase.hideTestCasePanel && review.testCase.hideTestCaseSpinner && !locked"><input type="button" class="btn btn-sm btn-primary" id="rotate" :title="(jurisdictionSelected?'Jurisdiction is selected' : 'Saving')" value="Complete Review" v-on:click="completeReview" :disabled="(savingAnswers || jurisdictionSelected)" /></li>
					<li v-show="!review.testCase.hideTestCasePanel && review.testCase.hideTestCaseSpinner && locked"><input type="button" class="btn btn-sm btn-danger" id="rotate" value="Unlock Review" v-on:click="unlockReview" :disabled="savingAnswers" /></li>

				</ul>
			</div>
		</div>
		<div class="nav-content maintainTabContent">
			<div class="tab-content">
				<div class="tab-pane" id="functionalRoles">
					<div class="tab-content-spacing"><FunctionalRole></FunctionalRole></div>
				</div>
				<div class="tab-pane" id="show-only-filter">
					<div class="tab-content-spacing"><FilterNew review-or-clause="review"></FilterNew></div>
				</div>
				<div class="tab-pane" id="select-test-case">
					<div class="tab-content-spacing"><TestCases></TestCases></div>
				</div>
			</div><!-- tab content -->
		</div>

		<div v-if="savingAnswers" v-bind:class="{ hidden: !savingAnswers}" >
			<div v-bind:class="{hidden: !savingAnswers}" class="text-center loading-spinner">
				<i class="fa fa-spinner fa-pulse fa-5x"></i><p>Saving Answers</p>
			</div>
		</div>
		<div v-else class="push-questions-content" v-bind:style="{ 'border':(locked && !review.testCase.hideTestCasePanel ? 'ridge 5px red':'') }">
			<!--<div v-if="review.testCase.hideTestCaseSpinner && !savingAnswers" class="row modify-testscript-row">
				<TestScriptCountInfo></TestScriptCountInfo>
			</div>-->

			<div class="row">
				<div class="modify-testscript-row">
					<Questions ref="questions_instance" v-bind:editReview="editReview"></Questions>
				</div>
			</div>
		</div>
		<!-- Popups -->
		<HelpSupport></HelpSupport>
		<UserSettings :showModal="userSettingsShow"></UserSettings>
		<Instance ref="instanceComp"></Instance>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'

	var activeTab = $('a[data-toggle="tab"]').parents('.active').length;
	var tabClicked = false;

	var convertActiveTabToNull = function () {
		activeTab = null;
	}

	$(function () {

		//navigation bar toggle
		$('[data-toggle=tab]').click(function (e) {
			if ($(this).parent().hasClass('active')) {

				e.preventDefault();
				e.stopPropagation();

				$(this).parent().removeClass('active');

				$($(this).attr("href")).removeClass('active');
				$($(this).attr("href")).removeClass('in');

				$(this).attr("aria-expanded", false);
				$(".maintainTabContent").css("width", "0px");
				$(".maintainTabContent").css("padding", "0px");
				$(".push-questions-content").css("margin", "0px 0px 0px 20px");
				activeTab = null;
			} else {
				$(".maintainTabContent").css("width", "100%");
				$(".maintainTabContent").css("padding", "15px 20px 0px 10px");
				$(".push-questions-content").css("margin", "225px 0px 0px 20px");
				tabClicked = true;
				activeTab = this;

			}
		});
	});

	import Instance from '@/components/evolution/ReviewInstance.vue'
	import FunctionalRole from '@/components/evolution/FunctionalRole.vue'
	import FilterNew from '@/components/evolution/Filter.vue'
	import TestScriptCountInfo from '@/components/evolution/review/TestScriptCountInfo.vue'
	import TestCases from '@/components/evolution/review/TestCases.vue'
	import Questions from '@/components/evolution/review/Questions.vue'
	import JurisdictionAndDocuments from '@/components/evolution/JurisdictionAndDocuments.vue'
	import HelpSupport from '@/components/evolution/review/HelpSupport.vue'
	import UserSettings from '@/components/evolution/UserViewSettings.vue'

	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')

	export default {
		components: {
			Instance,
			FunctionalRole,
			FilterNew,
			TestScriptCountInfo,
			TestCases,
			Questions,
			JurisdictionAndDocuments,
			HelpSupport,
			UserSettings
		},
		computed: {
			...mapGetters([
				'instance',
				'filter',
				'review',
				'userSettings'
			])
		},
		data() {
			return {
				editReview: false,
				locked: false,
				vm: initialData,
				savingAnswers: false,
				jurisdictionSelected: false,
				userSettingsShow: false

			}
		},
		methods: {
			instanceActions: function () {
				this.setShowInstanceInformationPopup(true);
			},
			helpSupport: function () {
				this.setShowHelpModalPopup(true);
			},
			settingSupport: function () {
				this.userSettingsShow = true;
				self = this;
				//Such a hack perhaps, instead of listening from child event that the modal displayed to switch it back. Just wait...
				setTimeout(function () {
					self.userSettingsShow = false;
				}, 100);
			},
            saveReview: function (completingReview) {
				this.savingAnswers = true;
				this.editReview = false;
				var self = this;

				if (this.review.modifiedTestCases <= 0) {
					alert("No answers were modified during this save. If you are finished with the review, please click on \"Complete Review\"");
					this.savingAnswers = false;
					return;
				} else {
					this.$http.post('Evolution/Review/SaveAnswers', {
						compGroupId: this.instance.selectedComponentGroupId,
						testScripts: this.review.modifiedTestCases,
						userName: this.vm.userName,
						officeCode: this.vm.office
					}).then(response => {
                        if (response.data == "true") {
                            alert("Saved " + this.review.modifiedTestCases.length + " answer(s) to the database.");
							this.resetModifiedFlag(this.review.modifiedTestCases);
						}
						else {
							alert("Failed to save " + this.review.modifiedTestCases.length + " answers to the database. Please try again shortly or put in a Service Now ticket.");
						}
						if (!completingReview) {
							self.savingAnswers = false;
							self.$refs.juriAndDocs.reviewFunc();
						}
					});
				}
			},
			completeReview: function () {
				if (this.jurisdictionSelected) {
					return;
				}

				this.savingAnswers = true;
				this.editReview = false;

				if (this.review.modifiedTestCases.length > 0) {
					this.saveReview(true);
				}

				//Checking for all questions have answers
				if (this.review.testScript.reviewViewModel.some(obj => obj.visible && obj.answer === null && obj.questionType !== "29")) {
					alert("There are questions that need required answers, unable to complete the review");
					this.savingAnswers = false;
					return;
				}

				//checking for any FAILs/NAs with missing notes
				if (this.review.testScript.reviewViewModel.some(obj => obj.visible &&
					obj.questionType === "18" && (obj.answer === 'FAIL' || obj.answer === 'NA') &&
					(obj.notes === '' || obj.notes === null)).length > 0) {
					this.savingAnswers = false;
					alert("There is a validation that has FAIL or NA as an answer and no notes associated with it. Unable to complete the review");
					return;
				}

				//If made it this far... The test scripts appear to be in good order.
				this.$http.post('Evolution/Review/CompleteReview', {
					compGroupId: this.instance.selectedComponentGroupId,
					userName: this.vm.userName,
					officeCode: this.vm.office
				})
					.then(response => {
						alert("Review has been marked as completed and saved. ");
						this.locked = !this.locked;
						this.editReview = false;
						this.savingAnswers = false;
						this.$refs.juriAndDocs.reviewFunc();
					})
					.catch(error => {
						alert("Error Completing Review: " + error.response.data);
						this.savingAnswers = false;
					});
			},
			unlockReview: function () {

				//this.locked = !this.locked;
				this.$http.post('Evolution/Review/CheckJurisdictionClosedStatus', {
					compGroupId: this.instance.selectedComponentGroupId,
					juriIds: this.$refs.instanceComp
						.getSelectedComponentGroupObject(this.instance.selectedComponentGroupId).jurisdictions
						.map(function (obj) { return obj.id })

				}).then(closedStatusResponse => {
					if (closedStatusResponse.data === false) {
						this.$http.post('Evolution/Review/UnlockReview', {
							compGroupId: this.instance.selectedComponentGroupId,
							userName: this.vm.userName,
							officeCode: this.vm.office
						})
							.then(response => {
								this.locked = !this.locked;
							})
							.catch(error => {
								console.log(error)
							});
					}
					else {
						this.$http.post('Evolution/Review/CheckUserDepartment', {
							userName: this.vm.userName
						})
							.then(response => {
								if (response.data === true) {
									if (confirm("There are jurisdictions that have a closed status. Are you sure you want to unlock the review?")) {
										this.$http.post('Evolution/Review/UnlockReview', {
											compGroupId: this.instance.selectedComponentGroupId,
											userName: this.vm.userName,
											officeCode: this.vm.office
										})
											.then(response => {
												this.locked = !this.locked;
											})
											.catch(error => {
												console.log(error)
											});
									}
								}
								else {
									alert("One or more jurisdictions have a closed status, unable to unlock this review");
								}
							})
							.catch(error => {
								console.log(error)
							});
					}
				}).catch(error => {
					console.log(error);
					alert('Error occurred trying to unlock the review. One or more jurisdictions for this file has a closed status');
				});
			},
			...mapActions([
				'setShowHelpModalPopup',
				'setShowInstanceInformationPopup',
				'resetModifiedFlag'
			])
		},
		watch: {
			'review.testCase.hideTestCaseSpinner': function () {
				if (!this.review.testCase.hideTestCaseSpinner) {
					this.editReview = false;
					$(".testScriptFilter").each(function () {
						this.checked = false;
					});
					var juriIdsSelected = $("#JurisdictionFilter").val();
					if (juriIdsSelected !== null && juriIdsSelected.length > 0) {
						this.jurisdictionSelected = true;
					} else {
						this.jurisdictionSelected = false;
					}
				}
			},
			'instance.selectedComponentLockStatus': function () {
				if (this.instance.selectedComponentLockStatus === "Lock") {
					//this.editReview = false;
					this.locked = true;
				} else {
					this.locked = false;
				}
			}
		}
	}
</script>

<style scoped>
	#rotate {
		width: 110px;
		margin: 40px -40px 40px -40px;
		transform: rotate(7deg);
		-ms-transform: rotate(90deg); /* IE 9 */
		-moz-transform: rotate(90deg); /* Firefox */
		-webkit-transform: rotate(90deg); /* Safari and Chrome */
		-o-transform: rotate(90deg); /* Opera */
	}

	.modify-testscript-row {
		margin: 0px 0px 0px 40px;
	}

	.fixed-navigation {
		display: table;
		width: 25px;
	}
	.fixed-menu-icon-help {
		position:fixed;
		top:90%;
	}
	.fixed-menu-icon-settings {
		position: fixed;
		top:87%;
	}

	.nav > li > a {
		padding: 1px 1px;
	}

	.maintainMenu {
		position: fixed;
		height: 100%;
		width: 35px;
		left: 0px;
		top: 25px;
		z-index: 20;
		overflow-x: hidden;
		background-color: #222222;
		display: flex;
		padding: 20px 5px 0px 1px;
		border-color: #080808;
	}

	.maintainTabContent {
		position: fixed;
		height: 240px;
		width: 0px;
		top: 30px;
		z-index: 19;
		overflow-y: auto;
		overflow-x: auto;
		background-color: #ffffff;
		display: flex;
		padding:0px; /*Start off with no tab content*/
		border-bottom-width: 5px;
		border-bottom-style: solid;
		border-bottom-color: black;
	}
	.push-questions-content {
		margin: 0px 0px 0px 20px;
		padding: 20px 10px 20px 0px;
	}

	.tab-content-spacing {
		margin-left: 20px;
	}

	td, th {
		white-space: normal; /* Only needed when it's set differntly somewhere else */
		word-wrap: break-word;
	}

	/*navigation on the left side for tabs*/
	.tabs-left {
		border-bottom: none;
		padding-top: 2px;
	}

	.tabs-left {
		/*border-right: 1px solid #ddd;*/
	}

		.tabs-left > li {
			float: none;
			margin-bottom: 2px;
		}

	.tabs-left > li {
		margin-right: -1px;
	}

	.tabs-left > li.active > a,
	.tabs-left > li.active > a:hover,
	.tabs-left > li.active > a:focus {
		border-bottom-color: #ddd;
		border-right-color: transparent;
	}

	.tabs-left > li > a {
		border-radius: 4px 0 0 4px;
		margin-right: 0;
		display: block;
	}

</style>
