﻿<template>
	<div class="flex-col">
		<div v-if="review.testScript.reviewViewModel.length == 0 && instance.selectedComponentGroupId != '' && review.testScript.hideTestScriptSpinner" 
			 class="panel panel-danger">
			<div class="panel-heading ">ERROR</div>
			<div class="panel-body text-center">No test scripts were found for the selected component group.</div>
		</div>
		<div v-bind:class="{ hidden: review.testScript.hideQuestionsPanel }" class="panel panel-default testScriptPanel">
			<div class="panel-heading questions-heading">Questions</div>
			<div class="table-responsive">
				<div v-bind:class="{ hidden: review.testScript.hideTestScriptSpinner }" class="text-center loading-spinner">
					<i class="fas fa-spinner fa-pulse fa-5x"></i>
				</div>
				<table class="table table-striped table-hover">
					<tr v-for="ts in review.testScript.reviewViewModel" :key="ts.id" v-bind:class="{ hidden: !ts.display }">
						<td v-show="ts.visible">
							<div v-bind:class="{ hidden: !ts.display }"
								 v-bind:style="{ 'margin-left': (ts.level * 50) + 'px', 'border-color':(ts.modified ? 'orange' : 'black'), 'border-width':(ts.modified ? '3px' : '1px')}"
								 class="testScriptContainer">
								<div class="row" 							 								 
									 v-bind:style="{ 'background-color':(ts.questionType!=enumLocalQuestionType.TestStepQuestion.toString() ? 
									 ts.questionType!=enumLocalQuestionType.Conditional.toString() ?
									 'white' : 'linen' : 'lavender' ) }">
									<div class="col-xs-1 normalized-id">
										{{ ts.normalizedID }}
										<div v-if="(ts.newToUser)">
											<div class="text-success" title="New Question"><img class="question-new-icon" src="/img/newToUser.png" /></div>
										</div>
									</div>
									
									<div v-if="(ts.questionType===enumLocalQuestionType.TestStepQuestion.toString())" class="col-xs-9 testScriptText"><b><u>{{ts.description}}</u></b><p v-html="ts.text">{{ts.text}}</p></div>
									<div v-else class="col-xs-9 testScriptText"><p v-html="ts.text">{{ ts.text }}</p></div>

									<!--validation questions answerType==='11' questionType ==='18'-->
									<div class="pull-right padding3">
										<div v-if="(ts.questionType===enumLocalQuestionType.Validation.toString())" :disabled="!editReview" class="btn-group-xs hideRadio">
											<label v-if="(ts.answer==='PASS')" :disabled="!editReview" class="btn btn-success active">
												<input type="radio" id="PASS" value="PASS" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />PASS
											</label>
											<label v-else :disabled="!editReview" class="btn btn-default">
												<input type="radio" id="PASS" value="PASS" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />PASS
											</label>

											<label v-if="(ts.answer==='FAIL')" :disabled="!editReview" class="btn btn-danger active">
												<input type="radio" id="FAIL" value="FAIL" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />FAIL
											</label>
											<label v-else :disabled="!editReview" class="btn btn-default">
												<input type="radio" id="FAIL" value="FAIL" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />FAIL
											</label>

											<label v-if="(ts.answer==='NA')" class="btn active" :disabled="!editReview" style="background-color:grey; color:white;">
												<input type="radio" id="NA" value="NA" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />NA
											</label>
											<label v-else :disabled="!editReview" class="btn btn-default">
												<input type="radio" id="NA" value="NA" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />NA
											</label>
											<!--Validation specific actions-->
											<div v-if="(ts.jiraKeyList!== null)">
												<img src="/img/jira.png" />
												<a class="text-center" target="_blank" v-bind:href="'https://tracker.gaminglabs.com:8443/browse/' + ts.jiraKeyList">{{ ts.jiraKeyList }}</a>
											</div>
										</div>

										<!--Conditional Question answerType==='10' questionType === '17'-->
										<div v-else-if="(ts.questionType===enumLocalQuestionType.Conditional.toString() || ts.questionType===enumLocalQuestionType.TestStepQuestion.toString())" :disabled="!editReview" class="btn-group-xs hideRadio">
											<label v-if="((ts.questionType===enumLocalQuestionType.Conditional.toString() || ts.questionType===enumLocalQuestionType.TestStepQuestion.toString()) && ts.answer==='YES')" :disabled="!editReview" class="btn btn-info active">
												<input type="radio" id="YES" value="YES" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />YES
											</label>
											<label v-else-if="(ts.questionType===enumLocalQuestionType.Conditional.toString())" :disabled="!editReview" class="btn btn-default">
												<input type="radio" id="YES" value="YES" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />YES
											</label>

											<label v-if="(ts.questionType===enumLocalQuestionType.Conditional.toString() && ts.answer==='NO')" :disabled="!editReview" class="btn btn-warning active" style="background-color:purple;">
												<input type="radio" id="NO" value="NO" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />NO
											</label>

											<label v-else-if="(ts.questionType===enumLocalQuestionType.Conditional.toString())" :disabled="!editReview" class="btn btn-default">
												<input type="radio" id="NO" value="NO" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />NO
											</label>

										</div>

										<!--GPS QuestionType-->
										<div v-else-if="(ts.questionType ===enumLocalQuestionType.GPS.toString())" :disabled="!editReview" class="btn-group-xs hideRadio">
											<label v-if="(ts.answer==='Uploaded')" :disabled="!editReview" class="btn btn-success active">
												<input type="radio" id="Uploaded" value="Uploaded" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />Uploaded
											</label>
											<label v-else :disabled="!editReview" class="btn btn-default">
												<input type="radio" id="Uploaded" value="Uploaded" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />Uploaded
											</label>

											<label v-if="(ts.answer==='NA')" :disabled="!editReview" class="btn btn-primary active">
												<input type="radio" id="NA" value="NA" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />NA
											</label>

											<label v-else :disabled="!editReview" class="btn btn-default">
												<input type="radio" id="NA" value="NA" v-model="ts.answer" v-on:change="changeAnswer(ts)" :disabled="!editReview" />NA
											</label>
										</div>
										<!--Dropdown validation needs work onto getting the select list operational with the selected item to answer and preselect the selected answer based on ts.answer-->
										<div v-else-if="(ts.questionType === enumLocalQuestionType.DropdownValidation.toString())" :disabled="!editReview" class="list-group-item">
											<select id="DropDownValidation" v-on:change="changeAnswer(ts)" :disabled="!editReview" v-model="ts.answer">
												<option v-for="(name) in defaultAnswersToArray(ts.defaultAnswers)"
														:value="name">
													{{name}}
												</option>
											</select>
										</div>
									</div>
								</div>

								<!--FreeForm ... empty text box bound to answer!-->
								<div v-if="(ts.questionType === enumLocalQuestionType.FreeForm.toString())" :disabled="!editReview" class="no-pull-right col-xs-12">
									<input class="free-form-input" v-bind:style="{'border' : (ts.answer !== '' && ts.answer !== null ) ? 'solid 2px green' : 'solid 2px red'}" type="text" v-on:change="changeAnswer(ts)" id="FreeForm" v-model.lazy="ts.answer" :disabled="!editReview" />
								</div>


								<div v-show="(ts.showNote)">
									<p>
										Note:<textarea class="note-display" v-model.lazy="ts.notes" v-on:blur="checkIfModifiedTestScript(ts)" :disabled="!editReview" />
									</p>
								</div>


								<!-- Copied answer imported answer from text -->
								<div v-if="(userSettings.showImportedInformation)">
									<div v-if="(ts.copiedFrom !== null && ts.sourceInstance !== ts.copiedFrom)" class="pull-right" style="padding-right:2px;">
										Original Instance: {{ts.sourceInstance}} Answered By: {{ts. sourceUser}} On: {{dateFormat(ts.sourceDate)}} Imported From: {{ts.copiedFrom}}
									</div>
									<div v-else-if="(ts.copiedFrom !== null)" class="pull-right" style="padding-right:2px;">
										Copied Answer from: {{ts. sourceUser}} On: {{dateFormat(ts.sourceDate)}} Imported From: {{ts.copiedFrom}}
									</div>
								</div>

								<!--tool / more info common to all types of questions-->
								<!-- Tab tool bar per validation -->
								<div v-if="(userSettings.showValidationToolBar)" class="bg-info question-toolbar">
									<ul class="nav nav-tabs">
										<!--v-bind:style="{ 'margin-left': (ts.level * 50) + 'px' }"-->
										<!-- Viewing Buttons -->
										<li :id="'test-step-tab'+ts.id">
											<a v-on:click="testStepFunc(ts)" :href="'#test-step'+ts.id" title="Test Step" data-toggle="tab"><i class="fas fa-lg fa-eye cursor-pointer" aria-hidden="true"></i></a>
										</li>
										<li :id="'clause-tab'+ts.id" v-if="(ts.questionType != enumLocalQuestionType.Conditional.toString() &&
										ts.questionType != enumLocalQuestionType.TestStepQuestion.toString())" class="bg-info">
											<a :href="'#clause'+ts.id" title="Clauses" data-toggle="tab" v-on:click="clauseFunc(ts)"><i class="fa fa-lg fa-balance-scale cursor-pointer" aria-hidden="true"></i></a>
										</li>
										<li :id="'answer-history-tab'+ts.id">
											<a :href="'#answer-history'+ts.id" title="Answer History" v-on:click="historyFunc(ts)" data-toggle="tab">
												<i class="fas fa-lg fa-history cursor-pointer" aria-hidden="true"></i>
											</a>
										</li>
										<li v-if="(ts.gpsDocUploadIdList != null)" :id="'gps-tab'+ts.id">
											<a :href="'#gps'+ts.id" data-toggle="tab" title="Linked GPS Items" v-on:click="gpsFunc(ts.gpsDocUploadIdList, ts)">
												<i v-if="(ts.gpsDocUploadIdList != null)" class="fas fa-lg fa-folder-open cursor-pointer text-success" aria-hidden="true"></i>
												<i v-else class="fa fa-lg fa-folder-open cursor-pointer" aria-hidden="true"></i>
											</a>
										</li>

										<li v-if="((ts.questionType === enumLocalQuestionType.Conditional.toString() || ts.questionType===enumLocalQuestionType.TestStepQuestion.toString()))">
											<a :href="'#' + ts.id" v-on:click="clickShowConditionalBranch(ts)" title="View Branches From Current Test Script"><i class="fa fa-lg fa-share-alt-square cursor-pointer" aria-hidden="true"></i></a>
										</li>
										<li><div class="vertical-line"></div></li>
										<!-- Action buttons those that user would respond with or does something besides just a view -->
										<li :id="'email-tab'+ts.id">
											<a v-on:click="clickSettingsCreateAnswerHistoryEmail(ts, null)" :href="'#' +ts.id" title="Send E-Mail" data-toggle="tab">
											<i class="fas fa-lg fa-envelope cursor-pointer" aria-hidden="true"></i></a>
										</li>

										<!--<li :id="'close-tab'+ts.id">
		<a :href="'#close'+ts.id" title="Close Current open tab" data-toggle="tab"><i class="fa fa-lg fa-close cursor-pointer" aria-hidden="true"></i></a>
	</li>-->

										<li :id="'notes-tab'+ts.id" v-show="editReview">
											<a :href="'#'+ts.id" title="Note Toggle" v-on:click="showNote(ts)">
												<i class="fas fa-lg fa-sticky-note cursor-pointer" aria-hidden="true"> </i>
											</a>
										</li>
										<li v-if="((ts.questionType === enumLocalQuestionType.Conditional.toString() ||
									 ts.questionType===enumLocalQuestionType.Validation.toString()) && editReview)">
											<a :href="'#' + ts.id" v-on:click="removeAnswer(ts)" title="Clear Answer"><i class="fas fa-lg fa-eraser cursor-pointer" aria-hidden="true"></i></a>
										</li>

									</ul>
								</div>
								<div class="row question-toolbar-tab-content-area">
									<!-- Content of tabs -->
									<div class="tab-content">
										<!--<div class="tab-pane" :id="'close'+ts.id">
									</div>-->

										<div class="tab-pane" :id="'gps'+ts.id">
											<h4>Linked GPS Items</h4>
											<p>
												<div v-bind:class="{ hidden: ts.gpsItemLink !== null }" class="text-center loading-spinner loading-spinner-mini">
													<i class="fa fa-spinner fa-pulse fa-2x"></i>
												</div>
												<table v-show="ts.gpsItemLink !== null" class="question-content-table">
													<tr>
														<th class="historyWidth">GPS File</th>
														<th class="historyWidth-15">Uploaded By</th>
														<th class="historyWidth">Upload Date</th>
													</tr>
													<tr v-for="gps in ts.gpsItemLink" :key="gps.id">
														<td><a id="GPSFilePath" target="_blank" v-bind:href="gps.path" @click="checkBrowser(gps.path)">{{ gps.name }}</a></td>
														<td>{{ gps.createdBy }}</td>
														<td>{{ dateFormat(gps.createdOn) }}</td>
													</tr>
												</table>
											</p>
										</div>

										<div class="tab-pane" :id="'clause'+ts.id">
											<h4>Relavent Clause Information</h4>
											<p>
												<div v-bind:class="{ hidden: ts.clauseInfo !== null }" class="text-center loading-spinner loading-spinner-mini">
													<i class="fa fa-spinner fa-pulse fa-2x"></i>
												</div>
												<table v-show="ts.clauseInfo !== null" class="question-content-table">
													<tr>
														<th>Section</th>
														<th>Section Name</th>

														<th>Text</th>
														<th>Jurisdictions</th>
														<th>Document Name</th>
														<th>Document Version</th>
														<th>Notes</th>
														<th>Normalized ID</th>
													</tr>
													<tr v-for="(cl, key) in ts.clauseInfo" :key="ts.id+key+'_'+cl.clauseNormalizedID+'_'+cl.documentName">
														<td>{{ cl.section}}</td>
														<td>{{ cl.sectionName}}</td>

														<td>{{ cl.memo}}</td>
														<td>{{ cl.jurisList}}</td>
														<td>{{ cl.documentName}}</td>
														<td>{{ cl.documentVersion}}</td>
														<td>{{ cl.notes}}</td>
														<td>{{ cl.clauseNormalizedID }}</td>
													</tr>
												</table>
											</p>
										</div>
										<div class="tab-pane" :id="'test-step'+ts.id">
											<h4>Test Step Information</h4>
											<p>
												<div v-bind:class="{ hidden: ts.testStepInfo !== null }" class="text-center loading-spinner loading-spinner-mini">
													<i class="fa fa-spinner fa-pulse fa-2x"></i>
												</div>
												<table v-show="ts.testStepInfo !== null" class="question-content-table">
													<tr>
														<th class="historyWidth">TestStep Id</th>
														<th class="historyWidth-40">Text</th>
													</tr>
													<tr v-for="test in ts.testStepInfo" :key="test.id + '_' + test.normalizedID">
														<td>{{ test.normalizedID }}</td>
														<td>{{ test.memo }}</td>
													</tr>
												</table>
											</p>
										</div>

										<div class="tab-pane" :id="'answer-history'+ts.id">
											<h4>Answer History</h4>
											<p>
												<div v-bind:class="{ hidden: ts.answerHistoryInfo !== null }" class="text-center loading-spinner loading-spinner-mini">
													<i class="fa fa-spinner fa-pulse fa-2x"></i>
												</div>
												<table v-show="ts.answerHistoryInfo !== null" class="question-content-table">
													<tr>
														<th class="historyWidth">Answers</th>
														<th class="historyWidth-15">Created By</th>
														<th class="historyWidth">Source User</th>
														<th class="historyWidth">Created On</th>
														<th class="historyWidth">Source Date</th>
														<th class="historyWidth-15">Source Instance</th>
													</tr>
													<tr v-for="ah in ts.answerHistoryInfo" :key="ah.id">
														<td>{{ ah.answer }}</td>
														<td v-if="(ah.createdByEmail === null)">{{ ah.createdBy }}</td>
														<td v-else>
															<a v-bind:id="'email-'+ts.id" href="javascript:void(0)"
															   target="_top" v-on:click="clickSettingsCreateAnswerHistoryEmail(ts, ah)" class="pl-10">{{ ah.createdBy}}</a>
														</td>
														<td>{{ ah.sourceUser }}</td>
														<td>{{ ah.createdOn | formatDate }}</td>
														<td>{{ ah.sourceDate | formatDate }}</td>
														<td>{{ ah.sourceInstance }}</td>
													</tr>
												</table>
											</p>
										</div>

									</div>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!--Location to set popups-->
		<ConditionalBranch :selectedTestScript="selectedAnswer"></ConditionalBranch>
		<Email ref="EmailAHReviewDetailsModal"
			   v-bind:clauses="this.clauses"
			   v-bind:answerHistorySelectedInfo="this.answerHistorySelectedInfo"
			   v-bind:testScriptSelectedInfo="this.testScriptSelectedInfo"></Email>
		<GPSLinkTable ref="GPSLinkModal"></GPSLinkTable>
	</div>
</template>

<script>

	import { createNamespacedHelpers } from 'vuex'
	import ConditionalBranch from './ConditionalBranch'

	import Email from './EmailReviewAnswerHistory.vue';
	import GPSLinkTable from './GPSLinkTable'
	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')
	export default {
		components: {
			ConditionalBranch,
			Email,
			GPSLinkTable
		},

		props: {
			editReview: Boolean,
			overrideHidden: true
		},

		data() {
			return {
				selectedAnswer: {},
				enumLocalQuestionType: {},
				clauses: [],
				answerHistorySelectedInfo: {},
				testScriptSelectedInfo: {},
				previousQuestionId: '',
				activeTestStepTab: false,
				activeClauseTab: false,
				activeHistoryTab: false,
				activeGPSTab: false,
			}
		},
		mounted() {
			this.enumLocalQuestionType = enumQuestionType;

		},
		computed: {
			...mapGetters([
				'instance',
				'filter',
				'review',
				'userSettings'
			])
		},
		methods: {
			checkBrowser: function (filePath) {
				var ua = window.navigator.userAgent;
				var msie = /MSIE|Trident/.test(ua);
				if (!msie) {
					alert('Chrome browser doesn\'t support local path resource for security. Use Internet Explorer if you wish to click on links. If want, copy this file path:' + filePath);
					return false;
				}
			},
			defaultAnswersToArray: function (defaultAnswers) {
				return defaultAnswers.split('||');
			},
			///<Summary> Sets local data for passing props to child component </Summary>
            clickSettingsCreateAnswerHistoryEmail: function (testScript, aHistory) {
                Loading();
                this.answerHistorySelectedInfo = aHistory;
				this.testScriptSelectedInfo = testScript;
                this.buildEmail(testScript, aHistory);
            },
			dateFormat: function (string) {
				var date = "";
				if (string != null) {
					date = string.split('T')[0];
				}
				return date;
			},
			closePreviousSelectedQuestionInfoTabs: function (questionId) {
				if (this.previousQuestionId != questionId) {
					$("#answer-history" + this.previousQuestionId).removeClass("active");
					$("#answer-history-tab" + this.previousQuestionId).removeClass("active");
					$("#test-step-tab" + this.previousQuestionId).removeClass("active");
					$("#test-step" + this.previousQuestionId).removeClass("active");
					$("#clause-tab" + this.previousQuestionId).removeClass("active");
					$("#clause" + this.previousQuestionId).removeClass("active");
					$("#gps" + this.previousQuestionId).removeClass("active");
					$("#gps-tab" + this.previousQuestionId).removeClass("active");
					this.previousQuestionId = questionId;
				}
			},
			historyFunc: function (selectedTestScript) {
				var questionId = selectedTestScript.id;
				this.activeTestStepTab = this.activeClauseTab = this.activeGPSTab = false;
				if (this.previousQuestionId !== questionId) {
					this.closePreviousSelectedQuestionInfoTabs(questionId);
					this.activeHistoryTab = true;
				}
				else if (questionId === this.previousQuestionId && this.activeHistoryTab) {
					this.activeHistoryTab = false;
					setTimeout(function () {
						$("#answer-history" + questionId).removeClass("active");
						$("#answer-history-tab" + questionId).removeClass("active");
					}, 100);
				} else if (this.previousQuestionId === questionId && !this.activeHistoryTab) {
					this.activeHistoryTab = true;
				}

				if (selectedTestScript.answerHistoryInfo === null || selectedTestScript.answerHistoryInfo.length === 0) {
					this.$http.post('Evolution/Review/LoadAnswerHistory', {
						componentGroupId: this.instance.selectedComponentGroupId,
						question: questionId
					})
						.then(response => {
							selectedTestScript.answerHistoryInfo = response.data;
							self.activeHistoryTab = true;
						})
				}
			},
			clickShowConditionalBranch: function (selectedTestScript) {
				this.selectedAnswer = selectedTestScript;
				this.setShowConditionalBranchPopup(true);
			},
			clauseFunc: function (selectedTestScript) {
				var questionId = selectedTestScript.id;
				this.activeTestStepTab = this.activeHistoryTab = this.activeGPSTab = false;
				if (this.previousQuestionId !== questionId) { //new test script question clicked, close previous selected test script tabs
					this.closePreviousSelectedQuestionInfoTabs(questionId);
					this.activeClauseTab = true;

				} else if (questionId === this.previousQuestionId && this.activeClauseTab) { //close tab if clicked again
					this.activeClauseTab = false;
					//This is to take care of the tab rendering process. This works stepping through, but the bootstrap tabs overwrites it.
					setTimeout(function () {
						$("#clause" + questionId).removeClass("active");
						$("#clause-tab" + questionId).removeClass("active");
					}, 100);
				} else if (this.previousQuestionId === questionId && !this.activeClauseTab) { //open tab if clicked again and not already opened.
					this.activeClauseTab = true;
				}

				//Load up clause info for test script question only if null and length is 0.
				if (selectedTestScript.clauseInfo === null || selectedTestScript.clauseInfo.length === 0) {
					var juriIds = this.getSelectedJurisdictionIdsForLoadedComponentGroup();
					this.$http.post('Evolution/Review/LoadClauseForJurisdictionsAndQuestion', {
						componentGroupId: this.instance.selectedComponentGroupId,
						jurisdictionId: juriIds,
						question: questionId
					})
						.then(response => {
							selectedTestScript.clauseInfo = response.data;
							this.activeClauseTab = true;
						})
				}
			},
			getSelectedJurisdictionIdsForLoadedComponentGroup: function () {
				var juriIds = this.filter.jurisdictionFilter.loadedSelectedFilterJurisdictionIds.join().toString();
				if (juriIds === "") {
					juriIds = this.filter.jurisdictionFilter.jurisdictionIdsFilter.join().toString();
				}
				return juriIds;
			},
			///Called before Converting the conditional tree from a null or switching yes and no.
			///Basically just subtracts from all the counts for the currentTestScript object's children.
			updateTotalsBeforeConditionalTree: function (currentTestScript) {

				var indexOfWhat = this.review.testCase.testCase.findIndex(tc => tc.name === currentTestScript.name);
				var currentChildrenCount = this.review.testScript.reviewViewModel.filter(tsObj => tsObj.source == currentTestScript.id
					&& tsObj.visible);

				this.review.testScript.counts.totalCount -= currentChildrenCount.length;
				this.review.testScript.counts.passCount -= currentChildrenCount.filter(pass => pass.answer === "PASS").length;
				this.review.testScript.counts.failCount -= currentChildrenCount.filter(fail => fail.answer === "FAIL").length;
				this.review.testScript.counts.naCount -= currentChildrenCount.filter(na => na.answer === "NA").length;
				this.review.testScript.counts.conditionalCount -= currentChildrenCount
					.filter(cond => cond.questionType === this.enumLocalQuestionType.Conditional.toString()
						&& cond.answer !== null).length;

				this.review.testCase.testCase[indexOfWhat].passCount -= currentChildrenCount.filter(pass => pass.answer === "PASS").length;
				this.review.testCase.testCase[indexOfWhat].failCount -= currentChildrenCount.filter(fail => fail.answer === "FAIL").length;
				this.review.testCase.testCase[indexOfWhat].naCount -= currentChildrenCount.filter(na => na.answer === "NA").length;
				this.review.testCase.testCase[indexOfWhat].doneCount -= currentChildrenCount.filter(done => done.answer !== null).length;
				this.review.testCase.testCase[indexOfWhat].doneTotalCount -= currentChildrenCount.length;
			},

			//Called after converting the conditional tree to then add to totals the updates.
			//Accounts if an answer is already present.
			updateTotalsAfterConditionalTree: function (currentTestScript) {

				var indexOfWhat = this.review.testCase.testCase.findIndex(tc => tc.name === currentTestScript.name);
				var statChildrenCount = this.review.testScript.reviewViewModel.filter(tsObj => tsObj.source == currentTestScript.id
					&& tsObj.visible);
				this.review.testScript.counts.totalCount += statChildrenCount.length;
				this.review.testScript.counts.passCount += statChildrenCount.filter(pass => pass.answer === "PASS").length;
				this.review.testScript.counts.failCount += statChildrenCount.filter(fail => fail.answer === "FAIL").length;
				this.review.testScript.counts.naCount += statChildrenCount.filter(na => na.answer === "NA").length;
				this.review.testScript.counts.conditionalCount += statChildrenCount
					.filter(cond => cond.questionType === this.enumLocalQuestionType.Conditional.toString()
						&& cond.answer !== null).length;

				this.review.testCase.testCase[indexOfWhat].passCount += statChildrenCount.filter(pass => pass.answer === "PASS").length;
				this.review.testCase.testCase[indexOfWhat].failCount += statChildrenCount.filter(fail => fail.answer === "FAIL").length;
				this.review.testCase.testCase[indexOfWhat].naCount += statChildrenCount.filter(na => na.answer === "NA").length;
				this.review.testCase.testCase[indexOfWhat].doneCount += statChildrenCount.filter(done => done.answer !== null).length;
				this.review.testCase.testCase[indexOfWhat].doneTotalCount += statChildrenCount.length;
			},
			changeAnswer: function (selectedTestScript) {
				if (selectedTestScript.questionType === this.enumLocalQuestionType.Conditional.toString()) {
					//Have those validations and conditionals that are part of this tree do some switching based on the parent.
					this.updateTotalsBeforeConditionalTree(selectedTestScript);
					this.convertChildrenConditionalSide(selectedTestScript);
					this.updateTotalsAfterConditionalTree(selectedTestScript);

				}
				this.checkIfModifiedTestScript(selectedTestScript);

				if (selectedTestScript.answer === 'FAIL' || selectedTestScript.answer === 'NA') {
					//pop up the notes box for this question
					selectedTestScript.showNote = true;
				}
				//Update the filter counts
				this.setUpdateFilterCounts(true);

			},
			checkIfModifiedTestScript(selectedTestScript) {

				var blankAndNull = false;
				if ((selectedTestScript.notes === '' || selectedTestScript.notes===null) && (selectedTestScript.originalNotes === null || selectedTestScript.originalNotes === "")) {
					blankAndNull = true;
				}
				if (selectedTestScript.answer === "FAIL" && selectedTestScript.originalAnswer !== "FAIL") {
					alert("At this time, please use Evolution Desktop Application to fail validations. Linking Jira is not supported yet in the online review.");
					var previousAns = "";
					if (selectedTestScript.hasOwnProperty("previousModifiedAnswer")) {
						//We have changed this answer before
						previousAns = selectedTestScript.previousModifiedAnswer;
					} else {
						previousAns = selectedTestScript.originalAnswer;
						//we haven't changed this answer before. so use the original answer in the test script
					}
					selectedTestScript.answer = previousAns;
				}
				else if (selectedTestScript.originalAnswer != selectedTestScript.answer ||
					(selectedTestScript.notes != selectedTestScript.originalNotes && !blankAndNull)) {
					selectedTestScript.modified = true;
					selectedTestScript.answeredTime = (new Date()).toUTCString();
					this.addModifiedTestCase(selectedTestScript);
				} else {
					selectedTestScript.modified = false;
					selectedTestScript.answeredTime = null;
					this.removeModifiedTestCase(selectedTestScript);
				}
				this.updateCounts(selectedTestScript);
				selectedTestScript.previousModifiedAnswer = selectedTestScript.answer;
			},
			updateCounts: function (selectedTestScript) {
				var previousAns = "";
				if (selectedTestScript.hasOwnProperty("previousModifiedAnswer")) {
					//We have changed this answer before
					previousAns = selectedTestScript.previousModifiedAnswer;
				} else {
					previousAns = selectedTestScript.originalAnswer;
					//we haven't changed this answer before. so use the original answer in the test script
				}

				var testCaseIndex = this.review.testCase.testCase.findIndex(tc => tc.name === selectedTestScript.name);
				//We have the index of the object we want to update the counts for.
				if (previousAns === "PASS") {
					this.review.testCase.testCase[testCaseIndex].passCount--;
					this.review.testScript.counts.passCount--;
				} else if (previousAns === "FAIL") {
					this.review.testCase.testCase[testCaseIndex].failCount--;
					this.review.testScript.counts.failCount--;
				} else if (previousAns === "NA") {
					this.review.testCase.testCase[testCaseIndex].naCount--;
					this.review.testScript.counts.naCount--;
				} else if (selectedTestScript.questionType == "17" && previousAns !== null && selectedTestScript.answer === null) {
					this.review.testScript.counts.conditionalCount--;
				}

				if (selectedTestScript.answer === null && previousAns !== null) {
					//cleared the answer
					this.review.testCase.testCase[testCaseIndex].doneCount--;
				}
				if (selectedTestScript.answer !== null && previousAns === null) {
					//answered an unanswered question
					this.review.testCase.testCase[testCaseIndex].doneCount++;
				}

				if (selectedTestScript.answer === "PASS") {
					this.review.testCase.testCase[testCaseIndex].passCount++;
					this.review.testScript.counts.passCount++;
				} else if (selectedTestScript.answer === "FAIL") {
					this.review.testCase.testCase[testCaseIndex].failCount++;
					this.review.testScript.counts.failCount++;
				} else if (selectedTestScript.answer === "NA") {
					this.review.testCase.testCase[testCaseIndex].naCount++;
					this.review.testScript.counts.naCount++;
				} else if (selectedTestScript.questionType == "17" && previousAns === null && selectedTestScript.answer !== null) {
					this.review.testScript.counts.conditionalCount++;
				}
			},
			gpsFunc: function (gpsDocUploadIdList, selectedTestScript) {
				var questionId = selectedTestScript.id;
				this.activeTestStepTab = this.activeClauseTab = this.activeHistoryTab = false;
				if (this.previousQuestionId !== questionId) {
					this.closePreviousSelectedQuestionInfoTabs(questionId);
					this.activeGPSTab = true;
				} else if (questionId === this.previousQuestionId && this.activeGPSTab) {
					this.activeGPSTab = false;
					setTimeout(function () {
						$("#gps" + questionId).removeClass("active");
						$("#gps-tab" + questionId).removeClass("active");
					}, 100);
				} else if (this.previousQuestionId === questionId && !this.activeGPSTab) {
					this.activeGPSTab = true;
				}
				if (selectedTestScript.gpsItemLink === null || selectedTestScript.gpsItemLink.length === 0) {
					this.$http.post('Evolution/Review/LoadGPSData',
						{
							GPSIds: gpsDocUploadIdList
						})
						.then(response => {
							selectedTestScript.gpsItemLink = response.data;
							self.activeGPSTab = true;
						})
						.catch(e => {
							console.log(e);
						});
				}
			},
			///<Summary>
			/// Toggles the children according to the answer and Visible properties of the parent
			/// Will call recursively down the tree for any conditionals will get the children and set the Visible
			/// according to what the parent is.
			///</Summary>
			///<input name='parent'> </input>
			///<input name='children'> </input>
			///<returns></returns>
			convertChildrenConditionalSide: function (parent) {
				var children = this.review.testScript.reviewViewModel.filter(tsObj => tsObj.source === parent.id);
				if (children === null || children.length === 0) {
					return;
				}

				for (var i = 0; i < children.length; i++) {
					if (parent.answer === null) { // Take care of children to not display till parent has an answer.
						children[i].visible = false;
					} else if (parent.answer === children[i].evaluation && parent.visible === true) {
						children[i].visible = true;
					} else {
						children[i].visible = false;
					}
					if (children[i].questionType === this.enumLocalQuestionType.Conditional.toString()) {

						this.updateTotalsBeforeConditionalTree(children[i]);
						this.convertChildrenConditionalSide(children[i]);
						this.updateTotalsAfterConditionalTree(children[i]);
					}
				}
			},
			testStepFunc: function (selectedTestScript) {
				var questionId = selectedTestScript.id
				this.activeClauseTab = this.activeHistoryTab = this.activeGPSTab = false;

				if (this.previousQuestionId !== questionId) {
					this.closePreviousSelectedQuestionInfoTabs(questionId);
					this.activeTestStepTab = true;
				} else if (questionId === this.previousQuestionId && this.activeTestStepTab) {
					this.activeTestStepTab = false;
					setTimeout(function () {
						$("#test-step" + questionId).removeClass("active");
						$("#test-step-tab" + questionId).removeClass("active");
					}, 100);
				} else if (this.previousQuestionId === questionId && !this.activeTestStepTab) {
					this.activeTestStepTab = true;
				}

				if (selectedTestScript.testStepInfo === null || selectedTestScript.testStepInfo.length === 0) {
					this.$http.post('Evolution/Review/LoadTestStep', {
						componentGroupId: this.instance.selectedComponentGroupId,
						question: questionId
					})
						.then(response => {
							selectedTestScript.testStepInfo = response.data;
							this.activeTestStepTab = true;
						})
				}
			},
			/*
			 * <Summary> Calls API  to get the clauses related to the selected testScript/question with the selected jurisdictions.
			 * If no jurisdictions are selected, it uses all of the connected jurisdictions to the instance.
			 * Upon a successful API call, will trigger a popup to send email. </Summary>
			 * <input name="testScript"> Selected question/conditional </input>
			 * <input name="aHistory"> Selected AnswerHistory information</input>
			 */
			buildEmail: function (testScript, aHistory) {
				var self = this;

				if (testScript.clauseInfo !== null && testScript.clauseInfo.length > 0) {
					self.clauses = testScript.clauseInfo;
					this.setShowAnswerHistoryEmailPopup(true);
				} else {
					//Instead of jquery, perhaps use the store and set a store property to grab from.
					//Should almost be like what if no juris are selected.
					var juriIds = this.getSelectedJurisdictionIdsForLoadedComponentGroup();
					this.$http.post('Evolution/Review/LoadClauseForJurisdictionsAndQuestion', {
						componentGroupId: this.instance.selectedComponentGroupId,
						jurisdictionId: juriIds,
						question: testScript.id
					}).then(response => {
						testScript.clauseInfo = response.data;
						self.clauses = response.data;
						this.setShowAnswerHistoryEmailPopup(true);
					})
				}
			},
			removeAnswer: function (selectedTestScript) {
				selectedTestScript.answer = null;
				selectedTestScript.notes = null;
				this.changeAnswer(selectedTestScript);
			},
			NewGPSLinkFunc: function () {
				this.setNewGPSLinkPopup(true);
			},
			showNote: function (ts) {
				if (ts.notes === null || ts.notes === "") {
					ts.showNote = !ts.showNote;
				}
			},
			...mapActions([
				'setNewGPSLinkPopup',
				'setShowAnswerHistoryEmailPopup',
				'setShowConditionalBranchPopup',
				'setUpdateFilterCounts',
				'addModifiedTestCase',
				'removeModifiedTestCase',
			])
		}
	}
</script>

<style scoped>
	.question-new-icon {
		left: 5px;
		vertical-align:central;
	}
	.no-pull-right {
		float: none !important;
	}

	.free-form-input {
		width: 95%;
		margin-left: 50px;
	}
	/*tab navigation for each test script*/
	.nav > li > a {
		padding: 1px 1px;
	}

	.hideRadio input[type="radio"] {
		visibility: hidden;
		width: 1px;
		height: 1px;
	}

	.testScriptContainer {
		border: 1px solid black;
	}

		.testScriptContainer .row {
			margin-left: 0px;
			margin-right: 2px;
		}

	.testScriptText {
		flex: 1;
		padding: 3px;
		font-size: 14px;
	}

	.padding3 {
		padding: 3px;
	}

	.normalized-id {
		padding: 3px;
		font-weight: bold;
		font-size: 14px;
		width: 65px;
	}

	.loading-spinner {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.loading-spinner-mini {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}

	.tab-content td, th {
		border: 1px solid black;
	}

	.tab-content {
		padding: 0px 15px;
	}

	td, th {
		white-space: normal; /* Only needed when it's set differntly somewhere else */
		word-wrap: break-word;
	}

	.question-content-table {
		background-color: floralwhite;
	}

		.question-content-table th {
			background-color: navajowhite;
			font-size: small;
			text-align: center;
		}

	.testScriptPanel {
		margin-right: 16px;
	}

	.questions-heading {
		padding-bottom: 10px;
	}

	.text-center {
		text-align: center
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.historyWidth {
		width: 10%;
	}

	.historyWidth-15 {
		width: 15%;
	}

	.historyWidth-40 {
		width: 40%;
	}

	.note-display {
		background-color: whitesmoke;
		margin: 0px 0px 0px 10px;
		width: 98%;
	}

	.question-toolbar {
		margin: 0px 2px 0px 0px;
	}

	.toolbar-spacer {
		width: 50px;
	}

	.vertical-line {
		border-left: 2px solid gray;
		height: 21px;
	}

	.question-toolbar-tab-content-area {
		background-color: whitesmoke;
	}
</style>
