﻿<template>
	<div v-bind:class="{ hidden: review.testScript.hideTestScriptCountPanel || review.testScript.hideQuestionsPanel }">
		<table class="table table-bordered">
			<tr>
				<th class="text-success col-sm-2">Pass: {{review.testScript.counts.passCount}}</th>
				<th class="text-danger col-sm-2">Fail: {{review.testScript.counts.failCount}}</th>
				<th class="col-sm-2">N/A: {{review.testScript.counts.naCount}}</th>
				<th class="col-sm-2">Conditionals: {{review.testScript.counts.conditionalCount}}</th>
				<th class="col-sm-2">Total: {{review.testScript.counts.totalCount}}</th>
				<th class="col-sm-2">Open Jiras: {{review.testScript.counts.openJiras}}</th>
			</tr>
		</table>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('evolution')
	export default {
		data() {
			return {
			}
		},
		computed: {
			...mapGetters([
				'review'
			])
		}
	}
</script>
<style scoped>
	.text-success {
		color: green !important;
		-webkit-print-color-adjust: exact;
	}

	.text-danger {
		color: red !important;
		-webkit-print-color-adjust: exact;
	}
</style>