﻿<template>
	<div>
		<page-header :title="'Other Components Used In Testing for '+ bundleName">

			<a @click="save" :class="['btn btn-primary btn-sm', { disabled: saveInProgress }]">Save</a>
			<a-link href="/tools" class="btn btn-sm btn-primary">Exit</a-link>
		</page-header>
		<table class="table table-striped table-bordered no-margin-bottom">
			<JuridictionsDisplay :columnCount="3" :jurisdictions="letterPreviewJurisdictions" />
		</table>
		<div class="panel-body">
			<div class="form-group form-group-sm">
				<div class="row">
					<label class="control-label col-sm-2">Platform</label>
					<div class="col-sm-5">
						<!--
												<LookupMultiple id="Platform" name="Platform" @updateLookupTextField="setPlatformsSelected" lookupajax="Platforms" :lookuptextfield="platformsSelected" v-model="platformIdsListed" :filter="{ManufactureShortId:manufacturerId}" />
						-->
						<LookupMultiple id="Platform" name="Platform" lookupajax="Platforms" v-model="ocuitPlatformIds" :filter="{ManufactureShortId:manufacturerId,ManufacturerGroupCategoryId:14}" :options="ocuitPlatformOptions" />

					</div>
				</div>
				<ComponentsForm :componentsType="componentsType" ref="ComponentsForm" :ocuitID="vm.compatibilityOCUIT.id" :ocuitOriginalId="vm.compatibilityOCUIT.originalId" :LoadedOCUIT="vm.compatibilityOCUIT" />
			</div>

		</div>
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	import PageHeader from '@/components/utility/PageHeader.vue';
	import ComponentsForm from '@/components/tools/ocuit/forms/ComponentsForm.vue'
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import JuridictionsDisplay from '@/components/tools/ocuit/forms/JuridictionsDisplay.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import { isNull, isNotNull } from '@/common';

	export default {
		components: {
			ALink,
			PageHeader,
			ComponentsForm,
			LookupMultiple,
			JuridictionsDisplay,
		},
		props: {
			componentsType: {
				////compatibility, continuity or jurisdiction chip
				type: String,
				required: false,
				default: "compatibility",
			}
		},
		data() {
			return {
				vm: {
					...initialData
				},
				saveInProgress: false,
				showComponentSearch: false,

				componentEntries: [],
				platfromsFilter: {},
				ocuitPlatformOptions: initialData.compatibilityOCUIT.platforms.length > 0 ? initialData.compatibilityOCUIT.platforms.map(p => { return { text: p.name, value: p.id.toString(), selected: true } }) : [],
				ocuitPlatformIds: initialData.compatibilityOCUIT.length > 0 ? initialData.compatibilityOCUIT.platforms.map(p => p.id.toString()) : [],

			};

		},

		computed: {

			...letterGetters([
				'bundleName',
				'bundleId',
				'compatibilityComponents',
				'platformIds',
				'platformsSelected',
				'manufacturerId',


			]),
			...mapGetters([
				'letterPreviewJurisdictions',
			]),

		},
		mounted: function () {

		},
		methods: {
			...letterActions([
				'setProjectInfo',
				'setPlatformIds',
				'setPlatformsSelected',
				'addPlatformPiecesTemplates'
			]),
			...mapActions([
				'setLetterJurisdictionOptions',
			]),
			updatedPlatform: function (value) {
				this.setPlatformsSelected(value);
			},

			save: function () {
				this.saveInProgress = true;
				//disabling vuelidation for now. Validating each component would probably be done quicker in the controller anyway
				//this.validate().then((validation) => {
				//	if (!validation) {
				//		this.saveInProgress = false;
				//		return;
				//	}
				//	this.$refs.ComponentsForm.save()
				//		.then(result => {
				//			location.reload();
				//		})
				//		.catch(exception => {

				//		});
				//});

				this.$refs.ComponentsForm.save()
					.then(result => {
						location.reload();
					})
					.catch(exception => {
						console.log(exception);
					});

			},
			validate: function () {
				let nestedValidate = this.$refs.ComponentsForm.validate();
				return nestedValidate;
			},
		},
		watch: {
			ocuitPlatformIds: function (newVal, oldVal) {
				let ret = newVal;
				if (isNotNull(ret) && ret.length > 0) {
					ret = ret.map(id => parseInt(id));
				}
				else {
					ret = [];
				}
				this.setPlatformIds(ret);
			}
		},
		created: function () {
			this.setProjectInfo(initialData.projectInfo);
			this.setLetterJurisdictionOptions(this.vm.jurisdictionList);
			this.addPlatformPiecesTemplates(initialData.platformPiecesTemplates);
		},

	}
</script>
<style scoped>
</style>