﻿<!-- Loading Sybmol Container-->
<div id="loadingSymbol" class="row">
	<div class="col-sm-12">
		<i class="fas fa-spinner fa-pulse fa-3x fa-fw"></i>
	</div>
	<div class="col-sm-12">
		<span id="loadingMessage"></span>
	</div>
</div>
