﻿@model Submissions.Web.Models.ColumnChooserTemplateViewModel

@{
	ViewBag.Title = "Columns Templates";
	var header = Model.ColumnTemplates.FirstOrDefault();
}

<style>
	#FormFiltersTable > tbody > tr:not(:first-child) {
		cursor: pointer;
	}

	#FormFiltersTable > tbody > tr > th:first-child {
		width: 100px;
	}
</style>

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<div class="pull-right">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
			<h3 class="modal-title">@ViewBag.Title</h3>
		</div>
		<div class="modal-body">
			<table id="FormFiltersTable" class="table table-striped table-hover table-condensed">
				<tr>
					<th style="width:10px"></th>
					<th>@Html.DisplayNameFor(m => @header.TemplateName)</th>
					<th></th>
				</tr>
				@if (Model.ColumnTemplates.Count == 0)
				{
					<tr><td colspan="3" class="norecords">No Records Found</td></tr>
				}
				@foreach (var item in Model.ColumnTemplates)
				{
					<tr data-templateid="@item.Id">
						<td style="width:10px">@if (item.Current == true)
							{
								<i class="fas fa-arrow-right text-info" title="Current Template" aria-hidden="true"></i>
							}
						</td>
						<td>@item.TemplateName</td>
						<td class="text-right"><a href="#" class="applyColumnTemplate">Apply</a> | <a href="#" class="deleteColumnTemplate">Delete</a> | <a href="#" class="editColumnTemplate">Edit</a></td>
					</tr>
				}
			</table>
		</div>
		<div class="modal-footer">
			<div class="pull-right">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function () {
		$('.applyColumnTemplate').on('click', function (e) {
			e.preventDefault();

			var modalDialog = $('#ColChooserTemplatesModal');
			var section = modalDialog.data('section');
			var returnUrl = modalDialog.data('returnurl');

			var id = $(this).closest('tr').data('templateid');
			var url = '@Url.Action("Apply", "ColumnTemplates", new { area = "" })';

			$.post(url, { Id: id, gridName: section });

			if (section == "@ColumnChooserGrid.GlimpseGrid") {
				returnUrl += "&filters=" + $('#filters').val()
			}
			
			window.location = returnUrl;
		});

		$('.editColumnTemplate').on('click', function (e) {
			e.preventDefault();

			var modalDialog = $('#ColChooserTemplatesModal');
			var section = modalDialog.data('section');
			modalDialog.modal('hide')

			var row = $(this).closest('tr');
			var id = row.data('templateid');

			var modalDialog = $('#ColumnChooserModal');
			var url = modalDialog.data('url') + "?colChooserId=" + id;
			
			$.get(url, function (data) {
				modalDialog.modal('show');
				modalDialog.html(data);
			});


		});

		$('.deleteColumnTemplate').on('click', function (e) {
			e.preventDefault();

			var row = $(this).closest('tr');
			var id = row.data('templateid');
			var url = '@Url.Action("Delete", "ColumnTemplates", new { area = "" })';

			bootbox.confirm('Are you sure you want to Delete this columns template?', function (result) {
				if (result) {
					row.remove();
					$.post(url, { Id: id });

				}
			});
		});
	});
</script>
