﻿@model Submissions.Web.Models.ColumnChooserViewModel

@{
	ViewBag.Title = "Column Chooser";
}

@Html.HiddenFor(m => m.ColChooserMode)
@Html.HiddenFor(m => m.ColChooserId)
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<div class="pull-right">
				@if (Model.ColChooserMode == ColumnChooserMode.Add)
				{
				
					@Html.TextBoxFor(m => m.ColChooserName, new { @class = "form-control", @placeholder="Enter Name", @style="Width:200px" })
				  
				}
				<button type="button" class="btn btn-primary colchoosersavebtn">Save</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
			</div>
			<h4 class="modal-title">@ViewBag.Title - @Model.SubTitle
			@if (Model.ColChooserMode == ColumnChooserMode.Edit)
			{
				@:<small class="text-info">(@Model.ColChooserName)</small>
			}
			else if (Model.ColChooserMode == ColumnChooserMode.Add)
			{
				@:<small class="text-info">(New)</small>
			}
			</h4>
		</div>

		<div class="modal-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Columns</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-4">Available Columns</div>
								<div class="col-sm-8">Visible Columns</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<ul id="sortable1" class="connectedSortable" style="min-height: 500px;">
										<li class="empty ui-state-highlight ui-state-disabled">No Columns Available</li>
									</ul>
								</div>
								<div class="col-sm-8">
									<ul id="sortable2" class="connectedSortable" style="min-height: 500px;">
										<li class="empty ui-state-highlight ui-state-disabled">Drag Columns Here</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<div style="font-size:0;">
				<button type="button" class="btn btn-primary colchoosersavebtn">Save</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<script>
	var availableColumns = @Html.Raw(Json.Encode(Model.AvailableColumns));
	var selectedColumns = @Html.Raw(Json.Encode(Model.SelectedColumns));

	$(function () {
		loadColumns();

		$('.colchoosersavebtn').on('click', function() {
			var column2Array = $('#sortable2').sortable('toArray');
			if (Em(column2Array)) {
				bootbox.alert('Please select at least one column to display.');
				return false;
			}
			
			if ($('#ColChooserMode').val() == "@ColumnChooserMode.Add.ToString()")
			{
			    if (Em($('#ColChooserName').val()))
				{
				    bootbox.alert('Please enter name.');
				    return false;
				}
			}

			var url = $('#ColumnChooserModal').data('url');
			var savedColumns = $('#sortable2').sortable('toArray');
			$('#SavedColumns').val(JSON.stringify(savedColumns));
			$('#colChooserId').val($('#ColChooserId').val() );
			$('#colChooserMode').val($('#ColChooserMode').val());
			$('#colChooserName').val($('#ColChooserName').val());
			$('#GridForm').attr('action', url);
			$('#GridForm').submit();
		});

		var place1 = $('<li class="empty ui-state-highlight ui-state-disabled">No more columns available.</li>');
		var place2 = $('<li class="empty ui-state-highlight ui-state-disabled">Drag columns here.</li>');
		$("#sortable1, #sortable2").sortable({
			connectWith: '.connectedSortable',
			placeholder: 'ui-state-highlight',
			cancel: '.ui-state-disabled',
			tolerance: "pointer",
			remove: function (event, ui) {
				if (!$('li', this).length) {
					if (this.id == 'sortable1')
						$(this).append(place1);
					else
						$(this).append(place2);
				}
			},
			start: function(event, ui) {
				$(this).sortable({
					sort: function(event, ui) {
						var $target = $(event.target);
						if (!/html|body/i.test($target.offsetParent()[0].tagName)) {
							var top = event.pageY - $target.offsetParent().offset().top - (ui.helper.outerHeight(true) / 2);
							ui.helper.css({'top' : top + 'px'});
						}
					}
				});

			}
		}).disableSelection();
	});

	function loadColumns() {
		var availableColList = '';
		var selectedColList = '';

		$.each(availableColumns, function (key, value) {
			availableColList += '<li class="ui-state-default" id="' + value.DatabaseName + '">' + value.DisplayName + '</li>';
		});

		$.each(selectedColumns, function (key, value) {
			selectedColList += '<li class="ui-state-default" id="' + value.DatabaseName + '">' + value.DisplayName + '</li>';
		});

		$('#sortable1, #sortable2').empty();
		$('#sortable1').append(availableColList);
		$('#sortable2').append(selectedColList);
	}
</script>

