﻿@model Submissions.Web.Models.FormFiltersViewModel

@{
	ViewBag.Title = "Filters";
	var header = Model.FormFilters.FirstOrDefault();
}

<style>
	#FormFiltersTable > tbody > tr:not(:first-child) {
		cursor: pointer;
	}

	#FormFiltersTable > tbody > tr > th:first-child {
		width: 100px;
	}
</style>

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<div class="pull-right">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
			<h3 class="modal-title">@ViewBag.Title</h3>
		</div>
		<div class="modal-body">
			<table id="FormFiltersTable" class="table table-striped table-hover table-condensed">
				<tr>
					<th>@Html.DisplayNameFor(m => @header.AddDate)</th>
					<th>@Html.DisplayNameFor(m => @header.FilterName)</th>
					<th></th>
				</tr>
				@if (Model.FormFilters.Count == 0)
				{
					<tr><td colspan="3" class="norecords">No Records Found</td></tr>
				}
				@foreach (var item in Model.FormFilters)
				{
					<tr data-filterid="@item.Id">
						<td>@item.AddDate.ToShortDateString()</td>
						<td>@item.FilterName</td>
						<td class="text-right"><a href="#" class="applyFormFilter">Apply</a> | <a href="#" class="deleteFormFilter">Delete</a></td>
					</tr>
				}
			</table>
		</div>
		<div class="modal-footer">
			<div class="pull-right">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function () {
		$('.applyFormFilter').on('click', function (e) {
			e.preventDefault();

			var modalDialog = $('#FormFiltersModal');
			var section = modalDialog.data('section');
			var returnUrl = modalDialog.data('returnurl');

			var id = $(this).closest('tr').data('filterid');
			var url = '@Url.Action("Apply", "FormFilters", new { area = "" })';

			$.post(url, { Id: id, Section: section });

			window.location = returnUrl;
		});

		$('.deleteFormFilter').on('click', function (e) {
			e.preventDefault();

			var row = $(this).closest('tr');
			var id = row.data('filterid');
			var url = '@Url.Action("Delete", "FormFilters", new { area = "" })';

			bootbox.confirm('Are you sure you want to Delete this filter?', function (result) {
				if (result) {
					row.remove();
					$.post(url, { Id: id });

					if ($('#FormFiltersId').val() == id)
					{
						$('#CurrentFormFilter, #SaveFormFilter').addClass('hidden');
					}
				}
			});
		});
	});
</script>
