﻿@model Submissions.Web.Models.LayoutNavBarViewModel

<nav id="MainNavBar" class="navbar navbar-inverse navbar-fixed-top @Model.NavBarClass">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="@Url.Action("index", "home", new { area = "" })" class="navbar-brand">@Model.NavBarTitle</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Submissions <b class="caret"></b></a>
					<ul class="dropdown-menu">
						@if (Util.HasAccess(Permission.Submission, AccessRight.Add))
						{
							<li><a href="@Url.Action("Edit", "submission", new { area = "submission", mode = Mode.Add })"><i class="fas fa-plus fa-fw"></i> Add Submission</a></li>
							<li><a href="@Url.Action("Import", "submission")">Flat File Upload</a></li>
							<li class="divider"></li>
						}
						<li>@Html.ActionLink("Point.Click.Submit", "index", "submit", new { area = "pointclick" }, null)</li>
						<li>@Html.ActionLink("Point.Click.Transfer", "index", "transfer", new { area = "pointclick" }, null)</li>
						<li>@Html.ActionLink("Point.Click.Withdraw", "index", "withdraw", new { area = "pointclick" }, null)</li>
						<li class="divider"></li>
						<li>@Html.ActionLink("Software Check", "index", "softwarecheck", new { area = "submission" }, null)</li>
						<li class="divider"></li>
						<li><a href="@(Model.SubmissionsUrl)changeofstatus/viewcosqueue.aspx" target="_blank">Database Change Requests</a></li>
						<li><a href="@(Model.SubmissionsUrl)changeofstatus/changeofstatusform.aspx" target="_blank">New Database Change Request</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Protrack <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header"></li>
						@if (Util.HasAccess(Permission.CPAdminQueue, AccessRight.Read) || Util.HasAccess(Permission.CPAdminQueue, AccessRight.Edit))
						{
							<li>@Html.ActionLink("CP Admin Queue", "index", "adminreviewqueue", new { area = "compliance" }, null)</li>
						}
						<li>@Html.ActionLink("Dashboard", "index", "dashboard", new { area = "" }, null)</li>
						@if (Util.HasAccess(Role.ENS, Role.MAS, Role.MG, Role.CPS, Role.DRS))
						{
							<li>@Html.ActionLink("Engineering Protrack", "index", "project", new { area = "protrack", protrackType = @ProtrackType.ENG.ToString(), gridType = @ProtrackGridType.Protrack.ToString() }, null)</li>
						}
						else
						{
							<li>@Html.ActionLink("Engineering Protrack", "index", "mytasks", new { area = "protrack", protrackType = @ProtrackType.ENG.ToString() }, null)</li>
						}
						@if (Util.HasAccess(Permission.MathQueue, AccessRight.Read))
						{
							<li>@Html.ActionLink("Math Queue", "index", "mathqueue", new { area = "protrack" }, null)</li>
						}
						<li>@Html.ActionLink("Project Review", "overview", "projectreview", new { area = "protrack" }, null)</li>
						@if (Util.HasAccess(Permission.UKQueue, AccessRight.Read))
						{
							<li>@Html.ActionLink("Work Requests", "index", "subprojects", new { area = "protrack" }, null)</li>
						}
						@if (((Util.HasAccess(Role.QAR, Role.QAS, Role.QLW, Role.MG, Role.SA) || Util.HasAccess(Permission.ActAsQLW, AccessRight.Read) || Util.HasAccess(Permission.ActAsQAR, AccessRight.Read))))
						{
							<li>@Html.ActionLink("QA Protrack", "index", "project", new { area = "protrack", protrackType = @ProtrackType.QA.ToString(), gridType = @ProtrackGridType.Protrack.ToString() }, null)</li>
						}
						<li>@Html.ActionLink("Workload Manager", "workloadbalancer", "workloadmanager", new { area = "protrack" }, null)</li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Evolution <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>@Html.ActionLink("Clause Report", "index", "clausereport", new { area = "evolution" }, null)</li>
						<li>@Html.ActionLink("Comparison", "index", "comparison", new { area = "evolution" }, null)</li>
						<li>@Html.ActionLink("QA Notes", "index", "qanotes", new { area = "evolution" }, null)</li>
						<li>@Html.ActionLink("Regulation Search", "index", "regulation", new { area = "evolution" }, null)</li>
						<li>@Html.ActionLink("Test Script History Search", "index", "testscripthistory", new { area = "evolution" }, null)</li>
						<li>@Html.ActionLink("Test Script Version History", "approverejectoptions", "testscripthistory", new { area = "evolution" }, null)</li>
						<li>@Html.ActionLink("Validation GAP Analysis", "index", "validationanalysis", new { area = "evolution" }, null)</li>
					</ul>
				</li>
				<li><a href="@Url.Action("index", "tools", new { area = "" })"><i class="fas fa-wrench fa-fw"></i> Tools</a></li>
				<li><a href="@Url.Action("index", "advancedsearch", new { area = "search" })"><i class="fas fa-search fa-fw"></i>&nbsp;Search</a></li>
			</ul>
			@using (Html.BeginForm("singleinputsearch", "projects", new { area = "reports" }, FormMethod.Post, new { id = "SingleInputSearchForm", target = "_blank", autocomplete = "off" }))
			{
				<div class="navbar-form navbar-left singleinputsearch-container">
					<div class="fainput">
						<div class="singleinputsearch-dropdown">
							<button id="SingleInputSearchBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" value="@Model.DefaultSearchType">@Model.DefaultSearchType <span class="caret"></span></button>
							<ul class="dropdown-menu singleinputsearch-dropdown-menu">
								<li><a href="#" data-searchtype="Projects">Projects</a></li>
								<li><a href="#" data-searchtype="Submissions">Submissions</a></li>
							</ul>
						</div>
						<i class="fas fa-search fa-fw @Model.DefaultSearchMagGlassClass"></i>
						<input type="text" id="SingleInputSearch" name="SingleInputSearch" class="form-control singleinputsearch-input @Model.DefaultSearchInputClass" autocomplete="off">
						<input type="hidden" id="showList" name="showList" value="false" />
						<input type="submit" class="singleinputsearch-submit" />
					</div>
				</div>
			}
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userNameLink"><i class="fas fa-user fa-fw"></i>&nbsp;@{Html.RenderAction("UserInfo", "Layout", new { area = "" });} <i class="fas fa-envelope fa-fw"></i> <span id="messageCountBar">0</span> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						@if (Util.HasAccess(Permission.Admin, AccessRight.Edit) || Util.HasAccess(Permission.AdminManager, AccessRight.Edit))
						{
							<li><a href="@Url.Action("index", "admin", new { area = "" })"><i class="fas fa-bars fa-fw"></i> Admin</a></li>
						}
						<li><a href="@Url.Action("index", "monitor", new { area = "notifications" })"><i class="fas fa-envelope fa-fw"></i> <span id="messageCountMenu">0</span> Notifications</a></li>
						<li><a href="@Url.Action("index", "settings", new { area = "user" })"><i class="fas fa-cog fa-fw"></i> Settings</a></li>
						@*<li><a href="@Url.Action("index", "about", new { area = "help" })"><i class="fas fa-info-circle" style="color:black"></i> About</a></li>*@
					</ul>
				</li>
				@if (GLISession.User.Impersonating)
				{
					<li class="divider"></li>
					<li><a href="@Url.Action("logoff", "impersonate", new { area = "" })"><i class="fas fa-sign-out-alt fa-fw"></i> Log Off</a></li>
				}
			<li>@Html.ActionLink("Reports", "index", "menu", new { area = "reports" }, null)</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">GLI Links <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="@Model.JiraUrl" target="_blank">Jira</a></li>
					<li><a href="@Model.SharepointUrl" target="_blank">Sharepoint</a></li>
					<li><a href="https://reports.gaminglabs.net/Reports/browse" target="_blank">SQL Reporting System</a></li>
				</ul>
			</li>
			</ul>
		</div>
	</div>
</nav>