﻿@using Submissions.Web.Helpers;
<div id="footer" class="hidden-print">
	<div class="container-fluid">
		<div class="pull-left send-back">
			<img id="GLIGlobeImg" src="@Url.Content("~/Img/GLIGlobe.gif")" style="cursor:pointer;" />
		</div>
		<div class="pull-right copyright">&copy; @DateTime.Now.Year Gaming Laboratories International</div>
	</div>
	<div>
		<div class="text-center">
			@*@Html.ActionLink("Current Build:" + @ApplicationInformation.ExecutingAssemblyVersion.ToString() + " - " + @ApplicationInformation.CompileDate.ToString(), "index", "about", new { area = "Help" }, null)*@
		</div>
	</div>
</div>
