﻿@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="data:,">
	<title>@ViewBag.Title - GLI</title>
	@Styles.Render("~/bundles/css/css")
	@RenderSection("css", required: false)
	@Styles.Render("~/bundles/css/glioverrides")
	@Scripts.Render("~/bundles/script/jquery")
	<script>var jsPath = '@Url.Content("~").ToLower()';</script>
</head>
<body>
	@{
		if (ViewBag.NoNavBar != true)
		{
			Html.RenderAction("NavBar", "Layout", new { area = "" });
		}

		if (ViewBag.NoContainer == true)
		{
			@RenderBody()
		}
		else if (ViewBag.FullWidth != true)
		{
			if (ViewBag.NoBottomMargin == true)
			{
				<div class="container body-content no-margin-bottom">@RenderBody()</div>
			}
			else
			{
				<div class="container body-content">@RenderBody()</div>
			}
		}
		else
		{

			if (ViewBag.NoBottomMargin == true)
			{
				<div class="container-fluid no-margin-bottom">@RenderBody()</div>
			}
			else
			{
				<div class="container-fluid">@RenderBody()</div>
			}
		}

		if (ViewBag.NoFooter != true)
		{
			Html.RenderPartial("_LayoutFooter");
		}
	}
	<a href="#" id="BackToTop"><i class="far fa-caret-square-up"></i></a>
	@Scripts.Render("~/bundles/script/thirdparty")
	@RenderSection("scripts", required: false)
	@MiniProfiler.Current.RenderIncludes()
</body>
</html>
