﻿<template>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Incoming Review Settings</h3>
				</div>
				<div class="panel-body">
					<div>
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								<div class="col-sm-12">
									<div class="col-sm-2 checkbox">
										<label>
											<input data-val="true" v-model="visible"
													@change="$emit('update:isVisible', visible);"
													name="isVisible" type="checkbox" />
											Visibility
										</label>
									</div>
									<div class="col-sm-2 checkbox">
										<label>
											<input data-val="true" v-model="required"
													@change="$emit('update:isRequired', required);"
													name="isRequired" type="checkbox" />
											Required
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['isVisible', 'isRequired'],
		data: function () {
			return {
				visible: this.isVisible,
				required: this.isRequired
			}
		}
	}
</script>