﻿<template>
	<div class="row">
		<input type="hidden" id="Platforms" name="Platforms" :value="JSON.stringify(rows)" />
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Platforms</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<vue-good-table :columns="columns"
											:rows="rows"
											:pagination-options="{ enabled: false }"
											:search-options="{ enabled: false }"
											styleClass="vgt-table striped condensed">
								<template slot="table-row" slot-scope="props">
									<div v-if="props.column.field == 'actions'" class="text-right">
										<a class="btn btn-link" v-if="!props.row.platformId" @click="destroyPlatform(props.row)">
											<i class="fas fa-times text-danger"></i>Remove

										</a>
										<a class="btn btn-link" v-if="props.row.platformId && manufacturerGroupCategory === 'protocolplatforms' && !props.row._destroy" @click="destroyPlatform(props.row)">
											<i class="fas fa-times text-danger"></i>Remove

										</a>
										<a class="btn btn-link" v-if="props.row.platformId && manufacturerGroupCategory === 'protocolplatforms' && props.row._destroy" @click="recoverPlatform(props.row)">
											<i class="fa fa-undo"></i>Undo

										</a>
									</div>
									<div v-else-if="props.column.field == 'platformName.text'">
										<input type="text" v-model="props.row.platformName.text"
											   @input="updatePlatformName(props.row.originalIndex, props.row)"
											  :class="['form-control', props.row._destroy ? 'destroyed-platform' : '']"/>
										<p class="field-validation-error"
										   v-if="!$v.vm.platforms.$each[props.row.originalIndex].platformName.text.required
											        && $v.vm.platforms.$each[props.row.originalIndex].platformName.text.$error">
											A name must be entered
										</p>
									</div>
									<div v-else>
										{{props.formattedRow[props.column.field]}}
									</div>
								</template>
							</vue-good-table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<a id="addPlatformButton" class="btn btn-primary" @click="addPlatform()"><i class="fas fa-plus"></i> Add Platform</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css'

	export default {
		components: {
			VueGoodTable,
		},
		inject: ['$v'],
		props: ['platforms', 'manufacturerGroupCategory'],
		data: function () {
			const columns = [
				{
					label: 'Platform Name',
					field: 'platformName.text',
				},
				{
					field: 'actions',
					sortable: false,
					width: '100px'
				}
			];
			return {
				columns,
				newPlatforms: this.platforms
			}
		},
		computed: {
			rows: function () {
				return this.newPlatforms;
			}
		},
		created: function () {
			console.log(9);
		},
		methods: {
			addPlatform: function () {
				this.newPlatforms.push({
					platformName: {
						text: ""
					}
				});
			},
			destroyPlatform: function (newRow) {
				// Only should be available to added productLines that haven't been saved yet
				if (!newRow.platformId) {
					let index = this.newPlatforms.findIndex(p => p.platformName.text === newRow.platformName.text && !p.platformId);
					this.newPlatforms.splice(index, 1);
				}
				else {
					let index = this.newPlatforms.findIndex(p => p.platformId === newRow.platformId);
					this.newPlatforms[index]._destroy = true;
				}
			},
			recoverPlatform: function (newRow) {
				const index = this.newPlatforms.findIndex(p => p.platformId === newRow.platformId);
				this.newPlatforms[index]._destroy = false;
			},
			updatePlatformName: function (index, newRow) {
				//this.newPlatforms[index].platformName = newRow.platformName;
				this.rows[index].platformName = newRow.platformName;
			}
		}
	}
</script>

<style scoped>
	.btn-primary .fas {
		color: #fff;
	}

	.btn-link .fas {
		margin-right: 0.5em;
	}

	.destroyed-platform {
		border-color: red;
	}

	#addPlatformButton {
		margin-top: 1em;
	}
</style>