﻿<template>
	<div class="row">
		<input type="hidden" id="ProductLines" name="ProductLines" :value="JSON.stringify(rows)" />
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Product Lines</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<vue-good-table :columns="columns"
											:rows="rows"
											:pagination-options="{ enabled: false }"
											:search-options="{ enabled: false }"
											styleClass="vgt-table striped condensed">
								<template slot="table-row" slot-scope="props">
									<div v-if="props.column.field == 'productLineName.text'">
										<input type="text" v-model="props.row.productLineName.text"
											   @input="updateProductLineName(props.row.originalIndex, props.row)"
											   class="form-control" />
										<p class="field-validation-error"
										   v-if="!$v.vm.productLines.$each[props.row.originalIndex].productLineName.text.required
											        && $v.vm.productLines.$each[props.row.originalIndex].productLineName.text.$error">
											A name must be entered
										</p>
									</div>
									<div v-else-if="props.column.field == 'testingTypeId'">
										<Lookup name="TestingTypeId"
												v-model="props.row.testingTypeId"
												lookupajax="TestingTypes"
												:lookuptextfield="props.row.testingTypeName.text"
												@updateLookupTextField="(nv, id) => updateTestingType(nv, id, props.row)"
												class="form-control">
										</Lookup>
										<p class="field-validation-error"
										   v-if="!$v.vm.productLines.$each[props.row.originalIndex].testingTypeName.text.required
											        && $v.vm.productLines.$each[props.row.originalIndex].testingTypeName.text.$error">
											A testing type must be selected
										</p>
									</div>
									<div v-else-if="props.column.field == 'actions'" class="text-right">
										<a class="btn btn-link" v-if="!props.row.productLineId" @click="destroyProductLine(props.row)">
											<i class="fas fa-times text-danger"></i>Remove
										</a>
									</div>
									<div v-else>
										{{props.formattedRow[props.column.field]}}
									</div>
								</template>
							</vue-good-table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<a id="addProductLinesButton" class="btn btn-primary" @click="addProductLine()"><i class="fas fa-plus"></i> Add Product Line</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import Lookup from '@/components/utility/Lookup.vue';
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css'

	export default {
		components: {
			VueGoodTable,
			Lookup
		},
		inject: ['$v'],
		props: ['productLines'],
		data: function () {
			const columns = [
				{
					label: 'Product Line Name',
					field: 'productLineName.text',
				},
				{
					label: 'Testing Type',
					field: 'testingTypeId',
				},
				{
					field: 'actions',
					sortable: false,
					width: '100px'
				}
			];
			return {
				columns,
				newProductLines: this.productLines
			}
		},
		computed: {
			rows: function () {
				return this.newProductLines.filter(p => !p._destroy);
			}
		},
		methods: {
			addProductLine: function () {				
				this.newProductLines.push({
					productLineName: {
						text: ""
					},
					testingTypeId: null,
					testingTypeName: {
						text: null
					}
				});
			},
			destroyProductLine: function (newRow) {
				// Only should be available to added productLines that haven't been saved yet
				if (!newRow.productLineId) {
					this.newProductLines.splice(newRow.originalIndex, 1);
				}
				else {
					const index = this.newProductLines.findIndex(p => p.productLineId === newRow.productLineId);
					this.newProductLines[index]._destroy = true;
				}
			},
			updateProductLineName: function (index, newRow) {
				this.newProductLines[index].productLineName = newRow.productLineName;				
			},
			updateTestingType: function (newValue, selectedId, row) {
				const item = this.newProductLines[row.originalIndex];
				item.testingTypeId = selectedId;
				item.testingTypeName.text = newValue;
			}
		}
	}
</script>

<style scoped>
	.btn-primary .fas {
		color: #fff;
	}
	.btn-link .fas {
		margin-right: 0.5em;
	}
	#addProductLinesButton {
		margin-top: 1em;
	}
</style>