﻿<template>
	<div class="row">
		<input type="hidden" id="Studios" name="Studios" :value="JSON.stringify(rows)" />
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Studios</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<vue-good-table :columns="columns"
											:rows="rows"
											:pagination-options="{ enabled: false }"
											:search-options="{ enabled: false }"
											styleClass="vgt-table striped condensed">
								<template slot="table-row" slot-scope="props">
									<div v-if="props.column.field == 'studioName.text'">
										<input type="text" v-model="props.row.studioName.text"
											   @input="updateStudioName(props.row.originalIndex, props.row)"
											   class="form-control" />
										<p class="field-validation-error"
											  v-if="!$v.vm.studios.$each[props.row.originalIndex].studioName.text.required
											        && $v.vm.studios.$each[props.row.originalIndex].studioName.text.$error">
											A name must be entered
										</p>
									</div>
									<div v-else-if="props.column.field == 'testingTypeId'">
										<Lookup name="TestingTypeId"
												v-model="props.row.testingTypeId"
												lookupajax="TestingTypes"
												:lookuptextfield="props.row.testingTypeName.text"
												@updateLookupTextField="(nv, id) => updateTestingType(nv, id, props.row)"
												class="form-control">
										</Lookup>
										<p class="field-validation-error" 
											  v-if="!$v.vm.studios.$each[props.row.originalIndex].testingTypeName.text.required 
											        && $v.vm.studios.$each[props.row.originalIndex].testingTypeName.text.$error">
											A testing type must be selected
										</p>
									</div>
									<div v-else-if="props.column.field == 'actions'" class="text-right">
										<a class="btn btn-link" v-if="!props.row.studioId" @click="destroyStudio(props.row)">
											<i class="fas fa-times text-danger"></i>Remove
										</a>
									</div>
									<div v-else>
										{{props.formattedRow[props.column.field]}}
									</div>
								</template>
							</vue-good-table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<a id="addStudioButton" class="btn btn-primary" @click="addStudio()"><i class="fas fa-plus"></i> Add Studio</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import Lookup from '@/components/utility/Lookup.vue';
	import { VueGoodTable } from 'vue-good-table';
	import 'vue-good-table/dist/vue-good-table.min.css'

	export default {
		components: {
			VueGoodTable,
			Lookup
		},
		inject: ['$v'],
		props: ['studios'],
		data: function () {
			const columns = [
				{
					label: 'Studio Name',
					field: 'studioName.text',
				},
				{
					label: 'Testing Type',
					field: 'testingTypeId',
				},
				{
					field: 'actions',
					sortable: false,
					width: '100px'
				}
			];
			return {
				columns,
				newStudios: this.studios
			}
		},
		computed: {
			rows: function () {
				// Existing records can't be deleted now, but this should support it
				return this.newStudios.filter(p => !p._destroy);
			}
		},
		methods: {
			addStudio: function () {				
				this.newStudios.push({
					studioName: {
						text: ""
					},
					testingTypeId: null,
					testingTypeName: {
						text: null
					}
				});
			},
			destroyStudio: function (newRow) {
				// Only should be available to added studios that haven't been saved yet
				if (!newRow.studioId) {
					this.newStudios.splice(newRow.originalIndex, 1);
				}
				else {
					const index = this.newStudios.findIndex(p => p.studioId === newRow.studioId);
					this.newStudios[index]._destroy = true;
				}
			},
			updateStudioName: function (index, newRow) {
				this.newStudios[index].studioName = newRow.studioName;				
			},
			updateTestingType: function (newValue, selectedId, row) {
				const item = this.newStudios[row.originalIndex];
				item.testingTypeId = selectedId;
				item.testingTypeName.text = newValue;
			}
		}
	}
</script>

<style scoped>
	.btn-primary .fas {
		color: #fff;
	}
	.btn-link .fas {
		margin-right: 0.5em;
	}
	#addStudioButton {
		margin-top: 1em;
	}
</style>