﻿@model Submissions.Web.Areas.Evolution.Models.ComparisonIndexViewModel

@{
	ViewBag.Title = "Evolution Comparison";
	ViewBag.FullWidth = true;
}

@section css{
	<style>
		[v-cloak] {
			display: none;
		}

		.componentsGroupTable {
			font-size: 9px;
			cursor: pointer;
			width: 100%;
			margin: 3px;
		}

		.componentsGroupTable td {
			padding-right: 10px;
		}

		.panel-body-componentgroup {
			padding: 0;
			margin: 0;
		}

		.removeBtn {
			font-size: 21px;
			font-weight: 700;
			line-height: 1;
			color: #FF0000;
			text-shadow: 0 1px 0 #fff;
			border: none;
		}

		.history-width {
			width: 10%;
		}

		caption {
			color: #000000;
		}

		.historyTable {
			width:100%;
			padding-left: 5px;
			padding-right: 5px;
		}

		.pl-10 {
			padding-left: 10px;
		}

		.cursor-pointer {
			cursor: pointer;
		}

		@@media print {

		}
	</style>
}

<div id="evolutioncomparison-vue">
	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<button class="btn btn-primary btn-sm hidden-print" onclick="window.print()">Print</button>
			@Html.ActionLink("Exit", "Index", "Home", new { Area = "" }, new { @class = "btn btn-primary btn-sm hidden-print", id = "CancelBtn" })
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading " id="InstanceHeader"><a data-toggle="collapse" href="#instance-list">Instances</a></div>
				<div class="collapse in" id="instance-list">
					<div class="panel-body">
						<input type="button" v-on:click="addNewInstance" class="btn btn-primary btn-sm hidden-print" value="Add an Instance">
						<input type="button" v-on:click="componentGroupClick" class="btn btn-primary btn-sm hidden-print" value="Run Comparison">
						<label for="conflict">Show Only Conflicting Answers</label>
						<input type="checkbox" name="conflict" id="conflict" value="conflict" checked="" v-on:click="componentGroupClick()" />
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								@Html.LabelFor(model => model.JurisdictionIds, new { @class = "col-sm-1 control-label" })
								<div class="col-sm-3">
									@Html.LookupMultipleFor(model => model.JurisdictionIds, Model.Jurisdictions, LookupAjax.Jurisdictions, true)
								</div>
							</div>
							<div class="form-group form-group-sm">
								<instance-item v-for="(instance, index) in instances" :instance="instance" :key="instance.id" :id="instance.id" :hide-instance-panel="instance.hideInstancePanel" :hide-instance-spinner="instance.hideInstanceSpinner"></instance-item>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" v-cloak>
		<div class="col-sm-12">
			<div v-bind:class="{ hidden: hideComparisonPanel }" class="panel panel-default">
				<div class="panel-heading " id="FunctionalRoleHeader"><a data-toggle="collapse" href="#functional-role-list">Functional Roles</a></div>
				<div class="collapse in" id="functional-role-list">
					<div class="panel-body">
						<div v-bind:class="{ hidden: hideComparisonSpinner }" class="text-center loading-spinner">
							<i class="fas fa-spinner fa-pulse fa-5x"></i>
						</div>
						<table class="table table-striped table-hover">
							<tr>
								<th class="h4 hide-element hide-border">Name</th>
								<th class="h4 hide-element hide-border text-center">Component Group 1</th>
								<th class="h4 hide-element hide-border text-center">Component Group 2</th>
								<th v-if="instances.length > 2" class="h4 hide-element hide-border text-center">Component Group 3</th>
								<th v-if="instances.length > 3" class="h4 hide-element hide-border text-center">Component Group 4</th>
								<th v-if="instances.length > 4" class="h4 hide-element hide-border text-center">Component Group 5</th>
								<th v-if="instances.length > 5" class="h4 hide-element hide-border text-center">Component Group 6</th>
								<th v-if="instances.length > 6" class="h4 hide-element hide-border text-center">Component Group 7</th>
								<th v-if="instances.length > 7" class="h4 hide-element hide-border text-center">Component Group 8</th>
								<th v-if="instances.length > 8" class="h4 hide-element hide-border text-center">Component Group 9</th>
								<th v-if="instances.length > 9" class="h4 hide-element hide-border text-center">Component Group 10</th>
							</tr>
							<tr v-for="fr in functionalRoles" :key="fr.functionalRoleId">
								<td>{{ fr.functionalRole }}</td>
								<td class="text-center"><div v-if="(fr.componentGroup1)" class="fas fa-check-square fa-lg"></div></td>
								<td class="text-center"><div v-if="(fr.componentGroup2)" class=" fas fa-check-square fa-lg"></div></td>
								<td v-if="instances.length > 2" class="text-center"><div v-if="(fr.componentGroup3)" class="fas fa-check-square fa-lg"></div></td>
								<td v-if="instances.length > 3" class="text-center"><div v-if="(fr.componentGroup4)" class="fas fa-check-square fa-lg"></div></td>
								<td v-if="instances.length > 4" class="text-center"><div v-if="(fr.componentGroup5)" class="fas fa-check-square fa-lg"></div></td>
								<td v-if="instances.length > 5" class="text-center"><div v-if="(fr.componentGroup6)" class="fas fa-check-square fa-lg"></div></td>
								<td v-if="instances.length > 6" class="text-center"><div v-if="(fr.componentGroup7)" class="fas fa-check-square fa-lg"></div></td>
								<td v-if="instances.length > 7" class="text-center"><div v-if="(fr.componentGroup8)" class="fas fa-check-square fa-lg"></div></td>
								<td v-if="instances.length > 8" class="text-center"><div v-if="(fr.componentGroup9)" class="fas fa-check-square fa-lg"></div></td>
								<td v-if="instances.length > 9" class="text-center"><div v-if="(fr.componentGroup10)" class="fas fa-check-square fa-lg"></div></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" v-cloak>
		<div class="col-sm-12">
			<div v-bind:class="{ hidden: hideComparisonPanel }" class="panel panel-default comparisonPanel">
				<div class="panel-heading">Question Comparison</div>
				<div class="panel-body">
					<div v-bind:class="{ hidden: hideComparisonSpinner }" class="text-center loading-spinner">
						<i class="fas fa-spinner fa-pulse fa-5x"></i>
					</div>
					<table class="table table-striped">
						<tr>
							<th>ID</th>
							<th>History</th>
							<th>Question Text</th>
							<th>Component Group 1 Answers</th>
							<th>Component Group 2 Answers</th>
							<th v-if="(instances.length >= 3)">Component Group 3 Answers</th>
							<th v-if="(instances.length >= 4)">Component Group 4 Answers</th>
							<th v-if="(instances.length >= 5)">Component Group 5 Answers</th>
							<th v-if="(instances.length >= 6)">Component Group 6 Answers</th>
							<th v-if="(instances.length >= 7)">Component Group 7 Answers</th>
							<th v-if="(instances.length >= 8)">Component Group 8 Answers</th>
							<th v-if="(instances.length >= 9)">Component Group 9 Answers</th>
							<th v-if="(instances.length >= 10)">Component Group 10 Answers</th>
						</tr>
						<tr v-for="(cp, index) in comparisons">
							<td>{{ cp.normalizedId }}</td>
							<td v-bind:id="'td-' + cp.questionID">
								<i class="fas fa-lg fa-history cursor-pointer" aria-hidden="true" data-toggle="collapse"v-bind:id="'historyicon-' + cp.questionID" v-bind:data-target="'#'+cp.questionID" v-on:click="historyFunc(cp.questionID)"></i>
							</td>
							<td><span v-html="cp.questionText"></span>
								<div class="collapse" v-bind:id="cp.questionID">
									<div v-for="(ah, index) in answerHistory" >
										<table class="historyTable table">
											<caption><b>Component Group {{ index + 1}}</b></caption>
											<tr>
												<th class="history-width">Answers</th>
												<th class="history-width">Created By</th>
												<th class="history-width">Source User</th>
												<th class="history-width">Created On</th>
												<th class="history-width">Source Date</th>
												<th class="history-width">Source Instance</th>
											</tr>
											<tr v-for="aHistory in ah.answerHistory">
												<td>{{ aHistory.answer }}</td>
												<td v-if="(aHistory.createdByEmail === null)">{{ aHistory.createdBy }}</td>
												<td v-else><a v-bind:href="'mailto:'+aHistory.createdByEmail" target="_top" class="pl-10">{{ aHistory.createdBy}}</a></td>
												<td>{{ aHistory.sourceUser }}</td>
												<td>{{ dateFormat(aHistory.createdOn) }}</td>
												<td>{{ dateFormat(aHistory.sourceDate) }}</td>
												<td>{{ aHistory.sourceInstance }}</td>
											</tr>
										</table>
										<div class="col-sm-12">&nbsp;</div>
									</div>
								</div>
							</td>
							<td v-if="(cp.answer_CompGroup1 === 'PASS')">
								<div style="color:green;" class="text-success" v-bind:title="cp.answerNotes_CompGroup1">{{ cp.answer_CompGroup1 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup1 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(cp.answer_CompGroup1 === 'fail')">
								<div style="color:red;" class="text-danger" v-bind:title="cp.answerNotes_CompGroup1">{{ cp.answer_CompGroup1 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup1 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else>
								<div v-bind:title="cp.answerNotes_CompGroup1">{{ cp.answer_CompGroup1 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup1 === '1')" class="fas fa-lock fa-lg"></div>
							</td>

							<td v-if="(cp.answer_CompGroup2 === 'PASS')">
								<div style="color:green;" class="text-success" v-bind:title="cp.answerNotes_CompGroup2">{{ cp.answer_CompGroup2 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup2 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(cp.answer_CompGroup2 === 'fail')">
								<div style="color:red;" class="text-danger" v-bind:title="cp.answerNotes_CompGroup2">{{ cp.answer_CompGroup2 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup2 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else>
								<div v-bind:title="cp.answerNotes_CompGroup2">{{ cp.answer_CompGroup2 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup2 === '1')" class="fas fa-lock fa-lg"></div>
							</td>

							<td v-if="(cp.answer_CompGroup3 === 'PASS') && (instances.length >= 3)">
								<div style="color:green;" class="text-success" v-bind:title="cp.answerNotes_CompGroup3">{{ cp.answer_CompGroup3 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup3 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(cp.answer_CompGroup3 === 'fail')  && (instances.length >= 3)">
								<div style="color:red;" class="text-danger" v-bind:title="cp.answerNotes_CompGroup3">{{ cp.answer_CompGroup3 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup3 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(instances.length >= 3)">
								<div v-bind:title="cp.answerNotes_CompGroup3">{{ cp.answer_CompGroup3 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup3 === '1')" class="fas fa-lock fa-lg"></div>
							</td>

							<td v-if="(cp.answer_CompGroup4 === 'PASS')  && (instances.length >= 4)">
								<div style="color:green;" class="text-success" v-bind:title="cp.answerNotes_CompGroup4">{{ cp.answer_CompGroup4 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup4 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(cp.answer_CompGroup4 === 'fail')  && (instances.length >= 4)">
								<div style="color:red;" class="text-danger" v-bind:title="cp.answerNotes_CompGroup4">{{ cp.answer_CompGroup4 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup4 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(instances.length >= 4)">
								<div v-bind:title="cp.answerNotes_CompGroup4">{{ cp.answer_CompGroup4 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup4 === '1')" class="fas fa-lock fa-lg"></div>
							</td>

							<td v-if="(cp.answer_CompGroup5 === 'PASS')  && (instances.length >= 5)">
								<div style="color:green;" class="text-success" v-bind:title="cp.answerNotes_CompGroup5">{{ cp.answer_CompGroup5 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup5 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(cp.answer_CompGroup5 === 'fail')  && (instances.length >= 5)">
								<div style="color:red;" class="text-danger" v-bind:title="cp.answerNotes_CompGroup5">{{ cp.answer_CompGroup5 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup5 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(instances.length >= 5)">
								<div v-bind:title="cp.answerNotes_CompGroup5">{{ cp.answer_CompGroup5 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup5 === '1')" class="fas fa-lock fa-lg"></div>
							</td>

							<td v-if="(cp.answer_CompGroup6 === 'PASS')  && (instances.length >= 6)">
								<div style="color:green;" class="text-success" v-bind:title="cp.answerNotes_CompGroup6">{{ cp.answer_CompGroup6 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup6 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(cp.answer_CompGroup6 === 'fail')  && (instances.length >= 6)">
								<div style="color:red;" class="text-danger" v-bind:title="cp.answerNotes_CompGroup6">{{ cp.answer_CompGroup6 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup6 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(instances.length >= 6)">
								<div v-bind:title="cp.answerNotes_CompGroup6">{{ cp.answer_CompGroup6 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup6 === '1')" class="fas fa-lock fa-lg"></div>
							</td>

							<td v-if="(cp.answer_CompGroup7 === 'PASS')  && (instances.length >= 7)">
								<div style="color:green;" class="text-success" v-bind:title="cp.answerNotes_CompGroup7">{{ cp.answer_CompGroup7 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup7 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(cp.answer_CompGroup7 === 'fail')  && (instances.length >= 7)">
								<div style="color:red;" class="text-danger" v-bind:title="cp.answerNotes_CompGroup7">{{ cp.answer_CompGroup7 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup7 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(instances.length >= 7)">
								<div v-bind:title="cp.answerNotes_CompGroup7">{{ cp.answer_CompGroup7 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup7 === '1')" class="fas fa-lock fa-lg"></div>
							</td>

							<td v-if="(cp.answer_CompGroup8 === 'PASS')  && (instances.length >= 8)">
								<div style="color:green;" class="text-success" v-bind:title="cp.answerNotes_CompGroup8">{{ cp.answer_CompGroup8 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup8 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(cp.answer_CompGroup8 === 'fail')  && (instances.length >= 8)">
								<div style="color:red;" class="text-danger" v-bind:title="cp.answerNotes_CompGroup8">{{ cp.answer_CompGroup8 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup8 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(instances.length >= 8)">
								<div v-bind:title="cp.answerNotes_CompGroup8">{{ cp.answer_CompGroup8 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup8 === '1')" class="fas fa-lock fa-lg"></div>
							</td>

							<td v-if="(cp.answer_CompGroup9 === 'PASS')  && (instances.length >= 9)">
								<div style="color:green;" class="text-success" v-bind:title="cp.answerNotes_CompGroup9">{{ cp.answer_CompGroup9 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup9 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(cp.answer_CompGroup9 === 'fail')  && (instances.length >= 9)">
								<div style="color:red;" class="text-danger" v-bind:title="cp.answerNotes_CompGroup9">{{ cp.answer_CompGroup9 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup9 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(instances.length >= 9)">
								<div v-bind:title="cp.answerNotes_CompGroup9">{{ cp.answer_CompGroup9 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup9 === '1')" class="fas fa-lock fa-lg"></div>
							</td>

							<td v-if="(cp.answer_CompGroup10 === 'PASS')  && (instances.length >= 10)">
								<div style="color:green;" class="text-success" v-bind:title="cp.answerNotes_CompGroup10">{{ cp.answer_CompGroup10 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup10 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(cp.answer_CompGroup10 === 'fail')  && (instances.length >= 10)">
								<div style="color:red;" class="text-danger" v-bind:title="cp.answerNotes_CompGroup10">{{ cp.answer_CompGroup10 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup10 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
							<td v-else-if="(instances.length >= 10)">
								<div v-bind:title="cp.answerNotes_CompGroup10">{{ cp.answer_CompGroup10 }}</div>
								<div v-if="(cp.lockedStatus_CompGroup10 === '1')" class="fas fa-lock fa-lg"></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/vue")
	<script type="text/x-template" id="instance-item-template">
		<div class="row">
			<div class="col-sm-3">
				<input type="text" v-bind:id="'FileNumber' + id" v-bind:name="'FileNumber' + id" v-model="projectName" class="form-control upper hidden-print" placeholder="Enter the Next File Number">
			</div>
			<div class="col-sm-2">
				<button type="button" v-bind:id="'SearchBtn' + id" class="btn btn-primary btn-sm hidden-print" v-on:click="instanceFunc(id)">Get Instances</button>
			</div>
			<div class="col-sm-7" v-cloak>
				<div v-bind:class="{ hidden: hideInstancePanel }" class="panel panel-default">
					<div class="panel-heading"><button type="button" v-on:click="removeInstance" v-bind:value="id" class="removeInstance removeBtn hidden-print" title="Remove">&times;</button> Instances {{id}}</div>
					<div class="panel-group" id="accordion">
						<div v-bind:class="{ hidden: hideInstanceSpinner }" class="text-center loading-spinner">
							<i class="fas fa-spinner fa-pulse fa-5x"></i>
						</div>
						<div v-for="(i, idx) in componentGroups" :key="i.id" class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a v-bind:class="{ collapsed: idx > 0 }" data-toggle="collapse" data-parent="#accordion" v-bind:href="'#collapse-' + i.id">
										{{ i.projectName }}
									</a>
								</h4>
							</div>
							<div v-bind:id="'collapse-' + i.id" class="panel-collapse collapse" v-bind:class="{ in: idx == 0 }">
								<div class="panel-body panel-body-componentgroup">
									<table>
										<tr v-for="cg in i.componentGroups" :key="cg.id">
											<td v-bind:id="cg.id">
												<table class="componentsGroupTable">
													<tr>
														<th colspan="3"><input type="checkbox" name="componentGroupIds" v-bind:value="cg.id" /> Component Group: {{ cg.id }}</th>
														<th colspan="1" v-if="cg.eventType === 'Lock'" class="pl-10"><i class="fas fa-lock fa-2x" aria-hidden="true"></i></th>
														<th colspan="1" class="pl-10" v-else><i class="fas fa-unlock fa-2x" aria-hidden="true"></i></th>
													</tr>
													<tr><th>Build Date: {{ dateFormat(cg.buildDate) }} </th></tr>
													<tr><th>Group Description: {{ cg.description }}</th></tr>
													<tr>
														<td>Id Number</td>
														<td>Version</td>
														<td>Date Code</td>
													</tr>
													<tr v-for="c in cg.components">
														<td>{{ c.idNumber }}</td>
														<td>{{ c.version }}</td>
														<td>{{ c.dateCode }}</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script>
		Vue.component('instance-item', {
			template: '#instance-item-template',
			props: ['id'],
			data: function () {
				return {
					projectName: '',
					hideInstanceSpinner: true,
					hideInstancePanel: true,
					componentGroups: []
				};
			},
			methods: {
				instanceFunc: function (position) {
					var self = this;
					self.comparisons = [];
					self.hideComparisonSpinner = true;
					self.hideComparisonPanel = true;
					self.componentGroups = [];
					self.hideInstanceSpinner = false;
					self.hideInstancePanel = false;

					var url = '@Url.Action("LoadInstances", "Comparison")' + '?projectName=' + self.projectName;

					$.get(url)
					.done(function (result) {
						self.componentGroups = result;
					})
					.always(function () {
						self.hideInstanceSpinner = true;
					});
				},
				removeInstance: function () {
					for (var i = 0; i < this.$parent.instances.length; i++) {
						var obj = this.$parent.instances[i];

						if (obj.id == this.id) {
							this.$parent.instances.splice(i, 1);
							i--;
						}
					}
				},
				dateFormat: function (string) {
					var date = "";
					if (string != null) {
						date = string.split('T')[0];
					}
					return date;
				}
			}
		})

		var vm = new Vue({
			el: '#evolutioncomparison-vue',
			data: {
				comparisons: [],
				functionalRoles: [],
				answerHistory: [],
				selectedComponentGroupId: '',
				selectedQuestion: '',
				hideComparisonSpinner: true,
				hideComparisonPanel: true,
				instances: [
					{
						id: 1
					},
					{
						id: 2
					}
				],
				nextInstanceId: 3
			},
			methods: {
				addNewInstance: function () {
					if (this.instances.length < 10) {
						this.instances.push({
							id: this.nextInstanceId++,
							hideInstanceSpinner: true,
							hideInstancePanel: true,
							componentGroups: []
						})
					}
				},
				componentGroupClick: function () {
					var self = this;
					self.selectedComponentGroupId = '';
					var conflict;
					var jurisdictionIds;

					self.selectedComponentGroupId = $("input[name='componentGroupIds']:checkbox:checked").map(function () { return this.value }).get().join(',');

					conflict = $("#conflict").prop('checked');
					jurisdictionIds = $("#JurisdictionIds").val();

					if ((self.selectedComponentGroupId.match(/,/g) || []).length >= 1 && (self.selectedComponentGroupId.match(/,/g) || []).length <= 9) {
						var self = this;
						self.comparisons = [];
						self.functionalRoles = [];
						self.hideComparisonSpinner = false;
						self.hideComparisonPanel = false;

						var url = '@Url.Action("LoadFunctionalRoles", "Comparison")' + '?conflict=' + conflict + '&componentGroupIds=' + self.selectedComponentGroupId;
						url = $('<div/>').html(url).text();

						$.get(url)
						.done(function (result) {
							self.functionalRoles = result;
						});

						url = '@Url.Action("LoadComponentGroupComparison", "Comparison")' + '?conflict=' + conflict + '&componentGroupIds=' + self.selectedComponentGroupId + '&jurisdictionIds=' + jurisdictionIds;
						url = $('<div/>').html(url).text();

						$.get(url)
						.done(function (result) {
							self.comparisons = result;
						})
						.always(function () {
							self.hideComparisonSpinner = true;
							self.hideComparisonPanel = false;
						});
					}
				},
				dateFormat: function (string) {
					var date = "";
					if (string != null) {
						date = string.split('T')[0];
					}
					return date;
				},
				historyFunc: function (questionId) {
					var self = this;
					var ajaxFlag = true;
					if (self.selectedQuestion != '' && self.selectedQuestion != (questionId)) {
						document.getElementById(self.selectedQuestion).classList.remove("in");
					} else if (self.selectedQuestion == questionId) {
						ajaxFlag = false;
					}
					self.answerHistory = [];

					if (ajaxFlag) {
						self.selectedQuestion = questionId;
						$('#td-' + questionId).append('<i class="fas fa-spinner fa-pulse fa-lg text-center loading-spinner"'.concat("id=spinner-" + questionId).concat('></i>'));
						$('#historyicon-' + questionId).hide();

						var data = {
							componentGroupIds: self.selectedComponentGroupId,
							question: questionId
						};

						$.ajax({
							method: 'POST',
							url: '@Url.Action("LoadAnswerHistory", "Comparison")',
							data: data,
							async: true
						})
						.done(function (result) {
							self.answerHistory = result;
							$("#spinner-" + questionId).remove();
							$('#historyicon-' + questionId).show();
						});
					}
				}
			}
		});
	</script>
}