﻿@model Submissions.Web.Areas.Reports.Models.QAAdvancedSearchDisplayViewModel

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.ui-jqgrid .loading {
			position: fixed !important;
			top: 200px !important;
			left: 50% !important;
			margin-left: -60px !important;
		}
	</style>
}

@{
	ViewBag.FullWidth = true;
	ViewBag.Title = "QA Advanced Search Report";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<button class="btn btn-primary btn-sm " type="button" id="DetailReport">View Detail Report</button>
		<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Export <span class="caret"></span></button>
		<ul id="ExportMenu" class="dropdown-menu dropdown-menu-right">
			<li><a href="" data-exporttype="@ExportType.Csv"><img src="@Url.Content("~/img/filetree/file.png")" title="CSV" /> CSV</a></li>
			<li><a href="" data-exporttype="@ExportType.Xls"><img src="@Url.Content("~/img/filetree/xls.png")" title="Excel" /> Excel</a></li>
			<li><a href="" data-exporttype="@ExportType.Pdf"><img src="@Url.Content("~/img/pdf.png")" title="PDF" /> PDF</a></li>
		</ul>
		<button class="btn btn-primary btn-sm" id="CancelBtn">Close</button> &nbsp;
	</div>
</div>

<form id="GridForm" method="post">
  
	@Html.Hidden("Filter", @Html.Raw(Json.Encode(Model.filter)))
	@Html.Hidden("FiltersToolbar")
	@Html.Hidden("ExportType")
	@Html.Hidden("SavedColumns")
	@Html.Hidden("Title", "QA Advanced Report")
</form>

@Html.Trirand().JQGrid(Model.AdvancedSearchGrid.Grid, @Model.AdvancedSearchGrid.Grid.ID)

<form id="GridForm" method="post">
	@Html.Hidden("Filters", @Html.Raw(Json.Encode(Model.filter)))
</form>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
<script>
		$(function () {
			$('#CancelBtn').on('click', function () {
				window.close();
			});
			$('#DetailReport').on('click', function () {
				window.open("@Model.DetailReportUrl" + "&rc:Parameters=false");
			})
		});

		// export
		$('#ExportMenu a').on('click', function (e) {
			e.preventDefault();

			var grid = $("#" + "@Model.AdvancedSearchGrid.Grid.ID");
			var postData = grid.jqGrid('getGridParam', 'postData');

			$('#FiltersToolbar').val($.param(postData));
			$('#ExportType').val($(this).data('exporttype'));

			var url = '@Url.Action("Export", "QAAdvancedSearch")'
			$('#GridForm').attr('action', url);
			$('#GridForm').submit();
		});

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = $('#Filters').val();
			$(this).jqGrid('setGridParam', { postData: postData });
		};

		function formatJurisdictions(cellValue, options, rowObject) {
			return cellValue.replace(new RegExp(',', 'g'), '<br />')
		}
</script>
}
