﻿@model Submissions.Web.Areas.Reports.Models.QAAdvancedSearchViewModel
@using Submissions.Web.Areas.Reports.Models

@{
	ViewBag.Title = "QA Advanced Search Report";
}

@using (Html.BeginForm("Display", "QAAdvancedSearch", FormMethod.Post, new { id = "QASearchForm", target = "_blank" }))
{
	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<button type="submit" id="DisplayBtn" class="btn btn-primary btn-sm">Display</button>
			<input type="reset" id="ClearBtn" class="btn btn-primary btn-sm" value="Clear">
			@Html.ActionLink("Exit", "Index", "Menu", null, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Search Criteria</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.ManufacturerShort, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupFor(m => m.filter.ManufacturerShort, m => m.filter.Manufacturer, LookupAjax.Manufacturers, false, null)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.JurisdictionId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupFor(m => m.filter.JurisdictionId, m => m.filter.Jurisdiction, LookupAjax.Jurisdictions, false, null)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.CustomSearchStatus, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.ListBoxFor(m => m.filter.CustomSearchStatus, LookupsStandard.ConvertEnum<QACustomStatus>(showBlank: true), new { @class = "form-control" })

									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.Expedite, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.CheckBoxFor(m => m.filter.Expedite)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.IsTransfer, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.DropDownListFor(m => m.filter.IsTransfer, LookupsStandard.ConvertEnum<ProjectType>(showBlank: true), new { @class = "form-control" })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.CustomSearchBundleType, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.DropDownListFor(m => m.filter.CustomSearchBundleType, LookupsStandard.ConvertEnum<QACustomBundleType>(showBlank: true), new { @class = "form-control" })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.LaboratoryIds, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupMultipleFor(m => m.filter.LaboratoryIds, Model.filter.Laboratories, LookupAjax.Laboratories, false)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.TaskDefIds, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.LookupMultipleFor(m => m.filter.TaskDefIds, Model.filter.TaskDefs, LookupAjax.QATaskDefinitions, false, null)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.WorkedByLocationIds, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupMultipleFor(m => m.filter.WorkedByLocationIds, Model.filter.WorkedByLocations, LookupAjax.Laboratories, false)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.AcceptedByLocationIds, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupMultipleFor(m => m.filter.AcceptedByLocationIds, Model.filter.AcceptedByLocations, LookupAjax.Laboratories, false)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.ComplianceRequired, new { @class = "control-label col-sm-4" })
									<div class="col-sm-3">
										@Html.CheckBoxFor(m => m.filter.ComplianceRequired)
									</div>
								</div>
							</div>
							<div class="col-sm-6">

								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.RecievedFrom, new { @class = "control-label col-sm-4" })
									<div class="col-sm-4">
										@Html.EditorFor(m => m.filter.RecievedFrom, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "From" } })
									</div>
									<div class="col-sm-4">
										@Html.EditorFor(m => m.filter.RecievedTo, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "To" } })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.ENCompletedFrom, new { @class = "control-label col-sm-4" })
									<div class="col-sm-4">
										@Html.EditorFor(m => m.filter.ENCompletedFrom, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "From" } })
									</div>
									<div class="col-sm-4">
										@Html.EditorFor(m => m.filter.ENCompletedTo, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "To" } })
									</div>
								</div>

								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.QAReceivedFrom, new { @class = "control-label col-sm-4" })
									<div class="col-sm-4">
										@Html.EditorFor(m => m.filter.QAReceivedFrom, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "From" } })
									</div>
									<div class="col-sm-4">
										@Html.EditorFor(m => m.filter.QAReceivedTo, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "To" } })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.QAAcceptedFrom, new { @class = "control-label col-sm-4" })
									<div class="col-sm-4">
										@Html.EditorFor(m => m.filter.QAAcceptedFrom, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "From" } })
									</div>
									<div class="col-sm-4">
										@Html.EditorFor(m => m.filter.QAAcceptedTo, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "To" } })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.QACompletedFrom, new { @class = "control-label col-sm-4" })
									<div class="col-sm-4">
										@Html.EditorFor(m => m.filter.QACompletedFrom, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "From" } })
									</div>
									<div class="col-sm-4">
										@Html.EditorFor(m => m.filter.QACompletedTo, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "To" } })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.QALocationId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.LookupFor(m => m.filter.QALocationId, m => m.filter.QALocation, LookupAjax.Laboratories, false, new { data_filter = "searchFilter"})
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.TaskTarget, new { @class = "control-label col-sm-4" })
									<div class="col-sm-4">
										@Html.EditorFor(m => m.filter.TaskTarget, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "" } })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.QFINeeded, new { @class = "control-label col-sm-4" })
									<div class="col-sm-3">
										@Html.CheckBoxFor(m => m.filter.QFINeeded)
									</div>
									@Html.LabelFor(m => m.filter.NoCertNeeded, new { @class = "control-label col-sm-4" })
									<div class="col-sm-1">
										@Html.CheckBoxFor(m => m.filter.NoCertNeeded)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.filter.ADMWorkNeeded, new { @class = "control-label col-sm-4" })
									<div class="col-sm-2">
										@Html.CheckBoxFor(m => m.filter.ADMWorkNeeded)
									</div>
									@Html.LabelFor(m => m.filter.ENInvolvementWhileFL, new { @class = "control-label col-sm-5" })
									<div class="col-sm-1">
										@Html.CheckBoxFor(m => m.filter.ENInvolvementWhileFL)
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
}
@section scripts{
	<script>
		$(function () {

			$('#CancelBtn').on('click', function () {
				//window.open('', '_self', '');
				window.close();
			});
		   
		});
	</script>
}
