<template>
	<li>
		<div class="gli-base-tree-level-item">
			<div class="gli-base-tree-level-content">
				<slot :item="item">
					{{ item.name }}
				</slot>		
			</div>
			<a 
				@click="toggle" 
				class="gli-base-tree-level-toggle">				
				<i 
					v-if="toggled && item.children && item.children.length > 0" 
					class="fa fa-angle-up" />				
				<i 
					v-if="!toggled && item.children && item.children.length > 0" 
					class="fa fa-angle-down" />	
			</a>
		</div>
		<ul v-if="toggled && item.children && item.children.length > 0">
			<li 
				v-for="child in item.children" 
				:key="child.id">
				<tree-level :item="child">
					<template v-slot:default="slotProps">
						<slot :item="slotProps.item" />
					</template>
				</tree-level>
			</li>
		</ul>
	</li>
</template>

<script>

/** @description 
 *
 * @property {Array} rootElements ----------------.
 *
 */

export default {
	components: {
	},
	name: "TreeLevel",
	props: {
		item: {
			type: Object,
			required: true
		}
	},
	data: function () {
		return {
			toggled: true
		};
	},
	methods: {
		toggle: function () {
			this.toggled = !this.toggled;
		}
	}
};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	ul {
		list-style: none;
		padding-left: Spacing.$full;
	}

	.gli-base-tree-level-item {
		float: left;
		padding: Spacing.$half 0;
		width: 100%;

		.gli-base-tree-level-content {
			display: inline;
		}

		.gli-base-tree-level-toggle {
			color: Colors.$grayDark;
			display: block;
			float: right;
			margin: -#{Spacing.$half} 0;
			padding: Spacing.$half Spacing.$full;

			&:hover {
				color: Colors.$blueLight;
			}
		}
	}

</style>