﻿@model Submissions.Web.Areas.Documents.Models.Generate.ConformanceCriteriaIndexViewModel

@{
	ViewBag.FullWidth = true;
	ViewBag.Title = "Conformance Criteria";
}

@section css{@Styles.Render("~/bundles/css/jqgrid")}

<div id="app"></div>

@section scripts {

	@Scripts.Render("~/bundles/script/jqgrid")
	@Scripts.Render("~/bundles/script/letterGen")
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}

