﻿@model Submissions.Web.Areas.Reports.Models.HistoryLogIndexViewModel
@using Submissions.Web.Areas.Reports.Models

@{
	ViewBag.Title = "History Log Report";
}

@using (Html.BeginForm("Display", "HistoryLog", FormMethod.Post, new { id = "SearchForm", target = "_blank" }))
{
	@Html.HiddenFor(x => x.Filters.SubmissionId)
	@Html.HiddenFor(x => x.Filters.JurisdictionalDataId)
	@Html.HiddenFor(x => x.Filters.ShippingDataId)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title  @if (Model.SubmissionSubTitle != null)
			{<small>@Model.SubmissionSubTitle.FileNumber</small>}</h3>
			@if (Model.SubmissionSubTitle != null)
			{
				<div class="submission-subtitle">
					<span title="ID Number">@Model.SubmissionSubTitle.IdNumber</span>
					<span title="Game Name">@Model.SubmissionSubTitle.GameName</span>
					<span title="Date Code">@Model.SubmissionSubTitle.DateCode</span>
					<span title="Function">@Model.SubmissionSubTitle.Function</span>
					@if (Model.SubmissionSubTitle.JurisdictionId != null)
					{
						<span title="Jurisdiction">@Model.SubmissionSubTitle.JurisdictionName (@Model.SubmissionSubTitle.JurisdictionId)</span>
					}
				</div>
			}
		</div>
		<div class="col-sm-4 form-buttons">
			<button type="submit" id="DisplayBtn" class="btn btn-primary btn-sm">Display</button>
			<input type="reset" id="ClearBtn" class="btn btn-primary btn-sm" value="Clear">
			@Html.ActionLink("Exit", "Index", "Menu", null, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Search Criteria</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.StartDate, new { @class = "control-label col-sm-4" })
									<div class="col-sm-3">
										@Html.TextBoxFor(m => m.Filters.StartDate, "{0:d}", new { @class = "form-control datepicker", @placeholder = "From" })
										@Html.ValidationMessageFor(m => m.Filters.StartDate)
									</div>
									<div class="col-sm-3">
										@Html.TextBoxFor(m => m.Filters.EndDate, new { @class = "form-control datepicker", @placeholder = "To" })
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.Table, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.DropDownListFor(m => m.Filters.Table, Model.AvailableTableOptions, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Filters.Table)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.Column, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.DropDownListFor(m => m.Filters.Column, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Filters.Column)<span id="ColumnWarning" class="text-warning"></span>
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.ActionType, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.DropDownListFor(m => m.Filters.ActionType, LookupsStandard.ConvertEnum<DatabaseOperations>(showBlank: true), new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.Filters.UserId, new { @class = "control-label col-sm-4" })
									<div class="col-sm-6">
										@Html.LookupFor(m => m.Filters.UserId, m => m.Filters.User, LookupAjax.Users, false)
									</div>
								</div>
								@if (Model.CurrentView == HistoryView.GeneralReport)
								{
									<div class="form-group form-group-sm JurSelection">
										@Html.LabelFor(m => m.Filters.JurisdictionId, new { @class = "control-label col-sm-4" })
										<div class="col-sm-6">
											@Html.LookupFor(m => m.Filters.JurisdictionId, m => m.Filters.Jurisdiction, LookupAjax.Jurisdictions, false)
										</div>
									</div>
									<div class="form-group form-group-sm ManufSelection">
										@Html.LabelFor(m => m.Filters.ManufacturerCode, new { @class = "control-label col-sm-4" })
										<div class="col-sm-6">
											@Html.LookupFor(m => m.Filters.ManufacturerCode, m => m.Filters.Manufacturer, LookupAjax.Manufacturers, false)
										</div>
									</div>
									<div class="form-group form-group-sm FileNumberSelection">
										@Html.LabelFor(m => m.Filters.FileNumber, new { @class = "control-label col-sm-4" })
										<div class="col-sm-6">
											@Html.LookupFor(m => m.Filters.FileNumber, m => m.Filters.FileNumber, LookupAjax.FileNumber, true)
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scripts{
	<script>
		$(function () {
			$("#Filters_Table").change(function () {
				var table = $('#Filters_Table').val();
				if (!Em(table)) {
					if (table == "@HistoryLogTableName.tbl_lst_fileJuris.ToString()"){
						$(".JurSelection").show();
						$(".ManufSelection").hide();
						$(".FileNumberSelection").hide();
					}
					else if (table == "@HistoryLogTableName.tbl_lst_fileManu.ToString()"){
						$(".JurSelection").hide();
						$(".ManufSelection").show();
						$(".FileNumberSelection").hide();
					}
					else if (table == "@HistoryLogTableName.EmailDistributionUsers.ToString()"){
						$(".JurSelection").hide();
						$(".ManufSelection").hide();
						$(".FileNumberSelection").hide();
					}
					else {
						$(".JurSelection").hide();
						$(".ManufSelection").hide();
						$(".FileNumberSelection").show();
					}

					var url = '@Url.Action("CascadeColumnChoice", "HistoryLog")';
					$.post(url, { tableName: table },
						function (data) {
							var obj = $.parseJSON(data);
							var columnDropDown = $('#Filters_Column');
							columnDropDown.empty();
							columnDropDown.append('<option></option>');
							for (var i = 0; i < obj.length; i++) {
								columnDropDown.append('<option value=' + obj[i].Val + '>' + obj[i].Text + '</option>');
							}
						});
					showColumnSelectionWarning()
				}
			});

			$('#Filters_Column').change(function () {
				showColumnSelectionWarning();
			})

			$("#Filters_Table").val($("#Filters_Table").val()).trigger("change");

			$('#SearchForm').on('submit', function (e) {
				if (Em("@Model.CurrentView") && Em($("#Filters_StartDate").val())) {
					e.preventDefault();
					bootbox.alert("You must select change date.");
				}
			});
		});

		function showColumnSelectionWarning() {
			if (!Em("@Model.SubmissionSubTitle.FileNumber"))
			{
				if (Em($('#Filters_Column').val())) {
					$("#ColumnWarning").text("Select column to view history of a particular field column");
				}
				else {
					$("#ColumnWarning").text("");
				}
			}
		}
	</script>
}