﻿@model Submissions.Web.Areas.Lookups.Models.LetterContactsEditViewModel

@{
	ViewBag.Title = Model.Mode + " Letter Contacts";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "LetterContacts", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.HiddenFor(m => m.Mode)

	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.Name)</small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "LetterContacts", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>
	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.Name)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ContactTypeIds, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-5">
				@Html.ListBoxFor(m => m.ContactTypeIds, Model.ContactTypeOptions, new { @class = "form-control", data_allow_clear = "false" })
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ManufacturerCodes, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-5">
				@Html.LookupMultipleFor(m => m.ManufacturerCodes, Model.Manufacturers, LookupAjax.Manufacturers, true)
				@Html.ValidationMessageFor(m => m.ManufacturerCodes)
			</div>
			<div class="col-sm-5">
				@Html.CheckBoxFor(m => m.ApplyAllManuf, new {@class="applyAllManufCheck" })<span class="text-info">Apply to all Manufacturers</span>
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.JurisdictionCodes, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-5">
				@Html.LookupMultipleFor(m => m.JurisdictionCodes, Model.Jurisdictions, LookupAjax.Jurisdictions, true)
				@Html.ValidationMessageFor(m => m.JurisdictionCodes)
			</div>
			<div class="col-sm-5">
				@Html.CheckBoxFor(m => m.ApplyAllJur, new { @class="applyAllJurCheck" })<span class="text-info">Apply to all Jurisdictions</span>
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.AddressLine1, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.AddressLine1)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.AddressLine2, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.AddressLine2)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.AddressLine3, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.AddressLine3, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.AddressLine3)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.AddressLine4, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.AddressLine4, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.AddressLine4)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.AddressLine5, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.AddressLine5, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.AddressLine5)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.AddressLine6, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.AddressLine6, new { @class = "form-control", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.AddressLine6)
			</div>
		</div>
	</div>
}
<script>
	$(function () {
		$(".applyAllJurCheck").click(function (e) {
			if ($(".applyAllJurCheck").is(":checked")) {
				$("#JurisdictionCodes").val(null).trigger("change");
			}
		});
		
		$(".applyAllManufCheck").click(function (e) {
			if ($(".applyAllManufCheck").is(":checked")) {
				$("#ManufacturerCodes").val(null).trigger("change");
			}
		});

		$('#ManufacturerCodes').change(function () {
			if (!Em($('#ManufacturerCodes').val())) {
				$(".applyAllManufCheck").prop("checked", false);
			}
		})
		$('#JurisdictionCodes').change(function () {
			if (!Em($('#JurisdictionCodes').val())) {
				$(".applyAllJurCheck").prop("checked", false);
			}
		})

		$('#LookupForm').submit(function () {
			if (
				(!$(".applyAllManufCheck").is(":checked") && Em($('#ManufacturerCodes').val())) 
				||
				(!$(".applyAllJurCheck").is(":checked") && Em($('#JurisdictionCodes').val()))
				||
				(Em($('#ContactTypeIds').val()))
				)
			{
				bootbox.alert("You must make Manufacturer/Jurisdiction/Contact Type selection.");
				return false;
			}
			return true;
			
		});
	});


	
</script>