﻿@model Submissions.Web.Areas.Lookups.Models.LetterContactsIndexViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Letter Contacts";
}


@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = Mode.Add }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Filters</h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.LetterContactsGrid.Search.JurisdictionCodes, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupMultipleFor(m => m.LetterContactsGrid.Search.JurisdictionCodes, Model.LetterContactsGrid.Search.Jurisdictions, LookupAjax.Jurisdictions, false)
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.LetterContactsGrid.Search.ManufacturerCodes, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.LookupMultipleFor(m => m.LetterContactsGrid.Search.ManufacturerCodes, Model.LetterContactsGrid.Search.Manufacturers, LookupAjax.Manufacturers, false)
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.LetterContactsGrid.Search.ContactTypes, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.ListBoxFor(m => m.LetterContactsGrid.Search.ContactTypes, Model.ContactTypeOptions, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.LetterContactsGrid.Search.SearchTerm, new { @class = "control-label col-sm-4" })
								<div class="col-sm-7">
									@Html.TextBoxFor(m => m.LetterContactsGrid.Search.SearchTerm, new { @class = "form-control", @placeholder = "Enter any string to search through Letter Contacts" })
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="col-sm-12 form-buttons">
								<button class="btn btn-primary" id="searchButton">Search</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@Html.Trirand().JQGrid(Model.LetterContactsGrid.Grid, Model.LetterContactsGrid.Grid.ID)

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")

	<script>
		function editLink(cellValue, options, rowObject) {
			return '<a href="' + '@Url.Action("Edit", "LetterContacts")' + '/' + options.rowId + '?mode=Edit">Edit</a> <span class="text-normal">|</span> ' +
				'<a href="' + '@Url.Action("CheckDelete", "LetterContacts")' + '/' + options.rowId + '" class="CheckDelete" id="' + options.rowId + '">Delete</a>'
		}

		function gridBeforeAjaxRequest() {
			var postData = $('#LetterContactsGrid').jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());
			$('#LetterContactsGrid').jqGrid('setGridParam', { postData: postData });
		}

		function getFilters() {
			var filters = {};

			filters.ManufacturerCodes = $('#LetterContactsGrid_Search_ManufacturerCodes').val();
			filters.JurisdictionCodes = $('#LetterContactsGrid_Search_JurisdictionCodes').val();
			filters.ContactTypes = $('#LetterContactsGrid_Search_ContactTypes').val();
			filters.SearchTerm = $('#LetterContactsGrid_Search_SearchTerm').val();
			return filters;
		}

		$("#searchButton").click(function () {
			$('#LetterContactsGrid').trigger('reloadGrid', [{ page: 1 }]);
		});
	</script>
}