﻿
@{
    ViewBag.Title = "Index";
}
<html>
<head>

</head>
<body>
    <div id="app">
        <h1> {{title}}</h1>
        <h2>{{ description }} <a :href="productRef">here</a></h2>
        <p v-if="onSale">On Sale</p>
        <ul>
            <li v-for="detail in details" :key="detail.productId"><p v-on:click="selProduct(detail.productId)">{{detail.product}}</a></li>
        </ul>
        <button v-on:click="addToCart">Add To Cart</button>
        <p>Cart {{cart}}</p>
    </div>
</body>
</html>

@section scripts{
    @Scripts.Render("~/bundles/script/vue")
    <script>
       
        var app = new Vue({
            el : "#app",
            data: {
                product: 'socks',
                description: 'nice',
                productRef: 'http://www.google.com',
                onSale: false,
                cart: 0,
                details: [{ productId: 1, product: "Test Product" }, { productId: 2, product: "Test Product2" }, { productId: 3, product: "Test Product 3" }],
               
            },
            computed: {
                title: function () {
                    return "PInal Test" + " " + this.product
                }
            },
            methods: {
                addToCart: function (){
                    this.cart = this.cart + 1
                },
                selProduct: function (id) {
                    alert(id)
                }
            }
           
        });
    </script>
}

