﻿@model Submissions.Web.Areas.Lookups.Models.QATaskDefinitionsIndexViewModel
@{
	ViewBag.Title = "QA Task Definitions";
}
<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}