﻿@model Submissions.Web.Areas.Documents.Models.Book.BatchActionsViewModel
@using Submissions.Web.Areas.Documents.Models.Book

@{
	ViewBag.Title = "Batch Actions";
}

@using (Html.BeginForm("BatchActions", "Book", FormMethod.Post, new { id = "BatchActionsForm" }))
{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.LetterBookIds)
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="pull-right">
					<button type="button" class="btn btn-primary btn-save">Save</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
				<h3 class="modal-title">@ViewBag.Title</h3>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group form-group-sm">
						<label class="col-sm-3 control-label">Actions</label>
						<div class="col-sm-5">
							<div class="radio"><label>@Html.RadioButtonFor(m => m.Action, BatchAction.Add.ToString()) @BatchAction.Add.GetEnumDescription()</label></div>
							<div class="radio">
								<label>@Html.RadioButtonFor(m => m.Action, BatchAction.ExportNew.ToString()) @BatchAction.ExportNew.GetEnumDescription()</label>
								<small>Please refresh the page after file downloads, if you select this option.</small>
							</div>
							<div class="radio"><label>@Html.RadioButtonFor(m => m.Action, BatchAction.ExportSelected.ToString()) @BatchAction.ExportSelected.GetEnumDescription()</label></div>
							<div class="radio"><label>@Html.RadioButtonFor(m => m.Action, BatchAction.Move.ToString()) @BatchAction.Move.GetEnumDescription()</label></div>
							<div class="radio"><label>@Html.RadioButtonFor(m => m.Action, BatchAction.Remove.ToString()) @BatchAction.Remove.GetEnumDescription()</label></div>
							<div class="radio"><label>@Html.RadioButtonFor(m => m.Action, BatchAction.UpdateStatus.ToString()) @BatchAction.UpdateStatus.GetEnumDescription()</label></div>
						</div>
					</div>
					<div id="BatchNumberRow" class="form-group form-group-sm">
						@Html.LabelFor(m => m.BatchNumber, new { @class = "control-label col-sm-3" })
						<div class="col-sm-3">
							@Html.TextBoxFor(m => m.BatchNumber, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.BatchNumber)
						</div>
					</div>
					<div id="ACTStatusRow" class="form-group form-group-sm hidden">
						@Html.LabelFor(m => m.ACTStatus, new { @class = "control-label col-sm-3" })
						<div class="col-sm-5">
							@Html.DropDownListFor(m => m.ACTStatus, LookupsStandard.ConvertEnum<LetterBookACTStatus>(), new { @class = "form-control" })
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="pull-right">
					<button type="button" class="btn btn-primary btn-save">Save</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
}

<script>
	$(function () {
		loadDocumentReady();
		var batchActionAdd = '@BatchAction.Add.ToString()';
		var batchActionExportNew = '@BatchAction.ExportNew.ToString()';
		var batchActionExportSelected = '@BatchAction.ExportSelected.ToString()';
		var batchActionMove = '@BatchAction.Move.ToString()';
		var batchActionRemove = '@BatchAction.Remove.ToString()';
		var batchActionUpdateStatus = '@BatchAction.UpdateStatus.ToString()';
		var form = $('#BatchActionsForm');
		$.validator.unobtrusive.parse(form);

		$('input[name="Action"]').on('change', function () {
			form.clearValidation();
			var action = $(this).val();

			if (action === batchActionUpdateStatus) {
				$('#BatchNumberRow').addClass('hidden');
				$('#ACTStatusRow').removeClass('hidden');
			}
			else if (action === batchActionRemove) {
				$('#BatchNumberRow').addClass('hidden');
				$('#ACTStatusRow').addClass('hidden');
			}
			else {
				$('#BatchNumberRow').removeClass('hidden');
				$('#ACTStatusRow').addClass('hidden');
			}

			if (action === batchActionRemove) {
				$('#BatchNumber').prop('disabled', 'disabled');
			}
			else {
				$('#BatchNumber').prop('disabled', false);
			}

			if (action === batchActionAdd || action === batchActionExportNew) {
				var url = '@Url.Action("NextBatchNumber", "Book")';
				$.get(url, {}, function (data) {
					$('#BatchNumber').val(data);
				});
			}
			else {
				$('#BatchNumber').val('');
			}
		});

		$('.btn-save').on('click', function () {
			if (!form.valid()) {
				return;
			}

			var action = $('input[name="Action"]:checked').val();
			var checkedRows = $('#LetterBookGrid').jqGrid('getGridParam', 'selarrrow');
			if (checkedRows.length === 0 && action !== batchActionExportSelected) {
				bootbox.alert("Please select the letters you'd like to modify.");
				return false;
			}
			if (action === batchActionExportSelected && Em($('#BatchNumber').val())) {
				bootbox.alert("Please enter batch number.");
				return false;
			}

			$('#LetterBookIds').val(checkedRows.toString());
			var url = '@Url.Action("ValidateBatchActions", "Book")';
			var exportUrl = '@Url.Action("Export", "Book")';// + "&batchId=";

			var formData = form.serialize();

			$.post(url, formData)
				.done(function (validateMessage) {
					if (Em(validateMessage)) {
						form.submit();
					}
					else {
						bootbox.alert(validateMessage);
					}
				});
		});
	});
</script>