﻿@model Submissions.Web.Areas.Documents.Models.Book.BookEditViewModel

@section css{
	<style>
		.btn-saveletterbook {
			margin-left: 30px;
		}

		.userinfo {
			font-size: .8em;
			font-style: italic;
			color: #606060;
			table-layout: fixed;
			width: 300px;
		}

		.userinfo td {
			width: 100px;
			text-align: right;
		}

		.userinfo td + td {
			width: auto;
			text-align: left;
			padding-left: 10px;
		}
	</style>
}

@{
	ViewBag.Title = "Letter Book";
	var nonSpecializedClass = "hidden";
	var specializedClass = "hidden";

	if (Model.BillingSheet == LetterBookBillingSheet.USNonSpecialized.ToString())
	{
		nonSpecializedClass = "";
	}
	else if (Model.BillingSheet == LetterBookBillingSheet.USSpecialized.ToString())
	{
		specializedClass = "";
	}

	var saveButtonText = "Save";
	var cancelButtonText = "Cancel";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}

	var showSaveButton = false;
	var showDeleteButton = (Model.Mode == Mode.Edit);
	if (Model.IsReviewUser)
	{
		if (Model.QAStatus == LetterBookQAStatus.Approved)
		{
			showSaveButton = true;
			showDeleteButton = false;
			cancelButtonText = "Exit";
		}
	}
	else if (Model.IsEntryUser)
	{
		if (Model.QAStatus == LetterBookQAStatus.Approved || Model.QAStatus == LetterBookQAStatus.PendingApproval)
		{
			showSaveButton = true;
			showDeleteButton = false;
			cancelButtonText = "Exit";
		}
	}
	else if (Model.IsBillingUser)
	{
		showSaveButton = true;
		showDeleteButton = true;
		cancelButtonText = "Exit";
	}
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
		<h4>@Model.FileNumber</h4>
	</div>
	<div class="col-sm-6 form-buttons">
		@if (showSaveButton)
		{
			if (Model.IsReviewUser && false) // hide this for now
			{
				<button type="button" class="btn btn-primary btn-sm btn-approveletterbook">Approve</button>
				<button type="button" class="btn btn-primary btn-sm btn-rejectletterbook">Reject</button>
			}
			else if (Model.IsEntryUser && false) // hide this for now
			{
				<button type="button" class="btn btn-primary btn-sm btn-sendforapprovalletterbook">Send for Approval</button>
			}
			<button type="button" class="btn btn-primary btn-sm btn-saveletterbook">@saveButtonText</button>
		}
		@if (showDeleteButton)
		{
			<button type="button" class="btn btn-primary btn-sm btn-deleteletterbook">Delete</button>
		}
		@Html.ActionLink(cancelButtonText, "Index", "Book", null, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

@using (Html.BeginForm("Edit", "Book", FormMethod.Post, new { id = "EditForm" }))
{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.DocumentVersionId)
	@Html.HiddenFor(m => m.DepartmentId)
	@Html.HiddenFor(m => m.Department)
	@Html.HiddenFor(m => m.IsEntryUser)
	@Html.HiddenFor(m => m.IsReviewUser)
	@Html.HiddenFor(m => m.IsBillingUser)
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">General</h3>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-8">
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.ReportDate, new { @class = "control-label col-sm-3" })
									<div class="col-sm-3">
										@Html.TextBoxFor(m => m.ReportDate, "{0:d}", new { @class = "form-control datepicker" })
										@Html.ValidationMessageFor(m => m.ReportDate)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.LaboratoryId, new { @class = "control-label col-sm-3" })
									<div class="col-sm-5">
										@Html.LookupFor(m => m.LaboratoryId, m => m.Laboratory, LookupAjax.Laboratories, true)
									</div>
								</div>
								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.BillingSheet, new { @class = "control-label col-sm-3" })
									<div class="col-sm-5">
										@Html.LookupFor(m => m.BillingSheetId, m => m.BillingSheet, LookupAjax.BillingSheets, true, new { data_filter = Json.Encode(Model.BillingSheetFilter) })
										@Html.ValidationMessageFor(m => m.BillingSheet)
									</div>
								</div>

								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.IsBillable, new { @class = "control-label col-sm-3" })
									<div class="col-sm-5">
										@Html.CheckBoxFor(m => m.IsBillable)
									</div>
								</div>

								<div class="form-group form-group-sm">
									@Html.LabelFor(m => m.BilledCount, new { @class = "control-label col-sm-3" })
									<div class="col-sm-3">
										@Html.RadioButtonFor(m => m.BilledCount, "0") 0
										@Html.RadioButtonFor(m => m.BilledCount, "1") 1
										@Html.RadioButtonFor(m => m.BilledCount, "2") 2
										@Html.RadioButtonFor(m => m.BilledCount, "3") 3+
										@Html.ValidationMessageFor(m => m.BilledCount)
									</div>
								</div>
								<div id="NonSpecializedForm" class="@nonSpecializedClass">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.BallyType, new { @class = "control-label col-sm-3" })
										<div class="col-sm-3">
											@Html.DropDownListFor(m => m.BallyType, LookupsStandard.ConvertEnum<LetterBookBallyType>(showBlank: true), new { @class = "form-control", style = "width:100%" })
											@Html.ValidationMessageFor(m => m.BallyType)
										</div>
									</div>
								</div>
								<div id="SpecializedForm" class="@specializedClass">
									@if (@Model.ReportType != null)
									{
										<div class="form-group form-group-sm">
											@Html.LabelFor(m => m.ReportType, new { @class = "control-label col-sm-3" })
											<div class="col-sm-5">
												@Html.DropDownListFor(m => m.ReportType, Model.ReportTypes, new { @class = "form-control", style = "width:100%" })
												@Html.ValidationMessageFor(m => m.ReportType)
											</div>
										</div>
									}
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.ContractNumber, new { @class = "control-label col-sm-3" })
										<div class="col-sm-3">
											@Html.TextBoxFor(m => m.ContractNumber, new { @class = "form-control", disabled = true })
											@Html.ValidationMessageFor(m => m.ContractNumber)
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group form-group-sm">
									<div class="row">
										@if (Model.IsEntryUser || Model.IsReviewUser)
										{
											@Html.LabelFor(m => m.QAStatus, new { @class = "control-label col-sm-2" })
											<div class="col-sm-8">
												@Html.DropDownListFor(m => m.QAStatus, Model.StatusList, new { @class = "form-control" })
												@Html.HiddenFor(m => m.ACTStatus)
												@Html.Hidden("OldStatus", Model.QAStatus)
											</div>
										}
										else
										{
											@Html.LabelFor(m => m.ACTStatus, new { @class = "control-label col-sm-2" })
											<div class="col-sm-8">
												@Html.DropDownListFor(m => m.ACTStatus, Model.StatusList, new { @class = "form-control" })
												@Html.HiddenFor(m => m.QAStatus)
												@Html.Hidden("OldStatus", Model.ACTStatus)
											</div>
										}
									</div>
									<br />
									<div class="row">
										@Html.LabelFor(m => m.Note, new { @class = "control-label col-sm-2" })
										<div class="col-sm-8">
											@Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
										</div>
									</div>
								</div>
							</div>
						</div>
						@if (Model.Mode == Mode.Edit)
						{
							<div class="row">
								<div class="col-sm-12">
									<table class="userinfo pull-right">
										<tr>
											<td>@Html.DisplayNameFor(m => m.EntryUser):</td>
											<td>@Model.EntryUser &nbsp; @Model.EntryDate.ToString("g")</td>
										</tr>
										@if (!string.IsNullOrEmpty(Model.ReviewUser))
										{
											<tr>
												<td>@Html.DisplayNameFor(m => m.ReviewUser):</td>
												<td>@Model.ReviewUser &nbsp; @Model.ReviewDate.ToString("g")</td>
											</tr>
										}
										@if (!string.IsNullOrEmpty(Model.BillingUser))
										{
											<tr>
												<td>@Html.DisplayNameFor(m => m.BillingUser):</td>
												<td>@Model.BillingUser &nbsp; @Model.BillingDate.ToString("g")</td>
											</tr>
										}
									</table>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Jurisdictions</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<table class="table table-condensed table-striped table-hover">
								<thead>
									<tr>
										<th>Billable</th>
										<th>Jurisdiction</th>
									</tr>
								</thead>
								@for (var i = 0; i < Model.DocumentVersionLinks.Count; i++)
								{
								<tr>
									<td>
									<td>@Html.CheckBoxFor(m => m.DocumentVersionLinks[i].Billable, new { @disabled = "disabled" })</td>
									<td>
										@Html.HiddenFor(m => m.DocumentVersionLinks[i].Id)
										@Html.HiddenFor(m => m.DocumentVersionLinks[i].JurisdictionId)
										@Html.DisplayFor(m => m.DocumentVersionLinks[i].JurisdictionName) &nbsp; @Html.DisplayFor(m => m.DocumentVersionLinks[i].JurisdictionId)
									</td>
								</tr>
								}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	if (!string.IsNullOrEmpty(Model.Note))
	{
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Notes</h3>
					</div>
					<div class="panel-body">
						@Html.Raw(Model.Note.Replace(System.Environment.NewLine, "<br />"))
					</div>
				</div>
			</div>
		</div>
	}
}

<div class="row">
	<div class="col-sm-12 form-buttons">
		@if (showSaveButton)
		{
			if (Model.IsReviewUser && false) // hide this for now
			{
				<button type="button" class="btn btn-primary btn-sm btn-approveletterbook">Approve</button>
				<button type="button" class="btn btn-primary btn-sm btn-rejectletterbook">Reject</button>
			}
			else if (Model.IsEntryUser && false) // hide this for now
			{
				<button type="button" class="btn btn-primary btn-sm btn-sendforapprovalletterbook">Send for Approval</button>
			}
			<button type="button" class="btn btn-primary btn-sm btn-saveletterbook">@saveButtonText</button>
		}
		@if (showDeleteButton)
		{
			<button type="button" class="btn btn-primary btn-sm btn-deleteletterbook">Delete</button>
		}
		@Html.ActionLink(cancelButtonText, "Index", "Book", null, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

@section scripts{
	<script>
		$(function () {
			var form = $('#EditForm');

			// Save
			$('.btn-saveletterbook').on('click', function () {
				save();
			});

			// Delete
			$('.btn-deleteletterbook').on('click', function () {
				bootbox.confirm('Are you sure you want to Delete this letter book?', function (result) {
					if (result) {
						form.attr('action', '@Url.Action("Delete")');
						form.submit();
					}
				});
			});

			// Send for Approval
			$('.btn-sendforapprovalletterbook').on('click', function () {
				$('#QAStatus').val('@LetterBookQAStatus.PendingApproval.ToString()').trigger('change');
				save();
			});

			// Approve
			$('.btn-approveletterbook').on('click', function () {
				$('#QAStatus').val('@LetterBookQAStatus.Approved.ToString()').trigger('change');
				save();
			});

			// Reject
			$('.btn-rejectletterbook').on('click', function () {
				$('#QAStatus').val('@LetterBookQAStatus.Rejected.ToString()').trigger('change');
				save();
			});

			$('#BillingSheetId').on('select2:open', function (e) {
				var filter = $(this).data('filter');
				
				if ($('#LaboratoryId').val() != "") {
					filter.LocationId = $('#LaboratoryId').val();
				}
				
				$(this).data('filter', filter);
			});

			$('#BillingSheet').on('change', function () {
				if ($(this).val() === '@LetterBookBillingSheet.USNonSpecialized') {
					$('#NonSpecializedForm').removeClass('hidden');
					$('#SpecializedForm').addClass('hidden');
				}
				else if ($(this).val() === '@LetterBookBillingSheet.USSpecialized') {
					$('#NonSpecializedForm').addClass('hidden');
					$('#SpecializedForm').removeClass('hidden');
				}
				else {
					$('#NonSpecializedForm').addClass('hidden');
					$('#SpecializedForm').addClass('hidden');
				}
			});
		});

		var rejectedStatus = '@LetterBookQAStatus.Rejected.ToString()';

		function save() {
			var form = $('#EditForm');

			if (!validate()) {
				return;
			}

			var oldStatus = $('#OldStatus').val();
			if ('@Model.IsReviewUser' === 'True' && oldStatus !== rejectedStatus && $('#QAStatus').val() === rejectedStatus) {
				bootbox.prompt("Please enter a reject reason", function (result) {
					if (Em(result)) {
						$('#QAStatus').val(oldStatus).trigger('change');
					}
					else {
						$('#Note').val(result);
						form.submit();
					}
				});
			}
			else {
				form.submit();
			}
		}

		function validate() {
			return true;
		}
	</script>
}

