﻿@model Submissions.Web.Areas.Documents.Models.Book.BookIndexViewModel
@using Trirand.Web.Mvc

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.ui-jqgrid tr.jqgrow td {
			white-space: normal;
			vertical-align: top;
		}

		.statusDropDownContainer {
			position: absolute;
		}

		/*.ui-jqgrid-view {
			max-height: 642px;
		}*/

		.ui-jqgrid-bdiv {
			/*overflow-y: scroll !important;*/
			/*max-height: 500px !important;*/
		}

		#mainGridBox {
			padding: 0px;
		}

		#gridRowDiv {
			border-bottom-width: 1px;
			border-bottom-color: grey;
			border-bottom-style: solid;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		.fa-check-circle {
			color: green;
		}
	</style>
}

@{
	ViewBag.FullWidth = true;
	ViewBag.Title = "Letter Book";

	var searchFormClass = "";
	if (Model.Department != Department.ACT && Model.Department != Department.IT )
	{
		searchFormClass = "hidden";
	} 

}

<div id="mainPageDiv">
	<div class="row row-title">
		<div class="col-sm-6">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-6 form-buttons">
			@if (Model.Department == Department.ACT || Model.Department == Department.IT)
			{
				<button id="BatchActionsBtn" class="btn btn-primary btn-sm"><i class="fas fa-cog"></i> Batch Actions</button>
			}
			<a class="btn btn-primary btn-sm" id="TestResults">Test Export Results</a>
			<a class="btn btn-primary btn-sm" id="export">Export</a>
			@Html.ActionLink("Exit", "Index", "Tools", new { Area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
		</div>
	</div>

	<form id="SearchForm" class="@searchFormClass">
		@Html.HiddenFor(m => m.Filters.DepartmentId)
		@Html.HiddenFor(m => m.Filters.Department)
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class=" panel-toggle" data-toggle="collapse" href="#SearchList"><h3 class="panel-title">Search</h3></a>
					</div>
					<div class="panel-body panel-collapse collapse" id="SearchList">
						<div class="form-horizontal">
							<div class="row">
								<div class="col-sm-2">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.FileNumber, new { @class = "control-label col-sm-4" })
										<div class="col-sm-8">
											@Html.TextBoxFor(m => m.Filters.FileNumber, new { @class = "form-control" })
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.DynamicsFileNumString, new { @class = "control-label col-sm-4" })
										<div class="col-sm-8">
											@Html.TextBoxFor(m => m.Filters.DynamicsFileNumString, new { @class = "form-control" })
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.ReportStartDate, new { @class = "control-label col-sm-6" })
										<div class="col-sm-6">
											@Html.TextBoxFor(m => m.Filters.ReportStartDate, new { @class = "form-control datepicker" })
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.ReportEndDate, new { @class = "control-label col-sm-4" })
										<div class="col-sm-8">
											@Html.TextBoxFor(m => m.Filters.ReportEndDate, new { @class = "form-control datepicker" })
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.BatchStatus, new { @class = "control-label col-sm-4" })
										<div class="col-sm-8">
											@Html.ListBoxFor(m => m.Filters.BatchStatus, Model.Filters.BatchStatuses, new { @class = "form-control" })
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-2">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.BillingUserId, new { @class = "control-label col-sm-4" })
										<div class="col-sm-8">
											@Html.LookupFor(m => m.Filters.BillingUserId, m => m.Filters.BillingUser, LookupAjax.Users, false, new { data_filter = Json.Encode(Model.BillerFilter) })
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.BatchNumber, new { @class = "control-label col-sm-6" })
										<div class="col-sm-6">
											@Html.TextBoxFor(m => m.Filters.BatchNumber, new { @class = "form-control" })
											@Html.ValidationMessageFor(m => m.Filters.BatchNumber)
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group form-group-sm">
										@Html.LabelFor(m => m.Filters.LetterTypeIds, new { @class = "control-label col-sm-4" })
										<div class="col-sm-8">
											@Html.LookupMultipleFor(m => m.Filters.LetterTypeIds, Model.Filters.LetterTypes, LookupAjax.DocumentType, false)
										</div>
									</div>
								</div>
								<div class="form-check form-check-inline col-sm-2 padl0">
									@Html.LabelFor(m => m.Filters.LaboratoryId, new { @class = "control-label col-sm-3" })
									<div class="col-sm-9 padl0">
										@Html.LookupFor(m => m.Filters.LaboratoryId, m => m.Filters.Laboratory, LookupAjax.Laboratories, true)
									</div>
								</div>
								<div class="form-check form-check-inline col-sm-3 padl0">
									@Html.LabelFor(m => m.Filters.CurrencyIds, new { @class = "control-label col-sm-3" })
									<div class="col-sm-9 padl0">
										@Html.LookupMultipleFor(m => m.Filters.CurrencyIds, Model.Filters.Currencies, LookupAjax.Currencies, false, new { data_filter = Json.Encode(false) })
									</div>
								</div>
							</div>
							<div class="row">
															
								<div class="form-check form-check-inline col-sm-2">
									@Html.LabelFor(m => m.Filters.OnlyLatest, new { @class = "control-label col-sm-6" })
									<div>
										@Html.CheckBoxFor(m => m.Filters.OnlyLatest)
									</div>
								</div>
								<div class="form-check form-check-inline col-sm-2">
									@Html.LabelFor(m => m.Filters.ShowBillable, new { @class = "control-label col-sm-6" })
									<div>
										@Html.CheckBoxFor(m => m.Filters.ShowBillable)
									</div>
								</div>
								<div class="form-check form-check-inline col-sm-2">
									@Html.LabelFor(m => m.Filters.ShowNonBillable, new { @class = "control-label col-sm-8" })
									<div>
										@Html.CheckBoxFor(m => m.Filters.ShowNonBillable)
									</div>
								</div>
								<div class="col-sm-6">
									<div class="pull-right">
										<button type="button" id="SearchBtn" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>&nbsp;Search</button>
										<button type="button" id="ClearBtn" class="btn btn-primary btn-sm">Clear</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div id="gridRowDiv" class="row">
		<div id="mainGridBox" class="col-sm-12">
			@Html.Trirand().JQGrid(Model.LetterBookGrid.Grid, Model.LetterBookGrid.Grid.ID)
		</div>
	</div>
</div>

<div class="modal" id="BatchActionsModal" data-url='@Url.Action("BatchActions", "Book")' tabindex="-1" role="dialog"></div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		var sessionItemName = 'GLI_LetterBookIndex';

		$(function () {
			$('#SearchForm').on('keypress', function (e) {
				if (e.which === 13) {
					e.preventDefault();
					runGridSearch();
				}
			});
			$('#SearchBtn').on('click', function () {
				$('#SearchBtn').prop('disabled', true);
				runGridSearch();
			});

			$('#export').on('click', function (e) {
				e.preventDefault();
				var startDate = $('#Filters_ReportStartDate').val();
				var endDate = $('#Filters_ReportEndDate').val();
				var laboratoryId = $('#Filters_LaboratoryId').val();
				var url = "@Url.Action("Export")" + '?startDate=' + startDate + '&endDate=' + endDate + "&laboratoryId=" + laboratoryId;
				window.location = url;
			});

			$('#TestResults').on('click', function (e) {
				e.preventDefault();
				var date = $('#Filters_ReportDate').val();
				var startDate = $('#Filters_ReportStartDate').val();
				var endDate = $('#Filters_ReportEndDate').val();
				var laboratoryId = $('#Filters_LaboratoryId').val();
				var url = "@Url.Action("TestExportResults")" + '?startDate=' + startDate + '&endDate=' + endDate + "&laboratoryId=" + laboratoryId;
				$.get(url)
					.done(function (data)
					{
						var displayString = "All Projects in current export have Non-Zero app fees";
						if (data.resultItemList.length > 0) {
							displayString = 'The following have an AppFee of 0 associated with them: ' + "<br/>"
								+ data.resultItemList.join('<br/>');
						}
						if (data.duplicatedDynamicsNumbers.length > 0) {
							displayString += "<br>The Following have been entered multiple times (Duplicates found):" + "<br/>"
								+ data.duplicatedDynamicsNumbers.join('<br/>');
						}
						bootbox.alert(displayString);
					});

			});
			var grid = $('#LetterBookGrid');

			grid.jqGrid("setGridParam", {
				loadComplete: function (data) {
					$('#SearchBtn').prop('disabled', false);
				}
			});

			grid.on('click', 'a.openPdf', function () {
				var gpsItemId = $(this).data('finallettergpsitemid');
				var url = '@Url.Action("GPSFile", "DocumentViewer", new { area = "" })' + '/?gpsItemId=' + gpsItemId;
				window.open(url, '_blank');
			});

			grid.on('click', 'a.statusDropDownItem', function () {
				var self = $(this);
				var letterBookId = self.closest('tr').attr('id');
				var status = self.data('status');
				var statusDescription = self.text();

				$.ajax({
					method: 'POST',
					url: '@Url.Action("UpdateACTStatus", "Book")',
					data: { id: letterBookId, status: status }
				}).done(function (result) {
					if (result === 'ok') {
						self.closest('tr').find('.statusDropDown').text(statusDescription);
					}
				});
			});

			$('#BatchActionsBtn').on('click', function () {
				
				var modalDialog = $('#BatchActionsModal');
				var url = modalDialog.data('url');

				openDialog(modalDialog, url);
			});

			$('#ClearBtn').on('click', function () {
				$('#Filters_BillingUserId').val('').trigger('change');
				$('#Filters_BillingUser').val('');
				$('#Filters_BatchNumber').val('');
				$('#Filters_BatchStatus').val('Pending').trigger('change');
				$('#Filters_FileNumber').val('');
				$("#Filters_OnlyLatest").prop('checked', false);
				$('#Filters_ReportDate').val('');
				$('#Filters_ShowBillable').prop('checked', true);
				$('#Filters_ShowNonBillable').prop('checked', true);
				$('#Filters_LetterTypeId').val('').trigger('change');
				$('#Filters_DynamicsFileNumString').val('');
				$("#Filters_LaboratoryId").val('').trigger('change');
				$('#Filters_CurrencyIds').val('').trigger('change');
			});
			$(".ui-search-toolbar").hide();
		});

		function runGridSearch() {
			$('#LetterBookGrid').trigger('reloadGrid', [{ page: 1 }]);
		}

		function gridBeforeAjaxRequest() {
			loadFilters(sessionItemName);
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
			saveFilters(sessionItemName);
		}

		function getFilters() {
			var filters = {};
			filters.BatchNumber = $('#Filters_BatchNumber').val();
			filters.BatchStatus = $('#Filters_BatchStatus').val();
			filters.BillingUserId = $('#Filters_BillingUserId').val();
			filters.BillingUser = $('#Filters_BillingUser').val();
			filters.Department = $('#Filters_Department').val();
			filters.DepartmentId = $('#Filters_DepartmentId').val();
			filters.FileNumber = $("#Filters_FileNumber").val();
			filters.OnlyLatest = $("#Filters_OnlyLatest").is(':checked');
			filters.LaboratoryId = $("#Filters_LaboratoryId").val();
			filters.ReportStartDate = $('#Filters_ReportStartDate').val();
			filters.ReportEndDate = $('#Filters_ReportEndDate').val();
			filters.ShowBillable = $('#Filters_ShowBillable').is(':checked');
			filters.ShowNonBillable = $('#Filters_ShowNonBillable').is(':checked');
			filters.LetterTypeIds = $('#Filters_LetterTypeIds').val();
			filters.DynamicsFileNumString = $('#Filters_DynamicsFileNumString').val();
			filters.CurrencyIds = $('#Filters_CurrencyIds').val();
			console.log(filters);
			return filters;
		}

		function editLink(cellValue, options, rowObject) {
			return '<a onclick="window.open(\'' + '@Url.Action("Edit", "Book")' + '/' + options.rowId + '?mode=Edit\');return false"  href="' + '@Url.Action("Edit", "Book")' + '/' + options.rowId + '?mode=Edit">Edit</a>';
		}

		function formatFileNumbersJson(cellValue, options, rowObject) {
			var json = JSON.parse(cellValue);
			var links = '';

			var lookup = {};
			var result = [];
			for (var item, i = 0; item = json[i++];) {
				var name = item.FileNumber;
				if (!(name in lookup)) {
					lookup[name] = 1;
					result.push(item);
				}
			}

			result.forEach(function (item) {
				var href = item.SubmissionId;
				links += '<a href="' + href + '" class="text-nowrap">' + formatFileNumberLink(item.SubmissionId, item.FileNumber) + '</a>, ';
			});

			if (!Em(links)) {
				links = links.slice(0, -2);
			}

			return links;
		}

		function formatIsBillable(cellValue, options, rowObject) {
			return cellValue === "True" ? "Yes" : "No";
		}

		function formatIsLatestAlert(cellValue, options, rowObject) {
			return cellValue !== "True" ? '<i class="fas fa-exclamation-triangle text-red" title="This is not the latest version"></i>' :
				'<i class="fas fa-check-circle" title="This is the latest version"></i>';
		}

		function formatComment(cellValue, options, rowObject) {
			return cellValue !== "" && cellValue !== "N/A" ? "<span title='" + cellValue + "'>" + cellValue.substring(0, 50) + "..." + "</span>": "";
		}

		function formatStatus(cellValue, options, rowObject) {
			var departmentCode = rowObject[$(this).getColumnIndexByName("DepartmentCode")];
			var result = '';

			if (departmentCode === '@Department.QA') {
				if (cellValue === '@LetterBookQAStatus.InProgress.ToString()') {
					result = '@LetterBookQAStatus.InProgress.GetEnumDescription()';
				}
				else if (cellValue === '@LetterBookQAStatus.PendingApproval.ToString()') {
					result = '@LetterBookQAStatus.PendingApproval.GetEnumDescription()';
				}
				else {
					result = cellValue;
				}
			}
			else {
				var batchNumber = rowObject[$(this).getColumnIndexByName("BatchNumber")];

				if (cellValue === '@LetterBookACTStatus.InProgress.ToString()') {
					result = '@LetterBookACTStatus.InProgress.GetEnumDescription()';
				}
				else {
					result = cellValue;
				}

				if (!Em(batchNumber)) {
					result = statusMenu(result);
				}
			}

			return result;
		}

		function pdfLetterLink(cellValue, options, rowObject) {
			var link = "";
			if (!Em(cellValue)) {
				var imgUrl = jsPath + "img/pdf.png";
				link = '<a href="#" class="openPdf" data-finallettergpsitemid="' + cellValue + '"><img src="' + imgUrl + '" title="PDF" /></a>';
			}
			return link;
		}

		function statusMenu(status) {
			return '<div class="dropdown statusDropDownContainer"><a role="button" data-toggle="dropdown" class="statusDropDown">' + status + '</a><ul class="dropdown-menu">' +
			'<li><a href="#" class="statusDropDownItem" data-status="@LetterBookACTStatus.Billed">@LetterBookACTStatus.Billed.ToString()</a></li>' +
			'<li><a href="#" class="statusDropDownItem" data-status="@LetterBookACTStatus.Closed">@LetterBookACTStatus.Closed.ToString()</a></li>' +
			'<li><a href="#" class="statusDropDownItem" data-status="@LetterBookACTStatus.InProgress">@LetterBookACTStatus.InProgress.GetEnumDescription()</a></li>' +
			'<li><a href="#" class="statusDropDownItem" data-status="@LetterBookACTStatus.Pending">@LetterBookACTStatus.Pending.ToString()</a></li>' +
			'</ul></div>';
		}
	</script>
}