﻿<template>
	<main :class="{'gli-base-header--fixed-width': fixedWidth}">
		<header>
			<div class="row">
				<div id="gli-base-header-view-header"
					class="col-xs-12 col-sm-3 col-lg-2 text-left">
					<h4>{{ title }}</h4>
				</div>
				<div id="gli-base-header-view-actions"
					class="col-xs-12 col-sm-9 col-lg-10 text-right">
					<!-- 
						@slot Action buttons (ex. save, close) should be placed in this slot, where
						they will be added to the upper-right corner of the view. 
					-->
					<slot name="actions"></slot>
				</div>
			</div>
		</header>
		<section id="gli-base-header-view-content"
			class="row">
			<!-- 
				@slot This is where the main content of the header view resides.
			-->
			<slot></slot>
		</section>
	</main>
</template>

<script>
/**
 * A view that provides a header for your content. View action buttons should be placed
 * in the `actions` template slot.
 */
export default {
	props: {
		/** The name of the view to display in the top left corner. */
		title: {
			type: String,
			required: true
		},
		/** The content cannot expand any further than 960px when this is set to true. */
		fixedWidth: {
			type: Boolean,
			required: false
		}
	}
};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	$fixed-width: 960px;

	main {
		/* Fixes margin issue with nav header */
		margin-top: -8px;

		.row {
			margin: 0;
		}
	}

	header {
		background: linear-gradient(Colors.$blue, Colors.$blueLight);
		color: Colors.$white;

		#gli-base-header-view-actions,
		#gli-base-header-view-header {
			padding: Spacing.$full;
		}

		h4 {
			font-size: 20px;
			line-height: 20px;
			margin: 6px 0 5px;
		}
	}

	#gli-base-header-view-content {
		padding-top: Spacing.$full;
	}

	.gli-base-header--fixed-width {
		@media (min-width: $fixed-width) {
			.row,
			#gli-base-header-view-content {
				margin: 0 auto;
				max-width: $fixed-width;
			}

			header {
				#gli-base-header-view-actions,
				#gli-base-header-view-header {
					padding: Spacing.$full 0;
				}
			}
		}
	}

</style>