﻿@model Submissions.Web.Areas.Submission.Models.Signature.EditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Signature";

	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}

	var signatureFilter = new SignatureFilter();
}

@using (Html.BeginForm("edit", "signature", FormMethod.Post, new { id = "EditForm" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.Source)
	@Html.HiddenFor(m => m.SubmissionId)
	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-4 form-buttons">
			@if (Model.ShowSaveButton)
			{
				<input type="button" value="@saveButtonText" class="btn btn-sm btn-primary" id="AddBtn" />
			}
			@if ((Model.Mode == Mode.Edit) && Model.ShowDeleteButton)
			{
				<input type="button" value="Delete" class="btn btn-sm btn-primary" id="DeleteBtn" />
			}
			<a href="@Model.CancelButtonUrl" id="CancelBtn" class="btn btn-sm btn-primary">Cancel</a>
		</div>
	</div>
	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.TypeId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.LookupFor(m => m.TypeId, m => m.Type, LookupAjax.SignatureTypes, false, new { data_filter = Json.Encode(new SignatureFilter() { ExcludedTypes = Model.TypeLogic.ExcludedTypes }) })
				@Html.ValidationMessageFor(m => m.TypeId)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ScopeId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.LookupFor(m => m.ScopeId, m => m.Scope, LookupAjax.SignatureScopes, false)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Signature, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(m => m.Signature, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Signature)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.VersionId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.LookupFor(m => m.VersionId, m => m.Version, LookupAjax.SignatureVersions, false, new { data_filter = Json.Encode(signatureFilter) })
			</div>
		</div>
		<div id="alpha" class="form-group form-group-sm">
			@Html.LabelFor(m => m.AlphaVersion, new { id = "AlphaLabel", @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(m => m.AlphaVersion, new { @class = "form-control" })
			</div>
		</div>
		@if (Model.HasFilePath)
		{
			<div class="form-group form-group-sm">
				@Html.LabelFor(m => m.FilePath, new { @class = "control-label col-sm-2" })
				<div class="col-sm-4">
					@Html.TextBoxFor(m => m.FilePath, new { @class = "form-control" })
				</div>
			</div>
		}
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Seed, new { @class = "control-label col-sm-2" })
			<div class="col-sm-4">
				@Html.TextBoxFor(m => m.Seed, new { @class = "form-control" })
			</div>
		</div>
	</div>
}

@section scripts{
	<script>
		$(function () {
			var form = $('#EditForm');
			alphaLogic();
			setVersionFilter();

			$("#TypeId").change(function () {
				versionLogic();
				alphaLogic();
			});

			$('#AddBtn').click(function () {
				form.validate();
				if (form.valid()) {
					$.post('@Url.Action("checksignatureexist")', form.serialize())
						.done(function (json) {
							if (json) {
								bootbox.confirm('Signature already exists<br /><br />The combination of Type, Scope, Version, Signature, & Seed can not be duplicated. Please update your selections accordingly.');
							} else {
								form.submit();
							}
						});
				}
			});

			$('#DeleteBtn').on('click', function () {
				bootbox.confirm('Are you sure you want to delete this Signature?', function (result) {
					if (result) {
						form.attr('action', '@Url.Action("delete")').submit();
					}
				});
			});
		});

		function versionLogic() {
			$('#VersionId').empty();
			setVersionFilter();
			$.get('@Url.Action("getdefaultversion")', { signatureTypeId: $('#TypeId').val() },
				function (data) {
					if (!$.isEmptyObject(data)) {
						$('#VersionId').append(new Option(data.text, data.id, true));
						$('#VersionId').trigger('change');
					}
			});
		}

		function alphaLogic() {
			var data = @Html.Raw(Json.Encode(Model.AlphaLogic));
			var mergedList = data.TypeForHeader.concat(data.Types);

			if (mergedList.indexOf($("#TypeId :selected").text()) > -1) {
				$('#alpha').show();
				if (data.TypeForHeader.indexOf($("#TypeId :selected").text()) > -1) {
					$('#AlphaLabel').text('Alpha Version');
				} else {
					$('#AlphaLabel').text('ArgOS Version');
				}
			} else {
				$('#alpha').hide();
			}
		}

		function setVersionFilter() {
			var filter = $('#VersionId').data('filter');
			filter.TypeId = $('#TypeId').val();
			$('#VersionId').data('filter', filter);
		}
	</script>
}
