﻿@model Submissions.Web.Areas.Submission.Models.Signature.IndexViewModel

@{
	ViewBag.FullWidth = true;
	ViewBag.Title = "Signatures";
}

<div class="row row-title">
	<div class="col-sm-8">
		<h3>@ViewBag.Title <small>@Model.SubmissionSubTitle.FileNumber</small></h3>
		<div class="submission-subtitle">
			<span title="ID Number">@Model.SubmissionSubTitle.IdNumber</span>
			<span title="Game Name">@Model.SubmissionSubTitle.GameName</span>
			<span title="Date Code">@Model.SubmissionSubTitle.DateCode</span>
			<span title="Function">@Model.SubmissionSubTitle.Function</span>
		</div>
	</div>
	<div class="col-sm-4 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { submissionId = Model.SubmissionId, mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		@Html.ActionLink("Cancel", "Detail", "Submission", new { id = Model.SubmissionId }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(m => m.Signatures.FirstOrDefault().Type)</th>
			<th>@Html.DisplayNameFor(m => m.Signatures.FirstOrDefault().Scope)</th>
			<th>@Html.DisplayNameFor(m => m.Signatures.FirstOrDefault().Signature)</th>
			<th>@Html.DisplayNameFor(m => m.Signatures.FirstOrDefault().Version)</th>
			<th>@Html.DisplayNameFor(m => m.Signatures.FirstOrDefault().AlphaVersion)</th>
			@if (Model.HasFilePath)
			{
				<th>@Html.DisplayNameFor(m => m.Signatures.FirstOrDefault().FilePath)</th>
			}
			<th>@Html.DisplayNameFor(m => m.Signatures.FirstOrDefault().Seed)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Signatures.Count == 0)
		{
			<tr><td colspan="8" class="text-warning text-center"><em>No Records Found</em></td></tr>
		}
		@foreach (var item in Model.Signatures)
		{
			<tr>
				<td>@item.Type</td>
				<td>@item.Scope</td>
				<td>@item.Signature</td>
				<td>@item.Version</td>
				<td>@item.AlphaVersion</td>
				@if (Model.HasFilePath)
				{
					<td>@item.FilePath</td>
				}
				<td>@item.Seed</td>
				<td class="text-right">
					@Html.ActionLink("Edit", "Edit", new { id = item.Id, submissionId = item.SubmissionId, mode = "Edit" })
				</td>
			</tr>
		}
	</tbody>
</table>