﻿@model Submissions.Web.Areas.Submission.Models.SoftwareCheck.IndexViewModel
@using Submissions.Web.Areas.Submission.Models.SoftwareCheck

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.ui-jqgrid tr.jqgrow td {
			white-space: normal;
			vertical-align: top;
			overflow: visible !important;
		}

		.ellips {
			padding-left: 3px;
			padding-right: 3px;
		}

		.ui-jqgrid-bdiv {
			overflow: visible !important;
		}

		.editActionsDropDownContainer li {
			font-size: 12px;
		}
	</style>
}

@{
	ViewBag.Title = "Software Check";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Exit", "index", "home", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Search</h3>
			</div>
			<div class="panel-body">
				<form id="SearchForm">
					<div class="form-horizontal">
						<div class="col-sm-8">
							<div class="form-group form-group-sm">
								@Html.LabelFor(m => m.Filters.LocationId, new { @class = "control-label col-sm-2" })
								<div class="col-sm-6">
									@Html.LookupFor(m => m.Filters.LocationId, m => m.Filters.Location, LookupAjax.Laboratories, false)
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="pull-right">
								<button type="button" id="SearchBtn" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>&nbsp;Search</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.SoftwareCheckGrid.Grid, @Model.SoftwareCheckGrid.Grid.ID)
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		var canEdit = '@Util.HasAccess(Permission.Submission, AccessRight.Edit)' === 'True';

		$(function () {
			var grid = $('#SoftwareCheckGrid');

			grid.on('mouseenter', 'td.padright', function () {
				$(this).prop('title', '');
			});

			grid.on('click', 'a.editActionsDropDownItem', function (e) {
				e.preventDefault();

				var shipmentId = $(this).closest('.editActionsDropDownContainer').data('shipmentid');
				var editAction = $(this).data('editaction');

				var postData = {
					shipmentId: shipmentId,
					editAction: editAction
				};

				$.post('@Url.Action("edit", "softwarecheck")', postData)
					.done(function (data) {
						if (editAction === '@EditAction.Accept' || editAction === '@EditAction.Unaccept') {
							grid.jqGrid('setCell', shipmentId, 'SoftwareCheckUser', data.softwareCheckUser || ' ');
						}
						else if (editAction === '@EditAction.InEngYes') {
							grid.jqGrid('setCell', shipmentId, 'SoftwareWithEngineering', 'Yes');
						}
						else if (editAction === '@EditAction.InEngNo') {
							grid.jqGrid('setCell', shipmentId, 'SoftwareWithEngineering', 'No');
						}
						else if (editAction === '@EditAction.Complete') {
							var currentPage = grid.getGridParam('page');
							grid.trigger('reloadGrid', [{ page: currentPage }]);
						}
					})
					.fail(function () {
						alert('error');
					});
			});

			$('#SearchForm').on('keypress', function (e) {
				if (e.which === 13) {
					e.preventDefault();
					runGridSearch();
				}
			});

			$('#SearchBtn').on('click', function () {
				runGridSearch();
			});
		});

		function editActionsLink(cellValue, options, rowObject) {
			if (!canEdit) {
				return '';
			}

			return '<div class="dropdown editActionsDropDownContainer" data-shipmentid="' + options.rowId + '"><a role="button" data-toggle="dropdown" class="ellips"><i class="fas fa-ellipsis-v edit-ellipsis-i"></i></a><ul class="dropdown-menu dropdown-menu-right">' +
				'<li><a href="#" class="editActionsDropDownItem" data-editaction="@EditAction.Accept"><i class="fas fa-fw fa-plus-circle"></i> @EditAction.Accept.GetEnumDescription()</a></li>' +
				'<li><a href="#" class="editActionsDropDownItem" data-editaction="@EditAction.Unaccept"><i class="fas fa-fw fa-minus-circle"></i> @EditAction.Unaccept.GetEnumDescription()</a></li>' +
				'<li><a href="#" class="editActionsDropDownItem" data-editaction="@EditAction.Complete"><i class="fas fa-fw fa-check-circle"></i> @EditAction.Complete.GetEnumDescription()</a></li>' +
				'<li><a href="#" class="editActionsDropDownItem" data-editaction="@EditAction.InEngYes"><i class="fas fa-fw fa-share"></i> @EditAction.InEngYes.GetEnumDescription()</a></li>' +
				'<li><a href="#" class="editActionsDropDownItem" data-editaction="@EditAction.InEngNo"><i class="fas fa-fw fa-share fa-flip-horizontal"></i> @EditAction.InEngNo.GetEnumDescription()</a></li>' +
				'</ul></div>';
		}

		function runGridSearch() {
			$('#SoftwareCheckGrid').trigger('reloadGrid', [{ page: 1 }]);
		}

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
		}

		function getFilters() {
			var filters = {};
			filters.LocationId = $('#Filters_LocationId').val();
			return filters;
		}
	</script>
}

