<template>
	<div>
		<!--<div class="container-fluid">
			<div class="row row-title">
				<div class="col-sm-6">
					<h3>Generate Conformance Criteria - {{vm.projectInfo.bundleName}}</h3>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div v-if="bundleLoaded" class="col-lg-3 pull-right">
					<JurisdictionPicker></JurisdictionPicker>
				</div>
			</div>
		</div>-->
		<!-- BEGIN letter-generation__header -->
		<div id="letter-generation__header">
			<div id="letter-generation__header__left">
					<h3 id="letter-generation__header__left__bundle-name"
						class='letter-generation__header__left__bundle-name letter-generation__border-leftRight'>
						Generate Conformance Criteria - {{ vm.projectInfo.bundleName }}&nbsp;
					</h3>
			</div>
			<div id="letter-generation__letter-preview__header"
				 class='letter-generation__letter-preview__header'>
				<div class="col-sm-2"></div>
				<div class="col-sm-10"><JurisdictionPicker @jurisdictionSelectionChanged="handle__showPreview('content')"></JurisdictionPicker></div>
			</div>
		</div>

		<!--<div class="container-fluid">

		<div v-if="bundleLoaded" class="row" id="generator">
			<div :class="[letterDivCollapsed ? 'col-lg-11' : 'col-lg-6', 'engineering-tab-area']">
				<EvolutionClauses class="tab" v-bind:letterCollapsed="letterDivCollapsed"></EvolutionClauses>
			</div>
			<div class="col-lg-1 collapse-letter-toggle bring-to-front">
				<Partitioner @toggle="letterDivCollapsed = !letterDivCollapsed" :collapsed="letterDivCollapsed" anchorId="generator"></Partitioner>
			</div>
			<div v-show="!letterDivCollapsed" id="letterOutputDiv" class="col-lg-5 letter-output-area">
				<LetterPreview></LetterPreview>
			</div>
		</div>
	</div>-->
		<!-- BEGIN Body -->
		<div id="letter-generation__body">
			<splitpanes class='default-theme'
						@resize="workSpacePaneSize = $event[0].size">
				<pane id="letter-generation__work-space"
					  min-size="0"
					  :size="workSpacePaneSize">
					<div id="letter-generation__work-space__panel"
						 class='letter-generation__body__panel'>
						<div class="row">
							<div class='col-sm-9'></div>
							<div class='col-sm-3'>
								<div class='letter-generation__toggle-full-width pull-right'>
									<button @click="setWorkSpaceWidth(null)" class='letter-generation__depth-button btn-primary'>Toggle Full Width</button>
								</div>
							</div>
						</div>
						<br />
						<EvolutionClauses class="tab" v-bind:letterCollapsed="letterDivCollapsed"></EvolutionClauses>
					</div>
				</pane>
				<pane id="letter-generation__letter-preview"
					  :size="letterPreviewPaneSize">
					<div id="letter-generation__letter-preview__panel"
						 class='letter-generation__body__panel'>
						<ul class="nav nav-pills">
							<li role="presentation" v-bind:class="{ active: visibleRightTab == 'content'}"><a href="#" @click="visibleRightTab = 'content'">Content</a></li>
							<li role="presentation" v-bind:class="{ active: visibleRightTab == 'preview'}"><a href="#" @click="handle__showPreview('preview')">Preview</a></li>
						</ul>
						<LetterPreview v-show="visibleRightTab == 'content'"></LetterPreview>
						<base-pdf-viewer v-show="visibleRightTab == 'preview'" :filePath="pdfPreviewPath" :isLoading="generatingPDFPreview"></base-pdf-viewer>
					</div>
				</pane>
			</splitpanes>
		</div>
		<!-- END Body-->


	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';

	// API
	import api from '@/api/documents/generate';
	// External Imports
	import { Splitpanes, Pane } from 'splitpanes'
	import 'splitpanes/dist/splitpanes.css'
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	const { mapGetters: evoGetters, mapActions: evoActions } = createNamespacedHelpers('evolution');

	import SelectStandard from '@/components/utility/SelectStandard.vue';

	import LetterPreview from '@/components/documents/generate/LetterPreview/LetterPreview.vue';


	import EvolutionClauses from '@/components/documents/generate/Sources/Evolution/EvolutionClauses.vue';

	import BundlePicker from '@/components/documents/generate/Config/BundlePicker.vue';
	import Partitioner from '@/components/documents/generate/Config/Partitioner.vue';
	import JurisdictionPicker from '@/components/documents/generate/Config/JurisdictionPicker.vue';
	import TemplatePicker from '@/components/documents/generate/Config/TemplatePicker.vue';

	export default {
		components: {
			// External
			Splitpanes,
			Pane,
			// Internal
			SelectStandard,
			LetterPreview,
			EvolutionClauses,
			BundlePicker,
			Partitioner,
			JurisdictionPicker,
			TemplatePicker
		},
		directives: {

		},
		data() {
			return {
				letterDivCollapsed: false,
				selectedTemplateId: -1,
				vm: initialData,
				workSpacePaneSize: 50,
				generatingPDFPreview: false,
				pdfPreviewPath: '',
				visibleRightTab: 'content'
			}
		},
		computed: {
			letterPreviewPaneSize: function () {
				let result = 100 - this.workSpacePaneSize;
				return result ? result : 0.01;
			},
			...evoGetters([
				'clauseReport'
			]),
			...letterGetters([
				'controls',
				'manufacturerId',
				'jurisdictionIds'
			]),
			...sourceGetters([
				'jurisdictionsLetterDetails',
				'jurisdictionClauses',
				'clauseReports'
			]),
			...mapGetters([
				'bundleLoaded',
				'letterPreviewJurisdiction',
				'letterPreviewJurisdictions',

			]),
			displayJurisdiction: {
				get: function () {
					return this.letterPreviewJurisdiction;
				},
				set: function (sel) {
					this.setLetterSelectedJurisdiction(sel);
				}
			},
		},
		mounted: function () {

		},
		methods: {
			generatePDF: function () {
				let pdfDiv = document.getElementById("printedLetterDiv");
				//let cssEl = document.getElementById("PDFCSS");

				// document.documentElement.outerHTML
				let cloned = document.documentElement.cloneNode(true);
				let clonedBody = cloned.getElementsByTagName("body")[0];
				clonedBody.innerHTML = "";
				clonedBody.appendChild(pdfDiv.cloneNode(true));
				let ret = {};


				this.document = cloned.outerHTML;
				Vue.nextTick(() => {
					let form = this.$refs.GenerateLetterForm;
					form.action = jsPath + 'documents/generate/generatepdfpost';
					form.submit();
				});
			},
			handle__showPreview: async function (view) {
				if (!this.generatingPDFPreview) {
					this.generatingPDFPreview = true;
					this.visibleRightTab = view;
					this.showPreview = (view === 'preview');
					if (this.showPreview)
						await this.get__PDFPreview();
					this.generatingPDFPreview = false;
				}
			},
			get__PDFPreview: async function () {
				let pdfDiv = document.getElementById("printedLetterDiv");
				let cloned = document.documentElement.cloneNode(true);
				let clonedBody = cloned.getElementsByTagName("body")[0];
				clonedBody.innerHTML = "";
				clonedBody.appendChild(pdfDiv.cloneNode(true));

				try {
					let payload = {
						html: cloned.outerHTML,
						jurisdictionId: this.letterPreviewJurisdiction,
						language: (this.isSecondaryLanguageLetter) ? this.secondaryLetterLanguage : ""
					}

					const result = await api.getLetterPDFPreview(payload);
					let resultAsJSON = {};
					try {
						resultAsJSON = JSON.parse(result.data);
					}
					catch {
						resultAsJSON = { filePath: undefined };
					}
					if (resultAsJSON.filePath) {
						let formatedPath = resultAsJSON.filePath.replace(/\\/g, "/");
						this.pdfPreviewPath = formatedPath;
					}
					else {
						this.pdfPreviewPath = undefined;
					}
				}
				catch (err) {
					console.log({ err })
				}
			},
			setWorkSpaceWidth: function (width) {
				if (width) {
					this.workSpacePaneSize = width;
				}
				else {
					let workspaceIsFullWidth = this.workSpacePaneSize > 99;
					this.workSpacePaneSize = workspaceIsFullWidth ? 50 : 100;
				}

			},
			...evoActions({
				setEvoClauseReports: 'setClauseReport',
				setClauseReportCounts: 'setClauseReportCounts'
			}),
			...mapActions([
				'setBundleLoaded',
				'setSelectedBundle',
				'setLetterJurisdictionOptions',
				'setLetterSelectedJurisdiction',
				'setMode',
				"setSecondaryLetterLanguage",
			]),
			...letterActions([
				'setLetterContent',
				'setProjectInfo'
			]),
			...sourceActions([
				'setClauseReports',
				'setJurisdictionLetterDetails'
			])
		},
		created: function () {
			//this.vm.letter.sections[0].memos[0].letterContent = "<template v-for=\"page in CCPageCount(ccDocuments, memo.localId)\"><table v-if=\"GetClauses(ccDocuments, page, memo.localId).length > 0\" :id=\"'CCTable' + page\" class=\"letter-page-margin letter-page-shadow letter-page-size\"><tr><td class=\"letter-page-column\"><table class=\"default\" align=\"center\" trborder=0 cellspacing=0 cellpadding=0><template v-for=\"(clause, clauseIndex) in GetClauses(ccDocuments, page, memo.localId)\"><template v-if=\"clauseIndex === 0 || clause.sectionName !== GetClauses(ccDocuments, page, memo.localId)[clauseIndex-1].sectionName\"><tr class=\"default-header-background\" style='page-break-inside:avoid;page-break-after:avoid;'><td class=\"default-header-border default-header-padding\" width=604 colspan=4><p class=\"default-header-font default-margins\">{{ clause.sectionName }} ({{ clause.documentName }})</p></td></tr><tr class=\"default-header-background\" style='page-break-inside:avoid;page-break-after:avoid;page-break-before:avoid;'><td :class=\"[generatingPDF ? 'default-header-padding' : 'itext-header-padding', 'default-header-border']\" width=292 ><p class=\"default-header-font default-margins align-center\">Text</p></td><td :class=\"[generatingPDF ? 'default-header-padding' : 'itext-header-padding', 'default-header-border']\" width=96><p class=\"default-header-font default-margins align-center\">Applicable?</p></td><td :class=\"[generatingPDF ? 'default-header-padding' : 'itext-header-padding', 'default-header-border']\" width=66><p class=\"default-header-font default-margins align-center\">Pass/Fail</p></td><td :class=\"[generatingPDF ? 'default-header-padding' : 'itext-header-padding', 'default-header-border']\" width=150><p class=\"default-header-font default-margins align-center\">Internal comments</p></td></tr></template><tr style='page-break-inside:avoid;page-break-before:avoid;'><td :class=\"[generatingPDF ? 'default-padding' : 'itext-padding', 'default-border', 'default-margins', 'default-word-break']\" width=292><p class=\"default-font\">{{ clause.section }} {{ clause.memo }}</p></td><td :class=\"[generatingPDF ? 'default-padding' : 'itext-padding', 'default-border', 'default-margins', 'default-word-break']\"  width=96><p class=\"default-font align-center\">Applicable</p></td><td :class=\"[generatingPDF ? 'default-padding' : 'itext-padding', 'default-border', 'default-margins', 'default-word-break']\" width=66><p class=\"default-font align-center\">{{ clause.answer }}</p></td><td :class=\"[generatingPDF ? 'default-padding' : 'itext-padding', 'default-border', 'default-margins', 'default-word-break']\" width=150><p class=\"default-font\">{{ clause.explanation }}</p></td></tr></template></table></td></tr></table><div v-if=\"!generatingPDF && GetClauses(ccDocuments, page, memo.localId).length > 0\" class=\"letter-page-break row\"><div class=\"row\"><br /><br /></div></div></template>";

			this.setMode(1); //1 is for EVo
			this.setProjectInfo(this.vm.projectInfo);
			this.setSecondaryLetterLanguage(this.vm.letter.sections[0].memos); //language

			this.setLetterJurisdictionOptions(this.vm.letterJurisdictionOptions);
			this.setLetterContent(this.vm.letter);
			this.setJurisdictionLetterDetails(this.vm.jurisdictionData);

			this.setClauseReports({ reports: this.vm.clauseReports, controls: this.controls, memos: this.vm.letter.sections[0].memos });
			this.setEvoClauseReports(this.jurisdictionClauses(this.letterPreviewJurisdiction));
			this.clauseReport.hideClausePanel = false;
			this.setClauseReportCounts(getClauseReportCounts(this.clauseReports, this.letterPreviewJurisdiction));			
			this.setBundleLoaded(true);
		}
	}
</script>
<style scoped>
	#letter-generation__toast-notification {
		z-index: 1000;
		width: 75%;
		margin: 0 auto;
		position: sticky;
		top: 30px;
	}

	#letter-generation__header {
		width: 100%;
		display: flex;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#letter-generation__header__left {
		display: flex;
		width: 50%;
		padding-bottom: 0;
	}

	.letter-generation__header__left__item {
		width: 50%;
	}

	.letter-generation__header__left__bundle-name {
		color: #083358;
	}

	#letter-generation__header__right {
		width: 50%;
		display: flex;
		justify-content: flex-end;
	}

	#letter-generation__content-header {
		display: flex;
		align-items: center;
		padding-top: 0;
		width: 100%;
	}

	.letter-generation__work-space__header {
		width: 50%;
	}

	.letter-generation__work-space__nav__item {
		border-radius: 5px;
		flex-grow: 1;
	}

	.letter-generation__work-space__nav__item__text {
		text-decoration: none;
		padding: 10px;
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.letter-generation__work-space__nav {
		width: 100%;
	}

	.letter-generation__work-space__nav__list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		background-color: #083358;
		border-radius: 10px;
	}

	@media all and (max-width:1600px) {
		.letter-generation__work-space__nav__list {
			flex-wrap: wrap;
		}
	}



	#letter-generation__letter-preview__header {
		display: flex;
		justify-content: flex-end;
		width: 50%;
		padding-bottom: 15px;
	}

	#letter-generation__body {
		height: 80vh;
	}

	.letter-generation__body__panel {
		background: #F1F1F1;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		height: inherit;
		margin: 20px;
		overflow-y: scroll;
	}

	.active {
		background-color: #0F4471;
	}

	.letter-generation__toggle-full-width {
		margin-top: 10px;
		margin-right: 20px;
		padding-right: 15px;
	}

	.word-wrap {
		word-wrap: break-word;
		overflow: visible;
	}
	.flex-navigation {
		display: flex;
		align-items: flex-end;
	}

	.no-padding {
		padding: 0 0 0 0;
	}

	.padding-bottom {
		padding-bottom: .5em;
	}

	button.engineering-tab {
		font-size: 1.5em;
	}

		button.engineering-tab:hover {
			text-decoration: underline;
		}

	.btn-group.tab-group {
		display: flex;
	}

	.tab-group .btn {
		flex: 1
	}

	div.engineering-input-area {
		background-color: lightblue;
	}

	div.engineering-tab-area {
		padding-left: .5em; /*couldn't get 'no-gutters' to work with Bootstrap, oh well*/
		padding-right: 0em;
	}

	div.letter-output-area {
		padding-left: .5em; /*couldn't get 'no-gutters' to work with Bootstrap, oh well*/
		padding-right: .5em;
	}

	.plainTextControl {
		width: 100%;
	}

	div.collapse-letter-toggle {
		max-width: 12px;
		margin: 0;
		padding-left: 0;
		padding-right: 0;
	}


	.bring-to-front {
		z-index: 1;
	}
	/*.vue-affix {
		width: 30px;

	}*/

</style>
