﻿@model Submissions.Web.Areas.Tools.Models.PDFEmailRule
@{
	ViewBag.Title = "Edit PDF Rule";
}
<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}

