﻿@model Submissions.Web.Areas.Lookups.Models.JurisdictionMappingEditViewModel

@{
	ViewBag.Title = Model.Mode + " Jurisdiction Mapping";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "JurisdictionMapping", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.AccountingDefaults)

	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m => m.Jurisdiction)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			@if (Util.HasAccess(Permission.JurisdictionMapping, AccessRight.Edit)
				|| Util.HasAccess(Permission.JurisdictionMapping, AccessRight.Add))
			{
				<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			}
			@Html.ActionLink("Cancel", "Index", "JurisdictionMapping", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>
	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ManufacturerCode, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.ManufacturerCode, m => m.Manufacturer, LookupAjax.Manufacturers, false)
				@Html.ValidationMessageFor(m => m.ManufacturerCode)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.JurisdictionId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.JurisdictionId, m => m.Jurisdiction, LookupAjax.Jurisdictions, false)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.SportsJurisdictionId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.SportsJurisdictionId, m => m.SportsJurisdiction, LookupAjax.Jurisdictions, false)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ExternalJurisdictionCode, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.ExternalJurisdictionCode, new { @class = "form-control", @autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.ExternalJurisdictionCode)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ExternalJurisdictionId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.ExternalJurisdictionId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ExternalJurisdictionId)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.ExternalJurisdictionDescription, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.ExternalJurisdictionDescription, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ExternalJurisdictionDescription)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(model => model.Active, new { @class = "padcheckbox" })
				@Html.ValidationMessageFor(model => model.Active)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Flatfile, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(model => model.Flatfile, new { @class = "padcheckbox" })
				@Html.ValidationMessageFor(model => model.Flatfile)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(model => model.Billing, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.CheckBoxFor(model => model.Billing, new { @class = "padcheckbox" })
				@Html.ValidationMessageFor(model => model.Billing)
				<div id="billingMessage" class="field-validation-error" style="display: none;">
					This GLI Jurisdiction already has a designated Manufacturer Billing Jurisdiction.
				</div>
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.SeperateProjectBatchNumber, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
			@Html.TextBoxFor(m => m.SeperateProjectBatchNumber, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.SeperateProjectBatchNumber)
			</div>
		</div>
		<div class="row" id="accountingDefaultsTable-vue">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Accounting Defaults</h3>
					</div>
					<div class="panel-body">
						<table class="table table-condensed table-striped table-hover">
							<thead>
								<tr>
									<th>Company</th>
									<th>Currency</th>
									<th>Contract Type</th>
									<th>Test Lab</th>
									<th>For Transfer</th>
								</tr>
							</thead>
							<tbody class="form-group form-group-sm">
								<tr v-for="(accountingDefault, index) in accountingDefaults">
									<td>
										<Lookup :id="'Company_'+index"
												:lookuptextfield="accountingDefault.Company"
												lookupajax="Companies"
												@@update-lookup-text-field="updateCompany"
												v-model="accountingDefault.CompanyId" />
									</td>
									<td>
										<Lookup :id="'Currency_'+index"
												:lookuptextfield="accountingDefault.Currency"
												lookupajax="Currencies"
												@@update-lookup-text-field="updateCurrency"
												v-model="accountingDefault.CurrencyId" />
									</td>
									<td>
										<Lookup :id="'ContractType_'+index"
												:lookuptextfield="accountingDefault.ContractType"
												lookupajax="ContractTypes"
												@@update-lookup-text-field="updateContract"
												v-model="accountingDefault.ContractTypeId" />
									</td>
									<td>
										<Lookup :id="'Lab_'+index"
												:lookuptextfield="accountingDefault.Lab"
												lookupajax="Laboratories"
												@@update-lookup-text-field="updateLab"
												v-model="accountingDefault.LabId" />
									<td>
										<p>{{accountingDefault.ForTransfer}}</p>
									</td>
									<td class="text-right"><a href="#" v-on:click="removeAccountingDefault(accountingDefault)">[ Remove ]</a></td>
								</tr>
							</tbody>
						</table>
						<div class="row">
							<div class="col-sm-12">
								<a href='#' v-on:click="addAccountingDefault" v-show="accountingDefaults.length < 2"><i class="fas fa-plus"></i> Add Accounting Default</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scripts {
	@Scripts.Render("~/bundles/script/vue")
	<script>
		var validForm = true;
		var accountingDefaultsModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AccountingDefaults));

		Vue.component('Lookup', {
			props: ['id', 'name', 'value', 'lookupajax', 'lookuptextfield', 'filter', 'templatename'],
			template: '<select class="form-control vue-select" :id="id" :name="name" style="width:100%;"></select>',
			mounted: function () {
				var self = this;
				var element = $(this.$el);
				var pageSize = 50;
				var lookupAjaxUrl = jsPath + 'LookupsAjax/' + this.lookupajax;
				var templateName = this.templatename ? window[this.templatename] : undefined;
				var optionAppend = new Option(this.lookuptextfield, this.value == null ? '' : this.value, true, true);

				element
					.select2({
						ajax: {
							url: lookupAjaxUrl,
							dataType: 'json',
							delay: 250,
							data: function (params) {
								params.page = params.page || 1;
								params.term = params.term || '';

								return {
									pageSize: pageSize,
									pageNum: params.page,
									searchTerm: params.term,
									filter: JSON.stringify(self.filter)
								};
							},
							processResults: function (data, params) {
								params.page = params.page || 1;

								return {
									results: data.Results,
									pagination: {
										more: (params.page * pageSize) < data.Total
									}
								};
							}
						},
						templateResult: templateName,
						templateSelection: templateName
					})
					.on('change', function () {
						self.$emit('input', this.value ? this.value : null);
						self.$emit('update-lookup-text-field', $('option:selected', self.$el).text(), this.value, this.id);
					})
					.append(optionAppend)
					.trigger('change');

				lockScrollbar(this.$el);
			},
			watch: {
				value: function (value) {
					var optionAppend = new Option(this.lookuptextfield, value, true, true);
					$(this.$el).empty().append(optionAppend).val(value).trigger('change');
				}
			},
			destroyed: function () {
				$(this.$el).off().select2('destroy');
			}
		});

		var app = new Vue({
			el: '#accountingDefaultsTable-vue',
			data: {
				accountingDefaults: accountingDefaultsModel
			},
			methods: {
				addAccountingDefault: function () {
					this.handleAdd();
				},
				removeAccountingDefault: function (acountingDefault) {
					this.accountingDefaults = this.accountingDefaults.filter(function (item) { return item != acountingDefault; });
				},
				updateCompany: function (newValue, selectedId, id) {
					this.accountingDefaults[id.split('_')[1]].Company = newValue;
				},
				updateCurrency: function (newValue, selectedId, id) {
					this.accountingDefaults[id.split('_')[1]].Currency = newValue;
				},
				updateContract: function (newValue, selectedId, id) {
					this.accountingDefaults[id.split('_')[1]].ContractType = newValue;
				},
				updateLab: function (newValue, selectedId, id) {
					this.accountingDefaults[id.split('_')[1]].Lab = newValue;
				},
				handleAdd: function () {
					if(this.accountingDefaults.length === 0) {
						this.accountingDefaults.push({ ForTransfer: false});
					} else if (this.accountingDefaults.length === 1) {
						this.accountingDefaults.push({
							ForTransfer: !this.accountingDefaults[0].ForTransfer
						});
					}
				},
			}
		});

		$(function () {
			var acctDefaultModel = $('#AccountingDefaults');
			acctDefaultModel.val(JSON.stringify(app.accountingDefaults));
		});

		$("#LookupForm").submit(function (e) {
			if (!(validForm)) {
				e.preventDefault();
			}
			else {
				var acctDefaultModel = $('#AccountingDefaults');
				acctDefaultModel.val(JSON.stringify(app.accountingDefaults));
			}
		});

		// Mark the Error as Resolved
		$('#Billing').on('change', function () {
			id = $('#Id').val();
			manufacturerShortID = $('#ManufacturerCode').val();
			jurisdictionId = $('#JurisdictionId').val();
			billing = false;

			if ($('#Billing').is(':checked'))
			{
				billing = true;
			}

			$.ajax({
				method: 'POST',
				url: '@Url.Action("ValidateBilling", "jurisdictionmapping")',
				data: { id: id, manufacturerShortID: manufacturerShortID, jurisdictionId: jurisdictionId, billing: billing }
			}).done(function (result) {
				if (result == true) {
					if (!($('#billingMessage').css('display') == 'none')) {
						$('#billingMessage').toggle();
					}
					validForm = true;
				}
				else {
					if ($('#billingMessage').css('display') == 'none') {
						$('#billingMessage').toggle();
					}
					validForm = false;
				}
			});
		});
	</script>
}
