﻿@model Submissions.Web.Areas.Lookups.Models.JurisdictionMappingIndexViewModel

@{
	ViewBag.Title = "Manufacturer Jurisdiction Code Mappings";
}

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Export", "Export", null, new { @class = "btn btn-primary btn-sm", id = "ExportBtn" })
		@if (Util.HasAccess(Permission.JurisdictionMapping, AccessRight.Add))
		{
			@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
		}
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

@Html.Trirand().JQGrid(Model.ManufacturerJurisdictionCodeMappingsGridModel.Grid, Model.ManufacturerJurisdictionCodeMappingsGridModel.Grid.ID)

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		function editLink(cellValue, options, rowObject) {
			var url = "";
			@if (Util.HasAccess(Permission.JurisdictionMapping, AccessRight.Edit))
			{
				<text>
					url = url + '<a href="' + '@Url.Action("Edit", "JurisdictionMapping")' + '/' + options.rowId + '?mode=Edit">Edit</a>';
				</text>
			}
			@if (Util.HasAccess(Permission.JurisdictionMapping, AccessRight.Delete) 
				&& Util.HasAccess(Permission.JurisdictionMapping, AccessRight.Edit))
			{
				<text>url = url + '<span class="text-normal">&nbsp;|&nbsp;</span>';</text>
			}
			@if (Util.HasAccess(Permission.JurisdictionMapping, AccessRight.Delete))
			{
				<text>
					url = url + '<a href="' + '@Url.Action("CheckDelete", "JurisdictionMapping")' + '/' + options.rowId + '" class="CheckDelete" id="' + options.rowId + '">Delete</a>';
				</text>
			}
			return url;
		}
	</script>
}