﻿@model Submissions.Web.Areas.Protrack.Models.Project.ExpediteProject
@{
	ViewBag.NoNavBar = true;
	ViewBag.NoFooter = true;
}
<style>

	div.tooltip-inner {
		text-align: center;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		margin-bottom: 6px;
		background-color: #505050;
		font-size: 9px;
		max-width:250px;
		width:250px
	}
</style>
@{
	ViewBag.Title = "Expedite Project";
}
@using (Html.BeginForm("SaveExpedite", "Expedite", FormMethod.Post, new { expediteVM = Model, Id = "ExpediteForm" }))
{
	@Html.HiddenFor(m => m.ProjectIds);
	<div class="modal-header">
		<div class="row">
			<div class="col-sm-12 form-buttons text-right">
				@if (Util.HasAccess(Permission.Expedite, AccessRight.Edit))
				{
				<button type="button" id="Save"  accesskey="E"  class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save (Alt+E)</button>
				}
				<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Expedite Information</h3>
					</div>
					<label id="Error" class="text-danger"></label>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group form-group-sm">
								@Html.LabelFor(model => model.Expedite, new { @class = "control-label col-sm-3" })
								<div class="col-sm-1">
									@Html.CheckBoxFor(model => model.Expedite)
									<br />
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(model => model.ExpediteReason, new { @class = "control-label col-sm-3" })
								<div class="col-sm-9">
									@Html.DropDownListFor(model => model.ExpediteReason, LookupsStandard.ConvertEnum<ExpediteReasons>(useDescriptionAsValue: true, showBlank: true), new { @class = "form-control" })
									<br />
								</div>
							</div>
							<div class="form-group form-group-sm">
								@Html.LabelFor(model => model.ExpediteNote, new { @class = "control-label col-sm-3" })
								<div class="col-sm-9">
									
										<i class="fas fa-info-circle ExpediteNoteInfo" aria-hidden="true"></i>
										<div style="width:350px;height:100px;display:none;font:smaller" id="ExpediteInfo">
											<table style="table-layout:fixed;">
												<col width="150">
												<col width="200">
												<tr>
													<td colspan="2" style="font-size:10px;">
														If one of the following Expedite Reasons is selected,
														please supply the additional information in the Expedite Notes box.
														<br /><br />
													</td>
												</tr>

												<tr><td><b>Expedite Reason</b></td><td><b>Additional Info Requested</b></td></tr>
												<tr><td>Commission Meeting</td><td><i>Date and Jurisdictions</i></td></tr>
												<tr><td>Eng Delay</td><td><i>Reason for Delay</i></td></tr>
												<tr><td>New Install</td><td><i>Date and Jurisdiction</i></td></tr>
												<tr><td>New Startup</td><td><i>Date and Jurisdiction</i></td></tr>
												<tr><td>Prob in Field</td><td><i>No additional info needed</i></td></tr>
												<tr><td>Regulator Request</td><td><i>Who made the request</i></td></tr>
												<tr><td>Sales</td><td><i>Date and Jurisdiction</i></td></tr>
											</table>
										</div>
									
									@Html.TextAreaFor(model => model.ExpediteNote, 3, 120, new { @class = "form-control", @placeholder = "", @style = "width:350px" })
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	

}
<script>
	$(function () {
			loadDocumentReady();

			$(".ExpediteNoteInfo").tooltip({
				html: true,
				title: $("#ExpediteInfo").html()
			})
		
			$('#Save').click(function () {
				if (!$("#Expedite").is(":checked")) {
					bootbox.confirm("Expedite is not checked. Are you sure you want to continue saving?", function (result) {
						if (result) { SaveExpedite() };
					});
				}
				else {
					SaveExpedite()
				}
			});

			function SaveExpedite()
			{
				var Error = ''
				if ($("#Expedite").is(":checked") && $('#ExpediteReason').val() == "") {
					Error = 'You must select Expedite Reason. \n'
				}

				if ($("#Expedite").is(":checked") && $('#ExpediteNote').val() == "") {
					Error += 'You must enter Notes.'
				}
				if (Error == '') {
					$('#Expedite').submit();
				}
				else {
					$('#Error').text(Error);
					return false;
				}
			}

			$('#ExpediteForm').submit(function () {
				$('#Save').prop("disabled", true);
				$.ajax({
					url: this.action,
					type: this.method,
					data: $(this).serialize(),
					success: function (result) {
						if ("@Request["OnlyRefreshValues"]" == 1)
						{
							$('#myModal').modal('toggle');
							ReloadAfterUpdate();
							bootbox.alert("Data updated.")
						}
						else {
							window.location.reload();
						}
					}
				});
				return false;
			});
		});
</script>