﻿@model Submissions.Web.Areas.Lookups.Models.GamingGuidelinesSportsBettingEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Gaming Guidelines: Sports Betting";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "GamingGuidelinesSportsBetting", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	@Html.HiddenFor(m => m.JurisdictionId)
	@Html.HiddenFor(m => m.LocationId)
	@Html.Hidden("GamingGuidelinesSportsBettingEditViewModel");

	<div class="row">
		<div class="col-sm-12">
			<div id="TitleSection" class="row row-title">
				<div class="col-sm-8">
					<h3>
						@ViewBag.Title
						<small>@Model.JurisdictionName</small>
					</h3>
				</div>
				<div class="col-sm-4 form-buttons">
					<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm btn-saveSportsBetting" />
					@Html.ActionLink("Cancel", "Index", "GamingGuidelinesSportsBetting", null, new { @class = "btn btn-primary btn-sm" })
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Jurisdiction</h3>
						</div>
						<div class="panel-body">
							<div class="row ptb-10">
								<div class="col-sm-4">
									@Html.LabelFor(m => m.AuditRequired)
									<select data-bind="select: AuditRequired, value: AuditRequired,  options: $root.DropdownOptions, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control auditRequired"></select>
								</div>
								<div class="col-sm-4">
									@Html.LabelFor(m => m.AuditNote)
									<textarea data-bind="value: AuditNote" class="form-control vertical-resize auditNoteTextBox"></textarea>
								</div>
								<div class="col-sm-4">
									@Html.LabelFor(m => m.LimitOnEventTypeAllowed)
									<input data-bind="value: LimitOnEventTypeAllowed" class="form-control"></input>
								</div>
							</div>
							<div class="row ptb-10 ">
								<div class="col-sm-4">
									@Html.LabelFor(m => m.MaxCaps)
									<input data-bind="value: MaxCaps" class="form-control"></input>
								</div>
								<div class="col-sm-4">
									@Html.LabelFor(m => m.ChangeManagementSystem)
									<select data-bind="select: ChangeManagementSystem, value: ChangeManagementSystem,  options: $root.DropdownOptions, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select>
								</div>
								<div class="col-sm-4">
									@Html.LabelFor(m => m.DataVaults)
									<select data-bind="select: DataVaults, value: DataVaults,  options: $root.DropdownOptions, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select>
								</div>
							</div>
							<div class="row ptb-10 ">
								<div class="col-sm-4">
									@Html.LabelFor(m => m.DataRetentionRequirement)
									<select data-bind="select: DataRetentionRequirement, value: DataRetentionRequirement,  options: $root.DropdownOptions, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control dataRetentionRequirement"></select>
								</div>
								<div class="col-sm-4">
									@Html.LabelFor(m => m.RetentionPeriod)
									<input data-bind="value: RetentionPeriod" class="form-control retentionPeriodTextBox"></input>
								</div>
								<div class="col-sm-4">
									@Html.LabelFor(m => m.TaxPercentage)
									<input data-bind="value: TaxPercentage" class="form-control"></input>
								</div>
							</div>
							<div class="row ptb-10 ">
								<div class="col-sm-4">
									@Html.LabelFor(m => m.TaxNotes)
									<textarea data-bind="value: TaxNotes" class="form-control vertical-resize"></textarea>
								</div>
								<div class="col-sm-4">
									@Html.LabelFor(m => m.ServerLocationRequirement)
									<select data-bind="select: ServerLocationRequirement, value: ServerLocationRequirement,  options: $root.DropdownOptions, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select>
								</div>
								<div class="col-sm-4">
									@Html.LabelFor(m => m.LiabilityAmountRequired)
									<select data-bind="select: LiabilityAmountRequired, value: LiabilityAmountRequired,  options: $root.DropdownOptions, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control liabilityAmountReq"></select>
								</div>
							</div>
							<div class="row ptb-10 ">
								<div class="col-sm-4">
									@Html.LabelFor(m => m.LiabilityNote)
									<textarea data-bind="value: LiabilityNote" class="form-control vertical-resize liabilityNoteTextBox"></textarea>
								</div>
								<div class="col-sm-4">
									@Html.LabelFor(m => m.AnonymousPlayAllowed)
									<select data-bind="select: AnonymousPlayAllowed, value: AnonymousPlayAllowed,  options: $root.DropdownOptions, optionsValue: 'Value', optionsText: 'Text'" data-lookupstandard="" class="form-control"></select>
								</div>
							</div>
							<div class="row ptb-10 ">
								<div class="col-sm-4">
									@Html.LabelFor(m => m.ITLRequired, new { @class = "control-label" })
									<input data-bind="checked: ITLRequired" type="checkbox" class="padcheckbox">
								</div>
								<div class="col-sm-4">
									@Html.LabelFor(m => m.LandBased, new { @class = "control-label" })
									<input data-bind="checked: LandBased" type="checkbox" class="padcheckbox">
								</div>
								<div class="col-sm-4">
									@Html.LabelFor(m => m.Online, new { @class = "control-label" })
									<input data-bind="checked: Online" type="checkbox" class="padcheckbox">
								</div>
							</div>
							<div class="row ptb-10 ">
								<div class="col-sm-12">
									@Html.LabelFor(m => m.GeneralNotes)
									<textarea data-bind="value: GeneralNotes" class="form-control vertical-resize"></textarea>
								</div>
							</div>
							<div class="row ptb-10 ">
								<div class="col-sm-12">
									@Html.LabelFor(m => m.Comments)
									<textarea data-bind="value: Comments" class="form-control vertical-resize"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="UserComments" class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 id="UserCommentsLabel" class="panel-title">Comments</h3>
						</div>
						<div class="panel-body">
							<div class="form-group form-group-sm">
								<table class="table table-condensed table-striped table-hover ">
									<thead>
										<tr>
											<th>User</th>
											<th>Date Added / Updated</th>
											<th>Comment</th>
											<th class="text-right"><a href="#" data-bind="click: removeAllUserComments">Remove All</a></th>
										</tr>
									</thead>
									<tbody data-bind="foreach: UserComments">
										<tr>
											<td class="col-sm-3" data-bind="html: UserName"></td>
											<td class="col-sm-2" data-bind="html: SimpleDateTime"></td>
											<td class="col-sm-6">
												<textarea data-bind="value: CommentString, enable:IsEditable, event: { change: $root.DirtyUserComments}" class="form-control vertical-resize"></textarea>
											</td>
											<td class="col-sm-4 text-right">
												<a href="#" data-bind="click: $root.removeExistingUserComments">Remove</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div>&nbsp;<span data-bind="click: addUserCommentsViewModel"><a href="#"><i class="fas fa-plus"></i> Add Comment</a></span></div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	@section scripts{
		@Scripts.Render("~/bundles/script/knockout")
		<script>
			var data = @Html.Raw(Json.Encode(Model));
			var defaultUserComment = data.DefaultUserComment;
			var sportsBettingModel = function (data) {
				var self = this;
				ko.mapping.fromJS(data, {}, self);
				self.addUserCommentsViewModel = function () {
					self.UserComments.push(ko.mapping.fromJS(defaultUserComment));
				};
				self.VisibleUserCommentsViewModel = function () {
					return ko.utils.arrayFilter(self.UserComments(), function (UserComment) { return UserComment._destroy !== true });
				};
				self.removeAllUserComments = function () {
					self.UserComments.destroyAll();
					ko.utils.arrayForEach(self.UserComments(), function (comment) {
						if (!comment.IsEditable()) {
							comment._destroy = false;
						}
					});
					self.UserComments.notifySubscribers();
				};
				self.removeExistingUserComments = function (UserComment) {
					if (UserComment.IsEditable()) {
						self.UserComments.destroy(UserComment);
					}
				};
				self.DirtyUserComments = function (userComment, event) {
					userComment._dirty(true);
				}
			}
			var sportsBettingModel = new sportsBettingModel(data);

			$(function () {
				ko.applyBindings(sportsBettingModel);
				$('.btn-saveSportsBetting').on('click', function (e) {
					e.preventDefault();
					var data = ko.toJS(sportsBettingModel);
					$('#GamingGuidelinesSportsBettingEditViewModel').val(JSON.stringify(data));
					$('#LookupForm').submit();
				});
			});

			$(document).ready(function () {
				Toggle("auditRequired", "auditNoteTextBox");
				Toggle("dataRetentionRequirement", "retentionPeriodTextBox");
				Toggle("liabilityAmountReq", "liabilityNoteTextBox");
			});

			$(".auditRequired").change(function () {
				Toggle("auditRequired", "auditNoteTextBox");
			});

			$(".dataRetentionRequirement").change(function () {
				Toggle("dataRetentionRequirement", "retentionPeriodTextBox");
			});

			$(".liabilityAmountReq").change(function () {
				Toggle("liabilityAmountReq", "liabilityNoteTextBox");
			});

			function Toggle(parent, textbox) {
				var data = $("." + parent).select2('data');
				if (data[0].text === "Yes") {
					$("." + textbox)[0].disabled = false;
				} else {
					$("." + textbox)[0].disabled = true;
					$("." + textbox).val('');
				}
			}

		</script>

	}

	@section css{
		<style>
			.ptb-10 {
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.vertical-resize {
				resize: vertical;
			}
		</style>
	}
}