﻿@model Submissions.Web.Areas.Lookups.Models.GamingGuidelinesSportsBettingViewModel

@{
	ViewBag.Title = "Gaming Guidelines Sports Betting";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}


<div class="modal" id="jurisdictionModal" tabindex="-1" role="dialog" aria-labelledby="jurisdictionSelect" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="jurisdictionSelect">Select a Jurisdiction</h3>
			</div>
			<div class="modal-body">
				<select id="selectedJurisdiction" data-lookupajax="@LookupAjax.SportsBettingJurisdictions" class="form-control"></select>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" id="createNewGuideline">Add</button>
			</div>
		</div>
	</div>
</div>

<div class="row row-title">
	<div class="col-sm-6">
		<h3>Gaming Guidelines Sports Betting</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<a data-target="#jurisdictionModal" role="button" class="btn btn-primary btn-sm" data-toggle="modal">Add New Guideline</a>
		@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title  pull-right">
			<span class="indicator fa pull-right fa-chevron-circle-up" data-toggle="collapse" data-parent="#accordion" href="#collapse1"></span>
		</h4>
	</div>
	<div id="collapse1" class="panel-collapse collapse in">
		<div class="panel-body table-responsive">
			<div class="row">
				<div class="col-sm-4">
					<div>
						@Html.LabelFor(m => m.Filters.JurisdictionIds)
						@Html.LookupMultipleFor(m => m.Filters.JurisdictionIds, Model.Filters.Jurisdictions, LookupAjax.GamingGuidelineJurisdictions, false)
					</div>
					<br />
					<button class="btn btn-primary" id="searchButton">Search</button>
					<button id="clearSearch" class="btn btn-primary">Clear</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.SportsBettingGrid.Grid, Model.SportsBettingGrid.Grid.ID)
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/kendo")
	@Scripts.Render("~/bundles/script/knockout")
	@Scripts.Render("~/bundles/script/jqgrid")

	<script>
		var sessionItemName = 'GLI_GamingGuidelinesSportsBettingIndex';
		function gridBeforeAjaxRequest() {
			loadFilters(sessionItemName);
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
			saveFilters(sessionItemName);
		}
		function getFilters() {
			var filters = {};
			filters.JurisdictionIds = $('#Filters_JurisdictionIds').val();
			return filters;
		}
		$(function () {
			var selectedJuris = "";
			$("#selectedJurisdiction").on('select2:select', function (e) {
				selectedJuris = $("#selectedJurisdiction").select2('data')[0].id;
			});
			$("#createNewGuideline").click(function () {
				var url = '@Url.Action("Edit", "GamingGuidelinesSportsBetting")' + "/-1?mode=Add&jurId={selectedJurId}";
				url = url.replace("{selectedJurId}", selectedJuris);
				window.location = url;
			});
			$("#searchButton").click(function () {
				$('#GamingGuidelinesSportsBettingGrid').trigger('reloadGrid', [{ page: 1 }]);
			});
			$("#clearSearch").click(function () {
				$('#Filters_JurisdictionIds').empty();
			});
		});

		function editLink(cellValue, options, rowObject) {
			let url = '<a href="' + '@Url.Action("Edit", "GamingGuidelinesSportsBetting")' + '/' + options.rowId + '?mode=Edit">Edit</a> <span class="text-normal">|</span> ' +
				'<a href="' + '@Url.Action("CheckDelete", "GamingGuidelinesSportsBetting")' + '/' + options.rowId + '" class="CheckDelete" id="' + options.rowId + '">Delete</a>';
			return url;

		}		

		function formatTaxPercentageField(cellValue, options, roqObject) {
			return cellValue === "" ? "Unknown" : cellValue;
		}

	</script>
}


@section css{
	@Styles.Render("~/bundles/css/kendo")
	@Styles.Render("~/bundles/css/jqgrid")

	<style>
		.panel-heading {
			height: 30px;
		}
		.container {
			width: 100%;
		}
		td {
			overflow-x: hidden;
			text-overflow: ellipsis;
		}
	</style>
}