﻿<template>
	<base-header-view fixed-width
					  :title="vm.id ? 'Edit' : 'Add'">
		<template v-slot:actions>
			<base-button inverse-style
						 :href="closeUrl">
				Close
			</base-button>
			<base-button v-if="vm.id" is-primary :isDestructive="true"
						 @click="componentState.checkDeleteGuard = true">
				<template v-if="componentState.isDeleting">
					Delete
					<i class="fa fa-spinner fa-spin"></i>
				</template>
				<template v-else>
					Delete
				</template>
			</base-button>
			<base-button inverse-style @click="handle__save">
				{{vm.id ? 'Save' : 'Add'}}
				<template v-if="componentState.isSaving">
					<i class="fa fa-spinner fa-spin"></i>
				</template>
			</base-button>
		</template>

		<base-modal v-if="componentState.checkDeleteGuard">
			<template v-slot:header="">
				Delete
			</template>
			<template v-slot:default="">
				<p>
					Are you sure you would like to delete this description ?
					This is a destructive operation and can not be undone.
				</p>
			</template>
			<template v-slot:actions="">
				<base-button @click="() => componentState.checkDeleteGuard = false">
					Close
				</base-button>
				<base-button is-primary
							 :isDestructive="true"
							 @click="() => handle__delete()">
					Delete
				</base-button>
			</template>
		</base-modal>

		<div id="snackbar"
			 :class="{
			'snack-success': componentState.isSuccess,
			'snack-error': componentState.isError,
		}">{{componentState.actionResult}}</div>

		<GameDescriptionEdit :id="vm.id"
							 :submissionId="vm.submissionId"
							 :projectId="vm.projectId"
							 :type="vm.type"
							 :isSaving="componentState.isSaving"
							 :isDeleting="componentState.isDeleting"
							 :descriptionTypes="vm.descriptionTypes"
							 :modificationTypes="vm.modificationTypes"
							 :letterGenProjectId="vm.letterGenProjectId"
							 :copyOf="vm.copyOf"
							 @saved="(payload) => handle__actionResult(payload, 'saved')"
							 @deleted="(payload) => handle__actionResult(payload, 'deleted')"
							 @error="(payload) => handle__actionResult(payload, 'error')" />
	</base-header-view>
</template>
<script>
	import api from "../../../api/documents/gameDescription";
	import GameDescriptionEdit from '@/components/documents/gameDescription/GameDescriptionEdit'
	export default {
		components: {
			GameDescriptionEdit
		},
		data: function () {
			return {
				vm: { ...initialData },
				componentState: {
					isSaving: false,
					checkDeleteGuard: false,
					isDeleting: false,
					actionResult: '',
					isSuccess: false,
					isError: false
				},
			};
		},
		watch: {

		},
		computed: {
			closeUrl: function () {
				return `/documents/gameDescription?projectId=${this.vm.letterGenProjectId}&projectName=${this.vm.letterGenProjectName}&type=${this.vm.type}`;
			}
		},
		methods: {
			handle__save: async function () {
				this.componentState.isSaving = true;
				await this.$nextTick().then(x => { this.componentState.isSaving = false; });
			},
			handle__actionResult: async function (payload, action) {
				if (action === 'saved') {
					this.componentState.isSuccess;
					this.componentState.actionResult = `Save success! Redirecting...`;
				}
				else if (action === 'deleted') {
					this.componentState.isSuccess;
					this.componentState.actionResult = `Delete success! Redirecting...`;
				}
				else if (action === 'error') {
					this.componentState.isSuccess = false;
					this.componentState.isError = true;
					this.componentState.actionResult = `Error: ${payload.error}`;
				}
				await this.showSnackBar().then(x => {
					this.componentState.actionResult = '';
					if (action === 'saved' || action === 'deleted') {
						window.location.href = `${jsPath}` + this.closeUrl.substr(1);
					}
				});
			},
			handle__delete: async function () {
				this.componentState.isDeleting = true;
				await this.$nextTick().then(x => { this.componentState.isDeleting = false; });
				this.componentState.checkDeleteGuard = false;
			},
			showSnackBar: function () {
				let self = this;
				var x = document.getElementById("snackbar");
				x.className = "show";
				return new Promise(resolve => {
					setTimeout(function () {
						x.className = x.className.replace("show", "");
						resolve();
					}, 3000);
				});
			},
			created: function () {

			},
			mounted: function () {

			}
		}
	}
</script>
<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";
	@use "sass:color";

	.snack-success {
		background-color: Colors.$success
	}

	.snack-error {
		background-color: Colors.$destructive
	}

	/* The snackbar - position it at the bottom and in the middle of the screen */
	#snackbar {
		visibility: hidden; /* Hidden by default. Visible on click */
		min-width: 250px; /* Set a default minimum width */
		margin-left: -125px; /* Divide value of min-width by 2 */
		background-color: #333; /* Black background color */
		color: #fff; /* White text color */
		text-align: center; /* Centered text */
		border-radius: 2px; /* Rounded borders */
		padding: 16px; /* Padding */
		position: fixed; /* Sit on top of the screen */
		z-index: 1; /* Add a z-index if needed */
		left: 50%; /* Center the snackbar */
		bottom: 30px; /* 30px from the bottom */
	}

		/* Show the snackbar when clicking on a button (class added with JavaScript) */
		#snackbar.show {
			visibility: visible; /* Show the snackbar */
			/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
			-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}

	/* Animations to fade the snackbar in and out */
	@-webkit-keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@-webkit-keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	@keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}
</style>
