﻿<template>
	<div>
		<div v-if="componentState.isLoading"><i class="fa fa-spinner fa-spin"></i> Loading Please wait...</div>
		<div v-else>
			<base-fieldset>
				<template v-slot:header>
					<h2>Filter</h2>
				</template>
				<base-field-labels title="Project"
								   :help-text="`Search for description by project.`">
					<base-lookup v-model="projectSearchSelection"
								 lookup-ajax="projectName"
								 placeholder="Select project"
								 @open="handle__clearSearchResults()">
					</base-lookup>
				</base-field-labels>
				<base-field-labels title="Type"
								   :help-text="`Description type.`">
					<!--1 - Base, 2 - Jurisdictional -->
					<base-select track-by="value"
								 label="text"
								 :options="descriptionTypes.filter(x => x.value !== '1' && x.value !== '2')"
								 v-model="typeSearchSelection"
								 @open="handle__clearSearchResults()">
					</base-select>
				</base-field-labels>
			</base-fieldset>
			<div class="margin-bottom">
				<base-button :is-primary="true"
							 :disabled="!projectSearchSelection && !typeSearchSelection"
							 @click="handle__search()">
					<template v-if="componentState.loadingSearchResults">
						Search
						<i class="fa fa-spinner fa-spin"></i>
					</template>
					<template v-else>
						Search
						<i class="fa fa-search"></i>
					</template>
				</base-button>
			</div>
			<div v-for="(submission, index) in searchResultSet">
				<div class="margin-bottom">
					<template v-if="submission.availableJurisdictions.length > 0">
						<base-button :is-primary="true"
									 :href="`/documents/gameDescription/edit?submissionId=${submission.id}&projectId=${projectSearchSelection.id}&type=${typeSearchSelection.text}&letterGenProjectId=${projectSearchSelection.id}`"
									 :disabled="submission.availableJurisdictions.length === 0">
							Add
						</base-button>
					</template>
					<base-fieldset :isCollapsible="true" :collapsedByDefault="true" class="component-game-description-set">
						<template v-slot:header>
							<div>{{submission.idNumber}} | {{submission.gameName}} ({{submission.gameDescriptions.length}})</div>
							<div v-if="submission.availableJurisdictions.length == 0"><p><b>All jurisdictions for this component are associated to a description.</b></p></div>
						</template>
						<glide-grid zebra-stripe
									full-width
									:columns="columns"
									:rows="submission.gameDescriptions"
									:paging="{
										currentPage: 1,
										numberPerPage: 10,
										enable: true,
										enableRPP: true
									}"
									:filtering="{enable: true}"
									:sorting="{enable: true }">
							<template v-slot:Actions="glide" style="display:flex">
								<base-button :href="`/documents/gameDescription/edit/${glide.row.id}?submissionId=${glide.row.applicableJurisdictions[0].submissionId}&projectId=${glide.row.projectId}&type=${typeSearchSelection.text}&letterGenProjectId=${projectSearchSelection.id}`">
									Edit
								</base-button>
								<base-button :href="`/documents/gameDescription/edit?submissionId=${submission.id}&projectId=${projectSearchSelection.id}&type=${typeSearchSelection.text}&letterGenProjectId=${projectSearchSelection.id}&copyOf=${glide.row.id}`">
									Copy
								</base-button>
							</template>
						</glide-grid>
					</base-fieldset>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import api from "../../../api/documents/gameDescription";
	import GlideGrid from "@/components/utility/GlideGrid.vue";
	export default {
		components: {
			GlideGrid
		},
		props: {
			descriptionTypes: {
				type: Array,
				required: true
			},
			config: {
				type: Object,
				required: true
			}
		},
		data: function () {
			const columns = [
				{
					label: "Name",
					field: "name",
					style: {
						width: "200px",
						verticalAlign: "middle"
					}
				},
				{
					label: "Created On",
					field: "createdOn",
					style: {
						minWidth: "200px",
						verticalAlign: "middle"
					},
					filter: {
						name: "dateTime",
						args: [],
						direct: this.$format.dateTime
					}
				},
				{
					label: "Created By",
					field: "createdBy",
					style: {
						minWidth: "200px",
						verticalAlign: "middle"
					}
				},
				{
					label: "Jurisdictions",
					field: "applicableJurisdictionCount",
					style: {
						minWidth: "200px",
						verticalAlign: "middle"
					}
				},
				{
					slot: "Actions",
					field: null,
					style: {
						width: "150px",
						textAlign: "right",
						verticalAlign: "middle"
					}
				}
			];
			return {
				columns,
				searchResultSet: [],
				projectSearchSelection: null,
				typeSearchSelection: null,
				componentState: {
					loadingSearchResults: false,
					mode: this.config.mode,
				}
			};
		},
		watch: {
			bundleSearchSelection: function (cur, prev) {
				if (cur === null)
					this.handle__clearSearchResults();
			}
		},
		computed: {
		},
		methods: {
			handle__search: function () {
				let self = this;
				this.componentState.loadingSearchResults = true;

				let payload = {
					letterGenProjectId: this.projectSearchSelection.id,
					projectId: this.projectSearchSelection.id,
					type: this.typeSearchSelection.text
				}

				api.getGameDescriptionInfo(payload).then(res => {
					self.componentState.loadingSearchResults = false;
					self.handle__setSearchResult(res.data);
				});
			},
			handle__setSearchResult: function (results) {
				this.searchResultSet = results;
			},
			handle__clearSearchResults: function () {
				this.searchResultSet = [];
			},
		},
		created: function () {
			if (this.$route.query['projectId'] && this.$route.query['projectName'] && this.$route.query['type']) {
				this.projectSearchSelection = { id: this.$route.query.projectId, text: this.$route.query['projectName'], deprecated: false };
				this.typeSearchSelection = { text: this.$route.query['type'] }
				this.handle__search();
			}
		}
	}
</script>
<style scoped>
	.flex-container {
		display: flex;
	}

	.margin-bottom {
		margin-bottom: 10px;
	}
</style>
