﻿<template>
	<div>
		<div v-if="componentState.isLoading"><i class="fa fa-spinner fa-spin"></i> Loading Please wait...</div>
		<div v-else>
			<div class="margin-bottom">
				<base-field-labels title="Name"
								   helpText="This is the name of the description, it will be used for reference in the letter generation interface.">
					<base-input v-model="vm.name"></base-input>
				</base-field-labels>
				<base-field-labels title="Type"
								   :help-text="`Description type.`">
					<!--1 - Base, 2 - Jurisdictional, 4 - Modification; For NOW just GD-->
					<base-select track-by="value"
								 label="text"
								 :options="descriptionTypes.filter(x => x.value !== '1' && x.value !== '2' && x.value !== '4')"
								 v-model="vm.type"
								 :disabled="true"
								 :field-validation="$v.vm.type.value">
						<template v-slot:errors>
							<p v-if="$v.vm.type.value.$error && !$v.vm.type.value.required">
								A description type is required.
							</p>
						</template>
					</base-select>
				</base-field-labels>
				<base-field-labels v-show="type == gameDescriptionType.MODIFICATIONDESCRIPTION.code"
								   title="Modification Type"
								   :help-text="`Select a modification type.`">
					<base-select track-by="value"
								 label="text"
								 :options="modificationTypes"
								 v-model="vm.modificationTypeSelection">
					</base-select>
				</base-field-labels>
				<base-field-labels v-show="vm.modificationTypeSelection.value === nonCriticalModId"
								   title="Non-Critical Modification"
								   helpText="Enter a comma seperated list of previously approved components (The information entered herein will appear on letter as entered).">
					<base-input v-model="vm.previouslyApprovedComponents" :textArea="true"></base-input>
				</base-field-labels>
			</div>
			<div class="margin-bottom">
				<base-field-labels title="Jurisdiction Associations"
								   helpText="These are the jurisdictional associations for this description.">
					<base-select v-model="vm.jurisdictionSelection"
								 id="jurisdictionSelection"
								 label="jurisdictionName"
								 track-by="id"
								 :options="vm.jurisdictionOptions"
								 :close-on-select="false"
								 :multiple="true"
								 :hideSelected="true"
								 :allowEmpty="true"
								 :openDirection="'bottom'"
								 :field-validation="$v.vm.jurisdictionSelection">
						<template v-slot:errors>
							<p v-if="$v.vm.jurisdictionSelection.$error && (!$v.vm.jurisdictionSelection.minLength || !$v.vm.jurisdictionSelection.required)">
								A jurisdiction association is required.
							</p>
						</template>
					</base-select>
				</base-field-labels>
				<div>
					<base-button @click="handle__selectAll()">
						Select All
					</base-button>
					<base-button @click="handle__clearSelection()">
						Clear Selection
					</base-button>
				</div>
			</div>
			<div class="margin-bottom">
				<base-fieldset>
					<template v-slot:header>
						<h2>Description</h2>
					</template>
					<wysiwyg v-model="vm.descriptionContent"></wysiwyg>
				</base-fieldset>
			</div>

		</div>
	</div>
</template>
<script>
	import { required, minLength } from 'vuelidate/lib/validators';
	import api from "../../../api/documents/gameDescription";
	import { GAME_DESCRIPTION_TYPE, MODIFICATION_TYPE } from '@/common'

	export default {
		components: {

		},
		props: {
			id: {
				type: Number,
			},
			submissionId: {
				type: Number,
			},
			projectId: {
				type: Number,
			},
			type: {
				type: String
			},
			isSaving: {
				type: Boolean
			},
			isDeleting: {
				type: Boolean
			},
			descriptionTypes: {
				type: Array,
				required: true
			},
			modificationTypes: {
				type: Array,
				required: true
			},
			letterGenProjectId: {
				type: Number
			},
			copyOf: {
				type: Number
			}
		},
		data() {
			return {
				vm: {
					jurisdictionSelection: [],
					jurisdictionOptions: [],
					modificationTypeSelection: null
				},
				componentState: {
					isLoading: false,
				},
				gameDescriptionType: GAME_DESCRIPTION_TYPE,
				nonCriticalModId: MODIFICATION_TYPE.NONCRITICALMODIFICATION.id.toString()
			}
		},
		watch: {
			isSaving: function (cur, old) {
				if (cur) {
					this.handle__saveGameDescription()
				}

			},
			isDeleting: function (cur, old) {
				if (cur) {
					this.handle__deleteGameDescription()
				}
			},
			'vm.modificationTypeSelection.value': function (cur, old) {
				if (cur != this.nonCriticalModId) {
					this.vm.previouslyApprovedComponents = null;
				}
			}
		},
		computed: {

		},
		methods: {
			validate: function () {
				this.$v.$touch();
				return this.$v.$invalid;
			},
			handle__saveGameDescription: async function () {
				if (this.validate()) {
					return;
				}
				await api.saveGameDescription(this.vm)
					.then(res => {
						this.$emit('saved', { item: this.vm });
					})
					.catch(err => {
						this.$emit('error', { item: this.vm, error: err });
					});

			},
			handle__deleteGameDescription: async function () {
				await api.deleteGameDescription(this.vm.id)
					.then(res => {
						this.$emit('deleted', { item: this.vm });
					})
					.catch(err => {
						this.$emit('error', { item: this.vm, error: err });
					})
					.finally(res => {

					});
			},
			handle__selectAll: function () {
				this.vm.jurisdictionSelection.push(...this.vm.jurisdictionOptions);
			},
			handle__clearSelection: function () {
				this.vm.jurisdictionSelection.splice(0, this.vm.jurisdictionSelection.length);
			}
		},
		created: async function () {
			this.componentState.isLoading = true;
			await api.getGameDescription({ projectId: this.projectId, submissionId: this.submissionId, id: this.id, type: this.type, letterGenProjectId: this.letterGenProjectId, copyOf: this.copyOf })
				.then(res => {
					console.log(res.data);
					this.vm.id = res.data.id;
					this.vm.active = res.data.active;
					this.vm.createdOn = res.data.createdOn;
					this.vm.createdBy = res.data.createdBy;
					this.vm.createdById = res.data.createdById;
					this.vm.lastUpdatedOn = res.data.lastUpdatedOn;
					this.vm.lastUpdatedById = res.data.lastUpdatedById;
					this.vm.lastUpdatedBy = res.data.lastUpdatedBy;
					this.vm.type = res.data.type;
					this.vm.name = res.data.name;
					this.vm.projectId = res.data.projectId;
					this.vm.submissionId = res.data.submissionId;
					this.vm.descriptionContent = res.data.descriptionContent;
					this.vm.jurisdictionSelection.push(...res.data.jurisdictionSelection);
					this.vm.jurisdictionOptions.push(...res.data.jurisdictionOptions);
					this.vm.modificationTypeSelection = res.data.modificationTypeSelection;
					this.vm.previouslyApprovedComponents = res.data.previouslyApprovedComponents;
				})
				.finally(x => {
					this.componentState.isLoading = false;
				})
		},
		mounted: function () {
		},
		validations: {
			vm: {
				type: {
					value: {
						required,
						minLength: minLength(1)
					}
				},
				name: {
					minLength: minLength(5)
				},
				descriptionContent: {
					required
				},
				jurisdictionSelection: {
					required,
					minLength: minLength(1)
				}
			}
		}
	}

</script>
<style scoped>
	.margin-bottom {
		margin-bottom: 10px
	}

	/deep/ .editor__content {
		height: 50%;
	}
</style>
