﻿<template>
	<base-header-view fixed-width
					  :title="'Descriptions Search'">
		<GameDescriptionSearch :config="{mode: pageState.mode}" :descriptionTypes="descriptionTypes" />
		<template v-slot:actions>
			<base-button inverse-style
						 href="/tools">
				Close
			</base-button>
		</template>
	</base-header-view>
</template>
<script>
	import GameDescriptionSearch from '@/components/documents/gameDescription/GameDescriptionSearch'
	export default {
		components: {
			GameDescriptionSearch
		},
		data: function () {
			return {
				descriptionTypes: initialData.descriptionTypes,
				pageState: {
					mode: 'gamedescription'
				}
			};
		},
		watch: {

		},
		computed: {
		},
		methods: {

		},
		created: function () {
			this.pageState.mode = this.$route.query['mode']?.toLowerCase() || this.pageState.mode;
		},
		mounted: function () {

		}
	}
</script>
<style scoped>
</style>
