﻿@model Submissions.Web.Areas.Protrack.Models.VerifyDeclinedProject.IndexViewModel
@{
	ViewBag.Title = "Declined Projects Queue";
}
@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>
		.ui-jqgrid tr.jqgrow td {
			word-wrap: break-word; /* IE 5.5+ and CSS3 */
			white-space: pre-wrap; /* CSS3 */
			white-space: -pre-wrap; /* Opera 4-6 */
			white-space: -o-pre-wrap; /* Opera 7 */
			white-space: normal !important;
			height: auto;
			vertical-align: text-top;
			padding-top: 2px;
			padding-bottom: 3px;
		}
	</style>
}
@(Html.Trirand().JQDatePicker(
			new JQDatePicker
				{
					DisplayMode = DatePickerDisplayMode.ControlEditor,
					DateFormat = "mm/dd/yyyy",
					ShowOn = ShowOn.Focus,
				}, "DatePicker")
)
@Html.HiddenFor(x => x.Filters.IsDeclined)
@Html.HiddenFor(x => x.Filters.IsTransfer)
@Html.HiddenFor(x => x.Filters.CheckHasEngTask)
<div class="row">
	<div class="col-sm-6">
		<h3 class="form-h3">@ViewBag.Title <small>QA</small></h3>
	</div>
	<div class="col-sm-6 form-buttons text-right">
		<input type="reset" id="CancelBtn" class="btn btn-primary btn-sm" value="Cancel" onclick="window.close()">
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-right">
		<button type="button" class="btn btn-primary" id="Delete" onclick="DoAction('Delete')">Delete</button>&nbsp;
		<button type="button" class="btn btn-primary" id="Preserve" onclick="DoAction('Preserve')">Preserve</button>
	 </div>
</div>
<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.ProjectGrid.Grid, Model.ProjectGrid.Grid.ID)
	</div>
</div>
@{Html.RenderPartial("GridsAutoComplete/_Project");}

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		var grid = $('#ProjectGrid');
		$(function () {

		})

		function DoAction(action) {
			var grid = $('#ProjectGrid');
			var form = $("#ProjectAcceptForm");
			var selIds = $(grid).jqGrid('getGridParam', 'selarrrow');
			var validated = false;
			var msg = '';
			var confirmMsg = '';

			if (selIds == "") {
				bootbox.alert("Please select Project(s).");
			}
			else {
				var url = ''
				if (action == 'Delete') {
					url = '@Url.Action("DeleteProjects", "VerifyDeclinedProject")'
				}
				else if (action == 'Preserve') {
					url = '@Url.Action("PreserveDeclined", "VerifyDeclinedProject")'
				}

				var data = { projectIds: selIds }
				if (url != '') {
					$.post(url, data);
					window.location.reload();
				}
			}
		}
		
		function detailLink(cellValue, options, rowObject) {
			var append = ""
			if (rowObject[$(this).getColumnIndexByName("IsRush")] == "True") {
				append = "<i class='far fa-clock rushProject' aria-hidden='true' title='Expedite Project'></i>&nbsp;"
			}

			return append + '<a href="javascript:openDetail(' + options.rowId + ')">' + cellValue + '</a>&nbsp;';
		}

		function openDetail(id) {
			window.open('@Url.Action("Detail", "Project")' + '/' + id)
		}

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			postData.CustomFilters = JSON.stringify(getFilters());
			$(this).jqGrid('setGridParam', { postData: postData });
		};

		function getFilters() {
			var filters = {};
			filters.IsDeclined = $('#Filters_IsDeclined').val();
			filters.IsTransfer = $('#Filters_IsTransfer').val();
			filters.CheckHasEngTask = $('#Filters_CheckHasEngTask').val();
			return filters;
		}
	</script>
}