﻿@model Submissions.Web.Areas.Protrack.Models.Project.ComplexityRating
@{
    ViewBag.NoNavBar = true;
    ViewBag.NoFooter = true;
}
<style>

</style>
@{
    ViewBag.Title = "Product Complexity Rating";
}
@using (Html.BeginForm("SaveComplexityRating", "ComplexityRating", FormMethod.Post, new { complexityRatingVM = Model, Id = "ComplexityForm" }))
{
    @Html.HiddenFor(m => m.ProjectIds);
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-12 form-buttons text-right">
                <button type="button" id="Save" accesskey="C" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Save (Alt+C)</button>
                <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Complexity Rating Information</h3>
                    </div>
                    <label id="Error" class="text-danger"></label>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(model => model.ProductTypeId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.LookupFor(m => m.ProductTypeId, m => m.ProductTypeDesc, LookupAjax.ProductTypes,true)
									<br />
								</div>
                            </div>
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(model => model.ComplexityRatingId, new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.LookupFor(m => m.ComplexityRatingId, m => m.ComplexityRatingDesc, LookupAjax.ComplexityRating, true)
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
    <script>
    $(function () {
        loadDocumentReady();
        $('#Save').click(function () {
            var Error = ''

            if ($('#ProductTypeId').val() == "") {
                Error += 'You must select Product Type.'
            }
            else if ($('#ComplexityRatingId').val() == "") {
                 Error += checkManuf()
            }

            if (Error == '') {
                $('#ComplexityForm').submit();
            }
            else {
                $('#Error').text(Error);
                return false;
            }
        });


        $('#ComplexityForm').submit(function () {

            $('#Save').prop("disabled", true);
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if ("@Request["OnlyRefreshValues"]" == 1)
                    {
                        $('#myModal').modal('toggle');
                        ReSetUpdatedValuesAfterSave("Complexity", result);
                        bootbox.alert("Data updated.")
                    }
                    else {
                            window.location.reload();
                    }
                }
            });

            return false;
        });

        function checkManuf() {
            var ret = "0"
            var url = '@Url.Action("ManufacturerRequiresComplexityRating", "ComplexityRating")?projectIds=' + $("#ProjectIds").val();
            $.ajax({
                url: url,
                async: false,
                success: function (data) {
                    if (data != "") {
                        ret = 'You must select Complexity Rating for ' + data + "."
                    }
                    else {
                        ret = ""
                    }
                }
            });
            return ret;
        }
    });
    </script>