﻿<template>
	<div class="gli-base-modal-mask">
		<div class="gli-base-modal-wrapper">
			<div
				class="gli-base-modal-container">
				<div class="gli-base-modal-header">
					<h3>
						<!-- @slot The text to show as the title of the modal. -->
						<slot name="header">
							default header
						</slot>
					</h3>
				</div>
				<div class="gli-base-modal-body">
					<!-- @slot The content of the modal. -->
					<slot>
						default content
					</slot>
				</div>
				<div class="gli-base-modal-footer">
					<!-- 
					@slot This is where you place buttons to provide the user options
					for the modal dialog. By default, it has a single Close button, that emits 
					the `close` event on click. 
					-->
					<slot name="actions">
						<base-button
							is-primary
							class="gli-base-modal-default-button"
							@click="() => $emit('close')">
							Close
						</base-button>
					</slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
/**
 * A modal dialog to display an important message to the user, that prevents 
 * other activity on the page until the user triggers an action to close it.
 * 
 * The modal is triggered just by rendering it. When you want to use a modal in
 * your Vue component, you can simply set a `v-if` parameter to show it when a
 * boolean flag is triggered. When the modal is closed, you then change that boolean
 * flag back.
 * 
 * Based on Vue's [modal dialog example](https://vuejs.org/v2/examples/modal.html),
 * which is also the basis of the Modal component in the `utilities` folder. This
 * version has altered styling to be more inline with the GLI base component themes.
 */
export default {
	props: {
	}
};
</script>

<style lang="scss" scoped>

    @use "sass:color";
	@use "@/components/theme/Colors";
	@use "@/components/theme/Screen";
	@use "@/components/theme/Spacing";

	.gli-base-modal-mask {
		backdrop-filter: blur(5px);
		background-color: color.adjust(Colors.$blueLight, $alpha: -0.4);
		display: table;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		transition: opacity 0.1s ease;
		width: 100%;
		z-index: 99999;
	}

	.gli-base-modal-wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	.gli-base-modal-container {
		background-color: #fff;
		border-radius: Spacing.$full;
		box-shadow: 0 10px 20px -10px Colors.$blue, inset 0 0 3px color.adjust(Colors.$blueLight, $alpha: -0.8);
		margin: auto Spacing.$double 50vh;

		@media (min-width: Screen.$sm) {
			margin: auto auto 50vh;
			max-width: 80vw;
		}

		@media (min-width: Screen.$lg) {
			max-width: 60vw;
		}

		padding: Spacing.$double;
		transition: all 0.1s ease;
	}

	.gli-base-modal-header h3 {
		color: Colors.$blue;
		margin-top: 0;
	}

	.gli-base-modal-body {
		font-size: 1.1em;
		margin: Spacing.$half 0;
	}

	.gli-base-modal-footer {
		text-align: right;
	}

	/*
	* The following styles are auto-applied to elements with
	* transition="modal" when their visibility is toggled
	* by Vue.js.
	*
	* You can easily play with the modal transition by editing
	* these styles.
	*/

	.gli-base-modal-enter {
		opacity: 0;
	}

	.gli-base-modal-leave-active {
		opacity: 0;
	}

	.gli-base-modal-enter .gli-base-modal-container,
	.gli-base-modal-leave-active .gli-base-modal-container {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
</style>