﻿@model Submissions.Web.Areas.Lookups.Models.AssociatedSoftwareTemplateEditViewModel

@{
	ViewBag.Title = "Associated Software Templates Edit";
}
@section css{
	@Styles.Render("~/bundles/css/letterGeneration")
}
<div id="app"></div>
@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}
