﻿<template>
	<div ref="ChangeEstimateModal" class="modal" tabindex="-1">
		<div class="modal-dialog" style="width:1000px;">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="clickUpdate">Update</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title">Update Estimated Hours</h3>
				</div>
				<div class="modal-body">
					<p class="text-info">The following tasks have actual hours that exceed estimated hours. &nbsp;Please update the remaining estimated hours.</p>
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<table class="taskTable">
								<colgroup>
									<col width="120">
									<col width="280">
									<col width="160">
									<col width="70">
									<col width="70">
									<col width="160">
									<col width="70">
									<col width="70">
								</colgroup>
								<thead>
									<tr>
										<td colspan="2"></td>
										<td colspan="3">Old</td>
										<td colspan="3">New</td>
									</tr>
									<tr>
										<td>Project</td>
										<td>Task</td>
										<td>Resource</td>
										<td>Estimated<br />Hours</td>
										<td>Actual<br />Hours</td>
										<td>Resource</td>
										<td>Estimated<br />Hours</td>
										<td>Actual<br />Hours</td>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item, index) in tasks" :key="item.taskId">
										<td><router-link :to="{ path: '/protrack/project/detail/' + item.projectId }" target="_blank" class="fileNumber">{{ item.fileNumber }}</router-link></td>
										<td>{{ item.task }}</td>
										<td>{{ item.oldUserName }}</td>
										<td>{{ item.oldEstimateHours }}</td>
										<td class="overBilled">{{ item.oldActualHours }}</td>
										<td>{{ item.newUserName }}</td>
										<td><input type="number" :tabindex="index + 1" class="form-control newEstHrs" v-model.number="item.newEstimateHours" :autofocus="index === 0" /></td>
										<td>0</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" @click="clickUpdate">Update</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('workloadManager')

	export default {
		data() {
			return {
				tasks: []
			}
		},
		computed: {
			...mapGetters([
				'changeEstimateTasks',
				'resources',
				'showChangeEstimatePopup'
			])
		},
		methods: {
			clickUpdate: function () {
				$(this.$refs.ChangeEstimateModal).modal('hide');
				const assignTo = this.resources.find(x => x.id == this.tasks[0].newUserId);
				this.updateTaskEstimates(this.tasks);
				this.assignTasks({ resource: assignTo, checkedListType: '' });
			},
			...mapActions([
				'assignTasks',
				'setShowChangeEstimatePopup',
				'updateTaskEstimates'
			])
		},
		watch: {
			showChangeEstimatePopup: function (newVal, oldVal) {
				if (newVal) {
					this.tasks = this.$lodash.cloneDeep(this.changeEstimateTasks);
					$(this.$refs.ChangeEstimateModal).modal('show');
					this.setShowChangeEstimatePopup(false);
				}
			}
		}
	}
</script>

<style scoped>
	.fileNumber {
		text-decoration: none;
	}

	.newEstHrs {
		width: 60px;
	}

	.overBilled {
		color: red;
		font-weight: 500;
	}

	.taskTable {
		font-size: 11px;
		table-layout: fixed;
	}

		.taskTable td {
			padding: 3px;
		}

		.taskTable thead {
			font-weight: bold;
		}

			.taskTable thead td {
				vertical-align: bottom;
			}

		.taskTable tbody td {
			border-top: 1px solid #ddd;
		}

		.taskTable tbody tr:nth-child(odd) {
			background-color: #f9f9f9;
		}

		.taskTable td:nth-child(2), .taskTable td[colspan="2"] {
			border-right: 1px solid #ddd;
		}

		.taskTable td:nth-child(5) {
			border-right: 1px solid #ddd;
		}
</style>