﻿<template>
	<div ref="ChooseResourceModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
					<h3 class="modal-title">Assign Selected Tasks To</h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-4">
							<table class="table table-striped table-condensed resourceTable">
								<tr><th>Team Resources</th></tr>
								<tr v-for="resource in teamResourcesMinusSelectedUser"><td><span :style="styleHierarchy(resource.level)"><a @click.stop="clickAssignTasks(resource)">{{ resource.name }}</a></span></td></tr>
							</table>
						</div>
						<div class="col-sm-4">
							<table class="table table-striped table-condensed resourceTable">
								<tr><th>External Resources</th></tr>
								<tr v-for="resource in externalResourcesMinusSelectedUser"><td><a @click.stop="clickAssignTasks(resource)" :class="{ resourceDisabled: resource.unavailable }">{{ resource.name }}</a></td></tr>
							</table>
						</div>
						<div class="col-sm-4">
							<table class="table table-striped table-condensed resourceTable">
								<tr><th>Favorite Resources</th></tr>
								<tr v-for="resource in favoriteResourcesMinusSelectedUser"><td><a @click.stop="clickAssignTasks(resource)" :class="{ resourceDisabled: resource.unavailable }">{{ resource.name }}</a></td></tr>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-horizontal">
								<div class="form-group form-group-sm">
									<label class="control-label col-sm-3" for="UserId">Other Resources</label>
									<div class="col-sm-6">
										<input name="User" id="User" type="hidden" v-model="user" />
										<Lookup id="UserId" name="UserId" :lookuptextfield="user" @updateLookupTextField="updateUser" lookupajax="Users" :filter='userFilter' v-model="userId" class="form-control" />
										<div v-if="userId">
											<br /><a @click.stop="clickViewCurrentTasks">View {{ user }}'s Current Tasks</a>
										</div>
									</div>
									<div class="col-sm-2">
										<button type="button" class="btn btn-primary" @click="clickAssignTasksBtn">Assign</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		<form ref="TaskReportForm" method="post" target="_blank">
			<input type="hidden" name="TaskSearchPartial.Filters.UserId" v-model="userId" />
			<input type="hidden" name="TaskSearchPartial.Filters.Status" value="Open" />
		</form>
	</div>
</template>

<script>
	import api from '@/api/workloadmanager'
	import { createNamespacedHelpers } from 'vuex'
	import Lookup from '@/components/utility/Lookup.vue'

	const { mapGetters, mapActions } = createNamespacedHelpers('workloadManager')

	export default {
		components: {
			Lookup
		},
		data() {
			return {
				userId: null,
				user: ''
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.ChooseResourceModal).on('hidden.bs.modal', function (e) {
				self.reset();
			});
		},
		methods: {
			clickAssignTasks: function (resource) {
				if (resource.unavailable) {
					return;
				}

				$(this.$refs.ChooseResourceModal).modal('hide');
				this.assignTasks({ resource: resource, checkedListType: '' });
				this.setCheckAll(false);
			},
			clickAssignTasksBtn: function () {
				const userId = this.userId;
				if (!Em(userId)) {
					$('#UserId').val(null).trigger('change');
					$(this.$refs.ChooseResourceModal).modal('hide');

					api.loadResource(userId, this.mainFilter)
						.then(r => {
							this.addOtherResource(r.data);
							this.clickAssignTasks(r.data.resources[0]);
						});
				}
			},
			clickViewCurrentTasks: function () {
				const form = this.$refs.TaskReportForm;
				form.action = jsPath + 'reports/tasks/display';
				form.submit();
			},
			isResourceUnavailable: function (resource) {
				if (resource.unavailableId) {
					const today = moment().startOf('day');
					const unavailableStartDate = moment(resource.unavailableStartDate).startOf('day');

					let unavailableEndDate;
					if (resource.unavailableEndDate) {
						unavailableEndDate = moment(resource.unavailableEndDate);
					}
					else {
						unavailableEndDate = moment().add(1, 'y');
					}
					unavailableEndDate = unavailableEndDate.startOf('day');

					if (today.isBetween(unavailableStartDate, unavailableEndDate, null, '[]')) {
						return true;
					}
				}

				return false;
			},
			reset: function () {
				this.userId = null;
				this.user = '';
			},
			styleHierarchy: function (level) {
				return 'padding-left:' + (level * 10) + 'px;';
			},
			updateUser: function (newValue) {
				this.user = newValue;
			},
			...mapActions([
				'assignTasks',
				'addOtherResource',
				'setCheckAll',
				'setShowResourcePopup'
			])
		},
		computed: {
			externalResourcesMinusSelectedUser: function () {
				const self = this;
				return this.externalResources.filter(x => x.user.id !== this.selectedUser.id).map(x => {
					return {
						...x.user,
						get unavailable() {
							return self.isResourceUnavailable(x.user);
						}
					};
				});
			},
			favoriteResourcesMinusSelectedUser: function () {
				const self = this;
				return this.favoriteResources.filter(x => x.user.id !== this.selectedUser.id).map(x => {
					return {
						...x.user,
						get unavailable() {
							return self.isResourceUnavailable(x.user);
						}
					};
				});
			},
			teamResourcesMinusSelectedUser: function () {
				return this.teamResources.filter(x => x.user.id !== this.selectedUser.id).map(x => {
					return {
						...x.user
					};
				});
			},
			userFilter: function () {
				return {
					Departments: ['ENG', 'MTH'],
					ExcludeUnavailable: true,
					ExcludeUserIds: this.selectedUser.Id == null ? null : [this.selectedUser.id]
				};
			},
			...mapGetters([
				'externalResources',
				'favoriteResources',
				'mainFilter',
				'selectedUser',
				'showResourcePopup',
				'teamResources'
			])
		},
		watch: {
			showResourcePopup: function (newVal, oldVal) {
				if (newVal) {
					$(this.$refs.ChooseResourceModal).modal('show');
					this.setShowResourcePopup(false);
				}
			}
		}
	}
</script>

<style scoped>
	.resourceTable {
		width: 100%;
	}

	.resourceDisabled {
		color: #d3d3d3;
		cursor: default;
		text-decoration: none;
	}

	a {
		cursor: pointer;
	}
</style>