﻿<template>
	<div ref="FavoritesModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="clickSave">Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title">Favorite Resources</h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<small class="text-info">
								<i>Favorite Resources will only appear when looking at your projects and are not already included in the Team or External resource lists</i><br />
							</small><br />
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<div class="col-sm-12">
								<table class="table table-condensed table-striped">
									<colgroup>
										<col style="width:90%;">
										<col style="width:10%;">
									</colgroup>
									<tr>
										<th>Resource</th>
										<th></th>
									</tr>
									<tbody>
										<tr v-for="(favorite, index) in localFavorites" :key="favorite.userId">
											<td>
												<input :id="'Name' + index" :name="'Name' + index" type="hidden" v-model="favorite.name" />
												<Lookup :id="'UserId' + index" :name="'UserId' + index" :lookuptextfield="favorite.name" @updateLookupTextField="updateName(index)" lookupajax="Users" :filter='favoriteFilter' v-model="favorite.userId" />
											</td>
											<td class="text-right"><i class="fas fa-times fa-2x" style="color:red;cursor:pointer;" @click="removeFavorite(index)" title="Remove"></i></td>
										</tr>
									</tbody>
								</table>
								<div><a style="text-decoration:none;" class="pointer" @click.stop="addFavorite"><i class="fas fa-plus"></i> Add Resource</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" @click="clickSave">Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<form ref="FavoritesForm" method="post">
			<input type="hidden" ref="Favorites" name="Favorites" />
		</form>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import api from '@/api/workloadmanager'
	import Lookup from '@/components/utility/Lookup.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('workloadManager')

	export default {
		components: {
			Lookup,
		},
		data() {
			return {
				localFavorites: []
			}
		},
		methods: {
			addFavorite: function () {
				this.localFavorites.push({
					userId: null,
					name: ''
				});
			},
			clickSave: function () {
				this.$refs.FavoritesForm.action = jsPath + "Protrack/WorkloadManager/Favorites"
				this.$refs.Favorites.value = JSON.stringify(this.localFavorites);
				this.$refs.FavoritesForm.submit();
			},
			removeFavorite: function (index) {
				this.localFavorites.splice(index, 1);
			},
			updateName: function (index) {
				const el = document.getElementById('UserId' + index);
				const selectedText = el.options[el.selectedIndex].text;
				this.localFavorites[index].name = selectedText;
			},
			...mapActions([
				'setShowFavoritesPopup'
			])
		},
		computed: {
			favoriteFilter: function () {
				return {
					Departments: ['ENG', 'MTH'],
					ExcludeUserIds: this.teamResources.filter(x => x.user.id !== null).map(x => x.user.id)
				}
			},
			...mapGetters([
				'favorites',
				'showFavoritesPopup',
				'teamResources'
			])
		},
		watch: {
			showFavoritesPopup: function (newVal, oldVal) {
				if (newVal) {
					this.localFavorites = this.$lodash.cloneDeep(this.favorites);

					$(this.$refs.FavoritesModal).modal('show');
					this.setShowFavoritesPopup(false);
				}
			}
		}
	}
</script>

<style scoped>
</style>