﻿<template>
	<div ref="FiltersModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="clickSave">Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title">Filters</h3>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<div class="col-sm-12">
								<div class="text-info">Exclude Resources and Tasks from the following Departments:</div>
								<div v-for="dept in localFilters.excludeDepartments" :key="dept.id" class="checkbox">
									<label>
										<input type="checkbox" v-model="dept.selected" /> {{ dept.department }}
									</label>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-12">
								<br />
								<div class="text-info">Exclude Specific Resources:</div>
								<div>
									<LookupMultiple id="ExcludeResourceIds" name="ExcludeResourceIds" lookupajax="Users" v-model="localFilters.excludeResourceIds" :options="localFilters.excludeResources" />
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-12">
								<br />
								<div class="text-info">Exclude Specific Tasks:</div>
								<table class="table table-condensed table-striped">
									<colgroup>
										<col style="width:90%;">
										<col style="width:10%;">
									</colgroup>
									<tbody>
										<tr v-for="(task, index) in localFilters.excludeTasks" :key="task.id">
											<td>
												<input :id="'TaskDefinition' + index" :name="'TaskDefinition' + index" type="hidden" v-model="task.definition" />
												<Lookup :id="'TaskDefinitionId' + index" :name="'TaskDefinitionId' + index" :lookuptextfield="task.definition" @updateLookupTextField="updateTaskDefinition(index)" lookupajax="TaskDefinitions" v-model="task.id" />
											</td>
											<td class="text-right"><i class="fas fa-times fa-2x" style="color:red;cursor:pointer;" @click="removeTask(index)" title="Remove"></i></td>
										</tr>
									</tbody>
								</table>
								<div><a id="AddTask" style="text-decoration:none;" class="pointer" @click.stop="addTask"><i class="fas fa-plus"></i> Add Task</a></div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-6">
								<br />
								<div class="text-info">Include Only Tasks that Begin With:</div>
								<div>
									<input type="text" v-model="localFilters.includeTasksBeginWith" class="form-control" />
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-6">
								<br />
								<div class="text-info">Include Only Unassigned Tasks for Project Lead:</div>
								<div>
									<input name="IncludeUnassignedTasksForENProjectLead" id="IncludeUnassignedTasksForENProjectLead" type="hidden" v-model="localFilters.includeUnassignedTasksForENProjectLead" />
									<Lookup id="IncludeUnassignedTasksForENProjectLeadId" name="IncludeUnassignedTasksForENProjectLeadId" :lookuptextfield="localFilters.includeUnassignedTasksForENProjectLead" @updateLookupTextField="updateIncludeUnassignedTasksForENProjectLead" lookupajax="Users" v-model="localFilters.includeUnassignedTasksForENProjectLeadId" class="form-control" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" @click="clickSave">Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<form ref="FiltersForm" method="post">
			<input type="hidden" ref="Filters" name="Filters" />
		</form>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('workloadManager')

	export default {
		components: {
			Lookup,
			LookupMultiple
		},
		data() {
			return {
				localFilters: {
					excludeResources: []
				}
			}
		},
		methods: {
			addTask: function () {
				this.localFilters.excludeTasks.push({
					id: null,
					definition: ''
				});
			},
			clickSave: function () {
				this.$refs.FiltersForm.action = jsPath + "Protrack/WorkloadManager/SaveFilters"
				this.$refs.Filters.value = JSON.stringify(this.localFilters);
				this.$refs.FiltersForm.submit();
			},
			removeTask: function (index) {
				this.localFilters.excludeTasks.splice(index, 1);
			},
			updateTaskDefinition: function (index) {
				const el = document.getElementById('TaskDefinitionId' + index);
				const selectedText = el.options[el.selectedIndex].text;
				this.localFilters.excludeTasks[index].definition = selectedText;
			},
			updateIncludeUnassignedTasksForENProjectLead: function (value) {
				this.localFilters.includeUnassignedTasksForENProjectLead = value;
			},
			...mapActions([
				'setShowFiltersPopup'
			])
		},
		computed: {
			...mapGetters([
				'filters',
				'showFiltersPopup'
			])
		},
		watch: {
			showFiltersPopup: function (newVal, oldVal) {
				if (newVal) {
					this.localFilters = this.$lodash.cloneDeep(this.filters);

					$(this.$refs.FiltersModal).modal('show');
					this.setShowFiltersPopup(false);
				}
			}
		}
	}
</script>