﻿<template>
	<div>
		<div class="row row-title">
			<div class="col-sm-8">
				<form id="WorkloadManagerForm" ref="WorkloadManagerForm" method="post" class="form-inline">
					<div class="form-group form-group-sm">
						<h3 style="padding-right:20px;">Workload Balancer</h3>
					</div>
					<div class="form-group form-group-sm">
						<input name="Manager" id="Manager" type="hidden" v-model="mainFilter.manager" />
						<Lookup id="ManagerId" name="ManagerId" :lookuptextfield="mainFilter.manager" @updateLookupTextField="updateManager" lookupajax="Users" :filter='mainFilter.managerFilter' v-model="mainFilter.managerId" data-placeholder="Manager" />
					</div>
					<div class="form-group form-group-sm">
						<input name="Team" id="Team" type="hidden" v-model="mainFilter.team" />
						<Lookup id="TeamId" name="TeamId" :lookuptextfield="mainFilter.team" @updateLookupTextField="updateTeam" lookupajax="Teams" v-model="mainFilter.teamId" data-placeholder="Team" />
					</div>
					<div class="form-group form-group-sm">
						<input name="SupplierFocus" id="SupplierFocus" type="hidden" v-model="mainFilter.supplierFocus" />
						<Lookup id="SupplierFocusId" name="SupplierFocusId" :lookuptextfield="mainFilter.supplierFocus" @updateLookupTextField="updateSupplierFocus" lookupajax="SupplierFocus" v-model="mainFilter.supplierFocusId" data-placeholder="Supplier Focus" />
					</div>
					<div class="form-group form-group-sm">
						<input name="UserLocation" id="UserLocation" type="hidden" v-model="mainFilter.userLocation" />
						<Lookup id="UserLocationId" name="UserLocationId" :lookuptextfield="mainFilter.userLocation" @updateLookupTextField="updateUserLocation" lookupajax="Laboratories" v-model="mainFilter.userLocationId" data-placeholder="Office" />
					</div>
					<div class="form-group form-group-sm" style="padding-left:10px;">
						<button class="btn btn-sm btn-primary" @click="clickGo" style="width:50px;">Go</button>
					</div>
				</form>
			</div>
			<div class="col-sm-4 form-buttons" v-if="displayFormButtons">
				<button class="btn btn-success btn-sm" @click="clickCommitChanges" v-show="hasPendingChanges" :disabled="displayCommitSpinner"><i class="fas fa-spinner fa-spin fa-fw" v-if="displayCommitSpinner"></i> Commit Changes</button>
				<button class="btn btn-primary btn-sm" @click="clickShowResourcePopup">Assign Tasks</button>
				<div class="verticalline-between-buttons"></div>
				<div class="btn-group">
					<router-link :to="{ path: '/protrack/workloadmanager/resourcefinder/' }" target="_blank" class="btn btn-sm btn-primary btn-resourcefinder">Resource Finder</router-link>
					<router-link :to="{ path: '/protrack/workloadmanager/resourcerequests/' }" target="_blank" class="btn btn-sm btn-primary btn-resourcefinder" title="Requests Requiring Action / My Pending Requests">{{ resourceRequest.otherRequests }} / {{ resourceRequest.myRequests }}</router-link>
				</div>
				<div class="verticalline-between-buttons"></div>
				<div class="dropdown" style="display:inline;">
					<button class="btn btn-default btn-sm dropdown-toggle ellipsis-v-button" data-toggle="dropdown" title="Settings"><i class="fas fa-ellipsis-v"></i></button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a class="pointer" @click.stop="clickSettingsFavorites">Favorite Resources</a></li>
						<li><a class="pointer" @click.stop="clickSettingsFilters">Filters</a></li>
						<li><a class="pointer" @click.stop="clickSettingsResourceUnavailability">Resource Unavailability</a></li>
					</ul>
				</div>
				<div v-if="hasFilters" class="filterWarning"><i class="fas fa-exclamation" title="Filters Enabled"></i></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<TaskCalendar></TaskCalendar>
			</div>
			<div class="col-sm-6">
				<TaskList></TaskList>
			</div>
		</div>
		<ChangeEstimate></ChangeEstimate>
		<Favorites></Favorites>
		<Filters></Filters>
		<ResourceUnavailability></ResourceUnavailability>
		<TaskListUnassigned></TaskListUnassigned>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import ChangeEstimate from './ChangeEstimate'
	import Favorites from './Favorites'
	import Filters from './Filters'
	import Lookup from '@/components/utility/Lookup.vue'
	import ResourceUnavailability from './ResourceUnavailability'
	import TaskCalendar from './TaskCalendar'
	import TaskList from './TaskList'
	import TaskListUnassigned from './TaskListUnassigned'

	const { mapGetters, mapActions } = createNamespacedHelpers('workloadManager')

	export default {
		components: {
			ChangeEstimate,
			Favorites,
			Filters,
			Lookup,
			ResourceUnavailability,
			TaskCalendar,
			TaskList,
			TaskListUnassigned
		},
		data() {
			return {
				displayCommitSpinner: false,
				displayFormButtons: initialData.canEdit,
				resourceRequest: initialData.resourceRequest,
				sessionUserId: initialData.sessionUserId
			}
		},
		created: function () {
			this.setCalendarOptions(initialData.calendarOptions);
			this.setDTORequests(initialData.dtoRequests);
			this.setFavorites(initialData.favorites);
			this.setFilters(initialData.filters);
			this.setHolidays(initialData.holidays);
			this.setMainFilter(initialData.mainFilter);
			this.setResources(initialData.resources)
				.then(() => {
					if (this.resources.length > 0) {
						const defaultUser = this.resources.find(x => x.type === 'team');
						this.setSelectedUser(defaultUser);
					}
				})
				.then(() => {
					this.setTasks(initialData.tasks)
				});
		},
		methods: {
			clickCommitChanges: function () {
				const self = this;
				bootbox.confirm("Are you sure you want to commit these changes?", function (result) {
					if (result) {
						self.displayCommitSpinner = true;
						self.commitChanges()
							.finally(() => {
								self.displayCommitSpinner = false;
							});
					}
				});
			},
			clickGo: function () {
				const form = this.$refs.WorkLoadManagerForm;
				form.action = jsPath + 'protrack/workloadmanager/workloadbalancer';
				form.submit();
			},
			clickSettingsFavorites: function () {
				this.setShowFavoritesPopup(true);
			},
			clickSettingsFilters: function () {
				this.setShowFiltersPopup(true);
			},
			clickSettingsResourceUnavailability: function () {
				this.setShowResourceUnavailabilityPopup(true);
			},
			clickShowResourcePopup: function () {
				if (this.checkedTasks.length === 0) {
					bootbox.alert('Please select tasks to assign');
					return;
				}

				this.setShowResourcePopup(true);
			},
			updateManager: function (newValue) {
				this.mainFilter.manager = newValue;
			},
			updateTeam: function (newValue) {
				this.mainFilter.team = newValue;
			},
			updateSupplierFocus: function (newValue) {
				this.mainFilter.supplierFocus = newValue;
			},
			updateUserLocation: function (newValue) {
				this.mainFilter.userLocation = newValue;
			},
			...mapActions([
				'commitChanges',
				'setCalendarOptions',
				'setDTORequests',
				'setFavorites',
				'setFilters',
				'setHolidays',
				'setMainFilter',
				'setResources',
				'setShowFavoritesPopup',
				'setShowFiltersPopup',
				'setShowResourcePopup',
				'setShowResourceUnavailabilityPopup',
				'setSelectedUser',
				'setTasks'
			])
		},
		computed: {
			hasFilters: function () {
				return this.filters.excludeDepartments.find(x => x.selected) ||
					this.filters.excludeResourceIds ||
					this.filters.excludeTasks.find(x => x.id !== null) ||
					this.filters.includeTasksBeginWith;
			},
			hasPendingChanges: function () {
				return this.tasks.some(x => x.commitStatus === 'Pending');
			},
			...mapGetters([
				'checkedTasks',
				'filters',
				'mainFilter',
				'resources',
				'tasks'
			])
		}
	}
</script>

<style scoped>
	.filterWarning {
		display: inline;
		padding-left: 3px;
		padding-right: 3px;
	}

	.fa-exclamation {
		position: absolute;
		top: 9px;
		font-size: 20px;
		color: #E55B3C;
	}
</style>
