﻿<template>
	<div ref="ResourceUnavailabilityModal" class="modal" tabindex="-1">
		<div class="modal-dialog" style="width: 700px;">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" @click="clickSave">Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title">Resource Unavailability</h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<small class="text-info">
								<i><b>Lock Down your Team Resources</b> - Enter a Start Date or Start and End Date to prevent the resource from being assigned tasks by other managers for that period of time</i><br />
								<br />
								<i>
									<b>Interoffice Assignment</b> - Additionally, enter an Interoffice Assignment note to have the time block respected in the calendar and time estimates. &nbsp;
									These types of resources typically include users assigned to long-term projects (ie. Automation, IT Projects) or belong to other companies (ie. SLI, Bullet Proof) and are not available for assignment.
								</i>
							</small><br /><br />
							<table id="ResourceUnavailabilityTable" class="table table-condensed table-striped">
								<colgroup>
									<col style="width:30%" />
									<col style="width:15%" />
									<col style="width:15%" />
									<col style="width:40%" />
								</colgroup>
								<tr>
									<th>Team Resources</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Interoffice Assignment</th>
								</tr>
								<tbody class="form-group form-group-sm">
									<tr v-for="(resource, index) in resourceUnavailability">
										<td>{{ resource.name }}</td>
										<td><DatePicker v-model="resource.unavailableStartDate" /></td>
										<td>
											<DatePicker v-model="resource.unavailableEndDate" />
											<span class="field-validation-error" v-if="$v.resourceUnavailability.$each[index].unavailableEndDate.$error && !$v.resourceUnavailability.$each[index].unavailableEndDate.greaterThanOrEqualToStartDate">Must be greater than or equal to Start Date</span>
										</td>
										<td><input type="text" v-model="resource.interofficeAssignment" class="form-control" /></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" @click="clickSave">Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import DatePicker from '@/components/utility/DatePicker.vue'
	import api from '@/api/workloadmanager'
	import { greaterThanOrEqualTo } from '../validators';

	const { mapGetters, mapActions } = createNamespacedHelpers('workloadManager')

	export default {
		components: {
			DatePicker
		},
		data() {
			return {
				resourceUnavailability: []
			}
		},
		validations: {
			resourceUnavailability: {
				$each: {
					unavailableEndDate: {
						greaterThanOrEqualToStartDate: greaterThanOrEqualTo('unavailableStartDate')
					}
				}
			}
		},
		methods: {
			clickSave: function () {
				if (!this.validate()) {
					return;
				}

				$(this.$refs.ResourceUnavailabilityModal).modal('hide');

				const newResources = this.$lodash.cloneDeep(this.resources);
				const resourceUnavailability = this.resourceUnavailability.filter(x => x.unavailableId !== null || x.unavailableStartDate);

				if (resourceUnavailability.length > 0) {
					api.updateResourceUnavailability(resourceUnavailability)
						.then(r => {
							r.data.forEach(x => {
								const idx = newResources.findIndex(y => y.id === x.id);
								newResources[idx] = x;
							});

							this.setResources(newResources);

							const newSelectedUser = newResources.filter(x => x.type === 'team').find(x => x.id == this.selectedUser.id);
							if (newSelectedUser) {
								this.setSelectedUser(newSelectedUser);
								this.rearrangeDates(newSelectedUser);
							}
						});
				}
			},
			validate: function () {
				this.$v.$touch();
				return !this.$v.$invalid;
			},
			...mapActions([
				'rearrangeDates',
				'setResources',
				'setSelectedUser',
				'setShowResourceUnavailabilityPopup'
			])
		},
		computed: {
			...mapGetters([
				'resources',
				'selectedUser',
				'showResourceUnavailabilityPopup'
			])
		},
		watch: {
			showResourceUnavailabilityPopup: function (newVal, oldVal) {
				if (newVal) {
					this.$v.$reset();
					const resourceUnavailability = this.$lodash.cloneDeep(this.resources.filter(x => x.type === 'team' && x.id !== null));
					this.resourceUnavailability = this.$lodash.sortBy(resourceUnavailability, (x) => { return x.name });

					$(this.$refs.ResourceUnavailabilityModal).modal('show');
					this.setShowResourceUnavailabilityPopup(false);
				}
			}
		}
	}
</script>

<style>
	#ResourceUnavailabilityTable td {
		vertical-align: middle;
	}

	#ResourceUnavailabilityTable th {
		padding-left: 5px;
	}
</style>