﻿<template>
	<div class="employee">
		<div class="row">
			<div class="col-sm-4"><b>Resource:</b> <span ref="resourcePopover" :data-content="resourcePopoverContent">{{ selectedUser.name }}</span></div>
			<div class="col-sm-5"><b>Hours:</b> {{ hours.regular }} &nbsp; <b>On-Hold:</b> {{ hours.oh }} &nbsp; <b>Total:</b> {{ hours.total }}</div>
			<div class="col-sm-3">
				<div class="checkbox" style="margin-top:0px;margin-bottom:3px;">
					<label><input type="checkbox" v-model="filterOH"><b>Hide On-Hold</b></label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table id="ContainerTable">
					<tr>
						<td>
							<div id="TaskLabelsDiv" ref="TaskLabelsDiv">
								<table id="TaskLabelsTable" class="table table-condensed">
									<thead>
										<tr>
											<th><input type="checkbox" v-model="checkAll" @change="changeCheckAll" /></th>
											<th><div @click="sortBy('fileNumber')" class="sortHeader">Project  <i :class="sortArrowClass('fileNumber')"></i></div></th>
											<th><div @click="sortBy('task')" class="sortHeader">Task  <i :class="sortArrowClass('task')"></i></div></th>
											<th><div @click="sortBy('projectManager')" class="sortHeader">Manager  <i :class="sortArrowClass('projectManager')"></i></div></th>
											<th><div @click="sortBy('status')" class="sortHeader">Status  <i :class="sortArrowClass('status')"></i></div></th>
											<th>&nbsp;</th>
											<th><div @click="sortBy('estimateStartDate')" class="sortHeader">Estimated<br />Start Date  <i :class="sortArrowClass('estimateStartDate')"></i></div></th>
											<th><div @click="sortBy('estimateCompleteDate')" class="sortHeader">Estimated<br />Complete Date  <i :class="sortArrowClass('estimateCompleteDate')"></i></div></th>
											<th><div @click="sortBy('projectAcceptDate')" class="sortHeader">Project<br />Accept Date  <i :class="sortArrowClass('projectAcceptDate')"></i></div></th>
											<th><div @click="sortBy('projectTargetDate')" class="sortHeader">Project<br />Target Date  <i :class="sortArrowClass('projectTargetDate')"></i></div></th>
											<th><div @click="sortBy('estimateHours')" class="sortHeader">Estimate<br />Hours  <i :class="sortArrowClass('estimateHours')"></i></div></th>
											<th><div @click="sortBy('actualHours')" class="sortHeader">Actual<br />Hours  <i :class="sortArrowClass('actualHours')"></i></div></th>
											<th>Lent /<br />Borrowed</th>
											<th>Weekend</th>
										</tr>
									</thead>
								</table>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div id="TasksDiv" ref="TasksDiv">
								<div v-if="selectedUser.interofficeAssignment" class="interofficeNote"><b>Interoffice Assignment ({{ selectedUser.unavailableStartDate | formatDate }} - {{ selectedUser.unavailableEndDate | formatDate }}):</b> {{ selectedUser.interofficeAssignment }}</div>
								<table id="TasksTable" class="table table-condensed table-striped table-hover">
									<tbody>
										<tr is="TaskListItem" v-for="task in filteredTasks" :key="task.id" :task="task" :class="task.style"></tr>
										<tr v-if="!hasFilteredTasks"><td colspan="14" class="norecords">No Records Found</td></tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<ChooseResource></ChooseResource>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import ChooseResource from './ChooseResource'
	import TaskListItem from './TaskListItem'
	import { sortValue } from '@/common'

	const { mapGetters, mapActions } = createNamespacedHelpers('workloadManager')

	export default {
		components: {
			ChooseResource, TaskListItem
		},
		data() {
			return {
				filterOH: false
			}
		},
		mounted: function () {
			const scrollbarOffset = 17;
			const tasksDiv = $(this.$refs.TasksDiv);
			const taskLabelsDiv = $(this.$refs.TaskLabelsDiv);

			const tasksDivOffset = tasksDiv.offset();
			const width = screen.width - tasksDivOffset.left - 15; // 15 for padding on right side of row column
			let height = window.innerHeight - tasksDivOffset.top - 10; // 10 for table header padding

			// if IE 6-11
			if (false || !!document.documentMode) {
				height += 8;
			}

			tasksDiv.width(width).height(height);
			taskLabelsDiv.width(width - scrollbarOffset);

			tasksDiv.on('scroll', function () {
				taskLabelsDiv.scrollLeft(tasksDiv.scrollLeft());
			});

			// resource popover
			$(this.$refs.resourcePopover).popover({
				container: 'body',
				delay: { "show": 400, "hide": 0 },
				html: true,
				trigger: 'hover'
			});
		},
		methods: {
			changeCheckAll: function () {
				if (this.checkAll) {
					this.filteredTasks.forEach(x => {
						this.addCheckedTasks(x.taskId);
					});
				}
				else {
					this.setCheckedTasks([]);
				}
			},
			sortArrowClass: function (key) {
				const sortOrder = this.sortConfig.sortOrders[key];

				if (!(this.sortConfig.sortKey && sortOrder)) {
					return '';
				}
				else if (sortOrder === 'asc') {
					return 'fas fa-caret-up';
				}
				else {
					return 'fas fa-caret-down';
				}
			},
			sortBy: function (key) {
				let config = this.$lodash.cloneDeep(this.sortConfig);

				Object.entries(config.sortOrders).forEach(
					([k, v]) => {
						if (k !== key) {
							config.sortOrders[k] = null
						}
					}
				);

				config.sortKey = key;
				config.sortOrders[key] = config.sortOrders[key] === 'asc' ? 'desc' : 'asc';

				this.setTaskListSortConfig(config);
			},
			...mapActions([
				'addCheckedTasks',
				'setCheckedTasks',
				'setTaskListSortConfig'
			])
		},
		computed: {
			checkAll: {
				get() {
					return this.$store.state.workloadManager.checkAll;
				},
				set(value) {
					this.$store.dispatch('workloadManager/setCheckAll', value);
				}
			},
			filteredTasks: function () {
				let tasks;
				const sortKey = this.sortConfig.sortKey;

				if (this.filterOH) {
					tasks = this.tasks.filter(x => x.status !== 'OH');
				}
				else {
					tasks = this.tasks;
				}

				if (sortKey) {
					const sortOrder = this.sortConfig.sortOrders[sortKey] || 'asc';
					tasks = this.$lodash.orderBy(tasks, [x => sortValue(x[sortKey])], [sortOrder]);
				}

				return tasks;
			},
			hasFilteredTasks: function () {
				return this.filteredTasks.length > 0;
			},
			hours: function () {
				let total = 0;
				let oh = 0;
				for (let i = 0; i < this.filteredTasks.length; i++) {
					if (this.filteredTasks[i].status === 'OH') {
						oh += this.filteredTasks[i].remainingHours;
					}

					total += this.filteredTasks[i].remainingHours;
				}

				const result = {
					"regular": this.$lodash.round(total - oh, 2),
					"oh": this.$lodash.round(oh, 2),
					"total": this.$lodash.round(total, 2)
				};

				return result;
			},
			resourcePopoverContent: function () {
				if (!this.selectedUser.managerName) {
					return '';
				}

				return '<b>Manager: </b>' + this.selectedUser.managerName;
			},
			...mapGetters({
				selectedUser: 'selectedUser',
				sortKey: 'sortKey',
				tasks: 'selectedUserTasks',
				sortConfig: 'taskListSortConfig'
			})
		}
	}
</script>

<style scoped>
	#ContainerTable {
		border-spacing: 0;
		padding: 0;
		font-size: 10px;
	}

		#ContainerTable td, #ContainerTable th {
			white-space: nowrap;
		}

	#TaskLabelsDiv {
		overflow: hidden;
	}

	#TaskLabelsTable {
		border-spacing: 0;
		padding: 0;
		table-layout: fixed;
		width: 100%;
		margin-bottom: 0 !important;
	}

		#TaskLabelsTable thead {
			background-color: #b0b0b0;
		}

		#TaskLabelsTable th {
			vertical-align: bottom;
		}

	#TasksDiv {
		overflow: scroll;
		position: relative;
	}

	#TasksTable {
		border-spacing: 0;
		padding: 0;
		table-layout: fixed;
		width: 100%;
	}

		#TasksTable /deep/ td {
			vertical-align: middle;
			overflow: hidden;
		}

			#TaskLabelsTable th:nth-child(1), #TasksTable /deep/ td:nth-child(1) {
				width: 30px;
			}

			#TaskLabelsTable th:nth-child(2), #TasksTable /deep/ td:nth-child(2) {
				width: 130px;
			}

			#TaskLabelsTable th:nth-child(3), #TasksTable /deep/ td:nth-child(3) {
				width: 200px;
			}

			#TaskLabelsTable th:nth-child(4), #TasksTable /deep/ td:nth-child(4) {
				width: 80px;
			}

			#TaskLabelsTable th:nth-child(5), #TasksTable /deep/ td:nth-child(5) {
				width: 40px;
			}

			#TaskLabelsTable th:nth-child(6), #TasksTable /deep/ td:nth-child(6) {
				width: 40px;
			}

			#TaskLabelsTable th:nth-child(7), #TasksTable /deep/ td:nth-child(7) {
				width: 75px;
			}

			#TaskLabelsTable th:nth-child(8), #TasksTable /deep/ td:nth-child(8) {
				width: 85px;
			}

			#TaskLabelsTable th:nth-child(9), #TasksTable /deep/ td:nth-child(9) {
				width: 75px;
			}

			#TaskLabelsTable th:nth-child(10), #TasksTable /deep/ td:nth-child(10) {
				width: 75px;
			}

			#TaskLabelsTable th:nth-child(11), #TasksTable /deep/ td:nth-child(11) {
				width: 60px;
			}

			#TaskLabelsTable th:nth-child(12), #TasksTable /deep/ td:nth-child(12) {
				width: 60px;
			}

			#TaskLabelsTable th:nth-child(13), #TasksTable /deep/ td:nth-child(13) {
				width: 60px;
				text-align: center;
			}

			#TaskLabelsTable th:nth-child(14), #TasksTable /deep/ td:nth-child(14) {
				width: 60px;
				text-align: center;
			}

	.atrisk {
		border: 2px solid red;
	}

	.interofficeNote {
		font-size: 14px;
		text-align: center;
		color: #7B4A12;
		padding-left: 10px;
	}

	.sortHeader {
		cursor: pointer;
	}
</style>