﻿<template>
	<tr>
		<td><input type="checkbox" v-model="checkedTasks" :value="task.taskId"></td>
		<td><router-link :to="{ path: '/protrack/project/detail/' + task.projectId }" target="_blank" class="fileNumber">{{ task.fileNumber }}</router-link></td>
		<td>{{ task.task }}</td>
		<td>{{ task.projectManager }}</td>
		<td>{{ task.status }}</td>
		<td><span class="commitStatus">{{ task.commitStatus }}</span></td>
		<td>{{ task.estimateStartDate | formatDate }}</td>
		<td>{{ task.estimateCompleteDate |formatDate }}</td>
		<td>{{ task.projectAcceptDate | formatDate }}</td>
		<td>{{ task.projectTargetDate | formatDate }}</td>
		<td>{{ task.estimateHours }}</td>
		<td><span :class="{ overBilled: isActualGreaterThanEstimate }">{{ task.actualHours }}</span></td>
		<td><i v-if="task.lentOrBorrowed" class="fas fa-check"></i></td>
		<td><input type="checkbox" v-model="weekendWork" /></td>
	</tr>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	const { mapGetters, mapActions } = createNamespacedHelpers('workloadManager')

	export default {
		props: {
			task: {
				type: Object,
				required: true
			}
		},
		computed: {
			checkedTasks: {
				get() {
					return this.$store.state.workloadManager.checkedTasks;
				},
				set(value) {
					this.$store.dispatch('workloadManager/setCheckedTasks', value);
				}
			},
			isActualGreaterThanEstimate: function () {
				return (this.task.actualHours > this.task.estimateHours);
			},
			weekendWork: {
				get() {
					return this.task.weekendWork;
				},
				set(value) {
					const updatedTask = Object.assign({}, this.task);
					updatedTask.commitStatus = (this.task.userId === this.task.userIdOld && value === this.task.weekendWorkOld) ? null : 'Pending';
					updatedTask.weekendWork = value;

					this.updateTask(updatedTask)
						.then(() => this.rearrangeDates(this.selectedUser));
				}
			},
			...mapGetters({
				selectedUser: 'selectedUser'
			})
		},
		methods: {
			...mapActions([
				'rearrangeDates',
				'updateTask'
			])
		}
	}
</script>

<style scoped>
	.commitStatus {
		color: #5cb85c;
		font-size: 8px;
		font-weight: 500;
	}

	.fileNumber {
		text-decoration: none;
	}

	.overBilled {
		color: red;
		font-weight: 500;
	}
</style>