﻿<template>
	<div class="taskview">
		<div class="row" style="padding-bottom: 3px;">
			<div class="col-sm-12">
				<table id="legend" class="pull-right">
					<tbody>
						<tr>
							<td class="lentorborrowed">Lent/Borrowed</td>
							<td class="scheduled">Scheduled</td>
							<td class="oh">On-Hold</td>
							<td class="free">Free</td>
							<td class="dto">DTO/Holiday</td>
							<td class="weekend">Weekend</td>
							<td class="interofficeassignment">Assignment</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table id="ContainerTable">
					<tr>
						<td></td>
						<td>
							<div id="DayLabelsDiv" ref="DayLabelsDiv">
								<table id="DayLabelsTable">
									<tr><td v-for="item in dayLabels" :key="item.date" class="calendar-date">{{ item.monthDay }}</td></tr>
									<tr><td v-for="item in dayLabels" :key="item.date" class="calendar-day">{{ item.day }}</td></tr>
								</table>
							</div>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<div id="ResourcesDiv" ref="ResourcesDiv">
								<table id="ResourcesTable">
									<tr><th class="heading">Team Resources</th></tr>
									<tr v-for="resource in teamResources" :key="resource.user.id" @click="clickResource(resource.user)">
										<td v-if="resource.user.name == 'Unassigned'" bgcolor="#b3d9ff">{{ resource.user.name }}</td>
										<td v-if="resource.user.name != 'Unassigned'" bgcolor="#428bca"><span :style="styleHierarchy(resource.user.level)">{{ resource.user.name }}</span></td>
									</tr>
									<tr><th class="heading">External Resources</th></tr>
									<tr v-for="resource in externalResources" :key="resource.user.id" @click="clickResource(resource.user)">
										<td bgcolor="#428bca">{{ resource.user.name }}</td>
									</tr>
									<tr><th class="heading">Favorite Resources</th></tr>
									<tr v-for="resource in favoriteResources" :key="resource.user.id" @click="clickResource(resource.user)">
										<td bgcolor="#428bca">{{ resource.user.name }}</td>
									</tr>
								</table>
							</div>
						</td>
						<td>
							<div id="TasksDiv" ref="TasksDiv">
								<table id="TasksTable">
									<tr><td v-for="col in dayLabels">&nbsp;</td></tr>
									<tr v-for="resource in teamResources" :key="resource.user.id">
										<td v-for="day in resource.days" :class="day.class" :key="day.date" @click="clickDay(day, resource.user)">
											<div v-if="day.scheduledHours > 0 && day.scheduledHours < day.workdayHours">{{ day.scheduledHours }}</div>
										</td>
									</tr>
									<tr><td v-for="col in dayLabels">&nbsp;</td></tr>
									<tr v-for="resource in externalResources" :key="resource.user.id">
										<td v-for="day in resource.days" :class="day.class" :key="day.date" @click="clickDay(day, resource.user)">
											<div v-if="day.scheduledHours > 0 && day.scheduledHours < day.workdayHours">{{ day.scheduledHours }}</div>
										</td>
									</tr>
									<tr><td v-for="col in dayLabels">&nbsp;</td></tr>
									<tr v-for="resource in favoriteResources" :key="resource.user.id">
										<td v-for="day in resource.days" :class="day.class" :key="day.date" @click="clickDay(day, resource.user)">
											<div v-if="day.scheduledHours > 0 && day.scheduledHours < day.workdayHours">{{ day.scheduledHours }}</div>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import DatePicker from '@/components/utility/DatePicker.vue'

	const { mapGetters, mapActions } = createNamespacedHelpers('workloadManager')

	export default {
		components: {
			DatePicker
		},
		mounted: function () {
			const scrollbarOffset = 17;
			const tasksDiv = $(this.$refs.TasksDiv);
			const dayLabelsDiv = $(this.$refs.DayLabelsDiv);
			const resourcesDiv = $(this.$refs.ResourcesDiv);
			const tasksDivOffset = tasksDiv.offset();

			const width = (screen.width / 2) - tasksDivOffset.left - 15; // 15 for padding on right side of row column;
			const height = window.innerHeight - tasksDivOffset.top;

			tasksDiv.width(width).height(height);
			dayLabelsDiv.width(width - scrollbarOffset);
			resourcesDiv.height(height - scrollbarOffset);

			tasksDiv.on('scroll', function () {
				dayLabelsDiv.scrollLeft(tasksDiv.scrollLeft());
				resourcesDiv.scrollTop(tasksDiv.scrollTop());
			});
		},
		methods: {
			clickDay: function (day, user) {
				if (day.class === 'free') {
					this.setShowUnassignedPopup(true);
				}

				this.setSelectedUser(user);
				this.setCheckAll(false);
			},
			clickResource: function (user) {
				this.setSelectedUser(user);
				this.setCheckAll(false);
			},
			styleHierarchy: function (level) {
				return 'padding-left:' + (level * 10) + 'px;';
			},
			...mapActions([
				'setCheckAll',
				'setSelectedUser',
				'setShowUnassignedPopup'
			])
		},
		computed: {
			dayLabels: function () {
				let dayLabels = [];

				if (this.resourceData[0]) {
					dayLabels = this.resourceData[0].days.map(x => {
						return {
							date: x.date,
							monthDay: moment(x.date).format('M/D'),
							day: moment(x.date).format('ddd')
						}
					});
				}
				else {
					const yesterday = moment().add(-1, 'd');
					for (let i = 0; i < this.calendarOptions.days; i++) {
						let day = yesterday.add(1, 'd');
						dayLabels.push({
							date: day.format('l'),
							monthDay: day.format('M/D'),
							day: day.format('ddd')
						});
					}
				}

				return dayLabels;
			},
			...mapGetters([
				'calendarOptions',
				'externalResources',
				'favoriteResources',
				'resourceData',
				'teamResources'
			])
		}
	}
</script>
<style scoped>
	/* Legend */
	#legend {
		table-layout: fixed;
		font-size: 10px;
		width: 500px;
		border: 1px solid #D0D0D0;
		margin-right: 17px;
	}

		#legend td {
			text-align: center;
			height: 14px;
			font-weight: 500;
		}

	.scheduled {
		background-color: #7CCD7C;
		color: white;
	}

	.oh {
		background-color: #ffff99;
	}

	.weekend {
		background-color: #B5B5B5;
		color: #3B3C3E;
	}

	.free {
		background-color: white;
	}

	.lentorborrowed {
		background-color: green;
		color: white;
	}

	.dto {
		background-color: hotpink;
		color: white;
	}

	.holiday {
		background-color: hotpink;
	}

	.nowork {
		/* url encode 2nd param of url to work in IE 11 */
		/*background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M0 99 L99 0 L100 1 L1 100' fill='#a8a8a8' /></svg>");*/
		background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20version%3D%271.1%27%20preserveAspectRatio%3D%27none%27%20viewBox%3D%270%200%20100%20100%27%3E%3Cpath%20d%3D%27M0%2099%20L99%200%20L100%201%20L1%20100%27%20fill%3D%27%23a8a8a8%27%20%2F%3E%3C%2Fsvg%3E");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%, auto;
	}

	.interofficeassignment {
		background-color: #7B4A12;
		color: white;
	}

	/* Calendar Table */
	#ContainerTable {
		border-spacing: 0;
		padding: 0;
	}

		#ContainerTable > tr > td:nth-child(1) {
			width: 150px;
			min-width: 150px;
		}

		#ContainerTable td, #ContainerTable th {
			white-space: nowrap;
			text-align: center;
			min-height: 22px;
			height: 22px;
		}

	#DayLabelsDiv {
		overflow: hidden;
		width: 0;
	}

	#DayLabelsTable {
		border-spacing: 0;
		padding: 0;
		table-layout: fixed;
		width: 100%;
	}

		#DayLabelsTable td {
			width: 40px;
			min-width: 40px;
			font-size: 11px;
			border: 1px solid #ccc;
			min-height: 20px;
			height: 20px;
		}

	#ResourcesDiv {
		overflow: hidden;
		height: 0;
	}

	#ResourcesTable {
		border-spacing: 0;
		padding: 0;
		table-layout: fixed;
		width: 100%;
	}

		#ResourcesTable td, #ResourcesTable th {
			border: 1px solid #ccc;
		}

		#ResourcesTable td {
			font-size: 11px;
			cursor: pointer;
			text-align: left;
			padding-left: 5px;
		}

	#TasksDiv {
		overflow: scroll;
		width: 0;
		height: 0;
		position: relative;
	}

	#TasksTable {
		border-spacing: 0;
		padding: 0;
		table-layout: fixed;
		width: 100%;
	}

		#TasksTable td {
			width: 40px;
			min-width: 40px;
			font-size: 11px;
			border: 1px solid #ccc;
		}

	.heading {
		background-color: #0c3161;
		color: white;
		padding-left: 2px;
		padding-right: 2px;
	}

	.calendar-date {
		background-color: grey;
		color: white;
		font-size: 10px;
	}

	.calendar-day {
		background-color: #b3d9ff;
		color: navy;
		font-size: 10px;
	}
</style>
