﻿<template>
	<div ref="TaskListUnassignedModal" class="modal" tabindex="-1">
		<div class="modal-dialog" style="width:1000px;">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" data-dismiss="modal" @click="clickAssignTasks" v-if="hasFilteredTasks">Assign</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
					<h3 class="modal-title">Unassigned Tasks <small>- Assign Selected Tasks to <b>{{ selectedUser.name }}</b></small></h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-4"><b>Resource:</b> Unassigned</div>
						<div class="col-sm-5"><b>Hours:</b> {{ hours.regular }} &nbsp; <b>On-Hold:</b> {{ hours.oh }} &nbsp; <b>Total:</b> {{ hours.total }}</div>
						<div class="col-sm-3">
							<div class="checkbox" style="margin-top:0px;margin-bottom:3px;">
								<label><input type="checkbox" v-model="filterOH"><b>Hide On-Hold</b></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<table class="table table-condensed table-striped table-hover tableTasks" width="930">
								<colgroup>
									<col width="30">
									<col width="130">
									<col width="200">
									<col width="80">
									<col width="60">
									<col width="75">
									<col width="85">
									<col width="75">
									<col width="75">
									<col width="60">
									<col width="60">
								</colgroup>
								<thead>
									<tr bgcolor="#bgbgbg">
										<th><input type="checkbox" v-model="checkAll" @change="changeCheckAll" /></th>
										<th><div @click="sortBy('fileNumber')" class="sortHeader">Project  <i :class="sortArrowClass('fileNumber')"></i></div></th>
										<th><div @click="sortBy('task')" class="sortHeader">Task  <i :class="sortArrowClass('task')"></i></div></th>
										<th><div @click="sortBy('projectManager')" class="sortHeader">Manager  <i :class="sortArrowClass('projectManager')"></i></div></th>
										<th><div @click="sortBy('status')" class="sortHeader">Status  <i :class="sortArrowClass('status')"></i></div></th>
										<th><div @click="sortBy('estimateStartDate')" class="sortHeader">Estimated<br />Start Date  <i :class="sortArrowClass('estimateStartDate')"></i></div></th>
										<th><div @click="sortBy('estimateCompleteDate')" class="sortHeader">Estimated<br />Complete Date  <i :class="sortArrowClass('estimateCompleteDate')"></i></div></th>
										<th><div @click="sortBy('projectAcceptDate')" class="sortHeader">Project<br />Accept Date  <i :class="sortArrowClass('projectAcceptDate')"></i></div></th>
										<th><div @click="sortBy('projectTargetDate')" class="sortHeader">Project<br />Target Date  <i :class="sortArrowClass('projectTargetDate')"></i></div></th>
										<th><div @click="sortBy('estimateHours')" class="sortHeader">Estimate<br />Hours  <i :class="sortArrowClass('estimateHours')"></i></div></th>
										<th><div @click="sortBy('actualHours')" class="sortHeader">Actual<br />Hours  <i :class="sortArrowClass('actualHours')"></i></div></th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="task in filteredTasks" :key="task.id" :class="task.style">
										<td><input type="checkbox" v-model="checkedUnassignedTasks" :value="task.taskId"></td>
										<td><router-link :to="{ path: '/protrack/project/detail/' + task.projectId }" target="_blank" class="fileNumber">{{ task.fileNumber }}</router-link></td>
										<td><span style="width:200px;white-space:nowrap;overflow:hidden;">{{ task.task }}</span></td>
										<td>{{ task.projectManager }}</td>
										<td>{{ task.status }}</td>
										<td>{{ task.estimateStartDate | formatDate }}</td>
										<td>{{ task.estimateCompleteDate |formatDate }}</td>
										<td>{{ task.projectAcceptDate | formatDate }}</td>
										<td>{{ task.projectTargetDate | formatDate }}</td>
										<td>{{ task.estimateHours }}</td>
										<td><span :class="{ overBilled: isActualGreaterThanEstimate(task) }">{{ task.actualHours }}</span></td>
									</tr>
									<tr v-if="!hasFilteredTasks"><td colspan="11" class="norecords">No Records Found</td></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div style="font-size:0;">
						<button type="button" class="btn btn-primary" data-dismiss="modal" @click="clickAssignTasks" v-if="hasFilteredTasks">Assign</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { createNamespacedHelpers } from 'vuex'
	import { sortValue } from '@/common'

	const { mapGetters, mapActions } = createNamespacedHelpers('workloadManager')
	const sortConfig = { sortKey: 'estimateStartDate', sortOrders: { estimateStartDate: 'asc' } };

	export default {
		data() {
			return {
				checkAll: false,
				filterOH: false,
				sortConfig: sortConfig
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.TaskListUnassignedModal).on('hidden.bs.modal', function (e) {
				self.setCheckedUnassignedTasks([]);
			});
		},
		methods: {
			changeCheckAll: function () {
				if (this.checkAll) {
					this.filteredTasks.forEach(x => {
						this.addCheckedUnassignedTasks(x.taskId);
					});
				}
				else {
					this.setCheckedUnassignedTasks([]);
				}
			},
			clickAssignTasks: function () {
				this.assignTasks({ resource: this.selectedUser, checkedListType: 'Unassigned' });
			},
			isActualGreaterThanEstimate: function (task) {
				return (task.actualHours > task.estimateHours);
			},
			sortArrowClass: function (key) {
				const sortOrder = this.sortConfig.sortOrders[key];

				if (!(this.sortConfig.sortKey && sortOrder)) {
					return '';
				}
				else if (sortOrder === 'asc') {
					return 'fas fa-caret-up';
				}
				else {
					return 'fas fa-caret-down';
				}
			},
			sortBy: function (key) {
				let config = this.$lodash.cloneDeep(this.sortConfig);

				Object.entries(config.sortOrders).forEach(
					([k, v]) => {
						if (k !== key) {
							config.sortOrders[k] = null
						}
					}
				);

				config.sortKey = key;
				config.sortOrders[key] = config.sortOrders[key] === 'asc' ? 'desc' : 'asc';

				this.sortConfig = config;
			},
			...mapActions([
				'addCheckedUnassignedTasks',
				'assignTasks',
				'setCheckedUnassignedTasks',
				'setShowUnassignedPopup'
			])
		},
		computed: {
			checkedUnassignedTasks: {
				get() {
					return this.$store.state.workloadManager.checkedUnassignedTasks;
				},
				set(value) {
					this.$store.dispatch('workloadManager/setCheckedUnassignedTasks', value);
				}
			},
			filteredTasks: function () {
				let tasks;
				const sortKey = this.sortConfig.sortKey;

				if (this.filterOH) {
					tasks = this.tasks.filter(x => x.status !== 'OH');
				}
				else {
					tasks = this.tasks;
				}

				if (sortKey) {
					const sortOrder = this.sortConfig.sortOrders[sortKey] || 'asc';
					tasks = this.$lodash.orderBy(tasks, [x => sortValue(x[sortKey])], [sortOrder]);
				}

				return tasks;
			},
			hasFilteredTasks: function () {
				return this.filteredTasks.length > 0;
			},
			hours: function () {
				let total = 0;
				let oh = 0;
				for (let i = 0; i < this.filteredTasks.length; i++) {
					if (this.filteredTasks[i].status === 'OH') {
						oh += this.filteredTasks[i].remainingHours;
					}

					total += this.filteredTasks[i].remainingHours;
				}

				const result = {
					"regular": this.$lodash.round(total - oh, 2),
					"oh": this.$lodash.round(oh, 2),
					"total": this.$lodash.round(total, 2)
				};

				return result;
			},
			...mapGetters({
				selectedUser: 'selectedUser',
				showUnassignedPopup: 'showUnassignedPopup',
				tasks: 'unassignedTasks'
			})
		},
		watch: {
			showUnassignedPopup: function (newVal, oldVal) {
				if (newVal) {
					this.checkAll = false;
					this.sortConfig = sortConfig;
					$(this.$refs.TaskListUnassignedModal).modal('show');
					this.setShowUnassignedPopup(false);
				}
			}
		}
	}
</script>

<style scoped>
	.table > thead > tr > th {
		border-width: 1px !important;
	}

	.tableTasks {
		table-layout: fixed;
		font-size: 10px;
	}

		.tableTasks thead th {
			vertical-align: bottom;
		}

		.tableTasks td {
			vertical-align: middle;
		}

	.atrisk {
		border: 2px solid red;
	}

	.fileNumber {
		text-decoration: none;
	}

	.sortHeader {
		cursor: pointer;
	}

	.overBilled {
		color: red;
		font-weight: 500;
	}
</style>