﻿<template>
	<div class="section-div">
		<div class="section-name" >
			Coversheets
		</div>

		<vue-good-table :columns="columns"
						:rows="coversheet"
						:line-numbers="true"
						styleClass="vgt-table striped"
						:sort-options="{
							enabled: true
						}"
						:pagination-options="{
							enabled: true,
							mode: 'records'
						}">
			<template slot="table-row" slot-scope="props">
				<span v-if="props.column.field == 'rowAction'">
					<button class="btn btn-primary" @click="onDetailsClick(props.row.Id)">Details</button>
				</span>
			</template>
			<div slot="emptystate" class="text-center">
				<h2>No records.</h2>
			</div>
		</vue-good-table>

		<CoversheetDetail v-if="showDetailComponent" 
						  @close="showDetailComponent = false" 
						  :coversheet="detailCoversheet" />

	</div>
</template>

<script>
	
	import { VueGoodTable } from 'vue-good-table'
	import api from '@/api/documents/coversheet'
	import CoversheetDetail from '@/components/documents/generate/CoversheetDetail.vue'

	export default {

		props: {
			fileNumber: {
				required: true,
				type: String
			}
		},

		components: {
			VueGoodTable,
			CoversheetDetail
		},

		created: function () {
			api.getCoversheets(this.fileNumber)
				.then((response) => {
					this.coversheet = response.data;
				});
		},

		data: function () {
			return {
				coversheet: [],
				detailCoversheet: null,
				showDetailComponent: false,
				columns: [
					{
						label: 'ID',
						field: 'Id',
						type: 'number',
						hidden: true
					},
					{
						label: 'Math FileNumber',
						field: 'MathFileNumber',
						type: 'text',
						filterOptions: {
							enabled: true,
							placeholder: 'Math FileNumber',
							trigger: 'keyup',
						},
					},
					{
						label: 'Paytable ID',
						field: 'PaytableId',
						type: 'text',
						filterOptions: {
							enabled: true,
							placeholder: 'Paytable ID',
							trigger: 'keyup',
						},
					},
					{
						label: 'Theme Name',
						field: 'ThemeName',
						type: 'text',
						filterOptions: {
							enabled: true,
							placeholder: 'Theme Name',
							trigger: 'keyup'
						}
					},
					{
						label: 'Min Return',
						field: 'MinReturn',
						type: 'number',
						width: '125px',
						filterOptions: {
							enabled: true,
							placeholder: 'Min Return',
							trigger: 'keyup'
						}
					},
					{
						label: 'Max Return',
						field: 'MaxReturn',
						type: 'number',
						width: '125px',
						filterOptions: {
							enabled: true,
							placeholder: 'Max Return',
							trigger: 'keyup'
						}
					},
					{
						label: 'Progressive',
						field: 'Progressive',
						type: 'boolean',
						width: '120px',
						filterOptions: {
							enabled: true,
							placeholder: 'Progressive',
							trigger: 'keyup'
						}
					},
					{
						label: 'Skill Game',
						field: 'SkillGame',
						type: 'boolean',
						width: '120px',
						filterOptions: {
							enabled: true,
							placeholder: 'Skill Game',
							trigger: 'keyup'
						}
					},
					{
						label: '',
						field: 'rowAction'
					}
				]
			}
		},

		methods: {
			onDetailsClick: function (id) {
				this.detailCoversheet = _.find(this.coversheet, { Id: id });
				this.showDetailComponent = true;
			}
		}
	}
</script>

<style scoped>
	.section-div {
		/*border: double 5px gray;*/
	}

	.section-name {
		padding: 0px 6px 6px 6px; /*top right bottom left*/
		font-weight: bolder;
		text-decoration: underline;
		font-size: 1.5em;
	}
</style>