﻿<template>
	<div id="letter-generation">
		<!-- BEGIN Persistent Notifications -->
		<div id="letter-generation__toast-notification"
			 :class="['letter-generation__toast-notification']"
			 v-if="warning">
			<ToastNotification :title="this.currentToastNotification.title"
							   :message="this.currentToastNotification.message" />
		</div>
		<!-- END Persistent Notifications -->
		<!-- BEGIN letter-generation__header -->
		<div id="letter-generation__header">
			<div id="letter-generation__header__left">
				<div class='letter-generation__header__left__item'>
					<h2 id="letter-generation__header__left__bundle-name"
						class='letter-generation__header__left__bundle-name letter-generation__border-leftRight'>
						{{ bundleName }}&nbsp;<small><i class="fas fa-link" v-if="mergedProjectIds.length > 0" title="This Project has been merged with other Projects."></i>&nbsp;(Status: {{projectStatus}})&nbsp;<span v-if="containsRJWD"><i class="fas fa-exclamation-triangle" title="Project contains WD/RJ Items"></i></span></small>
					</h2>
				</div>
				<div class='letter-generation__header__left__item'>
					<div id="letter-generation__notification-station">
						<div v-if="saveResults.show" :class="saveResults.alert" role="alert">
							<button type="button" class="close" @click="hideAlert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{saveResults.message}}
						</div>
					</div>
				</div>
				<div class='letter-generation__header__right__item'>

				</div>
			</div>
			<div id="letter-generation__letter-preview__header"
				 class='letter-generation__letter-preview__header'>
				<div class="col-sm-2"></div>
				<div class="col-sm-10"><JurisdictionPicker @jurisdictionSelectionChanged="handle__showPreview('content')"></JurisdictionPicker></div>
			</div>
		</div>
		<!-- END letter-generation__header -->
		<!-- BEGIN letter-generation-content-header -->
		<div id="letter-generation__content-header" class='letter-generation__content-header'>
			<div id="letter-generation__work-space__header"
				 class='letter-generation__work-space__header'>
				<div id="letter-generation__work-space__nav"
					 class='letter-generation__work-space__nav'>
					<ul id="letter-generation__work-space__nav__list"
						class='letter-generation__work-space__nav__list'>
						<li :class="['letter-generation__work-space__nav__item', 'letter-generation__doubleDashed', { active: currentTab === tab.sourceName }]"
							v-bind:disabled="!evolutionInstanceIsSecure && tab == 'EvolutionClauses'"
							v-on:click="currentTab = tab.sourceName"
							v-for="tab in applicableTabs"><span class="word-wrap letter-generation__work-space__nav__item__text"><span style="color:indianred" v-if="checkIfGameDescRequired && tab.label == 'Component/Mod Description'" title="Required Information">{{ tab.label }}</span><span v-else>{{ tab.label }}</span></span></li>
					</ul>
				</div>
			</div>

		</div>
		<!-- END letter-generation-content-header -->
		<!-- BEGIN Body -->
		<div id="letter-generation__body">
			<splitpanes class='default-theme'
						@resize="workSpacePaneSize = $event[0].size">
				<pane id="letter-generation__work-space"
					  min-size="0"
					  :size="workSpacePaneSize">
					<div id="letter-generation__work-space__panel"
						 class='letter-generation__body__panel'>
						<div class="row">
							<div class='col-sm-9'></div>
							<div class='col-sm-3'>
								<div class='letter-generation__toggle-full-width pull-right'>
									<button @click="setWorkSpaceWidth(null)" class='letter-generation__depth-button'>Toggle Full Width</button>
								</div>
							</div>
						</div>
						<br />
						<component v-for="tab in tabs"
								   v-bind:is="tab.sourceName"
								   v-show="tab.sourceName === currentTab"
								   class='tab'
								   v-bind:key="tab.label"></component>
					</div>
				</pane>
				<pane id="letter-generation__letter-preview"
					  :size="letterPreviewPaneSize">
					<div v-if="currentMemoSet === 'PDF Preview'" id="letter-generation__letter-preview__panel"
						 class='letter-generation__body__panel'>
						<ul class="nav nav-pills">
							<li role="presentation" v-bind:class="{ active: visibleRightTab == 'coverpages'}"><a href="#" @click="visibleRightTab = 'coverpages'">Coverpages</a></li>
							<li role="presentation" v-bind:class="{ active: visibleRightTab == 'content'}"><a href="#" @click="visibleRightTab = 'content'">Content</a></li>
							<li role="presentation" v-bind:class="{ active: visibleRightTab == 'preview'}"><a href="#" @click="handle__showPreview('preview')">Preview</a></li>
						</ul>
						<div class="container-fluid flex-container" v-show="visibleRightTab == 'coverpages'">
							<Coverpages></Coverpages>
						</div>
						<LetterPreview v-show="visibleRightTab == 'content'"></LetterPreview>
						<base-pdf-viewer v-show="visibleRightTab == 'preview'" :filePath="pdfPreviewPath" :isLoading="generatingPDFPreview"></base-pdf-viewer>
					</div>
				</pane>
			</splitpanes>
		</div>
		<!-- END Body-->
	</div>
</template>
<script>
	//** Imports **************************************************************************************************************
	// API
	import api from '@/api/documents/generate';

	// External Imports
	import { Splitpanes, Pane } from 'splitpanes'
	import 'splitpanes/dist/splitpanes.css'
	import { createNamespacedHelpers } from 'vuex';


	// Internal Imports
	import BundlePicker from '@/components/documents/generate/Config/BundlePicker.vue';
	import Components from '@/components/documents/generate/Sources/Components/Components.vue';
	import CoversheetData from '@/components/documents/generate/LetterQuestions/CoversheetData.vue';
	import EvolutionClauses from '@/components/documents/generate/Sources/Evolution/EvolutionClauses.vue';
	import GameDescriptionList from '@/components/documents/generate/GameDescription/GameDescriptionList.vue';
	import JurisdictionFilter from '@/components/documents/generate/Config/JurisdictionFilter.vue';
	import JurisdictionPicker from '@/components/documents/generate/Config/JurisdictionPicker.vue';
	import LetterContentReview from '@/components/documents/generate/Review/LetterContent/LetterContentReview.vue';
	import LetterDetail from '@/components/documents/generate/LetterQuestions/LetterDetail.vue';
	import LetterPreview from '@/components/documents/generate/LetterPreview/LetterPreview.vue';
	import Math from '@/components/documents/generate/Sources/Math/Math.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import ToastNotification from '@/components/documents/generate/ToastNotification.vue';
	import ModificationList from '@/components/documents/generate/LetterQuestions/ModificationList.vue';
	import Questions from '@/components/documents/generate/LetterQuestions/Questions.vue';
	import Coverpages from '@/components/documents/generate/LetterPreview/Coverpages.vue';
	import { buildMemoComponent } from '@/components/documents/generate/DynamicComponent/MemoComponent.js';

	// Vuex
	const { mapGetters: evoGetters, mapActions: evoActions } = createNamespacedHelpers('evolution');
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	//**************************************************************************************************************************

	export default {
		components: {
			// External
			Splitpanes,
			Pane,
			// Internal
			BundlePicker,
			Components,
			CoversheetData,
			EvolutionClauses,
			GameDescriptionList,
			JurisdictionFilter,
			JurisdictionPicker,
			LetterContentReview,
			LetterDetail,
			LetterPreview,
			Math,
			ModificationList,
			SelectStandard,
			ToastNotification,
			Questions,
			Coverpages
		},
		data() {
			return {
				currentTab: "LetterDetail",
				currentToastNotification: {},
				tabs: [],
				toastNotifications: [
					{
						type: "warn-doubleLock",
						trigger: "evolutionInstanceIsSecure",
						title: "Evolution is not Double-Locked",
						message: "One or more of the component-groups of this Evolution Instance are not Double-Locked. The evolution section can not be filled out while the instance is not completely Double-Locked. Letter Generation is also disabled.",
					},
					{
						type: "warn-answerLock",
						trigger: "answerLockEngaged",
						title: "Answer Lock Engaged",
						message: "This bundle is currently held by the QA department. No changes to questions are allowed while the bundle is in QA."
					},
					{
						type: "warn-EvoMissing",
						trigger: "evoMissing",
						title: "Evolution Instance is Missing",
						message: "Project/Merged Project(s) do not have a link to Evolution Instance and Letter Generation can't be used. Please check incoming in protrack."
					}
				],
				vm: initialData,
				workSpacePaneSize: 50,
				showPreview: false,
				pdfPreviewPath: '',
				generatingPDFPreview: false,
				visibleRightTab: 'coverpages'
			}
		},
		watch: {
			letterPreviewJurisdiction: function () {
				if (this.filteredMemosByJur[this.letterPreviewJurisdiction] !== null && this.filteredMemosByJur[this.letterPreviewJurisdiction] !== undefined) {
					this.setFilteredMemos(this.filteredMemosByJur[this.letterPreviewJurisdiction]);
					this.setFilteredMemosByJur({ jur: this.letterPreviewJurisdiction, filteredMemos: response.data });
				}
				else {
					console.log('deleted commented code, will delete this soon too');
				}
			},
			filteredMemosByJur: function (value) {
				this.updateStringsToObject();
			},
			filteredMemos: function (value) {
				Object.keys(value).forEach(key => {
					if (typeof (this.filteredMemos[key]) === 'string') {
						this.updateFilteredMemoSection({
							key: key,
							value: JSON.parse(this.filteredMemos[key])
						});
					}
					this.updateQuestionControls(this.filteredMemos[key]);
				});
			}
		},
		computed: {
			...letterGetters([
				'bundleName',
				'containsRJWD',
				'controls',
				'bundleId',
				'componentMemos',
				'projectEvalLab',
				'letterState',
				'projectId',
				'memos',
				'filteredMemos',
				'filteredMemosByJur',
				'projectStatus',
				'manufacturerId',
				'secondaryControls',
				'currentMemoSet',
				'mergedProjectIds'
			]),
			...mapGetters([
				'evolutionInstanceIsSecure',
				'letterPreviewJurisdiction',
				'selectedMemo',
				'saveResults',
				'letterInitialized',
				'generateLetterState',
				'permissionSet',
				'isSecondaryLanguageLetter',
				'secondaryLetterLanguage'
			]),
			...sourceGetters([
				'components',
				'letterGenSourcesState',
				'getSourcesForJurisdiction'
			]),
			warning: function () {
				if (!this.evolutionInstanceIsSecure) {
					this.currentToastNotification = this.toastNotifications.filter(x => { return x.type === 'warn-doubleLock' })[0];
				}
				else if (this.permissionSet.answerLockEngaged) {
					this.currentToastNotification = this.toastNotifications.filter(x => { return x.type === 'warn-answerLock' })[0];
				}
				else if (this.permissionSet.lockEvoMissing) {
					this.currentToastNotification = this.toastNotifications.filter(x => { return x.type === 'warn-EvoMissing' })[0];
				}
				
				if (this.currentToastNotification.type)
					return true;
				else
					return false;
			},
			letterPreviewPaneSize: function () {
				let result = 100 - this.workSpacePaneSize;
				return result ? result : 0.01;
			},
			applicableTabs: function () {
				return this.tabs.filter((tab) => tab.userHasPermission);
			},
			currentPreviewSet: function () {
				var results = this.filteredMemosByJur[this.letterPreviewJurisdiction][this.currentMemoSet];
				this.updateQuestionControls(results);
				return results;
			},
			checkIfGameDescRequired: function () {
				let isRequired = false;
				let gameDescMemo = this.memos.find(x => x.specialFlag == "GameDescription");
				if (gameDescMemo) {
					let anyRequiredQuestions = gameDescMemo.letterContentControls.filter(x => x.isRequired);
					if (anyRequiredQuestions.length > 0) {
						isRequired = (Em(gameDescMemo.content)) ? true : false;
					}
				}
				return isRequired;
			}
		},
		methods: {
			updateStringsToObject: function () {
				Object.keys(this.filteredMemosByJur[this.letterPreviewJurisdiction]).forEach(key => {
					if (typeof (this.filteredMemosByJur[this.letterPreviewJurisdiction][key]) === 'string') {
						this.updateFilteredMemosByJur({
							jur: this.letterPreviewJurisdiction,
							key: key,
							value: JSON.parse(this.filteredMemosByJur[this.letterPreviewJurisdiction][key])
						});
					}
				});
			},
			generatePDF: function () {
				let pdfDiv = document.getElementById("printedLetterDiv");
				let cloned = document.documentElement.cloneNode(true);
				let clonedBody = cloned.getElementsByTagName("body")[0];
				clonedBody.innerHTML = "";
				clonedBody.appendChild(pdfDiv.cloneNode(true));

				this.document = cloned.outerHTML;
				Vue.nextTick(() => {
					let form = this.$refs.GenerateLetterForm;
					form.action = `${jsPath}documents/generate/generatepdfpost`;
					form.submit();
				});
			},
			hideAlert: function () {
				this.setSaveResults({ show: false });
			},
			saveStoreData: function () {
				var letterStore = JSON.stringify(this.letterState);
				var sourceStore = JSON.stringify(this.letterGenSourcesState);
				var genStore = JSON.stringify(this.generateLetterState);

				var model = {
					letter: letterStore,
					generateLetter: genStore,
					letterGenSource: sourceStore,
					projectId: this.projectId
				}
				api.saveStates(model)
					.then(response => {
					});
			},
			...letterActions([
				'setLetterContent',
				'setProjectInfo',
				'setCertificationIssuers',
				'setProjectEvalLab',
				'setFilteredMemos',
				'setFilteredMemosByJur',
				'setSecondaryControls',
				'updateFilteredMemoSection',
				'setCurrentMemoSet',
				'updateFilteredMemosByJur',
				'setWorkSpaceSectionIcons'
			]),
			...mapActions([
				'setBlankMemo',
				'setBundleLoaded',
				'setEvolutionInstanceIsSecure',
				'setLetterSelectedJurisdiction',
				'setLetterJurisdictionOptions',
				'setSelectedBundle',
				'setSelectedMemo',
				'setSaveResults',
				'initializeLetterGen',

			]),
			...sourceActions([
				'setClauseReports',
				'setComponents',
				'setJurisdictionLetterDetails',
				'setPaytables',
				'setSignatureData',

			]),
			setWorkSpaceWidth: function (width) {
				if (width) {
					this.workSpacePaneSize = width;
				}
				else {
					let workspaceIsFullWidth = this.workSpacePaneSize > 99;
					this.workSpacePaneSize = workspaceIsFullWidth ? 50 : 100;
				}

			},
			buildMemo: function (memo) {
				return buildMemoComponent(memo, this.getSourcesForJurisdiction(memo.sourceId, this.letterPreviewJurisdiction), 0, 0);
			},
			updateQuestionControls: function (selectedMemoSet) {
				var newControls = [];
				for (var i = 0; i < selectedMemoSet.length; i++) {
					for (var j = 0; j < selectedMemoSet[i].letterContentControls.length; j++) {
						var newControl = selectedMemoSet[i].letterContentControls[j];
						if (this.controls.indexOf(newControl) === -1) {
							newControls.push(newControl)
						}
					}
				}

				if (newControls.length > 0) {
					this.setSecondaryControls(newControls);
				}
			},
			handle__showPreview: async function (view) {
				if (!this.generatingPDFPreview) {
					this.generatingPDFPreview = true;
					this.visibleRightTab = view;
					this.showPreview = (view === 'preview');
					if (this.showPreview)
						await this.get__PDFPreview();
					this.generatingPDFPreview = false;
				}
			},
			get__PDFPreview: async function () {
				let pdfDiv = document.getElementById("printedLetterDiv");
				let cloned = document.documentElement.cloneNode(true);
				let clonedBody = cloned.getElementsByTagName("body")[0];
				clonedBody.innerHTML = "";
				clonedBody.appendChild(pdfDiv.cloneNode(true));
												
				try {
					let payload = {
						html: cloned.outerHTML,
						jurisdictionId: this.letterPreviewJurisdiction,
						language: (this.isSecondaryLanguageLetter) ? this.secondaryLetterLanguage : "" 
					}
					
					const result = await api.getLetterPDFPreview(payload);
					let resultAsJSON = {};
					try {
						resultAsJSON = JSON.parse(result.data);
					}
					catch {
						resultAsJSON = { filePath: undefined };
					}
					if (resultAsJSON.filePath) {
						let formatedPath = resultAsJSON.filePath.replace(/\\/g, "/");
						this.pdfPreviewPath = formatedPath;
					}
					else {
						this.pdfPreviewPath = undefined;
					}
				}
				catch (err) {
					console.log({ err })
				}
			}
		},
		created: function () {
			this.setWorkSpaceSectionIcons();
			this.tabs = initialData.letterGenerationSourceTabs;
			this.currentTab = this.tabs.filter((tab) => { return tab.userHasPermission })[0].sourceName;
			this.setCertificationIssuers(initialData.certificationIssuers);

			this.initializeLetterGen(initialData);
			this.setProjectEvalLab(this.vm.projectInfo.projectEvalLab);
			let bundleId = this.bundleId
			api.getComponentData(bundleId)
				.then(response => {
					let dbComps = JSON.parse(response.data);
					this.setComponents({ components: dbComps, controls: this.controls, vm: this, memos: this.componentMemos });

					let compIds = JSON.stringify(this.components.map(x => x.id));
					api.getSubmissionSignatureData(compIds)
						.then(response => {
							let dbSigs = response.data;

							this.setSignatureData({ signatures: dbSigs });
						});

				});
			this.setBundleLoaded(true);
			this.handle__showPreview('content');
			DoneLoading();
		}
	}
</script>
<style scoped>
	#letter-generation__toast-notification {
		z-index: 1000;
		width: 75%;
		margin: 0 auto;
		position: sticky;
		top: 30px;
	}

	#letter-generation__header {
		width: 100%;
		display: flex;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#letter-generation__header__left {
		display: flex;
		width: 50%;
		padding-bottom: 0;
	}

	.letter-generation__header__left__item {
		width: 50%;
	}

	.letter-generation__header__left__bundle-name {
		color: #083358;
	}

	#letter-generation__header__right {
		width: 50%;
		display: flex;
		justify-content: flex-end;
	}

	#letter-generation__content-header {
		display: flex;
		align-items: center;
		padding-top: 0;
		width: 100%;
	}

	.letter-generation__work-space__header {
		width: 50%;
	}

	.letter-generation__work-space__nav__item {
		border-radius: 5px;
		flex-grow: 1;
	}

	.letter-generation__work-space__nav__item__text {
		text-decoration: none;
		padding: 10px;
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.letter-generation__work-space__nav {
		width: 100%;
	}

	.letter-generation__work-space__nav__list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		background-color: #083358;
		border-radius: 10px;
	}

	@media all and (max-width:1600px) {
		.letter-generation__work-space__nav__list {
			flex-wrap: wrap;
		}
	}



	#letter-generation__letter-preview__header {
		display: flex;
		justify-content: flex-end;
		width: 50%;
		padding-bottom: 15px;
	}

	#letter-generation__body {
		height: 80vh;
	}

	.letter-generation__body__panel {
		background: #F1F1F1;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		height: inherit;
		margin: 20px;
		overflow-y: scroll;
	}

	.active {
		background-color: #0F4471;
	}

	.letter-generation__toggle-full-width {
		margin-top: 10px;
		margin-right: 20px;
		padding-right: 15px;
	}

	.word-wrap {
		word-wrap: break-word;
		overflow: visible;
	}
</style>
