﻿<template>
	<div class="toast-notification">
		<div class="toast-notification__stripe text-warning" />
		<div class="toast-notification__wrapper__badge">
			<div class="toast-notification__badge">
				<i class="fas fa-info-circle fa-3x"></i>
			</div>
		</div>
		<div class="toast-notification__content">
			<div class="toast-notification__title"><h4><strong>{{title}}</strong></h4></div>
			<div class="toast-notification__message"><small>{{message}}</small></div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			title: { type: String },
			message: { type: String },
		}
	}
</script>
<style scoped>
	.toast-notification {
		display: flex;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		height: 100%;
		width: 100%;
		border-radius: 5px;
		padding: 5px;
		z-index: -1;
		background-color: white;
	}

		.toast-notification:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

	.toast-notification__stripe {
		border-left: solid 6px #f0ad4e;
		margin-right: 15px;
	}

	.toast-notification__wrapper__badge {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 10px;
		margin-right: 15px;
	}

	.toast-notification__badge {
		color: #f0ad4e;
	}

	.toast-notification__content {
		display: inline-block;
		margin-left: 15px;
	}

	.toast-notification__title {
		font-weight: bolder
	}
</style>
