﻿@model Submissions.Web.Areas.Lookups.Models.BillingPartyViewModel

@{ 
	ViewBag.Title = "Billing Party";
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}