﻿<template>
	<div>
		<template v-if="invalidPDF">
			<div class="container-fluid">
				<div class="card">
					PDF Not Found !
				</div>
			</div>
		</template>
		<template v-else-if="isLoading">
			Loading PDF...
			<i class="fa fa-spinner fa-spin"></i>
		</template>
		<div v-show="!isLoading && !invalidPDF" class="fullHeight" id="my-pdf"></div>
	</div>
</template>

<script>
	import PDFObject from 'pdfobject';
	import api from '@/api/index';
	export default {
		data() {
			return {
				PDFObject: PDFObject,
				invalidPDF: false
			}
		},
		props: {
			filePath: {
				required: true,
			},
			isLoading: {
				type: Boolean
			}
		},
		watch: {
			filePath: function (newFilePath, oldFilePath) {
				this.invalidPDF = false;
				if (newFilePath !== oldFilePath) {
					if (newFilePath === jsPath || newFilePath === '' || newFilePath === undefined || newFilePath === null)
						this.invalidPDF = true;
					else {
						let self = this;
						api.get(`${newFilePath}`).then(x => {
							self.PDFObject.embed(`${jsPath}${newFilePath}`, "#my-pdf");
						}).catch(function (error) {
							console.log(error)
							self.invalidPDF = true;
						});
					}
				}
			}
		},
		methods: {

		},
		computed: {

		},
	};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";
	@use "sass:color";


	.fullHeight {
		height: 100vh;
	}

	.card {
		background-color: Colors.$white;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		transition: 0.5s;
		border-radius: 5px;
		height: 100%;
		margin: 8px;
		padding: 15px;
	}

		.card:hover {
			box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
		}
</style>