﻿@model Submissions.Web.Areas.Lookups.Models.TechnicalStandardViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Technical Standards";
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}