﻿@model Submissions.Web.Areas.Lookups.Models.TechnicalStandardViewModel

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
}

@{
	ViewBag.Title = "Technical Standards";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@if (Util.HasAccess(Permission.LetterGeneration, AccessRight.Edit))
		{
			@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" });
		}
		@Html.ActionLink("Exit", "Index", "Tools", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row">
	<div class="col-sm-12">
		@Html.Trirand().JQGrid(Model.TechnicalStandardsGrid.Grid, Model.TechnicalStandardsGrid.Grid.ID)
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
<script>
		$(function () {
			$('#TechnicalStandardsGrid').jqGrid('setGridParam', {
				rowattr: function (rowData, currentObj, rowId) {
					if (currentObj[$(this).getColumnIndexByName("Active")] === 'False') {
						//return { 'class': 'text-red' }
					}
				}
			});
		});
		function editLink(cellValue, options, rowObject) {
			var link = "";
			if ("@Util.HasAccess(Permission.LetterGeneration, AccessRight.Edit)" == "True") {
				link = '<a href="' + '@Url.Action("Edit", "TechnicalStandards")' + '/?id=' + options.rowId + '&mode=Edit">Edit</a><span class="text-normal"> |</span> ' + '<a href="#" id = "' + options.rowId + '" class = "Deactivate">Deactivate</a>'
			}

			return link;
		}

		function gridBeforeAjaxRequest() {
			var postData = $(this).jqGrid('getGridParam', 'postData');
			$(this).jqGrid('setGridParam', { postData: postData });
		}
</script>
}