﻿<template>
	<div>
		<div v-if="pageOptions.saveResult === false"
			 class="alert alert-danger"
			 role="alert">
			{{ pageOptions.saveError }}
		</div>
		<base-header-view :title="vm.mode === 1 ? 'Add Section' : 'Edit Section'" :fixedWidth="true">
			<template #actions>
				<base-button v-if="vm.letterSection.letterContents.length > 0" inverse-style :onclick="(evt) => handle__openModal()">Configure Letter Content Order</base-button>
				<base-button inverse-style
							 href="/documents/letterSection">
					Close
				</base-button>
				<base-button inverse-style :isPrimary="true" :onclick="(evt) => save()">Save</base-button>
			</template>
			<div>
				<base-field-labels title="Name"
							   helpText="Name of the section.">
					<base-input :field-validation="$v.vm.letterSection.name"
								v-model="vm.letterSection.name">
						<template v-slot:errors>
							<p v-if="$v.vm.letterSection.name.$error && !$v.vm.letterSection.name.required">
								A letter section name must be provided.
							</p>
						</template>
					</base-input>
				</base-field-labels>
				<base-field-labels title="Order Position"
							   helpText="This sections current order position.">
					<template v-if="vm.letterSection.orderId">
						<base-input :field-validation="$v.vm.letterSection.orderId" v-model="vm.letterSection.orderId" :disabled="true">
							<template v-slot:errors>
							</template>
						</base-input>
					</template>
					<template v-else>
						<p v-if="vm.letterSection.id == 0">
							New sections will have their initial order assigned.
							Changing this sections order can be done from the list view via the Order Configuration tool.
						</p>
						<p v-else>
							This section is not intended for use inside the letter and thus has no order position.
						</p>
					</template>
				</base-field-labels>
				<template v-if="vm.letterSection.id">
					<!--<base-checkbox :field-validation="$v.vm.letterSection.active"
								   v-model="vm.letterSection.active" :label="'Active'">
						<template v-slot:errors>
						</template>
					</base-checkbox>-->
				</template>
			</div>
		</base-header-view>
		<Modal v-if="pageOptions.showOrderConfigurationModal">
			<template #header>
				<h2 class="highlight">Order Letter Content</h2>
			</template>
			<template #body>
				<BaseOrderedList :list="vm.letterSection.letterContents" :initialOrderProperty="'initialPosition'">
					<template #header>
						<h2 class="highlight">Letter Content</h2>
					</template>
				</BaseOrderedList>
			</template>
			<template #footer>
				<base-button :onclick="(evt) => handle__closeModal(true)">Close</base-button>
				<Base-Button :onclick="handle__commitOrder" :isPrimary="true">
					<template v-if="pageOptions.isLoading">
						Saving Letter Content Order
						<i class="fa fa-spinner fa-spin"></i>
					</template>
					<template v-else>
						Save
					</template>
				</Base-Button>
			</template>
		</Modal>
	</div>
</template>
<script>
	import Modal from '@/components/utility/Modal.vue';
	import api from '../../../api/letterSection';
	import { required } from "vuelidate/lib/validators";

	export default {
		components: {
			Modal
		},
		data() {
			return {
				pageOptions: {
					isLoading: false,
					saveResult: null,
					saveError: null,
					showOrderConfigurationModal: false
				},
				vm: {
					...initialData
				}
			}
		},
		methods: {
			processForm: function () {
				if (this.validate()) {
					this.pageOptions.saveResult = false;
					this.pageOptions.saveError = "An error occured while saving.";
				}
				else {
					this.pageOptions.saveResult = true;
					this.pageOptions.saveError = null;
					this.save();
				}
			},
			validate: function () {
				this.pageOptions.saveError = null;
				this.pageOptions.saveResult = null;
				this.$v.$touch();
				return this.$v.$invalid;
			},
			save: function () {
				let url = `${jsPath}${rootIndexUrl.slice(1)}/`;
				api.post_saveLetterSection(this.vm).then(response => window.location = url);
			},
			handle__commitOrder: function () {

				let self = this;
				this.pageOptions.isLoading = true;

				for (let i = 0; i < self.vm.letterSection.letterContents.length; i++) {
					self.vm.letterSection.letterContents[i].newPosition = i + 1;
				};

				let payload = {
					sectionId: this.vm.letterSection.id,
					letterContentItems: this.vm.letterSection.letterContents
				};

				api.post_commitLetterContentOrder(payload)
					.then(response => {
						this.pageOptions.isLoading = false;
						this.vm.letterSection.letterContents = response.data;
						this.handle__closeModal(false);
					});
			},
			handle__closeModal: function (fetchData) {
				if (fetchData) {
					api.post_letterContentOrderBySectionId(this.vm.letterSection.id)
						.then(response => {
							this.vm.letterSection.letterContents = response.data;
						});
				}
				this.pageOptions.showOrderConfigurationModal = false;
			},
			handle__openModal: function () {
				this.pageOptions.showOrderConfigurationModal = true;
			},

		},
		validations: {
			vm: {
				letterSection: {
					name: { required },
					active: {},
					orderId: {}
				}
			}
		}
	}
</script>
<style lang="scss" scoped>
	@use '@/components/theme/Colors';
	@use '@/components/theme/Spacing';
	@use "sass:color";

	.highlight {
		color: Colors.$blueLight
	}
</style>