﻿<template>
	<div>
		<Modal v-if="pageOptions.showOrderConfigurationModal">
			<template #header>
				<h2 class="highlight">Order</h2>
			</template>
			<template #body>
				<BaseOrderedList :list="vm.letterSectionOrderSet.letterSections" :initialOrderProperty="'currentLocation'">
					<template #header>
						<h2 class="highlight"> Letter Sections</h2>
					</template>
				</BaseOrderedList>
			</template>
			<template #footer>
				<base-button :onclick="(evt) => handle__closeModal(true)">Close</base-button>
				<Base-Button :onclick="handle__commitOrder" :isPrimary="true">
					<template v-if="pageOptions.isLoading">
						Saving Letter Section Order
						<i class="fa fa-spinner fa-spin"></i>
					</template>
					<template v-else>
						Save
					</template>
				</Base-Button>
			</template>
		</Modal>
		<base-header-view :title="'Letter Sections'" :fixedWidth="true">
			<template #actions>
				<template v-if="vm.isNoteManagerAdmin">
					<base-button inverse-style
								 href="/documents/noteManager">
						Note Manager
					</base-button>
					<base-button inverse-style :onclick="(evt) => handle__openModal()">Configure Order</base-button>
					<base-button inverse-style :isPrimary="true" :onclick="(evt) => handle__navigateToDetail(null)">Add</base-button>
				</template>
			</template>
			<div>
				<glide-grid id="letter-sections" zebraStripe fullWidth :columns="columns" :rows="vm.letterSections">
					<template v-slot:Actions="glide">
						<base-button :onclick="(evt) => handle__navigateToDetail(glide.row)">View</base-button>
					</template>
				</glide-grid>
			</div>
		</base-header-view>
	</div>
</template>
<script>
	import api from '../../../api/letterSection';
	import Modal from '@/components/utility/Modal.vue';
	import GlideGrid from '@/components/utility/GlideGrid.vue';
	//import Draggable from 'vuedraggable'

	export default {
		components: {
			GlideGrid,
			//Draggable,
			Modal
		},
		data() {
			const columns = [
				{
					label: 'Name',
					field: 'name',
					style: {
						width: '200px',
						verticalAlign: 'middle'
					}
				},
				{
					slot: 'Actions',
					field: null,
					style: {
						width: '100px',
						textAlign: 'right',
						verticalAlign: 'middle'
					}
				}
			];

			return {
				columns,
				pageOptions: {
					isLoading: false,
					showOrderConfigurationModal: false
				},
				drag: false,
				vm: {
					...initialData
				},

			}
		},
		methods: {
			handle__navigateToDetail: function (row) {
				let mode = row ? 'Edit' : 'Add';
				let queryString = `?mode=${mode}`;
				let url = `${jsPath}${rootEditUrl.slice(1)}/`;
				url += mode == 'Edit' ? `${row.id}` : ``;
				url += queryString;

				window.location = url;
			},
			handle__openModal: function () {
				this.pageOptions.showOrderConfigurationModal = true;
			},
			handle__closeModal: function (fetchData) {
				if (fetchData) {
					api.post_getLetterSectionOrderSet()
						.then(response => {
							this.vm.letterSectionOrderSet = response.data;
						});
				}
				this.pageOptions.showOrderConfigurationModal = false;
			},
			handle__commitOrder: function () {
				let self = this;
				this.pageOptions.isLoading = true;

				let payload = { letterSections: [] };

				for (let i = 0; i < self.vm.letterSectionOrderSet.letterSections.length; i++) {
					payload.letterSections.push(
						{
							id: self.vm.letterSectionOrderSet.letterSections[i].id,
							name: self.vm.letterSectionOrderSet.letterSections[i].name,
							currentLocation: self.vm.letterSectionOrderSet.letterSections[i].currentLocation,
							targetLocation: i + 1
						});
				};

				api.post_commitLetterSectionOrder(payload)
					.then(response => {
						this.pageOptions.isLoading = false;
						this.vm.letterSectionOrderSet = response.data;
						this.handle__closeModal(false);
					});
			}
		},
		computed: {
			dragOptions() {
				return {
					animation: 200,
					group: "description",
					disabled: false,
					ghostClass: "ghost"
				};
			},
		}
	}
</script>
<style lang="scss" scoped>
	@use '@/components/theme/Colors';
	@use '@/components/theme/Spacing';
	@use "sass:color";

	.highlight {
		color: Colors.$blueLight
	}
</style>