﻿@{
	ViewBag.Title = "Tools";
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<h4><i class="fas fa-list"></i> Billing</h4>
		<ul>
			<li>@Html.ActionLink("Billing Parties", "Index", "BillingParties", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Classifications", "Index", "Classifications", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Classification Types", "Index", "ClassificationTypes", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Manufacturer Jurisdiction Code Mappings", "Index", "JurisdictionMapping", new { area = "Lookups" }, "")</li>
		</ul>
		<br />
		<h4><i class="fas fa-list"></i> External JIRA</h4>
		<ul>
			<li>@Html.ActionLink("External JIRA Groups", "Index", "ManufacturerGroups", new { area = "Lookups", type = "IssueTracking" }, "")</li>
		</ul>
		<br />
		<h4><i class="fas fa-list"></i> Gaming Guidelines</h4>
		<ul>
			<li>@Html.ActionLink("Attributes", "Index", "GamingGuidelineAttributes", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Game Types", "Index", "GamingGuidelineGameTypes", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Limits", "Index", "GamingGuidelineLimits", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Protocol Types", "Index", "GamingGuidelineProtocols", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Tech Types", "Index", "GamingGuidelineTechTypes", new { area = "Lookups" }, "")</li>
		</ul>
		<br />
		<h4><i class="fas fa-list"></i> HR</h4>
		<ul>
			<li>@Html.ActionLink("Holidays", "Index", "Holidays", new { area = "Lookups" }, "")</li>
		</ul>
		<br />
		<h4><i class="fas fa-list"></i> Kobetron</h4> <!-- Redo Permission.VerifyLicenseMgmt to Permission.KobetronTools-->
		<ul>
			<li>@Html.ActionLink("Verify License Management", "index", "license", new { area = "verify" }, "")</li>
		</ul>
		<br />
		<h4><i class="fas fa-list"></i> Letters</h4> <!-- Create new Permission.LetterTools-->
		<ul>
			<li>@Html.ActionLink("Accreditations", "Index", "Accreditations", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Clause Template Manager", "Index", "ClauseTemplateManagement", new { area = "tools" }, "")</li>
			<li>@Html.ActionLink("Letter Contacts", "Index", "LetterContacts", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Letterheads", "Index", "Letterheads", new { area = "Lookups" }, "")</li>
		</ul>
		<br />
		<h4><i class="fas fa-list"></i> Letter Generation</h4> <!-- Create new Permission.LetterGeneration-->
		<ul>
			<li>@Html.ActionLink("Letter Generation Notes Search", "Index", "LetterContent", new { area = "Documents" }, "")</li>
			<li>@Html.ActionLink("Letter Content Default Values", "Index", "LetterContentDefaultValues", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Letter Content Format Filters", "Index", "FormatFilters", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Technical Standards", "Index", "TechnicalStandards", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Note Manager", "Index", "NoteManager", new { area = "Documents" }, "")</li>
			<li>@Html.ActionLink("Letter Section Manager", "Index", "LetterSection", new { area = "Documents" }, "")</li>
			<li>@Html.ActionLink("Question Manager", "Index", "LetterQuestion", new { area = "Documents" }, "")</li>
			<li>@Html.ActionLink("Description Manager","Index","GameDescription",new { area = "Documents" },"")</li>
		</ul>
	</div>
	<div class="col-sm-4">
		<h4><i class="fas fa-list"></i> Protrack</h4>
		<ul>
			<li>@Html.ActionLink("Bundling Groups", "Index", "BundlingGroups", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("CP Review Tasks", "Index", "CPReviewTasks", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Manufacturers Requiring Complexity Rating", "Index", "ManufacturerGroups", new { area = "Lookups", type = "ComplexityRatingReq" }, "")</li>
			<li>@Html.ActionLink("Math Queue Filters by Manufacturer Group", "Index", "ManufacturerGroups", new { area = "Lookups", type = "MathQueue" }, "")</li>
			<li>@Html.ActionLink("Project Review Detail Categories", "Index", "ProjectReviewDetailCategories", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("QA Tasks", "Index", "QATaskDefinitions", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Target OffSet", "Index", "TargetOffSet", new { area = "Lookups" }, "")</li>
			@*@if (Util.HasAccess(Permission.QATools, AccessRight.Edit))
		{
			<li>@Html.ActionLink("QA Office Defaulting", "Index", "QAOfficeDefaultingRule", new { area = "Lookups" }, "")</li>
		}*@
			<li>@Html.ActionLink("Task Evolution Groups", "Index", "TaskEvolutionGroups", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Task Templates", "Index", "TaskTemplates", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("WON Maintenance", "index", "masterbilling")</li>
			@if (Util.HasAccess(Permission.UserFields, AccessRight.Edit))
			{
				<li>@Html.ActionLink("Teams", "Index", "Teams", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Supplier Focus", "Index", "SupplierFocus", new { area = "Lookups" }, "")</li>
				<li>@Html.ActionLink("Business Owner", "Index", "BusinessOwner", new { area = "Lookups" }, "")</li>
			}

		</ul>
		<br />
		<h4><i class="fas fa-list"></i> Submissions</h4>
		<ul>
			<li>@Html.ActionLink("Accounting Letter Book", "index", "book", new { area = "documents" }, "")</li>
			<li>@Html.ActionLink("Cabinets", "Index", "Cabinets", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Flat File Manufacturers", "Index", "ManufacturerGroups", new { area = "Lookups", type = "Flatfile" }, "")</li>
			@*<li>@Html.ActionLink("Letter Book Billing Options", "Index", "LetterbookBillingOptions", new { area = "Lookups" }, "")</li>*@
			<li>@Html.ActionLink("Manage KSA Numbers", "edit", "tknumber")</li>
			<li>@Html.ActionLink("Manufacturer Guidelines", "Index", "ManufacturerGuidelines", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Manufacturer Studios", "Index", "ManufacturerGroups", new { area = "Lookups", type = "Studios" }, "")</li>
			<li>@Html.ActionLink("Manufacturer Platforms", "Index", "ManufacturerGroups", new { area = "Lookups", type = "Platforms" }, "")</li>
			<li>@Html.ActionLink("Manufacturer Product Lines", "Index", "ManufacturerGroups", new { area = "Lookups", type = "ProductLines" }, "")</li>
			<li>@Html.ActionLink("Manufacturers Custom Field Groups", "Index", "ManufacturerGroups", new { area = "Lookups", type = "ManufacturerSuppliedField" }, "")</li>
			<li>@Html.ActionLink("Manufacturers Tracking Billing Party", "Index", "ManufacturerGroups", new { area = "Lookups", type = "BillingParty" }, "")</li>
			<li>@Html.ActionLink("Regulator Certification Number", "index", "regulatorcertificationnumber")</li>
			<li>@Html.ActionLink("Regulator Document", "index", "regulatordocument")</li>
			<li>@Html.ActionLink("Resubmission Groups", "Index", "ManufacturerGroups", new { area = "Lookups", type = "Resubmissions" }, "")</li>
			<li>@Html.ActionLink("SCI Positions", "Index", "SCIPositions", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Translation Houses", "Index", "TranslationHouses", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Vendors", "Index", "Vendors", new { area = "Lookups" }, "")</li>
		</ul>
	</div>
	<div class="col-sm-4">
		<h4><i class="fas fa-list"></i> Test Environments</h4>
		<ul>
			<li>@Html.ActionLink("Mobile Devices", "Index", "MobileDevices", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Test Environments", "Index", "TestEnvironment", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Platform Piece Definitions", "Index", "PlatformPieces", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Associated Software Templates", "Index", "AssociatedSoftwareTemplates", new { area = "Lookups" }, "")</li>
			<li>@Html.ActionLink("Other Components Used In Testing", "Index", "OCUIT", new { area = "Tools" }, "")</li>
		</ul>
		<br />
		<h4><i class="fas fa-list"></i> Other</h4>
		<ul>
			<li>@Html.ActionLink("Emails Management", "index", "emailsmanagement", new { area = "tools" }, "")</li>

			@if (GLISession.Department == Department.CS || Request.IsLocal)
			{
				<li>@Html.ActionLink("GLIAccess Invoices", "index", "externaldocuments")</li>
			}

			@if (Util.HasAccess(Permission.Admin, AccessRight.Read) || Util.HasAccess(Permission.LetterBookBilling, AccessRight.Read))
			{
				<li>@Html.ActionLink("Letter Book App Fees", "index", "AppFees", new { area = "lookups" }, "")</li>
			}
			@if (Util.HasAccess(Permission.Admin, AccessRight.Read) || Util.HasAccess(Permission.LetterBookBilling, AccessRight.Read))
			{
				<li>@Html.ActionLink("Letter Book Billing Sheets", "index", "BillingSheet", new { area = "lookups" }, "")</li>
			}
			@if (Util.HasAccess(Permission.Admin, AccessRight.Read) || Util.HasAccess(Permission.LetterBookDefaults, AccessRight.Read))
			{
				<li>@Html.ActionLink("Letter Book Defaulting Rules", "index", "letterbookdefaultingoptions", new { area = "lookups" }, "")</li>
			}

			@if (Util.HasAccess(Role.SA) || Util.HasAccess(Permission.PDFEmailQueue, AccessRight.Read))
			{
				<li>@Html.ActionLink("Pending PDF Emails Queue", "index", "pendingqueue")</li>
			}
			<li>@Html.ActionLink("Regulatory Guidelines", "index", "gamingguidelines", new { area = "lookups" }, "")</li>
			@if (Util.HasAccess(Permission.Submission, AccessRight.Edit))
			{
				<li>@Html.ActionLink("Submissions Project Detail Review", "index", "projectdetailreview")</li>
			}
			<li>@Html.ActionLink("Protocol Deficiencies", "index", "protocoldeficiencies", new { area = "tools" }, "")</li>
			<li>@Html.ActionLink("Protocol Platforms", "Index", "ManufacturerGroups", new { area = "Lookups", type = "ProtocolPlatforms" }, "")</li>
		</ul>
	</div>
</div>
