﻿@model List<Submissions.Web.Areas.Lookups.Models.FormatFilterViewModel>
@{
	ViewBag.Title = "Format Filters";
}

<div id="app"></div>

@section scripts{
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
		var editLink = '@Url.Action("Edit")';
		var deleteLink = '@Url.Action("Delete")';
		var toggleActiveLink = '@Url.Action("ToggleActive")';
	</script>
	@Scripts.Render("~/bundles/script/vue-vendors", "~/bundles/script/vue-bundle")
}