﻿@model Submissions.Web.Areas.PDFManager.Models.GPSDocumentsViewModel

@{
	ViewBag.Title = "GPS Documents";
	ViewBag.noNavBar = true;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "GPSDocuments", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true)

		<div class="form-group">
			@Html.LabelFor(model => model.FileNumberStr, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.FileNumberStr)
				@Html.ValidationMessageFor(model => model.FileNumberStr)
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Submit" class="btn btn-default" />
			</div>
		</div>
	</div>
}