﻿@model Submissions.Web.Areas.PDFManager.Models.GPSDocumentsViewModel

@{
	ViewBag.Title = "View Letters";
	ViewBag.noNavBar = true;
}
@* USE THIS URL BUILDER FOR GETTING ITEMS WITH GPSIDS: var url = '@Url.Action("GPSFile", "DocumentViewer", new { area = "" })' + '/?gpsItemId=' + gpsItemId; *@
<h3 style="margin-bottom:20px; text-align:center;">@ViewBag.Title</h3>
<style type="text/css">
	.extraTopPadding {
		padding-top: 35px;
	}
</style>

<table class="table">
	<tr>
		<td class="heading"><b>File Number</b></td>
		<td class="heading"><b>ID No.</b></td>
		<td class="heading"><b>Version</b></td>
		<td class="heading"><b>Position</b></td>
		<td class="heading"><b>Game Name</b></td>
		<td class="heading"><b>Jurisdiction</b></td>
		<td class="heading"><b>Close Date</b></td>
		<td class="heading"><b>Update Date</b></td>
	</tr>
	<tr>
		<td>@Model.FileNumberStr&nbsp;</td>
		<td>@Model.IdNumber&nbsp;</td>
		<td>@Model.Version&nbsp;</td>
		<td>@Model.Position&nbsp;</td>
		<td>@Model.GameName&nbsp;</td>
		<td>@Model.JurisdictionName&nbsp;</td>
		<td>@Model.JurisdictionCloseDate.ToString("d")&nbsp;</td>
		<td>@Model.JurisdictionUpdateDate.ToString("d")&nbsp;</td>
	</tr>
</table>
<br />
<br />

<font class="small text-info">Pdfs Information</font>
<table class="table">
	<tr>
		<td style="text-align: center; padding-top: 35px"><b>PDF</b></td>
		<td style="padding-top: 35px"><b>Location</b></td>
		<td style="padding-top: 35px"><b>Letter Type</b></td>
		<td style="padding-top: 35px"><b>Letter Date</b></td>
		<td style="padding-top: 35px"><b>Language</b></td>
		<td style="padding-top: 35px"><b>File Name</b></td>
		<td style="padding-top: 35px">&nbsp;</td>
		<td style="padding-top: 35px">&nbsp;</td>
	</tr>

	@foreach (var row in Model.FileAttributes)
	{
		<tr>
			<td style="text-align: center">
				@if (!String.IsNullOrEmpty(row.FilePath))
				{
					<span class="opendoclink pointer" data-filepath="@row.FilePath"><i class="far fa-file-pdf fa-lg"></i></span>
				}
			</td>
			<td>@row.Location</td>
			@if (row.LetterType == "Cert" || row.LetterType == "Repo")
			{
				row.LetterType = "Report";
			}
			else if (row.LetterType == "Supp")
			{
				row.LetterType = "Supplemental";
			}
			else if (row.LetterType == "RegD")
			{
				row.LetterType = "Regulator Document";
			}
			<td>@row.LetterType</td>
			<td>@(row.LetterDate == null ? "" : ((DateTime)row.LetterDate).ToString("d"))</td>
			<td>@row.Language</td>
			<td>@Path.GetFileName(row.FilePath)</td>
			@if (Model.CanDelete)
			{
				<td>
					<a class="deletedocument" data-jurisdictionaldataid="@Model.JurisdictionDataId" data-sourceType="@row.SourceType.ToString()" data-subLetterId="@row.SubmissionLetterId" data-draftLetterId="@row.DraftLetterId" data-filePath="@row.FilePath"><i class="fas fa-trash"></i></a>
				</td>
			}
			else
			{
				<td>&nbsp;</td>
			}
		</tr>
	}
</table>
<br />
<br />
@if (Model.FileAttributesGPSVersions.Count > 0)
{
	<font class="small text-info">All GPS Pdfs Information(Posted through DLB, May not be listed if posted through PDF Manager)</font>
	<table class="table">
		<tr>
			<td style="text-align: center; padding-top: 35px"><b>PDF</b></td>
			<td style="padding-top: 35px"><b>Location</b></td>
			<td style="padding-top: 35px"><b>Letter Type</b></td>
			<td style="padding-top: 35px"><b>Letter Date</b></td>
			<td style="padding-top: 35px"><b>Language</b></td>
			<td style="padding-top: 35px"><b>File Name</b></td>
			<td style="padding-top: 35px">&nbsp;</td>
			<td style="padding-top: 35px">&nbsp;</td>
		</tr>
		@foreach (var row in Model.FileAttributesGPSVersions)
		{
			<tr>
				<td style="text-align: center">
					@if (!String.IsNullOrEmpty(row.FilePath))
					{
						<span class="opendoclink pointer" data-filepath="@row.FilePath"><i class="far fa-file-pdf fa-lg"></i></span>
					}
				</td>
				<td>@row.Location</td>
				<td>@row.LetterType</td>
				<td>@(row.LetterDate == null ? "" : ((DateTime)row.LetterDate).ToString("d"))</td>
				<td>@row.Language</td>
				<td>@Path.GetFileName(row.FilePath)</td>
			</tr>
		}
	</table>
}

@using (Html.BeginForm("opendoc", "gpsdocuments", FormMethod.Post, new { id = "OpenLetterForm", target = "_blank" }))
{
	@Html.Hidden("FilePath")
}

@using (Html.BeginForm("DeleteDocument", "gpsdocuments", FormMethod.Post, new { id = "DeleteDocumentForm"}))
{
	@Html.Hidden("JurisdictionalDataId")
	@Html.Hidden("SourceType")
	@Html.Hidden("FilePath")
	@Html.Hidden("SubLetterId")
	@Html.Hidden("DraftLetterId")
}

@section scripts{
	<script>
		$(function () {
			$('.opendoclink').on('click', function () {
				var filePath = $(this).data('filepath');
				$('#FilePath').val(filePath);
				$('#OpenLetterForm').submit();
			});

			$('.deletedocument').on('click', function () {
				var self = this;
				bootbox.confirm('Are you sure you want to delete this document?', function (result) {
					if (result) {
						$('#JurisdictionDataId').val($(self).data('jurisdictionaldataid'));
						$('#SourceType').val($(self).data('sourcetype'));
						$('#FilePath').val($(self).data('filepath'));
						$('#SubLetterId').val($(self).data('subletterid'));
						$('#DraftLetterId').val($(self).data('draftletterid'));

						$('#DeleteDocumentForm').submit();
					}
				})
			});
		});
	</script>
}