﻿<template>
	<div>
		<div id="HelpPanel" class="sidepanel" :style="{width:helpPanelWidth}">
			<button class="btn closebtn" @click="closeNav()"><i class="fas fa-times"></i></button>
			<div v-html="content" :style="contentStyle">
			</div>
		</div>

		<button class="openbtn" @click="openDiv()"><i class="fas fa-question"></i></button>
	</div>
</template>

<script>
	import api from '@/api/helpcontent';
	export default {
		props: ['code'],
		data: function () {
			return {
				helpPanelWidth: '0px',
				content: null,
				contentStyle: {
					'padding-left': '0px',
					'padding-right':'0px'
				}
			}
		},
		methods: {
			openDiv: function () {
				this.helpPanelWidth = "fit-content";
				this.contentStyle['padding-left'] = '20px';
				this.contentStyle['padding-right'] = '20px';
			},
			closeNav: function () {
				this.helpPanelWidth = "0px";
				this.contentStyle['padding-left'] = '0px';
				this.contentStyle['padding-right'] = '0px';
			},
			getContent: function () {
				if (this.code !== null && this.code !== undefined) {
					api.getHelpContentByCode(this.code)
						.then(response => {
							this.content = response.data.content;
						})
				}
			}
		},
		mounted: function () {
			this.getContent();
		}
	}
</script>



<style scoped>
	.sidepanel {
		height: 100vh; 
		width: 0; 
		position: fixed;
		z-index: 1;
		left: 0;
		background-color: white;
		overflow-x: hidden;
		padding-top: 60px; 
		transition: 0.5s;
		border:solid;
		border-width:1px;
	}

	.sidepanel .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		margin-left: 50px;
	}
	.openbtn {
		cursor: pointer;
		background-color: #111;
		color: white;
		padding: 10px 15px;
		border: none;
	}

		.openbtn:hover {
			background-color: #444;
		}
</style>