﻿@model Submissions.Web.Areas.Tools.Models.EmailsManagementViewModel
@{
	ViewBag.Title = "Emails Management";
}
@section css{@Styles.Render("~/bundles/css/jqgrid")}
<div id="app"></div>

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		var initialData = @Html.Raw(ComUtil.JsonEncodeCamelCase(Model));
	</script>
	<script src="@Url.Content("~/Vue/vendors.js")"></script>
	<script src="@Url.Content("~/Vue/bundle.js")"></script>
}