<template>
	<ul>
		<tree-level 
			:item="item"
			v-for="item in items" 
			:key="item.id">
			<template v-slot:default="slotProps">
				<!-- 
					@slot The rendering template for each tree item.
					@binding item The item being rendered for the tree branch.
				-->
				<slot :item="slotProps.item" />
			</template>
		</tree-level>
	</ul>
</template>

<script>
import TreeLevel from "./subcomponents/TreeLevel";

/**
 * Renders a hierarchical set of objects into a tree view. Supports expanding and 
 * collapsing the contents, and offers a template slot for rendering the contents of each
 * cell however they are needed.
 */
export default {
	components: {
		TreeLevel
	},
	props: {
		/**
		 * The hierarchical set of objects to render. Each must have a `id` property set,
		 * and a `name` if a template is not provided.
		 */
		items: {
			type: Array,
			required: true
		}
	},
	data: function () {
		return {};
	}
};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	ul {
		list-style: none;
		padding-left: 0;
	}

</style>