﻿<template>
	<div>
		<input type="hidden" id="UserId" name="UserId" v-model="vm.userId" />
		<div class="row row-title">
			<div class="col-sm-8">
				<h3 class="form-h3">Event Notification Subscriptions <small>{{ vm.userName }}</small></h3>
			</div>
			<div class="col-sm-4 form-buttons">
				<a @click="addSubscription($event)" class="btn btn-primary btn-sm">Add Subscription</a>
			</div>
		</div>
		<div class="col-sm-3">
			<Lookup v-model.number="vm.importUserId"
					lookupajax="Users"
					:lookuptextfield="vm.importUser"
					@updateLookupTextField="updateImportUser"
					class="form-control">
			</Lookup>
		</div>
		<div class="col-sm-2">
			<a @click="importSubscription" class="btn btn-primary btn-sm">Import Subscription</a>
		</div>
		<div class="row">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Event</th>
						<th>Delivery Method</th>
						<th>Manager</th>
						<th>Submission Type</th>
						<th>Jurisdictions</th>
						<th>Manufacturer</th>
						<th>Year</th>
						<th>Sequence Number</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(subscription, index) in vm.subscriptions">
						<td>{{subscription.name}}</td>
						<td>
							<span v-for="selectedCommunication in subscription.selectedCommunication">{{selectedCommunication}}<br></span>
						</td>
						<td>{{subscription.selectedManager}}</td>
						<td>{{subscription.selectedSubmissionType}}</td>
						<td>
							<span v-for="jurisdiction in subscription.jurisdictons">{{jurisdiction.text}}({{jurisdiction.value}})<br></span>
						</td>
						<td>{{subscription.selectedManufacturer}}</td>
						<td v-if="subscription.selectedYear > 0">{{subscription.selectedYear}}</td>
						<td v-else></td>
						<td>{{subscription.sequenceNumber}}</td>
						<td class="text-right">
							<a href="#" v-on:click="editSubscription(subscription)">Edit</a> |
							<a href="#" v-on:click="deleteSubscription(subscription.userSubscriptionId)"> Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<Subscription :showPopup="showPopup"
					  :subscription="selectedSubscription"
					  :isNewSubscription="isNewSubscription"
					  @showPopup="updateShowPopup"
					  @isNewSubscription="updateIsNewSubscription"
					  @saveSubscription="saveSubscription">
		</Subscription>
	</div>
</template>

<script>
	import ALink from '@/components/utility/ALink.vue';
	import api from '@/api/user'
	import Lookup from '@/components/utility/Lookup.vue'
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue'
	import Subscription from '@/components/user/notifications/Subscription.vue'

	export default {
		components: {
			ALink,
			Lookup,
			SelectStandardMultiple,
			Subscription
		},
		data: function () {
			return {
				vm: initialData,
				showPopup: false,
				isNewSubscription: false,
				selectedSubscription: {
					id: '',
					subscriptionId: '',
					name: '',
					communication: '',
					communications: [],
					selectedCommunication: [],
					additionalFilters: '',
					jurisdictons: [],
					managerFilter: '',
					yearOptions: []
				}
			}
		},
		mounted: function () {
			this.selectedSubscription.id = 0;
			this.selectedSubscription.subscriptionId = 0;
			this.selectedSubscription.name = "";
			this.selectedSubscription.communication = this.vm.defaultSubscription.communication;
			this.selectedSubscription.communications = this.vm.defaultSubscription.communications;
			this.selectedSubscription.selectedCommunication = this.vm.defaultSubscription.selectedCommunication;
			this.selectedSubscription.additionalFilters = this.vm.defaultSubscription.additionalFilters;
			this.selectedSubscription.jurisdictons = this.vm.defaultSubscription.jurisdictons;
			this.selectedSubscription.managerFilter = this.vm.defaultSubscriptionmanagerFilter;
			this.selectedSubscription.yearOptions = this.vm.defaultSubscription.yearOptions;
		},
		methods: {
			addSubscription: function (e) {
				this.selectedSubscription = this.$lodash.cloneDeep(this.vm.defaultSubscription);
				this.selectedSubscription.name = "";

				this.showPopup = true;
				this.isNewSubscription = true;
			},
			buildNewSubscription: function (defaultSubscription) {
				var newSubscription = {
					id: 0,
					subscriptionId: 0,
					name: "",
					communication: defaultSubscription.communication,
					communications: defaultSubscription.communications,
					selectedCommunication: defaultSubscription.selectedCommunication,
					additionalFilters: defaultSubscription.additionalFilters,
					jurisdictons: defaultSubscription.jurisdictons,
					managerFilter: defaultSubscription.managerFilter,
					yearOptions: defaultSubscription.yearOptions
				};
				return newSubscription;
			},
			editSubscription: function (subscription) {
				this.selectedSubscription = this.$lodash.cloneDeep(subscription);
				this.showPopup = true;
			},
			deleteSubscription: function (id) {
				bootbox.confirm("Are you sure you want to delete this subscription?", function (result) {
					if (result) {
						$.ajax({
							url: 'notifications/delete',
							type: "POST",
							data: {id: id},
							success: function (response) {
								window.location.href = response.redirectToUrl;
							}
						});
					}
				});
			},
			buildNewSubscription: function (defaultSubscription) {
				var newSubscription = {
					id: 0,
					subscriptionId: 0,
					name: "",
					communication: defaultSubscription.communication,
					communications: defaultSubscription.communications,
					selectedCommunication: defaultSubscription.selectedCommunication,
					additionalFilters: defaultSubscription.additionalFilters,
					jurisdictons: defaultSubscription.jurisdictons,
					managerFilter: defaultSubscription.managerFilter,
					yearOptions: defaultSubscription.yearOptions
				};
				return newSubscription;
			},
			updateImportUser: function (newValue) {
				this.vm.importUser = newValue;
			},
			importSubscription: function () {
				const self = this;
				bootbox.confirm("You are about to add the subscriptions of the following user to your own: " + self.vm.importUser + ". Do you want to continue?", function (result) {
					if (result) {
						$.ajax({
							url: 'notifications/importsubscriptions',
							type: "POST",
							data: { importUserId: self.vm.importUserId, userId: self.vm.userId },
							success: function (response) {
								window.location.href = response.redirectToUrl;
							}
						});
					}
				});
			},
			saveSubscription: function (subscription) {
				const self = this;
				$.ajax({
					url: 'notifications/edit',
					type: "POST",
					data: { vm: self.vm, subscription: subscription },
					success: function (response) {
						window.location.href = response.redirectToUrl;
					}
				});
			},
			updateIsNewSubscription: function (isNewSubscription) {
				this.isNewSubscription = isNewSubscription;
			},
			updateShowPopup: function (showPopup) {
				this.showPopup = showPopup;
			}
		}
	}
</script>