﻿<template>
	<div ref="SubscriptionModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" v-if="isNewSubscription" @click="saveSubscription">Add</button>
						<button type="button" class="btn btn-primary" v-else-if="!isNewSubscription" @click="saveSubscription">Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
					<h3 class="modal-title" v-if="isNewSubscription">Create New Subscription</h3>
					<h3 class="modal-title" v-else>Edit Subscription</h3>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<div class="col-sm-10">
								<label class="control-label">Event</label>
								<div>
									<Lookup :id="subscription.subscriptionId"
											:name="subscription.subscriptionId"
											v-model="localSubscription.subscriptionId"
											lookupajax="Subscriptions"
											:lookuptextfield="localSubscription.name"
											@updateLookupTextField="updateSubscription"
											class="form-control">
									</Lookup>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-10">
								<label class="control-label">Delivery Method</label>
								<div>
									<SelectStandardMultiple :id="subscription.selectedCommunication"
															:name="subscription.selectedCommunication"
															:options="localSubscription.communications"
															v-model="localSubscription.selectedCommunication"
															:value="localSubscription.selectedCommunication"
															@updateTextField="updateDeliveryMethod">
									</SelectStandardMultiple>
									<input type="hidden" :id="subscription.id" :name="subscription.id" v-model="localSubscription.id" />
									<input type="hidden" :id="subscription.subscriptionId" :name="subscription.subscriptionId" v-model="localSubscription.subscriptionId" />
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-10">
								<label class="control-label">Only send if Project or Bundle Manager is</label>
								<div>
									<Lookup :id="subscription.managerId"
											:name="subscription.managerId"
											v-model="localSubscription.managerId"
											lookupajax="Users"
											:lookuptextfield="localSubscription.selectedManager"
											:filter="localSubscription.managerFilter"
											@updateLookupTextField="updateManager"
											class="form-control">
									</Lookup>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-10">
								<label class="control-label">Only send if Submission Type is</label>
								<div>
									<Lookup :id="subscription.submissionType"
											:name="subscription.submissionType"
											v-model="localSubscription.submissionType"
											lookupajax="SubmissionTypes"
											:lookuptextfield="localSubscription.selectedSubmissionType"
											@updateLookupTextField="updateSubmissionType"
											class="form-control">
									</Lookup>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-10">
								<label class="control-label">Only send if Jurisdiction is one of</label>
								<div>
									<LookupMultipleWithModal :id="subscription.selectedJurisdicton"
															 :name="subscription.selectedJurisdicton"
															 lookupajax="Jurisdictions"
															 v-model="localSubscription.selectedJurisdicton"
															 :options="localSubscription.jurisdictons"
															 :value="localSubscription.selectedJurisdicton"
															 templatename="formatJurisdictions"
															 :modalheader="'Jurisdictions'"
															 @emitSelectedValues="updateJurisdictions" />
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-10">
								<label class="control-label">Only send if Manufacturer is</label>
								<div>
									<Lookup :id="subscription.manufacturerCode"
											:name="subscription.manufacturerCode"
											v-model="localSubscription.manufacturerCode"
											lookupajax="Manufacturers"
											:lookuptextfield="localSubscription.selectedManufacturer"
											@updateLookupTextField="updateManufacturer"
											templatename="formatManufacturers"
											class="form-control">
									</Lookup>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-10">
								<label class="control-label">Only send if file Year is</label>
								<div>
									<SelectStandard :id="subscription.selectedYear"
													:name="subscription.selectedYear"
													:options="localSubscription.yearOptions"
													v-model="localSubscription.selectedYear"
													@updateTextField="updateYear">
									</SelectStandard>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-10">
								<label class="control-label">Only send if Sequence Number is</label>
								<div>
									<input :id="subscription.sequenceNumber" :name="subscription.sequenceNumber" class="form-control" v-model="localSubscription.sequenceNumber" />
									<span class="field-validation-error" v-if="!$v.localSubscription.sequenceNumber.exists">{{localSubscription.sequenceNumber}} is not a valid Sequence Number.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Lookup from '@/components/utility/Lookup.vue'
	import LookupMultiple from '@/components/utility/LookupMultiple.vue'
	import LookupMultipleWithModal from '@/components/utility/LookupMultipleWithModal.vue'
	import SelectStandard from '@/components/utility/SelectStandard.vue'
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue'
	import Vuelidate from 'vuelidate'

	export default {
		components: {
			Lookup,
			LookupMultiple,
			LookupMultipleWithModal,
			SelectStandard,
			SelectStandardMultiple,
			Vuelidate
		},
		props: ['subscription', 'showPopup', 'isNewSubscription'],
		data() {
			return {
				localSubscription: this.subscription
			}
		},
		mounted: function () {
			const self = this;
			$(this.$refs.SubscriptionModal).on('hidden.bs.modal', function (e) {
				self.$emit('showPopup', false);
				self.$emit('isNewSubscription', false);
			});
		},
		methods: {
			saveSubscription: function () {
				if (!this.localSubscription.name || this.localSubscription.name.length == 0) {
					alert('Error: Event is required for a subscription.');
				}
				else {
					this.$emit('saveSubscription', this.localSubscription);
					$(this.$refs.SubscriptionModal).modal('hide');
				}
			},
			updateDeliveryMethod: function (newValue) {
				this.localSubscription.selectedCommunication = newValue;
			},
			updateSubscription: function (newValue) {
				this.localSubscription.name = newValue;
			},
			updateJurisdictions: function (obj) {
				if (obj) {
					if (obj.ids) {
						this.localSubscription.selectedJurisdicton = obj.ids;
					}
					if (obj.value) {
						this.localSubscription.jurisdictons = obj.value;
					}
				}
			},
			updateManager: function (newValue) {
				this.localSubscription.selectedManager = newValue;
			},
			updateManufacturer: function (newValue) {
				this.localSubscription.selectedManufacturer = newValue;
			},
			updateSubmissionType: function (newValue) {
				this.localSubscription.selectedSubmissionType = newValue;
			},
			updateYear: function (newValue) {
				this.localSubscription.selectedYear = newValue;
			}
		},
		validations: {
			localSubscription: {
				sequenceNumber: {
					exists(value) {
						if (!value) {
							return true;
						}
						return this.$http.get('User/Notifications/CheckSequenceNumber', {
							params: {
								sequenceNumber: this.localSubscription.sequenceNumber
							}
						})
						.then(r => {
							return r.data;
						})
					}
				}
			}
		},
		watch: {
			subscription: function () {
				this.localSubscription = this.subscription;
			},
			showPopup: function (newVal) {
				if (newVal) {
					$(this.$refs.SubscriptionModal).modal('show');
				}
			}
		}
	}
</script>