﻿@model Submissions.Web.Areas.Lookups.Models.TaskEvolutionGroupsViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Task Evolution Groups";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}}


@using (Html.BeginForm("Edit", "TaskEvolutionGroups", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	
	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title</h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "TaskEvolutionGroups", null, new { @class = "btn btn-primary btn-sm" })
		</div>
	</div>

	<div class="form-horizontal">
		<hr class="form-hr" />
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.EvolutionTCId, new { @class = "control-label col-sm-2" })
			<div class="col-sm-3">
				@Html.LookupFor(m => m.EvolutionTCId, m => m.EvolutionTC, LookupAjax.TestCase, false)
				@Html.ValidationMessageFor(m => m.EvolutionTCId)
			</div>
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.TaskDefinition, new { @class = "control-label col-sm-2" })
			@if (Model.Mode == Mode.Add)
			{
				<div class="col-sm-3">
					@Html.LookupMultipleFor(m => m.TaskDefinitionIds, Model.TaskDefinitions, LookupAjax.TaskDefinitions, true)
				</div>
			}
			else
			{
				<div class="col-sm-3">
					@Html.LookupFor(m => m.TaskDefinitionId, m => m.TaskDefinition, LookupAjax.TaskDefinitions, true)
				</div>
			}
		</div>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Active, new { @class = "control-label col-sm-2" })
			<div class="col-sm-2">
				@Html.CheckBoxFor(m => m.Active, new { @class = "padcheckbox" })
			</div>
		</div>
	</div>
}