﻿@model Submissions.Web.Areas.Lookups.Models.GameDescriptionStatusViewModel
@{
	ViewBag.Title = Model.Mode.ToString() + " Game Description Status";
	var saveButtonText = "Save";
	if (Model.Mode == Mode.Add)
	{
		saveButtonText = "Add";
	}
}

@using (Html.BeginForm("Edit", "GameDescriptionStatuses", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	
	<div class="row row-title">
		<div class="col-sm-8">
			<h3>@ViewBag.Title <small>@Html.DisplayFor(m=>m.Name)</small></h3>
		</div>
		<div class="col-sm-4 form-buttons">
			<input type="submit" value="@saveButtonText" class="btn btn-primary btn-sm" />
			@Html.ActionLink("Cancel", "Index", "GameDescriptionStatuses", null, new { @class="btn btn-primary btn-sm"})
		</div>
	</div>
	
	<div class="form-horizontal">
		<hr class="form-hr"/>
		<div class="form-group form-group-sm">
			@Html.LabelFor(m => m.Name, new { @class="control-label col-sm-2"})
			<div class="col-sm-3">
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control",@autofocus = "autofocus" })
				@Html.ValidationMessageFor(m=>m.Name)
			</div>
		</div>
	</div>
}