﻿@model IEnumerable<Submissions.Web.Areas.Lookups.Models.GameDescriptionStatusViewModel>

@{
	ViewBag.Title = "Game Description Statuses";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new{@class = "btn btn-primary btn-sm", id = "AddBtn"})
		@Html.ActionLink("Exit", "Index", "Admin", new { area = "" }, new { @class = "btn btn-primary btn-sm", id = "CancelBtn" })
	</div>
</div>

<table class="table table-striped table-hover">
	<tr>
		<th>@Html.DisplayNameFor(m=>m.Name)</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td class="text-right">
				@Html.ActionLink("Edit", "Edit", new { id = item.Id, mode = "Edit"}) | 
				@Html.ActionLink("Delete", "CheckDelete", "", new { id = item.Id, @class="CheckDelete"})
			</td>
		</tr>
	}
</table>