﻿@model Submissions.Web.Areas.Protrack.Models.Project.ChangeProjectStatus
@{
	ViewBag.NoNavBar = true;
	ViewBag.NoFooter = true;
}
<style>
	div.tooltip-inner {
		text-align: center;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		margin-bottom: 6px;
		background-color: #505050;
		font-size: 9px;
		max-width: 250px;
		width: 250px;
	}

	.changeStatusBtn {
		width: 150px;
	}
</style>
@{
	ViewBag.Title = "Change Project Status";
}
@using (Html.BeginForm("UpdateProjectStatus", "ChangeProjectStatus", FormMethod.Post, new { changeStatusVM = Model, Id = "ChangeStatus" }))
{
	@Html.HiddenFor(m => m.ProjectId)
	@Html.HiddenFor(m => m.CurrentProjectStatus)
	@Html.HiddenFor(m => m.ChangeProjectStatusTo)
	@Html.HiddenFor(m => m.IsAnyTaskOpen)
	@Html.HiddenFor(m => m.FileType)
	<div class="modal-header">
		<div class="row">
			<div class="col-sm-12 form-buttons text-right">
				<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Change Project Status for - @Model.ProjectName</h3>
					</div>
					<label id="Error" class="text-danger"></label>
					<div class="panel-body">

						<div class="row">
							@Html.Label("Change Status to:", new { @class = "control-label col-sm-4" })
							<div class="col-sm-8">
								@if (Model.ChangeProjectStatusTo == @ProjectStatus.RC || Model.ChangeProjectStatusTo == @ProjectStatus.QA)
								{
									var isdisabled = "";
									var title = "";

									if (Model.RCSanityCheck != null)
									{
										if (!string.IsNullOrEmpty(Model.RCSanityCheck.TargetErrorMessage))
										{
											isdisabled = "disabled";
											title += Model.RCSanityCheck.TargetErrorMessage;
										}
										else if (Model.RCSanityCheck.ProjectHolder != ProjectHolder.EN.ToString())
										{
											isdisabled = "disabled";
											title += "Current Project Holder is " + Model.RCSanityCheck.ProjectHolder;
										}
										else if (Model.RCSanityCheck.IsTestIngPerformedMissing)
										{
											isdisabled = "disabled";
											title += "Testing Performed is not set.";
										}
										else if (Model.RCSanityCheck.CryptographicStrengthMissing && Util.HasAccess(Permission.MathCryptoStrength, AccessRight.Edit) && Model.FileType == SubmissionType.RN.ToString())
										{
											isdisabled = "disabled";
											title += "Cryptographic Strength is not set. Please Edit below";

										}
										else if (Model.RCSanityCheck.IncomingReviewMissing)
										{
											isdisabled = "disabled";
											title += "Incoming Review not completed.";
										}
										else if (Model.RCSanityCheck.StatusUpdated)
										{
											isdisabled = "disabled";
											title += "Status has been updated. Please refresh data.";
										}
										else if (Model.RCSanityCheck.JurLinkMissinginEVO)
										{
											title += "Certain jurisdictions in Evolution are double locked. New Evolution instance may not be created for those jurisdictions if they are moved to new transfer.";
										}
									}

									if (Model.ChangeProjectStatusTo == @ProjectStatus.QA)
									{
										<button type="button" id="PullInQA" @isdisabled title="@title" class="btn btn-primary btn-sm">QA</button>@:&nbsp;(Pull In QA)
										if (title != "")
										{
											<p class="text-danger">
												<span>(Error:&nbsp;@title)</span>
											</p>
										}
									}
									else
									{
										if (!Util.HasAccess(Permission.ProjectActions, AccessRight.Edit) && !Util.HasAccess(Role.ENS, Role.ESR, Role.MAS, Role.MAR, Role.MG, Role.CPS, Role.CSR))
										{
											isdisabled = "disabled";
											title = "No Permission.";
										}

										<button type="button" id="ReviewComplete" @isdisabled title="@title" class="btn btn-primary btn-sm changeStatusBtn">Review Complete</button>@:&nbsp;(Send To QA)
										if (Model.CanChangeStatusToDC)
										{
											<br /><br /><button type="button" id="DelayedCertification" @isdisabled title="@title" class="btn btn-primary btn-sm changeStatusBtn">Delayed Certification</button>
										}

										if (isdisabled != "")
										{
											<p class="text-danger">
												@if (Model.RCSanityCheck.IncomingReviewMissing)
												{
													<span>(Error:&nbsp;@title</span>
													<span>@Html.ActionLink("Incoming Review", "Index", "IncomingReview", new { id = Model.ProjectId }, new { target = "_blank" })</span>
													<span>&nbsp;has not been completed for the current project.</span>
												}
												else
												{
													<span>(Error:&nbsp;@title)</span>
												}
											</p>
										}
									}
								}
								else if (Model.ChangeProjectStatusTo == @ProjectStatus.IR)
								{
									var isdisabled = "";
									var title = "";
									if (Model.RCSanityCheck != null)
									{
										if (Model.RCSanityCheck.StatusUpdated)
										{
											isdisabled = "disabled";
											title += "Status has been updated. Please refresh data.";
										}
									}
									if (!Util.HasAccess(Permission.ProjectActions, AccessRight.Edit) && !Util.HasAccess(Role.ENS, Role.ESR, Role.MAS, Role.MAR, Role.MG, Role.CPS, Role.CSR))
									{
										isdisabled = "disabled";
										title = "No Permission.";
									}
									<button type="button" id="InReview" @isdisabled title="@title" class="btn btn-primary btn-sm">In Review</button>
								}
							</div>

						</div>
						@if (Model.ChangeProjectStatusTo == @ProjectStatus.RC)
						{
							<div class="row"><hr /></div>
							<div class="row">
								@Html.Label("Testing Performed:", new { @class = "control-label col-sm-4" })
								@Html.ActionLink("[Edit]", "Edit", "TestingPerformed", new { id = Model.ProjectId }, new { target = "_blank" })
							</div>
							if (Model.RCSanityCheck.CryptographicStrengthMissing && Util.HasAccess(Permission.MathCryptoStrength, AccessRight.Edit) && Model.FileType == SubmissionType.RN.ToString())
							{
								<div class="row">
									@Html.Label("Cryptographic Strength:", new { @class = "control-label col-sm-4" })
									@Html.ActionLink("[Edit]", "Edit", "CryptographicStrength", new { projId = Model.ProjectId }, new { target = "_blank" })
								</div>
							}
							<div class="row col-sm-12">
								<br /><p class="text-info"><b>Please be sure to check the target date and mark as Expedite as necessary:</b></p>
							</div>
							<div class="row">
								@Html.Label("Target Date:", new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.DisplayFor(m => m.TargetDate)&nbsp;@Html.ActionLink("[Revise]", "Index", "TargetDate", new { projectId = @Model.ProjectId }, new { target = "_blank" })
								</div>
							</div>
							if (Util.HasAccess(Permission.Expedite, AccessRight.Edit))
							{
								<div class="row">
									@Html.LabelFor(model => model.ExpediteInfo.Expedite, new { @class = "control-label col-sm-4" })
									<div class="col-sm-1">
										@Html.CheckBoxFor(model => model.ExpediteInfo.Expedite)
									</div>
								</div>
								<div class="row">
									@Html.LabelFor(model => model.ExpediteInfo.ExpediteReason, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										@Html.DropDownListFor(model => model.ExpediteInfo.ExpediteReason, LookupsStandard.ConvertEnum<ExpediteReasons>(useDescriptionAsValue: true, showBlank: true), new { @class = "form-control" })
									</div>
								</div>
								<div class="row">
									@Html.LabelFor(model => model.ExpediteInfo.ExpediteNote, new { @class = "control-label col-sm-4" })
									<div class="col-sm-8">
										<i class="fas fa-info-circle ExpediteNoteInfo" aria-hidden="true"></i>
										<div style="width:350px;height:100px;display:none;font:smaller" id="ExpediteInfo">
											<table style="table-layout:fixed;">
												<tr>
													<td colspan="2" style="font-size:10px;">
														If one of the following Expedite Reasons is selected,
														please supply the additional information in the Expedite Notes box.
														<br /><br />
													</td>
												</tr>

												<tr><td><b>Expedite Reason</b></td><td><b>Additional Info Requested</b></td></tr>
												<tr><td>Commission Meeting</td><td><i>Date and Jurisdictions</i></td></tr>
												<tr><td>Eng Delay</td><td><i>Reason for Delay</i></td></tr>
												<tr><td>New Install</td><td><i>Date and Jurisdiction</i></td></tr>
												<tr><td>New Startup</td><td><i>Date and Jurisdiction</i></td></tr>
												<tr><td>Prob in Field</td><td><i>No additional info needed</i></td></tr>
												<tr><td>Regulator Request</td><td><i>Who made the request</i></td></tr>
												<tr><td>Sales</td><td><i>Date and Jurisdiction</i></td></tr>
											</table>
										</div>
										@Html.TextAreaFor(model => model.ExpediteInfo.ExpediteNote, 3, 100, new { @class = "form-control", @placeholder = "", @style = "width:300px" })
									</div>
								</div>
							}
							else
							{
								<div class="row">
									@Html.LabelFor(model => model.ExpediteInfo.Expedite, new { @class = "control-label col-sm-4" })
									<div class="col-sm-3">
										@Html.CheckBoxFor(model => model.ExpediteInfo.Expedite, new { @disabled = "disabled", @title = "No Permission" })
										<br />
									</div>
								</div>

								@Html.HiddenFor(m => m.ExpediteInfo.ExpediteReason)
								@Html.HiddenFor(m => m.ExpediteInfo.ExpediteNote)
							}
							<div class="row col-sm-12">
								<br /><p class="text-info"><b>Please be sure to check below if Additional Engineering involvement needed while QA Finalization:</b></p>
							</div>
							<div class="row">
								@Html.LabelFor(model => model.ENInvolvementWhileFL, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.CheckBoxFor(model => model.ENInvolvementWhileFL)
									<br />
									@Html.TextAreaFor(model => model.ENInvolvementWhileFLNote, 3, 100, new { @class = "form-control", @placeholder = "", @style = "width:300px" })
								</div>
							</div>
							<div class="row col-sm-12">
								<br /><p class="text-info"><b>Please be sure to check below if the game has too many issues that it will never be certified. Hence letting QA know that they should not include this project in their workload forecasting:</b></p>
							</div>
							<div class="row">
								@Html.LabelFor(model => model.CertNotNeeded, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.CheckBoxFor(model => model.CertNotNeeded)
								</div>
							</div>
							<div class="row">
								@Html.LabelFor(model => model.ADMWorkNeeded, new { @class = "control-label col-sm-4" })
								<div class="col-sm-3">
									@Html.CheckBoxFor(model => model.ADMWorkNeeded)
								</div>
							</div>
							<div class="row col-sm-12">
								<br /><p class="text-info">
									<b>
										Please confirm the intended certification lab for the project that you
										are sending to QA to ensure the correct office pulls from the queue and
										issues the corresponding approval/report. This field is not required:
									</b>
								</p>
							</div>
							<div class="row">
								@Html.Label("Certification Lab:", new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.DropDownListFor(model => model.CertificationLab, LookupsStandard.ConvertEnum<Laboratory>(useDescriptionAsValue: false, showValueInDescription: true, showBlank: true), new { @class = "form-control" })
								</div>
							</div>
							<div class="row">
								@Html.Label("QA Office:", new { @class = "control-label col-sm-4" })
								<div class="col-sm-8">
									@Html.LookupFor(model => model.QAOfficeId, model => model.QAOffice, LookupAjax.Laboratories, false)
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>

}
<script>
	$(function () {
		loadDocumentReady();

		$(".ExpediteNoteInfo").tooltip({
			html: true,
			title: $("#ExpediteInfo").html()
		})

		$('#InReview, #PullInQA').click(function () {
			$('#ChangeStatus').submit();
		});

		$('#ReviewComplete').click(function () {
			var Error = ''
			if ($("#ExpediteInfo_Expedite").is(":checked") && $('#ExpediteInfo_ExpediteReason').val() == "") {
				Error = 'You must select Expedite Reason. \n'
			}

			if ($("#ExpediteInfo_Expedite").is(":checked") && $('#ExpediteInfo_ExpediteNote').val() == "") {
				Error += 'You must enter Notes.'
			}

			if ($("#ENInvolvementWhileFL").is(":checked") && $('#ENInvolvementWhileFLNote').val() == "") {
				Error += 'You must enter Notes for EN involvemnt while QA finalization.'
			}

			if (Error == '') {
				$('#Expedite').submit();
			}
			else {
				$('#Error').text(Error);
				return false;
			}

			if ($("#IsAnyTaskOpen").val() == "True" && $("#ChangeProjectStatusTo").val() == "@ProjectStatus.RC.ToString()") {
				bootbox.confirm("Not all tasks are complete. Complete tasks and set the project to Review Complete?", function (result) {
					if (result) { ChangeStatus() };
				});
			}
			else {
				ChangeStatus();
			}
		});

		$('#DelayedCertification').click(function () {
			if ($("#IsAnyTaskOpen").val() == "True" && $("#ChangeProjectStatusTo").val() == "@ProjectStatus.RC.ToString()") {
				bootbox.confirm("Not all tasks are complete. Complete tasks and set the project to Delayed Certification?", function (result) {
					if (result) {
						$('#ChangeProjectStatusTo').val('DC');
						ChangeStatus()
					};
				});
			}
			else {
				$('#ChangeProjectStatusTo').val('DC');
				ChangeStatus();
			}
		});

		function SetCryptographicStrength() {
			var url = '@Url.Action("Edit", "CryptographicStrength", new { projId = Model.ProjectId })';
			window.open(url);

		}

		function ChangeStatus() {
				$('#ReviewComplete').prop("disabled", true);
				$('#ChangeStatus').submit();
		}

		$('#ChangeStatus').submit(function () {
			Loading();
			$.ajax({
				url: this.action,
				type: this.method,
				data: $(this).serialize(),
				success: function (result) {
					if ("@Request["OnlyRefreshValues"]" == 1) {
						$('#myModal').modal('toggle');
						ReloadAfterUpdate();
					}
					else {
						window.location.reload();
					}
					DoneLoading();
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					alert("error")
					if ("@Request["OnlyRefreshValues"]" == 1) {
						$('#myModal').modal('toggle');
						ReloadAfterUpdate();
					}
					else {
						window.location.reload();
					}
					DoneLoading();
				}
			});

			return false;
		});
	});
</script>