<template>
	<div class="container-fluid">
		<br />
		<!--Component Questions tab-->
		<div v-if="!isGameDescriptions && !isModifications">
			<span class="pull-right"><a href="#" @click="expandAll" title="Expand All"><i v-bind:class="{ 'fa-angle-double-up': allOpen, 'fa-angle-double-right': !allOpen }" class="fas fa-2x letter-generation__tooltip"></i></a></span>
			<table class="table">
				<thead>
					<tr class="bg-primary">
						<th></th>
						<th>Id Number<span v-if="manufacturerId ==='IGT'"><br />(Org IGT Material)</span></th>
						<th>Game Name</th>
						<th>Date Code</th>
						<th>Version</th>
						<th width="1%"></th>
						<th width="1%"><span title="List of jurisdictions for components" style="cursor:pointer"><i class="fas fa-info-circle letter-generation__tooltip"></i></span></th>
					</tr>
				</thead>
				<tbody>
					<template v-for="(component,j) in components">

						<tr :class="{ opened: opened.includes(component.id) }">
							<td><i v-bind:class="{ 'fa-angle-up': opened.indexOf(component.id) > -1, 'fa-angle-right': opened.indexOf(component.id) < 1}" class="fas fa-2x letter-generation__tooltip" title="click to view all questions" @click="toggle(component.id)"></i></td>
							<td>{{ component.idNumber}}<span v-if="manufacturerId ==='IGT'" title="Org IGT Material"><br />({{ component.orgIGTMaterial}})</span></td>
							<td class="align-left">{{ component.gameName }}</td>
							<td class="align-left">{{ component.dateCode}}</td>
							<td class="align-left">{{ component.version }}</td>
							<td width="1%">
								<template v-if="!permissionSet.departmentLockEngaged">
									<CopyAll :sourceType="'Components'" :currentSourceId="component.id"></CopyAll>
								</template>
							</td>
							<td width="1%"><span v-if="getComponentApplicableJurs(component).length > 0" :title="showComponentApplicableJurisdictions(getComponentApplicableJurs(component))"><i class="fas fa-info-circle letter-generation__tooltip"></i></span></td>
						</tr>
						<tr v-if="opened.includes(component.id)">
							<td colspan="7">
								<div class="panel panel-default">
									<br />
									<div v-for="memo in getAllApplicableMemosForComponent(component)">
										<!--<div v-if="memosForDistinctComponentQuestions.filter(x => x == memo.localId).length > 0">-->
										<div v-for="control in getAllApplicableMemoControls(memo,component)">
											<div v-if="uniqueComponentQuestions(component).filter(x => x.memoLocalId == control.memoLocalId && x.id === control.id).length > 0">
												<div v-if="control.parentId === 0 || (control.parentId != 0 && evalParentVal(memo,control,component))">
													<div v-if="!control.isSplitFromDefault" :class="['row']">
														<span v-if="belongsMemos(control.id,component).length > 1" class="text-warning pull-left">&nbsp;&nbsp;&nbsp;<span v-tooltip:bottom="getMemoListToDisplay(control.id, component)">&nbsp;&nbsp;&nbsp;<i class="fas fa-exclamation-triangle"></i> Below question belongs to multiple memos</span></span>
														<div class="dropdown pull-right" v-if="belongsMemos(control.id, component).length > 1">
															<a href="#" class="btn dropdown-toggle letter-generation__tooltip" data-toggle="dropdown" title="Click to View Memo"><i class="fas fa-th-list"></i>&nbsp;&nbsp;</a>
															<ul class="dropdown-menu">
																<li v-for="(belongMemo,index) in belongsMemos(control.id, component)">
																	<a href="#" @click="jumpToSomeMemo(belongMemo)" class="letter-generation__tooltip"><span v-if="belongMemo.applicableJurisdictions.length > 0" :title="'Applies To ' + showApplicableJurisdictions(belongMemo.applicableJurisdictions)" style="cursor:pointer"><i class="fas fa-info-circle"></i></span> {{belongMemo.name}}</a>
																</li>
															</ul>
															&nbsp;
														</div>
														<div class="pull-right" v-if="belongsMemos(control.id, component).length === 1">
															<a href="#" :title="'Click to View ' + memo.name" @click="jumpToSomeMemo(memo)" class="letter-generation__tooltip"><i class="fas fa-location-arrow"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														</div>
													</div>

													<div :class="[belongsMemos(control.id,component).some(x => x.localId == selectedMemo.localId && x.sourceId == selectedMemo.sourceId && x.sourceProperty == selectedMemo.sourceProperty) ? 'row' : 'row', {'child-control': control.parentId}]">
														<Question class="letter-input-control-component"
																  :control="control"
																  :memo="memo"
																  :displayDistinctQuestionsTab="true"
																  :source="getComponentSourceItemTarget(memo, component)">
														</Question>
													</div>

												</div>
											</div>
										</div>
										<!--</div>-->
									</div>
								</div>
							</td>
						</tr>
					</template>
				</tbody>
			</table>
		</div>

		<!--Show as panel for game description and modlist-->
		<div v-else>
			<div v-for="(component,j) in components">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" :href="'#Question' + controlLabel + component.id">
							<h4 class="panel-title">
								<span title="No data entered for this component" v-if="!isQuestionAnswerExists(component)" class="text-warning"><i class="fas fa-exclamation"></i></span>
								<span v-if="controlDescription != null"><strong>{{ controlDescription }}</strong><br /> </span>
								<font class="text-info">
									<small>Id Number:</small><span title="Id Number">{{component.idNumber}}</span>
									&nbsp;&nbsp;&nbsp;&nbsp;<small>Game Name:</small><span title="Game Name">{{component.gameName}}</span>
									&nbsp;&nbsp;&nbsp;&nbsp;<small>Date Code:</small><span title="Date Code">{{component.dateCode}}</span>
									&nbsp;&nbsp;&nbsp;&nbsp;<small>Version:</small><span title="Version">{{component.version}}</span>
								</font>
							</h4>
						</a>
						<span class="applyCompJurisdictionDisplayText" v-if="getComponentApplicableJurs(component).length > 0" :title="showComponentApplicableJurisdictions(getComponentApplicableJurs(component))"><small><i>Applies to </i><font class="text-info">{{showComponentApplicableJurisdictions(getComponentApplicableJurs(component))}}</font></small></span>
					</div>
					<div class="panel-body collapse" :id="'Question' + controlLabel + component.id">
						<div>
							<div class="panel panel-default panel-body">
								<template v-for="(memo, index) in getAllApplicableMemosForComponent(component)">
									<div v-for="control in getAllApplicableMemoControls(memo, component)">
										<Question class="letter-input-control-component"
												  :control="control"
												  :memo="memo"
												  :source="getComponentSourceItemTarget(memo, component)"
												  @triggerJump="jumpToSomeMemo(memo)">
										</Question>
									</div>
								</template>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Vue from 'vue';
	import { createNamespacedHelpers } from 'vuex';
	import Question from '@/components/documents/generate/LetterQuestions/Question.vue';
	import CopyAll from '@/components/documents/generate/LetterQuestions/CopyToAll.vue';

	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	export default {
		props: {
			controlLabel: {
				type: String
			},
			controlDescription: {
				type: String
			},
			isModifications: {
				type: Boolean
			},
			isGameDescriptions: {
				type: Boolean
			}

		},
		components: {
			Question,
			CopyAll
		},
		data: function () {
			return {
				opened: [],
				allOpen: false
			}
		},
		created: function () {

		},
		computed: {
			//componentQuestions: function () {
			//	let questions = [];
			//	let self = this;
			//	if (isNotNull(this.controls) && isNotNull(this.controls) && this.controls.length > 0) {
			//		this.controls.forEach(control => {
			//			if (!questions.find(q => q.id === control.id)) { // only unique questions
			//				if (control.sourceId == "Components") {
			//					questions.push(control);
			//				}
			//			}
			//		});
			//		return questions;
			//	}
			//	else {
			//		return [];
			//	}
			//},
			//memosForDistinctComponentQuestions: function () {
			//	let memos = []
			//	this.componentQuestions.forEach(control => {
			//		if (!memos.includes(control.memoId)) {
			//			memos.push(control.memoId);
			//		}
			//	})
			//	return memos;
			//},
			...letterGetters([
				'bundleId',
				'controls',
				'memos',
				'componentMemos',
				'componentIdMemos',
				'manufacturerId'
			]),
			...sourceGetters([
				'components'
			]),
			...mapGetters([
				'letterPreviewJurisdiction',
				'letterPreviewJurisdictions',
				'workspaceJurisdictions',
				'showApplicableJurisdictions',
				'selectedMemo',
				'permissionSet'
			]),

		},
		methods: {
			uniqueComponentQuestions: function (component) {
				let questions = [];
				let componentApplies = this.componentIdMemos(component.id);

				componentApplies.forEach(memo => {
					let allMemoControls = memo.sourceItemTargets.find(x => x.id === component.id).letterContentControls;
					allMemoControls.forEach(control => {
						if (!questions.find(q => q.id === control.id)) { // only unique questions
							control.memoLocalId = memo.localId;
							control.memoId = memo.id;
							questions.push(control);
						}
					});
				});
				return questions;
			},
			belongsMemos: function (controlId, component) {
				//let componentMemos = this.componentIdMemos(component.id);
				let memos = this.componentMemos.filter(m => m.letterContentControls.find(c => c.id === controlId)); //how many total memos a question belongs
				return memos;
			},
			evalParentVal: function (memo, control, component) {
				let sourceControls = this.getComponentSourceItemTarget(memo, component).letterContentControls;
				let parentControl = sourceControls.find(c => c.id === control.parentId && c.isSplitFromDefault == false);
				if (control.isSplitFromDefault) {
					parentControl = sourceControls.find(c => c.id === control.parentId && (c.applicableJurisdictions.find(x => control.applicableJurisdictions.includes(x))));
				}
				let result = parentControl.content;
				let evalExp = true;
				try {
					evalExp = eval(control.conditionalExpression);
				}
				catch (err) {
					console.groupCollapsed('We should probably tell the user this conditionalExpression failed.');
					console.log(err);
					console.log(control);
					console.groupEnd();
				}
				return (evalExp) ? true : false;
			},
			expandAll: function () {

				this.components.forEach(c => {
					const index = this.opened.indexOf(c.id);
					if (index > -1) {
						this.opened.splice(index, 1);
					}
				});

				if (!this.allOpen) {
					this.components.forEach(c => {
						this.opened.push(c.id)
					});
				}

				this.allOpen = !this.allOpen;
			},
			getComponentApplicableJurs: function (component) {
				let compJurIds = component.jurisdictionalData.map(jur => parseInt(jur.jurisdictionId));
				//if (compJurIds.length == this.letterPreviewJurisdictions.length) {
				//return [];
				//}
				//else {
				return compJurIds;
				//}
			},
			getMemo: function (memoId) {
				return this.memos.find(m => m.localId == memoId);
			},
			getMemoListToDisplay: function (controlId, component) {
				let list = []
				let memoList = this.belongsMemos(controlId, component)
				memoList.forEach(memo => {
					if (!list.includes(memo.name)) { //to avoid cloned memos to show up
						list.push(memo.name);
					}
				});
				let listNames = ''
				list.forEach(name => {
					listNames += name + "<br>"
				});
				return listNames;
			},
			//setSourceProperty: function (component, control) { // you need this while you are previwing and prop gets changed and we are looping through components so this sets the component.[property] to we can easily display
			//	let targetControl = component.letterContentControls.find(c => c.label === control.label && (c.applicableJurisdictions.some(jur => jur == this.letterPreviewJurisdiction) || c.applicableJurisdictions.length == 0));
			//	if (targetControl != undefined) {
			//		component[control.label] = targetControl.content;
			//	}
			//},
			toggle: function (id) {
				const index = this.opened.indexOf(id);
				if (index > -1) {
					this.opened.splice(index, 1)
				} else {
					this.opened.push(id)
				}
			},
			getAllApplicableMemosForComponent: function (component) {
				let memos = this.componentIdMemos(component.id).filter(m => m.letterContentControls.some(c => !c.isGameDescription && !c.isModification));
				//console.log("memos****************")
				//console.log(component.idNumber);
				//console.log(this.memosForDistinctComponentQuestions);
				//console.log(this.componentIdMemos(component.id));
				//console.log(component);
				//console.log(memos);
				if (this.isModifications) {
					memos = this.componentIdMemos(component.id).filter(m => m.letterContentControls.some(c => c.isModification));
				}
				else if (this.isGameDescriptions) {
					memos = this.componentIdMemos(component.id).filter(m => m.letterContentControls.some(c => c.isGameDescription));
				}
				return memos;
			},
			getAllApplicableMemoControls: function (memo, component) {
				let allControls = memo.sourceItemTargets.filter(sit => sit.id === component.id && isNotNull(sit.letterContentControls) && sit.letterContentControls.length > 0).selectMany(sit => sit.letterContentControls).filter(control => isNotNull(control));

				if (this.isGameDescriptions || this.isModifications) {
					let controlsToSort = this.isGameDescriptions ? allControls.filter(c => c.isGameDescription) : allControls.filter(c => c.isModification);
					controlsToSort.sort((a, b) => {
						if (a.isSplitFromDefault - b.isSplitFromDefault < 0) {
							return -1;
						}
						else if (a.isSplitFromDefault - b.isSplitFromDefault > 0) {
							return 1;
						}
						else {
							if (a.applicableJurisdictions.length < b.applicableJurisdictions.length) {
								return 1;
							}
							else if (a.applicableJurisdictions.length > b.applicableJurisdictions.length) {
								return -1;
							}
							else {
								return 0;
							}
						}
					});

					return controlsToSort;
				}
				else {
					return allControls.filter(c => !c.isGameDescription && !c.isModification);
				}
			},
			getComponentSourceItemTarget: function (memo, component) {
				return (memo.sourceItemTargets.find(sit => sit.id === component.id))
			},
			isQuestionAnswerExists: function (component) {
				let appMemos = this.getAllApplicableMemosForComponent(component);
				for (let memoIndex = 0; memoIndex < appMemos.length; memoIndex++) {
					let appControls = this.getAllApplicableMemoControls(appMemos[memoIndex], component);
					if (appControls.some(control => control.content !== undefined && control.content.length > 0)) {
						return true;
					}
				}
				return false;
			},
			jumpToSomeMemo: function (memo) {
				this.setSelectedMemo(memo);
			},
			showComponentApplicableJurisdictions: function (jurList) {
				return this.showApplicableJurisdictions(jurList);
			},
			...mapActions([
				'jumpToMemo',
				'setSelectedMemo',
			])
		},
		watch: {

		}
	}
</script>
<style scoped>
	.child-control {
		margin-left: 10px;
	}

	.applyCompJurisdictionDisplayText {
		display: block;
		width: 95%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	table {
		width: 100%;
		border: 1px solid #ccc;
	}

	td {
		padding: 2px;
		border: 1px solid #ccc;
	}

	.opened {
		background-color: gainsboro;
	}

	.align-left {
		text-align: left
	}
</style>