<template>
	<div :class="[]">
		<div ref="memoAssociations" class="modal fade" id="memoAssociations" tabindex="-1" role="dialog">
			<div class="modal-dialog max-width-50" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="flex-container">
							<div class="flex-item"><h4 class="modal-title"><strong>Memo Associations</strong></h4></div>
							<div class="flex-item">
								<div class="flex-container-end">
									<div class="memoIdTooltip" @click="handle__clickMemoLink()">
										<span class="letter-generation__tooltip">
											<span class="memoIdTooltipText">Show Me The Memo!</span>
											<i class="fas fa-2x fa-external-link-alt letter-generation__tooltip"></i>
										</span>
									</div>
									<div class="memoIdTooltip margin-left-three">
										<span class="letter-generation__tooltip" @click="click_copyToClipboard( memoAssociation.memoID )" @mouseout="toolTipOut(memoAssociation.memoID)">
											<span class="memoIdTooltipText" :id="'copyMemoToolTip' + memoAssociation.memoID">Copy Memo ID to clipboard</span>
											<i class="fas fa-2x fa-clipboard letter-generation__tooltip"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-2">
								<strong>Why this memo?</strong>
							</div>
							<div class="col-sm-10">
								{{memo.description}}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<strong>Relevant Manufacturers:</strong>
							</div>
							<div class="col-sm-9">
								{{ memoAssociation.includedManufacturers }}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<strong>Not Relevant Manufacturers:</strong>
							</div>
							<div class="col-sm-9">
								{{ memoAssociation.notIncludedManufacturers }}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<strong>Relevant Jurisdictions:</strong>
							</div>
							<div class="col-sm-9">
								{{ memoAssociation.includedJurisdictions }}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<strong>Not Relevant Jurisdictions:</strong>
							</div>
							<div class="col-sm-9">
								{{ memoAssociation.notIncludedJurisdictions }}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<strong>SpecialFlags:</strong>
							</div>
							<div class="col-sm-10">
								{{ memoAssociation.specialFlags }}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<strong>IdNumbers:</strong>
							</div>
							<div class="col-sm-10">
								{{ memoAssociation.idNumber }}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<strong>Functions:</strong>
							</div>
							<div class="col-sm-10">
								{{ memoAssociation.function }}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<strong>Evo Validations:</strong>
							</div>
							<div class="col-sm-9">
								<table class="table">
									<thead>
										<tr>
											<td scope="col" width=20>Normalized Id</td>
											<th scope="col">Answer</th>
											<th scope="col" width=500>Text</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="item, index in memoAssociation.questionBase">
											<td>{{ item.normalizedId }}</td>
											<td>{{ item.answer }}</td>
											<td>{{ item.text }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div :class="['col-sm-6']">
				<div :class="['letter-generation__memo__name', 'row']" v-bind:id="'workspace'+ memo.localId">
					<div class="col-sm-1" v-if="memo.custom">
						<i @click="click_ToggleCustomMemoName(memo)" class="fas fa-pencil-alt cursor-pointer"></i>
					</div>
					<div class="col-sm-11">
						<div v-if="!memo.editMode">{{ memo.name }}</div>
						<input v-else placeholder="Name" v-model="memo.name">
					</div>
				</div>
			</div>
			<div :class="['col-sm-6']">
				<div class="['row']">
					<div v-if="!memo.custom" :class="['col-sm-1', 'pull-right']">
						<i @click="click_ShowMemoAssociation(memo)"
						   :class="['fas', 'fa-2x', 'fa-info', 'letter-generation__tooltip']"></i>
					</div>
					<div v-if="memo.custom && !permissionSet.departmentLockEngaged"
						 :class="['col-sm-1', 'pull-right']">
						<i @click="click_SaveCustomMemo(memo)"
						   :class="['far', 'fa-2x', 'fa-save', 'letter-generation__tooltip']"></i>
					</div>
					<div v-if="memo.custom && !permissionSet.departmentLockEngaged"
						 :class="['col-sm-1', 'pull-right']">
						<i @click="click_DeleteCustomMemo(memo)"
						   :class="['far', 'fa-2x', 'fa-trash-alt', 'letter-generation__tooltip']"></i>
					</div>
					<div v-if="memo.removable && memo.include && !permissionSet.departmentLockEngaged"
						 :class="['col-sm-1', 'pull-right']">
						<i @click="memo.include = false"
						   :class="['far', 'fa-2x', 'fa-check-square', 'letter-generation__tooltip']"></i>
					</div>
					<div v-else-if="memo.removable && !memo.include && !permissionSet.departmentLockEngaged"
						 :class="['col-sm-1', 'pull-right']">
						<i @click="memo.include = true;memo.userIncluded = true"
						   :class="['far', 'fa-2x', 'fa-times-circle', 'letter-generation__tooltip']"></i>
					</div>
					<div v-if="memo.include && memo.name !== 'Coverpage'"
						 :class="['col-sm-1', 'pull-right']">
						<i @click="jumpToSomeMemo()"
						   :class="['far', 'fa-2x', 'fa-eye', 'letter-generation__tooltip']"></i>
					</div>
				</div>
			</div>
		</div>
		<div :class="['row']">
			<div :class="['col-sm-12']">
				<h5 v-if="memo.custom"><strong><i class="text-red size">This is a custom note.</i></strong></h5>
			</div>
		</div>
		<div :class="['row']"
			 v-if="memo.letterContentControls && memo.letterContentControls.length > 0">
			<div v-for="inputControl in displayedControls">
				<div v-if="inputControl.parentId === 0 || (inputControl.parentId !== 0 && evalParentVal(memo, inputControl))" :class="['col-sm-12', 'input-control', 'padlr0']">
					<Question :control="inputControl"
							  :memo="memo"
							  :key="inputControl.localId"
							  @triggerJump="jumpToSomeMemo()"></Question>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import Vue from 'vue';
	Vue.directive('tooltip', function (el, binding) {
		$(el).tooltip({
			title: binding.value,
			placement: binding.arg,
			trigger: 'hover'
		})
	})
	import api from '@/api/documents/generate';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGenGetters } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters } = createNamespacedHelpers('letter');
	import Question from '@/components/documents/generate/LetterQuestions/Question.vue';
	import { isNull } from '@/common';
	import { isNotNull } from '@/common';
	import Lookup from '@/components/utility/Lookup.vue';
	import DatePicker from '@/components/utility/DatePicker.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';

	export default {
		name: 'Content',
		components: {
			Question,
			Lookup,
			DatePicker,
			LookupMultiple
		},

		props: ['memo', 'section'],
		data() {
			return {
				showJurisdictionOptions: false,
				selectedMemoLocalId: '',
				memoAssociation: {
					includedManufacturers: "",
					includedJurisdictions: "",
					notIncludedManufacturers: "",
					notIncludedJurisdictions: "",
					specialFlags: "",
					idNumber: "",
					function: "",
					questionBase: [],
					memoID: "",
					letterContentID: "",
					notesManagerLink: () => `${jsPath}documents/noteManager/edit/${this.memoAssociation.letterContentID}?memoId=${this.memoAssociation.memoID}`
				}
			};
		},
		computed: {
			displayedControls: function () {
				return this.memo.letterContentControls.filter(cont => !cont.sourceId || cont.sourceId.length === 0);
			},
			displayedMemo: function () {
				if (this.selectedMemoLocalId.length === 0 || this.selectedMemoLocalId === this.memo.localId)
					return this.memo;
				else
					return this.section.memos.find(memo => memo.localId === this.selectedMemoLocalId);
			},
			memoClones: function () {
				return this.section.memos.filter(memo => memo.id === this.memo.id);
			},
			showApplicableJursText: function () {
				return this.showApplicableJurisdictions(this.memo.applicableJurisdictions);
			},
			...mapGetters([
				'selectedMemo',
				'showApplicableJurisdictions',
				'permissionSet'
			]),
			...letterGenGetters([
				'jurisdictionalDataIds'
			])
		},
		methods: {
			evalParentVal: function (memo, control) {
				let parentControl = memo.letterContentControls.find(c => c.id === control.parentId && c.isSplitFromDefault == false);
				if (control.isSplitFromDefault) {
					parentControl = memo.letterContentControls.find(c => c.id === control.parentId && (c.applicableJurisdictions.find(x => control.applicableJurisdictions.includes(x))));
				}
				let result = parentControl.content;
				let evalExp = true;
				try {
					evalExp = eval(control.conditionalExpression);
				}
				catch (err) {
					console.groupCollapsed('We should probably tell the user this conditionalExpression failed.');
					console.log(err);
					console.log(control);
					console.groupEnd();
				}
				return (evalExp) ? true : false;
			},
			isNull: function (obj) {
				return isNull(obj);
			},
			isNotNull: function (obj) {
				return isNotNull(obj);
			},
			jumpToSomeMemo: function () {
				this.setSelectedMemo(this.memo);
			},
			click_SaveCustomMemo: function (memo) {
				Loading();
				let parentMemo = this.section.memos[_.findIndex(this.section.memos, ['localId', memo.localId]) - 1];
				let customMemo = {
					Content: _.first(memo.letterContentControls).content,
					SecondaryLanguageContent: _.first(memo.letterContentControls).secondaryContent,
					AnchorMemoId: (parentMemo != null) ? parentMemo.id : 0, // Anchor memo
					Name: memo.name,
					ProjectId: this.projectId(),
					SectionId: this.section.id,
					JurisdictionalDataIds: this.jurisdictionalDataIds(memo.paging.map(x => x.jurisdictionId)),
					JurisdictionIds: memo.paging.map(x => x.jurisdictionId),
					Id: memo.id,
					OriginalVersionId: (parentMemo != null) ? parentMemo.originalVersionId : 0
				};
				api.saveCustomMemo(customMemo)
					.then(response => {
						memo.id = parseInt(response.data);
					})
					.finally(() => {
						DoneLoading();
					});
			},
			click_DeleteCustomMemo: function (memo) {
				Loading();
				api.deleteCustomMemo(memo.id)
					.finally(() => {
						this.$emit('removeCustomMemo', memo);
						DoneLoading();
					});
			},
			click_ToggleCustomMemoName: function (memo) {
				memo.editMode = !memo.editMode;
			},
			click_ShowMemoAssociation: function (memo) {
				const self = this;
				Loading();
				api.getMemoAssociations(memo.id)
					.then(response => {
						let associations = JSON.parse(response.data);
						this.memoAssociation.includedManufacturers = associations.manufacturers.filter(x => !x.notInclude).map(x => x.manufacturerId).join(', ');
						this.memoAssociation.includedJurisdictions = associations.jurisdictions.filter(x => !x.notInclude).map(x => x.jurisdiction).join(', ');
						this.memoAssociation.notIncludedManufacturers = associations.manufacturers.filter(x => x.notInclude).map(x => x.manufacturerId).join(', ');
						this.memoAssociation.notIncludedJurisdictions = associations.jurisdictions.filter(x => x.notInclude).map(x => x.jurisdiction).join(', ');
						this.memoAssociation.specialFlags = associations.specialFlags.join(', ');
						this.memoAssociation.idNumber = associations.idNumber.join(', ');
						this.memoAssociation.function = associations.function.join(', ');
						this.memoAssociation.questionBase = associations.questionBase;
						this.memoAssociation.memoID = associations.memoID;
						this.memoAssociation.letterContentID = associations.letterContentID;
						$(self.$refs.memoAssociations).modal('show');
					})
					.finally(() => {
						DoneLoading();
					});
			},
			handle__clickMemoLink: function () {
				window.open(this.memoAssociation.notesManagerLink());
			},
			click_copyToClipboard: function (memoId) {
				var tempInput = document.createElement("input");
				tempInput.style = "position: absolute; left: -1000px; top: -1000px";
				tempInput.value = memoId;
				document.body.appendChild(tempInput);
				tempInput.select();
				tempInput.setSelectionRange(0, 99999);
				document.execCommand("copy");
				var tooltip = document.getElementById('copyMemoToolTip' + memoId);
				tooltip.innerHTML = "Copied Memo Id: " + memoId;
				document.body.removeChild(tempInput);
			},
			toolTipOut: function (memoId) {
				var tooltip = document.getElementById('copyMemoToolTip' + memoId);
				tooltip.innerHTML = "Copy Memo Id to clipboard";
			},
			...letterGetters([
				'projectId'
			]),
			...mapActions([
				'jumpToMemo',
				'setSelectedMemo',
			])
		}
	}
</script>
<style scoped>
	.flex-container {
		display: flex;
	}

	.flex-container-end {
		display: flex;
		justify-content: flex-end;
	}

	.flex-item {
		flex: 1 1 auto;
	}

	.margin-left-three {
		margin-left: 3px;
	}

	.modal-dialog {
		width: fit-content;
	}

	.padlr0 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.memoIdTooltip {
		position: relative;
		display: inline-block;
	}

		.memoIdTooltip .memoIdTooltipText {
			visibility: hidden;
			width: 140px;
			background-color: #555;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			padding: 5px;
			position: absolute;
			z-index: 1;
			bottom: 150%;
			left: 50%;
			margin-left: -75px;
			opacity: 0;
			transition: opacity 0.3s;
		}

			.memoIdTooltip .memoIdTooltipText::after {
				content: "";
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: #555 transparent transparent transparent;
			}
</style>
