<template>
	<div class="row control-row">
		<div class="col-sm-12 control-column">
			<input @change="controlChanged" v-if="control.type.toUpperCase() === 'PLAINTEXT'" v-model="control.content" class="input-sm plainTextControl" @input="updateInput" type="text" :disabled="permissionSet.answerLockEngaged" />
			<textarea @change="controlChanged" v-if="control.type.toUpperCase() === 'TEXTAREA'" v-model="control.content" :disabled="permissionSet.answerLockEngaged"></textarea>
			<SelectMultipleWithModal v-if="control.type.toUpperCase() === 'MULTISELECT'"
									 @change="controlChanged"
									 @emitSelectedValues="selectedValues"
									 :options="control.options"
									 :modalheader="control.description"
									 v-model="control.selectedOptions"
									 :disabled="permissionSet.answerLockEngaged">
			</SelectMultipleWithModal>
			<SelectStandard @change="controlChanged" v-if="control.type.toUpperCase() === 'DROPDOWN'" :options="control.options" v-model="control.content" :disable="permissionSet.answerLockEngaged"></SelectStandard>
			<Lookup @change="controlChanged" v-if="control.type.toUpperCase() === 'LOOKUP'"
					:id="randomString() + control.localId"
					:name="control.label"
					:value="singleLookupId"
					:lookuptextfield="lookupTextField"
					:lookupajax="control.referenceLookup"
					:filter="control.lookupFilter"
					v-model="control.selectedOptions"
					@updateLookupTextField="UpdateLookupTextField"
					:disabled="permissionSet.answerLockEngaged" />
			<LookupMultiple v-if="control.type.toUpperCase() === 'LOOKUPMULTIPLE'"
							@textChange="textValueChange"
							:options="this.control.options"
							:lookupajax="control.referenceLookup"
							:value="control.selectedOptions"
							v-model="control.selectedOptions"
							:disabled="permissionSet.answerLockEngaged"></LookupMultiple>
			<!--<LookupMultipleWithModal v-if="control.type.toUpperCase() === 'LOOKUPMULTIPLE'"
							 @change="controlChanged"
							 @emitSelectedValues="selectedValues"
							 :options="this.control.options"
							 :modalheader="control.description"
							 :lookupajax="control.referenceLookup"
							 :value="control.selectedOptions" />-->
			<template v-if="control.type.toUpperCase() === 'HTML' && (permissionSet.answerLockEngaged && !permissionSet.editCustomMemosInQA)">
				<h2 style="color:red">Answer Lock Engaged</h2>
				<template v-if="control.content">
					<p v-html="control.content"></p>
				</template>
				<template v-else>
					<p>No content was provided, prior to answer lock engaging.</p>
				</template>
			</template>
			<template v-if="control.type.toUpperCase() === 'HTML' && (!permissionSet.answerLockEngaged || permissionSet.editCustomMemosInQA)">
				<wysiwyg @change="controlChanged" v-if="control.type.toUpperCase() === 'HTML'" class="htmlEditor" v-model="control.content" :disabled="permissionSet.answerLockEngaged"></wysiwyg>
			</template>

			<!--To show textrea for secondaryContent for custom memo-->
			<font v-if="control.type.toUpperCase() === 'HTML' && showSecondaryLanguage && memo.custom " style="color:grey;">
				<i>Secondary lanaguge note (below)</i>
			</font>
			<wysiwyg @change="controlChanged" v-if="control.type.toUpperCase() === 'HTML' &&  showSecondaryLanguage  && memo.custom && !permissionSet.answerLockEngaged" class="htmlEditor" v-model="control.secondaryContent"></wysiwyg>

			<DatePicker @change="controlChanged" v-if="control.type.toUpperCase() === 'DATEPICKER'" :id="randomString() + control.id" :name="control.label" :value="control.content" @input="UpdateDate" class="input-sm" :disabled="permissionSet.answerLockEngaged" />
			<div v-if="control.type.toUpperCase() === 'CHECKBOX'">
				<input @change="controlChanged" v-model="control.content" class="input-sm letter-generation__input_checkbox" type="checkbox" :disabled="permissionSet.answerLockEngaged" />
			</div>
			<div @change="controlChanged" v-if="control.type.toUpperCase() === 'STATIC'" v-html="control.content" />
			<TechnicalStandard @change="controlChanged" v-if="control.type == 'TECHNICALSTANDARD'" :label="control.label" :memo="memo" :disabled="permissionSet.answerLockEngaged"></TechnicalStandard>
			<div v-if="control.type == 'COMPONENTSEARCH'">
				<!-- this for now configued as to show as modal-->
				<a @click="reSetShowSearch(true)"><i class="fas fa-search"></i></a>
				<ComponentsSearch :showSearch="showComponentSearch"
								  :control="control"
								  @reSetShowSearch="reSetShowSearch"
								  @selected-components="componentsSelected"
								  :disabled="permissionSet.answerLockEngaged"></ComponentsSearch>
			</div>
			<div v-if="control.type.toUpperCase() === 'RADIO'">
				<label style="padding-right: 10px" v-for="item in control.options">
					<input type="radio" @change="controlChanged" v-model="control.content" :value="item.value" :disabled="permissionSet.answerLockEngaged" />
					{{ item.text }}
				</label>
			</div>
		</div>
		<div class="col-sm-12 control-column" v-if="control.type.toUpperCase() === 'MULTISELECT' || control.type.toUpperCase() === 'LOOKUPMULTIPLE'">
			<label>
				Multi-Select Delimiter Override (optional)
			</label>
			<SelectStandard @change="reDelimit"
							:options="delimiterOptions"
							v-model="control.optionDelimiter"
							:disabled="permissionSet.answerLockEngaged">
			</SelectStandard>
		</div>
		<div v-if="control.type.toUpperCase() === 'COMPONENTLIST'">
			<multiselect v-model="control.content"
						 placeholder="Select Component(s)"
						 track-by="id"
						 :options="components.map(x => { return {id: x.id, idNumber: x.idNumber, gameName: x.gameName, version: x.version}})"
						 :multiple="true"
						 :searchable="true"
						 :hide-selected="true"
						 :max-height="600"
						 :showNoResults="false"
						 :customLabel="({idNumber, gameName, version}) => `${idNumber} | ${gameName} | ${version}`"
						 @input="controlChanged"
						 :disabled="permissionSet.answerLockEngaged">
				<template slot="option" slot-scope="props">
					<div>
						<span>{{ `${props.option.idNumber} | ${props.option.gameName} | ${props.option.version}` }}</span>
					</div>
				</template>
			</multiselect>
		</div>
		<div v-if="control.type.toUpperCase() === 'PAYTABLESELECTOR'">
			<multiselect v-model="control.content"
						 placeholder="Select Component(s)"
						 track-by="id"
						 :options="paytables.map(x => { return {id: x.id, paytableId: x.paytableId}})"
						 :multiple="true"
						 :searchable="true"
						 :hide-selected="true"
						 :max-height="600"
						 :showNoResults="false"
						 :customLabel="({paytableId}) => `${paytableId}`"
						 @input="controlChanged"
						 :disabled="permissionSet.answerLockEngaged">
				<template slot="option" slot-scope="props">
					<div>
						<span>{{ `${props.option.paytableId}` }}</span>
					</div>
				</template>
			</multiselect>
		</div>
	</div>
</template>
<script>
	import Multiselect from "vue-multiselect";
	import { createNamespacedHelpers } from 'vuex';
	import api from '@/api/documents/generate';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import Lookup from '@/components/utility/Lookup.vue';
	import LookupMultiple from '@/components/utility/LookupMultiple.vue';
	import DatePicker from '@/components/utility/DatePicker.vue';
	import TechnicalStandard from '@/components/documents/generate/LetterQuestions/TechnicalStandard.vue';
	import ComponentsSearch from '@/components/utility/SearchComponents.vue';
	import LookupMultipleWithModal from '@/components/utility/LookupMultipleWithModal.vue';
	import SelectMultipleWithModal from '@/components/utility/SelectMultipleWithModal.vue'
	import Vue from 'vue';

	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	export default {
		name: 'Control',
		components: {
			SelectStandardMultiple,
			SelectStandard,
			Lookup,
			DatePicker,
			LookupMultiple,
			LookupMultipleWithModal,
			TechnicalStandard,
			ComponentsSearch,
			SelectMultipleWithModal,
			Multiselect
		},
		props: ['control', 'inTable', 'source', 'memo'],
		data: function () {
			return {
				lookupTextField: null,
				singleLookupId: null,
				showComponentSearch: false,
				showSplitSelection: false,
				contentLength: -1,
				delayTimer: 5000,
				timeOut: null,
				delimiterOptions: [
					{
						disabled: false,
						group: null,
						selected: false,
						text: "Comma without space",
						value: ","
					},
					{
						disabled: false,
						group: null,
						selected: false,
						text: "Comma",
						value: ", "
					},
					{
						disabled: false,
						group: null,
						selected: false,
						text: "Forward Slash",
						value: "/"
					},
					{
						disabled: false,
						group: null,
						selected: false,
						text: "Space Only",
						value: " "
					}
				],
				timeOut: null,
				oldDelimiter: null
			}
		},
		computed: {
			applyOtherMemos: function () {
				return this.otherMemosForControl(this.memo, this.control); // this is so that we can only apply same answers from Questions tab but if we want to to allow overwrite for diff memos, letter content tab can do it
			},
			showSecondaryLanguage: function () {
				let show = false;
				let self = this;
				this.letterPreviewJurisdictions.forEach(function (jur) {
					if (self.secondaryLanguageJurisdictions.includes(parseInt(jur.value))) { show = true; }
				})
				return show;
			},
			isSourceControl: {
				get: function () {
					return isNotNull(this.source);
				}
			},
			...mapGetters([
				'answersLoaded',
				'bundleLoaded',
				'letterPreviewJurisdiction',
				'letterPreviewJurisdictions',
				'secondaryLanguageJurisdictions',
				'permissionSet'
			]),
			...letterGetters([
				'controls',
				'componentIdMemos',
				'otherMemosForControl',
				'projectId',
			]),
			...sourceGetters([
				'components',
				'jurisdictionalDataIds',
				'paytables'
			])
		},
		methods: {
			textValueChange: function (val) {
				this.control.content = val.join(this.control.optionDelimiter);
				this.controlChanged();
			},
			reDelimit: function () {
				this.updateContent();
				this.controlChanged();
				this.oldDelimiter = this.control.optionDelimiter;
			},
			randomString: function () {
				return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
			},
			componentsSelected: function (selectedComps) {
				let contentText = "";
				selectedComps.forEach(function (comp) {
					contentText += "<b>Id Number: </b>" + comp.idNumber + "&nbsp;<b>Game Name: </b>" + comp.gameName + "&nbsp;<b>Version: </b>" + comp.version + "<br>";
				})
				this.control.content = contentText;
			},
			reSetShowSearch: function (val) {
				this.showComponentSearch = val;
			},
			//This is something from the ComponentsVGT.vue component, I'm not sure why it's needed, but I'll leave it here
			//just in case. It's currently not referenced anywhere...
			emitChange: function (event) {
				this.$emit('changeContent', this.source, this.control.label, this.source[this.control.label]);
			},
			controlChanged: async function () {
				let self = this;

				let jurs = [];

				// If the control has been saved, then it will have applicable jurisdictions.
				if (self.control.applicableJurisdictions.length > 0) {
					jurs = self.control.applicableJurisdictions;
				}
				// Else if the control does not have applicable jurisdictions then its never been saved before. In this case we need to check the memo to grab what jurisdictions this is for.
				else {
					if (self.memo.applicableJurisdictions.length === 0)
						jurs = self.letterPreviewJurisdictions.map(x => parseInt(x.value));
					else
						jurs = self.memo.applicableJurisdictions;
				}

				var jurList = self.source !== undefined ? self.associatedJurisdictionalData() : self.jurisdictionalDataIds(jurs);

				if (self.bundleLoaded && !self.memo.custom && jurList.length > 0) {
					var answer = {
						id: self.control.answerId,
						answerValue: self.control.content,
						secondaryAnswerValue: self.control.secondaryContent,
						questionId: self.control.id,
						delimiter: self.control.optionDelimiter,
						question: {
							id: self.control.id
						},
						jurisdictionalDataIds: jurList,
						breakoutUsed: self.control.isSplitFromDefault,
						sourceTargetId: self.source ? self.source.id : null,
						source: self.control.sourceId || null
					};

					if (self.control.splittable && (self.control.isGameDescription || self.control.isModification)) {
						// Get all memos relevant to this component(in this case it is the source) that has a control that is a game description.
						let memos = self.control.isGameDescription ? self.componentIdMemos(self.source.id).filter(m => m.letterContentControls.some(c => c.isGameDescription)) : self.componentIdMemos(self.source.id).filter(m => m.letterContentControls.some(c => c.isModification));
						let splits = [];

						// For each of the memos evaluate for content and jurisdiction splits.
						for (let i = 0; i < memos.length; i++) {
							// Get all of the relevant controls for all of the sourceItemTargets in this memo.
							// SourceItemTargets are a mechanism that is currently how game descriptiosn and mods can be answered diff for each component.
							// The Overall control / question is a delievery mechanism, but the actual values live in the sourceItemTargets collection.
							let relevantControls = memos[i].sourceItemTargets
								.filter(sit => sit.id === self.source.id && isNotNull(sit.letterContentControls) && sit.letterContentControls.length > 0)
								.selectMany(sit => sit.letterContentControls)
								.filter(control => isNotNull(control));

							let gatheredSplits = [];

							// The base or default control has applicable jurisdictions === 0
							// That is to say it is applicable to all jurisdictions that arent in other jurisdiction break out groups.
							// *** Might want to evaluate depending on the isSPlitFromDefault flag instead.
							let baseJurisdictionSet = [...relevantControls.filter(x => x.applicableJurisdictions.length === 0)];

							// This targets the relevant control for this split jurisdiction set.
							let splitJurisdictionSet = [...relevantControls.filter(x => _.isEqual([...x.applicableJurisdictions].sort(), [...jurs].sort()))]

							if (splitJurisdictionSet.length > 0) {
								gatheredSplits = [...relevantControls.filter(x => _.isEqual([...x.applicableJurisdictions].sort(), [...jurs].sort()))];

								let componentTarget = self.components.find(x => x.id == self.source.id);
								let juriDataTargets = componentTarget.jurisdictionalData.filter(({ jurisdictionId }) => gatheredSplits[0].applicableJurisdictions.includes(parseInt(jurisdictionId)));
								answer.applicableJurisdictions = gatheredSplits[0].applicableJurisdictions;
								answer.jurisdictionalDataIds = juriDataTargets.map(x => x.id);
							}
							else {
								gatheredSplits = [...baseJurisdictionSet];
							}

							splits.push(...gatheredSplits);
						}

						// This functions ultimate goal is to gather all of the answers a sourceTargetQuestion that have been "Content" split ( when content exceeds a page it splits ).
						// We only want to save the content as a whole and not its parts. So even though its visually split we want one row in the answer table.
						answer.answerValue = splits.map(x => x.content).join('');
					}

					if (self.control.type.toUpperCase() === 'COMPONENTLIST' || self.control.type.toUpperCase() === 'PAYTABLESELECTOR') {
						answer.answerValue = (answer.answerValue.length > 0) ? JSON.stringify(answer.answerValue) : null;
					}
					else if (self.control.type.toUpperCase() === 'MULTISELECT') {
						answer.answerValue = JSON.stringify(answer.answerValue.split(self.control.optionDelimiter));
					} else if (self.control.type.toUpperCase() === 'LOOKUPMULTIPLE') {
						let selectedvals = [];
						let vals = self.control.content.split(self.control.optionDelimiter);
						for (let i = 0; i < vals.length; i++) {
							let option = {
								Text: vals[i],
								Value: this.control.selectedOptions[i],
								Selected: true
							};
							if (option.Text) {
								selectedvals.push(option);
							}
						}
						answer.answerValue = selectedvals.length > 0 ? JSON.stringify(selectedvals) : null;
					} else if (self.control.type.toUpperCase() === 'LOOKUP') {
						if (self.control.content.id) {
							answer.answerValue = JSON.stringify({ Text: self.control.content.val, Value: self.control.content.id, Selected: true })
						}
					}

					if (!this.permissionSet.answerLockEngaged)
						await self.callSave(answer);

					// -- This code causes paging to evaluate on control change, it sometimes causes an infinite pagign loop ... idk

					//if (this.control.content.length > self.contentLength) {
					//	console.log('control.vue content changed growing');
					//	self.contentLength = self.control.content.length;
					//	self.$nextTick().then(() => self.setContentChangedMemoId(self.memo.localId));
					//	self.$nextTick().then(() => self.setContentChanged(1));

					//}
					//else if (self.control.content.length < self.contentLength) {
					//	console.log('control.vue content changed shrinking');
					//	self.contentLength = self.control.content.length;
					//	self.$nextTick().then(() => self.setContentChangedMemoId(self.memo.localId));
					//	self.$nextTick().then(() => self.setContentChanged(2));
					//}

					self.$nextTick().then(() => { self.$emit('triggerJump'); })
				}
			},
			callSave: async function (answer) {
				let self = this;
				this.$emit('saving');
				await api.saveAnswer(answer)
					.then(result => {
						if (result.data.error) {
							alert(result.data.msg);
							return;
						}
						self.control.answerId = result.data.answerId;
						self.$emit('updateSaveData', { answerId: result.data.answerId, savedOn: result.data.savedOn, savedBy: result.data.savedBy })
					});
			},
			updateInput: function (val) {
				this.$emit('input', {
					val: this.control.content,
					id: this.control.id,
					label: this.control.field,
					element: this.$el
				});
			},
			updateContent: function () {
				if (this.control.type.toUpperCase() === 'LOOKUPMULTIPLE') {
					if (isNotNull(this.oldDelimiter)) {
						let ret = "";
						let vals = this.control.content.split(this.oldDelimiter);
						for (let iter = 0; iter < vals.length; iter++) {
							if (iter > 0)
								ret += this.control.optionDelimiter;
							ret += vals[iter];
						}
						this.control.content = ret;
					}
				} else {
					let ret = "";
					for (let iter = 0; iter < this.control.selectedOptions.length; iter++) {
						if (iter > 0)
							ret += this.control.optionDelimiter;
						ret += this.control.selectedOptions[iter];
					}
					this.control.content = ret;
				}
				this.controlChanged();
			},
			UpdateDate: function (val) {
				this.control.content = val;
			},

			UpdateLookupTextField: function (val, id) {
				this.control.content = {
					val: val,
					id: id
				};
				this.lookupTextField = val;
				this.$emit('input', { val: val, id: id, label: this.control.field, element: this.$el });
			},
			selectedValues: function (obj) {
				if (obj) {
					if (obj.ids) {
						this.control.selectedOptions = obj.ids;
					}
					if (this.control.type.toUpperCase() === "LOOKUPMULTIPLE") {
						this.control.options = obj;
					} else if (obj.value && this.control.type.toUpperCase() === "MULTISELECT") {
						this.control.options.filter(x => obj.ids.indexOf(x.value) > -1).forEach(x => x.selected = true);
					}
					this.updateContent();
				}
			},
			debouncedCallSave: _.debounce(function (answer) {
				this.callSave(answer);
			}, 500),
			associatedJurisdictionalData: function () {
				let jurisdictionalDataList = null;
				let letterContentControl = this.source ? this.source.letterContentControls.find(x => x.localId === this.control.localId) : undefined;
				if (letterContentControl) {
					if (letterContentControl.applicableJurisdictions.length > 0) {
						jurisdictionalDataList = this.components
							.find(x => x.id === this.source.id)
							.jurisdictionalData.filter(function (item) {
								return letterContentControl.applicableJurisdictions.indexOf(parseInt(item.jurisdictionId)) > -1;
							})
							.map(x => x.id);
					} else {
						jurisdictionalDataList = this.components.find(x => x.id === this.source.id).jurisdictionalData.map(x => x.id);
					}
				}
				return jurisdictionalDataList;
			},
			...mapActions([
				'setContentChanged',
				'setContentChangedMemoId'
			])
		},
		created: function () {
			if (this.control.type.toUpperCase() === 'LOOKUP') {
				this.control.content = {
					id: this.control.options[0].text,
					val: this.control.options[0].value
				};
				this.control.selectedOptions = this.control.options[0].value;
				this.lookupTextField = this.control.options[0].text;
			} else if (this.control.type.toUpperCase() === 'LOOKUPMULTIPLE' || this.control.type.toUpperCase() === "MULTISELECT") {
				this.control.selectedOptions = _.filter(this.control.options, { 'selected': true }).map(x => x.value);
			} else if (this.control.type.toUpperCase() === 'CHECKBOX') {
				this.control.content = (this.control.content.toUpperCase() === 'TRUE')
			} else if (this.control.type.toUpperCase() === 'COMPONENTLIST') {
				this.control.content = JSON.parse(this.control.content);
			} else if (this.control.type.toUpperCase() === 'PAYTABLESELECTOR') {
				this.control.content = JSON.parse(this.control.content);
			}
		},
		mounted: function () {
			document.querySelectorAll('input.dz-hidden-input').forEach(function (elem) { elem.parentNode.removeChild(elem) });
			document.querySelectorAll('div.modal-backdrop.in').forEach(function (elem) { elem.parentNode.removeChild(elem) });
		},
		watch: {
			'control.applicableJurisdictions': function (newVal, oldVal) {
				this.controlChanged();
			},
			'control.content': function (newVal, oldVal) {

				if (this.contentLength === -1) {
					if (this.control.content !== null && this.control.content !== undefined) {
						this.contentLength = this.control.content.length;
					}
					else {
						this.contentLength = 0;
					}
				}

				//copy answers for same questions
				if (this.applyOtherMemos !== undefined) {
					let self = this;
					this.applyOtherMemos.forEach(function (otherMemo) {
						if (isNotNull(self.source) && !self.control.isGameDescription) {
							let sourceid = self.source.id;
							if (!self.control.isSplitFromDefault) {
								//check sourceId exists
								let sourceIdMemo = otherMemo.sourceItemTargets.find(x => x.id === sourceid);
								if (sourceIdMemo !== undefined) {
									let otherMemoControl = sourceIdMemo.letterContentControls.find(c => c.id === self.control.id && c.isSplitFromDefault === false);
									if (otherMemoControl !== undefined) {
										otherMemoControl.content = self.control.content;
									}
								}
							}
							else {
								let sourceIdMemo = otherMemo.sourceItemTargets.find(x => x.id === sourceid);
								if (sourceIdMemo !== undefined) {
									let otherMemoControl = sourceIdMemo.letterContentControls.find(c => c.id === self.control.id && (c.isSplitFromDefault === true && c.splitGroupApplicable.some(x => self.control.splitGroupApplicable.includes(x))));
									if (otherMemoControl !== undefined) {
										otherMemoControl.content = self.control.content;
									}
								}
							}
						}
						else {
							if (!self.control.isSplitFromDefault) {
								let otherMemoControl = otherMemo.letterContentControls.find(c => (c.id === self.control.id || c.tableRows.some(t => t.some(ti => ti.id === self.control.id))) && c.isSplitFromDefault === false);
								if (otherMemoControl !== undefined) {
									if (otherMemoControl.type.toUpperCase() === "TABLE") {
										let tableRowControl = otherMemoControl.tableRows.find(t => t.some(ti => ti.id === self.control.id))
										if (tableRowControl !== undefined) {
											tableRowControl.find(x => x.id === self.control.id).content = self.control.content;
										}
									}
									else {
										otherMemoControl.content = self.control.content;
									}
								}
							}
							else {
								let otherMemoControl = otherMemo.letterContentControls.find(c => (c.id === self.control.id || c.tableRows.some(t => t.some(ti => ti.id === self.control.id))) && (c.isSplitFromDefault === true && c.splitGroupApplicable.some(x => self.control.splitGroupApplicable.includes(x))));
								if (otherMemoControl !== undefined) {
									otherMemoControl.content = self.control.content;
								}
							}
						}
					});
				}
			}
		}
	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
	.htmlEditor {
		background-color: white;
	}

	.plainTextControl {
		width: 100%;
	}

	div.control-row {
		padding-left: 0;
		padding-right: 0;
	}
</style>

<style lang="scss" scoped>

	@use "@/components/theme/Colors";
	@use "@/components/theme/Spacing";

	.multiselect::v-deep {
		font-size: 1em;
		.multiselect__input, .multiselect__single

	{
		font-size: 0.9em;
		padding-left: 0;
	}

	.multiselect__tags {
		border: 2px solid Colors.$grayLight;
		border-radius: 4px;
		box-shadow: none;
		transition: border 0.1s;
		width: 100%;
		input

	{
		border: 0;
		box-shadow: none;
		padding: 0;
	}

	.multiselect__tag {
		background: Colors.$blueLight;
		color: Colors.$white;
	}

	.multiselect__tag-icon:focus,
	.multiselect__tag-icon:hover {
		background: Colors.$blueLight;
		color: Colors.$white;
	}

	.multiselect--active & {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-color: Colors.$blueLight;
	}

	}

	.multiselect__content-wrapper {
		border: 2px solid Colors.$grayLight;
		border-top: 0;
	}

	.multiselect__option--selected,
	.multiselect__option--selected::after {
		background: Colors.$grayLight;
		color: Colors.$grayDark;
		font-weight: normal;
	}

	.multiselect__option--highlight,
	.multiselect__option--highlight::after {
		background: Colors.$blueLight;
		color: Colors.$white;
	}
	}
</style>
