﻿<template>
	<div>
		&nbsp;&nbsp;
		<a title="Copy Answers to other similar items" @click="confirmCopy" class="letter-generation__tooltip"><i class="fas fa-clipboard"></i></a>
		<ComponentSelection :showSelection="showCompSelection" @copySelection="copySelection" @reSetShowSelection="reSetShowSelection"></ComponentSelection>
		&nbsp;&nbsp;
	</div>
</template>

<script>
	import Vue from 'vue';
	import { createNamespacedHelpers } from 'vuex';

	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import ComponentSelection from '@/components/documents/generate/Sources/Components/ComponentSelection.vue';

	export default {
		props: {
			sourceType: { // this is to say all items in this source
				type: String
			},
			currentSourceId: {
				type: Number,
			},
			controlToCopy: { // which control
				type: Object
			}
		},
		components: {
			ComponentSelection
		},
		data: function () {
			return {
				showCompSelection: false,
				copyToWhich: []
			}
		},
		created: function () {

		},
		computed: {
			sourceMemos: function () {
				let sourceType = (this.controlToCopy != null) ? this.controlToCopy.sourceId : this.sourceType;
				switch (sourceType) {
					case "Paytables":
						return this.paytables; // may need to be changed
					case "Components":
						return this.componentMemos;
					default:
						return [];
				}
			},
			...sourceGetters([
				'components',
				'paytables'
			]),
			...letterGetters([
				'componentMemos',
			]),
		},
		methods: {
			confirmCopy: function () {
				let self = this;
				let confirmMessage = "Are you sure you want to copy answer(s) to other items?"
				let sourceType = (this.controlToCopy != null) ? this.controlToCopy.sourceId : this.sourceType;
				if (sourceType == "Components") {
					//custom dialog

					var buttons = {
						cancel: {
							label: "Copy To All Components",
							callback: function () {
								self.copy();
							}
						},
						noclose: {
							label: "Component Selection",
							callback: function () {
								self.reSetShowSelection(true);
							}
						},
						ok: {
							label: "Cancel",
							callback: function () {

							}
						}
					}

					var dialog = bootbox.dialog({
						title: 'Confirmation!!',
						message: confirmMessage + " If you need to make selection, please click 'Component Selection'.",
						size: 'large',
						buttons: buttons
					});
				}
				else {
					bootbox.confirm(confirmMessage, function (result) {
						self.copy();
					});
				}
			},
			copy: function () {
				for (let i = 0; i < this.sourceMemos.length; i++) {
					let source = this.sourceMemos[i].sourceItemTargets;
					let currentSource = source.find(x => x.id == this.currentSourceId);
					if (currentSource != undefined) {
						let copyTo = source.filter(x => x.id != currentSource.id);
						if (this.copyToWhich.length > 0) { //Copy to selected source items
							copyTo = copyTo.filter(s => this.copyToWhich.includes(s.id));
						}

						//which controls to copy
						let sourceControlsCopy = currentSource.letterContentControls;
						if (this.controlToCopy != null) {
							sourceControlsCopy = sourceControlsCopy.filter(c => c.id == this.controlToCopy.id);
						}

						//loop and copy to all source
						for (let i = 0; i < sourceControlsCopy.length; i++) { // all controls for source
							for (let c = 0; c < copyTo.length; c++) { //components
								let findControl = copyTo[c].letterContentControls.find(control => control.id == sourceControlsCopy[i].id && (control.isSplitFromDefault == sourceControlsCopy[i].isSplitFromDefault))
								findControl.content = sourceControlsCopy[i].content;
							}
						}
					}
				}
			},
			copySelection: function (selection) {
				this.copyToWhich = selection;
				this.copy();
			},
			reSetShowSelection: function (val) {
				this.showCompSelection = val;
			},

		},
		watch: {

		}
	}
</script>
<style>
</style>