﻿<template>
	<div>
		<div class="letter-generation__quick-nav__container ">
			<div class="letter-generation__quick-nav__wrapper letter-generation__quick-nav">
				<WorkSpaceQuickNav :quickNavSectionObjs="quickNavSectionObjs"></WorkSpaceQuickNav>
			</div>
			<div class="letter-generation__quick-nav__content">
				<div v-for="(section, index) in letterContent.sections.filter((sec) => sec.name !== 'Letter Details')"
					 class="row">
					<div class="col-lg-12">
						<Section v-bind:section="section" v-bind:review="false"></Section>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import Section from '@/components/documents/generate/LetterQuestions/Section.vue';
	import WorkSpaceQuickNav from '@/components/documents/generate/LetterQuestions/WorkSpaceQuickNav.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	export default {
		name: 'CoversheetData',
		components: {
			Section,
			WorkSpaceQuickNav
		},
		props: ['letterCollapsed'],
		data: function () {
			return {

			}
		},
		computed: {
			...letterGetters([
				'letterContent',
				'fileNumber',
				'workSpaceSectionIcons'
			]),
			quickNavSectionObjs: function () {
				return this.letterContent.sections
					.map(x => {
						return {
							title: x.name,
							targetID: x.name,
							fontAwesomeIcon: this.workSpaceSectionIcons.some(y => y.name.trim().toUpperCase() === x.name.toUpperCase()) ?
								this.workSpaceSectionIcons.find(y => y.name.trim().toUpperCase() === x.name.toUpperCase()).fontAwesomeIcon : 'fa-edit'
						}
					});
			}
		},
		methods: {
		}
	}
</script>
<style scoped>
	.letter-generation__quick-nav__container {
		display: flex;
	}

	.letter-generation__quick-nav__wrapper {
		height: 100%;
		width: 40px;
		float: left;
		position: sticky;
	}

	.letter-generation__quick-nav__content {
		height: 100%;
		width: calc(100% - 40px);
		float: right;
		position: relative;
	}
</style>
