﻿<template>
	<div class="container-fluid">
		<div v-for="(section, index) in letterContent.sections.filter((sec) => sec.name === 'Letter Details')">
			<Section v-bind:section="section" v-bind:review="false"></Section>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	import Section from '@/components/documents/generate/LetterQuestions/Section.vue';

	export default {

		name: 'LetterDetail',
		components: {
			Section
		},
		data() {
			return {

			}
		},
		props: ['letterCollapsed'],
		computed: {

			...mapGetters([
			]),
			...letterGetters([
				'letterContent'
			])


		},
		methods: {
			...mapActions([

			])
		},
		mounted: function () {

		}
	}
</script>
<style scoped>
	.coversheet {
		background-color: brown;
	}

	.mathDisplay {
		background-color: lightgreen;
	}
</style>
