﻿<template>
	<div class="container-fluid">
		<div v-for="(control,j) in nonComponentQuestion">
			<Question class="letter-input-control-component"
					  :control="control"
					  :memo="modListMemo"
					  >
			</Question>
		</div>
		<div v-if="modListMemo !== undefined && modListMemo !== null" 
			 :class="[selectedMemo.localId == modListMemo.localId && selectedMemo.sourceId == modListMemo.sourceId && selectedMemo.sourceProperty == modListMemo.sourceProperty ? 'row letter-generation__highlighted' : 'row']">
			<span title="Jump to memo in Letter Preview." class="pull-right"><i @click="jumpToSomeMemo()" :class="['far', 'fa-2x', 'fa-eye', 'letter-generation__tooltip']"></i>&nbsp;&nbsp;</span>
			<br />
			<ComponentQuestion :controlLabel="'ModificationList'" :controlDescription="'Modifications'" :isModifications="true"></ComponentQuestion>
		</div>
		<div v-if="modListMemo === undefined  || modListMemo === null">
			<h2 class="letter-generation__border-leftRight">No Mod Items Exist</h2>
		</div>
	</div>
</template>

<script>
	import Vue from 'vue';
	import { createNamespacedHelpers } from 'vuex';
	import ComponentQuestion from '@/components/documents/generate/LetterQuestions/ComponentQuestion.vue';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import Question from '@/components/documents/generate/LetterQuestions/Question.vue';

	export default {
		props: {

		},
		components: {
			ComponentQuestion,
			Question
		},
		data: function () {
			return {
			}
		},
		created: function () {

		},
		methods: {
			jumpToSomeMemo: function () {
				this.setSelectedMemo(this.modListMemo);
			},
			...mapActions([
				'jumpToMemo',
				'setSelectedMemo',
			])
		},
		computed: {
			modListMemo: function () {
				return this.memos.find(x => x.isModification);
			},
			nonComponentQuestion: function () {
				var modMemos = this.memos.find(x => x.isModification);
				if (modMemos !== undefined && modMemos !== null) {
					return modMemos.letterContentControls.filter(x => x.sourceId === null || x.sourceId === "");
				}
				return [];
				
			},
			...letterGetters([
				'memos'				
			]),
			...mapGetters([
				'selectedMemo'
			])
		},
		watch: {

		}
	}
</script>
<style>
</style>