﻿<template>
	<div class="letter-generation__question">
		<div v-if="control.type.toUpperCase() === 'PLAINTEXT' || control.type.toUpperCase() === 'TEXTAREA'" class="container-fluid">
			<div class="row padded-control-solo">
				<div class="control-description">
					<div class="col-sm-10">
						<div :class="getClass(control)">
							<i v-if="saveWarning" class="fas fa-times-circle">Answer not saved.</i>
							<i v-if="saving" class="fas fa-exclamation-triangle">Saving</i>
							<i v-if="control.savedBy !== ''" class="fas fa-check-circle" :title="'Last saved on ' + control.savedOn + ' by '+ control.savedBy "></i>
							{{ control.description }}
						</div>
						<div v-if="applyToOtherMemos.length > 0  && control.splitGroupApplicable.length == 0" class="applyMultipleMemos">&nbsp;&nbsp;<small>Click <i class="fas fa-th-list"></i> to view memo applicable jurisdictions</small></div>
						<div v-else class="applyJurisdictionDisplayText pull-left" :title="showApplyJurText">&nbsp;&nbsp;<small class="custom-blue"><i>Applies to </i><span><i>{{ showApplyJurText }}</i></span></small></div>
					</div>
					<div class="col-sm-2">
						<div class="pull-right" v-if="belongsToMemos">
							&nbsp;<a href="#" :title="'Click to View ' + memo.name" @click="click_SetSelectedMemo(memo)" class="letter-generation__tooltip"><i class="fas fa-location-arrow"></i></a>
						</div>
						<div class="padr0  pull-right" v-if="!isAlreadySplitControl && (allowSplit) && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip" title="Split the question for jurisdiction"><i class="fas fa-copy"></i></span>
						</div>
						<div class="padr0  pull-right" v-if="isAlreadySplitControl && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip"><i class="fas fa-pencil-alt"></i></span>
						</div>
						<div v-if="allowCopyAll && !permissionSet.departmentLockEngaged" class="pull-right">
							<CopyAll :controlToCopy="control" :currentSourceId="source.id" :sourceType="control.sourceId">></CopyAll>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 padr0 padd5">
					<Control @updateSaveData="updateSaveData" @saving="setSaving" @triggerJump="triggerJump" :control="control" :inTable="false" :source="source" :memo="memo"></Control>
				</div>
			</div>
		</div>
		<div v-else-if="control.type.toUpperCase() === 'TABLE'" class="container-fluid">
			<div class="row">
				<div class="col-sm-12 padding-top-15">
					<div class="panel panel-primary">
						<div class="letter-generation__panel__heading-no-hover">
							<div class="row">
								<div class="col-sm-11">
									<h4 class="letter-generation__panel__heading__title">
										{{ control.name }}
										<span v-if="applyToOtherMemos.length > 0 && control.splitGroupApplicable.length == 0 && displayDistinctQuestionsTab" class="applyMultipleMemos"><small>Click <i class="fas fa-th-list"></i> to view memo applicable jurisdictions</small></span>
										<span v-else class="applyJurisdictionDisplayText"
											  :title="showApplyJurText"><small class="custom-blue letter-generation__color-white">(<i>Applies to </i><strong><span><i>{{ showApplyJurText }}</i> )</span></strong></small></span>

									</h4>
									<h5 class="control-description-dark-background">
										{{ control.description }}
									</h5>
								</div>
								<div class="col-sm-1">
									<span v-if="!isAlreadySplitControl && (allowSplit) && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
										<span @click="reSetShowSplit(true)"
											  class="letter-generation__tooltip-white" title="Split the question for jurisdiction"><i class="fas fa-copy"></i></span>
									</span>
									<span v-if="isAlreadySplitControl && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
										<span @click="reSetShowSplit(true)"
											  class="letter-generation__tooltip-white"><i class="fas fa-pencil-alt"></i></span>
									</span>
									<span v-if="belongsToMemos">
										&nbsp;<a href="#" :title="'Click to View ' + memo.name" @click="click_SetSelectedMemo(memo)"><i class="fas fa-location-arrow" style="color:white"></i></a>
									</span>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div v-for="tableCol in control.tableRows[0]"
									 :class="rowColumnHeaderClass(control.tableRows[0])">
									{{ tableCol.columnHeader }}
								</div>
							</div>
							<div v-for="(tableRow, index) in control.tableRows"
								 :class="['row', 'customTableRow', (control.tableRows.length > 1 && index < (control.tableRows.length - 1)) ? 'dynamicTableRowBottomBorder' : '']">
								<div v-for="(tableCol, columnIndex) in tableRow" :class="rowColumnClass(tableRow)">
									<Control @updateSaveData="updateSaveData" 
											 @saving="setSaving"
											 @triggerJump="triggerJump"
											 :control="tableCol"
											 :columnIndex="columnIndex"
											 :tableRow="tableRow"
											 :inTable="true"
											 :source="source"
											 :memo="memo"></Control>
								</div>
								<div class="col-sm-1">
									<div class="row addRowButton">
										<div class="col-sm-12 float-right">
											<i @click="addRow(tableRow)"
											   class="fas fa-plus-circle letter-generation__tooltip" title="Split the question for jurisdiction"></i>
										</div>
									</div>
									<div class="row removeRowButton">
										<div class="col-sm-12 float-right">
											<i @click="deleteRow(tableRow)" class="fas fa-trash-alt letter-generation__tooltip"></i>
										</div>
									</div>
									<!--<button @click="addRow(tableRow)">Add Row</button>-->
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-else-if="control.type.toUpperCase() === 'CHECKBOX'" class="container-fluid">
			<div class="row padded-control-solo">
				<div class="control-description">
					<div class="col-sm-10">
						<div :class="getClass(control)">
							<i v-if="saveWarning" class="fas fa-times-circle">Answer not saved.</i>
							<i v-if="saving" class="fas fa-exclamation-triangle">Saving</i>
							<i v-if="control.savedBy !== ''" class="fas fa-check-circle" :title="'Last saved on ' + control.savedOn + ' by '+ control.savedBy "></i>
							{{ control.description }}
						</div>
						<div v-if="allowCopyAll && !permissionSet.departmentLockEngaged">
							<CopyAll :controlToCopy="control" :currentSourceId="source.id" :sourceType="control.sourceId">></CopyAll>
						</div>
						<div v-if="applyToOtherMemos.length > 0 && control.splitGroupApplicable.length == 0 && displayDistinctQuestionsTab" class="applyMultipleMemos"><small>Click <i class="fas fa-th-list"></i> to view memo applicable jurisdictions</small></div>
						<div v-else class="applyJurisdictionDisplayText pull-left" :title="showApplyJurText">&nbsp;&nbsp;<small class="custom-blue"><i>Applies to </i><span><i>{{ showApplyJurText }}</i></span></small></div>
					</div>
					<div class="col-sm-2">
						<div class="pull-right" v-if="belongsToMemos">
							&nbsp;<a href="#" :title="'Click to View ' + memo.name" @click="click_SetSelectedMemo(memo)" class="letter-generation__tooltip"><i class="fas fa-location-arrow"></i></a>
						</div>
						<div class="padr0  pull-right" v-if="!isAlreadySplitControl && (allowSplit) && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip" title="Split the question for jurisdiction"><i class="fas fa-copy"></i></span>
						</div>
						<div class="padr0  pull-right" v-if="isAlreadySplitControl && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip"><i class="fas fa-pencil-alt"></i></span>
						</div>

					</div>
				</div>
			</div>
			<div class="row pull-left">
				<div class="padr0 col-sm-12 padd5">
					<Control @updateSaveData="updateSaveData" @saving="setSaving" @triggerJump="triggerJump" :control="control" :inTable="false" :source="source" :memo="memo"></Control>
				</div>
			</div>
		</div>
		<div v-else-if="control.type.toUpperCase() === 'MULTISELECT' || control.type.toUpperCase() === 'DROPDOWN' || control.type.toUpperCase() === 'LOOKUPMULTIPLE'" class="container-fluid">
			<div class="row padded-control-solo">
				<div class="control-description">
					<div class="col-sm-10 ">
						<div :class="getClass(control)">
							<i v-if="saveWarning" class="fas fa-times-circle">Answer not saved.</i>
							<i v-if="saving" class="fas fa-exclamation-triangle">Saving</i>
							<i v-if="control.savedBy !== ''" class="fas fa-check-circle" :title="'Last saved on ' + control.savedOn + ' by '+ control.savedBy "></i>
							{{ control.description }}
						</div>
						<div v-if="applyToOtherMemos.length > 0 && control.splitGroupApplicable.length == 0 && displayDistinctQuestionsTab" class="applyMultipleMemos"><small>Click <i class="fas fa-th-list"></i> to view memo applicable jurisdictions</small></div>
						<div v-else class="applyJurisdictionDisplayText pull-left" :title="showApplyJurText">&nbsp;&nbsp;<small class="custom-blue"><i>Applies to </i><span><i>{{ showApplyJurText }}</i></span></small></div>
					</div>
					<div class="col-sm-2">
						<div class="pull-right" v-if="belongsToMemos">
							&nbsp;<a href="#" :title="'Click to View ' + memo.name" @click="click_SetSelectedMemo(memo)"><i class="fas fa-location-arrow"></i></a>
						</div>
						<div class="pull-right padr0 " v-if="!isAlreadySplitControl && (allowSplit) && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip" title="Split the question for jurisdiction"><i class="fas fa-copy"></i></span>
						</div>
						<div class="pull-right padr0 " v-if="isAlreadySplitControl && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip"><i class="fas fa-pencil-alt"></i></span>
						</div>
						<div class="pull-right" v-if="allowCopyAll && !permissionSet.departmentLockEngaged">
							<CopyAll :controlToCopy="control" :currentSourceId="source.id" :sourceType="control.sourceId">></CopyAll>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="padr0 col-sm-6 letter-generation__dropdown_padding">
						<Control @updateSaveData="updateSaveData" @triggerJump="triggerJump" @saving="setSaving" :control="control" :inTable="false" :source="source" :memo="memo"></Control>
					</div>
				</div>
			</div>

		</div>
		<div v-else-if="control.type.toUpperCase() === 'HTML'" class="container-fluid">
			<div class="row" v-if="!memo.custom">
				<div class="col-lg-12">
					<span :class="getClass(control)">
						<i v-if="saveWarning" class="fas fa-times-circle">Answer not saved.</i>
						<i v-if="saving" class="fas fa-exclamation-triangle">Saving</i>
						<i v-if="control.savedBy !== ''" class="fas fa-check-circle" :title="'Last saved on ' + control.savedOn + ' by '+ control.savedBy "></i>
						{{ control.description }}
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="pull-right" v-if="belongsToMemos">
						&nbsp;<a href="#" :title="'Click to View ' + memo.name" @click="click_SetSelectedMemo(memo)" class="letter-generation__tooltip"><i class="fas fa-location-arrow"></i></a>
					</div>
					<div class="padr0  pull-right" v-if="!isAlreadySplitControl && (allowSplit) && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
						&nbsp;&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip" title="Split the question for jurisdiction"><i class="fas fa-copy"></i></span>
					</div>
					<div class="padr0  pull-right" v-if="isAlreadySplitControl && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
						&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip"><i class="fas fa-pencil-alt"></i></span>
					</div>
					<div class="pull-right">
						<span v-if="control.isModification" title="Search for Components" style="cursor:pointer">
							<a @click="reSetShowSearch(true)" class="letter-generation__tooltip"><i class="fas fa-search"></i></a>
							<ComponentsSearch :showSearch="showComponentSearch" :control="control" @selected-components="componentsSelected" @reSetShowSearch="reSetShowSearch"></ComponentsSearch>
						</span>
					</div>
					<div v-if="allowCopyAll && !permissionSet.departmentLockEngaged" class="pull-right">
						<CopyAll :controlToCopy="control" :currentSourceId="source.id" :sourceType="control.sourceId"></CopyAll>
					</div>
					<div class="pull-right">
						<span v-if="applyToOtherMemos.length > 0 && control.splitGroupApplicable.length == 0 && displayDistinctQuestionsTab" class="letter-generation__tooltip applyMultipleMemos"><small>Click <i class="fas fa-th-list"></i> to view memo applicable jurisdictions</small></span>
					</div>
					<div>
						<span class="applyJurisdictionDisplayText"><small><i>Applies to </i><span><i>{{ showApplyJurText }}</i></span></small></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<Control @updateSaveData="updateSaveData" @saving="setSaving" @triggerJump="triggerJump" :control="control" :inTable="false" :source="source" :memo="memo"></Control>
					<div v-if="memo.custom && !permissionSet.departmentLockEngaged">
						<SelectStandardMultiple :id="'EditJurisdiction' + control.localId"
												name="EditJurisdiction"
												:options="letterPreviewJurisdictions"
												v-model="editJurisdiction"
												:value="editJurisdiction"
												@input="updateJurisdiction($event, memo)">
						</SelectStandardMultiple>
					</div>
				</div>
			</div>
		</div>
		<div v-else-if="control.type.toUpperCase() === 'DATEPICKER'" class="container-fluid">
			<div class="row padded-control-solo">
				<div class="control-description">
					<div class="col-sm-11 ">
						<span :class="getClass(control)">
							<i v-if="saveWarning" class="fas fa-times-circle">Answer not saved.</i>
							<i v-if="saving" class="fas fa-exclamation-triangle">Saving</i>
							<i v-if="control.savedBy !== ''" class="fas fa-check-circle" :title="'Last saved on ' + control.savedOn + ' by '+ control.savedBy "></i>
							{{ control.description }}
						</span>
						<div v-if="allowCopyAll && !permissionSet.departmentLockEngaged">
							<CopyAll :controlToCopy="control" :currentSourceId="source.id" :sourceType="control.sourceId">></CopyAll>
						</div>
						<span v-if="applyToOtherMemos.length > 0 && control.splitGroupApplicable.length == 0 && displayDistinctQuestionsTab" class="applyMultipleMemos"><small>Click <i class="fas fa-th-list"></i> to view memo applicable jurisdictions</small></span>
						<span v-else class="applyJurisdictionDisplayText" :title="showApplyJurText">&nbsp;&nbsp;<small class="custom-blue"><i>Applies to </i><span><i>{{ showApplyJurText }}</i></span></small></span>
					</div>
					<div class="col-sm-1">
						<div class="pull-right" v-if="belongsToMemos">
							&nbsp;<a href="#" :title="'Click to View ' + memo.name" @click="click_SetSelectedMemo(memo)" class="letter-generation__tooltip"><i class="fas fa-location-arrow"></i></a>
						</div>
						<div class="pull-right  " v-if="!isAlreadySplitControl && (allowSplit) && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip" title="Split the question for jurisdiction"><i class="fas fa-copy"></i></span>
						</div>
						<div class="pull-right padr0 " v-if="isAlreadySplitControl && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip"><i class="fas fa-pencil-alt"></i></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 padr0 letter-generation__dropdown_padding">
						<Control @updateSaveData="updateSaveData" @saving="setSaving" @triggerJump="triggerJump" :control="control" :inTable="false" :source="source" :memo="memo"></Control>
					</div>
				</div>
			</div>
		</div>
		<div v-else-if="control.type.toUpperCase() === 'LOOKUP'" class="container-fluid">
			<div class="row padded-control-solo">
				<div class="control-description">
					<div class="col-sm-11 ">
						LOOKUP
						<span :class="getClass(control)">
							<i v-if="saveWarning" class="fas fa-times-circle">Answer not saved.</i>
							<i v-if="saving" class="fas fa-exclamation-triangle">Saving</i>
							<i v-if="control.savedBy !== ''" class="fas fa-check-circle" :title="'Last saved on ' + control.savedOn + ' by '+ control.savedBy "></i>
							{{ control.description }}
						</span>
						<i title="If any of the information from this is wrong, contact your manager" class="fas fa-question-circle"></i>
						<div v-if="allowCopyAll && !permissionSet.departmentLockEngaged">
							<CopyAll :controlToCopy="control" :currentSourceId="source.id" :sourceType="control.sourceId">></CopyAll>
						</div>
						<span v-if="applyToOtherMemos.length > 0 && control.splitGroupApplicable.length == 0 && displayDistinctQuestionsTab" class="applyMultipleMemos"><small>Click <i class="fas fa-th-list"></i> to view memo applicable jurisdictions</small></span>
						<span v-else class="applyJurisdictionDisplayText" :title="showApplyJurText">&nbsp;&nbsp;<small class="custom-blue pull-left"><i>Applies to </i><span><i>{{ showApplyJurText }}</i></span></small></span>
					</div>
					<div class="col-sm-1">
						<div class="pull-right" v-if="belongsToMemos">
							&nbsp;<a href="#" :title="'Click to View ' + memo.name" @click="click_SetSelectedMemo(memo)" class="letter-generation__tooltip"><i class="fas fa-location-arrow"></i></a>
						</div>
						<div class="pull-right padr0 " v-if="!isAlreadySplitControl && (allowSplit) && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<a @click="reSetShowSplit(true)" class="letter-generation__tooltip" title="Split the question for jurisdiction"><i class="fas fa-copy"></i></a>
						</div>
						<div class="pull-right padr0 " v-if="isAlreadySplitControl && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<a @click="reSetShowSplit(true)" class="letter-generation__tooltip"><i class="fas fa-pencil-alt"></i></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 padr0 letter-generation__dropdown_padding">
						<Control @updateSaveData="updateSaveData" @saving="setSaving" @triggerJump="triggerJump" :control="control" :inTable="false" :source="source" :memo="memo"></Control>
					</div>
				</div>
			</div>
		</div>
		<div v-else-if="control.type.toUpperCase() === 'TECHNICALSTANDARD'" class="container-fluid">
			<div class="row padded-control-solo">
				<div class="col-sm-12">
					<!-- setting a hard coded filter for now, this will need to update with jur and manuf id-->
					<Control @updateSaveData="updateSaveData" @saving="setSaving" @triggerJump="triggerJump" :control="control" :inTable="false" :source="source" :memo="memo"></Control>
				</div>
			</div>
		</div>
		<div v-else-if="control.type.toUpperCase() === 'RADIO'" class="container-fluid">
			<div class="row padded-control-solo">
				<div class="control-description">
					<div class="col-sm-10">
						<div :class="getClass(control)">
							<i v-if="saveWarning" class="fas fa-times-circle">Answer not saved.</i>
							<i v-if="saving" class="fas fa-exclamation-triangle">Saving</i>
							<i v-if="control.savedBy !== ''" class="fas fa-check-circle" :title="'Last saved on ' + control.savedOn + ' by '+ control.savedBy "></i>
							{{ control.description }}
						</div>
						<div v-if="applyToOtherMemos.length > 0  && control.splitGroupApplicable.length == 0" class="applyMultipleMemos">&nbsp;&nbsp;<small>Click <i class="fas fa-th-list"></i> to view memo applicable jurisdictions</small></div>
						<div v-else class="applyJurisdictionDisplayText pull-left" :title="showApplyJurText">&nbsp;&nbsp;<small class="custom-blue"><i>Applies to </i><span><i>{{ showApplyJurText }}</i></span></small></div>
					</div>
					<div class="col-sm-2">
						<div class="pull-right" v-if="belongsToMemos">
							&nbsp;<a href="#" :title="'Click to View ' + memo.name" @click="click_SetSelectedMemo(memo)" class="letter-generation__tooltip"><i class="fas fa-location-arrow"></i></a>
						</div>
						<div class="padr0  pull-right" v-if="!isAlreadySplitControl && (allowSplit) && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip" title="Split the question for jurisdiction"><i class="fas fa-copy"></i></span>
						</div>
						<div class="padr0  pull-right" v-if="isAlreadySplitControl && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip"><i class="fas fa-pencil-alt"></i></span>
						</div>
						<div v-if="allowCopyAll && !permissionSet.departmentLockEngaged" class="pull-right">
							<CopyAll :controlToCopy="control" :currentSourceId="source.id" :sourceType="control.sourceId">></CopyAll>
						</div>
					</div>
				</div>
			</div>
			<div class="row pull-left">
				<div class="padr0 col-sm-12 padd5">
					<Control @updateSaveData="updateSaveData" @saving="setSaving" @triggerJump="triggerJump" :control="control" :inTable="false" :source="source" :memo="memo"></Control>
				</div>
			</div>
		</div>
		<div v-else-if="control.type.toUpperCase() === 'COMPONENTLIST'" class="container-fluid">
			<div class="row padded-control-solo">
				<div class="control-description">
					<div class="col-sm-10">
						<div :class="getClass(control)">
							<i v-if="saveWarning" class="fas fa-times-circle">Answer not saved.</i>
							<i v-if="saving" class="fas fa-exclamation-triangle">Saving</i>
							<i v-if="control.savedBy !== ''" class="fas fa-check-circle" :title="'Last saved on ' + control.savedOn + ' by '+ control.savedBy "></i>
							{{ control.description }}
						</div>
						<div v-if="applyToOtherMemos.length > 0  && control.splitGroupApplicable.length == 0" class="applyMultipleMemos">&nbsp;&nbsp;<small>Click <i class="fas fa-th-list"></i> to view memo applicable jurisdictions</small></div>
						<div v-else class="applyJurisdictionDisplayText pull-left" :title="showApplyJurText">&nbsp;&nbsp;<small class="custom-blue"><i>Applies to </i><span><i>{{ showApplyJurText }}</i></span></small></div>
					</div>
					<div class="col-sm-2">
						<div class="pull-right" v-if="belongsToMemos">
							&nbsp;<a href="#" :title="'Click to View ' + memo.name" @click="click_SetSelectedMemo(memo)" class="letter-generation__tooltip"><i class="fas fa-location-arrow"></i></a>
						</div>
						<div class="padr0  pull-right" v-if="!isAlreadySplitControl && (allowSplit) && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip" title="Split the question for jurisdiction"><i class="fas fa-copy"></i></span>
						</div>
						<div class="padr0  pull-right" v-if="isAlreadySplitControl && !permissionSet.departmentLockEngaged && !permissionSet.answerLockEngaged">
							&nbsp;<span @click="reSetShowSplit(true)" class="letter-generation__tooltip"><i class="fas fa-pencil-alt"></i></span>
						</div>
						<div v-if="allowCopyAll && !permissionSet.departmentLockEngaged" class="pull-right">
							<CopyAll :controlToCopy="control" :currentSourceId="source.id" :sourceType="control.sourceId">></CopyAll>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 padr0 padd5">
					<Control @updateSaveData="updateSaveData" @saving="setSaving" @triggerJump="triggerJump" :control="control" :inTable="false" :source="source" :memo="memo"></Control>
				</div>
			</div>
		</div>
		<div v-else-if="control.type.toUpperCase() === 'PAYTABLESELECTOR'" class="container-fluid">
			<div class="row padded-control-solo">
				<div class="control-description">
					<div class="col-sm-10">
						<div :class="getClass(control)">
							<i v-if="saveWarning" class="fas fa-times-circle">Answer not saved.</i>
							<i v-if="saving" class="fas fa-exclamation-triangle">Saving</i>
							<i v-if="control.savedBy !== ''" class="fas fa-check-circle" :title="'Last saved on ' + control.savedOn + ' by '+ control.savedBy "></i>
							{{ control.description }}
						</div>
						<div v-if="applyToOtherMemos.length > 0  && control.splitGroupApplicable.length == 0" class="applyMultipleMemos">&nbsp;&nbsp;<small>Click <i class="fas fa-th-list"></i> to view memo applicable jurisdictions</small></div>
						<div v-else class="applyJurisdictionDisplayText pull-left" :title="showApplyJurText">&nbsp;&nbsp;<small class="custom-blue"><i>Applies to </i><span><i>{{ showApplyJurText }}</i></span></small></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 padr0 padd5">
					<Control @updateSaveData="updateSaveData" @saving="setSaving" @triggerJump="triggerJump" :control="control" :inTable="false" :source="source" :memo="memo"></Control>
				</div>
			</div>
		</div>
		<div v-else>Control Type Not Supported. Please put in a Track-IT denoting this message. Control type: {{ control.type }}</div>
		<template v-if="allowSplit">
			<SplitSelection :showSplitSelection="showSplitSelection" :control="control" :memo="memo" :source="source" @reSetShowSplit="reSetShowSplit"></SplitSelection>
		</template>

	</div>
</template>
<script>

	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');

	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue';
	import SelectStandard from '@/components/utility/SelectStandard.vue';
	import Control from '@/components/documents/generate/LetterQuestions/Control.vue';
	import SplitSelection from '@/components/documents/generate/LetterQuestions/SplitSelection.vue';

	import CopyAll from '@/components/documents/generate/LetterQuestions/CopyToAll.vue';
	import ComponentsSearch from '@/components/utility/SearchComponents.vue';


	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	export default {
		name: 'Question',
		components: {
			SelectStandardMultiple,
			SelectStandard,
			Control,
			SplitSelection,
			CopyAll,
			ComponentsSearch
		},
		data() {
			return {
				showSplitSelection: false,
				showComponentSearch: false,
				lastSaveDate: '',
				lastSavedBy: '',
				editJurisdiction: [],
				saving: false,
				saveWarning: false
			}
		},
		props: {
			control: {
				required: true
			},
			source: {
				required: false
			},
			memo: {
				required: true
			},
			displayDistinctQuestionsTab: {
				required: false,
				type: Boolean
			},
			belongsToMemos: {
				required: false,
				type: Boolean
			}
		},
		computed: {
			allowCopyAll: function () {
				return (this.control.sourceId === "Components") ? true : false; // turn if needed for any other components
			},
			allowSplit: function () {
				return ((this.control.sourceId !== 'ClauseReports' && this.control.sourceId !== 'Paytables' && !this.memo.custom) ? true : false);
			},
			isAlreadySplitControl: function () {
				return (this.control.isSplitFromDefault);
			},
			applyToOtherMemos: function () {
				return this.otherMemosForControl(this.memo, this.control); // this is so that we can only apply same answers from Questions tab but if we want to to allow overwrite for diff memos, letter content tab can do it
			},
			showApplyJurText: function () {
				let jurApplicable = this.letterPreviewJurisdictions.map(x => x.value);
				//check if any source level
				if (isNotNull(this.control.sourceId) && this.control.sourceId != '') {
					let sourceApplicable = this.getSourceApplicableJurs();
					if (sourceApplicable.length > 0) {
						jurApplicable = sourceApplicable;
					}
				}
				//memo level
				if (isNotNull(this.memo.applicableJurisdictions) && this.memo.applicableJurisdictions.length > 0) {
					jurApplicable = this.memo.applicableJurisdictions
				}
				//over write split level
				if (this.displayDistinctQuestionsTab && this.control.splitGroupApplicable.length > 0) {
					jurApplicable = this.control.splitGroupApplicable;
				}
				else if (this.control.applicableJurisdictions.length > 0) {
					jurApplicable = this.control.applicableJurisdictions;
				}

				let finalTxt = this.showApplicableJurisdictions(jurApplicable);

				return finalTxt;
			},
			isControlRequired: function () {
				if (this.control.type == "Lookup") {
					let selVal = (this.control.content != null) ? (this.control.content).id : ""
					return (Em((selVal))) 
				}
				else {
					return (this.control.isRequired && Em(this.control.content));
				}
			},
			...mapGetters([
				'letterPreviewJurisdiction',
				'letterPreviewJurisdictions',
				'showApplicableJurisdictions',
				'permissionSet'
			]),
			...sourceGetters([
				'components'
			]),
			...letterGetters([
				'controls',
				'otherMemosForControl'
			]),
		},
		methods: {
			triggerJump: function () {
				this.$emit('triggerJump');
			},
			getClass: function (control) {
				let controlClass = 'pull-left'
				controlClass += (this.isControlRequired) ? ' control-required ' : '';
				controlClass += control.parentId !== 0 && control.parentId !== null && !this.isControlRequired ? ' nestedQuestions-color nestedQuestions-fontstyle ' : '';
				controlClass += control.parentId !== 0 && control.parentId !== null && this.isControlRequired ? ' nestedQuestions-fontstyle ' : '';
				return controlClass;
			},
			getSourceApplicableJurs: function () {
				if (this.control.sourceId == "Components") {
					let componentId = this.source.id;
					let compJurs = this.components.find(x => x.id == componentId).jurisdictionalData.map(x => x.jurisdictionId);
					return compJurs
				}
				else {
					return [];
				}
			},
			componentsSelected: function (selectedComps) {
				let contentText = "";
				selectedComps.forEach(function (comp) {
					contentText += "<b>Id Number: </b>" + comp.idNumber + "&nbsp;<b>Game Name: </b>" + comp.gameName + "&nbsp;<b>Version: </b>" + comp.version + "<br>";
				})
				this.control.content = contentText;
			},
			reSetShowSearch: function (val) {
				this.showComponentSearch = val;
			},
			reSetShowSplit: function (val) {
				if (this.control.parentId === 0) {
					this.showSplitSelection = val;
				}
				else {
					let parentControlDesc = this.controls.find(c => c.id === this.control.parentId).description;
					bootbox.alert("Please modify Jurisdictions selection through parent question (<b>" + parentControlDesc + "</b>).")
				}
			},
			rowColumnClass: function (row) {
				let len = row.length;
				let div = Math.floor(11 / len);
				if (div === 0) div = 1;
				return "col-sm-" + div;
			},
			rowColumnHeaderClass: function (row) {
				let len = row.length;
				let div = Math.floor(11 / len);
				if (div === 0) div = 1;
				return "table-heading col-sm-" + div;
			},
			updateContent: function () {
				let ret = "";
				for (let iter = 0; iter < this.control.selectedOptions.length; iter++) {
					if (iter > 0)
						ret += this.control.optionDelimiter;
					ret += this.control.selectedOptions[iter];
				}
				this.control.content = ret;
			},
			updateSaveData: function (obj) {
				this.saving = false;
				if (obj.answerId !== 0) {
					this.saveWarning = false;
					this.control.savedBy = obj.savedBy;
					this.control.savedOn = obj.savedOn;
				}
				else {
					this.saveWarning = true;
				}
			},
			signalShrink: function () {
				this.$nextTick().then(() => this.memo.contentChanged = generateGuid());
				this.$nextTick().then(() => this.setContentChangedMemoId(this.memo.localId));
				this.$nextTick().then(() => this.setContentChanged(2));

			},
			signalGrowth: function () {
				this.$nextTick().then(() => this.memo.contentChanged = generateGuid());
				this.$nextTick().then(() => this.setContentChangedMemoId(this.memo.localId));
				this.$nextTick().then(() => this.setContentChanged(1));

			},
			addRow: function (tableRow) {
				let cloned = JSON.parse(JSON.stringify(tableRow));
				cloned.forEach(column => column.localId = generateGuid());
				let tableRowIndex = this.control.tableRows.indexOf(tableRow);
				let rowCount = this.control.tableRows.length;
				if (tableRowIndex === (rowCount - 1)) {
					this.control.tableRows.push(cloned);
				} else {
					tableRowIndex++;
					this.control.tableRows.splice(tableRowIndex, 0, cloned);
				}
				this.signalGrowth();

				let self = this;
				//if the same question applies to other memo
				if (this.applyOtherMemos !== undefined) {
					this.applyOtherMemos.forEach(function (otherMemo) {
						let whichControl = otherMemo.letterContentControls.some(c => c.id === self.control.id);
						whichControl.tableRows = [];
						whichControl.tableRows.push(this.control.tableRows);
					})
				}
			},
			deleteRow: function (tableRow) {
				if (this.control.tableRows.length > 1) {
					let tableRowIndex = this.control.tableRows.indexOf(tableRow);
					this.control.tableRows.splice(tableRowIndex, 1);
				}
				else {
					this.control.tableRows.forEach((row) => {
						row.forEach((col) => {
							col.content = "";
						});
					});
				}
				this.signalShrink();

				let self = this;
				//if the same question applies to other memo
				if (this.applyOtherMemos !== undefined) {
					this.applyOtherMemos.forEach(function (otherMemo) {
						let whichControl = otherMemo.letterContentControls.some(c => c.id === self.control.id);
						whichControl.tableRows = [];
						whichControl.tableRows.push(this.control.tableRows);
					})
				}
			},
			click_SetSelectedMemo: function (memo) {
				this.setSelectedMemo(memo);
			},
			updateJurisdiction: function (value, memo) {
				this.updateJurisdictionSelection({ value: value, memo: memo });
			},
			setSaving: function () {
				this.saving = true;
			},
			...mapActions([
				//'setMechanismOptions'
				'setContentChanged',
				'setContentChangedMemoId',
				'setSelectedMemo',
				'updateJurisdictionSelection'
			])
		},
		created: function () {
			this.editJurisdiction = _.cloneDeep(this.memo.applicableJurisdictions);
		}
	}
</script>
<style scoped>

	.control-required {
		color: #f00 ;
	}

	.panel-heading {
		background-color: #60B3CE;
	}

	.table-heading {
		font-weight: bold;
		color: #3b638c;
	}

	.control-description {
		color: black;
		font-weight: bold;
	}

	.control-description-dark-background {
		color: #f2f2f2;
	}

	.htmlEditor {
		background-color: midnightblue; /*white;*/
	}

	.addRowButton {
		color: blue;
		font-size: 15px;
	}

	.removeRowButton {
		color: red;
		font-size: 15px;
	}

	.dynamicTableRowBottomBorder {
		border-bottom: groove 1px;
		border-bottom-color: dimgrey;
	}

	.padded-control-bottom {
		padding: 0px 6px 6px 6px; /*top right bottom left*/
	}

	.padded-control-middle {
		padding: 0px 6px 0px 6px; /*top right bottom left*/
	}

	.padded-control-solo {
		padding: 6px 0px 6px 0px;
	}

	.no-padding {
		padding: 0px 0px 0px 0px;
	}

	.customTableRow {
		/*padding: 6px 4px 6px 6px; top right bottom left*/
	}

	.applyMultipleMemos {
		color: #8d8d8d;
		display: block;
	}

	.applyJurisdictionDisplayText {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #083358;
		display: block;
		width: 600px;
	}

	.nestedQuestions {
		color: slategrey;
		font-style: italic;
	}

	.nestedQuestions-color {
		color: slategrey;
	}

	.nestedQuestions-fontstyle {
		font-style: italic;
	}

	.letter-generation__html-card {
		background-color: white;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		transition: 0.5s;
		border-radius: 5px;
		height: 100%;
		margin: 8px;
		padding: 20px 15px 15px 15px;
	}

	.padd5 {
		padding-bottom: 5px;
	}

	.padding-top-15 {
		padding-top: 15px;
	}

	.custom-blue {
		color: #083358;
	}
</style>
