﻿<template>
	<div class="container-fluid">
		<div v-for="(memoId,index) in memosForDistinctQuestions">
			<div v-if="getMemo(memoId) === null || getMemo(memoId) === undefined">
				<!--<h2 class="letter-generation__border-leftRight">
					Can not find the memo for {{memoId}}, value might be null in DB
				</h2>-->
			</div>
			<div v-if="getMemo(memoId) !== null && getMemo(memoId) !== undefined">
				<div>
					<h2 class="letter-generation__border-leftRight">{{ getMemo(memoId).name }}</h2> &nbsp;
					<div class="memoIdTooltip">
						<span class="letter-generation__tooltip" @click="click_copyToClipboard( getMemo(memoId).id )" @mouseout="toolTipOut(getMemo(memoId).id )">
							<span class="memoIdTooltipText" :id="'copyMemoToolTip' + getMemo(memoId).id">Copy Memo ID to clipboard</span>
							<i class="far fa-clipboard"></i>
						</span>
					</div>
				</div>
				<div v-for="(question,index) in belongMemoQuestions(memoId)">
					<div v-for="(control,index) in getMemo(memoId).letterContentControls.filter(q => q.id === question.id)">
						<!--<div v-if="belongsMemos(question.id)[0].include === true">-->
						<div v-if="control.parentId === 0 || (control.parentId !== 0 && evalParentVal(control))">
							<div v-if="!control.isSplitFromDefault">
								<span v-if="belongsMemos(question.id).length > 1" class="text-warning"><br />&nbsp;&nbsp;&nbsp;<span v-tooltip:bottom="getMemoList(question.id)"><i class="fas fa-exclamation-triangle"></i> Below question belongs to multiple memos</span></span>
								<div class="dropdown pull-right" v-if="belongsMemos(question.id).length > 1">
									<a href="#" class="btn dropdown-toggle" data-toggle="dropdown" title="Click to View Memo"><i class="fas fa-th-list"></i>&nbsp;&nbsp;</a>
									<ul class="dropdown-menu">
										<li v-for="(memo,index) in belongsMemos(question.id)"><a href="#" @click="click_SetSelectedMemo(memo)"><span v-if="memo.applicableJurisdictions.length > 0" :title="'Applies To ' + showApplicableJursText(memo)" style="cursor:pointer"><i class="fas fa-info-circle"></i></span> {{memo.name}}</a></li>
									</ul>
								</div>
							</div>
							<br />
							<div :class="[belongsMemos(question.id).some(x => x.localId === selectedMemo.localId && x.sourceId === selectedMemo.sourceId && x.sourceProperty === selectedMemo.sourceProperty) ? 'row letter-generation__highlighted' : 'row', {'child-control': control.parentId}]">
								<Question :control="control"
										  :memo="getMemo(memoId)"
										  :displayDistinctQuestionsTab="true"
										  :belongsToMemos="belongsMemos(question.id).length === 1">
								</Question>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Vue from 'vue';
	Vue.directive('tooltip', function (el, binding) {
		$(el).tooltip({
			title: binding.value,
			placement: binding.arg,
			trigger: 'hover'
		})
	})
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import Question from '@/components/documents/generate/LetterQuestions/Question.vue';

	export default {
		props: {

		},
		components: {
			Question
		},
		data: function () {
			return {
			}
		},
		created: function () {

		},
		computed: {
			questions: function () {
				let questions = [];
				let self = this;
				if (isNotNull(this.controls) && this.controls.length > 0) {
					this.controls.forEach(control => {
						if (!questions.find(q => q.id === control.id)) { // only unique questions
							let memoHolder = self.memos.find(m => m.localId === control.memoLocalId);
							if (memoHolder === undefined && self.currentMemoSet != 'PDF Preview') {
								memoHolder = self.filteredMemosByJur[self.letterPreviewJurisdiction][self.currentMemoSet].find(m => m.localId === control.memoLocalId);
								//memoHolder = self.filteredMemos[self.currentMemoSet].find(m => m.localId === control.memoLocalId);
							}
							let memoName = memoHolder === undefined ? '' : memoHolder.name;
							if ((control.sourceId === null || control.sourceId === "") && (memoName != "Coverpage" && memoName != "Custom")) {// not source and not coverpage questions
								questions.push(control);
							}
						}
					});
					return questions;
				}
				else {
					return [];
				}
			},
			memosForDistinctQuestions: function () {
				let memos = []
				this.questions.forEach(control => {
					if (!memos.includes(control.memoLocalId)) {
						memos.push(control.memoLocalId);
					}
				})
				return memos;
			},
			...letterGetters([
				'memos',
				'controls',
				'filteredMemos',
				'currentMemoSet',
				'filteredMemosByJur'
			]),
			...mapGetters([
				'letterPreviewJurisdiction',
				'selectedMemo',
				'showApplicableJurisdictions'
			])
		},
		methods: {
			showApplicableJursText: function (memo) {
				return this.showApplicableJurisdictions(memo.applicableJurisdictions);
			},
			belongsMemos: function (controlId) {
				let memos = this.memos.filter(m => m.letterContentControls.find(c => c.id === controlId)); //how many total memos a question belongs
				return memos;
			},
			belongMemoQuestions: function (memoLocalId) {
				return this.questions.filter(m => m.memoLocalId === memoLocalId);
			},
			click_SetSelectedMemo: function (memo) {
				this.setSelectedMemo(memo);
			},
			evalParentVal: function (control) {
				let parentControl = this.controls.find(c => c.id === control.parentId && c.isSplitFromDefault == false);
				if (control.isSplitFromDefault) {
					parentControl = this.controls.find(c => c.id === control.parentId && (c.applicableJurisdictions.find(x => control.applicableJurisdictions.includes(x))));
				}
				let result = parentControl.content;
				let evalExp = true;
				try {
					evalExp = eval(control.conditionalExpression);
				}
				catch (err) {
					console.groupCollapsed('We should probably tell the user this conditionalExpression failed.');
					console.log(err);
					console.log(control);
					console.groupEnd();
				}
				return (evalExp) ? true : false;
			},
			getMemoList: function (controlId) {
				let list = []
				let memoList = this.belongsMemos(controlId)
				memoList.forEach(memo => {
					if (!list.includes(memo.name)) { //to avoid cloned memos to show up
						list.push(memo.name);
					}
				});
				let listNames = ''
				list.forEach(name => {
					listNames += name + "\n"
				});
				return listNames;
			},
			jumpToSomeMemo: function () {

			},
			click_copyToClipboard: function (memoId) {

				var tempInput = document.createElement("input");
				tempInput.style = "position: absolute; left: -1000px; top: -1000px";
				tempInput.value = memoId;
				document.body.appendChild(tempInput);
				tempInput.select();
				tempInput.setSelectionRange(0, 99999);
				document.execCommand("copy");
				var tooltip = document.getElementById('copyMemoToolTip' + memoId);
				tooltip.innerHTML = "Copied Memo Id: " + memoId;
				document.body.removeChild(tempInput);
			},
			toolTipOut: function (memoId) {
				var tooltip = document.getElementById('copyMemoToolTip' + memoId);
				tooltip.innerHTML = "Copy Memo Id to clipboard";
			},
			...mapActions([
				'jumpToMemo',
				'setSelectedMemo',
			]),
			getMemo: function (memoId) {
				var myMemo = this.memos.find(x => x.localId === memoId);
				if (myMemo === undefined && this.currentMemoSet !== 'PDF Preview' ) {
					myMemo = this.filteredMemos[this.currentMemoSet].find(x => x.localId === memoId);
				}
				else if (myMemo === undefined && this.currentMemoSet === 'PDF Preview') {
					Object.keys(this.filteredMemos).forEach(key => {
						let potentialMemo = this.filteredMemos[key].find(x => x.localId === memoId);
						if (potentialMemo !== undefined) {
							myMemo = potentialMemo;
						}
					})
				}
				return myMemo;
			}
		},
		watch: {

		}
	}
</script>
<style>
	.child-control {
		margin-left: 10px;
	}


	.memoIdTooltip {
		position: relative;
		display: inline-block;
	}

		.memoIdTooltip .memoIdTooltipText {
			visibility: hidden;
			width: 140px;
			background-color: #555;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			padding: 5px;
			position: absolute;
			z-index: 1;
			bottom: 150%;
			left: 50%;
			margin-left: -75px;
			opacity: 0;
			transition: opacity 0.3s;
		}

			.memoIdTooltip .memoIdTooltipText::after {
				content: "";
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: #555 transparent transparent transparent;
			}

		.memoIdTooltip:hover .memoIdTooltipText {
			visibility: visible;
			opacity: 1;
		}
</style>