﻿<template>
	<div v-bind:id="section.name"
		 v-if="isNotNull(section)"
		 :class="['letter-generation__section-card']">
		<div v-if="isNotNull(section.name) "
			 :class="['letter-generation__section-card__name', 'letter-generation__border-leftRight']"
			 v-html="section.name"></div>
		<div class="section-icon"><i :class="['fas', sectionHeaderIcon, 'fa-2x']"></i></div>
		<hr v-if="isNotNull(section.name) " />
		<div v-if="isNotNull(section.memos)">
			<div v-for="(someMemo, index) in this.section.memos"
				 :class="[someMemo.include ? 'letter-generation__memo' : 'letter-generation__memo-disabled']"
				 :key="someMemo.localId"
				 class="letter-generation__section-card">
				<Content v-if="isNotNull(someMemo)" :memo="someMemo" :section="section" @removeCustomMemo="removeCustomMemo"></Content>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGenGetters } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	import Content from '@/components/documents/generate/LetterQuestions/Content.vue';
	import { isNull } from '@/common';
	import { isNotNull } from '@/common';


	export default {
		name: 'Section',
		components: {
			Content
		},
		props: ['section', 'review'],
		data() {
			return {
				sectionHeaderIcon: ''
			};
		},
		methods: {
			isNull: function (obj) {
				return isNull(obj);
			},
			isNotNull: function (obj) {
				return isNotNull(obj);
			},
			...mapActions([
			]),
			removeCustomMemo: function (memo) {
				this.section.memos.splice(this.section.memos.indexOf(memo), 1);
			}
		},
		computed: {
			isDragging() {
				return this.dragging > -1
			},
			//Accounts for the case where a memo is split by Jurisdiction (etc)
			uniqueMemos: function () {
				const result = [];
				const map = new Map();
				for (const memo of this.section.memos) {
					if (!map.has(memo.id)) {
						map.set(memo.id, true);    // set any value to Map
						result.push(memo);
					}
				}
				return result;
			},
			...mapGetters([

			]),
			...letterGenGetters([
				'jurisdictionalDataIds'
			]),
			...letterGetters(['workSpaceSectionIcons'])
		},
		mounted: function () {
			this.sectionHeaderIcon = this.workSpaceSectionIcons.some(x => x.name.trim().toUpperCase() === this.section.name.trim().toUpperCase()) ? this.workSpaceSectionIcons.find(x => x.name.trim().toUpperCase() === this.section.name.trim().toUpperCase()).fontAwesomeIcon : 'fa-edit';
		},
		watch: {

		},
		created: function () {
		}
	}
</script>

<style scoped>
	div.section-icon {
		color: #0F4471;
		display: inline;
	}
</style>
