﻿<template>
	<div class="modal" ref="SplitSelection" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-info">
						Split question for selected Jurisdictions
						<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>
				<div class="modal-body">
					<div class="row" v-show="allowModify">
						<div class="col-sm-12">
							<span class="pull-right">[<a href="#" @click="removeSelection">Remove Selection</a>]</span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<template v-if="control.isGameDescription || control.isModification">
								<SelectStandardMultiple :id="'JurisdictionsSel' + control.localId" :name="'JurisdictionsSel' +  control.localId" v-model="workingJurSelection" :value="workingJurSelection" :options="availableGameDescriptionAndModificationJurisdictions"></SelectStandardMultiple>
							</template>
							<template v-else-if="applyOtherMemos === undefined">
								<SelectStandardMultiple :id="'JurisdictionsSel' + control.localId" :name="'JurisdictionsSel' +  control.localId" v-model="workingJurSelection" :value="workingJurSelection" :options="availableJurisdictionsForSplit(this.sourceItem)"></SelectStandardMultiple>
							</template>
							<template v-else>
								<SelectStandardMultiple :id="'JurisdictionsSel' + control.localId" :name="'JurisdictionsSel' +  control.localId" v-model="workingJurSelection" :value="workingJurSelection" :options="availableJurisdictionsForSplitWithOtherMemos"></SelectStandardMultiple>
							</template>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary btn-sm" @click="split" v-if="allowToSplit">Create</a>
					<a class="btn btn-primary btn-sm" @click="modify" v-if="allowModify">Modify</a>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import Vue from 'vue';
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	import SelectStandardMultiple from '@/components/utility/SelectStandardMultiple.vue';

	import { isNull } from '@/common';
	import { isNotNull } from '@/common';

	export default {
		name: 'SplitSelection',
		components: {
			SelectStandardMultiple
		},
		props: {
			showSplitSelection: {
				type: Boolean
			},
			control: {
				type: Object
			},
			memo: {
				type: Object
			},
			source: {
				type: Object
			},
		},
		data() {
			return {
				jurSelection: []
			}
		},
		computed: {
			workingJurSelection: {
				get: function () {
					return this.jurSelection;
				},
				set: function (sel) {
					let ret = [];
					if (isNotNull(sel) && sel.length > 0) {
						ret = sel.map(jur => parseInt(jur));
					}
					this.jurSelection = ret;
				}
			},
			applyOtherMemos: function () {
				return (this.memo !== null) ? this.otherMemosForControl(this.memo, this.control) : undefined; // this is so that we can only apply same answers from Questions tab but if we want to to allow overwrite for diff memos, letter content tab can do it
			},
			applyChildControls: function () {
				let self = this;
				let allChildControls = [];
				let childControls = (this.memo !== null) ? this.memo.letterContentControls.filter(c => c.parentId === this.control.id) : undefined;
				if (childControls !== undefined) { // find all child controls
					let hasChildControls = (childControls.length > 0) ? true : false;
					while (hasChildControls) {
						allChildControls.push(...childControls);
						let allChildControlIds = childControls.map(x => x.id);
						childControls = self.memo.letterContentControls.filter(c => allChildControlIds.includes(c.parentId))
						hasChildControls = (childControls.length > 0) ? true : false;
					}
					//check if all has same grouping
					let finalChildList = []
					allChildControls.forEach(function (childControl) {
						if (JSON.stringify(childControl.splitGroupApplicable) == JSON.stringify(self.control.splitGroupApplicable)) {
							finalChildList.push(childControl);
						}
					});
					return finalChildList;
				} else {
					return childControls;
				}
			},
			sourceItem: function () {
				return (isNull(this.source) ? this.memo : this.source);
			},
			allowModify: function () {
				return (this.control.applicableJurisdictions.length > 0 && this.control.isSplitFromDefault);
			},
			allowToSplit: function () {
				return (!this.control.isSplitFromDefault || this.control.applicableJurisdictions.length === 0);
			},
			availableJurisdictionsForSplitWithOtherMemos: function () {
				let self = this;
				let finalList = this.letterPreviewJurisdictions;
				if (this.memo.applicableJurisdictions !== undefined) {
					if (this.memo.applicableJurisdictions.length > 0) {
						let allAvailable = [];
						this.letterPreviewJurisdictions.forEach(function (obj) {
							if (self.memo.applicableJurisdictions.includes(parseInt(obj.value))) {
								allAvailable.push(obj);
							}
						});
						finalList = allAvailable;
					}
				}

				//if the same question's answer applies to other memos, add jurs that do no exist in list.
				if (this.applyOtherMemos !== undefined) {
					if (this.applyOtherMemos.length > 0) { //Display master list that list all the jurisdictions for all memos
						this.applyOtherMemos.forEach(function (memo) {
							if (memo.applicableJurisdictions.length > 0) {
								self.letterPreviewJurisdictions.forEach(function (obj) {
									if (memo.applicableJurisdictions.includes(parseInt(obj.value)) && !finalList.find(j => j.value === obj.value)) {
										finalList.push(obj);
									}
								});
							}
							else {
								finalList = self.letterPreviewJurisdictions; // set it to all since one of the memo needs to display all
								return finalList;
							}
						});
					}
				}

				return finalList;
			},
			availableGameDescriptionAndModificationJurisdictions: function () {
				let finalList = this.letterPreviewJurisdictions;
				let targetedControl = this.sourceItem.letterContentControls.find(x => x.localId === this.control.localId);
				if (!targetedControl.isSplitFromDefault || targetedControl.applicableJurisdictions.length == 0 && this.sourceItem.letterContentControls.length === 1) {
					return finalList;
				}
				else {
					if (targetedControl.applicableJurisdictions.length == 0) {
						let currSplits = [... new Set(this.sourceItem.letterContentControls.flatMap(x => x.applicableJurisdictions))];
						return finalList.filter(({ value }) => !currSplits.includes(parseInt(value)));
					}
					else if (targetedControl.applicableJurisdictions.length == 1) {
						return finalList.find(x => parseInt(x.value) === targetedControl.applicableJurisdictions[0]);
					}
					else {
						return finalList.filter(({ value }) => targetedControl.applicableJurisdictions.includes(parseInt(value)));
					}
				}

			},
			...mapGetters([
				'letterPreviewJurisdictions',
				'workspaceJurisdictions'
			]),
			...letterGetters([
				'controls',
				'otherMemosForControl'
			])
		},
		validations: {

		},
		methods: {
			diffOfArray: function (arr1, arr2) {
				var newArr = arr1.concat(arr2);
				return newArr.filter(function (i) {
					return newArr.indexOf(i) === newArr.lastIndexOf(i);
				});
			},
			availableJurisdictionsForSplit: function (sourceItem) {
				let self = this;
				let finalList = [];
				if (this.memo.applicableJurisdictions !== undefined) {
					if (this.memo.applicableJurisdictions.length > 0) {
						let allAvailable = [];
						this.letterPreviewJurisdictions.forEach(function (obj) {
							if (self.memo.applicableJurisdictions.includes(parseInt(obj.value))) {
								allAvailable.push(obj);
							}
						});
						finalList = allAvailable;
					}
					else {
						finalList = this.letterPreviewJurisdictions;
					}
				}
				else {
					finalList = this.letterPreviewJurisdictions;
				}
				return finalList;
			},
			checkIfJurSplitExists: function (jurselection, sourceItem) {
				let jurSplitsExists = [];
				let jurSplit = [];
				let controls = sourceItem.letterContentControls;
				for (let i = 0; i < jurselection.length; i++) {
					if (controls.find(c => c.id === this.control.id && c.localId !== this.control.localId && c.isSplitFromDefault && c.applicableJurisdictions.some(jur => jur === jurselection[i])) !== undefined) {
						jurSplitsExists.push(jurselection[i]);
					}
					else {
						jurSplit.push(jurselection[i]);
					}
				}
				//Check if default is left with one jur
				let allSplitJurisdictions = [];
				let allSplitQuestions = controls.filter(x => x.id === this.control.id && x.isSplitFromDefault === true);
				allSplitQuestions.forEach(function (obj) {
					Array.prototype.push.apply(allSplitJurisdictions, obj.applicableJurisdictions);
				});

				let allAvailable = []
				$.each(this.availableJurisdictionsForSplit(sourceItem), function (index, item) { allAvailable.push(parseInt(item.value)) });
				let availableToSplit = this.diffOfArray(allAvailable, jurSplit);
				if (availableToSplit.length === 0) {
					bootbox.alert("Following Jurisdictions can not be split for selected question.You must have one Jurisdiction for a question.");
					jurSplit = [];
				}
				else if (jurSplitsExists.length > 0) {
					let jurName = ''
					for (let i = 0; i < jurSplitsExists.length; i++) {
						var jurDisplay = this.letterPreviewJurisdictions.find(x => x.value === jurSplitsExists[i]);
						if (jurDisplay !== undefined) {
							if (Em(jurName)) {
								jurName = jurDisplay;
							}
							else {
								jurName += ", " + jurDisplay;
							}
						}
					}
					bootbox.alert("Following Jurisdiction(s) already have been split for selected question.<br>" + jurName);
				}
				return jurSplit;
			},
			adjustDefaultQuestionApplicableJurs: function (sourceItem, control) {

				//get default question
				let defaultQuestion = sourceItem.letterContentControls.find(x => x.id === control.id && x.isSplitFromDefault === false);
				let allSplitQuestions = sourceItem.letterContentControls.filter(x => x.id === control.id && x.isSplitFromDefault === true);
				let allSplitJurisdictions = [];
				allSplitQuestions.forEach(function (obj) {
					Array.prototype.push.apply(allSplitJurisdictions, obj.applicableJurisdictions);
				});
				//find what jurs are not split
				let notSplitJurisdictionIds = [];
				let notSplitJurisdictions = this.availableJurisdictionsForSplit(sourceItem).filter(x => !allSplitJurisdictions.includes(parseInt(x.value)));
				notSplitJurisdictions.forEach(function (obj) {
					notSplitJurisdictionIds.push(parseInt(obj.value));
				});
			
				defaultQuestion.applicableJurisdictions = notSplitJurisdictionIds;
				
			},
			split: function (e) {
				console.log('split')
				let self = this;
				let finalJurSelection = this.checkIfJurSplitExists(this.jurSelection, this.sourceItem);
				if (finalJurSelection.length > 0) {
					let payload = { memo: this.memo, control: this.control, jur: finalJurSelection, vm: this, source: self.source };
					this.splitQuestion(payload);
					this.adjustDefaultQuestionApplicableJurs(this.sourceItem, this.control);

					// other same control in diff memo
					this.splitOtherMemos(this.control, finalJurSelection);

					//child controls
					if (this.applyChildControls !== undefined) {
						this.applyChildControls.forEach(function (control) {
							let payload = { memo: self.memo, control: control, jur: finalJurSelection, vm: this, source: self.source };
							self.splitQuestion(payload);
							self.adjustDefaultQuestionApplicableJurs(self.sourceItem, control);

							// other same control in diff memo
							self.splitOtherMemos(control, finalJurSelection);
						})
					}
				}
				this.$emit('reSetShowSplit', false);
				$(this.$refs.SplitSelection).modal('hide');
			},
			splitOtherMemos: function (control, finalJurSelection) {
				let self = this;
				if (this.applyOtherMemos !== undefined) {
					let applyToSource = self.source;
					this.applyOtherMemos.forEach(function (otherMemo) {
						let otherMemoControl = otherMemo.letterContentControls.find(c => c.id === control.id && c.isSplitFromDefault === false)
						if (applyToSource != null && applyToSource != undefined) {
							applyToSource = otherMemo.sourceItemTargets.find(x => x.id == applyToSource.id);
							otherMemoControl = applyToSource.letterContentControls.find(c => c.id === control.id && c.isSplitFromDefault === false)
						}

						otherMemoControl.content = control.content // so all have same value
						let payload = { memo: otherMemo, control: otherMemoControl, jur: finalJurSelection, vm: self, source: applyToSource };
						self.splitQuestion(payload);

						if (applyToSource != null && applyToSource != undefined) {
							self.adjustDefaultQuestionApplicableJurs(applyToSource, otherMemoControl);
						}
						else {
							self.adjustDefaultQuestionApplicableJurs(otherMemo, otherMemoControl);
						}
					});
				}
			},
			modify: function () {
				let self = this;
				let oldJurSelection = this.control.applicableJurisdictions;
				if (this.jurSelection.length === 0) { // Delete
					let payload = { memo: this.memo, control: this.control, source: this.source };
					this.deleteSplitQuestion(payload);
					this.adjustDefaultQuestionApplicableJurs(this.sourceItem, this.control);

					//same question other memos
					this.deleteOtherMemos(this.control, oldJurSelection)

					//child controls
					if (this.applyChildControls !== undefined) {
						this.applyChildControls.forEach(function (control) {
							let payload = { memo: self.memo, control: control, source: self.source };
							self.deleteSplitQuestion(payload);
							self.adjustDefaultQuestionApplicableJurs(self.sourceItem, control);

							//same question other memos
							self.deleteOtherMemos(control, oldJurSelection);
						})
					}
				}
				else { // Modify
					let finalJurSelection = this.checkIfJurSplitExists(this.jurSelection, this.sourceItem);
					let payload = { memo: this.memo, control: this.control, jur: finalJurSelection, vm: this, source: this.source };
					if (finalJurSelection.length > 0) {
						this.modifySplitQuestion(payload);
						this.adjustDefaultQuestionApplicableJurs(this.sourceItem, this.control);
						//same question other memos
						this.modifyOtherMemos(this.control, finalJurSelection, oldJurSelection);

						//child controls
						if (this.applyChildControls !== undefined) {
							this.applyChildControls.forEach(function (control) {
								let payload = { memo: self.memo, control: control, jur: finalJurSelection, vm: this, source: self.source };
								self.modifySplitQuestion(payload);
								self.adjustDefaultQuestionApplicableJurs(self.sourceItem, control);
								//same question other memos
								self.modifyOtherMemos(control, finalJurSelection, oldJurSelection);
							})
						}
					}
				}
				this.$emit('reSetShowSplit', false);
				$(this.$refs.SplitSelection).modal('hide');
			},
			deleteOtherMemos: function (control, oldJurSelection) {
				let self = this;
				if (this.applyOtherMemos !== undefined) {
					let applyToSource = self.source;
					this.applyOtherMemos.forEach(function (otherMemo) {
						let otherMemoControl = otherMemo.letterContentControls.find(c => c.id === control.id && c.isSplitFromDefault === true && c.splitGroupApplicable.some(x => oldJurSelection.includes(x)))
						if (applyToSource != null && applyToSource != undefined) { // if source
							applyToSource = otherMemo.sourceItemTargets.find(x => x.id == applyToSource.id);
							otherMemoControl = applyToSource.letterContentControls.find(c => c.id === control.id && c.isSplitFromDefault === true && c.splitGroupApplicable.some(x => oldJurSelection.includes(x)))
						}

						if (otherMemoControl !== undefined) {
							let payload = { memo: otherMemo, control: otherMemoControl, source: applyToSource };
							self.deleteSplitQuestion(payload);
							if (applyToSource != null && applyToSource != undefined) { // if source
								self.adjustDefaultQuestionApplicableJurs(applyToSource, otherMemoControl);
							} else {
								self.adjustDefaultQuestionApplicableJurs(otherMemo, otherMemoControl);
							}

						}
					});
				}
			},
			modifyOtherMemos: function (control, finalJurSelection, oldJurSelection) {
				let self = this;
				if (this.applyOtherMemos !== undefined) {
					let applyToSource = self.source;
					this.applyOtherMemos.forEach(function (otherMemo) {

						let otherMemoControl = otherMemo.letterContentControls.find(c => c.id === control.id && c.isSplitFromDefault === true && c.splitGroupApplicable.some(x => oldJurSelection.includes(x)));
						if (applyToSource != null && applyToSource != undefined) { // if source
							applyToSource = otherMemo.sourceItemTargets.find(x => x.id === applyToSource.id);
							otherMemoControl = applyToSource.letterContentControls.find(c => c.id === control.id && c.isSplitFromDefault === true && c.splitGroupApplicable.some(x => oldJurSelection.includes(x)));
						}

						if (otherMemoControl !== undefined) {
							otherMemoControl.content = control.content; // so all have same value
							let payload = { memo: otherMemo, control: otherMemoControl, jur: finalJurSelection, vm: self, source: applyToSource };
							self.modifySplitQuestion(payload);
							if (isNotNull(applyToSource)) {
								self.adjustDefaultQuestionApplicableJurs(applyToSource, otherMemoControl);
							}
							else {
								self.adjustDefaultQuestionApplicableJurs(otherMemo, otherMemoControl);
							}
						}
						else {
							//check for adding new
							let existsMemoControl = otherMemo.letterContentControls.find(c => c.id === control.id && c.isSplitFromDefault === true && c.splitGroupApplicable.some(x => finalJurSelection.includes(x)));
							if (isNotNull(applyToSource)) { // if source
								existsMemoControl = applyToSource.letterContentControls.find(c => c.id === control.id && c.isSplitFromDefault === true && c.splitGroupApplicable.some(x => finalJurSelection.includes(x)));
							}
							if (!existsMemoControl) {
								otherMemoControl = otherMemo.letterContentControls.find(c => c.id === control.id && c.isSplitFromDefault === false);
								if (isNotNull(applyToSource)) { // if source
									otherMemoControl = applyToSource.letterContentControls.find(c => c.id === control.id && c.isSplitFromDefault === false);
								}

								otherMemoControl.content = control.content // so all have same value
								let payload = { memo: otherMemo, control: otherMemoControl, jur: finalJurSelection, vm: self, source: applyToSource };
								self.splitQuestion(payload);
								if (isNotNull(applyToSource)) {
									self.adjustDefaultQuestionApplicableJurs(applyToSource, otherMemoControl);
								}
								else {
									self.adjustDefaultQuestionApplicableJurs(otherMemo, otherMemoControl);
								}
							}
						}
					});
				}
			},
			removeSelection: function () {
				$("#JurisdictionsSel" + this.control.localId).val(null).trigger("change");
			},
			...letterActions([
				'modifySplitQuestion',
				'splitQuestion',
				'deleteSplitQuestion'
			]),
		},
		created: function () {

		},
		mounted: function () {
			const refThis = this;
			$(this.$refs.SplitSelection).on('hidden.bs.modal', function (e) {
				refThis.$emit('reSetShowSplit', false);
			});
		},
		watch: {
			showSplitSelection: function (val, oldVal) {
				if (val) {
					$(this.$refs.SplitSelection).modal('show');
					if (this.allowModify) {
						if (this.applyOtherMemos !== undefined) {
							if (this.applyOtherMemos.length > 0) {
								this.jurSelection = this.control.splitGroupApplicable;
							}
							else {
								this.jurSelection = this.control.applicableJurisdictions;
							}
						}
						else {
							this.jurSelection = this.control.applicableJurisdictions;
						}

					}
					else {
						this.jurSelection = [];
					}
				}
				else {
					this.$emit('reSetShowSplit', false);
					$(this.$refs.SplitSelection).modal('hide');
				}
			}
		}
	}

</script>