﻿<template>
	<div>
		<div v-for="(jurisdiction,j) in getJurisdictions">
			<div class="panel panel-default">
				<div :class="['letter-generation__panel__heading']">
					<div :class="['letter-generation__panel__heading__title', 'clickable']"
						 data-toggle="collapse"
						 :href="'#Standards' + jurisdiction.value">
						Technical Standards (<i>Applies to </i><span> {{jurisdiction.text}}</span>)
						<span class="pull-right">(<i> selected: {{ getSelectedCount(parseInt(jurisdiction.value)) }} </i>)&nbsp;&nbsp;&nbsp;</span>
					</div>
				</div>
				<div class="panel-body collapse " :id="'Standards' + jurisdiction.value">
					<table class="table-condensed">
						<thead>
							<tr>
								<th>Technical Standard Name</th>
								<th><input type="checkbox" :id="'checkAll' + parseInt(jurisdiction.value)" @click="makeAllSelection(parseInt(jurisdiction.value))" /></th>
							</tr>
						</thead>
						<tbody>
							<tr :class="['letter-generation__hover-emphasis']" v-for="(standard,i) in getJurAvailableStandards(parseInt(jurisdiction.value))" :key="i">
								<td scope="row">{{ standard.name }}</td>
								<td><input type="checkbox" v-model="standard.selected" @change="setTechnicalStandard(parseInt(jurisdiction.value))" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import Vue from 'vue';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: sourceGetters, mapActions: sourceActions } = createNamespacedHelpers('letterGenSources');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	export default {
		name: 'TechnicalStandard',
		components: {

		},
		props: {
			label: {
				type: String
			},
			memo: {
				type: Object
			},
		},
		data() {
			return {

			};
		},
		computed: {
			getJurisdictions: function () {
				let self = this;
				let displayJurisdictions = this.letterPreviewJurisdictions;
				if (this.memo.applicableJurisdictions.length > 0) {
					let allAvailable = [];
					displayJurisdictions.forEach(function (obj) {
						if (self.memo.applicableJurisdictions.includes(parseInt(obj.value))) {
							allAvailable.push(obj);
						}
					});
					displayJurisdictions = allAvailable;
				}
				if (this.workspaceJurisdictions.length > 0) {
					let allAvailable = [];
					displayJurisdictions.forEach(function (obj) {
						if (self.workspaceJurisdictions.includes(obj.value)) {
							allAvailable.push(obj);
						}
					});
					displayJurisdictions = allAvailable;
				}
				return displayJurisdictions;
			},
			...mapGetters([
				'letterPreviewJurisdiction',
				'letterPreviewJurisdictions',
				'workspaceJurisdictions'
			]),
			...sourceGetters([
				'jurisdictionLetterDetails',
				'jurisdictionsLetterDetails',
				'workspaceJurisdictionLetterDetails'
			])
		},
		methods: {
			getSelectedCount: function (jurId) {
				let jurDetail = this.jurisdictionLetterDetails(jurId)
				return (jurDetail.availTechnicalStandards.filter(x => x.selected).length)
			},
			getJurAvailableStandards: function (jurId) {
				let jurDetail = this.jurisdictionLetterDetails(jurId)
				return jurDetail.availTechnicalStandards
			},
			makeAllSelection: function (jurId) {
				let jurDetail = this.jurisdictionLetterDetails(jurId)
				let selJurAvailTechnicalStandards = jurDetail.availTechnicalStandards
				if ($('#checkAll' + jurId).prop("checked") == true) {
					for (var i = 0; i < selJurAvailTechnicalStandards.length; i++) {
						selJurAvailTechnicalStandards[i].selected = true
					}
				}
				else {
					for (var i = 0; i < selJurAvailTechnicalStandards.length; i++) {
						selJurAvailTechnicalStandards[i].selected = false
					}
				}
				this.setTechnicalStandard(jurId)
			},
			setTechnicalStandard: function (jurId) {
				let jurDetail = this.jurisdictionLetterDetails(jurId)
				let selJurAvailTechnicalStandards = jurDetail.availTechnicalStandards
				var allSelected = ''
				selJurAvailTechnicalStandards.forEach(function (obj) {
					if (obj.selected) {
						allSelected = allSelected + "<br>" + obj.name
					}
				})
				jurDetail.technicalStandards = allSelected
			},
		},
		mounted: function () {
		},
		watch: {

		},
		created: function () {
		}

	}


</script>

<style scoped>
</style>
