﻿<template>
	<div class="letter-generation__quick-nav__wrapper letter-generation__quick-nav">
		<ul v-for="item in quickNavSectionObjs">
			<WorkSpaceQuickNavItem :quickNavSectionObj="item" />
		</ul>
	</div>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	import WorkSpaceQuickNavItem from '@/components/documents/generate/LetterQuestions/WorkSpaceQuickNavItem.vue';

	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	export default {
		components: {
			WorkSpaceQuickNavItem
		},
		props: ['quickNavSectionObjs'],
		computed: {
			...letterGetters([
			]),
		},
		methods: {
		}
	}
</script>
<style scoped>
	.letter-generation__quick-nav__container {
		display: flex;
	}

	.letter-generation__quick-nav__wrapper {
		height: 100%;
		width: 40px;
		float: left;
		position: sticky;
	}

	.letter-generation__quick-nav__content {
		height: 100%;
		width: calc(100% - 40px);
		float: right;
		position: relative;
	}
</style>
