﻿<template>
	<li>
		<span :title=quickNavSectionObj.title
			  @click="handle__scrollInterface()"
			  :class="['letter-generation__tooltip', 'grow']">
			<i :class="['fa', quickNavSectionObj.fontAwesomeIcon, 'fa-2x']"></i>
		</span>
	</li>
</template>
<script>
	import { createNamespacedHelpers } from 'vuex';
	const { mapGetters, mapActions } = createNamespacedHelpers('generateLetter');
	const { mapGetters: letterGetters, mapActions: letterActions } = createNamespacedHelpers('letter');

	export default {
		components: {

		},
		props: ['quickNavSectionObj'],
		computed: {
			...letterGetters([
				'sections'
			]),
		},
		methods: {
			...mapActions([
				'setSelectedMemo',
			]),
			handle__scrollInterface: function () {
				this.scrollWorkSpaceSectionIntoView();
				this.scrollPreviewIntoView();
			},
			scrollWorkSpaceSectionIntoView: function () {
				const targetElement = document.getElementById(this.quickNavSectionObj.targetID);
				if (targetElement !== null) {
					targetElement.scrollIntoView({ behavior: "instant", block: "start", inline: "start" });
				}
			},
			scrollPreviewIntoView: function () {
				let targetSection = this.sections.find(x => x.name === this.quickNavSectionObj.title);
				let targetMemo = targetSection.memos[0];
				this.setSelectedMemo(targetMemo);
			},
		}
	}
</script>