﻿<template>
	<div>
		<div
			v-if="fieldValidation.$error && !fieldValidation.uniqueLabels"
			class="alert alert-danger"
			role="alert">
			Options cannot share the same value.
		</div>
		<div
			v-if="fieldValidation.$error && !fieldValidation.required"
			class="alert alert-danger"
			role="alert">
			You must have at least one option.
		</div>
		<glide-grid
			class="gli-option-editor"
			:columns="columns"
			:rows="rows">
			<template v-slot:Label="glide">
				<base-input
					:field-validation="fieldValidation.$each[glide.index].text"
					:key-action="glide.keyAction"
					v-model="rows[glide.index].text">
					<template v-slot:errors="field">
						<p 
							v-if="field.v.$error && !field.v.required">
							Each option requires a label.
						</p>
					</template>
				</base-input>
			</template>
			<template v-slot:Value="glide">
				<base-input
					:field-validation="fieldValidation.$each[glide.index].value"
					:key-action="glide.keyAction"
					v-model="rows[glide.index].value">
					<template v-slot:errors="field">
						<p 
							v-if="field.v.$error && !field.v.required">
							Each option requires a value.
						</p>
					</template>
				</base-input>
			</template>
			<template v-slot:Actions="glide">				
				<base-button :onclick="() => killItem(glide.index)">
					Delete
				</base-button>
			</template>
		</glide-grid>
		<base-button :onclick="addItem">
			Add New Option
		</base-button> 
	</div>
</template>

<script>
import GlideGrid from "@/components/utility/GlideGrid.vue";

export default {
	components: {
		GlideGrid
	},
	props: {
		fieldValidation: {
			type: Object,
			required: true
		},
		value: {
			type: Array,
			required: false,
			default: () => []
		}
	},
	data: function () {
		const columns = [
			{
				label: "Label",
				field: "text",
				style: {
					width: "49%"
				}
			},
			{
				label: "Value",
				field: "value",
				style: {
					width: "49%"
				}
			},
			{
				slot: "Actions",
				field: null,
				style: {
					width: "2%",
					textAlign: "right"
				}
			}
		];
		return {
			columns,
			rows: this.value || []
		};
	},
	methods: {
		addItem: function () {
			this.rows.push({
				text: null,
				value: null
			});
			this.$emit("input", this.rows);
		},
		killItem: function (index) {
			this.rows.splice(index, 1);	
			this.$emit("input", this.rows);
		},
	}
};
</script>

<style lang="scss" scoped>

	@use "@/components/theme/Spacing";

	table {
		margin-bottom: Spacing.$full;
		width: 100%;
	}

</style>
