﻿@model Submissions.Web.Areas.Lookups.Models.AcumaticaTenantsEditViewModel

@{
	ViewBag.Title = Model.Mode.ToString() + " Acumatica Tenant";
}

@using (Html.BeginForm("Edit", "AcumaticaTenants", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Mode)
	<div class="row row-title">
		<div class="col-sm-6">
			<h3 class="form-h3">@ViewBag.Title <small>@Html.DisplayFor(m => m.Name)</small></h3>
		</div>
		<div class="col-sm-6 form-buttons">
			<button type="button" id="Save" class="btn btn-primary">Save</button>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-horizontal">
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
					<div class="col-sm-3">
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
						@Html.ValidationMessageFor(m => m.Name)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.GLICompanyID, new { @class = "col-sm-2 control-label" })
					<div class="col-sm-3">
						@Html.LookupFor(m => m.GLICompanyID, m => m.GLICompanyCode, LookupAjax.Companies, true)
					</div>
				</div>
				<div class="form-group form-group-sm">
					@Html.LabelFor(m => m.IsTestTenant, new { @class = "col-sm-2 control-label" })
					<div class="col-sm-3">
						<div class="checkbox">
							<label>@Html.CheckBoxFor(m => m.IsTestTenant)</label>
						</div>
						@Html.ValidationMessageFor(m => m.IsTestTenant)
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scripts{
	@Scripts.Render("~/bundles/script/knockout")
	<script>
		$('#Save').on('click', function () {
			bootbox.confirm("Save Changes ?", function (confirmed) {
				if (confirmed) {
					$('#LookupForm').submit();
				}
			})
			
		});
	</script>
}
