﻿@model Submissions.Web.Areas.Lookups.Models.AcumaticaTenantsIndexViewModel

@section css{@Styles.Render("~/bundles/css/jqgrid")}

@{
	ViewBag.Title = "Acumatica Tenants";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LookupForm" }))
{
	@Html.Hidden("Id")
	@Html.Hidden("Mode")
}

<div class="row row-title">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		@Html.ActionLink("Add", "Edit", null, new { mode = "Add" }, new { @class = "btn btn-primary btn-sm", id = "AddBtn" })
	</div>
</div>

@Html.Trirand().JQGrid(Model.AcumaticaTenantsGridModel.Grid, Model.AcumaticaTenantsGridModel.Grid.ID)

@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script>
		var grid = $('#AcumaticaTenantsGrid');

		function editLink(cellValue, options, rowObject) {
			return '<a href="' + '@Url.Action("Edit", "AcumaticaTenants")' + '/' + options.rowId + '?mode=Edit">Edit</a> <span class="text-normal">';
		}
	</script>
}