﻿@model Submissions.Web.Areas.Evolution.Models.QANotesIndexViewModel
@using Trirand.Web.Mvc
@using System.Web.Optimization

@section css{
	@Styles.Render("~/bundles/css/jqgrid")
	<style>

		#QANotesGrid tr, #QANotesGrid td {
			white-space: normal;
			height: auto;
			vertical-align: middle;
			padding-top: 2px;
			font-family: "Lucida Console", Monaco, monospace;

		/*Border*/
			 border: 1px solid grey;
		}

		#QANotesGrid tr:nth-child(even) td {
			background-color: #CAC9C9; 
		}

		/*Autocomplete dropdown list*/
		.autocomplete-dropdown-li-odd {
			background-color: #d0e7f0; 
		}

		.autocomplete-dropdown-li-even {
			/*background-color: #d8d8d8;*/
			background-color: #C1C2C2;
		}

		.ui-autocomplete{
			width: auto;
		}

		.ui-autocomplete li:after{
			content: '\A';
			white-space: pre;
		}

		.ui-state-hover, 
		.ui-state-focus {
			background-color: #a4a4a4; 
		}

		.ui-autocomplete {
			border: 1px solid black;
		}

	</style>
}

@{
	ViewBag.Title = "QA Notes";
	ViewBag.FullWidth = true;
}

@using (Html.BeginForm("Export", "QANotes", FormMethod.Post, new { id = "ExportForm" }))
{
	<input type="hidden" id="ExportType" name="ExportType" />
	@Html.Hidden("Filters")
}

<div class="row">
	<div class="col-sm-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-sm-6 form-buttons">
		<div class="dropdown" style="display:inline;">
			<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Export <span class="caret"></span></button>
			<ul id="ExportMenu" class="dropdown-menu dropdown-menu-right">
				<li><a href="@Model.ExportUrl" data-exporttype="csv"><img src="@Url.Content("~/img/filetree/file.png")" title="CSV" /> CSV</a></li>
				<li><a href="@Model.ExportUrl" data-exporttype="xls"><img src="@Url.Content("~/img/filetree/xls.png")" title="Excel" /> Excel</a></li>
				<li><a href="@Model.ExportUrl" data-exporttype="pdf"><img src="@Url.Content("~/img/pdf.png")" title="PDF" /> PDF</a></li>
			</ul>
		</div>
		@Html.ActionLink("Close", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
	</div>
</div>

@Html.Trirand().JQGrid(Model.QANotesGridModel.Grid, "QANotesGrid")

@{Html.RenderPartial("GridsAutoComplete/_QANotes");}


@section scripts{
	@Scripts.Render("~/bundles/script/jqgrid")
	<script src="~/Scripts/AlternatingBackgroundAutoComplete.js"></script>
	<script>
		var grid = $('#QANotesGrid');

		// export
		$('#ExportMenu a').on('click', function (e) {
			e.preventDefault();
			var postdata = $("#QANotesGrid").jqGrid('getGridParam', 'postData');
			$("#Filters").val(JSON.stringify(postdata));
			$('#ExportType').val($(this).data('exporttype'));
			$('#ExportForm').attr('action', $(this).attr('href'));
			$('#ExportForm').submit();
		});

		function gridAfterAjaxRequest() {
		};
	</script>
}