﻿@model Submissions.Web.Areas.GPSDocuments.Models.MoveFileToGPSViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        hello
    </div>
</body>
</html>
